[2020-05-01 01:37] shelper commented on #6899
So more test here.
1. on my windows system, after i set verify_ssl to false in remote.json file, then no error happens,
but in my windows sandbox system, no error even with verify_ssl = true.
2. I found people saying this may due to my shell is using TLS1.0, while conan-center uses TLS1.2, so i did confirm conan-center uses TLS1.2, then on my windows system, i modified the TLS version by the [Syst

[2020-05-01 02:33] shelper commented on #6899
hum... i tried on another computer with windows 10 and everything is fine.
Now it seems to me there  must be some settings in windows messed up....

[2020-05-01 14:59] solvingj commented on #6823
There is currently planning around features related to sources, including for debugging purposes.  I will gather tickets and link them here.

[2020-05-01 15:01] shelper commented on #6899
I am gonna close this one as it turned out to be my company's firewall causing this issue.

[2020-05-01 15:01] #6899 closed, assigned to nobody

[2020-05-01 15:22] solvingj opened #6943 "[feature] Support exports() and exports_sources() as methods"
All dependency properties of a package (requires/requirements) support being declared as attributes and/or methods. This provides flexibility to authors which is absolutely necessary in many cases.  Similarly, it would provide very valuable flexibility if the same were true for `exports` and `exports_sources` attributes.

One prime example of how this could be valuable is for out-of-source recipes

[2020-05-01 16:09] solvingj opened #6944 "[feature] Provide more capabilities for managing sources"
This ticket is intended to aggregate feedback from numerous other tickets related to adding features around managing source files in packages.

Summarized Related Issues
- Enable source caching with out-of-source recipes : https://github.com/conan-io/conan/issues/6943 https://github.com/conan-io/conan/issues/6876
- Make sources available for downstream debugging : https://github.com/conan-io/conan

[2020-05-01 17:59] memsharded commented on #6876
Hi @prince-chrismc

I have had a look to the diff, and I have some feedback:

- It is important NOT to do changes to the conanfile.py recipe. We did this once (for the scm feature) and it was a lot of pain. We have introduced a new way to capture the scm data into the ``conandata.yml`` file instead. Please do not modify the recipe.
- There shouldn't be an argument ``--offline``. The functionality

[2020-05-01 18:04] memsharded commented on #6899
Hi @shelper

Happy to hear that you identified the issue :)

From our experience, this kind of error, most times it is some corporate VPN, proxy or similar tool, controlling accesses in some way. ConanCenter gets millions of downloads per month, it might eventually have some service issue, but that we get aware relatively quickly.

Thanks very much for keeping the efforts and following up, reporti

[2020-05-01 18:15] solvingj commented on #6876
Hi @prince-chrismc I started looking into this a few days ago and I reviewed your implementation.  After speaking with Conan team, it seemed that adding a new function was being considered as an option, so that obviously led me to a very different implementation from what you had.  Thanks very much for exploring the approach that you did.  It was very resourceful. As @memsharded said, some of the

[2020-05-01 20:33] memsharded commented on #6942
Hi @fulara

Quick question, do you have enabled ``full_transitive_package_id`` in your conan.conf configuration?

[2020-05-01 20:47] memsharded commented on #6942
Also adding these two lines might help isolating the origin of the bug:

[code]

[2020-05-01 22:59] prince-chrismc commented on #6876
Thank you very much for taking the time to answer.

I am glad I broke so many rules. :rofl: I have been trying to figure out a quick solution for my team to use. Which is manually editing the recipes and keeping those in a local repo. Playing in the source also helps with writing recipes for CCI, very worth while.

I certainly learnt a lot (considering how tiny this one section is) hopefully I wil

[2020-05-02 03:19] solvingj commented on #6876
if you are not in slack already, i suggest joining. it's a good place to ask a lot of fundamental questions when you're trying to bootstrap your knowledge about a tool and engineer a real-world solution with it at the same time.  https://cpplang.now.sh  #conan  channel

[2020-05-02 08:58] fulara commented on #6942
@memsharded  unless I made mistake ( I dont think I have ) this assert didnt trigger.
yes, of course i am using `full_transitive_package_id` after all it wouldnt be fair if i hadnt? :)
https://github.com/fulara/conan/tree/package_revision_mode

EDIT:
i added one more silly print:
[code]
the result i got just before failing is:
[code]
So its some member variable of RequirementInfo thats null.

[2020-05-02 10:48] Knitschi commented on #6801
Sorry for the late response

I removed my ~/.conan/data directory to force conan to re-download source package. Then I used `conan install ... --build=*` to force a re-build of all packages that the qt package requires.
The conan output then contained output like `Downloading bzip2-1.0.8.tar.gz completed [791.04k]` for other packages before conan runs into the trouble with the pcre package. So dow

[2020-05-02 11:29] fulara commented on #6942
@memsharded  looking at the stacktrace I think its because one of the 'boost' is depended on with package_recipe_mode and the other one is full_package_mode ( which is valid scenario ) and you are missing a none check somewhere where comparing the pprev or rrev.

[2020-05-02 14:34] jprochazk opened #6946 "[question] cannot open file 'wsock32 .lib'"
I'm trying to use conan to handle dependencies and premake5 to generate vs2019 project files.

The problem is that my project fails to link with 'wsock32.lib'. This is a windows system library, so there should be no problem in finding it.

Upon closer inspection, the error message shows that the library file name has whitespace where there should be none:
[code]
the name is 'wsock32 .lib' instead

[2020-05-02 17:22] madebr commented on #6946
@jprochazk
The reason is a typo in the `libpqxx` recipe

https://github.com/conan-io/conan-center-index/blob/da4c194576212941e63c8de3a81fa07eb02855e1/recipes/libpqxx/all/conanfile.py#L92

[2020-05-02 17:46] memsharded commented on #6946
Thanks @madebr for checking this!

I am transferring this issue to conan-center-index, because it is more a bug in a recipe that a failure of the Conan client itself. Thanks for reporting @jprochazk

[2020-05-02 18:29] memsharded commented on #6942
Well, I wouldn't blame you, sometimes it takes some time to migrate things :)

I don't think the mode is involved here, because the key should be always the ``PackageReference``, the full one. It is more like some of those keys of type PackageReference (which is a namedtuple) contains a None in one of their fields. If you could print instead:

[code]
That should give us all the fields and we could

[2020-05-02 21:28] fulara commented on #6942
here you go:
code is:
[code]
[code]

[2020-05-03 11:54] memsharded commented on #6942
Ok, I start to see where it comes from. Working on a fix.

Trying to reproduce with a test first. I guess you are using ``private`` dependencies somewhere in the graph, aren't you?

[2020-05-03 12:17] fulara commented on #6942
Nope @memsharded  we dont use that kind of magic.

[2020-05-03 12:26] fulara commented on #6942
to expand on what we are using @memsharded:
We rarely rely on package_mode_id from conan.conf.
For most of our dependencies we use our python_package that provides a package_mode for all of its dependencies.
That python_package is not loaded for dependencies that are not 'ours' ( so either are coming from conan-center-index or are coming from different teams within company )

thats why as you can

[2020-05-03 12:59] memsharded commented on #6942
I have submitted PR https://github.com/conan-io/conan/pull/6947 to fix it, in case you want to test it against your project, that would be useful.

The 1.25 was closed but not branched yet, lets see if it is possible to put this into it.

[2020-05-03 13:06] fulara commented on #6942
@memsharded  called it! :)
I will test it within next ~2-3h

[2020-05-03 14:42] fulara commented on #6942
@memsharded got further down the pipe now.
but still failing:
[code]
:)

[2020-05-03 20:11] shelper opened #6948 "[bug] Link error on windows with any package installed by Conan"
### Environment Details (include every applicable attribute)
  * Operating System+version: windows 10
  * Compiler+version: visual studio Professional 2019 amd64_x86
  * Conan version: 1.24.1
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)
Using the default profile:
[code]
have a very simple project using gtest.
so i install gtest by : conan install .. -b
and use cmake to b

[2020-05-03 22:03] memsharded commented on #6942
Submitted a new fix in https://github.com/conan-io/conan/pull/6947, I think now your bug might be solved, please check if possible.

[2020-05-03 22:06] memsharded commented on #6948
Hi @shelper

Are you using pure Visual Studio, with the ``visual_studio`` generator?
It seems that the configuration of your Visual is not matching the one you are using to install your dependencies. For example you are installing with the default configuration (Release), but Visual Studio is building with Debug. And is it possible that you are building for x86, while your Conan architecture is ``

[2020-05-03 22:46] fulara commented on #6942
Unless I am wrong, this changes the behavior of how `def package_id` works.
The lib itself is now present on its '.requires' entries.

such as:
conanfile.py:
[code]
My build now crashes because my python_requires is complaining, thats by sheer luck really.
Is my understanding of my error correct now -> can you check & confirm this behavior?

Sorry, not able to do that test anytime soon, the earlie

[2020-05-03 23:04] fulara commented on #6942
This changes the behavior of how `def package_id` works.
The lib itself is now present on its '.requires' entries.  but only when it has any dependencies.
I consider this breaking behavior and probably not correct.

such as:
consider 2 conanfiles:
[code]
conan create of `bla` will not print out any errors.
conan create of `bla2` will print 2 errors `bla` and `bla2`.

My build now crashes because m

[2020-05-04 00:09] shelper commented on #6948
you are right, i am using debug for building my project but release for installing conan packages.

This is different from linux or other platforms, in linux it is fine for you to install release version packages and link to them with your debug version project

I think it would be nice if this can be noted (and probably explained) in conan's documentation.

I am closing this one, thanks!

[2020-05-04 00:09] #6948 closed, assigned to nobody

[2020-05-04 04:32] Cscotttaakan opened #6949 "[question] Remove source and build folder without triggering --build missing"
I'm trying to remove the source and build folder for a conan package to reduce a docker image size. Removing the contents of the folders causes them to be rebuilt when calling `--build missing`. What required conan specific cache files are needed prevent a `build` command from being called?

Is it having the same hash in `build/$HASH`?

[2020-05-04 09:08] memsharded commented on #6949
Hi @Cscotttaakan

Not sure what you mean. As long as the binary package is there, you don't need them, and ``--build missing`` shouldn't be doing anything. So it is possible to ``conan remove * -s -b`` without firing rebuilds later.

Can you please elaborate, and provide some example recipe, with the necessary steps to reproduce this?

[2020-05-04 09:27] jakobjw opened #6950 ""conan config install" with git URL fails if storage path is not set"
### Environment Details
  * Operating System+version: Windows 10
  * Conan version: 1.24.1 (did not occur in e.g. 1.11.2)
  * Python version: 3.6.5

### Steps to reproduce
* Remove storage path entry in conan.conf
* Run: "conan config install <conan_config_git_repo_url>"

### Logs
[code]

[2020-05-04 09:31] memsharded commented on #6950
Hi @jakobjw

Lets have a look at this. Quick question, why are you removing the storage_path?

[2020-05-04 09:38] jakobjw commented on #6950
Hi @memsharded

We have a script which automatically updates the Conan configuration to have a "fresh environment". Since we sometimes had trouble with the old settings or a "corrupted" old Conan storage, we run:
* conan config rm general
* conan config rm storage

before
* conan config install ...

[2020-05-04 11:58] memsharded commented on #6942
Reverting that last change in https://github.com/conan-io/conan/pull/6947, to try at least to get the first fix in 1.25, and for the second one, it will require more work, so that will come later.

[2020-05-04 13:20] fulara commented on #6942
@memsharded  sorry got slightly confused here.
So it will be present on the self.info.requires right?

If thats the case it unfortunatelly blocks my migration to 1.25.0 - as my build crashes - because of the assumption the script makes.

Can i get an ETA when it would be fixed - is that 1.26.0 ?

[2020-05-04 14:30] memsharded commented on #6942
Yes, they should be available there.

I am reopening this for 1.26, if possible to fix it for an earlier 1.25.1, I will try to do it.

[2020-05-04 14:46] memsharded commented on #6950
Thanks! I have been able to reproduce. I have checked if a fix is easy, but seems a bit complex. We might need to wait until 2.0, because right now there is an ugly fallback that returns the cache folder if the storage folder is not defined, and that is causing the error, but it is likely that if we try to remove that, it will be breaking for other users.

As overwriting the storage path variable

[2020-05-04 19:13] shelper opened #6953 "[question] The relationship between Conan configuration and setting files"
Based on the documentation, i am aware that conan has the following files that affects its settings or configurations:
- settings.yml
- conan.conf
- profile/profile_files
Also `conanfile.py` can also modify what is defined in the above files.
e.g.:
I can have `conanfile.py` to check `self.settings.compiler.libcxx` to see which lib is used. But i cannot have the value modified.
I can have `conanfil

[2020-05-04 21:34] Cscotttaakan commented on #6949
This is what I was looking for thanks. I was manually removing the build and source folders.

[2020-05-04 21:34] #6949 closed, assigned to memsharded

[2020-05-05 07:49] meggamind commented on #6905
I would like to pick this up

[2020-05-05 08:06] jgsogo commented on #6905
Sure! Waiting for your PR then 👍

if you need help with the implementation, or to write tests, don't hesitate to ask.

Thanks!

[2020-05-05 08:15] memsharded commented on #6953
- settings.yml is the definition of what is possible. What settings exists and what values can they take.
- conanfile.py defines in its ``settings`` which of those settings will be used in the recipe
- profiles are almost equivalent to some command line arguments, and they are a set of specific values for the settings.yml. If they use values not defined in ``settings.yml`` that will raise a valida

[2020-05-05 08:34] Marcin-Radecki opened #6954 "[bug] conan profile new --detect does not return error exit code when compiler was not found"
Hi, I've observed that  `conan profile new --detect` does return 0 exit code in case it was unable to detect a compiler. I'd expect that command to fail in this scenario.

### Environment Details (include every applicable attribute)
  * Operating System+version: rh7
  * Compiler+version: any GCC version
  * Conan version: 1.24.0
  * Python version: 3.7.4, (also reproducible on 2.7.8)

### Steps to

[2020-05-05 08:42] memsharded commented on #6954
Hi @Marcin-Radecki

I would say this is not a bug, but designed to do that. The thing is that this is a detection mechanism for the whole profile: OS, architecture, and yes, compiler. But not only compiler. It is possible to have default profiles that do not have a compiler (for example only os and arch, to install just executable packages without compiler setting). So we considered that not detec

[2020-05-05 10:55] DukeOfKirkcaldy opened #6956 "[feature] (scm_to_conandata) support parallel building of different build configurations"
In my CI job want to build multiple configurations (different compilers) of the same commit in parallel.

I'm getting issues when conan [stores the scm revision in conandata.yml](https://github.com/conan-io/conan/blob/ddf9cca9ea45879986adec8b0308a0519226bbac/conans/client/cmd/export.py#L283).  It detects that the reserved `.conan` field is already filled by one of the parallel builds and raises an

[2020-05-05 11:10] memsharded commented on #6950
This is the test to reproduce:

[code]

I have checked the code twice, and it is almost impossible to fix this without breaking other users (it would need to introduce yet another opt-in in the conan.conf first).

So as there is a solution (do not remove the storage path, it will be overwritten), I am planning this to be fixed in next major 2.0, when we can break.

[2020-05-05 11:39] memsharded commented on #6926
To summarize the fix:

- Check only the major.minor (always drop the patch). It will be simpler to check. If users are adding the patch version, they know what they are doing already
- Add CONAN_DISABLE_CHECK_COMPILER env-var explanation to the error message

[2020-05-05 11:48] memsharded commented on #6664
For next iteration of this feature I would like to have an opt-in Conan 2.0 command line:

- Use a new env-var to switch to the new CLI 2.0
- Use good package naming and put everything there: ``import ui.cli`` (just an idea)
- It can be just the scaffolding, and contain just 1 method (the search recipes one), that still does nothing.
- I am ok to explore if there could be simplifications to the co

[2020-05-05 11:50] kobalicek commented on #6926
Thanks't a lot, I think this is definitely sufficient!

[2020-05-05 11:56] frank-swp opened #6958 "[bug] Git.excluded_files does not return all excluded files if the repository contains a git submodule"
I tried to ignore .vs/ directories with .gitignore because conan had trouble to copy them because they where already opened in Visual Studio.
But conan did not care about some ignored files. The problem is the implementation of Git.excluded_files which which also reports the git error "fatal: Pathspec 'testrepo1/.git' is in submodule 'testrepo1'" as a ignored file (see my error log). All possible

[2020-05-05 13:09] shelper commented on #6953
This is very helpful, meanwhile, how about `conan.conf` file?

[2020-05-05 14:14] memsharded commented on #6953
conan.conf is a "global/general" configuration of the client tool. For example where the packages are stored, if the client is using revisions or not, the number of CPUs available for parallel operations if possible, if the downloads do retries in case of failures, etc.

- conan.conf: configuration of the tool
- settings.yml: definition of spaces of all possible configuration/variants of package b

[2020-05-05 14:56] memsharded commented on #6864
Hi @DmitrySokolov

I have been having a look at your issue and checking your code. I would say that your flow

Is not ok in the general case. To be able to export-pkg testB, you need to have its dependencies already. If testB->testA, in order to build it you need first to have the package testA not only exported but also created (or export-pkg the binary). That binary should be there even before b

[2020-05-05 16:08] DmitrySokolov commented on #6864
The build artifacts of the package `testB` are already exist, the very goal is just to pack files. So, what is the purpose of checking dependencies of the package `testB` on the "build stage" (N.B. not on the "consume stage")? I expect that the command `export-pkg` should only pack files (comparing to `create`).

Let me explain the situation. I have more than 400 packages (the most of recipes are

[2020-05-05 16:33] memsharded commented on #6864
The problem is that you need the "package_id" of testB. You know what files you want to pack, but it is necessary to compute where they are packaged (the package_id). That package_id is computed including the dependencies, so you need to compute the full dependency graph of testB, and that includes knowing all the details of testA, down to the package revision of testA, that is computed as the che

[2020-05-05 18:44] #6953 closed, assigned to memsharded

[2020-05-05 19:24] seanmlyons22 commented on #6919
@memsharded,

Thanks again for the detailed response!

This is a mistake on my part, I was copy-n-pasting the class name. Our package name is `coresdk`.

I thought a bit about our user story before getting back to you.

The coresdk _should_ set the dependencies for downstream developers. Since we publish only a single set of tools in our customer facing SDK, everyone should be building and testing

[2020-05-05 20:54] DmitrySokolov commented on #6864
Sorry, I still did not catch.

`package_id` is calculated before `build` and `package` even for `conan export-pkg`, is not it?
And the package payload is not required to calculate package_id, is not it?

I added some logging to the example above:

1. The sequence is `conan export testA ;  conan export-pkg testB`
[code]
TestA: package_id = 5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9
TestB: package_id

[2020-05-05 20:58] DmitrySokolov commented on #6864
When I add `build_policy = "always"` to recipes, all begin to work, except:
[code]
But packages are created, and there is no lock issue.

[2020-05-05 21:01] DmitrySokolov commented on #6864
When I replace `conan export-pkg` with `conan create`, all works OK
[code]
Even the locks is handled correctly:
[code]

[2020-05-05 21:31] memsharded commented on #6864
When the ``package_id()`` is evaluated, the dependency graph has been computed, and the upstream packages are known. The ``build()`` and ``package()`` method of the recipe that implements that ``package_id()`` are executed after it, but the ``build()`` and ``package()`` methods of the dependencies must have ran before the consumer ``package_id()``.

The fact that the actual value of package_id mig

[2020-05-05 22:15] DmitrySokolov commented on #6864
I have a huge third-party library (like Boost) that consists of hundreds of modules. It has own build system. After the build completes I get the folder with binary files that I need to transform to Conan packages. Another thing I have is the directory tree with Conan recipes. So, I need somehow run `conan export-pkg` for all these recipes.

---

Thanks, I will look at it.

[2020-05-06 06:41] Jamaslab opened #6960 "[bug] SystemPackageTool fails to install package lists"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc 7.0
  * Conan version: 1.24.1
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)
I have this conan file
[code]
### Logs (Executed commands with output) (Include/Attach if Applicable)
When I run conan create . I get the following output:
[code]
The s

[2020-05-06 10:09] ryan-WORK commented on #6907
@jgsogo & @danimtb Thank you so much. I will take a look and see if I can follow the example.

I really appreciate you answering my questions about this.

[2020-05-06 10:24] jgsogo commented on #6907
Let us know if it works, and, if you have a successful example compiling from Macos we will be pleased to add it to our docs and/or examples repositories (maybe a blogpost). Also, if you need help, write here too, we'll try to help. We all can learn.
Thanks!

[2020-05-06 12:29] uilianries commented on #6960
Hi @Jamaslab !

You can check if it's installed before installing:

[code]

Please, take a look on docs for more information:
https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool

[2020-05-06 12:34] uilianries opened #6961 "[feature] Accept list for SystemPackageTool"
The [SystemPackageTool](https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool) class offers the method `install` which only supports a string with all packages to be installed. However, even a list of packages must be passed as a string, it's a bit confuse, and get worst if you need to check if it's installed or not before: https://github.com/conan-io/conan/issues/6960

[2020-05-06 14:09] gpioloco commented on #6923
As suspected there was a permissions issue on my side that i have resolved. Now everything works fine. Thanks for you help
Kind Regards

[2020-05-06 14:09] #6923 closed, assigned to nobody

[2020-05-06 14:48] jgsogo commented on #6956
Hi, @GordonJess!

The Conan cache doesn't support concurrency/parallelism right now (commands with a `parallel` argument are an exception). Nevertheless, there are some operations that could work in parallel. Here you can avoid that collision by running `conan export <path> <ref>` once and then `conan install <ref> --build=ref` for your other jobs, it could work if all the dependencies are already

[2020-05-06 14:57] TheQwertiest commented on #6893
@danimtb , thanks for the answer! Since there's no additional info or discussions, I'll close the issue for now, so as to not to clutter the Issue list.

[2020-05-06 14:57] #6893 closed, assigned to danimtb

[2020-05-06 15:01] TheQwertiest commented on #6589
@petermbauer , this one of the approaches that we've considered.
But it seems to be frowned upon (i.e. considered to be not a *true* `conan` way):
"We are lately recommending not using the channels for doing promotions, but using different remote repositories." Source: https://github.com/conan-io/conan/issues/6191

[2020-05-06 15:02] memsharded commented on #6923
Glad that the issue is resolved now
Thanks @gpioloco for following up and reporting!

[2020-05-06 15:04] TheQwertiest commented on #6893
PS: If anyone has any additional info and\or suggestions though, please, feel free to post here =)

[2020-05-06 15:49] shelper opened #6962 "[bug] loop detected for lzma_sdk/9.20"
### Environment Details (include every applicable attribute)
  * Operating System+version: windows 10
  * Compiler+version: visual studio 2019
  * Conan version: 1.24.1
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
when trying to  install  opencv 4.1.1 i got the error below
[code]

[2020-05-06 15:50] shelper commented on #6962
not sure if it is a conan bug, or a bug of the package.

[2020-05-06 16:07] cguldner opened #6963 "[feature] Add export/export_source to deps_cpp_info"
This would be a very useful feature particularly for packages that just export source instead of providing binaries (packages you'd specify in `build_requires`). Currently I'm having to do this just to get to the export directory

[code]

Not a huge deal, but also seems like it'd be an easy thing to implement

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/

[2020-05-06 16:09] TheQwertiest commented on #6664
It should be noted that a generic build-system-agnostic `meson compile` command was added in the latest `meson`. It's not yet on par with current `build` command though (e.g. it's currently impossible to specify target), since current `build` invokes `ninja` directly, while `meson compile` has to wrap around all build-systems.

[2020-05-06 16:36] memsharded opened #6964 "Free online Conan hands-on training"
The team is offering now Free online trainings: Essentials, Advanced and CI/CD

Onboard Conan easily and quickly.
Read:  https://blog.conan.io/2020/05/06/Free-online-Conan-training.html

[2020-05-06 17:00] sourcedelica opened #6965 "[bug] conan install --build package does not always build package"
### Environment Details (include every applicable attribute)
  * Operating System+version:  All
  * Compiler+version: All
  * Conan version: 1.24

### Steps to reproduce (Include if Applicable)

In older versions of Conan when you ran `conan install ..` and it was missing a package, say `xxx` it would give you an error message saying `Missing prebuilt package for xxx/1.0`.  Then  you would run `co

[2020-05-06 17:19] Minimonium commented on #6963
That's a _very_ unsupported usage, mind you. The exact layout of the Conan cache is an implementation detail. Moreover, Conan's graphs operate on packages and recipes, not export (and especially not export_source) directories.
Why not packaging sources themselves?

[2020-05-06 17:21] shelper commented on #6962
This should be for another repo rather than here, closing it

[2020-05-06 17:21] #6962 closed, assigned to nobody

[2020-05-06 17:24] Minimonium commented on #6963
Related to https://github.com/conan-io/conan/issues/6944

[2020-05-06 17:27] Minimonium commented on #6943
Related to https://github.com/conan-io/conan/issues/6474

[2020-05-06 17:48] memsharded commented on #6965
I would say this is more a feature than a bug.

Conan will not do a ``conan create`` or ``conan install`` with ``--build=xxx`` to later fail because there is some other missing package binary. Actually, it will not start downloading or do anything as long as it is known that the build will fail later with a "binary missing" error. This is according to a "fail fast" design, specially for Continuous

[2020-05-06 18:36] cguldner commented on #6963
@Minimonium I thought that was how packages had to be exported if you weren't creating binaries, but I suppose I could just define a blank build step and copy all of the source in the package step, if that's what you mean

[2020-05-06 18:36] #6963 closed, assigned to nobody

[2020-05-06 18:45] Minimonium commented on #6963
Yes, that's exactly what I mean. There could be different use cases obviously but see the linked issue above that intends to solve some related things in that direction.

[2020-05-06 18:59] datalogics-robb commented on #3972
I'm in favor of the solution using `libc` and its version.
Distribution is more specific, but is orthogonal to the things that make a binary incompatible.  If a package is created linking to system shared libraries, those libraries might not have been installed even though the same version of the same distribution is used.  This same issue could also be resolved by using static "linking", which is

[2020-05-06 19:29] blockspacer opened #6967 "[question] build-only options (enable specific tests)"
Hi.

I'm trying to create option that must not affect the package, but can be provided during `conan create` like -o package_name:enable_tests=True

i tried to use `self.options.remove` as stated in docs https://docs.conan.io/en/latest/reference/conanfile/methods.html#configure-config-options , but it didn't help

I want to use package from conan cache independently of `enable_tests` option.

Than

[2020-05-06 21:05] memsharded commented on #6967
Hi @blockspacer

If you want to be able to use options, and use them in the build (like for tests), you cannot remove then in ``configure()`` step.

But you can remove them from the packageID in the ``package_id()`` method, something like:

[code]
Doing that you will obtain always the same ID, irrespective of the value.

Another possibility is use env-vars. You can activate them per package too, w

[2020-05-06 21:32] oliora opened #6969 "[feature] cmake_paths generator should append Conan paths to CMAKE_MODULE_PATH and CMAKE_PREFIX_PATH rather than set those variables"
It is not rare when CMAKE_MODULE_PATH and/or CMAKE_PREFIX_PATH are passed to CMake via command line or set by CMake initial cache script or modified by some other CMake script. It will be more friendly to other CMake scripts and more in-line with expected workflow around CMAKE_MODULE_PATH and/or CMAKE_PREFIX_PATH variables if cmake_paths generator appends Conan paths to aforementioned variables ra

[2020-05-07 04:35] blockspacer commented on #6967
@memsharded
Thank you very much.

[2020-05-07 04:35] #6967 closed, assigned to memsharded

[2020-05-07 06:34] czoido commented on #6965
I also agree that this behavior is expected although it can be a little bit confusing because of the output of the command that one time is telling you that you must build one library and then others depending on the argument `--build`.

This could be something we could take into account for the **CLI 2.0** regarding the install command explaining better in the output why conan is acting like this

[2020-05-07 06:54] mjvankampen opened #6971 "[question] x-build cross compiler"
I am still a bit unsure how to use the x-build setup (with host and build profile) and cross-compilers.

Currently I have the following: a cross-compiler package with multiple settings (and thus detected as separate packages):
os: Neutrino
arch: x86/x86_64/armv7/armv8
compiler: qcc
os_build: Linux/Macos/Windows
os_arch: x86_64

In total this means 12 packages.

If I use the new setup I can only de

[2020-05-07 06:59] blockspacer commented on #6967
approach with -e worked fine:

[code]

[code]

[code]

[code]

[2020-05-07 06:59] jgsogo commented on #6965
Having a look to the output, and this is something I've experienced myself:

[code]

...endless loop 🤷

It happens the same when a missing binary has a missing build require, and it is quite frustrating from the UX perspective.

The easiest way to help with this is to list all the packages that need to be built:

[code]

[2020-05-07 07:55] jgsogo commented on #6971
Hi, @mjvk !

First of all, thanks for trying the new model and submitting this issue, feedback is very important in this early stage to tune the model and improve it. The new model _is not compatible_ with the old `os_build` and `arch_build` settings (it is trying to deprecate `xxx_build` settings), so try not to mix packages using those settings.

---

In a cross compiling scenario you should hav

[2020-05-07 07:57] jgsogo commented on #6971
Ah! the new member variables `settings_build` and `settings_target` can help you to know the other contexts that play a role in your execution, you can use them to check the options you are using in the `my-crosscompiler` package and maybe choose between `Release` and `Debug` without using an additional option (that will require 2x more binaries).

[2020-05-07 08:03] mietzen opened #6972 "[feature] consistent --json with output to stdout"
[ x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
### What
I would like a consistent --json option which gives me a json string like:

[code]

does (even if the option is called --raw). For a search I now need to run:

[code]

But I would like to run

[code]

### Why

This would be really nice for CI/CD system like jenkins, this way w

[2020-05-07 08:21] jgsogo commented on #6969
We try to have all the dependencies managed by Conan, but from time to time it is needed to use dependencies that are already in the system. 👍

[2020-05-07 08:23] jgsogo commented on #6972
Hi, @ngerke!

Thanks for your suggestion. We are working on a new CLI and this is something we will consider. cc/ @czoido

[2020-05-07 08:26] jgsogo commented on #6960
Hi, @Jamaslab

Right now `SystemPackageTool` works using only one package at a time. We will consider this a feature here https://github.com/conan-io/conan/issues/6961

Thanks!

[2020-05-07 08:30] czoido commented on #6972
Thanks a lot for the feedback @ngerke, definitely this is something we are going to take into account for conan 2.0 CLI.

[2020-05-07 08:40] Jamaslab commented on #6960
Perfect, thank you very much. I would just then change this line in the documentation
https://docs.conan.io/en/latest/reference/conanfile/methods.html#method-system-requirements

install(packages, update=True, force=False): Installs the packages (could be a list or a string).

as it can't be a list.

[2020-05-07 08:54] jgsogo commented on #6958
Thanks! Yes, we cannot run `git check-ignore` over all the files in the repository without taking into account that there could be submodules there.

Thanks for proposing a first iteration for the final patch 🙌

[2020-05-07 09:00] jgsogo commented on #6960
I was wrong and you are right. The documentation says that and the implementation tries to deal with a list of packages, but it is not working as expected. This is clearly bug (not a feature, I'm closing #6961)

[2020-05-07 09:01] memsharded commented on #6960
But it is not that it cannot be a list. It can be a list of **alternatives** names for the same package. Conan will iterate them until it succeed installing one of them.

I agree this is not clear, and the UX is bad, but it is the current implementation, and probably can't be changed without breaking.

From the docs:

[2020-05-07 09:03] jgsogo commented on #6961
The documentation states it can use a list (in a single string) and the implementation tries to work with a list too:

[code]

Probably this is not a feature, but a bug as it is not working as expected (and it has already the ability to work with a list/string-list). Here we need to fix a couple of things and probably fixing them will cover this feature.

I'm closing this one in favor of https://g

[2020-05-07 09:03] #6961 closed, assigned to nobody

[2020-05-07 09:07] jgsogo commented on #6960
🤕 No clear at all. So docs and implementation match (not sure), let's improve the explanation and probably modify the help string in the code as it says: `:param packages: String with all package to be installed e.g. "libusb-dev libfoobar-dev"`

Also, the implementation is able to take a list: `packages = [packages] if isinstance(packages, str) else list(packages)`, so #6961 shouldn't be needed (m

[2020-05-07 09:09] memsharded opened #6973 "Simplify settings migration"
The current internal mechanism to upgrade or not upgrade the settings.yml file in the cache requires maintenance on our side for every release that has changes in the default settings. I suggest the following feature, that achieves the same without needing maintenance:

- Everytime Conan saves the file ``settings.yml`` it also stores a backup, like ``.settings.yml.original``
- This should not appl

[2020-05-07 09:12] memsharded commented on #6960
Yes, I really hate the way it is. I am happy if we prepare the way for a fixed one for Conan 2.0.

[2020-05-07 09:14] memsharded commented on #6965
Yes, I kind of agree, I think changing the instructions would help. But what if the dependency graph is big? are we going to display lets say, 50 ``--build=xxx`` arguments? Maybe change it to ``--build=missing`` always?

[2020-05-07 09:18] jgsogo commented on #6965
yes, maybe `--build xxxx --build yyy` if len(missing) <= 5 else `--build missing`

[2020-05-07 09:38] slietzau commented on #6624
It looks like #6626 introduced a bug in `conan_get_policy`. Instead of setting a output variable, the function sets a variable named `policy`.
Essentially one has to change
[code]
to
[code]

Should I open a new issue for that bug?

[2020-05-07 10:17] mjvankampen commented on #6971
Wow thanks for the extensive example! I used this crosscompiler before by using the *_build settings. I did not need to use options as the package was already identified by os, arch, os_build and arch_build. That is what I missed.

As target_build is not a property of a package I cannot distinguish between packages and need to add options correct?

My surprise was that you need to define target_ar

[2020-05-07 12:49] jgsogo commented on #6971
Now the binaries for your cross-compiler can be identified using a full-profile... and recipes in Conan Center don't need to provide the _installer_ version. Now there are recipes like `libgettext` (regular settings "os", "compiler", "arch", "build_type") and `gettext` ("os_build", "arch_build"). With this new approach those two packages can be merged into a single one (they are actually the same)

[2020-05-07 13:44] sztomi commented on #6893
@TheQwertiest yeah, I can only echo what @danimtb said. Anything that affects ABI compatibility, you will need to model in the settings. You can model _more_ (such as C++ standard level, which is not strictly ABI-breaking), but not less. I would not add a blanket "toolchain" setting though. Rather, something that explicitly describes the difference. From your example it looks like you have some in

[2020-05-07 14:05] KerstinKeller commented on #6973
Actually, maybe you could even attempt a 3-way merge like git does: The original file for the users release is the base, the setting in use is one way, and the setting of the new release the other way 😄
So maybe even in cases of user changes, a diff tool (there must be some python package available) could possibly merge for you...

[2020-05-07 14:13] KerstinKeller commented on #6890
Thanks for providing the zlib example, I didn't know someone else has taken that path.

You think so? I feel this would be so much less intrusive, since nothing has to be modified. And it's a known way to include other modules, e.g. if you were to set up your project using submodules to handle dependencies.

 Let's hear some more feedback from other users!

@memsharded And one more question: what

[2020-05-07 14:14] DukeOfKirkcaldy commented on #6956
Thanks for the tip @jgsogo!

Your workaround helped me avoid the specific `scm_to_conandata` error message, but there are still issues with the parallelism here...

In the same parallel streams, after building the packages for a specific configuration (i.e. compiler), I am integrating them into their associated consumer projects according to the recommended method:

[code]

Somehow this integratio

[2020-05-07 14:50] memsharded commented on #6973
So maybe even in cases of user changes, a diff tool (there must be some python package available) could possibly merge for you...

Yes, we have had a look to this merge, but maybe it should be a yaml merge, not a line by line merge, to achieve some robustness. We need to be careful, the impact of a bad merge will probably be worse than leaving it untouched.

I suggest trying it for Conan 2.0 (now

[2020-05-07 15:03] memsharded opened #6974 "#6626 introduced a bug in `conan_get_policy`"
It looks like #6626 introduced a bug in `conan_get_policy`. Instead of setting a output variable, the function sets a variable named `policy`.
Essentially one has to change
[code]
to
[code]

Should I open a new issue for that bug?

_Originally posted by @slietzau in https://github.com/conan-io/conan/issues/6624#issuecomment-625144952_

[2020-05-07 15:04] memsharded commented on #6624
Thanks @slietzau

I have created a new issue from your comments, to have a look in a new one. Thanks for reporting.

[2020-05-07 16:28] DukeOfKirkcaldy commented on #6956
Also related.
(the package path below is one of a build_requirement)

[code]

[2020-05-07 19:11] binhpht opened #6975 "[question] Can not use conan inside a docker container with Jenkins"
Hi, I am using Jenkins to build the project with conan docker container,
I define a stage like this
[code]
However, it has error like this
[code]

Do you have any idea why this happens, thanks
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-07 22:23] DmitrySokolov opened #6977 "[bug] Failed to run in parallel `conan info` + `conan export-pkg`."
[code]

[code]
 The output:  `conan info`
[code]
The output: `conan export-pkg`
[code]

[2020-05-07 22:43] prince-chrismc commented on #6876
I was starting my work on an external tool, and i discovered `python_requires` I made a [test](https://github.com/prince-chrismc/Conan-Offline/blob/f6c325a45f30076c21ed3d9766e7eac48a47370f/offline/test/test_sample.py) that very positive.

Do you think extending a recipe would be a possible solution?

[2020-05-08 08:15] memsharded commented on #6977
Hi @DmitrySokolov

This case might be similar to the other issue, it is not a bug, it is an expected race condition because the Conan cache is not concurrent in the general case. ``conan info`` reconstructs the whole dependency graph, down to the binary level. You cannot be concurrently modifying the graph with ``conan export-pkg`` while you are computing that dependency graph.

[2020-05-08 08:18] memsharded commented on #6876
It is possible to extend a Conanfile class contained in a python_requires with the ``python_requires_extend`` functionality. What is not possible is to extend a full recipe/package, because there are things that cannot be "extended" like the packaged sources, references to SCM. So python_requires are limited to pure python code. The python_requires recipes should be just exported with ``conan expo

[2020-05-08 08:21] jgsogo commented on #6975
Hi!

Conan uses a cache in the local machine to store some configuration files and data about the packages. If you don't configure Conan to use a different folder (using the environment variable `CONAN_USER_HOME`) it will try to use a directory `.conan` inside the _user local folder_ (whatever it is the expansion of `~` folder). Depending on the _user local folder_ for the user running Conan, it w

[2020-05-08 08:30] jgsogo opened #6979 "[feature] Make the cache thread/process-safe for 'readonly' operations"
Objective: compute `package_IDs` for different profiles in parallel.

Even though the Conan cache does not support parallelism/concurrency, we can improve some scenarios and maybe achieve some level of safety for some operations. Readonly operations, those that don't download anything, nor modify/remove a folder neither touch the metadata should be relatively easy to protect and run in parallel.

[2020-05-08 08:41] memsharded commented on #4382
Hi @d135-1r43

I think the above scenario is very easily implementable with existing requires and doing a simple copy of the sources, which is 1 line of code. A small (a bit outdated, but the idea is there) proof of concept is here: https://github.com/memsharded/source_packages

The source package is very straigthforward, just package the sources:
[code]

The consumers only need to copy those sour

[2020-05-08 09:50] mpusz opened #6980 "Include guard for `conanbuildinfo.cmake`"
Sometimes `conanbuildinfo.cmake` has to be imported from several directories in a project depending on how it is being built. For example please see https://github.com/mpusz/units where developer can run CMake either from top or `src` directory and both of them have to import this file.

Right now including the file twice crashes CMake because of duplicated definitions. Could you please add the CM

[2020-05-08 10:04] DoDoENT opened #6981 "[regression] conan 1.25 breaks linking for module libraries"
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS 10.15.4
  * Compiler+version: Xcode 11.4.1
  * Conan version: 1.25.0
  * Python version: 3.7.7

### Description, analysis and solution proposal

With conan 1.25, `sharedlinkflags` are no longer propagated to CMake module libraries that depend on conan package. This can cause link errors because the lin

[2020-05-08 10:27] memsharded commented on #6981
Many thanks for reporting this. Proposed a fix in https://github.com/conan-io/conan/pull/6983, for 1.25.1

[2020-05-08 10:28] DoDoENT commented on #6981
Update: the `TYPE` of the `TARGET_PROPERTY` for `MODULE` is `MODULE_LIBRARY`, not `MODULE` (CMake is not very consistent with it).

If I manually fix the generated `conanbuildinfo.cmake` (but using `MODULE_LIBRARY` instead of `MODULE` for generator expression comparison), my build works.

[2020-05-08 10:31] #6926 closed, assigned to SSE4, memsharded

[2020-05-08 10:41] memsharded commented on #6980
We cannot include this guard, it is only from CMake 3.10, and we need to support older CMake versions.

[2020-05-08 10:52] memsharded commented on #6974
Fixed in #6982 will be soon released in 1.25.1

[2020-05-08 10:52] #6974 closed, assigned to czoido

[2020-05-08 10:53] memsharded commented on #6624
@slietzau Fixed in #6982 will be soon released in 1.25.1

[2020-05-08 11:25] jasal82 opened #6984 "[regression] Package downloads from Artifactory repo are broken in 1.25.0 due to HTTP error 416"
It seems that the support for resumable downloads added in 1.25.0 breaks package downloads in our build server environment. However, in a local environment the downloads succeed.

Inspecting the Conan trace files shows that on the build server Conan sends requests with the range header set whereas on the local machine these requests are missing.

There should be no proxy communication involved. Ho

[2020-05-08 12:34] prince-chrismc commented on #6876
Ahhh, thank you for the insight!

[2020-05-08 12:38] memsharded commented on #6981
Merged #6983

[2020-05-08 12:38] #6981 closed, assigned to memsharded

[2020-05-08 12:40] memsharded commented on #6984
This might be a side effect of https://github.com/conan-io/conan/pull/6791 contribution (cc @flashdagger)

[2020-05-08 12:42] memsharded commented on #6984
Thanks for the traces @jasal82! It seems the local one you are running a ``conan install`` while the server environment is a ``conan create``. Is this on purpose? Is it possible to have them for the same command to compare? Thanks!

[2020-05-08 13:46] memsharded commented on #6984
Also, can you please check and report on the following:

- The Artifactory versions, in both the local and server
- The command line output

[2020-05-08 14:00] jasal82 commented on #6984
Ah sorry, I didn't notice, sure, I'll run the local one again with create. Artifactory version is 6.17.0 in both cases (same server). Here's the command line output:

[code]

[2020-05-08 14:37] jasal82 commented on #6984
Seems I made a mistake with the local build because I can't reproduce the succeeding build now anymore. Same problem as on the server. I attached the local log of `conan create` anyway.

[conan_trace-local.log](https://github.com/conan-io/conan/files/4599623/conan_trace-local.log)

[2020-05-08 15:49] Marcin-Radecki commented on #6954
Thanks for explanation, having a second thought on it, we will change our approach to no longer auto detect compiler settings, rather than we'll use explicit profiles as suggested.

As a matter of feedback on the error logging, in my opinion it is a slightly confusing behavior that a command prints to std error upper case `ERROR` string, but eventually does return zero exit code.

Please feel free

[2020-05-08 15:51] mpusz commented on #6980
In such a case you can do something like this:

[code]

[2020-05-08 16:13] memsharded commented on #6954
I agree with that, the message ``output.error("Unable to find a working compiler")`` should better be a warning not an error (our real errors are Exceptions raised, that are captured and always return an error code). It seems we changed them to be displayed in red as they were not catching enough user attention, but that means that probably we should improve the UX of our warnings mechanism, so th

[2020-05-08 16:13] #6954 closed, assigned to memsharded

[2020-05-08 17:23] memsharded commented on #6964
The training, all 6 sessions in EMEA and US are sold out (2 open seats in CI/CD in US, at this moment), so I am closing this issue and unpinning.

Thank you all for this massive interes, everything sold out in only 2 days!

[2020-05-08 17:23] #6964 closed, assigned to nobody

[2020-05-08 17:50] memsharded commented on #6984
As a summary of my investigation of today: I have tried to reproduce, locally with an Artifactory 6.17.0 and in the cloud with latest Artifactory. I have forced downloads to be interrupted, they resume correctly. Normal downloads work fine too. I have analyzed the source code without any significant finding.

I would like to know more about the server side, if there is an Nginx, Apache, any specia

[2020-05-08 18:22] ShamanTcler opened #6985 "Looking for recommendation on project directory structure"
In general we try to layout our CMake projects alog the lines of : https://cliutils.gitlab.io/modern-cmake/chapters/basics/structure.html

So we have dir structure that look like:
- CMakeLists.txt
- docs
- src
  - CMakeLists.txt
  - fred.cpp
  - sue.f90    (Yes we still use FORTRAN)
- test
  - CMakeLists.txt
  - gtest_main.cpp
  - my_test.cpp

I will likely be using VSCode and Vscode-cmake-tools f

[2020-05-08 18:25] flashdagger commented on #6984
Hi as I trying to wrap my head around it I wonder if the "range" key should be capitalized as I read some servers might be strict about this...
Nevertheless. The problem seems to be that the second request is wrong. Hence the 416 Error (Range not satisfiable). I presume 126 bytes is the expected size of the conanmanifest.txt file.

[2020-05-08 19:23] memsharded commented on #6984
The thing is that it shouldn't be failing in the first instance, the first api call to the server should still be exactly the same, and only in case of an interrupted download, will send the header. But an interrupted  download from the Artifactory is really unexpected, especially for a conanmanifest.txt. We haven't had this kind of errors before, interrupted downloads were only for very big files

[2020-05-08 19:46] flashdagger commented on #6984
I agree. Would be good to know the total length and the total downloaded size of the request.

[2020-05-08 21:27] mpusz opened #6986 "[bug] gcc-10 not supported by settings.yml"
Now as we have a gcc-10 released and even a Conan docker image for it, we really need gcc-10 on the list in settings.yml. Otherwise, we end up with errors like here: https://travis-ci.com/github/mpusz/units/jobs/330767961.

[2020-05-09 10:53] memsharded commented on #6986
Gcc 10 is already in the default settings: https://github.com/conan-io/conan/blob/50f205953f520981ce817c90bb3b6e379b3e0674/conans/client/conf/__init__.py#L63

We will explicitly add 10.1 for those who want to control the minor version too, but it should work now.

[2020-05-09 11:00] mpusz commented on #6986
Thanks. I see now that the issue is fixed in 1.25.0 but that conan-package-tools downgraded the version to 1.24.1 (https://travis-ci.com/github/mpusz/units/jobs/330767961#L460) that does not have this setting yet :-( Hopefully, conan-package-tools will catch up soon...

[2020-05-09 13:26] seanmlyons22 commented on #6919
@memsharded, thanks so much for your help already.
Any thoughts on the last? Sorry for the delay in response.

[2020-05-09 16:29] aleksa2808 commented on #4691
I stumbled upon this issue while using a protobuf package with a bundled protoc binary which gets called by consumer CMake invocations. I agree that it is painful to use the verbose RunEnvironment approach in every package that uses dependencies like these (I even have to use it twice in every package, for cmake.build and cmake.install) and am also searching for a better solution!

[2020-05-09 17:24] g-radam commented on #4837
This is something I would personally **_really_** like to see working in Conan. My thoughts currently:

Workspaces do the trick within a single folder hierarchy (when a project owns / knows where its dependency are located). However, if I have several common packages floating around on my PC not within any one workspace, I'd still like to see them be built as part of an application. (Of course, I

[2020-05-10 06:59] barmaglot27 opened #6987 "[bug] options of dependencies affect consumer package_id()"
Related to #6840

All our packages follow semantic versioning and use `minor_mode()` for compatibility, so I was expecting package_id calculation to include: settings, its **own options** and name/major.minor of dependencies. But once I introduced an option with default value in our company's deepest dependency it broke consumer's package_id().

The problem seem to be related to `OptionsValues.sha

[2020-05-10 18:14] memsharded commented on #6986
I guess conan-package-tools will update relatively soon, and if not, it is not an issue, it is enough to ``pip install conan==1.25.0 --upgrade`` after installing conan-package tools, to get the latest conan. So I think this can be closed now, thanks for reporting!

[2020-05-10 18:14] #6986 closed, assigned to nobody

[2020-05-10 18:15] #6939 closed, assigned to memsharded

[2020-05-10 18:15] memsharded commented on #6939
Merged, this will be released in 1.26. Thanks for the suggestion!

[2020-05-10 18:29] memsharded commented on #6987
Hi @barmaglot27

The ``minor_mode()`` or any ``package_id_mode`` is designed and defined to only affect what part of the dependencies ``package_reference`` affects the current computation of the package ID. That is, the modes are related to the ``self.info.requires`` attribute, but not to the ``self.info.options`` or ``self.info.settings``.

I agree this is unexpected and maybe not enough clearly

[2020-05-10 18:31] memsharded commented on #4837
Hi @g-radam

Editable packages and workspaces are something we definitely want to improve, and this is one of the things that we will seriously consider. The only problem is that at the moment there have been a few other higher priorities so we couldn't put time on this one. Thanks for the feedback, we will certainly take it into account when we revisit this.

[2020-05-10 23:38] barmaglot27 commented on #6987
Thanks, I will add it to our conanfiles. Will have to re upload all dependencies though.

[2020-05-11 00:00] uilianries commented on #6986
I made a mistake when updating the latest version for CPT. It will be fixed ASAP.

[2020-05-11 03:38] barmaglot27 commented on #6987
@memsharded the suggested approach does not work! Simply because `self.info.options.clear_indirect()` does nothing to keys of the array:
https://github.com/conan-io/conan/blob/bd5920a40d9707001b31966adb0dfa7d6af00eea/conans/model/options.py#L251-L253

So, if any dependency adds option - it will still affect consumer's package id. The only solution would be some API that completely clears `OptionsV

[2020-05-11 04:25] barmaglot27 opened #6989 "[feature] full_build_requires in conaninfo.txt"
I am trying to implement promotion of a packages as move of package and **ALL** of its dependencies from develop to release channel and placing an alias for redirection. When we build final product that needs to be packaged into RPM we often have conflicting requirements that cannot be resolved because of semver:
binB/1.0.0@company/develop -> libA/**1.0.0**@company/develop
binC/1.0.0@company/devel

[2020-05-11 06:32] anubhabsen commented on #6813
Hello! I would like to take this up if that's ok.
If I understand this correctly,
[code]
In the above piece of code, a check needs to be performed if p is a directory, and if it's not, issue an alert with ```conan_v2_behavior()```?

[2020-05-11 06:58] mpusz commented on #6986
Thanks!

[2020-05-11 07:02] czoido commented on #6986
Hi @mpusz, we have just released conan package tools 0.32.4 with that fix.

[2020-05-11 07:42] SSE4 opened #6990 "[feature] add tool/helper for stdcpp_library"
for the C++ projects with C API (there are plenty of them, e.g. openh264, snappy, mysql-connector-c, proj, etc), when consuming library as static, it's needed to link with C++ libraries, even in pure C projects. thus, **package_info** of such libraries should reference **libc++** or **libstdc++** as **system_libs**.

the implementation may look like:
[code]

the code is recurring in conan center i

[2020-05-11 08:54] jgsogo commented on #6813
Hi, @anubhabsen

It is enough to raise a `ConanException` if any of the paths correspond to a file. We cannot check the other way around, if the path is not a folder, because the path might not exist.

Thanks! If you send the PR we can include it in the next release 1.26 👍

[2020-05-11 08:54] memsharded commented on #6973
I have had a look to the internals, to see if the first phase could be done now. The problem is that all past versions didnt store the ".original" settings, so we would need to maintain the old mechanism, together with the new one, and it is probably not worth as we will start working on Conan 2.0 soon. Lets wait for this for 2.0 then.

[2020-05-11 09:04] memsharded commented on #6989
Hi @barmaglot27

Let me suggest: we are not recommending anymore doing promotions based in channel. Packages should be completely immutable (this is a general devops accepted good practice), and modifying channels have some implications regarding the binaries for example. We recommend instead doing promotions based on repositories. With Artifactory (also with the CE free edition) you can have mult

[2020-05-11 09:06] memsharded commented on #6987
You are totally right! I didn't look at the implementation. What you are pointing:

[code]

Will do what you want. Great job.

[2020-05-11 09:21] binhpht commented on #6975
Hi, the problem is that it works well on docker container in my machine but has error in Jenkins ( Jenkins also was deployed via docker). The issue was solved by providing -root account for docker container.
Like
`docker run -u root -v /home/jenkins/CI/:/home/conan/project --rm conanio/gcc7-armv7hf bash
`
Thanks.

[2020-05-11 09:21] #6975 closed, assigned to jgsogo

[2020-05-11 09:51] memsharded opened #6991 "Add gcc 10.1"

[2020-05-11 10:08] dfleury2 commented on #4466
Hi @memsharded,
I have just tried the conan 1.25.0. At this time, my conanfile.py's do not use imports, but I can update them, it should solve the first part.

The second part, tools.collect_libs()  still not working, and I think this is the main problem for my projects because I had to declare manually all my libs in the package_info (or I miss the point)

def package_info(self):
        self.cpp

[2020-05-11 10:08] #4466 closed

[2020-05-11 15:24] JD31 commented on #6889
Yes i am using tools.collecct_libs()
How can i proceed ?

[2020-05-11 16:45] czoido commented on #6991
I think we should also add **gcc** **6.5**, **7.5** and **8.4**

[2020-05-11 16:47] chhitz opened #6992 "[bug] deploy generator broken with 1.25.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: any
  * Conan version: 1.25.0
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
* mkdir /tmp/conan-paho-mqtt
* conan install  paho-mqtt-cpp/1.1@ -g deploy -o *:shared=True

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code

[2020-05-11 16:59] memsharded commented on #6992
Hi @chhitz

I was able to reproduce.

Seems an effect of https://github.com/conan-io/conan/pull/6922

Could you please @uilianries have a look, and check if it is a regression? Thanks!

[2020-05-11 17:02] memsharded commented on #6984
@flashdagger after a great job of @jasal82 investigating this, it seems that it is related to the difference when ``gzip`` is True, because of ``Accept-Encoding``. Checking it for a fix for 1.25.1

[2020-05-11 17:46] #6991 closed, assigned to nobody

[2020-05-11 18:13] uilianries commented on #6992
@memsharded I can confirm that's a regression. However, the PR #6994 is able to fix it, I've validated it.

[2020-05-11 19:07] witanswer opened #6995 "[question] Artifactory incorrect header check"
I seem to be having an artifactory issue?
other packages are able to download fine, but this one seems to have issues

[code]

am i looking at the right url in the logs?

[2020-05-11 21:24] memsharded commented on #6995
Hi @witanswer

Can you please detail:

- Conan version
- Artifactory version (and edition: community edition, etc). Where are you running it? is it behind some proxy or corporate VPN or front-end?
- Is this new, was it working with previous versions of Conan?

[2020-05-11 21:27] memsharded commented on #6985
Well, it is not possible to use only cmake-conan if you are creating packages too with this repo. Is it for consuming existing packages only?

Yes, typically the root of the project is a good place. It might be put in a subfolder, but as a rule of thumb, it will be a bit more convoluted.

[2020-05-11 21:29] #6992 closed, assigned to uilianries, memsharded

[2020-05-11 22:04] ShamanTcler commented on #6985
Yes this is for package consumers only. Geared towards the model of a "main_app" built on top of a local built library, plus 3'rd party libs supplied by Conan.

We have an Artifactory CE instance running  to store 3'rd party and in house developed packages.  So trying to make this as Phd (push here dummy) as possible ....

Many people like the directory segregation that above link provides.

[2020-05-12 05:31] xoorath opened #6998 "cmake find_package fails when using conanbuildinfo_multi.cmake"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: cmake generator for visual studio 2019
  * Conan version: 1.24.0

### Steps to reproduce (Include if Applicable)
1. Create a conanfile requiring protobuf/3.9.1@bincrafters/stable. Also set the cmake and cmake_multi generators (only cmake_multi is relevant, but both are used i

[2020-05-12 06:42] ailisp opened #6999 "[question] Override an indirect dependency in conanfile.txt"
I'm trying to learn conan today and my goal is build this example: https://docs.opencv.org/trunk/d8/dfe/classcv_1_1VideoCapture.html

It depends on opencv and gtk3, so I found them online and create this conanfile.txt (I'd like to use scons for godot later, which has official scons support)
[code]
So it gives error:
Incompatible requirements obtained in different evaluations of 'requirements'.
The

[2020-05-12 06:44] flashdagger commented on #6984
Excellent! Is it the case where "Content-Encoding" is gzip and "Content-Length" is greater then the actual uncompressed data?

[2020-05-12 06:47] ailisp opened #7000 "[question] search across all local defined remotes"
Is it possible to search all local saved remotes, for example I have:
[code]
It would be great if I can make "search all remotes", show search result and what remote it belongs to, and made this default as i do conan search. How to do that? Thank you! (I got #7000 btw :smiley: )
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-12 06:55] steinerthomas opened #7001 "[question] Execute Unittests in build section cross-toolchain?"
As we have learnt in the conan advanced training, the best way to run unittests is in the build section of a conan recipe. See: [ConanTrainingAdvanced.pdf](https://github.com/conan-io/training/blob/master/ConanTrainingAdvanced.pdf) - Exercise 19 – Unit tests with gtest

How does this actually work, when the build-server is building a package with a toolchain for another architecture? You won't be

[2020-05-12 07:44] jasal82 commented on #6984
Yes exactly.

[2020-05-12 08:21] memsharded commented on #6984
I have reverted partially in #6996, which means:

- if the server gzips the response, both the resumable downloads and checking the length and raising are disabled, as they were in the past
- if the response is not gzipped (which seems to be true in most cases) the resumable downloads will work. I have forced resumabled downloads in some different servers and it worked oke.
- the management of gzi

[2020-05-12 08:25] jgsogo commented on #6969
According to #6970, then this is no longer an issue. Did you open the issue because something was not working as expected? Do you have any minimum reproducible example?

[2020-05-12 08:29] memsharded commented on #7000
Nice 7K issues already in conan :)

Yes, it is possible to use the ``-r=all`` or ``--remote=all`` shortcut, and it will iterate all remotes. Please try that and tell if that helped.

[2020-05-12 08:31] jgsogo commented on #6889
Just list the libraries your package is generating:

[code]

[2020-05-12 08:38] memsharded commented on #6999
Hi @ailisp

You did a good investigation:

At the moment, an ``override`` can only be expressed in python conanfile.py. But you can simplify the conanfile.py syntax with ``requires = (<ref>, "override"), <ref>, <ref>``, i.e., declaring tuples in the place of a reference, and adding "override". So you wouldn't need the ``requirements()`` method.

No, we have decided not to go for automatic conflict

[2020-05-12 08:40] jasal82 commented on #6984
Patch works fine, looking forward to the 1.25.1 release. Thanks for the quick response.

[2020-05-12 08:44] memsharded commented on #6998
Hi @xoorath

I think you are mixing different concepts. If you are using the ``cmake_find_package`` generators, most of the ``cmake`` generator stuff shouldn't be necessary. Definitely not defining ``TARGETS`` as you aim to use ``find_package()``. The only thing that the ``cmake`` generators will do in this case is set-up some build configuration, like the RPATH or MD /MT runtime. You can skip tha

[2020-05-12 09:09] memsharded commented on #7001
Hi @steinerthomas

When cross-building, you can't run the unit test in the build architecture (unless you have some kind of remote environment, is this the case?). So the typical flow is to skip the tests. You can see it for example in the ``test()`` function of the ``test_package/conanfile.py`` automatically generated with ``conan new``:

[code]
So in your case, something like:

[code]

Please le

[2020-05-12 09:13] memsharded commented on #6995
Hi @witanswer

There was a bug in Conan 1.25, related to gzip and resumable downloads. We are going to release a patch 1.25.1 asap, it would be good to know if that was a regression on your side. It is weird that it is only failing for that specific package and not all of them, would be good to have more info. Thanks!

[2020-05-12 09:28] memsharded commented on #6984
Fixed by #6996, will be released next 1.25.1

[2020-05-12 09:28] #6984 closed, assigned to memsharded

[2020-05-12 10:45] danimtb opened #7002 "[question] Is libstdc++11 used in Linux clang?"
Coming from https://github.com/conan-io/conan-center-index/issues/1091

I have looked for more information regarding `libstdc++11` and clang in Linux and I did not found anything in the documentation, only this that I suppose is related to the libc++ version 11 (not the same thing) https://libcxx.llvm.org/docs/index.html

And https://clang.llvm.org/cxx_status.html states:

Regarding Conan, libstdc

[2020-05-12 10:48] jgsogo commented on #6896
Not really, there is a pending _feature request_ here:

[2020-05-12 11:06] sztomi commented on #7002
The answer to the first question is yes, we are currently using it exactly as described. The second question I'm a bit confused about, can you clarify what you meant by libstdc++ ABI?

[2020-05-12 11:13] danimtb commented on #7002
There are this values available for linux clang ``libcxx: [libstdc++, libstdc++11, libc++]``. The one I see recommended (as apple-clang deprecated libstdc++) is using `libc++`. So my second question is about: Is there any real difference between ``libstdc++`` and ``libstdc++11`` in Conan?

[2020-05-12 11:17] SSE4 commented on #7002
yes, this is a real thing on Linux clang.
for instance, compiling gtest's test_package:
[code]
will result in many undefined references:
[code]
thus, **libstdc++** and **libstdc++11** packages aren't ABI compatible, for Clang as well.

**libgtest.a** contains different symbols in these two configurations (libstdc++ vs libstdc++11):
[code]

the `_GLIBCXX_USE_CXX11_ABI` definition is "taken by accou

[2020-05-12 11:20] KerstinKeller commented on #6969
I guess you are doing a  `set(CMAKE_MODULE_PATH conan/path/one;conan/path/two;${CMAKE_MODULE_PATH})`, however it might be more readable to to `list(PREPEND CMAKE_MODULE_PATH conan/path/one conan/path/two`).
😄

[2020-05-12 11:23] KerstinKeller commented on #6965
Same thing happened to me before, so I would also appreciate to list everything that is missing!

[2020-05-12 11:30] danimtb commented on #7002
@SSE4 Thanks a lot for the clarification. I would like to have this documented in the settings page of Conan documentation!

Just a final question regarding this issue and apple-clang. Apple-clang deprecated ``libstdc++`` in favor of ``libc++`` flag. Does the usage of ``libc++``imply `_GLIBCXX_USE_CXX11_ABI=1` as well?

[2020-05-12 11:34] SSE4 commented on #7002
`libc++` doesn't have dual abi and doesn't have `_GLIBCXX_USE_CXX11_ABI`. the flag has no effect on `libc++` builds at all, it means build with no `_GLIBCXX_USE_CXX11_ABI` defined, build with `_GLIBCXX_USE_CXX11_ABI=0` and build `_GLIBCXX_USE_CXX11_ABI=1` are absolutely identical. that's why we don't have `libc++` and `libc++11` I guess.

[2020-05-12 11:37] SSE4 commented on #7002
@danimtb seems like everything is already documented here: https://github.com/conan-io/docs/blob/6531ce7bc1a83e81e78af1b0318d3fbd69c28f20/howtos/manage_gcc_abi.rst

[2020-05-12 11:40] danimtb commented on #7002
I would like to have it documented here as well https://docs.conan.io/en/latest/reference/config_files/settings.yml.html so we can keep adding the different meanings of the values used for different compilers as well

[2020-05-12 12:37] jgsogo commented on #6956
About the first issue with the `conanmanifest.txt` maybe it is just two processes trying to access it at the same time and one of them blocking it... Reading should be non-blocking and I see no reason why Conan could be writing to that file if the recipe is already exported.

The error in your second comment. I see the traces but I wonder how it gets from the `remove --locks'  message (it should w

[2020-05-12 12:54] witanswer commented on #6995
conan version: 1.25.0
artifactory version: 6.18.1 (enterprise)
this has been previously working, and we can't determine anything that we have done that may have caused this. user issue reports started coming in on monday, not sure when it started or when we may have upgraded to 1.25

[2020-05-12 13:08] cguldner commented on #6896
@jgsogo At least for our use case, we would store the layout files and the conanfiles in the same repo, so it would be fine for us to just pass the path relative to the conanfile. But it would be a good feature to be able to have the paths be relative from the layout file instead

[2020-05-12 14:00] witanswer commented on #6995
we just reverted to 1.24.0 which fixed our issue

[2020-05-12 15:45] dovydas-girdvainis opened #7005 "[bug] Failled to upload conan packafge to JFrog-Artifactory-Cpp-CE Server. 500 Server Error: Internal Server Error"
Hello everyone!

I am not sure that this issue belongs here, it is possible it should go to [Jfrog](https://bintray.com/jfrog), but I do not know how to report issues for them.

My problem comes from conan uploading packages to a private Artifactory repository.  I followed all of the steps documented in [Artifactory Community Edition for C/C++](https://docs.conan.io/en/latest/uploading_packages/ar

[2020-05-12 15:53] memsharded commented on #7005
Hi @saukijan

Thanks for your detailed report. I wanted to ask first if your Artifactory is running behind some infra, proxy, front like Apache/Nginx, that could be doing something different. A good quick check is to get an Artifactory CE (https://conan.io/downloads.html) locally in your computer, unzip, execute, (it will take about 3-5 minutes) and test locally. That will help to rule out if it i

[2020-05-12 16:18] witanswer commented on #6995
worth noting, this package was a cmake file only

conanfile.py:
[code]

cmakebase.cmake:
[code]

[2020-05-12 16:19] dovydas-girdvainis commented on #7005
@memsharded thanks for the quick response, Yes you are right about the Artifactory server running behind some infrastructure, however I am not sure of the details surrounding it at this moment.

I did as you suggested and installed Artifactory CE locally on my Linux Debian 10. It seems to be running perfectly, however it is an older version, it is 6.19 and not 7.4.3.

I am not certain, but I think

[2020-05-12 17:05] ailisp commented on #7000
Thanks, it works!

[2020-05-12 17:05] #7000 closed, assigned to nobody

[2020-05-12 17:11] memsharded commented on #7005
conan.io/downloads are links to bintray, the installers are hosted in bintray

You can get latest Artifactory CE in https://bintray.com/beta/#/jfrog/product/JFrog-Artifactory-Cpp-CE?tab=packages too, just in case it is a version issue (but probably not)

Ok, please ask there to your IT or Devops team, ask about details and provide them with this issue, as well as the comparison to your local Artif

[2020-05-12 17:18] dovydas-girdvainis commented on #7005
I tried installing [bitnray 7.4.3](https://bintray.com/jfrog/product/JFrog-Artifactory-Cpp-CE/view) version locally as well, however it seems to fail setting it's ownership to **artifactory:artifactory** during the installation:
[code]
Once the installation is finished dameon fails with:

[code]

Probably the easiest answer is to reinstall Artifactory CE with 6.19, however I am a bit curious as to

[2020-05-12 17:34] memsharded commented on #7005
Hi @saukijan

yes, I wouldn't expect it, which installer were you trying? The debian installer, the docker installer?

There are extended installation instructions here: https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory

There are a couple of notes there that might help, like:

[2020-05-12 17:34] ailisp commented on #6999
Thanks, you answered all my questions and more!

This is good enough to me.

Makes sense, I like transparency control over creates more problem once auto conflict resolution cause runtime unexpected behavior

Will do!

I see the problems here, great explanation.

[2020-05-12 17:34] #6999 closed, assigned to nobody

[2020-05-12 17:35] memsharded commented on #6999
Happy to help! 😄

[2020-05-12 17:37] dovydas-girdvainis commented on #7005
I used a .deb package here is a [link](https://bintray.com/jfrog/artifactory-debs/download_file?file_path=pool%2Fjfrog-artifactory-cpp-ce%2Fjfrog-artifactory-cpp-ce-7.4.3.deb) to it.

I installed it with `dpkg -i jfrog-artifactory-cpp-ce-7.4.3.deb`

I had all of the dependencies previously from 6.19 so it just installed. (I used a similar procedure for 6.19 except I had to run `sudo apt install -f

[2020-05-12 17:40] dovydas-girdvainis commented on #7005
Also I got the details for our setup, we are using Nginx as a reverse proxy with this configuration:

[code]

[2020-05-12 18:43] madebr opened #7007 "[feature] Allow regexes when patching files (tools.replace_regex_in_file)"
Often, when packaging external software, patching is required.
Right now the main tools we have are:
- `tools.replace_in_file` (`tools.replace_path_in_file`, `tools.replace_prefix_in_pc_file`)
- `tools.save_append`
- `tools.patch`

Having the ability to use regex'es to patch sources would be nice.

Example usage:
https://github.com/conan-io/conan-center-index/pull/1607.

This contans a for loop wi

[2020-05-12 19:09] fpelliccioni commented on #7002
Yeah, `libc++` did not break the ABI because it was created for C++11.

[2020-05-12 19:13] fpelliccioni commented on #7002
Yes, it is a real thing.

They are compatible as long as you don't use any of the standard library components that broke compatibility.

[2020-05-12 23:34] xoorath commented on #6998
Hey @memsharded thanks for getting back to me quickly.

My goal is actually to not use find_package, but it was the only way I could seem to get the function `protobuf_generate_cpp` working.

Is there another way to get the functions and macros from a package in conan working inside my cmake files?

Unrelated to that question, but are you suggesting that if I use find_package and name my dependanc

[2020-05-13 04:47] flashdagger commented on #6995
That also seems to be related to #6984. The second request uses a false "range" which leads to the server's error response. @memsharded already provided a fix which comes with release 1.25.1

[2020-05-13 08:09] memsharded commented on #6998
Well, the truth is that we are likely going to move to ``find_package()`` in cmake as the way to get dependencies, as it is the idiomatic way in cmake. We will move the "build" related things to a toolchain file. Probably in Conan 2.0 using find_package will be the canonical way to use dependencies in CMake.

Yes, please do inspect the generated ``conanbuildinfo.cmake`` file. You will have variabl

[2020-05-13 08:46] danimtb opened #7009 "[bug] Propagate conanfile parameter in vcvars tools"
Coming from this comment https://github.com/conan-io/docs/pull/1695#discussion_r424268369

I think ``tools.vcvars_dict()`` and ``tools.vcvars()`` should be compatible with the new ``conanfile`` parameter used in ``tools.vcvars_command()`` and indicate if those are still compatible or not with the previous ``setting`` parameter in the documentation

⚠️ This does not mean that recipes using ``tools.

[2020-05-13 09:32] dovydas-girdvainis commented on #7005
So I tried a clean install of 7.4.3 today (I purged all of the config files and unused dependencies).

I installed the DEB package as a root and not with sudo just to make sure that all of the permissions are set correctly and it installed properly.

After setting up the Artifactory I uploaded a hello package and it works as expected.

I am guessing something is wrong with our NGinx setup and SSL,

[2020-05-13 10:28] #6965 closed, assigned to memsharded

[2020-05-13 10:33] derived-coder opened #7011 "[bug] Conan profiles cannot expand variables"
When creating an environment variable in a profile, you cannot reuse this variables to expand to other variables.

### Environment Details (include every applicable attribute)
  * Operating System+version: linux ubuntu 18.04
  * Compiler+version: clang8
  * Conan version: 1.25.0
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)

following profile will not work, while trying

[2020-05-13 10:36] memsharded commented on #7005
Thanks @saukijan for following up and reporting. Glad to know that locally all works fine with different Artifactory versions.

What I think is that even if the Nginx has some configuration that is not working, still Artifactory 500 Internal Server Error is something worth investigating and reporting. I understand that your Artifactory hosted is not an Artifactory CE, but a full Artifactory PRO, b

[2020-05-13 10:42] memsharded commented on #7011
From the docs https://docs.conan.io/en/latest/reference/profiles.html:

[2020-05-13 10:50] steinerthomas commented on #7001
Hi @memsharded

Thanks for the quick reply.

We have a remote environment where we run the tests. Now we are building both, unit and integration tests in a separate conan package and execute them on this environment. (btw: we also collect the code coverage from both tests in our CI pipelines)

Running the unittests remote in the build section would make the conan recipe really complex I think. Or

[2020-05-13 10:53] derived-coder commented on #7011
@memsharded
This works, nice.
However, when I want to test this. I use a `virtualbuildenv`
I generate and source it `source activate_build.sh`, however, nothing is in my path. What is wrong?

[2020-05-13 10:58] memsharded commented on #7001
No, there is no easy way, unless you have setup some infra that allows this to run remotely, something like:

[code]

I think that in general this might be difficult, so probably the best is to keep them separately.

[2020-05-13 11:06] memsharded commented on #7011
Ok, that would be a new, unrelated issue, please close this one and open a new one.
Please explain what problem you are trying to solve. ``virtualbuildenv`` is an environment created with information from the dependencies packages (like build_requires) for:

[code]

but does not use the information from the profile.

[2020-05-13 11:59] dovydas-girdvainis commented on #7005
hi @memsharded, I just confirmed with IT that we are using Artifacory CE 7.4.3, the one I tested locally and NGinx was used to make it accessible via internal network

[2020-05-13 12:17] memsharded commented on #7005
Thanks for the info. Then, there is some context that I am missing. Artifactory CE is for Conan packages, but it seems that your Artifactory CE installation is not properly setup. Was it ever working? Is it a new installation, that you are testing for the first time? I (maybe wrongly) assumed, that it was a working installation that was failing just now for the Conan use case.

[2020-05-13 12:24] #7011 closed, assigned to memsharded

[2020-05-13 12:38] #7001 closed, assigned to memsharded

[2020-05-13 12:41] dovydas-girdvainis commented on #7005
Sorry for not being clear about that. It is the first time we are setting up Artifactory CE, so it never worked.

We are currently trying to use it for our conan packages only, but as I see it is possible to upload artifacts to it through the REST API thought I have not tested that.  Am I wrong in think that way?

I do not know how it was set up, but I can ask. Is there anything in particular that

[2020-05-13 14:43] memsharded commented on #7005
No, Conan packages are uploaded directly with the Conan client. There is extra logic associated to it, not possible via the REST API only

The CE can also have generic repositories. For them, of course you can use the REST API and/or the JFrog CLI to upload and download files.

That is the thing, it might be difficult to help with that. We are not that experts in this configuration with Nginx, and

[2020-05-13 15:24] xoorath commented on #6998
Thanks @memsharded . I'll try to recap again so you can correct me.

1) Using find_package is preferred in the sense that it's more cmake style.

2) Using find_package wont give me the convenience that conanbuildinfo*.cmake offers, such as selecting the right debug/optimized variant of the dependancies, or setting the BUILD_DIRS and other package settings.

I'm a bit confused about your last point

[2020-05-13 16:17] derived-coder commented on #5463
Hi, is there any update here? I don't see the target architecture selection works...or am I doing something wrong? There is no `-V` provided.

@Johnnyxy
How do you get everything running without changing the internal conan code?

[2020-05-13 16:30] markgalpin commented on #7005
Whenever we have a 500 error from artifactory, the key questions are: 1.) in the [artifactory-request.log](https://www.jfrog.com/confluence/display/JFROG/Logging#Logging-RequestLog.1) do you see the request with a 500 in it (7th field)?  If the answer is yes, look at the same timestamp in the [artifactory-service.log](https://www.jfrog.com/confluence/display/JFROG/Logging#Logging-ServiceLog.1) for

[2020-05-13 16:58] derived-coder opened #7012 "[question] What is the current state of QNX and Conan?"
I would like to know what is the current state of support for QNX platform.

At the moment I can compile something, but I don't see any mapping of the conan arch to the QNX target arch when making a verbose build (`-V` `gcc_ntoaarch64le` option which points to the target is missing) http://www.qnx.com/developers/docs/7.0.0/#com.qnx.doc.neutrino.utilities/topic/q/qcc.html

This is my profile
[code]

[2020-05-13 18:19] saimusdev opened #7013 "[question] How to consume deployable package?"
**How can a required deployable package be automatically deployed if specified as a direct requirement?**

- **Conan version: 1.25.0**

### Sample use case

Given two packages `deployable-package` and `deploy-consumer-package` as follows:
[code]
Bare in mind, it's just an example to illustrate the issue.

#### `deployable-package`

[code]

#### `deploy-consumer-package`

[code]

I want to know how

[2020-05-13 18:59] saimusdev commented on #7013
Update: I know that a possibility for this is to use a `imports()` function in the `deploy-consumer-package`.
But, what I want, is to install into a fixed path in the system, not a directory relative to my consumer `conanfile.py`

[2020-05-13 19:22] saimusdev commented on #7013
Update 2: I see now a note in your [`deploy()` documentation](https://docs.conan.io/en/latest/reference/conanfile/methods.html#method-deploy) about this, but to me it's then unclear how to solve this use case:

[2020-05-13 19:24] xoorath commented on #6998
Hey @memsharded - I've got it working now. TL-DR I just needed to use include which I could get the path for using BUILD_DIRS like you said. The rest of this post is for other future readers.

Thanks!

---
For the benefit of anyone else who comes across this:
1) I switched to use the `cmake_multi` generator in my conanfile.txt.
2) I included `protoc-config.cmake` using the `BUILD_DIRS` like James

[2020-05-13 19:24] #6998 closed, assigned to memsharded

[2020-05-13 22:21] derived-coder opened #7014 "[bug] How to virtual run a profile?"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: clang8.0
  * Conan version:1.25.0
  * Python version:3.6.9

### Steps to reproduce (Include if Applicable)

my profile
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
after generate a `virtualbuildenv` for my recipe and doing a `source activa

[2020-05-13 22:21] derived-coder commented on #7011
https://github.com/conan-io/conan/issues/7014

[2020-05-14 07:01] Viatorus opened #7015 "[question] set CXXFlags from profile when using conan --install"
I have a CMake project and a profile which I want to use only for testing.

[code]

If I run `conan create . -pr=testing`, the flags for the sanitizer are set. If I run `conan install ..` to debug my project, these flags are missing. How can I set these flags through conan install?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-14 07:47] barmaglot27 opened #7016 "[bug] build_requires version resolution does not have override"
We follow semver for package versioning and for requires specify minor compatibility, in our requirements we have:
libA/**1.0.0+1**
in build_requires:
libB/1.0.0+1

And libB/1.0.0+1 requires a newer build of libA/**1.0.0+2**
I am getting an error asking to override libA because my conanfile and libB are conflicting!

I was investigating the order of calls and it seems like build_requires do not pa

[2020-05-14 09:08] mjvankampen commented on #2924
@memsharded I tried again. Say I use cppzmq/4.6.0 in package foo/0.1 as a requirement. If I run conan install and build for the first time (with remote available) everything is fine.

If I repeat it but with conan remote disable X I get the error:

[code]

I would expect that I could choose between this error, or getting a warning saying something like cannot update package using existing version.

[2020-05-14 11:01] madebr opened #7017 "[feature] visual_studio generator that generates a .prop file for each dep"
While [creating a recipe for cpython](https://github.com/conan-io/conan-center-index/pull/1510), I had to patch the Visual Studio solution to make it use the conan dependencies.
For this, I made use of the [visual_studio generator](https://docs.conan.io/en/latest/reference/generators/visualstudio.html).

But the generated property files (`conanbuildinfo.props`) automatically includes the directori

[2020-05-14 11:19] memsharded commented on #7017
Yes!
We definitely want to do this, not the first time it is requested. It is in our todo list.

This was proposed first time by https://github.com/conan-io/conan/issues/1338, cc/ @birsoyo, and we have good tips from them to implement this.

[2020-05-14 12:09] memsharded commented on #7016
Hi @barmaglot27

Some ideas:

- ``libB/1.0.0+1`` this way of specifying version is called "build metadata" in semver. There is NO guarantee that ``libB/1.0.0+2`` resolves later than ``libB/1.0.0+1`` in a version range. Any build metadata can be used to resolve a version range.

- Definitely, build_requires do not participate in the "product" graph. They are added later, only if it is necessary to

[2020-05-14 14:16] jgsogo commented on #7015
Hi @Viatorus

`conan install` can be called with the `--profile` argument to, so you can use any profile other than the default one. Use your same `--profile=testing` and it will be used for your install command: `conan install .. --profile=testing`.

Maybe I'm not understanding you scenario.

[2020-05-14 14:17] danimtb commented on #7012
In theory, you should be able to create packages using QNX as any other compiler as documented here: https://docs.conan.io/en/latest/integrations/cross_platform/qnx_neutrino.html

I see in the Conan codebase that `CMAKE_SYSTEM_NAME` is being populated with `QNX`, and ``tools.get_gnu_triplet()`` is prepared to handle cross-compilation flags.

I have no experience with QNX so I will ping @SSE4 for s

[2020-05-14 14:18] barmaglot27 commented on #7016
Hi, @memsharded, I was following [conan docs](https://docs.conan.io/en/latest/devtools/build_requires.html) that suggest to add testing framework in build_requires. It is our test framework based on Boost unit tests. Looks like build requirements cannot have dependencies intersecting with regular requires. Because the moment they do and there is a conflict - it cannot be resolved. That is why I wa

[2020-05-14 14:23] jgsogo commented on #7014
Hi, @derived-coder .

Right now the logic is that the profile is used to generate/retrieve the binaries and the `virtualxxxenv` generator populates the environment with the variables **from the packages**. Changing this wouldn't be possible without breaking existing behavior and I don't think it would be a better approach.

Usually, you use the virtualenv generators to populate the PATH with appli

[2020-05-14 14:24] georgevlad91 opened #7018 "optional or multiple toolchain for cross compiling building"
Hello,

I was trying to create a conan recipe which has the cross compilation optional, and the option can be set from cmd.
As I couldn't find something like that in documantation i improvised and i added an option flag "with_toolchain":
`options = {"with_toolchain": [True, False]}`
and added it as condition for build_requirements:
[code]
and as condition for sysroot flag:
[code]
From cmd i can is

[2020-05-14 14:26] danimtb commented on #7013
@saimusdev have your tried using the [`deploy` generator](https://docs.conan.io/en/latest/reference/generators/deploy.html)?

It can be used as a regular ``genrator = "deploy"` in your recipe as well. That will allow you to get the package contents of `deployable-package` (similar to the `imports()`) to the installation folder of `consumer-package` and perform any required operation right before t

[2020-05-14 14:33] jgsogo commented on #7018
One approach would be to dynamically add the build_requires in your profiles. You can have one profile for each of your toolchains:

[code]

When using one of these profiles, `build_requires` are _injected_ to all the packages in your `host` graph and you don't need to hardcode them in the recipe or to add any option to your recipes (you still need to handle the `sysroot`).

Let me know if you thi

[2020-05-14 14:45] memsharded commented on #7015
Hi!

I think the problem is that env-vars are not passed or digested by default by build systems. Depending on the build system (cmake?) it should provide some explicit mechanism to handle these variables. For example:

[code]

You could try to use CMAKE_CXX_FLAGS, but be aware that this overwrite the Release/Debug CXXFLAGS defined by cmake, so it is a problem. This is why Conan uses CONAN_CXX_FLA

[2020-05-14 14:49] saimusdev commented on #7013
@danimtb that's more or less what I did, but instead of using the deploy generator and moving files (with `os` or `shutil` as sadly there are no `conan.tools.copy()` to move around files in the system, outside of the recipe / conan folder context) in the `build()` function, I did it in the `imports()`:
This is what I came up with:
[code]

What do you think? any better suggestions, obviously a part

[2020-05-14 15:19] DmitrySokolov opened #7019 "[bug] 'Visual Studio' settings are incorrect."
To date there are following settings for 'Visual Studio' compiler:
[code]
The item ` runtime:` should have the following values: `[dynamic, static]`

**The reasons:**

You can not use flags `MDd, MTd` in release builds (and vice versa):
1. There is the special warning for this case - https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-warning-lnk4098?view=vs-2019
2. The do

[2020-05-14 15:26] georgevlad91 commented on #7018
This was very helpful. Don't know why I haven't thought about this option before. Thank you very much.

[2020-05-14 15:43] Viatorus commented on #7015
I see, we would have to extend or add a custom CMake generator.

Thank you. :)

[2020-05-14 15:43] #7015 closed, assigned to nobody

[2020-05-14 16:11] cguldner opened #7020 "[bug] Base Conanfiles don't affect --build cascade"
It would be ideal if changes in a base conanfile would be considered when you do the `--build cascade` build policy on a package `create`. A base conanfile is an essential part of derived conanfiles, so I think it would be logical that a change in the base would cause a rebuild of derived.

Here is my setup:
* My base conanfile `BaseConan`
* `libA` which inherits `BaseConan`
* `libB` which inherit

[2020-05-14 16:17] dbenner opened #7021 "[feature] Passing dependency version info to conanbuildinfo.cmake"
Summarizing what I'd like to be able to do and where I am stuck:

1) Conan installs dependencies, e.g. zlib/1.2.3, boost/1.70.0, etc.
2) Conan puts the above version info into conanbuildinfo.cmake
3) CMake uses the variables passed in from conan to generate a .h file that documents which external dependencies are used in the build so that the application can display it, save the info, etc.

I am s

[2020-05-14 16:30] cguldner commented on #6041
@jgsogo This would also be a useful feature for recipes that don't have `export_source` and just want to rebuild when the source changes, when the `revisions_enabled` feature isn't an option due to an unsupported Artifactory version. Maybe it could be a new build policy like `--build=sources_outdated`?

[2020-05-14 17:05] memsharded commented on #7020
The current approach for this would be:

- Make sure to use the new ``python_requires``, that use a class attribute, not a function call
- The new ``python_requires`` when they are modified, they can affect their users ``package_id``
- Define a versioning convention for your python_requires, that define when they require a re-build of the consumers or not. The default ``package_id_mode`` is ``mino

[2020-05-14 17:09] cguldner commented on #7020
@memsharded I am using the new `python_requires`, and I'm using `package_revision_mode` for fully deterministic builds. So you're saying in order to get other packages to rebuild, the only solution is to bump the version? Would this problem be solved if I had `general.revisions_enabled` turned on?

[2020-05-14 17:15] memsharded commented on #7020
If you want to use revisions for python_requires, you need to turn on the ``general.default_python_requires_id_mode=recipe_revision_mode``.

(Note it is a different variable ``default_python_requires_id_mode`` != ``default_package_id_mode``)

With that, every change to a python_require, even if you don't bump the version, will force a rebuild of its users.

We keep the package_id_mode of the pytho

[2020-05-14 17:38] cguldner commented on #7020
@memsharded Does that require `general.revisions_enabled` to be turned on?

[2020-05-14 18:03] jgsogo commented on #7019
Hi! Yes, this is something that we should probably revisit for Conan v2.0, without breaking current implementation it is not possible to change these default settings. I'm going to add it to the corresponding milestone.

Thanks for the suggestion

[2020-05-14 18:42] memsharded commented on #7020
Yes, otherwise the recipe revision is always "0". all "xxx_revision_mode" for regular packages and python-requires need revisions enabled.

[2020-05-14 19:11] #7020 closed, assigned to nobody

[2020-05-14 21:54] Johnnyxy commented on #5463
Building for QNX with Conan does not necessarily need any changes to the Conan code base. Updating the code base would be nothing else than an enhancement.

As you already asked at the bincrafters' issue tracker, I will point you over there. The attached files and instructions in here (https://github.com/bincrafters/community/issues/1041#issuecomment-569460055) is everything one needs to build for

[2020-05-14 22:38] Johnnyxy commented on #7012
@derived-coder
Hi,
your provided profile won't work and from my experience it will not be sufficient to only use a profile to do all the configuration work for QNX.

The common workflow to use the QNX compiler is to setup the system to support calling the ```qcc``` and ```q++``` out of the box from any path. For that there are two script files (.sh/.bat) in the QNX 7.0 installation folder which se

[2020-05-15 02:30] eyebrowsoffire opened #7022 "Apple Framework lookup in RelWithDebInfo build type doesn't work correctly in CMake Generator"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.4
  * Compiler+version: Clang
  * Conan version: 1.24.0

### Steps to reproduce (Include if Applicable)
1) Create a package that adds an additional framework search path (i.e. `self.cpp_info.frameworkdirs`) in the `package_info` step
2) Also have that package add a `self.cpp_info.frameworks` that

[2020-05-15 09:09] TheQwertiest opened #7025 "[bug][1.25.0 regression] 'NoneType' object has no attribute 'get_safe'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu
  * Compiler+version: gcc 5.4.0 (stock/Linaro)
  * Conan version: 1.25.1
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
- Create a following recipe:
[code]
- Create two profiles `native` (with stock compiler and arch) and `cross` (e.g. cross-toolchain and target arch `arm`).

[2020-05-15 09:20] TheQwertiest commented on #7025
Related feature: https://github.com/conan-io/conan/pull/6769

[2020-05-15 10:10] TheQwertiest opened #7026 "[question\rfc] meson: environment variable usage rework"
Current `meson` integration uses the following approach:
- Generate environment via `AutoToolsBuildEnvironment`.
- Use env_vars (which sets up `CXXFLAGS`, `LDFLAGS` and etc) from this environment when executing all `ninja`/`meson` commands.

There are two issues(?) with such approach:
1. All dependency information (include paths, library search paths, defines and etc) is passed via global environm

[2020-05-15 10:32] derived-coder opened #7027 "[bug] PkgConfig generator is failing for QNX"
My Problem is that for the generated PkgConfig files from conan do not work for QNX profile.

[code]

The `-ldlt` cannot be found, because the path is not correctly provided.

### Environment Details (include every applicable attribute)
  * Operating System+version:Ubuntu 18.04
  * Compiler+version: qcc 5.4
  * Conan version: 1.25.0
  * Python version: 3.6.9

### Steps to reproduce (Include if App

[2020-05-15 10:35] derived-coder commented on #7012
Hi @ Johnnyxy I am using parts of your profile, thanks. I got it also working to compiled stuff. Not for all configs, but at least for one.

My question for the team in charge, is it possible to add QNX setup in CI for conan-center?
That is the only way to make sue the recipes are working.

[2020-05-15 11:39] Johnnyxy commented on #7012
That every recipe / codeis just working cannot be ensured. As the QNX compiler has some problems of its own. Thus I think Conan could provide general settings. But not all recipes will just work out of the box only by providing these in the code base.
Maybe I have some time next week. Then I will have a look at the current Conan code base. As it has changed since I did my last examination of possi

[2020-05-15 12:29] richard-vock opened #7028 "GCC 10.1 support"
GCC 10.1 is not supported while out for a while as well as the official gcc in Arch Linux since today.

The list of allowed compilers in the current master branch only allow for versions up to 9.2.
Where can I change the list of allowed compilers? Note that the current releases of clang and gcc implement the majority of C++20, so this is quite important to some ;).

Best,
Richard

[2020-05-15 12:44] richard-vock commented on #7028
Argh. RTFM would have helped here. Error message even linked it. I will close this and feel bad for it.

[2020-05-15 12:44] #7028 closed, assigned to nobody

[2020-05-15 14:01] cguldner opened #7029 "[feature] Print git commands when print_run_commands = True"
It would be nice to have `git` commands from the `tools.Git` helper be printed out if the `print_run_commands` variable is set to `True`. Could even be a new configuration option if desired

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-15 14:20] UnderSampled opened #7030 "[feature] Symlink Imports"
When using an editable package, if that package is built as a shared library, then imports of the runtime binaries will become stale. This requires `conan imports` to be run manually whenever the editable is rebuilt, against the stated intention of the editables feature.
If editable imports were made as symlinks rather than copies, that would be sufficient in most cases to avoid running `conan imp

[2020-05-15 16:01] derived-coder commented on #7014
okay, that is a workaround.
@jgsogo
So you do not see a reason in order to implement this feature?

[2020-05-15 16:13] TheQwertiest opened #7031 "[question] How to access deps from `build_requires` with `profile:build`?"
Let's say I have the following recipe that I want to build with `conan create . @ -p:b native -p:h cross`:
[code]
How do I access info about `b2` dependency in such scenario?

Judging by the code, only *host* deps info is saved, but all info about *build* deps is *lost*: https://github.com/conan-io/conan/commit/33652d590a4eb32d0d29d8718c0c624010dae426#diff-763c60e9852172df23dc152b08051e53R503

- [

[2020-05-15 16:43] memsharded commented on #6995
Hi @witanswer

We have released 1.25.1 that solves some issues with the headers (resumable downloads). Could you please update and check again? Thanks!

[2020-05-15 17:19] memsharded commented on #7025
Hi @TheQwertiest

Thanks very much for reporting this. Indeed a bug. Not strictly a regression, this feature is still experimental, but I have submitted a https://github.com/conan-io/conan/pull/7032 pull request, and targeted for a potential 1.25.2.

[2020-05-15 18:19] #7009 closed, assigned to jgsogo

[2020-05-15 21:11] derived-coder commented on #7012
@Johnnyxy
I removed the
[code]
from my profile, as you correctly pointed out they are set via cmake toolchain file.

btw. That is how I set it:
[code]
There is `$PROFILE_DIR` which allows you now to use relative path to the toolchain, which gets to an absolute

[2020-05-16 00:36] braindevices opened #7033 "[bug] cannot export local repo when using scm with auto"
When source and conanfile.py in the same repo and using scm to automatic detect the version/revision, `conan export` fails when the repo is NOT dirty.

### Environment Details
  * Ubuntu 19.10
  * Conan version 1.25.1
  * Python 3.7.5

### Steps to reproduce (Include if Applicable)
create a git repo with conanfile.py like following:
[code]
commit everything make sure git repo is NOT dirty.

Then
[

[2020-05-16 00:42] acronce commented on #6416
I'm seeing the same problem with Xcode 11.4.1, even after updating to Conan 1.25.1.

I've done some printf debugging and it appears that CMAKE_BUILD_TYPE is undefined at the time that conan_find_apple_frameworks is called for a multi-config build. This results in the CONAN_FRAMEWORK_DIRS${SUFFIX} variable not being set to the defined per-config framework dirs (like CONAN_FRAMEWORK_DIRS_QT_RELEASE,

[2020-05-16 00:57] braindevices opened #7034 "[question] Is there any automatic way to obtain package_info?"
When project automatically generated the pc files, in theory, one can use the info giving by pkg-config to automatically generate the cpp_info. currently I have to glob inside the package/pkgconfig directory to find the pc file list. Then loop through it to call the tools.PkgConfig() to obtain all info. I wonder is there any built-in tools can automatically generate this info?

So far, if I do not

[2020-05-16 16:53] Knitschi commented on #6801
I worked around the problem by upgrading to Debian 10 (buster). This solved at least the download problem for the pcre package.

[2020-05-16 18:43] memsharded commented on #7017
I have decided to give it a go, because I had good info from @birsoyo, and proposed https://github.com/conan-io/conan/pull/7035, in case you want to try it, would be a good feedback.

At the moment it is a new generator, I don't want to mess with the existing one, even if we aim to provide backwards compatibility it is so easy to break users code. We can discuss later if it is interesting to provi

[2020-05-16 23:16] braindevices opened #7037 "[bug] deploy generator cannot overwrite the symlinks"
When deploy to previously installed location with libs which contain symlink, it will fail with error:
[code]
We should keep the behaviour consistent with libs which do NOT contain symlink: overwrite the destination.

### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 19.10, 20.04, Fedora30, 31
  * Compiler+version:
  * Conan version: develop
  * Pyth

[2020-05-17 01:15] shelper commented on #217
@memsharded  why we cannot directly do:

[2020-05-17 01:59] shelper opened #7038 "[question] Why conan cannot find my required package"
I have a package relies on opencv, so i put
[code]
and i have "opencv/4.1.1@conan/stable" in local cache, and based on the documentation,

this should allow conan to find opencv for mypkg, however, i got error:
[code]
but if i change to below, everything works, local cache found.
[code]

Also my second question is, if i remove my local cache of `opencv-4.1.1` and use the former requires of `opencv

[2020-05-17 12:19] johnmcfarlane opened #7039 "[question] What if a FindModule.cmake file doesn't match package name?"
Hi,

I'm writing a package manager-agnostic project with optional Conan support. I want users to be able to use cmake commands if, say, they use `apt` or `yum` to install their dependencies. But I also want users to use Conan to pull those packages in 'nicely' if they choose.

I've hit a problem with Google Test because the Conan package is called _gtest_ but the CMake module is called _GTest_.

I

[2020-05-17 20:40] memsharded commented on #7033
Hi @braindevices

I am having a look at this, I think it is expected behavior:

- When the repo is dirty, the ``"auto"`` in ``scm`` will be ignored, as it wouldn't contain reproducible data. Then it works. You should be able to read warning messages in the output, and if you try to upload the package, it will fail, because the ``scm`` contains the ``auto`` tags, not replaced. This flow was request

[2020-05-17 20:48] memsharded commented on #7034
Hi @braindevices

No, right now there is no way to automatically deduce the ``cpp_info`` in the ``package_info()`` method from cmake data. It is necessary to manually fill the ``package_info()`` method. So far, it has not been a big issue:

- The ``package_info()`` is usually not very long, it requires a few lines, that are written just once and not very difficult to write. And it is easy to under

[2020-05-17 20:53] #7022 closed, assigned to nobody

[2020-05-17 20:54] derived-coder opened #7040 "[bug] conan search with recipe reference, does not work with artifactory"
Conan search does not work as expected, especially with the table mode

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc8
  * Conan version: 1.25.0
  * Python version: 3.6.9
  * Artifactory Version 6.18.1

### Steps to reproduce (Include if Applicable)
 Here see all my commands and output
[code]

Why is `conan search

[2020-05-17 21:08] memsharded commented on #7040
You are using an erroneous search pattern. The ``conan search zlib/1.2.11@`` means, look for all binaries of the recipe reference ``zlib/1.2.11`` without user/channel. You want to do ``conan search zlib* -r=remote`` or ``conan search zlib/1.2.11* -r=remote``

[2020-05-17 21:12] memsharded commented on #7038
Hi @shelper

When you define your requirements, you need to put them explicitly. If you have in your cache or in your server ``opencv/4.1.1@conan/stable``, you need to put in your recipe:

[code]

The ``opencv/4.11@`` syntax is for command-line only, to differentiate it from a path, as the ``conan install`` command accepts either a path or a reference (we are changing this in Conan 2.0 new command

[2020-05-17 21:19] memsharded commented on #7027
Quick question: who is providing the ``-ldlt`` library? Is it a ``system_libs``? Is it defined in ``package_info()``?

If it is a system_libs, the responsible of providing the path to it should probably be the build_system, not Conan (this is the main reason, it is called a ``system_lib``, because it is not managed by Conan, and Conan doesn't know where it is located in the filesystem)

[2020-05-17 21:26] braindevices commented on #7034
For projects like gstreamer which create many libs/targets and the number of libs change when settings are different, automated package_info() will be very useful. For pure cmake projects which doe not create pc file normally export their targets. In this case it can be used simply expose the `package/lib/cmake` folder into current project. Patching their cmake script to automatic generate pc file

[2020-05-17 21:37] memsharded commented on #7021
Hi @dbenner

Yes, this feature might make sense. It is a bit inconvenient to add it now, so I'd suggest to improve this while we stabilize all the generators (probably the ``cmake_find_package`` generators too, not only the ``cmake`` one, and other build systems too), for Conan 2.0.

In the meantime, you can access easily the versions of the dependencies and pass them to your build system, somethi

[2020-05-17 21:41] derived-coder commented on #7027
quick answer: `dlt` is actually the lib of the  `dlt-daemon` package which I am creating.
So it is not a system lib. the `test_packge` is actually failing. With gcc profile it works. With qnx not.

Here the package_info
[code]

Such a side node. I saw a lot of test_package using the plain ` ${CONAN_LIBS}` approach
https://github.com/conan-io/conan-center-index/blob/master/recipes/zstd/all/test_pac

[2020-05-17 21:49] memsharded commented on #7026
I agree it is worth improving this.
I would vote for approaching this directly in the new ``toolchain()`` approach, ongoing work here: https://github.com/conan-io/conan/pull/5919

This is the approach we are most likely to promote as default for Conan 2.0, and we are hopefully releasing it experimentally for CMake in next 1.26.

We would need some expertise in Meson for doing this the ``mesonic``

[2020-05-17 21:56] memsharded commented on #7039
Hi @johnmcfarlane

In theory, the ``self.cpp_info.generators["generator"].name`` should normalize the Conan package name and use the same one as the mainstream one, this is the current code:

[code]

I thought that the filename didn't actually matter, and cmake was case-insensitive in this regard, so the above was used only for the targets, but not for the filename. Is it the case that the Configx

[2020-05-17 22:46] johnmcfarlane commented on #7039
Hi @memsharded,

Thanks. Yes, `find_package` tries a number of different filenames but I think they are case sensitive. You can test this quickly by mutating the case of an argument to a `REQUIRED` package and seeing how it breaks.

However, I'm not impeded by this currently. I fund that `cmake_paths` is a satisfactory alternatively generator for me when using instructions [here](https://docs.cona

[2020-05-17 23:21] Manu343726 opened #7042 "[question] deps_cpp_info empty in test_package recipe"
As part of the `test_package` of my tinyrefl package I'm trying to `build_require` its codegen tool, which is packaged as `tinyrefl-tool`. I'm also changing all the recipes to make them version and channel agnostic, to make packaging easier (Version is read from git tag info). My `test_package` recipe is as follows:

[code]

But recipe processing fails because there's no ' "tinyrefl"'  entry in `d

[2020-05-18 00:14] shelper commented on #7038
that is clear, thanks!

[2020-05-18 00:14] #7038 closed, assigned to nobody

[2020-05-18 01:57] vklindukh opened #7043 "[bug] Error while downloading/extracting files with download_cache enabled"
conan randomly fails when download dependency (conan packages) if properties storage.download_cache enabled and general.parallel_download set to > 1

### Environment Details (include every applicable attribute)
  * Ubuntu 18.04 inside docker container
  * GCC 7.4
  * Conan version 1.24.0
  * Python 3.7.7

### Steps to reproduce (Include if Applicable)
1. multiply docker containers (ubuntu 18.04) r

[2020-05-18 08:13] memsharded commented on #7043
The cache synchronization mechanism is an InterProcessLock (from fasteners library), which is implemented via file locks. Being it a mechanism for inter-process, I am not sure it will work as a distributed synchronization, and multiple docker images sharing a cache might be the case.

Are all the docker images using the same users, permissions, configuration, etc over the shared folder? Is the pro

[2020-05-18 08:18] memsharded commented on #7042
Hi @Manu343726

You are trying to use a downstream information only in the upstream process. The ``deps_cpp_info`` is only fully available when you are building or packaging, but not when you are computing the dependency graph, and ``build_requirements()`` is in this case.

We are introducing the CONAN_V2_MODE variable, to start trying running things and prepare for Conan 2.0. Conan 2.0 will raise

[2020-05-18 08:19] memsharded commented on #7042
Maybe you can try checking the ``self.requires`` instead.

[2020-05-18 08:26] memsharded commented on #7027
A couple of quick tips:

- ``self.cpp_info.libs = tools.collect_libs(self)`` You are running this twice
- ``self.cpp_info.name = "automotive-dlt"`` You probably don't need this, this is mostly for integration of open source libraries. If the package is ``dlt-daemon`` it is recommended to keep that name, not change it, otherwise it is confusing.

I don't know what ``pkg_check_modules(DltDaemon REQU

[2020-05-18 08:48] jgsogo commented on #7025
This will be released in 1.25.2.

Thanks!

[2020-05-18 08:48] #7025 closed, assigned to memsharded

[2020-05-18 09:18] TheQwertiest commented on #7026
I'm not really familiar with CMake, so please correct me if I've misread\misunderstood smth: from what I've seen from #5919 and #5737 , the idea is to generate some `toolchain` cmake file that contains various information about flags and compiler (which remotely resembles `conan` profiles) and pass it via a proepr cmake argument\env variable.

Toolchain concept in `meson` is a bit different from t

[2020-05-18 09:24] derived-coder commented on #7027
okay, thanks for the input. I fixed this double collect.
I can uupload the whole recipe. However, you will be not be able to build it, because dlt-daemon depends on dbus, and this depends on more libs. Or do you want it anyway?

However, I want to bring your attention on the generated PkgConfig files from conan which I mentioned above, there is a difference visible like you can see. What is the re

[2020-05-18 09:32] derived-coder commented on #7040
@memsharded
This does not work either, you have to use quotes for `*` search
[code]

Please compare also with the documentation: https://docs.conan.io/en/latest/reference/commands/consumer/search.html#tabular-output

My commands are correct. When I execute all this commands with conan-center, it will work.
There is a bug with the artifactory used I guess. That why I have added the artifactory vers

[2020-05-18 09:46] TheQwertiest commented on #7026
The end result should look smth like this:
[code]

[2020-05-18 10:27] TheQwertiest commented on #7026
And the recipe would look smth like this:
[code]

[2020-05-18 11:34] braindevices commented on #7033
@memsharded I do not have origin in remote. But I think the behaviour is not expected. When there is no origin, I think one would expect that the auto is resolved to None.

Another thought about the behaviour when the repo has origin. Why it is necessary to clone from origin? It is very often to have local repo that we do not want to push to any remote yet. During export, all we want to do is to e

[2020-05-18 11:45] memsharded commented on #7026
yes, exactly, when we call it ``toolchain`` we don't refer strictly to the cmake toolchain. In this case, what you are calling ``def generate_machine_files(self):`` would be exactly the thing to implement in the ``toolchain()`` method.

The idea is that the ``toolchain()``, run at ``conan install`` time, generates all the files that are necessary to run the build system natively, as a developer, w

[2020-05-18 11:51] saimusdev opened #7045 "[question] Why are armv7ve and armv7-a not defined?"
## Why is `armv7ve` arch not defined in [settings.yml](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html#architectures) ?

### Doubts & concerns

- Is there a reason why the ARMv7ve architecture is non-existent in the settings YAML?
- Are binaries built for `armv7ve` and `armv7-a` (which I assume you defined as `armv7`, correct me if I'm wrong) ABI compatible? I would assume

[2020-05-18 11:51] memsharded commented on #7033
Hi @braindevices

It only clones when it is not local (i.e. when building it as a dependency, not with ``conan create``), otherwise it copies the code from the user cloned repo. So in case you are doing ``conan create`` it will never clone from origin.

This is exactly the behavior, Conan copies the local commits. But it will not update the ``revision: auto`` to the commit in case the repo is dirt

[2020-05-18 11:55] memsharded commented on #7040
Depending on the terminal you need to add quotes, it is not related to Artifactory vs ConanCenter. In Windows it can work without quotes, but in Linux you typically need to quote arguments with "*" otherwise they expand to the local folder before being processed by Conan (this is why the one complaining is ``zsh``, not Conan).

Please post here the result of
[code]

[2020-05-18 12:03] TheQwertiest commented on #7026
Amended both examples. Does that align properly with the *toolchain* idea?
How far is https://github.com/conan-io/conan/pull/5919 ? Can I use it as a basis? Or should I wait till it's implemented (and merged) completely before starting to work on `meson` implementation?

[2020-05-18 12:17] GrimSqueaker opened #7046 "[bug] conan config install fails when URLs are not available anymore"
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: n/a
  * Conan version: 1.25.1
  * Python version: 3.6

### Steps to reproduce
[code]

### Context
The problem is even more severe. I tried to use the new auto install of configs and stumbled upon this problem. Because issuing almost any command triggers a config install when the timer has passed. This is related

[2020-05-18 12:19] memsharded commented on #7026
#5919 is looking good so far, but surely still will change. I would suggest working on it once it is merged to the develop branch, no need to be released, but at least in develop, yes, to avoid having to repeat work. I am aiming to having it merged end of this week.

[2020-05-18 12:28] memsharded commented on #7046
Thanks for reporting this issue. Every stack trace is indeed a bug, and this needs to be fixed.

- If an origin of ``config install`` is missing a clear error reporting this should be provided. I think nothing else should be done here, no automatic removal of it or the like, not continuing with a warning, but an error.
- At the moment, editing the ``config_install.json`` is the only way to remove

[2020-05-18 13:26] braindevices commented on #7033
@memsharded @jgsogo I think the simplest way to fix this, is allow auto deduce to None when origin is missing. The revision can still stably obtained in this case so not entirely dirty situation.

[2020-05-18 14:53] GrimSqueaker commented on #7046
True for `config install`. The follow up question is: How to handle this situation with `config_install_interval = xy` and other commands than `config install`? Perhaps, they should treat this as a warning and and skip the config update.

Yes, for local workarounds this should do the trick. I thought I could simplify the future rollout of configurations and profiles to our 100 developers via this

[2020-05-18 15:25] jgsogo commented on #7033
I think it is ok if we maintain the `url=auto` for this use case too (IMHO, `None` would add an extra bit of information, but it'd make it more complex and it information we don't need in the cache). Conan will allow exporting the recipe, but it will block the upload. While exporting we can output the proper message.

[2020-05-18 16:20] dbenner commented on #7021
Looks like that should do the trick. Will give it a try.
Thanks @memsharded

[2020-05-18 16:25] jgsogo commented on #7014
Maybe this is an important use case for you. If you try to explain it and gather some traction from the community this is something that we can consider for Conan 2.0.

[2020-05-18 16:30] memsharded commented on #7033
This is assigned for 1.27, but as I see  #7048 already opened if it is good on time, we might add it for 1.26. it would need some new test (or maybe some minor fix to some existing test) to capture the correct behavior, please @braindevices ask for help if you need with the PR. Thanks for contributing it!

[2020-05-18 17:11] memsharded commented on #7046
I still thing that for auto-install it is an error too. We should make sure that it is not re-firing the auto ``conan config install`` again and again, blocking a fix, but that is a broken setup that should be explicitly addressed. Same policy as when a remote is not accessible, it will error. You need to explicitly disable it, but it will not skip it and continue without user intervention.

I see

[2020-05-18 18:35] cguldner opened #7049 "[feature] Add config option to scm to not auto checkout the repo"
There are times where I don't want the source of the repository to automatically be checked out just by having the `scm` object in the conanfile.py. I know I could just use my own custom attribute for that, but I want to use the `scm` object because it is documented and forces consistency

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.

[2020-05-18 18:55] cguldner opened #7050 "[feature] Set version to git hash when conanfile in different repo from source"
This is related to #6896. I have the same directory structure as described in that issue.

I'm wondering if it is possible to have the source from `scm` fetched before the `set_version` function is called, so that `self.source_folder` could be available in that function. That way, since my source is in a different repo, I could still dynamically get the git information of the source repo.

 If thi

[2020-05-18 19:02] derived-coder commented on #7040
@memsharded
this worked.

[code]

[2020-05-18 20:01] memsharded commented on #7040
Ok, thanks for the info @derived-coder

Then, it is not an issue, it is working correctly. Can we close this issue?

[2020-05-18 20:04] memsharded commented on #7049
The ``scm`` attribute doesn't checkout anything, only when it needs to build from source, and only if you are not running ``conan create``. You would need to be more specific, provide the conanfile you are using, the commands you are running and what would be the expected behavior.

[2020-05-18 20:12] cguldner commented on #7049
@memsharded Yeah I forgot there are multiple ways to build a package!

I'm running `conan create`. Here's a simplified version of my conanfile

[code]
I would just like an option to turn off getting the source from the `scm` object automatically when I run `conan create`. This is useful when I'm planning on checking out the code in the `source` function, particularly when I'm running through CI an

[2020-05-18 21:07] madebr commented on #7017
@memsharded
I've just tested #7035 on top of the cpython recipe and the required changes are minimal.

https://github.com/madebr/conan-center-index/commit/91d723f038b2cf960d9dcc78dc46d37cb9bc3da8

The only issue I was facing is that I had to import the `props` files at the correct location because `$(PlatformToolset)` is not defined everywhere apparently.
But once I found the correct location, the

[2020-05-18 22:06] memsharded commented on #7017
Cool, thanks for trying @madebr and the feedback. I see in https://github.com/madebr/conan-center-index/commit/91d723f038b2cf960d9dcc78dc46d37cb9bc3da8 a few other changes, regarding the build, that hopefully are not related to this change. In theory, this shouldn't affect or modify the build, just the dependencies info, so changes like ``"armv8_32": "ARM",`` are totally unrelated.

[2020-05-19 03:09] barmaglot27 commented on #6989
I spent a week researching revisions. We are indeed going to enable them and re-bootstrap all packages that we had in our Artifactory. The feature seams to add more clarity in package to recipe relationship. However, conaninfo.txt does not capture dependency revisions and without generated conan.lock cannot be used for any reference.
Was surprised that conan.lock is not automatically packaged alon

[2020-05-19 07:35] derived-coder commented on #7027
@memsharded
Any Idea? This issue is unfortunately a blocking issue for working with QNX

[2020-05-19 08:33] memsharded commented on #7037
Closed by https://github.com/conan-io/conan/pull/7044, will be in 1.25.2.

[2020-05-19 08:33] #7037 closed, assigned to nobody

[2020-05-19 10:53] jgsogo commented on #7046
Hi! I see here different feature request and almost all of them can be implemented in different ways, all of them valid. I really don't have a strong opinion about them, but I think that both _config install origins_ and _remotes_ need the same set of commands and behavior. Now that we are thinking again about the CLI maybe we get some answer from that perspective given the proposed commands to ha

[2020-05-19 11:13] memsharded commented on #7046
Yes, I would go for that

[2020-05-19 12:22] madebr commented on #7017
@memsharded
Indeed. These are totally unrelated.
I had to start my Windows box for implementing this and used the opportunity to test all variants again.

[2020-05-19 13:08] dbenner commented on #7021
Hmmm, partial success.  Works on Linux where I just run `conan build`.

However when developing on Visual Studio (2017), VS calls CMake which uses [cmake-conan](https://github.com/conan-io/cmake-conan), so `build()` never gets called. Here's the Cmake code:

[code]

That's why I wanted to get the version info into `conanbuildinfo`, as I just include that file after calling `conan_cmake_run()`.

[2020-05-19 14:08] memsharded commented on #7021
Ok, I understand, we will try to add it, but it seems challenging before 2.0, lets see what is possible.

What I would like to know more is why you are following a different flow in Linux and Windows, and why using cmake-conan in Win (even if I am the main contributor to cmake-conan I am not a big fan of it). The cmake-conan works when working as a consumer, but in the ``conan create`` flow, it wi

[2020-05-19 16:00] chhitz opened #7053 "[bug] #6994 not in 1.25.1"
Contrary to the release notes, the changes from #6994 are not contained in 1.25.1

### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.25.1
  * Python version: any

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2020-05-19 16:04] memsharded commented on #7053
Hi @chhitz

Yes, there was a mistake, it was merged to develop, but not to the 1.25 branch, so it was not released in 1.25.1. We have put these changes in release/1.25 branch, that we plan to release asap (today or tomorrow).

This issue means that we should fix the changelog, so assigning it to 1.25.2 in the docs.

[2020-05-19 16:46] saimusdev opened #7054 "[bug] conan info --paths on conan editable pkgs"
## conan info --paths on conan editable packages does not work
Conan version: `1.25.0`

I've seen you already have [a card in-progress regarding this issue](https://github.com/conan-io/conan/projects/1#card-15858545), so I assume you're already familiar with this and don't need a long explanation.

CC/ @lasote

### Motivation
Pretty standard use case, I think:
I have a requirement to ask Conan abo

[2020-05-19 20:18] foundry-markf opened #7055 "[question] Export package behaviour when choosing to specify a package folder or not"
In past recipes we've written, CMake `configure()` has been called from both `build()` and `package()` functions, as described in https://docs.conan.io/en/latest/howtos/cmake_install.html, to do the CMake build in the recipe's `build()` and CMake install in the recipe's `package()` methods.

I've been experimenting to see if a CMake install target could be executed in the Conan `build()` method. T

[2020-05-19 22:01] memsharded commented on #7055
Hi @foundry-markf

Thanks for your detailed report, including the gist with code.

I think the issue is lying in the ``conan export-pkg`` having 2 different behaviors:

- If no argument is provided, it assumes it is packaging from a ``build_folder`` and a ``source_folder``, that is, the actual ``package`` has not been created yet
- If the ``--package-folder``, ``-pf`` argument is defined, it under

[2020-05-19 22:21] derived-coder opened #7056 "[bug] PkgConfig generator is broken, when using multiple includes"
When using multiple includes path in
[code]

This will lead to a wrong generated PC file from conan.

### Environment Details (include every applicable attribute)
  * Operating System+version:Ubuntu 18.04
  * Compiler+version:gcc8
  * Conan version:1.25.1
  * Python version:3.6.9

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable

[2020-05-19 22:51] vklindukh commented on #7043
Most likely at that particular moment only 1 docker container has been running. However the environment is dynamic (K8S cluster) and it's hard to catch, which process are running on particular K8s node when error occurred.

docker containers running with same user, same mount path to conan download cache, same conan version. The possible differences between containers are
- build_type (Debug/Relea

[2020-05-20 05:51] dbenner commented on #7021
Most development is on Windows/VS, the team has gotten used to doing everything in the studio. As VS only knows how to call CMake out of the box, I was glad to find cmake-conan to bridge the gap to Conan.

I am indeed purely a consumer, not building a Conan package, just consuming others. Not calling `create`, only `install` and `build`. On Linux cmake-conan does not get called.

[2020-05-20 08:52] memsharded commented on #7043
We need to investigate this further. In the meantime, I'd suggest the following:

- disable the download_cache
- Use a local ArtifactoryCE to share among those images, in the same server. The downloads will be really fast, and the slowest part, which is the unzipping, still happens when using the download_cache. Please let me know if this helps.

[2020-05-20 13:20] dovydas-girdvainis commented on #7005
Hey @markgalpin, thanks for your input and sorry for the long delay!

I checked our *artifactory-request.log* and there seems to be only Responses with code 200 (for reference: [artifactory-request.log](https://github.com/conan-io/conan/files/4656973/artifactory-request.log))

Here is our [artifactory-service.log](https://github.com/conan-io/conan/files/4656992/artifactory-service.log) log file as

[2020-05-20 13:40] Prasaddiwalkar opened #7057 "revision_mode for scm not creating versions for packages"
I am using `revision_mode` as following in my conan recipe.

Even if I execute same commands through GitLab CD-CD pipeline push does not create multiple versions in artofactory

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 64bit
  * Compiler+version:
  * Conan version: 1.25.1
  * Python version: 3.8.1

### Steps to reproduce (Include if Applica

[2020-05-20 14:03] memsharded commented on #7056
Hi @derived-coder

I see that the indexing could be more intuitive, seems a small mistake there. But shouldn't be an issue, because the way it is used later:

[code]
So the name of the local variable is irrelevant, as it is used correctly later. Can you clarify why is this a problem?

[2020-05-20 14:23] canatella opened #7058 "[question] Reusing cmake for package method implementation"
The documentations says (https://docs.conan.io/en/latest/howtos/cmake_install.html):

    Mind that you need to configure CMake both in build() and in package(), since these methods are called independently.

This does not explain why the need to call `CMake` configure method again in the `package` method. I get that the method might be called "independently", but the `package` method will always

[2020-05-20 14:25] memsharded commented on #7056
Proposed https://github.com/conan-io/conan/pull/7059, to investigate this, but please let us know about the above comment

[2020-05-20 14:56] #7056 closed, assigned to memsharded

[2020-05-20 14:57] memsharded commented on #7056
Merged, fix will be in 1.26. But please still comment on the above.

[2020-05-20 15:03] memsharded commented on #7058
This is a very good question.

Indeed, at least part of the issue is that the ``CMake`` build helper keeps some state, that is defined in the ``configure()`` method.

We should definitely get rid of this. But it is a bit risky to do it with the current helper without breaking, I suggest to design the new ``toolchain()`` one with this in mind. (https://github.com/conan-io/conan/pull/5919)

[2020-05-20 15:06] memsharded commented on #7057
Hi @Prasaddiwalkar

To use revisions there are 2 important things:

- You need to enabled them, they are disabled by default. In ``conan.conf``. Make sure all your clients have revisions enabled.
- It seems that you are using an old Artifactory. Which version are you running? You would need to update to a more modern one with support for revisions.

[2020-05-20 15:49] memsharded commented on #7043
To make sure: It is possible to setup ArtifactoryCE that is running locally to act as a cache of other remote Artifactory, with the Artifatory ``remote`` (and also ``virtual`` for aggregations) repositories.

[2020-05-20 16:17] markgalpin commented on #7005
Something is wrong.  Try setting the base URL in the [general settings](https://www.jfrog.com/confluence/display/JFROG/General+System+Settings) including the protocol (e.g. http:// or https://)  Usually also the reverse proxy contains a line with the base URL:

[2020-05-21 00:49] vklindukh commented on #7043
With download_cache disabled it works perfect and never throws error.
We are using locally installed Artifactory server with Commercial license. Download+unpacking takes up to 5 minutes, we have lot of conan dependencies and some of that conan packages are really heavy (1-2G)

[2020-05-21 06:47] Prasaddiwalkar commented on #7057
Hi @memsharded

I am using Artifactory Community Edition for C/C++ - 6.4.1 rev 60401900

I have modified conan.conf with following before running the revisioning on conan client host

[code]

Which version of Jfrog supports revisioning_mode for conan?
In my organization we have production environment of `Artifactory Enterprise 6.18.1 rev 61801900`
Does this version of Artifactory supports Revision

[2020-05-21 07:21] Prasaddiwalkar commented on #7057
as per document https://blog.conan.io/2019/04/01/New-conan-release-1-14.html

revisioning is supported in version  `6.9 version of Artifactory ` But I dont find 6.9 version to download any where on jfrog site

[2020-05-21 07:50] foundry-markf commented on #7055
Hi @memsharded,
Many thanks for your reply.

What you wrote makes complete sense, and I agree with it.

I modified the export-pkg command in your suggestion a little, to make it copy just what was installed by CMake, rather than all files and artifacts from beside the recipe:

[code]

and that works as expected now. (So it's just mimicking what Conan chooses for a package folder internally when -p

[2020-05-21 08:26] memsharded commented on #7057
If you are upgrading you should probably not upgrade to the minimum version that supports it, but to the latest one. There might be bugfixes that were done after the first release of Artifactory with support for revisions.

- You have links to Artifactory CE 6.19 in our download page: https://conan.io/downloads.html

- Latest 7.4, the recommended one is in: https://bintray.com/beta/#/jfrog/product

[2020-05-21 08:29] memsharded commented on #7055
If the question has been addressed, we can close it now. We will keep track of the ideas for Conan 2.0, no problem.

Thanks for the feedback!

[2020-05-21 08:29] #7055 closed, assigned to memsharded

[2020-05-21 09:48] timbrown5 opened #7060 "[question] Does Conan look for the latest RREV for the latest RREV for the current profile?"
Background:
We are trying to use Conan to support multiple OSs. Previously, we found there we had conflicts when trying to host both CentOS and Ubuntu builds of common dependencies (like boost), so we added a profile which specifies `conan.settings.os.distro=centos_x_x` and `conan.settings.os.distro=ubuntu_x_x`.
This has enabled us to have multiple builds of the same RREV (we use SCM revision mode

[2020-05-21 11:16] memsharded commented on #7060
Yes, this is expected behavior. The thing is that it is not possible or even desirable to block or atomic lock a recipe in a server that can add more binaries later. Revisions will guarantee that you are getting the thing that you want, if there were changes in the SCM and it was uploaded with a new RREV, then yes, trying to install package binaries for it that haven't been uploaded yet, will fail

[2020-05-21 12:29] SSE4 opened #7061 "[feature] expose msvc_toolset"
from https://github.com/conan-io/conan-center-index/pull/719#discussion_r398650536
some recipes are using private API `from conans.client.tools.win import msvs_toolset`
it would be nice to expose it

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-21 12:30] timbrown5 commented on #7060
Thank you for the quick response.
As you say, we can work around our problem adding an overarching pipeline which does:
[code]
We were thinking of something similar, but with the last step as upload. From your description, promote seems the better option.
This approach does seem to solve another headache we were conscious of:
 - if the Ubuntu build picked up a dependency at RREV1 and CentOS at RRE

[2020-05-21 12:35] SSE4 opened #7062 "[feature] add remove remove_files_by_mask helper"
it would be nice to add new helper to remove files by mask/pattern.
this is common code in conan center across multiple recipes already, as we need to remove .pdb, .la, .pc files, as well as sometimes we have to remove static/shared libraries (if both are built by we need only one configuration).
currently, recipes are using combinations of `os.walk`, `glob.glob` and `fnmatch.fnmatch`.

- [ ] I've

[2020-05-21 12:40] memsharded commented on #7060
Yes, upload can take a while, and in the meantime you will temporarily have incomplete packages. Doing it via Artifactory will be way faster.

Yes, exactly, the idea is that when you launch a build, you build the lockfiles from the "develop" repo, for all your configurations. Then you launch them, using those lockfiles to ensure that later possible changes to "develop" during the build doesn't cha

[2020-05-21 12:57] derived-coder commented on #7056
Hi, here is a reproducible test case:
[test-case-pkg-config.zip](https://github.com/conan-io/conan/files/4662514/test-case-pkg-config.zip)

the actual problem was this here:
[code]
This `C_INCLUDE_PATH`, why this leads to problem later with importing the pc file via cmake, dont know...

[2020-05-21 14:17] refactorTractor opened #7063 "[suggestion] graph lock node using relative path"
The graph lock inside the `conan.lock` file (that is generated in the `install_folder` when you issue a `conan install` command) can be used to have reproducible builds for a project's dependencies. It follows, that one would want this file committed to source control.

The root node in the graph lock always refers to the `conanfile.txt` in the `path` node attribute. This path is always an absolut

[2020-05-21 15:33] memsharded opened #7064 "Please feedback: Minimum CMake version required"
We are discussing about the new ``toolchain()`` feature (https://github.com/conan-io/conan/pull/5919), and what would be the minimum cmake version that will be required in future Conan 2.0 releases.

There are some goodies in latests CMake versions that we are already using in some parts of the toolchain:

- CMAKE_PROJECT_INCLUDE
- CMAKE_MSVC_RUNTIME_LIBRARY

We have been supporting back to cmake

[2020-05-21 17:02] tru commented on #7064
We stay on the latest at least within 6 months.

[2020-05-21 18:24] tonka3000 commented on #7064
The minimum I use is 3.7

[2020-05-21 19:16] torfinnberset commented on #7064
We are currently on 3.15, planning to move to 3.17 soon

[2020-05-21 21:50] syoliver commented on #6718
I have a very poc for cmake/cmake_find_package, and some questions on this feature [here](https://github.com/syoliver/conan/tree/add-components-to-generators). How can I help @danimtb ?

[2020-05-21 22:53] jpovedano commented on #7064
Currently using 3.12, planning to move to more recent versions sometime soon

[2020-05-22 01:25] andreya108 commented on #7064
3.10 (currently the latest officially supported by Android SDK)
But I hope they will update it...

[2020-05-22 08:02] letmejustputthishere opened #7067 "[question] gather source code of requires"
Hello everyone,
i'm currently looking for a convinient way to scrape the source files from the dependencies of a project that uses conan.

What i'm trying to achieve:
1. Having access to the project that uses conan i want to execute a script
2. This script goes through all the dependencies specified by conan (currently using `conan info . --paths -j` (note that all of this happens inside CI))
3. T

[2020-05-22 08:42] Monsieurvishal commented on #5094
I use windows 10
active environment : base
    active env location : C:\Users\Vishal\Anaconda3\New
            shell level : 1
       user config file : C:\Users\Vishal\.condarc
 populated config files : C:\Users\Vishal\.condarc
          conda version : 4.8.3
    conda-build version : 3.18.8
         python version : 3.7.3.final.0
       virtual packages : __cuda=9.2
       base environment : C:\

[2020-05-22 08:54] memsharded commented on #5094
@Monsieurvishal which version of Conan are you installing and how?

[2020-05-22 11:49] jgsogo commented on #7067
Not an answer, just sharing a couple of links that could be interesting:
 * https://github.com/conan-io/conan/issues/4382
 * https://github.com/conan-io/conan/issues/6944

[2020-05-22 11:52] jgsogo commented on #7031
Yes, that was intended. If it is needed we might consider a way to implement this behavior, but we really think that it shouldn't be needed, if the package `b2` belongs to a different context, what else do you need besides the environment (likely the runtime)?

What is your scenario? How did you work around it?

Thanks!

[2020-05-22 12:00] jgsogo commented on #7029
Hi!

Yes, probably it makes sense for commands using `Git` or `SVN` helpers, as we do for other helpers like `CMake`. Nevertheless I feel like it should output only the commands that are explicit in the recipes, but not other usages that Conan is doing in the internals (those commands could be using a git library instead of the command line).

wdyt? Should we print every usage of the command line

[2020-05-22 12:10] jgsogo commented on #7030
Hi!

First of all, I would think twice if using `imports` is the way to go. Usually it is enough to have the paths to your dependencies and link against them and, if needed, gather all the binaries from the dependency tree using the `deploy` generator.

If you can avoid using imports, then `editables` with a layout file should be able to work: the libraries would be used from the place where they

[2020-05-22 12:13] czoido commented on #7067
Hi @letmejustputthishere,

I would suggest that you try two options:

- If the consumer of the libraries is a `conanfile.py` you can try to access the folders for the dependencies using `self.deps_cpp_info["xxxx"]` and get the information there.
- You could also implement the scraping in a [conan hook](https://docs.conan.io/en/latest/reference/hooks.html) you will have access to the `conanfile` so

[2020-05-22 12:14] jgsogo commented on #7039
Hi!

The name assigned in the `self.cpp_info.names["cmake_find_package"]` modifies also the `FindXXXX.cmake` name.

Those two lines provided above by memsharded are exactly what the community is doing for the `GTest` recipe in Conan Center:

https://github.com/conan-io/conan-center-index/blob/83a7e1a6e7bcb46c933447618089c05e2ac9d6b0/recipes/gtest/all/conanfile.py#L92

[2020-05-22 12:14] TheQwertiest commented on #7031
@jgsogo , the problem is that deps from `build_requires` are treated VERY differently depending on a presence of  `--profile:build` (which will be illustrated in the example below).
I've first encountered this issue when trying to build `boost` package from conan central. I've had to hack the recipe to make it work with `--profile:build`:
[code]
This example show another problem (which I forgot to

[2020-05-22 12:23] jgsogo commented on #7045
Hi, @saimusdev

We provide in the default `settings.yml` a set of settings that are commonly used by our users and  we try to do our best on the helpers (CMake, Autotools,...) to take into account those settings and transform them into the proper flags to the build system.

You can always modify the `settings.yml` file to add more architectures or whatever you want, you can even store that file an

[2020-05-22 12:35] jgsogo commented on #7050
Hi!

I think this is not going to be possible, other people would request to know the `self.version` before checking out the sources... and I feel like this is much more common use case: you checkout a different tag based on the version of your package.

---

So, let's try to understand what you are trying to achieve: you want to have the recipe files in a different repository from the sources, an

[2020-05-22 12:38] jgsogo commented on #7054
Hi! Thanks for bringing this up.

Actually, I don't think you can use any workaround to bypass this error, the exception won't be in the command line implementation, but in the library, so behind any Python API you can call.

This can be really easy to fix, maybe just catching and exception or doing an if/else before gathering those paths.

Thanks!

[2020-05-22 13:12] cguldner commented on #7029
@jgsogo I think it might make the most sense to have a new config option, maybe `print_git_commands`. This would be really nice so that it is more clear what is happening, especially when debugging issues in CI

[2020-05-22 13:16] jgsogo commented on #7031
There is a way to get that information based on the existence of the attributes `settings_build` and `settings_target` (https://github.com/conan-io/conan/pull/6769). I agree it is not the best way and maybe we need something explicit if both modes are being used with recipes in Conan Center. The alternative (the future Conan v2.0?) is to use a default autodetected profile for `profile:build` if th

[2020-05-22 13:18] UnderSampled commented on #7030
We use `imports` directly according to the purpose described in the documentation: https://docs.conan.io/en/1.19/using_packages/conanfile_txt.html#imports

We have many runtime dependencies such as shared libraries, runtime-loaded libraries, config-files, and even executables (yes, there are some legacy decisions that have stuck with us). As stated in the document, "In Windows and OSX, the simples

[2020-05-22 13:20] jgsogo commented on #7029
I prefer not to add so many config options, it becomes harder to maintain and to understand. If the log output is good enough (probably something to improve) a `grep` over the lines should be enough to retrieve only those you are interested in.

My question was if you think that the output should contain only the commands that the user is running in the `conanfile.py` or also commands that Conan r

[2020-05-22 13:27] cguldner commented on #7029
@jgsogo Oh I understand now. I'm thinking just the commands that are explicit in the conanfile. Otherwise the user might get confused. Maybe the commands that Conan executes behind the scenes could be logged if the trace level is debug?

[2020-05-22 13:31] cguldner commented on #7029
@jgsogo But I think the more important feature to implement for now is just the explicit logging of commands that the user runs

[2020-05-22 13:32] TheQwertiest commented on #7031
Please, let us know if it works this way and you think it is a good way to use it. We really want to make this transition as smooth as possible.

Does it work the same ways for `.dll` as well? Will all the binaries from packages added through `build-require` be visible in PATH even without build profile?

[2020-05-22 13:37] cguldner commented on #7050
@jgsogo What I ended up implementing is a function in my base conanfile that gets the latest commit from the `revision` in the `scm` attribute. I then call this function in `set_version`
[code]
This is partially because our Artifactory instance is currently too old to support Conan package revisions. My use case is also more application development, where some sort of version tag doesn't make sens

[2020-05-22 13:39] saimusdev commented on #7054
Yeah, I understand than an exception will be thrown, the thing is I would like to get the `build_folder` (and less importantly the `source_folder`) even if the package is in `editable` mode.
Even if I capture the exception, thrown by the `conan info`, the result is: I have no information about the `build_folder` location in the cache.

Are you saying this can be fixed in conan API?

Thanks for you

[2020-05-22 14:40] jgsogo commented on #7031
Using `profile:build`:
---------------------

As you can see I the sources your linked (https://github.com/conan-io/conan/commit/33652d590a4eb32d0d29d8718c0c624010dae426#diff-763c60e9852172df23dc152b08051e53R510):

![image](https://user-images.githubusercontent.com/1406456/82678405-d814aa00-9c49-11ea-8395-a9b2c27adeb8.png)

PATH is populated with the directories from `bin`, so shared libraries sho

[2020-05-22 14:55] cguldner commented on #7050
@jgsogo I am using a build script, so the first idea that comes to mind is adding an argument to specify a revision to the build script, and then setting an environment variable that conan could then read. But I'm wondering if there is a more Conan-like way of doing that

[2020-05-22 15:03] jgsogo commented on #7050
If you cannot use revisions, then as your only option is to use the `version` to identify the commit, it would be much easier using revisions, but... update your Artifactory 😉

I don't know what you mean when you say _"I do think your suggestion for being able to specify a hash that doesn't exist in a package uploaded to Artifactory is a good one,"_.

Probably if you already have this workaround t

[2020-05-22 15:12] cguldner commented on #7050
@jgsogo

Based on my reading, I thought that with my recipe structure, package revisions wouldn't work since the revision is based on the repo that the recipe is in, and since my recipe isn't stored with the source, this wouldn't work?

_unless you want to create a package from an specific commit_, - this is what I meant

Ah, that PR is helpful, I'll be waiting for release 1.26!

[2020-05-22 15:22] jgsogo commented on #7050
The [**recipe revision**](https://docs.conan.io/en/latest/versioning/revisions.html) can be the commit of the repository or the hash of everything exported together with the recipe... let's think about the second alternative:

If the recipe is in a different repository and you want to capture the commit of the sources-repository you would need to write it somewhere (for example to [`conandata.yml`

[2020-05-22 15:35] cguldner commented on #7050
@jgsogo On the conandata.yml page it says

How would that work with having multiple recipe files in the same directory? It seems like there would need to be a way to specify the name of the conandata file

[2020-05-22 17:35] aminya opened #7068 "[feature] Both conanfile.txt and conanfile.py"
It would be awesome if we could use conanfile.txt, which has a simple clean interface, to define the static dependencies, and then use conanfile.py for the dynamic dependencies.

Having both allows having the bests of both worlds.

Using the only conanfile.py is not desirable all the time because of its more complex architecture.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-i

[2020-05-22 17:37] Flow-It opened #7069 "[bug] Ninja as Cmake generator is not picked up"
### Environment Details (include every applicable attribute)
  * Operating System+version: Arch Linux
  * Compiler+version: GCC 9.3 and GCC 10.1
  * Conan version: 1.25.1
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)
Add `CONAN_CMAKE_GENERATOR = Ninja` to conan.conf. Make sure its the only like where this exact env var is set.
Run conan create for any Cmake project.

##

[2020-05-22 17:47] memsharded commented on #7069
Seems to work fine here (windows):

[code]

Can you please run the above commands (with ``export`` in your case) in your system and paste output here?

[2020-05-22 17:49] memsharded commented on #7069
Sorry, nevermind, yes, I see, when using it from the conan.conf, it is not being used. Need to check more thoroughly. Thanks for reporting this.

[2020-05-22 20:15] 0x8000-0000 opened #7070 "[bug] Invert the logic of _GLIBCXX_USE_CXX11_ABI ?"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc9
  * Conan version: 1.25.1
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)

The default for _GLIBCXX_USE_CXX11_ABI is 1 for several years now. Can we invert the logic of compiler.libcxx to use libstdc++ancient for the older version and use libs

[2020-05-22 20:35] wdobbe commented on #7064
Some of our older Yocto SDKs are on CMake 3.12 so that is the current minimum in our company.
However it wouldn't be a problem if Conan 2 would require a newer CMake version, we would simply use the Conan cmake package i.s.o. the cmake in the SDK.

[2020-05-22 20:39] DukeOfKirkcaldy commented on #7064
3.15, planning to move to 3.17

[2020-05-22 20:52] memsharded commented on #7069
Ok, I see where the problem is. The env-vars follow syntax of env-vars, while conan.conf is doing more of a ``ini`` file. In the ``conan.conf`` you should have:

[code]

set it with
[code]

Have a look to: https://docs.conan.io/en/latest/reference/config_files/conan.conf.html

In any case, please try to use env-vars better from profiles (using profiles is very recommended), instead of in ``conan.c

[2020-05-22 20:59] memsharded commented on #7070
Hi @0x8000-0000

I am not sure I understood that. Is that you are using the default auto-detected profile that is using ``compiler.libcxx=libstdc++``?

If that is the case, this is not a bug, this is by design, and cannot be changed without breaking. The reason it is this way is because of wider binary compatibility with older distros, even modern compilers can't upgrade to libstdc++11 in older di

[2020-05-22 21:01] memsharded commented on #7068
Not sure if I understand this issue. You can have both files if you want, and use the one you want explicitly with ``conan install conanfile.txt`` or ``conan install conanfile.py``.

[2020-05-22 21:06] aminya commented on #7068
I want to use **both** in a single `conan install` command. First, installing static deps using conanfile.txt then dynamic deps using conanfile.py

[2020-05-22 22:05] braindevices opened #7071 "[question] tools.replace_in_file does not work in package()"
During `package()` I want to replace some string in the files in package folder. But when I do `tools.replace_in_file('bin/some.sh', '@somepath@', self.package_folder)` It always said cannot find target file. But if I use `os.path.join(self.package_folder, 'bin/some.sh')` it works. From the document it seems only modify the files in source folder. However, I did not find any code actually limit th

[2020-05-22 22:43] braindevices opened #7072 "[bug] self.source_folder is empty in deploy()"
In some cases during deploy we still need to copy some data from source to output_path. For example, a script template which export some environment variables as LD_LIBRARY_PATH containing current absolute lib/ path. However, in deploy() the self.source_folder is set to None. It is preferred to set it to correct value.

### Environment Details (include every applicable attribute)
  * Operating Sys

[2020-05-22 22:43] braindevices opened #7073 "[bug] self.source_folder is set to None in deploy()"
In some cases during deploy we still need to copy some data from source to output_path. For example, a script template which export some environment variables as LD_LIBRARY_PATH containing current absolute lib/ path. However, in deploy() the self.source_folder is set to None. It is preferred to set it to correct value.

### Environment Details (include every applicable attribute)
  * Operating Sys

[2020-05-22 23:03] #7073 closed, assigned to nobody

[2020-05-23 00:20] 0x8000-0000 commented on #7070
I have compiler.libcxx=libstdc++11 in my profile, and it injects the definition on the command line when building, even though it is redundant given the compiler version I'm using.

The [dual ABI](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html) page says:

So since it was introduced, on most distributions the value was 1.

What I am asking in effect is that for `compiler.libcx

[2020-05-23 00:21] 0x8000-0000 commented on #7070
This is the bug in clang-tidy: https://bugs.llvm.org/show_bug.cgi?id=42635

[2020-05-23 05:56] Flow-It commented on #7069
Thanks, that did the trick. Whatever your plans are, please don't forget to update the configuration. That's how I started it using it this way: https://docs.conan.io/en/latest/integrations/build_system/ninja.html

[2020-05-23 10:40] Artalus commented on #7064
3.13 at work, 3.17 at home. The only thing delaying rolling updates is laziness, we have to update several system images which is currently cumbersome to do "just because we wanted".

[2020-05-23 12:40] maichmueller opened #7074 "[question] Conan in cmake found, but can't install"
Hello,
I am trying to install Google Test using Conan in cmake on Ubuntu 19.04, Cmake 3.17+. I installed Conan via pip inside Anaconda3! I am using the following script to run the installs:
[code]

Cmake appears to find the conan binary, but then throws an error as it can't install:

The conanfile.py reads:
[code]

All the filepaths seem right to me. So what exactly is missing in this case? Or is

[2020-05-23 14:55] SongBase commented on #3983
I have also noticed this.  I have synced the README.md file from GitHub but all I see is an old version.

[2020-05-23 16:12] sourcedelica commented on #7068
Related to https://github.com/conan-io/conan/issues/6177

[2020-05-23 16:48] memsharded commented on #7068
What is the advantage of this? Why not using just a single ``conanfile.py``? I don't see the advantage of having both and using one after the other. In fact it will be source of hidden complexities:
- What if conanfile.py has the same dep but other version that conanfile.txt? Is it a conflict or should it be overriden silently?
- What about options and build requires conflicts?
- What when a packa

[2020-05-23 16:52] memsharded commented on #7069
Yes, this should be clarified in the docs. Moving the issue there, thanks for the feedback!

[2020-05-23 16:57] memsharded commented on #7074
Hi @maichmueller
I think this sounds more like a "conan.cmake" issue, not a Conan one, we might want to move it that repo, I am moving it there.

Also, it seems you are still using the old gtest. I would recommend to use the more modern packages from the new ConanCenter (https://conan.io/center/) (generated from conan-center-index repo https://github.com/conan-io/conan-center-index). Those are the

[2020-05-23 17:01] memsharded commented on #7072
Yes, the ``deploy()`` doesn't have access to the source folder. The source folder might not even exist, it will not exist if there were pre-compiled binaries, only the binary packages are downloaded from the servers.

So at the moment, this is by design, not a bug, you cannot collect/deploy sources from packages, unless those packages explicitly packaged their soruces in their ``package()`` method

[2020-05-23 17:08] memsharded commented on #7071
The issue is that the cwd for the ``package()`` method is the ``build_folder``, not the package folder. You package from the build folder to a new place. So the first argument you should use the ``os.path.join(self.build_folder, "bin/some.sh"))``.

Besides that, a word of caution: this ``package()`` method works at package creation time. The ``self.package_folder`` will be an absolute path in the

[2020-05-23 20:16] aminya commented on #7068
It makes it possible to separate the declarative/static part of the package management from the dynamic part of it. In addition to being easier to maintain, it allows using some tools.
For example, if a bumper tool existed, we could use that to bump the versions in conanfile.txt. But this is impossible in conanfile.py

[2020-05-23 21:27] barmaglot27 commented on #7064
CMake 3.9.6 as it is highest version that still supports HP-UX (pls don't judge)

[2020-05-24 00:33] memsharded commented on #7068
[code]

If you want to have a file with declarative requirements, you can do it as well, even without increasing the line count! (assuming that you have a file there called "myreqs.txt" with the requirements:

[code]
I have just tested this, works great, if this is what you want to do with your bumper tool.

There migth be other ways to do it, for example, use the ``conandata.yml``, which is an "o

[2020-05-24 01:49] patricia-gallardo commented on #904
Hi all :) , this is hitting me as well, because it means I can't move my CONAN_USER_HOME_SHORT directory, because the path to it is hard coded in my .conan - I can move my .conan, though. Is there any way to work around this now in 2020?

[2020-05-24 02:07] patricia-gallardo commented on #904
Note that the scm_source/.conan_link and source/.conan_link seem to be fixed up after a move, but not the short .conan_link files - they still have the hardcoded paths

[2020-05-24 04:57] blockspacer commented on #6651
I propose to add env var similar to
 `CONAN_REVISIONS_ENABLED=1`
to disable SSL checks in
`uploader_downloader.py`
(`self.verify = False`)

[2020-05-24 11:07] saimusdev commented on #7045
Ok, I understand.

As we've recently learnt that those variants might have e.g. ARM VFP4 vs VFP3 instruction sets,
https://embeddedartistry.com/blog/2017/10/11/demystifying-arm-floating-point-compiler-options
, which might lead to non bijective ABI compatibility across the different processor platforms, we've adopted your proposal of **adding those architecture variants to our `settings.yml`**, th

[2020-05-24 11:12] sboehmann commented on #6112
Same problem here. I build more than 300 packages on a CI using conan, cpt and docker _(to isolate all builds)_. Well, even if nothing has changed, the whole pipeline takes ~1h. Sure, most of the time is lost with starting docker containers, downloading dependencies and so on and I certainly should cache more things.

But every second I could save is very welcome. And since Conan already knows tha

[2020-05-25 06:08] Johnnyxy commented on #7064
I am using multiple but recent versions of CMake.
But I also had to use Linux distributions (Debian, older Ubuntu, openSUSE, ...) which had no recent CMake version available (including no Python 3). Some more conservative systems like Debian could be a good starting point for such discussions as they live a "long time".

The following table contains some examples of "older" distributions and their

[2020-05-25 06:30] tru commented on #7064
Fortunately there are Conan packages with CMake and the cmake website offers static binaries to download. I don't think much consideration should be given to really old dists since there is a easy way to upgrade.

[2020-05-25 06:54] Johnnyxy commented on #7064
Generally yes and specifially no :).
Yes, one can upgrade CMake (sometimes with some effort) as the source is available.
No, CMake binaries are only available for a limited range of targets (e.g. Linux x86 has been dropped since [CMake 3.7](https://cmake.org/files/v3.7/)). Coincidentally I have such case at the moment where I have to use an older openSUSE x86 variant (openSUSE 13.1 x86; CMake 3.11

[2020-05-25 07:18] Johnnyxy opened #7077 "[question] is settings.compiler.version manadatory"
Hi there,
I am using Conan 1.24.1. And I encountered an issue where I want to use the GNU Make system to build but Conan throws an error that ```settings.compiler.version``` has not been specified.

The conan recipe does not need the compiler version the make system is going to use. But when I use a profile that does not set ```settings.compiler.version``` and a recipe that sets the following line

[2020-05-25 08:53] kunaltyagi opened #7078 "[bug] Cross-compile failure"
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS Catalina 10.15
  * Compiler+version: See included profile
  * Conan version: Conan version 1.25.1
  * Python version: Python 3.7.7/Python 2.7.16

### Steps to reproduce (Include if Applicable)
Follow the example on the website. I thought it was a bug in my setup of conan-cmake, but I've eliminated both

[2020-05-25 09:05] Johnnyxy commented on #7078
This is no Conan problem.
CMake tries to compile some test code with your given compiler. But at link-time the GCC tries to link ```crt1.o``` which it cannot find.

Error log line:
```/Users/kunal.tyagi/workspace/cross/armv6-rpi-linux-gnueabi/bin/../lib/gcc/armv6-rpi-linux-gnueabi/8.3.0/../../../../armv6-rpi-linux-gnueabi/bin/ld.bfd: cannot find crt1.o: No such file or directory```

I am not famil

[2020-05-25 09:17] memsharded commented on #7077
Yeah, I am getting:

instead of the version.

Quick question: Which values are you passing in your profile? And: is it possible to have a compiler that doesn't have a compiler version? It seems it isn't. What are you trying to achieve?

[2020-05-25 09:27] kunaltyagi commented on #7078
It's not an issue with the cross-compile setup because I can use a toolchain.cmake correctly where `CMAKE_SYSROOT` is set to the sysroot used in the config file (`CONAN_CMAKE_FIND_ROOT_PATH`)

<details><summary>My toolchain.cmake</summary>

[code]
</details>

[2020-05-25 09:51] Johnnyxy commented on #7077
The scenario is that I am building [Vortex OpenSplice](https://github.com/ADLINK-IST/opensplice) that uses GNU Make.
The project uses many makefiles for different targets. But for GCC there is a [generic makefile](https://github.com/ADLINK-IST/opensplice/blob/master/setup/x86_64.linux-default.mak) out-of-the-box.

For crosscompiling reasons I am providing additional makefiles which specify a certa

[2020-05-25 09:57] jgsogo commented on #7054
Hi! I was having a look at this issue and I've found that getting `--paths` from an editable package is something not permitted, not an unhandled exception:

[code]

It shouldn't be considered a bug, but a feature request...

Are you getting an unhandled exception? Can you share the steps you are typing?

Thanks!

[2020-05-25 10:10] Johnnyxy commented on #7078
CMake executes the following command:
```/Users/kunal.tyagi/workspace/cross/armv6-rpi-linux-gnueabi/bin/armv6-rpi-linux-gnueabi-gcc --sysroot="~/workspace/cross/armv6-rpi-linux-gnueabi/armv6-rpi-linux-gnueabi/sysroot" -I"~/workspace/cross/armv6-rpi-linux-gnueabi/armv6-rpi-linux-gnueabi/lib/include"     -rdynamic CMakeFiles/cmTC_b2970.dir/testCCompiler.c.o  -o cmTC_b2970```

Which leads to this err

[2020-05-25 10:17] kunaltyagi commented on #7078
You might be onto something. Can `$HOME` be used in the profile instead of `~`?

[2020-05-25 10:19] memsharded commented on #7077
Yes, in the general case, if you don't specify otherwise, subsettings that doesn't have a ``None`` possible value are necessary. But you can always skip that in your recipes, like:

[code]
This doesn't fail. Does it help for your case? Of course you can make the ``del`` conditional to the OS or compiler.

[2020-05-25 10:21] Johnnyxy commented on #7078
Variable expansion of environment variables is supported by GNU Make and you could try ```$(HOME)``` or ```${HOME}```.
See here for more details: https://stackoverflow.com/questions/25185607/whats-the-difference-between-parenthesis-and-curly-bracket-syntax-in-ma

[2020-05-25 10:24] kunaltyagi commented on #7078
That doesn't help. In fact, CMake expands `~` because replacing it with `${HOME}` or `$HOME` results in CMake complaining that CC can't be found. Moreover, in the `~` version, the following log by CMake suggests that it is indeed expanded:
[code]

[2020-05-25 10:31] Johnnyxy commented on #7077
Hm, I do not think that this would help. As the recipe does not decide if it uses a compiler version or not. It does rely on the setting ```settings.compiler.version```.

The profile I or some user specifies can provide a version number or not.
The slogan for the recipe is: If there is a version, use it. If there is no version, no problem "generic".

The background with the profiles here is that w

[2020-05-25 10:31] #7077 closed, assigned to memsharded

[2020-05-25 10:36] memsharded commented on #6112
Hi @sboehmann

I am having a look at this. It might be possible, but very ugly and hacky in the internals right now, this is why I'd prefer to wait to improve this for Conan 2.0 (I would like to further decouple the ``test_package`` functionality in 2.0).

Still, I am not sure thi is the best way to go. With recent tools, like new ``package_id_mods``, lockfiles and the ``conan graph build-order``,

[2020-05-25 10:39] Johnnyxy commented on #7078
Yes, CMake can look for the compiler by some means. And it does this. But when it calls the compiler it provides arguments
```--sysroot="~/workspace/cross/armv6-rpi-linux-gnueabi/armv6-rpi-linux-gnueabi/sysroot" -I"~/workspace/cross/armv6-rpi-linux-gnueabi/armv6-rpi-linux-gnueabi/lib/include"```
which it just forwards as strings to the compiler. As you can see in my [former post](https://github.co

[2020-05-25 10:43] Johnnyxy commented on #7077
I was thinking a little bit more.
In general it could be fatal in some or many cases if Conan would not have a compiler version at hand to calculate an appropriate package id. This could lead to a GCC version 9 linking an stoneage library from GCC 4.

[2020-05-25 10:49] TheQwertiest commented on #7026
@memsharded , a follow up question (since I'm starting the work on the draft PR): what is the proper way to access env vars from build and host profile respectively?

[EDIT] I've looked around source code a bit and it seems it's impossible to do so. Hence a feature request: #7091

[2020-05-25 10:52] memsharded commented on #7077
Then you could be doing something like:

[code]
I think this will achieve what you want, you can pass the compiler version and it will use it, or you can ignore it if not provided.

You could also add ``None`` to the ``compiler.version`` field in the ``settings.yml`` file, and you will achieve the same result: be able to specify a compiler version, but do not fail if it is not provided.

But yeah,

[2020-05-25 11:02] Johnnyxy commented on #7077
Yes, the compiler always has a version. What I tried was to use what ever version is there without knowing it beforehand. Some way to execute just a plain "g++". But Conan still needs the version so I would have to detect the version in my recipe to set the correct version in the settings on configure. But Conan would not be able to know the compiler binary as the makfiles have them exclusivley sp

[2020-05-25 11:39] SSE4 commented on #7061
appears to be already exposed from the `tools.msvs_toolset`, only docs are needed.

[2020-05-25 12:22] braindevices commented on #7072
ok, make sense

[2020-05-25 12:22] #7072 closed, assigned to memsharded

[2020-05-25 12:26] braindevices opened #7081 "[question] how to return the system requirements path?"
The `_handle_system_requirements()` seems save returned value from `conanfile.system_requirements()` to `system_reqs/<hash>/system_reqs.txt`. I wonder what is this file are used for. In the document it never mentioned the `system_requirements()` need return value and what kind of value it should return.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.githu

[2020-05-25 13:05] jgsogo commented on #6810
It looks like you can have hardlinks in Windows with `mklink /h` (https://docs.microsoft.com/es-es/windows-server/administration/windows-commands/mklink) (cannot test it as I'm not running Windows). No idea if they behave the same on both OSs or what happens if you create the `tgz` in one of them and untar in the other...

I agree we need to work in this, Conan needs to support links, but IMHO thi

[2020-05-25 13:07] KepptnKool commented on #7016
I have a similar issue with autotools. Consider the following conanfile.txt
`
[requires]
zlib/1.2.11

[build_requires]
autoconf/[>=2.69 < 3]
automake/[>=1.16.1 < 2]
libtool/[>=2.4.6 < 3]
`

libtool has a dependency to automake/1.16.1. But the version range of automake resolves to 1.16.2 which results in a conflict.

The fact that build_requires are not resolved as normal requires greatly reduces t

[2020-05-25 13:07] jasal82 commented on #5059
Any progress on this? I think what we would need is something like an `install()` method that is called when a binary package is retrieved from a remote. The default implementation would unpack and copy the files into the package folder but we could override it to instead run the installer script for example. A `post_install()` would be fine as well.

[2020-05-25 14:51] DoDoENT opened #7083 "[bug] conan 1.25.2 breaks `init` method"
Consider this example:
[conan-issue.zip](https://github.com/conan-io/conan/files/4677731/conan-issue.zip)

Basically it boils down to this:

[code]

and this:

[code]

With `conan 1.25.2` the following command fails:

[code]

The error is:

[code]

With conan 1.25.1 this works as expected.

[2020-05-25 15:41] derived-coder commented on #7040
@memsharded
no, I still have the issue:
[code]

doesn't matter, wheter I quote or not quote.

[2020-05-25 16:38] fsecilia commented on #217
This is [astonishing](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).

Users can't just install `conan` and run `conan install <path to working copy>`. I have to include special instructions for users to either edit their default profile(!) or to specify a long configuration setting. This simply doesn't work out of the box.

It's 2020. The default should be libstdc++11, or it shoul

[2020-05-25 16:41] memsharded commented on #7040
If you specify ``"zlib/1.2.11@"`` you are specifying the FULL reference, it is not searching for recipes, it is looking for binaries belonging to ``"zlib/1.2.11`` conan-center package. You do NOT have that package in your remote, it seems you only have ``zlib/1.2.11@company/stable`` in your remote:

- Don't use a full reference to search for recipes
- Use a full reference to search for binaries

[2020-05-25 17:31] TheQwertiest commented on #7026
Note: Separate access for env vars is needed to generate both native and cross machine files (because meson might need to use compiler from build environment).

[2020-05-25 17:34] memsharded commented on #217
Hi @fsecilia

We wish, and we will change it asap, that means in Conan 2.0. In the meantime, we are committed to stability and not breaking users: https://docs.conan.io/en/latest/introduction.html#stable, and this will be a breaking change.

Python 2 is deprecated. I wish we could remove it, but there are still a few Conan users that depend on it. We are doing our best not to break them, as much a

[2020-05-25 17:35] memsharded commented on #217
In any case, the default profile is not recommended for production. Using your own profiles is the way to go. That will fix the issue.

[2020-05-25 18:08] jgsogo commented on #7045
Thanks for your comprehension. We would love to add all these settings, but it would be too much burden for the Conan client and for us to maintain all of them.

[2020-05-25 18:08] #7045 closed, assigned to jgsogo

[2020-05-25 18:44] jgsogo commented on #7050
Uhmm... interesting. Maybe this is a use case for the implementation of this PR (https://github.com/conan-io/conan/pull/6945, description of the PR doesn't match current implementation).

wdyt, @memsharded , can we write on-the-fly some content to `conandata.yml` in the `export` function? Probably as it is implemented now it is not possible, but does it make sense? Something to support?

[2020-05-25 19:16] SSE4 opened #7085 "[feature] allow hooks to extend conan command line interface"
it would be nice to allow conan hooks to extend conan command line interface to provide user-specified commands. this would bring more level to conan extensibility.

for instance, user may want to write custom command to display a `package_id` for the given recipe and settings. he may write his own hook, like:
[code]
and then use it like:
[code]

as a reference, right now Git offers similar thing

[2020-05-25 19:24] memsharded commented on #7085
I wouldn't mind to provide this functionality, and we should at least design the Conan 2.0 api and command line (cc/ @czoido) to consider this possibility. Probably it should be called "hooks", but "porcelain" or "command alias" or something like that, I think this is a different concept.

[2020-05-25 19:31] SSE4 commented on #7085
alias is also nice thing, but I suppose it's a little bit different. it's for providing shortcuts for long, but frequently used commands. e.g. `git co` might be a common alias to `git checkout`, or `git unstage` could be an alias to `git reset HEAD --`.

similarly, we may allow such thing for conan as well, e.g. alias `conan rm` to `conan remove -f`.

but here the suggestion is to provide brand ne

[2020-05-25 19:36] SSE4 commented on #7085
just in case, breakdown to the 3 smaller things here to avoid misunderstanding:

- alias or shortcut, provide shorter alternative for already available command (`conan remove -f` -> `conan rm`)
- git way: pick up existing tool/script named `conan-xxx` from the `PATH` and redirect arguments to it (`conan-lint.exe` -> `conan lint`)
- hooks way: provide `pre_cmd` conan hook to allow to register user-

[2020-05-25 20:48] sboehmann opened #7086 "conan graph build-order and ConanInvalidConfiguration"
I tried `conan graph build-order` before and it really sounds like this is the command I want to use. Still I could not figure out how.

What I was looking for when I began working with Conan was a command to get the total build order of all recipes that need to be rebuilt _(or be built at all because it does not yet exist)_.

The problem was that I just have a bunch of recipes locally - but nothi

[2020-05-25 20:50] sboehmann commented on #6112
Many thanks for your quick reply @memsharded

I've never read about `package_id_mods`. What is it?

Well, maybe I only asked this because `conan graph build-order` didn't work for me. Because of that
I took a different path and yes, I call `conan create` _(more precisely CPT's `build.py`)_ for each and every recipe. But now I think I really should use `conan graph build-order` - I just don't know

[2020-05-25 22:31] memsharded commented on #7083
I have tried the code and also reproduce from your snippet, and it seems it doesn't fail: https://github.com/conan-io/conan/pull/7087. Can you please check it, and check the test?

[2020-05-25 22:36] memsharded commented on #7040
Doesn't seem a bug, working as expected, can be closed.

[2020-05-25 22:36] #7040 closed, assigned to memsharded

[2020-05-25 22:46] memsharded commented on #7086
For production, we recommend the ArtifactoryCE, it is free, and it enables not only hosting Conan packages and pre-built binaries, but it also have generic repos (to host any type of file), plus RestAPI, and many other useful things.

If you have all your recipes in a common place, you can iterate the folders, I would try a different approach. You need first to ``conan export`` them. That doesn't

[2020-05-25 22:54] memsharded commented on #6112
``package_id_modes`` are the way to control what needs to be rebuilt downstream, based on the version and revision changes of the packages. Maybe have a look to:

- https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#using-package-id-for-package-dependencies
- https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#changing-the-default-package-id

[2020-05-25 23:27] braindevices opened #7088 "[question] deploy() is not called when put in requires"
I have a package A defined a `deploy()` method. if I do following, the `deploy()` method is called.
[code]
However, if I put the A in a conanfile.txt:
[code]
the `deploy()` is only called at the first time I run the following command. After that, even I deleted the deployed files, the `deploy()` is never called unless I do `conan remove`
[code]
Is this expected behaviour? How can I make make sure

[2020-05-26 02:12] madebr opened #7089 "[bug] apple-clang 9.1 is not c++17 compatible (but supports the flag)"
See https://github.com/conan-io/conan/blob/7f1ab00a39607b596146a9534ca49975000e4d4d/conans/client/build/cppstd_flags.py#L116-L119

These lines say that apple-clang 9.1 supports the c++17 compiler flags.
But the compiler does not support the underlying c++17 standard

apple-clang 9.1 missing the `variant` header, which is part of c++17.

This made [this build](https://github.com/conan-io/conan-cent

[2020-05-26 03:19] kunaltyagi commented on #7078
Using absolute path resolved the issue. `~`, `$(HOME)`, `${HOME}`, `$HOME`, nothing worked.

On a slightly related note, would accessing environment variables in the profile be allowed?

[2020-05-26 03:19] #7078 closed, assigned to nobody

[2020-05-26 06:39] artem-ogre opened #7090 "[bug] tools.unzip() does not put following output on a new line"
When calling `tools.unzip()` output is not moved to a new line causing subsequent output to start at the same line as `Unzipping 100 % `-message. Breaks command prompt if `tools.unzip()` was last command called (cosmetic annoyance).
Only happens with `.zip` archives.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: not r

[2020-05-26 06:40] Johnnyxy commented on #7078
Nice. :)
Regarding your note. Environment variables can be used but they are not resolved / expanded and forwarded as strings. Nothing in this regard is described in the docs ([see here](https://docs.conan.io/en/latest/reference/profiles.html)). Thus after Conan processed the profile every OS environment variable used as value anywhere will still be a string of the environment variable.

[code]

A

[2020-05-26 08:34] TheQwertiest opened #7091 "[feature request][xbuild] Access environment variables from --profile:build and --profile:host simultaneously"
Blocks https://github.com/conan-io/conan/issues/7026

Feature description:
Ability to access env variables from both --profile:build and --profile:host during `build`/`test`/etc steps.

Reasoning:
It seems that currently the only thing that is available from `--profile:build` during `build`/`test`/etc steps is `settings_build`, which contains only `[settings]` section of the profile. Env variables

[2020-05-26 08:56] memsharded commented on #7088
Yes, this is by design. ``deploy()`` is only called when you ``conan install <reference>`` not when it is a transitive dependency, or a dependency of a conanfile.txt. It is very annoying to have things copied to your local folder, just because some transitive dependency declared an imports() or deploy() method.

Are you sure this installs anything with deploy()? I don't think so. Please check agai

[2020-05-26 08:59] jgsogo commented on #7031
Does this answer your question? Do you think we can close the issue?

Thanks!

[2020-05-26 09:17] Yuri6037 opened #7092 "[bug] No module named setuptools"
Unable to install conan package manager on Github Actions: pip3 install fails with "No module named setuptools".
If there is a required dependency then conan should explicitly specify it in the python pip package.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: No idea what Github Actions uses probably gcc
  * Conan ver

[2020-05-26 09:23] TheQwertiest commented on #7031
Yes, it does, thanks!
"Using only one profile" scenario worries me a bit, but my current workflow does not have have this scenario, so it doesn't matter much for me =)

[2020-05-26 09:23] #7031 closed, assigned to jgsogo

[2020-05-26 09:37] DoDoENT commented on #7083
I don't get it. Yesterday it didn't work so I downgraded to 1.25.1. Today I upgraded back to 1.25.2 and now it works.

Sorry for the inconvenience. At least the new test in your CI is a good value.

I'm closing this in a fog of deep confusion...

[2020-05-26 09:37] #7083 closed, assigned to memsharded

[2020-05-26 09:58] jgsogo commented on #7030
Hi! I'm still thinking about this. I know executing things from CMake is a little bit hard when you need shared libraries, this is an issue we have faced in some of our examples (https://github.com/conan-io/examples/pull/17) and also in the `protobuf` recipe right now (https://github.com/conan-io/conan-center-index/pull/1179). I need to revisit both of them to see how it goes.

For the general use

[2020-05-26 10:28] memsharded commented on #7083
No problem, thanks for reporting! Better to have things reported and checked in tests that unreported bugs.

[2020-05-26 11:13] jgsogo opened #7093 "[research] Investigate symlinks and hard links"
There are many issues that talk about managing file links in Conan. Some (all?) of them are gathered into this project https://github.com/conan-io/conan/projects/30.

We need to define how it will look like in Conan v2.0 and see what can we do without breaking in Conan v1.xx, but first of all we need to have a clear idea about links in different systems.

 * What kind of links are supported in Win

[2020-05-26 11:15] jgsogo commented on #6810
We need to move this issue to `v1.27` at least. I've opened this other issue (https://github.com/conan-io/conan/issues/7093), we first need to do some research related to links in general and how we want them to behave in Conan, then we can think about all these more concrete issues.

[2020-05-26 11:57] uilianries commented on #7092
Hi @Yuri6037!

Could you please share your yaml file with the workflow description?

Currently, I use Conan + Github Actions, maybe some dependency is missing in your setup.

Anyway, I would say you need to install `python-setuptools` before:

    sudo apt-get install -y python-setuptools

[2020-05-26 12:17] #7033 closed, assigned to memsharded

[2020-05-26 13:20] Yuri6037 commented on #7092
Here is my YAML

[code]

EDIT: After forcing install for python-setuptools I get same error and apt says:

[code]

[2020-05-26 14:05] Yuri6037 commented on #7092
I found a workarround:

[code]

It seem that conan does not have the correct dependencies listed in the python pip package. I think conan should list setuptools as a dependency.

[2020-05-26 14:06] #7062 closed, assigned to nobody

[2020-05-26 14:36] uilianries commented on #7092
@Yuri6037 You should use Python setup for Github Actions. That's well documented: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions

Please, update your yaml file:

[code]

[2020-05-26 14:37] spoorendonk opened #7096 "[bug] Imported dependency licenses disappears from build folder"
#6429 # Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.25.2
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
- Make a new package
- Require a package
- Import license for dependeny as in [docs](https://docs.conan.io/en/latest/howtos/collect_licenses.html?highlight=lice

[2020-05-26 14:42] Yuri6037 commented on #7092
Thank you will try this, however I just fell on a bigger problem isatty is false on GitHub Actions which invalidates at least 2 of my tests so until GitHub Actions can support tty like Travis I won't migrate.

EDIT: Thanks anyways indeed adding actions/setup-python fixed it.

[2020-05-26 14:51] uilianries commented on #7092
Great! thanks for sharing your feedback. Could you please close this issue now?

[2020-05-26 14:52] #7092 closed, assigned to uilianries

[2020-05-26 15:48] memsharded commented on #7096
Hi @spoorendonk

Files imported during building are automatically removed by design. If you want to keep them, you need to use ``keep_imports=True``. Please have a look to: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#keep-imports (it is probable that we will change this in Conan 2.0 and do not import automatically, but those who want to repackage artifacts from dependencies

[2020-05-26 17:03] TheQwertiest commented on #7093
Windows support for symlinks is a bit meh: it requires either permission elevation or an enabled developer mode (which is accessible only on Windows 10). It's also questionable if symlinks are supported anywhere other than NTFS.

Source: https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/

[2020-05-26 18:31] spoorendonk commented on #7096
Nice. Missed that one. Thanks a lot

[2020-05-26 18:31] #7096 closed, assigned to memsharded

[2020-05-26 19:07] braindevices commented on #7088
@memsharded Thanks!

[2020-05-26 19:07] #7088 closed, assigned to memsharded

[2020-05-26 19:08] SpaceIm opened #7098 "[question] NMake: how to inject system libs of dependencies?"
I'm creating a recipe for `GDAL` in CCI: https://github.com/conan-io/conan-center-index/pull/1722

`GDAL` has two build systems:
- `NMake` for Visual Studio
- `Autotools` for all others

My question is about `Visual Studio` and how to properly inject informations about required system libs.

Currently I'm using `tools.vcvars(self.settings)` and `VisualStudioBuildEnvironment`:

[code]

If at least

[2020-05-26 19:10] braindevices commented on #7081
After digging around, these files seem notify conan which packages are installed and will not be touched later. But it feels wrong, how would conan know if the admin removed those installed system packages at certain point?

[2020-05-26 20:05] uilianries commented on #7081
Hi @braindevices !

This kind of method is internal, that's why is not documented. What user should touch is what is under `system_requirements` method, like `SystemPackageTool`

Conan won't verify it. You need to run `SystemPackageTool.installed()` to check it.

Some references:

https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool

https://github.com/conan-io/conan-

[2020-05-26 20:31] memsharded commented on #7098
Hi @SpaceIm

yes, the ``deps_cpp_info`` has a ``system_libs`` attribute! Is that what you are looking for?

[code]
Prints something like
[code]

As a side note,  I have been having a look at NMake, seeing if this could be better automated, but couldn't find anything better, there are no defined env-vars, not a way to define files, or standard variables...

[2020-05-26 20:40] sboehmann commented on #7086
The current setup is a "proof of concept" and uses the Conan Server. Though we will use Artifactory when we go into production mode _(other teams already use Artifactory for none Conan based projects)_.

Here's a little bit of the problem. Our third-party repository has almost the same layout as [conan-center-index](https://github.com/conan-io/conan-center-index). Now there are plenty of recipes,

[2020-05-26 20:46] climblinne opened #7100 "[question] Getting recipe revision (scm) & package_id in build()-function"
I would like to put the "package_id" and the "recipe revision" into my application during build.
Is it possible to pick the values of both during build()-function?
The idea is to put the both values to CMake to generate there a version file, which includes the "version", "recipe revision" (git hash) and the "package_id" (to know exactly, which combination of libraries where used to build the packa

[2020-05-26 21:01] fulara opened #7101 "[question] issue around conan locks - unable to proceed without clearing local cache."
@memsharded  I think this is caused by me using your local branch.
It seems the file:
xmlparser/2.41.3/_/_/metadata.json.lock..
EDIT:
It seems that even doing something like:
[code]
Doesnt help.

### Environment Details (include every applicable attribute)
  * Operating System+version: centos7
  * Compiler+version: gcc 8
  * Conan version: 1.26.0-dev - using memshared fix/multi_mode_package_id
  *

[2020-05-26 21:05] fulara commented on #7101
EDIT:
it seems unrecoverable altogether...
[code]

doing rm -rf $CONAN_USER_HOME/.conan seems to moved things forward.

[2020-05-26 21:06] memsharded commented on #7086
There is an important difference, in conan-center-index, the packages source code *never* changes. When something changes, is typically a change in the recipe, like to add support for Android, or the like. Then, the resulting packages are the same as before, and it is not necessary to actually re-build downstream. Which is completely different than needing to re-build because there are source code

[2020-05-26 21:16] memsharded commented on #7100
The ``package_id`` can be obtained as:

[code]

Right now there is not direct way of obtaining the self recipe revision.

That is to capture the ``self`` package_id. It seems that you want to capture that information but from the dependencies?

[2020-05-26 21:25] memsharded commented on #7101
Yes, those locks that can be removed with ``conan remove --locks`` are those to protect the packages in the cache, and they live in ``<home>/.conan/locks``. This is why removing only the ``data`` folder, doesn't fix it.

That lock of the ``metadata.json`` file is not removed by this command, and it is the first situation that we see it causing a block. Only readers-writer locks cause the issue tha