[2021-05-17 14:26] solvingj commented on #7405
i think make generator has been removed for 2.0

[2021-05-17 14:26] #7405 closed, assigned to nobody

[2021-05-17 14:47] KerstinKeller commented on #8121
I am not sure if this fits 100% to this issue, but may be related: I would be great to do either a
`conan install --no-binary -g some-generator`
or a
`conan lock create conanfile.py -g some-generator`
so that I can run a generator without actually downloading the binaries.

(some of our generators produce information which we need, even if we don't want to build the package). These could be (for e

[2021-05-17 15:04] solvingj commented on #8121
I'm changing the title to be more generic and cover more cases related to the fundamental need.

I think there's 2 things here:
1.  "resolve a graph" is a useful-enough thing to do to optimize it and expose it as a "discreet operation"
    * Does not necessarily require sources, but does require `exports` for `conandata.yml`
2.  "obtain sources for a graph" is a useful-enough thing to do to optimi

[2021-05-17 18:46] memsharded commented on #8881
Hi @KerstinKeller, please check the extended test in #8943, I have added the check that new env-vars values will not break existing exported scm data.

They key is that once the SCM data has been captured in the ``conandata.yml``, the following happens when the conanfile.py recipe is loaded from disk:
[code]
What is in disk conandata.yml, basically overwrites the current SCM structure. So if the f

[2021-05-17 18:56] memsharded commented on #8967
Hi Dom!

Yes, we are aware there are some difficulties in representing the current project and build layout, and we are working on it heavily. Next version 1.37 will release a new experimental way of representing the layout that might help to improve this.

In the meantime, I think there might be some workarounds and possible alternatives:

The ``test_package`` was never meant to try different bui

[2021-05-17 19:21] Flow-It opened #8968 "[feature] globally specify build folder"
By default (on Linux), conan creates a build folder under `/home/user/.conan/data/package/version/_/_/build/hash/`

In this layout are 3 important sub directories:

- source: Downloaded exactly once per version, read only data, preferred to keep on persistent storage
- package: Create once per version and configuration, then read only. Most expensive to create. Should definitly be kept on persiste

[2021-05-17 19:28] memsharded commented on #8962
Hi @divad1196

Thanks for the feedback! Let me answer each suggestion

Yes. In the next conan version, the ``generators_folder`` will be introduced. This will allow specifying where to output files, which can easily be a "conan" subfolder.

Also, some files that are generated now, like conaninfo.txt and conanbuildinfo.txt, that were necessary in the past for some commands, will not longer be gener

[2021-05-17 19:37] Flow-It opened #8969 "[feature] specify test_package folder in conanbuild.py"
I am keeping the conan recipe in the same repository as my project source code, as well as the code to test the conan package. In my directory layout, there already exists a `test` folder, and using `test_package` additionally for conan makes it harder to understand what each folder is for on first glance.

Conan already provides an option to use a different name for the `test_package` folder, whi

[2021-05-17 19:43] Tomeamis opened #8970 "[question] separating build_requirements from normal requirements during build"
I am trying to create a generic-ish template that could be mostly reused in several projects, and I would like to include unit tests as part of the project. These will presumably sometimes use a testing framework such as gtest, or perhaps some other convenient packages, which I have gathered should be listed as `build_requirements`.

However, in the `build()` method the build requirements seem ind

[2021-05-17 20:13] memsharded commented on #8970
Hi @Tomeamis

This depends on the generator that you are using. For example, the ``cmake_find_package``, ``cmake_find_package_multi`` or the new experimental ``CMakeDeps`` and ``MSBuildDeps`` generators, will create a different xxxx-config.cmake file for each dependency. Then your build script can easily select which dependencies are linked to which targets and which dependencies are linked with t

[2021-05-17 20:57] uilianries commented on #8968
Very Interesting 🧠

[2021-05-17 20:59] Tomeamis commented on #8970
Hello and thank you for the prompt reply.

I am using CMake, however the problem is that I don't know which dependencies I should refer to.

For example, suppose that I am building a library depending on `poco`. I also have unit tests, which depend on `boost`. Now, I can specify that the library depends on `poco-config.cmake`, but then I will get errors since I also need to depend on `openssl`, wh

[2021-05-17 21:30] divad1196 commented on #8962
Hi @memsharded and thanks for the quick and complete response!

I first need to apology for the new command that i probably missed. I was certain i had tried all current features of the cli.

I understand the "explicit" and "freedom" advantage of always having to precise the path. This is the way C++ has always worked. But don't you think this can be a burden too?

My thought was that the biggest

[2021-05-17 21:31] memsharded commented on #8970
The generated ``poco-config.cmake`` is transitive. It will include the transitive dependencies that it needs, so you shouldn't get errors. It will not include, ``gtest`` of course. Please try it and let us know how it goes.

[2021-05-18 03:04] shizhaojingszj commented on #7714
I came across this issue today for first-time usage of conan.

Conan version 1.21.0

then ----->

Conan version 1.37.0-dev

then ----> It worked!

[2021-05-18 06:59] Tomeamis commented on #8970
Oh, this is exactly what I needed. Thank you for your help.

[2021-05-18 06:59] #8970 closed, assigned to memsharded

[2021-05-18 08:02] memsharded commented on #7714
Hi @shizhaojingszj

Yes, as explained above in https://github.com/conan-io/conan/issues/7714#issuecomment-694058752, and in the docs, it is necessary to use the latest Conan to consume the public packages in ConanCenter, as the community that contribute them keeps upgrading.

I think this question is addressed, and can be closed, thanks!

[2021-05-18 08:02] #7714 closed, assigned to memsharded

[2021-05-18 12:22] oleurodecision opened #8973 "[question] CMAKE_BUILD_TYPE and CMAKE_CONFIGURATION_TYPES behaviour"
Well, I'll try to be short and clear...

The current steps which conducted me to the problem (and current question) :
- I'm trying to build an internal project with MSVC, the project has a conanfile.py to manage its dependencies
-  some (well, all) of its requirements are currently missing on my system, thus a call to `conan install . -if build -s build_type=Debug --build=missing` triggers the bui

[2021-05-18 12:27] oleurodecision commented on #8973
Can submit a PR later if required, but have no idea how to set up tests for this (haven't look yet).
(side note : would be great to have a mentor-apprentice system for people who wants to be more implied into the conan/conan-center recipes development process)

[2021-05-18 12:49] rconde01 opened #8974 "[question] conan revisions and git line endings clarification"
I was investigating conan revisions and reading the documentation here: https://docs.conan.io/en/latest/versioning/revisions.html

It is unclear to me the scope of the "git and line endings on Windows" issue. At which level is it necessary to disable line ending conversion? Doing so globally is fairly impractical.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/dev

[2021-05-18 13:00] rconde01 commented on #8974
It was suggested by another user just to apply the attribute to conanfile.py specifically...which makes sense.

[2021-05-18 13:00] #8974 closed, assigned to nobody

[2021-05-18 13:18] blockspacer commented on #2163
Hi.

Please test non-latin symbols with extra logging to catch more errors:

[code]

Also: how to debug `'UnicodeDecodeError: 'utf-8' codec can't decode byte error`?

[2021-05-18 14:17] #8897 closed, assigned to danimtb

[2021-05-18 15:02] solvingj commented on #8121
@KerstinKeller after discussion with @memsharded , here is some new information:

1. conan info command resolves the graph completely, and this does not require download of binaries
2. Unfortunately, there's another fundamental issue blocking the generator-without-binaries use-case.  With the current design of Conan, Generators hard-require the binaries to be downloaded, because the `package_info(

[2021-05-18 15:10] x93008 opened #8975 "[bug] conan1.36.0 upload error"
### Environment Details (include every applicable attribute)
  * Operating System+version:
[code]

  * Compiler+version:
[code]

  * Conan version:
[code]
  * Python version:
[code]
### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-05-18 15:30] memsharded commented on #8975
Hi @x93008

This doesn't seem a Conan bug, but a bug you have in one of your hooks installed in your system, the ``remove_export_source.py`` hook.

I would suggest removing it, (from your cache and conan.conf file).

[2021-05-18 18:00] rconde01 commented on #5159
I have run into this issue. Again, similarly using a commercial library which requires linking to object files. I had to settle and specify as sources in my cmake file.

[2021-05-18 23:08] apoggio opened #8978 "Protobuf Python Example Looks Incorrect"
### Steps to reproduce (Include if Applicable)
In the last code section on https://blog.conan.io/2019/03/06/Serializing-your-data-with-Protobuf.html, the code
print("Sensor door: {}".format("Open" if sensor.temperature else "Closed"))
seems wrong.  Shouldn't the conditional be checking the value of sensor.door?

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2021-05-19 01:19] x93008 commented on #8975
Thank you, that is indeed my problem

[2021-05-19 01:19] #8975 closed, assigned to memsharded

[2021-05-19 08:47] blackliner commented on #5664
@emmenlau @memsharded
I am looking forward to a first class support of RPATH modification by conan. Are there any news regarding this?

Currently I have to do this in my `def imports(self):` to be able to have a relocatable package:
[code]

[2021-05-19 09:41] emmenlau commented on #5664
@blackliner For me this was a killer restriction in conan that it does not help with relocation. Changing the `RPATH` is one (important) aspect, but there are other aspects too. For example, `pkg-config` tends to hard-code install paths in its configs, and sometimes `cmake` configs do that too. Autotools often uses hard-coded install paths in its `.la` files. And Qt (at least until recently) hard-

[2021-05-19 11:04] monsdar commented on #8966
We also get many of these warnings: `WARN: geotiff/1.6.0@thirdparty/release: requirement libtiff/4.1.0@thirdparty/release overridden by gdal/3.1.2 to libtiff/LATEST@thirdparty/release` where the `LATEST`-alias points to the exact same version that is required (`LATEST == 4.1.0`).

Seems that the timepoint where alias-resolution happens is not correct.

[2021-05-19 12:58] solvingj commented on #5664
@emmenlau What exactly did you do on Windows?

[2021-05-19 13:07] emmenlau commented on #5664
I'm sorry but I don't understand. Can you rephrase the question?

[2021-05-19 13:27] solvingj commented on #5664
Since PE binaries don't have a concept of `RPATH`, I was wondering if you did something with Application Manifests:
https://docs.microsoft.com/en-us/windows/win32/sbscs/application-manifests

[2021-05-19 13:55] mcandre opened #8979 "[bug] Two completely different configurations"
Please merge the two `conanfile.txt` and `conanfile.py` configuration methods into a single, unified system. The latter is verbose, but the former can't even declare a new package.

The divergence requires maintaining twice as much documentation. (And twice as much reading!) Quite the confusing user experience.

For example, deprecate conanfile.txt.

[2021-05-19 14:05] rconde01 commented on #5159
maybe a half fix could be allowing arbitrary info in cpp_info which you can then reference in  cmake. It would require a manual step in your cmake still, but at least most of the info would still be handled in the package.

[2021-05-19 14:10] emmenlau commented on #5664
I see! That's an interesting question. I did not consider this. But I may look at it actually.

What I did are only two things:
 - Check if there are hard-coded references to the install path with textual and binary grep. The textual grep can be used with search and replace later to fix the path. And binary grep is used as a "safety guard" to error out, and kindly ask the user to change the upstre

[2021-05-19 15:13] Ext3h commented on #7417
Facing a quite similar issue. It does not appear to be possible to inject a different `rootpath` using layout files in any form.

Where as with a non-editable packages `cpp_info.rootpath` is derived from the original `self.package_folder`, and points to the installed package folder, with an editable package it points to the recipe instead.

Is there any specific reason as to why `rootpath` is not

[2021-05-19 15:25] rconde01 opened #8980 "[feature] Guard against including conanbuildinfo.cmake more than once"
I just spent a bunch of time debugging a weird conan issue where the underlying problem was that I was including my conanbuildinfo.cmake more than once. Seems like you could add some code which detects this situation a reports an error....unless there's a legitimate use, but I can't think of one atm.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/C

[2021-05-20 10:51] danimtb commented on #8980
Hi @rconde01,

Could you provide us with more information? How did you end up including this file twice? Thank you

[2021-05-20 13:11] rconde01 commented on #8980
So our build is a bit complicated. We need multiple conanfile.py because some of our binaries link to static libraries and some to dynamic libraries. We can successfully do this by including the generated conanbuildinfo.cmake in independent branches of the CMake build tree. But I accidentally left an include in a branch that was not independent from another branch. This meant it was included twice

[2021-05-20 14:38] czoido commented on #8979
Hi @mcandre,
Thanks for the question. The adoption of `conanfile.txt` is already massive, so there is no way we can deprecate it anytime soon. So far, providing a simple declarative format with the `conanfile.txt` has been useful for simple cases where you just want to use conan to consume some packages in your project.

[2021-05-20 14:43] danimtb commented on #8980
Thanks for the clarification. The problem I see is that the _conanbuildinfo.cmake_ provides different variables depending on the dependency tree you install, therefore, having a common guard might not result convenient. I'd say would probably fit your use case but maybe will break other ones using it in a similar fashion. IMO it is a user's choice

[2021-05-20 14:51] rconde01 commented on #8980
Ok - then maybe it's the specific problem i encountered which needs to be fixed. The issue was:
[code]

`CONAN_CMD_SHARED_LINKER_FLAGS` is later used to set `CMAKE_SHARED_LINKER_FLAGS`. Normally `CONAN_SHARED_LINKER_FLAGS` is empty when that line is executed. But later the sharedlinkflags from all requirements are added. So the second time you include it, all cmake targets get those flags whether

[2021-05-20 14:55] danimtb commented on #8980
AFAIK injecting multiple _conanbuildinfo.cmake_ is not a common practice so yes, that might be an issue in this case. Anyway, thanks a lot for reporting, this will be helpful in case someone has issues with CMake generator and multiple _conanbuidinfo.cmake_ files

[2021-05-20 14:55] #8980 closed, assigned to danimtb

[2021-05-20 15:54] madebr commented on #8190
Closing this as `cmake_find_package(_multi)` will get EOL'ed soon.

[2021-05-20 15:54] #8190 closed, assigned to danimtb

[2021-05-20 16:20] memsharded commented on #8190
Thanks for following up @madebr

Yes, any relevant feedback for the CMake integration should go to CMakeDeps and CMakeToolchain.
BTW, CMakeDeps just got in develop branch a huge refactor, making it orders of magnitude easier to read its code, and that will help to evolve it.

[2021-05-21 02:44] madebr opened #8982 "[bug] self.deps_cpp_info[<dependency>] is not available in validate"
When wanting to check the version of a dependency in the `validate` method, `self.deps_cpp_info[some_dependency]` is not available.

e.g. the following recipe fails:

[code]
Access to the version of a dependency is useful to either disallow too new versions or disallow too old versions.

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 34
  * Compil

[2021-05-21 07:39] heili77 commented on #8149
Hi there,

unfortunately the bug is not only affecting the semver_direct_mode. I tried also with semver-, major- and unrelated_mode. The bug shows in all cases.

In consequence each change in the count of the dependencies causes a behavior like a major-release and the versions need to be adapted in the whole dependency tree. With a fix of this bug all existing packages will not be found anymore, b

[2021-05-21 08:12] memsharded commented on #8982
Hi @madebr

This is one of the things that will be addressed by the new dependencies access model, which we already have a proof of concept released in 1.37 (but not documented yet, we are evolving it in Conan 2.0 branch, to feed it back in 1.X and be sure that the transition will be smooth).

It seems very difficult to solve it via ``deps_cpp_info`` at this stage, because ``validate()`` executes

[2021-05-21 08:34] snailcatcher opened #8983 "[bug] conan lock install throws exception"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 1909
  * Compiler+version: gcc 8.1
  * Conan version: Conan version 1.36.0
  * Python version: Python 3.9.2

### Steps to reproduce (Include if Applicable)
[code]
or
[code]
or
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-05-21 11:15] blockspacer commented on #3099
Will CMake variables in conan profiles be able use information from build_requires?

[build_requires]
gcc/master@conan/stable

I want to set CMAKE_CXX_COMPILER based on self.deps_cpp_info["gcc"].rootpath + "/bin/gcc" in conan profile, but profile is just text file. Can conan hooks be used as temporary solution?

Looks like profile must become dynamic i.e. profile in text file was bad idea.

[2021-05-21 13:14] madebr commented on #8982
Thanks, in conan-io/conan-center-index#5589 I want to test against the final resolved version.
Until this gets fixed in conan, I will implement a workaround.

Thanks for the feedback.

[2021-05-21 18:56] jenia90 opened #8986 "[question] Custom storage adapter for conan_server"
I need to make conan server to store it's packages on my company's private storage, so as far as I understand I will have to create a custom storage adapter, since currently conan_server only supports storing packages on local path. However, when looking at the docs I saw that there's a mention of StorageAdapter abstract class that can be used to write a custom adapter. Is there any further explan

[2021-05-21 23:01] Sil3ntStorm opened #8987 "[question] custom generator creating multi configuration output"
For a project that requires some single configuration packages available in conan, I would like to have a generator that creates a single output file, containing multiple configurations (e.g. Debug, Release) and the individual requirements for that.
However as far as I was able to tell so far, conan install needs to run twice (once with Debug settings/profile, and again with Release).

If I specif

[2021-05-21 23:22] EMCP commented on #2607
is it possible to get a hint how to set this variable in the commandline?  I am recently installed latest conan and am running into this exact error.. and I am not using a `.py` file .. but a `conanfile.txt` .. so unclear how to proceed
[code]

[2021-05-22 00:02] JeremyBorys opened #8988 "[bug] Cannot install boost/1.69.0 RelWithDebInfo"
Cannot install boost/1.69.0 RelWithDebInfo, Conan is failing to resolve dependencies and after explicitly trying to resolve the dependency conan is still failing.

This just started happening today. This seemed to work as of May 21 at 7AM and then starting at occuring at 8:30AM. I have no idea why...

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu

[2021-05-22 00:03] JeremyBorys commented on #8988
Any help here would be great. I do have an explicit requirement on boost 1.69.0 and I can't change that.

[2021-05-22 00:11] JeremyBorys commented on #8988
I kind of have a non ideal workaround which is to map relwithdebinfo to release configurations... It feels like this is a ticking time bomb though because I don't really understand what/why this is happening. This just feels like it more or less just happens to work :(

[2021-05-22 00:38] memsharded commented on #8986
Hi @jenia90

You are right, the best point for implementing it would be to replace ``ServerDiskAdapter`` with your own implementation.
There is not external documentation, but the class is relatively straightforward, so maybe starting from the code would be enough.

In any case, it seems a non obvious effort, have you considered using the Artifactory CE and trying to configure the FileStore to use

[2021-05-22 00:46] memsharded commented on #8988
Hi @JeremyBorys

This might not be an issue of Conan client, but an issue of ConanCenter packages, that maybe got some updates to some of those recipes, and that might be affecting your capacity to build from source in RelWithDebInfo.

Lets ask @uilianries @SSE4 for help.

Also, in the meantime I would suggest:

- If you depend on these packages for something serious - production grade, I would re

[2021-05-22 00:50] memsharded commented on #8987
Hi @Sil3ntStorm

Yes, we basically do something similar for the new ``MSBuildDeps`` and ``CMakeDeps``, ``CMakeToolchain`` generators:

- In both cases, the order of ``conan install`` is irrelevant. CMake generator expressions or MSBuild conditionals work irrespective of the order
- The approach is to generate different files for the different configuratons, and then a common file that aggregates t

[2021-05-22 00:54] JeremyBorys commented on #8988
Thanks @memsharded,

Yeah, we are experimenting with conan within an experimental product so that we can incrementally scale out. Literally one of the  next things we are looking at is creating a copy in our own artifactory server for precisely the reason you specified. I just haven't gotten there yet.

To be honest, I am heavily leveraging https://github.com/conan-io/cmake-conan to do a lot of th

[2021-05-22 01:00] memsharded commented on #8988
It depends, it is possible to have profiles for most of the settings, but you can always override individual settings on the command line. So for a profile that has ``build_type=Release`` you can do:

[code]

And that can avoid combinatoric of profile files. You can also do composition and inclusion of profiles if necessary.

[2021-05-22 01:01] Sil3ntStorm commented on #8987
@memsharded thanks for the answer.

However I have not had much luck with that while previously exploring that approach in the past couple hours. Due to the required file structure it's not exactly an easy merge (that I have found anyway).
Also not exactly sure on how you go about merging the files, since you would need to create two files each generator run? I must've missed that ability.

[2021-05-22 07:30] SSE4 commented on #8988
yes, this unfortunately happens from time to time on CCI, as we are starting to have more complex dependency graphs and then we need to update some version used in multiple nodes of the graph. right now we don't have an automated process to bump all the graph at once, and we need to submit N PRs to bump versions in N nodes of graph. as an example (simplified):
[code]
now, as soon as new version `a

[2021-05-22 09:55] jenia90 commented on #8986
Hi @memsharded

Is there a way to configure which storage adapter I want to use in server config files or do I just initialize the conan server in my own launcher script?
Unfortunately we cannot use Arifactory on prem (at least for now).

[2021-05-22 15:12] JeremyBorys commented on #8988
So going back to my original description. All this is fine, that there is conflicts that occur etc. What I was struggling with was resolving the conflict:

[code]

Simply specifying the version I wanted in the root conanfile.txt isn't enough i.e. from
[code]
to
[code]
which it sounds like it should be according to:

https://docs.conan.io/en/latest/using_packages/conanfile_txt.html#overriding-requi

[2021-05-22 15:21] SSE4 commented on #8988
that might be an old issue https://github.com/conan-io/conan/issues/4753 that sometimes build requirements cannot be overridden the same way like normal requirements, and special handling is needed.
(as `libbacktrace` build-requires `autoconf/2.69`)

[2021-05-22 15:30] SSE4 commented on #8988
why does it happen only for `RelWithDebInfo`? that's another good question.
my theory is because `build requires` are kinda smooth, special - they may appear in graph if you're doing build (e.g. explicit `--build` or just missing packages), but may not appear if you already have pre-built binaries (in remote or in cache). so sometimes for the "same" graph you may or may not experience the conflict

[2021-05-22 15:37] SSE4 commented on #8988
if we were able to more or less investigate why does it happen, the next question is what can/should we do?

- short term (conan center): update all `autoconf` requirements in conan center to the latest version (this may take significant time)
- long term (conan center): develop a CI solution to automatically and transactionally update requirements to avoid intermediate graphs with conflicts
- sho

[2021-05-22 16:43] SpaceIm commented on #8988
It happens because libbacktrace must be built (no pre-built binaries for RelWithDebInfo), but can't due to build requirements versions conflict (build requirement graph can't override versions) since https://github.com/conan-io/conan-center-index/pull/5539. It has been fixed today by https://github.com/conan-io/conan-center-index/pull/5575 (we now "build require" libtool only, instead of libtool +

[2021-05-22 18:55] rconde01 commented on #5159
I think maybe you can use user_info for that...gonna try.

[2021-05-23 02:48] JeremyBorys commented on #8988
thank you @SSE4 and @SpaceIm for the detailed answers :).

This is kind of what I was hoping to hear :) as I didn't understand why the workaround I was doing seemed to work around the problem.

I have/will continue to look at the two profiles approach. I already have the work planned to copy the binaries we use into our own Artifactory service.

[2021-05-23 02:48] #8988 closed, assigned to SSE4, uilianries

[2021-05-23 10:56] dskvr commented on #7316
Also interested in a solution like this, something more along the lines of modern package management that considers multi-platform development. The separation of dependency declaration and build logic is imperative to large-scale management, as it empowers developers not familiar with build and packaging systems to interact with dependency management. For example:`packages.json` with `yarn` and `n

[2021-05-23 22:19] puetzk commented on #8074
A couple of big problems with this approach (in conan 1.x). Not blockers to the concept, they are likely fixable, but they keep it from being an attar active solution today.

1. Any use of `compatible_packages` defeats the local cache and requires a live connection to remotes, because the cache will never store a negative result "this package_id does not exist". Therefore, if the consumer's exact

[2021-05-23 22:25] puetzk commented on #5067
I'd also really like it if profiles could supply overrides too (which would IMO logically follow from having a command-line form). Right now they can supply build_requires, but not requires (or `requires(..., override=True)`). I have a few cases of a cross-compiling profile that should really be adding a [requires] (for runtime libraries) to anything cross-compiled using it.

[2021-05-24 09:32] Sil3ntStorm commented on #8987
I seem to have found a workable solution. Thanks for the hints.

[2021-05-24 09:32] #8987 closed, assigned to nobody

[2021-05-24 09:38] memsharded commented on #8987
Thanks for following up @Sil3ntStorm, I am curious, what solution have you found?
If you have any question or need more detail about the merging we do for the other generators, just let me know, and I'll try to give more details.

[2021-05-24 10:40] #8860 closed, assigned to memsharded

[2021-05-24 10:41] memsharded commented on #8860
https://github.com/conan-io/conan/pull/8945 merged, adding custom user toolchains will be released in 1.37

[2021-05-24 10:49] #8881 closed, assigned to memsharded

[2021-05-24 10:50] memsharded commented on #8881
Hi @KerstinKeller

The PR that contains the test that validates this approach has been merged for 1.37, so far this approach seems valid, but please let us know otherwise. Thanks!

[2021-05-24 11:00] #8898 closed, assigned to nobody

[2021-05-24 12:08] memsharded commented on #8898
Merged https://github.com/conan-io/conan/pull/8946, this will be released in 1.37

[2021-05-24 15:12] lcipolla8 opened #8992 "Can't connect to conan_server through apache"
I've been trying to get conan_server up and running through apache by following the docs here: https://docs.conan.io/en/latest/uploading_packages/running_your_server.html

### Environment Details (include every applicable attribute)
  * Operating System+version: RHEL 7.9
  * Apache version: 2.4.6 with mod_wsgi 4.7.1
  * Conan version: 1.35.2
  * Python version: 3.6

### Steps to reproduce (Include

[2021-05-24 17:12] rthomaskelly opened #8993 "[bug] Conan can't resolve dependency conflict in autoconf included by libbacktrace/cci.20210118 and automake/1.16.3"
### Environment Details (include every applicable attribute)
  * Operating System+version: rhel8
  * Compiler+version: gcc10.1
  * Conan version: 1.34.0
  * Python version: 2.7.16/3.7.3

### Steps to reproduce (Include if Applicable)
Command:
`conan install .. --build=missing --profile=${CONAN_PROFILE}`

Profile:
[code]

conanfile.py:
[code]

### Logs (Executed commands with output) (Include/Attac

[2021-05-24 17:14] DmitrySokolov opened #8994 "[question] Qt6: How to make a dependency on the host lib?"
Qt6 for Android (for instance) now requires the host binaries (i.e. Qt6 for Windows/macOS/Linux) to be built and used (androiddeployqt).

Is it possible to make a dependency

[code]

[2021-05-24 17:45] memsharded commented on #8993
Hi @rthomaskelly

It seems you are being hit by a change in ConanCenter, in which some recipes updated one dependency, but not others, and that is generating some conflicts, was also reported here: https://github.com/conan-io/conan/issues/8988

Please check the suggestions there (https://github.com/conan-io/conan/issues/8988#issuecomment-846322599) (as using the 2 build/host profiles solutions) th

[2021-05-24 17:52] memsharded commented on #8992
Yes, certainly having free ArtifactoryCE, it is way more recommended as a production server, it will scale better, and have other great things like better permissions, a web UI, etc.

The truth is that we have never setup it through apache, so we cannot help much with it, we have used gunicorn and nginx, but not apache. Up to our knowledge, it has not been necessary to modify the source code to ru

[2021-05-24 23:59] jgallucci32 commented on #7963
I did exactly this for Go using the JFrog CLI and uploading the packages directory Artifactory. It works great and we can tag/version the generated code. I am trying to find an equivalent of this for Conan but as the OP pointed out Conan focuses heavily on building/compiling the packages. In the protobuf world you simply want the generated code as headers to be built with the code at compile time.

[2021-05-25 00:30] jgallucci32 commented on #7963
Ok looks like this method works the way we want (well for those using protobufs anyways). I followed the documentation here:
https://docs.conan.io/en/latest/howtos/header_only.html

Basically what you need to do is create `conanfile.py` as instructed but add the `*.cc` files in addition to the header files. This assumes the `*.pb.cc` and `*.pb.h` files are at the root of the directory.
[code]
Once

[2021-05-25 07:38] blackliner opened #8995 "[question] is conan impossible to use in a monorepo?"
## Question

Is it possible to use conan in a monorepo to manage multiple packages?

## Current situation

We have a monorepo with one huge CMake based superproject and use conan as a consumer only. We want to split this superproject up into separate conan packages (each containing multiple libraries/CMake targets), that have a certain dependencies to each other. Those packages shall have their co

[2021-05-25 10:45] #8303 closed, assigned to lasote

[2021-05-25 12:05] Forbinn opened #8998 "[bug] Inconsistent behavior between 'conan source' and 'conan create' for 'export_sources'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 31
  * Compiler+version: gcc9
  * Conan version: 1.36.0
  * Python version: 3.7.9

### Steps to reproduce (Include if Applicable)

- `conan new -s test/0.1.0`
- Edit the conanfile.py to add an `export_sources` function
[code]
- `conan source -sf .` -> Works fine
- `conan create .` -> Fails

If you exe

[2021-05-25 17:57] SpaceIm opened #9000 "[feature] Allow to generate more than one Find/config CMake file per recipe"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, for a given recipe, `cmake_find_package` and `cmake_find_package_multi` can generate one and only one CMake Find/config file, based on the value of `self.cpp_info.filenames["cmake_find_package"]`/`self.cpp_info.filenames["cmake_find_package_multi"]` in `package_info()`.

Un

[2021-05-25 19:30] p0fi opened #9001 "[feature] Add rpath information to conanbuildinfo.xcconfig"
## 💬 Description
When using Conan together with the Xcode generator the resulting `conanbuildinfo.xcconfig` contains build settings for

* HEADER_SEARCH_PATHS
* LIBRARY_SEARCH_PATHS
* OTHER_LDFLAGS
* GCC_PREPROCESSOR_DEFINITIONS
* OTHER_CFLAGS
* OTHER_CPLUSPLUSFLAGS
* FRAMEWORK_SEARCH_PATHS

Which is nice!

But when using shared libraries this does not seem to be enough in some cases. Shared libra

[2021-05-25 22:30] memsharded commented on #8998
Hi @Forbinn

Actually, the misbehavior is in the current ``conan source`` command, something that is known, but couldn't be fixed so far, because even if a bug, it would be breaking to some users, so it was decided to leave it:

Please carefully read the note in the docs here: https://docs.conan.io/en/latest/reference/conanfile/methods.html#source

In summary: source related methods, like ``source

[2021-05-25 22:52] memsharded commented on #7316
Hi @gsemet @dskvr

The Conan lockfiles have kept evolving this time. Now they include features like:

- "base" lockfiles that can be used to lock a common subset of recipes versions, that could be reused to generate lockfiles for different configurations
- "bundle" lockfiles that simplifies and highly optimize the management of multiple lockfiles per multiple configurations.

Please have a look to

[2021-05-25 23:02] gsemet commented on #7316
Hi. I really like the bundle approach I will certainly use it to ensure exact traceability. But i’ll still need an easy way to describe the first level of requires (the direct dependencies), and a need to be able to override it dynamically. I have done a tool on top of Conan for that (so that devs can work on several merge requests in several projects in parallel, or a CI can test a new version of

[2021-05-26 08:18] memsharded commented on #7316
Hi @gsemet

Please write to info@conan.io, we can certainly talk to discuss that, I'd like it too.

[2021-05-26 08:26] Forbinn commented on #8998
Hi @memsharded,

Thank you for the reply. I understand and it makes sense when you see it like that.
So in my case I will do it inside the `build()` method instead of the `source()` one.

[2021-05-26 08:26] #8998 closed, assigned to memsharded

[2021-05-26 10:05] ytimenkov opened #9002 "[bug] Compatible packages are locked incorrectly"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Conan version: develop, 1.33.1, 1.36.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
I've created a test for conan which demonstrate the issue:
https://github.com/conan-io/conan/compare/develop...ytimenkov:compatible-lock-demo

1. Create a package with compatible setting.

[2021-05-26 10:53] wdobbe opened #9003 "[bug] cmake in (profile) build_requires result in openssl conflict error"
### Environment Details (include every applicable attribute)
  * Operating System+version: OpenSuse Linux Leap 15.2
  * Compiler+version: gcc 10.2.1
  * Conan version: 1.36.0
  * Python version: 3.6.12

### Steps to reproduce (Include if Applicable)
I have the following build_requirements in my profile:

[code]

In my top level recipe I have the following requirements:

[code]

When calling conan

[2021-05-26 14:25] Minimonium commented on #3762
Hey, folks. Is there a latest discussion on the matter anywhere?

[2021-05-26 14:52] memsharded commented on #8831
It can be reproduced by adding ``--build``, so it is not the binary the one that saying that it cannot be updated.

In any case, not a strong case, the output is already reporting the remote, so no necessary to say that it cannot update because there is no remote:
[code]

So this can be closed, thanks.

[2021-05-26 14:52] #8831 closed, assigned to SSE4

[2021-05-26 15:04] memsharded commented on #7719
Hi all,

The new CMakeDeps feature will allow to include find_package() from build_requires, that also could bring their own build_modules, with the syntax:

[code]

This applies when the 2 build and host profiles are used, and build_requires live in the "build" context. The feature is experimental, but at the moment seem the way to go. It is not possible to provide this in the previous generators

[2021-05-26 15:04] #7719 closed, assigned to nobody

[2021-05-26 15:09] memsharded commented on #3762
Not discussion, but we are doing a huge change towards 2.0 in https://github.com/conan-io/conan/pull/8996, as a result of the Tribe feedback (specifically the " the graph, including the build_requires is always expanded), and part of it is starting to explore the package_id limitations and new possibilities that the new graph brings, like the possibility of having the ``build_requires`` to affect

[2021-05-26 15:10] lennoncork opened #9004 "[feature] importing from specified requires, not all package deps."
When importing from multiple packages the default for root_package is all package deps. We have a need to limit this to only the specified requires in the conanfile, and not the full dependency tree.

For example, if you have 3 packages A, B, and C with the following dependencies,
- A -> B
- B -> C

It looks like the importing from package A results in the content of both B and C packages. In some

[2021-05-26 15:14] memsharded commented on #8703
I see the recipe still contains
[code]

So apparently, it has not been changed yet. This was contributed by @madebr, do you know if it is possible to just change it to:
[code]
And it will be good for different generators, including cmake and visual?

[2021-05-26 15:19] memsharded commented on #9004
Hi @lennoncork

Seems that this could make sense, but seems something a bit tricky for the value.
Our proposal will be to make the "FileImporter" functionality explicitly available in the recipes, so it is possible to customize behavior in a more direct way.

[2021-05-26 15:26] madebr commented on #8703
The `/OPT:NOICF` comes from here:
https://github.com/palacaze/sigslot/blob/19a6f0f5ea11fc121fe67f81fd5e491f2d7a4637/CMakeLists.txt#L25-L30
I think it should only be applied for `self.settings.compiler == "Visual Studio"`.

[2021-05-26 15:43] Minimonium commented on #3762
Alright, I'll leave a few notes for future reference:

* The current default package_id mode (semver_mode) uses an unrelated mode for indirect dependencies, which is especially problematic for Windows with `shared` option. Libraries that depend on such a library should be rebuilt (well, relink) when that option changes since they need to link to different `.lib` files. It's a frustrating experienc

[2021-05-26 16:09] wdobbe opened #9006 "[feature] Add --build parameter to build all packages not in local cache"
On our Linux CI/CD server I want to prevent that we download binary packages that are built against a newer libc version.
The easiest solution for that seems to build all packages that are not in the local cache from source. However as fas as I can find the `--build` option for conan install, conan create etc doesn't support this build policy yet.

I think it would be useful to allow `conan instal

[2021-05-26 17:03] memsharded commented on #3762
Hi @Minimonium

Yes, totally, the default will definitely change in the new package_id. The work in progress in that #8996 PR is taking it into account already. It will be a changing value by default, changing depending on the shared/static/header, etc type of package. This will be default and automatic for consumers, nothing to do. Consider the following code already in that PR:

[code]

This is

[2021-05-26 18:32] memsharded opened #9007 "[feature] Change default CMakeToolchain to not remove Rpaths"
Because that should be an opt-in and tools like cmake install already strip the rpaths while installaing.

Behavior in Cmake was likely implemented in Cmake 3.9, so we didn't take that into account while developing generators for older Cmake versions.

[2021-05-26 20:16] lennoncork commented on #9004
For some background, the problem we're trying to solve is similar to #5251 where we want to bring together a collection of different binaries for multiple architectures. The approach right now is to generate a conanfile.txt for each set and run conan install on them. We could have created conanfile.py instead but ended up being less verbose to use a template and generate the text file from a maste

[2021-05-26 21:50] memsharded commented on #9002
Thanks very much for the test, that was super useful to reproduce.

I have proposed this fix in https://github.com/conan-io/conan/pull/9008, it has some (small) risk, so should be carefully reviewed before merging, lets see how it goes.

[2021-05-26 22:44] memsharded commented on #9007
https://cmake.org/cmake/help/latest/variable/CMAKE_SKIP_INSTALL_RPATH.html#variable:CMAKE_SKIP_INSTALL_RPATH is not clear if the default is to clean rpaths while installing, it doesn't seem so.

[2021-05-27 08:29] sd185233 opened #9010 "[question] MSBuildDeps - Cannot add property sheet due to circular dependency with property sheets"
Trying to ascertain the suitability of the the MSBuildDeps generator over using CMake for legacy projects.  I tried the following steps -

-Created recipe file with one build_requires and using the MSBuildDeps generator.  Build step is using the MSBuild helper passing an MSBuild .proj file.
-Run Conan install
-Opened the VS solution and and tried to add the conandeps.props prop sheet to the projec

[2021-05-27 08:52] memsharded commented on #9010
Hi @sd185233

I have not seen this error before. It would be great to understand if you could share a bit more details about:

- Other dependencies that you depend on, if they are regular or not.
- Build-requires behave differently if you are using the 2 build&host profiles, are you? It is suggested to start using this approach, as it will become the default in Conan 2.0
- Can you share the genera

[2021-05-27 09:35] sd185233 commented on #9010
Hi @memsharded

-The only dep we have is a single build_requires, purely for testing how the mechanism for bringing in the include/linker settings are brought in.
-We have only been using build/host profiles for Android where we are cross compiling.  For this we are using a single profile.  Can try with dual profiles.
-I have emailed over the recipe and the generated props files

Thanks
Scott

[2021-05-27 10:23] memsharded commented on #9010
I am trying this PR here https://github.com/conan-io/conan/pull/9012 to see if that fixes issues with dots in package names.

If you could also try running from source from my branch (ask if you need guidance) in your project, that would be very helpful.

[2021-05-27 10:28] sd185233 commented on #9010
Sure, how do I set this up?

[2021-05-27 10:38] memsharded commented on #9010
Yes, please, follow https://github.com/conan-io/conan#install-a-development-version. Basically:

-  git clone https://github.com/memsharded/conan.git conanio

NOTE: repository directory name matters, some directories are known to be problematic to run tests (e.g. conan). conanio directory name was tested and guaranteed to be working.

-  cd conanio
-  git checkout fix/msbuildeps_dot_pkgnames
-  pi

[2021-05-27 10:44] sd185233 commented on #9010
How do I revert back to my original Conan install afterwards?

[2021-05-27 10:49] maoreliy opened #9013 "Conan metadata.json and metadata.json.lock remains with read-only to the group in linux"
Conan metadata.json and metadata.json.lock remains with read-only to the group in Linux.
We are using the storage.path in a share mode, means that all of the users are using the same area for consuming the packages,
the motivation for it is to reduce the overall wait time of download and unzip.
when we are using the precopmiled packages, conan creates metadata.json and metadata.json.lock with R/W

[2021-05-27 11:03] memsharded commented on #9010
It should be good with:

(then reinstalling ``pip install conan`` without the "-e")

[2021-05-27 11:34] Minimonium commented on #3762
The logic checks out to me! Looks great.

[2021-05-27 11:39] sd185233 commented on #9010
Thanks...There is no error now and I can see conandeps loaded, however it isn't loading any of the sub prop files.  Tried adding one of the dep files instead and only it loaded, it did not load the prop files for each config.

On an unrelated note, is there any way to have the cmake configure method do the cmake generation, but no build?  Maybe I need to use invoke the commandlines instead of usin

[2021-05-27 12:02] sd185233 commented on #9010
Ignore the second part - got it with self.run('cmake "%s" %s' % (self.source_folder, cmake.command_line))

[2021-05-27 12:27] memsharded commented on #8918
This is a small UX issue, will be automatically fixed in Conan 2.0 (lockfile name will be mandatory), moving it to 2.0 milestone.

[2021-05-27 12:48] memsharded commented on #9010
Can you clarify this? I think it is not that the files will be automatically added to the IDE GUI, because they are imported from the ``conandeps.props``, which is the one that is shown. Is this what you mean? If you compile, the transitive dependencies are not found?

[2021-05-27 12:56] sd185233 commented on #9010
I added the conandeps.prop file to the solution, it now loads without error, but there are no child property sheets under them.  From what I understand that top level prop file should then load the dependency prop file and it loads the correct prop file for the configuration?
![image](https://user-images.githubusercontent.com/69502342/119829270-fa8f7200-bef2-11eb-8144-54e4f35ad633.png)

[2021-05-27 12:59] memsharded commented on #9006
Hi @wdobbe

I think the right, long term solution if you want to control, track and manage properly the differences of the new libc version is not this way, but adding a custom sub-setting that will represent this difference: https://docs.conan.io/en/latest/extending/custom_settings.html#adding-new-sub-settings.

This can be very straightforward, only add the subsetting to the settings.yml, then t

[2021-05-27 13:02] werto87 opened #9018 "[question] How to improve the following workflow"
Hi,

My project lets call it "game" needs  a project lets call it "shared".
I made a conan package for "shared" and can use it in "game".
"shared" is useless for people who are not using "game".
"shared" depends on some other packages I created which are kinda usefull.

If some one wants to build "game"
1. he has to  check out "shared" and its dependencies receipts.
2. run conan export and create

[2021-05-27 13:03] sd185233 commented on #9010
Have also tried just adding a single dep as follows -
![image](https://user-images.githubusercontent.com/69502342/119830465-324ae980-bef4-11eb-8956-19084b2ee48d.png)

Includes is empty -

![image](https://user-images.githubusercontent.com/69502342/119830721-750cc180-bef4-11eb-8870-cb335b23ae2a.png)

Expanding additonal includes does show the variables in inherited values and selecting macros shows

[2021-05-27 13:41] memsharded commented on #9010
I don't think the values load directly in those dialogs, as they are dynamic, and they also have conditions, that need to be evaluated.

I still don't fully get if you are getting build errors or it is that they are not showing in the IDE dialog, could you please tell exactly which build errors are you getting?

I am checking here locally, and things build and link, even if they don't show explici

[2021-05-27 13:43] fourbft opened #9014 "[bug] Create lock file from another lock file with aliases involved does not keep the fixed version"
### Environment Details (include every applicable attribute)
  * Operating System+version: Shouldn't matter, but seen on Linux
  * Compiler+version: No compiler involved
  * Conan version: 1.35.0 and 1.36.0
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)

Basically what goes wrong is the following:
Create a package CA with version 1.0.0 (no contents, just the recipe with em

[2021-05-27 13:45] fourbft commented on #9014
Sorry, cannot upload the zip file with the scripts to reproduce the error. My browser keeps telling me: "Something went really wrong, and we can't process that file. Try again". What am I doing wrong. Tried tar.gz an .zip files. Both don't seem to work...

[2021-05-27 13:50] fourbft commented on #9014
Trying with IE ...

[2021-05-27 13:50] fourbft commented on #9014
Sorry, doesn't work either. File selection dialog appears, but after selecting the file it is not accepted ...

[2021-05-27 13:55] sd185233 commented on #9010
I was sure when I tried with the visual_studio_multi generator yesterday that child prop sheet nodes were showing.  Just tried again and they don't.

I am getting a build error from commandline and within the IDE.  It's because the header for the dependency is not found.  If I F12 into the header, I can see none of the Conan cache paths to my deps are in the search paths.

[2021-05-27 14:05] fourbft commented on #9014
Ok, then I paste the code for the script to reproduce the bug here:
[code]

[2021-05-27 14:07] fourbft commented on #9014
Working example with version ranges for comparison:
[code]

[2021-05-27 15:17] memsharded commented on #9010
I have done a whole new test in https://github.com/conan-io/conan/pull/9012/commits/f6d2435ca8385ea5cc98e4f19c0c857d4a8fccb3, that includes both the packages with dots, ``build_requires`` with ``force_host_context=True`` and transitive requires of it, and it seems to work fine.

I don't know what else could be failing on your side, if you could try to put together a reproducible case (send it priv

[2021-05-27 15:19] fourbft opened #9016 "[question] Best practice for local developer workflow in a CI environment using lockfiles"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

We have an environment with several hundred interdependent C++ components. Each component resides in its own git repository and we automatically build a conan package for each component whenever the source code for the component changes. A commit to the master branch of a component al

[2021-05-27 15:31] lasote commented on #9000
Could you help me providing a list of "config file name" + "namespace name" + "target name" that the libraries you mentioned originally generate?

[2021-05-27 15:38] memsharded commented on #8893
https://github.com/conan-io/conan/pull/8899/files added Conan configuration for CMakeToolchain selection of CMake generator, which seems to be resolving this issue. This will be in 1.37.

[2021-05-27 15:38] #8893 closed, assigned to memsharded

[2021-05-27 17:03] memsharded commented on #8703
I am checking this again, and so far it seems unsolvable from the Conan side.

If a recipe can contain something like:

[code]

Then, it becomes virtual impossible to differentiate them apart.

The only possible solution I see is recipes explicitly changing to:
[code]

But I would like to make sure this is the way to go, and it will not break users in other ways (e.g. other generators?)
Any feedba

[2021-05-27 17:13] memsharded commented on #6235
Hi all!

We are providing in https://github.com/conan-io/conan/pull/8991 an experimental, built-in integration with Bazel.
It is very early stage, so testing and feedback will be very appreciated.

This issue will be closed when merged, and it will be released in 1.37 next week. Thanks!

[2021-05-27 18:30] wdobbe commented on #9003
On a different machine the error is different:

`ERROR: Loop detected in context host: 'cmake/3.20.0' requires 'openssl/1.1.1k' which is an ancestor too`

[2021-05-27 18:51] wdobbe commented on #9006
Thanks. I added a setting for my Linux distro in settings.yml and my profiles.
But when I install a newer Conan version that might have additions to settings.yml, will my modified settings.yml automatically merge with the new one, or should I add the distro line again after a Conan update ?

[2021-05-27 18:52] wdobbe commented on #9006
ps: Apart from avoiding libc issues, a `--build` parameter that only builds packages not in cache can be useful anyway for CI.

[2021-05-27 19:35] memsharded commented on #9006
You should put things in a repo, and use ``conan config install <url>`` to get everything: profiles, settings.yml, configured remotes, custom conan.conf, hooks.... It also has memory, so <url> should only be introduced first time.

If the upstream ``settings.yml`` has some settings that you really need, then you should put it in your custom ``settings.yml`` in your repo, to be used by ``conan conf

[2021-05-27 19:49] memsharded commented on #9013
Hi @maoreli

the motivation for it is to reduce the overall wait time of download and unzip.

I am afraid that this is not a supported use case at the moment. The Conan cache is not designed for concurrency, not even single-user concurrency. It has some limited provisions (locks) for some limited cases, but in the general case it should be considered non-concurrent.

So multi-user support is not p

[2021-05-27 20:33] wdobbe commented on #9006
Thanks. We already have a repo for `conan config install`, I will add our settings.yml to it.

[2021-05-27 20:34] memsharded commented on #9014
Hi @fourbft

Thanks for your reproducible case. I have translated it to a test, you might find this useful too in order to reproduce things:

[code]

It seems that this might be expected behavior:

First, you capture a lockfile from the first state. The resulting lockfile contains:
[code]

That is, it is resolving and storing the real versions in the graph.

As described in the docs, an alias is:

[2021-05-28 06:15] fourbft commented on #9014
Hi @memsharded, thanks a lot for looking into this issue and thanks for the translation to a test. That will certainly come in handy in the future.
As for your explanation of the behavior: yes, it sounds logical and maybe that is the intended behavior from the current conan lockfile mechanism point of view. But if it is so, that when a new version of cb (2.0) is being used with the lockfile for cb

[2021-05-28 09:13] sd185233 commented on #9010
Looking at the test, one difference I notice is using the MSBuildDeps and MSBuildToolchain generators.  Added both in as follows:

generators = "MSBuildDeps", "MSBuildToolchain"

I see this invalid settings.compiler value error.  setting.compiler is set to Visual Studio, not sure where msvc is coming from?
![image](https://user-images.githubusercontent.com/69502342/119960770-3b43c580-bf9d-11eb-8b2

[2021-05-28 10:37] db4 opened #9019 "[bug] conan doesn't work on python 3.5 anymore"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04 LTS
  * Conan version: 1.36.0
  * Python version: 3.5.1

### Steps to reproduce

[code]

[2021-05-28 11:02] db4 commented on #9019
BTW, a couple of weeks ago Conan 1.36.0 worked on that `ubuntu:xenial` docker image. Since then the image itself has been updated as well as some Conan dependencies. But I can't say what exactly triggers the issue.

[2021-05-28 11:26] Nekto89 opened #9020 "[question] Requires/build_requires for non-interface static libraries"
I've been trying to implement gdcm recipe. I've decided to try experimental components feature in package_info. GDCM uses zlib as PRIVATE dependency. I've tried to copy dependencies from GDCMTargets*.cmake as "requires" in recipe. In shared configuration zlib isn't mentioned anywhere.

But then conan gave me this error.

If zlib is static, then in shared configuration consumers don't need to know

[2021-05-28 11:47] memsharded commented on #9019
Yes, Python 3.5 is EOL already, in this case it seems that jinja2 dependency on MarkupSafe broke support for Python 3.5.

I have had success downgrading it to:
[code]

And latest jinja2:
[code]

[2021-05-28 12:10] db4 commented on #9019
So this won't be fixed in Conan? It still declares python 3.5 support (https://docs.conan.io/en/latest/installation.html) and I thought it should work.

[2021-05-28 12:14] #9002 closed, assigned to memsharded

[2021-05-28 12:14] memsharded commented on #9002
Merged https://github.com/conan-io/conan/pull/9008, will be in Conan 1.37 (next Monday/Tuesday hopefully)

[2021-05-28 12:28] memsharded commented on #9019
Conan itself seems to keep working, as long as the dependencies keep working, and in this case it seems something broke in the python ecosystem for Python 3.5, steps to reproduce:

[code]

I am checking what could be done, seems a problem of old pip (8.1) that for some reason mess with the transitive dependencies between Jinja2 and MarkupSafe, and installs a somehow 0.0.0 broken Markupsafe.

[2021-05-28 12:49] memsharded commented on #9019
Installation with ``pip3 install conan MarkupSafe==1.1.1`` seems to be work so far, I think at the moment this could be the best solution. The thing is that if we try to define the dependency to MarkupSafe directly in the ``requirements.txt``, there is a chance that we could be breaking other users (at the moment it does not depend directly on it), even if we condition it to Python3.5, as it is po

[2021-05-28 13:00] memsharded commented on #9019
Yes, it seems that the above
[code]

could be the best that could be done.
Because older versions of pip (like the one used) is ignoring environment markers, so

[code]

are ignored, which could be causing errors to other users in different python versions.

[2021-05-28 14:49] memsharded commented on #9020
Hi @Nekto89

At the moment, Conan is not aware of the different share-static and linkage specifics, so requirements are propagated down. ``private`` requirements have also some issues and are not recommended if possible to avoid them.

It is typically not a problem to have transitive requirements down, linkers are able to discard what is not being used, and impact on time is not very noticeable. I

[2021-05-28 17:51] CAMOBAP commented on #8652
Faced the same problem...

I didn't dive into `conan`s sources deep enough, so far I see that there are two implementations of `Meson` class:
 - https://github.com/conan-io/conan/blob/develop/conan/tools/meson/meson.py - looks aware of cross-compiling
 - https://github.com/conan-io/conan/blob/develop/conans/client/build/meson.py - looks not aware of cross-compiling at all

_To be updated..._

[2021-05-28 19:57] CAMOBAP commented on #8652
Looks like this is a known issue and PR under review https://github.com/conan-io/conan/pull/7075

[2021-05-29 04:52] db4 commented on #9019
@memsharded, it looks like an acceptable workaround, so I'm closing the issue. Thanks a lot!

[2021-05-29 04:52] #9019 closed, assigned to nobody

[2021-05-29 11:45] SSE4 commented on #9007
any reason why we should mess with these settings in the first place?
IMO toolchain should work as closely as possible to the vanilla CMake (e.g. many users do build with and without conan and want them to be identical)
while some changes in toolchain are essential to ensure settings are correct, rpath management doesn't seem to be a strict requirement.

[2021-05-30 00:05] MHeshamG opened #9023 "Error installing boost 1.74.0 on Raspberry Pi 4"
I am trying to install boost but i get this error

[code]

### This my conanfile.py
[code]

[2021-05-30 15:03] #9010 closed, assigned to memsharded

[2021-05-30 15:06] memsharded commented on #9010
We are closing 1.37 for release tomorrow Monday, so https://github.com/conan-io/conan/pull/9012 has been merged, apparently this issue has been solved. There might be something else, but as https://github.com/conan-io/conan/pull/9012 was fixing some things and was tested as an improvement, it has been merged.

I would suggest to open a new issue with the new feedback, thanks!

[2021-05-30 15:07] #6235 closed

[2021-05-30 18:07] #9007 closed, assigned to nobody

[2021-05-31 06:47] maoreliy commented on #9013
Hi @memsharded,
Thanks for sharing your inputs,
I am trying to understand if it will be ok to use a conan.cache as read-only to the group and only specific user, kind of service user will manage the cache, and the group will only consume packages from this area,
can it be a valid case?

one more Q,
why conan doesn't support concurrency? what cases can cause an issue if we will use it in concurrenc

[2021-05-31 07:56] ssrobins opened #9025 "[question] How do you set the NDK path for Android builds in CMakeToolchain?"
I'm trying to figure out how to build for Android using the Conan 2.0 `CMakeToolchain`. I get this error:

`ConanException: CMakeToolchain needs tools.android:ndk_path configuration defined`

The docs mention `tools.android:ndk_path`, but not how to set it. There are a few clues in the source code, but all the things I've tried in `conanfile.py` and `conan.conf` haven't worked. This was very easy

[2021-05-31 08:06] memsharded opened #9026 "[feature] Create minor update versions for the Intel compiler in the default settings"
The intel compiler has some behavior similar to gcc, there are minor versions, that are relevant to compatibility.

[code]

It might be necessary or useful to represent the update too:

[code]

The update can be 19.0.3.203, so maybe use a ``update = [None, "ANY"]`` subsetting

@ansutremel

[2021-05-31 08:30] sd185233 opened #9027 "[bug] MSBuildDeps - Created prop sheets settings are not delimited"
This screenshot shows the generated settings - note that there is no delimiter between the Conan include dir variable and the existing AdditionalIncludeDirectories var -

![image](https://user-images.githubusercontent.com/69502342/120165405-73444600-c1f3-11eb-99ef-7ab7617b0ab8.png)

I think they should be delimited with a ";".  This applies for all the settings and groups.
![image](https://user-im

[2021-05-31 08:33] memsharded commented on #9025
Hi @ssrobins

Configuration can be added to profiles, you can try:

[code]

Conan 1.37, to be released today, contains CMakeToolchain changes to allow both providing your toolchain file (replacing ``conan_toolchain.cmake`` one), and also to provide an extra toolchain file to be included from the Conan. Please have a look at that, the intention is that doing this is more explicit, clear and conveni

[2021-05-31 08:41] lasote commented on #5067
Have you considered using the [conan data](https://docs.conan.io/en/latest/reference/config_files/conandata.yml.html) file (as a yml could be generated easily) and a more or less easy `requirements()` method to parse it and require "different" things? As the `conandata.yml` file is exported with the recipe, it is always available to re-create the package.

[2021-05-31 08:42] memsharded commented on #9027
Hi @sd185233

But that shouldn't be an issue, because the variables themselves are using a ";" at the end:

[code]

The idea is to avoid initial empty ``;%(AdditionalXXXX)`` when the Conan variables are empty (which often are).

[2021-05-31 09:13] sd185233 commented on #9027
How does that work when the last path in the variable is not terminated?

![image](https://user-images.githubusercontent.com/69502342/120170321-c076e680-c1f8-11eb-9301-144b67775b76.png)

[2021-05-31 09:14] sd185233 commented on #9027
This is how it looks when the variables are delimited -

![image](https://user-images.githubusercontent.com/69502342/120170548-fb791a00-c1f8-11eb-94d3-9a380556cded.png)

[2021-05-31 09:53] memsharded commented on #9027
This is curious, if you could share directly the ``conan_xxxx_vars_xxxx.props`` file, that would help, because it seems impossible that such value is generated without being terminated in ";", at least I cannot see how this is possible from the python code, so maybe it is just the IDE not showing terminating ";"?

[2021-05-31 09:57] sd185233 commented on #9027
You're right, the UI is dropping it off.

![image](https://user-images.githubusercontent.com/69502342/120176046-be178b00-c1fe-11eb-909f-d8332ae69466.png)

Guess we can close this off :)

Btw...This is all working after removing an empty AdditionalIncludeDirectories tag from the vcxproj :)

[2021-05-31 09:58] lieser commented on #5067
Something like that is possible if one develops some internal conan recipe (and at lest we already do that, but with environment variables).

But it would be good to have a general approach, that also works with all packages from conan-center, and is supported by the conan-package-tools.

Note that this feature seems to be the same as requested in #2140.

[2021-05-31 10:05] memsharded commented on #9027
Ok, happy to hear that it is working now!

If you think it would be better to try to change the delimiters we could give it another try, but if I recall correctly, it might be this way to avoid other problems with empty ";" things.

If not, yes, lets close it. Thanks for all the feedback! :)

[2021-05-31 10:10] sd185233 commented on #9027
I think its's easier to follow from the UI with the delimiters...however, it does work and once set up we will rarely be looking at these settings.

Thanks!

[2021-05-31 10:10] #9027 closed, assigned to nobody

[2021-05-31 11:17] snailcatcher opened #9028 "[question] custom/None compiler"
Hi,

Is it possible to add a "None" compiler to the conan settings?
My goal is to install a conan package on my system, without the need to build it (even if the prebuild package is not available for my current system)

If there is any way to ignore that a package is not available as prebuild package for my system, that would also answer my question.
I don't need this for a single package, but for

[2021-05-31 12:13] JPGygax68 opened #9029 "[question] Is activate_run recursive ?"
(I'm working on Windows)

I'm building an application that uses a shared library that I'm developing at the same time. That shared library depends on GLEW, which it obtains via Conan (`glew/2.2.0`).

I've marked the shared library as editable.

I'm running `activate_run` in the build directory of my application (which uses the `cmake_multi` and `virtualrunenv` generators) to ensure that the shared

[2021-05-31 12:15] JPGygax68 commented on #9029
For a bit of extra info, here is the `package_info` method of the shared library:

[code]

[2021-05-31 13:29] lieser opened #9031 "[feature] Command to view information set in package_info"
For investigating problems, it can be helpful to view the `cpp_info`/`env_info` information that a package in the local cache has.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-05-31 15:23] lieser commented on #8883
Stumbled on the same problem then I tried to build the `autoconf` package with `conan create` (test package fails)

Interesting is that the a `OSInfo.detect_windows_subsystem()` inside the `package_info()` function of the `autoconf` package returns `wsl` (i.e. the `env_info` is populated with WSL style paths), but a call to `OSInfo.detect_windows_subsystem()` inside the `build()` function of the `

[2021-05-31 17:33] memsharded commented on #8883
Thanks for the feedback @lieser

Yes, it might be an issue of path priorities, because ``test_package/conanfile.py`` might have some less environment definitions for example, or might inject msys2 dependency to Conan package or something.

The whole management of the ``run_in_windows_bash`` is a bit of a mess right now, even if we wanted to improve it for 1.37, it has not been possible, but it wil

[2021-05-31 17:37] memsharded commented on #9031
Definitely. We are trying to not add things to Conan 1.X releases that are not extremely necessary to prepare the path for Conan 2.0, so it seems this will be more a Conan 2 feature. What we are doing right now already in Conan 1.X is improving all the architecture of the ``cpp_info`` and ``env`` and how to access dependencies information.

In any case, take into account that this is a ``conan inf

[2021-05-31 17:46] memsharded commented on #9028
Hi @snailcatcher

Why not just skipping the ``compiler`` in the recipe declaration?
Something like:

[code]

In that way, you don't need to define the ``compiler`` setting or any of its subsettings at all.
Is that what you are looking for?

[2021-05-31 18:03] memsharded commented on #9029
Hi @JPGygax68

I am checking your issue. In theory yes, the ``virtualrunenv`` is transitive, it should also put transitive dependencies in the path (or LD_LIBRARY_PATH, DYLD_LIBRARY_PATH in other platforms)

Quick question: does it work correctly if the shared library is not in editable mode, but directly in the cache as a regular package?

Note: You might be interested in the new ``layout()`` fea

[2021-05-31 18:36] lieser commented on #9031
More a nice to have, so completely fine to leave it for 2.0 from my POV.

Regarding the configuration, maybe allow to specify for `conan info` a full reference similar to `conan get zlib/1.2.11@:2144f833c251030c3cfd61c4354ae0e38607a909`.

[2021-05-31 18:47] ssrobins commented on #9025
Thanks @memsharded, putting that code in `~/.conan/profiles/default` allowed NDK to be found. Unfortunately, it failed right after with:
[code]
I tried adding `ANDROID_STL` and `CMAKE_MAKE_PROGRAM`, even though `ninja` is in my `PATH` and is working in non-Conan 2.0 packages, but it didn't help. Here's my full `generate()` method:
[code]
The `CMAKE_OSX_DEPLOYMENT_TARGET` for macOS and iOS are work

[2021-05-31 18:58] JPGygax68 commented on #9029
Thank you James! I will try this as soon as possible, unfortunately it might take a couple of days.

[2021-05-31 19:40] memsharded commented on #9025
The main reason is the developer flows, which at the moment are broken. The developer experience that needs to develop without Conan, just with the IDE or command line. Everything that the ``CMake()`` helper was injecting in the ``build()`` method would need to be passed by the developer, to achieve the same build, and that is completely unreasonable, there are too many things. So the flow is bein

[2021-05-31 19:47] memsharded commented on #9031
That is the problem, if you have (which is very typical), something like:

[code]

Then you cannot evaluate that based on the package_id, which is a one way hash, impossible to know the settings, options, etc. This is the reason you need a full profile. There are also recipes that might provide different ``package_info()`` based on dependencies, it is not common, but it is possible, so also evalua

[2021-05-31 20:01] Pro commented on #6508
@solvingj unfortunately this issue was closed without any specific solution.

Did you find a good way to create a single package out of a main conan package and its dependencies?

We have the exact same requirement as you describe above.

[2021-05-31 20:35] memsharded commented on #6508
Hi @Pro

It is not clear what you mean, because if you want to ``create a single package out of a main conan package and its dependencies``, then the case is not the same as exposed in this issue. For the ``repackage`` concept, it might be more useful the ``imports()`` approach, to write a recipe that ``imports()`` what it wants from its dependencies (or from that main package, plus dependencies),

[2021-05-31 20:47] Pro commented on #6508
Thanks for the follow up!
So our main use case is that we are developing a bigger conan software package which is dependent on many other subpackages (external and internal).

At some point we need to deploy the whole software to the customer, i.e., having some kind of installer or similar, which is just installing the application and all its required shared libs and various configuration files co

[2021-05-31 21:43] n-morales opened #9033 "[feature] CMake generator: create targets for package executables"
Currently there doesn't seem to be a good way to access executable targets of a package dependency in the CMake generator. For example, the [glslang](https://conan.io/center/glslang) package provides a library but also a compiler that can be used by a dependent package.

Currently conan generates targets for each package library target (e.g.` CONAN_LIB::<package_name>-<target-name>`) but not for e

[2021-05-31 22:33] ssrobins commented on #9025
@memsharded
Would you agree that the developer workflow problem is more of a CMake problem than a Conan problem? Whatever developers were doing before using Conan to avoid having to type out long `cmake` commands should surely work with Conan, right? Over the years, I personally had bash/batch/python scripts that would store `cmake` command line options for my chosen platform variants so I could s

[2021-05-31 22:34] ssrobins commented on #9025
As for `CMAKE_MAKE_PROGRAM`, I'm not setting that in my raw CMake commands, nor in a Conan 1.x recipe. It's just using what's in my environment `PATH`, as a result of installing Ninja. I'm not sure why it's not working in Conan 2.x. It's probably fixable, though...

I'd like to avoid profiles if I can, it's just one more thing I have to handle getting installed in the developer and automation envi

[2021-06-01 00:04] memsharded commented on #9025
Not really. CMake commands might not be the most ergonomic, but people know them. The problem that Conan introduced is that if you want to build your binary, locally, as a developer, and get the same binary as Conan would build in the cache, you would need to type something like:

[code]

This is not acceptable, and it makes a lot of sense that users have been requesting a more idiomatic way to ac

[2021-06-01 00:10] memsharded commented on #9033
Hi @n-morales

Yes, we are gradually adding support for better modeling for executables, for example 1.37 now has added some experimental support for generated xxxx-config.cmake files for build_requires that contains executables. Please check that the supported CMake integration in Conan 2.0 will be the new one in ``CMakeDeps`` and ``CMakeToolchain``.

We have also tried to add explicit ``cpp_info

[2021-06-01 00:16] memsharded commented on #6508
Thanks @Pro for the clarification. I thought you wanted to "repackage" as another Conan package, but as that is not the case, I would recommend:

- To write a single ``conanfile.py`` recipe, with the ``requires`` and an ``imports()`` method.
- This method specifies exactly what you want to import (typically only .dlls, license files, and exes)
- executing a ``conan install .`` will just copy every

[2021-06-01 01:18] mo-xiaoming opened #9034 "[bug] include(Catch) failed with cmake_find_package and virtualenv"
I was watching [[MUC++] Jerry Wiltse - Conan Package Manager for C++ in Practice](https://youtub.be/TXXT9XZ-vok), and found the combination of `cmake_find_package` and `virtualenv` is very useful, and decided to give it a try.

Everything went well, except for cmake's `include`, it doesn't seem to be able find extra cmake files

### Environment Details (include every applicable attribute)
  * Oper

[2021-06-01 05:56] ssrobins commented on #9025
Ah, I was not considering the custom paths and settings specific to Conan to get a CMake build result 100% like the Conan build. I agree, that's not acceptable.

Thanks for listening and thanks for considering those two CMakeToolchain additions. Feel free to close this, if it's not being used to track that other potential work. I'll keep working with Conan 2.0 as I see more improvements come out.

[2021-06-01 06:33] ssrobins commented on #9025
Finally got Android builds working with Conan 2.0. Got past this error:
[code]

I just had to set `compiler.libcxx=c++_static`. I didn't realize the Android STL setting came from there. Setting `compiler.libcxx=c++_shared` works too. I guess CMake was interpreting the early error as a problem finding the make program, hence the second error.

[2021-06-01 07:56] snailcatcher commented on #9028
Hi @memsharded

Not exactly.
1. this is not V2 compatible:
[code]

2. I want this to be an explicit case:
So if I not define anything, I want my package to build with gcc (mingw on windows, gcc on linux). \
If I explicitly say that my ci script does not need the packages to be build (e.g. for documentation purposes or something like that), I want to tell conan that it should skip the whole build m

[2021-06-01 08:21] iiknd opened #9035 "[question] "requires" and version ranges including pre-releases"
[code]

`$conan export . A/1.2.1-alpha1@user/channel`

[code]

`$conan export . B/2.0.0@user/channel`
`$conan install B/2.0.0@user/channel .....`

ERROR: Version range '>=1.2.0 <1.2.2, include_prerelease=True' from requirement 'A/[>=1.2.0 <1.2.2, include_prerelease=True]@user/channel' required by 'B/2.0.0@user/channel' could not be resolved in local cache

If edit the package A version as "1.2.1"

[2021-06-01 08:33] Psy-Kai opened #9036 "[bug] tools.get raises AuthenticationException"
### Environment Details (include every applicable attribute)
  * Operating System+version: KUbuntu 21.04
  * Conan version: 1.37.0
  * Python version: 3.9.5

Conan version < 1.37.0 works properly.

### Steps to reproduce (Include if Applicable)
`conanfile.py` with
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
conan output
[code]

[2021-06-01 08:53] memsharded commented on #9028
But ``ConanV2Exception: Conan v2 incompatible: compiler setting should be defined.`` should only happen if you are using a build integration that will need a compiler to compile something. How does your recipe look like?

I think your question could be resolved by https://github.com/conan-io/conan/issues/8366, which has been targeted for Conan 2.0:

- You add the ``compiler`` setting to your recip

[2021-06-01 09:00] Psy-Kai commented on #9036
The url got changed from "https://developer.arm.com/...." to "https://armkeil.blob.core.windows.net/..." and conan 1.37.0 cannot resolve the url change. conan < 1.37.0 can resolve the old url.

[2021-06-01 09:18] memsharded commented on #9036
I have been able to reproduce this, thanks for the report.
I am investigating, so far this is surprising, nothing changed in ``tools.get()`` for the last releases.

[2021-06-01 09:24] memsharded commented on #9036
Apparently this PR https://github.com/conan-io/conan/pull/8947 is causing this behavior, that server is doing a 403 based on the user agent?

The change in user agent is:

1.37:  Conan/1.37.0 (Windows 10; Python 3.6.0; AMD64) python-requests/2.25.1
1.36:  Conan/1.36.0 (Python 3.6.0) python-requests/2.25.1

The offending char seems to be the ``;``, without it it works fine. This would be an issue o

[2021-06-01 09:39] memsharded commented on #9025
Ok, great, happy to hear that you got it working!

Lets keep this open, to make sure the above cases are correctly covered, if everything is good, we will close it in 1.38.

[2021-06-01 09:41] memsharded commented on #9036
Hi @Psy-Kai

Is it possible to raise this issue with arm, the owners of ``https://developer.arm.com/``? In this case, it seems their server is misconfigured or something, and throwing 403 for valid user-agent (which in any case, it shouldn't, as not related at all to auth?)

[2021-06-01 09:57] snailcatcher commented on #9028
I do, I use the CMake integration:

<details>
  <summary>My conanfile</summary>

[code]
</details>

Yes I think your right, it will lead to the same thing.

So the correct package_info method for my issue should look like that?
[code]

If that's correct you can close my issue and thank you for the good explanation.

[2021-06-01 10:12] Psy-Kai commented on #9036
I could try raise this issue with arm. Since I can use the new url directly I am not really affected. Thanks for your investigation. And since its not a conan bug we might be able to close this issue? Or do you want leave it open? Maybe others will get the same error (from wrong configured http servers).

[2021-06-01 10:15] memsharded commented on #9036
Yes, lets leave this open for a while, so you can reference it too if you will try to raise it to arm.

If no further reports in a few weeks, then we will close it, thanks!

[2021-06-01 10:17] memsharded commented on #9028
Actually, you should use:

[code]

It is very important that you remove the ``self.info.xxxx`` to make package_id independent, while keeping the original value available for ``build()``. Also it should be in the ``package_id()`` method.

Ok, lets close it, and we can follow in the other issue. Thanks!

[2021-06-01 10:17] #9028 closed, assigned to memsharded

[2021-06-01 12:31] memsharded opened #9038 "[feature] Provide [conf] command line support"
[conf] items are increasing, and I get more and more user feedback that it would really help to have cli support for this.

So something like:

[code]

Could help in many cases.

[2021-06-01 15:00] snailcatcher commented on #8366
After a bit of playing around with my packages I have exactly the same problem described in the first post.
I thought that a sample will help others understand the issue better so I did one myself:
<details>
  <summary>My package conanfile.py</summary>

[code]
</details>
<details>
  <summary>My conanfile.txt for consuming the above package</summary>

[code]
</details>
<details>
  <summary>My used

[2021-06-01 15:16] memsharded commented on #9035
Hi @iiknd

There might be something else in your side that is missing in your report. I have done this test, and it works correctly:

[code]

A few hints, just in case:

- You don't need the ``set_version()`` method if you are doing only that (I guess that it is a simplification, but just in case)
- The ``package_revision_mode`` is the strictest one, probably shouldn't be needed for many cases, th

[2021-06-01 17:45] iiknd commented on #9035
Hi @memsharded

Yes, the code I provided is a simplification from actual code

I'm confused, it's supposed to fail? Documentation says:

$ conan search
Existing package recipes:

pkga/1.2.1-alpha1@
pkgb/2.0.0@  # requires ="pkga/[>=1.2.0 <1.2.2, include_prerelease=True]"

Shouldn't the build of pkgb resolve the "pkga/1.2.1-alpha1@" as it fits inside the version range and include_prerelease is enab

[2021-06-01 17:51] memsharded commented on #9035
Yes, I am saying if the value is ``False``, it will not include pre-releases, as expected. If the value is True, it will allow pre-releases, otherwise they are discarded (by default, not stable, semver doesn't want to resolve to them). The test uses the value ``True`` as you intended, but I was saying that changing the value to False produced a expected failure of not resolving to it.

[2021-06-01 19:51] gogoprog opened #9040 "[bug] Max retries exceeded with url... (Caused by ResponseError('too many 500 error responses'))"
### Environment Details
  * Operating System+version: Linux ggpc3 5.12.4-arch1-2  x86_64
  * Compiler+version: gcc11 but irrelevant
  * Conan version: 1.36.0
  * Python version: 3.9.5

### Steps to reproduce
 * Have several remotes
 * Build a recipe that has a lot of dependencies (sdl2 in this case)
 * Notice the error related to a connection `Max retries exceeded with url... `

So one of the remo

[2021-06-01 20:53] memsharded commented on #9040
Hi @gogoprog

I am a bit confused, there seems to be more than one issue here.
On one hand, you are getting 500 internal errors from a server? How is that happening? Can you reproduce it consistently? Maybe we want to investigate first what happens with that server.

The other issue is that Conan will stop iterating remotes if one fails. This is by design, some users rely on the remote order to re

[2021-06-01 21:16] gogoprog commented on #9040
Thanks for the insights, I'll check the remote status

[2021-06-01 23:20] sogartar opened #9041 "CONAN_CMAKE_CXX_STANDARD not set when building a workspace"
I have a workspace with a few connan+CMake projects. In my `conanfile.py` I can see that during configuration `settings.compiler.cppstd` has the correct value from my profile. This value does not propagate to `CONAN_CMAKE_CXX_STANDARD` in CMake. Consequently `CMAKE_CXX_STANDARD` is not set.

### Environment Details
  * Operating System: Windows 10
  * Compiler: MSVC 19.29.30037
  * Conan version:

[2021-06-02 08:50] vdsbenoit opened #9042 "[question] build_policy attribute options are not exhaustive"
The options of [the `build_policy` attribute](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#build-policy) are `missing` and `always`.

What about the [other build policies](https://docs.conan.io/en/latest/mastering/policies.html) ? Is it intended ?

Would it be possible to define `outdated` as default build policy in the class attributes ?

- [x] I've read the [CONTRIBUTING g

[2021-06-02 08:58] snailcatcher commented on #8366
So now after playing around a bit, I have implemented a workaround which fits my personal needs:

I do some tweaks to the settings.yml file:
[code]
and use the following as my profile:
[code]

With these changes everything works for me (even if this is not very good solution, it does the smallest damage to my current setup)

[2021-06-02 09:04] ytimenkov commented on #8366
If you adjust settings anyway, try adding
[code]
Or similar. Then you don't need workaround at all. `None` is what you get when nothing is specified.

[2021-06-02 09:08] gogoprog commented on #9040
The remote server has been updated and the issue does not occur anymore. Thank you

[2021-06-02 09:08] #9040 closed, assigned to nobody

[2021-06-02 09:43] memsharded commented on #9042
Hi @vdsbenoit

Yes, this is completely intended. The in-recipe build policies should be used for some exceptional cases. The implemented policies are there for:

- Missing: There are packages that always need to be built from sources in the installing machine (like drivers that need to compile with the specific kernel or something in the machine that will make the binary specific to that machine)

[2021-06-02 23:03] SeanSnyders opened #9047 "[bug] CMakeDeps in v1.37 does not generate files"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10 (and observed in macOS Catalina)
  * Compiler+version: n/a
  * Conan version: 1.35.2 (works) 1.37.0 (does not work)
  * Python version: python 3.92 or 3.95

### Steps to reproduce (Include if Applicable)

Use Conan recipe from gist:
https://gist.github.com/SeanSnyders/c55f461be8addd8d9642c306dbf6ccb7

[2021-06-02 23:41] SeanSnyders commented on #8303
Having an issue with generating the required files via `CMakeDeps` generator in the most basic configuration of that generator using v1.37 where the generator worked fine in previous versions of Conan. Logged an issue: https://github.com/conan-io/conan/issues/9047

[2021-06-03 07:43] blockspacer opened #9048 "add --paths flag to conan search"
My use case:

I want to package clang compiler and populate `CXX` in `[env]` section of conan profile dynamically https://github.com/conan-io/conan-center-index/issues/5724

Because conan profile is not dynamic, i tried to use `conan info`. Unfortunately, `conan info` completely useless - it does not work as intended and produces not-existent package id even if i set `--profile` flag (I want to us

[2021-06-03 08:04] vdsbenoit commented on #9042
Hi @memsharded ,

Thank you very much for the quick reply!

That makes sense, thank you for the clarification! I'm closing this issue.

[2021-06-03 08:04] #9042 closed, assigned to memsharded

[2021-06-03 08:26] lasote commented on #9047
Checking. At first, looks like an issue with the output path as I see the cmake files generated in the root of the project. Thanks so much for the easy example, it really helps 🤟. Will report asap and open a bugfix for a 1.37.1

[2021-06-03 10:03] danimtb commented on #9041
Hi @sogartar,

Thanks a lot for your request. Unfortunately, workspaces feature is on hold. We are currently improving the integration with generators and toolchain and this issue is related to that matter as we are focused on improving the developer experience.

[2021-06-03 10:15] danimtb commented on #9034
Hi @mo-xiaoming,

This might be an issue with the `catch2/3.0.0@catchorg/stable` legacy package you are using. This package is no longer maintained and I'd suggest you to change to the new reference (without `@catchorg/stable`). Unfortunately there is still no `3.0.0` version:

(with conan 1.37.0)
[code]
Please, try with `catch2/2.13.6` and report back so we can try to fix your issue. Thank you!

[2021-06-03 10:48] mo-xiaoming commented on #9034
Hi @danimtb,

I just tested 2.13.6, you are absolutely correct, everything worked smoothly with this version.

This issue can be closed, I think

[2021-06-03 11:33] ytimenkov commented on #8366
Oh, with new `build_policy = "never"` this makes even more sense! I.e. prevent any automated build of compiler but still (re)use conan to build it on CI (`export-pkg` forces completely different workflow which I'd like to avoid).

[2021-06-03 11:42] harsszegi opened #9049 "[question] How to use scm without conan create?"
Hi,
currently I have a recipe, which defines scm. I don't have source() method defined.
If I use 'conan create', everything is fine, source is downloaded from git.
However if I do separate conan export, conan install, etc. steps source is not downloaded.
How to handle that "elegantly"? Do I have to define something in conanfile.py so that install or
something else picks it up, or do I have to call

[2021-06-03 11:51] danimtb commented on #9034
Thanks a lot for the fast response. If you have issues with a recipe, please report to https://github.com/conan-io/conan-center-index repo, where the recipes are stored. This way it will be easier to track 😄

[2021-06-03 11:51] #9034 closed, assigned to nobody

[2021-06-03 15:25] xahon commented on #7300
I have this problem too

[2021-06-03 15:46] derived-coder opened #9052 "[feature] Setup virtual environment without the need to invoke scripts and file creation"
I want to start a tool via conan, this required for me to do following atm:
[code]
I would like to avoid the step: `source activate.sh && source activate_run.sh`
Which additionally required an writable, directory because files are written do disk.
Which should be avoided too.

I would like to have something like that:
[code]

or shorter with a new cmd:
[code]

or:
[code]

- [ x] I've read the [CON

[2021-06-03 19:26] solvingj opened #9055 "[feature] Add detailed logging to `LayoutPackager`, controllable via conf"
I've just submitted the following PR in which I explain the cognitive difficult associated with looking at a recipe and determining what is going to be copied during the package step when using the `LayoutPackager` class.

https://github.com/conan-io/docs/pull/2118

I think the biggest impact of this cognitive load is during recipe development, when recipe authors are creating or refactoring recip

[2021-06-03 21:33] memsharded commented on #9047
This has been fixed in https://github.com/conan-io/conan/pull/9050, will be released in next patch release 1.37.1 soon.

[2021-06-03 21:33] #9047 closed, assigned to lasote

[2021-06-04 11:36] czoido commented on #9049
Hi @harsszegi,

Thanks for your question, if you want to do that with `export` and `install` commands check if this works for you:

- You have a conanfile.py with scm defined to some external repo.
- First doing a conan export of the package (let's call it _mylib/1.0_): `conan export . `
- Now do an install of the just exported conan reference: `conan install mylib/1.0@ --build mylib` (note that u

[2021-06-04 14:41] harsszegi commented on #9049
Thanks a lot, it appears working

[2021-06-04 14:41] #9049 closed, assigned to czoido

[2021-06-04 15:31] czoido commented on #9048
Hi @blockspacer,

I think that the correct way of approaching this is declaring the `env_info` in the `package_info` of the clang recipe and then it will be set for the consumers of the `build_require`.

You can have a look at how other recipes in conan-center-index do this:
- https://github.com/conan-io/conan-center-index/blob/41d4fbb8c218f9d938ccb8b9d888bff52002e62e/recipes/cccl/all/conanfile.py

[2021-06-04 21:25] ericriff commented on #7235
Could someone please take a look at this?
I'm working on a large codebase that is using a lot of conan packages and using `--update` is annoying since it adds a small delay each time we build. It also means we can't build offline since the check for updates fail.

[2021-06-04 23:12] jgallucci32 commented on #8144
This might be a new feature available in a recent release, but I got the desired outcome with Conan/1.37 using the `conan lock create` command. This creates a full lockfile from a partial one.
[code]

[2021-06-04 23:22] memsharded commented on #7235
Hi @ericriff

I understand this might be inconvenient, so I am trying https://github.com/conan-io/conan/pull/9058. I cannot promise anything, this might be breaking, seems potentially problematic, but lets give it a try.

We are working hard in the new cache implementation for Conan 2.0 that will allow multiple revisions in the cache (and thus eliminating this problem), because we know this can be

[2021-06-04 23:28] ericriff commented on #7235
Thank you very much, I really appreciate it.

[2021-06-05 08:17] abhijith96 opened #9059 "[bug] Linker error while using abseil installed from conan repository"
Linker Error while using abseil from conan repository. I have build a simple project using abseil as dependency.

Conan install went smoothly. while building my sample project i got a linker error while using
 absl::SimpleAtob function. Rest of the functions in abseil were working correctly.

[project link](https://github.com/abhijith96/abseilconsumer).  Here i have made two executable. one of the

[2021-06-05 08:29] #9059 closed, assigned to nobody

[2021-06-06 17:22] rconde01 opened #9060 "[feature] Add exclude_root_packages argument to imports().copy"
Currently copy has an `excludes` argument, but that is not always convenient. It would be nice if you could just exclude whole packages.
[code]

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-06 19:59] rconde01 opened #9061 "[question] Why no system_build_requirements?"
It seems there should be a system_build_requirements for system requirements, that you only need when building from source. No such method exists. Is there a reason, or is it just not there because it wasn't considered or hasn't been done yet.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-06 22:37] memsharded commented on #9061
Hi @rconde01

``system_requirements()`` is not an actual requirement definition, but a helper to call some system package manager to install something in the system. It can be applied equally to something that you need to link with or to a build tool, there is no difference.

``build_requires`` is a requirement definition of a build tool. Whether this tool is contained in the package, or is instal

[2021-06-06 23:56] rconde01 commented on #9061
I guess it’s weird that it’s “system_requirements” and not “runtime_requirements” or something. But that’s fine.

[2021-06-06 23:56] #9061 closed, assigned to memsharded

[2021-06-07 05:56] ssrobins opened #9064 "[feature] Do the CMake build in a different directory than the source when using the CMakeDeps generator"
When using the `cmake` generator, I was able to set a CMake build dir with:
[code]
It's not available as of Conan 1.37.0 when using the CMakeDeps generator (`CONAN_V2_MODE` enabled). It gives me this error:
[code]
It's making it harder to build a library such as SDL2 that has a check in CMake that makes sure the source directory does not match the binary directory. Simple fix would be to add `buil

[2021-06-07 07:40] dornbirndevelops opened #9065 "[question] package reproducability on a living branch"
Hello Y'all!

I have two repositories, one containing the conan receipe, the other providing some source code.
I would like to ensure reproducability if somebody comes to me saying that there was an issue with package revision ####.
Therefore, whenever the package receipe is exported, the revision should be changed to the latest commit that is available at time X. -> `main` should become `fa911e50

[2021-06-07 08:28] pointer commented on #1557
Hi All,
Please help decipher this below, thanks.

[2021-06-07 09:56] blockspacer commented on #9048
@czoido

I want to compile code of arbitrary recipes using clang compiler packaged via conan i.e. i want to use clang without need to modify `build_require` in each recipe.
Is that possible?

UPD:
Ill try to set `[build_requires]` in conan profile

[2021-06-07 10:24] danimtb commented on #6560
Closing this issue as https://github.com/conan-io/conan/pull/6774 added a new tool to avoid this error. Also the recommend interface of such tool was added here recently https://github.com/conan-io/conan/pull/8915

[2021-06-07 10:24] #6560 closed

[2021-06-07 11:01] #9048 closed, assigned to czoido

[2021-06-07 13:52] gpxricky opened #9067 "[bug] No isolation of source files when building multiple Conan packages in parallel"
Hi Conan experts,

at present I don't find a solution to resolve the following isolation issue:

I have a Conan recipe that fetches SCM data from a very large Git repository (> 2 GB). Two Conan packages shall be created from this Conan recipe. In order to create these Conan packages I use a Jenkins job that runs two `conan create` commands in parallel. Unfortunately both command try to clean and p

[2021-06-07 14:44] memsharded opened #9068 "[feature] win_bash new approach"
The current win_bash and run_in_windows_bash needs some improvements. This ticket would be the first iteration for improving that, to better serve the new build system integrations and for Conan 2.0.
Important points:

- It should have strictly 0 auto-detection. All information that it would need should be extracted from settings or new [conf]
- It should have a simple ``win_bash=True`` syntax, no

[2021-06-07 15:00] memsharded commented on #8437
The new ``folders`` feature in Conan 1.37 provides an ``import_folder`` that could be configured to import files from different configurations to different folders without colliding/overwriting., I think this is related to this ticket.

[2021-06-07 15:06] memsharded commented on #7999
CMakeDeps has evolved enough now, we did very large and great refactors and improvements, now it is the time to check this possibility. To summarize:

- The goal is to be able to use Release dependencies while developing in Debug mode the consumer. While this does not work in general in Windows VS, it is doable in Linux
- The current configuration management in CMake multi generators, including CM

[2021-06-07 15:12] memsharded opened #9069 "[feature] Keep modernizing and testing the new ``conan.tools.gnu`` Autotools integration"
It is necessary to keep pushing the new Autotools integration:

- Migrate helpers like ``cppstd_flag_new`` that still live in the old context.
- Modernize them: using always 2 profiles, no auto-detection at all (for example the one in ``_detected_os()`` in ``get_cross_building()``
- Keep implementing TODOS like:
[code]
- More comprehensive testing coverage of features.
- Check configurability and

[2021-06-07 20:24] memsharded commented on #9064
Hi @ssrobins

The definition of source and build folder is becoming explicit in Conan 1.37 with the ``layout()`` method.

- Make sure you are using the ``CMake()`` from ``from conan.tools.cmake import CMake``
- Do not pass arguments to it
- Add a ``layout()`` https://docs.conan.io/en/latest/developing_packages/package_layout.html#package-layout like:
[code]

The idea is to centralize the definitio

[2021-06-07 20:55] jwillikers commented on #7064
I use the latest version of CMake for personal use, since backwards compatibility is so straight-forward with CMake policies.

[2021-06-07 21:11] memsharded commented on #7064
Thanks for the feedback @jwillikers !

I just realized that this issue kept open, while we moved this discussion to the Tribe https://conan.io/tribe.html. in this PR: https://github.com/conan-io/tribe/pull/4 (and there we basically agreed to go for 3.15 as the minimum supported version (Conan can use CMake 3.15 features). Lets continue there, I am closing this one now.

[2021-06-07 21:11] #7064 closed, assigned to nobody

[2021-06-08 06:08] ssrobins commented on #9064
Worked perfectly, thanks! Looks like I need to spend some quality time with the docs, particularly the changelog before I post again :)

[2021-06-08 06:08] #9064 closed, assigned to memsharded

[2021-06-08 06:41] dornbirndevelops commented on #9065
## Update
the initial idea of having the source code and the package in a different repository was just to disallow the build of the package to parties that are not authorized to access the source code.

it turns out that the scm feature does not upload a source code snapshot to the conan server, which is what i originally intended.

[2021-06-08 06:41] #9065 closed, assigned to nobody

[2021-06-08 07:40] domfellner commented on #8967
Hi memsharded,

thanks for your answer. Setting the CMAKE_RUNTIME_OUTPUT_DIRECTORY was an easy solution for my problem 🌈

[2021-06-08 07:40] #8967 closed, assigned to memsharded

[2021-06-08 08:03] memsharded commented on #9065
Hi @dornbirndevelops

Sorry to come late, but yes, that is the purpose of SCM, to capture only the coordinates of the repo, not the source itself. Happy that you found it and works for you.

[2021-06-08 08:04] memsharded commented on #9064
Still an experimental feature, so expect progress in the next iterations, and as always, feedback is welcome!

[2021-06-08 08:20] domfellner commented on #8634
Thanks for your answer and sorry for the delay. After reading conan-io/docs#3153 I found that my post would not add any significant value to the discussion there, so I'll leave it as it is.

@memsharded : What do you think about my proposal of introducing _direct_ variants for all package_id modes? I don't even know if it's a good idea as it treats all transitive upstream packages as ABI compatibl

[2021-06-08 08:29] memsharded commented on #8634
We are doing very heavy work on new graph model for Conan 2.0, that includes link-dependency, include-dependency, direct-dependency attributes, etc, which will surely contribute to improve the ``package_id`` computation, and will allow users to define their ``package_id`` with more flexibility, including for example filtering the direct dependencies only and assigning them any custom mode.

We hav

[2021-06-08 11:10] alex-700 opened #9071 "[bug] CMakeDeps generator: component and package with the same name"
Hi!

During refactoring #8971 behavior of `tvalue` [macro](https://github.com/conan-io/conan/blob/80e99ca9a7d730e95adbc8bde5aa33da4f4fbb44/conan/tools/cmake/cmakedeps/templates/target_configuration.py#L35) was changed by adding some special case when `pkg_name` and `comp_name` are the same.

It accidentally break this case, because `tvalue` macro is inlined in declaration of several variables (see

[2021-06-08 11:15] memsharded opened #9072 "[feature] Cross-compilation model in CMakeToolchain"
The new ``CMakeToolchain`` is not managing cross-building yet, variables like CMAKE_SYSTEM_PROCESSOR not set.

The mapping between Conan settings and this variable might not be straightforward, but the old integration does something. It is necessary to check this, and start adding support and testing this case in ``CMakeToolchain``

- https://docs.microsoft.com/en-us/windows/win32/winprog64/wow64-

[2021-06-08 13:44] lasote commented on #9071
Thanks so much for reporting. I submitted a PR to the `1.37.2`, what a pity we just released `1.37.1` 😣

[2021-06-08 14:11] wKavey opened #9074 "[bug] conan info does not respect --remote if the recipe/binary has already been cached from a different remote"
It seems that subsequent calls to `conan info` using a `--remote` argument will not respect the given `--remote` if the package/recipe/binary has already been cached from a different remote.

This seems at odds with the help text for `--remote`
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: SLES12SP3
  * Compiler+version: GCC 4.8
  * Conan versio

[2021-06-08 14:14] alex-700 commented on #8919
@lasote can I ask your opinion (as an expert in `CMakeDeps` generator :) ) about this question?

It is sad that only existing workaround is using `cmake_find_package_multi` generator, where this bug (or feature) can be exploited.

[2021-06-08 15:01] memsharded commented on #9071
Closed by https://github.com/conan-io/conan/pull/9073, will be released in 1.37.2

[2021-06-08 15:27] franramirez688 commented on #9038
@memsharded @tapia does it make sense if `-c` is available for `conan create` as well?

[2021-06-08 15:54] memsharded commented on #9038
Yes, it does. Basically, it might be needed in all install and create commands: create, info, export-pkg, test, install. It might be also necessary later in other commands, even ``download``, for example, if the [conf] contains something like the number of parallel jobs to download.

I suggest starting with the 2 main cases only: create and install. We can add it later to other commands as necessa

[2021-06-08 16:08] lasote commented on #8919
Hi, I would like to step back to the original pain and check I got it. So you have CCI packages depending on the Boost recipe of CCI, right?
And you want a way to replace the Boost "node" and link with the system one, correct?
So you are creating a recipe "boost/system" and declaring an override requirement in the consumer project BUT you cannot get the packages depending on boost to link against

[2021-06-08 16:41] alex-700 commented on #8919
And you want a way to replace the Boost "node" and link with the system one, correct?

This described situation is similar to mine (and more interesting), but not the same.

This is almost correct. The main part here that this `boost/system` recipe is not "honest" one in the terms of `conan` model.

My real case is following.

The simplified dependency tree is following:
[code]
A, B, C, D is our p

[2021-06-08 19:52] memsharded commented on #9074
Hi @wKavey

This is not a bug, this is how the ``--remote`` argument works across all commands that resolve the dependency graph, including ``install``, ``create``, ``export-pkg``.

The dependency graph is always evaluated locally, from the Conan local cache, because the recipes have to be imported, loaded and evaluated, and that cannot be done in the server. So recipes are fetched from servers to

[2021-06-08 20:34] wl2776 commented on #1341
That helps with Visual Studio 2019 too.

[2021-06-08 21:22] memsharded commented on #9067
Hi @gpxricky

Yes, you are hitting some concurrency issues. The Conan cache is not intended for concurrent usage, though it has some internal mechanisms for some limited cases, it is not the general case. In theory the parallel "create" could work, but maybe the source SCM part of it is not correctly managed, or it got some changes and lost some of the protections (it is difficult to test for race

[2021-06-08 21:23] #9071 closed, assigned to lasote

[2021-06-09 07:49] czoido opened #9076 "[feature] First steps in the implementation of the Conan cache for 2.0"
Do the first implementation of the conan cache for 2.0:

- Support for multiple revisions
- Deterministic paths for storing packages and recipes based on the name, version, user, channel, package id, recipe revision and package revision.
- Backed with a sqlite DB.

Implemented in: https://github.com/conan-io/conan/pull/8796

Continuing work: https://github.com/conan-io/conan/issues/9164

Related t

[2021-06-09 08:22] lasote commented on #8919
Ok, thanks I think I got it right.
Well, the `bug/feature` you describe is clearly a bug and will not come back, hahaha. But we could think about introducing a property to skip both the generation of the `SystemBoost-config.cmake` files and also the dependant `find_dependency`.
Something like `set_property("cmake_skip_config", True)` but I need to discuss it with the team because it might introduc

[2021-06-09 09:25] OznOg commented on #1524
Hi all,
but why in the first place: "conans/client/file_copier.py has a check to prevent copying ".git" and ".svn" folders." ?

specifying * is rather clear, and moreover adding ".git" explicitely to the list as well.

Why do conan *needs* to remove the .git? why not letting the user exclude it if he wants to? I mean, if I put my code on cvs or clearcase or whatever, will conan try to guess "where

[2021-06-09 09:48] lasote commented on #8336
I opened a [PR](https://github.com/conan-io/conan/pull/9077) with a test for the `CMakeDeps` generator verifying that any directory declared at `cpp_info.builddirs` is added to the `CMAKE_MODULE_PATH` so you can `include` any cmake file in these declared folders but AFTER doing a `find_package` that locates the dependency.

I agree with @memsharded, this is the responsibility of the CMakeDeps, not

[2021-06-09 09:48] alex-700 commented on #8919
Yes, I think, that it will help.

But just for clarification: in terms of this feature we will skip generation of `boost-config.cmake` (not `SystemBoostConfig.cmake`, this name is the part of our crutch to implement the idea).

yeap, and it will be :) `self.name` in the `SystemBoost` recipe is `boost` (and always was), and if I don't declare `cmake_file_name` it will work as expected.

[2021-06-09 13:09] marknva1 opened #9078 "[question] Determine remote recipe version when building locally"
As part of our workflow we are creating RPM during the conan packaging step which use the Jenkins build number as the release label. When the build happens in the local cache the release numbers can get out of sync. Is there an attribute or method that can be used in the conanfile.py to determine the current version of the remote recipe? Thanks.

[2021-06-09 13:38] lasote opened #9079 "[bug] conan profile show/update doesn't work with new experimental [conf] section"
`conan profile show profile_containing_conf` => fails
`conan profile update conf.whatever` => fails

[2021-06-09 13:50] memsharded commented on #9079
Agree the ``show`` must be fixed, it cannot fail. The ``profile update`` I am not so sure about this command in particular and in general commands that do basic text edition of text files (thinking UI/UX Conan 2.0)

[2021-06-09 17:19] memsharded commented on #9078
Hi @marknva1

Not sure if I fully understood your issue, and what you mean with "When the build happens in the local cache the release numbers can get out of sync."

Regarding the check, recipes are a "definition" of a package, they are completely agnostic about remotes, even their existence, so it is not possible to do such a check from recipes. The way to check if there is some newer recipe in t

[2021-06-09 17:23] memsharded commented on #1524
This was added years ago, because there were many users packaging/copying the full .git folder while that was not their intention, bloating packages.

The packaging of the whole git repo was considered an anti-pattern, why do you want to store a full copy of the whole history of sources in a package, where only 1 commit of that source can and would ever be used? And it was baked in the ``self.copy

[2021-06-10 06:07] Ext3h commented on #1557
Can we perhaps address this issue in the opposite direction?

With `fsutil.exe file setCaseSensitiveInfo $CONAN_USER_HOME\data enable`, Windows clients with the WSL subsystem (not WSL2!) installed (`Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux
`), ***do*** support case sensitivity on Windows on NTFS, too.

This is enough to get conan to install both e.g. `CM

[2021-06-10 07:09] tiolan opened #9082 "[feature] Provide multiple build() methods"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Assuming one uses a cross compilation toolchain from within Conan.
Assuming further you need to build two different types of binaries (say native and cross) during that build.
Example: Protoc for executing it on amd64 and Protobuf entirely in aarch64 for linking against another aarch6

[2021-06-10 08:08] OznOg commented on #1524
Thank you for the answer. IMHO, this remains a bad idea to me, one may use the same argument for any file in sources that is not supposed to be packaged (for example CI stuff or linter or pre-commit hook, or what-ever).
Being an anti pattern does not mean the tool should try to fix it (may just be stressed in documentation),  especially when the fix does not always work (works only for git and svn

[2021-06-10 08:09] derived-coder opened #9083 "[question] providing applications to cci?"
I would like to see recipes for tools like:
mono, plantuml, java, etc...
i.e. Applications

1. Is CCI open to accept PR for these tools?
2. What is when they cannot be build from source and only binaries (for the major three platforms) can be provided?

- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-10 08:12] memsharded commented on #9082
Hi @tiolan

Some quick feedback:

Don't do that, don't handle the cache directly from recipes, that might break anytime, not documented and unexpected behavior. You can do what you want within the ``build_folder``, but not with any other folder outside that

I am not sure I understood what you are trying to achieve. To implement different builds, it is typically something like this:

[code]

There

[2021-06-10 08:24] memsharded commented on #1524
Well, it depends, when it is the N-th support ticket you have responded because of this, and when Conan users keep asking for the feature because they were hit by the issue, then it is difficult to argue not to do it. And doing it for git and svn means covering like 90% of the user base, so it is typically a good thing, to stop getting 9 out of 10 support tickets regarding the issue.

Of course, t

[2021-06-10 08:30] tiolan commented on #9082
Ah I need to be more precise.
It is not about creating one package for native and another package for cross from the same recipe, based on a condition.
It is about creating one package, that contains e.g. a code-generator built for amd64, but libraries built for aarch64.
The code generator itself is built from source using native toolchain, needs to be executed in order to generate source for the

[2021-06-10 08:42] danimtb commented on #9083
Hi @derived-coder! I am movig this issue to the conan-center-index repository for further discussion as this is not related to the conan client but to conan center. Thank you!

[2021-06-10 09:32] #9025 closed, assigned to memsharded

[2021-06-10 09:33] memsharded commented on #9082
Now I see what you mean.

This is a case that is not supported by Conan in that way, and it will not be. Binary packages are built for one configuration (compiler, architecture, etc), having a package that contains binaries for different architectures would change too many things, and break the core Conan model.

That doesn't mean that it is not possible to support this case. Something similar is

[2021-06-10 09:34] memsharded commented on #9025
https://github.com/conan-io/conan/pull/9075 closed this issue, will be in 1.38

[2021-06-10 10:17] lasote commented on #8919
Hi, good news. We discussed it and will try to provide something for the next release.

[2021-06-10 10:21] AndreyMlashkin opened #9084 "[bug] imports method is faulty"
-----> [conanfile.py.txt](https://github.com/conan-io/conan/files/6630481/conanfile.py.txt)

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux 20.04
  * Compiler+version: gcc 10.0
  * Conan version: 1.37.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
rename a file from attachment conanfile.py.txt -> conanfile.py
call
conan

[2021-06-10 11:11] AndreyMlashkin commented on #9084
I have also tried to disable symlinks:
       self.copy("*.so",            dst="bin", src="lib"    , keep_path=True, symlinks=False)
But I am getting an exception:

Traceback (most recent call last):
  File "/home/andrei/.local/lib/python3.8/site-packages/conans/client/command.py", line 2176, in run
    method(args[0][1:])
  File "/home/andrei/.local/lib/python3.8/site-packages/conans/client/comma

[2021-06-10 11:12] AndreyMlashkin commented on #9084
As I understand, conan shall just add '-L' to cp command, while symlinks are deactivated, which shall resolve the problem

[2021-06-10 13:14] Anokhi1994 opened #9086 "include custom .cmake files when using cmake_find_package generator"
I have a package A and package B.
package B has a requirement of package A in conanfile.py.

package A is like this:

- cmake
    - helloWorld.cmake (contains a macro hello_world)
- CMakeLists.txt
- conanfile.py
- src

package B is like this:

-CMakeLists.txt( needs to use hello_world macro from helloWorld.cmake file)
-conanfile.py (requires package A,  has generator "cmake", "cmake_find_package)

[2021-06-10 13:24] memsharded commented on #9086
Hi @Anokhi1994

Have you tried the new ``set_property()`` from cpp_info: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#cpp-info? You are interested in the ``cmake_build_modules`` properties to point to your module.

Not sure if ``cmake_find_package`` supports it fully, I'd recommend the new ``CMakeDeps`` generator, is there to become the canonical integration with CMake in Co

[2021-06-10 13:29] lasote commented on #2140
We have been discussing this issue lately but we need more information about your use cases if you don't mind.
I see a lot of upvotes to the original comment but we are still lacking some motivation to implement this, which, at first sight, looks a bit weird because typically you want your consumer to declare explicitly the requirements. Are you requesting this for CI to try something? or just loc

[2021-06-10 13:30] lasote commented on #5067
Let's then close this one and continue the discussion there. Thanks

[2021-06-10 13:30] #5067 closed

[2021-06-10 13:42] Minimonium commented on #2140
We'd appreciate the feature because it'd allow us to try out "experimental" packages locally which do not conform to the version-range protocol without changing the recipe. We had cases where after local changes - a developer forgot to fix the dependency back from an experimental and it was leaked into the trunk, which is while not _that_ crucial but very inconvenient.

For us, It's purely a devel

[2021-06-10 13:47] gsemet commented on #2140
Hi. For myself, I have developed a tool and its companion conanfile base class that allows me to inject these dependencies at run time. the main use case for me is is to test a change before merge:
- libA is used in libB.
- libB is used in appA
- a change on libA requires a new version of libB, and both should be tested in libA.
- If something breaks on libB or appA, merge libA is blocked.
- If a

[2021-06-10 14:03] lasote commented on #2140
@gsemet thanks. Would be nice to know more about your solution and we will be glad to have a meeting if we can help. Without knowing many details about what you did, using package revisions and lock files you _should_ be able to manage it. Have you taken a look at this [docs](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html)? I think we might have more material to learn about it, I wil

[2021-06-10 14:22] gsemet commented on #2140
Sure, I'll try to set up something for you. Yes I would like to use lock files ultimately, I use an intermediate file to store the component to test that looks like a mini-lock file (only direct level of dependency is overriden).

But I do not see how to use the lockfile directly, how can you patch the lock file of another project to say "if in your graph you have libA/1.0.0, take the `libA/1.0.1-

[2021-06-10 14:55] KerstinKeller commented on #2140
For me (I commented on the linked issue), this mainly stems from having transitive dependencies and later making releases.
We early adopted using version ranges only in recipes, as fixing versions tremendously increases integration effort.
In the end, noone but the final consumer will resolve exact versions.
In that case, I also would not call it "overriding" dependencies, but "resolving" dependen

[2021-06-10 14:59] gsemet commented on #2140
What I say is not in contradiction with your point. We do have version range in recipe (I would like to use lockfile only on the app).
My use case is just to test BEFORE merge. Once merged, everything happens according to what to do and probably everybody does.

[2021-06-10 15:26] gsemet commented on #8934
I use conan copy to test on a temporary location, and then promote to its final destination. I do not want to create 2 repositories each time. Would it be possible to create 2 packages (one to test), and zip the other package (so no conan repository publication) that would be uploaded to our conan repository only on the official "go" (that is, at the very end of our pipeline, we have this promotio

[2021-06-10 16:29] lasote commented on #2140
Thanks!  I'm getting a better picture now, still would like to receive more use cases from the users that upvoted the issue:

@yuri-kilochek @niosHD @driesdeschout @petermbauer @raffienficiaud @turkishviking @josh-stoddard-tanium @IceflowRE @ilya-v @lieser

[2021-06-10 16:40] lieser commented on #2140
We have two use cases, both mainly for our CI.

#### 1. Build and test our own packages with different versions of the dependencies

Lets assume we have liba, for which both a stable version and an unstable version exist (e.g. `liba/1.0.0` created from a tag, and `liba/master` which is created on each commit to master).

We also have a libb, which depends on liba. In the recipe of libb checked int

[2021-06-10 18:04] tiolan commented on #9082
Yes I actually know the concept they follow for protobuf and also for grpc.

In my opinion it has disadvantages.
My understanding (and please correct me), is that you can then provide a build profile as well as a target profile when you invoke conan build.

In order to use conan build, you have to create a conanfile.py and describe how your application is to be build, not only how the packages are

[2021-06-10 18:12] memsharded commented on #9082
That enforces you to build your application itself using conan.
IMHO a package manger should not enforce you to also build the application using the package manager, but should only provide packages.

Not necessary, you can have packages without ``build()`` method at all, build outside of Conan if that is what you want, and use ``conan export-pkg`` to create the packages. Still, the model is sound

[2021-06-10 22:53] aleksa2808 opened #9088 "[bug] Error when running "conan test" with a lockfile"
### Environment Details (include every applicable attribute)

Used the `conanio/gcc9:1.37.1` image for reproducibility.

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-06-10 23:20] memsharded commented on #9088
Thanks for the useful report. Managed to reproduce and trying to provide a fix for it in https://github.com/conan-io/conan/pull/9089 (aiming for patch Conan 1.37.2, probably next week)

[2021-06-11 08:48] taogeng commented on #9060
goog suggestion!!!

[2021-06-11 11:36] memsharded commented on #8336
Hi @madebr

Could you please clarify if we are missing some use case? It seems the test in #9077 verifies that files from packages added to ``builddirs`` (which is the root of the package by default) can actually be included from consumers. Are we missing something or this could be considered solved?

[2021-06-11 11:43] aleksa2808 opened #9091 "[bug] Incorrect "lock bundle" help string for "update""
The description for the `update` sub-command of the `conan lock bundle -h` command is the same as for the `update` sub-command in the help string for the `conan lock -h` command. However, this message does not apply to the bundle update arguments and general command meaning.

This is the relevant part of the output from the `conan lock bundle -h` command:
[code]

### Environment Details
  * Conan

[2021-06-11 11:45] memsharded commented on #1557
Conan is case-sensitive, OpenSSL and openssl are completely different packages. They cannot override each other, only the exact same package name can be overriden. The possibilities are either stop using legacy packages (those with uppercase letters) or other packages using the legacy ones (typically from other repos other than ConanCenter), ConanCenter started to use lowercase only more than 1 ye

[2021-06-11 12:20] madebr commented on #8336
I postponed the work on the project where I stumbled upon this problem/question.
I'll try to revive it soon and if you hear nothing from me, then assume your brilliant work solved everything :smile: .

[2021-06-11 12:20] #8336 closed, assigned to lasote

[2021-06-12 09:29] aleksa2808 commented on #5198
Reached this problem as well with a CCI-like repository of recipes. A common operation there is to go through all recipes/versions and export them, create lockfiles, etc. For around 30-40 packages (some with multiple versions), exporting + locking all by calling conan from the command line took around a minute on my machine. Then I tried using `conan_api` directly and the whole thing took less tha

[2021-06-12 16:47] memsharded commented on #5198
Conan 2.0 will do 2 things to improve these things:

- Commands and api will be modularized, that should reduce the python imports
- We will document and stabilize the python api (maybe the stabilization would be done in 2.1, 2.2, not directly in Conan 2.0, as it is not critical for 2.0 launch)

[2021-06-12 16:49] Nitesh639 commented on #8846
I want to work on this issue.

[2021-06-12 20:07] robindegen commented on #7021
I too would like to see this feature very much. I'm in the process of converting to conan and we use the version of some packages in the code for backwards compatibility. I now have to add an additional header to do this, but knowing it from Cmake would be even better.

[2021-06-12 21:04] memsharded commented on #8846
Hi @Nitesh639

Thanks for the offer! I have assigned it to you. Conan 1.38 is due by the end of the month, if it moves forward I'll assign it to the release.

[2021-06-12 21:10] memsharded commented on #7021
Hi @robindegen

A lot has changed since then, in the preparation for Conan 2.0:

- We already have developed and released a ``self.dependencies`` model that will allow full access to dependencies information. Not only the version, but even things as the recipe revision and the package id of the dependencies will be fully accessible.
- We have added a ``generate()`` method that is the perfect place

[2021-06-12 21:21] robindegen commented on #7021
@memsharded Thanks for the update. I want to be able to access the version information about packages I use from the generated conanbuildinfo.cmake file. Would that also be possible with these changes?

[2021-06-12 21:48] memsharded commented on #7021
``conanbuildinfo.cmake`` is the file generated from the ``cmake`` generator, that is becoming legacy, and will be superseded by the ``CMakeToolchain`` + ``CMakeDeps`` generators.

It is very unlikely that ``cmake`` generator will get new features like this one, as the risk of breaking is too high. And in any case, it is likely that features like this one will not even be in the ``CMakeToolchain``

[2021-06-12 22:00] robindegen commented on #7021
@memsharded Thank you very much for all the information. From what I think I understand from you it should indeed be doable with these newer CMakeToolchain and CMakeDeps generators. Basically what you are saying is that I can generate additional cmake files with my own information on top of what the default generators do. Is that correct?

I will need to investigate how those work and how to use t

[2021-06-12 22:36] memsharded commented on #7021
Yes, exactly. ``CMakeToolchain`` and ``CMakeDeps`` could add it, but as they aim to implement a transparent CMake integration, it is possible that such a functionality will not be implemented as built-in, but instead something like:

- A new custom block that extends ``CMakeToolchain`` https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#extending-and-customizing-cma

[2021-06-12 22:47] robindegen commented on #7021
@memsharded Clear thank you

[2021-06-13 05:03] playgithub opened #9094 "[question] Does conan telemetry?"
`vcpkg.exe` now has the capability of telemetry, only disabled by settings.
What about conan?

[2021-06-13 10:28] maoreliy commented on #9013
Hi @memsharded
Can you please help me understand what are the answers for the above Qs?

[2021-06-13 21:19] memsharded commented on #9094
Hi @playgithub

No, Conan does not have any telemetry at all. The truth it that we have considered it a couple of times, it would be really valuable feedback to know a bit more of Conan usage at very large scale, but it didn't get enough priority so far. If sometime we do it, it will be very visible in the docs and very easy to opt-out in configuration, but it is not planned atm.

Any particular r

[2021-06-13 21:32] memsharded commented on #9013
can it be a valid case?

Maybe, yes, we would need to think more about this. But the thing is that this would start to really be a problem when the cache can be really used concurrently, and this is not any time close.

Because it is a very challenging problem. Concurrency in general is a challenging problem, and Conan in particular has some particularly challenging ones:

- It involves all kind o

[2021-06-13 21:37] #9091 closed, assigned to memsharded

[2021-06-13 21:38] memsharded commented on #9091
https://github.com/conan-io/conan/pull/9093 fixed this, will be in 1.38, thanks for reporting!

[2021-06-14 06:33] #9035 closed, assigned to memsharded

[2021-06-14 06:48] Da-LiFe opened #9097 "[question] channel semantics in conan 2.0"
This is a follow up issue on this discussions within [this PR](https://github.com/conan-io/tribe/pull/25), especially this [comment](https://github.com/conan-io/tribe/pull/25#issuecomment-856136690) of @memsharded:

This is our context: We are using conan in a research institute to develop and deploy c/c++ packages for our quite complex systems. We do not have a real production or "ops" environmen

[2021-06-14 07:26] playgithub commented on #9094
I'm just afraid of the built-in capability of user data collection.
Though it can be opt-out, there might be a backdoor.
So I prefer softwares without the capability.

[2021-06-14 07:26] #9094 closed, assigned to memsharded

[2021-06-14 08:04] czoido commented on #9088
Closed by: https://github.com/conan-io/conan/pull/9089 to be released in 1.37.2 this week

[2021-06-14 08:04] #9088 closed, assigned to memsharded

[2021-06-14 08:06] fschoenm commented on #8314
Did you ever find a solution for that? I think we have the same problem with asio and runtime dependencies that are OS-dependent (pthreads).

[2021-06-14 08:15] foundry-markf commented on #8314
@fschoenm No, I never heard anything back at all to clarify what we should be doing.

Although, now I've checked, the conan-center recipe for cppzmq has been subsequently updated to remove some of issues I raised in https://github.com/conan-io/conan-center-index/commit/f192097674b272ae20b0603d053adf14ad313acf#diff-d5da3b5b050ac6af64196a95226d6df0c6989fef9091d9d586e0f9bfcee583c6 . The runtime requi

[2021-06-14 08:33] #8986 closed, assigned to nobody

[2021-06-14 08:40] jenia90 opened #9098 "[feature] Support for custom directory for conan_server"
Currently conan_server only supports being deployed to a default location - `~/.conan_server/`. My suggestion is to let the user set a custom directory by adding command-line argument that will let the user set where the server config and data will be stored. As far as I see from the code it should be something that is rather easy to do, and I would like to open a PR to add the functionality.

- [

[2021-06-14 08:52] memsharded commented on #9098
Hi @jenia90

Sure, feel free to submit a PR for it, thanks for wanting to contribute. Just make sure that it is opt-in and it will not break existing users.

[2021-06-14 08:54] memsharded commented on #8986
Hi @jenia90

Still curious why you cannot use the free ArtifactoryCE, but you can use the conan_server, they are both server applications you need to run on-prem (or on the cloud, but host them in a similar way).

[2021-06-14 08:58] memsharded commented on #8314
Hi!

It depends on how you want to transmit that dependency to consumers. It is correct to do something like:

[code]

Even if the information is wiped from the ``package_id``, the information that consumers get can still be different based on settings and options.

Is this the behavior you are interested in?

[2021-06-14 09:04] jenia90 commented on #9098
Hi @memsharded

Of course, it should be an optional flag that users can specify when they launch the server. What do you think about adding an environment variable, say CONAN_SERVER_DIR, as an alternative way of specifying the directory?

[2021-06-14 09:07] memsharded commented on #9098
Typically I would go for 1, possible the simplest or most demanded "main" implementation, then only add alternative ways based on user demand. In this case, actually I would probably go with just the env-var because it would be more symmetric to the client (CONAN_USER_HOME), so something like an env-var (CONAN_SERVER_HOME). But if you feel the cli arg is better for your case, go ahead for it.

[2021-06-14 09:17] jenia90 commented on #8986
H @memsharded

This is just for an initial PoC and we need something small and simple that will not require too much bureaucracy and permission to make it working, so conan_server checks all the boxes for our current needs. The final solution will probably be based on Artifactory.
BTW, I've closed the issue since we dropped the idea of having a custom adapter as it required too many modifications

[2021-06-14 09:21] foundry-markf commented on #8314
Hi @memsharded,

Thanks for the reply.

The model that we're ideally interested in is probably more vague than that. We have several products, all interested in using header only libs (with runtime requirements), but each product can use different flavours of the runtime requirements. One, for example, uses a static lib while another uses a shared lib.

So, while we don't want the header library t

[2021-06-14 09:36] memsharded commented on #8314
Ok I think I understand a bit better. I guess the alternatives are:

- If the tests are "package tests" in the ``test_package``, then yes, the correct way would be to call ``conan test`` or ``conan create`` as many times as desired with the different input profiles and configurations. You might use the ``--build=missing`` in case you want to avoid actually re-building the header-only package itsel

[2021-06-14 09:39] memsharded commented on #8986
Thanks @jenia90 for the feedback!

Well, I run ArtifactoryCE a lot, just by downloading the .zip from the downloads page and double clicking on the launch script. It typically run even in Windows without any other setup, so if that was not your experience, I am interested to know. If it is more "company bureaucracy" and conan_server is easier to get approval because MIT license, then good :)

Soun

[2021-06-14 09:43] foundry-markf commented on #8314
OK, good to know we haven't missed anything obvious for markup and intent.

We'll approach it making header libs ABI-free, even when there are runtime requirements as a detail to the consumer, and work on our CI to do the right variations in testing.

[2021-06-14 09:49] #8919 closed, assigned to lasote, danimtb

[2021-06-14 09:49] memsharded commented on #8919
This has been merged in https://github.com/conan-io/conan/pull/9087, will be released next 1.38

[2021-06-14 09:53] jenia90 commented on #8986
This is exactly the issue we're dealing with here :) But as I mentioned above, eventually we will probably end up using Artifactory anyway.

[2021-06-14 11:44] memsharded commented on #7235
Hi @ericriff

Finally, to avoid risks of breaking we will introduce this as opt-in with a [conf] ``core:allow_explicit_revision_update`` as you can see in https://github.com/conan-io/conan/pull/9058/files. I hope it is good enough, it might be released next 1.38

[2021-06-14 13:12] ericriff commented on #7235
This is amazing! THank you very much for the effort.
Which breaking risks are you worried about?

[2021-06-14 13:29] memsharded commented on #7235
Some companies might consider it something not desired, like devs should be adding revisions explicitly in recipes, or due to some nature of the job, this might end in a loop, or different recipes competing with each other with different explicit revisions (and then probably the latest one wins, but this can be undefined, and the other one will be using a different revision without knowing). The c

[2021-06-14 13:30] #7235 closed, assigned to nobody

[2021-06-14 14:32] ericriff commented on #7235
Interesting.
Let's say I have a project that consumes `boost` and `zlib`,with both requirements locked to a specific RREV. Note that `boost` also depends on `zlib`, but its recipe is consumed `as is` in conan index, so no RREV lock for zlib there.

Is there a possibility of my project and boost using different versions of `zlib`?
Will the behavior be similar to what would happen if I override a pa

[2021-06-14 15:14] silvester747 commented on #8538
I noticed that when depending on a Conan package that depends on a component the behavior is also not fully consistent. The build will link to the unused component, but you cannot copy it in the `imports` method of your Conan package.

Example:
Conan package A exposes A::A1 and A::A2, each with their own shared library.
Conan package B only depends on A::A1
Conan package C depends on B, but also r

[2021-06-14 15:17] memsharded commented on #7235
In theory, for regular requires, the only possibility is to be using ``private`` dependencies, which are not recommended except for very exceptional situations. Otherwise, different versions or different revisions will conflict and raise.

The situation is different for ``build_requires`` which are private per package. In theory you could have boost have a ``build_requires`` to ``cmake/1.0#rrev1``

[2021-06-14 15:40] memsharded commented on #9097
Hi @Da-LiFe

This is some historical perspective on this:

- Revisions were first released in 1.13, as a very experimental feature (https://blog.conan.io/2019/03/12/New-conan-release-1-13.html) as an attempt to start addressing multiple issues related to package mutability, and the problems and challenges this mutability had.
- Since then, revisions have been gaining traction, and provided much be

[2021-06-14 15:54] isnullxbh commented on #5974
I solved this issue by installing the py37-sqlite3 package via pkg (it may be easier for some users to use pkg instead of portsnap). There are other packages for different versions of Python, it can be listed by executing the following command: `pkg search ^py[0-9]+-sqlite3`

[2021-06-14 21:58] memsharded commented on #8538
I am trying to reproduce this issue, this is my effort so far:

[code]

So it is not raising the error. Obviously I am missing something, but not evident what it is, if someone has some hint, that would be great.

[2021-06-14 22:13] memsharded commented on #8934
Yes, it will require 3 repositories. This is a known best practice, that has been proven to work at scale for other languages and package types. There are many advantages to this approach:

- Many, many times, it is not possible to use local state: if the build has different configurations (Linux, Windows, etc), or if because of the size of the project, multiple build agents are used to build in p

[2021-06-15 03:25] playgithub opened #9100 "[question] no wxwidgets?"
It's a famous UI library, I'm surprised it doesn't have binaries yet.

[2021-06-15 05:44] playgithub opened #9101 "[question] `conan install` grammar"
`conan install zlib/1.2.11@` works
`conan install zlib/1.2.11` failed

In `conanfile.txt`, without `@` it works.
[code]

It seems not consistent, if `@` means remote, why not use it in `conanfile.txt`?

[2021-06-15 05:49] playgithub opened #9102 "[question] Are the binaries in conan-center safe?"
If yes, how does conan keep the binaries safe? Does  the binaries on conan-center are built on official servers?

[2021-06-15 06:08] Da-LiFe commented on #9097
HI @memsharded

Thanks for clarification and the historical background. We are not using `conan copy` for promotion, we already do a `conan create/install` to rebuild the package with the new channel and upload it. So to my understanding, our workflow will continue working in Conan 2.0. However, I've learned that there is room for optimization towards "package immutability". Can you maybe recommen

[2021-06-15 06:50] silvester747 commented on #8538
Regarding my comment: I found that the 2 components had different libdirs. So the copy statements needed to be adjusted for different src directories. That may require a bit of thinking on how import can be improved with components.

Regarding the reproduction. I have a suspicion that the unintended link comes in through another CMake variable. It seems to go wrong when combining CONAN_PKG:: with

[2021-06-15 07:31] memsharded commented on #9102
Yes, all the binaries available in ConanCenter (remote conancenter: https://center.conan.io) are built by our build service in the conan-center-index repo.

Still, a very large part of Conan users (more than 50%) do build their own binaries from the conan-center-index repo, and store their binaries in their own private Artifactory, because of policies, regulations, security, etc. And we support th

[2021-06-15 07:33] memsharded commented on #9101
It doesn't mean "remote", the package could be installed in the local cache.

It is just a necessary distinction to differentiate between:

[code]

So it is just a CLI parsing thing. Conan 2.0 will remove this need by making the argument explicit.

[2021-06-15 07:35] memsharded commented on #9100
Moving this to conan-center-index repo, where the community contribute these packages.
Please have a look at the activity there:

- PRs so far +4000: https://github.com/conan-io/conan-center-index/pulls
- Status of some popular libs not yet in the center: https://github.com/conan-io/conan-center-index/issues/621

[2021-06-15 07:47] memsharded commented on #9098
Implemented in https://github.com/conan-io/conan/pull/9099, will be in 1.38. Thanks for contributing it!

[2021-06-15 07:47] #9098 closed, assigned to jenia90

[2021-06-15 08:39] #9101 closed, assigned to memsharded

[2021-06-15 08:41] #9102 closed, assigned to memsharded

[2021-06-15 09:10] harsszegi opened #9104 "[question] lockfiles and explicit revisions"
Hi,
we have dependency graphs with explicit versions set for the given packages, so no version ranges at all.
However from CI perspective we'd like to use the lockfile "merge" feature (--lockfile=foo-in.lock --lockfile-out=foo-out.lock)
so that to be able to override certain elements in the dependency graphs.
However as we use explicit revisions it doesn't work currently. Is it a design decision?

[2021-06-15 09:48] memsharded commented on #9104
Hi @harsszegi

Quick note: the ``.cmake`` extension doesn't make sense for lockfile, I guess that is a typo.

Regarding your question: A lockfile is a snapshot of a dependency graph. What is stored in the snapshot/lockfile is effectively locked, and cannot be changed. Lockfiles are not a versioning mechanism, it is not possible to change something in the lockfiles to construct a new dependency gra

[2021-06-15 10:18] tapia opened #9105 "[feature] Conan 2.0 CLI: Search command"
Develop the new Search command for the Conan 2.0 CLI

[2021-06-15 10:49] harsszegi commented on #9104
Hi @memsharded ,

yes of course it was a typo :)

Currently we are using a non-semver compliant versioning scheme, practically capturing the git sha in the version number (apart from other things, like -dirty, etc.). So practically it makes next to impossible to create a "OpenSSLVersion"-alike version wrapper which would make our versioning scheme somewhat semver-compatible, comparable.

We don't

[2021-06-15 11:42] memsharded commented on #7070
After seeing that ``CMakeToolchain`` is settings GLIBCXX_USE_CXX11_ABI=11, I came to revisit this.

The concerning bit is this:

from (https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html)

So this means that some Linux distros do really need GLIBCXX_USE_CXX11_ABI=11 defined, and Conan would be doing the safe thing, redundant in some cases, but safer than not defining and getting th

[2021-06-15 13:46] boussaffawalid opened #9108 "[question] generator for modern cmake"
Conan supports many cmake generators:
* cmake
* cmake_multi
* cmake_paths
* cmake_find_package
* cmake_find_package_multi
* CMakeDeps

Currently we use **cmake** and **cmake_multi** but they have a huge limitation (no components support). So  I'm thinking to switch to **cmake_find_package** and **cmake_find_package_multi** but it seems that components support is also experimental. And then there i

[2021-06-15 14:12] memsharded commented on #9108
``CMakeDeps`` is the only one that will survive in Conan 2.0. It is more flexible and evolved than ``cmake_find_package`` ones, and our development efforts are focused on this one, the others are pure maintenance mode, only for serious bugs will be changed.
To be used with the new ``CMakeToolchain`` and ``CMake`` from ``conan.tools.cmake``. They will also work nice with the new ``layout()`` featur

[2021-06-15 14:32] boussaffawalid commented on #9108
Thanks for the clarification! But how does CMakeDeps works with multi config environments.

Currently we use `cmake` for single config IDE (like qtcreator) and `cmake_multi` for multi config IDE (like visual studio).

[2021-06-15 14:44] memsharded commented on #9108
CMakeDeps is a multi-config generator, it will work in multi-config IDEs like VS, and single-config one (as the single-config is basically a simplification of the multi-config one, where only 1 config is installed)

[2021-06-15 15:16] memsharded commented on #9104
This is the key thing that violates locking assumptions:

This is not doable from a locking point of view. A new version of an existing package can, and often does:

- Remove existing dependencies
- Add new dependencies. This dependencies might or might not be already locked in a different place of the lockfile and it might have transitive dependencies that could or could not be locked.
- Upgrade

[2021-06-15 15:26] memsharded commented on #9104
To follow with your case, the flow for something like you explained could be something like:

- conan lock install <yourlockfile>
- conan export|create your fixes
- conan lock create <rootapp>

this will create a new lockfile, that will include your fix if it didn't bump the version. That lockfile will already compute what is necessary to be rebuild, following ``--build=missing`` policies for exam

[2021-06-15 15:28] memsharded opened #9110 "[feature] New ``PkgConfigDeps`` generator"
Create a new ``PkgConfigDeps`` generator in ``conan.tools.gnu``:

- Create a .pc file per dependency
- Handle components
- Uses only modern practices (can assume always build/host context)

The location of the output files will be injected by ``AutotoolsToolchain`` and ``MesonToolchain`` (in both cases the `PKG_CONFIG_PATH` env var is the way)

[2021-06-15 15:35] harsszegi commented on #9104
Hi @memsharded ,

might be lost on this, but how can I "conan lock create" after my changes are applied?
How can I create a new dependency graph with minimal changes applied to it?
I thought that if the lockfile is created even if --base, the package revision is locked already (but not the package actual revision), so if the given package is not allowing version ranges there is absolutely no way t

[2021-06-15 17:22] w3sip opened #9111 "[question] package_info and automatic prefixing of library name"
Adding
`self.cpp_info.libs = [ "foo" ]`
to package_info would result the client library expecting libfoo on *nix systems and foo.lib on Windows. Is there a way to avoid this behavior for projects, where the library is named libfoo.[extension] across all the OSs?

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-15 18:11] uilianries commented on #8563
@Alzamer Thank you for your intention, please, go ahead and comment this issue in your PR when opening.

[2021-06-15 23:50] SeanSnyders opened #9112 "[bug] Conan 1.37.2 CMakeDeps generator does not bootstrap package's own CMake config file"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Catalina
  * Compiler+version: n/a
  * Conan version: 1.37.2
  * Python version: 3.9.5

### Problem

The new `CMakeDeps` generator behaviour generates generic CMake `*Config.cmake` etc files from the Conan recipes for the external libraries that are specified as dependencies.
What if a library provide

[2021-06-16 00:35] memsharded commented on #9112
Hi @SeanSnyders

I would expect the generator to generate the typical files for Conan, but then also still defer/include/execute the package's original *Config.cmake file(s).

Library provided config files have two limitations due to CMake:

- They are not multi-config. You cannot find multiple packages (Debug, Release, etc), which is a blocker for users using Visual Studio or XCode (multi-config

[2021-06-16 01:44] 0x8000-0000 commented on #7070
It might be useful to have a survey of supported distributions to see how many build by default with _GLIBCXX_USE_CXX11_ABI=0 .

[2021-06-16 01:56] SeanSnyders commented on #9112
Hi @memsharded

The example (https://gist.github.com/SeanSnyders/30f73a76736864977bd88c0212f55fd7#file-conanfile-py-L34) I gave does enable the build modules in the build context as per the latest documentation:
![image](https://user-images.githubusercontent.com/1384135/122146098-88cf9600-ceaa-11eb-81bb-beda334a462c.png)

But for your mention of "new properties", there is no documentation on this

[2021-06-16 06:55] db4 opened #9113 "[question] Never use binary packages from a specific remote?"
The subject says all. I would like to use recipes from a remote repository (say, conancenter) and take binaries only from my own private repo (if they are available there). Of course, package revisions are enabled. Is it possible with not too many efforts?

[2021-06-16 10:15] memsharded commented on #9113
I think this might be possible in Artifactory:

- Have a virtual repo that aggregates a remote to ConanCenter, and your own local repo
- Exclude from the remote the **/package/** path, that should allow to bring only the recipes.

Not sure about it, but might be worth trying.

[2021-06-16 10:17] memsharded commented on #9113
In any case, I am not sure about the setup. Are you building the binaries from a clone of ``conan-center-index`` repo? If so, it wouldn't make sense to depend on ConanCenter at all, right?

[2021-06-16 11:34] MiSo1289 opened #9116 "[bug] [workspaces] workspace install fails on imports() (1.37)"
### Environment Details
  * Operating System+version: reproduced on debian/bullseye and archlinux
  * Conan version: 1.37+
  * Python version: 3.9.2
  * Default conan configuration and profile

### Steps to reproduce
- Clone [this workspace](https://github.com/MiSo1289/conan-workspace-bug) - Bare workspace with 2 projects created by `conan new` that reproduces the error. I simply added an `imports

[2021-06-16 11:35] KerstinKeller commented on #9097
One question:
The fact that `user/channel` influence package id's and make packages mutable, isn't that caused by how Conan realizes `user/cannel`? If they had no influence on their own package ID, wouldn't the packages be immutable?

However a while ago, we thought about a different usecase about using `user/channel` -> to specify (clearly to the user) how a package was build.
We could then have:

[2021-06-16 12:33] memsharded commented on #9097
Hi @Da-LiFe

Yes, it seems so. Having packages in different channels is fine, and if you have the automation to create packages in new channels to promote them, that should keep working. Basically, what will be removed is the "conan copy" command, if you are not using it, you should be fine.

Some possible relevant references out there:
- https://alexmullans.com/2018/09/18/immutability-is-key-to-p

[2021-06-16 16:03] italiks opened #9117 "Is it possible to specify build type of required package inside of the package recipe?"
Hi there!
I build a package and want it to depend on Release OpenSSL library no matter what build type is.
I've tried something like
[code]
But it seems not a valid code.

Is it possible to make this kind of configuration?
If yes, could you show a sample?

[2021-06-16 16:35] memsharded commented on #9117
Hi @italiks!

It is not possible from recipes, by design, defining these things in the recipes is problematic.

Settings are external configuration. You can define it:

- In your profile files (recommended to use profile files)
- In command line

In both cases, you could specify settings per package, in case you wanted, like ``-s openssl:build_type=Release``

[2021-06-16 17:28] italiks commented on #9117
Hi @memsharded !
Thanks a lot for your answer!
What about _conan-package-tools_?
Is it possible to configure **ConanMultiPackager** to use `openssl:build_type=Release`?

[2021-06-16 17:56] memsharded commented on #9117
Not sure about it, I think it is possible in the ``settings`` argument to pass ``openssl:build_type``, but you might ask in https://github.com/conan-io/conan-package-tools, or maybe @uilianries can help here too.

[2021-06-16 20:08] uilianries commented on #9117
Hello @italiks !

It's not possible. The CPT is very strict in terms of settings, because we wanted to avoid nightmare scenarios or rare scenarios, where something goes wrong and we would need to "fix" CPT putting a constraint.
Also, CPT by default was designed to build any generic package using all settings x options combinations, but not focused on their dependencies.

If you need CPT for CI bui

[2021-06-17 06:29] db4 commented on #9113
I'll try to, thanks for the idea.

Well, I need recipes from `conan-center-index` and don't want to clone CCI repo, replicating all its building infrastructure (CCI build scripts are closed, so one would need to reimplement them from scratch). But I would like to use only locally-built binary packages from a private Artifactory server for security/reproducibility reasons. I'm thinking of a setting

[2021-06-17 07:33] italiks commented on #9117
Thank you guys! @uilianries @memsharded
Gonna check out **lockfiles**

[2021-06-17 07:33] #9117 closed, assigned to uilianries, memsharded

[2021-06-17 15:31] KerstinKeller commented on #2140
Ok, maybe I do revisit my comment from above. In general, this feature can be necessary for developers, that are debugging recipes.
My recipe has a
[code]
Conan always takes the newest, and resolves it to `1.2.0`, however, there are no prebuild binaries in the server (yet) for the profile I am using. However there are binaries for `1.1.0`.
Either I now have to to modify the `conanfile.py`, or whic

[2021-06-17 17:17] blackliner commented on #8303
So, for my initial issue, in a cross compilation situation, there is no way to get the `FindCapnProto.cmake` if it is a build_requirement only?

The library `CapnProto` cannot be compiled on the host platform (QNX), so adding it to both build_requirements and requirements is not possible.

`CMakeDeps` does not provide any reasonable files other than a `cmakedeps_macros.cmake` with zero references

[2021-06-17 19:05] lkotsonis commented on #7339
Any update on this? I bumped into the same issue

[2021-06-17 20:46] memsharded commented on #8303
Hi @blackliner

Yes, there is, the ways is documented in (conan 1.37) https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated, it should work for a ``build_requires`` only too. Have you tried that and it didn't work? In that case, please open a new ticket, it would be considered a bug and be fixed.

[2021-06-17 21:04] blackliner commented on #8303
Oh this is awesome, will try it out ASAP. But this is only `CMakeDeps` I guess 🤔 Need it for `cmake_find_package`

[2021-06-17 21:39] memsharded commented on #8303
As a hint of the Conan dev process:

- When an issue like this one is closed automatically by a PR, it has been implemented or fixed by that PR.
- Both the PR and the issue should have the milestone that matches the Conan release it belongs.
- The first comment of the PR contains also a link to the documentation PR, for example https://github.com/conan-io/conan/pull/8985, that fixes this issue, co

[2021-06-17 21:41] memsharded commented on #8303
It is not possible to introduce this for ``cmake_find_package`` as it would be breaking

[2021-06-17 21:52] blackliner commented on #8303
Got that, and the CMakeDeps looks good, but I am missing build_modules. They should be part of the generated files, I see for example:
`CapnProtoConfig.cmake`
[code]
and
`conan/recipes/resim/build/CapnProto-release-x86_64-data.cmake`
[code]
but still get:
[code]

Known issue, shall I try to debug a bit more, or time for a ticket?

[2021-06-17 21:58] blackliner commented on #8303
Ok, scratch that, I was looking at the wrong folder. The capnproto_BUILD_MODULES_PATHS_RELEASE is actually empty!

Found it: build_context_build_modules  https://github.com/conan-io/conan/issues/7719#issuecomment-848846803

Case closed!

[2021-06-18 06:14] harsszegi opened #9120 "[question] conan config install + version of installed git/svn repository"
Hi,

as Conan scrubs .git after installing a given config repository it is practically impossible to decide whether a configuration repository needs to be "reinstalled" (newer version exists in the remote repo) or not before any given Conan command is executed.
What is the expected behaviour here? How should this situation be handled?
Thanks,

[2021-06-18 07:22] jgsogo opened #9121 "[feature] Return node context in `conan info` command"
It would be very useful to get **information about the node context (_host_ or _build_) in the `conan info` output**.... of course, it only makes sense when using the `--dry-build` argument and build-requires are expanded, but it probably should be added to the output always (console and JSON).

[2021-06-18 07:47] memsharded commented on #9038
Implemented in https://github.com/conan-io/conan/pull/9103, will be in 1.38

[2021-06-18 07:47] #9038 closed, assigned to franramirez688

[2021-06-18 08:11] petermbauer commented on #2140
We have a similar use-case as already described by others:
"what-if" builds in CI to check if a new version of an upstream package would break something in downstream packages. Currently the workaround is based on environment variables overriding the requirements specified in the conanfile.py

[2021-06-18 09:33] memsharded commented on #8876
Please read my comments in https://github.com/conan-io/conan/pull/8952#pullrequestreview-686921715:

- I think this will break other users
- There is no perfect solution to this issue
- As this is only in the ``conan_server`` code, forcing the version in client only users will not break the client, and the issue can be workarounded with virtualenvs

So lets move it to Conan 2.0, where we will deco

[2021-06-18 10:58] klaussnd commented on #8464
Is this behaviour on purpose or is it by accident? I guess that this is the reason that the workflow
[code]
is not identical to
[code]
for the above minimal example?

Does that mean that in a future Conan release, the two workflows I outlined above would behave the same, i.e. all information are written by the generator?

[2021-06-18 11:53] alejandro-colomar opened #9123 "[bug] Conan breaks CMake FetchContent_Declare()"
### Environment Details (include every applicable attribute)
  * Operating System+version:  Ubuntu 20.04
  * Compiler+version: gcc-10
  * Conan version: latest; installed through the Debian/Ubuntu installer in https://github.com/conan-io/conan/releases/latest/download/conan-ubuntu-64.deb
  * Python version: The system python3 that comes in Ubuntu 20.04

### Steps to reproduce (Include if Applicabl

[2021-06-18 11:54] slietzau commented on #2140
I agree that the mechanism would be a cool feature.

As a **workaround** it is possible to download the package in the desired version/revision and then trigger the `conan install`. If `--update` is not used, the version in the local cache will be used instead of one from the server. This allows to force a specific recipe revision to be used without specifying lockfiles.

[2021-06-18 11:57] alejandro-colomar commented on #9123
My guess is that conan quotes the `self.run()` command to pass it to the shell, and cmake also does the same to pass git commands to the shell, and when you combine both, some quote gets cancelled.

[2021-06-18 15:29] bishwas-bh commented on #298
Yupp, this solution for this issues of [Unable to create process using in venv](https://webmatrices.com/d/503-unable-to-create-process-using-virtualenv). This will surely help you and fix your issues.

[2021-06-19 02:26] solvingj commented on #8464
On purpose (which is to say it was the original design).

Yes.

Yes.

1.  There are some additional wrinkles to be aware of though. If there are any `build_requires` or `environment variables` variables set in the profile, or if there are any `build_requires` in any recipes in the graph, then precisely reproducing `conan build` of that graph outside of Conan will require the caller to use Conan's

[2021-06-20 18:13] shavesha opened #9125 "How to add an alias so that the library can be used outside the build"
My library is setup in a very similar manner to this:
[modern cmake sample](https://github.com/pabloariasal/modern-cmake-sample). I use an alias target in the top level CMakeLists file:

`add_library(JSONUtils::jsonutils ALIAS jsonutils)`

Then in the test folder CMakeLists I use the target:

`target_link_libraries(json_utils_test gtest_main JSONUtils::jsonutils)`

My question is given the above l

[2021-06-20 19:15] rconde01 opened #9126 "[feature] Generate find_package include with cmake_find_package*"
Maybe this misses the point, but with cmake_find_package* you need to duplicate all your dependencies from your conanfile into your cmake file. Seems totally doable to generate a conan_find_package.cmake in which you autogenerate all those find_package calls.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-20 19:17] rconde01 opened #9127 "[feature] Add user_info support to cmake_find_package*"
package_info/user_info is not currently supported in cmake_find_package* but there doesn't seem to be a reason why it couldn't be, so it would be nice. Would you accept a PR for this?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-06-20 23:33] SeanSnyders commented on #9112
Further investigation on the current example repro by adding below to the `package_info()` method of the `PureCMakePackage` external library:
[code]

When specifying profiles on the command line (even the same `default` profile for host and build), then Conan seems to include the `PureCMakePackageConfig.cmake` file that is distributed/included in that external package.
This then sets the correct C

[2021-06-21 07:41] memsharded commented on #9125
Hi @shavesha

There is the ``set_property()`` (https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=set_property#cpp-info), you can define in ``package_info()`` to inject your own build_module that could define an alias.

There is also some ongoing work to automate this a bit more: https://github.com/conan-io/conan/pull/8533, but the underlying tool will be that ``set_prop

[2021-06-21 08:14] Da-LiFe opened #9128 "[question] conan download fetches python_requires"
Hi everybody,

I've noticed some issues with `conan download` in our CI pipeline. A short summary of the pipline with pkgA depends on pkgB:

- the CI is building pkgB because of some code changes. It is uploading the pkg to a temp repo on artifactory, e.g. `conan-libs-temp`.
- the CI is automatically triggering the build of pkgA to test build against pkgB and tries to fetch the recipe of pkgB from

[2021-06-21 08:52] alejandro-colomar commented on #9123
It looks like a problem in my CI pipeline not building clean, or with something missing.  Locally, it doesn't give me those errors.

[2021-06-21 08:53] #9123 closed, assigned to nobody

[2021-06-21 14:49] lasote commented on #2140
Thanks all for answering.
We got the feedback and will try to come out with something experimental for the `1.39` because we are already late for `1.38`.

[2021-06-21 14:56] lasote opened #9130 "[fix] `CONAN_TOOLCHAIN_ARGS_FILE` is not very practical being a json file"
The CONAN_TOOLCHAIN_ARGS_FILE will be frequently used to "store" arguments to pass to the build system in the "generate()" method. These arguments can contain paths and other things quoted. One of the principal use cases for the CONAN_TOOLCHAIN_ARGS_FILE is to be able to "cat" the file and paste the contents to call directly the build system in the command line, emulating exactly what Conan does.

[2021-06-21 15:30] memsharded commented on #9079
Fixed in https://github.com/conan-io/conan/pull/9114, will be in 1.38

[2021-06-21 15:30] #9079 closed, assigned to franramirez688

[2021-06-21 15:43] spektrof opened #9132 "[bug] conan install get wrong transient dependencies when using -o options"
I would like to rebuild some necessary 3rd party libraries using different options, and create new packages with static or shared libraries. If I upload them to the remote repository and starting to consume them by specifying the options for the direct dependency of my project, then it does not take account those other options what I used at building. For example if I used the '_baz_' shared libra

[2021-06-21 16:03] #9072 closed, assigned to memsharded

[2021-06-21 21:57] memsharded commented on #9132
Hi @spektrof

I am not sure if I fully understand the issue. I think you might be misunderstanding the ``shared`` option for the ``app`` package. The ``app`` package doesn't have the ``shared`` option as it is not a library, neither static or shared, it is just an executable. It doesn't make sense. It will have instead 2 different binaries, for different options of the dependencies. So something l

[2021-06-21 22:16] memsharded commented on #9128
Hi @Da-LiFe

Yes, this is expected behavior. ``python_requires`` are necessary for every evaluation of a ``conanfile.py``, as it is an intrinsic part of it, the conanfile could be extending a class existing in the python-required conanfile with ``python_requires_extend``. The python_requires fetching and evaluation is necessary because ``conan download`` requires to know a few things:
- If recipe

[2021-06-21 22:26] memsharded commented on #7999
I have started to work on this, with this test:

[code]

This test passes green. As you can see @p-groarke, it achieves the goal of using ``Release`` dependencies while building the current package in ``Debug`` mode. It works because the ``CMakeDeps`` generator writes the files as follows:

- **dep-debug-x86_64-data.cmake**: This is the information of the ``dep`` package that should be used when c

[2021-06-21 23:45] darbysobha opened #9133 "conan install .. and conan create ... commands throws "Permission Denied" error against Artifactory Repo"
Environment
=========
- Artifactory Server Version: Enterprise Plus 7.19.4 rev 71904900
- Conan Version :  1.37.2
- Python: 3.6.8  and 2.7.5
- Client Platform: Docker Container based on RedHat 7.9 , GCC Version: 4.8

Problem
======
"conan install -s build_type=Release /work/src/conanfile_codegen.py"  throws  the following Error:

ERROR: Permission denied for user: ****. [Remote: artifactory]

This

[2021-06-21 23:53] leha-bot opened #9134 "[feature] show uploaded files size in `conan upload`"
It would be very convenient to provide the size of files which will be upload to specific remote via `conan upload ...` in diagnostic purposes, e.g. sometimes artifacts could be very large and CI could refuse its uploading, see e.g. [this StackOverflow question](https://stackoverflow.com/questions/64329087/gitlab-self-hosted-error-uploading-artifacts-as-archive-to-coordinator-to) as example of rel

[2021-06-22 04:06] SeanSnyders commented on #9112
Delving deeper into Conan's source code and the `CMakeDeps` generated files for this repro, I noticed the following:

1. The `<pkg_name>_BUILD_MODULES_PATHS_<build_type>` CMake variable as generated by the Conan [`ConfigDataTemplate:L78`](https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/cmakedeps/templates/target_data.py#L78) is empty when **not** specifying profiles (e.g. `-pr:b d

[2021-06-22 05:38] spektrof commented on #9132
Hi @memsharded

You are right, but the issue still exists if the app would build an own library beside the executable. This was the minimal example to reproduce my problem, sorry, it was a bit confusing.

The point is if I want to get a direct dependency, then I don't want to list all of its transitive dependencies with the proper shared/static options because that should be defined by the recipe

[2021-06-22 06:26] spektrof commented on #9132
I have created an other project, called [conan-bar](https://gitlab.com/spektrof/conan-bar) which is a dependency of conan-foo now.

So what I did after clone:
[code]

Then after cleared the cache:
[code]

[2021-06-22 11:05] memsharded commented on #9134
It is relatively straightforward to just check the files in the Conan cache in case the upload failed, so not a high priority. We might add it to the output in Conan 2.0, depends on how cluttered the output looks, might be added or not, we will see.

[2021-06-22 11:09] zhen8838 commented on #9033
Hello
Now I want to use Conan package Halide, but Halide directly uses clang like this:
[code]
How should I modify this to build this?

[2021-06-22 11:16] memsharded commented on #9132
Hi @spektrof

The problem is still the same. If you want ``bar`` to be shared when installing it, you need to tell Conan:

[code]

That is not how Conan works. First, the inputs are defined. If you want to use ``Bar:shared=True`` then you need to tell the system. Based on all the inputs, conan will compute the ``package_id`` of the binaries, only then, it will have access to the specific binary, w

[2021-06-22 11:50] takacsd opened #9135 "[bug] While using cmake_find_package* generators <PKG-NAME>_LIBS and <PKG-NAME>_LIBRARIES differ."
When I use `cmake_find_package` generator I expect to have the `<PKG-NAME>_LIBS` and `<PKG-NAME>_LIBRARIES` variables set to the same value after `find_package(<PKG-NAME>)`. This is also written in the [documentation](https://docs.conan.io/en/latest/reference/generators/cmake_find_package.html#variables-in-find-pkg-name-cmake)

But it doesn't have the same value, because in the generated `Find<PKG

[2021-06-22 12:41] spektrof commented on #9132
Hi @memsharded

What if as a user I don't know which options were used at building? Also this means if some library linked with static libraries and other libraries linked with shared libraries, then I need to call `conan install` separately, because I cannot specify both `foo:shared=True` (which lets say required by `baz1`) and `foo:shared=False` (which required by `baz2`) in the same `conanfile.

[2021-06-22 13:41] lasote commented on #8311
@madebr I updated https://github.com/conan-io/conan/pull/8353/ to allow receiving the information from a build require.
Please note that the new environment model requires to use `self.buildenv_info` at the `package_info()` method, you can check the added test in the PR. e.g: `self.buildenv_info.define("LD", "LD_VALUE")`

[2021-06-22 13:53] db4 commented on #9108
@memsharded

What about conan-cmake, can `CMakeDeps` be the only generator for it? And how to do something like `conan_basic_setup` with `CMakeDeps` generator?

[2021-06-22 14:05] memsharded commented on #9108
``CMakeDeps`` is only about dependencies, and it can work with ``conan-cmake``, (using the ``find_package()`` syntax). It will not require any call to ``conan_basic_setup()``. The functionality of ``conan_basic_setup()`` will be superseded by the ``CMakeToolchain``, that converts Conan settings to CMake syntax. As ``conan-cmake`` takes CMake config and convert to Conan settings, this would be unne

[2021-06-22 14:17] db4 commented on #9108
Well, I need `conan_output_dirs_setup()` that was created before by `cmake` generator. What should be used instead now?

[2021-06-22 14:28] memsharded commented on #9132
Building and installing/consuming are separate and decoupled processes. When you install/consume you declare what you want, the configuration you need (the inputs), that include how you want your dependencies (shared, static), what compilers and version are you using, etc. If it happens that there are pre-compiled binaries for it, they will be used. If not, Conan will error saying "Missing binary

[2021-06-22 14:36] memsharded commented on #9108
Conan will no longer change the CMake or project layout, and it will not provide this method. Instead it will provide the ``layout()`` method to define the project layout, which will fully automate ``editable`` packages too. This is already released as experimental in 1.37.

If you want to change the CMake behavior you can define it yourself, implementation is straightforward, actually not related

[2021-06-22 15:30] spektrof commented on #9132
I dont want to let the users to build packages from source.

So if I want to link static boost/1.70.0 libraries for production but link shared boost/1.70.0 libraries for unit tests (because using static boost libs at testing may cause wasting of disk space), then I cannot create a single conanfile to my project and need to separate the core from the tests? I handled the version conflicts which is

[2021-06-22 15:55] memsharded commented on #9132
Then, use a ``source()`` method that points to sources that are hidden from users, and only you has credentials to it. Otherwise, users can do ``--build`` to force building from sources.

Why? It is still the same package in the cache, it will not use extra disk space or anything like that. I am not sure what you mean here.

This is not true, in the general case the ``package_id`` of a package is

[2021-06-22 16:30] spektrof commented on #9132
https://www.boost.org/doc/libs/1_70_0/libs/test/doc/html/boost_test/usage_variants.html

I would like to link boost both statically and dynamically in my project, depending on the target.
In my opinion using static and shared libraries in the same project should be a viable scenario. But as far as I know this is not possible unless I modify the `conanfile` of the 3rd party lib in the `conan-center

[2021-06-22 16:59] memsharded commented on #9132
In one project you might use different variants of the same package, static and shared. As I commented above, for example, you might use ``build_requires`` and the ``build_context`` to put a different variant of boost in the ``build`` context. This is completely possible with Conan.

What is not possible is to have the same package to depend at the same time on both boost-static and boost-shared.

[2021-06-22 17:06] #9069 closed, assigned to lasote

[2021-06-22 17:09] sammckee opened #9136 "[question] [workspaces] Pull Packages into Workspace from Remote"
Conan version: 1.37.2

I believe the Conan workspace feature would be very useful for our team. However, I do not see a way to pull packages from our remote into the workspace. Are developers forced to build the entire workspace package tree from scratch? Our projects are large enough for this to be a dealbreaker since our existing tools do not require scratch builds for new developers.

I have tr

[2021-06-22 22:05] p-groarke commented on #7999
@memsharded Thank you for working on this! I believe so (our case is even simpler, but we do have situations where we build our core in debug and link in release). If any limitations pop up, I'll let you know, but for now this is great.

cheers

[2021-06-22 22:11] fanStefan opened #9138 "[bug] Bazel issue when using string value for defines"
If define is a string value, there is problem in generated build file.
String in string is generated and Bazel can't resolve this.
Here is example from generated boost BUILD file:
`"BOOST_STACKTRACE_ADDR2LINE_LOCATION="/usr/bin/addr2line""`

### Environment Details
  * Operating System+version: Fedora 34
  * Compiler+version: gcc 11.1.1
  * Conan version: 1.37.2
  * Python version: 3.9.5
  * Bazel

[2021-06-23 01:08] wbehrens-on-gh opened #9140 "[bug] `ConfigParser: Unrecognized field 'settings'` error on valid(?) conanfile.txt"
### Environment Details (include every applicable attribute)
  * Operating System+version: archlinux(kernel 5.12.8)
  * Compiler+version: gcc: 11.1.0
  * Conan version: 1.37.2
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)
conanfile.txt
[code]
running the command `conan install .` (in the directory with the conanfile)
### Logs (Executed commands with output) (Include/Att

[2021-06-23 01:09] wbehrens-on-gh commented on #9140
Just thought that I'd mention that I get the same issue even if I use a flag other then `build_type`

[2021-06-23 06:39] playgithub opened #9141 "[question] Why executable in source dir instead of build dir when `conan build ...`"
As in https://github.com/conan-io/docs/blob/master/developing_packages/package_dev_flow.rst,

modified by seperating install folder and build folder as below.

[code]

After the command is executed successfully, `greet.exe` is in `tmp\source\hello\bin`, I just expect it somewhere like `tmp\build\bin` or `tmp\build\hello\bin`, why not?

[2021-06-23 06:44] playgithub opened #9142 "[question] Why does the `hello` sample produce `greet.lib`?"
As the sample at https://github.com/conan-io/docs/blob/master/developing_packages/package_dev_flow.rst,

`greet.exe` and `hello.lib` is expected, but why is there `greet.lib`? `greet.lib` is not expeted, is it ?

[2021-06-23 06:58] db4 commented on #9108
@memsharded Thanks a lot for the info, but I'm still struggling with a consumer recipe that uses conan-cmake/CMakeDeps. As a first step, I try to attach Boost package; files `Boost-debug-x86_64-data.cmake`  `BoostConfig.cmake` `BoostConfigVersion.cmake`  `BoostTarget-debug.cmake`  `BoostTargets.cmake` are generated, but CMake cannot find them (to be sure that correct files are used I've removed st

[2021-06-23 07:20] memsharded commented on #9140
Hi @WilliamBehrens

this is not a bug, it seems you are confusing the conanfile.txt with the profile. The conanfile does not contain a ``[settings]`` definition section, thus Conan is correctly failing and telling that ``settings`` field is not recognized (maybe the error message could be improved, but the behavior of failing is correct).

You need to define the ``[settings]`` in a profile file, t

[2021-06-23 07:25] memsharded opened #9143 "[feature] Allow defining settings for a downstream consumer (different than upstream dependencies)"
Continuation from https://github.com/conan-io/conan/pull/9129

The command ``conan install . -s pkg:build_type=Debug -s build_type=Release``, to have all dependencies in Release, but build your current project as Debug has some limitations:

- It requires a conanfile.py, that defines the ``name = "pkg"``
- conanfile.txt will not allow this
- conanfile.py without a name will not allow this

The sol

[2021-06-23 07:31] memsharded commented on #9142
``greet.lib`` is not a Conan thing, it is an artifact automatically created by the build system for building greet.exe in Windows.

It happens to be packaged, because the ``package()`` method is packaging "greet", so it matches the pattern, but could be omitted with more detailed and explicit copying patterns.

[2021-06-23 07:39] memsharded commented on #9136
Hi @sammckee

At the moment, automatically pulling packages into the workspaces is not possible.

But yes, this feature would make sense. At the moment, the ``workspace`` feature is on hold, because we are working on other higher priority things. One of them is the re-thinking of the ``editable`` feature, which is the foundation for workspaces. Conan 1.37 released a new feature called ``layout()``

[2021-06-23 07:51] memsharded commented on #9108
You need to:

- Set also CMAKE_PREFIX_PATH
- Do not call ``conan_load_buildinfo()`` (that loads the old conanbuildinfo.cmake, no longer generated)

This works on my side:
[code]

[2021-06-23 07:51] playgithub commented on #9142
But as the cmake file of sample `hello` shows, it should produce `greet.lib`, right?
[code]

[2021-06-23 08:20] memsharded commented on #9142
There is no ``ADD_LIBRARY(greet ...)`` in that CMakeLists.txt, so the ``greet.lib`` is some automatic thing of the build system, not a user defined library.

[2021-06-23 08:35] spektrof commented on #9132
Hi @memsharded

I am not quite sure how do you mean this here.

As I mentioned above I am using [Bazel](https://bazel.build/) build system. This is great because its sandboxed, has great caching mechanism, clean, scalable, can define multiple platform, toolchain, compilers and the project libraries/applications easily and so on.

In `Bazel` you need to have a `WORKSPACE` file which declares your d

[2021-06-23 08:50] db4 commented on #9108
@memsharded Thanks a lot again. BTW, there is another problem with cmake-conan: for multi-configuration generators its docs propose
[code]
but actually `conan_cmake_autodetect` does not propagate `BUILD_TYPE` to `_conan_detect_build_type` and cmake fails with
[code]
Probably this should be reported as a cmake-conan issue?

[2021-06-23 09:10] memsharded commented on #9108
Yes, please, report this in cmake-conan.

[2021-06-23 09:14] memsharded commented on #9132
Quick question: Are you aware that we released a new Bazel integration in Conan: https://docs.conan.io/en/latest/reference/conanfile/tools/google.html? It might be worth checking it, and contributing back to it, so we mature and have a standard built-in Bazel integration.

[2021-06-23 09:32] #8311 closed, assigned to lasote

[2021-06-23 09:35] db4 commented on #9108
One more question if you don't mind. Suppose I have two header-only conan packages: PkgA and PkgB, and PkgA depends on PkgB. With `cmake` generator I just did `target_link_libraries(my_target PRIVATE CONAN_PKG::PkgA)` and my_target sources could use headers from both PkgA and PkgB. With CMakeDeps this doesn't seem to work anymore: `target_link_libraries(my_target PRIVATE PkgA)` cannot find PkgB he

[2021-06-23 09:38] Da-LiFe commented on #9128
That's basically a good idea. However, our upload is currently based on the information found in the json file generated by `conan install`, but it seems that `python_requires` are not covered by this file, at least in conan 1.22. Is that observation correct? If yes, we would need to gather that information from the lockfile generated during `conan [graph] lock`, right?

[2021-06-23 09:39] memsharded commented on #8311
https://github.com/conan-io/conan/pull/8353 was merged, and will be using the new experimental ``buildenv_info`` and ``[buildenv]`` profile information to define the environment. This PR was an improvement, but there are still some questions regarding the environment definition. It will be released in 1.38, feedback very welcome!

[2021-06-23 09:39] #7999 closed, assigned to memsharded

[2021-06-23 09:41] db4 commented on #9108
Already reported by someone else: https://github.com/conan-io/cmake-conan/issues/336

[2021-06-23 09:43] #9138 closed, assigned to nobody

[2021-06-23 09:48] memsharded commented on #9108
CMakeDeps are also transitive, so what you describe should work. Maybe is the target name, and should be something like ``PkgA::PkgA``? That might need a reproducible case, the output logs, etc., to investigate what could be happening.

[2021-06-23 09:53] spektrof commented on #9132
I haven't seen that yet. Thanks for bringing it in, we will check.

However if I understand correctly this way the project can be only built by running `conan build`, I cannot do `bazel build` because that way it wont generate the build files for each dependency (or I need at least one `conan build`). This is something what we don't want, like why should I wrap the `bazel build` if I could use it

[2021-06-23 10:26] memsharded commented on #9132
No, the new generators are intended to work with ``conan install`` + native build system, like ``bazel build``. The ``conan build`` will only be a convenience, but not mandatory (it will basically call ``bazel build`` under the hood, when you create a package).

With the new generators and ``generate()`` method, the necessary files for the native build will be generated at ``conan install``. I rec

[2021-06-23 10:38] memsharded commented on #9128
Yes, it seems that ``python_requires`` are not there, and it would be difficult to add them, because the infrastructure for that feature doesn't have access to that. I guess you are right, and gathering them from the lockfile could be the best approach.

[2021-06-23 10:47] tthef opened #9145 "[feature] per-project conan configuration"
Conan should support per-project configuration, e.g., using project/.conan directory. I am working on multiple projects using conan and at the moment that means all of them have to share the same settings / profiles / remote configs. This is very awkward.

Imagine the following scenario: project B depends on project A; project A needs to change profiles (e.g., because of toolchain update), this is

[2021-06-23 10:50] db4 commented on #9108
~~Just verified it: `target_link_libraries(my_target PRIVATE PkgA::PkgA PkgB::PkgB)` works, `target_link_libraries(my_target PRIVATE PkgA::PkgA)` doesn't. I'll try to create a minimal reproducible test case.~~
Sorry, it was my fault. Actually, it works as expected.

[2021-06-23 11:31] #9121 closed, assigned to memsharded

[2021-06-23 11:33] playgithub commented on #9142
Confirmed by a native VS2019 solution include "greet" as an application and "hello" as a static lib, it also generates `greet.lib`, ok to let it be.

Thanks

[2021-06-23 11:33] #9142 closed, assigned to memsharded

[2021-06-23 11:38] harsszegi opened #9146 "[question] Is there a way to limit the maximum cache size?"
Hi,
because of a dumb Conan recipe (which we don't have control over), our Conan cache grew above 130Gb, which was a problem as our build agent didn't have much more free space.
Is there a way to limit the maximum amount of cache Conan can consume ? Or purge multiple entries from the cache ?
Thanks,

[2021-06-23 11:41] memsharded commented on #9145
There is already a way to achieve this:

- Define for each project ``CONAN_USER_HOME=<project/.conan>``
- Define in project/.conan/conan.conf ``storage.path`` to point to a common location

[code]

[2021-06-23 11:44] memsharded commented on #9146
Hi @harsszegi

No, there is no way, this should be something at the OS permissions or configuration level.

To "purge" things from the cache, you can use the ``conan remove`` command, that has some arguments like:
- ``--build`` will remove all the build folders
- ``--packages`` will remove the binary package, but leave recipes
- ``pattern --force`` will remove all packages matching the pattern, wi

[2021-06-23 11:45] harsszegi commented on #9146
Awesome, thanks a lot @memsharded

[2021-06-23 11:45] #9146 closed, assigned to nobody

[2021-06-23 11:55] spektrof commented on #9132
True.

I moved far from my original "problem" which was actually was answered and I gave some suggestions.

I have a project which depends on several conan packages, but not necessarily has an own conanfile (maybe later it will have), this means that I don't want to call any `conan command` in order to build my project by `Bazel`. I want to use only `Bazel` and want that the rules do the conan thi

[2021-06-23 11:57] NJannasch commented on #5059
@chris-laplante Have you been successful with your steps towards a relocatable SDK?
Maybe something besides the 'post-download workaround' mentioned by ericriff?

Thanks for giving all those insights

[2021-06-23 12:04] Da-LiFe commented on #9128
I've created a POC using lockfiles for dependency upload including `python_requires`. The pipeline now succeeds. Thanks for the feedback!

[2021-06-23 12:04] #9128 closed, assigned to nobody

[2021-06-23 12:41] tthef commented on #9145
That's not a viable way of doing it, since the storage.path would have to be an absolute when CONAN_USER_HOME is set, and this should work simultaneously on windows, mac and linux for an entire team. Also, environmental variables are about the worst way of configuring anything that involves humans, prone to obscure errors due to the non-deterministic nature of such config. If conan were to look in

[2021-06-23 12:55] memsharded commented on #9145
The cache is not designed for concurrency, in case you are thinking about sharing it in a shared folder or something.

And what is the "project" folder? the one that contains the conanfile.py? Not possible, there are projects with several conanfiles. Also other projects that put the conanfile in a dedicated subfolder. The current folder? Not possible either, because commands are very often issued

[2021-06-23 13:01] memsharded commented on #9145
This brings also other problems. Those things like settings.yml, remotes.txt,  profiles are shared and used by all the packages that are used in different applications. Most of the times, each package will be contained in its own git repo. How would you share the same set of settings.yml, remotes.txt, profiles, for all the packages? Will you put a copy of those things in every git repo of every pa

[2021-06-23 13:03] memsharded commented on #9128
Happy that it is working!

We will use this feedback, and make the ``python_requires`` more easily available in graph information in Conan 2.0. Thanks!

[2021-06-23 15:05] ericriff commented on #5059
I would like to re open this discussion as well.
I'm currently using the a post download hook to relocate the SDK and I hate it since it is not transparent to the rest of the devs in my company - They don't even know it is there.
Maybe we can start the discussion to get something that takes care of this on Conan 2.0? @danimtb

[2021-06-23 15:24] tthef commented on #9145
Yes, and that sharing is precisely the problem.

The local config can be delivered in any number of ways, it needn't be part of a git checkout, this is no more an issue than it is just now, it is not whether multiple configs are need (they are), but how these can be sensibly managed. The problem with running 'conan config install' on project-specific config is that it changes config for every sing

[2021-06-23 16:07] memsharded commented on #9145
No, it doesnt. It applies only to the current CONAN_USER_HOME. If you have defined the env-var to point to the project, it will apply that configuration to that one only, not to every other Conan user home in your machine.

The solution scales. There are many big enterprise that manage hundreds of Conan packages for many configurations and projects using this ``conan config install`` successfully.

[2021-06-23 16:49] memsharded commented on #8385
We have merged https://github.com/conan-io/conan/pull/9147, that supports jinja2 templating for profiles. This allows not only to read env-vars, or platform configuration, but also to manipulate them, join, conditionals, fors, etc.

So I think this issue is closed by this (will be released next 1.38), please have a look at it and test it when released, feedback very welcome.

[2021-06-23 16:49] #8385 closed, assigned to nobody

[2021-06-23 16:51] memsharded commented on #7465
We have merged #9147, that supports jinja2 templating for profiles. This allows not only to read env-vars, or platform configuration, but also to manipulate them, join, conditionals, fors, etc.

So I think this issue is closed by this (will be released next 1.38), please have a look at it and test it when released, feedback very welcome.

[2021-06-23 16:51] #7465 closed, assigned to lasote, memsharded

[2021-06-23 16:57] memsharded commented on #6526
@tru we have merged #9147, that supports jinja2 templating for profiles. This allows not only to read env-vars, or platform configuration, but also to manipulate them, join, conditionals, fors, etc. I think it is very powerful.

But that takes us to the main question, and the transition to Conan 2.0:

- It is simply too much work to introduce new formats for profiles, settings, conf, etc during Co

[2021-06-23 16:57] #6526 closed

[2021-06-23 17:01] memsharded commented on #3356
We have merged #9147, that supports jinja2 templating for profiles. This allows not only to read env-vars, or platform configuration, but also to manipulate them, join, conditionals, fors, etc.

So I think this issue is closed by this (will be released next 1.38), please have a look at it and test it when released, feedback very welcome.

[2021-06-23 17:01] #3356 closed

[2021-06-23 17:38] tthef commented on #9145
Having to manually run 'conan install config' every time you pull, switch branches or change to a different project is incredibly fragile, using different CONAN_USER_HOME for each project doesn't work for dependent projects, and any configuration system that relies on environmental variables is broken by design.

I think you misunderstood -- I am not suggesting the global config should be replaced

[2021-06-23 18:10] memsharded commented on #9145
You don't need to run ``conan install config`` every time you pull a new repo. You just need to define the "project" (CONAN_USER_HOME) you are working on. The same project will be valid for all the packages and pulls that you do, you only need to change it when you are switching projects, which surely is not something to do every 5 minutes, and the number of projects or different configurations to

[2021-06-23 21:56] #7287 closed, assigned to nobody

[2021-06-23 21:56] memsharded commented on #7287
Fixed in https://github.com/conan-io/conan/pull/9118, will be released in 1.38

[2021-06-24 06:04] playgithub opened #9149 "[question] How to packaging local existing binaries?"
As in the doc: https://github.com/conan-io/docs/blob/master/creating_packages/existing_binaries.rst

It downloads binaries.
How to package local binaries?

[2021-06-24 06:09] playgithub commented on #9149
Just put the binaries there will do.

[2021-06-24 06:09] #9149 closed, assigned to nobody

[2021-06-24 07:30] memsharded commented on #9149
For the record, the command to package local binaries is ``conan export-pkg``. It doesn't download anything, just take what is in the folder and package it.

[2021-06-24 07:44] playgithub commented on #9149
As in the doc, `conan create .` will pakcage local existing binaries, right? Is `conan export-pkg` equivalant?
[code]

[2021-06-24 07:53] memsharded commented on #9149
``conan create`` with that recipe will not package anything at all, unless you add a ``exports_source="*"`` or something like that, but that would be a bad idea, because you will make the package unnecessarily larger and waste storage.

For packaging local binaries, you need to use the ``conan export-pkg``. It also creates a package, but instead of creating it from the ``build()`` result, it doesn

[2021-06-24 07:58] tthef commented on #9145
I do this often enough to be a problem, the per-project configuration changes infrequently, but switching between projects with different profile/setting/remotes sets happens much more often (different apps at different stages of dev cycle, LTS, etc.). Running builds with the wrong profile set will often not show until run time on specific targets, or generates errors that are unintuitive for memb

[2021-06-24 07:58] #9145 closed, assigned to nobody

[2021-06-24 15:04] playgithub opened #9153 "[question] How to use a pre-built lib package in conan cache?"
**conanfile.py**
[code]

With `generators` in **conanfile.py**, there is no `conanbuildinfo.cmake` in cache.
So for Visual Studio.
So for downloaded pre-built libs from conon-center, e.g. `poco`.
How can the libs be used by an application.

[2021-06-24 15:13] memsharded commented on #9153
conanbuildinfo.cmake is not in the cache, it will be part of the consumer of the library. The ``generator`` should be in the ``conanfile`` you are using to install your library, not in the library itself.

The getting started tutorial: https://docs.conan.io/en/latest/getting_started.html shows how to consume a library for an existing package, and build an application using that library.

Then, I s