[2022-10-11 10:18] czoido commented on #12027
Closed by https://github.com/conan-io/conan/pull/12033

[2022-10-11 10:18] #12027 closed, assigned to memsharded

[2022-10-11 13:18] unfor19 opened #12285 "[question] how to get options from conandata.yml"
Hi there,
Is there a way to fetch [options](https://docs.conan.io/en/1.50/mastering/conditional.html#constrain-settings-and-options) from the [conandata.yml](https://docs.conan.io/en/latest/reference/config_files/conandata.yml.html) file?

I've tried the following, though I keep getting errors regarding the "type of option", I think it's something related to `assertion` tests that `options` perfor

[2022-10-11 13:26] jpfeuffer opened #12286 "[question] How to create profile that sets libcxx for all compilers that support it"
I want *one* profile that inherits from default and sets libcxx for e.g., g++ and clang++.
I do *not* want to specify all possible compilers.
My first attempt of just adding
`compiler.libcxx=libstdc++11`
 fails when the default is found to be e.g., Visual Studio.
Why can't conan just ignore it when it does not affect a compiler? Can I turn the ERROR into a WARNING?

- [X] I've read the [CONTRIBUTI

[2022-10-11 13:39] mzukovec opened #12287 "[question] CMakeDeps appends invalid target in cmake_find_mode="none""
How to avoid CMakeDeps appending the default target to the generated `<library>-Target-<configuration>.cmake` file?

I have a setup with multiple libraries, some of them will use conan-generated `<lib>Config.cmake`, others will use default cmake config file that the library generates during the installation. I followed the instructions [here](https://docs.conan.io/en/latest/reference/conanfile/too

[2022-10-11 13:44] jcar87 commented on #12221
Hi @Ahajha  - thanks for reporting this one!

I think this is failing during the `test()` stage in the `test_package`, rather than the linker.

The "static" ("build time") linker would have failed with an error like this due to an indirect dependency:
[code]

What is failing from your example, from what I can see, is the dynamic/runtime linker, with an error that looks like this:
[code]

And this

[2022-10-11 14:23] smoofra opened #12288 "conans.model.version.Version sorts private version identifier backwards"
Versions with a [PEP 440 private version identifier][pep] are sorted backwards by `conans.model.version.Version`

### Environment Details (include every applicable attribute)
  * Operating System+version: Mac OS 12.6 (21G115)
  * Conan version: 1.53.0
  * Python version: 3.9.13

### Steps to reproduce

[code]

[pep]: https://peps.python.org/pep-0440/#local-version-identifiers

[2022-10-11 15:04] czoido commented on #12288
Hi @smoofra,

Thanks for the question. A couple of comments:

- Please use the Version class under `conan.tools.scm` instead of the one from `conans.model.version` Check the docs for that class here: https://docs.conan.io/en/latest/reference/conanfile/tools/scm/other.html#version
- We are not adhering to PEP440 for this Version object, it just implements basic version comparison between objects. I

[2022-10-11 15:12] smoofra commented on #12288
ah, thanks!   why are there two different versions of the Version class?

[2022-10-11 15:12] #12288 closed, assigned to czoido

[2022-10-11 15:20] czoido commented on #12288
Hi! All the new tools that are public and can be imported in recipes are in `conan.tools` thinking in providing compatibility and a migration path to 2.0. The legacy implementations are there to not break users but we are encouraging all users to remove those imports from recipes (please, [check the Conan 2.0 migration guide](https://docs.conan.io/en/latest/conan_v2.html))

[2022-10-11 15:31] Ahajha commented on #12284
Regarding the CMakePresets, that seems to be an issue with Conan 1.53.0, see issue here: https://github.com/conan-io/conan/issues/12277, I don't think it's supposed to be generating that.

[2022-10-11 15:51] memsharded commented on #12288
I'd say that the new ``Version`` class for 2.0 might actually return the right order for ``+<build>`` versions too. Not guaranteed by the semver, but a least our 2.0 implementation behave like this IIRC:

[2022-10-11 16:07] czoido commented on #12286
Hi @jpfeuffer,

Thanks for the question. Since Conan 1.38 Conan profiles support Jinja2 syntax, so maybe you can make use of that to achieve what you want. You could have a _myprofile.jinja_ file similar to this:

[code]

Please check the docs: https://docs.conan.io/en/latest/reference/profiles.html#profile-templates

Hope this helps!

[2022-10-11 16:50] ericriff commented on #12217
I'm still stuck on this. I'm wondering if you guys will be backporting the `host` argument to the new autotools generators or if I should try to come up with some hack on my own.

[2022-10-11 16:52] memsharded commented on #12285
Hi @unfor19

I have been checking the source code, just in case, and it doesn't seem possible. The moment you call any of those functions (like ``config_options``), the ``self.options`` is already an ``Options`` object, that is intended only for "read" use cases, but not for re-defining its definition, which is what you are trying, and the ``Options`` implementation specifically protects against t

[2022-10-11 16:54] jjcasmar commented on #12284
It is even documented that these generator produce a CMakePresets file, so I think its on purpose

[2022-10-11 17:24] jpfeuffer commented on #12266
- `CMakeDeps`
-
[code]
- e.g. Qt5Core_FOUND, Boost_MAJOR_VERSION, get_target_property(Qt5::WindowsIntegrationPlugin LOCATION). All these commands worked with my old CMake scripts (which relied on the libraries config files for some while) but do not work with your config files anymore.

Maybe Qt is wrong but they definitely do not follow this scheme:
https://github.com/mburakov/qt5/blob/master/qtb

[2022-10-12 00:19] dev-joss commented on #1557
Unfortunately does not work on Windows 11, as fsutil now requires the directory to be empty when using `SetCaseSensitiveInfo`

[2022-10-12 04:45] prince-chrismc commented on #12274
This sounds very close to the limitation in the 1.x graph resolve that it can not see the `requires` and `build_requires` at the same time so you need to define two different profiles to resolve the conflict.

Host profile could be

[code]

and we will need a build profile as well

[code]

***

I see you mentioned 2.0 beta in the description, but I have not played with that so I am not sure if tha

[2022-10-12 05:04] prince-chrismc commented on #12284
This answer would make a great blog post 🤔

If you are using the new generators I assume you are using `cmake_layout` in which case you can control the output folders.
https://docs.conan.io/en/2.0/reference/tools/cmake/cmake_layout.html#multi-setting-option-cmake-layout

Doing this from the root of your project, assuming everything it just right 😉, you can add different compiler versions and os ev

[2022-10-12 06:26] Bearwolves commented on #12163
@prince-chrismc any update here?

[2022-10-12 08:37] mzukovec commented on #12287
I managed to come with a workaround but it seems way too dirty...

1. You have to match the `cmake_file_name` in conanfile with the correct name of the generated config file `<name>Config.cmake`
`self.cpp_info.set_property("cmake_file_name", "lib1")`
2. Set the `cmake_target_name` to " ". **It's " " not ""**. If you put "", default target name will be applied.
`self.cpp_info.set_property("cmake_ta

[2022-10-12 09:21] memsharded commented on #1557
@eclazi in any case, ConanCenter has been mandating all lowercase package names since years, and Conan 2.0 will also force lowercase for all packages. Start to convert your package names to lowercase to be ready.

[2022-10-12 09:39] jpfeuffer commented on #12286
Interesting. Can I access variables like the compiler, too?

[2022-10-12 09:49] unfor19 commented on #12285
@memsharded As always, you're super helpful.

I'll use `options` as intended - `profiles` and `conanfile.py`

Thanks!

[2022-10-12 09:49] #12285 closed, assigned to memsharded

[2022-10-12 09:53] maitrey commented on #12166
Hi @memsharded , This works and then I can also access the paths from : self.deps_cpp_info["Package].bin_paths but how to access it from CMakeLists.txt. Can I use this Package_INCLUDE_DIRS or is this not allowed?Is there any other way to use it from CMakeLists.txt?

[2022-10-12 10:27] himansu2906 commented on #12254
@memsharded : thank you very much for the answer.

we have one scenario where we are mentioning external and internal libraries in conanfile.txt, please find content below.

[requires]
module_concept/1.3@user/testing  (internal)
libeosSRC36_20_31/1.0 (external)
[generators]
cmake

while installing we are trying to install with different profile that with which these libraries were build, please fi

[2022-10-12 11:07] memsharded commented on #12254
If you are using that package from pre-compiled binaries, you need to create the different binaries for the different profiles too, like:

[code]
Typically, each one will result in different binaries being packaged, with the ``package()`` method having conditionals on settings to pick some or others artifacts from the precompiled binaries.

[2022-10-12 11:16] memsharded commented on #12166
Please note that ``self.deps_cpp_info["Package].bin_paths`` is a deprecated way to access information dependencies. ``self.dependencies`` is the way to go now: https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

In theory, the variables created by ``CMakeDeps`` are an internal implementation detail, and the created targets are the way to go. That variable might be defined (actua

[2022-10-12 11:18] memsharded commented on #12286
The compiler is not something that is globally defined. You might try to do something like ``os.getenv("CC")``, but that is not guarantee to be defined, nor to point to the compiler that you would expect.

[2022-10-12 11:25] himansu2906 commented on #12254
@memsharded : our primary motive is to create internal libraries from sources if binaries are missing and external can be skipped from the list(conanfile.txt).

we want to build packages(if binaries are missing) from sources while installing it.

[2022-10-12 11:28] jpfeuffer commented on #12286
Thanks a lot! As you might have seen, I might need to switch to a conanfile.py due to another issue anyway, so I will use the dynamic settings capabilities there. Thanks for your input.

[2022-10-12 11:28] #12286 closed, assigned to czoido

[2022-10-12 11:29] memsharded commented on #12254
Sorry, I don't get what you mean. If the packages are being created with ``conan export-pkg`` from pre-compiled binaries, Conan doesn't know how to build those packages from sources. You need to pre-emptively create all the different required binaries, running ``conan export-pkg`` for the different configurations/profiles that you will need. Only packages created with ``conan create`` that contain

[2022-10-12 11:31] memsharded commented on #12286
Just one clarification: settings cannot be changed in recipes. They are pure input, read-only in recipes, and trying to change them is undefined behavior. The compiler definition needs to come defined by the profile/command line inputs.

[2022-10-12 11:32] jpfeuffer commented on #12286
Ok but I can change e.g. libcxx depending on the compiler that comes from a profile, right?

[2022-10-12 11:36] memsharded commented on #12286
No, not in recipes. Settings, and profile in general is read-only in recipes, and should be treated as such (even if Python allows to change things), because it can be undefined behavior.

The recommended way for production is to have a well defined set of profiles for the configurations that you want to manage, do not rely at all on any Conan auto-detection of the profile (this auto-detection has

[2022-10-12 11:38] himansu2906 commented on #12254
we have 2 kind of libraries.
external : which are pre-compiled banaries and provided by external companies. we don't have source for these libraries
internal : which are being created from sources by us.

let say lib1(external) and lib2(internal) are already created with profile1 and uploaded to artifactory.

Both libs are mentioned in conanfile.txt as a dependency for a project.

now when we are

[2022-10-12 11:47] memsharded commented on #12254
But it doesn't work that way, it doesn't matter if libraries are internal or internal. You cannot just apply a different profile that says ``os=Windows`` and ``arch=x86`` and expect the pre-compiled binary package created with ``conan export-pkg`` to work.

So 2 things can happen:

- You assume that the precompiled binary is good for a range of different settings, and it will be binary compatible.

[2022-10-12 11:50] jpfeuffer commented on #12286
But won't this mean hundreds of profiles? There is a combinatorial explosion in the values for compiler, version, OS, c standards. I do not have any requirements except for the ABI (actually not even this is strictly necessary) and want to support everything.

[2022-10-12 11:54] memsharded commented on #12286
Not necessarily, how many platforms are you building binaries for? what is the size of your CI system? Most of our users typically build binaries for something between a few (4-6) to many (20-30), but definitely not hundreds.

[2022-10-12 11:58] jpfeuffer commented on #12286
Yes, in our own CI not so many. But I do not want to restrict users when building it for their own configuration. I want to make sure however, when they create their own profile that it matches certain standards. I.e., if they use gcc/clang in any version (even if we do not have a profile for our CI) that it uses a certain C++ standard or ABI.

[2022-10-12 12:03] maitrey commented on #12166
While waiting for your reply , I also tried like this: tc.variables["Package"] = self.deps_cpp_info["Package"].bin_paths[0] . Targets are a good way just that I would have to change all the packages as many have include dirs. For creating targets in the creator package in cmake , I need to use add_library and access them with namespace from consumer package. For include headers , I am not sure exa

[2022-10-12 12:05] memsharded commented on #12286
You don't have to, that is the idea, not restrict the users to try different configurations. Sometimes they will work, and sometimes a certain configuration will not work, and they can report it.

For things that really, really are not supported, you can raise in the ``validate()`` method, like:
[code]
To help users fail-fast and understand what is happening.

But trying to restrict the ``libcxx``

[2022-10-12 12:06] memsharded commented on #12286
As a note, we create +130 different binaries in ConanCenter for the packages there, and besides the ``validate()`` method, there is nothing else there that tries to force settings.

[2022-10-12 12:09] memsharded commented on #12166
Sorry, I am not sure what you mean. The include_dirs are already defined in the targets, no need to handle them separately.

The ``conan new hello/0.1 -m=cmake_lib`` is a fully working functional example of creating a package and consuming it with ``find_package()`` and ``target_link_libraries(....   targetname::targetname)``, without needing to use ``include_dirs`` in CMakeLists.txt or anything l

[2022-10-12 12:15] johan-boule commented on #1557
They are other reasons that make the .conan/data dir not sharable at all between different versions of a project/branch:

1) As documented, it's not thread safe, so CI are recommended to use a separate CONAN_USER_HOME (and shared download cache) for each build.

2) You want each version/branch of your software to lock the package revisions it needs, and these will differ between versions/branches

[2022-10-12 12:16] jpfeuffer commented on #12286
I see, I see. I am starting to get an understanding of some conan best practices now. Thanks a lot for your guidance.

[2022-10-12 12:19] himansu2906 commented on #12254
it works perfectly fine when we consume the package individually with different profile, it builds the binary from sources locally.

![image](https://user-images.githubusercontent.com/109611178/195340646-d627fbc8-cf9b-40d7-a089-da894a237274.png)

[2022-10-12 12:24] maitrey commented on #12166
hello example has not the use case that we have. We have packages that are include headers only package.

[2022-10-12 12:29] maitrey commented on #12166
Can I use the dependencies like this:
Package = self.dependencies["Package"]
tc.variables["Package_BINDIR0"] = Package.cpp_info.bindirs[0].replace('\\', '/')

[2022-10-12 16:45] memsharded commented on #12254
Yes, the ``module_concept`` is internal, it knows how to build from sources, typically contain a ``build()`` method, and everything works.
If I understand correctly, the problem is with the other package, the external ``libeosSRC36_20_31``, which doesn't contain a ``build()`` method because it is created from pre-compiled binaries with ``conan export-pkg``. This package cannot be built from source

[2022-10-12 16:48] memsharded commented on #12286
Happy to help, do not hesitate to open new tickets to ask further questions.

[2022-10-12 16:53] memsharded commented on #12166
That is perfectly fine. A CMake target can also work with only headers, and it is still recommended practice and not using a Something_INCLUDE_DIR variable. Modern CMake is all about targets.

Yes, this should be possible. But for ``bindirs`` specifically for dependencies it might not be necessary at all. The ``bindirs`` of ``tool_requires`` will be automatically added to the PATH env-var when the

[2022-10-12 16:56] memsharded commented on #1557
Some hints following @johan-boule points:

This is fixed by 2.0, the cache there will be multi-revision

In 2.0, at the moment, it is still not thread-safe, but this is something that will be tried in the future

[2022-10-12 18:01] ericriff opened #12293 "[bug] Conan doesn't re-configure the test_package when using the new conan.tools.cmake helper"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: Gcc8
  * Conan version: 1.53.0
  * Python version: 3.8

I'm trying to compile the [opengv recipe](https://github.com/conan-io/conan-center-index/tree/master/recipes/opengv) which has been recently modernized to support both the `test_package` and the `test_v1_package`. I'd

[2022-10-12 18:11] dev-joss commented on #1557
I am fine to migrate all packages to lowercase, however the main problem for me is that when trying to build older versions it will need the mixed case packages (OpenSSL looking at you). I need to maintain the ability to build these older versions.

[2022-10-12 18:15] 0xfff0 commented on #6685
It's been a while but I was wondering if you found a solution to this?

[2022-10-12 18:27] memsharded commented on #12163
Trying to fix it in https://github.com/conan-io/conan/pull/12294

[2022-10-12 18:29] memsharded commented on #1557
Conan 2.0 will no longer be able to build legacy recipes that have not been modernized in 1.X to the new tools (https://docs.conan.io/en/latest/conan_v2.html). If the recipes need to be updated, fixing the name shouldn't be an issue anyway?

[2022-10-12 18:31] memsharded commented on #6685
@0xfff0 just in case, the ``cmake`` generator has already been superseded by new integrations ``CMakeDeps`` et al (https://docs.conan.io/en/latest/conan_v2.html), and 2.0 is already in beta.4, very close to final release, so I think this issue regarding ``cmake`` can be closed.

[2022-10-12 18:33] memsharded commented on #12293
Hi @ericriff

IIRC, this is a known issue of the new tooling, that couldn't be fixed without breaking (basically with the ``layout()`` there is risk in removing user files). Conan 2.0 behavior should be fine, creating a ``test_output`` folder that is easy to be removed.

[2022-10-12 18:39] ericriff commented on #12293
Can I instruct conan to prefer the `test_v1_package` then?

[2022-10-12 18:59] memsharded commented on #12293
The ``-tf=test_v1_package`` can always be defined to use that test_package folder instead

[2022-10-12 19:12] ericriff commented on #12293
Awesome. Should I close this then? Or do you want it open for tracking?

[2022-10-12 20:21] memsharded commented on #12293
I think it is fine to close it, as it is already fixed in released 2.0, and we are closing tickets when they are fixed, annotating the release.

[2022-10-12 21:03] #12293 closed, assigned to nobody

[2022-10-12 22:19] #12265 closed, assigned to memsharded

[2022-10-12 22:24] memsharded commented on #12265
Closed by https://github.com/conan-io/conan/pull/12295, will be in 1.54

[2022-10-12 23:42] SpaceIm opened #12296 "[bug] `conan.tools.gnu.Autotools`: number of processors can't be customized through `make` & `install` methods"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 14.0
  * Conan version: 1.53.0
  * Python version: 3.10.7

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/pull/13447/commits/0f24d242d38d0674c5fd5bd5073cb10c3831c919, where `-j1` is passed to args of Au

[2022-10-13 03:42] petermbauer commented on #8411
Same usecase here with setName() and not wanting to use env vars in the shell for this.
Any news on this? Maybe for Conan 2.0?

[2022-10-13 04:51] dev-joss commented on #1557
Yeah, when Conan 2.0 is released and stable, I'm sure we will address that during if we decide to migrate. But for now we're using Conan 1.x

[2022-10-13 06:36] harsszegi opened #12297 "[question] reproducible builds and version ranges?"
Hi,

we maintain ~80 packages and we have two packages for python_requires (base Conan recipe) and build_requires (CMake scripts) which are shared accross all ~80 packages.
We don't want to go over every packages whenever we do a fix / change in the base recipe or in the CMake scripts.
If we were to use version ranges in the recipes how does it work when I have to rebuild a package from ~1 month a

[2022-10-13 06:56] mzukovec opened #12298 "[bug] Default cppstd not working due to non-existent `_cppstd_default`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2022
  * Conan version: 1.53.0
  * Python version: 3.8

### Description
Conan v1.53.0 default cppstd is not working. It returns `None` due to the call of the non-existent `_cppstd_default` method.

See the [definition](https://github.com/conan-io/conan/blob/1.53

[2022-10-13 07:14] mzukovec commented on #12298
After re-checking, this seems to be dead code, since it's not really used anywhere. Is this some future feature?

Please let me know if this issue should be closed.

[2022-10-13 07:20] memsharded commented on #1557
We expect 2.0, hopefully, before EOY. Also, all necessary recipe upgrades have been backported and can already be implemented in 1.X, and that is the recommended approach anyway in 1.X, because the legacy tools will not longer be maintained. Changing the package names to lowercase can also be done (and should be done) in 1.X, not in 2.0, because the idea is that updated recipes will be compatible

[2022-10-13 07:24] memsharded commented on #12297
Hi @harsszegi

There are 2 ways to achieve this:

- Use multiple server repositories, storing a subset of the packages that were use at that release, and you maintain one repo per every release you want to be able to reproduce.
- Use lockfiles: https://docs.conan.io/en/latest/versioning/lockfiles.html. Note that lockfiles can be a bit complicated in 1.X for some advanced cases, if you haven't use

[2022-10-13 07:27] memsharded commented on #12298
No, please don't close it, the idea is that this function was there as part of the upgrade of tools, but you are right this code is not even tested, so we should have a look.

[2022-10-13 07:30] harsszegi commented on #12297
Awesome, thanks a lot @memsharded, lockfiles it is then (I completely forgot about them)

[2022-10-13 07:30] #12297 closed, assigned to memsharded

[2022-10-13 07:35] memsharded commented on #8411
Hi @petermbauer

I am afraid it is not possible. The ``set_version()`` and ``set_name()`` happen too early in the process, and they happen also in many contexts that there is no profile information at all (like ``conan export``, which is profile-less, there are no options defined at all, and it makes sense, because the export cannot be conditioned to anything, it must always be the same for all di

[2022-10-13 07:35] #8411 closed, assigned to nobody

[2022-10-13 07:47] yushb0602 opened #12299 "[bug] link error when using spdlog/1.10.0"
### Environment Details (include every applicable attribute)
  * Ubuntu 22.04.1 LTS
  * gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0
  *  1.53.0
  * Python 3.10.6

When I simply use spdlog library
[code]
And run `conan install ../cppsrc --build=missing' successfully.

But I meet the following  link error when simply use `  spdlog::info("Welcome to spdlog! {}", 22);`
I have tried the same version https://g

[2022-10-13 07:49] memsharded commented on #12148
Already fixed in 2.0, thanks!

[2022-10-13 07:49] #12148 closed, assigned to nobody

[2022-10-13 07:53] memsharded commented on #12299
Hi @yushb0602

It seems that there could be an error in your configuration, and you are using ``compiler.libcxx=libstdc++``, but you are actually using in your compiler ``libstdc++11``.

please check: https://docs.conan.io/en/latest/getting_started.html, the *important* note:

You will find more information in [How to manage the GCC >= 5 ABI](https://docs.conan.io/en/latest/howtos/manage_gcc_abi.h

[2022-10-13 07:57] EstebanDugueperoux2 opened #12300 "[question] How to get LOCATION of a cmake target"
Hi conan community,

I have an existing project using conan and cmake that I try to migrate to CMakeToolChain+CMakeDeps.
The existing CMakeLists.txt reads LOCATION target property, which was working before but no more works with CMakeToolChain+CMakeDeps.

I reproduce with https://github.com/EstebanDugueperoux2/qt5Example project.
When invoking "conan create . " I get "_target_location: _target_loc

[2022-10-13 07:59] BobIsOnFire opened #12301 "[bug] `conan imports --undo`: "File doesn't exist" for symlinks"
### Environment Details (include every applicable attribute)
  * Operating System+version: RHEL 8.4
  * Compiler+version: gcc 8.4
  * Conan version: 1.52.0
  * Python version: 3.6.8

### Steps to reproduce + Logs

`conanfile.txt`:

[code]

Commands:
[code]

`xzcat` is a symlink for `xz`, and `xz` gets deleted before its symlink, leaving `xzcat` broken. It also does not remove `xzcat` from the fold

[2022-10-13 08:41] Adnn commented on #12257
I'll close this question, as I actually needed the functionality of `self.conf` object, which is available at `generate()`.

[2022-10-13 08:41] #12257 closed, assigned to memsharded

[2022-10-13 08:57] petermbauer commented on #8411
Hi, thanks!

For the records, i also tried it with a "custom" `[conf]` entry in the profile file but the config values are apparently not available in the `set_name()` as well.

[2022-10-13 09:02] memsharded commented on #8411
Yes, exactly, the ``[conf]`` is part of the profile, and ``conan export`` that needs to obtain the name and the version, doesn't get profiles at all.

[2022-10-13 09:59] steffenroeber opened #12302 "[question] Correct usage of requirements"
Hi,
imagine you have a recipe that needs for example a static lib like zlib as a requirement at build time.
This lib is then only needed to build your recipe. I would put such a requirements into the build_requirements step.
In your docu is stated that this is not intended because only build tools should be used there.
But, if I put zlib into requirements(), then zlib recipe is needed if I install

[2022-10-13 10:11] memsharded commented on #12302
Hi @steffenroeber

Yes, indeed the docs in https://docs.conan.io/en/latest/devtools/build_requires.html try to clarify this a bit: ``build_requires`` or ``tool_requires`` are exclusively for tools, required at build time, like ``cmake`` or something like that.

Yes, that means that libraries are needed, but they are needed in many cases, for example if zlib is a static library, and it is required

[2022-10-13 10:14] steffenroeber commented on #12302
Ok. Thank you for fast clarification.

[2022-10-13 11:08] H-G-Hristov commented on #12261
I'll try to provide a minimal example as I cannot share the project.
After updating to Xcode 14. Now I can see also:

-- The C compiler identification is AppleClang 14.0.0.14000029
-- The CXX compiler identification is AppleClang 14.0.0.14000029
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolc

[2022-10-13 11:18] H-G-Hristov opened #12303 "[question] Library not added to the CMAKE_MODULE_PATH"
I used the default recipe for Benchmark from here:

<https://github.com/conan-io/conan-center-index/tree/master/recipes/benchmark>

and modified it to my needs but it is not added to the module path: CMAKE_MODULE_PATH.
I basically added `Findbenchmark.cmake` support.
I used an older version of this recipe before and I did had this problem.

  By not providing "Findbenchmark.cmake" in CMAKE_MODULE_

[2022-10-13 11:27] kexianda opened #12304 "[bug] generators_folder is not appended to ${CMAKE_CURRENT_LIST_DIR}"
https://docs.conan.io/en/2.0/reference/tools/cmake/cmakedeps.html

However, it does not work.  conanfile.generators_folder is not appended into CMAKE_PREFIX_PATH.
instead, generators_folder is replaced with  ${CMAKE_CURRENT_LIST_DIR})
list(PREPEND CMAKE_MODULE_PATH ${CMAKE_CURRENT_LIST_DIR})

I take a look at the code:
[code]
### Environment Details (include every applicable attribute)
  * Operati

[2022-10-13 11:30] memsharded commented on #12261
From ``Conan: Automatic detection of conan settings from cmake``, it seems that this could be related to the conan-cmake repo, in that case, we should transfer the issue to that repo.

[2022-10-13 11:34] memsharded commented on #12301
Hi @BobIsOnFire

The ``imports`` feature as such is being deprecated, and it has already been removed in 2.0. Then it is unlikely that it will be prioritized, so I'd like to suggest a path to move forward:

- Change your ``conanfile.txt`` to a ``conanfile.py``
- In the conanfile.py, implement a ``generate()`` method that iterates ``self.dependencies`` and do a ``copy(self, ...)`` (from ``from cona

[2022-10-13 12:12] SpaceIm commented on #12106
@jcar87 I confirm it's a side effect of missing layout in openssl recipe.

This addition in openssl recipe is sufficient to fix issue in downstream recipes relying on AutotoolsDeps and depending on openssl:

[code]

In a sense it's quite similar to https://github.com/conan-io/conan/issues/11867. But it's really not a good thing for conan v2 migration.

[2022-10-13 12:23] Sil3ntStorm opened #12305 "[bug] min version check fails when it should not"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.53.0
  * Python version: 3.10.7

### Steps to reproduce (Include if Applicable)
Have a conanfile.py which contains `required_conan_version = '>= 1.50'` after the import statements.

Attempt to run it using 1.53.0 and it prints
Current Conan version (1

[2022-10-13 12:39] krabbstek opened #12306 "[bug] CLI options are ignored with chains of lockfiles"
Hello!

When creating a "deps" lockfile using another lockfile as input (*not* a `--base` lockfile) `conan lock create conanfile.py -o ...`, the CLI options are ignored without warning and only the options for the input lockfile are used. If the input lockfiles do not have any options specified, and we try to create a new lockfile with a command along the lines of `conan lock create conanfile.py -

[2022-10-13 12:39] #12302 closed, assigned to memsharded

[2022-10-13 13:16] memsharded commented on #12305
I am trying, but this seems to work correctly here (it is also checked in the test suite), not sure what could be failing in your side.

It is weird that in your case it is quoting the `` ('>= 1.50').``, because in my output it doesn't look like that, but:
[code]
(I had to use 1.54, otherwise it works)

[2022-10-13 13:20] memsharded commented on #12306
Hi @krabbstek

Thanks very much for your detailed report and instructions to reproduce.
Indeed, this is something characteristic of the Conan 1.X lockfiles, once a lockfile is captured, it contains the whole build and host profiles, and from there, it will not be listening at all to other inputs, just what it has locked. It is not possible to change that behavior at this stage.

The good news is t

[2022-10-13 13:23] krabbstek commented on #12306
Thank you for your quick reply! I will try to find time to look at conan 2.0! Regarding not being able to change the behavior at this stage, would it be possible to at least give warnings when the profiles in the command line and in the input lockfile do not match?

[2022-10-13 13:30] memsharded commented on #12306
I have checked the code, and indeed we have some protection there:
[code]
to avoid passing both lockfiles and arguments. The only loophole is exactly the ``conan lock`` command, because that one might actually allow the arguments in some cases, like the **base** lockfiles that doesn't contain profiles, but it doesn't know it from the arguments, because it gets just another lockfile. Seems too much

[2022-10-13 13:41] krabbstek commented on #12306
Ok, then we will just have to be careful about this specific use case then. Feel free to close the issue as _Won't fix_, then, if you'd like. Thanks!

[2022-10-13 13:49] memsharded commented on #12306
Really appreciated. Thanks very much for the feedback!

[2022-10-13 13:49] #12306 closed, assigned to memsharded

[2022-10-13 14:38] jcar87 commented on #12303
Hi @H-G-Hristov  - could you please provide the following details:
* which Conan generator you are using - the legacy ones are all the `cmake` ones (all lowercase), while the newer and preferred ones are `CMakeDeps` paired with `CMakeToolchain`.
* How you are integrating it in your own project's `CMakeLists.txt`

Will be happy to provide assistance, thanks!

[2022-10-13 14:40] CD3 commented on #11529
Hmmm, all good points. Perhaps it is best solved on a case-by-case basis. I am currently using a custom generator that does this, but I don't have a remote cache, so I have not run into the absolute path issue. We are just using Conan to automate our in-house builds.

Thanks for the consideration.

[2022-10-13 14:40] #11529 closed, assigned to nobody

[2022-10-13 14:55] jcar87 commented on #12300
Hi @EstebanDugueperoux2, thanks for raising this issue and providing a reproducible example.

While the new `CMakeToolchain` and `CMakeDeps` generators and the recipes in Conan Center aim to be compatible with the following workflow:
[code]

The interface enables the same usage at the target level with `target_link_libraries`, however, the Conan-generated CMake files set up targets differently - t

[2022-10-13 15:17] jpfeuffer commented on #12266
Any idea how I could proceed without the "LOCATION" properties while you decide on/implement a fix?
I.e. how can I find out in CMake where the library behind a corresponding target is located?

[2022-10-13 15:25] EstebanDugueperoux2 commented on #12300
Hi @jcar87,

Thanks for your help.
My use case is to install automatically all transitive shared librairies of dependencies aside built target.
We have a generic cmake macro doing that based on target properties.

Regards.

[2022-10-13 15:56] #12163 closed, assigned to nobody

[2022-10-13 20:46] wadimklincov opened #12308 "[feature] Support rendering the distro library in global.conf"
Hi,

would it be possible to also forward the `distro` library in `global.conf`? My use case is selecting default profiles based on the Linux distribution, but unfortunately `platform` only gained support for parsing `/etc/os-release` in [3.10](https://docs.python.org/3/library/platform.html#platform.freedesktop_os_release) and I wasn't able to find any feasible alternative prior to that.

Thank y

[2022-10-13 20:49] Sil3ntStorm commented on #12305
nevermind. This appears to be an issue in the conan install from chocolatey. Installing conan using pip and it works as expected.

[2022-10-14 07:51] Bearwolves opened #12309 "[question] Handling of dependencies on python modules and access to dependency package_folder"
Goal: Ability to install all python modules required by our dependencies

We have an internal convention for packages to provide a requirements.txt file in the root of the package when they require python modules. On the consumer side, after the `conan install` step, we parse the `conanbuildinfo.json` to get access to the rootpath of each package and check if there is any `requirements.txt` with a

[2022-10-14 10:54] memsharded commented on #12309
Hi @Bearwolves

I'd like to understand a bit better the use case and flow. I guess that you are aware of the ``system_requirements()`` method, and that you can call there a system package manager to install for example debian packages with ``apt``. But it is true that doing it for Python is a bit more complicated, because Conan is already running in a Python interpreter, and you don't want to poll

[2022-10-14 10:55] memsharded commented on #12305
Ok, then maybe we can close this issue, if you have filed a ticket to chocolatey, it would be fine to link it here for reference. Thanks!

[2022-10-14 10:55] #12305 closed, assigned to memsharded

[2022-10-14 10:55] elqueffo opened #12310 "[bug] self.package_folder is None in package_info() if layout() is used"
### Environment Details (include every applicable attribute)
  * Conan version: 1.52.0, 1.53.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)
Create a conan file like so:
[code]
**Set package in editable mode**

install with CMakeDeps and CmakeToolchain generator:

`conan install package/0.1@blah/blah -g CMakeDeps -g CMakeToolchain`

### Logs (Executed commands with outpu

[2022-10-14 10:57] memsharded commented on #12308
This seems a valid use case, and it should be easy to provide, let's give it a try and check with the team.

[2022-10-14 11:16] memsharded commented on #12310
Hi @elqueffo

I have been checking, but it seems there might be something else in your recipe affecting. This is what I tried to reproduce:

- Start from ``conan new hello/0.1 -m=cmake_lib``
- Added that line using ``self.package_folder`` to ``conanfile.py`` ``package_info()`` method
- Did a ``conan create .`` (the test_package that consumes it already uses ``CMakeDeps`` and ``CMakeToolchain``
- D

[2022-10-14 11:17] ericLemanissier opened #12312 "[bug] System package tools do honor arch setting"
When using conan.tools.system.package_manager.Apt (and the others too), for example like `xorg/system@` recipe does in https://github.com/conan-io/conan-center-index/blob/master/recipes/xorg/all/conanfile.py#L27, the arch suffix is not automatically appended to each package, based on the arch setting.
Looking at the code, [`AptTool.get_package_name()`](https://github.com/conan-io/conan/blob/8936c1

[2022-10-14 12:46] Bearwolves commented on #12309
Hey @memsharded ,

I'm speaking only about python modules dependencies!

Our current workflow looks like that(simple case without virtualenv):
- `pip3 install -r requirements-contributor.txt`
- `./configure_conan.sh` => `conan config install ...`
- `./build.sh -i` => `conan install`
- `./python_dependencies.sh` (nstall them if "-i" parameter is provided)
  - access `conanbuildinfo.json`, get `root

[2022-10-14 13:08] vajdaz commented on #12227
Thanks for all the information and the help you gave. I have no more questions about this topic, so I close the issue.

[2022-10-14 13:08] #12227 closed, assigned to nobody

[2022-10-14 13:17] theartful commented on #11867
I don't think the bug here is what it seems it is. Simply providing non-existing directory for "-F" won't cause an error. The bug here is that "-F" flag and the proceeding directory are treated as different.
Specifically this part:
[code]
This should be
[code]
The first line will only cause a warning, but the third line will cause the error, because it should be preceeded by "-F" flag. This happen

[2022-10-14 13:22] theartful commented on #11867
In my case, doing a workaround patch like this, which just removed the space in between fixed the issue:
[code]

[2022-10-14 13:51] db4 commented on #2729
@memsharded Thanks for considering this for Conan 2.0, but why not include it into 1.x? My implementation is quite simple but still fully compatible with older packages without timestamps. If you are still afraid of breaking something, this can be turned off by default.

[2022-10-14 14:52] paulharris commented on #11751
Hi @czoido, I had a problem building nasm with the msvc compiler (rather than Visual Studio) because of a compiler test within the recipe.

I thought I'd upgrade the package to conan v2, but I see in here the upgrade has already been done to the recipe... somewhere?

[2022-10-14 15:49] elqueffo commented on #12310
Hey @memsharded

Here is a full conanfile:
[code]

I run these commands:
* `conan create . test/test`
* `conan editable add . test/0.9.1@test/test`
* `conan install test/0.9.1@test/test -g CMakeDeps -g CMakeToolchain`

the output i get is as follows:
[code]

If i remove `layout()` , i can successfully run install.

[2022-10-14 16:04] Sil3ntStorm commented on #12305
https://github.com/chocolatey-community/chocolatey-packages/issues/2012

[2022-10-14 17:46] davidebenato commented on #11835
thank you, we figured it out

[2022-10-14 17:46] #11835 closed, assigned to memsharded

[2022-10-14 17:58] davidebenato opened #12313 "[question] packaging C library - linking failing on a project that tries to use it"
Hello,

I am trying to build an external `C` library and I followed the various guides. Specifically:
https://docs.conan.io/en/latest/howtos/makefiles.html

The library in question is https://github.com/fanf2/hg64

my conanfile is the following:
[code]

I build it as follows:
[code]
and it creates the package successfully.
If I look at the folder where it installed it, I see what I am expecting:
[

[2022-10-14 18:10] prince-chrismc opened #12314 "[question] MSBuildToolchain does not apply compiler toolset when it's missing from vcxproj files"
Reviewing and playing with https://github.com/conan-io/conan-center-index/pull/13185 I discovered the new toolchain and build helper are able to pass in the compiler toolset from the settings model (or the recipe)... but not how I was expecting.

❓ Is this a limitation given the tribe decided on higher support (where this value should always be present) or is it possibly a bug?
❓ Is this expected

[2022-10-14 22:19] memsharded commented on #12313
Hi @davidebenato

I am sorry, the docs you are reading are a bit outdated.
You better start with the ``conan new hello/0.1 -m=autotools_lib`` and ``conan new hello/0.1 -m=autotools_exe``, they are using the modern integrations better, and are way more ready for Conan 2.0. Please read:
- https://docs.conan.io/en/latest/conan_v2.html
- https://docs.conan.io/en/latest/reference/conanfile/tools.html

[2022-10-14 22:24] davidebenato commented on #12313
Thank you @memsharded I'll give it a try and report back.
A part the sightly older style, do you see anything suspicious in my recipe?
I forgot, at my company we are on 1.5.2

[2022-10-14 22:57] memsharded commented on #12313
Yes, a quick look, it is missing the ``libs``, something like:

[code]
Please try that.

It is very recommended to use a ``test_package`` to test these things too, very convenient.

[2022-10-15 08:02] yushb0602 commented on #12299
Yes. It works.   I'll try conan_v2

[2022-10-15 08:02] #12299 closed, assigned to memsharded

[2022-10-15 08:44] davidebenato commented on #12313
thank you @memsharded
very helpful advice.
It turns out my problem wasn't really related to conan.
My library is a `C` library and although I managed to package it correctly after your suggestions, I was not including it properly from `C++`
[code]

fixed the problem.
Thanks to your suggestion I will definitely include a test package as well.

[2022-10-15 08:54] memsharded commented on #12313
Happy to hear that!
Then I am closing this ticket, don't hesitate to open new ones for any further questions.

[2022-10-15 08:54] #12313 closed, assigned to nobody

[2022-10-15 11:08] kambala-decapitator commented on #12065
this is a bug in https://github.com/podhmo/python-node-semver, at least in the version used by conan.

I found a workaround for this specific case `~1.1`: use `^1.1` instead.

`~1.1.0` works correctly though: matches only `1.1.x`. Btw `1.1.x` is also a valid range, and `1.x` is the same as `~1.0`.

[2022-10-15 11:21] kambala-decapitator commented on #12065
or maybe "it's a feature, not a bug"... https://jubianchi.github.io/semver-check/#/~1.1/1.2

[2022-10-15 13:05] aacebedo opened #12316 "[question] Unable to use editable package as a dependency"
Hi,

I am currently trying to use editable package with conan 1.53.0
I made a small example here : https://github.com/aacebedo/conan_example

If I try to create the package `cmp2` after having created the `cmp1` package everything is fine:
[code]

However if I add `cmp1` as an editable package and try the same command, it ends up with a cmake error complaining about the fact it does not find the p

[2022-10-15 15:05] Nekto89 opened #12317 "[bug] conan export-pkg suggests to use invalid option"
"conan export-pkg" suggests to use "--update" but "--update" isn't a valid option for "export-pkg"

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.53.0
  * Python version:

### Steps to reproduce (Include if Applicable)
conan export-pkg -pf /mnt/c/conan/linux_debug -f -s os=Linux -s build_type=Debug

[2022-10-15 20:47] memsharded commented on #12316
Hi @aacebedo

I am trying to reproduce this, but it also fails, even if I don't use the editable, it also fails for the normal case.
I am trying in Windows, and the problem is that the ``.lib`` file is not being packaged, so it doesn't work. You haven't reported your OS, please do, sometimes it can be relevant to know what is happening.

Then, I managed to make it work, changing the cmp1 header to

[2022-10-15 20:48] memsharded commented on #12299
No need to move to 2.0 now, it is still in beta. But we have backported all the necessary things to allow an easy upgrade, to 1.X. You have ``CMakeDeps``, ``CMakeToolchain`` and other tools in latest 1.X already.

[2022-10-15 20:50] memsharded commented on #12310
Sorry, I accidentally closed the issue instead of commenting on it. Re-opening.

The missing detail was the ``editable`` thing, that is very important. I will try to reproduce with it, thanks.

[2022-10-15 21:13] memsharded commented on #12310
Some deprecation warnings:

- ``generators = "cmake", "cmake_find_package"``. These generators have been superseded by ``CMakeDeps`` and ``CMakeToolchain`` in 1.X, and have been removed in 2.0. please upgrade to those new ones to be 2.0-ready (which is getting very close)
- Same for ``self.env_info.PATH`` has been replaced by ``self.buildenv_info.define_path("MYVAR", mypathvalue)`` and the ``Virtu

[2022-10-15 21:15] memsharded commented on #12310
I have been able to reproduce.
This is kind of expected. When a package is in ``editable`` mode its ``self.package_folder`` is ``None``, it is not defined because there is no package at all, this cannot have a value.
So in order to define a ``package_info()`` that is valid for ``editable``, it needs to be based on relative paths. This is what the ``cpp_info.includedirs = ["include"]`` and similar

[2022-10-15 21:29] memsharded commented on #12317
Hi @Nekto89

Yes, this might happen in Conan 1.X, as the cache can only host 1 revision at a time, and if the ``export-pkg`` command requires some revision not in the cache, the internals will fire this error.

If a package has dependencies, in theory a previous ``conan install`` must happen in order to be able to build the current binary, that it will be later ``export-pkg``. At this first ``cona

[2022-10-16 11:32] aacebedo commented on #12316
Thanks for the info !

I am running the example on Linux.

I think I did not built the cmp1 before so It may explain why the targets are not found.

[2022-10-16 11:52] KarstenB commented on #12231
Hey @memsharded,
I finally got around to check our recipes with Conan 2.0 and found that the `--logger` output would indeed fill my requirements of being able to properly parse and detect messages, and I would love to direct it to a file. However I think that it is a bit over the top when written to a common log file that can then be easily read by a dev posts-mortem.

So over all I would still pr

[2022-10-16 14:59] H-G-Hristov commented on #12303
Hi @jcar87 Thank you for offering your help. Above is the new style recipe with `CMakeToolchain` which is giving me trouble.

The main addition to the default recipe from the Conan index repo are:

[code]

 I reverted my repository to use the old style recipe which looks like that:

[code]

From my `CMakeLists.txt`

[code]

My project is building the Conan dependencies via a Python script:

[code]

[2022-10-16 19:18] memsharded commented on #12316
yes, and in Linux, the code above is not necessary, because all symbols are exported by default to shared libraries.

If you managed to make it work doing the build, please close this issue as resolved, thanks!

[2022-10-17 06:14] elqueffo commented on #12310
There are numerous recipes using package_folder on conan-center and elsewhere, and it is the recommended/documented way to set path: https://docs.conan.io/en/latest/reference/conanfile/methods.html#env-info

I would therefor expect this to work also for editable pacakges in some way, with a "portable" way to set env vars based on the package location that works in both cases.

[2022-10-17 07:52] BobIsOnFire commented on #12301
Hi @memsharded, thanks for the advice! Managed to implement this functionality, works fine.

[2022-10-17 07:52] #12301 closed, assigned to memsharded

[2022-10-17 08:57] paulocoutinhox commented on #12260
Hi,

Any news about this?

Thanks.

[2022-10-17 09:04] czoido commented on #12260
Hi @paulocoutinhox,

Yes, we have assigned this issue to the 1.54 milestone so hopefully we will have a fix for the next release. Sorry for the inconvenience and thanks a lot.

[2022-10-17 09:17] santhonisz commented on #3859
Hi there,

As part of our preparation for the upcoming release, I have been looking at the latest Conan 2.0 MSBuild generators and came to the same thought as was raised many years ago in this issue. Namely, I was wondering of the value in the creation/modification of a `Directory.Build.props` file as part of the new `MSBuildToolchain` generator. This would provide a very convenient approach to au

[2022-10-17 09:24] santhonisz commented on #12310
I have also encountered this issue when using editable packages and the `MSBuildDeps` generator - you can see that it is explicitly attempting to write the `package_folder` to the generated props file and fails as it is `None`.
https://github.com/conan-io/conan/blob/develop/conan/tools/microsoft/msbuilddeps.py#L168

The workaround I've found is to call `self.folders.set_base_package('.')` in the `

[2022-10-17 09:26] czoido commented on #12312
Hi @ericLemanissier,

Thanks for reporting. I had a look and I think that from the tools side the behaviour is correct, the problem is that the recipe is [just declaring the os](https://github.com/conan-io/conan-center-index/blob/bd0f0877bf27914ccef7aee5e89e0bad26ce6301/recipes/xorg/all/conanfile.py#L15) setting so when the `SystemPackageManagerTool` tries to add the architecture for the package t

[2022-10-17 09:50] ericLemanissier commented on #12312
I don't think it will solve the problem. `SystemPackageManagerTool` is not used in this recipe

[2022-10-17 09:56] Zvicii commented on #12312
isn't it used in line 3？https://github.com/conan-io/conan-center-index/blob/bd0f0877bf27914ccef7aee5e89e0bad26ce6301/recipes/xorg/all/conanfile.py#L3

[2022-10-17 09:59] czoido commented on #12312
Sorry, maybe I was not clear mentioning that class. That is the base class for all the implementations, like Apt, Yum, etc. Re-checking the initial comment I think that part of the confusion comes from mixing the old implementation that is [not used](https://github.com/conan-io/conan/blob/8936c117db983e64e8c43a325a4759f54cdf1715/conans/client/tools/system_pm.py#L297) in the recipe  under `conans`

[2022-10-17 10:02] ericLemanissier commented on #12312
That fixes the issue indeed. Thanks !

[2022-10-17 10:02] #12312 closed, assigned to czoido

[2022-10-17 10:58] petermbauer commented on #8411
I ended up with separate conanfiles, one common `_conanfile_base.py` containing everything except the `name` and `description` attributes and one for each "variant" which imports the common file and defines the attributes like this:
[code]
The name could also be derived from the filename to get rid of the redundancy.

[2022-10-17 11:07] czoido commented on #12260
Hi @paulocoutinhox, I have just opened a PR form 1.54 solving this issue: https://github.com/conan-io/conan/pull/12319 Could you please have a look? Thanks!

[2022-10-17 11:17] jcar87 commented on #12237
Currently investigating this:

@memsharded  - for the specific use case of being able to do `include(a-cmake-module)`, where `a-cmake-module.cmake` is a file that exists inside a package, only `CMAKE_MODULE_PATH` would need to be updated. This issue is specific to `CMAKE_PREFIX_PATH`, which once mutated, alters the behaviour of every subsequent `find_*` call in CMake.

The `cpp_info` property that

[2022-10-17 14:52] memsharded commented on #12310
@elqueffo

Many recipes in ConanCenter haven't been migrated to the new tools, and in any case it is ok if they are not prepared to work in ``editable`` mode. Editable mode is when you want to be live editing the source code of several packages simultaneously, which is not a case for third party open source dependencies.

That is the thing, it is not that we don't want to define the ``self.package

[2022-10-17 14:54] memsharded commented on #12301
Thanks for the feedback @BobIsOnFire and for following up and closing the issue!

[2022-10-17 15:04] elqueffo commented on #12310
I see, thanks for the explanation.

In this case this was in fact an open source dependency that i wanted to add a layout to for iterating faster. I wasn't able to without breaking a number of other things along the way, this being one of them.

For this specific recipe, i would have expected the bin path to point at the build output folder.

In addition this usecase:
On our own recipes we set a n

[2022-10-17 15:56] jwillikers commented on #10359
I think this is still a pertinent issue for the new `CMake` build helper as projects may use component-based installs and the default install component may not install the necessary files. Adding the ability to specify a `component` argument to the `CMake.install()` command would be ideal. This could just translate to `cmake --install ... --component <specified_component>`. I have a use case right

[2022-10-17 16:27] jcar87 commented on #12314
mmm is the case here that if the patch defines the `<PlatformToolset>` (regardless of the value), then the override by the generator _will_ work with the value coming from it? Or is it the case that the patch works because it hardcodes the value in the patched file?

[2022-10-17 16:37] jcar87 commented on #12300
Hi @EstebanDugueperoux2, thanks for providing more details.

Interesting use case! I'm familiar with this approach. What I would be interested in learning about, is how do you recursively resolve the transitive dependencies?
That is, if I'm not mistaken, `Qt5::Widgets` also depends on `Qt5::Core`, and perhaps some others (Im not 100% sure) - so while we obviously would need the location of `Qt5::W

[2022-10-17 17:07] ericLemanissier opened #12320 "[feature] install system packages without architecture"
Currently, recipes with arch settings trying to install system packages always install the system package with architecture matching the profile. This makes xorg/system fail on some distros (alma, Fedora and Centos), because some of the system packages do not have an architecture:
the failures:
- https://github.com/bincrafters/system-packages-checks/actions/runs/3266259888/jobs/5369817368#step:6:1

[2022-10-17 20:14] prince-chrismc opened #12321 "[question] Conan 2.0: Using `is_msvc` fails in validate trying access settings"
https://github.com/conan-io/conan-center-index/pull/13525#issuecomment-1281430889

[code]

gives a `ConanException: 'self.settings' access in 'validate()' method is forbidden`

https://github.com/conan-io/conan/blob/a1abe135c6ecb646e0eaad6ab99aa22600b1858e/conan/tools/microsoft/visual.py#L288

- is this expected (it's the default 1.x convention)?
- should this type of check be done in `valdiate_bu

[2022-10-17 21:30] prince-chrismc commented on #12314
The case is without `<PlatformToolset>` build fails (new helper does nothing).

The patch can be override with the build helper

[2022-10-17 21:33] prince-chrismc opened #12322 "[question] should we be using `msvc_version_to_vs_ide_version` in recipes"
_Originally posted by @uilianries in https://github.com/conan-io/conan-center-index/pull/13365#discussion_r996955447_

This has some useful benefits during the 2.0 migration period

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-10-17 21:35] prince-chrismc commented on #12322
Space pointed out this a a really inline with https://github.com/conan-io/conan/issues/11158#issuecomment-1252341119

but did not come up in my search so leaving traces here hopefully the next person will find it

[2022-10-17 23:00] memsharded commented on #12320
But wouldn't ``install_archless()`` fail in the system that use the architecture?
Does those distributions lack the specific architecture packages for all packages or just a few? If they are missing all architecture packages, then it seems it should be a ``conf`` that enables opting-out of the architecture behavior?

[2022-10-17 23:05] memsharded commented on #12310
It is. The ``bindirs`` is pointing to ``os.path.join(self.package_folder, "bin")`` for the case it is a package in the cache, and to the ``os.path.join(self.build_folder, self.cpp.build.bindirs[...])`` in case it is a package in editable mode. You can access its value with ``self.dependencies["mydep"].cpp_info.bindirs`` (or any other ``xxxdirs``), and it will be the correct path.

So the question

[2022-10-18 07:12] ericLemanissier commented on #12320
for the two packages which currently fail (`xorg-x11-xtrans-devel` and `xkeyboard-config-devel`), they are `.noarch` on all distros using `dnf` or `yum` (https://pkgs.org/search/?q=xorg-x11-xtrans-devel and https://pkgs.org/search/?q=xkeyboard-config-devel). They are `.noarch` because they only contain text files.
I am currently testing all the system packages currently on CCI:
- https://github.co

[2022-10-18 07:49] H-G-Hristov commented on #12261
I am seeing also issues on Debian with GCC 12.1 when building: Benchmark https://github.com/google/benchmark

[03:01:38 ](https://teamcity.corp.n-able.com/buildConfiguration/MspRmm_CalmLibrary_LinuxDevelop/173031?buildTab=log&focusLine=808&logView=flowAware&linesState=808)
[03:01:38 ](https://teamcity.corp.n-able.com/buildConfiguration/MspRmm_CalmLibrary_LinuxDevelop/173031?buildTab=log&focusLine=

[2022-10-18 08:19] memsharded commented on #12261
Hi @H-G-Hristov

Sorry, but it is still not fully clear. We would need more details to understand what is happening. Explicit confirmation of the steps to reproduce, details if cmake-conan integration is what is being used, how it is being used, full output... Thanks.

[2022-10-18 08:24] memsharded commented on #12314
I think the key is:
[code]
The ``MSBuildToolchain`` only implemented support for ``msvc`` compiler, not ``Visual Studio`` one. The idea was that ConanCenter was going to move to that compiler in 1.X, to be fully ready, profiles, etc, but I am not longer sure this is happening/possible, to be discussed.

If not happening, I guess the ``Visual Studio`` compiler management should be added there.

[2022-10-18 08:32] EstebanDugueperoux2 commented on #12300
Hi @jcar87,

This is the code snippet to do the staf:

[code]

It is mainly based on INTERFACE_LINK_LIBRARIES and LOCATION target properties.

Regards.

[2022-10-18 08:46] kambala-decapitator opened #12323 "[question/bug] correct way to use custom Make program on Windows"
I'm trying to build some CCI recipes that require Autotools, using Windows 8.1 x86 with msvc 2019. Building recipes with CMake works fine.

I can't install MSYS2 from ConanCenter because it requires x64, so I have the following configuration:

[code]

[code]

Initially Autotools recipes failed because they couldn't find `make`. First, I tried to set `nmake` (and path to `jom`) to `conan_make_progr

[2022-10-18 09:10] uilianries opened #12324 "[feature] Consider porting conans.tools.cppstd_flag to Conan 2.0"
#### Suggestion

Port `conans.tools.cppstd_flag` to `conan.tools.build.cppstd_flag`

#### Why?

Some projects use a limited build script which require our manual intervention, passing all needed compiler flags, including `libcxx`, `cppstd`, `build_type`, `fPIC`, ... For those cases, we need to honor the `cppstd` version from the profile with what will be used by the compiler.

As a real example fr

[2022-10-18 09:20] uilianries commented on #12322
@prince-chrismc Thank you for pointing it!

[2022-10-18 09:39] stefansli opened #12325 "[bug] CMake configure presets only work once"
### Environment Details
  * Conan version: 1.51.3

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output)

[code]

### Expected behavior:

After manuall adding `architecture=x64` to the generated preset, cmake works as expected.
[code]

When using `-c "tools.cmake.cmaketoolchain:generator=Ninja"` the problem is not reproduceable but this is not a solution

[2022-10-18 09:43] kambala-decapitator commented on #12323
- also just in case tried with Strawberry's mingw (gcc 8.3), but errors are the same
- setting `CONAN_MAKE_PROGRAM` doesn't make any difference as well

[2022-10-18 10:23] db4 commented on #9108
@memsharded This should take into account `get_property("cmake_file_name")` otherwise find_package() will fail. Can I access it in `generate()` method?

[2022-10-18 11:03] kambala-decapitator commented on #12323
adding a symlink `make -> gmake` started libiconv build, but failed too:
[code]

[2022-10-18 11:52] jothalha commented on #12320
Just as an fyi the arch check also fails on ubuntu jammy for xorg for the same reason if the packages are already installed:

[code]

would be good to have a `install_archless` method for apt as well

[2022-10-18 11:56] KarstenB opened #12326 "[feature] Allow self.name in tools.cmake.cmake_layout:build_folder_vars"
In our org we have multiple recipes with a shared code basis. The directory structure is as following:
[code]
The conan files look something like this:
[code]
When I now run:
[code]

I get a CMakeUserPresets.json that refers to both CMakePresets.json in their respective `subX/build/generators/CMakePresets.json` folder. The problem now is that for both CMakePresets the names are identical:
[code]

[2022-10-18 12:04] thorsten-klein opened #12327 "[bug] Conan 1.X: prefer build_requires from direct/indirect dependencies over build_requires from profiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: clang-13
  * Conan version: 1.44.1
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
==> mybin.py <==
[code]

==> myproject.py <==
[code]

==> sysroot.py <==
[code]

==> sysroot.profile <==
[code]

==> run.sh <==
[code]

### Logs (Executed commands

[2022-10-18 13:06] czoido commented on #12326
Hi @KarstenB,

Thanks a lot for the feedback. I think that being able to add those variables to the `cmake_layout:build_folder_vars` could make sense, but also I think that the project structure you are using could fit with using `self.folders.subproject` you can check the docs about this feature [here](https://docs.conan.io/en/latest/developing_packages/package_layout.html#example-multiple-subpro

[2022-10-18 13:18] kambala-decapitator commented on #12323
with full dedicated mingw installation nothing changed either, it's also not picking the customized make program in libiconv case.
[code]

[2022-10-18 13:39] AndreyMlashkin opened #12329 "[bug] virtualenv + build with two profiles does not work"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu:latest
  * Compiler+version: gcc 11 and 10.02
  * Conan version: latest

### Steps to reproduce (Include if Applicable)
git clone git@github.com:AndreyMlashkin/minimalistic_conan_docker.git
cd minimalistic_conan_docker
docker build.

### Logs (Executed commands with output) (Include/Attach if Applicab

[2022-10-18 13:42] AndreyMlashkin commented on #12329
As you can see from the logs, CC and CXX variables are set correctly:
/root/.conan/data/gcc/10.2.0/_/_/package/62dc4bccd4f53b2b80985003a91278369abf3a4b/bin/gcc-10.2.0
/root/.conan/data/gcc/10.2.0/_/_/package/62dc4bccd4f53b2b80985003a91278369abf3a4b/bin/g++-10.2.0

But nevertheless got
CMake Error: CMake was unable to find a build program corresponding to "Unix Makefiles". CMAKE_MAKE_PROGRAM is not

[2022-10-18 14:02] db4 commented on #9108
Answering to myself: something like
[code]
seems to be enough

[2022-10-18 14:45] czoido commented on #12327
Hi @thorsten-klein,

Maybe [using patterns for the tool_requires](https://docs.conan.io/en/latest/devtools/build_requires.html#declaring-tool-requirements) in the profile could cover your case?
Something like ignoring the `tool_requires` for _myproject_ using this syntax:

[code]

[2022-10-18 14:59] himansu2906 commented on #12254
Thank you very much @memsharded , it clarifies or doubt.

[2022-10-18 15:23] himansu2906 opened #12330 "profile detail in artifactory and include function in conanfile.txt"
Basically I have 2 different question.
1. Does Artifactory store detail of the profile? scenario (We want to be able to find with which profile, a project was built in ten years from now.)
2. we have following structure of the project, where we have **common** and **variation_point 1** and **variation_point 2** and each folder contains different source header and conanfile.txt file for dependencie

[2022-10-18 15:25] paulocoutinhox commented on #12260
Hi @czoido. I tested here and is ok.

If anyone want test, install `conan` from this command:

[code]

[2022-10-18 15:47] sabudilovskiy opened #12331 "[question] cmake doesn't find the package folder even though it exists."
CMake Error in CMakeLists.txt:
  Imported target "magic_enum::magic_enum" includes non-existent path

    "/home/mrv/.conan/data/magic_enum/0.8.0/_/_/package/5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9/include"

  in its INTERFACE_INCLUDE_DIRECTORIES.  Possible reasons include:

  * The path was deleted, renamed, or moved to another location.

  * An install or uninstall procedure did not complete su

[2022-10-18 16:16] cguentherTUChemnitz opened #12332 "[bug] conan android build wrapper has ill-formed compiler parameter `-Wformat =format-security` breaking onetbb build"
### Environment Details (include every applicable attribute)

  * Ubuntu:22.04 as docker image:
  * Compiler+version: ndk 25.1.8937393 installed as part of android-sdk
  * Conan version: 1.53
  * Python version: 3.10.6
  * cmake version 3.24.2

### Steps to reproduce (Include if Applicable)

build onetbb/2021.6.0 (or other versions) for android (using preinstalled ndk or ndk from conan tools requ,

[2022-10-18 16:41] cguentherTUChemnitz commented on #12332
Mh... I found a nother project coping with the same problem. It seems, that this is an upstream bug of onetbb itself:
https://github.com/rui314/mold/issues/761

[2022-10-18 17:08] KarstenB commented on #12326
Thanks, I checked with the subproject structure, and don't like it. It doesn't generate a CMakeUserPreset.json in the folder I run install, and both generated CMakePresets.json also have the same names. So that doesn't help me much.
I also implemented the solution on my branch https://github.com/KarstenB/conan/tree/cmake_layout_allow_self_name and it works as I expected. I could contribute a PR if

[2022-10-18 18:46] mafes opened #12333 "[question] Is it possible to track usage of certain package"
Hi all,
I plan to use conan in combination with jfrog artifactory. Can you please tell me if it is possible to track the usage of a particular package.
For example, I want to determine in which other packages of the same Artifactory repository, a particular package is used in the defined version. This would be helpful to track bugs or security vulnerabilities.

thank you in advance!

- [x] I've re

[2022-10-18 19:28] ericLemanissier commented on #12320
This is linked to https://github.com/conan-io/conan-center-index/issues/13588

[2022-10-18 20:05] cguentherTUChemnitz commented on #12332
I will close this here, since it is obvious the onetbb fault here:
https://github.com/oneapi-src/oneTBB/commit/801df0edeb6ed19283744f1e4a41653ed58e7513

[2022-10-18 20:05] #12332 closed, assigned to nobody

[2022-10-18 20:05] thorsten-klein commented on #12327
@czoido thank you for the fast reply. Your approach does not work since I need other applications from the sysroot (I have not done this in my minimal example).

Did you check my pull request #12328? What do you think about this?

[2022-10-18 20:32] prince-chrismc opened #12334 "[question] conan 2.0 migration path for `env_info` and `user_info`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

This came up in https://github.com/conan-io/conan-center-index/issues/13503, but it's also in a few other recipes

Currently in Conan 1.x we needed to use the `env_info` and `user_info` these are removed in Conan 2.0 and result is hard errors when they are present. https://docs.conan.

[2022-10-18 20:36] SpaceIm opened #12335 "[bug] `tools.microsoft.bash:path` not set in `test()` if injected through a `tool_requires`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2017
  * Conan version: 1.52.0
  * Python version: the one of Windows agent in CCI

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/commit/315ff37d36d976683e2b12b966316fdaf1675613 (from https://github.com

[2022-10-18 20:47] SpaceIm commented on #11792
closed by https://github.com/conan-io/conan/pull/12094

[2022-10-18 20:47] #11792 closed, assigned to lasote

[2022-10-18 20:48] #10075 closed, assigned to memsharded

[2022-10-18 20:56] SpaceIm opened #12336 "[feature] Add `is_cl_like()` or improve `is_msvc()` method to perfectly mimic behavior of `MSVC` variable in CMake"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently conan provides `is_msvc()` method which returns True if `compiler=Visual Studio` or `compiler=msvc` in settings. In conan-center recipes, this method is widely used for different logics, and one of them is for some branching in package() and package_info() depending on `MSVC

[2022-10-18 21:34] SpaceIm commented on #12335
Well, it's the same issue than https://github.com/conan-io/conan/issues/11975, and fixed by https://github.com/conan-io/conan/pull/12095 in conan 1.53.0

[2022-10-18 21:42] #12335 closed, assigned to nobody

[2022-10-19 01:12] whitefluffypenguin opened #12337 "what method and at what stage is responsible for compression"
Hi there,
I have created the simple recipe, exported hierarchy into local cache export folder, created a package (copied all files into local cache package folder). Now i need to upload the package into artifactory and was thinking to compress files hierarchy prior to that. I searched in the reference and couldn't find any zip/archive/compress related functionality (btw found the unzip method). Wh

[2022-10-19 07:42] memsharded commented on #12337
Hi @whitefluffypenguin

All the artifacts that are uploaded to the server are automatically compressed (and decompressed when downloaded), so it is not necessary to do anything. The ``unzip()`` and other methods exists to unzip sources that are retrieved from internet, like third parties, but it is not necessary for the Conan package artifacts.

[2022-10-19 07:48] memsharded commented on #12336
The thing is that ``MSVC`` in CMakeLists.txt belongs to build time, while ``package_info()`` must work irrespective of the build. Then it is not possible to know the CMake generator that was used at ``package_info()``, because also the binary would be the same irrespective of the generator. That means that the library name is not well defined for all cases, it seems there is nothing Conan can do t

[2022-10-19 07:52] SpaceIm commented on #12336
MSVC value doesn't depend on generator, only compiler. It's deterministic at `package_info()` time as soon as compiler settings allow to know whether it's a cl like compiler.

In conan-center we honor lib file names of upstream. And moreover we can't patch upstream CMakeLists forever, libs maintainers won't accept a patch like that in their source code which would introduce a breaking change to li

[2022-10-19 08:00] memsharded commented on #12333
Hi @mafes

Artifactory, or any Conan server do not store the "inverse" dependency model, because this is more challenging than it seems:

- Conan implement "conditional dependencies", a dependency that can exist only in a certain OS, or for a given configuration. Then, the dependency graph is different for every different configuration. This is a very common case. So in general it cannot be said t

[2022-10-19 08:47] sabudilovskiy commented on #12331
@memsharded ?

[2022-10-19 09:05] memsharded commented on #12336
No, it is not. The ``clang`` compiler, in Windows, building MSVC compatible binaries linking with the MSVC runtime and building with Ninja or MinGW Makefiles, does not have the ``MSVC`` variable set in CMakeLists.txt.

[2022-10-19 09:11] SpaceIm commented on #12336
You mean that the same compiler can work with Visual Studio generatorI, and it would set MSVC to TRUE? It's a complete mess, looks like a CMake bug.

[2022-10-19 09:12] memsharded commented on #12331
Hi @sabudilovskiy

It would be useful to have a bit more of information:
- What is the entire output from the command, it is really building from source or not?
- Is the ``magic_enum/0.8.0`` recipe directly from ConanCenter, or it is yours?
- Your CMakeLists.txt doesn't seem related at all, as it fails before being used.

One note:
The ``conan_toolchain.cmake`` is a CMake toolchain. It is not inte

[2022-10-19 09:16] memsharded commented on #12336
Yes, if using Visual Studio generator, it uses the internal bundled ClangCL, but it is the same compiler as external LLVM/Clang, and they are binary compatible, so for Conan ``settings``, they are the same, and independent from the actual CMake generator used.

[2022-10-19 09:23] SpaceIm commented on #12336
I see. Well that's a big problem, because such complexity to properly handle libraries having `MSVC` branching (it's very common) can't be delegated to conan-center recipes (I mean like patching CMake files, renaming libs etc), it's too much work & it's fragile, just to handle a specific compiler.

[2022-10-19 09:30] memsharded commented on #12336
I think that a ``rename`` in the ``package()`` method should work relatively well and without major issues.

Or why not ``collect_libs()``? I really don't like it, but it is massively used also in ConanCenter, and that avoids completely deducing different names for libraries?

[2022-10-19 09:32] ericLemanissier commented on #12320
Actually, `xtrans` and `xkeyboard-config` system packages have no arch on all the system package managers handled by conan, so I created [`xtrans/system`](https://github.com/conan-io/conan-center-index/pull/13595) and [`xkeyboard-config/system`](https://github.com/conan-io/conan-center-index/pull/13594) recipes without arch setting. a dedicated `install_archless` is not actually needed

[2022-10-19 09:45] SSE4 commented on #12336
conan build should be deterministic and predictable, it means:
- library names produced by conan should fully match library names produced by the upstream. they shouldn't be renamed.
- library names should be the same regardless of build parameters, such as CMake generator or compiler executable (such clang vs clang-cl)

`collect_libs` makes build unpredicated, on one machine it could produce one

[2022-10-19 09:47] madebr commented on #12153
I stumbled upon this when trying to switch to `Autotools` for https://github.com/conan-io/conan-center-index/pull/13564.

[2022-10-19 09:56] memsharded commented on #12336
Should we ban ``collect_libs`` from ConanCenter, is that what you mean? Because it is used in >150 recipes.

In any case ``collect_libs`` collect the names created by the build system. This is nothing related to Conan. If the build system creates different names under different circumstances without being well-defined, the alternatives are:
- Patch the build system to get the same name
- Rename th

[2022-10-19 10:22] madebr opened #12338 "[bug] AutotoolsToolchain cannot change install prefix"
https://github.com/conan-io/conan/issues/11264 switches from using `--prefix={self._conanfile.package_folder}` to `--prefix=/` + `make install DESTDIR={self._conanfile.package_folder}`.

When doing the following to change the prefix, it still installs to `/`.
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual S

[2022-10-19 11:12] SpaceIm commented on #12336
Not ban, but avoid as much as possible. We use collect_libs either for historical reasons, or because original recipe author was too lazy to find true lib name, or because it's not predictable based on settings/options (generator dependent for example, which is ugly I agree).

`collect_libs` is not used when there are components.

You don't take into account that downstream users are not always co

[2022-10-19 11:18] czoido commented on #12327
Hi @thorsten-klein,

I'm afraid it's risky to change that at this point in Conan 1.X, it may potentially break users that rely on that behaviour. I can give you some ideas that may help, one would be to use the [buildenv_info](https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualbuildenv.html#virtualbuildenv) in the `package_info` method, prepending or appending to the `PATH` the p

[2022-10-19 12:37] hwhsu1231 opened #12339 "[question] Example profiles for `--profile:host` and `--profile:build` when using MSVC compilers?"
Typically, there are about 4 types of MSVC compilers:

[code]

According to the [documentation](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#host-settings-os-build-arch-build-os-target-and-arch-target), using `arch` and `arch_build` for cross-compiling is not recommended. Instead, it is encouraged to use `--profile:host` and `--profile:build` to specify two profiles,

[2022-10-19 12:45] czoido commented on #12338
Hi @madebr,

Thanks for reporting. I wanted to ask if the underlying issue is related to this? https://github.com/conan-io/conan/pull/12193 if this is solved it would be not necessary to redefine the `--prefix` right?
There would be workarounds like removing `"--prefix=/"` prefix from the list of `configure_args` and then adding that `--prefix`, but anyway I'm marking [this](https://github.com/con

[2022-10-19 12:56] madebr commented on #12338
Yes, #12193 is the other issue I encountered while packaging libmicrohttpd.

Having the possibility to change the prefix is still useful, imho.
I have encountered proejcts where I had to install to a temporary folder and extract "the good parts" to a prefix.
When building toolchains, you even have to perform `autotools.install()` multiple times (hence `Autotools` has a namespace).

I think it woul

[2022-10-19 13:06] czoido commented on #12330
Hi @himansu2906,

Thanks for the questions:

- About 1: You could get the information of the settings and options from the `conan search` command. You can use like:

`conan search package/version@ -r=remote` and it will output the information on the terminal or with the _--table_ argument `conan search package/version@ -r=remote --table=info.html` that will render all the information about the pac

[2022-10-19 13:13] memsharded commented on #12339
Hi @hwhsu1231

Using ``arch_build`` is the legacy way of cross-compiling or defining build context. The new way, introduced at least a couple of years is using the "build" and "host" profiles. You can read more about it here: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-tool-requires

Please have a look, and maybe you want to reformulate your question based on t

[2022-10-19 13:48] hwhsu1231 commented on #12339
@memsharded I've refomulated my question.

[2022-10-19 14:55] whitefluffypenguin commented on #12337
Interesting, so if I work with artifactory the compression will run on "conan upload" and decompression will run on "conan install"? Is it possible to specify type of archive, compression rate? Does it mean the local cache has to have at least one (per package) plain instance of files hierarchy in the package cache folder at any given time?

[2022-10-19 15:24] thorsten-klein commented on #12327
`-c tools.env.virtualenv:auto_use=True` seems to do the trick. can I do it also anyhow without this but specifying `generators = "virtualenv"` in the conanfile.py? This seems not to work then :-(

[2022-10-19 15:33] czoido commented on #12327
@thorsten-klein  you could use:

- `generators = "VirtualBuildEnv"` in myproject
- or set `tools.env.virtualenv:auto_use=True` in the [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html)

You can read more about that in the [Conan v2 migration guide](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html?highlight=virtualenv%20auto_use#the-environment-manag

[2022-10-19 15:38] memsharded commented on #12337
Yes

There is one config (``compression_level``) to define the compression rate, but the format is always ``tgz`` (best balance for fast unzipping, which is the most common, repeated operation)

Yes, the cache will always have a plain instance of files, the ``tgz`` is just an artifact for upload/install, but doesn't exist from the consumer perspective.

[2022-10-19 16:15] thorsten-klein commented on #12327
+1

[2022-10-19 16:15] #12327 closed, assigned to czoido

[2022-10-19 16:19] whitefluffypenguin commented on #12337
Thank you! We use jenkins for ci with number of agents configured that run multiple jobs. Is it recommended each agent uses its own cache folder or it is better to share the cache folder somehow in between the agents (following mentioned space requirements)?

[2022-10-19 16:28] memsharded commented on #12337
The cache is not designed for concurrency, so each job should have their own separate cache. They could use the "file download cache", which is concurrent (at the machine level), and can highly reduce the traffic to the servers. Otherwise, for separate agent machines, the best is to put the server as close to the agents as possible.

[2022-10-19 16:41] daywhirls opened #12340 "[question] Using layout() to link pre-built binaries from an editable package"
Hello, I have a question about using `layout()` and its capabilities. Is it possible to use `layout()` in a conanfile.py to link pre-built binaries from an editable package using the `cmake_multi` generator?

For example, let's say I have a dependency somewhere locally with a basic `include`/`lib` folder structure, and a conanfile.py that copies pre-built binaries from a directory:

[code]

With t

[2022-10-19 16:50] whitefluffypenguin commented on #12337
Understood - thank you!

[2022-10-19 17:18] whitefluffypenguin commented on #12337
One more clarification - is it not possible to share single "file download cache" between multiple machines (like multiple jenkins agents)?

[2022-10-19 17:18] jpfeuffer commented on #12266
After further investigation, you also miss the VERY important library type for your imported libraries!
How should CMake know how to propagate dependencies transitively without that? It makes a huge difference if you are linking privately to a static library or a shared library.

[2022-10-19 17:20] jpfeuffer commented on #12300
Related to #12266

I would say it is a very very common use case to access the location of library targets. Especially on Windows you often want to copy them to your build bin folder to make executables work without altering PATHs etc.

[2022-10-19 17:27] jpfeuffer commented on #12300
You will also struggle with the target TYPE which is also not set by conan which has even greater consequences, since CMake internally makes use of the TYPE.

[2022-10-19 17:33] jpfeuffer commented on #12300
https://cmake.org/cmake/help/latest/command/add_library.html#imported-libraries

[2022-10-19 19:43] memsharded commented on #12337
That is complicated. The file download cache is using for synchornization system file locks, and up to our knowledge they might not be as robust as desired: https://superuser.com/questions/612736/which-network-file-systems-do-not-implement-locking-correctly. Maybe for some systems, like Linux, they work, but it is very possible that trying to use it for different OSs would fail.

[2022-10-19 19:49] memsharded commented on #12340
Hi @daywhirls

The ``cmake_multi`` is a legacy generator, it has been superseded by ``CMakeDeps`` and ``CMakeToolchain``, so it it is not expected that it will play well with the modern ``layout()`` and the ``cmake_layout()`` for example. Please try with the new generators and let us know.

Some questions:
- Why ``self.cpp_info.libs = self.collect_libs()``? It seems the library name was already de

[2022-10-19 20:04] memsharded commented on #12339
The toolset architecture itself can be controlled with ``tools.cmake.cmaketoolchain:toolset_arch=value`` configuration, and that will be added to the ``conan_toolchain.cmake`` toolchain CMAKE_GENERATOR_TOOLSET, in the form of ``xxx, host=value``.

The settings ``arch`` is mapped to ``CMAKE_GENERATOR_PLATFORM`` inside the ``conan_toolchain.cmake``

The idea is to minimize the commands that users ne

[2022-10-19 20:43] whitefluffypenguin commented on #12337
Thank you!

[2022-10-19 21:46] heilkn opened #12341 "[feature] Run Conan from generic CMakeToolchain file and chainload the generated"
Dear conan team,

I would like to propose the following feature in order to make Conan easier to use and adopt. The idea is based on a workflow implemented by vcpkg.

### The idea:
* The user provides a toolchain file that is shipped with conan to CMake.
* The user may define additional CMake variables. For example, the path to a conanfile and a profile.
* The generic toolchain file runs Conan whi

[2022-10-19 22:12] memsharded commented on #12341
Hi @heilkn

Thanks very much for your suggestion, and for proposing some approach.

I would like to understand better a few points, for example:

Yes, we would like to deprecate it, because it has become a chicken-and-egg problem with the generation of the ``conan_toolchain.cmake`` that ``CMakeToolchain`` is creating. You haven't mentioned it, but this is an important generator, which is necessary

[2022-10-20 03:22] hwhsu1231 commented on #12339
According to this [documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#conf), since `tools.cmake.cmaketoolchain:toolset_arch=value` appends `,host=value` to CMAKE_GENERATOR_TOOLSET variable of `conan_toolchain.cmake` file, it will only affect **Visual Studio** generator. Am I correct?

![image](https://user-images.githubusercontent.com/71438617/196848

[2022-10-20 03:32] hwhsu1231 commented on #12339
So does that mean choosing which MSVC compiler of the above 4 types is **NOT** related to **Host Profile** and **Build Profile**?

[2022-10-20 05:13] prince-chrismc opened #12342 "[question] How to separate generator files by requirements and tool requirements"
In https://github.com/conan-io/conan-center-index/pull/13612

We need to do some hackery in the build script to avoid both the dependencies and build requirements (which overlap) `PkgConfigDeps` being in the same folder.

@jwillikers implemented two different solutions
- one with `PkgConfigDeps.build_context_suffix` and patching the Meson build script to use the new name.
- one with manually copyi

[2022-10-20 07:16] vvarma opened #12343 "[bug] cross compiling v2 compatible recipes fails on mac"
Moving the issue here @uilianries @SpaceIm. Related to https://github.com/conan-io/conan-center-index/issues/13251

### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS Monterey 12.5
  * Compiler+version: gcc-11 (Homebrew GCC 11.3.0) 11.3.0
  * Conan version:  1.52.0
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)
Have got this

[2022-10-20 07:32] memsharded commented on #12339
Yes, as you indicated in your question, this is for the Visual Studio generator.

It takes the information from host profile and ``conf``. But even if the "build" profile is not explicitly used for this, its existence will trigger different behaviors, so it is strongly recommended to use it always, as this is the mode Conan 2.0 will always operate.

[2022-10-20 07:37] memsharded commented on #12342
I'd like to understand one thing: is the ``wayland`` that is used via a ``tool_require`` some executable that must be used in the build, or is it a library to link with?

Because in that PR I see:
[code]
But the ``with_wayland`` option is not removed from ``package_id()``, so it means that it is relevant to create a different binary, not just a tool that is necessary? I don't know much about wayla

[2022-10-20 09:42] Bearwolves opened #12344 "[bug] The VirtualBuildEnv and VirtualRunEnv never clean the deactivate script"
Quoted from https://github.com/conan-io/conan/issues/10979#issuecomment-1091155807

We would be happy to have this simple thing for shell being fixed. It's really weird to have multiple prints of `Restoring environment` and unset while activating/deactivating the VirtualBuildEnv and/or VirtualRunEnv sequentially multiple time. That would align the behavior with Windows.

### Environment Details (i

[2022-10-20 10:14] hwhsu1231 commented on #12339
@memsharded

Based on what the Conan 2.0 [documentation](https://docs.conan.io/en/2.0/tutorial/consuming_packages/cross_building_with_conan.html#conan-two-profiles-model-build-and-host-profiles) said, Conan will use **default** profile as the `--profile:build` (if we don't specify). Since there are 4 types(**x64**, **x64_x86**, **x86_x64**, **x86**) of MSVC compilers and at least 2 basic build typ

[2022-10-20 10:54] czoido opened #12345 "[feature] Add warning about things that will dissapear in 2.X from 2.0"
We currently provide some "fake" attributes in the ConanFile for 2.0 in order to not break compatibility with 1.X recipes. For example `.names` and `.filenames`. But these attributes will dissapear at some point in Conan 2.X and we want users to be aware that these things will throw errors before they get them. The idea is start to output warning messages when those attributes are used and make th

[2022-10-20 10:58] antze-k opened #12346 "[bug] conan 2 list subcommands: -r and -c are not mutually exclusive"
In develop2 branch, in conan/cli/commands/list.py:

[code]

Shouldn't the last line be remotes_group.add_argument instead?

[2022-10-20 11:06] Nekto89 opened #12347 "[bug] MSBuildDeps generates invalid property file (dot replacement for component requirement)"
Generated props file contains link to another props without dot replacement

`conan_hello_hello_withdot2_release_x64.props`:
[code]
actual name on disk:
`conan_hello_hello_withdot.props`

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: VS2022
  * Conan version: 1.53.0
  * Python version: 3.9.1

### Steps to reproduce (Incl

[2022-10-20 11:21] schoetbi opened #12348 "[bug] MSVC runtime MultiThreadedDebugDLL with "conan install -s compiler.runtime=MTd""
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: Microsoft Visual Studio 2019 (16.7.28)
  * Conan version: Conan version 1.53.0
  * Cmake version: cmake version 3.22.2

### Steps to reproduce

- Checkout [flatbuffers ](https://github.com/google/flatbuffers/tree/v22.9.24) repository Tag v22.9.24
- Run `conan install -s build_type=Debug -s compiler.runtime=MTd .

[2022-10-20 11:46] czoido commented on #12334
Thanks @prince-chrismc for reporting this. I think we could:

- Implement `env_info` and `user_info` as fake attributes in Conan 2.0 so the error is not thrown
- [Output a warning message](https://github.com/conan-io/conan/issues/12345) in 2.0 to inform users that those attributes are deprecated (we should also include other things like .names that are still there to provide compatibility). This i

[2022-10-20 11:48] jwillikers commented on #12342
@memsharded It's used as both a regular `requires` and a `tool_requires` in this case. It provides both a library and a tool known as `wayland-scanner` that generates source code from XML files.

[2022-10-20 11:54] #12308 closed, assigned to memsharded

[2022-10-20 11:58] memsharded commented on #12348
Hi @schoetbi

I think a bit of extra information is necessary: I am missing the ``conanfile.py`` recipe information. You are pointing to the flatbuffers project, but in order to make a Conan package out of it, a ``conanfile.py`` is necessary. Are you using the recipe from ConanCenter? What is your consumer conanfile? What generators are you using? Thanks!

[2022-10-20 12:11] memsharded commented on #12308
Feature merged, it will be in next 1.54

[2022-10-20 12:17] schoetbi commented on #12348
@memsharded I use the `conanfile.py` in the [flatbuffers ](https://github.com/google/flatbuffers/blob/v22.9.24/conanfile.py) project and want to create a conan package for flatbuffers to be consumed in my project. But the consumption is not the problem since during the creation process the compiler runtime is not what I have expected. I want to build a package for MSVC2019/static/Debug using `cona

[2022-10-20 12:21] memsharded commented on #12348
That conanfile.py dates back from 2018. You probably want to use the community maintained one in ConanCenter? https://github.com/conan-io/conan-center-index/tree/master/recipes/flatbuffers/all

The process to contribute open source third party dependencies has changed in this time, a lot, and now is way more efficient and easy to maintain by the community, check the activity in https://github.com/

[2022-10-20 12:45] himansu2906 commented on #12330
hello @czoido

for second question, we have following project structure:
![image](https://user-images.githubusercontent.com/109611178/196942103-f4d51c4a-9607-436a-a3a9-766fb6a1ad30.png)

we want to change the variation while building the project and we to add dependencies of common and SRC36 conanfile.txt while building SRC36 and same for SRC14

but we have not found way to merge conanfile.txt dep

[2022-10-20 13:03] schoetbi commented on #12348
I see, maybe it makes sense to remove the old recipe from the flatbuffers project.

I added flatbuffers 22.9.24 to the [`conandata.yml` ](https://github.com/schoetbi/conan-center-index/commit/654407af97291dba4555857ab2c244b41fa65abf). Then I created the required packages with

[code]
Seems to work. Should I create a PR?

[2022-10-20 13:22] hwhsu1231 commented on #12339
@memsharded

There is one more thing I want to confirm:

For **Hostx64/x64/cl.exe**

-   Correspond to `vcvarsall.bat x64` command. (on **cmd.exe**)
-   `-T host=x64` corresponds to `--conf tools.cmake.cmaketoolchain:toolset_arch=x64`
-   `-A x64` corresponds to `--settings arch=x86_64`

For **Hostx64/x86/cl.exe**

-   Correspond to `vcvarsall.bat x64_x86` command. (on **cmd.exe**)
-   `-T host=x6

[2022-10-20 13:26] memsharded commented on #12339
--profile:build win32-msvc-x64-debug

No, not really.

Do you want your CMake, your compiler, your toolchains, that is, everything that is a ``tool_require`` to run ``Debug`` executables? Typically no. So in most cases ``--profile:build`` would be a ``Release`` build.

Regarding the correspondences:

-T host=x64 corresponds to --conf tools.cmake.cmaketoolchain:toolset_arch=x64
-A x64 corresponds t

[2022-10-20 13:41] memsharded commented on #12346
Hi @antze-k

Both arguments are not mutually exclusive, the ``conan list`` command can list things from the cache and from remotes, simultaneously. Probably it is just the ``remotes_group`` which seems unnecessary? Do you want to do a PR to fix it yourself?

[2022-10-20 13:45] memsharded commented on #12348
Yes, but that is outside of our control, I guess it needs to be reported and discussed with the flatbuffers maintainers. Maybe @prince-chrismc has better idea about this?

Yes, sure, that would be great. Please read the docs at https://github.com/conan-io/conan-center-index, due to security reasons, there is a bit of process, first you need to request access, and in a couple of days typically it w

[2022-10-20 13:49] memsharded commented on #12344
Hi @Bearwolves

It is not fully clear to me if this is a different ticket than https://github.com/conan-io/conan/issues/10979#issuecomment-1091155807. Do you mean just removing the messages?

We removed some messages in https://github.com/conan-io/conan/pull/12168, I am fine with removing those too.

[2022-10-20 14:16] Bearwolves commented on #12344
@memsharded : Thanks for the fast answer!
Issue is that `deactivate_conanbuildenv.sh` (or related to os/arch) is never overwritten as it's done in batch.

Batch => https://github.com/conan-io/conan/blob/develop/conan/tools/env/environment.py#L281
Shell => https://github.com/conan-io/conan/blob/develop/conan/tools/env/environment.py#L353

[2022-10-20 14:22] schoetbi commented on #12348
@memsharded Thank you for your help. I just created a comment to get access and will create a PR.

[2022-10-20 14:22] #12348 closed, assigned to memsharded

[2022-10-20 14:46] antze-k commented on #12346
Sure, will take a bit closer look then.

[2022-10-20 14:58] uilianries commented on #12334
Okay, so we no longer need to check Conan version + env_info, correct?

Asking because PRs in CCI started to use it and I would like to avoid asap.

[2022-10-20 15:16] theirix commented on #12322
A helper like this could be very helpful for CCI recipes because currently we need to write two conditions for "msvc" and "Visual Studio" compilers based on non-trivial version mapping which Conan already knows.

Issue #11158 was resolved with introducing a new helper `check_min_vs` which throws an exception so it does not help with writing conditionals in recipes. And unfortunately `msvc_version_

[2022-10-20 16:14] memsharded commented on #12344
Oh I see what you mean, basically this for the .sh?

[code]

Definitely seems a bug, yes, should be simple to solve. Would you like to send a PR yourself to fix it?

[2022-10-20 17:08] memsharded commented on #12346
Fixed by https://github.com/conan-io/conan/pull/12350

[2022-10-20 17:08] #12346 closed, assigned to memsharded

[2022-10-20 19:36] ericriff opened #12352 "[question] Build-time only ConanInvalidConfiguration for a tool requirement"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

The `mold` linker can only be built with GCC 10 or newer, and that's being enforced with the `validate()` method:
https://github.com/conan-io/conan-center-index/blob/86de5edf37c74befdcd1a318bee352d15a01e675/recipes/mold/all/conanfile.py#L32-L33

This makes sense when you're actually b

[2022-10-20 19:58] heilkn commented on #12341
Dear James (@memsharded),

thank you for your attention, I am glad that you have interest discussing this. Before we discuss further technical details let's clarify where this discussion should happening. I would be fine with either, but I posted in here on purpose. Please let me explain why.

It was not my intent to make a statement about what is easier to use. I wanted to report from my experien

[2022-10-20 21:24] SpaceIm opened #12354 "[feature] Ensure that `tools.gnu:pkg_config` is discoverable in all conan v2 build helpers"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently `tools.gnu:pkg_config` is only used in `PkgConfig` class (and it's explicitly described like this in `conan config list`). It would be a good idea to extend capabilities of this conf so that when it's set, it ensures that this specific executable is found by standard usage o

[2022-10-20 21:27] mafes commented on #12333
@memsharded, thank you for your detailed answer!
Can you please give me a hint where the "products" approach is described?

[2022-10-20 21:34] wadimklincov commented on #12308
Awesome, thanks a lot for the quick implementation!

[2022-10-20 22:17] eli-schwartz commented on #12354
Note that all 3 of CMake, Meson, and autotools will respect the environment variable `$PKG_CONFIG` -- cmake will override that with the cmake variable ~~prefixed by `CMAKE_`~~ suffixed by `_EXECUTABLE` because I can't read and also because why ever not specify that it is an executable, and Meson will override that if you have a machine file whose `[binaries]` section maps a value for pkg-config.

[2022-10-20 22:33] SpaceIm commented on #12354
Yes that's probably the easiest solution. The problem is that in conan it would likely be something handled by `VirtualBuildEnv`, but for some reason I don't understand it's disabled by default in conan v1 client.

note: I'm not sure there is a `CMAKE_PKG_CONFIG` cmake variable, it's not documented

[2022-10-21 00:22] madebr opened #12356 "[feature] Ability to debug a recipe"
I think it would be nice to be able to easily debug a recipe, even when exporting the recipe.

Setting a break point inside your python conan recipe and be able to step inside the code makes it possible to increase the understanding of conan itself.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-10-21 00:32] madebr opened #12357 "[question] Is modifying properties of a dependency allowed/supported? Where should it be done?"
I'm creating conan recipes for external projects. So it would be nice to avoid patches where I can.

A certain project I'm packaging uses names for the CMake modules that are different then conan's default.
It uses `jansson` as a dependency, which does not set a certain `cmake_file_name`.
Because of this, conan will generate `janssonConfig.cmake`, generating the `jansson::jansson` target.
But the

[2022-10-21 04:28] System-Arch opened #12358 "[bug] Help for Conan 2 "source" command appears to be incorrect"
The help text for the Conan 2.0 "source" command summary reads:

whereas I believe it should say

Additionally, it is confusing as to whether the "path" positional argument is optional or required. By observation, it appears to be required, but the help syntax shows it as optional (if one follows the convention that brackets denote optional arguments). Thus, it might be clearer if:

were changed t

[2022-10-21 06:01] hwhsu1231 commented on #12341
@heilkn

I have the same feelings as you. I do think the current usage of Conan is inconvenient to adopt (especially without cmake-conan). However, my idea is to **rewrap the APIs of cmake-conan into a CMake toolchain**. Therefore, I published the following project, which can solve the **Chicken-And-Egg** problem and integrate CMake with Conan **Nonintrusively** and **Transparently**. You can take

[2022-10-21 07:49] memsharded commented on #12358
Hi @System-Arch

Yes, that message is definitely wrong. If you want to contribute a quick fix PR yourself, you can do it, thanks for reporting!

The other messages are a bit more difficult to change, because it is not Conan who is displaying it that way, but the Python ``argparse`` library.

[2022-10-21 07:52] memsharded commented on #12357
Hi @madebr

This has been documented in: https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

It is true that Conan hasn't implemented defensive measures to avoid it, but it could do it at any time. This behavior will never be allowed, because it opens the door to a whole set of problems like conflicts (2 or more different packages competing for changing the same value of a commo

[2022-10-21 08:11] memsharded commented on #12333
Yes, you might find some explanation in the https://docs.conan.io/en/latest/versioning/lockfiles/ci.html, when it describes a "package" pipeline and a "product" pipeline.

It is true that the CI approaches described there rely on the lockfiles, and lockfiles in 1.X are complicated for advanced cases like the CI one, but Conan 2.0 has greatly simplified the lockfiles and it will be easier and more

[2022-10-21 08:24] memsharded commented on #12352
Hi @ericriff

Are you aware of the new ``validate_build()`` method, that will only raise if the package is going to be built?
There are still some corner cases with all the validate methods between 1.X and 2.0, but this sounds it could help in your case.

[2022-10-21 08:27] memsharded commented on #12354
It is disabled by default in Conan 1.X, because it is a new thing that could break users. It is opt-in in two ways:
- Declaring ``generators = "VirtualBuildEnv"`` in the recipe
- Using the ``tools.env.virtualenv:auto_use=True`` conf for enabling it for all packages

[2022-10-21 09:10] uilianries commented on #12343
@vvarma GCC is not installed on Mac by default, so:

- Where did you get your GCC?
- Which commands did you use to install?

[2022-10-21 09:11] SpaceIm commented on #12354
But in the meantime it "breaks" conan recipes relying on v2 helpers since env vars are not honored. `tools.env.virtualenv:auto_use=True` is really an internal detail of conan, users shouldn't have to know how these things work in conan.

[2022-10-21 11:29] db4 opened #12360 "[question] cmake_layout with subproject vs conan.tools.scm.Git"
I'm trying to make [layout with multiple subprojects](https://docs.conan.io/en/latest/developing_packages/package_layout.html#example-multiple-subprojects) work. My sources are stored in a git repo organized as follows:

[code]
Trying to build them in Conan cache I wrote
[code]
This doesn't work: git.clone() clones the whole git repo inside `pkg1` subfolder and cmake.configure() fails. What's the

[2022-10-21 12:44] ericriff commented on #12352
Duh
I was not aware of this method. I missed it on the docs.
Conan is changing too fast, I can't keep up haha.
I'll check it out

[2022-10-21 13:12] uilianries commented on #12356
Usually, I use PyCharm IDE. It's possible to run a Conan command and attach to the process. Of course, it's not what you suggested, but breaks a leg.

[2022-10-21 13:26] schreibubi commented on #12347
Seeing something similar when having a dependency on grpc:

In file conan_grpc_grpc___error_details_release_x64.props:
[code]

The actual filename of the file it wants to import is conan_grpc_grpc__.props. Seems like #11826 changed the filenames on disk, but not all locations where the filenames are referenced.

[2022-10-21 13:51] Nekto89 commented on #12347
same problem with hyphen - might be important for minizip-ng/double-conversion libraries

[code]
[code]

[2022-10-21 13:52] madebr commented on #12357
Thanks for pointing me to the documentation.

Though, I think modifying properties for specific projects is useful, just make sure the change remains local.
Perhaps provide projects with objects that are copy-on-write?

When packaging external projects, this possibility is useful to avoid patches.
See https://github.com/conan-io/conan-center-index/pull/13650 where I did this to avoid patches/`repl

[2022-10-21 14:02] madebr commented on #12356
Me too!  :fist_right:

But are you able to set a breakpoint in your recipe, run `conan create` and have the debugger stop?

[2022-10-21 14:28] paulharris opened #12362 "[question] can we automatically delete test_package/build ?"
When I call `conan create xyz`, it will automatically build and run test_package.

If I do it again, the previous build files remain in the test_package, and can interfere with the next conan-create execution.

So now I typically do `rm -r test_*/build; conan create something`

[2022-10-21 14:29] paulharris opened #12363 "[question] why does self.info.options.get_safe() not accept default= ?"
In this context:
[code]

The other get_safe() methods have a default valid, but self.info.options.get_safe() appears to not have that option.

[2022-10-21 14:48] memsharded commented on #12357
Perhaps provide projects with objects that are copy-on-write?

While you see it as changes remaining locally, tons of users will read that code as actually modifying the dependency property (or any other attribute, including includedirs, name, version, license... tons of things are exposed in this interface), and expecting it to behave like that. I don't think this is something to be addressed wit

[2022-10-21 14:54] uilianries opened #12364 "[develop2] Consider transitive_headers=True for header-only"
As all header files are public, and their dependencies headers will be exposed too, `self.requires(..., transitive_headers=True)` should be defaulted. It could managed by the package ID.

A follow question, should it be considered for `transitive_libs` too?

/cc @SpaceIm

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-10-21 15:13] memsharded commented on #12347
Proposing #12365 fix, please have a look and if you can try it from source that would be great.

[2022-10-21 15:22] madebr commented on #12357
People should read the code as modifying the properties of the dependencies, not modifying something globally.
You should of course be careful with what properties you modify.
Even modifying the version might be useful when some project expects a different version scheme (a far stretch, but possible).

When the consumer is wrong, then nothing will break.
Because the consumer itself uses the wrong

[2022-10-21 15:57] schreibubi commented on #12347
This change fixes the issue for me. Thanks!

[2022-10-21 16:30] memsharded commented on #12357
I think there is a third choice (thanks @jcar87!), that would be much better: if the problem is that we want to allow recipes to patch the behavior of the target names or some other property while generating cmake files, the interface should clearly express that intention, so something like:

[code]

This satisfies all needs:
- The changes are clearly and naturally local, they only apply to a loca

[2022-10-21 16:41] jwillikers commented on #12342
It's worth noting that several projects locate the `wayland-scanner` utility through its pkg-config file, including the `wayland` package itself.

There's also an important problem with the current `build_context_suffix`. It doesn't automatically provide the necessary pkg-config files for dependencies in the build context, so it's actually mixing pkg-config files from the build and host contexts w

[2022-10-21 16:42] madebr commented on #12357
Yes, applying the changes to `CMakeDeps` makes more sense.
As we want to only change the output files of `CMakeDeps`, and not the dependency tree.

[2022-10-21 18:23] whitefluffypenguin opened #12366 "What attribute/flag controls upload to artifactory remote repository subfolder/path?"
Hi there,

What attribute/flag controls upload to artifactory remote repository subfolder/path?

[2022-10-21 18:54] memsharded commented on #12357
Ok, then I think we can close this question, responded as no, modifying dependencies information is not allowed, and we can spin a new ticket for this CMakeDeps configuration

[2022-10-21 18:54] #12357 closed, assigned to memsharded

[2022-10-21 18:54] memsharded opened #12367 "Implement CMakeDeps configuration to override dependencies information"
From https://github.com/conan-io/conan/issues/12357 from @madebr

 I think there is a third choice (thanks @jcar87!), that would be much better: if the problem is that we want to allow recipes to patch the behavior of the target names or some other property while generating cmake files, the interface should clearly express that intention, so something like:

[code]

This satisfies all needs:
- The

[2022-10-21 18:57] memsharded commented on #12366
Hi @whitefluffypenguin

Please check https://docs.conan.io/en/latest/uploading_packages.html, and https://docs.conan.io/en/latest/uploading_packages.html

Conan uses its own repository type, you create a Conan repo there, and the layout/path/folders is automatically managed, it is not possible to upload things to a specific path, because the layout is important to determine what are the recipes, w

[2022-10-21 19:19] whitefluffypenguin commented on #12366
I read everything (both links looks identical) however it didn't become clearer. When i run "conan upload" command - it succeeds to deploy into certain artifactory remote subfolder (not the one i need to deploy into). Is this subfolder set somewhere?

[2022-10-21 19:45] darius-grauslys opened #12368 "Using Conan with Xbps on Void Linux"
### Question:
How can I configure Conan to use my system's package manager correctly? (xbps-install from void linux https://voidlinux.org )
Specifically, how can I tell Conan to use a specific package naming convention such as yum, but invoke xbps-install?

### Problem description:
I am looking to set up Conan on my system and everything seems to work except when Conan tries to download dependenci

[2022-10-21 19:48] darius-grauslys opened #12369 "Using Conan with Neovim CoC (Conquest of Completion)"
I want to use Neovim for my C++ development, and CoC is a great alternative to YouCompleteMe. However the Conan documentation only specifies YouCompleteMe as one of it's vim-like generators. Is there any support for CoC?

[2022-10-21 21:45] System-Arch opened #12370 "[bug] Setting package_type = "application" results in ERROR during packaging if compiler.cppstd setting is removed"
While porting the nasm CCI recipe to Conan 2.0, I encountered an unexpected error of the form:

One of the underlying causes is deleting the compiler.cppstd setting in the recipe configure() method as instructed here: https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=rm_safe#settings

After extensive debugging using print statements, I discovered that the error is comin

[2022-10-21 22:20] System-Arch opened #12371 "[bug] Conan 2 source command has implicit dependency on default profile"
I typically specify profiles using a combination of conan config install and -pr:b and -pr:h command line options to ensure precise control over what Conan is using/doing. As a result, I never use, and thus avoid having, a default profile. Unfortunately, this approach runs into difficulties when trying to run the Conan 2.0 source command, as doing so results in the following error:

I don't believ

[2022-10-21 23:08] memsharded commented on #12369
Hi @WearsomeKarma

No, there is no generator for CoC, but it should be relatively easy to build one if you know how it works, and getting inspiration from the existing generators. Some hints:

- Use a custom generator in Conan 1.X, but if you want to prepare the code to be easily adaptable for Conan 2.0, make sure it iterates the dependencies with the new ``conanfile.dependencies`` https://docs.co

[2022-10-21 23:20] beenjohn opened #12372 "[bug] 2.0 check_component_requires and ConanFileDependencies"
In relation to https://github.com/conan-io/conan/issues/12027 and https://github.com/conan-io/conan/pull/12280:

Similar to the dependency graph in issue #12027 I have a transitive dependency identical to a direct dependency. It looks to me like new function conans.model.build_info.check_component_requires is checking for direct dependencies conflicts with cpp_info via the ConanFileDependencies in

[2022-10-21 23:21] memsharded commented on #12366
That is the thing, it is not possible to put things in the server in a random/configurable folder, because the server layout has a very important meaning, and the Conan protocol relies on it for working. If you do ``conan upload`` some packages, with binaries, you will see the folder structure is:
[code]
All the ``conan search``, ``conan install``, ``conan upload``, ``conan info``, etc. use this f

[2022-10-22 02:54] whitefluffypenguin commented on #12366
Clarifying. I ran the following command: "conan upload first/1.0.0.0 -r=<remote_name> --confirm". Next i found the following structure in artifactory artifacts pane. All question-marked folders (btw they don't look like user (_), channel (_), ...) are out of user control and always auto chosen and managed by conan automatically no matter what server package goes to - understood.
The root folder lo

[2022-10-22 03:34] hwhsu1231 commented on #12339
@memsharded

If I want to use **Hostx64\x86\cl.exe**, then I write the following **Host Profile** (`win32-msvc2019-x64_x86-debug`). Is it correct?

[code]

If so, then what content of **Build Profile** should I have?

1. Do I just need to replace all the `Debug` with `Release` in Build Profile?
2. Do I have to fill those `compiler` settings and `tools` configurations in Build Profile?
3. Conan wil

[2022-10-22 10:29] memsharded commented on #12366
Yes, good observation.
When conan packages do not specifying user or channel, like the ConanCenter packages, in the conan model and recipes they will be ``user=None`` and ``channel=None`` to model they are not defined.
But in a folder layout, those are replaced by underscore ``_``, as the empty string ``""`` is not valid folder name, to keep a consistent layout for all packages, both those definin

[2022-10-22 10:34] memsharded commented on #12370
I have been checking this, manage to reproduce practically the same issue.
The analysis is good, many thanks.

I have been trying to do a fix, but I am struggling because of a couple of complicated details:

The ``compatibility.py`` for apps, intends to be able to provide a default compatibility when only ``os`` and ``arch`` are defined, but in that case:
[code]
Will actually fail to remove the ``

[2022-10-22 10:39] memsharded commented on #12368
If we are talking about ConanCenter recipes, then this would be a feature to add, this package manager should be added to the existing. It seems it would be a ``conf`` that allows the ``Yum`` implementation to use a different app name and replace it for this ``xbps``.

(if not for ConanCenter recipes, quick approach is to run any ``self.run("xbps-install ...)`` commands)

[2022-10-22 12:00] SpaceIm opened #12374 "[question] How to create a virtual like package of `libjpeg` & `libjpeg-turbo`?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan-center, there is a very old wish to provide a virtual package of `libjpeg`. There are 3 well-known implementations of libjpeg: `libjpeg`, `libjpeg-turbo`, `mozjpeg`.

Currently each recipe is responsible of the implementation selection, it's tedious and leads to lot of discre

[2022-10-22 13:44] Nekto89 commented on #12347
Seems to be working

[2022-10-22 17:35] prince-chrismc commented on #11840
This is required in 55 CCI recipes so far https://github.com/conan-io/conan-center-index/search?q=CMAKE_POLICY_DEFAULT_CMP0077&type=

[2022-10-22 21:23] System-Arch commented on #12245
Hi @memsharded,

I believe I have encountered a related issue in trying to port the openssl recipe to Conan 2.0. In this instance openssl uses a baroque version of Configure (menagerie of Perl scripts). The issue is that the Configure --prefix option is needed prior to the build method being invoked. At that time self.package_folder is, as you note above, not set correctly for the ultimate install

[2022-10-23 16:51] AlexRamallo opened #12375 "[bug] CMakeDeps fails to generate config file for some tool_requires dependencies"
Originally posted here: https://github.com/conan-io/conan-center-index/issues/13704

### Description

I'm not sure if this is a spdlog recipe issue or, or a more general Conan or CMakeDeps/CMakeToolchain issue, but I've only tested this with `spdlog/1.10.0` so far.

If spdlog is present in the dependency graph of the build profile, it will fail to build (see the logs below). This only occurs if sp

[2022-10-23 16:57] SpaceIm commented on #12375
As I said in https://github.com/conan-io/conan-center-index/issues/13704#issuecomment-1288152124, cmake_toolchain content is correct, but CMakeDeps doesn't generate fmt config file.

[2022-10-23 18:08] AlexRamallo commented on #12375
After some digging it seems like the issue might be related to [build_context_activated](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated). The transient dependency `fmt` is not being "activated" for some reason, which is why the files don't get generated.

Adding the following line to the spdlog package's generate function fixes the problem fo

[2022-10-23 18:10] AlexRamallo commented on #12375
Also, @SpaceIm let me know if you'd like me to send a PR with that change for the spdlog package, or if this should still be something resolved in the conan client.

[2022-10-23 18:30] SpaceIm commented on #12375
`spdlog` recipe shouldn't be "fixed". IMHO, it's a bug in conan client.
consumers shouldn't have to enable `build_context_activated` to fix this issue. The purpose of `build_context_activated` is to generate config files of `tool_requires` of a recipe. Here `fmt` is a `requires` of `spdlog`, so its config file should be generated in the context of `spdlog` build, regardless of `build_context_activ

[2022-10-23 18:35] SpaceIm commented on #12237
It won't be possible after https://github.com/conan-io/conan/pull/12229 (without conan toolchain), it's the responsibility of `CMakeToolchain` to manipulate CMAKE_PREFIX_PATH / CMAKE_MODULE_PATH.

[2022-10-23 19:01] planetmarshall opened #12376 "[bug] Meson Toolchain does not add required `-stdlib` args to `cpp_link_args`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: Clang 14 + libc++
  * Conan version: 1.53.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

[code]

### Expected result

Package is created correctly using libc++ library

### Actual result

Package fails with linking errors due to attempting link

[2022-10-23 20:22] SpaceIm opened #12377 "Can't run cmake tests due to `add_tool` failure (in `conftest.py`)"
When I run a test relying on CMake on macOS Intel, it fails with such error:

[code]

It was working before https://github.com/conan-io/conan/pull/11941

[2022-10-23 22:05] memsharded commented on #12370
Trying the approach of ``rm_safe()`` actually removing all possible settings in https://github.com/conan-io/conan/pull/12379

[2022-10-24 00:20] memsharded commented on #12377
Yes, we have made the test suite more strict in terms of necessary tools annotations, because it was skipping some tests unexpectedly.

You have to define in your ``conftest_user.py``, something like:

[code]
With the versions and paths that you want. You can also override the ``"default": "3.15",`` default version

[2022-10-24 01:18] SpaceIm commented on #12377
Ok thanks, it works now on my machine with:

[code]

Do you plan to document it in a README? There is something written in `conftest.py`, but it's not the first place where contributors would think to look at.

[2022-10-24 02:34] prince-chrismc commented on #12367
This would also be amazing to inject variables for older projects https://github.com/conan-io/conan-center-index/pull/13551
HDF5 would really benefit form this feature.

[2022-10-24 07:49] czoido commented on #12371
Hi @System-Arch,
Thanks a lot for reporting, I think this is something to be solved in the next beta release, adding to the beta5 milestone.

[2022-10-24 08:58] uilianries commented on #12356
@madebr Need to configure a bunch of stuff. Another option is: Open conan client on PyCharm and add a recipe as a new test, then you can easily debug. Again, you can see it's not so straightforward. So your feature request is much better than what we have now. Usually, I use `self.info.warn` (Yes, old print messages) in recipes, but we know for some cases, we waste much time trying to find somethi

[2022-10-24 08:58] #12347 closed, assigned to memsharded

[2022-10-24 09:13] #12217 closed, assigned to jcar87

[2022-10-24 09:29] heili77 opened #12381 "[feature] filter what is built by --build=missing and --build=outdated"
Currently there is only an exclusion feature for `--build=missing` and/or `--build=outdated` with pattern `--build=!pattern`.

In my case I want to limit the built packages to a specific list of users. `--build=pattern` is not applicable, as the matching packages are built no matter if the package is missing or outdated. With the exclusion pattern I would need to list all possible users in my proj

[2022-10-24 09:36] fdgStilla opened #12382 "[bug] setting default generator for cmaketoolchain in the configuration does not work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: MSVC 16
  * Conan version: 1.53
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)
`conan create all pacakge/x.x.x@ -c tools.cmake.cmaketoolchain:generator=Ninja` => use correctly the ninja generator
but
[code]
=> the configuration is not taken into acco

[2022-10-24 10:02] czoido commented on #12382
Hi @fdgStilla,

Thanks for the question. The problem here is that `tools.cmake.cmaketoolchain:generator` is a configuration that should be set in the [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) file (this is the new configuration system that is compatible with Conan 2.0) and `conan config set` affects the _conan.conf_ configuration file that will be remov

[2022-10-24 10:45] memsharded commented on #12381
Hi @heili77

Yes, this has already been implemented in Conan 2, with ``--build=missing:<pattern>`` syntax. If you want to start testing, it we have already released several betas, and it is getting very close for final release.

[2022-10-24 10:49] memsharded commented on #12377
Yes, we will add something to the docs, but we will wait until stabilizing this testing feature after 2.0, because it still needs a few changes, that we will not do after 2.0.

[2022-10-24 12:46] fdgStilla commented on #12382
Great it works thanks!

[2022-10-24 12:46] #12382 closed, assigned to czoido

[2022-10-24 13:51] whitefluffypenguin commented on #12366
Got it - thank you! As soon as i specified 'user' (not to mix with artifactory user 'username') and 'channel' conanfile.py recipe attributes i was able to change and tune up the upload target location!

[2022-10-24 14:20] jcar87 commented on #12356
Hi @madebr - your ability to use a debugger to stop at a breakpoint in a Conan recipe will vary depending on the Conan command you are running.

In particular for `conan create`, the recipe will be first copied to the local Conan cache, so breakpoints in your local copy of `conanfile.py` will not work.

You can work around this by first running `conan export`, then locate and open the _exported_ `

[2022-10-24 14:29] jwillikers opened #12383 "[bug] Header-only packages can't be created without an empty generate method when using a layout"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 37
  * Compiler+version: GCC 12.2.1
  * Conan version: 1.53.0
  * Python version: 3.11.0rc2

### Steps to reproduce (Include if Applicable)

Create a header-only library without a `generator` or `generate` method.
Define a layout in the layout method, i.e. `basic_layout(self)`.
Run `conan create` to c

[2022-10-24 14:33] SSE4 commented on #12336
I personally never liked and recommended this one since its inception, I wish it could be banned - it's completely non-transparent what does it capture (it may capture different things for different users) and causes issues (like, it may capture more libraries than needed - some libraries are not needed to be linked by default; or libraries with same name in different directories, or whatever). re

[2022-10-24 14:34] uilianries commented on #12383
@jwillikers Thank you!

[2022-10-24 14:49] hwhsu1231 opened #12384 "[question] Is `compiler.toolset` of `msvc` in `settings.yml` imcomplete (1.53.0)?"
### Problem Descriptions

According to the [documentation](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html#msvc), `msvc` is intended to deprecate `Visual Studio`. However, as we can see in the following screeshot, `Visual Studio` has more options in `compiler.toolset` than `msvc`. I was wondering that:

- Is `compiler.toolset` of `msvc` in `settings.yml` imcomplete?
- If n

[2022-10-24 14:50] madebr commented on #12356
Thanks for the `breakpoint()` workaround. It's not perfect, but works during development.

[2022-10-24 15:00] fdgStilla opened #12385 "[bug] last conan version not available with pip (last available: 1.45.0)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux or Windows
  * Python version: python 3.10

### Steps to reproduce (Include if Applicable)
Launch a conan center CI
=> it fails to install conan
https://github.com/conan-io/conan-center-index/actions/runs/3313700264/jobs/5472031099

Manually list the available versions with pip: `pip index versions con

[2022-10-24 15:11] czoido commented on #12385
Hi @fdgStilla, thanks for reporting, let me transfer this to the Conan Center Index repository as this is not directly related with Conan

[2022-10-24 15:25] memsharded commented on #12366
Good to know, happy that it is working. If you notice something not working as expected, please consider checking if that customization had something to do, I am not aware of other users doing this.

I guess we can close this question as responded now? Thanks!

[2022-10-24 15:36] whitefluffypenguin commented on #12366
yes - thank you - please close!

[2022-10-24 15:50] jcar87 commented on #12356
Thanks @madebr  - hope that works :) Will close the issue as there appears there is a way of doing this, feel free to reopen if something does not work.

[2022-10-24 15:50] #12356 closed, assigned to jcar87

[2022-10-24 15:52] memsharded commented on #12383
I have been able to reproduce with this test:
[code]
Note that it is necessary to define ``tools.env.virtualenv:auto_use=True`` otherwise it doesn't fail. But this is not being defined yet in ConanCenter, up to my knowledge, is it?

[2022-10-24 15:54] #12366 closed, assigned to memsharded

[2022-10-24 16:02] memsharded commented on #12384
Hi @hwhsu1231

All the ``clang`` related toolchains have been moved to a different way to be defined, under ``compiler=clang`` in Windows.
Check the latest blog: https://blog.conan.io/2022/10/13/Different-flavors-Clang-compiler-Windows.html

Also, the way for MSVC compiler, to use another toolset, you can set ``conf``:
- ``tools.microsoft.msbuild:vs_version``
- ``tools.cmake.cmaketoolchain:generat

[2022-10-24 16:08] jwillikers commented on #12383
I don't think it fails in CCI, only locally. I wasn't aware that `tools.env.virtualenv:auto_use=True` was having an effect, but my settings have that enabled.

[2022-10-24 16:15] memsharded commented on #12383
Ok, that makes sense, thanks!

[2022-10-24 16:50] hwhsu1231 opened #12387 "[question] When to specify which `compiler.cppstd` settings for MSVC compiler?"
### Problem Descriptions

Recently, I tried to redesign the implementation of `conan_cmake_autodetect()` for MSVC compiler in [cmake-conan](https://github.com/conan-io/cmake-conan). It is because `msvc` will deprecate `Visual Studio` in Conan 2.X according to the [documentation](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html#msvc). And I noticed that there is a required s

[2022-10-24 16:59] hwhsu1231 commented on #12384
@memsharded Thanks for your replies.

Do you mean that we only need to specify `--settings compiler.toolset=xxx` when we use those **XP-related** toolset arguments in `-T`?

[2022-10-24 17:36] memsharded commented on #12384
Yes. In other cases the equivalent of ``-T`` is deduced from a combination of the other settings like ``compiler=clang`` and the ``confs`` above. There is no mapping for the ``LLVM-vsXXX`` toolsets though, we have struggled to find good documentation and usages, if you are relying on them, please let us know, and provide details about it.

[2022-10-24 17:37] memsharded commented on #12364
Fixed by https://github.com/conan-io/conan/pull/12380, testing and feedback welcome!

[2022-10-24 17:37] #12364 closed, assigned to memsharded

[2022-10-24 17:40] memsharded commented on #12387
(https://cmake.org/cmake/help/latest/variable/CMAKE_CXX_STANDARD.html)?

Yes

This variable shouldn't be empty. If the ``compiler.cppstd`` doesnt exist (can be removed for C packages), it will not exist at all, not being defined as empty

Because it is not a supported setting for MSVC compiler. If you check their documentation, or from the IDE, C++11 is not a standard that can be defined for MSVC.

[2022-10-24 17:54] hwhsu1231 commented on #12387
@memsharded

The problem is that it seems fine when `CMAKE_CXX_STANDARD` is **EMPTY** in the CMakeLists.txt.

The follwing is the example CMakeLists.txt:

[code]

The following is its Terminal Log:

<details><summary>Click to expand</summary>

[code]

</details>

In that case, how to specify `compiler.cppstd` for MSVC compiler?

[2022-10-24 18:11] memsharded commented on #12387
If you are using VS>= 2015, the default is already c++14, so it should be ``compiler.cppstd=14``

[2022-10-24 18:13] beenjohn commented on #12372
From further inspection, this change to requires.aggregate(...) fixes the issue for me:
[code]
Is this something I should submit a PR for or is the requires.direct trait intentionally left out of the aggregate function?

[2022-10-24 18:21] memsharded commented on #12372
Hi @beenjohn

Yes, I guess that the above PRs don't fix the issue, have you tried updating just in case? they have been already merged into the ``develop2`` branch.

If that is the case, sure, please send a PR. The most important part of it is the test, but don't worry if it is not fully clear, just send the fix and we can try to collaborate and add the tests to your branch.

[2022-10-24 18:23] hwhsu1231 commented on #12387
So your suggestion is to specify a **DEFAULT** C++ standard if `CMAKE_CXX_STANDARD` is not given?

For example:

[code]

Then what about VS < 2015?

[2022-10-24 18:28] memsharded commented on #12387
It is not that CMAKE_CXX_STANDARD is not given. It is the ``CMakeToolchain`` that defines this variable.
If you are talking about cmake-conan integration, that is a different story. The cmake-conan integration should definitely define ``compiler.cppstd=14``, even if the ``CMAKE_CXX_STANDARD`` is not defined, because that defines the binary compatibility, and becomes part of the ``package_id``.

Th

[2022-10-24 18:29] jsallay commented on #12372
We just upgraded to 2.0.0-beta4.  It looks like both of those fixes were merged into there, so we are running with them.

[2022-10-24 18:34] hwhsu1231 commented on #12387
So is the following mechanism suitable?

[code]

[2022-10-24 18:36] memsharded commented on #12387
Yes, looks good

[2022-10-24 18:39] hwhsu1231 commented on #12387
Do you mean that `--settings compiler.cppstd=14` will make `CMakeToolchain` generate the `conan_toolchain.cmake`, which has the following line:

[code]

[2022-10-24 18:40] memsharded commented on #12387
Yes, exactly

[2022-10-24 19:20] darius-grauslys commented on #12369
Hi @memsharded

In short I was trying to set up neovim to use a c++ language server and detect the packages loaded in by conan. My initial confusion was that conan had to give something to CoC.

Turns out I missed the part where I needed compile_commands.json:
https://github.com/neoclide/coc.nvim/wiki/Language-servers

So by including -DCMAKE_EXPORT_COMPILE_COMMANDS=1 it worked, but _only_ if I in

[2022-10-24 19:30] beenjohn commented on #12372
I'll get you a PR as soon as possible. From testing with the current unittest (t1, t2, t3) I was able to generate a reproducer. If you do:

[code]
Everything works fine.

[code]
You get `ERROR: t3/0.1.0: required component package 't1::' not in dependencies`. Basically ordering matters which makes sense for the above fix.

If you change t3Conan in https://github.com/conan-io/conan/blob/develop2/co

[2022-10-24 21:03] memsharded commented on #12372
Sounds great, then just copy & paste and change the test, or do parameterize it, as you prefer. Thanks!

[2022-10-24 21:08] beenjohn commented on #12372
PR should be ready. I'm still learning github PRs so let me know what else you need from me. I'm not exactly sure what to update for docs on this change.

[2022-10-24 22:14] #12377 closed, assigned to nobody

[2022-10-25 02:58] Tumb1eweed opened #12389 "[question] How can I provide a CMAKE FLAG in recipe (not option), for providing diffrent sdk"
I need to provide two kinds of API implementation in library A.so and library B.so, so I need to provide a flag so that I can use this flag to decide which library to link when I link those libraries.

[2022-10-25 09:25] planetmarshall commented on #12376
Related to #12156

I think it just needs the library flag added to `cpp_link_args`. Will submit a PR myself if no one gets there first.

[2022-10-25 09:42] SSE4 commented on #12383
what exactly is `auto_use`? search in docs only shows 3 places where it is mentioned briefly, e.g. this [paragraph](https://docs.conan.io/en/latest/reference/profiles.html?highlight=auto_use#buildenv):
[code]
so, does it mean usage of `[buildenv]` section in profile is only activated via `auto_use` (and otherwise, `buildenv` is no-op)?

or other [paragraph](https://docs.conan.io/en/latest/migratin

[2022-10-25 10:03] jcar87 commented on #12389
Hi @Tumb1eweed  - how would you feed this flag to CMake _without_ using Conan? for example when building this manually yourself.

[2022-10-25 10:15] Nekto89 opened #12390 "[bug] Order of options in profile is important(?)"
I don't know whether this is a bug or feature. For me this behavior looks strange. Reordering options in profile ([settings] section) may lead to ERROR.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: Visual Studio 17
  * Conan version: 1.53.0
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)
1) ch

[2022-10-25 11:19] memsharded commented on #12383
I think the paragraphs you pasted above were clear enough, and like the first one is even highlighted with an ``important`` notice:

    or putting the configuration ``tools.env.virtualenv:auto_use=True`` in your profile.

That means that either you declare the ``VirtualBuildEnv`` generator in your recipe explicitly, or you do it implicitly with the ``auto_use`` configuration.  What is exactly not

[2022-10-25 11:33] SSE4 commented on #12383
it's not fully clear what happens with `buildenv` if none of the conditions mentioned satisfied, is it just silently ignored?
anyway, it would be better if `auto_use` had its own section describing effects of True/False values, it's pretty hard to deduce it now from these pieces without looking at code. like the following:

auto_use = True:
- `[buildenv]` profile section parsing is activated
- bot

[2022-10-25 11:47] bukulin commented on #10544
Similar issue here with cmake. It is not linked, just a `tool_requirement`. To reproduce the error message I've created a fork of the conan examples and tweaked it a little:
https://github.com/conan-io/examples/compare/master...bukulin:conan_examples:master

`libb` and `app1` both depend on `cmake` as a `tool_requirement`. That was enough to have the same error message as we can see in the title o

[2022-10-25 14:19] AndreyMlashkin opened #12391 "[bug] It seems, that it is not possible to specify build and install folders with new generators"
It seems, that it is not possible to specify build and install folders with new generators, when compiling for a local workflow.
If I am wrong, please write a script, that will build a new cmake template to a certain folder.

My build script was always:
[code]

[2022-10-25 14:20] AndreyMlashkin commented on #12391
Basically, my build script is inspired by this doc page:
https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html

It seems to me, it does not work with the new generators.
If I go throug documentation step-by-step, it fails on the build step

[2022-10-25 14:24] gazzatav opened #12392 "ERROR: <some package> Cannot load recipe. . . ImportError: cannot import name 'export_conandata_patches'"
### Environment Details
  * Ubuntu 18.04
  * gcc (Ubuntu 11.1.0-1ubuntu1~18.04.1) 11.1.0
  * Conan 1.53.3
  * Python 3.6.9
## Config:

[code]
## Profile:

[code]

### Steps to reproduce (Include if Applicable)
conan install -r conanio bzip2/1.0.6@
OR
conan install -r conanio bzip2/1.0.8@
OR
conan install  -r conanio zlib/1.2.12@
OR
conan install -pr=c++20 -r conanio poco/1.12.2@ (fails because of

[2022-10-25 14:33] czoido commented on #12392
Hi @gazzatav,
Thanks for reporting. The problem seems to be that the Conan version you are using does not support `export_conandata_patches` That tool was introduced in Conan 1.52.0 so if you are using Conan>=1.52 it should work. A couple of questions:

- Did you install Conan via pip or any other install method?
- Can you verify before running `conan install` that `conan --version` returns a vers

[2022-10-25 14:37] jcar87 commented on #12392
HI @gazzatav

I would first advise to try with a conan installed inside a virtual environment:
[code]
and then try the commands again. Alternatively you can launch the python interpreter in this environment and simply run the following in the prompt:
[code]

If that succeeds without errors, there's probably something corrupted about your Conan installation. If that is the case, I would advise tryi

[2022-10-25 14:45] czoido commented on #12390
Hi @Nekto89,
Thanks for the question. In this case the order is important, because Conan reads the profile in one pass so if you are declaring a subsetting for a setting like compiler.version for compiler you must first declare that setting in the profile. I think this is something that probably we should document better so if you don't mind I will transfer this issue to the conan docs repository.

[2022-10-25 14:55] db4 opened #12393 "[question] Porting 1.x imports() to 2.0"
I'm following [Conan migration guide to 2.0](https://docs.conan.io/en/latest/conan_v2.html#conan-migration-guide-to-2-0). It contains the following recommended pattern that I expected to work everywhere:
[code]
Unfortunately `self.build_folder` is set only in 2.0 and is None in 1.x so for 1.x I have to use `self.build_folder` that in turn doesn't exist in 2.0. The following code works:

[code]
but

[2022-10-25 14:55] czoido commented on #12391
Hi @AndreyMlashkin,

The problem here is that that information that used to be provided in command line now it's provided in the `layout()` method, the documentation about the developer flow is probably outdated and we should update it to mention the layout method there. In this case you can just run:

[code]

As the [layout()](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake_

[2022-10-25 15:11] czoido commented on #12393
Hi @db4,

I think that maybe what's happening here is that the recipe does not have declared the [layout()](https://docs.conan.io/en/latest/developing_packages/package_layout.html). Does your Conan 1.X recipe have the `layout()` method declared? Something like:

[code]

Could that be the issue? Hope this helps

[2022-10-25 15:17] #12383 closed, assigned to memsharded

[2022-10-25 15:22] AlexRamallo opened #12394 "[feature] Add a 'tool_options' section to conanfile"
As a follow on from [this discussion](https://github.com/conan-io/conan-center-index/issues/13708), I think it'd be helpful to be able to specify separate options for the build/host profile from a conanfile without resorting to separate profiles.

If you have a conanfile like this:
[code]
It's unclear which package is affected by that option. ~~Currently, the only way to add separate options (unle

[2022-10-25 15:24] AndreyMlashkin commented on #12391
It was super convenient to override such folders via command line, it's really pity, that it's not possible anymore.

Build files pollutes repository with source code, it's like 2008 again :(

[2022-10-25 15:29] czoido commented on #12391
One clarification, that is something that will only happen in 1.X, it's an unfortunate side effect of maintaining compatibility between both, but that does not happen in 2.0

Also, there's the `--output-folder` argument you can also use if you want to set the output files to be in one subfolder.

[2022-10-25 15:32] whitefluffypenguin opened #12395 "Are hyphened (1.2.23-4) package versions supported in finding compilation runtime dependants?"
Hi there,

Are hyphened (1.2.23-4) package versions supported in finding compilation runtime dependants?

[2022-10-25 15:49] czoido commented on #12395
Hi @whitefluffypenguin,

Thanks for the question. If you are using version ranges Conan will not take into account the pre-release version unless you add the include_prerelease option like:

[code]
Please check the Conan documentation [about version ranges](https://docs.conan.io/en/latest/versioning/version_ranges.html?highlight=include_prerelease#version-ranges) for more information.

[2022-10-25 16:22] stefansli commented on #5584
@memsharded We successfully used a test_package to test one of our python base recipes. The only problem we had was how to inject the tested version into the test_package recipe. As a workaround, we generated a local file containing the version which we then read while the test_package is parsed

[2022-10-25 16:44] bloxgate opened #12396 "[bug] 301 Moved Permanently in response to conan upload's PUT requests results in a 409 Conflict for URL"
**Update:** The below happens when a 301 redirect is returned in response to the PUT requests for the files being uploaded. Changing the conan remote's URL to match the one in the 301 allows the upload to proceed normally.

When uploading a package from Ubuntu a 409 Conflict for URL is received when the conanmanifest.txt file is uploaded. Copying the package to a MacOS environment with the same ve

[2022-10-25 16:50] gazzatav commented on #12392
@czoido Hi and thanks for responding.  I already tried upgrading to 1.52 and 1.53 with but with both of those I had the crashing version command so I rolled back.  I used the command: `sudo python3 -m pip install -U conan` then rolled back to 1.52 with `sudo python3 -m pip install conan==1.52` and finally back to 1.51.3.  You'll see I've used sudo and I don't know if that's a good thing with pytho

[2022-10-25 16:51] MihaiPopescu1985 commented on #8871
Try this:
conan info --paths --package-filter <package_name> --only "export_folder"  .

[2022-10-25 16:58] MihaiPopescu1985 commented on #8871
Try this:
conan info --paths --package-filter <package name> --only "package_folder"  <conan recipe>

[2022-10-25 17:00] MihaiPopescu1985 commented on #8871
conan info --paths --package-filter my_package/1.0.0@mine/org --only "package_folder"  C:\path\to\my\recipe\that\uses\this\package\conanfile.py

[2022-10-25 17:03] gazzatav commented on #12392
@jcar87 Hi, thanks for your suggestions.  I tried the first one and it failed like this:

[code]

So I did what it told me and ran the commands you gave, the result is success as below so what do I do to make this permanent?  Do I need to uninstall some stuff and start again?

[code]

[2022-10-25 17:03] db4 commented on #12393
Hi @czoido,
No, layout() is there, exactly the same as yours. Conan 1.53.0, 2.0.0-beta4

[2022-10-25 17:24] whitefluffypenguin commented on #12395
Thank you - trying!

[2022-10-25 18:59] bloxgate commented on #12396
After a bit more digging, I've found the following error in the artifactory logs:
[code]

It appears its not happy with the SHA-1 sum of `13eeda26c45f26c8024ca7cf6d5742a1d32240fe`. However I'm quite confused as to why as this is the same sum that the file has on the MacOS system:
#### MacOS
[code]

#### Ubuntu
[code]

I can further see that there _is_ actually a conanmanifest.txt file uploaded aft

[2022-10-25 19:24] whitefluffypenguin opened #12398 "Package revision storage"
I noticed each package revision is stored in dedicated export (and package) sub-folders.
I assume, this is done by design. Please confirm - is there a way to configure to store (overwrite or with history/delta changes) different package revisions in single export/package folder?
Also to have them downloaded and installed as deltas?

[2022-10-25 20:33] AlexRamallo commented on #12394
After some further testing, it seems I was a bit premature in assuming the dual profile trick works. It seems (at least in Conan 1.53.0) that Conan completely ignores the options in your build profile. It does display the options in your build profile (when you run `conan install` and it prints the profiles), but it ignores them, and doesn't even throw up an error if you list an invalid option.

S

[2022-10-26 03:45] hwhsu1231 opened #12399 "[question] How to select which `compiler.exception` settings for MinGW compiler?"
### Problem Descriptions

As we can see, there are 3 different `compiler.exception` settings for MinGW compiler to choose.

- `dwarf2`
- `sjlj`
- `seh`

I was wondering that how to detect which exception model the current GCC/MinGW is using? If possible, design a detection mechanism for integration of [cmake-conan](https://github.com/conan-io/cmake-conan).

![image](https://user-images.githubuserc

[2022-10-26 07:22] uilianries commented on #12392
@gazzatav I recommend you using [pyenv](https://github.com/pyenv/pyenv) if possible. It's very easy to [install](https://github.com/pyenv/pyenv-installer#install) and much more flexible than using the native python offered by Ubuntu.

Also, to be sure about which python x conan you are using, you can try:

    python3 -m conans.conan install -r conanio bzip2/1.0.6@

Passing a target module, instea

[2022-10-26 07:55] czoido commented on #12393
Hi @db4,

For me, doing both `conan create .` and `conan install .` on this _conanfile.py_ that checks that `self.build_folder` exists is working for both conan 1.53 and conan 2.0.0-beta4. Could you provide an example to reproduce the issue?

[code]

Thanks.

[2022-10-26 08:25] #12107 closed, assigned to lasote

[2022-10-26 08:28] jcar87 commented on #11402
Hi @kambala-decapitator  - using the newer autotools integration (dos [here](https://docs.conan.io/en/latest/reference/conanfile/tools/gnu/autotools.html)) I can see this works correctly when cross-compiling using two profiles. Will be closing this issue, but please feel free to reopen if there are any further concerns.

[2022-10-26 08:28] #11402 closed, assigned to jcar87

[2022-10-26 08:53] Tumb1eweed commented on #12389
But I need to provide two kinds of API in this conan pacakge.
To be specific, library A provides a simple network communication, and librarys B provide a more complex communication, for different kinds of usage, I need to provide those libraries both, but I can't just package into conan package all, in that case linking "target::target" doesn't know which library to link, so I need to provide a fl

[2022-10-26 09:34] vvarma commented on #12343
@uilianries gcc and armv7-unknown-linux-gnueabihf-gcc are both obtained using brew. Attaching the info below:
[code]
and

[code]

[2022-10-26 09:43] SpaceIm commented on #12394
quite similar issue (but in command line): https://github.com/conan-io/conan/issues/10425

[2022-10-26 10:19] db4 commented on #12393
Hi @czoido,
I'm doing it in `test_package`. Maybe that's the reason?

[2022-10-26 10:25] TSS-THa commented on #12347
Will there be a bugfix release of 1.53 including this? Currently installing grpc with the MSBuildDeps generator breaks our projects as it is generating not existing property sheet names it tries to import.

[2022-10-26 10:29] db4 commented on #12393
Just added your generate() method to zlib/1.2.12 test_package from CCI:
[code]

[2022-10-26 10:35] czoido commented on #12393
Hi @db4,
Yes, calling it in the test_package is the reason, may I ask what's the use case and why do you need to call `copy` to `self.build_folder` in the test_package?
Thanks

[2022-10-26 10:40] RudolfNetzel opened #12404 "[question] Possible Bug using conan lock create"
Hello,
I have a question about an error I encountered while using/generating lock files.
We build packages with multiple compilers and followed a recommendation to first create a base lock file and use this as a basis to generate the actual build lock files.
Building a dependency resulted in an error, which I was able to temporarily avoid by not using a base lock file.
I do not know if I missed so

[2022-10-26 10:40] db4 commented on #12393
I need to import some additional data files from a package to run tests: they expect to find them in ../data directory (relative to bin)

[2022-10-26 10:55] memsharded commented on #12347
Hi @TSS-THa

In theory, 1.54 is due very soon, so probably not. Also because this is not a regression or similar, apparently this never worked with MSBuildDeps, or was it working in 1.52?

[2022-10-26 10:55] czoido commented on #12393
Hi @db4,
The _test_package_ should only be used to test that the Conan package was correctly created and works, not for running your tests over the library or application, if you want to run tests over that, you should do it in the `build()` method of the package, there's an example in the Conan 2.0 documentation here: https://docs.conan.io/en/2.0/tutorial/creating_packages/build_packages.html#bui

[2022-10-26 11:05] TSS-THa commented on #12347
Hi @memsharded

Thanks for the quick reply.

If 1.54 is due very soon that's also fine. Is there any ETA on it? Couldn't find a roadmap anywhere.

In 1.52 I had similar issues with the c-ares package grpc depends on, so I updated and found 1.53 solved that, but introduced another issue with grpc this time.

I'm currently working on a project to migrate the legacy Conan configurations we have on ou

[2022-10-26 11:26] db4 commented on #12393
@czoido here is my situation (oversimplified):
[code]
module2 depends on module1.  Just to load module2 and create a root C++ object it exports, its dependencies (module1.dll and module2.dat) have to be placed in `.` and `../data` folders respectively (relative to module2.dll). So to test module2 I have to import module1's files in test_package. I always did it in Conan 1.x via import(), I'll do t

[2022-10-26 11:30] memsharded commented on #12347
We typically release the last days of every month, with some flexibility. As this 1st Nov is holiday here, it is possible that it will be delayed to 2-3rd of November.

[2022-10-26 11:50] TSS-THa commented on #12347
That's perfect. It's a holiday here too, so I'll work around those few days.

[2022-10-26 12:05] risa2000 commented on #11707
I would just like to add another observation. I have been using `CMakeSettings.json` which is Visual Studio specific and a kind of precursor for `CMakePresets.json`.  Since the latest VS 2022 Microsoft is officially promoting using `CMakePresets.json` instead of `CMakeSettings.json` which is definitely a good move.

However, the way `CMakeSettings.json` were and `CMakePresets.json` are supposed to

[2022-10-26 12:49] hwhsu1231 commented on #12387
I think this question is solved, so I'll close it.

[2022-10-26 12:49] #12387 closed, assigned to memsharded

[2022-10-26 12:52] hwhsu1231 commented on #12384
I think this question is solved, so I'll close it.

[2022-10-26 12:52] #12384 closed, assigned to memsharded

[2022-10-26 13:39] whitefluffypenguin commented on #12059
Hi Memsharded,

I am trying to implement the proposed solution.
I have pre-created 'first' and 'second' component packages,
And I have created the deployment 'ConanOfConans' package like this:

from conans import ConanFile

class ConanOfConans(ConanFile):
    name = "conan_of_conans"
    version = "1.0.0-1"
    user = "test"
    channel = "channel"

    def requirements(self):
        self.require

[2022-10-26 14:02] hwhsu1231 opened #12400 "[question] Where is the `compiler.runtime_version=v143` settings of `clang` compiler?"
### Problem Descriptions

According to the [article](https://blog.conan.io/2022/10/13/Different-flavors-Clang-compiler-Windows.html) of Conan Blog, ClangCL has its own profile settings:

However, I noticed that the profile uses `compiler.runtime_version=v143`, which **DOESN'T EXIST** in `settings.yml` (1.53.0).

![image](https://user-images.githubusercontent.com/71438617/198045860-95799898-ffb1-49

[2022-10-26 15:33] JokaHD opened #12402 "[question] How to prevent CONAN_LIB_DIRS in .mak file get libraries recursively?"
Hi,
I wonder how to prevent the recursive contents in the `CONAN_LIBS` in my `.mak` file.
I want the `CONAN_LIBS` in my `.mak` file is only assigned as the library names from the `[requires]` in the conanfile.txt. (Exclude the requires of requires.)

For example, I have three libraries, the dependency relation is as the graph below:
<img src="https://i.imgur.com/O8YxJPN.jpg" />
The content of the

[2022-10-26 15:52] jcar87 opened #12403 "[question] what is the meaning of C++ [please delete]"
Just a test, please delete.

[2022-10-26 15:54] jcar87 commented on #12403
comment from slack

[2022-10-26 16:03] jcar87 commented on #12400
Hi @hwhsu1231  - thanks for reporting this issue.

The `compiler.runtime_version` is defined in the `settings.yml` that comes with Conan 1.53.0:
[code]

Bear in mind that sometimes when you come from an earlier version of Conan where a `settings.yml` already existed in your Conan home directory, Conan will preserve the existing file instead of overwriting it if has any user modifications.

[code]

[2022-10-26 16:19] uilianries commented on #12404
Transferred to conan client as it seems be a Conan client question.

[2022-10-26 20:45] wouterbeek opened #12405 "[question] How to force multi-core builds?"
I am using Conan v1.53 to build the GDAL dependency from Conan Center. This dependency builds very slowly. When I look in `top` I see that only 1 out of 16 cores is doing any work.  This is the command that I use:

[code]

How does one force Conan to use more than one CPU core when compiling dependencies from source?

When I look in [the Conan recipe](https://github.com/conan-io/conan-center-index

[2022-10-26 20:47] ngrodzitski opened #12406 "[question] Binary modes considering options (binary compatibility issue)"
I have a library `Foo` which has an option `XXX=True | False` this option affects a definition of some structs (technically we define a macro and then alternate content with `#ifdef-#else`) thus `Foo:XXX=True` and `Foo:XXX=False` version of a library are binary incompatible (and that is not something I can change any time soon).

CI creates/uploads the package with default value for the option: `F

[2022-10-26 20:51] ngrodzitski commented on #12406
Asking the same question on slack I was suggested to use:
[code]

On which I found no documentation (and https://github.com/conan-io/docs/issues/1074 suggests that I indeed shouldn't have succeeded in it).

[2022-10-26 22:17] puetzk commented on #12125
Yeah, layout is the beginnings of something useful. It does work well when I'm doing simpler stuff, like header-only libs or sometimes single-platform/build==host stuff, but is still not actually much use in a multi-platform/cross-compiling kind of workflow:

1. One cannot specify where the build_folder is (probably not in my source checkout relative to the recipe), and `conan editable add` does n

[2022-10-26 22:41] wouterbeek commented on #12405
This must have been a mistake on my part, in a new terminal the library does use multiple cores to build from source.

Quickly closing this one...

[2022-10-26 22:41] #12405 closed, assigned to nobody

[2022-10-26 22:47] BlueSolei commented on #12391
I just encountered the same issue, so thanks @AndreyMlashkin for open this issue.
to not pollute the source tree I did this:
[code]

@czoido can you explain why it won't happen in Conan 2.0?
Can I today move to 2.0 so I can set the folder as I used to?
And for fixing the docs, I would do it A.S.A.P as it is very frustrating to fail on such a fundamental thing :-(

[2022-10-26 23:16] puetzk commented on #12125
Yeah, the main hassle caused by having to make a junk "wip" commit is when you have several changes that are eventually going to get factored into multple commits. Having to immediately turn around and `git set --soft` to get rid of it, will mess up the index if you were starting to draft which lines to stage, which is a hassle when iterating quickly. Plus the "wip" commit is sitting there to be a

[2022-10-27 00:25] puetzk commented on #12125
Hmm, thinking even further on this, I had a new-to-me idea. The other problem I often struggle with is that `editable` is too much a global solution to a local problem - usually I only want one (or a few) things that I am actively testing to use the `editable` package, and I don't want this leaking if I have to context-switch to some other project for a bit. Which usually leads to me inventing a b

[2022-10-27 00:54] puetzk commented on #12125
Apologies @Bearwolves for the wall of text. I started because sounds like you have similar workflows that are impacted by losing the ability to make a dirty `conan create`, but when I started thinking out loud I had more to write than I originally thought :-)

[2022-10-27 01:26] memsharded commented on #12406
Hi @ngrodzitski

This is a complicated issue. I have one observation about:

The thing is that if you define ``full_package_mode`` dependency, and if the version of the dependency changes, even if the options is still the same value, the ``full_package_mode`` captures the version changes. It means that probably some header in the library changed between versions. It is not necessary that the optio

[2022-10-27 01:32] memsharded commented on #12125
Hi @puetzk

I think there are too many things here, probably we need to go step by step, and also a bit of deviation of the initial thread, might be worth to open new issues.

I am not sure about this, there is actually a new ``tools.cmake.cmake_layout:build_folder_vars`` for ``cmake_layout()``, but it could be exploited by other build systems as well, that allows defining which folder structure i

[2022-10-27 01:40] memsharded commented on #12402
Hi @JokaHD

The first important note is that the ``make`` generator is being dropped in 2.0, it is already considered legacy in 1.X.
It has been replaced by the ``AutotoolsToolchain`` and ``AutotoolsDeps`` that provide a standard environment variables based approach to pass information, but not file creation. If you still really need a file creation, I would encourage you to consider creating your

[2022-10-27 01:44] memsharded commented on #12059
Yes, this is good for conan 1.X. In Conan 2.0 we created some new explicit ``--deploy=mydeployer`` feature that allows to define your own deployers which is more extensible. In Conan 2.0 it is also possible to move the functionality to the ``generate()`` method with ``copy()`` util instead, because the ``deploy()`` method will be dropped. But as the consumer recipe is pretty simple is not a big de

[2022-10-27 02:40] puetzk opened #12407 "[feature] conan.tools.cmake: cmake.test() lost output_on_failure option"
The old conans.CMake had an [output_on_failure ](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#test) keyword argument that [set CTEST_OUTPUT_ON_FAILURE=1 in the envionment](https://github.com/conan-io/conan/blob/4cfd5af2f6e1ead79ce173aebf61b50dbe440a81/conans/client/build/cmake.py#L348), but the new 2.0 conan.tools.cmake.CMake helper has lost this feature.

Any chance of getti

[2022-10-27 02:41] #12171 closed, assigned to memsharded

[2022-10-27 02:55] hwhsu1231 commented on #12400
@jcar87 Thansk for your replies.

However, I found that the `WARN: Migration: Updating settings.yml` message doesn't pop up after running `pip install conan --upgrade`. Even though I first **UNINSTALL** the Conan by running `pip uninstall conan` and then **REINSTALL** Conan by running `pip install conan --upgrade`, the message still doesn't pop up and the `settings.yml.new` isn't created.

Instead

[2022-10-27 03:03] hwhsu1231 commented on #12400
@jcar87

And I noticed that the [Documentation](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html) doesn't have:

- `runtime_type`
- `runtime_version`

Either.

![image](https://user-images.githubusercontent.com/71438617/198180940-06c7ec5d-346c-490a-86a8-cb2777caaa83.png)

[2022-10-27 03:22] daywhirls commented on #12340
Hi @memsharded,

Thank you for the response! I spent some time learning the new `CMakeDeps` and `CMakeToolchain` generators, and when applying them to the small example project above, it seems like I am getting the same result as before when I tried with the `cmake_multi` generator. The `/include/` folder from the editable `testpackage` root is correctly added as an include directory for the drive

[2022-10-27 05:04] memsharded commented on #12340
Hi @daywhirls

You might be missing the library names in ``layout()``, maybe? Also maybe a confussion in the ``libs``. So something like this might help:

[code]
Please check that and let us know

[2022-10-27 06:06] HW1879 commented on #12402
Hi @memsharded,

Thanks for your quick reply,

I create a custom generator which inherits from the `make` generator but override the `content` and `_create_combined_content` functions.
The information about `self.dependencies` is also very helpful. Now I can generate the content in `.mak` file according to the `direct` attribute of the dependency (also exclude the info of my custom generator).

Th

[2022-10-27 06:06] JokaHD commented on #12402
Hi @memsharded,

Thanks for your quick reply,

I create a custom generator which inherits from the `make` generator but override the `content` and `_create_combined_content` functions.
The information about `self.dependencies` is also very helpful. Now I can generate the content in `.mak` file according to the direct attribute of the dependency (also exclude the info of my custom generator).

Than

[2022-10-27 06:19] samuel-emrys commented on #12309
Hi @Bearwolves, I'm the one that put #11601 together - if you don't have a requirement on something that is shipped with the `conan` package, there are links in my discussion to some public exemplar repositories that have a standalone solution that works with conan 1.x (with some modification to your recipes to capture the python requirements/propagate them effectively).

Beyond that, I'm a little

[2022-10-27 08:27] phbasler opened #12408 "[question] How to write a test_package for a python_requires recipe?"
I want to make use of the `python_requires` feature. To test it I wanted to make a test_package to test my base class but I encountered a problem on how to reference the currently being created base recipe.

If I use `python_requires = self.tested_reference_str` in my `test_package/conanfile.py` then I get the error
[code]

My current workaround is to modify my `set_version` function of the `conan

[2022-10-27 08:29] jcar87 opened #12409 "[bug] Deprecation warning when installing Conan with pip"
On the latest pip 22.3, when doing `pip install conan`:

[code]

Consider whether the easiest for us is to provide a wheel, or to migrate to `pyproject.toml` and continue doing source distributions.

(first reported in https://github.com/conan-io/conan/issues/12400)

[2022-10-27 08:51] jcar87 commented on #12277
A `CMakeUserPresets.json` is generated by Conan as that provides handy features when invoking CMake to configure your project, although it requires a recent version of CMake.

The CMake [documentation](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html#introduction) specifies that it needs to be next to be in the project's _root_ directory, but also advises that `CMakeUserPresets.json

[2022-10-27 08:53] harsszegi commented on #12277
I'm not saying that the current behaviour is invalid, I'm just stating that it simply broke compatibility with earlier releases (regardless that the background reason is that "suddenly it just started to work"). Althought I have to state that I don't quite understand why it is a must to generate the user preset, why can't the user decide whether he/she needs this to be generated in the first place

[2022-10-27 09:08] niuzhi opened #12410 "conan package manager project help"
Hello, I am currently learning to use conan as a C/C++ package manager, and I have completed the study of the official tutorial. Currently, I want to use a complex project using conan as a package management to facilitate my learning. Can the community help provide some open source The project of the Conan package manager, I searched for a long time in github, but did not find a suitable project.

[2022-10-27 09:29] Karlinde commented on #12271
I'm jumping in here with a related question: I'm curious if anything actually changes when specifying to use the `default` profile as build profile using `-pr:b=default` compared to letting the settings be default as would seem to be the case when omitting it and getting the warning? If I as a developer am aware that if a build profile is not specified then the default settings will be used, then

[2022-10-27 09:41] czoido commented on #12407
Hi @puetzk,

Thanks a lot for the feedback. I think it could be useful to have control over this verbosity as a configuration so I'm adding this for consideration for the next release. I also wanted to suggest that you may use the `[buildenv]` section in the profile to set this environment variable easily, with a profile like this for example:

[code]

And using the confs:
- `tools.build:skip_test

[2022-10-27 10:15] czoido commented on #12410
Hi @niuzhi,

Welcome to the Conan community!

In case you have not seen it, there's a Conan series in the JFrog Academy: https://academy.jfrog.com/path/conan some parts are a bit obsolete but most of the concepts are still valid
Also, although is still a work in progress we have a whole new tutorial section focused in 2.0: https://docs.conan.io/en/2.0/tutorial.html
The examples repo also could be

[2022-10-27 11:54] memsharded commented on #12271
Hi @Karlinde

Yes, there are some internal changes, on how the information from dependencies propagate if "build" profile is enabled. For example build_requires will only propagate environment, but not ``cpp_info``. Or there can be versions conflicts that are avoided, because pkg->(tool_requires)->cmake-(requires)->zlib/1.2.8 might be possible even if ``pkg-(requires)->lib-(requires)->zlib/1.2.11,

[2022-10-27 11:55] memsharded commented on #12409
As the wheel generates on the fly super fast, I'd say upgrade to pyproject.toml, but lets discuss it. Maybe do pyproject.toml as a first step anyway, and the wheel can come later?

[2022-10-27 12:03] #12344 closed, assigned to memsharded

[2022-10-27 14:00] puetzk commented on #12125
Yeah, sorry about that. I was starting with a "me too" for similar workflows, then started running from your comments about using editable instead.

But only the idea about maybe using `write-tree`/`commit-tree` is directly applicable to get_url_and_commit(). This issue isn't the place to try and make editable more powerful.

Not sure how I overlooked that, but you're right. That would help... I'l

[2022-10-27 15:03] uilianries opened #12411 "[feature] Make self.dependencies available for test_package"
When creating a test package for a Conan tool package, there are few ways to validate its package.
One way checking its output, like its version and comparing from the package:

[code]

In case we try to use `self.dependencies["foo"]`, it returns `None`.

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-10-27 16:05] hwhsu1231 commented on #12400
@jcar87 I found a way to regenerate the `settings.yml`.

- First, delete the `settings.yml` directly.
- Second, run the `conan config init` command.

And then, there will be a whole new `settings.yml`.

![image](https://user-images.githubusercontent.com/71438617/198455372-4523a027-dbe0-4439-ad07-4e35369079b8.png)

[2022-10-27 16:40] franramirez688 commented on #11940
Should this issue be linked to Conan 2.x? Or should we open another one? Or even close this one?

[2022-10-27 16:42] franramirez688 commented on #12411
Hi @uilianries!

I think this issue is duplicated. Have a look at https://github.com/conan-io/docs/issues/2794

[2022-10-27 17:51] daywhirls commented on #12340
Thank you, I misunderstood the usage of `self.cpp.*.libs` defines, and that fixed my problem. The issue was that I was missing `self.cpp.build.libs = ['testpackage']` specifically. It seems that I do not need any of the `self.cpp.package.*` defines for this scenario.

Relating to this question you asked above when I was trying to use `self.collect_libs()` in `package_info()`,  I would like to glob

[2022-10-27 17:58] roedhaetten opened #12412 "[bug] GDAL does not work with with_jpeg=libjpeg-turbo"
It is not possible to install gdal with options with_jpeg=libjpeg-turbo and
libtiff:jpeg=libjpeg-turbo. gdal uses cmake_find_package as generator, and expects "Findlibjpeg-turbo.cmake" to be created. However, this is only created by libjpeg-turbo with the cmake_find_package_multi generator.

I propose adding cmake_find_package_multi as generator for gdal:

[code]

### Environment Details
  * Opera

[2022-10-27 19:32] SpaceIm commented on #12412
duplicate of https://github.com/conan-io/conan-center-index/issues/13818. Feel free to submit a PR in conan-center https://github.com/conan-io/conan-center-index/pulls to add `cmake_find_package_multi`.

[2022-10-27 20:37] memsharded commented on #12408
Exploring possible approach in https://github.com/conan-io/conan/pull/12413

[2022-10-27 20:46] memsharded commented on #12398
Hi @whitefluffypenguin

No, the packages artifacts are stored completely, not as deltas, in every different revision folder.
It is not possible to change this, the way the server stores and uses this information is hardcoded, it is not possible to overwrite it.

However, Artifactory storage is efficient, and implements de-duplication. If for some reason some artifacts would be identical in differe

[2022-10-27 20:54] memsharded commented on #12411
Hi @uilianries

I am afraid, this is not possible in 1.X, by design. The ``build()`` and ``test()`` methods execute locally, without re-constructing the dependency graph. So it is basically impossible to fill the ``self.dependencies`` when they are executing.

The approach would be similar to the one that recipe should use:
- Access ``self.dependencies`` in the ``generate()`` method, do whatever i

[2022-10-27 20:58] memsharded commented on #12340
I am afraid it is not possible, because ``collect_libs()`` operate over the already created packages, and at the time the ``layout()`` is called, the build might not have happened. I guess it might be possible doing some juggling to gather them if they have been built before, but I think it would not be worth the complexity and fragility. Defining the output library names is a "one-time" effort, a

[2022-10-27 21:06] roedhaetten commented on #12412
Sorry. Didn't see that one.
But now I did! Thanks. https://github.com/conan-io/conan-center-index/pull/13821

[2022-10-28 02:01] RazielXYZ commented on #12362
Probably going to want to delete CMakeUserPresets.json as well, just in case. Potentially other generated things for other generators and build helpers, just in case people would want to use test packages that use something other than CMake?

[2022-10-28 06:22] hwhsu1231 commented on #12400
@jcar87

What's your opinion about the method that I proposed?

Suppose that we accidentally deleted the `settings.yml.new` or this file wasn't created after upgrading Conan. What should we do to regenerate a suitable `settings.yml` for the current version? Is this method proper?

- If so, I think this issue can be closed.
- If not, what's the problem or side effect?
- If there exist other methods

[2022-10-28 07:44] jcar87 commented on #12412
Hi @roedhaetten  - thanks for reporting this issue and for your contribution to Conan Center. I will be closing this issue since it is a duplicate of https://github.com/conan-io/conan-center-index/issues/13818. If there's anything we assist with, please reach out!

[2022-10-28 07:44] #12412 closed, assigned to nobody

[2022-10-28 07:52] jcar87 commented on #12400
Hi @hwhsu1231  - thank you for troubleshooting this further. I have opened an issue to look into the warning from pip, and we will be amending the documentation to reflect the current settings.

Please bear in mind that once you have Conan installed, `settings.yml` lives in your home directory (typically `~/.conan/`). These files are _not_ removed when doing a pip uninstall, and they are not modif

[2022-10-28 07:52] #12400 closed, assigned to jcar87

[2022-10-28 08:58] Zvicii opened #12414 "[question] can conan build everything from source only once?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
-

I'm building an excutable for linux system with low version, so I have to build conan dependencies from source instead of downloading the binaries from conan center (so the `GLIBC` require is consistent with my local build env).

So I specify conan install with `--build` option. But

[2022-10-28 09:04] uilianries commented on #12411
@franramirez688 @memsharded Thank you both!

[2022-10-28 09:09] jasuramme opened #12415 "[bug] PATH for build dependencies is not appended"
Conan failing on installation with error NASM not found

It seems that in some cases conan doesn't add build tools folder to the PATH variable. I submitted one case how to reproduce it. For some reason we faced that in azure cloud running on azure agent we have the same issue calling following command as a script, but everything works fine when you run it with bash shell inside azure job...
Hopefu

[2022-10-28 09:09] paulharris commented on #11969
So what about this case in libvpx
[code]

Check VirtualBuildEnv ?  How would I do that from within `def build(self)` ?

[2022-10-28 09:10] paulharris commented on #11969
I should mention I used `ld = os.getenv("LD","ld")` in `nasm/test_package/conanfile.py`, I guess that should change too.

[2022-10-28 10:15] SpaceIm commented on #11969
You can create a VirtualBuildEnv instance and query variables, without calling generate. Though, the conan v2 way to inject cflags for users would be through `tools.build.cflags` conf.

[2022-10-28 11:08] memsharded commented on #12414
Hi @Zvicii

There is no way to achieve exactly that in the way you want to do it, via cli arguments.

But you give a very valuable hint about the reasons to achieve better binary compatibility.
If you want to do that, the best way is to explicitly model it:
- Define some custom setting, typically a subsetting of the ``os=Linux``, like ``glibc`` or ``distro`` or something like that: https://docs.co

[2022-10-28 11:10] #12414 closed, assigned to memsharded

[2022-10-28 12:08] #12376 closed, assigned to nobody

[2022-10-28 13:35] memsharded commented on #12415
Hi @jasuramme

I am having a look, some quick hints while building:

- The ``cmake_find_package_multi`` generator has been removed in 2.0, and it has already been superseded in 1.X by ``CMakeDeps``.
- The ``os_build``, ``arch_build`` approach has been deprecated long time ago, instead the recommended way is using the 2 profiles: ``--profile:build=default -profile:host=myprofile`` (or ``-s:h`` and

[2022-10-28 13:36] memsharded commented on #12415
Here it is working fine with (isolating from the other dependencies):

[code]
Can you please run this command in your setup, and paste the full output?

[2022-10-28 14:40] Da-LiFe opened #12416 "[bug] KeyError: 'cmake' when having both CMake and cmake packages in the cache"
### Environment Details (include every applicable attribute)
  * Operating System+version: open suse leap 15.3
  * Compiler+version: gcc7
  * Conan version: 1.40.4
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)

We use an internal cmake package in our organisation and, unfortunatelly, called it `CMake`. For the transition to conan 2.0 we need to start using a lower-case pa

[2022-10-28 15:55] dillydill123 opened #12417 "[question] write error: stdout when calling conan create"
I'm attempting to use `tee` to log the `conan create` command:

[code]

And every so often, I get this error during the build step. It's not every time, and the chance of it occurring increases with a higher number of parallel jobs.

[code]

Here is my `configure` and `build` commands in `conanfile.py`

[code]

I'm using conan version 1.53, Ubuntu 20.04.4 LTS, GNU Make 4.2.1, cmake version 3.22.0.

[2022-10-28 16:13] antze-k opened #12418 "[bug][conan 2.0] Problem with ``conan download`` from Artifactory server, 500 Internal Error"
I have Conan 2.0.0-beta4 and self-hosted Artifactory (artifactory-cpp-ce, 7.46.9). For some reason "conan list packages" seems to be not working if used remotely, but "conan list package-revisions" does work if I know the package ID. Packages are visible in Artifactory UI.

Example:

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTIN

[2022-10-28 16:40] antze-k commented on #12418
More information, this seems to be unrelated to Artifactory installation:

[code]

[2022-10-28 17:18] memsharded commented on #12417
Hi @dillydill123

Thanks for the report. It seems a challenging one to reproduce, because it is not deterministic and caused by concurrency. A couple of ideas:
- Parallel jobs run with separate independent caches via CONAN_USER_HOME? Because the conan cache is not concurrent in general
- You have a legacy conf https://docs.conan.io/en/latest/mastering/logging.html#how-to-log-the-build-process the

[2022-10-28 17:21] memsharded commented on #12418
Hi @antze-k

Thanks for your report!
I think this might be the same issue as https://github.com/conan-io/conan/issues/11370, and indeed related to Artifactory in both cases, because ConanCenter doesn't fail because it doesn't contain yet Conan 2.0 binaries. But if you use the repo for docs in https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html, you will get the

[2022-10-28 18:19] beenjohn opened #12419 "[question] [2.0] Cmake.ctest missing libraries"
For some background, I'm building a package that depends on gnuradio which complicates things in itself.

When trying to run cmake(self).ctest after a successful build, none of the dependency libraries are available. This is all being done in the build method of the recipe. I can make things work by adding the cmake path to the run environment and running ctest in the conanrunenv.

From looking at

[2022-10-28 18:43] antze-k commented on #12418
Oh, sorry for not seeing that one :)

[2022-10-28 18:53] beenjohn commented on #12419
I should add that I'm using a conan recipe for cmake, so cmake is only accessible in the build environment.

[2022-10-28 19:17] memsharded commented on #12418
No problem, better report it even if duplicated than not reporting 😄

[2022-10-28 19:23] dillydill123 commented on #12417
Thank you for the response. To be clear, when I say parallel jobs I meant `make -j`. So in this sense I suppose all the jobs are outputting to the same logfile. It's one `conan create` command with one cache that's receiving this error. Looking up this issue, I find that it existed before https://bugs.launchpad.net/ubuntu/+source/linux-signed/+bug/1814393, but I am well past the versions mentioned

[2022-10-28 20:20] hamham240 opened #12420 "[question] About cmake.configure()"
I am currently using conan 2.0, and it seems like in previous versions the `CMake.configure()` function allowed you to specify the build folder via the `build_folder` parameter. This parameter has been deprecated in version 2.0 and I wanted to know if there is still any way to specify which directory CMake will produce the build.

I know that the N configurations -> 1 package approach is discourag

[2022-10-28 20:27] System-Arch opened #12421 "[feature] Allow profiles to accept negated qualifiers"
Currently, from what I can tell, the only case in which a profile qualifier can be negated is if the qualifier is "&" as documented here: https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=tool_requires#declaring-tool-requirements

I have a use case where it would be useful to be able to apply a tool_requirement to every tool except itself. Here's what I'm trying to do:

My cur

[2022-10-28 20:32] daywhirls commented on #12340
Thank you for the confirmation. I took a look at the `layout()` [source code](https://github.com/conan-io/conan/blob/release/1.52/conan/tools/files/files.py#L511) and see that the issue is with `conanfile.package_folder` being `None` while editable.

In my case, I have third-party pre-built binaries of a few very large, closed-source software suites (dozens of .lib files for several different conf

[2022-10-28 20:38] memsharded commented on #12417
It might still help, because ``CMake.build()`` still runs ``conanfile.run()`` internally, please try it and let us know.

[2022-10-28 20:42] memsharded commented on #12420
Hi @hamham240

Yes, have you checked how the ``layout()`` and different helpers like ``cmake_layout()`` work? they allow defining the build folders. It is true that it works for single-configuration packages mostly.

It is not only discouraged, the remains of ``cpp_info.debug``, ``cpp_info.release`` that provided some attempt to support it, have been removed in 2.0. Packages will be strongly recom

[2022-10-28 20:43] solosuper opened #12422 "[feature] Additions to settings.yml through additional files in directory "settings.d""
Hi,
I wanted to air an idea regarding official updates of `settings.yml` in combination with customized versions through  `conan config install`.

Searching through existing issues I found https://github.com/conan-io/conan/issues/8261, which addresses the same problem but with a different approach.
The problem is to keep a custom version of `settings.yml` in sync with eventual updated versions tha

[2022-10-28 20:51] #6043 closed

[2022-10-28 21:05] dillydill123 commented on #12417
Still no luck with the following:

[code]

I can see the `conan_run.log` but still getting the same `make` error

[2022-10-28 21:11] dillydill123 commented on #12417
I don't have time today, but I was thinking of a test to verify that it is `conan`. My plan is to disable the `CMake.build()` step and call `cmake --build ...` in a separate script with the same `tee` command. This way I can isolate whether or not it really is `conan` causing the issue, because it's not so clear to me.

[2022-10-28 22:59] drussel opened #12423 "[bug] Periodic issues building packages with exported sources"
### Environment Details (include every applicable attribute)
  * Operating System+version: multiple
  * Compiler+version: multiple
  * Conan version: 1.53.0 and others
  * Python version: 3.7+

### Steps to reproduce (Include if Applicable)
Somewhat vague, sorry, but I'm not sure how to dig more (it doesn't help that when this occurs, we have a work around and the machine is broken until we apply

[2022-10-28 23:06] antze-k commented on #12418
Guess I'll have to reopen this one for some clarifications. You mentioned some kind of error which is also mentioned in that issue, but I have no error, I just have an empty list of packages:

[code]

I dug into the thing a bit and found that it goes into `conans/client/rest/rest_client_common.py`, `search_packages()` which queries the URL `http://<server>:8081/artifactory/api/conan/conan/v2/conan

[2022-10-29 00:29] SpaceIm commented on #12188
@memsharded @lasote Nothing planned for NMake builds in conan v2? There are now at least 3 conan-center recipes more or less broken for msvc after a migration to conan v2, since they don't propagate build_type at build time, and even vc runtime for some of them, as well as stuff like `tools.build.cflags`, `tools.build.cxxflags`, `tools.build.ldflags`. libjpeg is built with NMake, it has been migra

[2022-10-29 08:02] parachvte commented on #12023
Hit the same issue installing `sipbuildtool/0.2.2@ultimaker/stable` on Windows.
With `conan==1.53.0`.

Seems to work switching back to `conan==1.50.2`.

---
Updated:
With the error
[code]

I logged the settings, `conanfile.settings` of `sipbuildtool` is empty (`{}`), so it's unable to retrieve `build_type`.
Looks like `sipbuildtool` is not using the right profile.

Hope this information will help.

[2022-10-29 08:50] aacebedo commented on #12316
Agreed I close this. Thanks !

[2022-10-29 08:50] #12316 closed, assigned to memsharded

[2022-10-29 10:03] memsharded commented on #12188
Hi @SpaceIm

It is possible to directly create an environment script with ``Environment`` in the ``generate()`` method, and define there the necessary variables that such recipes need. I guess it might require a few lines of code, but if it is just CL and LIB env-vars, probably not that much. Probably we could have a specific generator for NMake, but seems a bit corner case, we don't have enough e

[2022-10-29 10:11] memsharded commented on #12422
Hi @solosuper

We have considered this, but after some discussions, this is the approach that we will propose for 2.X:

- We don't want Conan client to be merging different settings on the fly for every Conan invocation, because if something fails in that merge, it will have a very bad UX to fix it and get out of it, it will be very bad for users.
- So we will still propose the distribution of a m

[2022-10-29 10:17] memsharded commented on #12418
Not sure what is happening, but let me clarify a bit about ``package_ids`` in both versions, I think it can be related:

- The ``package_id`` for Conan 1.X and Conan 2.0 are different, even if they have exactly the same configuration, will result in different package_ids
- Package binaries built with 1.X and 2.0 can then be uploaded to the same server without collision
- ``conan search <recipe-ref

[2022-10-29 10:26] antze-k commented on #12418
Everything was done with Conan 2.0.0-beta4 and artifactory-cpp-ce, 7.46.9 (Docker installation, maybe the important fact that 7.46.9 is not "latest" but maybe even later than "latest"). The "repository path" in Artifactory for the mentioned package is `conan-local/abc/zlib/1.2.12/conan2/4303dad8e84d2e8733853de5b4aa2874/package/b5736aa1d5815ef8a63464066435f0707e7d783b/` (if that helps with determin

[2022-10-29 10:28] memsharded commented on #12423
Hi @drussel,

I see a couple of potential things that could be causing this:

- You cannot merge legacy generators like ``generators = ["cmake", "cmake_find_package"]`` and new ones like ``CMakeToolchain``. They will conflict and produce undefined behavior
- You also have to make sure that ``CMake`` is the one from ``from conan.tools.cmake import CMake`` and not the legacy one.

It is true that ``

[2022-10-29 10:30] SpaceIm commented on #12188
`VisualStudioBuildEnvironment` was the conan v1 build helper for NMake, it was handling at least build_type, runtime and dependencies. There is already a source of inspiration for a conan v2 build helper: https://github.com/conan-io/conan/blob/0b011fbd8f1f12b8a7c15a6716742ae0c7ece337/conans/client/build/visual_environment.py

That's a lot of code for a recipe, and this build helper relies on impor

[2022-10-29 10:33] memsharded commented on #12418
Yes, this doesn't help yet, because the path structure is the same, there is nothing there that is different in 1.X and 2.0.
The main difference will be inside the ``conaninfo.txt`` files inside the binaries, their structure is different in 1.X and 2.0

The critical point if that the packages there were created with Conan 2.0 ``conan create ...`` + ``conan upload``. It is not valid if those packag

[2022-10-29 10:36] memsharded commented on #12188
Then, my proposal would be a new modern NMake dedicated generator.

[2022-10-29 10:40] memsharded commented on #12023
Hi @parachvte

Not sure if the issue is on our side, or maybe @jellespijker can confirm if ``sipbuildtool`` maybe still have something not fully upgraded?

[2022-10-29 10:42] memsharded commented on #12417
Ok @dillydill123, yes, that would be helpful, let us know how it goes.

[2022-10-29 10:45] antze-k commented on #12418
Just if that helps, `conaninfo.txt` for the mentioned package, as it is in Artifactory:

[code]

They were, I uninstalled Conan 1.X quite some time ago.

So, you suggest that it's the same Artifactory bug as the one in #11370 (or maybe another manifestation of it)? I could check Artifactory logs, or maybe something else if you direct me. Unlike that known bug, I don't even have a workaround, becau

[2022-10-29 11:05] memsharded commented on #12340
Thanks for the explanation of the use case, it really helps to understand some bits.
Still not fully clear how they are updated frequently, if they are third-party pre-built. In our experience this kind of pre-builts distributed by vendors takes months to be updated. Also, it is definitely not necessary to zip those to test them, just a local ``conan create`` without uploading to the server works

[2022-10-29 11:07] SpaceIm commented on #12188
Current workaround: https://github.com/conan-io/conan-center-index/blob/62eb54fcf0911713889682f4e62927acaf4a82d9/recipes/libmp3lame/all/conanfile.py#L83-L89.
Not sure it works properly for `compiler=msvc`, and I guess it doesn't honor `tools.build.cflags` etc since it's a conan v1 build helper. But at least runtime & build_type flags are injected.
`settings.arch` is manually honored by replacing `

[2022-10-29 13:24] solosuper commented on #12422
Hi,
Thank you for your quick response and clear explanation.

That seems like a very good solution and I'm looking forward to Conan 2.x 👍

Feel free to close this issue.

[2022-10-29 21:38] SpaceIm commented on #12423
In conan-center, there were several issues related to cache corruption where recipe in local cache seems to be in an intermediate state between 2 revisions:
https://github.com/conan-io/conan-center-index/issues/8610
https://github.com/conan-io/conan-center-index/issues/12571
https://github.com/conan-io/conan-center-index/issues/13059
https://github.com/conan-io/conan-center-index/issues/13694

[2022-10-30 02:35] hwhsu1231 opened #12424 "[question] How to specify settings of Clang (GNU-like) and ClangCL (MSVC-like), respectively?"
### Problem Description

As we already know, there are basically two types of Clang compilers on Windows platform:

- `clang.exe/clang++.exe`: **GNU-like** CLI Clang.
- `clang-cl.exe`: **MSVC-like** CLI Clang.

According to the [article](https://blog.conan.io/2022/10/13/Different-flavors-Clang-compiler-Windows.html) of Conan Blog, there are two example Conan Profiles, **llvm_clang.profile** and **

[2022-10-30 04:30] hwhsu1231 commented on #12424
Should **GNU-like** Clang (`clang.exe`) of LLVM or Visual Studio use the settings like **msys2_clang.profile**, **cygwin_clang.profile**...etc because they all belong to **GNU-like** Clang?

That is, the differences between **GNU-like** Clang and **MSVC-like** ClangCL in **[settings]** section are:

- **GNU-like** Clang:

  - `compiler.libcxx`

- **MSVC-like** ClangCL:

  - `compiler.runtime`
  -

[2022-10-30 05:54] SSE4 commented on #12411
how about:
- add a new toolchain/generator to save `self.dependencies` information to a .json file
- add a new helper to reconstruct information from the `build`/`test` method

it may look like:

[code]

[2022-10-30 09:42] hwhsu1231 opened #12425 "[question] What's the difference between `gnu11` and `11` in `compiler.cppstd` setting?"
### Problem Description

I noticed that there are some value with **gnu** prefix in `compiler.cppstd` setting. For example: **gnu98**, **gnu11**, **gnu14**, **gnu17**, **gnu20**, and **gnu23**. I was wondering what is the difference between **gnu11** and **11** in `compiler.cppstd` setting? Or are they the **SAME**?

![image](https://user-images.githubusercontent.com/71438617/198871932-969846eb-92

[2022-10-30 19:42] define-private-public opened #12426 "[bug] failed to get spdlog with conan 2.0"
New to Conan, decided it would be okay to start using 2.0.  I tried to setup a simple conan file to grab `spdlog`:

[code]

Using that `zlib` tutorial as a template.  The `conan install . --output-folder=build --build=missing` command failed, here is the output:

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04 LTS
  * Compiler+version

[2022-10-30 21:40] gazzatav commented on #12392
@uilianries thank you for the great advice about using pyenv.  I was a bit reluctant to try it at first, hence the delay in my reply. When I had read through it, realised how it works and that it didn't **depend** on python, I gave it a go and it seems to be generally a really good way to control python installations and not only for conan.
In an unrelated task I'm setting up a toolchain for barem

[2022-10-30 22:57] memsharded commented on #12392
In an unrelated task I'm setting up a toolchain for baremetal compilation, which has a dependency on a version of python which is not on my system, so it looks like it will help with that as well.

Yes, exactly, using pyenv (or other virtualenv tools) is extremely recommended for the installation and usage of any python-based tool, not just Conan, because the dependency management in Python is not

[2022-10-30 23:02] memsharded commented on #12426
Hi @define-private-public

The ``conan.tools.layout`` import has already been changed in 1.X to ``from conan.tools.cmake import cmake_layout`` (but the previous one has been left to not break 1.X, but it is removed in 2.0).

Furthermore, it is very likely that recipes from ConanCenter are still not Conan 2.0 ready, as the migration is an ongoing effort, but it is still not done to all recipes, and