[2020-11-24 00:22] memsharded commented on #8102
Hi @SeanSnyders

As a quick feedback, because sometimes there is a bit of confusion about the ``test_package``: the ``test_package`` is not for functional or unit tests of the C++ code, it is intended exclusively to test the final package (check that headers are there, that the library is there and can be linked, etc)

So it seems that your approach so far is correct, you are managing the tests as

[2020-11-24 02:03] SeanSnyders commented on #8102
Thanks for the quick response.

Yup, thanks, I know the `test_package` is for package creation testing. I use it as such. And this works great with my recipe.

I have tried various things like `conan_basic_setup(KEEP_RPATHS)` similar to suggested setup for `test_package` Conan package testing, but it still did not work. As there are 2 CMake projects: top-level for the actual library and one for th

[2020-11-24 05:58] martin-koch commented on #8081
@memsharded: Suggested solution #8097 is working for my use case.

[2020-11-24 07:18] czoido commented on #8081
Hi @a4z, for me, a very handy way of testing that is creating a virtual environment and the installing with:  `pip install git+git://<repo>@<branch>`

In this case, as the PR was already merged to the release branch:

[code]

[2020-11-24 10:18] a4z commented on #8081
I have built successfully several packages for android and ios, using  Conan version 1.31.4 (must be that mentioned branch)

[2020-11-24 10:55] anders-wind commented on #6244
+1 for wanting this feature. I have personally added the it to our settings.yml so far.
One question though, what would be the way way for someone to consume our library without having to modify their own (potentially distributed) settings.yml?

[2020-11-24 11:08] sanko-oz commented on #8063
Hi @memsharded,

sorry for the late reply.
This is the traceback:
[code]

[2020-11-24 11:25] memsharded commented on #8081
Excellent, thanks very much @a4z !

[2020-11-24 12:00] jasal82 commented on #8081
Verified the branch against some arm cross builds. Seems to work fine.

Just for your information: We used to rely on the environment settings exposed by openembedded environment setup script (as generated by the Yocto SDK builds) to forward the required compiler settings to Conan and CMake. However, we ran into more and more problems with that approach because a lot of third party software (like

[2020-11-24 12:01] tharilya opened #8104 "[question] difference between "cpp_info.libs" and "cpp_info.system_libs""
Hi,

what is the difference for the customer of a package if you define a dependency due "cpp_info.libs" or "cpp_info.system_libs"?

example:
I am creating a static-library-package "LIB" and a executeable-package "EXE", with "EXE" has "LIB" as build-requirement.
LIB has a dependency to the library "pthread", which is required for usage of LIB.

in the "package_info" method of the conanfile.py of L

[2020-11-24 12:21] #8063 closed, assigned to memsharded

[2020-11-24 12:40] memsharded commented on #8063
Thanks @sanko-oz !

https://github.com/conan-io/conan/pull/8103 has been merged, it will be released in 1.32 soon.

[2020-11-24 12:58] memsharded commented on #8063
It has been backported in https://github.com/conan-io/conan/commit/69d3ecaf3729be362dc286ca448bbbc39a2164f2 to patch release 1.31.4, that should be released today or tomorrow.

[2020-11-24 13:47] ericriff commented on #8085
I saw this in the past and I believe it went away after upgrading artifactory, but I'm not sure.

[2020-11-24 14:10] rconde01 opened #8105 "[bug] pip install conan fails on macos 11.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac OS 11/M1
  * Compiler+version: AppleClang 12
  * Conan version: 1.31.1
  * Python version: 3.8.2 (system)

### Steps to reproduce (Include if Applicable)
1) Open a terminal
2) python3 -m pip install conan

I think there are not existing binaries so it builds from source
[code]

[2020-11-24 14:58] rconde01 commented on #8105
Duplicate:

https://github.com/conan-io/conan/issues/7286

[2020-11-24 14:58] #8105 closed, assigned to nobody

[2020-11-24 15:39] memsharded commented on #7286
To follow up (cc/ @rconde01) : https://github.com/conan-io/conan/pull/8075 is going to remove ``cryptography`` in OSX as a requirement, apparently it is not needed anymore. If things work without it, then we can consider this solved and close it.

Please upgrade to Conan 1.32 when it is released and report if it doesn't work. Thanks!

[2020-11-24 15:39] #7286 closed, assigned to memsharded

[2020-11-24 15:42] memsharded commented on #8104
Hi @tharilya

The ``system_libs`` are for libraries that do not belong to this package, and are installed in the system, like ``pthread``.
Any library that it is built as part of the package, should go to ``libs``.

The difference is that package ``libs`` should be located in the ``libdirs`` and will define absolute paths to it, to guarantee that it is using the package one. Otherwise, it will pic

[2020-11-24 17:46] sztomi commented on #8081
At the moment I can't quickly switch to a different conan version, but we are mostly using our own helpers (predating the upstream ones), so I don't think this will cause problems for us.

[2020-11-24 17:54] malachib commented on #7963
I too am interested in this.  I develop a multi-platform library which runs on more compilers than are usually installed.  CMake-oriented.

As such, I'd prefer the consumer to compile the library rather than prebuilt.

[2020-11-24 18:24] memsharded commented on #8081
Ok, thanks very much all for the feedback!!! :) :) :)

Lets move with #8097 for Conan 1.31.4, and we will keep working from there (please @AlexGoMobile, it would be great if you could update when it is released and try)

[2020-11-24 18:24] #8081 closed, assigned to SSE4, czoido, memsharded

[2020-11-24 18:53] f18m commented on #8085
Hi @memsharded ,
I can confirm that indeed removing the --packages option the whole package gets removed from Artifactory, thanks for pointing it out!
Closing this bug!

[2020-11-24 18:53] #8085 closed, assigned to memsharded

[2020-11-24 20:34] ericriff commented on #7691
I'll include my grain of salt to this issue.
[FindBoost.cmake](https://cmake.org/cmake/help/latest/module/FindBoost.html) generates the following variables: `Boost_<C>_FOUND`, `Boost_<C>_LIBRARY` where `<C>` is each one of the components. These variables are not generated by `cmake_find_package`, which breaks some projects that rely on them, like [GTSAM](https://github.com/borglab/gtsam/blob/4.0.3

[2020-11-25 00:04] memsharded commented on #8071
Hi @Da-LiFe

Did you have a chance to have a look to the test in https://github.com/conan-io/conan/pull/8084/files? I'd say it is coding your use case and it is passing (in develop branch)

[2020-11-25 08:49] tharilya commented on #8104
Hi @memsharded

to be honest ... that kinda confuses me. Because:
you first say that `pthread` is a system library (of course nothing new ...) so I guess that `pthread` should go into the "system_lib"-section.

And you additionally wrote:

So in my exampe `LIB` uses `pthread` directly and it is a static library, so in linking-time the symbols are just referenced. So I guess that `pthread` should a

[2020-11-25 09:46] memsharded commented on #8104
Hi @tharilya

No, in your package "mycoolpkg" you build "mycoollibrary". This **depends** on the ``pthread`` system library, but ``pthread`` is not built in this package. Then:

[code]

Conan generators, like ``cmake`` one, will search for ``mycoollibrary`` inside the package folder, to get the full path and ensure that library is found in the package you are requiring, but it will not process ``p

[2020-11-25 10:11] tharilya commented on #8104
Hi @memsharded

thank you very much for the explanation!

[2020-11-25 10:11] #8104 closed, assigned to nobody

[2020-11-25 10:57] muzammil360 commented on #1567
+1. I am trying to push a package to gitlab and it gives me the error that username is too long. (should be less than 51 char). Now for gitlab, I have to add a new project based remote. If only I can add it in conanfile, it will make my life simpler. But now I need to manually add that remote everytime I try to pull this. Furthermore, a new user in team will have no idea why he can't pull it unles

[2020-11-25 11:10] memsharded commented on #1567
Hi all

This is a long standing request, and we have learned a lot since then. We have learned from many companies having projects with thousands of packages, and from open source users.

We can conclude that putting the remote information into recipes is a bad idea. It completely breaks possible ownership of packages (the flow that ``conan download`` + ``conan upload`` a package, to store a copy

[2020-11-25 11:10] #1567 closed

[2020-11-25 12:18] SimplyLiz opened #8109 "[question] problem with collecting .so libs that have a . in the name"
I'm using conan to collect libraries (.so) in a specific directory.
Edit: Since it's not obvious. I'm using cmake.

All libraries are found, but the ones that don't have a lib prefix AND a `.` in the name are not added correctly.
I get an linker error. You can see in the log below, that all libs have the full path appended, but those "special name" libs are added via -l and thus fail

is this a bu

[2020-11-25 15:40] #8011 closed, assigned to danimtb

[2020-11-25 18:59] steinerthomas commented on #5067
Hi,
in my CI job I'm also pre-building some packages with different toolchains, versions and options and upload them to Artifactory for our consumer projects (we can't use `--build missing` neither).

Are there any news on this issue?
Will there be a possibility to override versions for transitive dependencies in the future?
e.g. `conan create --requires=sqlite3/3.30.1 . sqlitecpp/2.5.0@` (like @f

[2020-11-25 20:56] madebr opened #8113 "[question] Does conan support Macos on ARM (ARM on Apple desktop) with xcode >=12"
Today, we received [this bug report of an Apple developer](https://github.com/conan-io/conan-center-index/issues/3690) creating a x86_64 executable instead of an arm when wanting to natively building an arm application.

I think this is because `clang` builds x86_64 executabled by default and conan does not add the correct `CFLAGS/CXXFLAGS/LDFLAGS`.

I think conan needs to add the correct flags.
A

[2020-11-25 21:30] #7177 closed, assigned to nobody

[2020-11-25 21:35] memsharded commented on #7177
https://github.com/conan-io/conan/pull/7645 implemented this, will be in 1.32.

Please @Hbkhan take into account that the recommended generator and moving forward will be the ``msbuild`` generator, not the ``visual_studio`` one.

[2020-11-25 23:52] memsharded commented on #7967
Hi @cbecker

As it seems you have a workaround, or as you have like 15 packages from ConanCenter, explicitly listing them (in CI or in a script) might be doable, I am moving this to Conan 2.0. The issue is that it seems impossible to do it without breaking, or without requiring a hacky solution, like a configuration flag, or the negate patterns. So if we could wait until we have the right implemen

[2020-11-26 08:51] madebr commented on #8080
Having cmake.install work by default is sometimes useful when the output dirs functionality of the cmake generator does not suffice

Maybe conan should set the package folder of a test_package to a `package` subdirectory of the build folder.

[2020-11-26 09:40] SSE4 commented on #8113
I think we do automatically adjustments for CMake build helper, but not for the AutoToolsBuildEnvironment helper right now, that's the problem. there are two flags are usually needed for iOS/watchOS/tvsOS : `--isysroot` and `--arch`. I believe that's the same for ARM Macos.

[2020-11-26 11:05] horusxnetworks commented on #8022
This issue can be resolved by force Conan to create default profile:
`conan profile new default --detect --force`

[2020-11-26 11:16] Yuri6037 commented on #8022
This is the kind of reason I started my own package manager: it is unacceptable that the user must type an additional command before installing packages. There should a single command (like npm install) which resolves all packages and has little chance of failure! This is what I call simplicity!

[2020-11-26 11:23] daravi commented on #8089
I also had the exact same issue as conan-io/conan-center-index#3619 when trying to create my own mongo-cxx recipe (thanks @madebr for the hint). In my case I had set PKG_CONFIG_PATH to `/usr/local/lib/pkgconfig` (don't remember why). In any case I expected this to work similar to how `self.env_info.PATH.append(bindir)` works so I didn't expect this either. It would be great if in such a case that

[2020-11-26 12:12] memsharded commented on #8089
I agree this sounds a good feature. Logging some variables make sense, and I like the ideas of being able to fully control the environment. Some of the ongoing work in profiles (https://github.com/conan-io/conan/pull/7945, https://github.com/conan-io/conan/pull/7922) might introduce the possibility of reading and redefining env-vars, which might partially help with this.

The environment discussio

[2020-11-26 12:45] memsharded commented on #8102
Having an independent recipe for the test suite sounds too overkill. I would only do that if for example I need to store the tests binaries in a package (for compliance, regulations...) and of course I don't want to pollute my production package with those tests binaries. For the other cases, the test suite should probably go on the main conanfile.py ``build()`` method.

Probably hardcoding the RP

[2020-11-26 13:26] jgsogo commented on #8109
Hi, @JimmySnails

The [tool `collect_libs`](https://docs.conan.io/en/latest/reference/tools.html?highlight=collect_libs#tools-collect-libs) might have it's limitations (and bugs). It uses the filesystem name to look for the libraries and it assumes that they follow some rules. It would be really hard (impossible) to match those _unexpected_ names.

Nevertheless, you can list the libraries yourself

[2020-11-26 19:26] memsharded commented on #8080
This PR https://github.com/conan-io/conan/pull/8117 defines the ``package_folder`` to be the current build folder of the test_package recipe. I am not sure about naming such folder ``package``, because that is not a package at all, and could be very confusing to many users. Any name would feel a bit arbitrary, isn't it possible to make it install directly in the build folder?

[2020-11-26 19:35] madebr commented on #8080
It can, but it might clash with the output directories set by the cmake gnerator (and able to disable by `conan_basic_setup(NO_OUTPUT_DIRS)`).

[2020-11-26 19:42] memsharded commented on #7280
Progress on toolchains until 1.32

Added CMake, MSBuild, Make and Meson experimental toolchains

Need to keep working in:

- Cross-building scenarios: Androd, iOS
- Using different build systems: Ninja, MinGW
- Custom configurations: ReleaseShared, etc
- User extensibility
- User interface, what things can be configured.
- Consider injection of generic CXXFLAGS?

[2020-11-26 19:52] memsharded commented on #7881
So at the moment, it seems the above described approaches would be the best solutions:
- ``pkg/system`` for system level libraries that can only have 1 version which is in practice bound to the OS/distro,
-  ``pkg/version``, proxy recipe, that can model and use different versions of the same library that is not installed by Conan, but that in theory could be converted to a Conan package.

Both req

[2020-11-26 19:52] #7881 closed, assigned to jgsogo, memsharded

[2020-11-26 22:09] michaelmaguire commented on #6930
UPDATE: Thanks to @memsharded, we see that updated docs on this can be found at https://docs.conan.io/en/latest/versioning/lockfiles/ci.html

[2020-11-26 22:09] #6930 closed, assigned to jgsogo

[2020-11-26 22:09] SeanSnyders commented on #8102
Thanks for the continued responses.

I have gotten it to work in a 'simple' way, after having systematically had to play with all combinations of Conan's default settings of CMake variables and CMake variables themselves (`CMAKE_MACOSX_RPATH`, `CMAKE_SKIP_INSTALL_RPATH`, `CMAKE_SKIP_BUILD_RPATH`, `CMAKE_BUILD_WITH_INSTALL_RPATH`,  `CMAKE_INSTALL_RPATH_USE_LINK_PATH`, `CMAKE_SKIP_RPATH`).

The solu

[2020-11-27 08:14] phi-hae commented on #8080
@memsharded First of all, thanks for looking into this. Imho calling it "package" would make a lot of sense since then we'd get the same behavior inside the test_package build folder when calling "conan create" on the package's conanfile and when running "conan install && conan build" on the test_package's conanfile

[2020-11-27 09:31] Da-LiFe commented on #8071
Hi @memsharded

Thanks for providing this test! Didn't yet know about this nice feature of creating conanfiles for tests. I think my example was too much abstracting the actual problem, as your test also runs fine in our environment. The actual dependency graph is way more complicated. I've added a bit more of the real complexity to be able to reproduce the error:

[code]

Result:

[code]

That's

[2020-11-27 10:49] memsharded commented on #8071
Hi @Da-LiFe

Thanks for putting it together as a test!

I am checking it, but surprised to find:
[code]

With this code, you are making the ``rosparam_handler/0.1.4@3rdparty/unstable`` depend on the PR snapshot ``ros_robot/PR-53@3rdparty/snapshot``, which seemed surprising as I am drawing the graph. Is this the intent or is it a mistake in the test?

[2020-11-27 10:59] memsharded commented on #8080
I have added ``package`` to my test, but it was reading a bit magical and obscure:

[code]
So instead of adding this, I would recommend at the moment the explict ``package_folder`` definition. @phi-hae your code above can be greatly simplified, and look less like a hack. This works:
[code]
We will probably be working soon in better modeling of the layouts, but at the moment I think it would be a n

[2020-11-27 11:29] Da-LiFe commented on #8071
Hi @memsharded

Indeed, that is an error in the test. `rosparam_handler/0.1.4@3rdparty/unstable` should depend on `ros_robot/1.1.4@3rdparty/unstable`. So its giving an error, because there is no "override". Having to look further then for a good test :-/

[2020-11-27 12:59] Da-LiFe commented on #8071
After adding and adding all of the actual dependencies of those ros_* packages to the test I'm still not able to reproduce this issue this way. But what I find interessting is, that `conan info` is working, but `conan create` is not:

[code]

@memsharded Any further ideas how to takle this issue?

[2020-11-27 17:25] DoDoENT opened #8119 "[bug] `tools.cross_building` returns true when `arch == arch_build`"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.0
  * Compiler+version: Xcode 12.2
  * Conan version: 1.31.4
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)

I'm updating my build system to support building fat arm64+x86_64 binaries for MacOS. In order to do that, I've created a `macos_fat` architecture in my settings.ym

[2020-11-27 19:06] peter-moran opened #8120 "[feature] conan config install from a conan package"
[`conan config install` currently supports getting configs from a git repository, local file or folder or zip file (local or http)](https://docs.conan.io/en/latest/reference/commands/consumer/config.html#). I would like to be able to do this from a conan recipe.

Why? Because I would like to use conan to manage my dependencies but find that I am instead using git for my configs. This is particular

[2020-11-27 19:41] memsharded commented on #8120
Hi @peter-moran

Yes, this totally make sense, and it is not the first time that it has been requested. Surprisingly I have been looking for an existing issue and couldn't find this, so lets use this one.

The only problem I see is that we are starting with Conan 2.0 and the load is very high, and this seems it is a great new feature, but not super critical, I am not sure when it is going to be po

[2020-11-27 21:03] memsharded commented on #8119
Hi @DoDoENT

I am doing some quick unittest, and so far it is working fine:
[code]

Any suggestion? I might try do something more integration-test, but so far no idea where the bug could come from.

[2020-11-27 21:13] DoDoENT commented on #8119
It's possible that what I see is the side-effect of some other bug. I'll try creating a reproducible sample during the weekend or next week (I reported this quite in a hurry..., not as I usually do 😉 ). Maybe while creating the sample I'll discover what is causing this. Let's keep this open until then...

[2020-11-27 21:17] memsharded commented on #8119
Sure! I will also try to reproduce in my end with an integration test.

[2020-11-28 16:05] solvingj opened #8121 "[feature] Separate actions of "resolve graph" and "download sources" from "install""
I'm exploring numerous strategies for performing debugging of applications from Conan packages.  When debugging, debuggers look for sources.  Currently, it's possible to point debuggers to sources in Conan cache (although we would like to improve this experience).  However sources for a given package are only downloaded by Conan when it does a `--build` of that package.  For the debug case, we wan

[2020-11-28 16:31] solvingj commented on #5718
This topic has come up in a broader context in discussions of workflows involving full folder copies repeated multiple times typically with small incremental changes to only a few files.  There's probably not that many ways to improve a first-time folder copy.  However, there are certainly ways to improve performance on subsequent copies.  Conan's current strategy focuses primarily on safety, and

[2020-11-29 20:12] memsharded commented on #7863
This is still pending, waiting for https://www.jfrog.com/jira/browse/RTFACT-23580., so there is little we can do on our side, I am moving to next release.

[2020-11-29 20:48] blackliner opened #8122 "[question] Using CMake toolchainfile generator"
I do have the following snippet as part of my `conanfile.py` , and would expect the resulting `conan_toolchain.cmake` would set things like `CMAKE_CXX_COMPILER` , but it does not :disappointed: all that is in said autogenerated `conan_toolchain.cmake` is `CMAKE_BUILD_TYPE=Release`  and some variables starting with CONAN...
[code]
I am using the following command:
[code]
Log:
[code]

To be able to

[2020-11-29 21:02] RefusesNames opened #8123 "[bug] "conan install .." not working in pwsh"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Version 2004
  * Compiler+version:
  * Conan version: 1.31.4 and 1.30.2 (just checked if this problem was from a new version)
  * Python version: ? (used binaries from scoop)

### Steps to reproduce (Include if Applicable)
Follow steps [here](https://docs.conan.io/en/latest/getting_started.html) u

[2020-11-29 21:39] memsharded commented on #8122
Hi @blackliner

https://github.com/conan-io/conan/pull/8034/files for next 1.32 will partially define the compiler for some cases, like when using Ninja in Visual. But this is very preliminary and experimental.

So far, the experimental toolchains are implementing the features and capabilities that were implemented in the previous build helpers. But setting the compiler was never one of them, the

[2020-11-29 21:43] blackliner commented on #8122
We do embedded, safety critical software. To ensure reproducible builds, we have to strap down the exact compiler version, flags, tools etc via toolchain files. This also holds true for the dependencies we build and ship. So maybe I need to stick to `export CONAN_CMAKE_TOOLCHAIN_FILE=$TOOLCHAIN_FILE` for now.

[2020-11-29 21:45] blackliner commented on #8122
Oh but I see the problem: If I do not also tell conan all the compiler settings etc, how should it know that settings changed? Sounds like I need to maintain 2 systems: conan settings and a toolchainfile... :-/

EDIT: Oh nice, conan DOES see that something is wrong
[code]
So, maintaining profile and toolchainfiles now? Hmm...

[2020-11-29 21:46] memsharded commented on #8123
I am using ``conan install ..`` in a Powershell terminal and seems to work fine. Could it be that binary from scoop?
I am using Conan with ``pip install conan``. Could you try that? Maybe this is something that should be reported to the scoop package maintainers (we don't create that package ourselves)

[2020-11-29 21:55] memsharded commented on #8122
The thing is that a complete, accurate toolchain is impossible to be deduced from profiles. A profile is an abstraction that defines the binary compatibility and high level configuration of dependencies, but many users will have very specific toolchains that require complex setups, from environment scripts, to cmake-toolchains, to proprietary tools...

In that sense, it is possible, for example, i

[2020-11-29 23:38] #6960 closed, assigned to nobody

[2020-11-30 08:26] SSE4 commented on #8037
/cc @jgsogo

[2020-11-30 10:42] memsharded commented on #8037
Hi @Johnnyxy

Not really. The way that you opt-in to use the new contexts is by explicitly defining a host profile at least. So

[code]
Will not use the new feature at all, this is the previous default behavior, no build profile is defined nor used.

[2020-11-30 10:43] DoDoENT commented on #8119
Here is the reproducible case: [conan-cross-compile.zip](https://github.com/conan-io/conan/files/5615424/conan-cross-compile.zip)

- unzip `conan-cross-compile.zip`
- install provided config `conan config install config.zip`
- create provided conan package with `conan create ./conanfile user/testing -pr macos-xcode-fat-clang-12.0.0`

Package build fails because `tools.cross_building(self.settings)

[2020-11-30 10:46] memsharded commented on #8121
This might be doable, I have checked the code, and seems possible without a huge effort. Let's consider this while developing Conan 2.0.

[2020-11-30 10:53] czoido commented on #7498
Hi @szegel,
Are you still having this issue? I have created a script trying to reproduce here: https://github.com/czoido/issue-7498 but I was not able to reproduce the issue to date. Did you find out anything more about this?
Please, if anyone can try to reproduce it would be of great help.
Thanks!

[2020-11-30 11:04] Johnnyxy commented on #8037
ok, this rules out the third (old) one.
What about the second one? ```conan install abc/0.0.0@ --profile:host=pr_host```
What is or should be defined in conan's build context?

[2020-11-30 11:22] TamiKra opened #8127 "conan returns package not found whithout anonymous usage enabled in artifactory from #4930"
In #4930 the reason for "package not found" was in the artifactory-return-code-404 (instead of 403).
That is an explanation **why** the behavior of conan is wrong, but it does not remedy the behavior. i.e. it's **still broken**.

expected behavior:
- When trying to find a package on an artifactory-repository, but the permissions are insufficient for that request, conan must always behave according

[2020-11-30 11:25] TamiKra commented on #8127
Note: we spent 3 people for 2 days debugging this behavior. When I suspected a bug, I didn't find one at first because it was closed a long time ago without a solution.

[2020-11-30 11:27] #8043 closed, assigned to czoido

[2020-11-30 13:56] f18m opened #8128 "[question] how to have Conan package requires of conanfile.py automatically populated from its own conanfile.txt"
Hi,
I'm trying to build a microservice using C++ and Conan.
This microservice needs to link to (shared) libraries transported by Conan packages. Some of these Conan packages have other dependencies as well... E.g. my microservice depends on A,B   and conan package A depends on package C.

My understanding is that the "conan info -g mydeps.html" should be able to draw the chain of A,B,C dependencie

[2020-11-30 14:55] #7985 closed, assigned to memsharded

[2020-11-30 15:09] memsharded commented on #8128
Hi @f18m

Yes, if you are writing a ``conanfile.py`` my recommendation would be to completely forget and remove the ``conanfile.txt``. There is nothing that the conanfile.txt can do that the conanfile.py cannot implement. And you can use ``conanfile.py`` in any ``conan install`` command that you would use the .txt.

The ``conanfile.txt`` file format is intended for very simple consumer-only scenar

[2020-11-30 15:35] #7811 closed, assigned to danimtb

[2020-11-30 15:53] memsharded commented on #8119
Hi @DoDoENT!

I have investigated this, and finally understood what is happening!

The ``tools.cross_building()`` take the information from the ``conanfile=self``. As your ``conanfile`` is not declaring settings ``os_build`` or ``arch_build``, those values are being completely ignored, and the helper functions will take the current detected platform. If you want ``tools.cross_building()`` to retur

[2020-11-30 16:30] #8092 closed, assigned to memsharded

[2020-11-30 16:33] puetzk commented on #3573
This is not the case: e.g. the v141 toolset encompasses all VS2017 versions, the v142 all VS2019 versions, and yet there are LTO-incompatible changes the minor versions (in a semver-conforming way; the newer linker can read old libraries, but not vice-versa)

https://devblogs.microsoft.com/cppblog/side-by-side-minor-version-msvc-toolsets-in-visual-studio-2019/

[2020-11-30 16:39] memsharded commented on #8092
Conan 1.32 adds in https://github.com/conan-io/conan/pull/8094 syntax for listing packages that don't have a remote defined.

[2020-11-30 16:40] DoDoENT commented on #3573
@puetzk, if you refer to VS 16.7.0 vs 16.7.1 and so on - they are LTO link compatible - I've tested that.

There are incompatible changes between minor versions of v142 toolsets, as it always select the latest compiler from the v142 toolset branch. But you can select the exact compiler version with `vcvarsall.bat`. For example:
[code]

will select the MSVC 19.25 for current shell (to be used with

[2020-11-30 19:50] #8048 closed, assigned to danimtb

[2020-11-30 21:41] memsharded commented on #8127
Hi @TamiKra

I am not sure I understand what you mean. #4930 explains that Conan servers are reporting 403 according to the specification of the W3.org: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4

The current Conan behavior is totally correct, and following standards, if a server doesn't want to disclose if a package exists or not exists to non-authenticated users, it can re

[2020-11-30 21:51] solvingj commented on #8120
I agree with everything said here, and also want to add some additional points which were not mentioned.

When working on the general problem of reproducibility of builds with Conan, there are multiple states which all must be reproduced in order for Conan to deliver reproducibility:

- Environment state (IE. docker image, virtual machine image, build machine)
- Conan configuration state (`conan c

[2020-11-30 22:31] #7591 closed, assigned to memsharded

[2020-11-30 22:34] memsharded commented on #7889
Fixed by https://github.com/conan-io/conan/pull/8114, will be released in 1.32

[2020-11-30 22:34] #7889 closed, assigned to danimtb

[2020-11-30 22:36] #7832 closed, assigned to memsharded

[2020-11-30 22:37] memsharded commented on #7832
https://github.com/conan-io/conan/pull/8124 added back CACHE, this will be released in 1.32

[2020-12-01 12:06] db4 opened #8133 "[question] library with the only .o file?"
The library I'm trying to package creates a single .o file:
[code]
Can it be used without modification in a conan recipe? Or some Makefile patching is required?

[2020-12-01 15:47] #4529 closed

[2020-12-01 17:14] #7991 closed, assigned to memsharded

[2020-12-01 17:17] jgsogo opened #8135 "[rfc] [v2] Managing options of requirements (Conan v2)"
(Copied from [here](https://github.com/conan-io/conan/pull/7993#pullrequestreview-540996090))

Consider a different approach to the `default_options` for requirements' options. I mean, we are used to recipes like:

[code]

What is the purpose of this statement (or the similar one `default_options = {'LibA:myoption': False}`)? To _force_ the value of the option of a requirement. What for? Many time

[2020-12-01 18:49] uilianries opened #8136 "[feature] Specialized type for ANY option"
Hi!

The generic [option](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#options) `ANY` works pretty well for most cases, but some cases requires an extra check based on variable type, for instance, I can receive the CPU number, which is an integer:

[code]

Obvious, I can't receive strings.

A real case: https://github.com/conan-io/conan-center-index/pull/3630/files#diff-1efc

[2020-12-01 19:27] solvingj opened #8138 "[feature] Support parallel processing workflow (fork/join) with lockfiles (multiple containers)"
When a lockfile is used to create a `build-order.json` file, and that `build-order.json` features multiple parallel nodes, it is possible and straightforward to "fork" the workflow and dispatch each node to be built on a separate build host/vm/container in parallel.  However, there is currently no way to "join" the updated lockfiles from those separate builds into a new lockfile which contains the

[2020-12-01 19:46] memsharded commented on #8136
This seems a lot of effort to provide a slightly better UX, that is only there to provide some better error messages when the user input in profiles or command line is wrong.

Because internally, everything is a string, and the final conversion to int() or float() has to be done anyway by the users, if they need the integer value in the recipes. I am ok if that raises because the input is not conv

[2020-12-01 19:49] uilianries commented on #8136
Indeed, closing this issue.

[2020-12-01 19:49] #8136 closed, assigned to nobody

[2020-12-01 20:22] solvingj commented on #8138
It seems that `conan lock update` is designed expressly for this purpose.  Thanks to @memsharded for pointing it out.

[2020-12-01 20:22] #8138 closed, assigned to nobody

[2020-12-01 23:11] memsharded commented on #8133
Hi @db4

I think it is fine, you can put whatever file you want in a package. So you can do the ``self.copy("*libbase64.o")`` and package that file. I guess in the consumer side you might need to take that into account to link correctly with it, but I guess it is possible.

Why not creating a regular static library from the .o file? Is there any special requirement to keep it as an object file ins

[2020-12-02 06:16] Quincunx271 opened #8139 "[bug] Clang-12 support"
### Environment Details
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: Clang 12
  * Conan version: 1.31.2
  * Python version: 3.9.0

### Steps to reproduce

 * Add LLVM apt repository: https://apt.llvm.org/
 * Run `sudo apt-get install clang-12`
 * Try to use conan when specifying clang version 12

### Logs

Running `conan install . -s compiler.version=12`

[code]

### Expected b

[2020-12-02 08:13] fanxinping opened #8140 "Is there a way to find a package maintainer's email?"
I cannot find the maintainer's email for any package, for example, https://conan.io/center/librdkafka?os=  .

Does anyone  know? Thanks

[2020-12-02 08:23] memsharded commented on #8140
Hi @fanxinping

There is no specific maintainer for every package, but many times it is a community effort. If you have any issue with that package, report it in the conan-center-index repository, where all the recipes are maintained.

Moving the issue to that repo.

[2020-12-02 08:35] memsharded commented on #8139
Because Clang12 has not been officially released yet: https://releases.llvm.org/download.html, and binary compatibility might change if the compiler version is not officially released, and that will break the Conan binary model. For example, the compiler default C++ standard might change (not that it happens that often, but it happens). Also compiler vendors might decide to change the versioning s

[2020-12-02 08:36] memsharded commented on #8139
This would be a duplicate of https://github.com/conan-io/conan/issues/8033, so I think it can be closed, and tracked there. The moment Clang 12 is officially released, we will add it to our default settings. Thanks for reporting!

[2020-12-02 08:36] #8139 closed, assigned to memsharded

[2020-12-02 09:07] SSE4 commented on #8135
what will be result of assert? `ConanInvalidConfiguration` or something else?

[2020-12-02 09:11] danimtb commented on #7615
I have created this PR https://github.com/conan-io/conan/pull/8130 to try a new approach using build modules for this kind of thing. I feel that CMake has so many different moving parts that it is a bit messy to keep adding things to the cpp_info model. WDYT?

[2020-12-02 09:19] jgsogo commented on #8135
I'll change the comment, take that `assert` as a `if .... raise ConanInvalidConfiguration`.

[2020-12-02 10:15] db4 commented on #8133
So it's not suitable for general purpose Conan package.

Because the library I'm trying package https://github.com/conan-io/conan-center-index/pull/3746 does not build .a file.  I would like to avoid Makefile patching but it became necessary anyway for other reasons.

[2020-12-02 11:10] memsharded commented on #3334
Python 2 is deprecated already, and plan for removing it completely is in place: https://github.com/conan-io/tribe/pull/3

[2020-12-02 11:10] #3334 closed

[2020-12-02 12:05] phi-hae commented on #8080
@memsharded Please correct me if I'm wrong but isn't the first case that you say is reading a bit "magical" the default for "conan build <conanfile>"? Probably self.package_folder defaults to "package" there? I don't understand why it should be different for test_package...

[2020-12-02 12:12] phi-hae commented on #8080
Thanks also for your suggestion with `self.package_folder = "package"`. That works for me, and yes - it looks way better already :)

[2020-12-02 13:49] uilianries opened #8142 "[bug] Recipe description breaks pkg-config generator"
This bug comes from https://github.com/conan-io/conan-center-index/issues/3745

As you can see, Conan has a limitation to format strings when it comes with a tuple. Tuple is total valid on multi-line situation, and it's considered more pythonic.

### Environment Details (include every applicable attribute)
 * Package Name/Version: gsl-lite/0.37.0
 * Operating System+version: Linux Ubuntu 18.04
 *

[2020-12-02 14:44] FnGyula opened #8144 "[bug] Lock file generated with the `--base` option cannot be used for install"
### Environment Details (include every applicable attribute)
  * OSs: Win/Mac/Linux:
  * Compiler: VS2017/AppleClang 10.3/gcc 6.3.1:
  * Conan version: 1.31.4
  * Python version: 3.7.7

### Steps to reproduce (Include if Applicable)

1. `conan lock create --base --lockfile-out conan.lock conanfile.py`
2.a. `conan install -l conan.lock .`

or

2.b. `conan install -pr default -l conan.lock .`

### L

[2020-12-02 14:55] memsharded commented on #8144
Hi @FnGyula

This is not a bug, this is by design.
You need to derive a configuration specific lockfile from the base one in order to be able to install it.

Please read carefully https://docs.conan.io/en/latest/versioning/lockfiles/configurations.html#base-lockfiles, there it explains how to do it, in short:

[code]

[2020-12-02 15:25] manoprenko commented on #6079
Hi!

Let's bring this issue back to life. It really sometimes causes big troubles when a build process which was not properly terminated leaves some locks and leads all consequent builds on the same machine to be hung.

Maybe it is acceptable to merge the PR from vector-of-bool?
Also there is `InterProcessReaderWriterLock` in `fasteners` which may be capable of solving this issue. I haven't seen a

[2020-12-02 16:48] FnGyula commented on #8144
Ok, that kind of makes sense, thank you.

I just wonder if we could merge this functionality into install, because this will add an extra command for every dev trying to use the system. From a user experience point of view, not being part of the install command while it looks very much like the install command makes it largely redundant and difficult to remember. And if that's the case, now I have

[2020-12-02 17:38] ericriff opened #8145 "[question] find_package with components behavior"
I've recently started using the (still under development) recipe of boost which introduces components support and I've noticed a strange behavior when we use `findBoost.cmake` when we specify the components we want instead of looking for the whole boost. Maybe it is the normal behavior, I'm not sure.
The "issue" that I'm seeing is that if you ask `find_package()` to provide you with some of the bo

[2020-12-02 17:41] ericriff commented on #8145
To clarify, you get that huge chunk of log each time you call `find_package(boost COMPONENTS something)`. I would expect something like this:
[code]

And that's it.

[2020-12-02 18:15] memsharded commented on #8144
Hi @FnGyula

I understand the use case, let me explain the current state and how we got here, and lets see if it is possible to evolve from here or not:

We had more or less that behavior in the previous versions, and we decided to change it because it was very problematic. Having ``conan install`` being capable of modifying the structure and the values of the lockfiles was breaking in practice th

[2020-12-02 18:39] #8133 closed, assigned to nobody

[2020-12-02 21:10] stardast commented on #7882
Any feedback on this?
Thanks!

[2020-12-02 23:51] #8142 closed, assigned to nobody

[2020-12-03 05:18] Viatorus opened #8146 "[feature] add possibility to download/get conan_package.tgz binaries/artefacts outside conan world"
We use conan as package manager for your libraries und applications, you believe it?

Our final application contains something like this:

[code]

So after uploading this package to the artifcatory I would like to have an option to download the `conan_package.tgz` to a destination other than the local cache in order to use is outside the conan world.

The nearest command I found is [`conan downloa

[2020-12-03 08:23] SSE4 commented on #7280
how about unification of toolchain and build helpers interfaces?
right now they are completely independent classes, but more or less interface is the same.
e.g. build helper usually provides:
- configure
- build
- install
- test

and toolchain usually provides:
- generate / write_toolchain_files

[2020-12-03 08:32] SSE4 commented on #7026
most of work is done in #8147, #8111 and #7662. all configuration properties are in `native file` or `cross file`. need to check what else is needed.

[2020-12-03 08:33] memsharded commented on #8146
Hi @Viatorus

You have different options:

- The Artifactory has a download API, you can directly get the URLs there and download them, as a regular file from the internet
- You have the deploy generator, use ``conan install mypkg/version@ -g=deploy`` and you will get a local copy of the artifacts in your local user folder
- Write a consumer ``conanfile.py`` or ``conanfile.txt`` with an ``imports(

[2020-12-03 08:47] memsharded commented on #7280
To clarify @SSE4

- Toolchain are classes oriented to generate files that support the command line invocation by users, and that can be passed to the build system, e.g: ``-DCMAKE_TOOLCHAIN_FILE=conantoolchain.cmake``. These shouldn't have configure(), build() or anything like that.

- Build helpers will be pure command line wrappers, with as little logic as possible, just a mapping from python cal

[2020-12-03 08:55] SSE4 commented on #7280
probably there is misunderstanding :) I mean unify build helpers such as Meson, MSBuild, CMake to inherit from the IBuildHelper. same for MesonToolchain, MSBuildToolchain and CMakeToolchain to inherit from IToolchain. I don't propose to unify build helpers with toolchains.

[2020-12-03 09:04] memsharded commented on #7280
I don't think so. Speculative inheritance, I don't see any value, build helpers are greatly simplified when using toolchains.

[2020-12-03 12:06] apyvovar opened #8148 "[question] "requirement overridden" warning appears for valid version range"
Consider the following prerequisites:
Package_A/1.0.0@user/stable:
`requires = "Package_B/[>=1.0.0 <3.0.0]@user/stable"`

Project_A:
[code]

Since Package_A should work with any Package_B in range [>=1.0.0 <3.0.0], I'd expect Conan to process `conan install` command for Project_A, requesting Package_B of fixed version within range (e.g.: 2.0.0) without any problems.

Instead, the following warning

[2020-12-03 12:31] heili77 opened #8149 "semver_direkt_mode not working as described in documentation"
Hi there,

I'm using conan 1.28.2 and I face an unexpected behavior in the package ids of my packages.
I've got multiple packages requiring each other D, E, F, G, H

In version 1.1.1 all packages have no requirements
in version 1.1.2 there are dependecies:
- G requires H/1.1.1
- F requires G/1.1.2
- E requires G/1.1.1
- D requires E/1.1.2 and F/1.1.2

In this constellation I have to resolve a conf

[2020-12-03 16:01] Nocccer opened #8150 "[feature] Print git/svn status after upload failed because of uncommited changes"
**Feature:** Print out what git/svn status returns, if uploading of a package fails because of uncommited changes.

It happend on our CI (Jenkins) few times now that upload failed because of uncommited changes.
We clear the whole repository folder after a build process to save storage. So we couldn't check it by ourself after the failed build.
To get the uncommited changes and fix them, we removed

[2020-12-03 17:51] jgsogo commented on #8150
Hi! Yes, adding this information to the output can be useful. Nevertheless, I would say that this message belongs to the `conan export` step (it also runs in a `conan create`), it is the moment where the `scm` feature checks if there are local changes in order to substitute the `auto` keywords by the corresponding commit sha (is this your use case?).

This extra bit of information will be useful.

[2020-12-03 18:19] jgsogo commented on #8149
Hi! I think I've reproduced here your graph of dependencies and scenario: https://github.com/jgsogo/conan-issue8149

As you can see, recipe `libD.py` contains your conflict, and it is resolved (using the overrides) in recipe `libDalt.py`.

Here it is the failure for `libD.py`:

[code]

But, for `libDalt.py` everything is ok, no need to build `libE` again:

[code]

There must be something else in y

[2020-12-03 18:35] jgsogo commented on #8148
Hi, @apyvovar

I understand your concern and it is very unfortunate if using `CONAN_ERROR_ON_OVERRIDE` equals True. This is due to the graph resolution algorithm that Conan is using right now. We are already planning Conan v2.0 which will implement a different graph resolution algorithm with several improvements. Overrides and version-range should be something to take into account (I will label th

[2020-12-03 18:54] jgsogo commented on #8145
Hi, @ericriff !

Thanks for reporting, this can be a nice addition to the CMake generators. It is true that the `COMPONENTS` argument is taken into account (see output _"Conan: Component 'random' found in package 'Boost'"_) but it is not considered when looking for all the libraries (that verbose message).

This can be a nice addition, localized (although those sources are a bit messy).

[2020-12-03 19:02] ericriff commented on #8145
What do you mean with "when looking for all the libraries"? I'm only asking for `random` but it looks like it firstly looks only for that component, finds it, and then proceeds to find all the components anyways.

[2020-12-03 19:09] jgsogo commented on #8145
What happens is that the `FindXXX.cmake` will provide only the requested components (see the usage of `BOOST_COMPONENTS` variable inside the file), but it will iterate all the libraries looking for them in the filesystem.

If you inspect the generated cmake file, you will see a variable like `BOOST_LIBRARY_LIST` that list all the libraries, and then a call to `conan_package_library_targets` that i

[2020-12-03 20:17] heili77 commented on #8149
As I mentioned the conflict resolution is done in my example as you do it in yours.
As far as I see the difference between your and my example is, that my G has no requirements in version 1.1.1 and a dependency to H/1.1.1 in version 1.1.2.
One cannot get this state without modifying G after version 1.1.1.

Edit:
In your example there is a
`ERROR: Conflict in libF/1.1.2:`
that can be resolved in D.

[2020-12-03 21:46] Nocccer commented on #8150
Yes we use scm with `auto` keywords. Print it in conan export would be fine for us, too.

[2020-12-03 22:05] daravi opened #8152 "[feature] Be able to not set dependency option as opposed to setting it to default"
Consider this scenario:
- Package `A` requires packages `B` and `C`
- Package `B` requires package `C`
- Package `C` has and option `someOpt`, with default value `val0`
- Package `A` does not care about `C:someOpt`
- Package `B` wants to set `C:someOpt` to some other value, `val1`

In the above scenario I have to set `C:someOpt` to `val1` in `A` in order to avoid building `C` with the default opti

[2020-12-03 22:52] datalogics-kam opened #8153 "[bug] Ignoring a CamelCaseFolderName when copying imports does not work"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.7 (and others)
  * Compiler+version: n/a, this affects imports only
  * Conan version: 1.31.4, 1.32.0, `develop`
  * Python version: 3.6.5

### Steps to reproduce (Include if Applicable)

- Have a project with a folder name with CamelCase
- Exclude the folder in `excludes` in `self.copy()` in `im

[2020-12-04 08:52] heili77 commented on #8149
Hi jgsogo,

I updated your example to get
`ERROR: Missing binary: libE/1.1.2:...`

Edit:
I tested the adaption of your example with conan 1.32.0

[2020-12-04 09:13] a4z commented on #8091
this seems to be fixed in 1.32, at least my first tests do not trigger that problem anymore after adding the line back to the recipe.
Well and fast done, thanks !

so I close this issue now

[2020-12-04 09:13] #8091 closed, assigned to memsharded

[2020-12-04 13:48] memsharded commented on #8080
Yes, it is true that the main recipe ``conan build`` is defaulting to the "package" folder. The thing is I don't think it is a good one, and we are doing some work to try to improve this. In any case, as it is used there and is an easy fix that avoid some crash, lets move the PR forward for next 1.33.

[2020-12-04 14:08] jgsogo commented on #8149
Hi, @heili77 , I missed the line _"In version 1.1.1 all packages have no requirements"_ and that's the key point. Now I think the repository matches your scenario.

Running `conan create libDalt.py "libD/1.1.2@"` I get your same error. This is a know bug related to options in the transitive requirements (yes it bites even if the packages don't have options). **I'm going to open a PR to the docs do

[2020-12-04 14:29] heili77 commented on #8149
will this be fixed in conan 2?
Is there a workaround in conan 1?

[2020-12-04 17:28] kaihowl commented on #8144
Could we add a `--base-lockfile` option that would allow to get the previous behavior back? I.e., takes the base lockfile and derives a full lockfile under the hood from it that is then used for the install command?

[2020-12-04 18:16] memsharded commented on #8144
Hi @kaihowl

Could you clarify?

Base lockfiles were never used for ``conan install``, since the release they were introduced. The previous behavior was ``conan install`` ignoring the locked information (incorrectly/bug). Or is there something that I am missing? I would like to understand if we have introduced any regression of "base" lockfiles.

Otherwise, yes, I am not saying this cannot be done

[2020-12-04 18:59] #8080 closed, assigned to memsharded

[2020-12-04 19:23] memsharded commented on #8071
Hi @Da-LiFe

So ``conan info`` succeeds without raising a conflict and ``conan create`` does conflict? Are you passing exactly the same configuration to both commands (settings, options, etc)? That is the first thing I would try to investigate: if both commands have same inputs. Getting the full output of both commands could be useful, are there differences in the graph?

[2020-12-05 09:15] dragondive opened #8156 "[bug] conan new command overwrites files without warning or confirmation"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Mint 20
  * Compiler+version: NA [g++ 9.3.0]
  * Conan version: 1.31.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
* Create a subdirectory `src` in any directory, then create a file `CMakeLists.txt` inside the `src` subdirectory and optionally edit it.
* Run the `conan new

[2020-12-05 09:21] vector-of-bool commented on #6079
The `fasteners` project recently merged some changes that use proper OS-supported advisory locking. I don't know if they are released yet, but using the newer version of `fasteners` will give access to its more reliable locking.

[2020-12-05 12:04] kaihowl commented on #8144
This lead me to believe that this behavior was there in previous versions: Using a base lockfile with install internally triggers a `conan lock create` with the same settings, profile, and options.

Hence, my comment to "get the previous behavior back". Apologies if that was not the case.

The concrete proposal is therefore:
[code]
given that `conan.lock` is a base lock file shall be equivalent to

[2020-12-05 21:41] jsteinhofff commented on #6530
Some time ago i came uppon this issue in my company and although i believe this is not a critical issue (there is a workaround using exelinkflags, you shouldnt have cyclic dependencies between your libraries anyway), i still think it is worth to have a look at this because:

* cyclic dependencies do exist in the wild
* the issue with the order/grouping/repetition when linking static libraries is a

[2020-12-06 00:11] f18m commented on #8128
Hi @memsharded ,
thanks a lot fo clarifying this point!
Honestly that was not very clear in my opinion from the documentation. In section https://docs.conan.io/en/latest/using_packages/conanfile_txt.html it says "While you can install each of your dependencies individually like that, the recommended approach for handling dependencies is to use a conanfile.txt file." with no mention that you can ac

[2020-12-06 03:16] ngugcx opened #8158 "Is it possible to export a recipe from local cache and import it on another computer?"
I have to share recipes which are in my local cache with my team members.
But I don't have a running conan server which can be reached by others.
Is there a way to export recipes from my local cache, and send them to other people, then they can import on their computers?
Thanks!

[2020-12-06 03:25] #8158 closed, assigned to nobody

[2020-12-06 03:27] ngugcx commented on #7249
I like this feature.

[2020-12-06 12:11] Viatorus commented on #8146
Thank you! I didn't know about the deploy generator.

[2020-12-06 12:11] #8146 closed, assigned to memsharded

[2020-12-06 16:33] JPGygax68 opened #8159 "[question] Retrieving package info when installed compiler does not support building it"
Is there a way to get the info of a package when the machine you're on cannot build that package ?

For example, I tried to obtain the info of the `gmp` package but got:
`ERROR: gmp/6.1.2@bincrafters/stable: Invalid configuration: The gmp package cannot be deployed on Visual Studio.`

EDIT: the exact command I used was:
`conan info -r conan-center gmp/6.1.2@bincrafters/stable`

EDIT #2: a related

[2020-12-06 20:00] boussaffawalid opened #8160 "[bug] self.conan_data is not loaded when using a custom version."
conan create command fails with an error
[code]
if the package version is not found in `conandata.yml`

### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS Catalina 10.15.7
  * Compiler+version: clang 12.0
  * Conan version: 1.32.0
  * Python version:  3.8.6

### Steps to reproduce (Include if Applicable)

- Create a conanfile.py with the content below:

[2020-12-06 20:44] SpaceIm opened #8161 "[bug] Wrong auto path_flavor in tools.unix_path if MinGW installed with Msys2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: gcc10
  * Conan version: 1.32.0
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)

- Install MinGW with msys2.
- On Windows, build a recipe relying on environment variables defined in `package_info()` of `autoconf` recipe in CCI (libxcrypt for example:

[2020-12-06 23:09] memsharded commented on #8159
Hi @JPGygax68

Yes, not it is possible, we have introduced in Conan 1.32 a new ``validate()`` method with exactly this purpose: if you try to install a package (or build it) it will raise an exception, but ``conan info`` will be able to retrieve the information as "INVALID" package. The main issue with this approach is that it is new, experimental, so recipes in ConanCenter have not started to use

[2020-12-06 23:10] memsharded commented on #8159
Also, please take into account that the maintained packages are the ones without user/channel, in this case ``gmp/6.2.0`` in https://conan.io/center/gmp.

[2020-12-06 23:19] JPGygax68 commented on #8159
Thank you very much @memsharded . I wasn't aware of the `inspect` command and will try it tomorrow. (I had already tried `get` but trying to parse the python recipe was unreliable).

What I was trying to do was building my own database of Conan packages by using a combination of `conan search` and `conan info`. I'm going to replace the latter with `conan inspect` now.

[2020-12-06 23:20] memsharded commented on #8160
Hi @boussaffawalid

I am not sure what is happening, I have implemented a test following your report, and it works correctly. This passes and downloads the sources correctly. There should be something else, maybe is there something in the environment or that is not captured in the report? Can you try to reproduce with the minimal unit-test that I am providing?

[code]

[2020-12-06 23:22] memsharded commented on #8159
Good, the ``conan inspect`` also has a ``json`` output argument that might help for automatic parse. Note, however that this command does not provide a fully evaluated package, just the basic parsing of the recipe and class attributes.

I'll keep this issue open until you try and report tomorrow if ``inspect`` is good for your case. Thanks!

[2020-12-06 23:26] memsharded commented on #8158
Hi @ngugcx

I guess you figured out. Just in case, or for other readers, you can have the recipes in a git repo, and do ``conan export`` or ``conan create`` on them. If you have many, you can do a small script in the root of the repo that iterates all the recipes and do the operation. Typically it is better to do ``conan export``, because that doesn't require any order, then ``conan install --buil

[2020-12-06 23:30] johnmcfarlane commented on #7039
Sorry to dredge up such an old thread but I cannot get this package to work with the _cmake_find_package_ (and without `conan_basic_setup()`). [CMake's GTest module](https://cmake.org/cmake/help/latest/module/FindGTest.html) has two targets: `GTest::GTest` and `GTest::Main` but there's no sign of `GTest::Main` in the FindGTest.cmake being produced by _cmake_find_package_. It provides `GTest::gtest

[2020-12-06 23:30] memsharded commented on #8128
Yes, you are right. Going over the docs and re-writing some good parts of it, is in our TODO list. It is becoming challenging to put efforts on the docs besides incremental things, and sometimes reviewing and reading it from scratch is necessary.

Well, if that is the case, and you are very sure nothing else is needed, you might want to use the ``conandata.yml`` associated file, create there are `

[2020-12-06 23:38] memsharded commented on #7039
Hi @johnmcfarlane

Yes, you are right. This is a known, reported issue in https://github.com/conan-io/conan-center-index/issues/3222, it is there in the queue to be fixed:

The recipe in ConanCenter uses the name of the more modern, recommended *Config.cmake* approach, which is ``gtest_main``, but it seems the target when using the *find.cmake* older CMake approach is different, and the recipe has

[2020-12-07 08:44] boussaffawalid commented on #8160
@memsharded the test succeeded on my environment as well but `conan create .` is still failing.

BTW: I tried with a windows machine and everything works as expected, so either:
* something is wrong with my mac environment.
* issue is only reproducible on mac environment.

[2020-12-07 10:17] michaelmaguire opened #8162 "[feature] Please support conan --version --json <versionfile.json>"
Sadly, even with the https://docs.conan.io/en/latest/introduction.html#stability commitment, we find that some (mostly experimental) features behave differently between versions, requiring our Jenkinsfile to take different actions depending on the version.

For example, right now we are dealing with differences with conan lockfile creation between "Conan version 1.29.2" and "Conan version 1.26.0".

[2020-12-07 10:59] f18m commented on #8128
thanks the conandata.yaml is definitively what I need!

Thanks!

[2020-12-07 10:59] #8128 closed, assigned to memsharded

[2020-12-07 11:53] hdnn opened #8163 "[question] Migration from visual_studio generator to MSBuildDeps"
When I used visual_studio generator, it make very useful property variable `Conan-***-Root` in `conanbuildinfo_***.props` file, but the new generator doesn't make it.
I have some number of `Utitlity` projects, which executes scripts using this variables.
For example, I need to have path to some binary file to execute it in `Custom Build Step`.
How I did it before:
[code]
How I am forced to do this

[2020-12-07 12:07] AndreyMlashkin opened #8164 "[bug] simple validation script does not work anymore"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.1 LTS
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.32.0
  * Python version: 3.7.9

### Steps to reproduce (Include if Applicable)
I have always used this script to validate a docker image creation:

mkdir -p /tmp/mypackage
cd /tmp/mypackage
conan new mypackage/1.0 -t
conan create . demo/

[2020-12-07 12:22] madebr commented on #8122
Looking at [cmake-toolchains](https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html),
I think most important variables to set for toolchains are `CMAKE_SYSTEM_NAME` and `CMAKE_SYSTEM_PROCESSOR`.
Also, it would be very nice to be able to override the mapping from `self.settings.os/self.settings.arch` to `CMAKE_SYSTEM_NAME/CMAKE_SYSTEM_PROCESSOR`.
As some projects detect 64bit arm as ar

[2020-12-07 13:12] madebr opened #8165 "[bug] When using conan toolchains, cmake.verbose and cmake.parallel don't work anymore"
For debugging purposes, it it useful to quickly set `cmake.parallel = False` and/or `cmake.verbose = True` in `build()`.
It seems that this does not do anything when using conan toolchains (=adding a `def toolchain(self)` method).

Also, `cmake.configure` does also not support adding extra arguments (`args` argument).
This is also useful to add extra debug arguments such as `--trace`, `--debug-try

[2020-12-07 13:18] samuel-emrys opened #8166 "[bug] YCM generator uses deprecated FlagsForFile method instead of Settings"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.14.5
  * Compiler+version: clang 10.0.1
  * Conan version: 1.31.4
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)
Follow instructions at https://docs.conan.io/en/latest/integrations/ide/youcompleteme.html#youcompleteme-integration to configure `.ycm_extra_conf` and `conan_y

[2020-12-07 13:40] akleber opened #8168 "[bug] tools.intel_compilervars_dict() not working"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 8
  * Compiler+version: Intel 16
  * Conan version: 1.32.0
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)
When using the tools.intel_compilervars_dict() function, the dict returned does not contain the expected values.
Expected is a dictionary with the environment variables

[2020-12-07 14:13] JPGygax68 commented on #8159
I've now adapted my code to use `conan inspect` and it works; it is exactly what I was looking for.

Two things though:

1. the `--raw` option does not seem to work at all
2. the `--json` option can only output to a file, so there is no OS-independent way of obtaining the data by capturing the comand's output (via `popen()` or something similar). I was able to do it using `>nul --json con`, but th

[2020-12-07 15:23] lieser opened #8170 "[bug] MSBuildDeps generator: build_requires not added to conan_deps.props"
Build requirements are not added to the generated `conan_foo.props` file.

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version: 1.32.0
  * Python version:

### Steps to reproduce (Include if Applicable)

1. add a library package (e.g. `foo`) to `build_requires`
2. execute `conan install` using the `MSBuildDeps`/`msbuild

[2020-12-07 16:30] MichaelHCline opened #8171 "[question] Why is "g++" not one of the default settings listed in the default profile?"
Why is "g++" not one of the default settings listed in the default profile?  "gcc" is in there, but not "g++"

- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-12-07 16:59] sorekz opened #8172 "[bug] conan info --paths with short_paths=True corrupts cache"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: -
  * Conan version: 1.32.0
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)
The problem occurs since conan 1.31.0 and probably has do to with #7900 but not sure. It seems to only occur with recipes that have short_path=True (not with use_alsways_shor

[2020-12-07 21:02] memsharded commented on #8160
I have submitted https://github.com/conan-io/conan/pull/8173, to see what it says in OSX CI

[2020-12-07 23:41] memsharded commented on #8160
Hi @boussaffawalid

The CI (including OSX) seems to pass the test successfully: https://conan-ci.jfrog.info/blue/organizations/jenkins/ConanTestSuite/detail/PR-8173/1/pipeline

Exactly the test above is failing when you run it in your OSX machine?

[2020-12-08 00:01] oliora opened #8174 "[bug] cmake_find_package_multi generator does not work for Xcode and other multi config CMake generators on macOS/Linux"
CMake Package configs generated by `cmake_find_package_multi` Conan generator can not be used with multi-config CMake generator like Xcode. The generated config files contains only data for Release configuration in a way that makes impossible to build any other configuration.

## Example

My `conanfile.txt`:
[code]

After I run `conan install` the following CMake config files are created:
1. `gfla

[2020-12-08 00:12] memsharded commented on #8174
Hi @oliora

We have been using the ``cmake_find_package_multi`` generator in multi-config build systems like Visual Studio, without problems so far. Is this something specific for XCode? What is the error that happens if not specified? Can you please share error output?

If you also have some links or documentation (besides the obvious CMake help, that doesn't clarify much), that explains a bit mo

[2020-12-08 00:18] memsharded commented on #8172
Hi @sorekz

I have been able to reproduce, indeed a bug.

It happens to be a complicated issue, an unfortunate alignment of ``short_paths`` + ``conan info --paths`` over packages that doesn't have those paths yet. Doing a ``create`` before the ``info --paths`` works fine.
I am checking some alternatives how to approach this without an extremely ugly hack. In the meantime, I would try to avoid chec

[2020-12-08 09:17] Da-LiFe commented on #8071
Hi @memsharded

Yes, for conan v1.22.2 its conan info which succeeds and conan create/install which show conflicts.

Yes, both commands are using the same configuration and the graph is also the same as both commands were performed by our CI system on the same export of the conanfile of pkgA. The full output contains some internal details of my company which I cannot post here in public. Is there

[2020-12-08 10:18] memsharded commented on #8071
Yes, you can email it to info@conan.io.

[2020-12-08 10:23] memsharded commented on #8171
Hi @MichaelHCline

Because it is not exactly the compiler name, but the compiler family, with regards to binary compatibility. It can be read as ``gcc/g++``. From a package management point of view, in practical terms, managing gcc and g++ as the same compiler is good enough. As Conan is not a build system, it does not use that information for actual builds, the user is still responsible for defin

[2020-12-08 10:30] memsharded commented on #8170
Hi @lieser

This could be a bug, but please take into account that the new ``MSBuildDeps`` generator is an experimental one and might change its behavior, and one of the things that might change is the management of ``build_requires``. As documented, explained in the trainings, etc:

So unless you are using it for things like ``cmake`` tool or the ``gtest`` testing library, I would suggest reconsi

[2020-12-08 10:33] #8166 closed, assigned to nobody

[2020-12-08 10:42] dmn-star commented on #6259
Hi @prsolucoes

I see, you have removed support for catalyst from your toolchain. Was there a particular reason for this?

[2020-12-08 10:51] memsharded commented on #8164
Thanks for the report. Indeed a bug, the ``conan new`` was improved to take into account the package name into the code (it helps in creating several packages with different names), but the case of using the hardcoded Github repo with "hello" was left out. It is being fixed in https://github.com/conan-io/conan/pull/8175, and released asap (1.32.1)

[2020-12-08 10:58] boussaffawalid commented on #8160
The test above **passes** on my OSX machine. However, when I run the command `conan create .` it fails.

[2020-12-08 11:00] memsharded commented on #8160
Hi @boussaffawalid

I am not sure I follow. The test above contains a ``conan create .``. Where are you running such ``conan create . `` command? Saving the above code manually in a folder and running it?

[2020-12-08 11:01] memsharded commented on #8160
I would try  printing the ``self.conan_data`` in the recipe, before it fails, to see if it has some info that could help us identify the problem

[2020-12-08 11:17] boussaffawalid commented on #8160
I did that already, and it is empty.
The issue happened when I created a conanfile.pt and conandata.yml
Please check https://asciinema.org/a/xCjo1AypFbCj6p6K6c6f8IQ2c

[2020-12-08 11:39] memsharded commented on #8160
That really helped!

The issue is that you are running the ConanCenter hooks. One of them is designed to strip the ``conandata.yml`` information, so for previous versions you get always the same revisions, even if you are adding new information to the ``conandata.yml``, that otherwise would be exported as a new thing and generate a new revision, which is really undesired in ConanCenter, as it woul

[2020-12-08 11:44] lieser opened #8176 "[question] how to handle testing framework that depends on other (normal) libs"
Relates to #8170

From my current understanding of https://docs.conan.io/en/latest/devtools/build_requires.html, a library used as a testing framework (e.g. gtest, catch2), that is not directly used in/by the final binary code (only used in the separated test code, that will not be part of the final binary of the package) should be declared as a `build_requires` (with `force_host_context=True` the

[2020-12-08 12:05] lieser commented on #8170
We are aware that `MSBuildDeps` is experimental, but thanks for reminding us.
Note that this is not an urgent/important bugfix for us (easy workaround available by simply adding another import).

I described our usage of `build_requires` more closely in #8176. Would be nice if you could take a look at it, as it currently still causes problems, and would be nice to know if we are maybe just misusin

[2020-12-08 12:05] boussaffawalid commented on #8160
ohh! now it make sense, thank you!

[2020-12-08 13:32] paulocoutinhox commented on #6259
Hi,

Nobody use it and now all iOS apps work on arm64 desktop.

Thanks.

[2020-12-08 16:07] memsharded commented on #8163
I see. While the Root approach is a bit hacky, in the sense that it hardcodes the knowledge that the binary for that package is contained in the "bin" folder (modeled in ``cpp_info.bindirs => ConanxxxBinaryDirectories``), it is true that the solution is a bit more inconvenient, and still not 100% general, in the sense that it there were more than 1 bindirs, it would not be known in which one is th

[2020-12-08 19:53] Aalmann commented on #8172
Hi @memsharded,

do you really mean it is an anti-pattern to get the paths from conan info and one should really use "deploy generator, deploy method, imports", which means one has to copy package contents from A to B?
I completely disagree with that approach due to the fact that it contradicts the base idea of Conan and all other package managers AND it works for all versions prior 1.31. Without

[2020-12-08 21:58] memsharded commented on #8172
Doing operations on folders directly on the cache might have issues:
- Concurrency. There is very limited support for concurrency on the cache, but there is something, and we might try to improve that in the future.
- There are other mechanisms like the "dirty" flags that are useful to mark incomplete operations while not removing the contents, which is useful for debugging.
- It is easy to break

[2020-12-08 22:27] memsharded commented on #8160
Good, now we know what was happening, this was not a bug, but expected behavior of running that hook. I think this issue can be closed.

[2020-12-08 22:27] #8160 closed, assigned to nobody

[2020-12-08 22:38] memsharded commented on #8159
Sure ``--raw`` doesn't work? Try:
[code]
yes, we are aware of the limitations and inconsistencies of the CLI arguments, and we are trying to improve it. It might need to wait until Conan 2.0, because right now it is very challenging to change the CLI without breaking.

[2020-12-08 23:14] memsharded commented on #8162
Hi @michaelmaguire

The ``conan --version`` command follows the convention defined in GNU https://www.gnu.org/prep/standards/html_node/Command_002dLine-Interfaces.html#Command_002dLine-Interfaces, accepts ``--version`` and outputs ``Conan version XXX``. It should not output anything else, if that is the case then we need to fix that. (did this happen?)
But I am not convinced that going with a ``--

[2020-12-09 07:56] SimplyLiz commented on #8109
Thank you for your answer.

Just adding the libraries wasn't enough. they were still incorrectly added as "not found - system libs" via collect.
Now i use collect on windows and on linux i specify all libs manually, which works.

What makes me wonder, is the fact that the libs are found correctly on windows (same filename, .dll extension instead of .so). i think this is a bug in the collection mec

[2020-12-09 08:27] oliora commented on #8174
@memsharded please check the description - I’ve extended it with more comprehensive explanation of the issue

[2020-12-09 09:28] JPGygax68 commented on #8159
Thank you James, I see I misunderstood the way `--raw` is supposed to work.

Best of luck with the rewrite!

[2020-12-09 09:28] #8159 closed, assigned to nobody

[2020-12-09 11:37] sorekz commented on #8172
Hi @memsharded

We have a generator that collects information from other packages and creates some files based on that.
The packages are not listed in the dependencies of the conanfile itself since they are not real dependencies but calculated by the generator. So we are basically sideloading packages into the cache and copying data from there in case the generator is used.

To achieve this we cal

[2020-12-09 13:57] johnmcfarlane commented on #1692
Hi @memsharded

That link isn't working for me. I'm guessing it pulls down a fully-formed settings.yml. That's not much help to me.

[Once again](https://github.com/conan-io/conan/issues/6910) I'm in the situation where I cannot use new or pre-released compiler versions easily because they are missing from settings.yml. I want to see gcc 11 and clang 12 appear just as soon as gcc 10 and clang 11 a

[2020-12-09 14:34] SpaceIm commented on #7615
@danimtb, looking at the PR, I don't really understand how a robust recipe could be written, ie providing non namespaced targets for `cmake_find_package` and `cmake_find_package_multi` generators only, since it doesn't make sense for others generators. Indeed, recipes in your tests seem to depend on generator used (a custom cmake file must be written at package or consume time, linking to... a tar

[2020-12-09 15:41] heili77 opened #8179 "[bug] private dependencies cannot resolve conflicts"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version:
  * Conan version: 1.28.2
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
In my dependencies I have a conflict in the requirements. As the current recipe results an executable I do not want to propagate the requirements and declared them private.
Whe

[2020-12-09 15:57] memsharded commented on #8179
Private requirements should be used only in very extreme cases when there is no other alternative. If you would like to understand why it is creating a conflict when it is declared private, then please specify how to reproduce it, copy here the dependency graph, the conanfiles, something so we can understand and reproduce the case.

If you are building an executable that is being used in the graph

[2020-12-09 16:26] memsharded commented on #8109
Hi @SimplyLiz

Could you please list the exact filenames of the libraries (in the filesystem) you want to collect and what would be the expected result, that ``colllect_libs()`` should return? Also what it is returning right now, for comparison.
You can do:
[code]

[2020-12-09 18:14] #8163 closed, assigned to memsharded

[2020-12-09 18:43] michaelmaguire commented on #8162
Thanks for this -- I see now in effect there is already a "specification" of sorts and Conan adheres to it.  We can use that.

[2020-12-09 18:43] #8162 closed, assigned to nobody

[2020-12-09 19:03] memsharded commented on #8162
Great, thanks! That doesn't mean that Conan might eventually have a bug and contaminate the output with other things but if it is not possible to parse and extract the ``Conan version XXX``, then, we will consider a bug and fix it.

[2020-12-09 21:01] memsharded commented on #7982
Hi @sduraisamy

Any feedback or clarification on the above comments?

[2020-12-10 01:07] memsharded commented on #1692
Hi @johnmcfarlane

I am trying to put a Proof of Concept of the ``conan config settings append`` command in https://github.com/memsharded/conan/pull/new/poc/config_settings. I have hit a blocker in the yaml format. The Yaml library that we are using, which is the mainstream one for Python projects, do not support round-trip editing, so something as simple as appending a value will completely the f

[2020-12-10 03:51] sduraisamy commented on #7982
Hi @memsharded

Sorry for delayed reply.

The above comments clarifies the query. Thanks.

[2020-12-10 03:51] #7982 closed, assigned to memsharded

[2020-12-10 07:02] SimplyLiz commented on #8109
i think the result from the collect libs  mechanism returns is correct, but something further down the road is unable to find the libraries in the found library path without the .so extension in the list. When i specify the libs manually, i have to add .so so it works.
I think the dots in the filename mess up something.

Please let me know if i can be of further assistance.

[code]

The output wit

[2020-12-10 07:45] Viatorus opened #8182 "[bug] Breaking change with CMakeToolchain"
We are using conan since 2 years and since ~1.5 years we have a custom cmake toolchain generator for our cross builds to arm-none-eabi. Unfortunately, we named the generator CMakeToolchain. Now there is a naming collision.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: GCC 9.3 + GCC-arm-none-eabi
  * Conan version: 1.32
  * P

[2020-12-10 08:44] heili77 commented on #8179
In a Constellation like this:

LibH 1.1.1 requires nothing
LibG 1.1.1 requires LibH 1.1.1
LibG 1.1.2 requires LibH 1.1.1
LibE 1.1.2 requires LibG 1.1.1
LibF 1.1.2 requires LibG 1.1.2
LibD generates the executable in requires LibE 1.1.2 and LibF 1.1.2, each with private=True
LibD has a conflict with LibG. This conlict cannot be resolved with
`self.requires("libG/1.1.2", private=True, override=True)

[2020-12-10 08:58] rasjani commented on #2629
@memsharded   Information regarding how/where to use CONAN_SYSTEM_INCLUDES was/is rather lacking but i do think i got it now - if i read the code, only globally defined includes will be marked as system but if i used cmake targets to bring in package's includes, there this has no effect right ?

Anyway, one more corner case where i would prefer for conan to have some form to handle also cmake targ

[2020-12-10 09:01] memsharded commented on #8182
Proposing a solution in https://github.com/conan-io/conan/pull/8183.

We will also change for Conan 2.0 the way user custom generators are instantiated, to avoid these issues, and make it more explicit. How are you using it? As a regular require? In the new cache/generators global folder?

In any case, I would recommend to try to use custom names for your custom generators, better ``MyCompanyCMake

[2020-12-10 10:11] tharilya opened #8185 "[question] Why is "fPIC" always set in conan if "shared" is activated?"
Hi there,

I ran into some linker-issues with `fPIC` and have a question about a behavior which I didnt expected.

My situation:
I am building a library lets call it `my_libA`.
And I am building a library lets call it `my_libB` which link against `my_libA`.
(when builing, I mean the gcc54 compiler on a ubuntu 64-bit Plattform, I am not cross-compiling or something like that).
Both libraries have t

[2020-12-10 10:40] memsharded commented on #8109
Hi @SimplyLiz

I am checking this behavior, and it seems conan is working consistently. These 2 tests pass:

[code]

The problem here is the difference of the linker behavior for different compilers, I would say it is more of an issue or inconsistency in the gcc linker, that when it finds a name with dots, it assumes it already contains the extension. Seems that using dots in library names is real

[2020-12-10 10:47] memsharded commented on #8172
Fixed in https://github.com/conan-io/conan/pull/8181, will be released in 1.32.1

[2020-12-10 10:48] #8172 closed, assigned to memsharded

[2020-12-10 11:46] jgsogo commented on #8176
Hi! Conan graph algorithm is sensitive to the order it finds the requirements, it will affect the overrides and version ranges too.   In order to reproduce your scenario I really need to know the order you are listing the requirements in your recipes.

Here (https://github.com/conan-io/conan/compare/develop...jgsogo:issue/8176-br-alias?expand=1) I wrote a test trying to reproduce it, but it is wor

[2020-12-10 11:55] memsharded commented on #8170
Hi @lieser I am proposing to add it in #8186

[2020-12-10 11:58] dmn-star commented on #6259
That's a good point. Unfortunately I have to port our iOS app to Mac catalyst.

[2020-12-10 12:15] jgsogo commented on #8185
Hi, I've traced the implementation and it is there for more than two years now (https://github.com/conan-io/conan/pull/2818). You can avoid Conan setting this value using `SKIP_FPIC` if you are using the `conan_basic_setup()` macro in your CMake files. However, then you would need to handle this value yourself. This is something that we cannot change now because we will break some build out there

[2020-12-10 12:27] Viatorus commented on #8182
Thank you for the hotfix!

Yes. We will definitely migrate in the midterm, but not immediately.

[2020-12-10 12:32] tharilya commented on #8185
Hi @jgsogo,

thank you for the explanations. To be honest I am new to this topic with fPIC. I was just confused why it's set even if the option is false.

The reason of the implementation inside conan is that it's the technical behavior of the gcc.

I did some research and it seems like there is a `reason` that it makes technically no sense to build a "shared library" with the gcc without the `fPI

[2020-12-10 13:46] wdobbe commented on #6843
Yes, there should be a way to get the SCM revision also for packages that use 'export_sources'. In many packages the compiler needs to export the SCM revision to the source code via a -DREVISION=xxxx define.

At the moment users need to implement their own way of storing the SCM revision (Git commit hash in my case) in the export() method of the conanfile class.

[2020-12-10 13:47] jgsogo commented on #8185
Let's invoke @SSE4 , he knows much more about these issues, and I'm sure he can say something about `shared` and `fPIC` flag.

[2020-12-10 14:28] memsharded commented on #8156
While I kind of agree, I think now this change would break things like the Academy training, that uses the ``conan new`` command. As this is not critical, I suggest changing the behavior in Conan 2.0.

[2020-12-10 14:49] memsharded commented on #8164
Fixed in https://github.com/conan-io/conan/pull/8175, will be released in 1.32.1 soon

[2020-12-10 14:49] #8164 closed, assigned to memsharded

[2020-12-10 15:24] foundry-markf opened #8188 "[bug] `conan info -g` giving three different results depending on order of packages in a recipe"
Given a list of package references, I have been experimenting with getting the build order of said package using the Conan commands. I've read a few github issues that have suggested using `conan info -g out.dot` to do so.

Bear in mind that the list of package references could be anything, in particular, probably multiple versions of packages of interest in building.

My initial experiment was to

[2020-12-10 17:42] OlegWorld opened #8189 "[question] package dependencies"
Hello!
I've got the following problem:
Say, i have a package, named "package1", which consists of several components defined according to https://docs.conan.io/en/1.32/creating_packages/package_information.html#using-components
so, if i'm using the cmake_find_package generator, i have the following example components: package1::component1 and package1::component2
Next, i'm creating another package

[2020-12-10 18:33] lieser commented on #8176
Hi, thanks for writing a test case for this. I adapted the requirements in https://github.com/lieser/conan/commit/b39750f8da8a70ba51aeb16901040088a87009a3 to match how they are written in our case.
With the adapted requirements , your test case fails for me.

[2020-12-10 19:42] madebr opened #8190 "[bug] cmake_find_package(_multi) should do include(FindXXX.cmake) for its dependencies"
Currently, the `cmake_find_package` use `find(XXX REQUIRED)` to look for its dependencies.
This clashes with the use of [`CMAKE_DISABLE_FIND_PACKAGE_<PackageName>`](https://cmake.org/cmake/help/latest/variable/CMAKE_DISABLE_FIND_PACKAGE_PackageName.html).
This variable is useful for creating minimal packages.

---

A scenario that is impossible now, is the following:

Let's assume the following 2

[2020-12-10 20:01] clssn commented on #1330
Hey @memsharded , please allow me to put my use-case into the mix, hoping to revive this discussion.

I've got a library A requiring boost v1.69.0 (conveniently getting it from Conan Center).
A plugin library B to be loaded at runtime by A has a dependency to ROS (Robot Operating System). ROS is quite popular, but I *can't find ROS libraries in any Conan repository*. So I have to use the one insta

[2020-12-10 21:23] memsharded commented on #8189
Hi @OlegWorld

I think what you are posting works fine. There were some tests already, but I have added a new check for transitive dependencies in https://github.com/conan-io/conan/pull/8191, and seems to implement exactly your desired behavior. Please check the test and check again your local setup.

Indeed the key is exactly what you posted:

[code]

[2020-12-11 06:09] SimplyLiz commented on #8109
oh! that explains it...

thank you, renaming isn't an option, it's a 3rd party component.
Your workaround is a nice idea and works in my case, but for other people it should also check .a libs and probably wouldn't work for a .so.x.x.x library....

i'll stick with your solution, it's perfect for my package.
what about checking in the collect tool if the found library name contains a dot and ends w

[2020-12-11 07:52] Da-LiFe opened #8193 "[bug] dpkg-query: command not found"
We are planning to upgrade from conan 1.22.4 to 1.31.4, but we are facing an issue with the detection of the package manager in OSInfo() because the detection mechanism was changed:

https://github.com/conan-io/conan/blob/58dd8268d94f27f49a50b4f155c45c1c05476d44/conans/client/tools/oss.py#L180

We are running opensuse with the `zypper-aptitude` package installed. Therefore, both checks within OSIn

[2020-12-11 07:54] Da-LiFe commented on #8193
For now, we are manually patching conan to resolve the issue. Maybe you would like to use this patch, too:

[code]

[2020-12-11 08:33] AndreyMlashkin commented on #7795
I have this bug again, this time I haven't switched the servers

PS E:\sources\build_debug_studio> **conan install bzip2/1.0.8@ -u -r conan-center**
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=Visual Studio
compiler.runtime=MD
compiler.version=16
os=Windows
os_build=Windows
[options]
[build_requires]
[env]

bzip2/1.0.8: WARN: Can't update, no package in remo

[2020-12-11 08:35] memsharded commented on #8182
Fixed by https://github.com/conan-io/conan/pull/8183, will be released in Conan 1.32.1 soon

[2020-12-11 08:35] #8182 closed, assigned to memsharded

[2020-12-11 08:44] memsharded commented on #8109
Yes, we might try to improve this for Conan 2.0, it will be less risky to change behavior there.

Sure, this is what we would try in Conan 2.0, it might work, but we have already learned that this kind of change can also break other users in impossible to anticipate ways.

Thanks for the feedback!

[2020-12-11 09:01] memsharded commented on #8174
Hi @oliora

I am having a look and trying to understand the issue completely.

I am a bit confused about:

I don't see that you are installing the Debug configuration as well. For as many configurations that you want to use, you need to install those configurations and binaries. That will populate the necessary DEBUG (or other) variables for the targets to start working:

[code]
With the second ca

[2020-12-11 10:48] lieser commented on #8176
Did some further tests with the test case. Noticed that there was also an alias missing for `testFrameworkForC`, which resulted in some of my test to fail. Added it in https://github.com/conan-io/conan/compare/develop...lieser:issue/8176-br-alias.

The problem seems to be related to `testFrameworkForC` requiring `libC`. If I leave that requirement out (was replaced by `libA` in the test you wrote)

[2020-12-11 11:02] SpaceIm commented on #7889
I think that this issue still exists in conan 1.32

Here is my testing repo for `gdal` CCI recipe. I've added `mongo-cxx-driver` support in `gdal`'s recipe: https://github.com/SpaceIm/conan-gdal/tree/fb6683fac5cc34ac7d6b194fd3fedf1aeda0f9ed

`mongo-cxx-driver` depends on `mongo-c-driver`. Both libs share the same `mongo` namespace:
https://github.com/conan-io/conan-center-index/blob/2e6694cf675476

[2020-12-11 11:54] SpaceIm commented on #7889
I think I understand why it fails in this case, and not in your tests or in test_package of mongo-cxx-driver.

gdal target in module file generated by `cmake_find_package` depends on each conan's global target (`namespace::namespace`) of its dependencies, which is... `mongo::mongo`for `mongo-cxx-driver`. But this is also the global target of `mongo-c-driver`.
So if `mongo-c-driver` module file is

[2020-12-11 12:04] Fefer-Ivan commented on #7795
We have encountered the same or similar bug. It appeared after we added conan.conf with general.revisions_enabled = 1 to support our artifactory (but it can be reproduced only using conan-center).

$ python3 --version
Python 3.6.9
$ conan --version
Conan version 1.32.0

Here are our steps to reproduce:

0. Remove .conan to have a clear conan installation.
1. Install snappy/1.1.8 package in your co

[2020-12-11 12:26] SpaceIm commented on #7889
Perhaps, conan should create an other global CMake target with a name which has 100% chance to be unique in the dependency graph, let's say `recipeName::recipeName`, regardless namespace value (of course, if `recipeName = namespace`, only one global target would be created).
Therefore, `cmake_find_package[_multi]` generators of downstream recipes will link their targets to:
- this new global targe

[2020-12-11 12:32] jerdna opened #8195 "[Cross build] Build Assimp"
I'm having trouble cross building Assimp from source if anyone can point me in some direction I would be very grateful.

I'm using emsdk 2.0.8 with precompiled tools: mingw-7.1.0-64bit, node-12.18.1-64bit, java-8.152-64bit and python-3.7.4-pywin32-64bit.
I have following recipe:
[code]
Which is basically copied from [https://docs.conan.io/en/latest/integrations/cross_platform/emscripten.html](url)

[2020-12-11 13:57] SpaceIm opened #8196 "[bug] cmake_find_package[_multi] generators conflicts same export namespace THE RETURN"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Catalina
  * Compiler+version: apple-clang 12
  * Conan version: 1.32.0
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

<details><summary>Click to expand log</summary>

[code]

</details>

## Mor

[2020-12-11 14:02] OlegWorld commented on #8189
Thank you for your support!
It seams, that i've been using a rather old version of conan. Installing the 1.32 version made everything ok.

[2020-12-11 14:11] prince-chrismc commented on #7889
This was my first reaction when I encountered the problem. I was surprised the global target changed with components. pre 1.28 it was like that.

[2020-12-11 14:25] SpaceIm commented on #7889
I've created a new issue https://github.com/conan-io/conan/issues/8196

[2020-12-11 14:51] memsharded commented on #8189
Ok, excellent then :)
Thanks for following up, this issue will be closed when the test is merged.

[2020-12-11 14:52] #8189 closed, assigned to memsharded

[2020-12-11 15:47] czoido commented on #8193
Hi @Da-LiFe,
I think it would make sense to add some extra checks to make sure that the tool we are using to get the installed packages is available.
Thanks a lot for reporting!

[2020-12-11 15:59] oliora commented on #8174
That’s quite what I’m telling. On Unix you don’t have to have the same configuration for everything because different configurations still ABI compatible. So all of my dependencies are build as release and it works just fine. And if I build gflags in Release without Conan then it works just fine with any of my configurations. The problem is in cmake multi generator itself. It’s implemented in a wa

[2020-12-11 16:39] SpaceIm opened #8197 "[bug] Conflict if dependency overriden and both in requirements and build_requirements"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Catalina
  * Compiler+version: apple-clang 12
  * Conan version: 1.32.0
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

<details><summary>Click to expand log</summary>

[code]

</details>

[code]

[2020-12-11 17:31] danimtb commented on #8190
sorry, but I fail to understand the use case. If PacakgeB depends on PacakgeA there is no way you cannot require PackageA but at the same time require PackageB. Maybe you say that all requirements in this case are optional?

[2020-12-11 17:36] memsharded commented on #8190
I also have a question, what files should be included for ``_multi`` generator?
Because there is the ``xxx-config.cmake``, if you include it what happens with the ``xxx-config-version.cmake``? I guess that will not be used at all?

[2020-12-11 17:41] madebr commented on #8190
@danimtb
You're correct in that `PackageA` and `PackageB` needs to be both available.
What I want to do is disable the expensive/big blob of code that is included when `PackageA` is available.

[code]

@memsharded
`xxx-target.cmake` files, generated by `install(EXPORT)` are mostly nothing more then `add(library STATIC IMPORTED)` and a glob include of `target-config-*cmake`.
So I **think** it can b

[2020-12-11 20:33] DukeOfKirkcaldy opened #8199 "[feature] `conan lock update` should update package-ids of consumers when possible"
package-id mode: `package_revision_mode`

When deriving new lockfiles for each configuration/profile of a change, the `package-id`s of the consumers are unknown.  If my understanding is correct this is because it is impossible to know the package revision `prev` of the changed package before it is built.

[code]

Once I build the package and update the lockfile it should now be possible to determi

[2020-12-11 21:42] #8170 closed, assigned to memsharded

[2020-12-11 22:45] memsharded commented on #8188
Hi @foundry-markf

Yes, the algorithm that computes the graph takes into account the order of declarations of requires. It is depth-first, and it is also greedy, it will not backtrack, nor will try to find a jointly-compatible solution. The order of declares induces a relative order of dependencies that will also be mapped to the order in which include-folders are passed and the order in which lib

[2020-12-12 08:14] dragondive opened #8200 "[question] How to cross-build for Windows target from Linux host using profile + build_requires?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I want to set up a simple example to demonstrate cross-build using profile + build_requires. By referring to various documents (especially [Cross building](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#cross-building), [Conan Profiles and Build Requires](h

[2020-12-12 22:11] memsharded commented on #3573
I am proposing some preliminary investigation in https://github.com/conan-io/conan/pull/8201. Some ideas:

- Using the major toolset version "140", "141", "142" as the version, but adding a MSC_VER 19XX as an optional sub-setting for each one, for those that wan to manage different binaries (LTO) for minor MSC_VER values.

- Changing MT, MTd, MDd, MD for "static", "dynamic" for the runtime, to avo

[2020-12-13 09:53] johnmcfarlane commented on #1692
@memsharded thanks for looking into option 1). I may well use your gist line as the current quickest solution.

To answer your question, assuming [this description](https://docs.conan.io/en/latest/reference/commands/consumer/config.html#conan-config-install), it effectively copies the whole file over. I did consider adding a `cp` line to my Dockerfile to achieve much the same result, but I was con

[2020-12-13 10:59] daravi opened #8202 "[feature] New ``cpp_info.set_property("pkg_config_version")`` for ``PkgConfigDeps``"
Please add `version` to cpp_info. This would be useful for modeling the rare case where library version and versioning in the build-system file are not the same. For example in `freetype` the versioning used in the `pkg-cfg` file is not the same as the versioning of the library.

- [✓] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-12-13 11:46] daravi commented on #8202
Apparently this already works (e.g. xorg/system) though not documented.

[2020-12-13 14:20] madebr commented on #8202
@daravi
Can you reopen this?
Setting the version is currently possible on component level, but not on generator level.

See also https://github.com/conan-io/conan-center-index/pull/3874
libsystemd needs to set a particular version for the pkg_config generator.

[2020-12-14 06:08] Viatorus commented on #8182
@memsharded  When is soon? ;)

[2020-12-14 09:54] juba895 opened #8203 "[question] Install deployments without downloading dependencies"
With the [deploy method](https://docs.conan.io/en/latest/devtools/running_packages.html#deployable-packages) and the `conan install` command (e.g. `conan install hello/0.1@user/testing`) it's possible to copy the executable / files which are specified in the `deploy method` to a user space.

How is this possible without downloading the conan dependencies?

- [x] I've read the [CONTRIBUTING guide](

[2020-12-14 10:35] memsharded commented on #8203
Hi @juba895

It is not possible, when you are installing the package ``hello/0.1...`` it will be installed with its dependencies. The thing is that the dependencies will often contain things like shared libraries or data files, that need to be deployed together with the ``hello`` executables. The collection of artifacts, which can depend on the configuration, can only be computed after the depende

[2020-12-14 10:37] memsharded commented on #8202
Yes, this is in our plans. We are starting to think about a comprehensive and more systematic way to check information from dependencies. I am marking this as Conan 2.0, but it is likely that we will introduce it earlier in Conan 1.X to enable a non-breaking transition for Conan 2.0.

[2020-12-14 10:40] michaelmaguire opened #8204 "[question] In json output from conan create commands, can we assume first package listed is the one that was requested?"
We are following through the examples in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#package-pipeline and we get to a point where we are asked to run:

[code]

But in our CI, we don't know the name of the package or its version -- we specify as input only a source code repo.

So we were looking to parse the `.json` output that is created because we use the `--json <filename>` opti

[2020-12-14 10:45] michaelmaguire opened #8205 "[question] ERROR: Attempt to modify locked lib when trying to create recipe revision lockfile"
We are following through the examples in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#package-pipeline and we get to a point where we have already run the "package" lockfile creation steps:

[code]

and now we were looking at this optional step:

So we ran in our CI after the steps above:

[code]

But we get this output  (note: we used slightly different lockfile output names to be

[2020-12-14 11:25] DoDoENT commented on #3573
Actually, we are building our windows dev packages in release mode, but with `MDd` runtime. This enables both optimizations of the binary and the debug runtime (iterator checks and other). This is what we put in a "Debug" version of our windows conan package.

Although I completely agree with your statement for the general conan default, please don't prevent advanced users to still use the "unnatu

[2020-12-14 11:33] memsharded commented on #3573
Ok, this is very useful information. Some other users were reporting that they were totally incompatible, check https://github.com/conan-io/conan/issues/7019

[2020-12-14 11:35] memsharded commented on #3573
@DoDoENT Can you please clarify, the "Debug" thing?. You say it is "windows dev packages in release mode", but then you say that you put it in the "Debug" version.

[2020-12-14 11:36] memsharded commented on #7019
Hi @DmitrySokolov

We are trying to move forward the new ``msvc`` compiler settings, check https://github.com/conan-io/conan/pull/8201

Please read the comment from @DoDoENT in https://github.com/conan-io/conan/issues/3573#issuecomment-744376322. It is not possible to define only "static" "dynamic" runtimes, they are using combinations, building in release, but linking with MDd runtime.

[2020-12-14 11:47] SSE4 commented on #3573
is there any reason to complicate versioning so much? I mean getting one part of setting from the one place (toolset), and the second part of setting from the another (_MSC_VER but only two digits).

why not just use the compiler version like for all other compilers and be consistent?

also, this is a kinda time bomb, as soon as _MSC_VER runs out to 20XX or 21XX (it may happen eventually, and earl

[2020-12-14 11:58] DoDoENT commented on #3573
This is what conan thinks to be the debug, although it's actually built with optimizations.

So, if you issue this command for our internal package: `conan create ./conanfile.py user/testing -pr msvc-19.27 -s compiler.runtime=MDd -s build_type=Debug`, the cmake invoked by our recipe's `build` method is [will actually build the binary in release mode](https://github.com/microblink/conan-build-helpe

[2020-12-14 12:38] DoDoENT commented on #7019
@DmitrySokolov , nothing prevents you to compile your code in release mode and link it with MDd or MTd. You just need to make sure to define `_DEBUG` flag so that correct runtime functions will be called. However, you are free to compile your code with optimizations (`/Ox`, `/Oy`, `/Os` and `/Ot` flags). We are actually regularly doing so in our development (we call that a dev-release build, as it

[2020-12-14 12:50] DmitrySokolov commented on #7019
@DoDoENT
Then it will be the debug configuration, since you
* define `_DEBUG`
* link with debug libraries

Why are you calling it release? It will be the debug configuration with some optimizations switched on.

[2020-12-14 12:54] zabereer commented on #3000
I have a similar issue but with `build_requires` - I always want to use build_type=Release for the tools needed to build my package. So any way to force the `build_type` of dependencies (build or otherwise) would be highly appreciated. I hope I am not missing a trick somewhere.

[2020-12-14 12:57] DmitrySokolov commented on #7019
@DoDoENT
I think more accurately it should be called "optimized-debug" instead of "dev-release".

[2020-12-14 12:58] DoDoENT commented on #7019
Actually, I am calling this "Dev-Release", as it's not "release" (because of `_DEBUG`, enabled assertions and MDd) nor "debug" (because of optimizations - you can't step the code in the way it's written). Note that this is different from RelWithDebugInfo.

I guess you're right 😄  . However, keep in mind that this configuration is different from what VS treats as "Debug".

Also, we use the same nam

[2020-12-14 13:01] DmitrySokolov commented on #7019
OK, let's see: you are building a DLL in "dev-release" configuration, can it be used in an app, that uses MD runtime?

[2020-12-14 13:02] DoDoENT commented on #7019
No, you can't - you need to use it in an app that uses MDd runtime (you cannot link together binaries built against MD and MDd runtimes).

It's similar to how you can't link together binaries on Linux built against libc++ and libstdc++ runtimes.

[2020-12-14 13:04] DmitrySokolov commented on #7019
No. OK. So,  why it is different from what VS treats as "Debug". Just because you've switched on some optimizations?

[2020-12-14 13:06] DoDoENT commented on #7019
Yes - if you step through the code with the debugger, due to reordering of the code caused by the optimizations, the steps won't follow the code as written. Also, some variables may not be visible and some functions could not be stepped-into due to inlining. It's hardly a "Debug" version 😛

[2020-12-14 13:09] Johnnyxy commented on #3000
Hi @zabereer
you can override the ```build_type``` of dependencies via command line or via profile.

Command Line
----------------
[code]

Profile
------
[code]

[2020-12-14 13:10] Croydon commented on #3573
I agree. MSVC presents itself with such a version number and CMake does too

[code]

[code]

Though, CMake adds another `.0` to it for some reason.

[2020-12-14 13:13] DmitrySokolov commented on #7019
I think it will be completely confusing for everyone to use "release" libraries that require "MDd" debug runtime.

[2020-12-14 13:22] planetmarshall opened #8206 "[bug] Generated find package fails with fatal error if optional components are not found"
### Environment Details
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: Clang 11
  * Conan version: 1.32.0
  * Python version: 3.8.5
  * CMake version: 3.18.2

### Steps to reproduce

`conanfile.py`
[code]

```CmakeLists.txt```
[code]

### Logs

[code]

[code]

[2020-12-14 13:23] DmitrySokolov commented on #7019
I see no problem to build optimized debug libraries, and add some conan [option](https://docs.conan.io/en/latest/using_packages/conanfile_txt.html#options-txt) to packages, that will distinguish them from ordinary debug packages.

@memsharded
My vote is for removing `runtime: [MD ...]` from conan settings and adding `[dynamic, staitic]`. From my point of view, what DoDoENT is actually do is buildi

[2020-12-14 13:33] memsharded commented on #3573
Can you please clarify (@SSE4 , @DoDoENT , @Croydon ) with an example the actual settings.yml that you would use?. Here is the rational that I am using:

- I am proposing the 140, 141, 142, as they are aligned with the default binary compatibility model: binaries are compatible by default by the toolset version, not the full compiler version.
- Then, for users that want finer control of the binari

[2020-12-14 13:40] DoDoENT commented on #7019
Don't get me wrong. I am not against your proposal - I've even written that in my [original comment in other thread](https://github.com/conan-io/conan/issues/3573#issuecomment-744376322):

I just don't want to be prevented from doing my "optimized debug builds", as you call it. I'm perfectly fine with having `[dynamic, static]` option instead of `[MD, MDd, MT, MTd]`, but I do have some questions a

[2020-12-14 13:45] SSE4 commented on #3573
[code]

the rational:
- the setting is named `compiler.version`, so I would expect compiler version here (not an IDE version and not a toolset version), reported as is (e.g. from `cl --version` or `_MSC_VER`)
- this aligns perfectly with clang and GCC versioning
- this also aligns perfectly with apple-clang, where we never use IDE (Xcode) version, but the only compiler version
- we already do part

[2020-12-14 13:52] jgsogo commented on #3573
Just pointing that toolsets are more like `v14.00`, `v14.10`, `v14.11`, `v14.12`, `v14.20`, `v14.21` than `v141`, `v142`. Now you can have all of them side by side, although the IDE lets you select only one for the same _minor_ or you need to modify `props` files: https://devblogs.microsoft.com/cppblog/side-by-side-minor-version-msvc-toolsets-in-visual-studio-2019/  and then you have _all_ the num

[2020-12-14 14:00] zabereer commented on #3000
@Johnnyxy THANK YOU! I did not realise!

[2020-12-14 14:04] DoDoENT commented on #3573
I've actually described the `settings.yml` I use in [this comment above](https://github.com/conan-io/conan/issues/3573#issuecomment-678233803).

This seems reasonable for the default VS settings, where LTO is disabled. However, this is then not the `msvc` compiler - it's `visual studio` toolset - that should be different from `msvc` compiler.

Here is where I would actually treat that as the separ

[2020-12-14 14:58] memsharded commented on #7019
Ok, I think this discussion makes sense.

I will try to go with ``static, dynamic`` for the runtime, but leave the possibility of forcing the "unnatural" (opposite to the defined build_type), for advanced custom configuration.

Actually this is the opposite. We are right now improving support for custom configurations in CMake and MSBuild

[2020-12-14 15:06] DmitrySokolov commented on #7019
For what purpose?

You build a package, assign a meta (conaninfo.txt) for it, like
[code]

When you install a package, you provide settings, like `conan install -s os=Window -s arch=x86_64 ...`. Conan will match this provided settings against packages meta in the cache.

If your package requires some flags, you provide them in `package_info()`.

For VS it's just the flag `/Zi`, the underlying conf

[2020-12-14 16:31] dragondive opened #8207 "[question] How to specify the "mapping" of settings to pre-built binaries in `conan export-pkg`?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I have a library with pre-built binaries (and some other files) as shown below:

    ├── Linux_GNU
    │   ├── libmypkg_32.so
    │   ├── libmypkg_32_static.a
    │   ├── libmypkg_64.so
    │   └── libmypkg_64_static.a
    ├── Windows_GNU
    │   ├── mypkg_32.dll
    │   ├── mypkg_32_

[2020-12-14 16:50] lasote commented on #6479
I'm a big fan of this. In Conan-Center there are several recipes that are doing tricks in the `source()`  method like creating a `self._source_folder` and carrying that subfolder in all the recipe. And the only reason is that the zip subfolder (something like `whatever_1.2.3`) is renamed to `self._source_folder` and that is the way to skip the extract subfolder for all the contents.
I'm working on

[2020-12-14 17:02] memsharded commented on #8153
Fixed by https://github.com/conan-io/conan/pull/8155 will be released in 1.32.1 soon (maybe tomorrow)

[2020-12-14 17:02] #8153 closed, assigned to memsharded

[2020-12-14 19:32] DoDoENT commented on #7019
You need to provide one of these flags to `cl.exe` invocation - either via ninja or MSBuild. Which flag would you provide to `cl.exe` for `MyConf` build type?

[2020-12-14 19:41] DmitrySokolov commented on #7019
It should be handled by the conan recipe:

[code]

[2020-12-14 22:19] memsharded commented on #8207
Hi @dragondive

I think there was some missunderstanding

``collect_libs()`` only gathers the existing libraries, but cannot classify. It is designed to be used in the ``package_info()`` method, to avoid explicitly listing libraries in ``self.cpp_info.libs = ["lib1", "lib2",..]`` (I still prefer to list libs explicitly).

For your case, you have a couple of alternatives:

- Write your ``package()`

[2020-12-14 22:32] memsharded commented on #8205
Hi @michaelmaguire

I think the docs are not clear enough, in these cases, please refer to the code in the examples repo, which is complete and functional. What is being ran there is:

[code]

You can see the ``export`` needs to be done **before** the create. If you execute the ``create``, then the package binary package_id and package revision will be computed and fully locked. Once they are lock

[2020-12-14 23:02] memsharded commented on #8199
Hi @GordonJess

The commands ``conan lock build-order`` and ``conan lock update`` are actually very simple, they do pure operations on the lockfile itself, without requiring to compute the graph at all. I think this is nice, probably we want to keep it that way.

To re-compute a whole lockfile so it could update the ``Package_ID_unknown`` to the new package_ids, the ``conan lock create`` can be us

[2020-12-14 23:13] memsharded commented on #8195
Hi @jerdna

I think there are different things here, and probably it would be great to reduce the scope to be able to know what needs to be done:

- At first I thought it was just an Assimp recipe issue, and almost move the issue to the ``conan-center-index`` repo.
- Then, it seems the issue could be more related to cross building to Emscripten than to Assimp itself.
- Specifically, it could be re

[2020-12-14 23:20] memsharded commented on #8165
Hi @madebr

This is on purpose. We are trying to minimize the scope and interface of the new toolchains. First, because they are quite experimental (just renamed ``toolchain()`` method to ``generate()``, for example). But also, because those things totally read like configuration, and then they should have a better way to define them, without needing to modify the recipe. We are studying how the c

[2020-12-15 00:06] michaelmaguire commented on #8205
Thank you.

I see the example https://github.com/conan-io/examples/blob/master/features/lockfiles/ci/build.py#L80 .

In fact, we were already doing base lock file creation *before* we did the per-configuration lockfile creation:

[code]

but then in the docs just before https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#products-pipeline we saw the part I mentioned above, namely:

[code]

[2020-12-15 05:15] SeanSnyders opened #8209 "[bug] Empty source conandata.yml file gives error with scm_to_conandata during recipe export"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS OSX 10.15.6 (Darwin `machine_name` 19.6.0 Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELEASE_X86_64 x86_64)
  * Compiler+version: `n/a`
  * Conan version: 1.30.2
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)

The goal was to have a reci

[2020-12-15 08:22] Viatorus commented on #8182
@memsharded Would be create to get a new version asap - many of our PRs standing still because of this issue. We want to use new features from v1.3x.

[2020-12-15 08:37] DoDoENT commented on #7019
But this can be done even now, and does not require neither `static/dynamic` nor `MT/MTd/MD/MDd` compiler sub-settings.

However, conan currently automatically appends `/MD` cxx flag if `settings.compiler.runtime == 'MD'`, regardless of build type - and you cannot remove this - you can only override it later with custom cxx flag, yielding e.g. `/MD /MDd` in `cl.exe` invocation.

My question is wha

[2020-12-15 08:40] czoido commented on #8182
Hi @Viatorus, we are releasing 1.32.1 in a couple of hours if no further problems arise, as soon as the ci passes
I'll ping you when it's released :)

[2020-12-15 08:52] liarokapisv commented on #7615
Thanks for working on this, this is a very important feature!

Just a reminder: `::` in cmake is nothing more than an utility for more readable Imported/Alias targets. Target names can be anything, using `::` is just a hint that the target is meant to be consumed as an imported target (or alias for compatibility with `add_subdirectory` usage). Depending on the policy and version cmake may or may n

[2020-12-15 09:31] sandeshhardikar opened #8210 "[bug] conan package when consumed doesnt extract hidden files"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version:NA
  * Conan version: 1.30.1
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)
1. Upload a conan package with atleast one hidden file .
2. consume the package in conan recipe with
build_requires = \
        "package1/0.0.1@author1/stable"
3. Look into

[2020-12-15 10:18] juba895 commented on #8203
Thank a lot, it is working!

[2020-12-15 10:18] #8203 closed, assigned to memsharded

[2020-12-15 10:28] memsharded commented on #8210
Hi @sandeshhardikar

We would need more information in order to classify this:
- How is the hidden file being created? Is it exported in the recipe? Is it retrieved/cloned in the source() method?
- Are you sure it is being packaged correctly? Do the ``ls -al`` before uploading the Conan package
- Is the file present in the ``conan_package.tgz``? Check it (Artifactory UI allows to navigate tgz file

[2020-12-15 11:35] czoido commented on #8182
Hi @Viatorus, Conan 1.32.1 has just been released!

[2020-12-15 11:45] Viatorus commented on #8182
Thank you very much! :man_dancing:

[2020-12-15 12:53] memsharded commented on #3573
I have updated https://github.com/conan-io/conan/pull/8201 to implement:

[code]
The mapping to default VS versions (to call cmake -G "Generator") is done dropping the latest digit if existing.
This is basically the same approach done for gcc and clang. Auto-detect (when this happens, Conan 2.0) will resolve to 19.1, 19.2, assuming that binary compatibility, and letting users to opt-in into the fu

[2020-12-15 13:58] dragondive commented on #8207
Thanks @memsharded. Now my misunderstanding is clarified, and this explanation makes complete sense. Now I could separate out those binaries based on various settings and options, and also put other settings-independent files (source code, documents, etc.) into the conan package in a proper way.

[2020-12-15 14:58] sandeshhardikar commented on #8210
Hi @memsharded ,

First of all Apologies from my side . The issue was from my side when creating a package .
I was using glob to copy the files and it resulted in ommiting the hidden file . https://stackoverflow.com/questions/49047402/python-3-6-glob-include-hidden-files-and-folders . Thanks for your time in investigating the issue and quick response .

[2020-12-15 14:58] #8210 closed, assigned to memsharded

[2020-12-15 15:19] ytimenkov opened #8212 "[question] Generators are not called for recipe defining custom build_id"
Conan 1.31.1.

I'm trying to create a workflow which creates 2 binary packages in one go: one with tests and one without (pretty much one described in the https://docs.conan.io/en/latest/reference/conanfile/methods.html#build-id).

However I noticed that custom generators are not called when build directory already exists (only the built-in ones like `TXTGenerator`).

Somewhere in `installer.py` /

[2020-12-15 15:59] memsharded commented on #8210
Hi @sandeshhardikar

No problem! Do not hesitate to open new issues for further questions or problems, always glad to help if possible.

[2020-12-15 16:08] Jochen0x90h commented on #8049
Now I added the functionality to deploy() in the conanfile.py of the project that kicks in when CONAN_INSTALL_PREFIX env variable is set. I call conan_basic_setup() with KEEP_RPATHS so that dependent libraries (e.g. boost) are referenced in the conan cache, but when I do `conan install ...` then the rpath gets patched. This way I can install an executable and its dependencies to $HOME/.local or ot

[2020-12-15 17:02] dragondive commented on #8207
Hello @memsharded, sorry to reopen the issue. I just realized something is not clear to me: Is there a way to assign the settings directly in the `package()` method without specifying them on the command line?

Here's what I'm trying to do:

    def package_info(self):
        // copy common files, such as source code, documents, etc.
        self.copy("*.cpp", dst="src")
        self.copy("*.h",

[2020-12-15 17:10] memsharded commented on #8207
Yes, this is necessary. In exactly the same way the ``conan create`` command creates exactly 1 binary for 1 configuration (defined in the profile), the ``conan export-pkg`` is nothing but a shortcut to the ``conan create`` command, in which the "build" step is skipped and things are packaged directly from the user space. But still only 1 configuration is possible.

If you want to package more than

[2020-12-15 17:55] ericLemanissier commented on #8197
the same situation happens in a recipe which has both `self.build_requires("cmake/3.19.1")` and `self.requires("openssl/1.1.1i")`

[code]

adding `self.requires("openssl/1.1.1i", override=True)` gives the interesting error message `ConanException: Duplicated requirement openssl/1.1.1i != openssl/1.1.1i`

[2020-12-15 22:25] SeanSnyders commented on #8209
As a side note, if there are no `conandata.yml` then the export works fine.
Seems to only be an issue if the `conandata.yml` is empty.

[2020-12-15 23:17] SeanSnyders opened #8214 "[question] How to filter files/folders using SCM feature"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Trying to use [SCM feature](https://docs.conan.io/en/latest/creating_packages/package_repo.html#capturing-the-remote-and-commit-scm) and value of entry `url`, and `revision` both set to `auto`.

Then during export, it copies local source folder, but copies **everything** in this folde

[2020-12-16 09:19] memsharded commented on #8209
Thanks for the detailed report @SeanSnyders

Indeed a bug, already submitted #8215, will be in next Conan 1.33

[2020-12-16 10:19] #8209 closed, assigned to memsharded

[2020-12-16 10:54] memsharded commented on #8212
Hi @ytimenkov

I am not sure I fully understand the issue. If the build is skipped, because the ``build_id`` computes just one ID, it doesn't matter if the generators would run again, because those files will not be used at all in the build. It is not an incremental build, the build is left intact, it assumes that whatever binaries are needed for every package_id already exist in the build_id. The

[2020-12-16 11:18] ytimenkov commented on #8212
This does answer my question. At least the behavior will be consistent and it's good to know the direction.

Just few thoughts...

Unfortunately there is  very thin line between `build()` and `package()` and there were examples where build is performed in the `package()` (maybe still are).

Besides most of times it's out of control because for better encapsulation `<your build tool> install` comma

[2020-12-16 14:02] jerdna commented on #8195
Hi @memsharded

First let me thank you for posting a comment and sorry for my late response. I hope I will clarify everything a bit more.

This is my command and its ouptut:
[code]
A bit long but as you can see, conan packages Zlib and IrrXML without and problem.

As you said find_package can't find package. But this is just a symptom and not the cause. The real problem is that toolchain file of E

[2020-12-16 14:18] Psy-Kai commented on #5896
Hello,
using the profile
[code]
also results in the same error.
It seems that the cmake generator has to be extended to support all msvc toolsets. I just modified https://github.com/conan-io/conan/blob/de080af9f006f1eda660b324e21a00c316ab8e4d/conans/client/generators/cmake_common.py#L586 and replaced "clang" with "ClangCL" for my usecase and it worked just fine.

[2020-12-16 14:26] solvingj commented on #3573
I don't think we can enforce the combination of `runtime` and `build_type`. Tons of companies build `.dll`s with `MT`. It works fine for so many people, they don't care that it's not safe or not recommended.

[2020-12-16 14:43] solvingj commented on #3573
The `version` and `cppstd` look good.  I would revert to the previous `build_type` and `runtime`. I admit that as a user, it's painful and frustrating to manage and work with the microsoft runtime settings.  Sadly, I don't think it's something we can ever abstract away.

[2020-12-16 16:26] memsharded commented on #3573
I am proposing this:

[code]
The ``runtime_type`` will be filled automatically based on ``build_type``, but the user always has the possibility of explicitly defining it. I am testing it for the CMake toolchain, seem to be a good approach so far.

[2020-12-16 16:29] a4z commented on #7876
just chatted with @theodelrieu and we noticed that this issue and that https://github.com/conan-io/conan/issues/2974 might be related in some sense

[2020-12-16 16:32] memsharded commented on #7876
Last blog post of Conan 1.32 describes a workaround that might be used to make the build_requires affect the ``package_id``: https://blog.conan.io/2020/12/14/New-conan-release-1-32.html. Is this what has triggered that chat?

[2020-12-16 16:39] theodelrieu commented on #7876
@memsharded

No, I asked Harald some advices on dual profile cross-building, which put light on some "toolchain" recipes issues.

[2020-12-16 17:40] solvingj commented on #3573
Ahhhh, ok i think i see it now.  This might work.

[2020-12-17 09:46] a4z commented on #7876
@memsharded  , can you please help me

you mean I add something like this https://docs.conan.io/en/latest/reference/conanfile/other.html?highlight=python_requires
so basically something like `python_requires = "android-ndk/r21d@"`

but how to do that in the package_id of   android-ndk/r21d@ for an other package (that one that is using it for building)?

[2020-12-17 09:53] theodelrieu commented on #8113
I've built our entire project on macOS ARM, and here's the main problem I've encountered:

## No way to differentiate armv8 iPhone / Simulator

Up until now, Conan Apple helpers made the distinction based on `arch`. If there was `x86`, it was a simulator. Simple.

This is over now, because it can also be `armv8`. The workaround I've used is simply providing the `sdk` parameter in `tools.XCRun`.

B

[2020-12-17 10:11] chris-stones opened #8219 "[bug] Cant enter passwords in Mingw"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: i686-w64-mingw32 10.2.0
  * Conan version: 1.32.1
  * Python version: 3.8.6

### Steps to reproduce (Include if Applicable)
[code]

Enter your credentials - hit return.
Wait for a very long time... nothing happens...
kill with ctrl+c
[code]

Looks like console input was not r

[2020-12-17 10:12] theodelrieu commented on #7876
@a4z The caveat here is you have to add that `python_requires` in **every** requirement's recipe.

[2020-12-17 10:27] a4z commented on #7876
but that is not a workaround, that is just a bad idea...

[2020-12-17 10:29] theodelrieu commented on #7876
It is mentioned in the 1.32 blog post:

[2020-12-17 10:53] a4z commented on #7876
indeed, thanks for the info Théo.

Maybe that's why my brain rejected to process that, since it is not very useful...

[2020-12-17 11:47] SSE4 commented on #8113
@theodelrieu are arm64 simulator and arm64 iPhone binaries actually different?
I suspect arm64 simulator might be able to run the exactly same binaries as iPhone runs, so it's very possible they should render into the same package id.
maybe if you could try to build some dummy .a files, we can compare

[2020-12-17 12:02] theodelrieu commented on #8113
@SSE4 No they are different, you cannot link both together, the error looks like:

[2020-12-17 13:54] kdsx commented on #7331
I've faced the same issue. I've tried to rollback a "bad" revision, but CI builders didn't want to pick up an older "good" revision.

But then I've re-uploaded a "good" revision (deleted it from remote and uploaded again), and it surprisingly didn't help.
It looks like conan sees the newer revision but does not update the package to it for some reason. In the output I see the following:
[code]
It

[2020-12-17 14:14] SimplyLiz opened #8220 "[question] relative rpath set in binaries when"
Not entirely sure if this is related to conan or rather to cmake, but still...

I need to use **CONAN_USER_HOME** to persist the conan cache between multiple docker containers.

When i set the var to the build directory, the resulting binaries have a relative RPATH, meaning they can only be executed in the root of the build directory.

setting **CONAN_USER_HOME** to /tmp results in an absolute RPA

[2020-12-17 14:28] kdsx commented on #7331
Ah, it looks like it was the exact situation from this issue title. Despite the fact that `conan search` displayed a newer timestamp of the package, conan compared a creation timestamp to local cache. After I rebuilt the package and re-uploaded it again, it was updated on CI builders automatically.

[2020-12-17 16:24] theodelrieu commented on #8113
Also, when doing a native build, Conan will say that we are cross-building from x86_64 to armv8.

[2020-12-17 16:28] rconde01 commented on #8113
@theodelrieu I saw this but this was before I tried the native m1 conan build that wasn't available until later...which are you using?

[2020-12-17 16:33] madebr commented on #8113
Have you set `arch=arch_build=armv8` in your profile?

[2020-12-17 16:41] theodelrieu commented on #8113
@rconde01

I don't understand, I am using a M1 right now 😅

@madebr

I'm trying to use the dual profile approach, and not using/setting `arch_build/os_build`

[2020-12-17 16:44] rconde01 commented on #8113
@theodelrieu but you could be using x86_64 conan emulated, or running natively on m1. I don't know for sure, but i maybe guessed it would think it's cross-building because the conan build architecture was x86_64. But i guess in that case, i'm not sure what the build_arch in the profile is for.

[2020-12-17 16:50] SpaceIm commented on #7504
AFAIK, trying to simulate public/private dependencies with a mix of `requirements()` and `build_requirements()` is bad. It might work in some cases, but it's fragile.
I mean something like:
- if lib is static, private dependencies are in `requirement()`
- if lib is shared, private dependencies are in `build_requirements()`.

Here are some reasons I see to not use this pattern:
- It very likely bre

[2020-12-17 17:36] GPages opened #8222 "[question] Packaging cmake INTERFACE libraries"
CMake uses the notion of INTERFACE library :

Since i use multiple libraries and multiple projects - all packaged with conan - i'd like to centralize some of the cmake utilities i use for development (e.g warning flags, code coverage) into a conan package. All my libraries and projects will depend on the latest version of this package, probably using  "Build requirements" provided by conan.

Usual

[2020-12-17 18:39] memsharded commented on #8222
Hi @GPages

I don't think there is something bad for your use case, just some things to be taken into account:

- If the package you are creating with the flags, etc, directly create a CMake file that can be used by consumers only CMake consumers will be able to use it. If it is ok for your use case then fine, but if you are using more than one build system, you might want to generalize the concep

[2020-12-17 18:45] memsharded commented on #8219
Hi @chris-stones

A couple of quick questions, to clarify:

- You mean that you are running under MSYS2 terminal in Windows? Because I usually refer to MinGW as the compiler suite (mingw32-make, gcc, etc), but in this case, it seems this is not related to the compiler at all, just to the fact that you are running Conan inside some terminal
- How did you install Conan inside that system? with ``pip

[2020-12-17 19:03] paulocoutinhox commented on #6376
The problem still happen:

[code]

Full log:
https://travis-ci.com/github/prsolucoes/conan-cmake-test/builds/209437331

My sample project:
https://github.com/prsolucoes/conan-cmake-test

CMake issue:
https://gitlab.kitware.com/cmake/cmake/-/issues/20246

[2020-12-17 19:04] sourcedelica commented on #8219
Try installing `winpty` in msys2 and then run the Conan command like
[code]
You can install `winpty` by running
[code]

[2020-12-17 21:12] DukeOfKirkcaldy opened #8224 "[bug] passwords with special characters not properly encoded when checking out sources from SCM"
Authentication started failing after upgrading to 1.32.0

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version: 1.32.0
  * Python version:

### Logs (Executed commands with output) (Include/Attach if Applicable)
command:
[code]
output:
[code]

[2020-12-17 21:23] heili77 commented on #8179
I created a repository for my example that generates the error
https://github.com/heili77/conan_issue_8179.git

[2020-12-17 23:34] GPages commented on #8222
Thanks a lot for this quick and precise answer, this is exactly what i needed.

Using _cmake_find_package_multi_ generator and _self.cpp_info.build_modules_ easily solved the problem. If i understand correctly the interface library is now created by the consumer by automatically calling the "build scripts". This is different than what i had before where the library was created when building the pa

[2020-12-17 23:56] memsharded commented on #8222
Ok, great!!

A few hints:
- ``MyWarningsConan`` probably doesnt need any generator at all, as it doesnt have dependencies, or need further transitive find_packages to build itself
- Keep an eye on next releases changelog on ``build_modules``. As it is experimental and we are aware of some weaknesses, it might get some minor changes to the UI.

I think we can close this ticket now, but feel free to

[2020-12-17 23:56] #8222 closed, assigned to memsharded

[2020-12-18 08:24] theodelrieu commented on #8113
@rconde01

Ah right there's that Rosetta stuff. I'm using arm64 native tools though so I don't know where the `x86_64` comes from in the log output.

By the way, when invoking Conan for the first time, it will detect the arch to be `arm64`, which is not in in the `settings.yml`. I had to manually patch it to `armv8`.

[2020-12-18 09:05] chris-stones commented on #8219
Thanks for the response.

@memsharded
* Yes - MSYS2 In Windows 10. I installed the mingw compiler suite via msys2, and launched terminal i use conan with using the mingw32.exe that is installed by msys2.
Default path c:\msys64\mingw32.exe.
From what I gather, this is just a shortcut to launch the msys2 terminal with /mingw32 in the PATH.
The naming IS a little confusing, but, this is NOT the very

[2020-12-18 09:46] SSE4 commented on #8113
thanks for the information @theodelrieu
I think now it's clear that conan needs to distinguish iOS arm64 builds and iOS Simulator arm64 builds, as they are really different binaries, thus they should render into different package ids ideally. but unfortunately, with current settings, it's impossible to explain the difference. there are several ways how it could be done, for instance:
- add new OS

[2020-12-18 10:05] theodelrieu commented on #8113
Darwin Marvins-Mac-mini.local 20.1.0 Darwin Kernel Version 20.1.0: Sat Oct 31 00:07:10 PDT 2020; root:xnu-7195.50.7~2/RELEASE_ARM64_T8101 arm64

How can I find this?

[2020-12-18 10:08] Forbinn opened #8227 "[question] Package ID unexpected behavior"
I discovered a weird behaviour in the generation of the package ID for a recipe that requires qt.

Here is the minimal example:

- `conanfile.txt`
[code]

Environment:
- docker image `conanio/gcc7`
- `conan profile new --detect default`
- `conan profile update settings.compiler.libcxx=libstdc++11 default`
- `conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan`

Defa

[2020-12-18 10:11] theodelrieu commented on #8113
Here's the list of all Apple platforms (available at `/Applications/Xcode.app/Contents/Developer/Platforms`):

* AppleTVOS.platform
* AppleTVSimulator.platform
* MacOSX.platform
* WatchOS.platform
* WatchSimulator.platform
* iPhoneOS.platform
* iPhoneSimulator.platform

SDKs bare the same name, with the `.sdk` suffix instead of `.platform`.

[2020-12-18 10:12] memsharded commented on #8219
Hi @chris-stones

Yes, it seems that it could be a msys2 issue, because Conan there is doing "nothing", besides calling the python ``getpass`` functionality. I guess it is easily reproducible in msys2 by running inside python a ``import getpass`` and ``getpass.getpass("")``. Maybe @sourcedelica can confirm.

A couple of workarounds that you might use are:
- Define an env-var CONAN_PASSWORD instead

[2020-12-18 10:21] chris-stones commented on #8219
@memsharded - You are correct!

`getpass.getpass('')` halts - echoing typed characters to the terminal.
ctrl-c kills the interpreter, then the shell tries to execute the password as a command.

Thanks for all the help!
Im not 100% where the bug lies, but it is certainly not in conan!

[code]

[2020-12-18 10:21] #8219 closed, assigned to memsharded

[2020-12-18 10:25] memsharded commented on #8219
Thanks to you for the feedback and following up!

[2020-12-18 10:48] theodelrieu commented on #8113
Another thing, the `apple_deployment_target_flag` tool must return `-mios-simulator-version-min`, otherwise it will fail to link.

[2020-12-18 11:14] SSE4 commented on #8113
https://raw.githubusercontent.com/gcc-mirror/gcc/master/config.guess

[2020-12-18 11:27] gummif opened #8229 "[bug] Pinned revision still uses old conanfile.py"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC VS 16
  * Conan version: 1.32.1
  * Python version: 3.5.2 (python3) 2.7.12 (python) pip 20.1 from /usr/local/lib/python3.5/dist-packages/pip (python 3.5)

### Steps to reproduce (Include if Applicable)

Boost was installed with the latest (or a newer revision) boost/1.74

[2020-12-18 12:06] theodelrieu commented on #8113
@SSE4 Thanks, here it is: aarch64-apple-darwin20.1.0

[2020-12-18 12:13] SSE4 commented on #8113
this probably triggers `arm64` to be incorrectly detected as `x86_64`:
https://github.com/conan-io/conan/blob/58dd8268d94f27f49a50b4f155c45c1c05476d44/conans/client/tools/oss.py#L98
as there is no branch for `arm64`

[2020-12-18 12:56] GPages commented on #8222
Just to complete my last comment, if anyone is interested :
 - There is indeed no need for any generator at all, so i could remove `generators = "cmake_find_package_multi"` from the conanfile.py of the package
 - In the CMakeLists.txt of the consumer, using "debug" keyword of the target_link_library commands is what i needed to successfully build in release mode (hence without my_warnings being de

[2020-12-18 13:54] theodelrieu opened #8231 "[question] source is not called when option restricted with "ANY" changes"
Hello,

I'm trying to improve [darwin-toolchain](https://github.com/theodelrieu/conan-darwin-toolchain) by allowing users to use a custom `libcxx` rather than the Xcode bundled one.

I do have a `llvm_version` defined like this: `options = { "llvm_version": "ANY" }`

I use the version in the `source` method, to choose which branch to checkout.

After creating the package with `llvm_version=9`, I t

[2020-12-18 14:45] kdsx opened #8233 "Allow manual search/installation from disabled remotes"
Conan allows to disable some remotes. And currently a disabled remote is just a line in `conan remote list` output. User can do nothing with them. Only enable it back. What if allow certain actions on such remotes when user manually specify them via `-r` parameter.

Just an example. We use a recommended package promotion scheme to copy packages from dev to prod repo. When someone builds a package,

[2020-12-18 15:53] shelper opened #8234 "[question] Multiple definition of zlib"
I am not sure this is related to conan, but here is what I am trying to understand

Say I have libA and libB, both needs zlib 1.2.11, and both are compiled as static lib.
my understanding is that static lib just put all .o files together. as such, both libA and libB will have something like `zutil.c.o` in their .a files.
Now I am trying to build another project that relies on both libA and libB, a

[2020-12-18 16:25] memsharded commented on #8234
my understanding is that static lib just put all .o files together. as such, both libA and libB will have something like zutil.c.o in their .a files.

Not really, I am afraid you misunderstood static libraries. LibA and LibB will only contain objects of their own source files, but not their dependencies. A static lib only contain unresolved links to external libs. When the linker builds an executa

[2020-12-18 16:30] shelper commented on #8234
i think just figured out what causes this multiple definition. I have   this line in my cmakelists.txt file
`target_link_libraries(${TARGET} PUBLIC ${PYTHON_LIBRARIES})`
and this one looks for python static libs, and thus will link to the zlib dependency for python itself.
this conflict with the one used in conan.

when building using conda's python, for some reason maybe the version of zlib in co

[2020-12-18 16:30] #8234 closed, assigned to nobody

[2020-12-18 16:38] memsharded commented on #8233
Hi @kdsx

While I understand the request, it seems at first glance that this cannot be done now, as it would be breaking behavior. The semantics and current documented behavior of ``conan remote disable`` is to completely disable that remote, for any usage without removing it. Users might be relying on that behavior for their flows and their development/developers policies.

Also, I think there wo

[2020-12-18 22:55] mschmid commented on #1516
Probably outdated.

[2020-12-18 22:55] #1516 closed

[2020-12-19 04:21] dragondive commented on #8207
@memsharded Thanks for the detailed explanation. Considering continuous integration, the current approach seems reasonable. My idea was to package all the pre-built binaries on one machine and then let it be consumed on various machines with different configurations.

The custom commands in Conan 2.0 sounds like a useful feature. However, for now, handling this case with a shell script seems good.

[2020-12-19 04:21] #8207 closed, assigned to memsharded

[2020-12-19 16:23] kdsx commented on #8233
Hmm, it looks like `conan install` is pretty complex :)

However what about `conan search pkg/1.0@user/channel -r=dev` (or `get`)?

[2020-12-19 17:18] hsuanguo opened #8235 "[bug] CMake flags Boolean type conversion"
It might can't be said as bug, but potentially can cause some issues which will be very difficult to be allocated.

Basically, it is caused by the fact that CMake uses ON/OFF value as the boolean type, but when we set `cmake.definitions` using `True/False` in python,  there could be some issues.

**Description**

In conan we can set boolean CMake flags using:

- `cmake.definitions["MY_CUSTOM_DEFIN

[2020-12-20 01:18] #6479 closed

[2020-12-20 01:21] memsharded commented on #6479
https://github.com/conan-io/conan/pull/8208 implemented ``strip_root`` argument in ``tools.unzip()``, ``tools.get()``, etc, and it will be released in Conan 1.33.

[2020-12-20 18:28] chausner-audeering opened #8239 "[bug] conan install --update does not work, manual clearing of cache needed"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: MSVC 16
  * Conan version: 1.32.1
  * Python version: 3.8.5 64-bit

### Steps to reproduce (Include if Applicable)
We are running Conan builds in GitLab CI using CPT on every push to "master" and uploading packages to Artifactory. We are using "latest" as version specifi

[2020-12-20 22:15] galikrosentalik opened #8240 "file names case sensitivity"
Hi all,
I recently updated my conan version from 1.17.0 to 1.32.0.
my company legacy-code has package that contains 2 files with very similar names, separated only by case sensitivity..e.g.:
foo.cpp
Foo.cpp
in old conan, 1.17.0 can run "conan create" with no problem, however in 1.32.0 "conan create" is failing with error of not finding "foo.cpp"

Putting aside good/bad practice for filenames that

[2020-12-20 23:14] memsharded commented on #8240
Hi @galikrosentalik

There was actually a bug in the ``self.copy()`` that was handling the "case-insensitivity" wrong: https://github.com/conan-io/conan/pull/7704. This fix unveiled some other hidden bugs and there was some other follow up PR like this https://github.com/conan-io/conan/pull/8009, about the "excludes" argument.

In short, the declared old default ``ignore_case=False`` was simply no

[2020-12-20 23:41] memsharded commented on #5896
This will be closed by https://github.com/conan-io/conan/pull/8218 and released in Conan 1.33

Copying here the hints posted there:

- The cmake generator will be replaced by the ``CMakeToolchain`` and ``CMakeDeps`` (forked from ``cmake_find_package_multi`` generator), that are still experimental, but planned to replace it in Conan 2.0
- There is a mechanism to skip the compiler check, just as a t

[2020-12-20 23:46] memsharded commented on #8234
Hi @shelper

Yes, it is very possible that ``${PYTHON_LIBS}`` brings some extra libraries, including zlib. Why don't you print its value and check it? But it is a plausible explanation.

Not sure what you mean about Conda, you mean that in Conda it works, but outside Conda it works? It might also be a possibility that the zlib library provided by Conda is binary compatible with the one provided by

[2020-12-21 00:12] #5896 closed

[2020-12-21 01:05] radonish opened #8241 "[question] Random install failures?"
In my CI environment I am periodically seeing `conan install` failures as indicated in the log below. For this specific instance it looks like the conanmanifest.txt file failed to properly download. Has anyone seen something similar? Is this a bug or a CI environment configuration issue?

Thanks

**Environment**

- Conan Version: 1.32.1
- Operating System: Red Hat Enterprise Linux 7.4
- Python Ver

[2020-12-21 01:26] radonish commented on #8241
Including the backtrace as well:
[code]

[2020-12-21 10:28] wpadala420 opened #8242 "[bug] ConanException: boost/1.72.0 package_info(): Package require 'libiconv' declared in components requires but not defined as a recipe requirement"
Hello, I use conan from about 2 years in my project and everything was good until I had to reinstall my ubuntu to 20.04 LST version.
I have conan in version  1.32.1. I hadn't change anything in my conanfile.txt from about year.
Here is output from conan
`Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.libcxx=libstdc++11
compiler.version=9
os=Linux
o

[2020-12-21 10:29] wpadala420 commented on #8242
I use conan install .. --build missing for install packages

[2020-12-21 12:39] memsharded commented on #8242
Hi @wpadala420

This seems a ``boost`` recipe issue, not really a Conan issue. Asking @SSE4 to have a look, if a recipe issue, then this should be moved to conan-center-index repo. Thanks for reporting.

[2020-12-21 15:10] memsharded commented on #7026
Hi @SSE4 Please check if https://github.com/conan-io/conan/pull/8147 finally implements this and if this can be closed.

[2020-12-21 16:23] SSE4 commented on #7026
all dependencies are now located via `pkg-config`
the information like cflags is now passed via cross file or native file
we no longer pass things like fPIC or Visual Studio runtime via cflags, but use meson built-in properties for that purpose instead
I believe the issue could be closed

[2020-12-21 17:34] memsharded commented on #7026
Ok, so considered this implemtented, and will be released in Conan 1.33

[2020-12-21 17:34] #7026 closed, assigned to nobody

[2020-12-21 21:26] memsharded commented on #8241
Hi @radonish

Quick question, are you sharing the Conan cache among different concurrent CI processes? From the cache path ``/jenkins_server/workspace/build/conanHome``, it seems you are not generating a clean home for each job.

The Conan cache is not designed for concurrency, and parallel CI jobs need to use independent caches.

[2020-12-21 21:35] memsharded commented on #8235
Hi @hsuanguo

The truth is that ``if(XX_OPTION STREQUAL "ON")`` is a bad practice in CMake, and that might happen, but it is also possible that there are users out there that have in some CMakeLists something like ``if(XX_OPTION STREQUAL "True")``, and if we change this, it will break them. Given the Conan user base is large and growing, we have realized recently that this will probably happen.

A

[2020-12-21 21:47] memsharded commented on #8229
Hi @gummif

I have been trying to reproduce this issue, but still not clear how to do it. Was this just a one time thing, or can you still consistently reproduce it? How do you produce the ``ERROR: boost/1.74.0: Error in package_info() method, line 1164`` error? Doing what command? In theory the Conan cache only contain one revision per recipe, it is impossible to get that error message if the rec

[2020-12-21 21:58] memsharded commented on #8227
Hi @Forbinn

Yes, the default behavior is taking dependencies options into account. There is a known bug described in https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html, in which these options will affect the consumers package_ids. In general it is kind of expected, the options of the dependencies affect the consumers: if you are building an executable that is statical

[2020-12-21 22:04] memsharded commented on #8224
This could come from https://github.com/conan-io/conan/pull/8016

[2020-12-21 22:09] hsuanguo commented on #8235
makes sense,  using strings over python booleans will move this responsibility to users, and it doesn't matter whether ON/OFF or True/False is used in CMake,  recipes can always be aligned with whatever is used in CMake.

[2020-12-21 22:25] memsharded commented on #8224
I am trying to add a unittest with special characters, like:

[code]
But this works fine. Can you please detail how are you declaring your scm, and how are you passing the password?

[2020-12-21 22:29] memsharded commented on #8214
Hi @SeanSnyders

The local copy of the folder will exclude the ``.gitignore``d files. The idea is to reproduce what will happen when the repo is cloned. When at some point the package needs to be build from source in the cache, it will do a ``git clone``, that will get the files except the gitignored ones.

If you want to avoid copying some files or filtering them, have you tried adding the files

[2020-12-21 22:36] memsharded commented on #8231
Hi @theodelrieu

This is totally expected. The ``source()`` method is common to all variants, settings, options...  Please read the note in https://docs.conan.io/en/latest/reference/conanfile/methods.html#source

You should be getting the source specific code in ``build()`` method instead. The Conan v2 mode will raise an error if trying to use settings or options in the source() method, so it will

[2020-12-21 22:45] memsharded commented on #8235
Good, updating the docs in https://github.com/conan-io/docs/pull/1969.

Also, asking @uilianries to see if it makes sense to add something in conan-center-index policies or hooks that could check this, or not really a current issue in ConanCenter

[2020-12-21 22:55] memsharded commented on #8239
Hi @chausner-audeering

It seems that you are mixing usage with and without revisions. It is not possible to mix or switch using and not using revision in the same cache, is it possible that different jobs are using different configurations?

Just a heads up too, Conan 2.0 will use revisions only: https://github.com/conan-io/tribe/blob/main/design/014-general-revisions.md. It might be good to star

[2020-12-21 23:19] SeanSnyders commented on #8214
Cloning the repo is fine and I understand that intent, but what if not all the files in the repo are destined to be considered "source" to be copied to the cache location? So not using git for filtering, but a Conan mechanism similar to `export_sources`? Also sounds very git specific.

[2020-12-21 23:21] chausner-audeering commented on #8239
Thanks @memsharded for your quick reply!

You mean the issue could be caused by changing the `general.revisions_enabled` setting locally? I just checked and that setting is enabled on my local machine, and should have been enabled ever since we moved to Conan. What could have happened, though, is that the setting isn't or wasn't always enabled in our CI. We reinstalled some of our runners recently

[2020-12-22 00:11] memsharded commented on #8214
It doesn't matter if all files in the repo are intended to be used or not. When using the ``scm`` mechanism, only the coordinates (url, commit) of the repo will be stored, but not the files. When the ``git clone`` is executed in the cache to get the sources, it will result in something. The local copy of the sources is an optimization, to avoid doing a clone of the local repository (and requiring

[2020-12-22 08:54] memsharded commented on #8119
Hi @DoDoENT

As commented above, this is not a bug, the feature requires to define ``settings = "os", "arch", "os_build", "arch_build"``. Either add them or use ``profile:build`` and ``profile:host``. I think this issue can be closed now, do you agree? Thanks!

[2020-12-22 09:00] memsharded commented on #7280
Toolchains are moving forward, I think we no longer need this general issue, but specific ones that can be directly assigned and implemented.

[2020-12-22 09:00] #7280 closed, assigned to nobody

[2020-12-22 09:01] Forbinn commented on #8227
Hi @memsharded,

Thank you for your reply. Yes you are right some options of an underlying dependency requires a change in the current recipe but this is not always the case, especially with recipe like Qt which contains a lot of options that won't necessarily affect the current one. For example if my library only require the core component of Qt, then adding websockets or sql module will not affe

[2020-12-22 09:26] Linux13524 commented on #8239
I can confirm that revisions were not enabled in our recent CI runners. I also would have expected to see an error from conan when uploading to artifactory. At least I saw one in the past on my local machine...

[2020-12-22 09:27] maikelvdh opened #8247 "[bug] TestClient module no longer usable from Conan 1.32.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version:
  * Conan version: 1.32.0
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)
Create a python file with `from conans.test.utils.tools import TestClient`

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

[2020-12-22 09:31] ghost commented on #7719
Hi, I think I'm struggling with the same issue when trying to crosscompile. I want to use x86 `protoc` binary , my `conanfile.txt` looks something along the lines of:
[code]
From what I can tell, there is no way to access the `protoc` binary programatically after running:
`conan install . --profile:host .conan/profiles/arm --profile:build .conan/profiles/x86_64`.

I tried adding this to the conan

[2020-12-22 09:56] memsharded commented on #8247
Hi @maikelvdh

I am afraid that test resources are private, and cannot be imported from the outside. ``TestClient`` should never be imported. The fact that ``TestClient`` was available was an infortunate leak, because another Conan project (conan-package-tools) was using it, but that has been removed.

I don't think this is a bug, and most likely future Conan versions will completely remove the te

[2020-12-22 10:08] ixtrader commented on #7969
Maybe removal of the files can be logged.
Created Folders are not removed.

[2020-12-22 10:09] jgsogo commented on #7719
Hi, @tomerlevv

Build requires in your example (with a `conanfile.txt` and using two-profiles) should be considered as tools provided by the environment like the `cmake`, `gcc`,... that you can already run using them from the command line (they are already in the PATH).

Conan provides some generators to get the information from those build-requires and provide you with a couple of files to activa

[2020-12-22 10:23] DoDoENT commented on #8119
Yes, sorry, I forgot to close that. Your suggestion works flawlessly. Thank you!

[2020-12-22 10:23] #8119 closed, assigned to nobody

[2020-12-22 11:59] memsharded commented on #8239
To make sure that you are using the same config everywhere, I would recommend (in case you are not doing it yet), to use ``conan config install`` feature, with a ``conan.conf`` file that defines revisions enabled in it. In this way it would be more difficult to have different configurations in machines, it doesn't depend on the installation. Remember that ``conan.conf`` can also define minimum con

[2020-12-22 12:06] memsharded commented on #8239
@chausner-audeering yes, enabling/disabling revisions on an already populated cache could have some undefined behaviors. It is an important difference in processing and storing the metadata, and it is basically impossible to check and run migrations of that in a populated cache when this value changes. So revisions is something that should be managed and have a consistent value across machines eve

[2020-12-22 12:49] Linux13524 commented on #8239
@memsharded Thanks a lot for your suggestions! I think we will definitely try out using a `conan.conf` for our CI jobs.

I just checked with our devops team and it seems the `CONAN_REVISIONS_ENABLED` variable was always set throughout all our CI runners. So the revisions should have been enabled and this would explain why there was no error message when uploading to artifactory. But it also means

[2020-12-22 12:58] czoido commented on #8149
Closed after merging: https://github.com/conan-io/docs/pull/1956

[2020-12-22 12:58] #8149 closed, assigned to jgsogo

[2020-12-22 13:26] galikrosentalik commented on #8240
Thank's for your super quick response..

my package name is "utilities", has 2 files, socket.cpp and Socket.cpp,
when runing the conan create command getting the following errors:

[code]
My package conan file:
[code]

Is there any more data needed??

[2020-12-22 13:49] #5535 closed

[2020-12-22 13:49] memsharded commented on #5535
Fixed by https://github.com/conan-io/conan/pull/8228, will be released in 1.33

[2020-12-22 13:57] chausner-audeering commented on #8239
I have my local cache cleared now and will see if it happens again in the future. It's still not really clear to me how the current state could have happened because
* if the revisions_enabled setting for a CI runner was disabled, it would not have uploaded the package to Artifactory but printed an error instead
* the last modified time of my local `conan.conf` file where `revisions_enabled=true`

[2020-12-22 14:48] theodelrieu commented on #8231
Thanks @memsharded, I consistently forget about this... It might just be me, but I find the `source`/`build` to be quite confusing w.r.t what you can do within them.

[2020-12-22 14:48] #8231 closed, assigned to nobody

[2020-12-22 15:24] foundry-markf commented on #8188
Hi,

Apologies for the slow reply.

Thanks for clarifying there is one bug at least.

Yes, sorry about that. I intentionally left out my requirements, as I felt if I mentioned CI (which it is related to), the questions I wanted to ask might get lost.

So anyway, from our commit hooks, we can figure out paths changed for CI to work on. From that, we can figure out packages changed. From that, we ca

[2020-12-22 15:53] jgsogo commented on #6876
Hi! We are doing some progress related to this feature request. I wanted to share it with you to see if our proposal makes sense or we need to pivot and use a different approach.

We think that creating a backup of the sources used by a recipe is probably an enterprise feature, for the same reason you want to build all the binaries from sources, you want to store the sources themselves. In a compa

[2020-12-22 16:15] wdobbe commented on #7132
I disagree here. We use several tools that have both an executable that generates source files and a runtime library that is needed to use these generated files. An example is [flatcc](https://conan.io/center/flatcc).
In order to test such a tool when cross-compiling the package being tested should be injected both as _requirement_ and as a _build_requirement_.

[2020-12-22 17:37] czoido commented on #6527
Closed via: https://github.com/conan-io/conan_ci_jenkins/pull/28

[2020-12-22 17:37] #6527 closed

[2020-12-22 19:33] radonish commented on #8241
Hello @memsharded

You hit the nail on the head. The cache is indeed being shared between two parallel stages - one builds the new Conan package and another builds/runs the component's unit tests.

The unit test stage calls CMake directly but is doing a `conan install` to an install-folder. That `conan install` is conflicting with the `conan create` happening in parallel since both commands ultima

[2020-12-22 20:43] SeanSnyders commented on #8214
I understand your further explanation, thanks.

Nonetheless, I'd still advocate for the ability to filter the contents of the repo **post clone**. This is an ability that is possible via `export_sources`, which is a route that can be used in conjunction with SCM as a backend as well, so not sure why the `scm` feature would not allow native filtering in similar fashion.
Allowing filtering post clon

[2020-12-22 21:35] pgeler opened #8252 "[bug] python scripting client.command stopped working 1.32.2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04LTS
  * Compiler+version: NA
  * Conan version: 1.32.2
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)

after pip3 install conan --upgrade

and installing upgrade from 1.31.0 to 1.32.2 following script stopped working:

[code]
### Logs (Executed commands with output) (In

[2020-12-22 21:50] memsharded commented on #8252
Hi @pgeler

It seems you are running Conan using https://docs.conan.io/en/latest/installation.html#install-from-source. I would say this has remain there in the docs for some time even if it is quite outdated.
When running from source, it is good enough to do:

[code]

Can you please try that instead of using a script and let us know if this works? I am going to remove the old way from the docs no

[2020-12-22 21:57] memsharded commented on #8252
Submitting PR https://github.com/conan-io/docs/pull/1971

[2020-12-22 23:15] prince-chrismc commented on #8002
Recently we noticed the version compare was failing when `settings.compiler.version = 6` and was `minimum_version = 6.4`

Now everywhere where the aforementioned code exists could benefit from the following blob

https://github.com/conan-io/conan-center-index/pull/3472/files#diff-
f262a4dd3c2a23c9985dbbcf5ed0ae18bc3b8bca3fa0f80ffa8dcad9c075b421R32-R38

[2020-12-22 23:33] pgeler commented on #8252
Hi @memsharded,

thanks for quick response!

I'm using pip packaging and installing it as Install with pip : https://docs.conan.io/en/latest/installation.html#install-with-pip-recommended:

`pip3 install conan --upgrade`

I was thinking this is some python packaging issue, but after:

`pip3 install conan=1.31.4 --upgrade` problem is gone

same problem after clean re-install:

`rm -rf ~/.local/* &&

[2020-12-22 23:40] memsharded commented on #8252
Oh, I see.

Latest Conan 1.32 introduced the ``from conan.tools.xxx`` imports for new toolchains and generators, and it might conflict with some repo or script name, but not with the regular ``pip`` installation.

In this case, it seems there is an external script in ``File "/mnt/d/git/qb/scripts/conan.py", line 4,`` that is causing the issue. What is this is script, why is it there? The ``pip ins

[2020-12-23 00:32] pgeler commented on #8252
conan.py: scrip was submitted in my original request:

[code]

and line 4 is exactly `from conans.client.command import main`

unfortunately we cannot use conan binary directly, we need a shared solution across different platforms and setups, this was one of the approaches to avoid problems with different python environments, py executors etc

but I it looks like as a workaround we can import cona

[2020-12-23 00:46] prince-chrismc commented on #6876
I really appreciate the community focused approach and I enjoy discussion solutions.

✔️ on the extra step, I'd argue it's better. By breaking up the local development flow from the release/tag workflow (where backups are required). Backups are certainly not something that are required on every single commit.

This conceptually matches with what's been deployed, however there's a few technical cha

[2020-12-23 09:37] GeorgeAlysandratos opened #8254 "[question] Missing prebuilt package for folly?"
Has something changed lately that could cause an error ?

I was using folly/2020.08.10.00 fine, up to a few days ago. Suddendly I get this error

[code]
I have tried deleting my `home/<user>/.conan` folder
I have tried with both `libstdc++` and `libstdc++11`
I asked a colleague to install conan and try it on his machine

But I still get the same problem. How can I find out what goes wrong ?

It se

[2020-12-23 10:35] memsharded commented on #8252
Regarding this, it would be useful to know which platforms do not support or work with the ``pip install -e .`` and what are the failures and errors, to learn about them and be aware of that, that could help us to support other users with same issues. At least in Windows, Linux and Mac it works pretty well, so in case your proposed workaround doesn't (I guess it should work as well), you could try

[2020-12-23 10:43] jgsogo commented on #6876
Actually, the download cache does most of the job and it is already working. This download-cache uses a hash algorithm that computes sha256 of url+checksum, the resulting hash is the filename used to store the files in the download-cache-folder. Here, Conan caches everything downloaded from internet: sources, recipe files, package files,... This new internal-server backup/cache will use that same_

[2020-12-23 11:39] DukeOfKirkcaldy commented on #8224
Hi @memsharded,

I'm passing the username and password through environmental variables like so:

_conanfile.py_

[code]

_Jenkinsfile_
[code]

[2020-12-23 12:32] ytimenkov commented on #6876
@jgsogo I think my major disagreement is with your statement:

Even though CI can backup files it's not practical:
1. CI simply don't have access to the internet. 🤷‍♂️
2. Even though CI can upload cache it's bit tedious because for third-party libraries CI only builds a matrix so there will be a number of similar jobs, unclear which one should update the cache or how to address concurrency... So e

[2020-12-23 13:30] pgeler commented on #8252
we are not using conan from sources we are using conan from pip packages.

The problem is that we are using conan modules instead of conan executable, as we found this is most convenient way to do it across different platforms and different setups: dev, VM's, etc...

in Windows most applicable solution we found is to use `py`. For us it all works through `py -m pip install conan` .... and `py cona

[2020-12-23 13:39] pgeler commented on #8252
problem solved by renaming out conan.py to conan_cmd.py ...

[2020-12-23 13:39] #8252 closed, assigned to memsharded

[2020-12-23 13:52] ghost commented on #7719
Thank you @jgsogo , It seems to be the direction I should take. Currently I am invoking `conan install` from my Makefile, generating a `conan.mak` file. In order to make the suggested solution work I would have to write my own generator which I think I'll pass for now.

Thanks anyway!

[2020-12-23 14:20] RikUM opened #8255 "Conan Error in build() method"
oday I downloaded Conan, cmake, Visual studio code (including the C++, C++ makefile, Cmake, Cmake tools, and conan-tools extensions).

In order to get started, I began with the [following](https://docs.conan.io/en/latest/getting_started.html) tutorial. Everything went smoothly up until step 5, where I got the following error:

`C:\Users\rik\Documents\Coding\C++ Conan\build>conan install .. --build

[2020-12-23 15:51] prince-chrismc commented on #6876
This is the detail that I was missing, `.cached_files` mechanism certainly address the shortcomings we experienced. It's very feasible to start with a clean `download_cache` and upload everything not from a `conan remote`.

Recovery procedure would be as follows:
- download the entire `download_cache` to `/some/path` (there's no easy way to know which sha is required 🤔 )
- configure client with `c

[2020-12-23 16:02] jgsogo commented on #6876
First, answering @prince-chrismc

This is not a recovery procedure. Every developer can have `conan config set storage.sources_backup=<https://some-remote/storage>` in their configuration, Conan will grab the sources from the internal-server before going to the internet to get them. There is no drawback if you have it activated always.

Patching sources: Conan workflow doesn't change, Conan will g

[2020-12-23 16:04] ytimenkov commented on #6876
I see that many recipes in cci just apply all patches from the source folder. So in "patching conandata.yml" case it's a matter of dropping more patches. Of course you need to rebuild, but it's fairly straightforward and the recipe itself is untouched (as I understand is the main purpose is to avoid modifying conanfile.py's source section). And can be easily automated (updating yaml doesn't compar

[2020-12-23 16:58] jgsogo commented on #6876
@ytimenkov here there are different topics, I will answer some of them inline:

My main point was that only one person needs to run this backup upload process and everyone else will benefit from it (only download). For sure, there is a different scenario at every different home. If there is some validation process, the backup should be a final stage of it: after we know these sources can be used,

[2020-12-23 18:40] memsharded commented on #8255
Hi @RikUM

This doesn't seem a Conan issue, but an issue of the ``apr/1.7.0`` package in ConanCenter, which doesn't correctly build using Mingw/gcc in Windows. This should be transferred to the ConanCenter conan-center-index Github repo.

If you are starting with Conan, using ConanCenter, you need to know that ConanCenter, in in general the whole Windows ecosystem is using Visual Studio as the def

[2020-12-23 18:42] memsharded commented on #8252
Thanks very much @pgeler for the feedback and following up with your solution.

[2020-12-23 20:46] prince-chrismc commented on #6876
I think you meant to say...

[code]

🤣 but that's how it's going to be used!

![ux](https://miro.medium.com/fit/c/1838/551/1*64YIyIbnTcuZzKTCV5LNDQ.jpeg)

# Summary of the technical challenge

⚡ The legal/contractual obligation to provide support for an LTS is the driving force here, we *need* the Conan recipes (including patches and sources) in a state where **we can edit them in the far future**

[2020-12-23 21:44] DukeOfKirkcaldy opened #8259 "[question] how to store package lockfiles in Artifactory?"
I am interested in creating a lockfile for each package that is built in CI and storing it on Artifactory so that it can be used to exactly reproduce the package again in the future.

`conan lock create --reference=${ref} --lockfile=${product_lockfile} --lockfile-out=${package_lockfile}`

So far I have been storing these lockfiles in a generic repo under `name/version/user/channel/rrev/package_id/

[2020-12-24 08:55] jgsogo commented on #8254
Hi, @GeorgeAlysandratos

There is a known bug in Conan: the package ID is modified whenever options in any of the requirements change, not only when options are modified but also if any option is added/removed (see [here](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html?highlight=abi%20compatibility) under the `semver_direct_mode` entry).

The recipe for `boost` has

[2020-12-24 10:16] jgsogo commented on #6876
I read many times ago about the _desire lines_ and I love them. We can build a new path or we can move the one we were planning to build. 😃

I get two takeaways from your comment:
 * **It would be nice if we can go from a recipe-revision to the sources**. This is something I'm thinking about in the context of ConanCenter, I want to get a recipe from ConanCenter to my working directory in order to

[2020-12-24 10:34] jgsogo commented on #8259
Hi, @GordonJess

I will pass this question to @solvingj . He is working on a new course/workshop about how to integrate Conan into a successful CI. He's been doing a lot of work around it, so I'm sure he will be able to point you in the right direction.

---

(Probably he won't be able to answer before next week, I hope all of us will enjoy these Christmas days)

[2020-12-24 10:46] jgsogo commented on #8247
I'm closing this issue. Not a bug and I think it doesn't require any further action. Feel free to open it again if you need something from us when rewriting those tests.

[2020-12-24 10:46] #8247 closed, assigned to nobody

[2020-12-24 10:52] jgsogo commented on #8242
Yes, this is an issue in the recipe. I'm moving it to `conan-center-index` and I will edit the first comment to format outputs.

[2020-12-24 11:01] ytimenkov commented on #6876
@jgsogo I think we did some implicit assumptions: it seems you suggest using cci as remote while I thought to continue using own repo for recipes (we have one similar to cci github) so main goal was to avoid modifying the recipe when adding it to that repo (which we do now). Therefore patching `conandata.yml` at this step was but a problem (now besides replacing recipes `source()` we also find and

[2020-12-24 11:55] jgsogo commented on #6876
More comments

 * If I want to promote packages from one repository to another, how to carry with me those sources that are cached? We thought that the internal-server-cache would be one single big bucket, of course we asked ourselves how to purge that cache from files no longer used. We don't have an answer yet (we don't have the feature, neither the problem), but your suggestion is **something t

[2020-12-24 16:31] madebr opened #8261 "[question] Run scripts when doing `conan config install`"
Hello!

For supporting some retro computing folks, I have created a ps2toolchain conan recipe at https://github.com/madebr/conan-ps2dev.
This effectively packages the ps2toolchain at https://github.com/ps2dev/ps2toolchain/.
This ps2toolchain is currently using gcc 3.2.
This (old) gcc version is not added to the stock settings.yml of conan. The  playstation2 os is also not available.
I currently ad

[2020-12-24 16:35] madebr commented on #8261
I have created a small POC in the [configinstall branch at my fork](https://github.com/madebr/conan/tree/configinstall).
When doing `conan config install /path/to/configinstall.py`, it is able to transform `settings.yml`.
It should also be possible to transform other key conan files (such as `conan.conf`)

When using the following file:

**configinstall.py**
[code]

And use it with `conan config i

[2020-12-25 14:14] SSE4 commented on #8022
the issue was most likely the same as #8113, and #8118 should fix that particular case
I am going to set up simple GitHub actions project to reproduce and test the fix
update: zlib builds just fine: https://github.com/SSE4/ghactions_test/runs/1608826504?check_suite_focus=true

[2020-12-26 21:26] jarrettchisholm opened #8265 "Create package with dependency on boost >=1.69.0 fails"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64 bit
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.32.1
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)
Attempt to create the package:

    conan create . icebreakersentertainment/stable

I'm getting an issue when I try to create a package on Windows 10

[2020-12-26 21:52] solvingj commented on #8259
@GordonJess I'm glad you're reaching out to ask for guidance here.  When we first started training with lockfiles, we started by leveraging Artifactory Generic repos for lockfile storage.  In the past 6 months, we've found several major difficulties with this approach. As a result, we've begun storing lockfiles in a GIT repository for our internal development, testing, and training.  We've found t

[2020-12-27 00:59] prince-chrismc commented on #8206
Seems related to #8145

[2020-12-27 04:05] madebr commented on #8165
Thanks for the reply.
I'm hoping that these convenience things for quickly getting extra debug information or building thinks in parallel/serial get added in the end.

[2020-12-27 04:05] #8165 closed, assigned to nobody

[2020-12-27 11:33] memsharded commented on #8165
Hi @madebr

Yes, they will be added, we are already working in a proof of concept for config here: https://github.com/conan-io/conan/compare/develop...memsharded:poc/config

A relevant question is what should always be configuration (sounds like verbose and parallel are) and what should be defined in recipes. I am starting trying with the config part, without definitions in recipes, and I think th

[2020-12-27 22:23] GPages opened #8268 "[question] Unit tests outside recipe and gtest dependency"
Conan documentation suggests following video:
https://www.youtube.com/watch?v=S4QSKLXdTtA&feature=emb_title&ab_channel=CppCon

I've tried to use the same file hierarchy shown at slide 22 (~19 minutes)

[code]

I'm really confused about the unit tests management.
According to Mateusz Pusz the test folder should be a standalone, therefore there is no call to conan function or linking to conan librar

[2020-12-28 12:45] #8079 closed, assigned to nobody

[2020-12-28 20:20] memsharded commented on #8268
Hi @GPages

In order for tests to be build and run while creating the package, the first important bit is that they should be exported together with the recipe. Let me summarize the high level view:

- test folder should be exported in the same way as the source ``exports_sources = "src/*", "test/*", "CMakeLists.txt"``
- The ``build()`` method will be calling the build system, CMake, and the ``bui

[2020-12-28 20:28] memsharded commented on #8261
Yep, I have tried to do something similar (round trip yaml) a couple of times, and failed. The problem I have with the current pyyaml implementation is that it doesn't allow round trip, so it will not preserve format, comments, etc. This is unfortunate, because we are using the file contents to know if it has been user modified or not, in order to upgrade to the latest one. being sure we are not o

[2020-12-28 20:40] GPages commented on #8268
Thank you for this clear answer, i wasn't sure about the interactions with cmake and CI pipelines (newcomer here) but now it makes sense.

It should be fine now, thanks 👍

[2020-12-28 20:41] madebr commented on #8261
Indeed, the built-in `settings.yml` contains references, which are not preserved by this.

I was thinking about adding a hook that inserts itself after the `settings.yml` file is read by conan.
Does such a hook already exist? Would you *allow* one to be added?

I think a combination of `conan config install` and `conan hook` could be useful.

- use `conan config` to:
   * download the install scri

[2020-12-28 21:57] memsharded commented on #8268
Ok, great :)

Then I think this question can be closed now, don't hesitate to open new issues for further questions. Thanks!

[2020-12-28 21:57] #8268 closed, assigned to memsharded

[2020-12-28 22:13] memsharded commented on #8261
I think there is no available extension point for such a hook, it would need to be developed, not sure if it is worth, because this still reads like a workaround and the proper solution is still the ability to programmatically modify the ``settings.yml``, we should focus on that, IMHO.

[2020-12-29 00:11] madebr commented on #8261
I've switched the use of `PyYAML` with `ruamel.yaml` (https://github.com/madebr/conan/tree/configinstall)
The only diffs after using the following `configinstall.py`:
[code]
is whitespace:

<details>

<summary>Diff before and after</summary>

[code]
</details>

[2020-12-29 00:25] memsharded commented on #8261
This is fantastic, and very promising. Thanks for the investigation, I had a look to that fork of pyyaml and looked great, but never had the time to test it. From now on (Conan 1.33) we are trying not to add any new feature to Conan 1.X that are not exclusively oriented towards Conan 2.0, so I would like to suggest the following plan:
- Switch to ruamel.yaml very early once the ``develop2`` branch

[2020-12-29 18:24] qwertzui11 opened #8269 "[bug] documentation wrong `conan_meson_native.ini` should be `conan_meson_cross.ini`"
[code]

the documentation for the `MesonToolchain` claims to generate a file called `conan_meson_native.ini`, but it actually generates a file called `conan_meson_cross.ini`

https://docs.conan.io/en/latest/creating_packages/toolchains/meson.html

Thx for your time!

[2020-12-29 18:27] qwertzui11 commented on #8269
oha, it seems to create different files on different occasions https://github.com/conan-io/conan/blob/29c92939352a6729aed2cf8f4dabeafedc29324f/conan/tools/meson/toolchain.py#L12

Maybe a documentation improvement is still necessary?

[2020-12-30 01:03] ghost commented on #7702
The variable CONAN_SETTINGS_COMPILER_RUNTIME seems to be defined properly

[2020-12-30 04:15] rconde01 opened #8270 "[bug] Why are some methods documentation not at the top level? (and other oddities)"
### Steps to reproduce (Include if Applicable)
This might be my relative ignorance of python, but sometimes i'm looking at self.copy and I say "ok those are methods of ConanFile...let me look at the handy conanfile.py Methods reference (which is also weird...why isn't it the documentation for the python class ConanFile?)...but i digress. Instead I need to zoom around and find that it's under the p

[2020-12-30 09:23] memsharded commented on #8270
Hi @rconde01

Indeed, the ``self.copy`` is injected for the ``package()`` method, but will not exist in other recipe methods.

We are structuring better the things that can be used in recipes. It is possible that ``self.copy()`` could be a ``FileCopier()`` tool, so this could be more explicit.

It is true that even ``self.copy()`` is described in ``package()``: https://docs.conan.io/en/latest/refe

[2020-12-30 09:47] memsharded commented on #7702
Hi @thvdburgt @ricardo-barracuda

Sorry this issue took so long to be responded, it was buried in notifications.

This is a very well known issue of the build helpers. The documented behavior in https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#definitions  is right, this is not a bug. The CONAN_LINK_RUNTIME is injected by the ``CMake()`` build helper in the ``build()`` method. If

[2020-12-30 09:47] #7702 closed, assigned to memsharded

[2020-12-30 10:53] andioz opened #8271 "[bug] simple typo in error message "contraining""
### Environment Details
  * Operating System+version: all
  * Compiler+version: all
  * Conan version: newest
  * Python version: all

### Steps to reproduce

Don't know how to reproduce, it showed up in issue https://github.com/conan-io/conan-center-index/issues/3996

### Logs

See issue mentioned above

### Actions

I you don't mind I would add a PR for this and change it to `constraining`?

[2020-12-30 11:10] memsharded commented on #8271
Hi @andioz

Sure, that PR will be welcome. Please do search for that typo, it happens there is a test checking that typo as well (copy & paste effect).

[2020-12-30 11:13] andioz commented on #8271
Yes I did, found it twice :)

[2020-12-30 11:18] andioz commented on #8271
~~@conan-io/barbarians shall I wait until staged to "queue" as mentions in contribution guide or just add PR?~~

PR created :) https://github.com/conan-io/conan/pull/8273

[2020-12-30 11:48] #8271 closed, assigned to nobody

[2020-12-30 15:03] DoDoENT opened #8274 "[feature] Configurable and distributable toolchains"
This proposal was originally created as [tribe pull request](https://github.com/conan-io/tribe/pull/8), but after some conversation there I decided to put it here in form of feature request:

## Summary
Define a special type of conan package (profile-package) that can be used only in conan profiles or pose instead of conan profile, but have the ability to impose settings on the dependency graph an

[2020-12-30 15:18] DoDoENT opened #8275 "[feature] Support resolving conflicts between different packages that provide the same feature"
Conan v1.28 introduced the support for [provides attribute](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#provides) which allows for multiple recipes to provide the same functionality and thus avoid ODR violations.

This is a great feature, but currently supports only reporting an error if multiple libraries in the graph provide the same functionality, but does not support re

[2020-12-31 13:01] dahakawang commented on #8227
Hi @memsharded , G'day!

I've also hit by this issue recently, and first of all I think this "known-bug" exists not only for `semver_direct_mode `, so maybe [the document](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#versioning-schema) needs to be more accurate about this.

To me, "*taking dependencies options into account.*" isn't really the biggest problem, the

[2020-12-31 13:13] dahakawang commented on #8227
bellow follows my example, to demonstrate Conan will & will not have dependency's option participating root project's package id calculation.

I will always have the same root project recipe as below:
[code]

If I have below lib project recipe, Conan **WILL** take option with_z into consideration for my_app's package_id:
[code]
### result
[code]

However, if I have below lib project recipe, Conan

[2020-12-31 14:40] LeeRuns commented on #2532
what defines you want to forward from the recipe that cannot be directly put in the CMakeLists.txt. Thanks!

### I am trying to make 1 build directory with many sub directories each subdir will contain everything describing the build (ie os version, compiler, generator)

what would i write to make the s"Something" a builtin environment variable from cmake.  I am working to create a build tree that

[2020-12-31 16:14] rconde01 opened #8276 "[bug] Inconsistent visibility when using static libraries on mac"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac OS Big Sur M1
  * Compiler+version: Apple Clang 12 (Cross-build to x86_64)
  * Conan version: 1.32
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
[boost_static_mac_test.zip](https://github.com/conan-io/conan/files/5757653/boost_static_mac_test.zip)

See the very simple attached

[2020-12-31 21:32] bdebruyn opened #8277 "[question] version.py "from semver import SemVer" errors on SemVer not found"
conan/conans/client/tools/version.py has the following import statement: "from semver import SemVer". The only semver.py file I've found is https://pypi.org/search/?q=semver, which does not have a class called "SemVer". Curious to know where you are pulling the semver.py.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-01-01 10:39] memsharded commented on #8277
Hi @bdebruyn

Check the ``requirements.txt`` file. The dependency is ``node-semver==0.6.1``

[2021-01-01 16:25] bdebruyn commented on #8277
resolves #8277  Many thanks for pointing me to the file. Very helpful.

[2021-01-01 16:25] #8277 closed, assigned to memsharded

[2021-01-01 19:58] lukasoyen commented on #6235
I've had some time to play with this and created a small POC. This is by no means a fully functioning solution, but may provide some pointers for others. I might continue exploring this in the future. What it does (from inside a `bazel build` invocation):

- setup a `venv` in which to install `conan`
- run `conan` to install the `fmt` C++ library
- compile a small hello-world program that uses the

[2021-01-02 11:17] mathbunnyru opened #8278 "[feature] Do not raise ConanInvalidConfiguration in `build()`"
Now as we have the `validate()` method, which is run after the dependency graph has been resolved, raising in the `build()` method should be rare.
I do believe, that the most common reason to raise in the `build()` method is being unable to tell if some dependency has good options for the current package. And `validate()` is exactly for this type of situation.

An example with the change for `mong

[2021-01-02 15:59] madebr commented on #8278
@mathbunnyru
Did you mean to open this issue at https://github.com/conan-io/conan-center-index?

[2021-01-02 20:51] mathbunnyru commented on #8278
I don't know what's the best place for the issue, because it might be a part of conan client.
If you think that cci is a better place, then please move the issue there.

[2021-01-02 23:49] memsharded commented on #8278
We cannot block or disallow to raise ConanInvalidConfiguration in other places, it has been a valid feature for a long time, so it would be breaking. What could be done is:

- Start using it in conan-center-index recipes (a hook would help). The CI that build binaries should probably be changed, so lets wait for @danimtb and @jgsogo feedback.
- Plan to limit it to ``validate()`` in Conan 2.0.

Let

[2021-01-03 11:53] dmn-star commented on #5896
@memsharded Is there a way to skip the compiler check by passing any settings in my conan profile?

[2021-01-03 16:33] tjwrona commented on #7118
I agree with @artem-ogre, I am using CMake projects and simply wrapping them into conan packages that work very intuitively with the "cmake_paths" generator. (They install their own package config files correctly and can easily be found using the "cmake_paths" generator)... Also transitive dependencies seem to work fine this way too. Some of my CMake projects use conan to consume other packages an

[2021-01-04 03:13] timblechmann commented on #8179
i've been running into this issue, too:

[code]

gives me:
[code]

i could use `build_requires` here (my dependencies are static libs that are implementation detail and not propagated downstream), but the problem persists:

[code]

i might also be missing something, but afaict `build_requires` simply has no means to `override`

[2021-01-04 09:19] DukeOfKirkcaldy commented on #8259
Hello @solvingj,

Many thanks for the info!   Looking forward to hearing more about it and what your recommendations are for structuring git repositories for lockfiles, as I think the issue still exists no matter what the repo type (artifactory, git, etc.).

In the meantime as a quick workaround to avoid any of the overwriting mentioned above, I have added the checksum to the artifactory storage p

[2021-01-04 09:47] mjb6 opened #8279 "[question] lockfiles: update reference to comp-b but keep reference to comp-a from existing lockfile?"
Dear conan community,

We want to use conan as a generic system integration tool (not directly to build C-components, rather to put already compiled
dependencies into a target format, e.g. by coping files).

I'm not sure if lockfiles are the right approach for us - could you please give me short feedback?

To understand our use case, I created a small example: https://github.com/mjb6/conan-lockfil

[2021-01-04 10:25] michaelmaguire commented on #8205
Dear @memsharded, can you help us  update what the difference between the initial `conan lock create --base` mentioned in the current https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#products-pipeline versus the `conan export . <package> --lockfile`?

From the https://github.com/conan-io/examples/blob/master/features/lockfiles/ci/build.py example, I don't understand yet why we *first*

[2021-01-04 10:34] michaelmaguire opened #8280 "[question] Conan in Jenkinsfile CI: How to obtain package reference *before* a conan create action has taken place?"
We are following through the examples in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#package-pipeline and we get to a point where we have already run the `conan lock create --base` "package" lockfile creation steps and we are now trying to follow the @memsharded suggestion in https://github.com/conan-io/conan/issues/8205#issuecomment-744752830 to run the `conan export . <package r

[2021-01-04 10:41] michaelmaguire commented on #8205
@memsharded, we tried your suggestion above in:  https://github.com/conan-io/conan/issues/8205#issuecomment-744752830 and we still got an error:

[code]

Here's the current Jenkinsfile recipe snippet:

[code]

[2021-01-04 12:25] chausner-audeering commented on #8239
I'll close this issue for now and will reopen if it happens again.

[2021-01-04 12:25] #8239 closed, assigned to memsharded

[2021-01-04 15:37] radonish opened #8282 "[question] Variables in conan.conf?"
Can the conan.conf file use variables of any kind? Specifically I'd like to be able to do something like this:

`path = /scratchnobackup/conan_data_${USERNAME}`

That would allow me to have a common Conan configuration in a Conan settings repo for all developers to use, with their username being appended to the Conan data folder.

Thanks

[2021-01-04 16:22] bbandix opened #8283 "[bug] AutoToolsBuildEnvironment.make() can't be used with make_program="nmake""
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2017
  * Conan version: 1.32.1
  * Python version: 3.7.2

The AutoToolsBuildEnvironment.make() method adds a deduced `cpu_count_option` with `-j` to the arguments of the make command.
This is not portable, and since the `make_program` can be customized, the `-j` option should not be (unconditionall

[2021-01-04 17:11] mpusz opened #8284 "[bug] Issues with configuration-specific preprocesor definitions in CMakeToolchain"
First of all, it is not possible to specify just a preprocessor definition without value.

[code]

we have to provide some value:

[code]

this may not work for all the cases as sometimes the preprocessor just checks if a flag is defined or not and does not care about the value.

Next for the above code the following will be generated in a toolchain file:

[code]

the problem is that the flag is a

[2021-01-04 19:54] memsharded commented on #8283
Hi @bbandix

Thanks for the report. https://github.com/conan-io/conan/pull/8285 should fix it (lets try to merge it for next 1.33)

In any case, we need to start moving the autotools to the new toolchain and helpers, as we are doing with CMake, Meson and others, please keep an eye on coming Conan releases about this. Thanks!

[2021-01-04 20:04] arturpilaszkiewicz commented on #7402
I'll hijack this thread as i've recently stumbled upon this issue myself

I think the question is about easy global installation of conanfile targets (libs/bins) that are required for runtime to a designated prefix
 - /usr/local/{bin/lib}
 - /usr/local/xxx/{bin/lib}

In cmake current best way to achieve that is to add custom install step that executes
`conan imports ${CMAKE_SOURCE_DIR}/conanfile.t

[2021-01-05 04:58] Yurmusp opened #8287 "[bug] Conan fails return error if server returns HTTP/502 (Bad Gateway) or HTTP/503 (Service Unavail)"
My conan server frequently returns 502 (Bad Gateway) error. Sometimes 503 too. It's due to low memory I think.
However, conan command in this case fails to return not zero.

In order to get to success.
I run it several times in the loop.
Like this:

 for i in $(seq 1 5); do
    conan upload $PKG_NAME_FULL --all -r=psl-conan -c --retry 5  --retry-wait 15 && break
    sleep 15 && false
 done

This s

[2021-01-05 10:55] theodelrieu commented on #7688
@jgsogo

Just came across this problem (passing the same profile to `--profile:build` and `--profile:host`) and Conan complains that some options that are not defaulted are not set.

The workaround for now is to only set `--profile:host` when creating toolchain-like packages. But build-context options seems like a promising idea to solve this.

[2021-01-05 11:12] jasal82 commented on #7863
@memsharded The RTFACT issue seems to be resolved, but there's no fix version and nothing. Do you know if the fix is already available?

[2021-01-05 11:43] czoido commented on #8265
Hi @jarrettchisholm,

Thanks a lot for reporting. This issue is he same as the reported behaviour here: https://github.com/conan-io/conan-center-index/issues/950, https://github.com/conan-io/conan/issues/7774, https://github.com/conan-io/conan/issues/7573
Searching with version ranges in bintray repository is a significant bottleneck, the only available temporary workaround right now is increasing

[2021-01-05 11:54] czoido commented on #8269
Hi @qwertzui11,
Indeed depending if you are cross-compiling or not [it will generate a different file](https://mesonbuild.com/Machine-files.html).
We will try to include this in the Meson toolchain documentation as soon as possible, thanks a lot for reporting.
I'm transferring this issue to the conan docs repo.