[2022-09-20 11:33] tuxflo commented on #12000
I'm facing the same problem (Ubuntu 20.04 in WSL). Already tried a `pip3 uninstall conan` and then a reinstall using `pip3 install --upgrade conan==1.52.0 ` but this didn't help.
Kind of sad, that the latest releases cause so much trouble (had to fight with the `is_apple_os` thing just last week).

[2022-09-20 11:43] jcar87 commented on #12000
Hi @tuxflo  - is this the same error as reported in this issue, with `ImportError: cannot import name`  when running `conan --version`? If this is the case I can try and provide further assistance.

Some of the other issues, for example with `is_apple_us`, had to do with a small number of recipes in Conan Center using private/undocumented APIs temporarily (these may change across releases). We fix

[2022-09-20 11:54] tuxflo commented on #12000
Yes it's exactly the same issue using 1.52.0 failed with the exact same error message as in the first post.
Downgrading to conan version < 1.52.0 was problematic because the latest recipe for libcurl (libcurl/7.77.0) already uses the `is_apple_os` import which isn't working with 1.51.3.
Currently I "solved" this by adding the revision number to the conanfile of the dependency lib and sticking to v

[2022-09-20 13:17] SpaceIm commented on #11158
Actually, `check_min_vs` is too specific, it doesn't help when we want to test versions without raising. `vs_ide_version` is more versatile.

How to translate something like this?

[code]

Currently:

[code]

I would prefer

[code]

Even when we want to raise, `check_min_vs` is not used in conan-center because usually we have more generic logic to handle all compilers min compatible version in a d

[2022-09-20 13:17] #12142 closed, assigned to nobody

[2022-09-20 13:48] memsharded commented on #12143
In any case I don't oppose to a ``CMake.get_version()`` or similar helper, I see how it can be useful, and have some recipes a bit cleaner.

[2022-09-20 13:53] memsharded commented on #12000
Just in case, can you confirm that the exact same issue is from wayland recipe and error message is ``ModuleNotFoundError: No module named 'conan.tools.gnu.pkgconfigdeps.pc_files_creator'``. Maybe it is from another (internal) recipe and not wayland?  Because I cannot longer find ``pc_files_creator`` in whole ``conan-center-index`` repo, this could be some cached recipe somewhere, not a Conan issu

[2022-09-20 13:54] leha-bot opened #12151 "[feature] Conan v2: Fix import modules for checking recipe via mypy"
Currently I cannot check my `conanfile.py` using `mypy` "out-of-the-box" due to the following errors:
[code]
Please add support for mypy in conan imported modules. Thanks for your attention.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-09-20 14:51] memsharded commented on #12128
Closed by https://github.com/conan-io/conan/pull/12134, to be released next beta.4

[2022-09-20 14:51] #12128 closed, assigned to czoido

[2022-09-20 14:59] SpaceIm opened #12153 "[bug] `conan.tools.gnu.Autotools.install()` doesn't work if build machine is Windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MinGW 9 / gcc 11.2
  * Conan version: 1.52.0
  * Python version: 3.10.2

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/pull/13038/commits/4e40e8ad67eb2d53bbe43949d7201d08b9d8651e (from https://github.com/conan-io/con

[2022-09-20 15:07] SpaceIm opened #12154 "[bug] `conan create -kb` doesn't inject `tools.microsoft.bash:subsystem` config from `tool_requires`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MinGW 9 / gcc 11.2
  * Conan version: 1.52.0
  * Python version: 3.10.2

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/pull/13038/commits/4e40e8ad67eb2d53bbe43949d7201d08b9d8651e (from https://github.com/conan-io/con

[2022-09-20 15:26] #6497 closed

[2022-09-20 15:26] #6418 closed

[2022-09-20 15:27] SpaceIm opened #12155 "[question] What is the equivalent of `conans.tools.MSBuild.build()` `upgrade_project` in `conan.tools.microsoft.MSBuid`?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

To build `xz_utils/5.2.5` with Visual Studio 2022 in https://github.com/conan-io/conan-center-index/pull/13038, vcxproj file must be updated with a different Platform Toolset, how to achieve that in conan v2?

(otherwise it fails with this kind of error since we try to build against a

[2022-09-20 15:27] paulocoutinhox commented on #11191
Thanks, i will wait all the recipes be updated to remove it from my project.

[2022-09-20 15:27] #11191 closed, assigned to memsharded

[2022-09-20 15:28] paulocoutinhox commented on #12136
Ok, i will close since everybody knows about this. Thanks.

[2022-09-20 15:28] #12136 closed, assigned to nobody

[2022-09-20 15:49] SpaceIm commented on #12155
I had to write something like this in `xz_utils`:

[code]

then:

[code]

But it doesn't scale (need a recipe update for each new Visual Studio release), and conan already has all this information. A helper function could provide platform toolset associated with a given Visual Studio version.

[2022-09-20 18:39] mpusz commented on #9962
Please take into account that the paths set through the `conf[]` parameter should probably be set automatically by Conan as `CC` and `CXX` (or `CMAKE_<LANG>_COMPILER`) environment variables so `conan install --build missing` works correctly (such build does not include the toolchain file generated in this step). It would be unfortunate to force the user to set the same path twice in a profile file

[2022-09-20 19:10] memsharded commented on #12155
The platform toolset is already defined in the provided .props file by ``MSBuildToolchain``, isn't it working? We have some tests that should cover this.

[2022-09-20 19:16] SpaceIm commented on #12155
It's overridden in vcxproj files (as well as runtime & debug/release configurations).

https://github.com/xz-mirror/xz/blob/v5.2.5/windows/vs2017/xz_win.sln
https://github.com/xz-mirror/xz/blob/v5.2.5/windows/vs2017/liblzma.vcxproj

It's not clear to me what are good sln / vcxproj files contents `MSBuildToolchain` & `MSBuild` expect, so that profile is honored.

[2022-09-20 19:26] memsharded commented on #12155
This is what I mean, there are tests that have the PlatformToolset defined, like https://github.com/conan-io/conan/blob/8aeea2230fd6375ce1da15f2380097bed9098377/conans/test/functional/toolchains/microsoft/test_msbuild.py#L98 in the project file, and apparently that value is correctly overriden by the ``conan_toolchain.props`` file, not the opposite.
Is the toolchain being injected in the vcxproj?

[2022-09-20 19:50] SpaceIm commented on #12155
Good question, I don't think so. How this magic is supposed to happen? Do we have to programmatically edit vcxproj files in recipes with this content?

I was naively thinking that having MSBuildToolchain in generate(), and MSBuild in build() (with proper sln file given as argument) was sufficient like all other Toolchain / build helper combo like CMake, Meson or Autotools.

[2022-09-20 20:15] SpaceIm commented on #12155
Could it come from the fact that I've not used `vs_layout()` (because it does not provide a src_folder argument, it's a showstopper for me since I want to put source code under a subfolder to avoid mixing-up patches exported in the recipe with source files) but `basic_layout()`?
=> Nop, same issues with `vs_layout()`.

Do I have to move generators folder under the same folder than sln file? EDIT:

[2022-09-20 20:52] SpaceIm commented on #12155
My understanding of https://learn.microsoft.com/fr-fr/cpp/build/project-property-inheritance?view=msvc-170 is that properties in vcxproj files have precedence over .props files.

[2022-09-20 21:14] memsharded commented on #12155
Yes, it is necessary to inject the .props files, for third-party vcxproj, I guess it is necessary to apply a patch

Yes, layout is not enough

This is what the test covers, and seems if you do the inclusion after the properties declaration in vcxproj, it works

[2022-09-20 21:25] SpaceIm commented on #12155
Ok, so unlike all other toolchain helpers in conan v2, MSBuildToolchain is intrusive, correct? It won't be easy to edit CCI recipes relying on legacy MSBuild helper.

[2022-09-20 21:35] SpaceIm commented on #12155
But the problem is this vcxproj has another logic to designate Configuration name. I guess it can be edited, but it's ugly. We have to:
- inject a subpart of conantoolchain.props in these vcxproj
- ensure that `conantoolchain_<build_type>_<arch>.props` is in the same directory than vcxproj I guess
- then ensure to satisfy a little bit the logic of vcxproj regarding configuration & platform names (

[2022-09-20 21:54] memsharded commented on #12009
Proposing a fix in https://github.com/conan-io/conan/pull/12156, feedback and testing welcome

[2022-09-20 21:57] memsharded commented on #12154
Note: ``--keep-build`` is deprecated and no longer recommended. If this issue doesn't happen without ``-kb``, then it can be closed as solved in 2.0.

[2022-09-20 22:28] memsharded commented on #9398
Doing some maintenance, for some reason this issue fell through the cracks.
I have been reviewing https://github.com/conan-io/conan/pull/9411, and the test there supposed to reproduce is passing cleanly. Probably it is not an issue anymore, and was eventually fixed?

[2022-09-20 22:48] paulocoutinhox opened #12157 "[question] Can anyone help me migrate my project conanfile?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,

Can anyone help me migrate my project conanfile?

My try is here:
https://github.com/nativium/nativium/pull/23/files

Today, im generating `conanbuildinfo.cmake`, because it is imported into the cmake:
https://github.com/nativium/nativium/blob/main/cmake/functions.cmake#L90-L97

[2022-09-20 22:54] SpaceIm commented on #12154
Is it documented somewhere? I don't see anything in https://docs.conan.io/en/latest/reference/commands/creator/create.html. What is the successor of `-kb`? It's very useful to test `package()` method without building everything again.

[2022-09-20 23:13] datalogics-kam commented on #9398
I tried my test case repo (from the description) with the `develop` branch of Conan, and it's not reproducing the problem. Maybe it got fixed along the way?

[2022-09-20 23:44] paulocoutinhox commented on #12157
The error is:

[code]

It fails inside conan:

[code]

[2022-09-20 23:55] memsharded commented on #12157
Hi @paulocoutinhox

The first important steps:

- Drop the ``generators = "cmake"``
- Use instead ``CMakeDeps`` and ``CMakeToolchain``: https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-generate-method
- The ``CMake`` helper that you are using should integrate them automatically

You probably also want to drop the layout specific generator in the recipe, as long as it is defined co

[2022-09-20 23:56] paulocoutinhox commented on #12157
@memsharded  How/where to define this `tools.cmake.cmaketoolchain:generator`?

[2022-09-20 23:57] memsharded commented on #9398
yes, I suspect that, because I recall some improvements around the ``compatible`` package feature. It might be worth if you could test it with your Conan release, not ``develop``. If it works, I think we can consider this fixed and close it when the test is merged, thanks!

[2022-09-20 23:59] memsharded commented on #12157
You can define it either in your profile, but most typical on your command line as ``-c tools.cmake...=value``, because it is the developer that wants to select a different generator than the one typically used in CI, for example. Unless you want the generator kind of hardcoded in the recipe, it depends on the use case.

[2022-09-21 00:01] memsharded commented on #12154
Not explicitly documented in the migration guide, as it is more focused on the recipes, not all commands, but it can be added.

No successors, builds in the cache will always be clean, it will not keep a previous build just for the package. The alternative is a local ``conan export-pkg`` working from local flow (``conan install`` + native build system), which is the recommended approach.

[2022-09-21 00:03] paulocoutinhox commented on #12157
@memsharded i already tried use CMakeDeps/CMakeToolchain, because i see on other recipes from CCI, but im still doing something wrong because when i use it, i get error on build:

[code]

And it don't generate the file `conanbuildinfo.cmake`.

I need remove the `build` method from my conanfile and change to `generate` method with code:

[code]

???

[2022-09-21 00:10] memsharded commented on #12157
yes, they are not expected to generated that file. They provide "transparent" integration, your CMakeLists.txt will not have anything Conan specific. You need to add the standard ``find_package(...)`` to your CMakeLists, and the COnan generators will manage to get the dependencies.

Also the ``cmake.definitions`` in the ``build()`` still seems wrong, it has to be moved to the ``CMakeToolchain`` in

[2022-09-21 00:22] memsharded commented on #8168
Tool is deprecated now, closing this, please report against new tools as necessary.

[2022-09-21 00:22] #8168 closed, assigned to nobody

[2022-09-21 00:25] paulocoutinhox commented on #12157
@memsharded I do that changes, but the error is the same:

[code]

I generate a new project with `conan new [...]` and my conanfile is equal that generated file:
https://github.com/nativium/nativium/pull/23/files

I also add the generator to profiles.

And after call install it only generate these files:

<img width="158" alt="image" src="https://user-images.githubusercontent.com/395096/191387700-

[2022-09-21 00:36] datalogics-kam commented on #9398
Tested it with Conan 1.52.0, and with `https://center.conan.io` rather than our Artifactory, and it still works.

[2022-09-21 06:53] harsszegi commented on #12001
Hi, any update on this? Thanks

[2022-09-21 07:26] memsharded commented on #9398
Ok, then https://github.com/conan-io/conan/pull/9411 merged, and closing this, thanks again for reporting and for your patience :)

[2022-09-21 07:26] #9398 closed, assigned to franramirez688

[2022-09-21 07:29] memsharded commented on #12001
Hi @harsszegi

There is no "inverse" model to alias, so it is very difficult to know which alias point to a given real package. Same issue as with symlinks, it is necessary to do a search in the space, but the problem with Conan is that the search space with all versions and all revisions, this might be very heavy.

To know if a package is an alias itself, a ``conan inspect`` could help.

[2022-09-21 07:30] harsszegi commented on #12001
Awesome, thanks @memsharded

[2022-09-21 07:30] #12001 closed, assigned to nobody

[2022-09-21 07:34] memsharded commented on #12157
I am checking the PR and the code and the CI and I am missing something. The folder is ``D:\\a\\nativium\\nativium\\build\\tests\\debug\\x86_64\\target\\build\\generators\\CMakePresets.json``, so it doesn't seem a ``conan create`` in the cache. Can you please share the steps to reproduce locally on Windows?

[2022-09-21 07:40] uilianries commented on #12151
Please, check the link error, it contains useful information, like showing the detailed missing imports. Also, you can try by suppressing some imports and see if it works.

[2022-09-21 07:49] uilianries opened #12158 "[bug] CMakeToolchain reaches KeyError: 'buildPresets' when cmake_layout is missing"
Using `CMakeToolchain` without `cmake_layout` may cause an exception from Conan which is not useful for users:

[code]

Full log: https://github.com/conan-io/conan-center-index/pull/13037#issuecomment-1252464349

Related to this recipe:

https://github.com/conan-io/conan-center-index/blob/bb058e289cb18125c84cb73a1dc8e4863ea5d5d4/recipes/catch2/3.x.x/conanfile.py

@SSE4 did a search and found that

[2022-09-21 08:20] memsharded commented on #11730
Closed by https://github.com/conan-io/conan/pull/12152

[2022-09-21 08:20] #11730 closed, assigned to memsharded

[2022-09-21 08:20] #12144 closed, assigned to nobody

[2022-09-21 08:32] SSE4 commented on #12158
as CMake doc specifies, `buildPresets` is an optional field. the code should be tolerant for that missing key.

[2022-09-21 08:36] SSE4 commented on #12158
also, adding an empty layout method changes nothing, same exception happens

[2022-09-21 08:38] SSE4 commented on #12158
CMakePresets.json, might be useful:
[code]

[2022-09-21 09:08] SpaceIm opened #12159 "[bug]`AutotoolsBuildEnvironment`: libs of `build_requires` injected into `LIBS` if 1 profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Any
  * Compiler+version: Any
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- On Linux or macOS, build an autotools based recipe (relying on `AutotoolsBuildEnvironment`) with `libtool` in `build_requires`, all shared, and 1 profile. For example `conan i

[2022-09-21 09:08] mohabouje opened #12160 "[bug] CONAN_DISABLE_CHECK_COMPILER seems to not disable the error messages"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey 12.6 (M1 architecture)
  * Compiler+version: apple-clang 14.0
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

Example of a simple `CMakeLists.txt` to download conan and install dependencies from a `conanfile.txt` or `conanfile.py`
[code]

H

[2022-09-21 09:17] EstebanDugueperoux2 opened #12161 "[question] [buildinfo] How to get CI Server url in buildinfo.json"
Hi conan community,

I'm in context of Gitlab CI Docker using conan official images to build and upload my conan packages to a corporate Artifactory.
I have read https://docs.conan.io/en/latest/howtos/generic_ci_artifactory.html#generating-build-info-from-lockfiles-information and this is my CI:

[code]

But the generated buildinfo.json doesn't contain CI Server url as documented in https://github

[2022-09-21 10:01] maitrey commented on #12061
Hey @lasote , I fixed the issue:
   environment {
         ARTIFACTORY_CREDENTIALS = credentials('XXXXXXXXXXXXXXXXXXXXXX')
     }
And in stages:
 bat(script: 'conan config install <git repo>')
 bat(script: 'conan user %ARTIFACTORY_CREDENTIALS_USR% -p  %ARTIFACTORY_CREDENTIALS_PSW%')

[2022-09-21 10:01] #12061 closed, assigned to lasote

[2022-09-21 10:13] memsharded commented on #12160
Hi @mohabouje

A couple of quick things:

- You are using legacy generator ``cmake``, which has already been removed in 2.0. You need to upgrade to newer ``CMakeDeps`` and ``CMakeToolchain``
- It is not clear were the error is happening, it could be happening while building a dependency, because you have the ``BUILD missing``. A full output log could help.
- The conan-cmake integration is problema

[2022-09-21 10:14] memsharded commented on #12160
In any case, the mismatch between 13.1 and 14.0 seems legit and problematic, it should be fixed, not skipped.

[2022-09-21 10:19] paulocoutinhox commented on #12157
Hi @memsharded,

Steps:

[code]

[2022-09-21 10:31] jusito opened #12162 "[bug] conan user --password "-..." can't begin with "-""
Temporary passwords generated in the CI beginning with "-" cannot be used directly.

Workaround from #2502 :
[code]

I would expect that:
- This is fixed, or:
- Documentation would note about this, e.g. `conan user --help` would note this behavior and points to an alternative way

### Environment Details
  * Operating System+version: Linux version 5.4.0-1075-kvm (buildd@lcy02-amd64-082) (gcc versi

[2022-09-21 10:41] memsharded commented on #12162
This is unfortunately out of our control, as this is standard CLI parsing, in this case, implemented by Python argparse, so nothing that we can fix.

There are ways to escape the ``-`` in different terminals like bash. I am not sure where can be this documented, because it happens also for other places in the CLI, not just this command.

[2022-09-21 11:50] #12089 closed, assigned to czoido

[2022-09-21 11:56] Bearwolves opened #12163 "[bug] OS settings armv8.3 do not produce VirtualBuildEnv correctly"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04.5 LTS
  * Compiler+version: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
  * Conan version: Conan version 1.52.0
  * Python version: Python 3.6.9

### Steps to reproduce (Include if Applicable)
* Create a tool package
[code]

* create a test under test_package folder
[code]

### Logs (Executed comman

[2022-09-21 11:57] Bearwolves commented on #12101
Issue has been reported as bug with a smaller example => https://github.com/conan-io/conan/issues/12163

[2022-09-21 11:57] #12101 closed, assigned to nobody

[2022-09-21 12:15] #11975 closed, assigned to lasote

[2022-09-21 12:16] memsharded commented on #11975
Solved in https://github.com/conan-io/conan/pull/12095 for 1.53

[2022-09-21 12:17] blockspacer commented on #12014
@memsharded

Is it possible to overcome that issue somehow (maybe i am doing something wrong)?

I just want to build code using clang-cl on windows and build fails due to issue above.

Note that  build of `conan new hello/0.1 -m=cmake_lib` also fails https://github.com/conan-io/conan/issues/12013#issuecomment-1236659063

[2022-09-21 12:40] db4 opened #12164 "[bug] Settting CONAN_MAKE_PROGRAM breaks CMake build helper"
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 15
  * Conan version: 1.52.0
  * Python version: 3.8.10

### Steps to reproduce

Take any recipe that imports CMake from conans (say, base64/0.4.0 from conancenter) and do the following:

[code]
Note that make.exe is used instead of msbuild. Why?

[2022-09-21 12:44] klausholstjacobsen commented on #12082
Yes, it was directory permissions without write permissions that caused the error.

Thanks for the additional advise on copying files!

[2022-09-21 12:44] #12082 closed, assigned to nobody

[2022-09-21 13:29] czoido commented on #12161
Hi @EstebanDugueperoux2,

Thanks for the questions.

The current Conan build_info does not support all the fields from the _buildinfo.json_ schema. We are not updating the
Conan 1.X build_info any more because we are focused on Conan 2.0 and we plan to provide a better integration with build_info for Conan 2.X. Probably something not integrated in the Conan client but as the form of a layer of cus

[2022-09-21 14:35] mohabouje commented on #12160
Alright, I've migrated to the new `CMakeToolchain` alternative. I end up adding a `execute_command` that will execute `conan` before building anything. I still run into the same issue regarding the mismatch in compiler version.

I've forked the repository and basically removed the part where the compiler version is checked. Everything did compile without issues.  Any work around for this?

[2022-09-21 14:51] memsharded commented on #12160
I don't know how that can happen. The compiler check only exists in the ``cmake`` generator, not in the others. If you drop the ``cmake`` generator this shouldn't happen.

[2022-09-21 15:11] maitrey opened #12166 "[question] find_package and non-standard structure of package content"
Dear Conan Folks,

We have a legacy system where every script cannot be adapated to not disturb a running system.
The contents of the package are : tools, include**s** .
While using find_package from CMake the package is found but since it has not the standard structure , certain variables are not set example: <PKG-NAME>_INCLUDE_DIRS as in https://docs.conan.io/en/latest/reference/generators/cmake

[2022-09-21 15:34] derived-coder commented on #12127
okay using the new generator is the way to go. Thanks for clarification.

[2022-09-21 15:34] #12127 closed, assigned to nobody

[2022-09-21 15:39] derived-coder opened #12167 "[question] Is there a way to upload all packages to their coresponding remotes"
Atm I am upload all packages like this:
`conan upload "*" --confirm --parallel -r my_remote`

However, this will upload all packages to one certain remote `my_remote`
Is there a way I can upload all package to their corresponding remotes (binary_remote), where the recipe was downloaded?

When not, how can I achieve this easily?

[2022-09-21 16:25] memsharded commented on #12167
Hi @derived-coder

With revisions, the concept of this recipe was downloaded from this server is not that critical anymore, because as long as the revision is the same, different binaries can be spread in different servers too.

So Conan doesn't have that behavior anymore (in 1.X it sometimes allow it, if the tracking information has not been dropped, but Conan 2.0 has completely removed tracking)

[2022-09-21 16:28] memsharded commented on #12166
Hi @maitrey

It is necessary to define in the package recipe the structure:
[code]
Otherwise the default ``include`` and ``bin`` folder is used

Also, recall that the ``cmake_find_package`` generator is deprecated and removed in 2.0. You should be upgrading to ``CMakeDeps`` (and ``CMakeToolchain``)

[2022-09-21 16:51] derived-coder commented on #12167
We have in our artifactory an access pattern established. Multiple conan repos with different access possibilities.
Imagine a public one for foss recipes and a private one for in house software.

When uplading the package, we would like to avoid that the private package are uploaded to the public one accessible.

Just a short explanation what use case we have. Imagine it is possible to recompile a

[2022-09-21 17:21] memsharded commented on #12167
Imagine a public one for foss recipes and a private one for in house software.

This is where a ``channel`` makes sense, to clearly differentiate between foss recipes and private ones. Relying on the tracked remote only is risky. Actually the best practices process might be a bit different. You don't want to depend on the public external facing repo in production for your product. Instead you uplo

[2022-09-21 17:29] derived-coder commented on #12167
We have one artifactory server with multiple conan repositories there. We have a lot of people access to the artifactory server also external companies. That why we need this access rights. Additional we distinguish there also with the `channel` identifier .

I hope it clears it more up.

As far as I understand your answer is now, you should only use one conan repo per artifactory instance?

[2022-09-21 19:24] delrizzo opened #12170 "[question] Why is progressing the conan version required in order to maintain gtest 1.10.0 dependency?"
We have gtest 1.10.0 configured in a number of projects that use Conan to manage artifacts during compilation. We have found over the past few weeks that successive upgrades to the conan version breaks this dependency on gtest 1.10.0. We find this to be strange, seeing that the gtest 1.10.0 tag hasn't changed since October 2019.

The problem manifests with this error:

[code]

Previously, the solu

[2022-09-21 19:41] paulocoutinhox commented on #12157
Hi @memsharded,

Did you found something?

Thanks.

[2022-09-21 20:12] puetzk opened #12171 "[question] should tools.microsoft.msbuild:vs_version come from build context, rather than host?"
It looks like `compiler = msvc` and `conan.tools.microsoft.VCVars` does have support for using MSVC "down level toolsets" (e.g. using the VS2019 compiler, but installed as part of VS2022).

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: Visaul Studio 2022 17.3, with v142 toolset installed
  * Conan version: 1.52.0

[2022-09-21 21:20] memsharded commented on #12170
Hi @delrizzo

It is true, but you have to freeze down to the recipe revision. One thing is the gtest source code version, 1.10.0, and the other are the conan packages generated from it. As the recipe evolves, gets fixes, support for more platforms or cross-building, it will be getting new recipe revisions in the form of ``gtest/1.10.0#recipe_revision``.

If you want to freeze, you have several way

[2022-09-21 21:28] memsharded commented on #12167
No, I am not saying that. You can have as many conan repos you want per artifactory instance, and it is a good and recommended practice. I am saying that you should leverage it, that you should have multiple repos, and you should use the Artifactory automation mechanisms, instead of trying to upload to different repos in one single instruction from the Conan client, which is fragile and insecure b

[2022-09-21 21:40] memsharded commented on #12014
Hi @blockspacer

Sorry, this is not clear. You are saying that you are using the new CMake integration, and have the configuration for it defined (for ``CMakeToolchain`` and ``CMakeDeps``). Still, I can see the logs that the ``cmake`` integration and the ``conanbuildinfo.cmake`` are being used.

We have some tests that covers building with Clang in Windows, though it is true that this needs some w

[2022-09-21 21:43] SpaceIm commented on #10281
@memsharded @lasote Is it a feature you could consider in `set_property` for `CMakeDeps`?

[2022-09-21 21:54] memsharded commented on #12171
This is a very good observation @puetzk, let see if this makes sense:

- We are cross building in a Windows Intel x68_64 machine to a ARM target, an application "myapp"
- We want that application to be built with VS 17 2022 with older v142 toolset.
- The application has a ``cmake`` ``tool_require``, and we want to build that ``cmake.exe`` with VS 16 2019 and even older v141, because the cmake code

[2022-09-21 22:09] memsharded commented on #12157
Hi @paulocoutinhox

Not yet, first I'd need to create a virtualenv to install your requirements like ``from pygemstones.io import file as f``, that I don't have installed.
I haven't done it yet, because I might be missing something. The code that I am checking out still contains the legacy ``cmake`` generator, no ``generate()``, etc, so seem recipe is still not the modern one. Should I checkout a

[2022-09-21 22:11] memsharded commented on #10281
Why would be this necessary, if the cppstd is already an input setting, and recipes can raise ``ConanInvalidConfiguration`` if the input setting is not satisfying the minimum?

[2022-09-21 22:25] SpaceIm commented on #10281
That's the point, and if it is not in input settings? Anyway it's a nice feature because it allows to write CMakeLists honoring "usage requirements only" principle, and why not providing config files closed to good practices?
If I'm not using any C++17 feature in my executable, but I'm including a header of a dependency with some C++17 stuff, I shouldn't have to write target_compile_features(myapp

[2022-09-22 01:52] paulocoutinhox commented on #12157
Hi @memsharded, sorry, my mistake about git clone. You need checkout branch "recipe-conan-v2":

[code]

[2022-09-22 05:38] maitrey commented on #12166
Thanks @memsharded . I inspected the cmakefiles and started to use: <PKG_NAME>_PACKAGE_FOLDER_RELEASE. Is this allowed?
Also, what if I have more folders and not only one tool? How can one define that in package_info method?

[2022-09-22 05:58] #12009 closed, assigned to memsharded

[2022-09-22 06:04] #12063 closed, assigned to nobody

[2022-09-22 06:11] #12126 closed, assigned to memsharded

[2022-09-22 06:33] blockspacer commented on #12014
@memsharded

`conan new hello/0.1 -m=cmake_lib` fails with ninja  (message): The C++ compiler    "C:/Program Files/LLVM/bin/clang-cl.exe"
  is not able to compile a simple test program.

My conan profile:

[code]

Note that `tools.cmake.cmaketoolchain:generator=Visual Studio 16` succeeds.

Conan version 1.51.3
SystemDirectory : C:\Windows\system32
Windows BuildNumber     : 19044
Windows  Version

[2022-09-22 07:37] memsharded commented on #12166
The ``<PKG_NAME>_PACKAGE_FOLDER_RELEASE`` variables are implementation details of the ``CMakeDeps`` generator, not intended to be used directly that way, but instead via the created targets via ``target_link_libraries(.... mypkg::mypkg)`` or something similar. Why the targets are not good for your case?
It is not that the generated ``xxxx-data.cmake`` files will change, but they are not documented

[2022-09-22 07:55] cassava commented on #6483
This is also relevant to our use-case. We'd like to be able to query the state of packages in the local cache and ignore remotes.

So ideally, there would be some kind of special remote that is the local cache:

[code]

Or a flag that tells Conan to skip remotes for this command.
Or something to that effect.

[2022-09-22 07:56] memsharded commented on #12014
There is something weird in your log, the ``hello`` package seems to already exist, like it was created previously succesfully, and it is failing in the ``test_package`` step only:

Then, a couple of hints:
- If the environment is to be defined in profile, recipes must use the ``generators = "VirtualBuildEnv"``, to inject correctly the ``[buildenv]``, or use the ``tools.env.virtualenv:auto_use=Tru

[2022-09-22 07:58] memsharded commented on #6483
Hi @cassava

You can use ``conan remote disable *`` to disable remotes.

In any case please note:
- ``conan info`` will only hit the cache if the packages are already there, but will not hit the servers
- If the packages are not in the local cache, then it needs hitting the servers, otherwise, the command will fail as it will not be able to resolve the graph

So there must be something else that y

[2022-09-22 08:24] memsharded commented on #12157
I am having a look, but struggling a bit to understand the layers on top of Conan.

I'd say that the usage of the different folders like

[code]

In the ``build`` command is not expected anymore. The goal of the ``layout()`` method is to get rid of those things.
Is it possible that we could have a reproducible case with Conan commands directly? Maybe starting with a simple ``conan create`` would b

[2022-09-22 10:31] czoido commented on #11781
Hi @magist3r,

Do you still have the issue? Could you give [layout()](https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout-folders-reference) a try?

[2022-09-22 11:15] uilianries opened #12173 "[question] Is it safe to use self.package_path? ?"
Related to https://github.com/conan-io/docs/issues/2753

The `self.package_path` is not documented but looks stable and it uses `Path` library, which is easier than `os.path` usage.

/cc @jellespijker

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-09-22 12:04] mohabouje commented on #12160
Hi @memsharded

The migration was not done properly, there was a place were the old configuration was still being generated. I've switched to the new `ConanDeps` and made the repository external to `conan` vida standard `find_package(...)` calls. Everything is working fine now. Conan still complains about using a configuration field higher than 13.1 for clang, but I'm guessing its gonna be upgrade

[2022-09-22 12:14] memsharded commented on #12160
Thanks for the update, I think then we can close this issue regarding CONAN_DISABLE_CHECK_COMPILER.

If you mean that you had to add custom settings for xcode 14, then, yes, this is going to be released in 1.53. If that persists, don't let the warnings, and open a new issue reporting it. Thanks!

[2022-09-22 12:14] #12160 closed, assigned to memsharded

[2022-09-22 13:12] uilianries opened #12175 "[feature] Recognize Clang CL on Windows as tool method"
Just like `is_msvc`, usually, in CCI, we need to use the follow idiom to check when running clang-cl:

[code]

It would be great internalizing it as part of `conan.tools.microsoft` so we no longer need to copy/past that method.

You can find its usage by the follow search: https://github.com/conan-io/conan-center-index/search?q=_is_clang_cl

- [x] I've read the [CONTRIBUTING guide](https://github.

[2022-09-22 16:52] FaridPF opened #12177 "[feature] Python ConanApi().install_reference() method argument "build" takes only lists"
I'm trying to transfer the dependencies download process from simple bat/sh scripts for two platforms to a single Python script and I'm trying to play with Conan class from _conans.client.conan_api_.

I was able to download and build my deps from _install.reference method_, but faced an issue that the _'build'_ argument is not that clear, and only after digging into the  _'conans/client/graph/buil

[2022-09-22 21:15] JackOfAllBugs opened #12179 "[question] Version range smart search available?"
I am looking to use version ranges for several of my development packages to get each of their latest versions, but I want to restrict the version search by the version of their primary shared dependency.

[code]

So if we have `pkgA/1.0.0` and `pkgA/1.1.0` built with `shared_package/2.3.4`, but `pkgA/1.2.0` built with `shared_package/3.0.0`, I would like conan's version range resolution to select

[2022-09-22 21:47] SpaceIm opened #12180 "[bug] CMakeDeps: `<name>_LIBRARIES` variable is not suitable for macros like `check_symbol_exists`"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 14
  * Conan version: 1.52.0
  * Python version: 3.10.6
  * cmake version: 3.24.2

### Steps to reproduce (Include if Applicable)

CMakeLists.txt

[code]

test succeeds with `cmake_find_package`:

[code]

test fails with `CMakeDeps`:

[code]

`CMAKE_REQUIRED_IN

[2022-09-22 23:20] memsharded commented on #12179
Hi @JackRenner

I am afraid this is not possible. Such "smart" dependency resolution is an algorithm that requires backtracking and is known to be NP-hard. Given that the resolution of every node in the graph requires frequently to download, unzip, install, load and interpret a python or several python files, and evaluate a few methods of that python file, that makes this problem intractable in pr

[2022-09-22 23:24] memsharded commented on #12177
Hi @FaridPF

I am sorry, but we are already in 2.0-beta.3. The code for 1.X is only in maintenance, for regression fixes and adding the necessary features and backports to enable a smooth migration from 1.X->2.0. So we will not be working in this, specially because the 1.X api is not public neither documented, it is not intended for public usage, and could break due to changes at any time.

The AP

[2022-09-22 23:30] FaridPF commented on #12177
@memsharded Thank you for your quick response , James!  May be you would be abele to provide any timeframe when public API is going live?

[2022-09-22 23:42] memsharded commented on #12177
We expect to do a couple of betas more (one per month, more or less), before going General Availability, you can check the releases in https://docs.conan.io/en/latest/changelog.html.

 The API docs in 2.0 will be in https://docs.conan.io/en/2.0/reference/python_api.html. They will not be declared stable in 2.0, but later in 2.X, because they need more use and feedback before being stabilized.

[2022-09-22 23:44] #12071 closed, assigned to czoido

[2022-09-22 23:45] memsharded commented on #12071
Closed by https://github.com/conan-io/conan/pull/12172, will be in 1.53

[2022-09-22 23:49] paulocoutinhox commented on #12157
Ok @memsharded. I made a small project from `conan new` command and create a structure equal my project to make tests.
https://github.com/paulocoutinhox/conan-cmake-v2

Only left a problem with include files using Find_package. I get a sample of sqlitecpp from CCI, and it is not finding the include paths:

Error:
https://github.com/paulocoutinhox/conan-cmake-v2/actions/runs/3109394367/jobs/5039569

[2022-09-22 23:59] paulocoutinhox commented on #12071
Nice and thanks!

[2022-09-23 00:12] memsharded commented on #12157
This fixes the ``conan create`` command:

[code]

The problem is that the ``export_sources`` attribute is not capable of representing correctly a layout when you have the ``conanfile.py`` in a subfolder like ``conan/recipe``, so you need the full power of the method. In general, putting the recipe in a subfolder instead of the root of the repo makes thing more complicated, and this is why it is re

[2022-09-23 00:37] paulocoutinhox commented on #12157
Hi @memsharded, this is already solved. Im only with one doubt.

For all dependencies i need add its library path and include path manually? Example for sqlitecpp:

[code]

Sample project with all platforms tests:
https://github.com/paulocoutinhox/conan-cmake-v2

[2022-09-23 01:24] Ryslan342 opened #12181 "[bug] Conan install commad get error "CMake Error: Unknown argument --prefix""
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS Momentary 12.6

But I build inside container dockcross/linux-armv7-lts
[code]
  * Compiler+version:
[code]
But `conan profile new name --detect` create next profile
[code]
  * Conan version: 1.52.0
  * Python version:3.9.2

### Steps to reproduce (Include if Applicable)
**Sources:**
https://github.com/

[2022-09-23 06:58] rettenbs opened #12182 "[question] Vulnerability in tarfile (CVE-2007-4559)"
Due to the [news release](https://www.trellix.com/en-us/about/newsroom/news/news-detail.html?news_id=10cb07fa-6837-48b8-8e99-d58a7526eff3) a [very old vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2007-4559) in the Python tarfile module popped up.

Is conan affected by this vulnerability? Would it be possible to install files at an arbitrary location by pushing prepared package to JFrog anti

[2022-09-23 08:24] memsharded commented on #12181
Hi @Ryslan342

What version of cmake are you using? A minimum of 3.15 is necessary.

[2022-09-23 08:28] memsharded commented on #12182
Well Conan fetchs conanfile.py Python scripts that are executed, and they compile and run the code that comes in the downloaded tarballs. It is assumed that the sources are not malicious, if the sources are malicious, is not only that vulnerability, but basically anything can happen. This is why ConanCenter has a manual human review and approval process, plus tons of automatic checks to help the r

[2022-09-23 08:52] memsharded commented on #12157
No, for dependencies, only linking with the targets is necessary, and only the direct dependencies declared, the transitive ones should be automatic. Definitely not the include dirs.

So something like:
[code]
which is the standard modern CMake approach should work.

[2022-09-23 08:58] rettenbs commented on #12182
Thank you very much for the clarification. To summarize: There are easier ways to create a malicious package than using CVE-2007-4559. However, this is tackled by a manual review process + automated checks.

[2022-09-23 09:05] memsharded commented on #12182
Yes. Also more measures, like: https://blog.conan.io/2022/09/20/consuming-recipes-during-migration-conancenter.html: Do not depend on ConanCenter directly in production, but have a copy of the packages you use in your own server. Update them with a controlled and supervised step. (This applies to all package managers and central repositories, but few people follow. Fortunately in the Conan communi

[2022-09-23 09:31] paulocoutinhox commented on #12157
@memsharded strange, because without add include dirs, it don't find the headers. You can see here:
https://github.com/paulocoutinhox/conan-cmake-v2/blob/main/CMakeLists.txt

And can try:

[code]

[2022-09-23 09:37] memsharded commented on #12157
But that still have the
[code]
You are linking with the bare libraries, not the target names.
The target names should be displayed when cmake runs.
You should replace it for something like:
[code]

[2022-09-23 09:37] paulocoutinhox commented on #12157
@memsharded forget man, it is working, my mistake in some place, thanks.

[2022-09-23 10:30] Ryslan342 commented on #12181
Hi @memsharded

[code]

[2022-09-23 10:51] rettenbs commented on #12182
Thanks a lot. This information really helps.

[2022-09-23 10:58] memsharded commented on #12181
Related: https://github.com/dockcross/dockcross/issues/720

[2022-09-23 11:00] memsharded commented on #12181
Is that ``cmake --version`` executed inside the container? Those docker images cannot be run interactively, and I am on Windows now, so the launcher script doesn't work for me, so I can't verify easily

[2022-09-23 11:14] Ryslan342 commented on #12181
Yes, inside

[2022-09-23 12:40] memsharded commented on #11781
Hi @magist3r

I have closed https://github.com/conan-io/conan/pull/12174, because the idea is:

- New tools like the modern ``patch(conanfile, ...)`` tools assume that the local flow arguments like ``conan source -sf=xxx`` have been declared legacy (and removed in 2.0)
- The alternative is to define a ``layout()``, together with the ``--output-folder`` if necessary (most of the times probably it i

[2022-09-23 12:40] #11781 closed, assigned to czoido

[2022-09-23 12:41] #12073 closed, assigned to memsharded

[2022-09-23 12:44] memsharded commented on #12181
Asking for help to @uilianries, this seems something specific to this docker image, that it is not liking the ``cmake --install --prefix`` thing.

[2022-09-23 12:45] memsharded commented on #12073
Solved in https://github.com/conan-io/conan/pull/12075 for 1.53

[2022-09-23 13:55] rnikander opened #12183 "[bug] Error message tells me to run a command that doesn't work."
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 13.0 Ventura (beta)
  * Compiler+version: Apple clang 14.0
  * Conan version: 1.52.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)

I'm trying to follow the Getting Started documentation. I get to the step that asks me to run `conan install ..`, and I get this error:

Possib

[2022-09-23 14:38] memsharded commented on #12183
Hi @rnikander

That is true, it is necessary to add a missing ``@``, so ``conan search bzip/1.0.8@ --table=table.html -r=remote``

Thanks for reporting, we will fix it.

[2022-09-23 14:45] rnikander commented on #12183
Thanks! And with `conan install ... --build=missing` now everything in that "getting started" section works for me. Sweet.

[2022-09-23 15:11] memsharded commented on #12183
Perfect!

[2022-09-23 15:23] System-Arch opened #12185 "[bug] Conan 2.0 does not handle instances of 'None' in settings.yml correctly"
I have been experimenting with Conan 2.0 and believe I found a bug related to https://github.com/conan-io/conan/pull/11182 [model settings None=not defined].

More specifically, it appears that when a None setting is read in from settings.yml, the logic to convert it to a Python None is incorrect/incomplete. I will create a formal pull request, but here in a nutshell is what I believe the issue to

[2022-09-23 15:34] memsharded commented on #12185
Hi @System-Arch

I am sorry, but I am not able to reproduce this:

- It has dependencies to packages that haven't been ported yet to Conan 2, so impossible to test with Conan 2.0
- The conandata.yml, patches, etc are missing, I copied them from conan-center-index, I assume that those are expected.
- There are some failures like ``os.get_env()`` not being correct.

If there is a problem with some N

[2022-09-23 15:34] uilianries commented on #12181
@Ryslan342 There are some important points which should be observed:

- You are running conan with `sudo` command. You should not use sudo, your default user is root already. Avoid doing it due environment variables which are not passed when running sudo.
- Always use **two** profiles when running `conan create` or `conan install`, and it's more important when cross-building. It's documented here:

[2022-09-23 15:48] #12183 closed, assigned to memsharded

[2022-09-23 15:49] memsharded commented on #12183
Fixed by https://github.com/conan-io/conan/pull/12184, it will be released in next 1.53

[2022-09-23 16:01] JackOfAllBugs commented on #12179
Dang. I figured that this would be challenging to implement and use practically. I appreciate the response, and everyone's hard work on conan, its a fantastic tool!

[2022-09-23 16:01] #12179 closed, assigned to memsharded

[2022-09-23 16:24] System-Arch commented on #12185
In studying the history of this issue further, it appears that the code was changed between the submission of the issue (https://github.com/conan-io/conan/pull/11182/commits/acea3900603b75af40467ed67daee51e452b5187#diff-172729552eaf47eafad62b88e24d0cef110ce0aedf237f25fc63b84e9f465d6c) and the commit resulting from the corresponding pull request (https://github.com/conan-io/conan/commit/59faf7372b4

[2022-09-23 16:28] memsharded commented on #12185
Yes, the new ``settings.yml`` in 2.0 use the native yaml ``null``, instead of None, precisely to have built-in semantics of "value not defined" in both yaml and Python, instead of internally managing the ``"None"`` as string. If you let Conan 2.0 generate the ``settings.yml`` for you, it should be correct.

[2022-09-23 16:28] memsharded commented on #12179
Thanks for your kind words and following up with feedback on this issue! :)

[2022-09-23 16:34] System-Arch commented on #12185
Hi @memsharded,

Okay--thanks for clarifying. I will do that as I expect that will resolve my issue. As an aside, I'm working on integrating Conan into a large build environment and per your advice at CPPCON, switched over to using Conan 2.0, but have not found any 2.0 recipes and have thus been porting them myself. Is there an existing collection of 2.0 recipes somewhere? If not, is there interes

[2022-09-23 16:50] memsharded commented on #12185
We have some recipes in the repo that is pointed in the Conan 2.0 docs: https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html (``conan remote add conanv2 https://conanv2beta.jfrog.io/artifactory/api/conan/conan --index 0``), but there are just a very few.

Users are doing a lot of PR to conan-center-index to start preparing things for Conan 2.0, but it is an ongo

[2022-09-23 20:44] SpaceIm commented on #12170
Yes, but this PR did not update `required_conan_version` to 1.51.1, and that's a mistake. At least you could have seen a meaningful error message.

In conan-center repo, there are advices to protect your CI from breaking change in conan-center recipes: https://github.com/conan-io/conan-center-index/blob/master/docs/consuming_recipes.md

[2022-09-23 21:44] SpaceIm opened #12186 "[bug] `self.dependencies[lib].cpp_info.resdirs` empty in test package"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2022
  * Conan version: 1.52.0
  * Python version: 3.10.2

### Steps to reproduce (Include if Applicable)

In test_package:

[code]

run conan create

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-09-23 22:20] SpaceIm opened #12187 "[question] Is get_property("cmake_file_name") of dependencies always defined?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In `self.dependencies[lib].cpp_info` or `self.dependencies[lib].cpp_info.components[comp]`, is `get_property()` of either `cmake_find_mode`/`cmake_file_name`/`cmake_module_file_name`/`cmake_target_name`/`cmake_module_target_name`/`pkg_config_name` always defined (not None) regardless

[2022-09-23 22:35] SpaceIm commented on #12186
Actually it seems that layout() set resdirs to empty

/cc @uilianries @SSE4 @prince-chrismc for documentation in CCI

[2022-09-23 23:23] SpaceIm commented on #11972
@memsharded Actually, it's it `self.base_source_folder` (https://github.com/conan-io/conan/pull/10654)? Oh no, renamed `self.export_sources_folder` indeed (https://github.com/conan-io/conan/pull/11055). But I wouldn't trust `self.export_sources_folder` in `generate()` or `build()` when I read the description: https://github.com/conan-io/conan/blob/1.52.0/conans/model/conan_file.py#L267-L272

[2022-09-24 08:23] SpaceIm opened #12188 "[question] Is there a conan v2 build helper to honor profile in nmake builds?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan v1, to ensure that we honor profile in nmake build, we have this kind of pattern:

[code]

For vccars, there is `conan.tools.microsoft.VCVars` we can call in `generate()`, but how to properly populate `CL` & `LIB` so that build_type, runtime, `tools.build:cflags`, `tools.buil

[2022-09-24 09:34] SpaceIm opened #12189 "[question] CMakeToolchain and custom block: how to control position of the block & avoid boilerplate?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan-center, there are several conan v1 recipes with arbitrary logic in the CMakeLists wrapper (usually to avoid big patches, or improve robustness). Sometimes this custom code strongly relies on stuff previously defined (options, system processor etc).

So two questions for migra

[2022-09-24 10:38] memsharded commented on #12186
Yes, it is true, ``layout()`` changes the defaults, as ``resdirs`` was not been used very much, we decided that the default should be empty.

Moving this issue to docs.

[2022-09-24 11:19] johan-boule commented on #6006
When using conan as a server, aren't there timeouts to tune on its side too ?

Looking at conans/server/conf/default_server_conf.py, I see:

[code]

I can systematically reproduce a disconnection after 15mins, but that doesn't match with 1800 seconds.

[code]

Perhaps our conan server doesn't have the default configuration, but I can't check it. It was installed some years ago, so maybe the defaul

[2022-09-24 11:54] planetmarshall commented on #12006
If you set `--prefix=self.package_folder`, then the absolute path of the package folder is appended to the package folder again, so for example if the package folder is `/home/conan/.conan/data/package`, the package will end up being installed in `/home/conan/.conan/data/package/home/conan/.conan/data/package`

[2022-09-24 12:03] memsharded commented on #6006
@johan-boule Maybe you also have some env-vars like CONAN_AUTHORIZE_TIMEOUT configured in the server machine? they will have precedence over the conf file.

In any case, I'd highly recommend using ArtifactoryCE, it is much faster and scale much better, it is completely free to use, it has a WebUI, it is relatively easy to setup and maintain, and many other improvements.

[2022-09-24 13:07] johan-boule opened #12190 "[question] How to use conan center with a specific version of conan client ?"
We are facing some complications using the conan center repository for our CI builds.
For CI stability, we want to decide when we upgrade the conan client, so we usually don't have the latest version.
In order to use packages compatible with our version of conan, we enabled revision support and create lock files to depend on specific revisions of the packages, and also create a separate CONAN_USER

[2022-09-24 13:49] System-Arch opened #12191 "[feature] Add ability to specify separate "tools" and "library" repos in Conan 2"
One of my favorite aspects of Conan is the ability to manage and deploy toolchains (compilers, build tools etc.) in an automated manner as part of using Conan for application/product libraries. This feature has gotten even better in Conan 2.0 with the cleaner distinction between "build" and "host" profile settings and the "tool_requires" profile feature. (As an aside the nomenclature is still some

[2022-09-24 13:50] System-Arch commented on #12185
Hi @memsharded,

Thanks for the pointers. I missed that reference to the conanv2 repo when using the 2.0 docs, and you are correct that it has very few artifacts as I have ported about a dozen libs/apps. I will reach out to the CCI project but my experience to date has been that even the latest CCI recipes fall short of actually being usable in 2.0 without fairly extensive massaging.

Also, to clo

[2022-09-24 16:00] SpaceIm opened #12192 "[feature] Don't trick users in `conan.tools.microsoft.unix_path` with internal details like win_bash or subsystem"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Please, do not try to be too smart and guess what users want: https://github.com/conan-io/conan/blob/0fe6058771c7d9585f9fed1935a4e0ec078d3314/conan/tools/microsoft/subsystems.py#L5-L6

When someone uses `unix_path`, he wants a unix_path regardless of the value of `self.win_bash`.

Bec

[2022-09-24 16:51] memsharded commented on #12192
I have added some changes in my PR in https://github.com/conan-io/conan/pull/12178/commits/f3d917913064a44e770d03d7e9c5b1b54ba3b1b8:

- Remove the first ``if conanfile.win_bash``
- Then it will rely on the new logic for defining when a path/environment file/command should use or not a subsystem syntax:
   - Definition of conf ``tools.microsoft.bash:subsystem``
   - Definition of conf ``tools.micro

[2022-09-24 17:06] memsharded commented on #12191
Hi @System-Arch

This was because ``build_requires``, despite all the recommendations, was very abused as "build-time" only libraries, that is, when a shared library was linking against a static library, and that had a few bad side effects, so we renamed it to ``tool_requires`` to clearly indicate it is for tools like "cmake", "meson", and other similar tools.

I think that what you are requesting

[2022-09-24 17:14] memsharded commented on #12190
Hi @johan-boule

There are a few different questions here, lets try to address them:

- Regarding the ConanCenter evolution, there is this recent post: https://blog.conan.io/2022/09/20/consuming-recipes-during-migration-conancenter.html. I think you might be missing the most recommended, simple and robust way to achieve stability, is storing a copy of your used packages in your own repo. This is a

[2022-09-24 18:15] johan-boule commented on #12190
Thank you for the reply.

My post was a bit too long, and my main point perhaps got lost.

Thank you very much for smoothing the transition towards Conan 2. While we are still using Conan 1.x, we are in fact already using the forthcoming features of 2.x that have been backported to 1.x.

We are already using "RREV" lock files committed into our git repo (we didn't need to commit PREV locks so far)

[2022-09-24 19:17] SpaceIm commented on #12192
For me this function should be totally stateless, it's called unix_path, why would it not return a unix path in some hidden reasons?

If conan internally needs this logic, it would be better to create an internal function returning a unix path conditionally. But for users, it's totally misleading, and in conan-center we need a function returning a unix path unconditonally.

[2022-09-24 19:22] memsharded commented on #12192
Because it needs to know the subsystem in which it is running: msys, cygwin, etc. If it doesn't know the subsystem and it is in Windows, the best it can do is return the windows path. What is "unix_path"? Maybe we can just rename it to ``windows_subsystem_path``, but its intention is (and it always was) to return the path for a given subsystem, but the subsystem should be known.

[2022-09-24 19:30] memsharded commented on #12190
I am afraid this is not possible. Even if recipes have a ``conan_minimum_required``, having to search the space for recipes that satisfy these constraints is a known NP-hard problem, that requires backtracking in the dependency graph when a node doesn't satisfy constraints. In practice, as for every hypothesis it is necessary to hit servers, download files, unzip them, load the python files, and e

[2022-09-24 19:49] SpaceIm commented on #12192
I see.

- The name of this function is misleading, I was expecting the same behavior than `conans.tools.unix_path` which works fine for all use cases occuring in conan-center-index.
- I think it should be possible to force in `unix_path` function a specific "subsystem path" regardless of current value of `tools.microsoft.bash:subsystem` or `win_bash`.
  Indeed, current implementation doesn't take

[2022-09-25 00:21] paulocoutinhox opened #12195 "[bug] Xcode generator is using "Unix Makefiles""
When i use generator equal `Xcode`, the preset file (CMakePresets.json) add two configurations, one with `unix makefiles` and other with `Xcode`. But when build with conan, it is selecting `unix makefiles`.

I put a log on my recipe file to print a message when system is apple and change the generator:

https://github.com/paulocoutinhox/conan-cmake-v2/blob/main/conan/recipe/conanfile.py#L76

and

[2022-09-25 00:22] paulocoutinhox commented on #12157
Hi @memsharded. Everything was migrate. Thanks.

I open an issue about a bug that i get and create a simple project to check:
https://github.com/conan-io/conan/issues/12195

Can you help there?

[2022-09-25 00:22] #12157 closed, assigned to nobody

[2022-09-25 01:04] paulocoutinhox commented on #12195
What is most strange, is that if i comment this line:

[code]

of my conanfile.py, everything works.

Im confused and don't understand what is wrong.

Can anyone help me?

[2022-09-25 01:15] paulocoutinhox opened #12196 "[bug] CMake Cache Variables Is Not Readable"
Hi,

My CMake Cache Variables are not readable.

My `conanfile.py` have:

[code]

My `CMakeLists.txt` have:

[code]

The output is:

[code]

How to read `cached` variables?

### Environment Details (include every applicable attribute)
  * Operating System+version: macos latest
  * Compiler+version: clang 13
  * Conan version: 1.52
  * Python version: 3.9

### Steps to reproduce (Include if Applica

[2022-09-25 05:24] System-Arch commented on #12191
Hi @memsharded,

Thank you for your detailed and thoughtful reply.

My original comment might have been misleading. I like the name "tool_requires" and was actually advocating that the "build" profile could be more descriptively named the "tools" profile as presumable everything running on the "build" host is, in fact, a tool. In this vein, I am happy to see that the Conan 2.0 documentation specif

[2022-09-25 07:31] paulocoutinhox opened #12197 "[bug] Apple flags are not sent to other build systems (bitcode, arc, visibility)"
Hi,

With the new feature of enabling bitcode, arc and visibility, we can see that only dependencies built with Xcode will receive the flags:

https://github.com/conan-io/conan/commit/d383bb2de05f9d3132e624e9fab67784eb9373ea

But recipes like openssl and others that don't will be built with this, will be compiled without the bitcode, for example.

The result is an error when link:

[code]

### Env

[2022-09-25 07:32] ujjwal1002 opened #12198 "Execute GTest/Unit Test as a part of a build (not a test_package test question)"
I am just trying my hand at Conan-IO+CMake, I am trying to execute UnitTests at build time and Conan/CMake is just not able to find the test executable. I have included my conanfile.py and CMakeLists.txt in the question itself.

Conanfile.py

from conans import ConanFile, CMake, tools
from conan.tools.cmake import CMakeToolchain,CMakeDeps
from conan.tools.layout import cmake_layout

class MylibCon

[2022-09-25 08:49] SpaceIm commented on #8476
I've opened https://github.com/conan-io/conan/pull/12194 to improve autotools handling on Windows. Please provide feedbacks (though no autotools based recipes compatible with Windows have been migrated to conan v2 in conan-center for the moment).

[2022-09-25 09:23] paulocoutinhox opened #12199 "[bug] Custom toolchain ENV variables are not visible to CMake"
Hi,

When i define my environment variables inside my custom toolchain, it is not sent to my CMakeLists.txt when build.

https://github.com/paulocoutinhox/conan-cmake-v2/blob/main/conan/darwin-toolchain/conanfile.py#L105-L176

Example:

[code]

Simple project to test:
https://github.com/paulocoutinhox/conan-cmake-v2

Toolchain file:
https://github.com/paulocoutinhox/conan-cmake-v2/blob/main/conan/

[2022-09-25 09:38] paulocoutinhox commented on #12197
One test case.

With my toolchain, the openssl receive the correct params:

[code]

The param exists about bitcode: `-fembed-bitcode-marker`.

When i use conan bitcode configuration:

[code]

The param DON'T exists about bitcode: `-fembed-bitcode-marker`.

[2022-09-25 09:46] prince-chrismc commented on #12195
Seems a little odd Conan adds two configs with the same name 😕

***

You should be able to configure this with ur profile or from the cli

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#conf

[2022-09-25 09:57] paulocoutinhox commented on #12195
Yes, but it add xcode build for all dependencies, what is a problem because not all dependencies are compatible.

There isn't a fix?

[2022-09-25 12:23] prince-chrismc commented on #12195
You should be able to use the same syntax for options and do `-c lib:*/cmake...` but I've never tried

[2022-09-25 12:31] IceflowRE commented on #11236
Is there a way to remove all cached packages except the ones required by a recipe/conanfile.py?

[2022-09-25 15:28] paulocoutinhox commented on #12195
Yes, but this is not the real problem. Each dependency has their way to be
compiled.

The real problem is conan generate two presets.

[2022-09-25 21:09] memsharded commented on #11236
Not yet.

At some point in Conan 2.X, when the LRU cache metadata is managed, it will be possible to ``conan install`` one conanfile, and then removed everything that was not used in the last 5 minutes or something like that.

[2022-09-25 21:13] memsharded commented on #12199
Hi @paulocoutinhox

I think the problem is that CMake doesn't listen to environment variables by default. So ``CMAKE_XCODE_ATTRIBUTE_ENABLE_BITCODE`` being an environment variable doesn't work at all for CMake.

I think there are other alternatives:
- Try to put that in a CMake user toolchain that is passed to the consumers
- Defining the ``self.conf_info`` with the new ``conf`` that enables bitco

[2022-09-25 21:21] memsharded commented on #12198
Hi @ujjwal1002

It seems you are using the legacy wrapper: ``from conans import ConanFile, CMake, tools``. You should use the new one too, to work with CMakeDeps and CMakeToolchain: ``from conan.tools.cmake import CMake``. You should also drop the legacy ``cmake`` and ``cmake_find_package`` integrations, and the ``include(${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)``, that is replaced for the toolch

[2022-09-25 21:48] prince-chrismc commented on #12195
Conan allows you to add configuration to the present, so you can have release and debug is you wish.

***

You can at a recipe level set the toolchain generator. But the global applies to all packages.

https://github.com/conan-io/conan/blob/45d2f85c09d3ab91618787911b39965ee4e17db1/conan/tools/cmake/toolchain/toolchain.py#L202-L205

[2022-09-25 21:50] memsharded commented on #12197
Yes, it is true that ``tools.apple:enable_bitcode`` is only applied by ``CMakeToolchain`` atm. It should be extended to other build systems, prioritizing Autotools.

But there is a problem with this, some particular packages, like openssl, will not use such integrations, so they would need to explicitly encode it in the recipes. There is no easy way to pass special configuration or flags to the op

[2022-09-25 21:59] memsharded commented on #12195
I think the issue is:

[code]

You have declared generators twice. The attribute ones will use the standard configuration, while the ones in ``generate()``, you are overriding the default CMake generator, then it ends with 2 different configs.

You need to remove that line.

[2022-09-26 05:41] wjswjq commented on #9902
Hi w3sip, have you got any work around?  I have a libA, which depends on boost. As boost is quite a large dependency, I hope it can be compiled totally in libA via static library. In that way, I needn't install boost binary any more when using libA.

[2022-09-26 12:20] w3sip commented on #9902
@wjswjq - unfortunately, no great solutions. `build_requires(force_host_context=True)` is a functional workaround, but my understanding is, it won't work anymore with Conan 2.0.
This, however, is a problem for another day.

[2022-09-26 12:28] wjswjq commented on #9902
@w3sip, Thanks a lot.

[2022-09-26 14:42] fschoenm opened #12200 "[bug][2.0] conan config list prints to stderr"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version:
  * Conan version: 2.0.0-beta3
  * Python version:

### Steps to reproduce (Include if Applicable)

`conan config list` prints all available config options to stderr instead of stdout. That makes it difficult/annoying to e.g. grep for options.

### Logs (Executed commands w

[2022-09-26 14:45] Ryslan342 commented on #12181
I tried too many during this time.
Unfortunately, I didn't save anything.
Tried your advice.

- remove sudo - yes
- install tools - In my profile it is indicated that conan should install the dependencies itself.
Or I misunderstood `tools.system.package_manager:mode=install`

- build params into profile -
If I understand correctly, then I can create one file, but use prefixes such as "build_", "ho

[2022-09-26 14:51] fschoenm opened #12201 "[bug][2.0] core.net.http:no_proxy_match has no effect"
Our conan remote cannot be reached via the company proxy. So I created a global.conf with the following content:

[code]

conan seems to ignore that setting and use a proxy after all:

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version:
  * Conan version: 2.0.0-beta3
  * Python version:

### Steps to reproduce (Inclu

[2022-09-26 14:51] uilianries commented on #12181
@Ryslan342 If you want to cross-compile to ARMv7 using Docker, I recommend you using [Conan Docker Tools](https://github.com/conan-io/conan-docker-tools)

I recommend you trying [this](https://github.com/conan-io/conan-docker-tools/blob/master/legacy/gcc_10-armv7/Dockerfile) docker file and building your project.

[2022-09-26 15:21] w3sip commented on #9902
@memsharded - I must be misunderstanding something very fundamental about Conan dependency chain management, even with shared dependencies, not just static. Let me give you an example.

Lets say I have a project `libswissknife`. It contains `libswissknife_blade`, `libswissknife_bottleopener`, `libswissknife_screwdriver` etc. One of these libraries (lets say `libswissknife_screwdriver`) depends on

[2022-09-26 15:38] Ahajha opened #12202 "[question] How to propagate compiler.version to CMake?"
OS: Ubuntu 22.04
Conan: 1.52
CMake: 3.22.1

Hello, I'm trying to override compiler.version to test different versions of GCC (10, 11, and 12 for my case), and it doesn't seem to be propagated to CMake no matter what I do. Is there something I'm doing wrong here? I have the following small example:

main.cpp:
[code]
CMakeLists.txt:
[code]
conanfile.py:
[code]
My system default is GCC 10, and I can'

[2022-09-26 15:44] Ryslan342 commented on #12181
Ok, if dockcross - don't work - not problem, I ready to use [Conan Docker Tools](https://github.com/conan-io/conan-docker-tools)

I tried it right now

**My profile (../arm7/profiles/default)**
[code]

**My shell commands **

[code]
Output:
<img width="1750" alt="Снимок экрана 2022-09-26 в 18 29 43" src="https://user-images.githubusercontent.com/20536544/192318036-bc0e89f3-384a-4238-9e7a-6885e82f4

[2022-09-26 18:01] ujjwal1002 commented on #12198
Thanks @memsharded , are these best practices compiled somewhere? I wish to continue learning and it seems that such nuggets will definitely help me a lot!

[2022-09-26 18:09] Reg-Arvidson-Bose opened #12203 "[bug] conan lock/install/build bypass validate failure"
Using validate does not prevent conan lock/install/build from succeeding even though the validate method is throwing a ConanInvalidConfiguration. This is bypassing validate failures in our CI/CD pipelines.

[Docs state that](https://docs.conan.io/en/latest/reference/conanfile/methods.html?highlight=validate#validate) `If you try to use, consume or build such a package, it will raise an error, retu

[2022-09-26 21:30] tldrEllie opened #12204 "[bug] tools.untargz() / tools.get() errors out if strip_root=True on some tarballs if the file being extracted is a symlink that begins with the same substring as the common folder name"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: -
  * Conan version: 1.49
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

When executing `tools.untargz()` or `tools.get()` on this file: https://github.com/espressif/crosstool-NG/releases/download/esp-2022r1/riscv32-esp-elf-gcc11_2_0-esp-2022r1-

[2022-09-26 21:51] puetzk commented on #12171
Thanks. The mindset I had was thinking of this as a cross-compile from vs2022 to vs2019 (or whatever versions). The other one was the thinking of MSVC as a tool_requires, even though in practice it probably isn't acually being fetched by conan. But if it was (and back in the VS2013 days it wasn't that rare to just unzip the VC folder on a buildserver), you'd likely want that package to provide too

[2022-09-26 22:09] paulocoutinhox opened #12205 "[question] Different flags when try compile something to Mac Catalyst"
Hi,

Im trying compile a project to Mac Catalyst.

It always works, but after migrate to V2 things, it stop populate the Mac Catalyst flags to ".m" files.

Project Link:
https://github.com/nativium/nativium-modules

In the project above the flags are:

[code]

I created another small project to test it and i see that it works (flags are populated). I have added a ".m" file and the param are popula

[2022-09-26 23:32] Ryslan342 commented on #12181
I still can't get anything :(

To begin with, it would be nice to understand what exactly the problem is. Decided to go with the elimination method.

- Replace "dockercross" with "conan-docker-tools" (Followed your recommendation). This did not help, so the problem is not in the image.
But next, I will use the image from сonan.

- I tried to build another library to make sure that the problem is n

[2022-09-27 01:14] #11783 closed, assigned to lasote

[2022-09-27 06:17] #12038 closed, assigned to memsharded

[2022-09-27 06:31] maitrey opened #12206 "[question] Profiles and setting additional tools with the compiler"
Dear Conan Folks,

I have this use-case:
I am generating the elf files and need to use some tools from the compiler for further processing of the elf files.
In profiles I specify it like this:
target_host=C:/Tricore/v4.7.3/bin/ppc-vle
[env]
OBJVARED=$target_host-vared.exe

But I am unable to see this variable in CMakeCache.txt and unable to use it.
Could anyone please help?

- [x] I've read the [C

[2022-09-27 09:11] johan-boule commented on #12190
Maybe I'm not entirely thinking this through, but I think the constraint on the conan version shouldn't lead to the same NP-hard problem as constraints between libraries: the version of conan is not an adjustable variable, it's a given constant.
I think the constraint can be quickly evaluated independently for each package as long as the network protocol makes it possible to retrieve the list of r

[2022-09-27 09:14] uilianries commented on #12181
@Ryslan342 What's your final objective? Do you need to cross-compile OpenCV? If yes, which package (related to version)? Please, be specific with your objective, so I can try to reproduce your scenario. You have to consider not all projects are prepared to be cross-compiled and we don't test it on Conan Center due our resources.

[2022-09-27 10:37] harsszegi opened #12207 "[question] Replace alias versions in conanfile.py during export?"
Hi,

is there an existing infrastructure in Conan which could replace alias versions ina conanfile.py's build_requires/python_requires/requires clauses and could replace the alias version to the exact version to which the alias points to?
E.g. if I have a foo/1.0.0@user/master version, but that is actually an alias for foo/1.0.0+1234+deadbeef@user/master, is there a way
to "auto-replace" "foo/1.0.

[2022-09-27 11:30] Bearwolves commented on #12163
@prince-chrismc

[2022-09-27 13:32] MTomBosch opened #12208 "[question] Add file to Conan download cache manually"
We are heavily using the Conan download cache to save traffic from Artifactory towards our CI/CD machines.

In order to fill the cache with packages a package need to be uploaded first and then downloaded again to "prefill" the cache for subsequent CI/CD jobs. This means at least once uploading and downloading the package.

Is there a way to manually upload the files into the cache to save that on

[2022-09-27 13:50] fschoenm commented on #12202
See also #11842.

[2022-09-27 14:41] #9535 closed, assigned to lasote

[2022-09-27 21:44] memsharded commented on #12206
Hi @maitrey

CMake does not listen to most env-vars. It will just use CC/CXX and a few others, but in general env-vars are not a way to pass information to CMake, and they will not end in the CMakeCache.txt.

If you want, you need to pass in your recipes the info, using something like ``CMakeToolchain.variables`` or ``CMakeToolchain.cache_variables``.

[2022-09-27 21:47] memsharded commented on #12208
Hi @MTomBosch

No, there is no way, and we think it wouldn't be a good thing that there is no way. At the moment the ``FileDownloadCache`` is very well defined and even quite concurrent safe, because it is clearly a one-directional cache, from the server to the package cache. The moment you enable the opposite flow, keeping the consistency of the cache, synchronizing things becomes way more compli

[2022-09-27 21:52] memsharded commented on #12202
Hi @Ahajha

The definition of ``compiler.version`` in the ``settings`` profile, it is a declaration to Conan of what is the compiler version being used, but not an instruction for Conan to setup the environment or the compiler. Conan does not automatically set up any tool or environment based on the inputs. So there are different ways to define your environment, depending on the platform:

- If yo

[2022-09-27 21:53] memsharded commented on #12202
(As @fschoenm suggested, there are some ongoing ideas about adding a higher level Conan abstraction over it, but at the moment some of the existing CMake ones)

[2022-09-27 21:57] memsharded commented on #12207
Hi  @harsszegi

Sorry, I don't know what you mean, I would need some further explanations.

In any case, it sounds that this could be some abuse. The ``alias`` feature should be used sparingly for some very especial and exceptional use cases. If you need to add some kind of automation on top of that it doesn't look like great (without fully understanding the issue yet)

[2022-09-27 22:25] memsharded commented on #9902
Can you please clarify? It is not very clear.

In any case, Conan 2.0 brings a new dependencies and graph model, that allows much better management of things like static dependencies. I'd recommend having a look to https://www.youtube.com/watch?v=kKGglzm5ous, trying things in the Conan 2.0 beta and reporting against that.

[2022-09-27 22:29] memsharded commented on #12200
It is because it has a dedicated ``--format=json`` output that goes to ``stdout``. We cannot make the normal text output go to ``stdout`` otherwise it will break ``--format=json > file.json`` to capture a clean json output.

The alternatives are:

- We add a ``--format=text`` output, the prints the text format to ``stdout`` when defined
- We drop the ``--format=json`` output, agree that it will no

[2022-09-27 23:04] puetzk commented on #6589
But this semes like of wrecks immutability for any developer machine's cache and consumer pacakges. They have a package which claims to be name/v1.2.3, but it's really some pre-release that might not even be the same source as what was finally tagged. And conan will happy keep using it, and thus building further downstream packages against the wrong thing, unless you realize this and manually dele

[2022-09-28 05:44] MTomBosch commented on #12208
Thanks for the fast response. I know that it would be hard to offer this capability as well in a safe way but I though asking does not cost a lot and then I know for sure if it is there or not.

Thx once again.

I will close this question then.

[2022-09-28 05:44] #12208 closed, assigned to nobody

[2022-09-28 07:06] fschoenm commented on #12200
I guess I don't understand why the command has to print both, text and JSON at the same time. Isn't that an either/or thing? I don't even know what I would do with the JSON output of this command.

However, the current behavior breaks all kinds of expectations how command line interfaces should behave and that's why I opened the ticket.

You could make the same argument about redirecting non-JSON

[2022-09-28 07:28] maitrey commented on #12206
Hi @memsharded , Thanks for answering.
One more question if I may:
I have component packages but I have to link them in the Project Package with additional linker flags. Linker flags have to be  given in the order: ld -Wl,--start-group <all the object files>-Wl,--end-group -o elf file. What is the best way to achieve this?

[2022-09-28 08:15] memsharded commented on #12200
The way the Conan 2.0 cli output is designed is this:
- Only "end-results", machine readable, maybe concatenable output to other commands goes to ``stdout``. This should be pretty stable
- All informational messages to be read by humans go to ``stderr``. They are not stable in the contents, the format, the layout, the coloring, can change at any release. Users should not parse or use such output f

[2022-09-28 08:20] memsharded commented on #12206
I am not fully sure what you mean, but maybe adding ``self.cpp_info.sharedlinkflags = ["....."]`` and ``self.cpp_info.exelinkflags = ["....."]`` defined in ``package_info()`` will propagate those flags to the consumers of that package.

[2022-09-28 08:32] fschoenm commented on #12200
Ok. To me that seems like a pretty uncommon guideline for CLI programs that I've not seen before. IMO most output will still be read by humans and might get grepped, piped to `less`, or redirected to log files. The conventions you decided on for Conan 2.0 seem to break all that without a very good reason.

How are you going to handle this? Does the end user always have to remember to redirect `std

[2022-09-28 08:34] maitrey commented on #12206
Sorry for not being explicit. I have components in their own packages(10 components) which generate libraries. These libraries I am consuming in another package along with other libraries generated in this package. But the linking should be done in this way:
-Wl, --start-group
ComponentA/lib
ComponentB/lib
ComponentC/lib
ComponentD/lib
ComponentE/.a
ComponentF/.a
ComponentG/.a
Project/ComponentX/.

[2022-09-28 10:18] uilianries opened #12210 "[question] How to validate cppstd and compiler for header-only packages?"
Using the new [validate](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-validate-method) approach recommended by the migration guide, we should use `self.info.settings` instead of `self.settings` as in the past. Also, for header-only projects, we should consider [self.info.clear()](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-package-id-method) instead of `s

[2022-09-28 13:49] harsszegi commented on #12207
We release packages with a "rolling version" (these are usually build helper packages and the python_requires base class for all of our recipes we maintain). So to "ease the pain" and not enforcing every package using these "build helper packages" to update the build-package-version in the consuming package's build_requires every time we release a new build-helper-package, but we simply "adjust" t

[2022-09-28 13:51] prince-chrismc opened #12211 "[feature] Add options based on the version of a recipe"
This is from https://github.com/conan-io/conan-center-index/pull/13184#issuecomment-1260176736.

Currently the work flow we have resembles:

- `init`
- `config_options`
- "apply profiles"
- `configure`

The problem is conancenter uses `conan info` to learn about the available options but these do not take into account the version **AND** give users meaningful error messages

👉 Currently CCI allows

[2022-09-28 14:34] memsharded commented on #12211
Hi @prince-chrismc

I would need more info about this. Why is ConanCenter using ``conan info`` to learn about the options? In theory all packages in ConanCenter are built with the default options? I guess it is for ``shared``? Maybe ``inspect`` is a better proxy for this?

Also, how it is called? ``conan info mypkg/version@`` will give you the info of that exact version, but I guess it is not the

[2022-09-28 14:50] prince-chrismc commented on #12211
To list the options and find the ones that are supported, shared and header only are the ones I learnt about (fpic is default)

From what i played with, That command does not list the options, but computes the package info. Perhaps  there's a flag to list more?

CCI does not know which profile to apply yet so it "wants" a command with no profile or settings. Just the support options.

I am not 100

[2022-09-28 15:12] puetzk commented on #10617
retested and this issue is still present in conan 1.52.0

[2022-09-28 15:14] puetzk commented on #10617
But it does seem to work in conan-2.0b3, at least after rewriting CompatibleLibConanFile to the new `def compatibility(self)` signature, e.g.

conanfile-compatible_lib-2.0.py
[code]

[2022-09-28 15:25] paulocoutinhox commented on #12205
@SpaceIm can you help me with this?

I don't know what is wrong inside project nativium that make CMake compile .m files with different and wrong flags from the test project "https://github.com/paulocoutinhox/conan-cmake-v2".

In project "https://github.com/paulocoutinhox/conan-cmake-v2" (that i get things from nativium) it works, but on nativium don't.

[2022-09-28 16:19] SergeyKrivohatskiy commented on #12000
Hi! I have the same issue with `conan==1.52.0`
Running `conan remote add --insert -f blabla http://blabla/`
Crashes:
[code]

I also cannot use conan 1.51.3 as it doesn't support latest packages. So I'm stuck =(

[2022-09-28 16:54] memsharded commented on #12000
Hi @SergeyKrivohatskiy

It seems that some updates to 1.52 are not completely cleaning the previous stuff and something breaks. Can you please try installing a fresh Conan in a clean Python virtualenv (or maybe trying pipx), and see if the problem still reproduces?

[2022-09-28 17:14] SergeyKrivohatskiy commented on #12000
@memsharded Thanks that helped me to solve the issue.
The problem was in `--ignore-installed` flag I used to reinstall conan.

So to reproduce:
[code]
without `--ignore-installed` flag everything works.

Hope this will help someone else =)

[2022-09-28 17:33] memsharded commented on #12000
Perfect, thanks for the feedback @SergeyKrivohatskiy !!

That is a good hint, yes, the key seems to be in not complete/clean installations, first thing to try is a full clean one. Cheers!

[2022-09-28 23:41] Ryslan342 commented on #12181
My task is to set up a cross-building application with the openсv library for different platforms.
It may be necessary to include other libraries in the future.

[2022-09-29 00:27] fittyCent opened #12212 "[question] Pipeline failures due to changes in packages"
My build pipeline failed after some time. I've made sure that the build image installs conan 1.50 and that it uses the lock file that was generated from the last successful conan install. So installing conan packages, I use `conan install . --lockfile=<lock file name>`. However after a few weeks, the pipeline broke again with this message:

[code]

hiredis here is not listed in my conanfile.py. It

[2022-09-29 07:05] db4 opened #12213 "[question] Should options affect private dependencies?"
Suppose I have PkgA/1.0 that depends on PkgB/2.0 and PkgC/1.0. PkgC/1.0 in turn privately depends on PkgB/1.0. Now if I set `-o PkgB:option=value` while creating PkgA, both PkgB/2.0 and private PkgB/1.0 are affected. Is it expected? For me it makes private dependencies almost unusable.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md)

[2022-09-29 07:52] db4 commented on #8287
@memsharded I think I've sorted it down. It's not Conan client but nginx that I use as a HTTP redirector to the actual Artifactory instance. For the record, I've configured it the following way:
[code]
nginx seems to generate a lot of concurrent HTTP connections...

[2022-09-29 08:01] memsharded commented on #12212
Hi @fittyCent

This is unexpected. Indeed ``export_conandata_patches`` is a Conan 1.52 feature, and that updated dependency shouldn't be loaded if you are using a lockfile, because lockfiles lock dependencies and transitive dependencies. Can you please share the contents of the lockfile that you are applying, so we can try to reproduce?

[2022-09-29 08:06] memsharded commented on #8287
Thanks for the feedback @db4 and following up.
I am not nginx expert, difficult for me to help there.

Couple of possibilities:
- Maybe @davidsanfal knows a bit more than me, can you please have a quick look?
- If you use an Artifactory that has included support, I'd submit a ticket to that support, because this sounds mostly an advanced Artifactory setup issue.

[2022-09-29 08:11] memsharded commented on #12213
Yes, if you define ``-o pkgb:option=value`` in the command line (recall, try to use lowercase packages always, as Conan 2.0 will force it), then yes, it is a global, pattern based match, so it will match all packages named with ``pkgb``. You can try to limit it to include the version, like ``-o pkgb/2.0*:option=value`` instead.

Another possibility is that only ``pkgc`` defines the specific option

[2022-09-29 08:21] memsharded commented on #12207
Quick question, why using alias and not version-ranges, which is more of an industry standard?

You want packages using that helper to do:
[code]

Then, when new versions of the build-helper are released, they will be automatically picked, no need to do anything. And there are few advantages:
- Consumers that want to do that, they can still explicitly pin the exact version that they want
- The ``p

[2022-09-29 08:24] fittyCent commented on #12212
Ah, glad that wasn't a silly question. Here's the lock file:

[code]

here's the conanfile.py
[code]

[2022-09-29 08:25] harsszegi commented on #12207
Well our version format seems to be not really semver compliant afaik, e.g. we indeed have this format:

package_name/semver+gitcount-githash@user/channel

which is afaik not 100% semver compliant, so we can't use ranges.
Anyhow thanks for the info @memsharded , closing the issue for now

[2022-09-29 08:25] #12207 closed, assigned to nobody

[2022-09-29 08:31] memsharded commented on #12207
Thanks for the feedback.

In any case, to the original question:

No, it is not possible. We had some functionality in the past that edited ``conanfile.py`` (the ``scm`` feature), and it was a total nightmare, tons of corner cases. So Conan will no longer do that in 2.0, and it will never edit ``conanfile.py``. Furthermore, the ``export`` command does not evaluate the graph at all, so it would be

[2022-09-29 08:51] db4 commented on #12213
Hi @memsharded!

Even for my internal packages? That's unfortunate, historically I use capitalized names..

Great, didn't know that. Thanks a lot!

It does, but PkgA needs to set an option for PkgB/2.0, that doesn't exist in PkgB/1.0. So I have
[code]

Unfortunately there is another issue with private dependencies:
[code]
 libjpeg-turbo/2.1.2 is required normally, libjpeg/9d - privately. Is it pos

[2022-09-29 09:01] wyl1232792 opened #12214 "[question] Any recommendation for managing conanfile.py of multiple git repo&versions?"
# Background:

I have some git projects, and a simple conanfile for each of them, placed at the root of repository which runs git clone, dependency install, cmake build and package.
For example, the following conanfile.py is

[code]

There is a painful workflow that when the main branch code changes, I'll modify the version string in conanfile.py from "0.1" -> "0.2" for example. And finally tag "v

[2022-09-29 09:25] memsharded commented on #12214
Hi @wyl1232792

Yes, you can use the ``set_version()`` method, to automate the definition of the version from whatever source you like, git, a file, etc. Have a look to: https://docs.conan.io/en/latest/reference/conanfile/methods.html#set-name-set-version and https://docs.conan.io/en/latest/howtos/capture_version.html#capture-version

[2022-09-29 09:33] memsharded commented on #12213
Yes, this was approved by the Tribe 2.0, like 1,5 years ago: https://github.com/conan-io/tribe/pull/17. Capitalized names are problematic in many OS, and also a source of many confusions in the ecosystem as a whole, it was a mistake to allow them in 1.X. Conan 2.0 will allow a temporary workaround to enable the migration, but it is recommended to start using lowercase for packages asap.

You want

[2022-09-29 09:35] memsharded commented on #12212
That was useful.
The problem is this one:

[code]
There is no recipe revision there. When you captured the lockfile you didn't have revisions enabled. That means that the revision is not defined and it is not locked. So changes to the ConanCenter recipes create new revisions, that your lockfile will get, because it is locking just the ``1.0.2`` version, but not the revision.

[2022-09-29 09:36] memsharded commented on #12200
This will be changed, @czoido is working on it for next beta.4

[2022-09-29 09:51] fittyCent commented on #12212
From what I understand, I'd specify a revision in the conanfile.py file by adding a revision hash after version number:
[code]

I just tried this and did a conan install. A lock file is created and there's no revision info in it and `revisions_enabled` in the lock file is false.

Two questions:
1. How do I enable revisions in lock files?
2. I tried all redis-plus-plus revisions and none of them wo

[2022-09-29 09:56] jcar87 commented on #12206
Hi @maitrey  -

I'm assuming that due to the use of `--start-group` and `--end-group` these are static libraries, correct?
Are there any _circular_ dependencies between the static libraries? That's typically the reason one would use the group flags during linking.

Provided there are _no_ circular dependencies between the static libraries, and each component is on a separate package (as you descri

[2022-09-29 10:11] memsharded commented on #12212
You need to enable it in your ``conan.conf`` file, under ``[general]`` add ``revisions_enabled=True``. It can also be done with ``conan config set general.revisions_enabled=True``.

Please try:
- Completely remove the packages in your cache
- Enable revisions as suggested above
- Try again

[2022-09-29 10:42] fittyCent commented on #12212
I got `revisions_enabled` set correctly and lock file is showing that it's enabled.

However I still can't get conan 1.50 to install redis-plus-plus because it's still trying to pull the latest version of hiredis (this doesn't work with conan 1.50).

What I did to get conan to pull an earlier version of hiredis:
- clear all conan package cache
- uninstall conan 1.50. Install 1.52
- enable revision

[2022-09-29 10:48] memsharded commented on #12212
Could you please share your lockfile, after the edition of ``hiredis`` to pin the old revision?

[2022-09-29 10:54] jcar87 commented on #12202
Hi @Ahajha  - if this is for the `conan create` workflow, you could try the following:

1. Define multiple named profiles (e.g.  `gcc11`, `gcc12`), where the `CC` and `CXX` variables are defined in the `[buildenv]` section, pointing to the location of the compiler executables for that version. More information on `buildenv` can be found [here](https://docs.conan.io/en/latest/reference/profiles.htm

[2022-09-29 11:10] fittyCent commented on #12212
Here it is:
[code]

[2022-09-29 11:15] memsharded commented on #12212
You might try to invalidate the ``prev`` too. When you changed the recipe revision to an older one, the package revision was left the same. And it is impossible that such package revision exist for that older recipe revision. Try removing the ``prev`` field completely.

[2022-09-29 11:24] fittyCent commented on #12212
Ah I didn't know what `prev` meant. I did try to set it to `"0"` previously but that didn't work. Removing it completely did work. Thanks a lot for your help James!

[2022-09-29 11:24] #12212 closed, assigned to memsharded

[2022-09-29 11:29] SirCosty commented on #12076
Starting with conan 1.52.0 the issue it is solved.

But not everybody can update the conan because the newer one require Jinja 3.x.y and might cause conflict with other python pachages that are requiring Jinja 2.x.y

So what about this poor peoples which are usualy working in big projects from enterprise companies? lol

BTW: Is afected Linux also not only Windows

[2022-09-29 11:29] memsharded commented on #12212
Super happy that it worked! 😄

Lockfiles are a bit challenging to use and understand in 1.X, but we are very excited about the improvements done with lockfiles in 2.0, hopefully this will be much, much easier. If at some point you want to give them a try and give feedback, they are released in the beta.3 and some docs also there too: https://docs.conan.io/en/2.0/tutorial/consuming_packages/intro_t

[2022-09-29 11:31] memsharded commented on #12076
Hi @SirCosty

This recent blog post has some hints: https://blog.conan.io/2022/09/20/consuming-recipes-during-migration-conancenter.html

Poor people working in enterprise companies (most of Conan users :) ) should definitely use their own repo, with their own copy of packages, and not pull directly from ConanCenter. Not only for C++/Conan, but any other package manager for any other language.

[2022-09-29 11:42] fittyCent commented on #12212
Yeah I'll give beta a try on another project soon. I'm glad the lockfiles exist and that they're work great when used correctly. My pipeline is looking sturdier thanks to you guys.

[2022-09-29 13:00] maitrey commented on #12206
Hi @jcar87 , These are 3rd party deliverables. We donot know if there are circular dependencies, without start group end group it doesnot work .

[2022-09-29 13:48] ftheirs commented on #12063
Hi @czoido! I've seen that this feature was merged some days ago but I'd like to know if there is an ETA for the new conan release 😃
I'm having some issues because of the Xcode version and I need to update conan.

[2022-09-29 13:51] janosvitok commented on #12063
@ftheirs: If you need just get past the version check, you can manually add the version to your .conan/settings.yml file.

[2022-09-29 14:19] joaquinherrero-facephi opened #12216 "[bug] Error with CMakePresets on build missing package"
When I try to build a missing package on Windows there is an error related with CMake presets.

I reproduced the issue in a minimum example here:

[example repository](https://github.com/joaquinherrero-facephi/issue-cmake-presets)

It seems that fails only on windows, so I suppose that is something related with CMakeDeps/Visual studio environment setup.

NOTES:
There is a first call to vcvars (may

[2022-09-29 15:14] ericriff opened #12217 "[question] Conan integration with custom architectures"
We use "custom architectures" which are actually aliases to real archs. For example, when we build for the `NVIDIA Jeston Nano` we set the `arch` in the conan profile to `nano`. To do this we need to tweak the `settings.yml` file to include all our our custom archs.
We do this since our build system differentiates all the platforms we target using `CMAKE_SYSTEM_PROCESSOR`, which following the prev

[2022-09-29 16:08] uilianries commented on #12181
@Ryslan342 We need more details:

- Are you using OpenCV from Conan Center?
- Which version?

[2022-09-29 16:43] #12056 closed, assigned to nobody

[2022-09-29 16:43] ericriff commented on #12217
BTW I just tried build `glog` which is also conan 2.0-compatible, but uses cmake to build. That worked fine for us. So this only applies to the autotools-based recipes.

[2022-09-29 16:59] earonesty commented on #12076
i always just run conan from its own conan-venv.  easier than dealing with compat with other build tools

[2022-09-29 17:06] beenjohn opened #12218 "[bug][2.0] full_deploy of Skip'd requirements"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When deploying an application (gnuradio) to a target folder, transitive dependencies not required at runtime break my installs due to the dep.package_folder=None. It looks like any requied, non-build package marked "Skip" in the dependency graph has package_folder=None in the deployer

[2022-09-29 17:19] beenjohn commented on #12218
From inspection, here's my zlib requirement for example:
`zlib/1.2.12, Traits: build=False, headers=False, libs=False, run=False, visible=True`

which matches the funcitonality in requires.py
[code]

I'm looking at correcting my recipes to remove them from the dependencies list where possible. Should skipped dependencies make a deploy call fail?

[2022-09-29 17:46] memsharded commented on #12218
Hi @beenjohn

No, certainly the command should not fail. I think your proposed fix makes sense, skipping packages which package_folder is not defined, do you want to submit the fix in a PR yourself?

[2022-09-29 18:01] beenjohn commented on #12218
@memsharded Glad to help. I'll give that a go now.

[2022-09-30 04:41] Ahajha commented on #12202
Thanks everyone for the responses!

So my understanding is those settings in the profile are more de-scriptive rather than pre-scriptive.

@jcar87 It looks like your suggestion would require an update to every recipe, correct? Would it be possible to just make a single virtual environment with proper CC/CXX variables, and run `conan create` in there?

I'll play around with this and see what I can

[2022-09-30 04:41] #12202 closed, assigned to nobody

[2022-09-30 04:52] Ahajha opened #12221 "[bug] (Linux) Package with two shared components fails to link both at same time"
First off, I'm not 100% certain if this is a bug, it very well could be a misunderstanding of how shared libraries work, please correct me if any of my assumptions are incorrect, however, this seems like a bug to me.

I have a single package with two components, pkg1 and pkg2, both shared, and pkg2 depends on pkg1. In my test package, I test two executables, one linking against pkg1, and one linki

[2022-09-30 05:14] Ahajha commented on #12221
Some extra info, I ran verbose output for a normal build (I included a main file that links against both), and for the test package, and they have similar link scripts:

main:
[code]
(shortened, not accurate but cleans up the output)
[code]
test package:
[code]
(shortened, not accurate but cleans up the output)
[code]

[2022-09-30 06:21] db4 commented on #12213
libjpeg/libjpeg-turbo are CCI recipes, I can't modify them. And they are used indirectly via different OpenCV packages (one normal, one private). I used build_requirements instead of private requirements before, but 1) such use is strongly discouraged by Conan team 2) override is not possible for build_requirements. So no acceptable solution yet to have a completely isolated static dependency? At

[2022-09-30 07:36] memsharded commented on #12218
https://github.com/conan-io/conan/pull/12220 merged, will be in next beta.4, thanks

[2022-09-30 07:36] #12218 closed, assigned to nobody

[2022-09-30 07:40] memsharded commented on #12213
It is still possible, requires some work, but possible:
- Clone conan-center-index-repo
- Modify the recipe
- conan create . version@

Then you can upload it together with your packages to your own repo, and make it the first remote. It will have priority and Conan will resolve against it instead the ConanCenter one.

Not for the ``provides`` feature. ``private`` requirements are complicated in 1.

[2022-09-30 07:44] memsharded commented on #12221
Hi @Ahajha

It is not clear if it fails at link time or at runtime.
For runtime, you might need to add the ``VirtualRunEnv`` generator in your ``test_package/conanfile.py`` (or enable the conf ``tools.env.virtualenv:auto_use=True`` to emulate the 2.0 behavior in which this generator will be implicit).

[2022-09-30 08:32] jcar87 commented on #12217
Hi @ericriff  - thanks for reporting this issue. If I'm not mistaken, if one were to run CMake on the Jetson Nano, the `CMAKE_SYSTEM_PROCESSOR` automatically detected by CMake would be `aarch64`.  This architecture in Conan settings is `armv8`.

If I understand correctly, you need it in such a way that when (cross)building CMake projects, the value of `CMAKE_SYSTEM_PROCESSOR` is `nano` instead of

[2022-09-30 10:31] uilianries opened #12222 "[question] How to generate no configuration suffix when using CMakeDeps?"
When consuming targets and CMake variables generated by [CMakeDeps](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html), it generates all variables with a suffix based on its configuration:

https://github.com/conan-io/conan/blob/47353ab2e38b7cf5638dfce26d1fd2640eb2775e/conan/tools/cmake/cmakedeps/templates/__init__.py#L78

[code]

As result, it regenerates variables li

[2022-09-30 10:43] ericLemanissier commented on #12222
Thanks for the report. cf https://github.com/conan-io/conan-center-index/pull/13228 for an example of actual failure caused by this issue

[2022-09-30 10:45] jcar87 commented on #12202
There's an alternative that doesn't require to modify the recipes. You can add the following to the `[conf]` section in the profiles:
[code]

And this would use it automatically without having to explicitly list it as a generator in the recipes.

Otherwise, I think if the shell environment in which you invoke `conan create` has CC/CXX defined, and there is nothing anywhere that causes Conan to ove

[2022-09-30 11:38] cspanier commented on #12158
I also just hit this bug. [Here](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html) you can find the specification of the file format, which states:

[2022-09-30 13:49] uilianries opened #12223 "[bug] Special option ANY can not be None on Conan 2.0"
The special option ANY is documented that should be a list.

References:
- https://docs.conan.io/en/2.0/reference/conanfile/attributes.html#options
- https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#any-special-value

However, is not documented about any limitation in terms of type. Including `None`. So following the example:

[code]

The option `foobar` is `ANY`, but its default valu

[2022-09-30 14:12] memsharded commented on #10835
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

Closing this issue now, but we know that there might still be some gaps, so please try to update to the new integration (this is necessary for 2.0 anyway), and report what

[2022-09-30 14:12] #10835 closed, assigned to nobody

[2022-09-30 14:15] memsharded commented on #10955
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

There are some other pending issues about the Windows subsystems environment management, we are also trying to improve them in https://github.com/conan-io/conan/pull/12178

[2022-09-30 14:15] #10955 closed, assigned to nobody

[2022-09-30 14:15] memsharded commented on #1839
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

There are some other pending issues about the Windows subsystems environment management, we are also trying to improve them in https://github.com/conan-io/conan/pull/12178

[2022-09-30 14:15] #1839 closed

[2022-09-30 14:15] memsharded commented on #6927
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

There are some other pending issues about the Windows subsystems environment management, we are also trying to improve them in https://github.com/conan-io/conan/pull/12178

[2022-09-30 14:15] #6927 closed, assigned to jgsogo

[2022-09-30 14:15] memsharded commented on #7868
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

There are some other pending issues about the Windows subsystems environment management, we are also trying to improve them in https://github.com/conan-io/conan/pull/12178

[2022-09-30 14:15] #7868 closed, assigned to nobody

[2022-09-30 14:17] memsharded commented on #9505
This PR https://github.com/conan-io/conan/pull/11492, merged for next 1.53 contains a few changes to better support clang in Windows, mainly for the **new** ``CMakeToolchain`` integration, but some minor changes for others too.

There are some other pending issues about the Windows subsystems environment management, we are also trying to improve them in https://github.com/conan-io/conan/pull/12178

[2022-09-30 14:17] #9505 closed, assigned to nobody

[2022-09-30 14:19] memsharded commented on #12223
Hi @uilianries

It is by design, there are 2 syntaxes here:

- You allow any value, but such value must be  provided : ``["ANY"]``
- You allow any value, but you also allow not defining the value: ``[None, "ANY"]``

This clearly differentiate the two different intents.

[2022-09-30 14:42] ericriff commented on #12217
Maybe I mislead you with my comments about `CMAKE_SYSTEM_PROCESSOR`, I just mentioned that to explain you guys that internally on our repos we use aliases for the archs, and that's why we use those aliases on conan as well. CMake-based recipes work just fine for us. The issue is with the autotools-based recipes, particularly around the conan 2.0 generators, where we can't specify a custom triplet

[2022-09-30 14:51] uilianries commented on #12223
@memsharded Thank you! We need to update the documentation to make it explicit.

[2022-09-30 16:57] Ahajha commented on #11671
I just ran into a similar situation, I'm packaging shaders and it would be nice to have a CMake variable that unconditionally points to the right place when consuming the package.

[2022-09-30 19:21] jsallay opened #12224 "[question] package_id with dependencies conan 2.0"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I have a case where I depend on a library that has a lot of options (like Boost).  Most of the options determine weather a component is built or not.  My library only uses the "main" component.  The presence or lack of the other components doesn't impact my library at all as they are

[2022-09-30 19:34] 0xfff0 commented on #7431
Hello @memsharded, re: your comment on creating private SDK packages, I was just wondering if there's any docs or repo we could reference?

[2022-10-01 00:17] daywhirls commented on #4221
I came across this issue while trying to figure out how to use Release packages of dependencies with RelWithDebInfo configurations, and I wanted to add my solution here for anyone in the future.

In certain cases where conanfiles are simply packaging pre-built artifacts or copying sources without a `build()` method, my solution was to modify the `package_id()` method to choose Release packages rat

[2022-10-01 00:25] vajdaz opened #12225 "[feature] Add user_info support to the make generator"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently only `cmake`, `cmake_multi` and `txt` generators support `user_info` variables. I would like to use such variables with the make generator.

After looking into the sources, there seems to be a quite easy implementation, Here is my first litter (without test and docs yet): ht

[2022-10-01 06:30] lindblandro commented on #12200
Just bumped into this and would also like to point out that the output of `conan config list` is essentially the same as the json output, with the exception that the text output contains `Supported Conan global.conf and [conf] properties:` which I think should go to `conan config list --help`. After you've run that command _once_ you know what it does and you don't need the manual to be printed ev

[2022-10-01 06:50] sully7 commented on #9108
@memsharded - Thanks so much for this!!

For my use case, we had to add a second line to it to also include the `target_link_libraries`. Not a python expert by any means... but this worked for us!

Hope this helps someone else who might be new to all this too :)

[2022-10-01 20:16] xakod opened #12226 "[bug] TemplateAssertionError: no test named 'boolean'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Ubuntu 20.04
  * Compiler+version: GCC 9.3.0
  * Conan version: conan 1.52.0
  * Python version: Python 3.8.2

### Steps to reproduce (Include if Applicable)

Full steps is available here https://github.com/conan-io/conan-center-index/issues/13249

### Logs (Executed commands with output) (Include/Atta

[2022-10-01 21:09] memsharded commented on #12226
You can read in your log:
[code]
So it seems an error in your setup, and your dependency on an older jinja2.

[2022-10-01 21:12] memsharded commented on #12225
Hi @vajdaz

All those generators are considered legacy and deprecated, and they have been removed in Conan 2.0.

Same happens with the ``make`` generator, it has been removed. So a couple of hints:
- First step is to migrate to the new ``Autotools`` integration: https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html
- ``user_info`` has also been dropped in 2.0. In theory there are othe

[2022-10-01 21:21] vajdaz commented on #12225
Hi @memsharded

I see. Thanks for the info. Then I close this issue.

[2022-10-01 21:21] #12225 closed, assigned to nobody

[2022-10-01 22:02] vajdaz commented on #12225
Hi @memsharded

After locking into how `AutotoolsDeps` and `AutotoolsToolchain` generators work, it seems, I have a problem and need an advice.

I develop a legacy SW with Imake/GNU Make based build system. My application has a long list of dependencies that I would like to satisfy with Conan. With the `make` generator I am able to include the generated `conanbuildinfo.mak` in all of my Makefile f

[2022-10-02 10:52] vajdaz opened #12227 "[question] Did you consider all the consequences of some depreciations in Conan 2.x?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In Conan 2.0 both, `make` generator and `user_info` [will not be available any more](https://github.com/conan-io/conan/issues/12225#issuecomment-1264482707).

First, the `make` generator creates make variables that are separated by dependencies by means of make variable name postfixes

[2022-10-02 13:38] memsharded commented on #12227
Hi @vajdaz

Yes, we have consider them. We have been working in Conan 2.0 for more than one year now, we have used the https://conan.io/tribe.html Tribe 2.0 to discuss and have feedback from users and we talk to users every day to discuss use cases.

This is not the recommended way. Instead, the recommended way for custom integrations is to put the file generating code in a ``python_require`` and

[2022-10-02 14:22] planetmarshall opened #12228 "[bug] AutotoolsToolchain does not respect `extra_cflags` or `extra_cxxflags` when used with environment vars."
AutotoolsToolchain does not respect the `extra_cflags` attribute when used with the environment.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: clang 14
  * Conan version: 1.52
  * Python version: 3.10

### Steps to reproduce
[code]

Edit the conanfile `generate` method to add
[code]

Run
[code]

### Expected result

T

[2022-10-02 20:31] vajdaz commented on #12227
Hi @memsharded

thanks for the hint! Now I  see how my custom generator should be implemented. `PkgConfigDeps` is a good idea, too. However, an includable Makefile fits better for my needs.

If I am in the context of my `ConanFile` derived class, I also can access `user_config`, of course. So my second problem is solved, too,

About  the use case. We have some packages that contain more thant one

[2022-10-02 21:51] vajdaz commented on #12227
Hi @memsharded

one question about custom generators, or the `Generator` class:

The custom generator seems only to access the `user_info` of the dependencies via `deps_user_info`, but not the `conf_info` of them. So, when I use `conf_info` instead of `user_info` in the package `conanfile.py` to propagate user data, as proposed by the docs, I still cannot access the info in a generator. Is this co

[2022-10-03 07:43] memsharded commented on #12227
Thanks for the insights, this is interesting. It is not the first time the ``--start-group``, ``--end-group`` thing appears, we might try to give it some higher level modeling in Conan at some point.

Thanks very much for your understanding. We know it is difficult when things are deprecated and removed, and it requires an extra effort from users. We are positive it will be for the better for all

[2022-10-03 08:12] memsharded commented on #12228
Hi @planetmarshall

I was checking the unit tests and they seem to cover this functionality.
I also tried manually, and seems to be working fine, I added a random flag and got:
[code]

Apparently it is working fine, could you please re-check?

[2022-10-03 08:26] planetmarshall commented on #12228
If you *only* use the `extra_cflags` functionality, it works. If you also use the environment, it doesn't. For example:

[code]

Adds the flag - whereas:

[code]

Does not.

See https://github.com/conan-io/conan-center-index/pull/13263 for a full example

[2022-10-03 09:29] jcar87 commented on #12228
Hi @planetmarshall  - thank you for reporting this.

I believe this is caused by "capturing" the state of the environment (`env = tc.environment()`) before manipulating the extra flags, and then passing that variable to `tc.generate()` - which will in essence override with the values in `env` instead.

Does it work if you swap the order around?, e.g.:
[code]

[2022-10-03 09:33] uilianries commented on #7431
@0xfff0 https://docs.conan.io/en/latest/integrations/cross_platform/yocto.html

[2022-10-03 12:35] KarstenB opened #12231 "[feature] Provide logging command outputs for Azure Devops CI"
We are running Conan in our CI on Azure Devops and right now we are parsing the generated console output to identify Conan output, warnings and errors. This is done using a regex, which is very prone to mismatching as Conan does not give very strong identifiable console output.

Some of these messages we transform into [logging commands](https://learn.microsoft.com/en-us/azure/devops/pipelines/scr

[2022-10-03 15:52] szigetics opened #12232 "`AR` and `RANLIB` variables are not being picked up when `CMakeToolchain` is being used"
I built the `fmt` recipe ( https://github.com/conan-io/conan-center-index/tree/master/recipes/fmt ) for WebAssembly using emsdk 3.1.14 ( https://github.com/conan-io/conan-center-index/tree/master/recipes/emsdk ) .

When I try to use the built package, I receive build errors about missing symbols :
[code]

By modifying the `fmt` recipe to build in verbose mode ( `self.run("VERBOSE=1 cmake --build .

[2022-10-03 18:04] memsharded commented on #11658
Cache re-enabled in https://github.com/conan-io/conan/pull/12138, will be in beta.4

[2022-10-03 18:04] #11658 closed, assigned to nobody

[2022-10-03 21:49] memsharded commented on #12224
Hi @jsallay

Conan 2.0 has dropped by default the influence of dependencies options in the consumers ``package_id``, instead it will use:

- A ``full_mode``, including the dependency ``recipe_revision`` and ``package_id``, if the native binary is being "embedded" (like when a shared library is linking a static library
- A ``minor_mode``, not including the dependency ``package_id``, if the binary i

[2022-10-03 22:12] memsharded commented on #12231
Hi @KarstenB

As Conan 1.X is now in "migration mode", and the efforts are fully focused on 2.0, I think it is worth to reformulate this issue for 2.0. A few changes have been done:

- All messages that are not the "final result" are sent to stderr
- Added explicit verbosity in the loggers, together with a ``--logger`` that changes the output to json:
[code]
It could make sense to add some new arg

[2022-10-03 22:26] memsharded commented on #12203
Hi @Reg-Arvidson-Bose

But I think that this is expected behavior and coherent with the docs: ``If you try to use, consume or build such a package, it will raise an error, returning exit code but this seems to only be true for the conan create command.``

What you are doing is not any of those things. You are just building an application, not creating a package, not consuming a package.

This has

[2022-10-03 23:00] Reg-Arvidson-Bose commented on #12203
It doesn't seem like expected behavior when it says it'll "raise an error" yet I can continue. `but this configuration will fail to build a package` is not true as I can install and build just fine. I understand what you're saying though, got to protect existing users. If that's the case then I can close this and move on. Our work around is to use any other exception that isn't a Conan one and tha

[2022-10-03 23:12] mpusz opened #12234 "[bug] Too eager locking"
I spawn a few parallel tasks on a Gitpod server. Each runs `conan install` using a different profile which uses a different compiler. However, all the work is being stalled and synchronized by Conan with a message:

[code]

I think it is a big limitation not to be able to do `--build missing` parallel for the same package with different configurations that results in a different package ID. Only i

[2022-10-03 23:27] memsharded commented on #12203
That is a subtle difference that probably the docs doesn't clearly communicate: ``conan build .`` is not build a package, it is only building a local project, but not yet a package. You need to ``conan create`` or ``conan export-pkg`` to actually create a package. Only things in the cache are packages, what you run locally is just a local build. It seems that the docs are not very clear, probably

[2022-10-03 23:31] memsharded commented on #12234
This is not completely accurate. There are a bunch of tasks that are common to all different ``package_ids`` of the same package:
- All export operations
- All source operations
- All configure, requirements, etc methods, that might read from disk
- Part of the ``system_requirements`` operations

The locking should be blocking those concurrent tasks.
In any case locking in 1.X cache will no longer

[2022-10-04 06:28] KarstenB commented on #12231
The patterns I currently use are:
[code]

The warn and error are borderline ok, but plenty of other tools use `error:` in their output. What I did not handle is the case where you have a scope in a scope situation. The problem is that Conan is logging in a stream of other output. When you call `conan create` you might get output from MSBuild, CMake, Ninja, Gcc, Clang etc. (where we use other regex

[2022-10-04 08:53] planetmarshall commented on #12228
Yes this works, thanks.

[2022-10-04 09:33] a4z opened #12236 "[bug] Bazel generator add tools and build dependencies as bazel deps"
### Environment Details (include every applicable attribute)
  * Operating System+version: Any
  * Compiler+version: Not relevant
  * Conan version: 1.51.2 and 1.52.0 , but maybe all since the bazel generator exists
  * Python version: 3.10.6 , but not relevant

### Steps to reproduce (Include if Applicable)

Install / use a package like `mongo-c-driver` and use the bazel generator to get a bazel

[2022-10-04 09:35] jcar87 commented on #12232
Hi @szigetics  - thank you for reporting this issue.

From what I can see, while the `emsdk` recipe defines the `AR` variable in the build environment: https://github.com/conan-io/conan-center-index/blob/master/recipes/emsdk/all/conanfile.py#L164

My understanding is that CMake itself does *not* pay attention to the `AR` environment variable if it is defined, and I dont think it ever has: https://

[2022-10-04 10:01] jcar87 opened #12237 "[bug] self.cpp_info.builddirs default value causes CMAKE_PREFIX_PATH to be mutated during find_package"
The CMakeDeps generator generates CMake config files with this statement:

https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/cmakedeps/templates/target_configuration.py#L89-L91
[code]

Where `<pkg_name>_BUILD_DIRS_<build_type>` points to the root of the package by default, as these are the contents of `cpp_info.builddirs`.

In a scenario where we are:
* cross building
* have the sam

[2022-10-04 10:02] vajdaz commented on #12227
With your guide, I could implement a very easy custom generator (less than 100 LOC) that can now replace the `make` generator (in my project at least, because it is not a general/portable solution). It not only creates make variables for inlcude dirs, library dirs, etc., but also for `conf_info` user declared attributes. So, this implementation is now Conan 2.0 ready.

I have one remark on the top

[2022-10-04 12:03] Da-LiFe opened #12238 "[question][2.0] exports_sources with .gitignore support"
I'm currently starting to port conan 1.x recipes in our organization to conan 2.0 syntax using conan 1.52.0. One pattern we use in most of our projects is this syntax for exports_sources in order not to export files ignored by git:

`exports_sources = ["*", "!.gitignore"] + ["!%s" % x for x in tools.Git().excluded_files()]`

But apparently, support for excluded_files() is not provided in [conan.to

[2022-10-04 12:51] SpaceIm commented on #12232
Works fine for me: https://github.com/conan-io/conan-center-index/issues/13292#issuecomment-1266914791

[2022-10-04 13:04] SpaceIm opened #12239 "[feature] Allow users to enable verbose Makefile in CMakeToolchain"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Same feature request than https://github.com/conan-io/conan/issues/9772, but for `CMakeToolchain`.

The idea would be to inject `set(CMAKE_VERBOSE_MAKEFILE ON)` in CMakeToolchain if a specific conf is enabled.

Maybe a common conf could be shared to enable verbosity to all build syste

[2022-10-04 13:13] steffenroeber opened #12240 "[question] How to set package_manager:mode"
I'm trying to install xorg/system like:
conan install xorg/system@

There I get an error like
`xorg/system: ERROR: while executing system_requirements(): System requirements: 'libx11-dev, libx11-xcb-dev, libxaw7-dev, libxcomposite-dev, libxcursor-dev, libxdamage-dev, libxext-dev, libxfixes-dev, libxi-dev, libxinerama-dev, libxkbfile-dev, libxmu-dev, libxmuu-dev, libxpm-dev, libxrandr-dev, libxrend

[2022-10-04 13:18] czoido commented on #12240
Hi @steffenroeber,

I think the error is related to adding the `[tools]` section to the _global.conf_ file. That file does not need sections. Could you try to add just the plain configurations without `[tools]` to the file and check if that works? Hope this helps. I think we should probably document this better as it can be a source of confusion.

[2022-10-04 13:24] steffenroeber commented on #12240
The [tools] sections was auto added by conan config set command
If I remove it completely from conan.conf and have it only in globals.conf. then
conan config get tools.system.package_manager
shows
ERROR: 'tools' is not a section of conan.conf
and conan install shows same error as before. It looks like as if globals.conf is not uses by conan get or conan install command at all.

[2022-10-04 13:25] steffenroeber commented on #12240
globals.conf file looks like:
[code]

[2022-10-04 13:36] czoido commented on #12240
Hi @steffenroeber,

`conan config get/set` does not work with the _global.conf_ file, it must be edited or viewed with external tools. Thinking in 2.0 we don't provide commands that do just plain text editing or to get values from files, si it's normal that you get that error with `conan config get tools.system.package_manager`, for the conan install error, could it be that the `[tools] `section i

[2022-10-04 13:41] czoido commented on #12236
Hi @a4z,

Thanks for reporting, I'll mark as an issue and we will have a look for the next release.

[2022-10-04 13:46] steffenroeber commented on #12240
Yes, I only have this global.conf entries.
But
conan install xorg/system@
shows the error anyway.
I use 1.52.0

[2022-10-04 13:48] czoido commented on #12240
Hi @steffenroeber,

Could you please provide the output for `conan install xorg/system@ -r conancenter` and also the contents of your `~/.conan/global.conf` and `~/.conan/conan.conf` files?
Thanks!

[2022-10-04 14:11] steffenroeber commented on #12240
[code]
[code]

[code]

[2022-10-04 14:14] steffenroeber commented on #12240
[code]

[2022-10-04 14:20] czoido commented on #12240
Hi @steffenroeber,

Please, check the name of the file, it's `global.conf` not `globals.conf`

[2022-10-04 14:21] steffenroeber commented on #12240
Damn...Thank you. With this renaming it works.

[2022-10-04 15:52] uilianries commented on #12175
The feature will not be merged.

[2022-10-04 15:52] #12175 closed, assigned to nobody

[2022-10-04 16:08] irwineffect commented on #4882
Is there any chance this might also get fixed in conan 1.x?

[2022-10-04 16:15] vajdaz commented on #12227
I have two libs, libA and libB. libA requires libB. A package consumer has a `conanfile.py` that requires libA and libX How can I programmatically access the the list of the common include directories of libA and libB in a custom generator? A am not interested in the aggregated include dirs of all required packages (libA, libB, libX), but only in the direct and indirect requirements of libA.

[2022-10-04 16:16] jsallay commented on #12224
I think I understand.  I have a case with shared libraries.  Which I believe means that `minor_mode` will be used to include it.  So by default none of the options will matter for determining my package id.  Do the dependency settings factor into the package_id at all or is it really just the major and minor versions?

[2022-10-04 16:17] memsharded commented on #4882
Hi @irwineffect

No, this would be breaking behavior, it is not possible in 1.X scope, sorry.

[2022-10-04 16:20] memsharded commented on #12224
Yes, all scenarios that do not embed the binary artifacts in the consumer will be ``minor_mode`` by default, meaning it will not depend on ``package_id``, nor the ``options`` of the dependencies. If there are some options that you know will affect (maybe some preprocessor definitions that affect the public API headers), then that could be factored-in as shown in the test of the PR.

The dependency

[2022-10-04 16:25] jsallay commented on #12224
Great.  Thank you.   I'll go ahead and close this.  This was one of my last steps in porting our code to 2.0.  Once there is a fix for https://github.com/conan-io/conan/issues/12027 in, I believe that we will have our whole code base working in the 2.0 beta.  Thanks for your help.

[2022-10-04 16:25] #12224 closed, assigned to memsharded

[2022-10-04 16:28] memsharded commented on #12227
Yes, the ``conf_info`` of ``tool_requires`` is now automatically passed to consumers, and aggregated into its ``conf``. Not explicitly used by other generators, but implicitly, as other generators will read a conf that might have been defined by such ``tool_requires`` dependency.

It is true that we are trying to learn about use cases. We know that this ``conf`` as a mechanism to pass custom infor

[2022-10-04 16:30] memsharded commented on #12224
Fantastic, thanks for the feedback!

[2022-10-04 16:51] memsharded commented on #12238
It might be possible to implement the ``excluded_files`` in the new ``Git`` helper, but probably it is not even necessary?

The recommended way for anything that is relatively complex, like your expression, is to use the ``def export_sources(self)`` method instead of the attribute. There, it could be something as:

[code]

I am probably lacking some git-fu, but if there is a git command that allow

[2022-10-04 20:11] jsallay opened #12242 "[feature] conan 2.0 - Git::get_commit unexpected behavior"
I am using the documented replacement for `scm` mode.  My recipe includes:
[code]
My project structure has a top level "all" folder with the conanfile.py in it.  I also have a src folder with the code in it.  I change the code in the src and commit.  I then attempt to run `conan create all`.  This clones an old version of the repo - not the recently commited code.  Upon inspection, the `Git` objec

[2022-10-04 20:33] vajdaz commented on #12227
If I don't derive from `Generator`, I get an error `ERROR: Invalid generator` (generator class is in a separate package, used with `python_requires` in the consumer `conanfile.py`).

No, I mean soemthing like this:

[code]

When the packages are in the cache...
`libA`'s include dir is `~/.conan/.../libA/.../include`
`libB`'s include dir is `~/.conan/.../libB/.../include`
`libX`'s include dir is `~

[2022-10-04 21:32] memsharded commented on #12242
Hi @jsallay

I think you need to define the ``self.folders.root`` in the ``layout()`` method, if the ``conanfile.py`` is not in the root of the project, maybe this doc: https://docs.conan.io/en/latest/developing_packages/package_layout.html#example-conanfile-in-subfolder, and also this test could help: https://github.com/conan-io/conan/blob/54f1221bad7beb54f45521c36217448442cb5a7e/conans/test/func

[2022-10-04 21:41] memsharded commented on #12237
The origin of this feature was allowing users doing an ``include(somecmakefile)`` with ``somecmakefile`` inside the dependency ``builddirs``, after a ``find_package()``. This will still be possible with the paths defined in ``CMakeToolchain``? I'd say the above case would still happen?

[2022-10-04 21:58] vajdaz commented on #12227
Some additional info to the previous comment about the use case. I have a legacy imake/GNU Make base build system. The source tree contains several subprojects, which have their own build configuration. But all these sub-projects share the same consumer `conanfile.py`, which contains the requirements of all of the subprojects. A single subproject may only depend on one of them (e.g. subproject1 on

[2022-10-05 06:19] Ahajha commented on #12221
Out of curiosity, I tested this with conan 2.0-beta3 and the same behavior occurs.

[2022-10-05 06:27] czoido commented on #12240
Great! I'm glad it worked. Closing this as it seems solved.

[2022-10-05 06:27] #12240 closed, assigned to czoido

[2022-10-05 07:27] memsharded commented on #12227
Because custom generators are not intended to be called by name (``generators = "Something"``), but instead explicitly:
[code]

This is what allows also user customization from the consumer side, as you can do:
[code]

For knowing the dependencies of each dependency, the ``.dependencies`` exists for them, so something like this?:
[code]

[2022-10-05 07:46] SSE4 commented on #10955
I think it was closed prematurely, it's still unclear how to distinguish all these clang flavors in conan. #11492 has `Docs: omit`, so it's not explained anywhere...

[2022-10-05 07:52] Da-LiFe commented on #12238
The use case is: "Copy all tracked and untracked files of the current repo except the ignored ones". This should avoid copying e.g. large files that aren't used for packaging anyways. Git clone will neither copy changed nor untracked files, so this is not an option for our use case I think. Copy first and clean afterwards won't give any increase in speed. It's more like a filesystem copy with filt

[2022-10-05 07:56] szigetics opened #12244 "[question] Making tool_requires affect the consumers package-ID - possible to avoid patching recipes?"
WebAssembly (Emscripten, emsdk conan recipe) is quite sensitive even to non-major version changes.

My WebAssembly packages recently got broken by re-building them with a new emsdk version (I switched from 2.0.14 to 3.1.14).
I could fix my conan packages, by cleaning my conan server, and re-building every packages using the new emsdk version again.

I am almost sure that this was caused by the bui

[2022-10-05 07:56] Ignition opened #12245 "[bug] package_folder not set in when calling `conan build`"
### Environment Details
  * Linux Ubuntu 22.04.1
  * Clang 14.0.6
  * Conan 1.53.0:
  * Python 3.10.6:

### Steps to reproduce (Include if Applicable)
main.cpp
[code]

CMakeLists.txt
[code]
conanfile.py
[code]
doIt.sh
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-10-05 08:19] szigetics commented on #12232
I tested this, and I confirm that #2 is happening.

More details :
Here is how I tested it :
I modified the .conan/data/emsdk/3.1.14/jenkins-clt/stable/package/cf186363a0bf37e3a91ee26c25ea5d664ac71fa5/bin/upstream/emscripten/cmake/Modules/Platform/Emscripten.cmake file :
I wrapped the section with some log entries :
[code]
and I triggered a new build using the unmodified conan recipe of `fmt` :
[c

[2022-10-05 08:24] memsharded commented on #12244
Hi @szigetics

It has been made possible in 2.0.
In Conan 1.X is not possible, if you want to see a detailed explanation why, you can see https://youtu.be/kKGglzm5ous?t=1804

The only workaround in 1.X is https://docs.conan.io/en/latest/devtools/build_requires.html#making-tool-requires-affect-the-consumers-package-id

[2022-10-05 08:27] memsharded commented on #12245
Hi @Ignition

I would say this is expected. ``cmake.install()``, or anything using ``package_folder`` cannot be called in ``build()``, but they need to be called in the ``package()`` method instead. This is because in user space, the package folder is not defined, that only exists in the cache, when the built artifacts created in ``build()`` are being packaged by ``package()`` method.

[2022-10-05 08:28] memsharded commented on #10955
Changed https://github.com/conan-io/conan/pull/11492 docs to TBD, and I am also writing a blog post about it.

[2022-10-05 09:24] maitrey commented on #12206
Hi @memsharded , The component packages deliver objects .Could I use this self.cpp_info.objects for object libraries and for the consuming package , ${mypkg_OBJECTS_RELEASE} ?

[2022-10-05 09:43] memsharded commented on #12238
I am proposing in https://github.com/conan-io/conan/pull/12246 a different approach, in the user side:

[code]

On the Conan side, implementation is straightforward too, which is also very important for maintenance:
[code]

Compare this with the legacy one https://github.com/conan-io/conan/blob/b70db136a790532a9a80c37068da2c349ef4a0cf/conans/client/tools/scm.py#L232, which didn't include the copy

[2022-10-05 09:58] czoido opened #12247 "Change Conan 2.0 conan inspect syntax"
Related with: https://github.com/conan-io/conan/pull/12235#discussion_r987589228

`conan inspect` has a subcommand path that I think we should reconsider. The motivation for adding this is having path subcommand as an approach to leave the possibility open for the future to inspect references in the cache and in remotes. You have to call:

[code]

instead of

[code]

Maybe we should consider using

[2022-10-05 10:53] Da-LiFe commented on #12238
Awesome, I really like the `included_files(self)` idea!

Some of your devs are restricting the export to subfolders, e.g. `src/*` instead of `*` which is easily possible with the `["*", "!.gitignore"]` pattern above. What do you think about having an optional parameter "subdir" which is added to the git cmd with `-C`, like `self.run(f"ls-files -C {subdir} --full-name --others --cached --exclude-st

[2022-10-05 11:11] Ignition commented on #12245
@memsharded so are the `-i, --install` and `-pf PACKAGE_FOLDER, --package-folder PACKAGE_FOLDER` options of `conan build` going to be deprecated?

[2022-10-05 11:26] memsharded commented on #12238
I think maybe the subfolder case is covered by the already existing constructor argument. This works:
[code]

Added a test to the PR https://github.com/conan-io/conan/pull/12246/commits/57bf2c3a145560dd099eb5ffb57161847ccf39b8

[2022-10-05 11:36] memsharded commented on #12245
Yes, the only argument that remains in Conan 2.0 is ``-of OUTPUT_FOLDER, --output-folder OUTPUT_FOLDER``.

Note that also, in general, the need for ``conan build`` should be less, as the flow ``conan install`` + ``cmake ....`` using directly cmake would be the recommended way for developers in many cases. Once you call ``cmake`` yourself, you have full control on that.

[2022-10-05 11:38] Da-LiFe commented on #12238
Perfekt, I think this is a very nice solution to our use case, thanks! One last question: Is there any argument against the `@property` pattern:

[code]

As you have expressed in the comment above, it might not be obvious were to copy those files with `shutil.copy2`.

[2022-10-05 11:56] Da-LiFe commented on #10816
I noticed that fact while porting recipes to conan 2.0 just recently. What is the rational behind removing this feature and what would be the migration path?

[2022-10-05 12:06] Ignition commented on #12245
What will be the placement of `conanbuildinfo.txt` `conaninfo.txt` `conan.lock` `graph_info.json` in Conan 2.0 world? ATM its controlled via `-if`

Also I noticed preset message should take into account location of source folder
ie.

could be

[2022-10-05 12:09] Ignition commented on #12245
Also noticed CMakeUserPresets.json is version 4 (because it uses include to locate CMakePresets.json in the generator folder) hence can't be used unless CMake >= 3.23

[2022-10-05 12:26] memsharded commented on #12245
All of those files have been removed in Conan 2.0

There is a new conf ``tools.cmake.cmaketoolchain.presets:max_schema_version`` that can be set do control this and use it with older CMake versions.

[2022-10-05 12:29] jsallay commented on #12242
I see.  Thanks.  Though I do think that using the repo root is the behavior that a typical user would want.  It would be nice if it were the default for the Git object.  I.e.

[code]

If not this then I think it would be useful to define `get_repo_root` outside the class or as a `classmethod`.  That way I could write my code as:

[code]

[2022-10-05 12:33] #12244 closed, assigned to memsharded

[2022-10-05 12:40] memsharded commented on #12238
Yes, we think it makes things a bit confusing, because the idea is:
- Use the attribute ``exports_sources`` for very simple and straigtforward cases
- Use the method ``export_sources()`` for anything not that simple, making things explicit

So when a method is used, the behavior should be more explicit and self-contained. Such a property could seem explicit, but it still relies internally on all t

[2022-10-05 12:58] hwhsu1231 opened #12248 "[question] Usage of `conan_toolchain.cmake` and `CMakePresets.json` generated by CMakeToolchain."
There are some conclusions that I want to confirm about CMakeToolchain generator:

1.  It is **NOT** necessary that we have to use the `CMakePreset.json` genereated by CMakeToolchain.
2.  All we need to do is to include `conan_toolchain.cmake` **BEFORE** the invocation of the first `project()` command in the root `CMakeLists.txt` file.
3.  Using the generated `CMakePresets.json` file is just a **M

[2022-10-05 13:18] Da-LiFe commented on #12238
I made a local test with shutil and I just would like to point out that the example from above is not going to work as it is. So don't put it into the docs :)

[code]

Having a repo with the two files `CMakeLists.txt` and `src/source.cpp`, the code above will generate an exported_sources such as `CMakeLists.txt` and `source.cpp` on the same level. Some of the exports_sources attribute magic is sti

[2022-10-05 14:15] memsharded commented on #12238
Good catch!

I have extended the test to cover this subfolder. Now the method is a bit more elaborate:
[code]
I find it a bit annoying that ``shutil.copy`` operations cannot create a subfolder, that seems a limitation of the python API to me, but it is what it is.
Still I think it is still explicit and simple enough, and I find it nice that the ``git`` part and the copy part are decoupled.

[2022-10-05 14:22] memsharded commented on #12200
Fixed by https://github.com/conan-io/conan/pull/12235, will be in next beta.4

[2022-10-05 14:22] #12200 closed, assigned to nobody

[2022-10-05 14:25] memsharded commented on #12200
@lindblandro

I agree, those explanations can be removed. We have fixed it in https://github.com/conan-io/conan/pull/12235, removing those things too, but if there are still some pending or a new one appears, please submit a new issue, or create a PR to remove it. Thanks!

[2022-10-05 14:32] memsharded commented on #12248
Hi @hwhsu1231

Yes, that is correct, that is the intention of the feature.
There is one edge case, and it is the variables that cannot go to the ``conan_toolchain.cmake``, because they are ignore from there, at this moment they are:
- CMAKE_SH: Used for MinGW with bash in the path
- CMAKE_MAKE_PROGRAM
- CMAKE_POLICY_DEFAULT_CMP0091
- BUILD_TESTING

Note that at the developer level these might not

[2022-10-05 14:36] memsharded commented on #12242
We are not sure about this. For repos containing multiple projects, which is a very common thing, the important one is the current subfolder, and not the repo root. The most common use case by far is having the ``conanfile.py`` in the root, and only some users will put it in a subfolder. But many users have repos with multiple conan packages inside, so it seems the current default is the good one,

[2022-10-05 14:46] jsallay commented on #12242
You convinced me.  I'll go ahead and close this issue.

[2022-10-05 14:46] #12242 closed, assigned to nobody

[2022-10-05 15:07] hwhsu1231 commented on #12248
@memsharded Got it. Thanks!

[2022-10-05 15:07] #12248 closed, assigned to memsharded

[2022-10-05 16:37] 0xfff0 commented on #7431
Hi @uilianries, thanks. This doesn't seem to include on how to package the Yocto SDK as a conan package? We have our own Yocto build that produces the OS image and SDK, we are looking to publish this SDK to our (private) Conan server, and have other packages build with it.

[2022-10-05 17:10] vajdaz commented on #12227
Thanks! Now my generator works as I wanted it, and it is Conan 2.0 ready, too.

I discovered, that you also can transport custom  info from the package maintainer to the installer by using the `set_property()` and `get_propery()` of `cpp_info`.

What is the difference between adding a custom property to `cpp_info` with `set_property()` and defining a `config_info` with `define()`? When should I us

[2022-10-05 18:09] memsharded commented on #12227
Excellent! Happy to hear that.

``cpp_info`` properties are intended to complement all the ``cpp_info`` C++ including and linking information (similar to ``includedirs``, ``libs``, ``libdirs``, ``defines``, ``cxxflags``), with specifics for build systems and related stuff, but core information how to consume the C/C++ artifacts in the package

The ``conf`` system is generally used for controlling

[2022-10-05 19:39] mikeb-ah commented on #12248
What is the intended handling of CMP0091? I have a build where CMake is failing because it is not set and I've been asked to remove all policy settings from the command line, but if that is required to be handed in directly to CMake, I'll have to mention that.

[2022-10-05 20:04] rconde01 opened #12250 "[bug] Lock file has duplicate entries"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: n/a
  * Conan version: 1.53
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)

1. Extract the attached zip to a directory
2. cd to that directory
3. Enable conan revisions (it seems like an issue anyway, but this is how i'm running)
4. run `conan lock

[2022-10-05 20:10] memsharded commented on #12248
CMP0091 is set to make sure ``CMAKE_MSVC_RUNTIME_LIBRARY`` is followed to define the VS runtime. It might not be completely necessary in all cases, depends on the CMake version and cmake_minimum_required, but helps in the general case

[2022-10-05 21:34] memsharded commented on #11881
Hi @ibis-hdl

I have checked this, and CONAN_V2_MODE is no longer being maintained in 1.X.
The smart detection that CONAN_V2_MODE introduces in 1.X has been completely removed in 2.0, so it doesn't make much sense to try to change it in 1.X if it is going to be removed.

The default in 2.0 is being improved in this PR https://github.com/conan-io/conan/pull/12251 (still not to rely on it, but use y

[2022-10-05 21:45] szigetics commented on #12232
FYI :
https://github.com/emscripten-core/emscripten/issues/17992#issuecomment-1268656848
=>
https://github.com/emscripten-core/emscripten/pull/17997

So in newer `emsdk` versions this will probably be fixed.
( Of course previous `emsdk` versions will still have to be fixed using the same solution. )

[2022-10-05 22:06] memsharded commented on #12250
This is expected.
In Conan 1.X the lockfile is a snapshot of the full dependency graph, every node in the graph.
``build_requires`` are private per consumer, each package using it will have its own instance of the ``build_require``, and that means a different node in the graph, and consequently a different entry in the lockfile.

Conan 2.0 lockfiles have greatly simplified lockfiles, I suggest giv

[2022-10-05 22:16] rconde01 commented on #12250
Ok…guess I hadn’t noticed it before. I’m eager to transition to conan 2.0 when it’s released…but I can’t use v2 lock files until then right?

[2022-10-05 22:31] memsharded commented on #12250
No, you cant, they are very different to those in 1.X, not possible to backport at all.

In any case, the 1.X lockfiles with those duplicated entries shouldnt be an issue in general for 1.X per se.

[2022-10-05 23:50] dev-joss opened #12252 "[question] Is the python API stable?"
I am wondering if the python API is stable and usable in production. I would like to write some automation and avoid having to interface with the conan command line tool. Using the Conan API class would be much better.

However I can't see any references to it in the documentation so I am unsure whether it is a public / stable API suitable for use.

- [x] I've read the [CONTRIBUTING guide](https:/

[2022-10-06 06:06] czoido commented on #12252
Hi @eclazi,

The Conan Python API is not stable or documented for 1.X, so we recommend not to use it, but it will be for Conan 2.0. You can check the reference for the Conan 2.0 API here: https://docs.conan.io/en/2.0/reference/python_api.html it's not fully documented yet, but we are working on it.

One of the most powerful Conan 2.0 features is the possibility to write your own custom commands us

[2022-10-06 06:56] jbcbt commented on #11541
FYI,

I faced the same issue.
I was also new to conan package manager and was using opencv to investigate its capabilities.
I had attempted to install binaries (ubuntu 20.04)
	`conan install . --install-folder build/`

which resulted in dependency failures (apologies I don't have the error messages), so I
	`sudo apt-get install`

the relevant dependencies and then repeated the conan install proces

[2022-10-06 07:46] AndreyMlashkin commented on #10955
Looking forward for conan 1.54!

[2022-10-06 07:48] memsharded commented on #10955
This has been released already in 1.53! it is missing docs, but we are writing a blog post and will translate to docs later too.

[2022-10-06 08:16] memsharded commented on #11731
I am drafting https://github.com/conan-io/conan/pull/12253 to discuss it, to be introduced in 1.54, as it would be necessary for the migration if we are removing ``build_policy = "always"``

[2022-10-06 08:20] #12146 closed, assigned to nobody

[2022-10-06 08:29] uilianries commented on #7431
@0xfff0 I see, so your case it's new. Indeed we have injected Conan packages to Yocto build, but packaging an entire SDK we didn't try, maybe another user tried ... So far, we have some some SDK packages on CCI, which you could take a look to have some hint: https://github.com/conan-io/conan-center-index/search?l=Python&q=sdk

[2022-10-06 10:06] memsharded commented on #11881
Closed by https://github.com/conan-io/conan/pull/12251

[2022-10-06 10:06] #11881 closed, assigned to jcar87

[2022-10-06 10:37] #12250 closed, assigned to nobody

[2022-10-06 10:47] himansu2906 opened #12254 "Installing Conan packages (to be build from sources and pre-built) from conanfile.txt"
We have package dependencies(internal libraries and pre-build external libraries) in the project.

How can we mention both kind of libraries in one conanfile.txt so that pre-built externals (where we don't have sources) are only getting installed and internal can be build from the sources if needed?

means how can we differentiate to build from sources or simply download in conanfile.txt(which is

[2022-10-06 11:38] H-G-Hristov opened #12255 "[bug] Is gcc 12.1, 12.2 missing?"
![Screenshot 2022-10-06 at 14 36 49](https://user-images.githubusercontent.com/47526411/194302916-caacc3a2-156c-4739-a31c-715a2ec101ef.png)

While creating a custom `settings.yml` file I noticed that the support for current gcc versions 12.1, 12.2 might be missing.

[2022-10-06 11:40] Da-LiFe commented on #12238
what about using copy instead?

[code]

That's already proposed in the [migration guide](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-export-sources-method) and seems to be working with subfolders (keep_path).

[2022-10-06 11:50] memsharded commented on #12254
Hi @himansu2906

Packages created from pre-compiled binaries with ``conan export-pkg`` can specify ``build_policy = "never"``, so a ``--build=missing`` will not affect them.

[2022-10-06 11:52] memsharded commented on #12238
Yes, both approaches are equally valid IMO. In the above I wanted to remove the "magic" of the ``copy()``, so even if it requires a couple of extra lines, it would be good, and it should work too. And it can be much much faster, which is something that for big projects might make a difference. We can document both approaches, as the ``git.included_files()`` is now decoupled.

[2022-10-06 12:14] deivse opened #12256 "[bug] 2nd level subdirectory of dir specified in [imports] in conanfile.txt is not copied to target dir."
I'm using a simple `conanfile.txt` for installing dependencies, etc. I also copy the includes libs and licenses into my project folder, this is my `[imports]` section in the conan file:
[code]

One of the packages I depend on is `spdlog`. All the files from it's include folder are copied correctly, except one subfolder.
In the spdlog package's source subfolder there is this folder: `src_subfolder/

[2022-10-06 12:57] jwillikers commented on #7431
@0xfff0 I think the real trouble is actually the hard-coded, absolute paths that end up in the Yocto SDK. This makes it tricky to make the SDK available in the Conan cache, since the hard-coded paths would be different on where the package was built from where it is installed when developers install the Conan package.

[2022-10-06 13:08] himansu2906 commented on #12254
@memsharded : thank you very much for the quick answer.

I have one more question that can we create conan package setting independent(os, arch , compiler) for prebuilt libraries?

[2022-10-06 13:13] memsharded commented on #12254
Yes, absolutely. ``conan export-pkg`` works with profiles, settings options, and the recipe itself should declare ``settings = "os", "arch", ....`` as necessary. The ``package()`` method can use conditional over ``if self.settings.os == ....`` to decide to package some prebuilt libraries or others (typically you will have them in different folders). Conan will store as many independent package bin

[2022-10-06 13:52] memsharded commented on #12256
Hi @deivse

The ``[imports]`` feature has been already removed in Conan 2.0, and there is already another approach available in Conan 1.X that can be used to implement something equivalent. It would be like:

- Convert the ``conanfile.txt`` to ``conanfile.py``
- Add a ``generate()`` method to it.
- In the ``generate()`` method iterate your dependencies with ``for d in self.dependencies.values()``,

[2022-10-06 14:02] Adnn opened #12257 "[question] Is self.conf_info available at generate()?"
Hi,

  The question fits in the title: Is self.conf_info available at generate()?

We need it to use our custom provided configuration entries, but it seems `self.conf_info` is an empty `OrderedDict` at this point.

[2022-10-06 14:12] memsharded commented on #12255
Yes, it is.
Not a big deal, because Conan by default uses the major ``12`` version, it is only necessary for users who want to explicitly manage binary compatibility at the minor version level, and those users in the majority of cases manage their own ``settings.yml`` file.

If you want to submit a PR to add those, it will be welcome.

[2022-10-06 14:15] memsharded commented on #12257
``self.conf_info`` is information for consumers, and it is only to be defined in ``package_info()``, but never for reading it.

Consumers receive in its own ``self.conf`` the ``conf_info`` of its direct ``tool_requires`` dependencies only, but not from the rest.
Another mechanism to pass information to consumers, if it is information about the C++ artifacts, is the ``self.cpp_info.set_property()``

[2022-10-06 14:16] danimtb commented on #12210
I have created a PR to the docs clarifying this case. As there still some uncertainties around how to manage cppstd, using `self.settings` in `validate()` is still the recommended way to do it. See https://github.com/conan-io/docs/pull/2778

[2022-10-06 14:19] Adnn commented on #12257
Thank you @memsharded , I think I am getting confused.

What we are trying to achieve is to read values from `conan.conf` file `[conf]` section. We wanted to use the conf entries to pass configurations that should not change the package id (such as "Warning as error" compilation flag).

[2022-10-06 14:27] memsharded commented on #12257
Yes, then you just want to read ``self.conf`` in your ``generate()``
The other case is more exceptional, because some ``tool_requires`` sometimes might want to define some conf to its consumer, but that is not the main case.

[2022-10-06 14:29] Adnn commented on #12257
Ha, thank you again! Most of the examples in the documentation were using `self.conf_info`, we misunderstood the intention.

Is there a global file, handle by `conan config install`, where we can set our `[conf]` entries? We tried with `conan.conf`, but it does not seem to work.

[2022-10-06 14:33] memsharded commented on #12257
``global.conf`` can be used for that.

[2022-10-06 14:35] Adnn commented on #12257
Is this file handled by `conan config install`? ([the documentation](https://docs.conan.io/en/latest/reference/commands/consumer/config.html#conan-config-install) does not seems to mention it)

[2022-10-06 14:40] memsharded commented on #12257
Yes, everything in the folder used by ``conan config install`` should be installed in the cache and later used.

[2022-10-06 17:12] hwhsu1231 commented on #12255
@memsharded

I met an error when using MinGW because the version of its compiler is `12.2.0`.

![image](https://user-images.githubusercontent.com/71438617/194376324-7032527a-ce11-4e19-843f-1a1d32884ed4.png)

[2022-10-06 17:30] memsharded commented on #12255
@hwhsu1231 as suggested above, you can fix it by adding it to your ``settings.yml``. Recall that you can manage your custom ``settings.yml`` (and profiles, remotes, conf, etc), with ``conan config install``

Also, this check is only done by the legacy ``cmake`` generator. The new recommended ``CMakeDeps`` and ``CMakeToolchain``, which are the necessary ones to be 2.0-ready, no longer do this check

[2022-10-06 17:37] hwhsu1231 commented on #12255
@memsharded What do you mean **"this check"**? I only use `CMakeDeps` and `CMakeToolchain` in my conan recipe, not including `cmake` generator.

[2022-10-06 17:42] memsharded commented on #12255
Oh, sorry, I was confused by the output, you are right.

Nevermind, as it seems you are using your own profile to explicitly opt-in to use the minor ``12.2`` instead of Conan default to use just ``12``, if you are managing your profiles with ``conan config install``, it will already be easier to drop there the ``settings.yml`` with the addition too.

[2022-10-06 17:48] stefansli opened #12258 "[feature] Additional arguments for hooks that deal with packages and recipes"
I'm implementing a conan hook that deals with handling debug symbols for conan packages. For the implementation I'm often forced to dig deep into conan internals to get the information I need. The hook does some bookkeeping so it can upload debug symbols to a symbol server during the ´pre_upload_package´ hook. To do this properly I need access to the recipe revision and the package revision.
From

[2022-10-06 18:06] hwhsu1231 opened #12259 "[question] What made Conan decide to deprecate "cmake-conan" in Conan 2.X?"
Recently, I found that Conan decided to deprecate "cmake-conan" in Conan 2.X. For example, in this [article](https://blog.conan.io/2022/09/28/upgrading-recipes-to-1.51.html) of the blog:

Therefore, I want to confirm that:

The **MAIN REASON** is all about the **"Chicken-and-Egg"** problem which @memsharded mentioned in this issue that I posted before: https://github.com/conan-io/cmake-conan/issue

[2022-10-06 18:44] 0xfff0 commented on #7431
@uilianries @jwillikers thanks again for the input. I've tinkered with the Yocto SDK a bit before and figured the easiest way to make it "portable" in our environment is just to delay the installation on the consumer side - it's less than ideal because with that every package requires this toolchain has to install its own copy but it got us what we wanted.

Here's what I have in mind to do this in

[2022-10-06 23:14] memsharded commented on #12258
In Conan 2.0 the hooks receive ``conanfile`` which can be used as ``conanfile.ref`` and ``conanfile.pref`` to get the full references, with revisions. But only the hooks that correspond to recipe methods like ``pre_build()`` and ``post_build()`` are maintained as hooks.

If we want to provide some extensions points in 2.0 to allow this, we would need to understand better what is the upload flow, w

[2022-10-06 23:28] paulocoutinhox opened #12260 "[bug] Conan v2 think that macOS SDK is an iOS SDK"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos latest
  * Compiler+version: clang 14
  * Conan version: 1.53
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

The problem is here:
https://github.com/nativium/nativium/blob/fix-conan-1-53/c

[2022-10-07 05:25] hwhsu1231 commented on #12259
According to my observation, there are some other problems that cause cmake-conan **INCOMPATIBLE** with **Conan 2.X**. For example, `conan_cmake_autodetect()` **CANNOT** parse the correct arguments which will be passed to `conan_cmake_install()`.

- https://github.com/conan-io/cmake-conan/issues/421

However, the **BIGGEST** problem for now is the **"Chicken-And-Egg (CAG)"** problem, isn't it? If

[2022-10-07 07:09] RobertBerger commented on #7431
@0xfff0 You might want to look at the extensible SDK instead of the "classic" one, since this in update-able e.g. from a central server and might reduce your installation time. Also you could somehow hack your `yocto_sdk_installer.sh` script to figure our whether an SDK is already installed somewhere and use this instead of installing a new one each time.

... but if you build with an SDK instead

[2022-10-07 07:32] volviq commented on #10688
so the doc won't be fixed?

[2022-10-07 08:18] memsharded commented on #10688
But isn't the docs correct? It clearly says ``Values from options can be retrieved after they are assigned``. The ``export`` process does not take any argument, not options, not settings. The options are not assigned, so they cannot be checked. No examples there use it in ``export()`` method. What would be your recommended fix?

[2022-10-07 08:25] memsharded commented on #12259
The main problem is:
- Users heavily pushed for having a "transparent" CMake integration that doesn't require to modify CMakeLists.txt at all
- That means using ``find_package()`` for dependencies and a toolchain.cmake file for configuration
- If Conan is generating the conan_toolchain.cmake file when it is called, and the toolchain file needs to be passed to CMake at invocation time only, can't b

[2022-10-07 08:48] deivse commented on #12256
Hey, @memsharded, thanks for the reply. I guess I will switch to using a `conanfile.py` instead, definitely agree on the "less magic" part. The behaviour of the `[imports]` feature still seems strange to me in this particular case, but if it's on it's way to deprecation, I very much understand how that wouldn't be a priority :)

[2022-10-07 08:51] hwhsu1231 commented on #12259
@memsharded Thanks for your reply!

And let me check whether I fully understand what you listed:

- For the **1st** one, it means that the usage should be as **SIMPLE** as possible and had better become **NON-INTRUSIVE** integration with CMake.
- For the **2nd** and **4th** one, it means that the usage should be worked when we specify `CMakeDeps` and `CMakeToolchain` generators in our recipe **SIM

[2022-10-07 08:58] stefansli commented on #12258
Thanks for the response.

So the current implementation does something like this:
* in `post_package` use `dumpbin` from visual studio to locate PDBs for every `*.dll` and store the filepath for later. To be "correct" the PDBs should be associated with a specific `ref` and (ideally) `pref`.
* In `pre_upload_package` all PDBs associated with the package are copied to the symbolserver associated wit

[2022-10-07 09:09] H-G-Hristov opened #12261 "[bug] macOS SDK 12.3 Conan: Automatic detection of conan settings from cmake - include issue"
I can't figure out if this is a Conan or CMake or Libcxx issue. What do you think?

I reported a libcxx issue but now I am not so sure: https://github.com/llvm/llvm-project/issues/58224

[cmake] -- Bulding as exportable library is ON
[cmake] -- Architecture is "arm64;x86_64"
[cmake] -- Found ccache. It will be used for building (conan packages won't be affected)
[cmake] -- Conan: Automatic detecti

[2022-10-07 09:12] memsharded commented on #12238
Closed by https://github.com/conan-io/conan/pull/12246, will be in beta.4

[2022-10-07 09:12] #12238 closed, assigned to memsharded

[2022-10-07 09:13] memsharded commented on #12261
Hi @H-G-Hristov

We would need way more information to check this:
- The full conan recipe, CMakeLists.txt, source files, etc to reproduce
- The exact commands, profile used
- The full output
Thanks!

[2022-10-07 09:15] memsharded commented on #12256
Yes, definitely, we realized this when we had to look constantly ourselves to the docs and implementation to be able to write a ``[imports]`` section correctly in the ``conanfile.txt``. It is just too obscure and custom, and as it can already be replaced in 1.X by a more explicit solution, we prefer to focus our resources in other priorities, yes :)

[2022-10-07 09:27] memsharded commented on #12258
Thanks very much for the detailed explanation of the use case, this is really helpful to understand it.

There is a user story that is being raised more often lately and it is the story of metadata. Lets say that the Conan packages had a way to abstract the creation and storage of metadata with the packages, in a way that they don't become integral part of the package (do not affect the package_id

[2022-10-07 09:35] GrishaKirilin opened #12262 "[bug] Conan cannot find CMakeLists.txt in dependencies"
I cannot install any version of OpenCV-4.x because Conan cannot rebuild `brotli` package. It seems that conan cannot install packages that contain `source_subfolder/CMakeLists.txt`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04.1
  * Compiler+version: gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0
  * Conan version: 1.53.0
  * Python version: 3.10.6

[2022-10-07 10:01] stefansli commented on #12258
If there was a way to attach custom metadata and files to a pref, this would help a lot. If it was possible to let conan handle the upload this would be even better ;)
Then all I would need to do on my side would be to attach the metadata with a hook and write a script to "promote" the PDBs from conan metadata to the symbol server.

I'm not sure if I understand correctly, but the automation would

[2022-10-07 10:37] memsharded commented on #12069
Lets raise an error if the ``revision_mode="scm"`` and the export is dirty

[2022-10-07 10:38] #12068 closed, assigned to nobody

[2022-10-07 10:39] memsharded commented on #12068
Lets rely on the generators, if anything we want to restrict gradually in 2.X the components names, for simplicity.

[2022-10-07 10:54] memsharded commented on #12258
Yes, it is a script or something that runs directly in the CI, not really a Conan command because it is "take this file from Artifactory and put it in a symbol server" which is an unrelated operation to Conan really. Yes, using specific server APIs, file-based most likely, I think you are right, it might be necessary to download and then upload to the symbol server, but still will be more structur

[2022-10-07 10:55] memsharded commented on #12262
It seems an error in the brotli recipe, not a Conan issue. Maybe @uilianries can have a look and tell if we should transfer to conan-center-index repo?

[2022-10-07 11:03] GrishaKirilin commented on #12262
No, I don't think so. If I manually remove the package folder
[code]
and install only `brotli/1.0.9` it is fine. The same story happens with many dependencies of OpenCV/4.5.5. I checked (I have to manually install them) brotli/1.0.9, bzip2/1.0.8, libwebp/1.2.2, ogg/1.3.5, openjpeg/2.4.0, opus/1.3.1, zstd/1.5.2, openexr/2.5.7, vorbis/1.3.7. And it is not the end yet.

[2022-10-07 11:05] memsharded commented on #12262
Maybe the ``opencv`` recipe is changing some behavior in the ``brotli`` recipe? Anyway, something that needs to be investigated first against ConanCenter recipes, not as a bug in Conan (at least as a first hypothesis)

[2022-10-07 11:15] jpfeuffer opened #12264 "[bug] libGL System dependencies"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: Gcc 9.4
  * Conan version: 1.53
  * Python version: 3.8.10

<details>
  <summary>Conanfile:</summary>

[code]
</details>

### Steps to reproduce (Include if Applicable)
`conan install .. --build missing -c tools.system.package_manager:mode=install`

### Logs (Executed comma

[2022-10-07 11:20] jpfeuffer commented on #12264
Ok apparently I need pkg-config. But why is it not a system dependency then?

[2022-10-07 11:32] jpfeuffer commented on #12264
... now I get

[code]

[2022-10-07 11:35] stefansli commented on #12258
Sounds like a good idea. How do we move forward?

It looks like I have to rely on my own storage of metadata for the moment. And it seems to be safe to rely on `ClientCache.package_layout(ref)` to get `pref` and other information as input for my hook.

The metadata for packages even contain the remote the package was downloaded from, so maybe I don't need to store any information on my own.

[2022-10-07 11:38] Da-LiFe commented on #12238
Great, thanks! Is there any chance to get this feature also in `conan.tools.scm.git` for conan 1.x? That would allow us an easier transition.

[2022-10-07 11:43] jpfeuffer commented on #12264
Which is due to:
https://stackoverflow.com/questions/50785575/configuring-qtbase-fails-with-an-error-could-not-find-qmake-spec

[2022-10-07 12:05] memsharded commented on #12238
Oh, yes, sorry, this should have been done directly for 1.X to allow the migration, I will backport it to 1.54

[2022-10-07 12:05] memsharded opened #12265 "git.included_files for 1.X"
Oh, yes, sorry, this should have been done directly for 1.X to allow the migration, I will backport it to 1.54

_Originally posted by @memsharded in https://github.com/conan-io/conan/issues/12238#issuecomment-1271505034_

[2022-10-07 12:37] jwillikers commented on #11962
I'm trying to support cross-compilation of the `glib` Conan package and ran into problems with the test package, which uses `pkg_check_modules` to link against `glib`. The test package consistently finds the system's PkgConfig files in this scenario instead of those provided by Conan. If I just use the CMake targets from the CMake config modules, cross-compilation works. I think this may be relate

[2022-10-07 12:49] jpfeuffer opened #12266 "[bug] Major deviations from standard CMake Find Behaviour"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc9
  * Conan version: 1.53
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
- Build Qt5 with conan
- Use e.g. `IF (NOT Qt5Core_FOUND) message(FATAL_ERROR "not found")`  in your CMake code
- Fail

### Logs (Executed commands with output) (Include/Att

[2022-10-07 13:15] memsharded commented on #12259
Not fully clear yet, so the ``conan-setup.cmake`` file will be the one calling ``conan install``? That will result in a ``conan_toolchain.file``. How is this toolchain file passed to cmake, via CMAKE_TOOLCHAIN_FILE variable?

Does this work for CMAKE_PROJECT_INCLUDE_BEFORE? My understanding is that this inclusion happens after the processing of the toolchain file happens, which might be a limitati

[2022-10-07 13:20] db4 commented on #8287
@memsharded  [The Recommended Nginx Reverse Proxy Configuration for Artifactory 7](https://jfrog.com/knowledge-base/what-is-the-recommended-nginx-reverse-proxy-configuration-for-artifactory-7-x-and-above/) seems to works for me without issues. I wish I looked into the Jfrog knowledge base before asking questions here...

[2022-10-07 13:33] hwhsu1231 commented on #12259
I will explain the detailed mechanism when proposing the whole project. (please wait for a while)

For now, I just want to know does the usage method of my idea **SIMPLE** enough?

[2022-10-07 14:32] memsharded commented on #11763
With this test https://github.com/conan-io/conan/pull/11841 we are capturing the behavior and the flow that allows to capture the ``test_package`` extra requirements in a lockfile, and also how a ``--lockfile-partial`` can be used to relax the need for it. We have considered a couple of UX improvements, but nothing clear so far, so recommending this flow atm, and we will keep learning from further

[2022-10-07 14:32] #11763 closed, assigned to czoido

[2022-10-07 14:33] memsharded commented on #12247
Closed by https://github.com/conan-io/conan/pull/12263

[2022-10-07 14:33] #12247 closed, assigned to czoido

[2022-10-07 14:37] memsharded commented on #12069
Closed by https://github.com/conan-io/conan/pull/12267

[2022-10-07 14:37] #12069 closed, assigned to czoido

[2022-10-07 14:40] memsharded commented on #8287
As the above issue has been solved in 2.0 (messages are directed to stderr by default), and the recent issue seems to be solved with Artifactory recommended configuration, I think this issue can be closed, thanks!

[2022-10-07 14:40] #8287 closed, assigned to nobody

[2022-10-07 14:46] insi-eb opened #12268 "[feature] allow configuring user-toolchain for CMakeToolchain from profiles, not just from global.conf"
Currently, setting a user-toolchain for the new CMakeToolchain class is only possible from the global.conf, not from the profiles, which kind of defeats the cross-compiling use-case. For a reasonable cross-compiling use-case, I'd expect to be able to set user-toolchains also via the profiles, so the host profile selects automatically a known good platform configuration in the form of an existing t

[2022-10-07 14:50] memsharded commented on #12268
Not sure what you mean. Both
[code]
Can also be set in profiles.

[2022-10-07 14:58] insi-eb commented on #12268
ah - I've edited the wrong profile file when trying this out 🤦

the CMakeToolchain documentation indicates though, that this only really works in global.conf [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#using-a-custom-toolchain-file):

[2022-10-07 14:58] #12268 closed, assigned to memsharded

[2022-10-07 15:00] memsharded commented on #12268
Yes, the idea is that by default it would be defined in profiles, but in some cases it is also possible to be defined in global.conf too.

In any case, the Conan 2.0 docs are being written from scratch, I think it will be way more clear. Thanks!

[2022-10-07 15:34] uilianries commented on #12262
@GrishaKirilin It seems be a package bug, but we don't use ranged version on ConanCenterIndex. Which version exactly of OpenCV are you using, 4.5.5?

I think this issue could be transferred to CCI too.

[2022-10-07 15:58] dillydill123 opened #12270 "[question] What causes a new Recipe Revision to be created?"
I have a recipe in which I'm building for multiple profiles. When building with two different profiles it's calculating a different recipe revision for each. After looking online and trying to understand the issue, I learned that the conanmanifest.txt file is what is used to calculate this recipe revision, which also depends on exports sources. However, my conanmanifest.txt for each profile is the

[2022-10-07 16:24] memsharded commented on #12270
Hi @dillydill123

Yes, it should definitely be the same, as it is computing the ``recipe_revision`` from that conanmanifest.txt checksums. Are you sure it is identical? One of the common causes is endlines, which might be different in Linux and Windows.

Other things to be checked:
- if ``revisions_enabled`` is configured
- Try to clean the cache between both operations, in case it is something ge

[2022-10-07 17:57] hwhsu1231 opened #12271 "[question] How to disable the warning of "without specifying a build profile"?"
### Problem Descriptions

If we don't specify a build profile in `conan install` command with `CMakeDeps` or `CMakeToolchain` generator, then it will show a warning message and encourage us to use one:

[code]

I'm wondering that is there any method to **DISABLE** this warning?

### Screenshots

![image](https://user-images.githubusercontent.com/71438617/194620688-2e80844a-04eb-4753-bac4-07498b468

[2022-10-07 18:37] dillydill123 commented on #12270
Thank you for the reply @memsharded. I think I discovered the issue. In my project, there is another conan recipe which is called and imports some code before the main `conan create` call. This creates a conan_imports_manifest which is being included as part of the packaging of my main recipe. My idea is that the conan_imports_manifest has a different timestamp, which causes a different checksum,

[2022-10-07 18:37] #12270 closed, assigned to memsharded

[2022-10-07 21:01] memsharded commented on #12270
Thanks @dillydill123 for following up and reporting.

Indeed, if the ``exports`` is not restrictive enough (like ``exports = "*"), then if something changes locally, it will export a different thing, and end in a different revision.

Besides removing the ``conan_imports_manifests``, and possibly other temporary files, it is recommended to use a restrictive ``exports`` expression, explicitly adding

[2022-10-07 21:04] memsharded commented on #12271
Yes, there is a method to disable the warning, to pass the ``-pr:b=default`` profile. 😄

This is important to be ready for Conan 2.0, which will always compute the dependency graph using the build profile by default. So to answer your question, no, it is not possible to disable this warning, because it is very important to do what is recommending to do, instead of just hiding it.

[2022-10-07 21:09] fjp commented on #10373
I'd be also interested why files such as `graph_info.json` and `conanbuildinfo.txt` are "polluting" the root folder where the `conanfile.py` is located. When using the new generators (`CMakeDeps`, `CMakeToolchain`) including the `cmake_layout()` why not place those files in the `build/generators` location or any other location inside `build` folder?

@memsharded is it possible to set a default ins

[2022-10-07 21:46] memsharded commented on #10373
Hi @fjp

Moving those files to a different place would be breaking behavior, because they are needed by ``conan build`` command that do not evaluate the ``layout()`` at all.

We understand this is not the best user experience, but a potential fix is not simple and would be risky. Conan 2.0 has removed this file and is getting very, very close, so efforts are focused on it.

[2022-10-07 22:23] memsharded commented on #12213
I have checked it, this is already solved and tested in Conan 2.0, private (``visible=False`` trait in requires) requirements will not create ``provides`` conflicts. Closing this as solved in beta

[2022-10-07 22:23] #12213 closed, assigned to memsharded

[2022-10-08 00:37] fjp opened #12272 "[bug] Reusing CMake macros through tool_requires fails with specified host and build profile"
Hello Conan Team

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: gcc 11
  * Conan version: 1.53
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- Use a host and build profiles such as

[code]

- CustomCMakeUtils conan package that provides CMake module which includes commonly used cmake macro

[2022-10-08 02:14] yushb0602 opened #12273 "Linking error in qlite3/3.39.4 because it is without libm"
In  sqlite3/3.39.4 the lastest version, please add libm to shell.c. in  /home/ogic/.conan/data/sqlite3/3.39.4/_/_/source/CMakeLists.txt line 170

 target_link_libraries(sqlite3-bin PRIVATE ${PROJECT_NAME} **m**)

otherewise there are  linking errors on linux

sqlite3/3.37.2: CMake command: cmake --build "/home/ogic/.conan/data/sqlite3/3.37.2/_/_/build/e32c1f48bfda04d1f3ad0456e7afb1864c5ecabb/build

[2022-10-08 04:02] hwhsu1231 commented on #12271
If I specify a default profile in `conan install` command, will the **PROFILE** conflict with those other **ARGUMENTS** I specify in CLI? Which one is prior than the other one?

[2022-10-08 04:11] Ahajha opened #12274 "[bug] In some situations, Conan requires you to override a package when it is already overridden"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10, Ubuntu 22.04
  * Conan version: 1.52, 1.53, 2.0 beta3
  * Python version: 3.9 (Windows) 3.10 (Ubuntu)

### Steps to reproduce (Include if Applicable)

See here for a (hopefully) minimum reproducible example: https://github.com/Ahajha/build-vs-normal-reqs-conan
(There might be some simplification

[2022-10-08 06:26] tsunho12 opened #12275 "[bug] SHORT DESCRIPTION"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey 12.6
  * Compiler+version: Homebrew clang version 15.0.2
  * Conan version: Conan version 1.53.0
  * Python version: Python 3.10.7

### Steps to reproduce (Include if Applicable)

[code]

[code]

### Error Messages:

[code]
I try `conan search zlib/1.2.12@ --table=table.html -r=conancenter`, n

[2022-10-08 07:21] #12275 closed, assigned to nobody

[2022-10-08 16:12] jpfeuffer commented on #12266
The question is basically why you are in general deviating so much from standard CMake find modes when it gets to variables.
~~All the _FOUND variables are missing. All the _VERSION variables are missing. Why?~~
Ok the problem is that you are naming component-specific variables e.g., Qt5_Core_VARIABLE not the CMake standard Qt5Core_VARIABLE.
Also you are not exporting the *usually always* exported

[2022-10-08 16:13] jpfeuffer commented on #12266
Not only in Module mode (however your generator for this was called) but also in Config mode with the new CMakeDeps generator.

[2022-10-09 17:31] Ignition opened #12276 "[question] controlling the preset name"
How do I control the name of the preset generated?
I run `conan install` once and generate all the relevant files, I get a nice preset called `release`
I call `conan install` again with different profile + output, main change is settings to `-s:h os=Emscripten -s:h arch=wasm`
It adds to previous `src/CMakeUserPresets.json` to include the other `CMakePresets.json` that was just generated...issue is

[2022-10-09 17:39] tankeco commented on #12273
The problem is how to set `CMAKE_FIND_ROOT_PATH` in `CMakeToolchain` as asked in https://github.com/conan-io/conan/issues/9368

sqlite3 failed to find libm when cross compling:
[code]
Add `set(CMAKE_FIND_ROOT_PATH /usr/aarch64-linux-gnu)` before `find_library` fixed the problem.
But I do **not** know how to set `CMAKE_FIND_ROOT_PATH` in `conan_toolchain.cmake`

to reproduce:
[code]

[2022-10-09 17:52] Ignition commented on #12276
Found it https://docs.conan.io/en/2.0/reference/tools/cmake/cmake_layout.html#multi-setting-option-cmake-layout

[2022-10-09 17:52] #12276 closed, assigned to nobody

[2022-10-09 20:23] memsharded commented on #12273
To summarize:

- This is an issue with **cross compiling**, but it doesn't happen while building in native linux (ConanCenter does it for many different Linux configurations)
- This could be a recipe issue, not necessarily a Conan issue, but we need to investigate. For example the ``zlib/1.2.12`` recipe works with the above instructions, so maybe it is just a ``sqlite3`` recipe issue?
- Even if th

[2022-10-09 20:43] memsharded commented on #12275
Doesn't return anything, it create a table.html file that you can open to check the binaries

That is something to be concerned, it only happens if upstream someone changes the tarball with sources, and should be reported to both conan-center and to the upstream project, changing tarballs of releases shouldn't happen.

[2022-10-09 20:45] memsharded commented on #12271
CLI arguments form a profile that is composed with the other profiles, in the same way several profiles can be specified in the command line, and they all compose/accumulate into one "effective" profile that will be printed to terminal

[2022-10-09 22:52] prince-chrismc commented on #12273
@yushb0602 could you please share which generators you were using and some snippets about hoe you were including sqlite3 in your project?

[2022-10-10 08:30] wadimklincov commented on #12272
I think the issue is explained in [the documentation](https://docs.conan.io/en/1.53/reference/conanfile/tools/cmake/cmakedeps.html#build-context-build-modules), but this is applicable to `conanfile.py`. With `conanfile.txt` you might have to define it in both `requires` and `tool_requires`.

[2022-10-10 08:45] yushb0602 commented on #12273
my conanfile.txt is:
[code]

I build the libraries with:
`conan install ../cppsrc --profile=./on_aarch64 --build=missing`

After add libm to sqlite manually,  all libraries work for me

[2022-10-10 08:47] harsszegi opened #12277 "[bug] CMakeToolChain.generate + Conan 1.53 changed functionality"
Hi,
after upgrading Conan 1.53 CMakeToolChain.generate functionality appears to be changed.
Suddenly a "CMakeUserPresets.json" file started to appear in the package's source folder, which practically breaks Conan lifecycle, as the .git repo becames dirty, "conan export" doesn't update the "scm" "auto" attributes, and surely it is not possible to do "conan upload" anymore.

Any suggestion?
Thanks,

[2022-10-10 09:00] memsharded commented on #12277
Hi @harsszegi

We need details to reproduce this. Please explain how this happen, conanfile.py and commands to reproduce. Thanks!

[2022-10-10 09:11] czoido commented on #12252
I'm closing this, please feel free to reopen if you have any more questions
Thanks for the feedback!

[2022-10-10 09:11] #12252 closed, assigned to nobody

[2022-10-10 09:19] jcar87 commented on #12232
Hi @szigetics  - thanks for chasing this upstream with `emscripten-core`, looks like you've identified a good improvement to the CMake toolchain.

It may still be worthwhile verifying how `CMAKE_AR` had a value before it reached there - I'm assuming if this went unnoticed for so long, not everybody is experiencing this issue.

A way of doing this could be to add a `variable_watch` in a CMakeLists.

[2022-10-10 09:20] jcar87 commented on #12232
I'm closing this issue as it seems like CMake does not pick up the `AR` environment variable (so there's nothing we can do), and it looks like the `user_toolchain` conf is being propagated correctly and there may be an issue with the upstream toolchain itself.

Please feel free to reopen this issue if there's anything related to it that we can help with! Thanks for helping us make the Conan and Co

[2022-10-10 09:20] #12232 closed, assigned to jcar87

[2022-10-10 09:38] #11731 closed, assigned to memsharded

[2022-10-10 09:39] harsszegi commented on #12277
It's nothing extra actually.

from conans import ConanFile
from conan.tools.cmake import CMakeToolchain

class FooConan(ConanFile):
  name = "foo"

  scm = {
    "type": "git",
    "url": "auto",
    "revision": "auto"
  }

  def generate(self):
    tc = CMakeToolchain(self)
    tc.generate()

Add an empty CMakeLists.txt next to the conanfile.py

Then you do a

conan install . -pr xxx -if build

a

[2022-10-10 09:59] memsharded commented on #11642
This is consistent atm, the flags are skipped in all generators if the headers and libs artifacts are skipped.

[2022-10-10 09:59] #11642 closed, assigned to nobody

[2022-10-10 10:03] memsharded commented on #12277
The ``CMakePresets`` from ``CMakeToolchain`` might rely on modern features like you probably need to declare ``layout()``, possibly ``cmake_layout``, in order to get the file in a different location

Also, please be aware that the ``scm`` feature is deprecated in Conan 2.0, to be replaced by ``def export()`` method, you can migrate to it already in 1.X to be ready.

[2022-10-10 10:27] jcar87 commented on #12222
Hi there! Thanks for reporting this.

I am trying to replicate this on my end, but I see the "unsuffixed" variables being generated.

With the following `conanfile.txt`:
[code]

After running `conan install` on `1.53.0`, I get:

`ZLIBConfig.cmake`:
[code]

`OpenCVConfig.cmake`:
[code]

`OpenSSLConfig.cmake:
[code]

I can see these variables pretty much in all generated `xxConfig.cmake` files. Is t

[2022-10-10 10:31] ericLemanissier commented on #12222
The variables related each component do not have a suffix-less alternative, eg `OpenSSL_Crypto_LIBS`, `OpenSSL_Crypto_DEPENDENCIES`, `OpenSSL_Crypto_FRAMEWORKS` and `OpenSSL_Crypto_SYSTEM_LIBS`

[2022-10-10 10:31] harsszegi commented on #12277
presets.py has this in save_cmake_user_presets:

user_presets_path = os.path.join(conanfile.source_folder, "CMakeUserPresets.json")

so unless I'm mistaken it forcefully saves this to the repo of the package.
Btw how come that calling "write_cmake_presets" from CMakeToolchain.generate is not optional? Why is it mandatory to have CMakePresets.json + CMakeUserPresets.json generated automatically?

[2022-10-10 10:36] jcar87 commented on #12222
Specifically, which variables would need to be defined that currently aren't?

[2022-10-10 10:42] ericLemanissier commented on #12222
Sorry, I edited my message at the same time you sent your question. we got a race condition here 😉
missing variables are `OpenSSL_Crypto_LIBS`, `OpenSSL_Crypto_DEPENDENCIES`, `OpenSSL_Crypto_FRAMEWORKS` and `OpenSSL_Crypto_SYSTEM_LIBS`

[2022-10-10 11:03] jcar87 commented on #12222
Hehe, it happens.

Perfect, I think we have enough information to look closer into this one. thanks!! :)

[2022-10-10 11:13] uilianries commented on #12273
@yushb0602 please, **ALWAYS** use build context when cross-building. It's documented here: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html?highlight=cross#conan-v1-24-and-newer

[2022-10-10 11:29] memsharded commented on #12273
In any case, just to clarify, I am able to reproduce the failure with @tankeco docker instructions, it seems something is missing there, but I am not sure if in the recipe or in Conan.

[2022-10-10 11:33] memsharded commented on #12277
git blame gives me that specific line has been there since ``2022-04-28``, so this is not something new from this release. This was this way since the presets were added some time ago. Having this generated or not would be another discussion, but this file has been generated previously too.

[2022-10-10 11:36] harsszegi commented on #12277
Then something else had to change. I can easily reproduce that if I "python -m pip install conan==1.52.0", then "conan install . -pr xxx -if build" will not produce "CMakeUserPresets.json", then if I do a "python -m pip install --upgrade conan" and redo the same "conan install . -pr xxx -if build" the "CMakeUserPresets.json" file appears in the source folder.

[2022-10-10 11:39] harsszegi commented on #12277
Ooooh cr@p. self.source_folder is None in 1.52, but it is not in 1.53 :(
I'm talking about this line:

if conanfile.source_folder and conanfile.source_folder != conanfile.generators_folder:

in save_cmake_user_presets

[2022-10-10 12:50] jcar87 commented on #12273
Thanks @tankeco  for your instructions, and @yushb0602  for reporting the issue.

I believe the issue here has to do with the `CMakeLists.txt` of sqlite3 that lives in Conan Center, rather that Conan itself, and the particulars of the libc math library (`libm.so`/`libm.a`).

Some notes:
* `undefined reference` linker errors typically mean there is a missing or misplaced `-l` linker statement telli

[2022-10-10 12:59] #11912 closed, assigned to jcar87

[2022-10-10 15:51] jcar87 commented on #12266
Hi @jpfeuffer  - thanks for reporting this issue.

I have tried the following  in a `CMakeLists.txt`:
[code]

against a Qt installed from Conan Center with the `CMakeDeps` generator, and those two variables appear to be correctly defined.

Would you be able to provide more details about:
* which Conan generator you are using (the current recommended are the newer `CMakeToolchain` and `CMakeDeps`)

[2022-10-10 17:23] jwillikers opened #12279 "[question] How to generate custom content for PkgConfigDeps that is compatible with pkg_config"
When migrating from `pkg_config` to `PkgConfigDeps`, custom content frequently breaks because it uses the fairly standard variable `libdir` but `PkgConfigDeps` defines this as `libdir1`. Would it be possible to change the default name to `libdir` when there is only one library directory? This would solve the issue in all cases that I've seen on CCI so far.

CCI issue: conan-io/conan-center-index#1

[2022-10-10 18:29] jave27 opened #12281 "[bug] tools.can_run() doesn't work for cross-compiled recipes with test cases that simply execute a binary"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS+12.6, but compiling for `armv8`
  * Compiler+version: clang-14.0.0
  * Conan version: 1.53.0-dev
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

1. Checkout conan-center-index
2. Apply the attached patch to convert `yasm`'s recipe to use `can_run` instead of `conans.tools.cr

[2022-10-10 18:32] jave27 commented on #12281
Looks like my log got eaten. Here's the relevant bit:
[code]
[can_run.diff.txt](https://github.com/conan-io/conan/files/9748196/can_run.diff.txt)

[2022-10-10 18:42] memsharded commented on #12281
Hi @jave27

All the new tools and every thing new related with cross-compiling (like ``from conan.tools.build import cross_building``) needs to use the 2 profiles approach. You can read a clean summary in 2.0 docs: https://docs.conan.io/en/2.0/tutorial/consuming_packages/cross_building_with_conan.html, but it is already working and should be applied in Conan 1.X. Just make sure to specify the "bui

[2022-10-10 18:50] jave27 commented on #12281
Got it, thank you. That works here. This ticket can be closed then.

[2022-10-10 18:50] #12281 closed, assigned to memsharded

[2022-10-10 21:40] prince-chrismc commented on #11962
Seems the workaround is not enough for all cases https://github.com/conan-io/conan-center-index/pull/13113/files#diff-8289c891f895abff6d3967ba098831643a3e8fa06472013c3ade6704c9206cb9R112-R117

[2022-10-11 07:04] anderson-dev commented on #11681
I understand this feature never worked but fmt changed all of their packages to use this feature forcing us to downgrade from spdlog/1.9.2 to 1.4.8 or so as a temp workaround which resulted in many bugs that we had to fix on the fly. Our entire team was down a full day and a half because all of our products use spdlog for logging.

We’re hobbling along now but if just one more dependency starts us

[2022-10-11 07:36] memsharded commented on #11681
Hi @anderson-dev

We tried to summarize some of these ideas in https://blog.conan.io/2022/09/20/consuming-recipes-during-migration-conancenter.html.

Basically, the most robust way to isolate from upstream ConanCenter changes is to store a copy of the packages you need in production. Not proxying them via a remote repo, because that updates automatically (I am not sure if there is some configurati

[2022-10-11 09:38] uilianries opened #12283 "[question] Validate and Validate build does not work well with compatible Package ID"
There is a suspicious case on ConanCenterIndex where we need to use `validate()` + `validate_build()` + compatible packages, where a package (Moltenvk) needs Apple Clang 12, but it can consume older versions when built as shared:

https://github.com/conan-io/conan-center-index/pull/13142#discussion_r979387664

The package requires itself, but it's not listed on requirements nor as build requiremen

[2022-10-11 09:49] db4 commented on #2729
Hi @lasote @memsharded!  I'm bringing up this old issue because like the original reporter I would like to save timestamps in `conan_package.tgz` and restore them when files are decompressed into the local cache. I repackage Conan-build artifacts into OS-level installer (.msi or .deb), so having corrects timestamps is a must for me. Can you explain

Why this would be a problem if we store (the sam

[2022-10-11 10:17] jjcasmar opened #12284 "Using CMakeToolChain / CMakeDeps"
I am having some struggle using the new CMake generators. I'll list some points I am having trouble with:

- If I want to compile in Debug, I need to tell conan that it has to generate the FooConfig-Debug.cmake. This means I have to call `conan install` in different build directories, depending on how I want to compile my project. Furthermore, if I understand correctly, this will use debug version