[2021-07-30 00:51] #5037 closed

[2021-07-30 00:54] memsharded commented on #4992
The solution for this question is to use env-vars.
Furthermore Conan 1.39 provides a new mechanism to pass information from conan to conan recipes, the ``[conf]``, or command line argument. Probably the env-var is the most standard way to pass credentials, most tools use that approach.

I think this question was answered with a viable solution, so it can be closed, but please tell otherwise. Thank

[2021-07-30 00:54] #4992 closed

[2021-07-30 00:58] memsharded commented on #6189
This was stale for a long time, and seems the above response still holds, so this can be closed, but please @AleksandrFOF tell otherwise, thanks.

[2021-07-30 00:58] #6189 closed

[2021-07-30 01:01] memsharded commented on #7997
This response still holds. Adding settings values for dependencies in recipes is not a good idea, it creates a lot of problems, configuration conflicts, etc. The correct place to define configurations and settings is profile files, not recipes. Profiles have kept improving, they can be composed, included, and now they can also be templatized with jinja2 templates, and make them conditional to the

[2021-07-30 01:01] #7997 closed, assigned to memsharded

[2021-07-30 01:03] memsharded commented on #7732
This response seems correct and still holds, so I think this question can be closed as responded. Thanks!

[2021-07-30 01:03] #7732 closed, assigned to memsharded

[2021-07-30 01:05] memsharded commented on #8171
No activity in long time, we can close this issue as responded now, thanks.

[2021-07-30 01:05] #8171 closed, assigned to memsharded

[2021-07-30 01:06] memsharded commented on #8606
Seems this was satisfactorily responded, so closing it, but please tell otherwise. Thanks!

[2021-07-30 01:06] #8606 closed, assigned to memsharded

[2021-07-30 01:08] memsharded commented on #9226
Hi @chery1392

Any update here? Do we have a Jira ticket? Any details to reproduce the issue?
Thanks!

[2021-07-30 01:09] memsharded commented on #8867
Closing this as responded.

[2021-07-30 01:09] #8867 closed, assigned to memsharded

[2021-07-30 03:05] playgithub commented on #9346
It's ok.
I've disabled path limit on Windows, is an env-var the only way to disable `.conan_link`?

Thanks

[2021-07-30 03:07] playgithub commented on #9347
conan 2.0 seems perfect, when will conan 2.0 release?

[2021-07-30 03:07] #9346 closed, assigned to nobody

[2021-07-30 03:08] #9347 closed, assigned to nobody

[2021-07-30 05:59] ineb commented on #9334
Hi @memsharded
thanks for the information.

My use case is some kind of meta-project setup where certain packages in the dependency tree come from local CMake projects instead of being resolved via conan.
This is to enable development on multiple projects at the same time (which are all in the same repository).
I know about conan workspaces but was not able to achieve our desired workflow with it.

[2021-07-30 08:05] joeced commented on #9333
Thanks for the elaborate answer. My use-case is slightly different. I have a `conanfile.txt` file in a directory and specify the path directly.

Given a `conanfile.txt` file:

[code]
and the command
[code]
I always get two calls to bintray in the trace log:

[code]
The `conanfile.py` for `matlab-wsa-std` looks like this:

[code]

However, if I try a similar approach with `zlib`:
[code]
and
[code]

[2021-07-30 08:05] memsharded commented on #9346
No, it is not ok. Many build systems and other tools still have issues with long paths, even if the OS allow long paths. Beware to have failures if you disable it.

Yes, I said it in my response, use ``CONAN_USER_HOME_SHORT=None`` env var.

[2021-07-30 08:26] memsharded commented on #9333
Uhmm, I think this could be due to revisions. When you do have revisions enabled, and one package binary is not found in one repository, it might be looked for in other repositories (for exactly the same recipe revision). Let's try to reproduce this (though the bad news is that changing this might be quite breaking for other users, lets see...)

[2021-07-30 08:32] joeced commented on #9333
Thanks for the swift response. We have `revisions_enabled = true`. Is there anything I can do different with my `conanfile.py`?

[2021-07-30 08:45] natheihei commented on #9138
@fanStefan @tapia sorry I'm very new to conan and thus new to conan + bazel.

Supposedly this issue has been fixed by 1.39.0, which I have confirmed by running
[code]

I downloaded the "project" link in the above comment https://github.com/conan-io/conan/issues/9138#issue-927672935, and run

[code]

I do see that files including `conandeps/BUILD` and `conandeps/dependencies.bzl` is generated, but

[2021-07-30 08:51] ysyyork commented on #9138
same issue here

[2021-07-30 08:57] SSE4 commented on #9340
update:
the issue was specific to the one server instance only - this remote has been disconnected and a script was run to clean up the cache repositories.

[2021-07-30 08:58] regisverdin opened #9352 "[question] Post-install hook in binary-only packages"
Hello! I am trying to make a binary-only library package, which runs a code-hardening procedure on the binary after being `conan install`ed. Our hardening procedure is a python script. My expectation is that the artifactory would store non-hardened binaries, and that when a consumer downloads these via `conan install`, conan would call our hardener automatically on the consumer-side to modify the

[2021-07-30 09:38] memsharded commented on #9352
Hi @regisverdin

There is no "post-install" method at the moment, and your current best bet could be a hook. I know it is not optimal as it is not part of the recipe, but at least you can provide the functionality today.

We have been considering this functionality a few times, and we are doing some proof of concepts of what can be done. Here is one recent attempt: https://github.com/conan-io/cona

[2021-07-30 09:42] tapia opened #9353 "CLI list command: handle remote errors individually"
If a remote search returns a timeout or the remote is not available, it returns an error and stop the command execution. It should continue with the next remote, like this:

[code]

Related stuff:

- Write a couple of tests handling remote failures.
- check that this individual remote error handling is also added to the json formatter

[2021-07-30 09:42] memsharded commented on #9340
Ok, this was not a Conan issue, and also not a general issue with Artifactory, but just some configuration of public facing virtual repositories in that specific bincrafters org. Closing this now, thanks all for the help!

[2021-07-30 09:42] #9340 closed, assigned to SSE4, uilianries

[2021-07-30 09:44] memsharded opened #9354 "Bazel integration issues"
@fanStefan @tapia sorry I'm very new to conan and thus new to conan + bazel.

Supposedly this issue has been fixed by 1.39.0, which I have confirmed by running
[code]

I downloaded the "project" link in the above comment https://github.com/conan-io/conan/issues/9138#issue-927672935, and run

[code]

I do see that files including `conandeps/BUILD` and `conandeps/dependencies.bzl` is generated, but

[2021-07-30 09:49] memsharded commented on #9334
Ok, I see.

You would need to provision your recipes with those conditional requirements if you want to do that.
However, even if workspaces didn't achieve that, ``conan editable`` allows to have multiple packages open at the same time, it still requires a bit of manual sync, but it is doable. And we are putting resources in improving it, latest releases added the ``layout()`` feature, which great

[2021-07-30 10:00] fanStefan commented on #9138
@blackhogz @ysyyork can you try 1.38.0?

[2021-07-30 10:09] tapia commented on #9331
@lasote This error also happens here: https://github.com/conan-io/conan-center-index/pull/6578

Probably the workaround suggested by @memsharded would work here, but that would require a full refactor of the `package_info` method (not ideal)

[2021-07-30 10:20] memsharded commented on #9138
Hi, I have created a new issue in #9354, if you want to report there (as this is closed, we could re-open but it is more convenient to open a new ticket)

[2021-07-30 10:56] memsharded commented on #9333
Reproduced the behavior and checking in this PR https://github.com/conan-io/conan/pull/9355, if it can be changed and considered a bug, we better make sure that this change is not breaking other users that depend on this behavior.

[2021-07-30 13:00] jBernavaPrah commented on #9337
Thanks for your information. Unfortunately, I don't have enough knowledge to create a working recept.

But I can give you a working project for Raspberry pico (super simple) that compiles and work with standard Mac - Clion settings. This project uses the "SDK C++" from Raspberry Pico.

From my limited knowledge of C++ and compilers, what I think is missing to Conan (based on my project) is all con

[2021-07-30 14:50] natheihei commented on #9354
As suggested by @fanStefan in https://github.com/conan-io/conan/issues/9138#issuecomment-889783059, I tried 1.38.0.

Apparently 1.38.0 works, and 1.39.0 doesn't work as reported above.

[2021-07-30 14:50] natheihei commented on #9138
Thanks @memsharded , let's move the discussion to #9354.

[2021-07-30 15:08] ineb commented on #9334
Hi,
`conan editable` looks tempting but i am not sure how the `layout` would look like for complex projects.
I understand the simple examples but how would it be approached for projects like boost or opencv? Settings like ``self.cpp.source.includedirs`` would depend heavily on the enabled components in these projects. Only the build system has this kind of information.

The same goes for the ``pac

[2021-07-30 16:58] regisverdin commented on #9352
Thanks for the quick reply @memsharded , happy to hear it's being worked on :)

[2021-07-30 17:05] melMass commented on #5762
What is the state of Conan workspace, Conan 2.0?
Not being able to configure the CMake configuration of each target is a bit tricky when you have lots of dependencies.

[2021-07-30 17:32] kenfred commented on #5762
I believe @jgsogo is best equipped to answer this question. I've tried to lobby for the workspaces feature reform in the Conan 2.0 Tribe discussions, especially as I think it is applicable to the proposals we've seen on local package development, secondary caches, `package_info` changes, etc. However, I don't think there have been any proposals specifically addressing workspaces, at least none tha

[2021-07-30 20:17] melMass commented on #5762
Thanks for the update, too bad I really liked your proposal and thought 2.0 would follow something like that.
I guess I will fallback to pure CMake but I don't understand how this is not "mandatory" for a Package Manager/Build Tool

[2021-07-30 21:31] memsharded commented on #5762
We have been recently doing a lot of effort in improving the foundation of the workspaces, the "editables". We have developed the new ``layout()`` feature, which is integrated in the recipes, and is more flexible and powerful. Please check latest Conan 1.38 and 1.39 releases.

We didn't want to resume work on the workspaces until this necessary piece was improved. Now it is looking much better, an

[2021-07-30 22:05] melMass commented on #5762
Sounds great! I've used layouts already but I was not able to run `configure` or `build` properly on my local dependencies. I think that's expected. For now, I'm just using `conan install` on each separately and then use the local cache, it's a bit slow but it works and it's predictable.

Are there public reports of the Conan 2.0 Tribes? What is the best way to stay up to date with the project?

E

[2021-07-30 22:08] kenfred commented on #5762
Thanks @memsharded! I'm a bit concerned about the persistence of "layout" and "editables" for the reasons I outlined at the top of this thread. Unless the concept of an editable has changed, it is problematic to keep that pattern going. There was lots of talk in the tribe about secondary caches and other strategies for local development, so I'm not sure if "editables" as I understand them is what

[2021-07-30 23:09] memsharded commented on #5762
Yes, the best to stay up to date is the repo: https://github.com/conan-io/tribe, check the closed and open PRs

Yes, check also the new ``cmake_layout()``.

The secondary caches are a different approach that can resolve some related issues, but there are still many users that would still request the direct editable experience, so we think we are not ready to completely give up on the editable expe

[2021-07-30 23:17] memsharded commented on #9334
The ``layout()`` can also represent components, but yes, they would need to be defined in the recipe too. We are starting now the proof of concept of how recipes in ConanCenter will be modernized using new toolchains and also the layout: https://github.com/conan-io/conan-center-index/pull/6474.

As always, it is a tradeoff, if we want Conan to be able to manage packages in different locations and

[2021-07-31 03:25] playgithub opened #9357 "[bug] directories exists after `conan remove *`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: msvc
  * Conan version: 1.39.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)
[code]

### Other Infos
boost is installed as both shared and static, other settings and options are by default.
bzip is installed as static, other settings and options ar

[2021-07-31 09:16] SpaceIm commented on #9202
After more experimentations, the less fragile solution I've found is:

[code]

${{CMAKE_CURRENT_LIST_DIR}} => for conan generated config files

{deps.build_paths} can't be added, because it would put executables paths of host context in `CMAKE_FIND_ROOT_PATH`. It's important for recipes where the same dependency is in `requirements()` dans `build_requirements()` (for example protobuf), to avoid `f

[2021-07-31 16:58] melMass opened #9358 "[question] Conan Package does not define the library"
Hi

## Reading the TLDR first might be enough to grasp the issue, but here is a bit of context:

I've been using Conan a lot in the past year, and I'm converting all my project & most common external libs to it (conan-center is a very good companion btw).

As there are many ways to approach a package, and things evolved over time, I think I need a bit of a refresher.
I decided to switch all of my

[2021-07-31 17:07] melMass commented on #9358
Wait.... I have no idea what is going on, but removing the library from conan's cache just solved the issue... and I don't need the imports either... So strange.
I'm leaving this open for a few days if it rings someone's bell or if I understand it myself in the meantime, I did regularly cleared the cache while doing my tests. I'll keep investigating.

[2021-07-31 20:07] melMass commented on #9358
I found the issue!
I removed every package from my cache, readded a few commented out parts of my main `CMakeFiles.txt` to find the issue:

On macOS by default libraries are prepended with `lib`.
In the CMake of `mtb-core` I'm defining the target like this to remove this prefix:

[code]

This is what was breaking everything! Is there any way to set the target name somehow?

[2021-07-31 22:14] jellespijker commented on #9003
Any news on this?
[code]

[2021-08-01 15:53] prince-chrismc commented on #9000
Another example in hiredis https://github.com/redis/hiredis/blob/master/CMakeLists.txt

[2021-08-01 16:52] mkacher opened #9359 "[bug] Clone fails if repo contains conandata.yml"
I reproduced an issue in a skeleton project and linked it below. It appears that if a conandata.yml file exists in a project, it will be automagically exported and copied into the source folder. A call to git.clone in the source() method will then fail due to a non-empty folder.

Related discussion: https://github.com/conan-io/conan/issues/8658

### Environment Details (include every applicable at

[2021-08-02 03:40] kenfred commented on #5762
Although I agree with the motivation of layered/tiered cache and think something is sorely needed, I don't support representing this as a "cache." I propose a similar approach around the workspace. You can see lengthy discussion on this topic: https://github.com/conan-io/tribe/pull/19#issuecomment-777732639

I would like to probe this a bit. Of course users are asking for a way to edit packages an

[2021-08-02 05:40] lasote commented on #9331
on my way!

[2021-08-02 10:17] demorgan104 commented on #8995
Hello @blackliner , I was looking at this issue and was thinking, your original problem is that you cannot build zlib for example without the header files of pcre, right ?  And other header files located in your super-repo ?

In this case, have you though about creating packages that contain only the header files of your super-repo ?

In this way, you will deliver libraries and re-compilation of t

[2021-08-02 11:41] lasote commented on #9359
Hi, thanks for reporting. I don't think this is a bug. The `conandata.yml` file is automatically exported, it is how it works. If you don't need it you can remove it.
Otherwise, you will need to clone the sources in a subfolder because git doesn't allow to clone in a dirty folder.

[code]

I also recommend you to take a look at the experimental [layout()](https://docs.conan.io/en/latest/developing

[2021-08-02 11:54] lasote commented on #9358
Hi! I strongly recommend using the new `CMakeDeps` generator in addition to the `CMakeToolchain` instead of the `cmake_find_package`. They are tagged as "experimental" but they are here to stay and replace all the cmake generators in Conan 2.0. You can find the documentation here: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html

Said that I don't really understand your issue,

[2021-08-02 12:33] Viatorus commented on #9036
After some delay, here is the final answer from ARM:

So (we) either host the binaries else where or use a custom user agent when using `tool.get`.

[2021-08-02 13:00] blackliner commented on #8995
hey @demorgan104, I think you misunderstood, this is a conceptual problem. Building `zlib` or `pcre` was never the issue, it is about how should versions and RREV's be handled in a monorepo, multi-package project.

Our current solution is:
- every package has version `1.0.0` and that wont change
- every package refers to any other internal package (one within the monorepo) by `name/1.0.0`
- before

[2021-08-02 13:06] jasal82 commented on #3113
A bit of context on the problem: Each organizational unit in our company uses its own Conan repo (to simplify user management). All repos are added as remotes. Package names are always prefixed with the repo name to avoid ambiguity. For each of these repos there is another (read-only) release repository to guarantee the immutability of releases. Release repositories are always listed before the de

[2021-08-02 13:34] alexanderLinear commented on #864
the document linked above is gone.
but it might have been moved to this location:
https://docs.conan.io/en/latest/mastering/logging.html

[2021-08-02 13:46] thorbenk opened #9362 "[bug] cmake generator does not support Visual Studio 17 2022"
When using the cmake generator with the new Visual Studio 17 2022 release, conan tries to call cmake with the following generator `Visual Studio UnknownVersion 17 Win64`.

This is because the new version needs to be added to the dictionary in `cmake_flags.py`. I'll open a pull request for this.

[2021-08-02 16:22] tcanabrava opened #9364 "[bug] CMake generator does not allow multiple namespaces for the exported library."
This affects at least Qt5, Qt6 and most of the libraries on the KDE Frameworks.
I'd assume more libraries use this but those are the ones I have to work on daily.

Qt5 exports `Qt::` and `Qt5::` namespaces, qt6 exports `Qt::` and `Qt6::` namespaces on their original find modules,
and it's important that we can rely on this for the generated find modules, so that code made for both Qt5 and Qt6 work

[2021-08-02 17:20] pavlodenysov-vizio opened #9365 "[feature] Add ability to default --profile:build"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Same as omitting `--profile` is the same as using `--profile default`, omitting `--profile:build` should default to `--profile:build default` (or maybe some other profile, like `build_default` or something similar).

This may be breaking change for other users, but:
1. `--build:profil

[2021-08-02 20:20] ericriff opened #9366 "[question] Build time optimization level"
Hi All,

I couldn't find any info online so I'm opening an issue here to hear from the experts.

Does conan / conan recipes have a saying on the optimization level set when building a package (-O1, -O2, etc)?
Is it expected for the build system of each package to set this? Should `build_type` set any of these flags?

Thanks!

[2021-08-02 23:09] sheepsteak opened #9367 "[bug] Premake generator does not use frameworks"
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS
  * Compiler+version:
  * Conan version: 1.39.0
  * Python version:

### Steps to reproduce (Include if Applicable)

The `premake` generator does not take `frameworks` into account for MacOS. For Premake5, these need to be added as `links` with a `.framework` suffix: https://premake.github.io/docs/link

[2021-08-03 07:15] lasote commented on #9357
Is it causing any conan error or just noticed the empty folders? I have observed it sometimes also, I think it is related to the Windows file system.

[2021-08-03 07:22] lasote commented on #9362
Thanks!

[2021-08-03 07:47] lasote commented on #9364
Hi @tcanabrava, thanks for reporting.
We are currently only evolving the new generators and toolchains, the `CMakeDeps` and `CMakeToolchain` will be the only generators for cmake in Conan 2.0 and we will start introducing them in the conan center index repository soon.

Here you can find the documentation:
https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html

We are currently using

[2021-08-03 08:02] lasote commented on #9365
Hi!

Yes, that would be breaking for the current users because specifying the build profile activates some internal mechanisms with the build requirements and other things. In Conan 2.0 that will be the default behavior.

We are not introducing "switches" to activate Conan 2.0 breaking features, we only have the [CONAN_V2_MODE](https://docs.conan.io/en/latest/reference/conan_v2_mode.html) but only

[2021-08-03 08:10] tcanabrava commented on #9364
Yes I would.
give me a couple of days to familiarize with the codebase.

[2021-08-03 08:18] lasote commented on #9366
Hi!

We don't have a setting nor something similar to adjust the optimization level.
Sometimes the build system (cmake for example) does some adjustments depending on the `build_type` and we have some old generator like the `compiler_args` that made some adjustments too.
Currently, it is not possible to introduce it globally for all the dependency tree with a Conan mechanism.

Some users are typic

[2021-08-03 08:23] lasote commented on #9367
Thanks for reporting. Could I ask how often do you use the premake generator? Are you using premake in your personal/company projects or is it an open-source one? We don't receive much feedback from that generator, I think the last change was about a year ago, so I'm curious. Thanks again!

[2021-08-03 08:26] demorgan104 commented on #8995
Hello @blackliner,

Sorry for my misunderstanding.

I have some extensive experience with Conan for embedded systems where such features are required to ensure reproducibility and to be able to reproduce a binary at any time from its original source code.

I also know the pain I got once when we messed up with Conan's cache:

- we got a perfect build
- the software was running on the HW with spora

[2021-08-03 08:47] franramirez688 commented on #9327
@tapia perhaps, this issue is completely covered by this one https://github.com/conan-io/conan/issues/9353 ?

[2021-08-03 10:51] franramirez688 commented on #9003
Hi @wdobbe
I've been trying to reproduce the issue but it was impossible 😢
By the way, are you facing the issue yet?
If yes, I was wondering if you have tried to pass the `build_requires` only as part of the build profile. What I mean is:

**build_profile.txt**
[code]

Now, running the command:

[code]

I don't know if it could solve the issue but if you still face it, please, let us know and wait

[2021-08-03 11:05] sobczyk commented on #4967
Is this issue getting any traction?
The base toolchain file generated by OpenEmbedded has `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE==ONLY`
And conan 2.0 aims for config style dependencies. (ie. CMakeDeps)
This makes it really hard to cross compile for OE.

Edit:
I've tested it, and `CMAKE_FIND_ROOT_PATH` works with config style packages and `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE==ONLY`

There's a small tweak

[2021-08-03 11:09] franramirez688 commented on #9003
Hi @jellespijker

We'd need more information here: your recipe, Conan version, OS, etc.
I can see you're using the same profile for `host` and `build` ones but do you really need it? I mean, let us know more about your needs to understand completely your case. It could be related to the other one but we have to be sure.
Thanks!

[2021-08-03 11:09] playgithub commented on #9357
no errors

[2021-08-03 11:11] qwertzui11 opened #9368 "[question] ConanToolchain and sysroot"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

conan verion: 1.39

I'm trying to use the ["new" `ConanToolchain` feature](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html)
My goal is to cross-compile to `arm`.
How and where does the sysroot get set when cross compiling?
I'm using two profiles. fo

[2021-08-03 12:22] ericriff commented on #9366
Thanks for the quick reply.
Does conan's `build_type` gets mapped to `CMAKE_BUILD_TYPE`? Because I think that, if not overridden, CMake will add optimization flags based on that variable. Particularly, `-O3` for Release, `-O0` for Debug and `-Os` for MinRelSize.

If it does get mapped, does that happen on `conan_basic_config()`? Or Through the `cmake` generator? Somewhere else?

[2021-08-03 12:34] franramirez688 commented on #9368
Hi @qwertzui11

I think it should be enough to use these variables in your profile instead (the last two lines):

[code]

Then, that way should load directly both variables `"CMAKE_SYSROOT"` and `"CMAKE_FIND_ROOT_PATH"` into your system, so it won't be required to read it from the `env` anymore:

[code]

By the way, you can check this piece of documentation, perhaps it solves any other doubt: [Cro

[2021-08-03 13:02] SSE4 commented on #9300
see also : #9362

[2021-08-03 13:07] SSE4 commented on #9362
thanks for letting us know. I've just installed Visual Studio 2022 preview and looking at it.
I believe there are more changes to be made:
- default profile, compiler detection (old and v2)
- new settings (`Visual Studio` and `msvc` compilers)
- cmake build helper (old and toolchain)
- msbuild build helper (old and toolchain)
- vcvars changes, if any
- cppstd and potentially other compiler/linker

[2021-08-03 13:58] anderson-dev commented on #9330
I solved the issue by specifying the install-folder parameter for all conan commands to match where the Conan VS Extension set up the initial conanbuildinfo.props (i.e. conan install -if x64/Release/.conan .; conan build -if x64/Release/.conan .)

So now I have a question: if I have to specify the -if param for conan build, in the case that a pre-built binary is not available, would a package cons

[2021-08-03 14:42] pavlodenysov-vizio commented on #9365
@lasote What about introducing new environment variable or new variable in `conan.conf`? That will not be breaking.

[2021-08-03 14:52] ghost opened #9369 "[bug] Revisions are not updated"
Hello,

I am producing revisions for versions (enabled on server and client).
In short - no matter what I tried to do, I dont seem to be able to get new version, only if I delete packages locally and pull new.
We are using SCM for revisions, therefore the revision is GIT sha and not the default hash.

### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Conan version: 1.35.1
  *

[2021-08-03 14:53] AndreyMlashkin commented on #9295
I still have this problem:

<details><summary>Click to expand log</summary>

[code]

[2021-08-03 18:04] TedSmithNXC commented on #7565
@madebr :  I am cross building on `linux` for `arm`.  I am finding my `m4` packages are not unique per `host arch` setting which is the problem you fixed above.  I believe I am using your merged fixes for `autoconf` that should cause the gnu-triplet to be properly calculated.    I am finding the `m4` package being fetched is for the `build arch` of `x86_64` instead of the `host arch` of `armv7hf`.

[2021-08-03 19:37] sheepsteak commented on #9367
It was my first time using it yesterday. I'm just doing a hobby project (game in C with SDL2).

I'm happy to try and fix this if you want?

[2021-08-03 20:55] melMass commented on #9358
Thanks.
I will try that, I'm a bit confused by CMakeToolchain, but I will experiment before asking further information

[2021-08-03 21:05] jellespijker commented on #9003
Hi @franramirez688
Profile of both host and build are slightly different depending on the recipes see the Jinja profiles in this repo https://github.com/jellespijker/conan-config/tree/main/profiles
It occurs on the recipes in these repo's
https://github.com/Ultimaker/libArcus/tree/dep_manager
https://github.com/Ultimaker/CuraEngine/tree/dep_manager which are usually build first for the main projec

[2021-08-03 21:59] madebr commented on #7565
@TedSmithNXC
It might be a bug in the `libtool` recipe.
libtool needs m4, which is not (currently) a build requirement (only a requirement through `automake` -> `autoconf` -> `m4`).

Can you try applying the following patch to conan-center-index?
[code]

[2021-08-03 22:00] madebr commented on #7565
Anyway, I think this bug can be closed as my initial problem was not there all along.

[2021-08-03 22:20] gmeeker commented on #1047
I too need to build universal macOS binaries.  I decided to put together a hook to patch existing recipes automatically, and it seems successful so far.  I've tested gtest (cmake based) and openssl (a more complicated recipe with per arch assembly code).
https://github.com/gmeeker/conan-multi-build-hook
The idea is that ConanFile has multi_build() and multi_package() methods that will call build()

[2021-08-03 23:13] kenfred commented on #7565
@madebr

I'm trying to get my head around the host and build contexts and understand your answer here. So some of what I'm saying below might be flawed.

According to @TedSmithNXC's output, `libtool` is a `build_requirement`. So in a [cross build](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer), that means that, when building `libtool`, it should h

[2021-08-03 23:23] kenfred commented on #7565
Looking at the conan source code, I see that it is checking `self.settings_target` in `AutoToolsBuildEnvironment`.

[2021-08-04 00:00] melMass commented on #9358
Do you know recipes who already use these?

[2021-08-04 00:54] madebr commented on #7565
When building libtool, the configure script prints the following:
[code]
So yes, `libtool` needs `m4` as a build requirement.

I downloaded a gcc-arm toolchain at [ARM's website](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads) and could reproduce @TedSmithNXC 's problem.

It looks like there is something fundamentally wrong with `aut

[2021-08-04 01:05] madebr commented on #7565
I've opened
https://github.com/conan-io/conan-center-index/issues/6673
and
https://github.com/conan-io/conan-center-index/pull/6674

This does not fix the problem, but perhaps we can pinpoint the cause better.
I'm reopening this issue as I think again it is a problem with conan.

[2021-08-04 04:56] playgithub commented on #9346
@memsharded
After disable path limit on Windows, I have no problem building and using boost with long paths.
What about an option that not use `.conan_link`? And by default if should be off.

[2021-08-04 05:05] playgithub opened #9372 "[question] Why not use continuous upgrading for conan 2.0?"
If it is possible, no break for developers and users of conan, they can be more focus.
e.g. while `archlinux` uses continous upragding, it can also make a big upgrade in long term.

Anyway just an idea for considering.

[2021-08-04 06:03] playgithub opened #9373 "[question] an idea to make concepts more clear"
It's not intuitive for me to consider local `.conan` as `conan cache`,
I think it should be called `conan local` as compared to `conan remote`, or s.th. like `conan-repo` because it can work independently, like `git`.

In this way, 4 concepts there:
* local recipe
* local binary
* remote recipe
* remote binary

local & remote, recipe & binary, it is quite clear.
And because binary can be generated

[2021-08-04 07:29] franramirez688 commented on #9003
Thanks a lot for your comment @jellespijker
Those projects look quite interesting and you have done a great job with the conanfile-recipes 👏
Given your explanation, I definitely think it's a problem related to the graph resolution for your current configuration (it looks like a beautiful corner-case) and it's something that @memsharded will have to look into.

[2021-08-04 08:57] oranger34 opened #9377 "Is it possible to specify different settings for requirements?"
For example, my project requires poco and openssl. I need a Debug version of poco and a Release version of openssl. I put the settings build_type=Debug/Release in different profiles. It seems we can only use one profile(one setting) for all required packages. Is it possible to use different settings for diferent required packages?
Thanks!

[2021-08-04 10:24] madebr opened #9375 "[feature+bug] conan.tools.gnu.autotools.Autotools can only configure in root source folder"
Some times, configure scripts can be found in subdirectories.
Right now, `ConanFile.source_folder` is hard coded at
https://github.com/conan-io/conan/blob/916cb10b99ed92d319cd0719462708ee0501ecd4/conan/tools/gnu/autotools.py#L25

It would be VERY useful to be able to change this.

### Environment Details (include every applicable attribute)
  * Operating System+version: all
  * Compiler+version: a

[2021-08-04 10:33] madebr opened #9376 "[feature] Multiple toolchains in one recipe"
Sometimes, building a package needs configuring + building multiple related autotools/cmake/meson projects.
Looking at e.g. current `conan.tools.gnu.Autotools` and `conan.tools.gnu.AutotoolsToolchain`,
it looks like these only support one "toolchain".
I think it would be useful to be able to generate multple toolchains, e.g. by namespacing.

An example of a recipe requiring this would be e.g. a to

[2021-08-04 10:35] lasote commented on #9366
Yes, Conan maps the build type for cmake. With the old cmake generators that are done in the `conan_basic_setup()` and with the new model (the only will be kept in Conan 2.0) it is managed by the `conan_toolchain.cmake` file generated by the `CMakeToolchain` generator.

You can read about the new (and future) cmake integrations here: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.

[2021-08-04 10:44] lasote commented on #9365
We could do that but we are trying to avoid introducing switches to activate features that are potentially breaking. It is a matter of maintainability of the Conan code base.

[2021-08-04 10:56] lasote commented on #9358
not yet in conan center but you can find multiple test using it:

https://github.com/conan-io/conan/tree/develop/conans/test/functional/toolchains/cmake

[2021-08-04 11:03] lasote commented on #9369
I don't know if that is the issue but in the "finally try to update" you are using a different user/channel `application/4.5.3@user/stable` vs `application/4.5.3@d13-rf/stable`

[2021-08-04 11:05] lasote commented on #9372
I don't think I understand the concept of "continuous upgrading". Do you mean Conan upgrading itself without user intervention?

[2021-08-04 11:07] ghost commented on #9369
No, this was just a typo because I have tried to remove our project specific names from the commands.
All commands are executed as they should be with propper package name, user and channel

[2021-08-04 11:07] lasote commented on #9373
But the server (or remote) storage structure is not the same as the local one, also the cache contains configuration etc.. so I think it is not the same concept. But I get your point. Thanks for the suggestions.

[2021-08-04 11:15] ghost commented on #9369
I did a workaround - running `conan remove "application*" -f` before the install command

[2021-08-04 11:34] franramirez688 commented on #9377
Hi @oranger34
No, it is not for now, sorry.
You can assign different options per requirement but I'm afraid it's not possible for settings.
You can check [this piece of documentation](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#options) as well.

[2021-08-04 11:43] franramirez688 commented on #9377
Anyway, let me transfer this issue to the Conan repository because it's not related to the documentation but the Conan tool 😁

[2021-08-04 11:49] madebr opened #9378 "[bug] No verbose traceback (general.verbose_traceback=True"
I'm experimenting a bit with new conan features and have enabled `general.verbose_traceback`.
[code]

I wanted to experiment with `layout`, but am getting the following error instead:
[code]

My layout method looks like:
[code]

The error should contain a traceback so I can fix the problem myself.

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Li

[2021-08-04 12:10] madebr commented on #9377
Yes, this is possible.
You can override the build type of a dependency using the `-s RECIPE:build_type=Debug` syntax.

It is also possible to override settings in a profile.
See https://docs.conan.io/en/latest/reference/profiles.html#package-settings-and-env-vars

[2021-08-04 12:15] madebr commented on #9344
Note that armv9 is underway.
So `armv8` will no longer be synonymous with `aarch64`.
See https://www.arm.com/company/news/2021/03/arms-answer-to-the-future-of-ai-armv9-architecture

[2021-08-04 12:18] franramirez688 commented on #9377
Thanks for your comment @madebr and sorry for my previous one @oranger34 because it could be confusing.
I should have checked more the documentation 😞
Then, great! That should solve your problem.

[2021-08-04 12:29] kenfred commented on #7565
@madebr Many thanks for digging into this!

I agree. But my understanding is that requirements are also available at the time of building, so there is no benefit to making something a build requirement if it is already a requirement. The only exception to this is if you need to change `self.settings_target` of that dependency, but I'm fuzzy on when that would be desired. Perhaps it is desired in t

[2021-08-04 13:05] playgithub commented on #9373
While local and remote communicate with recipes & binaries,  they can be different, e.g. the local end have configurations while the remote end doesn't, and they can have different data structures and implementations.

[2021-08-04 13:09] playgithub commented on #9372
No, I mean upgrading without break.

[2021-08-04 16:32] TedSmithNXC commented on #7565
@madebr    Adding that build_requires of `m4` to `libtool` does fix it.   I understand now what is going on.  Thank you again for your help!

[2021-08-04 16:58] melMass commented on #9358
Thanks.
After a few tests I managed to understand a few things like:
- With these generators, the cmake configuration is made in the generate method, using either a `CMakeDeps` or `CMakeToolchains` class.
- Packaging seems very different, I still need to isolate a simple test case to understand this I think

What I don't understand is:
- The distinction between the `tools.CMake`, `CMakeDeps` and `

[2021-08-04 19:46] pavlodenysov-vizio commented on #9365
@lasote Can you do that with `CONAN_V2_MODE` defined?

[2021-08-04 20:51] fanStefan opened #9379 "[bug] Bazel generator dosn't add cc_import into the deps of cc_library"
Bazel generator dosn't add cc_import into the deps of cc_library

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 34
  * Compiler+version: gcc 11.1.1
  * Conan version: 1.37.2
  * Python version: 3.9.5
  * Bazel version: 1.2.1

[2021-08-04 20:51] fanStefan opened #9380 "[bug] Bazel generator dosn't add system libs into the linkopts of cc_library"
Bazel generator dosn't add system libs into the linkopts of cc_library

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 34
  * Compiler+version: gcc 11.1.1
  * Conan version: 1.37.2
  * Python version: 3.9.5
  * Bazel version: 1.2.1

[2021-08-04 21:24] fanStefan commented on #9354
@memsharded  Looks like this commit introduced the issue:
https://github.com/conan-io/conan/commit/f117378069b6fd11fcfec0573470ad3347c4cbb6

[2021-08-04 21:42] memsharded commented on #9365
Isn't https://github.com/conan-io/conan/issues/9336, assigned for 1.40 this feature?

We were discussing to add this to simplify the transition to the 2 profile approach.

[2021-08-04 21:48] memsharded commented on #9372
The bump of a major version, 1.0->2.0 means exactly that: this is a breaking version. Otherwise we would just keep releasing 1.X versions, like we have been doing for the last 3 years.

Breaking is necessary, we need to get rid of bad behaviors, wrong defaults, legacy features and many more. As approved by the tribe, there will be a subset of recipe syntax that will be able to transition from 1.X(

[2021-08-04 23:22] pavlodenysov-vizio commented on #9365
@memsharded I missed that one. Would be great to have it. Thanks!

[2021-08-05 02:47] playgithub commented on #9372
I think it is possible to be continuous, e.g. while a new break change is introduced, it can still work in the old way with a warning, that can have a date for deprecation or not.
My idea is to be focus on one branch for both developers and users.

[2021-08-05 05:22] dvirtz opened #9382 "[feature] can't install config from a remote .tar.gz"
I can install config from a local `.tar.gz` file but not from a remote one.
The problem seems to be that the file is saved with a `.zip` extension and not with its original one.

### Environment Details (include every applicable attribute)
  * Conan version: 1.37.2

### Steps to reproduce (Include if Applicable)
`conan config install <url to .tar.gz>`

### Logs (Executed commands with output) (Inc

[2021-08-05 06:30] lasote commented on #9369
What are you using on the server-side? Artifactory or the conan_server?

[2021-08-05 06:38] lasote commented on #9358
Hi! The packaging is exactly the same, I don't know what you mean.
The difference between all these tools you mention is:

- `CMakeToolchain`: Is a generator that writes a `conan_toolchain.cmake` file containing information about the current configuration, like build type, architecture, and some other things.

- `CMakeDeps`: Is a generator that writes the `XXXConfig.cmake` files for each dependenc

[2021-08-05 06:48] lasote commented on #9365
I missed that discussion too ;)

[2021-08-05 06:55] lasote commented on #9372
It is indeed "possible", but the complexity of the code-base and support will grow forever and the project will fail eventually.

[2021-08-05 07:03] lasote commented on #9375
Sure, let's do it.

Same as the new CMake one:

[code]

[2021-08-05 07:17] blackliner opened #9383 "[feature] Build packages in parallel"
Would it be possible for conan to build packages in parallel? Similar to `colcon`, which just shows the overall status (Like `building packages 4/18` ) conan should know the correct order from the overall build tree.

WHY? it would speed up the total process, since many small conan packages do not saturate higher core CPUs with building (cmake, packaging etc is all single core anyways)

- [x] I've

[2021-08-05 07:40] lasote commented on #9376
Yes, looks like a limitation for the new model, thanks for raising the issue.

I was thinking that the `AutotoolsToolchain` generate method is very simple and might be done manually changing the names (continue reading, there is a BUT):

[code]

BUT we still have a problem with the `conanbuild.conf` file we are writing:

 - The name is always the same (otherwise the build helper doesn't know what

[2021-08-05 07:44] lasote commented on #9382
Yes, it is limited to `zip`. It is not a bug but a missing feature ;)

Thanks!

[2021-08-05 07:57] lasote commented on #9383
Hi! It is a challenging feature but we are doing steps to make the local cache concurrent and being able to do things like that. But we are not there yet. We are introducing a new cache model in Conan 2.0 so we might be able to see progress then.

In the meantime, just in case you don't know there is an environment variable [CONAN_CPU_COUNT](https://docs.conan.io/en/latest/reference/env_vars.html?

[2021-08-05 08:15] blackliner commented on #9383
hey @lasote , thanks for the heads up. I know about that variable, but as we try to stick to the `conan` philosphy of one library per package, those tend to be very small packages with only a few `*.cpp` files, which do not really make my 16 core workstation sweat 😅

So the idea would be to use the power to build those small packages in parallel, hiding all the output (which is shown in case a bui

[2021-08-05 08:17] oranger34 commented on #9377
Yes, I tried this and it works!
`-s poco:build_type=Debug `
Thanks!

[2021-08-05 08:17] #9377 closed, assigned to nobody

[2021-08-05 08:30] ghost commented on #9369
It is JFrog Artifactory version 6.17.0

[2021-08-05 08:39] AntonRechkov commented on #5173
I run into similar issue with conan hang in Windows docker container during conan build stage. Downloads and decompress succeed well, but compilation hang for ever. It's sporadic issue

10:14:13  [1] msvc-14.2
10:14:13  [2] msvc-14.2/rls/bst.l-off/bst.l-off/lnk-sttc/pythn-3.6/thrdp-wn32/thrd-mlt/vsblt-hdn
10:14:13  [3] msvc-14.2/rls/bst.l-off/bst.l-off/bld-no/lnk-sttc/pythn-3.6/thrdp-wn32/thrd-mlt

[2021-08-05 09:22] melMass commented on #9358
Ok ignore me ahah,  I think I've just barely used the possibilities of `cpp_info` and this doc revealed them to me

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#properties
I'm not sure of when I should rely on conan's find_deps()

Very interesting, ok I see the huge benefit of this approach.

---
I think I need to re-read the new documentation fully as I have miss

[2021-08-05 09:22] #9358 closed, assigned to lasote

[2021-08-05 09:37] lasote commented on #9369
It might be an issue with a different time between the server and the client. Currently to know if a revision is newer, Conan reads the `export/conanmanifest.txt`. The first number in the file is the timestamp, so it is compared with the local one (the one in the conan local cache). Could you check if the timestamp (for the conanmanifest.txt of that latest revision) in the server file is older tha

[2021-08-05 09:47] playgithub commented on #9372
Old codes can be deprecated when new alternatives are mature, there can be a period that both old and new coexist.

[2021-08-05 09:57] madebr commented on #9375
I'm not properly versed in Conan's layout model,
but should Autotools follow it too?

[2021-08-05 10:18] franramirez688 commented on #9378
Thanks for reporting it @madebr
I just opened the PR to fix this issue.

[2021-08-05 11:34] ghost commented on #9369
Local conanmanifest content is:
[code]

Server side content:
[code]

The number on server is greater.

Also conan search command confirms this (that locally it is an older version than on server).
Local search:
[code]

server search:
[code]

The UTC time is older for the f88edded68b36aac1ef21c76d179feb47a8e24ad  (that I have locally).

[2021-08-05 12:40] ramisetty1 opened #9385 "jenkins ci automation for myproject dependency graph"
lockfile bundle: i created two lockfiles for 2 different applications. after that i bundle them then i got build order. which lockfile i have to pass in single build pipeline for common dependencies in two applications

[2021-08-05 13:32] xahon commented on #8680
`conan upload --skip-upload` looks weird and misleading. What it does?
Conan download fetches all possible packages, is there a way to fetch only recipe for the package? (Ok, there's `-re` option)

[2021-08-05 13:33] xahon commented on #8680
And i also have to remove a package before issuing an `upload` command

[2021-08-05 14:11] playgithub opened #9386 "[question] conan search/get/info/info are not easy to remember"
Hope it can be more clear for users by better abstraction, thanks.

[2021-08-05 15:30] michaelmaguire opened #9388 "[bug] conan lock create --base accepts version ranges but subsequent conan lock created doesn't"
In a Jenkinsfile we have to perform a 'buildall' CI verification ( https://docs.conan.io/en/latest/versioning/lockfiles/ci.html ) which checks that a package promotion won't break any other packages which depend on it, we must specify the 'universe' or 'distribution' within which to check for downstream breaks.

The workflow describes first creating a `--base` profile-independent lockfile, when us

[2021-08-05 18:59] Paultergeist opened #9390 "[bug] Using --profile:build makes private dependencies disappear from CONAN_PKG:: targets"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.2
  * Compiler+version: N/A
  * Conan version: 1.39.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Sample project available [here](https://github.com/Paultergeist/conan_cmake_private_deps)
In short:
Add private requirement to the recipe
Build without `--profile:buil

[2021-08-05 20:39] raghucsbe opened #9391 "[bug] QNX 7 builds are failing due to the -std=c++11"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac OS 11.3.1
  * Compiler+version: qcc SDP 7.0
  * Conan version: 1.39.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)
Building Alexa Auto SDK for QNX platform on Mac
QNX SDP 7.0 is installed.
QNX profile :
[code]
Command used to build
[code]
It is observed that the conan is  add

[2021-08-05 21:37] memsharded opened #9392 "Expand --require-override to lockfiles"
Nice feature! 👍
I wonder why there is no similar functionality for `lock create` command where it could make sense with version ranges?

_Originally posted by @ytimenkov in https://github.com/conan-io/conan/issues/9195#issuecomment-893268894_

Summary:

Conan 1.39 added ``--require-override``, but only for install and create commands. It would make sense to extend it too to lockfiles.

[2021-08-05 23:12] memsharded commented on #8680
Prepare the upload, do everything that is done before uploading, but skipping the upload: zipping the ``conan_package.tgz``, for example. Also some checks, consistency etc.

Yes, the --recipe option

No idea what you mean, you don't need to remove a package before issuing an ``upload``, if you remove the package, you will not be able to upload it.

[2021-08-06 01:00] SpaceIm commented on #9364
It requires a lot of boilerplate, but you can provide multiple targets with different namespaces in `cmake_find_*` generators: https://github.com/conan-io/conan-center-index/issues/6459#issuecomment-893921257

Though, if `CMakeDeps` could avoid the flaws of `cmake_find_package*` generators regarding multiple namespaces, non-namespaced targets, multiple config files per recipe, variables casing iss

[2021-08-06 05:33] ytimenkov commented on #9392
Yes, I saw the original discussion in #2140 after I wrote that comment :/

Maybe I was too quick and on the second thought it is not what I really want...

The idea I had in mind is that `--require-override` is looks like a way to propagate packages in CI.

I think this is related: #8331.

I remember you suggested to update dependencies by:

1. Clean the cache
2. Install current lockfile.
3. remov

[2021-08-06 05:49] lasote commented on #9365
So I close this one and we can follow the other. Thanks and sorry for the confusion!

[2021-08-06 05:49] #9365 closed, assigned to nobody

[2021-08-06 06:31] lasote commented on #9372
Yes, we will provide many tools in 1.X (so keeping old and new for some time) to ease the transition to Conan 2.0, the same recipe you write in 1.X with these tools (and the tools coming) will work in Conan 2.0 (https://docs.conan.io/en/latest/reference/conanfile/tools.html) But Conan 2.0 will remove old components.

[2021-08-06 06:31] #9372 closed, assigned to nobody

[2021-08-06 06:33] lasote commented on #9375
Yes, I meant that the `conan.tools.gnu.autotools.Autotools` should do something similar to the current CMake one.

[2021-08-06 06:41] lasote commented on #9369
Thanks, so timestamps seem ok.
I cannot reproduce it locally, would you have the possibility to use a conan client from a branch I can prepare? You just need to checkout the branch, create a clean python virtual environment and run `pip install -e .`
I can add some traces in the source code to see what is going on.

[2021-08-06 07:01] lasote commented on #9369
In case you could do it, this is the repo and branch:

[code]

Just repeat the install and paste here the output.

[2021-08-06 07:53] SpaceIm commented on #9202
Another solution:

`conanbuildinfo.cmake` (or maybe `CMake` helper) could just force these variables to a consistent value:

[code]

Problems appear when they are automatically set to `ONLY` by CMake (which seems to be the case when you cross-compile to iOS, but for example when I cross-compile from Macos x86-64 to Macos armv8, I don't have any issue, so I don't even know how CMake set the default

[2021-08-06 09:16] TuringZhu opened #9394 "[question] CLion build can not find header"
I download the conan example: https://github.com/lasote/clion-conan-consumer/

and I run the command:

[code]

it is ok

but when I build with CLion, it tell me the following eror:

[code]

![image](https://user-images.githubusercontent.com/13805470/128488402-66d2a2ea-bc62-48e1-995e-1debab171106.png)

I am a beginner for conan, so who can tell me what should I do for this error

- [x] I've read th

[2021-08-06 09:30] #9378 closed, assigned to franramirez688

[2021-08-06 09:45] memsharded commented on #9392
Hi @ytimenkov

Ok, understood. The thing is that we are exploring new alternatives for lockfiles in Conan 2.0 that will focus on simplifying the use case that you are describing, because it is true that such a flow is complicated.

Then: lets wait a bit to decide on this, until we understand better the future of lockfiles in Conan 2.0.

[2021-08-06 09:57] playgithub opened #9395 "[question] Failed to create package"
## Env
OS: Windows
conan: 1.39.0
profile:
[code]

## Problem
Following the doc
https://docs.conan.io/en/latest/creating_packages/getting_started.html#creating-and-testing-packages

[code]

[2021-08-06 10:00] memsharded commented on #9395
Your conanfile.py didn't declare a ``shared`` option.

For some reason, you are not correctly following the instructions you linked. If you read the recipe it will contain:

[code]
It seems you removed it or something.

[2021-08-06 10:03] playgithub commented on #9395
I've follow the doc strictly, it's `test_package/conanfile.py` which doesn't have
[code]

After adding the option, it works, but why does a executable must have an option `shared`?

[2021-08-06 10:09] memsharded commented on #9395
You added ``shared`` to your profile, that applies to the test_package/conanfile.py.

Options need to be prefixed with the package you want to target, in this case: ``hello:shared=True``, otherwise, they will apply to the downstream consumer, in this case the test_package/conanfile.py one, that doesn't define this option and then it fails as expected.

[2021-08-06 10:21] memsharded commented on #9385
Hi @ramisetty1

It is not very clear what is your issue.

In the documentation it is described how to proceed with a bundle, specifically in https://docs.conan.io/en/latest/versioning/lockfiles/bundle.html#using-a-lockfile-bundle-to-build, it describes how to:

- Call ``build-order`` to get which packages need to be built by the pipeline: ``conan lock bundle build-order lock.bundle --json=build_or

[2021-08-06 10:22] memsharded commented on #9373
``local recipe`` will be very confusing, because this is the recipe that lives in the user folder, before creating the package or exporting.

- local recipe: in the user folder
- cache recipe: In the conan cache
- remote recipe: in the server

So I disagree, it shouldn't be called "local".

[2021-08-06 10:26] playgithub commented on #9395
If downstream doesn't have an option in upstream, is it better to ignore it?

[2021-08-06 10:53] playgithub commented on #9373
If `conanfile.py` is in a user folder, it should be treated as wild,  it's not necessarily for conan.

Generally `cache` should be transparent for users, manipulating cache is something like hacking.

[2021-08-06 12:21] dariusarnold opened #9396 "[feature] Add version() for git scm"
My proposal is to add the method version() to tools.Git. Calling this method would return the Major.Minor.Patch of the found git executable (maybe as a named tuple). These can be used to customize the git commands which are used. As an example, partial cloning (cloning only some files/directories from a repo to save time) is available since Git 2.19.0. If the executable is new enough, partial clon

[2021-08-06 15:08] memsharded commented on #9373
In which world a ``conanfile.py`` is not for Conan? The local conanfile.py in a user folder is one of the most common use cases, a ``conan install .`` or a ``conan create .`` will use the local ``conanfile.py`` in the user folder. And we need a terminology for this, and we are using "local" for this.

I am not telling to manipulate the cache. But when you do a ``conan create`` or a ``conan install

[2021-08-06 15:11] memsharded commented on #9396
Yes, I understand the use case, I wouldn't oppose to such a method, sounds relatively low risk, and could help users, specifically those that need to deal with quite older git versions.

[2021-08-06 15:13] memsharded commented on #9395
No, that could be hiding potential problems, like typos, missing options, etc. The policy is better to raise an error to indicate a problem there.

[2021-08-06 15:46] playgithub commented on #9373
Theoretically, a file out of `.conan` should be treated as an arbitray file.
If change `conan install .`/`conan create .` to `conan install path/to/any-name.py`/`conan create path/to/any-name.py`,
it doesn't need a new concept here.
`conan install` & `conan create` can determine wheather to accept the content of the file.
It is more flexible, the flexibility can bring benifits,  e.g. put recipes i

[2021-08-06 15:53] playgithub commented on #9395
For a recipe, it knows best what it should be. In this case,  option `shared` doesn't make sense for a recipe of an executable. Generally a recipe can accept help from outside, for example default value in this case, but the outside should not enforce a recipe to be less perfect.

[2021-08-06 17:00] playgithub opened #9397 "[bug] option `shared` as True in default profiles not work"
follow the doc: https://docs.conan.io/en/latest/creating_packages/getting_started.html#getting-started

## Env

OS: Windows 10
Compiler: msvc
conan: 1.39.0

## Default profile
[code]

## Edited

For global option `shared`, add 2 lines below to `test_package/conanfile.py` to make it work
[code]

## Problem

The log show that option `shared` is "True", but the result is a static lib, please check th

[2021-08-06 20:41] memsharded commented on #9397
This issue is the same as the previous one. You insist in using ``shared=True`` in your profile, but that applies to the ``test_package/conanfile.py``, not to the package itself. You must use ``hello:shared=True`` if you want the package to be a shared library.

[2021-08-06 20:42] memsharded commented on #9397
Same issues as https://github.com/conan-io/conan/issues/9395, closing it.

[2021-08-06 20:42] #9397 closed, assigned to nobody

[2021-08-06 20:48] memsharded commented on #9373
Sorry, but what you say makes no sense.

All the opposite. Files there are not arbitrary at all. There is a clear layout of folders, files are structured. Getting files there needs a process. Nothing is arbitrary there.

it doesn't need a new concept here.

In both cases, you are using **local** user files. When, as a result of the ``create`` command, the file is copied from the **local** folder,

[2021-08-06 20:48] #9373 closed, assigned to nobody

[2021-08-06 20:51] memsharded commented on #9395
If you are packaging an executable, you don't need the ``shared`` option. But the package created with ``conan new`` (following the docs), is not an executable, it is a library, and it makes sense. You are again confusing the ``shared`` option of the package ``conanfile.py`` with the executable that lives in the ``test_package/conanfile.py`` that **is not part of the package**, it is a different t

[2021-08-06 21:23] memsharded commented on #5173
@AntonRechkov this could be a different issue, as the above seemed more related to buffering of the output, but it eventually finished and did the output, while your issue is that it really hangs, forever.

This might be a difficult issue to debug, if it cannot be reproduced systematically. Did it happen sometime in a a bare Windows (not docker image)? Is it somewhat possible that it is a resource

[2021-08-06 21:26] memsharded commented on #9391
Hi @raghucsbe

We would need the conanfile.py, or even better, a small reproducible example that we could use to test this. The thing is that the injected flags, like stdcpp flags, depends on the used tools. The new integrations in ``conan.tools.cmake`` will be different than the previous ``cmake`` or ``cmake_find_package`` generators, and different build systems, like ``Autotools`` will also have

[2021-08-07 02:17] playgithub commented on #9397
Why doesn't `shared=True` in the default profile take effect in this case?

[2021-08-07 02:24] playgithub commented on #9373
Generally cache should be transparent to users, for conan, the concept of cache is special.
If treating `conanfile.py` in user folder as "conan local", the `conanfile.py`s in `.cache` folder are also `conan local` while they also belong to "conan cache".

[2021-08-07 02:29] playgithub commented on #9395
In this case it doesn't make sense for `test_package/conanfile.py` to have an option `shared`.

[2021-08-07 03:49] datalogics-kam opened #9398 "[bug] Compatible package failure if a package and its requirement both build_require the compatible package"
Given two packages, `pkg-a` and `pkg-b` (which requires `pkg-a`), and each build_requires `doxygen/1.9.1`.

If building with `build_type=Debug`, Conan plans to use the compatible Release package for `doxygen/1.9.1`, but lists both packages in the build plan, and then complains of a missing folder.

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.

[2021-08-07 10:04] ghost commented on #9396
I'm interested in taking this on, can sb assign me or @dariusarnold  will work on it?

[2021-08-07 18:17] leha-bot opened #9399 "[feature] RFC: Add support for `conan new` templates’ documentation"
The Conan templates could have any count of templates arguments which could be scattered on different files, and, therefore, are hardly discoverable by user. But we could add a config file with all template arguments and its brief descriptions. This file might be located here: `~/.conan/templates/new/template_name/help.yml` - and it might look like this:
[code]

From Conan’s implementation point o

[2021-08-08 14:45] planetmarshall opened #9400 "[question] can I create a dependency only lockfile for a package?"
If I have a package with a `conanfile.txt`, then the lockfile created contains the dependency graph of the dependencies, as I would expect.

If however I am working on a package that has a `conanfile.py`, then the lockfile contains the dependency graph **in addition** to the package itself.

It would be useful in the latter case to only create a lockfile for the dependencies - specifically, a depe

[2021-08-08 14:59] dariusarnold commented on #9396
You are free to take it. I just suggested it without a concrete plan to start working on it.

For feature parity maybe it would be useful to implement it for svn as well, but I dont know much about it.

[2021-08-09 07:22] jsteinhofff commented on #7737
Same problem here when using ROS in a cross-compilation scenario. It seems it always comes up when packaging existing 3rd party stuff which mixes up content intended for build/host contexts. I dont think this too much of a special case, but rather is part of the beautiful property of conan: we can **easily** take existing stuff and wrap it as conan package and therefore extend the conanized kingdo

[2021-08-09 07:42] AntonRechkov commented on #5173
Yes, you right, that's different issue. I increased memory to 16Gb, but it didn't helped. What did help indeed is to decrease number of processors. Issue reproducible with 44 cores, but limiting CPU resources(to 4 cores) makes hang go away.

[2021-08-09 08:01] franramirez688 commented on #9398
Hi @datalogics-kam
I've been trying to reproduce the error locally but it was impossible for me, sorry. Let me show you the output:

[code]

Have you tried to delete the complete doxygen-cached folder? I'm not sure what's going on, so, let's delete the cached one and the current `conan-compatible-package-bug/build/` folder created by conan in your local repo to have a "new" fresh build:

[code]

[2021-08-09 08:02] jgsogo commented on #7737
Hi, @jsteinhofff. I'm a bit disconnected from the current evolution of the build/host environments, build-helpers, and the new paradigm of propagating information aiming to Conan v2. I can only tell about the original conception and how it is intended to work... which is what this issue is about. Things are changing in the new versions and they are aligning towards the design for Conan v2. I encou

[2021-08-09 08:22] franramirez688 commented on #9394
Hi @Turing-Chu
Have you followed the CLion integration guide? https://docs.conan.io/en/latest/integrations/ide/clion.html
Asking only to be sure that you applied all the necessary steps 😁

[2021-08-09 09:10] SSE4 commented on #9295
it seems like it needs libraries from Windows SDK:
[code]
have you installed them in your image? I don't think clang redistributes Microsoft libraries.

[2021-08-09 09:11] SSE4 commented on #9295
linking to the https://github.com/conan-io/conan/issues/1839

[2021-08-09 11:10] ghost opened #9402 "[bug] Meson ignores x86_64 setting and builds a package as x86"
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 16.10
  * Conan version: 1.39.0
  * Python version: 3.9.6

### Steps to reproduce

I'm trying to build the `libepoxy` package. It internally uses Meson, I'm targetting `x86_64`, but somehow Meson ignores this and builds the package as `x86` which later leads to a linking error when building my project.

###

[2021-08-09 15:19] datalogics-kam commented on #9398
The state that triggers the bug is when there's a Release Doxygen binary but there isn't a Debug Doxygen binary. I had that state due to some local conditions, and I think I can improve the test case.

I updated the Github repo to set `doxygen:enable_search=False` so that there are no prebuilt binaries coming from CCI; also ensured that my remote list was talking to Conan Center directly, without

[2021-08-09 15:22] datalogics-kam commented on #9398
In order for the bug to happen, you have to have a condition that causes this:
[code]
during the `conan install` for `pkg-b`. Thats when there is not a Debug doxygen package, but there is a Relase one.

Thanks for looking at this!

[2021-08-09 16:15] ghost opened #9403 "[bug] export-pkg doesnt invoke package_info"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: -
  * Conan version: 1.39
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)
[code]

Run above conanfile with
`conan export-pkg "path\to\file.py" --force`

Exception is not thrown, if I use create instead of export-pkg it is thrown.

### Logs (Executed

[2021-08-09 18:33] memsharded commented on #9403
Hi @GitHubAre

This is not a bug. The ``package_info()`` method is information exclusively for the consumers. When calling ``conan export-pkg`` there are no consumers, so it is not necessary to call this method at all. The case is different from the ``conan create``, which will call the ``package_info()`` method, because the information for consumers is necessary in case there is a ``test_package/

[2021-08-09 18:35] memsharded commented on #9403
Sorry, wrong button, I didn't intend to close it. Please let us know if the above makes sense, thanks!

[2021-08-09 18:55] memsharded commented on #9396
Would be good, but not strictly necessary, only if SVN users demand it. So don't feel obligated if you don't have svn or knowledge about it.

[2021-08-09 18:55] #9331 closed, assigned to lasote

[2021-08-09 20:12] ghost commented on #9403
Hello @memsharded

There is a documentation link https://docs.conan.io/en/latest/creating_packages/existing_binaries.html
I also agree with the documentation and it actually is something user might want to use.
Documentation mentions `package_info `together with `export-pkg`

My use case is that I package binaries that we build on server and we use conan to store multiple binary packages. I wanted

[2021-08-09 21:17] peter-moran commented on #2956
Is this satisfied by https://docs.conan.io/en/1.32/creating_packages/toolchains/cmake.html?

[2021-08-10 01:27] TuringZhu commented on #9394
@franramirez688  thk for your help.

sometimes i run conan install it tell me the following error:

[code]

[2021-08-10 05:44] AndreyMlashkin commented on #9295
Thanks for the hint, that brings me a bit further to this error:

Configuring environment variables
Using Conan toolchain through C:/Users/ContainerAdministrator/.conan/data/hello/0.1/_/_/build/953141255571f930532512aaa0e30f6ab1eec04c/build/generators/conan_toolchain.cmake.
-- Conan toolchain: Setting BUILD_SHARED_LIBS= OFF
-- The CXX compiler identification is Clang 12.0.0 with GNU-like command-l

[2021-08-10 06:09] steffenroeber opened #9404 "[feature] Ignore eol while conan upload"
We use Jenkins to create and upload Conan packages on different platforms (Win/Linux).
If in a Jenkins pipe line the recipe is checkout, git changes the line endings depending on the system settings,
If now the recipe is uploaded with different eol on different machines, the former is always outdated.
May it be possible to check the eol while upload and ignore it optionally?

[2021-08-10 06:53] franramirez688 commented on #9394
@Turing-Chu you're welcome! 😁

Yeah, that's quite normal when you're consuming any recipes. Each one sometimes has certain configurations which the recipes are not supposed to work for.
For instance, your dependency [apr/1.7.0](https://conan.io/center/apr?tab=recipe) has this piece of code:

[code]

As you can see, the `configure` method checks all the invalid configurations and raises those error

[2021-08-10 07:00] jsteinhofff commented on #7737
Hi @jgsogo , thanks for your quick response! I am not completely sure how to read it though, but i believe i understand that you mean that contexts in conan v1.x are not just what i wrote above (encapsulating a set of settings to identify packages for either build or host), but rather you also see that information provided by the packages is contained in such a context.

Your example with `conan i

[2021-08-10 07:29] jgsogo commented on #7737
In the generic scenario you will always have two different packages, one for the _host_ context and another for the _build_ context, because settings are different and generated binaries are different (building a library that uses protobuf will require `protobuf` package in the _build_ context to run `protoc` and also `protobuf` package in the _host_ context to link with the library). The recipe i

[2021-08-10 07:34] TuringZhu commented on #9394
I solved this problem for png: reload cmakefile, but conan example poco depend on apr/1.7.0 and can not run

[2021-08-10 07:34] #9394 closed, assigned to nobody

[2021-08-10 08:00] jgsogo commented on #2956
It should be. I'm closing this issue as it is based on old implementations that have been superseded by new toolchains.

Issues and feedback (always more than welcome) should relate to these new helpers.

Thanks!

[2021-08-10 08:00] #2956 closed

[2021-08-10 08:12] benet96 opened #9406 "[question] use conanfile.py var in profile env section"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
## My build system download tool chain independently and config by Linux environment value.
In my build system, we compressed pre-built tool chains (GCC or LLVM) and saved them to some cloud storage, which could be downloaded by python SDK or link. I use profile.txt to save ENV of comp

[2021-08-10 08:39] memsharded commented on #9406
Hi @benet96

I would like to ask first: Is it a requirement that you keep that toolchain stored in that cloud storage? I'd say it might be better aligned if that toolchain was stored in a Conan package directly. There are different ways to do this (https://docs.conan.io/en/latest/creating_packages/existing_binaries.html), but depends on your requirements.

In no case you should be using ``source()

[2021-08-10 08:47] memsharded commented on #9404
This might be a duplicate or very related to:

- https://github.com/conan-io/conan/issues/8324
- https://github.com/conan-io/conan/issues/8391

In short: Conan will not modify or handle line endings. This can have from annoying behaviors (like changing revisions or not changing revisions when expected) to buggy behaviors (not uploading something that really changed and needed to change with a line

[2021-08-10 08:53] memsharded commented on #9403
Yes, the ``package_info()`` is totally necessary! The documentation is describing it, to make it clear that the package will not work unless this method is correct. That doesn't imply that it will be called when the ``conan export-pkg`` is done, but later, when the package is used. Most likely there were some issues with users reporting that their packages created with ``export-pkg`` didn't work w

[2021-08-10 09:09] benet96 commented on #9406
Thank you, @memsharded . Yes, tool chain packages are huge, Our team compress Compiler+Libc+Binutils+Sysroot as a bundle (Not good, I will try to fix it) of 600 MB tar ball.
Currently, I set absolute path in profile for temporary, Conan pass env values and call CMake, it's really useful and neat because to select profile means to select tool chain.

Does it mean I should write a conanfile as a rec

[2021-08-10 09:13] planetmarshall commented on #9400
A bit of context for this - I'm trying to make use of the [caching feature](https://github.com/actions/cache) available on Github Workflows and Azure Pipelines. At the moment I have something like this:

[code]

That seems to work pretty well provided the version number of the package's `conanfile.py` doesn't change. However, we have some logic which calculates the version number based on git hist

[2021-08-10 10:32] sschuberth commented on #8848
I wonder whether this use-case could be solved by restructuring the storage path to include a directory level named after the remote at the top level. That way, the storage could also cope with packages that happen to be named (and versioned) the same, but actually are different packages from different remotes.

[2021-08-10 10:37] ramisetty1 commented on #9385
im not getting the build order properly. i have different configurations for my dependencies and some of them have release configuration only. i created base lockfile for both my applications. after that i obtain new lockfile for release and debug configuration. some of the dependencies have only release configuration only. when i run conan lock create conanfile.py --lockfile=app1_base.lock --lock

[2021-08-10 12:41] #9404 closed, assigned to memsharded

[2021-08-10 13:58] Radrik5 opened #9409 "[question] Sharing ~/.conan/data among Docker containers"
We're going to use Docker containers to provide stable build environments for C++ projects. Third party dependencies are pre-built and packaged into Conan packages. I'd like to share Conan cache among containers in order not to download packages each time new container is started. But I don't want to share Conan settings (profiles, remotes, etc.) as it's a part of build environment.

Is it possibl

[2021-08-10 16:05] #9403 closed, assigned to memsharded

[2021-08-10 16:49] benet96 commented on #9409
Perhaps you could set ~/.conan directory with `-v ~/.conan:~/.conan` in docker parameters. Conan will only check ~/.conan as local cache of remote query and local build. As long as your package is not sensitive with OS distro because docker will probably cause distro-invovled incompatible.

[2021-08-10 21:48] ohanar commented on #9304
So we are starting to look at the OneAPI toolkits. For the classic compilers, I think it makes sense to keep the existing scheme at least for conan 1.x, that isn't probably as necessary for Intel's new compilers. I can probably write up a pull request for that within the next few days.

@memsharded Regarding `compatible_packages`, we indeed stopped using it. It just isn't ergonomic -- every packag

[2021-08-11 06:02] SeanSnyders commented on #9112
Hi @lasote

I'd like to get back to point 2 from my comment https://github.com/conan-io/conan/issues/9112#issuecomment-865511576: Release being generated when Debug build_type is specified for dependencies.

I am having issues with this where I specify Debug and have GTest/1.10.0 as a (build) dependency and, as in the screenshot in the previous comment, it generates a mixed situation for GTest. Th

[2021-08-11 06:51] czoido commented on #9409
Hi @Radrik5,

Conan cache is not concurrent so is not recommended to share the cache between multiple instances (by the way, we are working in a new cache for 2.0 that is concurrent). You may wan to have a look at the downloads cache feature that will prevent downloading again the same packages: https://docs.conan.io/en/latest/configuration/download_cache.html
Also, regarding the cache concurrency

[2021-08-11 07:41] dvirtz commented on #8346
since profiles now support jinja, why not let conanfile.txt have it as well?

[2021-08-11 07:43] lasote commented on #3230
We are going to try to take a look at this but still not sure about the best approach.

[2021-08-11 08:18] dmn-star commented on #9295
Clang on Windows is not self-sufficient. Why not just use clang-cl, you have to install VS anyway?

[2021-08-11 08:35] SSE4 commented on #9295
[code]
these files are not part of the Windows SDK, they are Visual Studio runtime libraries. I don't know if they could be installed without Visual Studio (or Visual Studio build tools).

[2021-08-11 08:57] dmn-star commented on #9295
The import lib for C runtime library (UCRT) is included in Win SDK.

https://docs.microsoft.com/en-us/cpp/c-runtime-library/crt-library-features?view=msvc-160

[2021-08-11 09:04] Radrik5 commented on #9409
Hi @czoido,

Thanks for the links!

Concurrency limitations described in https://docs.conan.io/en/latest/mastering/custom_cache.html#concurrency are perfectly acceptable for dev boxes. I don't expect concurrent operations on a regular basis and it's fine if they fail in some rare odd cases.

Download cache is not enough because it won't have binaries built locally with `--build missing`. We are go

[2021-08-11 09:11] memsharded commented on #9409
A note @czoido, concurrency will only be limited to same computer concurrency. All the synchronization mechanisms that we can use (with a reasonable approach), only works for the same machine (semaphores, mutexes, file locking.... only works at the machine level, not inter machine). So anything that means that the same cache is shared among different containers will not be concurrent safe.

Assumi

[2021-08-11 09:33] Radrik5 commented on #9409
@memsharded thanks for the answer!

Regarding concurrency, Conan uses fasteners which uses file system locks which work across containers on the same machine because they share the same Linux kernel and access the same files via bind mounts. So at least in current implementation such locks should work. Do you mean that I shouldn't rely on this because it's an implementation detail and may change i

[2021-08-11 09:52] AndreyMlashkin opened #9410 "[feature] MacOs version shall be a part of package ID"
I am getting such errors, when local MacOs machine version does not match to conan CI MacOs version.
To Avoid such situations, it would be good to make MacOs version a part of package ID.

[146/2516] Linking CXX executable qtbase/lib/moc
ld: warning: object file (/Users/rr-admin/.conan/data/zlib/1.2.11/_/_/package/647afeb69d3b0a2d3d316e80b24d38c714cc6900/lib/libz.a(compress.o)) was built for newer

[2021-08-11 10:13] memsharded commented on #9409
Yes, we are exploring other synchronization mechanisms besides fasteners for 2.0. We might keep with fasteners, but this is unknown atm.

[2021-08-11 10:18] memsharded commented on #9410
They are already part of the package_id:

[code]

You only need to define their values in your ``profile`` file, to be taken in the ``package_id`` automatically and generate different package-IDs for different versions.

[2021-08-11 10:22] AndreyMlashkin commented on #9295
I want to build in Docker and size of an image is very important. Installing minimal Visual Studio takes 5-8GB. It's not acceptable.

[2021-08-11 11:33] franramirez688 commented on #9398
Finally, I was able to reproduce the error locally but I need another opinion to say if it's actually a bug or it could be a problem from `doxygen` recipe itself.

Basically, the problem is coming from the following `package_id()` implementation (https://conan.io/center/doxygen?tab=recipe):

[code]
As you can see, the problem is coming from that line `compatible_pkg.settings.build_type = "Release"

[2021-08-11 12:51] ghost opened #9412 "[bug] Downloading a big package fails with Incorrect Content-Range header"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: clang 9
  * Conan version: 1.39.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
* Simply trying to run `conan install android-ndk/r21d@` yields the error, the download fails, keep retrying and failing the same way.
* The same error happens with

[2021-08-11 13:39] ChaotX opened #9413 "Conan remove by package usage frequency"
I maintain CI agents. On each machine conan cache size grows really fast. I have no clue which packages is used recently, but deleting all the cache wastes a bunch of bandwidth resource, burns out ssd's and lengthen build times.
I'd really like to have a feature to delete packages not used since X days.
More advanced implementation could allow to set a cache size that is automatically deletes the

[2021-08-11 15:37] kenfred opened #9414 "[question] CMakeDeps + CmakeToolchain collision with package find modules"
Is there a way to tell `CMakeDeps` to not generate a config file for certain dependencies from the consumer side? Also is there a way to make the `CMakeToolchain` add the package paths to the module path, like `cmake_paths` generator did?

I'm using the package for `pybind11`, which ships its own `pybind11-config.cmake`, which contains useful macros. I'm also seeing a file by the same name generat

[2021-08-11 19:16] #9409 closed, assigned to nobody

[2021-08-12 03:45] buffge commented on #6252
the demo should to be lib, \*.so\* -> ./bin

[2021-08-12 03:57] SeanSnyders commented on #9112
If I read correctly, Conan's build_modules is picking up the first installed configuration of GTest.
So, I did `conan remove gtest` before I did the same `conan install` command above with `build_type=Debug`, and still conan downloaded the Release version of GTest (`gtest/1.10.0:5ad274d83035c78ba2b205e6cf4f1b317aee8e05`)

![image](https://user-images.githubusercontent.com/1384135/129132040-86ecbea

[2021-08-12 07:31] lasote opened #9415 "[bug] base source folder in "conan build" command"
With a project with external sources:

- conanfile.py

I want to create a subfolder "tmp" and build everything locally:

[code]

When running the "conan build", the base source folder is the root project and not the "tmp" folder, so it is needed to run:

`conan build .. -if=install -sf=.`

Might be a bug or might be breaking behavior (look tests), anyway, take a look at it for Conan 2.0

[2021-08-12 09:40] blackliner commented on #6244
Also would like to see first class support. For now I get "binary compatibility" with this:
[code]

It still lacks check for the nvcc version itself, but as this usage is within closed source, we have control over the installed/active cuda-toolkit

[2021-08-12 11:50] stevenvandenbrandenstift commented on #8587
Hello, I just wanted to ask if any process is made on this. Since we have the same issues in our projects?

[2021-08-12 12:41] dvirtz opened #9417 "can't use c++17 with gcc 5"
installing with `compiler.cppstd=17 compiler=gcc compiler.version=5` fails even though GCC 5 supports c++17.
This is because the checks in https://github.com/conan-io/conan/blob/fb5004d5f5fbfbb097cd03a7a6c2b85c282beefc/conans/client/build/cppstd_flags.py#L256 are done with minor versions and `'5' < '5.1'`.
On the other hand, setting `compiler.version=5.4` fails due to https://github.com/conan-io/c

[2021-08-12 12:55] lalit-g-deepr opened #9418 "[Exclude third party dependency from conan]. I am using aws-sdk-cpp/1.8.130 which imports curl with itself but I want to use curl which is available on my system.]"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-08-12 13:00] DdOtzen commented on #8587
Sadly No.

[2021-08-12 13:25] atrelinski commented on #3230
There is one more business case to consider.

If the library is provided without the soname and it is signed, You actually are in the dead-end position when this library is consumed by several other libraries.
Case which I am talking about is when You are trying to migrate to Conan not a particular library but whole tree dependent libraries, where one of them must be consumed as binary (license or

[2021-08-12 16:50] ohanar commented on #9304
Okay, looking at it a bit more, there are more differences between the compilervars vs setvars than I initially thought. I'm not sure a simple patch will be sufficient for the classic compilers, and in particular I think that #9026 will need to be addressed because of the way they have structured things.

[2021-08-12 17:38] Renari opened #9419 "[bug] Can't set SUDO_ASKPASS environment variable in conan profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mint 20
  * Compiler+version: gcc 10
  * Conan version: 1.39.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Set `SUDO_ASKPASS` in your profile, example:
[code]

Attempt to install a package a package that installs system requirements, for example sdl2 from bincrafters in a termi

[2021-08-12 17:44] Renari commented on #9418
You can make your own `curl/system` package and override the curl that is being used by `aws-sdk-cpp/1.8.130`.

[2021-08-12 18:10] Renari commented on #9417
This is probably disabled because not all features of C++17 are supported until GCC7.

https://en.cppreference.com/w/cpp/compiler_support#cpp17

[2021-08-12 18:13] Renari commented on #6252
I think the underlying issue is that inside the `imports` block of a conanfile the `preserve symlinks` option isn't available.

[2021-08-12 18:26] SimonBrazda opened #9420 "[question] Multidirectory project layout and setup with unit tests"
I am trying to set up my project using Conan and Cmake. My goal is to have a unit tested library package. How do I link everything together via Cmake and Conan? I think the issue is somewhere in my CMakeLists.txt files but I do not know where. What I have so far:

Project structure
![image](https://user-images.githubusercontent.com/55909434/129243186-a63d46a0-dab7-4928-a34d-c780c559f2eb.png)

When

[2021-08-12 18:48] dvirtz commented on #9417
but it's enabled with 5.1

On Thu, 12 Aug 2021, 21:10 Arie Miller, ***@***.***> wrote:

[2021-08-12 18:52] uilianries opened #9421 "[bug] Special character + breaks DYLD_LIBRARY_PATH"
When creating an exotic recipe name which contains `+`, Conan doesn't forward `DYLD_LIBRARY_PATH` and keep it empty, failing when linking the test package.

Related to https://github.com/conan-io/conan-center-index/pull/6828

/cc @SpaceIm

### Environment Details (include every applicable attribute)
  * Operating System+version: OSX
  * Compiler+version: apple-clang
  * Conan version: 1.39.0
  * P

[2021-08-13 05:52] jsteinhofff commented on #7737
Hi @jgsogo i had a look at the protobuf package in conan center and i understand how/why it works when consuming it twice, once as build_requires and once as requires. Still i am not completely convinced that this approach will work for our use-cases, and i see two reasons:
* the packages we are talking about are 1 . 2 GB in size, uploading them twice with same content is really hard to my stomach

[2021-08-13 06:30] jgsogo commented on #7737
Sure, your concrete use case might have some restrictions that make it hard/easier to approach with this perspective... but for sure we would need more details to understand it and maybe we can give some advice. I just wanted to comment about your two bullet points:

If different configurations compute different packageIDs, there will always be two different Conan packages, this is not related to

[2021-08-13 06:52] RobertBerger commented on #7431
Just wanted to ask what is the status currently with conan/yocto, since this seems to be open for more than a year. I am after workflow and experience with conan/yocto. Also I do not quite understand the difference with respect to changed symlinks between eSDK and SDK - and why this is an issue ;) You install the SDK somewhere and that's it. I would be happy to document some workflow, once I get i

[2021-08-13 08:42] memsharded commented on #9418
Hi  @lalit-g-deepr

To detail a bit more on @Renari response (thanks!). First, it is important to highlight is that there is no possible "magic" replacement of Conan dependencies with system ones. This is not doable, if it was easy to do it, then dependency management for C/C++ would be trivial and not require a package manager.

Said that, there could be different approaches to this:

- You can f

[2021-08-13 09:04] memsharded commented on #8587
Hi there!

I think there are different concepts in the above discussion: versioning and stages.

First about versioning, using explicit versions like ``1.3.0-fixA.2.`` have some advantages and challenges:

- An advantage is that it is completely explicit, encoded in the package reference.
- But to be used by consumers, it would be necessary to make it semver compliant. In this case, it seems it ha

[2021-08-13 09:10] memsharded commented on #6244
@Hopobcn I am very sorry that https://github.com/conan-io/conan/pull/6286 stayed there for that long without handling. It seems it being a draft + not passing CI put this low on the backlog and it fell through the cracks.

The thing is that I would really like to have better support for nvcc in Conan, and probably going small step by step could help with this. I think that these steps could be:

-

[2021-08-13 09:23] lalit-g-deepr commented on #9418
Thanks @memsharded I would try these approach, seems promising.

[2021-08-13 09:23] #9418 closed, assigned to nobody

[2021-08-13 12:50] Kidsunbo opened #9424 "How to export definitions to consumer?"
I have a header only library and I would like to write a recipe for it.

It's a web server and can be configured by `ENABLE_SSL` to handler the https request. I would like to make it configurable with `options` so the consumer can configure it in their `conanfile.txt`.

I know how to use options to manage the dependency but I have no idea how to export the definition so that the code wrapped by th

[2021-08-13 12:57] madebr commented on #8290
Half-yearly reminder that this feature-request/bug exists :wink: .

I just checked the new `conan.tools.gnu.AutoToolsToolchain` and it has the same problem:
https://github.com/conan-io/conan/blob/c3fc425871149b12a1d12153bed90a06a3d20132/conan/tools/gnu/autotoolstoolchain.py#L49-L52

[2021-08-13 13:35] Kidsunbo commented on #9424
Oh god, cpp_info is for this purpose. Thank you guys for this wonderful tool.

[2021-08-13 13:35] #9424 closed, assigned to nobody

[2021-08-13 14:04] memsharded commented on #9424
Hi  @Kidsunbo

yes, exactly that, I guess you saw that doing something like ``self.cpp_info.defines = ["xxxx"]`` in your ``package_info()`` of your recipe will propagate that definition to consumers of the package.

You are very welcome, happy to hear that you like Conan! 😃

[2021-08-13 14:18] memsharded commented on #6765
short_paths feature will be removed in Conan 2.0, so this is unlikely to be implemented for 1.X, lets close it.

[2021-08-13 14:18] #6765 closed

[2021-08-13 14:24] memsharded commented on #6345
This was done some time ago, for some reason this issue was not closed.
Lockfiles already support the ``--base`` argument, that allow to capture lockfiles with only package reference and revisions, but without package-id, package revisions or profiles, so these lockfiles are generic for any configuration, and can be used to instantiate any configuration specific lockfile later. We keep iterating t

[2021-08-13 14:24] #6345 closed

[2021-08-13 14:26] memsharded commented on #7085
A new mechanism is already in place "modular user custom commands" for Conan 2.0, already merged to develop2, so this feature can be considered done.

[2021-08-13 14:26] #7085 closed, assigned to nobody

[2021-08-13 14:30] memsharded commented on #8703
Related https://github.com/conan-io/conan/issues/5159

[2021-08-13 17:51] stevenvandenbrandenstift commented on #8587
In our case we have a lot of libraries and binaries that then get combined to form a firmware (a linux based rootfs).

The thing is we want our ci to be faster by only rebuilding the parts that changed (and everything that depends on these conan packages).

So if u understand this correctly I think you suggest the following steps:

1) when a conan package is changed and commit to the ci system ->

[2021-08-13 17:58] stevenvandenbrandenstift commented on #8587
Is then in essence explained by https://docs.conan.io/en/latest/versioning/lockfiles/build_order.html example?

[2021-08-13 20:16] boussaffawalid opened #9425 "[bug] self.folders.generators does not work with virtualrunenv"
I tried the new layout feature to set `self.folders.generators`
[code]

* it works as expected with `CMakeDeps`: files are generated in **generators** directory
* it DOES NOT WORK with `virtualrunenv`: files are still generated in the root build directory

### Environment Details (include every applicable attribute)
  * Operating System+version: windows 10
  * Compiler+version: msvc 16.
  * Conan

[2021-08-13 21:21] michaelmaguire opened #9426 "[question] Support for atomic bulk promotion using lockfiles CI"
# Summary

How can we use the lockfiles CI technique documented in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html to atomically build 2 or more packages for promotion?

# Background

With much very appreciated help from the Conan team, we have implemented a lockfiles-based CI following the example in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html .

As we are in a large

[2021-08-14 00:25] SpaceIm opened #9427 "[question] CMakeToolchain: Support for find_library(), find_path(), find_file(), find_program()"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Do you plan to add proper packages paths in `CMakeToolchain` to support:
- `find_library()` of libraries in host context (add `lib_paths` of host context packages in `CMAKE_LIBRARY_PATH`?)
- `find_path()` and `find_file()` of headers in host context (add `include_paths` of host contex

[2021-08-14 02:32] prince-chrismc commented on #3972
👋 Would it be possible to get an update on this issue please? It's tagged for Conan 2.0 and I haven't seen anything in the release notes but maybe it's sneaked past

[2021-08-14 14:13] redradist commented on #6835
@memsharded According the feed back from community in conan-center-index https://github.com/conan-io/conan-center-index/issues/6149#issuecomment-877837283 we need to discuss it here

[2021-08-14 15:00] memsharded commented on #9427
Hi @SpaceIm

Quick question, I guess it will be necessary to add the full paths to the "bin", "lib" subdirectories inside the packages, and it will not be enough to add the root package folders to CMAKE_LIBRARY_PATH et al?

This would feel a bit in the wrong place for ``CMakeToolchain``, recall:

- Toolchains are logic about the current configuration: mapping Conan settings, options, etc, of the c

[2021-08-14 15:06] memsharded commented on #9425
Hi @boussaffawalid

Please check the warning note in the docs: https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html

The legacy generators will not fully support the new ``layout()``.

Then, please try with the new ``VirtualRunEnv`` generator: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html

[2021-08-14 15:13] memsharded commented on #6835
Hi @redradist

I think there were some misunderstanding. I am saying that this doesn't need to be a client feature, because it is already possible to use toolchains, compilers, etc. inside Conan packages with the Conan client. We don't need to implement this feature, it is already implemented. Have a look to the https://conan.io/center/mingw-w64 package, that can already be used to use Mingw in Wi

[2021-08-14 15:22] SpaceIm commented on #9427
Maybe, but root package folder is more appropriate for `CMAKE_PREFIX_PATH`. See for example https://cmake.org/cmake/help/latest/command/find_path.html, they explain where `find_path()` scans files. Basically they look in `${CMAKE_PREFIX_PATH}/include` and `CMAKE_INCLUDE_PATH`.
I haven't suggested to add root package in `CMAKE_PREFIX_PATH`, because you likely want `find_program()` to discover build

[2021-08-14 16:51] #9395 closed, assigned to nobody

[2021-08-14 19:16] redradist commented on #6835
@memsharded Gatcha, but I am talking about managing toolchain with ability to generate toolchain file for cmake
You are taking about building package with external compiler ...

But how to find this compiler ... to build with it ... there more than just `build_requires` option in package needed

[2021-08-14 20:10] PengolodhGoedath commented on #9420
As far as I can tell there is one piece of information missing in both conanfile.py files: Which files should conan use for building the package (and thus export)?

There are multiple ways to do this, the most common ones are using the `scm` or `exports_sources` attributes. By adding `exports_sources = "CMakeLists.txt", "src/*", "test/*"` to the top-level conanfile.py and `exports_sources = "CMake

[2021-08-14 22:49] madebr opened #9428 "[feature] tools.ftp_download's are not cached"
The current `tools.ftp_download` implementation does not support caching.
This means that a repeated call to `tools.ftp_download` will always connect to the internets.
It would be nice if `tools.ftp_download` also received support for checking hashes.
Even better would be (imho) to integrate it into `tools.download`/`tools.get`.

https://github.com/conan-io/conan/blob/c3fc425871149b12a1d12153bed90

[2021-08-15 01:58] madebr commented on #9412
I have hit this problem as well: https://github.com/conan-io/conan-center-index/issues/6672

[2021-08-15 03:09] sinall opened #9429 "[question] How to use `conan imports` to copy dlls to specified folder?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm using conan 1.36 on Windows 10 with Visual Studio 2019.
I want to copy dlls into `./x64/Debug` folder, so I use command `conan imports . -if conaninfo/Debug -imf ./x64/Debug`, but it copys dlls into `./Debug` not `./x64/Debug`. Is there a way to copy dlls into specified folder?

[2021-08-15 03:17] #9429 closed, assigned to nobody

[2021-08-15 03:18] sinall commented on #9429
The actual actions for `imports` are defined in conanfile.py rather than command line.

[2021-08-15 04:58] playgithub commented on #9373
@memsharded

I have tried to understand your design:
A local `conanfile.py` as a recipe outside `.conan` belongs to `conan local`,
and `.conan` as `conan cache` is as cache for `conan local`.
For the recipe is essential, all others can be considered as cache, I have to say no problem for `.conan` as `conan cache` when usderstanding it this way.

Problems:
* For the concept of `cache`, generally if

[2021-08-15 08:41] ghost commented on #9412
Ah I had missed this one. Closing this as this is the exact same issue.

[2021-08-15 09:02] madebr commented on #9412
You can keep this issue open.
I don't know whether the issue is with Conan or Conan center.

[2021-08-15 14:07] its-K opened #9430 "Cross building boost for android"
## Boost Cross compilation for Android using NDK
When cross compiling boost using conan for android i got build error.
Here's my conan profile
[code]

**And the error is**
[code]

[2021-08-16 05:52] lasote commented on #9402
Are you running in an `x86` machine or is it `x86_64`?

[2021-08-16 06:04] lasote commented on #9402
I've found this: https://github.com/mesonbuild/meson/issues/6128
If the machine is `x86_64` it might be the cause, try to upgrade the meson tool to the latest version.

The `Meson` build helper that is used by the `libepoxy` is not managing the "cross-building" at all, we introduced a [new one more complete](https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html) that will be eventua

[2021-08-16 06:09] lasote commented on #9410
I assume by the "thumbs up" that the issue can be close. Thanks!

[2021-08-16 06:09] #9410 closed, assigned to nobody

[2021-08-16 06:33] lasote commented on #9412
I cannot reproduce nor in Ubuntu or OSX. I even tried to cut the connection and then restore and the download succeeded.

[2021-08-16 06:46] lasote commented on #9413
EDIT:
Conan 2.0 will probably support that, take a look at [this](https://github.com/conan-io/conan/issues/7727) issue. I will close this as a duplicated.

In the meantime, it could be done with a [hook](https://docs.conan.io/en/latest/reference/hooks.html). You could maintain a table of package references with a timestamp and update it on a `post_download_package` call. Then in a separate schedul

[2021-08-16 07:05] HassanNawazish1 commented on #2724
I have the same issue
ConanException: replace_in_file didn't find pattern
is there any solution
what should we place is PROJECT(    )

[2021-08-16 07:30] lasote commented on #9414
Hi,

You could remove the config file after calling `CMakeDeps(self).generate()` in your `generate(self)` method.
Otherwise from the dependency recipe it should adjust `self.cpp_info.set_property("skip_deps_file", True)`

This could be tricky depending on the macros, but the recipe could package only the macros in a different file and then adjust `.set_property("cmake_build_modules", [os.path.join

[2021-08-16 07:35] lasote commented on #9417
Thanks for reporting. I think this is a Conan bug, thank you for reporting.

[2021-08-16 07:48] benet96 opened #9432 "[question] How to use customed settings.yml I already `conan config install`?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hello,
Here, by default, my default ~/.conan/settings.yml didn't have libcxx = libc++ in gcc, but I will provide the tool chain from other place.  What I need is to add a custom settings.yml like
[code]
to make sure my profile could pass conan check with ~/.conan/settings.yml. I follo

[2021-08-16 07:57] memsharded commented on #9417
https://github.com/conan-io/conan/pull/9431 will fix this for 1.40, the flag added will be ``-std=c++1z``

[2021-08-16 07:59] lasote commented on #9419
The environment variables specified in the profile are not available in all the methods of the recipe, probably only in the `build()` method and some others to interfere only the necessary. You won't be able to use the profile for that.

[2021-08-16 08:02] memsharded commented on #9427
One of the issues that trying to add that information will be the lack of multi-config support. That is inevitable as all the CMake ``find_xxx`` do not support multi-config (or generator expressions). This is one of the reasons it could partially work with the single-config ``cmake`` generator.

Conan CMakeDeps generator will generate files, the ``xxxx-data.cmake`` files with all the folder inform

[2021-08-16 08:04] tapia commented on #9354
The documentation and the sample code was wrong (It's already fixed on the docs). The dependencies on the ConanFile are declared like this:

`build_requires = "boost/1.76.0"`

But this is wrong. `build_requires` are meant for building tools, not dependencies. Change that line to:

`requires = "boost/1.76.0"`

And everything should work.

[2021-08-16 08:04] #9354 closed, assigned to tapia

[2021-08-16 08:06] memsharded commented on #9432
Hi @benet96

Could you post the output of your ``conan config install`` command? There is something there I don't know if it is a typo or what. The command for a single file should be ``conan config install settings.yml``. The name of the file must be ``settings.yml``, as you post later, but initially you typed ``my_settings.yml``. Could you clarify?

[2021-08-16 08:08] memsharded commented on #9432
A side observation: beware that some of the Conan build helpers, like the CMakeToolchain could have some logic implicit in it:

[code]
Which might be conditioned to the compiler used, and not work out of the box for your unusual combination. Please check it too.

[2021-08-16 08:15] memsharded commented on #6209
This is already considered in https://github.com/conan-io/conan/issues/7727, and will be part of Conan 2.X new cache, so we can track the feature there, thanks!

[2021-08-16 08:15] #6209 closed

[2021-08-16 08:15] benet96 commented on #9432
Thank you, @memsharded
Oops, I found my mistake. The first time I type
[code]
And it hints me conan has copy settings.yml to ~/.conan/. However, I find there's nothing changed in my ~/.conan/settings.yml by default, I thought there might be some protection behavior, so I continuously try some my_settings.yml or --type dir my_config where contains my_settings.yml.
And thanks to you to remind me it

[2021-08-16 08:16] #9413 closed, assigned to lasote

[2021-08-16 08:23] memsharded commented on #9432
``--type file`` might be automatically deduced yes, here is an excerpt of the code:
[code]
It should be there for extra check and some backward compatibility, as the file support was added later to the feature, and to avoid fallbacks to try to interpret as git or http if you want to ensure a file.

Then, did it work? Can we close the feature now?

[2021-08-16 08:24] benet96 commented on #9432
Perhaps it might need more constraints if we hope compiler' arguments is configured as simple as settings like just compiler.libcxx=libstdc++. Copmilers could take more than just one but a series of options, like clang has a list to find candidate GCC toolchain installed, and make a decision to add which path of stdc++ headers to include in compatible with which libstc++.so to link. If it's gcc wi

[2021-08-16 08:24] #9432 closed, assigned to memsharded

[2021-08-16 08:25] benet96 commented on #9432
Yes, cannot agree more. Safe check is always necessary. It did work, I will close, and really appreciate for your help, Thank you. @memsharded

[2021-08-16 08:32] memsharded commented on #9432
If you are going to have custom logic for your builds, I'd recommend to consider the extensibility of the CMakeToolchain: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#extending-and-customizing-cmaketoolchain. It is quite powerful, you can create your logic, put it in a ``python_requires`` and use it through your recipes. The CMakeToolchain is still experiment

[2021-08-16 08:37] memsharded commented on #9373
No, it is not, caches can definitely work as bidirectional intermediate storage between 2 different systems, and in both directions. For example, in a memory cache you can have information that is coming from the main memory to make it available to the CPU, or it can come from the CPU as a result of some computing.

[2021-08-16 08:51] playgithub commented on #9373
Agree
But generally `cache` is an optimization that should be transparent for application user interface.

[2021-08-16 08:52] benet96 commented on #9432
Yes, CMakeToolchain is really cute... (To write some [RayTracer project](https://zhuanlan.zhihu.com/p/123419161)...)  Because I have already seen how to build toolchain in Bazel by starlark and, I have to say that's really hurt... And I love CMakeToolchain again...

[2021-08-16 08:53] memsharded commented on #6835
Same: it is already possible, and it is already being done in ConanCenter: https://conan.io/center/ios-cmake.
The package can build and package cmake files with the toolchain, and make it available to consumers of the package with ``self.env_info.CONAN_CMAKE_TOOLCHAIN_FILE = tool_chain`` for example.

[2021-08-16 09:27] memsharded commented on #2724
Hi @HassanNawazish1

Not sure what you mean. If it didn't find the pattern you are providing is an expected error, it is because that string is not found in the file and cannot be replaced. The solution is to use the correct string that will be found in the file.

[2021-08-16 10:02] lasote commented on #9419
We might consider using `[env]` in profiles at Conan 2.0 to set the global environment while we introduced `[buildenv]` and `[runenv]` as new specific variables for building or runtime.

[2021-08-16 10:12] lasote commented on #8703
Auto related? @memsharded

[2021-08-16 11:55] nioncode commented on #6345
@memsharded I had a look at the documentation of the `--base` option (https://docs.conan.io/en/latest/versioning/lockfiles/configurations.html#base-lockfiles), but I cannot get them to work for my use case (where I just want to capture the package graph and then apply it later on for different configurations):

[code]

So now I'm back at the start and have to create a full lockfile for each archit

[2021-08-16 12:19] dmn-star opened #9433 "[feature] A possibility to manipulate .dmg from Conan"
https://developer.android.com/ndk/downloads

https://github.com/conan-io/conan-center-index/issues/6873#issuecomment-899437316

- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-08-16 13:10] HassanNawazish1 commented on #2724
Thanks.
I was using the "PROJECT" instead of "project".
It worked now.

[2021-08-16 15:11] memsharded commented on #9433
As commented in https://github.com/conan-io/conan-center-index/issues/6873, we certainly don't want to add yet another third party dependency for very specific use cases like this one. If it is possible to somehow implement this functionality without much complexity and without relying in some third parties, then, a Conan tool could help, I wouldn't oppose. But if not, the burden of maintenance, s

[2021-08-16 15:27] memsharded commented on #6345
Hi @nioncode

Yes, the specific lockfile with the configuration needs to be computed, but the main difference is that you don't need to store it, for example. You can use the "base" lockfile for all configurations, and in any CI server that is going to build a specific configuration you call ``conan lock create --lockfile=input.lock --lockfile-out=output.lock`` to compute the new specific configur

[2021-08-16 15:59] kenfred commented on #9414
Thanks @lasote!

I'd like to explore this further. I'd agree that the config file generated by `CMakeDeps` has an advantage in knowing _where_ the dependencies are located and potentially useful info about transitive dependency locations. However, I'd argue that the strongest config file is the one provided by the library itself, which lives in the package itself and where the library author knew

[2021-08-16 19:00] dvirtz commented on #9417
Thanks!

On Mon, 16 Aug 2021 at 10:57, James ***@***.***> wrote:

[2021-08-16 21:16] dmn-star commented on #9433
We had luck this time the zip still exists.

[2021-08-16 21:16] #9433 closed, assigned to nobody

[2021-08-17 08:00] arttet opened #9434 "[bug] the wrong command line argument `-stdlib=libstdc++`"
There is the wrong command line argument `-stdlib=libstdc++`.

[code]

### Environment Details (include every applicable attribute)
  * Windows Server 2019
  * `Visual Studio 16 ClangCl` or `Clang 13`
  * Conan version: 1.41.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)
`conan install . --install-folder build --build=outdated -s build_type=Debug -s compiler.cppstd=17

[2021-08-17 08:14] wheeler1818 opened #9435 "[question] Checking License of Dependencies"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

**Background:**
I want to check the license of all the dependencies. In our company we a list with all types of licenses which we can use and which we must not use. During the build (or during validate) i want to check and raise an error if a forbidden license is used.

Is there any w

[2021-08-17 08:36] memsharded commented on #9435
Hi @wheeler1818

Yes, I guess this could be added to the ``self.dependencies`` interface, but maybe a couple of ideas are worth mentioning:

- This could be a cross-aspect thing, probably you don't want to implement the same check in all ``validate()`` methods of all your recipes (or even third party recipes you would need to modify). Have you considered using hooks? Maybe a custom generator could

[2021-08-17 08:54] memsharded commented on #9426
Hi @michaelmaguire

Thanks for your extensive and detailed report. I think we are a bit stuck with atomicity in 2 different places:
- The upload of several packages to Artifactory repos
- The move/copy of packages from one repo to another

We have been encouraging so far using the second, because despite any atomicity potential issues, it will be several orders of magnitude faster the second than

[2021-08-17 09:03] memsharded commented on #9434
Improving clang support in Windows is an open issue: https://github.com/conan-io/conan/issues/9295

It is not simple to change this, because it also depends on the build system integration, and there are risks of breaking things, so I would say to try to implement and fix this in the new ``conan.tools.xxx`` new integrations.

[2021-08-17 09:31] dornbirndevelops opened #9436 "[question] fully self hosting packages from conan center on local artifactory"
Within a private network, I have set up an instance of Artifactory that provides some packages.
These packages sometimes require official libraries (boost as an example).
Due too strict firewall rules (that I cannot really change) I unfortunately cannot use the official conan servers as remotes.
The only remotes available for conan clients within this private network are repositories of this local

[2021-08-17 09:42] wheeler1818 commented on #9435
Hi @memsharded ,

thanks for your suggestions. I didn't know about hooks, so i think this is the way to go.

Here is my code:
[code]
The packages are downloaded for each build on azure pipeline so i think this should work for all transitive dependencies? We do not have any build_requires, all packages are pre-built and cached on an aritfactory.

[2021-08-17 09:51] lasote commented on #9414
This is a bit dirty but you could try to include the `XXX-Release-data.cmake` and `XXX-Debug-data.cmake` files generated by `CMakeDeps`, they contain a variable `XXX_PACKAGE_FOLDER_RELEASE` and `XXX_PACKAGE_FOLDER_DEBUG` that points to the package folders. Then adjust the  `CMAKE_PREFIX_PATH` depending on the current build type. Just an idea... I don't know if it could work.

[2021-08-17 09:59] dmn-star commented on #9434
@arttet This is because _clang-cl_ does not support /MP. You should remove -Werror from the gtest recipe.

@memsharded The linked issue is about using standalone clang on windows not clang-cl, I think.

[2021-08-17 10:19] #2890 closed

[2021-08-17 10:20] #5520 closed

[2021-08-17 13:18] dmn-star commented on #9434
By the way, I cannot reproduce the errors locally. Perhaps try to update VS/CMake first and get the new versions of recipes (conan install . --install-folder build --build --update ...).

[2021-08-17 14:25] michaelmaguire commented on #9426
Thanks for your response.  I'm sorry if my background explanation wasn't clear.  I think atomicity is getting overloaded here.  I agree, with our reliance on lockfiles, we're no longer worried about the atomicity of upload of several packages to Artifactory repos, nor about the atomicity of move/copy of packages from one repo to another.

We have decided to use the "extreme" or "paranoid" `package

[2021-08-17 15:31] bemehiser opened #9438 "[feature] Support CMake OBJECT libraries"
Add `cmake_find_package` and `cmake_find_package_multi` support for CMake `OBJECT` libraries.

CMake allows the creation of [`OBJECT` libraries](https://cmake.org/cmake/help/latest/command/add_library.html#object-libraries) (as contrasting with `STATIC` and `SHARED`). These `OBJECT` libraries consist of a lot of compiled object files which haven't been linked into a library or binary.

[code]

The

[2021-08-17 17:05] playgithub opened #9439 "[question] How to support both debug & release on Windows"
When `conan install` `conanfile.txt` as below
[code]
Will both debug and release versions of `zlib` installed?
If not and only one build type will be installed, how will `cmake_multi` work when lacking of one build type?

[2021-08-17 18:14] dornbirndevelops commented on #9439
Hello @playgithub!
I'm by far no conan expert.
But the way I understood the `_multi` generators, is that you invoke the install command twice.
One time with the build_type set to Debug, and a second time with the build_type set to Release.

In a later stage, you can then decide which build you want to do. The compiled binary should then be linked against the appropriate binary that matches your bu

[2021-08-17 20:12] arttet commented on #9434
I was surprised because I cannot reproduce the errors locally too. However, I repeated it on GitHub. So I prepared the [branch](https://github.com/arttet/reproducing-bug/tree/bug/conan-clangcl) with my changes.

I noticed the difference between the local build and the GitHub build. I use VS 16.11 and Clang 12.0.0 with MSVC-like command-line. GitHub uses VS 16.10.2+857e5a733 and Clang 11.0.0 with M

[2021-08-17 20:35] dmn-star commented on #9434
Try to change In your CMakeLists.txt

[code]

to

[code]

[2021-08-17 21:21] SimonBrazda commented on #9420
Thanks :), indeed, it got me further. However, there is still something wrong. It has trouble finding my `basic_op.h` file in `test_package.cpp` and `gtest.h` in both `test` and `test_package`. It looks like it doesn't know about kata_lib? I also tried including `kata_lib/basic_op.h` or `src/basic_op.h` in `test_package.cpp` but no success.

Conan output:
`PS D:\Dev\cpp\kata_lib\build> conan creat

[2021-08-17 21:42] arttet commented on #9434
I applied your patch, but the result remained the same.

[code]

[2021-08-17 21:59] werto87 opened #9440 "[question] How to build a Library which has it self with another Architecture as Requirement?"
I want to build corrade.  Host is emscripten and build is linux.
 The documentation says:

For all cross-compilation except the UWP / Windows RT build, you need to have a native version of Corrade installed, because Corrade needs to run the corrade-rc utility on the host system as part of the build process. If native version of corrade-rc is not found on the system, cross-compilation will fail. If

[2021-08-18 00:56] playgithub commented on #9439
so the generator `cmake_multi` results in a template `conanbuildinfo.cmake`, right?

I think a better way is like this
[code]

BTW, I think Linux's native package manager is very clear,  easy to install, and overridable by installing a lib in `/usr/local` manually. `conan`'s way to mimic the manual installations is intuitive and flexible, and I don't mind the work to write a recipe.
But I still fe

[2021-08-18 01:09] #9439 closed, assigned to nobody

[2021-08-18 08:19] CaptnMorgan833 opened #9441 "[feature][suggestion] Merge remotes.json lists"
Hey,

We work in different projects with different remotes and profiles. When switching the project and using a new setup via "conan config install <GIT-REPO-WITH-CONFIG>" , new profiles from that repo are added to the old ones, but the remotes.json gets replaced completely.

It would be nice if there is a possibility to keep the old remotes.json and to merge new and old together to get the collec

[2021-08-18 08:22] dmn-star commented on #9434
It also looks like the GNU style arguments are passed to clang-cl. I will have a look at this later.

Not sure but that seems to be fixed in clang 12.

[2021-08-18 12:29] snailcatcher opened #9442 "[bug] *conan user -p ...* does not authenticate user"
### Environment Details (include every applicable attribute)
  docker-container: conanio/gcc10

### Steps to reproduce (Include if Applicable)
1. start conatiner with shell (*docker run -it conanio/gcc10 /bin/bash*)
2. *conan remote clean*
3. *conan remote add repo https://your-private-repository True*
4. *conan user -r repo -p password username*
5. *conan download my-package/1.0.0@user/channel*
6

[2021-08-18 16:03] hannahwhy opened #9446 "[bug]: "package-id doesn't match" error with zlib/1.2.11, doxygen/1.9.1, and base lockfiles"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **zlib/1.2.11** and **doxygen/1.9.1** (both appear to be important)
  * Operating System+version: **Linux Ubuntu 20.04.1**
  * Compiler+version: **gcc 9.3.0**
  * Conan version: **conan 1.39.0**
  * Python version: **Python 3.8.10**
  * Conan package ID mode: `package_revision_mode`
  * Revisions ena

[2021-08-18 16:06] hannahwhy commented on #9446
Some miscellaneous notes:

On a hunch that `doxygen`'s custom package ID might be causing confusion, I tried the above procedure with the following patch applied to the doxygen recipe:

[code]

That, however, had the same result.

---

I'm not sure if this issue is a CCI, Conan, or other bug, but this is the first package pair I've seen that exhibits this behavior under a host/build profile split

[2021-08-18 19:21] dmn-star commented on #9434
Case 1:  Ok. clang_cl + cmake + visual studio generator
All works as expected on my machine and on github with small changes (I forked your repo).

Case 2:  Failed. clang + cmake + ninja generator
I never used it that way.  And I don't think that will work without further effort. @AndreyMlashkin  trying to get this to work.
Are you sure you want to use clang (not clang_cl) ?

On my machine I got

[2021-08-18 19:45] arttet commented on #9434
Could you please use another branch such as `bug/conan-clangcl`? `main` is the empty prototype, and you need to update `conanfile.py` and `CMakeLists.txt` too.
I removed those variables, but [my branch](https://github.com/arttet/reproduce-bugs/tree/bug/conan-clangcl) does not compile.

[2021-08-18 19:55] arttet commented on #9434
I think case 2 should be valid. We can download [Clang](https://github.com/llvm/llvm-project/releases/tag/llvmorg-12.0.1) on Windows. Therefore, I think we need to be able to compile code with it.

[2021-08-18 20:00] dmn-star commented on #9434
You can use my main branch, it works. Please check the changes.

[2021-08-18 20:04] arttet commented on #9434
I would like to say your branch compiles nothing. Therefore, it works well.

[2021-08-18 20:05] arttet commented on #9434
However, I can see the warning in your build.
[code]

[2021-08-18 20:09] dmn-star commented on #9434
I know but we have only ever used clang-cl for our real-life projects.  Maybe just try to compile a simple test program without Conan?

[2021-08-18 20:14] dmn-star commented on #9434
Yes, CMake VS generator or Conan pass the /MP option to clang-cl, VS do not. See CMakeLists.txt for workaround

[code]

But with new clang_cl version this is not necessary any more.

[2021-08-18 20:38] arttet commented on #9434
I am sorry. I don’t get it. Anyway, I consider Clang as a competitor of MSVC. Clang has some advantages. Moreover, I hope Conan will help to use Clang.

[2021-08-18 21:05] dmn-star commented on #9434
clang_cl is clang too. :-) Clang on Windows uses Visual Studio's linker and SDK, so you still need to have Visual Studio installed. And as long as that is the case, it is much easier to use clang_cl.

[2021-08-18 23:22] madebr commented on #9446
This issue looks conan related, not cci specific.
I'm tagging some people from conan/jfrog: @Lasote @memsharded @danimtb (Sorry if I wrongfully bothered you)

[2021-08-19 05:59] lasote commented on #9376
Hi, we discussed this and how to solve it, and my proposal is good. Given that the solution fits in the current model with some opt-in changes I lowered a bit the priority and assigned the task to the next release. Thanks again.

[2021-08-19 06:14] lasote commented on #9414
Hi, just tell you that we know this is a demanded use case and we are working on it. Still thinking though.

[2021-08-19 06:15] lasote commented on #9414
Sorry for closing it. Bad click.

[2021-08-19 06:28] igxactly opened #9444 "[bug] find_package: missing or wrongly named variables"
### Environment Details
  * Conan version: 1.39.0

### Steps to reproduce

* combining
  - `conan install`
    - `conanfile.txt`: `boost/1.69.0` + (`cmake_paths`, `cmake_find_package`)
  - `cmake -GNinja -B . -S .. -DCMAKE_TOOLCHAIN_FILE=conan_paths.cmake`
    - `link_directories(${Boost_LIBRARY_DIRS})`
    - `target_link_libraries(...... boost_stacktrace_addr2line)`
* --> leads to `cannot find -l

[2021-08-19 07:18] lukasberbuer opened #9445 "[bug] conan search doesn't return the latest versions on conan center"
`conan search <package> -r all` does not return latest version(s) on conan center.

Are the results cached? If yes, how to clear the cache?

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Pro 19042.1165
  * Compiler+version: -
  * Conan version: 1.39.0
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)

Compare results f

[2021-08-19 07:34] czoido commented on #9442
Hi @snailcatcher,
I'm not able to reproduce the issue. Please, could you give more details on which type of server and repository are you using like conan server, artifactory (local or virtual?)..
Thanks a lot!

[2021-08-19 07:42] czoido commented on #9445
Hi @lukasberbuer,
That's because you probably just have `conan.bintray.com` as your remote for conan center. This url is [being deprecated](https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html) and recently we are only adding new versions in conan center to `center.conan.io`. Since Conan 1.37 [this remote is added automatically](https://blog.conan.io/2021/04/23/New-Conan-Center-url.html)

[2021-08-19 08:00] danimtb commented on #9446
@madebr thanks for the ping. I am transferring it to the conan client repository

[2021-08-19 08:24] lukasberbuer commented on #9445
Hell yeah, that's it! Thanks a lot :)

[2021-08-19 08:24] #9445 closed, assigned to nobody

[2021-08-19 08:54] snailcatcher commented on #9442
Hi @czoido,
You could be right. I also updated my repository.
I use Nexus Repository OSS (*docker run -p 80:8081 -d sonatype/nexus3*).
It is possible that the update from 3.32.0 to 3.33.1 broke the conan part because they do changes to it. [release notes](https://help.sonatype.com/repomanager3/release-notes)

How should I/we proceed with this?

[2021-08-19 09:43] czoido commented on #9442
Then I think we can't do much more on our side and this is something you should report to nexus.
I have already tested this with Artifactory Community Edition for C/C++ and is working fine: (`docker run --name artifactory -d -p 8081:8081 -p 8082:8082 docker.bintray.io/jfrog/artifactory-cpp-ce:latest`) and also with the basic conan_server that comes with Conan installation.

[2021-08-19 12:10] jgsogo opened #9447 "[feature] Tool `check_min_cppstd`: modify behavior/interface in new namespace?"
Taken from [this PR](https://github.com/conan-io/docs/pull/2191#), and others in the past.

It is true that whenever we use this tool in conan-center-index, it is prepended by a guard:

[code]

Why? Because usually, the library files (build system files) contain a statement to set the proper C++ standard version required to build. So, we need to skip the check when `compiler.cppstd` is not explici

[2021-08-19 14:08] danimtb opened #9448 "[feature] Improve CMakeToolchain support for xcode flags"
Coming from https://github.com/conan-io/conan-center-index/pull/5545

The `darwing-toolchain` generator recipe used to provide some useful configurable apple flags: https://github.com/ezored/conan-darwin-toolchain/blob/stable/1.3.0/conanfile.py#L87-L127

We should take a look at the cmake flags used there and see if we can improve the integration for cmake apple-clang projects

cc/ @theodelrieu @p

[2021-08-19 14:38] AshleighAdams opened #9449 "[question] Can I use binaries via `build_requirements()` in `set_version()`?"
I have a binary tool that I have packaged up into a conan package, the tool calculates a version from the git history and would like to consume it in `set_version()`. As it stands though, `set_version()` occurs before `build_requirements()` which, to me, seems like the incorrect order. The recipe and repository being versioned live in the same repository for context.

Code example of what I'm tryi

[2021-08-19 15:11] arttet commented on #9434
Case 1 was fixed [here](https://github.com/actions/virtual-environments/issues/3927).

[2021-08-19 15:24] dmn-star commented on #9434
This is of course a clean solution.

[2021-08-19 15:55] chenyiliang opened #9450 "[question] Conan python: can't open file "No such file or directory" error when installing or packaging a library on Windows 10"
<img width="935" alt="b" src="https://user-images.githubusercontent.com/6761729/130101483-97e26ae9-3f2d-4d21-ad90-637a657095bd.png">
The python open file path  is wrong，how to fix it？

[2021-08-19 16:41] hannahwhy commented on #9446
@danimtb Thanks for moving this to conan-io/conan.  I've modified the title a bit to better fit in with other bug reports.

[2021-08-19 18:50] jgcodes2020 opened #9451 "[question] How can I specify default dependency options?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
---
My package (suppose I call it `A`) depends on a package `B`.

Package `B` provides options that disable specific parts of the library. This is super useful because I don't end up pulling in parts I don't need. Can I specify default options for the dependency, or should I not do thi

[2021-08-19 19:46] kenfred commented on #9414
Ok! I think there are two feature requests here:
- Ability to have the toolchain file point to multiple packages for different build configurations, including setting prefix or module paths. This one is sorely needed in my case.
- Ability to tell `CMakeDeps` generator (or maybe any generator) to include/exclude some dependencies and not others. I can get around this by overriding the `generate` fu

[2021-08-19 22:00] memsharded commented on #9450
Hi @chenyiliang

The information you provide is insufficient. Please provide:
- The commands necessary to reproduce the issue.
- The code or conanfile.py (or project/files) to reproduce the issue.
- The full output, as text, not as an image.

Also, the best is to provide the so called "minimal reproducible example", something as small as possible, not a large project.

[2021-08-19 22:06] memsharded commented on #9449
No, this is not possible. The ``set_version()`` only runs at "export" time, this is much earlier than the requirements or build_requires are evaluated. This is not a missing feature, it is impossible to implement, as it would be a chicken and egg problem (many users rely on the current version to define the requirements and build_requires).

What I would recommend for this case is a double stage p

[2021-08-19 22:07] memsharded commented on #9451
Yes, you can put ``default_options = {"libb:optioninlibb": "value"}`` in the ``liba`` conanfile.

[2021-08-19 22:26] memsharded commented on #9442
It seems this issue can be closed as responded, it is not a Conan client issue, and should be reported to the server implementer repo. Thanks.

[2021-08-19 22:38] memsharded commented on #9441
Hi @CaptnMorgan833

We have considered a few times some scenarios similar to this one, that could "merge" information. The problem with this feature is that it has infinite edge cases, and it is particularly challenging when it is a 2-way  merge instead of a 3-way merge with a common base to compare, for this particular example:
- When there is a remote that is called the same, but 2 different URL

[2021-08-19 22:43] memsharded commented on #9440
Hi @werto87

At the moment cyclic dependencies, including bootstrapping are not allowed in dependency graphs. In general, they don't make sense, and the particular case of bootstrapping was not enough requested so far to be considered.

This will probably be changed in Conan 2.0, and there is exploratory code already there, to be able to have such bootstrapping for ``build`` dependencies only.

[2021-08-19 22:46] memsharded commented on #8703
Yes, sorry, I think I meant https://github.com/conan-io/conan/issues/5159

[2021-08-19 22:49] memsharded commented on #9438
I don't think this is a specific CMake object libraries, but it seems this would be a duplicate of this one: https://github.com/conan-io/conan/issues/5159 (and related to https://github.com/conan-io/conan/issues/8703), and what needs to be done is:
- To explicitly model "objects" in packages, besides "libs" and "exes"
- To make build helpers and generators to handle this information for consumers.

[2021-08-19 23:01] memsharded commented on #9436
Hi @dornbirndevelops

For Conan packages, you could proxy ConanCenter with an Artifactory remote repo, and clients will only connect to your Artifactory. But that doesn't bring automatically the full sources stored in other servers, like Github. If you need everything reference from ConanCenter under your own infrastructure, yes, the way would probably be:

- Fork conan-center-index recipes repo
-

[2021-08-19 23:02] memsharded commented on #9436
Note for team: It would be great to have this documented and shared in conan-center-index repo.

[2021-08-19 23:06] memsharded commented on #9435
Yes, if doing a check on the download of the recipes is good for your case, and you don't need to evaluate the full dependency graph together, this would be a simple and effective approach. For your info, there is a hooks repo with some examples, like this license checker: https://github.com/conan-io/hooks/blob/master/hooks/spdx_checker.py (it checks at package creation time, to ensure created pac

[2021-08-19 23:41] hsz1273327 opened #9452 "[bug] alpine not use lsb_release but use /etc/os-release"
### Environment Details (include every applicable attribute)
  * alpine linux 3.13 in arm64
  * gcc 10
  * Conan 1.39.0
  * Python 3.9

### Steps to reproduce (Include if Applicable)

when run `conan remote add` throw exception

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-08-20 01:23] chenyiliang commented on #9450
**commands:** conan install .. --profile=mingw64 --build=missing
**os:** windows 10
**mingw64 profile:**
[settings]
os_build=Windows
os=Windows
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=10.3
compiler.exception=seh
compiler.libcxx=libstdc++11
compiler.threads=posix
build_type=Release

[env]
MSYS_ROOT=C:\msys64
MSYS_BIN=C:\msys64\usr\bin
CONAN_CMAKE_GENERATOR="MinGW Makefiles"
CONA

[2021-08-20 02:45] hsz1273327 commented on #9452
and I found that this is fixed in [distro 1.6.0](https://github.com/python-distro/distro/releases/tag/v1.6.0),please update this requirement

[2021-08-20 05:51] lasote commented on #9441
Yeah, I agree. The merge could be done in a lot of different ways and you never know what the user expects. If you want to merge the remotes is probably better to add all of them by hand to the configuration.

[2021-08-20 06:04] lasote commented on #9414
About the first point, I think that is not doable, the `CMAKE_PREFIX_PATH` or `CMAKE_MODULE_PATH` doesn't support (Afaik) multiconfiguration. One of the benefits of the generated config files by the `CMakeDeps` is that the targets are built adding properties with generator expressions and when you "conan install" different configurations, all the files containing data are included in the targets,

[2021-08-20 07:08] snailcatcher commented on #9442
Okay, thank you for your efforts.

[2021-08-20 07:08] #9442 closed, assigned to czoido

[2021-08-20 08:46] memsharded commented on #9452
Actually, there are 2 things here:

- Update distro 1.6.0 if not risk of breaking
- Fix ``OSInfo().is_cygwin`` if possible so it doesn't raise in this way for this platform.

[2021-08-20 08:51] #9417 closed, assigned to lasote

[2021-08-20 09:00] #9375 closed, assigned to lasote

[2021-08-20 09:04] AshleighAdams commented on #9449
The problem with that approach is we often have many projects at the same time, which could possibly use different versions of the tool. It also introduces an additional human step that can go wrong. I think for now the best workaround for us is to directly add the tool to the repository.

Thanks for your reply!

[2021-08-20 09:04] #9449 closed, assigned to memsharded

[2021-08-20 09:10] tapia commented on #9339
Fixed on 1.40 (PR: #9405 )

[2021-08-20 09:10] #9339 closed, assigned to nobody

[2021-08-20 09:15] #9379 closed, assigned to tapia

[2021-08-20 09:17] tapia commented on #9380
#9381  closes this

[2021-08-20 09:17] #9380 closed, assigned to tapia

[2021-08-20 09:20] db4 opened #9453 "[question] Add optional `reference` parameter for `conan info`?"
I'm trying to use `conan info` to topologically sort Conan packages by their dependencies in my build scripts. `conan info <path to conanfile.py>` works well until it hits a recipe without version containing something like `if tools.Version(self.version) < "1.9":`. Maybe adding an optional `reference` parameter to `conan info` makes sense?

- [x] I've read the [CONTRIBUTING guide](https://github.c

[2021-08-20 10:18] #9435 closed, assigned to memsharded

[2021-08-20 10:58] iiknd opened #9454 "[Question] "conan export" -phase, how to access tools from a dependency package"
Hi,

given the following:

A:
  cache: package/bin/tool.sh

B:

B -> A

I need to access a tool from A's bin directory during the "conan export B" -phase (the tool helps to parse B's options dynamically).
Is there a recommended way to accomplish this? E.g. the "deps_cpp_info" is not available during "conan export B ...".

By inspecting B's __dict__ to me it looks like there is no attributes availa

[2021-08-20 13:03] SpaceIm opened #9456 "[question] Propagate system libs of dependencies in VisualStudioBuildEnvironment helper?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In few CCI recipes (`gdal` for example), we call nmake if compiler is Visual Studio.

Usually, it looks something like this:

[code]

`VisualStudioBuildEnvironment` seems to properly set env var for nmake so that:
- build type and runtime from profile are honored
- interface definitio

[2021-08-20 15:36] memsharded commented on #9454
Hi @iiknd

The only way to reuse some functionality from other package dependency at export time is the ``python_requires``, have you tried those?
The thing is that ``conan export`` will not compute the full dependency graph to produce the export, and it is extremely unlikely that we would consider this feature, because it would have a lot of drawbacks, like being way slower making it unfeasible f

[2021-08-20 15:50] memsharded commented on #9456
Probably not, system_libs was added later and maybe not fully implemented.

In any case, this belongs to the legacy integrations, and MSBuildDeps is ready for prime time, we will start allowing it in ConanCenter very soon (maybe next release), and it is better that the efforts goes in migrating to the new integrations.

[2021-08-20 15:58] SpaceIm commented on #9456
`MSBuildDeps` creates .props files, does it make sense for NMake?

Is there a working example of NMake based recipe using new generators?

[2021-08-20 16:06] SpaceIm commented on #9444
see https://github.com/conan-io/conan/issues/7691

[2021-08-20 16:09] Johnnyxy commented on #9391
Hi @raghucsbe
I am building for QNX 7.0 on nearly a daily basis.
To determine how the command line gets modified and the ```std``` parameter gets added, you have to provide the way you invoke the QCC. Like through CMake or Conan directly?

In any case your problem could originate from missing stuff from the QNX SDP headers. The [QCC doc](https://www.qnx.com/developers/docs/7.0.0/#com.qnx.doc.neutr

[2021-08-20 16:18] memsharded commented on #9449
By the way, have you considered using ``python_requires`` for this? The ``python_requires``, as they are part of the recipe, the Python code, they are evaluated much earlier. It is true that they are not good for packaging binaries, but in case the tool would be pure Python code, it could be a possibility.

[2021-08-20 16:25] memsharded commented on #9456
You are right @SpaceIm, current MSBuildDeps won't be enough for this use case.
It seems new generators don't have support for NMake yet, and the right integration should be built. If it is environment based, then a NMakeDeps that behaves like AutotoolsDeps should be the way to go.

[2021-08-20 17:27] AshleighAdams commented on #9449
Yeah, that's actually what we're already doing in some other repositories, but with a, if I'm being nice, much simpler algorithm. I did also try adding (build) requirements in there in the hopes that the docs were wrong, but they weren't!

[2021-08-20 18:56] kenfred commented on #9414
I would expect that you could conditionally set `CMAKE_PREFIX_PATH` based on `BUILD_TYPE` within cmake. I'll have to try it.

If that doesn't work, here is one clumsy idea:
Normally cmake has one `foo-config.cmake` that points to one `foo-targets.cmake`, which conditionally points to either`foo-targets-debug.cmake` or `foo-targets-release.cmake`.

On our case, we could still generate `foo-config.c

[2021-08-20 19:44] Makogan opened #9458 "[bug] Vulkan packages stopped working on Ubuntu 21.04"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.04 (currently, formerly 20.04)
  * Compiler+version: g++ 10.3.0
  * Conan version: 1.39.0
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)
Create a vulkan application that should create a validation error. Download the packages:
[code]
 Compile and run the application. The

[2021-08-21 19:42] daravi opened #9460 "[bug] tools.os_info.with_yum does not detect AlmaLinux (CentOS replacement)"
AlmaLinux is the CentOS successor. Similar to CentOS it uses `yum` or `dnf`. However, `with_yum` in `system_requirement` fails:

e.g.
[code]

I am not sure if this is a bug in Conan or AlmaLinux. I can do further debugging as requested.

### Environment Details (include every applicable attribute)
  * Operating System+version: AlmaLinux 8.4 (Electric Cheetah)
  * Compiler+version: LLVM 10.0.1
  *

[2021-08-22 06:58] Makogan commented on #9458
After further experimentation I have narrowed the problem to the loader package. To be specific it seems to be getting errors, for example:

[code]

Is thrown when using the conan package but no such error occurs using the sdk's loader.

[2021-08-22 08:21] arttet opened #9461 "[feature] MSVC C++ 14.29"
Could you please address a new version of MSVC.
[Visual Studio 2019 version 16.11 Release Notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes)
[code]
I think we need to add a piece of https://github.com/conan-io/conan/pull/9370

- [+] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-08-22 11:12] dmn-star commented on #9450
Here is already an Issue https://github.com/conan-io/conan-center-index/issues/6767

__

This happens quite often when you use unix tools on Windows and forget to adjust the paths (mixing / and  \  ).

[2021-08-23 02:48] chenyiliang commented on #9450
I have read related issues but not find the solution, how to adjust the paths?

[2021-08-23 05:50] iiknd commented on #9454
Hi @memsharded,

we are actually already using the python_requires. Most of the packages re-use shared (python) functionality via python_requires.
But I haven't tried to python_require a package (say A) which is also a normal Conan dependency.
So is this something that can be done?

A:python_requires -> shared
B:python_requires -> shared
**B:python_requires -> A**  # to access a tools from A's bin

[2021-08-23 07:47] memsharded commented on #9454
Hi @iiknd

No ``B:python_requires -> A `` it is not possible to access tools from A binary package, it can only access tools in the python conanfile.py of A, not in the binary package.

This would be almost same question as in https://github.com/conan-io/conan/issues/9449.

A solution could be to put ``tool.sh`` in the ``exports`` of the recipe, and try to use it directly from there. It is not ver

[2021-08-23 07:55] memsharded commented on #9460
Hi @daravi

yes, please, can you verify you have the latest revision of ``opengl/system`` installed? I see:

[code]

So it shouldn't fail with the above message (it could fail not installing anything, of course).

Then, it could be failing because:
[code]
It should be great to see what ``distro.id()`` is returning for your distro, and also if an update (like suggested in https://github.com/conan-i

[2021-08-23 08:04] #6545 closed

[2021-08-23 08:04] daravi commented on #9460
@memsharded Thanks! My distro.id() returns "almalinux". Should I make a PR for adding that?

[2021-08-23 08:05] memsharded commented on #9460
Yes, please, that would be great.

[2021-08-23 09:06] memsharded commented on #9461
Hi @arttet

If I understood correctly, this is not the same or a piece of #9370, because that is totally focused on 2022 support, but this would be another feature? Do you mean adding it to the ``msvc`` compiler? Or something else is needed if you are still using the ``Visual Studio`` compiler?

[2021-08-23 09:11] memsharded commented on #9453
Yes, actually, the new UI for Conan 2.0 (that ``conan lock`` already implements the style), has specific arguments ``--name``, ``--version`` to be able to pass this information.

What are you exactly trying to achieve? Why needing to call ``info`` on conan packages that you don't control (it seems those are ConanCenter packages, that typically do not define the version in the recipe, but on comman

[2021-08-23 10:47] Johnnyxy opened #9464 "[feature] add QNX stdlib libc++/libstdc++ support to settings.yml"
Hi there,
my feture request is to add the following elements to the ```settings.yml```.
qcc -> libcxx -> "libc++" and "libstdc++"

### Background
Since QNX 7.0 the compiler QCC supports the parameter ```stdlib```. This selects the C++ library the compiler uses, as QNX supports different C++ library implementations out-of-the-box ([see docs here](https://www.qnx.com/developers/docs/7.0.0/index.html

[2021-08-23 11:22] #9460 closed, assigned to memsharded

[2021-08-23 11:34] iiknd commented on #9454
Thanks for the clarification. It is good to know that there are no good approaches for this case right now. Thanks!

[2021-08-23 11:34] #9454 closed, assigned to memsharded

[2021-08-23 12:22] db4 commented on #9453
I have a private git repo with a bunch of internal recipes (with a folder structure very similar to CCI). On each push to the repo CI builds packages for the changed recipes. Since they depend on each other, the order in which they are built is important . Also, I only want to build the packages whose recipes have been changed (and several recipes may be changed in one commit). So CI first runs `c

[2021-08-23 12:33] AngryPenguinPL opened #9465 "[bug] LLVM/Clang 13 not supported"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux OpenMandriva Cooker
  * Compiler+version: LLVM/Clang 13 rc1 (build from 20210822)
  * Conan version: 1.39.0
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)
- Compile Conan 1.39 with LLVM/Clang 13
- Compile with Clang 13 other package that depends on Conan (in my case Audacity

[2021-08-23 12:59] memsharded commented on #9465
Hi @AngryPenguinPL

Have you realized this error message, including the link (http://docs.conan.io/en/latest/faq/troubleshooting.html#error-invalid-setting) to the docs?

[code]

Conan typically doesn't added pre-releases compilers (clang 13 not https://releases.llvm.org/ yet, it seems), as something might change with defaults that requires build helpers changes.

[2021-08-23 13:27] pbeTrifork commented on #4236
In your pipeline, be sure to install the packages before calling cmake i.e.
[code]

[2021-08-23 13:59] memsharded commented on #9453
Have you considered doing a single ``conan info`` over a conanfile.txt that just declares the set of dependencies (first level, the transitive ones will be automatically added. It might require some (I think small) amount of manual updates to that ``conanfile.txt``, but it might be worth, as it can simplify a lot the whole process.

A different issue is if you want to do that for different version

[2021-08-23 14:40] db4 commented on #9453
But then I need to `conan export` all recipes first during CI, right? And if done in the wrong order, some `conan export` commands will fail.

Do you mean https://docs.conan.io/en/latest/versioning/lockfiles/bundle.html?

Again, lockfiles require all recipes to be exported first. Looks like what I actually need is a list of direct dependencies for a given recipe (dependencies names are enough, no

[2021-08-23 16:08] memsharded commented on #9453
Except python_requires that are needed to evaluate recipes, ``conan export`` do not analyze or compute the dependency graph, so it can be done in any random order, for all recipes in your repo.

[2021-08-23 18:52] Renari opened #9466 "[bug] Adding PATH to your conan profile prevents build requirements from adding to path"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 7
  * Compiler+version: GCC 10
  * Conan version: 1.39.0
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)
Add `PATH` to your conan profile and attempt a build with something that uses a build tool that appends to path.
https://github.com/conan-io/conan-center-index/issues/6982

[2021-08-23 21:02] memsharded commented on #9466
Hi @Renari

Have you read the note in https://docs.conan.io/en/latest/reference/profiles.html#package-settings-and-env-vars?

It seems you should define your path like:

[code]

This indicates a "list" type that can be appended, otherwise it is overwritten.

[2021-08-23 21:11] Renari commented on #9466
I did not see this, looks like this is working as intended.

[2021-08-23 21:11] #9466 closed, assigned to nobody

[2021-08-23 21:19] dmn-star opened #9467 "[question] How can I (re)build everything except the build requirements?"
conan install --build without arguments  will rebuild from sources all dependencies. That is exactly what I need, but I' d like to not have to rebuild the build requirements every time. Maybe something like this conan install --build=skip_build_requirements already exist? Or what is the easiest way to achieve this?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/de

[2021-08-23 21:43] memsharded commented on #9467
In general you should aim for a ``--build=missing`` policy. It is very inefficient rebuilding all the things all the time, things that have not changed at all. The ``package_id`` modes together with versions and revisions can implement a very efficient strategy of building from source only what is necessary saving a lot of build time.

[2021-08-23 23:38] memsharded commented on #9446
I am trying to reproduce this issue, so far without success. My current test is:

[code]

Some possible things to check:

- Print the lockfile generated with step 2) including the ``--base`` argument, just to make sure that it doesn't contain any package-id. I don't know why step 3) is complaining about a mismatch, because the "base" lockfiles do not store the package_id of the dependencies.
- I w

[2021-08-24 05:04] playgithub commented on #9373
@memsharded
If treat `conanfile.txt` as  essential, both recpice and binaries can be treated as cache.
But user defined profiles are not of any kind of cache, right?

[2021-08-24 07:22] db4 commented on #9453
I see, thanks a lot. Since additional parameters are already planned for Conan 2.0, I'm closing the issue.

[2021-08-24 07:22] #9453 closed, assigned to memsharded

[2021-08-24 08:14] dmn-star opened #9469 "[bug] tools.get(...) broken symlinks when extracting zip files"
cc: @a4z

The NDK r23 zip file contains the symlinks now.

lrwxr-xr-x  1 enh  primarygroup         5 Aug 23 12:47 clang++ -> clang
-rwxr-xr-x  1 enh  primarygroup  75426096 Jul 30 17:06 clang-12

After unzipping we have two text files clang und clang++.
<img width="628" alt="symlinks" src="https://user-images.githubusercontent.com/52277783/130581648-a956ec08-2900-4d9e-805f-c69be6cb139a.png">

###

[2021-08-24 08:25] #9333 closed, assigned to nobody

[2021-08-24 08:26] memsharded commented on #9333
PR https://github.com/conan-io/conan/pull/9355 was merged, so this bug will be fixed and released in next 1.40

[2021-08-24 10:22] sschuberth commented on #3046
Does that mean `conan search` actually honors `.netrc` entries? Because in my tests it did not, I had to use `conan user` instead for authentication. I also couldn't find any official docs either on whether `conan` supports `.netrc` or not.

[2021-08-24 10:31] a4z commented on #9469
History of how that got detected, starting from that comment on https://github.com/android/ndk/issues/1563#issuecomment-904013031 and below

[2021-08-24 10:33] memsharded commented on #3046
Hi @sschuberth

Conan is using the ``requests`` library for communication: https://docs.python-requests.org/en/master/user/authentication/

If credentials for the hostname are found, the request is sent with HTTP Basic Auth.

Conan will not use this, or at least it is unsupported and undocumented so far, but I guess there is some possibility that the netrc could have some unexpected usage.

[2021-08-24 10:47] sschuberth commented on #3046
So, to clarify once more: When you say

then "this" refers to the feature of the underlying `requests` library to parse a `netrc` file, effectively meaning that `conan` does *not* (officially / fully) support authentication via a `netrc` file, correct?

[2021-08-24 11:15] ngrodzitski opened #9470 "[question] Pure c libs with a different compiler to what is specified with install params"
Is it possible to specify and use a different compiler for c-language package. So that I specify gcc-11 and all the packages are provided accordingly, except 1 or N packages (which a libs in pure c) for which I want a gcc-9 or gcc-10.

The reason is that I want to use readline/editline packages and they fail to build with latest compilers:
[code]
I believe I can use pure c libs compiled with a dif

[2021-08-24 11:58] memsharded commented on #3046
Yes, correct.

[2021-08-24 12:01] memsharded commented on #9470
Hi @ngrodzitski

Yes, you can define different settings per package, both in command line and profiles, though the later is the recommended:

[code]

This will use 11 for all packages, except those who match "mypkg" that will use 9

[2021-08-24 12:35] franramirez688 commented on #9349
@memsharded @ssrobins

I have performed this little test into my local conan repository. It looks like:

[code]

And it's passing ok.
Apart from that, I did not get to reproduce it using the latest conan version. It worked using either `-s os.version=10.9` in CLI or `os.version=10.9` in profile.

@ssrobins is it still failing from your side? Am I missing anything?

[2021-08-24 13:18] daravi opened #9472 "[question] How can I find all system requirements?"
I created https://github.com/conan-io/conan-center-index/issues/6945, but now I am thinking it would be more appropriate here:

Hello,

I use Conan to manage the dependencies of my project. To ship my project, I need to add the system requirements in my dependency graph to my RPM requirements, so that when the RPM is installed, the system package manager (in my case DNF) installs those dependencie

[2021-08-24 13:31] uilianries opened #9473 "[feature] Support custom CCI versions with parsing tools.Version"
Hello!

Sometimes, upstream doesn't offer a tag or release, and we need to create a [custom cci version](https://github.com/conan-io/conan-center-index/blob/master/docs/faqs.md#what-version-should-packages-use-for-libraries-without-official-releases) for the package. Also, depending the version we need to remove/add options, and in case we need to compare versions, the main feature used is [tools.

[2021-08-24 14:42] wer14 opened #9474 "[question] CMakeToolchain with Ninja generator needs manual launch of conanvcvars.bat"
I'm using `CMakeDeps` generator and `CMakeToolchain` helper with `Ninja` generator to create a package.
When I call `conan create . 0.0.0@_/_` `CMake` can not find `CXX` compiler unless I manually run `conanvcvars.bat` that was generated by  `CMakeToolchain` #8005.
From [test_ninja.py](https://github.com/conan-io/conan/pull/8005/files#diff-de5ecc7522bb6e0529d04b79a168bee3b1b591b6580b5dc6918e011981

[2021-08-24 15:36] hannahwhy commented on #9446
Here's a base lockfile that I generated from step 2:

<details>
<summary>Base lockfile</summary>

[code]
</details>

Creating the base profile using the build and host profiles, however, _did_ allow step (3) to succeed.  The base lockfile generated from this step is reproduced below.

<details>
<summary>conan-base.lock with build and host profiles specified (conan lock create conanfile.txt --base

[2021-08-24 17:02] AngryPenguinPL commented on #9465
Yes, I have read it.
I know official support for Clang 13 will come sooner or later, but it would be nice if it was earlier :)
I don't mean just being able to compile with variables or edit settings - because that seems to be what I can do at any time. Rather, I mean automatism, since Clang 13 will be released soon, some distributions in their unstable / devel branch are beginning to slowly implem

[2021-08-24 17:43] memsharded commented on #9446
I think I start to understand the issue and why my test was not reproducing it.

The problem is that ``zlib`` is a transitive requirement of some ``build_require``. But in the first case, when not defining the 2 profiles, ``zlib`` is always in the host context. When later the 2 profiles are used, there is a mismatch because now there exist a ``zlib`` in the "build" context. The graph is different,

[2021-08-24 18:11] hannahwhy commented on #9446
Hmm.  So, I first ran into this problem when examining a problem in a CI setup that did the following:

1. Generate a base lockfile
2. For each build/host combination, use the base lockfile to generate a concrete lockfile for the build and host profiles

We added step (1) to make sure that each build launched in (2) would be sure to use the same recipe revision of a given package. (We have multipl

[2021-08-25 07:04] franramirez688 commented on #9446
Could it be related to this other issue? https://github.com/conan-io/conan/issues/9398
I opened a PR for that issue as well: https://github.com/conan-io/conan/pull/9411

[2021-08-25 07:52] ngrodzitski commented on #9470
Great, it works, thank you!

[2021-08-25 07:52] #9470 closed, assigned to memsharded

[2021-08-25 08:34] #9452 closed, assigned to nobody

[2021-08-25 08:37] memsharded commented on #9452
https://github.com/conan-io/conan/pull/9462 is upgrading the distro version, this will be released in 1.40

[2021-08-25 09:20] memsharded commented on #9446
Yes, a base lockfile shouldn't and won't contain the profiles. The issue here is that the result, also the "base" result is different, because the graph is different when using the 2 profiles, because it already annotates the "context" and using 2 profiles introduce the "build" context, also in the base profile.

[2021-08-25 11:03] memsharded commented on #9474
Hi @gmikhaile

Are you sure you are in the latest version? In https://github.com/conan-io/conan/blob/c3ecb9c524aaaaa5d5cdcf64ed9c359e4487ea97/conans/test/functional/toolchains/cmake/test_ninja.py#L112 you can see that the ``conan create`` use case. The PR you are pointing to was later complemented by several others like https://github.com/conan-io/conan/commit/f5b20e13ba54332b9d93d60ce9d3f62d8719a

[2021-08-25 11:24] memsharded commented on #9472
Hi @daravi

It seems that Conan does not have this information at the moment. The issue is that there is no explicit model for the system_requirements, it is just a method that can run something, and it can use some helpers like ``SystemPackageTool`` to assist in the process, but what it is installed is only a result of executing that code, but Conan doesn't get this information.

I think a possib

[2021-08-25 13:22] wer14 commented on #9474
Thank you, that was the problem.

[2021-08-25 13:22] #9474 closed, assigned to memsharded

[2021-08-25 16:19] playgithub opened #9475 "[question] Use `cmake --install` to install to `package` folder in `.conan`"
In the sample in doc https://docs.conan.io/en/latest/creating_packages/getting_started.html#creating-the-package-recipe,
In the lib `cmake --install` does things like copy data and `configrue_file` a header file to contain paths to data.
Is it possible to use `cmake --install` with CMAKE_INSTALL_PREFIX set to `.conan/.../package/<hash>` in function `package` in `conanfile.py`?

[2021-08-25 16:32] playgithub commented on #9475
It is possible, I've found it in the doc.

[2021-08-25 16:32] #9475 closed, assigned to nobody

[2021-08-25 16:47] playgithub opened #9476 "[question] header file contain absolute path to installed data"
The hard-coded absolute path in header file, make the binary install non-portable, the path is for a config file.
How to solve it?
I think for self developed lib, it's ok to convert the absolute path to relative path that's relative to the header file in `CMakeLists.txt`. But for other libs, a patch is needed, not so good. Any better way?

`configure_file` in `CMakeLists.txt` happens when `cmake.i

[2021-08-25 19:06] memsharded commented on #9476
Sorry, but I don't understand your question. Please provide a full reproducible case with your question (code and commands), explain the current behavior  (why it is a problem) and the desired behavior.

[2021-08-25 21:53] hannahwhy commented on #9446
Ah, I think I understand: it sounds like I should be able to use _any_ two profiles when generating the base lockfile, as it's the fact that a build/host split exists that's important.

I'll give that a try in my CI system and report back; if it works for doxygen, I think that'll be an effective workaround.

[2021-08-25 22:08] memsharded commented on #9446
Yep, exactly, it is recommended to use the 2 profiles that would represent the largest subset of dependencies in case there are conditional dependencies that exist in one platform and not the others, but as long as you use 2 profiles, the "topology" of the graph will be good enough to create a lockfile later from it using 2 profiles.

Looking forward your feedback, cross fingers! 🤞 😄

[2021-08-25 22:35] hannahwhy commented on #9446
@memsharded So far, it looks like things are working -- I've been able to run the build that motivated this report (an x86-64 -> armv7 cross build) without incident, using doxygen/1.9.1 as a build requirement.

Given Conan 2.0 will always use separate build and host profiles (https://github.com/conan-io/tribe/pull/23), I'm okay with doing this for Conan 1.x.  If you also think this is acceptable,

[2021-08-25 22:43] memsharded commented on #9446
Yes, please that would be great

Also, we are proposing https://github.com/conan-io/conan/pull/9468 for next release, to define always the build profile by default, even if not specified in command line, that might be of your interest if this moves forward.

[2021-08-26 01:30] playgithub commented on #9476
`CMakefileLists.txt`
[code]
so `config.hpp` contains a path that's not portable

`conanfile.py`
[code]
With `cmake.install()`, the installed `config.hpp` contain an absolute path to `config.json`,
so it is not portable for binary installation.

[2021-08-26 01:52] edahlseng opened #9479 "[question] How to prevent re-running build when creating multiple packages from one prebuilt zip"
I'm currently working with an SDK for cross-compiling onto an embedded target, and am looking to package this SDK into a Conan package. This SDK is available via a zip file, and is quite large. I'm trying to package it up into a generic `sdk` package, and a `toolchain` package, so that I can include them in the `requires` and `build_requires` sections, respectively.

Since the zip file is relative

[2021-08-26 08:07] dornbirndevelops commented on #9436
Hi @memsharded

I managed to accomplish my goal without the need to fork the official repository.
Instead I wrote a small hook for `pre_upload_recipe` that manipulates the mirrors in the downloaded conandata.yml before its being uploaded to the target remote. Additional steps that were needed was to repackage the extracted sources and update the manifest hashes.
With this hook in place the usage i

[2021-08-26 08:07] #9436 closed, assigned to memsharded

[2021-08-26 09:30] memsharded commented on #9479
Hi @edahlseng

Yes, the ``build_id`` feature only works for packages with the same name. Due to the ``set_name`` implementation it seems that you are creating different packages with different names. Furthermore, ``options`` are not evaluated at ``set_name()`` time, I am not sure how this is working...)

The idea of ``build_id`` is that you can reuse a build of the same package that output differe

[2021-08-26 09:34] memsharded commented on #9436
Thanks for sharing your approach @dornbirndevelops !

Just a word of caution: you are modifying what are supposed to be immutable packages. This will probably not work correctly if using revisions, because the revisions themselves would need to be recomputed, and that can produce changes in the package-ids downstream, etc, etc. Please take that Conan 2.0 will be using revisions always, and things

[2021-08-26 10:33] memsharded opened #9481 "[feature] Consider jinja templates for global.conf"
At the moment it is possible to use jinja for profiles.
Profiles can define a ``[conf]`` section, so it is possible to define conf based on env-var, for example.
But this is not possible for "core" configuration, that is only defined in *global.conf* file.

Does it make sense:
- To enable jinja for global.conf?
- To allow "core" configuration in profiles?

[2021-08-26 10:35] naggerx opened #9482 "[question] Overriding renamed requirements"
Is it possible to override the name of an requirement?

There is:
PkgA/1.0
PkgA/1.1
PkgB/1.0 requires PkgA/1.0
MyPkg/1.0 requires PkgB/1.0 and can overwrite PkgB's dependency of PkgA to PkgA/1.1

What if "PkgA" was renamed to "pkg_a" in version 2.0. How can MyPkg overwrite PkgB's dependency for "PkgA/1.0" to the new "pkg_a/2.0"?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io

[2021-08-26 11:07] memsharded commented on #9482
Hi @naggerx

It is not possible, different casing are treated as different packages, so it is not possible to do overrides for this. It is necessary to change the consumer ``requires``.

I would recommend to use a version bump, when PkgA/1.1 -> pkga/1.2, and then when you go down to the consumer to upgrade the dependency, then change the name as well.

[2021-08-26 12:02] #9367 closed, assigned to nobody

[2021-08-26 13:11] memsharded commented on #9476
I am not sure this is a Conan question but a CMake one? You want your ``CMakeLists.txt`` to generate the config.json with a relative path, not an absolute one?

[2021-08-26 13:15] SSE4 commented on #9473
I am not sure it's ideologically right that client itself has a knowledge of a particular CI (even the official one).

[2021-08-26 13:17] memsharded commented on #9473
Conan 2.0 will probably add explicit versioning schemes (semver, date, semver-alpha...), this is a feature to consider.

[2021-08-26 13:22] playgithub commented on #9476
For cmake, it's ok, because it always configure, build and install.
The path is always set properly during cmake configure.

For conan, it supports binary install, a fixed path might have a problem.

Both ok, as far as it works.

However better if the original cmake project is untouched.

[2021-08-26 13:22] daravi commented on #7720
Another example. Trying to model the pkg-config files of `gst-plugins-base` to make it component based and migrate it to CCI, I see that they use a variable called `pluginsdir`.

@memsharded I was wondering if this has been added to the road map or not? Should we not use components for packages that need to generate custom pkg-config variables in the time being?

[2021-08-26 13:42] ericLemanissier commented on #7720
this bug is actually fixed, you can take inspiration from https://github.com/conan-io/conan-center-index/blob/master/recipes/wayland-protocols/all/conanfile.py#L69-L75

[2021-08-26 14:08] memsharded commented on #9476
Conan packages must be relocatables, they cannot contain absolute paths, otherwise they will not work in different machines.
Files inside a package cannot contain absolute paths, your config.json must be generated and work with relative paths, or it cannot be used within the package. This is not Conan specific, you cannot simply build that thing in one machine, move to other machine and expect it

[2021-08-26 14:14] playgithub commented on #9476
Anyway to mark a conan package as source install only? so that the user has no chance to upload binaries for the pakckage, it'll always be installed from source code.

[2021-08-26 14:17] memsharded commented on #9476
``build_policy = "always"`` can help, but it will rebuild from source every ``conan install``. More a workaround than a solution.

[2021-08-26 14:28] SSE4 commented on #9469
the fix is: #8100

[2021-08-26 14:29] playgithub commented on #9476
yes

thanks anyway

[2021-08-26 14:29] #9476 closed, assigned to nobody

[2021-08-26 14:30] memsharded opened #9483 "[bug] Meson with pkg-config in Windows"
https://github.com/conan-io/conan/pull/9471 disabled these tests, because the new Meson integration with pkg-config doesn't work.

It seems that it never worked, apparently the tests were not running in Windows, because of Meson not correctly detected in CI.

[2021-08-26 14:41] memsharded commented on #9295
I am adding tests to our test suite in https://github.com/conan-io/conan/pull/9477/files, so far:

- CMake + independent Clang + Ninja/Mingw
- CMake + Visual Studio 16 + Internal VS ClangCL toolset (LLVM 11)

[2021-08-26 14:42] KerstinKeller opened #9484 "[bug] Taking (build)-requirements of test_package into account when creating lockfiles / build order"
We're using the following flow to lock a graph and create packages:

[code]
and then create the packages one by one, as specified in the build order.

Also in that case, V2 mode was activated (though I can't tell if that causes the problem or not)

I get a build order like this:
[code]
The build order states, that `curl` and `cmake` can be build independent of each other.
The problem is, while cur

[2021-08-26 14:42] memsharded commented on #9295
Based on the feedback above, at this point seems more an environment setup issue, related to that microsoft tools in that docker image, not a Conan issue?

[2021-08-26 14:58] voodooattack commented on #9412
I'm having the same issue with `llvm-core`, managed to isolate it down to a specific revision:

[code]

It only fails for that revision on my system as far as I know. It downloads other revisions just fine if I omit that argument.

[2021-08-26 15:40] memsharded commented on #9434
I am adding some tests for Clang into our test suite for new toolchains here: https://github.com/conan-io/conan/pull/9477
This is the future of Conan, so it would be great to make sure that things work there, and reduce to integrated unit-tests the desired behavior for different clang flavors, this is the only way to make sure that things work correctly.

[2021-08-26 18:05] AndreyMlashkin commented on #9295
A question: does the toolchain
CMake + independent Clang + Ninja/Mingw
require Visual Studio to be installed?

[2021-08-26 19:06] daravi commented on #7720
@ericLemanissier Thanks!

I would prefer the cleaner syntax above but I think this ticket can be closed.

[2021-08-26 19:09] #7720 closed, assigned to nobody

[2021-08-26 19:26] memsharded commented on #9295
require Visual Studio to be installed?

Good question, the thing is that the test output is:
[code]
So clang in windows itself is reporting some MSVC variables, but I think that it doesn't need VS to be installed at all, though it might need the runtime redistributable to run.

[2021-08-27 02:48] playgithub opened #9485 "[question] Can conan expose a set of libs by CMAKE_PREFIX_PATH?"
So that, for cmake project, it might take advance of CMAKE_PREFIX_PATH for conan, and `find_package` can find libs in `conan`.
Best of all, the original cmake project can keep untouched while using libs in conan.

EDIT
For `Visual Studio` project, `conanbuildinfo.props` is necessary, because a VS project is supposed to have no information about dependencies.
For `cmake` project, it have complete i

[2021-08-27 05:24] yoav-klein opened #9486 "[bug] Can't upload Conan package to Artifactory CE"
I run a Artifactory CE instance using the Docker installation on a server.
I create a repository of type Conan, called conan-test

Then I configure my Conan client as such:
[code]

When I now try to upload, after successful authentication, I get a timeout
[code]

NOTE that there is certainly communication with the server, as conan asks me user & password and only goes on if I enter the correct one

[2021-08-27 05:40] aniketh-varma commented on #9396
Hi, I would like to work on this issue. Since this is my first open-source contribution, I would be grateful if you can also guide me on doing the same.

[2021-08-27 05:45] hannahwhy commented on #9446
Sorry about the delay.  I'll aim to get a PR for this documentation change out in the next day or two.

[2021-08-27 07:06] dmn-star commented on #9295
The question of only using llvm  on Windows comes up regularly. I would say not yet.  But actually only you can answer this question for your project. You can try lld linker and see what happens. But you will need Windows SDK in any case.

e.g. here https://github.com/rust-lang/rust/issues/71520

or

https://users.rust-lang.org/t/can-i-compile-on-windows-using-nothing-but-the-llvm-toolchain/25683

[2021-08-27 07:38] dmn-star commented on #9295
The next problem will be that many recipes are not designed for this at all. Search for compiler != "Visual Studio" and you will see that in this case Mingw is assumed. Please check https://github.com/conan-io/conan-center-index/issues/6155 too.

[2021-08-27 08:02] SSE4 commented on #9295
yes, same story about other compilers, e.g. Intel - it also installs on top of Visual Studio and requires it, and it also will fail for checks like `compiler != Visual Studio`.

[2021-08-27 08:17] memsharded commented on #9295
Sure, this is the reason we are putting some effort into this issue, the idea is to keep adding testing and improving the new build system integrations like CMakeToolchain, so it is not necessary to check those conditionals in recipes directly in many cases. For other cases that is necessary, sure, that would be a recipe issue and can be discussed in the recipe or conancenter repo.

[2021-08-27 08:18] memsharded commented on #9396
@Alzamer had it assigned first. Can you please @Alzamer confirm that you are working on it?

[2021-08-27 08:22] memsharded commented on #9486
Hi @yoav-klein

Lets try first to remove possible setup errors, and make sure is nothing related to the client. If you could please:

- Download the zipped ArtifactoryCE, unzip, and launch it manually, in the same machine you are running the client
- Configure the repo and upload a package.

If that works, I would then try to do the same, but running on the different server, to try to rule out net

[2021-08-27 08:31] memsharded commented on #9485
This is done by the CMakeToolchain integration (also the legacy ``cmake_paths`` generator).

[2021-08-27 08:41] playgithub commented on #9485
Great
Thanks

[2021-08-27 08:41] #9485 closed, assigned to nobody

[2021-08-27 08:56] playgithub commented on #9485
Why does `cmake_paths` generator become legacy?
Is it replaced by `cmake_find_package` generator?

[2021-08-27 09:11] zuowanbushiwo opened #9488 "[question] When cross-compiling, the find_package function fails"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
I try  cross-compile packages for Android platform: [Using toolchain from Android NDK](https://github.com/conan-io/docs/blob/develop/integrations/cross_platform/android.rst#using-toolchain-from-android-ndk) , but In my CMakelist.txt   used  find_package(protobuf  REQUIRED) have follow

[2021-08-27 09:24] Einh06 opened #9489 "[bug] Cross building to iphonesimulator, cmake system picks iphoneos SDK instead of iphonesimulator SDK"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.5.2
  * Compiler+version: apple-clang 12.0
  * Conan version: 1.39.0
  * Python version:  3.9.0

### Steps to reproduce (Include if Applicable)

Cross building to iphonesimulator any cmake based package (c-ares is an example)

### Logs (Executed commands with output) (Include/Attach if Applicable)
<

[2021-08-27 09:34] memsharded commented on #9485
No, by CMakeToolchain

[2021-08-27 10:04] memsharded commented on #9489
Hi @Einh06

Debugging with such a big project is quite complicated. Could you please try to reduce it to a simple reproducible case? As this is related to the toolchain selection, no dependencies are needed, just a ``conan new hello/0.1 -m v2_cmake`` then creating the package with the profiles should be enough to reproduce.

Please also note that we will give priority to fixing and improving thing

[2021-08-27 12:17] dmn-star commented on #9489
You should set os.sdk to iphonesimulator in your profile_host.

My working host profile:

[settings]
os=iOS
os.version=13.1
**os.sdk=iphonesimulator**

arch=x86_64

compiler=apple-clang
compiler.version=12.0
compiler.libcxx=libc++
compiler.cppstd=14

build_type=Release

[build_requires]
*: cmake/3.21.1, ninja/1.10.2

<img width="684" alt="iphone_simulator_sdk" src="https://user-images.githubuserco

[2021-08-27 15:14] ghost commented on #9396
@memsharded @aniketh-varma Yes, I'm wrapping my head around it - I have been quite busy lately, hence I've just started

[2021-08-27 15:31] burgerkiller79 opened #9492 "[feature] Reverse sorting of CONAN_BUILD_MODULES_PATHS for CMake generator"
Hello,

the CMake generator currently fills the CONAN_BUILD_MODULES_PATHS and CONAN_BUILD_MODULES_PATHS_<build_type> variables within the conanbuildinfo.cmake based on the node traversal of the conan dependency graph by appending the build_module paths. In CMake, build modules of dependencies are thus included after those of their dependents.

Could you please revert the sorting of the paths such

[2021-08-27 16:00] jwillikers commented on #4216
@lasote What about cases where a package can be used in both embedded and non-embedded contexts, i.e. `fmt`? Surely we shouldn't remove the `os` option from the `fmt` recipe?

[2021-08-27 17:04] memsharded commented on #9396
@aniketh-varma please have a look at other "good first issue" in the repo.

[2021-08-27 17:33] aniketh-varma commented on #9396
Sure!

[2021-08-27 17:47] memsharded commented on #4216
I am starting to think that having a root identifier "bare" for not-OS systems, could be useful. Users could further add sub-settings to represent different bare metal systems (boards, micros, etc), but "bare" could be a useful convention.

Re-opening to discuss.

[2021-08-27 18:35] jwillikers opened #9493 "[feature] Add RISC-V Architectures to default settings.yml"
As [RISC-V](https://riscv.org/) is becoming a more popular target for embedded development, it makes sense to add it to Conan's default settings for both `arch_build`  and `arch_target`.
RISC-V is comprised of a base ISA with optional, additional extensions indicated by letters like `m`, `a`, and `c`.
There are 32-bit and 64-bit versions and _technically_ 128-bit, if I understand correctly, but I

[2021-08-27 18:49] jwillikers commented on #4216
Yeah, this would be a very helpful convention. At my company, we're currently looking at organizing this with just the `bare` _OS_ setting and then using options specific to the board / RTOS in the Conanfile of the package that builds the embedded executable. This seems pretty convenient for configuring any particular HAL / RTOS that are Conan packages, since they can be entirely controlled / conf

[2021-08-27 20:16] raphaelzulliger opened #9494 "[question] .proto files (gRPC) cross compilation"
I'm trying to cross build a project from `x64` to `ARMv7` that requires `protobuf`/`gRPC` to create stubs for `.proto` files.

Due to cross compilation, `conan install ...` installs/builds two `protoc` binaries  (along with `grpc plugin`) and places them into `~/.conan/data/...`: one for `x64` one for `ARMv7`. Unfortunately, during `cmake --build`, the `ARMv7` binary is taken and therefore the bui

[2021-08-27 22:49] memsharded commented on #9494
Hi @raphaelzulliger

Are you aware of the 2 profiles approach? Defining a "build" profile (protoc runs in the "build" context of the current machine), and the "host" profile (for the actual application running)?

It is possible that the ``conan.cmake`` wrapper does not support yet the 2 profiles approach.
Also, be aware of some complexities that arise from the fact that CMake doesn't support this

[2021-08-28 05:10] hannahwhy commented on #9446
I've opened https://github.com/conan-io/docs/pull/2203 for this.

[2021-08-28 06:49] aberegovoy commented on #6268
Just guess: would calling `conan user --clean` before `conan install` fix this?

I manually uploaded a recipe with admin password, hibernated, then did `conan install` next day and was asked a password again.

[2021-08-28 07:08] dmn-star commented on #9469
As I see it correctly it should be fixed first in Conan v2. https://github.com/conan-io/conan/projects/30#card-34273494
/cc @jgsogo https://github.com/conan-io/conan/issues/6588

[2021-08-28 07:12] zuowanbushiwo commented on #8303
@jgsogo @lasote @madebr @SeanSnyders @ericriff
I have been stuck with the problem of cross-compiling between protobuf and *..proto for two days. I have read a lot of issues and documents, but have not found a complete solution. What should I do? Where can I find a example?  Thanks!

[2021-08-28 09:32] raphaelzulliger commented on #9494
Hi @memsharded

Thanks for the ultra fast reply!

Yes, I'm aware of it and I'm using it (build-pr = `default` and host-pr = `grpc_repro`). `conan.cmake` supports it as well, here's the according code snippet from the repo I've linked above:

[code]

Obviously, it was a bad idea to use the `cmake.conan` wrapper in the git repo since it has obfuscated how Conan and CMake were actually used.
I theref

[2021-08-28 19:14] yoav-klein commented on #9486
Ok, now I'm running conan from the same server, trying to upload a package. I get this:

[code]

May it be an issue with the setting of the "Custom Base URL"? I've set this to the private IP of the server as such:
[code]

is that ok?

[2021-08-28 20:48] madebr commented on #8303
@zuowanbushiwo
Have you taken a look [at the test package of protobuf](https://github.com/conan-io/conan-center-index/tree/master/recipes/protobuf/all/test_package)?

I just tried to [build protobuf's tutorial](https://developers.google.com/protocol-buffers/docs/cpptutorial) using conan + protobuf.
I've [created a gist](https://gist.github.com/madebr/805efee409211d042a57d7fa6f06c4ba).

I can build

[2021-08-28 20:55] madebr commented on #9488
Show us your (host and build) profiles.
Show us the commands you executed.

[2021-08-28 21:28] daravi opened #9495 "[feature] Adding a run_requirements method?"
Hello,

I am wondering how can we distinguish between build-time requirements and run-time requirements in Conan? An example of a runtime requirement would be plugins needed by a library (actually the only example I have in mind). For example, the Qt Multimedia library needs some GStreamer plugins at runtime, which in turn might require some Alsa plugins. But these are not required to build Qt. So

[2021-08-29 02:47] zuowanbushiwo commented on #8303
@jgsogo @lasote @madebr @SeanSnyders @ericriff

Thank you very much for your help. I tried both repositories(conan-center-index/recipes/protobuf and your gist.) and both failed to compile and the errors were the same.
1. I follow conan doc  [Linux/Windows/macOS to Android ](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#linux-windows-macos-to-android), create a android

[2021-08-29 04:24] Makogan opened #9496 "[question] Can you install the pc files in a different directory other than the builddir?"
When following the guides on conan as is, all .pc files will be created in the same directory where the main executable lives.
If a project has a large number of dependencies you end up with dozens of pc files and it becomes challenging for a human to quickly see what is on the directory.

This is important for debugging and for using tools such as renderdoc where one may want to look for a specif

[2021-08-29 08:31] daravi opened #9497 "[feature] Ability for a recipe to modify another package"
Hello,

I think it may be better for me to describe my use-case that I think is not currently covered by Conan than give a suggestion.

There are cases when I need to modify a package. For example if I have a Qt installation, I might need to add an additionally purchased module to the installation. (in my case I buy the TreeView for QQC2 and install it in my Qt package in the Conan cache) Another

[2021-08-29 15:45] cchulo commented on #8476
@sfhacker what python environment is conan running on? what is your profile? are you building from within MinGW/MSYS2 terminal?

[2021-08-29 20:42] memsharded commented on #9496
Hi @Makogan

Yes, with the new ``layout()`` functionality, and the ``self.folders.generators`` (https://docs.conan.io/en/latest/developing_packages/package_layout.html#self-folders), you can define where the generated files will be located.

Just beware that legacy build system integrations will not directly understand this layout and might need some manual adaption, only the new integrations in `

[2021-08-29 20:45] memsharded commented on #9497
I am not sure what kind of modifications you have in mind, but as a general rule, it is not possible to modify packages. Recipes already implement their variability via ``settings`` and ``options`` and might also listen to some configuration items like ``tools.cmake.cmaketoolchain:generator``, and the build might also use some env-vars. But it is not that you can modify the recipe code from the do

[2021-08-29 20:48] memsharded commented on #8476
As a note, Conan 1.39 is introducing a new mechanism to define the Windows-bash environment (``win_bash=True`` as argument to ``self.run()``, and configuration items like ``tools.microsoft.bash:subsystem``). See https://docs.conan.io/en/latest/systems_cross_building/windows_subsystems.html#self-win-bash

[2021-08-29 20:53] memsharded commented on #9486
Did you mean "public"? The Custom Base URL should be the public URL of the server, otherwise clients will not know how to connect.

[2021-08-29 20:55] memsharded commented on #9446
https://github.com/conan-io/docs/pull/2203, will be published in 1.40, I think we can close this issue now?

[2021-08-29 20:55] #9446 closed, assigned to nobody

[2021-08-29 21:13] memsharded commented on #9495
The Conan 2.0 proposal is adding ``build=True/False, run=True/False`` among others traits to specify qualifiers to the different requirements: https://github.com/conan-io/tribe/pull/26

In Conan 1.X is not possible, and it will not be added, we will need to wait until Conan 2.0. Please stay tuned for the alphas and betas of Conan 2.0 to try things and give feedback.

[2021-08-29 21:22] memsharded commented on #9494
Please note that the generated ``conantoolchain.cmake`` (via CMakeToolchain) contains the paths and other stuff that might be useful/necessary to locate the generated xxx-config.cmake files, and to set some build configs to align with the current Conan settings. If you are not using it, you might need to be sure that your ``crosstoolchain.cmake`` is matching those Conan settings.

Yes, I am talkin

[2021-08-29 21:34] memsharded commented on #9493
It would make sense, but not for ``arch_build`` and ``arch_target``. They are about to dissapear, and are not necessary with the 2 profiles approach, which is becoming the default. I guess the proposal riscv32i, riscv32imac, riscv64gc sounds good, but it would be good to make sure the extensions do not explode, and besides ``imac``, we can have ``ima``, ``imc``, ``iac``, etc.

[2021-08-29 21:38] memsharded commented on #9465
It is true, and it is also true that we are getting push for adding VS2022 (here: https://github.com/conan-io/conan/pull/9370), and the rule must be the same for all. Options:

- Do not add versions until officially released (policy so far)
- Add versions even if they are not officially released, for all compilers (while they are in pre-release, beta)
- Add versions only of those compilers with so

[2021-08-29 21:43] sfhacker commented on #8476
This open issue is six months old!
@cchulo I have read on several fora that conan doesn't work very well and it should be avoided.
Can you post here screenshots showing the error message(s)?

[2021-08-29 22:18] memsharded commented on #8476
Hundreds of ConanCenter recipes build in windows with Msys2 (actually, a Msys2 Conan package used as ``build_require``), using different build systems, Autotools and others. Conan is used in production everyday by many thousands of companies (see some at https://conan.io/tribe.html), from startups to Fortune 100 ones. Of course there might be rough edges and things to improve, like any other tool,

[2021-08-29 22:44] cchulo commented on #8476
@memsharded thank you for your suggestion, lightbulb went off in my head and was actually successful in getting autotools detected in mingw/msys2:

- I cloned conan index project
- by tweaking apr conanfile.py recipe, I added self.win_bash = true
- installed the `base-devel` on msys2

After I did those two things I reattempted to create the apr package and conan was able to pick up autotools, and

[2021-08-29 22:50] cchulo commented on #8476
@sfhacker the only reason I want to compile with mingw is to ensure cross compatibility, not accidentally use anything that is platform specific in my applications, but also I strongly dislike Visual Studio itself, and how bloated the installation is (even if you are installing MSVC and Windows SDK, it is still a heavy installation). I strongly believe conan can succeed, so as long as devs keep br

[2021-08-29 22:50] memsharded commented on #8476
btw is there a way of setting self.win_bash without modifying conanfile.py recipe? no right?

No, it is not possible, no way to inject it from downstream, need to modify (fork) recipe.
We are now starting a process to modernize ConanCenter recipes to use the new build system integrations, it will take some time (months), but at least it has started.

Maybe @SSE4 can help with the specifics of the

[2021-08-29 22:56] SeanSnyders commented on #4754
This approach would not work, as the current implementation of Conan maps the `CONAN_CXX_FLAGS` to `CMAKE_CXX_FLAGS` during the construction of the `CMake` build helper class:
https://github.com/conan-io/conan/blob/develop/conans/client/build/cmake.py#L75

This is not a good practice: business logic and behaviour in the constructor. It also hampers tweaking of these settings as per the example abo

[2021-08-30 03:25] Makogan commented on #9496
Hello,

Thank you for your reply, I am still a bit lost.

From the documentation is seems it should be enough to add the following to the conan.py file:

[code]

And then run:

`conan install . -if=my_install -s build_type=Debug`

The docs say:

From that I would expect a `cmake-build-debug` to be generated either on the project root or under my_install and then inside of its `generators` subfolde

[2021-08-30 05:26] ssrobins commented on #9349
Still failing on my side.

I have a `conan_v2` branch that has the explicit `tc.variables["CMAKE_OSX_DEPLOYMENT_TARGET"] = self.settings.os.version` setting and a `conan_issue_9349` branch that doesn't:
https://github.com/ssrobins/conan-zlib/compare/conan_v2...conan_issue_9349

Here's the compilation output from `conan_issue_9349`, notice `-target` is `x86_64-apple-macos11.1`:
![image](https://use

[2021-08-30 06:10] yoav-klein commented on #9486
I've set the private IP since I'm running Conan from the same machine, so if the client can find the server on the public IP it most certainly should find it on the private IP, just trying to eliminate some possible problems related to networking. I did try using the public IP when running conan from a machine on another network, that brought me to open this issue.

[2021-08-30 06:25] dornbirndevelops commented on #9436
I just figured out that the conan-center-index repository is actually really simple to export.
Also for better transparency and less "side-effect" code, I will try and go with the [solution](https://github.com/conan-io/conan/issues/9436#issuecomment-902306840) described here.
Thanks again 👍🏼

[2021-08-30 06:59] daravi commented on #9495
That sounds great @memsharded! Will close as duplicate then.

[2021-08-30 06:59] #9495 closed, assigned to nobody

[2021-08-30 07:05] lasote commented on #9412
@voodooattack which operating system/conan version/python version are you using? Thanks

[2021-08-30 10:09] franramirez688 commented on #9349
Thanks for your last report @ssrobins
It helped me a lot to figure out what was going on 👏

[2021-08-30 10:22] memsharded commented on #9496
Hi @Makogan

The ``-if=myinstall`` is a legacy from the previous mode, that is not possible to remove it yet, it is used to generate the ``conaninfo.txt`` and ``conanbuildinfo.txt`` that are needed for some local commands. But the new layouts ignore that argument. The reason is that if the layout now depends on an unknown, non-modelled command line argument, it is very difficult to achieve the rep

[2021-08-30 10:50] voodooattack commented on #9412
OS: Ubuntu 21.04 x86_64
Conan version: 1.39.0
Python version: 3.9.5

[2021-08-30 10:51] #9336 closed, assigned to memsharded

[2021-08-30 11:37] memsharded commented on #9295
https://github.com/conan-io/conan/pull/9477 is merging tests that verify that clang is supported on Windows, at least for the 2 most relevant cases (independent clang and MSVC integrated clang), so considering this solved.

Please report detailed failures of the integration, it would be great if possible to use the new tests in the test suite. Thanks!

[2021-08-30 11:37] #9295 closed, assigned to memsharded

[2021-08-30 11:40] #9349 closed, assigned to franramirez688

[2021-08-30 13:56] max-ag opened #9499 "[bug] `self.deps_cpp_info` of build_requirements is discarded when using a build profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: N/A
  * Conan version: 1.39.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

I'm trying to package a toolchain with Conan, specifying the `cpp_info.sysroot` in the `package_info` method.
When specifying the toolchain as a `build-requires` in a p

[2021-08-30 14:49] #9202 closed, assigned to nobody

[2021-08-30 14:50] memsharded opened #9500 "Use CMAKE_FIND_ROOT_PATH_MODE_INCLUDE in CMakeToolchain instead of XXX_DIR solution for OSX"
`find_package()` doesn't need `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE BOTH` in `CMakeDeps` (see https://github.com/conan-io/conan/issues/9202#issuecomment-878363451, but it could be replaced by `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE BOTH` instead).
`find_library()`, `find_path()` and `find_file()` would also need https://github.com/conan-io/conan/issues/9427, `CMAKE_FIND_ROOT_PATH_MODE_* BOTH` is not suffi

[2021-08-30 15:04] memsharded commented on #9499
Hi @max-ag

Thanks for your detailed report. This is expected behavior. Maybe it needs to be written more evidently but in https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-build-requires, it explains how the environment is propagated to the consumer of the build require. The ``cpp_info`` is not propagated, because a build_requires in the build context is not suppose