[2022-03-21 09:22] lasote commented on #10676
Hi! I'm working with a [branch](https://github.com/conan-io/conan/pull/10812) containing some improvements for the Bazel integration. I gave a try to your `zip` file and even changed the "hello world" with a real Boost usage and now it is working fine. It will be released at Conan 1.47.
The only thing you need to take into account is apply the "build" profile when calling `conan install` command:

[2022-03-21 09:26] SSE4 commented on #10830
is it possible that it spawns a dialog box (like runtime error, assertion failed or DLL load error)?

[2022-03-21 09:29] slietzau commented on #10837
@memsharded Thanks for the quick response. `CMakeDeps` + `CMakeToolchain` don't work either.

[2022-03-21 09:32] memsharded commented on #10837
can you clarify why you need that property? Aren't the targets defined by CMakeDeps working? I recommend starting with an example with ``conan new hello/0.1 -m=cmake_lib`` to report (The ``test_package/conanfile.py`` is using ``CMakeDeps`` there)

[2022-03-21 10:29] slietzau commented on #10837
Thanks again. I just checked the boost recipe (because we use a modified version of the `boost` package). Turns out we clear the libs for all components:

[code]

Anyway, the idea was to use an empty link list and let the compiler find the libraries. However that needs the `INTERFACE_LINK_DIRECTORIES` setting which is currently only supported by the `cmake_find_package` generator.

However, I gues

[2022-03-21 10:35] thisisfangsheng opened #10838 "[question]Can I make a patch to the dependencies set by "requires" before I build it from source?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I want to build conan package for my code. It requires some dependencies, such as tensorflow lite. I could specify it by "requires" in my conanfile.py. And it will trigger the tensorflow lite source download and build (because I need to build it for arm, so no prebuilt package).

Howe

[2022-03-21 10:38] steromano87 commented on #10833
Hi @memsharded, thanks a lot for the answer.

One last question, in case of build-only system packages requirements, is there a way to skip the installation of such packages in consumer projects, since some of them may break existing installations?

Let's assume that my original package `myLib` requires a system package at compile time only (but not at runtime), and installing the same system pack

[2022-03-21 10:56] pananton commented on #10830
If I directly login to the CI runner machine with the same user as used by the runner and perform `conan create` directly no dialog boxes are opened... I've tried even to perform command that stucks directly and it also worked just fine. I mean, this command:
[code]

Also I've tried to set custom CONAN_USER_HOME / CONAN_USER_HOME_SHORT , because runner is launched as a windows service and may not

[2022-03-21 11:01] memsharded commented on #10833
Yes, I think this would be a case for putting that system_requirement inside a "proxy" ``mysystempkg/system`` package, that then can be used as a ``tool_require`` for other recipes. As ``tool_require`` will not be used if not necessary to build from source, you will achieve that behavior.

[2022-03-21 11:32] jmpatri1 commented on #5661
We have a couple of enterprise deployments of Artifactory.  At present, I don't think there is a huge number of conan packages in use, however we're pretty early in our conan adoption.  We do have something like 20k git repo's around the org and I would say that code discovery is a major issue that a search feature like this could help address.

[2022-03-21 11:49] memsharded commented on #10838
Hi @thisisfangsheng

No, this is not possible, consumers cannot modify how their dependencies manage their source code. The process for that is:

- First, fork the dependency recipe (tensorflow).
- In the recipe, at least those in conan-center-index repo, they have the sources and patches defined structured in the ``conandata.yml`` file, so adding a patch is as simple as adding the information the

[2022-03-21 12:27] gpxricky commented on #10827
@memsharded

I've ended up with the following solution:

env_provide/conanfile.py:

[code]

env_consume/conanfile.py:

[code]

env_consume/environment.py:

[code]

[2022-03-21 12:35] gpxricky commented on #10826
It seems that I need to specify `self.folders.generators` in the `layout()` method. However, please be aware that this folder does not seem to support `self.folders.root` - it always seems to be relative to the `conanfile.py`.

[2022-03-21 12:38] gpxricky commented on #10781
@memsharded It seems that `self.folders.generators` does not support `self.folders.root`. Check comment in #10826 for details

[2022-03-21 13:02] gpxricky commented on #10826
@memsharded

It is even stranger. The root folder seems to be applied when running the `build` method, but it seems to be relative when running the `generate` method:

[code]

Output of `conan install` command (package development flow) is:

[code]

Output of `conan build` command (package development flow) is:

[code]

[2022-03-21 13:08] memsharded commented on #10826
Yes, apparently it is working only in some cases, I am checking it, thanks for reporting

[2022-03-21 13:10] StellaSmith opened #10841 "[bug] Wrong auto detected arch setting for Raspberry Pi 4b"
see related [issue in cci](https://github.com/conan-io/conan-center-index/issues/9866)

Seems like Conan generates the default profile with `arch=armv7`. While this kinda makes sense since the raspberry os has exclusively been a 32bit os up until recently, this is no longer the case nowdays

### Environment Details (include every applicable attribute)
  * Operating System+version: **Raspberry Pi O

[2022-03-21 13:20] memsharded commented on #10841
Can you please report what Python ``platform.machine()`` is returning on that RPI?

[2022-03-21 13:21] StellaSmith commented on #10841
Seems to report `'aarch64'`

[2022-03-21 13:25] memsharded commented on #10841
Weird. The code for detection is already:

[code]
So it seems it should return armv8.

Is Conan running on the same Python env?

Please note, that in any case, the auto-detection is not to be relied on. The recommended practice for production is to use your own defined profiles files (and you can manage them with ``conan config install`` if you want). Conan 2.0 is removing the automatic detection

[2022-03-21 13:36] StellaSmith commented on #10841
Hmm, and now can't reproduce the error. I'm pretty sure I never touched the `arch` setting so it must had come from the autodetection.
Well, since i can't reproduce it i will close this issue, assuming it was an error on my part.

[2022-03-21 13:36] #10841 closed, assigned to nobody

[2022-03-21 13:48] steromano87 commented on #10833
Thanks a lot! I'll try this way.

[2022-03-21 13:48] #10833 closed, assigned to memsharded

[2022-03-21 13:51] memsharded commented on #10826
You are right, apparently it was covered by tests, but really it was lacking some checks. I have fixed it and submitted https://github.com/conan-io/conan/pull/10842 for next 1.47 release.

[2022-03-21 14:50] memsharded commented on #10841
It could be that the auto-detection was ran some time ago, in an older Conan version or something like that.

[2022-03-21 14:52] #10714 closed, assigned to nobody

[2022-03-21 15:00] Carsten87 commented on #3113
@memsharded we ran into the same problem. We have a setup very similar to @jasal82:

- during development we push packages to a `staging` repository
- once a component is released we promote it to a `production` repository
- `production` has a higher priority than `staging`

Now let's assume the following packages are present:

- staging
    - pkg/1.0.0@user/channel
    - pkg/1.0.1@user/channel

[2022-03-21 15:27] avetiso commented on #10796
@memsharded thanks, I might get an MR up but preferably after I figure this issue out with meson first.

@eli-schwartz here is the meson-log.txt:

[code]

Here is me running the compile command successfully as meson generated it, and checking the arch and format:

[code]

Here is the conan_meson_cross.ini that was generated:

[code]

Again, I was expecting that it would not try to run the sanity c

[2022-03-21 15:50] avetiso commented on #10796
Okay, I think I had an assumption here. I assumed that the generated conan_meson_cross.ini file was automatically configured for consumption by meson but that doesn't appear to be the case.

Passing it manually the same way I did the layed sanity_check_off.ini file I had seems to have the same effect.

Is that the intended behavior?

[2022-03-21 15:54] memsharded commented on #10796
Meson doesn't get it automatically, it has to be passed in the command line as an argument, is that what you mean?

[2022-03-21 15:57] avetiso commented on #10796
Yes, that's what I mean. Just one of those assumptions that only hits you way down the road that you shouldn't have assumed that.

It does seem to work fine now, PR should be up by tonight hopefully. :)

[2022-03-21 16:00] computerquip-work commented on #10829
I also found this related issue from a few years back: https://github.com/conan-io/conan/issues/3148

Seems that in combination with that and https://github.com/conan-io/conan/issues/10387, there's no obvious way to work around this.

After delving the source code a bit, I realized there's the concept of "blocks" described in CMakeToolchain. One of those is "find_paths" which apparently controls [

[2022-03-21 17:36] eli-schwartz commented on #10796
I had been going to say, that the Build Options part of the logfile you posted didn't mention anything about a cross file being specified on the command line. :)

[2022-03-21 18:20] gabyx opened #10845 "[question] Is `conanfile.in_local_cache` correctly set inside `layout()`?"
Is `conanfile.in_local_cache` correctly set inside `layout()`?

We are facing the issue that depending on the case that the package is build and installed as dependency
(`in_local_cache = True`) we want to set the build folder differently.

[code]

I am not sure if that variable is already set inside `layout()` when this package gets build(missing)/installed?

- [x] I've read the [CONTRIBUTING gui

[2022-03-21 18:53] tonka3000 commented on #10610
@memsharded I will check it

[2022-03-21 19:07] derived-coder commented on #7431
Usually people use docker to make sure the environment is the same when building the packages. So not sure what you mean with SDK.

It did it with zlib, did a build two times
[code]
And there seems to be no difference between the binaries. So yes there are identical. Is this is what you are looking for?

[2022-03-21 19:20] jwillikers commented on #8708
There is now `test_requires` which can be added in the `build_requirements` method, see https://docs.conan.io/en/latest/devtools/build_requires.html.

[2022-03-21 19:29] RobertBerger commented on #7431
I mean instead of bitbake zlib to build it with a cross toolchain (SDK).

1) You mean you always pass on your docker environment including your cross toolchain around to everybody?
I thought developers who use Conan just pull binaries from Artifactory.

2) Try to build it in different directories and it should show a difference.

[2022-03-21 19:31] memsharded commented on #10845
Hi @gabyx

``in_local_cache`` has been removed in 2.0. Now the ``folders.build`` and ``folders.source`` should be able to capture the local layout. It will not be defined inside the ``layout()`` method.

I would need to understand better, because there are a couple of unknowns:

How can the JSON file be created by CMake, in order to do the CMake build, it would need first a ``conan install``, whic

[2022-03-21 19:32] avetiso commented on #10796
https://github.com/conan-io/conan/pull/10846

[2022-03-21 20:03] jwillikers opened #10847 "[question] How to override a dependency shared between both a project and one of its test_requires dependencies?"
If you have a library which uses something like `fmt` and a testing framework which also uses `fmt`, how are you supposed to override the version of `fmt` for the `test_requires`?
In a situation like this, but dependencies which also use the testing framework as a `test_requires`, I currently get an error message like the following.

[code]

- [X] I've read the [CONTRIBUTING guide](https://github.

[2022-03-21 20:07] tonka3000 commented on #10610
@memsharded It works for version `170` and `190` 👏 . I have no `180`, but I guess it works too 😄 .

I used the small default project via `conan new hello_app/0.1 --template=cmake_exe`.

Command lines where `conan create . -s compiler.version=170 -s compiler="msvc" -s compiler.cppstd=14 -s compiler.runtime=dynamic` and `conan create . -s compiler.version=190 -s compiler="msvc" -s compiler.cppstd=14

[2022-03-21 20:42] gabyx commented on #10845
Hi @memsharded,

We have a CMake centered approach where we call CMake first with a toolchain file (which knows the corresponding Conan profile). CMake configures the build by calling `conan install --install-folder ${CMAKE_BINARY_DIR}/conan ...` over https://github.com/conan-io/cmake-conan

From the CMake side everything is clear, however Conan does not honour `--install-folder` such that it is s

[2022-03-21 20:54] gabyx commented on #10845
To understand better our setup here a picture:

![C++BuildToolchain](https://user-images.githubusercontent.com/647437/159362409-9848c883-0d51-4f6f-b0ed-d582cdfa8e19.png)

[2022-03-21 22:28] memsharded commented on #10786
Fixed by https://github.com/conan-io/conan/pull/10793

[2022-03-21 22:28] #10786 closed, assigned to memsharded

[2022-03-22 01:57] thisisfangsheng commented on #10838
Many thanks!

[2022-03-22 01:59] w3sip opened #10849 "[question] RPATH and crosscompiling on Mac"
We've been building our stack on x86_64 Mac, using Conan 1.41.1 and CMake 3.19

In this setup, the binaries that are generated include proper rpath (`@rpath` prefix on dependencies)

Now I'm trying to add cross-compilation from x86_64 to Apple Silicon. Things are generally working, except in the resulting binaries there is no rpath set.

What could affect this, and what factors affect rpath genera

[2022-03-22 07:28] gpxricky commented on #10827
@memsharded Question is, if something like above should be integrated into Conan in the future or if it violates any architectural decisions or is just to specifically? At least for me, the `VirtualBuildEnv` is not sufficient as I need to have the variables available directly inside the `build` method of the recipe.

[2022-03-22 08:03] gabyx opened #10850 "[question] How to set `cmaketoolchain:user_toolchain` for dependency?"
We have the following profile:

[code]

1. Is is possible to set these overwrite for `sdl` also inside the `conanfile.py` ? This would be very nice, we have not found a way in the documentation which shows that? Is it not possible?

2. How can we inspect the invocation of CMake when conan builds the package?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.

[2022-03-22 08:45] meftunca opened #10851 "Conan simdjson install failed"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Big Sur
  * Compiler+version:
    Homebrew clang version 13.0.1
    Target: x86_64-apple-darwin20.6.0
    Thread model: posix
    InstalledDir: /usr/local/opt/llvm/bin
  * Conan version:  1.46.2
  * Python version: 3.9

### Logs (Executed commands with output) (Include/Attach if Applicable)
conan insta

[2022-03-22 08:59] Bassem-Ramzy opened #10852 "[question] How to use Conan with C# Projects?"
Hi,
I know that Conan is designed to target C/C++ projects, but I can't think of reasons why it can't be used with `C#`, and I didn't really find documentation illustrating that _in specific_.

So, my questions is:
Can I use Conan with C# projects? if yes, then how? e.g. following [How to create and reuse packages based on Visual Studio](https://docs.conan.io/en/latest/howtos/visual_studio_package

[2022-03-22 09:13] memsharded commented on #10852
Hi @Bassem-Ramzy

Yes, there is no reason Conan couldn't be used for other languages. We had solid examples about using it for Go projects before go modules existed. There are users using it for LabView for example (https://www.youtube.com/watch?v=HtXDkFVo56s), and we have seen it also used for Matlab, to manage full OS iso images, or for Fortran too.

For C# we are not aware of extended usage, bu

[2022-03-22 09:20] #10852 closed, assigned to nobody

[2022-03-22 09:20] memsharded commented on #10851
Hi @meftunca

It didn't fail, it just doesn't have a precompiled binary for your configuration.
Please read the whole error message. You are removing some important parts of the message, like the URL that guides you to an explanation and solution of what is happening, or the recommendation to build from source when this happens.

[2022-03-22 09:24] #10676 closed, assigned to lasote

[2022-03-22 09:27] memsharded commented on #10563
This has been fixed by https://github.com/conan-io/conan/pull/10812

[2022-03-22 09:27] #10563 closed, assigned to mohabouje

[2022-03-22 09:28] memsharded commented on #10399
https://github.com/conan-io/conan/pull/10812 has provided an improved integration, including ``conan new --template=bazel_lib`` templates, which will really help to document and help getting onboarded the integration. Will be documented for 1.47, so closing this.

[2022-03-22 09:28] #10399 closed, assigned to nobody

[2022-03-22 09:29] memsharded commented on #9132
https://github.com/conan-io/conan/pull/10812 implemented a new integration for Bazel, to be released in 1.47, I recommend having a look.

[2022-03-22 09:36] SSE4 opened #10853 "[bug] ConanException: Duplicated requirement ignition-cmake/2.10.0 != ignition-cmake/2.10.0"
from https://github.com/conan-io/conan-center-index/pull/9872

if `test_package` uses an explicit requires like:
[code]
it fails with the weird error message:
[code]
however, for sure it's the same requirements.
therefore, it should be either no error at all, or error message has to be different (as requirement is equal)

### Environment Details (include every applicable attribute)
  * Operating S

[2022-03-22 10:08] memsharded commented on #10853
It is not clear how the linked issue relates, I only see there:

[code]

Could you provide an example starting with a ``conan new hello/0.1 -m=cmake_lib`` template, please?

[2022-03-22 10:09] memsharded commented on #10784
Closed by https://github.com/conan-io/conan/pull/10794

[2022-03-22 10:09] #10784 closed, assigned to memsharded

[2022-03-22 10:10] SSE4 commented on #10853
he already pushed more commits. it's:
https://github.com/conan-io/conan-center-index/blob/b5e8fb0cd9556f7f718a064b4c15c75c6f059b16/recipes/ignition-cmake/all/test_package/conanfile.py

[2022-03-22 10:16] memsharded commented on #10426
Having a look at this. I am checking what Conan is doing inside ``self.run(cmd)``, and it is doing a lot of things. An actual command might look something like:

[code]
with the bat or shell script managing to activate the necessary environment (for example calling ``vcvars`` to activate the right VS environment).

With that in mind, how would the solution look like? Wrapping just the original ``c

[2022-03-22 10:19] memsharded commented on #10853
Oh, I see.

Yes, if they do a explicit ``self.requires("ignition-cmake/2.10.0@")`` and Conan itself is injecting its own one, they will collide and raise. This is expected.

I don't think fixing this message is worth it:
- Already documented and recommended the way to go, with ``test_type = "explicit"``
- Conan 2.0 already stopped injecting the reference
- The ``conan new`` templates are updated w

[2022-03-22 10:20] harsszegi commented on #10426
I think it is just perfect, if there would be an injeciton point prior calling the actual build / configure stage and still would be executed in the same shell environment where the build / configure command is executed, it is just fine afaik

[2022-03-22 10:23] memsharded commented on #10426
So that means, an injection point around the "user" ``cmd``?, so the final executed thing would be like:

[code]

[2022-03-22 10:30] harsszegi commented on #10426
I think that is just perfect.

[2022-03-22 10:58] saukijan commented on #10745
@memsharded , the issue still persists in version 1.46.2

[2022-03-22 11:38] pananton commented on #10830
Additional information. As I mentioned earlier build stucks during *configure* step (when `configure` script is working). I've looked through this script and find out that it creates **conftest.c** file and tries to compile it to check C compiler features. When build stucks (note that cl.exe exists in the active processes) **conftest.c** looks like this:
[code]

This is the example how `configure`

[2022-03-22 11:59] meftunca commented on #10851
@memsharded  it's done. Thanks :)

[2022-03-22 12:37] #10851 closed, assigned to nobody

[2022-03-22 12:52] beutlich opened #10854 "[question] Support of percent-encoded passwords for tools.Git"
Does the Git tool support percent-encoded passwords? It looks to me that it was supported by Conan 1.32.0, but no longer by later versions. Thanks for your clarification.

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-03-22 15:16] JonathanGirardeau commented on #10699
Hello @czoido,
Thanks for the tip, I finally use a cmake toolchain file to set `CMAKE_SYSROOT` variable:
[code]
And I reference the toolchain in my profile:
[code]
I think it is cleaner than adding in all my recipes a code to check whether MY_SYSROOT configuration variable exists and set CMAKE_SYSROOT variable to the same value.

[2022-03-22 15:16] #10699 closed, assigned to nobody

[2022-03-22 17:54] anderson-dev commented on #9330
Thanks. I'll start using vs_layout as suggested in #10748

[2022-03-22 17:54] #9330 closed, assigned to nobody

[2022-03-22 18:23] anderson-dev commented on #10636
Last question to put this issue to bed: Can I still use `conan.tools.collect_libs` or is it discouraged?

[2022-03-23 04:23] hwhsu1231 commented on #10832
@memsharded About what you said,

Do you mean the situation using **"Multi-Config"** CMake generator?

[2022-03-23 05:01] hwhsu1231 opened #10857 "[feature] Support `QUIET` option when `find_package` config files generated by `CMakeDeps`."
According to the [CMake](https://cmake.org/cmake/help/latest/command/find_package.html#basic-signature) documentation, we can use `QUIET` option in `find_package`.

Therefore, the output messages won't be too much. However, it seems that those messages **still exist** even though I add `QUIET` option in `find_package`.

According to the [CMake](https://cmake.org/cmake/help/latest/command/find_pack

[2022-03-23 08:46] memsharded commented on #9330
I'd also recommend having a look once 1.47 is released. It got important updates and fixes, and a template ``conan new hello/0.1 --template=msbuild_lib`` that can really help: https://github.com/conan-io/conan/pull/10760

[2022-03-23 08:52] memsharded commented on #10854
I don't see at first sight anything evident in code that changed regarding that.

In any case, that tools is being superseded by new ``from conan.tools.scm import Git``, introduced in https://github.com/conan-io/conan/pull/10594, docs in https://github.com/conan-io/docs/pull/2419. At this moment, it doesn't have any feature regarding authentication, this is an important thing that needs to be take

[2022-03-23 10:02] JonathanGirardeau opened #10859 "[bug] components in cpp_info seem to have no default directories"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc version 9.3.0
  * Conan version: 1.44.1
  * Python version: 3.8.10

I started to use components to fix an issue with link order of libraries of a package. Unfortunately it seems the usual default values of cpp_info are not set anymore.

I create a pkgB, it contains 2 li

[2022-03-23 10:07] memsharded commented on #10859
Hi @JonathanGirardeau

This is by design. When having components it is typical that they are build in different directories, they have includes in different directories, etc.  So components need to define their ``libdirs``, ``includedirs``, etc explicitly, as they are not defaulted to anything.

In any case, the lib order in ``self.cpp_info.libs`` should be respected in consumers for linking. If t

[2022-03-23 10:16] JonathanGirardeau commented on #10859
Thank u @memsharded for the quick answer.

Ok, it is not really convenient in my case but I understand. However I think the doc should be modified because this sentence seems to say the opposite: "The interface of the Component object is the same as the one used by the cpp_info object and has the same default directories." (https://docs.conan.io/en/latest/reference/conanfile/attributes.html#cpp-in

[2022-03-23 10:21] franramirez688 commented on #10850
Hi @gabyx

You can set the `[conf]` for any dependency as well:

* If you're using Conan >= 1.46, the configuration field `tools.cmake.cmaketoolchain:user_toolchain` only admits a list-like python-format:
[code]
* Otherwise:
[code]
And, no, it's not possible to set this value for your dependencies inside of your `conanfile.py` because of the possible rising of conflicts.

[2022-03-23 11:01] memsharded commented on #10859
That seems it could be some bad explanation (probably a language issue) in the docs. Up to my knowledge components never had a default value for directories, I think it pretends to say that it has the same ``includedirs``, ``libdirs`` attributes.

Yes, absolutely, that is the goal, and if not, should be investigated. Components should only be necessary for some advanced cases, like very big framew

[2022-03-23 11:23] ldobinson opened #10861 "[bug] .gitignore preventing .git internal files being copied to cache"
It seems that adding a path to the .gitignore of an scm conan recipe with sources can cause files under the actual .git directory itself to be excluded from the conan cache. Recipes relying on git info at build time could potentially be broken by this.

### Environment Details:
  * Operating System+version: Ubuntu 18.04 LTS
  * Compiler+version: N/A
  * Conan version: 1.46.2
  * Python version: 3.

[2022-03-23 11:28] memsharded commented on #10861
The ``scm`` feature is being removed in Conan 2.0. I would recommend having a look to https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html new feature that will replace it. It will no longer do file copies, but it will always be a ``git clone`` in the cache, so that problem should be gone.

[2022-03-23 12:35] pananton commented on #10830
Looks like the process stucks on the following command from *configure* script created by autoconf (I've replaced bash variables with actual values here):
[code]

As you can see from the last line, *configure* calls cl.exe as C preprocessor to parse conftest.c (remember, that it contains `include <stdio.h>`). Then at some moment process stucks until cl.exe is manually killed. Because absolute path

[2022-03-23 12:54] SSE4 commented on #10830
if you execute just `cl -E conftest.c`, does it complete?

[2022-03-23 13:26] pananton commented on #10830
Yes

[2022-03-23 14:05] gabyx commented on #10850
Thanks alot!

[2022-03-23 14:08] bukulin opened #10863 "[question] tool_requirement through virtualrunenv for separated host and build profiles"
# General Description
I have a fairly big multi-platfom cmake project with >1000 targets where most of the runtime and tool (formerly build) requirements are handled with conan. I've reached a point where I want to install cmake with conan, as well. (Up to this point everything went well, the whole conan project is great including the documentation! Thanks guys!)

So my problem is, that I want to

[2022-03-23 14:12] DukeOfKirkcaldy opened #10864 "[bug] merge refs not found in remote when capturing commit coordinates"
I am building packages in a pull request verification workflow to ensure that the changes integrate into all consumers.  When the sources are initially checked out, the standard behaviour of Github workflows (checkout action) is to check out the 'merge ref' (i.e. the commit which would be created if the pull request is merged).

When capturing the commit coordinates using methods in `conan.tools.s

[2022-03-23 14:59] memsharded commented on #10863
Hi @bukulin

It seems you are using only ``virtualrunenv``, while ``cmake`` is a ``tool_require``. It is intended to run at **build time**. So you should be declaring the ``VirtualBuildEnv`` generator (not the upper case, to use the modern one) instead. Please try that and let me know.

[2022-03-23 15:08] memsharded commented on #10864
Hi @GordonJess

But this is expected, if the commit doesn't exist in the server, it cannot be cloned from the server, it needs to be cloned from the place where the commit exists, so this is the rationale of the current proposed approach.

It seems that you want a special, different behavior depending on a future event (pushing that commit to the remote) that has happened yet, and then Conan doesn

[2022-03-23 15:23] realbogart opened #10865 "[question] CMake getting passed the wrong generator when using CMake helper and CMakeToolchain"
Using Conan 1.46.2

I am using the following conanfile.py:

[code]

When I run `conan install . -if test_install -pr:b=default` I get the following output:
[code]
And then I run `conan build . -if test_install` and get the following output and error:
[code]
What is going on here? Why is it passing `-G "MinGW Makefiles"` to CMake? It even shows the correct compiler in the profile output. Thanks!
-

[2022-03-23 16:20] memsharded commented on #10865
The build system integration is getting confused, because it doesn't have enough information. You have provided only ``settings = "os", "build_type"``, you need to add the ``settings = "os", "build_type", "compiler", "arch"`` so ``CMake``, ``CMakeToolchain``, etc, do not "guess" incorrectly that much.

[2022-03-23 17:27] czoido opened #10866 "Check CMakeToolchain template variable names homogeneity"
Currently in the CMakeToolchain we have some variables that are passed to the templates that are uppercase, like `CMAKE_OSX_ARCHITECTURES`, others that are lowercase like `cmake_system_processor`...
We should decide a unique criteria for this. This is important because we have mechanism in CMakeToolchain that you can inject different values for the variables inside the blocks' templates like this:

[2022-03-23 17:47] realbogart commented on #10865
That was it! Thank you so much for the quick reply!

[2022-03-23 17:52] #10865 closed, assigned to nobody

[2022-03-23 17:52] realbogart commented on #10865
Oh, and I just noticed how I forgot to put a title on the issue. Sorry about that

[2022-03-23 19:43] DukeOfKirkcaldy commented on #10864
Hi @memsharded.

Thanks for the suggestion but I think there is a small understanding.  The commit **does** exist in the server, but it is not possible to check it out directly because it is not found through the default refspec.  The logs of the Github Action show that the commit is fetched like so:

`git fetch origin +3d653a0222f675933f8110ecd3d19c658f0febab:refs/remotes/pull/1/merge`

I could p

[2022-03-23 22:47] DukeOfKirkcaldy commented on #10864
Just to confirm, I can get the `source()` method to work by fetching an additional refspec:

conandata.yml:
[code]
conanfile.py:
[code]
---

Would be neat if this new Git helper's `clone()` method could also accept `args` so I could add it as a config:
[code]

[2022-03-23 23:17] anderson-dev commented on #10636
reverting to `conans.tools.collect_libs` until it is ported to the new integrations

[2022-03-23 23:17] #10636 closed, assigned to nobody

[2022-03-23 23:18] #10748 closed, assigned to nobody

[2022-03-23 23:31] memsharded commented on #10864
Wouldn't it be cleaner a `git.fetch()`` that can be used like?:
[code]

Regarding the detection, what would be the command to be used?
Right now as you pointed, we are doing something like:
[code]
What would be a similar command that would allow to test that such commit exists in the remote?

[2022-03-23 23:41] DukeOfKirkcaldy commented on #10864
Yeah that would be better actually.  I thought the checkout ref could be added to the clone command (using -b <commit>), and in that case the refspec would need to be added as config.

Anyway, I think as long as branches is not empty then the commit is found, right?

[2022-03-23 23:43] anderson-dev opened #10869 "[bug] MSBuildToolchain doesn't work as intended when using vs_layout"
When I use `vs_layout` as [suggested](https://github.com/conan-io/conan/issues/9330#issuecomment-1046322806), all deps props are generated in x64/$(BuildConfig)/generators folder which works well. However, `conantoolchain.props` is also placed there instead of somewhere agnostic to the current $(BuildConfig). As a result, when I add the individual Debug/Release conantoolchain.props files, if the V

[2022-03-23 23:45] selsiddharthsingh opened #10870 "[bug] While system_requirement method, recipe fails due to an expectation of an older version of Jninja2"
### Environment Details
  * Operating System+version: Windows 10 Enterprise/10.0.19043
  * Conan version: 1.46.2
  * Python version: 3.8.10

### Steps to reproduce
Adding a system_requirement method with the above conan version in a conanfile.py and executing the recipe.
System requirement is trying to install python serial package.

[code]

It is expecting version <3 >=2.9 but conan 1.46.2 instal

[2022-03-23 23:48] selsiddharthsingh commented on #10870
This is the issue with the dependency I was installing and not with conan

[2022-03-23 23:51] memsharded commented on #10869
Could you please try using my source branch in https://github.com/conan-io/conan/pull/10760? That PR should fix it, as commented in https://github.com/conan-io/conan/issues/9330#issuecomment-1076097283.
It will be released soon in 1.47

[2022-03-23 23:55] memsharded commented on #10870
Hi @selsiddharthsingh

This is not a bug per-se. Conan is requiring some Jinja version and the other package that you are trying to install from ``system_requirements()`` is incompatible with it.

In the general case, I would try to avoid that, ``system_requirements()`` might help with some ``apt-get`` installation, for example, but having Conan itself modify the python environment that it is runn

[2022-03-24 00:27] selsiddharthsingh commented on #10870
Hi @memsharded, I also thought that it is due the package incompatibility, but the package I am downloading is not dependent on Jninja. So that is a bit weird. But your point of conan editing the environment it is running is good, I will keep python packages installation outside conan. Thanks for the reply.

[2022-03-24 00:39] memsharded commented on #10870
Yes, there is something weird there. Because ``requirements.txt`` contains:

[code]
So the jinja<3 only applies for Py27, which shouldn't be the case if you are running Py38. There might be something in the way ``pip.main`` executes.

In any case, if you can keep that outside of Conan, I think that overall will be simpler, so maybe not worth to investigate this further.

[2022-03-24 06:48] bukulin commented on #10863
Hi @memsharded

The `VirtualBuildEnv` does its job perfectly, and works pretty well on linux with bash and on windows with cmd. But the command interpreter of our choice is PowerShell on windows. I'm not a windows/PS expert by any means, but I tried to inject variables from bat files into a PS environment and I failed. :)

The old set of virtual environment generators (`virtualbuildenv`, `virtualr

[2022-03-24 07:06] gabyx opened #10871 "[question] How to make `layout()` and `conan install --install-folder/--output-folder` work flawlessly?"
We are facing some troubles where we have a really hard time solveing them correctly.
We really appreciate some help here.

Nameley how to make `conan install` (which we execute from CMake inside the build folder) respecting the build folder when outputting the generated files.

We use the following `conanfile.py` as recipe and receipt:
[code]

When developers are configuring the build with CMake

[2022-03-24 08:14] SaarYogev commented on #10542
Hi @memsharded, thanks for the information.
Do we currently have a "ConanCenter2" for experimation in the current alpha release, or is that planned for a future release?
If it isn't ready yet, are there any issues related to its development that we can follow/contribute to?

[2022-03-24 08:48] memsharded commented on #10542
We have a private instance we are using for experimentation during the alpha stage. We will make it public in beta. The recipes will be a fork of conan-center-index first, and then directly in conan-center-index (keeping 1.X compatibility, of course)

[2022-03-24 08:53] memsharded commented on #10863
Hi @bukulin

Yes, the ``VirtualBuildEnv`` generator already can generate PS. The part that is not automatic is "selecting" PS as output format and consuming it. We will be working on it when possible. In the meantime you might try with:

[code]
Applying it automatically in ``self.run()`` is still not there. The issue you want to track is https://github.com/conan-io/conan/issues/9898 (we might clos

[2022-03-24 08:55] bukulin commented on #10863
Great! Thank you for the help!

[2022-03-24 08:55] #10863 closed, assigned to nobody

[2022-03-24 10:50] Bassem-Ramzy opened #10873 "[question] Combining several static libraries into one using Conan"
Hi,
I have a _static_ library `lib2` of file `lib2cpp.cpp` that requires a _static_ library `lib1` of file `lib1cpp.cpp`.
When building `lib2.lib` (or `lib2.a`), I expect it to have both `lib1cpp.o` and `lib2cpp.o`.
Having `lib1` as a required package of `lib2` in the recipe with `CMake` is the generator, and building `lib2`, `lib2.lib` has only `lib2cpp.o`.
How to make `lib2.lib` have both the .o

[2022-03-24 12:02] czoido commented on #10801
I think this can be closed after the changes released in 1.46.2

[2022-03-24 12:02] #10801 closed, assigned to nobody

[2022-03-24 13:11] memsharded commented on #10426
https://github.com/conan-io/conan/pull/10867 implemented a plugin approach for this, to be released in next 2.0-alpha.6 soon

[2022-03-24 13:11] #10426 closed, assigned to nobody

[2022-03-24 13:59] #10826 closed, assigned to nobody

[2022-03-24 14:00] #10711 closed, assigned to lasote

[2022-03-24 15:02] Sil3ntStorm opened #10876 "[question] [1.46.2] build dependencies not detectable in json output"
When building missing dependencies while installing conan dependencies I am also using the --json parameter to be able to determine which dependencies have been built from source.
Some recipes have build dependencies that are also built from source, which will also be listed in the created json output. However there appears to be no way (that I have seen?) to tell them apart from actual dependenci

[2022-03-24 15:21] fredizzimo opened #10877 "[question] Why does conan not pass CMAKE_CXX_COMPILER to CMAKE"
As far as I understand from reading a lot of different issues and from my own experimentation it seems like conan does not set `CMAKE_CXX_COMPILER` and `CMAKE_C_COMPILER` from the profile settings to the cmake invoked from the recipe.

I understand that you have to define `CXX` and `CC` instead, but why is that the case? I also have trouble finding any real documentation related to this other than

[2022-03-24 15:38] fukanchik opened #10878 "[question] conan upload does not see the package"
conan upload does not see the package while `conan package` and `conan install` both report the same name:
[code]
but
[code]
conanfile:
[code]
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-03-24 15:40] memsharded commented on #10877
Because those are not env-vars, those are CMake variables. No matter if you define them in the ``[env]`` (or ``[buildenv]``) section of the profile, it will be defined in the environment, but CMake will not listen to that environment variables.

So it needs to be specified by recipes, and/or toolchains. I'd recommend to use the modern integrations (start with ``conan new hello/0.1 --template=cmake

[2022-03-24 15:42] memsharded commented on #10878
Hi @fukanchik

- ``conan package`` is a local execution of the ``package()`` method. It doesn't actually create a package.
- To create a package you need to run ``conan create`` (or ``conan export`` + ``conan install --build=...``.
- After creating the package that way, you will be able to upload.

[2022-03-24 15:44] memsharded commented on #10876
Have you tried the ``conan info`` command? That should report the "context" of each package in the graph, and you can have more info with its json too.

[2022-03-24 15:53] fredizzimo commented on #10877
No, I'm talking about the `settings` part.

If I set `compiler=clang` and `compiler.version=12`  I think it should pass `COMPILER_CXX_COMPILER=clang++-12` and `COMPILER_C_COMPILER=clang-12`  automatically without having to define any custom environment variables.

It sets `CMAKE_CXX_FLAGS=-stdlib=libstdc++` automatically based on the `compiler.libcxx` setting, so why not the compiler as well?

[2022-03-24 15:57] fukanchik commented on #10878
Ok, thanks. Somehow another package is uploaded without "create" (may be b/c it is header_only()).

[2022-03-24 15:57] #10878 closed, assigned to nobody

[2022-03-24 16:16] memsharded commented on #10878
Maybe it was exported with another command or something. Check your cache with ``conan search`` command to see what is there. Only packages in the cache can be used/consumed, and uploaded.

[2022-03-24 16:23] memsharded commented on #10877
Because the compiler can be different in every computer. The ``-stdlib=libstdc++`` is constant, it is safe for Conan to add it. But clang can be ``clang`` in one computer, ``clang-12`` in another (both in the path), or ``/usr/myfolder/clang`` in another computer (not in the path).

So Conan cannot know that, the most it can do is define the default ``clang`` and ``clang++``, and expect it to be on

[2022-03-24 16:32] fredizzimo commented on #10877
Yes, that makes sense, and that was basically what I assumed could be the only possible reason as well.

I think the current behaviour is fine and that it's mostly a documentation issue, using CC to control it works with other toolchains than just cmake, so it's probably better to just keep using that.

But perhaps it could still try to set clang-12 for example and give an error if it's not in the

[2022-03-24 17:48] pananton commented on #10830
@SSE4 Hello! I finally figured out exact source of problem. As I've mentioned, libiconv/1.16 builds just fine with msys2/20210105 (I   simply modified original recipe from conan-center-index to use it), but stucks when building it with msys2/cci.latest. Then I installed both msys2 versions in my runner's local cache and start to copy files from msys2/20210105 usr/bin to the same directory of msys2

[2022-03-24 17:54] SSE4 commented on #10830
I think it clearly indicates a bug in msys itself, consider opening an issue against MSYS2: https://github.com/msys2/msys2-packages/issues

[2022-03-24 18:27] selsiddharthsingh commented on #10870
I agree. Closing this.

[2022-03-24 18:27] #10870 closed, assigned to nobody

[2022-03-24 19:55] harsszegi opened #10881 "[question] Profile option depending on build type?"
Hi,

I have a strange issue.  For our packages in release mode we set some extra package options - which add some release specific tinkering to the package (e.g. digital signature). How can I set this package option in a profile?
E.g. is there a way to specify a profile option depending on the build_type? Or should I simply remove the option if build_type != Debug in configure()?

[2022-03-25 00:27] memsharded commented on #10881
Hi @harsszegi

Not fully sure what you mean, the title might be misleading. If you want to apply some logic directly in the profiles, you can use the profile .jinja extension, and write jinja templates (can use conditionals, variables, loops...)

If something is purely conditional to the build_type, then maybe it is not an option? The option should in theory be mostly decoupled from the settings.

[2022-03-25 00:49] Sil3ntStorm commented on #10876
That looks interesting, especially the dry-build option. Looks as though it can tell beforehand which packages need to be built as well. And if there are remotes that have it.
Should work out just fine, thanks.

[2022-03-25 03:29] harsszegi commented on #10881
@memsharded Practically it is really a “digital signature” kind of thingie. We are producing 3 flavors, release, release+signature, debug.
Obviously release+debug don’t have signature,release-signature does have. From consumers’ perpective only release-signature and debug should match (from package id’s perspective).
This option needs to be in a profile as we have several consumers who needs to co

[2022-03-25 03:50] pananton commented on #10830
Created an issue against msys2.. https://github.com/msys2/MSYS2-packages/issues/2893 . They already have a similar one, hope the problem will be solved soon. Thanks for advices.

[2022-03-25 03:50] #10830 closed, assigned to nobody

[2022-03-25 05:57] Eren86 opened #10882 "[question] gettext 0.21 build fails on Arm64"
Hello, I'm trying to build my application for arm64 however, I'm having build issue. I want to build gettext properly or force to use system package or disable it. I tried -fcommon in CFLAGS but output didn't change. I'd be grateful if you give me some answers explicitly. Thank you.

Error
[code]

Docker Setup
[code]
Profile Configuration
[code]

conanfile.py
[code]
- [x] I've read the [CONTRIBUTI

[2022-03-25 08:23] uilianries opened #10883 "[feature] Support config set for global.conf"
So far, it's only possible to read properties from [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) using the command conan [config](https://docs.conan.io/en/latest/reference/commands/consumer/config.html).

It would be nice adding edit support too. We do not need a new subcommand, only a new argument:

    conan config set --global tools.cmake.cmaketoolchain:

[2022-03-25 09:02] memsharded commented on #10883
We don't plan to add plain text file edition capabilities with Conan commands anymore. At most we will give a command that return the path to the file. ``conan config list`` does not read global.conf, not any other command displays the file.

[2022-03-25 09:40] uilianries commented on #10883
So users will need to edit and read using the old fashion way, cat and echo ?

[2022-03-25 09:49] Jonkrist commented on #8443
We also encountered this recently.
It's been a year since it was first reported.
Any prospect of a solution?

[2022-03-25 10:04] #10825 closed, assigned to czoido

[2022-03-25 10:20] memsharded commented on #10883
This is more or less the idea, yes. Why building a custom CLI functionality for editing text files? It seems a bit cumbersome.
In any case, those files should be very rarely edited by users, and ``conan config install`` should manage them.

[2022-03-25 10:25] memsharded commented on #10453
https://github.com/conan-io/conan/pull/10879 added a warning to illustrate about this effect

[2022-03-25 10:25] #10453 closed, assigned to lasote

[2022-03-25 10:32] memsharded commented on #10671
Closed by https://github.com/conan-io/conan/pull/10884, will be in 1.47

[2022-03-25 10:34] #10452 closed, assigned to franramirez688

[2022-03-25 10:34] #10805 closed, assigned to memsharded

[2022-03-25 10:34] uilianries commented on #10883
Good enough. Thank you for clarifying this.

[2022-03-25 10:34] #10883 closed, assigned to nobody

[2022-03-25 11:05] franramirez688 opened #10885 "[feature] Add extra flags via `[conf]` into `MSBuildToolchain`"
Related to https://github.com/conan-io/conan/pull/10800

Add the same mechanism into `MSBuildToolchain`

[2022-03-25 11:12] franramirez688 opened #10886 "[feature] Add extra flags via `[conf]` into `XcodeToolchain`"
Related to https://github.com/conan-io/conan/pull/10800

Add the same mechanism into `XcodeToolchain`.

[2022-03-25 12:08] beutlich commented on #10854
Thanks for the fast reply. I analysed some more details and finally found that 5c09f3ec15c4f5e69b131ea0c99196780a28e29b (for 1.33.0) broke our workflow where we already passed percent-encoded passwords to the SCM tool.

@danimtb FYI

[2022-03-25 12:31] Sil3ntStorm opened #10887 "[bug] get_safe errors out when not defined"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 x64
  * Compiler+version: VS 2022
  * Conan version: 1.46.2
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
The following code in a recipe will cause a warning when used with a profile that does not specify compiler.cppstd option.
[code]

### Logs (Executed commands with

[2022-03-25 12:42] #10854 closed, assigned to nobody

[2022-03-25 12:47] Sil3ntStorm commented on #10887
Okay so this only happens with the old profile that was created with an earlier conan version that detected VS2022 as msvc 193. Current conan versions again detect it as Visual Studio 17. With such a profile this error does not appear even if the value is not set:
[code]

[2022-03-25 13:05] Sil3ntStorm opened #10888 "[bug] Static Runtime ignored on Visual Studio"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 x64
  * Compiler+version: MSVC 2019
  * Conan version: 1.46.2
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
Similar to #10299 the runtime definition of "MT" / "MTd" is ignored and the Visual Studio project generated by cmake sets the Runtime to "MD" / "MDd" when built u

[2022-03-25 13:06] #10876 closed, assigned to nobody

[2022-03-25 13:44] memsharded commented on #10887
Hi @Sil3ntStorm

Yes, this is expected. Initially we wanted to introduce the ``msvc`` new compiler setting, but it was a bit too aggresive, because it only works well with the new integrations. So it was reverted back to ``Visual Studio``.

``msvc`` and Conan 2.0 will require to have defined the ``cppstd`` value explicitly, as opposed to 1.X which can be undefined.
So not really a bug, but differe

[2022-03-25 13:45] memsharded commented on #10888
That depends on the build system integration used, knowing the profile is not enough. You would need to provide a minimum example (recommended ``conan new`` with modern templates ``--template=cmake_lib`` if possible) to reproduce it.

[2022-03-25 13:47] memsharded commented on #10854
Yes, apparently it was declared as a bug, and fixed in https://github.com/conan-io/conan/pull/8355 (long time ago).

In any case, the feedback over the new integration ``from conan.tools.scm import Git`` is appreciated if possible.

[2022-03-25 13:54] memsharded commented on #10881
Have you considered adding a ``releasesigned`` in settings.yml ``build_type``?

Is this a typo? You mean release and release-signature? What is the match, should they have an identical package_id? (I don't think so, if they are different artifacts)

Is the consumption "all or nothing"? Should all the installed packages be signed, or is it ok if only some are?

What kind of prevention? Maybe just n

[2022-03-25 14:43] lasote commented on #10643
Probably this could be addressed later if necessary, I would move this to 2.X. This is enough for now.

[2022-03-25 14:52] Sil3ntStorm commented on #10888
The recipe is a copy of https://conan.io/center/json-schema-validator?tab=configuration which has been modified to pull from the latest sources and work around a few issues in both the json-validator project as well as this bug.
The recipe uses the old `from conans import ConanFile, CMake, tools` cmake stuff.

[2022-03-25 15:00] Sil3ntStorm commented on #10887
I just find it weird that a get_safe function, which supposedly checks but not fails on unset is supposed to well, not throw the hands in the air if the thing that it is supposed to check for happens.
But I don't know the conan internals, so I guess that's just the way it is then. Once conan 2.0 eventually lands this might not be an issue anymore, provided it actually checks for all the other thin

[2022-03-25 15:10] memsharded commented on #10888
But that could be something specific of the json-schema-validator build system (and thus, need to move it to ConanCenter repo, to fix the recipe). Can you reproduce it with a simple, hello world example (like with ``conan new hello/0.1 -s``, if you want to test it with the legacy integrations)?

[2022-03-25 15:14] memsharded commented on #10887
I don't think it is really failing in the ``get_safe()`` call, it is failing in another validation inside Conan internals. You can check by adding another print() to your code, to see it is not raising there, but the method executes without problems

[2022-03-25 15:19] Sil3ntStorm commented on #10888
That would require me to actually have something to build as a library and a CMake setup for it, and I don't deal in cmake. So unfortunately I won't be able to provide such in the foreseeable future.

[2022-03-25 15:35] Sil3ntStorm commented on #10887
I think I did that after posting the issue, not sure anymore.

[2022-03-25 15:37] memsharded commented on #10888
I am not sure if I follow. It is basically testing ``conan new`` + ``conan create``, to rule out other factors as recipe issues or library build scripts issues. Is this that happens in all packages, or just that ``json-schema-validator`` from ConanCenter?

[2022-03-25 18:28] blackliner commented on #10611
Lucky us who use poetry with its lockfile features to install conan (and all other stuff) 😅

[2022-03-25 19:33] harsszegi commented on #10881
Why we haven't really added a new releasesigned target is that we have only a handful of packages requiring digital dignature out of the ~100 we use.

Well what I wanted to say is of course that a debug build of the consumer should pick the debug variant of the digitally-signed-package, and the release version of the consumer should pick the release-signed version of the digitally-signed-package.

[2022-03-25 21:12] sirlordt opened #10890 "[bug] set(CONAN_DISABLE_CHECK_COMPILER True) Not work!!!"
I try to compile mongo c++ driver but not work i always get the same error.

I try the combinations

set(CONAN_DISABLE_CHECK_COMPILER True) #not work
set(CONAN_DISABLE_CHECK_COMPILER TRUE) #not work
set(CONAN_DISABLE_CHECK_COMPILER "TRUE") #not work
set(CONAN_DISABLE_CHECK_COMPILER "True") #not work
set(CONAN_DISABLE_CHECK_COMPILER 1) #not work
set(CONAN_DISABLE_CHECK_COMPILER "1") #not work

Plea

[2022-03-25 21:18] nimit25 opened #10891 "Added compiler flags in conanfile.py but doesn't build with those flags?"
I have this in my conanfile.py
[code]
However, I don't see these flags in the build. Is there an alternative way to add this?
Should I just add the flags in CmakeLists.txt instead?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-03-25 21:18] sirlordt commented on #10890
Fixed!!! i deleted the build folder. And regenerated full build folder.

set(CONAN_DISABLE_CHECK_COMPILER True CACHE BOOL "" FORCE )

[2022-03-26 11:25] SSE4 opened #10892 "[bug] conan.tools.microsoft.msvc_runtime_flag doesn't work for clang-cl (returns an empty value)"
see https://github.com/conan-io/conan-center-index/issues/9834

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Version 21H2 (OS Build 19044.1586)
  * Compiler+version: clang version 13.0.0
  * Conan version: Conan version 1.47.0-dev
  * Python version: Python 3.9.7

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed com

[2022-03-26 12:12] memsharded commented on #10891
Please read carefully the docs. The ``package_info()`` is information for consumers of the recipe, not for the same recipe. It is unusual that a recipe will define ``cxxflags`` for its consumers too, that might only happen for some recipes like packaged toolchains.

For defining flags for the self, current recipe, you can:

- Define them directly in your build system (note that Conan is not a buil

[2022-03-26 12:13] memsharded commented on #10890
Glad that you found how to solve it.
Yes, the CMake cache can be tricky. I often remove it and start from scratch if something is behaving weirdly with Cmake.

[2022-03-26 12:13] #10890 closed, assigned to nobody

[2022-03-26 12:33] smoofra opened #10893 "[bug] deps_env_info is empty when calling package_info()"
I'm not sure if this is a bug or a feature request, but here's what I'm trying to do.

The docs say private requirements "might be necessary in some extreme cases, like having to use two different versions of the same library".   That's what I'm trying to do.     I have a package called "go", which contains the golang toolchain.  I have another package that wants to use two different versions of i

[2022-03-26 13:40] jellespijker opened #10894 "[question] SHORT DESCRIPTION"
I'm trying to use Conan as an alternative to managing our Python dependency modules. But I can't figure out a nice way to append the downloaded python module `py` files to the `PYTHONPATH` such that consumer packages might use these. I currently got it to work using `user_info` but I think using it like this is far from ideal. I would rather apply the environment of all dependencies.

I'm probably

[2022-03-26 15:50] Zephilinox opened #10895 "[question] How do we build dependencies with sanitizer flags?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently we're using Conan and CMake and we have enabled sanitizer flags (asan, ubsan, tsan, etc) for our cmake targets. Some sanitizers (such as thread sanitizer) require that all libraries we link to are also built with sanitizers enabled.

We use `conan_cmake_run` with `BUILD miss

[2022-03-26 16:59] anderson-dev commented on #10869
I wasn't able to clone and test with the PR that you referenced yet, but I overrode the settings to match the changes you made to vs_layout:
[code]

This resolves the issue now that the `conantoolchain.props` & `conandeps.props` are generated to the same folder regardless of build_type.

However, would you be open to exposing the `base` variable of `vs_layout` as something like `self.folders.outdi

[2022-03-27 06:56] SimplyLiz opened #10896 "[bug] Conan does not work on macOS 12.1 and latest 12.3"
I've tried Conan on my MacBook Air m1 with macOS Monterey 12.1 and it didn't work because it could not find os version 12.1

[code]

I then updated to macOS 12.3 and now it still doesn't work. but now because of compiler version
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey 12.3 (latest) - M1 (arm64-apple-darwin21.4.0)
  * Compile

[2022-03-27 08:59] ehartford opened #10897 "[feature] cld2 package"
requesting cld2 package
https://packages.ubuntu.com/focal/libcld2-dev
https://github.com/CLD2Owners/cld2

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-03-27 10:35] SimplyLiz commented on #10896
sorry. seems that the bug was on our side

[2022-03-27 10:35] #10896 closed, assigned to nobody

[2022-03-27 17:01] memsharded commented on #10896
No prob, happy to hear that it is solved now

[2022-03-27 17:02] memsharded commented on #10897
Hi @ehartford

This request should be done to the https://github.com/conan-io/conan-center-index repo.

Please read the readme there and follow the guidelines to request this library. Thanks!

[2022-03-27 17:02] #10897 closed, assigned to nobody

[2022-03-27 17:17] memsharded commented on #10869
Wouldn't it make sense to use the ``self.cpp.build.bindirs`` directories? (it is a list, you can use the ``[0]`` first element).

Also a couple of quick hints towards future:
- ``self.copy`` is being replaced by ``from conan.tools.files import copy`` (available in 1.X)
- ``imports()`` will dissapear in Conan 2.0. Import operations will be explicit ``copy()`` in the ``generate()`` methods.

[2022-03-27 17:38] memsharded commented on #10894
Yes, I think it is because the generated ``activate_run_python.sh`` (or bat) script is not automatically injected in the ``test()`` method of the recipe (it might be injected in the ``build()`` method).

I'd probably recommend checking the modern environment generators. This seems to work without problems (and it nicely explicit the differences in "build" and "run" environment):

conanfile.py
[cod

[2022-03-27 17:51] memsharded commented on #10893
Hi @smoofra

I think the initial assumption is wrong. The ``private`` packages should be completely private, you cannot simply re-export its path. When private packages are not required, because they are transitively hidden, they will not be fetched/downloaded at all. In this case when ``go_1_11`` is already there, as ``go/1.11`` is a private version, it will not be used at all, and its informatio

[2022-03-27 17:57] memsharded commented on #10895
Hi @Zephilinox

Yes, Conan is a package manager, not a build system. You cannot tell Conan some compiler flags, and they will be magically passed to every recipe, because the recipes and the build systems might not use them at all. It is the responsibility of every recipe and every CMakeLists to define compiler flags. The challenge there is the variability on how every build system allows passing

[2022-03-27 17:57] #10895 closed, assigned to nobody

[2022-03-27 18:31] memsharded commented on #10892
https://github.com/conan-io/conan/pull/10898 adds support for clang ``runtime`` following the new ``msvc`` model.

[2022-03-27 21:16] memsharded commented on #10871
Hi @gabyx

I think you might be able to achieve it, I have tried this:
[code]
Then, modify the layout to represent the layout that I want:

[code]

If we want the generated files just in first level "conan" folder, then the layout should not use "build/conan".
Then use the ``--output-folder=.`` inside the "mybuildfolder"

[code]

In any case, the layout in the cache is not very relevant, as long a

[2022-03-27 22:08] Zephilinox commented on #10895
Thanks :)

[2022-03-28 06:47] jellespijker commented on #10894
Thank you @memsharded that seemed to do the trick. Only change I had to made was: `self.runenv_info.append_path("PYTHONPATH, ...)`

I couldn't find any reference in the documentation about how to use `conanrun` in the `run` command
- https://docs.conan.io/en/latest/reference/conanfile/other.html#output-and-running
- https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualrunenv.html

[2022-03-28 06:50] gabyx commented on #10871
Hi @memsharded

We actually did it almost the same as you but (you use insource build correct?)

[code]

[code]

The `conan_toolchain.cmake` is only used when creating the package.

`conan create` obviously uses another structure in the cache:
[code]
and this works also like the developer workflow because on `conan create` the toolchain `conan_toolchain.cmake` which is generated and used adds `...

[2022-03-28 06:53] gabyx commented on #10871
We also added `--output-folder` to cmake-conan by the way: https://github.com/conan-io/cmake-conan/pull/403

[2022-03-28 08:49] Bassem-Ramzy opened #10899 "[question] What is the recommended project directory structure for multiple recipes?"
Hi,

If I have a (closed-source) project that has more than one recipe, for instance, 1. a full package with source code, 2. a distributable package (bin) that has only precompiled binaries, and 3. a headers package that has the shared headers _only_ (for other projects to include while developing).
What is the best practice of the _project directory structure_ for those three recipes?

BTW, could

[2022-03-28 08:54] #10892 closed, assigned to nobody

[2022-03-28 08:56] memsharded commented on #10894
Yes, sorry, I forgot that, you are right about it

No, you are right too. There is no explicit example in the docs for this, lets move this to docs repo and document it there

[2022-03-28 09:01] boussaffawalid opened #10900 "[question/feature] conan.tools.env » VirtualRunEnv does not generate sh scripts on windows"
Hello,

I'm trying to switch to the new [VirtualRunEnv](https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualrunenv.html) instead of [virtualrunenv](https://docs.conan.io/en/latest/reference/generators/virtualrunenv.html), but I've noticed that the new generator does not generate `sh` scripts for windows when conan command is being called from `bash` (git bash or MSYS2)

This was n

[2022-03-28 09:48] franramirez688 commented on #10900
Hi @boussaffawalid

Just to be sure, is that happening even adding `os.subsystem=msys2` into your profile?

[2022-03-28 09:57] boussaffawalid commented on #10900
@franramirez688 I tried to add `os.subsystem=msys2` to my profile as follow
[code]

but I got this error
[code]
it seems like `os.subsystem` is not included in the package id

[2022-03-28 10:23] gpxricky opened #10901 "[bug] `conan lock create` creates `default` profile"
Hi,

this is not really a blocker, however it seems to be the case that `conan lock create` creates the `default` profile under some circumstances.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04.6 LTS
  * Compiler+version: <does not matter>
  * Conan version: 1.46.0
  * Python version: 3.8.0

### Steps to reproduce (Include if Applicable)

[2022-03-28 10:55] memsharded commented on #10900
I think it is because running in bash is not the same as having a ``os.subsystem`` different binary. That subsetting is intended for having specific different binaries for msys/cygwin platforms. In this case, it seems that you want to run in bash, but the build is still a native Windows binary, so no ``os.subsystem`` should be defined.

Instead, the ``conf``s:
- "tools.microsoft.bash:subsystem"
-

[2022-03-28 10:59] franramirez688 commented on #10900
Yeah, that's fine. It only means that the precompiled package does not exist for your current settings (see this [Troubleshooting section](https://docs.conan.io/en/latest/faq/troubleshooting.html?#error-missing-prebuilt-package)). You'll have to add the `--build missing` option into your `conan install` or `conan create` command.

[2022-03-28 11:00] memsharded commented on #10901
Hi @gpxricky

Just checked, this has already been fixed in 2.0.
As this isn't really a blocker but mostly UX, and it seems it is not very easy to fix this, I think it is ok to consider it as solved by 2.0 (the currently released alpha seems to work fine already) and close it.

Thanks for reporting!

[2022-03-28 11:39] xyz1001 opened #10902 "[bug] Permission denied for user: 'None'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11 21H2 + Windows subsystem for Android + Termux
  * Compiler+version: clang 13.0.0
  * Conan version: 1.46.0
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

content in CONAN_TRACE_FIL

[2022-03-28 11:43] memsharded commented on #10902
It seems that you previously tried some kind of auth for ConanCenter? Please try removing your auths with ``conan user --clean`` and retry

[2022-03-28 11:58] boussaffawalid commented on #10900
@memsharded I'm running native windows binary, but using git bash to run commands/scripts instead of windows cmd.exe.
I tired all of options below but nothing worked, only conanrun.bat are being generated

`export CONAN_BASH_PATH="C:\\Program Files\\Git\\bin\\bash.exe"`
 `export CONAN_BASH_PATH="C:/Program Files/Git/bin/bash.exe"`
`export CONAN_BASH_PATH=C:/Program Files/Git/bin/bash.exe`
`export

[2022-03-28 12:06] memsharded commented on #10900
But aren't you defining ``tools.microsoft.bash:subsystem`` too? That is the main one to be defined, as it conditions the path format and other stuff to be used

[2022-03-28 12:08] xyz1001 commented on #10902
I tried but not work.
![image](https://user-images.githubusercontent.com/14332136/160394500-c9e25ac3-d000-413d-bcb4-4cd1e2728876.png)

[2022-03-28 12:17] gpxricky commented on #10901
Okay, thanks for the info. I will close this bug report then.

[2022-03-28 12:17] #10901 closed, assigned to memsharded

[2022-03-28 12:44] memsharded commented on #10902
Do you have any kind of network configuration like proxies, VPN, firewalls, zscaler...?
If you do, can you please try in a different network?

Things that could help to know what is happening:

- Testing in another machine in the same network. Specifically, I would start trying with a native Conan installation in the system (Linux, Win, OSX), to rule out some ``Android + Termux`` interaction
- Tes

[2022-03-28 12:46] boussaffawalid commented on #10900
I tried that as well but still the same issue, here are some of the combinations I tired

[code]

[code]

[code]

[code]

[2022-03-28 12:50] smoofra commented on #10893
@memsharded  Are you sure that's right?    I tried creating a package that depends on `go_1_11` and `go/1.11` was still included in the `conan.lock` file for that parent project.  If it's completely hidden it shouldn't be visible at all right?

[2022-03-28 12:58] memsharded commented on #10900
Oh, I think what it could be. Have you added the ``win_bash = True`` to the recipe?
This is necessary to enable the Windows subsystem bash. I have tried it, and I managed to get .sh files with the above conf (the first one)

[2022-03-28 13:02] memsharded commented on #10893
``private`` dependencies are discouraged, because they have so many rough edges. It might be possible that lockfiles still references them, but they do not propagate any kind of ``xxxx_info`` downstream

[2022-03-28 13:11] smoofra commented on #10893
I get that they're discouraged but I am trying to use them for the one thing the documentation says they're good for.    If they can't be used for that maybe the documentation should be changed?

I'm a bit confused by what private dependencies are for.   If they can only be used at build time  by packages that directly require them, isn't that the same behavior as `tool_requires` dependencies?

Th

[2022-03-28 13:22] memsharded commented on #10893
the main difference is that ``tool_requires`` live in the "build" context. They will get injected the build profile. A ``private`` dependency is similar to a ``tool_require`` in the sense that is not propagated downstream, but it will get the "host" context and profile.

As a dependency in the "host" context, it is intended to propagate the c++ build information, like ``cpp_info.libs``, ``cpp_info

[2022-03-28 13:27] boussaffawalid commented on #10900
still I cannot get the sh scripts even with `win_bash = True` I will share a git repo with a basic example to reproduce the issue.

[2022-03-28 13:28] smoofra commented on #10893
thanks for the explanation

[2022-03-28 13:47] boussaffawalid commented on #10900
@memsharded  here is a basic example to reproduce the issue
https://github.com/boussaffawalid/conan_issue_10900

[2022-03-28 14:53] memsharded commented on #10900
I see. It seems the issue is that you are using ``VirtualRunEnv``. As it is a Windows native binary, it doesn't need the subsystem, and its target run environment is the Windows native machine. So it is generating a .bat according to the target run environment. It works when you are using ``VirtualBuildEnv`` and using ``tool_requires`` dependencies.

For Conan ``VirtualRunEnv`` to generate a .sh f

[2022-03-28 15:20] boussaffawalid commented on #10900
Our use case:
* Build native Windows binaries that does not necessarily need bash for running the build.
* Use bash (from msys or git bash) as main terminal instead of windows cmd.exe to benefit from the bash utilities
* I would like to be able generate `conanrun.sh` for native windows, so that we can start executable directly from bash.exe without the need to switch to windows cmd.exe.

[2022-03-28 15:24] anderson-dev commented on #10869
yes makes sense; Is it guaranteed to always be the first element?

will progressively look into transitioning to 2.0 stuff thanks

[2022-03-28 15:43] anderson-dev opened #10905 "[bug] Unable to override requirements"
Whether I `--require-override`, or simply use `self.requires("myPkg/1.0")\nself.requires("myPkg/1.0.1", override=True)`, it always results in error:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: N/A
  * Conan version: 1.45.0
  * Python version: 3.10.0

### Steps to reproduce (Include if Applicable)
1. create

[2022-03-28 15:50] memsharded commented on #10900
Just in case: I think explicitly generating the file is always possible with something like:

[code]

As long as the file has the .sh extension, it will use the .sh output format and not bat.

[2022-03-28 15:56] memsharded commented on #10869
That, only the recipe creator knows. They can have more than 1 bindirs, and if that is the case, they should decide to which of them they want to put the other binaries to.

In practice, I have never seen more than 1 ``bindirs`` folder, so yes, that should be good enough.

[2022-03-28 16:18] #10678 closed, assigned to nobody

[2022-03-28 16:19] #10142 closed, assigned to nobody

[2022-03-28 16:19] #9780 closed, assigned to franramirez688

[2022-03-28 16:19] #9140 closed, assigned to memsharded

[2022-03-28 16:27] uilianries opened #10907 "[bug] Pylint plugin does not accept python_requires from conans"
The [pylint_plugin](https://github.com/conan-io/conan/blob/develop/conans/pylint_plugin.py) tries to enforce the use of `conan` instead of `conans`, which will become our future main module. However, some modules are still available only from `conans`, the `python_requies` is one example. In case we use warning as error, it will fail. For instance:

[code]

[code]

We need to improve the pylint pl

[2022-03-28 16:36] memsharded commented on #10907
``from conans import python_requires`` has been deprecated a long time ago, superseded by attribute definition of ``python_requires = ....`` as class attribute.

Those python_requires should not be used anymore, I am perfectly fine if the pylint does not accept them.

[2022-03-28 17:29] #10869 closed, assigned to nobody

[2022-03-28 19:00] DukeOfKirkcaldy opened #10910 "[feature] Make build_info time format compatible with JFrog CLI"
I'm having trouble using JFrog CLI commands which use build_info (such as [build-append](https://www.jfrog.com/confluence/display/CLI/CLI+for+JFrog+Artifactory#CLIforJFrogArtifactory-AggregatingPublishedBuilds)) because Conan uses a [time format](https://github.com/conan-io/conan/blob/develop/conans/build_info/build_info.py#L244) different from the [format expected by JFrog](https://github.com/jfr

[2022-03-28 19:00] w3sip opened #10911 "[bug] Timeouts uploading large packages to Artifactory"
Not sure what specifically causes it, but would love to know if possible, and if so how to work around the problem.

On the client side, it seems like the upload completes, then 3 minutes later the request times out:
[code]

On the Artifactory side:
[code]

Note the timestamps: the upload completes at 18:31:54 from the client side, and `Deploy` action on the server side begins at the same time. Th

[2022-03-28 19:51] mhahn-sighthoundlabs commented on #10911
I can see that perhaps the fronting nginx's timeout is too small now?

[code]

[2022-03-28 20:43] anderson-dev opened #10912 "[question] Conditional shared lib build using MSBuildToolchain"
Is there a recommended way to conditionally build an msbuild project as either a static lib or shared dll using `shared=True`?

According to my research, the recommendation is to create DebugShared and ReleaseShared configs respectively that define the output type as DLL and that define a macro that will be checked at build time to determine whether to declare export/import decls. In my `conanfile

[2022-03-28 21:01] pdigiglio opened #10913 "[question] export-pkg: specify the 'user' and the 'channel' or neither of them"
I'm developing a conan package for my own header-only library and I get this error:

[code]

I tried to explicitly pass the reference to `export-pkg` as:

 * `demo/testing`;
 * `bitmask_enum/0.0.1@`;
 * `bitmask_enum/0.0.1@demo/testing`;
 * `bitmask_enum/0.0.1@/`.

None of the above worked.

I'm running version 1.46.2 on Windows 10 Pro, installed through the windows installer (did not try `pip`).

[2022-03-28 23:23] memsharded commented on #10913
Hi @pdigiglio

I am not sure what you are doing, but I just re-tried, just in case, and it seems to work correctly. For example:

[code]

Can you please post the exact commands that you are trying? Just in case, Python argparse requires sometimes the positional arguments to go first, before the ``--optional-args``.

[2022-03-28 23:30] memsharded commented on #10912
Hi @anderson-dev

The ``MSBuildToolchain`` also contains a ``MSBuildToolchain.configuration`` attribute that should be used in the ``generate()`` method to customize the project configurations, following the same logic. Apparently, it is not clearly documented, just something vaguely generic:

But not that it can be set using ``configuration`` attribute. Please try it, and if it works, we will doc

[2022-03-28 23:40] memsharded commented on #10911
I would recommend trying a couple of things:

- To run the same, same package, against a local Artifactory instance (you can easily grab an ArtifactoryCE) running in the same computer. Trying to rule out possible client side issues.
- Try and report the same upload in different platforms Linux, Windows, Mac. Does it happens in all of them? More or less with same frequency?
- If you are not managin

[2022-03-28 23:45] w3sip commented on #10911
What does the `Deploy` stage do? Does it simply copy the resulting package, or is there a more elaborate processing, that involves uncompressing and reading the contents?
I wonder if something like this happens:
- package uploads, but the HTTP request is still outstanding, sitting idle, waiting for server response
- server receives the archive, but takes > 60s to process it
- the client, after sit

[2022-03-28 23:52] memsharded commented on #10910
This is weird, this used to work. But it is true that Conan build info hasn't been updated in a while, and it is possible that build-info spec might have changed.

This will probably need to wait after 2.0 is out, in the meantime, I'd suggest a script or something that changes those times

[2022-03-28 23:56] memsharded commented on #10911
Up to my knowledge the Deploy stage should be relatively cheap. The compressed uploaded files don't need to be read at all, because the information that is needed goes in the uncompressed conaninfo.txt, and that is easy and fast to parse.
But I am not an Artifactory expert. If you are JFrog customers, I'd suggest filing a support ticket directly against Artifactory.

Some of the above suggestion w

[2022-03-29 00:20] memsharded commented on #10899
Hi @Bassem-Ramzy

We are trying to implement best practices for layouts in the ``conan new`` templates. For example the ``conan new hello/0.1 -m=cmake_lib`` template would be a canonical example for case 1). For case 3), the legacy ``conan new -b`` aimed to cover that case, but now it is obsolete. But it should be just a simplified version of the ``cmake_lib`` template of case 1).

For those cases

[2022-03-29 01:40] xyz1001 commented on #10902
1. I have another Mac Mini. It works. There are no network configurations.
2. I tried other network and not work.
3. conan is ok under WSL2 and Win11 on the same PC.
4. Test on my Android phone (One plus 5) with Termux is ok.
5. It hanppens with any package.
6. It is ok to access conan.io/center on the browser.
7. `conan search zlib* -r=conancenter` also do not work. It has same error.

[2022-03-29 07:43] memsharded commented on #10902
I don't know what can be happening in that subsystem to be honest. I cannot see who would be returning a ForbiddenException in the flow.

I would try a manual removal of your local cache (the ``<userhome>/.conan`` folder), and then retrying, just in case the ``conan user --clean`` is not working as expected.

Then, I would try running my own ArtifactoryCE instance (you can get it from the download

[2022-03-29 07:48] xyz1001 commented on #10902
It do not work to removal of my local cache.

There is a private conan server in my company, and it works well.

[2022-03-29 08:08] #10899 closed, assigned to nobody

[2022-03-29 08:28] memsharded commented on #10902
So from that computer, with that Conan installation, you can access your private Conan server without any issue (which server is it?), but it will not work with ConanCenter?

Regarding my previous question: Are you in some country that could have some network access limitations?

I am lacking ideas how to debug this issue, it seems something very specific of your local setup

[2022-03-29 08:40] snailcatcher opened #10914 "[feature] Use [imports] with includes instead of excludes"
Hi there,

I wonder if it is possible to use the [imports] in the `conanfile.txt` with includes instead of excludes.
I have a use case like this:

[code]

but this will be the much better solution:
[code]

And actually I can imagine that there are many use cases out there like mine.

I did this as feature request because I can not find something in the documentation about this: https://docs.conan.

[2022-03-29 09:01] memsharded commented on #10914
Hi @snailcatcher

but isnt it the first argument in the line?

[code]

In any case, ``imports`` are being removed in 2.0, we will not add new features to it. It will be replaced by explicit ``copy()`` in the ``generate()`` method.

[2022-03-29 09:21] snailcatcher commented on #10914
Hi @memsharded

not exactly, because it need the `include` and `src` folder inside a folder named like the package. If you do it like you described this will not be the case it just copies the files from inside these folders.

Can you give an example or the documentation page where I can find the `copy/generate` stuff? I did not find something via the search function.

If you want to drop the `imp

[2022-03-29 09:26] lasote commented on #10914
Hi, now there is available this guide to migrate to 2.0, https://docs.conan.io/en/latest/conan_v2.html#methods-that-disappear-in-2-0-self-imports
The section is going to be improved soon when we release the new 1.47.

[2022-03-29 09:34] snailcatcher commented on #10914
Hi @lasote
So this means that there is no way in conan 2.0 to copy files with a `conanfile.txt` instead of a `conanfile.py`?

[2022-03-29 10:02] lasote commented on #10914
Nope. it has to be conanfile.py. Check here also how easy is to migrate to it: https://docs.conan.io/en/2.0-alpha/tutorial/consuming_packages/getting_started/the_flexibility_of_conanfile_py.html

[2022-03-29 10:55] pdigiglio commented on #10913
Hi @memsharded,

I was trying to develop my conan package as explained [here](https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html).

My first attempt was:

[code]

I also tried:

[code]

Then I broke it down into the single steps as recommended in the help page.

The commands I try are the ones I posted above. In MinTTY, I can run them as a script; in PowerShell, I run them m

[2022-03-29 11:01] xyz1001 commented on #10902
conan is ok under WSL2 and Win11 on the same PC with same network. So it might not be network access limitations.

[2022-03-29 11:17] memsharded commented on #10913
Weird, so if we can do:

[code]
Then, there could be some hidden bug there. Can you please start reducing the recipe ``conanfile.py`` while keeping the error happening? Then share the exact ``conanfile.py`` you are using. Then maybe you have some env-var defined? CONAN_USER, CONAN_CHANNEL or something similar?

[2022-03-29 12:00] db4 opened #10915 "[question] CMakeDeps vs RelWithDebInfo?"
`cmake` generator allows the following trick:
[code]
So I can use Release binaries of dependencies for RelWithDebInfo build of my own code. With `CMakeDeps` generator this no longer works. Generated files use CMake generator expressions that select include directories, libraries, etc. only for CMake build matching Conan build_type:
[code]
Is there any way around it?

[2022-03-29 13:06] DukeOfKirkcaldy opened #10916 "[bug] conan test fails when using lockfiles"
The test_package tests fail for both `conan create` or `conan test` commands when using lockfiles.

### Environment Details (include every applicable attribute)
  * Conan version: 1.46.0
  * Python version: 3.7.9

### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

More detailed log from `cd test_package && conan te

[2022-03-29 13:15] memsharded commented on #10915
Have you tried using ``-s mypkg:build_type=RelWithDebInfo -s build_type=Release``?

[2022-03-29 13:22] memsharded commented on #10902
This is challenging to debug from our side at the moment, we don't have any Win11, nor Android WSL, and it really seems something very specific to that setup. This will need to wait until someone with that setup can put some time and investigate further.

[2022-03-29 13:38] db4 commented on #10915
OK, I'll try to, thanks. Maybe you also have an idea of how to do the same for a CMake consumer project? I need to generate a Visual Studio solution that uses Release dependencies for RelWithDebInfo configuration (and also have Release and Debug configs)

[2022-03-29 13:49] memsharded commented on #10915
The ``&`` should be the identifier for the consumer, when the the consumer has no name, so maybe ``-s &:build_type=RelWithDebInfo -s build_type=Release`` could work

[2022-03-29 14:11] rohel01 commented on #4760
Hello,

I have just been bitten by this. I want to demonstrate benefits of using conan at work.
For this, the first step I want to take is integrating conan as a package manager on top of our legacy build system. This build system is heavily reliant on environment variables.
The problem occurs with the environment variables that accumalate -I flags. My packages add flags in their respective packag

[2022-03-29 14:49] memsharded commented on #4760
Hi @rohel01

We have provided a whole new set of improved tools to manage environment. You might want to have a look at https://docs.conan.io/en/latest/reference/conanfile/tools/env.html, specifically to ``buildenv_info`` and ``VirtualBuildEnv`` generator. They model explicitly paths from other variables. If you would like to pass flags, which is the case, you should do ``self.buildenv_info.append

[2022-03-29 16:45] schwaerz commented on #5127
I am facing the same issue currently.
There is a binary package on Artifactory matching the expected package ID. Also when pasting the profile into `file.html`, it will show the same binary package.

As there's only a handful options, it is also rather easy to spot that those options actually are identical.

In addition I copied all the settings and options for one of the packages listed in `file.

[2022-03-29 16:51] anderson-dev commented on #10912
Thanks again @memsharded I'm really moving now!

That worked! I had to specify the configuration attribute for both `MSBuildToolchain` and `MSBuildDeps` in the `generate()` method as suggested and append "Shared" to my `self.cpp.build.bindirs[0]` in the `layout()` method.

It turns out this typical use case was [documented](https://docs.conan.io/en/1.44/reference/conanfile/tools/microsoft.html#msb

[2022-03-29 16:51] #10912 closed, assigned to nobody

[2022-03-29 16:58] memsharded commented on #10912
Great! Happy to hear that :)

[2022-03-29 16:59] schwaerz commented on #5127
Some additional info. Tried the following:
[code]

Still it complains that the binary package cannot be found:

[code]

Looks like a bug in Conan to me?
Could it be an issue that more than one remote would possibly serve the same package? Although I did specify the remote to use on the command line...

[2022-03-29 17:04] memsharded commented on #5127
Hi @schwaerz

Yes, there is definitely something weird happening there. Maybe the package is corrupted in the server side?

It might be also possible some issue if you have more than one server, but some of the below suggestions could rule that out.
Some things that I would try to investigate:

- Creating a "hello" package, with exactly the same configuration. The ``package_id`` should be identica

[2022-03-29 17:17] schwaerz commented on #5127
Hi @memsharded
Thanks for the quick response.
* We tried this already on different machines (different users), even from within a docker container.
* We uploaded the package already several times, also to another repository.
* For other packages this is working fine.
* We only can see this behavior for zlib and boost.
* Same behavior after completely removing the local Conan cache (`%USERPFOFILE%/

[2022-03-29 17:28] memsharded commented on #5127
Can you elaborate a bit further also on your server setup? Which server? Any possible front (nginx or something) to the server that could be filtering something?

Also, the ``conanmanifest.txt`` I guess you looked for them both in the recipe "export" folder and in the "package" folders. Also the ``conaninfo.txt`` must exist inside the binary packages, but that seems to be right, otherwise you woul

[2022-03-29 17:53] anderson-dev opened #10918 "[bug] conan install --update should fall back to local-cache if unreachable remote"
We use `conan-center` for official packages but our private packages are exclusive to our artifactory server accessible only via VPN. Our developers are often in a disconnected state working mostly from local-cache and `conan-center` for official packages. I thought I'd make use of the `--update` option to ensure they get our latest private packages, however, unless they are currently connected to

[2022-03-29 17:58] schwaerz commented on #5127
We are running Artifactory Enterprise Plus 7.7.3 rev 70703900, manifest is existing at both places. `conaninfo.txt` is also where it should be. No sure about the other details. But there should not be any filtering in place.
I'd be happy about a zoom call, will get in touch we you, thanks.

[2022-03-29 18:01] memsharded commented on #10918
Hi @anderson-dev

This is by design, and we are not considering to change it. If you have some remote defined, it is expected to be active. Conan will never fallback or skip a given remote that is not responding, or not reachable. In that case, it should be explicitly disabled ``conan remote disable``. This is for all "install" operations (for example the ``search`` might not error). But all the `

[2022-03-29 18:22] wbehrens-on-gh opened #10919 "[question] Autotools packages unable to find libc and other cross toolchain libraries"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Recipe:
[code]
I'm attempting to create a Bluez recipe using conan and I'm able to get it to compile natively for my system but once I try and cross compile to an arm platform on ubuntu 20.04 I'm getting the error:
![image](https://user-images.githubusercontent.com/35979547/160679026-

[2022-03-29 19:51] SpaceIm commented on #10888
No issue in test_package of conan-center recipe for this profile: https://c3i.jfrog.io/c3i/misc/logs/pr/8884/1-configs/windows-visual_studio/json-schema-validator/2.1.0//424f5d9091d416d9b99ff0193c4cf7170cf01613-test.txt

[2022-03-29 22:43] memsharded opened #10921 "Continue compatibility.py features"
Ok, lets move forward this for alpha.6. Still a couple of open items, but seems a good first step.

- Need to modernize ``Settings``, hopefully it can mimic a bit better what ``Options`` did, and not separate the ``values`` from it
- The current default proposed ``compatibility.py`` is just a POC, it only covers applications, and is not complete. It needs more work.
- Lets try to define ``self.set

[2022-03-30 02:12] xyz1001 commented on #10902
It could be caused by UA. This command will produce this problem.
[code]
The response is
[code]

If I change the UA to `Conan/1.44.0 (Linux 5.10.43-2; Python 3.10.4; x86_64)`, it is ok.
[code]

[2022-03-30 06:24] stefaneicher opened #10922 "[question] conan install without defining all the related parameters for the package id"
Hi,

can you give me a tip on how I can run conan install simply to get a precompiled artifact without defining all the related parameters for the package id?

Background: We produce executable firmware in many variations (multiple compilers, debug, release, different options) but only one must be propagated to the testing department.

I would like to send them a "oneliner" about how they can get

[2022-03-30 06:46] eirikb opened #10923 "[feature] Cross compilation on same os / architecture"
As strange as it sounds I'm trying to cross compile from Linux x86_64 to Linux x86_64, using a Yocto SDK Toolchain.
I use two profiles (`-pr:b` and `-pr:h`).
A lot of recipes work out-of-the-box, but not all. Currently struggling with [libbacktrace](https://github.com/conan-io/conan-center-index/blob/master/recipes/libbacktrace/all/conanfile.py) (because of boost).
It uses autotools.

Here is outp

[2022-03-30 07:03] pdigiglio commented on #10913
I've reduced the conanfile.py up to its bare minimum:

[code]

The error keeps happening.

If I specify the package name and version on the command line as an argument to `conan export-pkg`, I can reproduce the error even with this:

[code]

It's probably worth mentioning I'm no longer able to run conan packages I wrote (and successfully run) in the past for other projects. So this error doesn't s

[2022-03-30 07:46] rohel01 commented on #4760
Hi @memsharded,

Thank you for your quick and detailed answer. I also **really** appreciate that you provided both the quick & dirty and conan compliant solutions to my problem.

Using the quick & dirty solution (buildenv_info -> generate -> self.run(...env=), I am now able to fully build deliverable artefacts with dependencies versions tracked with Conan. This is suitable for a demonstration to s

[2022-03-30 08:42] db4 commented on #10915
Yes, that works. Thank you!

[2022-03-30 08:42] #10915 closed, assigned to nobody

[2022-03-30 09:25] gpxricky opened #10925 "[question] How to set profiles for test package when using `conan create`"
Hi,

I have created a Conan recipe including a test package.

However, when running `conan create` with different profiles than the default profile, then Conan 1.46.0 raises the following error:

[code]

**Edited:**
By the way: when running `conan test` I get the identical error even if I set `--profile:host` and `--profile:build` explicitly.

Is there any (hidden) way to set the proper profiles f

[2022-03-30 09:38] memsharded commented on #10915
Great! Yes, the idea is that it shouldn't be necessary to hack this kind of things in recipes, but it should be possible to define it in configuration.

[2022-03-30 09:53] memsharded commented on #4760
Hi @rohel01

Yes, in theory you shouldn't need to get that filename:

- It is by convention first. ``VirtualBuildEnv`` will generate a file like ``conanbuildenv_x86_release`` that is automatically appended to ``conanbuild`` (.bat/.sh) script. And ``self.run(..., env=["conanbuild"])`` is already the default, so you don't need to do anything, just ``self.run(cmd)``
- If you really wanted to change t

[2022-03-30 09:58] memsharded commented on #10913
This is really weird, no idea what could be happening. Some checks that could help:

- I guess it will not happen on another fresh machine? Or does it happen in other computers too?
- Have you tried to wipe your cache? You can try removing the ``<username>/.conan`` folder, and repeat. Maybe something is corrupted in the cache or in the cache configuration (if you plan to do this, it would be good

[2022-03-30 10:01] memsharded commented on #10922
Hi @stefaneicher

I think you are looking for the ``conan download`` command. Have you tried it? It seems basically what you need.
It is different from install in:

- It only retrieves that specific package, not transitive dependencies.
- It will not call generators, deployers, etc, only downloads the artifacts.

but it seems what you want.

[2022-03-30 11:06] memsharded commented on #10902
Great finding @xyz1001

This definitely seems the culprit, that android subsystem replacing the UA to ``5.10.43-2-windows-subsystem-for-android-wsa+``

The thing here is that such layer of ConanCenter is not managed by us, it is basically Google infra, and I have no idea if that can be relaxed, but I suspect it cannot. I don't know if reporting to Microsoft (it seems that Android subystem is manag

[2022-03-30 11:08] sboehmann opened #10926 "[question] Custom generator - how to access conandata.yml?"
I am currently writing my own Conan generator similar to the Markdown generator, except that I need to create a Docbook file.
I can get most of the needed information, but I also need to access the license, homepage, and some information only defined in our conandata.yml.

Is there any way to access the conandata.yml?

Many thanks for your help.

[2022-03-30 11:18] memsharded commented on #10926
Hi @sboehmann

In the current recipe, the conandata.yml is accessed via ``self.conan_data``. But maybe you refer to access the ``conandata`` of the dependencies? It is right now not exposed in the interface. You can access the private member via ``self.dependencies["mydep"]._conanfile.conan_data`` (or iterate all deps) to try it. Please tell me if that is what you want, we might add it to the publ

[2022-03-30 11:49] stefaneicher commented on #10922
Hi Diego,

ok perfect thanks for your answer!

Grus Stefan

[2022-03-30 11:49] #10922 closed, assigned to nobody

[2022-03-30 11:49] xyz1001 commented on #10902
You are right. I will transfer this to conan-center-index repo. Thanks for your advice.

[2022-03-30 11:49] #10902 closed, assigned to nobody

[2022-03-30 12:22] acevdev opened #10927 "[question] Conan integration in large Autotools project"
Hi,
We have a large project with many dependencies and we want to migrate them to conan. This project is being compiled to several targets and we are using GNU Autotools to build the project. We have a custom build system and we can't rely on the conan build step (Autotools build helpers).

Our build system roughly follows next steps:
1) autoreconfig -i
2) ./configure
3) make

In order to integrat

[2022-03-30 13:09] memsharded commented on #10927
The previous Autotools integration has been working for a long time, and used widely in open source and enterprise settings. It is now being replaced by the AutotoolsDeps integration (and AutotoolsToolchain), which is much better architectured, but it is true that this is relatively new, and it needs to be matured and stabilized a bit more.

Of course. For dependency information you can use the ``

[2022-03-30 13:13] sboehmann commented on #10926
Hi @memsharded

indeed, I want to access the `conandata` of a dependency. Sadly, your hint doesn't work. My generator currently has this loop:
[code]

[2022-03-30 13:47] schwaerz commented on #5127
Ok, we found something...
We had the same package in the same version with the same user and channel in different repositories, which were all configured as remotes.
In one of the repositories the binaries in question did not exist. In the other one it did. But Conan does not seem to search all repositories (probably this is even documented somewhere).

Also I cannot recall how I managed to get th

[2022-03-30 13:56] dpar39 commented on #5286
Sometimes the user just wants to download and extract binaries to current directory. Right now there's no way to download and extract a conan_package.tgz directly into user space from a full reference, forcing a download to the local cache, then finding the package folder in the cache and copying/symlinking the binaries out of it for use.

[2022-03-30 14:17] DukeOfKirkcaldy commented on #10864
In case anyone else has this issue, I was able to workaround it in my CI workflow by doing an addition refspec fetch after checkout, to map the merge commit to a ref containing `origin`:

[code]

It's not ideal and doesn't work for local development, but can get by with it for now!

[2022-03-30 14:44] snailcatcher commented on #10914
Hey @lasote & @memsharded
I change my `conanfile` and use the generate method. This is working pretty good.
Even though it is a bit more complicated to use the python version of the `conanfile` it actually like the flexibility.
Thanks for the explanation.

[2022-03-30 14:44] #10914 closed, assigned to nobody

[2022-03-30 14:51] memsharded commented on #5286
Hi @dpar39

This has been implemented in Conan 2.0 via ``deployers``, that can be passed to ``conan install ...  --deploy=deployer`` that would do it in one step, and allows user customization of the deployer. It will be used for ``conan install``, but not for ``conan download`` command. Would you like to use deployers while ``conan download`` a specific package_id?

[2022-03-30 14:59] memsharded commented on #10101
We are changing the CMakeToolchain to generate (also, besides the toolchainfile) a CMakePresets.json file in 1.47 in https://github.com/conan-io/conan/pull/10903

The presets file will be generated atm in the ``generators_folder``, so might need to be copied to root if necessary.
But I think with that PR we can close this issue, and open new more specific tickets to keep improving this initial imp

[2022-03-30 14:59] #10101 closed, assigned to lasote

[2022-03-30 15:02] franramirez688 opened #10929 "[feature] Modernize `add_definitions`"
Change all the `add_definitions` occurrences in `conan.tools.cmake` by `add_compile_definitions`.

Following [CMake documentation](https://cmake.org/cmake/help/latest/command/add_definitions.html):

[code]

[2022-03-30 15:10] #10374 closed, assigned to lasote

[2022-03-30 15:13] franramirez688 commented on #10900
Did you get to solve the issue @boussaffawalid ? Or still, having problems?

[2022-03-30 15:17] memsharded commented on #10926
But ``self.deps_build_info`` is obsolete now, that only exists in the legacy Generator class.

Try to iterate directly ``self.dependencies`` in your ``generate()`` method instead. That should work.

To modernize custom generators the path is:

- Put them as an independent class in a ``python_require``
- No inheritance. The convention is to have a ``generate()`` method, but that is not mandatory fo

[2022-03-30 15:26] memsharded commented on #10923
Hi @eirikb

Indeed a non expected case.
As Conan has no further information so far, it will use only os-arch to decide.
But it is not only a problem of the ``cross_building`` method, but it can be bigger. For example, the ``package_id`` could be colliding. If all settings and options are exactly the same, the ``package_id`` is the same and the binary will be consider the same (and binary compatibl

[2022-03-30 15:33] #10591 closed, assigned to lasote

[2022-03-30 15:45] memsharded commented on #10407
Closed by https://github.com/conan-io/conan/pull/10908

[2022-03-30 15:45] #10407 closed, assigned to franramirez688

[2022-03-30 15:53] #10886 closed, assigned to czoido

[2022-03-30 16:03] memsharded commented on #5127
Oh yes, this makes sense. This is known 1.X behavior, in which Conan associates the binaries to the remote it is getting the recipe by default. This is this way because Conan 1.X initially didn't have revisions, and without revisions you cannot guarantee consistency between the binaries and recipes, so it was this way.

Conan 2.0 will be able to iterate multiple remotes until finding a specific bi

[2022-03-30 16:03] #5127 closed

[2022-03-30 16:21] memsharded commented on #10353
I have been giving this a try, and it seems it is simply too big of a change to be done in 1.X scope.

There will be another way that this can be achieve in 2.0 (already released in alpha.6):

- The "override" can be added to a lockfile with the ``conan lock add`` command
- The lockfile can be applied to commands.
- It is necessary that the locked version falls in a defined version range in the re

[2022-03-30 16:25] pdigiglio commented on #10913
That was the solution, thanks a lot. I would have never thought about this myself. After renaming my cache folder, I ran `conan create .` and everything works.

By comparing the newly created `<username>/.conan` with the old one, I realized the problem is setting `storage.path` in `conan.conf`. I had changed it since I was exhausting my `C:\` drive:

[code]

If I restore `path = ./data`, both `con

[2022-03-30 16:33] apyvovar commented on #5127
Hi, @memsharded

I'm having the similar issue. Conan `1.46.2` (currently latest) is used with Artifactory for storing private packages.
The `Missing` package error displays only on CI, when Jenkins is building packages.
Users can execute the exaclty same `conan install ...` command successfully (with all same settings and options).
Clean reinstall of conan fixes the issue, but only for some time.

[2022-03-30 16:35] memsharded commented on #10913
Thanks @pdigiglio for following up. Happy to know that you found the root cause, and it is possible to fix it.

I think it is probably not worth investigating at this point, as we are already in 2.0-alpha.6, we will move to beta very soon, and the cache in 2.0 is completely new, the configuration is also new, so this shouldn't happen anymore there.

So if you are fine with it, lets close this issu

[2022-03-30 16:35] #10913 closed, assigned to nobody

[2022-03-30 16:38] memsharded commented on #5127
Hi @apyvovar

Not sure if this will be the same issue. In the case above, the cause was having multiple remotes, and only one of them containing the binary, so the resolution couldn't get that binary.

Do you also have multiple repos? Is the problem reproducible, in the sense that your ``conan search`` will return those binaries, but failing to install them? Probably it makes sense to create a new

[2022-03-30 16:42] memsharded commented on #10579
Being thinking about this, didn't come with any reasonable solution. I also tried in Conan 2.0 with this test:

[code]

Still the same. The challenge is that it is not possible to differentiate via a fnmatch the absence of user/channel part. I will try to bring this to the team for some brainstorming in next release.

[2022-03-30 16:57] memsharded commented on #10925
The test_package gets the full profiles in the same way the main conanfile does.

There might be something else there. You can try with the ``conan new hello/0.1 -m=cmake_lib`` template, that already contains a ``test_package`` and it should build with different profiles without problems. Or you are passing ``--build=xxx`` to the ``conan create`` and not adding ``--build=missing`` or ``--build=pkg

[2022-03-30 17:26] jwillikers commented on #10353
@memsharded Thanks for responding. I've also opened a related concern in issue #10847 related to dependency conflicts between dependencies that are regular requires and dependencies of a `test_requires` package. Would the lockfile approach address that problem?

[2022-03-30 17:31] memsharded opened #10930 "Check find_mode potential issue before 1.47"
Hi @lasote! Sorry, have seen PR only now (when it has already merged :)).

Here should be not `self.find_module_mode`, but something which depends on `values[find_mode.lower()]` from 191 line. Like `values[find_mode.values()] == "MODULE"` (or so) (doesn't matter what will be here for "none" find_mode). This is important for dependencies with different `cmake_file_name` and `cmake_module_file_name`

[2022-03-30 17:42] dpar39 commented on #5286
As I understand Conan 2.0 is still pre-release, right?
"Would you like to use deployers while conan download a specific package_id?" - Yes, I think that will satisfy my use case once I move to Conan V2.
Right now I can get the reference/package ID via search with query string, but once I download the package to the cache, there's no way to get the local conan cache paths without passing profile/se

[2022-03-30 17:47] memsharded commented on #5286
If you are already mapping your settings/options with a query string to a ``search``, then probably it doesn't make sense to go that way (search with query + download), but a simple ``conan install --requires=mypkg/version --deploy=direct_deploy`` could make it (the ``direct_deploy`` is a built-in, that does a copy of the mypkg/version binaries to your local folder)

[2022-03-30 18:04] dpar39 commented on #5286
My problem is that I'm just interested in just running the static binaries I have in a package I create with a CI job. I don't want to have a full profile system setup for just downloading something I can locate on the remote via search with query.
This is what I have ended up creating, ugly and fragile, but I don't see another way around it without profiles.
[code]

[2022-03-30 18:10] dpar39 commented on #5286
If you guys only add `--output FILE` to `conan get` we could fetch the `conan_package.tgz` directly and untar ourselves, but that's not possible because you are writing to stdout in a way that it seems to be decoding arbitrary bytes to UTF string and invalid codes are thrown out.

[2022-03-30 18:35] memsharded commented on #5286
``conan get`` has already been removed in 2.0. We will probably add other ways to get paths to the Conan cache (something like ``conan cache-get-path <pkg-reference>``), or we will re-evaluate, but ``conan get`` and ``conan inspect`` were a bit problematic (like assuming everything is text) and have been removed at the moment.

[2022-03-30 19:52] eirikb commented on #10923
I'm not very well traversed in the land of Yocto, but the toolchain files at least seem to contain pieces such as;
  * libc: musl, glibc.
    Not sure if this means host or target.
  * Host architecture: i686, x86_64 etc.
  * Image name: Can indicate package sets and such.
  * Target arch: I believe this is same as MACHINE, such as aarch64, armv5e, core2-64, cortexa8hf-neon, corei7-64 etc.
    Thi

[2022-03-31 08:38] boussaffawalid commented on #10900
@franramirez688 I just tested it and it works as charm! Thanks

[2022-03-31 09:07] #10930 closed, assigned to nobody

[2022-03-31 09:56] lasote opened #10933 "[Fix] Remove "namespace" argument from CMakeToolchain"
Since 1.47, generating the CMakePresets.json file, it is not used anymore.
Also from the CMake() build helper

[2022-03-31 12:14] roebst opened #10934 "[question] Problems with profiles"
Hi,
I have some trouble with conan create and --profile switch.
I normaly use something like.
```conan create .  -s build_type=Release -pr Win_x64_vc142  -pr profile_msvc```
This gives me output like:
[code]

As you can see, the profile_build is different from the profile_host. WHere does this come from? I do not specify a compiler.version=14 in any of my profile files.

To bypass that I tried
```

[2022-03-31 13:36] JonathanGirardeau opened #10935 "[question] how to pass start-group/end-group options to linker with new CMake generators"
Hello,

I need to have a linker command with `-Wl,--start-group mylib1.a  mylib2.a mylib3.a -Wl,--end-group` because I use a package with cyclic dependencies: MKL.

An issue had been created 2 years ago:
https://github.com/conan-io/conan/issues/6530#issue-563624956
This issue ended by a workaround:
`
self.cpp_info.exelinkflags = ["-Wl,--start-group {0}/lib/libmkl_intel_lp64.a {0}/lib/libmkl_sequen

[2022-03-31 13:36] #10934 closed, assigned to nobody

[2022-03-31 13:37] roebst commented on #10934
Found issue. can be closed

[2022-03-31 13:38] JonathanGirardeau commented on #10859
I finally just set self.cpp_info.libs in the right order and stop trying to setup components, it works :+1:

[2022-03-31 13:38] #10859 closed, assigned to memsharded

[2022-03-31 13:48] boussaffawalid opened #10936 "[bug] CMakeToolchain boolean variables are cached as strings"
### Environment Details
  * Operating System+version: macos
  * Compiler+version: clang
  * Conan version: 1.46.2
  * Python version: 3.7

### Steps to reproduce

using this generate method
[code]

I got these results the `conan_toolchain.cmake`

[code]

However I expect these to be Boolean, something like
[code]

[2022-03-31 14:42] #10893 closed, assigned to nobody

[2022-03-31 15:07] smoofra opened #10937 "[feature] hidden requirements"
Hidden requirements
================

Hidden requirements would be like private requirements for the purpose of info propagation, but like normal requirements
for the purpose of downloading and fetching.

Synopsis
---------

The idea is that `bar` should be able to depend on `baz`, but beyond the fact that `baz` gets downloaded when you require `bar`, the only things `foo` should be able to know a

[2022-03-31 15:07] smoofra commented on #10937
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-03-31 15:10] smoofra commented on #10937
previous discussion [here](https://github.com/conan-io/conan/issues/10893), in which I didn't really understand how private dependencies worked.

[2022-03-31 15:15] smoofra commented on #10893
@memsharded I've turned this into a [feature request](https://github.com/conan-io/conan/issues/10937)

[2022-03-31 15:29] franramirez688 commented on #10891
Conan 1.47 brings the chance to add it easily via `conf` so it's not needed to specify it in your conanfile.py.
Adding this configuration to your profile will be enough:
[code]
And it'll be automatically applied by the `conan_toolchain.cmake`.

[2022-03-31 17:18] memsharded commented on #10937
Hi @smoofra

This has already been implemented in Conan 2.0. It was proposed and approved in https://github.com/conan-io/tribe/pull/26, and it has been implemented and released a couple of alpha releases ago. You can already download and test alpha.6 from PyPI.

The requirements have the ``visible`` trait, that control whether a dependency is propagated downstream or not, and together with the oth

[2022-03-31 17:18] #10937 closed, assigned to nobody

[2022-03-31 17:22] smoofra commented on #10937
@memsharded  wow that's awesome, thank you!  I'll check it out.

[2022-03-31 17:37] mcandre opened #10938 "[bug] no security scan"
### Steps to reproduce (Include if Applicable)

[code]

The Xray integration is unhelpful: It requires a tremendous amount of extra work for the user to setup, before they can begin to generate basic CVE reports of their Conan dependency trees. Which means essentially no one is scanning their C/C++ projects for vulnerabilities. We need a simpler way, akin to `npm audit`, `gem audit`, `safety check

[2022-03-31 17:49] memsharded commented on #10938
Conan does not implement security scanning, and it is not in the roadmap for the client. Conan is open source and the server side is implemented by some different vendors. Yes, XRay provide some information for vulnerabilities, but the Conan API cannot be specialized to work only with Artifactory/XRay, and not with other servers. Maybe Conan 2.0 with its new custom command layers will allow for so

[2022-03-31 17:49] #10938 closed, assigned to nobody

[2022-03-31 18:55] mcandre commented on #10938
Enjoy your malware.

[2022-03-31 22:57] anderson-dev commented on #10918
Gotcha. That makes sense for an unexpected down server on the open network but we are purposely disconnected from vpn while working. I've worked around it by specifying an explicit argument to my make script for the devs to say they are connected to vpn and wish to pull latest packages `make build PACKAGE_UPDATE=1`. Not pretty but it works

Hopefully I have the time to make things a little more sm

[2022-03-31 22:57] #10918 closed, assigned to nobody

[2022-03-31 23:08] anderson-dev opened #10939 "[question] The same package recipe & options result in different hashes?"
I've got a project that has a first-order dependency on package A that depends on a functional package B. Package A currently has issues building via CI and I must build manually and publish pre-built binaries in order to be consumed by this project. When the project tries to `conan install` the pre-built binary, it looks for a non-existent hash. I'm comparing the settings/options and they are the

[2022-03-31 23:10] anderson-dev commented on #10905
Am I misunderstanding the intended behavior of this feature? Is it only for indirect dependency overrides?

[2022-03-31 23:34] anderson-dev commented on #10939
silly mistake, my export_sources match rules got mistakenly changed where it didn't pick up 2 of my source folders. In case anyone runs into this issue:

1. Locate the conan local-cache folder at `~/.conan/data/package_name/version/user/channel`
2. Make sure the `export_source` folder at `~/.conan/data/package_name/version/user/cahnn contains all source files/folders needed
3. Make sure the `expor

[2022-03-31 23:34] #10939 closed, assigned to nobody

[2022-04-01 00:53] AlexRamallo opened #10940 "[question] Can't use custom toolchain with any CMake dependencies"
I'm trying to use a custom GCC-based toolchain, but am running into issues with dependencies that build with CMake, because my compiler does not pass the typical CMake compiler check. CMake expects it to understand the flag `-rdynamic`, but the toolchain I'm using doesn't recognize it, and errors out.

For example, trying to build something that depends on the package `brotli/1.0.9` fails with the

[2022-04-01 06:29] lasote commented on #10940
Yeah, looks like a misconfiguration of CMake. `arm-none-eabi-gcc` targets to "embedded" with no operating system, so probably it is related to the `CMAKE_SYSTEM_NAME` being `Linux`.  I also found this: https://cmake.org/pipermail/cmake/2013-March/054059.html

[2022-04-01 06:44] lasote commented on #10905
I cannot reproduce the issue, could you provide a simple example in a zip or explain the recipes you have and the relation between them?

[2022-04-01 07:22] lasote commented on #10936
Thanks for reporting, I open a PR to solve it.

[2022-04-01 07:45] eirikb opened #10942 "[feature] conan download to target directory"
It would be nice if [conan download](https://docs.conan.io/en/latest/reference/commands/misc/download.html) could have an option to specify target directory for the download.

1. We want this for our legacy build system that will look for a library source by folder. This way we can support both `conan install` and legacy `make` files using same `conanfile.txt`
2. Makes it easier to peek into a pac

[2022-04-01 08:12] lasote commented on #10935
Hi, I kind of understand the issue but I cannot guess any fix at the Conan side that responds to something logical... the trick of the `exelinkflags` is very very dirty, these flags are supposed to set (very specific) flags for the consumers of the library but not to link with the library itself.
Have you seen [this](https://github.com/dftbplus/dftbplus/issues/531#issuecomment-845462319)? I don't

[2022-04-01 11:18] #10936 closed, assigned to lasote

[2022-04-01 13:11] DDkuang opened #10944 "[bug] Rewrite lock file, get the binary is wrong"
### Environment Details (include every applicable attribute)
  * Operating Ubuntu+20.04:
  * Compiler+version: gcc 10.2
  * Conan version: 1.46.2
  * Python version: 3.8.10

Conanfile.py :
[code]

### Steps to reproduce
1. `conan lock create conanfile.py --user=liware --channel=stable --lockfile-out=base.lock --base`
2. `conan lock create conanfile.py --user=liware --channel=stable --lockfile=base

[2022-04-01 13:15] AlexRamallo commented on #10940
Makes sense, I didn't even notice that CMAKE_SYSTEM_NAME flag. After some digging, I found that setting the `CONAN_CMAKE_SYSTEM_NAME` environment variable in the host profile works. However, it also turns out I had `os=Linux` in my profile, so simply changing that to a custom name fixed the issue too.

Thanks for the help!

[2022-04-01 13:15] #10940 closed, assigned to lasote

[2022-04-01 13:35] sboehmann commented on #10926
Ok, thanks!

However, how should one know that? [Custom generator](https://docs.conan.io/en/latest/reference/generators/custom.html#custom-generator) and [How to create and share a custom generator with generator packages](https://docs.conan.io/en/latest/howtos/custom_generators.html#dyn-generators) still explain it the way I did it. ;) Did I miss something? Is this for Conan 2.0? When did it beco

[2022-04-01 13:45] memsharded commented on #10926
Yes, those are Conan 1.X docs, which we are not removing, but many of the things in 1.X have already been replaced by 2.0 ready (available in 1.X) alternatives, explained somewhere else.

Conan 2.0 alpha is already there, docs are available in https://docs.conan.io/en/2.0-alpha/index.html

Then, the migration guide in Conan 1.X should also help giving some guidelines of what is being removed and w

[2022-04-01 14:40] memsharded commented on #10944
Hi @DDkuang

Not sure I fully understand your flow, so first a couple of notes and questions:

As a general idea, a lockfile in Conan 1.X is a snapshot of a real dependency graph. Replacing something there might not work as expected if that is not a possible real state/graph that can be computed.
Also, the thing is that for declared version ranges, something that fits in that range is necessary. T

[2022-04-01 14:47] memsharded commented on #10942
Some related things:

- Conan 2.0 use the deployers (as ``--deploy=full_deploy``) to ``conan install`` command to do local copies in user folder (as specified by the deployer, it could be a copy, or just selected files).
- Conan 2.0 deployers only work for ``conan install``, they visit the ``conanfile.dependencies``, doing copy over them.
- Then, they will not work over ``conan download`` because

[2022-04-01 16:00] dawidcha commented on #5664
We have been successful in using hooks to do relocation operations for e.g. .la files, pkgconfig files, as well as other generated scripts so beloved of linux builds, like apxs for apache httpd.

There is a hook script which hooks `post_download_package`, and loads enough of the recipe for the package being downloaded to then call recipe.relocate(package_id)

The default relocate method can perfor

[2022-04-01 16:05] db4 commented on #10831
@memsharded Can we also handle glibc/libstdc++ compatibility in a similar way? Say we add glibc/libstdc++ version settings to conan and globally declare that packages built agains older glibc versions are compatible?

[2022-04-01 16:44] memsharded commented on #10831
Yes, it will be possible to do that, relatively straightforwardly. It is likely that we won't add it by default, because at the moment it will result in a lot of pressure on the servers (the protocol doesn't support this operation efficiently, it will need to be improved). But users wanting that control will be able to do it easily.

[2022-04-01 16:46] memsharded commented on #10831
By the way, this is already released in Conan 2.0-alpha.6 some days ago. So I think this could be closed as implemented in alpha.6, and new issues can be opened (at the moment the docs is a work in progress, but checking the tests associated to https://github.com/conan-io/conan/pull/10241 could be enough to get an idea and start testing it)

[2022-04-01 16:48] emmenlau commented on #5664
Dear @dawidcha thanks a lot for this awesome head start! I think this is an absolutely crucial and underestimated feature. We currently do not use conan and I don't have resources to look into this. But it sounds great!

[2022-04-02 04:41] db4 commented on #10831
It would be great. Right now CCI binaries are not compatible with various "official" Conan docker images, see https://github.com/conan-io/conan-docker-tools/issues/391. Specifying glibc explicitly in the package ID could solve this.

OK, I'm closing the issue and will try to experiment with Conan 2.0

[2022-04-02 04:41] #10831 closed, assigned to nobody

[2022-04-02 11:06] db4 commented on #10542
Why don't make that ConanCenter2 public right now? No one expects it to be stable, but that would make experiments with Conan 2.0 outside the team much easier. Currently, Conan 2.0 alpha6 just adds the same `https://center.conan.io` as `conancenter` remote that's quite misleading.

[2022-04-02 11:36] dpar39 commented on #5286
I don't understand why you guys decided to remove `conan get` instead of fixing it. I'm not a python expert but accounting for binary streams I know shouldn't have been a reason to remove the functionality of copying package data to user space.
You guys should still consider the use case where people are using conan to just download binaries from a remote to consume without needing full profiles f

[2022-04-02 12:12] netheril96 opened #10946 "[question] How to scope all conan files under some directory"
I tried setting `CONAN_USER_HOME` to `D:\Codes` and setting `storage.path` to `D:\Codes\conan\data`, but conan always write files into `D:\.conan`. I want to scope all its file under the same place so that I can easily remove all of them and start over in a fresh state.

[2022-04-02 12:20] brentd42 commented on #5286
+1

[2022-04-02 13:17] derived-coder opened #10947 "[bug] Conan mixing up setting variables of profiles when doing cross compilation"
I cross compile zlib from x86_64 to armv8 like this:
[code]
I have created a conan tool chain recipe, which I reference in my profile `gcc-9.0-qemu-armv8-release-toolchain`

However, when executing the create cmd. I get following output:
[code]

My toolchain recipe has a validate step:
[code]

I created a new sub setting in `settings.yml` called `distro`. For unknown reason this setting is `None`

[2022-04-02 16:47] anderson-dev commented on #10905
Reproduceable Examples

Example 1: `conan install . --require-override boost/1.77.0` doesn't seem to override `boost/1.75.0`
[code]

Example 2: explicitly specifying `self.requires("boost/1.77.0", override=True)` doesn't seem to override `boost/1.75.0` either
[code]

[2022-04-03 09:50] memsharded commented on #5286
Fixing ``conan get`` that shows in terminal the contents of text files to do copies of binary files to user space is the typical abused evolution we have struggled in the past, because it ends in very poor UX and a few rough edges.

We are not saying that we will not provide means to achieve that. In fact the Conan 2.0 ``deployers`` functionality is one order of magnitude better of what we had in

[2022-04-03 09:55] memsharded commented on #10946
Hi @netheril96

The conan short-home cache is necessary to host in Windows those packages that have long paths that will not fit in the normal cache. There ae a couple of ways to disable that:

- Remove the ``short_paths=True`` attribute in the Conan recipes
- Define the CONAN_USER_HOME_SHORT=None ("None" as text) (or the ``[general]`` ``user_home_short=None`` in conan.conf, to disable the feature

[2022-04-03 10:23] memsharded commented on #10542
It has been made available. It is already documented in https://docs.conan.io/en/2.0-alpha/tutorial/consuming_packages/getting_started/build_simple_cmake_project.html

[2022-04-03 10:34] memsharded commented on #10947
The toolchain recipe lives in the "build" context, and if you are using there the settings, those will be the "build" settings, not the host ones. If you want to reference the target settings you need to use the ``self.settings_target``.

If that is not the case, please put together that in a repo in something we could reproduce, the above is missing a few important pieces, like the exact command

[2022-04-03 11:57] netheril96 commented on #10946
That is a very nice and responsive answer! Hope it can be added to the FAQ though.

[2022-04-03 11:57] #10946 closed, assigned to memsharded

[2022-04-03 14:48] netheril96 opened #10949 "[question] How to use conan as executable package manager"
I read many parts of conan.io docs, but still cannot wrap my heads around its management of executables. Surely it has been a great project for managing libraries and dependencies, but what about using it for executables? Like I can install cmake with Homebrew `brew install cmake` or apt easily `sudo apt install cmake`, but how do I do that in conan? It seems to me that I have to write it in a `co

[2022-04-03 15:02] memsharded commented on #10949
Hi @netheril96

It is true that Conan is a package manager for developers. It is not intended to install applications at the system level, but to install libraries, and occasionally executables at the user level. Conan will never modify your system, adding anything to the path, or putting files in another location rather than the Cache folder.

Said that, there are various tools and functionalitie

[2022-04-03 15:37] netheril96 commented on #10949
Well, I hope conan 2 will address this use case. Then I can tell my users to simply run `conan install myexecutablepackage` instead of dealing with homebrew choco apt yum pacman one by one.

[2022-04-03 15:37] #10949 closed, assigned to nobody

[2022-04-03 17:30] memsharded commented on #10949
Conan 2 implement the ``deployers`` strategy, with ``conan install --requires=myexe/version --deploy=xxxx`` it is able to deploy the package in different ways. There are builtin deployers that will do a copy to the local user folder, but if you want to write a deployer that install system-wide, you will be able to do it.

[2022-04-03 17:32] rohel01 commented on #4760
I confirm I do not need to handle the filename manually.

[2022-04-03 18:42] Bassem-Ramzy opened #10950 "[question] How to share/reuse common scripts among multiple packages?"
Hi,
I have common scripts (non-code: batches, configuration files, others) used by multiple projects AS IS, I want to have a single copy of those scripts somehow shared between and reused by the different packages, instead of having a copy of those scripts in every package. What is the best practice for that using Conan?

BTW, I need a copy of those scripts on the project local folder, and not onl

[2022-04-03 22:21] uilianries commented on #10831
@db4 glibc is an old topic but well discussed on Conan. If you do a quick search for glibc on our issues, you will find more people asking the same. The thing is, you can do it as a custom setting, but for official packages it would become a nightmare to generate all packages. To have an idea, we generate around +100 packages for a single c++ project in Conan Center. now, multiple for X times acco

[2022-04-04 07:29] lasote commented on #10905
Thanks for the examples, now I have been able to reproduce it. We have to investigate a bit further, I checked that the issue is with the `requirements(self)` method, using `requires` attribute works fine, but I'm not sure this is expected or if there is any limitation with the `requirements(self)` method and ``--require-override``.

This is a failing test to help figuring out:

[code]

I'm taggin

[2022-04-04 08:40] memsharded opened #10953 "[feature][develop2] recover headers info"
https://github.com/conan-io/conan/pull/10948 removed dead code for settings information over headers, not used anymore after all the revisions refactors. Probably we want to reconsider this feature for 2.0

[2022-04-04 09:09] derived-coder commented on #10947
Hi @memsharded thanks for looking into it.
I uploaded all necessary files.

[conan_toolchain_testcase.tar.gz](https://github.com/conan-io/conan/files/8408312/conan_toolchain_testcase.tar.gz)
Please  follow these instructions:

1. Copy `settings.yml` into your conan home dir.
2. Create toolchain recipe:
[code]
3. Cross compile zlib with the toolchain profile
[code]
You should see following output:

[2022-04-04 09:53] boussaffawalid opened #10954 "[bug] default_python_requires_id_mode throw an error"
I tried to change `default_python_requires_id_mode` as explained in https://docs.conan.io/en/latest/extending/python_requires.html to

[code]

but I got this exception when creating a package

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows server 2019
  * Compiler+version: msvc 2019
  * Conan version:  1.46.2
  * Python version: 3.8

[2022-04-04 09:54] AndreyMlashkin opened #10955 "[question] improve windows clang handling in conan"
There are many ways how to use clang on windows and we need to define how to handle most of them.

Usecases are:
GNU-style, using gcc runtime and command line
compiler=clang CC=clang.exe

MSVC-style, using MSVC runtime and command line
compiler=clang CC=clang-cl.exe

MSVC toolset
compiler=Visual Studio toolset=ClangCL

The main problem is that we can't differentiate the first two cases.
The easies

[2022-04-04 10:19] boussaffawalid opened #10956 "[bug] version is not set correctly when using layout"
When layout is being used, recipe version is not set correctly somehow using json generator, it seems that version is not being fetched from package metadata when running conan install command!

### Environment Details
  * Operating System+version: macos
  * Compiler+version:  apple-clang 12.0
  * Conan version: Conan version 1.47.0
  * Python version: 3.9

### Steps to reproduce
* create a conan

[2022-04-04 11:20] acevdev commented on #10927
Hi again,

With the previous Autotools integration, do you mean by using the "make" generator? If so, we were previously trying to build by using the Makefile generated by the make generator, but unfortunately, when trying to include this conan Makefile to our Makefile, a couple of errors are shown: "blank line following trailing backslash" and variables " must be set with '=' before using '+='".

[2022-04-04 11:24] Wizradus opened #10957 "[question] conan install -u"
Hi guys.

I need a little help or explanation for command `conan install -u`.
I didn't find much information about this. Only that:
_Will check the remote and in case a newer version and/or revision of the dependencies exists there, it will install those in the local cache. When using version ranges, it will install the latest version that satisfies the range. Also, if using revisions, it will upd

[2022-04-04 12:38] gpxricky opened #10958 "[feature] `conan.tools.files.copy` is missing description for excludes parameter"
Hi,

this is a trivial issue, but the parameter description for `conan.tools.files.copy` is missing a description for the `excludes` parameter.
Checked documentation for 1.47.0.

Best regards,
Markus

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-04 12:44] boussaffawalid commented on #10957
I don't know about version ranges, but for fixed version, with `-u` conan will check remote server for a newer package build for the same recipe version.

For example: let's say you depend on `lib/1.0`, and that `lib/1.0` exist in your local cache.
* Without -u: conan will use the version from your local cache without checking remote server
* With -u: conan will check remote server for latest pack

[2022-04-04 13:43] Wizradus commented on #10957
Thanks bousafwalid.
Do you have idea how I can simulate this behavior? What file I can to change locally to enforce update from remote?
Still don't have idea how conan decide that package in remote is newer than in cache.

Thanks

[2022-04-04 13:47] boussaffawalid commented on #10957
@Wizradus from conan docs https://docs.conan.io/en/latest/reference/commands/consumer/install.html

[code]

* For fixed version: probbaly conan uses timestamp to decide which version is latest (this is just my guess)
* For version range: it will install the latest version that satisfies the range.

Do you have idea how I can simulate this behavior ? I'm not sure I understand this question.

[2022-04-04 14:03] lasote commented on #10954
Hi, thanks for reporting. I open a PR solving the issue, unless I'm missing something this is indeed a bug.

[2022-04-04 14:10] Wizradus commented on #10957
Well... @boussaffawalid I read this notice in documentation. I know that conanmanifest.txt is crucial for this process.
I see any number in connanmanifest.txt on the top, what is probably some timestamp + file names and their hashes.
But what I exactly want to know how to in any way initiate this update manually on my computer.
I tried change this num in conanmanifest.txt but without any luck.

[2022-04-04 14:38] boussaffawalid commented on #10956
@lasote do you have any idea how difficult is this to fix ? or any temporary workaround I could use?

[2022-04-04 14:41] franramirez688 commented on #10958
Hi @gpxricky

Yeah, you're right. Anyway, let me move this issue to conan-docs repo because of the issue context.

[2022-04-04 15:06] lasote commented on #10956
The fix is easy but very very dirty. The thing is, the layout() feature is part of the Conan 2 functionality and the "json" generator is currently not migrated to the 2.0 model, I don't think we are going to provide one at the core conan at 2.0, it might be suggested as an extension, but it would need to be implemented following the new dependencies model. If we can limit this fix to the `version`

[2022-04-04 15:12] Mikayex commented on #8443
Also having the same problem, but with shaderc package...

[2022-04-04 15:31] lasote commented on #10957
Yes. the `conanmanifest.txt` contains a timestamp that is used to see if there are updates. That mechanism has been replaced in Conan 2.0 (alpha) with the revisions mechanism.

[2022-04-04 15:33] czoido commented on #10950
Hi @Bassem-Ramzy,
There are a couple of approaches to do that. For example, you could package your scripts in a package that you can later require as a [tool_requires](https://docs.conan.io/en/latest/devtools/build_requires.html), in that package you can prepend the package folder where you store those scripts to the [buildenv_info](https://docs.conan.io/en/latest/reference/conanfile/tools/env/vir

[2022-04-04 16:01] memsharded commented on #10947
Step 2 fails at that step because it is missing the "build" profile, which is necessary for cross compilation. Please use the 2 profiles for all the cross compilation scenarios. Also, if the thing is a toolchain, you might want to add ``--build-require`` to indicate that at ``conan create`` time.

If that keeps failing, please submit a reduced case just for the Step 2 creation, with the ``settings

[2022-04-04 16:23] #10954 closed, assigned to lasote

[2022-04-04 16:23] memsharded commented on #10954
https://github.com/conan-io/conan/pull/10959 fixed it, will be released 1.48. Thanks!

[2022-04-04 16:36] boussaffawalid commented on #10956
will be any alternative for json generator ? The thing we rely on the json generator for the final installer but at the same time we want to migrate to the new layout feature. Well at least fixing the version will be much appreciated.

[2022-04-04 16:43] memsharded commented on #10956
Yes. The ``--json`` output formatters of some commands might contain the whole graph information. If not, a built-in deployer can be added.

[2022-04-04 16:58] anderson-dev commented on #10400
This would be very useful and time-saving! I was surprised this was not the case as well.

Editable packages already call `generate()` to recalculate dependencies based on settings/options of the downstream project, why not call `build()` also?

[2022-04-04 17:15] memsharded commented on #10400
This has been implemented 😄

Sorry this was not tracked properly. Conan 2.0-alpha.6 has included an ``--build=editable`` that will do exactly this, call the ``build()`` method of the editables (in the right build order).

I am closing this as implemented in alpha.6, please test it and report if necessary. Thanks!

[2022-04-04 17:15] #10400 closed, assigned to memsharded

[2022-04-04 17:16] #10933 closed, assigned to nobody

[2022-04-04 17:45] derived-coder commented on #10947
What do you mean it is failing at step 2?
It is failing for you at step2?
The test case should work as provided. You might only adjust the path to your zlib from cci, in step 3

[conan_toolchain_testcase.zip](https://github.com/conan-io/conan/files/8411954/conan_toolchain_testcase.zip)

I slightly adjusted step 2:
[code]

Step 3 failing:
[code]
Step 3 working:
[code]
You see the difference?
`-pr:b

[2022-04-04 17:57] gabyx commented on #5664
@dawidcha: It would be interessting to see what you do in `self.relocate_rpath` ?
We do some rpath (`runpath`) modifications when we `imports()` all libs into the build folder to use `$ORIGIN` or `@loader_path` (macOS) to make them referencing each other =).

[2022-04-04 19:25] db4 commented on #10831
@uilianries

No way. You just use the only image with old enough Glibc at CCI and its binaries can be consumed as "compatible" when more recent glibc is required. (Provided glibc versions compatibility is declared globally that should be possible with Conan 2.0)

If a user needs a binary with incompatible glibc - well, the binary should be built from sources. But that's much better than an unexpec

[2022-04-04 19:27] nimit25 commented on #10891
Is there some documentation for the above mentioned comment? I get a syntax error for ":" in the file

[2022-04-04 19:32] memsharded commented on #10947
Step 2 is still wrong. You are only providing the "host" profile:

[code]
You need to provide the "build" profile too with ``--profile:build``. Otherwise you cannot use the ``settings_target``, and if you can't use the ``settings_target`` it will not work later as expected. If you don't fix it here at step 2 first, step 3 doesn't make sense. Also, adding the ``--build-require`` (unless test_packag

[2022-04-04 19:45] memsharded commented on #10891
Can you clarify what you are trying @nimit25?

Adding the above lines in your profile file and passing it with ``--profile=myprofile`` shouldn't error for ":". Alternatively, you can also try in the command line with ``-c tools.build:cxxflags=["xxxx"]``

[2022-04-04 19:49] memsharded commented on #10831
Yes, conanCenter shouldn't build all the combinations for glibc. It should build just one, a compatible old one is a good choice. Then, the new compatibility can fallback to it even when a more modern glibc version is explicitly required.

The "default" new global compatibility is now under investigation. The new possibilities of the global compatibility.py can be powerful, but also maybe easily a

[2022-04-04 20:49] memsharded commented on #10955
The problem with this is that is very likely that users will start requesting immediately some kind of binary compatibility between both, because it is basically the same compiler, with different front/cli syntax. So it totally makes sense that they are considered compatible/same binaries. The same that happens with ``msvc``. The binary will still be considered the same as long as the compiler, ve

[2022-04-04 20:53] nimit25 commented on #10891
I added the above line in conanfile.py. I don't have a profile file in the workspace unfortunately

[2022-04-04 21:18] memsharded commented on #10891
No, you cannot add that in the ``conanfile.py``. Just create a profile text file with the line, no need to be in the workspace, it can actually be in your Conan cache, you can put it in a repo and manage it with ``conan config install``. Or you can pass the config in command line. To summarize, the options:

- Adding flags in CMakeLists.txt. There is nothing wrong with this, this is probably recom

[2022-04-04 21:58] nimit25 commented on #10891
Is there an example package online I can look at for this or some sample documentation? A bit confused how to use this. I want to set it like
os.setting.os == "Windows":
      add these flags

[2022-04-04 22:17] memsharded commented on #10891
I don't know what you mean with ``os.setting.os == "Windows":`` That doesn't make sense, I guess you mean something like ``if self.settings.os == "Windows"``?

A conditional on the OS is not enough to require Conan configuration. You can very safely do something like:

[code]
Conan should be used to add different flags if you want to build, create and manage different binaries, some binaries with

[2022-04-04 22:20] anderson-dev opened #10962 "[question] cmake_layout assumptions when running conan install"
We're starting to have a mix of msbuild and cmake projects. Do I have to change where I'm calling conan from based on whether I'm building a cmake or msbuild project? The `self.cpp.build.bindirs[0]` is incorrect when building from the project root. I must prepend "build/src" for that directory to pick up any of my artifacts.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/con

[2022-04-04 22:27] memsharded commented on #10962
Hi @anderson-dev

It depends. It is true that CMake can customize for example the ``--output-folder``, while native msbuild can't do it easily. But both ``vs_layout()`` and ``cmake_layout()`` should work fine and ``bindirs`` should be ok. If you can provide some instructions to reproduce that would help (by the way, ``conan new hello/0.1 --template=msbuild_lib`` was added, so can be used to try th

[2022-04-05 07:31] SSE4 commented on #10955
it's true, the compiler is the same, and they should be compatible to some degree. still, it turns out there are some differences between their defaults, e.g. I got:
[code]
attaching the full outputs, just in case
`clang -dM -E <empty-file>`:
[clang.txt](https://github.com/conan-io/conan/files/8415863/clang.txt)

`clang-cl -Xclang -dM /E <empty-file>`:
[clang_cl.txt](https://github.com/conan-io/co

[2022-04-05 07:33] AndreyMlashkin commented on #10955
Where can I find this tests? I have tried locally and both clang from msvc and clang-cl from choco-llvm failed for me

 conan new hello/0.1 -m=cmake_lib
[build_with_clang_cl.txt](https://github.com/conan-io/conan/files/8415901/build_with_clang_cl.txt)
[build_with_clang.txt](https://github.com/conan-io/conan/files/8415902/build_with_clang.txt)

[2022-04-05 07:39] SSE4 commented on #10955
as I can see, there is one test: https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/cmake/test_cmake_toolchain_win_clang.py

[2022-04-05 08:02] SSE4 commented on #10955
`using gcc runtime`
not an expert in this one. I have the following options in MSYS to install:
[code]
it would take me a time to understand the differences betwen these installations, and how to use them, to figure out what's the `runtime` they are using.
what I can say is `clang --version` output in MSYS is:
[code]
while Microsoft one (coming with Visual Studio):
[code]
notice `Target: x86_64-pc

[2022-04-05 08:05] AndreyMlashkin opened #10963 "[bug] Improve mingw support"
### Environment Details (include every applicable attribute)
  * Operating System+version: Wingows 10
  * Compiler+version: gcc version 11.2.0 (MinGW-W64 x86_64-posix-seh, built by Brecht Sanders)
  * Conan version: 1.47.0

### Steps to reproduce (Include if Applicable)
install mingw using choco:
choco install mingw -y

add new profile mingw:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Rel

[2022-04-05 08:06] AndreyMlashkin commented on #10963
[mingw_log.txt](https://github.com/conan-io/conan/files/8416165/mingw_log.txt)

[2022-04-05 08:10] AndreyMlashkin commented on #10955
I have installed clang, using 'choco install llvm'

and my version looks like:
clang++.exe -v
clang version 14.0.0
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\Program Files\LLVM\bin

and clang-cl shows the same:
clang version 14.0.0
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\Program Files\LLVM\bin

[2022-04-05 08:14] SSE4 commented on #10955
that's probably the one from llvm.org. I installed one from Visual Studio itself.

[2022-04-05 08:19] AndreyMlashkin commented on #10955
There is no much difference between them for me:
clang version 12.0.0
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\Llvm\x64\bin

[2022-04-05 08:21] lasote commented on #10963
Hi, looks like the error `3221225781` implies a missing DLL. Given that you are building a static one from the "hello" library, I would say there is something related to the MinGW installation. Would be great to know which DLL is not found so we can try to figure out if we can fix something in Conan.
You can try to run `dumpbin /imports C:\Users\Administrator\sources\conan_test\test_package\cmake-

[2022-04-05 08:27] #10950 closed, assigned to czoido

[2022-04-05 08:33] AndreyMlashkin commented on #10963
As I said, I am using MinGW from choco.

And here is the output:
dumpbin /imports C:\Users\Administrator\sources\conan_test\test_package\cmake-build-release\conan\example.exe
Microsoft (R) COFF/PE Dumper Version 14.29.30141.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file C:\Users\Administrator\sources\conan_test\test_package\cmake-build-release\conan\example.exe
LINK : f

[2022-04-05 08:51] SSE4 commented on #10955
might be a helpful link: https://www.msys2.org/docs/environments/
1. MSYS `CLANG64` environment
`clang --version`
[code]
`ldd <binary>`
[code]
`clang++ -dM -E -x c++ /dev/null`
[clang64.txt](https://github.com/conan-io/conan/files/8416332/clang64.txt)

2. MSYS `UCRT64` environment
`clang --version`
[code]
`ldd <binary>`
[code]
`clang++ -dM -E -x c++ /dev/null`
[ucrt64.txt](https://github.com/conan

[2022-04-05 08:58] lasote commented on #10963
Is the executable in that location? `C:\Users\Administrator\sources\conan_test\test_package\cmake-build-release\conan\example.exe`

[2022-04-05 09:00] AndreyMlashkin commented on #10963
Oh, no, it's one up. Here we go:

Microsoft (R) COFF/PE Dumper Version 14.29.30141.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file C:\Users\Administrator\sources\conan_test\test_package\cmake-build-release\example.exe

File Type: EXECUTABLE IMAGE

  Section contains the following imports:

    libstdc++-6.dll
             14000C1E8 Import Address Table
             14000

[2022-04-05 09:01] franramirez688 opened #10964 "[feature] [UX] Improve `conan new` command"
If you try out a simple `conan new -h`:
[code]

So, after that, you try to create  a CMake example:

[code]

Obviously, we're missing to specify the name and the version but `[-d DEFINE] ` appears like an optional thing so it's quite confusing:

[code]
The UX should improve. In my opinion, if name and version are required attributes, then let's require them as parameters:
[code]

[2022-04-05 09:21] SSE4 opened #10965 "[bug] markdown - remove the list of header files"
looking at: https://conan.io/center/openssl?tab=recipe
(section `Exposed header files for openssl`)
I don't think it's useful information for the consumer.
first off, for projects like `boost` or `Qt` it could literally take thousands of lines. it makes markdown just unnecessarily long to read.
second, there are some headers that are not supposed for the direct inclusion (e.g. `#include <openssl/_

[2022-04-05 09:21] franramirez688 opened #10966 "[bug] Conan lockfile fails with conan-new example"
Related to https://github.com/conan-io/conan/issues/10916 (but this is failing only if the `test_package/` folder is there)

### Steps to reproduce

[code]
The output ends up with:
[code]
My profile:

[code]

Even if you get rid of the `test_package/` folder, it's failing as well.

[2022-04-05 09:24] SSE4 opened #10967 "[bug] markdown - package is downloaded just to generate .md file"
it would be nice to skip download of the package, and just generate a markdown based on the recipe (`conanfile.py` and it's `package_info` method).
there are some quite a big packages (e.g. LLVM) that may take several gigabytes literally.
it takes a time, traffic to download and extract these large packages just to generate a markdown file. it also wastes a disk space significantly.
related to htt

[2022-04-05 09:26] SSE4 opened #10969 "[bug] markdown - needs to install system packages and run pkg-config"
might be also related to https://github.com/conan-io/conan/issues/10967
it's pretty annoying that markdown generator requires user to install system packages, in case if package depends on something like `opengl/system` or `xorg/system`. it would be nice to skip that.
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan

[2022-04-05 09:31] lasote commented on #10963
I have no idea if that is related but the profile doesn't look good for using the new generators (CMakeToolchain and CMakeDeps). The generator Ninja has to be specified with a `conf` instead of an environment variable, also the `arch_build` and `os_build` have been deprecated for the new generators too. I'll try to debug in my windows machine tomorrow to see what I get.
The profile could look more

[2022-04-05 09:48] ghost commented on #9412
Not sure if this is still relevant, but I stumbled on the issue again, and tried to actually `wget` the package directly with:

[code]

This yielded the following output, which looks like there's an actual issue with the remote or with the package, independently from the conan client.

[code]

[2022-04-05 09:52] uilianries opened #10970 "[feature] Add support to Clang 14"
Clang 14 came out last month on a stable release: https://releases.llvm.org/14.0.0/tools/clang/docs/ReleaseNotes.html#introduction

Let's support it!

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-05 10:14] uilianries commented on #10970
Forget about, it's already implemented: https://github.com/conan-io/conan/blob/1.47.0/conans/client/conf/__init__.py#L121

[2022-04-05 10:14] #10970 closed, assigned to nobody

[2022-04-05 10:38] Wizradus commented on #10957
Hola @lasote!
Can I to take somewhere details about current and future changes of this process?

[2022-04-05 10:42] derived-coder commented on #10947
when I create the toolchain recipe like that:
`conan create yocto-toolchain/all 1.0.0@ -pr:h gcc-9.0-qemu-armv8-release -pr:b gcc-9.0-linux-x86_x64-release -o yocto-toolchain:target=armv8`

then I do not have `self.settings_target`

[code]
[code]

Can you tell me the cmd I should use to create the toolchain and what changes I should do in the toolchain recipe?

PS: I am using the same approach fro

[2022-04-05 10:56] gpxricky opened #10971 "[bug] Replacement for `scm` attribute has logical bug"
Hi,

I'm currently porting my Conan recipes to be prepared for Conan 2.X. I've already stumbled several times about the replacement of the `scm` feature. At the end, I think the new concept is much better.

However, I think the example for the replacement of the `scm` attribute (https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-scm-attribute) is logically wrong or has a major defec

[2022-04-05 11:44] lbakman opened #10973 "[question] Using cmake_find_package with a project in editable mode"
Conan version: 1.47.0
OS: Rocky 8.5
Compiler: G++ 8.5.0

Hi

I am sure I am missing something obvious, but I can't get cmake_find_package to work with a library project in editable mode.

I have a multi component project (similar in structure to Poco), that I am developing. Until now I have produced *Config.cmake files for each of these components and installed these with the libraries.

In my con

[2022-04-05 12:27] StellaSmith commented on #10955
The targets `x86_64-pc-windows-msys` and `x86_64-pc-windows-msvc` are binary compatible with each other, but the first one prefers using the msys runtime
iirc target `x86_64-pc-windows-gnu` uses a different abi by default thus binary incompatible, this target also usually links to GCC's runtime (ie `libgcc`)

[2022-04-05 12:42] SSE4 commented on #10955
I don't think MSYS and MSVC targets are fully compatible, as MSYS has its own sets of defines such as `__CYGWIN__` and `__MSYS__`:
https://github.com/msys2/MSYS2-packages/blob/master/clang/0108-Add-minimal-msys-target.patch#L137-L159
(also check other patches)

and for sure GNU is diifferent from MSVC:
https://github.com/llvm/llvm-project/blob/main/clang/lib/Basic/Targets/X86.h#L824-L859

I would

[2022-04-05 12:43] lasote commented on #10957
Well, there are no specific docs for this but Conan 2 will use only [revisions](https://docs.conan.io/en/latest/versioning/revisions.html). So the update process will be based on the "latest" revision available on a server. The timestamp won't be taken into account anymore. Also, FYI, if the same recipe revision exists in several remotes, the binary packages will be searched in all of them.

[2022-04-05 13:42] StellaSmith commented on #10955
Hmm, totally forgot about msys having different macros.
Then yes, we totally need to differentiate these targets.

[2022-04-05 13:54] boussaffawalid commented on #10900
Doing some more testing I found another issue.
here is what is in my `conanrunenv.sh`

[code]

This wont work from git bash, it has to be something like

[code]

[2022-04-05 14:07] lasote commented on #10969
Absolutely annoying, but I think the issue is introducing the `_fill_cppinfo_from_pkgconfig` in the `package_info()`, a generator need to know the package info from the whole dependency graph, if we are using the "collect_libs" or that pkg-config stuff, it is inevitable.

[2022-04-05 14:37] lasote commented on #10971
Hi, The second argument of the `Git` object can be set with the correct folder (the folder you want to clone). If the recipe is not the root, Would it work something like:

[code]

Note the `git = Git(self, os.path.join(self.recipe_folder, ".."))`

[2022-04-05 14:47] AndreyMlashkin commented on #10963
I have resolved the issue thanks to @SSE4
https://github.com/conan-io/conan-center-index/issues/10119

[2022-04-05 14:50] realbogart opened #10976 "[question] Can I pass CMake variables from a package using CMakeDeps / CMakeToolchain?"
Using CMakeDeps & CMakeToolchain:
Is there a way to pass custom CMake variables from a package that can then be used in the consumer CMake scripts?

I have packages that include some extra utility files that I want to use later in my project.

Ideally I would just want to call:

`find_package(my_package)`

and have that automatically set up a CMake variable called `MY_PACKAGE_SPECIAL_UTILITY_PATH`

[2022-04-05 14:52] #10963 closed, assigned to lasote

[2022-04-05 15:03] memsharded commented on #10900
This is true @franramirez688 , the code inside has a comment:

[code]

Most of the internals are not designed to run inside bash, but without not targeting a subsystem.

[2022-04-05 15:05] AndreyMlashkin commented on #10963
The solution is to use full path in the build profile:

[settings]
os=Windows
arch=x86_64
build_type=Release
compiler=gcc
compiler.exception=seh
compiler.libcxx=libstdc++11
compiler.threads=posix
compiler.version=11.2
cppstd=17
[options]
[build_requires]
[env]
CC=C:\ProgramData\chocolatey\bin\gcc.exe
CXX=C:\ProgramData\chocolatey\bin\g++.exe
[conf]
tools.cmake.cmaketoolchain:generator=Ninja

[2022-04-05 15:08] memsharded commented on #10973
Hi @lbakman

Just a couple of quick notes:

- ``cmake_find_package`` has been removed in 2.0. Replaced by CMakeDeps and CMakeToolchain (already available in 1.X)
- Defining the layouts in external files has been removed in 2.0. Replaced by ``layout()`` method (already available in 1.X)
- Editable packages are well tested with the ``layout()`` method, it should work out of the box with a template `

[2022-04-05 15:08] lasote commented on #10976
Yes, you can declare a [property](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#properties) `cmake_build_modules` at the `package_info()` of the `my_package` recipe, with `.cmake` files with the code you want, so these files declared will be automatically included when you call `find_package(my_package)`.

[code]

[2022-04-05 15:09] memsharded commented on #10947
Yes, you need to add the ``--build-require``, as commented above:

[code]

[2022-04-05 15:11] #10929 closed, assigned to franramirez688

[2022-04-05 15:11] memsharded commented on #10964
There can be templates that don't define those things, this is the reason templates are completely generic, and only ``-d`` arg is needed, so maybe better don't add those.

I agree that to capture errors in the rendering, and translate them to something more helpful is necessary to improve the UX

[2022-04-05 15:14] realbogart commented on #10976
Thank you for your quick reply @lasote !

As mentioned in my original message, I already knew about the build module way. So this is the only way to do it? I was hoping to avoid packaging an extra build module file. I guess it's not too bad though.

[2022-04-05 15:15] memsharded commented on #10965
This is not a bug, it would be a feature request.

And generators cannot run if you don't run the ``package_info()``, and you cannot run ``package_info()`` if you don't download the package, because it can do things from ``collect_libs`` to read the ``.pc`` files to extract the information.

So headers can be removed from the output, yes, but that won't help with the other issue.

[2022-04-05 15:18] memsharded commented on #10966
It is true that ``conan create`` expects a input ``--lockfile`` that is not being passed, in order to modify it and save it, and this is why it is failing.

 In other words, ``conan create`` was not intended to create a lockfile from scratch, but it should be created first with ``conan lock create``. But surely we can revisit that UI and change it if we think so.

[2022-04-05 15:21] SSE4 commented on #10965
I really don't get - is it actually mandatory for markdown generator to run a `package_info` method at all?
for instance, we may run `package_info` once on the package creation step, and save information needed for markdown to the file (`conaninfo.txt` or another one).
then, markdown generator could just retrive that file and use an information computed earlier on package creation. WDYT?

[2022-04-05 15:29] ayeganov opened #10977 "[bug] Adding AWS-CPP-SDK fails on Linux"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux thebeast 5.4.0-105-generic Ubuntu SMP Mon Mar 7 18:49:24 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
  * Compiler+version: g++ (Ubuntu 10.3.0-1ubuntu1~20.04) 10.3.0
  * Conan version: 1.47.0
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)

Use the conanfile below. The important bi

[2022-04-05 15:30] lasote commented on #10966
I'm ok with the UI, I opened a PR to raise an error if `--lockfile-out` and not `--lockfile`

[2022-04-05 15:31] memsharded commented on #9412
Thanks @jblort
If we can reproduce this against the ConanCenter server, removing the client side, that would help reporting something against Artifactory if necessary.

[2022-04-05 15:32] Wissperwind commented on #5241
Hi,
Did you found a slution in the last years?
I am currently executing pip freez to get a package list. And if I execute it with pycharm, I get an ESC[0 at the end. If I execute it with the command line, the last line is the last installed library in the list like expected.

[2022-04-05 15:33] lasote commented on #10976
Oh, sorry I didn't read it properly. If you want that variable to be automatically declared when `find_package`, there is no other way. You can pass general information, for example with `self.conf_info` but you would need to take that information in the consumer `generate()` method and use it to set a variable to the toolchain.

[2022-04-05 15:34] memsharded commented on #10965
``conaninfo.txt`` is only retrieved if you download the package. Conan will not download just an individual file from the server just for this.
Besides that, the ``conaninfo.txt`` contains strictly the information related to the ``package_id``. It will be a big abuse of it, and problematic in the server (we are already struggling with this to move to 2.0 new package_id)

[2022-04-05 15:35] derived-coder commented on #10947
I have to admit, I am completely confused now how conan handles cross compilation.

Anyway
[code]
This will not make `self.settings_target` available during package creation. I get the same error

More important, I do not know how I need to change the toolchain recipe in order to handle the creation and the usage of the recipe/package.

[2022-04-05 15:40] SSE4 commented on #10965
okay, could it be an another file or archive? maybe just an artifactory property? `conaninfo.txt` was just a suggestion, it doesn't strictly need to be this one, it's just an implementation detail.

[2022-04-05 15:40] lbakman commented on #10973
Thank you for the suggestions.
I will try tomorrow and get back with the results.

[2022-04-05 15:43] realbogart commented on #10976
No worries. Thank you for your help!

[2022-04-05 15:44] #10976 closed, assigned to lasote

[2022-04-05 15:48] lasote commented on #10977
If I get it correctly there is an issue unzipping the `pulseaudio-14.2.tar.xz`, right?
Could you try this simple recipe and run a `conan create .`?

[code]

[2022-04-05 15:52] memsharded commented on #10965
No, we can't use anything specific of Artifactory here, Conan is server agnostic, just whatever goes over the Conan API protocol. Adding more files is always possible, but they go inside the ``conan_package.tgz`` and it need to be downloaded anyway. We will not be adding new first level new files for this.

[2022-04-05 16:10] SSE4 commented on #10965
then I don't understand how can we use a markdown generator and avoid to download 8Gb packages...

[2022-04-05 16:57] derived-coder commented on #10947
I updated the test case, too simplify it more. Should now work also under windows I hope.
And I renamed the profiles to `host` and `build`
[toolchain_test_case_update_2.zip](https://github.com/conan-io/conan/files/8420365/toolchain_test_case_update_2.zip)

[2022-04-05 17:35] memsharded commented on #10965
Then dont. But we cannot do such a infrastructure and core change just to support this use case, it doesn't make sense.

[2022-04-05 18:28] CPickens42 opened #10979 "[bug] The new VirtualRunEnv never clean the deactivate script (it should use a temp deactivate file)"
### Environment Details
  * Operating System+version: Linux (archlinux)
  * Conan version: 1.47.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
`conanfile.txt`:
[code]

[code]
### Explanation of the issue

The issue here is, the more we do activate/deactivate the more the string "Restoring environment" will be displayed (and after a while it can be very annoying on my she

[2022-04-05 19:05] #6376 closed

[2022-04-05 19:05] #8498 closed, assigned to SSE4

[2022-04-05 19:07] paulocoutinhox commented on #9448
Hi,

There is something new to this problem on recent releases?

Thanks.

[2022-04-05 19:48] dawidcha commented on #5664
@gabyx: The solution involves using the patchelf command to replace the runpath/rpath in any ELF binaries. To run pathchelf, we created a dependency in the recipe so its location can be retrieved from deps_cpp_info. Whether that's the best way of doing that is an open question, but it means we can write code something like this:
[code]

[2022-04-05 19:59] ayeganov commented on #10977
@lasote

Here is the output from your recipe:

[code]

[2022-04-05 20:04] derived-coder commented on #10947
One suggestion. Maybe, instead of helping me out fixing my recipe, it is maybe better to create a template toolchain recipe, which everybody can use for their toolchain? I mean you see the logic it is not much. I am just downloading some binaries and then I am setting environment variables. That what all toolchains/SDK will do. So everybody can reuse it.

[2022-04-05 20:39] gpxricky commented on #10971
@lasote

This still doesn't work for me. Imagine the following situation which I would call a regular one:

[code]

Now, check the latest commit of the entire repository:

[code]

And then compare it to what Conan would calculate in the `get_commit` method (even with your proposal):

[code]

You will see the results are different.

The example has been tested with Git version 2.17.1 running on Ubu

[2022-04-05 23:29] memsharded commented on #10979
I have tried this in Windows, apparently it is not happening there.
Also inspected the code in .sh, at least first inspection it is not evident why this is happening, but I will like to understand better the root cause.

Also, quick question, where does the ``conanvirtualenv`` folder comes from? It is not evident from your code why the scripts would be located there.

[2022-04-06 00:23] CPickens42 commented on #10979
In my understanding it is happening because of the use of the ">>" operator in bash. See https://github.com/conan-io/conan/blob/255044586ae8d9666bb8449739641ff857b38e89/conan/tools/env/environment.py#L345
 It always append at the end of the same file without removing it. And it does make sense if you want to support multiple activate/deactivate with the same file. But I think this is not the prope

[2022-04-06 06:12] lasote commented on #10971
I see, thanks for the example. I've assigned it to the next release to investigate it.

[2022-04-06 06:25] lasote commented on #10977
I tried in a docker image of Ubuntu 20 and it works without any issue. Might it be an issue on your network?

[2022-04-06 06:53] w568w opened #10980 "[bug] Unable to link correctly with error LNK2019"
I am trying to build a demo project, supported with [pdcurses](https://pdcurses.org/) by conan.

However, following [the offical instruction](https://docs.conan.io/en/latest/integrations/ide/clion.html#general-integration) step by step, I still met with an error `error LNK2019: unresolved external symbol` thrown by MSVC.
### Environment Details (include every applicable attribute)
  * Operating Sy

[2022-04-06 07:51] DDkuang commented on #10944
This is not output. The latest version of cpcore on artifactory is 2.4.35.  The cpcore in release.lock is 2.4.33.
release.lock like this:
`
{
 "graph_lock": {
  "nodes": {
   "0": {
    "ref": "liba/1.0.0@liware/stable",
    "requires": [
     "1",
     "25"
    ],
    "path": "conanfile.py",
    "context": "host"
   }
}
`
Replaces the package name of nodes 0 and save to release_daily.lock
`
{
 "g

[2022-04-06 08:25] franramirez688 commented on #10966
Closed by https://github.com/conan-io/conan/pull/10975

[2022-04-06 08:25] #10966 closed, assigned to lasote

[2022-04-06 08:30] Wizradus commented on #10957
OK. Thanks for the info.

[2022-04-06 08:30] #10957 closed, assigned to nobody

[2022-04-06 08:54] jgsogo commented on #10965
As a suggestion: we know the functions that are getting information from actual package files (like `collect_libs`), those methods can be mocked to no-op before running `package_info` (btw, IIRC, the plan was to remove all those methods from `package_info` in 2.0, is it still a thing?).

There could always be a recipe running custom _commands_ in that method (probably not recommended), so sometime

[2022-04-06 11:08] marausch opened #10982 "[bug] Backslashes in path not handled properly by 'output_dirs' block of CMakeToolchain"
In the _layout()_ method, the string we use to define the _outdir for includedirs_ is a windows path with backslashes like `inc\Fboot`:

The generated _conan_toolchain.cmake_ contains the following line in the part corresponding to the _output_dirs_ block of _CMakeToolchain_:

where the backslash is then interpreted as an escape character instead of a path separator.
Is this a bug or are we using

[2022-04-06 11:28] franramirez688 commented on #9448
Hi @paulocoutinhox

I'm working on trying to bring those Xcode flags (based on `conan-darwin-toolchain` recipe)  to `CMakeToolchain` directly. Still in progress but I hope we'll have something finished for the next Conan 1.48 version.

[2022-04-06 11:51] franramirez688 commented on #10982
Hi @marausch

The problem is you're not escaping the backslash properly in your python code. Anyway, you can use both a backslash or a simple slash. For instance:

[code]
I guess that it's going to make the trick. Conan is managing these paths internally so it's making all the transformations needed for CMake.

[2022-04-06 12:35] w568w commented on #10980
Progress: I built the solution `window_test.sln` generated by cmake with `Visual Studio 2022 IDE`, and got the same error.

But now I have obtained a verbose log on what happened in the linker and compiler.

Part of the compile log is:
[code]

Translation:
[code]

It seems that the library path *indeed* has been passed to the linker in its parameters. Is there anything I can do to inspect the prob

[2022-04-06 12:36] eirikb commented on #10923
Since I have a docker image for the sole purpose of cross compiling I decided to test out some hacks based on my findings from my initial test.

Note that this is very hacky, only for testing purposes, and it is done in a toolchain-purposed docker image.

[code]

I'm not sure if that last one is a problem with automake or the library, or something else.
Even without Conan, just trying to build the

[2022-04-06 12:47] marausch commented on #10982
Thank you, Francisco1

In fact, we need to use os.path.join() and we convert the native (on windows) backslash like this:

self.cpp.package.includedirs = pathlib.Path(os.path.join("inc", modulename)).as_posix()

We thought that this solution was just a workaround to a problem because it seems that all other paths found in conan_toolchain.cmake have slashes instead of backslashes (but these are all

[2022-04-06 12:48] #10982 closed, assigned to nobody

[2022-04-06 13:48] SSE4 commented on #10965
I don't know how was it supposed to be used - probably a newcomer should have copied all the headers listed at https://conan.io/center/openssl?tab=recipe to his app? in this case, it doesn't even work for me:
[code]
I doubt it's useful for anyone, and it actually causes more confusion than help.

[2022-04-06 13:53] SSE4 commented on #10965
also, it ruins user experience for conan-center (web). https://conan.io/center/boost?tab=recipe takes a while to load for me, and it consumes a lot of traffic, as web-page is quite a big.

[2022-04-06 13:55] lasote commented on #10965
No, they are still there (collect_libs at least), I would say we decided to keep it because the usage is there and kind of legit. We never liked it, but... there is the use case.

I don't think we should complicate this more introducing mocks or other messy workarounds. Maybe the useful/true/public/most_used headers are something the "blog" could explain. I vote for the removal of the current head

[2022-04-06 14:01] ayeganov commented on #10977
Definitely not a network issue. I used `tar xf` manually on the file and it worked fine. I am able to download lots of other packages and none of them fail except this specific one.

[2022-04-06 14:06] lasote commented on #10980
You need to link the executable with the libraries managed by Conan doing this in the CMakeListst.txt (see last line):

[code]

[2022-04-06 14:09] lasote commented on #10980
By the way, the "cmake" generator is not being maintained anymore, if you are starting with Conan you might be interested in the new generators to be prepared for Conan 2.0.
You can read more [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html) and in the work-in-progress docs for Conan 2.0: https://docs.conan.io/en/2.0-alpha/tutorial/consuming_packages.html

[2022-04-06 14:16] lasote commented on #10977
So, you can uncompress with `tar xf` the file downloaded with Conan? (to discard a "downloader" issue).

[2022-04-06 14:18] lbakman commented on #10973
Hi

I have created two test repositories to try this out, using the cmake_lib template. I am not completely done, but so far it works when I am using a single libary project, but experiencing the exact same problem as above with a multi library/component project.

If interested, the projects are located here:
- [conan_single_layut](https://github.com/lbakman/conan_single_layout)
- [conan_multi_lay

[2022-04-06 14:22] ayeganov commented on #10977
@lasote yes.

[2022-04-06 14:36] lasote commented on #10977
Could you check the `md5sum` of the downloaded file? I got `1efc916251910f1e9d4df7810e3e69f8` but I can perfectly unzip the file with Conan :S

[2022-04-06 15:26] w568w commented on #10980
Thanks, that really saves my day from the wrong direction!

I will do some researches to move on to the new generators, thanks!

[2022-04-06 15:26] #10980 closed, assigned to lasote

[2022-04-06 15:31] ayeganov commented on #10977
╰─❯ md5sum pulseaudio-14.2.tar.xz
1efc916251910f1e9d4df7810e3e69f8  pulseaudio-14.2.tar.xz

[2022-04-06 16:44] ghost commented on #9390
I just encountered the same issue, and I'm a bit unsure how to handle that. Basically, all my private dependencies (and their dependencies) that worked fine with the `cmake` generator, now do not work anymore as Conan uses them as `build_requirements` instead. As in, when e.g. doing a `conan install -pr:h android-armv8 -pr:b default ..`, I get a lot of logs like this:

for actual requirements.

I'

[2022-04-06 16:52] smoofra opened #10986 "[bug] source_folder is re-used even when settings differ"
The [documentation](https://docs.conan.io/en/1.47/reference/commands/development/source.html) says that a conanfile's source method can use settings:

But when you build the same package with different settings, conan re-uses the source folder, which will cause the wrong sources to be used if source contents do depend on settings.

### Environment Details
  * Operating System+version: Mac OS 12.3.

[2022-04-06 17:31] anderson-dev commented on #7795
We're seeing this issue creep up more and more as well.
[code]
is being called every restore via our custom build scripts to ensure that all of our devs have connection to our private artifactory, enable revisions, and enable default build host.

`conan remove` offending recipe and trying again seems to work but I get a call from a dev puzzled as to what is going on and it seems to be happening mo

[2022-04-06 17:57] bogado commented on #9695
Hi, I've tried to access the page at [conan.bintray.com](https://conan.bintray.com) with firefox and apparently the website there is configured:

![image](https://user-images.githubusercontent.com/3781/162037954-4c84486c-d9a9-4934-a2c6-8bcec5db1187.png)

[2022-04-06 18:34] 0x8000-0000 commented on #9814
I am not familiar with the practice indicated above. In our team, it is actually quite typical to have a worktree (git clone) with several parallel build directories.

For example, I'm working on foo project so I have:

     ~/work/foo
     ~/work/foo.clang.13.dbg
     ~/work/foo.clang.13.asan
     ~/work/foo.gcc.11.relinfo

Only the editor touches ~/work/foo - there are no binary artifacts in the

[2022-04-06 18:36] 0x8000-0000 commented on #9814
Note that "building in tree" is an old source code management anti-pattern - which many build systems now actively advise against.

[2022-04-06 21:39] memsharded commented on #9814
Hi @0x8000-0000

Yes, there are 2 options, depending on how you want to manage it:

- You can encode your ``self.folders.build`` in your ``layout()`` method with something like this:
[code]
   I have tested, and it seems to do the work, just ``conan install .`` + ``conan build .`` and it will work

- Or you can encode only part of that in the ``layout()`` method, and then use the ``--output-folder

[2022-04-06 21:43] memsharded commented on #9695
Hi @bogado

That is a different issue. You are trying to access the legacy url conan.bintray.com. That doesn't exist anymore, and you should use as Conan remote ``https://center.conan.io`` (for the web site is https://conan.io/center)

[2022-04-06 21:46] memsharded commented on #10986
Hi @smoofra

This is not a bug, this is the documentation of the ``conan source`` command being a bit outdated. If you navigate to the ``source()`` method docs (https://docs.conan.io/en/1.47/reference/conanfile/methods.html#methods) you will see:

And it will explicitly recommend to use the ``build()`` method for that:

Please try that, thanks for reporting!
(I am closing this as question solved,

[2022-04-06 21:46] #10986 closed, assigned to nobody

[2022-04-06 21:52] smoofra commented on #10986
ok, thanks.

[2022-04-07 00:00] memsharded commented on #10973
Hi @lbakman

I think I know where the issue is. When defining components, their layout for editable mode needs to be defined also in the ``layout()`` method and not only in the ``package_info()`` method, because that is valid only for the final packaged package.

So something like this would be necessary:

[code]

I thinks this might be our fault, because I can't find this in our docs, you might f

[2022-04-07 06:41] ghost opened #10987 "Conan check --require-override is possible with multiple packages"
Having a version range dependency like

requires = "demo_test/[~1.0]"

means that the conan recipe will take the latest version it can find of the demo_test package in major version 1 and minor version 0. Conan provides the argument --require-override so that it is possible to override the dependency and specific a concrete version like --require-override=demo_test/1.0.6.

Now the question is if i

[2022-04-07 06:46] memsharded commented on #10987
Hi @Srikanthnetha47

Yes, ``--require-override`` argument has an "append" action, it should be able to provide multiple values. Did you try and it didn't work?

[2022-04-07 06:58] memsharded commented on #10965
Yes, I am totally fine removing the headers, not the best feature. The original idea was being able to exploit it in IDE plugins to autocomplete or provide package references when users were typing includes, but seems the value is not worth the effort.

[2022-04-07 07:06] memsharded commented on #10979
You are right, in .bat it doesn't happen because it has:

[code]

So the first line removes the previous content of the file. Why this wouldn't be enough to do the same for .sh? That would be simple and remove the issue, wouldn't it?

No, this feature doesn't aim to support multiple deactivation in the same file. For every activation, you should be doing one activation. If this is complex, the com

[2022-04-07 07:51] SSE4 commented on #10977
can you try to run? `python -c "import lzma"`
we had a similar isssue in our CI in the past, it turned out problem was in incorrect python installatiion (without lzma module)
see also https://github.com/conan-io/conan-center-index/pull/9609

[2022-04-07 09:07] paulharris opened #10989 "Improve "conan help profile" with "delete" information"
I think it would be good to add info into the conan help profile printout,
conan profile delete --> "command not available by design, please manually delete from XYZ"

Without that information, I tried to use "conan profile remove" (which was also suggested by a helpful Slacker)
But "remove" only removes keys, not entire profiles.

Without the suggested information, the user's eye will naturally f

[2022-04-07 09:33] lbakman commented on #10973
Thank you so much for the help. That last bit did the trick. I did have to setup package.components as well, but in the end I got it working.

My layout for a single component looks like this now:

[code]

I am sure improvements can be made to my layout or package_info, but so far it seems to work.

I am leaving my test projects up, if anyone wants to check them out.

[2022-04-07 09:39] DukeOfKirkcaldy commented on #10971
I'm also having this issue when exporting the recipe from a merge commit (i.e. the would-be result of a merge which is stored on Github when a pull request is opened).

As you can see I am on commit 428dd13..., but Conan calculates a different :
[code]

It turns out the result from Conan is the previous commit.
[code]

I'm not exactly sure why this is the case as the merge commit does modify files

[2022-04-07 09:40] kshehata commented on #10801
Hi there, I'm using conan 1.47.0 and I'm still getting an error when trying to use compiler version 13.1. Is this not yet released?

[2022-04-07 09:56] #10973 closed, assigned to nobody

[2022-04-07 10:20] lasote commented on #10971
Thanks! valuable feedback.

[2022-04-07 10:26] ghost opened #10990 "Is it possible to Instruct Conan to download only direct dependencies"
For Example:

demo_new/1.0.0
requires
demo_new2/1.0.0
requires
demo_new3/1.0.0

When running install . conan will download all transitive dependencies.
As such this command also download demo_new3/1.0.0

Is it possible to instruct conan to download only direct dependencies during this conan install . command.

[2022-04-07 10:36] volviq opened #10991 "[question] correct usage of build_policy = "never""
Conan version 1.44.0 OS: Windows 11

We created a conanfile.py which only contains a `package` step to be created with `conan export-pkg` instead of `conan create`.
As it doesn't use the `exports_sources` to copy files into the conan cache, I assumed it makes sense to disable the possibility
to rebuild a package.
Therefore we set the
`build_policy = "never"`
So that it isn't possibly to attempt to

[2022-04-07 10:40] #10987 closed, assigned to memsharded

[2022-04-07 10:41] ghost commented on #10987
Yes i tried, its works for me now.

[2022-04-07 13:28] wer14 opened #10992 "[question] Can I build conan2 package with conan1 packages using conan 2.0?"
Can I build conan2 package with conan1 packages using conan 2.0?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-07 13:37] czoido commented on #10992
Hi @gmikhaile,
What that means is that you can update your current recipes that work in conan1 so that they work also in conan2. That is to allow transition to conan 2.0.

[2022-04-07 13:57] #10992 closed, assigned to nobody

[2022-04-07 14:04] czoido commented on #10989
Hi @paulharris,
That command has changed for 2.0, because we don't want conan to do operations like just editing files through the command line so at least that mistake won't happen in 2.0.
For 1.0 maybe we could add some note to the documentation or something, thanks a lot for your suggestion!

[2022-04-07 14:09] czoido commented on #10990
Hi @VarunTej106,
It is not possible to not install transitive dependencies through a Conan install because those are needed for Conan to calculate the graph, possible inconsistencies and so on.
Maybe if you want to just download a dependency with no transitive dependencies, you can do that using the [conan download](https://docs.conan.io/en/latest/reference/commands/misc/download.html) command. Wi

[2022-04-07 14:12] Ka55i0peia commented on #4235
@da2r-20 I've figured out calling `conan install <path_to_conanfile>` (not `conan install <reference>`) avoids invoking `deploy()` of the recipe. But I didn't found out why?

@memsharded : Do you have any idea?

[2022-04-07 14:23] czoido commented on #10991
Hi @volviq,

About the first question, I can't reproduce the issue. The use of `build_policy="never"` [seems correct](https://docs.conan.io/en/latest/reference/commands/creator/export-pkg.html) if you are using `conan export-pkg`
Maybe you can try if a minimal example for a recipe works for you with conan export-pkg? Like this:

from conans import ConanFile, tools

[code]

The second question: the

[2022-04-07 14:56] fukanchik opened #10993 "[feature] do not fail `conan info` on conflicts"
I run conan info trying to find what of my dependencies `requires` package ncbi-cxx-toolkit-public/26.0.1.
However conan info fails before printing dependency tree:
$ conan info ..
ncbi-cxx-toolkit-core/0.0.0: Analyzing requirements. Please wait...
Package requires  lmdb/0.9.29@#3bdb51ff4c3649bd865ee3857f0f2e07
Package requires  libdb/5.3.28@#355aa134e9ee1bda60fa224f8b54c913
Package requires  lzo/

[2022-04-07 21:30] CPickens42 commented on #10979
I think a scenario will be easier to grasp the issue. Let's consider that we have the following init script:
[code]

You then need to open 2 shells, I will simply call them SHELL 1 and SHELL 2. And then, in that order you need to do the following:

In SHELL 1:
[code]

In SHELL 2:
[code]

In SHELL 1:
[code]

In SHELL 2:
[code]

At the end of this scenario, the env variables of the SHELL 1 have been

[2022-04-07 21:36] CPickens42 commented on #10979
I'm currently checking of how Python virtualenv is doing thing, I think Conan should take example of this.
For linux:
https://github.com/pypa/virtualenv/blob/main/src/virtualenv/activation/bash/activate.sh

For Windows (powershell):
https://github.com/pypa/virtualenv/blob/main/src/virtualenv/activation/powershell/activate.ps1

For others shell:
https://github.com/pypa/virtualenv/tree/main/src/virt

[2022-04-07 21:56] memsharded commented on #10979
Ok, thanks very much for the detailed explanation.

Now I understand the issue, I thought we were talking about multiple *sequential* activation & deactivation of environments. I see that we are talking about concurrent usage of these environment scripts, and it is completely true that the current approach is not designed to support it.

I agree that learning from Python virtualenvs and improving

[2022-04-07 22:12] CPickens42 commented on #10979
I understand completely. To be honest I thought that conan 2.0 would be out in a few month at least. I will do a PR when I'll have the time on my own (not until few weeks). I think doing it is mandatory on the long run to have a proper experience of conan.

[2022-04-07 22:46] memsharded commented on #10993
Yes, it is true that in 1.X it is difficult to diagnose conflicts in large graphs. I am making sure in https://github.com/conan-io/conan/pull/10994 that ``conan graph info`` will work even when there are conflicts, and we will later work on the UX too to display more info in the output to help.

Thanks for reporting!

[2022-04-08 04:53] kshehata commented on #10801
Nevermind. Apparently it's just "13" and not "13.1". I had to move my $HOME/.conan folder out of the way and rebuild it and now things seem to work.

[2022-04-08 08:11] gabyx opened #10995 "[question] Is it possible that a package can override/adjust the compiler/settings for its dependencies?"
Is it possible that a package can define/override (hardcode) the compiler(settings) for its required dependencies?

We have a consumer `U`:
- who needs package `A`(maintained by us)
- which needs `B`(zeromq)
- which needs package `C`(libsodium).

So far with a Conan profile which consumer `U` uses for Windows and `Visual Studio 22`, the package `C` in the chain does not exist and can also not buil

[2022-04-08 09:22] Bassem-Ramzy opened #10996 "[question] How to know value of the passed `-of OUTPUT_FOLDER` in `deploy()`?"
Hi,
One of the arguments to `conan install` is `-of OUTPUT_FOLDER`. How to know its value in `deploy()` method? e.g. any attribute is available for it.
Thanks,

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-08 10:26] gabyx commented on #10995
This question already answers partially: https://github.com/conan-io/conan/issues/3228#issuecomment-405621786

However, we are searching a developer workaround (till the package `C` can be built..)

[2022-04-08 12:01] lucabonifacio opened #10998 "[bug] Windows installer package is missing python modules (site / pefile)"
The Windows installer package is broken since probably version 1.44.0. It doesn't include the full Python standard library anymore and produces the following error message:

[code]

This bug seems to be related to #10386.

### Environment Details (include every applicable attribute)
Operating System+version: Windows 10 20H2
Compiler+version: not relevant
Conan version: 1.47.0
Python version: not r

[2022-04-08 12:32] memsharded commented on #10998
Hi @lucabonifacio

This is expected, and by design (design of the pyinstaller tool we are using to create this executable).
The creation of self-contained executables with pyinstaller do not bundle the whole Python standard library, only the things needed for the executable.

For installations needing the whole Python interpreter and standard library a standard Python installation is necessary (ty

[2022-04-08 12:46] memsharded commented on #10996
Hi @Bassem-Ramzy

It is not available, because the ``--output-folder`` intended usage is the new ``layout()`` to prepare things for 2.0, and ``deploy()`` is dissapearing in 2.0, so it is still using the legacy ``--install-folder`` (and that cannot be changed, because it will be breaking. If you pass also the ``--install-folder`` with the same value as ``--output-folder`` you can assume the ``cwd``

[2022-04-08 12:48] memsharded commented on #10801
Hi @kshehata

Upgrading Conan version doesnt' migrate/upgrade the cache ``settings.yml`` file if it detects there are local modifications to the ``settings.yml``. In that case, yes, removing the ``settings.yml`` file will force the creation of a new one, and that one will contain the latest settings, in this case containing the latest 13 and 13.1 versions (the "13" one is the generic when compatib

[2022-04-08 12:55] memsharded commented on #10995
Hi @gabyx

No, there is no way recipes can define settings values, not for them and not for their dependencies.
And it will not be possible, we will not add this as a feature. Because adding that results in the same whole set of problems that defining options introduce: configuration conflicts, values overriding and priorities... And this is a complicated thing, that causes a lot of support questi

[2022-04-08 13:01] memsharded commented on #3228
https://github.com/conan-io/conan/issues/10995#issuecomment-1092830058 summarize updated thoughts about this. In short: recipes will not implement functionality to define settings for themselves or for their dependencies. Lots of experience with the ``options`` show this is a complicated thing.

On the other hand, profiles have gained some interesting functionality. Besides being able to be compos

[2022-04-08 13:01] #3228 closed

[2022-04-08 13:05] memsharded commented on #4235
The idea is that only full packages (packages that live in the Conan cache) can be deployed, but a local conanfile.py in a user folder is not a package, is a recipe. So that cannot be deployed (it might not have binaries to be deployed at all).

Also, regarding the main feature request, Conan 2.0 has removed the imports() and deploy() methods, and has moved the functionality to external ``--deploy

[2022-04-08 13:05] #4235 closed

[2022-04-08 13:14] ayeganov commented on #10977
@SSE4 you nailed it! When I don't have `lzma` it fails.

[2022-04-08 13:33] derived-coder commented on #10947
@memsharded
1. So I am just using the toolchain recipe as is.
2. Create the toolchain like that:
[code]
3.
And consume it like that:
[code]

Not sure if this is the "correct" way.
Anyway, what do you think about create a general toolchain recipe for the docs?

[2022-04-08 13:35] volviq commented on #10991
This is really strange. I'm using the proposed example:
[code]

There isn't really anything useful to package in the folder, but I assume this isn't relevant here.
I still got the same message with my version. So installed a new version (Conan version 1.47.0), and still see the message:
[code]

So, still, I'm working in Windows. I can do a quick check in Linux if it behaves differently there.
My p

[2022-04-08 13:40] volviq commented on #10991
Another test in Linux WSL:
[code]

[2022-04-08 14:06] lasote commented on #10977
Kudos @SSE4

[2022-04-08 14:06] #10977 closed, assigned to lasote

[2022-04-08 14:10] memsharded commented on #10991
I have been able to reproduce it. Thanks for reporting, we will have a look.

At least, it seems the package is being created, it is just an error message.

[2022-04-08 14:29] memsharded commented on #10991
Ok, I have been able to track this. It is an unfortunate UX bug, due to sharing the core code with other commands. But, it has no effect at all, it is just an incorrect message, but the command is working fine, the package is correctly created, etc.

I have checked it, and this is already fixed in 2.0, and it would be quite dirty to try to fix it in 1.X, so I vote to consider this bug closed in 2.

[2022-04-08 14:38] memsharded commented on #10990
I think it is relevant to highlight that Conan 2.0 will download only the recipes for the whole graph (downloading the recipes is fast), but it will not download those binaries not needed for building or running, so it will be able to save a lot of download&unzip time. In any case, @czoido recommendation ``conan download`` is probably what you want now.

[2022-04-08 14:41] #10996 closed, assigned to memsharded

[2022-04-09 09:33] boussaffawalid commented on #10859
I had the same issue, the documentation mentioned that```The interface of the Component object is the same as the one used by the cpp_info object and has the same default directories.``` and that was confusing,  I expected `libdirs` to be defaulted to `lib` and `bindirs` to be defaulted to `bin`

maybe just updating the documentation here, even though I think having default values in components ma

[2022-04-09 10:14] boussaffawalid opened #11001 "[feature] less verbose output in CMakeDeps"
I think CMakeToolchain is too verbose and it would be better to skip these messages.

![Screen Shot 2022-04-09 at 11 12 40 AM](https://user-images.githubusercontent.com/7117696/162567546-37d83801-4b81-43b7-a15b-36374c874d82.png)

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-09 15:33] apyvovar opened #11002 "[bug] conan install command fails to find prebuilt binaries after revisions_enabled changed in config"
Conan version: any; OS: any.

Steps to reproduce:
1. disable conan package revisions: `conan config set general.revisions_enabled=False`
2. remove `some_package` from cache
3. execute `conan install <some_package> <some_package_options>`
4. enable conan package revisions: `conan config set general.revisions_enabled=True`
5. execute `conan install <some_package> <some_OTHER_package_options> --build

[2022-04-09 19:01] SSE4 commented on #10955
so, do we have a conclusion now? possible set of settings could look like:
- `driver_mode: ["gcc", "cl"]` (the command line parser mode, which may affect compatibility due to slightly different set of defaults)
- `target: ["msvc", "msys", "gnu"]` (the target clang was built, affects ABI and built-in definitions)
- `crt: ["msvcrt", "msys", "ucrt"]` (the C runtime to use, DLL to be linked for execut

[2022-04-10 04:54] db4 opened #11003 "[question] tools.check_min_cppstd don't work as expected?"
I don't have `compiler.cppstd` setting in my profile.  Having read [the docs](https://docs.conan.io/en/latest/reference/tools.html#tools-check-min-cppstd) I expected

[code]
would succeed for gcc8 and msvc15 (they both support C++ 17). But that's not the case:
gcc8: `Invalid configuration: Current cppstd (gnu14) is lower than the required C++ standard (17).`
msvc15: `Invalid configuration: Current