[2022-01-02 14:41] qwertzui11 commented on #9368
updated version, conan 1.45

Thx for your great answer.

However to my knowledge the variables (`CONAN_CMAKE_FIND_ROOT_PATH` and `CONAN_CMAKE_SYSROOT`) only apply to the ["old" cmake build_helper tool](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#definitions).

I could not find any of them in the new `CMakeToolChain` [implementation](https://github.com/conan-io/conan/blob/de5

[2022-01-02 15:32] OznOg commented on #5664
You point here the fact that packaging is usually really tight to the system you target. Standard Linux use canonical library paths, Android app bring all libs they need and Windows a mix of both.
Packaging a software for a delivery is more than just putting some binaries in an archive, some things are so system dependent that you must write them specifically: for example, in rpm packages, you nee

[2022-01-02 16:46] petermbauer commented on #9762
I will go for a workaround on the Jenkins level: amend the merge commit made by Jenkins to change the committer date and author date to the same timestamp on all Jenkins Nodes so the Git hash is the same on all nodes.

[2022-01-02 16:46] #9762 closed, assigned to nobody

[2022-01-02 17:02] tom1lee opened #10257 ":id packages requires are wrong"
Hi, i'm not pro coder... May I receive your help please

### Environment Details (include every applicable attribute)
  * Operating System+version: Mac Monterey 12.1
  * Compiler+version: Clang 13.0.0
  * Conan version: 1.44.0
  * Python version: 3.9.9

### Steps to reproduce (Include if Applicable)
...
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=apple-clang

[2022-01-02 18:43] gabyx commented on #5664
Von meinem iPhone gesendet

[2022-01-02 18:55] gabyx commented on #5664
@OznOg Ok thanks for the input. I agree, however whats is then a good way of delivering a final package? Maybe offtopic, I thought of a way of making the install directory of cmake self-contained up to the point of system specific libraries, and only those. So if one does not use Conan + some post processing steps, one has at one point to assemble all dependencies (libs, assets etc) put it into a

[2022-01-02 20:39] SpaceIm opened #10258 "[question] CMakeDeps: COMPONENTS check?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

It seems that config file generated by `CMakeDeps` doesn't perform any check among `COMPONENTS` in `find_package()`. Is it intended or not yet implemented? Seems to be intended, it's controlled by `check_components_exist` in CMakeDeps, False by default, really surprising: https://gith

[2022-01-02 23:54] memsharded commented on #10257
Hi @tom1lee

There is a final message after what you posted there. Could you please post that part of the message too?

[2022-01-03 00:17] memsharded commented on #10258
It is not implemented yet, but mostly intended. If a CMakeLists.txt line works without error if it works without error against the upstream config.cmake file, that is good enough, specially if it is going to make the CMakeDeps implementation way more complex and difficult to maintain. The goal of CMakeDeps was to provide a transparent integration with **positive compatibility** (if it works in the

[2022-01-03 04:12] paulocoutinhox opened #10259 "[question] How to build with EMSDK?"
Hi,

How i can build with EMSDK?

Im trying with profile:

[code]

But on macOS i get this error:

[code]

And on Linux i get this error:

[code]

How i can build with it correctly?

Thanks.

[2022-01-03 07:53] LokiNinja opened #10260 "Cannot import from conan.tools.layout"
I was going through this tutorial in the documentation: https://docs.conan.io/en/latest/creating_packages/getting_started.html
Upon trying to run 'conan create . demo/testing' it fails with the following error:

ERROR: Error loading conanfile at 'hellopkg\conanfile.py': Unable to load conanfile in hellopkg\conanfile.py
  File <frozen importlib._bootstrap>, line 684, in _load
  File <frozen importl

[2022-01-03 09:14] memsharded commented on #10260
Hi @LokiNinja,

this is really unexpected, I have no idea what could be happening.

I would try a couple of things:
- How did you install Conan? Regular ``pip install``? Which OS? In a Python virtualenv?
- Maybe try with an older Python version? We haven't added 3.10 to our testing in CI yet, I don't think this would be related, but just in case.
- Is it only the ``cmake_layout`` that fails, but e

[2022-01-03 09:29] memsharded commented on #10259
Hi @paulo-coutinho

I think this also depends on the tooling, there are new build system integrations in ``conan.tools.xxxx``: https://docs.conan.io/en/latest/reference/conanfile/tools.html, that are experimental, but the current ones to move forward into 2.0 (and the others will be removed). They might support better the cross-building in some cases.

In your case, I'd say that you should probabl

[2022-01-03 09:47] tom1lee commented on #10257
Thanks @memsharded, below the end of the message.
I went to see the address "More info at 'https: //docs.conan.io / ...
But that didn't help me!
In the meantime, thanks to the founder of the program I'm trying to install on mac! (https://github.com/dfleury2/boss-rc500-editor)
The solution was to modify /.conan/profiles/default with compiler.version = 12 iso compiler.version = 13!

brotli/1.0.9: WA

[2022-01-03 10:57] memsharded commented on #10257
Hi, from that link: https://docs.conan.io/en/latest/faq/troubleshooting.html#error-missing-prebuilt-package

The explanation: ConanCenter still didn't build all the binaries for apple-clang 13, it is an ongoing thing (take into account there are thousand recipes to build, multiple versions, +130 different binaries for each, so it takes time). In the meantime, using the previous compiler version wi

[2022-01-03 11:15] crucio55 commented on #10260
I'm having a similar issue - the latest Manjaro update updated python to 3.10.1, plus I installed conan from AUR.
The result is this:
[code]

[2022-01-03 11:21] SpaceIm commented on #10258
@memsharded Fair enough, but I believe that component names should be correct at least, so that markdown generator can display the correct suggestions.

[2022-01-03 11:50] memsharded commented on #10260
@LokiNinja using AUR too? The AUR package maintainer is @tivek

Also @crucio55, is this something that only happens with latest Conan 1.44, or also previous versions? Did those previous versions used to work in Manjaro, and they broke with the Manjaro update?

[2022-01-03 11:52] crucio55 commented on #10260
I suspect I updated python and conan around the same time, but before that, as of a few days ago, python 3.9 + previous conan versions worked perfectly

[2022-01-03 12:07] memsharded commented on #10260
Just for reference: I have checked locally Python 3.10 here in Windows, everything looking good. Could be something specific to the AUR package

[2022-01-03 12:16] petermbauer commented on #10189
From an enterprise user perspective the current situation wrt CCI, revisions and lockfiles gives us headaches.
Going through the "solutions" given in the [CCI docs](https://github.com/conan-io/conan-center-index/blob/master/docs/consuming_recipes.md):
- we have our own Artifactory instance but whenever we upload new revisions of existing packages coming from the CCI, these are automatically used e

[2022-01-03 12:24] tom1lee commented on #10257
@memsharded
Thank you for your answers. Now conan install is working perfectly.
I now have to look at linker errors in Qt6 under the make command.
I will try the approach with conan install --build = missing and compiler.version = 13
Is this the correct command ?
And I will close this post.

[2022-01-03 12:58] memsharded commented on #10189
Hi @petermbauer

We are aware of these issues, specially the complexity of lockfiles (the approach using Artifactory indeed is limited to moving forward without breaking with unexpected ConanCenter updates), that is the thing that makes them cumbersome for developers usage.

We have put a ton of effort in simplifying lockfiles in 2.0, they are already inside the released alpha-2, but they are lack

[2022-01-03 13:01] memsharded commented on #10257
Is this the correct command ?

It depends on what you need. If you are fine with version=12, then maybe not necessary to waste computation, and keep with 12. If you really need to update to version=13, then yes, definitely, building from source with ``--build=missing`` is typically the way to go, and it will be necessary at the moment, probably during a while until ConanCenter builds them all. If

[2022-01-03 14:13] theodelrieu opened #10262 "[bug] default profile is mandatory in 2.0"
Hello,

It seems that the `default` profile is mandatory in 2.0, even though the error message implies otherwise.

### Environment Details (include every applicable attribute)
  * Conan version: 2.0.0a2

### Steps to reproduce (Include if Applicable)

* remove `default` profile
* run `conan create --profile=whatever`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-01-03 16:02] paulocoutinhox commented on #10259
Hi,

Im trying with two profiles. It solve the first problem, but now i have other:

[code]

[code]

My profile for WASM:

[code]

My DEFAULT profile:

[code]

[2022-01-03 16:09] paulocoutinhox commented on #10259
I need add version 14 to `settings.yml`:

[code]

And changed my profile to:

[code]

[2022-01-03 16:30] tom1lee commented on #10257
@memsharded
I succeeded perfectly to conan install in the build with compiler.version = 13.0 using --build = missing
(One hour of binaries deployment)
But I get the exact same linker error message from make
So the compiler version is not the problem !
Definitely, conan works perfectly, and this post is no longer valid.
Many thanks for all.

In case:
[ 61%] Linking CXX executable BossRc500
Undefine

[2022-01-03 16:39] memsharded commented on #10262
Hi @theodelrieu

Probably the message could be improved, but this doesnt seem a bug:

- 2.0 always uses 2 profiles, if one is not specified it will be defaulted to "default" profile
- In your case, it is defaulting to add ``--profile:build=default`` as you already specified the host one
- The "default" profile doesn't exist. And it is not automatically created. This was also approved in the Tribe:

[2022-01-03 16:42] theodelrieu commented on #10262
Right, I've missed that subtlety! Indeed I had to `touch default` at some point :D

I guess improving the message would be enough for 1.x users like me.

[2022-01-03 16:44] memsharded commented on #10257
Happy to hear that it worked (the Conan part)

Regarding the linker error, that is more difficult to know, because it requires the whole project, with the build scripts, and the environment, etc to reproduce. I would say that this kind of ``Undefined symbols for architecture x86_64:`` error is typically a mismatch in the compilation flags, Conan was using the ``x86_64`` architecture, and trying to

[2022-01-03 16:47] memsharded commented on #10259
Did it work then adding ``14`` to the versions in settings.yml? (how is it possible, btw, that version is not yet released, it seems?)

[2022-01-03 16:54] babariviere commented on #10262
@memsharded In this case, why not fallback to the host profile since it's specified by the user?

[2022-01-03 16:54] paulocoutinhox commented on #10259
I don't know, but this is the message:
[code]

It only works with compiler=14

And now im getting this:

[code]

How to use wasm64?

[code]

I tried `arch=wasm64` but the same error happen.

[2022-01-03 17:21] paulocoutinhox commented on #10259
Hi,

I solve my problem with profile:

[code]

Compiler version different from 14 throw error.

Do you want any info to check?

[2022-01-03 18:04] OznOg commented on #5664
conan has a generator 'virtualrunenv' that generated scipts that set LD_LIBRARY_PATH to prepend the conan libraries to the system's one. One could imagine creating an installer from the deploy(ed) libraries and using a similar virtualrunenv script to set environment and run the binary. This is a classical way for having standalone things on *nix. Handling dependencies on the system itself is not d

[2022-01-03 19:28] tom1lee commented on #10257
Many thanks @memsharded ! All is well !

[2022-01-03 19:28] #10257 closed, assigned to nobody

[2022-01-03 19:46] burgerkiller79 commented on #9880
I guess the reason for multiple entries in the graph is that one package declares a requirement as private, while another package uses it as normal dependency.

It can be reproduced with 3 packages, where pkga is used as private requirement by pkgb and both pkga and pkgb are requirements of pkgc.

I've changed your code to the following test case:

[code]

But it turns out that this bug a rather t

[2022-01-03 19:56] memsharded commented on #10262
Yes, this is something that we also thought, and there were a few reasons that slightly inclined the balance towards the current default (but something that can be discussed and changed if it makes sense, of course): The "build" context, that will contain tools like "cmake", or compilers, etc, is typically very constant for multitude of scenarios: for all cross-building for example, you dont want

[2022-01-03 19:56] LokiNinja commented on #10260
Hi @memsharded,
I am not using AUR, I installed with pip and all tutorials up to this point worked fine.  It is only the cmake_layout that fails to import, everything else seems to import okay.  Ill try switching python to an earlier version and try again and let you know.  I am running on a windows machine.  I have also tried in a virtualenv and it fails with same error.

[2022-01-03 20:01] memsharded commented on #9880
Thanks very much for putting the effort to reproduce.

Indeed using ``private`` dependencies could have more issues. This feature in Conan 1.X is barely documented, because it has some rough edges and it is fragile. I will have a look, but it is possible that this cannot be fixed properly in 1.X.  Conan 2.0 has implemented a new graph model, with a much better built-in management of "visibility" o

[2022-01-03 20:09] klausholstjacobsen opened #10264 "Two profile with different compilers use the same packages"
Hello

I have two toolchains that I store in each their own package
1: gcc 8.5.0 with glibc 2.27
2: gcc 8.5.0 with glibc 2.19

I have a host profile for each of these toolchains:
[code]
and
[code]

My project conan file looks like this:
[code]

If I start with an empty local conan cache and run conan install with the first host profile packages are downloaded and built with the toolchain as expect

[2022-01-03 20:12] burgerkiller79 commented on #9880
That is an impressive response time, thank you. I really need to dig into conan 2.0 .

Just as a remark: we have ran our patched conan version with the "possible fix" I've mentioned in my initial post for quite some time now with also complex graph structures. We never had any issues with compatible packages so far.

This is the change in the according method in the `client/graph/graph_binaries.py

[2022-01-03 21:08] memsharded commented on #9880
Great, I have been able to reproduce with your test changes too.

Also reviewed your fix, it is indeed looking good, exactly in the spot, great job. Thanks for all the work. I have submitted PR #10266 for 1.45, but if you want to submit it yourself to become official contributor, you totally deserve it, just let me know and I will close my PR.

This will be naturally merged to ``develop2`` branch

[2022-01-03 21:14] memsharded commented on #10264
Hi @klausholstjacobsen

Yes, exactly the glibc is not modeled by default into the binaries, so it must be added if you want to handle it. Please have a look at https://docs.conan.io/en/latest/extending/custom_settings.html#adding-new-sub-settings, that could be a good start, adding a "sub-setting" will allow to define your glibc in your profiles, and no changes are necessary in recipes it will tak

[2022-01-03 21:18] memsharded commented on #10260
Thanks for telling. Indeed super weird issue, please let me know your findings when you test with an earlier Python version (but apparently Python 3.10 was not an issue in my Windows 10 machin)

[2022-01-03 21:22] leonschenk opened #10267 "[bug] AutoToolsBuildEnvironment does not recognize target x86_64-w64-mingw32 properly"
### Environment Details (include every applicable attribute)
  * Operating System+version: Dockerfile conanio/gcc11:latest
  * Compiler+version: Gcc 11.1
  * Conan version: 1.37.2
  * Python version: 3.7.5

### Steps to reproduce (Include if Applicable)
Create a package that is to be used as build requirement and requires the target to be according to the host profile of the package that you want

[2022-01-03 21:25] LokiNinja commented on #10260
One other weird thing is in visual studio code I can ctrl click on the cmake_layout function and it navigates just fine to the actual file, so vscode at least knows where its at.  Ill keep investigating and let you know my findings.

[2022-01-03 21:44] klausholstjacobsen commented on #10264
James, YOU'RE THE MAN!
Thanks. It works!

Rgds
Klaus

[2022-01-03 21:44] #10264 closed, assigned to nobody

[2022-01-03 22:04] LokiNinja commented on #10260
Switched python to 3.9.1 but seeing same error.  Even tried switching to python 3.9.1-32 for 32 bit but no luck.  Very odd issue as this definitely exists and conan imports resolve fine.  When I have time later I will try installing and running in VM.

[2022-01-03 22:07] paulocoutinhox commented on #10259
@memsharded

Clang 14 is really used:

[code]

Release notes:
https://clang.llvm.org/docs/ReleaseNotes.html

I can create a PR to conan to add version 14 to settings if you prefer.

[2022-01-03 23:34] memsharded commented on #10260
One idea to check: some weird interaction with AV software. This is very unlikely, to affect only this file, but it wouldn't be the first time an AV in Windows mess with my files causing hours of debugging. Checking the AV logs might be worth.

I would also try playing a bit directly with the package:

- try to do a raw ``from ... cmake_layout`` directly in the Python interpreter, no Conan loading

[2022-01-03 23:41] evandrocoan opened #10270 "[bug] self.copy("symlink", symlinks=True) copies the file instead of the symlink"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 9
  * Compiler+version: 6.3
  * Conan version: 1.42.2
  * Python version: 3.6.13

### Steps to reproduce (Include if Applicable)

Create a recipe with:
[code]

It will copy `somelib.so.3` as a file instead of a symlink (bad for space). If I replace `self.copy("somelib.so.3", ...` with `self.copy("some

[2022-01-04 09:37] badstoms commented on #4868
Hello @memsharded ,

IMHO private dependencies should be pretty much default for static libs, because I do not want to force anyone using my shared libs to have a dependency to anything already compiled into my binaries.
So the binaries of the private dependencies shall be invisible to any client, but not the dependency info. As hfn92 stated, license conditions and other information (obligations,

[2022-01-04 10:03] theodelrieu opened #10271 "[bug] conan.conf's general.cmake_generator is not respected in 2.0"
Hello,

I was surprised to see Makefiles generated after having set Ninja as a default generator. Here is the my `.conan2/conan.conf` content:

[code]

Still, only Makefiles are generated when running `conan create`

### Environment Details (include every applicable attribute)
  * Conan version: 2.0.0a2

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Incl

[2022-01-04 10:04] dvirtz opened #10272 "[bug] `CMakeDeps` only looks at top level `cmake_build_modules`"
packages setting `cmake_build_modules` on a component, like [protobuf](https://github.com/conan-io/conan-center-index/blob/4011e625faf3c9de7b5a3c37cc736a6545ff9152/recipes/protobuf/all/conanfile.py#L227), can't be used with CMakeDeps:

https://github.com/conan-io/conan/blob/70763b67d99c51cf92216f3e5d7b10b2849d2d90/conan/tools/cmake/cmakedeps/templates/target_data.py#L84

### Environment Details (i

[2022-01-04 10:18] memsharded commented on #10272
Please check https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated.

Build-requires need to be explicitly activated and found, the reason is that there are 2 different packages for protobuf, one in the host context and other in the build context. So it is impossible that ``find_package(protobuf `` can find and use both, one for the library in host a

[2022-01-04 10:19] memsharded commented on #10271
All ``conan.conf`` will not be respected in 2.0, it is being deprecated in favor of ``global.conf`` and ``[conf]`` configuration in profiles in command line. You can read already ported configs in ``conan config list``, there is a ``cmaketoolchain:generator`` one for this purpose.

[2022-01-04 10:20] uilianries commented on #10260
I'm a Manjaro user, I also have python 3.10.1 and Conan 1.44 installed, but everything works fine for me.

I use only pip to install Conan, which is the recommended way.

My guess is that you environment mixed the installed packaged x python versions available, so I suggest enforcing only the current python version on your commands (just for testing):

[code]

Use only absolute path and with versi

[2022-01-04 10:20] theodelrieu commented on #10271
Thanks! I'll look into it.

[2022-01-04 10:20] #10271 closed, assigned to nobody

[2022-01-04 10:25] memsharded commented on #4868
So the binaries of the private dependencies shall be invisible to any client, but not the dependency info. As hfn92 stated, license conditions and other information (obligations, author info etc.) may still be legally needed for any client using my shared lib.

This is already implemented in the new graph model for 2.0, and released in 2.0-alphas. The main proposal doc is in https://github.com/con

[2022-01-04 10:34] badstoms commented on #4868
This is my work-around for now. That´s ok, because the lib with the direct dependency to a private lib must check the conditions anyway, so the extra effort for repackaging should be ok.
Thanks for your answer and effort to improve conan!

[2022-01-04 11:03] dvirtz commented on #10272
Thanks but I don't see how that relates to my problem. `protobuf` is only used as a build requirement when cross building which I'm not doing.

After digging deeper into the code, it seems that having only top level build modules is intentional and the problem is that component properties (including `cmake_build_modules`) are not aggregated as per https://github.com/conan-io/conan/blob/70763b67d99

[2022-01-04 11:08] petermbauer commented on #10189
Hi @memsharded

thank you very much for the insights and all your efforts, happy to hear that this topic is on the radar already.
I will try to keep up with the development and provide feedback.

[2022-01-04 11:57] crucio55 commented on #10260
Removing the AUR version and installing from pip indeed made conan work again!

[2022-01-04 12:47] emmenlau commented on #5664
@OznOg The problem that @gabyx raises is more complex than just finding the libraries. It's essentially about all package files (like configs etc) but even further than that (like systemd integration of services, or logging, or other things).

But I think we're getting a bit side-tracked by considering system integration. If this should really be tackled, then maybe consider what other generic app

[2022-01-04 15:58] theodelrieu opened #10275 "[bug][2.0] CMakeToolchain does not respect os.sdk when targeting armv8 iOS simulator"
Hello,

I'm trying to cross-build some iOS recipes, and I think there's a bug in CMakeToolchain. I use this profile:

[code]

The `test_package` step fails with the following error:

[code]

The generated `conan_toolchain.cmake` contains the following line:

This does not happen when setting `arch=x86_64`, `CMAKE_OSX_SYSROOT` being correctly set to `iphonesimulator` in this case.

[2022-01-04 16:55] memsharded commented on #10275
Thanks for reporting, indeed it seems a bug. I think that it should be reproducible in 1.X, so I am targeting this for 1.45 (and it will be automatically merged to 2.0)

[2022-01-04 18:46] jkleve commented on #9649
I had a very similar issue/error that landed me on this page. The problem is slightly different but I'm dropping my info here in case someone with my issue finds this page.

Going through gitlab, I had authentication errors. I have a personal access token with scope `api`. When adding my repo's conan repository, I was using the project's URL which is incorrect. You need to go through gitlab's API

[2022-01-04 20:38] nichmj01 opened #10276 "[question] ConanException running command using self.run"
In the build step of my conanfile, I run an external application (Incredibuild on Windows) using self.run(). However, it seems to generate a ConanException with the message: "Error 1936026729 while executing ...".

Is that error number being generated by the application I'm running or from conan?

This issue seems to have stared recently (seen with conan version 1.44.0) as it's worked before. The

[2022-01-04 21:19] burgerkiller79 commented on #9880
I'm glad I was able to contribute something. I don't necessarily have to submit the PR, especially since you already did it, but thanks for the offer.

[2022-01-05 00:24] memsharded commented on #10276
Hi @nichmj01

That message is printed from the code:
[code]
and that contains the return code from the executable being called. It would be great to check Incredibuild return codes, and check if 1936026729 makes sense. Also, is Incredibuild doing some other output before that error?

The class to check for the final real execution is ``ConanRunner()`` class, if you want to have a look.

Also, it w

[2022-01-05 00:27] memsharded commented on #10256
Hi @michaelplatingsarm

I am trying to understand this use case, but I am struggling a bit, so a couple of questions: The ``scm`` feature with "auto", to obtain the current repo commit is completely self-defined. The current repo checkout defines the commit completely. But if you don't reference your current repo, then don't you already need the full correct "coordinates" of the different repos to

[2022-01-05 08:42] michaelplatingsarm commented on #10256
Hi @memsharded thanks for taking a look.

At the point the recipe is exported, the "coordinates" are the HEADs of the different repos.  Later on, when we want to recreate the package we don't want HEAD, we want whatever the revisions were when the recipe was exported.

Does that make it clearer?

[2022-01-05 10:18] memsharded commented on #10256
Ok, I think I start to understand it a bit better.
Another quick question: I guess you have considered git submodules in the past, haven't you? Because this apparently seems kind of a re-implementation of git submodules. If instead of doing this you added the different Git sources as submodules of the repo containing the recipe, wouldn't this achieve the flow that you intend?

[2022-01-05 10:51] KristianJerpetjon commented on #3000
I agree that this feature would be nice to have especially in embedded systems where the whole binary in debug might be to large for the overall memory

[2022-01-05 11:59] michaelplatingsarm commented on #10256
Yes I've considered it, and you're right that in principle it would solve the problem. But I've had my fingers burned in the past by Mercurial subrepos and articles like these suggest that Git submodules are no better:
- https://codingkilledthecat.wordpress.com/2012/04/28/why-your-company-shouldnt-use-git-submodules/
- https://abildskov.io/2021/03/28/why-i-hate-submodules/
- https://medium.com/@ut

[2022-01-05 14:35] stefaneicher opened #10278 "[question] Workspace Layout file set absolutepath by parameter"
Hi,

https://docs.conan.io/en/latest/developing_packages/workspaces.html#out-of-source-builds

Is there a way I can set a relative path in my workspace layout file to the top of my git repo like this?

[build_folder]
{{top of repo}}/build/{{reference.name}}/{{settings.build_type}}

[includedirs]
src

[libdirs]
{{top of repo}}/build/{{reference.name}}/{{settings.build_type}}/lib

Regards Stefan

Ba

[2022-01-05 15:14] nichmj01 commented on #10276
Reverted to 1.43.0 and the problem still occurs. Also I tried a much older version (v1.27.1) and it still happened so that seems to indicate this is something with Incredibuild.

Incredibuild is printing a bunch of output to stdout (or possible stderr, I can't tell right now) but the output makes it seem like everything it good. I'll reach out to Incredibuild about the error code and try to chase

[2022-01-05 15:14] #10276 closed, assigned to nobody

[2022-01-05 15:32] memsharded commented on #10276
Ok, thanks for telling. Please let us know how it goes, and don't hesitate to re-open if you think we could help with something more.

[2022-01-05 15:36] memsharded commented on #10278
A quick couple of comments:

- The layout external files have been removed in 2.0-alpha. They are replaced with the ``layout()`` method (already available in 1.X latests versions)
- The ``workspace`` command has been removed in 2.0-alpha. We are still working hard to stabilize and improve the ``layout()`` method as a foundation block for workspaces, and once everything is looking good (after 2.0),

[2022-01-05 16:53] paulocoutinhox commented on #10259
I made a PR @memsharded:
https://github.com/conan-io/conan/pull/10269

[2022-01-05 17:34] sburton84 commented on #10272
I think this may be the same issue I'm running into. Running the older version `1.43.0` of Conan I get the following generated in `protobuf-debug-x86_64-data.cmake`:
[code]
But if I update to Conan `1.43.1` or newer (including `1.44.0`), it instead generates the following:
[code]

I have tried using `build_context_activated` and `build_context_suffix` as well as `build_context_build_modules` to ge

[2022-01-05 19:21] OznOg commented on #5664
I agree with you that config is some more work: one could imagine that using the same "wrapper script" idea, we could add some config path environment variable that the software would read. For integration with third party frameworks (say systemd, as you stated), rpm/deb usually have scriptlets run when installing the software, so I guess this could also be achieved when unpacking the software bun

[2022-01-05 22:01] gabyx commented on #5664
@emmenlau The first two points, Linker path issues and RPATH issues I thought are basically the first two topics which should be addressed by Conan, which it does, partly. The others things I put into the category of packaging, and Conan is not a fullblown packager (as pointed out), and are probably good to leave out of this discussion. Not even sure how you would regex/replace binaries and paths

[2022-01-05 22:32] emmenlau commented on #5664
@gabyx I do not agree here, I'm sorry. I'm slightly frustrated why this obvious problem is being ignored for so long. I'll try to make an illustrative example, please try to follow me on this. In my humble understanding, the following is a valid and common thing to do with Conan, correct?
 - Build a package X with Conan into some target directory `A`
 - Package the resulting installation with Cona

[2022-01-05 22:37] emmenlau commented on #5664
Due to this shortcoming of Conan, I've implemented my own buildsystem completely from scratch. In this process I've found countless examples of such absolute paths `A` in packages. The most prominent example is Qt, that until recently contained absolute target directories *in the actual binaries*. But many other packages have such problems of relocation in some form.

`RPATH` is even the simpler t

[2022-01-05 22:50] gabyx commented on #5664
@emmenlau Ok, thanks now I understand. However, isn't this the problem of the underlying build system used? (automake, pkgconfig, not familiar with them) in the sense, that they should provide a way of creating a relocatable install. Your suggestion to enable path regex/replacements built into Conan when packaging seems one solution, but is it at the right place. I know its frustrating, but it see

[2022-01-06 00:28] ShuangLiu1992 opened #10279 "[bug] pre_package and post_package HOOKS and get_env_context_manager"
Not exactly a bug but more about when
[code]
are executed in https://github.com/conan-io/conan/blob/develop/conans/client/conanfile/package.py

These two hooks are inside `with layout.set_dirty_context_manager(pref):` of installer.py and when post_package is called, the package isn't in a fully usable state as auxiliary files are not generated yet.

Suppose I want to create a hook that upload a pa

[2022-01-06 13:37] seppestas opened #10280 "Remote authentication using environmental variables does not work"
Authenticating using the [CONAN_LOGIN_USERNAME, CONAN_LOGIN_USERNAME_{REMOTE_NAME}](https://docs.conan.io/en/latest/reference/env_vars.html#conan-login-username-conan-login-username-remote-name) and [CONAN_PASSWORD, CONAN_PASSWORD_{REMOTE_NAME}](https://docs.conan.io/en/latest/reference/env_vars.html#conan-password-conan-password-remote-name) environmental variables does not work. At least searchi

[2022-01-06 16:28] district10 commented on #5850
Sorry I don't understand.

I have a package `boost/1.71.0@conan/stable` and a profile `default`, I can generate a package id? like `1089748a7479fc38ea786206ddb749e55f84dc60`? And I can search across certain remotes to check if its downloable?

I just need to check if suitable remote package already exists before pushing the one I just built (pushing a new one may fail according to conan server con

[2022-01-06 16:32] district10 commented on #5850
For now I'm using:

[code]

[2022-01-06 17:33] SpaceIm opened #10281 "[feature] package_info/CMakeDeps: provide a way to propagate interface C and C++ min standard (c_std_yy/cxx_std_yy) in imported targets"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Properly written CMakeLists of C and C++ libraries propagate interface c_std & cxx_std compile feature in imported targets. It would be nice if there was a way to properly set this compile feature in `package_info()` so that imported targets in `CMakeDeps` inherit this useful informat

[2022-01-06 22:09] stefaneicher commented on #10278
Hi memsharded,

Thanks for your reply. I tested a bit with the layout() feature but in the project, we first need to update conan.
I would be curious about what the conan 2.0 workspace feature would look like. Can you send me some Infos or a link to information about conan 2.0 workspaces?

In our project, I will just now update our build.py in which we orchestrate the build of our packages.
We hav

[2022-01-06 23:24] rajatgirotra opened #10282 "[question] cmake_build_modules behavior in conan 1.43.0 and conan 1.43.2"
I am using conan 1.43.2
I have built conan package for google protobuf for my platform using this recipe in conan central.
https://github.com/conan-io/conan-center-index/blob/master/recipes/protobuf/all/conanfile.py
the build recipe sets "cmake_build_modules" in package_info().
`self.cpp_info.components["libprotobuf"].set_property("cmake_build_modules", build_modules)`

// create command
`bash$> c

[2022-01-07 00:34] rajatgirotra commented on #10272
@memsharded
I ran into a similar issue with prototobuf yesterday using conan 1.43.2 and had to downgrade to conan 1.43.0. I have raised #10282. Feel free to mark as duplicate if you think its the same issue.

I am using protobuf as regular requires not tool_requires and protobuf cmake_build_modules aren't set when I am trying to consume it using CMakeDeps generator.

[2022-01-07 02:07] paulocoutinhox commented on #10259
Hi @memsharded,

Do you have any ideia about the day of new release with clang-14?

I tested all emsdk versions in CCI and all versions of clang inside it is clang-14 :(

Thanks.

[2022-01-07 04:19] rddesmond opened #10283 "[feature] Merged options in transitive dependencies"
I've been working with the awesome experimental components feature and how to build exactly what you need.  My particular goal is analyzing security impacts of my project, and one of the strategies is minimizing the vulnerability surface.  The useful feature would be to merge options when a dependency is required by multiple

[code]

The result of this is that you need to decide that you need feat

[2022-01-07 09:29] Vhab opened #10284 "[feature] Allow multiple recipe revisions to be cached"
As conan-center has been moving rather fast, often with breaking changes on existing versions, we've started using lock files and revision pinning.

However, as we have multiple projects and multiple development teams on different cycles, the contents of lockfiles don't always end up pinning on the same revision of a recipe.

This is entirely fine, as these projects all build fine with their own s

[2022-01-07 09:33] memsharded commented on #10284
Hi @Vhab

Yes, we know about this. We have already implemented and released an multi-revision Conan cache in 2.0-alpha. We didn't manage to do it in 1.X because it is too challenging to do it without breaking. We are very looking forward to release 2.0 betas and GA this year.

[2022-01-07 09:53] memsharded commented on #10283
Hi @rddesmond

I think what you are looking for is the ``cpp_info[component].requires`` feature: https://docs.conan.io/en/latest/creating_packages/package_information.html#using-components

You can see there something like:

[code]

That explicitly defines that you will only be requiring ``openssl::ssl`` component but not the others. As long as the build system and the build system integration sup

[2022-01-07 10:39] andiwand opened #10285 "[question] cross compile meson packages from CCI"
I tried to cross compile [fribidi](https://conan.io/center/fribidi) and [glib](https://conan.io/center/glib) from CCI and noticed that it does not work out of the box.

After searching I found this closed ticket https://github.com/conan-io/conan/issues/4529 which introduced `MesonToolchain` and a new `Meson` class documented here https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html

[2022-01-07 11:14] memsharded commented on #10282
Hi @rajatgirotra

I am investigating this. I have verified, and you are right, this kind of worked in 1.43.0 but was removed in 1.43.2.

It seems related to the fact that build_modules cannot be defined by component, because they cannot be included by component (it is a global thing per package). It is possible that 1.43.0 was more relaxed about this, but 1.43.2 is requiring a proper definition.

[2022-01-07 13:18] emmenlau commented on #5664
Well, this is a difficult question. I do share your sentiment here. And for many packages, I've worked with the authors to add better relocation support.

But in my personal opinion, its not entirely fair to put the blame on the packages. There was never a promise made that `make install` would create a relocatable installation, or am I on the wrong track here? Its good practice to make one's code

[2022-01-07 13:29] emmenlau commented on #5664
For reference, here are a number of examples:
 - https://github.com/BlueBrain/HighFive creates file `share/HighFive/CMake/HighFiveTargets.cmake` that uses absolute paths for `INTERFACE_INCLUDE_DIRECTORIES` and other absolute paths.
 - The https://lemon.cs.elte.hu/trac/lemon graph library creates cmake config files with absolute paths.
 - https://github.com/catchorg/Catch2 creates `pkgconfig` files

[2022-01-07 13:38] emmenlau commented on #5664
Note that some of these actually use `cmake` for their build! They may still provide `pkgconfig` configuration additionally to their cmake configuration, for example for backwards compatibility with `automake`. To make things worse, downstream cmake may actually use the pkgconfig configuration to detect those packages! So even if upstream and downstream both use relocatable cmake, the problem of a

[2022-01-07 13:59] emmenlau commented on #5664
@memsharded , any chance to consider this issue?

[2022-01-07 14:30] rddesmond commented on #10283
@memsharded That was what I was jumping off of!  It's great, but this feature is one step more.  Instead of changing the build of your package, this would have it effect the build of the dependency, too.  So, have it dynamically determine the minimum build of the dependency which has options and a `packageId` that would satisfy the needs of the dependencies.

In my first example, package `C` is re

[2022-01-07 20:03] memsharded commented on #10283
Oh, I think I see now.

The problem with this is that it seems it is not possible, it would be a chicken and egg problem. Lets say that we have package B-(depends on)->package A.

- if the usage from downstream consumer B can imply a different ``package_id()`` of A, it means the evaluation of ``package_info()`` of the consumer B, needs to happen before the package A ``package_id()`` is computed.
-

[2022-01-07 21:29] memsharded opened #10287 "[feature] move layouts like "cmake_layout" to ``from conan.tools.cmake``"
It simply reads a bit confusing and worse to remember:

[code]
It seems that ``layout`` is not a tool per se? Maybe it is more idiomatic to do?:

[code]

[2022-01-07 21:35] memsharded commented on #5850
Not really. With revisions enabled (totally recommended, as they will be activated always in 2.0, which is already in alpha stage), new changes get new revisions, and do not overwrite things in the server. Uploading something that already exists in server is a no-op, nothing is actually uploaded.

What should be avoided is earlier, not building a package if it already exists in the server. The ``-

[2022-01-08 16:11] AlexRamallo commented on #7115
I still don't see a good reason why the API is undocumented, especially if it is relatively stable? The Conan website already documents a bunch of client features [marked as "experimental"](https://docs.conan.io/en/latest/search.html?q=experimental), so I don't see why a similar warning couldn't be attached to the REST API, especially since it's not that complicated.

If there's a concern about so

[2022-01-08 16:40] friendlyanon opened #10288 "[bug] Generated CMake files cause errors with `-Werror=dev --warn-uninitialized`"
Conan generated CMake files cause errors when the project is configured with `-Werror=dev --warn-uninitialized`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: VS2019
  * Conan version: 1.44.0
  * Python version: 3.10.0

### Steps to reproduce (Include if Applicable)

`find_package()` a dependency after installing it wit

[2022-01-08 16:51] friendlyanon commented on #10288
Using things like `string(APPEND|PREPEND)` and `list(APPEND|PREPEND)` will not emit this error when they operate on a variable that is not defined. So for example one could make these transformations:

[code]

[2022-01-08 17:47] rconde01 commented on #8795
potentially you can do this with CMakeDeps and cpp_info.objects by making the options you're talking about as package options and then compiling to the object files and linking to those.

[2022-01-08 19:52] mayerdev commented on #10206
I was able to install without problems via vcpkg, it doesn't work via conan.

[2022-01-08 20:46] tivek commented on #10260
Sorry for the late reply. When upgrading Arch Linux system Python package from one major version to another, one needs to rebuild and reinstall all local or AUR-sourced Python-dependent packages. So, after going between Python 3.9 and 3.10 Conan and its dependencies from AUR need to be reinstalled. Hope this helps.

[2022-01-09 00:00] JamieSlome opened #10289 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@srikanthprathi) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best p

[2022-01-09 01:18] SpaceIm commented on #10285
They were several attempt in CCI to support cross-build in Meson based recipes, but without luck as you can see in https://github.com/conan-io/conan-center-index/pull/6678 and https://github.com/conan-io/conan-center-index/pull/7360. I think there is no straightforward solution currently without automagic handling of https://mesonbuild.com/Cross-compilation.html in Meson helpers.

/cc @SSE4

[2022-01-09 10:35] SSE4 commented on #10285
there is some ongoing effort in #10174 and #9710

[2022-01-09 18:19] klausholstjacobsen opened #10290 "Specify data dir when calling conan install"
Hello

I would like to be able to specify the data dir for at given call to conan install.

My scenario is that I use the Clion IDE for development. Here I have multiple enabled configurations/platforms.
When I "refresh" cmake then all enabled platforms will refresh cmake.
I use the conan.cmake helper to call `conan install...` from cmake. A cmake refresh will thus cause a call to conan install.
B

[2022-01-10 00:27] memsharded commented on #10260
Great, thanks @tivek

Then, it seems the Manjaro/AUR issue is addressed, and only the Windows failure by @LokiNinja is pending to resolve.

[2022-01-10 01:01] memsharded commented on #7115
I think it is being severely underestimated:

- The efforts to document an api, even if marked as experimental. You know those issues marked as "experimental"? We still get a lot of support tickets, and user complaints when something break in those features, that require time to reproduce, debug and respond. And discrepancies from docs and real implementation also happens, and then the problem is

[2022-01-10 01:01] #7115 closed, assigned to jgsogo

[2022-01-10 01:04] memsharded commented on #10288
Hi @friendlyanon

We are now not doing changes to these generators like ``cmake_find_package_multi``, and focusing our efforts on the 2.0-ready ones, as 2.0 is already in alpha stage and it is number 1 priority. Furthermore ``CMakeToolchain`` is only intended to work together with ``CMakeDeps`` not with other generators.

If you could please check if this happens too in ``CMakeDeps``, this would c

[2022-01-10 02:56] friendlyanon commented on #10288
Not near my PC right now, but the examples above are lines from a toolchain, so `CMakeDeps` having it is also likely.

[2022-01-10 08:16] Wuestenschiff opened #10291 "[bug] Exposing cmake variables via CMakeDeps in conan 1.44 not working"
Sorry for cross posting but I am not sure where this belongs to.

I have Trouble with protobuf recipe no longer exporting `protobuf_PROTOC_EXECUTABLE`. I already reported a bug on the recipe with an example Project: https://github.com/conan-io/conan-center-index/issues/8625

But as this works on conan 1.43 and also works with another generator like cmake_find_package it seems this could also be a

[2022-01-10 08:41] lasote commented on #10282
I would say it was removed [here](https://github.com/conan-io/conan/pull/10208/files) and I bet it is because we removed the "copy" from the old model ".build_modules" to the new property. It was working because the recipe still have the ".build_modules" and before 1.43 it was being ported to the `cmake_build_modules` at the root of the cppinfo. So the standalone property at "component" level neve

[2022-01-10 08:47] lasote commented on #10282
A quick search at conan-center-index reveals that both `protobuf/all/conanfile.py` and `openssl/3.x.x./conanfile.py` declares `cmake_build_modules` property for components. They should be fixed.

[2022-01-10 09:00] lasote commented on #10279
Hi, about moving the "post_package", regarding [this](https://github.com/conan-io/conan/pull/5647) shouldn't be done because it might be used to alter the package contents.

About introducing a `package_finished`, at first sight, I don't see why not if we document both methods properly at https://docs.conan.io/en/latest/extending/hooks.html

[2022-01-10 09:27] memsharded commented on #10288
Thanks @friendlyanon

yes, you are right, this belongs to CMakeToolchain, I was confused. Lets try to fix it for next release.

[2022-01-10 11:26] memsharded commented on #10288
https://github.com/conan-io/conan/pull/10292 should address it, pointing it to next 1.45

[2022-01-10 11:38] Da-LiFe opened #10293 "[question] output of deps_cpp_info libdirs differs between 'conan create' and 'conan build' (follow up)"
I've a follow up question to #7529:

Given those two recipes:

- `conanfile.dep.py`

[code]

- `conanfile.py`

[code]

and the folder structure:

[code]

I call using conan 1.40.4
a)

[code]

and get the output `libdirs[] / []`

b)

[code]

and get the output `libdirs['/volume/conan_cache/<user_name>/.conan/data/test-dep/0.0.0/common/snapshot/package/5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9/lib']

[2022-01-10 12:12] AlexandraNegru opened #10294 "[question] Different outputs for short paths at conan info --paths"
Hello,

I haven't found a detailed answer on the issues or conan docs so I hope I am not repeating this.
We observed different outputs for the `conan info` command when using the different level of settings for short paths feature.

In conan there are 3 sources for the short_path setting in Windows:
1.	Environment variable `CONAN_USE_ALWAYS_SHORT_PATHS`
2.	Config file setting `general.use_always_s

[2022-01-10 12:21] friendlyanon commented on #10288
Note that `CMakeDeps` also causes these errors:

[log.log](https://github.com/conan-io/conan/files/7838755/log.log)

[2022-01-10 12:31] #9880 closed, assigned to memsharded

[2022-01-10 12:43] gsemet commented on #6330
We encounter this issue when the path to .dirty file is too long. The only solution is to enable ShortPath.

[2022-01-10 12:48] skoolkid opened #10295 "[bug] Conan upload times out when package with same name and version number already exists"
### Environment Details
  * Operating System+version: Windows Server 2019 (GitHub runner)
  * Compiler+version: n/a
  * Conan version: 1.44.0
  * Python version: 3.9.9
  * Artifactory version: 7.29.8 (JFrog Cloud)

### Steps to reproduce
  * Build a package with the same name and version number as one that already exists in Artifactory.
  * With revisions NOT enabled, run 'conan upload' to upload

[2022-01-10 13:20] memsharded commented on #10288
Adding checks (and fixes) for CMakeDeps too.

I am struggling with a couple of vars:

[code]
they seem to be properly defined in the xxx-data.cmake files, but for some reason it keeps complaining.

[2022-01-10 13:52] memsharded commented on #10295
I have just tested to do this upload against an Artifactory instance in the cloud, with revisions disabled, and I am perfectly able to overwrite existing artifacts (with same name and version), no timeouts.

I think this is not a Conan client bug, but some issue with the current permissions configuration in your server. If you want to be able to overwrite an existing artifact in the server, overwr

[2022-01-10 13:58] skoolkid commented on #10295
Yeah, I wasn't sure whether this was a conan issue or an Artifactory issue.

In any case, if the conan user doesn't have delete/overwrite permission, shouldn't there be an error message stating that, instead of a timeout that gives no clue as to what's going wrong?

[2022-01-10 15:03] sburton84 commented on #10291
I believe this sounds like the same issue described in https://github.com/conan-io/conan/issues/10282 and https://github.com/conan-io/conan/issues/10272

[2022-01-10 15:11] tofDou opened #10296 "[bug] Problem with revision after migration to new Artifactory server"
### Environment Details (include every applicable attribute)
  * Artifactory version 7.17
  * Conan version 1.29

### Explanation
After a server migration (From CE community) to Commercial one, we decided to activate revision in our centralized  conan conf file.
Then all "old" packages are now with a recipe revision 0 as expected. New Versions of packages are now associated with their git commitID

[2022-01-10 15:28] memsharded commented on #10296
Hi @tofDou

I would say that it is possible that the client caches have not been completely cleared. What method did you use to clean them? A regular ``conan remove`` will not be enough, there might be some remaining metadata. I would suggest doing a hard removal of both the ``.conan`` cache folder (and the "short paths" cache folder in Windows, typicall ``C:/.conan``).

[2022-01-10 15:37] tofDou commented on #10296
Indeed, I use the conan remove "*" command

[2022-01-10 15:50] tofDou commented on #10296
An idea where these bad revision numbers comes from?
I remember strange behaviour in the conan output during the` conan install` process in my jenkins job.
Something like:
ThalesCscApi/1.23.1@rcs/testing: WARN: The package ThalesCscApi/1.23.1@rcs/testing:72bd89dac18f3a55cee258572a91e169b359df3b doesn't belong to the installed recipe revision, removing folder
14:11:08.855 conanfile.py (MediaAccessL

[2022-01-10 15:56] tofDou commented on #10296
On this particular package ThalesCscApi/1.23.1@rcs/testing, only a "0" revision was present on the server.
The `conan remove ThalesCscApi/1.23.1@rcs/testing` solves the problem.

[2022-01-10 17:15] wbehrens-on-gh opened #10297 "[question] ERROR 'pkgconf' with a custom recipe"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I have the recipe:
[code]
but whenever I try and do `conan create` on it I end up getting:
[code]
or
[code]
but what's weird is that's only if I'm building it clean, if I have a failed build in `~/.conan/data` it works without any issues. What's wrong here?

[2022-01-10 17:36] jtbandes opened #10298 "[question] Why is /v1/conans/search so slow? Is there a faster alternative?"
Hello,
I've made a [pull request](https://github.com/badges/shields/pull/7460) to shields.io to add a `conan` badge that shows the latest version of a package, like this:

`<img src="https://shields.io/conan/v/zeromq">` → <img width="90" src="https://user-images.githubusercontent.com/14237/148507164-7b59e074-4004-4add-a018-f10c77f51cd9.png">

The shields.io badge service is used by many packages o

[2022-01-10 17:41] Sil3ntStorm opened #10299 "[bug] static runtime is ignored for msvc compiler"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 19.31.30919.0
  * Conan version: 1.44.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
Attempt to build a package (those I tested used cmake under the hood) with `settings.compiler.runtime=static` using the latest msvc compiler. When using `set

[2022-01-10 17:44] memsharded commented on #10296
I remember strange behaviour in the conan output during the conan install process in my jenkins job.
Something like:

Yes, the revisions are stored in a json file "metadata.json" in the cache. There is also an automatic migration in the cache that runs when Conan is upgraded, and it will probably use the default "content" hash strategy, instead of the SCM one that is unknown by the cache stored pa

[2022-01-10 17:48] memsharded commented on #10299
Hi @Sil3ntStorm

The settings are applied in recipes by the build helpers, so it depends on the build helper used: is it ``CMakeToolchain``?

Also, the legacy integrations might not fully support this new experimental ``msvc`` compiler, and you need to use only the new integrations (``from conan.tools.cmake``, ``from conan.tools.microsoft``) to get full support for ``msvc``. Please check https://d

[2022-01-10 17:51] memsharded commented on #10298
Hi @jtbandes

Thanks for reporting. We are aware of this issue, and up to our knowledge some work was done in the backend server supporting ConanCenter, and it was in the queue for deployment. I am not sure atm if this has a expected date or not, I'll check.

[2022-01-10 17:57] memsharded commented on #10295
That depends on how the server decides to respond, and I think this can be also configured in the server. (from Conan this is not a bug, there is nothing in the client side we can do to change a server timeout). A typical security configuration, up to my knowledge, is to not respond (for POST/PUT operations) or respond 404 on resources that do not exist (for GET operations, that might not be good

[2022-01-10 18:07] Sil3ntStorm commented on #10299
The recipe is using `from conans import CMake`, a quick test to change that leads to all sorts of weird (usage) errors, so I will need to look into those.
By default conan creates a profile that detects the compiler as msvc however, will see if I can convince it to do the right thing when forcing it back to "Visual Studio"

[2022-01-10 18:11] memsharded commented on #10299
Yes, that ``from conans import CMake`` is one of the previous build integrations, you need to use ``Visual Studio`` compiler not ``msvc`` with it. It is possible the autodetection for latest VS is returning msvc, because it is already moving forward, in the same way the build integrations are moving forward to the new ones.

[2022-01-10 18:29] skoolkid commented on #10295
OK, thanks. I will see if I can get someone to look at our Artifactory server configuration.

[2022-01-10 18:30] Sil3ntStorm commented on #10299
When setting the compiler in the profile as "Visual Studio" I do however get an error (without any error message) that building the recipe failed.
Manually executing the command it attempts to execute reveals an error between the compiler version as detected and as specified.
[code]
However 17 is the highest compiler version conan knows of.

This can be worked around by adding `cmake.definitions['

[2022-01-10 18:42] memsharded commented on #10299
Something seems wrong in the conanbuildinfo.cmake compiler detection. Can you please post the full output of the command, including the initial profile that is printed?

Also the commands that you are using, are you using ``conan build`` by any chance? It is possible that the result of the previous ``conan install`` is being there cached, make sure to clean temporary ``conaninfo.txt`` and issue ``

[2022-01-10 19:09] memsharded commented on #10297
Is it possible that there is a typo here?:

[code]
It seems it is missing the quotes.

[2022-01-10 19:12] wbehrens-on-gh commented on #10297
@memsharded That appears to just be a copy paste issue, it was closed for me

[2022-01-10 19:15] Sil3ntStorm commented on #10299
I am trying to run conan install --build=missing, so yes it is attempting to build one dependency as that does not seem to have a prebuilt version for Visual Studio version 17.

[code]

[2022-01-10 19:28] memsharded commented on #10299
Ok, thanks for the feedback.

Now I see the bug. The legacy ``cmake`` generator has been only updated to 19.30, but the latest 19.31 is not covered:
[code]

As commented above, these build system integrations are no longer under active development, and only the new ones are, this is kind of expected. Lets try to do a fix for next 1.45 release.

[2022-01-10 19:36] SSE4 opened #10302 "[bug] Visual Studio 2022 auto-detected profile is incomplete"
auto-detected profile for Visual Studio 2022 is incompile, and cannot be used as is, as it's missing the following fields:
- `compiler.cppstd`
- `compiler.runtime`
- `compiler.runtime_type`

### Environment Details (include every applicable attribute)
  * Operating System+version: `Microsoft Windows [Version 10.0.19043.1348]`
  * Compiler+version: `Microsoft (R) C/C++ Optimizing Compiler Version 1

[2022-01-10 19:41] SSE4 opened #10303 "[bug] AutoToolsBuildEnvironment produces incorrect flags for Visual Studio 2022"
using `AutoToolsBuildEnvironment` with Visual Studio 2022, it produces an incorrect flag:
[code]
perhaps, it uses `compiler.runtime` as is, but it shouldn't for `msvc` compiler.

### Environment Details (include every applicable attribute)
  * Operating System+version: `Microsoft Windows [Version 10.0.19043.1348]`
  * Compiler+version: `Microsoft (R) C/C++ Optimizing Compiler Version 19.30.30706 f

[2022-01-10 21:57] nichmj01 commented on #10276
Just an FYI for anyone in the future. The issue was confirmed to be with the version of Incredibuild (IB) I was using via their support (it was returning an incorrect error code). Updating to a newer version of IB fixed it.

[2022-01-10 22:10] memsharded commented on #10276
Thanks for following up and reporting @nichmj01!

[2022-01-10 22:56] SeanSnyders opened #10304 "[bug] Recipe self.dependencies does not contain any elements"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.7
  * Compiler+version: apple-clang 12
  * Conan version: 1.42.2
  * Python version: 3.9

### Description

As documented in https://docs.conan.io/en/1.42/reference/conanfile/dependencies.html#dependencies-interface one can access dependency information through the `self.dependencies` attribute, b

[2022-01-10 23:01] memsharded commented on #10297
I am trying to see where it could be failing, but as I am missing most of the data, I cannot try. I'd recommend the following:

- Start stripping the recipe to reduce the unnecessary parts. Probably the ``source()``, ``build()``, ``package()`` are unnecessary, as the failure seems to happen in the "generators" step, which is done earlier.
- Try what happens running locally ``conan install`` (one o

[2022-01-10 23:23] memsharded commented on #10304
Hi @SeanSnyders

I have written this unit test, trying to reproduce:

[code]
apparently it is working correctly, and I would say it captures correctly your described case.
There might be some other detail that we are missing. Please have a look to the test, in case there is something different there.

[2022-01-11 04:10] SeanSnyders commented on #10304
Hi @memsharded

Is it possible for me to run that unit test with my installed Conan 1.42.2? If so, how?

Did you run the repro I described as is before writing your unit test? If so, what did you get as output?

[2022-01-11 04:15] NIKHILJIND opened #10305 "How can we configure a large project with multiple subfolders and .c and .h files to build with conan and cmake"
example project structure is

project->source->folder1->folderA->inc->one.h
                                                                  ->two.h
                                                                  ->three.h
                                                         ->src->first.c(include header and .c files from folder2 and folder3 also)

[2022-01-11 08:20] uilianries opened #10306 "[feature] Tool: is_msvc helper"
Our friend and great contributor SpaceIm is using a new detection which I believe could be part of the mainstream:

[code]

This property can be largely re-used, when checking on `validate()` or any other condition.

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-01-11 08:49] memsharded commented on #10304
You were right, I overlooked one detail in your repro that was critical: the usage of ``validate()`` function. Please check the new PR with a potential fix, but also take into account:

- At ``validate()`` time in Conan 1.X, the build-requires are not available yet. Because in 1.X, the "host" graph containing the libraries and executables is computed first, completely, including the packages ``pac

[2022-01-11 08:54] memsharded commented on #10306
Hi @uilianries

Yes, makes sense, specially to try to have clean recipes for migrating to 2.0 (only msvc will remain there).
Do you want to contribute this? I guess it will be a tool in ``conan.tools.build``?

[2022-01-11 09:10] KitCarson03 opened #10308 "[bug] error while building boost on windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows10
  * Compiler+version: msvc:194; gcc:11.2
  * Conan version: 1.44
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2022-01-11 09:12] uilianries commented on #10306
@memsharded Yes, I can do it of course.

Build so far is only related to CPU, however, [visual.py](https://github.com/conan-io/conan/blob/develop/conan/tools/microsoft/visual.py) has all Visual Studio information there. I would suggest `conan.tools.visual` in this case.

[2022-01-11 09:20] memsharded commented on #10306
``conan.tools.visual`` is not public/documented. In any case it should be ``conan.tools.microsoft``. Yes, it makes sense too. I was thinking where all the possible configuration checks would be, like we don't know if it is "microsoft" yet, we are checking, and this was a generic "check", but I agree, it will feel cleaner in ``conan.tools.microsoft``.

[2022-01-11 09:33] SSE4 commented on #10306
I think we also need a helper(s) for compiler runtime:
https://github.com/conan-io/conan-center-index/pull/8801/files#diff-d67d36ebb633f3e920a34cd24c6c92ac12ab88b1f1db0a694841133faeb10fe5R783-R791
[code]
it's pretty widespread among CCI recipes already
(and one more helper could return runtime in a form of MultiThreaded[Debug][Dll], which is also frequently needed)

[2022-01-11 09:39] SpaceIm opened #10309 "[bug] pkg_config generator doesn't listen global cpp_info.set_property, only components"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Monterey
  * Compiler+version: apple-clang 13.0
  * Conan version: 1.44.0
  * Python version: 3.9.9

### Steps to reproduce (Include if Applicable)

- use this revision of openjpeg recipe: https://github.com/conan-io/conan-center-index/tree/5196876e5c9bbe9ca9de12db9a2e7d9b5fbf627f/recipes/openjpeg/all,

[2022-01-11 09:41] memsharded commented on #10306
``msvc_runtime_flag()`` is already in ``visual.py`` and made available via ``conan.tools.microsoft``

[2022-01-11 09:55] czoido commented on #10309
Thanks for reporting @SpaceIm , I'm assigning this to 1.44.1 to be fixed ASAP.

[2022-01-11 10:34] Sil3ntStorm commented on #10299
Even after changing those lines to make it so that it won't fail the compiler detection, it will not detect a C compiler either.

[code]

[2022-01-11 12:28] memsharded commented on #10308
Hi @KitCarson03

With that line is not enough to know what is happening. It would be good to see the whole output, that should contain the real "b2" build error (that line is only printing the command that failed, not the actual build failure).

It would also be necessary (it is included in the output) to see the full profile. It is likely that recipes in ConanCenter are still not ready to build w

[2022-01-11 12:47] SpaceIm commented on #10282
Does https://github.com/conan-io/conan-center-index/pull/8820 help?

[2022-01-11 12:49] jokram commented on #10294
@AlexandraNegru:
I've just seen in the documentation at https://docs.conan.io/en/latest/reference/env_vars.html#conan-user-home-short:

I assume in the table above "None" means that the env. variable was not set at all and "False" means that the env. variable was set to "False". So generally in the table if it mentions "None" it means not defined, and if it's "False" it means set to "False", corre

[2022-01-11 12:49] memsharded commented on #10305
Hi @NIKHILJIND

First important thing is that Conan is not a build system, so the CMake part is something that you need to figure out first. There are no conventions there, but something common would be:

- Put a ``CMakelists.txt`` in the root of your project, with ``add_directory(source)``
- Put another ``CMakeLists.txt`` in the ``source`` folder. You might repeat this pattern for every subfolder

[2022-01-11 12:50] SpaceIm commented on #10291
https://github.com/conan-io/conan-center-index/pull/8820 may fix this issue.

[2022-01-11 12:55] jokram commented on #10294
@AlexandraNegru:
I also assume that in the `conan.conf` file the following setting are defined: `general.user_home_short = D:\.conan\short2` and `storage.path = D:\.conan\data2`. Correct?
Maybe you could add this info to the description.

[2022-01-11 13:08] jokram commented on #10294
Output from your tests:
[code]
=> In my opinion the `build_folder` is wrong. It should be something like `D:\.conan\short2\ce51b0\1`. For me that looks like a bug in conan.

By the way:
- Just calling `conan info helloworld/1.0.0@conan_user/testing --paths` will create the build folder even if it is not needed here. Some users have complained about that behavior.
- As far as I remember when callin

[2022-01-11 14:42] ericriff opened #10311 "[question] Should system_requirements() of a build_requierement's requirement be called on package build?"
I know, the title is super confusing. I'll clarify bellow.

In order to crosscompile packages, we use a Conan packaged SDK which is injected as a `build_requirement` through a profile. Lets call it `mySDK`.
The `mySDK` package declares a package with a toolchain as a requirement, lets call it `myToolchain`. This way when we build a package using the crosscompilation profile we inject `mySDK` and `

[2022-01-11 14:59] wackinger opened #10313 "[feature] Add VxWorks to os in default settings.yml."
I would be nice to have proper support for VxWorks (at least version 7).
Currently VxWorks (SR 21.11) supports gcc, llvm. So all compilers are currently already mentioned in the settings.yml.

More details can be found here:
https://www.windriver.com/themes/Windriver/pdf/vxworks-7-datasheet.pdf

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIB

[2022-01-11 15:02] memsharded commented on #5577
After checking this a little bit more, I'd say to stay with the current setup:

- It seems pyproject.toml doesn't support the ``pip install -e`` case, that we use a lot
- In many cases, it needs an extra tool (poetry) in order to work, and that is inconvenient for our non-python-expert users
- Our current setup has been actually working very nicely without any issue for the last years. As we don't

[2022-01-11 15:02] #5577 closed

[2022-01-11 15:10] KitCarson03 commented on #10308
Here it is:

`PS D:\Projects\new\build> conan install .. --settings compiler.cppstd=20 --settings compiler.libcxx=libstdc++11 --build=boost --profile=msys
DEBUG :conan_api.py   [176]: INIT: Using config 'D:\conan\.conan\conan.conf' [2022-01-11 16:06:26,544]
DEBUG :tracer.py      [156]: CONAN_API: install(path=..,name=None,version=None,user=None,channel=None,settings=['compiler.cppstd=20', 'compile

[2022-01-11 15:11] memsharded commented on #4177
I am closing this ticket by now:

- The vast majority of core maintainers are very comfortable without types
- This is a difficult to mark as "finished" task, as typing the whole codebase will take a lot of time, definitely nothing that will be ready for 2.0 (which is already in alpha stage)
- We will not oppose to add types to new code and incrementally add typing to Conan codebase. This is alrea

[2022-01-11 15:11] #4177 closed

[2022-01-11 15:13] memsharded commented on #3731
Fixed and released in alpha-3. Downstream and profile options always have precedence over the self defined options.

[2022-01-11 15:13] #3731 closed

[2022-01-11 15:14] memsharded commented on #10284
I think this can be closed as implemented and released in 2.0-alpha. Thanks!

[2022-01-11 15:14] #10284 closed, assigned to memsharded

[2022-01-11 15:22] memsharded commented on #7021
I think we can consider this issue implemented (and close the ticket):

- ``generate()`` method has access to all information of the graph, including versions. Users can explicitly create any kind of file with any format for consumers to use.
- Builtin generators like ``CMakeDeps`` already implement standard mechanisms, like a CMake var ``_VERSION_STRING`` for the package, that contain the specifi

[2022-01-11 15:22] #7021 closed, assigned to memsharded

[2022-01-11 15:52] #10306 closed, assigned to nobody

[2022-01-11 15:55] luka-papez commented on #4177
@memsharded that sounds great. I agree that adopting typing gradually is the way to go forward and that there are more important things to take care of.

Sorry for not responding earlier, I missed the first e-mail and went to holiday mode after that.

[2022-01-11 16:00] theodelrieu opened #10317 "[question] Feedback on 2.0 tool requirements"
(Didn't really know where it belonged, so I chose "question")

Hello,

After playing around with tool requirements in 2.0, I'd like to give a bit of feedback.

First, here's some context.

## libcxx in Conan 1.x

We're packaging our own `libcxx`, mostly to be able to use latest C++ features without any hassle.
This package exposes header files, libraries, and compiler flags. Still we use it as a `

[2022-01-11 16:14] #10288 closed, assigned to memsharded

[2022-01-11 16:37] #10226 closed, assigned to franramirez688

[2022-01-11 17:19] wbehrens-on-gh commented on #10297
What do I use in build_requirements rather then requires()? is there a build_requires() method?

[2022-01-11 17:22] memsharded commented on #1659
Starting to think about this seriously for 2.0.

I'd like feedback (@lasote @czoido @franramirez688 ) about possible UIs:

Using magic member objects that will automatically enable/disable based on current active manager:
[code]
Pros:
- Simple interface, only 1 import
Cons:
- Implementation seems a bit dirtier

Using the package manager name as first attribute
[code]
Pros:
- Simple interface, only

[2022-01-11 17:24] memsharded commented on #10297
Yes, something like:

[code]
In modern Conan 1.44, you can use ``tool_requires = "cmake/3.14"`` as attribute and ``self.tool_requires("xxxx")`` inside ``build_requirements()`` method.

[2022-01-11 17:26] memsharded commented on #10288
https://github.com/conan-io/conan/pull/10292 was merged, it will be released in 1.45

[2022-01-11 17:43] wbehrens-on-gh commented on #10297
just running conan install locally does give the same error, but just like with conan create it's only occasionally, I've also switched to using build_requires().

[2022-01-11 17:48] nowgain-nowpain opened #10318 "[bug] v1.44.0 for windows complain about "ModuleNotFoundError: No module named 'distutils.dir_util'""
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: msvc 14
  * Conan version: 1.44.0
  * Python version: no (Don't have any version of python installed in the system)

### Steps to reproduce (Include if Applicable)
1) download  conan v1.44.0 x86_64 installer for windows from (https://conan.io/downloads.html as of (Jan112022).

[2022-01-11 20:36] nichmj01 commented on #10182
FYI: I wrote a script to do what I wanted for now like @memsharded suggested.

Here it is in case anyone might find it helpful: [upload_from_lock.py.txt](https://github.com/conan-io/conan/files/7849709/upload_from_lock.py.txt)

It seemed to work on my machine on Windows, but YMMV.

[2022-01-11 22:20] memsharded commented on #10318
Managed to reproduce this, and submitted a potential fix for 1.44.1: https://github.com/conan-io/conan/pull/10320

Seems the original cause is some changes in the python virtualenv package. Thanks for reporting!

As general feedback, this is one of the issues of the windows self-contained installer, it is a bit more fragile regarding the python interpreter and python stdlib, that might not have al

[2022-01-11 22:22] SpaceIm commented on #10282
I'm wondering: since `cmake_build_modules` should be defined at global scope since 1.43.2, why is it not allowed to define `builddirs` (injected in `CMAKE_MODULE_PATH` & `CMAKE_PREFIX_PATH`) at global scope also when there are components?
I mean, it doesnt make sense to define `builddirs` per component, it's completly unrelated.

[2022-01-11 23:55] SeanSnyders commented on #10304
Thanks for the info. There is still a lot of intricacies and unknowns on best practices and recommendations for Conan 1 and 2. This is the type of info that should be front and centre on the website.

Following your recommendations, I still have a question that relates to my goal.
In a recipe, how is/should a test requirement like `gtest` be forced to be in the host context? Following my original

[2022-01-12 00:10] leha-bot opened #10321 "[feature] docs/Getting Started: Update this guide to use at least the `cmake_find_package` generator"
As the beginners are struggling with this old approach, and couldn't properly getting their things done "in the modern way". Thanks for your attention!

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-01-12 06:56] NIKHILJIND commented on #10305
Hi @memsharded
Thanks for your reply,
I am new to all of this stuff.
In the project which I want to build, there are already makfiles present to build the project. Can I consume that make files directly or I have to use cmake or another generator while using conan for package management.

[2022-01-12 08:08] memsharded commented on #10305
Yes, you don't need to port your project to CMake to use Conan. There are integrations with different build systems, including autotools/makefile. This is a bit outdated, but something you can check: https://docs.conan.io/en/latest/howtos/makefiles.html

Whether you port your project to CMake is a different kind of decision, and depend on many factors, like expertise, the time to deliver, resource

[2022-01-12 09:32] memsharded commented on #10318
Fixed in https://github.com/conan-io/conan/pull/10320, will be in 1.44.1 soon

[2022-01-12 09:32] #10318 closed, assigned to memsharded

[2022-01-12 10:14] lasote commented on #10282
I need to check this a bit more.

[2022-01-12 10:27] memsharded commented on #10304
Yes, we know. We have managed to update some of the docs (like the "Create Packages - Gettings Started" or the "Editables"). But the problem with, for example the Getting started of the Consuming Packages, is that recipes of ConanCenter haven't updated yet to some of the modern features, and then, it won't work that easily). We are doing a major re-write of the docs for 2.0 that will fix it, but f

[2022-01-12 12:17] lasote commented on #10282
I'm going to check why/how could we enable the declaration (not the declaration but the usage at CMakeDeps) of `cmake_build_modules` property at component level, it might have a sense if you require only a component from a dependency.

[2022-01-12 12:19] memsharded commented on #10321
We are already starting the work to re-write the whole docs for Conan 2.0, it is not worth to change it, because we are already in 2.0-alpha stage.

[2022-01-12 14:15] simue opened #10324 "[question] package only found if remote is specified explicitly"
Hi,
I'd like to better understand, why a certain package/recipe is only found, if the remote to search on, is specified explicitly. And also, why this is only needed for some packages.

See terminal output for better understanding:
[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-01-12 14:23] simue commented on #10324
Oh wow, what an rtfm moment...
Must have missed the following "Unless a remote is specified only the local cache is searched."

[2022-01-12 14:23] #10324 closed, assigned to nobody

[2022-01-12 14:30] memsharded commented on #10324
Hi @simue

We are aware this default is not the best. We have already changed ``conan search`` in Conan 2.0 to look in remotes by default.
Cheers!

[2022-01-12 16:01] lasote commented on #10282
It is not possible to do that because the consumer declares the dependency to a component in the package_info, but that is not available at build (generate()) time.

But anyway the linked PR allows declaring the `cmake_build_modules` property in the components. That is probably less surprising than having to declare it in the root cpp_info properties.

[2022-01-12 16:07] #10302 closed, assigned to franramirez688

[2022-01-12 17:05] blastrock opened #10327 "[bug] the cmake_find_package generator ignores the compiler.libcxx setting"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian unstable
  * Compiler+version: clang 12
  * Conan version: 1.44.0
  * Python version: 3.9.9
  * CMake version: 3.22.1

### Steps to reproduce (Include if Applicable)

1. take the attached hello world project: [test.tar.gz](https://github.com/conan-io/conan/files/7856392/test.tar.gz)
2. `mkdir build`
3

[2022-01-12 17:34] jtbandes commented on #10298
Hi @memsharded, did you learn anything about the ETA for these improvements?

[2022-01-12 17:37] memsharded commented on #10298
Yes, it seems this is already released in Artifactory 7.29: https://www.jfrog.com/confluence/display/JFROG/Artifactory+Release+Notes#ArtifactoryReleaseNotes-Artifactory7.29 (search for Conan).

We don't know yet when it will be deployed to cloud (and subsequently update the ConanCenter backend), we will report as soon as we know it.

[2022-01-12 18:26] memsharded commented on #10327
Hi @blastrock

This is expected, the ``cmake_find_package`` generator creates ``findxxxx.cmake`` files on the fly for depedencies, but it is not a generator for the current package settings. The mapping from current package settings to build configuration is implemented by the new toolchains. If you are using ``cmake_find_package`` you should maybe still be using ``cmake`` generator to get the ``l

[2022-01-12 18:48] wbehrens-on-gh commented on #10297
I appears the error was in another package that didn't have the build_requires() set properly

[2022-01-12 18:48] #10297 closed, assigned to nobody

[2022-01-12 19:13] CD3 opened #10328 "[feature] Git repo-based recipe-only remotes"
Thanks for the wonderful project, it has been a joy to use.

I think it would be very useful to have remotes that store only package recipes and could be hosted on GitHub. I currently have a git repo with recipes for many of my projects [here](https://github.com/CD3/cd3-conan-packages), and it includes a simple python script that exports all of the recipes to the local cache. The first time I run

[2022-01-12 19:15] skoolkid commented on #10295
Just got confirmation that the conan user I'm using does not have DELETE permission, which means 'conan upload' is doomed to fail in this situation. I'll look into logging a bug with JFrog about the inappropriate timeout error triggered by Artifactory.

Thanks for your help!

[2022-01-12 22:04] nichmj01 opened #10329 "[question] package_revision_mode and conan-center/external dependencies"
We've recently decided to set the default_package_id_mode = package_revision_mode to alleviate some issues we were running into with binary compatibility (applications unexpectedly crashing using binaries pulled using conan), and that has caused a number of external dependencies (most pulled from conan-center) to need be rebuilt, with at least one failing to build. Given that the application worke

[2022-01-12 22:16] SeanSnyders commented on #10304
What are the semantics of `test_requires()`? Why is it singled out from normal `build_requirements()`? What does Conan do with this extra information of it being "test" requirements.
For consistency (and simplicity to not have edge cases) it would be best to consider the same minimum capabilities for all requirements: they should be upgradeable if required through the same mechanism.

I do not agr

[2022-01-13 02:40] praetorian20 opened #10330 "[bug] conan.conf proxies not working for downloading source tarball"
### Environment Details
  * Operating System+version: CentOS 7.8
  * Compiler+version: gcc 9.1
  * Conan version: 1.44
  * Python version: 3.6

Hello,
I'm trying to build google benchmark library from behind a firewall. I have 2 proxies configured in artifactory, one for conan-center in remotes.txt (this works) and another for github.com. The benchmark recipe is successfully fetched from the conan

[2022-01-13 09:04] memsharded commented on #10295
Great, I think we can close this ticket then, as not something in the Conan client.

Sure, but there is a possibility they might say this is a security policy, when there are not enough permissions, it is more safe to not respond (or do 404 for GET requests, which is not the case for the upload), than responding something that evidences that there is a real resource there. Interested in knowing th

[2022-01-13 09:04] #10295 closed, assigned to memsharded

[2022-01-13 09:26] stefaneicher commented on #10278
Hi Diego,
Thanks for the great exchange and discussion yesterday!
Can you send me a link to the feature where I can register my own commands like "conan disroop-install" ?
If it is in conan 2.0 just send me a link to a unittest.
Regards Stefan

[2022-01-13 09:32] memsharded commented on #10304
``test_requires`` is a simplified form of ``self.build_requires(..., force_host_context=True)``, to provide a cleaner transition to 2.0, where the ``force_host_context`` argument will not exists.

I wish it was this way, but for ``build_requires``, when they were introduced due to users requests, one of the functional requirements is that every package could have its own version. So ``zlib`` packa

[2022-01-13 09:34] stefaneicher commented on #10101
Thanks @KerstinKeller and @memsharded for your answers! In the meantime in the new clion release I can run a script and therefore call the generated [activate.sh](https://docs.conan.io/en/latest/reference/generators/virtualenv.html) script.

https://www.jetbrains.com/clion/whatsnew/

![image](https://user-images.githubusercontent.com/1171777/149303581-04876025-83af-42ea-a609-987b5a4067f8.png)

[2022-01-13 09:41] memsharded commented on #10278
Sure, have a look to https://github.com/conan-io/conan/blob/develop2/conans/test/integration/command_v2/custom_commands_test.py

(and all the new commands https://github.com/conan-io/conan/tree/develop2/conans/cli/commands)

[2022-01-13 09:46] memsharded commented on #10328
Hi @CD3

Yes, there is some ongoing idea of using the conan-center-index repo layout and use it in a more integrated way, which seems the use case you are suggesting. The only thing is that at the moment the priority is Conan 2.0, and this will need to wait after that.

There is a very simple trick for this: create a scheduled Github action that downloads a file (directly from the URL, without usi

[2022-01-13 09:50] iiknd opened #10332 "[question] Cross building Qt using two profile approach"
Hi,

I tried the following:

`$ conan install qtbase/6.3.0-alpha1@qt/everywhere --build --profile:build=linux-x86_64-gcc --profile:host=unix-android-armv7-clang`

When qtbase is cross-compiled e.g. to Android it needs tools from the qtbase's desktop build (i.e. the build platform) so qtbase needs to be built for the desktop first.

I guess I read the documentation a bit wrong as I was under the im

[2022-01-13 10:13] iiknd commented on #10332
I made a quick test for qtbase recipe:

[code]

This seems to work but is this something that is allowed to be done?

The cross build did run into another error, hence the next question:

When in build context the qtbase's recipe sets a variable: self.**env_info**.QT_HOST_PATH
Does this **env_info** from build context get propagated into host context?

[2022-01-13 10:57] czoido commented on #10309
Closed by https://github.com/conan-io/conan/pull/10312
To be released very soon in 1.44.1 and 1.43.3

[2022-01-13 10:57] #10309 closed, assigned to czoido

[2022-01-13 11:04] memsharded commented on #10317
Thanks for the very detailed feedback and code.

I think the main issue arises because ``libcxx`` is, at most effects, a library, and not a "tool" like "cmake" could be. Then, using the ``tool_requires`` is definitely not the way to go.

As you have figured, the only way to define "library" dependencies or regular requires, is in the recipes, you cannot magically inject a package dependency to all

[2022-01-13 11:29] blastrock commented on #10327
Hi there,

Thank you for the quick answer! I better understand how this is supposed to work.

EDIT: Removed my issue, I was using the wrong package reference ><

Thanks a lot for your help, closing this.

[2022-01-13 12:08] CD3 commented on #10328
I suspected you may already be thinking about it, and the Conan- enter repos seemed like a logical place to start. I'll wait for 2.0 and look forward to the progress.

And thanks for the Artifactory tip, I didn't think of using actions.

[2022-01-13 12:08] #10328 closed, assigned to nobody

[2022-01-13 12:24] skoolkid commented on #10295
I'll try to remember! In contrast to 'conan upload', when I use 'jfrog rt docker-push' to push a docker image to a folder in the same Artifactory instance for which my user does not have DELETE permission, I get an appropriate error message:

unauthorized: The client does not have permission for manifest: Not enough permissions to delete/overwrite artifact 'eng-docker-dev-local:app/oraclelinux7/la

[2022-01-13 12:32] #10327 closed, assigned to memsharded

[2022-01-13 12:37] stefaneicher commented on #10278
perfect thanks!

[2022-01-13 12:59] ThomasKes opened #10334 "[bug] VirtualBuildEnv generated `sh` files broken when there are spaces before `=` in profile"
`sh` files generated by VirtualBuildEnv generator are broken, when the profile contains environment variable definitions where the `=` character is surrounded by spaces.

### Environment Details
  * Conan version: 1.44.0
  * Python version: 3.6.9

### Steps to reproduce
Create profile with buildenv section and spaces before the `=` sign:
[code]

### Possible Fix

Strip whitespaces in `ProfileEnvir

[2022-01-13 13:42] theodelrieu commented on #10317
Agreed. I think there is a missing puzzle piece here.

In the past years, we talked several times about introducing a "toolchain" concept.
I think it's time to seriously think about it.

I don't have a very defined idea of what to do, but here's what I'd like to have 😛.
A toolchain should be able to expose:

* tools (e.g. compiler)
* env vars
* compiler flags
* libraries to globally link against

[2022-01-13 14:01] eliasreid opened #10335 "[feature] Documentation missing for CMAKE_OSX_DEPLOYMENT_TARGET flag in cmake build helper"
https://github.com/conan-io/conan/pull/9301 Added the feature to set the CMAKE_OSX_DEPLOYMENT_TARGET from the settings.os.version, but it appears that the documentation for this is missing on the CMake build helper page: https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#definitions

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CON

[2022-01-13 17:56] memsharded commented on #10335
Hi @eliasreid

You are looking at the wrong documentation. The one related to that PR (CMakeToolchain) is in https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html

[2022-01-13 18:04] memsharded commented on #10334
This seems a possible fix, but there could be a potential problem: some user really wanting to have a environment variable that really starts with a space. The current approach supports this, not sure if it is a very common use case, but I have seen very unexpected things out there.

[2022-01-13 18:09] eliasreid commented on #10335
Ok, I didn't realize that there was two classes both named CMake, thank you.

I think the PR I linked is not relevant, but the issue still is. When I look at the code for https://github.com/conan-io/conan/blob/develop/conans/client/build/cmake_flags.py, it appears that CMAKE_OSX_DEPLOYMENT_TARGET is being set, but it is not documented in the table at https://docs.conan.io/en/latest/reference/build

[2022-01-13 18:55] #10275 closed, assigned to franramirez688

[2022-01-13 18:56] memsharded commented on #10275
Fixed in https://github.com/conan-io/conan/pull/10300, will be released in 1.45, feedback welcome!

[2022-01-13 19:21] paulocoutinhox commented on #10259
New version was released without this @memsharded

[2022-01-13 19:35] memsharded commented on #10259
@paulo-coutinho

Which new version? https://github.com/conan-io/conan/pull/10269 was merged to develop, and it is targeted for 1.45, which is not released yet. The released that was done today is a patch for 1.44, patches typically only include regressions, and other critical things that needs to be fixed more urgently.

[2022-01-13 20:35] dvirtz opened #10338 "[bug] AutotoolsToolchain doesn't pass -debug to msvc linker"
I was building a package with `-s build_type=Debug` and tried to debug the generated executable but the debugger complained that "Module was built without symbols".
After a short investigation it seemed that `-debug` flag should have been added to `LDFLAGS`.
Adding the following to the recipe enabled me to debug the executable:

[code]

I tried to look at the code of the legacy `AutotoolsEnvironme

[2022-01-13 22:08] memsharded commented on #10338
Hi @dvirtz

Thanks for reporting. I guess #10339 should fix it, but a quick question: Does this LDFLAG apply to all gcc-like compilers? The assumption there in code is ``if compiler in ["clang", "gcc", "apple-clang", "qcc", "mcst-lcc"]:``

Edit: At least clang doesn't seem to support ``-debug`` linker option: https://clang.llvm.org/docs/ClangCommandLineReference.html#linker-flags

UPDATE: sorry @d

[2022-01-14 03:50] jkleve opened #10340 "[question] How do you use conan.tools.cmake.CMake with conanbuildinfo.cmake?"
I set up my cmake project to include conanbuildinfo.cmake and do the basic setup. There's a lot of useful stuff in there so I'd like to keep using it. I switched from conans.CMake to conan.tools.cmake.CMake and now when I try to create the package I get:

[code]

So my question is why is the `cmake` generator forbidden with `conan.tools.cmake.CMake`?

See [cmake.py:13](https://github.com/conan-io/

[2022-01-14 08:57] ThomasKes commented on #10334
Okay. Just omit the `value.strip()`. It's not necessary to fix the bug.

[2022-01-14 09:45] memsharded commented on #10340
Hi @jkleve

They are completely different integrations. The ``conan.tools.cmake import CMake`` works together with ``CMakeDeps`` and ``CMakeToolchain``, and implements a fully transparent integration that does not use a ``conanbuildinfo.cmake`` file at all. The new ``CMake`` for example assumes that ``CMakeToolchain`` created the ``conan_toolchain.cmake`` file (or at least a file telling the toolc

[2022-01-14 10:08] czoido opened #10341 "[feature] Make the generation order of .pc files deterministic for PkgConfigDeps and pkg_config"
After the discussion [here](https://github.com/conan-io/conan-center-index/pull/8716#discussion_r782406117) and [here](https://github.com/conan-io/conan-center-index/pull/8623#discussion_r778436720) we have decided to provide as a feature the possibility to force one component to overwrite the `.pc` file of the main root cpp_info and leave the user to take responsibility for this behavior. So, if

[2022-01-14 10:50] KitCarson03 opened #10342 "[question] mingw troubles chronicles: using autotools from windows cmd"
I'm trying to disassemble a parent problem and i fell into this one:
i'm using windows cmd prompt and for my attempt to make the project as easy as possible let's say that i HAVE to use it and i'm trying to build nasm/2.15.05 becouse it's required by an other package but i run into this issue

"source_subfolder" is not recognized as an internal or external command

meaning probably that the buildi

[2022-01-14 11:12] franramirez688 commented on #10342
Hi @KitCarson03

We would need more details about your issue to know what's going on:
* Conan version you're using.
* Share your `conanfile.py` to check if it's well-defined.
* Steps to reproduce the problem are so important. Did you run a simple `conan create .`? `conan install .`?
* Any other information that you consider important to know the whole context of your case.

[2022-01-14 11:33] bjoernbahn commented on #9774
Thanks, I just got back to this after a long time and want to share.
I now use this option combination:
[code]

[2022-01-14 11:33] #9774 closed, assigned to memsharded

[2022-01-14 13:04] KitCarson03 commented on #10342
you're right, sorry.

- conan version: 1.44
- conanfile.py
`from conans import ConanFile, CMake

class NasmTry(ConanFile):
    settings = "os", "compiler", "build_type", "arch"
    requires = "nasm/2.15.05"
    generators = "cmake"
    build_policy = "missing"
    win_bash = True

    def imports(self):
        self.copy("*.dll", dst="bin", src="bin")
        self.copy("*.dylib", dst="bin", src="l

[2022-01-14 13:37] iiknd commented on #10332
Ok, the env_info does not get propagated from --profile:build to --profile:host context, I can use 'user_info_build' instead.

But now I noticed the following issue. Say my --profile:build contains:

[code]

Now when invoking:

`$ conan install qtbase/6.3.0-alpha1@qt/everywhere --build --profile:build=linux-x86_64-gcc --profile:host=unix-android-armv7-clang`

and in the recipe I have that qtbase '

[2022-01-14 16:53] jkleve commented on #10340
That was my incline. I think I've read quite a bit of the documentation and this wasn't clear to me. We should mark the old `
CMake` build helper as going away in 2.0 and/or mention this is not to be used with the newer `CMake` method. The second point is covered by the `ConanException` but I don't believe the documentation covers it.

[2022-01-14 17:46] jgsogo opened #10345 "[bug] [lockfiles] Build-require XXX cannot be found in lockfile"
I've prepared a reproducible example, didn´t have time to investigate the underlying issue:

### Environment, compiler, profiles,...:
[code]

### `conanfile.txt`

[code]

### Commands

Create base lockfile (**note the `--build`**):
[code]

_Specialize_ it for a given configuration:
[code]

And then, try to install-build everything needed:

[code]

---

Error is not enough to know the recipe that b

[2022-01-15 13:07] #8833 closed, assigned to nobody

[2022-01-15 15:07] memsharded commented on #10317
I have started to work on https://github.com/conan-io/conan/pull/10347, the idea is to capture the use cases in tests correctly. The first important bit to correctly address is the creation (correct package-ids and settings) and usage (correct package_ids and info)

[2022-01-15 15:23] Wonders11 commented on #8405
I'm beginner to open source. Can anyone please guide me and assign this task to me?

[2022-01-15 15:59] derived-coder commented on #10023
Yeah, I would like to have this feature also with conan info

Here is the original MR: https://github.com/conan-io/conan/pull/9195/files

[2022-01-15 20:29] Techno-Fox commented on #9989
what was the solution @Poupine?

[2022-01-16 16:00] memsharded commented on #8405
Hi @Wonders11

Thanks for wanting to contribute. Beginner in open-source or also beginner in coding?

[2022-01-16 20:40] bartiszosti opened #10349 "[question] AutoToolsBuildEnvironment generates error."
Hello!
I'm trying to build GCC cross compiler package using AutoToolsBuildEnvironment.
I succeed to build Binutils, GDB, GCC but during newlib compilation an error occurs in installation step.
This is weird because when I uses self.run("make install") instead of autotools.make(target="install") it works.
Can someone tell me where is difference between these lines?
[code]

[2022-01-16 23:17] SeanSnyders commented on #10304
We are currently (for now) freezing on Conan 1.42.2 as there are continuing breaking changes that are happening with every Conan minor version change and incompatibilities with ConanCenter. We keep on having to implement workarounds in our own situations. The current fluctuating situation with Conan is making it really hard to base any product development on it.

Thus, the `test_requires()` is not

[2022-01-17 04:08] Wonders11 commented on #8405
I'm beginner to open source and I'm intermediate in coding. Thanks for assigning this task. I'll try my best to solve this.

[2022-01-17 05:23] Wonders11 commented on #8405
Can anyone please guide me how to get started?
Thanks in Advance :)

[2022-01-17 06:27] smitalpatil234 commented on #8459
hello
I am also facing same issue. while other developers are not facing this issue. (We all uses ubantu )
also I am unable to upgrade conan package(currently I am using 1.36.0 and python 2.7)
how to check for custom certificates or any special configuration ?

[2022-01-17 08:03] slietzau commented on #10222
@memsharded Thanks for the response and that you are looking into this.

However, you didn't comment on the apparent bug in the existing code where the generated filenames (`conan_pcre_build.props`) don't match the names the generated files are referenced by (`conan_pcre.props`).

Is this bug tolerated because it requires a specific setup to trigger it? If that's the case, it looks like we'd have

[2022-01-17 08:41] #10334 closed, assigned to memsharded

[2022-01-17 09:22] memsharded commented on #8459
There was recently a certificate that expired, you can check https://github.com/conan-io/conan/issues/9695 (there is a new certificate that can be installed with ``conan config install``, or upgrading)

Regarding your versions, you really need to move to Python3, as Python 2.7 is very deprecated, it will be completely removed from Conan very soon (it has already been removed in Conan 2).

[2022-01-17 09:25] memsharded commented on #8405
- Grep for ``format_graph_html`` function, from there:
- The template is ``INFO_GRAPH_HTML``
- In the same file you have practically all logic that feeds the HTML template
- We are using jinja2 library for rendering template, if you don't know it, you'd need to learn the basics

Regarding process, using ``pip install -e .`` to install Conan over the "git clone" of the repo, so it allows to run the

[2022-01-17 09:25] franramirez688 commented on #10342
Hi @KitCarson03

Yes, it seems a bug in the original recipe. Let me move this issue to Conan Center Index.
Following your steps, I found out the same error:

[code]

[2022-01-17 10:12] memsharded commented on #10222
Hi @slietzau

Yes, I was waiting for your feedback regarding:

Which follows:

So my question was: can we safely drop the transitive dependencies of "swig" when it is a build-require, so they don't generate a ``.props`` file at all (and it don't reference such .props file)?

I am going to assume yes, and I am trying that approach in https://github.com/conan-io/conan/pull/10350 for next 1.45 releas

[2022-01-17 11:17] #10338 closed, assigned to memsharded

[2022-01-17 11:21] franramirez688 commented on #10338
Thanks for reporting the issue @dvirtz
This fix is going to be released at the next Conan 1.45 release.

[2022-01-17 12:16] #10341 closed, assigned to franramirez688

[2022-01-17 12:29] #10222 closed, assigned to memsharded

[2022-01-17 12:31] franramirez688 commented on #10222
Thanks for reporting the issue @slietzau
The fix is going to be released at the next Conan 1.45.

[2022-01-17 12:53] memsharded opened #10351 "[feature] Add ``fstack-protector-strong`` gcc flag"
It is proved that this flag:
- doesnt change the ABI, it can be safely added
- provide more secure artifacts

The approach:
- add it to new generators: CMakeToolchain, AutootoolsToolchain, MesonToolchain
- It applies to ``gcc`` compiler in Linux systems (need to check if in all gcc versions)
- Probably we want to introduce a ``tools.build:secure_builds`` or similar ``[conf]`` that allows this feat

[2022-01-17 13:37] slietzau commented on #10222
@memsharded Sorry for the misunderstanding. For the `swig` package it's safe to drop the transitive dependencies. I'd assume for most packages used as `tool_requires` this should apply aswell since it's a hassle to get all the DLLs into place on windows.

Thanks for providing a fix!

[2022-01-17 13:57] #10313 closed, assigned to nobody

[2022-01-17 14:03] derived-coder opened #10352 "[feature] Make it possible to forward profile when using `conan search`"
I would like to search a package via specifying the profile.
e.g:
`conan search zlib/1.2.11@ -pr gcc7 -r my_remote `

instead of specifying via `-q` again the the information from the profile

- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-01-17 14:18] #10304 closed, assigned to memsharded

[2022-01-17 14:40] brianmou commented on #10351
` fstack-protector` should be added for gcc 4.1.0-4.8.5, and `fstack-protector-strong` for gcc >=4.9.0 and clang >= 5.0

[2022-01-17 14:48] memsharded commented on #10304
Yes, the thing is that ConanCenter contributors love living "at head", and they are always pushing for the latest features and improvements, and using them as soon as they become available. Then, the stability commitment in https://docs.conan.io/en/latest/introduction.html#stable, as explained there, cannot cover ConanCenter, and using ConanCenter recipes implies moving to the latest Conan version

[2022-01-17 14:48] memsharded opened #10353 "Consider overrides of ``test_requires`` in profiles"
Following https://github.com/conan-io/conan/issues/10353, we would need to consider how to override recipes ``test_requires`` from profiles.

cc / @SeanSnyders

[2022-01-17 14:53] memsharded commented on #10353
An approach that I would like to comment in the meantime (while this issue is discussed and evaluated), that could be worth checking for your use case @SeanSnyders is the following:

- If different ``gtest`` versions can be used and are valid as ``test_requires`` of a given recipe, lets define that as a valid version range, and define in the recipe: ``test_requires = "gtest/[>=1.0 <=2.0]"`` for ex

[2022-01-17 15:11] memsharded commented on #10222
For a build-require that is linked dynamically with transitive dependencies, (imaging pcre.dll), this will be an issue, it will not work out of the box. But as at the moment, the default is link statically, and specially like tools like this, dynamic linkage has little advantage, I prefer to be more restrictive, and block always transitive dependencies, to have the basic/default use case working c

[2022-01-17 15:20] lasote opened #10354 "[2.x] conan list packages"
The "conan list packages" help say `If the reference doesn't include the recipe revision, the command will retrieve all the package IDs for the most recent revision.` but it is not working like that, the revision has to be specified always and that is not a very comfortable UI.

The use-case of the old 'conan search foo/1.0 -q "os=Windows"' is not supported anymore in `conan search` (only recipes)

[2022-01-17 15:27] memsharded commented on #10354
The previous ``--table=table.html`` was removed too. It was very useful functionality, for the same purpose of the --query parameter. Consider the functionality there too.

[2022-01-17 16:03] ghost opened #10355 "[question] Create Conan Package from Source : Recipe and Sources in a Different Repo"
Hey guys,
I'd like to create a Conan package from an internally hosted gitlab project
I'm currently struggling with the CMake  Configure Step.

CMake Error: The source directory "C:/...../build/e9a552ebe8f994398de9ceee972f0ad207df0658" does not appear to contain CMakeLists.txt.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
- [x]

[2022-01-17 16:14] Wuestenschiff commented on #10291
Thx @SpaceIm  seems fixed!

[2022-01-17 16:14] #10291 closed, assigned to nobody

[2022-01-17 16:53] drmacdon opened #10356 "[question] How to specify relative paths in layout or obtain the CLI provided install folder?"
When defining a ```layout()``` how can I obtain the CLI provided install/build folder or provide relative paths to it when specifying ```self.folders.generators```?

I am trying to build with V2 using with multiple profiles and necessarily maintain independent build folders for each of my profiles using something like:

[code]

If I use the example ```cmake_layout```, it initializes the
[code]
fol

[2022-01-17 18:07] memsharded commented on #10355
Hi @Ju1He1

I'd say that the problem is that the defined ``source`` folder in ``cmake_layout()`` does not match the location of the CMakeLists.txt sources you are retrieving in ``source()``.

If you check the https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html, you can see that it assumes that the source folder is ".", and CMake and CMakeToolchain will go there to locate a CMakeL

[2022-01-17 21:43] Makogan opened #10357 "[question] Selecting the visual studio version for all packages?"
I am on windows 10 trying to download some dependencies for a project. In particular I am trying to use freetype which depends on brotli.

I am encountering this error:

[code]

I have visual studio 2022 installed, and I also have the cmake modules installed. It seems conan is not ebing able to identify which VS tool to use for this package?

This is how I am trying to run things:

`conan install

[2022-01-17 21:59] Makogan commented on #10357
I am dumb the correct version for 2022 is 16 not 17

`compiler.version=17`

My bad.

[2022-01-17 21:59] #10357 closed, assigned to nobody

[2022-01-17 23:00] Makogan opened #10358 "[bug] GLIB compilation recipe has an error (I think)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: VS 2022
  * Conan version: 1.44.0
  * Python version: 3.11

### Steps to reproduce (Include if Applicable)
Include glip/2/70.0 as a dependency then try to compile with conan install --build-missing

### Logs (Executed commands with output) (Include/Attach if Applicable)

[cod

[2022-01-18 02:36] friendlyanon opened #10359 "[feature] Allow specifying an install component for the CMake helper"
One is capable of passing `--component` to CMake's `--install` command, however the same functionality is missing from the CMake helper's `install()` method: https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#install

Since Conan does not package CMake configs generated by recipes, in many cases the recipe can just define the runtime component and there won't be a need to `rmdir` a

[2022-01-18 06:34] pasrom opened #10360 "[question] Setting conan environment variables inside conanfile"
Is it good practice to set conan environment variables inside the conanfile? For example:
[code]
or
[code]

Thank you!

[2022-01-18 07:01] AlexandraNegru commented on #10294
Hello @jokram

Indeed, `None` means that the variable is not set at all. I updated the initial comment.
My configuration:
[code]
and
[code]

[2022-01-18 07:53] ghost commented on #10355
@memsharded
thx for your help. This was indeed the issue. After adding
[code]
and removing
`generators = "cmake"`

It does seem to work. However there are 2 warnings.
A .sln File (in my case) is generated.
However the package folder is empty. I believe this is because of:

TestConan/2.0@couchbase-lite-core/2.0: Calling package()
TestConan/2.0@couchbase-lite-core/2.0: CMake command: cmake --install

[2022-01-18 09:16] memsharded commented on #10355
However the package folder is empty. I believe this is because of:

What do you have in your ``CMakeLists.txt``? Can you copy it? It should contain a "install" section. As an example the ``conan new hello/0.1 -m=cmake_lib`` is a fully functional recipe. If your CMakeLists doesn't contain a "install" section, then yes, you should provide ``self.copy`` commands in your ``package()`` method.

[2022-01-18 10:12] memsharded commented on #10360
Hi @pasrom

You mean for the consumers of the current package?

yes, defining the ``os.environ`` directly is a bad practice, please don't do that. That pollutes the global environment for all recipes and Conan.

You have different mechanisms to define information for consumers. I'd recommend using the more modern ``self.buildenv_info`` (and in general all the tools in this section: https://docs.co

[2022-01-18 10:13] memsharded commented on #10358
It is a possibility that glib itself is not ready to build with the bleeding edge VS compiler.

I am moving this to ConanCenter repo, recipes from ConanCenter are investigated there. Thanks for reporting!

[2022-01-18 10:18] memsharded commented on #10359
Just to clarify, this is a policy to ConanCenter, because it is important that recipes there work for any build system, not only CMake, and the general use of the packaged config.cmake files is broken (they might find dependencies in the system, for example, instead of Conan). Users with their own packages they can package the config.cmake files.

It is not clear what the implementation approach w

[2022-01-18 10:30] memsharded commented on #10356
Lets take the current ``cmake_layout`` as an example (from https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html?highlight=cmake_layout)

[code]

This is the definition of the relative folders with respect to the "base-system" folders that will be defined by Conan, depending on where this package is being processed, in a user folder (local flow or editable) or in the Conan cache. T

[2022-01-18 11:02] memsharded commented on #10299
I am submitting https://github.com/conan-io/conan/pull/10361 to fix the cmake check for vs 2022.

The other problem is related to the usage of CXX and C compilers, by default the ``cmake`` generator assumes using a CXX compiler. If it is not the case, the check might fail. Please keep using the ``CONAN_DISABLE_CHECK_COMPILER`` to disable the compiler check, this won't be further fixed, as commente

[2022-01-18 11:32] Wonders11 commented on #8405
Will follow the process.
Thank you!

[2022-01-18 11:48] friendlyanon commented on #10359
Oh, I meant the CMake build helper. That one just does this for `install()`:

[code]

Is this modern integration intended for v2? I see that it still does not use components.

[2022-01-18 12:01] lasote opened #10362 "[feature] default cppinfo.builddirs"
- Remove the default "" from cppinfo.buildirs
- Clean the CMakeDeps code so it is not necessary to clear the root folders to avoid setting them to the CMAKE_PREFIX_PATH (PR SpaceIm)
- Document the migration path: Remove the '' from builddirs or use assign and not append.

[2022-01-18 12:31] #10299 closed, assigned to memsharded

[2022-01-18 12:34] memsharded commented on #10299
https://github.com/conan-io/conan/pull/10361 merged, will be in 1.45.

As a summary note regarding the issue title: to use modern ``msvc`` compiler definition, the new integrations are necessary (``from conan.tools.cmake``).

[2022-01-18 12:37] memsharded commented on #10359
Yes, only the integrations in https://docs.conan.io/en/latest/reference/conanfile/tools.html will be available in 2.0. All the others have been already removed in released 2.0-alpha. The on that you are referring to has been removed, we will only evolve now the new ones, which are imported from ``from conan.tools.cmake import CMake, CMakeToolchain, CMakeDeps``

[2022-01-18 13:02] ghost commented on #10355
hey @memsharded
thx for your fast reply

To get started I'm using the test Repo from Conan to create a test Dummy Package
https://github.com/conan-io/hello.git

So the CMakeLists.txt is located here
https://github.com/conan-io/hello/blob/master/CMakeLists.txt

The recipe is hosted in a different repository.
The modfied recipy looks like this now
[code]

On this recipe I'm calling
`conan create . c

[2022-01-18 13:19] memsharded commented on #10355
Yes, that is exactly the problem: https://github.com/conan-io/hello/blob/master/CMakeLists.txt does not contain CMake install functionality (you are mixing a repo intended for the legacy integration with the new one).

If you want ``cmake.install()`` to work, it assumes that functionality is there, but in your case it isnt. Otherwise you need to do your own ``self.copy()`` inside ``package()`` met

[2022-01-18 13:50] pasrom commented on #10360
@memsharded, thank you for your quick reply.

Using `tools.cmake.cmaketoolchain:user_toolchain` works great.

Setting `os.environ["CONAN_SKIP_BROKEN_SYMLINKS_CHECK"] = "True"` was intended only for building the "toolchain conan package", because it throughs an error in the packaging step. I will investigate a little further to build a MEW and create a new issue.

[2022-01-18 13:50] #10360 closed, assigned to memsharded

[2022-01-18 14:19] SpaceIm opened #10364 "[feature] Backport new msvc compiler settings to old build helpers and generators"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

conan-center-index cannot ensure proper support of the new compiler `msvc` in `settings.yml` since all CCI recipes rely either on `cmake` + old `CMake` helper, or things like `AutoToolsBuildEnvironment`/`MSBuild`/`VisualStudioBuildEnvironment`/`Meson` helpers.

I've tested to support

[2022-01-18 14:52] drmacdon commented on #10356
Thanks. Yeah, not having any indication of what was provided on the CLI makes it difficult to write a nice layout because sometimes the build folder is provided and other times it is not, so a default of "." would be horrible.

Ideally, we would be able to write something like:
[code]
as the value is known when the recipe is being evaluated. If that's not possible, how about a function to retrieve

[2022-01-18 15:31] slietzau opened #10365 "[bug] Windows installer package is missing python modules (pathlib)"
The Windows installer package is broken since 1.44.0. It doesn't include the full Python standard library anymore and produces the following error message:

[code]

I also tested 1.43.3, 1.43.2 and some previous versions. They didn't have the bug.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: not relevant
  * Conan

[2022-01-18 16:03] memsharded commented on #10365
Hi @slietzau

This is one of the side effects of ``pyinstaller`` and changes in the Python ecosystem. Due to ``pyinstaller`` bundling what it considers from the Python interpreter, usage of the Python stdlib should be reduced to whatever is documented in Conan docs, and ``pathlib`` is not used at all (this is the reason ``pyinstaller`` probably decided to not bundle it). Changes in the Python pack

[2022-01-18 16:06] memsharded commented on #10360
Good, nice to hear it is working fine.

Regarding symlinks, you might want to check the new 1.44 release blog post: https://blog.conan.io/2022/01/17/New-conan-release-1-44.html

It presents one of the new features: tool to handle symlinks. Because in the future, all the logic that now the ``self.copy()`` is trying to do inside ``package()`` will be dropped, and symlinks will be packaged as-is, eve

[2022-01-18 16:20] memsharded commented on #10364
It was never intended to backport the ``msvc`` compiler to the previous build system integrations, it is going to be supported only for the new integrations. The risk and the effort is too high for the value, it is simply not worth it, as we need to start moving to the new integrations anyway as soon as possible.

From now on, changes in the build system integrations will only be done for importan

[2022-01-18 16:32] SpaceIm commented on #10364
Therefore I think it is a bad user experience to create profile with `compiler=msvc` if conan detects Visual Studio 2022 in a fresh conan installation, specially for new comers. Because they will then complain in conan-center that conan doesn't work, which is understandable. The amount of work to move to new helpers in conan-center is huge, I don't think it can be even started now due to unstabili

[2022-01-18 18:06] klausholstjacobsen opened #10366 "cmake in build_requires cannot find compiler in toolchain"
[conanfile.txt](https://github.com/conan-io/conan/files/7891428/conanfile.txt)
[profile.txt](https://github.com/conan-io/conan/files/7891429/profile.txt)
[Hello]([url]())

I have a profile like this:
[code]

gcc_8.5.0_glibc_2.27_x86_64 contains my compiler toolchain. The package conanfile.py set-up variables required:
[code]
But cmake does not detect the correct compiler:
[code]

If I remove cmake

[2022-01-18 20:15] memsharded commented on #10366
Hi @klausholstjacobsen

It seems the "Hello" link above is broken.

Could you please try to do a ``conan create`` of the ``cmake`` package, with a profile that excludes cmake ``build_require`` and only uses the ``gcc`` package as build_require? Then copy the full output here. It would also be good to see the ``cmake`` recipe, is it the one from ConanCenter?

[2022-01-18 21:14] klausholstjacobsen commented on #10366
Yes it is the one from conan-center. Do you want me to download the recipe file and run a create?

[2022-01-18 21:27] klausholstjacobsen commented on #10366
installing the package with this command:
`conan install cmake/3.22.0@ --profile:build profile.txt --profile:host profile.txt --remote my-artifactory --build`
produces the attached output (install.txt)!

my-artifactory is my virtual conan remote that contains the toolchain package and points onwards to conan-center.
I removed cmake from the build-requires section of the profile.
I also unstalled c

[2022-01-19 01:10] SeanSnyders commented on #10353
@memsharded Thanks for creating a new issue on this topic. I think your original issue post here should probably be linking to #10304 and not this issue itself?

Then to your second comment, the described approach can work, but does implicitly depend on the environment - which for practical usage is sometimes difficult to ensure. I would love a more explicit approach, like locking to a specific ve

[2022-01-19 01:25] Makogan opened #10369 "[question] Is it possible to use gcc as the compiler on windows?"
Looking at the packages in the conan center, if you select the option "windows" for the OS they all select VS as the compiler.

Moreover trying to manually set the compiler to gcc through a bash terminal returns the following:

- [ x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[code]

Can conan handle this use case at all?

[2022-01-19 04:00] michkrom opened #10370 "[question] With build profile specified the self.copy() does not work for build_required package?"
I am calling `self.copy()` in `imports()` to copy a build tool binary form a dependency specified as `build_require`. This works normally, the tool is found and copied to build dir. However, when build profile is specified it does not - the tool is not copied.

I can work around the problem by finding out absolute path to the build_required package (from self.dependencies) and then calling self.co

[2022-01-19 06:19] smitalpatil234 commented on #8459
@memsharded Issue is resolved. Issue was with my remote machine, It was unable to connect with internet.

[2022-01-19 07:36] brucemioo opened #10371 "Unable to connect to conan-center=https://conan.bintray.com"
### Environment Details (include every applicable attribute)
  * Operating System+version:Ubuntu 18.04.6 LTS
  * Compiler+version:cmake version 3.10.2 +GCC 8.4.0
  * Conan version:Conan version 1.35.2
  * Python version:Python 3.6.9

### Steps to reproduce (Include if Applicable)
conan search "lz4/1.9.1" -r=all

### Logs (Executed commands with output) (Include/Attach if Applicable)

ERROR: HTTPSC

[2022-01-19 07:56] #10371 closed, assigned to nobody

[2022-01-19 07:56] brucemioo commented on #10371
someone submit same issues.

[2022-01-19 08:14] brucemioo commented on #9695
i update conan to 1.44.1 and conan config install https://github.com/conan-io/conanclientcert.git, but i still face this problem and error log is:
ERROR: Failed requirement 'android-toolchain/r20@bashbug/stable' from 'lz4/1.9.1@bashbug/stable'
ERROR: HTTPSConnectionPool(host='conan.bintray.com', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_V

[2022-01-19 08:31] memsharded commented on #10371
As a reference for other readers: bintray remote closed some time ago. The remote is "conancenter": https://center.conan.io

[2022-01-19 08:33] czoido commented on #9695
Hi @brucemioo,
The problem is you are using https://conan.bintray.com as a remote and that does not work any more, please check: https://docs.conan.io/en/latest/uploading_packages/remotes.html#conancenter

[2022-01-19 09:15] brucemioo commented on #9695
thank you.
I set conancenter by:conan remote add conancenter https://center.conan.io
but conan still connect to https://conan.bintray.com. why?

[2022-01-19 09:31] memsharded commented on #8459
Ok, good, then I am closing this, thanks for the feedback!

[2022-01-19 09:31] #8459 closed, assigned to solvingj

[2022-01-19 09:34] babariviere opened #10372 "[2.0] [feature/feedback] conans.model.version.Version needs to be converted to str"
When downloading source using `conan.tools.files.get`, we are using the conandata.yml to store url depending on the recipe version.

This result in this pattern:

[code]

However, in this case, conan will complain with this error:

[code]

Proposition:

Make `Version` convert to str as we had for 1.0.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/

[2022-01-19 09:42] jkuebart opened #10373 "[bug] graph_info.json generated in unexpected directory for editables"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOs 11.6.1
  * Compiler+version: Apple clang version 13.0.0
  * Conan version: Conan version 1.43.0
  * Python version: Python 3.10.0

### Steps to reproduce (Include if Applicable)

After running the following script, there is a spurious file `lib/graph_info.json` generated by the last step, `conan instal

[2022-01-19 10:03] memsharded commented on #10372
To clarify, you want the new ``Version`` class to have a ``__str__`` method, or you want ``self.version`` to always be an object of ``str`` class?

[2022-01-19 10:06] memsharded commented on #10369
Hi @Makogan

You need to fully specify your gcc compiler in your settings. In your case you are missing the compiler version and compiler libcxx definitions. You can pass ``-s compiler.version=7 -s compiler.runtime=libstdc++11`` to your command line (but I recommend creating a ``win_gcc`` profile and using it.

[2022-01-19 10:07] babariviere commented on #10372
I want the `Version` class to have a `__str__`

[2022-01-19 10:22] brucemioo commented on #9695
Thanks czoido.
I try to change conancenter as https://center.conan.io and check again.

[2022-01-19 10:27] memsharded commented on #10372
It already has one 😄

[code]
The problem is that having a ``str`` method does not automatically convert it to string when used as a dictionary key, which is the use you are doing.

[2022-01-19 10:28] babariviere commented on #10372
So, we are stuck at converting Version to str everytime? 😢

[2022-01-19 10:33] memsharded commented on #10372
The problem is that it also contains a ``__eq__`` and ``__hash__`` methods, to be able to do version comparison, for example, ``1.0 == 1.0.0``, and that means that ``dict[Version("1.0") == dict[Version("1.0.0")`` (same key in the dict).

It seems that we cannot have both things at the same time, we cannot have smart comparison and hash, to treat it as a version (something that users will also want

[2022-01-19 10:38] babariviere commented on #10372
I guess there is nothing that can be done then. Thanks!

[2022-01-19 13:10] theodelrieu opened #10374 "[bug][2.0] patches cannot be applied when using cmake_layout"
Hello,

It seems that `files.patch` and `cmake_layout` do not get along very well. The former does not find the patch files, even when specifying `base_path=self.build_folder`, although they are inside the build folder.

I've joined a 2.0 version of `docopt.cpp` that shows the issue.

### Environment Details (include every applicable attribute)
  * Conan version: 2.0.0a2

### Steps to reproduce (I

[2022-01-19 13:34] gabyx opened #10375 "[question] How to use CONAN_V2_MODE for only one package"
In our   libA with `conanfile.py` we have a
`os.environ["CONAN_V2_MODE"] = "1"`
but that is to intrusive, I think because when libA is used as a dependency, suddenly the env variable is set and pollutes other dependency conanfile.py...

My question is, how can we activate CONAN_V2_MODE for only one receipt (conanfile.py) ?

[2022-01-19 13:44] snailcatcher opened #10376 "[question] conan package without prebuilt binaries"
Hi,

Is it possible to deploy a conan package which only contains the recipe?
So that every time someone use a package he must rebuild it on his own system?
Has this something to do with the [*default_package_id_mode*](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#default-package-id-mode)?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan

[2022-01-19 14:59] memsharded commented on #10375
Hi @gabyx

Not, it is not possible, that env-var is global, doesn't work at the recipe level.

In any case, it would be much better, now that the alpha release is already in PyPI, to start preparing a separate CI job or something that runs it in parallel and reports. That will be the real Conan v2 Mode  :)

[2022-01-19 15:02] memsharded commented on #10376
Of course you can upload only the recipe to the server, so users will be forced to build from source in their systems. Just avoid using the ``--all`` flag in ``conan upload``.

That is the basic, there might be other possibilities, like the in-recipe ``build_policy = "missing"`` (or ``always``) that forces the build from source when necessary or always, but those have other side issues (like ``alw

[2022-01-19 15:36] JonathanGirardeau opened #10377 "[bug] Transitive dependencies not working when defining layout() method"
### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc version 9.3.0
  * Conan version: 1.44.1
  * Python version: 3.8.10

### Steps to reproduce
I have started defining layout method in order to use the editable mode with my packages. Unfortunately, it breaks the compilation.
I have reproduced the issue in a minimized scope:
- "main" package depends on "dep"

[2022-01-19 15:48] memsharded commented on #10374
This might be missing a small detail:

[code]

Note:
- You are running in the ``build()`` method, not the ``source()`` method
- By default, the ``build()`` method runs in the ``self.build_folder`` directory
- The patches are located in the source ``self.source_folder`` and must be applied to the source folder.

[2022-01-19 15:50] theodelrieu commented on #10374
I thought I was supposed to apply patches in `build`, not `source` 🤔

Isn't the whole source folder copied to the build folder? I do see the patches in it.

[2022-01-19 15:52] memsharded commented on #10377
Hi @JonathanGirardeau

It seems that you are using the old ``cmake`` integration. Note that the generators and helpers that do correctly understand the ``layout()`` are those in ``from conan.tools.cmake import CMake`` (and ``CMakeToolchain`` and ``CMakeDeps``, from: https://docs.conan.io/en/latest/reference/conanfile/tools.html)

It is very possible that the old integrations do not follow the layo

[2022-01-19 15:53] memsharded commented on #10374
You are applying patches in the source copy contained in the **build** directory, not on the original sources. But the layout inside the cache is still the same, and there will be a "source" subfolder and a "build" subfolder, to replicate and mimic the user layour (while in dev in their user folder), inside the "build" folder of the cache for the current package_id.

What you should not do is the

[2022-01-19 16:02] memsharded commented on #10370
Hi @michkrom

Yes, this is expected behavior at this moment. The current ``self.copy()`` of the ``imports()`` only manages the "host" context when the 2 profiles are used.

If you want to access the dependencies inside the method you can do with:

[code]

And then accessing the ``d`` information of the dependency, you can get its folder, and copy the files that you need. You might get some more in

[2022-01-19 16:06] memsharded commented on #10373
Actually, this was a explicit decision. The ``graph_info.json`` file is deprecated, and already removed in Conan 2.0. In theory, only the new generators (those in ``from conan.tools.xxxx`` like ``CMakeDeps``) will be following the ``layout()`` definition, but the previous generators will still output files in the previous locations.

[2022-01-19 16:27] michkrom commented on #10370
Thanks for prompt answer.  It is still disturbing that the behavior changes, getting us constantly surprised.

My current workaround is similar:
[code]

The `build_require` package is in the `self.dependencies` anyway, as this is afaiu superset of all dependencies?

[2022-01-19 16:32] memsharded commented on #10370
It is not a breaking change. It is a completely new feature and new behavior, that is opted-in with the ``profile:build`` command line argument. The cross-compilation model had some flaws and broken things that needed to be changed, and this was the way to introduce the new solution. If you don't want, you are not forced to use the ``profile:build`` feature, and things will keep the same.

Yes, th

[2022-01-19 16:47] maldag opened #10379 "[question] Offline Build"
I was reading through your issues regarding doing an offline build with fixed dependencies. It would be a great feature if I'd be able to use a local git-mirror where I'd export all source files once downloaded. That would be the yocto way, which works very well for them.

So say I've installed some packages in my project and use a proxy remote for that, I'll get the metainformation of the package

[2022-01-19 17:02] JoachimKuebart-TomTom commented on #10373
Ok, but then I don't understand why I'm even getting a `graph_info.json` file at all? In the example I explicitly set `generators` to empty, but it also happens when I use `generators = "CMakeDeps", "CMakeToolchain"` and these are both modern, right?

[2022-01-19 17:04] jkuebart commented on #10373
Ok, but then I don't understand why I'm even getting a `graph_info.json` file at all? In the example I explicitly set `generators` to empty, but it also happens when I use `generators = "CMakeDeps", "CMakeToolchain"` and these are both modern, right?

I've also seen the same happen for `conanbuildinfo.txt` which even appears to be required by `conan.tools.cmake.CMake`, at least I'm getting an erro

[2022-01-19 17:13] memsharded commented on #10379
Hi @maldag

Yes, this is a feature that we have considered, mirroring or backuping sources. There was some initial attempt in https://github.com/conan-io/conan/pull/8211, was looking good, but then it was delayed for other priorities. We will most likely continue with this idea post 2.0, so if you want please track that ticket (and I can close this one as duplicated? I think the original PR captur

[2022-01-19 18:00] #10379 closed, assigned to memsharded

[2022-01-19 20:59] #10369 closed, assigned to memsharded

[2022-01-19 20:59] Makogan commented on #10369
Thank you!

[2022-01-19 23:47] michkrom commented on #10370
Ok, sure - a lot of it is working great for us, thanks!

So better question would be - what is the right way to handle this kind of `import()` in the presents or absence of -pr:h (multi host os and normal and cross build targets; we copy an executable that is suitable for the host arch/os - the dependency is just a package of a few os-specific binaries).

[2022-01-20 00:00] Sil3ntStorm commented on #10299
Thanks for the fix. This will make legacy cmake generator properly detect VS2022 as an available compiler?
I assume that the static runtime issue being ignored is because the legacy cmake generator does not know of these new flags, which is why it won't do static runtime?
If that's the case, I guess the workaround would be to force the profile to use the "Visual Studio" compiler with the old runti

[2022-01-20 08:18] theodelrieu commented on #10374
I see, I just got confused big time 🤯

Thanks for the info!

[2022-01-20 08:50] theodelrieu commented on #10374
I still have to explicitly write the full path to the patch file though, or change the cwd myself, as there is no way to set the cwd for `files.patch`.

[2022-01-20 08:55] memsharded commented on #10374
Not sure what you mean, the code above I tested it, seems to be working fine:

[code]

[2022-01-20 08:58] theodelrieu commented on #10374
Yeah it works on my side fine I just mean that it seems a bit weird to change directory inside the conan recipe itself, rather than with a kwarg `cwd=self.source_folder`.

[2022-01-20 09:02] memsharded commented on #10374
Oh, that is a good point. Actually, it might be possible to try to use the ``self.source_folder`` by default as the location of the patches, it seems it would be a reasonable default. Lets check if makes sense.

[2022-01-20 09:23] robbie-li opened #10383 "[bug] libidn wrong include path with VS2019 community edition"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: Visual Studio 2019 Professional
  * Conan version: 1.44.1
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
Because podofo windows build is not provided by conancenter, so I want to build podofo on Windows with VS2019 Pro.
This is my content for conanf

[2022-01-20 09:26] boussaffawalid commented on #9872
ping @memsharded, is it at least possible to access source_folder **full path** in the layout method ?

[2022-01-20 09:28] Kidsunbo commented on #9695
[code]
I got this error message when install library. So is there something wrong with the server or it's only related to my client? I installed the client from pip just several minutes ago and it's of version 1.44.1.

[2022-01-20 09:33] memsharded commented on #9695
Thanks for reporting @Kidsunbo

Yes, this 502 is a NEW, different error that is happening today (20-january-2022), due to some server upgrades. Team is working on that: https://status.conan.io/

[2022-01-20 09:39] slietzau commented on #10365
Thanks again for the quick response.

We found the bug with version 1.44.1. After a lot of `choco install conan --version 1.XY` calls my conclusion is that the bug first appeared in version 1.44.0. A fix for 1.45 would be great.

Adding that exception, so `pathlib` is useable in conanfiles would be a great. I guess there will be demand since the object oriented interface has some advantages over `

[2022-01-20 09:42] slietzau commented on #10365
Concerning the installer vs `pip` argument:
Managing different Python versions and packages in a corporate setting is a difficult task. Separating `conan` from the Python dependency is a big advantage for us, especially if one uses tools like `chocolatey` to manage the `conan` installation.

[2022-01-20 09:47] AndreyMlashkin opened #10384 "[feature] keep searching for recipes, if one server down"
In my setup, I have 2 remotes defined - conancenter and artifactory.
If I use command
conan search "zlib" -r all, if one of these two servers is down, the whole command will also fail. I would be better to do it more robust.
The same applies to conan install. If I have a recipe only in artifactory and try to install it (yes, I don't specify -r artifactory), it will fail if conancenter is not acces

[2022-01-20 09:50] memsharded commented on #10384
This is already fixed in Conan 2.0, you can try the released alpha in PyPI (the new ``search`` command).

The ``install`` behavior will not be changed. When installing packages it is very important, sometimes critical that the configured remotes work, or error otherwise. You can always use the ``conan remote disable`` functionality to temporarily disable one remote that is not responding.

[2022-01-20 10:03] memsharded commented on #9872
Hi, I think it is important to highlight that there is no global ``source_folder`` to be accessed in the ``layout()`` method. This method can only define relative layouts, because the absolute folders do change over time.

This is more or less the simplified design of the cache, for a given package reference:
- A "cache-export" folder containing the conanfile.py recipe
- A "cache-source" folder co

[2022-01-20 10:22] memsharded commented on #10384
As this is apparently already in 2.0-alpha, I think we can close it now as implemented. Thanks for reporting!

[2022-01-20 10:22] #10384 closed, assigned to memsharded

[2022-01-20 10:44] AndreyMlashkin commented on #10384
I would still have some flag to install command, like --ignore-offline or similar

[2022-01-20 11:00] memsharded commented on #10384
I am sorry, but we will most likely not add something like this, as mentioned above, offline repositories that are skipped could be a problem in some scenarios, so we don't want to add a new cli argument (to basically every Conan command: install, create, export-pkg, build, test) for handling this case. It will be possible to select the remotes you want to use (even more than one) or to ``conan re

[2022-01-20 11:56] julienalofs commented on #7908
When I use conan install .... --conf tools.cmake:generator=Ninja, the conan_toolchain.cmake file generated still contains `set(CMAKE_GENERATOR_PLATFORM "x64" CACHE STRING "" FORCE)` that prevents Ninja to work.

Conan version = 1.44.1

[2022-01-20 12:00] julienalofs commented on #7908
When I use `conan install .... --conf tools.cmake:generator=Ninja`, the conan_toolchain.cmake file generated still contains `set(CMAKE_GENERATOR_PLATFORM "x64" CACHE STRING "" FORCE)` that prevents Ninja to work.

Conan version = 1.44.1

[2022-01-20 12:33] memsharded commented on #7908
Hi @julienalofs

There might be a typo there sorry for that. I think the correct conf is ``-c tools.cmake.cmaketoolchain:generator=Ninja``, could you please try it?

[2022-01-20 12:48] #9427 closed, assigned to nobody

[2022-01-20 12:48] #9735 closed, assigned to nobody

[2022-01-20 12:48] #10167 closed, assigned to franramirez688, memsharded

[2022-01-20 13:08] SpaceIm opened #10387 "[feature] CMakeToolchain: remove CMAKE_FIND_PACKAGE_PREFER_CONFIG ON"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`CMAKE_FIND_PACKAGE_PREFER_CONFIG ON` in `CMakeToolchain` originally addressed this problem:
-  `CMakeDeps` is supposed to be able to work in conjunction with `CMakeDeps` (`cmake_find_package` & `cmake_find_package_multi` removed in conan v2).
-  `CMakeDeps` was supposed to generate o

[2022-01-20 13:11] julienalofs commented on #7908
Hi @memsharded

Thanks again for your quick reply.  `-c tools.cmake.cmaketoolchain:generator=Ninja` is working !

Thank you !

[2022-01-20 13:12] memsharded commented on #10387
I think the problem with removing this is that the config.cmake files are still preferred by Conan in the majority of cases. The find modules are generated for compatibility and some cases, but Conan should prefer and use by default the config.cmake ones, not the modules. And if we remove this, then Conan will start to use the find modules, right?

@mpusz can you please check? You were promoting t

[2022-01-20 13:14] #10365 closed, assigned to memsharded

[2022-01-20 13:16] SpaceIm commented on #10387
`CMakeDeps` doesn't generate Find module files if the related dependency has not `cmake_find_mode` set to `both` in its `package_info()` (very few recipes have it, it's not the default value).
It means that even without `CMAKE_FIND_PACKAGE_PREFER_CONFIG ON`, for most dependencies (all that are not listed in https://cmake.org/cmake/help/latest/manual/cmake-modules.7.html#find-modules) a `find_packa

[2022-01-20 13:36] SpaceIm commented on #10387
Here is an example:

I want to create a recipe `foo` (for CCI or my company) for a library depending on `expat`

In `foo` CMakeLists:

[code]

This CMakeLists is perfectly fine, I don't expect to patch it.

I'm a good boy and my `foo` recipe relies on `CMakeToolchain` & `CMakeDeps`:

When I run `conan create` I see that CMake configuration fails, it has found `expat-config.cmake` (due to `CMAKE_FI

[2022-01-20 13:43] memsharded commented on #10387
I don't fully understand it.

You are telling that expat official config file is expat-config.cmake and that it is providing an ``expat::expat`` target. Why is then ``EXPAT::EXPAT`` preferred, and why should it be the default? Don't we agree that config.cmake files are the modern ones and should be used when available? And you are saying that expat is providing those.

[2022-01-20 13:46] SpaceIm commented on #10387
Almost nobody uses `expat::expat`, most libraries still rely on https://cmake.org/cmake/help/latest/module/FindEXPAT.html, same for Freetype which is similar in its targets discrepancy. conan shouldn't force libraries which don't even know conan to change their CMakeLists to handle an issue which doesn't exist outside of conan.

Have you ever see a library depending on freetype using `freetype` ta

[2022-01-20 13:51] memsharded commented on #10387
But won't users using the expat official config.cmake module complaining about the opposite? They will say:

- I am using expat
- I am using the official config.cmake from expat
- CMake recommends to use the modern config.cmake instead of modules, it is the good modern approach
- I am using the ``expat::expat`` target
- Now Conan is forcing me to use the legacy find module syntax? Shouldn't it be

[2022-01-20 13:53] SpaceIm commented on #10387
conan won't force anything. It's the opposite with my proposal, conan would allow you to write a good agnostic CMakeLists. If they want to use `expat-config.cmake`, they must write `find_package(expat REQUIRED CONFIG)`, because it's what would work outside of conan.

[2022-01-20 13:54] memsharded commented on #10365
Fixed in https://github.com/conan-io/conan/pull/10386, will be in next 1.45

[2022-01-20 13:55] memsharded commented on #10387
Ok, yes, now I see what you mean, thanks for explaining!

[2022-01-20 14:01] boussaffawalid commented on #9872
@memsharded https://github.com/conan-io/conan/pull/10274 is exactly what I'm looking for, Thank you very much.
I'm a bit confused however as I thought `--source-folder` and `--build-folder` are going to be deleted in future conan versions

[2022-01-20 14:26] JonathanGirardeau commented on #10377
Hello @memsharded

Thanks for the quick answer, indeed I used the old `cmake` generator and it seems to misunderstand the `layout()`.
I followed the example `conan new hello/0.1 --template=cmake_lib` and it works :+1:

[2022-01-20 14:26] #10377 closed, assigned to memsharded

[2022-01-20 14:41] memsharded commented on #9872
You are right. We have been trying to remove them, but it seems some user feedback (including yours IIRC) was pointing to their need, so we are now considering keeping them (and providing the correct support, because one of the reasons we wanted to remove them was because they were not working well in some situations).

[2022-01-20 14:44] boussaffawalid commented on #9872
You are right, 100 voting for keeping them as well.

[2022-01-20 15:06] mpusz commented on #10387
From your description, it seems that `freetype` and `expat` are clearly broken if they provide different CMake target names in CMake Find modules and their own config files. Shouldn't they be fixed?

By fixing them I mean both:
- config files in their own repos
- Conan recipes so it generates correct names in generated configuration files that are compatible with CMake find modules (if those shoul

[2022-01-20 15:07] mpusz commented on #10387
Nevertheless, it seems that with new support to generate config as well as module files by `CMakeDeps` it seems that `CMAKE_FIND_PACKAGE_PREFER_CONFIG ON` is no longer needed, indeed. Of course, assuming that all of the affected have (and will have in future) `cmake_find_mode` set to `both` set in `package_info()`.

[2022-01-20 15:09] mpusz commented on #10387
However, please note that many corporations write custom find modules for some packages for legacy projects (at least two of my customers did it). In new projects they use Conan with config files. In such case `cmake_find_mode` will not be set to `both` and they will have to be aware to update the recipes by themselves. This also means that they must have their own Conan server and can not use Con

[2022-01-20 15:30] SpaceIm commented on #10387
Regarding expat, it seems that upstream author doesn't care: https://github.com/libexpat/libexpat/issues/407

I wouldn't say they are broken, nothing prevents a library to provide other names in their config files than built-in Find modules.

Almost all related CCI recipes (bzip2, expat, freetype, fontconfig, gdal, glew, giflib, icu, jasper, libalsa, libcurl, libarchive, libgettext, libjpeg, libpn

[2022-01-20 16:25] #10287 closed, assigned to memsharded

[2022-01-21 06:08] ashley-b opened #10393 "[bug] Libraries in lib64 are not exported to libdir"
I have a library using modern CMake install syntax with no destination set so it uses the system lib path which on my system is lib64.
When I install/consume this recipe I can see the lib is set correctly but the libdir is empty.
I think this is related to the following issue #3369, #3488.

I have found two workarounds, so I keep the CMake script portable.

* Force CMake to install to lib for cona

[2022-01-21 09:28] snailcatcher commented on #10376
Thanks for your answer.
Actually I think asked the wrong question.
The real problem is, that I want to install a package without building it and without having a valid prebuild for my system.

I think it is possible to do something like that by marking a package as *header_only*, but I'm not sure what side effects this would have. Is there a better solution? I want the system on which I run the *c

[2022-01-21 09:53] MichaelWU0726 opened #10395 "The source directory does not appear to contain CMakeLists.txt."
when i followed the [official documents](https://docs.conan.io/en/latest/creating_packages/getting_started.html), i run under dir `hellopkg`:

[code]

It showed the following:

[code]

i checked the path and there was no `CMakeLists.txt` under the directinory, i was confused very much aand hope for helps!

[2022-01-21 10:03] foundry-markf opened #10396 "[question] Get the name of the package tested in the test_package recipe"
Hi,

So far, all of our recipes specify their `name` attribute.

I've been experimenting with omitting this from the recipe, and specifying it on the `conan create` command line (i.e. a full package reference on the cmd line). This works fine. The broader context is being able to reuse recipes in some niche areas, which currently call for a separate (virtually identical) recipe.

The trouble I hit

[2022-01-21 11:47] memsharded commented on #10396
Hi @foundry-markf

We have changed in 1.44 the way ``test_package`` is supposed to work. Please have a look to https://docs.conan.io/en/latest/conan_v2.html#explicit-test-package-requirement, and ``self.tested_reference_str``

[2022-01-21 11:49] memsharded commented on #10376
I am not sure what is exactly your use case. Indeed marking things as "header_only" doesn't sound a good approach.

Using ``conan info`` does actually brings only the recipes, computes the dependency graph and reports information without actually fetching or installing binaries. Is this what you want?

[2022-01-21 11:53] memsharded commented on #10395
Can you please verify what is your current Conan version?
You might also need CMake >= 3.15, can you please check too?

Just verified with 1.44.1, seems to be working fine.

[2022-01-21 12:03] memsharded commented on #10393
Conan tries to be agnostic about all these platform specific issues, and it should be kept agnostic, and instead provide tools to handle things. Take into account for example that this might happen in Fedora but not Ubuntu, but Conan has no representation or model that you are running in Fedora. Conan wraps the build systems, if the build system is doing a different thing in a different platform,

[2022-01-21 12:03] foundry-markf commented on #10396
Yay, it's been pre-empted! I hadn't seen that change go in. Thanks!

[2022-01-21 12:12] MichaelWU0726 commented on #10395
conan: 1.44.1
cmake:3.10.2
In this case, I had changed into `cmake_minimum_required(VERSION 3.10)`

[2022-01-21 12:37] snailcatcher commented on #10376
Not exactly, but I got the problem, that the client can not decide which build it should use if there a multiple possible matches.
But I think I kind of found what I was looking for here:
https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html

But there is one thing I don't get. I think I do not use conan like it was intended to work.
My build process looks like a *header_

[2022-01-21 13:52] memsharded commented on #10396
Cool, then, can this issue be closed? Did you already try it?

[2022-01-21 13:54] memsharded commented on #10395
Yes, that might be the cause, the new ``CMake`` integration requires at least CMake 3.15 for the ``cmake --install`` feature inside ``cmake.install()``. Please upgrade (you can also use the ``cmake/3.15..`` or above package from ConanCenter if that helps).

[2022-01-21 14:03] rconde01 opened #10397 "[feature] Source caching"
One risk of the conan model is that the recipes require sources which are held in a different place. e.g. a git repository or a zip download. If that place breaks or goes away at some point in the future, the recipe will break. I'm sure there are practical issues, but at a high level it would be nice if the sources could be cached and pulled from a conan remote directly rather than the original so

[2022-01-21 14:39] SVincent opened #10398 "[question] Possible mistake (or need for clarification) in documentation (section fetching sources from external repos)"
I was following the documentation, when I was thrown off by a reference to a supposed explanation in the 'previous section' that doesn't seem to exist:

https://docs.conan.io/en/latest/creating_packages/external_repo.html

    "_There are two different ways to fetch the sources from an external repository:
    Using the source() method as we displayed in the previous section: [...]_"

I personally

[2022-01-21 14:52] #9710 closed, assigned to nobody

[2022-01-21 14:55] memsharded commented on #10397
Hi @rconde01

This issue was requested in https://github.com/conan-io/conan/issues/10379, and we already have a proof of concept in https://github.com/conan-io/conan/pull/8211. Please track that PR for progress about this feature (will most likely not happen before 2.0, but it is something we will probably resume work for 2.X)

I'll close this, and lets follow up https://github.com/conan-io/conan/

[2022-01-21 14:55] #10397 closed, assigned to memsharded

[2022-01-21 15:20] memsharded commented on #10398
You are right. The issue is that we updated the https://docs.conan.io/en/latest/creating_packages/getting_started.html page to start using the modern Conan integrations, but the next page of the docs is still not updated.

We will be doing a major effort in updating the docs now for Conan 2.0, we know the current state can be a bit confusing and inconsistent, but it is difficult to keep it in sync

[2022-01-21 15:27] memsharded commented on #10376
Is this even possible?

It might be possible, certainly not the most common approach, but I think you can:

- When you do ``package()``, package also the sources inside a ``src`` folder in the final package.
- Consumers always have access to the folder something like ``os.path.join(self.dependencies["mypkg"].package_folder, "src")`` will give you that location, which you can use in the ``build()``

[2022-01-21 15:40] foundry-markf commented on #10396
Tested just now.

(env38) D:\dev\SharedTech\gitlab-ci\recipes>conan --version
Conan version 1.44.1

with this in the test package recipe

[code]

If it was the reference itself available, rather than the string representation, I suspect I could've used a `name` property? But, easy enough to get it from the string.

So yes, happy to close. Thanks!

[2022-01-21 15:45] memsharded commented on #10396
Yes, this is the reason we called the property ``self.tested_reference_str``, to leave option for a future reference ``self.tested_reference``, because it was also confusing doing ``self.requires(self.tested_reference)`` (our first design), and having ``requires()`` complain that it wasn't a string, and ``str()`` and ``repr()`` have different meanings for a reference (the one to be used is actuall

[2022-01-21 15:45] #10396 closed, assigned to nobody

[2022-01-22 00:21] jtbandes commented on #10298
Still not rolled out I guess 😬
[code]

[2022-01-22 02:51] kkpattern opened #10399 "[suggestion] Make documentation for integrating conan into bazel more clear"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, the [documentation](https://docs.conan.io/en/latest/integrations/build_system/bazel.html) for integrating conan into bazel is missing the `conan install .` instruction. For someone coming from the bazel side that is not so familiar with conan, one may have a hard time under

[2022-01-22 20:08] #1659 closed

[2022-01-22 21:12] derived-coder commented on #10023
@memsharded
What needs to be done to implement it our self?
Where should we start?

[2022-01-22 22:24] jkuebart opened #10400 "[feature] Packages in editable mode should support force-building"
Let's suppose we have a setup like this.

`lib0/conanfile.py`:
[code]

`lib1/conanfile.py`:
[code]

`app/conanfile.py`:
[code]

That is, three packages `app -> lib1 -> lib0`.

We can then build all three packages using the sequence
[code]
The packages `lib0` and `lib1` will be built in the correct order during the `install` step.

If we wanted to force rebuilding of `lib0` and all the dependencies

[2022-01-23 11:15] ashley-b commented on #10393
Thanks for the reply.
To give some more back story, This recipe is using the "cmake" generator and it works. It seams to set CMAKE_INSTALL_LIBDIR=lib regardless of arch setting.

Its only since I try migrating my recipe to use the new CMakeToolchain and CMakeDeps generators it stopped setting CMAKE_INSTALL_LIBDIR and as a result is not setting the LIBDIR

[2022-01-23 11:41] memsharded commented on #10393
I see, indeed the previous integration was setting a lot of things:

[code]
It was decided to remove them, because they would be messing with possible user values (lets say, consumer only projects, that they want to install to system locations), but lets have a second look at this.

[2022-01-23 22:27] memsharded commented on #10298
Hi @jtbandes

They have been rolled out, but apparently (and unfortunately) they are not enough yet. So we will need to push it again to the Artifactory team, we will keep you posted, thanks for following up.

[2022-01-24 03:25] huweiATgithub opened #10404 "[bug] Conan + CMake + Ninja + Visual Studio cannot link correctly with error LNK2019"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 16
  * Conan version: 1.44.1
  * Python version:  3.7.7

### Steps to reproduce (Include if Applicable)
I took the following steps in building the [Poco example of Conan](https://github.com/conan-io/examples/tree/master/libraries/poco/md5).

1. Launch a Visual S

[2022-01-24 09:56] memsharded commented on #10404
Hi @huweiATgithub

Quick question, if you do the same, but with the ``cmake .. -G "Visual Studio 16 2019"``, then it works correctly, or it also fails to link?

[2022-01-24 10:01] Poupine commented on #9989
@Techno-Fox my answer was not really well formulated.
For mingw64 the solution was indeed to inject linker flags options and I did it globally (since all the recipes required that injection) by adding modifying LDFLAGS at the profile level. One thing to note is: BOTH -static and -static-libstdc++ need to be injected.
Now what I meant (and did a poor job at conveying) when I said I found a solution

[2022-01-24 10:02] #9989 closed, assigned to nobody

[2022-01-24 10:45] MichaelWU0726 commented on #10395
After upgrading cmake to v3.15, it worked.

[2022-01-24 10:45] #10395 closed, assigned to memsharded

[2022-01-24 12:04] franramirez688 opened #10406 "[feature] More centralized `conf` variables definition"
We're using a bunch of times this piece of code:

[code]
But we're not listing or centralizing these conf-keys so it could become a mess to use/know any of the existing flags. For instance, this PR https://github.com/conan-io/conan/pull/10405

[2022-01-24 12:16] franramirez688 opened #10407 "[feature][MesonToolchain] Improve Android cross-compilation"
Cross-compiling for Android requires some extra definitions (check this test https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/meson/test_cross_compilation.py#L154)

We should manage some basic built-in flags as we already did in this PR for Apple cross-compilation: https://github.com/conan-io/conan/pull/10174

[2022-01-24 13:57] dabele commented on #9763
I get the same error message for boost in some circumstances. I'm not sure if it's the same cause.

So far, it only happens in windows github runners in our CI pipeline. The first run with a fresh .conan directory works fine. Then the second run fails with the same error message. The .conan directory (and nothing else) is cached between runs (I also tried only caching `.conan/data`, no change). Th

[2022-01-24 15:37] SamsonBox opened #10410 "[bug] AttributeError: 'PackageEditableLayout' object has no attribute 'package_lock'"
Hello,

I have a quiet large dependency tree with a couple of own conan packages. Lets call two of them foo and bar where foo depends on bar. To reproduce the entire build I use a lockfile. When I put foo and bar in editable mode ans call conan install I end up with the following error:
AttributeError: 'PackageEditableLayout' object has no attribute 'package_lock'
And the following Traceback (most

[2022-01-24 15:49] memsharded commented on #10262
Closed by https://github.com/conan-io/conan/pull/10409

[2022-01-24 15:49] #10262 closed, assigned to memsharded

[2022-01-24 15:57] huweiATgithub commented on #10404
I did try `cmake .. -G "Visual Studio 16 2019" && cmake --build . --config Debug`. It works correctly. It also work if I switch Debug to Release.

[2022-01-24 15:57] memsharded commented on #10410
Hi @SamsonBox

Yes, it seems that the ``package_revision_mode``, which is the one that is creating the ``BINARY_UNKNOWN`` is at the root of the issue, together with the way the lockfiles were designed was around strong revision locking, and that does not cover the editable scenario, because packages in editable mode no longer have a valid revision that can be validated against the revision in the

[2022-01-24 16:20] memsharded commented on #10404
It seems the previous build-system integration doesn't fully work with Ninja generator.
Fortunately, it seems the new integrations (the ones ready for 2.0, already in ``conan.tools.cmake``: https://docs.conan.io/en/latest/reference/conanfile/tools.html) already provide better support for it.

As a quick check, I made it work with:

[code]

Commands:
[code]

This integration is superior for example

[2022-01-24 17:19] uilianries opened #10411 "[feature] List required_conan_version when running inspect and info commands"
The `required_conan_version` can be a global configuration and listed by `conan config` command, but when it's declared in a recipe, both commands `inspect` and `info` can not list it because it's not part of `ConanFile` object.

https://docs.conan.io/en/latest/reference/conanfile/other.html#requiring-a-conan-version-for-the-recipe

The idea is listing the `required_conan_version` when running:

[2022-01-24 17:58] SamsonBox commented on #10410
Hi @memsharded,

Thank you for your quick answer. I'm not quiet sure how to understand your comment. Do you mean it's not legal to use lockfiles in combination with editable packages, and there is no need to fix the bug? Or do you want to say the problem would be gone when the package_revision_mode is removed?

[2022-01-24 18:05] memsharded commented on #10410
Not that it is not needed to fix it, mostly that it was not a considered use case, and then we need to investigate and think a little bit if this would make sense to support or not. Because if a lockfile locks "pkga/1.0#rev1", shouldn't you use exactly that revision1? And that is not true if the package is in editable mode. So even if the problem is gone when package_revision_mode is removed, sure

[2022-01-24 18:49] SamsonBox commented on #10410
Thank you for the clarification. May be I should spend some words on the use case. We have a main software component which depends on a couple of Conan packages. During the install step we produce a lockfile to be able to reproduce the entire build. To debug one or more packages we bring these packages in editable mode and use the lockfile to ensure on the one hand, that the remaining packages sta

[2022-01-24 19:39] ericLemanissier commented on #8476
Is it me, or doesn't the new Autotools helper not support win_bash and msys2 ?

[2022-01-24 21:27] memsharded commented on #8476
@ericLemanissier if you mean ``AutotoolsToolchain``, ``AutotoolsDeps``, etc, they should support it, but there is a different syntax and mechanisms now to define it (more explicit)

[2022-01-24 21:32] earonesty commented on #7300
pids should be written into lockfiles and consulted to see if the process is still running.  if a process is killed (user clicks the stop button in ci/cd), lock files might be left around.  since pids are not guaranteed unique, this is only a mitigation.   but in practice, it usually works very well.

[2022-01-24 21:33] paulocoutinhox commented on #10259
Hi @memsharded, i understand.

I thought you might have to add this item in version 1.44.1 as well, as I have 2 projects with WASM that only depend on this new version.

Do you know when the new version will be released?

Thanks.

[2022-01-24 21:34] gldlv opened #10412 "[bug] onanException: Invalid setting 'baremetal' is not a valid 'settings.os' value."
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu LTS 20.04.3
  * Compiler+version: gcc 9.3
  * Conan version: 1.44.1
  * Python version: 3.10.0

### Steps to reproduce (Include if Applicable)

Install this recipe  : fmt/8.0.1: revision 25e2134351cb1a3be5fc0f5fe56aec14

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-01-24 21:50] memsharded commented on #10412
Hi @GDelevoye

It seems for some reason your cache ``settings.yml`` was not migrated properly while upgrading. The most typical reason is that it had some local modifications, or you have your own ``settings.yml``. You can solve this by:

- removing the Conan cache ``~/.conan/settings.yml``, and let conan create a new one.
- or, add yourself ``baremetal`` to your ``settings.yml``

In parallel, it

[2022-01-24 21:55] memsharded commented on #7300
@earonesty thanks for the suggestion, we already tried that some time ago, and it happens that Windows reuses pids and even if unusual, it already hit some time, so it was dropped. Conan 2.0 cache, we have removed the locked completely at the moment, and we need to work on concurrency from scratch, we will reconsider the alternatives and see what can be done. It seems that ``fasteners`` also impro

[2022-01-24 22:17] werto87 opened #10413 "[question] How to use cmake interface library with target sources?"
In my CMakeLists.txt I create an interface library, add sources to it and then link it to an executable. When I try to consume it I get lots of undefined references.
CMakeLists.txt example:
[code]
[The project where I am creating the library and using it in the tests](https://github.com/werto87/matchmaking_proxy)
[The conan recipe](https://github.com/werto87/conan_matchmaking_proxy)
[The project i

[2022-01-24 22:56] memsharded commented on #10413
Hi @werto87

I am a bit confused about your setup. Why aren't you putting your ``conanfile.py`` directly in your repo with your code? Is it that you intend to submit it to ConanCenter and are preparing the recipe for it?

In any case, it seems that you are using a non-conventional approach, and using the library as source only. When packaging the normal thing would be to package it as a library, t

[2022-01-24 23:10] huweiATgithub commented on #10404
The new integration looks great and more convenient.
Would you share your Conan profile? It still has (though different) linker errors in my machine.

[2022-01-25 00:16] werto87 commented on #10413
Hi @memsharded

Thank you for the fast reply.

I intend to submit it to ConanCenter and I have no experience with putting the conanfile directly in my project repo.

I do this because my library only compiles if the consumer defines a path to a file which contains some definitions. You can see this in the [test CMakeLists.txt of the library](https://github.com/werto87/matchmaking_proxy/blob/main/t

[2022-01-25 06:45] ericLemanissier commented on #8476
Then there is something I don't understand, because I get [this error](https://github.com/eirikb/proof-of-conan/runs/4926282154?check_suite_focus=true#step:8:114) `'C:\Users\runneradmin\.conan\data\binutils\2.37\_\_\build\0a420ff5c47119e668867cdb51baff0eca1fdb68\source_subfolder/configure' is not recognized as an internal or external command` when using this recipe https://github.com/ericLemanissi

[2022-01-25 07:14] #10239 closed, assigned to memsharded

[2022-01-25 08:50] memsharded commented on #8476
You are right, it seems there could be something missing there, lets have a look.

[2022-01-25 08:57] cchulo commented on #8476
Eric, what are you trying to install/build with MSYS2? Maybe I can help.

I think I finally figured out (at least a little bit) conan building, was finally able to clear the "Get Started" tutorial on Conan docs using MSYS2, Mingw-w64 GCC and Windows. Was able to build Poco 1.9.4 from scratch after a lot of digging here and there.

[2022-01-25 08:58] memsharded commented on #8476
@cchulo we are interested in that feedback, the new toolchains are maturing to be ready for 2.0, and the intention is that supporting msys2 should be relatively easy with the new integrations

[2022-01-25 09:06] memsharded commented on #10413
Ok, good, then you will need to try the above approach (using ``generate()`` to get the information and inject in your consumer CMakeLists.txt, if you would like more details about this, please ask), you can implement it in your ``test_package/conanfile.py``. Note that this will create some unusual friction to use your library, as it requires more explicit effort on the consumer side, but if it is

[2022-01-25 09:07] cchulo commented on #8476
So I have other tools installed that are exposed in the windows PATH, I had to override this in my profile, and point it to my Mingw installation (under MSYS2)

In MSYS2 I installed `base-devel` `mingw-w64-x86_64-toolchain`, and `mingw-w64-cmake`.
The last piece of the puzzle, since one or more of Poco's libraries requires location to Windows SDK I had to also include this in the PATH as well. Fin

[2022-01-25 09:09] cchulo commented on #8476
do note that the Windows SDK can be installed separately using `Visual Studio Build tools` no need for installing the entire Visual Studio software suite

[2022-01-25 09:48] ericLemanissier commented on #8476
@memsharded I just tried to set `win_bash = True` attribute on the recipe, but it [now fails with ](https://github.com/eirikb/proof-of-conan/runs/4934650534?check_suite_focus=true#step:8:109)`ConanException: The config 'tools.microsoft.bash:subsystem' is needed to run commands in a Windows subsystem`. [Documentation](https://docs.conan.io/en/latest/systems_cross_building/windows_subsystems.html?hi

[2022-01-25 10:18] czoido commented on #10362
Closed by https://github.com/conan-io/conan/pull/10394

[2022-01-25 10:18] #10362 closed, assigned to lasote

[2022-01-25 10:28] werto87 commented on #10413
Correct me if I am wrong but this feels like I have to **recreate** the library target inside the test_package/CMakeLists.txt. I like to reuse the library target created inside my library/CMakeLists.txt. For me it looks like conan does not consider what I write inside library/CMakeLists.txt if I do not call "cmake.configure()" and "cmake.build()".

[2022-01-25 10:32] czoido opened #10417 "[feature] Support for multiple remotes in Conan 2.0"
Currently you can't do something like `conan install -r remote1 -r remote2` just forcing one remote or checking in all the remotes.
Check how to give support for this for several commands.

Related to: https://github.com/conan-io/conan/issues/7998

[2022-01-25 10:38] pwuertz commented on #4316
Was looking for something like this. So if I want to transfer a built package from system A to system B, I need to set up a Conan server that is accessible by both systems? I.e. there is no support for exporting / importing / backup built packages as some sort of archive like, say a python wheel?

[2022-01-25 10:49] jngd opened #10418 "[question] QMake and library rpath on MacOS"
I'm working on QMake app which has dynamic library dependencies. Those dependencies are on conan remote and it has wrong paths as rpath (/Users/user1/workspace ...) As a result, when I download the dependencies and try to execute the bundle the app is not running due to unresolved path (user1 is not my user).

To solve it, I copied the package using conan copy but this time fixing manually rpaths

[2022-01-25 10:53] memsharded commented on #10413
Yes. Conan is build-system agnostic, the consumers of your package could be using Visual Studio, Meson or other build system, not CMake. So whatever you write in your library/CMakeLists.txt is completely isolated to the consumers. The definition of what goes in the package comes in the ``package_info()`` method, and the build system integrations manage to translate that to the consumer build syste

[2022-01-25 10:56] memsharded commented on #4316
No, at the moment there is not. We are considering implementing something after 2.0 (2.0 is already in alpha), but at the moment you need a server to upload the packages.

[2022-01-25 11:05] memsharded commented on #10364
Let's fix the compiler=msvc => compiler=Visual Studio auto-detect until ConanCenter catches up supporting it.
But the previous build system integrations will not support msvc, only the new ones.

[2022-01-25 11:29] sfhacker commented on #8476
I just built Poco libraries 1.11.1 from source on Windows 10 x64 without issues!.
I didn't have to install any Windows SDK. I believe it is already included when installing MinGW, I guess? There is no VS installation or Windows SDK on this old laptop at all.

![image](https://user-images.githubusercontent.com/25817529/150967435-10498870-1940-4b92-8fd4-696687e37f62.png)

It has never been a good/sm

[2022-01-25 12:05] memsharded commented on #10248
Try to remove the dependency to ``self.develop`` for the "consumer" patterns ``&``

[2022-01-25 12:12] vdsbenoit opened #10419 "[bug] --profile:build is not inferred"
## Description
### tl;dr
It looks like conan does not handle a `conan create` with a `--profile:host` and without a `--profile:build`. For instance :
[code]

- **Expected behavior** : conan infers a `--profile:build` from a system auto-detect like it would do if not profile was defined at all
- **Actual behavior** : conan uses the `--profile:host` value like a normal `--profile` (see *Issue* secti

[2022-01-25 12:20] memsharded commented on #10419
Hi @vdsbenoit

I think this is by design. ``--profile:host`` is an alias of ``--profile``. The feature of using the 2 build/host profiles is enabled by explicitly defining the ``--profile:build``. That is the way to opt-in into using this feature of the 2 profiles, as the host profile was already defined, defining it with an alias cli arg doesn't change the behavior.

Please define the ``--profile

[2022-01-25 13:25] vdsbenoit commented on #10419
Hi @memsharded !

All right, that makes sense then!

Regarding the practical issue I have described here above :

How would you overcome it ?

Thank to the information you've just shared with me, I would say that I need to define a `:build` argument in order to opt-in for the 2 profiles feature. What do you think about adding a dummy `--settings:build os=Linux` argument?

[code]

I tried on my com

[2022-01-25 13:39] memsharded commented on #10419
You might be good specifying the default one ``--profile:build=default``.
Also, what you suggested, the moment you specify ``--settings:build`` something, that would already opt-in into the behavior (and that setting is composed with the default profile too)

We have already changed this default in 2.0, to use always build profile by default, and we are focused on getting 2.0 out (already in alpha

[2022-01-25 13:56] vdsbenoit commented on #10419
Indeed, I just realized that the `--settings:build` arguments are added on top of the default profile. Therefore, the command I proposed does not make sense...

I will stick with the `--profile:build default` option as you suggested and ask colleagues with uncomplete default profiles to remove `~/.conan/profiles/default` (in order to re-generate it).

No worries for the documentation, I understand

[2022-01-25 13:56] #10419 closed, assigned to memsharded

[2022-01-25 14:15] Sil3ntStorm opened #10420 "[bug] settings.yml deemed changed on update"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win 10 x64
  * Compiler+version:
  * Conan version:
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
Several times since initially installing 1.30, after updating conan I have had issues with settings.yml not being able to be updated for some reason and a settings.yml.new be created.
T

[2022-01-25 14:41] memsharded commented on #10419
Many thanks! 😄

[2022-01-25 15:02] memsharded commented on #10404
Yes, nothing special here:

[code]
Then:
[code]
Building:
[code]

[2022-01-25 15:17] memsharded commented on #10410
Fixed by https://github.com/conan-io/conan/pull/10416 (thanks!)

[2022-01-25 15:17] #10410 closed, assigned to memsharded

[2022-01-25 16:01] jeremy-coulon opened #10421 "[bug] Failed conan config install"
I have custom conan settings in my private gitlab instance.
I run `conan config install` to install these settings.
Everything was working fine with conan v1.40.4 but it fails with conan v1.44.1
It looks like conan is trying to save my file in `E:\\nosave\\.conan\\tmp_config_install\\archive.zip?sha=v1.44.1` (which is not a valid filename) instead of `E:\\nosave\\.conan\\tmp_config_install\\archiv

[2022-01-25 16:08] jeremy-coulon commented on #10421
It fails with conan v1.41.0 too

Probably related to https://github.com/conan-io/conan/pull/9530

[2022-01-25 16:11] memsharded commented on #10421
Hi @jeremy-coulon

If you are using a git repo, you know that you can directly use the ``git`` clone address to retrieve it and use it?
Also, have you tried the ``--type`` argument? You can specify it as a ``url`` for a zip, I think the final part of the URL is confusing it.

[2022-01-25 16:22] theodelrieu opened #10422 "[bug][2.0] test_package folder is never cleared"
Hello,

I came across several issues playing around with `tool_requires` like `libcxx`/`android-ndk`, and I've recently had a lot of build failures in the `test_package` step.

It seems that the `cmake-build-release` folder is never cleared, which causes build errors when building the same package with a different profile right after (especially in a CI script).

For instance, I'm creating `libres

[2022-01-25 16:23] jeremy-coulon commented on #10421
Thanks for the tip.

Adding `--type url` doesn't work.

I am not sure that I can use a git address. What I need is to checkout a specific git tag.

[2022-01-25 16:26] snailcatcher commented on #10376
What you mentioned in your last sentence is a good solution for my use case.
Thanks a lot for clarification of the mechanism.
I will close this issue now.

[2022-01-25 16:26] #10376 closed, assigned to memsharded

[2022-01-25 16:34] memsharded commented on #10421
Maybe for the git address you can use the ``--args`` argument to pass the git clone ``--branch <tag_name>`` that you want to use?

[2022-01-25 16:37] memsharded commented on #10421
In any case, it seems the problem is in:

[code]
For some reason the parsing of the uri is not removing the ``?sha`` part from ``config.uri``. We need to check if this is expected or not

[2022-01-25 16:45] jeremy-coulon commented on #10421
`--args "--branch <tag_name>"` works for me. Thank you.

[2022-01-25 16:59] memsharded commented on #10421
Trying a potential fix for the issue: https://github.com/conan-io/conan/pull/10423

[2022-01-25 17:04] cchulo commented on #8476
nice! yeah I'd have to check out PocoMacros.cmake for that version to see if they removed dependency on Windows SDK, for Poco 1.9.4 it's there

[2022-01-25 17:37] earonesty commented on #7300
sqlite3 has great low-level concurrency support, and comes with python.  i often use it for that.   you can do cross-process queues, mutexes, etc. once you have a nice db.   but we wound up writing our own lock class anyway because it's more correct on windows.  i can post if you want

[2022-01-25 17:39] earonesty commented on #7300
this is the ez sqlite one, `fasteners` looks like a good one tho, i agree

does conan really need more than an "exclusive lock"?  (sqlite supports RW locks in WAL mode).  reads are so fast (seconds) compared to writes which can take minutes, seems the complexity of RW locks isn't worth it

[code]

[2022-01-25 18:09] SpaceIm opened #10425 "[bug] 2 profiles: `-o:b "*":shared=False -o:h "*":shared=True` doesn't properly work on macOS"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13
  * Conan version: 1.44.1
  * Python version: 3.9.10

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

Build requirements of `libcurl` (conan-center recipe), like `pkgconf` & `li

[2022-01-25 18:31] memsharded commented on #10422
We consciously removed the "magic" behaviors around the ``test_package`` functionality, leaving it as close to a pure consumer project as possible. That includes using the layout() and not doing any other special treatment of the build folders.

We need to discuss this scenario. There are several possibilities:
- Request the user to clean the ``test_package/build`` folder
- Customize the ``test_pa

[2022-01-25 18:52] gabyx commented on #9978
Any help in this direction?

The problem is actually that `self.install_folder` which should align with `--install-folder`, is not set during `layout`.
Why is that?

[2022-01-25 18:56] #10329 closed, assigned to nobody

[2022-01-25 18:59] nichmj01 commented on #10329
I was able to get all the dependencies built so this is no longer an issue.

Maybe doing something with compatible packages (https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#compatible-packages) would have also addressed the issue but for now I don't have the time to investigate/figure out how that mechanism works.

[2022-01-25 19:19] harsszegi opened #10426 "Prepend a custom command before cmake"
Hi,

we'd like to use Incredibuild with Conan. Incredibuild is practically a bootstrap before cmake, meaning
it executes cmake ('s build step only) on its own, like 'buildconsole /command="cmake --build xxxx -j yyy"'

as I check tools/cmake/cmake.py, it is not quite possible to do that (e.g. wrap the generated 'command' in '_build'
into something).

Any thoughts on how to overcome the problem? Obv

[2022-01-25 19:26] SpaceIm commented on #10253
I'm currently fixing all CCI recipes regarding shared libs on macOS: https://github.com/conan-io/conan-center-index/pulls?q=is%3Apr+in%3Atitle+relocatable+macos

It will take lot of time since they are all polluted by `conan_basic_setup()` without `KEEP_RPATHS` argument (don't know why `CMAKE_MACOSX_RPATH` is disabled by default in `conan_basic_setup()` of `cmake` generator).
With new generators &

[2022-01-25 19:36] datalogics-kam opened #10427 "[bug] tool_requires doesn't work if used in a profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.6.1
  * Compiler+version: apple-clang 13.0
  * Conan version: 1.44.1
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

Create a profile with `tool_requires` and try to use it.

[code]

See: https://github.com/conan-io/conan/blob/develop/conans/client/profile_loader.py#L163;

[2022-01-25 20:19] memsharded commented on #10427
Hi @datalogics-kam

It seems the profile still uses ``[build_requires]`` syntax, not ``tool_requires``. I don't recall if it was explicit decission not to add it, but I think it might be needed for helping to the 2.0 migration, as in 2.0 it has been renamed to ``[tool_requires]``

[2022-01-25 20:52] werto87 commented on #10413
I think this is possible. I made a minimal [example](https://github.com/werto87/cmake_get_target) of 2 project one creates the library and one consumes it with find_package. Based on this [stackoverflow post](https://stackoverflow.com/a/49143782/14468058).

[2022-01-25 21:13] memsharded commented on #10413
Very interesting. I will asign it to 1.46 to investigate a bit further, and evaluate the implementation effort in CMakeDeps. Steps:
- First, figure out the generated xxxx-config.cmake files generated by the above approach
- See if we have enough model for this, we might need to add ``srcs`` information to ``cpp_info`` (there is already ``srcdirs`` and ``objects``, but not source files.

[2022-01-25 21:17] memsharded commented on #10426
Hi @harsszegi

You can try the ``CONAN_CMAKE_PROGRAM`` to define that command you like, but that will apply to all invocations of cmake, both ``cmake.configure()`` and ``cmake.build()``.

What happens if the command is also added to the cmake configure step?

We might have a better chance to improve this with the new CMake integration (in ``from conan.tools.cmake import CMake``) and using ``[conf]

[2022-01-25 21:19] gabyx commented on #10253
Thats sounds very crisp!
Thanks for your effort!

[2022-01-25 21:59] memsharded commented on #10425
Yes, this is a known issue, I think this is the case in https://github.com/conan-io/conan/pull/9839/files too.

We don't plan to fix it in 1.X, too risky. It should be fixed already in 2.0.

[2022-01-25 22:58] earonesty commented on #10426
yes, CONAN_CMAKE_PROGRAM  is the only way you can run a program, especially if you have no control over the source package (like if it's from conancenter, for example, and you want to maintain a patch, not a fork)

if that package doesn't use CMAKE, i don't think there's any way to insert a hook that happens before the build process, especially since you can't call conan source on the package to p

[2022-01-25 23:01] sfhacker commented on #8476
Just built Poco 1.9.4 from source on exactly the same environment as of version 11.1.1. No issues at all.

![image](https://user-images.githubusercontent.com/25817529/151074042-347e15c0-644d-4d14-a2b9-cfe40b4ab8ef.png)

![image](https://user-images.githubusercontent.com/25817529/151074100-e61af021-28d0-42b5-89c4-9b1e413e0254.png)

[2022-01-25 23:04] sfhacker commented on #8476
Regarding the apr issue mentioned here 11 months ago, any news or update?

[2022-01-25 23:06] cchulo commented on #8476
@sfhacker Interesting, what does your profile look like? You are using Conan right? ultimately that's what determines cmake's behavior (though I could be wrong about this)

The error message I received building Poco without adding Windows SDK is that PocoMacros.cmake failed because it could not find compiler. This error is raised when targeting Windows.

[2022-01-25 23:08] memsharded commented on #7300
This is good feedback, we started to try to use sqlite for multi-process sync, but didn't go deeper. We might want to investigated and try this idea further.

Yes, reads can take as long as the consumer of a package is building. So when you are building one package from source you must lock all the transitive dependencies of that package (reader). This should allow other packages building in paral

[2022-01-25 23:39] memsharded commented on #8476
Hi!

I would like to comment that now, the new integrations AutotoolToolchain, AutotoolsDeps, etc, have automatic tests in our test suite, for different configurations:

- **gcc in msys/cygwin/mingw**: https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/gnu/autotools/test_basic.py has tests with cygwin and mingw. For using profiles with ``compiler=gcc``, if using msys

[2022-01-25 23:54] gegles commented on #9448
Yes, any updates? We desperately need to be able to build on iOS...

[2022-01-26 00:06] paulocoutinhox commented on #9448
Hi @gegles,

I think no one has focus on it :(

What im doing to solve this problem is using the `darwin-toolchain/1.5.0@ezored/stable` in the recipe. It works.

Thanks.

[2022-01-26 00:13] memsharded commented on #9448
Hi @gegles

This open issue is for some extra flags, but the standard support for Xcode is already there. We have tests in our tests suite that cross-compile for iOS and M1 for example:

- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/ios/test_using_cmake.py
- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/cmake/test_cmake_toolch

[2022-01-26 00:54] harsszegi commented on #10426
Thanks guys, I don’t think CONAN_CMAKE_PROGRAM is sufficient sadly as you could see from the example, technically speaking cmake is not actually prepended with another comand, but something like this instead:

custom_cmd_prefix=‘buildconsole /command=“‘
custom_cmd_postfix=‘“‘
final_cmake_cmd=custom_cmd_prefix+original_cmake_cmd+custom_cmd_postfix

[2022-01-26 02:48] huweiATgithub commented on #10404
Thank you. I found the problem.
I miss passing the build profile: `-pr:b`. Besides, this doesn't work if build_type is set to Debug?

[2022-01-26 07:35] rurban commented on #7732
So you insist on using the very same version number for locally patched remotes?
ERROR: Package recipe with version 3.0.0!=3.0.0.1

E.g. I'm using my-remote pkg 3.0.0 and need to patch it to 3.0.0.1, because remote needs a month to bump it.
In your scheme I either have use 3.0.0 even with my local patches, or wait for the remote to patch it.

client/loader.py:139

[2022-01-26 08:15] memsharded commented on #7732
Hi @rurban

It is not very clear what your question or issue is. If you could provide more details, that would be useful. If you bump the version, aren't you bumping the ``version = xxx`` field and the ``conandata.yml`` data?

[2022-01-26 08:29] a4z commented on #9448
not exactly true, for me things worked quite will on Mac, with the info I shared.

It is of course unfortunate that conan team decided to ignore the info I contributed as a PR to the conan docs,
so that based on that toolchains could be build up, but that's how it is.

However, the main question might be, what is your actual problem you need to solve and the solution is missing?

[2022-01-26 09:00] theodelrieu commented on #10422
I think the folder removal should be the default behavior. It could be prevented by an explicit option, a bit like `cmake.verbose = True` is required when one wants to debug something.

[2022-01-26 09:29] franramirez688 commented on #10252
After reviewing some related issues, I'm closing the issue. I think it's good enough for now and it seems it's not a very claimed issue.
Indeed, we're trying to improve the general way that we're adding specific flags so it could help to improve it.

[2022-01-26 09:29] #10252 closed, assigned to franramirez688

[2022-01-26 09:51] #8476 closed, assigned to danimtb

[2022-01-26 09:54] memsharded commented on #8476
https://github.com/conan-io/conan/pull/10429 merged, please open new tickets if necessary, basing them on the above tests would be very useful. Thanks all for the feedback!

[2022-01-26 10:10] memsharded commented on #10404
It should work with build_type=Debug too, yes, is it failing? The default Ninja generator is not multi-config, it requires a dedicated build folder for the Debug build, the Release one cannot be re-used for it.

[2022-01-26 11:06] ericLemanissier commented on #8476
@memsharded Thanks. I fail to see how #10429 is related to the issue I faced, so I made a test case on https://github.com/conan-io/conan-center-index/pull/9091

[2022-01-26 11:36] memsharded commented on #8476
@ericLemanissier I responded in https://github.com/conan-io/conan-center-index/pull/9091#issuecomment-1022114779. So far it seems ConanCenter related issues, not lack of support in the client side.

First point, it is a ConanCenter hook issue, not sure how the AutotoolsToolchain would be connected with that. The other error is missing configuration. Part of the new integrations design is stop tryi

[2022-01-26 11:55] memsharded commented on #8476
Following conan-io/conan-center-index#9091 (comment), it could be that changing the default toolchain ``datadir`` to "res" instead of "share" would be more aligned with ConanCenter requested layouts, lets check it.

Created new issue https://github.com/conan-io/conan/issues/10430 to track this.

[2022-01-26 11:56] memsharded opened #10430 "AutotoolsToolchain could use "res" as datadir instead of "share", to align with ConanCenter"
Following conan-io/conan-center-index#9091 (comment), it could be that changing the default toolchain ``datadir`` to "res" instead of "share" would be more aligned with ConanCenter requested layouts, lets check it.

_Originally posted by @memsharded in https://github.com/conan-io/conan/issues/8476#issuecomment-1022130033_

[2022-01-26 12:03] memsharded commented on #10329
Hi @nichmj01 I think you would be interested in reading https://github.com/conan-io/tribe/pull/30, we are proposing to remove ``package_revision_mode`` in 2.0. ``recipe_revision_mode`` should be more than enough for tracking any possible source change and requiring binaries to be rebuilt, without going to the package revision level.

[2022-01-26 12:04] ericLemanissier commented on #10430
My personal take on this is that using `share` folder would allow to simplify a lot of recipes which have to manually move some resources to the `res` folder, which is non-standard.

[2022-01-26 13:50] #10421 closed, assigned to memsharded

[2022-01-26 15:55] wer14 opened #10435 "[question] Package links against all dependent components instead of one"
I'm trying to link against a specific Qt5 component `qtCore` for example. But for some reason `conan` links against all components that `Qt` declares. As a result I end up with a include list in a `.vcxproj` file That contains all components that Qt has.

[code]

The [docs ](https://docs.conan.io/en/latest/creating_packages/package_information.html)say below code snippet would work:

[code]

- [x]

[2022-01-26 17:02] memsharded commented on #10435
Hi @gmikhaile

Which consumer integration are you using? Not all of them might support components at the moment. It would be good to have a more detailed ``LinkAgainstQtCoreOnly`` with the generators used, the ``conan install`` command and seeing what files Conan is generating for the Qt dependency.

[2022-01-26 17:12] gegles commented on #9448
Thanks @paulo-coutinho and @memsharded!

I was actually running into bitcode issues... but:

* `darwin-toolchain/1.5.0@ezored/stable` overall seems to work for me now.
* `openssl/3.0.1` would not compile for me when using `[options] darwin-toolchain:enable_bitcode=True`
* So I ended up disabling bitcode in my library and it seems to build fine now (at least on iOS)

My issues are now on the Androi

[2022-01-26 17:14] Knitschi opened #10436 "[question] How to upload a binary package that was just created in CI?"
Hi,

On my CI server I am creating a package by calling ```conan create```. After that I want to upload the binary package that was just created. The poblem I face now is that I do not know how I can automate uploading exactly the package that was created with the previous create call. I think I could use the full reference like ```conan upload MyLib/1.0.0@jenkins/stable:<binary package hash> -r m

[2022-01-26 17:35] paulocoutinhox commented on #9448
Hi @gegles,

I made a project that have all of this problem solved:
https://github.com/ezored/ezored

Im using openssl `openssl/1.1.1k` without problems with bitcode or other thing. I don't know what error you get for `openssl 3`.

Android things are built without problems too. My android profile on ezored:

[code]

Maybe it help you.

[2022-01-26 17:41] Knitschi commented on #10436
Sorry for bothering you. I think I found the solution on my own. I guess I will use something like

[code]

and then parse the created json file.

[2022-01-26 18:01] fourbft commented on #10074
I don't know, if I understood your problem correctly, but when you wrote:

did you mean that it does not update the alias in the local cache?
Would deleting the alias in the local cache prior to the install help? Because Conan then fetches the alias from the server and thus will pick up the updated aliases. I. e. something like:
[code]
before your `conan install ..,`?

[2022-01-26 21:15] pblxptr commented on #7431
Hello, as some time has passed I would like to ask if something has changed regarding this question? I browsed through the newest documentation but I haven't found anything that would address this topic. If not, are there any plans to have a look at this in the nearest future?

[2022-01-26 21:40] Makogan opened #10438 "[question] Error when using PkgConfigDeps generator"
I don;t know if this is a bug or user error.

I have this recipe:
[code]

If I do conan install I get the error:
[code]

But this seems very similar to what the docs say one must do:

https://docs.conan.io/en/latest/reference/conanfile/tools/gnu/pkgconfigdeps.html

- [ x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-01-26 21:42] Makogan commented on #10438
I forgot to include the PkgConfigDeps python module

[2022-01-26 21:42] #10438 closed, assigned to nobody

[2022-01-26 21:49] Makogan opened #10439 "[bug] Vulkan Validation layers packages causes conan to crash with generator PkgConfigDeps"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: msvc 17
  * Conan version: 1.44.0
  * Python version: 3.11

### Steps to reproduce (Include if Applicable)

Create this conan.py:

[code]

 Then run:

` conan install . -s build_type=Debug -s compiler.runtime=MDd -s compiler="Visual Studio" -s compiler.version=17 --build=miss

[2022-01-26 21:50] memsharded commented on #7431
Hi!

As an update, @uilianries has recently resumed work on yocto, that has been on hold for a while, due to focus on resources on other parts (ConanCenter, Conan 2.0). He is supporting now efforts in https://github.com/conan-io/meta-conan. Probably it makes sense to start with some basic proof oc concept there? Lets see what @uilianries thinks and suggest.