[2022-11-19 20:13] fschoenm commented on #11732
Maybe I'm missing something. I do want to add these packages to the consumer conanfile like in the example. But doesn't the custom deployer operate on all (direct) dependencies? I only want it to operate on a specific subset of dependencies.

[2022-11-19 20:54] memsharded commented on #11732
The custom deployers receive the whole dependency graph as argument, and from there you can decide what to do, you have all the information, starting from the consumer conanfile. It does not operate on the direct dependencies, it gets the full graph. Maybe you want to share a bit of your deployer?

[2022-11-19 22:08] fschoenm commented on #11732
I posted it above: https://github.com/conan-io/conan/issues/11732#issuecomment-1315468924 (with _project-support_ as package name instead of _clang-tidy-config_ and _clang-format-config_).

[2022-11-19 22:34] memsharded commented on #11732
Oh, yes, sorry, now I see.

Then, maybe something like this?
[code]
and deployer:

[code]

[2022-11-20 04:02] samuel-emrys commented on #7240
[@jgsogo said..](https://github.com/conan-io/conan/issues/7240#issuecomment-649290533)

## Not considering cross compilation

Stepping away from the cross compilation problem where the build and host profiles are different for a second, how would this work for a more vanilla use case, where a package _only_ distributes an executable? The use case I have in mind in particular is `sphinx-build`, whe

[2022-11-20 04:52] samuel-emrys opened #12570 "[question] Source of Contribution License - Contributor License Agreement"
I've been reviewing the [Contributor License Agreement](https://cla-assistant.io/conan-io/conan) to better understand the license conditions under which contributions are made. This is the relevant extract from the CLA:

I guess what I'm looking for is an answer to the following questions:

1. Does "appropriate open source license" here mean that conan mandate contributions are made under the MIT

[2022-11-20 08:03] MLIOSBond commented on #12527
Well, fair enough. I'll consider installing it then.

I'll update this thread on the next weekend based on the results. Thanks a lot!

[2022-11-20 09:27] fschoenm commented on #11732
OK, that works although it is still a little more manual than I'd like. Ideally I'd like the package to declare itself as a type of dependency that has to be deployed like this.

What do you think about the idea of letting the users specify their own [package type](https://docs.conan.io/en/2.0/reference/conanfile/attributes.html#reference-conanfile-attributes-package-type)? I experimented with tha

[2022-11-20 17:26] hassec commented on #12429
FWIW, the same problem shows up when trying to build in the msys2 subsystem on Windows.

[2022-11-20 18:16] hassec commented on #11986
Mhh, but what if someone is using their own msys2 installation?

E.g. the profile I'm currently using while trying to get a build working on msys is:

[code]

And if I start the `conan` command from PowerShell, I run into the above problem as described by @jellespijker.
And with #11987 I don't get those `printenv` warnings :+1:

So should that PR or a different solution maybe be reconsidered?

[2022-11-20 18:53] System-Arch opened #12571 "[bug] validate_build fails to report errors when building "self" or "root" node"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 10
  * Compiler+version: gcc 8
  * Conan version: 2.0-beta5
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

Here's the associated conanfile.py:

from conan import ConanFile
from conan.errors import Cona

[2022-11-20 18:57] System-Arch commented on #12571
From what I can tell, validate_build() errors are only being reported for dependencies of the current target and not on that target itself. This assumption is based on the logic found in: conans/client/graph/install_graph.py:

I believe this logic skips the "self" (target) or "root" node in the graph and thus the errors associated with this node go unreported.

[2022-11-20 22:44] memsharded commented on #12571
Thanks for the detailed report and the investigation.
The check for the current "consumer" happens in a different place, because it is not a package yet. I am proposing a potential fix in https://github.com/conan-io/conan/pull/12573

[2022-11-21 07:45] harsszegi commented on #12566
Thanks @jcar87,
I'll try the CMAKE_C_COMPILER / CMAKE_CXX_COMPILER first (we have CXX/CC set in profiles already)

[2022-11-21 07:45] #12566 closed, assigned to jcar87

[2022-11-21 10:18] memsharded commented on #12570
Hi @samuel-emrys

Yes, this is what it means. The contributions will be under the repo MIT license, this is what the CLA is for. Otherwise, the burden imposed to users of the tool, that would probably had to validate many different licenses (as there are hundreds of contributors), would be too much, and in practice it could also mean a no-go for some users, specially in restricted enterprise envir

[2022-11-21 11:45] samuel-emrys commented on #12570
Thanks for the clarification @memsharded - really appreciate it. I'm not a lawyer, but it would have helped me understand the requirements more clearly if it had have been explicitly indicated in the CLA that contributions must be made under the MIT license. The alternative interpretation (that I don't see excluded in the existing language) might be that a different _but compatible_ license would

[2022-11-21 11:58] Bearwolves commented on #12564
@jcar87 : I'm completely open about the notation. I just want to make it work 👼

I tried initially with the target as you mention but without success with the version 1.54.0. May be I missed something?
Could you have a look at https://github.com/Bearwolves/cmake-deps-bug-12564/blob/main/app/CMakeLists.txt .

If I add my fix and following configuration, it works:
* https://github.com/Bearwolves/cma

[2022-11-21 12:09] System-Arch commented on #12571
Hi @memsharded,
Thank you for the quick resolution . I tested the fix and it indeed addresses my original use case.

[2022-11-21 12:09] #12571 closed, assigned to memsharded

[2022-11-21 12:22] memsharded commented on #12571
Great, many thanks for testing it!

[2022-11-21 12:25] System-Arch commented on #12571
Hi @memsharded,
One more question--will this fix be backported to Conan 1.x as it seems to exhibit the same issue? Thanks

[2022-11-21 12:43] memsharded commented on #12571
I don't think so, because we discussed about this, and even if a bit weird, it could be breaking, as some users using the local flow could be working for them (forcing a mismatch from declared settings), and they would like the ``validate()`` only to avoid building in the cache. So the risk of breaking them is not worth it.

[2022-11-21 13:18] jsallay opened #12574 "[feature] conan 2.0 - Better indications that user needs to login to remote"
I have a case where I have a private conan remote that a user must log into.  In conan 1.0, if I do a command such as `conan install pkg/version@` it will ask me to login to a remote if I haven't done so yet.  In conan 2.0, `conan install --requires pkg/version` returns a message saying `Unable to find 'pkg/version' in remotes`.  Other commands like `conan search` exhibit similar behavior in conan

[2022-11-21 13:22] Taresmajic opened #12575 "[bug] Conan crashes during imports() in Qt when LD_LIBRARY_PATH is set"
I'm having an issue with Conan in Qt Creator. I'm using Ubuntu 20.04, Qt 5.12. I'm using qmake as a build tool, and in the build steps I have a custom step that runs Conan. The issue occurs during the `imports()` step, where Conan crashes while importing (copying) libraries. This issue doesn't occur if LD_LIBRARY_PATH environment variable isn't set. I can't reproduce the problem from the command l

[2022-11-21 13:35] memsharded commented on #12574
Hi @jsallay

Trying to understand a bit better, because I think this issue has been requested before, and it couldn't be implemented because of the way security is managed in the server side.

I am trying in conan 2.0, and if I have my private remote and I do ``conan search * -r=myremote`` then it will also force the auth with user/password in the same way it is required for a ``conan install``. I

[2022-11-21 13:38] memsharded commented on #12575
Hi @Taresmajic

I am afraid we don't have enough information to know what could be happening. We would need something that we could reproduce, or at least more details, like the ``imports()`` method implementation, the exact commands being used, the full terminal output, etc.

[2022-11-21 13:41] memsharded commented on #12570
Yes, all Conan repos use the same CLA and same MIT license, so it will apply to ``conan-center-index`` repository too.

[2022-11-21 13:44] Taresmajic commented on #12575
[code]

I also managed to reproduce the crash in command line, segmentation fault.
`export LD_LIBRARY_PATH=/path/to/build-debug/lib`
`conan install --install-folder ../build-debug ../project-directory -s build_type=Debug`

For some reason Conan crashes if I have the LD_LIBRARY_PATH set and the destination directory is not empty.

[2022-11-21 13:46] jsallay commented on #12574
I have a fresh ubuntu20.04 container running beta5.  The output of `conan search "*" -r=remote` is:
[code]

I am using artifactory to store my packages.  I have two remote repos.  A public one and a private one.  I was using a virtual repo to group them together, which I thought could be part of the problem.  However, I started another fresh container.  Set my remote to point only to the private r

[2022-11-21 13:50] Taresmajic commented on #12575
[code]

[2022-11-21 13:55] jsallay commented on #12574
I looked at my artifactory settings and it looks like that is the issue.  I was able to change a setting and now it asks for a login on the private repo when I do a search.

The issue still exists for the virtual repo, but I don't think I need that anymore.  If I remember correctly, in conan 1.0 most commands could only specify a single remote.  If I had two remotes that I wanted to draw packages

[2022-11-21 13:55] #12574 closed, assigned to memsharded

[2022-11-21 14:25] Taresmajic commented on #12575
Steps to reproduce
conanfile.txt
[code]

Run:
1. export LD_LIBRARY_PATH=/path/to/current/dir/lib (have this path point to the lib where conan will copy libraries)
2.  conan install .
3.  conan install .

On the second Conan install run it should seg fault.

I hope this helps @memsharded

[2022-11-21 14:50] memsharded commented on #12575
Yes, this really helped, thanks very much, I managed to reproduce.

I am having a look, this is definitely super weird. This is my understanding:

- The Python interpreter is loading the libz.so that is inside the ``lib`` folder with the imported file
- When the second invocation of Conan tries to overwrite the libz.so, as it is being used, it cannot do it, and it crashes

I think that there is ve

[2022-11-21 14:57] Taresmajic commented on #12575
Thank you @memsharded for the explanation and the solution. This is going to be a bit hard to incorporate in the Qt Creator way of building, but I do know where to look, and what to do. Best of luck to you

[2022-11-21 15:04] xakod commented on #10120
I faced the same issue with find_package generator. Sometimes recipes with CmakeDeps are broken and you need to use another generator.

[2022-11-21 16:23] insi-eb opened #12576 "[bug] conan does full git submodule checkout to conan cache with "shallow" scm setting"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: n/a
  * Conan version: 1.53
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
* have a repo with a large submodule
* configure scm in a conanfile.py to have "shallow" flag on submodule
* run conan to check out this repo to conan cache (e.g. via conan install)

[2022-11-21 16:52] System-Arch commented on #12571
Hi @memsharded,

Interesting, This complicates the compatibility strategy that CCI is using. On a related note, do you know if there are plans to permit access to self.options (in addition to self.info.options) in the validate() method in 2.0 or 1.x? Thanks

[2022-11-21 16:55] memsharded commented on #12571
It shouldn't. CCI works on ``export``ed recipes in the cache, in that case the ``validate_build()`` should still work, the issue fixed here is for the local flow only, but CCI is not using it.

Yes, this has been fixed already in the ``develop2`` branch, it will be reverted, and the recommended approach will be to use ``self.settings`` and ``self.options`` in both ``validate/validate_build()`` met

[2022-11-21 17:55] memsharded commented on #12576
Hi @insi-eb

Thanks for the report.

I'd like to point out that the ``scm`` feature has already been removed in Conan 2.0, and it has already landed a replacement in Conan 1.X, so it can be used in 1.X. This feature is intended to provide much better control on how things are managed around the scm, making explicit the whole process. I would recommend to have a look to https://docs.conan.io/en/lat

[2022-11-21 21:24] #12570 closed, assigned to nobody

[2022-11-22 01:57] levenkov commented on #11269
It seems that this bug is still reproducable in case of `self.cpp_info.component["foo"].system_libs = ...`

[2022-11-22 05:56] disha123-bm opened #12579 "I am trying to convert 1 particular component to conan 2.0, but I am facing some kind of issues."
These 3 are the errors I am getting

*ERROR: Error reading 'conan_profiles/x86_64' profile: ConfigParser: Unrecognized field 'build_requires'

*ERROR: Error loading conanfile at '/home/dibm/bird_routing/conanfile.py': Unable to load conanfile in /home/dibm/bird_routing/conanfile.py
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", lin

[2022-11-22 08:30] memsharded commented on #12579
Hi @disha123-bm

Conan 2.0 has removed some legacy tools. Here is the migration guide to help you prepare for 2.0: https://docs.conan.io/en/latest/conan_v2.html
- AutotoolsBuildEnvironment has been removed. You need to update to the new tools in: https://docs.conan.io/en/latest/reference/conanfile/tools.html
- The environment management has changed, you need to use ``[buildenv]`` and ``[runenv]``:

[2022-11-22 09:27] memsharded commented on #12462
Fix proposed in https://github.com/conan-io/conan/pull/12580

[2022-11-22 09:46] harsszegi opened #12581 "[question] logic 'behind conan config home's output?"
Hey,

we are using the output of 'conan config home' in scripts to figure out the "base config directory" for Conan.
This gets harder and harder, as between releases the settings.yml migration output changes. E.g. before 1.54
they were displayed as warning (e.g. "WARN:" was before them). With 1.54. This is kept, but there is a line
displaying some migration related message without WARN:

E.g. if y

[2022-11-22 10:19] memsharded commented on #12581
Hi @harsszegi

Yes, this has been already addressed in 2.0, with a much simpler logic:
- The ``settings.yml`` contains a first line with a comment ``# This file was generated by Conan. Remove this comment if you edit this file or Conan``
- If you modify things and remove the comment, nothing will be migrated, nothing will happen, ever.
- If you leave the comment the file will be systematically upg

[2022-11-22 10:23] emricolSICKAG opened #12582 "[question] How to update a specific dependency in your lock file?"
Scenario:
- You are working on a release and you have to fix a bug in a single direct dependency.
- You update the bug fixed version in your conan file.
- Now I want to update that dependency in my lock file without updating all other transitive dependencies.

There is a workflow in the [documentation](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#products-pipeline) solving some asp

[2022-11-22 10:29] memsharded commented on #12582
Hi @OEmrich

I am afraid that in Conan 1.X this might be very challenging, and also likely to break something. Lockfiles in 1.X store the full dependency graph, so it would be necessary to know which dependency needs to be changed, and replace it. I wouldn't recommend it.

Conan 2.0 lockfiles are a very different story. They even contain a ``conan lock add <ref>``, so you can manually add a depend

[2022-11-22 10:30] harsszegi commented on #12581
Aok, thanks!

[2022-11-22 10:30] #12581 closed, assigned to memsharded

[2022-11-22 12:19] #12462 closed, assigned to memsharded

[2022-11-22 12:19] memsharded commented on #12462
Merged https://github.com/conan-io/conan/pull/12580, ready for 1.55

[2022-11-22 12:43] emricolSICKAG commented on #12582
@memsharded Thank you for your response. Your reaction time is amazing.

I think I m looking forward for conan 2.0 then.

[2022-11-22 12:43] #12582 closed, assigned to memsharded

[2022-11-22 13:46] domfellner opened #12583 "[question] Gracefully overwriting user of delivered package"
Hi community,

I get a delivery of lets say two dependent packages (say `libA/1.0.0@ernie/stable` which in turn requires `libB/1.0.0@ernie/stable`), but for some compliance reasons I as a consumer need to modify the user in the references to be `bert` instead of `ernie` (or by some means put `bert` prominently in the reference). I thought of repackaging the packages using export-pkg on the origina

[2022-11-22 14:15] foundry-markf commented on #12565
Polite bump. I was hoping this might be a quick explanation. Thanks.

[2022-11-22 14:34] memsharded commented on #12583
Hi @domfellner

I am afraid is not possible, because there is not enough information at evaluation time to define only the variation, and propagating only the variation would be too much of a challenge, a quite complicated feature. So it is necessary to define the whole thing, including version, yes.

I'd like to comment that looking at the future and 2.0, the user/channel part will be less releva

[2022-11-22 14:55] memsharded commented on #7118
@czoido is going to propose some client side (from ``CMakeDeps``) configuration to customize how dependencies are consumed ("generated config.cmake", "generated Cmake Find module", "in-package cmake file").

[2022-11-22 15:05] obsgolem opened #12584 "[bug] 'Sqlite3Conan' object has no attribute 'env_info' in conan-2.0.0b5"
All relevant details of this bug are in https://github.com/conan-io/conan-center-index/issues/14361.

[2022-11-22 15:30] memsharded commented on #12584
Hi @obsgolem

You are right, there is a bug there, I am submitting https://github.com/conan-io/conan/pull/12585 to fix it asap.
Many thanks for reporting!

[2022-11-22 15:40] #12041 closed, assigned to lasote

[2022-11-22 15:59] memsharded commented on #12077
This should be fixed by https://github.com/conan-io/conan/pull/12049, for next 1.55

[2022-11-22 15:59] #12077 closed, assigned to lasote

[2022-11-22 16:01] memsharded commented on #12534
@czoido will develop some consumer-side (``CMakeDeps``) selection and customization of dependencies information, so it is less necessary to specify it in the source repos.

[2022-11-22 16:31] lakinwecker opened #12586 "[bug] Visual Studio 17.4.x doesn't provide CMAKE_BUILD_TYPE and generators are broken as a result"
### Environment Details (include every applicable attribute)
  * Windows 10 / Windows 11:
  * Visual Studio 17.4.x (Visual studio 17.3.x did not have this issue)
  * Conan version: 1.54.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
https://github.com/lakinwecker/cuddly-rotary-phone/

I made a minimal reproducing example. The above code compiles fine in Linux, but not in

[2022-11-22 16:35] obsgolem commented on #12584
Just FYI, there is a similar issue https://github.com/conan-io/conan-center-index/issues/14365

[2022-11-22 17:26] memsharded commented on #12586
Hi @lakinwecker

I haven't upgraded my VS yet, it is in my TODO list.

I'd like to ask about:

[code]
If you are opening the CMakeLists with the VS-CMake integration, that by default is using the Release/Debug configurations, while you installed only the ``RelWithDebInfo``. In theory you should be installing the matching ``-s build_type=Release`` and ``-s build_type=Debug`` configurations of the d

[2022-11-22 17:33] memsharded commented on #12584
Closed by https://github.com/conan-io/conan/pull/12585

[2022-11-22 17:34] memsharded commented on #12584
and https://github.com/conan-io/conan/pull/12578 will care about the ``build_modules`` too

[2022-11-22 17:34] #12584 closed, assigned to memsharded

[2022-11-22 17:40] hwhsu1231 commented on #12077
@memsharded

It still doesn't work. Those target properties are still empty:

- `IMPORTED_LOCATION`
- `IMPORTED_LOCATION_DEBUG`
- `IMPORTED_LOCATION_RELEASE`

### Install the latest version of Conan

First of all, I install Conan from the latest `develop` branch of conan repository by running the following commands:

[code]

<details><summary>Click to expand log</summary>

[code]

</details>

###

[2022-11-22 17:49] hwhsu1231 commented on #12077
What did I miss?

[2022-11-22 18:25] lakinwecker commented on #12586
Apologies for using a bug report as support. I thought I had tracked down a real bug.

Switching to command line only (and adding a build profile) https://github.com/lakinwecker/cuddly-rotary-phone/commit/f5e4fb36cf388a293b3f437d043e624956580381 and now  it seems to work:

[code]

[2022-11-22 18:25] #12586 closed, assigned to memsharded

[2022-11-22 20:18] jsallay opened #12587 "[bug] Conan 2.0 editable packages with CMakeDeps"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc9
  * Conan version: 2.0.0-beta5
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I'm experimenting with using editable packages in conan 2.0beta5 and I'm having a few problems.  It's possible that I'm not using them correctly.  It feels to me l

[2022-11-22 20:32] je894591 opened #12588 "[bug] Cannot declare a tool_requires on both protobuf and gRPC"
We use a Conan project that requires both `protoc` and the `grpc_cpp_plugin` binaries via tool_requires when cross-building. This hasn't been working for some time due to conflicting zlib requirements in the Conan Center Index protobuf and gRPC packages.

I found https://github.com/conan-io/conan/issues/11512#issuecomment-1164073451 that seems to suggest I need to override the protobuf zlib depend

[2022-11-22 20:46] jave27 opened #12589 "[bug] conan info fails if a package was built with --require-override"
When building with the `--require-override` flag, `conan info` fails to get any information about the successfully-created package. I'd like to use this for our internal builds of libraries that are using outdated (and possibly CVE-impacted) versions of `openssl` or `zlib`. Ultimately, the solution is to update all of the recipes on conan-center to use the new versions of their dependencies, but a

[2022-11-22 21:38] memsharded commented on #12560
Closed by https://github.com/conan-io/conan/pull/12578

[2022-11-22 21:38] #12560 closed, assigned to nobody

[2022-11-22 21:47] KurtWAndrews opened #12590 "Getting Started Question"
Hello,

I'm trying to get started using Conan for package management of a C++ development project using CMake and developing on Mac OS Ventura.  I do a lot of Python development for as part of my job and always create a virtualenv inside each project to provide the python environment.  This is the first time I've tried to use an application developed with python to manage package dependencies for

[2022-11-22 22:00] memsharded commented on #12590
Hi @KurtWAndrews

You are fine with just one virtualenv for Conan, unless you would like to manage simultaneously several Conan versions (like to prepare an upgrade), in that case, indeed using one virtualenv for each Conan version makes sense (pipx also good).

Then, the Conan cache, containing all Conan configuration, files and package binaries cache, is by default in ``<userhome>/.conan``. This

[2022-11-22 22:01] System-Arch commented on #12571
Hi @memsharded,

What I meant here was use of the CCI recipes in green field projects.

Will self.info.* still exist and are they essentially outputs from the recipe's point of view and only used for matching package ID's? Just trying to get a clear picture of the model in my head.

Thanks

[2022-11-22 22:08] memsharded commented on #12586
No need to apologize! 😄 It is perfectly ok to use Github issues for questions and support, it is our main support channel. Do not hesitate to open new tickets for any further question that you might have.

From what you report, it sounds it could indeed be related to the VS-CMake integration. I have seen many users going back to command line ``cmake`` creation of the project and then opening the c

[2022-11-22 22:10] KurtWAndrews commented on #12590
Thanks for the education and the quick response.

[2022-11-22 22:10] #12590 closed, assigned to memsharded

[2022-11-22 22:14] memsharded commented on #12589
Hi @jave27

I have a quick question, why are you running a ``conan info`` just after the ``conan create``?
Have you considered running the ``conan create --json=myjsonfile``? That will create a json with a lot of information about the dependency graph, probably something close to what ``conan info`` is retrieving.

[2022-11-22 22:20] jave27 commented on #12589
Yes, I could get that information from `create` itself, but that doesn't change the fact that if I wanted that info at some other point in the future, I believe it is inaccessible unless I rebuild the package.

Well, inaccessible programmatically anyway. Looking at the generated `conaninfo.txt` file in the package folder itself, it seems like that information is all there.

[2022-11-22 22:21] memsharded commented on #12587
Hi @jsallay

I think it is looking good. The ``build/Release`` folder should be the default folder where the resulting files from the build will end. Is this not the case? Where ``t0.lib`` is located wrt the ``t0`` root folder?
Is it possible that you are calling building over ``t1`` before ``t0`` was built?

Also, a new 2.0 feature that could be useful: when running ``conan install t1 --build=edi

[2022-11-22 22:33] memsharded commented on #12565
Hi @foundry-markf

Sorry about that, the notification was buried in another ton of notifications. Thanks for the bump 😄

The main difference when removing settings in the ``configure()`` method is that it will inhibit the application of the respective compiler flags in the build system integrations like ``CMakeToolchain``. If they are not removed, things like ``libcxx`` or ``cppstd`` flags might b

[2022-11-22 22:41] memsharded commented on #12589
I see. It looks like a missing feature, it was never implemented on ``conan info``, because we were never confident in the ``--require-override`` approach. In fact it has been removed in 2.0, and it will only accept overrides either on recipes, or partially in lockfiles (as long as the override fits in a defined version range, lockfiles will not be able to override outside of defined version range

[2022-11-22 22:45] memsharded commented on #12571
Yes, CCI recipes that are used with the local flow will not raise in 1.X. But that shouldn't be a huge use case, compared with others, as third-party dependencies are not that typically to be developed with the local flow. Most of the users just do a ``conan create`` + ``conan upload`` in CI to populate the third party packages.

Yes, ``self.info`` still exists in 2.0, and its main, probably uniqu

[2022-11-22 23:02] jsallay commented on #12587
I think I have a guess as to the point of confusion.  Are you using the built version as the package instead of an installed version?  i.e. running `make` would "install" the package so other packages could see it instead of running `make install`?  When I read about editable packages, I assumed it would use the standard paradigm of cmake -> make -> install.  Can you help me understand why this is

[2022-11-22 23:24] memsharded commented on #12587
I see. The ``editables`` are designed so libraries, include headers, etc, can be used directly from the source and build folders, without any necessary ``install`` process. This has several advantages:
- Do not pollute the local folder with any extra copies of artifacts, just the build folders as they would typically happen during build
- Some build systems is not that evident to run a ``install``

[2022-11-22 23:53] jsallay commented on #12587
Thank you for the explanation.  I'm trying I'm going to be able to use editable packages.
Is it possible to know if you are in an editable package in the recipe file?  Is so I could put in extra rules to handle the different cases.  I believe that I would have to have a special case for the code not being in the recipe folder and other special cases for any environment variables that the recipes s

[2022-11-22 23:53] lakinwecker commented on #12586
I have tried the same transition on my real project:
* switched to `CMakeDeps` and `CMakeToolchain`
* added in an explicit build preset for visual studio (this is what allows it to tell that you're using Release/RelWithDebInfo etc)

Currently rebuilding from scratch, but it's working so far. :crossed_fingers:

[2022-11-22 23:54] lakinwecker commented on #12586
Thanks again for the help, I really appreciate it!

[2022-11-23 00:07] memsharded commented on #12587
I am afraid that the necessary abstraction for env-vars is not there yet, please check: https://github.com/conan-io/conan/issues/12499. It is possible to define env-vars that do not depend on the current ``package_folder``, because that is ``None`` in editable mode. This is something that requires some time, it is not an obvious feature to implement.

But if the package can be "make.install()", an

[2022-11-23 00:22] jsallay commented on #12587
I'm getting ready to transition my team over to using conan based packages.  I've been working out how to train them up for normal development workflows.  Editable packages seemed like a great solution.  I wrote a script that wraps the `conan editable add`, `conan install`, and `cmake` commands.  I was hoping that I could tell them that you run this script and then you can keep doing your standard

[2022-11-23 05:50] disha123-bm commented on #12579
What changes we need to do in the set_version() method in conan 2.0?

* Exporting the recipe
ERROR: conanfile.py: Error in set_version() method, line 24
        self.version = "%s_%s" % (git.get_branch(), git.get_revision())
        AttributeError: 'Git' object has no attribute 'get_branch'

*ERROR: Invalid package version 'git.get_branch()_git.get_revision()'

[2022-11-23 05:51] disha123-bm opened #12592 "What changes we need to do in the set_version() method in conan 2.0?"
*Exporting the recipe
ERROR: conanfile.py: Error in set_version() method, line 24
self.version = "%s_%s" % (git.get_branch(), git.get_revision())
AttributeError: 'Git' object has no attribute 'get_branch'

*ERROR: Invalid package version 'git.get_branch()_git.get_revision()'

[2022-11-23 09:07] emricolSICKAG opened #12593 "[question] Is it possible to install the lower border of your version ranges?"
If I'm using version ranges in my conan file and install my dependencies the latest compatible versions will be used or at least I can force it with --update.
Is it somehow possible to achieve the opposite and use the lowest compatible versions in your version ranges to make sure the lowest borders are set correctly?

The only workaround we came up with was duplicating all requires and setting the

[2022-11-23 09:20] Drllap opened #12594 "[bug] Running conan create throws an error"
I get an error when running `conan create`.
``ERROR: path is on mount '\\\\?\\D:', start on mount 'C:'``

Don't know if it is relevant, but the source code is on the `D:`.

### Environment Details
  * Windows 10
  * Conan version 1.53.0
  * Python 3.9.12

### Steps to reproduce

### Logs
Running command: `conan create . <name>/test -pr=d64 `.
Output:
[code]

[2022-11-23 09:50] domfellner commented on #12583
Thanks for your answer @memsharded even if it's negative as I already feared.

We are usually propagating packages via remotes, not references, as it's regarded best practice and leaves packages unmodified. In this special case though we are required to add some prominent tag to the reference which cannot be done by the delivering team as it's only our consumer's need, not theirs.

We might as wel

[2022-11-23 09:50] #12583 closed, assigned to memsharded

[2022-11-23 10:05] czoido commented on #12594
Hi @Drllap,
Thanks for reporting. We would need some more data to reproduce this issue and understand what's happening, can you give a simplified example of your recipe file that produces the same error? Maybe something starting from a template like `conan new foo/1.0 --template cmake_lib` and then modifying it to produce the same error.

[2022-11-23 10:33] maitrey opened #12595 "[question] Handling object files"
Dear Conan Folks,

Some of my packages provide only object files. Therefore, I am using self.cpp_info.component.objects to set the path to the obj files.
How do I access the object files from a consuming package?
Is it okay to use: PkG_OBJECTS_RELEASE?
I could find the documentation for the self.cpp_info.component.objects https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highligh

[2022-11-23 10:49] LevWi commented on #10916
I have same problem if test_packages directories used  for conan v2
If you use  conan-center-index then check test_v1_package directories. It's help me

[2022-11-23 11:03] memsharded commented on #12587
It is true that editables add some complexity, it is an inherently complex problem. But apart from the env-vars issue, it is working well so far, and it allows for very effective setups that a developer can do in a couple of minutes, and it really provides a great developer experience, working in multiple packages in one single IDE project, modifying files and having everything built, managed, deb

[2022-11-23 11:13] memsharded commented on #12579
These are the docs for the new ``Git`` object: https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html

It doesn't contain a ``get_branch()`` helper, and the replacement for ``get_revision()`` would be ``get_commit()``. You have the ``git.run(...)`` helper to run any git command that you want, you could do it to get the branch.

I would like to comment, however, that maybe using the

[2022-11-23 11:21] memsharded commented on #12593
Hi @OEmrich

I am afraid it is not possible, and it would be almost impossible to do it, because Conan dependency resolution algorithm highly depend on this behavior. Even the greatly simplified lockfiles in 2.0 rely on the assumption that version ranges resolve to latest (in the same way revisions always resolve to latest too).

We decided on this approach based on other package managers, and als

[2022-11-23 11:24] memsharded commented on #12583
I see. Then yes, I guess your only workaround is checking first the version of the dependency, then replacing the user in the override, but checking the dependency will be needed

A note about this, regarding being 2.0 ready: the ``imports()`` method has been removed. The alternative is doing the imports via explicit ``copy()`` calls in the ``generate()`` method. It should be quite similar, just a

[2022-11-23 11:25] memsharded commented on #12565
Exactly :)

Could we close this ticket as responded, or is there any further question? Thanks!

[2022-11-23 11:27] foundry-markf commented on #12565
I'd only ask to consider the explanation be merged into the official docs to make it crystal clear for other readers.

Otherwise, by all means, please close off.

[2022-11-23 11:55] czoido commented on #12595
Hi @maitrey,

Thanks for your question. I have uploaded a simple example here: https://github.com/czoido/conan-objects-example/tree/main

It's a `myobject/1.0` package that creates an object file and it's consumed by the test package. Some relevant parts:

Provide the info for consumers in package_info:
[code]

In the consumer side (test_package CMakeListst.txt) you can just use `target_link_libra

[2022-11-23 12:10] czoido commented on #12592
Hi @disha123-bm,

Thanks for the question. It's failing because you are using the `Git` implementation from `conans.tools` (notice the `s` in conan`s`) for 2.0 only the tools under `conan.tools` will work. You can find them all here: https://docs.conan.io/en/latest/reference/conanfile/tools.html

You can find the new implementation for the Git helper [here](https://docs.conan.io/en/latest/referenc

[2022-11-23 12:15] redradist opened #12596 "[feature] Toolchain type of the package"
From the following presentation I saw a new feature `package-type`: https://youtu.be/v5BMoW9wVg8?t=497

My suggestion is to add a new `package_type="toolchain"`. The reason is that although `package_type="application"` could be considered as `toolchain`, `toolchain` usually has additional standard utility like: `linker`, `objdump`, `debbuger` and etc., and it would be useful to distinguish between

[2022-11-23 12:19] czoido commented on #12594
Checking this again I think this is probably something related to short_paths in Windows and the fact that in some parts of the code we have calls to `relpath` to get relative routes and it breaks if you are working in a diferent unit: `D:` instead of `D:`
Did you check if the problem persists when moving the sources to `C:` ?

[2022-11-23 12:53] maitrey commented on #12595
Yeah this works ! Thank you !

[2022-11-23 12:53] #12595 closed, assigned to czoido

[2022-11-23 13:00] emricolSICKAG commented on #12593
Hi @memsharded
for this use case the behavior of the version resolution does not have to be changed.
This is just a feature to verify the ranges of direct dependencies. The greedy default behavior is totally fine.
All I want to check is if the lower borders that I set are actually compatible with my code before I release my component. As a component developer I guarantee that my component is compa

[2022-11-23 13:02] maitrey commented on #12595
One question though: Is it allowed to use Pkg_LIBRARIES instead of Pkg::Pkg ?

[2022-11-23 13:07] czoido commented on #12595
Sorry, I did not answer the question. The problem for that is that it may change in the future, only documented things should be used and in general we don't document internal CMake variables on purpose, so the best thing would be not using that.

[2022-11-23 13:08] maitrey commented on #12595
Okay got it and if I have in the package_info self.cpp_info.includedirs = ['include'] . Is it allowed to use in the consuming package Pkg_INCLUDE_DIRS?

[2022-11-23 13:14] czoido commented on #12595
I would also not recommend it, we only documented [that variable](https://docs.conan.io/en/latest/reference/generators/cmake_find_package.html#cmake-find-package) for the `cmake_find_package` generator. It would be better to use CMake targets and also we are recommending to move to [CMakeDeps](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html) as `cmake_find_package` w

[2022-11-23 13:18] maitrey commented on #12595
If I have a package with only includes , how to use it in consumer context? Honestly , I have not tried like this : Pkg::Pkg with target_include_directories

[2022-11-23 13:27] czoido commented on #12595
There should be nothing different for header only libraries, just link the consumer with the target using something like:

[code]

I recommend that you play a bit with the conan templates, for example, create a new project with:

[code]
It will generate a project that uses modern CMake integrations and from that you can start modifying the generated files.

[2022-11-23 13:29] maitrey commented on #12595
Got it Many thanks!

[2022-11-23 14:28] Drllap commented on #12594
Yes, tried to copy the folder to `~` and build there, works fine

[2022-11-23 14:51] Drllap commented on #12594
tried running
[code]
That works fine

And tried to replace the template recipe with the one that is giving me problems and it sill workes.

[2022-11-23 15:18] Drllap commented on #12594
@czoido I think I have something:
I have `exports_sources = "*"` in my recipe and a `compile_commands.json` in my source root folder. If I remove either one the errors goes away.

[2022-11-23 15:41] czoido commented on #12594
I think that there's not much we can do on our side for this, the best would be to have the Conan cache in the same unit that you have your sources in.

[2022-11-23 15:45] Drllap commented on #12594
@czoido So I take it you know whats happening?

[2022-11-23 15:53] czoido commented on #12594
The error comes from doing a python `relpath` if you have a subfolder with sources that point to D: it's not possible for Conan to calculate the relative paths correctly. I think that would be the problem...

[2022-11-24 08:31] nicosmd opened #12597 "[question] How to make rootfs libraries from toolchain package transparent"
We are developing an application which is compiled for x86 and cross compiled for arm. The app has a lot of dependencies like for example `OpenCV`, which we now want to manage using conan. For the arm build we've already created a toolchain package containing the cross compiler toolchain and some libraries in a rootfs directory, which are produced during the build of our linux image of the embedde

[2022-11-24 09:59] #9962 closed, assigned to franramirez688

[2022-11-24 10:03] memsharded commented on #12597
Hi @nicosmd

This is a very interesting question.
I am trying to understand the setup, have you considered something like this?

[code]

I mean, it seems that you have 2 scenarios, in the x86 one, you want dependencies to be managed by Conan, but in the ``armv8`` the dependencies will *not* come from Conan, but bundled in the rootfs. So expressing this conditionality on your recipes could be the w

[2022-11-24 11:52] memsharded commented on #11842
Hi @fschoenm

We have added in https://github.com/conan-io/conan/pull/12556, for 1.55 the possibility to explicitly tell the compilers to CMake (not only CMake, but also other build systems as well), via a new ``tools.build:compiler_executables`` configuration.

I think this PR will solve this request, could you please have a look and confirm? Thanks!

[2022-11-24 12:51] nicosmd commented on #12597
Hey @memsharded,

Thank you very much for your quick response!

Let me add some details to the context.

When building for arm, the app _not only_ rely on the toolchain rootfs, so there are some OSS Dependencies which are not part of the rootfs but which are consumed by our app. Beside that we also have to retrieve several internal component packages which are developed by other teams in our proje

[2022-11-24 12:55] memsharded commented on #12597
This seems this need could be addressed by https://github.com/conan-io/conan/issues/7118, in which we will propose a mechanism to tell ``CMakeDeps`` directly in the consumer side, what files should be generated for which dependencies.

Still the ``opencv`` requirement if it is going to be in the ``rootfs`` shouldn't be declared as ``requires`` for that architecture, unless there are 2 opencvs, one

[2022-11-24 13:19] #11707 closed, assigned to lasote

[2022-11-24 13:41] fschoenm commented on #11842
Looks fine to me. Thanks for spending the effort!

[2022-11-24 13:41] #11842 closed, assigned to franramirez688

[2022-11-24 14:21] memsharded commented on #12593
Oh I see.

Yes, I think for that purpose, the new lockfiles of 2.0 might be a possible approach, as they will allow manual definition, and can be used to force certain versions within declared ranges. If collecting the ranges from the component being managed at that point is good enough (assuming that the transitive dependencies have already been checked by their respective components), then it co

[2022-11-24 14:54] fschoenm commented on #11562
Sorry, but is the idea of Conan 2.0 that basic functionality is not going to be implemented and everybody has to implement their own custom commands to get back to the same feature set that Conan 1.0 already had?

That leaves a very bad impression.

[2022-11-24 15:18] czoido commented on #11562
Hi @fschoenm,

Thanks for the feedback. With my mention of the custom commands, I just wanted to point out that we can now provide users with a powerful mechanism to develop their customized commands and unblock them in certain situations.

We are not saying that this functionality or others will not be built-in in Conan because you can do it yourself, if most users consider that this or other fea

[2022-11-24 16:13] memsharded commented on #12326
Hi @KarstenB

Sorry for the delay, I am resuming work checking this.

Quick question, what is the intent of `` --recipes-only``? It is not clear from your comment. If you mean, do not install the packages, that is the ``conan info`` command, but that command doesn't generate any file necessary for the build, so it is useless to prepare a build or to attempt to generate the CMake Presets

[2022-11-24 16:40] memsharded commented on #12326
I am also trying to set-up a project that looks like that, but struggling with it:

- If I make Conan to create the ``CMakeUserPresets`` in the root, and include the different generated ``CMakePresets`` inside each package, that ``CMakeUserPresets`` will not work, because there is no ``CMakeLists.txt`` in the root of the project. And if I go inside any of the two subprojects (like userspace or ker

[2022-11-24 16:56] memsharded commented on #12568
Fixed by https://github.com/conan-io/conan/pull/12569 will be in beta.6

[2022-11-24 16:56] #12568 closed, assigned to memsharded

[2022-11-24 16:58] #12188 closed, assigned to memsharded

[2022-11-24 16:59] #12540 closed, assigned to franramirez688

[2022-11-24 17:20] SpaceIm commented on #12188
Thanks !

@memsharded @franramirez688 I just want to mention that https://github.com/conan-io/conan/pull/12516 has not fully implemented what I think is a fully conformant basic conan generator for a build system:
- `tools.build.cflags`, `tools.build.cxxflags`, `tools.build.sharedlinkflags` & `tools.build.exelinkflags` handling
- maybe `tools.build:jobs`?
-  Injection of `settings.os` & `settings.

[2022-11-24 17:39] memsharded commented on #12188
- These generators are special, up to my knowledge they are exclusively aimed for ConanCenter, never seen users using it in production. I do not plan to make it a fully conformant one yet, lets get the minimum developed, used in ConanCenter, tested, and we will see how it goes.
- They are very limited in expressivity, just 3 env-vars CL, LIB, _LINK_. I prefer not to add any extra stuff like ``tool

[2022-11-24 18:25] SpaceIm commented on #12188
I guess it's already handled by `VCVars` generators actually.

`tools.build:jobs` can be honored by injecting `/MP<build_jobs>` in `CL`, or just `/MP` if `tools.build:jobs` is not set (for consistency with other build systems).

[2022-11-24 19:29] KarstenB commented on #12326
Hi @memsharded,
The `--recipes-only` is an imaginary new option that would download the recipes and use the information (like `conan info` would), but not download the actual `conan_package.tgz` which for a `sysroot` or `build-tools` could be a few 100 MB to several GB. This is to avoid traffic for users running the `conan install` commands simply to populate the CMakeUserPresets.

I don't quite h

[2022-11-24 23:30] SpaceIm opened #12603 "[feature] conan v2 tools: Expose `cppstd_flag` function"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

This helper is useful in recipes relying on unusual build systems, in order to inject C++ standard flag in a robust way. It's used in boost recipe. In https://github.com/conan-io/conan-center-index/pull/14415, I had to rely on `AutotoolsToolchain(self).cppstd` because I know from cona

[2022-11-24 23:54] SpaceIm opened #12604 "[feature] conan v2 tools: Expose `apple_min_version_flag` function"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Same rational than https://github.com/conan-io/conan/issues/12603. It's used in boost recipe, and current workaround is to indirectly get this value from `AutootolsToolchain.apple_min_version_flag`.

[2022-11-25 00:02] SpaceIm opened #12605 "[feature] conan v2 tools: expose a public function like `tools.msvs_toolset`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

boost recipe needs to inject toolset version. In conan v1 there is `tools.msvs_toolset`. In conan v2 there is no public function. The closest function suitable for cross conan v1/v2 support is a private static method of `MSBuildToolchain`: `_msvs_toolset`. Current workaround in boost

[2022-11-25 00:16] SpaceIm opened #12606 "[question] toolchains: generate in a list of scopes?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Sorry if I already asked, but in high level toolchains helpers, is it possible to call `generate()` method of these helpers with a list of scopes?

In boost recipe I would need to create a custom scope which has everything from `build` scope except one toolchain, so that onespecific `

[2022-11-25 08:08] explorer85 opened #12607 "[feature] Add QML Plugins support to qmake generator"
Now when using the [qml plugin](https://doc.qt.io/qt-6/qtqml-modules-cppplugins.html) in the project using it, you need to specify the path to the qml files using the variable [QML_IMPORT_PATH](https://doc.qt.io/qtcreator/creator-qml-modules-with-plugins.html#importing-qml-modules)
At the moment, the [qmake generator](https://github.com/conan-io/conan/blob/develop/conans/client/generators/qmake.py

[2022-11-25 08:35] martin-koch opened #12608 "[bug] conan create with --json fails"
When I run conan create with --json the command fails at the very end.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.10
  * Compiler+version: clang14
  * Conan version: 1.54.0
  * Python version: 2.7.18

### Steps to reproduce (Include if Applicable)
I am able to reproduce this issue when building libsystemd from conan center.

### Logs (Exec

[2022-11-25 10:13] memsharded commented on #12607
Hi @explorer85

I would like to give some context about the ``qmake`` generator:

- It is one of the generators that has not been migrated yet to be 2.0-ready (these are the new generators: https://docs.conan.io/en/latest/reference/conanfile/tools.html)
- It hasn't been migrated because of lack of demand, apparently less and less people are using qmake nowadays that qt is supporting cmake more and

[2022-11-25 11:24] Bearwolves commented on #12564
@jcar87: Any update here?

[2022-11-25 11:49] franramirez688 commented on #12608
Hi @martin-koch,

Thanks for reporting it! I think it's a bug in the recipe itself. These lines should be enough to solve the issue:

[code]
Let me transfer the issue to ConanCenter and solve there the issue.

[2022-11-25 13:27] jwillikers commented on #12279
Update, looks like we probably need to use `libdir` and `includedir` even when using multiple of such directories for dependencies which still expect to find those variables.

[2022-11-25 14:22] jngrb commented on #10829
I found that https://github.com/conan-io/conan-center-index/pull/12838 only fixed this for the 1.x.x recipe versions.

I made the similar fix for the 3.x.x recipe versions in https://github.com/conan-io/conan-center-index/pull/14426

[2022-11-25 15:08] franramirez688 commented on #12279
Hi @jwillikers! Sorry, I just realized this one.

I have a question about this issue. Regardless of changing `libdir1` to `libdir` (the same for `includedir`), what about the cases that we're defining several `includedirN` and `libdirN`? Sorry for the basic question, but which is the use case to use that `libdir` and `includedir`?

[2022-11-25 18:31] TheSlackOne opened #12610 "Cross-compiling ninja from Macos armv8 to Android armv8"
I'm trying to cross-compile `ninja v1.11.1` from my `Macos M1 (armv8), Monterey 12.6` to `Android armv8`, using the `NDK 22.1.7171670`. I'm using [conan-package-tools](https://github.com/conan-io/conan-package-tools) with the following settings:

[code]
[code]

Log snipet:
[code]

I've tried changing the SDK version, but got the same error.
Also tried `compiler.libcxx` to `c++_static` and `c++_sha

[2022-11-25 19:50] memsharded commented on #12610
Hi @TheSlackOne

I am curious, do you plan to run ``ninja`` itself in an Android device? Will you be building in the Android device? I haven't seen many users doing that, everybody is cross-compiling to Android, but definitely not building on an Android device.

[2022-11-25 19:53] memsharded commented on #12610
Also, I'd recommend as a first step to validate a setup, to start from a template like ``conan new mylib/1.0 -m=cmake_lib`` (for a library) or ``conan new myapp/1.0 -m=cmake_exe`` (for an application). When it works, then we can move to more advanced recipes. It is possible that recipes like the one for Ninja provided in ConanCenter cannot support this scenario of cross-compiling itself for Androi

[2022-11-25 19:57] vrpascuzzi opened #12611 "[bug] m4 1.4.19 configuration fails on armv8 with clang, works outside conan"
I want to build `m4` from source during `conan install <...>`.  Using `conan`, configuration fails on:
[code]
Running the same configuration command outside of `conan` works fine, and the source can be compiled.

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Ventura 13.0.1
  * Chip: Apple M1 Max
  * Compiler+version: Homebrew clang version 14.0.6,

[2022-11-25 22:07] TheSlackOne commented on #12610
Hi @memsharded, thanks for your answer :)

Good point, I don't need to build on Android, but just to provide the binaries or executables. The reason why I'm trying to build ninja is because I'm trying to cross-compile `minizip-ng`, and it has `pkgconfig` as a building dependency, which depends on `ninja`.
[code]
I couldn't just get rid of this `pkgconfig` because it generated the `cmake` files to

[2022-11-26 19:06] SpaceIm commented on #11866
@jcar87 any chance to get this helper in conan? I can submit a PR. It's tedious to fix these names in all Meson based recipes.

@eli-schwartz I don't understand what you are talking about, this issue is about libs produced by Meson when compiler is Visual Studio, not MinGW.
And I would say that building in the same step both shared & static for Visual Studio is useless, so Meson has introduced a w

[2022-11-26 21:20] KurtWAndrews opened #12612 "[question] ImportError: cannot import name 'Cmake' from 'conan' (/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/conan/__init__.py)"
[ConanIssue.zip](https://github.com/conan-io/conan/files/10097052/ConanIssue.zip)

I'm trying to convert my conanfile.txt to a conanfile.py and I'm getting the error in the subject line.

I've looked at at least three or 4 different examples that talk about changing conanfile.txt to conanfile.py, in the documentation, and I've tried a few changes to the py file on my own just because I like to be

[2022-11-27 12:18] mkjkec2005 opened #12613 "support for 4 digit versions."
Is there a plan to support 4 digit versions MAJOR.MINOR.PATCH.MICRO? I saw some related posts but it was not very clear on the support.

[2022-11-27 13:37] SSE4 commented on #12610
you actually may build ARMv8 ninja binary, e.g. for [termux](https://github.com/termux/termux-packages/tree/master/packages/ninja)

[2022-11-27 15:53] MLIOSBond commented on #298
If anyone gets `failed to create process` or `Unable to create process` (after [creating a virtual environment][1]) &mdash; [this answer from SO][2] is on point.

I got these errors after installing VS 2022. The VS installer really does some weird things with spaces in paths...

I deleted VS logs in my user directory &mdash; and after that `conan` run just fine.

[1]: https://docs.conan.io/en/1.54

[2022-11-27 17:17] MLIOSBond commented on #12527
@memsharded so I installed VS 2022 and was able to complete [the tutorial][1] without any errors.

The `conan profile detect --force` command found the right profile.

Also I used `Ninja` as `CMake` generator instead of `Visual Studio 2022` (it worked fine).

---

I'm curious: should I close this issue or should we wait until [the tutorial][1] works as well on `Windows` with `clang`?

[1]: https:/

[2022-11-28 06:05] Becheler opened #12614 "[question] Test and documentation of a header-only package"
I am trying to package a header-only library, but I encounter a two main problems.

## At least this works: Local testing and documentation
First, I succeeded to get these command work and do what I want them to do:
[code]
The dependencies are successfully installed on my mac, the tests are built, run and I can generate the documentation with doxygen.

## Problem 1: dependencies conflict between O

[2022-11-28 08:30] memsharded commented on #12613
Yes, this has been implemented in Conan 2.0, it is already available in the released betas.
Actually, it supports any number of digits, not just 4.

[2022-11-28 08:30] #12613 closed, assigned to memsharded

[2022-11-28 08:34] memsharded commented on #12612
It seems you are doing a minor typo, it is ``CMake`` instead of ``Cmake``.

Also, it seems you are using some generators that have been removed already in Conan 2.0.
If you want to start with a recipe in conanfile.py that is modern, I'd recommend to do:

[code]
There are other templates too, like ``cmake_exe``, ``msbuild_lib``, ``msbuild_exe``, for different build systems. They are a full package

[2022-11-28 08:35] memsharded commented on #12612
This is the section of the docs that contains the new integrations that will survive in Conan 2.0: https://docs.conan.io/en/latest/reference/conanfile/tools.html

Also this section is a good start to check for other recommendations regarding your recipes: https://docs.conan.io/en/latest/conan_v2.html

[2022-11-28 08:44] memsharded commented on #12614
Hi @Becheler

It seems you are mixing the new generators like ``CMakeDeps`` with the legacy CMake wrapper ``from conans import CMake``.
You should be using the new wrapper too: ``from conan.tools.cmake import CMake``. Please have a look at: https://docs.conan.io/en/latest/reference/conanfile/tools.html. Also do not use the ``cmake`` generator together with the new one, you should use the ``CMakeTo

[2022-11-28 08:48] memsharded commented on #298
Thanks for the tip @MLIOSBond. Certainly one of the things that I have learned to avoid is path with spaces in Windows, specially in user/account name. Really a pain for many tools out there.

[2022-11-28 08:52] memsharded commented on #12610
Yes, this is the idea of ``tool_requires/build_requires``. If ``pkgconf`` has a ``tool_requires/build_requires`` dependency to ``ninja``, this ``ninja`` should only be needed in the "build" context, that is, your current machine (not Android). But I don't see this dependency on ``conan-center-index`` repo, so I guess it is your private recipe?

[2022-11-28 08:53] memsharded commented on #12610
Of course, cross-building for ARMv8 is totally fine. The weird thing is building Ninja for Android, this is the thing that in my opinion should probably never be necessary.

[2022-11-28 08:54] memsharded commented on #11866
Data point about Meson naming conventions and CMake 3.25: https://www.reddit.com/r/cpp/comments/z618kl/psa_cmake_325_might_break_your_github_actions/

[2022-11-28 08:59] memsharded commented on #12527
Excellent, thanks for reporting

I think the best is to close it atm, because this would need to be transferred to ``conan-center-index`` repository, but as 2.0 is not GA yet, it is unlikely to get prioritized enough. I'd recommend to re-submit this repor to ``conan-center-index`` after 2.0 is finally released. Closing this now, many thanks for the feedback!

[2022-11-28 08:59] #12527 closed, assigned to nobody

[2022-11-28 09:10] memsharded commented on #12326
I am afraid this will not possible: the information about packages only happens if the binary is there, the ``package_info()`` that collects information about the package to be used by the consumers only works when the package binary has been downloaded and unzipped (there are tools there like ``self.cpp_info.libs = collect_libs()`` that basically reads the files in disk to obtain the list of libr

[2022-11-28 09:25] memsharded commented on #12611
Hi @vrpascuzzi

this could be some issue with the recipe, in theory things should start working with armv8 in ConanCenter too, so not sure what could be happening. Asking @prince-chrismc and @uilianries for help.

[2022-11-28 10:00] ericLemanissier commented on #12437
friendly ping @memsharded do you need more information to investigate the situation described by @SpaceIm in the message above ?

[2022-11-28 10:59] SpaceIm commented on #12610
I guess your configuration of conan-package-tools for a cross-build of a mixture of conan v1 & v2 recipes is incorrect:
- you should use 2 profiles (not rely on os_build, arch_build of 1 profile approach).
- `CONAN_CMAKE_ANDROID_NDK` won't work in conan v2 recipes. You should set both `CONAN_CMAKE_ANDROID_NDK` env var (for conan v1 recipes), and `tools.android:ndk_path` conf (for conan v2 recipes)

[2022-11-28 11:02] uilianries commented on #12611
@vrpascuzzi so far we cross-build all packages from amd64 to armv8 in Mac machines. My guess is m4 is not well prepared to build using Mac M1 natively. We have other packages with similar symptoms.

I have access to a M1 machine, so I'll try to reproduce your scenario. Thank you for your  reporting.

[2022-11-28 12:12] emricolSICKAG commented on #12593
Thank you for your answers and the hint with the custom commands. Maybe I can implement something that fits our needs.

Best Regards

Oliver

[2022-11-28 12:12] #12593 closed, assigned to memsharded

[2022-11-28 12:18] TheSlackOne commented on #12610
Hi @memsharded, thanks, I believe you are right, I'm just trying to get rid of the building dependency now.

[Here the minizip-ng recipie](https://conan.io/center/minizip-ng?tab=recipe) that defines `pkgconf` as a building dependency. I understand this is why  it tries to build `pkgconfig` (and `ninja` so) when cross-compiling, but I can't just remove it.

FYI: @SpaceIm

[2022-11-28 12:19] mkjkec2005 commented on #12613
Thank you. Can I have a link to the relevant documentation (package id modes) to try this out?

[2022-11-28 12:23] memsharded commented on #12613
``package_id_modes`` haven't changed. This is mostly a thing for semvers and version-ranges.
It might be added, like a ``micro_mode`` or something like that, is this what you are looking for?

[2022-11-28 12:29] paulharris commented on #12437
I hit this bug on Windows with vs17, trying to build harfbuzz.
I got the message:
[code]

When I used both -pr:b and -pr:h.
Seems to work ok with just -pr

[2022-11-28 12:55] SpaceIm commented on #12610
Sure, and my answer is still the same: your configuration of conan-package-tools is likely wrong. Since pkgconf is in build requirements of minizip-ng, conan should try to do a native build of pkgconf (and its requirements & build requirements), but you don't specify a build profile, so how conan can know which native compiler to use?

[2022-11-28 13:01] ericLemanissier commented on #12437
see also https://github.com/conan-io/conan-center-index/issues/14125

[2022-11-28 13:41] TheSlackOne commented on #12610
@SpaceIm The native build works perfectly just by running `conan create`. Finishes without any error.

My cross-building script looks pretty much like this
[code]
I expect Conan will get the building settings from the above, not from my Conan profile. Here my Conan default profile
[code]
I still don't know how to avoid cross-compiling `ninja` when cross-compiling `minizip-ng` :(

[2022-11-28 14:09] SpaceIm commented on #12610
Your build profile should not refer to Android NDK, it should be a simple profile for your build machine:

[code]

Your host profile should be something like this:

[code]

Then in `conan-package-tools`, there are 2 environment variables to set build & host profile: `CONAN_BASE_PROFILE_BUILD` for build profile and `CONAN_BASE_PROFILE` for host profile.
see https://github.com/conan-io/conan-package

[2022-11-28 14:45] mkjkec2005 commented on #12613
yes, kind of micro_mode.

[2022-11-28 14:55] SpaceIm commented on #12534
Because package (not consumer) knows what should be set to properly mimic official interface build files of library. If consumer uses Meson, it won't use CMakeDeps, so cmake_find_mode doesn't matter.

[2022-11-28 15:12] TheSlackOne commented on #12610
Thanks, @SpaceIm. I've set the `default` profile as you described, but `compiler.version=13`, I've set `compiler.version=11`
Also created a `android` profile as you've mentioned.

Then I've added to my cross-building script
`builder.run(base_profile_name="android", base_profile_build_name="default")`

Now it reports missing `minizipConfig.cmake`
[code]

[2022-11-28 15:18] memsharded commented on #12448
The workaround is a proper solution, not that much of a workaround, so closing this as solved.

[2022-11-28 15:18] #12448 closed, assigned to nobody

[2022-11-28 15:26] andioz opened #12617 "[question] Writing to CMakeUserPresets.json - a good idea?"
I'm playing with the Conan 2.0 tutorial. One of the first things I'm puzzled is, that with the very first example a `CMakeUserPresets.json` file is generated **outside** the build folder (and only updated if it exists). I'm sure this is intended and required, but I'm not sure if this is something a user would expect?

* Every generated file is expected to go into the build folder
* `CMakeUserPrese

[2022-11-28 15:51] SpaceIm commented on #12610
I don't know, maybe you have a modified minizip-ng test package, or some weirdness in conan-package-tools. At least minizip-ng and all its dependency graph builds fine now for you.

All I can say is that I can build from source minizip-ng, its dependency graph, and build its test package on my mac Intel with:

default profile (build)

[code]

android-24-armv8-clang profile (host)

[code]

[code]

[2022-11-28 15:53] #11961 closed, assigned to franramirez688, memsharded

[2022-11-28 15:53] memsharded commented on #11961
Closed b yhttps://github.com/conan-io/conan/pull/12117, will be in Conan 1.55

[2022-11-28 16:05] Btlmd opened #12618 "[question] Compile with `_GLIBCXX_DEBUG`"
Hello, I'm trying to debug a project and attempt to use preprocessor macro `_GLIBCXX_DEBUG` to assist the debug. This requires all packages to be compiled with this macro, or a link error will occur.

However, I don't know how I can get the required packages compiled with this macro. Is it possible to get the packages in conanfile compiled with custom macros?

canonfile.txt
[code]
with profile
[co

[2022-11-28 16:09] SpaceIm commented on #12610
Its worth noting that android-ndk recipe in conan-center forces `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE` to BOTH as a workaround to conan v1 helpers limitations. Since you manually inject android-ndk and not rely on android-ndk recipe, this might be root cause of this failure to find minizip-config.cmake in test package.

[2022-11-28 16:13] jcar87 commented on #12617
Hi @andioz  - thanks for asking this question.

The `CMakeUserPresets.json` is generated in the project's root source folder (that is, next to `CMakeLists.txt`) as that's required for it to be understood by CMake.
This particular file is also intended to _not_ be checked into source control, as advised in the CMake documentation [here](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.htm

[2022-11-28 16:23] mcsquared opened #12619 "[bug] MesonToolchain __init__ fails on native builds"
When trying to do a plain native build of a meson project, the MesonToolchain helper fails at line 156 in `conan/tools/meson/toolchain.py` with a "non-iterable" TypeError:
[code]
It's the dictionary search in the else-part that raises the TypeError.

As a consequence 'conan_meson_native.ini' does not get written, which affects subsequent conan methods which rely on the helper classes from `conan.t

[2022-11-28 16:24] andioz commented on #12617
Hi @jcar87,

Thanks for the quick and details response. I see, there will be no other chance for such a convenience file. Conan is doing it's best to support the user, and an option to suppress the generation/update of a file is a good thing (maybe an opt-in would be better?).

But in any case, I this "special" feature deserves a prominent place in the documentation, help text and command line out

[2022-11-28 16:24] #12617 closed, assigned to jcar87

[2022-11-28 16:46] memsharded commented on #12619
Hi @mcsquared

I am having a look at this, but the only way this could fail if the compiler is not defined (the recipe must have ``settings = "os", "compiler", "build_type", "arch"`` in order for this to work fine. Can you please check your recipe, just in case?

If that is the case, it is true that the ``MesonToolchain`` could report a nicer error, but that would be a minor UX thing, defining the

[2022-11-28 16:50] frank-schmidtner opened #12621 "[bug] Faulty edge comparison in graph.py"
I stumbled across this [comparison operator definition](https://github.com/conan-io/conan/blob/develop/conans/client/graph/graph.py#L241) while debugging. The comparison is
[code]
but should be
[code]

As an additional question: Why does this not have an additional comparsion `self.src.require.build_require == self.other.require.build_require`?

Shouldn't an edge that represents a build require be

[2022-11-28 17:06] Becheler commented on #12614
Thank you @memsharded ! :)
I (tried to) follow your advise and came up with this conanfile.py:

[code]
Is it how it is supposed to be defined? As I am reproducing the documentation example about how too package a header-only library with unit tests (see https://docs.conan.io/en/latest/howtos/header_only.html) I could not find how to properly redefine these lines:
[code]
I wonder if this is why the

[2022-11-28 17:08] memsharded commented on #12621
Hi @frank-schmidtner

Thanks for reporting, indeed a bug. I am submitting a fix in https://github.com/conan-io/conan/pull/12622.

I am having a look, and  apparently this bug is not in any critical path, because that ``__eq__`` is mostly not used for anything critical. If you have some case that made this work, it would be great to know it, to see if we can add a test that would fire this bug.

``

[2022-11-28 17:17] mcsquared commented on #12619
Hello @memsharded

You're right. The compiler setting is missing in the recipe.

I added some kind of "distro" or "platform" subsetting for "os" for some customized buildroot platforms which, in my case, implies some specific compiler and other fixed settings. So I left out the "compiler" setting. As far I understand the package_id() method, this should have been enough to generate at least an uni

[2022-11-28 17:21] memsharded commented on #12614
It could be that the ``self.copy("*.h")`` is not copying correctly the headers. You can paste here the output, it should have some messages summarizing what has been copied. It is also possible to inspect the final package folders, if you read the output and go to your disk package folder, you should be able to package the navigated files.

In any case, it is also recommended to modernize that ``s

[2022-11-28 17:23] memsharded commented on #12619
Yes, the settings always need to be explicit, it really doesn't matter that for some distros it implies some default compiler, there is always a future chance of using another compiler, and it is better to model things explicitly.

I think I will submit a quick PR to raise a clear error if compiler is not defined, thanks for the feedback!

[2022-11-28 17:52] frank-schmidtner commented on #12621
@memsharded
I don't have any special test case you could add, I just stumbled over it while analyzing the code.

Thanks for the explanation. I know that build and host context are recommended, but we have some sort of "hybrid" workflow in our project because we could not solve some issues related to dual profile use. Currently we use the dual profile approach for cross compilation but for non-cros

[2022-11-28 18:04] memsharded commented on #12621
Ok, as anything else seems to break with the change, I'll merge it and it will close this ticket automatically. But if there are any further question, don't hesitate to ask or create new tickets.

This error, I have seen it a few times, might be fixed by making sure the appropriate ``--build=xxx`` flags are being passed at lockfile creation time. Otherwise, the build_requires will not be stored in

[2022-11-28 18:06] #12619 closed, assigned to memsharded

[2022-11-28 18:07] #12621 closed, assigned to memsharded

[2022-11-28 18:10] Becheler commented on #12614
Yes, I inspected the location but nothing was there. Here is the output:
[code]
I am not sure to understand the modernization of the example code, that is what you meant by:

What I got is:
[code]
How/why should I insert the src and dst folder? Again, thanks for your help :)

[2022-11-28 18:26] memsharded commented on #12614
well, yes, in this output, as the ``build()`` fails, it is expected that no package will be created, that only make sense to inspect if the process gets to the ``package()`` and it outputs that it is packaging the artifacts.

For the copy(), the docs are in https://docs.conan.io/en/latest/reference/conanfile/tools/files/basic.html#conan-tools-files-copy,
you might want to do something like:

[code

[2022-11-29 00:44] fjp opened #12624 "[question] VirtualRunEnv doesn't generate PowerShell ps1 script"
Using the `VirtualRunEnv` generator in a conan recipe with conan 1.53 in a Windows Developer PowerShell doesn't generate ps1 scripts. Only the conanrun.bat and conanrunenv-release-x86_64.bat are generated. Is there a configuration to generate also the powershell scripts?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-11-29 01:02] je894591 commented on #12588
I believe this inability to handle conflicting transient build_requires deps also caused the CI on this gRPC update to fail: https://github.com/conan-io/conan-center-index/pull/14471#issuecomment-1329905886

[2022-11-29 01:11] fjp commented on #12624
I just found it here: https://blog.conan.io/2022/05/18/New-conan-release-1-48.html

Setting the following in a conan windows profile creates the expected activate_run.ps1

[code]

I'd expected to find this conf setting in the documentation at one of the following pages but it is only found in the blog and I think in some closed issue.

- https://docs.conan.io/en/latest/mastering/virtualenv.html#vi

[2022-11-29 01:14] fjp commented on #12624
@memsharded can you please share some insight, why the values in `environment_run.bat` are not used in the CMakePresets.json? Is there a configuration to set those values as well in the CMakePresets.json?

[2022-11-29 01:22] paulharris commented on #11243
The issue seems to be that the source seems to be re-downloaded every time the recipe changes.
Perhaps the hash is a function of the recipe and filenames, rather than the hash of the download itself?
I can understand the meta-hash would be required for things like patches from recipes,
but please can we use the sha1 hash for the source downloads, when they are provided by conandata.yml ?

[2022-11-29 02:22] mkjkec2005 opened #12625 "Artifactory bloat issues with multiple Conan packages (versions/revision)."
We have 80+ repos (components) that change frequently and are interdependent (changing one component will result in multiple versions of other dependent components). Artifactory is our binary storage repository. Now that we plan to migrate to Conan, we are concerned about the storage requirements in Artifactory as we will be generating N Conan package versions daily due to direct or transitive dep

[2022-11-29 05:45] Becheler commented on #12614
Hi again 👻
[code]
I had a problem of a `conanfile.py` not being located at the root folder 😮‍💨 The following `conanfile.py` in the root folder works:
[code]
the command `conan create . test/demo -pr:b=conan/profiles/clang_13 --test-folder=conan/test_package`
generate the following output:

[code]
However, uncommenting the `generate` and `build` methods lead to:
[code]

[2022-11-29 09:39] Chnossos opened #12626 "[bug] Locally working with multiple hosts at the same time not supported?"
I have a library that I have to compile for Windows x64 **and** Windows ARMv7.

Thus, I use three profiles like so:

default (build):
[code]

default-static (host 1):
[code]

arm-static (host 2):
[code]

global.conf:
[code]
---
I thought this would be easy by just running this...
[code]
...but it didn't work out the way I thought it would.

I have encountered multiple problems:

1. Both host profi

[2022-11-29 10:14] memsharded commented on #12625
Hi @mkjkec2005

This is more of a generic binary server/Artifactory question, the same issues happens for any other package type, specially heavy ones. The strategies for managing this are several:

- Use multiple repos for your binaries, do not upload everything to just one repo. CI builds go to a "build" repo, and only packages are moved to another "develop" repo when finally merged. Then packag

[2022-11-29 10:14] #12338 closed, assigned to czoido

[2022-11-29 10:15] memsharded commented on #12338
Closed in https://github.com/conan-io/conan/pull/12620, will be in 1.55

[2022-11-29 10:18] #11867 closed, assigned to franramirez688

[2022-11-29 10:19] #12499 closed, assigned to nobody

[2022-11-29 10:20] memsharded commented on #12106
Does https://github.com/conan-io/conan/pull/12307 fix this issue as suggested by @theartful ?

[2022-11-29 10:40] memsharded commented on #12626
Hi @Chnossos

I think this is a cmake limitation. CMake can only generate projects with multi-configuration for Debug/Release, but not for multiple architectures. Managing different architectures requires different projects (or cleaning and regenerating the project).

What Conan can do for you is to install and manage multiple configurations, including architecture, but they won't be in the same V

[2022-11-29 10:47] MaxandreOgeret opened #12627 "[bug] Conan fails to detect dependencies already installed with apt."
### Environment Details (include every applicable attribute)
  * Operating System+version: **Ubuntu 20.04**
  * Compiler+version: **gcc 9**
  * Conan version: **Conan version 2.0.0-beta5** installed via pip.
  * Python version: **Python 3.8.10**

### Steps to reproduce (Include if Applicable)

Use `Apt(self).install(...)`

[code]

### Logs (Executed commands with output) (Include/Attach if Applica

[2022-11-29 10:48] memsharded commented on #12614
A few issues:

- You are still relying on your CMakeLists.txt on ``include(.../conanbuildinfo.cmake)`` which has been deprecated,  it is part of the ``cmake`` legacy generator that you just removed. You need to remove that line, and rely on standard ``find_package(XXX CONFIG REQUIRES)`` instructions and then ``target_link_libraries(.... xxx::xxx)``
- You are using only the build profile which does

[2022-11-29 11:04] memsharded commented on #12627
Hi @MaxandreOgeret

It seems you are using the utility in the wrong method. It should be used inside ``system_requirements()`` only, the ``build_requirements()`` method is exclusively for Conan packages dependencies.
Please try moving it to that method.

[2022-11-29 11:11] jcar87 commented on #12277
Hi @harsszegi  - thanks for your feedback.

As of https://github.com/conan-io/conan/pull/11917, which will be part of the upcoming 1.55 to be released this week, there is a way to suppress the generation of this file:

[code]

[2022-11-29 11:12] MaxandreOgeret commented on #12627
Hi @memsharded and thanks for your answer.
The problem is still here with the edited conanfile.py:

[code]

`conan install` log:

[code]

I had a look at how Conan checks if an apt package is installed or not. And the following command gives the expected return value:

[code]

[2022-11-29 11:18] czoido commented on #12277
Closing this as should be solved by https://github.com/conan-io/conan/pull/11917
Please @harsszegi feel free to reopen in case you have any more questions.

[2022-11-29 11:18] #12277 closed, assigned to nobody

[2022-11-29 11:34] MaxandreOgeret commented on #12627
The following conanfile is able to reproduce the error in a fresh `ubundu:20.04` docker container:

[code]

Steps:
[code]

[2022-11-29 11:35] MaxandreOgeret commented on #12627
The following conanfile is able to reproduce the error in a fresh docker container:

[code]

[2022-11-29 11:35] oxygene opened #12629 "[bug] remove_broken_symlinks is broken for symlinks in nested folders"
I'm using conan 1.54.

I'm packaging a binary sysroot for use as `tools_requires` for cross compilation. The sysroot is provided "as-is" and it happens to have many valid relative symlinks (quite normal for shared libraries inside a linux sysroot). It also has some broken symlinks. However, those are not essential and can be removed.

I've used `remove_broken_symlinks` for this task, but unfortuna

[2022-11-29 11:43] harsszegi commented on #12277
Awesome, thank you very much!

[2022-11-29 11:57] czoido commented on #12627
Hi @MaxandreOgeret,

I think the problem is that for `Apt` the default for the check argument is `False`, I think this is something we want to change. Pleas try to do:

[code]

That should solve the problem

[2022-11-29 12:06] MaxandreOgeret commented on #12627
Hi @czoido
Yes, indeed `check=True` solves the issue.

In this case I believe that the real problem here is the misleading error message :

Thanks for your help !

[2022-11-29 12:10] czoido commented on #12627
Thank you for your feedback!

[2022-11-29 12:33] Chnossos commented on #12626
Oh wow `tools.cmake.cmake_layout:build_folder_vars=["settings.arch"]` solved my problems entirely!

Now both installations live in separate directories inside `build/` and CLion can manage both independently.

[2022-11-29 13:02] maitrey opened #12630 "[question]Git.tools will the feature stay in 2.0?"
Dear Conan Folks,

I saw the documentation of git tools.
https://docs.conan.io/en/latest/reference/tools.html#tools-git
Is it supposed to stay in Conan-2.0 ?
Asking as https://docs.conan.io/en/1.46/reference/conanfile/tools/scm/git.html says that:
This example is the new way to implement the scm feature (to be removed in Conan 2.0), using this new Git capabilities.

Which is the correct way to pro

[2022-11-29 13:57] #7118 closed, assigned to czoido

[2022-11-29 13:57] #12534 closed, assigned to czoido

[2022-11-29 13:58] memsharded commented on #11749
I have tried again, put some good hours, still nothing reasonable that won't break all...

[2022-11-29 14:00] memsharded commented on #12630
Hi @maitrey

They are very similar, but they are not the same. The one that will stay in 2.0 is https://docs.conan.io/en/latest/reference/conanfile/tools.html

Always check the import, the valid ones are ``from conan.tools.xxx``, like ``from conan.tools.scm import Git``. The invalid ones that are removed are ``from conans.tools import Git``

[2022-11-29 14:51] fschoenm commented on #11732
@memsharded What do you think about the idea of letting the user specify a custom _package_type_?

[2022-11-29 15:02] stas-neverov commented on #10359
Hi,

I'm looking for a way to package CMake components into different subfolders. This is in turn needed to simplify product packaging in the downstream package. The downstream package takes build artifacts from different upstream packages that use different toolchains, not just C/C++ components built with CMake. So I cannot use `cmake --install --component` in the downstream package. I'd rather r

[2022-11-29 15:11] paulharris commented on #12310
Seem, seems to have been fixed by #12598 - awesome!

[2022-11-29 16:07] stas-neverov commented on #10359
Here is a workaround that seems to work:
[code]

[2022-11-29 19:15] Becheler commented on #12614
Wonderful! The tests are successfully built! 💯  However they fail running 😓

[code]
But the tests build and pass when I manually call (from the root folder)

[code]
The test/CMakeList.txt snippet controlling tests is the following:

[code]
Should I specify a working directory manually in the case of a Conan-run test?
(To the risk of repeating myself: thanks again for your help 🙏🏽 🙏🏽 🙏🏽 )

[2022-11-29 20:17] ericriff commented on #10201
I just came across this myself. Is this still the case? Even if I pass `--test-build-folder=/tmp/asd` to a recipe that uses `layout()` the package gets built on `library/all/test_package/build`.

[2022-11-29 20:18] ericriff commented on #10201
I'm still trying to figure out a workaround for this BTW https://github.com/conan-io/conan/issues/12293

[2022-11-30 01:14] mkjkec2005 commented on #12625
Thank you. Regarding - In general, package revisions should never happen, I think you are referring to PREV.
Could you please elaborate - _if you have more than one package revision it is an indicator that something can be improved in the process._

[2022-11-30 01:23] adam248 commented on #9751
Doing a quick fix now.

[2022-11-30 05:18] computerquip opened #12634 "[question] MSVC+Ninja with CMake on Conan 2.0"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I appear to be having some issues figuring out how to use any generator outside of the "Visual Studio *" generators with CMake. I'd *like* to use Ninja but it seems to automatically define CMAKE_GENERATOR_PLATFORM which prevents this.

How am I *supposed* to accomplish this?

[2022-11-30 05:28] computerquip commented on #12634
Never mind I guess, spent an hour on this, suddenly it stopped generating CMAKE_GENERATOR_PLATFORM and Ninja started working. I swear I didn't change anything but 🤷 .

[2022-11-30 05:28] #12634 closed, assigned to nobody

[2022-11-30 05:33] computerquip commented on #12634
Actually, it turns out this is caused by the "arch" setting after looking at the code. Something must have been stale. It's not clear from the documentation what "arch" actually does but I assume it's for cross-compiling which I don't need at the moment but it's not ideal.

[2022-11-30 06:48] mpusz commented on #3972
Well, I am not sure if that is correct. There are two factors here:
1. The binary compatibility of the C++ Standard ABI and C++ Standard Library
2. Library's code depending on the C++ version flag.

As long as #1 is not a major problem, as you stated above, #2 is a major issue. There are a lot of projects and libraries that query the C++ version preprocessor macro and provide a different ABI based

[2022-11-30 07:32] czoido commented on #12549
Closed by: https://github.com/conan-io/conan/pull/12554

[2022-11-30 07:32] #12549 closed, assigned to memsharded

[2022-11-30 08:27] maitrey commented on #12630
So, I donot see the methods in from conan.tools.scm import Git :
get_branch(): Gets the current branch.
get_tag(): Gets the current checkout tag (git describe --exact-match --tags) and returns None if not in a tag.
I think I would have to use run() instead with git commands.

[2022-11-30 08:31] memsharded commented on #12630
Yes, you can do ``git.run("describe --exact-match --tags")`` to get it. In the new helper we are not trying to provide a method for every case, if they are correctly supported by a ``git.run()``, and only the very basic ones are provided.

[2022-11-30 08:33] memsharded commented on #12634
Hi @computerquip

The ``arch`` setting (actually all of them, ``settings = "os", "compiler", "arch", "build_type"``) are necessary for most cases, and most of the Conan build integrations will require all of them.

It doesn't matter that it is only apparently needed for cross-compilation, it is always needed, for example, to know that it is a native build and not a cross-compilation. Conan, and sp

[2022-11-30 08:38] memsharded commented on #12625
A package binary is represented by a ``package_id``. This value encapsulates everything that defines a binary, from settings, options to versions (and revisions if wanted) of the dependencies. That is the full model. If there exist a given ``package_id`` for a given recipe revision, then there is absolutely no reason why that binary should be rebuilt from sources. The recipe revision captures all

[2022-11-30 09:12] maitrey commented on #12630
If I use the method export as mentioned in the documentation the version is not getting set. I have to use set_version method in order to define the version. Please let me know if set_version is meant to stay in Conan2.x.

[2022-11-30 11:26] memsharded commented on #12630
``set_version()`` stays in 2.0, yes.

[2022-11-30 11:31] czoido commented on #12523
Closed by https://github.com/conan-io/conan/pull/12636

[2022-11-30 11:31] #12523 closed, assigned to czoido

[2022-11-30 11:36] ghost opened #12637 "[question] no files exported in recipe"
Hey guys,
I'm trying to create a package for FreeRTOS.
I have checked out the freertos code and added some CMakeLists.txt
The conan FreeRTOS recipe and my CMake FreeRTOS project are stored in 2 different repos
I have used `conan new FreeRTOS/0.1 --template=cmake_lib t`o setup the template. I added a source step for the git checkout

when calling
` conan create . -pr:h=default -pr:b=default`

the p

[2022-11-30 11:41] memsharded commented on #12637
Hi @Ju1He1

The ``exports`` only works with source code that is just besides the recipe. If you are ``git clone ...`` cloning the sources, then, by definition the sources are not together with your recipe, but in a separate repo, so there are no exported sources. The only way to have exported sources is to have the recipe inside the repo (in this case, it would be inside the ``freertos`` repo)

[2022-11-30 12:52] memsharded commented on #3972
I guess that a way to inhibit the default cppstd compatibility from recipes would be useful.

[2022-11-30 14:11] maitrey commented on #12630
Also one more question with respect to automatic versions. My plan for package versions is:

-  feature branch /PR  gets the package version as :  branch+ commit id .
- Tags get tag version

My question is:
- Can conan handle dependency trees with versions as per semantic versioning(all valid ones) : https://regex101.com/r/Ly7O1x/3/
- Or should i implement  strictly to accept version for packages

[2022-11-30 14:19] Tobulus opened #12638 "Detect that package was built locally from sources"
Hi,

I'm trying to automate a debugging use case (remote target) which looks like this:

A project with multiple dependencies managed by conan. If I want to debug the project a script copies the projects binaries and its dependencies to the remote target and starts a debugging session. The dependencies are built by our CI so I do whats recommended in the [Conan documentation](https://docs.conan.io

[2022-11-30 14:40] datalogics-robb commented on #3972
IMHO - we're discussing a "model" for glibc compatibility for Linux - bugs are not the sort of thing I would include in a model of how glibc compatibility works.  Bugs will invariably violate any rules for compatibility, and render any model invalid.  I would recommend creating a model that ignores a special case like a bug in a particular version of a library as it will cause more problems than i

[2022-11-30 14:42] memsharded commented on #12630
Conan accept relaxed semantic versioning (1, and 1.0 are valid) and Conan 2.0 will accept extended semantic versioning, with more than 3 digits too.

Conan 2.0 will also allow first version parts to be strings, and order will be alphabetical.

Regarding your proposed versioning scheme, that highly depends on the needs. If feature branches are not named with something that is compatible with declar

[2022-11-30 14:51] memsharded commented on #12638
Hi @Tobulus

I guess that you could check the cache, and if there is a "build" folder there, it was built from source. You might get the paths to something with the ``conan info --paths`` command.

In any case, isn't this an information that you already have? it was the machine the one that decided to build something from source, explicitly, then it might be possible to save that into a json file

[2022-11-30 15:05] maitrey commented on #12630
Understood .. so basically recommendation is to use: one conan repo for feature branch/PR and another for tags. In that case, feature branch will get the version as 0.0.0-dev.<BUILD_ID> in jenkins. And for local use-cases stay as  0.0.0-dev.0.

[2022-11-30 15:30] Tobulus commented on #12638
_build_folder_ seems also set for packages prebuilt/downloaded by/from the CI.

Sure, in general its possible to store this somewhere in the project. But there are always scenarios to break this: e.g. if packages are manually removed from the conan cache the info in those files is outdated/wrong.

[2022-11-30 15:46] memsharded commented on #12474
Lets considered this closed by https://github.com/conan-io/conan/pull/12556

If some extra cases with user demand appears, like the linker (it seems the configuration is really neglegible compared with compilers), then we can always re-open and add them.

[2022-11-30 15:46] #12474 closed, assigned to nobody

[2022-11-30 15:47] memsharded commented on #12638
In theory the folder should not even exist, but if it exists, then it should be empty. Maybe checking for folder empty is good enough.

[2022-11-30 15:49] memsharded commented on #12630
Yes, that would be something typical. But it is true that implementing it robustly against parallel development (multiple devs doing multiple PRs simultaneous over different packages belonging to the same product), might be a bit challenging with lockfiles in 1.X. Hopefully this will be greatly simplified in 2.0, and can be "standardized" as a good practice a bit more.

[2022-11-30 17:54] dkumsh opened #12640 "[question] How to properly manage compiler upgrade?"
I am having difficulties to upgrade c++ compiler.
Let me try to explain the issue though I do not fully understand what is going on.

Currently I am using conan 1.52.

Here is the **profile** I use:
[code]
I am using semver_mode:
[code]
I have an internal project requiring some 3rd party dependencies.
3rd party dependencies are uploaded to the internal JFrog artifactory with user/channel = `_/_`

[2022-11-30 18:05] memsharded commented on #12640
Hi @dkumsh

How do you verify that this package ``mysql/8.0.28`` was built with 12.2? If you can please copy here the internal ``conaninfo.txt`` inside the binary that is being pulled, it should be clearly showing ``compiler.version=12.2``.

If you can do a ``conan search mysql/8.0.28 -r=yourremote``, that should also display the different binaries you have built for the different configurations,

[2022-11-30 18:40] vrpascuzzi commented on #12611
Thanks to all for the help and advice! Will comment when I get around to more testing.