[2020-07-21 09:18] pcapdump commented on #7368
@Minimonium ,

is it possible to make Conan treat warnings as errors?

I see this Conan message:

[code]

If we stopped Conan build on such warnings, it would have solved our problem...

[2020-07-21 09:44] memsharded commented on #7392
Hi @stewe26

I think you are totally right. It seems your colleagues abused the ``settings.build_type``. That ``settings.build_type`` could be customized, but I think that it only would make sense to something like ``ReleaseWithSomeExtraOptimization`` or the like.

Unicode support totally sounds like either another setting or as an option:

- If the whole project can be configured to have Unicode

[2020-07-21 09:54] memsharded commented on #7391
Hi @danielhalati

First, please let me say that what you are doing might be an antipattern. Unless you have some very strict regulatory or security constraints, and really need to separate packages based on the ``build_type``, this wouldn't be necessary. Conan can manage many different binaries, for different build_types in the same repo without problems. As it seems you are also separating header

[2020-07-21 09:56] memsharded commented on #7349
Closed by https://github.com/conan-io/conan/pull/7390

[2020-07-21 09:56] #7349 closed, assigned to noizex, memsharded

[2020-07-21 10:00] danielhalati commented on #7391
I will reduce to only one remote then. Thanks for the quick reply

[2020-07-21 10:00] #7391 closed, assigned to memsharded

[2020-07-21 10:04] memsharded commented on #7391
Ok, great if you can do it. Recall that one repo can contain any number of binaries for the same recipe, for different OS, for different compilers, and compilers versions, and any variant of the package you want to store there.

Please let us know if you have any further question, cheers!

[2020-07-21 10:57] blockspacer opened #7393 "`--build=missing`, but only for some packages"
Is it possible to apply `--build=missing` only for some packages
i.e. `--build=missing:packageA:packageB:packageC`?

My use case:
I have both small packages that can be re-built (if missing) and really big packages what i do not want to re-built ever ( https://github.com/blockspacer/llvm_tools )

I can not find anything similar in docs https://docs.conan.io/en/latest/mastering/policies.html

[2020-07-21 11:36] Minimonium commented on #7368
@pcapdump Conan emits quite a lot of warnings, the whole output system needs an overhaul. It wouldn't work well to make them treated as an error, simply because the system doesn't imply that.
Even more, overrides are normal behaviour, you can't error on something that the user explicitly asked to do. The warning is informational in there, but it's getting lost because Conan emits tons of output ge

[2020-07-21 11:54] timbrown5 commented on #7060
Someone in my team pointed out that the above comment is wrong and it turns out I was using the wrong reference. I was using `Package ID:` (returned by `conan search)` instead of RREV (which is returned by `conan search -rev`) - I still often get them confused.

So to install the latest package which matches a given profile, you can do:
[code]
As a side note, it would be nice if `conan search` (or

[2020-07-21 12:59] uilianries commented on #6560
@jokram thanks for your detailed feedback, indeed seems be a problem related to async access, the old sleep / wait is good workaround.

[2020-07-21 13:09] yangcha commented on #6560
I have tried this sleep/waiting method, it seems it does not always work.

[2020-07-21 13:32] Arghnews commented on #7387
Hi @czoido , thanks for your reply.

I do not believe that the `testing/1.39.13` branch for the `conan-emsdk_installer` is available yet on bincrafters - I only see the stable branches with a conan search so I'm unable to test it. It looks that PR does indeed fix this issue though.

Also the https://github.com/bincrafters/conan-emsdk_installer repo doesn't seem to allow issues to be opened so I'm

[2020-07-21 14:59] czoido commented on #7387
Hi @Arghnews

Yes, it is not in bincrafters conan repo, I meant that maybe you could test locally that branch from the github repo branch `testing/1.39.13`: https://github.com/bincrafters/conan-emsdk_installer

I think that the place to submit an issue is here: https://github.com/bincrafters/community/issues

What error are you getting? For me this is working:

[code]
Hope this helps.

[2020-07-21 15:35] Arghnews commented on #7387
Hi @czoido ,

Thanks for the information about the branch locally and the place to submit the issue.

And ahh, I didn't think to source the `activate.sh` script to set the environment up, yes that all seems to work perfectly.

Thanks for all your help and timely responses, I appreciate it.

[2020-07-21 15:36] jokram commented on #6560
@yangcha:

=> Do you think improving the no. of retries will help?

[2020-07-21 15:59] #7366 closed, assigned to czoido

[2020-07-21 16:16] Jochen0x90h opened #7395 "How to print plain list dependencies"
Hi!

How do I print a plain list of dependencies?
with
`conan graph lock --build=missing .`
I get something like

    Requirements
        eigen/3.3.7@conan/stable from 'conan-center' - Cache
        jasper/2.0.14 from 'conan-center' - Cache
    Packages
        eigen/3.3.7@conan/stable:5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9 - Cache
        jasper/2.0.14:350aeebd67798ae48a25688104439452e13c8c75

[2020-07-21 17:32] memsharded commented on #7395
Hi @Jochen0x90h

This is a very good question. Right now we don't have anything as immediate as we would like, and we will work to improve that.
At this moment you could probably try:

- ``conan info <path> --file.json`` will give you an easy to parse json file with the packages (``reference`` field)
- The lockfile is actually another json file, so you could also probably get the references from i

[2020-07-21 17:33] memsharded commented on #7395
Moved this to the main Conan repo, this is something we want to consider at the product level, not only at the docs.

[2020-07-21 17:37] #7252 closed, assigned to danimtb

[2020-07-21 17:38] memsharded commented on #7252
``provides`` feature merged and will be released in Conan 1.28

[2020-07-21 18:24] yangcha commented on #6560
I don't think so. If you look into Python's `os.rename()` code, you will see the folders are recursively created and copied and deleted. Unless you can add the waiting into Python's library code, I don't think it will solve the problem entirely.
I have a solution which is robust and reliable: https://github.com/conan-io/conan/pull/6774

[2020-07-21 18:46] stewe26 commented on #7392
Hi @memsharded

Thanks for this really quick response. I am already in contact with the other team, they know that I opened this issue to clarify it there is some way around the troubles that came with extending the value range of `build_type`.

As far as I know, they already see that as a problem and want to get rid of the custom values (in fact it is not only one 'Unicode' like value). Having a

[2020-07-21 19:13] uilianries commented on #6560
@yangcha please, check #6774 people reviewed there but you didn't answer.

[2020-07-21 19:16] yangcha commented on #6560
Sorry. I thought the PR was rejected. I will answer that and resolve the conflicts .

[2020-07-21 21:04] memsharded commented on #7392
Yes, totally, when you are changing the ``settings.yml``, it is assumed that other users using packages generated with those settings, need to keep them in sync. It is also generally speaking less disruptive to add sub-settings than adding first level settings, because that requires to explicitly add them to recipes.

As it seems there is no immediate action needed from us at the moment, I am goin

[2020-07-21 21:04] #7392 closed, assigned to memsharded

[2020-07-21 22:28] ghost commented on #4353
I would like the Conan client to use system cert's store, AND/OR have an environmental variable like $CONAN_CERT so I do not have to copy my cert into my $CONAN_USER_HOME directory.  It would make things easier, and more convenient.

[2020-07-21 22:54] dvj commented on #3482
Have there been any thoughts on how to achieve the goals of this issue without the problems that #6438 caused?

I'm obviously late to the party, but this functionality would still be welcomed!

Could this be another option to `conan_basic_setup`? Use `TARGETS_GLOBAL` instead of `TARGETS` which would in turn pass a variable to `conan_define_targets` that conditionally includes the `GLOBAL` property

[2020-07-21 23:29] memsharded commented on #4353
Hi @szegel

Unfortunately, it seems that system ssl support is a bit more challenging than expected, and https://github.com/conan-io/conan/pull/5659/ is blocked, apparently because different behavior of the ``requests`` library, that makes difficult to provide a solid solution. Lets try to revisit this in next iteration 1.29, and at least check the status, and try to unblock if possible.

In the m

[2020-07-21 23:43] ghost commented on #4353
Yea!  That looks like a good temporary solution.  Thanks @memsharded

[2020-07-22 07:11] Morwenn commented on #3482
The [release notes](https://cmake.org/cmake/help/v3.18/release/3.18.html#commands) for CMake 3.18 have the following item:

So maybe a partial workaround would be to use `self.requires("cmake/3.18")` in recipes where this matter?

[2020-07-22 07:16] Jochen0x90h commented on #7395
Thanks for making this a thing for the next milestone. My quick-fix solution will simply be manually uploading the 5 or 6 dependencies that I actually have, but some automated solution would be nice.

[2020-07-22 07:26] Jochen0x90h commented on #7395
Maybe the conan upload command should have a profile option so that only the package matching the profile is uploaded. Currently there is only --all for all packages or you have to give the hash of the package.

[2020-07-22 09:22] memsharded commented on #7138
This has been implemented in https://github.com/conan-io/conan/pull/7360, will be finally available in next Conan 1.28 (as ``required_conan_version = <range>``, to match the ``conan.conf``.

[2020-07-22 09:22] #7138 closed, assigned to memsharded

[2020-07-22 09:48] TheQwertiest commented on #7138
This feature should be probably also mentioned somewhere in PR template for CCI.

[2020-07-22 12:20] memsharded commented on #4353
#7398 was merged, Conan 1.28 will have support for custom paths (outside the Conan cache, for client cert and key files)

[2020-07-22 17:12] a4z commented on #5165
would be nice to hear about that what is official planned,
the inherit build classes was not the best idea, but ...
some weeks ago I looked into the conan source code, and found out that this is not impossible to add
due to time restrictions I could not implement a POC, and since then I have forgotten the details 😁  ...
but I remember that I was thinking to my self that this is not too hard and ne

[2020-07-22 19:22] glennaycock opened #7402 "[question] How to deploy conan libraries with my application using cmake install()"
I ported my cross-platform,  modern CMake-based application to use Conan library packages with transparent integration (conan_paths.cmake). Build and tests are good.

When I run the installer (cmake --install | build INSTALL project), everything is installed into the correct location. Now I need to include the new Conan libraries.

Since imported targets cannot be directly installed via cmake inst

[2020-07-22 19:59] shelper opened #7403 "[question] How to set preprocessor definitions in conan recipe"
So I am trying to setup a recipe for cross platform building. e.g. with the switch below:
(I am just using ANDROID as an example, as i find out ANDROID is already in the preprocessor definitions automatically. )

[code]
How can I config the recipe so that this is taken care of automatically with my profile file?

I was thinking something like below using preprocessor definition, but since the prep

[2020-07-22 22:37] #7312 closed, assigned to nobody

[2020-07-22 22:37] #7315 closed, assigned to nobody

[2020-07-22 22:38] memsharded commented on #7312
Merged, ``self.recipe_folder`` will be available in Conan 1.28

[2020-07-22 22:39] memsharded commented on #7315
#7314 merged, ``self.recipe_folder`` will be available in Conan 1.28

[2020-07-22 22:43] memsharded commented on #7268
``self.recipe_folder`` will be available in Conan 1.28 (#7314 merged)

#7404 propose the ``init()`` method (adding tests) for the requested feature.

[2020-07-22 23:30] memsharded commented on #7403
Hi @shelper

It is not possible to pass directly preprocessor definitions transparently through the CMake build system:

- definitions can be passed to CMake, always with a value (can be False or None, but need a value, in CMake will be a string). But these are CMake definitions, not preprocessor definitions.
- CMake can define preprocessor directives in some different ways, like ``add_compile_def

[2020-07-22 23:36] memsharded commented on #7403
BTW, the ``CMake`` build helper will try to set the environment, so it is possible that ``definitions["CMAKE_SYSTEM_NAME"] == "Android"`` will already be defined, so you could use that in your CMakeLists.txt directly, without needing to specify anything else in the ``conanfile.py``.

[2020-07-23 00:11] solvingj opened #7405 "[bug] Make generator : Crucial logic for variable aggregation was removed"
At some point from the time the generator was original written and submitted with tests, and now, several important parts of generator were removed rendering it very different from other generators and far more awkward to use.  I doubt anyone is using this generator in it's current state as a result.

Currently, the known problems are:
There is no code which prepends `-D` to all the defines was re

[2020-07-23 00:48] #7403 closed, assigned to memsharded

[2020-07-23 05:32] nichmj01 opened #7406 "[question] Dynamic selection of generator based on settings"
Is it possible to dynamically select the generator from inside of a conanfile.py file based on the selected settings?

We currently use premake for most of our builds but need to use cmake to build for android. I think I have both premake and cmake working as I need and can select from the command line using the -g flag or just specify both in the conanfile, but it seems like it could be useful to

[2020-07-23 07:44] memsharded commented on #7406
Hi @nichmj01

Yes, we are suggesting for conditional configuration, including generators, to use the ``configure()`` method. It is possible to do:

[code]

Please give it a try and let us know.

[2020-07-23 07:54] memsharded commented on #7402
Hi @glennaycock

I think we need to understand the case a bit better, not fully sure I understood it. Let me summarize:

- You are creating an application, but it is not a Conan package, just an application that would be using maybe a ``conanfile.txt`` to install dependencies.
- You are using the ``cmake_paths`` generator, but at some point you are talking about the generated ``Find_libname`` scri

[2020-07-23 08:24] #7268 closed, assigned to nobody

[2020-07-23 08:25] memsharded commented on #7268
Merged. We will add docs in Conan 1.28 to suggest the ``init()`` method for unconditional values (available at ``conan inspect``) and ``configure()`` for conditional values (not available at ``conan inspect``, necessary evaluation with ``conan info``)

[2020-07-23 10:21] #7251 closed, assigned to SSE4

[2020-07-23 12:01] nichmj01 commented on #7406
Hi @memsharded

I had to make a small adjustment to put the generator in a list:
[code]
With that it works!

I also tested appending to the list so it will still accept the -g flag and that seems to work.

Thanks!

[2020-07-23 12:01] #7406 closed, assigned to memsharded

[2020-07-23 12:11] nichmj01 commented on #7406
Possible interesting note:
`self.generators` comes in already containing the 'txt' generator which I remove/replace with my snippet above. However, the txt generator still gets called later as I can see it listed in the on-screen log and conanbuildinfo.txt is generated. Maybe appending to the list in general is safer? I was looking at only specifying the "default" if the list was empty but I can c

[2020-07-23 12:16] memsharded commented on #7406
Hi @nichmj01

Good catch. While evaluating the ``configure()`` the generators is already a list, so needs to be managed as a list.
The ``txt`` generator is both initialized and also added later after user definitions, no problem you can keep declaring your generators that way. It is a legacy thing that will be removed in Conan 2.0.

[2020-07-23 13:06] mjvankampen opened #7407 "[feature] Conan virtualenv on Linux and Mac should generate powershell script as well shell script"
We use Powershell 7 quite a bit under Linux and Windows as it is a way to do some cross platform scripting (and most are devs are on Windows). It would be nice if activate.ps1 is also generated on Linux and Mac so those are useable from Powershell 7.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-07-23 13:39] wdobbe commented on #7268
Thank you!

[2020-07-23 14:20] glennaycock commented on #7402
@memsharded,

Thanks for the quick response. I am responding to your summary points below:

- You are creating an application, but it is not a Conan package, just an application that would be using maybe a conanfile.txt to install dependencies. **YES - I am using conanfile.py**
- You are using the cmake_paths generator, but at some point you are talking about the generated Find_libname scripts. Co

[2020-07-23 14:37] memsharded commented on #7402
Hi @glennaycock

Ok, then. I think now I understand it better:

- Indeed, if you can move to static linking, that removes the need of getting DLLs from the Conan cache
- For things that are shared, I would indeed recommend using the ``imports()`` method: https://docs.conan.io/en/latest/reference/conanfile/methods.html#imports, to get a copy of the DLLs and other stuff you might need from the Conan

[2020-07-23 15:19] solvingj opened #7409 "[feature] Option to ignore conan minimum version checks"
As there is currently discussion of a new potential feature enabling conan packages to declare a "minimum conan version" needed to use the recipe.  It is likely that both OSS and private package authors will use the feature for a variety of reasons which may or may not be relevant to all consumers of the package.   There are many cases where the requirement might be context-specific:

For example,

[2020-07-23 15:34] solvingj opened #7410 "[feature] Option/String field to declare WHY a minimum require is defined"
Very often, a recipe author will realize:
- Hey, i'm using new feature XYZ, in order for this recipe to work, users will need at least this feature

That's the most common and well-understood use-case for this feature.   It would be VERY helpful for the user to be able to annotate the REASON for the requirement. That reason could print out during failure.  it would be very helpful for users trying

[2020-07-23 16:12] saimusdev opened #7411 "[question] HowTo propagate includedirs for pkg consumers"
# How to publish include dirs in some package and consume them in another?

I'd like to know how **SPECIFICALLY** to define the attributes of `self.cpp_info.*` so that they're correctly propagated to the command line interface and correctly parsed by the compiler e.g. gcc.

We've tried to set the following as follows, with no luck:
[code]
Other tests:
[code]
another:
[code]

The problem is, that t

[2020-07-23 16:13] saimusdev commented on #7411
sorry if I missed it in the docs somewhere but is it possible to add include dirs, e.g. to a sysroot subdir, into the cpp_info?
Currently we're building our binary with  `-I =/opt/foo/bar` but I have not found a way to transport this information to the consumers of the package.
Conan seems to translate all includedir paths into absolutes. When I put these instructions into the cxxflags they get qu

[2020-07-23 16:13] saimusdev commented on #7411
```self.cxxflags = join_flags(" ", cpp_info.cxxflags)```
But then... in `client/generators/cmake.py:22`  replaces `"` with `\"`  and this obviously passes through to the CLI...
Maybe if you use single quotes instead of double quotes in the definition of those strings?
<sub>[View in Slack](https://cpplang.slack.com/archives/C41CWV9HA/p1595518286315500)</sub>

[2020-07-23 16:16] saimusdev commented on #7411
I did some minor investigation, but still unsure if the issue is with the double quotes, with the array declaration, with the missuse of this functionality,...

The fact of the matter is: if some library is using some include prefixes to build, (I'd like to know about those), as a consumer, so that they're automatically fed into the CLI and everything works out-of-the-box. Obviously, manually sett

[2020-07-24 00:07] #6390 closed

[2020-07-24 02:17] nguoithichkhampha commented on #7386
this is works case:
`
-L/Users/Emotiv/.conan/data/couchbase-lite-core/4eefcd62/Emotiv/stable/package/70868f12a0ba3f95590a14a5cf8ac1270d02a3f2/lib -lLiteCoreStatic -lSupport -lFleeceStatic -lBLIPStatic -lmbedx509 -lmbedcrypto -lSQLite3_UnicodeSN -L/Users/Emotiv/.conan/data/newmat/10d/Emotiv/stable/package/7419dd09f0a85e43dfd32ccf4d942e7c1921eb4d/lib -lnewmat -L/Users/Emotiv/.conan/data/arrow/646886

[2020-07-24 09:12] keef-cognitiv commented on #4480
Same issue. This used to work but in our case the libs end up getting pushed up to the front of the list instead of the end so it produces `/link/to/static-lib-1.a /link/to/static-lib-2.a -Wl,--whole-archive -Wl,--no-whole-archive` which is not particularly useful. Desperately need a work-around.

[2020-07-24 10:51] danimtb commented on #7407
Closed by https://github.com/conan-io/conan/pull/7408. This will be released in Conan 1.28! Thank you! 😄

[2020-07-24 13:17] mjvankampen opened #7414 "[bug] Build modules not exported when using new xbuilding feature"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: GCC 8.1.0 (MinGW)
  * Conan version: 1.27.1
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)

Consume the flatc package as a build_requirement when using --profile:host and --profile:build. The BuildFlatBuffers.cmake build module is not available as nor

[2020-07-24 13:20] #7407 closed, assigned to nobody

[2020-07-24 13:54] rddesmond commented on #4480
@keef-cognitiv I have since written a patch to the upstream project to make an init function (and I just call in my code which means that there is no longer a need to whole archive link).  But see my workaround on Feb 11, I think it still works.  The key is is a hack where you make conan think that the library is a system library:

Conan separates the system libs (anything that it does not recogni

[2020-07-24 15:03] fischjo3SICKAG opened #7415 "[question] Versioning of conan packages for pre-built libraries"
What is the 'conanian way' to solve the following situation?
Let X be a third party library with version A.B.C that shall be packaged as conan package using a recipe with version A.B.C. After successfully packaging it, recipe and package is uploaded to repository as released. Then, another software Y consumes the released recipe and becomes released too.
After a few months, a new software Z is bei

[2020-07-24 15:04] #7146 closed, assigned to nobody

[2020-07-24 16:44] memsharded commented on #7415
Hi @jfischer1

This is a very good question. There are 2 modes of operation in Conan right now:

- Without revisions: the default mode. A package can be regenerated with exactly the same version, it will be overwritten in the local cache, and overwritten in the server when it is uploaded (if the server has that permissions, typically it is possible unless explicitly configured for not allowing ove

[2020-07-24 20:38] cguldner opened #7417 "[bug] deps_cpp_info doesn't get updated for editable packages"
I have the same directory layout as described in #6896

On Conan 1.27.1, I'm trying to use editable packages in my recipes. For one of my recipes, I have a package that I need to copy over some of the source, so I use
[code]
I put repo1 into editable mode, using a layout file that looks like
[code]
However, when my `cp` command above runs, I get
[code]
but I would expect to see
[code]

Am I doing

[2020-07-24 21:23] ohanar opened #7418 "[question] How should you handle binary compatibility as a consumer?"
The product that I work on has roughly 100 conan packages that go into its making. Most of these packages are built with general purpose compilers (namely msvc and gcc), however a handful are built with the Intel Compiler.

This is what we want -- we don't want to build things like zlib or boost with the Intel Compiler, we want to use the general purpose compilers. This leads to a problem as a con

[2020-07-24 21:28] ohanar commented on #7418
I should say this isn't a big issue for local development: A developer can just run `conan install` with msvc/gcc. This is more of an issue when exporting a library built with the Intel Compiler using `conan create`.

[2020-07-24 22:59] memsharded commented on #7418
Hi @ohanar

Consumers can always say which packages are using which compiler, something like:

Profile:
[code]

Would this be useful for your case?

[2020-07-24 23:57] ajmetal opened #7419 "[bug] Setting MSBuild.build toolset argument does not change the PlatformToolset MSBuild will use."
I have multiple versions of Visual Studio installed on my machine, and I need to build a .dll in Visual Studio 2015.

When I call

I get an error because it tries to link against another lib that was built with an older compiler. The error message outputs:

[code]

So its using the incorrect Visual Studio version (2019), and ignoring the toolset I passed in.

This is my conaninfo.txt:

[code]

AFA

[2020-07-25 08:38] keef-cognitiv commented on #4480
oh ok thanks. I wonder if that works with static libs too. I'll give it a try when the work week starts again.

[2020-07-25 15:28] rddesmond commented on #4480
Whole library linking is only applicable for static libraries.

On Sat, Jul 25, 2020, 4:38 AM keef-cognitiv <notifications@github.com>
wrote:

[2020-07-25 16:03] anagno opened #7421 "[bug] The build=missing flag is not respected for the build_requires of the host system"
Hello Everyone,

I tried the new cross-building model (thanks for the great work!), but I think I found a bug (or I have not understood the documentation on how to use the new model). The bug is that the `--build=missing` flag is not respected for the `build_requires` of the host system.

Here is my use case:

I have a library that I would like to cross-build in Emscripten. So I defined my build p

[2020-07-26 00:29] anagno commented on #7421
I think I found the mistake :)

If I remove the build_requires `expat/2.2.9` from the profile and I add it in the recipe it seems to work:
[code]

And it is logical since this is not a build_requires for building in the host, but a build_requires of the library to be cross build. Sorry for opening early the report :)

[2020-07-26 00:29] #7421 closed, assigned to nobody

[2020-07-26 02:22] shelper opened #7422 "[question] Inconsistent package ID generated with the same settings"
I have a package called pcl, that i created using the android cross compile docker container from https://github.com/conan-io/conan-docker-tools.
I am trying to install the created pcl package onto windows for android NDK development. So what i did is something like:
`conan install pcl/1.11.0@ett/external -pr:h conan_android_default`
where the profile conan_android_default is directly copied defau

[2020-07-26 16:17] anagno opened #7423 "[question] Inconsistent behavior in the installation of the build_requirements when using the - profile:host and the old -pr flag"
Here is a simple demonstration example.

The conanfile.py:

[code]

The CMakeLists.txt file:

[code]

and the test_package.cpp program:

[code]

The profile I am using is:

[code]

When I am using the old syntax:

[code]

everything compiles fine and the FindLibXml2 is generated without a problem.

But when I am using the new syntax:
[code]

then the Find... cmake files are not generated.

This is

[2020-07-26 21:13] memsharded commented on #7423
Hi @anagno

I think what you are reporting is the expected behavior.

Build-requires are for build tools that are only necessary at compilation time, and are not part of the final binary. By definition, they do not affect the package-id (this might change in the future Conan 2.0), because in theory they do not affect the final binary. The typical examples of ``build_requires`` are ``cmake`` or ``7

[2020-07-26 21:20] memsharded commented on #7422
Hi @shelper

This is indeed very weird.

Let me clarify a couple of things:

- The ``package_id`` is a function of settings + options + versions of the dependencies. If some packages do not have dependencies, and have the same settings and options, then the resulting ``package_id`` will be the same, even for 2 different libraries. As the name of the final binary is the "package-reference" is ``pkg

[2020-07-26 21:37] memsharded commented on #7421
Hi @anagno

It seems (https://github.com/conan-io/conan/issues/7423) that you are starting to try the new cross-build model. Please let us know if the ``--build=missing`` would work in that case, in theory it should be building 2 different binaries, one in each context. Do not hesitate to re-open or open a new question for it. Thanks!

[2020-07-26 22:08] memsharded commented on #7419
Hi @ajmetal

There are a couple of discrepancies in the above output, I think it would be good to know more about.

The ``PlatformToolset="v142"`` in the command output is not the same as the one in the ``conaninfo.txt``.  Could you please tell:

- What is the input profile you are using, and what is the output of the ``conan create`` command (that will include the effective profile too).
- I woul

[2020-07-26 22:14] memsharded commented on #7393
Hi @blockspacer

So isn't the ``build = "missing"`` policy in the recipes a good alternative? You could put that in the recipes that can be built from source quickly, and forget about needing to specify in the command line.

In any case, it seems that for the Conan CLI 2.0, we might want to dfferentiate explicitly the policies from package names. Something like:

[code]

Just an idea, but @czoido

[2020-07-26 22:38] anagno commented on #7423
Hello @memsharded,

I have a couple of use cases that find_package could be used for including build tools:

* The first case is the one (more ore less) described in the pet example. libxml2 also comes with some tools and executables. So using find_package to be able to locate these tools is necessary. These tools are only used in the UTs. So they are not influencing the final binary. In a native

[2020-07-26 22:58] anagno commented on #7423
Probably one more category are UT frameworks. I do not think that the version of the GTest (or whatever framework someone is using), will influence the final binary. But probably you can not really replace it with any version of GTest during compilation of the library.

[2020-07-26 22:58] tjwrona opened #7424 "[question] Issues packaging a C++/CMake project that internally uses Conan for its own dependencies"
I'm trying to create a Conan package for this C++/CMake project: https://github.com/tnt-coders/cpp-dsp

The package recipe I have so far is checked in here: https://github.com/tnt-coders/cpp-dsp-conan

When I run `conan create`, it seems like it only executes a `conan install` for the top level "conanfile.py" but does not execute it for the internal "conanfile.txt" that is located inside the "cpp-

[2020-07-27 07:10] mjvankampen opened #7426 "[feature] Update qcc to latest version"
Update qcc to support 8.3 and c++17.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-07-27 07:27] fischjo3SICKAG commented on #7415
Hi @memsharded ,
thank you for the quick reply. It answers my question quite thoroughly. I understand now that  package_id_modes (e.g., recipe_revision_mode) together with lock-files should enable deterministic rebuilds of X and Z (excluding the non-determinism of the compiler).

[2020-07-27 07:27] #7415 closed, assigned to memsharded

[2020-07-27 08:55] memsharded commented on #7415
thank you for the quick reply. It answers my question quite thoroughly. I understand now that package_id_modes (e.g., recipe_revision_mode) together with lock-files should enable deterministic rebuilds of X and Z (excluding the non-determinism of the compiler).

Yes, exactly that, with ``package_id_mode`` users can select from a "relaxed" approach, that will not build new binaries, to "exact" appr

[2020-07-27 09:21] #7383 closed, assigned to nobody

[2020-07-27 09:21] #7426 closed, assigned to nobody

[2020-07-27 09:37] planetmarshall commented on #7379
Closing as have been unable to reproduce (possibly Windows was in some intermediate state). Will reopen if it happens again and I can reproduce the exact circumstances.

[2020-07-27 09:37] #7379 closed, assigned to nobody

[2020-07-27 09:47] fischjo3SICKAG commented on #7415
I've though about saving the information from a lock file for traceability. Given that conan_build_info is currently not recommended for use, does it make sense to package the conan lock file into the package? I've tried a quick shot, but had to learn that a lock file is not always present. It is present when using 'conan install', but for 'conan create'. Is there another way (besides uploading lo

[2020-07-27 10:09] DaveCage opened #7427 "[bug] conan install . failed"
When i cmd the command conan install . ,it report an error report
### Environment Details (include every applicable attribute)
  * Operating System+version:windows10
  * Compiler+version:Visual stuido
  * Conan version:1.27.0
  * Python version:3.7.0

more details:
    name = "CameraTestTool"
    version = "0.0.1"
    license = "<Put the package license here>"
    author = "<Put your name here> <A

[2020-07-27 10:31] memsharded commented on #7415
Good question. We have decided not to package the lockfile at the moment for a couple of reasons:

- Lockfiles are many times done per "application". You capture the lockfile of the whole dependency graph, and can use it to build different packages in it (like the ones affected by one upstream change). In that sense, the lockfile do not belong to just 1 package
- The lockfiles are still experiment

[2020-07-27 10:34] DaveCage commented on #7427
i did find settings.yml and settings.yml.new those two files in my document ,and i deleted them .it changes nothing ,i got the same error

[2020-07-27 10:34] memsharded commented on #7427
Hi @DaveCage

It seems your ``conanfile.py`` is checking ``self.settings.compiler.libcxx`` at some point, but you are trying to instantiate it with Visual Studio compiler, that doesn't have such configuration. Sounds like a bug in your recipe, and you probably want to fix it, doing a ``self.settings.get_safe("compiler.libcxx")``, for example: https://docs.conan.io/en/latest/reference/conanfile/att

[2020-07-27 10:36] memsharded commented on #7379
Thanks for following up @planetmarshall and letting us know.

[2020-07-27 10:36] DaveCage commented on #7427
[code]

[2020-07-27 10:40] memsharded commented on #7427
Uhm, interesting, that shouldn't fail.

Can you please share the full error output trace, the one containing:

'settings.compiler' possible configurations are ['cppstd', 'runtime', 'toolset', 'version']

Maybe is it possible that the error is in the dependency, in ``TeamLibrary/VS2017_develop_20200724.4@TeamLibrary/stage``, not in your recipe. You could try doing:

[code]

[2020-07-27 10:55] fischjo3SICKAG commented on #7415
Again, thank you for your explanation. I'm looking forward to 1.28, try it out and get back to this discussion if needed.

[2020-07-27 11:19] TheQwertiest commented on #7348
TLDR:
Conan's dependency graph is generated using only (static or dynamic) version ranges and corresponding recipes. Package id generation is applied only *after* the graph is generated and that's why it's impossible to check (and use) the build-status of the package for graph generation.

The whole process could be illustrated like this:
1. Lets say we have `app` that depends on `dep1` and `dep2`

[2020-07-27 11:47] planetmarshall commented on #6235
Currently looking at this related to building a tensorflow package. Not sure how rapid progress is likely to be but will submit a PR once I have something workable.

[2020-07-27 11:50] memsharded commented on #7223
Now https://clang.llvm.org/docs/ReleaseNotes.html points to Clang 12, while Clang 11 has not been officially released...

It seems that the right approach is to wait until official versions are released as stable.
Adding them to ``settings.yml`` too early without compiler stability guarantees might introduce more issues than it fixes, and users can locally modify ``settings.yml`` if they want.

[2020-07-27 11:57] memsharded commented on #6416
Hi!

This should have been fixed by https://github.com/conan-io/conan/pull/7341, which has already been merged to develop, and will be available in next Conan 1.28.

Could someone please run from develop branch to verify it? (Otherwise the package in PyPI-test will be available later today, when CI passes)

cc / @SSE4

[2020-07-27 12:19] #1677 closed

[2020-07-27 12:28] TheQwertiest commented on #7348
The complexity can be reduced if additional constraints are applied. As mentioned before, the only thing that is needed to resolve the whole graph for `app` are the `package_id`'s of it's direct dependencies. Transitive dependencies can be resolved via `lock` files that are published with those direct dependencies.

So, taking all this into account, here is a (rough idea of) proposed algorithm:

#

[2020-07-27 12:34] memsharded commented on #6235
Hi @technoir42 , @planetmarshall

Don't hold that contribution for too long unnecessarily, it doesn't need to be perfect. New generators for build systems are very low-risk, so we can start releasing a very basic functionality (label it as experimental), put it in other users hands and then they can help with testing, feedback, etc.

[2020-07-27 13:13] jokram opened #7428 "[question] Conan package for patching other conan package"
Let's assume I have the following portable compiler:
- `compiler_base` (size 1 GB): This is the base version of a portable compiler
- `compiler_patch_1` (size 1 MB): This is a patch for the compiler which needs to be applied on top of the `compiler_base` (so it's just a delta)
- `compiler_patch_2` (size 1 MB): This is a patch for the compiler above which needs to be applied on top of the `compiler

[2020-07-27 15:11] shelper commented on #7422
the `conan.conf` on each platform are exactly the same as i used `conan config install same_url` and verified manually also. the contents are:
[code]

I then deleted the pcl package from both platform and rerun the command `conan install pcl/1.11.0@ett/external -pr:h conan_android_default` , the `conan_android_default` profile is also the same on either platform with contents:
[code]
`conan instal

[2020-07-27 15:17] shelper commented on #7422
Another note, both platforms use conan 1.27.1,

[2020-07-27 15:39] memsharded commented on #7422
I think this could be it:

[code]

You don't want to check if the current system is windows or not to remove an option. You want to check your profile as suggested in the docs (https://docs.conan.io/en/latest/reference/conanfile/methods.html#configure-config-options):

[code]

Please try that and let me know.

[2020-07-27 15:52] wpd opened #7431 "Distributing and using a Yocto SDK via conan"
I am looking for guidance and feedback from others who have used conan to produce a Yocto SDK (perhaps repackage it?), distribute it, and then use it in a separate project.  I have been told that this has been done before using the old cross-build model, that it was used as as `build-require`, and that there is better experimental support for cross building now.

At the moment, I am a total newbie

[2020-07-27 15:56] memsharded commented on #7431
cc @btashton, @danimtb

[2020-07-27 16:03] #7270 closed, assigned to jgsogo

[2020-07-27 16:05] memsharded commented on #7270
This was fixed in https://github.com/conan-io/conan/pull/7353, will be released next 1.28. Thanks for reporting @jbatnozic !

[2020-07-27 16:12] memsharded commented on #4322
https://github.com/conan-io/conan/pull/5740 was merged, but this doesn't really fix this issue, as it is for CONAN_V2_MODE only. Adding ``c++`` in the old detection might still be worth fixing.

[2020-07-27 16:40] ohanar commented on #7418
@memsharded
I wasn't aware of that. Yes that does work, although it is horribly unergonomic. For instance, with just two packages, the profile gets to be something like this:
[code]

There isn't a way to setup profiles with yaml, is there? If there is, this could be made a lot simpler with anchors.

[2020-07-27 16:45] uilianries commented on #7431
Not sure if it's related, but there is good blog post about Yocto integration: https://blog.conan.io/2019/07/26/Conan-Yocto-integration.html

[2020-07-27 18:02] btashton commented on #7431
That doc explains how to use conan with the SDK, but I don't think we discussed how to package the SDK as a Conan package to be used as a build time dependency.

[2020-07-27 18:32] wpd commented on #7431
@uilianries Thanks.  I hadn't seen that blog post, but I had seen the documentation to which it referred.
@btashton You are correct and that is exactly the piece for which I was looking.

[2020-07-27 18:41] wpd commented on #7431
For more background, we have one team which is responsible for the Linux system image in our product.  We have another team which is responsible for the application that runs within that system image.  I'm on the Linux team.  I have to deliver an SDK to the application team.  It would be awfully nice if I could press a button, and at the end of some amount of time, the SDK for my particular tagged

[2020-07-27 18:43] shelper commented on #7422
it works! I also understand what happened there! many thanks!

[2020-07-27 18:43] #7422 closed, assigned to memsharded

[2020-07-27 19:13] btashton commented on #7431
@wpd that is helpful, sounds like you are wanting to use the extensible sdk vs the standard sdk from Yocto correct?

You are going to run into some issues though trying to expose those libraries up to other conan packages that are expecting them to be conan packages.  For things like glibc it is less of an issue, but opencv, ssl, python-dev, etc... will all be expected to be packages coming from C

[2020-07-27 19:25] wpd commented on #7431
@btashton I saw references to the "extensible sdk" in more recent Yocto documentation, but didn't really understand how it differed from the standard sdk.  I guess I'll have to research that as well now.  That's good.  Ultimately, I like learning new things, and optimizing workflows.
Yeah, I really don't want to install two versions of opencv, or libssl, etc...  So, perhaps I am misunderstanding w

[2020-07-27 19:35] btashton commented on #7431
As someone who has has built products using Yocto I feel where you are coming from, and there are certainly some overlaps. So I'll put this out there as what I have found to make sense.

You have the core base system kernel, bsp, init system, "linux apps" all that suck to mange, and this is where Yocto really shines.  But then you have your three applications that are the core of your project and

[2020-07-27 19:51] ajmetal commented on #7419
Thank you! I had the arguments wrong, I'm using:
`msbuild.build(project_file="solutionFile.sln", upgrade_project=False, build_type="Release", arch="x86", toolset="v140")`

and  the output I get is:

[code]
So the PlatformToolset is correct, but it still looks like its calling VS 2019?

When I run conan create I get:

[code]

Im running all these commands in a powershell window from the directory w

[2020-07-27 20:53] wpd commented on #7431
@btashton EXACTLY!!!!
So.... uh.... how can I create that Yocto SDK in such a manner as to distribute it to all of those developers through the magic of conan?
I _really_ don't want two copies of e.g. opencv installed in my image, and would really love to learn how to manage that (and/or to contribute to a a solution for managing that).

[2020-07-27 21:58] memsharded commented on #7431
IIRC, @danimtb managed to package the extended eSDK as Conan package (not the regular SDK) and reuse it later to create Conan packages for libraries. Even if that was not finished or polished, we could publish that at least as a starting point.

[2020-07-27 22:06] btashton commented on #7431
@memsharded The eSDK includes other libraries, which will not map to Conan packages.  So if the eSDK contains openCV there is no way that a Conan recipe would know that it exists.  This is why I think it is better to keep the SDK slim (i.e. normal SDK) and then have Conan provide the libraries.  Unless there is a way to do some kind of "provides" property that I am not aware of.

[2020-07-27 22:07] memsharded commented on #7419
Hi @ajmetal

What is the whole output before the ConanException showing that error? It would be interesting to know the "effective" profile that is being used. Also, the ``conanfile.py`` needs to have defined the ``settings = "os", "compiler", "build_type", "architecture"``, in order to receive correctly the settings from the profile.

Then, it might be possible that you are not exporting the proj

[2020-07-27 23:25] memsharded commented on #7264
Your PR https://github.com/conan-io/conan/pull/5740 has been merged, for CONAN_V2_MODE.
I think now it is very complicated, and almost impossible to do it without breaking. But sounds like for Conan 2.0, it would be good to continue your work and check the ``libcxx`` real possible values and defaults with an actual compilation, to get as close to 100% as possible the real value of the ``libcxx`` o

[2020-07-28 01:17] kralicky opened #7432 "[feature] Allow user-defined generators to be used with conan install -g"
The ability to "mix in" generators when installing a package reference is a unique feature that I think could be improved by allowing the use of user-defined generators.

The motivation for this comes from wanting to write a custom generator which would take any existing package and generate new file(s) from it at install time, similar to some of the built-in generators. Since this is restricted t

[2020-07-28 01:33] kralicky opened #7433 "[feature] Allow generators to delegate file creation to an external tool"
When writing a generator to integrate with an existing tool, it may be useful to invoke the tool directly and return its output file. However, some tools write their own files and don't support writing the data to stdout instead. Custom generators require contents() to return a value, but a generator could instead indicate that it has indirectly created the file using an external tool, and it need

[2020-07-28 08:18] memsharded commented on #7432
I agree with this. There is some pending improvements and discussions to be done around generators, see https://github.com/conan-io/conan/issues/6790

Having generators as config in the conan cache would make sense. Although a bit earlier than expected, if you want please do a PR with your implementation and lets discuss about it in next Conan 1.29, we need to think about other implications so no

[2020-07-28 08:23] memsharded commented on #7433
Hi @cobalt77

I am not sure about the proposed approach. Wouldn't it be enough to return an empty dict in ``contents()``, and let the generator print directly whatever it wants to print?

[2020-07-28 09:09] timbrown5 opened #7434 "[bug] conan search should error if both -rev and -q are set"
If I run a search with `-q` without `-rev` I get the expected result, which is only packages matching that query are returned. If I run it with `-rev` I get a list of all packages returned, regardless of if they match the query.

### Environment Details (include every applicable attribute)
  * Operating System+version: Mac 10.15.5
  * Compiler+version:
  * Conan version: 1.27.1
  * Python version:

[2020-07-28 09:44] thx-1113 opened #7436 "[bug] install --update does not update a locally cached package"
I have a package in a remote repository that has multiple recipe revisions. If I have an old revision installed locally in the Conan cache, running `conan install -r <remote> --update <reference>` is not updating it with the latest revision available from the remote.

I have `revisions_enabled = 1` set in `conan.conf`

### Environment Details (include every applicable attribute)
  * Operating Syst

[2020-07-28 10:15] lukasoyen commented on #6235
I've looked into at a little as well. IMHO the first step would be something like the `make` generator to generate a file with definitions that can be loaded and used from within `bazel` when manually creating rules. Maybe a helper-macro to define a `new_local_repository()` would be nice.

On the other hand: I guess integration could be accomplished using the `json` generator and parsing that on t

[2020-07-28 10:55] memsharded opened #7437 "Join the Conan 2.0 Tribe and help defining the next Conan major version"
Read the blog post: https://blog.conan.io/2020/07/28/Launching-Conan-2.0-Tribe.html

[Submit your application here before the 7th August 2020]( https://docs.google.com/forms/d/e/1FAIpQLScJSLSpWQhvipRLBNOazFv8CBpwtjaJ7S5gCrbMcDUzXb2amg/viewform)

[2020-07-28 11:28] afedechko opened #7438 "[question] import shared dlls in multi environment (Windows, VS)"
Hello,
I have a question regarding _[import]_ section in the _conanfile.txt_ and how it suppose to deal with the multiple environment.

- **OS:** Windows
- **Conan version:**  1.25.2
- **Conan generator:** cmake, visual_studio_multi, cmake-multi

**Issue**
I have next  _conanfile.txt_ file

[code]

I install my conan dependencies like this:
One for Debug and one for Release
[code]
It downloads and

[2020-07-28 12:23] memsharded commented on #7436
I am trying to reproduce this issue.
So far this test passes:

[code]

I am checking the source code, and the origin could be a timestamp difference. If the machines that are creating the packages have different times, it could introduce some inconsistencies that would skip the updates.

We will have a look and investigate this (will try in next 1.29 iteration), but please try to have a look at th

[2020-07-28 12:25] maikelvdh opened #7439 "[feature] Make checking remotes for updates an opt-in behaviour through conan.conf"
Currently you need as an user to always declare `--update` in order to check remotes if there are any updates to a package. It would be nice to make this also a configurable option within the `conan.conf` configuration to do this check always in case you have opted-in for this behaviour.

This behavior would for example greatly help if you are relying on revisions and would like to guarantee that

[2020-07-28 12:38] memsharded commented on #7428
Hi @jokram

I have been thinking about this use case, and so far couldn't come with a straightforward approach. If I understood correctly, your patches apply to the final packaged binary, not to the original sources of the compiler, and Conan at the moment cannot manage this, because packages are supposed to be quite immutable.

yes, changes in the final packages are not possible without breaking

[2020-07-28 13:33] glennaycock commented on #7402
This led me down a path I didn't intend to take. I had to complete the conan build of my application, which I never intended to use,  in order for imports() to work. In the course of doing so, I got side tracked trying to fix my other conan package.

I don't think static linking is going to work in the short term.

[2020-07-28 13:38] kralicky commented on #7433
Thanks for the response @memsharded!
I think it might be useful (for potential future improvements) for conan to to continue to be able to know about all files that are created by generators, and which generators created which files. Conan could aggregate this information currently because it writes all the files itself, but if a generator can return an empty dict, conan would not be able to know

[2020-07-28 14:45] stkw0 opened #7440 "[question] required pluginbase version"
Seems that conan depends on pluginbase<1.0. Are there some plans to make it compatible with pluginbase-1.0?

[code]
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-07-28 14:56] thx-1113 commented on #7436
Thanks for the quick response. I've dug deeper and may have identified what is going on.

In a nutshell, our workflow allows for a recipe revision to change (based on the commit hash of the repository the recipe is in) without the recipe itself having changed (ie: the conanfile.py is exactly the same).

It looks as if when a `--update` is performed, Conan is inspecting `conanmanifest.txt` in the n

[2020-07-28 14:57] memsharded commented on #7433
yes, indeed, connecting this issue to with #6790

I think the implementation could actually be that the path to the written files is returned, not just a "flag". My suggestion above was a way to be able to do that approach today, (without the output report), because it seems that we want to consider this feedback in the next iteration over the generators management, because it should be jointly co

[2020-07-28 15:41] kralicky commented on #7433
Agree, could do something like this for the next iteration:
[code]
Additionally, conan could verify that the files the generator claims to have created actually exist.

If conan stores a list of generated files, that might enable being able to do something like this:
[code]

[2020-07-28 16:58] memsharded commented on #7436
Yes, this is pretty accurate, but the revision is not only the ``conanfile.py`` but any other file in the manifest. In order to change the revision, it is necessary to change some other exported file, the ``conandata.yml`` or something. Otherwise, you will get exactly the same revision. Unless you are using the ``revision_mode = "scm"``, is this the case? We certainly need to revisit the compariso

[2020-07-28 17:14] memsharded commented on #7440
Hi @stkw0

This requirement is pretty old (git blame says 2017), and is used only in the ``conan_server``, not the client.

It might be possible to relax the requirement, nothing against it if it works without problems. I would suggest sending a PR relaxing the *requirements.txt* to include the 1.0, see if it passes CI. If not, try to fix the incompatibilities if any. If necessary to exclude versi

[2020-07-28 18:11] stkw0 commented on #7440
Yeah why not, I will do it :) Seems that pluginbase is only used in one little file, I guess in case of incompatibilities it should be easy to fix.

Thanks

[2020-07-28 18:42] thx-1113 commented on #7436
Yes, we are using `revision_mode = "scm"` so I think that's where the discrepancy in expectations is happening. We are definitely getting new revisions created when the git commit hash changes, as we would expect, but those revisions are not being 'recognised' as different when doing something like `--update`

Most normal usage is working fine, and we can install specific revisions on demand. It's

[2020-07-28 18:43] Croydon opened #7442 "[feature] Improve error message for components declares missing dependency"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

_______

This error message:

https://github.com/conan-io/conan/blob/81b96d0bd2f6e66e7feee3391449f14a58e1cb03/conans/model/build_info.py#L416

leaves users in the dark which dependencies are missing. Specifically when there are many this is a pretty annoying guess game when it isn't o

[2020-07-28 21:25] ericLemanissier opened #7444 "[question] components: requirements handling"
When using components, all the requirements of the recipe have to be explicitly associated with one of the components, or conan refuses the recipe. How should we handle the following cases?
1. The requirement is used only in a private plugin, which is loaded at run-time but to which consumers should not link directly, eg qt platform plugins
2. the requirement is used only in an executable, eg libe

[2020-07-28 21:25] memsharded commented on #7440
Closed by https://github.com/conan-io/conan/pull/7441

[2020-07-28 21:25] #7440 closed, assigned to memsharded

[2020-07-28 21:34] memsharded commented on #7402
Hi @glennaycock

Sorry I didn't fully understand. I got that static linking is not going to work.

But I didn't get:

Could you please clarify? Can you tell why ``imports()`` will not copy the DLLs or shared libraries from the packages to your local folder?

[2020-07-28 21:43] shelper opened #7445 "[question] How to remove /update the username and password for a remote server"
So i have added a remote package repo setup in artifactory, that needs username and password,
So I input the wrong user name and password and thus got rejected.
then i removed the remote server by `conan remote remove remote-name`, then add it back, and connected to it again, what i expected is conan will ask for username and password as it is newly added, but what happened is conan still uses the

[2020-07-28 22:43] memsharded commented on #7436
I have created a failing test in a branch: https://github.com/conan-io/conan/compare/develop...memsharded:test/update_revisions?expand=1

Now trying to understand the issue, and possible solutions. It is indeed a bit counter-intuitive, because it also makes sense to not upgrade if there are no changes to upgrade, and the final resulting contents will still be the same.

This make take a while, see

[2020-07-28 23:20] #6065 closed

[2020-07-28 23:20] #7063 closed, assigned to memsharded

[2020-07-28 23:20] #7137 closed, assigned to nobody

[2020-07-28 23:20] #7141 closed, assigned to nobody

[2020-07-28 23:20] #7245 closed, assigned to memsharded

[2020-07-28 23:20] #7290 closed, assigned to nobody

[2020-07-28 23:20] #7333 closed, assigned to memsharded

[2020-07-28 23:27] memsharded commented on #7245
Fixed in https://github.com/conan-io/conan/pull/7243 for Conan 1.28

[2020-07-28 23:31] memsharded commented on #7290
https://github.com/conan-io/conan/pull/7243 is proposing a whole new approach and command line for lockfiles for Conan 1.28.

Now when a package with a given ID is built, all the other repeated nodes in the graph with same ``package_id`` are updated, so this should fix your issue. Please keep tuned to the release and documentation updates, and let us know if it works.

[2020-07-28 23:33] memsharded commented on #7141
This has been addressed by #7243, that does big changes for the lockfiles. They will be released in Conan 1.28, please keep tuned to the release, and let us know if everything works.

[2020-07-28 23:34] memsharded commented on #6065
#7243 fixes this issue, will be released in Conan 1.28, together with many other changes of lockfiles.

[2020-07-28 23:42] #7330 closed, assigned to danimtb

[2020-07-28 23:43] memsharded commented on #7445
Try:

[code]

[2020-07-28 23:45] memsharded commented on #7424
Yes, the conanfile.txt and conanfile.py are alternatives. If you are using ``conanfile.py``, you shouldn't be using the ``conanfile.txt`` at all. You can use the ``conanfile.py`` for consuming only, and ``conan install`` will work correctly with it. ``conanfile.txt`` is only recommended for consumer-only simple cases, that do not need conditional requirements or other more complex logic.

[2020-07-29 02:47] maskerJT commented on #4925
cmake  -G "Visual Studio 16 2019"  -A x64

[2020-07-29 06:40] Prasaddiwalkar opened #7446 "How to configure Squish coco codecoverage with Conan+Cmake build"
I want to configure Squish codo codecoverage with Conan+CMake+gTest build system.

Can you please help me in finding documentation URL for right configuration to achieve it for enterprise level application.

Thanks,
Prasad

[2020-07-29 08:54] memsharded commented on #7434
Yes, this is true, at the moment the ``--revisions`` argument is incompatible with the ``-query`` one the reason is ``revisions`` listing is prioritized. For a search 2 revisions can be listed:

- ``conan search <ref> --revisions``: list the recipe revision of <ref> (``pkg/version@user/channel``). These revisions are independent of the settings, and options, query cannot apply here
- ``conan searc

[2020-07-29 09:13] timbrown5 commented on #7434
So is there no way to find a list of packages RREVs which are applicable for our profile? Seems like this would be useful?

I have tried doing:
[code]
as you said above, this fails with
[code]

[2020-07-29 09:28] memsharded commented on #7434
No, this doesnt seem a use case. You need to find the ``package_id``s that are applicable to your profiles. Revisions are changes in the source code or build, but not variants of the configuration. The RREVs or recipe revisions apply to all configurations, so cannot be queried, and all the PREVs or package revisions of a given ``package_id`` will have the same configuration, so a query there seems

[2020-07-29 10:42] jokram commented on #7428
@memsharded: Thanks for the quick response!

Yes, that's correct. The patch might be a ZIP file containing some file to be overwritten in the original compiler.

No, we just get the binaries. There might be a `build()` method, but there it contains only the steps to download the compiler from the vendor server in order to package it as a conan package. So we don't have the compiler source code.

W

[2020-07-29 11:01] jokram commented on #7428
@memsharded: I've had a look at #7313 which looks quite promising. The only concern which comes currently to my mind is that there should be a way to verify the consistency (based on checksums) of the `package_install` folder after the `package_install()` method has been executed. But maybe this is in the responsibility of the package provider to build such checks into the `package_install()` meth

[2020-07-29 11:26] danimtb commented on #7254
This has been implemented in #7320. Thanks a lot to everyone for the collaboration!!

[2020-07-29 11:26] #7254 closed, assigned to TimSimpson

[2020-07-29 11:28] danimtb commented on #6069
@uilianries anything else need regarding filenames after having https://github.com/conan-io/conan/issues/7254 implemented?

[2020-07-29 11:34] memsharded commented on #7428
Hi @jokram

Thanks for the feedback, I think now I understand it better.

Yes, I'd say that the result of applying the patch in ``package_install()`` should probably be checked by the ``package_install()`` itself, who knows what would be the final result.

In any case, I am thinking and is it possible that this could be a bit of premature optimization? If you are getting patches weekly, for the 1G

[2020-07-29 12:02] SSE4 commented on #6416
there seems to be one more issue, different from #7341. [example](https://github.com/Paultergeist/conan_apple_framework) works for macOS, but not for iOS/tvOS.

[2020-07-29 12:06] memsharded commented on #6416
I see. The example was coded in a test in https://github.com/conan-io/conan/pull/6499/files. Maybe we can extend that test to make it fail under iOS and tvOS? Could you please try that @SSE4 ?

Seems we are a bit late for fixing this in 1.28, moving it to next 1.29

[2020-07-29 12:08] SSE4 commented on #6416
yeah, I am going to try that. I think it might be the difference on how `find_library` works when cross-compiling, e.g. we might need to set parameters like `CMAKE_FIND_ROOT_PATH_BOTH`.

[2020-07-29 12:51] danimtb commented on #7431
@btashton @wpd we are making steps forward to a better integration with Yocto with some recent features in Conan.

- Regarding SDK provided libraries:

  We lately experimented with "system" or "proxy" recipes, that just forward (or install via system pkg manager) the system paths through a Conan recipe. For example. here with Xorg libs: https://github.com/conan-io/conan-center-index/blob/master/r

[2020-07-29 13:13] jasal82 commented on #7247
@jgsogo  It seems that the new `user_info_build` data is unfortunately not included in the `conanbuildinfo.json` which is where we are trying to read it from in our auxiliary build scripts... Do we need a new issue for that?

[2020-07-29 13:43] jasal82 opened #7448 "[bug] Data from user_info_build not forwarded in generators"
Unfortunately I cannot find the data from `user_info_build` in `conanbuildinfo.json` for example. My assumption is that the appropriate handling is simply missing in the generators. See #7247 and PR #7266 for history.

[2020-07-29 14:27] timbrown5 commented on #7434
Thanks for the feedback. I think we are going to try looping through each of the RREVs to see if there is a package for our query in there by doing:
`conan search llvm/9.0.0@graphcore/stable#RREV -rev -r graphcore-conan`

We looked at doing `conan search llvm/9.0.0@graphcore/stable#RREV:f8bda7f0751e4bc3beaa6c3b2eb02d455291c8a2 -rev -r graphcore-conan` as you said, but we would have to find both th

[2020-07-29 14:37] #7365 closed, assigned to nobody

[2020-07-29 14:41] uilianries commented on #6069
@danimtb No, we are good to go.

[2020-07-29 15:02] #6069 closed

[2020-07-29 16:26] jokram commented on #7428
@memsharded:

No, currently it's about saving storage costs on Artifactory.

Have the compiler conan recipe to not contain the binaries (maybe with a build_policy="missing" in the recipe)
fetch the tarball in the source() method, apply the patches in the build() method.
In this way, the package is actually "built" every time you install it, but as building from source is not necessary, downloading

[2020-07-29 18:34] memsharded commented on #2675
The PR https://github.com/conan-io/conan/pull/2676 has been there for a very long time, but was not merged because it was dangerous and could be breaking.

In the meantime, conan has learned the ``export()`` and ``export_sources()`` methods in Conan 1.26: https://docs.conan.io/en/latest/reference/conanfile/methods.html#export

As they have the ``src`` argument, they can specify the root folder, in

[2020-07-29 18:34] #2675 closed

[2020-07-29 18:57] Lizabeth-Roberts-Bose opened #7450 "[feature] Additional --build functionality for build_requires and requires"
There are really two types of dependencies and requirements modeled in conan, `requires` and `build_requires`. As noted in the conan documentation, these are intended for different purposes, however once you include either they get added to the graph in roughly the same way meaning they are treated basically the same from the perspective of most recipes. This is great for some purposes but not oth

[2020-07-29 20:07] skgbanga opened #7452 "[question] Setting options for your dependencies"
Hello,

I think my question is similar to #5726, but not exactly same.

Consider a base package `Base` which exposes an option `fPIC`.

I am the author of a project called `MyProject` which depends on `Base`. So my conaninfo.txt looks like this:

[code]

Everything works correctly so far.
Now, I make a conan package for my project `MyProject` and expose `fPIC` option as well.

My clients want to u

[2020-07-30 01:17] tjwrona commented on #7424
Thanks @memsharded, that does clarify some things. But this does raise two points...

1
-

Let's say for the sake of discussion what if I did not own the code contained in https://github.com/tnt-coders/cpp-dsp and could not modify it? (I do own it, and can modify it, but the situation will surely come up someday where someone wants to create a Conan package from a library they do not own that was

[2020-07-30 09:29] timbrown5 commented on #7434
I think the workflow we have above will work for us. I think (as you said) the issue is that it silently ignores one of the flags. I have updated the title as per your previous comment.

[2020-07-30 11:16] #7445 closed, assigned to nobody

[2020-07-30 15:58] GeFrIt42 opened #7454 "[feature] scm avoid to copy .git folder"
when conan create is called it does a copy of the repository from
myRepo to scm_source and to build

question: why the copy to scm_source is necessary? what is the background of this? i see that it is an exact copy also with my local changes

**suggestion1**: copy all files except the folder .git in scr_source and build/<hash>.
    **motivation**: better efficiency, also .git contains to much cach

[2020-07-30 16:06] DominikDeak opened #7455 "Enable support for 'distro 1.5.0'"
When upgrading `conan` (command `sudo pip3 install conan --upgrade`),  the pre-existing package `distro` is downgraded from version 1.5.0 to 1.1.0, see log snippet below.

[code]

Unfortunately, downgrading `distro` will break projects that depends on `distro` version 1.5.0. Would it be possible to make `conan` also support `distro` version 1.5.0 or higher?

### Environment Details
* Operating Sys

[2020-07-30 16:34] puetzk opened #7456 "[feature] Update package remote when uploading"
To control our dependencies, we keep the conan-center usually disabled in our conan config, and copy recipes which we intend to use (and binaries built with the desired profiles) onto our own enterprise artifactory instance. However, after doing this, the instance that did the builds will still have the recipe in its cache with the remote set to conan-center.

This can be changed with `conan remot

[2020-07-30 17:00] jaredkeithwhite opened #7457 "[feature] Don't Force Cache of Source Folder"
I feel that we need a configuration option that will always fetch sources during package create, if the user desires the source files to be updated.  Right now I may resort to something like:

`    def configure(self):
        source_dir = os.path.join(os.environ["HOME"], ".conan", "data", self.name, self.version, self.user, self.channel, "source")
        tools.rmdir(source_dir)
`

To ensure that

[2020-07-30 17:24] memsharded commented on #7457
Hi @jaredkeithwhite

For this use case, the recommendation is to use the ``build()`` method. That will make sure you get a clean download everytime. The ``source()`` mechanism is just an optimization when you want exactly this caching behavior of the sources, that must be common to all builds.

Please let me know if this makes sense. Thanks!

[2020-07-30 19:22] maikelvdh opened #7458 "[bug] Artifactory virtual repository deployment permission denied with use CLI configured password"
### Environment Details (include every applicable attribute)
  * Conan version: 1.27.1
  * Python version: 3.8.5
  * Artifactory version: 6.13.0 rev 61300900

### Steps to reproduce (Include if Applicable)
Create on Artifactory a Conan virtual repository (to mitigate #6743)  which consist out of one local Conan repository and one other virtual Conan repository. On the virtual repository you will s

[2020-07-30 19:23] jaredkeithwhite commented on #7457
Ah!  Very nice, that is what I was looking for.  Thank you.

[2020-07-30 20:33] anisi-tua commented on #4925
Hi @memsharded,  I'm using cmake 3.18.2 ......win 64x64 I'm not using Conan I'm using visual studio 2019

[2020-07-30 22:01] madebr opened #7460 "[bug] default GNU triplet of VIsual Studio is not understood by gnu autotools"
When passing conan's default gnu triplet to a configure script, and using the MSVC toolchain,
configuration fails because autotools does not recognize these triplets.
(at least when they use autotools' `AC_CANONICAL_HOST`, `AC_CANONICAL_BUILD` or `AC_CANONICAL_TARGET`)
(See https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Canonicalizing.html)

Conan generates `x86_64-windows-ms

[2020-07-30 22:03] memsharded commented on #4925
Sorry, @anisi-tua, but this is the Conan repository. This is about Conan issues, please do not post questions not related to Conan in this repo.

[2020-07-30 22:07] memsharded commented on #7457
Great to know. Yes, the idea is that every new package creation or build from source, will completely wipe the "build" folder in the Conan cache, and call the ``build()`` method again, for that configuration. On the other hand, the ``source()`` method is only called if the "source" folder (common to all different packages) does not exist. Hope this clarifies the issue, I think it is resolved now,

[2020-07-30 22:07] #7457 closed, assigned to memsharded

[2020-07-30 22:14] memsharded commented on #7455
Hi @DominikDeak

I have checked the ``git blame`` and the repo, and it doesn't seem there is any hard constraint to not update. If you want, please submit a PR relaxing this dependency in the ``requirements.txt``, and lets see what the CI tells.

[2020-07-31 06:32] blockspacer opened #7462 "FileCopier is slow (ubuntu 18)"
Conan `export-pkg` command is very slow.

Tested on recipe https://github.com/blockspacer/llvm_tools

NOTE: `def package` copied files fast enough (tested by extra logging via custom `def copytree`, see recipe of llvm_tools)

I suppose that slowdown in conan internals, maybe in `copier("*", symlinks=True)` https://github.com/conan-io/conan/blob/8d72743404c50f945522e77d0fce72d9ccef5a5e/conans/clien

[2020-07-31 11:46] Prasaddiwalkar commented on #7446
@memsharded

can you please help me here

[2020-07-31 12:53] tonka3000 opened #7463 "[question] Share python code to consumer recipe without python_requires"
Original question from https://twitter.com/tonka_2000/status/1289151762264461312?s=20

I search for ways to share a python code with my recipe without the `python_requires` mechanism.

## My scenario
I have a bigger project (150+ shared libs) where I use conan to make it easy for the consumer to use our project (btw: thanks you for conan components), which works great. But what I see over time is

[2020-07-31 13:30] shelper opened #7464 "[feature] access environment variable in profile"
So i want to setup a android cross building environment  profile that can be shared by the group, and since every one install the  android ndk in different folder, i wonder if it is possible to do something like this:
1. user setup ANDROID_NDK environment variable according to their own installation
2. in the shared cross building profile use something like the cmake does

[code]
or is there a way

[2020-07-31 13:32] #7464 closed, assigned to nobody

[2020-07-31 13:33] shelper opened #7465 "[question] Access environment variable in profile"
So i want to setup a android cross building environment  profile that can be shared by the group, and since every one install the  android ndk in different path, i wonder if it is possible to do something like this:
1. user setup ANDROID_NDK environment variable according to their own installation
2. in the shared cross building profile use something like the cmake does

[code]
or is there a way t

[2020-07-31 14:33] solvingj opened #7466 "[feature] provide optimization or alternative to conan export command"
In summary, for monorepo use cases in which users are developing multiple components/packages at once, users often want a single top-level command or script which will re-build all the change components/packages with conan.

This is currently possible.  Unfortunately, it has a performance drawback which is increasingly prohibitive with the scale of the codebase.  That flow is simply to run `conan

[2020-07-31 14:34] ericLemanissier opened #7467 "[bug] components versions and generators"
When using a recipe declaring components, the global version of the recipe does not seem to be propagated to the components, which can be seen when using `pkg_config` generator
This is a problem, because some libraries check their requirements' version via pkg-config, eg https://gitlab.gnome.org/GNOME/atk/-/blob/master/meson.build#L98, so currently they fail to use conan generated pkg-config files

[2020-07-31 15:04] memsharded commented on #7458
Hi @maikelvdh

I have been trying to reproduce it, but no success so far.

I have reproduced the setup with several Artifactory CE versions, from 6.11 to 7.5. I have tried with the nested virtual and also with a remote pointing to ConanCenter.

Might be some special configuration regarding permissions in your Artifactory? Can you reproduce that with a fresh Artifactory CE?

[2020-07-31 15:19] memsharded commented on #7463
Hi @tonka3000

- ``tools.pythonpath(self)``

Probably not. It is likely it will be removed, and in any case this enable the pythonpath to modules living inside other Conan packages, that needs to be there. So if you are going to depend on another Conan package, sounds ``python_requires`` will be better.

- https://docs.conan.io/en/latest/howtos/python_code_reuse.html#sharing-a-python-module

This

[2020-07-31 15:24] UnderSampled opened #7468 "[bug] Recursive, infinite imports"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.22.1
  * Python version: 3.7.6

### Steps to reproduce (Include if Applicable)

1. Create a conanfile.txt which imports files from another package's @bindirs into 'bin/Release': `@bindirs, *.dll -> bin/Release @`
2. Run `conan install ..` from a build

[2020-07-31 15:35] madebr opened #7469 "[bug] PKG_CONFIG_PATH from AutoToolsBuildEnvironment is not winbash compatible"
Currently, when using the pkg_conf generator with the AutoToolsBuildEnvironment,
windows paths are used in the PKG_CONFIG_PATH environment variable.

When using the `pkg_conf` generator, this causes `PKG_CONFIG_PATH` to be defined as:
`PKG_CONFIG_PATH='C:\Users\maarten\.conan\data\libusb-compat\0.1.7\_\_\build\ec6e396fb18bc2299d9ae033be6cad9af083007d:/mingw64/lib/pkgconfig:/mingw64/share/pkgconfig

[2020-07-31 15:40] memsharded commented on #7468
Hi @UnderSampled

I have tried to reproduce this issue, but so far no success. I have implemented this test following your instructions: https://github.com/conan-io/conan/pull/7470/files, but it passes ok. Could you please have a look at it and let me know if I am missing something? Thanks!

[2020-07-31 15:47] memsharded commented on #7466
Anything that requires a "diff" or the comparing something local against something in the cache might be impossible, specially if using revisions:

A recipe revision is based on the hash of the contents that is there. If there are local changes, that will generate a new revision. The new revision is not known until all files have been exported and hashed.

In the best case, this would still be ext

[2020-07-31 16:44] mjvankampen opened #7471 "[bug] ps1 env files for Unix have wrong separators"
When making the PR for this change I forgot that Linux uses different separators in environment variables. This means the current setup still does something like ```$env:PATH="foo;bar"``` instead of ```$env:PATH=foo:bar```.

[2020-07-31 22:06] memsharded commented on #7458
@maikelvdh has replicated the setup running a local Artifactory, and it succedeed.

The main difference is the Artifactory Enterprise with an HA cluster, with an nginx reverse proxy.

[2020-07-31 22:19] ohanar commented on #7121
No matter what choice of distro/glibc version is chosen for conan center, there will always be someone who has different needs.

If there is no desire to fix the underlying issue of glibc compatibility (due to package resolution performance concerns), how about adding an allow list and/or deny list for binaries? That way, if someone knows that they can't use the binaries on conan center, for whate

[2020-08-01 08:45] anagno commented on #7223
Should I close this issue then?

[2020-08-01 23:17] solvingj commented on #7180
Ok, in relation to another issue, @memsharded just informed me that `conan create . --build=outdated` will skip the build of the current package if the "recipe revision" and "package revision" both exist in cache.  So, in theory, this would just be a strictly version of the step to update the additional lockfiles (better than `--keep-build` because it would also bypass the package step.)

To be cl

[2020-08-02 08:10] SpaceIm opened #7474 "[bug] cmake + pkg_config generator: fail if pkgconfig components and conan 1.28.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.28.0
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)

- add pkgconfig components to `brotli` recipe in CCI using https://github.com/conan-io/conan-center-index/pull/2319:
[code]
- add `pkg_config` generator in

[2020-08-02 14:15] 0x4d0x4b opened #7475 "[feature] How to define dependency on an individual package component(s) in a conanfile.py to avoid leaking transient dependencies?"
I have got a package containing pre-built libraries provided by a 3rd party vendor. There are two libraries inside of a package that are mutually exclusive. Linking to both of them at the same time is undefined behavior.
For the sake of an example:
[code]

The `conanfile.py` content for `vendor_protocol` package is
[code]
On top of `vendor_protocol` package lies our wrapper layer - in this example

[2020-08-02 14:17] 0x4d0x4b opened #7476 "[question] How to use conan components with cmake?"
I have tried to use conan components with `cmake` generator, but `conanbuildinfo.cmake` did not contain any targets or references pointing to components.
After browsing conan's source code I came into conclusion that `cmake_find_package` genrator has to be used to make components work.
Is it correct and expected behaviour? Are there any plans to expand component functionality for a plain `cmake` g

[2020-08-02 14:21] 0x4d0x4b opened #7477 "[question] When are conan components expected to become part of official, stable API?"
I am really keen on using conan as **the** package manager for my team's production code.
However, I am not a big fun of linking all libraries from multi-library dependencies (this can cause problems described https://github.com/conan-io/conan/issues/7475)
Because of that I welcomed introduction of components into conan, but I have been wondering when it is expected for them to become a part of an

[2020-08-02 17:37] shelper opened #7478 "[question] create only shared or static library"
I have a recipe for a library called PCL that i set the option.shared to be False then built it, but still get shared libs.
This also happens for a widely used library called flann. When i run `conan install flann/version@ -o flann:shared=False` it still creates both .so and .a libs. i check the recipe and could not figure out why.

I 've enclosed the pcl lib recipe here:
[conanfile.py.txt](https:

[2020-08-02 21:44] tjwrona opened #7479 "[bug] Public compiler flags on CMake targets do not properly get propagated to the consumer of a package."
I am trying to package a library I created with Conan. The library requires C++17 so when creating the CMake target for the library the following is used:

`target_compile_features(dsp PUBLIC cxx_std_17)`

Since this compile feature is `PUBLIC` it will automatically be propagated to the user when the CMake target is consumed. However this doesn't seem to work when I use Conan. When I try to link t

[2020-08-03 06:34] arsdever commented on #7305
I see similarities with https://github.com/conan-io/conan/issues/7419

[2020-08-03 08:39] memsharded commented on #7363
Very similar to https://github.com/conan-io/conan/issues/6876

[2020-08-03 08:44] memsharded commented on #5696
Hi @xahon

Were those answers good to your question? In short, you can put the profiles you support directly in your repo too, so it will make straightforward to your users to use them, while making explicit the configurations you support, and it can be more than 1 (settings them on the conanfile will not allow to define more than 1 configuration).

I think that would be the best approach, so I am

[2020-08-03 08:44] #5696 closed

[2020-08-03 08:48] memsharded commented on #4087
Hi @ahauan4

python_requires have been completely re-designed since then, and now are declared with class attribute syntax. Please have a look at https://docs.conan.io/en/latest/extending/python_requires.html. The new syntax supports nested python_requires.

I think this issue can be closed now, but please re-open or submit a new issue if you have any question about this. Thanks!

[2020-08-03 08:48] #4087 closed

[2020-08-03 09:15] jgsogo commented on #7121
I like that `enabled`/`disabled`/`source-only` flag for the remotes. wdyt, @memsharded ?

[2020-08-03 09:53] ericLemanissier commented on #7474
most probably linked: when using cmake generator on a package requiring libpq, this error happens:
[code]
see also: https://github.com/conan-io/conan-center-index/pull/2382

also, when using cmake generator on a package requiring openssl, the following error happens:
[code]
see also https://github.com/conan-io/conan-center-index/pull/2383

[2020-08-03 11:56] pasrom opened #7480 "[feature] add missing compiler version check for ti-cgt-arm"
I'm using a cmake toolchain file to compile static libraries with the [ti-cgt-arm](https://www.ti.com/tool/download/ARM-CGT-18) compiler. I have modified the `settings.yml` compiler section with following information:
[code]

For now I'm getting this warning:

[code]

I'm expecting from conan, that the ti-arm-cgt compiler version check is working. My suggestion is to add the version check for ti-c

[2020-08-03 12:13] memsharded commented on #7480
Hi @pasrom

I am afraid we cannot merge code like ``if(CONAN_COMPILER STREQUAL "ti-cgt-arm")`` that references some custom compiler that the codebase is not aware of, as it would be inconsistent and confusing.

In any case, we are moving away of these compiler checks provided by the ``cmake`` generator, and the current way of thinking is:

- ``generators`` will only provide information about the d

[2020-08-03 12:14] madebr commented on #7474
Last week, I was seeing something similar on Windows:
https://github.com/conan-io/conan-center-index/pull/2351#issuecomment-667236099

[2020-08-03 12:18] jasal82 commented on #7247
@jgsogo @memsharded This should be reopened. I'm trying with Conan 1.28.0 and there's no `self.user_info_build` available in the `build()` method of the consumer project. It's also not in the generated build info files as I've already mentioned above. I cannot fix our manifest and documentation toolchain when these attributes are not forwarded.

[2020-08-03 12:31] memsharded commented on #7479
Hi @tjwrona1992

This is expected, as Conan is not a build system, but a package manager. Conan isolates each package from the other packages build systems, and it is possible, and actually very common to have dependency graphs in which packages uses different build systems.

The fact that your package ``CMakeLists.txt`` is declaring ``target_compile_features(dsp PUBLIC cxx_std_17)``, doesn't mean

[2020-08-03 12:42] jgsogo commented on #7474
I've found the bug introduced by the `pkg_config`+components generator. I'll have a look to the `ncurses` one @madebr  has just linked.

[2020-08-03 14:34] memsharded commented on #7480
Hi again @pasrom

I see you closed #7481, thanks for understanding. I think adding the suggested functionality in your own CMakeLists.txt can be done, do not hesitate to ask for guidance if necessary.

I am going to close this issue, we will definitely take into account the feedback when we move the compiler checks to the ``toolchain()`` feature. Thanks!

[2020-08-03 14:34] #7480 closed, assigned to memsharded

[2020-08-03 14:39] memsharded commented on #7478
Hi @shelper

I see in the PCL recipe that the shared libs is hardcoded:

[code]

Conan manages to set ``BUILD_SHARED_LIBS``, which is the standard CMake variable, to the right value. But if the PCL ``CMakeLists.txt`` doesn't follow the convention, then you need to adapt. Probably something like:

[code]

[2020-08-03 14:46] jgsogo commented on #7474
It is the same issue, `pkg_config` wrongly modifies `cpp_info` values.

[2020-08-03 14:46] memsharded commented on #7477
Hi @kajdam

Well, the ``components`` feature is pretty new, it is still getting support in the ``generators``, not all generators have learned to support components yet. So it seems it will take a while, I don't expect them to be declared stabled soon.

The good news, is that the most important piece, which is the declaration of components in the ``package_info()`` method will become de-facto stab

[2020-08-03 14:49] memsharded commented on #7468
Hi @UnderSampled

We just released Conan 1.28, but it is likely there might be a 1.28.1, and also planning for 1.29. It would be good to be able to reproduce this, did you manage to have a look at the test in https://github.com/conan-io/conan/pull/7470/files?

[2020-08-03 14:51] jgsogo commented on #7247
Hi! The member `user_info_build` will be available only if there is a build-require for the `build` context and you are providing two profiles to Conan. We added this test to the codebase which should reproduce that behavior: https://github.com/conan-io/conan/blob/develop/conans/test/functional/cross_building/user_info_test.py

How is yours different?

[2020-08-03 14:53] memsharded commented on #7465
Hi @shelper

Right now there is no way to get an environment variable in a profile. I am considering the idea of moving profiles to python files, they already have quite a bunch of logic there, that it is too custom:

- ``include(other_profile)``
- variable replacement

These mechanisms have their own syntax and logic. I think it would be way more flexible, and specially transparent for the users

[2020-08-03 14:59] memsharded commented on #6093
We have already started to design and implement the new CLI for Conan 2.0. The ``search`` command will search by default in remotes, and in all of them, and use ``--cache`` to search in the cache. Track the progress on Conan 2.0, assigning this to that milestone.

[2020-08-03 15:00] UnderSampled commented on #7468
I tried reproducing this again using my own directions, and found it would only happen when importing from one of my packages. I couldn't figure out what the difference between the packages were. Both use this construct:

[code]

While package that had the issue (when chosen as the package to import from) originally had been set up as an editable when I first saw the issue, I tried without the edi

[2020-08-03 15:41] #7471 closed, assigned to nobody

[2020-08-03 15:55] memsharded commented on #7468
Hi @UnderSampled

While I see that using editable packages could be a cause of this issue, I have been checking the code and the above constructs, and still no clue how this could happen with packages from the cache. So I suspect that the editable thing was still causing the issue, and maybe even if you removed the editable, there was something still around causing the issue.

Could you please mak

[2020-08-03 16:10] memsharded commented on #7442
Agree, proposed PR #7483

[2020-08-03 16:13] jgsogo commented on #6405
Hi! No news about this.

Conan v2.0 will include a new command-line interface that makes it possible to add user-defined commands (some preliminary PRs are already merged). This new CLI together with a good documentation of the Conan API opens a new set of possibilities, but IMHO it's not enough for this `--target` argument/need.

I'm not sure if this is something desired for the `conan build` com

[2020-08-03 16:36] jasal82 commented on #7247
It's the same. Except for the requires method. We're using the attribute instead of the `build_requirements()` function. Checking with the other method.

[2020-08-03 16:40] uilianries commented on #7223
@anagno Not necessary, let's wait for Clang 11 to become stable.

[2020-08-03 16:42] Minimonium commented on #5282
@lasote An update on the situation. I rewrote everything to use a separate Conan repository like you suggested, with a `conan copy` on upload action to the main repository, since the `build-info` bit is missing for now.

The issue with `export-pkg` way is that it recalculates the `package_id`, which means that if there is some machine-specific logic in this function anywhere in the graph - for exa

[2020-08-03 17:02] jgsogo commented on #7385
Feature for `filenames` has been merged, this is no longer needed: https://github.com/conan-io/conan/pull/7320

Thanks!

[2020-08-03 17:02] #7385 closed, assigned to danimtb

[2020-08-03 17:06] jasal82 commented on #7247
Doesn't help. I don't understand it.

[2020-08-03 17:35] shelper commented on #7478
awesome, thanks!

[2020-08-03 17:35] #7478 closed, assigned to memsharded

[2020-08-03 18:14] uilianries commented on #7476
Hi @kajdam !

Yes, you are correct, `cmake_find_package` and `cmake_find_package_multi` are used with components. About `cmake` package, it can be used together to other generators, they are different things, so there is not reason for including it cmake.

If you check Conan Center Index, it's a common approach. For instance: https://github.com/conan-io/conan-center-index/blob/master/recipes/opens

[2020-08-03 19:18] 0x4d0x4b commented on #7476
@uilianries Thanks for clarifying that `cmake_find_package` and `cmake_find_package_multi` are the way to go with components.

I did not quite get the part about plain `cmake` generator though.
Could you elaborate more why it is not supporting components at the moment, please?

For example if I were to use an `openssl` you linked in your reply in my consumer's package `conanfile.py` I would be for

[2020-08-03 19:33] tjwrona commented on #7479
Hi @memsharded,

That makes sense. Looking at the CMake documentation it looks like using `target_compile_options` with a specified language standard does in fact still allow users to use a higher level of the standard (such as C++20) if they so choose and it won't result in a conflict.

https://cmake.org/cmake/help/latest/manual/cmake-compile-features.7.html#requiring-language-standards

Conan re

[2020-08-03 19:50] uilianries commented on #7476
https://github.com/conan-io/conan/issues/6718#issuecomment-637447985

No. When you use ONLY `cmake` generator, CMake will consume the FindOpenSSL.cmake from your system. But again you can use both `cmake` and `cmake_find_package` together, not because the Find file, but set all correct settings according your Conan profile.

Please, read the issue https://github.com/conan-io/conan-center-index/iss

[2020-08-03 20:26] kheaactua opened #7484 "[question] How to inject ANDROID_ABI, and use the NDK and toolchain file provided by Android?"
I see that in [!4538](https://github.com/conan-io/conan/pull/4538), [cmake_flags.py](https://github.com/bincrafters/conan-android_ndk_installer/blob/4c98a5c87f76feaa1be9693064d72a61cc562278/conanfile.py#L183) was augmented to set the `ANDROID_ABI` definition in CMake.  But code only applies this if a toolchain file is not provided.

My problem is that I'm using the CMake toolchain file provided in

[2020-08-03 20:37] memsharded commented on #7479
Yes, that is true. If you use the generated find_package() by CMake, it will contain that standard definition, and it will work. This would be a very nice approach and we would make it the default, if it wasn't because of these important CMake limitations:

- As commented above, this only works for the case the consumers are using CMake too. It is important for Conan to be as build-system agnostic

[2020-08-03 20:58] Minimonium opened #7485 "[feature] [toolchain.cmake] Set platform and toolset only if generator matches Visual Studio"
Use case: Using MSVC with Ninja as CMake Generator. It doesn't support `PLATFORM` and `TOOLSET` variables and errors out on them.

Consider generating the template like this:
[code]

[2020-08-03 21:01] 0x4d0x4b commented on #7476
Thanks @uilianries
https://github.com/conan-io/conan/issues/6718#issuecomment-637447985 clarifies it all i.e. that `cmake_find_package/_multi` and `find_packages()` are they way forward which I am happy with, but wanted to have clarity on that.
I would suggest to update the documentation to clearly state that those generators are correct way to work with components using cmake

[2020-08-03 21:04] Minimonium commented on #7280
Related to #5737

[2020-08-03 21:04] Minimonium commented on #7226
Related to #5737

[2020-08-03 21:04] Minimonium commented on #7485
Related to #5737

[2020-08-03 21:08] memsharded commented on #7462
Hi @blockspacer

I have been having a look to see if this could be easily optimized in a clean way, but it is not that obvious.

Have you considered running the direct ``export_pkg`` functionality? The one providing ``source-folder`` and ``build-folder``. That will be calling your ``package()`` method instead of the slow ``FileCopier`` version. So instead of doing a ``conan package`` and then a ``

[2020-08-03 21:26] memsharded commented on #7460
I am not fully sure about the best approach, but from my limited understanding, it seems that would be a limitation or flaw in the ``autotools`` code. Then, wouldn't it be the best to patch the autotools code? I know it might be challenging to do this correctly, but conceptually seems the right thing to do.

[2020-08-03 21:37] fulara commented on #6837
got duplicated by #7479 and is there is also a nice conversation there, @memsharded feel free to close this one if you wish.

[2020-08-03 21:39] memsharded commented on #7452
Hi @skgbanga

Sorry for the late reply, it has been busy trying to release Conan 1.28.

I think what you might be looking for is the following:

[code]
This will propagate transitively the current fPIC value to the upstream "Base" dependency. Be aware that this is a strong definitions, and if other package that depends on "Base" tries to define the ``fPIC`` option to a different value, that will b

[2020-08-03 22:06] madebr commented on #7460
That's correct.
Autotools' detection code lives here: https://savannah.gnu.org/projects/config/
I've added a CCI recipe here: https://github.com/conan-io/conan-center-index/pull/2302

[2020-08-03 22:27] memsharded commented on #7456
Hi @puetzk

Let me understand a couple of things:

- Why are you concerned about defining this value? Are you using it for later --updates?
- Wouldn't it be good to do the updates explicitly, specifying ``--remote``?
- Are you using revisions already?
- Are you reusing the cache of the job that uploads the package to your Artifactory? If you used clean caches in those jobs, then it wouldn't be an

[2020-08-03 22:36] memsharded commented on #7485
It seems that this will not be resolved until build-time, when cmake is actually called.
Maybe it makes sense to model that in the toolchain already, that is, that the toolchain is aware that it will be using Ninja instead of MSBuild. It is likely that there will be other things to fix as well, and it might be very useful to not have to wait until build time and things are more explicit and simple

[2020-08-03 22:47] memsharded commented on #7410
Thinking about it, seems a bit too much of a feature for something that could easily be a comment:

[code]

Being realistic, I think that users will not use either, and for the very few ones that would like to annotate, a comment will be enough information for collaborators contributing on the recipe.

Also, there would be 2 ways to implement this:

- As another variable:
[code]
- As something to

[2020-08-03 23:01] Minimonium commented on #7485
The issue is that we should consider how to integrate toolchains with IDEs first and foremost, it's crucial if we want gain popularity with a wider user base.
For example, my case is VSCode and CMake Tools which sets the environment for you, so you don't expect it to hijack the generator since it's configurated via their specific mechanisms. A potential Conan extension in there should absolutely b

[2020-08-03 23:42] solvingj commented on #7410
lol, k

[2020-08-03 23:42] #7410 closed, assigned to nobody

[2020-08-03 23:52] memsharded commented on #7485
Possibly the biggest goal of toolchain() is to provide a better integration with build systems and IDEs. Being the core concept of toolchains that they generate files that can be used by the build systems, instead of calling the build systems and passing a lot of stuff via command line and environment, I would say that toolchains should definitely help in a better integration with the IDEs too. Th

[2020-08-04 01:02] skgbanga commented on #7452
@memsharded I will try this solution and let you know. I am closing the issue for now. (will reopen if it doesn't work)

[2020-08-04 01:02] #7452 closed, assigned to memsharded

[2020-08-04 01:21] shelper commented on #6716
I tested with the latest 1.27.1 conan, seems the internal order of the static libs is not automatically setted up, i still have to do something like:
`self.cpp_info.libs = [c_that_needs_b, b_that_needs_a, a]`

since this issue is closed, is there anything availabe? why i could not find the documentation for this? and the `.components` does not seem to be a member of `cpp_info`. or did i miss anyth

[2020-08-04 06:52] 0x4d0x4b commented on #7477
Thanks @memsharded
Adoption of `components` in ConanCenter recipes is reassuring.
We might start using `components` API too, once we know how to deal with a problem described in #7475 i.e use of individual `components` in non-components package.

[2020-08-04 06:52] #7477 closed, assigned to memsharded

[2020-08-04 07:42] Gbd199 opened #7487 "overcome windows path limit on create"
https://github.com/conan-io/conan/blob/dd258e0aec228cdc59efc46dea624519998d221d/conans/util/files.py#L250-L252

If the path length is above the Windows standard path limit of 260 or so, the rmtree call fails to remove the directory, which later raises an exception when conan tries to create it again to copy the sources into.
After some digging around I found this workaroung for python when it come

[2020-08-04 07:46] memsharded commented on #7487
Hi @Gbd199

It is not clear what you mean. please file a complete issue, detailing what fails, the error message, the files and commands to reproduce.

[2020-08-04 07:50] memsharded commented on #6716
Hi @shelper

Not clear what you mean. The components feature will put the libs in order, if you declare them, something like:

[code]

That will put the libs libA, libB and libC in the right order.

[2020-08-04 08:07] Gbd199 commented on #7487
Adding some of the sources of my 'digging around':
https://stackoverflow.com/questions/28491219/removing-and-listing-directories-above-the-character-limit
https://www.burgaud.com/path-too-long
https://bugs.python.org/issue18199
https://github.com/nerdvegas/rez/issues/436
https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#maximum_path_length

[2020-08-04 08:18] memsharded commented on #7487
Hi @Gbd199

Still not an issue report, please provide:

- Conan version, Python version.
- Conanfiles and conan commands to reproduce your issue
- Output of the commands
- Are you using the ``short_paths`` feature?
- Have you enabled the Windows long paths at the system level?

Thanks

[2020-08-04 08:59] jasal82 commented on #7247
@jgsogo I found the issue. It's working only in the create workflow. When I run install/build separately the `user_info_build` member is not there.

[2020-08-04 09:06] jgsogo commented on #6716
Hi, @shelper. Components are ordered according to the dependencies between them, but libraries listed in the `cpp_info.libs` attribute must be ordered by the user, I think there is nothing Conan should do to order these libraries (if the linker itself doesn't do this task, probably it is too much for a more generic tool like Conan).

[2020-08-04 09:07] jgsogo commented on #7247
I'm going to check and reproduce it with a test. Thanks for the investigation!

[2020-08-04 09:51] jgsogo commented on #7247
I'm reproducing it here (https://github.com/conan-io/conan/pull/7488), probably deserves having a look to your other issue too (https://github.com/conan-io/conan/issues/7448) in this same PR

[2020-08-04 09:57] jasal82 commented on #7247
Just verified that it's not a follow-up error. The `user_info_build` is not in the generated json even when using the create workflow.

[2020-08-04 10:25] Gbd199 commented on #7487
Unfortunately I cannot provide all of those, since my working station has no internet access...
But I'll try to describe the issue as thoroughly as I can, and how I arrived at it. I hope this will be enough, since the problem is not conan specific, but more of a python trick to cover an edge case.

Conan version: 1.19.1
Python version: 3.5.1

**How I arrived at it, and some errors**
I'm adding the

[2020-08-04 10:53] steffenroeber opened #7489 "[bug] cmake_find_package_multi generator uses wrong libs of components"
### Environment Details (include every applicable attribute)
  * Win 10
  * Visual Studio 2015
  * Conan version: 1.28.0
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
[code]

Consumer CMAKELIST:

[code]

We have our libs in different folders "Debug"  and "Release" with identical names. If I use components together with cmake_find_package_multi , then generated cmake/vcx

[2020-08-04 11:55] memsharded commented on #7489
Hi @steffenroeber

I have tried to reproduce, please find the source code here:
[test_project.zip](https://github.com/conan-io/conan/files/5021875/test_project.zip)

[code]

Seems to be working ok. Could you please have a look? Thanks!

[2020-08-04 12:02] #7442 closed, assigned to memsharded

[2020-08-04 12:19] steffenroeber commented on #7489
Hi, thanks for fast response. Your example shows exactly my problem. In the generated example.vcxproj all (Debug and Release) sections <Link><AdditionalDependencies> are idendical.
And you can also see the warning: Skipping already existing target

[2020-08-04 12:26] #7342 closed, assigned to nobody

[2020-08-04 12:34] steffenroeber opened #7491 "[feature] Add support for bindir in cmake_find_package_multi generator"
Currently only lib and include dirs are supported by cmake_find_package_multi generator.
It would be nice, to have bindirs too.
For example:
According to already working
set(Qt5_Core_LIB_DIRS_DEBUG "C:/.conan/88f0be/1/lib")
->
set(Qt5_Core_BIN_DIRS_DEBUG "C:/.conan/88f0be/1/bin")

[2020-08-04 13:15] memsharded commented on #7489
Thanks for the clarification, as it was correctly finding both, I thought it was ok, I missed the "skipping" part. I'll have another look.

[2020-08-04 13:34] shelper commented on #6716
@jgsogo for instance , i have a package that generate the following lib files: lib_a, lib_b, lib_c, lib_d, and i know that lib_b&c depend on lib_a, lib_d depend on lib_b, one way i can do to ensure the link order is to define:
`self.cpp_info.libs=[lib_d, lib_c, lib_b, lib_a]`

but i dont want to manually define this order, how should i use the components? if I understand correctly, i should do som

[2020-08-04 15:05] memsharded commented on #7489
I was able to reproduce, indeed a bug, due to some parallel changes to the cmake code. Proposing a PR https://github.com/conan-io/conan/pull/7492 to fix it for next patch 1.28.1

[2020-08-04 15:08] shelper commented on #5308
@SSE4

I have my profile with `os.api_level=21`, but my compiling log still complains:
`-- ANDROID_PLATFORM not set. Defaulting to minimum supported version 16`

I am using conan 1.27.1, tried on both windows and linux

[2020-08-04 15:40] DoDoENT opened #7493 "[bug] creating iOS packages using simple toolchains broken as of conan 1.26"
Consider this simple iOS toolchain (based on [this toolchain](https://github.com/microblink/build/blob/master/toolchains/ios.toolchain.cmake)):

[code]

Let's create a simple package that contains this toolchain:

[code]

Also, let's create a conan profile using this toolchain:

[code]

Now, let's use this profile to create some package

[code]

With Conan 1.25.2 and earlier, everything works. Wit

[2020-08-04 17:00] memsharded commented on #7487
Hi @Gbd199

Thanks very much for your explanation, now it seems that it starts to make more sense.

I am still struggling to understand how you can get long paths if the long paths are not supported by the OS (you confirmed you didn't enabled them). A long path should never hit the ``rmtree`` call, because it is basically impossible to create it in the first place, it will error earlier. Maybe is

[2020-08-04 17:10] tjwrona commented on #7479
Hi @memsharded ,

Regarding the 3rd bullet point you mentioned above. I converted my library to use the `cmake_paths` generator to fetch the `GTest` library using `find_package` instead of the `CONAN_PKG::gtest` package and it seems like I actually am able to change build configurations and get two different packages for `GTest` based on the configuration.

I am using a multi-config environment (V

[2020-08-04 17:37] MichaelHCline opened #7495 "[bug] Cant set env variable CONAN_ERROR_ON_OVERRIDE in a profile"
I can set CONAN_ERROR_ON_OVERRIDE=1 in my conan.conf, or I can set the env variable on the command line:
export CONAN_ERROR_ON_OVERRIDE=1
However, putting this in my profile file, does not seem to have any affect.
[env]
CONAN_ERROR_ON_OVERRIDE=1

### Environment Details (include every applicable attribute)
  * Operating System+version:  Linux   3.10.0-1127.13.1.el7.x86_64
  * Compiler+version:  n/

[2020-08-04 21:50] fulara opened #7496 "[feature] component shouldnt require consumers to also use components."
I have prepared a repository that you can use to validate the flow without spending your own time on preparing example:
https://github.com/fulara/testing-components/tree/snapshot-github

note this is pretty much a duplicate of: https://github.com/conan-io/conan/issues/7475
However its a question there, and I am requesting the feature here  ( actually I am more leaning towards raising a bug, but it

[2020-08-04 21:52] memsharded commented on #7479
Can you depend on a third party library, install both debug and release packages, and then switch in the Visual Studio IDE from Debug to Release and it will work without re-building and installing the dependency?

[2020-08-04 21:58] memsharded commented on #7496
This seems a valid feature request. I agree that possibly the desired UX would be:

[code]

Tagging this for having a look and analyzing if doable.

[2020-08-04 22:02] fulara opened #7497 "[feature] components to have a 'provides' attribute"
This is a thought that came up from this really: https://github.com/conan-io/conan/issues/7475

Since [provides](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#provides) now exists, it may make sense to include the provides attribute in the .components as well.

For cases when we have packages, that deliver multiple libs that conflict with one another.

- [x] I've read the [CO

[2020-08-04 22:12] memsharded commented on #7495
This is expected, at the moment the env-vars defined in the profiles apply to recipes, those env-vars will be activated in the recipes ``build()``, ``package()``, etc. methods. As described in the docs, the settings and env-vars defined in the profiles apply per-package, so

[code]

As they are a package thing, they do not apply to core Conan dependency resolution algorithms where many packages ar

[2020-08-04 22:14] ghost opened #7498 "[bug] Conan with Artifactory fails to download large packages"
Hello All,

Potentially related to issues: #1901 #3580 #6995

We recently migrated our Conan Server from the Conan provided server to Artifactory's Server and we are having issues downloading very large packages (~2.6Gigs).  Since we did not have this issue before, it is safe to assume that this issue comes from the change in Server (Server's fault, or Conan/Server not interfacing properly).

When

[2020-08-04 22:18] memsharded commented on #7497
Quick feedback: ``provides`` will be extremely challenging to be defined by .components, because they are provided at dependency resolution time. At that time the ``package_info()`` is not evaluated at all, as for that, the binaries need to be downloaded and installed. That is much later in the process. So ``provides`` is a graph definition thing, like versions, while ``components`` are a build de

[2020-08-04 22:22] memsharded commented on #7498
Quick check, I guess you mean ``conan 1.28.0``, as ``1.28.1`` has not been released yet.

Also quick question: in which system are you running the Artifactory CE? In the same one? The docker one?

[2020-08-04 22:28] memsharded commented on #7493
This change was introduced in https://github.com/conan-io/conan/pull/7164, by @SSE4

Could you please have a look to this issue, @SSE4 ? Many thanks

[2020-08-04 22:38] memsharded commented on #7493
Maybe this would be a reasonable fix?

[code]

Also @DoDoENT we would be interested in your feedback for the ``toolchain()`` feature. This will be the proposed future integration with build systems in Conan 2.0.

We are preparing a patch release Conan 1.28.1, are you planning to upgrade to 1.28 or to which other version?

[2020-08-04 22:44] memsharded commented on #7496
Yes, that is true, this seems a duplicate of https://github.com/conan-io/conan/issues/7475, lets close this one and convert the previous existing one to a feature request.

[2020-08-04 22:44] #7496 closed, assigned to nobody

[2020-08-04 22:45] fulara commented on #7497
Hello @memsharded! - I was only thinking of `provides` at a single level of artifact, wouldnt that make it a build definition thing?
They wouldnt block `provides` globally, but only between same subset of components, hm.

Anyway, it was just a random thought - for this case actually I would go maybe with an option instead of component.

[2020-08-04 22:45] memsharded commented on #7475
From https://github.com/conan-io/conan/issues/7496 too, it seems this would be a valid feature request, to have something like:

[code]

[2020-08-04 22:54] memsharded commented on #7497
They wouldnt block provides globally, but only between same subset of components, hm.

Yeah, that might be possible, but that evaluation at the components definition would make checking the collision more complicated than the current one. I think it would be better to wait until there is strong evidence of this scenario becoming a big pain (note the provides is still only a UX thing). If this is a

[2020-08-04 23:11] ghost commented on #7498
yes 1.28.0, sorry.  We have 1 instance of Artifactory Community Edition which has the conan add on.  No docker, and nothing fancy going on besides configurable SSL (if that counts).

[code]

[2020-08-04 23:26] memsharded commented on #7498
Yes, that might be a potential cause. We have found sometimes the limit was an Nginx frontend, not Artifactory, for example. Could you please try to run with the bare server (no SSL, just out of the box) if possible, to try to rule out that possible cause?

[2020-08-05 00:25] ghost commented on #7498
The same issue happens when I use the Server's HTTP remote,  HTTPS with SSL=False, and HTTPS with SSL=True.

When I run with an older version of conan (1.16.1), I get a different (potentially useful) error:
[code]

[2020-08-05 00:36] tjwrona commented on #7479
@memsharded, yes as far as I can tell it is doing exactly what you describe when I use `GTest`. It seems to get two separate packages, one for "debug" builds and another for "release" builds, but once I fetch and build each one once I don't need to fetch and build them again. I have pushed an updated version of the library that works this way to https://github.com/tnt-coders/cpp-dsp/commit/b7b52e3

[2020-08-05 00:50] ghost commented on #7498
I just got it to pass (multiple times) on multiple different boxes on our network.  The error seems to be isolated to a few different client boxes. The specific boxes that are having issues are only having issues with big packages (they get small packages just fine, including small packages over VPN). My $CONAN_USER_HOME is located on a NFS shared between problem and non-problem boxes, so my setti

[2020-08-05 02:20] puetzk commented on #7456
Only because I do not want it to remain pointing to conan-center - I want to pull in updates from there only explicitly. When I do use --update against our internal artifactory, and I don't want that to go pull a bunch of conan-center stuff because I forgot where things were pointed.

Also, I generally keep conan-center disabled unless intentionally downloading updates. If the package in my local

[2020-08-05 06:37] fulara commented on #7475
@memsharded  Just a note here, this is breaking change for components.
I think the ideal behavior would be that the packages that provide components do not propagate automaticlaly, but have to be put into a `cpp_info.requires[...]`
With an assert preferably when someone does not do that - as in this case it would not addanything - rather than whats the current behavior seemingly that it propagates

[2020-08-05 06:56] Gbd199 commented on #7487
Ok so I've done some testing.
At first I wanted to say that the paths being generated successfuly despite being too long is not that surprising since any tool can apply the trick I mentioned to suprass that limitation.
But, as I tried to run the CMake build using the 'Visual Studio'(MSVC) toolchain instead of the WSL one, it did fail saying it cannot generate/find some files(it didn't say it's due

[2020-08-05 07:42] SSE4 commented on #5308
@shelper please create new issue. I need more details, e.g. your conan full profile to replicate it.

[2020-08-05 07:44] SSE4 commented on #7493
I think it requires a bit different fix. `CMAKE_OSX_ARCHITECTURES="None"` is definitely wrong and should never be passed.
sysroot computed for iOS also looks incorrect, might be a bug in our `XCRun` helper as well.

[2020-08-05 07:46] SSE4 commented on #7493
copying comment from @anuraaga also:
[code]

[2020-08-05 08:54] memsharded commented on #7493
Ok, would be then an easy fix?, do you think you could prepare a patch for 1.28.1 @SSE4 ?

[2020-08-05 09:30] jgsogo commented on #7475
IMHO, a package should ALWAYS be usable without components (some generators might not provide something like a _components_ feature). If two components are mutually exclusive then the way to go is to add an option to the recipe and generate the `lite` or `full` flavor (and create only the matching component if desired)

Said that, I agree that this feature could be useful and I agree with @fulara

[2020-08-05 09:51] wizardsd commented on #1699
I have another good case for this feature for CI and artifactory. For example, when you build a shared library (*.so, *.dll, etc), you declare public requirements in `requires` field (i.e. if your library depends on Qt on public *.h file) and declare private requirements in `build_requires` (i.e. if your library uses `libfoobar` internally) because users of your library don't need the `libfoobar`

[2020-08-05 10:00] wizardsd commented on #5833
A PR #4207 has strange test case with SSH:
[code]

I think, that the URI in invalid and should look like `ssh://git@github.com:2222/conan.git` according to https://www.iana.org/assignments/uri-schemes/prov/ssh because a SSH URI can't contain a text after the colon.
@lasote , you merged this PR #4207, what do you think about this test case?

[2020-08-05 10:07] jgsogo commented on #7497
Yes, let's see how it works at the recipe level first, so far we haven't hear anything from people finding these conflicts and trying to fix them (and it will require some _proxy_ recipes that we don't have right now).

I'm closing this issue as suggested, let's open it again in the future if needed.

Thanks!

[2020-08-05 10:07] #7497 closed, assigned to nobody

[2020-08-05 10:12] fulara commented on #7475
Just a comment here, so we dont get off tracked here.
This request should no longer focus about handling the mutually exlusive packages,
its only so that component in my mind fulfil the promise they seem to give.

Example:
we have boost, which has tons of libraries, currently they are all linked.
I would like to see componentized boost, like boost::system.

And I would like all consumers to explic

[2020-08-05 10:57] ghost opened #7499 "[bug] Cmake targets glue C and CXX flags"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04 in docker
  * Compiler+version: GCC 9.3 and GCC 9.2 cross for arm
  * Conan version: 1.28.0
  * Python version:  3.8.2

### Steps to reproduce (Include if Applicable)
  1. Make package with CXX specific flags, eg. -fno-exceptions, -fno-rtti
  2. Use cmake generator with target aproach and link t

[2020-08-05 11:16] DoDoENT commented on #7493
We are currently stuck at 1.25.2 due to this bug (I've actually discovered it soon after 1.26.1 was released, by was unfortunately too busy to test the behaviour thoroughly, make sure that it really is a bug and not something on my side and write a proper bug report - sorry about that).

As soon this gets fixed, we will upgrade to 1.28.1, provided that we don't find some other new bugs that would

[2020-08-05 11:40] helmesjo opened #7501 "[bug] requirements() executed after configure() in v1.28"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.28
  * Python version: 3.3.7

### Steps to reproduce (Include if Applicable)
conanfile.py with:
[code]

**Expected output:**
[code]

**Actual output:**
[code]

This worked correctly before version 1.28. Now it's no longer possible to ch

[2020-08-05 11:48] memsharded commented on #7501
Hi @helmesjo

This is not a bug, this is expected and documented behavior. Check for example: https://docs.conan.io/en/latest/reference/commands/consumer/install.html, there it explains the evaluation order explicitly.

It doesn't matter in which order they are declared in the recipe, the evaluation order is always the same, and first the ``configure()`` is called, then the ``requirements()``. It

[2020-08-05 11:57] memsharded commented on #7474
Fixed by https://github.com/conan-io/conan/pull/7482

[2020-08-05 11:57] #7474 closed, assigned to jgsogo

[2020-08-05 12:03] helmesjo commented on #7501
Yeah declaration order obviously doesn't affect it, but pretty sure it changed for 1.28 because one of my recipes just started failing after updating.
But ok, then I'll just fix my recipe.
Thanks! 🙂

[2020-08-05 12:05] memsharded commented on #7498
Hi @szegel

Yeah, networks can be problematic, this is why we first added retries on the failed downloads, and recently we merged support for resumable downloads for large packages, which has improved the situation. What you are seeing in previous Conan versions like ``Transfer interrupted before complete: 1092418911 < 2799985649`` is an interrupted download that was not resumed, this is why the o

[2020-08-05 12:11] memsharded commented on #7501
Please let us know about the failure, and what has changed. I am quite sure the evaluation order didn't change in a long time, so the failure might be something else. If you have something that can be reproduced more thoroughly we could have a look. Thanks!

[2020-08-05 12:41] 0x4d0x4b commented on #7475
Yes, the bottom line is that a user should be allowed to define dependency on a subset of components (link to a subset of libraries) from a package and only that subset should be carried down the dependency graph.
I used an example with mutually exclusive libraries to highlight that linking to everything might be an issue and it is my real life example (simplified a bit, but real).
Indeed, in case

[2020-08-05 12:50] jgsogo commented on #7475
Current situation is:
 * using components: **nothing** is required unless explicit: `self.components["xxx"].requires["req::libA"]`
 * without components: everything is linked

Possible feature for Conan v1.x:
 * using components: idem
 * without components: **everything** is linked unless explicit: `self.cpp_info.requires = ["req::libA"]`

I don't like the different behavior with/without component

[2020-08-05 12:57] fulara commented on #7475
@jgsogo  please see: https://github.com/conan-io/conan/issues/7496

components only fulfil their promise if everyone up in the hierarchy has used this  line `syntax:self.components["xxx"].requires["req::libA"]`
**Otherwise everything is linked.**

 that is not true. ( as shown in my example code. )

[2020-08-05 13:05] sneik555 opened #7503 "Extend iOS version in settings.yml"
Hi,

could you please update settings for iOS? The newest version in settings.yml for iOS is 13.1. From [here](https://en.wikipedia.org/wiki/IOS_version_history) you can see that there are newer versions. I have to use 13.2 and this is not problem to edit locally my settings.yml, but if I do it all my clients have to do the same work.

Br,
Tomasz

[2020-08-05 13:11] Yuri6037 opened #7504 "[feature] build_system_requirements"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm currently building a lightweight version of SDL2 in order to only use in Core Context, DX11-12 and VK. In order to achieve that I figure that it is unacceptable to have all developpers install dev dependencies like libwayland-dev and/or xord-dev when building apps which would only

[2020-08-05 13:25] fredericbloch opened #7505 "[question] Forcing generators to be executed on deploy without using command-line-argument"
Hey guys!

i'm trying to implement some packages, where I need some generator to create/edit some files/dirs within the deploy-stage. The problem is: I'd really like the generator to only be executed during the deploy on the client on which the package is installed on. So as far as I know adding a "generators = [testGenerator, <...>]" as an attribute won't do that. Which will do the trick is addin

[2020-08-05 13:31] memsharded commented on #7503
Yes, sure we can no problem. Also if you want to contribute that change yourself (might require a change in a migration file too), feel free.

[2020-08-05 13:33] memsharded commented on #7503
Regarding this, if you have custom settings.yml, you can easily share them and make all your clients use them (together with profiles, remotes, conan.conf), with ``conan config install``, please have a look at it: https://docs.conan.io/en/latest/reference/commands/consumer/config.html#conan-config-install

[2020-08-05 14:29] jgsogo commented on #7489
Closed via https://github.com/conan-io/conan/pull/7492

[2020-08-05 14:29] #7489 closed, assigned to memsharded

[2020-08-05 14:31] jgsogo commented on #7247
https://github.com/conan-io/conan/pull/7488 merged, it fixes the `user_info_build` propagation for the local development commands (conan v1.28.1)

[2020-08-05 14:32] jgsogo commented on #7448
This is to be implemented on top of https://github.com/conan-io/conan/pull/7488 when `1.28.1` is merged to `develop` branch.

[2020-08-05 14:58] jgsogo commented on #7116
components are available to both generators 🎉

[2020-08-05 14:58] #7116 closed, assigned to danimtb

[2020-08-05 15:05] jgsogo commented on #7475
Let me elaborate your example here, I need to see it with an example:

your `libA`:

[code]

Then you are consuming `libA`:

[code]

but your CMake scripts would use something like this:

[code]

So, up to this first-level consumer, you are using only the component you want to use.

**The problem starts with transitive consumers:**

[code]

and here you can only link with target `libb::libb`, whic

[2020-08-05 15:10] jgsogo commented on #4430
This is already possible (Conan v1.28) with:
 * cpp_info.names["cmake_find_package"] = "AAA"
 * cpp_info.filename["cmake_find_package"] = "BBB"
 * cpp_info.components["cmp1"].names["cmake_find_package"] = "CCC"

Conan will generate file `FindBBB.cmake` with target `AAA::CCC`.

---

Overriding from consumers is not considered ATM (is there a strong use-case for this?), it is the recipe providing th

[2020-08-05 15:24] FnGyula opened #7506 "[question] Public and private(build_requires) dependencies"
With regard to static and shared libraries, there's a simple rule of how I generally decide when is a dependency should be transitive:

- if the host package is shared library or executable, linking against a static library which doesn't show up in the headers, it's a `build_requires` (which I'm not entirely sure if I prefer to private, but that's for later).
- if the host package is shared librar

[2020-08-05 15:24] alcroito commented on #4430
As I mentioned in the comment, overriding from consumer side would useful to avoid maintaining multiple package and target names for the same library in a custom `FindFoo.cmake` file, if the names differ between package managers.

One could argue that moves the maintenance of hardcoding the names from the `FindFoo.cmake` file to `conanfile.py`, but at least it keeps the cmake files cleaner (when s

[2020-08-05 15:27] fulara commented on #7475
@jgsogo  the problem starts where i am consuming 'liba' - that package_info is wrongly representing the dependencies.
It shouldnt require on all the packages but for the case of component it should only depend on the ones i .require.

This doesnt work like that, hence the proper usage of components *forces* usage of compnents up the stack.
And to add to that what @kajdam  mentioned above, is that

[2020-08-05 15:42] jgsogo commented on #7475
Yes, I totally understand your point and I really think this is something we should improve. Your proposal with:

[code]

it looks like the way to go, the recipe declares that `libb::libb` should link with `liba::requester`. Then, transitive consumers using `libb::libb` will use nothing more than the `requester` from `liba`.

[2020-08-05 15:54] jgsogo commented on #4430
I understand that pain, but I would always try to reconcile the naming proposing the required changes to one or the other package manager. I think C++ ecosystem needs this kind of effort from all of us.

Right now, from the consumer, you cannot override the `names`, `filename` and `components.names` for your requirements but you can easily modify the files generated by Conan to match your requirem

[2020-08-05 16:14] tjwrona commented on #7424
@memsharded, I am actively working on option 2 in my comment above (since I do own the source code and I can modify it directly option 2 is viable), but I am curious if there is any way for option 1 to be possible.

Someone may need to create a package from a project that they do not own the source code to that internally uses its own `conanfile.txt` to fetch its dependencies. How would someone go

[2020-08-05 16:39] memsharded commented on #7424
Hi @tjwrona1992

I don't see how scenario 1) would be possible. The gap between a "consumer-only" *conanfile.txt* and a full package recipe *conanfile.py* is too large to expect that any package manager could do anything. There will be missing parts like the ``build()``, ``package()``, ``package_info()`` that are completely missing from a *conanfile.txt* and the necessary intelligence to get it is

[2020-08-05 16:47] jgsogo commented on #6716
Almost there, `requires` is a list of components (or dependencies), you would write:

[code]

Conan will generate the graph of dependencies and you can consume the required target that will link the libraries in the proper order:

[code]

[2020-08-05 17:00] uilianries commented on #7504
You can use `self.develop` to filter it: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#develop

[code]

[2020-08-05 17:13] ghost commented on #7498
Thanks for the help James, I really appreciate it! I am still investigating and haven't gotten around to everything you said, but here is an interesting update:

I think it may have something to do with network speed (note: I set CONAN_USER_TIMEOUT=5000 with no change in effect, not a conan timeout impacted by that variable). The "good" and "bad" boxes are on the same subnet (network config), same

[2020-08-05 17:29] tjwrona commented on #7424
@memsharded I think I get what you are saying. So the external `conanfile.py` would have to specify all of the dependencies that are in the internal `conanfile.txt` and the internal `conanfile.txt` would not be used. It's a bit unfortunate that it can't recurse through all conanfiles within a folder hierarchy and grab all of the dependencies but I guess it is what it is.

[2020-08-05 17:33] memsharded commented on #7424
yeah, that would be a doable feature, can be even done in the *conanfile.py* recipe itself: exports the *conanfile.txt*, load it in the ``requirements()`` method and dynamically set ``self.requires()`` for each entry. Also it could be kind of automated by Conan, the thing is that in practice, it takes 15 seconds to just copy and paste them into the ``conanfile.py``, and it can take much longer to

[2020-08-05 17:54] Yuri6037 commented on #7504
Right now I'm testing a hack which involves creating a separate package which conatains all system requirements and I'll reference it in build_requirements

[2020-08-05 17:56] DmitrySokolov opened #7508 "[bug] `libcxxcompiler.libcxx` is detected incorrectly for Android NDK"
[code]

The output:

[code]

Expected:

`compiler.libcxx=c++_static`

[2020-08-05 17:58] markgalpin commented on #7498
Not sure if this will fix it, but one thing that jumps out at me: If your package size is that large, you may want to increase the size of the JVM.  The default JVM maxes out at 2 GB, if you have enough memory on your machine you may want to up it to 4 GB (or half of the available RAM depending on how you're  hosting it).   In the system.yaml configuration file you should see a line:
[code]
adjust

[2020-08-05 18:04] wizardsd commented on #5833
I've realized, that git supports two kinds of addresses and preparing a PR to support both.

[2020-08-05 18:48] ghost commented on #7498
I also was mistaken about the transfer interrupt memory block always being the same (sorry for confusion).  I think I did see the same number a couple times (or maybe I was tired).
Transfer interrupted before complete: 1092369759 < 2799985649
Transfer interrupted before complete: 1091468639 < 2799985649
Transfer interrupted before complete: 1093139807 < 2799985649

[2020-08-05 18:49] rasjani opened #7510 "[feature] User specified variables to templates."
Conan 1.27 was released with `--template` flag that can be used with to scaffold new conan packages when  used in conjunction with conan new.

Before this, I've  been shipping [cookiecutter](https://github.com/cookiecutter/cookiecutter) templates in my conan config git repository in templates folder that where used to accomplish similar feature - however, cookiecutter has ability to query any valu

[2020-08-05 19:07] DmitrySokolov commented on #7508
Please, delete it. It is related to 'conan-io/cmake-conan'.

[2020-08-05 19:11] uilianries commented on #7504
I see, that's what we are using in CCI, [opengl](https://github.com/conan-io/conan-center-index/blob/a4369f6040157dfc749d98564d202eb2e20a8f99/recipes/opengl/all/conanfile.py) for instance. So you can:

[code]

[2020-08-05 19:20] ghost commented on #7498
Hey @markgalpin,

I have attached the logs you have requested.  The settings of my server were at  `extraJavaOpts: "-Xms512m -Xmx8g"` already, so I changed them to `extraJavaOpts: "-Xms1g -Xmx8g"` (viewable in the server log).  I forgot to mention we also have LDAP configured, but that is working fine and I think it is unrelated to this issue.  Unfortunately, it didn't fix anything.

### Logs
[art

[2020-08-05 19:29] Yuri6037 commented on #7504
Yeah in that case we should ask bincrafters why they refuse to do that and why I'm forced to do the work that they are apparently unable to do...
EDIT: At least fiunally by hack worked: I can run github actions to build the SDL2 lightweight package and receive the binarries over here: https://bintray.com/yuri6037/bp3d

[2020-08-05 20:58] fulara commented on #7475
@jgsogo  great :)!
Just last points from my pov.

If one introduces a component on his package the default behavior conan has taken so far was to only behave in 'component' like fashion if consumers of that package has used component as well, its not something I would go with personally but I do understand why this was made.
As we are now used to produce non componenti packages, usually only packa

[2020-08-05 21:23] markgalpin commented on #7498
So what is quite strange is that artifactory is recording that it successfully sent you the entire object.  You're sure you're not going through some sort of cacheing or proxy layer imbetween?  This feels like a proxy choking on something, rather than an issue with the artifactory server itself.  So, from a 'bad' machine, what's the output of:
`curl -I -u<admin>:<password> -vvv -L 'http:<artifacto

[2020-08-05 21:30] shelper commented on #7015
related issue https://github.com/conan-io/conan/issues/4754

[2020-08-05 21:58] uilianries commented on #7504
I'm part of Bincrafters too, so I can say we trying to move all packages to CCI, before trying a new adventure with system requirements. We only decided to use proxy many months afters creating CCI, before that was a hell to track any change related to system packages, as they can't provide a reliable package id.

Being more specific, we made an effort pushing SDL2 into CCI, but as you should know

[2020-08-05 22:22] #7508 closed

[2020-08-06 04:48] utkarshmani1997 opened #7511 "[bug] Conan client always downloads package with different package ID"
### Environment Details (include every applicable attribute)
  * Operating System+version: MACOS Catalina
  * Compiler+version: clang 10.0.0
  * Conan version: 1.25.2
  * Python version: 2.7.16

### Steps to reproduce (Include if Applicable)
Download any package dependency like following and it will not respect the provided package id but pull different package ID
conan download -r conan-remote li

[2020-08-06 07:41] memsharded commented on #7493
Hi @DoDoENT

There is a proposed fix in https://github.com/conan-io/conan/pull/7512, if you would like to run it from sources and check everything is ok. The goal is to merge it and release it asap in Conan 1.28.1

[2020-08-06 07:51] ericLemanissier commented on #7504
AFAIK, package A uses build_requirements("B/***") when B has to be present only when compiling A, and when B is not used at all when linking something with A. @uilianries are there packages on CCI using build_requirements when B is also needed to link with A ? opengl and xorg are always used as `requires`.
In the case of SDL2 using `build_requires("xorg/system")`, it is not a good choice because x

[2020-08-06 07:51] DoDoENT commented on #7493
I've just tried creating an iOS package with this patch and it works correctly - just like in 1.25.2. Thank you!

[2020-08-06 07:56] helmesjo commented on #7501
@memsharded
The issue mentioned here was solved by just following the documentation that you provided (using `configure_options()` instead of `configure()`).

Though I'm seeing something else that appears to be a new issue with my builds, [related to rpaths](https://travis-ci.org/github/helmesjo/conan-magnum/jobs/715326618#L1946-L1950). Since it's indirectly caused by a dependency, I'm not sure if

[2020-08-06 07:56] memsharded commented on #7510
While I think this is a cool feature, I would also prefer to not add yet another dependency (cookiecutter) for this, check the recent discussion and issues here: https://github.com/conan-io/conan/pull/7461, unless it proves very necessary.

I wonder if it would make sense that this is one of the command extensions that are already implemented for Conan 2.0.

Wdyt @jgsogo ?

[2020-08-06 08:03] czoido commented on #7511
Hi @utkarshmani1997 ,

I tried to reproduce this with no luck.

As I can see in the log the downloaded `package ID` is correct (`02e07a808670bdb29227c92839975a19da32851e`).
How did you check that you downloaded `package revision` `95e7e05d811089f3cecfebf4e582bf89` instead of `82930cc751904b34065c601e948c666e`?

Could you please do this to check which package revision you have downloaded in the loc

[2020-08-06 08:10] memsharded commented on #7501
Yeah, this seems unrelated, better close this issue and open a new one.

What I have been checking is that you are using the Conan default libstdc++, sometimes if some package (corrade?) is not following the inputs and forcing or hardcoding something in the build scripts, the resulting binary would be linked against libstdc++11, and then the linker might discard it, or something like that. But no

[2020-08-06 08:32] #7501 closed, assigned to memsharded

[2020-08-06 08:58] jgsogo commented on #7510
Hi, @rasjani , thanks for opening the issue.

I'd love to add more flexibility/power to the `conan new --template`, we just need to find the best way to do it. Probably cookie-cutter itself is a bit overkill and we don't need all its functionality.

I propose something like:
 * current templates are Jinja2 template, they can define default values ✔️
 * we want/need to pass more values using CLI, w

[2020-08-06 09:06] #7493 closed, assigned to SSE4

[2020-08-06 09:07] chubei-oppen opened #7514 "[bug] Conan 1.28 seems to break qt/5.14.2@bincrafters/stable recipe"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04.4
  * Compiler+version: gcc 8.4.0
  * Conan version: 1.28.0
  * Python version: 3.7.7

### Steps to reproduce (Include if Applicable)
conan install qt/5.14.2@bincrafters/stable -b qt

### Logs (Executed commands with output) (Include/Attach if Applicable)
stdout:
[conan_qt.log](https://github.co

[2020-08-06 09:09] ericLemanissier commented on #7514
this is https://github.com/conan-io/conan/issues/7474, it will be fixed with conan 1.28.1

[2020-08-06 09:09] chubei-oppen commented on #7514
Thanks for your quick response. Closing now.

[2020-08-06 09:09] #7514 closed, assigned to nobody

[2020-08-06 09:10] memsharded commented on #7514
Everything is merged into 1.28.1, we will try to release asap, maybe today.

[2020-08-06 09:23] memsharded commented on #7499
Hi @pgorgon-hem

Thanks for reporting this issue.
Just to understand the severity of the issue, what is the typical effect, just that warning, but the flag is safely ignored by the compilers? Does it fail in some scenarios?

This might need to be changed in other generators as well. As it seems this code section is getting some complexity and would be error prone, I wonder if this could be templat

[2020-08-06 10:17] ghost commented on #7499
Hi,
The typical effect is just warning and flag is safety ignored by gcc, but I've tested it only with gcc 9 and -fno-rtti and -fno-exception flags. I don't know how it behaves with other compilers and other flags. But I can imagine that some build parameters for c and c++ objects might be different and can't link when flags set wrongly. Eg. I have external library packaged with conan. This librar

[2020-08-06 10:54] jgsogo commented on #7505
Hi! I'm, not sure if I'm understanding your use-case, but let me comment a couple of approaches, see if they are somehow useful and we can keep working with you.

---

We are working on a new step for the `conan install` command, it will copy the package downloaded to the server to a different folder in the cache where a `deploy()/package_install()` function would be able to modify those files in

[2020-08-06 12:29] jgsogo commented on #7506
Hi, @FnGyula

I understand your pain and I know it is problematic in Conan right now. To handle this properly I thnk we would need to wait until Conan 2.0 which should have an improved graph model (better management of requires, visibility, better propagation depending on library type,...).

Meanwhile, I can give you some advice:
 * As a general rule, use `build_requires` only for tools, if you ar

[2020-08-06 13:19] uilianries commented on #7504
@ericLemanissier only as build requirement? No.

Indeed is a big problem, because we can't track system packages, if they are available as shared or static.

[2020-08-06 13:25] FnGyula commented on #7506
Thanks @jgsogo !

So I always wondered the difference between `build_requires` and `private` and it's not entirely clear to me at this point. In the documentation, it's using protobuf and gtest. Now, protobuf looks a bit iffy, because it is true that the `protoc` stuff is build time dependency, but if I recall correctly there's still a library to link against for the client.

GTest is more straigh

[2020-08-06 13:52] jgsogo commented on #7506
Even if the library is totally embedded (doesn't modify the ABI), it still implements some behavior. In your DLL you want to get a different binary (a different package-id) when you embed one version or the other... even if they are embedded, they behave differently, they have different bugs. If the package-id is exactly the same you cannot know which version of the embedded library you are using.

[2020-08-06 13:56] fredericbloch commented on #7505
Hey Javier!

thanks for the quick answer. I'd been thinking about using the python_requires for this. The issue is - I would not retrieve e.g. all 50 packages at once and run the generator -  but I would use only one of them at a time. So I would use the conan install on a single package with the command-line-generator-argument attached.

Your suggestion would make I'd have to create/edit the cona

[2020-08-06 14:19] FnGyula commented on #7506
Now you left me really confused :) The package_id has multiple modes to be calculated, but the default is that the major version number is taken. That I figured, was a sensible default since I don't care which Python 2.7.x I'm building against for the compatibility of my package that depends on Python 2.7.x.

So that means that the package id isn't intended to describe the exact build, it intended

[2020-08-06 14:50] jgsogo commented on #7506
The default mode for package ID is `semver_direct`, yes, it means that the consumers will have a different package-id when the major version of their requirements change (`build_requires` are not taken into account). I'm happy that you are aware of other package ID modes.

One of the purposes of package-id is ABI compatibility, that's for sure, and for an embedded library, regarding ABI, you don't

[2020-08-06 15:24] czoido opened #7517 "[feature] conan lock build-order should raise when using a lockfile generated with --base as input"
If you generate a lockfile with `--base`:

`conan lock create conanfile.py --lockfile-out=mylock.lock --build --base`

and right after that you want to use that lockfile to get a build order of the graph

`conan lock build-order mylock.lock`

regardless of the contents of the lockfile you always get `[]` as output.

That's a little bit confusing, I think that an error should be raised saying that

[2020-08-06 16:07] floriansimon1 commented on #7181
I faced an issue where my CI builds would be blocked to locks not being released. When I looked up the lock count files in `~/.conan/data/thepackage`, it said `-1`, which makes me think there might be a bug in Conan. Have you heard of this by any chance?

[2020-08-06 19:41] mjvankampen commented on #7471
It seems I did not fix this properly. When calling conan from bash everything works as it is supposed (hence unit tests are ok). But if you run conan from pwsh the windows separators are used again. I am not sure why because if I do:
[code]
```Linux``` is returned. Does anyone have any pointers how to fix this?

[2020-08-06 21:26] Yuri6037 opened #7518 "[bug] 'PackageOptionValues' object does not support item assignment"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04 GitHub Actions
  * Compiler+version: GCC 4.9
  * Conan version: No idea
  * Python version: No idea

### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

[2020-08-07 00:52] leezu commented on #6599
It would be good if conan can improve the "static package is used inside a shared library" use-case. Currently if a user builds a shared library with conan that statically links dependencies, the shared library will also export the symbols obtained from the "private" static library.

Is there any case in which this is actually required? It seems desirable to build those static libraries with `-fvs

[2020-08-07 07:29] babhijit opened #7519 "[question] Android Studio: cannot find any of the libraries built by conan."
Trying to use paho with ssl using Conan.

While building in Android Studio 4.0.1 I am getting error: **cannot find -lpaho-mqttpp3**, **cannot find -lpaho-mqtt3as-static**,  **cannot find -lssl**, **cannot find -lcrypto**

### conanfile.txt
[code]
-------------------------------------------------------------
### android_29_x86_clang
[code]
-----------------------------------------------------------

[2020-08-07 07:36] jgsogo commented on #6637
Hi! Maybe the `provides` attribute in the recipe can help with this situation. `AB` will declare that _provides_ `A` and `B` and Conan will raise an error. https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=provides#provides

[2020-08-07 08:01] jgsogo commented on #6599
We need to keep in mind that Conan knows very little about the flags used to build the actual libraries, each recipe can implement whatever it wants inside the `build(self)` method and Conan cannot (build-helpers aside) enforce specific definitions or linker options.

The thing Conan can do is to provide an enhanced graph model and control the propagation of information from requirements to consum

[2020-08-07 08:08] Yuri6037 commented on #7518
In the mean time I will create one package per option

[2020-08-07 08:50] lasote commented on #7518
Hi @Yuri6037, the `option` object is a bit more complex, you could try something like this:

[code]

I wouldn't say this is a bug, the access to options and settings works that way.

[2020-08-07 08:52] Yuri6037 commented on #7518
Why do you have to make things more complicated? And why cannot this be specified in the documentation?
Thanks anyways, but it's too late I already just expanded into 5 different packages for system requirements

[2020-08-07 08:57] lasote commented on #7518
There is always a reason, as I told you, the options object is much complicated than a simple dict. Obviously we don't have any secret intention to do it more complicated (on purpose)

Well, "bulk" assigning options of your dependencies in that way is not so common, typically you just `self.options["sdl2-sys-require"].myoption = 2`

We cannot cover every detail in the docs, but of course, the repo

[2020-08-07 08:57] #7518 closed, assigned to nobody

[2020-08-07 09:01] DoDoENT commented on #6637
That crossed my mind as soon as I read the conan v1.28 release notes. I think it could work, but I'll have to test it.

In general, I think this issue can be closed now, as `provides` should most probably be an answer to the question. In case it does not work as planned, rest assured that I'll open a new issue 😛 .

[2020-08-07 09:01] #6637 closed

[2020-08-07 09:04] wpalfi opened #7520 "[bug] module 'six.moves' has no attribute 'collections_abc'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: Visual Studio
  * Conan version: 1.28.0
  * Python version: 3.6.3

We got the error somewhere during `conan install`. I found `six.moves.collections_abc` in  https://github.com/conan-io/conan/blob/1.28.0/conans/util/misc.py. `collections_abc` was added to six in version 1.13 but

[2020-08-07 09:04] saimusdev commented on #7411
Hello, could someone please post some information?

[2020-08-07 09:34] lasote commented on #7411
Hi, the first approach should work:

[code]

What is the issue in that case?

[2020-08-07 09:36] jgsogo commented on #7505
Hi! Even if this works for you... I feel like you are walking the edge as you are abusing some principles.

First of all, quick comment, those python_requires are deprecated in favor of the new ones, I know you are in `1.16`, but new ones have many advantages (and new Conan versions have new cool features 🙄 ). I strongly suggest you upgrade Conan... if we can help, let us know.

Generators are int

[2020-08-07 09:38] sneik555 opened #7521 "[question] Building different conan packages on one machine"
Hi,

I have question regarding building and using conan packages on one machine.

I have dedicated machine to run CI stuff on it and I have there downloaded conan packages which work with our master code.
Now, sometimes I have to change conan recipe, rebuild package, check if all tests on master works with this package and then upload this package to conan repository (and then I can use this packa

[2020-08-07 09:39] lasote commented on #7520
Hi! Thanks for reporting.
Yes, it looks like `collections_abc` was introduced in `six 1.13` but Conan requires `six>=1.10.0,<=1.14.0` not `>=1.5`, right?
Anyway it looks like we should adjust the range.

[2020-08-07 09:49] lasote commented on #7521
Hi @sneik555

You can have different `conan caches` adjusting the environment variable [CONAN_USER_HOME](https://docs.conan.io/en/latest/reference/env_vars.html?highlight=conan_user_home#conan-user-home). Also if you are using Artifactory (the [CE](https://conan.io/downloads.html) is free and works like a charm) you can have multiple remote repositories, maybe one for development and one for stagi

[2020-08-07 10:05] saimusdev commented on #7411
As I said, that is not properly passed thru to the compiler, the quotes `"` are still there e.g.
[code]

[2020-08-07 10:46] helmesjo opened #7522 "[question] Setup cmake paths for find_path(...) use by consumers"
Basically I have setup ["build modules"](https://github.com/helmesjo/conan-corrade/blob/9fd823b03d5b97eb437b8844574c5d7e3f06700d/conanfile.py#L123-L127) (cmake scripts) that gets included by consumers (automatically done in the generated `conanbuildinfo.cmake` script). [One of these build modules](https://github.com/mosra/corrade/blob/162d6a7d77e4940f7c05613013e1d3aa522bc8c6/modules/FindCorrade.cm

[2020-08-07 10:49] memsharded commented on #7520
Or we could replace:

[code]
It is not that critical to support any abstraction of Iterable for this case

[2020-08-07 10:56] babhijit opened #7523 "[question] Android Studio: cannot find any of the libraries built by conan."
Trying to use paho with ssl using Conan.

While building in Android Studio 4.0.1 I am getting error: **cannot find -lpaho-mqttpp3**, **cannot find -lpaho-mqtt3as-static**,  **cannot find -lssl**, **cannot find -lcrypto**

### conanfile.txt
[code]
-------------------------------------------------------------
### android_29_x86_clang
[code]
-----------------------------------------------------------

[2020-08-07 10:57] babhijit commented on #7519
Duplicate

[2020-08-07 10:57] #7519 closed, assigned to nobody

[2020-08-07 11:39] sneik555 commented on #7521
Hi @lasote

Thanks for quick response! I already managed virtualenv with CONAN_USER_HOME env variable.
Thanks for help.

Br,
Tomasz

[2020-08-07 11:39] #7521 closed, assigned to lasote

[2020-08-07 16:09] utkarshmani1997 commented on #7511
Hi @czoido

Thanks for the response,
Here is the output of search command
[code]
and tried to download with given command but it displays package not found.
I don't remember how I picked up 82930cc751904b34065c601e948c666e (not sure if it is correct).
So closing for now, will open again if found this behaviour again.

[2020-08-07 16:09] #7511 closed, assigned to czoido

[2020-08-07 20:51] memsharded commented on #7511
Hi @utkarshmani1997, @czoido

I am confused, I get this:

[code]
Then I am confused by the output:
[code]
Having ``(No time)`` is very weird, I have a time, you should have a time if the package was downloaded.

[2020-08-07 20:59] memsharded commented on #7411
Hi @saimusdev

We are missing some information. This works, with the current built-in generators, the functionality is well tested, so there might be something else somewhere in your recipe or build scripts:

- The recommended way is a list of paths in ``self.cpp_info.includedirs``. Not to add them in cxxflags or elsewhere.
- If those path are absolute, they will be respected, otherwise they will

[2020-08-07 21:12] memsharded commented on #7505
Hi @blockontherocks

Let me summarize our current way of thinking and the direction Conan is heading regarding generating files:

- Conan generators will manage exclusively information from dependencies: includedirs, libdirs, library names, etc. Generators create files like ``FindXXX.cmake``, to be used by build systems to locate and use deps.

- The ``toolchain()`` feature is intended to create f

[2020-08-07 21:17] memsharded commented on #7437
The deadline is over. Got great applications, stay tuned for news!

[2020-08-07 21:17] #7437 closed, assigned to nobody

[2020-08-08 14:24] thejohnfreeman opened #7525 "[question] CLI command to discover the cmake_find_package filename from the Conan package name?"
The `cmake_find_package` generator writes a Find Module file that defines a target in a namespace. Each of these three names (filename, namespace, target) are [configurable](https://github.com/conan-io/conan/issues/7254) in `cpp_info`. For example,

[code]

will generate a file named `FindBoostFile.cmake` that is used like this:

[code]

Is there a CLI command that can print out these values given

[2020-08-08 18:27] memsharded commented on #7525
I think this should be updated in the ``markdown`` generator: https://docs.conan.io/en/latest/reference/generators/markdown.html
(up to my knowledge this ``markdown`` generator has not been updated yet to account for these changes)

Using it would be:

[code]
And you get the file with the instructions for the different generators.

[2020-08-08 20:22] thejohnfreeman commented on #7525
That's ok for a human, but I'm looking for something that can be easily consumed by a script.

[2020-08-08 23:39] madebr opened #7526 "[bug] Error 406 when download source package"
When (trying to) downloading the angelscript sdk at http://angelcode.com/angelscript/sdk/files/angelscript_2.34.0.zip using conan,
I get a [http error 406](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/406).

Using `wget "http://angelcode.com/angelscript/sdk/files/angelscript_2.34.0.zip"` works.

### Environment Details (include every applicable attribute)
  * Operating System+version:

[2020-08-10 06:20] unzap commented on #7325
Any help for this?

[2020-08-10 08:48] lasote commented on #7526
I reproduced the error. The server is blocking the request, I'm going to investigate a bit more.

[2020-08-10 09:10] lasote commented on #7526
Related to https://github.com/conan-io/conan/issues/7349
Changing the `user-agent` header works (Allowed thanks to https://github.com/conan-io/conan/pull/7390), the server is blocking the default from the python requests library:

`tools.download("http://angelcode.com/angelscript/sdk/files/angelscript_2.34.0.zip", filename="angelscript_2.34.0.zip", headers={"User-Agent": "foo"})`

[2020-08-10 09:14] madebr commented on #7526
Totally related. https://github.com/conan-io/conan/issues/7349#issuecomment-657875347 even used the same url :man_facepalming:

[2020-08-10 09:19] #7526 closed, assigned to lasote

[2020-08-10 09:27] lasote commented on #7325
Mhhh I think this is the wrong repository, probably better to move to https://github.com/conan-io/cmake-conan

[2020-08-10 09:53] a4z opened #7528 "[bug] build_requires for --profile:build profile does not respect build_requires"
### Environment Details (include every applicable attribute)
  * Operating System+version: OSX 10.15.6
  * Compiler+version: apple clang (not relevant for this problem)
  * Conan version: 1.28.0
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)

create a default profile, name it default

install cmake/3.18.1@ for this profile

copy the default profile to default2

edit defa

[2020-08-10 10:07] fredericbloch commented on #7505
Well let me clear this up right up front - yes, it is absolutely walking the edges and abusing some priciples. I am aware of that. Also: I wish I could upgrade, but sadly that will take some time due to some restrictions. Hopefully that will happen pretty soon though.

So what I'm doing within the generator is not anything you designed generators for: The issue are two tools, that have to work wit

[2020-08-10 10:42] jgsogo commented on #7505
Hi, thanks for taking the time to explain your use-case. As you say, it is very specific and we can only try to help you with your workaround and advice about how the features should be used. The main problem, and you are aware of it, is that, even if future releases of Conan keep the same philosophy, your workaround might break and you could need to implement it from scratch again abusing other p

[2020-08-10 11:46] pasrom opened #7529 "[question] output of deps_cpp_info libdirs differs between 'conan create' and 'conan build'"
I am facing a different behaviour, when following conanfile is executed with `conan create . test/testing` and `conan install . && conan build .` using conan version 1.27 and 1.28.
[code]

1. With conan version <= 1.27 and `conan create . test/testing`  the output of the print is:
```zlib libdirs['lib']```
2. With conan version 1.28 and `conan create . test/testing`  the output of the print is:
``

[2020-08-10 12:18] uilianries commented on #7105
Hello everyone! There are 3 PRs, each one related to an idea from this issue:

* Use a conanfile attribute object: #7396
* Import an object (hacking a bit the import system): #7397
* All tools use a conafile/ self argument as the first argument: #7420

All pros and cons are listed in each PR.

[2020-08-10 12:36] helmesjo commented on #7522
Solved it by adding `self.cpp_info.includedirs.append("include")` in `package_info()`.

[2020-08-10 12:36] #7522 closed, assigned to nobody

[2020-08-10 13:42] lasote commented on #7528
Where is the `print (os.environ["PATH"].split(os.pathsep))` located inside the conanfile? I mean, in which method?

[2020-08-10 13:58] solvingj opened #7530 "[feature] Conan 2.0 - Add configuration policy to control `fPIC` + `shared` behavior"
Currently, the following codeblock exists. It is active by default in Conan V2 mode.  It performs nice validation logic for the common case of Linux shared libraries. However, that validation logic is not desirable in all cases, for example, @SSE4 has stated that Android Kernel modules must be compiled with `-shared`  but without `-fPIC`.  Also, the same is true for many embedded and legacy platfo

[2020-08-10 14:05] dix75 opened #7531 "Build botan on Windows with msvc"
I am using botan 2.15 library with default settings.
MSVC Profile
[code]

Botan builds into static library.
Using in cmake file
[code]
Botan library compiles, but application always crashes. In my opinion, due to ABI incompatibility.
What am I doing wrong?

p.s. On Linux with gcc works fine.

[2020-08-10 14:19] a4z commented on #7528
I placed it, for example, here
https://github.com/conan-io/conan-center-index/blob/962e68014197a6553be7f2be5106a70617126790/recipes/paho-mqtt-cpp/all/conanfile.py#L62
and here
https://github.com/conan-io/conan-center-index/blob/962e68014197a6553be7f2be5106a70617126790/recipes/paho-mqtt-cpp/all/conanfile.py#L72

where the first one is the more important one, I guess

( I use this package because it

[2020-08-10 14:26] forry opened #7532 "[feature] Use new semver 2.10.2"
Hi,
would it be possible to use a new semver as a backend for the tools.Version in conan? Since I would like to use it separately for git tag parsing and version incrementing. Getting a new version (uninstalling old and installing new) broke the conans tools.
Also, it would be helpful to combine the two together for use in CI/CD pipelines since the original conan tool has implemented the loose par

[2020-08-10 14:44] czoido commented on #7529
Hi @pasrom,

Thanks for reporting.
I think the wrong behaviour there is for local methods before 1.28.0 but seems solved now.
Having a look at the [docs](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=deps_cpp_info#deps-cpp-info) `self.deps_cpp_info["zlib"].libdirs` should return the value as it was assigned in the recipe of the dependency in the `package_info` metho

[2020-08-10 15:11] jgsogo commented on #7432
I have the same concern as stated [here](https://github.com/conan-io/conan/issues/6790#issuecomment-647960865) by @maikelvdh: how to handle it properly? how to record the version used? (reproducibility and traceability)

A feature I think about from time to time (but never too seriously) is adding `python_requires` to the profiles, Conan would add those python-requires to every package, functions

[2020-08-10 15:14] shelper opened #7533 "[question] How to pack up an existing lib for conan"
So if I have a software package that is prebuilt, i have the source code and the lib files, since the building itself is tricky, i dont wand to rebuild it,
so is there a way to packup the prebuild lib and upload to repo artifactory with out building it?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-08-10 15:35] czoido commented on #7532
Hi @forry,
Currently Conan is not using https://pypi.org/project/semver/ but https://pypi.org/project/node-semver/ under the hood for `tools.Version` so maybe that's why it broke?
Could you please explain further your use case and the need for semver 2.10.2?

[2020-08-10 15:40] czoido commented on #7533
Hi @shelper,

Thanks for your question. I think the `export-pkg `command can help you: https://docs.conan.io/en/latest/reference/commands/creator/export-pkg.html
This command will let you create a package from those prebuilt lib files, and after you create the package you can upload it to Artifactory.
Please tell us if this helps.

[2020-08-10 15:54] czoido commented on #7531
Hi @dix75,

Can you provide more information on how it crashes?
Are you using the precompiled package from conan-center?

[2020-08-10 15:54] tjwrona commented on #7479
Hi @memsharded, let me know if you get a chance to try this out. I'm curious if it really is working correctly for a multi-config environment or if I am missing something.

[2020-08-10 16:10] #6837 closed, assigned to jgsogo

[2020-08-10 16:58] pasrom commented on #7529
Hi @czoido,

thank you for your quick respond and to point me to the right direction. I will close this issue.

Best regards,
pasrom

[2020-08-10 16:58] #7529 closed, assigned to nobody

[2020-08-10 17:31] kralicky commented on #7432
@jgsogo The main motivation for this comes from wanting to using generators at install time to deploy packages in specific ways without the packages themselves needing to know about the generator. For instance, my company's use case is to use a generator to transform a conan package into an RPM. Managing dozens of in-house libraries using individual RPMs is a **nightmare** (I cannot stress this en

[2020-08-10 17:32] forry commented on #7532
@czoido
Ok, I didn't know that. In your doc you have:

So I went to google python semver. My bad. But sadly the import name is the same.
My use-case is simply the need for automatically bumping up the version number after the successful merge to our release branch (done by the pipeline). So the idea is to get the latest version tag, parse it and increment the version. Since I knew the conan is usi

[2020-08-11 01:21] #7533 closed, assigned to czoido

[2020-08-11 06:31] czoido commented on #7532
Hi @forry,

Although currently `tools.Version` does not offer a function to bump the version I think you could make this function using the `major`, `minor` and `patch` properties you have access to (check [docs](https://docs.conan.io/en/latest/reference/tools.html#tools-version)).

So, if I understand correctly, after the merge to the release branch you want to automatically bump the version in t

[2020-08-11 08:08] jgsogo commented on #7432
Yes, I totally understand your motivation, and I really like your last statement:

💯 🙌

As this is a "look into", it is good to consider all the alternatives and think about the mid-term and the final approach we want. In my opinion, I agree with you, Conan would benefit from the introduction of another category of items that _use packages_ (some current generators could be moved to that category,

[2020-08-11 08:48] forry commented on #7532
Thanks for the idea. But my problem lies a little bit elsewhere, but this solution could be used, even though it has some problems with pre-release and build parsing.
I mainly wanted to use this outside of conan (in the CI/CD pipeline scripts to automatically generate and push git tags). But ofc in some cases you also want to automatically change the recipe version. In the CI/CD we could use the s

[2020-08-11 09:02] czoido commented on #7532
What I meant is that when you have changes in your package source code or recipe using revisions a new revision of the package will be generated but the package version will stay the same. It can be useful depending on your versioning model, if you have to bump the version to integrate the changes of the library in its consumers, maybe instead of bumping the version of the library you could consum

[2020-08-11 09:23] forry commented on #7532
After some poking in the node-semver source I have found the inc() method which can be accessed via the _semver object in the tools.Version. So this would be probably the best approach for now (not so clean but it will do).
Just for clarification. I'm not changing the packages now. I'm just deploying the app that uses conan internally to solve its 3rd parties. The conan deps were just kind of in t

[2020-08-11 09:28] czoido commented on #7532
Ok, I'll close the issue then. Feel free to reopen if you have more questions regarding this.

Thanks for the feedback!

[2020-08-11 09:28] #7532 closed, assigned to nobody

[2020-08-11 12:47] jgsogo commented on #7528
Hi, @a4z

When you add a build-requires to the a profile, you are telling Conan to apply that build-requires to all the packages affected by that profile. It is the same principle when you are adding an option like `*:shared=True` to a profile, it applies to every package _affected_ by that profile.

If you want to add a build-requires to packages in the _host_ context, you need to add it to the `

[2020-08-11 14:25] a4z commented on #7528
hm, ... OK, but what about

say I have a build requirement
and this is not on my machine, (but a recipe can be found on a remote)
and I say --build missing when building something, that requires the build_requirement, for a --profile:host

which profile is applied when the build requirement is build? the --profile:build one, or some default one?
what if a build requirement would have some options

[2020-08-11 14:32] spoofedex opened #7536 "[bug] tried to change option to X but it was already assigned to Y"
Hi all,

We are migrating some existing, legacy codebase to Conan. It is a complex network of dozens of dependencies; at one point, we have a shared library (with all requirements private), and a user of that shared library. The user and shared library both have the same dependency, with different options (which is fine, with the shared library requiring it privately).

Normally, this works fine.

[2020-08-11 14:42] Tridacnid opened #7537 "[question] Linking .so dependency for header only package best practice"
What's the correct way to specify linkage to a shared object library that's effectively a system lib but isn't in a globally search location like `/usr/lib`? I have a header only Conan package that wraps a C library installed to `/opt/<subdir>` and have used `self.cpp_info.sharedlinkflags` in the past but updating Conan from 1.22.2 to 1.28.1 breaks the build.

- [x] I've read the [CONTRIBUTING gui

[2020-08-11 15:32] czoido commented on #7537
Hi @Tridacnid,
Your crash could be related with this: https://github.com/conan-io/conan/pull/6780
Could you please try to use `self.cpp_info.exelinkflags` instead and see if that solves your issue?

[2020-08-11 17:40] maingig opened #7539 "[bug] Build Tool is not in PATH env variable"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04
  * Compiler+version: gcc 5.4
  * Conan version: 1.24.1
  * Python version: 3.7.8

### Steps to reproduce (Include if Applicable)

My cmake script calls a python script which does the following:

        conan_command = ['conan', 'install', '--build=missing', input_dir, '--profile:host', profile

[2020-08-11 17:48] maingig opened #7540 "[bug] Conan info --paths returns wrong information"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04
  * Compiler+version: gcc 5.4
  * Conan version: 1.24.1
  * Python version:3.7.8

### Steps to reproduce (Include if Applicable)

Run conan info --paths "package"

The package path is incorrect - I get a different hash than what is in the local cache.

### Logs (Executed commands with output) (I

[2020-08-11 18:58] jgsogo commented on #7528
Implementation is there, but it is still an experimental feature and, with Conan 2.0 in the horizon, it is the best moment to receive any kind of feedback and consider breaking things for the better 😉

---

Conan won't always be used in a cross-building scenario, for the regular scenario we can agree that the UX should be easy enough and something like: `conan create <my-lib> --profile=Windows` sh

[2020-08-11 19:10] Tridacnid commented on #7537
That looks like it works correctly for both version of Conan. Thanks! What's the difference? When should I use sharedlinkflags vs exelinkflags?

[2020-08-11 19:48] madebr opened #7541 "[question] Unable to download boost 1.74.0-rc2 using conan"
[Soon, boost 1.74.0 will be released](https://lists.boost.org/boost-users/2020/08/90569.php)
I wanted to test the boost CCI recipe by adding 1.74.0-rc2.
So I added the following data to `conandata.yml` (no `-rc2` suffex because the extracted directory also does not have this suffix):
[code]

When running `conan create . boost/1.74.0@`, the following error happens:
[code]

Adding `verify=False` to

[2020-08-12 01:59] shelper opened #7542 "[question] Revision ID as 0 when conan upload duplicated packages"
So I have two computer that builds the same package (b2, for example) with same recipe and source code. I have revision_mode enabled. and then i uploaed to my artifactory-cpp-ce repository,
What i found is that I got two package stored on artifactory, one with revision ID as 0 for both PREV and RREV.

Is that expected behavior? I thought everything should be the same, Or did i miss anything here?

[2020-08-12 06:52] spoofedex commented on #7536
As a temporary workaround: it _seems_ to work to add the following to the "shared" conanfile:
[code]

I don't think this is desirable, and I'm not sure if it will work in all scenario's where this issue occurs. But hopefully it will allow me to proceed for now.

[2020-08-12 10:11] lasote commented on #7541
I think the issue is the dot at the end of the hash:

[code]

[2020-08-12 10:23] a4z commented on #7528
Thanks for your patience explaining me the details Javier!

When I understand you correct:
If a build_requires package is missing ,either from the build_requires in the recipe or the --profile:host, and needs to be build,
in a x compile env, then the --profile:build profile is used to build this recipe?
And in a non x compile env, it does not matter since there is only 1 profile anyway and this wi

[2020-08-12 11:12] danielhalati opened #7543 "conan package content changed, hash stays the same"
Hello. Please clarify something to me. I have created a bunch of Conan packages weeks ago and now it came the time that I had to update the content of the packages with license information. My approach is that I am using Conan to pack an existing folder to pack libraries. Now the content of the package has changed with an additional folder called 'licenses', but on locally on the machines, this is

[2020-08-12 13:08] madebr commented on #7541
Thanks for being my compiler @lasote  :hear_no_evil:

[2020-08-12 13:08] #7541 closed, assigned to lasote

[2020-08-12 14:50] danimtb commented on #7539
Hi!

In the test I made, I see the directory of the tool correctly prepended to the PATH env var. I used your files to get a reduced example:

[Conan bug.zip](https://github.com/conan-io/conan/files/5063501/Conan.bug.zip)

Commands:

[code]

Could you give it a try and let me know? Thank you!

[2020-08-12 14:55] danimtb commented on #7540
I am seeing wrong paths from my side as well, might be a bug. Thanks for reporting, I will look a little bit more into it

[2020-08-12 15:08] uilianries commented on #7543
The package ID (hash), by default (semver_direct_mode) is affected only by `settings`, `options` and `requires`. The attribute `license` is not part of the package ID:

https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html

Add the "update" subcommand to install command: `conan install ... -u`

https://docs.conan.io/en/latest/reference/commands/consumer/install.html

[2020-08-12 15:17] danimtb commented on #7540
After some initial testing I found that the command `conan info` uses the default profile if one is not provided, so you might see a different reference depending on the profile used.

However, the bug in the information showed is still there as it is displaying a package that does not exist because the information is still present in the metadata.json

[code]

This behavior might be a consequence

[2020-08-12 15:30] danimtb commented on #7542
Have you tried this with a clear Artifactory repo? Recipe revision 0 is set on Artifactory if you upload from a Conan client without revisions enabled.

In your case, uploading the same thing from different machines should not lead to this behavior. Please make sure you have revisions enabled in both machines as well.

[2020-08-12 15:33] danimtb commented on #7543
just in case you meant "packaging a license folder" in the packages, that will be the same thing as the Package ID is not affected.

You should use `conan install --update` in order to retrieve the new packages from the sever if you have an old package ID installed locally

[2020-08-12 15:37] danielhalati commented on #7543
i think that will do the trick

[2020-08-12 15:37] #7543 closed, assigned to nobody

[2020-08-12 16:46] jgsogo commented on #7528
You are welcome!

Yes

---

If there is only one profile, it doesn't matter. But there can be two profiles with the same settings (**native compilation is just one realization of the more generic cross-building problem**):
 * **using only one profile**, it is the default behavior from Conan v1.x, there is only one context, a build-requires declare in the one-and-only profile will be applied to all

[2020-08-12 17:05] a4z commented on #7528
awesome, finally it makes sense also to me :-)
Thanks for the help!
One more time the conan team surprises me positively with a well throughout concept.

[2020-08-12 17:05] #7528 closed, assigned to lasote

[2020-08-12 17:17] maingig commented on #7540
What was also puzzling to me is that it worked fine in a local build, but broke in a docker build.  I'm guessing the revision was created when I uploaded the package to artifactory since the docker is pulling from there.

[2020-08-12 17:26] maingig commented on #7539
I'll try this today.  Does this only take affect when creating the package?  Do I need to create separate smart antenna packages when building for Android and Linux? Or can this be done through conan install for each build?

[2020-08-12 17:31] danimtb commented on #7539
this will not take effect if you invoke the tool by yourself. I mean, you would have to execute Conan, then Conan will set the path variable, and then the tool will be executed (after founding in PATH).

I am not sure where you are invoking the tool within the smart-antenna recipe, but it should work in build() method as I exposed (conan install does not invoke the build() method),

If you want to

[2020-08-12 18:18] shelper commented on #7542
ok... maybe i compiled the packages on a pc with the revision disabled and then turned the revision on and lost track of it.
thanks for point that out, i am closing this.

[2020-08-12 18:18] #7542 closed, assigned to danimtb

[2020-08-12 19:55] ericriff opened #7544 "[question] post_download_package hook"
Hi guys, I'm experimenting with the `post_download_package` hook and according to the documentation, it should support the `conanfile` parameter. The table there says that `conanfile` is available on `download_package` on the `post` stage.
Docs: https://docs.conan.io/en/latest/reference/hooks.html#function-parameters

But it is not present on the example code
[code]
And if I add it, I get an error

[2020-08-13 09:11] jgsogo commented on #7544
Hi! Indeed, there is a mismatch between the docs and the actual implementation. None of those hooks are receiving the `conanfile` argument even though after downloading the recipe Conan loads the recipe file.

Thanks for noticing!

[2020-08-13 09:20] danimtb commented on #7542
No problem, thank you for writing!

[2020-08-13 09:21] jgsogo commented on #7536
Hi! This is due to the graph model in Conan v1.0, there is only one instance of the `conflict` package inside the graph, only one packageID and it cannot be required with different option values. The only solution right now is to override the option value downstream in a consumer to fix the conflict (it is exactly what you have done).

For Conan 2.0 we are working in a more powerful graph and the

[2020-08-13 12:26] ericriff commented on #7539
The environment variables that you set on a recipe are only available to other recipes on source(), build(), package() and imports() methods. Building a recipe does not affect the system PATH. See [here](https://docs.conan.io/en/latest/reference/conanfile/methods.html#env-info)

If you are trying to run a tool packaged with conan as a regular system tool, the easiest way is using the virtual envir

[2020-08-13 14:39] jgsogo commented on #7544
Hi! I'm having a look to the sources and I find very difficult to pass the `conanfile` to some of those hooks, I think it is a bug in the documentation.

We can pass `conanfile` to `post_download` and `pre/post_upload`, but using it in more internal operations like `pre/post_download_recipe` or `pre/post_download_package` requires a big refactor.

Two questions:
 * Is hook `post_download` a good p

[2020-08-13 14:55] jgsogo commented on #7395
[code]

will give you almost what you are looking for:

[code]

[2020-08-13 15:13] ericriff commented on #7544
What is the difference between `post_download` and `post_download_package`?

What I'm doing is kind of a hack. We're integrating conan deeply into our build system, we moved almost all our third party dependencies to conan (eventually all of them will be provided by it) and now we're trying to package SDKs provided by YOCTO builds and use them as `build requirements`.
The issue with these SDKs is

[2020-08-13 15:20] madebr opened #7547 "[question] Should a test_package be able to change options of a dependency of the recipe under test?"
A test package can change options on a dependency, that is also used by the recipe.
This changes the behavior of running conan with tests enabled or disabled.

Consider the following `rec1` and `rec2` recipe and test of rec2.
[code]

Run and compare following series of commands:
[code]
versus:
[code]

The second set of commands failed because the test package changed an option of a dependency that

[2020-08-13 15:45] madebr opened #7548 "[bug] self.options object in test_package recipe behaves different then object in main recipe"
The `self.options` object inside a main recipe has `.get_safe` attribute to get the value of a option or a default value if it does not exist.
But in a test package conanfile.py, this does not exist.

I believe options object in the main and test recipe should have the same options.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux+Windows
  * Conan

[2020-08-13 15:49] jgsogo commented on #7544
Hi! Thanks for all the information.

We are currently investigating a new feature, `package_install` method (https://github.com/conan-io/conan/pull/7313), that will let the consumer modify the package after it is installed in the cache: package files are copied to a different folder (we need the `package` ones to remain immutable) and the recipe can define a function `package_install()` that will

[2020-08-13 15:54] ericriff commented on #7544
Thanks for looking into this.
The checksum thing is not a problem for us since the devs do not have permissions to upload packages.

[2020-08-13 16:03] SpaceIm opened #7549 "[bug] cmake_find_package_multi: frameworks not propagated on MacOS"
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOS
  * Compiler+version: apple-clang 9.4
  * Conan version: 1.28.1
  * Python version: 3.7.6

### Steps to reproduce (Include if Applicable)

- clone https://github.com/SpaceIm/conan-libgeotiff
- checkout 38abc7aa75e9fd48fd87caae8ccffee3d67b4b3a
- run `conan create . libgeotiff/1.6.0@`

Workaround:
- in `

[2020-08-13 16:49] #5833 closed

[2020-08-13 16:50] maingig commented on #7539
I think the virtual environment generator will be good.  I'm a bit confused by it.  I create a package as detailed on [here](https://docs.conan.io/en/latest/mastering/virtualenv.html?highlight=virtual%20env)  and do a conan install.  How is this package referenced from my build package? In requires or build_requires?  Also, I will have to upload this to artifactory since our docker build will need

[2020-08-13 17:15] jgsogo commented on #7547
I agree this is totally undesired, I cannot imagine a scenario where this would be needed. `test_package` should use the packages that has been built or fail, I mean, it should consume the same lockfile.

Your example is the good one because it raises an error, but, what if you are overriding a dependency? You have compiled your package using a different version 😬

OTH the responsibility is on the

[2020-08-13 17:19] jgsogo commented on #7548
Hi, I'm not sure if the issue is relate to the recipe itself and test_package, or to the `self.options` and `self.options["req"]`, but I agree that both should provide the same interface **to access the values**, because some actions like deleting options from a requirement should be forbidden.

[2020-08-13 17:20] madebr commented on #7548
@jgsogo
Yes this is different from #7547. This is about access, not modification.

[2020-08-13 17:22] jgsogo commented on #7549
@SSE4 , can you check if your PR (https://github.com/conan-io/conan/pull/7515) fixes this issue too?

Thanks!

[2020-08-13 17:23] annulen opened #7552 "[feature] Allow passing options to conan build"
I'm using `conan build` as a part of build process which doesn't produce conan package as a result. Instead it's used as a convenient wrapper for conan install + cmake + ninja which ensures correct environment variables on all stages.

It would be very useful if `conan build` allowed passing `-o` arguments like other conan commands like `conan install`. Right now I configure conanfile behavior via

[2020-08-13 18:00] ericriff commented on #7539
On the conan context, artifactory would be called a `conan remote`.
You have two types of requirements on a recipe, a plain `requirement` which is a normal transitive dependency. Lets say you are building `LibA` which depends on `LibB`, on the recipe for `LibA` you specify `LibB` as a requirement. When Building `libA` conan will try to find a `libB` package compatible with your project (OS, arch,

[2020-08-13 18:08] maingig commented on #7539
I understand all that.  To take your example, I have three tools which all run on the build platform and will run the same way for both Linux and Android builds.  They are all listed as build_requirements in your libA. Now I'm trying to use virtualrunenv to find them.  How do I accomplish this with the libA recipe?  Do I add a virtualrunenv generator to it's recipe?  Or do I run conan install "pac

[2020-08-13 18:18] jgsogo commented on #7552
Hi! That's not possible, `conan build` has to use the same graph computed by `conan install` so it has to use exactly the same settings and options (same profile), otherwise the _build_ might not be congruent with the _install_ step.

[2020-08-13 19:45] annulen commented on #7552
Thanks! I didn't realize that I can specify any package options on install step (even unrelated to installation of requirements) and they will be visible on build step, so passing options to build step separately would actually be superfluous.

[2020-08-13 20:05] jmarrec commented on #7547
for transparency, this came up while @madebr was helping me with a build error of mine and we looked at why a certain dependency (which fails to buil on x86) was pulled early on, when really it's only needed in the requirements of my test_package.

https://github.com/NREL/conan-openstudio-ruby/blob/57460a1fff0ebc54d2bbbe61b8979c3475c8bd01/test_package/conanfile.py#L20-L26

Ideally I'd move everyth

[2020-08-14 08:26] jgsogo commented on #7552
If this works for you, can we close the issue? Thanks!

[2020-08-14 08:27] #7520 closed, assigned to jgsogo

[2020-08-14 09:12] #7552 closed, assigned to jgsogo

[2020-08-14 11:04] skoslowski commented on #6268
I am getting the same unnecessary user/password requests when I run `conan install --update ...`
* clients run conan v1.27.1 on ubuntu, fedora, centos and Windows
  * all of them experience this from time to time
  * there are no concurrent conan processes
* server: my only remote is an internal conan server 1.19.1 behind nginx

This started with an client update from v1.16.0 to v1.27.1

[2020-08-14 11:17] jgsogo commented on #7540
Hi!

I'm not sure if this is a bug. Conan returns the paths for the given configuration, even if the package is not in the cache. Given different profiles, it returns different paths as expected (if they compute different package-ID, of course).

@maingig , can you check the configuration you are using?
 * When you don't provide any configuration, Conan uses the default, check the default profile,

[2020-08-14 11:46] jgsogo commented on #7414
Hi, @mjvankampen

When you are consuming a build-requires using two profiles, the files `xxxxx.cmake` for the build-requires are not generated. Those packages belong to the _build_ context and you are not expected to consume them in your build-system (include, link), only executables would be available (build-requires like `cmake`, `gcc`, `protoc`,... you want the tools, not the libraries that are

[2020-08-14 15:07] stefanbuettner commented on #4882
Hey there,

@sebastianriedel and I also found the current behavior unintuitive.

After writing the stuff below I continued browsing in the [python-semver repo](https://github.com/podhmo/python-semver) and found this issue https://github.com/podhmo/python-semver/issues/37 and pull request https://github.com/podhmo/python-semver/pull/40 which seem to switch to our expected behavior. But let me elabo

[2020-08-14 16:05] michaelmaguire commented on #7297
I upgraded to v 1.28.1 and can confirm this is fixed for me now.  Thanks!

[2020-08-14 18:02] maingig commented on #7540
I have changed the default profile so that the configuration does not include os or arch, but rather os_build and arch_build.  I think revisions were being created when I modified the recipe or the configuration did not match.  I don't know that I can reproduce the exact case anymore.  I was expecting that the path actually exists, however you're saying that it might not, depending on the configur

[2020-08-14 21:32] ohanar opened #7554 "[feature] Export compilervars in conans.tools"
Current compilervars is not exposed via `conans.tools` which means that only conanfiles that make use of the CMake and vcproj build helpers can reasonably use the Intel compiler. Please export compilervars and the _dict and _command variants in the `conans.tools` module.

Blocker for https://github.com/conan-io/conan-center-index/pull/2499.

- [x] I've read the [CONTRIBUTING guide](https://github.

[2020-08-15 00:52] akbarpulatov commented on #4925
No explanation. Can you explain how did you install and run flutter, or cmake?

[2020-08-15 12:36] ppatoria opened #7555 "How to link against to specific packageid."
I have a package with 2 binaries. The binaries only differ by a single option.

The package is a library. How can now link this package to specific package that I require?
How

[2020-08-15 19:47] ssb22 commented on #1958
I'm still having trouble displaying a list of all packages.  I just installed conan via `sudo pip install conan` on a Fedora 32 box (`/usr/local/lib/python3.8/site-packages/conans/__init__.py` says it is version 1.28.1), and then I found `conan search` says there are no packages, `conan remote list` says `conan-center: https://conan.bintray.com [Verify SSL: True]` and `conan search -r=conan-center

[2020-08-16 16:51] kralicky commented on #7432
I think they make the most sense when separated from the recipes themselves, however the recipes should be able to provide as much abstract information as possible to allow usage with many different \<new category> generators. This information might be things like installation folders, functions to run on pre/post install, etc.

[2020-08-16 19:39] memsharded commented on #1958
Hi @ssb22

ConanCenter has change a lot, and there are plans to keep improving things.
At the moment the search from the client is still not working, but that is one of the things planned to be fixed.

Best ways to search in the center right now is:

- Search in the new front-end: https://conan.io/center/
- Search in the repo (clone it and you get already the packages as folders, or grep): https:/

[2020-08-16 19:42] memsharded commented on #7555
Hi @ppatoria

When you do the install/create, specify the option that you want to use:

[code]
That will install the right binary and generate (depending on the Conan generators) the ``conanbuildinfo.cmake`` or whatever other files with the right locations to those binaries.
Change the option and install the new binaries, and the generated files will be pointing to the path of the other binary. Bo

[2020-08-17 14:09] FnGyula commented on #7506
@jgsogo So the system I'm working with isn't designed to rebuild the world. That's where I'm coming from.

Coming back to the question: what is the definitional difference really between `private` requires and `build_requires`? The documentation is hazy about this, or at least their definition is overlapping, as quoted above.

[2020-08-17 17:17] Croydon commented on #7261
IIRC I struggled with the current behaviour too with either protobuf or grpc

👍

[2020-08-17 18:01] DukeOfKirkcaldy opened #7557 "[bug] 'lock create' does not accept a path to a folder containing a conanfile.py"
[conan_api.py#L1318](https://github.com/conan-io/conan/blob/770602e142e3fd15eb25f5eff8ba3832be7bcd44/conans/client/conan_api.py#L1318)

I'd expect the path argument to be the same as in other commands and allow me to provide a path to a folder without specifiying the filename.

The error message:

is confusing since a Conanfile does in fact exist there,

### Environment Details (include every appl

[2020-08-18 08:00] jgsogo commented on #7540
This is something we can discuss for Conan 2.0, if `conan info --paths` should return information only about existing packages already in the cache. But this is something we cannot change in 1.x, I'm sure we'll break someone's workflow.

Maybe if you can explain what you are trying to achieve and why you come across this issue, I can understand why returning paths from non-existing packages can be

[2020-08-18 09:22] ttencate opened #7558 "[bug] QMake generator does not honour system_libs"
It seems the QMake generator, [like the SCons generator](https://github.com/conan-io/conan/issues/7301), was overlooked in https://github.com/conan-io/conan/pull/5582 which added `cpp_info.system_libs`.

### Environment Details (include every applicable attribute)

  * Operating System+version: Arch Linux
  * Compiler+version: gcc (GCC) 10.1.0
  * Conan version: 1.28.0
  * Python version: 3.8.5

#

[2020-08-18 10:19] dFohlen opened #7559 "[question] OS specific options in conanfile.txt"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,

we use Conan (version 1.28.0) in our CMake project and have created a `conanfile.txt` for it, in which we have defined some libraries and their build options.

Now we are building the project on both Linux and macOS and have conflicts with some options in the `conanfile.txt`, sin

[2020-08-18 13:14] SpaceIm opened #7560 "[feature] pkgconfig generator: do not generate pc files for components if not explicitly registered"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Generating pkg config files for each component might conflict pkg config files of others recipes, since:

- components names may be very generic. I think that most people expect that components can't conflict with others recipes. What would happen if pkg config name of a recipe is the

[2020-08-18 13:35] uilianries commented on #1958
Related to https://github.com/conan-io/conan-center-index/issues/339

[2020-08-18 14:01] DukeOfKirkcaldy opened #7561 "[question] how to add build requirements to lockfiles (>=1.28)"
I am following the example for [Lockfiles in CI](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#lockfiles-in-continuous-integration), which is looking great btw, only it does not mention anything about `build_requires`.

When I am deriving a full lockfile for a product from a base lockfile, my profile contains the `cmake_installer` package as a build_requirement.  After computing the

[2020-08-18 14:12] ericriff commented on #7235
How can I track the progress of this? :thinking:

[2020-08-18 18:34] memsharded commented on #7559
Hi @FohlenAFK

Yes, there are two approaches for your case:

- You could leave the ``libcurl:darwin_ssl=False`` out of the ``conanfile.txt`` and pass it in command line instead:

[code]
Actually the default option you don't need to specify it.

- The other approach, if you want to write conditionals or something, depending on the consumer platform, you could try porting your consumer ``conanfile.t

[2020-08-18 18:43] memsharded commented on #7561
Hi @GordonJess

Sorry, update from my response, I didn't read it correctly.

I am not sure what could be happening, it might be that the build-require is dropped at some step. I would need to check the intermediate steps and what is being obtained as a result of the build processes. One of the things that changed is that now, the UI is more explicit, it is necessary to use ``--lockfile-out`` arg t