[2020-09-18 18:48] chris-laplante commented on #5059
Does anyone have tips on how to actually use the toolchain package? I'm experienced with Yocto but not with Conan (yet), and I can't figure it out.

I'm using the conanfile.py from https://github.com/conan-io/conan/issues/5059#issuecomment-490006689, with my own SDK.  (I want to try out each approach described here so I understand the problems). Build like this:

`CONAN_SKIP_BROKEN_SYMLINKS_CHECK=

[2020-09-19 06:57] 0x4d0x4b opened #7725 "[question] How to add sbin directory to virtualrunenv's PATH?"
Hi,

I have got a `conanfile.py` recipe that builds C source code from a tarball into executable using autotools. The final executable is located in package's `sbin` directory.
I have defined following `package_info` in the recipe
[code]
When I set `virtualrunenv` up for my consuming package, it is not able to see required executable because dependency's `sbin` directory is not added to the `PATH`

[2020-09-19 11:27] memsharded commented on #7725
Hi @kajdam

The ``virtualrunenv`` should work for every binary directory declared in the package_info(), so something like:

[code]
Do you have that declared in your recipe?

[2020-09-19 11:40] dBagrat opened #7726 "[feature] apple_clang: 12.0 (XCode 12) in default settings"
Would be nice to have apple_clang: version: "12.0" in default settings
//recently released XCode 12
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-09-19 13:25] w3sip commented on #1233
I would say that even the "delete latest version" approach isn't perfect. But, if the usage of each package in cache is tracked, can delete the "least recently used" ones. I would love to see a command that trims the size of cache to a certain limit, while deleting packages in LRU order.

[2020-09-19 13:44] nejch commented on #4196
I hope the discussion around system-level dependencies like `libsecret` hasn't derailed this issue unnecessarily. I thought it was common for people to have to add a keyring backend on their OS (usually Mac and Windows have them pre-installed) if one is not present for these things to work.

For reference:
- git: as stated above it's assumed with git that some backends may need to be installed or

[2020-09-19 15:58] w3sip opened #7727 "[feature] Track artifacts in Conan cache, expire least recently used"
One of the challenges we see is maintaining free space on CI nodes, as well as development machines, with Conan cache on them. There is, of course, an atomic option to blow it all away, but that means the next few (or not so few) builds will be slow, retrieving the dependencies from the remote.
Something that would help is tracking access to the artifacts, and ability to remove least recently used

[2020-09-19 17:08] memsharded commented on #7727
Hi @w3sip

This has been requested before, e.g:

- https://github.com/conan-io/conan/issues/1784
- https://github.com/conan-io/conan/issues/5453

I suggest taking it into account for Conan 2.0, as it seems that we will be redesigning at least parts of the cache, and storing the access time metadata shouldn't be difficult.

Exploiting that data in ``conan remove`` for time-based comparisons, doesn'

[2020-09-19 17:17] memsharded commented on #7726
Hi @dBagrat

Yes, this was merged yesterday in https://github.com/conan-io/conan/pull/7722
Will be released in Conan 1.29.2 as soon as possible (likely this monday).

Thanks for reporting!

[2020-09-19 17:17] #7726 closed, assigned to nobody

[2020-09-19 17:45] 0x4d0x4b commented on #7725
Thanks @memsharded
I had not added `self.cpp_info.bindirs.append("sbin")` as I thought that `self.env_info.path.append(os.path.join(self.package_folder, "sbin"))` would take precedence and set the `PATH` for both `virtualenv` and `virtualrunenv` (as well as including it in bindirs for other generators).
I have modified my `conanfile.py` as advised and it is working as expected.
Thanks again.

[2020-09-19 17:45] #7725 closed, assigned to memsharded

[2020-09-19 18:09] memsharded commented on #7725
Hi @kajdam

Those are different mechanisms, the ``env_info.path`` manage env-vars and define a virtualenv of env-vars. But the ``virtualrunenv`` is defined for those packages that do not define env-vars, but you still want to get the PATH or LD_LIBRARY_PATH to those packages easily, from the definition of the package itself (``bindirs``).

Thanks for following up, reporting and closing!

[2020-09-20 17:34] artorias111 commented on #7369
Hey!
I found this:
https://github.com/editorconfig/editorconfig/issues/412
This seems to be a _continuation_indent_size_ related issue.
it appears the _continuation_indent_size_ property is "domain-specific"(i.e. specific only to some languages, hence not implemented by the .editorconfig file), as stated here in the EditorConfig wiki: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-

[2020-09-20 22:54] memsharded commented on #7369
Hi @artorias111

I have been playing with Pycharm, and it doesn't seem to support that editorconfig configuration.
Then, I think we should just define some convention and try to attach to it.

I vote for using the default Pycharm one, which is extra indent the code, like:

[code]

But lets use what the majority of maintainers want.

[2020-09-21 06:40] Psy-Kai opened #7728 "[feature] Make Qbs generator transitive"
Currently the Qbs generator creates Products for every required package. But it does not create [dependencies](https://doc.qt.io/qbs/qml-qbslanguageitems-depends.html) between the different required packages. This leads to two problems:
*  if you have a big project with many dependencies it cludders the project files
*  Qbs cannot track dependencies and may mess up the library order when linking

[2020-09-21 09:01] memsharded commented on #7286
https://github.com/conan-io/conan/pull/7722 has added apple-clang 12, released in Conan 1.29.2

[2020-09-21 09:26] mhanitaw opened #7731 "Use deps_user_info in requirements or build_requirements method"
I need to use deps_user_info in build_requirements or in requirements method.
The use case is the following:
I need to pass the versions of some tools in the uploader package in user_info. In the consumer package, I want to require these tools with the versions filled in deps_user_info.

Any suggestions about how to do this will be very much appreciated. Thanks in advance

[2020-09-21 10:36] memsharded commented on #1557
Well, yes, it is possible to introduce changes that could be considered non-breaking if we use configuration opt-ins, and then tell that as you opted-in, you agreed that something was changing.

So, in my opinion, this is massively underestimating the development and maintenance effort of this feature. There are tons of things that can and will go wrong, overwhelming (even more, if that is possibl

[2020-09-21 10:53] memsharded commented on #7731
Hi @mhanitaw

I am afraid it is not possible to access that information:

- ``requirements()`` and ``build_requirements()`` methods are evaluated when the graph is being expanded (upstream). When these methods are being processed, the dependencies are not there, maybe not even in the cache, but in the server.
- the ``self.deps_cpp_info``, ``self.deps_user_info`` are information from the dependenci

[2020-09-21 11:37] wdobbe commented on #5059
@chris-laplante You need to put some more information in your host (e.g. target) profile. Mine is:

[code]

Then create your demo app package with command:
`conan create .. <username>/<channel> --profile:host=cross --profile:build=default `

For your information, I include my current SDK conan file below. To force a "rebuild" when other developers install the SDK package out of Artifactory, I don'

[2020-09-21 13:01] DoDoENT commented on #1557
I agree with everything you said and would never agree to allow case sensitivity by default.

However, by insisting on all packages to always be lower-case will make it impossible to upgrade lots of internal packages across various companies. For example, we have over 200 conan packages in PascalCase name and it's completely unfeasable for them to be renamed into snake_case or kebab-case. However,

[2020-09-21 13:31] pcapdump opened #7732 "[question] applying a patch to a package from conan-central"
We use several 3rd party binary packages from conan-central in our project through the CMake wrapper (https://github.com/conan-io/cmake-conan).
We found out that one package contains a bug.
We need a quick solution, thus we want to tell conan we want the buggy package source to be fetched, our patch to be applied and then the package to be built and used.
Other 3rd party packages should be continu

[2020-09-21 14:07] memsharded commented on #7732
Hi @pcapdump

If you want to change what a recipe does, in this case, to apply some patches, you need to fork that recipe, do the changes, and ``conan create`` it locally. There is no standard way to inject any arbitrary patch into any arbitrary package.

What ConanCenter recipes have now, is an "external", ``conandata.yml`` file besides the recipe, that defines sources and possible patches. For a

[2020-09-21 14:34] czoido commented on #6906
Hi @akalali,

Regarding the question about the REST API in the CE edition, I think that the problem is that you are calling the [REST API plugins endpoint](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-PLUGINS) and the user plugins feature [is not available in the CE edition](https://www.jfrog.com/confluence/display/JFROG/Artifactory+Comparison+Matrix), but

[2020-09-21 14:43] memsharded commented on #1557
But that will be another, bigger problem. If companies cannot convert their packages to lowercase for Conan 2.0, how will they upgrade to Conan 2.0, that might require bigger changes in their recipes (to use ``toolchain()`` approach, changes in the graph model, deprecation of ``exports_sources`` in favor of the ``export_source()`` method, complete removal of some generators, etc, etc)?

Conan 2.0

[2020-09-21 14:57] #7731 closed, assigned to memsharded

[2020-09-21 15:13] DoDoENT commented on #1557
They won't unless there will be a possibility for co-existence of Conan v1.x and Conan v2.x projects. No company will migrate all their packages to lowercase and to other conan v2.0 features all at once. The transition will need to happen gradually, one project at a time, during a certain period. This requires a period where single conan cache has the support for both old and new packages (i.e. Op

[2020-09-21 17:32] czoido opened #7733 "[bug] Artifactory returns 200 when user without permissions removes packages"
The issue happens when using Artifactory API v1 (revisions disabled). Some user without DELETE permissions in an Artifactory repo tries to remove packages, no error message is thrown and a 200 response code is returned by Artifactory.

 * Conan version: 1.29.2
 * Artifactory version: 7.7.3 pro

### Steps to reproduce (Include if Applicable)

Create an user in Artifactory without DELETE permissions

[2020-09-21 17:39] czoido commented on #7733
Opened a JIRA for this issue on Artifactory side: https://www.jfrog.com/jira/browse/RTFACT-23390

[2020-09-21 20:27] #7728 closed, assigned to Psy-Kai, memsharded

[2020-09-21 20:36] #7525 closed, assigned to uilianries

[2020-09-21 20:40] memsharded commented on #7525
This has been added in https://github.com/conan-io/conan/pull/7690 and will be released in Conan 1.30

[2020-09-21 20:45] memsharded commented on #7606
This is the ongoing work around the toolchain for MSBuild: https://github.com/conan-io/conan/pull/7674

The build helper is not addressed yet, but it will be in following iterations. It will not run /devenv by default, unless explicitly requested. If it is explicitly requested, then, /devenv must be installed in the system.

[2020-09-22 02:54] chris-laplante commented on #5059
@wdobbe Thanks to your clarifications I was able to build my application.
For some reason I wasn't able to get 'conan create' working in the test app, but these two commands did work:

[code]

Now I'm going to work on figuring out the remaining roadblocks for a relocatable SDK.

Thanks again!

[2020-09-22 07:15] saimusdev commented on #7411
Hey @memsharded,

any inputs on how to deal with this?

Thanks!

[2020-09-22 08:40] #7475 closed, assigned to jgsogo, danimtb

[2020-09-22 08:42] memsharded commented on #7475
This has been added, using the ``self.cpp_info.requires`` syntax, it will be possible to declare dependencies on components, even if the current package is not defining components. Will be released in Conan 1.30.

[2020-09-22 09:19] theodelrieu opened #7734 "[bug] Support arm64 simulators"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Catalina
  * Compiler+version: apple-clang 12.0
  * Conan version: 1.26.0
  * Python version:

### Steps to reproduce (Include if Applicable)

Xcode 12 introduced arm64 simulators, `apple_sdk_name` method in `tools/apple.py` should support it.

Currently I can workaround that by specifying the SDK to `

[2020-09-22 09:45] 4nti-7rust opened #7735 "[question] Build log of resolved dependencies info"
Hello,

I have a cmake ARM C++ project that is using multiple dependencies with version range.
We are using the [CMake wrapper](https://github.com/conan-io/cmake-conan) to automatically install the latest package version based on version range.
This project does not generate a conan package as it is a final deliverable that we publish manually.

My issue is that I cannot find a way to automaticall

[2020-09-22 10:36] AndreyMlashkin opened #7736 "[bug] conan copy fails"
### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.29.0
  * Python version: any

### Steps to reproduce (Include if Applicable)
conan copy qt/5.15.1@bincrafters/stable qt/5.15.1@companyname+core+dependency/testing

### Logs (Executed commands with output) (Include/Attach if Applicable)
$ conan copy qt/5.15.1

[2020-09-22 10:58] theodelrieu commented on #7734
My bad, it seems that I've been mislead by the `xcodebuild` output, there are no mention of arm64 simulators in Xcode 12 release notes, they deprecated a build setting... closing this

[2020-09-22 11:03] theodelrieu commented on #7734
Apparently there are arm64 simulators in the end, c.f. https://stackoverflow.com/questions/63391793/xcode-12-build-target-in-wrong-order/63405201#63405201

I'm quite confused about it still, but if it is a real thing, Conan will have to support it one day

[2020-09-22 11:17] #7718 closed, assigned to memsharded

[2020-09-22 12:39] akalali commented on #7636
I added the ITK library and now things are getting even more confusing:
Similar to `-DOpenJPEG_DIR:PATH=${OpenJPEG_DIR}` I know need to add a bunch of paths, e.g. `DIconv_DIR:PATH=${Iconv_DIR}`, `-DLibXml2_DIR:PATH=${LibXml2_DIR}`, `-DZLIB_DIR:PATH=${ZLIB_DIR}`. I guess after ITK was found by adding `-DITK_DIR:PATH=${ITK_DIR}` more dependencies were checked by DCMQI and could not be found.

In my

[2020-09-22 13:47] DukeOfKirkcaldy opened #7737 "[bug] apply_env does not correctly set environment when crossbuilding (build/host profiles)"
Using the two-profile approach (`--profile:build`/`--profile:host`), the values from self.deps_env_info are not automatically applied to the os.environ.  I have attached a .zip to reproduce the issue.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64-bit
  * Compiler+version: n/a
  * Conan version: 1.29.2
  * Python version: 3.7.3

### Steps

[2020-09-22 14:07] memsharded commented on #7718
Fixed in https://github.com/conan-io/conan/pull/7721, will be released in next Conan 1.30. Thanks again for reporting!

[2020-09-22 14:08] fourbft opened #7739 "[bug][question] Conan lockfile behavior change between conan 1.26 and conan 1.29."
We used conan.lock files from a CI build for a big set of comonents where all component versions were synchronized. Later developers used these lockfiles to build new versions of one of those components in the context of that lockfile locally, so they were not affected by new versions of upstreams that some other developer might have created in the meantime.

Simple example:
CA/1.0.0 <- CB/1.0.0

[2020-09-22 14:24] fourbft commented on #7739
Here ist the attachment:
[use_segment_build_lockfile_for_local_component_builds.py.gz](https://github.com/conan-io/conan/files/5262083/use_segment_build_lockfile_for_local_component_builds.py.gz)

[2020-09-22 15:27] memsharded commented on #7739
Hi @fourbft

The lockfiles have become not more restrictive, but their checks more thorough and complete.
It is true, that now, if you capture a lockfile, and it locks ``CB/1.0.0``, you will not be able to change that, because it is locked. This was a bug fix, because if the lockfile contained other packages that depended on ``CB/1.0.0``, changing it will be automatically violating the locked vers

[2020-09-22 15:32] mgrandsire commented on #5999
Hi @agurtovoy,

I'm wondering if you could provide your complete profile for squish coco. I'm trying to add it but I'm facing to many errors.
I try to call "csg++" and "csgcc" and also to set "--cs-on --cs-mcdc" option

Thanks
Mickael

PS: I don't know if it is authorized to write new comments in a closed ticket and where the topics is slightly different because nothing appears in contributing gui

[2020-09-22 18:25] uilianries commented on #7736
Hello @AndreyMlashkin that's not a bug, but the expected behavior. I see the UX doesn't help, but if read the [documentation](https://docs.conan.io/en/latest/reference/commands/misc/copy.html) or running `conan copy --help` you will see that you shouldn't repeat the package name and version. Thus, you should run:

     conan copy qt/5.15.1@bincrafters/stable companyname+core+dependency/testing

[2020-09-22 19:43] Ajay-Khambadkone-Bose commented on #7100
I am not able to get this working, do you know if this is supported in some version of conan?
I have "Conan version 1.25.0"
and the conan build step gives an error " object has no attribute 'info' "
@memsharded help appreciated.

[2020-09-22 22:20] memsharded commented on #7736
Also please note that ``conan copy`` might be deprecated in Conan 2.0, as user/channel based promotions (copy) has some undesired side effects and breaks package immutability, so user/channel will be immutable in the future. It is likely that the only way to change packages from user/channel will be to do a new ``conan create``.

The main reason is because recipes can be conditional to user/channe

[2020-09-22 22:28] DukeOfKirkcaldy opened #7742 "[bug] package settings in profile not considered for `self.settings_target`"
It seems that [package settings](https://docs.conan.io/en/latest/reference/profiles.html#package-settings-and-env-vars) are not considered when accessing `self.settings_target`.

I encountered this issue when trying to use my cross-compiler package.  One of the consumers of this package must use a certain version of the compiler so I hard-coded it in the profile using package settings:

[code]

Bu

[2020-09-23 07:14] danielhalati opened #7743 "Different conan packages based on different CMake toolchain files"
Hello. I have the following scenario: there is a need at the development level that the same library is compiled with different compiler flags (different CMake toolchain file). We just pack existing binaries (conan is not used to build). At this point, there's just one conan recipe file as template which is filled every time a package has to be created (name, version, settings).

![image](https://

[2020-09-23 07:50] mgrandsire commented on #7666
Unfortunately, toolchain() doesn't really answer to my needs for the moment.
I'll check an another way to manage this.
You can close the ticket. Thanks for the feedback.

[2020-09-23 09:20] Carsten87 commented on #7683
@memsharded thank you. I can confirm that it is fixed. I tried with 1.29.2

[2020-09-23 09:24] DukeOfKirkcaldy commented on #7719
The thing I most liked about `build_modules` is that consumers automatically got access to any variables/functions provided by their `build_requires` dependencies without having to worry about checking certain attributes and passing them into cmake myself.  I'm not sure that I agree that these should only be for dependencies in the `host` context.  Something like the [FindDoxygen](https://cmake.or

[2020-09-23 14:13] steerlink commented on #7054
I'm interested in this feature-request

[2020-09-23 15:25] Garanyan commented on #7571
Same problem on Linux.
I updated ```cmake``` to version ```3.14.5``` and it worked.

[2020-09-23 18:38] zholtovski commented on #6863
Any status updates on these PRs? Thanks

[2020-09-23 20:01] memsharded commented on #7736
The UX has been fixed in https://github.com/conan-io/conan/pull/7741, and will be released in next Conan 1.30, so this can be closed.

[2020-09-23 20:01] #7736 closed, assigned to nobody

[2020-09-23 20:06] #5597 closed

[2020-09-23 20:12] memsharded commented on #5597
https://github.com/conan-io/conan/pull/7740 fixed this, hopefully everything is good fine.
It will be released in Conan 1.30.

[2020-09-23 20:19] memsharded commented on #7743
Hi @danielhalati

Yes, the binary model can be extended either with settings and/or options:

- Use options, if the toolchain only affects one specific package, and if different packages could have different values
- Use settings if the toolchain applies to all, or many packages, and will use the same value for all of them

I would say that in your case, you want to do the second one. Have a look

[2020-09-23 20:22] memsharded commented on #7735
Hi @4nti-7rust

Have you considered trying the new ``toolchain()`` method. You could use it, because it will execute in ``conan install``. It will have access to the ``self.deps_cpp_info`` data, each dependency there will contain the ``self.deps_cpp_info["dep"].version``. You could generate there and write to disk any file with any format you want that your build could use.

Please let me know if

[2020-09-24 05:35] Viatorus opened #7744 "[question] Export package with python tool"
Is it possible to export a python tool (with setup.py) alongside a C++ library in one package?

I didn't find any good reference. All tools that I found and I know of (ninja, swig, cmake) are C/C++ build executables but not python modules.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-09-24 08:11] tkhyn commented on #1233
Hi, as #2050 was closed, and as I agree with @maddanio that `conan remove * -b -s -f` is hard to remember (I have had to google my way here a few times already!), would it be possible to add the `conan clean` alias built-in?

[2020-09-24 09:11] michaelmaguire commented on #7297
Note:

Don't forget after testing this to use `conan config install --list` and if necessary `conan config install --remove=1` or `conan config init --force` to clean up your config.

[2020-09-24 09:53] 4nti-7rust commented on #7735
Thanks for the quick answer. That's exactly what I was looking for !
That said, I still cannot find the user and channel for the dependencies, any idea where I could find this ?

[2020-09-24 11:01] memsharded commented on #7735
Great to know!

The short answer is that the user/channel of dependencies is not available yet in the ``deps_cpp_info`` data.

Just in case, I would like to advise against using variable user/channel in projects, or doing promotions based on changing the user/channel (like the ``conan copy`` command). Changing user/channel might be deprecated in Conan 2.0, as we have learnt that it is better to ha

[2020-09-24 11:27] climblinne commented on #7100
@Ajay-Khambadkone-Bose
For me it is working for all Conan packages. But `self.info` it's not defined for an `test_package`

[2020-09-24 12:03] 4nti-7rust commented on #7735
Currently our CI system is building our deps projects using the git branch name to decide the channel name.
So we have the following pattern `my_dep/a.b.c@my_company/branch_name`.

In the "integration" projects (our final deliverables), we are following these stages :
- When a new deps is developed we point one project to the channel that correspond to the feature branch of the deps project
- Once

[2020-09-24 12:04] petermbauer opened #7745 "[bug] `conan inspect` always prefers the package in the local cache"
### Environment Details (include every applicable attribute)
  * Windows 10:
  * Conan version: 1.29.2
  * Python version: 3.6.5

### Steps to reproduce (Include if Applicable)

Run `conan inspect` for a package that only exists in the Conan local cache and specify a remote, e.g.

`conan inspect -r conan-center openssl/1.1.1g@blabla/test`

This prints the results for the local package though a rem

[2020-09-24 15:17] klimkin commented on #7659
`PATH` variables work as expected - joined by `:`. But the flags should be joined by space.

This is how what I get on v1.30 when building Boost.
[code]
[code]
Conan output:
[code]
It feels like `[]` syntax is limiting, since it dictates `:` as a separator. It would simplify things, if Conan was expanding env variables similar to globals.
[code]

[2020-09-24 16:48] bdebruyn opened #7746 "[bug] Cannot cross compile boost_*/1.69.0@bincrafters/stable"
### Problem
Cross compile **Aarch64** application libraries that have dependencies on boost libraries (using bincrafters boost*/1.69.0) results in the correct ELF file format for the application library but not for for the boost libraries. The `boost_system` and `boost_filesystem` static libraries have the ELF format of the host arch, **x86-64**, and not in the target arch, **Aarch64**. Using `rea

[2020-09-24 18:06] markovandooren opened #7747 "Conan recipe custom step"
@jgsogo As requested, this is a description of my Conan/Visual Studio integration.
I tried to be as detailed as possible such that it is also clear what I am
trying to achieve and why. Perhaps there is a better way to do all of this.

Standalone Conan
================
In the standalone Conan scenario, as used on the build server,
the build() method does the following:

    def build(self):

[2020-09-24 18:23] shelper commented on #7679
well, it seems this   --args thing does not work...
what i run is `conan config install {repo_url} -t=git -sf=conan_settings -a="-b dev"'`
and it still checks from the master....

[2020-09-24 18:35] #7679 closed, assigned to memsharded

[2020-09-24 18:35] uilianries commented on #7746
Hi @bdebruyn ! Please, try `boost/1.69.0@` instead, provided by Conan Center Index:

https://conan.io/center/boost/1.69.0/?user=_&channel=_

Also, any Bincrafters' package should be reported here: https://github.com/bincrafters/community/issues

Regards!

[2020-09-24 18:39] markovandooren opened #7748 "Pre Recipe Check Hook"
Summary
======
I would be helpful if there was a hook that was called before Conan checks if it can find the recipes. Editable mode make it easy to work with multiple package without a constant commit-push-build-download cycle, but if you then push all of your packages to their repositories, a build server may try to use a recipe that was not yet uploaded to the Conan repository.

Use Case
======

[2020-09-24 18:58] bdebruyn commented on #7746
Hey @uilianries, works!

I reposted the issue on bincrafters.

Many thanks!

[2020-09-24 18:58] #7746 closed, assigned to nobody

[2020-09-24 22:17] memsharded commented on #7745
This issue is a bit complicated.

So far, the ``inspect`` logic for remote repos was following the ``install --update`` logic. It will not overwrite something that you have in the local cache, unless it would be an effective update.

Problem with ``conan inspect`` is that it requires the recipe to be fetched and installed in the client, to be loaded and parsed by the python interpreter (there are

[2020-09-24 22:36] memsharded commented on #7735
Once tested by SQA the changes goes to develop branch / channel
Then we wait for Field tests and merge the changes (and some other) into the master branch / channel
All the project are then advice to point to the latest master channel

Yes, there are some issues when using ``user/channel`` as something that changes, in this case, as the source branch changes.

Lets say that you have a project, in

[2020-09-25 09:06] DukeOfKirkcaldy opened #7751 "[feature] make `source_folder` available to set_name() and set_version()"
I want to set the version using the value extracted from a file within my repository.

While this is possible using the 'package development flow' commands using `self.recipe_folder`, since the source can be located relative to the recipe, this is not true when building in the cache.  I'd need the `source_folder` to be able to locate my version files, but this is currently not available from the `

[2020-09-25 09:23] 4nti-7rust commented on #7735
Sorry, I wasn't clear, the branch of the project is not linked with the channel of the deps required. So only this could happen:
`App/1.0@team/my_integration_test_branch=> LibC/1.0@team/feature_new_function=> LibB/1.0@team/master=> LibA/1.0@team/master`

I override the channel of one deps inside the application, to make my integration tests. After the tests `LibC/1.0@team/feature_new_function` wil

[2020-09-25 09:42] iiknd opened #7752 "[question] Windows and CMake, Ninja not picked by conan?"
- Conan 1.29
- Windows MSVC2019
- CMake 3.17.1
- Ninja 1.10.0

The main projects CMakeLists.txt uses conan_cmake_run() to build the dependencies needed by the project.

The Ninja is picked correctly on Mac and Linux to build the dependency (conan_cmake_run()) but on Windows is has no effect?
On Windows it seems to always reference 'vcxproj'?

// no effect

// no effect

Then I found this: https://

[2020-09-25 13:40] madebr commented on #7615
Having multiple namespaces would also be useful.
e.g. thrift generates `thrift::thrift`, `thriftz::thriftz`, `thriftnb::thriftnb`, `thriftqt5::thriftqt5`.

In general, the cmake_find_package generators should assume that everything can be modified.
(e.g. the name of a components is not always the same as the name of the imported target)

[2020-09-25 13:53] SpaceIm commented on #7615
Difference between component name and underlying imported target can be emulated, but not multiple namespace (openexr also has multiple namespaces).

[2020-09-25 14:00] ngladitz opened #7753 "[question] build requirement (e.g. rootpath) information in custom generator"
Using `--profile:build` and a custom conan generator I am currently able to iterate over the _host requirements_ in `self.deps_build_info.dependencies` to create a list of dependency name, rootpath tuples.

I would like to do the same with the _build requirements_ but haven't been able to locate the required information (i.e. dependency names and rootpaths) anywhere.

Is it accessible?

[2020-09-25 15:05] shelper opened #7755 "[question] Is there a way to build project that outputs multiple lib files with both static and shared types?"
I have a project that has a module (A) that generates a static .lib file, and i am trying to add another module (B) to the project, which depends on (A), and i want to compile this module (B) to .so file.

currently, if i do this, i got link error like:

but if i separate out module (B) to a different project and link to the module (A).lib, then no problem to compile

i guess this is due to my `co

[2020-09-25 15:53] michaelmaguire commented on #6930
Dear, @jgsogo, could we ask you to update https://github.com/conan-io/conan/issues/6930#issuecomment-621737594 with the new commands that should be used now that `conan graph` has been deprecated?

I guess it would be:

[code]

then:

[code]

[2020-09-25 17:27] thegwydd opened #7756 "[question] Manage precompiled headers"
Hello people,

I'm converting a C++ project from cmake only to conan + cmake.
The old project was "cmake driven" where we were calling conan from within cmake to get dependencies but internal project dependencies (application and internal libraries) were build using cmake only.

Now we want to move "conan driven" where we create packages for each of our libraries and use cmake to only build single

[2020-09-25 18:17] #7694 closed, assigned to nobody

[2020-09-25 18:18] memsharded commented on #7694
#7695, this will be released in Conan 1.30

[2020-09-25 19:17] shelper commented on #7755
it turned out that it is not conan's problem.
I have CMakeLists.txt file in the project root:
[code]

i have my build() in `conanfile.py` as simple as:

[code]

and it works if i run:
[code]

but it failed if i run:
[code]
the failing message is below when i try to link mylibB.so to mylibA.a:

have no idea why is that, but just wonder why `conan build` work while `make/ninja` failed.

[2020-09-25 20:59] shelper commented on #7755
Nevermind, i need to set the property of my libA as:

set_target_properties(libA
    PROPERTIES
    POSITION_INDEPENDENT_CODE ON
)

[2020-09-25 20:59] #7755 closed, assigned to nobody

[2020-09-26 05:25] ericriff commented on #3230
I just came across this myself. I'm packaging a prebuilt shared library with no soname, the test package builds fine but if I run `ldd` on it I see that is using absolute paths to find the library.
Then, if I consume the library I have issues linking.
I would like to know if you guys figured something out.

[2020-09-26 16:52] tjwrona opened #7759 "[question] Creating a "test_package" that will work cross platform with multiple compilers/configurations"
I'm working on packaging and testing a library that I wrote and everything seems to work fine but when I wrote the `test_package` for the library I followed the example in the documentation and it was failing because the binary file was not being placed in a `bin` folder, but instead MSVC decided to put it in a `Release` folder.

Here is my working `conanfile.py` for the `test_package` of my libra

[2020-09-26 17:47] shelper commented on #3288
@memsharded i think his question is why `self.copy()` function is available in function `pacakage()` of the conanfile object in `conanfile.py`,
I have have the same doubt, when i put this `self.copy()` function in other member fuctions of the object, e.g., `build()`. i got error saying:

When i try to dig into conan's source code, i could not find where this `copy()` is defined.

just out of curio

[2020-09-26 18:37] DukeOfKirkcaldy commented on #7751
Sorry I found elsewhere in the documentation that this method is run only when the recipe is in a user folder.

[2020-09-26 18:37] #7751 closed, assigned to nobody

[2020-09-26 21:06] bugproof commented on #6526
It would be good if `conanfile.txt` used some format  too instead of .txt. I would personally vote for TOML. Cargo (rust package manager) uses it too.  If not possible, YAML or JSON. TOML looks more closely like current conanfile.txt so I think it will be easier to migrate.

vcpkg uses json e.g. https://vcpkg.readthedocs.io/en/latest/specifications/manifests/ but it never meant to be a configurati

[2020-09-27 02:17] beizhengren commented on #4109
@uilianries Thanks for your advice.

[2020-09-27 04:51] intelligide commented on #7759
In the `package` method, you can move your executable/library from `Release` (or `Debug`, check the value of `self.settings.build_type`) to `bin` ;)

Do you use CMake or another build system ?

[2020-09-27 04:58] intelligide commented on #7752
`CONAN_CMAKE_GENERATOR` and `general.cmake_generator` are used by cmake build helper(https://docs.conan.io/en/latest/reference/build_helpers/cmake.html) and cmake toolchain (https://docs.conan.io/en/latest/creating_packages/toolchains/cmake.html). Conan can't set the generator if you use manually cmake with `self.run`.

[2020-09-27 05:16] intelligide commented on #7724
I strongly advise against installing files outside the package folder `self.package_folder`.
- This can damage system files without rollback.
- Files outside the package folder are not packaged and not distributed.

It is however possible to define environment variables to define configuration file paths.

[2020-09-27 05:25] intelligide commented on #7523
if you use targets (`conan_basic_setup(TARGETS)`), link your libraries with targets like:
[code]

[2020-09-27 11:20] kepam commented on #3230
Mine solution (while back) was to hack prebuild library by adding SONAME.

[2020-09-27 15:58] ericriff commented on #3230
I was looking into the same approach.
I'm using `patchelf` to add a `SONAME` to the library.

[2020-09-27 17:01] tjwrona commented on #7759
Yes I use CMake, but wouldn't that approach still require knowing what folders the specific compiler uses for release and debug builds? Depending on the compiler the folders it puts things in may not always be `Release` or `Debug` so it may not work in all cases.

[2020-09-27 18:18] intelligide commented on #7759
You can use the cmake helper (https://docs.conan.io/en/latest/reference/build_helpers/cmake.html). It sets cmake install variables (`CMAKE_INSTALL_BINDIR`, `CMAKE_INSTALL_INCLUDEDIR`, `CMAKE_INSTALL_LIBDIR`, etc...) to the package folder.

If you use cmake install command like this:
[code]
The output files are redirected to the package folder.

[2020-09-27 18:26] intelligide commented on #7744
I don't think that's possible and I don't think Conan is designed for that use. Why not use pip and Pypi ?

[2020-09-27 18:39] tjwrona commented on #7759
The `test_package` executable never gets "installed" though. It just builds locally and then runs it straight out of where it gets built to verify the test.

There is no "packaging" or "installing" in the `test_package` examples in the documentation.

[2020-09-27 18:54] intelligide commented on #7759
`test_package` isn't a package. It's a conanfile for simulating consumer environment. Look at some [CCI recipes](https://github.com/conan-io/conan-center-index). They are often identical and generic.

The package must provide all the information about its structure needed by consumers. The consumer (or `test_package`) isn't responsible to deduce the information.

If your project provides librairie

[2020-09-27 19:40] memsharded commented on #7751
Yes, note the difference from the ``self.source_folder`` which is where the source lives, and could be different to the current one, the one containing the recipe, for example if the recipe contains a ``source()`` method that downloads source code from the internet. The ``set_name()`` and ``set_version()`` works at "export" time, where the "source" folder doesn't exist yet.

[2020-09-27 19:54] tjwrona commented on #7759
Ohh I think there may be a slight misunderstanding here. The library that I am testing is built and installed properly and has no issue with the `Release` or `Debug` folder because it just goes to the standard install location. The issue is not with finding my library, it is with finding the `test_package_exe` executable itself.

The `test_package` has its own CMake file that consumes my library a

[2020-09-27 20:08] intelligide commented on #7759
Try using this conanfile for `test_package`:
[code]

and this CMakeLists.txt for `test_package` (replace `test_package.cpp` or rename your source file):
[code]
Tip: Keep it simple. test_package should only test if your package correctly link to a consumer artifact, not if it works as expected (this is the unit test job).

It should work properly. (It works for [bullet3 from CCI](https://github.com

[2020-09-27 20:48] tjwrona commented on #7759
I tried using that exact conanfile with only one slight difference (the difference should have no impact on this issue though):

[code]

The only difference is using the "cmake_paths" generator when consuming my library because my library requires some specific compiler flags and using "cmake_paths" allows me to use the actual "CMake" target for my library and pull in the right compiler flags auto

[2020-09-27 21:19] intelligide commented on #7759
Your problem come from `conan_paths` generator. This generator doesn't define `CMAKE_RUNTIME_OUTPUT_DIRECTORY`, unlike the `cmake` generator ([See here](https://github.com/conan-io/conan/blob/bd0da4de60b892eb1ea46a0809216a41db085c97/conans/client/generators/cmake_common.py#L390)).

There 2 solutions:
- Define these yourself paths in the `test_package/CMakeLists.txt`:
[code]
- or use both `cmake` a

[2020-09-27 22:38] tjwrona commented on #7759
Thanks, using both generators and adding this to the `test_package` CMakeLists file worked!

[code]

The other things you mentioned are very interesting though so I'll definitely have to look deeper into that and see if I can get it to work that way!

[2020-09-28 06:56] Viatorus commented on #7744
I would like to use pip but than the C++ library and dependencies are not managed by conan.

But as it seems to be, I have to separate the project in pip and conan.

[2020-09-28 06:56] #7744 closed, assigned to nobody

[2020-09-28 09:19] fourbft commented on #7739
Thanks @memsharded

[2020-09-28 09:31] fourbft commented on #7739
Apart from the workflow described above we also have implemented the workflow described in the former conan docs here:
https://docs.conan.io/en/1.26/versioning/lockfiles.html
in the chapter "How to use lockfiles in CI". Especially this step:

This workflow is different from the one above in that it modifies the lockfile during the "conan create". It would be great, if such a workflow would be poss

[2020-09-28 10:19] mduvanel commented on #3230
The solution we put in place at the time was different, but more complicated.

Instead of altering the problematic library itself, we hacked the consuming library's build process so that it would edit the link.txt files produced by CMake before building, to replace the `/absolute/path/to/conan/cache/first/lib/libexample.so` parts into `-lexample`.

Practically, it meant doing something similar to

[2020-09-28 10:43] #6116 closed

[2020-09-28 13:40] fschoenm opened #7761 "[question] Remote recipe is newer than local recipe?"
We have a conanfile.py that can be used on Windows and Linux that hasn't really changed for a while. I'm just trying to create a pre-built package for a new compiler version. But when I rebuilt it with a new compiler version on Linux and tried to upload it to our remote (with already existing packages for Windows and older compilers), I got the following error message:

	Uploading to remote 'vsdk'

[2020-09-28 13:51] walterj-adsk opened #7762 "build_type=None cause error while building zlib package"
I'm building a clang-cl based version of zlib library.  I'm using the recipe found here: https://github.com/conan-io/conan-center-index/tree/master/recipes/zlib

We are migrating some of our packages over to clang-cl and using the following build profile:

[code]
The build works fine but the package fails and never properly copies the lib or makes a package directory.  This is the error I get:

[c

[2020-09-28 14:40] memsharded commented on #7739
Hi @fourbft

I am proposing in https://github.com/conan-io/conan/pull/7763 to remove the check that raises when a lockfile that is created from another existing lockfile doesn't have any overlap with the former, which was the thing that was holding this possible flow.

Let me try to summarize here the possible flow with the new syntax:

- Lets say we have App/1.0->LibC/1.0->LibB/1.0->LibA/1.0
- A

[2020-09-28 15:59] tjwrona commented on #7759
@intelligide regarding the approach you mentioned above: Does conan generate and install a new target `tnt::dsp` that gets consumed by the `test_package`, or does it install the existing `tnt::dsp` target that is defined within the `CMakeLists.txt` file of the library itself?

This is important because inside the `CMakeLists.txt` file for the `tnt::dsp` library I defined `target_compile_features`

[2020-09-28 16:17] intelligide commented on #7759
Conan always generate new targets. It can't use author cmake config files without `cmake_paths`.

I know it's not very clean right now to duplicate definitions in the `CMakeLists.txt` and in the `cpp_info` section but this allows the consumer not to be dependent on a particular generator / build system. If the user uses another build system than `cmake`, he will not be able to use your package. I

[2020-09-28 16:51] walterj-adsk commented on #7762
So I think I might have solved this issue on my own.

[code]

was missing from my profile.

[2020-09-28 16:57] #7554 closed, assigned to nobody

[2020-09-28 16:59] tjwrona commented on #7759
Okay thank you that answers all of my questions. I am personally okay with this library being dependent on CMake because that is the only way I plan on consuming it so I will proceed with "cmake_paths" but it is good to know what all of my options are and how this all works. With this information I might update it in the future to be more generic that way it can be consumed by other build systems.

[2020-09-28 17:08] Johnnyxy commented on #7659
Hi there,
I have some similar problems with the profiles.
I am using Conan 1.24.1 at the moment.

profile1
[code]
profile2
[code]

Calling Conan like this: ```conan create ... -pr=profile2```
Initial Conan output:
[code]

results in the actual compiler command line fragment (via CMake/Unix Makefiles):
[code]

### Summary
Concatenating environment variables like this is of no help when trying to re

[2020-09-28 17:41] tjwrona commented on #7759
I'm closing this question since it was suitably answered. As for Conan being able to propagate compiler flags from CMake targets there is an issue here that I opened a while back that has more info:

https://github.com/conan-io/conan/issues/7479

Since that issue hasn't been closed I assume it is something they are at least looking into. :)

[2020-09-28 17:41] #7759 closed, assigned to nobody

[2020-09-28 17:48] intelligide commented on #7759
I looked at the [cmake file api](https://cmake.org/cmake/help/latest/manual/cmake-file-api.7.html). I think it is possible to integrate it with conan with the `configure` method of the cmake build helper and extract some target info from cmake. I will create a new request to propose this feature. 😉

[2020-09-28 17:52] tjwrona commented on #7759
That would be awesome, thanks!

[2020-09-28 18:01] walterj-adsk commented on #7762
So I think I might have solved this issue on my own.

[code]

was missing from my profile.

[2020-09-28 18:27] intelligide opened #7764 "[feature] Extract CMake project information with code model"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md), sir.

When a library maintainer package his library with conan, he needs to duplicate some information like C++ flags and definitions.
It is possible to use the [cmake file api](https://cmake.org/cmake/help/latest/manual/cmake-file-api.7.html) to get the information about the project a

[2020-09-28 19:23] tjwrona commented on #7759
@intelligide Also having a way to extract the package version info from CMake and use that with conan would be very useful! It looks like that may also be possible.

[2020-09-28 20:16] memsharded commented on #7659
Thanks for the feedback @Johnnyxy

It seems that the need for an advanced profile definition is becoming more evident. The thing is that it is not possible to hardcode which variables need to be concatenated how, so it should be something that the user should be able to define. We could invent a syntax for the text profiles, but most likely it will still be not very intuitive, buggy and it will al

[2020-09-28 20:24] memsharded commented on #7659
I am proposing that @danimtb does a proof of concept for Conan 1.31, as reduced as simple as possible of implementing python profiles:

- Profiles with .py are python profiles
- Python profiles can define dicts of ``settings = {"os": "Windows", ....``, ``options``, etc
- It is not necessary that the ``conan profile update`` works.
- It is not necessary to create the default profile in python
- It

[2020-09-28 20:31] memsharded commented on #7744
Hi @Viatorus

We are aware of some users that have been using Conan to manage other programming languages besides C and C++, including Java, C# and python.
We included some ideas in this section of the docs: https://docs.conan.io/en/latest/howtos/other_languages_package_manager/python.html. Were you aware of this?

Some important point is that if you use Conan for managing python code, most likely

[2020-09-28 20:40] memsharded commented on #7762
Hi @walterj-adsk

Yes, indeed you need to have the ``build_type`` specified.
The issue is that the default settings contain ``None`` as a possible value:

[code]
While other settings do not contain the ``None`` value, and then will complain if they don't get a value, the ``build_type`` doesn't complain, but if later the recipe is not prepared for handling the build with build_type=None, then it wi

[2020-09-28 20:50] memsharded commented on #7756
Hi @thegwydd

Great to know that you are giving Conan a try and adopting it in your project.

Regarding your question, the thing is that Conan does not handle or define the build, and things like precompile headers is still the responsibility of the build system. So it seems that what you were doing in your previous project, you can still do the same.

If it is the headers that will live in other

[2020-09-28 20:54] tjwrona commented on #7764
Here is a related issue that this feature would fix: https://github.com/conan-io/conan/issues/7479

Additionally having a way to extract the package version info out of CMake so you don't need to duplicate that in the conanfile would be nice. :)

[2020-09-28 20:59] memsharded commented on #7753
Hi @ngladitz

I am afraid it is not accesible (yet). When using --profile:build, at the moment what is computed is:
- ``deps_cpp_info`` contains information of libraries of the host, include_dirs, library names, etc
- ``deps_env_info`` contains information of packages of the build context, and variables like PATH, LD_LIBRARY_PATH are populated.

We will be investigating and designing what informat

[2020-09-28 21:00] Johnnyxy commented on #7659
@memsharded
Uhhhh, yes yes yes, solving stuff via code (for advanced scenarios).
I agree that this would bring a huge flexibility into the profiles as well as being able to utilize an already established codebase (Python libs).

I could imagine that the profiles could have a simple interface (a function) for each section.
[code]

[2020-09-28 21:01] memsharded commented on #7714
Hi @atomixnmc

Did you manage to make it work by updating to latest Conan?

[2020-09-28 21:07] memsharded commented on #7761
Hi @fschoenm

Translating the date to human:
- Remote, server timestamp: August 21, 2020 11:58:22 AM
- Local cache package timestamp:  June 3, 2020 1:58:34 PM

For some reason, your package in local cache is older, and this check doesn't allow to overwrite newer packages. Is it possible that the package in that cache has been there since June?

There are several approaches for this:

- You could t

[2020-09-28 21:10] colin-pm commented on #7724
I think I have a solution working to address this issue.  I have found that conan and CMake seem to work fine with installing a configuration file with the path specified without the leading slash.

For example let's say I have my_application and need to install /etc/my_application.conf.  To do this with conan and CMake, I would add the following line in my root CMakeLists.txt...

`install(FILES $

[2020-09-28 21:10] #7724 closed, assigned to nobody

[2020-09-28 21:17] memsharded commented on #7659
I think that this could be even more simple, as this is mostly data (compared with conanfiles, which are mostly methods). So something like this:

[code]

[2020-09-28 23:08] Johnnyxy commented on #7659
Yes, it could.
I was thinking about the possibility that someone could use this for more advanced techniques if it would be necessary.
In the end Conan sees methods which it executes and which shall return a dictionary each. It should not care from where or how the profile methods get the data.

In this example the ```ConanProfile``` base class was just a placeholder. It does not have to have nece

[2020-09-28 23:33] aleksa2808 commented on #7615
Agreeing with these points, confusingly CMake target names can be ANYTHING (and with my relatively brief CMake experience I've seen almost every type of target name in active use). Some packages like GTest even define things like GTest::GTest and then GTest::Main which as far as I know cannot be modeled with components right now.

[2020-09-29 05:55] ngladitz commented on #7753
Hello @memsharded,

thank you for looking into this.

There is some overlap between Conan and CMake heuristics locating specific artifacts within packages.
I am currently trying to integrate Conan non-invasively into a CMake project and I'd like to keep the heuristics on the CMake side. For that to work I need the prefixes (root directories). Ideally per package to be able to provide these locatio

[2020-09-29 06:16] fschoenm commented on #7761
As far as I understand, the conanfile.py has not been changed. So in August, a colleague built and uploaded a package and today I built and tried to upload another package with a new OS/compiler combination. So the packages I want to upload don't even exist on the conan server.

1. Can the line endings be a problem here? They lead to different MD5 hashes for the conanfile.py on Windows and Linux.

[2020-09-29 06:26] petermbauer commented on #7745
Thanks for taking care so quickly.
From a user perspective i think the expectation to `conan inspect` is that it has a "read-only" nature like e.g. `conan search`. Maybe the recipe and everything else that is required could be downloaded into a separate temporary "local cache" so the actual Conan local cache is not modified in any way?

[2020-09-29 08:51] divergentscott opened #7767 "VTK 9.0.1 (hdf5) with apple-clang 12"
Something about the cmake.configure() method prevents VTK9 from properly compiling with apple-clang 12. This seems more like a cmake configuration error than a conan bug, but I can only reproduce it with conan.

Building VTK 9.0.1 with apple-clang 12 using conan package fails with a surprising definition inclusion error.
https://github.com/divergentscott/conan-vtk/blob/master/conanfile.py

Essenti

[2020-09-29 10:19] fulara opened #7768 "[bug] Settings affect hashes of downstream packages even if they themselves dont have such settings."
### Steps to reproduce (Include if Applicable)
Have package 'binary' with such settings:
    settings = "os", "compiler", "build_type", "arch",

Have a custom settings into your tree:
we have 'os.version' and os.version is either rh6 or rh7.

Now we build packages in in amtrix for both rh6 and rh7, but some of the packages are 'config only packages' hence no binaries so we wanted to pus following

[2020-09-29 13:16] memsharded commented on #7768
Hi @fulara

This doesn't seem a bug. The ``package_id`` of each package is a combination (hash) of settings + options + dependencies. Even if the package has no settings, if it has dependencies, you need to discard them. It is totally possible that the configuration package could build a different configuration for each different set of dependencies versions. If your config package is totally inde

[2020-09-29 13:18] memsharded commented on #7745
Yeah, that is definitely an alternative approach that we should consider. So far we went with the simplest possible implementation, that reuse the existing fetch/install functionality.

[2020-09-29 14:16] fourbft commented on #7739
Hi @memsharded,
thanks a lot for the detailed explanation. It sounds like it could be a viable solution for our use cases! I'll try to adapt our CI scripts to the new lockfile mechanism when 1.30 is out.
And thank you very much for looking into this issue!

[2020-09-29 14:41] aminya commented on #7223
It is RC4 now: https://github.com/llvm/llvm-project/releases

[2020-09-29 14:50] frkami123 commented on #6886
i also had this issue because of a power outage. my json file was filled with some zero bytes. also resolved the issue by remove it, thank to you,

[2020-09-29 16:18] memsharded commented on #6886
Thanks all for following up and reporting.

As a general rule, what is in the Conan cache folder could be removed, its intent is that it is a pure cache, and can be removed and re-populated easily. It is possible (and with enough usage it will eventually happen) that some process is interrupted, some file is corrupted due to a crash or power outage, etc. In those cases being able to confidently re

[2020-09-29 16:50] memsharded commented on #7747
Hi @markovandooren

Are you aware of the ``toolchain()`` new method? This method is called for every ``conan install`` without needing to build or create a package. It can create custom files and build systems integrations. We are moving our own built-in integrations to this approach, it is likely that it will be the proposed one for Conan 2.0.

Please have a look at: https://docs.conan.io/en/late

[2020-09-29 16:54] memsharded commented on #7485
I am having a look and trying to add testing that includes the Ninja build system: https://github.com/memsharded/conan/tree/feature/toolchain_cmake_ninja

There are important design issues here, which require new solutions. Nothing that can be done right now, will keep working in next 1.31.

[2020-09-29 19:56] paulocoutinhox opened #7770 "Can't compile after update to conan 1.29.2 and Xcode 12"
Hi,

After uninstall conan and install a fresh version, conan 1.29.2 was installed.

But when i try compile it give me the same error before update:

[code]

I need change something after update?

[2020-09-29 20:03] paulocoutinhox commented on #7770
Hi,

Thanks @uilianries for the help.

Only need remove old settings file:
[code]

Thanks.

[2020-09-29 20:03] #7770 closed, assigned to nobody

[2020-09-29 20:33] memsharded commented on #7770
Hi @prsolucoes

In theory the older ``settings.yml`` file should have been updated when 1.29.2 ran the first time. It checks if the file has been modified by the user, if there are local modifications, it tries to keep it, so maybe that is what happened. Indeed removing the ``settings.yml`` will force regenerating it, so happy to hear that you managed to find the solution.

[2020-09-29 22:34] #7432 closed, assigned to nobody

[2020-09-30 04:30] tjwrona opened #7772 "[question] Enforcing a minimum C++ standard for consumers of a package while remaining compiler and platform independent"
I have a library that uses some C++17 language features and I am in the process of trying to package it up using Conan so it can be easily consumed by any build system. Because some of the header files in my library use C++17 features, the consumer of the library is also required compile their code with at least a minimum standard of C++17 otherwise compilation will fail.

In the `package_info` se

[2020-09-30 08:05] fulara commented on #7768
Hello @memsharded

Yes you are right, I seem to again locked myself in thought minima.

Whether the conan search would help:
![image](https://user-images.githubusercontent.com/5104907/94659289-58d46880-0304-11eb-9b28-cb95f8546fbf.png)

I dont think so, it doesnt point anything. (on top of that there is no package ids for the deps here. )
You know me - I am complaining about the build missing proba

[2020-09-30 08:05] #7768 closed, assigned to memsharded

[2020-09-30 08:10] juba895 opened #7773 "[feature] Validation of conan profiles"
In case there is e.g. a git repository which contains
-  a set of conan profiles
- and probably additionaly a project specific conan `settings.yml`

It would be helpful to validate this content for example when `conan config install git@path_to_git.git` will be executed by a users workspace. To be able to identify problems in the profiles or in the `settings.yml`.

- [x] I've read the [CONTRIBUTIN

[2020-09-30 08:58] memsharded commented on #7773
Hi @juba895

It is not possible to do a general validation of those things, because they have meaning in a context. A profile could fail if it doesn't define enough settings that recipes are requiring, or changes in settings.yml can be broken because recipes or profiles still use older values. Profiles can be incomplete and only make sense when composed with other profiles, and so on.

So I think

[2020-09-30 09:36] Johnnyxy commented on #7772
Hi there,
have a look here, maybe this could help you to enforce a minimum C++ standard.
[https://docs.conan.io/en/latest/reference/tools.html#tools-check-min-cppstd](https://docs.conan.io/en/latest/reference/tools.html#tools-check-min-cppstd)

[2020-09-30 10:48] VladAdGad opened #7774 "[bug] conan search comman stuck/infinity"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: gcc 8.1
  * Conan version: 1.29.2
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
Open cmd/PowerShell/Conan and write **conan search "boost/*" -r all

Nothing happen, command just stuck and Ctrl+C reacts after 10-20 seconds
But I can do conan --version an

[2020-09-30 11:53] memsharded commented on #7264
I have implemented in https://github.com/conan-io/conan/pull/7776 a real detector of libcxx, which should fix this in the future. At the moment is only CONAN_V2_MODE, because it would be breaking.

It will only be applied for auto-detection of profile. Users manually provided profiles will not be verified, it is the responsibility of the users to correctly provide their configuration for their too

[2020-09-30 13:54] jgsogo commented on #7737
Hi, @GordonJess

As it is stated [here](https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=deps_env_info#build-and-host-contexts) (same in the [note here](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=deps_env_info#deps-env-info)), the information from `env_info` of packages in the _host_ context is not propagated.

We didn't see the use-case whe

[2020-09-30 14:12] jgsogo commented on #7742
This is a very interesting use-case and it goes right to the core graph model of Conan. We need to consider it carefully. Up to know, the packages used as build-requires know nothing about the packages that were using them, the attribute `settings_target` is the first counter-example of the previous statement.

If we use the _global_ values for the `settings_target`, then every package `cmake` (i.

[2020-09-30 14:41] #7264 closed, assigned to memsharded

[2020-09-30 15:36] petermbauer commented on #6405
Not sure if i got this right. As it is now one can either add the files to a package without introducing an additional option (-> same package_id) or with an option to have it in a separate binary package or even both. The point is that the option is a way to decide what should be built and added to the package but if the files shall not be added to the package but just archived or processed in so

[2020-09-30 17:51] mathbunnyru opened #7778 "[feature] Add an ability to show outdated packages in conan install"
The idea is that it is quite a good idea to always use latest version (performance / security issues and so on)

For example I have libA, which I really need to use.
And I do install it using conan install.

Then new version gets released, but it's quite hard to follow manually all the packages updates.
I would like conan install to tell me that:
`You're using libA version 1.0, version 2.0 is avai

[2020-09-30 18:34] #7454 closed, assigned to nobody

[2020-09-30 18:50] uilianries commented on #6961
The documentation says :

This feature request is about installing different packages at same time: e.g.

[code]

Using this code, with the current implementation, Conan install will Curl, and end the execution.

However, if we pass to accept a list of packages, we would break the current behavior, so we need an alternative, maybe a new parameter:

[code]

The parameter `all` represents, install a

[2020-09-30 20:20] #7739 closed, assigned to memsharded

[2020-09-30 21:07] uilianries commented on #7774
Hi @VladAdGad ! Thanks for your report, indeed is a known issue. Please take a look: https://github.com/conan-io/conan/issues/7573 and https://github.com/conan-io/conan-center-index/issues/950

[2020-09-30 21:13] kralicky opened #7780 "[bug] Upload fails with multiple remotes in the same command"
When uploading several packages at once (without specifying a remote) and some packages are uploaded to different remotes, the command will fail.

The bug appears to be due to reusing a closed thread pool in the loop in CmdUploader.upload() in uploader.py. Once thread pools are closed they can't be reused, so any iterations after the first will cause an error.

### Environment Details (include eve

[2020-09-30 21:17] uilianries commented on #7778
@mathbunnyru Do you mean [deprecated attribute](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#deprecated), Or only related to package version?

For version we have a similar feature, but used for [conan config](https://docs.conan.io/en/latest/reference/config_files/conan.conf.html#conan-conf), the `config_install_interval`. In this case, we could run `conan search` every X ti

[2020-09-30 22:49] kralicky commented on #7772
You can also use the `settings` field to restrict your package to certain c++ standards, something like this:

[code]
You can see all the possible settings in ~/.conan/settings.yml.

[Relevant docs here](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#settings)

[2020-09-30 23:18] ericriff commented on #2802
Strangely enough, I came across a very similar error today. I can build my package locally on Ubuntu16+conan 1.21 and also Ubuntu 18 + conan 1.29.0. On our CI servers, we rock the same configs but on dockers.
On the docker images, I get
[code]

And I cant reproduce it locally or figure out what is going on.
We are using python 3.5 on U16 and 3.6 on U18.

Any suggestions to debug this?

[2020-09-30 23:26] tjwrona commented on #7772
Thanks both of you! I like the `tools.check_min_cppstd` option a bit more because it seems more open ended so it will continue to work with the next standard after C++20.

The only issue I have with it is that you have to pass the `compiler.cppstd` as an option to `conan install` and it won't automatically pick up that you need at least that standard and do it for you. The pure CMake approach is m

[2020-09-30 23:27] ericriff commented on #2260
Strangely enough, I came across a very similar error today. I can build my package locally on Ubuntu16+conan 1.21 and also Ubuntu 18 + conan 1.29.0. On our CI servers, we rock the same configs but on dockers.
On the docker images, I get
[code]
And I cant reproduce it locally or figure out what is going on.
We are using python 3.5 on U16 and 3.6 on U18.

Any suggestions to debug this?

____________

[2020-10-01 05:06] mathbunnyru commented on #7778
No, I mean there's an openssl package, for example.

It had versions till 1.1.1g.
But recently 1.1.1h was added.

1.1.1g and below are not really deprecated in terms of conanfile.
But there's a newer version available.
So I want conan to tell me - 1.1.1h is available, please, update.

[2020-10-01 06:44] juba895 commented on #7773
Hello @memsharded,
thanks for the fast reply. You are right, i totally agree that it's too late to do a validation / verification with `conan config install`.
But wouldn't it be possible to provide a kind of syntax verification for the (git) repository which contains the project specific `settings.yml` and the set of conan profiles? Thereby it could be at least checked if there are no problems in

[2020-10-01 09:58] #7780 closed, assigned to nobody

[2020-10-01 10:31] jgsogo commented on #7778
Hi, @mathbunnyru

As uilianries suggested, it is probably something that cannot be built-in into the client and better fits in a hook (not sure if any of the current hooks is good fit for this functionality, but we can add more hook-functions if needed). Checking for new revisions/versions in all the remotes could take time and it is something we cannot run with every command (daily?) for all the

[2020-10-01 10:52] jgsogo commented on #7772
Hi! To be honest, we don't have a canonical solution, but it is something we've been thinking about and we need to come up with a plan for Conan 2.0. Probably a good reading is around issue https://github.com/conan-io/conan/issues/6157 and other issues linked to it.

To summarize a little bit: the way to handle C++ standard in Conan should be using `compiler.cppstd` setting, but we don't have a me

[2020-10-01 12:00] #7717 closed, assigned to nobody

[2020-10-01 12:20] memsharded commented on #6326
Parallel upload is controlled now by the ``cpu_count`` configuration (which also have a CONAN_CPU_COUNT env-var) since https://github.com/conan-io/conan/pull/7781 (Conan 1.30), so I think this can be closed now. Thanks!

[2020-10-01 12:20] #6326 closed

[2020-10-01 12:23] memsharded commented on #6233
Labeling this for Hacktoberfest: The first point only ("Implementing a random folder for git clones") might be good enough for a contribution. Both are desirable, but second not strictly necessary if unexpected complications arise.

[2020-10-01 12:39] mathbunnyru commented on #7778
I think there might be an assumption that versions are sorted in conandata file.

Implementing this feature on CI side looks fine to me, but it will require more actions from the user-side.

[2020-10-01 13:45] jgsogo commented on #7778
Regarding `conan-center-index` yes, we can rely on `conandata.yml` file and ordering (there can be bugs as ordering is manual). Nevertheless, that file is not uploaded to the remote as it is, only the lines corresponding to the version are uploaded with the recipe, run next line to check:

[code]

So, the server (or the client calling a server) knows only the references and cannot rely on any othe

[2020-10-01 14:44] mathbunnyru commented on #7778
Oh, I see, thanks for the explanation.

[2020-10-01 14:52] jgsogo commented on #7778
IMO, from the client perspective, the best way to go would be to use a hook. In terms of usability it is almost the same to activate some configuration option or to install and enable a hook, and using a hook is more flexible if some library requires a custom function to compare recipe versions.

Using a CI and notifications... everything is user-side, nothing to add here.

Notifying from the serv

[2020-10-01 16:36] memsharded opened #7786 "[feature] Revisit precedence of values assigned to requirements' options (ATM, hardcoded value in configure method cannot be overridden)"
Right now a recipe can do:

[code]

This has absolute precedence. It can never be overridden, even from command line doing ``-o mydep:myoption=othervalue``

I would suggest to change this in Conan 2.0:

- This has the same precedence as defining it in ``default_options``, can be overriden by command line
- Recipes will be able to ``validate()``, post graph expansion and raise if they do not accept

[2020-10-01 16:53] saimusdev commented on #4760
I went through the same or similar issue (two places were defining `CFLAGS` environment variables, e.g. two conan packages or a conan package + profile) and came up with the solution of dynamically generating executable scripts (`tools.save()`) in the `package_info()` method itself of the compiler toolchain package with: the actual path to the compiler inside + the flags. and defining this executa

[2020-10-01 17:44] solvingj opened #7787 "[feature] Add --recipe-only flag to conan export command"
When using in-source recipes and the total size of the exported sources is very large, the conan export command takes a long time, and this can be highly problematic is some development workflows (such as mono-repo for example). This problem could be solved by adding a flag to conan export such as `--recipe-only`, which simply copies only the conanfile to the local cache.

- [X] I've read the [CON

[2020-10-01 18:10] jgsogo commented on #7787
I see two possible problems here:
 * the recipe revision depends on the exported files, if they are not exported we cannot compute the revision
 * after exporting a recipe, it can be uploaded to a remote. If we export without everything required we might end up with broken recipes in a server.

[2020-10-01 19:58] ericriff opened #7789 "[bug] Conan does not package all the files in the package folder"
I'm creating a rather large package (an SDK generated by YOCTO) and I've noticed that not all the files present in my `package_folder` end up being uploaded.

I tested the package building it locally and everything worked fine, but as soon as I pushed it to our server and tried to use that version, I started getting errors about missing files.

If I build the package locally I get 13403 files in m

[2020-10-01 20:54] memsharded commented on #7789
Hi @ericriff

Is it possible that many of those are actually symlinks and not real files?
Also, the manifest and the package itself omits certain files, like temporary .pyc, the ``__pycache__`` folder, the ``.DS_store`` in OSX... Are you trying to package those temporary files? These files are excluded because they are not portable, they should be generated by the local python interpreter locally.

[2020-10-01 21:23] ericriff commented on #7789
From those 13K files about 600 are symlinks.
I figured that the packager is ignoring some files on purpose, that is why I asked.

Does the packager ignores empty folders? Because that one file I named before, which is causing me issues, is an empty folder.
If I pull the package, the `deploy` generator complains about a broken symlink here
[code]
` ../../../etc/ssl/private` does exist on my PC when

[2020-10-01 21:59] memsharded commented on #7789
Yes, I think empty folders are not packaged, only files are packaged. Something similar to what git does with folders.

Indeed packaging in the tgz packages that contains symlinks, specially broken symlinks, empty folders, etc is very problematic. We are doing some deeper investigation into the topic in https://github.com/conan-io/conan/pull/7760, to learn what could be the best approach.

To clar

[2020-10-01 22:02] markovandooren commented on #7747
Hi @memsharded, I looked at the toolchain documentation, but it is not clear to me how I could use that for the use case in this issue. Maybe I am missing something. As far as I understand from the documentation, they generate files and are executed when you run 'conan install'. The hook that I run when building in Visual Studio needs to be executed for each project in the solution and should not

[2020-10-01 22:09] ericriff commented on #7789
Exactly, `../../../etc/ssl/private` resolves inside the package folder.

I created a dummy file inside the empty folder and now it gets packaged, so my symlink is not broken anymore.
Therefore I can confirm that conan ignores the empty folders, which can cause issues if you rely on them.
My workaround worked for this specific case, but it doesn't scale at all. Users may find other issues in the fu

[2020-10-01 22:50] nichmj01 opened #7790 "[question] consumer package overrides to version lower than required by another dependency?"
I have 2 libraries and an application: libsystem, libcore, and myapp such that:
- libsystem: no dependencies
- libcore --> libsystem
- myapp --> libcore & libsystem

myapp requires specific versions:
- libcore/1.0.1
- libsystem/1.0.0

I'm explicitly calling out libsystem as I want to ensure a specific version in myapp

libcore/1.0.1 uses a range for libsystem where the minimum version is a prerele

[2020-10-01 23:14] memsharded commented on #7790
No, you are not missing anything. One rule of thumb in Conan is that the downstream consumer always has precedence and defines what is needed. If the downstream ``App`` package says that it will depend on libsystem/1.0.0, then, that exact version will be used, overriding whatever is found upstream.

There is a configuration ``general.error_on_override`` that you can activate in your conan.conf, to

[2020-10-02 00:30] nichmj01 commented on #7790
The error_on_override as implemented right now doesn't work since it will error for every override; even compatible overrides.

For example, if I set `App ` to depend on `libsystem/1.1.0` I still get the error even though `libsystem/1.1.0` is compatible based on the requirements specified by `libcore/1.0.1`.

I'm not sure a version range in `App` will solve my root care about.

I want to lock `App

[2020-10-02 00:35] nichmj01 commented on #7790
As an addition, this is not for a CI process as I've read some stuff about lockfiles wrt to CI. The use case is that the company I work for writes software we deliver to customers. For the final application, we provide the source to the customer which they take ownership of and build in house. When we deliver the final release, I would like to have all the versions specified to the versions we hav

[2020-10-02 06:00] timblechmann commented on #7300
i've seen something similar on a windows laptop in a project where conan is called as subprocess from cmake.

[code]
after killing conan (and cmake) the error persisted, and it makes me wonder if the implementation is using file lock that will automatically be released when the process terminates? i've not seen this on macos or linux, so maybe it's something win32 specific?

there's one other prac

[2020-10-02 06:44] Morkxy opened #7791 "[question] Get profile name inside conanfile.py"
Hi

Is there a solution to retrieve the name of the profile used in conanfile.py?
For example, if we install a package via:
conan install --profile=myProfile mypackage/stable

..To retrieve the given name "myProfile" in conanfile.py.
Something like "self.settings.profileName" ...

Thank-you

[2020-10-02 07:33] pgrohs opened #7792 "conans.errors.ConanException: There was an error parsing conanbuildinfo.txt: path is on mount 'C:', start on mount 'D:'"
My CI-Pipeline suddenly stops compiling my packages with the following error messages:

Traceback (most recent call last):
  File "C:\Python37-32\lib\site-packages\conans\client\generators\text.py", line 163, in _loads_cpp_info
    _populate_cpp_info(dep_cpp_info, no_config_data, rootpath)
  File "C:\Python37-32\lib\site-packages\conans\client\generators\text.py", line 147, in _populate_cpp_info

[2020-10-02 07:53] memsharded commented on #7791
Hi @Morkxy

No, there is no way, because the actual settings, options, etc are a combination of multiple things:

- Command line arguments like ``-s`` and ``-o`` will overwrite the values defined in a profile
- Multiple profiles can be composed in the command line, applying multiple of them (priority the last one)
- Profiles can have the same name, just read from different locations. These locatio

[2020-10-02 08:01] jgsogo commented on #7786
Link to the ``validate()`` (TBD) issue: https://github.com/conan-io/conan/issues/7591

[2020-10-02 08:20] Morkxy commented on #7791
Thank you for that answer :)

[2020-10-02 08:20] #7791 closed, assigned to memsharded

[2020-10-02 08:32] SpaceIm commented on #7786
I would like to notice that it will break some CCI recipes: `gdal` for example.

`gdal` depends on `qhull`. `qhull` has an option to build either a reentrant or a non-reentrant version, which are mutually exclusives. Currently the reentrant version is recommended by `qhull`'s authors, so default option is `reentrant=True`. But `gdal` depends on non-reentrant `qhull`.
What does it mean? It means th

[2020-10-02 08:35] odormond opened #7793 "[bug] CONAN_LOGIN_USERNAME ignored when cached credentials exists for the remote"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Conan version: 1.26.0
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)

[code]

Conan should check the cached credentials refers to the same user as CONAN_LOGIN_USERNAME and if not re-log-in.

[2020-10-02 09:21] jgsogo commented on #7786
The proposal in this issue is to add more flexibility. Right now if you override an option in the `configure()` method it is not the same as if you were overriding it in the `default_options`. Overriding in the `configure()` option assigns a final value that cannot be changed: not even using the command line. This is somehow counterintuitive, it is harder to reason about and it is inconsistent: tw

[2020-10-02 09:31] SpaceIm commented on #7786
I misunderstood, sorry, so this modification sounds good to me :)

[2020-10-02 09:53] memsharded commented on #7793
Hi @odormond

I would say this is not a bug, but it is as designed. From the docs:

So these variables are used in the authentication process. Once you are authenticated and got an auth token, they will not be checked at all, in the same way you are not requested interactively a user/password at every step. These variables are placeholders for user responses to an authentication challenge, not cre

[2020-10-02 09:53] memsharded commented on #7300
Hi @timblechmann

We have tried hard to have this released automatically, but OS-portable locking is quite challenging. Cannot be done with the current tooling (fasteners), and implementing it low-level has a relatively high risk of multi-platform portability issues, instability, etc, so even if there is some attempt to do it, we didn't move forward so far. Yes, Win (as usual) is the "different" o

[2020-10-02 09:57] memsharded commented on #7792
This was changed in https://github.com/conan-io/conan/pull/7277, and relpaths break for code in different units.

Sounds it could be a regression, please @jgsogo have a look.

[2020-10-02 10:16] AndreyMlashkin opened #7795 "[bug] download sources for corrupted conan recipes"
### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.28.*; 1.29.2
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Happens sporadically, when local recipe cache is corrupted
conan install pcre/8.41@ -r conan-center -pr debug --build outdated -u

### Logs (Executed commands with output)

[2020-10-02 10:20] timblechmann commented on #7300
hmm, i had a quick look:

fasterner uses `msvcrt.locking`, which seems to wrap `_locking`, as in: https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/locking?view=vs-2019

it documented as:

however there's `LockFile`: https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-lockfile

🤔

---

regarding timeouts: they are only required for parallel conan invocations, right

[2020-10-02 10:33] jgsogo opened #7796 "[feature] 'conan info' to return the package revision"
Currently, the `conan info` command returns the recipe revision, but information about package revision is not available:

[code]

It should be easy to add and more convenient than running `conan search <ref>#<rrev>:<pid> --revisions` afterward.

[2020-10-02 10:57] jgsogo commented on #7792
Hi @pgrohs ! I've reproduced the error in https://github.com/conan-io/conan/pull/7794

The root cause of the error is that you are using an absolute path in some `cpp_info` attribute. This is quite unexpected on our side because it means that every consumer of the package needs that absolute path to exist (or be accessible) in their machine to consume the package. I understand this can be a common

[2020-10-02 13:45] uilianries commented on #7796
I would say `-rev` and `--revisions`, because `conan search` offers the same.

[2020-10-02 14:01] jgsogo commented on #7796
I think it doesn't require an extra argument: if revisions are enabled that information would be in the JSON output, otherwise it won't

[2020-10-02 14:48] uilianries commented on #7796
Ah yes, totally agree.

[2020-10-02 15:26] jgsogo commented on #7786
No problem 😊  We are also wrong from time to time and we really appreciate all of you questioning new features and decisions.

[2020-10-02 16:20] jgsogo commented on #7792
Hi, @pgrohs , this is going to be released in version `1.30` (today/tomorrow), will you be able to upgrade or do you need `1.29.3` release?

[2020-10-02 17:14] MichaelHCline opened #7800 "[bug] Error during conan export-pkg when using md5 with FIPS"
I am getting the following error message when doing a conan export-pkg command (see traceback):

**ERROR: [digital envelope routines: EVP_DigestInit_ex] disabled for fips**

My company IT department did some updates on the system yesterday that brought about this problem.  (I am unsure which mod exactly broke it).  I can get conan to work again by making the following changes:

"/usr/local/lib/pyt

[2020-10-02 17:47] memsharded commented on #7800
Hi, it seems that your openssl system library was updated and is overly restricted. From https://github.com/s3tools/s3cmd/issues/1005#issuecomment-424765923, I read:

For that reason the function is disabled in your openssl library.

When you disable "md5" in the config, you in fact disable the md5 sum for file comparison for sync because it is an expensive operation. But not the md5 that is there

[2020-10-02 18:20] w3sip opened #7801 "[question] Legacy packages from conan channel"
One of our recipes references 7z:

self.build_requires("7z_installer/1.0@conan/stable")

This package is no longer available. Seems like it has been relocated to a new remote. How do I reference that remote?

self.build_requires("7zip/19.00@conan-center/stable") doesn't work.
Nor does self.build_requires("7zip/19.00").

Is there another way to specify conan-center remote without adding it? And if

[2020-10-02 19:56] Minimonium commented on #7786
Will this also allow the current recipe option overriding to be treated in the same manner as `default_options`? Currently it's not possible to have conditional default values for package options without tricks such as special `auto` option values.

Also, regarding the upstream package option overriding - https://github.com/conan-io/conan/issues/6408

[2020-10-02 20:29] SpaceIm commented on #7786
AFAIK, you can conditionally set options values in `config_options()`.
Last time I tried with libcurl recipe, I was able to override those values in command line. I can't remember if I tried with downstream's `configure()`, `config_options()` and `default_options`.

[2020-10-02 20:34] Minimonium commented on #7786
@SpaceIm It's explicitly forbidden to set option values in `config_options`:

[2020-10-02 21:07] SpaceIm commented on #7786
See libcurl recipe: https://github.com/conan-io/conan-center-index/blob/4ac63884d528d6abb2d4740acb88d5cbd3d6b76a/recipes/libcurl/all/conanfile.py#L85
It builds, and if you don't override options values, you'll see that values assigned in `config_options()` are honored.

[2020-10-02 21:13] Minimonium commented on #7786
@SpaceIm Right now I don't recall exact specifics about when I was having problems with the feature, but here the discussion on which I based my current knowledge is: https://github.com/conan-io/conan/issues/3519
To my knowledge the behaviour in the libcurl's recipe is not guaranteed.

[2020-10-02 23:53] prince-chrismc opened #7802 "[feature] Lockfile 'base' with recipe revisions only workflow"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Take the given `conanfile.py` snippet:
[code]

<details>
<summary> conan lock create </summary>

[code]

</details>

Which results in the generate lockfile.

<details>
<summary> conan-deps.lock </summary>

[code]

</details>

### Just image if

You could run `conan install .. -s build

[2020-10-03 19:53] michaelmaguire opened #7805 "[question] MSBuild helper and conanbuildinfo.props versus conan_build.props"
Apologies for the newb questions (*A*) through (*E*) below -- usually I use the `cmake` generator, but recently I've had to work on a project which uses the `visual_studio` generator.

(*A*) Can I confirm the [`MSBuild` Conan helper](https://docs.conan.io/en/latest/reference/build_helpers/visual_studio.html)  does *not* automagically inject the generated `conanbuildinfo.props` for you?

Older docu

[2020-10-03 20:08] Minimonium commented on #7805
HI, Michael.

A) The information about the Visual Studio integration was moved: https://docs.conan.io/en/latest/integrations/build_system/msbuild.html#msbuild-integration
The second link you put is about the BuildHelper (usually in-cache variable injection) which is a different concern from Generators (providing dependency information).
B) You probably want to use SolutionDir (I don't recall the e

[2020-10-03 21:14] michaelmaguire commented on #7805
Thanks for your responses!

I know they're separate, but I guess I assumed there might be a little integration, e.g. if I use the `visual_studio` generator I wouldn't have been surprised if the `MSBuild` BuildHelper did a little automagic detection of a `conanbuildinfo.props` file.  Now I know it doesn't. Thank you.

Is there no way to use something like:

[code]

to properly utilize Conan for bot

[2020-10-03 21:17] Minimonium commented on #7805
Note that I consider `conan build` more of an in-cache, than out of cache. It'd work with `conan build` which you already mentioned, but there is no way to inject these props if you never invoke the method (say you open the solution itself and want to build it from inside, you need your dependencies!).

[2020-10-03 21:36] michaelmaguire commented on #7805
Ah, good point.

Strangely, it turns out `user_property_file_name` doesn't seem to even work for me even in the `conan build` and `conan create` cases.  Here's the error for `conan build`:

[code]

and here's the error for `conan create`:

[code]

In both cases I can confirm it's setting the right directory for `conanbuildinfo.props`, but doesn't seem to like a semi-colon separated list of items f

[2020-10-03 21:42] Minimonium commented on #7805
Very well could be. Unfortunately, right now I can't try to reproduce the behaviour on different VS versions. If the behaviour doesn't work on older versions of Visual Studio - Conan at the very least should detect it and print a better error.

[2020-10-03 21:49] michaelmaguire opened #7806 "[bug] user_property_file_name causes "error MSB4115: The "exists" function only accepts a scalar value" in MSBuild with with vs2015"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows Server 2012 R2
  * Compiler+version: VS2015, Microsoft (R) Build Engine version 14.0.25420.1
  * Conan version: Conan version 1.29.0
  * Python version: Python 3.8.6

Using `user_property_file_name` as follows in my conanfile.py:

[code]

doesn't seem to work for me in either of the `conan build` or

[2020-10-04 04:24] intelligide commented on #7801
`self.build_requires("7zip/19.00")` should work. Check your remotes list with `conan remote list` if a remote with the url `https://conan.bintray.com` is present. if not, `conan remote add conan-center https://conan.bintray.com`.

[2020-10-04 15:07] memsharded commented on #7801
Why the build requires would fail? How does it fail? If you are sure it fails, can you try to run:

[code]
That should install successfully the package in your cache.

You have several alternatives:
- Adding the remote after your own one will give priority to your own repository. When installing it will check first in your own repository, then if the package is not found there, it will check in Co

[2020-10-04 15:28] memsharded commented on #7800
Doing a PR in https://github.com/conan-io/conan/pull/7807/files

Can't guarantee that this will be merged. This is not a Conan bug, but some systems having a non-conformant python distribution and breaking the standard python apis contracts.

[2020-10-04 15:50] memsharded commented on #7806
Hi @michaelmaguire

yes, this seems very specific to VS2015.

The behavior is tested in ``user_properties_multifile_test`` test, with a full integration test, which is run in VS2017, so it totally seems that it is VS2015.

Do you know if VS2015 allows multiple ``ForceImportBeforeCppTargets`` properties in the command line, instead of a single one with multiple values separated by ";"?

[2020-10-04 17:35] pgrohs commented on #7792
@jgsogo Thank you for the quick fix! I can upgrade to conan 1.30 as soon as it is released.

[2020-10-04 17:57] tjwrona commented on #7772
Hi @jgsogo, thanks for the in-depth response. Regarding this part:

I do expose some new C++ features in the headers for my library so the consumer does need to be compiled using at least C++17. I put `tools.check_min_cppstd` in the `configure()` method of my conanfile.py for the library I am distributing, but it doesn't seem to be evaluated when I consume the library, only when I create it.

Basi

[2020-10-04 18:16] memsharded commented on #7792
Conan 1.30 due tomorrow, if no last minute issues :)

[2020-10-04 19:52] tjwrona commented on #7772
@jgsogo, I also have this header only library that requires the consumer to use a C++17 compatible compiler:

https://github.com/tnt-coders/cpp-benchmark

There doesn't seem to be any way in the `conanfile` to enforce that the consumer uses a C++17 compiler until they just try and build their code and it fails. Putting the `tools.check_min_cppstd` check in the `configure()` method does not achieve

[2020-10-04 21:16] memsharded commented on #7802
Hi @prince-chrismc

If I understood the issue correctly, then this flow is possible, but just not in one step, but in 2 steps. You need first to compute the complete lockfile, then do the ``conan install``:

[code]

While doing it in 1 step would be theoretically possible, it would be very difficult in practice to clearly differentiate what is a change due to the fact that the input lockfile is "b

[2020-10-04 21:39] kralicky commented on #7772
@tjwrona1992 I think that for your use case, you should use `settings` to restrict compiler versions to compilers which support C++17, instead of restricting the C++ version itself.

[2020-10-04 21:48] tjwrona commented on #7772
@cobalt77 is there a way to restrict the setting to C++17 or newer without explicitly listing each version? I don't want the recipe to break when the next version of C++ comes out and someone tries to use a compiler with C++23 or something.

[2020-10-04 21:50] Johnnyxy commented on #7772
You could restrict it in the ```configure``` function.

[code]

[2020-10-04 22:15] tjwrona commented on #7772
@Johnnyxy I already tried using `tools.check_min_cppstd` in the `configure` function which should have the same effect. The issue is that `configure` function doesn't get called if I'm simply consuming the package and it has already been installed.

I can install the package using `conan install .. --settings compiler.cppstd=17`

But then when I actually compile the project that uses the package w

[2020-10-04 22:41] kralicky opened #7808 "[feature] Settings constraints using predicates"
Because there are a lot of built-in settings, adding settings restrictions in a recipe can be cumbersome/error prone when dealing with long lists of many values. Furthermore, restricting settings is not future-proof for some settings such as compiler version.
I propose the ability to filter the default settings using a predicate. This will have the benefit of making some settings future proof, mak

[2020-10-04 22:55] Johnnyxy commented on #7772
The consuming project has to specify ```settings.compiler.cppstd``` on ```conan install ... -s compiler.cppstd=20```.
At that point your consumed package gets invoked and it can verify that one cannot install it with a C++ standard less than 17.
This means your consumed package enforces that it cannot be installed with a Conan C++ standard setting less than 17. But as you stated this has no impact

[2020-10-04 23:54] tjwrona commented on #7772
@Johnnyxy okay I guess that makes sense... It's a bit unfortunate because if I import the CMake targets for my package by using the `cmake_paths` generator and then link to that imported target CMake will automatically pick up the requirement for C++17 and everything compiles okay.

This means that I get different behavior using the `cmake` generator than I do if I use the `cmake_paths` generator.

[2020-10-05 00:41] prince-chrismc commented on #7802
The _complete_ lock file is the "issue". I would love to have the partial or base lock file since it does not constrained to the host, compiler, options or build settings.

I currently need to RREV for **all** deps within my tree to ensure we are not impacted by changes upstream listed in my `conanfile.txt`.

Having a minimum `conanfile.txt` with only top level dependencies, and no recipe revision

[2020-10-05 00:49] prince-chrismc commented on #7802
I feel I am not be expressing the two different types of lockfiles.

[2020-10-05 07:29] memsharded opened #7809 "[feature] CMakeToolchain + Android POC"
Implement a proof of concept of using the new CMakeToolchain feature for building:

- Android projects (from Linux/OSX)
- From Windows

Notes:
- Android NDK can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and in

[2020-10-05 07:30] memsharded opened #7810 "[feature] CMakeToolchain + iOS projects PoC"
Implement a proof of concept of using the new CMakeToolchain feature for building iOS projects

Notes:
- Toolchain can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and installation details
- No env-var configurat

[2020-10-05 07:32] memsharded opened #7811 "[feature] CMakeToolchain + MinGW PoC"
Implement a proof of concept of using the new CMakeToolchain feature for building MinGW projects:

- From Linux
- From Windows

Notes:
- MinGW can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and installation det

[2020-10-05 07:33] memsharded opened #7812 "[feature] MSBuildToolchain + Intel compiler"
Implement a proof of concept of using the new MSBuildToolchain feature for building with Intel:

- From Windows

Notes:
- IntelCompiler can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and installation details
-

[2020-10-05 07:35] memsharded opened #7813 "[feature] MakeToolchain + MinGW"
Implement a proof of concept of using the new MakeToolchain feature for building MinGW projects:

- From Windows

Notes:
- MinGW can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and installation details
- No env-

[2020-10-05 07:36] memsharded opened #7814 "[feature] CMakeToolchain + Ninja PoC"
Implement a proof of concept of using the new CMakeToolchain feature for building with Ninja:

- From Linux
- From Windows

Notes:
- Ninja can be assumed installed.
- Opt-in to use Ninja instead of the default (MSBuild, Makefiles) build system, or hardcoded in the recipe, investigate alternatives
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan c

[2020-10-05 07:39] memsharded opened #7815 "[feature] CMakeToolchain + WSL2 PoC"
Implement a proof of concept of using the new CMakeToolchain feature for building in WSL2:

- From Windows, using WSL2

Notes:
- WSL2 can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and installation details
- No

[2020-10-05 07:40] memsharded opened #7816 "[feature] CMakeToolchain + Emscripten PoC"
Implement a proof of concept of using the new CMakeToolchain feature for building Emscripten/WebAsm projects:

- From Linux
- From Windows

Notes:
- Emscripten can be assumed installed
- Focused on creating/building 1 package, both local flow (conan install + native cmake) and ``conan create`` flow.
- Integration test.
- Test can be skipped for CI, but should work locally, annotate assumptions and

[2020-10-05 07:49] memsharded commented on #7802
This is impossible in the general case. As the dependency graph can be conditional (and in practice, this happens relatively often), it is not possible that a single "base" lockfile can ensure locking of absolutely everything in all platforms.

The "base" lockfile aims to this, and if there is no variability in the graph, it will achieve this behavior.

It is probably easier to lock in the js ecos

[2020-10-05 07:49] philipp-kaiser opened #7817 "[question] PreCompiled DLL => Linking error (unresolved symbols)"
Coming from Rust, i'm trying to provide a native library to C world. Therefore using conan to create a simple providing package and a consuming client:

I have a pre compiled .dll, .lib and corresponding header file. I also successfully created a conan package from these, following this docs:
https://docs.conan.io/en/latest/creating_packages/existing_binaries.html

Next step was to create a consum

[2020-10-05 09:32] memsharded opened #7818 "Proof of Concept of Testing with multiple tooling"
We want the unittest to pass, even if users don't have all tools installed. We use a bunch of them:

- Cmake, SVN, pkg-config, Visual...

We want control over which versions run by default for tools, and control of multiple versions for the same tool

[2020-10-05 09:44] memsharded commented on #7817
Hi @Kaiser1989

When defining the package information you need to make sure the libs to link are specified:

[code]

I would strongly recommend to have a look to the generated ``conanbuildinfo.cmake`` file. The information should be understandable, and you could check that the library names are missing in the corresponding variables.

Please try that and let us know. Thanks!

[2020-10-05 09:47] Johnnyxy commented on #7772
If you are using CMake then there is some integration which can help you to achieve your goal.
In theory for every CMake target that Conan generates the required information can be set.

```cmake_find_package*``` as well as ```cmake*``` (see [here](https://docs.conan.io/en/latest/reference/generators/cmake.html#conan-basic-setup) and [here](https://docs.conan.io/en/latest/reference/generators/cmak

[2020-10-05 09:54] jgsogo commented on #7792
Fixed in https://github.com/conan-io/conan/pull/7797, to be released in `1.30`

[2020-10-05 09:54] #7792 closed, assigned to jgsogo

[2020-10-05 10:17] bkarasm commented on #4322
Hi @SSE4 @memsharded , should this issue be reopened since it has been reverted from 1.29 release in the end? Any plans to fix it properly in the near future?

[2020-10-05 11:00] philipp-kaiser commented on #7817
i couldn't see the forest for the trees. Thanks a lot.

I remember there was a deprecation warning, and i think i removed to much of this line.

Everything works now.

[2020-10-05 11:00] #7817 closed, assigned to memsharded

[2020-10-05 11:43] uilianries commented on #7814
I would like to take this one.

[2020-10-05 11:44] memsharded commented on #7800
Hi @MichaelHCline

We are going to integrate a fix for this in next 1.30 (due today). Please keep tuned and upgrade when released, test and report. Thanks very much!

[2020-10-05 11:44] #7800 closed, assigned to memsharded

[2020-10-05 11:53] jgsogo commented on #7786
Unfortunately, Conan v1.x is not enforcing the scope for some attributes (access and modification) and it hasn't been exhaustively documented, so we feel like changing it (or being more strict) might be considered breaking. Conan v2 should enforce it and make available to each function only the attributes that can be modified. At some point in time we will be more strict in ConanCenter so we detec

[2020-10-05 11:55] Nodroc opened #7819 "[question] - identify export_sources at build time (recipe_revision)"
Hello,

For the sake of my project, I would like to know wether there is a way to fetch the recipe_revision at conan package 'build' time.

The reason for that is the following:
- I will release a package with a certain 'version'. that package is delivered in both binary (e.g. through the conan package) and sources (so that the user can actually update the package content up to its need).
- as a d

[2020-10-05 12:03] memsharded commented on #7819
I don't think this is possible right now, and it is a valid feature request to have this information. This would also apply to dependencies.

[2020-10-05 12:46] prince-chrismc commented on #7802
Thanks for adding more explanation, I think I am starting to understand your original reply.

Let's see if I can explain this back.

1. Have a `conanfile.txt` with only the direct dependencies up to version specific
   - this would still require me to resolve conflicts (reasonable)
   - this still gives the flexibility to override versions manually (ie openssl)
2. Create a "base" lock file from `c

[2020-10-05 13:50] Nodroc commented on #7819
@memsharded thanks for your answer. you indicated 2.0 as possible fixed version. is there a place where the release schedule is official ?

[2020-10-05 14:00] memsharded commented on #7819
Nop, we typically plan ahead 1-2 versions, as milestones, a new version is released approx monthly, at the end of the month (1.30 is due today, it was delayed from last week).

2.0 is a long term effort, and will require at least 6 months. We have defined a working group (https://blog.conan.io/2020/07/28/Launching-Conan-2.0-Tribe.html) to discuss changes, scope, etc of Conan 2.0. The "information

[2020-10-05 14:08] Nodroc commented on #7819
thanks for the details. I'll try to workaround this be invoking a conan export during build time of the package. looking to the code, this should actually produce the recipe_revision as I expect

[2020-10-05 14:21] solvingj commented on #7787
This is a good point and might point to a deficiency that we should improve anyway.

Do we have any protections in place today to prevent corrupt uploads?  For example, if a `conan export` throws an exception while exporting, or if a `conan create` throws an exception at the end of a `package()` method?  I don't think we do, but long-term maybe we should.  I know we have a "dirty" mechanism relate

[2020-10-05 15:13] tjwrona commented on #7772
That's the thing, the `cmake_paths` generator is the only one that actually works out of the box because although it only sets the search paths, it allows Conan to find and use my ACTUAL installed CMake target that has the C++ standard embedded into it. This makes anything that links to the target also use the correct C++ standard.

For `cmake_find_package` and `cmake` that information does not ge

[2020-10-05 15:17] w3sip commented on #7801
Thanks!  I guess the biggest difference was that with the older versions conan/stable could be addressed from conanfile.py without adding another remote explicitly. With the current setup, adding conan-center remote is required.

The info in James' response is super useful: having it in the docs in some shape would be beneficial.

Thanks again!

[2020-10-05 16:02] Johnnyxy commented on #7772
There you have it. You are using your own build system files (CMakeLists.txt, FindPACKAGE.cmake, ...) without relying on anything from Conan.
At the moment you already have those functionality and have to reproduce it with the ```configure```-check to ensure that the Conan recipe does these checks too. I agree to the argument that this would be kind of redundant.

Maybe the new [Toolchain-feature]

[2020-10-05 16:54] ericriff commented on #7681
Alo?

[2020-10-05 17:30] czoido commented on #7681
Hi @ericriff,
Sorry for the delay in the response.
The scripts we are using for the generation of the deb package are not public at this point. I checked to see if I could give you some hints but right now the process is a little bit coupled with other things so It was not so obvious. We are in the process of refactoring all the conan release process so when we can review the deb package generatio

[2020-10-05 17:34] ericriff commented on #7681
Sure, no problem!

[2020-10-05 17:45] sourcedelica commented on #7819
Would `conan search —rev ref` not work for you?  Assuming that the version in the cache is the version you are building with.

[2020-10-05 18:40] solvingj opened #7820 "[bug] intel functions exposed under tools without prefix"
Starting with Conan version 1.30.0, the following existing intel-related functions are made public use inside `conanfile.py`.

- `tools.compilervars()`
- `tools.compilervars_dict()`
- `tools.compilervars_command()`

Physically, these functions live in the `conans.client.tools.intel` package, but are "exposed' to `conanfile.py` under the `tools` package:
`from tools import compilervars`

Unfortunat

[2020-10-05 19:40] tjwrona commented on #7772
I'm okay with it if I have to redundantly define the C++ standard in the conanfile in order to have the Conan target embed that information into it, but it doesn't look like there is any way to embed that information into a Conan target at all so any targets generated by Conan cannot automatically pass the C++ standard to the consuming project.

For now I will probably just start using `cmake_path

[2020-10-05 20:46] ApatheticsAnonymous opened #7822 "[bug] jinja2 minimum version required it not correct"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18
  * Compiler+version: gcc-7
  * Conan version: 1.29.1
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
While upgrading conan to a recent version, we get error due to an out of date jinja2 version on the system.
Reproducible by forcing jinja2 version < 2.9

`     [exec]   File

[2020-10-05 21:57] memsharded commented on #7822
Jinja 2.9 is 3 years old, I think we can set it now as a minimum require.

Thanks @ApatheticsAnonymous for reporting, if you want to submit the  PR yourself, we can include it in next release (otherwise we will do it, just in case you want to contribute it).

[2020-10-06 07:13] Nodroc commented on #7819
@sourcedelica  I am not 100%.
what is the cache is empty (e.g. you build the package for the first time) or if you have a recipe revision in the cache but with local changes ?
using `conan search -rev ref` would return the recipe revision of the previous built package, not the new one (even more misleading ) am I right ?

[2020-10-06 09:41] memsharded opened #7824 "[feature] MSBuild command line helper"
So far the toolchain PoC is there, but there is no command line helper.

[2020-10-06 10:13] memsharded commented on #7824
**Discussion:**

The mapping of Conan settings to MSBuild is more or less:

- ``settings.arch`` => ``Platform``
- ``settings.build_type`` => ``Configuration``

Where ``Configuration|Platform`` is what can be selected in the IDE to switch config, and typically is ``Release|x64`` or ``Debug|x86`` or similar.

There are other things that cannot be switched from the IDE:
- ``compiler.runtime`` => MT/M

[2020-10-06 11:29] akalali commented on #6906
Sorry, I wasn't able to reply earlier.

I don't understand what your are saying about the endpoint. I am not calling anything, I was just setting the address of the "local" Artifactory instance inside my Ubuntu VM. What happend then was not under my control.

However, I continued with _save without verification_ and used the _Add Remote_ command to add this service instance to my conan remote list

[2020-10-06 11:35] jgsogo commented on #7818
First approach to this issue. Alternatives:
 * `nose` is dead, it shouldn't be considered an alternative
 * `pytest`: (can run `unittest`)
 * `unittest`

---

## `unittest`

We can write our own tools on top of unittests. We would need something to add _tags_ or _marks_ to the tests and probably write our custom decorator. Not hard at first sight, but it might get complicated, custom and hard to m

[2020-10-06 11:40] #6906 closed, assigned to nobody

[2020-10-06 11:58] memsharded commented on #7818
I am loving it ❤️

Looks perfect for the need, plus seems that moving to pytest is the right thing to do to have a modern and enjoyable test suite.

[2020-10-06 13:24] jasal82 opened #7826 "[bug] Auto-detection of CMAKE_SYSTEM_NAME not working for all cross-compilation scenarios"
Conan has an auto-detection feature for `CMAKE_SYSTEM_NAME` which is enabled by default if a value is not set explicitly. I found the method `_cmake_cross_build_defines()` in `CMakeDefinitionsBuilder` which seems to perform that auto-detection:

[code]

So if `os_ == os_build` the variable is never set which is clearly wrong. A typical cross-toolchain for arm would have `os = Linux` and `os_build

[2020-10-06 13:36] memsharded commented on #7826
Just to be sure are you suggesting?

[code]

Or why not something like:

[code]

It seems that CMAKE_SYSTEM_NAME should not be set unless you are cross-building, so I would say the second.

[2020-10-06 13:41] steve-thousand opened #7828 "[feature] Include remote repo that package came from in lockfile"
As far as I can tell, neither the lockfile, nor any of the other build-info files, will detail which remote that a given dependency came from. For example, I have "bincrafters" added as a remote repo, and when installing `boost_array/1.69.0@bincrafters/stable`, the resulting install output reads as checking conan-center first, followed by bincrafters
[code]
But the lockfile doesn't include that in

[2020-10-06 13:43] jasal82 commented on #7826
Ah I'm sorry, that was wrong. What I meant was

[code]

I'll fix the description. I'd say that the solution with `if os_ != os_build or arch != arch_build` would technically be the same because that's probably what `cross_building()` is checking for, isn't it?

[2020-10-06 13:45] jgsogo commented on #7818
Running `pytest` with our test suite in MacOS works (I need to upgrade the Mac, that's the reason I get some errors):

[code]

So we can first move to `pytest` and then add the magic and fun we want.

[2020-10-06 13:48] memsharded commented on #7828
Hi @steve-thousand

This is very by design, I don't think that this will be a feature.
The idea is that things would be reproducible and immutable, while keeping the system decentralized. So you can capture a lockfile of those packages, including bincrafters one, upload everything to your own private Artifactory repo, and then you can disconnect from the bincrafters remote and use only your privat

[2020-10-06 13:52] memsharded commented on #7826
Ok, that makes more sense, indeed. Pushed review.

[2020-10-06 13:56] memsharded commented on #7818
My test suite here with nose is counting 3152 tests, way more than your 1560. Are you skipping some tests already in the above? It doesn't seem so.

[2020-10-06 14:06] jgsogo commented on #7818
This is because test discovery, some of our tests don't follow standard naming `test_*`, we need to [customize `pytest` invocation](https://docs.pytest.org/en/stable/reference.html#confval-python_functions) (or _fix_ those tests)

[2020-10-06 14:29] memsharded commented on #7818
Better fix those tests, right? Lets standardize

[2020-10-06 14:43] Liorst4 opened #7829 "[feature] Add OpenBSD support"
Conan can't work on OpenBSD.

[code]

[2020-10-06 15:11] memsharded commented on #7787
Yes, I think that now consistency is a priority. I would prefer not to introduce another source of potential inconsistency (which breaks reproducibility). I would say there are several mechanisms so exports are efficient:

- Export only what is needed, even in monorepo, one single package will export only what it wants, which a performance similar to a multi-repo single repo export.
- Use SCM feat

[2020-10-06 15:15] jgsogo commented on #7787
Agree, IMHO this is related to the mechanism of exporting/capturing sources together with the recipe (inside the Conan package). If we decide to follow that path, this requirement will arise again for sure, if not I think this feature is not needed at all.

Are we missing other scenarios, @solvingj ? If not, I would prefer to close this issue until there is a need for this.

[2020-10-06 15:36] memsharded commented on #7829
Hi @Liorst4

Please have a look at https://docs.conan.io/en/latest/extending/custom_settings.html. It is relatively straightforward to enable new OSs:
- Add it to your settings.yml
- Add it to your profiles

It is true that many integrated build helpers like ``CMake`` or ``AutotoolsBuildEnvironment`` might contain logic that will be validated mostly for ``Linux`` systems, so it would be necessary

[2020-10-06 16:53] ohanar opened #7830 "[bug] CMakeToolchain produces broken toolchains"
If more than one variable or definition is set, the CMakeToolchain produces broken toolchain files. They are missing necessary newlines. Functionality was broken by https://github.com/conan-io/conan/commit/a77b97817a73fbdd2fbeb5f7038ad400aafd1803.

### Environment Details (include every applicable attribute
  * Conan version: 1.30
  * Python version: 3.6, 3.7, 3.8

### Steps to reproduce (Include

[2020-10-06 17:35] sagarafr commented on #6207
Hi,
I would like to contribute to this feature.

[2020-10-06 17:59] memsharded commented on #7820
Closed by https://github.com/conan-io/conan/pull/7821

[2020-10-06 17:59] #7820 closed, assigned to nobody

[2020-10-06 18:02] ohanar opened #7831 "[bug] CMakeToolchain can no longer configure pre-3.13 CMake options"
https://github.com/conan-io/conan/commit/a77b97817a73fbdd2fbeb5f7038ad400aafd1803 switched from using cached variables to normal cmake variables. This means that there is no mechanism to specify cmake options with the CMake toolchain for old versions of cmake (pre 3.13), or when a cmake project is using old policies. See https://cmake.org/cmake/help/v3.13/policy/CMP0077.html.

### Environment Deta

[2020-10-06 18:04] memsharded commented on #6207
Hi @sagarafr

Great! Assigned to you. Don't hesitate to ask if you have any question, good luck.

[2020-10-06 18:08] ohanar opened #7832 "[bug] CMakeToolchain now requires double configure to set cache variables"
https://github.com/conan-io/conan/commit/a77b97817a73fbdd2fbeb5f7038ad400aafd1803 switched from using cached variables to normal cmake variables. This means that cmake configuration has to be run twice to override standard configurable settings. This is because on the first processing, the cache variable does not exist in the cache, so when the `set` function call that initializes the cache variab

[2020-10-06 18:13] memsharded commented on #7830
Submitted fix for next patch 1.30.1 in https://github.com/conan-io/conan/pull/7833

[2020-10-06 18:16] memsharded commented on #7831
This is a result of not enough testing in CI with multiple Cmake versions in a valid range. We are planning changes to start testing more thoroughly these things.

Should this apply to all generated ``variables``? Is it for ``options`` only? Does it make sense that the toolchain explicitly model ``options`` for this purpose?

[2020-10-06 18:25] memsharded commented on #7832
Related to https://github.com/conan-io/conan/issues/7831. Does this mean that all variables set by the toolchain should be cache variables? Does this apply for generator expressions variables as well? Variables conditioned to the configuration Debug/Release were never cache variables. It would be weird to have regular variables as cache variables, and very similar variables per-configuration not c

[2020-10-06 18:38] ohanar commented on #7832
I think that probably all variables should be cache variables. Right now conan primarily uses toolchain files to pass a bunch of configuration info onto CMake. A user doing the same thing by hand would either pass that to CMake via the command line with the `-D` flag or via `cmake-gui`, both of which set cache variables. It would be good to get a second opinion though.

[2020-10-06 18:39] ohanar commented on #7831
I don't personally see a big difference between options and other cache variables, I feel like they mostly exist as a legacy artifact of CMake. It would be good to get a second opinion on this topic.

[2020-10-06 18:40] solvingj commented on #7787
I'm probably the one missing something (that's usually the case). Thanks for your patience in helping me understand things.

@jgsogo
In enterprise usage, in-source recipes (which capture sources inside the conan package) is the de-facto standard configuration for private packages.  So, when you say "if we decide to follow that path", it's a bit confusing.  My best guess it that you're probably thi

[2020-10-06 19:00] madebr opened #7834 "[bug] Symbolic link is not preserved when using self.copy"
This behavior was observed while packaging mpdecimal in https://github.com/conan-io/conan-center-index/pull/3116

When using `self.copy` on the built shared libraries + symbolic links, the symbolic links are not preserved.

During `build`, the following files are created:
[code]

During `package`, the following files are copied to the package folder:
[code]

The relative symbolic links should be p

[2020-10-06 20:37] gprosch opened #7836 "[question] Why is my conan remote clean command failing?"
I am running: 'conan remote clean' but I receive the following error messages:

[code]

I have conan configured and running on several identical machines with the same configuration and it is working on them but despite many comparisons and reinstalls, I can't get it to work on this one.

Running on Windos 10 x64 with conan 1.26 (Have also tried 1.29 with same result).  Python 3.9.  Other conan co

[2020-10-06 20:38] gprosch opened #7837 "[question] Help needed with errors during conan remote clean"
I am running: 'conan remote clean' but I receive the following error messages:

[code]

I have conan configured and running on several identical machines with the same configuration and it is working on them but despite many comparisons and reinstalls, I can't get it to work on this one.

Running on Windos 10 x64 with conan 1.26 (Have also tried 1.29 with same result).  Python 3.9.  Other conan co

[2020-10-06 20:40] MichaelHCline commented on #7800
James-
I typed your same change into my files.py in my version 1.24, and that worked fine for me.  Thankx.
Havent tried 1.30 yet.

From: James <notifications@github.com>
Sent: Monday, October 5, 2020 7:45 AM
To: conan-io/conan <conan@noreply.github.com>
Cc: Mike Cline <michael_h_cline@raytheon.com>; Mention <mention@noreply.github.com>
Subject: [External] Re: [conan-io/conan] [bug] Error during co

[2020-10-06 20:45] memsharded commented on #7837
Duplicate to https://github.com/conan-io/conan/issues/7836

[2020-10-06 20:45] #7837 closed, assigned to nobody

[2020-10-06 20:50] memsharded commented on #7836
Have you tried removing the cache, just in case the remotes file definition has been corrupted? (you can check the file in the ``<userhome>/.conan/remotes.json``)

[2020-10-06 20:51] memsharded commented on #7787
Yes, accurate

It is not very evident to me how this inconsistency could be eliminated. But yes, I don't perceive a big pain in this. We can close by now, and we can always check with the Tribe 2.0 once is launched.

[2020-10-06 20:52] kannan-Test opened #7838 "Is there any option available to filter the existing issues/bugs in conan by the version?"
Is there any option available to filter the existing issues/bugs in conan by the version from the following list other than the Milestones option(which has only three versions 1.31,1.30.1 and 2.0) ?
https://github.com/conan-io/conan/issues

and is it possible to add the status of the issues also like fixed/open?

[2020-10-06 20:53] gprosch commented on #7836
Yes, I get the same result

[code]
The JSON validates and I can even copy this file to my other machine and it works fine.

[2020-10-06 21:12] #7822 closed, assigned to jgsogo

[2020-10-06 21:51] memsharded commented on #7836
This is very weird. Could you please try the following?:

- Completely remove the Conan cache in ``<userhome>/.conan`` and try again?
- Capture the dependencies (``pip list``) in the failing machine and compare with the same in some of the working machines?

[2020-10-06 21:53] memsharded commented on #7838
Hi @kannan-Test

When issues are fixed, they are closed. You can check closed issues also by previous, closed milestones:  https://github.com/conan-io/conan/milestones?state=closed

Is this what you are looking for?

[2020-10-06 21:57] kannan-Test commented on #7838
@memsharded This helped.
Thank you

[2020-10-06 22:11] stefanbuettner commented on #4882
@lasote is it worth reopening this issue and discuss a little bit more?

[2020-10-06 22:28] memsharded commented on #4882
Hi @stefanbuettner

Sorry that this was not noticed. Yes, I agree this is a bit counter-intuitive, let's at least reopen and have a look when possible.

[2020-10-07 00:38] #7787 closed, assigned to jgsogo

[2020-10-07 01:17] timblechmann commented on #7300
hmm, i've just heard from a coworker who that `conan remove --locks` did not work for him across reboots.

[2020-10-07 02:03] annulen commented on #6447
Note that `CC=cl.exe CXX=cl.exe` workaround doesn't work properly when two versions of Visual Studio are installed - CMake will pick cl.exe according to its own search order, and `compiler.version` from profile is ignored.

[2020-10-07 03:14] nichmj01 commented on #7790
Any additional thoughts on this? Seems like the functionality I'm looking for doesn't exist right now. Does what I'm looking for make sense? If so, maybe it's something that could be added in the future?

[2020-10-07 08:00] memsharded commented on #6447
Related: there is an ongoing effort to modernize the integrations with the build systems, via toolchains. For this release the CMake+Ninja one is planned: https://github.com/conan-io/conan/issues/7814, at least at a very experimental level.

[2020-10-07 10:46] memsharded commented on #7745
I have been checking this, but seems quite complicated. It is not easy to hot-swap the cache, because that is the place where the whole configuration lives: the remotes that are going to be used, for example. Remotes might be necessary, because a recipe might need python-requires to be evaluated before inspection.

I would say go with this fix at the moment, and for Conan 2.0 I would like to think

[2020-10-07 10:49] memsharded opened #7839 "Conan inspect management of remotes"
Coming from https://github.com/conan-io/conan/issues/7745

``conan inspect -r=remote`` will fetch recipes from the remote and install locally for evaluation (possible overwrite of local ones). It evaluates python-requires, so it needs the remotes. It is not easy to swap to a temporary cache to not alter the current one

Maybe we want to unify it with ``conan info``?

[2020-10-07 11:03] jgsogo commented on #7826
Hi, @jasal82

According to [CMake docs](https://cmake.org/cmake/help/v3.4/manual/cmake-toolchains.7.html#cross-compiling-for-linux), cross-compiling to `Linux ARM` should use `set(CMAKE_SYSTEM_NAME Linux)`, why are you suggesting to assign `Generic` to it? According to [this link](https://stackoverflow.com/questions/24907916/cmake-how-to-properly-setup-new-toolchain-to-avoid-system-is-unknown-to-c

[2020-10-07 15:05] jasal82 commented on #7826
@jgsogo If you can set `Linux`, even better, but it doesn't matter for my specific problem because any value in `CMAKE_SYSTEM_NAME` will enable the cross-compilation logic in CMake. In the current state it is completely broken, so I was suggesting the minimal viable fix. Feel free to adjust. The correct approach would probably be to map the value of `os_` to the available CMake platform names.

[2020-10-07 16:56] jgsogo commented on #7826
Thanks for the answer, I was confused about it. 👍

[2020-10-07 18:07] gprosch commented on #7836
Removing the .conan folder has resolved this issue!  Thank you for the assistance.

Greg

[2020-10-07 18:49] walterj-adsk opened #7844 "[question] Managing large binary 3rd party dependencies"
We are building a conan package based on a large (closed-source) 3rd party dependency that exceeds several GB in size.  I wanted to use conan because I can bundle the dependency as a conan package and our CI/CD pipelines will automatically fetch the dependency.  Otherwise, I have to manually add the dependency to our build machine.

I have a simple recipe :
[code]

I run export-pkg and it properly

[2020-10-07 19:08] annulen commented on #6447
Sorry for the noise, `CC=cl CXX=cl` workaround seems to be enough in case of multiple VS installation, and problem was in my script which didnt't actually set variables.

Couldn't `CMake.configure()` be fixed to set CC and CXX variables, required for selected compiler?

[2020-10-07 19:54] boussaffawalid opened #7845 "[feature] outdated build_policy on current package but not it's dependencies"
Hello,

Build policy as described here https://docs.conan.io/en/latest/mastering/policies.html is a powerfull feature, but we would like to **only** build current package if outdated but not the dependencies.

Currently we use `outdated` policy to optimize CI builds avoiding non necessary builds if the package already exist, however sometime this silently triggers rebuilds of the dependencies whic

[2020-10-07 20:02] alex-700 opened #7846 "[bug] _/_ doesn't work the same as usual user/channel"
- The quick reproducer in unit-test is [here](https://github.com/alex-700/conan/commit/0f9822c5891e1fad759bb74f02bbbedfe33de2b8).
- This bug was introduced in #7673.
- The query `packagename/version@_/_` is not the same as `packagename/version`, because the latter can return also `packagename/version@someuser/somechannel` and client side filtration was deleted in the PR mentioned above.

[2020-10-07 20:20] #7836 closed, assigned to nobody

[2020-10-07 20:21] gprosch commented on #7836
Resolved as noted above.

[2020-10-07 20:29] memsharded commented on #7836
Thanks for following up and closing.

It is possible that one **package_metada.json** file was corrupted at some point, a crashed program, an interrupted download... In general the cache can be treated as a cache, and then could be removed/cleaned/deleted without issues. Everything that is custom configuration that is stored in the cache should live in a git repo that you can ``conan config instal

[2020-10-07 20:40] memsharded commented on #7844
Hi @walterj-adsk

Certainly, this is a large package :)

We have been reported issues in the past with quite large packages (+1-2Gb) in the transfers, bit more often download than upload. In theory, they are loaded from disk and uploaded incrementally, like streaming, to avoid depleting resources. There is also resumable downloads in place for unreliable networks. There is nothing there for explic

[2020-10-07 20:46] memsharded commented on #7846
Hi @alex-700

Thanks for reporting this.

Just to clarify, the ``_/_`` user and channel should never appear in the UI, not as a ``requires`` definition, not in any Conan command. This doesn't appear at all in the docs.

The correct code is ``requires = "pkg/version"``, or ``conan install pkg/version@``

Does the same unit-test fails if you change that?

This could be a regression, lets have a look

[2020-10-07 20:50] memsharded commented on #7830
Closed by https://github.com/conan-io/conan/pull/7833, will be in 1.30.1

[2020-10-07 20:50] #7830 closed, assigned to memsharded

[2020-10-07 20:50] gprosch commented on #7836
I really don’t think so.  I ran it through the json validator and it came up clean.  I copied remotes.json from a working machine and it failed with the same error.  I even deleted it and allowed conan to recreate it as you suggested and it errored.  Nothing worked until I removed the whole .conan folder.

From: James <notifications@github.com>
Sent: Wednesday, October 7, 2020 2:30 PM
To: conan-io

[2020-10-07 20:52] memsharded commented on #7836
yes, sorry, my mistake, I meant one package_metada.json  file. There is one per package in the cache.

[2020-10-07 21:00] gprosch commented on #7836
Yes, it is entirely possible that one or more of those metadata files could have been corrupted by an process interruption/failure.  I did save the folder and its contents under a different name if it would be helpful to look at them.

From: James <notifications@github.com>
Sent: Wednesday, October 7, 2020 2:53 PM
To: conan-io/conan <conan@noreply.github.com>
Cc: gprosch <greg.prosch@gmail.com>; S

[2020-10-07 21:08] alex-700 commented on #7846
@memsharded,

Thanks for the quick response.

Yeah, I know about `_/_` in the UI. It was just a fast way to show the problem in the conan client-server interaction. This bug affects the UI too (in the critical manner), e.g. if you have bincrafters remote before CCI in the remotes list and try to resolve some dependency (I know about `spdlog/[^1.2]`) you will get `spdlog/someversion/bincrafters/sta

[2020-10-07 21:15] memsharded commented on #7846
This is weird. I am doing a variation of your test, removing the ``@_/_`` and it seems green here:
[code]

I am going to try an integration test instead.

[2020-10-07 21:27] memsharded commented on #7846
Reproduced, trying to come up with a fix

[2020-10-07 21:52] memsharded commented on #7846
Fixing regression in https://github.com/conan-io/conan/pull/7847, to be released asap in Conan 1.30.1

[2020-10-07 23:19] Dattax commented on #1958
Page added and will evolve: https://conan.io/center/allpackages

[2020-10-07 23:47] walterj-adsk commented on #7844
I'm running Windows with Python 64bit.  I have not tried another OS but I'm exploring another option now that is outlined on the conan documentation:  https://docs.conan.io/en/latest/devtools/create_installer_packages.html

Basically the build step would just download the binaries from another source.  Not ideal but I think it will allow me to work around the problem for now.

[2020-10-08 01:17] solvingj commented on #7824
Any command-line-wrapper for a build system should allow the passing of arbitrary build system variables (`/p` or `-D` or whatever).  Otherwise, it's just a really bad helper and users would very frequently resort to constructing their own command-line strings and sending them to `self.run()`. If they do that, then the build helper has lost any protection and usefulness it intended to give.

In re

[2020-10-08 07:22] memsharded commented on #7844
Yes, that might be a pragmatic workaround. Though the download of huge things might (very occasionally, but we have seen it before) fail too. Keep us updated about this workaround in case it has issues too. Thanks!

[2020-10-08 07:23] SSE4 commented on #6588
linking #7760. it demonstrates how to successfully zip/unzip symbolic links (all platforms are supported).

[2020-10-08 07:50] memsharded commented on #7824
I agree it is a good thing that command line wrappers allow passing all kind of things that are possible in the command line. And this should be doable with our new build helpers.

My objection is that this shouldn't be the default (and possibly only) mechanism for injecting Conan necessary configuration and variability that is mandatory in the developer flow. It is not that the developer can buil

[2020-10-08 08:09] SSE4 commented on #7093
I am linking #7760 here.
I believe during the work on PR, I've researched the topic and will be able to answer all the questions.

in general, there are two major kind of links supported in operation systems are symbolic links and hard links. Windows also supports so-called [junctions](https://docs.microsoft.com/en-us/windows/win32/fileio/hard-links-and-junctions), but as they are Windows-specific

[2020-10-08 08:37] dmn-star commented on #6259
We plan release our Catalyst app for the beginning of the next year. Is there a timeline for this feature?

[2020-10-08 09:28] memsharded commented on #7846
https://github.com/conan-io/conan/pull/7847 merged.

[2020-10-08 09:28] #7846 closed, assigned to memsharded

[2020-10-08 14:40] jgsogo commented on #7826
#7827 merged to `1.30.1`. It will add the `CMAKE_SYSTEM_NAME` when cross-compiling to `arm` using a `Linux` machine to build.

Thanks for reporting the issue.

[2020-10-08 15:05] solvingj commented on #7824
It seems to me that build system variables should be supported in both the build helper and the toolchain, and I can see different uses for each.

However, the above statement is only true assuming that the `toolchain.props` files will one-day be produced in the users working directory when calling `conan install` just like generator files are today with `-g`.  Otherwise (if `toolchain` files are

[2020-10-08 15:29] itai-huddly opened #7873 "[Feedback] Conan is using old string formatting style"
Currently enjoying the new conan course on JFrog Academy, so far I'm very happy with the content and the exercises.

One thing I've noticed is that some of the Python code generated by conan is using an older Python style for formatting strings.

So instead of
`self.run(".{}example".format(os.sep))`

an older style is used:
`self.run(".%sexample" % os.sep)`

I would suggest updating the format to

[2020-10-08 15:40] memsharded commented on #7826
Closed by https://github.com/conan-io/conan/pull/7827

[2020-10-08 15:40] #7826 closed, assigned to memsharded

[2020-10-08 17:01] FramnkRulez opened #7849 "[question] How to add environment variable with paranthesis to self.env_info?"
I need to set the x86 DOTNET_ROOT environment variable, but python complains about this due to parans:

self.env_info.DOTNET_ROOT(x86) = self.package_folder

I also tried:

self.env_info["DOTNET_ROOT(x86)"] = self.package_folder.

Is there a way to do this?

[2020-10-08 17:15] memsharded commented on #7849
Hi @FramnkRulez

Maybe setting the attr explicitly:

[code]

Please try that and let me know.

[2020-10-08 17:25] memsharded commented on #6259
Hi @dmn-star

So far this feature didn't get enough priority. It seems that @prsolucoes did a good job adding to their settings and customizing their toolchains, and there weren't a strong evidence of many users wanting this to increase the priority. If everybody here things it is worth it, I wouldn't oppose to try to help from our side, because it seems we don't have the time resources and experi

[2020-10-08 19:58] FramnkRulez commented on #7849
Yes, that seemed to work.  Thank you!

[2020-10-08 19:58] #7849 closed, assigned to memsharded

[2020-10-09 09:32] memsharded commented on #7873
Yes, good point. We should start adopting this style, not only in the docs, but everywhere, including the internal codebase.

[2020-10-09 10:26] antoine-bussy opened #7853 "[feature] Make virtualenv's activate.sh more robust"
Hi,

While trying to use the virtualenv on Cygwin with Zsh, I stumbled on backslashes problems. After investigating, I discovered it came from the different default handing of backslashes by echo between sh and zsh (see https://stackoverflow.com/questions/16430628/zsh-escape-backslash).

Therefore, I think it might be a good idea to explicit echo's handling of backslashes in the activate.sh script

[2020-10-09 10:27] mvoelkle-cern opened #7854 "[bug] deps_cpp_info.get_name returns different results with `create` and `build`"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 7
  * Compiler+version: gcc 4.8.5
  * Conan version: 1.30.0
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)

The following conanfile.py

[code]

prints different gtest package name depending on which conan commands I use:

`conan create .` prints `GTest`
`conan install . && c

[2020-10-09 11:21] db4 opened #7856 "[bug] '/' path separator is not handled correctly on Windows by Conan 1.30.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Conan version: 1.30.0
  * Python version: 3.8.6

### Steps to reproduce
The following consumer recipe illustrates the problem:
[code]
It works with `1.29.2` but fails with `1.30.0`. If I replace `/` with `\\` it works with `1.30.0` as well.

[2020-10-09 12:05] Belpaire opened #7857 "[suggestion] add --quiet option for windows conan install"
When I go to https://conan.io/downloads.html and choose the windows conan install, it seems it does not have a --quiet install option.

Why this would be handy to us:

On  our windows installations we prefer using py instead of python on the commandline/scripts. Usually when installing any version of python on windows, it will add the py.exe on the windows folder, (it is an option in the python in

[2020-10-09 12:29] memsharded commented on #7857
Hi @Belpaire

The Windows installer is created with InnoSetup, have you tried the ``/SILENT, /VERYSILENT`` comand line arguments?

The other issues, I don't fully understand, as for the installers, the python interpreter is fully bundled, it has nothing to do with the system python, it doesn't even need it. Could you please clarify this point?

[2020-10-09 12:34] Belpaire commented on #7857
Hi @memsharded ,

Must have missed the /SILENT, I had tried --help to see other options but had forgotten to test /? which does give info. As for the other info, it wasn't specific to conan not working or anything, but just why I wanted to use the standalone installer instead of any system python. It's more of a context I tried to give. But with the /SILENT I can get on (although I find it strange

[2020-10-09 12:34] #7857 closed, assigned to nobody

[2020-10-09 13:14] ShamanTcler opened #7858 "Questions on using and abusing profiles with CMake"
- [X ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Sorry for the generic question but I think you will see where I am going. Lets use a Protobuf application as an example.

( I have Conanfied this example Protobuf project: https://github.com/leimao/Protocol_Buffer_Examples)

I am using CMake/Ninja with the Conan CMake "add-in"

[code

[2020-10-09 13:18] ShamanTcler commented on #7858
Ok So I forgot the details ... duh

- Win 10, Version 1909 64 bit
- Conan version 1.29.2
- Cmake version 3.18.4
- Ninja version 1.10.1
- Microsoft (R) C/C++ Optimizing Compiler Version 19.00.24215.1 for x64 (though should not matter it is just the command line)

[2020-10-09 14:12] DoDoENT commented on #7856
I was just about to report that. In my case, the following does not work in my conan package:

[code]

The `some-folder` gets imported on mac and Linux, but not on Windows. Downgrade to conan v1.29.2 solved the issue.

[2020-10-09 15:57] czoido commented on #7856
Hi @db4, @DoDoENT,
Thanks a lot for reporting. I have been able to reproduce the issue, it was probably introduced by https://github.com/conan-io/conan/pull/7704
We'll fix as soon as possible.

[2020-10-09 19:54] kpiascik opened #7860 "[feature] Update Search Help text"
Update the search help text as follows:
This line: https://github.com/conan-io/conan/blob/30ce7ddca81a76c9fd371c6016cfc06f42f078dd/conans/client/command.py#L1262
should be re-written as:
[code]
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-10-10 09:29] memsharded commented on #7860
Hi @kpiascik

Wouldn't you like to submit a Pull Request yourself to contribute this? (do not capitalize the OR, not necessary, adding the explanation of the remote is good, thanks!)

[2020-10-10 18:53] cen1 commented on #6252
Hah, I jut got bitten by this. I think it is more than enough to simply add this into imports documentation and a small "warning" section for linux. It is easy to overlook and the error is cryptic, hard to track down with google even.

[2020-10-12 08:44] jasal82 opened #7863 "[bug] Remote searches for channel-promoted packages are broken since 1.30.0"
It seems that PR #7673 broke search queries which used to work in Conan < 1.30.0. We use the copy feature in Artifactory UI to promote packages from `master` to `release` channel. In previous versions Conan sent queries like

[code]

These returned all of the available packages with that name and filtered for channel on the client side. Now I see queries like

[code]

This works fine for packages

[2020-10-12 09:32] memsharded commented on #7863
Hi @jasal82

Just to clarify, are you using the private http api directly, or that is only the debugging information? Could you please clarify which Conan commands/recipes are you using that will trigger this issue?

Also, please take into account that there was a bug related to this change, that has been fixed in Conan 1.30.1.

[2020-10-12 09:35] jasal82 commented on #7863
The queries are debugging traces from a simple `conan install .. --build missing --update`. It happens also with Conan 1.30.1.

[2020-10-12 09:41] jasal82 commented on #7863
It should be possible to reproduce this easily with any recipe by promoting its channel via Artifactory UI or JFrog CLI and then searching with a query similar to the above.

[2020-10-12 09:43] jasal82 commented on #7863
I think it's actually an Artifactory problem which was uncovered by the changes in the PR.

[2020-10-12 09:53] memsharded commented on #7863
If the command is ``conan install .. --build missing --update``, then the search will be invoked by a version range. Such version range could be:

[code]

In the first case, the version range should only resolve to packages that have the exact ``user/channel``, and in the second case it should only match packages without ``user/channel``. It if was matching other packages, it was a bug that was fi

[2020-10-12 10:08] memsharded commented on #7858
Hi @ShamanTcler

Sorry for the delay in responding.

I think the main issue is that CMake does not handle environment variables. What you are defining in your profile are pure env-vars, but CMake is not reading them at all.

The recipes must explicitly read the environment if they want, and convert that to the adequate underlying build system variables. This means that the recipes you are using sh

[2020-10-12 10:28] jasal82 commented on #7863
Did you try to promote to another channel in Artifactory? It's broken *after* promotion.

[2020-10-12 10:31] jasal82 commented on #7863
Here are some simple steps to reproduce:
* Run `conan create . user/A`
* Upload to remote `conan upload mypkg/[*]@user/A --all -r remote`
* Copy to channel B on remote
* Run `conan install mypkg/[*]@user/B -r remote` <- fails in Conan >= 1.30.0

[2020-10-12 10:39] memsharded commented on #7863
Uhm, yes that could be a bug, but in this case, seems totally unrelated to the "search" issue, as no search is involved in those commands.

I am trying to do a copy directly in Artifactory 6.8, and I am getting:

[code]

This could be a "copy" bug in 6.8, I need to test with 6.10 then.

[2020-10-12 10:41] jasal82 commented on #7863
I see, maybe the title was misleading. But the server query changed in the PR is also used for finding the packages to install, isn't it? So I think it is related to that other issue.

[2020-10-12 10:44] jasal82 commented on #7863
See the updated steps above, that's what we're actually doing. With that version expression in place there should also be a search query involved.

[2020-10-12 10:55] ShamanTcler commented on #7858
Thanks for the as always quick response.

For me the next step will be to modify the CMake to see if I can harvest environment variables that are being set. This is of course a work around until toolchains provide a way. (I read the change logs with every release)

Regarding your first bullet on user/channel ... yes we are all in a state of transition aren't we (Chuckle)

Again thanks for the resp

[2020-10-12 10:55] #7858 closed, assigned to memsharded

[2020-10-12 14:18] memsharded commented on #7863
I have been able to reproduce in Artifactory 6.10.
It is true, doing a "copy" operation directly in Artifactory, which will succeed, but then it will fail to retrieve. But then it also happens when I upload to another channel from the client. I am investigating.

[2020-10-12 15:00] michaelmaguire opened #7864 "[question] "To fix this conflict you need to override the package 'gtest' in your root package." even though we have specified the version in root package"
Our root package was recently changed from having:

[code]

to:

[code]

(Note: both patch change and different `user`)

Test builds with `--build=missing` of that change worked.

But in a recent attempt to rebuild that root package with an updated version of another package 'pal' we are seeing an error like:

[code]

I understand from statements in tickets like https://github.com/conan-io/conan/i

[2020-10-12 15:01] memsharded commented on #7863
This is still a bug in Artifactory 7.5

For some reason, packages that are promoted via a "copy" directly in Artifactory do not show in the search, and thus cannot show correctly in version-ranges resolution.

[2020-10-12 15:45] memsharded commented on #7863
Reported in https://www.jfrog.com/jira/browse/RTFACT-23580. @czoido please track it.

Seems problematic. What was fixed in Conan is totally correct, it was a bug, and fixing it is totally necessary to apply filters in Artifactory remote repositories (to ConanCenter) not only because of long delays, but it is also a security issue. But it has uncovered this Artifactory bug.

The main workaround I c

[2020-10-12 16:13] memsharded commented on #7223
Released now https://releases.llvm.org/11.0.0/tools/clang/docs/ReleaseNotes.html

Lets include it for next Conan 1.30.2

[2020-10-12 16:14] memsharded commented on #7223
@uilianries could you please do a PR to the ``release/1.30`` branch?

Please remember to check, besides the settings, the default cppstd and similar stuff.

[2020-10-12 17:19] jasal82 commented on #7863
Thanks for your efforts. Promotion via the client is something that I'd like to avoid. It unpacks and repacks the archives which is likely to introduce unwanted changes to the packages. For example you must not use a Windows client to promote Linux packages because it would break symlinks and execution flags etc.

[2020-10-12 18:04] Jochen0x90h opened #7866 "KEEP_RPATHS does not have any effect"
(MacOS, Conan 1.30.0, CMake 3.18.4)

Hi!

I added KEEP_RPATHS to the options of conan_basic_setup but without success. I would expect that my executable references the libraries, for example boost, directly in their $HOME/.conan/data directories. But when I do

otool -L myExecutable

I still get something like

@rpath/libboost_system.dylib (compatibility version 0.0.0, current version 0.0.0)

Ther

[2020-10-12 19:17] kobi-ca opened #7865 "How do I run conan w/ gtest deps on cygwing?"
Configuration:
[code]

I dont have MinGW generator. How to obtain it?

thanks,
Kobi

[2020-10-12 20:45] memsharded commented on #7866
Hi @Jochen0x90h

This should be better reported in the main Conan repo, as it doesn't seem a bug in the docs, but a bug in Conan itself. I am transferring the issue there.

It would be better to provide a self-contained reproducible case. The ``conan new hello/0.1 -s`` can provide a simple hello-world library, prepared for being compiled as a shared library too, so it should be relatively easy to

[2020-10-12 20:53] memsharded commented on #7865
Hi @kobi-ca

Maybe you want to use ``Unix Makefiles`` as the generator for Cygwin?. The env var ``CONAN_CMAKE_GENERATOR`` can be used to override the default one, that for Windows is ``MinGW Makefiles``. Please try to define that env-var (you can define it in the profiles, and also in the command line, something like:

[code]

Please note that this might not work. Some recipes in ConanCenter will

[2020-10-12 21:13] kobi-ca commented on #7865
Thanks @memsharded this worked perfectly.
Yeah, I bet VS is better supported but I have no choice in my specific use case.
thanks again. you can close this ticket. (btw, is there docs of all the -e "" ?)

[2020-10-12 21:19] memsharded commented on #7865
Sure, you can read more about env-vars in https://docs.conan.io/en/latest/reference/env_vars.html

I would also recommend to follow new developments in the toolchains and the ``toolchain()``, there is a lot ongoing in: https://github.com/conan-io/conan/issues?q=is%3Aissue+is%3Aopen+toolchain This new integration approach with the build systems will be the future one in Conan 2.0.

Thanks for repor

[2020-10-12 21:19] #7865 closed, assigned to memsharded

[2020-10-12 21:20] kobi-ca commented on #7865
thanks @memsharded . this is super useful.

[2020-10-12 22:05] memsharded commented on #7854
Thanks @mvoelkle-cern for reporting! Indeed a bug ( a missing thing for this new experimental feature)

I have submitted a fix in https://github.com/conan-io/conan/pull/7867 for next Conan 1.31 release.

[2020-10-13 07:38] Nocccer commented on #7834
self.copy has a option called symlink. Set it to true, and self.copy will copy symlinks. Default it is set to None.
See also https://docs.conan.io/en/latest/reference/conanfile/methods.html#package

Hopefully this fix your issue :).

[2020-10-13 09:58] rea-yseop opened #7868 "[bug] cross compiling with clang-cl"
Hello, this might be a feature request and not a bug or just me doing it wrong, so sorry if it is.
Anyway, I am trying to build binaries on Linux for Windows using clang-cl.
I saw that it was possible to cross compile here with mingw: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html

I am on ubuntu and I installed clang-cl with `sudo apt-get install clang-tools`.  Also us

[2020-10-13 10:14] jgsogo opened #7869 "[feature] 'conan download': preserve tarfiles in the cache ('conan upload' to use it)"
As of Conan v1.30, the command `conan download` does extract the packaged file (`conan_package.tgz`) into the Conan cache to make it ready to use. As a consequence, `conan upload` needs to package the files again before uploading to a remote repository.

This workflow is used as a workaround to _promote_ packages between different remote repositories, but it might modify the _package revision_ if

[2020-10-13 10:19] jgsogo opened #7870 "[feature] Identify configuration in remote requests when querying for a packageID"
When Conan checks if a package for a given configuration is available in a remote, it sends just the _package ID_. It would be very useful to send the information used to compute that hash:
 * We can send _all_ the configuration: _package ID_ computation is reproducible (needed? desired?)
 * We can send only the information taken into account to compute the _package ID_ (~`conaninfo.txt`)

[2020-10-13 13:29] ericLemanissier commented on #4550
fixed with https://github.com/conan-io/conan/pull/7827

[2020-10-13 13:29] #4550 closed

[2020-10-13 14:23] alexey-tereshenkov-oxb opened #7872 "[bug] License files are not copied into the same directory hierarchy when using conanfile.txt over conanfile.py"
### Environment Details
  * Operating System+version: macOS 10.15.6
  * Compiler+version: AppleClang 11.0.3.11030032
  * Conan version: 1.27.0
  * Python version: 3.8.5

### Steps to reproduce

As per https://docs.conan.io/en/latest/howtos/collect_licenses.html

Have this section in the `conanfile.txt`

[code]

and then running `conan install` will produce a hierarchy with the following contents i

[2020-10-13 14:35] SSE4 commented on #7869
as a user, I don't expect commands like download/upload to extract/archive package contents. the name suggests package should be downloaded (as-is) or uploaded, not extracted.

[2020-10-13 14:47] memsharded commented on #7869
The upload will not extract, but it will need to zip if the package was locally created and has not been zipped yet.

The download do extract files, because the cache so far didn't define a state that could have a package only downloaded but not usable. I think this cannot be changed now, (not extracting), as it would be breaking, but it would be good to know if we would like this behavior or not

[2020-10-13 14:50] SSE4 commented on #7869
but we can change for 2.0, right?
if so I would expect `upload` to fail if the package wasn't zipped yet, and new command (don't we already have one like `export_pkg`?) will make an archive from the cached directory. so `upload` will require `export_pkg` first. and similarly you usually would run `import_pkg` after `download`, unless you just need an archive, not cached directory.

[2020-10-13 14:57] memsharded commented on #7869
I don't think so. The zipping is an internal storage mechanism of Conan, to save space and transfers. The user shouldn't need to be aware of this detail, much less to issue a command to do it. The flow of creating a package should still be ``conan create`` + ``conan upload``, no need to add an intermediate step there that has no value for the user.

[2020-10-13 15:01] SSE4 commented on #7869
I understand that zipping is an internal mechanism, but unzipping and re-package may lead to data loss, as we already know from #7760 - as certain OS or FS may not be able to fully represent packaged information appropriately. and this is also a waste of space and time to unzip data which might not be needed.
also, if I want to get the same .tgz files as conan stores - e.g. to implement my web cac

[2020-10-13 15:08] keysight-daryl commented on #1557
We need an option to enable case insensitivity in conan 1.x as we are hitting the wall on our heads right now with conan-center recent premature name changes.  they should never have started doing that until this future of the platform was decided within conan.  While I am sure anyone can postulate a thousand 'potential' issues with adding an option here and now about it the truth is the option is

[2020-10-13 15:18] memsharded commented on #7869
The proposed feature is about this. If the downloaded .tgz is not removed, then no problem, it can be uploaded without any re-zipping. If the ``conan download`` unzips it too or not is not really related, it doesn't matter, as long as the .tgz is not removed, it would be reuse in the upload.

[2020-10-13 15:20] memsharded commented on #7873
Lets see what is the minimum python version supported by Conan 2.0, and from there we will chose between .format() and fstrings

[2020-10-13 15:24] keysight-daryl commented on #1557
Is it possible someone in the know please do whatever it takes to release this as a hot-fix from 1.30.1?  please.  pretty please even. i want to love conan, i really do, honestly

[2020-10-13 16:10] a4z commented on #4550
but does this not still set the CMAKE_SYSTEM_NAME to Darwin in case of iOS ?

(https://cmake.org/cmake/help/latest/variable/IOS.html)

so I guess there is still an issue ?

[2020-10-13 16:23] madebr opened #7874 "[question] How to add dynamically option to recipe"
Hello,

In https://github.com/conan-io/conan-center-index/pull/2097, I'm attempting to add components support to boost, using extracted data from the boost sources (using yamls).

This means that the options of the boost recipe depend on the contents of a yml.
The yml depends on the version.

This recipe works fine when using as `conan create . boost/1.74.0@`,
but fails when used with conan-packag

[2020-10-13 16:30] ericLemanissier commented on #4550
Yes, you should probably report this issue

[2020-10-13 16:58] a4z opened #7875 "[bug] CMAKE_SYSTEM_NAME is set to Darwin on iOS (watch and tv OS)"
Coming from here, https://github.com/conan-io/conan/issues/4550 I can see that the change was not enough.

The `CMAKE_SYSTEM_NAME` is always set to Darwin, even for iOS (cross) builds, what is wrong

please check
https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-ios-tvos-or-watchos
that clearly specifies what should be used

and for example the help to the cmak

[2020-10-13 17:17] jgsogo commented on #7875
We modified it here (https://github.com/conan-io/conan/pull/7827) but didn't change the values you are referring to. I think @czoido can help here, he is having to Conan toolchains for iOS.

[2020-10-13 17:34] memsharded commented on #1557
Hi @keysight-daryl

I am afraid this is not possible. I would really love a "keep it simple" strategy, some hotfix that could be done, but this is a massive, structural issue, that cannot be solved that easily, without a huge breaking of users. The decentralization, including the fact that other third party servers beside Artifactory and conan_server implement the protocol makes it even harder, if

[2020-10-13 17:35] a4z commented on #7875
if you want to build for iOS there is also this PR
https://github.com/conan-io/conan-center-index/pull/1137

[2020-10-13 17:41] czoido commented on #7875
Yes, I think those should be changed to the corresponding platform since CMake 3.14+ has native support setting `CMAKE_SYSTEM_NAME` with `iOS`, `tvOS`, or `watchOS`.

[2020-10-13 17:44] keysight-daryl commented on #1557
We have forked copies of older recipes etc internally but it seems even not using the newer package is causing conan errors for user of the older packages with the non lowercase names now that a package with lowercase has been put to our art factory.  OpenSSL is the big breaker currently now that it is 'OpenSSL' and 'openssl'.  our teams pull from our art factory across a bunch of remotes in it an

[2020-10-13 17:45] keysight-daryl commented on #1557
maybe the right soultion is to go backwards with the conan-center strategy and rename all packages back to how they were until conan 2.0 is out? It seems their renaming is pre-mature change that is causing the systemic breakage across the board for us... ie they should wait for conan 2.0 to start using the new conventions.

[2020-10-13 17:48] keysight-daryl commented on #1557
I was under the impression that as long as your project didn't use any package revisions with the mixed naming as dependencies it wouldn't cause a problem but it appears to error out in conan just trying to find the old package because of the newer named one is in the remote even when they aren't using the newer one.

[2020-10-13 18:28] a4z opened #7876 "[bug] build requirement packages should have the possibility to influence the package id"
Say you compile for Android, using the r21d NDK as a build requirement
(I am assuming the 2 profile build, `-pr:b and -pr:h` is used)
and say you using something like this https://github.com/conan-io/conan-center-index/pull/3004 to compile for Android

the NDK is always a build for the build machine, but version r21d will deliver a different result than future or past versions, and builds from dif

[2020-10-13 20:21] memsharded commented on #7863
This problem also happens when copying to a different Artifactory repo, not only for copies within the same repo (I am trying to find viable workarounds).

[2020-10-13 20:23] kpiascik commented on #7860
@memsharded done

[2020-10-13 21:02] sdmg15 commented on #7796
Hello @jgsogo I'll work on this issue :)

[2020-10-13 22:15] #7854 closed, assigned to memsharded

[2020-10-13 22:18] memsharded commented on #7875
Please keep in mind that there are Conan users with versions lower than CMake 3.14, and this change shouldn't break them

[2020-10-13 23:00] memsharded commented on #7876
yes, this should totally be doable.

The main blocker for this feature is that for making the build-requires affect the package-id, the build-requires must be always evaluated, recipes fetched and their info gathered, so the consumers package-id can be computed as a function of it. But at the moment the build requires are exclusively evaluated and fetched when it is necessary to build from sources

[2020-10-14 06:49] zora-x93 commented on #5730
Hi! I'm looking for a method to get rid of the override warnings and find this issue. Is there any updates?

[2020-10-14 06:54] mvoelkle-cern commented on #7854
Great! Thanks for the quick reply, quick fix and awesome product.

[2020-10-14 07:35] jgsogo commented on #7796
Cool! Let us know if you have any doubts about how to implement it.

Thanks!

[2020-10-14 08:38] a4z commented on #7876
I think I am not in the Tribe, even if I think I applied, but when I can help you with this, please let me know.
because when the next Android NDK is released, I might be in real troubles ;-)

[2020-10-14 11:42] SpaceIm opened #7878 "[feature] pkg_config/PkgConfigDeps generators: -Wl,-rpath="${libdir}" should be removed"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently (conan 1.30.1, but for a long time), pkg_config generator creates a pkg-config file like this on Linux:

[code]

When this pkg-config file is consumed in another project to produce an executable or shared lib, rpath is hardcoded in this runtime file. It leads to some inconsi

[2020-10-14 12:00] memsharded commented on #7876
because when the next Android NDK is released, I might be in real troubles ;-)

The Tribe 2.0 has not been launched yet, it was delayed because of some internal things, but it will be launched soon, we will update about it.

[2020-10-14 13:37] memsharded commented on #7856
Fixed by https://github.com/conan-io/conan/pull/7861, will be released in 1.30.2

[2020-10-14 13:37] #7856 closed, assigned to memsharded

[2020-10-14 13:38] memsharded commented on #7223
Closed by https://github.com/conan-io/conan/pull/7871, will be in 1.30.2

[2020-10-14 13:38] #7223 closed, assigned to uilianries

[2020-10-14 14:53] mathbunnyru commented on #7778
Another idea came to my mind.

When I upload a new version to CCI, the previous versions could be automatically marked deprecated (or something like that).
So, if someone uses them, they will get a warning output, if they have some flag specified.

I'm not sure at all if it's possible to do by the way with the current design :)

[2020-10-14 16:53] czoido commented on #7863
It looks like at least if you don't change the channel, after copying to another repo it works. Maybe that could open a feasible solution...

[2020-10-14 17:02] w3sip opened #7879 "conan remove clarification"
Quick question -- `conan remove -f [ref]` vs `conan remove -f -b -s [ref]` -- my understanding is the former will remove everything related to the ref, while `-f -b -s` version will only remove build and source files (preserving the package). Is that correct?

[2020-10-14 17:15] memsharded commented on #7863
We have put into the roadmap fixing this, and letting clients download-upload without re-zipping at all, so this operation is idempotent irrespective of the platform that is executed. It will take a few weeks, so lets keep exploring other possible workaround (check slack when possible too please)

[2020-10-14 17:15] aleksa2808 commented on #6617
Not doing this, including not ignoring empty folders like git does implicitly, can lead to a package being built fine locally with `conan create`, but failing to build from source after.

I encountered this exact issue today where an empty directory was for some reason needed for a certain test (built and ran as part of the build step). I had this empty directory locally in my project folder, but

[2020-10-14 21:32] memsharded commented on #7864
This seems expected behavior. I am submitting a PR with a test that captures this, including the solution: https://github.com/conan-io/conan/pull/7880

[2020-10-15 06:26] iiknd opened #7881 "[question] package_id() to include requirements outside conan"
Hi,

what is the recommended way to include "external" dependencies into the package_id calculation?
I have a conan package that depends on libraries outside the "conan realm", those are installed separately to the system.

If the version of the external libraries change it may cause binary break of the conan package(s) thus I'd want to take this into account in "def package_id(self)".

The docume

[2020-10-15 06:47] sdmg15 commented on #7796
https://docs.conan.io/en/latest/versioning/revisions.html#how-it-works
As per this doc a package can have multiple package revisions (PREV) so I was thinking of adding an additional property `package_revisions`

[code]

is that correct ?

[2020-10-15 06:54] michaelmaguire commented on #7864
Thanks for this. Do you think it would be possible to add a little extra info the the Conan error message in this case to make sure it's more evident in this case that it was a conflict between a requires= and a build_requires= ? It seems like a relatively easy mistake to make amongst a distributed group of developers.

[2020-10-15 07:26] memsharded commented on #7881
Hi @unzap

There are a couple of approaches that you can follow:

- You can create a ``foobar/system`` package recipe that doesn't actually contain binaries, it is just a proxy for the system one. It can also manage to install the system one with ``system_requirements`` calling the system package manager. This is a nice way to control conflicts that could appear, for example if some other package

[2020-10-15 07:45] stardast opened #7882 "[feature] Simplify rpath setup with qmake"
Using the qmake generator I would like it to be more automatic to do this:

CONFIG += conan_basic_setup
include($$PWD/conanbuildinfo.pri)
QMAKE_RPATHDIR += $${CONAN_XXX_ROOT}/lib $${CONAN_YYY_ROOT}/lib $${CONAN_ZZZ_ROOT}/lib

I was unable to use the CONAN_LIB_DIRS variable (it is undefined) and I would not like it to contain "-L" flag.

Thanks in advance,
Paolo

[2020-10-15 07:48] jgsogo commented on #7796
`conan info` returns information for a single package, by default the one in the Conan cache. In the Conan cache there is only one package revision at a time (and only one recipe revision), so there is only one value for the `package_revision`.

The information is stored in the `metadata.json` file in the cache, you can use `self._cache.package_layout(ref).load_metadata()` to access that informati

[2020-10-15 10:30] memsharded commented on #7864
To explain the issue:

- The problem comes indeed because of mixing requires and build-requires of the same package in the same graph.
- Build-requires by definition are "private" to the package that declares them. They cannot and will not be affected by regular requires of the graph, they are not overriden by downstream requirements. This is the current behavior
- Regular requires are being corre

[2020-10-15 11:20] uboot opened #7884 "[feature] Always declare CMAKE_BUILD_TYPE in the CMake build helper"
Currently the CMake build helper does not declare `CMAKE_BUILD_TYPE` for multi-configuration generators such as XCode or Visual Studio.

In our case however we have some CMake steps which rely on the `CMAKE_BUILD_TYPE` to be set. E.g. we copy files to `release/` or `debug/` depending on the build type. These steps do not work in case we generate for Visual Studio. As a workaround we currently set

[2020-10-15 12:10] Johnnyxy commented on #7884
Hi there,
for multi-configuration-generators this variable cannot be set. As at cmake-configuration-time the build_type is not known until actual compilation (CMake docs [here](https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html#variable:CMAKE_BUILD_TYPE)).

You have to rely on CMake generator expressions like ```$<CONFIG>``` to get the actual build_type currently processed/built (C

[2020-10-15 13:31] jgsogo commented on #7884
@uboot you can print the commands Conan is running with the activating it in the config:

[code]

As said in the previous comment, during the `configure` step of CMake that value is not known, but the proper value is provided in the `build` step via command line.

If this is still an issue, maybe you can share here a minimal reproducible example with the relevant bit of the `conanfile.py` and `CMa

[2020-10-15 14:08] solvingj commented on #7824
After speaking with @memsharded it seems that the `toolchain.props` is generated in the users working directory when using `conan install`.  So that's the important part.  The ad-hoc addition of toolchains via some command line flag like `-g` is done for generators is a separate feature and not critical (although may still make sense)

[2020-10-15 14:16] memsharded commented on #7795
Hi @AndreyMlashkin

I have been trying the last days to reproduce this or to understand how this is possible, but no success so far.
As it was pointed in conan-io/conan-center-index#3067, some hints:

[code]
This means that it is not finding bzip2 or zlib in ConanCenter, which  shouldn't be happening, bzip2 and zlib are always there.
Is it possible that you have been changing or re-defining the ``

[2020-10-15 23:22] dsoprea opened #7906 "Errant, uncontrollable output"
Occasionally, we get this across our build environments when the version of Conan changes:

[code]

This is printed via `warn()`:

https://github.com/conan-io/conan/blob/f5cfc8caa7c880c48f86fb72f5364c02c325ed1d/conans/client/output.py#L137

It prints just when I'm instantiating an API object because it's wired via the constructor:

[code]

There appears to be no way to suppress it. It's inconvenie

[2020-10-16 02:04] cszabo2 opened #7888 "self.run() regression: mishandles output in 1.30.1 vs. 1.29.1"
I have a recipe which in the deploy() function has this code:

           class Buf:
                def __init__(self):
                    self.buf = []

                def write(self, data):
                    self.buf.append(data)

                def getData(self):
                    return "".join((str(x) for x in self.buf)).strip()

            myBuf = Buf()
            self.run('"python

[2020-10-16 03:32] prince-chrismc opened #7889 "[bug] CMake find_package generator creates conflicts when multiple deps have the same export namespace"
Very similar to #7574 from what I've seen current the generator produces a global target using the not very unique "package name" which unfortunate creates collisions.

It originates from these lines.

https://github.com/conan-io/conan/blob/3658bb16d49cb85ae44cb67e76fb45b37b8986ba/conans/client/generators/cmake_find_package.py#L193-L194

The generated `Findrestinio.cmake` from conan has these link

[2020-10-16 07:54] uboot commented on #7884
Hi,
yes, the proposed workaround works for us. Thanks a lot!

[2020-10-16 07:54] #7884 closed, assigned to jgsogo

[2020-10-16 08:33] itai-huddly commented on #7873
I see that currently Conan is supporting Python 3.5, correct? f-strings are supported starting at 3.6, so that would be a good starting point for Conan 2.0. I don't know what are the relevant features that were introduced post 3.6.

[2020-10-16 11:14] memsharded commented on #7873
Yeah, I would love to, but main problem is that some of our industry users might be stuck at older Python 3.5. These decisions are basically based on the userbase, not technology. We will probably ask for feedback about this (to the Tribe 2.0, to be launched soon).

[2020-10-16 11:27] a4z opened #7892 "[bug] Build requirements are not available when building software without conan but with cmake"
Given a project that has build requirements that are available via conan.
When using conan to install all packages and build requirements, build requirements are not available for build that use cmake to build the project.
This is not good, as a user I want to be able to use the `usual cmake make/ninja commands`, since `conan build` is no replacement and IDEs will not care anyway.

### Environment

[2020-10-16 11:39] memsharded commented on #7888
Hi @cszabo2

I am submitting a PR to explore a fix for this in https://github.com/conan-io/conan/pull/7893/files

Meanwhile, a quick question: why aren't you using directly a ``StringIO`` object to capture the output, and then you don't need to provide your own custom class and do custom processing?

[2020-10-16 13:14] Johnnyxy commented on #7892
Hi there,
the common approach is to execute ```conan install ...``` (optionally in the build folder if not specified via command line and then continue to work with common CMake commands there. As Conan consumer you normally do not use Conan "build" (but you could).

A common approch is like this (similar to what the Conan docs describe [here](https://docs.conan.io/en/latest/using_packages/conanfi

[2020-10-16 13:20] Johnnyxy commented on #7892
You have to use virtual environments to get the desired environment modifications.
See [here](https://docs.conan.io/en/latest/mastering/virtualenv.html#virtual-environments).

Essentially you are
- installing dependencies with a Conan ```virtual environment generator```
- activating the environment (sets up PATH etc.)
- working with CMake / Make / ...
- deactivating the environment (optional)

[2020-10-16 13:34] a4z commented on #7892
Hi @Johnnyxy , your first comment just describes the steps that are done anyway, so this is not a solution

about the virtual env way, I will have to try it,  but  this is in best case a work around.

Don't forget users working in IDEs. Telling them to open a terminal , sourcing something and then open the IDE from this terminal, and please do not close the terminal because ... ,  or writing wrapp

[2020-10-16 13:48] cszabo2 commented on #7888
@memsharded I do not have the six package installed and I do not want to bring in a dependency just to save me 10 lines of code.

[2020-10-16 14:01] Johnnyxy commented on #7892
Yes, I agree that "virtual environments" is not a convenient way to use with IDEs.

[2020-10-16 14:06] a4z commented on #7892
it turns out it is also a problem is you have 2 profiles and the build profile is not the host profiles

say you use cmake as a build dependency. It will create a LD_LIBRARY path entry to the openssl library to the build version of openssl, but if you build for a different OS , like Android or iOS,  I could imagine that such a `DYLD_LIBRARY_PATH` / `LD_LIBRARY_PATH` brings you in troubles.

So the

[2020-10-16 14:23] Johnnyxy commented on #7892
The build profile should define PATHs and so on as this relates to your building system (running Conan/CMake/GCC/Make/MSVC/...). Thus every dependency and its paths you need on the building system have to be set there.

Setting PATH from a host profile does not make sense as the host settings are related to the binaries you are going to build.
At the moment I cannot imagine a scenario where the ho

[2020-10-16 14:35] a4z commented on #7892
I appreciate you will to help , @Johnnyxy , but you are actually not on the topic,
And I think you haven't done much cross compiling with 2 profiles, so yo might not understand the problem fully.

I am talking about that the virtualenv set `DYLD_LIBRARY_PATH / LD_LIBRARY_PATH` for build requirements of build profiles, that are most likely x86_64, and your host build, what might be armv8, will also

[2020-10-16 15:30] memsharded commented on #7888
Conan has a transitive dependency to ``six`` so six is already in your dependencies, no need to install anything else. In any case, if you are not using Py2 anymore, you can use Python3 StringIO, not ``six`` one. Have you tried that?

[2020-10-16 15:31] a4z commented on #7892
it seems I am not the first person having that problem, and there are already people working on solutions
see: https://github.com/conan-io/conan/pull/7324

[2020-10-16 17:41] mjb6 opened #7897 "[bug] conan install pkgname/version not working when omitting user and channel"
### Environment Details
  * Operating System+version: Ubuntu 18
  * Conan version: 1.30.1
  * Python version: 3.7

### Steps to reproduce
- create a conanfile.py for my-app in version 1.0.0
- `conan create .`  (no user & channel)
- `conan install my-app/1.0.0 -g deploy`

#### expected behavior
- package content deployed

#### observed
- conan interprets my-app/1.0.0 as folder where it can find the

[2020-10-16 17:57] memsharded commented on #7897
Hi @mjb6

Could you please point where in the docs you found it? The correct syntax is:

[code]

The @ at the end is necessary at the moment to differentiate a package-reference from a local path. Please try that, and if you tell me from the docs, we will fix the docs (transferring the issue to the docs repo).

[2020-10-16 18:19] mjb6 commented on #7897
Hi @memsharded
thanks for the fast feedback!
Great, this helped a lot. With trailing @ it worked.

In the docs for [conan install](https://docs.conan.io/en/latest/reference/commands/consumer/install.html) I only found an example for a package with user and channel: `$ conan install opencv/4.1.1@conan/stable`  and no example for a package without user and channel. So the docs are not wrong, but may

[2020-10-16 18:43] cszabo2 commented on #7888
@memsharded I used subprocess.check_output() instead which returns directly the string without any effort. The only thing nice about self.run() here was that it printed the commandline in case of failure, so I put a log statement before the call so I always have the commandline. That is good enough for me.

[2020-10-16 19:02] memsharded commented on #7897
I have done a quick grep in the docs sources, found at least a couple of examples with the right syntax, and none incorrect.

I haven't found a very evident place to clarify this, but as in any case, we are already working on the new CLI for Conan 2.0, and we will make this way more evident and explicit, hopefully it will not be a problem with the right UI/UX (better than in the docs).

I think th

[2020-10-16 19:02] #7897 closed, assigned to memsharded

[2020-10-16 19:04] memsharded commented on #7888
Thanks for reporting @cszabo2 great that you managed to workaround.

I will still keep the PR #7893 to try to fix it, if not very urgent anymore, we might try for next Conan 1.31, instead of doing a patch 1.30.3. The thing is that it is a bit annoying, either the colors in the terminal are lost, or the tests are broken... that part of the code is a bit fragile, we need to improve it.

[2020-10-17 11:45] AndreyMlashkin commented on #7795
Indeed, I have a private repository in artifactory, which I am deleting from time to time to test something from scratch.

Unfortunately, I also couldn't find a pattern, when an error occurs to reproduce it.

[2020-10-18 09:25] Knitschi opened #7899 "[question] I was traumatized while trying to build the qt package. Is this a common problem and if so are there ideas on how building large dependency trees could be made more stable?"
# The Trauma
I am trying to integrate conan into a little private toy project that uses Qt. This project is build on Windows and Ubuntu. I build it in 5 different configurations *VS2019-shared-debug*, *VS2019-static-release*, *Clang-shared-debug*, *Clang-static-release* and *Gcc-shared-debug*.

I tried all available versions of the Qt package starting with 5.12.6. That is 11 Versions. Guess what,

[2020-10-18 10:31] memsharded commented on #7899
Hi @Knitschi

Qt is indeed a huge challenge. @ericLemanissier has been doing an amazing job, and there is a PR open to ConanCenter to add it: https://github.com/conan-io/conan-center-index/pull/1759.

I think it would be great to start from there, and not from the qt/xxx@bincrafters/stable packages. The PR to conan-center might be more modern and maintained, and validated against the latest ConanC

[2020-10-18 16:59] anton-danielsson commented on #7438
This is how we do it:
[code]
This assumes that a conanfile.py is used, not sure how to do it with a conanfile.txt...

[2020-10-18 18:06] memsharded commented on #7438
Hi @afedechko

First, my apologies for not responding this issue when it was submitted. It is likely that summer and team vacation could be involved, and this issue was buried in our notifications.

 @anton-dirac response seems reasonable. In general you can get a lot more flexibility and do more things with a ``conanfile.py``, even if it is for consuming only

I would also like to suggest a coupl

[2020-10-18 21:09] memsharded commented on #6207
Implemented in https://github.com/conan-io/conan/pull/7840, will be available in Conan 1.31

[2020-10-18 21:09] #6207 closed

[2020-10-19 07:42] jgsogo commented on #7892
HI, @a4z

Yes, indeed this is a complex problem, and we need to keep in mind the general cross-compiling scenario. I think that any approach needs the environment to be populated with the proper values at the proper time. Even `find_program` needs the executable in the environment, or passing more values in PATH/HINTS (Conan is not modifying the build-system scripts, so the environment looks like

[2020-10-19 08:28] ericLemanissier commented on #7899
@Knitschi The problem with the situation is of a combinatorial nature. We simply cannot verify constantly that 12 different versions of qt work on 20 different compilers as (debug+release)*(shared+static), and I'm not even trying to count the os variations. Breakage can happen at any modifications of any package in the dependency tree, and this tree is quite important in the case of Qt. This is es

[2020-10-19 09:48] #7860 closed, assigned to nobody

[2020-10-19 10:51] akalali commented on #7636
Another problem arose:
In https://github.com/QIICR/dcmqi/blob/master/CMakeLists.txt#L274 `${ITK_USE_FILE}` is used.

I added
[code]
wit the result `ITK version 5.1.0 found in  /akalali/hello-world-conan-ep/build`
where I have the following files
[code]

However, downloading ITK with Conan does not provide a `UseITK.cmake` file.  The resulting error is
[code]

with `${ITK_USE_FILE}` being empty.

I

[2020-10-19 11:52] Knitschi commented on #7899
Thank you for your replies. I can imagine that maintaining the Qt package on your spare time is a pain. I use it in my spare time and every day that I spend with hunting down qt build problems feels especially frustrating.

The reason why I put this here and not in the bincrafter package repo is, that I have the feeling that this is not a problem that is specific to Qt, but maybe occurrs for all p

[2020-10-19 12:08] grisumbras opened #7903 "[feature] Support for cpp_info.names in b2 generator"
Add support for `cpp_info.name` and `cpp_info.names` in b2 generator.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-10-19 12:49] sztomi commented on #3441
I've run into this while trying to parallelize recipe exporting with the following script:

[code]

I got this traceback, which to me appears to be a concurrency bug in `imp`:

[code]

If I replace the load_source call with the snippet above, I get the following:

[code]

If I deactivate the attribute_checker hook, the issue disappears. I'm not sure why - `__import__` is odd. I think the same snip

[2020-10-19 15:47] memsharded commented on #7888
Hi @cszabo2

We are fixing it in #7905, if you managed to workaround the issue, then we will target next Conan 1.31 release.

Thanks for reporting!

[2020-10-19 15:55] #7888 closed, assigned to memsharded

[2020-10-19 16:28] czoido commented on #7906
Hi @dsoprea,

I'm transferring this issue to the Conan github repo as this is not directly related to cmake-conan.

I think there's no way to do this at the moment. We are taking these issues with the output into account and we are currently developing a new iteration of the whole cli for Conan 2.0 where we will be using loggers for output allowing the users of the conan_api to configure the outpu

[2020-10-19 17:20] dsoprea commented on #7906
Thank you.

[2020-10-19 17:21] memsharded commented on #7906
Yeah, it is unlikely that we can change this now without breaking, so if you are using the (internal, undocumented, you shouldn't be using it 😄  ) python api, then probably you can just capture the warning directly? With python everything is relatively easy to hack, so something like:

[code]

[2020-10-19 17:22] dsoprea commented on #7906
That's what I did (wrapped in a try-finally).

[2020-10-19 19:10] jan-grimo opened #7907 "[bug] Private requires must be associated with a component, but if associated, generator fails"
I'm in a damned if you do, damned if you don't situation. I have a conanfile with a private `requires` reference that defines components. While [_raise_incorrect_components_definition](https://github.com/conan-io/conan/blob/develop/conans/model/build_info.py#L244) has been very helpful in getting the component `requires` right, it also forces you to list the private package `requires` in one of th

[2020-10-19 19:21] ohanar opened #7908 "[feature] cmake toolchains should be generator agnostic"
We regularly use a few different cmake generators for development, even when targeting a single platform. Because `conan_toolchain.cmake` has different content depending on the generator conan is targeting, right now our developers have to regularly change their `CONAN_CMAKE_GENERATOR` environment variable when switching generators, which ends up being a fiddly process that is frequently forgotten

[2020-10-19 20:06] ericLemanissier commented on #7899
@Knitschi your build scripts seem to invoke conan instances in parallel. Maybe you hit a bug in conan concurrency. Do you have the same errors when you use the `--cpus 1` argument to https://github.com/Knitschi/CPFBuildscripts/blob/master/4_Make.py ?

[2020-10-19 20:29] memsharded commented on #7908
Hi @ohanar

yes, the configuration and variability of the toolchains, is one of the things that we still need to figure out. Not only what the toolchain does, but also, I feel that configuring it via env-vars is probably not the best approach.

I agree, let's start trying to make the toolchain generic conditioned on the generator.

[2020-10-19 21:00] Hopobcn commented on #5914
Sorry for hijacking this issue but I stumbled with it and opening another seems too much.

I added `riscv64` architecture to my `settings.yml` and later when trying to cross compile I got this:

Is there any hope that `riscv64` arch could be added? Otherwise, I think it would restrict me from using `AutoToolsBuildEnvironment` right?

[2020-10-19 22:16] memsharded commented on #5914
Hi Pau @Hopobcn

Is the riscv64 a common documented architecture that could be useful for other Conan users? Or just your internal user convention?

In any case, we probably need a way to map custom user architectures in the new toolchains, we have already started to work in them.

[2020-10-20 00:06] kobi-ca opened #7909 "How do export my package to the local and remote repo"
hello,

I have a local git repo that is using gtest w/ conan. It has conanfile.py to pull gtest deps.
Now, I'd like to export my package both locally and on my artifactory server.
First, for local export to my ~/.  conan cache.
How exactly do I do this (link to docs should be fine as well).
This is a header only (so in cmake it is lib INTERFACE), but has gtest and an example app that I dont need t

[2020-10-20 01:45] solvingj commented on #5737
Two general features we've just discussed adding to every toolchain.  For those toolchains which are currently in-progress, if possible and feasible, look into adding these two features.

**include/import**
A first class member function for "including" other build system files (probably a list).
So, for
cmake: `include(foo.cmake)`
make: `include foo.make`
msbuild: `<Import Project="foo.props" />`

[2020-10-20 05:31] ericLemanissier commented on #7899
@Knitsch: I just made a github actions which tries to build the latest patch versions of [the recipe you tried](https://github.com/Knitschi/ConanQtPackageTest/tree/master/Sources/QtTestConsumer), with all the profile you defined [in your project](https://github.com/Knitschi/CIBuildConfigurations). results are available here: https://github.com/ericLemanissier/ConanQtPackageTest/actions/runs/316417

[2020-10-20 08:26] Hopobcn commented on #5914
Hi, RISC-V is an open-source ISA that is gaining a lot of traction. It's being adopted for new developments. They have documentation in their webpage https://riscv.org/ and github groups https://github.com/riscv

There are 4 base ISA `RV32I`, `RV64I`, `RV32E`, `RV128I`. Then there are a handful of extensions that add functionality to the base ISA. To ease adoption the standard defines a base ISA +

[2020-10-20 09:05] jgsogo commented on #5737
A _purpose_ is needed here. This can be useful for the user to _add_ a custom toolchain that can override values configured by Conan, but it can also be useful to provide values that Conan toolchain will use (for example, adding flags to `CXX_FLAGS_INIT` variable). In the first case, the `include` will be the last line; in the second one, it will be closer to the beginning. Also, given CMake, we n

[2020-10-20 09:14] memsharded commented on #5737
I cannot find the issue now, but we have already got this request from users. They have their own toolchain files, and want to use them. Not sure what information they have there, but it seems just including it was good enough for them, basically a limitation that you can only specify 1 toolchain file in the cmake command line.

[2020-10-20 09:39] michaelmaguire commented on #6930
Do you mean recipe or binary revision?

[2020-10-20 09:42] #7796 closed, assigned to nobody

[2020-10-20 10:15] czoido commented on #7906
Hi @dsoprea,
As it seems that there's a feasible workaround I'll close the issue, please feel free to reopen if you have any more comments.

[2020-10-20 10:15] #7906 closed, assigned to nobody

[2020-10-20 11:10] sduraisamy opened #7911 "[question] deploy method not executed with conanfile.py path in conan install"
I want to install dependencies package to the user path from the local cache.

my recipe works when i give as package as reference in conan install but when i give the conanfile.py path its not executing the deploy method.

conan install pkg/version@user/channel(deploy method called - Working)
**conan install ./pkg/path_to_conan_recipe/conanfile.py (Not working)**

I have used copy_deps() to get t

[2020-10-20 11:32] akalali commented on #7636
I probably made a mistake. I never set the variable `CMAKE_PREFIX_PATH` for the DCMQI project. I only did
[code]
in my top-level CMakeLists.txt.
I'm not sure what is happening here exactly, but if I add
[code]
to my `ExternalProject_Add(DCMQI` the dependencies (such as DCMTK, ITK, OpenJPEG, ZLIB etc.) are found.
Probably at this point `${CMAKE_PREFIX_PATH}` also includes `${CMAKE_BINARY_DIR}` from

[2020-10-20 11:46] memsharded commented on #7911
Hi @sduraisamy

Yes, that is exactly the difference between ``deploy()`` and ``imports()``.

- ``deploy()`` is for your own package, like ``conan install <pkg-ref>``.
- When you have a local conanfile.py, in a path, it is not a package. You cannot "deploy" it, because it is not packaged.
- Local conanfile.py can ``imports()`` from their dependencies.

[2020-10-20 11:57] sduraisamy commented on #7911
@memsharded, Thanks for the quick answer. Now it clear for me.

[2020-10-20 12:00] #7911 closed, assigned to memsharded

[2020-10-20 12:29] jgsogo commented on #5737
A different approach would be to let the users provide their own template file for the toolchain so they can _play_ with the context provided by Conan as well (besides adding their own variables/definitions). This was an idea @maikelvdh and I were talking about a long time ago, it should fit any use case (including before, including after, changing some values,...).

Just exploring other approache

[2020-10-20 12:45] jgsogo commented on #6930
I mean _recipe revision_. If it is a new _recipe revision_ the Conan reference is the same and it will be used by the consumers (unless they are hardcoding the full reference including the recipe revision). When computing the new graph, Conan will resolve to the same reference, Conan will retrieve the new recipe revision from the `conan-tmp` repository.

[2020-10-20 12:46] #7647 closed, assigned to nobody

[2020-10-20 13:08] solvingj commented on #5737
As @memsharded said, the most common use case is for users who want to include their own build system files.

[2020-10-20 13:22] memsharded commented on #5737
Possibly main reason is uniformity/consistency. You always pass the ``conan_toolchain`` file to the build system. In some scenarios, that file will include another file, for example for cross-building, mobile, etc, while in other cases there is no need for a custom toolchain file (native). Having the conan toolchain -> include others mechanism is an opt-in in any case, as long as we don't hardcode

[2020-10-20 14:25] jgsogo commented on #5737
It is the same with a template: if you provide the template to be used it will be used, if nothing is provided Conan will fallback to the default/built-in one, no need to do anything special (both need the same inputs: the name of the user-provided toolchain file, or the name of the user-provided template file). The template allows more control, it lets you do things that are impossible by includi

[2020-10-20 15:37] dsoprea commented on #7906
The very nature of a workaround validates this issue's existence as a bug. It'll continue being a bug until that rewrite is finished. I'd encourage you to keep this open until it *actually* no longer exists.

[2020-10-20 16:07] memsharded opened #7912 "[question] how to manage toolchain extensibility, specially by inheritance of CMakeToolchain"
With the hierarchy defined, we have a factory function that does:

[code]

For users wanting to customize the built-in CMake toolchain, that would mean to provide their own factory function, with their custom derived classes too, which might not be very evident/ergonomic, I think we need to consider this.

[2020-10-20 16:17] memsharded commented on #7906
It is a workaround for your use case, not a workaround around a Conan bug. The python API is internal, undocumented and unsupported. We try as much as possible not to break it if it is not necessary. But we cannot provide a "fix", lets say something  like this:

[code]

for something that is not documented, because users aren't allowed to call that method themselves. If there is another problem/is

[2020-10-20 16:27] memsharded commented on #5737
I am not sure if I follow, maybe we are talking about different implementations for the same feature. Let's say we have this common scenario:

User have some QNX ``myproprietary_qcc_toolchain.cmake``, that they want to use in conjuntion with the Conan provided toolchain. They could have their own toolchain include the conan one or viceversa. We are talking here the use case of the Conan toolchain

[2020-10-20 16:47] jgsogo commented on #5737
The one with the template would be more like (the template is not a string, but an actual file):

[code]

The advantage of using a template is that you can have more flexibility:

 * include something at some point in the middle (maybe it is at the end):

[code]

 * add something to the compiler_features config:

[code]

 * remove everything from the `project_config`:

[code]

[2020-10-20 18:00] kobi-ca opened #7914 "Is there a way to import gtest package directly from github using a SHA1"
Hi,

Might be a long shot but what if I need gtest > 1.10.0 ? Is there a way to import directly from a git remote and specifying SHA1?

thanks,
Kobi

[2020-10-20 18:10] dsoprea commented on #7906
Fair point, and I expected that might be the case when I used it.

I needed to extract the package name from a conanfile via an automated process in order to do packaging and uploads for specific references and I wouldn't have the package names, only the paths. Is there a CLI way to extract info from a conanfile?