[2021-10-25 10:34] arttet commented on #9537
Hi @franramirez688

It looks good to me. So, I merged your PR. Could you please give me a couple of days to check other receipts? I'll rewrite my receipts and give feedback about them.

[2021-10-25 12:23] SpaceIm commented on #9841
Do you pass generated toolchain file to CMake with `-DCMAKE_TOOLCHAIN_FILE`?

[2021-10-25 12:36] playgithub commented on #9841
Qt Creator will automatically do this, and other libs working fine.
Anyway I've tried `-DCMAKE_TOOLCHAIN_FILE`, but it doesn't help.

If you have Qt Creator, simply test it.

[2021-10-25 13:09] SpaceIm commented on #9841
I don't have Qt Creator, but it works fine on my side with `-DCMAKE_TOOLCHAIN_FILE=<abspath/to/conan_toolchain.cmake>` in a terminal.

So maybe some magic in https://code.qt.io/cgit/qt-creator/qt-creator.git/tree/src/share/3rdparty/package-manager/auto-setup.cmake is not ready for `CMakeToolchain` and/or `CMakeDeps` generators?

With `wxWidgets`, during CMake configuration, do you see messages lik

[2021-10-25 16:04] #9760 closed, assigned to memsharded

[2021-10-25 16:17] #9797 closed, assigned to memsharded

[2021-10-25 16:26] memsharded commented on #9797
https://github.com/conan-io/conan/pull/9818 merged, to be released soon in 1.42.

[2021-10-25 16:42] memsharded commented on #9724
I am thinking that we might need a bit more of power in the ``Conf`` class to handle some scenarios. So far the ``Conf`` class is a pure ``key=value`` store, very simple and convenient. But there are current ``conan.conf`` cases that might not be covered:

- The list of hooks to apply
- If we want to evolve it and be able to pass general compilation flags, like CXX_FLAGS to the whole build.
- To b

[2021-10-25 18:48] #9730 closed, assigned to lasote, memsharded

[2021-10-25 18:50] memsharded commented on #9730
https://github.com/conan-io/conan/pull/9781 merged, this will be released in 1.42

[2021-10-25 19:19] blackliner commented on #9527
I retried it today and had no issues. I assume its due to another version of conan. I'd get back here once it happens again.

[2021-10-25 19:19] #9527 closed, assigned to nobody

[2021-10-26 04:26] wxuefei opened #9863 "There's an error when I exec conan search 'cro*' --remote=conancenter"
### Environment Details (include every applicable attribute)
  * Operating System+version: mac
  * Compiler+version:
  * Conan version: 1.41.0
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
conan search 'cro*' --remote=conancenter

### Logs (Executed commands with output) (Include/Attach if Applicable)
ERROR: Value provided for package version, '0.3 2' (type Version), is a

[2021-10-26 06:19] czoido commented on #9863
Hi @wxuefei,
I was able to reproduce the issue. Looks like it's caused by recipe for `crowcpp-crow` having version `0.3+2` so `conan search crowcpp-crow -r conancenter` also reproduces that.
We'll check how to fix this, thanks a lot for reporting.

[2021-10-26 07:38] StailGot opened #9864 "[bug] hook_manager overrides sys.dont_write_bytecode"
Hi there.

Im trying make portable conan in windows for seamless setup.
With embedded python it work perfect, but as it part of source code, it must not modify source dir.
When python commands execute, by default generate `__pycache__` dir for optimization.

There some options for disable that.
Run python with -B option or export env PYTHONDONTWRITEBYTECODE=1
Almost works, but conan\tools ignore t

[2021-10-26 08:07] memsharded commented on #9864
You are right, seems the previous existing value should be respected. Proposing a fix in https://github.com/conan-io/conan/pull/9865 for next 1.42

[2021-10-26 10:18] memsharded commented on #9824
We have analyzed this, and seems a bit cumbersome and dirty for the value, so better not doing this.
I suggest implementing a CI job that will keep some of the "legacy" behaviors, not only "settings_build", if we want to keep some backwards compatibility in Conan 1.X when ConanCenter moves forward to use 2 profiles always.

[2021-10-26 10:18] #9824 closed, assigned to nobody

[2021-10-26 10:19] werto87 opened #9867 "[question] How to deal with "-lc++abi" flag when compiling with clang and libc++ on a gcc based linux distro?"
I am on arch linux where the gcc toolchain is the default.
I have a clang profile for compiling with clang and libc++
clang
[code]
I have problems to create some packages. For example imgui/1.85.
The error I am getting is:
`/usr/bin/ld: /tmp/binary_to_compressed_c-10eaa8.o: undefined reference to symbol '_ZdaPv'
/usr/bin/ld: /usr/local/lib/libc++abi.so.1: error adding symbols: DSO missing from com

[2021-10-26 10:43] memsharded commented on #9724
Lets try this approach of using something like ``Environment`` to extend the capabilities of current ``Conf``

[2021-10-26 11:19] memsharded commented on #9448
We are going to try to do a proof of concept for 1.43 with:

- Defining a [conf] item for one or more of the xcode flags
- Research what makes sense, like generalizing cxx_flags or the like
- Make ``CMakeToolchain`` listen and map that configuration

[2021-10-26 14:34] #9864 closed, assigned to memsharded

[2021-10-26 14:56] arttet commented on #9537
Hi @franramirez688

Unfortunately, there is a case when I cannot build my project. It seems your example uses `MD` flags. I tried to use `ASan` with `Clang` and found the following error:
[code]

I prepared the [branch](https://github.com/arttet/reproduce-bugs/tree/bug/asan) with this case.
Maybe, I made a mistake when I was rewriting Conanfile.

[2021-10-26 15:19] memsharded commented on #9867
Hi @werto87

It might be that the ``imgui`` recipe in ConanCenter is not prepared to compile with Clang with a different stdlibc++, maybe the build system has hardcoded the standard lib it is using.

So the best to investigate and reproduce this things is with a minimal example. I recommend using the ``conan new hello/0.1 --template=cmake_lib`` to create one and start from there. That template is

[2021-10-26 15:20] Belpaire opened #9870 "[bug] ReadTimeoutError from httpConnectionPool"
### Environment Details (include every applicable attribute)
  * windows 10, version 1909, OS build 18363.1801
  *compiler version: N/A (binary upload only)
  * Conan version: 1.38.0
  * Python version: N/A (conan windows installation)

### Steps to reproduce (Include if Applicable)
Probably any package with this size (bunch of binaries that are uncompressed about 800MB in size) will output such a

[2021-10-26 15:27] memsharded commented on #9870
Hi @Belpaire

It is possible to upload packages that big, but sometimes there are some annoying and difficult to debug situations like this. They tend to happen more in Windows too. There are several causes that could be happening:

- There is some memory or resources limit in the machine. Could be client side or server side.
- There could be some limitation of sizes in the server side, which one

[2021-10-26 15:29] aucampia opened #9871 "[question] conan manfiests and lockfile"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I would like to use conan to manage my toolchain for various projects and I have done some work towards making this a possibility in https://gitlab.com/aucampia/proj/xonan.

The idea is that a user would check in a conanfile.txt with their toolchain (e.g. terraform, golang, etc) and c

[2021-10-26 15:35] SSE4 commented on #9713
afteer looking at layouts more closer, I don't know if they are going to help with the current situation
I don't see layouts managing install directories (libdir, includedir and so on) for CMake
it seems like layouts are more about the location of sources, or location of CMakeLists.txt
maybe the management of install directories is not implemented yet, or not planned yet, IDK
therefore, I need som

[2021-10-26 15:37] boussaffawalid opened #9872 "[bug] self.install_folder and self.build_folder are not available in the layout method"
Hello,

I'm trying to use the new layout method to define where generator files are being created, I tried both:
[code]
and

[code]
But in both cases `self.build_folder` and `self.install_folder` are not defined.

How can I define self.folders.generators relatively to the build folder.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+

[2021-10-26 15:41] memsharded commented on #9871
We have a ``--manifest`` functionality in ``conan install`` that is able to capture, and later validate manifests. However, we are going to deprecate it, check: https://github.com/conan-io/tribe/pull/18, and it has already been removed in ``develop2`` branch.

The main reason is that nobody was using this, because the trust model is different, and is mostly based on trusting remotes, and/or using

[2021-10-26 15:43] Belpaire commented on #9870
Hi,

Server I was uploading to is an Artifactory CE version running on windows 10. I ran Artifactory CE locally just now and I didn't receive any errors. The server I was uploading to was on-premises. So it's not an insane amount of latency that could be the issue. I didn't really do any special configuration for the Artifactory service at all. So I'm not sure what the defaults would be that could

[2021-10-26 15:44] memsharded commented on #9872
That is exactly the purpose of the layouts, to define the build folder. (Take into account that the install_folder is also going to be removed, only makes sense for some legacy).

You need to write:
[code]
or something more real would be like:
[code]

In all cases, the layout is relative to the conanfile

[2021-10-26 15:47] memsharded commented on #9870
Maybe it could be some limitation of memory in the server, it would be worth checking the logs on the server side when it fails. Do you admin that server or can ask for those logs? Or maybe try from another computer in your LAN that you have access to the local ArtifactoryCE you are running in your machine, to try to see how much your network could be an issue.

[2021-10-26 15:51] Belpaire commented on #9870
Yes, I have access to this server so I can send you these logs. It does seem something went wrong on the artifactory side of things though, moreso than a conan issue. Is there an e-mail I could send it to?

[2021-10-26 15:54] aucampia commented on #9871
I will re check lock file, but I would like it to "lock" the recipe manifest and the package manifest of each installed dependency (direct or transitive).

[2021-10-26 15:57] boussaffawalid commented on #9872
We do out of source build, this means that we should be able to use any directory as a build directory.
For example: Assuming conanfile is located in: `c:\src\projects\project1\conanfile.py` and we want to build in
`c:\build\projects\project1\build1`, how can we defined that in the layout method ?

[2021-10-26 15:58] aucampia commented on #9871
I think maybe it just locks the recipe manifest but the package manifests from last i checked. But I never checked the manifests option and that may be what I was looking for, pity to see it being removed.

[2021-10-26 16:06] memsharded commented on #9872
[code]

Layouts encode a given convention over the layout. It can be any one, you can define your own logic, and implement any layout that you want. But it has to be defined in the recipe. Otherwise it is impossible for Conan to know where the built artifacts are, which was the origin of many inconsistencies, bugs and complexities in Conan.

[2021-10-26 16:08] memsharded commented on #9870
You can send private things to info@conan.io, though in general, if it doesn't expose sensitive information, or that can be hidden/removed, it is better to send it here, for reference and enabling other contributors and developers to have a look and help with it.

[2021-10-26 16:12] aucampia commented on #9871
I see mention of hook to implement this functionality so maybe better to look towards that also. Thanks for the info.

[2021-10-26 16:15] boussaffawalid commented on #9872
Unfortunately, the solution above is not going to work, please note `c:\src\` vs  `c:\build\`.
I think I will end up using something like
[code]

and set `MY_BUILD_FOLDER` in a helper script that calls `conan install` command

[2021-10-26 16:19] boussaffawalid commented on #9872
I dont really think that a recipe should define the build folder. Build and source folders should be completely independent.
With the current layout approach, build folder must be relative to the source folder which not convenient.

[2021-10-26 16:28] memsharded commented on #9872
With the current layout approach, build folder must be relative to the source folder which not convenient.

We have seen too many users issues, struggles, bugs and complexities because of this. It has been this way for the last 4 years and it didn't work. Your suggestion for example makes the possibility of working on several packages at the same time (``editables``) almost impossible. It also int

[2021-10-26 16:42] memsharded commented on #9871
Lockfiles can lock also the package revisions.

Yes, this should be doable with hooks. However, maybe you want to reconsider the feature, IMO it sounds a bit overkill given the trust model. You are hosting yourself your packages in your server, if someone manages to hack into there and tamper with the packages, probably you have much bigger problems. Because new versions and releases also happen,

[2021-10-26 18:44] NicolasIRAGNE opened #9874 "[question] Generating CMake config files AFTER deployment"
Forgive me if the question has been submitted already, I have been googling a bunch but no avail (have learned a lot about Conan the Barbarian though, thanks google).

TL;DR at the end if you just want the question

So: here's my situation. I am currently working on a project with a team, and that project has a few annoying dependencies (I'm talking CUDA, OpenCV, TensorRT and the like).

My initia

[2021-10-26 18:48] NicolasIRAGNE commented on #9874
For the record, this is what my conanfile.txt looks like. The packages with @py/local are my own.
I liked the conanfile.txt approach because it made editing the file a lot easier for my coworkers without them having to learn much about conan, but I switched to a .py file because I'm assuming it allows for more flexibility.

[code]

[2021-10-26 20:24] boussaffawalid commented on #9872
@memsharded is there a good reason why `self.build_folder` is not available inside the `layout` method ? is it maybe possible to make it available ?

Can we at least make `self.folders.build` defaulted to `self.build_folder`

[2021-10-26 20:25] werto87 commented on #9867
Hi @memsharded,
I installed another version of libc++ and now I do not need to specify the flag "-lc++abi" to link.

[2021-10-26 20:25] #9867 closed, assigned to memsharded

[2021-10-26 21:14] canatella commented on #7058
I see that the PR related to this has been closed, is there still something missing for this ? The documentation still recommends the same thing. My codebase has grown since, and I can now feel the pain on my release build taking 2*15 minutes, for building and then rebuilding while packaging...

[2021-10-26 21:19] fanStefan opened #9875 "[feature] Support build required dependencies in BazelDeps"
Support build required dependencies in BazelDeps so that binaries at the end could be used in Bazel.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-26 21:21] memsharded commented on #7058
Hi @canatella

Yes, this has been fixed in the new integrations. If you do ``conan new hello/0.1 --template=cmake_lib`` in Conan 1.41, or check  https://docs.conan.io/en/latest/creating_packages/getting_started.html, you can see that ``package()`` method can use ``cmake.install()`` without configuration, leveraging both a cleaner implementation and modern cmake (needs CMake 3.15).

Please have a l

[2021-10-26 21:23] memsharded commented on #9867
Ok, good to know. If you experience some related issue or have any further question, please file a new issue. In any case, please keep in mind that the new integrations will be better maintained from now on, but ConanCenter recipes haven't started to migrate to the new integrations yet (they will do soon). Thanks for following up!

[2021-10-26 21:30] memsharded commented on #9872
Yes. ``self.build_folder`` is computed from the ``self.folders.build``, see the implementation in ``conanfile.py``:

[code]
which in turn, will be computed as the composition of the base folder + ``self.folders.build``:

[code]

In short: you cannot use ``self.build_folder`` in ``layout()`` because it is not defined yet. The main purpose of ``layout()`` is precisely to define such build folder loc

[2021-10-26 21:46] memsharded commented on #9874
Hi @NicolasIRAGNE

As a first hint, I would probably recommend to start trying the new ``CMakeDeps`` generator, instead of the ones you are using, read in this section: https://docs.conan.io/en/latest/reference/conanfile/tools.html.
The main reason is because the generated ``xxxxxxx-data.cmake`` files written by ``CMakeDeps`` have already extracted a common cmake variable, and reused it along the

[2021-10-26 21:48] memsharded commented on #9874
You might need to move your ``conanfile.txt`` to a ``conanfile.py``, but using declarative syntax like ``requires = "req1..."``, the difference will be little, still very readable and simple conanfile

[2021-10-26 21:58] NicolasIRAGNE commented on #9874
Thanks a lot. The CMakeDeps indeed looks more like what I want. I will investigate tomorrow (or maybe tonight because this is bugging me). I will keep you posted.

(also I already have converted my .txt to .py, I just posted this one because it was more readable on here and I have not implemented anything new at the moment)

Sorry for the rush. It's just that the sooner I can get something working

[2021-10-26 22:48] NicolasIRAGNE commented on #9874
So, if I understand correctly, this means that the cmake files will be patched when all the packages are imported from the main conanfile yes ?

So if I move the SDK the files will be invalid and will need to be patched again, yes?
I would be fine with this but if my understanding is correct then using this bit of code requires conan installed (or should be easy enough to rewrite in vanilla python

[2021-10-26 22:55] memsharded commented on #9874
Probably not necessary. You could define for example one generic ``MY_DEPS_FOLDER`` cmake variable, and patch it in the generated files from ``CMakeDeps``, not patch a fixed, absolute path. Then assume the consumer ``CMakeLists.txt`` must define this value to point to the SDK location, **before** calling any ``find_package()``.

[2021-10-26 23:07] NicolasIRAGNE commented on #9874
Thank you. I think I see what you mean. This seems like the way to go, I will try to implement it.

There's one thing I am not sure: in the main conanfile generate() method, how do I get the original package path in order to patch it ?

Now that I think about it, this is probably what the regex you gave me is for, though I am not sure how to implement it :(

Thanks **a lot** for your time. I reall

[2021-10-26 23:17] w3sip opened #9877 "[question] Managing dependency that is needed for both runtime and build time when cross-compiling"
Can a recipe have a dependency that is both runtime, and build time? Take CUDA, for example -- if we are to have a CUDA package we'd need an x86_64 one that contains nvcc and other tools, and then another one, targeting arm64.

So, can we do both
`self.build_requires("cuda/10.2@org/master")`
and
`self.requires("cuda/10.2@org/master")` ?

How would self.deps_cpp_info for the build environment be ac

[2021-10-26 23:37] w3sip commented on #7753
Same problem here. Just upgraded to 1.41.0 from 1.23.0, and I'm afraid will have to roll back, this being the biggest showstopper so far. Knowing the location of build tools for finding specific items they may contain is a must.

[2021-10-27 00:02] memsharded commented on #9874
Yes, exactly, that is the idea to replace that path. It seems you are in the right direction with your regex (if you are using only Release and Debug builds, and not RelWithDebInfo). Recall that you don't need to do the replace yourself, you can use ``re.sub()`` to do the replacement for you. The key is getting the group to replace correctly. In case you don't know it, I love https://regex101.com

[2021-10-27 00:08] memsharded commented on #9877
Yes, it is possible. You might need to use the 2 profiles, build and host profiles, and then you will have 2 different packages of cuda, one for each platform. Then, you need to go with the new integrations ``VirtualBuildEnv``, ``VirtualRunEnv``, and always using ``self.dependencies``, not ``self.deps_cpp_info``: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html

In this video, fr

[2021-10-27 01:24] w3sip opened #9878 "[bug] conanbuildinfo.xcconfig is missing dependency frameworks"
When I build a recipe depending (directly, but mostly transitively) on a number of other recipes which generate iOS framework artifacts, there's a difference in behavior between 1.23.0 and 1.41.0.

The difference seems to be in the generated conanbuildinfo.xcconfig. HEADER_SEARCH_PATHS and LIBRARY_SEARCH_PATHS seem to be similar enough to not be a problem. However, OTHER_LDFLAGS under 1.23.0 conta

[2021-10-27 01:25] NicolasIRAGNE commented on #9874
Alriiiiight so my generate() method looks like this now
[code]

It seems to be working. I managed to link against some packages (like nlohmann_json and boost). For now I can't link against some of my packages because of things like:
[code]

but it's very likely that this is coming from my OpenCV recipe, so I will investigate that tomorrow because right now i have no clue what this means and I'm ex

[2021-10-27 01:33] w3sip commented on #9878
Looks like it is still operational in 1.25.2, and broken in 1.26.0 and on.

[2021-10-27 02:04] w3sip commented on #9878
The easiest way to reproduce:

[code]

With 1.25.2, after `conan install`
[code]

With 1.41.0, after `conan install`
[code]

[2021-10-27 02:19] w3sip commented on #9878
This seems to be broken only if conanfile settings do not have `compiler`.  This is the change in `xcode.py` causing this:
[code]

[2021-10-27 05:27] tank-trax commented on #9819
I am getting the same issue, it was working earlier, trying to build Audacity now this... happened a few days ago too, so it happened, then it worked, not it's failing again

[code]
that HTTP address is alive... if opening it in a browser a 2B file named `tzSju27X` is downloaded

contents...

[code]

[2021-10-27 05:38] tank-trax commented on #9819
resolved using....

`sudo pip3 install conan --upgrade`

[2021-10-27 05:44] #9810 closed, assigned to czoido

[2021-10-27 08:41] Belpaire commented on #9870
[artifactory-service.log](https://github.com/conan-io/conan/files/7424549/artifactory-service.log)
[artifactory-service.out.log](https://github.com/conan-io/conan/files/7424550/artifactory-service.out.log)

I only added the logging of around when the issue occurred. It seems like the server simply timed out on reading the http request.

edit: I also mistakenly said that localhost didn't have this

[2021-10-27 08:43] burgerkiller79 opened #9880 "[bug] Compatible cached packages not resolved correctly"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64
  * Compiler+version: VS 2019 16
  * Conan version: 1.41.0
  * Python version: 3.8.8
  * Revisions enabled: True

### Steps to reproduce (Include if Applicable)

* Assume packages A, B, C, D and two build settings Settings1 and Settings2 resulting in different package ids.
* B requires A
* C re

[2021-10-27 08:57] Belpaire commented on #9610
Question answered so I'll close the issue here.

[2021-10-27 08:57] #9610 closed, assigned to lasote

[2021-10-27 09:29] franramirez688 commented on #9537
Hi @arttet

As I commented in the PR, that problem was related to the use of `Release` build type instead of `Debug` one. It was not a Conan-related issue but flags one. I found out some information [here](https://stackoverflow.com/questions/44320465/whats-the-proper-way-to-enable-addresssanitizer-in-cmake-that-works-in-xcode).

Now, the error is another one:
[code]
It seems a problem with the fla

[2021-10-27 10:32] arttet commented on #9537
Hi @franramirez688

Unfortunately, I do not think so. We should compile with `MT` or `MD` ([link](https://devblogs.microsoft.com/cppblog/addresssanitizer-asan-for-windows-with-msvc/)).
If we compile with `Debug` and `MTd`, we'll get the following error:
[code]
It [means ](https://docs.microsoft.com/en-us/cpp/standard-library/iterator-debug-level?view=msvc-160)`ASan` was built with `Release`

If we

[2021-10-27 10:37] memsharded commented on #9870
I see, indeed a timeout server side. Without being an expert in Artifactory deployment I would check things:

- Possible resource limitations in the server machine.
- Check possible server other layers: is there a ISS, nginx or any other front to Artifactory? Probably there is, and this could also have its policies, limits, configuration and resources limits.
- Windows maybe is generally not great

[2021-10-27 10:58] franramirez688 commented on #3230
Hi @atrelinski

I'm trying to reproduce the issue in my system and I was not able to achieve it. Let me explain my case to check together if I'm doing something wrong or perhaps, it could be solved for the latest Conan version.

### Environment Details (include every applicable attribute)
* Operating System+version: macOS 11.6
* Compiler+version: Clang 12.0.0
* Conan version: 1.41
* Python version

[2021-10-27 11:25] arttet commented on #9537
Hi @franramirez688

When I added `set(CMAKE_CXX_FLAGS_RELEASE "-MT")`, I got the following error:
[code]
I think there is a bug related to my new `conanfile.py`.

[2021-10-27 11:43] memsharded commented on #9608
@dheater The problem with this fine grained subsettings, like something for ``libc`` is that they force you into an exact version. Settings do not have ranges of values, every ``libc`` will give you a new binary. This might be ok if you want to work with exact libc version all around, but in practice this is not the common thing, but to work with ranges of libc (typical RHEL6 with older libc, mode

[2021-10-27 11:53] memsharded commented on #9880
Hi @burgerkiller79

As a first, quick feedback, I would like to comment that we are thinking about deprecating the ``compatible_packages`` feature. It is a very complicated and problematic one, and the value is limited. Mostly because the selection of the settings to be applied for each package can easily be defined in profiles (like ``D:setting1=value1 settings1=value``), and also for many packag

[2021-10-27 12:00] arttet commented on #9537
Hi @franramirez688

I was figuring out what was happening. The problem is due to avoiding the `-MT` flag. I added `compile_commands.json` to CI to confirm it. You can [download](https://github.com/arttet/reproduce-bugs/actions/runs/1389957655) this file and check it.

[2021-10-27 12:10] franramirez688 commented on #9537
Oh, very good catch @arttet!

Let me have a look at the Conan code because it could be a bug using Clang + runtime flag then.

[2021-10-27 12:17] burgerkiller79 commented on #9880
Hi @memsharded and thank you for the quick response.

We are currently using compatible_packages a lot with the use case of creating packages with multiple builds (debug and release) and providing compatible package ids for all of the involved build types. This is mostly due to us having a complete build system based on CMake and its config scripts, which requires having all build types within the

[2021-10-27 12:23] memsharded commented on #9880
Do you know that ``CMakeDeps`` generator allows to switch build_type from the IDE, without doing that? It works well even using ``editable`` packages, if you want to see the updated section in: https://docs.conan.io/en/latest/developing_packages/editable_packages.html (and this was the base for a demo with Visual Studio done in the last meetup, if you want to check the live video in https://www.yo

[2021-10-27 13:31] aucampia commented on #9871
Thanks for the info. I'm closing this as my original question is answered as best possible I think, and I will open new questions for additional info on similar subjects.

[2021-10-27 13:31] #9871 closed, assigned to memsharded

[2021-10-27 14:22] dheater commented on #9608
For Mac development I am specifying the minimum SDK. I can build with a newer SDK and it seems to provide backwards compatibility.  In my profile:
[code]

[2021-10-27 14:27] jwillikers opened #9885 "[feature] Add option to delete necessary files / directories when running conan config install"
An issue that I've run into is that restructuring the structure of Conan profiles in a shared Conan configuration via Git can fail when switching a file to a directory of the same name or vice versa.
This pretty much fails without explanation, so the error message should probably be improved.
Perhaps it would be best to make this default behavior, which wouldn't require anything special to ensure

[2021-10-27 14:43] memsharded commented on #9608
@NoWiseMan could please you confirm the above ``Changing an SDK is a big deal as it removes APIs, ``? Because that means the SDK doesn't provide backwards compatibility.

@dheater Regarding ``CFLAGS=-mmacosx-version-min=10.15``, that is the OS version, not the SDK one, isn't it? (I am no Mac user). Conan toolchains will map the ``os.version`` setting to this compiler flag. The OS might indeed have

[2021-10-27 14:54] czoido commented on #9608
We finally decided to wait a bit, until we release the Xcode toolchain and build helper and have more information about how everything works with the Apple sdk's so I'm moving this 1.43 milestone.

[2021-10-27 15:52] burgerkiller79 commented on #9880
Thank you for the links and nice talk - good to see some hands on live footage :).

We make heavy use of the workspace install feature with lots of dynamic libraries involved for use in the IDE until the point we are creating the packages. So far, the reason that kept us from using single builds for our packages was that CMake find_package does not support adding build type target scripts from dif

[2021-10-27 15:58] #9742 closed, assigned to memsharded

[2021-10-27 16:17] #9748 closed, assigned to franramirez688

[2021-10-27 16:26] franramirez688 commented on #9537
Hi @arttet

I still have doubts about if Conan is causing the issue.
I have been trying to figure out the problem and I'm not able to get it yet.

If we look at the output:

[code]

There are tons of flags that Conan is not including at all, like `-DNDEBUG -D_DLL -D_MT` ones for instance.
I'm going to try to reproduce the issue with a simpler case.

[2021-10-27 16:45] michaelmaguire commented on #9805
So no range comparisons for our beta or rc builds...

I love that semantic versioning doesn't follow semantic versioning:

https://semver.org/spec/v2.0.0-rc.2.html

[2021-10-27 16:49] NicolasIRAGNE commented on #9874
Hello again,

I got it working :partying_face: :tada: .

I am so relieved. I had to tweak some packages here and there for them to generate correct targets for CMake but otherwise i managed to compile my project with it. I'm still having some issues with symbolic links here and there but it's just small typos.

Many thanks to you.

[2021-10-27 16:56] memsharded commented on #9874
🎉 🎉 🎉 🎉 😄 Great, happy to hear that!

I guess that you have managed to make it work making sure the libs are correctly packaged, that the ``set_property`` for custom filenames and custom target names (in case you needed them), and tuning the ``package_info()`` of the recipes in general.

Thanks to you for following up. If this is solved, I think we can close it, but I would suggest to keep en eye

[2021-10-27 17:46] memsharded commented on #9878
Hi @w3sip

We are actively working on a new generator ``XcodeDeps`` that will be released in next 1.42 very soon. I'd recommend to start using it when it is released, it will be more maintained and moved forward to 2.0.

Lets see if @SSE4 can have a look to this (if it is a possible and no-risk fix to legacy ``xcode`` generator)

[2021-10-27 17:55] eleftg opened #9888 "[bug] Using CMakeToolchain + msvc impossible with standard installation of VS2015"
### Environment Details
  * Operating System+version: Windows ANY
  * Compiler+version: `cl.exe 19.00` (`msvc 19.0` according to `settings.yml`) from a standard VS2015 installation
  * Conan version: 1.41.0
  * Python version: 3.8.9

### Steps to reproduce

When using the `msvc 19.0` compiler of a "standard" Visual Studio 2015 installation ("standard" meaning that it's not the "MSVC v140 - VS 2015

[2021-10-27 18:24] memsharded commented on #9888
Hi @eleftg

You are correct. https://github.com/conan-io/conan/pull/9889 should fix it (in case you want to run from that source branch to validate), and it will be released in 1.42 very soon.

[2021-10-27 19:04] NicolasIRAGNE commented on #9874
Indeed, I had some trouble with some case sensitive target but nothing a quick package_info() tweak can't fix.

I will keep an eye on releases, this is definitely a tool I find very useful.
I hesitated a long time between 1) using Conan for what I wanted to do even though it wasn't *exactly* what it was made for and 2) quickly developing a rudimentary tool instead. In the end, I am glad I chose Co

[2021-10-27 19:04] #9874 closed, assigned to nobody

[2021-10-27 20:20] #9888 closed, assigned to memsharded

[2021-10-27 20:20] #9683 closed, assigned to tapia

[2021-10-27 21:32] memsharded commented on #9591
Thanks @ytimenkov for the reproducible test, that really helped.

I am investigating this possible fix here: https://github.com/conan-io/conan/pull/9890. Lets see how it goes. Irrespective of if this can progress, I would like to comment a few things:

- This might be solved in Conan 2.0, we are trying to simplify the lockfiles so they don't have these issues.
- We are considering and we will subm

[2021-10-27 21:40] arttet commented on #9503
Hi @memsharded

Thank you so much. I reproduced your example and got the same result.

[2021-10-28 02:25] drmacdon commented on #9390
Using CMakeDeps in generate() and adding explicit entries to build_context_activated does provide the package configs for build_requirements.

private=True is still broken on package imports, and using private=False ends up generating too many package configs for my shared library built from statics.

Is there a way in package_info() to explicitly control which dependencies I want to expose?

[2021-10-28 06:14] czoido commented on #9725
Closed by https://github.com/conan-io/conan/pull/9884

[2021-10-28 06:14] #9725 closed, assigned to lasote

[2021-10-28 07:24] eleftg commented on #9888
Thanks for the lightning-fast response & fix! I'll try testing it as soon as possible and report back.

[2021-10-28 08:30] n00b42 commented on #8214
@memsharded Should the .gitignored files already be ignored? (At least did not work for me. SCM gitignore seems to be tracked by #6617 )

[2021-10-28 08:35] n00b42 commented on #6617
A usecase: CI pipeline clones project. To not pollute the build server we set CONAN_HOME to the project folder and add ".conan/**" to .gitignore
However, currently, all contents of .conan are copied, resulting in an ever growing .conan folder (copies itself in itself)

[2021-10-28 09:38] franramirez688 commented on #9537
Hi @arttet

I just updated my open PR and it seems to be working now: https://github.com/arttet/reproduce-bugs/pull/3

I was able to dig deeper into the issue (I had to create a minimal `test.cpp` and make it run without Conan) and, finally, adding a simple `-MT` to the CXXFLAGS was enough to work around the issue.
I would like to open a new issue about improving the Clang runtime management becau

[2021-10-28 10:35] arttet commented on #9537
Hi @franramirez688

That workaround looks good. I merged your PR.
If you could keep me in the loop regarding this issue, I would appreciate it.

[2021-10-28 10:40] #9591 closed, assigned to nobody

[2021-10-28 10:40] arttet commented on #9434
Hi @memsharded, @dmn-star

Could you please update the status of this issue?

[2021-10-28 10:54] ytimenkov commented on #9591
@memsharded  Thanks for addressing this!

I won't be screaming if you remove compatible packages (CP) feature if it complicates things much, but I find the concept of it quite handy.

The major difference is that with CP it's the package which advertises its capabilities rather than "pull" with profiles. Somewhat in line with newly-introduced "package types".

We have a number of libraries which h

[2021-10-28 10:58] tapia commented on #9863
It was a package in the Conan Center remote with a wrong version string (`crowcpp-crow 0.3 2`, with a space between the 3 and the 2). It's already fixed.

[2021-10-28 10:58] #9863 closed, assigned to tapia

[2021-10-28 11:54] KerstinKeller opened #9893 "[bug] Strange error with supposedly missing package"
I have a very strange error with a supposedly missing package on the server.
The recipe in choice has a `build_requires` for `cmake`, and our `cmake` recipe has the `os_build` setting only (we haven`t gotten round to using two profiles yet).

[code]

It complains about missing package, also the ID it is looking for does exist on the server. This is the latest Conan Version. Am I missing something?

[2021-10-28 11:55] KerstinKeller commented on #9768
Ah ok, I'll close this in favor of the other issue.

[2021-10-28 11:55] #9768 closed, assigned to nobody

[2021-10-28 12:01] memsharded commented on #9893
Can you try removing the local cache ``cmake/3.16.3@user/stable`` recipe, and try again, so we can see what the ``conan install ..`` output is saying? A possibility is that for some reason the local recipe got disconnected from the server, and it is not even checking? Something else to try would be with ``--update``

[2021-10-28 12:05] KerstinKeller commented on #9893
Ah thanks for the quick reply, `--update` didn`t help, but deleting the recipe did. It must have somehow been different from the server.
What's a good way to find out, in conan commands? I guess then the RREV must have been different.

[2021-10-28 12:13] #9893 closed, assigned to nobody

[2021-10-28 12:22] franramirez688 opened #9895 "[feature] Improve Clang runtime management"
Clang has this definition of runtime in our `settings.yml`:

[code]

We're not managing properly these runtime flags and we should do the same as for `Visual Studio` case because it's confusing you can use it but Conan is doing nothing.

Original issue: https://github.com/conan-io/conan/issues/9537

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CON

[2021-10-28 12:23] memsharded commented on #9893
Maybe ``conan remote list_ref`` can tell you the remotes that were used to install the recipe, and it might not show such remote. I suspect that this is something that can happen if:
- A package recipe is installed from remote
- The remote is removed, the recipe is dissasociated from the remote
- Next install, conan thinks the recipe is local (as created with ``conan export``), and as such, it won

[2021-10-28 12:24] franramirez688 commented on #9537
Hi @arttet

I have opened one issue to improve the Clang-runtime-flags management: https://github.com/conan-io/conan/issues/9895
I'll keep you posted.

[2021-10-28 12:51] lasote commented on #9885
Hi, I think I understand but do you have an error trace you can share? Sounds a bit like a corner case, right?

[2021-10-28 13:00] jwillikers commented on #9885
@lasote Sorry, I probably should have filed this using the bug template. I'll update the issue to describe the exact steps to make this happen. I don't think this is quite a _corner_ case, though, as I think this could reasonably happen under normal usage of the `conan config install` command, especially as things are better organized as they grow and evolve over time.

[2021-10-28 13:15] jwillikers commented on #9885
@lasote I've added steps to reproduce the issue including the error trace... not that it is much of an error trace.

[2021-10-28 13:56] arttet commented on #9503
Hi @memsharded

I faced the following problem when I used the [msvc](https://github.com/arttet/reproduce-bugs/tree/bug/msvc-14.29) flag:
[code]
What can be wrong?

[2021-10-28 14:08] franramirez688 commented on #9537
Let's close the issue and if anything happens again we can reopen it for sure.

[2021-10-28 14:08] #9537 closed, assigned to franramirez688

[2021-10-28 14:46] #6971 closed, assigned to jgsogo

[2021-10-28 14:53] franramirez688 commented on #9503
I saw that `benchmark` was declared as a `build_require` so this is a special case.

You'll have to add something like the code below into your `conanfile.py`:

[code]
Now, if you run it again that problem should be solved.

You have more information [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated).

[2021-10-28 14:58] joastoe opened #9897 "[question] pkg_config generator with layout generates invalid .pc file"
I'm quite new to conan and trying to integrate it into our current build flow (not from scratch).

We use cmake which finds its dependencies with pkg_config (pkg_search_module). So I set up a test of two libs one requiring another, LibA depends on LibB. So when building LibA the pkg_config generator succesfully generates the .pc files

[code]

So far so good, now I wanted to switch to layouts and

[2021-10-28 15:03] memsharded commented on #9897
Hi @joastoe

It seems you are mixing things. If you aim to use the ``layout()`` you should be using the modern build system integrations:
- PkgConfigDeps, and not ``pkg_config``
- CMake is from ``from conan.tools.cmake import CMake``, and should be used together with CMakeToolchain and CMakeDeps

You want to use things from this section https://docs.conan.io/en/latest/reference/conanfile/tools.htm

[2021-10-28 15:03] mjvankampen opened #9898 "[feature] powershell generation in VirtualBuildEnv/VirtualRunEnv"
Currently only shell and bat scripts are generated. On Windows I mainly use powershell, even on Linux I use powershell quite a bit as it is cross platform.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-28 15:05] mjvankampen commented on #8453
Excuse me I need to use the new generators.

[2021-10-28 15:06] memsharded commented on #9898
Hi @mjvankampen

Yes, you are right. We have been delaying this because we know very little PS and we struggled at the first try. Some help here would be very appreciated, and if nobody contributes it, we will try to add them when possible (not a huge priority now, because we are focused on validating that the big picture of this new environment, together with all the new integrations is working)

[2021-10-28 16:39] arttet commented on #9503
Hi @franramirez688

Thank you for an inspiring response. I built my example. However, when I used the following profile:
[code]

And I got the following errors:
[code]

I also noticed the following strange thing:
[code]

[2021-10-28 16:39] 0x8000-0000 commented on #9693
Hi @memsharded ,

I am using the profile as you suggested, but MSVC 17.0.0rc3 reports:

cl : Command line warning D9002 : ignoring unknown option '/dynamic'

     -- The C compiler identification is MSVC 19.30.30705.0
     -- The CXX compiler identification is MSVC 19.30.30705.0
     -- Detecting C compiler ABI info
     -- Detecting C compiler ABI info - done
     -- Check for working C compiler:

[2021-10-28 16:45] memsharded commented on #9693
Sorry, the output is not fully clear. Can we reproduce this with a ``conan new hello/0.1 --template=cmake_lib`` and the above profile? What is the full output for that case?

[2021-10-28 16:53] 0x8000-0000 commented on #9693
I'll try that... but here is the output while building the Google benchmark package:

     [1/22] Building CXX object source_subfolder\src\CMakeFiles\benchmark_main.dir\benchmark_main.cc.obj
     cl : Command line warning D9002 : ignoring unknown option '/dynamic'
     [2/22] Building CXX object source_subfolder\src\CMakeFiles\benchmark.dir\benchmark_name.cc.obj
     cl : Command line warning D900

[2021-10-28 17:01] 0x8000-0000 commented on #9693
It seems a new library is using MSBuild as a target, despite me adding "CONAN_CMAKE_GENERATOR=Ninja" to the [env] section of the profile.

Here's the full output:

Exporting package recipe
hello/0.1@hello/0.1 exports_sources: Copied 1 '.txt' file: CMakeLists.txt
hello/0.1@hello/0.1 exports_sources: Copied 1 '.cpp' file: hello.cpp
hello/0.1@hello/0.1 exports_sources: Copied 1 '.h' file: hello.h
hel

[2021-10-28 17:05] 0x8000-0000 commented on #9693
The Google Benchmark recipe is not using the new toolchain method:

    from conans import ConanFile, CMake, tools
    from conans.errors import ConanInvalidConfiguration
    import os

    class BenchmarkConan(ConanFile):
        name = "benchmark"
        description = "A microbenchmark support library."
        topics = ("conan", "benchmark", "google", "microbenchmark")
        url = "https://g

[2021-10-28 17:55] uilianries opened #9900 "[bug] Option value None is parsed as string"
When an option value is passed as `None`, it's automatically converted to string. Conan client should honor the original type to avoid prone errors. Same behavior when using default option value or passing by parameter.

### Environment Details (include every applicable attribute)
  * Operating System+version: ANY
  * Compiler+version: Doesn't apply
  * Conan version: 1.41
  * Python version: 3.7

[2021-10-28 18:04] memsharded commented on #9900
This will be addressed in https://github.com/conan-io/conan/pull/9840

``None`` will be respected. Still the comparison must be done with ``self.options.bar == None``, as the ``is`` doesn't hold for custom objects, and ``.bar`` is an object around the None value

[2021-10-28 18:05] memsharded commented on #9693
Yes, this is expected. The legacy integrations will not fully handle ``msvc`` new setting.

[2021-10-28 18:27] 0x8000-0000 commented on #9693
Oh. We only have legacy integrations for now (we have a ticket in place to upgrade.)

So, what should we do? Skip the dynamic for now, or just let the compiler complain about it?

But, furthermore, what to do about the Ninja target? Should we take it out of the profile? I have added it there, because with our legacy integrations, we're observing errors:

      CMake Error: CMake was unable to find

[2021-10-28 19:48] w3sip opened #9901 "[question] Native build"
Would you consider

```conan create . Proj/1.0@org/local -pr profile```

and

```conan create . Proj/1.0@org/local -pr:h profile -pr:b profile```

identical commands? I'm seeing differences in behavior, and wonder if it is by design, or a bug.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-28 20:01] w3sip opened #9902 "[question] Static dependencies"
When we started with Conan, the understanding we developed is that if dependency is only needed during build (but not necessarily for the CI/build environment), this dependency was referenced via `build_requires`, and if that dependency is used during runtime, it is referenced via `requires`.

The documentation for 1.41.0 is pretty explicit in disproving this believe. And that makes sense in conte

[2021-10-28 20:23] gmeeker opened #9903 "[feature] Build variants to manage iOS/OSX universal binaries"
Although using CMake with Xcode supports universal binaries, many libraries are using other build systems.  This has been discussed in https://github.com/conan-io/conan-extensions/issues/59 but it's complicated and specific to Apple.  It's also apparently an issue for Android as discussed in https://github.com/conan-io/conan/issues/6384 (I'm not familiar with Android.)

This proposal, however, is

[2021-10-28 21:20] memsharded commented on #9902
One of the main problems with build_requires is that they cannot affect the package_id of the consumers, by definition. So that is a very bad situation for a shared library that depends on a static library regarding the re-build, build-order, CI, etc. As it is not that typical to mix shared-static, and build-systems can also filter what they are linking, it might be better to use regular ``require

[2021-10-28 21:24] memsharded commented on #9901
It is completely by design. Specifying the "build" profile is the opt-in we have defined to activate a new graph resolution that defines the "build" and "host" contexts, and indeed, the resulting graph can be different, the propagated information will be different. This was necessary to avoid breaking, as this is changing behavior

Conan 2.0 will also use the new mode by default, when you don't pa

[2021-10-28 21:29] w3sip commented on #9902
I've just discovered the `private` parameter to `requires` -- sounds like it does what I'd expect in this case? If so, would 2.0 preserve this?

[2021-10-28 21:30] memsharded commented on #9903
In theory, fat binaries are only useful for final deployment, but not in the Conan development process. As such, it would be better to focus on the creation of fat binaries with lipo as part of the final "imports" or "deploy" scenario. Packaging fat binaries makes things way more complex and the value added in the development flow is very little to none. We still have this possibility, even for ot

[2021-10-28 21:31] memsharded commented on #9902
``private`` in 1.X should probably be used only in extreme case, where there is absolutely no other alternative, as they have their limitations too. Yes, 2.0 will have a way more advanced graph model, you can read about it in: https://github.com/conan-io/tribe/pull/26

[2021-10-28 21:34] memsharded commented on #9693
Yes, we are mostly not touching the legacy integrations unless we break something in the release. If it is only a warning, then it might be ok for now?

Specifying the Ninja generator will also have a new way in 2.0, the "conf" (you can already have a look to the new ``conf`` items in 1.41 with ``conan config list``, that will list many things including ``tools.cmake.cmaketoolchain:generator: User

[2021-10-28 23:11] kobi-ca opened #9906 "Understanding exports_sources and CMake's add_subdirectory"
Hello Kings of the swamp,

My understanding is that when I have something like:
[code]

`conan create` would take all of these and place it in the `.conan/...` (aka the recipe).
I also realized, though I'm not sure, that if code in `tests/CMakeLists.txt` need some package to link with, e.g. `boost` but the **rest** of the tree does not need it, since I have it in `exports_sources` it is as if the

[2021-10-28 23:32] memsharded commented on #9906
if you wanted to maintain "tests" and build and run them when you build the packge, this might be a case for ``build_requires``. This dependency of boost is used only for running the tests, but as you said, boost will not be linked or be part of the final packaged library or executable in any way. In this sense, boost is like "catch2", "gtest", or "cmake", something that is exclusively used at bui

[2021-10-29 00:02] kobi-ca commented on #9906
Thanks @memsharded trying it now. Looks promising. Still building.
I added:
[code]

and:
[code]

and
[code]

I needed to place `find_package(Boost REQUIRED)` inside the `if` since otherwise there is an error of `BZip2` not found. not sure yet why but I'll get back to it later.

BTW, for some reason, building is never parallel (i.e. like there is no `-j`)

[2021-10-29 00:05] kobi-ca commented on #9906
OK. It worked. Thank you so much as usual. Take a look at my message above and see if you have any comments. otherwise, we can close it. thanks!

[2021-10-29 00:24] paulocoutinhox opened #9907 "[feature] Compatibility with Jinja2 V3"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,

Can you add support for Jinja2 V3? Because today, all projects with Jinja2 V3 have problems with conan:

[code]

Thanks.

[2021-10-29 04:02] kobi-ca commented on #9906
OK. here is what I found:

this works when running conan create .`
[code]
But, as soon as I try to put Boost in build_requires, it forces me (otherwise there are errors) to explicitly bring in all the deps:
[code]
Needed to add one by one and eventually satisfy the whole dep-tree:
https://conan.io/center/boost?version=1.69.0&tab=dependencies

what am I missing here?

Thanks!

[2021-10-29 06:16] lasote commented on #9885
Thanks, I see not that is not that weird and is totally unexpected. I'll check what can we improve.

[2021-10-29 07:29] lasote commented on #9907
Hi @paulo-coutinho, to understand better the situation, is it necessary to have "conan" and these other projects in the same python virtual environment?

[2021-10-29 08:04] #9885 closed, assigned to lasote

[2021-10-29 08:11] memsharded commented on #9906
I think it might be related to the nature of ``build_requires``, not intended to be used via ``find_package(), and this also depends on if you are using the "build" and "host" profiles. The direction should be:

- Put ``boost`` as ``self.requires("boost...", force_host_context=True)`` inside ``requirements()``, this indicates this dep is in the "host" context.
- That should handle the transitive d

[2021-10-29 08:46] lasote commented on #9885
A fix will be released in 1.43.
It will remove the previous file if a directory is going to be copied and it will remove the directory if now a file is going to be copied.

[2021-10-29 09:47] #9878 closed, assigned to SSE4

[2021-10-29 11:27] memsharded commented on #9503
This means you are still using the legacy integrations somewhere. You shouldn't be mixing ``CMakeDeps`` with it, they are exclusive.

[2021-10-29 11:28] jwillikers commented on #9885
Awesome, that's fantastic!

[2021-10-29 12:21] arttet commented on #9503
Hi @memsharded

I think I use only a modern approach.

[code]

Do I have this problem because of the Conan recipe of benchmark? What can I do?

[2021-10-29 12:42] memsharded commented on #9503
Yes, if what is failing is the ``benchmark`` recipe, it is needed to modernize the ``benchmark`` recipe, so it works with the new ``msvc`` settings. There is a process of modernization of ConanCenter recipes to be prepared for Conan 2.0, but that will take a while.

[2021-10-29 13:01] arttet commented on #9503
OK, thank you

[2021-10-29 13:28] zawlin opened #9912 "[question] Revisions with different dependencies in requires"
I have a question about how revisions are supposed to work with packages that can produce multiple binaries depending on different requires. For example, we need to build opencv with cuda 10 and 11. Without revisions, the workflow is

* Create conanfile.py with opencv with `requires = 'cuda/10.0'`
* buid -> export pkg
* edit conanfile.py and update `requires = 'cuda/11.0'`
* build -> export pkg
*

[2021-10-29 13:45] memsharded commented on #9912
Hi @zawlin

What is the problem that you are seeing? Is it "missing binary" or is it a "version conflict"?

When you are doing some change to the recipe, and changing it, it will have  a different revision. The different binaries that belong to that revision should be built. If the new revision needs to build still with both ``cuda/10`` and ``cuda/11``, you should build those 2 binaries. The binar

[2021-10-29 14:11] kobi-ca commented on #9906
thank you @memsharded !!

[2021-10-29 14:11] #9906 closed, assigned to memsharded

[2021-10-29 14:35] zawlin commented on #9912
The error I am seeing is "missing binary". Thanks for your suggestion, I understand now how it should work and tested it with my recipes.

However, I run into a bit of problem. I use the following to create the package and quickly test the scenario. My recipe does not yet work with "conan create"

1. Create zlib 1.2.8
    * conan install .
    * conan build .
    * conan export-pkg .
2. Create zli

[2021-10-29 14:42] memsharded commented on #9912
It seems you are using the same ``conan install . --require-override=zlib/1.2.8`` in both steps 3 and 4?

It is very possible that the ``export-pkg`` is missing the ``--require-override`` argument, as it was mainly designed for ``create`` and ``install``, but not for ``export-pkg``. In that case, we should add it

[2021-10-29 14:49] zawlin commented on #9912
It was a typo.  I was using the correct override in install. I think yes export-pkg is using the default greedy resolution which resolves to 2.2.8 and there is now no option to specify override.

[2021-10-29 14:52] memsharded commented on #9912
Ok, makes sense. I would recommend the ``conan create`` flow while this is being added. It should be equivalent to your install + build + export-pkg

[2021-10-29 15:40] blackliner commented on #6870
Hey everyone, what is the current state of transactional uploads? We regularly have corrupt packages stored on Artifactory, because the upload gets interrupted by Jenkins when another pipeline fails.

[2021-10-29 18:31] paulocoutinhox commented on #9907
Hi,

I think that normal conan users don't use virtual env and i think that jinja2 v2 or v3 dont will make difference for conan usage.

I don't use python things in virtual env and have this kind of problem.

I don't know if it is a real problem for most people, but at the same time, i think that conan can use v2 or v3 without problems.

Thanks.

[2021-10-30 01:19] ghost opened #9915 "[question] base lockfile with options"
So I have package revisions enabled and would like to follow this example assuming all packages are using the same version, user and channel, and thus I omitted them.

`app` depends on `pkga` and `pkg01` when `-o app:variant=01`
`app` depends on `pkga` and `pkg02` when `-o app:variant=02`

I want to create a base lock file for `app` because of this paragraph in [Lockfiles -> Multiple Configuration

[2021-10-30 20:22] memsharded commented on #9915
Hi @altflg

The ``base`` lockfile can only store a common subset of the dependencies. If you have incompatible dependencies for different configurations, you will need to capture and lock 2 different full lockfiles each one for each configuration.

Conan 2.0 lockfiles will probably improve over this, but it will take a while until GA, it is still under heavy development.

[2021-10-31 15:42] 0x8000-0000 commented on #9693
We have encountered problems with the Ninja generator and MSVC 16.11 (2019) toolset (if I remember correctly the .pdb were not generated, or generated in the wrong directory and didn't end up in the package.)  There might be a period of overlap where some engineers use the old profiles with the old MSVC and some engineers need to use both. Setting up Ninja globally might not be a solution that wor

[2021-10-31 16:51] memsharded commented on #9693
This is because the first step is stabilizing, migrating and making more used in general the new integrations, which is the thing that we are heavily advocating now, e.g.: https://blog.conan.io/2021/10/19/New-CMake-Transparent-Integration-Guide.html. Once the new integrations are spread, it will be easier and less painful to use new settings like the ``msvc`` or the new ``intel-cc`` compiler. But

[2021-10-31 18:55] praetorian20 opened #9917 "[question] conan install won't generate FindXXX.cmake"
Hi,
Sorry for the long post, I tried to cut out some text but didn't want to leave out too much context accidentally.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm trying to integrate [dpdk-kmods](http://git.dpdk.org/dpdk-kmods) as a conan package in my repo. I have this working but currently I have both a `conanfile.py` and

[2021-10-31 20:15] Deflaktor commented on #9915
Thank you for answering my question. Issue can be closed.

Btw. I really like conan and the work you guys are putting into it. Thanks for creating such an amazing tool. Keep it up!

[2021-11-01 12:55] joastoe commented on #9897
Hi @memsharded

Thanks very much for your response. With your info provided, I was able solve my problems.

One thing that came to mind: Is it also possible to make advantage of the **editable** feature without using `layout()` and the modern build system integrations?

[2021-11-01 16:04] gouriano opened #9919 "Unable to build protobuf/grpc"
I am trying to build protobuf and grpc from sources and fail.

My OS: CentOS Linux release 7.9.2009
Compiler: GCC 7.3.0
I have the following conanfile.txt

`
    [requires]
    protobuf/3.17.1
    grpc/1.39.1
`

and run this command:
conan install . --build protobuf --build grpc --build missing

and it fails with messages like this:

build_subfolder/gens/src/proto/grpc/channelz/channelz.pb.cc:563:

[2021-11-01 16:10] gouriano commented on #9919
Maybe it requires a newer compiler?
The same setup works just fine on Windows, with Visual Studio 2019

[2021-11-01 16:40] gouriano opened #9920 "Unable to build openssl"
I am trying to build openssl from sources and fail.

My OS: CentOS Linux release 7.9.2009
Compiler: GCC 7.3.0
I have the following conanfile.txt

    [requires]
    openssl/1.1.1l

and run this command:
conan install . --build

It fails during installation:

    install libcrypto.a -> /export/home/gouriano/Conan/.conan/data/openssl/1.1.1l/_/_/package/d50a0d523d98c15bb147b18fa7d203887c38be8b/lib/li

[2021-11-01 18:10] gouriano opened #9921 "Unable to build libdb"
I am trying to build libdb and fail.

My OS: macOS Catalina, version 10.15.7
Compiler: AppleClang 12.0.0.12000032
I have the following conanfile.txt

    [requires]
    libdb/5.3.28

and run this command:
conan install . --build missing

It fails during configuration:

    checking for mutexes... UNIX/fcntl
    configure: error: Support for FCNTL mutexes was removed in BDB 4.8.
    libdb/5.3.28:

[2021-11-01 18:51] memsharded commented on #9921
This looks like a potential ConanCenter recipe issue, not a Conan client one, pinging @uilianries and @SSE4 and moving it to conan-center-index

[2021-11-01 18:53] memsharded commented on #9920
Same as the other, could be a recipe issue. Asking for help to @SSE4 and @uilianries. Not moving it yet to conan-center-index, apparently too many builds are failing?

[2021-11-01 18:54] memsharded commented on #9919
If the recipe requires a more modern compiler, then the typical recipe should raise a ``ConanInvalidConfiguration`` error to indicate such

[2021-11-01 19:23] memsharded commented on #9897
If you are thinking about the legacy "editable" layout definition, that used external template jinja files, no, it will not play well together. The new build system integrations already listen and follow the new layout definition, having the ``layout()`` method or not.

[2021-11-01 19:25] memsharded commented on #9915
Thanks @Deflaktor for the feedback and the kind words! :)

If you like Conan already, keep tuned for 2.0, we are really excited about it!

[2021-11-01 19:25] #9915 closed, assigned to nobody

[2021-11-01 19:59] uilianries commented on #9920
I see CentOS, which we don't use on Conan Center Index and it's different from Debian/Ubuntu distros. Probably some system application (install) uses an older version, which misses an argument. We have a retired Docker image for CentOS 6, I'll take a look to reproduce that error, but I'm sure it's a recipe error, I mean, it's not prepared to be executed on CentOS

[2021-11-01 20:01] uilianries commented on #9919
Yes, it requires a newer version, but still your error message is not accurate and doesn't help you. The recipe should raise `ConanInvalidConfiguration` with something more helpful.

[2021-11-01 22:30] paulocoutinhox commented on #9900
Hi @memsharded,

So i need revert this commit:
https://github.com/ezored/conan-darwin-toolchain/commit/62263f0573950ea438ee1f00a11cfd38b1e11397

Correct?

[2021-11-02 02:06] deadash opened #9922 "[question] Why use ninja in meson to replace meson's built-in compilation"
Use meson to compile, only support backend to ninja, if I modify it to not support anything else, such as vs, I also need to use msbuild to compile.

The following is the code

[code]

If I change the compilation of ninja to meson, it can also be successful, as follows

[code]

I omitted the generation target here, meson is supported.

Using ninja also has the problem that the meson file cannot be

[2021-11-02 08:28] lasote commented on #9917
Hi, I think I see the issue, let me explain the difference between `conan create` and `conan install`.

- `conan create`: It reads a local recipe (conanfile.py) and:
       1) Exports the recipe to cache so a consumer can find it
       2) Run the `source` + `build` + `package` from the conanfile.py to build a package binary of the specified configuration in the cache

- `conan install <arg>`:

[2021-11-02 09:43] ganzyfrenzy opened #9923 "<URGENT> Issue with Conan -- Unable to build or publish"
Hello, My name is Rajguru from Germany.
I have severe issues with conan that, it cannot build or publish. It shows 'building environment.. locked by another concurrent conan process, wait....
NOTE : I performed 'conan remove --locks' command, still issue exist.

Can you please support me in resolving this at the earliest ?

[2021-11-02 10:11] SSE4 commented on #9922
hello!

I think it's just a historic thing, AFAIK meson is usually used in conjunction with ninja and pkg-config, that's at least the main use-case I am aware of. [backend agnostic compile command](https://mesonbuild.com/Release-notes-for-0-54-0.html#backend-agnostic-compile-command) is a pretty new thing, introduced in the very recent release of meson 0.54, while Conan implementation of build hel

[2021-11-02 10:14] SSE4 commented on #9919
according to their docs: https://github.com/grpc/grpc/tree/master/src/cpp
[code]

they claim GCC 4.9+ on CentOS is supported, so GCC 7.3.0 should be also supported.

[2021-11-02 10:32] harsszegi commented on #5738
Any update on this? This still appears to be broken. What is the canonical way of checking whether a given package already existing in the cache has a fresher version in the remote? (Without conan install)

[2021-11-02 12:23] memsharded commented on #9923
Hi @ganzyfrenzy

If the ``conan remove --locks`` is showing any error output, I would like to see it.

Otherwise, these are the next things I would try:
- Remove all the  *.lock files and ``locks`` folders inside your cache (typically in ``userhome/.conan`` or where CONAN_USER_HOME is pointing to), and try again
- Completely clean your cache. Remove the ``userhome/.conan`` folder completely, and l

[2021-11-02 12:29] memsharded commented on #5738
Hi @harsszegi

There is no way to check all installed packages in the cache against new versions in the servers. If you want to check what is in the servers, the way to go is ``conan search pkg/* -r=server``. This issue is not related to new versions, but modified artifacts of the same version (manifest changed). This will no longer be a thing with revisions enabled (the default for Conan 2.0), as

[2021-11-02 12:33] memsharded commented on #9900
#9840 is for ``develop2`` will be released in 2.0, not now. But yes, your revert seems correct, the ``is`` cannot be used now in Conan 1.X, and it won't be possible either in 2.0. What will change in 2.0 is that ``if self.options.enable_bitcode == "None":`` and ``if self.options.enable_bitcode == None:`` will be different things, as pure Python ``None`` will be different to string text ``"None"``,

[2021-11-02 13:16] deadash commented on #9922
Hello,

This means that when I modify the content of meson.build, ninja does not modify it, and it will be modified at the same time when I use meson compile to generate it.

No special test is performed, and the build directory needs to be deleted every time the meson.build file changes during use.

There is not much difference between ninja and VS, but VS is easy to make a little change, such as

[2021-11-02 13:36] harsszegi commented on #5738
Thanks @memsharded , just a quick question. I wanted to use ‘conan info’ to figure out the exact resolved version for an alias package.
What should I use instead to figure out whether a.) the given package is available in the cache and b.) what is in the cache is the latest available in the remotes as well.
Thanks!

[2021-11-02 14:29] gpxricky commented on #9854
@memsharded Sorry to ask you directly, but do you know some recommendations how to solve my problem and properly create a lockfile that provides both, valid options and build dependencies?

[2021-11-02 14:38] NoWiseMan commented on #9608
@memsharded Yes, it is possible for an API to be removed, added, or deprecated. There may also be different behavior of the API that is still present. This is more likely in the higher layers of AppKit than in the API for C++ libraries. But yes, there can be big changes.

@dheater
mmacosx-version-min is a different thing, it sets the min os version on which the lib/app runs. This will change the c

[2021-11-02 15:39] #9829 closed, assigned to memsharded

[2021-11-02 17:14] praetorian20 commented on #9917
Thank you for the detailed explanation @lasote. Both methods you described work, so I can use one of those. But I have another question.

I was using the `conan install <options> path_or_reference reference` signature where `path_or_reference=.` (current directory, which contains `conanfile.py`) and `reference=Dpdk-kmods/2021.5-5-gc3387ac-dirty@`.

What is the significance of the `reference` argum

[2021-11-02 18:57] vakatov commented on #9919
@gouriano - FWIW, I just tried building it from scratch, and it seems to have succeeded:

[code]

NOTE: I had to call this though (as Conan recommended):
`$  conan profile update settings.compiler.libcxx=libstdc++11 default`

So I reckon we should re-investigate this problem on-site, stall this CONAN ticket meanwhile.

[2021-11-02 19:17] gouriano commented on #9919
Found it. I had

    [settings]
    compiler.cppstd=17

With compiler.cppstd=14 it builds fine

[2021-11-02 19:29] gmeeker opened #9926 "[feature] Deploy generator for iOS/OSX universal binaries"
Based on earlier feedback, the idea of multi-architecture packages in conan is too complex.  For such an attempt see the combination of https://github.com/conan-io/conan/issues/9636 and https://github.com/conan-io/conan/pull/9904 to alter every recipe in a dependency graph.  It works but is very complicated.

Instead, run lipo during deploy.  In that pull @memsharded said "I'd say... leveraging th

[2021-11-02 19:33] gouriano commented on #9919
Still, I believe GRPC/PROTOBUF should be fixed. Both recipe and the packages.
Recipe should take care of the language standard
Packages... Well, PROTOC generates (at least in some scenarios) code which cannot be compiled with C++17. And our own package cannot be compiled without C++17.
So, if we need PROTOC code generation (and we do need it) we could end up in situation when our package cannot be

[2021-11-03 02:10] deadash commented on #9922
I tested it. When msbuild and meson use VS as the backend, there is a difference between the exe generated by the two.

So it’s best to use meson’s built-in generation instead of ninja generation.

[2021-11-03 07:39] rakeshcbpur opened #9928 "[question] SHORT DESCRIPTION"
I have read https://docs.conan.io/en/latest/installation.html about conan installation using python pip.

Wanted to know why python/pip is the recommended way to install conan ?

how does this approach solves the problem of automatically adding to the PATH variables the path to conan executable?

what happens when a newer version of python gets installed ?

[2021-11-03 08:48] memsharded commented on #9928
- It is the most portable way, use ``pip install conan`` in every different platform
- It is fast, can be more easily automated (like to provision CI servers) than for example the Windows EXE installer
- It can use other tools and libraries in python. Many users have their own utilities, tools and other stuff, and it is easier to integrate if both can be installed in the same Python environment

I

[2021-11-03 09:34] rakeshcbpur commented on #9928
thanks @memsharded for your quick response, regarding adding path to the PATH environment variable getting below warning after running python -m pip install conan
 WARNING: The scripts conan.exe, conan_build_info.exe and conan_server.exe are installed in 'C:\python\3.8.1.0.7\python-3.8.1.amd64\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress thi

[2021-11-03 09:44] memsharded commented on #9928
WARNING: The scripts conan.exe, conan_build_info.exe and conan_server.exe are installed in 'C:\python\3.8.1.0.7\python-3.8.1.amd64\Scripts' which is not on PATH.
Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location

For some reason the "Scripts" folder was not added to the PATH when you installed Python. In Windows, using the Windows inst

[2021-11-03 11:21] akleber opened #9931 "[bug] Wrong parameter name used in find_library() function in cmakedeps_macros.cmake"
When using the cmake function find_library() it accepts a parameter named "NAMES" but in cmakedeps_macro.cmake, generated by conan/tools/cmake/cmakedeps/templates/macros.py , the parameter name "NAME" is used by mistake.
See also: https://cmake.org/cmake/help/latest/command/find_library.html

As the NAMES parameter name is kind of optional, it currently works as it is but the find_library() functi

[2021-11-03 11:29] Kaylx commented on #1204
I too suffer from `conan_imports_manifest.txt` appearing in my CMake/CPack generated package file.
I've tried removing the file using a [CPACK_PRE_BUILD_SCRIPTS](https://cmake.org/cmake/help/latest/module/CPack.html?#variable:CPACK_PRE_BUILD_SCRIPTS) but had no luck.
If anyone has solved this problem. Please let me know.

[2021-11-03 11:33] uilianries commented on #9919
@gouriano Thank you for your explanation! Packages which are cppstd dependent usually we validate it under `validate()` method, probably this one doesn't have such validation.

[2021-11-03 12:20] #9931 closed, assigned to nobody

[2021-11-03 13:05] GeorgeAlysandratos opened #9934 "[question] farmhash not found ?"
I can see that the `farmhash/cci.20190513` exist in conan-center (using the search bar)
But when I try to use it in my `conanfile.txt` I get
[code]
Doing
[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-11-03 13:12] fanselm opened #9936 "[bug] CMakeDeps generated .cmake config files doesn't put linker flags in quotation"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04
  * Compiler+version: GCC 9.3
  * Conan version: 1.40.1
  * Python version: 3.5.2

### Steps to reproduce (Include if Applicable)

Create a package that specifies linker flags, e.g: MyLib

[code]

Then for a package that depends on MyLib we rely on CMakeDeps generator

[code]

It then has a CMak

[2021-11-03 13:59] memsharded commented on #9936
This is true, the ``sharedlinkflags`` is not prepared to contain things with spaces, this has to be fixed.

Please @franramirez688 try the following:

- Lets build a full functional test, that uses ``exelinkflags``, but also ``cxxflags``
- Real test, building something.
- Only linux
- The dependency defining cpp_info can be empty, only injecting flags
- Use several flags, some using spaces too
- C

[2021-11-03 14:05] memsharded commented on #9936
Then, changing the cmake to use INTERFACE_LINK_OPTIONS seems easy, and it is compatible CMake 3.15:

[code]

[2021-11-03 14:21] memsharded commented on #9934
[code]
Then trying to install:
[code]

So it is there, and working (just not available for Windows, my platform)

Could you please try again? (make sure to clean your cache before, just in case)

[2021-11-03 14:23] joastoe commented on #9897
Another issue regarding **pkg config** I'm fighting with:

I have libA->libB->libC

When building libA with the pkg_config generator I get the following generated .pc file for libB
[code]

After switching to PkgConfigDeps, the generated .pc file changes:
[code]
The **Requires** attribute is missing.
Can someone help me out with this?

Thanks very much

[2021-11-03 14:31] atrelinski commented on #3230
Hi @franramirez688

My path is different.
You need 3 components: 'LibNoSoname' -> 'OtherLib' -> 'Executable' to see the problem.
The 'LibNoSoname' is a Conan package consumed by the 'OtherLib' and the 'OtherLib' is consumed as a Conan package by 'Executable'.
I see @kepam reported the same path to reproduce problem [link](https://github.com/conan-io/conan/issues/3230#issuecomment-406328481) and @m

[2021-11-03 15:29] eleftg commented on #9888
Tested it with 1.42.0 and it now works perfectly.

[2021-11-03 15:43] gabyx opened #9937 "[question] How to set output directory with CMakeDeps"
How to set output directory with `CMakeDeps` ?

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html

I have the following in `conanfile.py`

[code]

This will generate the files into the cmake build folder when `conan create ...` is invoked. I would like to specify a subdirectory `conan` under this folder (to not pollute it). How is this possible?

[2021-11-03 15:43] memsharded commented on #9888
Thanks for telling @eleftg!

[2021-11-03 15:46] memsharded commented on #9937
Hi @gabyx

The relative location of things is defined by the ``layout()`` method. I suggest having a look at: https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout

In your case you might want to use the ``cmake_layout()`` (check https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html too)

[2021-11-03 15:54] memsharded commented on #9897
@joastoe If the issue above was solved, then maybe we can close this issue, and open your last comment as a new one? Seems not the same issue.

Please also complete, just in case, are libA->libB->libC regular ``requires``? No ``build_requires`` or any other different type of requirement?

[2021-11-03 15:56] gabyx commented on #9937
Ah thanks a lot. Very much helpful.

[2021-11-03 17:01] paulocoutinhox commented on #9900
Hi @memsharded,

There is any option that work for both (v1 and v2)?

So, now, i need change for "is None" or "== None"? Because python None is an object, so it will work with "==" or "is" in the most case.

Thanks.

[2021-11-03 19:34] joastoe opened #9939 "[question] Indirect dependencies missing when using PkgConfigDeps"
There's an issue regarding **pkg config** I'm fighting with:

I have libA->libB->libC

- libA requires libB
- libB requires libC

all regular `requires` not `build_requires`

When building libA with the pkg_config generator I get the following generated .pc file for libB
[code]

After switching to PkgConfigDeps, the generated .pc file changes:
[code]
The **Requires** attribute is missing for the i

[2021-11-03 19:37] joastoe commented on #9897
Of course you're right @memsharded, although the issue is quite related.
I opened a new issue here: [Indirect dependencies missing when using PkgConfigDeps](https://github.com/conan-io/conan/issues/9939)
This issue can be closed, indeed. Thanks!

[2021-11-03 19:37] #9897 closed, assigned to memsharded

[2021-11-03 21:01] lucabonifacio opened #9940 "[question] PUBLIC / PRIVATE Link Libraries Separation"
Let's take following simplified example:

[code]

Now, let's assume we want to consume `Foo`:
[code]

Now, having `OpenSSL` defined as a private dependency of `Foo` means that `App` can link against it, but cannot include any API of it. Instead, in case of `Boost`, `App` can use it within the application.

CMake, when generating the Package Configuration Files, uses `$<LINK_ONLY:...>` to specify p

[2021-11-03 21:12] SeanSnyders commented on #8303
Any movement on this in general? There is a lot of technical in-depth scenarios which makes it hard to follow whether progress is being made on a higher level.
The overarching topic of cross-compiling and use through CMakeDeps and host and build profiles. That mentioned blog post and/or usage documentation would be pretty great about now.

[2021-11-03 21:16] lucabonifacio opened #9941 "[question] Should syntax `*:shared` be avoided on package creation?"
What are the recommendations / best practices when propagating option values to the requirements?

Is it recommended to use `configure()` to assign the value of the requirements options, like here?

[code]

And then create the package with `conan create . 1.0.0@ -o MyLib:shared=True`

Or is it common practice to use the syntax `*:shared=<value>`?

[code]

And then create the package with `conan cr

[2021-11-03 23:20] memsharded commented on #9940
Hi @lucabonifacio

at the moment (Conan 1.X), all ``requires`` are by default public, and linkage requirements are propagated to the consumers. This is because Conan graph model has ``requires`` and ``build_requires```, but there is nothing inside ``requires`` that allows to define the visibility of the transitive requirements.

Conan 2.0 introduces a new model that does exactly this. Check this T

[2021-11-03 23:22] memsharded commented on #9940
In Conan 1.X there are 2 alternatives:

- Just let the transitive dependencies propagate. In many cases it is not a big issue, and linker optimizes away not needed libs
- If necessary to remove those propagated dependencies, filter them out in the CMakeLists. This is not very straightforward, and not very elegant, but is doable.

[2021-11-04 00:01] SpaceIm opened #9942 "[question] conan 1.42.0: CMakeDeps does not inherit anymore from cmake_find_package_multi names"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Big Sur
  * Compiler+version: Apple Clang 13
  * Conan version: 1.42.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

- create a recipe where `self.cpp_info.names["cmake_find_package_multi"]` in `package_info()` has a different name than recipe name (a simple one is `utfcpp`

[2021-11-04 00:12] #9942 closed, assigned to nobody

[2021-11-04 00:13] SpaceIm opened #9943 "[bug] conan 1.42.0: CMakeDeps does not inherit anymore from cmake_find_package_multi names"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Big Sur
  * Compiler+version: Apple Clang 13
  * Conan version: 1.42.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

- create a recipe where `self.cpp_info.names["cmake_find_package_multi"]` in `package_info()` has a different name than recipe name (a simple one is `utfcpp`

[2021-11-04 01:14] memsharded commented on #9943
Hi @SpaceIm

yes, this is known, not a bug. ``CMakeDeps`` will not follow any of the legacy methods, not the ``.names`` field, not the ``cmake_find_package_multi`` one. It will only use the new ``set_property()`` mechanism, this is necessary to move forward.

Adding the properties in recipes is the way to go.
If the ``set_property`` is breaking ``cmake`` generator, then we should have a look at th

[2021-11-04 06:38] GeorgeAlysandratos commented on #9934
Hi
I had to update to latest conan `1.42.0` (from `1.33.0`). Also deleted my local `.conan` folder just to be sure
(the `-r=conancenter` argument did not work in my older conan version and this made me realize how out-of-date I was)

Thanks a lot for your time and help.

[2021-11-04 07:16] SSE4 commented on #9922
yes, I agree it could be useful to support VS as the backend in `Meson`.
it's unlikely this will be ever applied to the old build helper (it's going to be removed soon anyway), but new build helper definitely may take an advantage of this. it aligns with CMake build helper behavior, where you can choose generator (VS, Ninja, NMake,  etc.). and as meson support for backend-agnostic build commands i

[2021-11-04 07:35] fanselm commented on #9936
Hi @memsharded , thanks for reacting so quickly. Let me know if I can help with anything.

[2021-11-04 08:18] memsharded commented on #9934
Thanks for telling @GeorgeAlysandratos, happy that it is solved now.

[2021-11-04 08:18] #9934 closed, assigned to memsharded

[2021-11-04 08:57] memsharded commented on #7054
Doing https://github.com/conan-io/conan/pull/9944, at least to avoid the exception and get some values. The root of the editable is available in the ``export_folder``. PR for 1.43

[2021-11-04 09:00] SpaceIm commented on #9943
I understand, but to move forward in CCI recipes, I would have expected:
- a new CCI hook preventing to use `.names`
- `CMakeDeps` compatibility with `.names["cmake_find_package_multi"]` until conan v2 to ensure smooth and transparent transition of consumers to `CMakeDeps` generator (it will take weeks or months to update CCI recipes).

[2021-11-04 09:07] memsharded commented on #9943
Yes, we tried so far, but the issue is that CMakeDeps have moved internally to use all the new ``dependencies`` and new ``CppInfo`` model, that no longer has ``names`` field, it is simply not there (and can't be easily introduced without extending the legacy into 2.0, which is what is not desired).

The CCI hook was planned, but we haven't had the time to do it.

So I think we should focus on keep

[2021-11-04 09:56] SpaceIm opened #9946 "[question] cmake_target_namespace support in cmake_find_package(_multi) generators?"
Do you plan tu support `cmake_target_namespace` property in `cmake_find_package` & `cmake_find_package_multi` generators? Currently it doesn't work (see https://github.com/conan-io/conan-center-index/pull/7890#discussion_r739556016), but it prevents to use this property in CCI since we still need to support those generators.

[2021-11-04 10:57] Minimonium commented on #9943
The issue is that `cmake` generator uses `cmake_target_name` as a name for a target, which, in the new properties and find_package generator, correlate to the namespace. Breaking changes when using `find_package` generator are somewhat expected because the intent is to emulate the "native" CMake installation. Breaking changes when using `cmake` generator are not expected.

Another issue tho if tha

[2021-11-04 12:11] Fettpet opened #9947 "[bug] self.copy has different behavior if called in subdirectory"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 16
  * Conan version: 1.41.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I have create a little example to demonstate. The conanLib has a header file with a single function inside. The conanfile.py build the library. I included two

[2021-11-04 12:38] memsharded commented on #9947
Hi @Fettpet

This is expected to happen, because of an impossible to solve indetermination issue in the definition of ``exports_sources``.
If you want to have your recipe not in the root folder, and you have this issue, then you should use the ``export_sources()`` method alternative, which has better definition of locations. Please have a look at: https://docs.conan.io/en/latest/reference/conanfil

[2021-11-04 13:09] Fettpet commented on #9947
@memsharded Thanks for clarification.

[2021-11-04 13:09] #9947 closed, assigned to memsharded

[2021-11-04 15:04] deadash commented on #9922
I tried the new build helper tool, there are many problems.

1. after setting x86, MesonToolchain generates conan_meson_cross.ini, but the compilation is conan_meson_native.ini.
2. does not support vs as backend.
3. Even if the conan_meson_native.ini is generated with the default configuration, it cannot be found during the build, but it can be executed manually.

The first problem arises because

[2021-11-04 15:28] gabyx commented on #9937
Hm, the problem I face now is that when I use `self.folders.generators` the package can get created but now testing the package suddenly fails because the geberated cmake scripts do not find component libs, because strangely lib dirs are empty in `*_data.cmake`. (v1.42). I will update with more information.

Do you know why?

[2021-11-04 16:10] jevarg opened #9949 "[bug] XcodeDeps generates bad xcconfig variables with dash-cased pkg and armv8 arch"
# XcodeDeps generates bad xcconfig variables with dash-cased pkg and armv8 arch

### Environment Details (include every applicable attribute)
  * Conan version: 1.42

### Steps to reproduce (Include if Applicable)
- Create  a conanfile with a requirement on a dash-cased package: `requires =  "test-lib/x.y.z"`
- Set the XcodeDeps generator: `generators = "XcodeDeps"`
- Install armv8 deps `conan ins

[2021-11-04 16:29] n00b42 opened #9951 "[bug] CMakeDeps problem with (transitive) build_requirements (at least for Boost)"
CMakeDeps generator does not generate files for transitive build requirements, but does for (normal) requirements.

At least happening for boost.

### Files

`conanfile.py`
[code]
`CMakeLists.txt`
[code]
`main.cpp`
[code]

### Steps

`conan install .. && cmake .. && make`

Output 1 (with boost in `requires`)
[code]

Output 2 (with boost in `build_requires`)
[code]

### Environment Details (include

[2021-11-04 16:34] czoido commented on #9949
Hi @jevarg
Thanks a lot for reporting, and also thanks a lot for contributing the fix, we'll review it. to be merged ASAP.

[2021-11-04 16:41] memsharded commented on #9951
Hi @n00b42

This is intended, ``build_requires`` are mostly intended for tools, like CMake. By default they don't generate ``xxx-config.cmake`` files, and they do not generate transitive ones either.

What is the meaning of having boost as ``build_requires``. If you plan to use it for testing, then you might want to use a ``self.requires("boost...", force_host_context=True)`` to guarantee it is li

[2021-11-04 16:57] simue opened #9953 "[bug] setting.yml with missing msvc compiler crashes conan create"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc-10
  * Conan version: 1.42.0
  * Python version:  3.8.10

### Steps to reproduce (Include if Applicable)
Have a fresh conan install, create a demo package like so:
[code]

See that the package is correctly created.

Have a fresh conan install.
Place a settings.yml file

[2021-11-04 17:02] memsharded commented on #9953
Hi @simue

Lets fix this quickly for next 1.42.1.

However, please note the ``msvc`` is there to replace ``Visual Studio`` compiler in 2.0. It is still experimental, but please keep an eye on it for the future.

[2021-11-04 17:30] memsharded commented on #9953
Thanks for your detailed report, it helped to solve the issue quickly. Proposing https://github.com/conan-io/conan/pull/9954 for next patch version 1.42.1 to be released soon.

[2021-11-04 17:41] simue commented on #9953
Thank you for your quick reaction. Greatly appreciated!

[2021-11-04 17:44] memsharded commented on #9937
Not very clear what is happening, maybe not connected to the ``layout`` and the output directories? In that case, we might be better closing this one, and open a new one with the details to reproduce it. I guess it is related to a dependency having defined ``components``? If you could provide something that I could reproduce here, that would help.

[2021-11-04 21:51] n00b42 commented on #9951
@memsharded Thanks for the answer.

Actually, boost should not be in "requires" as it is not required to use the library (I just included the requires line to show that switching to it from build_requires made it work for me).
However, I have some unit tests that require boost which are only needed during build time.

I am aware of the two profiles, and usually use them for creating packages, just

[2021-11-04 21:56] memsharded commented on #9951
Ok, so if it is only a build_require, for testing, then try the mentioned ``force_host_context=True`` above, and let us know if it worked.

[2021-11-05 03:34] apteryks commented on #9671
Hello,

I tried to reinstate the "test_build" test in the `conan` Guix package after updating it to 1.42.0, and unfortunately it is still failing:

[code]
Seems it's expecting GCC 5 to be in the environment?  There's only GCC 10.3.0 in the Guix build container.

[2021-11-05 08:37] n00b42 commented on #9951
Using `force_host_context=True` worked. Thank you.

[code]

[2021-11-05 08:43] n00b42 opened #9959 "[bug] CMake Generator QUIET behaviour and message types."
1. According to [CMake](https://cmake.org/cmake/help/latest/command/find_package.html) `find_package(<pkg> QUIET)` should not print (informational) message (unless it could not be found...). However both cmake_find_package as well as CMakeDeps generators still print output even on success.
E.g. `find_package(libsystemd REQUIRED QUIET)` results in:
[code]

I found CONAN_CMAKE_SILENT_OUTPUT which si

[2021-11-05 09:10] vuuk opened #9960 "[question] Using conan.tools.microsoft MSBuild and MSBuildToolchain to create a package"
I attempting to create a package from a Visual Studio Solution file. Using conan create.

I started out using the old MSbuild function, but I ran into problems when I needed to add the compiler option: _/Zc:strictStrings-_ (I am migrating some old legacy code)

I then switched over to using the tools from **conan.tools.microsoft**

The MSBuildToolchain sets all the compiler flags and options prope

[2021-11-05 09:18] gabyx commented on #9937
Yes. I make a follow up. Thanks a lot!

[2021-11-05 09:18] #9937 closed, assigned to memsharded

[2021-11-05 09:36] gabyx opened #9961 "[question] CMakeDeps and layout() creates but wrong test-package"
This is a followup to #9937:

I have the following conanfile.py

[code]

When I create the package for this by
[code]

It successfully creates the package and testing it with `test/package` also works.
The `tests/package/build` folder contains a `base-debug-x86_64-data.cmake` with e.g. an "io" component:
[code]
Which is correct!

However as I introduce the `layout()` override to specify where my c

[2021-11-05 09:38] mpusz opened #9962 "[feature] Setting `CMAKE_<LANG>_COMPILER` in a toolchain"
## Problem statement

Right now it is common to use a different compiler for `conan install` and CMake configure steps which result in an error during project configuration.

## Potential solution

From my observation, it is typical to set `CXX` and `CC` environment variables in the Conan profile file. In case a user provides them and uses such a profile during `conan install` step it would be gre

[2021-11-05 09:50] memsharded opened #9963 "Prepare `force_host_context=True` alternative for clean migration for 2.0"
While this works now, it will not move into 2.0, so better prepare an alternative.

Using `force_host_context=True` worked. Thank you.

[code]

_Originally posted by @n00b42 in https://github.com/conan-io/conan/issues/9951#issuecomment-961714040_

[2021-11-05 09:51] memsharded commented on #9951
Thanks for telling. Closing this now (follow up issue in https://github.com/conan-io/conan/issues/9963) to be ready for 2.0

[2021-11-05 09:51] #9951 closed, assigned to memsharded

[2021-11-05 11:48] memsharded commented on #9961
Hi @gabyx

I would need to see the imports.

This is not necessary anymore with the new ``from conan.tools.cmake import CMake``:

[code]

Please check the output and how it works with the new ``conan new hello/0.1 --template=cmake_lib``.
The new CMakeToolchain, CMakeDeps and cmake_layout are meant to work together with the new ``from conan.tools.cmake import CMake``, not the legacy one, that will

[2021-11-05 13:03] gabyx commented on #9961
Thanks a lot, I have a look! -> How can I pass now `cmake.definitions["BUILD_EXAMPLE"] = False` ?

[2021-11-05 13:14] gabyx commented on #9961
I changed to the correct `CMake` that was indeed wrong, but, the problem still persists the same.

[2021-11-05 13:35] memsharded commented on #9961
I am still missing the ``layout`` and details in general of the ``test_package`` conanfile.py. Note that the test_package is nothing that yet another consumer project. It will define its own layout, etc, different to the layout of the package being created and tested. In the ``conan new hello/0.1 --template=cmake_lib`` example you can see the ``test_package`` code too.

[2021-11-05 13:37] memsharded commented on #9961
Also,
- you are doing ``tc.variables["GENERAL_BUILD_LIBS"] = True`` **after** the generation. It should be defined **before** ``tc.generate()``
- ``self.build_requires("catch2/2.13.7")`` => ``self.build_requires("catch2/2.13.7", force_host_context=True)``. This is important if you are going to use the 2 profiles (which is recommended)

[2021-11-05 14:02] gabyx commented on #9961
Still the same, problems... I think my component cpp_info is wrong??

![image](https://user-images.githubusercontent.com/647437/140522634-53bab798-181b-456f-9490-b587fda3d983.png)

[2021-11-05 14:39] michaelmaguire commented on #9805
@albaltimore pointed out https://semver.org/#spec-item-9 to me:

So I guess letters can be present?  It seems like it ought not to be too hard (80/20 rule?) to do some smarter things with Conan versions in range comparisons so as not to assume they adhere to semver.  E.g. with `1.2.3.4` < `1.2.3.5`, `1.2.3-rc1` < `1.2.3-rc2`.  Also, OpenSSL users could sure be happy if we could do `1.1.1p` < `1.1.

[2021-11-05 14:42] simue opened #9966 "[question] SHORT DESCRIPTION"
I am building dependencies for the md5 examples myself, since they are not in conancenter in the needed configuration.
When conan tries to get the sources for `pcre`, it fails with a handshake time out.
Upon inspection it is obvious, that the ftp server from pcre project is down.
https://downforeveryoneorjustme.com/ftp.pcre.org

What should I do in such a case? Do I have to wait for pcre to patch

[2021-11-05 14:52] memsharded commented on #9961
The problem could be that you are adding the ``-dbg`` suffix, but apparently the libraries files do not have such suffix in disk.

[2021-11-05 15:18] fanselm opened #9967 "[question] Components and requirements"
I am creating a package for Intel MKL. Intel MKL comes with a core library `mkl_core` and optional libraries `mkl_blacs` and `mkl_scalapack`. `mkl_scalapack` requires `mkl_blacs` and `mkl_blacs` requires an MPI library, see [Intel MKL link line advisor](https://www.intel.com/content/www/us/en/developer/tools/oneapi/onemkl/link-line-advisor.html). Now many libraries need MKL but do not need or use

[2021-11-05 15:36] memsharded commented on #9966
Hi @simue

The quick fix would be something like (orientative, not tested):

- git clone https://github.com/conan-io/conan-center-index && cd conan-center-index
- cd recipes\pcre\all\
- Change the ``conandata.yml`` there
- `` conan create . 8.45@``

I am moving this to conan-center-index repo, in case someone wants to provides a mirror in the official recipe

[2021-11-05 16:51] KerstinKeller commented on #9943
What can we do, if we are using recipes from CCI in conjuction with CMakeDeps?
I have noticed the problem with the qt package (previously generated `Qt5Config.make`, now generates `qt-config.cmake`.
It's also the same with `CURL` / `libCurl` and a few more.
The other thing is that now the generated files have `-` instead of Camelcase.

What exactly is required to patch the current recipes in CCI?

[2021-11-05 16:57] SpaceIm commented on #9943
move to `set_property()` instead of `.names` in CCI recipes. But there are many recipes to upgrade, so it will prevent adoption of CMakeDeps in conan users since most of generated config files are now broken with this generator (if conan >= 1.42).

[2021-11-06 00:02] SpaceIm commented on #9000
@memsharded @lasote @czoido Do you know if this feature is considered for CMakeDeps?

[2021-11-06 00:05] memsharded commented on #9949
Fixed in #9955, will be released soon in 1.42.1

[2021-11-06 00:05] #9949 closed, assigned to czoido

[2021-11-06 18:17] praetorian20 commented on #9917
Hi @lasote, sorry to bother you again but I have another question, similar to the previous one, about the meaning of arguments passed to `conan install`.

I'm using a `conanfile.txt` with the requirements listed, as you suggested, and everything works as long as I call `conan create` followed by `conan install`. So far so good.

But `conan install` also takes a `--build` which implies it should be

[2021-11-07 21:26] GPages opened #9971 "[question] Calling conan install from WSL shell"
Hello,

I have seen posts that seem related to my issue, but i don't understand how to fix my problem.

Conan version: 1.42.0

In a nutshell, following command works fine when run in a bash terminal inside WSL :
`cd /myCode/build && /usr/local/bin/cmake  -G 'CodeBlocks - Unix Makefiles' /myCode`

But the same command fails when called from windows terminal:
`wsl.exe --distribution Ubuntu-20.04 --e

[2021-11-07 21:47] sboehmann opened #9972 "[bug] Failed to parse patch for patches created by git"
When I create a patch using `git diff` and want to apply it with Conan, I get the exception `ConanException: Failed to parse patch: ...`.

The problem is the header of the patch. For me, `git diff` creates a header like:
[code]

However, I can fix the problem by replacing `a` and `b` with `i` and `w`, like this:
[code]
The problem did not exist in the past, but has existed since a few versions now

[2021-11-07 22:04] memsharded commented on #9971
Hi @GPages

It seems a difficult to debug thing. Could you please post the full output? The lines about the error could have some hints of what could be happening.

[2021-11-07 22:08] memsharded commented on #9972
The application of patches is done in an external library, not Conan. While we have forked it (patch-ng) to be able to fix some things, we would prefer not to deviate much from the upstream.
It would also be good to have some official reference about this change or new behavior in git. At least in the official docs, it seems they are still using ``a`` and ``b``: https://git-scm.com/docs/git-diff

[2021-11-08 09:03] gabyx commented on #9961
Sorry the image was wrong: My conan exports the right thing:

[code]

[2021-11-08 09:05] memsharded commented on #9961
Oh I see. You might be missing the ``libdirs`` definition in:

[code]

The moment you define components, the components must specify their ``includedirs``, ``libdirs``, etc, they do not assume they are located in the default dir (because often they are not). Please try specifying that

[2021-11-08 09:13] gabyx commented on #9961
Something like:

[code]
does not work...
I also install into this location, from Conan `create`

[code]

[2021-11-08 09:16] vuuk commented on #9960
I got help with this by the conan team. The problem was that I was not **also** using the MSBuildDeps toolchain.

So the generate function becomes:

[code]

and the build function stays the same.

[2021-11-08 09:17] #9960 closed, assigned to nobody

[2021-11-08 09:20] gabyx commented on #9961
The package folder looks like

[code]

[2021-11-08 09:34] memsharded commented on #9961
Please check potential typo ``self.cpp_info.components[compName].libsdir = "lib"`` => **libdirs**

[2021-11-08 09:57] gabyx commented on #9961
Thanks.

**Resolution:**

[code]
resolves the issue.

Another minor issue is:
Why do I need to specify `self.cpp_info.components[compName].requires = ["fmt::fmt"]`, as it is part of the `require` clause?

[2021-11-08 10:28] zawlin opened #9977 "[question] Packaging and deploying unittests"
What is the recommended workflow for running unit tests in a stripped down environment where conan might not be available?

To further explain our situation, we are trying to make conan work in CI pipeline where we have a 1) build stage 2) run unit tests 3) build package tests 4) run package tests. We are required not to run unit tests on the same build image and use an extremely minimal docker im

[2021-11-08 10:30] gabyx opened #9978 "[Bug] `--install-folder` not honoured when using layout."
When conan install is executed from cmake (with cmake-conan):

[code]

and with

[code]

in the `conanfile.py`, the install folder `--install-folder /cmake-general/tests/build/conan` is not honoured, but the generated files go into
`/cmake-general/tests/project/cmake-build-cona/conan`.

Why is that?

[2021-11-08 10:40] czoido commented on #9953
Closed by https://github.com/conan-io/conan/pull/9954 will be release in Conan 1.42.1 soon

[2021-11-08 10:40] #9953 closed, assigned to memsharded

[2021-11-08 11:08] d0nc1h0t opened #9979 "[feature] Using short paths under Linux"
The project uses a Node.js based package as shared library. After upgrading to version 16.13, the build stopped working due to the length of the paths.
`make: execvp: /bin/sh: Argument list too long`
The problem is in the size and number of parameters when calling make, which is not solved by changing the system limits. It looks like there is a kernel static buffer overflow (MAX_ARG_STRLEN).
In fa

[2021-11-08 11:17] memsharded commented on #9961
Sorry, not sure what do you mean. When specifying components, the idea is that each one can declare its own dependencies.

[2021-11-08 11:21] memsharded commented on #9979
Hi @d0nc1h0t

This will not be possible in Conan 1.X, because it would be too complicated and risky. Conan 2.0 has already changed to using a different cache layout, which paths will be always "short", so this can be closed as implemented, and to be released in 2.0 (keep tuned for the releases, we are starting the alpha stage now)

[2021-11-08 11:21] #9979 closed, assigned to memsharded

[2021-11-08 12:09] gabyx commented on #9961
I alraedy have a
[code]
which defines the fmt::fmt dependencies for all componentes (?)

[2021-11-08 12:09] #9961 closed, assigned to memsharded

[2021-11-08 12:34] franramirez688 commented on #9848
For now, it's blocked by https://github.com/conan-io/conan/pull/9851

[2021-11-08 12:38] memsharded commented on #9961
No, this is different. The ``self.requires()`` at the ``requirements()`` method is a package level dependency. It defines the global dependency graph.

When you are defining components in ``package_info()``, each component should define which other components requires from its dependencies, because they can use only ``fmt::xxx`` component (if it exists). It is not possible to inject ``fmt::fmt`` a

[2021-11-08 12:40] gabyx commented on #9978
Or can we actually gather the CLI argument `--install-folder` ?

[2021-11-08 12:43] gabyx commented on #9961
Ah, thanks. Good explanation.

[2021-11-08 13:08] bmanga commented on #4915
Any updates on this?
I can't properly build gmp for webassembly if the `configure` command is not prefixed by `emconfigure`.
Also, a `CONAN_CONFIGURE_PROGRAM` env variable would be necessary I think.

[2021-11-08 13:15] memsharded commented on #4915
Hi @bmanga

No, this is not planned. ``AutoToolsBuildEnvironment`` has entered the deprecation path, no new changes will be done unless very important bugs.

If you want this feature, then you should be reporting it against the new integration, in this case the ones in https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html. These will be the ones that will remain in Conan 2.0. At the m

[2021-11-08 13:15] #4915 closed

[2021-11-08 13:43] memsharded commented on #9977
Hi @zawlin

I'd need to understand better the level of visibility needed of your unittests, because you are telling at the same time that ``However, for unittesting, since they might use internal classes, they needed to be built together in build stage. `` and that you need to run them separately in a different image which is not the build image (so I assume that you need to copy the built binary

[2021-11-08 14:04] lucabonifacio commented on #9940
Hi @memsharded

Are there already some release date for Conan 2.0?

[2021-11-08 14:13] zawlin commented on #9977
The public headers do not need to be copied to the test image. Let's say for LIB A

* If we have this flag `-DBUILD_TESTING:BOOL=ON`, it will generate test binaries in install/test folder.
* `conan create . _/_` to create the package which will also package test folder and make the library available in local cache.
* `conan install LIBA/0.0.1@  -pr=ubuntu18 -if tests` we define deploy() method to

[2021-11-08 14:17] memsharded commented on #9940
Not for final release. We are entering now (today) in alpha stage, check the https://github.com/conan-io/conan/releases. There will be a few months in alpha and a few months in beta.

[2021-11-08 14:24] simue commented on #9962
+1

[2021-11-08 14:27] memsharded commented on #9977
It is not possible to eliminate files/artifacts from a package that has been created. Packages are immutable, they cannot be modified, as their artifacts define their identity (revisions, both recipe and package revisions). The possibility would be:

- Add a ``bundle_tests`` option, so you have 2 different binary packages, one that bundles the tests and one that doesnt (production).
- You will als

[2021-11-08 14:34] zawlin commented on #9977
Thank you. I think this will work. I will have to try it out.

[2021-11-08 14:40] lasote commented on #8303
https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html

We have there some docs about the implementation of the CMakeDeps.

[2021-11-08 14:57] lasote commented on #9000
Not discussed yet, sorry.
Wouldn't be difficult to generate several config files with the same content, but I know that the next feature request would be to have some components associated with one file and others to the other one and that could become pretty insane. So honestly I don't know what to do with this.

[2021-11-08 15:02] lasote commented on #9917
The difference between the `conan create` and the `conan install --build` is that the `conan create` exports the recipe to the cache, and then build it.
I would say the conan install is failing because no one put the `Dpdk-kmods` in the cache, you could do it with the `conan export` command before calling the `conan install`.
The ``--build`` argument is meant to indicate when conan should try to b

[2021-11-08 15:32] DoDoENT opened #9983 "[question] Removing all packages for specific query from local cache"
When issuing command

[code]

I get the error

[code]

This is also documented, but does it have to be like this? Why am I restricted to deleting packages matching the query only for a single reference and not for the pattern?

[2021-11-08 15:54] lasote commented on #9922
@SSE4 Could you check the `MesonToolchain` feedback especially regarding 1 and 3 points?

[2021-11-08 20:12] dvirtz opened #9986 "[bug] imports from symbolic names takes a very long time"
The `imports` function started taking a very long time in our builds. We tracked it down to the code at https://github.com/conan-io/conan/blob/ea7e87914b7e6cc825321842a615be0c59fe25f6/conans/client/importer.py#L172-L176 which adds `libdirs` (which by default be just `'lib'`), for example, from all components to the list of folders to copy from and so causes the following code to repeatedly copy fr

[2021-11-08 20:38] GPages commented on #9971
From the command line, this can be fixed by using '-l' option of /bin/sh. This will add "/home/me/.local/bin" to the beginning of the PATH and, for some reason, it fixes the above issue.
In my case the issue is that this command is run by CLion so i can't change it. I fixed it by installing conan globally in WSL.

This question can be closed, sorry for this :)

[2021-11-08 20:59] memsharded commented on #9971
Thanks for the feedback, don't worry about it, dont hesitate to open new issues if you have any other question :)

[2021-11-08 20:59] #9971 closed, assigned to nobody

[2021-11-08 21:58] eigenwhat commented on #9943
Producing the `-` version of the config files (e.g. `catch2-config.cmake` vs `Catch2Config.cmake`) does have a slight benefit in that `find_package()` effectively works case-insensitively. `find_package(XyZ CONFIG)` will first look for a case-matching `XyZConfig.cmake`, and failing that, looks for the fully lowercase `xyz-config.cmake`. The upshot is that with the former you must write `find_packa

[2021-11-08 22:25] w3sip commented on #9902
So what is the alternative?

Lets say I have a library/package libfoo, which depends on a very large package, providing both static and dynamic libraries -- lets say, IPP. libfoo takes care, through cmake settings to not link with the shared libraries. But it does bring IPP through a `requires` clause -- which puts IPP on the graph for the downstream libraries.

Then I have a libbar, which depends

[2021-11-09 01:33] HaoLiuHust opened #9987 "[feature] how to set build requirement options?"
I have a build requirements which have different options with host, how to set it ?

[2021-11-09 04:42] sinall opened #9988 "[bug] libzippp unresolved external symbol libzippp::ZipEntry::readAsText"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows10
  * Compiler+version: VC++2019
  * Conan version: 1.40.3
  * Python version: 3.8.8

### Steps to reproduce (Include if Applicable)

1. Create a x64 project depending on libzippp/4.0
2. make use of libzippp::ZipEntry::readAsText

### Logs (Executed commands with output) (Include/Attach if Applicable

[2021-11-09 09:39] dornbirndevelops commented on #9940
Hi @memsharded !
after a short debugging session within the package_info() method of a recipe, I saw that a yet undocumented property `self.cpp_info.public_deps` is available for manipulation.
setting it in my example from the original value `['boost']` to `[]` causes the public dependency to disappear from the user package include paths unless the dependency is directly required.
Is the manipulat

[2021-11-09 09:43] memsharded commented on #9988
Moving this issue to conan-center-index, as this seems a recipe issue, not a Conan one.

[2021-11-09 09:47] memsharded commented on #9940
Hi @dornbirndevelops

Please don't use undocumented things in your recipe code, those will easily break, and if you do it, it is at your own risk. Specifically this one has already been removed in the new model, it will not exist via the ``self.dependencies`` model

[2021-11-09 10:04] Poupine opened #9989 "[Question] How to specify linker options in profile?"
Hi there,

I've started using conan with mingw64 on WSL2 recently and it all compiles without any issues except for one issue:
I'm using the recipes from conan.io (mostly) with conan install --build missing, which creates static libraries. However those static libraries (at least assimp and/or its dependencies) seem to link dynamically to libstdc++/libgcc. For my own code however, I want to compil

[2021-11-09 10:35] SpaceIm commented on #9987
With 2 profiles, you can set different options for build requirements with `-o:b` in conan install/create command line, or even use different options in each profile I think (options of build requirements in the profile used for `-pr:b`, and options of requirements in the profile used for `-pr:h`).

Example:

[code]

But I believe that there is currenlty no way to set different options for build r

[2021-11-09 10:46] SpaceIm commented on #9989
You can try to add proper link flags to `LDFLAGS` in env var section of your conanfile. conan-center recipes are designed (or at least there is a best effort) to propagate those kind of standard environment variables to the underlying build system of the library built by the recipe.

[2021-11-09 11:23] SSE4 commented on #9922
yes, I am checking, will report with my findings

[2021-11-09 11:55] SSE4 commented on #9922
I am using very simple `conanfile.py` to reproduce:
[code]
with `meson.build`:
[code]
and `x86` profile
[code]
regarind point 1.

the issue happens in single profile mode, e.g. running the following command:
[code]
NOTE, there is a warning above:
[code]
with two profiles there is a different error:
[code]
as noted in #9710, Meson, unlike CMake, is not so smart, and cannot automatically deduce the

[2021-11-09 12:20] SSE4 commented on #9922
about point 2, it's relatively easy change, so I've drafted a PR: #9990
I think it's safe and useful change

[2021-11-09 12:22] gogoprog opened #9991 "[bug] Recipes depending on deps_cpp_info -> colliding hashes"
### Environment Details
  * Operating System+version: all
  * Compiler+version: all
  * Conan version: all
  * Python version: all

### Steps to reproduce

If a recipe has its build step depending on `deps_cpp_info` then it will generates different packages using the same hash.

Concrete example : `sdl` recipe depends on `pulseaudio:shared` value. But changing this value won't change the `sdl` has

[2021-11-09 12:31] SSE4 commented on #9922
about point 3, I think you actually have found a serious bug!
there is an inconsistency between `Meson` (build helper) and `MesonToolchain` (generator), as they right now use a different function for `cross_building`:
[code]
as these two functions behave differently, there are situations when they return a different value
`conans.client.tools.oss` is an old thing, which shouldn't be used by the ne

[2021-11-09 13:27] memsharded commented on #9991
First, ``deps_cpp_info`` is to be removed. It has already been removed in 2.0. The new access to dependencies information is ``self.dependencies``.

This is not a bug, but expected, by default dependencies options do not affect the consumers ``package_id``. It can be changed, for example, using some of the ``package_id_mode``, like moving to ``full_package_mode``, that means if the dependency ``pa

[2021-11-09 13:31] memsharded commented on #9989
Yes, the problem @Poupine is that there is no general way to inject compilation or link flags into the build of every different build system out there. Not all build systems in all platforms behave the same, or even listen to environment variables values. So it is possible that even if you set such env-var, not all packages will use it. Even for build systems that do listen to those env-vars, it i

[2021-11-09 13:40] gogoprog commented on #9991
Good to know for 2.0 and thanks for the information!

[2021-11-09 13:40] #9991 closed, assigned to memsharded

[2021-11-09 14:06] Poupine commented on #9989
Thanks for the info guys! I actually found a solution that does not involve injecting linker flags in conan. It turns out that I was simply missing -static (on top of -static-libgcc/-static-libstdc++) and now things are compiling and linking properly.

[2021-11-09 16:24] deadash commented on #9922
Yes, I also found that there are two identical functions. After a simple debugging, I found that the function logic is the same in the problem I debugged. If the cross_meson_native.ini file exists, the generation will still fail. I think there is a problem with the current path, I will check it carefully later.

[2021-11-09 16:39] fukanchik opened #9994 "[feature] Add option "--ignore-binaries" to conan install or --build=notincache"
For a subset of packages from https://center.conan.io we get
[code]
on our build machines.

To continue the build we use option `--build=<problematic-package>` however this is very annoying for bigger packages which are already rebuilt and available from the local cache.

We understand that glibc version won't be added as a first-class setting into conan. Therefore we request feature to only rebui

[2021-11-09 17:24] SSE4 commented on #9772
it should be aligned with `CMakeToolchain` as well.
e.g. we don't set `CMAKE_VERBOSE_MAKEFILE` right now in the new toolchain.
perhaps, it needs a common conf section?

[2021-11-09 23:15] memsharded commented on #9994
Hi @fukanchik

If you need to re-build your own binaries for an older glibc version, I would recommend another approach:

- Add a new subsetting to your ``Linux`` ``os`` in ``settings.yml``, called something like ``distro = ["mydistro"]``
- Define ``os.distro = mydistro`` in your profiles
- This will compute a new package_id, different to the ConanCenter ones
- This work consistently in the cache,

[2021-11-09 23:27] fukanchik commented on #9994
Thanks, no, we do not need to rebuild my own binaries as we only ship our conan package as a source. Ticket is about the binaries which are downloaded as a dependency from center.conan.io and therefore are not under our control.

Examples which have glibc problems for our users are protobuf and grpc.

[2021-11-09 23:44] memsharded commented on #9994
But you are building your own binaries, in the local cache, and not using the binaries from ConanCenter, right? So you definitely need to build your own binaries.

You don't need to ship your binaries, you can totally ship your package as source. Still, explicitly modeling that the binary is different from the ConanCenter one is a better way to do it. Lets say that you ship your Conan package as s

[2021-11-10 00:05] fukanchik commented on #9994
In our own institution it can probably be solved by banning center.conan.io and using internal artifactory. However users build our software in all sorts of local setups and cloud environments. In many cases users are not very experienced and we would like to not ask them to install local artifactory just to build our package.

settings.xml -- if I understand it correctly adding `distro` into our

[2021-11-10 00:17] memsharded commented on #9994
Yes, that is not an issue, they doesn't need to install Artifactory to build your package. Just in case some of they want to (and this is expected), they will be able to do it and be able to succesfully reuse binaries. The proposed approach doesn't have Artifactory as a requirement, but it is enabling both cases, both using source-only and building in the cache, but also to be able to use a server

[2021-11-10 02:17] vakatov commented on #9994
We'd very much like to avoid additional ad hoc tuneups on the user side. Rather, things should "just work".

We'd rather do all required adjustments on our side, invisibly for the users. E.g. in this case we _know_ that `PROTOBUF/GRPC` default (i.e. from https://center.conan.io) pre-built binaries require `GLIBC_2.2.5` -- and therefore  we can adjust our code to only use binaries when the latter i

[2021-11-10 03:44] praetorian20 commented on #9917
Thank you once again for the explanation @lasote!

Could you kindly take a look at my [earlier question](https://github.com/conan-io/conan/issues/9917#issuecomment-957959575) too? Basically, what is the significance of the `reference` argument in `conan install` when `path_or_reference` argument is also present? In the examples I provided, it doesn't seem to make a difference whether `reference` i

[2021-11-10 07:48] lasote commented on #9922
Exactly, the new Toolchains are supposed to work only with 2 profiles.

We should add a note in the documentation, if you want to cross-build with meson you have to specify your compiler in the profile. I think this is easy and good enough.

EDIT: Is there a way to specify the compiler via Meson (at the ini files?) we might consider in that case to add a new property to specify the cross compiler.

[2021-11-10 07:56] SoftwareApe opened #9996 "[bug] conan imports doesn't work with conan lock install"
We use conan imports to import the installed files to a specific directory. The team that we get the distribution from now uses conan lock install instead of conan install.

Due to the lack of a conanfile.txt or conanfile.py when using lock install we can't use imports anymore.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+ver

[2021-11-10 09:22] franramirez688 commented on #3230
Hi @atrelinski

I have tried it with that path as you can see here: https://github.com/franramirez688/reproduce-bugs/tree/bug/soname
It's working fine as well so I don't know if there is another condition that I'm missing or perhaps it could be already fixed using the new `conan.tools.cmake` classes like `CMakeDeps`, `CMakeToolchain` and `CMake`.
I'd like to prepare something with Autotools too to

[2021-11-10 09:40] gogoprog commented on #9991
@memsharded I did not manage to use it correctly:

I have this in the sdl recipe:
[code]

And I use the conan option `pulseaudio:shared=True`

But changing this value does not change the sdl package I receive.

[2021-11-10 10:18] jlemein commented on #9694
I have taken another look at this issue. I cannot reproduce it locally on the same system. It seems to happen for builds on different systems and it happened only with this specific assimp revision. I was planning to send the build logs to the provided private email address, but now it for some reason works again. I have upgraded conan in the mean time. I am not sure if that resolved it. For all o

[2021-11-10 10:40] jlemein opened #9997 "[feature] Import package artifacts only from selected package dependencies"
The imports function imports artifacts in the build directory. This results in many different artifacts from dependencies to be imported in the same lib and bin folder. This clutters the build directories with artifacts of many different applications and libraries. It would be nice to specify import statements only for selected package requirements.

So additional to this:
[code]
Make it possible

[2021-11-10 10:59] memsharded commented on #9997
Have you checked the ``root_package`` and ``folder`` arguments in ``imports()``? https://docs.conan.io/en/latest/reference/conanfile/methods.html#imports It seems that this is what you are looking for?

[2021-11-10 13:18] KerstinKeller opened #9998 "[bug] `Blocks` object not visible / importable"
The [documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#extending-and-customizing-cmaketoolchain) suggests, if you want to extend `CMakeToolchain` with custom blocks, you need to inherit from it.
However, it cannot be imported:

[code]
fails with
[code]

This can be fixed by adding it to the `__init__.py` (file)[https://github.com/conan-io/conan/blob

[2021-11-10 13:22] memsharded commented on #9998
Yes, this is a bug, unittesting skipped it because of internal import.

For the external interface, probably it deserves a better, specific name, like CMakeToolchainBlock

[2021-11-10 13:26] jlemein commented on #9997
I feel stupid to have missed that part. You are right. Thanks.

[2021-11-10 13:26] #9997 closed, assigned to memsharded

[2021-11-10 13:29] memsharded commented on #9997
No prob @jlemein happy to be able to help :)
Don't hesitate to file new tickets if you have any further questions.

[2021-11-10 14:30] jsteinhofff opened #9999 "[feature] Upload lockfiles together with binary packages to artifactory (and possibility to retrieve them)"
**Background:**
To take SW components which are built and integrated with conan to the next level of process conformance we are thinking about using conan depdendency information to generate [SBOM](https://en.wikipedia.org/wiki/Software_bill_of_materials) but also to connect live cycle management related tools like vulnerability tracking, open source license management etc.

I believe the best sta

[2021-11-10 21:38] SpaceIm opened #10000 "[bug] conans.tools.Version() lose the last digit of patch version if there is a tweak number"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Big Sur
  * Compiler+version: Doesn't matter
  * Conan version: 1.42.1
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

output:
18 (instead of 189)
1 (instead of 18)
1

In the meantime, `print(too

[2021-11-10 22:20] memsharded commented on #10000
This seems a very unfortunate bug on the node-semver python library implementation. Might be fixed in newer versions, but we were stuck there because apparently the library was changing behavior (it can do it, because it is 0.X, not stable yet, so really not to blame them). I don't think this can be fixed in 1.X

We have started to introduce a new ``Version`` class in 2.0 to replace the ``node-sem

[2021-11-11 05:40] SSE4 commented on #9922
okay, I've opened https://github.com/conan-io/docs/pull/2296 for that

yes, you can specify it in cross-file INI like:
[code]
I need to think about it. I suppose it has to be done in the uniform way (e.g. with cmake), something like `tools.meson.mesontoolchain:cc` and `tools.meson.mesontoolchain:cxx` (not sure about exact names yet).

P.S. not directly related to this particular issue, but maybe y

[2021-11-11 08:08] SSE4 commented on #9943
not exactly. it uses a simple search within file system under the hood, and behavior depends whether or not your file system is case-sensitive itself.

[2021-11-11 08:27] SpaceIm commented on #9943
I've not tested again recently, but I'm pretty sure it's no true: https://github.com/conan-io/conan/issues/8048#issuecomment-726009090

[2021-11-11 08:44] SSE4 commented on #9943
I've just did a quick test on Windows vs Linux, and behavior is different:
**CMakeLists.txt**
[code]
then run:
[code]
on Windows it configures successfully, while on Linux it fails:
[code]
so it definetely uses a file system search.
same check if you do instead:
[code]
also fails on Linux and passes on Windows. so it definetely depends on the file system in use.

[2021-11-11 08:57] KerstinKeller commented on #9943
I guess what @SpaceIm means is that if you lowercase the config file
[code]
then all of
[code]
should now work on all platforms.

[2021-11-11 09:02] SSE4 commented on #9943
yes, that's the only case it works portable on all platforms.
my comment was about this statement:

however it doesn't work case-insensitively on all platforms, it requires a config file to be lower-case in order to be portable.

[2021-11-11 10:48] marcosteffan opened #10001 "[question] How to handle multiple libraries in multiple applications"
We have a lot of in-house build libraries (libA, libB, libC), each of them in their own repo and each of them available as conan-package. These libraries have dependencies to each other, as well as dependencies to some 3rd-party libraries (lets call them 3rdpartyA, 3rdpartyB). Then we develop multiple applications (appA, appB) which in turn make use of these libraries (the in-house ones as well as

[2021-11-11 11:32] memsharded commented on #10001
Hi @marcosteffan

I think if you want a consistent, unique versions dependency graph, it could be as simple as providing a single "project" conanfile that does a ``requires`` to both ``appA/1.2.3`` and ``appB/5.0.0``. The moment those applications belong to the same dependency graph, with the same common root, by default they will be requiring the same versions of the upstream dependencies, or the

[2021-11-11 11:44] marcosteffan commented on #10001
Hi,
that sounds like a very good idea to check at least if there are conflicting packages - which is also very important and will be a first step that we'll take!
I could use that information to dig into the libraries and "solve" these conflicts manually by setting the appropriate versions.

But I would prefer to provide library-versions somewhere else (and that is the question if that is possible

[2021-11-11 12:27] memsharded commented on #10001
That might be doable in different ways, let me throw some ideas:

- the ``conandata.yml`` file is a place to put information that recipes automatically load. You can put there data, and use ``self.conan_data`` in your ``requirements()`` method, for example, to avoid writing it in the conanfile.py
- But the ``conandata.yml`` is per-recipe, not a centralized place.
- You can do in your ``requirement

[2021-11-11 13:52] marcosteffan commented on #10001
Yes, we have that in mind an can go with that effort.

Exactly! Sure, that means that developers loose some amount of freedom, but for the overall-product it gets clearer.

I was just reading the documentation about overrides. That could actually be an option, even if the dependency-management is then built up top-down - but that is fine. Browsing through our libraries I have found lots of depende

[2021-11-11 13:56] memsharded commented on #10001
Yes, "private" dependencies are basically invisible, because otherwise they will be overriden by normal requires and cause unexpected conflicts that most likely the "private" qualifier was trying to avoid in the first place. Conan 2.0 will come with some improvements over the dependencies model, it is likely that you will not need that amount of privates (because privates should be only used in so

[2021-11-11 14:14] marcosteffan commented on #10001
I'm pretty sure that these privates are a mixture of lack of knowledge and in the other case an attempt to hide dependency-conflicts... we'll get that straight!

However, thanks for the suggestions!

I think we will start by removing all non-required private=True and see where it gets by using override=True from the apps then. That should be a good starting point to get versions clean from bottom

[2021-11-11 14:14] #10001 closed, assigned to memsharded

[2021-11-11 14:22] memsharded commented on #10001
Ok, just one recommendation if you are trying this way: if you add the whole conandata.yml to every package, when something, anything, any version changes in the global conandata.yml, that will induce a new revision of all the recipes, even if they didn't change at all.

You might be interested in the ConanCenter hook (https://github.com/conan-io/hooks/blob/master/hooks/conan-center.py) that we ar

[2021-11-11 20:42] SeanSnyders commented on #8443
Also hitting this problem when cross-compiling GTest to Android on Windows.
![image](https://user-images.githubusercontent.com/1384135/141366069-ac6b5a98-219e-4d5d-bdff-de0bc4c03600.png)

When I do the same on macOS, it works (obviously the profiles for the build and host differ between Windows and macOS).

On Windows I use this resolved profile for the host (i.e Android):
[code]

and build profil

[2021-11-11 20:50] SeanSnyders commented on #8443
I can also confirm that the quoted workaround
[code]
does not work.

[2021-11-11 21:57] michkrom opened #10006 "[question] copy() seems to match patterns only if they start with '*'"
Using 1.40.1 on Windows.

`copy(pattern="*.dll", dst="/bin") `
works
`copy(pattern="X*.dll", dst="/bin") `
does *not* (no file matched even though they do exist

Similarly
`copy(pattern="*.dll", excludes="X*dll", dst="/bin")`
would *not* exclude X*dll files.

So it appears the only patterns that work must start from '*'?

Is this expected? And if so, the doc should be changed as they refer to fnma

[2021-11-12 04:46] vsbogd commented on #4322
The workaround which works for me:
[code]

[2021-11-12 08:51] #9946 closed, assigned to czoido

[2021-11-12 11:47] memsharded commented on #10006
Hi @michkrom

This is expected, because note that those files are not in the root folder when the ``copy`` pattern is checking. They will be somewhere like in ``Release/x64/something.dll`` folder. Then the ``some*.dll`` will not match. You can put ``*some*.dll``, or you can use the ``src`` folder to define what is the starting folder (but as this is typically a changing directory for different con

[2021-11-12 12:07] #9939 closed, assigned to franramirez688

[2021-11-12 12:08] memsharded commented on #9939
Fixed by @franramirez688 in https://github.com/conan-io/conan/pull/9945, it will be released in next 1.43.
Thanks very much for reporting!

[2021-11-13 08:23] jellespijker opened #10009 "[bug] version in deps_cpp_info is None when using layout"
### Environment Details (include every applicable attribute)
Tested it on a Mac and a Linux laptop
  * Operating System+version:
    - Darwin ######### 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:12:21 PDT 2021; root:xnu-7195.141.6~3/RELEASE_X86_64 x86_64
    - Linux ########## 5.14.10-1-MANJARO  SMP PREEMPT Thu Oct 7 06:43:34 UTC 2021 x86_64 GNU/Linux
  * Compiler+version: N/A
  * Conan ve

[2021-11-13 19:06] madebr opened #10010 "[question] How to use`--require-override`?"
Conan 1.39.0 added the `--require-override` argument.
How can I use it?

Let's create the following `conanfile.txt`:
[code]
Current cubicinterpolation has a dependency on `boost/1.75.0`.
Executing the following command does not bump the version of boost.
It remains at 1.75.0.

[code]

It's unclear to me whether this is a bug or whether I use this command wrongly?

I used the same syntax as tested

[2021-11-14 12:11] johnmcfarlane commented on #5403
Relates to #6692. For users wishing to reserve toolchain files for their originally-intended purpose only (specifying toolchain-specific variables), consistent setting of `cmake` command-line parameters would be much appreciated.

[2021-11-14 22:08] memsharded commented on #5403
Hi @johnmcfarlane

I think this issue is now outdated. You would need to clarify:

- The legacy ``CMake`` build helper is no longer being develop, unless some regression happens or some very serious bug.
- Development is being done in ``CMakeToolchain`` and ``CMake`` in the ``from conan.tools.cmake`` space: https://docs.conan.io/en/latest/reference/conanfile/tools.html
- The new ``CMake`` helper i

[2021-11-14 22:08] #5403 closed

[2021-11-15 01:26] johnmcfarlane commented on #5403
Hi @memsharded. Thanks for the info.

Should [this page](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html) maybe also indicate that the feature should not be used? And can #6692 now be closed as obsolete?

[2021-11-15 07:10] jellespijker commented on #10009
Full recipe can be found here: https://github.com/jellespijker/conan-um/blob/main/recipes/python/conanfile.py
Consumer recipe can be found here:  https://github.com/jellespijker/conan-um/blob/main/recipes/sip/conanfile.py

[2021-11-15 08:20] memsharded commented on #10009
Hi @jellespijker

This is totally expected. ``deps_cpp_info`` is declared legacy, the way to access dependencies information is ``self.dependencies``. When using other new features, like ``layout``, or any of the generators in ``conan.tools.xxx``, no ``deps_cpp_info`` will be used at all, and only ``self.dependencies`` will be used.

[2021-11-15 08:57] #9826 closed, assigned to memsharded

[2021-11-15 09:19] joastoe commented on #9939
Very nice, thanks for fixing. Looking forward to 1.43.

[2021-11-15 09:22] jellespijker commented on #10009
Thank you for the quick reply, I will use the new way. You can close this ticket

[2021-11-15 09:23] #10009 closed, assigned to memsharded

[2021-11-15 09:47] franramirez688 commented on #10010
Hi @madebr

Yes, it looks like a bug. It's behaving differently between each mode.

[2021-11-15 11:58] jellespijker opened #10012 "[question] detect profile only parses major compiler version"
### Environment Details (include every applicable attribute)
  * Operating System+version: `Linux ####### 5.14.10-1-MANJARO #1 SMP PREEMPT Thu Oct 7 06:43:34 UTC 2021 x86_64 GNU/Linux`
  * Compiler+version: gcc 11.1
  * Conan version: 1.42
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
`conan profile new default --detect` finds compiler version gcc `11.1` but the actual

[2021-11-15 12:29] memsharded commented on #10012
Hi @jellespijker

This is by design. The default binary model of Conan assumes binary compatibility for that major compiler version. In that sense, all ``gcc=11.X`` are binary compatible.

As a guideline, the result of the profile autodetection should only be taken as a best effort, and not stable. In production what is recommended is to define your own set of profiles and maintain and share them

[2021-11-15 12:41] jellespijker commented on #10012
Thank you for the clarification. I currently use the following way-of-working, which need some revision if the auto detected profile isn't a good starting point.

I have currently three OSes (Linux, Mac and Windows) all have regular updated compilers but I want to have an uniform way of handling things on all three OSes. I use the config install ( https://github.com/jellespijker/conan-config ) whi

[2021-11-15 13:16] memsharded commented on #10012
First, I assume that you really want the binary compatibility at the compiler minor version (for compilers that we do, they are know for being pretty stable with the major regarding binary compatibility).

Assuming that, I think you can do quite advanced stuff in your jinja template profiles with macros. Maybe it is worth trying to do an actual compiler minor detection (running ``gcc --version``)

[2021-11-15 14:16] jellespijker commented on #10012
I like the proposed jinja solution, I will give that a try. Thank you for the detailed write-up.

[2021-11-15 14:16] #10012 closed, assigned to memsharded

[2021-11-15 14:52] memsharded commented on #10012
Great, please let us know how it goes with jinja, and don't hesitate to re-open or file a new issue if you have any further questions.

[2021-11-15 15:15] #10010 closed, assigned to franramirez688

[2021-11-15 15:15] memsharded commented on #10010
https://github.com/conan-io/conan/pull/10013 fixed this, will be in 1.43

[2021-11-15 16:28] foundry-markf opened #10015 "[question] [Conan2.0] change of behaviour in `conan --version`"
Hi,

I have just started trying the Conan 2.0.0a1 package out, and noted a change of behaviour for the `conan --version` command. Noticed this because I have existing scripts to get this information that work in 1.x.

With 1.x, if I do the following, the version string is on stdout
[code]

With 2.0.0a1, it's now on stderr:
[code]

Not a biggy, but might catch others out, if this was intentional?

[2021-11-15 16:41] memsharded commented on #10015
Hi @foundry-markf

The idea is that the main output of commands goes to stdout, while all the "informational" stuff goes to stderr. In this case, I'd say the version information is exactly the expected output of the command, so it should go to stdout. Lets fix it, thanks for reporting.

[2021-11-15 18:18] memsharded opened #10017 "[bug] msvc version model might be flawed"
The current ``19.3X`` series is represented by ``19.3``, which is lower than ``19.27``, making it broken for comparisons.

cc/ @mpusz

[2021-11-15 22:15] atrelinski commented on #3230
@franramirez688

Wow! Very nice professional approach with the example!
Thank You!

My example is complex and I had troubles with simplifying it.
I am using the `cmake_find_package_multi` generator, please could You try with it?

[2021-11-16 07:41] eirikb commented on #8606
Sorry for the necrobump.

Wouldn't the attack vector described in the article be sufficiently limited by simply placing new remotes at the top of the list?

[2021-11-16 08:00] paostman opened #10019 "[question] Run code analysis, test and generate documentation in separate steps"
Hi.

In our project we want to run static code analysis, generate documentation and run unit tests separated from building the program binaries.

What would be the best way to do this?

I have come up with adding an option for this. In the option you can for example specify that documentation shall be created. If option is left out the default is binary. The artifacts will when be in separate pack

[2021-11-16 08:17] mpusz opened #10020 "[feature] C++23 support for "Visual Studio""
Even though C++23 was added in `settings.yml` for `msvc` it was not for `Visual Studio`. Could you please add it? There are some C++ features that already depend on this flag (i.e. native support for `std::format`).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-11-16 08:42] memsharded commented on #8606
@eirikb Problem of adding new remotes is that if a package is not found in that remote it will be looked for in the next one. If a user does a typo and rquires an opensssl (3 s) package and there is a malicious one in ConanCenter, even if it is the last remote, the package will be found there and not in the first remotes and be fetched. However, for the reasons above, it seems less unlikely for th

[2021-11-16 08:50] memsharded commented on #10019
Hi @paostman

You mean, you would like a fast ``conan create`` that just builds the binary, but doesn't do all the other steps? Then, like in a separate process, maybe at different time do something like ``conan create --docs`` or ``conan create --analysis``?

An important question here is that if the resulting artifacts of those builds also needs to be stored as Conan packages (I guess you want t

[2021-11-16 08:57] lasote commented on #9922
Mhh, so maybe we can adjust them automatically based on the build compiler, right?
@memsharded  WDYT?

[2021-11-16 09:00] eirikb commented on #8606
The problem is not typos.
An attacker would try to upload a package with the same name and version to ConanCenter, as an internal package stored on local Artifactory.

The default order now, after adding a new remote is:
  1. Local cache
  1. ConanCenter
  1. New remote

If the package is not found in local cache then ConanCenter will be queried.
By placing the new remote above ConanCenter the mal

[2021-11-16 09:03] lasote commented on #9710
I would say that the Toolchain is supposed to do exactly that, gather the settings and write something the build system understands to represent the configuration.
Said that, I would say we should consider also adjusting the compiler as I commented here: https://github.com/conan-io/conan/issues/9922#issuecomment-970057251
@memsharded

[2021-11-16 09:05] lasote commented on #9710
I'm assigning as look into for the next release and let's see if we can finally do it for this release, wait to the next or...let's see

[2021-11-16 09:08] memsharded commented on #8606
Yes, the exact name match is not a problem. I was commenting about another different problem known as typo-squatting, that this approach wouldn't solve, just for completeness.

[2021-11-16 09:18] eirikb commented on #8606
Yes there are several different issues, e.g., if the local Artifactory is unavailable the hack would still succeed. But if the attacker know the local remote by default is on top they might be demotivated from even trying.

I'm not saying changing the default order will solve everything, but I believe it will help against the specific attack outlined in the article. A small change to increase secu

[2021-11-16 09:22] memsharded commented on #8606
Well, this is one of the reasons that when a remote is not available Conan will error. We don't want to have a silent fallback because a temporary network or server issue. If it is unavailable, then users can ``conan remote disable`` it, but this will not be skipped.

Yes, indeed adding your own remote as a first one will further reduce the risks. This is already common practice by tons of Conan u

[2021-11-16 09:32] eirikb commented on #8606
Changing the default was my idea, yes.
I'm aware it is possible to change by flags, and we follow the practice of disabling/removing conancenter (it's proxied in Artifactory), which solves the issue as well.

However I feel that how-to is not the correct solution for mitigating an attack.
But if a breaking change can't be done then it can't be done.

Thank you for the discussion :slightly_smiling_

[2021-11-16 09:56] alixinne opened #10022 "[feature] gcc 11.2 released"
GCC 11.2 was released in July 2021: https://gcc.gnu.org/pipermail/gcc/2021-July/236904.html

It has shipped in some distributions at least (Fedora 35 in my case).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-11-16 10:39] slietzau opened #10023 "[feature] Extend --require-override to `conan info`"
Essentially the same as #9392 but for `conan info`.

In our pipeline we use `conan info` to determine which packages need to be built and then build the packages with `conan install ... --build=<package> <additional_cmdline>` where we use the same `additional_cmdline` for both `conan info` and `conan install`. This doesn't work because `conan info` doesn't support the parameter yet.

Is it a sensi

[2021-11-16 11:11] memsharded commented on #4216
Lets add ``os = bare``

[2021-11-16 11:24] memsharded commented on #4702
The idea is to move this with a POC to try to see rough edges:

- Add a special "remote" information (can use the remotes api)
- That information should be propagated to the ``downloads`` functions in recipes
- Credentials can be stored in the remotes json if that simplifies the POC

Furthermore, lets move this to 2.0 scope, no sense to try to introduce it here.

[2021-11-16 12:11] jwillikers commented on #9796
I've added support for this upstream through the `Generic-ELF` CMake platform module due in CMake 3.23.0. See [CMake pull request !6630](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6630).

[2021-11-16 12:53] johnmcfarlane commented on #4216
Bare would work but is unlikely the most accurate term, deriving from 'bare metal'.

Bare metal is (arguably) colloquial and (definitely) ambiguous, referring to [an operating system by name](https://en.wikipedia.org/wiki/BareMetal), [computer systems running operating systems](https://en.wikipedia.org/wiki/Bare-metal_server), and [non-virtualized hardware with/without an OS](https://en.wiktionary

[2021-11-16 13:34] memsharded commented on #4216
I don't dislike the idea (https://en.cppreference.com/w/cpp/freestanding), but on the other hand I am afraid that this might be slightly confusing for users, if a stronger than expected parallelism is established between this Conan "freestanding" setting and the C and C++ standards, because up to my knowledge "embedded" or "bare metal" developers don't seem to use that term when they refer to thei

[2021-11-16 14:02] #10020 closed, assigned to franramirez688

[2021-11-16 14:02] #10022 closed, assigned to franramirez688

[2021-11-16 14:02] memsharded commented on #10020
Added, will be in 1.43

[2021-11-16 14:02] memsharded commented on #10022
Added in https://github.com/conan-io/conan/pull/10021, will be in 1.43

[2021-11-16 15:09] johnmcfarlane commented on #4216
Whether Conan manages this is a good question. I would attempt to answer separately from the question of what name to use in the settings though. Note that freestanding support is less than ideal in C++ historically - hence all the work to improve the situation in papers [here](https://github.com/ben-craig/freestanding_proposal).

I really don't know how well that toolchain supports freestanding s

[2021-11-16 15:17] memsharded commented on #9796
Thanks @jwillikers for suggesting this, good to know about your PR https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6630. The limitation we have here is that Conan should work with down to CMake 3.15, because not all users use the latest CMake.

It would be necessary to understand a bit better under which conditions those ``.elf`` extensions should be added (which Conan settings?). The http

[2021-11-16 15:36] franramirez688 commented on #9848
Actually, it was not blocked by that MR. It can be developed without having it merged

[2021-11-16 16:54] asanka424 opened #10025 "[bug] Getting ssl errors for conan.bintray.com"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: Visual studio 2017
  * Conan version: 1.33.0
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
I started getting this SSL error today
ERROR: HTTPSConnectionPool(host='conan.bintray.com', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError

[2021-11-16 17:00] memsharded commented on #10025
Hi @asanka424

This is expected. bintray is closed today in a brownout. Please read: https://blog.conan.io/2021/10/28/conancenter-bintray-remote-eol.html

Also announced in social, like: https://twitter.com/conan_io/status/1460534314379223041?s=20

TL;DR: conan.bintray.com is being closed. You need to upgrade to the new URL in center.conan.io asap.

[2021-11-16 17:02] asanka424 commented on #10025
I see. got it.  I will update

[2021-11-16 17:07] #10025 closed, assigned to memsharded

[2021-11-16 17:07] asanka424 commented on #10025
Its working now.

` conan remote update conan-center https://center.conan.io`

[2021-11-16 17:14] jwillikers commented on #9796
Common practice for bare metal targets is to use the `.elf` extension when targeting an architecture that uses the ELF format, which seems to be most popular embedded architectures including Arm, RISC-V, PowerPC, Xtensa, AVR, and MIPS.  Wikipedia has a [helpful list](https://en.wikipedia.org/wiki/Executable_and_Linkable_Format#Specifications). Maybe it should just be the default when `os` is `bare

[2021-11-16 17:44] jwillikers commented on #4216
@johnmcfarlane As much as I'm supporting the `freestanding` proposals, it's probably not as familiar a name and could get caught-up in standardese. Wikipedia has a [Bare machine page](https://en.wikipedia.org/wiki/Bare_machine), which points to the popularity of the term for this context, and Rust uses the Bare Metal terminology: https://docs.rust-embedded.org/book/intro/no-std.html#bare-metal-env

[2021-11-16 18:08] redradist commented on #4216
I also prefer bare metal more than freestanding as more known terminology, first I've heard freestanding 1 year ago, though I working with embedded devices long enoght

[2021-11-16 18:26] memsharded commented on #9907
We will try to do a POC of vendoring some dependencies in Conan, so they don't conflict with other users pip dependencies.

The thing is that this is a general Python problem, not a Jinja specific ones. It is usually more challenging than desired supporting several different major versions of the dependencies with the same codebase.

[2021-11-16 18:52] #9922 closed, assigned to SSE4

[2021-11-16 18:53] memsharded commented on #9922
https://github.com/conan-io/conan/pull/9990 implemented support to change Meson backend, will be available in 1.43.

[2021-11-16 19:23] memsharded commented on #9907
Some of my findings:

Vendoring tools:
- https://github.com/mwilliamson/python-vendorize only 34 stars in github, doesn't seem enough popular/used
- https://github.com/dephell/dephell was very popular, then archived, no longer maintained

Seems nothing really mainstrean, popular and used enough.

On a different path, I have been testing pipx today, seems to be good enough, achieves good isolation

[2021-11-16 20:55] randrej opened #10029 "[question] How to obtain header-only lib for source distribution?"
I'm using Conan on a little project. One of the dependencies for the project is a [single-header, header-only lib](https://github.com/Taywee/args). Usually, I use the *cmake_find_package* generator and it works fine. Conan downloads the library into its system-wide library store, and generates a Findargs.cmake file in the build dir, which references that global path.

However, I now want to make a

[2021-11-16 21:03] eigenwhat commented on #9943
Good bloody grief, I meant that the package name parameter passed into `find_package()` works case-insensitively, not that suddenly everything related to `find_package()` won't care about capitalization and that you can spell the filename in mixed case and have it work just because you include a dash. I thought it went without saying that the `-` version means the all-lowercase form, _seeing as th

[2021-11-16 21:15] TedSmithNXC opened #10030 "[bug] conan.tools.cmake CMakeToolchain doesn't do parallel builds"
### Environment Details (include every applicable attribute)
  * Operating System+version:  Windows, clang, gcc
  * Compiler+version: all
  * Conan version: 1.40.2
  * Python version:  3.6.9

### Steps to reproduce (Include if Applicable)
use the CMakeToolchain generator and cmake to do a build.  The compiler-appropriate parallel build argument is no longer passed.

I have attached a `conanfile.py

[2021-11-16 21:45] memsharded commented on #10030
Hi @TedSmithNXC

I'd say in your example you have the ``CMakeToolchain`` twice, once declared in ``generators=`` and another in the ``generate()`` method, you should use only one of them.

Then, the issue is that the new tools try to decouple the "what" and the "how". The parallel builds is part of the "how", and changing it shouldn't affect at all the final binary. Then, it is defined by configur

[2021-11-16 21:53] memsharded commented on #9943
This is the current logic in CMakeDeps:

[code]
We don't plan to change this, and we think the solution is to update recipes to add ``set_property()``, aligned with your feedback @eigenwhat. Still, if a recipe adds a property ``cmake_file_name=Something`` that contains upper case, the filename will be ``SomethingConfig.cmake``. I hope this is still ok, right?

[2021-11-16 22:02] memsharded commented on #10029
Hi @randrej

A couple of clarifications:

It is not a system-wide store. By default is per-user, but for concurrent systems like CI agents, each concurrent job should use its own store (with CONAN_USER_HOME env-var)

Can you please clarify what you mean with "to make a source distribution"? Isn't that cloning the original git repo?

If you want to extract files from Conan packages to user space, I

[2021-11-16 22:31] kenfred commented on #10030
@memsharded
What does the `parallel` argument mean in the new cmake build helper?

The [doc](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake.html?highlight=cmake) says:

Does this not work?

[2021-11-16 22:38] memsharded commented on #10030
It should, do you have defined ``tools.microsoft.msbuild:max_cpu_count`` and is still not adding the parallel arguments?

I am still not sure about the purpose of the ``parallel`` argument, for me it reads as some legacy copy&paste, so probably can be dropped. I vaguely recall something like some package parallel build was failing, and the recipe could force ``parallel=False`` to disable it. I thi

[2021-11-16 22:59] TedSmithNXC commented on #10030
Oh i see I do have the generator twice.  I'll remove that.

Setting parallel=True in the cmake generator doesn't seem to help.

I tried this:
[code]

I also added a second file to the compile.

I got this on windows:
[code]

I also see no change on linux.

Note I am printing the CPU count which is 12.

[2021-11-16 23:03] TedSmithNXC commented on #10030
am I setting parallel=True in the wrong place?

[2021-11-16 23:10] TedSmithNXC commented on #10030
@memsharded   I see now that you commented on `parallel` perhaps doing nothing anymore.   If my tools.cpu_count() reports multicore but I'm still not getting parallel builds, do you have any other ideas as to how to get the build command to include the proper parallel build flags?   I'm not clear on what else I could do to force it.

[2021-11-16 23:50] memsharded commented on #10030
Yes, apparently you are still not setting the configuration. Please make sure to add in your profile:

[code]
You can also try with ``tools.build:processes`` (there is still some work to do here, the UX should probably be improved). You can also set those values in command line with ``-c tools.build:processes=4``.

[2021-11-17 01:28] ItsBasi opened #10032 "[bug] CMakeDeps generator set's INTERFACE_INCLUDE_DIRECTORIES even tough no include folder was created"
While experimenting with the CMakeDeps generator i noticed that, contrary to the "cmake" generator, an include folder has been assigned to the opencl-icd-loader. It appears that the CMakeDeps generator can reference an include directory even tough packaging never packages any includes.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Pro 21H1

[2021-11-17 03:29] eigenwhat commented on #9943
Sounds reasonable to me.

[2021-11-17 07:24] Psy-Kai opened #10033 "[feature] Make Qbs Generators ready for conan 2.0"
The Qbs generators should be on par with CMake. Transparent integration should be possible.
For this multiple things have to get changed:
*  [ ] QbsProfile generator should _not_ delete the settings directory
*  [ ] in addition to create a file containing a profile the QbsProfile generator has to modify the config in the settings directory
*  [ ] the Qbs build helper needs to detect and pass the s

[2021-11-17 08:29] jasal82 opened #10034 "[bug] Unexpected message output contaminating conan inspect --raw"
We're using `conan inspect --raw ...` to programmatically retrieve values from a conanfile. This used to work fine but started to fail some time ago. After some investigation I found that the output now contains an extra message before the line with the actual value:

[code]

This seems to be some kind of informational message regarding migration of .tgz files. I guess it's usually fine to print t

[2021-11-17 08:46] #9998 closed, assigned to memsharded

[2021-11-17 08:49] franramirez688 commented on #10034
Hi @jasal82

Which conan version are you using? This message is only supposed to appear once and if you're using a version < `1.31.0`.
This kind of message normally appears when you execute the first time conan after installing a new version.
Is it showing that message all the time?

[2021-11-17 09:09] jasal82 commented on #10034
Happens on 1.42.1. The problem is that we're installing a fresh version of Conan in each container instance. In the failing instance the `conan inspect` is run as the first command.

[2021-11-17 09:18] memsharded commented on #9998
Fixed in https://github.com/conan-io/conan/pull/10026, will be in 1.43

[2021-11-17 09:22] franramirez688 commented on #10034
@jasal82

Would it be possible to run before the `conan inspect` something like `conan -v` then you would get a clean output for the next command run, e.g., that `conan inspect --raw ...`?

For instance:

[code]

[2021-11-17 09:25] memsharded commented on #10034
A suggestion, the ``conan inspect`` contains a ``--json`` argument for this purpose: programmatic access. Is there any specific reason why you are not using the json output? It would be way mor convenient than parsing the stdout unstructured output

[2021-11-17 09:30] jasal82 commented on #10034
@franramirez688 I've already implemented that workaround in our pipeline.
@memsharded I agree that using the json output would be the more powerful option, but in our case we're just trying to read the version, so we would then need a JSON parser in the pipeline to parse the single value from the JSON struct or use a regex. Is the extra message gone in the `--json` case?

[2021-11-17 09:32] memsharded commented on #10034
It is a ``--json=somefile.json`` argument, whatever appears in the terminal stdout is not stored in the json file. If the field is restricted to the version, then parsing that file should be relatively straightforward with a similar regex, probably not necessary a full json loader.

[2021-11-17 12:06] #10034 closed, assigned to franramirez688

[2021-11-17 16:50] kenfred commented on #10030
@memsharded

TL;DR: the default should be max parallelism without the need to make any changes to my config or provide cmdline args.

Yes, the UX here leaves much to be desired. The old `cpu_count` mechanism worked well. Having to put the cpu count in the config is very cumbersome because it is machine-specific: it's not a config that we can publish company-wide and have people do `config install`

[2021-11-17 17:00] TedSmithNXC commented on #10030
the change to `global.conf` worked.    How is that file parsed?    Can I use python calls or jinja calls in there?

[2021-11-17 17:13] tapia commented on #9565
@Artalus I've been looking further into this (thanks @memsharded for the test!), and it doesn't have an easy fix. I tried composing the PATH variable through intermediate variables, as @SSE4 suggested, but windows "replaces" the intermediate variables with their content, so I get the `The input line is too long` error no matter how I compose `%PATH%`. There's not a lot we can do about it in the sh

[2021-11-17 18:37] lalit-g-deepr opened #10040 "[bug] Boost/1.76.0 build failing msvc"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 19.16.27045.0
  * Conan version: 1.42.1
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)
use the below conanfile.txt content with above environment details.
[requires]
boost/1.76.0

[generators]
cmake

[options]
boost:shared=False

The winprofile

[2021-11-17 18:41] #9557 closed, assigned to SSE4, uilianries

[2021-11-17 23:06] memsharded commented on #10040
Hi @lalit-g-deepr

Can you please post the whole error message? Or at least the boost-build lines showing the build error, not just the ConanException.

[2021-11-18 04:04] drmacdon opened #10041 "[bug] Windows conan_toolchain.cmake broken using CMake "CodeBlocks - NMake Makefiles" generator with CLion"
### Environment Details
  * Operating System+version: Windows 10 x64
  * Compiler+version: Visual Studio 2017 and 2019
  * Conan version: 1.42.1
  * Python version: 3.9.2

### Steps to reproduce (Include if Applicable)

CLion invokes the CMake generator with -G "CodeBlocks - NMake Makefiles" and the current code to _get_generator_platform() is detecting a Windows Visual Studio build and returns "x

[2021-11-18 07:37] wbitesi opened #10061 "[package] libcurl/7.79.1: Conan target changed from CONAN_PKG::libcurl to CONAN_PKG::CURL"
The CONAN_PKG::libcurl changed to CONAN_PKG::CURL. The package is included using libcurl/7.77.1 => Previously the conan package name was used for the target.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libcurl/7.79.1 (looks like other versions are affected as well)
  * Operating System+version: Windows 10/Linux Debian
  * Compiler+version: MV

[2021-11-18 07:38] wbitesi commented on #10061
[conan-curl-target-issue.zip](https://github.com/conan-io/conan-center-index/files/7560930/conan-curl-target-issue.zip)

[2021-11-18 07:51] #9963 closed, assigned to memsharded

[2021-11-18 08:14] Artalus commented on #9565
TY for looking into this. FWIW, I think PowerShell simply does not have that limitation at all, because it uses other mechanisms than `set X=...` to setup envvars. For us the real solution was "abandon cmd, use powershell, it's 2021 ffs".

In the thread above I theorized about providing additional generator that could've setup environment through python - via `os.environ['PATH'] += ...` for exampl

[2021-11-18 08:26] #10017 closed, assigned to memsharded

[2021-11-18 09:05] raphael-grimm commented on #8558
I just ran into a similar issue, where such a parameter would be advantageous. What is the current recommended workaround to achieve downloading all build and normal requirements of a conan.py? (no previous commands were executed)

[2021-11-18 09:10] SpaceIm commented on #10061
libcurl recipe has moved internally from `.names` to `set_property()` in https://github.com/conan-io/conan-center-index/pull/8010. And there was a conan issue of `set_property()` between conan 1.36.0 and 1.42.0.
conan 1.42.1 fixed it: https://github.com/conan-io/conan/pull/9952

[2021-11-18 10:18] memsharded commented on #8558
Hi all

This has been already implemented in Conan 2.0. The 2.0.0-alpha.1 is out there, still missing docs, etc, but that will be the good solution.

With Conan 1.X, one approach could be to do a ``conan lock``, then parse the json and do a ``conan download`` of what is there.

[2021-11-18 10:25] lalit-g-deepr commented on #10040
@memsharded Please take a look. I think conan is not able to find cl.exe but it is happening just today and I was using same package since 2 months.
PS D:\github\MaaS\conan> conan install .. --profile=../winprofile.txt --build=missing -s build_type=Debug -s compiler.runtime=MDd
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Debug
compiler=Visual Studio
compiler.cppstd=17
compil

[2021-11-18 11:30] franramirez688 commented on #10041
Hi @drmacdon

I think the problem may be that you're not telling conan the generator via `CMakeToolchain` or `[conf]`.
Check if you're defining one of these two options to declare the generator:

1- In your current conan `profile`, you can declare something like:
[code]

2- In your `conanfile.py`, invoke `CMakeToolchain()` and pass the generator:
[code]

If you're already using one of those, then

[2021-11-18 11:35] wbitesi commented on #10061
Upgrading to 1.42.1 fixed it only partially. I have rerun our project on our build server (with fresh conan install (v1.42.1 + cleared conan folder) and receive the same issues in our windows build. On Linux it seems to be resolved.

To generate the conan files in the build folder i use https://github.com/conan-io/cmake-conan (v.0.16.1). I've noticed in the generated conanfiles following:
conanbui

[2021-11-18 13:07] vuuk opened #10042 "[feature] Add documentation about setting MSVC Compile Options using MSBuildToolchain"
Please add example of how to properly set [MSVC Compiler options](https://docs.microsoft.com/en-us/cpp/build/reference/compiler-options-listed-alphabetically?view=msvc-170) using MSBuildToolchain to Docs.

Using the **MSBuildToolchain** from **conan.tools.microsoft**:

I was facing a problem today when attempting to set compiler options using the **compile_options** field.

I was attempting to set

[2021-11-18 13:23] SpaceIm commented on #10061
Maybe yes.

@memsharded @czoido @lasote It's an issue to address in conan I think, not CCI.

[2021-11-18 14:22] earonesty commented on #6233
i've found that if you put this command just before you run conan config in ci-scripts, it seems to reduce the likelihood of a race by a bit

`mkdir -p ~/.conan/tmp_config_install`

[2021-11-18 18:09] zawlin opened #10045 "[bug] Conanfile with conditional requirement with "conan install .. --require-override""
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu18
  * Compiler+version:
  * Conan version: 1.40.4
  * Python version: 3.8.11

### Steps to reproduce (Include if Applicable)
I encountered this while packaging opencv with optional cuda. The conanfile has the following:
[code]
`conan install  ..  --require-override="cuda/10.1"` fails with
[code]
`cona

[2021-11-18 18:40] TedSmithNXC commented on #10030
The command line and global conf options work well.   I am still of the opinion **changes should be made to have the default be to parallel build with all available cpus as was done before**.

I'm closing this issue because the manual options are sufficient to allow us to accomplish parallel builds.

[2021-11-18 18:47] kenfred commented on #10030
I'd keep this open for two reasons:
- The CMake helper has a constructor argument `parallel` that is not obeyed.
- In a CI situation, the number of cores is unknown, so hardcoding it on the command line or in global.conf can't maximize the cores of the CI machine.

[2021-11-18 19:24] drmacdon commented on #10041
Hi @franramirez688

Thank you for the quick response. I have tested both your suggestions and confirm they both work.

I had been trying to use CONAN_CMAKE_GENERATOR_PLATFORM which isn't leveraged in this code path but didn't realize the option to specify as a property to CMakeToolchain or even know the [conf] section in the profile existed. Both are valid and reasonable solutions with associated

[2021-11-18 20:40] puetzk commented on #7358
We hit this too, though ultimately decided windows had case-insensitive names, and conan wasn't wrong, so we didn't file a bug.

The issue arises because of https://github.com/conan-io/conan/blob/1.31.2/conans/model/env_info.py#L202

So if conan has not made *any* change to the environment, you see the case as it initially existed. But if conan has manipulated the environment at all, then when it

[2021-11-18 21:04] puetzk commented on #6577
Now that #8630 has introduced `_EnvVarPlaceHolder` and an `EnvVars` object with both `.prepend(...)` and `.append(...)` handling, it seems like it should be possible to truly fix this by having the only_diff mode distinguish which of the new values values vcvarsall prepended and which were appended, so that when `with tools.vcvars()` re-composes thigns the result preserve the order in which vcvars

[2021-11-18 23:07] memsharded commented on #10041
Yes, in general, all configuration env-vars will be deprecated and superseded by ``conf`` alternatives.

You don't need to maintain multiple profiles, you can specify the ``-c config_name=config-value`` in the command line directly

The thing is that the generator is used for other things. For example it can affect the project ``layout()``, which is important to implement local developer flows and

[2021-11-18 23:16] NoWiseMan commented on #9608
Frameworks created with Xcode 13.1 and macOS SDK 12.0 cannot be used with Xcode 13.0.
macOS SDK 12.0 adds an additional dependency to some of the base OS frameworks that are not present in the macOS 11.x SDKs.
Because of this, we not only received some warnings about an SDK mismatch, we receive hard errors about them.

[2021-11-19 00:13] memsharded commented on #10045
Hi @zawlin

Managed to reproduce in a test, and doing a potential fix in https://github.com/conan-io/conan/pull/10046. However, it is not clear the risk of breaking.

The fact is that ``--require-override`` was created to override transitive dependencies when creating and building packages in the cache. The ``conan install . --require-override`` doesn't fall in this category, because you can direc

[2021-11-19 01:22] drmacdon commented on #10041
This makes sense, just didn't realize it was deprecated when I was trying that option.

I didn't know that option existed either, and while that sort of works, it is technically broken somewhere (IDE Conan plugin?) due to escaping logic.

With ```--build missing -c tools.cmake.cmaketoolchain:generator="NMake Makefiles"```
[code]

While ```--build missing -c tools.cmake.cmaketoolchain:generator=NMa

[2021-11-19 02:41] ajrup opened #10047 "[question] How do I pass a cmake option/defintion recursively through the dependency tree"
I'm wondering if there is a way for conan to pass a cmake option/definition/configuration recursively through a dependency tree. Specifically, I have one header only library (let's call it libA) that will take a cmake option (I'm open to other alternatives) and will ultimately provide either a different header file or compile time switches (macros) in one header file.

This illustrates an example

[2021-11-19 02:42] harsszegi opened #10048 "[question] How to apply options to the package and its dependencies?"
Hello,

assume I have:

App->LibA->LibB->LibC->LibD

[The actual situation is lot worse, lot more components, lot more complex graph]

I want to set fPIC from profile on LibB,C,D but not on LibA and LibB.

Can I do that without specifying all three libs manually in the profile? Is there a way to tell

LibB*.fPIC=True

in profiles?
Thanks,

[2021-11-19 08:25] memsharded commented on #10047
It depends on how your actual dependency graph looks like. There are 2 possibilities:

- You are using ``private`` requires, and then libD, libC and libB can have different instances of libA. I hope it is not the case, these dependency graphs are typically challenging to maintain, and there can be many issues.
- The dependency graph is actually a diamond-like one, and all libD, libC and libB depen

[2021-11-19 08:28] memsharded commented on #10030
Yes, lets keep this issue open, I think there are improvements here to do:

- Change the default to parallel
- Try to normalize and reduce the high number of conf options for this
- Maybe remove the constructor argument (research the reason of this)

[2021-11-19 09:36] franramirez688 commented on #10041
Hi @drmacdon

You don't really need to put the `\` before the quotes. Try this:

[code]
I hope it works now 😁

[2021-11-19 10:13] Grafnus commented on #10040
We get the same error when building the conan package of boost 1.77. We are using the conan package tools and conan center index to build several conan packages with our Jenkins server. Boost 1.77 fails with the following error:

`ConanException: Error 1 while executing b2 -q numa=on target-os=linux architecture=x86 address-model=64 binary-format=elf abi=sysv --layout=system --user-config=/data/je

[2021-11-19 11:18] lalit-g-deepr commented on #10040
@Grafnus I have checked that my python version path shown in logs is python3. When I tried to build other packages, conan is able to build them with the same winprofile.txt inputs and other settings.

[2021-11-19 13:41] ziish opened #10050 "[bug] Workspaces do not work correctly when defining layout method"
### Environment Details (include every applicable attribute)
  * Operating System+version: `Ubuntu 21.04`
  * Conan version: `Conan version 1.42.0`

### Steps to reproduce (Include if Applicable)

I have created a small example repository [here](https://github.com/physhh/conan-monorepo) which can be used to reproduce the behavior. The repository contains two projects with two separated conanfiles.

[2021-11-19 15:03] drmacdon commented on #10041
I think you misunderstand. While I can get it to work from the command line where I can control the quoting, as mentioned the IDE/Conan plugin is escaping and I don't have control over that.

My point was being technically correct using "NMake Makefiles" is broken on the IDE/plugin, while giving "anything" works because the *actual property value is irrelevant* to Conan because it is also broken i

[2021-11-19 15:57] ajrup commented on #10047
Still designing this library, so nothing has been set in stone (this tree was a quick mock up from my brain), but no, I was not planning on using `private`. So a diamond tree is accurate.

Ah ok - I will try the option you listed and report back. I'm guessing it will work and is just part of the learning curve for myself. I am using cmake-conan in "bin", so it looks like [this ](https://github.com

[2021-11-19 16:02] ghost opened #10053 "[question] Cross compiling embedded with gcc-arm-none-eabi"
Hey,
I'd like to use conan to cross compile some 3rd parties for an embedded target with gcc-arm-none-eabi compiler (GCC 10 is used)

I've found this info
https://github.com/conan-io/conan/issues/675
bit it looks a little bit outdated to me

What os_target and arch_target should i use for embedded builds. target on embedded is usually "none" but this is not in the list

I tried
[code]

However it

[2021-11-19 17:47] rl-enjoyer opened #10055 "[question] How to run source with debugger?"
Hello, I've cloned the repo and have been trying to run the code with a debugger locally. With pycharm it does not work. The breakpoints are never hit, but changes I made to the files are taken when I run the debugger.

I was wondering if there is a way to run conan with a debugger? Hopefully in pycharm or visual studio code.

Thanks.

- [X] I've read the [CONTRIBUTING guide](https://github.com/co

[2021-11-19 17:58] w3sip commented on #9902
This keeps coming up. And I don't think a good solution currently exists, other than using build_requires with `force_host_context=True`. What am I missing here? How to link a project with a static library artifact, without having all the downstream objects to link with the same static library?

[2021-11-19 18:05] madebr commented on #9987
I think having functionality to set options of build requirements in a profile + checking in a recipe would be useful.
It seems [the cci qt recipe](https://github.com/conan-io/conan-center-index/pull/8116#discussion_r753408069) would benefit from such featuer.

[2021-11-19 18:26] ziish commented on #10050
Just a small update. This is not a fix but with those two hacks it would build:
[code]

With this the separate layout file is not used at all. Can anyone give me some heads up how it is supposed to work? Maybe I can provide an actual fix.

[2021-11-19 18:36] ziish commented on #10055
For vscode and the python extension it works for me with this `launch.json`:
[code]

[2021-11-19 18:49] memsharded commented on #10050
Hi @physhh

The "workspace" feature is not expected to work with the new ``layout()`` and new editables flow. We decided that a whole new approach was necessary first on the foundation of the package layout and editables, and that is the reason we did that effort and the new ``layout()`` was developed. We think it is a massive improvement over the initial version of the editables.

But the ``works

[2021-11-19 19:14] ziish commented on #10050
Hey @memsharded - Thanks for the info.
I have a use case in which a bunch (10+) of packages are developed at the same time. Editable packages would probably work but imho still takes too much time to setup. That said, I guess I can just create a cmake superbuild on my own.

[2021-11-19 19:28] memsharded commented on #10050
This is more or less what I am suggesting. If editables work robustly and easily with the ``layout()``, setting up a large project with multiple editables as you like it can probably be done more easily with a custom script (cmake, python, or whatever) than trying to make the current ``workspace`` feature to do what you want at this moment. We will eventually resume work on workspaces, most likely

[2021-11-19 19:35] memsharded commented on #10053
Hi @Ju1He1

It seems you are using quite old information. (For example using the docs for Conan 1.6, while we are at Conan 1.42, the former is like 3 years old now).

The cross-build model has also been updated. The modern approach doesn't use ``os_build`` in the profile, but instead uses 2 profiles, the "build" profile and the "host" profile. You could see a short demo in this video (https://yout

[2021-11-19 19:52] rl-enjoyer commented on #10055
Thanks very much!!

When doing this I saw
![image](https://user-images.githubusercontent.com/11447537/142682951-9cb7b393-bc32-451a-bbd7-cdf2f02147c6.png)

So following https://stackoverflow.com/a/63271966/7945066

I added

`      "env": { "PYTHONPATH": "${workspaceRoot}"}`

And that did it!! Thanks again.

[2021-11-19 19:52] #10055 closed, assigned to nobody

[2021-11-19 23:13] JenTzori opened #10056 "[question] status.conan.io remote is out-of-date (bintray should be deprecated, center.conan.io should be out of beta)"
Hi!

My team had some confusion over the new remote link. To my understanding, conan.bintray.com is deprecated and center.conan.io is the new remote. This is correctly detailed in the [docs](https://docs.conan.io/en/latest/uploading_packages/remotes.html#conan-center-deprecated), but the [status page](https://status.conan.io/) still lists bintray as the remote, and lists center.conan.io as being i

[2021-11-19 23:14] JenTzori commented on #10056
![image](https://user-images.githubusercontent.com/22458598/142702705-1c0b3e45-e892-4ffc-905d-b3285b9f0fd9.png)
![image](https://user-images.githubusercontent.com/22458598/142702753-5bf3aeb8-4751-4b67-ae98-0a9b24c7b094.png)

[2021-11-19 23:26] rl-enjoyer commented on #9392
Is this the sort of thing that would help with my question here https://cpplang.slack.com/archives/C41CWV9HA/p1637363530195300 ?

[2021-11-20 08:46] memsharded commented on #10056
Thanks @JenTzori for reporting this.

yes, the status page needs to be updated. I am transferring this to the conan-center-index repo and please @danimtb @davidsanfal @tapia if you could have a look at this.

[2021-11-20 10:54] memsharded commented on #10041
So @drmacdon just to make sure I fully understand the issue: at the moment the main blocker is the CLion Conan plugin, that is not doing the right thing? Is it possible to work with CLion defining the NMake Makefiles, if not using the plugin? In that case, we would need to work on the plugin repo, maybe transfer this issue there?

[2021-11-20 16:31] Quuxplusone commented on #4216
I'll jump into the bikeshed to say that `os=baremetal` would be strictly better (IMO) than `os=bare`. The phrase everyone (keeps saying they're) familiar with is "bare metal," which implies two good things to me:
- "Bare metal" is effectively a reserved word in English. Now, I could reasonably imagine someone in the year 2027 shipping an OS named Bare™ OS, and then if `os=bare` means something dif

[2021-11-20 16:43] drmacdon commented on #10041
At the moment, I have no blocker,  I'm using ```-c tools.cmake.cmaketoolchain:generator="anything"``` (literally).  That is an issue with double quotes and GeneralCommandLine and I'm not entirely certain if it is the plugin, the IDE, the terminal expansion, ```conan``` or a possible interaction of multiple of them.

With respect to this ticket, at this point, my only concern was to highlight that

[2021-11-20 19:32] NicolasIRAGNE opened #10059 "[question] CMake: How to properly handle transitive dependencies INTERFACE_COMPILE_DEFINITIONS ?"
Hello,

Conan version 1.42.1

I am currently trying to get our company software to build and I have run into a problem, and I'm not sure if it comes from a misunderstanding or not.

I have been able to reproduce the situation with simple examples using templates.
(For my actual packages I had been using cmake_find_package_multi but rewriting a simple example with CMakeDeps yielded the same problem

[2021-11-20 19:33] NicolasIRAGNE commented on #10059
I have missclicked and accidentally published the issue before finishing writing it and I cannot figure out how to delete it. I am currently editing it to finish my question. Sorry!

Edit: done
Maybe I should have submitted this as a bug report ? I am not sure of what I am doing so I might as well just be using everything wrong so idk

[2021-11-21 01:00] PengolodhGoedath opened #10060 "[bug] layout folders are inconsistently generated in local developer workflow"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win 10 (20H2, OS build 19042.1348)
  * Compiler+version: MSVC 2019, MSVC 2022 (shouldn't matter)
  * Conan version: 1.42.1
  * Python version: 3.10.0

### Steps to reproduce (Include if Applicable)

For testing purposes, I have setup the following directory structure:
[code]

When using a command line with w

[2021-11-21 06:25] PengolodhGoedath commented on #10060
It seems these two `if` blocks are responsible for this behavior:
 - called by `conan build`: https://github.com/conan-io/conan/blob/ea7e87914b7e6cc825321842a615be0c59fe25f6/conans/client/cmd/build.py#L45-L51
 - called by `conan install` (`conanfile_path` set) and `conan create` (`conanfile_path=None`): https://github.com/conan-io/conan/blob/ea7e87914b7e6cc825321842a615be0c59fe25f6/conans/client/m

[2021-11-21 21:26] ghost commented on #10053
Hey thx for this interesting video :)
I will go with the 2 separate profiles for cross compiling.

However I still got some questions

- what value should i specify as ARCH for the crossbuild profile? My MCU is an ARM Cortex M4 (which is an ARMv7-M arch). I did not find that in the arch list in my settings.yml. Am I missing something?
- For building embedded projects we have to pass some platform

[2021-11-21 21:51] memsharded commented on #10041
We don't want to introduce a mitigation that only partially addresses this, because the generator is actually needed for a bunch of things:

- To generate a ``vcvars`` file when needed:
[code]

- generation of the ``ClangCL`` toolset for MSVC:
[code]

- Definition of the ``cl`` compiler:
[code]

- Definition of the Intel compiler toolset:
[code]

It is not a thing that can be delayed, or just chec

[2021-11-21 23:05] memsharded commented on #10060
Hi @PengolodhGoedath

I think this is expected, and by design. The thing is that the location of the resulting folders, cannot be a function of any current working directory or user command arguments (like ``install-folder``). Because the information needs to be always the same, irrespective of those things, in order to work properly for other cases, for example for the ``editable`` case.

The loc

[2021-11-22 00:03] PengolodhGoedath commented on #10060
@memsharded

If this is as expected, then I couldn't get this from the documentation. It's never directly said, so I just assumed that the layout is relative from the current working directory. (After all, that's how the conan commands used to work: Do stuff in the current working directory according to the referenced conanfile).

So, if I understand correctly, calling `conan source ../recipe` in

[2021-11-22 01:25] ben-craig commented on #4216
Guess I'll chime in.

An OS target named freestanding wouldn't be a disaster, but baremetal is probably better.

My freestanding papers are targeting 3.5 audiences, and largely excluding a nearby 4th.  Looking at those use cases can help inform what makes sense on the package management side of things.

1. microcontrollers (this closely matches "baremetal")
2. a. OS kernels (this can also be "bare

[2021-11-22 04:56] drmacdon commented on #10041
That all makes sense and is reasonable. It is nice that Conan is able to guess the generator, providing a reasonable default and be correct 90% of the time - it's a little less clear on what it guessed, what is actually compatible and what is not.

When Conan installs, it guesses and configures the default profile, we can view and edit the default profile if it was guessed wrongly. The generator i

[2021-11-22 06:31] SSE4 commented on #10061
please [open a new issue](https://github.com/conan-io/conan/issues/new/choose) for the client, if it still persists
as I can say, it was fixed for `cmake` generator, but not for `cmake_multi`: https://github.com/conan-io/conan/pull/9952/files
it might be an oversight, and fix is really an easy one (change the [condition](https://github.com/conan-io/conan/pull/9952/files#diff-5fc4ac437d199ada80fa3b

[2021-11-22 07:50] czoido commented on #10061
Transferring this to the Conan repo...

[2021-11-22 08:23] memsharded commented on #10041
Yes, that makes sense, lets try to add some checks (initially I think it would be better to warn than to error, to not accidentally block users because some bug in the checks)

[2021-11-22 08:30] memsharded commented on #4216
Thanks @ben-craig and @johnmcfarlane for the helpful discussion.

Then, given all the feedback, I think the less bad alternative (there is clearly no perfect one for everyone), would be ``baremetal``.
There are open questions like the OpenRTOS, which I see becoming its own OS to allow those packages that needs to be aware and are completely specific to OpenRTOS and will not work in other platforms

[2021-11-22 08:43] czoido commented on #10061
As @SSE4 pointed out the problem is that the cmake_multi generator still listens to set_property.
We will release a 1.42.2 with this fix ASAP.
Thanks a lot.

[2021-11-22 13:04] Viatorus commented on #8824
@solvingj  @memsharded Any updates on this?

[2021-11-22 15:01] franramirez688 commented on #10015
Thanks for reporting the issue @foundry-markf
This change will be released in the next alfa version `2.0.0-alpha2`.

[2021-11-22 15:01] #10015 closed, assigned to franramirez688

[2021-11-22 16:45] franramirez688 commented on #3230
Thanks @atrelinski
I just added another branch trying the same example but using older generators like `cmake_find_package_multi`.
You can try it here: https://github.com/franramirez688/reproduce-bugs/tree/bug/soname-legacy
It's executing fine the application as well.

[2021-11-22 17:07] czoido commented on #10061
Conan 1.42.2 has just been released including this fix, please @wbitesi could you check that everything runs as expected now?
Thanks!

[2021-11-22 17:07] #10061 closed, assigned to czoido

[2021-11-23 07:56] Vhab commented on #7300
@memsharded This issue still affects us regularly.

We have regular reports across our organization of this exact bug triggering, to the point where we have a standard copy-paste response with instructions on how to manually remove locks.

Would it be possible to raise the priority on investigating and fixing this issue?

[2021-11-23 08:08] wbitesi commented on #10061
The fix worked and now my build are running as previously. Thanks for the fast fix @czoido !

[2021-11-23 11:29] memsharded commented on #10030
It also makes sense to define the machine ``cpu_count`` number in the ``global.conf`` configuration, there could be different approaches:

- Jinja template with function help
- Direct injection of a variable, like PROFILE_DIR is done

cc/ @maikelvdh

[2021-11-23 12:36] silktown-software opened #10066 "Conan appears to ignore options. sdl:iconv=false is ignored when building with MiniGW64 on Windows."
I am using mingw64 on windows with cmake and conan.

The build for libiconv fails with mingw64 on Windows 10. SDL has an option to compile SDL without libiconv support but this fails.

I am using the following `CMakeLists.txt`

[code]

my `conanfile.txt`

[code]

I am using the following profile to build

[code]

I am compiling using the following command in bash

[code]

Is there anything specifi

[2021-11-23 13:17] memsharded commented on #10066
It is possible that the recipes in ConanCenter do not fully support mingw building. In general they will have much better support for Visual Studio, because they are built and tested for it in ConanCenter CI.

Said that, it seems you have a typo:
[code]

sdl!=sdl2. The name should match, please try that.

[2021-11-23 13:20] silktown-software commented on #10066
https://conan.io/center/sdl?tab=overview

`sdl/2.0.1.6` is the correct version according to this.

[2021-11-23 13:24] memsharded commented on #10066
``sdl2:iconv=False`` => ``sdl:iconv=False``

[2021-11-23 13:29] silktown-software commented on #10066
Tried that. Works. :D

Feel pretty dumb. Thanks for the help.

[2021-11-23 13:29] #10066 closed, assigned to nobody

[2021-11-23 13:33] memsharded commented on #10066
Glad to help, those things happen 😄

[2021-11-23 16:19] TedSmithNXC commented on #10030
I like the Jinja template idea because it would allow for defining based on a system variable.  We could control the definition file but allow CI or local env's to change from the default by setting the env variable.

[2021-11-23 16:33] kenfred commented on #10030
Of course, this would be a manual way of doing what conan used to do: discover the number of cores on the build machine and default the number of parallel builds accordingly. It feels like a big step backward for us to try and do logic within a jinja template within the conf file when 99.9% of the time, we just want to maximize our cores.

I don't see much use in jinja templating to define build p

[2021-11-23 16:36] kenfred commented on #10030
On this point, we can already set config values on the command line, so this back door to a jinja template in the global.conf is unnecessary and kind of a horrible mess.

[2021-11-23 16:38] memsharded commented on #10030
This is what I am thinking:

- Defaulting to max cores
- Having a way to customize in config, based on the available number of cores, like doing cpu_count/2, or something like that.

The issue is than when maximizing the cores, it is possible that some machines can become a bit unresponsive, and fail to communicate correctly with the CI system, or be very slow for a developer machine? It seems tha

[2021-11-23 16:47] memsharded commented on #9943
I think this can be closed, it is expected that CMakeDeps is not using those names anymore, and there are other initiatives (updating recipes in ConanCenter with newer properties) to fix this. But please tell if I am missing something. Thanks.

[2021-11-23 16:47] #9943 closed, assigned to franramirez688, czoido

[2021-11-23 16:58] kenfred commented on #10030
That sounds great to me!

I agree. There are cases where people don't want max parallelism. In this case, the user can set the number cores in the conf file or on the command line. Something like `cpu_count/2` is not necessary - the user will just set the number of cores explicitly.

Jinja templating like `cpu_count/2` is for when you want to publish a conf file across an organization or within CI

[2021-11-23 18:47] memsharded commented on #10030
I am proposing https://github.com/conan-io/conan/pull/10068.

But I still have one doubt, regarding Visual, if both /m and /MP should be set to max cores by default:

- /m = /maxCpuCount is the number of parallel MSBuild jobs/tasks
- /MP = the number of parallel cl.exe compiled files

The issue is that the effective number of concurrent builds could become /m * /MP, overwhelming the computer (maki

[2021-11-23 23:35] SpaceIm commented on #9943
@memsharded

- The only way to properly support CMakeDeps in CCI recipes is to switch to `set_property()` in all recipes using `.names`.
- But `set_property()` is experimental and will break in the near future https://github.com/conan-io/conan/pull/8533#issuecomment-972860669

So how to offer stable interface for consumers of CCI during this transition? I believe that breaking CMake imported targe

[2021-11-23 23:55] memsharded commented on #9943
Hi @SpaceIm
I am not sure what you mean:

- The ``cmake`` and ``cmake_multi`` generators use Conan targets CONAN_PKG:: Those are no issue, as they always use the package name, this has been fixed after some regression
- The ``cmake_find_package`` and ``cmake_find_package_multi`` generators will follow correctly the defined ``properties`` (and also fallback to ``.names`` to not break in the transit

[2021-11-24 08:12] MTomBosch commented on #9837
Problem is resolved. The remote repo configuration in Artifactory was not correct. It was missed to use the api/conan URL format for the repository like described here: https://www.jfrog.com/confluence/display/JFROG/Smart+Remote+Repositories

[2021-11-24 08:12] #9837 closed, assigned to nobody

[2021-11-24 08:41] memsharded commented on #9837
Hi @MTomBosch

Sorry that this issue was not responded, sometimes with so many issue some might be missed. Don't hesitate to post followups if you don't get responses to re-surface the issue. Happy that you managed to solve it.

[2021-11-24 09:06] memsharded commented on #8824
The dependency resolution algorithm in Conan is not a full SAT solver over the version ranges, and it will not be.
The thing is such a SAT solver is a NP hard problem, together with the fact that its resolution involves doing tons of http api calls to servers, makes the problem intractable in practice.

So the dependency resolution is greedy, it starts from the consumer, and the resolved versions

[2021-11-24 09:54] #9936 closed, assigned to franramirez688

[2021-11-24 10:00] #4216 closed

[2021-11-24 10:01] memsharded commented on #9936
Merged https://github.com/conan-io/conan/pull/9980, will be released next 1.43

[2021-11-24 11:21] SpaceIm commented on #9943
Ok. Therefore I believe that:

- `CMakeDeps` shouldn't be promoted by conan team (in tutorials, and Slack/reddit etc) until CCI recipes properly support it. `CMakeToolchain` + `cmake_find_package*` is the way to go currently.
- Transition to `set_property()` in CCI (and therefore proper support of `CMakeDeps`) should begin when `set_property()` is stable enough. `CMakeDeps` shouldn't be recommende