[2022-06-26 10:08] scandyna commented on #11495
I think that [#9000](https://github.com/conan-io/conan/issues/9000) solves a problem to define components in one package.

If I understand [#10229](https://github.com/conan-io/conan/issues/10229), it is more related to the problem.
I want to avoid monolithic packages with components, like the current Qt Conan.
This is because we have an explosion of builds due to the fact that each component is an

[2022-06-26 10:46] scandyna commented on #11495
Now, where should we tell Conan to generate this `Qt5Config.cmake` ?

One solution could be some sort of meta-package:
[code]
I find this confusing. Should `QtCore` and `QtWidgets` depend on `Qt` ?
Also, in the packages repository, we will have a package named `Qt`. Is this a package with all the Qt libraries ?

If we accept that tools, like `moc`, are defined in `QtCore`, we can say that all comp

[2022-06-26 14:17] SpaceIm commented on #11495
This is why I said that the combination of https://github.com/conan-io/conan/issues/9000 + https://github.com/conan-io/conan/issues/10229 would be a solution. With https://github.com/conan-io/conan/issues/9000 you could define 2 config files in each recipe: `QtConfig.cmake` & `Qt<component>.cmake`. And https://github.com/conan-io/conan/issues/10229 would generate a coherent `QtConfig.cmake` for a

[2022-06-26 17:14] lzptr commented on #11027
@memsharded

First of, I am learning to use conan now, and I really enjoy it. Thank you very much for it!

I am trying to understand cross compiling with conan and I am too confused about the host and build profile naming.
And I have to argue, that the naming is entirely spot on.
GCC uses a triple notation for the cross compilation:

This is rare, so there is no common way of describing it. There

[2022-06-26 22:21] CD3 opened #11529 "[feature] add property to CMakeDeps to source a package's CMake config file(s)"
This is related to a topic that was brought up in issue #7118. That issue originally asked about a different feature, so I am opening a new one.

I think it would be _very_ convenient if the CMakeDeps generator had an option to allow the `<PKG>Config.cmake` file installed in the package to be used. I know that this is not recommended because it means that Conan will not be able to generate files f

[2022-06-27 02:47] #11500 closed, assigned to memsharded

[2022-06-27 04:46] maitrey commented on #11499
Hello @franramirez688 , Thanks a lot for taking care of my issue.

[2022-06-27 04:46] #11499 closed, assigned to franramirez688

[2022-06-27 04:47] maitrey commented on #11499
Since all my questions were answered, I would like to close the issue. Thanks!

[2022-06-27 07:50] MTomBosch commented on #3113
@memsharded When you say "This was very difficult to resolve in Conan 1.X without breaking" it is resolved in the most current version of Conan? In which specific version is it resolved?

[2022-06-27 08:16] Tumb1eweed opened #11531 "[question] How to set rpath-link in conan recipe?"
As I mention in title, I try to develop a conan recipe for TensorRT OSS + TensorRT GA， and  this thing happen:
[code]
What's the proper way to set rpath-link or LD_LIBRARY_PATH when developing conan recipes?

[2022-06-27 08:19] memsharded commented on #11531
Hi @Tumb1eweed

The ``LD_LIBRARY_PATH`` should be automatically set if you define the ``VirtualBuildEnv`` generator, it will create that file, containing the paths, that will be automatically injected before each ``self.run()`` call (that includes internals of ``CMake`` and other helpers)

[2022-06-27 08:46] memsharded commented on #3113
In Conan 2.0-beta.1 it is resolved, if you want to try it and give feedback, that will be very useful.

[2022-06-27 09:09] jcar87 commented on #11402
Hi @smoofra  - any luck with the proposed solution? Please let us know if we can provide further assistance.

[2022-06-27 09:12] czoido commented on #11528
Hi @ssrobins,
I see that you are doing the cmake.install() [inside the build()](https://github.com/ssrobins/conan-recipes/blob/14c9e32d29d2bdcb617e12fcd38d6d3929a13001/recipes/box2d/conanfile.py#L56) method. Can you try to move the install step inside the `package()` method of the recipe and check if the issue still happens?

[2022-06-27 09:15] cubanpit commented on #922
Any update on this? Is there any plan to optimize update before Conan v2?
We are using Conan 1.45.0 and running `install --update` does around 700 `REST_API_CALL` according to Conan logs, this takes several minutes. I tried to enable `parallel_download = 8` but it did not speed things up, it actually went slightly slower, so I assume REST API calls are not parallelized.

[2022-06-27 09:26] spektrof commented on #11498
Yes, this one can be closed.

Thank you!

[2022-06-27 09:28] memsharded commented on #922
Hi @cubanpit

No, there are no plans for this for Conan 1.X.
And I am not sure to which extent conan 2.0 will help with this. Some things have been optimized, leveraging the "immutability" assumptions when using revisions, but if the dependency graph is large, there will be many api calls to the server, and that might still be slow, as it has not been parallelized or new server APIs have been deve

[2022-06-27 09:28] #11498 closed, assigned to memsharded

[2022-06-27 09:43] jcar87 commented on #11531
Hi @Tumb1eweed! Thanks for raising this issue.

The behaviour you are experiencing is described [here](https://stackoverflow.com/questions/24598047/why-does-ld-need-rpath-link-when-linking-an-executable-against-a-so-that-needs): you are creating an executable (`getSupportedAPITest`), linking it against a shared library (`libnvinfer_plugin.so`) and the GNU linker (`ld`) is trying to locate that lib

[2022-06-27 10:24] cubanpit commented on #922
Thanks for the quick response. I attach the trace (without parallel download enabled), let me know what is the best way to provide the dependency graph size if needed.
[conan_trace.log](https://github.com/conan-io/conan/files/8991025/conan_trace_clean.log)

[2022-06-27 10:38] memsharded commented on #922
Thanks for the trace. However, I see in the trace, that a lot of downloads are actually happening. This might not be the same issue, but a different one. This issue is about ``--update`` that doesn't necessarily download. It will start with a already populated cache, and the update operation will not update anything, but still require some time. Maybe you are talking about total installation time

[2022-06-27 12:17] cubanpit commented on #922
Well, I already ran `conan install --update` on the same `conanfile.py` twice before generating that trace, so I was not expecting any download. I just noticed it is downloading the entire packages, even if at the end it confirms that all of them are available in the local cache. Am I missing something?

[2022-06-27 12:21] Tumb1eweed commented on #11531
Yes, my circumstance is the first case, I build tensorRT based on CUDA and CUDNN via Conan package.
And the second question, I use "from conans import ConanFile, CMake, tools", so conan.CMake it is
[code]

[2022-06-27 12:26] memsharded commented on #922
Yes, this is not expected, but I couldn't say why. Unless the packages got new versions in the server, in that case, it is the expected behavior, but if the packages are the same, they shouldn't be re-downloaded. There should be something else there. Can you reproduce for example using just a single package? Something like ``conan install <single-pkg-ref>``, then ``conan install <single-pkg-ref> -

[2022-06-27 12:27] Tumb1eweed commented on #11531
And I try VirtualbuildEnv like this, but it doesn't work...
[code]

[2022-06-27 12:45] cubanpit commented on #922
I can indeed reproduce it with a single package with almost no dependencies ([conan_trace_single.log](https://github.com/conan-io/conan/files/8992025/conan_trace_single.log)).
I guess that poorly implemented recipes should not cause this, maybe our `conanfile.py` is invalidating the package somehow, or the GitLab implementation of the Conan package registry is not working as expected. I am still s

[2022-06-27 12:46] dkumsh opened #11532 "[question] How to make transitive dependencies work properly"
Hi
I am using conan 1.49 (latest at the moment).

I have project called **base**, which uses number of third party libraries.
It uses cmake to produce two libraries: **libbase.a** and **libbase-shared.so**.
I am using _CMakeToolchain_ generator for seamless _CLion_ integration and
_CMakeDeps_ generator to produce  dependencies modules for cmake:

[code]

For consumers of the project **base** I def

[2022-06-27 14:38] memsharded commented on #922
Oh, it could be a server side issue, that is returning always a "should update". I'd say that is slightly more probably than something in the ``conanfile.py``

The first thing I would try is to validate if it is a server to download an ArtifactoryCE from our downloads page (it is completely free), run it locally in your computer (I can even run it in Windows just double click in the app/bin/artifa

[2022-06-27 14:40] memsharded commented on #11393
Closed by https://github.com/conan-io/conan/pull/11522

[2022-06-27 14:42] jcar87 commented on #11495
I wonder if the problem can be expressed in simple terms like like this:
* we need at least (and, at most) one Conan package that causes the generator to create `Qt5Config.cmake` - we want `find_package(Qt5)` to work
* we need that `Qt5Config.cmake` to include the logic to interpret the "COMPONENTS" argument passed to `find_package`, and "translate" `find_package(Qt5 COMPONENTS Core GUI ..)` into

[2022-06-27 14:45] memsharded commented on #11532
Hi @dkumsh

I would like first to understand better your use case, can you please clarify:

- Are your "components" "static" and "shared" mutually exclusive? Are they 2 different builds of the same source code? Can you link an executable from downstream to both simultaneously?
- If the answer is that they are exclusive, and you can only link 1 of them, it seems that is not the case for ``component

[2022-06-27 15:50] dkumsh commented on #11532
Hi @memsharded
For **base** project "static" and "shared" are built from almost the same cpp files.
Specifically, shared version of the library has everything that static library has plus extra code defining python bindings for the common part of both libs.
Historically (before conan use) these two flavours of the libraries (static and shared) are built together in one single build (both are defin

[2022-06-27 15:59] ssrobins commented on #11528
Moved it with this commit:
https://github.com/ssrobins/conan-recipes/commit/fffa43ce394d2e36c18d6798a30bbf96b6f9ce4a

Same error, though. It's a good refactor to make regardless.

[2022-06-27 16:51] memsharded commented on #11275
Submitting a PR with the test above that will close this issue: https://github.com/conan-io/conan/pull/11533

[2022-06-27 19:01] slewicki opened #11534 "[question] Running binary generated by conan package from CMake"
I am currently running conan 1.48.1 and CMake 3.23.2. I have a conan recipe that creates a rendering library and a tool used to compile shaders. What I am trying to do is to have CMake execute the shader compilation tool and embed the compiled output into the main application that is being built.

Is there a way to have CMake know about the binary from the conan package and have CMake execute the

[2022-06-27 19:39] MTomBosch opened #11535 "How to promote a certain package revision to different channel without package download?"
Using the copy command like described [here](https://docs.conan.io/en/1.44/reference/commands/misc/copy.html) all package variants (and revisions?) for a given package can be "copied" to a different channel.
I would like to use this functionality to promote a dedicated Conan package variant and revision from an "untested" channel to a "stable" channel once the testing was done at a later point of

[2022-06-27 20:09] derived-coder commented on #11027
You have my vote, it is counter intuitive to use `host` for the actually `target` system.

[2022-06-27 20:15] SSE4 commented on #10947
@uilianries @danimtb can you help reviewing yocto toolchain above? I am not familar with it

[2022-06-27 21:25] memsharded commented on #11352
Lets give it a try in https://github.com/conan-io/conan/pull/11536

[2022-06-27 21:35] memsharded commented on #11528
Thanks for the reproducible case, I have been able to reproduce it, that is a good start.
Indeed, for some reason, the "build" folder remains busy and cannot be moved (something that Conan 2.0 does when the revision is computed). I am investigating this, seems something specific to the ``box2d`` package build

[2022-06-27 21:45] memsharded commented on #11528
Seems yet another annoying Windows behavior.
If we just retry the move waiting a little bit, it will work:
[code]

[2022-06-27 22:36] memsharded commented on #11528
PR #11537 would fix it

[2022-06-27 22:37] memsharded commented on #11532
Specifically, shared version of the library has everything that static library has plus extra code defining python bindings for the common part of both libs

It is fine. The model of Conan binary packages is that they share the same source code and conanfile.py recipe, and just have different variants of configurations. But they can be installed and managed separately

If the compile time is the c

[2022-06-28 02:39] Tumb1eweed commented on #11531
And I try VirtualbuildEnv like this, but it doesn't work...
[code]

[2022-06-28 04:12] maitrey opened #11538 "[question] Packages get overwritten as we have same profiles but different compiler defines"
Hello Conan Folks, Thanks for helping me sort out my issue last time.
I am back with another question. My goal is to have 3 different packages. One is for kdp, ndp and mdp.
common profile:
[code]

kdp profile:
[code]
mdp profile:
[code]

ndp profile:
[code]

Please notice that the only difference between mdp and ndp is that the TGT defines are different.
However the binaries generated from mdp and

[2022-06-28 06:07] Tumb1eweed commented on #11531
And I try virtualrunenv, still not useful

[2022-06-28 06:42] SpaceIm commented on #11534
Add the recipe packaging this shader compilation tool to the build requirements of you conanfile, add `VirtualBuildEnv` generator, call the script generated by `VirtualBuildEnv`, and then call cmake on your CMakeLists (which is supposed to use `find_program()`).

[2022-06-28 06:49] ssrobins commented on #11528
Thanks for working on this!

[2022-06-28 07:59] memsharded commented on #11528
Thanks for testing Conan 2.0 and reporting! :)

[2022-06-28 08:02] memsharded commented on #11534
As a more general approach, the way to "prepare" the build of the current package happens in the ``generate()`` method. A builtin generator as ``VirtualBuildEnv`` can be used to automatically generate environment scripts that can put things in the PATH for example, or define other necessary environment variables.

It is also possible to explicitly do more custom things, like access ``self.dependen

[2022-06-28 08:09] uilianries commented on #10947
@derived-coder please, read https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer very carefully. I see you tried to use the old approach.

Also, toolchains can not have a template, because they are particular implemented, there is no such pattern.

The Yocto project works different, each package is added as a layer, is not same as Conan "philosophy". Hav

[2022-06-28 09:58] dkumsh commented on #11532
Thanks for you reply and for sharing the video. Will watch it.
This all make sense in my case and I am ready to try this approach.
I still have some questions left:

- base library depends on many other third party libraries. Most of them must be linked statically even with my "shared" library.  How can I control `shared` option of the dependencies independently of the `shared` option of the consu

[2022-06-28 10:35] japj commented on #11448
I have this same with conan 1.44.1.0,

I guess the minimum (from https://github.com/conan-io/conan-center-index/blob/master/recipes/openssl/1.x.x/conanfile.py#:~:text=required_conan_version%20%3D%20%22%3E%3D1.47.0%22) is 1.47.0 now

I would have expected a failure stating that 1.44.1 needs to be updated
(from the ImportError this is not exactly clear)

[2022-06-28 11:31] #11504 closed, assigned to nobody

[2022-06-28 11:59] cubanpit commented on #922
Here are the traces in the two cases:
[conan_trace_artifactory.log](https://github.com/conan-io/conan/files/9000735/conan_trace_artifactory.log)
[conan_trace_gitlab.log](https://github.com/conan-io/conan/files/9000736/conan_trace_gitlab.log)

This seems to confirm a bug in the GitLab implementation unfortunately. Thank you a lot for your support on the way.
I wonder if there is any way to work-aro

[2022-06-28 12:14] boussaffawalid opened #11539 "[question] full_package_mode also include build requirement in package id"
Hello,

Im trying to switch to `full_package_mode` for all packages, so I started defining the `package_id` method bellow for all recipe

[code]

First, I built meson with 1.11 and then when I tried to build pkgconf with ninja 1.10.2 I got this error

[code]

Is it expected that full_package_mode also include build requirements when computing package id  ?

[2022-06-28 12:43] #11393 closed, assigned to lasote

[2022-06-28 12:48] #11275 closed, assigned to memsharded

[2022-06-28 12:50] hwhsu1231 opened #11540 "[feature] Add `IMPORTED_LOCATION` property for IMPORTED targets created by `CMakeDeps` generator."
This issue is related to: https://github.com/conan-io/conan-center-index/issues/11403

According to the Documentation of CMake, there is a generator expression called [`TARGET_RUNTIME_DLLS`](https://cmake.org/cmake/help/latest/manual/cmake-generator-expressions.7.html#genex:TARGET_RUNTIME_DLLS), which is introduced in CMake version **3.21**. The value of `$<TARGET_RUNTIME_DLLS:tgt>` is determined

[2022-06-28 13:07] hwhsu1231 commented on #11540
Besides, if it is possible, I hope Conan can also provide other target properties related to `IMPORTED_` prefix:

- [`IMPORTED_LOCATION_<CONFIG>`](https://cmake.org/cmake/help/latest/prop_tgt/IMPORTED_LOCATION_CONFIG.html)
- [`IMPORTED_IMPLIB`](https://cmake.org/cmake/help/latest/prop_tgt/IMPORTED_IMPLIB.html#imported-implib)
- [`IMPORTED_IMPLIB_<CONFIG>`](https://cmake.org/cmake/help/latest/prop_

[2022-06-28 14:17] memsharded commented on #11540
This has been already solved, at least IMPORTED_LOCATION and IMPORTED_IMPLIB, in https://github.com/conan-io/conan/pull/11111 for Conan 2.0 (and released in beta.1), so I am considering this ticket solved.

Feedback for 2.0-beta is very welcome.

Also, for advanced deployment cases, Conan 2.0 provides a great new feature, the ``deployers`` that will certainly help with those cases of "collect all

[2022-06-28 14:17] #11540 closed, assigned to memsharded

[2022-06-28 14:18] franramirez688 commented on #11538
Hi @maitrey

Yeah, that's expected. The SHA created for each package is composed of the same parameters in that case. Take into account that the `buildenv` is not been added to the SHA so the packages are being overwritten every time.

If you want to differentiate them, perhaps it'd be reasonable to have two different architectures:

[code]

[code]
Or even to have another compiler field like `tgt`

[2022-06-28 14:21] memsharded commented on #11448
Hi @japj

Indeed this message could be improved. There is already a ticket for this in https://github.com/conan-io/conan/issues/11239, so I am closing this as duplicate (it is not clear that it will get enough priority to be fixed in the 1.X scope, but at least better track the other issue, as it is more complete and already outlines the possible approach to implement.  Thanks!

[2022-06-28 14:21] #11448 closed, assigned to memsharded

[2022-06-28 14:27] muhflare opened #11541 "[question] opencv with VideoCapture"
I am new to conan package manager, through some cpp files that I have written I tried to use opencv library and specifically the VideoCapture for reading videos, the thing is I did not succeed in any way to make the file compile and more specifically in linking my main.cpp with the required libs.
my conanfile.txt is :
[requires]
opencv/4.5.5
aws-sdk-cpp/1.9.234
openssl/1.1.1n

[generators]
compile

[2022-06-28 14:34] memsharded commented on #11532
Hi @dkumsh

all options are per-package. You can specify them using patterns, both in the profiles/command line or in recipes (possible, but maybe better consider profile/command line first), as ``pkg1*:shared=True``, ``pkg2*:shared=False``, ``pkg3*:shared=False``, etc.

It's even more complicated as I have chain of at layers of such libraries (each layer is consumed by the
next one: base <- consu

[2022-06-28 14:40] memsharded commented on #11539
Hi @boussaffawalid

In Conan 1.X, as mentioned for example in https://github.com/conan-io/tribe/pull/20, it is impossible to factor the ``build_requires`` into the ``package_id`` of the consumers. You can also see an explanation in: https://www.youtube.com/watch?v=kKGglzm5ous.
There is a tricky workaround for this, that is to introduce a duplicate ``python_requires`` to the same package, that is n

[2022-06-28 14:40] #11352 closed, assigned to memsharded

[2022-06-28 14:41] memsharded commented on #11352
https://github.com/conan-io/conan/pull/11536 merged, this will be part of 1.50, thanks for the feedback @datalogics-kam !

[2022-06-28 14:45] memsharded commented on #11541
Hi @muhflare

It would be great to see the full command and terminal output when you do ``conan install``. That output will contain for example some prints of your default profile used to install the binaries. One of the possibilities is that your current compiler configuration is not matching the one use to retrieve the packages (maybe the C++=17 standard? Not a typical source of binary incompati

[2022-06-28 14:50] memsharded commented on #922
Thanks very much @cubanpit for testing and following up.
Indeed seems a case on the Gitlab side. You can link the issue here if you report, so we can track it too.
I'd possibly recommend keeping your ArtifactoryCE around, at least locally, specially because Conan 2.0 works exclusively with API v2, and Gitlab hasn't implemented it yet, so it will not be possible to test it (even in Conan 1.X with r

[2022-06-28 14:52] memsharded commented on #11538
A good read for custom settings is https://docs.conan.io/en/latest/extending/custom_settings.html, if you haven't read it yet.

[2022-06-28 14:58] muhflare commented on #11541
[out.txt](https://github.com/conan-io/conan/files/9002176/out.txt)
this is the ourput of the `$ conan install . --build=missing --install-folder build`
as for `conanfile.txt` I am interested in keeping then as I want to use them later on

my OS:
`NAME="Linux Mint"
VERSION="20.3 (Una)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAME="Linux Mint 20.3"
VERSION_ID="20.3"
HOME_URL="https://www.linuxmint.com/"

[2022-06-28 15:02] boussaffawalid commented on #11539
@memsharded at first I thought about changing the global configuration, but then I released this is a breaking change.

Old branches will not compile anymore. We won't be able to recompile old releases without rebuilding the whole dependency graph.  Also old branches will not recompile anymore. This will be very painful for developers that compile some packages manually and uses other packages fro

[2022-06-28 15:48] boussaffawalid commented on #11539
@memsharded about the tricky workaround using `python_requires`, how to implement it ? is there any example

[2022-06-28 16:50] dkumsh commented on #11532
Thanks for detailed answers and review of the approach I used.
Indeed using actual component name ( in my case `base::static` instead of `APP::base-static`) fixes the problem with transitive dependencies.
However based on our conversation I like the approach with building mutually exclusive shared or static libs.
I  am going to switch to this approach.
Thanks again

[2022-06-28 16:50] #11532 closed, assigned to memsharded

[2022-06-28 20:21] blackliner commented on #8539
A year later, I had some support calls with JFrog engineers, and they found some irregularities on their end that could explain this issue. I will update the bug once we figure out what exactly the issue is.

[2022-06-28 20:27] blackliner commented on #8122
I think there is not much to be solved.

[2022-06-28 20:27] #8122 closed, assigned to nobody

[2022-06-28 20:28] blackliner commented on #8293
I think this was eventually a duplicate of https://github.com/conan-io/conan/issues/8539

[2022-06-28 20:28] #8293 closed, assigned to jgsogo

[2022-06-28 20:45] memsharded commented on #11539
But you can keep the previous configuration for the old branches, and have a new configuration for the new builds. Using ``conan config install`` you can define different zip files, or different branches of the configuration origin repo.

Yes: https://docs.conan.io/en/latest/devtools/build_requires.html#making-tool-requires-affect-the-consumers-package-id

[2022-06-28 20:50] memsharded commented on #11541
Yes, sure, but for reporting issues, it is always very important to provide what is called the "minimum reproducible case". That greatly help to reduce the time to investigate and fix issues. It is also good to develop incrementally, add one dependency at a time, make sure it works, test everything and then move to the next one, instead of adding all at the same time.

The first thing I would try,

[2022-06-28 20:54] memsharded commented on #11532
Thanks to you for all the feedback.
Don't hesitate to open new tickets if you need further help or have more questions.

[2022-06-28 20:56] derived-coder commented on #10947
@uilianries
Where do you see that I am using the old approach? I basically copied more or less the template from the new approach.

I disagree, toolchains can have template ( I used the same approach for a QNX toolchain recipe, works fine).
No more setting up the SDK, keeping the SDK up to date, etc. all thanks to conan profiles. It is working fine.
However, I am unsure whether it is really "corre

[2022-06-28 21:00] blackliner opened #11542 "[feature] .conanrc to specify repo-local workflow"
Coming from a discussion with @memsharded:

Conan currently does not support **implicit** configuration of the `conan` cache (templates, hooks, packages etc), but only explicitly by setting a env variable [CONAN_USER_HOME](https://docs.conan.io/en/latest/reference/env_vars.html?highlight=conan_user_home#conan-user-home).

This request is about introducing a `.conanrc` called file that will be plac

[2022-06-28 21:05] memsharded commented on #8539
Thanks for following up. That means that it is not something from the Conan side, maybe we could close this issue?

[2022-06-28 21:07] blackliner commented on #8539
It might be related to the missing transactional upload from the conan side (where only parts of the package are uploaded, but for example sources.tgz was not).

https://github.com/conan-io/conan/issues/6870

[2022-06-29 02:41] Tumb1eweed commented on #4048
Does "deployers" approach have doc?

[2022-06-29 03:37] scandyna commented on #11495
For the first part, expressing the problem: yes

For the second part, using `cmake_build_modules`: this is what I currently use for my projects.
A [project](https://gitlab.com/scandyna/mdtcmakeconfig) provides the stuff to create a Conan package that installs the required `build module`. The other projects will depend on this Conan package.
I documented it as a [workaround](https://gitlab.com/scan

[2022-06-29 03:45] Tumb1eweed opened #11543 "[question] Is there a way to replace VirtuaRunEnv?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
I know VirtualRunEnv would create a activate_run.sh to create virtual env environment, but my project is based on ROS2's colcon and conan-cmake to install conan package from my own artifactory, every package used by colcon is like a project, it's inconvenient to build package B relied

[2022-06-29 07:09] knzivid opened #11544 "[question] Is the conan_server API documented somewhere?"
[This page](https://docs.conan.io/en/1.46/uploading_packages/running_your_server.html) on conan_server mentions that it implements _Conan remote repositories_. Is this a protocol that's documented on wiki? I could not find anything on search engines. I see [gitlab](https://gitlab.com/gitlab-org/gitlab/-/blob/dc43147c35d236f98cdca1a2129cb5e31eae0e3c/ee/lib/api/conan_packages.rb) and gitea implement

[2022-06-29 07:17] uilianries commented on #11544
Hello @knzivid The Conan Server API is not documented and will not be. As it's an internal feature, the protocol can be changed without affecting the users, so Conan does not guarantee any API compatibility.

The Gitlab did a reverse engineer to get that protocol, they needed to study the code. Well, it's FOSS under MIT license, so people can do what they want :)

The best option is running [Artif

[2022-06-29 07:55] knzivid commented on #11544
Thanks

[2022-06-29 07:55] #11544 closed, assigned to nobody

[2022-06-29 07:57] memsharded commented on #11543
Hi @Tumb1eweed

The question is not clear. The only way to fill environment variables like LD_LIBRARY_PATH is to define such env-var. Maybe this is an issue for conan-cmake? Probably it is a limitation of conan-cmake or CMake itself.

Recall you can always use your ``generate()`` method to collect information from dependencies and do what you want, but your problem is not very clear. The ``Virtual

[2022-06-29 07:58] memsharded commented on #4048
Only https://docs.conan.io/en/2.0/whatsnew.html#new-deployers at the moment, but we are working on the docs for 2.0, it will get there soon.

[2022-06-29 08:30] maitrey commented on #11538
Thanks @franramirez688 and @memsharded : works now for me. Thank you for the super fast response. Take a bow please.

[2022-06-29 08:30] #11538 closed, assigned to franramirez688

[2022-06-29 09:01] muhflare commented on #11541
you are right, I updated the `compiler.libcxx=libstdc++11` and then ran it again.
but it seems I received the same error of linking, attaching the whole output file
[out.txt](https://github.com/conan-io/conan/files/9009009/out.txt)

[2022-06-29 09:17] maitrey opened #11546 "[question] Best workflow to use pipeline in jenkins"
Hello Conan Folks, Thanks for helping me two times already.
I have
We use Windows, github  and jenkins in my use case.
I see there are many ways of using jenkins pipeline with conan but again what is the recommended way  :
- https://docs.conan.io/en/latest/integrations/ci/jenkins.html
  Here I already find a flaw that it does upload --all meaning that it will all possible packages to be published

[2022-06-29 09:29] lasote commented on #11515
I think it is worth trying to think about it, I'll take a look. That way, we can remove it with (almost) no rejection from the users. That plugin can be contributed "externally" to conan code base.

[2022-06-29 09:37] memsharded commented on #11515
One thing to consider is that if we get good cache concurrency, this might not be necessary at all.
I have been having a look, it seems that with the multi-revision cache, and immutability it might be a bit easier to achieve more robust cache concurrency. (also fasteners got ReadersWriter lock)

[2022-06-29 09:49] lasote commented on #11515
What about a different recipe revision downloading the same boost sources zip? Is it something the concurrency would solve?

[2022-06-29 09:56] uilianries commented on #11544
@knzivid some clarification:

- You can play with the protocol, because it's stable enough;
- For future evolution, Conan will use endpoints to separate the API version, so it may not break users;

[2022-06-29 10:00] memsharded commented on #11515
Not really, but this cache was born mostly trying to solve the pain of limited concurrency in the cache while installing Conan packages (big binaries).

[2022-06-29 10:41] jcar87 commented on #11541
Hi @muhflare  -
could you try adding `-lm` when invoking g++ to compile and link the executable?

[code]

If this works, it might indicate some library in the dependency chain needs to express a dependency on the glibc math library.

[2022-06-29 10:51] muhflare commented on #11541
I think the error was shortened a little bit, but still failed
[out.txt](https://github.com/conan-io/conan/files/9009790/out.txt)

[2022-06-29 11:50] memsharded commented on #11541
Based on https://stackoverflow.com/questions/62334452/fast-math-cause-undefined-reference-to-pow-finite, I think it might be a libc incompatibility, that could arise because of that specific LinuxMint distro and fast-math availability

These are the things I would try next:
- Try building from source with ``--build`` (important to remove the other, unused dependencies, to reduce the buid time)
- T

[2022-06-29 12:03] lasote commented on #11515
Ok, then it is not worth it to try to "pluginize" it.

[2022-06-29 12:14] muhflare commented on #11541
Great I will give it a shot

Thanks!!!

[2022-06-29 12:28] AndreyMlashkin commented on #6878
For me it is a desired behaviour, that packages with different compilation flags have different packageID. Can I archive it somehow?

[2022-06-29 12:42] memsharded commented on #11546
Hi @maitrey

Yes, the https://docs.conan.io/en/latest/integrations/ci/jenkins.html integration is mostly a thin wrapper that could help with the authentication/credentials of Artifactory, but regarding Conan commands it is not doing much. The commands are still very explicit, like:
[code]
So you can safely drop the --all if you don't want it, and you can do an upload for a specific ``package_id``

[2022-06-29 12:47] memsharded commented on #6878
Yes, this has been implemented in Conan 2.0:

- ``tools.build:cxxflags`` are new ``conf`` values that will be automatically propagated to build system integrations (this is backported to Conan 1.X)
- The conf ``tools.info.package_id:confs=["tools.build:cxxflags"]`` allows defining which specific ``conf`` values become part of the ``package_id``

[2022-06-29 12:47] #6878 closed, assigned to jgsogo

[2022-06-29 13:54] maitrey commented on #11546
Hello @memsharded , thank you for your reply. I am evaluating if we could perhaps use conan for our use-cases. I will go through the links and would appreciate if you could discuss or chat at a suitable time. Thanks in advance!

[2022-06-29 13:57] hoxnox opened #11547 "[question] contradiction between x86 vs i386/i686"
settings.xml suppose to have only x86, but gcc use a different term for that arch - i368 or i686
I have x86_64 machine and i386 compiler with the following conan profile:

[code]

There are packages, that relies on `host` (for example m4) and expect i?86, but conan gives them `x86` and everything goes wrong.

On the other hand, I can set arch=i386, but conan is unhappy, because there is no such va

[2022-06-29 14:38] memsharded commented on #11546
Great, I am closing this issue as a responded question at the moment, but please reopen to continue the conversation, or create new tickets for more specific questions. And you  can reach us at info@conan.io if you want to talk. Thanks!

[2022-06-29 14:38] #11546 closed, assigned to memsharded

[2022-06-29 14:52] lasote commented on #11358
I investigated a bit:

In Conan it is used in:

1. `args_to_string` function to escape some arguments only in Windows. This usage is double creepy because it is not even processing the whole command line string but isolated lists of arguments. But eventually is the same and it is very likely needed for Windows.
3. Prepare the commands before calling `Popen`. This is funny because internally, the w

[2022-06-29 15:14] memsharded opened #11549 "[bug] Components cycles not detected"
Conan 1.50 introduced a new message for loop detection in components in https://github.com/conan-io/conan/pull/11519

This had been removed in 2.0, so the test fails, it is:
[code]

The test hangs forever, we need to change the algorithm and raise the error message again

[2022-06-29 15:19] memsharded commented on #11358
The thing is that I see that most of the time, those functions don't even receive a list, but already a string, so they have already collapsed most of the information, and it is likely that some paths and stuff already comes quoted? Splitting that list based on spaces and then quoting might not be the best "escaping" of those strings, like if you get some ``command -a value --other=othervalue``, i

[2022-06-29 15:34] radonish opened #11550 "[question] Shorter Lock File?"
I'm currently running into an issue when using lock files in the Jenkins environment related to character length limitations in the Linux environment. I am wondering if there is a way to generate shorter/more concise lock files.

Use case:

1. Developer pushes source code (of a Conan package) in a repo that contains many Conan packages (conanfile.py and source code are co-located)
2. Jenkins multi

[2022-06-29 15:40] boussaffawalid opened #11551 "[question] Mixing shared and static linking"
Hello,

I have a project that depends on qt and openssl.
Qt links openssl statically and I need to link openssl dynamically.

I tried defining this in my project recipe.

[code]
and also tried:

[code]

But I always end up with with a `Missing binary` error as conan was looking for qt that was compiled with  `"openssl:shared": True`

Is there a way to mix static and shared linking of the same depe

[2022-06-29 16:16] memsharded commented on #11551
You cannot link an artifact with two different variants of the same library.
If Qt links openssl statically, and Qt is a shared library, and openssl is a pure implementation detail, it could be kind of embedded, making it private. But in general it is a bad idea, you don't want your application to believe that it is using the modern openssl/2.0 version that your executable is using as s shared lib

[2022-06-29 16:21] memsharded commented on #11550
Hi @radonish

Some things that you can try:

- Use only the ``base`` lockfiles, they contain less information, but maybe could be enough? You might need to create the full lockfile on the child MBP to apply it, but might work
- Upload the lockfiles to an Artifactory generic repo (or other similar file solution if not using Artifactory), based on a path like the CI job number. This is relatively ea

[2022-06-29 17:50] fisher-m commented on #10542
The above URL is no longer available.  When I click on the link, I get a "Page Not Found" error.  Can you please post the new ConanCenter2 URL here?

[2022-06-29 18:51] fisher-m commented on #10542
I found the new page here:  https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html.

The ConanCenter2 URL is:  https://conanv2beta.jfrog.io/artifactory/api/conan/conan

[2022-06-29 19:11] memsharded commented on #10542
Yes, the new entry point is https://docs.conan.io/en/2.0/ (it doesn't make sense to maintain docs for the alpha live, 2.0 docs will be a moving target until 2.0 GA, and from there docs will be versioned again as 2.1, 2.2, etc

[2022-06-29 20:39] jjcasmar opened #11552 "Using conan_toolchain.cmake when generating it from CMake itself"
I am starting to test conan and I am using the CMakeToolchain generator. However, instead of calling `conan install .`, I am calling it through the CMake `conan.cmake` package.

So if I just run
[code]
the conan_toolchain.cmake file is generated correctly. On the next run I can do
[code]

This is unconvenient, as I have to run twice the configuration

However, if I try to run directly with the too

[2022-06-29 22:10] memsharded commented on #11547
The Conan architecture being ``x86`` is correct, and then, depending on the platform, the build system, the compiler, etc, it might be necessary to map that architecture to the specific expected values as ``i386``. That is the responsibility of the build system integrations.

The recipes from ConanCenter haven't upgraded yet to the modern build system integrations that will remain in Conan 2.0, so

[2022-06-30 06:15] hoxnox commented on #11547
Ok, got it. The right way is to have arch=x86 and fix the recipe. Thanks.

[2022-06-30 06:15] #11547 closed, assigned to memsharded

[2022-06-30 06:34] lasote commented on #11358
well, it is indeed not the main purpose of that function because, if you have already joined the arguments, you already lost information.

Yes, but also there might be arguments quoted that need to keep the quotes (double quote in the command line) and this is why we will break many things if we just remove it.

No, it doesn't work like that. If you split by spaces "command -a value --other=otherv

[2022-06-30 08:05] Tumb1eweed commented on #11543
I mean in consumer side, do I have to source activate_run.sh before build process begin? Can it automatically activate during cmake? Because I use conan in ROS2 project, it is difficult to source script before building packages, packages in ROS2 have dependency.

[2022-06-30 10:34] maikelvdh opened #11554 "[feature] Add post_build_failure hook"
We would like to have an hook entry point post build to execute in case of failure. This would allow for example to do for example in case of tests failures to do some segmentation fault crash code decoding of symbols.

[2022-06-30 10:47] maikelvdh opened #11555 "XcodeDeps Generator - Traits Support"
Similar as #11520, but then for XcodeDeps generator.

[2022-06-30 11:12] maikelvdh commented on #11094
We would like to second this pre/post hook feature for generate for different use-case, namely we would like to produce a mapping file between the dependencies target name and include folder. This mapping file we could then use in turn with [cpp-dependencies](https://github.com/tomtom-international/cpp-dependencies) to validate if the CMakeLists.txt are correctly specifying all the direct target d

[2022-06-30 14:38] radonish commented on #11550
@memsharded, thank you for your suggestions. I will look at potentially using a base lockfile to start with. I was planning on looking at using Artifactory longer-term.

[2022-06-30 16:07] czoido commented on #11525
Hi @Ahajha,
Thanks a lot for your question. I think it makes sense to be able to just select the components you want to depend on and not propagate everything. But yes, this could be made in two steps, one for simplifying the syntax and not having to specify it twice in the `package_info` and the second to restrict the information passed downstream.
We already discussed this recently in the past a

[2022-06-30 17:34] paulocoutinhox commented on #11518
I solved by myself removing this env variable in my bootstrap file:
https://github.com/nativium/nativium/blob/5425ca3f53fe506076dcbfaf1ff3fd954235c3d9/core/util.py#L24

[2022-06-30 17:34] Ahajha commented on #11525
Thanks for pointing me to those previous comments, I had looked to see if there was discussion about this but couldn't find anything.

I like the syntax you showed better, avoids a bunch of unnecessary parsing and whatnot.

[2022-06-30 17:41] paulocoutinhox opened #11558 "[bug] Error when use clear instead of header_only"
Hi,

Im using conan 1.50 and changed my conanfile recipe to use `self.info.clear()` instead of `self.info.header_only()`, but im getting this error:

[code]

This error is related to:

[code]

My conan version:

[code]

Thanks.

[2022-06-30 17:55] #11558 closed, assigned to nobody

[2022-06-30 18:37] paulocoutinhox commented on #11558
Problems with brew that changed the package folder to older version some time.

[2022-06-30 18:38] a4z opened #11559 "[bug] bazel generator not usable for packages with multiple libs, like openssl"
### Environment Details
  * Operating System+version: All
  * Compiler+version: Not relevant
  * Conan version: All
  * Python version: All

### Steps to reproduce

Use the bazel generator and use libcurl on Linux in your project,  so it depends on openssl.
libcurl will not be usable in your bazel project, since libcrypto.a and libssl.a appear in the wrong order for the linker

## Solution

To mak

[2022-06-30 18:50] paulocoutinhox commented on #11518
I changed my solution after find the correct property from conan for target settings:

Nativium:
https://github.com/nativium/nativium/blob/main/conan/darwin-toolchain/conanfile.py#L84-L92

Thanks.

[2022-06-30 18:50] #11518 closed, assigned to jcar87

[2022-06-30 18:53] a4z commented on #11559
The [alwayslink](https://docs.bazel.build/versions/main/be/c-cpp.html#cc_import.alwayslink) option has of course the disadvantage that it will blow up the size from the consumer

But I have no idea how that could be solved otherwise, since we do not know the required order of the libs.

It could be an option to make the cc_import visibility public, then consumers can create their own version of a

[2022-07-01 05:33] Ahajha opened #11561 "[bug] CMakeDeps+CMakeToolchain does not respect build_modules"
Editing `self.cpp_info.build_modules` for the CMakeDeps and CMakeToolchain generators does not seem to work, I'm not sure if this is a bug or if I need to be using it differently. Also, if this is a bug, I would like to know if there is a workaround for now.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: GCC 10.3
  * C

[2022-07-01 06:05] sobczyk commented on #10317
I use libcxx with conan 1
I use `python_requires_extend` to inject libcxx requirement (with `private=True`, to be able to use stdc++ too)
I did not want to hack in python too much, so it's still required from my recipes that `requirements()` to be called in the conanfile proper. Or additions to cmake flags (like adding libcxx flags to `*_INIT` cmake variables)
I've hit a problem with this approach

[2022-07-01 06:29] lasote commented on #11561
Yes, the `build_modules` has been removed in Conan 2.0 and, in the new generators (CMakeDeps, CMakeToolchain...) you have to use `self.cpp_info.set_property("cmake_build_modules",  ["test.cmake"])`.
I recommend reading the migration guide to be ready to have "Conan 2.0" compatible recipes, this section talks about these "cpp_info" changes: https://docs.conan.io/en/latest/migrating_to_2.0/recipes.h

[2022-07-01 06:39] lasote commented on #11552
Hi, I'm moving this issue to the cmake-conan repository because it doesn't look like a Conan issue. If you are starting with Conan I would strongly recommend not to use the `conan.cmake` but just call `conan install` and then run cmake normally.

[2022-07-01 07:28] Ahajha commented on #11561
Thank you for the quick reply! I had seen the migration guide before, but I guess I missed that part. That change fixed it!

[2022-07-01 07:28] #11561 closed, assigned to lasote

[2022-07-01 09:22] a4z commented on #11559
additional info:  conan writes the order of libraries correct,
I am not sure if that happens on purpose or by accident, but that does not matter in that context.

anyhow, the reason why I have the problem:
since I use the packages in a multi platform scenario, I need to re-write some names, like, openssl -> openssl_armv8

this happens with [buildozer](https://github.com/bazelbuild/buildtools/blob/

[2022-07-01 09:41] czoido commented on #11559
Hi @a4z,
I was also double checking that the order was correct, yes,  we sort the components before writing the deps in the generator files. I could not reproduce because I did not use _buildozer_ for my tests, but now the problem seems clear.
Does only adding the `# do not sort` comment (but without `alwayslink = True`) fix the issue for you? If that's true I think we could just add that comment

[2022-07-01 11:38] a4z commented on #11559
yes, the `#do not sort` on the right position does prevent buildifier from sorting array entries
I updated the PR

[2022-07-01 11:44] sobczyk commented on #11433
OK, the issue is a false positive, process that ran conan, cleaned up all environment variables, including the non-interaction one

[2022-07-01 11:44] #11433 closed, assigned to memsharded

[2022-07-01 11:49] sobczyk opened #11562 "[bug] conan remove can't cleanup local cache (2.0)"
missing equvalent of `conan remove -b ref`

Conan 1.x has a feature to remove source folders and build folders
Conan 2.0 lacks that feature.

The feature would be needed for CI, where building large number of packages can exhaust disk space

[2022-07-01 11:50] czoido commented on #11559
Great, I'll mark this for the next release. Thanks for the contribution.

[2022-07-01 13:34] anderson-dev commented on #11474
For anyone experiencing this issue, I seem to have found a working solution:

I moved my scripting to inject the correct version into the .rc file into my conanfile.py build method just before calling msbuild. Once msbuild compilation/linking complete (and reads the rc versioninfo to bake into the binary artifact), as a final step of the conan build method, I conditionally `git revert */*.rc` to a

[2022-07-01 13:34] #11474 closed, assigned to nobody

[2022-07-01 17:15] bret-bailey commented on #5359
@SSE4 or anyone else, how is this accomplished?

specifically, we're targeting AWS Graviton 3 (InstanceType `C7g`), which equates to `ARMv8.4-a`
according to their documentation found here: https://github.com/aws/aws-graviton-getting-started

`Conan version 1.48.1` output shows the following:

I'm happy to add my own architecture to ensure compatibility, but I cannot find any documentation on how

[2022-07-01 17:19] SSE4 commented on #5359
@bret-bailey check this out https://docs.conan.io/en/1.50/extending/custom_settings.html

[2022-07-01 18:33] thorntonryan commented on #6577
FWIW, If I'm following, I think this `vcvars` discrepancy with the CMake builders may be no longer be an issue in Conan 2.0 assuming you use the new `CMakeToolChain` generator.

In Conan 1.x, the CMake Builder's configure step adds the `vcvars` dict to the environment prior to calling configure:
https://github.com/conan-io/conan/blob/345be91a038e1bda707e07a19889953412d358dc/conans/client/build/cma

[2022-07-01 21:12] paulocoutinhox commented on #11191
Hi,

This is solved? Any update to this @memsharded?

Thanks

[2022-07-01 23:03] datalogics-kam opened #11563 "[question] how to know if building from the cache in a Conan 1.x/2.x compatible way"
I'm working on making one of our exemplar projects be as 2.x compatible as possible while still working in 1.x.

I want to prevent building/running the unit tests when in the local cache vs running them when building in a development/CI context.

Previously, the package used `exports_sources` and didn't export the test folders, i.e.:

[code]

...and if the folders weren't there, the `CMakeLists.tx

[2022-07-01 23:07] datalogics-kam commented on #11563
I'm also looking for something I can pass into CMake like...

[code]

[2022-07-03 16:55] sobczyk opened #11565 "[bug] self.info.settings.compiler is not present during validate (2.0 compatibility)"
When switching to the info object, `compiler` is missing.
Either the 2.0 recipe upgrade documentation is missing information that compiler can't be checked, or that part of information is missing

### Environment Details (include every applicable attribute)
  * Conan version: 1.50

### Steps to reproduce (Include if Applicable)

Switch from `self.settings.compiler` to `self.info.settings.compiler`

[2022-07-04 06:24] czoido commented on #11562
Hi @sobczyk,

As you say this feature is not available in the `conan remove` command for Conan 2.0 but we have just documented one of the new features in Conan 2.0: Conan custom commands.

- https://docs.conan.io/en/2.0/examples/extensions/commands/clean/custom_command_clean_revisions.html
- https://docs.conan.io/en/2.0/reference/extensions/custom_commands.html#reference-commands-custom-commands

[2022-07-04 07:48] czoido commented on #11565
Hi @sobczyk,
Yes, looks like in Conan 1 `package_id()` is executed before `validate()` so if you delete the compiler it fails when you try to check those values. In Conan 2 it does not fail because among other things the `package_id()` is executed after the `validate()`.
I'll mark this as `look-into` so we can check the problem and think of the solution for the migration process.
Thanks for report

[2022-07-04 08:12] franramirez688 commented on #11398
Meson version: 0.63.0
Compiler: MSVC 193

@SSE4 I've been figuring it out more profound, and I can say this is a Meson bug.

As this [comment](https://github.com/mesonbuild/meson/issues/7630#issuecomment-680013376) is saying, Meson is translating the flag correctly but not adequately ordered (after the `/link` option):

[code]

But, if we replace the `-LIBPATH` with `/LIBPATH` it works:
[code]

[2022-07-04 08:57] JhaSujata opened #11566 "[bug] copy files are not preserving symbolic links"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04LTS (wsl1)
  * Compiler+version: gcc + 10
  * Conan version: 1.49.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
conan new pgsql/$version@qi/common --bare

###conan_settings="-s os=Linux -s arch=x86_64 -s compiler=gcc -s compiler.version=10 -s compiler.libcxx=libstdc

[2022-07-04 10:12] Tumb1eweed opened #11567 "[bug] self.copy(src=*, dst=*, symlinks=True) wouldn't work when src directory is a symlink"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 18.04
  * Compiler+version: gcc 7
  * Conan version: 1.49.0
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2022-07-04 10:25] lasote commented on #10317
About

The `self.dependencies` is only available in the `generate()` method, if you need to read something from the deps and use it later, you can write it to a file. I would say `self.dependencies` is available in the `build()` method too in Conan 2 but the "processing" of the dependencies to "prepare" the build is meant to be done in the `generate()`.

[2022-07-04 10:37] czoido commented on #11566
Hi @JhaSujata,
You can pass the parameter `symlinks` to `conans.tools.copy` to activate symlink copying. Please check the docs: https://docs.conan.io/en/latest/reference/conanfile/methods.html#package

Please, be aware that for Conan 2.0 compatible recipes you must use the [conan.tools.files.copy()](https://docs.conan.io/en/latest/reference/conanfile/tools/files/basic.html#conan-tools-files-copy)

[2022-07-04 10:41] SSE4 commented on #11398
okay, we need to report an issue to meson itself.
it means no Windows builds with MesonToolchain for some time, unless I find out how to make a workaround.
/cc @ericLemanissier

[2022-07-04 10:54] ericLemanissier commented on #11398
I got to the same conclusion some time ago, hence my old PR https://github.com/mesonbuild/meson/pull/6735, but I don't think I reported the issue

[2022-07-04 11:34] czoido commented on #11567
Hi @Tumb1eweed,

Could you please provide more information on how to reproduce the case? The code in the title does not seem correct, as the function is of the form showed in the docs: https://docs.conan.io/en/latest/reference/conanfile/methods.html#package

[code]
Are you using the tool correctly?

[2022-07-04 11:46] czoido commented on #11563
Hi @datalogics-kam,

I would suggest that you use different profiles in ci and locally and set the [tools.build:skip_test](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#test) configuration to skip the tests or not (you can also pass the conf via command line).

Hope this helps!

[2022-07-04 12:15] JhaSujata commented on #11566
Hi @czoido ,

I am providing the parameters like below

`
from conans import ConanFile, tools

class PgsqlConan(ConanFile):
    name = "pgsql"
    version = "12.4"
    settings = "os", "compiler", "build_type", "arch"
    description = "<Description of Pgsql here>"
    url = "None"
    license = "None"
    author = "None"
    topics = None`
   `
    def copySymlinks(self):
    tools.copy()

    de

[2022-07-04 12:30] czoido commented on #11566
Hi @JhaSujata,
Is the problem is that the symlinks are absolute? In that case you may want to use the [new copy tool](https://docs.conan.io/en/latest/reference/conanfile/tools/files/basic.html#conan-tools-files-copy) and the [absolute_to_relative_symlik()](https://docs.conan.io/en/latest/reference/conanfile/tools/files/symlinks.html#conan-tools-files-symlinks-absolute-to-relative-symlinks)
If that

[2022-07-04 12:39] Tumb1eweed commented on #11567
the command is:
self.copy("*", dst="lib64", src=self.source_folder + "/cudatoolkit/libcurand/lib64/", symlinks=True)
I try to copy from cuda

[2022-07-04 12:58] czoido commented on #11567
Hi @Tumb1eweed,
If I'm understanding correctly, would a `conan create` on this recipe reproduce your case? For me at least this is working. Maybe I'm missing something?

[code]

[2022-07-04 13:25] kingudk opened #11568 "[question] Headless Conan windows installer"
Hi

In our build environment we are starting to use conan for handling dependencies on C/C++ libraries and soon also for internal publication. We need to be able to build both for Linux and Windows environments and our build tools are within container images (for both platforms).
Getting a Linux image ready (with gcc, cmake and conan) was not much of a hassle. On the windows side I have an image w

[2022-07-04 13:25] Tumb1eweed commented on #11567
yes, something like that, or you can download cudatoolkit to see its directory "libcurand/lib64"

[2022-07-04 14:41] czoido commented on #11568
Hi @kingudk,
The Conan installer is created with Innosetup so you can try the arguments on its documentation and that should work to remove all message boxes and warnings during the installation of Conan (check `/SP-`, `/SILENT`, `/VERYSILENT`, `/SUPPRESSMSGBOXES`...). Check the [docs of Inno Setup](https://jrsoftware.org/ishelp/index.php?topic=setupcmdline) for more details.
Nevertheless, the [re

[2022-07-04 14:50] datalogics-kam commented on #11563
Hi, @czoido

I was starting to think something like that. The real situation is that I want to run the tests when the package is a consumer (which would be in development and CI). I see that `_is_consumer` variable sneaking around inside Conan 2.0.

Also, there's no point in _building_ the tests either if building the package isn't going to run them.

I'm thinking of using an option `enable_testin

[2022-07-04 15:13] czoido commented on #11563
Hi @datalogics-kam,
You can get the value of the conf and use it inside the recipes like:

[code]

I don't recommend relying on the undocumented private `_is_consumer` variable, it's better to control that using the conf depending on the situation you are creating the package.

Hope this helps!

[2022-07-04 15:18] czoido commented on #11566
Hi @JhaSujata ,
Can it be that you are missing the `symlinks=True` for `libpq.so`?

[2022-07-04 15:20] datalogics-kam commented on #11563
I won't rely on private variables like `_is_consumer`.

Using the conf variable still doesn't solve the problem, here's why. Let's say we're talking about skipping package A's tests.

* If I'm building A for development, the tests will build/run by default. Good.
* If I'm building A in CI, the tests will build/run by default, also good.
* If I'm running `conan install` on package B, and B consumes

[2022-07-04 15:37] Sebastian-Setzer opened #11570 "[question] How to tell conan to just use the prebuilt tool, not try to build it?"
I've got a conanfile.txt that contains these lines:
[code]
and there exists a prebuilt package here: https://conan.io/center/cmake
Which is available for Windows, built with Visual Studio 15.
cmake/3.23.2:0a420ff5c47119e668867cdb51baff0eca1fdb68

When I run `conan install .. -pr:h=default_host -pr:b=default`, conan tries to build it, instead of using the prebuilt one. I assume that is because my d

[2022-07-04 15:37] czoido commented on #11563
Maybe you can set `tools.build:skip_test=True` in the [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) file located in the Conan user home directory and just set `skip_test=False` for certain cases like the two first? Would that help?

[2022-07-04 15:44] datalogics-kam commented on #11563
Considering the third case, if I set `skip_test=False`, it will allow testing of B, but will also turn on testing of A again, because conf variables affect all packages.

I tried out the option idea, and it's a decent workaround for now. Options are per-package, so that lets us turn on testing for the consumer package. (We have a set of invoke tasks that kind of wrap around Conan and inject profil

[2022-07-04 15:46] datalogics-kam commented on #11563
This kind of brings up another question: Should there be a conf variable to skip tests when building a requirement in the cache?

[2022-07-04 15:50] Sebastian-Setzer commented on #11570
Would the `cmake` package creator have to follow the advice here: https://docs.conan.io/en/latest/creating_packages/existing_binaries.html#downloading-and-packaging-pre-built-binaries

But as a consumer of the package, I've got no chance?

[2022-07-04 16:24] jcar87 commented on #11570
Hi @Sebastian-Setzer  - thanks for raising this issue. We are currently investigating this as there could be an issue with the CMake recipe itself.

In the meantime, and to answer your questions and hopefully unblock you:

* Conan 2 will support defining custom compatibility plugins, see [here](https://docs.conan.io/en/2.0/whatsnew.html?highlight=compatibility#compatibility-py), which I believe co

[2022-07-04 16:50] JhaSujata commented on #11566
Hi @czoido ,
Thanks for the follow up.

I tried with both the options
1. Providing absolute path for symlinks files
2. Setting symlinks=True for libpq.so

`def package(self):
        #self.copy("*")
        self.copy("libpq.a",dst="bin",src="lib/linux")
        self.copy("libpgport.a",dst="bin",src="lib/linux")
        self.copy("libpgcommon.a",dst="bin",src="lib/linux")
        self.copy("libpq.s

[2022-07-04 17:21] jcar87 commented on #11543
Hi @Tumb1eweed  - would you be able to provide us with an example where the build of a package fails if the `VirtualRunEnv` is activated? With a specific failure case we may be able to provide better assistance

[2022-07-04 18:55] foundry-markf opened #11571 "[bug] Errors for incompatible option values for dependencies only shown for specific requires order"
I was investigating a Conan recipe setup that I expected to result in an error, because a dependency was being requested (directly and indirectly) with different option values. Instead, I saw no error, and the dependency was configured not how the top-level recipe asked for it, but from how the indirect dependency configured it.

The only difference is that the `self.requires` order is changed.

I

[2022-07-04 21:06] atniomn opened #11572 "Packaging proto best practice"
My firm has begun a widespread adoption of conan. We have dozens of separate repositories, each of which produce a conan package. In the first attempt to adopt conan, some individuals decided to include generated protobuf headers in their conan packages. This will cause a compile-time error if an older version of protoc was used to generate those headers (e.g. protobuf/3.6.1), than the version bei

[2022-07-05 03:06] Tumb1eweed commented on #11543
It's a little difficult to show all project (close source, sorry), but I can describe, you can build a simple project based on ROS2's build system colcon, suppose build two packages A and B, and you manage your dependencies by conan in A, and use ament_export to export dependency to B, then would discover that if not using rpath, then you have to source activate_run.sh before build package B, this

[2022-07-05 04:54] JhaSujata commented on #11566
Hi @czoido ,

I was invoking all the conan commands via a script. So, the conanfile was not getting updated with the symlinks parameter, hence,  symlinks was not working.

Thanks you for the support.

[2022-07-05 04:54] #11566 closed, assigned to czoido

[2022-07-05 05:53] kingudk commented on #11568
Hi @czoido
Thanks for getting back so quickly!
It did the trick `conan-win-64.exe /SP- /VERYSILENT /SUPPRESSMSGBOXES`.
I guess I'll go with that for now, and see how it should be revised for Conan 2.0.
2.0 will bring about other things that will be challenging, especially if cmake-conan is discontinued, but that is another discussion. Something that I might bring up after the summer holidays.

[2022-07-05 07:05] memsharded commented on #11568
I would like to bring another possibility for other users with similar needs, to install Conan without pip/python: the ``pyinstaller.py`` file in the root of the repo is able to create the Conan independent executable. It is likely that you can take it and put it in the docker image, without needing to use the installer.

I think we can close this ticket now as resolved, thanks!

[2022-07-05 07:06] #11568 closed, assigned to czoido

[2022-07-05 07:19] memsharded commented on #11563
Hi @datalogics-kam

the idea with the new ``conf`` and the new approach facing 2.0 is that it is irrelevant if the package is built in the cache or in local user folder. We did a lot of work to make it work exactly the same in both places (like the new transparent integrations that allows ``conan install`` + ``cmake ...`` to do exactly the same as ``conan build``, which was false in the past).

Fo

[2022-07-05 07:28] memsharded commented on #11105
Hi @leha-bot

In theory this has been fixed in Conan 2.0 (already in beta), but please feel free to open a new ticket if you still have any issues around this in 2.0. Thanks!

[2022-07-05 07:35] memsharded commented on #11191
Hi @paulocoutinhox

No, the recipe for openssl still hasn't been modernized with the new build helpers that take into account this configuration.
You can see it from the ``from conans import ConanFile, AutoToolsBuildEnvironment, tools``. All the new integrations are in ``from conan.tools.xxx`` (note the singular)

[2022-07-05 07:37] SpaceIm commented on #11572
This issue is also described in https://github.com/conan-io/conan/issues/11193, but I don't know if it's fully fixed in conan v2.

[2022-07-05 08:45] memsharded commented on #11550
Ok. Also, you can try a git repo to store things in branches (one branch per CI job), as storage of things for CI. It is super simple setup and pretty solid and effective.

I think we can close this question as responded, but feel free to re-open or create a new ticket if necessary, thanks!

[2022-07-05 08:45] #11550 closed, assigned to memsharded

[2022-07-05 08:45] gabyx commented on #11275
How can I test this?

[2022-07-05 09:27] gabyx commented on #11275
OK here is a test visualizing the behavior:

[code]

The output here of ` print("CLONED:", os.getcwd(), os.listdir(os.getcwd()))` is:
[code]

so inside `.../project` (which is the `self.folders.source`) the repo is checked out `../project/{.git,project}`, which is weird, and IMO wrong.

Is my finding correct?

[2022-07-05 09:55] gabyx commented on #11275
So long story short:

[code]

the git checkout should checkout inside `conancache/../source` and `self.folders.layout` then references the relative source folder relative to the checkout in `conancache/../source`, so `project`.

Also the doc clearly states that too: https://docs.conan.io/en/1.50/reference/conanfile/methods.html#self-folders

[2022-07-05 10:02] gabyx commented on #11275
I ve seen there is a new, maybe that helps?

`self.folders.root: To specify the relative path from the conanfile.py to the root of the project, in case the conanfile.py is in a subfolder and not in the project root. If defined, all the other paths will be relative to the project root, not to the location of the conanfile.py.`

[2022-07-05 10:13] gabyx commented on #11275
@memsharded Could you reopen this.

[2022-07-05 10:15] sanko-oz commented on #9962
Whats the state of this feature/issue?
Do I understand it correctly: The recommende way is to use ` [env]` in profiles which specifies `CC` and `CXX`?

And how should it be done for compilers which are provided via conan packages?
They already set `CC` inside `package_info` via `env_info`, but it is also not taken into account.

[2022-07-05 10:48] czoido commented on #11565
Let's open a PR to check what would happen in Conan 1.X if we swap the order of the `package_id()` and the `validate()` and see what happens.

[2022-07-05 10:56] czoido commented on #11525
Let's do a POC for 2.0 considering this syntax with CMakeDeps.

[2022-07-05 11:31] franramirez688 commented on #11198
Closed by https://github.com/conan-io/conan/pull/11548

[2022-07-05 11:31] #11198 closed, assigned to franramirez688

[2022-07-05 11:51] fanselm commented on #8669
We're having same problem now.

We create a lockfile from our main products `conanfile.txt` and then we want to pass this to `conan test`, but if the test package's `conanfile.py` specifies build_requires that aren't used in the main product then it fails with `<REF> ID <ID> not in lockfile`. It would be nice if the build_requirements of the test package were simply ignored when conan test resolve

[2022-07-05 14:04] #10115 closed, assigned to nobody

[2022-07-05 14:44] paulocoutinhox commented on #11191
Hi @memsharded,

This only replace is enough?

Thanks.

[2022-07-05 15:18] memsharded commented on #10115
Hi @babariviere

Sorry this was not responded back then, this issue fell through the cracks :( Feel free to reopen or file a new one if you still have pending issues.

I hope that you found the issue, a couple of notes for other readers as well:

- Conan 2.0 configuration has moved to ``global.con`` and profiles ``[conf]``. Editing text files will not be done with Conan commands, too much of code,

[2022-07-05 15:43] memsharded commented on #8669
Hi all,

This has been solved in Conan 2.0, which much simplified and powerful lockfiles:

- test_package will not fail if it doesn't find things in the lockfile (non-strict mode)
- Things can be manually added to the lockfiles
- Lockfiles can be merged

Please have a look at https://docs.conan.io/en/2.0/tutorial/consuming_packages/intro_to_versioning.html#lockfiles, and https://github.com/conan-i

[2022-07-05 15:58] memsharded commented on #11524
Hi @rbanffy

Thanks very much for offering to fix this.

The thing is that we have already moved our efforts to Conan 2.0, and this warning has been removed already in 2.0. So unless there is something really broken, we prefer not touching it (it creates an added burden of merging from Conan 1.X branches to Conan 2.0 branches, conflicts, etc)

If you want to give it a try, https://docs.conan.io/en

[2022-07-05 15:58] #11524 closed, assigned to nobody

[2022-07-05 16:02] memsharded commented on #11535
Hi @MTomBosch

sorry for the delay in answering.

For some context please read: https://github.com/conan-io/tribe/pull/16

``conan copy`` and channel promotions of Conan 1.X have been already removed from Conan 2.0, because they break the promise of immutability.

The recommended approach is using server repositories. You can upload "testing" things to a "testing" repository in the server. Once al

[2022-07-05 16:08] memsharded commented on #6577
Hi all,

Yes, that is true. The new design of environment in https://docs.conan.io/en/latest/reference/conanfile/tools/env.html is based on:

- It prioritizes user control, so Conanfile methods do not activate any environment when they are called.
- All environment activation is done via files, so it is always explicit, and user controllable
- Environment activation is very local, and happens only

[2022-07-05 16:24] Sebastian-Setzer commented on #11570
Thanks, that helped a lot - I even learned something (howto scope profile settings to a package). It works now.
I only had to add another line: `cmake:compiler.runtime=MT`. Easy to find by checking with what the precompiled package was built.

Then, I had the same issue with ninja (because my default profile now didn't have any compiler related settings anymore, except for cmake).
But there, it's

[2022-07-05 16:55] harsszegi opened #11577 "[question] How should CONAN_CMAKE_FIND_ROOT_PATH_MODE_PROGRAM actually work?"
Hi,

I'm a bit puzzled by the usage of CONAN_CMAKE_FIND_ROOT_PATH_MODE_PROGRAM.
Generally CMake does a whole lot of dark voodoo magic during the project() call (e.g. setting up CMAKE_AR,
CMAKE_C_COMPILER, etc.).

conanbuildinfo.cmake (which practically transforms CONAN_CMAKE_FIND_ROOT_PATH_MODE_PROGRAM into
CMAKE_FIND_ROOT_PATH_MODE_PROGRAM) on its own is pulled in after project() calls - or at le

[2022-07-05 16:56] memsharded commented on #11565
It seems that it might be possible: https://github.com/conan-io/conan/pull/11576, at least tests are not breaking, we need to think further if there could be something not covered by tests.

[2022-07-05 22:03] tsondergaard commented on #6006
Just now ran into a problem uploading a 3 GiB qt package (with qtwebengine/chromium enabled) to artifactory-ce using the derby database. The problem was persistent in at least five consecutive upload attempts. `conan config set general.request_timeout=180` fixed it.

[2022-07-05 22:15] memsharded commented on #6006
Correct.

For readers awareness, in Conan 2.0, it will be the ``core.net.http:timeout`` config in ``global.conf`` file.

[2022-07-06 08:25] fanselm commented on #8669
That sounds great. We'll make a temporary workaround and add it to the list of things we need to improve when we change to Conan 2.0

[2022-07-06 10:45] lasote opened #11579 "[bug] CMakeToolchain fails when Android and pure C library"
If a dependency removes the `compiler.libcxx` the CMakeToolchain fails when Android is targeted.

[2022-07-06 10:50] lasote commented on #11579
False alarm.

[2022-07-06 11:30] babariviere commented on #10115
Hi @memsharded,

No problem, I just found the way to do it. That's why I have closed the issue. But thanks for your response!

[2022-07-06 14:18] harsszegi commented on #11577
Can someone make me understand this code snippet?

[code]
`_cmake_cross_build_defines` generally_ converts the CONAN_ prefixed CMake variables
into "native" CMake ones. Why are the CMAKE_FIND_ROOT_PATH* ones exceptions?
E.g. why are they transfered to CMake as -DCONAN_CMAKE_* variables and not regular
CMAKE_* variables?
Thanks,

[2022-07-06 14:50] TorstenRobitzki opened #11581 "[question] Install spdlog/1.10.0 on a docker container with gcc and clang installed"
I have a docker container with GCC 12 and CLANG 11 being installed. I run conan 1.50 to install the following:

    [requires]
    spdlog/1.10.0

    [generators]
    CMakeDeps
    CMakeToolchain

with the following command:

    conan install .. --build missing -s compiler=gcc -s compiler.version=12 -s compiler.libcxx=libstdc++11 -s build_type=Release

This fails:

    CMake Error at conanbuildin

[2022-07-06 14:50] memsharded commented on #10115
Great to hear that, thanks for telling!

[2022-07-06 15:42] Sebastian-Setzer commented on #10877
Not if the compiler is fetched by conan itself, for example with the `mingw-builds` package.
In this case, conan is able to put the compiler into the PATH, when you use the `virtualenv` generator.

But still, it would be even nicer if the `CMakeToolchain` generator would set the `CMAKE_..._COMPILER` variables. Because in PATH, there could be other compilers with the same name by accident.

[2022-07-06 16:12] EstebanDugueperoux2 opened #11582 "[question] Can I invoke "conan upload" using infos from recipe of current directory"
Hello,

I have a continuous integration composed of 3 instructions:

[code]

Is it possible to simplify that by letting conan upload deduce package name and version from recipe of current directory?

If no, make it sense to ask that through a feature request?

Regards.

[2022-07-06 16:20] jcar87 commented on #8846
Hi @H-G-Hristov - this feature will be part of release 1.51 as part of the [new file tools](https://docs.conan.io/en/latest/reference/conanfile/tools/files/downloads.html) that will be the default on Conan 2.

A few notes:
* As per [specification](https://datatracker.ietf.org/doc/html/rfc8089) and convention, using a `file://` uri to refer to a file in the local filesystem typically has a a third

[2022-07-06 16:39] boussaffawalid commented on #11539
@memsharded I'm confused now, I want the package to be **independent** from build_requirements not dependent.

If I got it right, I should just switch from `build_requirements` to `tool_requires` and conflicts in build requirements won't happen anymore.  So even I use `full_package_mode` I will be able to different tool_requires versions. Or am I missing something here?

[2022-07-06 16:42] memsharded commented on #11539
Both in Conan 1.X and 2.0, by default, ``build_requires`` or ``tool_requires``, do not affect the consumers ``package_id`` at all.

It seems that the error that you are referring above is a version conflict, nothing to do with ``package_id``. Sorry I was confused by the context and the title.

Using the 2 profiles approach, can reduce the number of version conflicts that happen between the host an

[2022-07-06 16:48] jcar87 commented on #11582
Hi @EstebanDugueperoux2, thanks for raising this as an issue.

The `conan upload` command operates on references that exist in the local cache, that is - they have already been exported to the cache.

Whereas `conan create .` operates on a recipe in the current directory - it will implicitly export it to the Conan cache.

Letting `conan upload` deduce from the local directory would give way to pot

[2022-07-06 17:00] jcar87 commented on #11581
Hi @TorstenRobitzki  - thanks for reporting this issue!

I believe CMake will check for the `c++` executable for the compiler, which in most cases will be `/usr/bin/c++`

Is it at all possible that this is pointing to clang? If you have the ability to drop into a shell inside that docker container, could you could run `/usr/bin/c++ -v` to check if `clang` or `gcc` is reported?

[2022-07-06 17:32] memsharded commented on #10877
This would be doable with the flexibility that ``CMakeToolchain``, but it needs to be explicit, for example we could define a ``conf`` like ``tools.cmake.cmaketoolchain:cxx_compiler``, that ``tools_requires`` packages could define, and the ``CMakeToolchain`` can just get its value and add it to the ``conan_toolchain.cmake``.

Is this what you have in mind? Because "automatic" guessing it would mos

[2022-07-06 18:00] datalogics-kam commented on #11563
Hey, @memsharded

Thanks for the reply. The insights you give guide me to better use of Conan, including things like moving from `options` to `conf` for things that are build/test behaviors rather than the configuration of the package itself.

The `develop` and `in_local_cache` variables were, admittedly, really confusing, and I agree with their departure.

I had an opportunity to rethink how this

[2022-07-06 19:18] TorstenRobitzki commented on #11581
Hi @jcar87,
thanks a lot for looking into this! The output looks confusing to me :

    # /usr/bin/c++ -v
    Debian clang version 11.0.1-2
    Target: aarch64-unknown-linux-gnu
    Thread model: posix
    InstalledDir: /usr/bin
    Found candidate GCC installation: /usr/bin/../lib/gcc/aarch64-linux-gnu/10
    Found candidate GCC installation: /usr/lib/gcc/aarch64-linux-gnu/10
    Selected GCC ins

[2022-07-06 20:12] andiwand commented on #10285
thank you @jwillikers ! but for now we have to go with custom recipes right? no CCI meson cross builds there as far as I can tell

[2022-07-06 21:47] jcar87 commented on #11581
Hi @TorstenRobitzki - thanks for checking the output of those commands.

It would indeed appear that `/usr/bin/c++` is configured to point to `clang`, while `cc` is gcc - this would explain why CMake is picking those up.

By default Conan will not configure the CMake builds with any specific compiler, but rather, it assumes that when you create a package with a specific configuration, you are maki

[2022-07-06 23:15] boussaffawalid opened #11584 "[question] How to handle multi config package with dependencies"
Hello,

I have a project that depends on both `qt` and `openssl`

* qt package was created with multiconfiguration=True, this means one qt package that contains both debug and release binaries. in this case qt package does not depend on build_type. (2 configs -> 1 package)
* zlib in the other hand is 1 config -> 1 package, this means we have two different packages one for debug and another for rel

[2022-07-07 01:35] jwillikers commented on #10285
@andiwand At the moment, I'm not aware of any that use the new MesonToolchain generator in CCI. I'm not sure when that will be possible, but perhaps before too long it will be allowed as things transition to supporting Conan V2.

For the Wayland package specifically, I have a fork available [here](https://github.com/jwillikers/conan-center-index/tree/wayland-tool-requires-wayland) that uses the ne

[2022-07-07 02:47] harsszegi commented on #11577
Just a sidenote, I have replaced

`definitions[env_var] = value`

with

`definitions[env_var.replace("CONAN_", "", 1)] = value`

And for me it fixed cross compilation perfectly, e.g. as both `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM` and
`CMAKE_SYSROOT` were preset properly, cross compiliation tools were found properly and everything compiled
fine. Also it means that `conan_set_find_paths` can be simplif

[2022-07-07 07:04] Sebastian-Setzer commented on #10877
Still looks automatic to the user, right? Only the package that provides a compiler needs to care.
Yes, that's what I had in mind.

In the same direction, I wonder why the `mingw-builds` package provides a cmake target that you have to link to your own target, instead of putting the required things into the toolchain file. Isn't this exactly what the toolchain file is for? Because with the current

[2022-07-07 07:15] SSE4 commented on #10285
I have an ongoing effort to convert `GLib` recipe to use `MesonToolchain`: https://github.com/conan-io/conan-center-index/pull/11053
still, there are several flaws in conan cliient itself, and recipe needs several workarounds. I've opened some issues, hopefully in 1.51 it will be much better:
https://github.com/conan-io/conan/issues/9713
https://github.com/conan-io/conan/issues/11398
https://githu

[2022-07-07 07:26] andiwand commented on #10285
thank you @jwillikers and @SSE4 ! I will use your resources and try to create a recipe that works for me until conan catches up on this

[2022-07-07 08:14] memsharded commented on #11528
Fixed in https://github.com/conan-io/conan/pull/11537, it will be in 2.0-beta.2

[2022-07-07 08:14] #11528 closed, assigned to nobody

[2022-07-07 08:43] EstebanDugueperoux2 commented on #11582
Hi @jcar87,

Thanks for your answer.
Taking https://github.com/EstebanDugueperoux2/opencascade_test example, I try to get version as you indicated with conan 2.0.0-beta1, I execute "conan create . --format json" but get following stacktrace:

[code]

Then I understand that conan 2.x doesn't supports package dependency with reference to conan 1.x syntax.
I try again by removing dependencies to gtes

[2022-07-07 08:46] Timen commented on #6041
@memsharded I have the exact same issue, I'm using export sources to export the sources of a local repo as described here: https://docs.conan.io/en/1.46/creating_packages/package_repo.html#:~:text=When%20doing%20a%20conan%20create,them%20to%20the%20remote%20repository.

However local changes to source files aren't actually pushed to the source folder of the package reference. So I can call
`conan

[2022-07-07 08:49] memsharded commented on #11582
There is a syntax in Conan 1.X that will be compatible with Conan 2.0. But the recipes in ConanCenter haven't still updated to this new syntax.

For that, the best possibility in 2.0 might be the new custom user commands. You can easily implement your own ``conan create_and_upload`` command that do what you want. You can have a look to: https://docs.conan.io/en/2.0/reference/commands/custom_comman

[2022-07-07 09:00] memsharded commented on #6041
Still cannot reproduce. This steps seems to work fine:

[code]

Can you please try these steps and tell us if it works? Having a way to reproduce this would be necessary.

[2022-07-07 09:02] Timen commented on #6041
Do you have a specific repo where I should try this? Also note I do not run `conan new` before running `conan create`

[2022-07-07 09:06] memsharded commented on #6041
No need a repo, that is the thing, ``conan new`` creates a new project, just run it in an empty folder, that can be used to reproduce, that is one of the applications of ``conan new`` command.

[2022-07-07 09:21] Timen commented on #6041
Okay think I have a repro! and it actually is somewhat logical however when I run:
`conan create .`
Then change a file and run
`conan create . -k` (so keep sources enabled)
It won't update the sources which is somewhat expected
However afterwards when I run
`conan create .` (keep sources not enabled)
It doesn't update the source files (I suppose as the `Exported revision` did not change) which som

[2022-07-07 09:50] memsharded commented on #6041
Thanks, I have been able to reproduce it. The missing piece of information that nobody mentioned before was the ``--keep-source``:
[code]
This test fails.

Now, I have checked what would take to fix this bug, and I am afraid it is not going to happen, it is too complicated for the value. Let me explain:

- The ``--keep-source`` has implicit the assumption that the sources do not change either in t

[2022-07-07 09:52] Timen commented on #6041
Yeah seems a small but important detail, sorry about that. But I agree this might not be worth a fix at this time (additionally you could argue it's expected behaviour). Anyways thank you for helping out, I will just stop using keep sources :)

[2022-07-07 10:37] memsharded commented on #6041
Thanks for the feedback and helping to reproduce! Even if not worth fixing, it was really useful to understand it and learn what was failing.

[2022-07-07 10:42] #8846 closed, assigned to jcar87, memsharded

[2022-07-07 11:55] ytimenkov commented on #11304
@memsharded Are there any chances that Conan 2.0 will have it? I find it extremely convenient to be able to write `self.source_folder / "build"`.

I think it is important to make this switch in Conan 2.0 so new recipes can rely on this functionality.

[2022-07-07 12:41] TorstenRobitzki commented on #11581
Hi @jcar87

would that mean, that if I configure Conan to use GCC and try to install one single package A. Given that A depends on a second package B. Conan would then install B, but would let B choose what ever compiler it find suitable?

Thanks a lot for your suggestions! I will try them and will report, if one of them solves my problem.

[2022-07-07 14:26] memsharded commented on #11304
Maybe now that Conan 1.X dropped Py2 support, it is an option. Someone wants to contribute a PR for Conan 1? (it needs to be there, in order to have compatible recipes in both 1.X and 2.0)

[2022-07-07 14:30] memsharded commented on #11581
There is an important clarification here, that might be important for other readers too. Defining ``settings.compiler=gcc`` in profile or in command line is not configuring Conan to use Gcc. It is just telling Conan that gcc will be used for building. But Conan will not setup the environment with that compiler or anything like that.

There are other ways to help configuring the environment for exa

[2022-07-07 14:40] TorstenRobitzki commented on #11581
Hi @memsharded,

now, everything makes much more sense to me. That was the point, I was missing. I've just build my two configurations with:

`conan install -e CC=clang -e CXX=clang++ --build=missing -s compiler=clang -s compiler.version=11  ..`
and
`conan install -e CC=gcc -e CXX=g++ --build=missing -s compiler=gcc -s compiler.version=12  ..`

and everything was fine!

Thanks a lot!

[2022-07-07 14:40] #11581 closed, assigned to jcar87

[2022-07-07 14:42] SSE4 commented on #11304
here we go: #11585

[2022-07-07 16:25] memsharded commented on #11581
Great!

Just recall, that the modern tools for environment management do not use that way of specifying the environment (`-e CC=` not valid), and it will need the ``[buildenv]`` definition in the profile (profile usage super recommended instead of command line parameters), to be Conan 2.0 ready.

Thanks for the feedback and following up!

[2022-07-08 08:09] lasote commented on #11579
Appeared again, confirmed bug.

[2022-07-08 08:31] memsharded commented on #11487
This has been closed by test in https://github.com/conan-io/conan/pull/11497, for Conan 2.0. Overriding options from downstream consumers will now always be possible and have priority.

[2022-07-08 08:31] #11487 closed, assigned to memsharded

[2022-07-08 10:59] GregDomjan opened #11587 "[bug] Overridden requirement still builds original requirement and scrambles options"
### Environment Details (include every applicable attribute)
  * Operating System+version: docker ubuntu:jammy-20220531
  * Compiler+version:
  * Conan version:  pip3 install conan --upgrade
  * Python version: python3 jammy

dockerfile

RUN apt-get update && apt-get install -y \
    autoconf \
    g++ \
    make \
    pkg-config \
    python3-pip \
    && apt-get clean
RUN pip3 install conan --up

[2022-07-08 11:59] lasote commented on #11579
Closed by https://github.com/conan-io/conan/pull/11586

[2022-07-08 11:59] #11579 closed, assigned to lasote

[2022-07-08 12:01] jcar87 commented on #11572
Hi @atniomn, thank you for raising this issue! Protobuf is always an interesting one :)

I believe there are mutiple aspects of compatibility that you need to take into account when using Protobuf in Conan packages:

### Between generated `.pb.h` and the headers from the protobuf library
This is the case you are reporting. If you have a Conan package that exposes `.pb.h` files as _public_ headers,

[2022-07-08 12:01] jsallay opened #11588 "[question] Linux VirtualEnv ps1 files"
On Linux systems, if I run `conan install ... -g virtualrunenv` it produces `.sh` and `.ps1` scripts.
[code]
It is my understanding that the ps1 files are only useful on windows.  Why are they produced on Linux systems?  Looking at `https://github.com/conan-io/conan/blob/develop/conans/client/generators/virtualenv.py` I see that `.bat` scripts are only produced in windows environments.  Should the

[2022-07-08 12:11] memsharded commented on #11588
Hi @jsallay

You might want to check the new ``VirtualBuildEnv`` and ``VirtualRunEnv``, they are available in Conan 1.X, they have replaced the others completely in 2.0 (they ``virtualrunenv`` has been removed in 2.0, for example). These new generators only generate the files that you need. Check: https://docs.conan.io/en/latest/reference/conanfile/tools.html

[2022-07-08 12:16] jsallay commented on #11588
Perfect.  That's exactly what I wanted.  Thank you.

[2022-07-08 12:16] #11588 closed, assigned to memsharded

[2022-07-08 13:02] jsallay opened #11589 "[question] Conan 2.0 Custom Generators"
I have a few custom generators that help support pre-conan setups, defining extra environment variables and such.  I am attempting to upgrade these to conan 2.0, but it appears that custom generators are not supported in conan 2.0.  Looking at `conans/client/loader.py`, it requires all custom generators to be a subclass of `conans.model.conan_file.Generator`  but the 2.0 generators (like VirtualRu

[2022-07-08 13:24] nolange opened #11590 "[bug] conan should not set LD_LIBRARY_PATH, messes up tools"
### Environment Details (include every applicable attribute)
  * Operating System+version: debian 11 x86_64
  * Compiler+version: gcc 11.3.0
  * Conan version: 1.50.0 (debian package)
  * Python version: 3.10.5

### Steps to reproduce (Include if Applicable)

Tested this with the conan center gtest recipe, should
be the same problem with all cmake recipies.

[code]

Somewhere conan will call the e

[2022-07-08 13:55] ghost opened #11591 "[bug] Linux OpenCV 4.5.1 from Conan center crashes at run time"
Hey guys,
I'm using OpenCV from Conan Center.
On Windows everything works fine, however on Linux, my application crashes with

`error while loading shared libraries: libopencv_imgproc.so.4.5: cannot open shared object file: No such file or directory`

running
`ldd MyExecutable` gives me

![grafik](https://user-images.githubusercontent.com/93189163/177995288-5820a571-8758-4bf0-8bc2-7b651f23ad42.png

[2022-07-08 14:11] jcar87 commented on #11590
Hi @nolange, thanks for reporting this issue.

I believe this is indeed cause by the mechanism in which Conan is packaged inside the debian package. In order to maximise system compatibility and ensure it works out of the box, `PyInstaller` is used to generate a bundle that contains a standalone interpreter and the Python files needed for Conan to run.

What I believe is happening is that this bun

[2022-07-08 14:25] jcar87 commented on #11591
Hi @Ju1He1! Thanks for reporting this issue.

One option would be to add the `virtualrunenv` generator, which generates a file `activate_run.sh` which will set `LD_LIBRARY_PATH` for you with the correct values. Documentation here: https://docs.conan.io/en/1.46/reference/generators/virtualrunenv.html

Since you are invoking `conan` from CMake, you would have to add this to your `conan_cmake_configu

[2022-07-08 14:35] memsharded commented on #11346
Closed by https://github.com/conan-io/conan/pull/11575

[2022-07-08 14:35] #11346 closed, assigned to franramirez688

[2022-07-08 14:38] memsharded commented on #11590
For some added info, Conan already contains a mechanism, called ``pyinstaller_bundle_env_cleaned()``, that handles the replacement of PyInstaller LD_LIBRARY_PATH_ORIG for LD_LIBRARY_PATH, which is intended to alleviate this effect. But no idea why this is failing.

[2022-07-08 14:42] ytimenkov opened #11592 "[feature] Please provide all methods in base ConanFile"
Currently, `ConanFile` base class doesn't provide methods which need to be overridden by user (for example `package()`), this makes writing mixins which add different steps to "common" flow harder.

Consider example:
[code]

As I understand, in order for this to work with arbitrary set of mixins all of them should call `super().package()` (something called MRO involved). The problem is that for on

[2022-07-08 14:45] memsharded commented on #11589
Hi @jsallay

Custom generators had some flaws in the 1.X approach, like for example, different versions of the same generator inside a Conan package overwriting each other without any control or warning.
Conan 2.0 has taken a more explicit approach:

- The code is still shared via a Conan package, that can be ``conan export``
- That package is required via a ``python_requires``
- The code is expli

[2022-07-08 14:47] jsallay commented on #11589
Deployers sound like what I want.  I think it makes a lot of sense to break it out this way.  Is there any documentation on the deployers?  I can't find any.

[2022-07-08 14:54] memsharded commented on #11592
Not related, but I think it is important, feedback: Please try to avoid complex inheritance schemes, like transitive inheritance or multiple inheritance. The ``python_requires_extend`` mechanism might be limited and not be able to support some of the Python standard inheritance.

My general recommendation for all readers would be:
- Prefer composition over inheritance (that is a known design patte

[2022-07-08 14:58] memsharded commented on #11589
No, not yet, we are working on the docs, but not there yet. Your best bet would be to have a look to the tests:

- https://github.com/conan-io/conan/blob/develop2/conans/test/functional/command/test_install_deploy.py

[2022-07-08 15:05] #11304 closed, assigned to memsharded

[2022-07-08 15:31] Hopobcn commented on #10474
Closing. Finally discovered it was an artifactory problem.

The majority of packages were uploaded by the `annonymous` user (that unfortunately in my organization has Read and Deploy/Cache permissions). Logging in with `conan user` with a conan administrative account solved the issue (now i'm able to use `conan inspect` with a version range and `/v2/conans/search` will return the correct thing).

[2022-07-08 15:31] #10474 closed, assigned to nobody

[2022-07-08 15:41] memsharded commented on #10279
One important clarification: Calling ``conan`` from a running ``conan`` instance is not supported behavior, and it will not be supported behavior in 2.0 either. Conan application itself should not be called from any Conan code, not recipes, not hooks, not plugins(Conan 2.0), not deployers (Conan 2.0). Making Conan "re-entrant" would imply an big increase in complexity in many places, not worth the

[2022-07-08 16:23] memsharded commented on #10474
Thanks very much @Hopobcn for following up and reporting!
Happy that you found the issue and manage to make it work.

[2022-07-08 16:31] ytimenkov commented on #11592
I do agree that aggregation is to prefer. I just thought that since this mechanism is provided it should be used for these purposes. Was much skeptical myself about sharing python code as base classes when they were first introduced.

Yes, I noticed that conan prints / warns if there is no user-provided method. Was not sure about how important that feature was or mere convenience.

Let's close thi

[2022-07-08 16:37] memsharded commented on #11592
We introduced it because of high pressure by some users, but it is one of those features that we don't love, because we feel that in general it adds little value (avoiding to type a couple of lines, 2 per method), but makes things more obscure (as you don't know by reading a recipe if it is just missing a ``package_info()`` method, or it might be reusing an existing one from the base class, that y

[2022-07-08 16:38] memsharded commented on #11592
I have added the ticket to discuss for 2.0-beta, to make a formal decision if we want to have some uniform criteria for this, because at the moment there are methods like ``genarate()`` or ``layout()`` that don't exist. Whatever is done, I think that having the same approach for all makes sense.

[2022-07-08 20:06] nolange commented on #11590
I don't know PyInstaller, but on Linux you could just set runpath in the elf header of the binary. Pick `$ORIGIN` for relative path, you won't have to play games with LD_LIBRARY_PATH, there are tools for manipulating this:
https://github.com/NixOS/patchelf

PS. I would prefer having Conan installed and updated with the rest of the system/docker image. Pips don't fly.

[2022-07-08 21:14] jwillikers opened #11596 "[bug] MesonToolchain: Doesn't configure the default install destination directories as expected"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Linux 36
  * Compiler+version: GCC 12
  * Conan version: 1.50.0
  * Python version: 3.10.5

### Steps to reproduce (Include if Applicable)

Using the MesonToolchain, create any package on a RHEL system which uses `lib64` instead of `lib` or which packages anything in the default `datadir`, `mandir`, `

[2022-07-08 21:30] memsharded commented on #11590
Hi @nolange ,

I am not sure what you mean, we maintain many images, that are also used by many users and evolve over time, using pip: https://github.com/conan-io/conan-docker-tools

[2022-07-08 21:47] memsharded commented on #11584
Hi @boussaffawalid

Yes, I think so, this is the current ``package_id()`` in the qt recipe:

[code]
Which means, that the recipe is not discarding the ``self.info.settings.build_type``, and it seems it should if is multi-configuration.

In any case, I don't think that multi-config packages are a good idea. We did remove support for multi-config packages in Conan 2.0, I think that the qt package wi

[2022-07-08 22:00] ghost commented on #11591
Hey @jcar87
thx for your fast answer and your explanations. This make sense now :)

I'd call readelf on those 2 libraries

![grafik](https://user-images.githubusercontent.com/93189163/178075380-b305ca30-b3ea-4d40-b001-0ffbb81b3b24.png)

![grafik](https://user-images.githubusercontent.com/93189163/178075451-1e87648f-cfec-420e-b40b-c6a38bfea02d.png)

do you have an idea why this is happening

I also

[2022-07-08 23:05] memsharded commented on #11587
Been able to reproduce, in Windows, with just the ``conanfile.txt`` and the following command:
[code]

Thanks for the reproducible case!

Also, I have been able to reproduce it with this test:
[code]

The good news is that this is already solved in Conan 2.0, this works without problems.
The bad news is that I have been checking, trying to fix it in 1.X, and I haven't found an easy way yet. I will

[2022-07-09 03:02] paulharris opened #11597 "[bug] resdirs not working how user expects"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: gcc
  * Conan version: 1.50.0
  * Python version: 3.good.one

See #11471
copying the comment stream in here, as it isn't a simple obvious fix for me.

@lasote I think you need to look at this again.
This change broke my vtk recipe (expectedly) as it was not setting resdirs, and I

[2022-07-09 03:22] paulharris commented on #11597
I think it is because cmake_flags.py and blocks.py are setting
`CMAKE_INSTALL_DATAROOTDIR`
but actually the correct setting is `CMAKE_INSTALL_DATADIR`

However, if I adjust both locations to the correct variable name, the licence files now get written to share/licences, and not res/licences as I asked for...

[2022-07-09 05:05] GregDomjan commented on #11587
I just tried similar in debian and got a slightly different result, maybe the info helps?

`FROM debian:buster-20220622`

WARN: Remotes registry file missing, creating default one in /root/.conan/remotes.json
WARN: poco/1.11.3: requirement openssl/1.1.1o overridden by your conanfile to openssl/3.0.3
ERROR: Conflict in cmake/3.23.2:
    'cmake/3.23.2' requires 'openssl/1.1.1o' while 'poco/1.11.3' r

[2022-07-09 06:39] SSE4 commented on #11596
might be related to #9713 @franramirez688 ?

[2022-07-09 06:48] samuel-emrys commented on #11589
@memsharded do you have a similar link to some examples of how to create custom generators (not deployers)? Will this approach work now?

[2022-07-09 13:06] nolange commented on #11590
First, this is offtopic. Wouldnt setting runpath be possible to fix the issue, using `LD_LIBRARY_PATH` is just insane.

I will bite though: I would want to install a

-   c/c++ built tool with `apt install ctool`
-   a haskell built tool with `apt install htool`
-   a golang built tool with `apt install gtool`
-   a python built tool with `apt install ptool`

and install not a single additional pa

[2022-07-09 13:25] paulharris opened #11598 "[docs bug] conan.tools.files.rmdir doc not quite right"
https://docs.conan.io/en/latest/reference/conanfile/tools/files/basic.html#conan-tools-files-rmdir

* Should not be `def rmdir(path)`
* Instead should be `def rmdir(conanfile, path)`

* Would be great if the docs could talk about the working directory behaviour when using such tools.  eg in package_dir(self), does the user need to do `rmdir(self, os.path.join(self.package_folder, "lib", "cmake"))`

[2022-07-09 13:44] paulharris opened #11599 "[docs bug] conan2 migration - layout() is not a property"
https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#id12

Error in docs:
[code]

[2022-07-09 14:05] paulharris opened #11600 "[question conan2] how does export_sources() change?"
Please document clearly how this function (typical implementation) is supposed to change with The Great V2 Recipe Migration
[code]

Note that self.copy() has changed, and the documentation does not state whether these calls will now need to specify src and dst, and if (in this case) the dst should be the export_sources folder (however that variable is named).

[2022-07-09 20:23] #11405 closed, assigned to nobody

[2022-07-09 20:37] memsharded commented on #11589
There is no explicit examples, but there exist docs for ``python_requires`` in https://docs.conan.io/en/latest/extending/python_requires.html.

The approach to use ``python_requires`` to implement a generator is basically (code not tested, just the idea):

- Create a generator like class inside a ``python_require``, something like:
[code]
- Reuse it like:
[code]

[2022-07-09 21:10] memsharded commented on #11587
Yes, the issue is that the options evaluated in the "host" context, the "requires", is later affecting the options of the same dependency (even different version) of the "build" context, the ``tool_requires`` (build_requires). It is clearly a bug, I have already tried a couple of different approaches, but I can't find a way that wouldn't break other legit uses...

The reason you might be seeing a

[2022-07-09 21:51] memsharded commented on #9548
Hi @daniel88ferreira

We have been considering this, and testing if something better was possible in PR #11493, and these are our thoughts:

- ``conan download`` is intended to download exclusively 1 package, from 1 specific repository. It does not download transitive dependencies, and it will not download the package from another repository
- Adding more than one remote to the command, like ``con

[2022-07-10 01:28] samuel-emrys commented on #11589
This question might be stretching the scope of this ticket, but is there a way to consume a python_requires package from a generator as defined above?

I've got a python class that I'd like to share with consumers, but the generator also needs to be aware of it, and I'm struggling to work out how I can make the same definition available to both - it seems that python_requires can only be consumed

[2022-07-10 02:37] samuel-emrys commented on #11589
For completeness, what would be nice is a way to share python_requires with generators, something _like_ this (though obviously not this, because generators can't see python_requires):
[code]

[code]

And both could then be reused:

[code]

This would be nice to be able to have semantic separation between common functionality, and build system specific functionality as is the case with generators.

[2022-07-10 03:31] samuel-emrys commented on #6771
I think that this could also be really useful for documenting `python_requires` packages and custom generators

[2022-07-10 05:43] samuel-emrys commented on #8626
I've refactored @thorntonryan's work to be compliant with the way custom generators should be used in conan 2.0 to the best of my understanding. I've get a few exemplar repositories to demonstrate this:

* https://github.com/samuel-emrys/pyvenv: (python_requires library providing the `venv` class, and a `CMakePythonDeps` generator that will discover the executables in the python environment and ge

[2022-07-10 09:54] scandyna commented on #11495
Using `cmake_build_modules` I now encounter some recursion problem.

Here are my choices, translated to our Qt examples.

The first package, named `QtCMakeConfig` provides the CMake COMPONENTS syntax:
[code]
The `conan-qt5-config.cmake` looks like explained above, except it has no include guard (this was a mistake, because I did not understand `find_package()` and `include()`).

Now the `QtCore` p

[2022-07-10 15:37] xahon commented on #7300
@earonesty what is `.count` file? Where is it located?

**UPD**
found in `<storage>/<package>/<version>/_/_/_.count`
contains `-1`, removing doesn't help
I also tried to remove all package caches and update conan to 1.50.0

[2022-07-10 16:29] ilyamt-tandemg commented on #9695
We have a problem with several machines running different operating systems and in different locations. It is impossible to connect to https://center.conan.io, even on a fresh venv with Conan 1.50.0:

ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by ReadTimeoutError("HTTPSConnectionPool(host='center.conan.io', port=443): Read timed ou

[2022-07-10 16:32] bbossola opened #11602 "[bug] Read timeout accessing conancenter via conan CLI"
### Environment Details (include every applicable attribute)
Operating System+version: Ubuntu 18.04.6 LTS
Conan CLI version: 1.50.0

### Steps to reproduce (Include if Applicable)
Just run a simple inspect command using conancenter:
[code]

We get the same timeout if we run a simple curl to the ping endpoint:
[code]

[2022-07-10 16:33] bbossola commented on #11602
![image](https://user-images.githubusercontent.com/186370/178153543-4670eff2-9e5a-48be-8bf2-cb3bcc3d65d8.png)
Status page says everything is fine

[2022-07-10 16:34] ilyamt-tandemg commented on #11602
Can confirm that center.conan.io is not accessible for us as well.

[2022-07-10 16:53] antaljanosbenjamin opened #11603 "[bug] Unable to connect to https://center.conan.io using conan"
I cannot connect to `center.conan.io` using conan. From my browser I can reach the address and download a text file which redirects me to `https://conan.io/center/`, but I am not sure how relevant is that. I started to experience this today.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Mint 20.3 (based on Ubuntu 20.04)
  * Compiler+version: GCC

[2022-07-10 16:56] ed-asriyan commented on #9695
The same issue appears during `conan install`:
[code]

Looks like something is broken on server side
[code]

It worked a few hours ago

[2022-07-10 17:07] ssrobins commented on #11603
Yup, same here. I couldn't find any website that gives any statement about downtime or an incident.

[2022-07-10 17:33] loachfish commented on #11603
I got this too.

[2022-07-10 17:33] ilyamt-tandemg commented on #11603
Duplicate of: https://github.com/conan-io/conan/issues/11602

[2022-07-10 17:39] loachfish commented on #11602
ping center.conan.io
[code]

view center.conan.io with Chrome, a text is download which contents:
[code]

[2022-07-10 18:01] bbossola commented on #11602
@loachfish

This is the machine, not the underlying service. The machine appears to be up and running.

This is the nginx reverse proxy, not the underlying service. The nginx proxy appears to be up and running

[2022-07-10 18:14] joaotavora commented on #9695
Same problem here:
[code]

Hangs for a very long time, then errors with the `ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): ` that others have posted.

[2022-07-10 18:21] xahon commented on #5173
I can't make conan work today at all. It hangs on installation with that in the output window

inja/3.3.0: Trying with 'conancenter'...

When i abort the installation and run again it complains about lock files which cannot be eliminated by `conan remove --locks` (#7300)

I tried to reinstall conan with multiple versions ranging from 1.50 to 1.30, with full removal of conan caches and configuratio

[2022-07-10 18:39] antaljanosbenjamin commented on #11603
Indeed, the issue is a duplicate one. Please feel free to close this one.

[2022-07-10 19:16] memsharded opened #11604 "[bug] ConanCenter is down, times out"
``conan install <pkg-ref>`` from conancenter timesout.

Related tickets:
- https://github.com/conan-io/conan/issues/11603
- https://github.com/conan-io/conan/issues/11602
- https://github.com/conan-io/conan/issues/9695

[2022-07-10 19:23] memsharded commented on #11603
Thanks all for reporting. We are having a look, sorry for the inconvenience.
There is already a pinned issue for others to find easily, closing this.

[2022-07-10 19:24] #11603 closed, assigned to nobody

[2022-07-10 19:48] antaljanosbenjamin commented on #11604
I think this is duplicate of #11602.

[2022-07-10 20:06] memsharded commented on #11602
Thanks very much for reporting, we are having a look. Please track the pinned issue: https://github.com/conan-io/conan/issues/11604

[2022-07-10 20:06] #11602 closed, assigned to nobody

[2022-07-10 20:07] memsharded commented on #11603
Please track the pinned issue: https://github.com/conan-io/conan/issues/11604

[2022-07-10 20:07] memsharded commented on #5173
Please track https://github.com/conan-io/conan/issues/11604

[2022-07-10 20:08] memsharded commented on #9695
Please track: https://github.com/conan-io/conan/issues/11604 pinned issue.

Thanks very much for reporting!

[2022-07-10 22:46] memsharded commented on #11604
Update: Service should be back to normal.
Please check, thumbs up if it is working fine, comment if it is not.
We will continue monitoring the situation, thanks everyone for the feedback!

[2022-07-10 23:28] memsharded commented on #11589
I have added a test in https://github.com/conan-io/conan/pull/11605 to illustrate how this can be done. Basically, use Python flexibility:

[code]

We can put the ``python_require`` in the way it belongs, in the ``Tool(ConanFile)``, but make it available to different parts of the classes and functions to be reused.

[2022-07-10 23:29] memsharded commented on #11603
Check https://github.com/conan-io/conan/issues/11604, service should be back to normal now. Thanks again for reporting!

[2022-07-10 23:29] memsharded commented on #11602
Check https://github.com/conan-io/conan/issues/11604, service should be back to normal now. Thanks again for reporting!

[2022-07-11 06:55] ssrobins opened #11606 "[bug] 'assert node.pref.timestamp is not None' w/ test_requires in Conan v2 beta"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12.3 (Monterey)
  * Compiler+version: AppleClang 13.1.6.13160021
  * Conan version: 2.0.0-beta1
  * Python version: Python 3.10.5

### Steps to reproduce (Include if Applicable)
1. `git clone https://github.com/ssrobins/stackblox.git`
1. `cd stackblox`
1. `git checkout conan_v2_crash_gtest`
1. Delete ~

[2022-07-11 08:15] derived-coder commented on #11027
@jcar87
Are you working on my 1) suggestion?

[2022-07-11 08:27] lasote commented on #11597
There is a bug in the `CMakeToolchain`, if the "res" is not set it shouldn't adjust the `CMAKE_INSTALL_DATAROOTDIR`.

The `generate()` method, where all the generator files are created, including the toolchain file from `CMakeToolchain`, is run `after` calling `layout()`.  Calling the `cmake_layout` before or after adjusting the `self.cpp.package` should be the same.

I have to discuss with the te

[2022-07-11 09:02] retifrav commented on #3988
I'm also interested to know why this issue has been closed, or rather: is there a solution/workaround, or is it planned for Conan 2.0, or is it something that (*sadly*) won't be worked on? Either is fine, it's just confusing that the issue was closed without some resolution/explanation.

[2022-07-11 09:50] memsharded commented on #11592
Lets try:
- Remove blank methods in the base ConanFile
- Use the existence of the method in the user derived class to run them

[2022-07-11 10:01] memsharded commented on #11369
Lets do:
- Remove ``conan_message()`` method completely
- Use standard CMake ``message()`` levels

[2022-07-11 10:07] franramirez688 commented on #9548
Closed by https://github.com/conan-io/conan/pull/11493

[2022-07-11 10:07] #9548 closed, assigned to czoido

[2022-07-11 10:29] memsharded commented on #11542
Lets do it in 2 steps:

- Recover the ``storage.path`` configuration in the home global.conf
- Define a .conanrc that contains env-var CONAN_HOME to define the location of the home (can be relative path to the .conanrc file, to define a local home per project)

[2022-07-11 10:50] memsharded commented on #11571
Hi @foundry-markf

We have been investigating this, and trying different approaches:

- Indeed in Conan 1.X the conflict is order-dependent. The way and order the dependencies are evaluated affects the possible conflicts
- The problem still persisted in Conan 2.0, in different ways, and it was a bit more manageable, but still very confusing.
- We have tried a few ways to improve the potential opti

[2022-07-11 10:50] #11571 closed, assigned to memsharded

[2022-07-11 11:07] memsharded commented on #3988
Hi @retifrav

yes, a lot of things have changed since then, I'll try to summarize:

- user/channel should be considered an immutable part of the naming. They are not intended anymore as a quality stage or something that can be overriden and replaced.
- ``conan copy`` command has been removed in 2.0, as it violated the immutability principle.
- The idea is not overriding on user/channel. Instead, u

[2022-07-11 11:12] memsharded commented on #11604
Closing this ticket as resolved.

[2022-07-11 11:12] #11604 closed, assigned to nobody

[2022-07-11 11:12] czoido commented on #11525
After considering the different alternatives, we finally decided that the only case that would be valid for this is for packages that depend directly in other packages that have components and you want to limit the information available for the package, but we think that in this case it's better to directly specify in the build system what you want to use, it can be in the `CMakeLists` specifying

[2022-07-11 11:18] nolange opened #11607 "[question] CMake generators - how to use libraries form a different build config"
Hello,

I would want to fetch googletest via Conan, I am using v1.50 on debian Linux with Make/Ninja generators.
The problem is generally that you don't necessarily want the same config on your project as on your dependencies.
For my example I would want to build my project with debug/sanitize/coverage configuration, while gtest and other dependencies are the release variants.

I cant do this curr

[2022-07-11 11:27] memsharded commented on #8398
This has been finally fixed. ``conan search zlib* -r=conancenter`` now works fast against ConanCenter

Artifactory 7.41 contains the fixes, so if you are experiencing this in your own instance, please upgrade.

[2022-07-11 11:27] #8398 closed, assigned to nobody

[2022-07-11 11:27] nolange commented on #11607
Seems to be a dupe of #8174 .
Still its quite a blocker for me if conan does not work *beneath* CMake and instead fundamentally changes how you have to build software, at least on non-windows.

[2022-07-11 11:27] memsharded commented on #4094
This has been finally fixed. ``conan search zlib* -r=conancenter`` now works fast against ConanCenter

Artifactory 7.41 contains the fixes, so if you are experiencing this in your own instance, please upgrade.

[2022-07-11 11:27] #4094 closed

[2022-07-11 11:29] memsharded commented on #10298
This has been finally fixed. ``conan search zlib* -r=conancenter`` now works fast against ConanCenter

Artifactory 7.41 contains the fixes, so if you are experiencing this in your own instance, please upgrade.

[2022-07-11 11:29] #10298 closed, assigned to nobody

[2022-07-11 11:30] memsharded commented on #11050
This has been finally fixed. ``conan search zlib* -r=conancenter`` now works fast against ConanCenter, and so version ranges will be resolved much faster too.

Artifactory 7.41 contains the fixes, so if you are experiencing this in your own instance, please upgrade.

[2022-07-11 11:30] #11050 closed, assigned to nobody

[2022-07-11 11:32] memsharded commented on #6873
As Conan 2 is moving to revisions only, I think that this issue can be closed, it seems very unlikely that Conan 1 search output order will be fixed in Artifactory.

[2022-07-11 11:32] #6873 closed, assigned to nobody

[2022-07-11 11:32] memsharded commented on #5432
This has been finally fixed. ``conan search zlib* -r=conancenter`` now works fast against ConanCenter

Artifactory 7.41 contains the fixes, so if you are experiencing this in your own instance, please upgrade.

[2022-07-11 11:55] nolange opened #11608 "[feature] Provide some more "native" package for debian(-based) OS's"
As there seem some problems with automatic tools for packaging (see #11590 , also for why forcing pip is no substitute),
a better .deb packaging would be welcome.

-    Use the system python installation
-    Use the system python libs (as good as possible)
-    Possible to ultimately end up in official repos.

I have gone ahead and did the work for debian [here](https://github.com/nolange/conan-d

[2022-07-11 12:09] retifrav commented on #3988
Thank you for the clarification!
It makes sense to me that user/channel should be immutable, as the package maintainer likely meant to depend on this exact "fully-qualified" package reference.

So as I understand it, if user/channel is specified, then one cannot ignore/override them. And so then if some package depends on, for example, `zstd/1.5.2@some/thing` that is hosted in some remote reposito

[2022-07-11 12:10] memsharded commented on #11607
The main problem is that Conan packages are single-configuration. You get each different binary, each different build configuration in a different location. But ``find_package()`` does not have any support for managing multiple locations, so we need to create the different CONFIG: stuff, and aggregate them.

You can define different settings for your dependencies than your current package, with ``

[2022-07-11 12:17] memsharded commented on #3988
Yes, if your project is having one ``zstd`` package, the recommended way is to have one single instance of that package. Having some recipes in the graph requiring another user/channel, and then relying on it to be overriden to work is suboptimal.

It can happen, for that case, overrides still work. You can define your specific ``zstd/....`` in the consumer, and that will override the upstream. Bu

[2022-07-11 12:18] nolange commented on #11607
I want to use gtest release build, while my package is *whatever* and actually not of conan's concern (not built with conan, just give me the deps).

What I am doing is this:

[code]

and I would like to have an option for that.

I guess you have issues with multi-config buildsystems? cause with ninja/make you also only always get single-configuration, I dont see how the current way would add anyt

[2022-07-11 12:56] nolange commented on #11607
Ill try to be more specific, as I am not sure where our misunderstanding lies.

[code]

Note that without Conan, the CMake configure will work with **every** Build type, aslong **any** gtest library is installed. Normally you **dont** want to debug other software, but have it run normally ( = release build).

Now the lines above will execute, gtest will be found but add no include paths or librari

[2022-07-11 13:37] stlu1022 commented on #11502
Hi James,

I wrote an email a while ago (I used my company email though). I'm not sure if it got through. We would love to set up a short meeting.

[2022-07-11 14:41] memsharded commented on #11502
Hi @stlu1022

I am afraid it didn't get through, I have check the spam folders too, I don't know what could have happened.
Could you please retry? Thanks!

[2022-07-11 14:42] memsharded commented on #11094
Hooks added in https://github.com/conan-io/conan/pull/11593, for Conan 2.0-beta.2

[2022-07-11 14:42] #11094 closed, assigned to memsharded

[2022-07-11 14:42] memsharded commented on #11554
Hook added in https://github.com/conan-io/conan/pull/11593, for Conan 2.0-beta.2

[2022-07-11 14:42] #11554 closed, assigned to memsharded

[2022-07-11 15:05] #10683 closed, assigned to franramirez688

[2022-07-11 15:05] #11397 closed, assigned to franramirez688

[2022-07-11 15:05] #11398 closed, assigned to franramirez688

[2022-07-11 16:44] Ahajha commented on #11525
Just to clarify, when you say "we will not add a syntax that limits what information is available for dependencies", are you just meaning for now don't add the shorthand syntax from above? I do hope this is still eventually implemented, as I have run into an annoying case that would really benefit.

Consider a package that depends on packages A,B,C,D,E, and it uses only component X from A.

In the

[2022-07-11 18:20] thorntonryan commented on #8626
A few other caveats worth mentioning about the [approach outlined above](https://github.com/conan-io/conan/issues/8626#issuecomment-1100153266).

The python venvs aren't fully reproducible and don't take advantage of `Pipfile.lock` or anything. _We make no claims to offer full reproducibility within the dependency tree of each high level pip requires._

This means two different installs of the sam

[2022-07-11 18:21] thorntonryan commented on #8626
FWIW, @puetz was the primary developer, and he might offer more known pitfalls / nits, but those are the known caveats I think we're aware of (and choose to live with).

[2022-07-11 18:49] petamas commented on #11369
I've just ran into this issue.

@memsharded : What does your decision in the above comment mean? How will this fix `CONAN_CMAKE_SILENT_OUTPUT`? Or does this mean that this whole variable/feature will be dropped, i.e. no more silencing?

I also think this is related, i.e. the "right way" would be to respect the `QUIET` argument of `find_package` instead of a conan-specific variable: https://github.

[2022-07-11 20:03] MathPlayer commented on #11080
I created the PR(s) to add the max tools.
It gets a bit tricky with the docs since the existing example for the min tool is based on libfmt, which does not really have a problem with the latest standards.

[2022-07-11 21:09] memsharded commented on #11369
Yes, at the moment we are going to drop CONAN_CMAKE_SILENT_OUTPUT. Then use different CMake ``message()`` DEBUG, etc levels. It doesn't make sense to have a custom mechanism for this. The problem with the QUIET argument is that as it is hardcoded in the consumer CMakeLists.txt doesn't easily allow to debug things, and Conan finding the right package, unless the code in CMakeLists.txt is modified,

[2022-07-11 21:39] memsharded commented on #11606
Hi @ssrobins

I have been having a look, and while I have one possible point that could be causing this, I haven't been able to reproduce in a test. I haven't been able to reproduce with your example, as it has too many moving pieces.

Can you please try running your project applying this patch to the source code?

[code]

Please let me know, many thanks!

[2022-07-11 22:03] gprosch opened #11611 "No Conan package/recipe for Visual Studio 2022"
There is no package on Conan for Visual Studio 2022 (msvs v17 toolset v143).  Build missing does not work because there does not appear to be a recipe.  The following error message is emitted:

ERROR: libsodium/1.0.18: Invalid configuration: Unsupported msvc version: 17

[2022-07-11 22:12] memsharded commented on #11611
This doesn't seem a Conan issue, but a ConanCenter recipe issue.
Can you please post your full output, that includes the profile you are using for it, and the command you are using too?

[2022-07-11 22:17] gprosch commented on #11611
My humblest apologies, I submitted this to the wrong site.  I meant to submit to libsodium.  Please delete this.

[2022-07-11 22:30] memsharded commented on #11592
As the previous message suggest, we are going to try removing the methods from the base ``ConanFile``.
In any case, I don't fully see the above, because the ``ConanFile`` does actually have an empty ``package()``, so it is not a matter of providing the method in the base ``ConanFile``, it is already there?

[2022-07-11 23:02] memsharded commented on #11611
It could be a valid report in the ConanCenter recipe, feel free to submit an issue to conan-center-index repo if you think that something can be improved in the recipe there.
Closing this, thanks!

[2022-07-11 23:02] #11611 closed, assigned to nobody

[2022-07-12 05:42] ssrobins commented on #11606
Yup, that change fixed it! Sorry I didn't have a simpler setup to repro the problem. If you need something to further confirm this fix, let me know, I'll have some time Wednesday (USA evening) to work on it.

[2022-07-12 07:13] lasote commented on #11597
Hi, I made a small tests to try to reproduce the issue installing the license but I cannot reproduce it, here is the test:

[code]

It is kind of doing the same thing to install the license than that the [original vtk CMakeLists.txt](https://github.com/Kitware/VTK/blob/f65b3b919430bbb154321fcdbfb0ae770a11dffa/CMakeLists.txt#L92).

The `my_license` gets copied in the right place.
Any feedback?

[2022-07-12 08:26] czoido commented on #11525
Hi @Ahajha ,
I agree that having to specify components for all requirements just because you want just one component from one of the requires is a bit inconvenient, we will have this in mind for 2.0 and if we can think of a better solution we will try to improve it, but probably this will not change in the near future.

[2022-07-12 08:59] ghost commented on #11591
hey @jcar87
Unfortunately using the virtualrunenv didn't work for me.
I called the generated activate_run.sh via execute_process(), however the declared variables are not properly propagated.

However I found a workaround for me

- in your CMakePresets: Append the build folder to LD_LIBRARY_PATH
- set the working directory within add_test `add_test(NAME ${EXEC_NAME} COMMAND ${EXEC_NAME} WORKING_DI

[2022-07-12 08:59] memsharded commented on #11358
Closed by https://github.com/conan-io/conan/pull/11553

[2022-07-12 08:59] #11358 closed, assigned to lasote

[2022-07-12 09:49] oeichenwei opened #11616 "[bug] XcodeGen frameworkdirs is not working, FRAMEWORK_SEARCH_PATHS empty"
`XcodeGen` generator will not consume `frameworkdirs` and correctly put into `FRAMEWORK_SEARCH_PATHS`.
xcode generator is correct.
I investigate the code and it was a simple typo error and can be fixed by one line change:
https://github.com/oeichenwei/conan/commit/6a809a7cc881d35451a12b3c6fa6cc0ab8f4ff02

### Environment Details (include every applicable attribute)
  * Operating System+version: Ma

[2022-07-12 09:53] czoido commented on #11616
Hi @oeichenwei ,
Thanks for reporting, luckily this PR https://github.com/conan-io/conan/pull/11615 will solve the issue. This is targeting develop2 but it will be merged to the next Conan release too. Here is the PR to develop, should be released in 1.51: https://github.com/conan-io/conan/pull/11617

[2022-07-12 10:18] Sebastian-Setzer commented on #11570
When I call `conan create ... --build`, this as well forces a rebuild of the tools. So then, I've got the same problem again, that building cmake fails (because I haven't got things set up for that).

Does that mean that I should try to avoid `--build` and use `--build=outdated`, which does what I want provided I change the recipe everytime anything in my package changes - which I should do anyway

[2022-07-12 11:09] memsharded commented on #11606
Don't worry, and thanks very  much in any case for the detailed repro case. Even if I was unable to fully reproduce, it contained many good hints, and I found the bug fix thanks to it 😄

No need to do more, thanks, I will now keep trying to reproduce in a test, and in the worst case, I will submit the PR with the fix only.

[2022-07-12 11:56] memsharded commented on #11606
Quick question: is it failing absolutely always? Is it deterministic? You are saying ``Happens in Windows, but not Linux CI environments.``, but the report details says it is OSX. Could you please clarify this? Thanks!

[2022-07-12 12:43] memsharded commented on #11570
Hi @Sebastian-Setzer

Yes, in general, rebuilding all the dependencies is not expected. ``--build`` (or ``--build=*``) should probably be used only in extreme cases. The recommendation would be:

- Use the default, ``conan create`` that will only build the current package. It is assumed that pre-compiled binaries for the dependencies should be there. In production environments with your own packag

[2022-07-12 12:48] #11616 closed, assigned to czoido

[2022-07-12 13:07] WernerWessely commented on #11570
I am faced with a similar, maybe quite straight forward problem and I just cant figure it out:
I have a project P which has normal library 'requires' A and B. It also has a 'build_requires' of tool X. A and B export all their sources at creation so they can be built anytime locally with the 'conan install --build ...' command. I would like for the developer working on P to simply be able to build

[2022-07-12 14:43] jsteinhofff opened #11620 "[bug] conan user authentication accidentally skips verification of SSL certificate"
Note: worst case scenario of this bug is that user authentication data is sent in clear text to a man-in-the-middle.

### Environment Details (include every applicable attribute)
  * Operating System+version: doesnt matter
  * Compiler+version: doesnt matter
  * Conan version: 1.44.1 (but current code in github seems to have the same issue)
  * Python version: doesnt matter

### Steps to reproduce

[2022-07-12 14:45] jsteinhofff opened #11621 "[bug] conan user authentication accidentally skips SSL certificate verification"
Note: worst case scenario of this bug is that user authentication data is sent in clear text to a man-in-the-middle.

### Environment Details (include every applicable attribute)
  * Operating System+version: doesnt matter
  * Compiler+version: doesnt matter
  * Conan version: 1.44.1 (but current code in github seems to have the same issue)
  * Python version: doesnt matter

### Steps to reproduce

[2022-07-12 15:40] memsharded commented on #11570
Thanks for your kind words @WernerWessely

The question would be: why do you want to rebuild all your "host" dependencies, but not the "build" ones? Why would you like to rebuild all your "host" dependencies anyway? Many of the Conan features are oriented to avoiding unnecessary rebuilds. If you have app->libd->libc->libb->liba, and only a change in libc happens, then it is not necessary to rebuil

[2022-07-12 15:49] ssrobins commented on #11606
Yeah, as long as I delete ~/.conan2, it always happens.

GitHub Actions CI is using [ubuntu-20.04](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md) to build Android, [macos-12](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-12-Readme.md) to build macOS and iOS, [ubuntu-18.04](https://github.com/actions/virtual-environments/b

[2022-07-12 15:51] ssrobins commented on #11606
Also, the reason I concentrated on macOS in the report was because I was doing the dev work on a macbook so it was most convenient to try things out on that platform, while relying on GitHub Actions for the rest of them.

[2022-07-12 16:44] memsharded commented on #11606
Thanks for the details. Still unable to reproduce with a unit-test, but don't worry, at least the PR is open with the fix.

[2022-07-12 17:09] thorntonryan opened #11623 "[question] CMakePresets and Visual Studio 2019 / 2022 compatibility observations"
### Question 1

Should the Conan CMakePresets generator target a user configurable schema version? And/or target a minimum schema version of 2?

VS2019 ships with a build based on CMake 3.20 / version 2, and VS2022 ships one based on CMake 3.22 / version 3.

_The choice of targeting schema version 4 means VS2019 / VS2022 are necessarily excluded from consuming some or all of these generated files.

[2022-07-12 17:18] memsharded commented on #11606
Good news, I didn't give up, and I managed to make a repro unit-test! It was a very subtle detail of multiple ``test_requires``, and some being skipped as not used, and some being used.

Now the PR is really ready for review and beta.2

[2022-07-12 17:26] memsharded commented on #11621
thanks very much for the report.
I have submitted https://github.com/conan-io/conan/pull/11624 to fix it. I guess this might be important, maybe we want to backport to 1.50 too?

[2022-07-12 17:27] memsharded commented on #11620
Seems a duplicate of https://github.com/conan-io/conan/issues/11621

[2022-07-12 17:27] #11620 closed, assigned to nobody

[2022-07-12 19:47] jsteinhofff commented on #11621
Hi @memsharded , impressive fast fix, thanks a lot!

I can't judge how you handle backports, but since it really is a local change I guess it would be great to have it in all still supported versions. Also the issue could have more unexpected side effects, not sure what the config parameter is there for but I can imagine someone will miss it's effect sometime ;-)

[2022-07-12 21:49] jtbandes commented on #10298
Thanks! @jgsogo are you planning to make a PR to shields.io to use this API instead of scraping files from github?

[2022-07-12 22:44] memsharded commented on #11621
I have reviewed the code, and it seems it doesn't because that specific instance is not using the ``config`` at all. So in that regard I think it is low risk. So the PR is targeted at 1.51, but I think it makes sense to backport to 1.50 asap, I will take this tomorrow with the team. Thanks again! :)

[2022-07-13 00:47] ssrobins commented on #11606
Nice work! Looking forward to beta.2!

[2022-07-13 04:28] WernerWessely commented on #11570
@memsharded Mmm the usecase of looking for the source of a bug in all your host deps and thus wanting to conveniently build them all in the cache for debugging does not seem exceptional to me. But alright, I will find a solution based on whats possible. Thanks!

[2022-07-13 06:31] #11621 closed, assigned to nobody

[2022-07-13 07:07] jgsogo commented on #10298
The plan is to provide a dedicated API for this purpose, but meanwhile, maybe now the search is fast enough to provide this integration.

[2022-07-13 07:28] giovaorama opened #11626 "[bug] Visual Studio: Debugging "Environment" setting probably too long --> Application fails to start with "Not enough quota""
### Environment Details (include every applicable attribute)
  * Operating System+version: MS Windows 10 version 1809
  * Compiler+version: MS Visual Studio 2019 and 2013 (last service packs)
  * Conan version: 1.48.1
  * Python version: The one installed with conan

### Steps to reproduce (Include if Applicable)

_Please consider that I'm not at conan expert. We just introduce it in our build env

[2022-07-13 07:32] lasote commented on #11623
Hi! Thanks for your support.

Yes, we could, but the `CMakeUserPresets.json` has two purposes:

1) Be in the same folder as the CMakeLists.txt so the IDEs find it. (we would be ok with this)
2) Aggregate all the different `CMakePresets.json` that come from  `conan install`, so presets from different configurations [(build type, architectures... etc)](https://docs.conan.io/en/latest/reference/conan

[2022-07-13 07:37] stlu1022 commented on #11502
Hi James, I tried again with my private email. Did it get through this time?

[2022-07-13 08:38] #11369 closed, assigned to memsharded

[2022-07-13 09:10] TorstenRobitzki opened #11627 "[question] Possible Workflow with CMake (and CLion)"
Hello,
I'm currently working on a project with a small team working on a relative small code base. Nevertheless, the code base has some dependencies on external libraries and these external libraries have their dependencies on their own. Up to now, we use a shell script to install the dependencies in docker. The exact versions of the installed dependencies where more or less random and depended on

[2022-07-13 09:31] lasote commented on #11521
Tasks:

- Move `cli` to `conan`
- Remove `output` from cli
- Asset from `api/helpers/` to `_internals`
- conan.py and setup.py try to move to cli

[2022-07-13 09:34] franramirez688 opened #11628 "[MesonToolchain] Add Objective-C/C++ arguments"
@franramirez688 this seems to be a line in `GLib` triggering the failure:
[code]
using [add_languages](https://mesonbuild.com/Reference-manual_functions.html#add_languages) (I believe `objcpp` is another valid value here).
we can start by adding a test using it and ensuring it passes for M1 cross-build.

_Originally posted by @SSE4 in https://github.com/conan-io/conan-center-index/issues/11613#iss

[2022-07-13 10:33] memsharded commented on #11592
This ticket is being closed for 2.0-beta 2 by https://github.com/conan-io/conan/pull/11612, which removes the methods from the base class.

Please check the above comments, because it seems this issue was unrelated, as the base class already had the ``package()`` method, but the issue was still there.

[2022-07-13 10:33] #11592 closed, assigned to memsharded

[2022-07-13 10:36] Adnn opened #11629 "[question] How to explicitly control the CMake generator (i.e. cmake -G option)?"
We are compiling our project with Clang on Windows (in addition to msvc).

The code compiles when we run the CMake and build commands manually. Yet we face a complication when trying to use Conan.
It seems the problem lays with the [CMake generator](https://cmake.org/cmake/help/latest/manual/cmake-generators.7.html#id9) (the value provided to `cmake -G`) filled-in by Conan when it invokes `cmake`:

[2022-07-13 10:46] franramirez688 commented on #11629
Hi @Adnn

Yes, you can define the generator setting up this `conf` in your profile or the `global.conf`. For instance:

**profile**
[code]
It should make the trick.

[2022-07-13 11:00] MTomBosch commented on #3113
@DavidKeller: When you mean "name" you mean the package name or also the user and channel?
We cannot move to Conan 2.0.0 yet but I am wondering if using different channels for release/staging would resolve this issue?

[2022-07-13 11:20] memsharded commented on #3113
No, please, do not do this. user/channel shouldn't be used anymore as "stage" indicator. Conan 2.0 has removed the ``conan copy`` command, and has declared packages immutable. The recommended approach is to do promotions (copying packages) from one server repo (lets call it "staging") to another server repo ("release"). But the packages should be called exactly the same.

[2022-07-13 11:34] memsharded commented on #11570
That might be an interesting use case, but based on user feedback so far, our understanding was that the users didn't want to build all of them, because many times that is intractable, takes many hours. And they start doing a explicit ``--build=pkg1``, when they need to step into pkg1 debugging, and they will keep repeating that for every dependency they need to debug further upstream in the depen

[2022-07-13 12:10] memsharded commented on #11080
Implemented in https://github.com/conan-io/conan/pull/11610, will be in beta.2

[2022-07-13 12:10] #11080 closed, assigned to nobody

[2022-07-13 12:11] memsharded commented on #11606
Closed by https://github.com/conan-io/conan/pull/11619, to be released in beta.2

[2022-07-13 12:11] #11606 closed, assigned to memsharded

[2022-07-13 12:15] Adnn commented on #11629
Thank you @franramirez688.

For a project without upstream dependencies (i.e. no `requires` in the recipe), it worked when we removed the double quotes:
[code]
(otherwise, the generator would be `""Unix Makefiles""`).

Sadly, it did not seem to work if we add a requirement. For example, adding boost (which in turns depends on bzip2), we observe this error:
[code]

So it seems to still use "MinGW M

[2022-07-13 12:17] memsharded commented on #11626
Hi @giovaorama

Thanks very much for your detailed report, and your deep investigation, great job, very helpful.

I think you are right, and this is an overflow of the variable. And if LocalDebuggerEnvironment already contains the PATH, then it should be possible to remove that extra one, lets give it a try.

[2022-07-13 12:29] memsharded commented on #11626
This would be the proposed fix: https://github.com/conan-io/conan/pull/11631. The only problem is that I don't see an easy way to test it automatically, it kind of needs manually trying from the IDE.

[2022-07-13 12:33] DavidKeller commented on #3113
@MTomBosch Just the name, not the reference.

That is `<NAME>` component of reference `<NAME>@<USER>/<CHANNEL> `

[2022-07-13 12:40] MTomBosch commented on #3113
OK. Thanks for the quick reply.

But that makes the usage of version ranges in our pre Conan 2.0 setup challenging.

[2022-07-13 14:29] thorntonryan commented on #11623
Thanks for fielding my questions!

I guess that's where I'm struggling. I'm seeing a bit of a gap between `CMakePresets` and and `CMakeToolchain` regarding which environment is chosen.

The `cmake_layout` capability seems more about ensuring the correct _paths_ are used for each configuration (e.g. Debug or Release). At the moment, I'm focusing on a single configuration generator, but I can see ho

[2022-07-13 14:43] petermbauer opened #11633 "[question] Avoid error of `conan build` with dynamic package `version`?"
We are using a dynamic package version derived from the Git hash.
Since the version is stored in the lockfile and checked by `conan build` this often leads to an error when working on the files in the repo (not on the conanfile itself). I understand that this should prevent cases of outdated conanfiles  but since it rarely changes we would prefer to not having this check performed.
Is there some w

[2022-07-13 14:50] memsharded commented on #11633
Hi @petermbauer

It is not clear what check are you talking about.
It is true that the ``conan build`` in Conan 1.X relies on some state saved in files, like ``conanbuildinfo.txt`` and others. Also will partially use the lockfile if it is there. Maybe renaming the lockfile file could serve as a workaround if that is the source of the issue?

[2022-07-13 14:53] gabyx opened #11634 "[question] Create packages and create a .tgz to upload."
Is it possible to create `conan create` a package in the local cache
in different CI agents (parallel process with different architectures), then archive the `.conan/data/...` folder structure, and at then end
push the package in a dedicated single agent where the `.conan/data` is recreated from the different archives and the `conan upload`ed?

We would like a functionality to store the `.tgz` whi

[2022-07-13 14:59] thorntonryan commented on #11623
I totally sympathize. That would be a great approach if it worked reliably. Unfortunately, upgrading the CMake version that way doesn't always appear to work in practice.

I have CMake 3.23 on my system, so I should be able to handle schema 4.  And I can configure my presets using the command line. But the same `CMakeUserPresets.json` file _won't_ configure in the IDE. VS2019 seemingly can't handl

[2022-07-13 15:09] petermbauer commented on #11633
sorry for the vague description, here is an example workflow and the resulting error:
[code]

Conan 1.43.1 is used

[2022-07-13 15:12] thorntonryan commented on #11623
The error handling is at least better in VS2022:

Error (active)		Visual Studio supports CMakePresets.json files versions 2 to 3. Please update your CMakePresets.json file. More info: [aka.ms/cmakepresetsversion](https://docs.microsoft.com/en-us/cpp/build/cmake-presets-vs?view=msvc-160#supported-cmake-and-cmakepresetsjson-versions)		C:\projects\<app>\CMakeUserPresets.json	1

Frustratingly, this er

[2022-07-13 15:35] memsharded commented on #11633
What happens if you run a ``conan install`` after ``git checkout develop``? If you change the branch, the commit, etc, it is expected that things might change, and a ``conan install`` will update things to match the checkout out branch?

[2022-07-13 16:17] petermbauer commented on #11633
After `conan install` it works again of course but in most cases the conanfile has not changed so it is redundant and just annoying.

[2022-07-13 16:26] memsharded commented on #11633
But you are effectively changing the version of the conanfile when you change branch, at least that is what it seems with ``ERROR: Package recipe with version 84efc51!=b2e9eed``, isn't it? So the ``conanfile`` always effectively change in this case, as it ``self.version`` has changed, and Conan need to be aware of that change? That is the only solution that I see, because this is not a check, this

[2022-07-13 17:26] memsharded commented on #11634
Hi @gabyx

At the moment it is not possible, there is even some metadata both in an sqlite database and in disk, spread in some json files interleaved with packages, that would not be correct to transfer to another place, but it is still necessary, etc, it is complicated. There are more files than the .tgz too, and they are in different locations. Those .tgz are often not created until they are go

[2022-07-13 18:08] maikelvdh opened #11635 "[bug] get_cpus is not supporting cgroup2"
The current detection of https://github.com/conan-io/conan/blob/1.46.2/conans/client/tools/oss.py#L36-L39 seems no longer applicable in case of cgroup2 as the `/sys/fs/cgroup/cpu/cpu.cfs_quota_us` and `/sys/fs/cgroup/cpu/cpu.cfs_period_us` are replaced by `/sys/fs/cgroup/cpu.max` (in case of docker executed with `--cpus`).

There could be checked if cgroup2 is active for example by checking for ex

[2022-07-13 19:37] purplefishies opened #11636 "[bug] Editable conan package can't export additional include paths"
Starting with the conan examples from https://github.com/conan-io/examples.git  , I made one modification to try to mimic my own projects hierarchy where the "include" directory is under src instead of by itself at the top of the project (say) . I can't get the conan tools to understand this tiny change.

### Environment Details (include every applicable attribute)
[code]

### Steps to reproduce (

[2022-07-13 21:15] memsharded commented on #11636
Hi @purplefishies

I think this is not a bug, but expected. The ``say`` package is defining a ``cmake_layout(self)``, which encodes the default proposed layout, that includes the default public headers in the ``include`` directory. If you want to use another one, you can specify it, this is not tested, but I think this might work:

[code]

Please give it a try, and let me know:

[2022-07-13 22:24] memsharded commented on #11626
I have been testing it manually, and had to do some tricks in https://github.com/conan-io/conan/pull/11631, but apparently now it is working. If you know @giovaorama how to run Conan from source, it would be great if you can validate the fix works.

[2022-07-14 01:17] Sil3ntStorm opened #11637 "[question] Get dependencies of a package in custom generator"
Previously I was able to get the dependencies of conan packages in a custom generator using something like

[code]

which would then attempt to read the things that said dependency depends on, among other needed information.
This still works for things like abseil, grpc (which use components) and seemingly (didn't take a close look yet) a few other required packages.
But it does no longer seem to

[2022-07-14 07:25] gabyx commented on #11634
@memsharded: Thanks for the very nice answer and the solution therein.

[2022-07-14 07:25] #11634 closed, assigned to nobody

[2022-07-14 07:31] #11589 closed, assigned to memsharded

[2022-07-14 07:56] lasote commented on #11623
Let me take a look at this and check if we can do something.

[2022-07-14 08:19] memsharded commented on #11637
Please, use ``self.dependencies`` to access the dependencies information for generators: https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

For writing 2.0 generators:
- Do not extend ``Generator`` class
- Use ``python_requires`` to put and share the code
- Instantiate it explicitly in the consumers ``generate()`` method
- use ``self.dependencies`` to access information

[2022-07-14 08:46] WernerWessely commented on #11570
Yeah, the way I will recommend it to our devs is basically if you want to debug your host deps:
1) Find which ones you have for your debug config:
`conan info -n None -pr profile-dbg .`
2) Install and build the ones you need with e.g.:
`conan install -pr profile-dbg -b libssh libssh/0.8.9@`
(or put into editable mode)
3) Build and debug

Looking forward to what kind of cooler workflows will perhap

[2022-07-14 09:01] memsharded commented on #11570
Great, I think this sounds reasonable at the moment.

I am closing this questions as responded, but don't hesitate to re-open or create a new one with further questions or feedback if necessary!

[2022-07-14 09:01] #11570 closed, assigned to jcar87

[2022-07-14 09:31] atrelinski commented on #3230
Thank You for understanding!

[2022-07-14 09:40] AndreyMlashkin opened #11638 "[feature] apply same flags for test_package as for parent recipe"
If  you use some compilation flags in the build profile, they only applied to a recipe, but not to the test recipe.
I have the following lines in my build profile:
sqlite3:CFLAGS=-fsanitize=address,undefined,leak,integer -march=native -mtune=native
sqlite3:CXXFLAGS=-fsanitize=address,undefined,leak,integer -march=native -mtune=native
sqlite3:LDFLAGS=-fsanitize=address,undefined,leak,integer -march

[2022-07-14 10:07] memsharded commented on #11638
I guess you are defining those flags in the ``env`` section of your profile.
The problem with env-vars is that not all build systems listen to environment variables. CMake for example will ignore them, and I think that the ``test_package`` of recipes in ConanCenter are almost always using CMake to test.

Conan has introduced a new mechanism in ``conf`` that will be used in all build system new int

[2022-07-14 10:43] piniSolomon opened #11639 "conan package creation - version management"
hi guys,
I'm new to Conan and I'm having trouble understanding how to handle the versioning of the packages I'm creating, specifically, I want to increment the patch version number (major.minor.patch) automatically and **update** it in the conanfile.py file
As a reference while using **npm** I have the option to do ```npm version patch``` and then the package.json file is updated with the incremen

[2022-07-14 10:46] memsharded commented on #11627
Hi @TorstenRobitzki

I guess that you are talking about the https://github.com/conan-io/cmake-conan integration, but you are concerned about its limitations.

That project was born by the desire of some users to run just cmake, and let it call conan automatically. Even if I didn't love this integration, it worked relatively well with the previous CMake integrations (``cmake`` generator).

Relative

[2022-07-14 10:48] DoDoENT commented on #9294
I just had the need for composing `conanfile.txt` files where one submodule has some Conan dependencies on its own and those dependencies need to be expanded with dependencies of the main module.
This happened on a project that used git submodules and binary zips exclusively for their dependencies and now I'm in the process of replacing binary zips with Conan, while still keeping git submodule dep

[2022-07-14 10:51] #11626 closed, assigned to memsharded

[2022-07-14 11:05] memsharded commented on #11626
Closed by https://github.com/conan-io/conan/pull/11631, it will be in next 1.51 (and next beta.2, that will happen sooner).
Please give it a try when possible, thanks!

[2022-07-14 11:11] memsharded commented on #9294
I think that Conan 2.0 custom commands can definitely help filling the gap of the missing ``workspace`` feature. For example, implementing a custom command that walks the current folder, and for every folder, based on some convention calls ``conan editable add`` is basically all you need, something like:

[code]

Recall that Conan 2.0 has also some improvements for editables, for example, it can d

[2022-07-14 11:38] memsharded commented on #11639
Hi @piniSolomon

There is no built-in command for this, you need to open the ``conanfile.py`` and modify the ``version`` attribute.
You have different ways of automating the version if you want, like ``set_version()`` method can read the version from a branch, or from a file, etc. There is no built-in commands for several reasons, like many recipes won't have semver compatible versions (fail), som

[2022-07-14 11:40] TorstenRobitzki commented on #11627
Hi James,

thanks again for taking the time to look into my concerns!

No, not necessary. While evaluating our options to integrate Conan, I've also stumbled over the project above. I would love to keep the dependencies purely in our conan.py file.

The problem is, that one not just have to invoke Conan, when one do a fresh `git clone`, but with every `git checkout / branch`, one can potentially g

[2022-07-14 11:44] lasote commented on #11623
Hello! I've been checking and should be only needed to use the `CMakeToolchain`  to cross-build, a line is introduced in the toolchain with the `CMAKE_GENERATOR_PLATFORM` that completes the definition of the `generator` in the `configurePresets`.

[2022-07-14 11:47] franramirez688 opened #11641 "[MesonToolchain] Review mechanism to add C* flags (now env and conf)"
I still feel this is problematic, having 2 mechanisms to define CXX_FLAGS (env and conf). Not related to this PR, I know it is already this way for C/C++ flags, but something we want to clarify for the future.

_Originally posted by @memsharded in https://github.com/conan-io/conan/pull/11632#discussion_r921053756_

UPDATE

`MesonToolchain` is initializing some flags variables through the `VirtualB

[2022-07-14 11:52] memsharded opened #11642 "Reconsider header & lib traits effects on compiler flags"
Latest changes in https://github.com/conan-io/conan/pull/11615, mimic the same behavior already done for CMakeDeps:

- If the dependency doesn't have traits ``libs=True or headers=True``, then the compiler flags  (from ``cpp_info``) are also dropped (besides the ``includedirs`` and ``libs``, etc)
- In general the dependencies that have all main traits to False, are discarded (BINARY_SKIP), so they

[2022-07-14 11:56] memsharded commented on #11555
Closed by https://github.com/conan-io/conan/pull/11615

[2022-07-14 11:56] #11555 closed, assigned to czoido

[2022-07-14 12:41] #11628 closed, assigned to franramirez688

[2022-07-14 13:31] samuel-emrys commented on #8626
I'm not sure that this should be the concern of python facilities at this level of abstraction within conan. In order to deal with that, we would need to essentially write a recipe for each individual python package, or around something like pipenv.

Even so, it is still possible to ensure reproducibility with tools like [`pip-tools`](https://github.com/jazzband/pip-tools). Specifically, `pip-comp

[2022-07-14 14:40] thorntonryan commented on #11623
Thanks for the ideas! I hadn't considered those yet.

Looking at the documentation, [CMAKE_GENERATOR_PLATFORM](https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_PLATFORM.html#variable:CMAKE_GENERATOR_PLATFORM) is only supported on certain generators:

It also only seems to affect the target architecture. Whereas I'm hoping to adjust the _host_ toolset too, in order to pick up the x64 ve

[2022-07-14 14:51] purplefishies opened #11644 "[question] Can't use layouts when also using generators"
Starting with the example editable project from https://github.com/conan-io/examples.git

[code]

If I look for the marker directory BLAHHHH I can't find it anywhere.  The code

[code]

Makes the layout file get ignored.

I don't know how to get past this issue since I need to be able to configure the library location ( layout ) for an editable package AND I need to be able to use the generated co

[2022-07-14 15:02] #9713 closed, assigned to franramirez688, memsharded

[2022-07-14 15:02] #11596 closed, assigned to franramirez688

[2022-07-14 15:05] franramirez688 commented on #11596
Closed by https://github.com/conan-io/conan/pull/11618
It'll be released in the next Conan 1.51 version.

[2022-07-14 15:08] memsharded commented on #11644
Hi @purplefishies

Yes, that way of specifying editables with external layout files is legacy and deprecated. The modern way to specify layouts is with the ``layout()`` methods. Templates like ``conan new hello/0.1 -m=cmake_lib`` already contain it, and can be made ``conan editable add`` out of the box, no need of external files.

The documentation for editable packages was also updated some time

[2022-07-14 15:09] franramirez688 commented on #9713
Closed by https://github.com/conan-io/conan/pull/11618
In the end, it's not needed a specific layout for meson so it's enough using the current `basic_layout`. Apart from that, we've added some default directories to solve other problems related.
It'll be released in the next Conan 1.51 version.

[2022-07-14 15:22] purplefishies commented on #11644
So, my problem is that I am having to deal with a legacy project that started with pkg_config and then moved to conan. I am trying to make it an editable package while I do some editing to it .

So, the example you gave
[code]
Doesn't work for me because
1. The editable package has a different directory structure ( no include directory, headers are interspersed with the .cpp files  )
2. The librar

[2022-07-14 16:08] memsharded commented on #11644
I am not talking about workspaces at all, I am just talking about editables and layouts.

If you have a different directory structure, you have to write your ``layout()`` method, and specify where things are. The external file is not working anymore for new generators and integrations, and it has been completely removed in Conan 2.0.

You can check:
- https://docs.conan.io/en/latest/reference/cona

[2022-07-14 16:22] purplefishies commented on #11644
So, is there an example way to setup the template for the
[code]

For instance, I can't configure or augment the equivalent of the build directories that are chosen which in my case would be

build/Debug .

This corresponds to a template entry of
[code]
In my previous message, I mentioned that the library is getting built in a strange location , which would be
build/{{settings.build_type}}/Package

[2022-07-14 16:29] thorntonryan commented on #8626
Agreed. Actually, I think just moving it into conan itself likely resolves the issue. That way there's just once source of truth for the `pyevenv` implementation -- not multiple sources depending which package you pulled in.

Good work!

[2022-07-14 16:29] memsharded commented on #11502
After some clarification, it seems this is a case for:

- ``build_id()`` to make possible to build one time, and package those exact same artifacts in different variants
- Use of custom settings to drive the process and variants at will

I think this question can be closed now as responded, please don't hesitate to re-open or create new issues for any further questions, and we will keep in touch t

[2022-07-14 16:29] #11502 closed, assigned to memsharded

[2022-07-14 16:43] memsharded commented on #11644
You can customize the build folder, in a very similar way, something like `` conanfile.folders.build = "build/{}".format(self.settings.build_type)``

Maybe having a look at the actual implementation of ``cmake_layout()`` in https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/layout.py can be helpful too

[2022-07-14 18:16] Ambrase commented on #6041
I'm not sure about `--keep-source` and `conan create .` In my flow I don't use neither of them.

I can reproduce the problem in the following way:

[code]

My config
[code]

Conan version is 1.43.2

[2022-07-14 18:44] purplefishies commented on #11644
What is the best practice way of doing that ? Configuring at the conanfile.py level ?

I saw that there's a way to customize it through custom_conf but I can't find any examples to add multiple values without changing the layout.py file .

[2022-07-14 20:35] MariaMozgunova commented on #11635
Can I take this issue?

[2022-07-14 20:59] memsharded commented on #11635
Of course, @MariaMozgunova, thanks very much for offering to contribute!

[2022-07-14 21:30] memsharded commented on #11629
The issue is that packages in ConanCenter still haven't been updated to support the new integrations that listen to this ``conf`` to select the generator. The process has started, it will take some time for recipes in ConanCenter to be updated, but it is wip.

This is the approach to follow, but in the meantime for the legacy integrations, you might try setting the env-var ``CONAN_CMAKE_GENERATOR`

[2022-07-14 21:33] memsharded commented on #11565
This will be solved by https://github.com/conan-io/conan/pull/11580, which defines a new ``validate_build()`` method, that runs before ``package_id()`` removes things, so will use ``self.settings`` without problem. Will be released in 1.51, testing and feedback once released would be appreciated

[2022-07-14 21:33] #11565 closed, assigned to nobody

[2022-07-14 21:36] memsharded commented on #11521
Closed by #11630

[2022-07-14 21:36] #11521 closed, assigned to lasote

[2022-07-14 21:57] purplefishies commented on #11644
OK, got what you were saying.  I just did

[code]

[2022-07-14 21:57] #11644 closed, assigned to memsharded

[2022-07-15 06:18] stlu1022 commented on #11502
Thank you so much :)

[2022-07-15 06:34] lasote commented on #11623
Thanks for your answer, makes sense. I'll take a look at the `architecture/toolset` fields and do some tests.

[2022-07-15 08:57] tsondergaard opened #11646 "[feature] scripted remotes for recipes"
When `conan` is building the dependency graph it will use remotes to pull down recipes that are not already in the cache or with the `--update` argument it will check for newer recipes in remotes.  I think it would be useful if it was possible to extend this mechanism so scripts could be used as an alternative to a remote to obtain recipes. It could look something like this:

~/.conan/remotes.json

[2022-07-15 09:02] planetmarshall commented on #9400
Resolved by creating a lockfile via `conan install` rather than `conan create`.

[2022-07-15 09:02] #9400 closed, assigned to memsharded

[2022-07-15 09:09] heilkn commented on #7795
Dear conan team, I can confirm that we my colleagues and I are facing the same issue. It would be
great if the software could deal with that situation without requiring user interaction.

My current workaround is to manually delete all flagged packages and rerun conan until it passes, but this is very annoying.

Kind regards

Konstantin

[2022-07-15 10:06] memsharded commented on #11646
Hi @tsondergaard

I think you want to follow the ongoing idea in https://github.com/conan-io/conan/pull/10433. It is very early, and at the moment it is on-hold, until 2.0 is out of beta, but we will continue work after it at some point.

Please check it, and I think we can close this and track the PR instead, thanks!

[2022-07-15 10:07] lasote opened #11647 "[bug] CMakePresets path to `conan_toolchain.cmake`"
In windows, the path to the `conan_toolchain.cmake` contains a "/" mixed with "\\" causing issues when used in Visual Studio.

[2022-07-15 10:11] lasote opened #11648 "[feature] Try to aggregate CMakePresets instead of including them"
The`CMakeUserPresets` include different `CMakePreset` files from the generators folder, but the `include` functionality requires CMake >=3.23.
We can try to aggregate the contents directly maybe following a `conf`.

Related https://github.com/conan-io/conan/issues/11623

[2022-07-15 10:13] memsharded commented on #9400
Great, thanks for following up, sorry that we didn't respond on time, this issue fell through the cracks (probably issue being filed in August, when many of us typically take our vacation..)

I guess you might be interested in the new lockfiles for 2.0, I'd recommend having a look (https://github.com/conan-io/tribe/pull/34) and trying them in the released 2.0.beta. Thanks!

[2022-07-15 10:15] lasote opened #11649 "[feature] CMakePresets toolchain inclusion"
The `toolchainFile` element requires CMake >=3.21, a cacheVariables with CMAKE_TOOLCHAIN_FILE could be used instead.

Might be opt-in with the same conf used for https://github.com/conan-io/conan/issues/11648

Related https://github.com/conan-io/conan/issues/11623

[2022-07-15 10:16] lasote commented on #11623
I've created a couple of issues to try to ease the usage of the `CMakeUsersPresets.json`, at least we want to try and see how the implementation looks like.
I will use this issue to add the `architecture/toolset` to the configurePreset when using the Ninja generator.

[2022-07-15 10:20] lasote opened #11651 "[feature] CMakeDeps global target"
When a recipe declares components, CMakeDeps is aggregating all the components' cpp_info to later create a global target with it.
It would be better to create the target by actually depending on the targets of the components in the right order (taking into account the dependencies between the components)

[2022-07-15 10:21] memsharded commented on #6041
Hi @Ambrase

I think this is expected behavior. You are not creating a package, you are using the ``conan export-pkg`` command to package pre-compile binaries. The ``source`` folder in the cache is not even processed, as it is not building from source in the cache. The source folder that you have there might be from a previous ``conan create`` run, but it is expected that the ``conan export-pkg``

[2022-07-15 10:34] Ambrase commented on #6041
Is it expected that a new `conan create .` will update the `source` folder? Because it doesn't too.

[2022-07-15 11:00] stb1706 commented on #11627
Hi Torsten,
how about

[code]
in order to reconfigure when a change in conanfile.py has happend, you need to unset some package-cache variables...
Perhaps by using
[code]

best regards,
Stefan

[2022-07-15 11:46] lasote opened #11653 "[look into] Leverage user CMakePreset.json"
Study how could we (the user) could combine a pre-existing preset with the generated with Conan.

Idea:

[code]

[2022-07-15 12:10] gabyx commented on #11634
Is there a nice way with conan to move packages from lets say `@test/prepare` namespace/user to
`_/_` or do we need to do that with `jfrog` CLI ?

[2022-07-15 13:42] tsondergaard commented on #11646
I agree, I will follow the PR. Closing this issue

[2022-07-15 13:42] #11646 closed, assigned to memsharded

[2022-07-15 14:19] MariaMozgunova commented on #11635
Can you please verify whether I am going in the right direction?

In the [official documentation](https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html) it stated that `cpu.max` file has the following format: `$MAX $PERIOD`.

In case both of the values are integers, `quota` and `period` can be equal to `$MAX` and `$PERIOD` respectively?

In addition, documentation states that `“max” fo

[2022-07-15 14:29] lkantola opened #11656 "[feature] Provide a hook for transparently overriding source downloads"
Please provide hooks for `conans.tools.get`, `conans.tools.download`, and corresponding Conan 2 functions, so that the download handling and caching can be overridden by custom logic.

The inputs to the custom download hook would be the URL and checksum of the source archive. The hook would return a path to a local read-only file or write content to a given target path. Checksum verification and u

[2022-07-15 14:52] lkantola commented on #11656
For reference, below is the monkey patching `pre_source` hook from my example use case in the first comment. It requires a `sha256sum` generated checksum file in `$MY_SOURCES/files.sha256`. Having an official download hook API would make things less hacky and allow reducing the code to `_get_repo_path` function only.

The patched `conans.tools.get` function only supports parameters for my specific

[2022-07-15 15:18] memsharded commented on #11656
This idea is interesting.
In the past we have done a proof of concept for a cache of downloaded sources, and keeping them in a server generic repository. This proof of concept would be built-in and do something very similar to what you are doing, but also with a server storage, to provide reproducibility later in time in any machine.

Maybe it is better reconsider that approach and provide this as

[2022-07-15 15:28] memsharded commented on #11635
Hi @MariaMozgunova

Good question. The thing is that the current fallback to ``return multiprocessing.cpu_count()`` is supposed to be there for when docker is not used, because precisely ``return multiprocessing.cpu_count()`` will not return the right result for docker, this is why this feature checking these files was added in the first place.

The second case, if MAX is updated with an integer v

[2022-07-15 16:12] MariaMozgunova commented on #8563
Is this issue already fixed?

[2022-07-15 16:58] joshvazquez commented on #11185
I've encountered this as well while writing a custom Authorizer. Is it also recommended to specify user and channel for packages shared within a company? What if the owner should be a team and not a specific person?

ArtifactoryCE is not suitable for me because I need custom authentication & authorization.

It's difficult to trace the calls because of how Bottle works, could you direct me to where

[2022-07-15 17:22] joshvazquez commented on #11185
It would be smart if I did the trace on the client instead of the server...

Anyway it seems to be [here](https://github.com/conan-io/conan/blob/develop/conans/client/rest/auth_manager.py#L40) that `get_recipe_manifest` is the first thing called without authentication. I'm going to experiment with this file and see if I can make it always auth.

[2022-07-15 17:25] Sebastian-Setzer opened #11657 "[question] Packing builds with different profiles into one container"
Hi,
our use-case is an embedded system with different kinds of CPUs inside (32 bit and 64 bit). The software to run on those has to be built with different settings.
In the end, we need them all in one container.

Right now, it looks like conan doesn't support this use case, in the sense that you can have a "container" package that "requires" the other packages which have been built with different

[2022-07-15 18:00] joshvazquez commented on #11185
Adding `self._auth_manager.call_rest_api_method(remote, "check_credentials")` above https://github.com/conan-io/conan/blob/develop/conans/client/remote_manager.py#L290 seems to work.

[2022-07-15 21:35] giovaorama commented on #11626
I was out of office in the last days and i do not get any notification of your answer.
I'm to see that you solve it. Now i have to forcecall my colleagues ti update their conan version.
Thanks a lot

[2022-07-16 00:45] BlueSolei commented on #11638
I have the same issue with the `CC` and `CXX` env vars.
I build my package with: `conan create . mfc_strings/0.1 -pr:b=clang13 -pr:h=clang13`
the result is that `mfc_strings` package is built with `clang-13` but the `test_package` is built with `GCC(/usr/bin/c++)`
`GCC` is the default in my Ubuntu.

@AndreyMlashkin, @memsharded,
**I actually find that I can fix it** simply by changing the attribut

[2022-07-16 09:53] MariaMozgunova commented on #11635
I have tried to run tests without making any changes to the source code. However, running tests both with `tox` and without it as specified on the README on the front page gives too many errors. Am I missing something?
![running tests conan too many errors](https://user-images.githubusercontent.com/63199273/179349927-7c6a4651-099d-40d9-b163-d90ae8ff9c90.png)

[2022-07-16 11:41] MariaMozgunova commented on #9428
Can I take this issue?

[2022-07-16 11:46] MariaMozgunova commented on #8150
Can I take this issue? Is it still relevant to implement?

[2022-07-16 11:58] Nocccer commented on #8150
I didn't use conan for a while now. Still think it is always good to have more error/output information. Up to you, if this is still a good issue or makes no sense for the current conan version.

[2022-07-17 13:16] ytimenkov commented on #11592
Sorry for late reply, was traveling...

Maybe it was not the best example. Or looking at the current file I see that `build_requires()` and `requires()` which are missing, but the idea behind is the same - call `super().build_requires()` from mixins (in case there are other mixins adding more requirements). In my case one mixin was for build system (we historically use waf) and another one is for

[2022-07-17 22:46] memsharded commented on #11635
Hi @MariaMozgunova

Yes, there are many tests that require to have some tools installed, like different build systems. You can check the ``conftest.py`` file, it contains a json declarative syntax to enable/disable/configure required tools. You can write your own ``confuser_test.py`` overriding and disabling some tools.

If you are going to touch such a very specific tool, I'd recommend looking in

[2022-07-17 22:49] memsharded commented on #8150
The ``scm`` functionality is being superseded by the new (more explicit) tools described in https://docs.conan.io/en/latest/reference/conanfile/tools/scm.html.

I am going to close this issue as wont implement, and I'd recommend the following:
- Upgrading and checking the new tools
- If the new tools still exhibit this behavior, file a new issue describing the usage of the new tool

Thanks!

[2022-07-17 22:49] #8150 closed, assigned to nobody

[2022-07-17 22:54] memsharded commented on #9428
Better not now.

We are removing the "file download cache" in 2.0, because of some complexities, missing development in the 2.0 cache concurrency and lack of consistent feedback of the performance gains of the "file download cache".

In order to consider re-enabling the file download cache we need reports for different users about:

- What performance gains are being observed by enabling it
- What

[2022-07-17 22:54] #9428 closed, assigned to nobody

[2022-07-17 22:54] memsharded opened #11658 "[develop2] Consider re-enabling of file download cache"
We are removing the "file download cache" in 2.0, because of some complexities, missing development in the 2.0 cache concurrency and lack of consistent feedback of the performance gains of the "file download cache".

In order to consider re-enabling the file download cache we need reports for different users about:

- What performance gains are being observed by enabling it
- What is the most impo

[2022-07-17 23:03] madebr commented on #11658
I heavily use this caching whilst creating and/ormodifying recipes for 3rd party dependencies, e.g. for those on conan-center-index.
It is a huge time saver + is also useful to keep working on a recipe when the internet connection is flaky.

[2022-07-17 23:22] memsharded commented on #11658
So that means, that you are only interested in the caching of downloaded sources from the internet, and not the rest of the features.

This use case might be also partially addressed by the recent ``file://`` support in get/download. Not exactly the same, it still requires some manual work, but would be something to consider until this is decided.

[2022-07-17 23:35] memsharded commented on #11185
Yes, it is good practice to setup user/channel (in 2.0 only user is possible), for your own packages. Typically named after the company or team, depending on the scope, and occasionally after individual developers just while playing around with new dependencies and probably only uploading to "playground" repositories, not to develop/production

This would introduce an extra duplicated auth API cal

[2022-07-18 00:25] memsharded commented on #6041
Ok, I was confused by the ``conan install``, and not a ``conan create``, thanks for pointing it out.

I was able to reproduce. This bug has been solved in released 2.0-beta, so marking this as solved, this ticket will be automatically closed when #11659 is merged.

I have checked if it is possible to fix it easily in 1.X, but not I am a bit concerned that it could have some risk of breaking.
I'd r

[2022-07-18 06:56] ericLemanissier opened #11661 "[bug] system package failure on dnf and yum"
[alma linux](https://github.com/bincrafters/system-packages-checks/runs/7368984232?check_suite_focus=true#step:6:214), [centos](https://github.com/bincrafters/system-packages-checks/runs/7368984251?check_suite_focus=true#step:6:184) and [fedora](https://github.com/bincrafters/system-packages-checks/runs/7368984210?check_suite_focus=true#step:6:206) fail with `ERROR: while executing system_requirem

[2022-07-18 07:14] czoido commented on #11661
Hi @ericLemanissier,
Thanks for reporting, yes, we overlooked that return code for dnf/yum in the new implementation. Will be fixed for 1.51

[2022-07-18 07:19] #11647 closed, assigned to lasote

[2022-07-18 08:23] memsharded commented on #11657
Hi @Sebastian-Setzer

I am not sure if I fully understand your use case. One thing is how Conan manages packages at development time, for this case the approach is indeed 1 binary for each different configuration, including different architectures.

And the "deployment" or final installation case is typically different. You can ``conan install`` as many configurations as you want, and use some ``-

[2022-07-18 08:26] memsharded commented on #11592
No prob, thanks for the feedback.

Ok, the ``build_requires`` method made more sense, as it was not defined.
In any case, if you can go explicit, we believe it is better in the midterm, even if not nasty super() tricks would be necessary, with multiple inheritance many different behaviors like order of evaluations, etc can easily bite you.

Thanks!

[2022-07-18 08:30] memsharded commented on #11638
Hi @BlueSolei

``apply_env`` goes back to the legacy way of managing the environment, so might not be the best approach.

the new ``tools.build:cxxflags`` configuration is an abstraction as not all build systems listen to env-vars for these. But for CC/CXX, if the build system is listening to those, it is perfectly valid to do:

[code]
Then the recipes should use the ``VirtualBuildEnv``.
Have you

[2022-07-18 08:37] Sebastian-Setzer commented on #11657
Hi @memsharded ,
yes, we could just "deploy" both parts separately. But they belong together - there is a communication channel between the two different cores, and both sides must have a compatible version.

In addition to that, our deployment tool gets one "container" (=package, ZIP file, ...) for both parts. It would be nice to generate that from conan as well, so that we don't need yet another

[2022-07-18 08:42] Sebastian-Setzer commented on #11657
What works, by the way, is to use options instead of settings. But:
- Each package has to pass on these options to its dependencies
- This is not how conan is intended to be used... everyone else is using settings to chose the compiler.

So if there's nothing else, I would prefer the `run("conan...")`solution.

[2022-07-18 08:52] memsharded commented on #11657
So, do you mean that you need to install **different** packages, in a consistent way, but for different architectures? Or it is the same package, the binaries for different architectures? In the first case, the per-package settings would help, and you might be able to deploy with one single ``conan install``. Using profile files is the recommended approach for production, and they can use some pow

[2022-07-18 09:15] jcar87 commented on #11495
I would imagine this could be a problem, if `QtCore` does not strictly depend on `QtCMakeConfig`. One way of seeing this: `QtCore` is standalone: its CMake package name is `Qt5Core`. `QtCMakeConfig` is just an abstraction that exists separate from the standalone components, to provide `find_package(Qt5)`. If the "consumer" depends on both `QtCore` (because it knows it uses it) and on `QtCMakeConfi

[2022-07-18 09:48] thorsten-klein opened #11663 "[bug] missing exports_sources when doing conan inspect"
It seems that exports_sources is not considering the methods from conanfile.py

`$ cat conanfile.py`
[code]

`$ conan inspect conanfile.py -a exports_sources`

Actual:
[code]

Expected:
[code]

[2022-07-18 09:52] thorsten-klein opened #11664 "[Question] Get RREV"
How can I get the resulting RREV of a conanfile.py, without needing to export the package at all (e.g. if it is very huge)?

I currently do it by creating some "manifest_str" containing the md5 of each file. E.g. it looks:
[code]

Then I call:
`RREV = model.manifest.FileTreeManifest.loads("1\n"+manifest_str)`

The smart thing with this approach is, that I can store the md5 sums of all the exports_

[2022-07-18 12:00] lo1ol opened #11665 "[feature] Add support of custom ConanFile classes"
Hi! We continue to integrate conan to our projects. Our organization has custom settings.yml, compability rules and restrictions. So this rules has to be written inside each project's conanfile.

To avoid duplication of this rules, we are thinking about distribution them with conan config inside directory `user_utils`. Here is an example:
[code]

So, now I can use this custom ConanFile inside any

[2022-07-18 12:06] memsharded commented on #11665
Hi @lo1ol

This functionality has been addressed by ``python_requires``, you can have a look in https://docs.conan.io/en/latest/extending/python_requires.html

In our experience there is a very big problem with the approach of having it in the path (you can do it easily by putting that into a regular Python pip package, and installing that package, then having your recipes ``import`` from it), in

[2022-07-18 12:10] lo1ol commented on #11665
Thank you for so fast answer! We are try to use python_requires)

[2022-07-18 12:10] #11665 closed, assigned to memsharded

[2022-07-18 13:00] Sebastian-Setzer commented on #11657
Yes, different packages. Different architecture and different sources as well. But they may have common dependencies (same source, but must be compiled for different architectures) - that's what I meant with diamond structure. And that's where per-package settings don't work anymore.

[2022-07-18 13:26] MTomBosch commented on #3113
@memsharded  We were still playing around with this issue and we might have found a solution that could be interesting to other people. But it would be very cool if you could confirm our workaround.

We did create a virtual repo that contained the multiple local repos (snapshot and release repo). Now the resolution of the version range specific package was working fine when using the conan install

[2022-07-18 13:38] arunkant commented on #9834
Any update on this yet?

[2022-07-18 14:55] scandyna commented on #11495
Thank you to take time for this issue, and also for your suggestion.

Pushing the problem to the consumer is something I try to avoid.

Here we talk about a specific thing.
The user itself has probably a lot of other stuff to think about, so it should not have to care about an implementation detail, in my opinion.

[2022-07-18 15:27] jcar87 commented on #11495
I believe we are dealing with a tradeoff between the consumer and the package(s) maintainer - it could be argued that it's easier for the consumer to consume qt as a single package: `qt/5.xx` rather than split in multiple separate ones that can be independently versioned.

However perhaps I would go back to my earlier suggestion: include `Qt5Config.cmake` in the package that is common to _all_ of

[2022-07-18 15:46] SpaceIm commented on #11495
If you think about packaging upstream `Qt5Config.cmake` in a `qtbase` recipe, it's forbidden by conan-center.

If it's more about programmatic creation in `qtbase` recipe of a `Qt5Config.cmake`, it can't work because if you create something in a `qtbase` recipe, obviously it would have no knowledge of other `qt<component>` recipes, so your handwritten `Qt5Config.cmake` would be broken. The only wa

[2022-07-18 16:37] jcar87 commented on #11495
I'm not talking about conan center, but the specific case presented by @scandyna  where I believe they already have an existing set of custom Qt recipes of which they have control.
Qt has traditionally kept individual  `Qt5Core`, `Qt5Widgets` cmake configuration files and a dual interface - which act as standalone packages as far as `find_package()` is concerned, plus a thin layer that allows to t

[2022-07-18 16:39] Sil3ntStorm commented on #11637
I just cannot seem to win here and am growing increasingly frustrated with this...
What I was doing worked fine for all the recipes I ever tried for like the past year, and it appears to still work fine, except it doesn't for the sqlitecpp recipe.

The [documentation](https://docs.conan.io/en/latest/reference/conanfile/dependencies.html#dependencies-cpp-info-interface) mentions:

[code]

which doi

[2022-07-18 16:59] joshvazquez commented on #11185
You are right, this is at best a hack. But for reasons I can't explain, this is working now even without that change.

My auth system provides the username in a header. Before, my Authorizer was receiving None user during the call to `get_recipe_manifest_url`, raising AuthenticationException, and prompting the client for credentials. Now, it is correctly receiving the username in the header and no

[2022-07-18 17:18] memsharded commented on #11637
Hi @Sil3ntStorm

I don't know where the error is coming from. You say that ``NewCppInfo`` does not have ``includedirs``, but it does. The only thing it is evaluated dynamically, via ``__getattr__`` implementation. We use ``cpp_info.includedirs`` extensively in all of our new generators without any issue. I have checked it and it is also present in some tests in the test suite.

The main issue is t

[2022-07-18 17:41] memsharded commented on #3113
Yes, @MTomBosch, that could be a valid approach, up to my knowledge, this is how virtual repositories are intended to work. Sorry, I should have possibly mentioned this possibility.
Just a couple of clarifications for other users:
- Using virtual repos in Artifactory requires enabling revisions
- Virtual repos work as an aggregation of the other server repositories they are proxying.
- As they use

[2022-07-18 18:22] maikelvdh commented on #11635
@MariaMozgunova the `$MAX` in `cpu.max` is basically the same as quota before, so you can use that to calculate in this case the same.

[2022-07-18 19:50] TaylorEllington opened #11670 "[feature] PyInstall --onefile support"
I would like a flag on `pyinstaller.py` to toggle the use of `--onefile` when running the pyinstaller command. This would bundle all components into one executable, a portable monolithic Conan.

I'm no python expert, but from my examination there are a minimal set of changes to the script that would be necessary:
1. A command line flag
a. I would nominate `--onefile-conan-client`.
b. Could be done

[2022-07-18 22:41] Sil3ntStorm commented on #11637
You're correct, I tend to not control very much what I say / write, even less so when frustrated with things that I cannot seem to get to work. Sorry about that.

I put together https://github.com/Sil3ntStorm/conan-issues/tree/custom-generator-1
Not sure if that is any good, but it does illustrate the issue. Simply run `python3 repro.py bad` and examine the `conanbuildinfo.dummy` file.
There does

[2022-07-19 01:38] 666melkor666 commented on #11607
Hi.
It looks like I'm hit by the same problem.

I need to be able to independently change the build_type of dependencies and their consumer.
The use case is the following: I have an application and want to use the release version of the dependencies regardless of the config my application is being built or change the build_type for a certain dependency only.
Using debug versions for all dependenci

[2022-07-19 05:29] EstebanDugueperoux2 commented on #11582
Hi @memsharded,

thanks for the information, but I prefer stay in the standard use of conan for better maintainability.

Regards.

[2022-07-19 05:29] #11582 closed, assigned to jcar87

[2022-07-19 06:14] EstebanDugueperoux2 commented on #10592
Hello,

I have a newbie question about tools.system.package_manager:mode configuration as described in https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html#conan-tools-system-package-manager

I have a recipe with following snippet:

[code]

But when executing `conan create .` I get `ERROR: while executing system_requirements(): name 'tools' is not defined` message.

[2022-07-19 06:23] czoido commented on #10592
Hi @EstebanDugueperoux2,

Please, read the docs about how to use [the configuration properties](https://docs.conan.io/en/latest/reference/config_files/global_conf.html#global-conf). You can't use it directly in the recipes as you are doing, you can do it several ways:

1. Defining it in the global.conf file located in the Conan user home directory
2. Define it in your profile in the [conf] section

[2022-07-19 06:26] czoido commented on #10592
@EstebanDugueperoux2

Also, please check that you don't need to check the distro for the new `system.package_manager` tools. Just do the calls and only the active package manager that will be the one that corresponds with the distro will be called, just do:

[code]

[2022-07-19 06:47] #11661 closed, assigned to czoido

[2022-07-19 06:47] #11648 closed, assigned to lasote

[2022-07-19 06:47] #11649 closed, assigned to lasote

[2022-07-19 08:50] fschoenm opened #11671 "[feature] CMakeDeps should publish resource dirs as variable"
We're using some conan packages for resource data and/or code generator input that we're using in our build. When trying the new _CMakeDeps_ generator, I noticed that it does not create a variable for the resource dir of the used package (there is only a _xyz_RES_DIRS_DEBUG_ variable that depends on the build setting).

Without this build-setting independent variable I'm not sure how to access the

[2022-07-19 10:40] memsharded commented on #6041
Considering this as closed by #11659 (for Conan 2.0-beta.2), please read the above recommendation for 1.X

[2022-07-19 14:37] MariaMozgunova commented on #11635
While exploring the tests under the `conans/test` folder, I did not find tests that would test the `conan.tools` functionality.
Can you please hint to me where to search for those tests?

[2022-07-19 15:17] himansu2906 opened #11674 "Check for working C compiler: - broken"
Hello All,

I am new to conan and currently trying to create library package and I am using gcc compiler.

whenever I am trying to create package it is giving following error

but if I am building this library with cmake command, it is building perfectly fine.

I am not able to set cross compile setting for with Conan.

if anyone can guild how can cross compile with  with Conan.

[2022-07-19 15:31] scandyna commented on #11495
I don't have custom recipes to package Qt (this would be too much rework, experts already spend time on that).
I have several projects with a common namespace (I'm splitting a legacy mono-repo, and I'm inspired by Qt and Boost to organize the code).

Yes, we would have to specify the version for each Qt package. I kept this silent to avoid mixing the issues.
(only thinking about a title for such i

[2022-07-19 16:17] memsharded commented on #11674
Hi @himansu2906

Can you please try sharing your conanfile.py and your CMakeLists.txt?
Another thing to try is to start with a "hello world" simple package, created with ``conan new hello/0.1 -m=cmake_lib``, and see if you are able to build with that compiler. It is possible that such compiler has something specific (like gcc 3.4 is really old and the Conan toolchain is producing some incompatible

[2022-07-19 17:17] memsharded commented on #11549
Closed by https://github.com/conan-io/conan/pull/11662

[2022-07-19 17:17] #11549 closed, assigned to franramirez688

[2022-07-19 17:55] memsharded commented on #11670
Hi @TaylorEllington

The first part is doable, and it doesn't have big risk, as it would be an opt-in. Feel free to do a PR if you want, though it is true that we are strongly trying to direct all new features to ``develop2`` branch only, to Conan 1.X only necessary backports, bugfixes and migration helpers will be added.

The second part, I would advice to reconsider. All the new CMake integratio

[2022-07-19 18:15] TaylorEllington commented on #11670
To clarify, are you saying that with the advent of Conan 2.0, my intended use paradigm will no longer work? We are just now looking into adopting Conan, but if the next significant version of Conan is going to **require** the npm model, and it cant be driven entirely by CMake, we may need to look at selecting a different tool. We like the flow of running the wrapper's install function, and then im

[2022-07-19 19:22] himansu2906 commented on #11674
below are the content of cmakefile.txt and conanfile.py
cmakefile.txt :
cmake_minimum_required(VERSION 3.23)

set (CMAKE_TOOLCHAIN_FILE=~/tricore-gcc.cmake)
set (CMAKE_C_COMPILER "C:/HighTec/TriCore_v3_4_7_3/bin/tricore-gcc.exe")

project(variant1)
#add_compile_options(-std=c++11)
# Source-files (.C) and include paths provided through the cmake CLI (-D option)
file(STRINGS ${srcfilelist} sourcefil

[2022-07-19 21:39] memsharded commented on #11674
Ok, I start to understand where the issues could be. Let me explain them:

- First, the toolchain is not to be written in the file. The lines:
[code]
  Shoudn't be in your CMakeLists.txt. This is not related to Conan, but good CMake practices
- Then, if the ``tricore-gcc.cmake`` toolchain is necessary to build, then you can pass it your profile, defining it as a ``conf`` ``tools.cmake.cmaketoolcha

[2022-07-19 21:42] memsharded commented on #11674
As a general recommendation, if you haven't yet I would recommended learning first a bit of the basics. Creating simple Conan packages, for different variants, but for mainstream, native compilers like Visual Studio or regular gcc. Reuse those packages. Use profile files to define configurations, etc. Then when you grasp the basics, you can then start more advanced stuff, as defining other non mai

[2022-07-19 21:59] memsharded commented on #11670
Yes, ``cmake_multi`` generator is also removed in Conan 2.0. Only ``CMakeDeps`` (which is multi-config, but it is based on xxxx-config.cmake files and ``find_package()`` it no longer works doing ``include(conanbuildinfo.cmake)``) will survive, but that is not an issue, the "dependencies" part of the flow will still work fine.

The part that will be missing is the setting up of the configuration vi

[2022-07-19 22:37] robindegen commented on #8883
I'm not sure if the change fixed it; since I still have the same issue in 1.50.0

[2022-07-19 22:43] memsharded commented on #8883
Hi @robindegen

This issue was closed by the introduction of a new mechanism, defining ``win_bash=True`` as a class or object attribute, not passing it in the method argument. If you have a case that we can use to reproduce, please file a new issue with details, so we can have a look. Thanks!

[2022-07-20 00:59] SeanSnyders commented on #10768
Any recent thoughts on this issue?

[2022-07-20 06:58] lasote commented on #11671
The CMakeDeps generator supports multi-config (debug/release) so the variables `xyz_RES_DIRS_DEBUG` and `xyz_RES_DIRS_RELEASE` depend on the settings you are using in the `conan install` command. And it makes sense, because the resource dir from the debug package is different from the resource dir from the release package. If you need to aggregate them you could do something like:

[code]

[2022-07-20 07:09] lasote commented on #11664
Hi.
First of all, I wouldn't recommend using internal/non-documented classes like `model.manifest.FileTreeManifest` or Conan can break your recipe at any release.

There is no general way to do that because the revision could depend on the "export" you are doing (export() method, export attribute) so there is no way to predict the revision without calculating it in the general case.

If you are us

[2022-07-20 07:14] lasote commented on #11663
The methods are not meant to modify the sibling attribute. The `export_sources` method will run while doing a `conan export` or `conan create`. The command `conan inspect` only loads the python class to read the attributes, so the `exports_sources` is not called at all.

[2022-07-20 08:11] akleber opened #11676 "[bug] Installer package is missing conan.tools.scm"
When creating a PyInstaller package conan.tools.scm is missing.

When using the generated executable this error message is shown when the conanfile.py uses conan.tools.scm:

[code]

I will provide a fix.

[2022-07-20 08:13] thorsten-klein commented on #11663
@lasote  Thanks a lot for your answer! Would you then recommend to use a `@property` decorator for `exports_sources` instead of having all logic in `export_sources()` method?