[2022-05-30 01:22] kkpattern commented on #11347
I was talking about the hacky code I didn't commit. In my first commit in our internal conan repo, I was doing it differently. In that commit, I deliberately ignored the `libs` option, but iterate the `bin` directory directly. If a DLL file is found, I will check whether there is a corresponding lib. If so, I will use the `shared_library` plus `interface_library`. If not, I will use `shared_librar

[2022-05-30 02:47] paulharris opened #11356 "[bug] CI tests broken or inconsistent - unchanged recipe from CCI now won't build"
Please refer to PR https://github.com/conan-io/conan-center-index/pull/10983

I've been hitting my head against the wall, wondering why my only-slightly-modified HDF5 recipe won't pass the CI tests.

Now I see that the existing CCI recipe won't pass the CI.   I've pushed a PR with a trivial change (in the description) and the recipe fails to pass the CI.

It was able to pass only 26 days ago, in h

[2022-05-30 05:29] EstebanDugueperoux2 commented on #11344
Hi @memsharded

Yes, all others operations with Conan works.

And what about CONAN_LOGIN_USERNAME and CONAN_PASSWORD environment variables?

[2022-05-30 06:57] paulharris commented on #11329
I'm going to close this, and assume we have to patch libraries and push upstream where possible.

[2022-05-30 06:57] #11329 closed, assigned to nobody

[2022-05-30 07:25] memsharded commented on #10955
This isn't really true. The build system used is irrelevant, being it MinGW, Ninja or NMake, the result is the same. The usage of VS installation is hardcoded in clang itself, so the resulting binary is basically the same, in three cases, using the VS libraries.

By default, it uses latest VS 2022, but this can be changed by activating the ``vcvars`` environment that want to be used. I agree this

[2022-05-30 07:42] SSE4 commented on #10955
the thing is `MinGW` is not a build system. there is a tool `mingw32-make`, which is essentially just a Windows port of GNU Make. should be the only one executable we actually need from `MinGW`.
`MinGW` is a port of GCC on Windows, and this one I think isn't that popular in professional environments (it's used by many hobby and OSS deveopers, that's why we get a signiificant amount of issues).

bu

[2022-05-30 07:57] SSE4 commented on #10955
not sure if I like it. it's the same `clang`, and not a fork like in case of `apple-clang`. but it might be a reasonable given the amount of tweaks it requires compare to Linux clang.

yes, that might be needed. `backend` might not be the accurate word here, but setting itself is worth providing.

sounds a bit confusing. possible targets are:
- `x86_64-w64-windows-gnu`
- `x86_64-pc-windows-msys`
-

[2022-05-30 09:27] jcar87 commented on #11329
Hi @paulharris  - thanks for looking into this issue.

The primary goal, as reflected in the CMakeDeps default behaviour, is to generate _config_ files with imported targets that have the correct transitive usage requirements. Conan can still generate find modules if required, which will also define modern cmake targets, from the cmake [documentation](https://cmake.org/cmake/help/latest/manual/cma

[2022-05-30 09:29] jcar87 commented on #11329
If this is the case, I'd say it may be preferable to patch this via the recipe (e.g. `tools.replace_in_file()`) rather than having to generate a new patch file per version update. I think it would be safe to assume that this logic is in a single place and that it tends to remain the same across versions.

[2022-05-30 09:52] memsharded commented on #11344
Yes, the ``conan_build_info`` is an independent application, it practically doesn't share logic with the Conan client, so it will not be reading or using those variables. It assumes the necessary artifacts are already there.

In Conan 2.0 it will probably move to a custom command layer, and that will improve this integration. In the meantime, you need to make sure that the necessary artifacts are

[2022-05-30 10:14] memsharded opened #11358 "[develop2][feature] Remove subprocess.list2cmdline usage"
Apparently this is not documented, most likely we shouldn't use it

[2022-05-30 10:37] memsharded commented on #10181
This was finally approached by https://github.com/conan-io/conan/pull/11111, and targeted for 2.0 (included in released alpha.7), using model (``package_type``, to be completed with ``cpp_info.properties`` if necessary) instead of files detection. Lets build on top of alpha.7 for this, thanks!

[2022-05-30 10:37] #10181 closed, assigned to nobody

[2022-05-30 12:36] CD3 commented on #7118
I agree. I am doing the same thing. For my projects, I am writing recipes that just do a normal cmake install and then set the environment variable `MyProject_DIR` to the package directory. Using the `virtualenv` generator, everything works like it would if it had been installed "by hand".

For third-party packages, the the new `CMakeDeps` generator is nice, but it interferes with package-installe

[2022-05-30 13:24] paulharris commented on #11329
I had forgotten about tools.replace_in_file(), that should work with HDF5_C_LIBRARIES --> HDF5_LIBRARIES

Thanks for the long detailed explanation,
you should add a link to that on some page of "notes about things" as I'm sure it is going to come up again!

So, does "modern" cmake drop the whole idea of defining variables like CURL_STATIC or whatever other cmake-level variables?   Sounds like all

[2022-05-30 15:35] #11324 closed, assigned to memsharded

[2022-05-30 15:37] memsharded commented on #11324
https://github.com/conan-io/conan/pull/11350 merged, next 1.49 release (to be released this week), will update pyjwt version

[2022-05-30 16:33] memsharded commented on #11353
Hi @datalogics-kam

But for user side, you can easily have the one that you want, because you can do:

[code]
That is, the CLI always has priority, and can override. ``conan install`` will be fast once things are installed.

We are trying to avoid the definition of multiple files by Conan, because the automatic activation of those files is based on the files existence itself. So generating both .b

[2022-05-30 17:11] memsharded commented on #11266
Trying to check the existence of the variable instead of the value in https://github.com/conan-io/conan/pull/11361, lets see how it goes

[2022-05-30 20:25] kobi-ca commented on #11342
Thank you @memsharded !
Is there a way to figure out what is the actual recipe changes between 2 revisions?
I'm not sure I understand how to retrieve such diff. (e.g. from boost 1.79).

thanks again.

[2022-05-30 20:30] memsharded commented on #11342
It depends on how the different revisions were created.
If packages from ConanCenter, you can probably track the changes to PRs easily, just by looking for the package name. In that way you can also see some context, reviews, etc.

ConanCenter recipes do not use the ``scm``, so it doesn't explicitly track git commits. But you could probably ``conan get`` the 2 different revisions and diff them, ha

[2022-05-30 20:34] memsharded commented on #11186
Closed by https://github.com/conan-io/conan/pull/11333

[2022-05-30 20:34] #11186 closed, assigned to franramirez688

[2022-05-30 21:07] kobi-ca commented on #11342
Thanks for the tip. I will try it out. I did not realize that the SHA1 is actually the git commit id.

Thanks again!

[2022-05-30 21:35] memsharded commented on #11342
No, the revision sha1 is the sha1 of the contents, it is not an actual commit id, unless ``revision_mode = "scm"`` is used, and that is not happening in ConanCenter. The revision hash is the hash of the ``conanmanifest.txt`` that contains the files with their checksums too, so basically the hash of the recipe contents.

[2022-05-30 22:45] kobi-ca commented on #11342
Oh. got it. I'll check it out. thanks!

[2022-05-31 00:19] SeanSnyders opened #11362 "[feature] conan info to return package_info related data"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Collecting information from an existing conan package through `conan info` returns some useful information but not everything that could be required relating to the consumption of a package.

Could it also return information from the recipe data in `cpp_info` that is created for packa

[2022-05-31 04:56] SimonHeybrock commented on #10759
Any update on this problem?

[2022-05-31 06:24] EstebanDugueperoux2 commented on #11269
Hello,

I have the same issue with glog, do you have a workaround waiting 1.49 release?

Regards.

[2022-05-31 07:32] #4680 closed

[2022-05-31 07:32] #11286 closed, assigned to lasote

[2022-05-31 07:48] memsharded commented on #11269
We plan to branch 1.49 today if possible. I don't think there is any reasonable workaround, beyond redefining targets variables directly in your consumer CMakeLists.txt after the ``find_package()``

[2022-05-31 07:51] memsharded commented on #11362
Hi @SeanSnyders

We have an issue for next beta.1 here: https://github.com/conan-io/conan/issues/11327 that plans to add extra information to the output of ``conan graph info`` (equivalent to ``conan info`` in Conan 2.0). I'd suggest to comment in that issue to ask for this, and follow up there, I don't think this will be possible to scope for Conan 1.X.

[2022-05-31 08:20] dvirtz commented on #11269
what I did was to modify the recipe to use link flags to link the objects as those are added before system libs
[code]

[2022-05-31 08:23] memsharded commented on #10759
@Apteryks Did you run the test suite with Python 2.7?

That was probably the biggest blocker. We are finally removing Python 2.7 support in 1.49, because of other dependencies with security vulnerabilities, so maybe this is something that we could try now.

[2022-05-31 08:35] EstebanDugueperoux2 commented on #11269
Hi @dvirtz,

Thanks for the tips,
Do you put this snippet in package_info method of conanfile.py of consumer? For example in my case, in conanfile.py of glog consumer?

[2022-05-31 08:41] dvirtz commented on #11269
no, I put it in the package_info of the package exporting those objects, so maybe this is not relevant if you don't control the dependency

[2022-05-31 12:43] wbehrens-on-gh commented on #11340
my bad I didn't have the ndk variable set, setting the ANDROID_NDK env variable it builds the hello package with no issue. I'm not sure where the problem is? could it be an issue in the autotools helper? is there a template for autotools I could test on? @memsharded

[2022-05-31 13:27] apogza opened #11364 "[question] Mac OS X - Library not loaded"
We are building an executable and we use Conan to retrieve certain dependencies such as boost and protobuf. The project compiles, however when we launch the executable we get the following error:

Library not loaded: @rpath/libboost_contract.dylib
Referenced from: /Users/apostol.bakalov/Desktop/test/conanTest/test/build/src/bin/test_run
Reason: tried: '/usr/local/lib/libboost_contract.dylib' (no s

[2022-05-31 13:29] #10759 closed, assigned to nobody

[2022-05-31 14:08] jcar87 commented on #11364
Hi @apogza, thanks for raising this question.

Out of curiosity, what build system are you using to build _your_ project, that consumes boost and protobuf shared libraries as provided by conan? If you are using CMake, the default behaviour of CMake (see [here](https://gitlab.kitware.com/cmake/community/-/wikis/doc/cmake/RPATH-handling#default-rpath-settings)), should already be doing this for you,

[2022-05-31 14:27] apogza commented on #11364
Hello @jcar87,

Thank you for your quick reply. I should have mentioned that we use CMake. I believe on macOS we use 3.19.2 while we have 3.22.2 on Linux. Both versions are recent enough and I do not think that this has any impact. Indeed, I was expecting the build process on macOS to work properly, especially after having it built properly on Linux.

[2022-05-31 14:49] memsharded commented on #10759
https://github.com/conan-io/conan/pull/11363 merged, this will be in 1.49 (very soon)

[2022-05-31 14:57] memsharded commented on #11277
https://github.com/conan-io/conan/pull/11279 was merged, solving some issues.

The pending issue is the possible simplification of the API. It seems all passed arguments of hooks are now available via ``conanfile.xxxx`` fields. I will propose a PR to POC this.

[2022-05-31 14:59] jcar87 commented on #11364
Excellent! With CMake this should be easily solvable.

A follow-up question: how are you integrating the conan dependencies in your build system? Are you using one of the generators listed [here](https://docs.conan.io/en/latest/integrations/build_system/cmake.html)?

In case you are using the `cmake` generator and calling `conan_basic_setup()` in your project's CMake scripts, I would advise callin

[2022-05-31 15:12] SSE4 opened #11366 "[bug] `conan --version` output contains useless warnings"
### Environment Details (include every applicable attribute)
  * Operating System+version: `21H2 (OS Build 19044.1706)`
  * Compiler+version: N/A
  * Conan version: `←[1m←[32mConan version 2.0.0-dev←[0m`
  * Python version: `Python 3.9.7`

### Steps to reproduce (Include if Applicable)

run `conan --version`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-05-31 15:16] apogza commented on #11364
We are using the cmake generators. We already tried the KEEP_RPATHS flag and it did not seem to help.

This is the conanfile.txt that we have:
[requires]
protobuf/3.15.8
boost/1.73.0
gtest/cci.20210126

[options]
protobuf:lite=True
boost:shared=True
gtest:shared=True

[generators]
cmake

We will explore the other options that you have kindly mentioned.

Looking forward to Conan 2.0! I am sure it w

[2022-05-31 15:31] franramirez688 commented on #11340
Hi @WilliamBehrens

Yes, we have a couple of them. You can try `autotools_lib` and/or `autotools_exe`. For instance:

[code]
Notice that these templates are using the new generators `AutotoolsToolchain`, `Autotools`, and `AutotoolsDeps ` (see more information [here](https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html)), but, as I can see, `libjpeg/9d` uses the legacy ones so you can

[2022-05-31 15:51] wbehrens-on-gh commented on #11340
well I realized one of my problems, the target_host should be `i686-linux-android` not `i686-linux-androideabi`. but that only gets me so far because no the issue I'm getting is a linker error
![image](https://user-images.githubusercontent.com/35979547/171216031-f7abfffb-2f9c-4062-a31e-54beafa75a02.png)

so it's building packages just not for the right architecture?

[2022-05-31 16:13] #11347 closed, assigned to nobody

[2022-05-31 16:26] #11261 closed, assigned to jcar87

[2022-05-31 16:26] jcar87 commented on #11261
Closed via #11307

[2022-05-31 16:45] memsharded commented on #11347
PR merged, it will be in 1.49. Thanks!

[2022-05-31 17:25] jcar87 commented on #10253
Hi @gabyx  -  I can confirm that @SpaceIm 's summary is accurate.

The newer CMake integrations in Conan 2.0 will no longer alter CMake's default behaviour with regards to install name handling for macOS shared libraries.

In general, it will be down to the recipe (or the upstream libraries themselves) to "do the right thing" when it comes to building relocatable libraries with the `@rpath/` insta

[2022-05-31 20:04] gabyx commented on #10253
@jcar87 Nice to here, that sounds pretty reasonable.
Out of curisosity: The new function in `tools` will change the package? Wasn't the immutability of the package an unchangable design decision?

[2022-05-31 20:48] #11340 closed, assigned to nobody

[2022-05-31 21:55] memsharded commented on #10253
This tool would execute as the final step in the ``package()`` method. That is, before the final package is formed. It is not intended to execute at package installation time, but at package creation time. So the immutability of packages still holds intact.

[2022-05-31 22:34] SeanSnyders commented on #11327
As per feature request #11362, this command should also return relevant information that would fully describe the state for consumption of the package. This should include details/info from `conanfile.cpp_info` (amongst others) as is constructed via the `package_info()` method.
This would enable the consumption of Conan packages in toolchains that do not depend on Conan itself.

[2022-05-31 22:38] SeanSnyders commented on #11362
Thanks @memsharded, I added a comment in that issue you mentioned.

Would there be a workaround for Conan 1.x to be able to extract this resolved information?
This is quite a critical step in our situation to be able to gradually migrate to using Conan packages whilst still supporting our existing toolchains.

[2022-05-31 22:38] kobi-ca commented on #11342
what am I doing wrong:
[code]
![image](https://user-images.githubusercontent.com/2780267/171295466-590402e2-1446-4d38-b1b6-dce08b83480e.png)

[2022-05-31 23:51] memsharded commented on #11342
Hi @kobi-ca

You are mixing the recipe revision and the packageID.

Recipe revision: ``boost/1.79.0#<recipe-revision>``
PackageID (without revision): ``boost/1.79.0@<package-id>``
Full Binary reference: ``boost/1.79.0#<recipe-revision>@<package-id>``

Does this help?

[2022-06-01 01:33] drussel commented on #11260
When I use `msvc` with version `193` and update `2`, if there is no build already there, it picks `arch: x86_64,  build_type: Release, compiler: Visual Studio, compiler.runtime: MD, compiler.version: 17` as a "compatible" version, tries to use it resulting in a linker error. Is there a way to disable the inaccurate compatibility check?

[2022-06-01 03:31] timpatt opened #11369 "[bug] CMakeDeps: CONAN_CMAKE_SILENT_OUTPUT ignores FATAL_ERROR messages"
When using CMakeDeps we can set `CONAN_CMAKE_SILENT_OUTPUT` to silence the output from all calls to `conan_message`.  As of Conan 1.45.0, this will also mean that those messages with side effects (ie. `MESSAGE_TYPE` of `FATAL_ERROR` or `SEND_ERROR`) will not execute either.

It should probably be something like:
[code]

[2022-06-01 03:50] kobi-ca commented on #11342
getting closer:

[code]

all 3 have the same checksum?

[2022-06-01 07:07] memsharded commented on #11260
Yes, there is a conf you can use exactly for deactivating this: ``core.package_id:msvc_visual_incompatible`` (Put it in the ``global.conf`` file in your cache, doable with ``conan config install`` too)

[2022-06-01 07:54] memsharded commented on #11339
Closing this as done.

[2022-06-01 07:54] #11339 closed, assigned to memsharded

[2022-06-01 07:56] memsharded commented on #11319
Hi @db4

Working with ``AutoToolsBuildEnvironment`` will not be a priority, because that integration is not under active development anymore, and we are already focusing on the new integration. If you would like to try to reproduce and report for ``AutootoolsToolchain``, etc, this will more likely become higher priority. Thanks!

[2022-06-01 08:03] SSE4 opened #11370 "[bug] `conan list packages` is broken"
### Environment Details (include every applicable attribute)
  * Operating System+version: `21H2 (OS Build 19044.1706)`
  * Compiler+version: N/A
  * Conan version: `←[1m←[32mConan version 2.0.0-alpha7←[0m `
  * Python version: `Python 3.9.7`

### Steps to reproduce (Include if Applicable)

run `conan list packages zlib/1.2.11@#latest -r conanv2`

### Logs (Executed commands with output) (Include/

[2022-06-01 08:14] memsharded commented on #11370
This is a known issue with Artifactory server. Needs to be addressed in the server, so it will take some time.

[2022-06-01 08:39] SSE4 opened #11371 "[bug] V2 CLI outputs hashes that cannot be used in commands"
### Environment Details (include every applicable attribute)
  * Operating System+version: `21H2 (OS Build 19044.1706)`
  * Compiler+version: N/A
  * Conan version: `←[1m←[32mConan version 2.0.0-alpha7←[0m `
  * Python version: `Python 3.9.7`

### Steps to reproduce (Include if Applicable)

apperently, CLI outputs "short hashes" (are they documented somewhere?):
[code]
but trying to use them in CL

[2022-06-01 09:02] memsharded commented on #11342
Hi @kobi-ca

That is a good point I am investigating.
I have checked with an actual download, and it seems their are actually different:

[code]

So this could be a bug in the ``conan get`` command, which is always retrieving the "latest", irrespective of the revision (this is the kind of issue that made as remove ``conan get`` in Conan 2.0). I will have a look.

[2022-06-01 09:26] memsharded commented on #11342
It seems that ``conan get`` works too from my side:

[code]

The conanfile checksum is indeed different. Are you sure you have ``revisions_enabled`` configuration?

[2022-06-01 13:03] hsuanguo commented on #11133
Hi thanks for the reply.

It is understood that this will work for cross building. The questions I asked if more about how to populate cross building envs through `[tool_requires]` so that we can consume the toolchain directly from Conan, my understanding was `CMakeToolchain` should do the work, but it is not clear if it can achieve what I need here..

[2022-06-01 14:26] #10253 closed, assigned to jcar87

[2022-06-01 14:28] memsharded commented on #10253
https://github.com/conan-io/conan/pull/11365 moves the ``autotools.install()`` functionality to its own ``apple`` tool. CMake will do the right thing, this is only necessary for some autotools (and maybe other different build systems) projects.

[2022-06-01 15:34] pasrom opened #11373 "[question] options are not propagated when using python_requires & python_requires_extend"
As it can be seen in the test below, when using options with multiple levels of python_requires, they are not propagated downwards.
Could this be a limitation mentioned in [docs](https://docs.conan.io/en/1.48/extending/python_requires.html#limitations)? When yes, is there a better workaround as defining the option explicitly for the package (`-o logic-build:shared=False`)?

### Environment Details

[2022-06-01 16:01] lucabonifacio opened #11374 "[bug] build_requirements are skipped on conan create . --build missing"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio VS2008, VS2015, VS2017, VS2019
  * Conan version: 1.48.1
  * Python version: 3.9.6

### Steps to reproduce
Let's assume this conanfile.py:
[code]
By calling
[code]

the build-requirements are installed.
[code]

Instead, by calling
[code]

the build-requirements

[2022-06-01 16:26] memsharded commented on #11373
Hi @pasrom

I am not sure why this would be an error. ``logic-build/2.0.0@user/channel`` has a ``shared`` option defined in it, that doesn't have a default, so it really needs a value to be passed on the command line (or profile).

You could as well define a ``default_options = {"shared": False}`` in the ``base-logic-build`` recipe.

[2022-06-01 16:30] memsharded commented on #11374
Hi @lucabonifacio

This is by design. The ``--build=missing`` is telling that it will only build from sources those binaries that are missing. All the necessary binaries, including the ``demo`` one, are found in the cache, so no necessary to build anything from source.

Then ``build_requirements`` is a special type of requirement that is only necessary when building from source, at "build" time. A

[2022-06-01 17:04] joshvazquez opened #11375 "[question] Access Control Lists"
I'm running Conan server with a custom authenticator. Can I also control the [read/write permissions](https://docs.conan.io/en/latest/uploading_packages/running_your_server.html#permissions-parameters) with a custom authorizer? Or do the permissions have to be listed explicitly in the server.conf? I want to defer to our authorization system to get up-to-date permissions per user.

Could I just mod

[2022-06-01 17:50] memsharded commented on #11375
Hi @joshvazquez

The current authorizer is a bit more hardcoded than the authenticator, indeed. But even if not a similar plugin mechanism is defined for permissions, the ``Authorizer`` abstract base class is there, deriving from it and replacing the ``BasicAuthorizer`` one in the launcher seems easy doable.

I am not sure the contribution would be of high value for other users, it of course depen

[2022-06-01 17:57] joshvazquez commented on #11375
Thanks for your response. I was able to set up a custom authorizer modeled after the Authorizer ABC and successfully allow and deny requests using my class.

This can wait, so I will work on it internally for now.

Thanks!

[2022-06-02 04:12] pasrom commented on #11373
@memsharded thank you for your quick reply.
Yes, you are right, that is better suited as question.
I think i got it now, thank you again.

[2022-06-02 04:12] #11373 closed, assigned to memsharded

[2022-06-02 04:29] phillipcaofph opened #11376 "[question] PkgConfigDeps does not generate .pc files test_requires dependencies?"
Using Conan version 1.48.1

I have a meson project which is dependent on a test dependency "PkgA"

After executing `conan install .` on my recipe

`.pc` file **not** generated when:

[code]

As a test, I changed it to a normal requires and the `.pc` file is generated:

[code]

Is this expected or is there another way for me to get .pc files generated for test dependencies?

[2022-06-02 08:23] memsharded commented on #11133
Just an important heads up. Moving forward, a new way of managing the environment will be used:

- Use ``buildenv`` in the profile. Use ``self.buildenv_info`` and ``self.runenv_info`` in recipes: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html
- Use ``VirtualBuildEnv`` and ``VirtualRunEnv`` generators
- Injection of environment always happen from file, not in memory

Also, the w

[2022-06-02 10:04] bram-vanderstreeck opened #11380 "[question] cross-compilation issues for packages relying on generators built during compilation"
For one of our projects we are using conan as our package manager. We are using conan in CMake through the CMake wrapper (https://github.com/conan-io/cmake-conan). Our project is intended to run on multiple platforms, so in order to accomplish this we've built a number of our own toolchains through crosstool-ng (https://crosstool-ng.github.io) and set up the corresponding conan profiles and CMake

[2022-06-02 10:26] EstebanDugueperoux2 commented on #11344
Ok thanks, I will wait Coan 2.0.
Regards.

[2022-06-02 13:48] wbehrens-on-gh opened #11383 "[question] Compiler hangs when compiling this recipe"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

recipe:
[code]

host profile:
[code]

I have a custom recipe for a library that used the CMakeToolchain helper but when I cross build using the above profile for Android x86 as the host (from Ubuntu 20.04) the build gets to about 98% before it just stops. It doesn't error at all it ju

[2022-06-02 15:18] ericriff commented on #11133
We package a toolchain with conan and then we expose it using env variables declared on the recipe, like this:
[code]
Is env_info deprecated in favor of buildinfo and runinfo @memsharded ?

[2022-06-02 15:21] memsharded commented on #11133
Hi @ericriff

Yes, one of the issues we have open to keep working on this is https://github.com/conan-io/conan/issues/10317 (for beta.1)

Yes, the  new approach is using ``self.buildenv_info``, because it has several advantages:
- It explicitly differentiate "build" time and "run" time environments
- It is more explicit: ``self.buildenv_info.prepend_path("PATH", ....)``, both for vars that are pat

[2022-06-02 15:25] memsharded commented on #11290
Not adding it at the moment, lets wait for users feedback and requests.

[2022-06-02 15:25] #11290 closed, assigned to nobody

[2022-06-02 15:59] memsharded commented on #11366
Closed by https://github.com/conan-io/conan/pull/11379

[2022-06-02 15:59] #11366 closed, assigned to franramirez688

[2022-06-02 16:31] memsharded commented on #11277
Closed by https://github.com/conan-io/conan/pull/11368

[2022-06-02 16:31] #11277 closed, assigned to memsharded

[2022-06-02 16:32] memsharded commented on #11221
Closed by https://github.com/conan-io/conan/pull/11368

[2022-06-02 16:32] #11221 closed, assigned to uilianries

[2022-06-02 18:54] #11354 closed, assigned to nobody

[2022-06-02 21:00] mpusz commented on #11189
I just tried the feature in 1.49. It seems there is some issue for a multi-config generator. If I set `tools.cmake.cmake_layout:build_folder_vars=["settings.compiler", "settings.compiler.version"]` in `global.cof` and I call `conan install` for `Release` and `Debug` only Release presets are in `CMakePresets.json` and Debug ones are not appended to this file.

Also, there is one thing that could be

[2022-06-02 21:01] mpusz commented on #11189
Also, `conaninfo.txt` and its "friends" are being generated for me in the main directory again even though I use `cmake_layout`.

[2022-06-02 21:17] AlexRamallo opened #11385 "[bug] Effects of `config_options` leak between host/build contexts when a package is present in both"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu
  * Conan version: 1.49.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

The libpng package on Conan Center can illustrate this behavior. There's a reproduction [available here](https://github.com/AlexRamallo/conan_bug).

It seems as though adding the same package to both t

[2022-06-03 06:15] lasote commented on #11346
FYI, these ones are missing from the conf:

[code]

[2022-06-03 06:54] mvhv opened #11386 "[question] Listing sources URL/hash/commit for all packages?"
I'm dealing with some code-clearance requirements and need to provide exact source archives and/or locked commits to satiate our licensing team. Is there a simple way to do this, or is it not supported in any official way?

So far every recipe I've encountered records a link to their source archives in `conandata.yml` so that it's avaliable in the recipe as `self.conan_data["sources"][self.version

[2022-06-03 07:57] lasote commented on #11189
Hi!

It should be working, I'll take a look.

About the folders, as the generators (CMakeDeps, CMakeToolchain) are "multi-config", we needed to extract the folder from the build because it is shared between debug and release. So we also decided to have them in the same place for single and multi configuration cmake generators.
The composition of  `cmake-build-release`  (and now with more suffixes

[2022-06-03 08:06] franramirez688 commented on #11376
Hi @phillipcaofph

Thanks for reporting the issue! And, indeed, it's a bug. This `test_require` should appear there as a normal `*.pc` file.

[2022-06-03 08:16] AlbyTree opened #11388 "[bug] Pip installation inside MSYS2 fails while trying to install MarkupSafe"
### Environment Details (include every applicable attribute)
  * Operating System: Windows10
  * MSYS2 version: 3.3.4-341
  * Python version: 3.9.11
  * Pip version: 22.1.2
  * Winpty version: 0.4.3

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

[2022-06-03 08:38] sct2010 opened #11389 "[question] semver_direct_mode dependency with user/channel included"
Hi all,

I am looking for some input to handle our workflow correctly. In general we use conan with the semver_direct_mode for the package id. In general we follow the semver idea with our official builds and this works as expected.

Recently we introduced developer snapshot builds and ran into a dependency issue. Let me explain how I implemented:
As soon as a developer builds a package, it create

[2022-06-03 08:55] memsharded commented on #11388
Hi @AlbyTree

This doesn't seem an issue with Conan itself, but with Markupsafe. I don't see how could we fix it ourselves.

The process is failing while building the Markupsafe Python wheel in that environment. Have you tried reporting it in the Markupsafe repository?

[2022-06-03 09:19] AlbyTree commented on #11388
The solution was indeed in the MarkupSafe github repository...sorry for the useless issue :grimacing:

[2022-06-03 10:02] memsharded commented on #11388
No prob, happy that you found the solution there :)

Don't hesitate to open more issues if you have any further question or issue!

[2022-06-03 10:02] #11388 closed, assigned to memsharded

[2022-06-03 10:16] lasote commented on #11189
Hi again Mateusz!

I'm not able to reproduce the issue. Both Release and Debug configurations are generated correctly. Would it be possible to get an example with the steps to reproduce?

About that, yes, the good news is that that file and friends are gone in Conan 2.0. In Conan 1.X they don't respond to the layout.

[2022-06-03 10:51] memsharded commented on #11216
solved in https://github.com/conan-io/conan/pull/11387 in the Conan client side, but this is still pending to be improved from Artifactory side.

[2022-06-03 11:27] mpusz commented on #11189
Hi @lasote! I am so sorry for the confusion. I really do not know what happened. Today the same command lines for the same projects in the same IDE (I just put my laptop to sleep overnight) do not reproduce the problem. Strange... and sorry.

Still, the directory layout could be optimized a bit ;-)
My preferred layout could be even like this:

- `build/clang-14/generators`
- `build/clang-14/debug`

[2022-06-03 12:07] lasote commented on #11189
No problem! if you reproduce again let me know.

yes! I tried Clion and the "bin dir" is set to the one you put in the Preset so I would say, we don't have further reasons to keep that layout so I will open a PR to change it and discuss it with the team. I also like more this one:

- build/clang-14/generators
- build/clang-14/debug
- build/clang-14/release
- build/gcc-11/generators
- build/gcc-11/

[2022-06-03 12:45] #11376 closed, assigned to franramirez688

[2022-06-03 12:45] memsharded commented on #11376
Fixed in https://github.com/conan-io/conan/pull/11390, will be released in 1.50. Thanks!

[2022-06-03 15:06] memsharded commented on #11389
Hi @sct2010

Please, let me first clarify about user/channel, specially moving forward: user/channel in 2.0 should be considered immutable. The ``conan copy`` command disappear. The ``channel`` shouldn't be used for promotion of quality packages, but instead multiple server repositories, and running promotions, (copies of immutable packages from one repo to another) is the recommended mechanism.

[2022-06-03 15:53] Connor-A opened #11392 "[question] Generator Question"
Hey Guys,

I've read through the documentation on generators + creating my own packages, but there are details that are still a bit fuzzy. I'm not terribly familiar with make + cmake, or similar tools.

What *exactly* is conan's relationship with the generator? In the tutorial we has a cmake.lists file. What would have happened if I listed make as my generator when I attempted to build the package

[2022-06-03 16:03] memsharded commented on #11392
Hi @Connor-A

Conan supports multiple build systems, like CMake, Makefiles, MSBuild (Visual Studio projects), etc.
Each build system has a different way to get the information for dependencies:

- CMake will use ``find_package()`` in their CMakeLists.txt
- Makefiles will get environment variables like LIBDIRS, LIBS, etc
- MSBuild needs to be passed .props files with the information to locate the d

[2022-06-03 16:10] memsharded commented on #11386
Hi @mvhv

Yes, using a ``conandata.yml`` file to represent location of third parties is a good place, it is documented and it is also designed with a common format, so it is easier to be read and used by other potential tools. I'd recommend to use it for locating tarballs of sources (when the recipe is not in the same repo than the source).

With regards the mechanism to visit the dependency graph

[2022-06-03 18:14] memsharded opened #11393 "[develop2][feature] review output system, define levels (debug, trace)"
``ConanOutput`` always output everything, in different colors.

- Do we want to define outputs with different Debug/Trace levels?
- Control them with some kind of ``--verbose`` (https://github.com/conan-io/conan/issues/5765) or ``--logging=debug``?
- Should that propagate to build system integrations? (like ``CMake.build()`` be more verbose?
- What to do with the current ``tracer.py``, that is sti

[2022-06-03 18:23] memsharded opened #11394 "[develop2][feature] Serialize whole conaninfo state"
Currently ``load_binary_info()`` is not returning things like ``python_requires`` or ``build_requires``:

- Make sure the ``conan list packages`` is listing all existing fields.

[2022-06-04 09:56] theartful opened #11396 "[bug] conan build --missing does not respect inner dependency options"
I have this conanfile.txt
[code]
running `conan install .. --build=missing` I was surprised to find it fetch dependencies from conencenter. I checked the configuration for `pango` for example, and I find out that `glib:shared=False`, even though I set it to be shared.

Now we have a situation where gtk links against a shared glib, while pango/cairo link against static glib.

### Environment Detail

[2022-06-04 15:47] theartful commented on #11396
I read about package id modes, which seem to do what I want.
But I think there should be something specific for shared vs static, so that if a library changes its type, all libraries that depend on it are rebuilt.
For example in the class `RequirementInfo`, why not add `shared` as part of the information to compute the ID alongside the version? The only other alternative is to use full_package_mod

[2022-06-04 18:00] SSE4 commented on #11304
does it? it seems to be removed already #11357 #11360

[2022-06-05 08:36] SSE4 commented on #11396
seems to be somehow related to #9712. it seems like dependency option is erased from the package ID by default, which is wrong.

[2022-06-05 08:44] SSE4 commented on #11393
it would be also nice to have:
- `--silent` (no messages)
- `--dry-run` (just display what's going on to be executed, but don't actually execute anything)
- `--trace` (full trace of functions called, to help debugging)

[2022-06-05 09:47] theartful commented on #11396
Yeah it's exactly the case as #9712. Closing as duplicate then.

[2022-06-05 09:47] #11396 closed, assigned to nobody

[2022-06-05 10:54] SSE4 commented on #10683
I got an another [attempt](https://github.com/conan-io/conan-center-index/pull/11053) to migrate `GLib` to `MesonToolchain`. in order to propagate the environment from `AutoToolsDeps` to `MesonToolchain` I had to add a followiing line:
[code]
but I suppose it should be automatic?
it's required to make e.g. the following code work (https://github.com/GNOME/glib/blob/main/meson.build#L2038):
[code]

[2022-06-05 11:01] SSE4 opened #11397 "[bug] AutoToolsDeps sets includes to CPPFLAGS, but MesonToolchain reads only CFLAGS/CXXFLAGS?"
related to #10683, coming from https://github.com/conan-io/conan-center-index/pull/11053

in an attempt to migrate `Glib` to `MesonToolchain` I had to put the following workaround:
[code]
to propagate `CPPFLAGS` into `CFLAGS`/`CXXFLAGS`.
`AutoToolsDeps` sets includedirs to `CPPFLAGS` only:
https://github.com/conan-io/conan/blob/1.48.2/conan/tools/gnu/autotoolsdeps.py#L46
https://github.com/conan-i

[2022-06-05 11:14] SSE4 opened #11398 "[bug] `MesonToolchain` -LIBPATH is ignored?"
to be honest, I currently don't understand it conan client issue or even meson issue (I mean meson-build project iself).

migrating `Glib` to `MesonToolchain` in https://github.com/conan-io/conan-center-index/pull/11053, I had to put the following workaround:
[code]
which appears to be working normally.

so, if I try without a workaround, I get `Library gnuintl found: NO` (while with old `Meson` b

[2022-06-05 12:48] cyreon opened #11399 "[question] How to avoid test_package polluting its source folder when using cmake_layout?"
Hello,

First of all, let me apologize if I duplicate this question but I am pretty new to this conan feature and I am very happy to the improvements you're doing in the last few weeks.

My question is how can I generate everything under build/ folder even in test_package?

Here is my conanfile.py for reference.

[code]

When I execute this `conan test . templatepp/0.4.0@user/channel -pr:b default

[2022-06-05 13:05] cyreon commented on #11399
OK, I think I understand.

cmake_layout is still experimental feature. Good luck and keep up the good work! I am looking forward to use cmake_layout soon.

[2022-06-05 13:05] #11399 closed, assigned to nobody

[2022-06-05 20:15] memsharded commented on #11399
Hi @raygerlabs

yes, all these files ``conanbuildinfo.txt, conaninfo.txt, graph_info.json`` are legacy, and have already been removed in Conan 2.0. ``cmake_layout()`` does the right thing for the "modern" generated files, but not for those legacy ones, so I guess we will be good in 2.0.

[2022-06-05 20:28] memsharded commented on #11398
To clarify, the workaround decsribed above ``tc.environment.define('LDFLAGS', ldflags)`` is from ``AutotoolsDeps``, not ``MesonToolchain``.

This indeed looks difficult to know without some good understanding of Meson. Please let me know if someone can guess what is the necessary fix.

[2022-06-05 20:32] memsharded commented on #10683
I don't fully get the big picture.

The idea is that information from dependencies lives in its own environment file, while the toolchains are focused on translating the current settings/options/configuration to the build system. Following this design, the information from ``AutotoolsDeps`` shouldn't be propagated to ``MesonToolchain`` at all. They will just generate 2 different environment script

[2022-06-05 22:06] memsharded commented on #11297
Hi @anderson-dev

We are creating a new ``--build-missing=<pattern>`` build mode that could be useful for your use case, if I understood it correctly, but I would like to check if I really did:

- It seems you are trying to avoid re-building something that was already built. Before even building it.
- The idea is that if a given recipe-revision already has a precompiled binary for a configuration

[2022-06-06 07:49] ericLemanissier commented on #11398
I had this problem in the past, and tried to fix it in meson, but it seemed to me that it had somehow been fixed at some point in time (?)
https://github.com/mesonbuild/meson/pull/6735

[2022-06-06 08:08] lasote commented on #10317
After reviewing the current proposal, I only have found one "theoretical" limitation. If you have a `tool_require` in a profile and you want the consumers to link with some library or include some header, you cannot, because the current generators like `CMakeDeps` discard them (because of the requirement traits, that indicate `libs=False` and `include=False`).

In case this is a real use case (usu

[2022-06-06 08:16] memsharded commented on #11271
Closed by https://github.com/conan-io/conan/pull/11395

[2022-06-06 08:16] #11271 closed, assigned to memsharded

[2022-06-06 09:39] SSE4 commented on #10683
that's fine to generate these dependencies to their own environment files. the problem is more about how to connect all these pieces together. meson itself doesn't know about these environment files, and won't read anything from them. it only reads from native/cross files we generate from toolchain. that's what we currently use to propagate information from conan layer to meson layer. so, perhaps,

[2022-06-06 09:50] #11189 closed, assigned to lasote

[2022-06-06 10:05] franramirez688 commented on #11398
@SSE4 So, the problem seems to be from Meson itself? Which Meson version are you using?
If you use the `meson_lib` template (`conan new hello/1.0 -m meson_lib`) and try to pass some link arguments is happening as well? I have been trying to figure it out, but I didn't get any conclusion about it.

[2022-06-06 10:46] SSE4 commented on #11398
probably, but I am not fully sure.

[0.61.2](https://github.com/conan-io/conan-center-index/blob/40f5f880dcd8593655bf74201c430022d7883e58/recipes/glib/all/conanfile.py#L97)

maybe I need to prepare some minimal examples to illustate the problem. it will take some time.

[2022-06-06 12:12] SSE4 commented on #11398
@franramirez688 I was able to extract relevant parts to the minimal example and make a simple test from it.
it currently requires 3 workarounds to pass the test (well, maybe I am missing something simple, and workarounds are not needed, and it's just my misunderstanding on how to use toolchains correctly).
you can try removing/commenting these workarounds one by one to see various build errors. ho

[2022-06-06 12:15] SSE4 commented on #10683
I made a simple, minimal reproducible example to illustrate the big picture. see my other comment: https://github.com/conan-io/conan/issues/11398#issuecomment-1147381047

[2022-06-06 12:45] memsharded commented on #11228
Closed by https://github.com/conan-io/conan/pull/11384

[2022-06-06 12:45] #11228 closed, assigned to memsharded

[2022-06-06 14:22] franramirez688 commented on #11398
@SSE4  I guess a better approach could be using `Meson` + `pkg-config`.

Given your previous example, change the test a little bit:

[code]
You don't need a workaround anymore. Could it be more supported `pkg-config` than `autotools`?

[2022-06-06 14:42] smoofra opened #11402 "cpp_info is not being propagated correctly when using a private requirement in cross compile mode"
`cpp_info` is not being propagated correctly when using a private requirement in cross compile mode.

[Here is example source to reproduce the issue](https://github.com/smoofra/conan-bug)

### Environment Details
  * Mac OS 12.3.1
  * Conan 1.48.1
  * Python 3.9.12

### Steps to reproduce

In my example libfoo is a static library, and quux is an executable that requires it, using a private require

[2022-06-06 14:44] SSE4 commented on #11398
yes, with pkg-config it works flawlessly.
but real libraries (e.g. `GLib`) [don't always use pkg-config](https://github.com/GNOME/glib/blob/2.73.0/meson.build#L2038). in reality, [some of the libraries don't even have any .pc files](https://packages.debian.org/stretch/amd64/libaudio-dev/filelist), so meson has to work with that. so this line cannot be replaced:
[code]
so the request is not to supp

[2022-06-06 15:23] lasote opened #11403 "[bug] 2.0 output in windows"
- In a terminal `cmder`:
    - no colors
    - weird characters in every line

Try in different terminals.

Try to make it a bit more clean for the first versions of Conan 2.0.

[2022-06-06 16:48] memsharded commented on #11266
Proposing slightly different variant in https://github.com/conan-io/conan/pull/11361, could you please @dfleury2 have a look? There was a case not managed, when a variable was set, but set to an empty string (not unset)

[2022-06-06 17:02] wbehrens-on-gh opened #11404 "[question] Is the artifactory "start me up" prompt wrong?"
I'm trying to add an artifactory as a Conan remote by following the steps in the "set me up" prompt and after running `conan remote add myremote https://artifacts.example.com:8081/artifactory/api/conan/myremote` I then add myself using `conan user -p <password> -r myremote will` and it takes a long time before eventually just giving the error:
[code]
- [x] I've read the [CONTRIBUTING guide](https:

[2022-06-06 17:25] mpusz opened #11405 "[bug] `cmake.test()` cannot execute"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04 on WSL
  * Compiler+version: CMake 3.23.1
  * Conan version: 1.49.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

Put `cmake.test()` and run `conan build .` with `Ninja Multi-Config` as a generator.

### Logs (Executed commands with output) (Include/Attach if Applic

[2022-06-06 17:37] datalogics-kam commented on #11353
I see...I installed our project that uses `conan.tools` with `-c tools.env.virtualenv:powershell=True`, on Conan 1.49.

A few things happened:

1. It built the `.bat` files anyway. I didn't expect that.
2. `conan build` failed, and I see the warning about wrapping the command with different envs.
3. I noticed that the Powershell scripts don't support `conan.tools.microsoft.VCVars`. That would be n

[2022-06-06 17:51] mpusz commented on #11189
Is it possible to prevent repeating the same preset in `CMakePresets.json`? If I run `conan install` several times I end up with:

[code]

[2022-06-06 18:59] wbehrens-on-gh opened #11406 "[question] Using dependencies with AutotoolsToolchain generator"
I've made a recipe that used the AutotoolsToolchain helper/generator but I also has dependencies on some other packages. I was wondering which dependency generator should be used along side it (AutotoolsDeps, PkgConfigDeps) since pkg_config is apparently being deprecated

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-06-06 20:06] kobi-ca commented on #11342
this is so bizarre:
[code]

how can I debug it?

[2022-06-06 21:15] nmasseyKM opened #11408 "[feature] Add relative path support to Git SCM tool"
When trying to setup Conan packaging with the target source in a git submodule relative to the recipe, I was receiving
empty commit ids. Upon further investigation, it seems that the current assumption is that the folder path to `Git()`
will be absolute. A minor adjustment allows relative paths to be used as well: since the git command always `chdir`s to the
target git folder, we can perform the r

[2022-06-06 22:18] memsharded commented on #11342
Hi  @kobi-ca

The first important, critical point is to validate the installed packages are correct.
Can you please check ``conan download`` the 2 different revisions, and check directly the files in the cache folder, to see the manifests files? If that is true, we can deduce that it is possibly a ``conan get`` issue, and can investigate further in that direction.

[2022-06-06 22:19] memsharded opened #11409 "Prevent repeating the same preset in `CMakePresets.json`"
Is it possible to prevent repeating the same preset in `CMakePresets.json`? If I run `conan install` several times I end up with:

[code]

_Originally posted by @mpusz in https://github.com/conan-io/conan/issues/11189#issuecomment-1147720498_

[2022-06-06 22:24] memsharded commented on #11404
Hi @WilliamBehrens

This seems a network or configuration issue.
As a first step to rule out possible client issues, I would try to download the ArtifactoryCE locally in your computer, and try teh same process. I have done it tones of times, the default ArtifactoryCE configuration works out of the box for me.

If that works, it could be a "artifacts.example.com" server configuration issue, to chec

[2022-06-06 22:32] memsharded commented on #11405
Yes, sounds that the test target is not taking into account ``Ninja Multi-Config`` generator. Seems the fix could be easy.

[2022-06-06 22:33] kobi-ca commented on #11342
[code]
?

[2022-06-06 22:35] memsharded commented on #11342
No, see my above comments:

[code]
Check it is ``pkg/version#recipe_revision``, while you are using the ``:`` which is the separator for ``package_id`` instead.

[2022-06-07 06:41] franramirez688 commented on #11406
Hi @WilliamBehrens

You can use either AutotoolsDeps or PkgConfigDeps. It'll depend on your preference of using `pkg-config` or not. Here, you can find out [some basic functional tests](https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/gnu/autotools/test_basic.py) using them if it helps.

[2022-06-07 08:06] memsharded commented on #11193
Any feedback for https://github.com/conan-io/conan/pull/11194? this is planned to be merged soon, and it will close this ticket as solved.

[2022-06-07 08:07] memsharded commented on #11394
Closed by https://github.com/conan-io/conan/pull/11401

[2022-06-07 08:07] #11394 closed, assigned to lasote

[2022-06-07 08:23] memsharded commented on #11132
Hi @lucabonifacio

I think this has been implemented in Conan 2.0, already released in alpha. Keep tuned for the docs, and looking forward your feedback if you try it! Closing this at the moment, as implemented.

If you need some workaround for this in 1.X, I would recommend:
- You can use the ``generate()`` method to visit ``self.dependencies``, and do a copy of the files you want to do. You can

[2022-06-07 08:23] #11132 closed, assigned to memsharded

[2022-06-07 10:34] franramirez688 opened #11410 "[feature] Add `.. generated by Conan` header to missing files"
Add that header to missing files like `profile_plugin`.

[2022-06-07 10:44] czoido opened #11411 "Support test_requires in XcodeDeps"

[2022-06-07 11:12] #11266 closed, assigned to nobody

[2022-06-07 12:15] dfleury2 commented on #11266
Hi,
seems ok to me. But no way to effectively test it on my side.
Tjanks

[2022-06-07 12:58] #11406 closed, assigned to nobody

[2022-06-07 13:24] lasote opened #11413 "[bug] CMakeUserPresets.json including missing directory"
Calling "conan install" for different configurations, especially using the `tools.cmake.cmake_layout:build_folder_vars`,  if you remove one of the folders generated e.g: `build/gcc-5` and then you perform new `conan install` commands, the entry for the inclusion of `build/gcc-5/generators/CMakePresets.json` is not cleaned, causing `cmake` failing with a hard to understand error.

[2022-06-07 14:46] wbehrens-on-gh commented on #11404
It appears after a bit of messing around the remote works with http but not https. Though accessing the artifactory ui on port 8082 through https works just fine

[2022-06-07 15:41] jcar87 commented on #11245
Hi @boussaffawalid, thanks for asking this question - concerns about reproducibility are raised by the community from time to time.

I'm assuming that you're on Windows using the `msvc` compiler - In this case, I believe the underlying issue is that this compiler has some sources of non-determinism, and it does not provide flags to override or replace the paths, thus leaving you with slightly diff

[2022-06-07 16:06] #11411 closed, assigned to czoido

[2022-06-07 16:36] memsharded commented on #11404
Artifactory configuration doesn't serve https by default for the packages APIs (it might do for the web UI). But I am not an Artifactory expert. Is this an ArtifactoryCE instance? If it is a paid one, maybe you can get some assistance from JFrog support?

[2022-06-07 16:57] #11404 closed, assigned to nobody

[2022-06-07 20:44] memsharded commented on #11371
Closed by https://github.com/conan-io/conan/pull/11412

[2022-06-07 20:44] #11371 closed, assigned to lasote

[2022-06-07 20:50] #11413 closed, assigned to lasote

[2022-06-07 20:50] #11409 closed, assigned to lasote

[2022-06-08 05:35] beutlich opened #11418 "[feature] Support PyYAML 6.0 (for Python >= 3.6)"
Is there a possibility to update the PyYAML dependency to support version 6.0 (for Python >= 3.6)? Thank you!

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-06-08 06:06] sct2010 commented on #11389
Hi @memsharded

Thanks for your feedback. We are not using `conan copy` in our workflow. the generated `dev` packages are only to build an installer of a feature branch for our testing team. As soon as the code gets merged, these packages gets thrown away.

The approach works for us. Thanks.

[2022-06-08 06:06] #11389 closed, assigned to memsharded

[2022-06-08 10:21] stefaneicher opened #11422 "[bug] missing shared and fPIC in test_package/conanfile.py"
If I create a now conan package with
conan new -c -t -s sotest/snapshot@eicher/development
the generated test_package has no options shared and fPIC and therefore this fails

 conan create -pr:b=clang-linux-release -pr:h=clang-linux-debug \
 -o shared=True  \
 -o fPIC=True  \
 . snapshot@eicher/development

I used conan 1.49

**Solution:**
Also add  in the test_package/conanfile.py
options = {"sha

[2022-06-08 11:19] Adnn commented on #11326
@memsharded After different attempts, and taking inspiration from [Freetype recipe's](https://github.com/conan-io/conan-center-index/blob/master/recipes/freetype/all/conanfile.py), we were able to replace `cmake_paths` generator with `CMakeDeps`. This way, CMake can find both:

* external dependencies, via their CMake config package, as generated by `CMakeDeps`.
* internal dependencies, via the CM

[2022-06-08 11:37] lasote commented on #11403
Fixed in https://github.com/conan-io/conan/pull/11421

[2022-06-08 11:37] #11403 closed, assigned to lasote

[2022-06-08 11:46] ZbigniewRA opened #11423 "[question] Feedback: rename `build` and `run` traits"
In Conan 2.0 we have those things:
[code]
The `build=True` is very confusing. It looks like we are asking to build `cmake`, while we just ask for it to be available at build time (only??).
I would suggest to rename `build` and `run` traits to `buildtime` and `runtime`.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-06-08 12:39] memsharded commented on #11422
Hi @stefaneicher

But the purpose of the ``test_package`` is to test that the package has been correctly created. For that reason, the ``test_package`` always generate an executable that links with whatever library is built, but the executable itself is not ``shared``, or shouldn't define ``fPIC``.

A different story is the failing application of cli options. If you want to specify the options of

[2022-06-08 12:42] memsharded commented on #11423
The traits were discussed in the Tribe proposal: https://github.com/conan-io/tribe/pull/26, and ``build`` and ``run`` traits were explicitly proposed there and the proposal was approved.

In general, it shouldn't be an issue for the beginner, as they shouldn't get into these details soon. Instead, the recommended syntax is ``self.tool_requires("cmake/1.0")``. Explicitly adding ``build=True`` trait

[2022-06-08 14:54] ZbigniewRA commented on #11423
Beginners will need to understand what `static_library` package type is.
Then they will see that `build` is `False` for those.
And then they will conclude they don't understand a thing about how Conan works.

So it's not really about explicit `build=True` being uncommon, but the fact that knowing what `build` means is essential for everyone.

[2022-06-08 15:02] memsharded commented on #11423
It is not true that run == runtime. A ``tool_require`` as ``tool_require("cmake/1.0")`` has ``build=True, run=True``. ``build=True`` means "build context", and ``run=True`` means that it has something that runs, executables. But not for the ``runtime`` of the application that is being developed, it is clear that ``cmake`` is not for runtime but for buildtime. Having ``self.tool_requires("cmake/1.0

[2022-06-08 15:42] ZbigniewRA commented on #11423
So maybe:
- `build` -> `buildtime` or `build_context_only`
- `run` -> `runtime_components`

[2022-06-08 16:33] isaacda opened #11425 "[question] IncludeDirectories variable not defined for gtest with MSBuildDeps generator"
I have been using the `gtest/1.11` conan package with visual studio successfully, using the visual_studio generator. I am trying switch over to the new MSBuildDeps generator. After running the conan install command, the gtest include files are not found. The reason they are not found is that the include directory for gtest is not defined in any of the generated ` conan_gtest_build*.props` files.

[2022-06-08 16:50] isaacda commented on #11425
This was my error. I had originally had the `gtest/1.11.0` package listed under [build-requires] section in the conanfile.txt. After moving it to the [requires] section, the proper project variables are defined. This #8170 gave me a hint, so I moved `gtest` package to [required]. I must have not re-ran conan install, because now it's working. Thanks

[2022-06-08 16:50] #11425 closed, assigned to nobody

[2022-06-08 17:21] memsharded commented on #11425
Hi @isaacda

yes, it makes sense. We might create a ``[test_requires]`` section in ``conanfile.txt``, which is pure syntactic sugar (no different behavior), but it will make a little clearer the intent.

[2022-06-08 20:12] stefaneicher commented on #11422
hi @memsharded

ok thanks for the info!

I guess to correct way then would be to do run:

mkdir sotest
cd sotest
conan new -c -t -s sotest/snapshot@eicher/development
conan create -o sotest:shared=True  -o sotest:fPIC=True . snapshot@eicher/development

This works without any modifications.

[2022-06-08 20:15] SSE4 commented on #11423
I think it's valid concern. as it's experimental, it shouldn't be late to change.
in general I prefer terminology to be unified within the same project. otherwise, if same term may refer to a different things depending on the context, it's confusing for newcomers. e.g. build currently may refer:
- `build` context (build vs host profile)
- `--build` to builld package(s) from sources
- a dependency

[2022-06-08 21:03] memsharded commented on #11422
Yes, exactly, making things that explicit is always better, as clearly not specifying the package name before the options makes things ambiguous, as you have experienced.

[2022-06-08 22:24] memsharded commented on #11418
Hi @beutlich

But this was recently added in 1.49, have you upgraded to it? Can you please try it? Thanks!

[2022-06-09 03:42] kobi-ca commented on #11342
not working for me
[code]

[2022-06-09 06:12] beutlich commented on #11418
Confirmed. Duplicate of #10759 and resolved by v1.49.0. Thank you!

[2022-06-09 06:12] #11418 closed, assigned to nobody

[2022-06-09 09:09] RReymann opened #11428 "What does it mean " Removing the local binary packages from different recipe revisions" ?"
While executing following conan commands :

- conan create --keep-source --test-folder Tests/PackageTest --env:build WITH_TESTS=ON --env:build ENABLE_SCA=OFF --profile:build pr_v140_x86_64_debug --profile:host pr_v140_x86_64_debug . jkstester/1.42.0@artetest/dev
- conan create --keep-source --test-folder Tests/PackageTest --env:build WITH_TESTS=ON --env:build ENABLE_SCA=OFF --profile:build pr_v140

[2022-06-09 12:21] dornbirndevelops opened #11430 "[bug] conan.tools.cmake.CMake helper does not consider should_ configure/build/test/install"
### Environment Details
  * Operating System+version: Windows 10 Build 19044
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.49.0
  * Python version: 3.10.0

### Steps to reproduce

in conanfile.py
[code]

run command (intention is to configure only)
[code]

result: configure, build, test and install phase are executed.

current workaround:
[code]

[2022-06-09 12:43] memsharded commented on #11430
This is expected:

- ``should_xxxx`` are removed in Conan 2.0
- The expectation is to replace it with dev flow (``conan install`` + native build system), or ``conf``.
- The new integrations in ``conan.tools`` like CMakeToolchain, etc, do not listen to those ``should_xxxx`` anymore.

[2022-06-09 13:12] dornbirndevelops commented on #11430
thank you for the quick response.

is this new intended dev flow documented somewhere?

[2022-06-09 13:56] wbehrens-on-gh opened #11431 "[question] Uploading only built packages with conan upload"
I ran `conan upload "*" -r remote --all -c` to upload all the packages in my local cache to a remote that I have. The issue is that this uploads all versions of the package even the ones that aren't built for anything. I was wondering if there was a way to only upload the versions of packages that are built?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.

[2022-06-09 14:01] memsharded commented on #11428
Hi @RReymann

There is a limitation in the Conan 1.X cache, is that it can only contain 1 revision at a time. For some reason, the recipe that is produced with those commands is different (you can read it in the output ``jkstester/1.42.0@artetest/dev: Exported revision: 2d718c315677180b65f7b3b52fcce3ef``, and compare between the 2 runs). As the cache can only contain 1 revision, it will remove the

[2022-06-09 14:19] memsharded commented on #11293
Closed by https://github.com/conan-io/conan/pull/11424

[2022-06-09 14:19] #11293 closed, assigned to memsharded

[2022-06-09 14:37] memsharded commented on #11327
Fixed by https://github.com/conan-io/conan/pull/11417

The serialization of the full ``cpp_info`` remains open. Moving to next iteration.

[2022-06-09 14:42] memsharded commented on #11410
Closed by https://github.com/conan-io/conan/pull/11429

[2022-06-09 14:42] #11410 closed, assigned to lasote

[2022-06-09 16:23] smoofra opened #11432 "conan remove can't remove a package revision from a remote"
conan remove seems to be succeeding when I ask it to remove a single package-revision, but afterwards the revision is still there.

### Environment Details
  * Operating System+version:  Mac OS 12.3.1
  * Conan version: 1.49.0
  * Python version: 3.9.12
  * Artifactory version: artifactory-cpp-ce:7.35.2

### Steps to reproduce

* Build a project twice and upload to artifactory both times, so there

[2022-06-10 08:33] sobczyk opened #11433 "[bug] conan asks for password when CONAN_NON_INTERACTIVE=True"
This issue surfaced when our artifactory instance slowed down.
Most probably the token stored in conan.db expired, and caused this.

password and username are also present in environment.

### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu focal
  * Compiler+version: n/a
  * Conan version: 1.48
  * Python version: 3.8

### Steps to reproduce (Include

[2022-06-10 08:52] memsharded commented on #11433
I am doing a code review, trying to understand how this is happening, and I cannot find a reason.

Is it possible that you have defined ``general.non_interactive=False`` in your ``conan.conf``?

[2022-06-10 11:50] RReymann commented on #11428
Hi,

Please find copied below the content of both files. (Unable to attach it due to security limitation :-( )

**Debug:**
`1654857356
conanfile.py: 626e98cb59f669c9566b991363d488ac
export_source/.gitappconfig: f22e8ca70ffb5cc131b32c5bdf4dfb20
export_source/.gitignore: 8eeffc28d46558b825997c6d7b01e70a
export_source/CMakeLists.txt: d11a2fe68c0b481cb53a2979755f5a5d
export_source/Jenkinsfile: 0489f75

[2022-06-10 12:07] memsharded commented on #11428
Ok, thanks very much.

I think I see what is happening. You have some ``imports`` (or ``deploy()`` there. The first command is importing things, modifying your current folder. The second command is exporting these files again, resulting in a different exported source.

You should make your ``exports_sources`` more restrictive to make sure you include only the necessary files. If necessary, there i

[2022-06-10 12:29] RReymann commented on #11428
Hi,

Thx for your help. Adapting the export_sources method to be more restrictive has fixed our issue.

I really appreciate your help. Thx again.

Cheers,
Renaud

[2022-06-10 12:29] #11428 closed, assigned to memsharded

[2022-06-10 13:07] memsharded commented on #11428
Happy to help and know that the issue is solved 😄

[2022-06-10 13:25] alwaysmpe commented on #11287
Is it actually possible to override build requirement sub dependencies? As an example, I'm trying to use python and cmake:

    from conans import ConanFile

    class TestConflict(ConanFile):

        def build_requirements(self):
            self.tool_requires("openssl/1.1.1o")
            self.tool_requires("cpython/3.9.7")
            self.tool_requires("cmake/3.22.4")

This gives me the error

[2022-06-10 13:38] memsharded commented on #11287
In Conan 1.X it is not possible to override transitive dependencies of ``tool_requires`` (or ``build_requires``, because they are kind of invisible to the consumer). Explicitly depending on them with ``self.tool_requires("openssl/1.1.1o")`` doesn't solve it, as it just introduce a direct and conflicting ``tool_requires`` to openssl, which doesn't make much sense.

Conan 2.0 will allow overriding d

[2022-06-10 13:40] memsharded commented on #11430
Yes, for example the updated page for editables: https://docs.conan.io/en/latest/developing_packages/editable_packages.html, already use this ``conan install`` + ``cmake ...`` flow

[2022-06-10 14:39] alwaysmpe commented on #11287
I think understand what you're saying.

I think the problem is that in the case that prebuilts aren't available, then conflicting requirements of different `tool_requires` should, presumably, be ignored, where currently they aren't? And, as such, conflicts result in failures. My take away is "wait for v2 to be fully released before trying too much with this use case"? Happy with that, will wait fo

[2022-06-11 04:51] phillipcaofph opened #11435 "[bug] PkgConfigDeps raises exception when generating for packages in editable mode and has defined layout()"
PkgConfigDeps raises exception when generating for packages in editable mode and has defined layout()

I've dug deeper and found the exception is located in https://github.com/conan-io/conan/blob/485b78e1c59edda5f510449f08565ae753eae3b8/conan/tools/gnu/pkgconfigdeps/pc_files_templates.py#L90

It looks like other places such as https://github.com/conan-io/conan/blob/485b78e1c59edda5f510449f08565ae7

[2022-06-11 19:42] AndWass opened #11436 "[bug] 1.49.0: KeyError: 'include' in CMakeToolchain generator"
### Environment Details (include every applicable attribute)
  * Operating System+version: docker container running ubuntu:latest
  * Compiler+version: g++ 11
  * Conan version: 1.49.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
Create a folder containing the following files:
  * Empty `CMakeLists.txt`
  * Empty `CMakePresets.json`
  * `CMakeUserPresets.json` contain

[2022-06-11 19:44] AndWass commented on #11436
Removing `def layout(): ...` from `conanfile.py` also makes it work.

[2022-06-12 07:58] harsszegi opened #11437 "[question] cross compiling from x86_64 to x86_64"
Hi,

I bumped into a strange issue. I have a strange Yocto SDK based x86_64 Linux 64 bit compiler, which poduces executables that can't be executed under Ubuntu 21.10 for example. Haven't checked, might be glibc issue. So this calls for cross-compilation.
I have created a profile which sets os_build, arch_build, os, arch, BUT they are obviously the same, e.g. (Linux,86_64) vs (Linux,x86_64).

And

[2022-06-12 11:04] mandree opened #11438 "[bug] 'Missing prebuilt package' situation ERROR message contains misleading/incomplete remedy suggestion"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Linux 36 on amd64 aka x86_64
  * Compiler+version: 12.1.1
  * Conan version: 1.49.0
  * Python version: 3.10.4

### Steps to reproduce

- Follow example from https://docs.conan.io/en/latest/getting_started.html all the way from the start on a fresh install (in doubt, rename your ~/.conan first)
- Step

[2022-06-12 14:50] bjornfor commented on #8876
FYI, there's a [CVE](https://www.cvedetails.com/cve/CVE-2022-29217) for PyJWT which now affects the latest released conan.

[2022-06-12 14:59] lasote commented on #11436
I think we should probably "mark" the `CMakeUserPresets.json`  with a comment like we do in migrations in develop2 branch. If we don't have the file marked, skip to append contents, because the structure might be unknown and we could be destroying users changes.

[2022-06-12 17:49] memsharded commented on #8876
Hi  @bjornfor

Latest Conan already upgraded to ``PyJWT>=2.4.0, <3.0.0``in https://github.com/conan-io/conan/pull/11350 and released in last Conan 1.49 (and in any case, this is a requirement for ``conan_server``, it is not used at all in the Conan client, just in case there is a concern for previous versions. And even previous versions of the server were not exposed to the vulnerability, checked

[2022-06-12 17:52] memsharded commented on #11438
Hi @mandree

These have already been improved in Conan 2.0, the error message will be: ``conan list packages %s --format=html -r=remote > table.html``, which already fixes the above 2 things:
- The @ is actually no longer necessary
- The remote is explicit

I am marking these as done in 2.0, thanks for the suggestions!

[2022-06-12 17:52] #11438 closed, assigned to nobody

[2022-06-12 18:11] bjornfor commented on #8876
@memsharded: Thanks for the info! (Sorry, I just assumed it wasn't part of a release yet based on parent message.)

[2022-06-12 18:39] Thiesius opened #11439 "[bug] Unable to build pdal with MSVC - gdal include dirs"
The build fails when building the pdal itself with error
[code]

Failing line in gdal.cmake
`    file(READ ${GDAL_INCLUDE_DIR}/gdal_version.h versionfile)`

In FindGDAL.cmake (generated from conan) you can find:

[code]

When I modified **GDAL_INCLUDE_DIR** to point to `C:/Users/capek/.conan/data/gdal/3.4.1/_/_/package/17cfa3f66e842a3b35874be1c21919ce47e9669e/include/gdal` and then run the cmake m

[2022-06-12 20:45] memsharded commented on #8876
Yeah, probably this issue should have been updated too, but sometimes it is difficult, the activity in the repo is very high. Thanks for telling, it is always better to be sure!

[2022-06-12 21:17] memsharded commented on #11435
Done a PR to fix it https://github.com/conan-io/conan/pull/11440.
I have kept the same ``""`` default instead of ``"."``, it shoudn't matter, as it shouldn't be used (the paths are absolute), and to be consistent with other generators. If there is something failing, better know it, have a test that reproduce it.

[2022-06-12 21:19] memsharded commented on #11436
Yes, agree, but json files are not easy to mark with comments, unless CMake will not fail because of adding some extra fields in the json.

[2022-06-12 21:24] memsharded commented on #11408
Closed by https://github.com/conan-io/conan/pull/11407.

Thanks for contributing it! Will be released in next 1.50 (and be part of Conan 2.0 beta, as we merge develop->develop2 continously)

[2022-06-12 21:24] #11408 closed, assigned to nobody

[2022-06-12 22:14] memsharded commented on #11439
Hi @Thiesius

I am not sure I see what is the problem. The ``GDAL_INCLUDE_DIR`` already contains the right path to the include directories containing the header files. If the root ``include`` folder doesn't contain the header files, then it could be a ``gdal`` recipe issue, and that folder should be removed from ``self.cpp_info.includedirs``. But that is in the recipe, not something in the Conan c

[2022-06-12 22:18] memsharded commented on #11287
Yes, Conan 1.X might have some scenarios creating conflicts, that can be more easy to produce if needing to build from sources ``tool_requires`` too. Also, in general it is very recommended to use the 2 profiles approach, with ``--profile:build=xxx --profile:host=yyyy``, that will minimize conflicts with tool_requires.

``CONAN_V2_MODE`` was just to do some simple checks, not really changing behav

[2022-06-12 22:22] Thiesius commented on #11439
Hey,
I'm sorry for posting the issue into wrong repository, it makes perfect sense that it would belong to conan-center-index as I also think the problem is not within the client.

Also yes, I think either pdal needs to iterate over include dirs `file(READ ${GDAL_INCLUDE_DIR}/gdal_version.h versionfile)` or the gdal package needs to set up `self.cpp_info.includedirs` correctly. However since the s

[2022-06-12 22:26] memsharded commented on #11439
I will transfer the issue, thanks!

[2022-06-12 22:55] mandree commented on #11438
This will want fixing in 1.x, too, unless 2.0 will be the release after 1.49.0.

[2022-06-12 23:11] memsharded commented on #11438
Conan 2.0-beta is the next release, yes.

[2022-06-13 04:48] ssrobins commented on #9284
Thanks, this works perfectly! I'm now completely converted to CMakeDeps/CMakeToolchain and mostly ready for Conan 2.0 :)
https://github.com/ssrobins/conan-recipes
Feel free to close this, if you like.

[2022-06-13 07:06] #11435 closed, assigned to memsharded

[2022-06-13 07:49] sobczyk commented on #11433
My initial conan.conf is:
[code]

[2022-06-13 07:54] sobczyk commented on #11433
it gets to [conans/client/rest/auth_manager.py#L49](https://github.com/conan-io/conan/blob/173cbc6143133c83ed1ecb9b5315d3ca787a846a/conans/client/rest/auth_manager.py#L49)
without checking for non-interactivity.
the "method_name" that gets called must throw AuthenticationException

[2022-06-13 08:04] memsharded commented on #11433
yes, but that is an "out", that is not a problem, it should not error. But the actual "input", in ``input_user, input_password = self._user_io.request_login(remote.name, user)`` is the thing that is protected by the non-interactive and should raise. The surprising thing is that it is not raising an error.

[2022-06-13 08:08] memsharded commented on #9284
Excellent! Thanks for following up and reporting!

[2022-06-13 08:08] #9284 closed, assigned to nobody

[2022-06-13 08:23] franramirez688 opened #11442 "[bug] Framework dirs that do not exist"
See comment from @SSE4 https://github.com/conan-io/conan-center-index/pull/11139#issuecomment-1153556092

It looks like PkgConfigDeps and AutotoolDeps are creating `-F <framework-directory>` links to folders that don't even exist.

Check if there could be any other folders like this one.

[2022-06-13 08:30] memsharded commented on #11442
With new tools, if the folder doesn't exist, it is the responsibility of the recipe to not declare it @lasote?

[2022-06-13 08:57] franramirez688 commented on #11442
Then, it looks like it's expected behavior, isn't it? Closing the issue then. Thanks for the clarification @memsharded

[2022-06-13 08:57] #11442 closed, assigned to franramirez688

[2022-06-13 09:23] helmesjo commented on #10630
@memsharded Any progress on this? Was a while since I looked at it, but from _past me_ above it looks like the issue was found in the conan generated script.

[2022-06-13 09:31] NeoCortex97 opened #11444 "[question] Conan error settings.comipler is not defined. Am I stupid?"
I tried to use conan to add rtmidi to my project and conan sends me the folloging error message:
[code]
I cannot find how to fix this, Am I stupid for missing this part in the coumentation, or is the package broken?
Sorry that I cannot give any more details so far!

EDIT:
Sorry, seems like a classic rtfm problem. I looked in the troubleshooting section and found the -s switch.

But my Problem is n

[2022-06-13 09:47] franramirez688 commented on #11444
Hi @NeoCortex97

I think you're looking for the [Conan profiles documentation](https://docs.conan.io/en/latest/reference/profiles.html).
It'll solve your problem of having to put the same settings, configuration, etc. every time.

[2022-06-13 10:05] memsharded commented on #10630
Hi @helmesjo

The truth is that we are no longer prioritizing things related to ``cmake`` generator and ``conanbuildinfo.cmake``, but working on ``CMakeDeps`` and ``CMakeToolchain`` integrations to be 2.0 ready. (conan 2.0 beta is expected very soon).

As ``CONAN_DISABLE_CHECK_COMPILER`` seems enough to avoid this, it is probably not worth the effort.

[2022-06-13 10:16] franramirez688 commented on #11444
@NeoCortex97

By the way, I think you should use a `default` profile. If you use a `default` profile, you won't even need to put the `-pr myprofile` parameter in your CLI every time.

Normally, this default profile is in `~/.conan/profiles/default`, and looks like this:

[code]
Furthermore, you can use this Conan command to create a new `default` one:

[code]
If you want to recreate it in case tha

[2022-06-13 10:44] memsharded commented on #11179
Hi @mattyclarkson

I am moving forward https://github.com/conan-io/conan/pull/11309 tests for the next 2.0-beta (to be released soon), which will close this issue. Unfortunately, I haven't managed to port back to 1.X any reasonable approach.

The only workaround that I can think now in 1.X is to do some kind of abuse of ``tool_requires``, or maybe even ``private`` dependencies. It might also be po

[2022-06-13 11:00] memsharded commented on #11297
The ``--build=missing:<pattern>`` feature has been added and merged in beta.1. It will allow to skip building some binary which already exists in the cache or in the remotes, in a simple way (doing it with ``conan export`` + ``conan info`` is also possible, but requires more effort).

So I am closing this as implemented in beta.1 (to be released soon), feedback welcome!

[2022-06-13 11:00] #11297 closed, assigned to memsharded

[2022-06-13 11:08] memsharded commented on #11193
Implemented in https://github.com/conan-io/conan/pull/11194, which verifies that ``tool_requires("pkg/0.1", visible=True`` can be overriden from dowstream with ``tool_requires("pkg/0.2", override=True)``

[2022-06-13 11:08] #11193 closed, assigned to nobody

[2022-06-13 11:51] franramirez688 commented on #11179
Closed by https://github.com/conan-io/conan/pull/11309

[2022-06-13 11:51] #11179 closed, assigned to memsharded

[2022-06-13 12:29] dornbirndevelops commented on #11430
ok, thank you very much for the quick response.
I will have a look 👍🏼

[2022-06-13 12:29] #11430 closed, assigned to memsharded

[2022-06-13 13:52] memsharded commented on #11198
Partially implemented by https://github.com/conan-io/conan/pull/11427

Lets do the same for ``conan install``, ``conan export-pkg`` commands too for beta-2

[2022-06-13 13:57] daimend opened #11448 "[bug] OpenSSL Cannot load recipe"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win 11 and OSX 12
  * Compiler+version: msvc and clang
  * Conan version: 1.48 and 1.49
  * Python version: 3.9.4 and 3.9.13

### Steps to reproduce (Include if Applicable)

Doesn't seem to matter which platform/OS, which environment (local or virtual), or which versions of the toolsets/dependencies are inst

[2022-06-13 14:47] memsharded commented on #11448
Hi @daimend

Are you completely sure you are running latest Conan? Can you check ``conan --version`` just before the above?
Because it seems that you are not in the latest Conan version, that error happens for older Conan versions.

[2022-06-13 14:57] memsharded commented on #11245
To complete with further suggestions, specially moving forward to Conan 2.0:

- We have just merged in Conan 2.0 #11447, to guarantee that the build folder for a given recipe, version, recipe revision and package_id will always be the same. Together with setting a common CONAN_HOME environment variable, can guarantee the exact same folder always, for a given recipe, version, revision and package_i

[2022-06-13 15:42] jcar87 commented on #11437
Hi @harsszegi, thanks for using Conan for your cross-building needs!

If you are targeting Yocto Linux x86_64 from Ubuntu Linux x86_64, I would be inclined to say this may not be strictly cross-building (as you are pointing out the build OS/arch are the same as the host ones). You may be dealing with the case of creating binaries that are compatible across Linux distros of the same architecture, i

[2022-06-13 16:07] jcar87 commented on #11431
Hi @WilliamBehrens -

The `upload` command as you are invoking it will indeed find all recipe references (the wildcard `"*"` will match all recipes), and it will  upload both recipes _and_ existing packages as well (with `--all`).

I'm not entirely sure what you mean by the versions of packages that are built. If you are running an earlier command, for example `conan create` or `conan install` tha

[2022-06-13 16:36] memsharded commented on #11432
Hi @smoofra

This seems a small UI issue, and in Conan 1.X it is still necessary to do:
[code]

It also seems that this issue has already been solved in Conan 2.0 (and released in previous alphas)

[2022-06-13 16:41] harsszegi commented on #11437
Hi @jcar87,
thanks for the suggestion, will try it out, but please note that the issue is not really related to package ids.
I am providing build and host profiles to conan install, however "get_gnu_triplet" treats this environment as
NOT a cross-build environment (as get_gnu_triplet purely checks os, arch, os_build and arch_build, disregards
the fact that I provide two different profiles for buil

[2022-06-13 16:59] memsharded commented on #11342
You are missing the intermediate @, note it is ``@#``. You need to do:
[code]
Then see in the Conan cache the ``conanmanifest.txt``, then repeat with the other revisions.

This is some legacy of long time, when user/channel was mandatory always, and when revisions didn't exist. The only way to introduce some functionality without breaking was this sometimes confusing syntax. Conan 2.0 has already

[2022-06-13 17:07] smoofra commented on #11432
oh, thanks!

[2022-06-13 17:12] jcar87 commented on #11402
Hi @smoofra  - thanks for raising the issue and for using the new build and host profile conventions in conan, and for making a repository available where it was easy to replicate the issue.

Based on my testing, the issue appears related to the usage of the `host` and `build` profiles (passing the `--profile:build` and `--profile:host` to `conan create`, and the `AutoToolsBuildEnvironment` build

[2022-06-13 17:14] memsharded commented on #10317
The traits can always be modeled directly, like a ``tool_requires()`` that also contains libraries and headers would be:
[code]

[2022-06-13 17:21] memsharded commented on #11326
Hi @Adnn

Yes, for the ``editables`` and a better local experience, you probably want to move to the declarative syntax in ``layout()``, so Conan is explicitly aware of this, and can use in the ``editables`` better:

[code]

If you are using CMake, then most likely the predefined ``cmake_layout(self)`` instead of crafting yourself the layout, is what you want in ``layout()``, as it can also works

[2022-06-13 17:43] memsharded commented on #11326
I have tried, just in case, to do an unit-test for this:
[code]

Seems to be working

The trick I had to do is `` self.cpp.source.builddirs = ["cmake"]``, note the ``source``, is because I am not actually building and generating a .cmake locally, but it is predefined as source in the test. The idea is that if the file is generating during the build, it will use ``self.cpp.build.builddirs``.

[2022-06-13 21:19] jcar87 commented on #11397
According to: https://www.gnu.org/software/make/manual/html_node/Implicit-Variables.html#Implicit-Variables

* `CXXFLAGS` are for the C++ compiler
* `CFLAGS` for the C compiler
* `CPPFLAGS` are for the C and Fortran preprocessor - that said, this is a bit confusing - because most flags that control the preprocessor https://gcc.gnu.org/onlinedocs/gcc/Preprocessor-Options.html - can be passed direct

[2022-06-13 21:30] fittyCent opened #11450 "Adding prop sheets to MSVS with non standard config names"
I did a `conan install` with a `conanfile.py` file and profiles with build type set to `Release` - that generated some prop sheets. These prop sheets work great if I'm adding them to a project whose config name is `Release`. I do have a project config named `Release DLL` and adding the sheet to that, doesn't work. The vars are not added correctly so it can't find the include paths to the conan pac

[2022-06-13 21:51] memsharded commented on #11450
Hi @fittyCent

There is a ``MSBuildDeps.configuration`` that you can tweak in your ``generate()`` to replace the standard ``Release`` one.

Please check https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#custom-configurations for further details.

[2022-06-13 22:54] fittyCent commented on #11450
Thanks! Here's what I did:

profile file looks like:
[code]

in the conanfile.py:
[code]

Now I can use the profiles to generate multiple prop sheets for multiple projects.

[2022-06-13 22:54] #11450 closed, assigned to nobody

[2022-06-13 23:02] fittyCent opened #11451 "conanfile options and `None`"
`None` seems to come in as a string `'None'` when default_options is involved. In the folllowing conanfile, `issue-line` is satisfied and the contents of the if-statement is executed even when my profile file doesn't contain `options.configuration`. If i change that line to `if self.options.configuration != 'None'`, it works as expected (not going into the if-statement if configuration is None).

[2022-06-13 23:15] memsharded commented on #11450
Ok, that seems to be good. But if you have things like ``options = {"shared": ...`` then maybe you want to encode that as the final ``configuration`` (the configuration as a function of already existing settings and options like "shared") to avoid artificial extra combinations. For a consumer-only case it might not be relevant, but if at some point so want to create packages for it, then having th

[2022-06-13 23:16] memsharded commented on #11451
If you want to allow None (not defined, please better write the option as ``options = {"configuration": [None, "ANY"]}``

[2022-06-14 01:43] fittyCent commented on #11451
Did this and the execution still went into the if statement:

[code]

The `conan_libcurl.props` file shows this when ran against a profile that doesn't contain `options` (only contains `settings`):
[code]

[2022-06-14 01:54] fittyCent commented on #11450
Thanks for the tip, I'll keep that in mind. I'm just writing a consumer-only conanfile.

Thanks for the awesome work. I've been moving more and more projects toward using it.

[2022-06-14 04:36] kobi-ca commented on #11342
It needs `CONAN_REVISIONS_ENABLED=1`
I used this to figure it out (one of comments mentioned it)
https://stackoverflow.com/questions/65194529/how-do-you-reference-a-specific-recipe-revision-from-conan-index

otherwise, I'd get
[code]
so yes, conanfile.py is different.
(I needed to remind myself that only a single 1.79 will exist in a single time.)
[code]

so I think we are good.

[2022-06-14 04:36] #11342 closed, assigned to nobody

[2022-06-14 09:57] sykhro commented on #11436
CMakePresets have a "vendor" section so that third party tools can add their information there.

[2022-06-14 09:58] franramirez688 commented on #11327
Since https://github.com/conan-io/conan/pull/11434 was merged, full `cpp_info` is now serialized so we can close the issue. It will be released in the next _Conan 2.0.0-beta1_ version.

[2022-06-14 09:58] #11327 closed, assigned to franramirez688

[2022-06-14 11:14] mattyclarkson commented on #11179
We're gonna move to 2.0 and live on the edge 🚀 Thanks for all the help here.

[2022-06-14 12:32] helmesjo commented on #10630
@memsharded Alright, fair enough! Will close this.

[2022-06-14 12:32] #10630 closed, assigned to memsharded

[2022-06-14 13:08] franramirez688 commented on #11235
Closed by https://github.com/conan-io/conan/pull/11310. It will be released in the next Conan 2.0.0-beta1 version.

[2022-06-14 13:08] #11235 closed, assigned to memsharded

[2022-06-14 14:38] wbehrens-on-gh opened #11453 "[question] Finding libtool archives with Conan"
I have two custom package I'm working on that depend on each other, the one is packaged like so
[code]

The other consumes the package and builds using these methods
[code]

The problem I'm having is that the autotools configuration for package 2 requires some libtool archives that it can't find from package 1
[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/

[2022-06-14 15:57] jmachcse opened #11456 "[question] Conan gtest example not working - possibly my fault?"
Hey all -- I'm trying to run the GitLab Conan GTest Package Example project to get started using Conan in my GitLab CI/CD Environment.
For reasons I cannot discern, the [tutorial](https://docs.conan.io/en/latest/integrations/ci/gitlab.html) does not work. I'm wondering if my files are incorrect but I cloned the repo & copy-pasted the example `.gitlab-ci.yml` that is provided. I'm not really sure w

[2022-06-14 16:11] harsszegi commented on #11437
Hi,
it doesn't work, tested with xz_utils, gnu triplet is not passed at all

[2022-06-14 17:39] memsharded commented on #11456
Hi @jmachcse

It seems you are facing something that is outdated there. For examples the ``gtest/1.8.1@bincrafters/stable`` doesn't exist anymore, and packages are now like ``gtest/1.8.4`` from ConanCenter (https://conan.io/center)

So the ``$ git clone https://github.com/lasote/conan-gtest-example``, it is the https://github.com/lasote/conan-gtest-example repo that is outdated.

To start somethin

[2022-06-14 17:54] harsszegi commented on #11437
Btw, if I change "os" to FreeBSD for example in any of the profiles, then GNU triplets are passed properly, however this is wrong for multiple reasons (like Boost is tried to be compiled like it was on FreeBSD really, which fails big time)

How hard would it be to add CONAN_AUTOTOOLS_BUILD, CONAN_AUTOTOOLS_HOST, CONAN_AUTOTOOLS_TARGET environment variables handling to autotools_environment.py? Thi

[2022-06-14 19:39] w3sip opened #11457 "[question] Propagating options through the dependency chain"
Lets assume two following conanfiles:

conanfileA.py
[code]

conanfileB.py
[code]

We then create PackageA using the non-default option:

`conan create /tmp/conanfileA.py A/1.0@ci/local -o OptionA=bar`

attempt to create PackageB with the non-default option (like so - `conan create /tmp/conanfileB.py PackageB/1.0@ci/local -o OptionA=bar`) will fail, without uncommenting the line in `configure` met

[2022-06-14 21:57] memsharded commented on #11457
Hi @w3sip

Yes, options are always individual for each package, even if they have the same name, still an individual thing. They are also addressed individually to like ``pkga:myoption`` and ``pkgb:myoption``, the case when no package pattern is prefixed, it really means "the consumer or final package" not "all the packages". So you are right, they don't propagate automatically in the dependency g

[2022-06-14 23:50] SeanSnyders commented on #11362
Hi @memsharded, would love some insight into workaround(s) for Conan 1.x.

Can I load and evaluate the recipe in question? Maybe create a custom generator to write out `cpp_info` and then specify that generator in a `conanfile.txt` run it with the recipe in question and then ingest its output, etc?

[2022-06-15 00:45] jmachcse commented on #11456
Gotcha. I guess I didn't even consider the fact the tutorial I'm using could be outdated. I'll give it a try using the command you recommended. Thanks!

[2022-06-15 00:45] #11456 closed, assigned to memsharded

[2022-06-15 07:23] memsharded commented on #11362
Individual recipes can't be evaluated in isolation, only as part of the dependency graph.
In Conan 1.X you can access the dependencies information in the ``generate()`` method of a consumer ``conanfile.py`` via ``self.dependencies``, which is something you can iterate, access the ``self.dependencies["mypkg"].cpp_info`` structure too. You can put the code that iterates and return the cpp_info in yo

[2022-06-15 07:24] franramirez688 commented on #11442
Finally, it has been implemented by https://github.com/conan-io/conan/pull/11455. It'll be released in the next Conan 1.50.

[2022-06-15 09:28] basejumpa commented on #543
Most recent links are dead. Here the currently working ones:

* Profiles (https://docs.conan.io/en/latest/reference/profiles.html)
* `build_requires` : https://docs.conan.io/en/latest/devtools/build_requires.html
* Management of environment variables: https://docs.conan.io/en/latest/mastering/envvars.html

Cross-building: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#c

[2022-06-15 09:36] memsharded commented on #543
yeah, that last comment was 2017, so many things changed since then.

Actually, it would be better to focus on the new tools that are 2.0 ready:

- Tools that should be used in recipes: https://docs.conan.io/en/latest/reference/conanfile/tools.html
- Management of environment variables: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html
- Migration guide to be 2.0 ready: https://do

[2022-06-15 10:18] tcanabrava opened #11459 "[bug] conan 1.48 broken for gcc 12"
Making sure I have no profile and used the automatically generated one:

[code]

now I try to run `conan install .` on a dummy project:

[code]

Conan version:
[code]

Now, there's a patch for conan 1.46 that adds support for gcc 12:

https://github.com/conan-io/conan/pull/10595/commits/520f1ef54e3da588efba42c1d7da15b3cb0d28ab

and I looked at the files it modifies, and my installed version of con

[2022-06-15 11:16] memsharded commented on #11459
Hi @tcanabrava

Your ``settings.yml`` didn't migrate automatically most likely because you had some local changes. You should find in your cache a copy of the updated settings.yml.new that indicate this.

You can just remove your ``settings.yml``, they will be regenerated to add the new gcc versions.

[2022-06-15 14:10] tcanabrava commented on #11459
what about adding this information to the error message?

```your ~/.conan/settings.yml source differs from the conan internal settings.yml, delete this to be re-generated```

[2022-06-15 14:28] memsharded commented on #11459
This is the message that is being printed now:
[code]

We don't want users to always remove it, because if they have local changes, what they want to do is to check the new things and update theirs.

Just in case: if users have custom settings.yml, the recommended way is to put them in a repo and use ``conan config install``

[2022-06-15 14:29] tcanabrava commented on #11459
@memsharded if that's the message being printed, feel free to close this bug report. on my case this was not being printed (1.48.1)

[2022-06-15 14:33] memsharded commented on #11459
Yeah, that is a bit weird, this seems to be sufficiently covered by tests. Please keep an eye on your next Conan version upgrade. The first time you run Conan after upgrade, you should see a message, at least ``Migration: Updating settings.yml``, and then some success or error message. If you have local modifications, you should see the above error message. If you don't please re-open and let us k

[2022-06-15 14:33] #11459 closed, assigned to memsharded

[2022-06-15 14:34] tcanabrava opened #11463 "[bug] Bad explanation on error message for unmatched dependency."
I have looked at the bug reports for this and i found https://github.com/conan-io/conan/issues/7864 , but I was unable to understand what to do.

I have a fairly small conanfile (excerpt from a bigger project):

[code]

this (correctly) tells me that I have an unmatched dependency;

[code]

So I add `m4` in my root package:

[code]

and now I have a different error:

[code]

the wording on the err

[2022-06-15 14:36] tcanabrava commented on #11459
the problem about showing the message when an upgrade happens is that (on linux at least) most of the updates are done by the package manager, and there's a lot of noise.
I'd argue that *if* something fails because of a setting mismatch, we could show that message again (because settings.yml is not really touched by the developer for a while, he can forget that it exists, like I did)

[2022-06-15 14:43] memsharded commented on #11459
That is the thing. Having this file modified directly by developers is bad practice, that shouldn't happen. If custom settings.yml are to be defined, they should be put in a repo and managed via ``conan config install`` so everywhere, CI, dev machines, they can keep in sync easily, not only for settings.yml, but all other things: remotes definitions, profiles, hooks, etc. This recommended flow wil

[2022-06-15 14:44] jcar87 commented on #11437
Hi @harsszegi  - thank you for investigating this further.

I would need a bit more information to try to replicate this on our end. Could you confirm the following:

1) At what stage do the executables fail running? By this I mean, are we dealing with executables that are built _during_ the build of a package, but are also run during the same build - or the package contains an executable and you'

[2022-06-15 14:52] tcanabrava commented on #11463
this is actually a funny error message:

[code]

conanfile:

[code]

[2022-06-15 15:14] harsszegi commented on #11437
Thank you @jcar87 for looking into this.
Re 1: This is the configure stage of xz_utils, when conigure does "checking whether we are cross compiling", so it produces a "conftest" executable, then it tries to run it:
source_subfolder/configure: line 5467: ./conftest: No such file or directory
Please note that I'm still trying to cross-compile, e.g. haven't yet done the QEMU "hack" you mentioned. Als

[2022-06-15 15:14] dkumsh opened #11464 "[question] Mixing artifacts of different build_type during development."
We are trying to use conan (currenly 1.46.2) internally for both development and in CI/CD pipelines.
I have a number of third party dependencies which are currently building in the pipeline with **Release** build type.
My project is using these dependencies and I can build it with 'conan create' without any problem

### A bit of background:
When attempted  to setup my project in CLion I ran into a

[2022-06-15 15:35] tcanabrava commented on #11463
[code]

[2022-06-15 15:41] harsszegi commented on #11437
This ld-linux-x86_64.so.2 + LD_LIBRARY_PATH hack kinda freaks me out, as I have zero idea when to set the LD_LIBRARY_PATH so that autotools stuff would finish, as I can't do it from the start, as practically nothing would work (not even a "cd build" command anymoe)

[2022-06-15 15:54] macdew opened #11465 "[question] Sharing binaries across different linux distros"
I've read the various comments both on here and in the Documentation on Customising settings / changing my settings.yml to add os.distro field, but I must be missing something.

In my organisation we use a mix of linux distros across developers, and yet different ones again in production.  When I build a recipe on Arch Linux and push it to the repository, none of my Ubuntu-using colleagues can use

[2022-06-15 16:19] memsharded commented on #11464
Hi @dkumsh

yes, Conan allows to mix artifacts that belong to different settings. For example, lets say that you have multiple dependencies, ``lib_a``, ``lib_b``.... ``lib_z``, you can do something like:

[code]

That will install all dependencies, and current consumer in ``Release``, but ``lib_c`` binary will be a ``Debug`` one. It is up to the user to define something that makes sense. In some s

[2022-06-15 16:25] jcar87 commented on #11437
Hi @harsszegi  - Thanks for the detailed answer. I think I have a much clearer picture of what is going on now.

The key information has to do with how Autootools will try to build an executable and try to run it immediately after, where you might see an error like this:
[code]
when the active toolchain is not generating executables that can be run (regardless of the reason). In your case, you get

[2022-06-15 16:49] dkumsh commented on #11464
Thanks for you quick reply.
That partially explains my questions (i.e. how I can install artifacts of different build types and use them together).

Probably my issue is specifically with conan_toolchain.cmake generator

\# This command generates conan_toolchain.cmake with all dependencies built as **Release** :
`conan install .. -pr=my-profile -s build_type=Release`
\# And this command uses conan

[2022-06-15 17:00] memsharded commented on #11464
Yes, I see that can happen, and Conan will not find dependencies if provided the wrong inputs.

But it is also important to note that the toolchain is intended to be multi-config.
You might run:
[code]
And if you are using the ``layout`` correctly, for example, those will not overwrite, and then issuing the right. In platforms like Visual Studio yo don't even provide ``CMAKE_BUILD_TYPE`` at config

[2022-06-15 17:13] memsharded commented on #11463
Hi @tcanabrava

Are you using recipes from ConanCenter? Or modified ones?
Because I am trying your conanfile,py here, and it works without conflict.

[2022-06-15 17:16] memsharded commented on #11451
Have you tried with ``if self.options.configuration:``? The ``options`` object has some magic in it to allow the dynamic attributtes, but that also means that sometimes it cannot be treated as pure Python objects as ``is not None``.

[2022-06-15 17:34] dkumsh commented on #11464
Indeed changing the first command as follows and leaving the second one unchanged fixes the CLion problem:

`conan install .. -pr=gsr-default -s '*:build_type=Release' -s '&:build_type=Debug'`
`cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake`

My issue was that the second command was actually generated by CLion and I did not realise what was going on under the hood.

Th

[2022-06-15 17:34] #11464 closed, assigned to memsharded

[2022-06-15 17:37] fittyCent commented on #11451
`if self.options.configuration:` worked.

One note is if I did `options = {'configuration': [ None, 'ANY' ]}`, I could only set `configuration`, the `ANY` option doesn't work because it would only allow 'None' or 'ANY' strings as options.

So to get this all working the way I need to:
- `options = {'configuration': 'ANY' }`
- `if self.options.configuration:`

[2022-06-15 18:09] tcanabrava commented on #11463
I’m not at work now, I’ll send the upstream information as soon as I get to
work tomorrow.

On Wed, 15 Jun 2022 at 18:13 James ***@***.***> wrote:

[2022-06-15 19:11] harsszegi commented on #11437
Thanks @jcar87  for the suggestion, I actually went for the “easier” solution, added CONAN_AUTOTOOLS_BUILD and _HOST to the profile and patched xz_utils to read it up and pass the —host amd —build flags directly to autoconfigure. It appears to solve the issue for now :)
Thanks

[2022-06-15 19:11] #11437 closed, assigned to jcar87

[2022-06-15 19:19] mmatrosov commented on #9707
Hi, @memsharded

I cannot find a proposal related to `default_package_id_mode` in conan tribe repo. Is there a list of "proposal ideas" somewhere?

[2022-06-15 20:50] tarcisiofischer commented on #11463
@tcanabrava I'm no Conan guru, but may you please provide the following information so that I can compare with my local results also?

I'm guessing it could be something to do with some old cached projects?
AFAIU, there's no such dependency `m4/1.4.18` for `flex/2.6.4`: (https://conan.io/center/flex?tab=overview&os=Linux)

- Run `conan profile show default` and paste here the results
- Run `conan

[2022-06-15 20:51] #11431 closed, assigned to jcar87

[2022-06-15 20:53] #11383 closed, assigned to nobody

[2022-06-15 22:28] SeanSnyders opened #11466 "[question] Should conan lockfiles not also store transitive dependency information?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Using Conan 1.49.0.

We are trying to create a lock file for a specific package, but only the first level requirements that is specified by that package is put into the lockfile.
We are expecting that the full dependency graph *including transitives* are represented in this lockfile.

[2022-06-15 22:45] memsharded commented on #9707
Hi @mmatrosov

Good question. We already have a draft exactly about this, we are currently working on. It is a complicated to explain proposal, hopefully it will be ready in a couple of days, keep tuned to the tribe repo.

[2022-06-15 22:47] memsharded commented on #11466
Hi @SeanSnyders

Definitely a lockfile should contain the full locking information for all transitive dependencies. This seems sufficiently tested, are you completely sure this is the behavior? Is it possible that instead of ``requires`` you are using ``build_requires`` (or ``tool_requires``)?

[2022-06-15 22:49] memsharded commented on #11451
good point @fittyCent

This was my mistake. There was an issue with exactly this, that has been recently fixed in https://github.com/conan-io/conan/pull/11449, and will be in next 1.50 release.

[2022-06-15 22:52] memsharded commented on #11463
Good point @tarcisiofischer

It is very possible that @tcanabrava could be running from old recipes in your cache. Cleaning the cache with ``conan remove "*" -f`` can help. Looking forward @tcanabrava feedback after testing the above steps.

[2022-06-15 23:24] #11451 closed, assigned to nobody

[2022-06-16 00:26] SeanSnyders commented on #11466
@memsharded Thanks for the quick response. Let me cycle back with the team and get more details. You might be correct in that this is a `build_requires` situation.

[2022-06-16 00:41] SeanSnyders commented on #11362
If I do not have access to the package to add in this `python_requires` or change its code, could I do it in some other way as I originally described?

- `pkgA` is the package I want to get the `cpp_info` of.
- Create a custom generator, e.g. `CppInfoGenerator`, that extracts this information into a file in my format of choice. As all generators are run during a package `generate()` method, this w

[2022-06-16 06:23] blackencino commented on #11253
Hey folks, I was able to diagnose this with a great deal of help from my coworkers. It is caused by the Nvidia CUDA compiler on Windows - when nvcc has the "-dlink" flag set for device linking, it prints out all of the libraries it sees during linking. There's no way to turn this off, other than to not use device linking of kernels.

[2022-06-16 06:23] #11253 closed, assigned to nobody

[2022-06-16 07:36] memsharded commented on #11362
Yes, the solution I was suggesting is basically the same, but just with modern tools:

- Use ``self.dependencies`` instead of ``deps_cpp_info``
- Use a ``conanfile.py`` instead of a ``conanfile.txt``, with a ``generate()`` method and the ``python_require``

It should work, yes.

[2022-06-16 07:37] memsharded commented on #11253
Great that you found it, thanks for following up!

[2022-06-16 08:22] memsharded commented on #11179
Great. Keep tuned for beta.1 very soon!

[2022-06-16 08:29] memsharded commented on #11453
Hi @WilliamBehrens

The first thing to validate is the ``libplist`` package is correct:

- Can you verify that it correctly packaged all the necessary artifacts like ``libplist-2.0.la``?
- Can you verify that they are in the right "lib" folder location inside the package
- The output of ``libplist`` package creation can help too
- Does the ``libplist`` package has a ``test_package`` folder, and it

[2022-06-16 08:45] jcar87 commented on #11364
Hi @apogza  - thanks for trying the suggestion and providing your `conanfile.txt` file.
would you be able to provide a minimal `CMakeLists.txt` as well that that produces an executable that exhibits this behaviour? Thanks!

[2022-06-16 09:01] Sil3ntStorm opened #11467 "[question] is there a way to have SCM not copy all submodule content?"
When using the scm with auto it appears that all content of the local repository are copied recursively upon using conan create. When dealing with a big repository this operation will take a LONG time, especially on windows due to several 10s of thousands of files having to be copied. It takes around 5 minutes on Linux systems, but around 20+ minutes on Windows.
Now most of these files are within

[2022-06-16 09:14] jay-tux opened #11468 "[question] Future Chalet support"
My friends recently recommended me to use [Chalet](https://github.com/chalet-org/chalet). Are there future plans to include Chalet generators? Or is this to be considered only once the project has grown.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-06-16 09:18] jay-tux commented on #11468
Just noticed this: chalet-org/chalet#12 and chalet-org/chalet#16 (last comment)

(Quote copied June 16th, 2022, 11:17AM CET)

[2022-06-16 09:30] memsharded commented on #11468
Hi @jay-tux

Yes, chalet is very new, we just very recently heard about it.
We don't plan at the moment to include built-in generators for Chalet, but mostly because we need to prioritize other things like Conan 2.0 and we do not have enough knowledge or experience about Chalet. But developing integration for Conan should be relatively easy, as Conan is designed to integrate natively with any othe

[2022-06-16 09:33] jay-tux commented on #11468
Thank you so much @memsharded

[2022-06-16 09:34] memsharded commented on #11467
Hi @Sil3ntStorm

We have recently introduced a new way of handling ``scm``, which is more explicit and flexible:
- The ``scm`` attribute dissapear
- The capture of scm url and commit, happens explicitly in ``def export()`` method
- The captured url and commit are added explicitly in the ``export()`` method to ``conandata.yml``
- The fetch of the source code, with scm clone/checkout is also explici

[2022-06-16 09:42] tcanabrava commented on #11463
Default Profile:

[code]

Remotes:

[code]

Removing ~/.conan/data and issuing `conan install . --build=missing` worked. but then, I'd still consider to be a conan error since it initially gave me weird dependnecy mismatches, and it should be smart enough to nuke the cache.

[2022-06-16 11:13] memsharded commented on #11463
No, this is a dangerous thing, Conan will never remove things from the cache, unless a explicit ``conan remove`` or ``--build`` (implicit in ``conan create``) happens. It is perfectly legit to have version conflicts locally that need to be resolved, and the solution is not always removing them and getting them from the server, that is just one possibility. Having a conflict for a specific instance

[2022-06-16 12:19] tcanabrava commented on #11463
The message error should be improved, then. There was no mention about
cache issues, just a bit of nonsense about impossible dependency graphs.

On Thu, 16 Jun 2022 at 12:14 James ***@***.***> wrote:

[2022-06-16 12:37] memsharded commented on #11463
cache issues, just a bit of nonsense about impossible dependency graphs.

But this is not a cache issue. You can install packages in a blank cache, directly from the server, and still have conflicts. These conflicts happen because of diamonds in the graph:
- You create zlib/1.2.11 and zlib/1.2.12 packages, upload to the server
- You create boost/1.67 that depends on zlib/1.2.11, works great, uploa

[2022-06-16 12:53] jcar87 commented on #11465
Hi @macdew - thanks for raising this question.

The ability to run Linux binaries across a wide range of distros is definitely a much discussed topic. As you rightly mention, this is typically down to compatibility of dependencies, with `libc` [typically being involved](https://askubuntu.com/questions/421642/libc-so-6-version-glibc-2-14-not-found).

There are two strategies you can use to tackle t

[2022-06-16 14:49] jcar87 commented on #11436
Resolved in https://github.com/conan-io/conan/pull/11452

[2022-06-16 14:49] #11436 closed, assigned to jcar87

[2022-06-16 15:12] spektrof opened #11473 "[bug] dependency resolution of header-only library is non-deterministic"
Hi,

We'd like to have a deterministic dependency resolution process where we can get exactly the same transient dependencies what we used at building for the given package.

We are using the name/version@#revision:package_id as an input with the following conan configuration:
[code]

The _package_revision_mode_ and _full_transitive_package_id_ will provide us a fully deterministic binary model. H

[2022-06-16 17:45] memsharded commented on #11473
Hi @spektrof

First I would like to give some quick general feedback that might help to keep moving forward and be 2.0 ready:

- Using components in header-only libraries is probably useless, and adding extra complexity that is not serving any purpose. I recommend not using components except for compiled libraries and only when link times or issues appear
- Start calling your packages with all low

[2022-06-16 18:42] wbehrens-on-gh commented on #11453
output of `conan create recipes/custom/libplist/all/ libplist/2.2.0@ --build missing -pr:b=profiles/Ubuntu20.04_x64.jinja`
<details><summary>Click to expand log</summary>

[code]

</details>

[2022-06-16 18:51] wbehrens-on-gh commented on #11453
@memsharded The generated .pc file looks like this
[code]

[2022-06-16 19:03] spektrof commented on #11473
Hi @memsharded ,

Thanks for your reply!

We definitely need to check Conan 2.0 but we cannot really use that until it's an alpha release. I will discuss it with my team.

Currently our aim is to build any 3rdparty libraries which are available in the `conan-center-index`, upload them to the artifactory, so other users can consume the same package and having reproducible builds with conan dependen

[2022-06-16 20:59] anderson-dev commented on #11297
We have been able to move forward with specifying --force as a workaround. I believe even if I were to do `conan export` I would still need --force because the recipe did not change.

Maybe there would be a way to determine whether the recipe changed before attempting to export a recipe to avoid the failure in the case of exporting a recipe that turns out to be the same hash? idk

[2022-06-16 21:02] anderson-dev commented on #11297
should I create a new issue and try to give more detailed reproduction steps? I don't see how the `--build=missing:<pattern>` feature is relevant here.

[2022-06-16 21:03] anderson-dev commented on #10962
coming back to this soon I promise. Or maybe we can close and I'll open a new issue once its not a backburner issue?

[2022-06-16 21:09] CD3 commented on #7118
I've been experimenting with different ways using a packages CMake Config file and I have found that this works if you have control over the recipe.
[code]
I've also tried
[code]
which will add a line to one of the `CMakeDeps` generated files that just sources the package's Config file. This isn't very nice through because then both `CMakeDeps` and the package's Config are trying to setup the targ

[2022-06-16 21:18] anderson-dev opened #11474 "[question] How to handle Windows Resource Files (.rc)"
Our Windows components (dlls and exe) make use of a [Windows Version Info Resource File](https://www.osr.com/nt-insider/2011-issue2/creating-proper-version-information-resource/) (*.rc) in order for Windows to properly display the correct version of the artifact when right-clicking and then click the `Details` tab. As part of a pre-processor step before calling `conan build`, I calculate the curre

[2022-06-16 23:08] memsharded commented on #11473
Sure, you don't need to jump to Conan 2.0. Most of the tools that you need to be ready for 2.0 are already available in Conan 1.X. The migration guide in https://docs.conan.io/en/latest/conan_v2.html, describe many of those things that need to be taken into account (Conan 2.0 beta is probably being released tomorrow)

This is totally fine, and the majority of users are actually storing their packa

[2022-06-17 02:34] qh-huang commented on #10919
@WilliamBehrens is it solved? I also need bluez and considering to compile one and push it to conan center. Good to know someone has the same goal.

[2022-06-17 06:29] tarcisiofischer commented on #11463
Well, to be fair, `Conan` could try pointing a little more information in the error message, hoping to get the user in the right direction.

To be more specific, let's go back to the original error:
[code]

It is impossible to know from which `flex` Conan is talking about due to the lack of context. I guess it _assumes_ 'conancenter', but that's just the common case - If the user tries [to go to c

[2022-06-17 06:31] EstebanDugueperoux2 opened #11475 "[question] How to retreive reports generated by CMake"
Hello,

I'm in a CI context (Gitlab CI), and have CMake which generates some tests results and coverage reports in XML files.
My CI instructions consists to call "conan create ." then "conan upload".
I search a mean to retreive the path to these XML files reports in a genery way, for example a way to retreive "~/.conan/data/myPackage/x.y.z/user/channel/build/packageId/tests/gtests-*.xml" path, to

[2022-06-17 07:20] memsharded commented on #11475
Hi @EstebanDugueperoux2

If you would like to have these files as part of the package, then you need to package them. Probably something like:

[code]

That would make the logs part of the Conan package. Not sure that is what you want. These kind of files often are part of the CI
Probably the approach you are looking for is to use a ``post_build()`` Conan hook. You can write a script that will exe

[2022-06-17 07:35] spektrof commented on #11473
Hi @memsharded ,

Thank you for some clarifications and suggestion about how to move to Conan 2.0.

It's good to know, thank you!

I disagree with this, if I want to consume a package from the artifactory, and run a `lock create` without knowing the revisions / configurations, it will generate a wrong, in some cases unusable lockfile. Also, based on your policy, it will generate a different lockfi

[2022-06-17 08:13] memsharded commented on #11473
But this is not how lockfiles are used. Of course if you generate a new lockfile later in time it can resolve to a different set of revisions. Lockfiles are snapshots in time of a dependency graph. If you create snapshots in different points in time, you can get different results. This is how lockfiles work in all other package managers too. The point of a lockfile is not that your repository cann

[2022-06-17 08:22] jcar87 commented on #11473
Hi @spektrof -

As @memsharded  has mentioned, I believe what you are experiencing is the "expected" behaviour given how the recipes are configured.

In particular, looking at your `conanfile.py` for `pkgB`:
[code]

You are describing the following situation:

According to the documentation for `self.info.header_only()` (link [here](https://docs.conan.io/en/latest/reference/conanfile/methods.html?

[2022-06-17 08:51] spektrof commented on #11473
Hi @memsharded , @jcar87 ,

Thanks for your replies and clarifications.

Exactly, this looks good to me.

I want to keep building the packages with the latest recipes in CI and upload them to the artifactory, but I don't want to consume them automatically, so I don't want to lock the revisions in recipes because that would be an unnecessary work.

Currently, I only want to build the packages from

[2022-06-17 09:58] lasote opened #11476 "[feature] CMakeToolchain: declare `cacheVariable` to be stored in CMakePresets"
Proposal something like:

[code]

To discuss, names and interface.
https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html

NOTE: `CMake` conan build helper parses that CMakePreset.json and pass variables with `-D` to the command line.

[2022-06-17 11:30] Minimonium commented on #3919
For readers - there is a possibility to override the behavior with `tools.cmake.cmaketoolchain:toolset_arch=xxx` in a `[conf]` setting.  Changing `CMAKE_VS_PLATFORM_TOOLSET_HOST_ARCHITECTURE` would be incorrect since it's a generated value.

Should probably be propagaded from the host arch setting, since it's an important setting for `import` expression generation.

[2022-06-17 11:40] DavidKeller commented on #3113
The surprising behavior seems to be caused by the following code

https://github.com/conan-io/conan/blob/f230bf104842c160be6ea377497151fe1ea64c38/conans/client/graph/range_resolver.py#L150

1. The first remote containing a recipe with the same name is selected
2. Then the version of this recipe is checked

A possible implementation would be to:

1. Save all recipes with a matching name, along side

[2022-06-17 11:53] memsharded commented on #3113
Hi all

This was very difficult to resolve in Conan 1.X without breaking, but it has been already addressed in Conan 2.0

Installation of packages, and ``--update`` of packages will now iterate in the different defined remote repositories to define which one is the latest satisfying the range, not just the first one, and there is no association between cache recipes and remotes.

I am closing this

[2022-06-17 11:53] #3113 closed

[2022-06-17 12:23] memsharded commented on #11444
Hi @NeoCortex97

Any feedback regarding the above? Did you make it work?

[2022-06-17 14:06] jcar87 commented on #11453
Hi @WilliamBehrens  - thanks for providing additional information.

The "original" `.pc` files that `libplist` would generate if it were to be installed in a fixed location make reference to "two" separate libraries: `libplist-2.0` and `libplist++-2.0`. If a project only needs `libplist-2.0`, then it would only end up linking against `libplist-2.0.so`.

However, the conan-generated `.pc` file for

[2022-06-17 15:43] memsharded commented on #11392
Hi @Connor-A

Did the above clarified a bit your question? Please let me know if you any further question, or feel free to close the issue. Thanks!

[2022-06-17 15:43] wbehrens-on-gh commented on #11453
@jcar87 That fixed the libtool error but the .pc it's generating is this
[code]
The problem now is that it can't find the include directory (notice how to original had extra `Cflags`

Some other things I noticed is the lack of a `Requires` field within the .pc file and there being no -L"${libdir1}" like in the original.

[2022-06-17 15:45] memsharded commented on #11369
This should be reconsidered with the whole Conan output strategy, not isolated, to be discussed in https://github.com/conan-io/conan/issues/11393

Most likely it shouldn't be a CONAN_ CMake variable to control that, but some other strategy to define the level of verbosity that is desired for tools too.

[2022-06-17 17:38] Connor-A commented on #11392
@memsharded Sorry for the late response! I think I understand what you're saying.

To reiterate, some build processes depend on additional files that would likely have been provided by your dependencies if conan was not sitting in between the source you are building and the dependency.

Conan is able to dynamically generate these additional files. It must generate the files based on which build sy

[2022-06-18 11:27] SSE4 opened #11480 "[bug] concurrency errors in conan export"
### Environment Details (include every applicable attribute)
  * Operating System+version: `macOS 12.3`
  * Compiler+version: `Apple clang version 13.1.6 (clang-1316.0.21.2.5)`
  * Conan version: `Conan version 2.0.0-alpha7`
  * Python version: `Python 3.7.1`

### Steps to reproduce (Include if Applicable)

launch a simple script:
[code]

### Logs (Executed commands with output) (Include/Attach if

[2022-06-18 17:54] Hyderman opened #11481 "[bug] ConanException: compiler.version setting required for vcvars not defined"
### Environment Details (include every applicable attribute)
  * Operating System+version: windows 11
  * Compiler+version: clang 14
  * Conan version:
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)
Conanfile.txt :
[code]
command :
[code]

profile :
[code]
Error :
[code]

[2022-06-19 05:53] samuel-emrys opened #11482 "[feature] Using conan build when installed using `--output-folder`"
Currently, I can't see a way to invoke `conan build` to build a library if it has been installed using `--output-folder` in conan 2.0. To illustrate:

[code]
This results in the following structure:

[code]
These are my various attempts to build from this structure using `conan build`:

[code]
[code]
As far as I understand, this is the limit at which I can go before I start using deprecated featur

[2022-06-19 06:05] samuel-emrys opened #11483 "[bug] Specifying `--output-folder` does not move all generated files to the specified folder"
### Environment Details (include every applicable attribute)
  * Operating System+version: Arch Linux
  * Compiler+version: clang 13.0.0
  * Conan version: 1.49.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
When running `conan install` with the `--output-folder` flag, a number of files are generated in the root of the project, as demonstrated below:

[code]
Which res

[2022-06-19 06:20] samuel-emrys opened #11484 "[feature] A way to suppress generation of superfluous files?"
Currently, using the `CMakeToolchain` generator, a number of files are generated in the project root that serve no purpose:
* `conaninfo.txt`
* `graph_info.json`
* `conan.lock` (? not sure if this has been deprecated)

It would be good to have a way of either suppressing the output of these and other deprecated/superfluous files where they just add clutter, or at a minimum, add the ability to move

[2022-06-19 07:53] Sil3ntStorm commented on #11467
Thanks, I will check that tomorrow.

As for the last section I would suggest rewriting that to be more explicit as to what is removed in conan 2.0. On first read it read as though the feature described on that very page is to be removed in conan 2.0, when (at least I assume) the features described on that page are there to remain, but the scm attribute of a conanfile is to be removed in conan 2.0.

[2022-06-19 09:52] memsharded commented on #11467
Clarified in https://github.com/conan-io/docs/pull/2595. In any case, the information is better summarized in the migration guide: https://docs.conan.io/en/latest/conan_v2.html

[2022-06-19 09:59] memsharded commented on #11484
These files have already been removed in Conan 2.0.
But it was not possible to get rid of them in Conan 1.X, as that would be breaking some users, so they are still there, cluttering a bit the folders, we know it, but so far that was a minor thing compared to the risk of breaking. And as we are already into 2.0, beta is being released this week, the extra effort of adding opt-outs and workarounds

[2022-06-19 10:00] memsharded commented on #11480
This is not a bug, this is per-design.
The Conan cache in 2.0 is not concurrent, you need to do the exports sequentially.

We will eventually work on concurrency after 2.0, but at the moment this is not a bug.

[2022-06-19 10:03] derived-coder commented on #7192
One possible solution for the problem
Add this to your cmake target:
[code]

[2022-06-19 10:04] samuel-emrys commented on #11484
Thanks for the update. Do you have any estimates for when 2.0 well be out of pre-release?

[2022-06-19 10:05] memsharded commented on #11392
That is super unlikely to happen in many build systems. For example, I don't know any project that provide files to be used by Visual Studio natively.

Yes, exactly. ConanCenter contains packages built with a large variaty of build systems: autotools, meson, cmake, scons, visual, cmake, etc. Conan can abstract away the build system for the consumers. We think this is a very good decoupling, lettin

[2022-06-19 10:06] memsharded commented on #11484
It depends on the feedback, there is not a closed deadline. But I guess at least a few beta releases will follow, like 3-4 (which roughly translate to months)

[2022-06-19 10:12] #11484 closed, assigned to nobody

[2022-06-19 10:14] SSE4 commented on #11480
I struggle to find the information, maybe @czoido or @jgsogo can clarify. I only found some earlier PRs about new 2.0 cache (#8510, #8796, #9164), and these PRs mentioned concurrency support.
anyway, it worked correctly in 1.x, so it's a regression in 2.0.

[2022-06-19 10:17] memsharded commented on #11480
Conan 1.X never promised nor documented to be concurrency-safe, so in that sense it cannot be a regression.

Here you can find the summary for 2.0 that indicates the cache is not concurrent: https://github.com/conan-io/docs/pull/2593

[2022-06-19 10:23] memsharded commented on #11481
Hi @Hyderman

Can you please specify the Conan version you are using? This is critical to debug what could be happening.
Then, please try to reduce the case to the minimal reproducible case. I think requiring directly openssl in your conanfile could be enough, and it is not necessary to require ``poco`` and all its transitive dependencies.

I have being trying to reproduce, without success. I am g

[2022-06-19 10:43] opelx opened #11485 "[bug] Conan's FindBoost doesn't honor CMake's find_package(... OPTIONAL ...)"
### Environment Details (include every applicable attribute)
  * Operating System+version: WIndows, Linux
  * Compiler+version: Clang-14, Gcc-11, MSVC-17 (VS2022)
  * Conan version: 1.49
  * Python version: 3.10.5

### Steps to reproduce

make a CMakeLists.txt which contains:

[code]
Conan's data dir holds some of the optionals (Windows host)

[code]
running CMake gets

[code]

Inside build direct

[2022-06-19 11:07] memsharded commented on #11485
``cmake_find_package`` has been removed in Conan 2.0, which is about to go beta.
I'd recommend to try the ``CMakeDeps`` generator, and report about it.
I would also try to remove the ``conan.cmake`` integration, and report it with a plain ``conanfile.txt`` with ``CMakeDeps``, ``CMakeToolchain`` (and even the new ``[layout]``)

[2022-06-19 15:36] Hyderman commented on #11481
My conan version is 1.49.
I'm following the tutorial so i don't really need to use poco now.
I tried to use gcc:
[code]
Other things i use:
* IDE: Clion
* MSYS2 with mingw64

I can download openssl with gcc but i block at an other step:
[code]

[2022-06-19 18:55] Connor-A commented on #11392
Thanks for explaining this all to me! I think I've got a good grasp of it now.

[2022-06-19 18:55] #11392 closed, assigned to memsharded

[2022-06-19 20:05] memsharded commented on #11392
Great! Happy to help, don't hesitate to submit more tickets if you have further questions.

[2022-06-19 20:24] memsharded commented on #11481
Hi @Hyderman

I would like to recommend 2 different approaches to learn Conan in Windows:
- Using the recommended default compiler in Windows, which is Visual Studio. The community edition is completely free and easy to install. All the recipes in ConanCenter are built with Visual Studio, but not Mingw, so their support for Mingw might be limited.
- Use docker, this is the approach done by the fre

[2022-06-19 22:55] Hyderman commented on #11481
Hi @memsharded

I have the same error than you,
I tried with wsl and it works perfectly. I will try with docker and msvc later.
Thanks.

[2022-06-19 22:55] #11481 closed

[2022-06-19 23:05] memsharded commented on #11481
Great to know.

If later you still want to use mingw, and some recipe in ConanCenter is not building correctly, the best way is to report it to the ``conan-center-index`` repo. The community of contributors is doing a fantastic job there.

[2022-06-20 07:16] lasote commented on #7118
No, there is not that possibility. The  `config` files in your package should be located with a call to `find_package` directly so the first approach looks better. Including a "config" from another config generated by conan looks weird.

About the multi-config, I'm aware of the limitation of the `CMakeToolchain` that currently sets the `CMAKE_PREFIX_PATH/CMAKE_MODULE_PATH` to the latest installed.

[2022-06-20 07:40] memsharded commented on #11275
Hi @gabyx

Sorry for the delay in responding.

I am putting this test, to validate that the recipe can be inside a subfolder and not the root:
[code]

As long as the ``git = Git(self, os.path.dirname(self.recipe_folder))`` in the ``export()`` points to the root folder, it seems to work fine.

Please have a look and let me know.

[2022-06-20 08:42] AndreyMlashkin opened #11487 "[bug] add possibility to override default_options"
### Environment Details (include every applicable attribute)
  * Operating System+version: Any
  * Compiler+version: Any
  * Conan version: 1.49.0
  * Python version: Any

### Steps to reproduce (Include if Applicable)
relates to https://github.com/conan-io/conan-center-index/pull/11154
Please, try to build a recipe from this MR:
cd recipes/sentry-native/all
conan create . sentry-native/0.4.17@tes

[2022-06-20 09:15] memsharded commented on #7019
the new settings model for ``msvc`` in 2.0 has solved it:

- Using compiler versions instead of IDE versions
- Using "static", "dynamic" for ``runtime``
- Using "Debug", "Release" for ``runtime_type`` (that will be automatically filled with ``build_type`` if not explicitly specified

Conan 2.0-beta is out there, feedback welcome

[2022-06-20 09:15] #7019 closed, assigned to nobody

[2022-06-20 09:34] memsharded commented on #11476
How is multiconfig achieved? With ``if something: toolchain.cache_variables = ....``?

[2022-06-20 12:05] opelx commented on #11485
Thank you for your fast answer.

The docs shows a lot of informations for package providers, but I'm "consumer" and got probably lost. The charm of conan-cmake is imo related to the fact, that the e.g. conanfile.txt is given to the CMake function and the dependencies (nevertheless the build mode debug/release) are built before CMake self starts the configure process.

Anyway, I started and failed

[2022-06-20 13:01] CD3 commented on #7118
I agree, and we actually have a package that depends on `MyLib_DIR` being set to the correct directory, which won't be the case if CMakeDeps generates one in the build directory.

You are correct. I am not very familiar with generator expressions, so I was still trying to understand how it could work. Generator expressions only affect cmake's "generate" step so they cannot conditionally include a

[2022-06-20 13:29] spektrof commented on #11473
Hi,

I checked some possibilities what you suggested and I have:

_1) specifying revisions in recipe:_
I can differentiate the packages in that case, however it's complicated to do that because I would have to patch the recipes from leaf nodes to the root node in the dependency tree. In addition the revision would be always different, no matter what kind of changes has been made on a recipe.

_2)

[2022-06-20 14:21] CD3 opened #11489 "[bug] CMakeToolchain defaults to Unix Makefiles if `compiler` is not in `settings`, even on Windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 19
  * Conan version: 1.48.1
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)

Write a recipe that does not depend on the compiler (for example, a package that just includes CMake macros)

[code]
Include it as a dependency or call `conan

[2022-06-20 14:49] #11453 closed, assigned to jcar87

[2022-06-20 15:09] wbehrens-on-gh opened #11490 "[bug] Failure to find component include directories"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 9.4.0
  * Conan version: 1.49.0
  * Python version: 3.8.19

### Steps to reproduce (Include if Applicable)
A continuation of this [issue](https://github.com/conan-io/conan/issues/11453) I opened a new one since the actual problem is different

I have a recipe that's bei

[2022-06-20 21:26] memsharded commented on #11432
This seems to be solved in 2.0, and a workaround with -p syntax is possible in 1.X, closing. Thanks for the feedback!

[2022-06-20 21:26] #11432 closed, assigned to memsharded

[2022-06-20 21:27] memsharded commented on #10785
Closed by https://github.com/conan-io/conan/pull/11368

[2022-06-20 21:27] #10785 closed, assigned to nobody

[2022-06-20 21:59] memsharded opened #11494 "Artifactory "latest" endpoint poor performance"
Using the API worked well, but I discovered a performance bug in Artifactory.
Using Conan's logging facility I found that accessing the `latest` REST endpoint took over half a second for each dependency. Here's the line from the log file:
`{"_action": "REST_API_CALL", "duration": 0.5114703178405762, "headers": {"Authorization": "**********", "User-Agent": "Conan/1.15.1 (Python 3.7.3) python-reques

[2022-06-20 22:01] memsharded commented on #5198
Conan 2.0 is now in beta, it includes a Python API, that would solve this issue. Keep tuned to https://docs.conan.io/en/2.0/index.html for updates in the documentation of this API

[2022-06-20 22:01] #5198 closed

[2022-06-20 22:02] memsharded commented on #11494
Jira ticket: https://www.jfrog.com/jira/browse/RTFACT-19290

[2022-06-20 22:04] memsharded commented on #5562
This was solved in 2.0, already available in beta.

[2022-06-20 22:04] #5562 closed

[2022-06-20 22:05] memsharded commented on #5401
Done, already fixed in 2.0 beta

[2022-06-20 22:05] #5401 closed

[2022-06-20 22:06] #4933 closed

[2022-06-20 22:11] memsharded commented on #6584
self.develop removed in 2.0.

The recommend way for such a testing flow, is to do a local build, then use ``conan export-pkg``, or to use user ``conf`` for controlling behavior.

[2022-06-20 22:11] #6584 closed

[2022-06-20 22:12] memsharded commented on #6828
Conan 2.0 has made explicit ``conan install <path>`` and ``conan install --requires=<ref>``
Already in beta: https://docs.conan.io/en/2.0/index.html

[2022-06-20 22:12] #6828 closed, assigned to nobody

[2022-06-20 22:15] memsharded commented on #6973
Merging yaml files has finally been discarded at the moment. Maybe we will reconsider in 2.X, but not now.

The settings migration has been simplified, made explicit (with a comment at the beginning of the file, that can be removed)

[2022-06-20 22:15] #6973 closed, assigned to nobody

[2022-06-20 22:17] memsharded commented on #7873
We have already started to use format() or f-strings. There might be old % in some places, but those will be gradually replaced when we work on that code. I am closing this as done.

[2022-06-20 22:17] #7873 closed, assigned to nobody

[2022-06-20 22:18] memsharded commented on #7998
Conan 2.0 iterates the remotes for install, this is implemented and released in Conan 2.0-beta. Closing.

[2022-06-20 22:18] #7998 closed, assigned to nobody

[2022-06-20 22:23] memsharded commented on #6552
Conan 2.0 makes the total length of the reference <200 chars, so channels might be longer.

Note, however, that using channels for something that changes is strongly discouraged. Most likely channels should only be None (not mandatory anymore), or "stable" and "testing", just to make sure that experiments with packages don't get into production. But ``conan copy`` has been dropped, and it is not r

[2022-06-20 22:23] #6552 closed

[2022-06-20 22:24] memsharded commented on #5489
Done in 2.0 beta

[2022-06-20 22:24] #5489 closed

[2022-06-20 22:27] memsharded commented on #3713
Conan 2.0 removes the access to settings and options in ``source()`` to protect against this.

[2022-06-20 22:27] #3713 closed

[2022-06-20 22:29] memsharded commented on #4048
Conan 2.0 has finally decided to move forward with the ```deployers`` approach, that will allow to do whatever operations, even full copies from the cache to a project folder, and then patching rpaths, if that is the desired behavior.

[2022-06-20 22:29] #4048 closed

[2022-06-20 22:30] memsharded commented on #5807
Solved in Conan 2.0, as build_requires are always part of the graph. Please test in the 2.0-beta.1 already available.

[2022-06-20 22:30] #5807 closed

[2022-06-20 22:31] memsharded commented on #6183
Implemented with the ``deployers`` approach

[2022-06-20 22:31] #6183 closed

[2022-06-20 22:35] memsharded commented on #6469
Conan 2.0 allows this:
- ``self.dependencies["mydep"].ref.version`` gives the dependency version
- This can be used in ``generate()`` method to define whatever information in the current build system.

Both things are already available in conan 1.49 too.

[2022-06-20 22:35] #6469 closed

[2022-06-20 22:40] memsharded commented on #7433
latest Conan 1.X versions have already moved to this explicit ``generate()`` method, which will be the default in 2.0. Not even necessary to report the generated files, the ``build()`` utils will use these file accordingly.

[2022-06-20 22:40] #7433 closed, assigned to nobody

[2022-06-20 22:42] memsharded commented on #8148
Conan 2.0:

- Mades error on override the default
- Reduces or remove unnecessary warnings with valid version ranges.

2.0-beta.1 is already out, feedback welcome!

[2022-06-20 22:42] #8148 closed, assigned to nobody

[2022-06-20 22:44] memsharded commented on #8918
Solved in 2.0-beta.1, feedback welcome

[2022-06-20 22:44] #8918 closed, assigned to czoido

[2022-06-20 22:46] memsharded commented on #1483
Conan 2.0 removes the ``imports`` approach in favor of new ``deployers``: https://docs.conan.io/en/2.0/index.html, this issue is no longer relevant

[2022-06-20 22:46] #1483 closed

[2022-06-20 22:48] memsharded commented on #1561
These generators are deprecated now, new generators in https://docs.conan.io/en/latest/reference/conanfile/tools.html should be used instead, please report against them if necessary.

[2022-06-20 22:48] #1561 closed

[2022-06-20 22:49] memsharded commented on #2428
os_target dissapears in the new cross-build model with host-build profiles

[2022-06-20 22:49] #2428 closed

[2022-06-21 03:23] scandyna opened #11495 "[feature] CMake find_package() COMPONENTS syntax across Conan packages"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

# Example use case: split Qt packages

As an example, imagine we want to split Qt into several Conan packages.

In the user conanfile.txt:
[code]

In the user CMakeLists.txt:
[code]

For the COMPONENTS syntax of `find_package()`, Cmake requires a file, named `Qt5Config.cmake`.

For th

[2022-06-21 04:17] initlifeinc opened #11496 "[question] How i can easy modify&debug source code of a conan library?"
i create a conan package and integrate into my application.

but if i have a problem which is hard to fix, i hope i can integrate the source code of this conan library with application and then i could modify the source code, run and debug application, and repeat these two steps. it is a easy way for me to quick modify and check whether i fix the issue. i can see a way to use "conan source" and "c

[2022-06-21 07:23] memsharded commented on #11496
If you are going to heavily work on some recipe, it is probably recommended to use the ``editable`` feature.
You will also need to modernize the recipe, and use ``layout()``, ``generate()``, and the ``CMakeDeps`` ``CMakeToolchain`` new integrations. A good starting point is ``conan new hello/0.1 --template=cmake_lib``.

You can check: https://docs.conan.io/en/latest/developing_packages/editable_pa

[2022-06-21 07:28] memsharded commented on #11489
This is not a bug. The helpers, like ``CMakeToolchain`` do need a compiler defined, otherwise it will default to whatever it things.
``CMakeToolchain`` or other CMake related tools like ``CMake`` could raise an error if compiler is not defined, but it happens there are some edge cases that compilation is not necessary, and only makefiles are enough for some automation, so it is not raising at this

[2022-06-21 07:36] franramirez688 commented on #11490
Hi @WilliamBehrens

I'm not able to reproduce the issue... These are the steps that I'm following:

1. Create and install the package, and check that the custom paths appear.
2. Remove the includedirs and libdirs from the recipe.
3. Create the package and install it, and check that the default paths appear.

Everything works as usual. For the record, I'm using `conan create . && conan install myli

[2022-06-21 07:49] memsharded commented on #11487
Overriding options assignment from downstream is working now in 2.0. Adding a test in https://github.com/conan-io/conan/pull/11497 that verifies this explicitly.

[2022-06-21 07:56] AndreyMlashkin commented on #11487
The issue is about default_options. Options override works in conan 1.49.0 as well

[2022-06-21 08:02] memsharded commented on #11473
Yes, but this is the price to pay for full determinism. If you want to ensure the upstream dependency is identical, you can only compare the contents hash. If something changed in the recipe, it could be from something irrelevant with no effect, or an important change that affects how the package is built. But that is impossible to know automatically, so if determinism is wanted, it should be cons

[2022-06-21 08:02] #11473 closed, assigned to memsharded

[2022-06-21 08:08] memsharded commented on #11487
Yes, that is true.
But what is the issue then? Why settings the options is not enough? At the end, the ``default_options`` are only used to initialize the value of the options, if setting the option value works, what is the problem?

[2022-06-21 08:15] AndreyMlashkin commented on #11487
Take a look at the related issue.
Sentry uses different backends:
crashpad, breakpad and inproc. Some of them are only available on Linux, some on Windows and some on Android.
It is much more convinient to have a recipe, that has valid default options, rather then force user to override them.

[2022-06-21 08:19] memsharded commented on #11487
But the user is not forced to override them. The ``config_options()`` and setting ``self.options.backend = "crashpad"`` does the work fine, and the option has different values for different platforms, without user needing to override them. It is validated in the test in https://github.com/conan-io/conan/pull/11497, if nothing specified from downstream it has the right value.

If it is for the outp

[2022-06-21 08:57] AndreyMlashkin commented on #11487
Android can only use inproc backend. If you're compiling sentry for Android, you are forsed to override backend to inproc.

What I haven't mentioned is that in my proprietary recipe, I override (hardcode) sentry backend. But my override in a dependent recipe does not have an effect, as sentry hardcodes it to another value, which seems to have higher priority.

[2022-06-21 11:21] spektrof opened #11498 "[feature] Environment variable for local recipes directory"
Hi,

We are using [conan-center-index ](https://github.com/conan-io/conan-center-index/tree/master/recipes) to build packages and upload them to the artifactory. In some cases we need to patch either the recipe or the source code in order to fit our needs. We try to contribute back some of these changes to the upstream when we can, but that can take too much time to get merged.

Recipe changes can

[2022-06-21 11:59] CD3 commented on #11489
OK, thank you for the response. In my case, I had a package that was just installing some CMake files with macros, so I did not include `compiler` in the settings. I was surprised that Conan was setting the generator to Makefiles instead of leaving it empty and letting CMake determine the default, but the fix is simple enough.

[2022-06-21 11:59] #11489 closed, assigned to memsharded

[2022-06-21 12:15] memsharded commented on #11489
yes, exactly Conan defaults to MinGW, but for those types of recipes, it is easy to define a different generator in the recipe

[2022-06-21 12:48] wbehrens-on-gh commented on #11490
[code]
the pkg-config file generated by PkgConfigDeps from this package. There are 2 of them, for each component, which is expected, but what's off is that there is no default `libdirs` or `includedirs` set meaning they will never link correctly. This is fixed by adding:
[code]
to each component, another thing is that the .pc files generated for the components are missing their `Requires` field fr

[2022-06-21 13:04] memsharded commented on #11487
This is exactly what I meant. This should have been fixed by Conan 2.0, because we changed this priority. It would be good to reproduce and capture in a explicit test.

[2022-06-21 13:31] franramirez688 commented on #11490
That recipe is not running on my side 😢 I guess I need some sources to run it successfully.

Anyway, let's try the simplest one to discard any other problems:

**conanfile.py**
[code]
Then, if you run:

[code]
Are the default paths appearing or still missing?

In my case, yes, they're there:

[code]

You're running Conan 1.49.0, aren't you? If it's working fine on your side, then, I'll need your h

[2022-06-21 13:41] memsharded commented on #11487
I have been able to reproduce the failure in Conan 1.X, and updated the test in https://github.com/conan-io/conan/pull/11497.

It is true, in Conan 1.X, the definition of options of dependencies in recipes has higher priority than the downstream. This has been fixed in 2.0.

[2022-06-21 13:48] memsharded commented on #11498
Hi @spektrof

I think you are looking for this: https://github.com/conan-io/conan/pull/10433. It allows to define a repo with the same structure as ``conan-center-index`` repo, and use it transparently. However this is a very early proof of concept, and it will be on-hold until Conan 2 is stabilized first, it will take some time.

In the meantime, I would recommend the following flow, which should

[2022-06-22 04:29] maitrey opened #11499 "[question] package_info method is not working as expected"
Hello Conan Folks, I have set up host profile and build profile I use a default one. I have set up cmake toolchain repo where I am setting up the necessary compiler and linker flags. But the package_info method seems to work in a loop and doesnot work as expected. I am not sure what i am doing wrong.

[code]
I use : `conan create . 1.0.0@test/devel  -pr:b=default -pr:h=kdp` it does pick and print

[2022-06-22 06:22] Tumb1eweed opened #11500 "[question] How can I get other conan package's info in current recipe?"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

For example, I am writing a recipe for A, and A requires B and C(also as conan package), and I need to get B and C's lib and header file location in A's recipe, how can i get it？

[2022-06-22 07:12] harsszegi opened #11501 "[question] How to handle changes in profiles?"
Hi guys,

what is the canonical way of handling package options? I mean we usually define profiles which set the certain package options in them.
How to handle the case if a given package introduces a new option? If I add this to the same profile, consumers using the old version of the same package (without the new option) would epic-fail as Conan would complain that the given option does not exis

[2022-06-22 07:18] EstebanDugueperoux2 commented on #11475
Hi @memsharded

Indeed hook seems a good solution.
#4694 issue talks about that also.

[2022-06-22 07:18] #11475 closed, assigned to memsharded

[2022-06-22 08:36] stlu1022 opened #11502 "[question] How to generate multiple packages out of one build and conanfile?"
Hello folks,

We are trying to generate multiple packages out of one build and conan file similar to [Package Approaches](https://docs.conan.io/en/latest/creating_packages/package_approaches.html) with the difference that we don't want to use build_type to differentiate since we need a debug and release version of each package.

What would be the right way to generate multiple packages out of one

[2022-06-22 09:09] memsharded commented on #11502
Hi @stlu1022

Using the ``build_type`` setting is exactly the way to generate multiple package "binaries". You keep the setting, and then do:
[code]
Conan package binaries are single-configuration, because that has multiple advantages as scale, you can build way more configurations in the same way:
[code]
Also other reasons as performance (get only the binaries you need for a given build), securit

[2022-06-22 09:12] EstebanDugueperoux2 commented on #11475
Then I try to prototype my hook to copy my gtest results to the original git clone:

[code]

But `conanfile.recipe_folder` doesn't seems a known attribute, while it is in the documentation https://docs.conan.io/en/latest/reference/conanfile/attributes.html#recipe-folder and I use conan latest release (1.49.0).
In addition recipe_folder doesn't corresponds to the git clone where I execute "conan cr

[2022-06-22 09:18] memsharded commented on #11500
Use:
[code]
Recall the recommend way to do this is in the ``generate()`` method of the consumer, to "prepare" the build with the information it needs.

See https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

[2022-06-22 09:21] lasote commented on #11476
It cannot be managed for multi-config generators, even if you introduce the `if something:` that goes in the same "configure preset" that is common in the multi-config generators: (1 configure: 2 builds)

[2022-06-22 09:37] franramirez688 commented on #11499
Hi @maitrey

Yes, I guess that we're missing some important notes at the documentation level. I'll add some lines there to keep it clearer.

Let me show you how to use it correctly through this example:

**mac**
[code]
**ios**
[code]
**conanfile.py**
[code]

Now, you can create this package as a `build require`: `conan create . -pr:b=macos -pr:h=ios --build-require`.

Notice that, in Conan 2.X, if

[2022-06-22 09:43] memsharded commented on #11475
Hi @EstebanDugueperoux2

The thing is that the ``build()`` method does not necessarily have access at all to the git repo. For example, if you use ``conan install  mypkg/version@ --build=mypkg``, that doesn't build the package from a repo, it can download the recipe from the server, then build it in the cache, retrieving the sources (stored with ``exports_sources``, or in the ``source()`` method).

[2022-06-22 10:03] EstebanDugueperoux2 commented on #11475
In fact I don't want to version these tests results but I want to have them in a fixed path to be retreived by my CI pipeline.
Once on a fixed path, following CI tasks can access them to upload them to SonarQube, Gitlab CI artifacts, ... .

[2022-06-22 10:12] EstebanDugueperoux2 commented on #11475
To compare with the way I do for a Java deliverable build with Maven:

- I have maven-surefire-plugin which generate JUnit results in target/ folder;
- Optionnally jacoco-maven-plugin to generate coverage report in target/ folder;
- And maven-sonar-plugin which access these reports to upload them to Sonarqube.

And as my CI pipeline is based on Docker, this is done in a simple Docker image includi

[2022-06-22 10:27] EstebanDugueperoux2 commented on #11475
And why https://docs.conan.io/en/latest/reference/conanfile/attributes.html#recipe-folder is not resolvable in a hook?
Is it a bug?

[2022-06-22 10:29] memsharded commented on #11475
The problem with ``recipe_folder`` is that even if it is resolved (I will have a look, that might be a bug), it will not be pointing to the user folder git repo. When it is in the cache the ``recipe_folder`` is a folder inside the cache, containing a copy of the ``conanfile.py``.

[2022-06-22 10:45] AndreyMlashkin commented on #11487
@memsharded is there any plan to allow overriding default options in conan 1.x.x or conan 2?
sentry recipe really needs this feature, as there is no other way to build upstream logic with conan otherwise:

https://github.com/getsentry/sentry-native#:~:text=README.md-,Official%20Sentry%20SDK%20for%20C%2FC%2B%2B,Supports%20Sentry%2020.6.

![image](https://user-images.githubusercontent.com/3842441/17

[2022-06-22 10:56] maitrey commented on #11499
Hello @franramirez688 , Thank you very much for your reply. But I just want to clarify before implementing as above. So my profile settings are very lean. I only have a default profile that comes with conan and two additional ones : kdp and ndp . Both of them contain `[tool_requires]
toolchain/2.0.0` . In the toolchain package  , I have cmake files defined which contains the compiler and linker fl

[2022-06-22 11:35] EstebanDugueperoux2 commented on #11475
Ok then according to what you say and what is written in doc (https://docs.conan.io/en/latest/reference/conanfile/attributes.html#recipe-folder), I imagine when invoking the first time "conan create" with an empty cache recipe_folder is set to local folder, i.e. git clone in my case, and for following invocation, i.e. with cache non empty recipe_folder is set to ~/.conan/data/recipeName/recipeVers

[2022-06-22 12:01] memsharded commented on #11475
It is only pointing to the user git repo folder in the ``export`` operation. After that, subsequent operations, like ``build()`` operates on the exported recipe, not the user folder one.

No, it is not a matter of implementation, is more a flow and definition thing. If you try to capture the user folder in the ``export`` time, that would still be broken, if your package builds later without the re

[2022-06-22 12:17] memsharded commented on #11487
Hi @AndreyMlashkin

Conan 1.X and Conan 2.0 allow overriding options, and conditionally set ``self.options.backend=xxx`` inside ``config_options()``. That is good enough to implement all the behaviors regarding the initial values of ``options``. It is not necessary to override ``default_options``, because ``default_options`` doesn't exist in the Conan model. You cannot do ``self.default_options[".

[2022-06-22 12:27] EstebanDugueperoux2 commented on #11475
I agree, a better solution could be to define a convention.
Now the difficulty is to choose a folder generated, corresponding to my CI execution without collision with another CI execution.
In my Gitlab CI Docker context, perhaps ~/.cache/ci/$CI_JOB_ID/ where my hook will copy the analysis results.

Thanks.

[2022-06-22 12:50] cognomen opened #11504 "[feature] Add armv8 support to MSBuildDeps generator"
Map `armv8` arch to MSBuild `ARM64` platform

PR to follow.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Passing  `-g MSBuildDeps -s arch=armv8` to `conan install` results in errors of the form:

[code]

[2022-06-22 13:10] AndreyMlashkin commented on #11487
I can change this ticket from [bug] to [Feature Request], but it will stay about the same: allowing to override default options. Include it to conan model, if needed (I am not so familiar with conan-client implementation).

Default options are indeed not relevant in build() or package().

Maybe it does not fit to the current architechture and you don't want to implement it, as it would look ugly a

[2022-06-22 13:12] memsharded commented on #11501
Hi @harsszegi

The compatible way to introduce new options, or new settings, without breaking, is to let them have a ``None`` value. For example:

[code]
With old profiles, not defining the ``myoption`` it will not fail. It will not change ``package_id`` either. New profiles can define the new values.

[2022-06-22 13:14] harsszegi commented on #11501
Awesome, thanks a lot!

[2022-06-22 13:18] memsharded commented on #11487
We need to understand the value proposition beyond "overriding default options". What problem is being solved here? Can you provide a very simple, unittest, similar to #11497, that illustrate the need for this? Why overriding options values is not enough? It is not that we don't want to consider it, is that we don't see at all why this is necessary. You agree that ``Default options are indeed not

[2022-06-22 13:21] harsszegi commented on #11501
Just a quick remark though. I might misunderstadning something.

I develop package "foo".
I release version 1.0.0 with

options = {
 bar1: [None, "val1", "val2"]
}

However when I want to release 2.0.0 I need to add a new option, e.g.:

options = {
 bar1: [None, "val1", "val2"]
 bar2: [None, "val3", "val4"]
}

Until 1.0.0 the profile only contained foo:bar1=val1
I need to add (for 2.0.0 consumers)

[2022-06-22 13:51] Adnn opened #11506 "[bug] cmake_layout generate several build folders"
We juste tried `conan_layout` with Conan version 1.49.0

We keep the conanfile in a "/conan/" subfolder, at the root of the repo.
So we have the following layout method:

    def layout(self):
        cmake_layout(self, src_folder="..")

Yet, after running `conan install`, it appears there are two build folders:
* One at the root of the repository (the one we expected)
* Another one in `/conan/bui

[2022-06-22 14:09] memsharded commented on #11501
Yes, you are right, if you need to keep the compatibility with older versions backwards, then you can do what you suggest, backport it. To make it not affect the ``package_id``, you might want to ``del self.info.options.bar2`` in the ``package_id()`` method. You might not need to create a new ``1.0.1``, as if the new option is not used at all, then it has no effect, it would be like adding a comme

[2022-06-22 14:19] franramirez688 commented on #11506
Hi @Adnn

I cannot reproduce the issue. Let's try it with a clean example:

[code]
In my case, I can see only the `./conan/build/` folder.
Let me know if it's running OK on your side as well. If yes, then let's see your recipe to check if there could be another problem. The root build folder has the same content as the `./conan/build` one?

[2022-06-22 15:07] EstebanDugueperoux2 commented on #11475
A least remark, I hope, why post_build hook is called only during test_package when this last exists?
Is it a bug?

[2022-06-22 15:28] franramirez688 commented on #11499
Hi @maitrey

I think it would be great if you provide a minimal example of what you're trying locally.
It'd be really useful for me to understand your case and talk about best practices.

Anyway, your project is running executing: `conan create . 1.0.0@test/devel -pr:b=default -pr:h=kdp --build-require`? It's just to clarify if it worked or not.

Talking about the `save` tool, you can have a look

[2022-06-22 15:53] harsszegi commented on #11501
Awesome, thanks a lot @memsharded

[2022-06-22 15:53] #11501 closed, assigned to memsharded

[2022-06-22 16:22] Adnn commented on #11506
But should not the build folder be `./build`, instead of `./conan/build`?

We were expecting the `build` folder to be created relative to the `src_folder` that was explicitly provided.

[2022-06-22 20:12] Sil3ntStorm opened #11508 "[bug] No options for build requirements"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 x64, Arch Linux
  * Compiler+version: MSVC 2022, clang14
  * Conan version: 1.49.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
Have a conan recipe that has dependencies on other conan packages, which are only there if the package is built, rather than consumer require

[2022-06-22 20:15] syncu2 opened #11509 "[bug] Packages using msys2 as a build requirement use wrong compiler when compiling for Mingw64"
I am using msys2 with the mingw-w64 toolchain as a build system and have noticed a problem with several conan packages using msys2 as a build requirement, e.g. libiconv and bison.

Here is a minimum example using CMake:

CMakeLists.txt:
[code]

main.cpp:
[code]

I installed MSYS2 under G:\msys64\ and with pacman, installed the binutils for mingw64. Therefore, the compiler binaries are located in G

[2022-06-22 21:07] memsharded commented on #11508
Hi @Sil3ntStorm

We are aware that there is a limitation regarding options for build-requires.

In Conan 1.x the best approach could be to leave the options definitions in the "build" profile.

Conan 2.0 implements a ``self.tool_requires("tool/version", options={"tool_option": "value"})`` to be able to specify options for an individual requires.

[2022-06-22 21:14] memsharded commented on #11509
Hi @syncu2

There are too many moving pieces here, lets try to reduce the scope, lets try:

- Better not use recipes from ConanCenter, they can be too complex. Lets start with a library with ``conan new dep/0.1 --template=cmake_lib``, then an executable like ``conan new app/0.1 --template=cmake_exe`` and modifying it to add a ``requires = "dep/0.1"``, and use the code from ``dep/0.1``
- Lets drop

[2022-06-22 21:33] syncu2 commented on #11509
Hello @memsharded
thanks for helping me out. Not sure if you understood me right, though. I don't want to create a new recipe. I am building a private application which depends on libiconv/1.16 and simply want to build and install that dependency using Conan.

To be clear: By msys2, I mean both my installation of msys2 (from https://www.msys2.org/) which I use to execute cmake and the msys2 instal

[2022-06-22 21:46] memsharded commented on #11509
Yes, I got that. But it is possible that ``libiconv/1.16`` has some issues. In that case, we would need to transfer the issue to ``conan-center-index`` repo, in case the recipe could be improved. Maybe it is not possible, ConanCenter recipes cannot target all the possible variants out there, and they are testing in Windows for Visual Studio compiler, and they might need to use ``msys2`` as a build

[2022-06-22 21:57] syncu2 commented on #11509
Yes, your first paragraph makes perfect sense and matches my observations. Visual Studio toolchain works fine, because the compiler is called cl.exe and it uses some auxiliary script to invoke the compiler rather than calling it directly and therefore it does not conflict with the gcc.exe from msys2.

In fact, I also tested the bison package which also uses msys2. Same issue there.
I will test it

[2022-06-23 02:31] paulharris opened #11510 "[bug] VirtualRunEnv only generates .bat files on msys"
Running `conan install something -g VirtualRunEnv` generates the conanrun.bat

But it should also generate .sh versions, for those of us using conan on msys / git-bash / git-for-windows.

Note that IMHO it should generate all: bat, .sh and .ps1
because it is possible and desirable to switch shell environments.

For example, cmake packages build fine on msys+msvc,
but automake packages don't build

[2022-06-23 02:49] paulharris commented on #11510
Even more baffling, on msys, it will generate .bat files when you do:
[code]

And it will generate .sh files when you have a recipe that depends on 'package' and you do:
[code]

[2022-06-23 04:00] paulharris commented on #10900
So how can someone build their own in-source recipe with "conan install . ; conan source ." in msys (and also probably "conan build ." and then switch to MSVC to compile and debug?
We are still pumping out the .sln files, right?
Won't those be building on the DOS MSVC Command Prompt environment?

I don't know all the problems you are talking about (apart from the generation-of-scripts), but it see

[2022-06-23 04:00] maitrey commented on #11499
Hi @franramirez688 , Thank you again for your reply. So here is the way I am trying to set up:
Example profile:
[code]

cmaketoolchain contains a src directory where I have different cmake files Example of src/kdp.cmake:

[code]

And here is the contents of conanfile.py:

[code]
I am using conan 1.47.0 and with this set up the conan create command fails. But conan create with --build-require passe

[2022-06-23 04:06] paulharris commented on #10900
Actually in my situation, I'd be happy with Windows paths in a environment.sh file.
I'm in msys, I'm using bash, but building Windows-native - ie does not need to run on the msys subsystem.

This already behaves this way when you run "conan install . -g VirtualRunEnv" -- you get the .sh files only.
So I can't use that build and switch to a DOS / MSVC environment to continue working there ...

It i

[2022-06-23 04:13] paulharris commented on #11510
Duplicate of #10900

[2022-06-23 04:13] #11510 closed, assigned to nobody

[2022-06-23 04:54] maitrey commented on #11499
Would it be a better idea to put everything in profiles and maintain different profiles instead?

[2022-06-23 04:57] paulharris opened #11511 "[bug] How to export and env variable in all run situations"
In my recipe, I want to declare an environment variable "CONSUMERVAR" to be in the environ whenever I run an exe built by this recipe.

There are two ways I am running the program:
1) when "installed", ie "conan install package/1.0@ -g VirtualRunEnv"

This seems to work if I:
[code]

2) The second place is when I do the following inside the package folder: `conan install . -g VirtualRunEnv`    ie

[2022-06-23 05:14] paulharris commented on #11511
I don't even know what to do in QT's number-2 situation: there is no generate() method at all.   Do I add the method, or will that interfere with something else?

[2022-06-23 06:22] paulharris commented on #10900
I got VirtualRunEnv to finally work, but I had to:
add to the profile:
- tools.microsoft.bash:subsystem=msys
- tools.microsoft.bash:path=None (I suppose could be left out)

And to the recipe:
win_bash = True

It is very clunky compared to the old virtualenv, I would have to edit the recipe, adjust the profile, "conan install" and then finally be able to use (eg) the DOS prompt.

I hope #11066 make

[2022-06-23 07:20] Sil3ntStorm commented on #11508
While that might work, it still does not allow to validate these settings are actually present and fail the build otherwise. But I guess there is no way around that.

Thanks.

Ideally in the future you would be able to validate that these settings are set correctly somewhere.

[2022-06-23 07:34] memsharded commented on #11508
Sorry, I am a bit confused, the issue above is about options, while now you are talking about ``settings``, which is a completely different thing. I would need to understand better what you mean about that expected validation, not clear.

[2022-06-23 07:36] Sil3ntStorm commented on #11508
I'm sorry I meant options, since somehow it seems all the settings are gone, the above validate function does not work. Which is all I was trying to say.
So I will have to trust that the profile is setup correctly.

[2022-06-23 07:40] Sil3ntStorm opened #11512 "[bug] Cannot override version of build requirement"
### Environment Details (include every applicable attribute)
  * Operating System+version: Any
  * Compiler+version: Any
  * Conan version: 1.49.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

[2022-06-23 07:45] memsharded commented on #11508
Validation can be done with real values of options dependencies, but it needs to be accessed with ``self.dependencies["mydep"].options``. That has helpers to address exactly the context that you want like ``self.dependencies.build["mydep"].options`` is different than ``self.dependencies.host["mydep"].options``

Have a look to https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

[2022-06-23 07:50] memsharded commented on #11512
Yes, ``build_requires`` cannot be overriden because they are designed to be "private" to the package that uses them. They can only be redefined in the ``[build_requires]`` section of the profile

A couple of important things:
- Don't use regular libraries as ``build_requires``. Conan docs already advice that as a bad practice (https://docs.conan.io/en/latest/devtools/build_requires.html#tool-requi

[2022-06-23 08:13] Sil3ntStorm commented on #11512
Which then leads to the question of how you can have a recipe that requires libraries for building it, but that are private to this recipe and consumers of said recipe do not have those requirements. Unless of course they want to use them, at which point they need to require them on its own.

If I am building a library that requires header only libraries for example then the consumers of said reci

[2022-06-23 08:17] memsharded commented on #11512
Those issues have been addressed for Conan 2.0:

- https://www.youtube.com/watch?v=kKGglzm5ous
- https://github.com/conan-io/tribe/pull/26
- https://github.com/conan-io/tribe/pull/27

[2022-06-23 08:58] stlu1022 commented on #11502
Hi @memsharded,

Thank you for the quick answer!

Sorry if I haven't described our problem properly.

Our problem is that we need multiple seperate package binaries with the exact same settings.
Like this:

Debug build for a shared library:
-> Package 1 - containing .so (Debug)
-> Package 2 - containing *.hpp(Debug)

We also need the same thing for a release build accordingly.

[2022-06-23 09:19] maitrey commented on #11499
If I switch to putting everything in profiles, I end up with MinGW options added by cmake , resulting in error:
bin/ld.exe: error: [50186] unrecognized option '--out-implib'
This comes from  - C:\Program Files\CMake\share\cmake-3.21\Modules\Platform\Windows-GNU.cmake.
[code]
In this case, I donot use cmaketoolchain and have everything in profile like:
[code]

[2022-06-23 09:29] syncu2 commented on #11509
With `conan new dep/0.1 --template=cmake_lib`, the build failed as well for the same reason as before.

However, I managed to solve the problem by installing MinGW separately (outside MSYS) and creating a conan profile with CC and CXX explicitly set to the compiler path:

[code]

I was not aware that you are supposed to set those, as Cmake and Conan automatically determine the compiler information

[2022-06-23 09:30] memsharded commented on #11502
So you are packaging separately the headers and the binaries? that means that you want to have something like ``mypkg_headers/version`` and ``mypkg_libs/version`` as separate packages, and ``requires`` them independently? Why?

[2022-06-23 09:53] Sil3ntStorm commented on #11512
The currently desired use case was talked about in the video you linked. Have a recipe that requires stuff, builds a fully linked native thing and thus any consumer does not have any of the dependencies of said recipe.
It appears that will only be possible with conan 2.0 if I understood correctly.

[2022-06-23 09:57] Tumb1eweed opened #11513 "[question] How can I pass conan_include_dirs to parent scope?"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Circumstances like this:
package A relies on glog, gflags, pakcage B relies on eigen, proj, and package C relies on B, I need to pass A's and B's include directories to C, but when I use target_link_directories(... ${CONAN_INCLUDE_DIRS}), it seems useless, C still can't find glog/gfla

[2022-06-23 09:58] franramirez688 commented on #11506
That build folder will be created next to the conanfile.py regardless of the `src_folder`. If you really want to change that build location you have to use the `[-of  DIR]` param:

[code]

[2022-06-23 10:34] memsharded commented on #11513
Hi @Tumb1eweed

We are missing tons of details here. Like what generators are being used (NOTE: the ``cmake`` generator is deprecated, recommended to move to ``CMakeDeps``, ``CMakeToolchain`` and ``CMake``, all in ``from conan.tools.cmake import xxx``), how your full CMakeLists.txt looks like, how your ``conanfile`` looks like, the output you got when doing ``conan install``, etc.

[2022-06-23 10:36] memsharded commented on #11512
It is possible in Conan 1.X under some situations. For example, linkers are typically smart enough to discard unused things, so propagating a static library down to the consumer via  shared intermediate one, might be fully discarded, no effect. If that is not the case, it is also possible to use some build system-fu, like CMake stripping unwanted libraries, but yes, I know that can be tricky.

[2022-06-23 10:59] H-G-Hristov commented on #8846
That would be very useful: https://github.com/conan-io/conan-center-index/issues/10623
I guess no work was done on this one.

[2022-06-23 11:02] memsharded commented on #8846
This shouldn't be super difficult, maybe @jcar87 wants to do it?

[2022-06-23 11:11] H-G-Hristov commented on #8846
One suggestion: Please, consider supporting parsing of environment variable for home folder  (for example) in URL or something point to a relative path in the home folder, e.g:

[code]

[2022-06-23 11:12] Sil3ntStorm commented on #11512
Well in this case it's more a thing of the stuff still being downloaded and (potentially) built (despite being completely unnecessary), which the goal was to avoid that

[2022-06-23 11:17] memsharded commented on #8846
We will not do this parsing, because this is the typical case that will have tons of edge cases, not worth.
But it is doable directly in the ``source()`` method, like you do `` url = conan_data["sources"][version]["url"].replace("$HOME", os.getenv("HOME"))``

[2022-06-23 11:20] H-G-Hristov commented on #8846
If you implement this feature maybe you can add this as an example to the docs.

[2022-06-23 11:24] #11476 closed, assigned to nobody

[2022-06-23 11:52] EstebanDugueperoux2 commented on #11475
Finally for the specific case of Google tests results, a better solution can be to use GTEST_OUTPUT environment variable.
In context of Gitlab CI, it gives:

[code]

[2022-06-23 13:01] stlu1022 commented on #11502
yes, we would need to separate it in sub-packages and "require" both on demand. When collecting components to compose all what is needed to create the target release, only the "mypkg_lib"s would be "required".

For legal reasons and access restrictions, we have to separate them. Basically external entities shall have access to the binary parts but not the source code (here headers)

[2022-06-23 13:06] memsharded commented on #11502
But are you planning to distribute to the ``external`` entities with Conan? If you are not, then it is not relevant, you can use Conan for your internal development, then you extract the artifacts you want to distribute, for example with an ``imports`` of just the libraries and not the headers. But no need to create complicated package structures for development time.

If you want to have a quick

[2022-06-23 13:12] memsharded commented on #11475
Yes, something like ``~/.cache/ci/$CI_JOB_ID/`` sounds good, and if GTEST_OUTPUT is good, then even better :)

[2022-06-23 13:47] H-G-Hristov commented on #6852
What if we need different authentication for alternative URLS. Do you have any recommendation?

[2022-06-23 13:56] harsszegi opened #11514 "[question] Enforcing conan info working from Conan cache only?"
Hi,

is it possible to use "conan info" in a way so that it only works from the local cache and doesn't try to go out to the remotes?
Thanks,

[2022-06-23 14:13] franramirez688 commented on #11499
Hi @maitrey

Sorry for the delay!

I think it's fine to have every common variable in your `conanfile.py`, so it'll be easily centralized and managed.
Besides that, I guess that you're not using the [CMakeToolchain Conan generator](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html), are you? I think it'd help you a lot to simplify things via Conan recipe. For inst

[2022-06-23 14:28] memsharded commented on #11514
Hi @harsszegi

``conan info`` operates in exactly the same way as ``conan install`` or ``conan create`` do, but without retrieven the binaries. It will construct the dependency graph, with exactly the same logic, because its purpose is exactly that. Then, if it can resolve things in the Conan cache, it will be fine, and it will not go to the remotes. If it cannot resolve things in the cache, and i

[2022-06-23 14:32] harsszegi commented on #11514
Is it possible that aliases modify this behavior? I have emptied my remotes.json and tried to execute a "conan info foo/1.0.0@user/channel --paths" and 1.0.0 is actually an alias to another version of the same "foo" package. But when I emptied the remotes, conan info complained that there were no remotes defined.

[2022-06-23 14:32] memsharded commented on #6852
Yes, my recommendation would be:
- Store in the ``conandata.yml`` the names of the env-vars to be used. You can group them together with the url, define a dict, or as you see fit
- Use the different names of the env-vars to use from conandata.yml in the recipe, and do the ``os.getenv()``
- Probably use plain ``os.getenv()``, as ``tools.get_env()`` not really necessary for this, and it will be remo

[2022-06-23 14:38] memsharded commented on #11514
In theory it shouldn't, if the alias is able to resolve to the actual package it is pointing in the cache.

I have just tried with a small proof of concept, aliasing a package in my cache, disabling remotes and then ``conan install`` it, and it works without hitting remotes.

[2022-06-23 14:46] memsharded opened #11515 "[develop2] [question] Reconsider ``CachedFileDownloader``?"
Maybe ask for feedback to the Tribe? I am not fully convinced about the value, maybe retire it in 2.0 while we investigate concurrency in the cache?

[2022-06-23 14:47] memsharded commented on #11243
I think it should be caching the conan internal .tgz files, and the users ones, only if they provide a checksum

[2022-06-23 14:56] paulharris commented on #11243
I see msys2 has a checksum for the download.
That recipe HAS changed recently, 9 days ago,
but conandata.yml hasn't changed since the start of the year.

Surely the artifact would be the same hash?
Or could there be multiple copies of the same msys2 tarball in the downloadcache?
ie the hash isn't the file content hash, what is it?

[2022-06-23 15:24] DmitrySokolov opened #11516 "[bug] Incorrect macOS M1 arch value"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12
  * Compiler+version: Apple Clang 13
  * Conan version: 1.49
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

conan profile new default --detect --force

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

i.e. `arch_build=armv8`

Meanwhile, `C

[2022-06-23 15:25] hmluqman opened #11517 "[bug] Unable to install Jfrog artifactory CE on WSL2"
I am following this [tutorial ](https://levelup.gitconnected.com/conan-package-manager-tutorial-bfb308ddd7a) about Conan Package Manager. I am unable to install artifactory service.
### Environment Details
  * WSL2 (Ubuntu 20.04):
  * Conan version: 1.49.0
  * Python version: 3.8.10

### Logs (Executed commands with output)

I tried to install debian package download from Conan [website](https://c

[2022-06-23 15:56] memsharded commented on #11517
Hi @hmluqman

I don't think this is an Artifactory bug, but it is simply not supported platform, I don't see running Artifactory in WSL anywhere.

Please run ArtifactoryCE natively in Windows, Linux or using docker.

[2022-06-23 15:58] harsszegi commented on #11514
Whoa, it appears to be working, I had to clean my cache though, redownload the package, then disable the remote and info works fine. Thanks @memsharded again !!

[2022-06-23 15:58] #11514 closed, assigned to memsharded

[2022-06-23 16:07] #11517 closed, assigned to memsharded

[2022-06-23 16:11] hmluqman commented on #11517
@memsharded  You could be right. The WSL2 is init based system. On this Artifactory official installation [page ](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory#InstallingArtifactory-DebianInstallation) under section **Run Artifactory as a Service** is describing to run the service in init based system. I am not sure why is it not possible to run the service in WSL2.

[2022-06-23 16:12] memsharded commented on #11517
Yes, in theory, it could. But there are too many moving pieces, DBs, JVM, etc, that probably any minor subtle differences is enough to make it not working.

In any case, if you are reading a somewhat outdated (2020) tutorial, I'd recommend keeping an eye on the official docs too.

Some utilities like ``conan new hello/0.1 --template=cmake_lib`` can help creating a modernized Conan recipe, that wil

[2022-06-23 16:13] memsharded commented on #11514
Glad to help :)

[2022-06-23 16:43] memsharded commented on #11516
``aarch64`` is more like instruction set, while ``armv8`` is the actual architecture.

Conan uses the machine architectures rather than the instructions sets. It would be relevant to see what Python ``platform.machine()`` is returning in your M1 machine.

Then Conan maps internally them when necessary, like:
[code]

[2022-06-23 16:52] SSE4 commented on #11516
`ARMv8` is an official architecture name, it's used by official ARM documents (specificstions).
`AArch64` is an execution state (another one is `AArch32`). `A64` is an instruction set corresponding to the `AArch64`.
`ARM64` is not an official name, but it's wide-spread and synonimous to `ARMv8`. used in Apple world, as well as by some Linux distros.
I understand it introduces a lot of headache and

[2022-06-23 16:58] DmitrySokolov commented on #11516
`platform.machine()` is empty.

[2022-06-23 16:59] DmitrySokolov commented on #11516
CMake uses `arm64`.

[2022-06-23 17:35] paulocoutinhox opened #11518 "[bug] Problems when try use conan on M1"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos mojave m1 processor
  * Compiler+version: clang 13
  * Conan version: latest
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

Hi, i have some problems when try use conan in M1. I don't know if is a

[2022-06-23 18:51] paulocoutinhox commented on #11518
Im trying debug and understand where is the problem. On cmake side i post here:
https://gitlab.kitware.com/cmake/cmake/-/issues/23662

And on conan i will post here.

When i print the environment variable here:
https://github.com/conan-io/conan/blob/19718de898cecc8cc9df70a12cb03db294261f2e/conans/client/build/cmake_flags.py#L298

[code]

Is shows MacOS SDK:

[code]

[2022-06-23 19:11] paulocoutinhox commented on #11518
I "found" the problem. When i print my python `os.environ` is shows:

[code]

Shows:
[code]

But is not listed in my environment variables when i use `printenv`:

[code]

What can be wrong?

[2022-06-23 19:28] paulocoutinhox commented on #11518
I think that the python 3.8.9 `that come` with the macos monterey 12.4 has this variable `embed`.

Because when i install python3 from `brew`, this environment variable don't exists:

[code]

I tested here with `three different macbooks` and python3 `native` from monterey already come with environment vars and the brew installation come without it.

[2022-06-23 19:29] paulocoutinhox commented on #11518
Conan only works, if i set this environment variable equal empty string.

[2022-06-23 19:46] paulocoutinhox commented on #11518
I tested on macos monterey 12.4 and 12.3.1 and the same problem exists.

[2022-06-23 22:09] jcar87 commented on #11518
This is an issue with the system's `python3` on macOS (specifically the `/usr/bin/python3`). It is the equivalent of doing `xcrun python3`, which locates an xcode or Command Line Tools installation. It is the documented behaviour of `xcrun` to actually define the `SDKROOT` variable (and it will default to the macOS SDK unless told otherwise). You can read more about this [here](https://macops.ca/d

[2022-06-23 22:21] jcar87 commented on #11516
I think CMake gets the architecture identifier from the compiler itself, rather than having its own convention.  Wherever CMake on macOS says `arm64`, the equivalent value on Linux for `CMAKE_SYSTEM_PROCESSOR` would be `aarch64`. This isn't specific to the OS as a whole either: some compilers even on macOS will refer to this architecture as `aarch64`, and CMake will retrieve that value.
Conversely

[2022-06-24 01:45] Sil3ntStorm commented on #11512
So just to clarify:
Conan 1.x would never consider a binary created by conan 2.x as a valid binary, as the package id generation was changed.
So even if it works with conan 2.x generating a binary, then nobody using 1.x would find said binary package, and everyone using 1.x would end up trying to build a 2.x package (and presumably fail miserably).
Even if every consumer would run 2.x, it wouldn't

[2022-06-24 02:22] Tumb1eweed commented on #11513
Why transfer cmake generator to CMakeDeps, CMakeToolchain and CMake？

[2022-06-24 03:23] paulocoutinhox commented on #11518
Hi,

How i can get the correct SDKROOT from conan?

If conan can return it, i can set with something like this:

[code]

Thanks.

[2022-06-24 03:23] paulocoutinhox commented on #11518
@theodelrieu You have this problem with your toolchain? Can you help me with this? I want make the minimum to solve this.

[2022-06-24 04:11] maitrey commented on #11499
Hello @franramirez688 , Thanks again for your reply.  I was not using the[ CMakeToolchain Generator](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html) .
 Is it advisable to keep both profiles and cmaketoolchain files? Also, somehow for any bugfix or any new change there is a tight coupling. I anyhow would have to maintain a build and host profile. I am wondering

[2022-06-24 04:48] santhonisz opened #11520 "MSBuildDeps Generator - Traits Support"
Hi there,

I've been experimenting with the latest Conan 2.0.0-beta1 release - it's looking great!

I was wondering if you could clarify if/when requirement traits support is coming the `MSBuildDeps` generator; currently is appears that transitive dependencies are always still included in the generated `.props` files and the various requirement traits don't impact the generated files e.g. in the `

[2022-06-24 07:19] SSE4 commented on #11515
is it possible to move custom downoaders to extensions/plugins?

[2022-06-24 08:25] memsharded opened #11521 "[develop2] Think new codebase layout"
We're maintaining `develop` and `develop2` branches and the conflicts are huge, so we'll have to keep it till we freeze 1.x and merge `develop2` -> `develop`. After that, we'll update all the imports from docs.

_Originally posted by @franramirez688 in https://github.com/conan-io/docs/pull/2607#discussion_r905832887_

[2022-06-24 08:26] memsharded commented on #11521
We need to move the public parts, like ``conans.cli`` to final ``conan.xxx`` namespace. So we need to outline the final structure. Not change it yet completely (conflicts develop->develop2), but maybe we can move ``conans.cli`` for a start.

[2022-06-24 08:32] memsharded commented on #11520
Hi @santhonisz

Yes, you are right, some of the traits behavior are only applied to the ``CMake`` generators at the moment.
It totally makes sense to apply them to ``MSBuildDeps``, lets do it, thanks for the feedback.

[2022-06-24 09:09] memsharded commented on #11513
Because ``cmake`` generator has been deprecated, and already removed in Conan 2.0 (already released in beta). Only ``CMakeDeps``, ``CMakeToolchain`` do remain in Conan 2.0.

[2022-06-24 09:11] SSE4 commented on #11521
how about re-importing via a namespace alias, e.g. `conan.cli` -> `conans.cli`?

[2022-06-24 09:25] DmitrySokolov commented on #11516
### CMake

https://cmake.org/cmake/help/latest/variable/CMAKE_ANDROID_ARCH.html

https://cmake.org/cmake/help/latest/variable/CMAKE_APPLE_SILICON_PROCESSOR.html

https://cmake.org/cmake/help/latest/variable/CMAKE_VS_PLATFORM_TOOLSET_HOST_ARCHITECTURE.html

https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-ios-tvos-or-watchos

### Qt

https://doc.qt.io/qt-6.2/su

[2022-06-24 09:37] DmitrySokolov commented on #11516
[code]

[2022-06-24 09:53] #11513 closed, assigned to memsharded

[2022-06-24 10:28] spektrof commented on #11498
Hi @memsharded ,

Thank you for your answer!

Yes, using local recipe directory as a remote looks good.

We will choose one of these alternatives, or try to patch the source based on the PR until it get merged.

[2022-06-24 10:42] franramirez688 commented on #11499
Hi @maitrey

I think it'll depend on the variability of your projects:

* Profiles are pretty helpful to share common things easily. Things that are variables, build environment, requirements, etc. that don't need any additional process.  It's the most straightforward way for sure.
* Recipes as toolchains are needed when you need something more powerful or need to customize some parts of the code

[2022-06-24 10:53] memsharded commented on #11498
I would not recommend this, it is very early stage, and likely to be very unstable and problematic. Subscribe to that PR and we will report when it moves forward and reaches some point that can be tested.

Otherwise, I think we already have that PR to track this feature, so this one can be closed?

[2022-06-24 11:10] Adnn commented on #11506
Thank you @franramirez688 for this clarification, we expected the build folder to be relative to `src_folder`, hence our confusion.

Sorry for the noise, I am closing this issue.

[2022-06-24 11:10] #11506 closed, assigned to franramirez688

[2022-06-24 11:30] memsharded commented on #11512
Even if every consumer would run 2.x, it wouldn't be possible to have dependencies as those on CCI are mostly still 1.x recipes (for a valid reason) and 2.x would fail to parse / build those.

I think it is important to highlight that the recipes themselves can be fully compatible both in Conan 1.X and Conan 2.0. We will do the same for ConanCenter, recipes will build simultaneously binaries for 1

[2022-06-24 11:52] jcar87 commented on #11516
HI @DmitrySokolov  - thanks for providing a concrete example.

In this case indeed the issue is the discrepancy between the convention used by `CMAKE_SYSTEM_PROCESSOR` and the conan `arch` setting. This is not limited to Conan and M1 macs. CMake does not follow a set convention to give a value to that variable:
* On Windows `x86_64`, it is set to `AMD64`
* On Linux `x86_64`, this is `x86_64`
* On

[2022-06-24 12:21] DmitrySokolov commented on #11516
It's MWE. Actually, the usual method is to iterate through `${CMAKE_OSX_ARCHITECTURES}`.

It should not be portable, it should be good enough to pass it to underlying native toolchain. Even on Windows it is good enough to pass `vcvarsall.bat -host_arch=${CMAKE_SYSTEM_PROCESSOR}`.

Which one? The vast majority use Apple-clang. It's hard to use other compilers on macOS for other than "HelloWorld" ap

[2022-06-24 18:23] rbanffy opened #11524 "[bug] Old ABI compatibility warning has 83 columns"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian under WSL
  * Compiler+version: 11.3.0-3
  * Conan version: 1.49.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

Installed conan via Pip on a virtual environment, on a terminal window set to 80x25 (because my eyes aren't getting any younger) and the warning message overflow

[2022-06-24 20:56] paulocoutinhox commented on #11518
Hi,

Im trying to solve it, but when i put this lines to my conanfile from darwin-package:

[code]

It shows:

[code]

But im compiling for armv7 / iOS:

[code]

[2022-06-24 22:02] puetzk commented on #10617
retested and this issue is still present in conan 1.49.0

[2022-06-25 05:40] Ahajha opened #11525 "[feature] Direct dependencies on components"
Motivation:
It is likely not too uncommon for users (myself included) to want to depend on only some components of a package, that's what they're there for after all. However, this has a few minor inconveniences:

1. By declaring that you depend on the entire package, any catch-all linking grabs all components, with no way to change this. (see the `cmake` generator)
1. Even if you are using a targ

[2022-06-25 09:42] SpaceIm opened #11526 "[bug] `collect_libs()` collects all flavors (version, soversion) of the same dylib"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: apple-clang 13
  * Conan version: 1.49.0
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

- call conan install with some generator on a recipe relying on `tools.collect_libs()` in which version and soversion are installed. For example `conan inst

[2022-06-25 12:59] jwillikers commented on #10285
A couple of related issue reports in Conan Center: conan-io/conan-center-index#11332 and conan-io/conan-center-index#11362

[2022-06-25 17:00] SpaceIm commented on #11282
https://github.com/conan-io/conan/pull/11527 implements a consistent behavior. But it keeps only the most generic lib name since `collect_libs` usually aims to populate `self.cpp_info.libs` in `package_info()`.

[2022-06-25 18:55] SpaceIm commented on #11495
Not sure to understand if you expect some advices or a feature from conan.

I guess implementation of https://github.com/conan-io/conan/issues/9000 + https://github.com/conan-io/conan/issues/10229 would be the solution?

[2022-06-26 05:33] ssrobins opened #11528 "[bug] Error near the end of 'conan create' build on Windows using CMake/Ninja with Conan 2.0"
Last issue blocking me from moving to Conan 2.0 (well, aside from working around the [CMake wrapper](https://github.com/conan-io/cmake-conan) not being supported yet!)

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10.0.20348 Build 768
  * Compiler+version: MSVC 19.32.31329.0
  * Conan version: 2.0.0-beta1
  * Python version: 3.9.13
Environment