[2022-01-26 21:57] Makogan commented on #10439
Seems like it works with the latest version of the package.

[2022-01-26 21:58] memsharded commented on #10436
Hi @Knitschi

I think you can do it more directly with the ``conan create  --json=file.json``, that will also output a file that you can parse and get the package_id from there.

[2022-01-26 21:59] memsharded commented on #10438
Hi @Makogan

You also have it duplicated, in the ``generators = "PkgConfigDeps"`` and in the ``generate()`` method. You should use one of the ways, not both.

[2022-01-26 22:02] memsharded commented on #10438
Other tips:

- Constraining the settings as you do with a dict ``{os: None...}`` is not recommended. You can remove all settings with ``settings = None``, but this is probably not recommended either, as that means that you only have 1 binary for all platforms, compilers and architectures, which is rarely the case, except for header-only libraries.
- Recall that there are more modern integrations f

[2022-01-26 22:06] Makogan commented on #10439
If I delete the validation layer repo through:

`rm -rf ~/.conan/data/vulkan-validationlayers/`

And run the install command (forcing the package to reinstall) this problem does not occur.

[2022-01-27 00:48] Makogan opened #10440 "[feature] Support visual studio backend for meson"
Reading the docs https://docs.conan.io/en/latest/reference/build_helpers/meson.html

It would seem conan assumes that meson will always use ninja as the build backend. However meson allows you to build using msvc through the flan `--backend`.

This means that the following meson command:

`meson setup build_vs --backend=vs2019 -Dpkg_config_path=build_vs`

Cannot be assembled from the conan.py scri

[2022-01-27 07:02] cajus opened #10441 "[question] How to use a predefined user/channel as "standard" for require()"
I've the scenario that we've a local conan package repository (mostly because of reducing traffic) which keeps the packages. These packages are based on conan-center packages, but may have small modifications/patches for certain architectures.

Let's say a conan recipe does a `self.requires("libpng/1.6.37")` somewhere, this fails, because conan-center is not there as a remote. `CONAN_USERNAME` and

[2022-01-27 08:48] franramirez688 commented on #10440
Hi @Makogan

To change the `backend` you only have to pass it through the constructor:

[code]
If you don't pass anything, by default, it's going to use the `ninja` backend.

Anyway, I invite you to have a look at the [new MesonToolchain/Meson generator/build-helper documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html).
These new ones are going to be used for the nex

[2022-01-27 09:07] uilianries commented on #7431
Hello, unfortunately I didn't touch this issue, I only updated the packages and Yocto support. Packaging SDK a big challenge, on Conan Center we have some packages which are considered SDK and they have many dependencies. I don't see a big package covering all the SDK, but separated packages working together.

[2022-01-27 09:16] memsharded commented on #7431
Not for ConanCenter, but the guide/docs how an SDK Conan package can be created, for private use. We did it in the past, it was not super-challenging, if it doesn't need to meet the ConanCenter requirements is more doable.

[2022-01-27 09:18] memsharded commented on #10440
Actually, it is not really necessary to modify the default in the recipe. You can let the Ninja default, and define ``tools.meson.mesontoolchain:backend=xxx`` in your ``[conf]`` profile or command line to change it.

[2022-01-27 09:36] #10278 closed, assigned to nobody

[2022-01-27 09:38] Makogan commented on #10440
Sorry if I try  this:

[code]

I get
       ` ConanException: Build only supported with 'ninja' backend`

       Is there any further setup that needs to be done?

I also tried doing things with the generate syntax and i get this error:

[code]

Looking here:
https://github.com/conan-io/conan/blob/develop/conans/client/build/meson.py

There does not seem to be a call path for the vs backend.

[2022-01-27 09:52] memsharded commented on #10440
It seems you are using the wrong ``Meson``. Make sure to ``from conan.tools.meson import Meson, MesonToolchain``

[2022-01-27 10:04] Makogan commented on #10440
This is the start of my recipe:
[code]

If I modify the code to match the suggestion i.e. change my imports

[code]

I start getting a series of errors about unrecognized keywords, meaning I can no longer do any of the following:

[code]

This class seems to expect all work to be done in the generate step. I tried setting up everything there:

[code]

I get:
[code]

 I read the docs:
 https://docs

[2022-01-27 10:10] memsharded commented on #10440
This is wrong:

[code]

You need to:
[code]

Then, yes, the new integration ``Meson`` doesn't defined the ``build_folder`` as argument, you need to remove it and rely on the ``layout()`` method.

[2022-01-27 10:12] Makogan commented on #10440
I did, I explained on the comment I changed from one to the other:

This is at the header of the recipe:

[code]

[2022-01-27 10:14] Makogan commented on #10440
I am reading this issue and it seems the feature is pretty new. Can I ask what was the rationale to not simply modify the _run_ninja_backend command?

It seems trivial to modify it to accept other backends.

https://github.com/conan-io/conan/issues/9922

[2022-01-27 10:15] memsharded commented on #10440
We have a few tests that cover the new integrations, let me for example paste one of them as an example:

[code]
that is missing the ``package()`` and ``package_info()`` it is mostly a consumer, but could be a good start.

[2022-01-27 10:16] Makogan commented on #10440
If it is not clear, a recipe like this:

[code]

 Produces this error:

[code]

[2022-01-27 10:17] memsharded commented on #10440
The previous Meson integration is legacy, it has a few issues, but cannot be modified without breaking. So all the build system integrations are going to be fully replaced with the new ones, in the ``from conan.tools.meson``, ``from conan.tools.cmake`` space. So we are not touching the previous old code, but replacing it with a new alternative.

[2022-01-27 10:20] memsharded commented on #10440
Also, it seems you are referencing to the latest docs, but the latest Conan does not have the constructor arguments you are using, check: https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html#constructor:

[code]

So the ``MesonToolchain`` does not have a ``build_folder`` or ``args`` argument.

[2022-01-27 10:21] Makogan commented on #10440
For your reference I copy pasted this onto my computer and ran the same set of commands I normally use to install and compile with meson, I get this error:

[code]

So something seems odd.

conan version is 1.44.0

Commands to run:

`$ conan install . -if build_visual_studio_debug/ -s build_type=Debug -s compiler.runtime=MDd -s compiler="Visual Studio" -s compiler.version=17 --build=missing`

`$ c

[2022-01-27 10:22] memsharded commented on #10440
Oh, which Meson version are your using? Maybe it could be your Meson not supporting this?

[2022-01-27 10:23] Makogan commented on #10440
As just mentioned in the prior comment 1.44.0

[2022-01-27 10:23] Makogan commented on #10440
0.60.3

[2022-01-27 10:28] Makogan commented on #10440
I am on a git bash terminal, is the command expecing a cmd maybe?

It happens inside a cmd as well

[2022-01-27 10:35] Makogan commented on #10440
@franramirez688

In my honest opinion this new design seems to suffer from taking on too much responsibility. The old design was better in that it was a thin wrapper that just let you pass what you needed straight through to meson. Conan's value proposition is to be a package manager, not a build system. In my opinion it should delegate as much as possible to the build system.

The legacy code see

[2022-01-27 10:57] franramirez688 commented on #10440
Hi @Makogan

Sorry for all the failing points, I know that's a bit frustrating 😞

Let me put here all the steps to try to have something simple working fine from your side.

Let's imagine that we have this project structure in another empty folder to be sure that it's clean:

[code]

Where the `main.cpp` is a simple `Hello world!` and the `meson.build` looks like:

[code]

Then, the `conanfile.py`

[2022-01-27 11:27] actual-daniel opened #10444 "[question] Do conan components work with editables / layout files"
I have a cmake project which is split into multiple components. The components are split into their own directories:

- component1
  - include
  - src
- component2
  - include
  - src

When this project is installed/packaged the layout changes is

- include
  - component1
    - &lt;content of component1 include&gt;
  - component2
    - &lt;content of component1 include&gt;
- libs
  - libcomponent1

[2022-01-27 11:39] memsharded commented on #10440
@franramirez688

I have wanted to do a ``conan new --template=meson_lib`` for a while, to help with this. Would it make sense to try to contribute this asap?

[2022-01-27 12:02] joastoe opened #10445 "[question] pgk-config file is missing library when using components"
I have the following deps:
hw-configurator -> lua-lib -> c-periphery

when building hw-configurator the generated pkg conf files look the following:
[code]
[code]
[code]
--> Note that the library is **missing**. Should be `Libs: -L"${libdir1}"  -lperiphery`

package_info of lua-lib
[code]
and of c-periphery
[code]

Is this a bug or am I doing something the wrong way around?

Thanks for your help

[2022-01-27 12:36] joastoe commented on #10445
Arggh, I mixed the layout() and package_info() sections.
If package_info(self) is change to
[code]
everything works as expected.

This issue can be closed, sorry about that

[2022-01-27 12:38] lasote commented on #10427
Yup, looks like I forgot to enable it.

[2022-01-27 12:48] #10445 closed, assigned to nobody

[2022-01-27 13:50] wer14 commented on #10435
**Conan version: 1.43**

**Minimal reproducible example: conan install .**

[code]

**Contetnts of conanbuildinfo.pri:**

**Files were generated:**

- conanbuildinfo.pri
- conanbuildinfo.txt
- conaninfo.txt
- graph_info.json

[2022-01-27 16:12] earonesty commented on #7300
Hey i think i found a bug too.   If lock count ever reaches "-1" (Can happen due to race conds while incorrectly calling conan remove locks), then `--remove locks` ceases to work and all conan's get locked forever.  Manually removing the ".count" file seems to fix.

[2022-01-27 16:51] memsharded commented on #10435
Hi @gmikhaile

yes, this is totally expected. The qmake integration is not multi-component yet. In fact, this integration still has not been modernized to be ready to be ported to Conan 2.0 (that is, to move it to the ``from conan.tools.qt`` package). Sometimes this modernization includes the multi-component support, if there is enough demand for it (so far only CMakeDeps and PkgConfigDeps got it)

[2022-01-27 18:04] memsharded commented on #10417
Closed by https://github.com/conan-io/conan/pull/10443

[2022-01-27 18:04] #10417 closed, assigned to czoido

[2022-01-27 18:26] jwillikers commented on #10412
This should be fixed for the package in Conan Center by conan-io/conan-center-index#9098

[2022-01-27 18:35] #10435 closed, assigned to nobody

[2022-01-27 18:38] memsharded commented on #10435
In any case, @gmikhaile if you are interested in this integration and want to try to contribute it, it would be very welcome. The fact that we don't have enough time for it doesnt mean that it cannot be done.

[2022-01-27 20:42] Makogan commented on #10440
Sorry if my reply was too brusque I did mean what I say but I was trying to give honest feedback, it might have sounded a little ranty. On any case I did make a repository as suggested with exactly 3 files:

[code]

The conan file is almost the same as the one you suggested except the build directory is different to match the one in my commands. This is the meson:

[code]

  And the main.cpp is yo

[2022-01-27 21:23] Makogan commented on #10440
To stress how close to working the prior design was I hacked conan just a little bit this is what the "_run_ninja_commands" looks like:

[code]

This works just fine, it's such a minor change. In order to presserve backwards compatibility all it;s needed is to add a new command and an if statment checking the backend

[2022-01-27 21:30] gldlv commented on #10412
It seems that this is indeed what happened !

Should't the .conan data files be removed after a pip uninstall or for forced reinstallation ?

Apart from that I use this post as an occasion to thank you guys for developping conan. It is the tool that developpers have been waiting for , and it reconciled me with C++

[2022-01-27 21:43] Makogan commented on #10440
I made a pull request, the change is so small this should not break compatibility, it handles a strict superset of cases:

https://github.com/conan-io/conan/pull/10447

[2022-01-28 04:10] huweiATgithub commented on #10404
Sorry, it was my fault. I had a compiler.runtime=MD for the debug profile. (should be MDb instead.)

Thank you! Everything works smoothly!

[2022-01-28 08:45] memsharded commented on #10260
@grantmoyer reported https://github.com/conan-io/conan/pulls/10320 is fixing this. (released 1.44.1).
Can you please try and report? Otherwise this will be closed. Thanks!

[2022-01-28 08:54] franramirez688 commented on #10440
Hi @Makogan

Thanks a lot for your feedback and the PR (we have to review it), they are really appreciated for sure.

After figuring it out, I just realized what was really going on. I did not get why you were receiving this output:

[code]
It was not happening on my side because I was using the `develop` branch, i.e., the next Conan 1.45 release 😅
In summary, it's a current bug (that we did not k

[2022-01-28 09:15] alexandre-marinkovic opened #10449 "[question] Access to outdated packages"
Hi,
I have a dependency on icu/69.1 and I was able to retrieve it on conan-center 1 month ago.

Now since the recipe of icu have changed, the package that I was using is considered as outdated and there is no package on conan-center with the new recipe and with my options/settings.
I know that I can build icu with the new recipe but I was wondering if it was possible to search for outdated package

[2022-01-28 10:07] memsharded commented on #10449
Hi @amarinko

I am not sure if this is what you want, but do you know that you can pin the exact revision to use? Doing a requires to ``pkg/version#exact_revision`` will pin to that revision and will not be affected by new ones. It is also possible to use lockfiles, but that might be a bit more complicated.

In any case the new changes to recipes are typically good things, sometimes necessary fixe

[2022-01-28 10:09] Makogan commented on #10440
That's nice to hear but I am still a little worried that the file needs to be made in the first place. As mentioned, I really think the "legacy" implementation was the right design.

[2022-01-28 10:14] memsharded commented on #10440
No, it is not. We have tons of evidence that the previous design was harming many developers. The main reason is that it couples the build to Conan completely, unless you call ``conan build``, the binaries that you built locally are different to the ones that are built by Conan in the cache. This is unacceptable. The only possibility to allow developers a local flow calling ``meson ...`` that achi

[2022-01-28 10:44] philipp-kaiser opened #10450 "[bug] Failure for concurrent CI publishing"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: -
  * Conan version: 1.44.1
  * Python version: Python 3.8

### Our Usecase

We use conan to publish our pre-build libraries (built by rust for different targets) for different targets: Win-x8664, Linux-x8664, Linux-armv7, Linux-armv8, ...
We do not have a real build step w

[2022-01-28 11:09] alexandre-marinkovic commented on #10449
Thanks for the quick answer.

_> Doing a requires to pkg/version#exact_revision_
It means that I have to change my recipe for that ?
It's not a change that I would like in my recipe since I know that icu package will be available one day.
Is it possible to change the dependencies requirements when calling "conan install"/"conan create" to specify a revision ?

 _> In any case the new changes to re

[2022-01-28 11:33] iiknd commented on #10441
You should be able to override (transitive) requirements: https://docs.conan.io/en/latest/using_packages/conanfile_txt.html#overriding-requirements

[requires]
libpng/1.6.37@foo_user/foo_channel

[2022-01-28 11:38] iiknd commented on #10425
This issue looks the same? https://github.com/conan-io/conan/issues/10332

[2022-01-28 11:41] cajus commented on #10441
Hmm. Does that help here? I'm not trying to build "my app" with a _conanfile.txt_, but packages from _conan-center-index_. So for example:

 * copy **zlib** from _conan-center-index_ and build if for a channel _foo/dev_
 * copy **libpng** from _conan-center-index_ and build it for a channel _foo/dev_

The latter will fail, because it is not able to resolve the `self.requires('zlib/1.2.11')`. It's

[2022-01-28 12:18] franramirez688 opened #10451 "[feature] `ConfDefinition` more powerful"
Replicate the `ProfileEnvironment` class in terms of being able to append, prepend, unset or define values.

The idea is to get this flow running:

**profile**
[code]

[2022-01-28 12:37] franramirez688 opened #10452 "[feature] New generators and build helpers listening to global flags from `[conf]` section"
Depends on: https://github.com/conan-io/conan/issues/10451

For instance, given this global configuration (proposal):

[code]
New toolchains and/or build helpers from `conan.tools.xxxxx` that use those flags (in their own way) should be able to manage them properly.

[2022-01-28 13:30] memsharded opened #10453 "[question] Conan create profile ``tool_require`` override"
Consider the following test:

[code]

It will pass, but the created package will actually be ``protoc/0.1``, which seems confusing. On the other hand, the profile makes sense to be prioritized

[2022-01-28 13:46] memsharded commented on #10449
It's not a change that I would like in my recipe since I know that icu package will be available one day.
Is it possible to change the dependencies requirements when calling "conan install"/"conan create" to specify a revision ?

ConanCenter recipes get frequent updates, fixes, etc. If you want to freeze it to a previous version there are several alternatives:

- Specify it explicitly in your reci

[2022-01-28 13:51] memsharded commented on #10450
Hi @Kaiser1989

Yes, I think you are right and that is the root cause.
This is most likely already solved in Conan 2.0 (already in alpha.3), because Conan does no longer check the server manifest or timestamp. But instead, it uses the revisions. If the revision is in the server, nothing will be uploaded (by default, without -f)

In the meantime, I would recommend the following flow:

- conan expor

[2022-01-28 13:54] memsharded commented on #10404
Excellent @huweiATgithub ! Happy to hear that, and that now everything is working 😄

Then, can we consider this issue solved and close it? These solutions above will be soon correctly documented in 2.0 docs too.

[2022-01-28 13:54] RolfBippus opened #10454 "[question] version ranges using same package multiple times"
I got the following problem:

I have project **A** that requires a specific **libA** and **libB**.
Project **libA** also requires **libB**.

For versioning I use version ranges that only match major and minor version, namely:
`libB/[== 1.3.x]@user/channel`

in both project **A** and **libA**.

for conan install, I now get the following error:

`ERROR: libA/1.3.0@user/channel: requirement libB/[==

[2022-01-28 13:58] memsharded commented on #10412
Hi @GDelevoye

No, one "conan" tool instalation can have multiple ``.conan`` folders, like one per user, or actually tons of thems if using CONAN_USER_HOME, like in a CI environment. There is no 1-1 correspondence between the tool and the data. So we try to apply migrations over the data folder when it is possible, and we even have one for updating the ``settings.yml``. But it is not smart enough

[2022-01-28 14:06] memsharded opened #10455 "[develop2] Create "mocks" for 1.X -> 2.0 transition"
Some mocks to allow 1.X syntax might be necessary:

- cpp_info.names and cpp_info.filenames

[2022-01-28 14:11] memsharded commented on #10454
Hi @RolfBippus

This has been already solved in 2.0.
Meanwhile, I think I'd try to switch the order in which A depends on libA and libB, have you already tried that?

[2022-01-28 14:26] alexandre-marinkovic commented on #10449
I tried your solution 2 by calling --require-override=icu/69.1#58b8d8ffb1d460eb92d3f938d6adbc4116ffeeae

And it seems that overriding of icu is understood but it still search for the other revision.
![image](https://user-images.githubusercontent.com/35067563/151563223-c7e46e35-2b34-4bf4-a3b3-b57c3a29933e.png)

--require-override should work with revision ?

[2022-01-28 14:37] memsharded commented on #10449
No, what you are highlight below is not the "recipe_revision" (the hash of the recipe, like internal automatic version of the recipe). It is the "package_id", which is the hash of the settings + options. It is likely that ConanCenter doesn't have a pre-compiled binary for your current settings and options

[2022-01-28 15:05] #10404 closed, assigned to nobody

[2022-01-28 15:34] alexandre-marinkovic commented on #10449
Ah ok thanks! I'm not an expert yet!
And is it possible to provide the "package id" of my outdated version to conan install instead of the "recipe version" ?

[2022-01-28 17:27] memsharded commented on #10449
No problem, don't hesitate to ask if something is not clear, we are here to help 😄

No, the package_id cannot be directly forced to install (you might ``conan download`` it explicitly, but that only retrieves it, do not prepare it for being used). The ``package_id`` is a computation over your inputs, you define from your profile the ``os``, the compiler, compiler.version, architecture, build_type,

[2022-01-28 17:47] dabele commented on #9763
I found the root of my issue above. I did not know about the short paths workaround on windows. In addition to the conan user home (e.g. ~/.conan) the conan user_home_short needs to be cached between runs. Not sure why I missed the short paths issue in the documentation, maybe it needs to be highlighted a bit better? The error message could also be more clear here.

Anyway, my report above is reso

[2022-01-29 16:58] OleksandrKvl opened #10459 "[feature] Clarify how to change location for conan_paths.cmake"
As you all know, the typical CMake workflow is `cd project && mkdir build && cd build && cmake .. && cmake --build .`. In CMakeLists.txt of my projects I always prohibit in-source builds (build without creating `build` folder, directly in the project root). I used `exports_sources` approach with:
[code]
and spent hours trying to make it work because Conan generates `cmake_paths.cmake` outside of t

[2022-01-29 22:27] #10412 closed, assigned to memsharded

[2022-01-29 22:28] #10364 closed, assigned to nobody

[2022-01-29 22:29] memsharded commented on #10364
https://github.com/conan-io/conan/pull/10457 switched to detect VS 17 instead of msvc 193 for VS 2022

[2022-01-30 08:47] dvirtz opened #10461 "[bug] can't use `tool_requires` in a profile"
contrary to [documentation](https://docs.conan.io/en/latest/devtools/build_requires.html#declaring-tool-requirements) using tool_requires in a profile results in
[code]

### Environment Details (include every applicable attribute)
  * Conan version: 1.44.1

### Steps to reproduce (Include if Applicable)
[code]

[2022-01-30 08:48] dvirtz commented on #10461
oops, duplicate of https://github.com/conan-io/conan/issues/10427

[2022-01-30 08:48] #10461 closed, assigned to nobody

[2022-01-30 20:48] dvirtz opened #10463 "[bug] Autotools configure fails when there's a space in the path"
See https://github.com/conan-io/conan-center-index/pull/8644#issuecomment-1024832164

looks like `Autotools` need to adjust the path like `AutoToolsBuildEnvironment` does in https://github.com/conan-io/conan/blob/5d02f0ef495d7b3d3109b41f9b0ebc20c6f6fded/conans/client/build/autotools_environment.py#L175

### Environment Details (include every applicable attribute)
  * Operating System+version: Wind

[2022-01-30 21:08] LokiNinja commented on #10260
Hi. Thanks. I'll give it a shot now. Any details on what the issue was?

On Fri, Jan 28, 2022, 12:45 AM James ***@***.***> wrote:

[2022-01-30 21:13] memsharded commented on #10260
@LokiNinja oh, I see that probably not related to your case, and it might keep failing. The #10320 was fixing issues with the ``pyinstaller`` bundle distribution caused by some python (virtualenv) recent upgrades. But yes, checking 1.44.1 won't harm...

[2022-01-30 21:16] memsharded commented on #10463
I recall trying this some time ago, but it failed, because autotools itself really, really don't want paths with spaces. All of our tests by default use a path with spaces for testing, and the autotools tests had to deactivate it.

The problem might not be easy to solve. In any case if we do the effort, it will probably be done for the new ``AutotoolsToolchain`` integration, as it is less risky of

[2022-01-31 10:31] alexandre-marinkovic commented on #10449
Thanks a lot, it's all clear now!

[2022-01-31 10:31] #10449 closed, assigned to memsharded

[2022-01-31 10:34] #10427 closed, assigned to lasote, memsharded

[2022-01-31 11:04] philipp-kaiser commented on #10450
Tanks for your response,
in our case, it's not exactly clear, which task will finish first and therefore will first upload the recipe. I think we need to stay with our force solution.
Is there any good and solid solution, to ask the repository if the package already exists? Seems the `remote search` endpoint is not yet implemented.

[2022-01-31 11:21] KerstinKeller opened #10465 "[feature] better error output with custom generators"
When one writes a custom generator, and there are syntax errors, they are quite hard to catch:

[code]

Some additional context in the error message (e.g. line numbers) would extremely help during the development stage.

[2022-01-31 11:40] mattias-holm opened #10466 "[question] at.link_flags = "-Wl,-rpath,'$ORIGIN/../lib'" not working as expected"
I'm trying to set $ORIGIN while linking but for some reason '$ORIGIN/../lib' is interpreted some where along the way and LDFLAGS end up with "LDFLAGS=-static-libstdc++ -static-libgcc -Wl,-rpath,'RIGIN/../lib'"
Is there any way around this or is it just broken?

[2022-01-31 13:52] johan-boule commented on #1557
We managed to make it work like this:
`fsutil file SetCaseSensitiveInfo $CONAN_USER_HOME/.conan/data`
Then, we patched the function [_is_case_insensitive_os()](https://github.com/conan-io/conan/blob/77ef35364c60947edc389bd215f818375dd10792/conans/client/cache/cache.py#L38) so it returns False

[2022-01-31 14:04] memsharded commented on #10465
Have you tried definining ``CONAN_VERBOSE_TRACEBACK`` env-var? I think that should show a full trace.

In conan 2.0, errors in generators will show the full traceback, always.

[2022-01-31 15:57] #10465 closed, assigned to nobody

[2022-01-31 16:17] memsharded commented on #10459
Hi @OleksandrKvl

I think the main issue is that the old generators do not follow the layout. It was too difficult to do it without breaking, so the new layout() only applies to the generators in the new ``from conan.tools.xxxx`` domains.
The new generators, in this case the ``CMakeToolchain`` has implemented the ``cmake_paths`` functionality, will indeed follow the ``generators`` folder as expect

[2022-01-31 16:31] mattias-holm commented on #10466
It turns out that this is most likely binutils it self that does not play well with $ORIGIN

[2022-01-31 16:31] #10466 closed, assigned to nobody

[2022-01-31 17:12] OleksandrKvl commented on #10459
Do you mean that `cmake_paths` uses only `folders.build` but not `folders.generators` and that's why it works now? Ok but is there any other non-experimental or "right" way to set the path for `conan_paths.cmake`?

[2022-01-31 17:48] memsharded commented on #10459
It is experimental because it is pretty new, still a bit unstable, so we might need to do breaking changes to it. Also, because it also  can only work fully with other experimental generators like CMakeDeps and CMakeToolchain. All these components together is what implement the "canonical" and "transparent" cmake integration, something that the previous integration (cmake, cmake_paths, etc) couldn

[2022-01-31 18:16] OleksandrKvl commented on #10459
Thanks for the detailed answer,

I got this problem during `conan create .` call. AFAIK, `--install-folder` is only for `conan install`, isn't it?

[2022-01-31 18:38] mohabouje opened #10471 "[bug] ERROR: Error in generator 'BazelDeps': encoding without a string argument"
I've been using the bazel generator without issues. I want to integrate dear-imgui with a GLFW/GLEW backend but it keeps failing. I've attached a simple conanfile with the configuration I'm using:

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora release 34 (Thirty Four)
  * Compiler+version: gcc (GCC) 11.0.1 20210324 (Red Hat 11.0.1-0)
  * Conan ve

[2022-01-31 18:42] #9746 closed, assigned to tapia

[2022-01-31 22:03] memsharded commented on #10471
Thanks for reporting, with easy to reproduce instructions. I have managed to reproduce and submitted a quick fix in https://github.com/conan-io/conan/pull/10472, trying to get it for 1.45 tomorrow. Certainly the bazel integration is very preliminary at the moment, it is missing functionality and can have bugs. Please keep the feedback coming!

[2022-01-31 22:19] memsharded commented on #10441
Let me give some context: Initially we conceived the user/channel as something dynamic, something that could change and that could serve for moving packages through different stages. We realized it was a mistake, and that packages should be immutable. This was already proposed and validated for Conan 2.0 in this tribe proposal: https://github.com/conan-io/tribe/pull/16

One of the implications is

[2022-01-31 22:45] memsharded commented on #10450
I mean, you can guarantee it, just by running a job at the beginning that does a ``conan export`` (note it is not an ``export-pkg``, just an ``export``), and then uploading the recipe only. That task should take only a couple of seconds. And only after that you launch the parallel jobs for ``export-pkg``.

[2022-01-31 23:02] #10471 closed, assigned to memsharded

[2022-01-31 23:03] memsharded commented on #10471
https://github.com/conan-io/conan/pull/10472 merged, to be released 1.45

[2022-02-01 06:18] cajus commented on #10441
Thanks for your answer @memsharded - id didn't notice conan-io/tribe#16 yet.

I'm still not sure if you got me right. It's not about my program's conanfile which requires some packges. They've all a `libcurl/1.2.3@foo/bar` style requires. It's about the need to modify the requires of "forked" packages from conan-center. So I've to replace all their requirements from `libcurl/123` to `libcurl/123@f

[2022-02-01 08:12] philipp-kaiser commented on #10450
Thanks, I will try that while waiting for Conan 2.0 ;)

[2022-02-01 08:12] #10450 closed, assigned to memsharded

[2022-02-01 09:47] AndreyMlashkin opened #10473 "[bug] conan create is faulty on windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 2019
  * Conan version: 1.44.1

### Steps to reproduce (Include if Applicable)
a recipe does not really matter
cd ... conan-center-index\recipes\yasm\all
conan create . yasm/1.3.0@ --build missing

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2022-02-01 09:47] AndreyMlashkin commented on #10473
relates to https://github.com/conan-io/conan-center-index/issues/9209

[2022-02-01 10:00] Hopobcn opened #10474 "[bug] conan search only finds recipe, revisions but not packages"
Hi, recently I noticed that for some of the packages I store in artifactory, when I try to 'conan search' them, only the recipe appears to be visible. But when inspecting artifactory I see the binary packages.

### Environment Details (include every applicable attribute)
  * Operating System+version: Centos 7.9
  * Compiler+version: not-applicable
  * Conan version: 1.44.1
  * Python version: 3.6.

[2022-02-01 10:06] AndreyMlashkin commented on #10473
I have removed my whole local cache in order to get rid of this error, then it works again

[2022-02-01 10:25] Da-LiFe opened #10475 "[bug] "too many values to unpack" when ":" in exports_sources file"
### Environment Details
  * Conan version:1.40.4
  * Python version: 3.6.12

### Steps to reproduce

- `touch "wait for: serve coffee.py"`
- create a conanfile.py with this content

[code]

### Logs
 `conan create conanfile.py md5test/1.0.0@testing/snapshot`

[code]

Assuming that the md5 hash in the manifest has a very limited and known charset `filename, file_md5 = md5line.rsplit(": ", 1)` could

[2022-02-01 10:30] memsharded commented on #10393
Lets try the ``CMakeToolchain`` to define it (CMAKE_INSTALL_LIBDIR only at the moment, which is the evidence that we have that is necessary, no need to do all variables), because trying to manage the variability of Linux distros and the lib64 folder seems complicated and fragile

[2022-02-01 10:54] #10406 closed, assigned to franramirez688

[2022-02-01 10:54] memsharded commented on #10406
Overkill at this moment, lets wait

[2022-02-01 12:08] mohabouje opened #10476 "[bug] Error while compiling with bazel: Error in glob: pattern cannot be absolute"
I reported a bug yesterday: https://github.com/conan-io/conan/issues/10471#issuecomment-1026297628

I've installed master with the fix and it seems to solve that issue.

I'm running into a different issue when using bazel now, It may not be related to that specific commit but its something that breaks in the commits in master planned for version 1.45, as it works just fine in version 1.44.1

### E

[2022-02-01 12:14] mohabouje commented on #10476
It has nothing to do with glew, this fails with any package, I've tried boost or fmt.

Version 1.44.1 generate a BUILD:
[code]

Version1.45-devel generates BUILD.bazel:

[code]

Everything seems to be equal but the `hdrs` key  should be a `glob` expression relative to the package path

[2022-02-01 12:26] mohabouje commented on #10476
Could be related: https://github.com/conan-io/conan/commit/26b2dbcc8c910c47cc42b197ed3ca04320127f3a#diff-5448f143013e48f4a5b8d403315532079730f5335ffba27c09a90e7e965bcd73

[2022-02-01 12:46] memsharded commented on #10476
Yes, this is not related to the previous (yesterday) error, but to another change that was done this release. Having a look.

[2022-02-01 13:00] #10440 closed, assigned to franramirez688

[2022-02-01 13:03] iradization opened #10477 "[question] fetching 3rd party libraries using conan compiled on multiple architectures in macOS"
Hi, I'm using Conan in my cmake-based project to upload some 3rd party libraries for macOS.

Those libraries are compiled with the same architecture as my current machine (x86 or Arm64) and I'd like to be able to compile it for both platforms (ARM64 and x86).

Is there any cmake setting for conan that tell it to get both versions ? or maybe FAT format that contains both versions on the same file ?

[2022-02-01 13:05] franramirez688 commented on #10440
Thanks for contributing @Makogan 😄

It will be released in the next Conan 1.45.

[2022-02-01 13:34] memsharded commented on #10477
Hi @iradization

This seems a cmake-conan question, not a Conan one.

In general in Conan, every package is 1 binary configuration, so installing more than 1 configuraiton requires several invocations:

[code]
Then it is the responsibility of the generator to support multi-configuration. CMake doesn't support default multi-configuration based on the architecture (only Debug/Release). In that regar

[2022-02-01 13:35] ghost commented on #9999
I would like to bump this topic and see if we can get a statement from the conan devs.

I have checked [CI/CD in C/C++ Projects with Conan and Artifactory](https://github.com/conan-io/training-ci) and the way it is described there is to set up an extra conan-metadata repository and store the lockfiles there, so its basically the approach 2 as OP described. As the slides are from the main Conan dev

[2022-02-01 13:46] memsharded commented on #10476
I am proposing this PR: https://github.com/conan-io/conan/pull/10478. There are several issues:

- Base ``cpp_info`` have moved to absolute paths, for other reasons, but the bazel ``glob`` needs them relative (fixed in the PR)
- The Bazel tests in the suite were flawed, they were actually not testing the dependency, but one single project code without dependencies, that made this issue not detecte

[2022-02-01 13:51] memsharded commented on #9999
Hi all,

We are investigating the possibilities of exporting lockfiles together with the recipe in https://github.com/conan-io/conan/pull/10261. Very preliminary, a lot of work to do, but it could be that Conan 2.0 simplified lockfiles could allow this.

Otherwise, it is likely that putting the lockfiles in a git repo (a different one than the source, otherwise adding lockfiles keep modifying revi

[2022-02-01 13:56] ghost commented on #9999
Thanks for the heads-up and the quick reply! As always you guys are doing a magnificent job!

[2022-02-01 14:17] vdsbenoit opened #10479 "[question] Ship buildable-from-sources projects"
## Description
### Context
We use conan to package our company libraries. We have a private conan registry where we store them. Some of our libraries depends on others of our private libraries.

### Issue
In some cases, we need to share projects with collaborators who are external to the company. These collaborators do not have access to our conan registry.

### Overall question
If we need to shar

[2022-02-01 14:53] wer14 commented on #10435
Thank you for your proposition, I work with conan on my daily job, on my free time I do other stuff.

[2022-02-01 15:48] memsharded commented on #10479
Hi @vdsbenoit

We are aware of this. One of the root causes is that there is no general, robust, collision-free "deploy" output. The only place where binaries will certainly not conflict is the Conan cache.

So even if it is possible to ``deploy`` them to a user folder, that doesn't scale. For example: how many different binaries are being distributed to the final user, just Release ones? Or maybe

[2022-02-01 16:06] #10476 closed, assigned to nobody

[2022-02-01 16:27] mohabouje commented on #10476
This fix does not solve the issue:
[code]

After commenting the assertions, i'm running into another issue:

[code]

[2022-02-01 16:30] mohabouje commented on #10476
Looks like for some packages, we have:

[code]
assertions fails then:
[code]

I'm guessing we need to remove the preffix only if its there

[2022-02-01 16:32] memsharded commented on #10476
Hi @mohabouje

I see, those are system packages using resources from the system (a bit surprising to see ``freetype`` there, as there is a Conan package for it). But then, if we don't make it relative and leave the absolute path, the ``glob`` will complain anyway, won't it?

[2022-02-01 16:38] mohabouje commented on #10476
I havent test it but most likely to be an issue indeed.

Probably there is a conan recipe trying to use freetype from the system package even tho I have it on my conanfile, any form to force this?

[2022-02-01 16:41] memsharded opened #10481 "BazelDeps failing when using absolute (system) folders"
Looks like for some packages, we have:

[code]
assertions fails then:
[code]

I'm guessing we need to remove the preffix only if its there

_Originally posted by @mohabouje in https://github.com/conan-io/conan/issues/10476#issuecomment-1027035172_

[2022-02-01 16:43] memsharded commented on #10476
I am creating a new ticket to track this (as the original "glob" issue + some improvements on the testing and BazelDeps closed this one, better narrow the scope of the fix).

I don't think we will manage to make it for 1.45, as it is about to be branched (today), but lets try to stabilize and improve the integration for 1.46

[2022-02-01 16:47] mohabouje commented on #10476
Another thing, it use to generate the packages in conandeps folder, and you could easily link all of them to bazel as explained here: https://docs.conan.io/en/latest/integrations/build_system/bazel.html

Not anymore the case, this looks like this latest change broke this somehow. Packages get generated in the root folder instead.

[2022-02-01 16:49] mohabouje commented on #10476
I will downgrade to 1.44.1 and wait for a proper fix then, version 1.45 implies some refactoring of my build files. Thanks for the help!

[2022-02-01 16:50] mohabouje commented on #10481
Could be related:
[code]

[2022-02-01 16:51] memsharded commented on #10476
Yes, that was something incorrectly hardcoded. The integration shouldn't hardcode the ``conandeps`` folder. Instead, the projects can define in ``layout()`` method something like ``self.folders.generators = "conandeps"`` if they want. This has been fixed and the ``layout()`` applied to failing tests.

[2022-02-01 16:52] memsharded commented on #10473
Then I understand it is not possible to reproduce it anymore? If that is the case, probably the best is to close the issue and create a new one if it happens again, as it will be very challenging to try to reproduce it.

[2022-02-01 16:56] mohabouje commented on #10476
Thanks for that, I always wanted to generate that somewhere outside the repo

[2022-02-01 16:57] mohabouje commented on #10481
Simple example to replicate this:

[code]

[2022-02-01 16:59] memsharded commented on #10476
Then the new ``conan install --output-folder`` in 1.45, together with the layout defined in the recipe, will be probably of interest

[2022-02-01 17:02] mohabouje commented on #10476
[code]

Originally, 1.44:
[code]
In 1.45:

[code]

Not sure if its gonna make it to 1.45 but this is missing on this fix, 1.45 is not working with bazel right now

[2022-02-01 18:29] AndreyMlashkin commented on #10473
It happens for me from time to time.
Actually, almost every time I want to use conan create

[2022-02-01 18:33] KerstinKeller opened #10482 "[bug] CMakeDeps generator, warning message on multiple find_package() calls"
I am running Conan 1.44.1.
A generated Targets file for a dependency with `CMakeDeps` looks like this`(excerpt)

[code]
The part with the `WARNING` message seems to be added since Conan 1.41.

In case of multiple `find_package` calls for the same library in one project (which can be very common), it leads to a ton of warnings:
[code]

I'd suggest to downgrade the warning to a regular `STATUS` mess

[2022-02-01 18:35] memsharded commented on #10473
The above steps are basically the standard ones, I cannot make it fail here.

Can you reproduce with the following steps?

[code]

I also see you are using ``CONAN_USE_ALWAYS_SHORT_PATHS=True``, please try to not define it too and see what happens.

[2022-02-01 21:26] memsharded commented on #10482
I think this has already been removed in Conan 1.45 in https://github.com/conan-io/conan/pull/10456, to be released tomorrow.

[2022-02-01 21:26] #10482 closed, assigned to nobody

[2022-02-01 21:59] memsharded commented on #10435
Sure, I was not suggesting that you do it in your free time, if this is important for your job, maybe is it something that you can do on office hours as part of your job? Many Conan contributors collaborate that way, just getting permission from their companies to collaborate in some open-source projects they use.

[2022-02-01 22:00] fanselm commented on #3230
Hello, just here saying the problem is still there.

In @franramirez688 example (https://github.com/franramirez688/reproduce-bugs/tree/bug/soname-legacy) you don't see it as when you run the executable the linker can still find the shared libraries through the absolute paths. Now if you instead copy `libnosoname.so` and `liblibB.so` to a separate local folder and then remove them from the conan ca

[2022-02-01 23:09] nichmj01 commented on #10329
Hey @memsharded: Thanks for pointing to that post and the suggestion to use `recipe_revision_mode`. I didn't wrap my head around it initially and needed to really experiment with how `package_revision_mode` works but now I see that `package_revision_mode` is way more restrictive than I understood. A behavior similar to that of `recipe_revision_mode` is what I was really looking for.

Ideally what

[2022-02-02 06:30] SSE4 opened #10486 "[feature] [hooks] filter invocations for dependencies (post_package_info in particular)"
from https://github.com/conan-io/hooks/pull/377

right now it's not easy from the hook itself to understand was it called for the main reference (the one `conan create` or `conan install` was invoked on), or some dependency.
in particular, `post_package_info` hook is invoked multiple times.
from the method signature, I don't see an easy way to distinguish if a package is a root graph node or node.

[2022-02-02 06:59] cajus opened #10487 "[bug] Checks for the build TYPE do not work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora 35
  * Compiler+version: gcc 11
  * Conan version: 1.44.1
  * Python version: 3.10.2

### Steps to reproduce

I need to check whether a build is static or not. For Qt, this works like this:

[code]

Using the _conan-center-index_ packages, this always returns `INTERFACE_TYPE` and the check does not wo

[2022-02-02 08:44] db4 commented on #8934
@memsharded API copy is not going to work with Artifactory CE for C/C++, right?

[2022-02-02 08:52] #10411 closed, assigned to nobody

[2022-02-02 08:54] gsemet commented on #8934
Hello. I am still investigating on how to be compatible with Conan 2, because promoting packages from user/channel to user/channel is essential to the way we build and make our package available to the rest of the developers.

The way we build, test and release our package might not be the cutting edge state of the art but it is proven scalable and repeatable. However, like you said, some packages

[2022-02-02 10:40] franramirez688 commented on #3230
Hi @fanselm

Thanks a lot for your feedback, it's really appreciated.
I'm going to perform another test to try to reproduce exactly what you're saying in my local so we could have anything failing on our side and try to figure out a possible solution.
I'll update this thread with the result and reopen the issue in that case as well.

[2022-02-02 12:00] JonathanGirardeau opened #10491 "[question] How CMake variables like "INTERFACE_LINK_LIBRARIES" should be passed from dependency to consumer package ?"
Hello,

Here is my example:
Package `foo` (executable) depends on package `spdlog` (log package can be found on conan-center). In **Android** build (cross-build), `spdlog` package needs to link with `log` library, so there is a `target_link_libraries(spdlog PUBLIC log)` in its `CMakeLists.txt`. My problem is when I try to build package `foo` in Android, I got a link error regarding the functions d

[2022-02-02 14:09] RolfBippus commented on #10454
The direct solution was to set general.error_on_override=False in conan.conf. Sorry I did not see this from the start.

The order was correct, first specifying libB, which then gets set to a concrete version and then overrides all other version of libB in the remaining requirements.

Still, ideally I would like to allow the override only if the new version (1.3.0) satisfies the range imposed by th

[2022-02-02 15:07] memsharded commented on #10454
Ah, sure, of course, if that config is True, it is totally expected to raise. No prob, glad to hear you found it.

Yes, the behavior of 2.0 is more or less:
- If there is a diamond, and one fixed version in the diamond, satisfies the range in another branch of the diamond, that version can be taken as valid (as opposed to resolve the version range to the latest existing matching version, and then

[2022-02-02 15:08] #10375 closed, assigned to memsharded

[2022-02-02 15:11] memsharded commented on #10491
The information in Conan is passed via the ``package_info()`` method. It is fully abstracted from the build system. You should be filling the ``cpp_info.libdirs``, ``cpp_info.system_libs``, ``cpp_info.libs``, ``cpp_info.cxxflags`` etc. That information is propagated to the consumers, and the consumers "generators" will translate that information to the build system it is using.

No. As stated abov

[2022-02-02 15:36] memsharded commented on #10475
Thanks for reporting! Proposing #10492 to fix it for 1.46

[2022-02-02 16:02] fanselm commented on #3230
I have now found more libraries that also don't have an SONAME :(

Now I have changed my mind about the cmake generators: CMake should never link in shared libraries with the full path. That is not the "Linux-way", the whole GNU environment assumes that you will link with `-L/path/to/lib -lname` with the inherent risk of picking up libraries from some place else if you're not careful enough. That

[2022-02-02 16:21] RolfBippus commented on #10454
Sounds good!
I like the 1.3.x syntax, since for semantic versioning this is somewhat more readable (all bugfixes are ok, if you do not break your versioning).
Assuming there will not be thousands of bugfix releases however, the first syntax will definitely suffice.
Thanks.

[2022-02-02 16:22] JonathanGirardeau commented on #10491
Thanks for the answer, I think it is more clear for me.

Conan makes the transmission of the information fully abstracted from the build system, it is cool.
However conan can not detect dependencies expressed in `CMakelists.txt` like `target_link_libraries(foo PUBLIC log)`.
So in my example I should manually add `cpp_info.system_libs = ["log"]` in the `spdlog` recipe to express dependency to syste

[2022-02-02 16:39] memsharded commented on #10491
Yes, there is some preliminary work to use CMake File API, but it is not there yet. And parsing user CMakeLists to extract that kind of information is simply not feasible, it would be very complicated and super fragile. So it relies on a bit of repetition, needing to declare things explicitly in ``package_info()``, but:

- it is typically not very difficult, only challenging with some third party

[2022-02-02 16:49] amirmasoudabdol opened #10496 "[question] Conan cannot find `zlib` although it has installed it"
I'm new Conan and I'm finding my way around things rather alright; however, there are some random issues that I have no idea how to deal with.

For instance I have this `conanfile.txt` that installs the `zlib` for me. I can run the `conan install ..` successfully and all my packages are being installed, and I can confirm that by checking the `.conan` folder. When I run the `cmake ..`, in the log I

[2022-02-02 16:53] #10491 closed, assigned to memsharded

[2022-02-02 17:00] memsharded commented on #10496
Hi @amirmasoudabdol

It might be something in your build system CMakeLists.txt , it would be great to share the full details to reproduce
Also a couple of recommendations:

- Use better ``compiler="Visual Studio"`` and compiler.version=17, the old integrations like ``cmake`` use it
- Try to reduce the problem to the very mininum, that really helps to debug things. If you can leave only the zlib de

[2022-02-02 17:45] memsharded commented on #10474
Hi @Hopobcn

Yes, this is unexpected. The binaries should show there when ``conan search <full-ref> -r=<remote>``.
Could you please check:

- When clicking on Artifactory web UI, on the specific package binary, and going to the "Conan" tab, you should see some Conan package information, like the settings "os=Linux" etc. Please let us know what you see there.
- If you can download and share here th

[2022-02-02 21:59] #8964 closed, assigned to nobody

[2022-02-03 07:23] #10475 closed, assigned to memsharded

[2022-02-03 07:57] iiknd opened #10499 "[bug] Profile includes prefer $HOME/.conan/profiles folder over the folder of the importing profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux/Ubuntu20
  * Conan version: 1.42.2
  * Python version: 3.9.5

In my env I have had old deprecated profile hanging here
`~/.conan/profiles/linux-base-profile`

[code]

[code]

From the output I can see that include() actually loads the settings & options from ~/.conan/profiles/linux-base-profile, not fr

[2022-02-03 08:18] amirmasoudabdol commented on #10496
Thanks! That indeed helped, and it also resolved some problem that I had with installing Boost! :-)

[2022-02-03 08:18] #10496 closed, assigned to nobody

[2022-02-03 08:20] memsharded commented on #10496
Great, happy to hear it is solved!

[2022-02-03 08:46] memsharded commented on #10499
Hi @iiknd

I am investigating this with this test:

[code]

It seems that Conan wants the ``include()`` explicit. If you use ``include(./something)`` it will understand it relative to the current profile. It is true that in that case, it shouldn't probably fallback to the local relative one if it doesn't exist in the cache.

This sounds risky to change in 1.X, we will probably break some other use

[2022-02-03 08:52] memsharded commented on #10459
Yes, that is true, sorry, didn't realize it was for ``conan create``. ``--install-folder`` not in create.

There could be something that you could try as a workaround: use the ``generate()`` method to change location of the generated ``cmake_paths.cmake`` file, like an ``os.rename()``

[2022-02-03 09:10] OleksandrKvl commented on #10459
I think that my main fallacy was that I thought Conan is already super-stable and super-integrated with everything because it's been there for years so I tried to rely on non-experimental approaches :) I will continue to use `cmake_layout()` for now and will switch to `CMakeToolchain` in the future. I'm leaving this issue open but since my problem has been resolved feel free to close it if you don

[2022-02-03 09:49] Hopobcn commented on #10474
Hi @memsharded, first of all, thanks for your help!

This is what I see in the Artifactory UI:

![imatge](https://user-images.githubusercontent.com/2794977/152315224-5613ab5e-b363-41ce-a645-e6c38aab73dd.png)

And the `conaninfo.txt`:

[code]

These binaries use a modified `settings.yml` that I extended with `os.distro` & `os.distro.version` (like discussed here https://docs.conan.io/en/latest/exte

[2022-02-03 10:04] memsharded commented on #10459
Yes, you are right. The "stable" build system integrations were "frozen" like 4 years ago, and they were lacking features (like transparent integration) and sometimes had some bad defaults. But as they were frozen, they had some difficult to fix things without breaking, so they are stable, but not that good. So we tried to solve all those problems in the new integrations, so we could introduce the

[2022-02-03 10:04] #10459 closed, assigned to memsharded

[2022-02-03 12:30] dipustm commented on #8459
Hi,

I am using Conan version 1.45.0 but still getting ERROR
"Uploading to remote 'dev_testing':
Uploading hcl/0.2@origin/nav_int to remote 'dev_testing'
ERROR: hcl/0.2@origin/nav_int: Upload recipe to 'dev_testing' failed: HTTPSConnectionPool(host='rb-cmbinex-hi-d01.de.bosch.com', port=443): Max retries exceeded with url: /artifactory/ehorizon-conan/v1/ping (Caused by SSLError(SSLCertVerification

[2022-02-03 12:31] dipustm commented on #8459
Result of conan remote:-
conan remote list
conancenter: https://center.conan.io/ [Verify SSL: True]
dev_testing: https://rb-cmbinex-hi-d01.de.bosch.com/artifactory/api/conan/ehorizon-conan-repos [Verify SSL: True]

[2022-02-03 12:34] memsharded opened #10500 "[feature] make conanfile.version always a pure string"
Recipes can do ``Version(self.version)`` to compare or use ``self.ref.version``

[2022-02-03 13:22] lasote opened #10501 "[Bugfix] test_package 2.0"
If you forget to introduce the explicit require, it doesn't complain and it is very challenging to get what is going on (a test package project consuming nothing).
Would be nice to fail if no requirement of any kind is in the graph.

[2022-02-03 13:36] iiknd commented on #10499
Hi @memsharded

Thanks, this approach works for me :+1: From my behalf targeting it to 2.0 is ok.

[2022-02-03 13:43] memsharded commented on #8459
Hi @dipustm

It could be a few things:

- You installed 1.45 as an upgrade, and it didn't migrate the Conan cache certificates file. Try removing from your cache the ``cacert.pem`` file and try again.
- There is something else in your system (you would need to report OS, version, Python version, how you installed Python and Conan), that is having issues with the certificate. A first step is trying

[2022-02-03 15:18] lasote opened #10502 "[feature] Move file tools to "conan""
There are still some "file" related tools not migrated to "conan".
- Some of them are probably overacting regarding the encoding, probably in some situations, inherited from python2. As we really don't know what is py2 legacy and what is necessary, try to simplify is something looks weird or too much, maybe always, all, utf-8?
- Some others maybe are not very used, take a look at conan-center and

[2022-02-03 15:28] lasote opened #10503 "[feature] scm migrate to "conan" namespace"
- Simplify architecture (superclasses and other magic)
- Remove the "no-auto" use case: Defining fixed fields just to avoid doing a manual clone/checkout. Deprecate in the migration guide the usage of revision != "auto" or whatever is needed.
- Expose simple tools (moving to conan) for Git, SVN, and internally, for the scm feature, use whatever we need (do not break).

[2022-02-03 15:32] lasote opened #10504 "[feature] Migration guide, try catch for "del <setting>""
Doing `del self.settings.compiler.libcxx` in Conan 2.0 fails if the setting doesn't exist but it didn't fail in 1.X.
We want to keep it failing, because it is more robust if a user specify a typo or whatever, is more pythonic.
Recommend to do try except pass.
Probably this situation will be mitigated with a higher level feature indicating "this is a C package" and automatically removing settings e

[2022-02-03 15:45] lasote opened #10505 "[feature] 2.0 Remove "imports" and "deploy" mechanism"
We think that the imports use cases can be solved with other mechanisms:

`imports()` method:
1. Import a tool from a dependency to run it, like cmake: Superseded by virtual environments.
2. Import shared libraries to run something in the build method. Superseded by virtual environments, and also broken because if you want to build a package locally you want to import the artifacts at "generate" t

[2022-02-03 15:49] lasote opened #10506 "[feature] "conan deploy" command"
See (*1) from https://github.com/conan-io/conan/issues/10505
Kind of the same idea behind https://github.com/conan-io/conan/pull/9273/files

[2022-02-03 17:18] memsharded commented on #10474
Thanks for the detailed report!

I am checking the codebase, I cannot find a reason why the ``scm`` could affect the ``conan search <ref>`` for binaries.

Do you have access to the Artifactory traces? Can you get the traces that match that ``conan search`` request?

This is looking like a difficult to debug problem. Probably the next thing that I would try would be:

- Download a local Artifactory

[2022-02-03 18:37] Hopobcn commented on #10474
Unfortunately no, but I will try to see If I can request that data.

I will get back to you after testing with another artifactory instance.

[2022-02-03 18:39] Hopobcn commented on #10345
Hi, I tried to create a small test to reproduce this error (I think it also affects me) but I think in my case i'm hitting another error (might be related?):

**tool/1.2.3**
[code]

**lib/1.2.3** with a build_requires
[code]

and a consumer conanfile.txt
[code]

After exporting recipes I follow with the typical commands to create base & specialized lockfiles:

[code]

[code]

And in the install ph

[2022-02-03 20:13] mohabouje opened #10508 "[bug] BazelDeps does not work with shared libraries"
It is hard-coded in the BazelDeps.py class. I've done a quick fix on my fork but I do have some other pull request open with previous fixes.

Putting this hear to help with the milestone for version 1.46

Possible fix: https://github.com/mohabouje/conan/commit/84621b5791ebb790ecc26745f3835d1b32168ac1

[2022-02-03 20:26] janosvitok opened #10509 "[feature] Support for Xcode 13.3 (currently in beta)"
Xcode 13.3 (still in beta) reports clang version as 13.1.6, so equivalent of #9642 is needed.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-03 20:48] sssilver opened #10510 "[question] Conan keeps uploading to Artifactory port 80 instead of 443 when using HTTPS"
Hi,

I'm deploying my own Artifactory through the jfrog/artifactory-cpp-ce Helm chart:
[code]

My `./values-artifactory-cpp-ce.yaml` contents:
[code]

Then I configure Artifactory, create the repository named `conan`, set permissions, and add it as a remote to my Conan (notice the `https` prefix in the URL):
[code]

When I finally try to upload a package to my repo, I get the following errors:
[co

[2022-02-03 21:16] bazizsafi opened #10511 "[bug] `python_requires_extend` in base class should extend base class but extends sub class"
I stumbled upon a little quirk in the implementation of `python_requires_extend`. I am not sure whether it is worthy to be called a bug, but I think it is unintuitive at the least.

Let's say that we have a `ConanFile` subclass `ProjectBaseConanFile` which serves as the base class for some project variants with their classes `VariantAConanFile`, `VariantBConanFile`, `VariantCConanFile`.

Instances

[2022-02-03 22:01] nichmj01 opened #10512 "[question] Possible to map compatible package_ids?"
We created a some packages using `package_revision_mode` and are now moving to using `recipe_revision_mode`. The mode switch has caused the package_ids to change but I'd really like to not to have to rebuild all the packages since we know they're binary compatible and some of the builds take hours.

I've tried playing with [compatible packages](https://docs.conan.io/en/latest/creating_packages/def

[2022-02-03 23:48] memsharded commented on #10511
Hi @bazizsafi

Thanks for the detailed report.
I am trying to reproduce, but I am missing something, because the behavior seems correct, this test is passing:

[code]

I think it reproduces your described scenario, what is missing?

[2022-02-03 23:52] memsharded commented on #10512
Have you tried something like this?

[code]

If not, please try and let me know.

[2022-02-04 00:03] memsharded commented on #10509
Hi @janosvitok

Do you have any link with info about it? In the usual https://gist.github.com/yamaya/2924292, still not there, in the apple release notes nothing either. I would like to know, just in case, if apple-clang 13.1 brings any change in defaults (like default cppstd), not likely but better check if possible.

[2022-02-04 00:21] memsharded commented on #10510
Hi @sssilver

I honestly have no idea what could be the issue. I would say that this is mostly a server configuration issue for a couple of reasons:

- If it was something in the client side, it would have been reported more often. Https is widely use for Conan, even the ConanCenter is https://center.conan.io
- Conan code does not contain any logic regarding this. It just uses the URL provided by

[2022-02-04 01:45] puetzk opened #10513 "Avoid setting CMAKE_FIND_ROOT_PATH_MODE_LIBRARY BOTH in CMakeToolchain"
See also the thread started by by @SpaceIm in https://github.com/conan-io/conan/pull/10186#discussion_r782208413_
I didn't see this until looking at the 1.45 changelog, and I figure the review of a month-old merged PR is not best place to raise additional concerns.

setting CMAKE_FIND_ROOT_PATH_MODE_* to BOTH gives me a lot of heartburn. I get the argument that BOTH will still check the places tha

[2022-02-04 01:55] SpaceIm commented on #10513
Actually, I've proposed a more complex solution in https://github.com/conan-io/conan/pull/10186, allowing to always honor:
- `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE` `ONLY`
- `CMAKE_FIND_ROOT_PATH_MODE_<INCLUDE/LIBRARY/FRAMEWORK>` `ONLY` as soon as `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM` is `NEVER` (which is a common setup).

see https://github.com/SpaceIm/conan/blob/edff4ac9980a43c525363b36278267d5eab2522

[2022-02-04 02:11] nichmj01 opened #10514 "[question] Locking some dependencies in a "Dependency Package""
We have a package that functions to collect all our dependencies so that each project doesn't have to reference them separately. This helps ensure projects are at least starting with the same, known working dependencies. Some of the recipes/packages listed in the Deps package are controlled internally and some are managed externally.

For example:
[code]

We are currently not using version ranges

[2022-02-04 03:08] puetzk commented on #10513
Yep, that's precisely the usual setup for cross-compiling that I would like to retain.

[2022-02-04 03:10] puetzk commented on #10513
it just did like there is kind of a CMake gap here - no good way to say "these build-system paths contain host binaries" without using CMAKE_FIND_ROOT_PATH, which has all kinds of other consequences (re-rooting all other searches)

[2022-02-04 03:48] nichmj01 commented on #10512
Hi @memsharded,
This didn't seem to work. Wasn't quite sure where to put this so I added it to the LibX package to try it out. It didn't seem to change anything.

To walk through the test I ran in case I might have done something wrong there:

1. Set `default_package_id_mode=package_revision_mode` in `conan.conf`
2. Create packages ('conan create') for LibA, LibB, and LibX
    - All packages are n

[2022-02-04 06:34] janosvitok commented on #10509
https://gist.github.com/yamaya/2924292?permalink_comment_id=4051431#gistcomment-4051431 mentions Xcode 13.3 Beta 1

Here are official release notes: https://developer.apple.com/documentation/xcode-release-notes/xcode-13_3-release-notes

https://en.wikipedia.org/wiki/Xcode

How do I find default cppstd?

[2022-02-04 10:13] memsharded commented on #10512
Oh, I think I understand what is happening. Introducing changes in the recipes to add ``package_id()`` new logic, changes the recipe revision anyway, which by itself requires a rebuild. It is not possible at the moment to introduce such change without requiring a rebuild. (we are working to try to introduce binary compatibility outside of the recipes, but that won't be in 1.X ,only 2.0).

So it se

[2022-02-04 10:15] memsharded commented on #10510
Issue in jfrog repo: https://github.com/jfrog/charts/issues/1575

[2022-02-04 10:16] julienalofs opened #10515 "[question] How to pass cmake configuration option with modern conan?"
I need to pass cmake configuration option to be able to modify the project version. Unfortunately, by using toolchain variables, those variable aren't already loaded when the project() cmake function is called.

How could I achieve that?

- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-04 10:19] memsharded commented on #10510
Quick update. The Artifactory SetMeUp doesn't use any port, and it doesn't need it to use https. A normal line is ``conan remote add <REMOTE> https://<url>/artifactory/api/conan/conan-local``

[2022-02-04 10:36] memsharded commented on #10515
Interesting question, I didn't know that the project() call would not be able to use toolchain.cmake defined vars. I see projects like https://github.com/tinyalsa/tinyalsa/blob/515be35688a76edee90b892150ea22fa9516638c/CMakeLists.txt#L7 doing some crazy things like reading things from a file.

I think I would try something in the line of:

- The ``generate()`` method is in general the responsible o

[2022-02-04 10:44] memsharded commented on #10514
I think this might be challenging with lockfiles, at least with 1.X lockfiles seems not possible. The thing is that lockfiles will capture the full snapshot of the dependency graph, including all revisions for all packages. It is not possible to lock some packages while letting others "free".

Even if you capture a lockfile that locks ExternalZ to be applied when building InternalA, when you try t

[2022-02-04 11:03] julienalofs commented on #10515
Thank you for the quick reply @memsharded

I'm not sure to understand what you mean by `unless you correctly pass all the -DVAR=VALUE that the build() method would be adding`.

Like you, I think that the `generat()` methode is responsible of this task. But cmake options can passed with arguments to the `cmake ...` call, isn't it ?

[2022-02-04 11:14] memsharded commented on #10515
The alternative is to implement something that adds command line cmake variables in the ``cmake.configure()`` call that happens inside the ``build()`` method. Something like ``c = CMake(self),  c.vars["MYVERSION"]=self.version,  c.configure()``, will pass the -DMYVERSION=xxx to the command line when the ``build()`` method executes.

But the goal of toolchains is to be able to do native builds, so

[2022-02-04 12:25] boussaffawalid opened #10517 "[bug] --require-overrid does not affect package id"
When injecting an override using ` --require-overrid` options, final package id is not affected.

### Environment Details
  * Operating System+version: Macos catalina
  * Compiler+version: apple-clang 12.0
  * Conan version: 1.45.0
  * Python version: 3.8.6

### Steps to reproduce

Starting with this conan file:

[code]

1.  Create a conan package using the command `conan create .`
2.  Get package

[2022-02-04 12:26] jamasnga commented on #9412
What I have found is that this issue does not seem to occur when **revisions_enabled=1** is set in the conan.conf. Had the same problem with `conan install android-ndk/r21d@` and with revisions_enabled=1 the package could be downloaded every time. However I'm not sure if this is really the solution as the problem did not always occur without revisions_enabled set. Nevertheless, it seems to make a

[2022-02-04 12:59] bazizsafi commented on #10511
Hi @memsharded

Thanks for the quick response!

I noticed that in the test _all_ inheritance is done via `python_requires_extend`. In the original code the inheritance of `VariantXConanFile` from `ProjectBaseConanFile` is done via actual subclassing:
[code]
Only the new `CompanyConanFile` is exported to our company repository and injected via `python_requires_extend`.

I owe you an apology because

[2022-02-04 13:15] memsharded commented on #10517
Hi @boussaffawalid

This is completely expected. Doing an override or changing the upstream version do not change the ``package_id`` unless you change the package_id_mode. You can do it directly on the ``package_id()`` method or using the configuration default ``default_package_id_mode``. But unless you change it, the binary will depend on "semver_direct_mode" which means that ``zlib/1.X.Y`` is th

[2022-02-04 13:17] julienalofs commented on #10515
Yes this clarifies.

It is just that it doesn't really fit with the cmake phylosophy. Cmake doesn't offer a way to configure options through toolchain because we can't be sure when the toolchain is loaded. I mean not in a generic/global solution.

From my side, I think something like `c = CMake(self), c.vars["MYVERSION"]=self.version, c.configure()` would be the correct answer but, that is just my

[2022-02-04 13:26] memsharded commented on #10515
Not sure I follow. In general toolchains seems a good approach to define cmake inputs, and it seems only the project() version thing could be one exception. But the rest of possible options, configurations, etc, seems to be well defined, it is possible to configure many different things in a toolchain, define cmake variables, compilation flags, shared/static and more. If there are more things like

[2022-02-04 13:30] memsharded commented on #9412
There is a concurrency problem that maybe might happen when not using revisions: without revisions, the revision is always "0". If for some reason some other client decides to do an upload of a new build, that overwrites the "0" revision. Not sure to which extend Artifactory could have some concurrency limitation for this scenario, but it could be than using revisions practically removes this prob

[2022-02-04 13:54] memsharded commented on #10511
I see, thanks for effort in reproducing!

Indeed, the system was not designed to mix both inheritance approaches, both direct/local and ``python_requires_extend``.

I confirm that if all inheritance is done via python_requires_extend then the issue does not occur.

Then, do you think that it is worth to try to fix this, or do you really pretend to move the "ProjectBaseConanFile" to a real ``python

[2022-02-04 14:05] jamasnga commented on #9412
Attached is the console output: first without revisions_enabled then with revisions_enabled=1

[issue_9412.txt](https://github.com/conan-io/conan/files/8003521/issue_9412.txt)

We also discovered this with an internal package we created and deployed to our own Artifactory (7.27.6). The package is ca. 3GB and was built with revisions_enabled=1. If the client does not have revisions_enabled=1 we run

[2022-02-04 14:35] julienalofs commented on #10515
I made some more investigations:
- It appears that variables set in the toolchain cannot be read before the project() call. Nevermind.
- If i have a variable set in cache by my CMakeLists.txt (to expose an option). Variable with the same name in the toolchain will not override it.

So toolchain is great to add new variable but not to override existing one.

[2022-02-04 14:50] memsharded commented on #9412
yes it might be a bug, but as apparently it seems to be in the Artifactory side, it is something that we cannot fix it from here. And it will take definitely more time. As using revisions is recommended anyway, and Conan 2.0 (already in alpha.4) is always using revisions, I am not sure that such a fix would land in a useful time window.

[2022-02-04 14:57] puetzk commented on #10515
This is because CMAKE_TOOLCHAIN_FILE is loaded in CmakeSystem.cmake, which is loaded by enable_language(). So toolchain variables are not brought in until at least one language has been enabled. I think they do it this way since CMakeSystemSpecificInformation often uses some things (like CMAKE_LIBRARY_ARCHITECTURE) that aren't really language-specific (they really come from ld, not gcc/g++/clang),

[2022-02-04 15:30] fanselm commented on #3230
Just adding: The default behavior of ld (or as invoked through gcc or g++) is to NOT set an SONAME. This means that there may be quite a lot of libraries out there with this problem. CMake will typically invoke ld setting SONAME, but there's still a lot of libraries that do not use CMake - especially in the academic scientific community.

My solution is to either use `patchelf` or to provide custo

[2022-02-04 15:54] memsharded commented on #10515
Ok, another vote for this, I think we can implement it, no prob.

Presets is CMake 3.19. We have stabilized and approved on CMake 3.15 support in the Tribe 2.0. (https://github.com/conan-io/tribe/pull/4) We might add some more powerful capabilities for presets, but the "canonical" integration should be the one supported by CMake 3.15

[2022-02-04 16:15] memsharded commented on #10372
We have discussed this, and we have decided to leave the "str" type as base.
People wanting to use ``self.version`` for full comparisons can:

- Explicitly convert to ``Version(self.version)``
- Use ``self.ref.version``

[2022-02-04 16:36] nichmj01 commented on #10512
I would expect LibX and its downstreams to need to rebuild because LibX's RREV changed and its downstreams will need to rebuild as their package_ids now use the new RREV.

LibB still needing to rebuild is the weird part for me. By setting adding `requires.package_revision_mode()` to the compatible_packages I was expecting that the package_id for LibB calculated using `package_revision_mode` would

[2022-02-04 16:38] bazizsafi commented on #10511
Putting in some effort is the least one can do when using OSS for free. We all have to thank you.

That is good to know. I'm not sure if this information is present somewhere in the latest documentation. In any case I'd advocate for adding it to [Extending Conan > Python requires > Extending base classes > Limitations](https://docs.conan.io/en/latest/extending/python_requires.html#limitations), ma

[2022-02-04 16:38] nichmj01 commented on #10512
This is mostly curiosity at this point, and getting a deeper understanding. We're going to do as you suggest and build all the packages using recipe_revision_mode and then do a switch over when all of those are packages are built.

[2022-02-04 16:58] jamasnga commented on #9412
OK, thanks for that info. We will simply enable package revisions from now on since that seems to solve the issue.

[2022-02-04 17:12] puetzk commented on #10515
Hmm, true. Not something **I** care much about, but I had forgotten there was already an official ruling. Others certainly do care.

On the other hand, that really just means conan.tools.cmake.CMake can't use `cmake --preset`, not that it couldn't use the [CMakePresets.json](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html) format (and parse the JSON itself for the generator argumen

[2022-02-04 17:23] puetzk commented on #10101
Moving my comment from https://github.com/conan-io/conan/issues/10515#issuecomment-1030182784 over here, since it seems like a better place.

I'm not sure that supporing a minimum of 3.15 is necessarily a blocker; it really just means conan.tools.cmake.CMake can't use `cmake --preset`, not that it couldn't use the [CMakePresets.json](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html)

[2022-02-04 17:38] memsharded commented on #10515
Uhm, that is a really interesting approach. If in fact everything is possible via command line, and no other internal logic, then this looks like feasible. Thanks for the idea, let's have a look and try it!

[2022-02-04 18:56] puetzk commented on #10515
I don't know if every feature of an arbitrary preset is possible. Certainly that seems unlikely in be a guarantee - if a newer CMake added some feature that doesn't exist before, it's likely that CMakePresets.json would be extended with a new key to support it. But it at least *started* as way of presetting features that cmake has had for a long time, it didn't arrive along an entirely different p

[2022-02-04 19:34] nichmj01 commented on #10514
The challenge I think I have is figuring out the complete list of external dependencies and their revision numbers; especially across our profiles and with different settings. For example, looking at some lock files I generated, on windows there are 34 dependencies, and on linux there are 40 dependencies with the default options. We control 5 of the recipes in the graph.

Maybe I can create a base

[2022-02-04 20:06] ericriff opened #10521 "[question] Is there a way of building the test_package when the package is built as a transitive dependency?"
When you build a package with `conan create`,  the `test package` is built and run to test that everything worked correclty.
But if a given package is being built because it is a dependency of the package you're building with `conan create` (considering a build policy that triggers this) then the test packages of the dependencies are ignored.
I understand how this could be the desired behavior mos

[2022-02-04 22:27] wbehrens-on-gh opened #10522 "[question] Reverse wildcard selection for packages"
Is it possible to wildcard a specific packages options, like:
[code]
I know the reverse is possible (`*:shared=True`) but can I target a specific packages options?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-04 23:10] julienalofs opened #10523 "[bug] CMakeToolchain behaviour is not always the same"
### Environment Details (include every applicable attribute)
  * Operating System+version: Any (Windows 10 / Ubuntu 20.04)
  * Compiler+version: MSVC 16 / GCC 9
  * Conan version: 1.45.0
  * Python version: 3.9.10

When I add GLFW dependency (glfw/3.3.6), CMakeToolchain doesn't produce the same content each time.
Command: `conan create . videoviewer/testing -pr:h=default -c tools.cmaketoolchain:ge

[2022-02-04 23:12] memsharded commented on #10521
Hi @ericriff

This is basically impossible. The ``test_package`` folder is just a local folder, it is not exported with the recipe, it is not uploaded to any server. Basically to Conan, it doesn't exist, as it is not a package, it is a pure consumer.

When you are building transitive dependencies with ``--build=xxxx``, they are using the recipe from the server to call the source, build, package me

[2022-02-04 23:17] memsharded commented on #10523
I'd say that ``CMakeToolchain`` is irrelevant here, and this would be an issue of ``CMakeDeps`` only.
In that case, it should be reproducible with a very simple ``conanfile.txt`` that contains just the ``requires`` and the ``generators`` section (with CMakeDeps). Could you please verify if you can reproduce this from your side? Could you please post the full output of the working time?

I suspect

[2022-02-04 23:29] ericriff commented on #10521
Thanks for getting back to me. I didn't know this part of the conan world.

[2022-02-04 23:29] #10521 closed, assigned to nobody

[2022-02-05 00:16] nick-schultz commented on #6608
What's the status of this ticket?  I'm trying to accomplish something similar, except I am distributing the build tools via `[tool_requires]` in a build profile (compiler, cmake, ninja, etc..)

[2022-02-05 11:02] Makogan opened #10524 "[feature] Update conan.io repository to use latest vulkan-headers branch"
Currently the conan center allows vulkan headers up to 1.2.198 but vulkan 1.3 came out some time ago, teh altest github branch is on 1.3.204: https://github.com/KhronosGroup/Vulkan-Headers/tree/sdk-1.3.204

- [ x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-06 08:08] db4 opened #10526 "[question] Unrelated changes in conandata.yml affect RREV"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When I add a new version to `conandata.yml` it changes RREVs of all over versions listed there (because RREV depends on the hash of the whole file) and so all existing binary packages become obsolete. This is very inconvenient. Maybe Conan could use only the current version subtree in

[2022-02-06 10:46] memsharded commented on #10526
Hi @db4

This is expected. The current solution is using a hook (check the one we are using in conan-center: https://github.com/conan-io/hooks/blob/a52cef5ffed0ff11bed757c42e66a95f792572b8/hooks/conan-center.py#L762) that implement exactly that.

[2022-02-06 10:46] memsharded commented on #10524
This doesn't seem a Conan issue, moving it to conan-center-index

[2022-02-07 07:01] db4 commented on #10526
Hi @memsharded

Didn't know that, thanks. Maybe this should be the core functionality in Conan 2.0?

[2022-02-07 07:16] #10505 closed, assigned to lasote

[2022-02-07 08:03] FaiqueAli opened #10528 "[question] packages that cannot exist for this configuration"
Hello everyone,
I am trying to build a c++  application using gcc on Windows with the following configurations.
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.libcxx=libstdc++11
compiler.version=11
os=Windows
os_build=Windows
[options]
[build_requires]
[env]

I am getting following error with conan install command.

Command: conan install . -g qmak

[2022-02-07 08:34] lasote commented on #10528
Looks like that is a limitation of the library, at least the recipe from conan-center-index is blocking that configuration: https://github.com/conan-io/conan-center-index/blob/df49d7b444a7100ee5ebeaaf858ef766cd57acc9/recipes/libpq/all/conanfile.py#L73
I think the message is wrong because it is raising the exception when "shared" but complains about "static".

The way to solve it, it depends, you c

[2022-02-07 08:50] lasote opened #10529 "[feature] Move from 2.alpha the self.copy tool"
Bring `copy(self` to develop and document the migration plan of `self.copy`, no imports, no deploy.

[2022-02-07 09:12] memsharded commented on #10372
Implemented in https://github.com/conan-io/conan/pull/10519, to be in next alpha 4

[2022-02-07 09:12] #10372 closed, assigned to nobody

[2022-02-07 09:13] babariviere commented on #10372
Thanks!

[2022-02-07 09:23] malchera opened #10531 "[bug] conan install serf fails in ConanFile.run()"
When attempting to install the serf library e.g. with
`conan install serf/1.3.9@ --build=serf`
The build fails with the following error message:
[code]

However if I c&p the problematic `scons` command into my bash terminal, it runs fine and builds libserf as expected.
A quick look into the `conanfile.py` shows that the line causing the issue is the following (inside the `build()` method):

[code]

[2022-02-07 09:59] FaiqueAli commented on #10528
hi, thanks for the reply,
currently, my conanfile has this value

[options]
#libpq:with_openssl=True
*:shared=True

but by setting  up libpq:shared=False did not resolved the issue.

[options]
#libpq:with_openssl=True
libpq:shared=False

I am getting following error

----------------------------------------------
conanfile.txt: Installing package
Requirements
    libpq/13.3 from 'conancenter' - Ca

[2022-02-07 10:55] memsharded commented on #10528
The error message is telling you:

- there is no precompiled binary for that configuration in ConanCenter. ConanCenter cannot build every possible binary out there, it already builds around +100 binaries for each package, but using configuration (settings/options) different from the mainstream, will require building from source
- You can ``--build=missing`` or ``--build=libpq`` to build from sourc

[2022-02-07 11:41] lasote commented on #10502
I'll keep updating this comment:

**Not moved, not very used** Add to migration guide
- human_size
- untargz (only as internal usage of unzip)
- check_with_algorithm_sum (only as internal usage of sha1, md5, sha256)
- replace_path_in_file (There is some usage in c3i but probably could be omitted)
- replace_prefix_in_pc_file
- remove_files_by_mask: Rename to **remove_files(pattern, folder)**
- unix

[2022-02-07 12:48] memsharded commented on #10531
Quick try in Windows: everything seem to work fine here (there are some concerning warnings about .pdb files, when building in build_type=Release, but that is probably another issue.

Will try to test under linux now.

[2022-02-07 14:25] memsharded commented on #10526
Yes, totally, this is why I assigned it as "look into" for next 2.0.0-alpha4, that basically means "having a look and consider something else from Conan side"

[2022-02-07 14:46] memsharded commented on #10531
reproduced in Linux, but also copying and pasting that line in the command line directly. Investigating a bit further, it seems the offending flag is ``CFLAGS="-fPIC -m64 -O3 -s"``. The ``-m64 is being the "6" error, and if you remove it, it will error on the "O" too. Something like ``scons "-Y" CFLAGS="-fPIC -m64 -O3 -s"`` fails with that error message.

I will check why ``AutotoolsBuildEnvironme

[2022-02-07 15:27] vdsbenoit commented on #10479
@memsharded,

Thanks a lot for this clear explanation! I better understand why such things are not much featured in conan now.

I haven't had the chance to test what you've suggested yet but I will keep it in mind. Thank you for that too!

Alternatively, I think I'll propose to ship the sources from every dependency to the collaborators and ask them to rebuild all of them in order to feed their lo

[2022-02-07 15:27] #10479 closed, assigned to nobody

[2022-02-07 15:31] memsharded commented on #10479
Hi @vdsbenoit

Thanks for the feedback!

In any case, please note that the above was mainly an explanation of why the current state and the challenges. But I also told that we will keep working on it 😄  Please have a look and track https://github.com/conan-io/conan/pull/10507, this might end in a new deploy functionality in Conan 2.0, that will basically implement your request above. The trick the

[2022-02-07 15:32] #10529 closed, assigned to lasote

[2022-02-07 16:07] SpaceIm commented on #10425
Just to clarify: it means that `-o:b` doesn't work at all in conan 1.X (not just with `*:<option>`), and `-o:h` overrides all options of build context regardless of `-o:b` values? And to make it work, I have to enable conan v2 even if I use 2 profiles already in conan v1?

Actually, even with `CONAN_V2_MODE` environment variable defined, it doesn't work:

conanfile.txt

[code]

(default value of `

[2022-02-07 16:07] memsharded commented on #10511
Thanks for the feedback!. I am proposing https://github.com/conan-io/docs/pull/2393 to close this issue with documentation, because I have researched a little bit more about the possibility of handling this, and it seems overly complicated and fragile for the value. The recommendation will be to not mix both inheritance approaches.

[2022-02-07 16:32] vdsbenoit commented on #10479
I've just had a look. That's indeed what I thought about when writing this ticket ! I'll try to follow up on this feature 🙂

[2022-02-07 16:52] memsharded commented on #6608
Hi @nick-schultz

This build-system integration is being superseded by the new ``CMakeToolchain``, etc, that also includes a whole new model of the environment. Please have a look to: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html. This will be solutions that will survive in 2.0 (already in alpha stage), the others will be removed.

With this, users and recipes have total contr

[2022-02-07 18:30] derived-coder opened #10533 "[feature] Generate nice website to list all my recipes (remote/local)"
I would like to have a human friendly readable page (like https://conan.io/center/allpackages) that shows me all available packages and it's version. Otherwise it is very "hard" for consumers in a big company, which packages are available.

My suggestion:
1. generate a static website like `conan info . --graph=file.html` but for all recipes. UI like conan center website
2. Implement this UI in art

[2022-02-07 18:43] SSE4 commented on #10509
something like `clang++ -x c++ -dM -E /dev/null | grep __cplusplus` could help

[2022-02-07 19:37] janosvitok commented on #10509
This is the full output of the command:
[apple-clang-13.1.6.txt](https://github.com/conan-io/conan/files/8018139/apple-clang-13.1.6.txt)

[code]

[2022-02-07 20:38] memsharded commented on #10533
Hi @derived-coder

We won't implement this feature as requested, it is out of scope (you can always do this feature request to Artifactory).

What will be possible is:

- We are trying to improve some performance issues over the ``conan search`` query to Artifactory, that is slow and even can timeout
- Conan 2.0 will have a custom commands framework and access to the Python API. With it, users can

[2022-02-07 20:42] memsharded commented on #10510
Seems somone more expert in the Artifactory helm chart is responding https://github.com/jfrog/charts/issues/1575#issuecomment-1031796662. I think we can close this, at the moment it doesn't seem a Conan client issue at all, lets follow conversation in https://github.com/jfrog/charts/issues/1575. Thanks!

[2022-02-07 20:42] #10510 closed, assigned to nobody

[2022-02-08 00:48] nichmj01 commented on #10514
@memsharded Any thoughts on using this code?

[code]

This bit us today. Two recipes we depend on from conan-center changed and since they're low down in the dependency tree it required a few things to rebuild.

I like the override approach but I think it won't be as difficult to dynamically add requirements() based on the OS as I originally thought if you think that is a more maintainable solutio

[2022-02-08 02:42] santhonisz opened #10535 "[question] Error accessing new `dependencies` attribute in `build` method"
Hi there,

Our company uses Conan extensively and the bulk of our recipes currently need to access the `deps_cpp_info` attribute in the `build` method. In beginning to evaluate the road to Conan 2.0 I have attempted to switch to using the the `dependencies` attribute as per the [migration guide](https://docs.conan.io/en/latest/conan_v2.html#self-dependencies-to-access-information-about-dependencie

[2022-02-08 07:48] FaiqueAli commented on #10528
Thank you very much for the prompt response,
Finally, I managed to work it using visual studio compiler settings.

 Thanks :)

[2022-02-08 07:48] #10528 closed, assigned to lasote

[2022-02-08 08:19] bazizsafi commented on #10511
Cool! I consider this issue closed then.

[2022-02-08 10:25] czoido commented on #10535
Hi @santhonisz,
The problem is not that you can't access `dependencies` attribute in `build` method, if you do a `conan create` instead of a `conan build` you will see that you can access your dependencies.
If you check the proposal to the [Conan Tribe about the "local flow"](https://github.com/conan-io/tribe/blob/main/design/019-local_development_flow.md) you can see that `conan build` in Conan 1

[2022-02-08 10:36] boussaffawalid commented on #10517
@memsharded I just tried that and it works as expected, thank you!

[2022-02-08 11:11] memsharded commented on #10517
Great to know. Then I think, this can be closed as solved. A note for the future: The default package_id computation will change in 2.0, taking advantage of the new "requirement traits" and "package types" that convey more information, being more accurate for many cases that today are not handled.

[2022-02-08 11:11] #10517 closed, assigned to memsharded

[2022-02-08 11:14] memsharded commented on #10511
Closed by https://github.com/conan-io/docs/pull/2393

[2022-02-08 11:14] #10511 closed, assigned to memsharded

[2022-02-08 11:15] memsharded commented on #10528
Happy to hear that you managed to make it work. Thanks for following up!

[2022-02-08 11:38] boussaffawalid commented on #10517
Thanks for the info, right now none of the existing package_id mode worked for us for we had to use a custom one
[code]

[2022-02-08 12:46] sandeshhardikar opened #10538 "[question] Requires do not propogate env_info ?"
Hello,
I am trying to use tool_requires functionality from **1.45.0-dev**

quoting From the [conan docs](https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=context#build-and-host-contexts)

cpp_info: all information will be available in the deps_cpp_info["xxx"] object.
env_info: won’t be propagated.

This means that if i have a `tool_requires`  forcefully in `host` scope the `e

[2022-02-08 13:01] memsharded commented on #10538
Hi @sandeshhardikar

No, when using the new model and the build&host context, other access is also implemented:

- You need to define ``buildenv_info`` and ``runenv_info`` in the recipes ``package_info()`` methods
- These are collected by the ``VirtualBuildEnv`` and ``VirtualRunEnv`` generators, that you can declare in the consumer recipes if you want (or use a new ``conf`` ``tools.env.virtualenv:

[2022-02-08 15:30] OleksandrKvl commented on #6508
@memsharded in the presence of #10507, is it possible to support installation without dependencies in a given directory?
I have a runtime package, I use `imports()` to bring all the binaries from deps into my package and then I `package()` only them and binaries built by my package so at the end it contains only the runtime part (which is exactly what I need for deploy). It's very unfortunate that

[2022-02-08 15:56] jwillikers opened #10539 "[bug] CMakeToolchain user_toolchain invalid escape character on Windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows servercore 2019
  * Compiler+version: MSVC 192
  * Conan version: 1.45.0
  * Python version: 3.10.2

### Steps to reproduce (Include if Applicable)

Create a package for providing a CMake toolchain file via `tool_requires` and enable `short_paths` on Windows.
When building a test package on Windows t

[2022-02-08 15:56] sandeshhardikar commented on #10538
Hi @memsharded ,

Thanks for the super fast reply, yet again. I am not sure if i understood you completely , so again few set of clarifications.

- you mean the `env_info` does not get propagated for `requires` dependency when using `build` and `host` profile ? The documentation [here ](https://docs.conan.io/en/latest/mastering/virtualenv.html#virtualenv-generator) suggests, it should work seamles

[2022-02-08 16:26] jwillikers opened #10540 "[question] Best way to extend Conan's architecture support?"
What is the best way to extend Conan's architecture support for having more granular architecture settings which are converted to architecture compiler flags?
This is best illustrated by an example for adding various settings relevant for an Arm microcontroller.

Here are the relevant settings added to the `settings.yml`.

[code]

These settings must be converted to specific compiler flags in GCC.

[2022-02-08 16:31] memsharded commented on #10538
Hi @sandeshhardikar

It seems you are using some incorrect syntax, please check the docs twice. Instead of ``self.buildenv_info.othervar = "OTHER VALUE"`` the syntax is something like:

[code]

So the operations (define ,append, prepend, unset) and type (normal or path) are fully defined.

Then, if you don't want the VirtualBuildEnv, no necessary to use it, you can always access ``self.dependencie

[2022-02-08 16:38] skylight-hm commented on #6808
Thanks a lot. Things are right now. Devtoolset7 and Devtoolset9 have the same problem.

[2022-02-08 17:01] maxtruxa opened #10541 "[bug] conans.tools.Git.get_branch returns garbage when in detached HEAD state"
`conans.tools.Git.get_branch()` returns the branch name `"HEAD (no branch)"` when in detached HEAD state instead of failing.

`get_branch()` runs [`git status -bs --porcelain`](https://github.com/conan-io/conan/blob/f930e501c6c04478dd89ce562e4588010695d4d0/conans/client/tools/scm.py#L305) to get the branch name, which does not returns useful output when in detached HEAD.
A more appropriate command

[2022-02-08 17:19] Hopobcn commented on #10540
Hi,
I follow a similar approach as you. A small difference is that I didn't want to modify `arch` extensively (just the bare minimum to be able to adapt from upstream changes) and added a `arch_extra` setting.  This new setting is the one modelling all architectural parameters than the toolchain requires. I believe your changes might be more robust, but take a bit more mantainability effort.

So s

[2022-02-08 18:42] uilianries commented on #10531
Finally I found the problem, it's the scons package in Conan Center ...

When running with Conan, I can reproduce the same reported error:

[code]

Now, if I ONLY change the scons binary, from my system:

[code]

In summary, this issue should be moved to Conan Center Index.

Why did we see it only now? Because there are only 2 packages using SCons so far, and `serf` is the only one which passes op

[2022-02-08 18:50] uilianries commented on #10531
Opened the issue https://github.com/conan-io/conan-center-index/issues/9308 asking for scons fix

[2022-02-08 19:41] jwillikers commented on #10540
@Hopobcn Thanks for the support! I tweak the `generic_system` block in addition to a couple others. I think you can use the environment variables `CC` for C and `CXX` for C++ to modify the compiler name. With Conan 1.45.0, the toolchain includes a section like this:

[code]

You might also want be interested in issue #9962.

[2022-02-08 19:43] jwillikers commented on #9962
@mpusz I just noticed that the generated CMake toolchain file using Conan 1.45.0 now includes the ability to use environment variables to set the C and CXX compilers.

[code]

[2022-02-08 22:32] memsharded commented on #10539
Hi @jwillikers

I haven't managed to reproduce this. I have modified tests to cover this case, and they keep passing in Windows:

[code]

Furthermore, the code that writes the toolchain is this:

[code]
I cannot find how a path would be saved there without replacing the backslash for forward slash could be saved into the ``conan_toolchain.cmake``. Can you please double check that you are running 1

[2022-02-08 22:36] memsharded commented on #8030
This issue is obsolete. There are completely new build system integrations, that don't define those parameters at all, the folders are specified in the ``layout()`` method instead.

The legacy integrations that this issue refers to, won't be modified (that would be breaking), and instead the new ones in https://docs.conan.io/en/latest/reference/conanfile/tools.html should be used (available in 1.X

[2022-02-08 22:36] #8030 closed, assigned to nobody

[2022-02-08 22:41] memsharded commented on #6508
Yes, please track the #10507, and give feedback there, this one is closed.
If you see latest changes in #10507, the ``deploy()`` function will be external, defined in a ``deploy.py`` file somewhere. You will be able to specify there any logic you want. We will implement a couple of typical "deployers", but the key point here is that users can write their own ones if they need (and manage them as p

[2022-02-09 01:26] santhonisz opened #10542 "[question] Conan 2.0 migration - consuming existing 1.x packages"
Hi there,

I've been doing a bit of experimentation with Conan 2.0 and have come across an issue which I'd like
some clarification on. This is in the context of https://github.com/conan-io/tribe/blob/main/design/013-migration-path.md

One of the key breaking changes is the refactoring of namespaces e.g. moving `ConanFile` and `tools` etc. from the `conans` namespace to `conan`. While there is alre

[2022-02-09 01:35] santhonisz commented on #10535
Hi @czoido

That makes perfect sense, thanks for the prompt reply!

[2022-02-09 01:35] #10535 closed, assigned to nobody

[2022-02-09 04:58] sandeshhardikar commented on #10538
Thanks @memsharded , I can move forward now. I will re-open this issue or create a new one if i hit further blockers when transiting to `build` and `host` profiles.

[2022-02-09 04:58] #10538 closed, assigned to memsharded

[2022-02-09 08:20] iiknd commented on #10332
As this is probably fixed in 2.0 earliest (#https://github.com/conan-io/conan/pull/9839/files) what mechanism could then be used to achieve the following for cross-compilation case:

qtbase <- qtsvg <- qtfoo

$ conan install qtfoo --profile=linux-desktop
$ conan install qtfoo --profile=android

To cross-compile the Qt packages each cross-compiled package needs to know the package folder of it's de

[2022-02-09 08:39] TorstenRobitzki opened #10543 "[question] How to use Boost with GCC on MacOS"
I try to use Conan to build software that has some nasty dependencies to GCC on my Mac. That's my `conanfile.txt`:

    [requires]
    boost/1.73.0

    [generators]
    cmake

I created an empty build folder and execute `conan` from within it: `conan install --settings compiler=gcc --settings compiler.version=9.3 --settings compiler.libcxx=libstdc++11 --settings build_type=Debug --build missing .

[2022-02-09 09:54] memsharded commented on #10542
Hi @santhonisz

Yes, current ConanCenter packages are not ready for 2.0 consumption. They need to be updated to use the modern 1.X build system integrations (like CMakeToolchain, CMakeDeps), the new ``conan.tools``, the new environment management, etc. This effort has started, and during the alpha and beta we will temporarily have another "ConanCenter2" repo for experimentation, and then start to

[2022-02-09 13:54] jwillikers commented on #10539
@memsharded Thanks for doing that!
You're response makes the issue clear.
I'm generating a toolchain and including it based off of the latest Conan blog post which uses `tool_requires` for the toolchain: https://blog.conan.io/2022/01/17/New-conan-release-1-44.html

My generate method looks like this:

[code]

As you can see, I overwrite the sanitized `paths` value with my own, unsanitized value, w

[2022-02-09 15:10] FnGyula commented on #7664
I was trying to use these facilities for the same problem but I've found myself in a chicken and egg problem. To "qualify" a new compiler for a package, I need to create a new package revision. The new package revision will not magically pick up packages from an earlier revision, which means that I needed to build the binaries... but then, if I'm already doing the building, what's I can just use t

[2022-02-09 15:56] memsharded commented on #10539
Oh, that makes sense indeed, if you are directly providing unsanitized paths, then there is little that Conan can do (the template could try to do it too, but the template can also be overriden, so probably not worth the effort). As the solution is straightforward and is reasonable, I think we can close this, thanks for the feedback!

[2022-02-09 15:56] #10539 closed, assigned to memsharded

[2022-02-09 16:13] #10502 closed, assigned to lasote

[2022-02-09 18:10] SSE4 opened #10544 "[bug] ERROR: Build-require 'xxx' cannot be found in lockfile (but it's there)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux, docker image` conanio/gcc11`
  * Compiler+version: gcc (Ubuntu 11.1.0-1ubuntu1~20.04) 11.1.0
  * Conan version: Conan version 1.44.0
  * Python version: Python 3.7.5

### Steps to reproduce (Include if Applicable)

run `conanio/gcc11` image. execute the following command to create a lockfile:
[code]
(

[2022-02-09 19:32] AbhijithGanesh opened #10545 "[question] Continuous Checks Fialing"
I came to check the project for good first contributions but saw the checks failing, Is this related to `python-2.7` or is it a check-fail which got merged by mistake.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-09 19:42] memsharded commented on #10545
Hi @AbhijithGanesh

It is not clear what do you mean. Can you please link to the failing PR? As the CI does test many different tools (cmake, visual, meson, autotools, baze, etc, etc) sometimes some glitches may break a build randomly. But we typically relaunch if this happens. You need to point to the specific build that is broken.

[2022-02-09 19:44] AbhijithGanesh commented on #10545
I was talking about this https://ci.conan.io/job/ConanTestSuite/job/develop/684/display/redirect

[2022-02-09 19:49] AbhijithGanesh commented on #10545
I am wondering why the build test is failing for `python-2.7`

[2022-02-09 20:03] memsharded commented on #10545
Oh, thanks for pointing that out!

Yes, the test suite that runs for PR is not as comprehensive as the one that runs in develop. Sometimes there are small things like this that would be temporarily broken. Not a big deal, we usually fix it very quickly.

[2022-02-09 20:05] AbhijithGanesh commented on #10545
Thanks for clarifying, It caught my attention and I'd like to know if patching these minor issues would come under good first issues, if it does , I'd like to contribute

[2022-02-09 20:08] memsharded commented on #10545
You won't typically have time for this, I already submitted a fix. Better look for officially labeled ``good first issue`` tickets.

[2022-02-09 20:10] AbhijithGanesh commented on #10545
Cool then, I got my questions resolved.

[2022-02-09 20:30] purplefishies commented on #9847
Was there an open PR for meta-openembedded with this fix  @mairacanal   ? We're blocked by the same problem trying to get conan to build our system.

[2022-02-09 21:44] SpaceIm commented on #10543
There is no magic in `--settings compiler=gcc`, it's just a promise you make to conan that gcc will be used by any underlying build system called by the recipe. You have to honor this promise yourself, for example by setting CC & CXX env vars in profile to point to gcc & g++, because it's not the default compiler on mac.

[2022-02-09 21:58] SpaceIm commented on #10523
[code]

`cmake_find_package_multi` + `CMakeDeps` => conflict

[2022-02-09 22:28] #10545 closed, assigned to nobody

[2022-02-10 01:41] santhonisz commented on #10542
Hi @memsharded,

Thanks for the reply. It's good to have some clarification around the approach for ConanCenter and what can be expected in that regard.

Moving back to privately-hosted packages such as ours, we now also have some clarity in regards to having to upgrade our recipes. I understand the reasons why the decisions were made as they were and appreciate the efforts to date to make commenc

[2022-02-10 02:41] huweiATgithub commented on #7752
Maybe you can try the new conan cmake tool: https://github.com/conan-io/conan/issues/10404

[2022-02-10 06:57] TorstenRobitzki commented on #10543
Ah ok. That makes sense. My hope / expectation was, that I could use Conan to install compilers along with other packages and to build software with specific versions of that compilers.

[2022-02-10 06:57] #10543 closed, assigned to nobody

[2022-02-10 07:57] SpaceIm commented on #10543
It's also possible, you have to create a recipe packaging this compiler. Then it could be used as a build requirement.

[2022-02-10 08:13] TorstenRobitzki commented on #10543
Thanks for the tipp, I will look into this.

[2022-02-10 14:24] SallySoul commented on #9019
As an update, I also had to fix the jinja2 version to keep conan working on xenial
[code]

[2022-02-10 15:00] lasote commented on #10500
Closed by https://github.com/conan-io/conan/pull/10519

[2022-02-10 15:00] #10500 closed, assigned to nobody

[2022-02-10 15:58] puetzk opened #10550 "nitpicks on "Using conan toolchain" log message"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
  * Conan version: 1.45.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

I have some complicated projects (using winegcc) that do pretty custom probing of the underlying gcc compiler prior to letting CMak

[2022-02-10 16:45] j-brent opened #10551 "[bug] Source files not copied on export using the `scm` attribute on Windows"
The path to the source files used by scm contains forward slashes, which causes it to be misinterpreted by Windows.  This results in none of the source files actually being copied to `scm_source`, and an entirely new and spurious empty folder being created elsewhere. The relevant line in the log output below is `SCM: Getting sources from folder: /c/dev/my-app`.

[code]

After running the above com

[2022-02-10 17:21] memsharded commented on #10550
Sure, no prob, I think this can be changed, proposing PR https://github.com/conan-io/conan/pull/10552

[2022-02-10 17:25] puetzk commented on #10210
No, that's not true. CMake does not load CMAKE_TOOLCHAIN_FILE until you enable languages (usually in project()). It should be entirely possible to `conan_cmake_install()` (and set `CMAKE_TOOLCHAIN_FILE`) before that happens. It would mean you can't use conan_cmake_autodetect (since nothing is set up yet), but that's fine if you know that conan_toolchain.cmake is going to make them match the other

[2022-02-10 17:29] puetzk opened #10553 "[feature] access to build_requires tools in tools.cmake.cmaketoolchain:user_toolchain"
I would like to create a profile which directs an unmodified recipe (that uses CMakeToolchain) to use compilers which are themselves delivered as build-context conan package(s). I can accomplish the first part of this by having that recipe contain an appropriate toolchain file and set it as `self.conf_info["tools.cmake.cmaketoolchain:user_toolchain"] = os.path.join(self.package_folder,"fancytoolch

[2022-02-10 17:38] memsharded commented on #10210
Yes, but this is because ``conan_cmake_autodetect()`` is basically the core feature of the ``conan.cmake`` integration: to map the current CMake invocation to Conan settings, so you don't need to call ``conan install`` before calling ``cmake``.

I am not sure if I understand, which flow are you proposing then for this ``conan.cmake`` integration?

[2022-02-10 17:49] memsharded commented on #10553
Is this the scenario?

- ``compiler/1.0`` package contains a "fancytoolchain.cmake" toolchain, that is passed to consumers of this package via ``user_toolchain`` conf
- The "fancytoolchain.cmake" contains some ``find_program(myapp)`` of something.
- ``compiler/1.0`` contains a ``requires`` (or a build_requires?) to other package, like ``myapp/1.0`` package, containing the ``myapp`` executable

If

[2022-02-10 19:59] puetzk commented on #10553
wine - I have a toolchain with the rough goal that a CMakeLists.txt that works with mingw-gcc on windows should generally be able to work unmodified with winegcc. I'm trying to move this from being the CONAN_CMAKE_TOOLCHAIN_FILE to integrate nicely in the new CMakeToolchain paradigm, at the same time trying to move it from "wine build tools are in /usr/local (or otherwise in PATH) and libs/include

[2022-02-10 21:04] puetzk commented on #10210
Sorry, this was really just a drive-by comment: I found this while searching for anything existing before I decided to write up #10553.

I was just clarifying that it is is possible to change toolchains at the top of CMakeLists.txt (before project()). In fact, you could modify the environment too, if some generator wrote a conanbuildenv.cmake that was full of `set(ENV{name} value)` lines.

But, I

[2022-02-10 21:21] puetzk commented on #10210
In terms of "why would one use conan_cmake_install() without conan_cmake_autodetect(), my usual case (which really has nothing to do with this issue) is to `conan install` a conanfile.txt which lists a lot more requirements (needed only for building) than the conanfile.py knows about (which has only the stuff that a consumer should transitively be aware of). I.e. the sort of stuff we talked about

[2022-02-11 01:17] wbehrens-on-gh opened #10554 "[question] Excluding a package?"
I'm trying to build the libgpiod package on my systems but the internet I'm on blocks gnu.org and thus fails the libtool dependency, is there a way I can either disable build_requirements or disable a specific dependency.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-11 01:35] puetzk commented on #10553
When run from `conan create`, it does currently kind of work out the way you propose: the build-context programs are found (albeit via `$PATH` rather than `CMAKE_PROGRAM_PATH` as I expected/intended) because inside `build(self)` the build_requires cpp_info.bindirs have been added. And the find_library/find_include works out because for finding those I want the POSIX view of the world - so I use a

[2022-02-11 03:40] district10 opened #10555 "[question] Export a package from local cache to directory/zip"
Given an existing package in local cache, how to export this specific package to directory?

As suggested in <https://media.jfrog.com/wp-content/uploads/2021/05/25084434/conan-cheatsheet.pdf>, I can use `conan install zlib/1.2.11@ -g deploy` to deploy zlib to current directory. But... how to skip dependency libs and `deploy_manifest.txt`? I only need this one package.

A walk-around is:

[code]

B

[2022-02-11 06:52] initlifeinc opened #10556 "[question] Does some"
I Found Gitlab already try support Conan integration in mars 2020
https://about.gitlab.com/blog/2020/03/31/conan-c-cpp-package-management-integration/

It seems Conan is a excellent C++ Package Management Tool，
But i'm a little confused why I don't hear from large companies or some famous applications around me trying to use it, Why?
Maybe i'm the one who has no information about these, maybe they

[2022-02-11 09:06] memsharded commented on #10555
Hi @district10

Isn't it much simpler to do a ``-g deploy`` then a ``rm ...`` or a ``cp`` to a different place, then ``rm`` the rest, to remove what you don't want? That is completely straightforward and easy to understand, what is the problem with that?

[2022-02-11 09:12] memsharded commented on #10556
Please read for example about the Tribe, you will see big companies using it there: https://conan.io/tribe.html

You also want to read: https://blog.conan.io/2022/01/04/conan-stats-2021.html. That blog post include a link to the ISO C++ survey: https://isocpp.org/files/papers/CppDevSurvey-2021-04-summary.pdf, please have a look at that too. Join the CppLang Slack, the #conan channel there is consi

[2022-02-11 09:16] memsharded commented on #10554
If a recipe directly ``requires`` a package, it is not possible to avoid that. That basically means that if that package is not retrieved, the consumer package will not work.
If it is a ``build_requirement``, it is enough to not build the consumer, but if the consumer needs to be built, then it also requires that build requirement, otherwise it will not be able to build correctly.

That seems an u

[2022-02-11 09:34] memsharded commented on #10551
Hi @j-brent

How does your conanfile.py looks like? can you please share it (at least the exports, exports_sources, the scm and source(), just in case). Also the .gitignore in your repo, and what files are in there (the .gitignore is actually used to avoid exporting unwanted files)

[2022-02-11 09:36] #10550 closed, assigned to memsharded

[2022-02-11 09:48] franramirez688 commented on #10550
Closed by https://github.com/conan-io/conan/pull/10552

[2022-02-11 10:28] district10 commented on #10555
@memsharded I'm currently using this. It's just a little bit heavy, especially when your current conan package is quite small, but your dependency libs are big.

When `conan upload` a package, it will create a tarball, can we have a speciall upload routine, just to export this tarball to directory?

BTW, I'm archiving every conan package created on each commit on CI, that's where the need came fro

[2022-02-11 10:50] memsharded commented on #10555
Not now, in 1.X, as things are very coupled. In Conan 2.0, there will be access to the python API and there will be more access to these routines, so it might be possible to implement this.

One possible way is to archive things in a specialized server, like Artifactory. This has some advantages, for example, it is very efficient, as it has de-duplication of files, so even archiving the whole buil

[2022-02-11 10:57] district10 commented on #10555
@memsharded Thanks for quick reply.

We're using artifactory actually. But uploading every conan package for each commit is too noisy (and the package name will be like `package/semantic_version_git_hash@xxx/stable`). This will flooding `conan search -r all | grep <my_package>`.

Maybe we can create multiple artifactory conan repository, upload to `conan-nighty` for each commit, `conan-release` fo

[2022-02-11 11:05] memsharded commented on #10542
That is a fair question. Even if we don't have a very fixed timeline, let me summarize our current view:

- Some of the new integrations, as ``MSBuildDeps`` and ``MSBuildToolchain`` (also ``CMakeDeps``, etc), are already more feature rich, flexible and powerful than the previous ones. For example ``MSBuildDeps`` can generate one file per dependency, so it allows multi-projects to select the specif

[2022-02-11 11:10] memsharded commented on #10555
You might be interested in the recipe revision using the ``revision_mode = "scm"`` in your recipes, so the revision captured matches the git commit. That means that packages are ``pkg/semantic_version@user/stable#revision``, (by default the latest revision in the server is used), and that enables faster CI flows, as consumers of a package doesn't need to be modified to use the lastest revision in

[2022-02-11 11:45] lasote commented on #10248
Review the "!" pattern, it is requested.
Related:
https://github.com/conan-io/conan/pull/10197

[2022-02-11 13:24] JonathanGirardeau opened #10557 "[bug] should_configure, should_build, and should_install are not considered in conan.tools.gnu.Autotools generator"
### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.44.1
  * Python version: 3.8.10

### Steps to reproduce
Hello,

The conan doc says we can use `-c`, `-b`, `-i` and `-t` options in `build` command  to execute only some steps.
When I tried to use them, it seems they have no effect.
I noticed conan.tools.gnu.Autotools generator do

[2022-02-11 13:51] memsharded commented on #10557
Hi @JonathanGirardeau

No, those args are not used, and they will not be used in the new generators.
They were intended in the past for ``conan build`` doing different steps. The focus with the new integrations is to use a native integration, not using ``conan build`` except for testing the recipe, but not for building. The ``generate()`` method is in charge to prepare the build, so the user can j

[2022-02-11 16:43] JonathanGirardeau commented on #10557
Thanks for the answer.
I think the features you don't plan to support (like `should_xxx`) should be tagged as "deprecated" in the documentation. It would prevent new users from using these features.
In my opinion, the `conan build` command is easier to use than the "native commands". With "native commands" you have to know what build system to use and you have to run 2 commands (./configure and ma

[2022-02-11 16:50] memsharded commented on #10557
Yes, but the push by the users to achieve a more "transparent" integration with the build systems has been clear, and we are following that. While the ``conan build`` command will stay for convenience, the granularity provided by the ``should_xxx`` seems that no longer make sense.

Yes, the environment captures everything. ``generate()`` puts everything into files, so everything is explicit. No ``

[2022-02-11 17:42] j-brent commented on #10551
Hi @memsharded
I have created a minimal project that reproduces the issue. Here is a link to the repository: https://github.com/j-brent/hello. It's a fork of the HelloConan example, with minimal modifications, so I hope it should be familiar to you.

[2022-02-11 17:44] #10259 closed, assigned to memsharded

[2022-02-11 17:45] paulocoutinhox commented on #10259
Solved.

[2022-02-11 21:27] memsharded commented on #10551
Thanks very much @j-brent for putting together a reproducible case.

The thing is that I have just tried, carefully following your README instructions, and it is working correctly here.
I have no idea what could it be, quick question, I guess if you don't pass ``--ignore-dirty`` does it work correctly? Or still same error?

[2022-02-11 21:34] heili77 opened #10559 "[bug] layout: self.folders.generators not working like --install-folder"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS, Windows
  * Compiler+version: Any
  * Conan version: 1.45/1.42
  * Python version: 3.9.10/3.6.6

### Steps to reproduce (Include if Applicable)
Conanfile:
[code]

`conan install . `

Current result in file system:
[code]

Expected result in file system:
[code]

So layout self.folders.generators cannot

[2022-02-11 21:57] memsharded commented on #10559
Hi @heili77

This is expected.
The new ``layout()`` generators folder only applies to the new generators, those in ``from conan.tools.xxxx``, like ``CMakeDeps``
It doesn't apply to legacy generators like ``cmake`` or ``cmake_paths``. It also doesn't apply to the Conan generated files like ``conaninfo.txt``.

Quick hint about the future 2.0:
- ``install-folder`` disappears. The new ``--output-folde

[2022-02-11 22:06] heili77 commented on #10559
Thanks for the quick answer

[2022-02-11 22:19] heili77 commented on #10559
Is there an equivalent for cmake_paths working with layout?

[2022-02-11 22:22] memsharded commented on #10559
Yes, the ``CMakeToolchain`` generator already adds the paths to the packages, equivalent to ``cmake_paths`` functionality

[2022-02-12 11:09] julienalofs commented on #10523
@memsharded Sorry I've been sick for some days. I'll try to reproduce this the next week. I keep you posted.

[2022-02-12 13:07] samuel-emrys commented on #10559
If I have a `conanfile.py` that contains the following:

[code]
And I attempt to install:

[code]

I end up with a structure that looks like the following:

[code]
As you say, `conaninfo.txt`, `conanbuildinfo.txt`, and `graphinfo.json` will be removed. This still leaves the outputs of a number of other generators (which I would imagine will survive the transition to 2.0?). Are there plans to facil

[2022-02-12 13:26] samuel-emrys opened #10562 "[feature] Add ability to pass arguments to ctest in conan.tools.cmake.CMake.test"
The `CMake.test()` interface in `conan.tools.cmake` is much more limited in comparison to that of `conans.CMake.test()`. In `conan.tools.cmake.CMake` (the new version) we have the following definition:

[code]
Whereas the old implementation, in `conans.CMake` was:

[code]
Specifically, it looks like the `args` keyword argument has been removed from the interface of both `test()` and `_build()`. Th

[2022-02-13 01:26] wbehrens-on-gh commented on #10554
maybe an option to exclude build_requirements and have the consumer install them on their own system. I'm on ubuntu 21.10 with libtool installed yet it still tries to pull and build it.

[2022-02-13 11:34] mohabouje opened #10563 "[bug] Invalid defines in Bazel build file when the define is a string type"
Running into this issue on the latest commit in dev branch when trying to use Dear ImGUI:

[code]
That's an invalid definition in Bazel.

The expected (works fine for me, probably there are other ways to do this) is:
[code]

For now, it's not a big deal as I end up doing:

[code]

disabling the GCC warnings.

The fix seems trivial when exporting defines from the Conan recipe, if it's a string, con

[2022-02-13 12:00] janosvitok commented on #10509
Xcode 13.3 beta 2 same #defines. See also https://gist.github.com/yamaya/2924292?permalink_comment_id=4063803#gistcomment-4063803

[2022-02-14 00:09] SeanSnyders opened #10565 "[question] How to merge python_requires similar to recipe options and settings?"
Using `python_requires` with a base class, this base class also has its own `python_requires`.
But the specification of `python_requires` in the derived class overwrites the base class's `python_requires` and thus looses the base class' information.

The suggested approach for this merging of recipes is via the `init()` method, but it seems that at this time the `python_requires` object has alread

[2022-02-14 05:32] santhonisz commented on #10542
Thanks very much for providing that information, it certainly gives us a bit more clarity of what's ahead.

We do already control access to the version of Conan used by both our developers and CI via an internal Python package which has Conan (and Conan Package Tools) as a dependency; as you suggest this allows us to thoroughly test prior to rolling out new versions 👍🏼.

[2022-02-14 06:17] pasrom opened #10566 "[question] source_folder and build_folder are empty inside generate method"
The `self.source_folder` and `self.build_folder` are empty inside the generate method when doing a `conan install`. While `conan create` works as I would expect it. I'm using conan version 1.45.0.

Is this desired behavior?

Using following conanfile:
[code]

<details>
  <summary>Output <code>conan install</code></summary>

[code]

</details>

<details>
  <summary>Output <code>conan create</code><

[2022-02-14 07:18] initlifeinc commented on #10556
It's sounds very great!

I hope we will see some success stories and their success usage to integrate with existing c++ project.

[2022-02-14 07:18] #10556 closed, assigned to memsharded

[2022-02-14 08:44] memsharded commented on #10566
Hi @pasrom

You would need to define the ``layout()`` method. Something like:
[code]

It also had a bug, only the ``source`` folder was being computed, so I have submitted https://github.com/conan-io/conan/pull/10567 to fixe ``build_folder`` for next release 1.46. Thanks for reporting!

[2022-02-14 08:50] memsharded commented on #10506
Implemented by https://github.com/conan-io/conan/pull/10507

[2022-02-14 08:50] #10506 closed, assigned to memsharded

[2022-02-14 08:54] memsharded commented on #10565
Hi @SeanSnyders

I have this test with transitive ``python_requires`` and also using the ``python_requires_extend`` to extend the base classes. Could you please clarify your issue within this test: https://github.com/conan-io/conan/pull/10568? Thanks!

[2022-02-14 09:00] marausch opened #10569 "[question] 'in_local_cache' value when doing 'conan export-pkg'"
Hi,

What is the expected value of `self.in_local_cache` on execution of the _layout()_ method when calling the `conan export-pkg` command without  `–package-folder` option?
I would expect `self.in_local_cache == True` since I'm working locally on a package (the artefacts being packaged are in local build and source folders, not in cache).

TIA

- [X ] I've read the [CONTRIBUTING guide](https://gi

[2022-02-14 09:10] marausch commented on #10569
Sorry!
I've seen right now that my question is similar to [#10173](https://github.com/conan-io/conan/issues/10173).
Anyways, it is not completely a duplicate of if because I'm trying to distinguish `in_local_cache` _True_ or _False_ in the _layout()_ method instead of _package()_.

[2022-02-14 09:56] memsharded commented on #10569
Yes, seems the same, closing this one, and follow-up on the other.

[2022-02-14 09:56] #10569 closed, assigned to nobody

[2022-02-14 09:59] memsharded commented on #10173
Hi all,

We are moving forward in a different direction:

- ``in_local_cache`` has already been removed in Conan 2.0 (released in alpha.3). There will not be a functional equivalent
- There is now a stronger local flow, with native build in the user folders (with new ``generate()`` and new tools in ``conan.tools.xxx`` space.
- If some user wants to customize any specific behavior in their recipes,

[2022-02-14 09:59] #10173 closed, assigned to nobody

[2022-02-14 10:02] pasrom commented on #10566
Thank you for your quick response.

[2022-02-14 10:24] memsharded commented on #10563
Hi @mohabouje

Yes, it seems relatively easy. If you can submit that PR, fantastic, if not, just tell, I think we might be able to try it to fix this for 1.46. Thanks for reporting and offering to help.

[2022-02-14 10:51] AndreyMlashkin commented on #10473
I still have that problem...

conan remove "zlib" -f
ERROR: Package 0040ce has an invalid version number: '1'. Valid names MUST begin with a letter, number or underscore, have between 2-51 chars, including letters, numbers, underscore, dot and dash

[2022-02-14 10:51] AndreyMlashkin commented on #10473
And I have unset CONAN_USE_ALWAYS_SHORT_PATHS

[2022-02-14 11:09] RolfBippus commented on #10173
Thanks!. We will need to migrate to 2.0 at some (near) future point in time anyway. So just important to be aware of  some of the "workarounds" we did so far which will become obsolete (or impossible) in 2.0.

[2022-02-14 11:12] uilianries opened #10570 "[bug] Option names with hyphen character is not deleted correctly"
That's a limitation with python which creates an inconsistent situation with Conan recipes.

When naming an option using hyphen e.g. `foo-bar`, on python, it will be parsed as `foo_bar`, because `-` means minus operator.

    del self.options.foo-bar    # SyntaxError: cannot delete operator
    del self.options.foo_bar   # valid

However, once deleted with underscore character, the option is still

[2022-02-14 12:20] gpxricky opened #10571 "[feature] Use username / password for tools.Git().run()"
Hi,

it seems that the purpose of the `tools.Git()` class is to run local Git commands only. However, from time to time, I need to run remote commands too. Unfortunately, the credentials are not injected when using the `run` method, so I need to create a wrapper as follows (below I use environment variables for easier demonstration):

[code]

This is a bit annoying and I think such a remote suppor

[2022-02-14 12:36] Bassem-Ramzy opened #10572 "[question] How to deploy a package using version range using commands?"
Hi,

I have a required package `MyPkg` of many versions.
In my script, I need to **deploy** it referencing it **via package range**, for instance `[>0.0.2 <0.0.8]`.

My question is:
**How to deploy the required package `MyPkg` using conan commands specifying a version range?**

N.B.
1. I know that I can use `conan install` with _a specific version_ to deploy a package, e.g. ```conan install MyPkg/

[2022-02-14 13:43] memsharded commented on #10572
Hi @Bassem-Ramzy

Haven't you tried something like:

[code]
That should work, you can use a version range directly in your command line too

[2022-02-14 13:55] memsharded commented on #10562
Hi @samuel-emrys

I'd say this is very related to https://github.com/conan-io/conan/issues/10515, which is targeted for next 1.46. Lets see if it is possible to generalize the interface for all methods, not only ``build()``.

[2022-02-14 14:05] JonathanGirardeau commented on #10557
Thanks for the answer

[2022-02-14 14:05] #10557 closed, assigned to memsharded

[2022-02-14 15:47] Bassem-Ramzy commented on #10572
Wow, great, it works, thanks a lot.

[2022-02-14 15:47] #10572 closed, assigned to memsharded

[2022-02-14 16:06] memsharded commented on #10570
I think there is a misunderstanding about what is happening: ``del self.options.foo_bar   # valid`` is not removing anything. The ``del`` operator is coded so it doesn't fail when the option doesn't exist that is all (and can't be changed without breaking). Given the option name, I see no other possibility than doing it via ``delattr``, we are not converting hyphens to underscores, that is also pr

[2022-02-14 16:13] uilianries commented on #10570
I was afraid you would say that  :joy:

Can we at least, improve it for Conan 2.0?

[2022-02-14 16:21] memsharded commented on #10570
How? 😅
You mean, by raising an error for ``del self.options.foo_bar`` if it doesn't exist? I think that has already been addressed in 2.0, but I can check, yes.

Update: Yes, we are good:

[code]

[2022-02-14 17:43] uilianries commented on #10570
Amazing, at least we will no longer suffer it again.

We are good to close this issue. Thank you for clarifying.

[2022-02-14 17:43] #10570 closed, assigned to nobody

[2022-02-14 19:51] Kaninchen221 opened #10576 "[question] ERROR: Specify the 'name' and the 'version'"
I get error: ```ERROR: Specify the 'name' and the 'version'```
My profile:
[code]
Using command: ```conan install .. --profile ../conan_profile.txt```
``` ../conan_profile.txt``` because I'm in build folder when this file is in root folder of project.
I install conan with `pip` and python in version `3.9.5`.

[2022-02-14 20:34] Kaninchen221 commented on #10576
Okay just my small knowledge about conan. I not specified version of [requires] in conan file. Not too obvious and I can't find that answer for that error in google so please don't remove it.

[2022-02-14 20:35] #10576 closed, assigned to nobody

[2022-02-15 07:01] dornbirndevelops opened #10579 "[question] [Conan+Artifactory] upload built package binaries to repository from which a recipe was used"
In Artifactory I use virtual repositories to bundle other repositories that I need together into one (like in screenshot below).

![image](https://user-images.githubusercontent.com/25949821/154008071-639d12af-a453-4f6b-b065-acf5f001a471.png)

In this example Conan is configured to have only one remote `virtual 1`.
Furthermore, I have a package recipe called `myapp` in `local 1` that has a dependen

[2022-02-15 07:25] julienalofs commented on #10523
@memsharded I was able to reproduce the issue with a very simple conanfile.txt that contains just the requires and the generators section (with CMakeDeps).

Here is the content of the conanfile.txt
[code]

Here are the logs:
### Working time
[code]
### Not working time
[code]

It seems that once generator CMakeDeps is called before cmake_find_package_multi and the other it is called after.

[2022-02-15 07:57] slietzau opened #10580 "[feature] Allow marking remotes as disabled by default in 'remotes.txt'"
We are using Artifactory and have different repositories for package maturity levels. For example, there is one repository we use for branch and Pull Request builds. By default this should be disabled because packages in there are not yet stable. However in some cases it's essential to develop a feature that spans multiple packages and requires consuming not-yet-released versions of packages for d

[2022-02-15 08:33] memsharded commented on #10523
There is something wrong there. You say that you are using a simple ``conanfile.txt``, but no, you are not using it, you are using a ``conanfile.py``, because it says it:

[code]

Is it possible that there is another ``conanfile.py`` in the folder that you have your ``conanfile.txt``. Recall that the .py file has priority over the .txt file, so if you want to use it, you need to put ``conan instal

[2022-02-15 08:36] memsharded commented on #10580
This might be possible, we have considered to remove the ``remotes.txt`` file from ``conan config install`` and use a full ``remotes.json`` file for that. Such file should contain the full state, including the "disabled" flag.

Let's consider this, the only problem is that it is unlikely to happen in 1.X, it is a bit risky of breaking, I am initially targeting this for 2.0.

[2022-02-15 08:42] memsharded commented on #10579
Does each binary end up in the location from which the recipe was downloaded from?

At the moment (Conan 1.X) conan will try to upload to the repository that it downloaded the recipe from, if not specified.

But this feature was also confusing, problematic and fragile, it has been removed in 2.0, and all the uploads will need to be explicit: ``conan upload ... -r=myremote``. I don't know what woul

[2022-02-15 08:51] julienalofs commented on #10523
arf...my bad. I did it too fast.

So, with the `conan install ../conanfile.txt`

Logs:
[code]

The content of glfw3Targets.cmake is
[code]
This content is the same as the one generated with  conanfile.py in the "not working time": no glfw:glfw target

I weren't able to reproduce the "working case" with the conanfile.txt

[2022-02-15 08:55] memsharded commented on #10523
Can you please make sure to remove the ``glfw`` recipe from your cache and retrieve a fresh copy from ConanCenter?

Sorry. It seems the recipe is correct, just that it defines a ``glfw`` target:

[code]

Why would you be expecting a ``glfw:glfw`` target? It seems the mainstream name is just ``glfw``?

[2022-02-15 09:24] julienalofs commented on #10523
I don't expect anything. It is just that, when using the `conanfile.py`, sometimes it generates` glfw`, sometime `glfw:glfw`.

The following results have been generated with cleared cache

### conanfile.txt
[code]
glfw3Targets.cmake content:
[code]
### conanfile.py (case glfw:glfw)
[code]

glfw3Targets.cmake content:
[code]
### conanfile.py (case glfw)
[code]
glfw3Targets.cmake content:
[code]

[2022-02-15 09:29] memsharded commented on #10523
Hi @julienalofs

Please check https://github.com/conan-io/conan/issues/10523#issuecomment-1034230882 comment. You cannot mix ``cmake_find_package`` and ``CMakeDeps`` generators, and it seems you are doing that in your ``conanfile.py``. The ``CMakeDeps`` is a replacement for the other generators, but they can conflict. This is the reason you only see it in your ``conanfile.py``, but not in your ``c

[2022-02-15 09:32] theodelrieu opened #10582 "[2.0][bug] source/build/package methods are not called by conan create"
Hello,

After updating to 2.0.0a3, I'm no longer able to create the `libressl` package. Conan tries to build the `test_package` directly, without even cloning the sources, in fact the log shows that source/build/package are not called at all.

I did manage to build the `libcxx` recipe, so I don't really get why it doesn't work with a simpler recipe 🤔

### Environment Details (include every applica

[2022-02-15 09:37] lasote commented on #10248
Review also patterns in "conf" and "env"

[2022-02-15 09:50] julienalofs commented on #10523
Ok but...
As mentioned [here ](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html?highlight=cmaketoolchain), `CMakeToolchain `fully instantiated in the `generate()` method:
[code]

That is why I use `generators = "cmake_find_package_multi"`

So, how to mix CMakeDeps and CMakeToolchain and being able to add  tc.variables ?

[2022-02-15 09:53] memsharded commented on #10582
You are missing the requirements in test_package:

[code]

Please check: https://docs.conan.io/en/latest/conan_v2.html?highlight=tested_reference_str#explicit-test-package-requirement

In alpha.4, this (not having a dependency defined in test_package) will throw a explicit error, to help avoiding this issue.

[2022-02-15 09:54] julienalofs commented on #10523
Or it is just a typo in the documentation and the answer is just
[code]
?

[2022-02-15 09:55] memsharded commented on #10523
Yes, sorry about that. That is definitely a bug in the docs, lets fix it asap.

Don't use it, use ``generators = "CMakeDeps"``. (Don't declare ``CMakeToolchain`` twice either, just once, either in the class attribute or in the method, but not in both)

[2022-02-15 09:56] julienalofs commented on #10523
Oh... well. Thank you.
Sorry making so much noise for a single typo.

[2022-02-15 10:08] theodelrieu commented on #10582
I've managed to reproduce with `libcxx`, which had `no_copy_source = True` for some reason.

After removing this line, I now have the same issue.

[2022-02-15 10:50] theodelrieu commented on #10582
Works great, thanks!

[2022-02-15 10:50] #10582 closed, assigned to nobody

[2022-02-15 11:11] memsharded commented on #10523
No problem, it was our fault for that outdated docs! Thanks very much for reporting it, we will fix it asap :)

[2022-02-15 11:44] johan-boule commented on #6345
I'm still unsure the `--base` option prevents breakages that occur every time a new recipe revision is published on conancenter, especially the deadly bump of minimum conan client version requirement. We need to be able to reconstruct exact source and recipe dependencies over a decade. That's the slow pace which real-world projects deal with.

Ideally, conancenter should archive the full source co

[2022-02-15 12:34] memsharded commented on #6345
Hi @johan-boule

I'd say that you are getting the old, revision-less revision from your local cache, installed before you activated revisions. So please:

- conan remove * -f
- activate revisions
- conan lock create --reference=zlib/1.2.11@ --base
- The lockfile will contain the revisions

[2022-02-15 12:41] #10566 closed, assigned to memsharded

[2022-02-15 12:49] #10515 closed, assigned to memsharded

[2022-02-15 12:49] #10562 closed, assigned to nobody

[2022-02-15 12:51] johan-boule commented on #6345
I actually had a second problem, which is I was using conancenter through a Nexus 3 proxy, which doesn't seem to handle revisions.
Thanks a lot for your prompt answer. It's working now :)

[2022-02-15 13:10] memsharded commented on #10101
We are going to explore how the presets.json interface could be directly used by Conan in cmake 3.15, following suggestions from https://github.com/conan-io/conan/issues/10515#issuecomment-1030263360

[2022-02-15 13:14] memsharded commented on #10566
https://github.com/conan-io/conan/pull/10567 merged, this will be in 1.46

[2022-02-15 13:46] dornbirndevelops commented on #10579
I will try and see if I can find some common identification feature to group those packages into respective repositories.
Nevertheless I am looking forward to this origin information, thank you @memsharded !

[2022-02-15 13:49] memsharded commented on #10565
Hi,

I have been checking your feedback in https://github.com/conan-io/conan/pull/10568.

It seems that what you are trying to achieve is not possible, and unfortunately, it will not be possible, as it is a chicken and egg problem:

- python-requires are evaluated the very first thing, even before the ``init()`` method is called (the ``init()`` method was actually born to be able to access/update/

[2022-02-15 13:59] atrelinski commented on #3230
Great, Great, Great! job @fanselm !!

@franramirez688 @memsharded
Can we open this issue since we understood problem can reproduce the problem?

[2022-02-15 15:21] memsharded commented on #10455
https://github.com/conan-io/conan/pull/10585 will close this, if there is any other field that needs to be added, please tell.

[2022-02-15 15:35] slietzau commented on #10580
Thanks for the quick response. I'm glad this is on the table for Conan 2.0.

Do you have any hints how to go about this in the immediate future? To me it looks like our only option is to include all possible remotes in the list of remotes distributed in `remotes.txt` and then only let the user authenticate to those he whishes to use.

[2022-02-15 18:01] SlavaMelanko commented on #6801
Encountered to the same error today on Windows

Fix was easy - removed `%USER%\.conan\data\pcre` and started from the beginning. No issue anymore

[2022-02-15 18:58] ericniebler commented on #6244
Humble request to also add support for NVIDIA's HPC SDK compiler, `nvc++`.

[2022-02-15 20:42] ghost opened #10588 "[question] How to pass Compiler and Linker flags to Conan CMake Generator"
I'm trying to cross build on windows for an embedded target (arm-none-eabi).
To achieve this, I'm using a cross compiling profile.
Each embedded target has it's own specific compiler and linker flags

My cross compiling profile looks like this
[code]

the workflow is the recommended workflow from https://github.com/conan-io/cmake-conan.
it's basically a
[code]

The workflow is not the issue, I can

[2022-02-15 21:41] zjg commented on #10473
I am seeing a similar problem. It appears that Conan doesn't realize that the "short paths" folders in my .conan directory, are not packages themselves.

[code]
The "package" `01ea7a` is a "short paths" folder for boost/1.76.0:
[code]

I upgraded this machine from Conan version 1.41.0 to version 1.45.0, and then this started happening.

If I move all the "short paths" folders out of the .conan fol

[2022-02-15 21:46] zjg commented on #10473
Attempting to create a new `hello` package:
[code]

[2022-02-15 22:17] memsharded commented on #7468
This became obsolete, and I just closed https://github.com/conan-io/conan/pull/7470 PR:

- imports are being removed in 2.0, replaced with explicit copies from dependencies

[2022-02-15 22:17] #7468 closed, assigned to memsharded

[2022-02-15 22:54] memsharded commented on #773
Not considering package signing as built-in atm, this can be implemented by hooks, and the trust model so far seems to make this not that critical at this stage, closing this issue.

[2022-02-15 22:54] #773 closed

[2022-02-15 22:56] memsharded commented on #648
Closing, at the moment this will not be considered.

[2022-02-15 22:58] memsharded commented on #181
Inactive for long time, not enough requests, closing.
Implementing custom generators is now easy too.

[2022-02-15 22:58] #181 closed

[2022-02-15 22:59] memsharded commented on #1422
Old issue, no response.
In any case, imports are being removed in 2.0, recommendation is to move to explicit copy() (in ``generate()`` method)

[2022-02-15 22:59] #1422 closed

[2022-02-15 23:00] memsharded commented on #1410
Seems this never got enough support/requests, closing, thanks

[2022-02-15 23:00] #1410 closed

[2022-02-15 23:04] memsharded commented on #1062
There is a new system package tool integration in https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html, it implements the ``arch`` suffix support, please check it and report issues against it, thanks! (closing this)

[2022-02-15 23:04] #1062 closed

[2022-02-15 23:05] SeanSnyders commented on #10565
Hi @memsharded Thanks for the reply.

Hmmm... having read your reply a few times and have it muddle over in my mind, I am still a bit confused on the pertinent points you are trying to convey.

I am actually not trying to do multiple inheritance. I am trying to access class(es) defined via `python_requires` **from within** the same class where it is defined in.

The Conan docs state that you do no

[2022-02-15 23:06] memsharded commented on #1156
Conan hooks has enabled this, and https://github.com/conan-io/hooks/pull/4/files contains such checks, which can be extended and customized too. So I think this can be closed, thanks.

[2022-02-15 23:06] #1156 closed

[2022-02-15 23:06] memsharded commented on #1418
``cmake_multi`` obsolete. Use ``CMakeDeps`` instead.

[2022-02-15 23:06] #1418 closed

[2022-02-15 23:08] memsharded commented on #1381
This was solved long time with revisions. Overwrites will not happen, as revisions will add a unique id to the package reference in the server. Closing this as solved.

[2022-02-15 23:08] #1381 closed

[2022-02-15 23:09] memsharded commented on #1797
Importer will be dropped in 2.0, this is obsolete, closing.

[2022-02-15 23:09] #1797 closed

[2022-02-15 23:52] memsharded commented on #10565
The key is this:

[code]

The ``CompanyBase.python_requires`` is just a class attribute, not processed by Conan at all.

If this ``company/1.0`` package is being required as ``python_requires`` by other ``consumer`` recipe, the ``python_requires`` have already been processed and expanded. But ``project/1.0`` was not part of that. You can access it, but you will access only the string, but you will

[2022-02-16 00:31] #10542 closed, assigned to memsharded

[2022-02-16 04:37] SeanSnyders commented on #10565
So why can it not be included to be processed as part of the Conan extension mechanism?
I'd like that to be the case and use Conan dependency resolution give me the correct final version of this dependency.
I do not necessarily want to derive a `ConanFile` recipe from this, I just want to use functionality from this bag-of-tricks in python files published as a Conan package. To my reading of Conan

[2022-02-16 04:46] SeanSnyders commented on #10565
I have solved it by having my base recipe class to derived from `ConanFile` (as you suggested) instead of not (as suggested by the Conan docs).
The example below is now able to pull in the `project/1.0` dependency from within the `ConanBase` recipe.

Overall I think there needs to be more thought given to how developers will build systems around Conan - i.e. giving correct flexibility and making i

[2022-02-16 08:16] ghost commented on #10588
is it possible to print the actual compiler and liker flags used by conan?

[2022-02-16 09:02] memsharded commented on #10565
Because it is not possible to know. The flexibility is high, and even if we always recommend users to keep things as simple and flat as possible, they will always do unexpected things that would break badly in different ways, and drive us down the rabbit hole. A very simple scenario, someone putting 2 different base classes in same ``python-requires``:

[code]

And then some recipes will do ``pyth

[2022-02-16 09:25] alex-700 opened #10591 "[bug] `cmake_find_mode` property is broken"
**Abstract description of the problem:** In a conan-generated config/module, decision about `MODULE` or `NO_MODULE` in `find_dependency` call is made by `cmake_find_mode` of dependant package, but not by `cmake_find_mode` of dependency (as it should be). It can be seen in the code [here](https://github.com/conan-io/conan/blob/8c389f5add13f931e06a8335396cce23b65a1d40/conan/tools/cmake/cmakedeps/tem

[2022-02-16 10:53] ericLemanissier opened #10592 "[bug] SystemPackageTool installs packages when it should not"
By default, SystemPackageTool should not install any system packages, but just check if they are installed.
The very surprising part, is that it displays `Not updating system_requirements. CONAN_SYSREQUIRES_MODE=verify` just before installing system packages.

### Environment Details
  * Operating System+version: Linux
  * Conan version: 1.44.1
  * Python version: 3.8.10

### Steps to reproduce
[c

[2022-02-16 11:33] Bassem-Ramzy opened #10593 "[question] Why settings are passed incorrectly to CMake when not including `compiler`?"
Hi,
When building my project on Windows, using CMake, with recipe like:
[code]
For one of different settings: `Release` build type, and `x86` architecture, using the following command:
[code]
The library is built as planned (having "compiler" in the settings), however, if the settings doesn't have `compiler`, like:
[code]
It builds for `x86_64`-`debug` instead.

My code is also built for Linux, an

[2022-02-16 11:56] memsharded commented on #10592
There is a new tool for system packages in https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html. Its default should be not install only check. It would be great to double check this is correct @czoido

As SystemPackageTool is removed from 2.0 and migrating to the new tools will be necessary, changing the current SystemPackageTool might be risky, unless it is very c

[2022-02-16 11:59] memsharded commented on #10593
Yes, the ``CMake`` and other build system integrations, if they are building, they need a compiler defined, or they will fail.
So it is necessary to leave the ``settings = "compiler"`` there, and if you want to achieve some binary compatibility, use the ``package_id()`` method, something like:

[code]
Will assume the binary created can be consumed by any compiler (it might need doing something sim

[2022-02-16 12:10] Bassem-Ramzy commented on #10593
OK, thanks

[2022-02-16 12:10] #10593 closed, assigned to memsharded

[2022-02-16 13:10] memsharded commented on #10580
This was not considered so far. We were thinking about allowing the full remotes.json specification, and dropping the remotes.txt, but doing a full replacement of the remotes. What you are suggesting implies "merging" the current information with the incoming one, and that is challenging: what properties should be kept and what properties should be updated? if a user changed the URL but kept the r

[2022-02-16 13:10] memsharded commented on #10501
Closed by https://github.com/conan-io/conan/pull/10549

[2022-02-16 13:10] #10501 closed, assigned to lasote

[2022-02-16 14:13] mmatrosov opened #10597 "[question] How to propagate compiler.cppstd setting to the compiler when building a library with CMake?"
I've just noticed that if you set `compiler.cppstd` setting to e.g. `20` and call `conan install`, the libraries are still built with the default standard for the given compiler.

[The docs](https://docs.conan.io/en/1.45/howtos/manage_cpp_standard.html#build-helpers) say:

So it looks like you need to call `conan_basic_setup()` to activate this setting. But how do I call it? By patching a library'

[2022-02-16 14:22] czoido commented on #10592
In the new implementation it is covered by this test: https://github.com/conan-io/conan/blob/3a2bb79e5cfd42185e022b85164a6475c1604a28/conans/test/integration/tools/system/package_manager_test.py#L104
Anyway I double checked with a functional test and it's working as expected.

[2022-02-16 15:20] czoido commented on #10455
Closed by: https://github.com/conan-io/conan/pull/10585

[2022-02-16 15:20] #10455 closed, assigned to memsharded

[2022-02-16 15:26] derived-coder commented on #10592
How can I define in the recipe, that the requirement should be installed?
So I am talking about this mode here: `tools.system.package_manager:mode`
Can I modify it via script in  the recipe?

I also suggest another mode: `"ask"`
So the user will be asked whether he wants to install it or not. I think this is more user friendly.

[2022-02-16 15:30] ericLemanissier commented on #10592
@derived-coder I suggest you create another issue, because this issue is not related to `conan.tools.system.package_manager`

[2022-02-16 16:54] memsharded commented on #10580
https://github.com/conan-io/conan/pull/10598 will use ``remotes.json`` files in ``conan config install``, and that includes remotes enabled/disabled. Merging of the upstream configuration with the user (modified) cache one is not intended at the moment.

[2022-02-16 17:52] #10592 closed, assigned to czoido

[2022-02-16 18:41] memsharded commented on #10580
Closed by https://github.com/conan-io/conan/pull/10598

[2022-02-16 18:41] #10580 closed, assigned to memsharded

[2022-02-16 21:06] SeanSnyders commented on #10565
A good reply, thanks, and it really opens up a discourse.

Hopefully we will not hit a more complex situation where Conan will be a blocker with respect to including reusable python modules. I hear what you are saying about complexity. I am not advocating more complexity, I am asking for better usage. The engineering challenge is to make the solution not complex.
A large part of pulling in correct

[2022-02-16 22:17] SeanSnyders commented on #10565
Actually, just trying to update my project with having the base recipe class derive from `ConanFile` and I hit a snag:
how to decouple the reusable bits (base recipe python classes, reusable cmake bits, etc) from the recipe that packages these reusable bits?

Conan does not allow more than one class that derives from `ConanFile` in the `conanfile.py` file.
So the suggestion does not work to solve

[2022-02-16 22:24] nichmj01 commented on #10514
To update anyone who stumbles upon this:

I decided to build the requirements manually in the `requirements()` method. I have the dependencies listed in json files for each operating system, with the RREVs called out:

Example:
[code]
These json files are exported with the recipe and in the conanfile.py, I load the relevant json file based on the OS and set them `using self.requires()`

[code]

I

[2022-02-16 22:24] #10514 closed, assigned to nobody

[2022-02-16 22:27] nichmj01 commented on #10512
We rebuilt everything so this issue went away. Having more control over specifying `package_id` compatibility would've been useful and maybe it will make it into v2.0.

[2022-02-16 22:27] #10512 closed, assigned to nobody

[2022-02-16 22:39] nichmj01 opened #10601 "[question] Is it possible to determine the recipe revision hash without exporting it to the cache?"
I'm working on improving how we manage of some internal recipes that live outside of the source (we don't control the source). All the recipes live together in one repo and what I want to do it get the recipe revision number for each recipe to determine if the package needs to rebuild or fail a CI/CD job cause it shouldn't have changed. All the packages use `revision_mode = hash` and I'd like to b

[2022-02-16 22:52] memsharded commented on #10601
Hi @nichmj01

It is necessary to export the package, because the hash of the contents of the recipe is the result of evaluating the ``exports`` and ``exports_sources`` attributes, and doing the copy, then executing the ``export()`` and ``export_sources()`` method, possibly running hooks, and finally computing the hash of the contents. These operations need to happen to know what will be the final

[2022-02-16 23:52] samuel-emrys opened #10602 "[bug] ConanInvalidConfiguration doesn't raise exception when using conan install"
### Description

I'm running into an issue where it doesn't appear that `ConanInvalidConfiguration` exceptions aren't being raised when executing `conan install`, but are being raised when executing `conan create`. Is this inconsistent behaviour intentional or a bug? If it's intentional, what's the method of invalidating configurations when using `conan install`?

### Environment Details (include

[2022-02-17 03:06] nichmj01 commented on #10601
Hmmmm.. I was focused on just getting the revision number, so I was thinking in terms of leaving the system in its original state (that is the cache is the same at the end as it is at the start). In the actual scenario I want to address leaving it in the cache is probably fine.

We're using `recipe_revision_mode` to determine binary compatibility. This is related to #10514 where we have a DepsPkg

[2022-02-17 03:06] #10601 closed, assigned to nobody

[2022-02-17 07:48] gpxricky opened #10603 "[question] SDK like dependency - is it a requirement or a tool requirement?"
Hi,

I'm currently creating an application for QNX and the QNX SDP (Software Development Platform) is provided as Conan package. At present the QNX SDP is provided as tool requirement (previously known as build requirement) as it contains many tools that just run on the host platform and it supports different architectures (at least in theory). However, many of the binaries and libraries that are

[2022-02-17 08:31] memsharded commented on #10603
Hi @gpxricky

Yes, that is a point. I think you want to track ongoing work in https://github.com/conan-io/conan/pull/10347, and as we already have the PR and an original issue (https://github.com/conan-io/conan/issues/10317), I think we could close this one and follow up in those? Thanks!

[2022-02-17 08:35] memsharded opened #10604 "Make ``self.export_folder`` available to export hooks"
Now it is only local to the ``export()`` method.

Hi @memsharded,

This looks to be a very useful function and one we were literally about to look at implementing ourselves. However can I ask you to consider an additional usage scenario:

We would like to capture to some data in the `conandata.yml` for all our package recipes (literally 100s) when running in CI, and so were planning on using a `po

[2022-02-17 08:52] derived-coder opened #10605 "[feature] Ask before system package installation"
I think it is more user friendly when the user gets asked whether a conan recipe should install some system packages or not.
So the config here: `tools.system.package_manager:mode` https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html#conan-tools-system-package-manager-config
should be extended with the option: `"ask"`
In this mode, the user gets asked whether conan

[2022-02-17 08:52] derived-coder commented on #10592
@ericLemanissier https://github.com/conan-io/conan/issues/10605

[2022-02-17 09:03] MichaelWU0726 opened #10606 "Whether or not use conan by remote in Clion"
I followed [the official blog post](https://blog.jetbrains.com/clion/2019/05/getting-started-with-the-conan-clion-plugin/) about clion integration. But in menu `Build,Execution,Deployment > Conan`, I couldn't find to select the remote conan executable

[2022-02-17 09:19] memsharded commented on #10606
Hi @MichaelWU0726

It is possible that there is something not working great with the plugin. The blog post is almost 3 years old, and recently we have stopped maintaining the plugins, because we are focused on Conan 2.0. We will resume work on it after 2.0.

Moving this issue to the CLion plugin repo.

[2022-02-17 09:55] j-brent commented on #10551
Hi @memsharded. In response to your question, I got the same behavior without the `--ignored-dirty` flag.

[SOLUTION] It turns out the issue occurred because `C:\cygwin64\bin` was in my path variable before `C:\Program Files\Git\cmd`, so the wrong version of `git.exe` was called. So it wasn't an issue with conan at all. To be honest I'm not quite sure why `C:\cygwin64\bin` should be in the path va

[2022-02-17 09:55] #10551 closed, assigned to nobody

[2022-02-17 10:58] lasote opened #10607 "[feature] Linter for recipes "Conan 2 like""
- to be used in conan-center-index
- imports from "conan"
- "self.copy" => "copy(self)"
- ...

@conan-io/barbarians @uilianries @SSE4

[2022-02-17 11:02] jgsogo commented on #10607
list of generators -> "CMakeDeps", "CMakeToolchain",... meson and autotools ones

[2022-02-17 11:50] czoido commented on #10422
Closed by: https://github.com/conan-io/conan/pull/10599

[2022-02-17 11:50] #10422 closed, assigned to memsharded

[2022-02-17 12:40] AndreyMlashkin commented on #10473
To reproduce this error, you need to override conan.conf file to:

[storage]
path = C:\.conan\

[2022-02-17 13:23] memsharded commented on #10473
@AndreyMlashkin can't reproduce. If I use
[code]
Then the error message obtained is:
[code]
If you changed it with
[code]
It should work.

And if you keep the ``path = C:/.conan`` that is conflicting with the default ``short-paths`` folder. You need to put it somewhere else or make 100% sure that such folder doesn't exist in the same place, and that no other Conan recipe or process in the machine

[2022-02-17 13:28] memsharded commented on #10551
Thanks to you for following up and reporting the solution!

Regarding the interactions with Windows subsystems like cygwin, I'd like to take the chance and comment about the new build system integrations behavior wrt Windows subsystems:

- The integrations will be less "smart" and not try to autodetect subsystems. Instead things should be explicit.
- There are new conf items, like ``tools.microsof

[2022-02-17 13:45] AndreyMlashkin commented on #10473
Oh, I haven't noticed, there should be a backslash for sure
[storage]
path = C:\.conan\

[2022-02-17 13:47] AndreyMlashkin commented on #10473
Having conan cache folder and short-paths folder in the same directory was working before and started to be problematic after one of the conan updates. It would be great to have it back or at least have some more meanful error message

[2022-02-17 14:49] memsharded commented on #10473
Define before. I have just tested it with Conan 1.24, which is from 2 years ago, and I have been able to reproduce this same issue. It seems this has been there forever, maybe you were lucky and didn't hit you before, but we cannot have it back, it was never this way and it was not broken by a recent update.

[2022-02-17 15:13] nichmj01 commented on #8658
My needs have changed, so this question is no longer relevant to me.

[2022-02-17 15:13] #8658 closed, assigned to danimtb

[2022-02-17 16:20] zjg commented on #10473
My conan.conf file has this:
[code]
(`Q:` is just my fast NVME drive, that also contains my code workspaces)

I set this up when I started working with Conan in spring/summer of 2021. Things worked fine then; conan was happily creating short-path folders adjacent to the normal package folders under `Q:\.conan`.

Yes, this may be the case. I do know that my conan setup was working fine like this wh

[2022-02-17 16:28] memsharded commented on #10473
Yes ``path = Q:\.conan`` shouldn't be an issue. The problem is ``C:\.conan`` or if you also have the regular Conan cache in ``Q`` too. Using any ``.conan`` folder that is not the "short paths" cache shouldn't be an issue.

One of the possibilities is that no package was using ``short_paths`` feature, or it was correctly disabled in conf. But at some point, someone introduced a ``short_paths = True

[2022-02-17 16:44] zjg commented on #10473
No, my downstream project was definitely pulling in conan packages that were using short paths under `Q:\.conan` (ex: here is a snippet of the `PATH` variable that conan-1.41 had generated for my project's deps: `Q:\.conan\zlib\1.2.11\_\_\package\63da998e3642b50bee33f4449826b2d623661505\lib;Q:\.conan\fa0234\1\lib;Q:\.conan\fa0234\1\bin;Q:\.conan\e0fe86\1\lib;Q:\.conan\e0fe86\1\bin;Q:\.conan\assimp

[2022-02-17 17:50] mmatrosov commented on #10597
The answer is here: https://stackoverflow.com/a/71156623/261217

And the related discussions are here:
* https://cpplang.slack.com/archives/C41CWV9HA/p1645093178769079
* https://cpplang.slack.com/archives/C41CWV9HA/p1645096804276519

[2022-02-17 17:51] #10597 closed, assigned to nobody

[2022-02-17 20:37] puetzk opened #10609 "[feature] Passing options to compatible_packages that do not affect package_id"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.45
  * Python version: 3.8.7

### Steps to reproduce (Include if Applicable)

When a package is selected via compatible_packages, the recipe computes package_info according to the settings/options of the chosen alternative, not the original search (this

[2022-02-17 20:48] puetzk commented on #10609
Sorry, hit enter much too fast. Will reopen when it has content in it.

[2022-02-17 21:51] tonka3000 opened #10610 "[question] Visual Studio minimum version and settings support"
As @memsharded suggest here is the parallel thread to https://github.com/conan-io/tribe/pull/32#issuecomment-1040799591

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-17 21:51] tonka3000 commented on #10610
Hi @memsharded ,

All is done via cmake. Conan itself is triggered via your awesome cmake-conan project. So maybe the wrapper can set the correct toolset version, which would help (but I guess it makes the cmake wrapper more complicated). Users use mostly the VSCode-cmake integrations where only the cmake generator names are available. Setting the toolset is possible but make the DX worse (but tec

[2022-02-18 09:11] memsharded opened #10611 "[bug] Conan broken for <1.44 due to breaking change in Markupsafe (2.1) affecting Jinja2 (2.11)"
Main issue in Jinja tracker: https://github.com/pallets/jinja/issues/1587

[2022-02-18 09:30] Mikayex commented on #5951
Any news on this ? I'm also having the problem...

[2022-02-18 09:49] czoido commented on #10611
As a workaround, after installing conan<1.44 you can do:

`pip install "markupsafe<2.1"`

to override the broken version

[2022-02-18 09:55] memsharded commented on #5951
Tons of things have changed since this issue in 2019:

- The new integrations, ``CMakeDeps`` is already "multi", and it will be the standard integration in 2.0 (already in alpha.4). Recommended to start upgrading to it
- The environment is also managed with the new Environment classes, something more explicit like ``self.buildenv_info.append_path("PATH", "xxxxx")``, that is used by the new ``Virtu

[2022-02-18 09:55] #5951 closed

[2022-02-18 12:06] klausholstjacobsen opened #10613 "Cannot build package because it is already locked in the input lockfile"
Have a working project with consumer conanfile.txt:

[code]

profile:
[code]

Create a lock file with:
[code]
lockfile attached!
If I then delete my conan data dir and re-run conan install (now with lock file argument
[lockfile.txt](https://github.com/conan-io/conan/files/8096956/lockfile.txt)
) to re-create everything from scratch I get this:

[code]

What could be wrong?

Rgds
Klaus

[2022-02-18 13:16] davidism commented on #10611
You are using an unsupported version of Jinja, please update to the latest version if possible. Additionally, please read https://hynek.me/articles/semver-will-not-save-you/, then use a tool like [pip-tools](https://pypi.org/project/pip-tools/) to pin your dependencies and control when you get updates. Be sure to run your tests with deprecation warnings treated as errors so that you get notified o

[2022-02-18 13:46] a-zw opened #10614 "[bug] default_options hide 'already assigned' error"
Have two (mutually independent) packages depend on a third one but set an option in different ways. A fourth package depends on both of them to form a "diamond" shape. It is not possible to build the package satisfying both options at once and *sometimes* an error is shown. Conan should always show an error though.

More precisely, the "sometimes" depends on `default_options` being declared in the

[2022-02-18 13:47] a-zw commented on #10614
I'm not sure but #8135 could be related.

[2022-02-18 14:05] derived-coder opened #10615 "[bug] Conan upload is broken"
Conan skips the recipe upload when the config is in `semver_direct_mode` + a package was already uploaded with recipe revision mode enabled.

This is very hidden, so you only get the error later when trying to consume the package.
You get an error like this:
`ERROR: Missing binary: dbus/1.12.20:fb2ae32c85d50c7776ed05b57cc10f2bc374880b`

The problematic recipe is the `dbus` in my case: See how the

[2022-02-18 14:30] lasote commented on #10611
@davidism Please, once you have demonstrated how you care about your users and the ecosystem, don't come here to tell us how to manage the dependencies (in a repository of a package manager). You are breaking because "it is unsupported", ok, enough. Thanks.

To the Conan users, we are going to backport (we still don't know how many versions) the patch to the releases <1.44 ASAP, because WE DO CARE

[2022-02-18 15:05] memsharded commented on #10615
Quick question: When you say:

Is that full conan.conf? because if it is, you are missing the ``revisions_enabled=True``. You cannot change the ``revisions_enabled`` status on and off in the same cache, you need to use the same value, or if you change you need to start from a clean cache.

[2022-02-18 15:35] bldrvnlw commented on #10611
@czoido Thanks! that got us running again!

[2022-02-18 17:20] derived-coder commented on #10615
that is the full config for the mode where revision are not enabled. Lets call it config for conan 1.x
**Conan 1.x config:**
[code]

Here is the new config for conan 2.0 ready, with revisions enabled.
**Conan 2.0 config:**
[code]

Remark: I do not have an environment, where I switch back and forth in the config. Everything is setup from scratch, all the time. Thanks to docker.

Background is the m

[2022-02-18 17:50] memsharded commented on #10615
Just to double check, just in case:

Those docker instances, use their own private cache, they do not share the cache via a mount or anything like that?

[2022-02-18 21:01] rylim commented on #10611
Looks like `1.43` has been fixed but `1.44` and `1.45` still have the issue if a user installs Jinja2 version `2.9+` (anything below version `3.0.0`), is there a plan to add the markupsafe limit fix as well similar to https://github.com/conan-io/conan/pull/10616 to more recent versions?

Another thought, should Jinja2 be forced to be `>=3.0` instead of `>=2.9` since the 2.9+ versions are still bro

[2022-02-18 22:33] memsharded commented on #10611
We explicitly keep Jinja 2.9, because some users are jointly using Conan and Jinja2 and they have specific requirements on Jinja2, so we were trying not to break them because of using a too restrictive one. The thing is that Jinja2 2.11.3 do still work, just by pinning Markupsafe==2.0.1 instead of letting it go to 2.1, so maybe it better to leave it as-is

[2022-02-18 23:00] rylim commented on #10611
Thanks for the clarification, that makes sense! So you will be adopting the `Markupsafe<2.1` or `Markupsafe==2.0.1` fix going forward?

[2022-02-19 11:56] derived-coder commented on #10615
Yes, nothing is shared. Config will be freshly installed all the time. No preexisting local cache,etc.

[2022-02-19 15:58] anderson-dev commented on #9330
The solution seemed to be to copy the x64/Debug/.conan/conanbuildinfo.props file into the package source so msbuild has access to the paths contained within.

Hopefully, this workaround will be different once the VS Conan extension is updated for the new msbuild generator?...

[2022-02-20 04:04] puetzk opened #10617 "[bug] interactions between compatible_packages and build/host context"
When a package using [compatible_packages](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#compatible-packages) is present in both the build and host context, the resolved compatible_package from one context appears to interact with the default_options of the other profile and cause errors:

Obviously lots of details were filed off the below in my attempts to provid

[2022-02-20 04:11] puetzk commented on #10609
After doing some more digging to minimize my case, I split a [bug] part of this out to #10617 (with a minimized test case). I think this description is valid in that there isn't a way to do what it asks for (when compatible_packages propagates the chosen substitute's option values, it overwrites self.values with the values-as-hashed, so you can't combine compatible_packages with package_id hashing

[2022-02-20 15:37] puetzk commented on #10617
Ok, another scenario that might be a clue. If I get rid of the compatible_packages aspect completely, things are still weird:

#### conanfile-lib.py
[code]
#### conanfile-consumer.py
[code]

[code]

I get a **partial** collision. In the conanfile.lock: `context: host` got package_id 02bde9d625f7130c0552268a6abfbe0430810d57 (settings.arch=x86, options.foo=A), and `context: build` got package_id b0d

[2022-02-20 15:50] nandanvasudevan opened #10618 "[bug] Weird Linking issue with {fmt}"
The issue is as below.

https://github.com/fmtlib/fmt/issues/2781

I get a weird linker error only while using {fmt} from Conan apparently.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22 daily build
  * Compiler+version: gcc 11
  * Conan version: 1.45.0
  * Python version: 3.9.10

### Steps to reproduce (Include if Applicable)
Please see this

[2022-02-20 20:29] tsondergaard commented on #4056
The linked video is slightly outdated as there is now an official symbol server for Linux elf binaries called debuginfod. See https://sourceware.org/elfutils/Debuginfod.html and https://developers.redhat.com/blog/2019/10/14/introducing-debuginfod-the-elfutils-debuginfo-server.

[2022-02-20 21:10] memsharded commented on #10618
There is something weird with your setup, why do you have an imports of the header file like ìn https://github.com/nandanvasudevan/cpp_scratch_pad/blob/fun_with_fmt/conanfile.txt, like ``include, *.h* -> ../../include``? That shouldn't be necessary for the header to be found.

Also, you are using several alternatives generators ``cmake_find_package``, ``cmake_paths``, which is the one that you are

[2022-02-20 21:17] memsharded commented on #9330
Hi @anderson-dev

Sorry this issue was not responded when it was first submitted.
Yes, at the moment the VS Conan extension is put on-hold, until we can resume work, most likely after 2.0, and it will be using the new ``MSBuildDeps`` integration.

I would like to comment to the new ``layout()`` and ``generate()`` methods, just in case you are not aware of it:

- The ``layout()`` method allows defi

[2022-02-20 21:25] memsharded commented on #10610
Thanks for submitting the issue.

We don't even have installed such older versions of VS, but if you have them installed a good initial test is to try (with latest Conan 1.45 version) ``conan new hello/0.1 --template=cmake_lib`` and ``conan new hello_app/0.1 --template=cmake_exe``, and then ``conan create .`` applying your profile with such VS versions. In those templates we integrate and update t

[2022-02-21 07:01] SSE4 commented on #10544
@memsharded any ideas what could be wrong here?

[2022-02-21 12:22] willadsen commented on #9695
What's the cause of the 502 happening today? conan 1.45.0.

Command: `conan search boost -r conancenter`

UPDATE 14:00 CET: Seems to work again now.

https://status.conan.io says everything is operational, but I'm getting the errors at home, at the office and at azure build machines.

`conan search boost -r conancenter
ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries excee

[2022-02-21 12:38] forry opened #10620 "[bug] ERROR: HTTPSConnectionPool when accessing center.conan.io remote"
Hi, don't know if this is the right place to report but it seems the conan client is unable to connect to center.io . First it failed during the conan install, but I use the search command as the example here. According to the https://status.conan.io/ everything is operational. Our other remote hosted on our server is running fine. I have no proxy or svn just a normal home connection, but it doesn

[2022-02-21 12:39] ilyamt-tandemg commented on #10620
I report having the same issue across several countries.
Conan version: 1.44.0

[2022-02-21 12:43] forry commented on #10620
Ok, it seems that after I filed the issue it is now working again. But still, I leave it here since this means that there might be something not ok with the remote.

[2022-02-21 12:59] uilianries commented on #9695
@willadsen Which command did you run exactly?

[2022-02-21 13:02] memsharded commented on #10620
It seems it could be a temporary glitch in the CDN infra.
Now things seem normal on our end, please report if you see these failures again.

[2022-02-21 13:03] willadsen commented on #9695
I've edited my post to include the command (`conan search boost -r conancenter`)

[2022-02-21 13:22] heili77 opened #10621 "[question] Using layout() with workspace"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
I use conan 1.42

I describe my packages with the Lay-out function in the recipe. Is there a workspace_generator using the layout information from the recipe?

The cmake workspace generator returns missing folders and according to documentation it is the only one available for workspac

[2022-02-21 14:10] memsharded commented on #10544
I have had a look.
The problem seems to be when a recipe requires the same package both as a ``requires`` and a ``build_requires``. In this case, why is ``libtool`` having a regular ``requires`` to ``automake``? Is automake some kind of library that that is being linked into libtool?

I have checked that if:
[code]
It seems to work past that error (and still fail in a similar one with ``m4``, that

[2022-02-21 14:53] SSE4 commented on #10544
thanks for taking a look! AFAIK, `automake` is just a collection of scripts, and has no C++ source code.
there was a related issue: https://github.com/conan-io/conan-center-index/pull/8157
/cc @madebr , maybe he knows if requirement of `automake` in `libtool` is redundant

[2022-02-21 14:59] FnDmytroKovalchuk opened #10622 "[bug] Multiline environment variables with `=` are not parsed properly on Windows"
### Short summary

Multiline environment variables that contain a `=` are not properly parsed on Windows in [client/tools/win.py](https://github.com/conan-io/conan/blob/3e5fee62c595124d1b551e3dc5af0a81a1c5b9ad/conans/client/tools/win.py#L509). This leads to `ValueError: illegal environment variable name` when [launching](https://github.com/python/cpython/blob/c0da582b227f311126e278b5553a7fa89c79b0

[2022-02-21 15:07] memsharded commented on #10622
Hi @FnDmytroKovalchuk

As another possibility I would recommend to check how the new environment management works. Check https://docs.conan.io/en/latest/reference/conanfile/tools/env.html, in general it is doing much less work than the previous one, that part of actually parsing env-var values is not executed anymore. This is the new management of environment that will be in 2.0, the other one has

[2022-02-21 15:12] FnDmytroKovalchuk commented on #10622
Hi @memsharded, thank you for the reply!

Looks promising. Any plans to backport it into Conan 1.xx?

[2022-02-21 15:31] ghost opened #10623 "[question] Do conan profiles overwrite default settings"
Hey guys.
I'm using a conan profile to perform a cross build to an embedded target. The embedded compiler is gcc 10
My cross building profile looks like this
[code]

However when executing conan install

`Conan executing: /usr/local/bin/conan install . --build missing --profile /home/jenkins/agent/workspace/conan-arm-none-eabi-toolchain`
[code]

=>so my question: My profile explicitly sets compile

[2022-02-21 15:47] nandanvasudevan commented on #10618
I really don't know. Just put together what works.

What am I supposed to? There are no other files the build directory.
[code]

I am building fmt from scratch using `--build fmt`.

---
Is there a basic demo or example I could follow?
I tried following [this](https://github.com/solvingj/vs-cmake-conan-demo/blob/master/echo_app/CMakeLists.txt) but I am getting the following CMake error.

## conanfi

[2022-02-21 15:52] madebr commented on #10544
libtool can be used in 2 forms:
- as a requirement providing the libltdl library
- as a build requirement providing scripts for autotools

automake is needed as a build requirement when building automake ==> added to `build_requirements`

When libtool is used as a build_requirement, it also needs automake (and autoconf) added as a build requirement. ==> added to `requirements`
We added the automak

[2022-02-21 18:12] memsharded commented on #10618
Have you tried passing the ``-s compiler.cppstd=23`` setting that I was suggesting? This could be one of the sources of linking errors.

[2022-02-21 18:17] memsharded commented on #10623
That is the default detected profile.

The important profile is the one that is listed later, in the ``install`` or ``create`` output, you will see your current profile. That one is only the result of the "default" auto-detected profile, but if you pass the ``--profile=myprofile`` arg, you will see yours. Please paste the entire output beyond that autodetection.

It might be also possible to compl

[2022-02-21 18:18] memsharded commented on #10622
Oh, yes, all that new integration is already available in Conan 1.X, at least since a few releases ago. The pasted link is the link of the 1.X docs, not the 2.0 docs.

[2022-02-21 19:14] Hopobcn commented on #10544
This issue looks similar to https://github.com/conan-io/conan/issues/10345

[2022-02-21 19:39] memsharded commented on #10621
The ``workspace`` feature has been put on hold for more than 2 years now, and we have actually removed it in the 2.0-alpha releases. The goal was to stabilize ``layout()`` and editable first, instead of juggling with a half baked feature. Users will probably be way more effective by creating their own script that configures their "workspace" using some command commands and some scripting.

We will

[2022-02-21 22:36] memsharded commented on #10620
Seems things are ok now, closing

[2022-02-21 22:36] #10620 closed, assigned to nobody

[2022-02-21 23:24] memsharded commented on #10615
I have been having a look at this, and this are my findings:

- The revision system is not prepared in the client and server sides, to go back and forth between using revisions and not using revisions
- The upgrade from not-revisions to revisions is the expected path, but once a repository start getting revisions, it is not expected to return back to not using revisions.
- The behaviors between di

[2022-02-22 02:25] nandanvasudevan commented on #10618
I just tried after adding that, I am still getting the linker error.

## Full settings
[code]

## Build log
<details>
<summary>Click to expand!</summary>

[code]
</details>

[2022-02-22 09:23] #10621 closed, assigned to nobody

[2022-02-22 09:38] heili77 opened #10627 "[question] How to avoid generating canoe config files for dependencies"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I use conan 1.42

I have legacy packages with cmake config files included. When I use the CMakeDeps, there are config files generate for these dependencies and, as those packages do not describe their layout, the content of those generated config files is useless. Those files cause er

[2022-02-22 09:38] babariviere opened #10628 "[question] Access VirtualBuildEnv in test"
Hello,

I am currently trying to package the android NDK.
In the tests, we are trying to test the env variable provided by android NDK to check that they are correctly set, and that the executables can be run.

Since there is a change on how the env variables are transmitted to packages (now via self.dependencies), we are trying to access them with the `VirtualBuildEnv`. But, it needs `self.depend

[2022-02-22 10:05] Claybike commented on #10106
I'm having a similar issue, but with libcurl having libtool as a dependency, which in turn has automake as both normal and build dependency. The lockfile doesn't contain automake as build dependency, breaking the build.

Did you find any solution, @beckerhe ?

[2022-02-22 10:06] SpaceIm opened #10629 "[bug] PkgConfigDeps: component version not honored"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: apple-clang 13.0
  * Conan version: 1.45.0
  * Python version: 3.9.10

### Steps to reproduce (Include if Applicable)

- `conan install ffmpeg/4.4@ -g PkgConfigDeps`
- inspect pc files, all versions are set to 4.4 => not good
- `conan install ffmpeg/4.4@ -g pkg_config`
-

[2022-02-22 10:44] tsondergaard commented on #4047
@michaelmaguire this issue does not appear to get the attention that (I think) it deserves. What are you currently doing to ensure that you have debuginfo for your packages?

[2022-02-22 10:44] memsharded commented on #10628
Note: Start using ``from conan import ConanFile`` when possible

Yes, in Conan 1.X, the ``test()`` method doesn't have access to the dependencies information. This is architectural, it wasn't possible to change it in 1.X. What you need to do (and in any case, it is the recommended way), is to handle the dependencies information in the ``generate()`` method. Do what you need to do there, and prepar

[2022-02-22 10:48] memsharded commented on #10106
Short summary: there is a complicated problem when using both ``build_requires`` and ``requires`` to the same package in the dependency graph and how it is stored in the lockfiles. Seems challenging to be fixed. It seems this issue is duplicate with https://github.com/conan-io/conan/issues/10544. I am closing this one, please lets follow conversation in https://github.com/conan-io/conan/issues/105

[2022-02-22 10:48] #10106 closed, assigned to nobody

[2022-02-22 10:55] michaelmaguire commented on #4047
Right now we have a separate Microsoft symbol server set up, to which we upload symbols in our promotion builds.

Sadly it's a completely parallel system, with a separate lifetime for packages.

We've also started giving up on a solution here and switching more to use /Z7

https://docs.microsoft.com/en-us/cpp/build/reference/z7-zi-zi-debug-information-format?view=msvc-170

[2022-02-22 10:58] memsharded commented on #10627
Yes, using the ``dep.cpp_info.set_property("cmake_find_mode", "none")`` is the correct way, because if the package is not going to work, you better say it once in the package, that have every single consumer failing and having to repeat the same fix over and over.

If you want to get rid of them once they have been generated by ``CMakeDeps``, then, have you tried to do a remove of the ones that yo

[2022-02-22 11:11] helmesjo opened #10630 "[bug] VS2022 fails with "conan_split_version Macro invoked with incorrect arguments""
### Environment Details (include every applicable attribute)
  * Package Name/Version: **bzip2/1.0.8**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2022 (17.1.0)**
  * Python version: **3.9.7**
  * CMake version: **3.21.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Step

[2022-02-22 11:18] memsharded commented on #10351
We are going for the following approach:

- Create secure profiles for compilers, that will define a [conf] section with CXX_FLAGS that define the secure flags
- This is installable with ``conan config install``
- ConanCenter profiles will use the secure profiles for generating packages

This needs to wait for some infra around [conf] feature and CXX_FLAGS general injection to different build syst

[2022-02-22 11:26] heili77 commented on #10627
I thought of a more integrated way to avoid those files. Thanks for the pragmatic solution.

[2022-02-22 11:26] #10627 closed, assigned to nobody

[2022-02-22 11:39] memsharded commented on #10426
We are going to consider a wider solution:

- An interceptor extension in .py, that will get a command and will be able to return a new command to be executed. This way it can be used for other build systems too, not only cmake

[2022-02-22 11:44] ghost commented on #10623
@memsharded thank you after explicitly creating n build profile with `conan profile new --detect` and then using
[code]

it worked after a while.

What took me some time was that [env] values are not passed to a custom cmake toolchain file. This means specifying the cross compiler via CC and CXX in the [env] section did not work for me.
After adding the cross compiler path in the environment of th

[2022-02-22 11:44] #10623 closed, assigned to nobody

[2022-02-22 12:29] memsharded commented on #10618
It is also very likely that your build is using libstdc++11, not libstdc++, so you need to update your profile too to ``compiler.libcxx=libstdc++11``. It would be useful if you report here the actual link error (this mistmatch typically produces a cxx11_std_string like link error)

[2022-02-22 13:00] babariviere commented on #10628
It was generated with `conan new` 😄

In this case, how can I access individual env variables in the test?
Like this:

[code]

Since we want to test if the binary works or no.
As you said, it works in 2.0, but we are trying to:
- migrate recipes to 2.0
- then backport them to 1.45 to make the migration minimal

But we should probably wait for 2.0 anyway 😄

[2022-02-22 13:43] T-Deuty commented on #4047
This is also what my team has done, but we aren't happy with this workaround.

[2022-02-22 13:46] Nipheris commented on #4047
@tsondergaard

The solution that works just right now: the same as @michaelmaguire mentioned - uploading PDB-s from Conan packages to the separate symbol server on SMB file share; we have "syncing" script that unpacks Conan binary package `.tgz`-s and uploads every PDB to a symbol server.

The solution we are dreaming of: the separate service that implements [SSQP protocol](https://github.com/dotn

[2022-02-22 14:10] nandanvasudevan commented on #10618
Wow!!
I am not sure how you know this, but is there any resource I could read to have figured this out myself?

Thank you!

<details>
<summary>Link error</summary>

[code]
</details>

[2022-02-22 14:10] #10618 closed, assigned to nobody

[2022-02-22 14:52] memsharded commented on #10618
Many years developing and supporting Conan :) :) :)

This one we also learned the hard way, some time ago: https://blog.conan.io/2016/03/22/From-CMake-syntax-to-libstdc++-ABI-incompatibiliy-migrations-are-always-hard.html

Also, FYI, we are now in a not great situation regarding the docs, because in this moment we are in the transition to 2.0, and it is complicated with the legacy&stable tools vs

[2022-02-22 15:22] nandanvasudevan commented on #10618
That is awesome! All the best!

[2022-02-22 15:47] memsharded commented on #10628
Try ``conan new hello/0.1 --template=cmake_lib`` :)

Like this:

First, try to avoid having 2 instances of ``VirtualBuildEnv``, you are using it as a ``generator`` (which file you are not using).
Then, have you considered using the generated file. Just by having ``generators = "VirtualBuildEnv"``, you will get a ``.bat`` or ``.sh`` script there in your folder. Your ``test()`` will load the file in

[2022-02-22 15:47] babariviere commented on #10628
@memsharded Will try that out, thanks!

[2022-02-22 15:52] babariviere commented on #10628
Well, your solution works! I should have thought of that... Thanks!

[2022-02-22 15:52] #10628 closed, assigned to memsharded

[2022-02-22 16:00] memsharded opened #10632 "[feature] Rename ``conan install --reference`` to ``conan install --requires=xxx`` and allow multiple"
This might align better with the conanfile ``[requires]`` definition, and understand that it allows version ranges for example.

It might be worth considering too the ``--reference=xxxx --build-require`` and move it to ``--build-require=xxxx`` argument (even in combination with the above)

The mapping between the conanfile and the command line will be direct and more understandable?

[2022-02-22 16:06] memsharded commented on #10630
I am trying to reproduce this, but at the moment I am stuck at a different error:
[code]
Not sure why this is happening (I just installed VS 2022, which seems to work fine).
UPDATE: I was using cmake 3.21.0, it seems this was fixed in 3.21.3

Just to make sure, which Conan version are you using?

[2022-02-22 16:15] franramirez688 commented on #10629
@SpaceIm I have opened this PR https://github.com/conan-io/conan/pull/10633 to be able to set that custom version for each component. Now, we don't have the field `cpp_info.version` anymore in Conan 2.0 so that's the reason to propose this new mechanism.

[2022-02-22 16:16] memsharded commented on #10630
I couldn't reproduce this. I have just tried it, with latest Conan 1.45, putting your above profile and:

[code]
The package builds and packages correctly:

[code]

I don't know if it could be some difference on how the Enterprise version is being reported and making it fail, but I cannot try that here, don't have the enterprise version.

[2022-02-22 16:45] dawidcha opened #10634 "[bug] SHORT DESCRIPTION"
### Environment Details (include every applicable attribute)
  * Example in linux
  * n/a
  * Conan version: 1.41-1.45
  * Python version: 3

### Steps to reproduce (Include if Applicable)
This has been seen on a self-managed python installation i.e. python code all downloaded to an application directory; PYTHONPATH has to be manually set to point to this directory

PYTHONPATH=/path/to/conan/insta

[2022-02-22 17:57] memsharded commented on #10634
Reproduced. It was due to the new tools in ``conan.tools``.
Submitted fix in #10635 for next Conan 1.46 release.

[2022-02-22 18:01] helmesjo commented on #10630
@memsharded I'm on 1.45 (tried 1.44 before that as well).

[2022-02-22 19:17] tonka3000 commented on #10610
I've now create the small conan recipe via `conan new hello_app/0.1 --template=cmake_exe`. I use conan `1.45.0`.
I can compile when I use `compiler.version=190`, which should be Visual Studio 2015

Command line: `conan create . -s compiler.version=190 -s compiler="msvc" -s compiler.cppstd=14 -s compiler.runtime=dynamic`

It uses `-G "Visual Studio 14 2015"` in the logs, so it seems to work for Vis

[2022-02-22 20:03] harsszegi commented on #10426
Awesome, thank you very much guys!

[2022-02-22 20:13] memsharded commented on #10602
Hi @samuel-emrys

This is kind of expected, because the ``validate()`` method only runs for packages, not for consumers.
We could have a look and see if it would be possible to run it for consumers, lets try.

[2022-02-22 20:21] derived-coder commented on #10615
Thanks for looking into this. Your solutions are workarounds, is there no fix possible? When yes, why?
I do not see there the problem is. Is it on both sides?

[2022-02-22 20:49] anderson-dev opened #10636 "[question] Link errors for indirect dependencies"
I'm using visual_studio generator and msbuild-based sln/vcxproj projects. Due to VS conan extension, I have to have my conanbuildinfo.props file in x64/Debug/.conan and I've ensured that it is being exported to source.

Project A is a static library that has tool_requires for catch2 since I want to run the unit tests (in Tests subdir). I export both the project src as well as the tests folder then