[2021-02-05 14:18] michaelmaguire commented on #8205
We have now reproduced this problem in our 'sandbox' environment with a build DAG consisting only of liba, libb, libc, libd and app1 and app2 to match the test libs in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html

It would appear the error clearly  has to do with an impedance mismatch between shared profiles [build_requires] and lockfiles:

[code]

[code]

Note: no `bzip2` anywhere

[2021-02-05 14:44] SSE4 commented on #8449
by default, we never serialize None scm values:
[code]

but we use the helper to evaluate effective shallow value:
[code]
under the hood it does:
[code]

so, if key (`shallow`) is not in the scm data (unspecified), we return default (`SHALLOW_DEFAULT` which is `True`)
if key (`shallow`) is there, but has `None` value, we just return `None` (None is always a valid value, as code says)

then, we jus

[2021-02-05 14:49] rconde01 commented on #8363
There is no default devtoolset per se but yeah I say documentation somehow is sufficient....but if we close the issue it won’t normally come up in search?

[2021-02-05 15:44] p-groarke commented on #8437
Yes I am aware. The `multi` generators are meant to be used for multiple `build_types` at the same time. Sometimes you need to run the import step from generator expressions and specify the build_type.

ex:

[code]

[2021-02-05 15:49] p-groarke commented on #8437
Note, if your answer is the libs shouldn't name their dlls the same thing for different configs, I agree. But some dependencies don't follow that rule.

[2021-02-05 17:27] KerstinKeller opened #8451 "[feature] system_requirements generator"
After a discussion on Slack with @solvingj , I am raising an issue here on Github.

It would be great to have some kind of `system_requirements` generator, that, in the easiest case, just prints a text file which contains all system requirements needed to build / run a specific Conan package.

We've setup conan such that system packages won't be installed silently, but it would be awesome to check

[2021-02-05 18:01] czoido commented on #8443
Hi @anton-dirac,
Thanks a lot for reporting, I have been able to reproduce the issue. Looks like the options of the host context are being propagated to the protobuf that is as build_requires in the build context making the build fail. I will mark this as a bug and we will try to understand what's happening there and what can we do to solve it.

[2021-02-05 18:18] memsharded commented on #4262
We finally decided to get rid of "exports_folder" and "exports_sources_folder" paths in the new python_requires that supersed these ones with export folders. The new model, that will survive in Conan 2.0, only has a "path" field that points to the recipe path. Only exported files (not exports sources) exist in the new python_requires. So I think this can be closed.

[2021-02-05 18:18] #4262 closed

[2021-02-05 18:20] memsharded commented on #3765
This doesn't apply anymore, bintray UI no longer used, https://conan.io/center search works fine.

[2021-02-05 18:20] #3765 closed

[2021-02-05 18:21] memsharded commented on #3983
Bintray UI is deprecated and will be closed. https://conan.io/center/ ConanCenter is the entry point for this.

[2021-02-05 18:21] #3983 closed

[2021-02-05 18:23] memsharded commented on #3698
Bintray is being sunset https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

https://conan.io/center/ ConanCenter is the public community central repository.

[2021-02-05 18:23] #3698 closed

[2021-02-05 18:24] memsharded commented on #2011
Bintray is being sunset https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

https://conan.io/center/ ConanCenter is the public community central repository.

[2021-02-05 18:24] #2011 closed

[2021-02-05 18:24] memsharded commented on #3679
Bintray is being sunset https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

https://conan.io/center/ ConanCenter is the public community central repository.

[2021-02-05 18:24] #3679 closed

[2021-02-05 18:25] memsharded commented on #2433
Bintray is being sunset https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

https://conan.io/center/ ConanCenter is the public community central repository.

[2021-02-05 18:25] #2433 closed

[2021-02-05 18:25] memsharded commented on #2212
Bintray is being sunset https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

https://conan.io/center/ ConanCenter is the public community central repository.

[2021-02-05 18:25] #2212 closed

[2021-02-05 20:40] solvingj commented on #8451
This is a great suggestion.

A few thoughts for future reference about small-scope incremental improvements for the general case of `system_requirements`:

-  The simplest enhancement which could be made around `system_requirements` today would be to add additional modes for the configuration item of `CONAN_SYSREQUIRES_MODE`.  One mode that comes to mind after hearing your case would be something

[2021-02-05 22:05] Croydon commented on #4091
Closing as Bintray shuts down.

[2021-02-05 22:05] #4091 closed

[2021-02-06 02:53] jacobjiangwei opened #8452 "[bug] Conan on windows very slow on uploading"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: doesn't matter, we only use export / import feature, don't compile anyway
  * Conan version:1.32.1
  * Python version:3.8.6

### Steps to reproduce (Include if Applicable)

We have around 1GB with 4 large library to export and upload to conan.
Same level of library on linux/m

[2021-02-06 02:56] jacobjiangwei commented on #8452
{"_action": "COMMAND", "name": "remote_add", "parameters": {}, "time": 1612574590.771026}
{"_action": "COMMAND", "name": "authenticate", "parameters": {"password": "**********", "remote_name": "XMConan", "skip_auth": false}, "time": 1612574591.6800249}
{"_action": "COMMAND", "name": "get_remote_by_name", "parameters": {}, "time": 1612574591.6880262}
{"_action": "REST_API_CALL", "duration": 0.07099

[2021-02-06 02:59] jacobjiangwei commented on #8452
C:\Jks\workspace\feature_4.0.0_1_19>python conan_export_pkg.py --os=windows --upload
[Conan] channel:testing
[Conan] os:windows
[Conan] conan app checking......
DEBUG :conan_api.py   [177]: INIT: Using config 'C:\Users\Public\conan\.conan\conan.conf' [2021-02-06 10:42:07,617]
DEBUG :tracer.py      [157]: CONAN_API: remote_add() [2021-02-06 10:42:07,624]
[Conan] init completed!
DEBUG :conan_api.py

[2021-02-06 07:34] mjvankampen opened #8453 "[bug] venv modified vars do not take into account other venvs"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC2019
  * Conan version: 1.33.1
  * Python version: 3.9.1

If you use multiple venv (such as activate & activate_run) at the same time errors might occur. When generating the venv files conan checks which env vars exists and treats those differently than new variables it w

[2021-02-06 14:26] xahon commented on #8442
@czoido Hi! Yes, I meant especially this. I want to rebuild "everything" except "something". Could you transform the issue into a feature request?

[2021-02-06 22:03] chausner opened #8454 "[feature] Using [conf] block in profiles to skip running tests as part of build()"
The new [[conf] block](https://blog.conan.io/2021/01/27/New-conan-release-1-33.html) added to profiles in Conan 1.33 seems like a great addition that has been missing so far, so thanks a lot for adding this!

I think it might be useful to allow users to skip running tests as part of the build. The official recommendation is to run tests as part of `build()` like this :
[code]

Unfortunately, with

[2021-02-06 22:08] chausner commented on #8454
Right after posting this issue, I was checking the command-line parameters of `conan build` again and found out about https://docs.conan.io/en/latest/reference/conanfile/attributes.html#should-configure-should-build-should-install-should-test. So it seems there is actually already a nice solution built-in. :)

[2021-02-07 11:51] memsharded commented on #8454
Hi @chausner

The truth is that this is a very valid request. The ``should_test`` thing is only for the consumer package, but it is also useful to be able to define run_tests yes/no for all packages in the graph, not only the consumer one. Right now there is one environment variable CONAN_RUN_TESTS, intended for this purpose. This feature request would be to provide a [conf] alternative, that the

[2021-02-07 22:39] memsharded commented on #8205
Hi @michaelmaguire

I am having a look at this. I am a bit confused about the line:

[code]

Is this the line printed by Conan in the input profile? How is it possible that it is repeating cmake and strawberryperl 3 times?
In the example https://docs.conan.io/en/latest/versioning/lockfiles/ci.html, there are no ``build_requires``. You said you reproduced with ``liba, libb, libc, libd and app1 and

[2021-02-08 00:50] memsharded opened #8458 "[feature] Test with msys2 mingw"
Please contribute one or several tests that:

- Build a simple hello-world app in msys2 with mingw
- If possible add and check 32 and 64 architecturs
- Just the setup of msys2 into a test, assuming it is installed in the system
- Doesn't need to use existing helpers, nor recipes or other Conan things. Just the setup of msys2
- As a plus, if possible to run it from the msys2 package from ConanCente

[2021-02-08 01:12] StanleyYoo opened #8459 "[bug] Unable to connect to osp=https://osp.jfrog.io/artifactory/api/conan/conan-public"
Hi, I try to build conan configuration and it keep reading following log at git bash:

$ conan install . -u -s build_type=Release -g virtualrunenv
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=Visual Studio
compiler.runtime=MD
compiler.version=16
os=Windows
os_build=Windows
[options]
[build_requires]
[env]

libcosimc/0.8.0@osp/testing: Not found in local cache

[2021-02-08 07:20] EugenMayer opened #8460 "EOL for public binrtray - any plans on what will be picked as an alternative?"
JFrog is shutting down bintrag, source https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Are there any plans to relocated, if yes, what are the plans.

Since we need to change all the CI's and all that, or even plan to migrate the current bintray somewhere else (instead of rebuilding) - what are the plans (before all the builds start to fails :)

[2021-02-08 09:58] scddev opened #8461 "[bug] wildcards in profiles for env variables do not work"
### Environment Details (include every applicable attribute)
  * Ubuntu 20.04
  * gcc
  * 1.33.1
  * 3.8

### Steps to reproduce (Include if Applicable)

E.g. enhance the sample for profiles from the docs https://docs.conan.io/en/latest/reference/profiles.html:

[code]

If repeating the env variables with every package name (like in docs with e.g. zlib), it works as expected.

[2021-02-08 09:58] scddev opened #8657 "[bug] wildcards in profiles for env variables do not work"
### Environment Details
  * Ubuntu 20.04
  * gcc/clang
  * 1.33.1
  * 3.8

### Steps to reproduce

E.g. enhance the sample for profiles from the docs https://docs.conan.io/en/latest/reference/profiles.html:

[code]

If repeating the env variables with every package name (like in docs with e.g. zlib), it works as expected.

[2021-02-08 10:13] michaelmaguire commented on #8205
# About config include hieararchies

Yes, that's the line of output.  from our current Release profile:

[code]

It may be possible we're getting the duplicates because of our profile hierarchy.

We are building against `conan_common_config_install/profiles/vs2015_14_v140_Release`:

[code]

This includes, in order, the following:

`conan_common_config_install/profiles/fragments/visual_studio_2015`

[2021-02-08 10:20] memsharded commented on #8205
Let me have a look to that profiles hierarchy, maybe the composition can avoid duplicated build_requires.
The profile inclusion mechanism is not designed to handle diamonds, that could be the cause of accumulated repeated build_requires. I will check it, but if in the meantime you want to do a test, and move those [build_requires] to a different place, so they are not repeated, that could be usefu

[2021-02-08 10:50] michaelmaguire commented on #8205
We have now tried this with a new profile: `conan_common_config_install/profiles/vs2019_16_v142_Debug_all_in_one`:

[code]

Retrying the build, we see a cleaned up build_requires:

[code]

but the error still persists:

[code]

[2021-02-08 13:52] KerstinKeller commented on #8451
Thanks for the very detailed answer.
But I am wondering just one thing: if this info so far is not propagated at all, does it even reflect in the package_id() of a package? I had somehow naively assumed that it would, the same way some other requirement influences the package id.

It's good to agree that this information is useful and necessary, how to manage it and make it available - in that reg

[2021-02-08 14:33] ytimenkov commented on #8443
Sounds similar to my issue: https://github.com/conan-io/conan-center-index/issues/4013 (and this one, names lockfiles but related to building a graph when same package is in build and ordinary requirement: https://github.com/conan-io/conan/issues/8335)

[2021-02-08 14:38] ytimenkov commented on #8453
First, which version do you use? venvs were changed several times and such behavior was (or at least tried) to be fixed.

Another thing, activating multiple envs is still prone to errors if you don't deactivate them strictly in reverse order.

That said, deactivating environment is anyways a big issue (especially when there are multiple ones) so the best way is to activate in another shell...

[2021-02-08 14:53] mjvankampen commented on #8453
Updated my original post!

The issue is that the venvs might introduce the same env var, such as Env:\DYLD_LIBRARY_PATH. These will now conflict as both venvs assume that this variable is new instead of being modified.

I think this can be fixed by moving this detection to time of activation of the venv instead of generation.

I'm willing to give it a go to fix this, but I want to see if someone s

[2021-02-08 15:27] #8434 closed, assigned to memsharded

[2021-02-08 15:27] markfoodyburton opened #8464 "CMAKE_CXX_STANDARD variables not populated"
Hi, I have a trivial hello world.
My conanfile.txt is trivial with a cmake generator, I have a cmake with just the
[code]
lines in it, and the minimal cmake project and add_executable directives.
Running conan install generates the conanbuildinfo.cmake, but that does NOT include the CONAN_CMAKE_CXX_STANDARD variables, and hence the C++ standard isn't handled.
I'm using conan 1.32.1
Am I missing so

[2021-02-08 15:41] jgsogo commented on #8437
Hi, @p-groarke . That's a really good point, `conan install` does execute method `imports` and different configurations might have the same name for DLLs, it is very common (not only debug/release, but switching an option usually creates different binaries with the same name).

This situation makes it impossible to use multi-generators for that recipe. I would say that the bad practice is not to h

[2021-02-08 15:44] jgsogo commented on #8363
You can search closed issues too... but you need to remove the `is:open` from the search box

![image](https://user-images.githubusercontent.com/1406456/107243001-e2bbdd00-6a2c-11eb-8ccd-bc9ec8d5569f.png)

[2021-02-08 15:46] rconde01 commented on #8363
right - but if you're looking at a current problem, you might not think to do that

[2021-02-08 15:56] markfoodyburton commented on #8464
I believe this is a problem with using conanfile.txt rather than a full .py file. Perfectly OK with this limitation, but would be good to document it.

[2021-02-08 16:45] michaelmaguire opened #8465 "[question] How can I execute a conan create --build=all excluding a single package?"
I need to perform a conan create --build=all   but avoid building one particular package (which is not built from source but was created with someone else's binaries inside).  I've read https://docs.conan.io/en/latest/mastering/policies.html which state:

So I thought e.g. fnmatch `!` would apply: https://docs.python.org/3/library/fnmatch.html

I've tried:

`--build=!mydontbuildpackage`
`--build=!

[2021-02-08 16:53] michaelmaguire commented on #8465
It's been suggested to me that I've misunderstood the `fnmatch` documentation, and ` [!abc]` means "one character that is neither 'a' nor 'b' nor 'c'" rather than "not the sequence 'abc'".

I guess I want something available with `FNM_EXTMATCH`:

[code]

from https://www.man7.org/linux/man-pages/man3/fnmatch.3.html

In which case, if fnmatch exclusion is not a possibility, is there some other way

[2021-02-08 16:56] p-groarke commented on #8437
Sounds fair to me. I haven't looked into too much details, it just popped up as a limitation for us. I know you can set an env path for windows to search dlls, but that is system wide so it breaks locality of conan builds. I'm unsure if there is a way to do so "per executable", through cmake for example. I doubt it though.

Anyhow, no rush to figure this out. Take care.

[2021-02-08 17:09] jgsogo commented on #8437
Conan provides some run-environment-generators, but they are not _multi_, you cannot have more than one written in the same _working directory_ (the same problem, name collision).

Associated with the new toolchains approach, the `generate` method and the new generators, one suggestion was to be able to provide a name for a configuration and Conan will use it for the files generated by the generat

[2021-02-08 17:36] crowe-imetrum commented on #8148
Hi, I just wanted to add that my team is hit by this as well, we are using the form [0.X.X] for our use of semver but I imagine it comes down to the same issue. We were suffering in silence as this was raising the warning mentioned but not getting in the way of being able to build our solutions. I am considering that in the future we will need to make use of CONAN_ERROR_ON_OVERRIDE=True though so

[2021-02-08 17:55] jgsogo commented on #8419
The download cache works when Conan is going to download a file, but the remotes can still be used. There are some API calls that return information (not files) and these API calls are not being cached.

[2021-02-08 17:56] ericriff opened #8466 "[bug] package_info() env variables not applied when pr:h matches pr:b"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc8
  * Conan version: 1.33.1
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)

-- This may be a bug or me using conan the wrong way --

We had a CI pipeline that crosscompiled a bunch of libraries using the standard, single profile, approach.
Recent

[2021-02-08 17:57] SpaceIm commented on #8448
A CMake imported target must have a type (STATIC, SHARED, INTERFACE or UNKNOWN): https://cmake.org/cmake/help/latest/command/add_library.html#imported-libraries
Maybe conan should first provide a mechanism in `package_info()` to indicate if a specific lib file is shared or static, then generators could use this information to create proper imported targets.

[2021-02-08 19:11] solvingj commented on #8419
Is the use case of "work offline without VPN connection" a use-case we intended to support with the `download cache` feature?

If so, should we file as something we should try to address?

If not, should we close this as an unsupported use-case of `download cache`?

[2021-02-08 20:22] memsharded commented on #5777
https://github.com/conan-io/conan/pull/8446 removes this behavior, conanfile.py will never be modified.
This will be released in Conan 2.0

[2021-02-08 20:22] #5777 closed

[2021-02-08 23:34] mkacher opened #8467 "[question] access to profile env values in generate method"
I am using a profile to populate a number of values for the compile such as CC, CXX, etc. I am now experimenting with the new [MakeToolchain](https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html#maketoolchain). I would like to use the maketoolchain generator to populate conan_toolchain.mak with the values of CC, CXX, etc from the profile so that after the conan install, I can simply

[2021-02-09 01:54] solvingj commented on #8459
The fact that the URL of your remote ends in `.jfrog.io` indicates you are trying to connect to a private artifactory cloud instance.  Was it working for you in the past, or are you trying to set it up for the first time?

[2021-02-09 01:57] solvingj commented on #8460
@EugenMayer we have recently published a blog post on the Conan blog here regarding the Bintray sunset announcement.

https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

There we outline what some of the best options are, depending on how users are currently using Bintray today.

Please have a look there and let us know if you have additional questions.

[2021-02-09 02:00] solvingj commented on #8657
Hi @scddev , I have transferred this issue over to the conan-io/docs repository. I think it's a reasonable suggestion. Lets see what others think.
@memsharded do you think this is a suitable enhancement to the docs, to show wildcard usage?

[2021-02-09 02:06] solvingj commented on #8464
I do not believe there should be a difference between `.txt` and `.py` in this case.  Can you please provide your full `conanfile.txt`, along with the generated `conanbuildinfo.cmake`?  We should be able to diagnose it fairly easily with that information.

[2021-02-09 02:18] solvingj commented on #8465
I do not believe it's possible to achieve your goal with the current `--build` flag and `fnmatch` implementation.

Currently, your only path forward is to pass multiple build flags, one for each package you need to rebuild:

      conan install ...  --build a --build b --build c

If you want to pursue the "exclusion pattern", I believe this calls for a feature request to support multiple patterns,

[2021-02-09 02:29] solvingj commented on #8466
I believe there's a check in the code which amounts to "isCrossCompiling" and if that resolves to `true`, then a number of behaviors are different because the assumption is that the `host` and `build` systems will never be the same, and thus many standard behaviors are invalid. For example, assuming the env var `BOOST_BUILD_PATH` would be the same in a real cross-compile scenario would be an unsaf

[2021-02-09 02:44] solvingj commented on #8466
Here's the code which is used in the codebase to determine if it's a `cross_build` scenarios (including comparing `pr:h` and `pr:b`):

https://github.com/conan-io/conan/blob/develop/conans/client/tools/oss.py#L454

I will need some assistance decrypting this method implementation to determine if I'm even on the right track.

[2021-02-09 02:52] StanleyYoo commented on #8459
Hi and thanks for the response. No this is the first set by following the read.md. Need your support.

[2021-02-09 02:58] solvingj commented on #8467
I understand why you would want to do this, and I can see a need for it myself.  However, be aware that in the general case, the generated toolchain file would not be portable (could not safely be committed to SCM for example). It would contain local paths. For this reason, I think this makes sense for a "custom gnu make toolchain" , which you would call on-demand such as `--toolchain=gnu_make_env

[2021-02-09 03:06] ericriff commented on #8466
Thanks for looking into this!
I did some quick testing and, in the particular case of `b2`, `tools.cross_building(self.settings)` always resolves to `False` (even if I actually try to crosscompile, using `-pr:b x86_64 -pr:h arm` or similar). I think that is because on this recipe we have
`settings = "os_build", "arch_build"`, which makes sense since that is a recipe for a build tool.
So I added th

[2021-02-09 03:23] solvingj commented on #8459
Did you configure the remote with credentials?

[2021-02-09 05:02] StanleyYoo commented on #8459
It didn't ask me any credentials, i.e. password or ID.

[2021-02-09 08:25] memsharded commented on #8459
Hi @StanleyYoo

We need to know the Conan version, the OS you are running, and how did you install Conan (pip, installer, etc). There are some known issues with SSL in OSX (not Conan, but dependencies), that might be solved upgrading Conan or its dependencies:

- Do you have the same issue connecting to that server from other machines?
- Do you have the same issue connecting to that server from ot

[2021-02-09 08:29] memsharded commented on #8467
Yes, this is a known not-a-feature-yet of ``generate()`` and the generated files. We are already working on it (https://github.com/conan-io/conan/pull/8426), though it is a bit early stage. The idea remains similar, at ``generate()`` time, Conan and the recipe should generate the necessary information to be able to launch the build without calling Conan. Please keep tuned to next releases.

[2021-02-09 08:31] memsharded commented on #8465
I think this is a duplicated of https://github.com/conan-io/conan/issues/8442. Lets close this one and follow up there, please.

[2021-02-09 08:31] #8465 closed, assigned to solvingj

[2021-02-09 08:35] ytimenkov commented on #8453
Now I see...

This is actually how it is. As I understand the issue is that all generators (re)use the same name for "old" variable, so when you activate nested environment the "old" variable gets overwritten.

The workaround would be to "scope" "old" variables with generator name, i.e. use not `CONAN_OLD_{{it}}` but rather `CONAN_OLD_{{venv_name | upper}}{{it}}` in `conans/client/envvars/environm

[2021-02-09 09:47] memsharded commented on #8453
Have you checked this? https://github.com/conan-io/conan/pull/8426

I am working on it, the idea is that the "activate" script is the one capturing the state to be restored, dynamically. I think this is the behavior that is expected, isn't it?  The plan is to make the new environment the main model for the new toolchains approach.

[2021-02-09 09:52] markfoodyburton commented on #8464
For the conanfile.py
[code]

For conanfile.txt
[code]

Running conan build with the py file, sets the CONAN_CMAKE_... variables

[code]

The issue is that we can't run conan build with a .txt file:

[code]

Hence, as far as I can tell, unless I am missing a way to run conan, you can't use conan to set the CMAKE_... variables while using a .txt file.

[2021-02-09 11:01] memsharded commented on #8464
This is the main difference: the ``build()`` method, and what it has inside is adding a bunch of logic and variables on the fly, that cannot be easily reproduce with a pure consumer conanfile.txt.

This is the main reason we are moving to the new toolchains and generators like CMakeDeps and CMakeToolchain, which goal is to make the native build identical to the ``conan build`` or ``conan create``

[2021-02-09 11:30] solvingj commented on #8464
Specifically, it's the CMake() helper class adding those variables , not the generator.

[2021-02-09 11:33] solvingj commented on #8459
You need to add your username and password when you do the `conan remote add` command.

[2021-02-09 11:34] markfoodyburton commented on #8464
Thanks both

So, for now, if you want to use the cmake build environment, and specifically need support for the cmake flags (e.g. CXX_STANDARD et al), then you are advised to use a conanfile.py and run conan build. This may change in the future.

Is that about right?

[2021-02-09 12:47] mjvankampen commented on #8453
@ytimenkov looking at the code it seems like modified/new is detected at generation time not run? (for example https://github.com/conan-io/conan/blob/36943243b145291edbb42eac6315a528c44c7dcd/conans/client/envvars/environment.py#L171 ) so if an env var does not exist yet all scripts will see it as new. Once you fix that you also need to scope the old one I agree. But I think memsharded approach is

[2021-02-09 12:58] ytimenkov commented on #8453
Ah, right, looking at evolution of virtualenvs code I assumed that it just stores all variables as in my initial attempt to fix it (https://github.com/conan-io/conan/pull/4248). Got confused by reading from `.sh.env` file and the template at the top of the file does save variables at the moment of activation. I think I naively assumed that it saves all variables it's going to set later on...

[2021-02-09 13:00] SSE4 commented on #8466
yes, this is definitely okay. keep in mind, using two profiles is always a different mode, even the profiles are identical.

this is single profile mode

`tools.cross_building` may incorrectly return False if recipe doesn't define os/arch in the settings attribute (or doesn't define settings attribute at all)
in this case, even if you pass `-s arch=x86` in command line, `tools.cross_building` sees

[2021-02-09 13:30] ericriff commented on #8466
So this is the key

So when using two profiles, how are you supposed to consume a package that provides a library and also some executables (i.e. `protobuf`)? Should I list it as a `requirement` AND a `build_requirement`?

[2021-02-09 13:35] solvingj commented on #8466
Very good question. I wonder what the behavior of the graph resolution would be in that case.  @memsharded ?

[2021-02-09 13:43] SSE4 commented on #8466
in this case, you want two nodes, and both `requires` and `build_requires` for the same package.
imagine you're cross-compiling to the ARM from x86.
in such case, you want to link with ARM libraries (`libprotobuf`), but launch x86 `protoc` executables.
if the same package provides `libprotobuf` and `protoc`, it's unavoidable to have two nodes of the same package, but in different contexts.
otherwi

[2021-02-09 13:46] ericriff commented on #8466
Thanks for clarifying that.
Then about building a tool like `b2` using two profiles. That is something that can't be done using current conan behavior, right?
I'm OK with closing this thread if that is the conclusion.

[2021-02-09 13:51] SSE4 commented on #8466
the `b2` itself builds, and it can be successfully consumed via `build_requires` (in two profiles mode).
the problem with `test_package` which fails.
the entire `test_package` feature was designed long before we had any support for the cross-building, `build_requires` and two profiles. it was designed simply for testing regular library packages only, and can handle only that purpose.

however, in

[2021-02-09 14:14] itdoginfo opened #8471 "[question] How-to upgrade conan v1.9 in docker?"
I have conan_server version 1.9.2 in docker. Run using a compose file:
[code]

I am trying to update for example to conanio/conan_server:1.14.1, just docker-compose up
[code]
Ok, add command to docker-compose
[code]
And up
[code]
Also I tried with the latest version 1.33.0, the result is the same.
The only thing I found in the documentation on this topic
https://docs.conan.io/en/latest/faq/trouble

[2021-02-09 14:30] memsharded commented on #8471
I am not sure it is the best to run the migration in compose. The migration applies to your current storage, I guess it is the volume shared in ``./conan_server``. Have you tried to run the migration manually and directly in your system using that storage folder? It should be a once-only operation.

Also, I would like to ask. Have you tried the free ArtifactoryCE? Directly from https://conan.io/do

[2021-02-09 15:12] ericriff commented on #8466
Just for the sake of testing, I added this to the test_package conanfile
[code]

And it passes now, with one profile and with two :)

[2021-02-09 15:30] juba895 opened #8472 "[question] Conan Package for associated git commit"
Hello,

we are using the conan attribute `scm` and the automatic detection of the `revision` with the `auto` value.

[code]

Our Jenkins is automatically uploading for a new commit the associated conan package to our artifactory.
In some cases i want to `promote` one of this conan packages to our "releases" artifactory.
Most times it is not so easy to find the associated package, because of the am

[2021-02-09 15:55] #8466 closed, assigned to solvingj

[2021-02-09 16:13] memsharded commented on #8444
https://github.com/conan-io/conan/pull/8468 closed this.

[2021-02-09 16:13] #8444 closed, assigned to danimtb

[2021-02-09 18:25] jgsogo opened #8473 "[feature] Consider a way to specify a lazy 'scm' member"
Conan v2.0 will stop rewriting `conanfile.py` after `scm` substitution, it will always use `scm_to_conandata=True`. When the `conanfile.py` is not rewritten, functions that are evaluated when the recipe is loaded are quite inconvenient (these function might use some commands to get information from the SCM, but when the recipe is in the cache the SCM is no longer there).

An alternative for users

[2021-02-09 20:02] Lnk2past commented on #3311
With the closing of #3573 I think this is OK to close. I have not been involved/using Conan in a long while now, and so I do not have anything else to add here. Glad to see this feature move forward though!

[2021-02-09 20:02] #3311 closed

[2021-02-09 21:05] solvingj commented on #8464
Yes it seems so.

[2021-02-09 21:08] michaelmaguire commented on #8205
The fix to our remaining issues seems to have been including `--build=missing` in our `conan lock create` calls as indicated in https://github.com/conan-io/examples/pull/81#pullrequestreview-586357817

Notes from our slack discussion in case they help others:

Thanks for your help, @memsharded !

[2021-02-09 21:08] #8205 closed, assigned to nobody

[2021-02-09 21:09] memsharded commented on #7070
#8457, that is intended for next Conan releases, will invert the logic, defining ``_GLIBCXX_USE_CXX11_ABI=0`` only when ``compiler.libcxx=libstdc++``, but not the other way round, as ``_GLIBCXX_USE_CXX11_ABI=1`` is now the default by gcc. If this needs to be changed, we can introduce a new ``[conf]`` for ``tools.gnu``

[2021-02-09 21:27] michaelmaguire opened #8475 "[question] Is there a way to get verbose lockfile package resolution information in the failure case?"
We are following through the examples in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#package-pipeline and we've gotten to the point where we are performing full validation builds of our downstream dependencies as indicated at the end of https://github.com/conan-io/conan/issues/8205#issuecomment-776245056.

However, sometimes our newly enacted validation fails (which it should from

[2021-02-09 23:17] memsharded commented on #8475
I think this is a valid feature request, the ability to output information of a graph, even if the process fails because some logic error like version conflict or missing binaries.

[2021-02-10 00:07] StanleyYoo commented on #8459
My Conan version is 1.33.1 and installed via pip. OS is Windows 10 with a version of 10.0.18362. I haven't tried to connect to that server with other machine and OS.

[2021-02-10 00:52] StanleyYoo commented on #8459
I tried to remove and add again as below but it didn't ask me any credential. Did I do in a wrong way?

SEUYOO@PUSLA492 MINGW64 /c/Software/OSP

$ conan remote list
conan-center: https://conan.bintray.com [Verify SSL: True]
osp: https://osp.jfrog.io/artifactory/api/conan/conan-public [Verify SSL: True]

SEUYOO@PUSLA492 MINGW64 /c/Software/OSP
$ conan remote list_ref

SEUYOO@PUSLA492 MINGW64 /c/Sof

[2021-02-10 07:35] memsharded commented on #8459
It is not a credentials thing. It is failing way before getting to the authentication part, it cannot stablish connection because SSL certificates. It is a certificate issue (or the python library Conan is using might not be getting certificates fine). In order to figure out what is the problem, the first step would be to try from a different machine, better if it can be another operating system.

[2021-02-10 09:17] Facon opened #8476 "[bug] Autotools in Conan with MSYS2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: GCC 10
  * Conan version: 1.33.1
  * Python version: 3.8.7

### Steps to reproduce (Include if Applicable)
1. Install MSYS2 environment.
2. Open MSYS2 MINGW32 console and install Python, Autotools, CMake, GCC, etc.
3. Install conan with "pip install conan".
4. Create a profil

[2021-02-10 09:22] itdoginfo commented on #8471
I wanted to make sure couldn't do this with the docker image. The migration of the conan server installed via pip was successful. The only thing, command
[code]
works only with ~/.conan_server directory. Before migration, need to transfer data to this directory.

I did not know about this solution, but the "raw" conan server suits us completely at the moment. We don't have many c++ packages. I wil

[2021-02-10 09:22] #8471 closed, assigned to memsharded

[2021-02-10 10:53] alexanderLinear commented on #3906
for me hitting a timeout would mean that the server is responding slower than that timeout.
this means under some conditions the server tends to respond slow - either due to "wake up" effects or due to other pending loads.
evidently using a 4x timeout value can mitigate that.
rationale:
hitting a timeout in such a server query is currently handled in a silent(!) fashion and thus behaves the same a

[2021-02-10 11:49] jasal82 commented on #6400
The git credential cache has a default timeout of 900 seconds, so after that interval the cached credentials will be deleted again. Maybe that's the problem? Try to increase the timeout setting in `.gitconfig`.

Just for the sake of completeness: We also had problems getting Git checkout to work in Windows Docker containers. There it helps to inject the credentials into the Windows cred store by c

[2021-02-10 12:55] markfoodyburton opened #8477 "[question] defining Document directory in editable layouts"
Is it possible to define a documents directory in an editable layout file for use in a workspace?
e.g. we have a number of packages that we would like to combine into a single workspace, with the src in src/package/... (or whatever) likewise includes, but equally the documentation (and potentially other files too?)

It seems there is a defined mechanism for source, include and build files, but I d

[2021-02-10 13:19] alexanderLinear commented on #3906
Is this the right knob in conan.conf for tuning the timeout:

1.3.0 (30-April-2018)
"Feature: Timeout for downloading files from remotes is now configurable (defaulted to 60 seconds)"
https://docs.conan.io/en/latest/changelog.html#april-2018

request_timeout = 60                  # environment CONAN_REQUEST_TIMEOUT (seconds)
https://docs.conan.io/en/1.33/reference/config_files/conan.conf.html (alr

[2021-02-10 15:10] a4z opened #8478 "[question] Import from a build requirement"
How can I import something from a build requirement?

It seems only be possible from requirements, but I need some files from a build requirement in my buildfolder.
How?
(It would also help to just get easy the package folder path of the build requirement into cmake folder so I know the root of the requirement)

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develo

[2021-02-10 15:33] EugenMayer commented on #8460
Thank you a lot, very helpful!

This issue can be closed IMHO - sure for you to decide

[2021-02-10 16:11] iiknd commented on #3106
Hi @jgsogo and thanks for the tip above!

After some debugging I can see that "build_requires" pulls the whole depedency into the "/build" directory of the consuming/split package.

[code]

So consumers of split_component_A can just conan install the "split_component_A/1.0".
I wonder if there are any details in package_info that need to be taken care of for cmake consumers, i.e. -g cmake_paths ?

[2021-02-10 16:25] #8460 closed, assigned to solvingj

[2021-02-10 17:05] euttsov opened #8479 "[feature] Local build policy"
Hi all.
It would be nice to have the build policy that for forbids download binary packages from remote. When this policy applied package sources should already be in local cache and if binary missed in local cache then it should be build and can be used later by other packages.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-02-10 17:07] Carsten87 opened #8480 "[question] msbuild generator: transitive dependency to static lib"
I've got the following scenario:

lib A (dynamic lib) -> lib B (dynamic lib) -> lib C (static lib).

lib A is a Visual Studio project which uses the property sheets generated by the msbuild generator. It references the property sheet for lib B.

lib B is a dynamic lib which has lib C linked into it. Therefore lib B 'requires' lib C.

Now the property sheets for lib B reference the property sheets

[2021-02-10 18:15] kdsx opened #8481 "[feature] Add an option to print local package paths in search"
Maybe I miss something, but currently there's no a simple CLI way to get a package path in the local cache.
When I sometimes need to check what is inside the downloaded package, I have to invoke `conan search`, find the package ID, then manually compose the following: `~/.conan/data/<name>/<version>/<user>/<channel>/package/<package_id>`. It would be **much** simpler and faster if conan had an opt

[2021-02-10 18:28] nichmj01 opened #8482 "[question] Referencing custom cmake macros in conan create?"
All of our projects have the same cmake setup so in an effort to simplify the top-level CMakeLists.txt file we have a series of macros in .cmake files that can be included to access helper macros. We distribute the source code and all cmake files to customers so that they can build the code themselves, and they need to be able to build the code without using conan. However,  we're trying to use co

[2021-02-10 20:39] nichmj01 commented on #8481
It looks like you can use conan info with the --paths option to get what you want?

`conan info --paths mypackage/1.0.1`

It will also print out the paths for any dependencies

[2021-02-10 20:45] kdsx commented on #8481
Perfect! Thanks! It does the job.

[2021-02-10 20:45] #8481 closed, assigned to nobody

[2021-02-10 20:45] nichmj01 commented on #8481
You can also run it against your consumer project to list the paths to all your dependencies instead of having to know the package reference and it can be combined with the --only option to print only the folder locations and not all the other info, if you don't care about it.

`conan info --paths --only package_folder --only source_folder . `
or
`conan info --paths --only package_folder --only so

[2021-02-10 20:45] kdsx commented on #8481
Yep. I've already tried it.

[2021-02-10 22:10] mkacher commented on #8467
Thank you for the info. I have been able to get the result I was looking for using a different approach. I put the toolchain of interest into its own package. Within `package_info()` I populated env_info with all of the relevant parameters. I also specified `settings = "os_build", "arch_build"` for the package settings and `validate()` them against the version of the toolchain.

[code]

Within the

[2021-02-11 01:23] #8467 closed, assigned to solvingj

[2021-02-11 07:13] iiknd commented on #6717
Hi, I can see this one closed along with [6716](https://github.com/conan-io/conan/issues/6716).
The documentation says it's still experimental feature? Is the current components feature still subject to small/big changes?

[2021-02-11 09:36] danimtb commented on #8476
Have you tried running the configure from outside the source_subdolder? I guess the part failing here is the `source_subdfolder/configure` call. Can you verify if this command works outside of the conan execution?

[2021-02-11 09:39] danimtb commented on #8477
have you tried using `[resdirs]`? That should map the folders declared in `cpp_info.resdirs` to the editable layout https://docs.conan.io/en/latest/reference/conanfile/attributes.html#cpp-info

[2021-02-11 09:43] danimtb commented on #8479
isn't this behavior covered by the `always` build policy?

https://docs.conan.io/en/latest/mastering/policies.html#build-policies

[2021-02-11 09:44] markfoodyburton commented on #8477
Ah, thanks for the hint, we'll give this a try !

[2021-02-11 10:01] DukeOfKirkcaldy commented on #8448
@SpaceIm, until such a mechanism exists, isn't the target type UNKNOWN, not INTERFACE?  So perhaps conan could create them as such by default - this would at least give the option of using the other target properties.

[2021-02-11 10:44] dmn-star opened #8484 "[bug] [mac/catalyst] isysroot and arch are passed to the compiler more than once."
@SSE4

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Catalina 10.15.7
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
  * Conan version: 1.33.1
  * Python version:  3.9.1

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Steps to reproduce (In

[2021-02-11 10:48] dmn-star commented on #8484
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -Ilibpkgconf.a.p -I. -I../source_subfolder -Xclang
-fcolor-diagnostics -pipe -Wall -Winvalid-pch -O3
-**isysroot**/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk
-arch x86_64
 --target=x86_64-apple-ios-macabi
-O3
--**sysroot**=/Applications/Xcode.app/Conte

[2021-02-11 10:50] dmn-star commented on #8484
### config.log
<details><summary>Click to expand log</summary>

[code]

</details>

[2021-02-11 11:02] SSE4 commented on #8484
thank for the report, I am checking

[2021-02-11 11:09] SSE4 commented on #8484
I've just built `xmlsec/1.2.31` successfully.
command line:
[code]
profile `catalyst`:
[code]
profile `default`:
[code]
is it possible `*: darwin-toolchain/1.0.8@theodelrieu/stable` adds flags? may you try without it?

[2021-02-11 11:22] dmn-star commented on #8484
I'll try it right away, but I see I have to use two profiles as well. :-)

clang: warning: using sysroot for 'MacOSX' but targeting 'iPhone' [-Wincompatible-sysroot]
ld: building for iOS Simulator, but linking in object file built for Mac Catalyst, file 'libltdl/.libs/libltdl_libltdl_la-lt__alloc.o' for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocat

[2021-02-11 11:25] SSE4 commented on #8484
I just checked `libiconv/1.16` with a single profile and it worked for me as well, command line:
[code]

[2021-02-11 11:31] dmn-star commented on #8484
With a single profile the **libtool** lib cannot be built for me. Besides, it takes way too long and also not necessary to build all build requires for Mac Catalyst.

[2021-02-11 11:48] dmn-star commented on #8484
Without darwin-toolchain/1.0.8@theodelrieu/stable, xmlsec was built successfully. Thanks a lot, @SSE4!

[2021-02-11 11:48] #8484 closed, assigned to nobody

[2021-02-11 12:05] danimtb commented on #8477
let me know if that worked for you and I'd add it to the docs for clarification

[2021-02-11 14:29] euttsov commented on #8479
@danimtb `always` policy leads to rebuilding all dependencies from sources for each package, but I thought about the policy that allows reusing binary packages that already were built from sources in the local cache but forbids downloading binaries from remote at the same time.

[2021-02-11 15:18] danimtb commented on #8479
@euttsov thanks for the clarification. Indeed, something like a `local` build policy will make it. Currently I believe we do not have any kind of *mark* in the cache that says that the package was built locally. Maybe we could check if the build folder exists or something similar

[2021-02-11 15:25] jgsogo commented on #8482
Hi, @nichmj01. One hint that might help:

 * Use [`build_modules` in the `cpp_info`](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=build_modules#cpp-info) of your `buildtools` package to tell Conan that there are a list of files you want to include whenever someone consumes your package.

[code]

   Now, if you inspect the generated `Findbuildtools.cmake` or `buildt

[2021-02-11 15:33] jgsogo commented on #8480
Hi, @Carsten87 , the current implementation of the Conan graph is not able to manage this situation properly.

You could use in B's `conanfile.py` the statement `self.requires("C", private=True) to achieve what you want, but the implementation of this _private_ is a bit buggy and you might run into unexpected problems (better to avoid).

Another alternative that you could use (this one works) alth

[2021-02-11 16:01] solvingj commented on #8472
SCM has a `revision_mode` attribute which can be changed from the default (`hash` to `scm`).  This will make the Conan `RREV` value use the GIT revision instead of hashing the sources.  Then, you can just `conan install rref#git_revision`.  Is that correct @memsharded @jgsogo ?

[2021-02-11 16:06] solvingj commented on #8214
@SeanSnyders you make a valid point and you are not alone. Multiple enterprise users are trying to implement SCM feaure and sharing your issue. First, many repositories have subdirectories with large/numerous files that they don't want to export.  Second, and equally important, is that they don't want `README` or `Jenkinsfile` changes resulting in a new Conan `RREV`. Seems like two common situatio

[2021-02-11 16:20] euttsov commented on #8479
@danimtb yes, that something that i looked for. This is needed to ensure that all our package tree built correctly alltogether. Thanks for the answer.

[2021-02-11 16:30] a4z opened #8485 "[bug] It is not possible to import files from build_requires packages"
### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: any
  * Python version: any

### Steps to reproduce (Include if Applicable)

Try to import some file from import requirements, it will not work.

More context:

I use , for example,
`conan install -if build --lockfile my.lock conanfile.py `
and then continuw w

[2021-02-11 16:31] a4z commented on #8478
close in favour of https://github.com/conan-io/conan/issues/8485, since I think this is a bug

[2021-02-11 16:31] #8478 closed, assigned to nobody

[2021-02-11 22:00] #8458 closed, assigned to SSE4

[2021-02-12 11:32] gpxricky opened #8486 "[feature] Use SCM url als url attribute for Conan recipe"
Hi,

I would like to use the SCM's URL as `url` for the Conan recipe. However, without hardcoded values, this does not seem to be possible. I've tried it by offering the `url` as `property` and `return self.scm["url"]`, but it didn't work.

Best regards,
Markus

[2021-02-12 12:37] uilianries opened #8487 "[feature] Arguments --build --build= and --build=* should be the same (Conan 2.0)"
Running our current Conan version (1.33.1) we have the follow behavior:

Build all packages from source:

    conan install boost/1.75.0@ --build
    [...]
    Packages
    boost/1.75.0:d9d3e501899335bccbe5205508f9a4801424ce7d - Build
    bzip2/1.0.8:da606cf731e334010b0bf6e85a2a6f891b9f36b0 - Build
    libiconv/1.16:6af9cc7cb931c5ad942174fd7838eb655717c709 - Build
    zlib/1.2.11:6af9cc7cb931c5ad9

[2021-02-12 14:32] DoDoENT opened #8488 "[bug/question] unable to load cmake modules in cross-compile when using new -pr:b and -pr flags"
Consider this example:
[conan-issue-build-profile.zip](https://github.com/conan-io/conan/files/5972324/conan-issue-build-profile.zip)

It contains Conan package `tool`, which provides a tool that will be a build requirement of the project `tool_user` that could be cross-compiled. The `tool` package contains an executable and CMake helper script that should be used by the consumer.

Now, if I don't

[2021-02-12 14:35] ericriff opened #8489 "[bug] Conan crashes after packaging step on v1.33.0+"
Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16/18
  * Compiler+version: -
  * Conan version: 1.33[.1]
  * Python version:3.5/6

I came across this bug/crash on Conan 1.33.0 and 1.33.1. I'm not sure what triggers it and unfortunately I can't share the recipe that fails for us since it is an internal tool. I know this is an incomplete bug report, but

[2021-02-12 16:23] jagauthier commented on #2772
I'm wondering if this was ever completed.

[2021-02-12 17:59] nichmj01 commented on #8482
Thank jgsogo! This worked as you explained and addressed my question.

I ran into different issues due to the way one of our projects is structured; we end up with multiple cmake packages but one conan package which means the cmake_find_package generators don't create a 1-to-1 equivalent to the cmake generated config.cmake files when not using conan. I suspect I could make it all work but at this

[2021-02-12 17:59] #8482 closed, assigned to jgsogo

[2021-02-12 18:03] leha-bot opened #8493 "[question] How could I debug the conanfile.py stages (e.g. via pdb / PyCharm / idle / wing ide / etc)"
I want to debug the Python side of conan recipe and check the particular stages of my recipe. How could I start debugging or attaching to `conan create` / `conan package` / another stage using the Python tooling? (I thought that this information exists in [this section](https://docs.conan.io/en/latest/using_packages/debugging.html) of the Conan's documentation, but didn't found it :( )

Could you

[2021-02-12 19:57] paulocoutinhox opened #8494 "[bug] Wrong params when cross compile to iOS (ezored)"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos
  * Compiler+version: 12
  * Conan version: 1.13.1
  * Python version: 3

### Steps to reproduce (Include if Applicable)

Hello guys.

I have the project ezored (github.com/ezored/ezored) and im trying now compile for iOS/Macos without my toolchain and use only conan.

When i compile for mac catalyst i

[2021-02-12 20:13] paulocoutinhox commented on #8494
I tried compile for armv7 normal for iOS and it work nice.

The problem is with mac catalyst.

[2021-02-12 20:30] Carsten87 commented on #8480
Thank you for your answer @jgsogo. I will be looking forward to Conan 2.0 then. In the meantime I will give the component approach a try.

[2021-02-12 21:19] klimkin opened #8495 "[bug] Path expansion in virtualrunenv generator adds extra colon for empty path"
### Environment Details
  * Operating System+version: Debian GNU/Linux 10
  * Conan version: 1.34.0-dev
  * Python version: 3.7.0
  * Shell: GNU bash, version 5.0.3(1)-release (x86_64-pc-linux-gnu)

### Steps to reproduce (Include if Applicable)
[code]
The last echo prints path with extra ":" at the end.

### Explanation

According to [Bash expansion](https://www.gnu.org/software/bash/manual/html_

[2021-02-12 22:45] ivzhh commented on #2772
I have a [RPM spec for Fedora](https://github.com/ivzhh/conan-rpm/blob/main/conan.spec), but the Python library versions do not match with the package Fedora have:

[code]
`deprecation` is exactly `2.1`, `patch-ng` is `1.17.2`, and `node-semver` is `0.8.0` on Fedora 34 right now.

[2021-02-12 23:16] uilianries commented on #2772
Not yet, but we have Debian version, which can be convert using Alien:

[code]

I didn't check if it works, usually solving dependencies with Alien is a big problem.

Please, take a look on Download page: https://conan.io/downloads.html

[2021-02-13 05:40] paulocoutinhox opened #8497 "[bug] Macos build with generator Xcode throw error"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos catalina
  * Compiler+version: 12
  * Conan version: 1.33.1
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

[code]

My conanfile:

[code]

If i removed ", generator='Xcode'" it works.

[2021-02-13 06:40] paulocoutinhox opened #8498 "[bug] Mac Catalyst throw error when build framework"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos catalina
  * Compiler+version: 12
  * Conan version: 1.33.1
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

I made a simple sample repository here:

https://github.com/paulo-coutinho/conan-cmake-test

When i pass version conan add it to deployment version too:

https://github.c

[2021-02-13 06:58] paulo-coutinho commented on #8498
![image](https://user-images.githubusercontent.com/395096/107844142-c82c8f80-6daf-11eb-9183-135684ae90b2.png)

[2021-02-13 13:20] paulocoutinhox commented on #8497
I tried use x86_64 here and get the same error:

[code]

[code]

[2021-02-13 14:18] anton-danielsson commented on #8443
Yes, looks very similar indeed.

I have also noticed that the values of options are incorrectly passed between build and host requirements.

[2021-02-14 02:41] aminya commented on #7223
In my profile, I am trying to set the `compiler.version=11`, but it fails with this error:

[code]

and when I try to build something:
[code]

Have you really added support for clang 11? I am using Conan 1.33.1

[2021-02-14 06:22] aminya commented on #1341
For me, my profile (~/.conan/profiles/default) was faulty. I replcaed it with this:

For VS 2019:
[code]

[2021-02-14 11:39] SSE4 commented on #8497
can you paste what's in `CMakeError.log` and `CMakeOutput.log`?

[2021-02-14 16:44] paulocoutinhox commented on #8497
It only generate "CMakeOutput.log". I have attached it here:

[CMakeOutput.log](https://github.com/conan-io/conan/files/5978073/CMakeOutput.log)

[2021-02-14 21:34] memsharded commented on #7223
Hi @aminya

Yes, it has been added, you can check: https://github.com/conan-io/conan/blob/edc269b2edcae72c0cc056e95ec2ffe9b1d8fa3b/conans/client/conf/__init__.py#L95

What is possible is that you had some changes in your cache ``settings.yml`` and when upgrading Conan to latest version, it didn't migrate the ``settings.yml``. If you remove that file from your Conan cache, it will be regenerated to

[2021-02-14 21:36] memsharded commented on #1341
@aminya

You are missing ``build_type`` in your profile. It is necessary for most cases, so I strongly recommend adding it, (and overriding in command line with ``-s build_type=xxx`` if necessary)

[2021-02-15 05:24] SSE4 commented on #8497
that's weird, CMakeOutput.log doesn't contain an actual error, it actually successfully found a compiler
[code]

[2021-02-15 05:26] SSE4 opened #8499 "[bug] M1 architecture is incorrectly detected as "arm64" (should be "armv8")"
reported by @a4z on slack

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version:
  * Python version:

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2021-02-15 05:28] SSE4 opened #8500 "[bug] M1, AutoToolsBuildEnvironment : TypeError: sequence item 4: expected str instance, NoneType found"
reported by @a4z on slack
this is actually a consequence of #8499
using custom arch ("arm64") results in vague error message:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version:
  * Python version:

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Appli

[2021-02-15 05:44] paulocoutinhox commented on #8497
Yes, i think it strange too. But this is the output. I copied it from the log copy/paste and put here. Very crazy it.

[2021-02-15 06:07] SSE4 opened #8503 "[bug] M1 : tarfile.ReadError: file could not be opened successfully"
reported by @a4z on slack

[code]
works on x86_64, but not M1
I don't have M1 to debug right now

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version:
  * Python version:

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2021-02-15 06:08] SSE4 commented on #8497
can you copy contents of `cmake_test_ios_framework_profile`? I can try to reproduce locally

[2021-02-15 06:17] SSE4 commented on #8503
just in case, that's the python code that raises:
https://github.com/python/cpython/blob/v3.9.1/Lib/tarfile.py#L1616

[2021-02-15 06:38] paulocoutinhox commented on #8497
Sure, they are here:
https://github.com/paulo-coutinho/conan-cmake-test/tree/master/conan/profiles

[code]

[2021-02-15 06:44] paulocoutinhox commented on #8497
To reproduce it only need download execute these commands:

https://github.com/paulo-coutinho/conan-cmake-test#how-to-use

[2021-02-15 08:03] a4z commented on #8503
Thank you so much @SSE4 for reporting this, and the other issues! This is really great help.

Also thanks for pointing at the problem in pyth
on.
I will check if I can create a small script with some unpack code that is similar to what conan does and see how that works

[2021-02-15 08:47] SSE4 commented on #8497
unfortunately, can't reproduce, for me it passes (the following commands):
[code]

[2021-02-15 08:57] a4z commented on #8503
I could reproduce the problem with this little script

[code]

changed python version, and it's gone, so that is not a conan issue but one in my local python , that was build from source via asdf.

Therefore, this issue can be closed since it is not a conan issue
Can you do so please, @SSE4 ?

[2021-02-15 09:13] #8503 closed, assigned to nobody

[2021-02-15 09:34] at185190 opened #8504 "[bug] Incompatible versions ranges overriden"
Playing around with versions ranges, seeing it if was possibly to remove endless yellow warning of versions being overridden.
I thought to my self surely if A requires B and C and B requires C if A requires static version of  C and B requires range of C they would use the same in the end and warnings would be gone.

But alas that is not the case, parent just straight up takes precedence over anyth

[2021-02-15 09:57] #8500 closed, assigned to nobody

[2021-02-15 10:24] c0rt opened #8505 "[bug] Performance of parameterized search worse than regular search"
After upgrading to version 1.30.0+ of conan, the time to check for package updates has increased significantly.

Related issue: [#5432](https://github.com/conan-io/conan/issues/5432)
Breaking changes PR: [#7673](https://github.com/conan-io/conan/pull/7673)

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: -
  * Conan vers

[2021-02-15 10:45] Facon commented on #8476
I works with building without conan like this:
[code]

[2021-02-15 11:22] aminya commented on #7223
Yes, removing the file manually fixed the issue.

[2021-02-15 13:03] SSE4 commented on #8476
both syntaxes are valid in MinGW shell:
[code]

from the output, it turns out conan launches the configure command in the incorrect shell. e.g.:
[code]
is clearly a typicial `cmd.exe` error message, while:
[code]
is clearly `bash` error message.
probably, either `win_bash` is incorrectly set, or `run_in_windows_bash` malfunctions, I am checking...

[2021-02-15 13:19] SSE4 commented on #8476
okay, it turns out to be a recipe issue, it doesn't set `win_bash`. after the simple fix it starts to build:
[code]
I'll create PR to fix it.

[2021-02-15 13:28] SSE4 commented on #8476
actually, it's a bit more complex story :)
there are two ways of launching conan, it might go either from Windows python, or from MSYS python.
for Windows python, it uses `cmd.exe` as a shell (which is used by default for things like `subprocess`), while MSYS python uses `bash`.
conan in Windows python works in MSYS shell after the `win_bash` fix above.
conan in MSYS python doesn't work with that

[2021-02-15 13:36] SSE4 commented on #8476
anyway, it seems like `apr` doesn't compile on MinGW as is, I am running into https://bz.apache.org/bugzilla/show_bug.cgi?id=56342
[code]
(and many many errors like that)
I'll try to apply patch from the bugzilla

[2021-02-15 14:21] SSE4 commented on #8476
still doesn't build after applying the patch. @madebr can I ask you for a help? were you able to actually build apr for MinGW?

[2021-02-15 15:23] paulocoutinhox commented on #8497
It is very strange.

I send it to a friend and have the same problem.

Do you think about something that i can do to solve it?

<img width="568" alt="Screen Shot 2021-02-15 at 10 39 06" src="https://user-images.githubusercontent.com/395096/107964735-5ce9e580-6f88-11eb-8ffb-c10faace2f0c.png">

[2021-02-15 16:17] dmn-star commented on #8497
Try to update your CMake to min. 3.19

[2021-02-15 17:34] memsharded commented on #8505
Thanks @c0rt for the detailed report and benchmark.

This is not a client side bug. The client is doing the right thing, sending the server the reference with user/channel. This cannot be reverted in the client, because it is a security issue. If the client don't send the server the user/channel part, the server cannot use it to do ``exclude`` patterns and could be leaking package names to third p

[2021-02-15 18:02] memsharded commented on #8505
This is the Jira ticket to follow: https://www.jfrog.com/jira/browse/RTFACT-19531, it is re-opened now.

[2021-02-15 19:42] grantfreese opened #8508 "[feature] Option to set default profile:build and profile:host in conanfile"
**Summary**
Can we get an option to specify a default `profile:build` and `profile:host` in the conanfile?

**Nice to haves:**
* Allow for `profile:build` to use a variable for the current architecture (eg, so it will use a linux_x64 profile if you're on a linux_x64 machine)
* Allow a 'none' value for `profile:host`, so that the user is forced to enter a value on the commandline.
* Allow values sp

[2021-02-15 21:07] mkacher commented on #6584
I looked into using `self.develop` and decide against it. I agree it could have unintended effects. However seeing this issue I thought it would be good to post a use case for when for when I would want to create the package differently during development:

The recipe for packaging libfoo is out-of-source in libfoo-pkg. I am developing in libfoo. I would like to verify the package builds before I

[2021-02-15 21:38] sfhacker commented on #8476
apr 1.7.0 builds just fine under MinGW.
Perhaps your environment is broken somehow!

![image](https://user-images.githubusercontent.com/25817529/107995099-22d51e00-7032-11eb-9bed-cf31ec0e99ea.png)

![image](https://user-images.githubusercontent.com/25817529/107995119-2d8fb300-7032-11eb-80af-80bbd71e77c7.png)

[2021-02-15 22:19] memsharded commented on #6584
Thanks for the feedback @mkacher

Probably the way to go in Conan 2.0 will be to use more extensively the new [conf] mechanism, that will also be enabled in the command line. That will enable user and Conan built-in switches for recipes, that can be easily controlled independently.

[2021-02-15 22:51] paulocoutinhox commented on #8497
Hi,

I have installed cmake exactly 3.19.0:

[code]

Set the minimum to 3.19.

And it work:

[code]

[code]

But what the problem?

[2021-02-16 04:36] c0rt commented on #8505
Thanks @memsharded for quick response.

Yes, we are using the embedded Derby DB. I will try to migrate to Postresql later and give you feedback.

[2021-02-16 06:30] SSE4 commented on #8497
I am not sure what's the problem if it works with 3.19 for you. it clearly indicates a bug in the earlier CMake version.

[2021-02-16 08:48] dmn-star commented on #8497
Yes https://gitlab.kitware.com/cmake/cmake/-/merge_requests/5506

@paulo-coutinho
I would use the latest CMake version available, there are more bugfixes for iOS/M1  support.
https://gitlab.kitware.com/cmake/cmake/-/issues/21526

[2021-02-16 08:58] #8499 closed, assigned to nobody

[2021-02-16 11:21] iiknd commented on #3106
Hmm, if I use --install-folder=/foo for a split component then the whole "build_requires" ends up in "foo/"? Shouldn't it copy only the contents of the split components package? Inside conan cache I can see that the contents inside the "package/<checksum>/" of the split component is correct, i.e. it contains only the files belonging to the split component, not the whole "build_requires" (monobuild

[2021-02-16 11:28] jgsogo commented on #3106
No, packages are unitary, there is no way to split them... but using components you can select which components to link from your consumers (but all the packages will be downloaded, installed,...). Try with `cmake_find_package[_multi]` generators and see how the CMake targets are generated in the dependencies and which ones are added to `target_link_libraries` in the consumers when using `self.cpp

[2021-02-16 11:39] jgsogo commented on #8480
Can we close this issue, private requirements is something we won't forget about.

[2021-02-16 12:19] jgsogo commented on #8472
@juba895 , have you tried it? Is this answering your question?

[2021-02-16 12:24] markfoodyburton commented on #8477
FYI, this didn't work for us. In the end, unfortunately, we concluded that we were trying to force a square peg into a round hole. What we were trying to get Conan to do isn't really what conan is for. We conclude conan is great for managing 'packages', but we were trying to use it to assemble a package that would then be 'built' using e.g. cmake.

[2021-02-16 12:24] #8477 closed, assigned to nobody

[2021-02-16 12:25] jgsogo commented on #6717
Hi, @unzap. Although everything is subject to change in the next major release if it is really needed, one of the main efforts would be dedicated to **keeping recipes compatible for Conan v1 and Conan v2**. We are already using components exhaustively in [`conan-center-index`](https://github.com/conan-io/conan-center-index), you can use it as a proxy to know which features are well tested and _won

[2021-02-16 12:41] jgsogo commented on #8403
Cool! In the future (we are already doing efforts and it will be the default in Conan v2) we will encourage the usage of _multi_ generators. There are some changes we already have in mind (like a way to assign names to generated files so they are not overridden in the filesystem), but so far your implementation matches others like the current implementation for Visual Studio multi generator.

I'd

[2021-02-16 12:51] #8330 closed, assigned to nobody

[2021-02-16 14:17] juba895 commented on #8472
Thank you for your answer! I not yet tried out to use `revision_mode=scm`, but i will!

Nevertheless i tried it out with `revision_mode=hash`, but unfortunately i was not succesful.
What i need to to is to browse to the `conanfile.py` of the package which rrev im looking for and call `conan install .  #707ba8a13e8e291828e7c612a57c0b54`? Because that is not downloading the package at least at my en

[2021-02-16 14:47] danimtb commented on #8477
Thanks for writing back @markfoodyburton. I hope the approach you found makes sense for your team and do not hesitate to open another issue if you have further questions. Thank you

[2021-02-16 15:12] jegabe opened #8511 "[question] Private dependencies won't let CMake generator output CONAN_PKG:: variables. Bug or wanted behavior?"
Hello all,

I have the following problem: I want to create a shared library that's fully self-contained and acts as a plug-in. Let's call this shared libary "L". L has some dependencies to header-only and static libraries (lets' call them A and B) that are fully linked into L:

L depends on A
L depends on B

Since A and B are fully linked into the shared library and aren't visible from outside, I

[2021-02-16 15:18] solvingj commented on #8472
You can only install a revision using a full package reference:
`conan install pkg/ver@user/channel#707ba8a13e8e291828e7c612a57c0b54`

You cannot do the equivalent with the path:
`conan install . #707ba8a13e8e291828e7c612a57c0b54`

You are right, there is no "search" for a `git revision`.  You can search for the package and pass the `--revisions` flag to get a list of revisions.  At that point, yo

[2021-02-16 15:51] Carsten87 commented on #8480
yes of course. My question is answered. Thank you.

[2021-02-16 15:51] #8480 closed, assigned to nobody

[2021-02-16 18:07] w3sip opened #8512 "[bug] Setting CMake CMAKE_CXX_FLAGS breaks cross-compilation"
[pb-success.txt](https://github.com/conan-io/conan/files/5990688/pb-success.txt)
[pb-fail.txt](https://github.com/conan-io/conan/files/5990689/pb-fail.txt)
[conanfile.py.txt](https://github.com/conan-io/conan/files/5990712/conanfile.py.txt)

### Environment Details (include every applicable attribute)
Linux, cross-compiling from x86 to aarch64.  Conan v1.22.3

### Steps to reproduce (Include if Ap

[2021-02-16 18:28] w3sip commented on #8512
Please ignore. Has more to do with protobuf than conan, I think (setting CXXFLAGS via environment has the same effect).

Worked around by conditionally editing the CMakeLists.txt ...

[2021-02-16 18:28] #8512 closed, assigned to nobody

[2021-02-16 19:13] iiknd commented on #6717
Thanks for the info, I will have a look in there.

[2021-02-17 07:54] juba895 commented on #8472
If the `ver` is not known (or also the `user` or `channel`) this command also do not help much unfortunately.

What i did as a workaround is:
1. `conan search pkgName -r remote` (to find out all available versions, user, channels ...)
2. for each returned item `conan search item -r remote -rev` (to find out all available revisions for one version)
3. for each returend rev `conan inspect item#rev -

[2021-02-17 09:18] memsharded opened #8515 "[Conan 2.0] Remove build_info, move to external repo with modular commands"
Remove ``conan_build_info`` from codebase, it should be a external command:

- Remove it from the distribution too (setup.py, pyinstaller)
- Create the repo with the external commands (no need that it works now, can be blank, or very barebones)

[2021-02-17 09:21] iiknd commented on #3106
But you mentioned earlier:

And based on the given snippet I tested the approach where there is one conanfile_monobuild.py to do the actual build, then conanfile_module_a.py and conanfile_module_b.py.

The "package/" directory contents for module_a and module_b look correct, i.e. "package/" directory of the module_a contains only files that belong to module_a. Similarly for module_b.

I used the f

[2021-02-17 09:56] SpaceIm commented on #7691
Built-in CMake modules don't always provide imported targets, and if they do it requires sometimes recent CMake versions that projects can't use as a minimum version:
- OpenSSL : CMake >= 3.4:
  https://cmake.org/cmake/help/v3.3/module/FindOpenSSL.html
  https://cmake.org/cmake/help/v3.4/module/FindOpenSSL.html
  impacted recipes in CCI: potentially many
- CURL: CMake >= 3.12 (no casing issue in t

[2021-02-17 11:01] memsharded commented on #8515
This can be closed by https://github.com/conan-io/conan/pull/8516, the external repo modular commands, is not bound to the actual release of Conan 2.0, can be released separately with different versions.

[2021-02-17 11:01] #8515 closed, assigned to czoido

[2021-02-17 11:11] SpaceIm commented on #7691
Here is an attempt to provide official variables in openssl recipe: https://github.com/conan-io/conan-center-index/pull/4597

[2021-02-17 11:25] memsharded commented on #8508
Hi @grantfreese

This has been discussed before (wanting to default settings, for example), and while it might seem convenient, it is not the best approach. It is better and more scalable and cleaner to have the configuration (profile) decoupled from the definition (recipe).

The way this will evolve is that the ``profile:build`` will also be defaulted, in the same way the host one is defaulted no

[2021-02-17 12:15] jgsogo commented on #3106
Then you have `module_a` package, `module_b` package and the `monobuild` one. From Conan perspective a package is a monolith (all or nothing) from the user perspective each package can have different content, that's why we have packages for `zlib`, `opencv`,... My point is that there is no way to tell Conan: _"use `zlib` package, but retrieve only file `zlib.h` and `helper.h` from it"_.

---

When

[2021-02-17 13:04] ericriff commented on #8489
OK so I figured it out.
The problem was me doing
[code]
Which doesn't work anymore (since version 1.33.0)

Appending fixes the issue.
[code]

If that assignment isn't allowed anymore we should show a clearer message to the user.

[2021-02-17 14:30] danimtb commented on #8489
Hi @ericriff,

Yes, the syntax was changed indeed and now you need to specify the generator in the `cpp_info`. In your case it should be something similar as:

[code]

We did a non-breaking conversion for cmake build modules (files with *.cmake*), adding them automatically to all the Conan built-in cmake generators. In your case, you are using a directory instead of a file, which I am not sure it

[2021-02-17 14:44] DukeOfKirkcaldy opened #8518 "[feature] allow no matches when using upload patterns"
Due to our access policies, all packages developed by third-party suppliers must be uploaded to a separate Artifactory repository.  This is to limit the suppliers' access to their own packages only.  (As far as I know Artifactory can only limit on a per repository basis.)

I tried to use upload patterns to achieve this:

`conan upload */*@<supplier>/* -r <supplier_repo>`

However, this fails when

[2021-02-17 14:51] czoido commented on #6901
Hi @djeverett,
This is related to a bug in Artifactory handling of BuildInfos. The problem is that for example, if you publish two BuildInfo's that share an artifact with the same checksum (for example, `conanfile.py` uploading new packages for the same recipe) only the artifact's path for the last BuildInfo is going to be correctly stored.
This is something Artifactory team is working on to fix s

[2021-02-17 15:21] solvingj commented on #8393
I just added the original use-case explanation to this issue for future discussion.

[2021-02-17 15:26] Carsten87 commented on #8511
I think this is related to my question #8480

[2021-02-17 16:41] danimtb commented on #8518
Hi @GordonJess,

This is something not supported currently and the only thing you could do is to reduce the logging level, although that will not make the command exit without error.
I am adding this consideration to the redisgn of the command line towards Conan 2.0

[2021-02-17 16:46] danimtb commented on #8511
Indeed, thanks a lot for the link.

@jegabe yes, this was the use case for private requirements but the current implementation is a bit buggy at some points and we try not to encourage their use. Maybe something like adding `--build=L` flag makes the trick for the target if you already have A and B in the cache.

This is something we want to model better in the graph in order to have a similar sch

[2021-02-17 17:33] solvingj commented on #8472
Ahh, yes, this is a very good point. It's interesting.

In thinking about the high level need, I think the user story was imagined as:

However, you've now highlighted that the specifics of the implementation make some types of correlation awkward (a bit short of "easy").  Mostly, it's a matter of how much information you need to perform the `conan search` command.
- Name
- Version
- User
- Channe

[2021-02-17 19:09] jgsogo commented on #8472
In ConanCenter we are storing the Git commit as a property in Artifactory (at recipe-revision level). Then one can use Artifactory API to search for it and _reconstruct_ the recipe-revision. I'm sure this is something easy to implement/abstract with JFrog CLI plugin.

[2021-02-17 19:21] solvingj commented on #8472
Great!
So, we can say that SCM revision is an example of a piece of metadata related to a recipe/recipe-revision-level which we wanted to attach directly to that recipe/revision for Conan Center.  This is consistent with other user stories for private repositories, so it does seem to add support to the case of adding a first-class user-assignable metadata mechanism to Conan.

[2021-02-17 19:26] jgsogo commented on #8472
Well, IMHO, there is a lot of metadata that makes sense to add at a recipe revision level (and also at package revision level). We are going a bit offtopic wrt this issue, but in ConanCenter we are already storing a lot of information in properties... in fact, all the information we sent to the frontend's database.

[2021-02-17 19:44] solvingj commented on #8472
I agree, that's the point of the reference to the ticket, which talks about addressing it in a general way

So far I think everything mentioned has related very well to the original question.  I think future discussion about a potential metadata-related solution for the general case should proceed under the feature request linked:  https://github.com/conan-io/conan/issues/7207

In terms of this Gi

[2021-02-17 20:20] marcinszumlanski opened #8522 "Transforming existing header-only library into package"
I'm trying to create a conan package from existing header-only library. It's not your textbook example with include folder. Structure looks as follows:

[code]

Here is my **conanfile.py** based on [Documentation](https://docs.conan.io/en/latest/howtos/header_only.html#how-to-package-header-only-libraries) and https://github.com/conan-io/conan/issues/4212.

[code]
Should I use self.copy in package

[2021-02-17 20:21] daravi commented on #8425
Any timelines for this? I am wondering if I should invest time doing a some hacks to prevent people from building their build requirements in debug (which means I probably have to maintain my own version of those recipes) or if I should wait for this fix.

[2021-02-17 20:21] daravi commented on #8425
@solvingj Any timelines for this? I am wondering if I should invest time doing some hacks to prevent people from building their build requirements in debug (which means I probably have to maintain my own version of those recipes) or if I should wait for this fix.

[2021-02-17 21:22] platc2 commented on #7816
Do I understand correctly this would include an example where I could use the following commands to build my project (Additional parameters are missing obviously)?

- `conan install`
- `cmake`
- `cmake --build`

I am looking for exactly this and I try to not include any conan macros in my `CMakeLists.txt`. I've got this working quite fine with `cmake_find_package_multi` and **no** Emscripten. Does

[2021-02-17 22:26] daravi opened #8523 "[bug] Transitive `shared` option is not affecting the package ID (in semver_direct_mode)"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 8
  * Compiler+version: Clang 10.0.1
  * Conan version: 1.33.0
  * Python version: 3.8.6

### Steps to reproduce (Include if Applicable)
Create a package with:
[code]

Then try to create the same package as follows:
[code]
The second run returns:
[code]
Due to the package IDs being the same, even thou

[2021-02-17 23:07] solvingj commented on #8425
Sorry for the delay. I lost track of this issue and am not sure how.

Anyway, there are a few bugs in the reproduction repository, but I appreciate you creating it.  I was able to understand what you were trying to show and make it work.  I was able to reproduce the issue you described.  I was also able to look into the Conan source code a bit.  It was pretty simple to find the generator code whic

[2021-02-18 05:21] daravi commented on #8425
@solvingj I don't think that quote is relevant here since the generated CMake is still intended to be run in the build environment. (unlike virtualenvrun for example) Or am I misunderstanding your point?

[2021-02-18 06:04] xahon opened #8524 "[question] How to download only recipe and exported sources to the local cache?"
I wanted to download a recipe and exported sources from artifactory to edit some parts of the recipe but I couldn't find an option, something like `--recipe-only`. Otherwise, I need to cancel downloading process with `ctrl+c` after it downloads something related to my target package because I don't need binaries of that package and its dependencies
How do I see that:
1. sudo rm -rf ~/conan
2. cona

[2021-02-18 07:09] juba895 commented on #8472
Thanks a lot, also from my point of view we can close this issue. Would be happy if something like `conan metadata search` could be implemented in future to be able to search for metadata like scm attributes and only handing over the package name.

Regards!

[2021-02-18 07:59] xahon opened #8525 "[question] How to get version passed through refence in the `__init__` constructor of conanfile.py"
When i building a package without defined version in `conanfile.py` like that: `conan create . something/1.2.3@ -pr ...` i want to get the version `1.2.3` in `__init__` method of the recipe. However, I noticed that it is not initialized in ctor, even after calling `super().__init__()`. Is it initialized in each method separately (build, configure, package, etc...)? Is there a way to get at least f

[2021-02-18 08:58] xahon opened #8526 "[feature] Summary after install/create actions"
Currently, no summary is shown after doing either `install` or `create` or any other function. This creates some unpleasant experience. Consider that workflow: I install some package with `conan install` and it throws me an error that some of its dependencies aren't built for my configuration. Ok, I calmly list them into the shell with `conan install something/1.2.3@ -b dep1 -b dep2 -b dep3 -b etc

[2021-02-18 11:58] koxu1996 commented on #7223
File removal:
[code]

[2021-02-18 12:58] solvingj commented on #8524
There's another issue for this. I will post here.

[2021-02-18 13:23] leha-bot opened #8529 "[feature] Use CMAKE_CXX_STANDARD_LIBRARIES in cmake_paths and related generators for forwarding the CONAN_LIBCXX setting"
It would be very convenient if the [cmake_paths](https://docs.conan.io/en/latest/reference/generators/cmake_paths.html?highlight=cmake_paths) could also override the `CMAKE_CXX_STANDARD_LIBRARIES` to ensure that the STL is the same as for project, and for packages.

It could generate an additional CMake code for setting the proper STL like this:
[code]
(N.B.: this code is a PoC written as an examp

[2021-02-18 13:25] solvingj commented on #8524
In short, no there's no such feature, but there is an outstanding feature request. If you can explain/show your support in that issue, it might help the feature get attention sooner.

https://github.com/conan-io/conan/issues/8121

Closing as duplicate.

[2021-02-18 14:56] #8524 closed, assigned to nobody

[2021-02-18 15:13] blackliner opened #8530 "wrong md5 result for export"
On my system I do get a different RREF when running `conan export` compared to what our CI does.

CI:
[code]
My machine:
[code]

On CI, the `conanmanifest.txt` looks like this:
[code]

on my machine:
[code]

So it looks like the md5 for `conandata.yml` is calculated wrong on my machine. Doing it manually gives the CI version of the md5: `md5sum conan/recipes/zeromq/all/conandata.yml`
[code]

### E

[2021-02-18 15:25] solvingj commented on #8522
Your problem is here  `keep_path=False`:
[code]
`keep_path=False` means that the directory structure containing the files which match the patterns will be discarded, and all matched files will be put directly into the `public` folder.

Thus, your final package directory will be:

    public/AnotherHeader.hpp

Instead of what you want:

    anotherFolder/AnotherHeader.hpp

[code]

[2021-02-18 15:52] mattya802 commented on #2315
Was there ever a solution to this issue of no_proxy_match not being used? I'm running into the same issue.

[2021-02-18 16:01] kenfred commented on #5513
I agree that we need the primary cache to be left alone during package development.

The idea of multi-layer cache is definitely a step in the right direction, but I think has some drawbacks. Please see [this comment](https://github.com/conan-io/tribe/pull/19#issuecomment-778382753) and read the discussion in that thread.

To sum up my opinion, package co-development is closest to the regular cona

[2021-02-18 16:59] kenfred commented on #5513
In order to steer this discussion toward common ground, I should clarify that my main goal is to fix workspaces and keep them alive because our team and our clients rely on them. Although I don't prefer the semantics of "local-cache", conceptually it's exactly what we need: a local folder in which to build and package co-developed packages that is separate from the main cache.

**My only requireme

[2021-02-18 17:23] KerstinKeller commented on #8530
Both are on the same OS? Something in my head just screams EOL convention. We set all `conanfile.py` / `conandata.yml` to Linux EOL conventions, even on Windows, because they caused the creation of different packages.
But might be something different in your case.

[2021-02-18 18:48] jgsogo commented on #5513
The new cache we are designing with support for multiple revisions (https://github.com/conan-io/conan/pull/8510) is almost a **read-only** cache: any change in recipe files will be a different recipe-revision and any new build will be different package-revision. It is read-only in the sense that you won't override anything with different content, although you can remove, of course.

If usage of lo

[2021-02-18 18:51] jgsogo commented on #8525
That information is not available in the `__init__`. The version is assigned to the conanfile later. Take into account that there is a method `set_version` that is executed after loading the conanfile whose purpose is to set the value of the attribute you want.

[2021-02-18 18:52] jgsogo commented on #8525
Maybe, if you share your use-case, we can think about a different alternative to achieve what you want.

[2021-02-18 18:55] jgsogo commented on #8526
Probably it is enough to reproduce the summary we show before running other actions. The one where we list references if they are coming from the cache or they are missing... that same information with the data updated: if it was built, or maybe failed,...

It should be easy, and for sure something to consider for Conan 2.0

[2021-02-18 19:03] jgsogo commented on #8529
Hi, @leha-bot

Existing `cmake_xxx`s generators will probably be deprecated in Conan 2.0, we are already working on the `CMakeDeps` generator that will be the one (and default) in Conan v2.0. There will be some generator that will provide a plain file with all the information from the dependencies for people using older CMake or wanting to use that raw information. It means that we are not adding

[2021-02-18 19:15] jgsogo commented on #8530
We use this file in `conan-center-index` to ensure the same line-endings: https://github.com/conan-io/conan-center-index/blob/master/.gitattributes... but it looks like your issue is different because you get different results using `python` and using command-line program.

This is totally unexpected. I'm running some search on the Internet and there are people writing about problems with WSL2 and

[2021-02-18 20:41] solvingj commented on #8425
Yes it's possible my last point is irrelevant to your use case here. That's part of why we still need someone familiar with cross-building here.

[2021-02-18 21:17] Hopobcn commented on #8303
What about using `force_host_context=True`?
In my case, I'm experimenting with `CMakeToolchain` and two profiles. And unfortunately, I saw this issue when providing the same profile for build & host contexts.

If I add `force_host_context=True`:
[code]
I'm able to compile & run tests in the `build` method.

[2021-02-18 22:10] kenfred commented on #5513
@jgsogo Thanks for taking the time to explain your ideas to me.

Yes, creating an alternate cache for development isn't a good solution for the reasons you stated. We still need access to the primary cache for the thousands of dependencies that aren't in the co-development group. Completely agree.

Your proposed solution is quite similar to @DoDoENT. Like his example, I'd prefer creating that cach

[2021-02-18 23:35] PengolodhGoedath commented on #8378
Can someone please answer me which order is the intended one: First `conan install`, then `conan source`? First `conan source`, then `conan install`? Both? Neither?
I an thoroughly confused, and the documentation is giving contradictory statements (unless both should be fine).

[2021-02-19 00:18] memsharded commented on #8378
Hi @PengolodhGoedath

Both flows might work, depending on what you are doing. In either case, the settings of the recipe are evaluated before, so any possible error, because of a constraint or something will raise, irrespective if the ``source()`` method will use them or not. In any case, constraining settings in recipes is no longer recommended, it will probably disappear in Conan 2.0. It will be

[2021-02-19 00:20] memsharded commented on #8441
Closed by https://github.com/conan-io/conan/pull/8490

[2021-02-19 00:20] #8441 closed, assigned to uilianries

[2021-02-19 07:25] ytimenkov commented on #8204
A really good question I was asking myself...
I ended up searching for reference which has `"built": true` in case of using recipe.

Also the graph seems to be sorted and the "consumer" recipe is always last (in the output of `conan info`)

[2021-02-19 07:32] ytimenkov opened #8531 "[feature] 💡Generator for workspaces"
From workspace discussions in https://github.com/conan-io/tribe/pull/19 was thinking that major setback of workspaces is a lack of custom generator.

Now with new-style generators and python requirements I think it would be fairly easy to add such support to workspaces:
1. Add `python_requires`  field to workspace definition.
2. Add `generators` field in same form as `python_requires_extend`: `<pk

[2021-02-19 08:06] jgsogo commented on #8425
Hi, @daravi

When you are using two-profiles, the graph is divided into _host_ packages (regular `requires` and `build_requires(..., force_host_context=True)` and _build_ packages (`build_requires`). Here you can find more information: https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=host%20build%20context#build-and-host-contexts

 * Build requirements in the _host_ context w

[2021-02-19 08:28] SpaceIm commented on #8511
I've recently created a recipe in CCI which relies on a private dependency, cmake generator and CONAN_PKG targets:
https://github.com/conan-io/conan-center-index/blob/9f31fd518de2ef8454136aa4cda1ae16b046b14e/recipes/vulkan-validationlayers/all/conanfile.py#L53
https://github.com/conan-io/conan-center-index/blob/9f31fd518de2ef8454136aa4cda1ae16b046b14e/recipes/vulkan-validationlayers/all/CMakeLists

[2021-02-19 08:52] blackliner commented on #8530
yes, its the exact same file, as you can see from the manual md5 calculation. Its only conan that comes up with a different value

@jgsogo yea, disabling the VMP will also kill WSL2 :-/

I cannot reproduce the issue with this python script 🤷
[code]

[2021-02-19 08:52] DoDoENT commented on #5513
I agree that workspaces are a superset of the co-development, but I would prefer if we first solve the co-development problem and then build workspaces on top of that solution. Otherwise, we risk having co-development solution being designed in the "too-workspace-ish" manner, just like workspaces from Conan 1.12 and before, which were not usable for many workflows (including mine), as they expecte

[2021-02-19 09:09] daravi commented on #8425
@jgsogo Thank you for the explanation. I am also not using the profiles for cross-building. I am trying to have my `build_requirements` be built in Release mode regardless of the build type of my host profile. From your explanation I understand that `conan_<package_name>_root` is not populated for `build_requirements` because `cpp_info` of `build_requirements` is not meant to be available in the b

[2021-02-19 09:57] jgsogo commented on #8425
All the generators operate on all the information that they have available (propagation logic is controlled by the graph). Some generators will use only information from the _host_ context and some others use information from the _build_ context too.

Generators like `cmake`, `cmake_find_package`,... that are used to generate files with information from the dependencies you are going to use to lin

[2021-02-19 09:57] blackliner commented on #8530
Update:
I was able to get one step further: The file in my repo has the correct hash, but the one that gets copied to the local conan export directory has the wrong one:
[code]
So it seems conan is cutting away entries in my `conandata.yml` ???
[code]

[2021-02-19 10:25] jgsogo commented on #8530
Yes, `conan-center-index` (not Conan) uses some hooks, one of them removes from `conandata.yml` everything not related to the version exported.

[2021-02-19 10:45] at185190 commented on #8504
Bump, isnt this quite a major bug?

[2021-02-19 11:24] blackliner commented on #8530
oh my god, thanks, so I need to ger rid of them...

[2021-02-19 11:27] jgsogo commented on #8530
You can install the same hooks we are using https://github.com/conan-io/conan-center-index/blob/253121597d92bdaf844a31c53681a09e396fe89e/docs/how_to_add_packages.md#test-the-recipe-locally

[2021-02-19 11:28] blackliner commented on #8530
I used them, maybe they were outdated 🤷

[2021-02-19 12:39] jgsogo commented on #5513
I totally agree we need some common ground and nomenclature. I'll try to write down how I see those different terms:

When it comes to development in C++ with Conan I see different scenarios:
 * **Consumer**: you get packages from some remote to the cache, you generate the files to consume those dependencies and you forget about Conan. The only thing you need is a cache with able to support differ

[2021-02-19 13:08] jegabe commented on #8511
Hello @SpaceIm, did you use separate host and build profiles with your conanfile.py? That's when the problem arises in our build because we do cross-compiling (embedded)

[2021-02-19 13:51] jegabe commented on #8511
@danimtb: If usage of "private" dependency is broken, should it then be documented that usage of that should be avoided? The solution provided in #8480 works partially for our company: The linking problem disappears, but the client consuming "L" still gets version conflicts if he needs either A or B in another version that "L" needed. So basically, I need to completely hide that dependency: The de

[2021-02-19 14:10] DoDoENT commented on #5513
🤔 , probably yes, although it would look strange if a package from the main cache needs rebuilding because of the override from the local cache - but it's probably the correct behaviour. We need to discuss this further.

I'd say that local-cache shouldn't need revisions - it's the temporary local cache after all. You are working on it, editing it, iterating on package creation, etc. Tracking revis

[2021-02-19 16:10] jgsogo commented on #5513
This is totally needed, imagine you are developing `zlib` in the OpenCV graph. For sure you need to build again packages in the middle (some inline, some static linked into shared,...). And these packages built with the development version of `zlib` cannot go into the main cache.

That is possible in **workspaces** (where packages use CMake), but no in the general scenario of co-development (accor

[2021-02-19 16:41] kenfred commented on #5513
@DoDoENT

I agree this was is a failing of the chosen implementation of workspaces. In my proposal of the _package-level_ super project, this is no longer an issue. Perhaps workspaces can be rehabilitated for you? Would it work with your use case if it wasn't so cmake-centric?

On incremental builds, you're spot on. With heterogeneous build systems you can not be incremental at the _source-level_

[2021-02-19 17:10] DoDoENT commented on #5513
Out build system is fully cmake-centric, so cmake-centric workspaces would work for me. But I think making them cmake-centric is not a great idea because some people may want to use them without using CMake.

My main issue with your proposal (as far as I understood) is that it expects that all packages from the co-development group are in the same code repository. Correct me if I'm wrong here. Thi

[2021-02-19 17:25] daravi commented on #8425
@jgsogo Thank you for the explanation.

Actually we do this exact thing in our CMake and we want to find the binary directory of the build context for `protoc` since in CMake we do:
[code]
I understand it is not possible since we later also link with protobuf libraries and as you said both profiles cannot generate the same variables at the same time with current design. But I am just saying that j

[2021-02-19 17:32] kenfred commented on #5513
Agree completely. I'm sorry that I didn't not realize that "workspaces" had that cmake/single-build-system assumption baked in. You and @jgsogo seem to be aligned on what "workspaces" means, but I was thinking of them differently. I want a co-development orchestration file. Bonus points if it can be used to generate a _package level_ super build.

Not quite. If we can, I'd like to support my pet u

[2021-02-19 17:52] jgsogo commented on #5513
Hey! I was involved in their conceptualization and implementation. Respect my creature! 🤣. 🤣  🤣

---

The Conan cache is not just a cache, I agree. But maybe we are wrong with the name and not with the usage. It is like the _local_ Git repository, it is needed for Git to work. Conan needs that cache (let's call it staging directory) to work. Probably we are abusing the name of that folder, but not

[2021-02-19 18:03] kenfred commented on #5513
:) Sorry @jgsogo. I'm endlessly grateful for your efforts. Your baby is beautiful. Now kill it, please!!!!

I'd like to probe this further because I'm not sure it's true. The conan cache is unique from a conan remote in that it will build from source packages that it doesn't have. Other than that, they are conceptually the same. That is one responsibility.

The separate responsibility you mention

[2021-02-19 18:12] jgsogo commented on #5513
Yes, that's the main purpose of the _cache_: to build the packages in a controlled environment so we can guarantee that builds are reproducible. Probably not the best name, but as a Conan developer we use the term 100s times every day and we cannot use a different name 🤷

Add me to the team! When I say _local cache_, this is precisely what I mean (I wrote `/project/.conan/<cache>`). 🎉     It is a

[2021-02-19 18:20] jgsogo commented on #8002
IMHO, we already have this functionality implemented in the [`check_min_cppstd` tool](https://docs.conan.io/en/latest/reference/tools.html?highlight=tools#tools-check-min-cppstd). This necessity arises because we are not using profiles with different cppstd values but the default ones, don't you think so?

[2021-02-19 18:29] prince-chrismc commented on #8002
Yes, I think that would cover the majority of use cases.

There's a very slim number which require minimum versions because the CXX standard in some compilers is only partial, just because you set C++17 does not mean it's all there.

EDIT: This happens https://github.com/conan-io/conan-center-index/pull/4631

[2021-02-19 18:36] Croydon commented on #8002
Having a `check_min_compiler_version` (or something like that) could still prevent this boilerplate in such cases. CCI had quite some recipe bugs because of bugs in these checks

And not all consumers have the cppstd in their profiles either

[2021-02-19 18:40] kenfred commented on #5513
Exactly! The cache is the place for released, versioned and revisioned, immutable packages that we rely on to make our builds reproducible.

Now I ask you, if that is its purpose, does a temporary, in-development/mutating thing belong there? What about something you're staging to consider for publishing, but is not yet released and could still change? I'd say no! In both counts, this violates the

[2021-02-19 18:58] kenfred commented on #5513
Maybe this will help:

- **Remote**: a place for published recipes. That is, they have an official version + revision and will not change. The remote is also a repository of binary packages built from that immutable recipe.
- **Cache**: a place for published recipes. That is, they have an official version + revision and will not change. Also a repository of binary packages built from that immutabl

[2021-02-19 20:05] Carsten87 commented on #8511
I have pretty much the same issue and am also looking forward to a proper solution.

The problem I see with the "build_requires approach" is that your requirement is no longer part of the dependency graph of your product. So you lose the ability to trace what is being delivered as part of the product which could for example be problematic if you would like to collect all licenses automatically or

[2021-02-20 00:42] PengolodhGoedath commented on #8378
@memsharded Thanks for the quick reply. To summarize (if I understood correctly):

The intention is `conan install` before `conan source` - which should work always (unless "problems could happen down the road later" - what problems?).
`conan source` before `conan install` might work - but only in very specific circumstances, so I shouldn't rely on it.

This seems to be the key part: It's not only

[2021-02-20 12:26] jowishu opened #8536 "[question] cross compile for iOS, first time compile failed, then success."
Hi, I am cross compiling for iOS on MacOS Big Sur 11.2.1. My `profile` and `conanfile.py` as fellows:

[code]

[code]

Then I run `conan install . --profile ios_profile`, After that, the fitst time I run `conan build .`, it failed, if I run build comman second time it success.

I checked the make comman in verbose mode, the first time is:
[code]

the second is:
[code]

We can see that the first ti

[2021-02-20 18:00] solvingj commented on #8531
The existing implementation, assumptions, and goals of the feature called "workspaces" have proven to lead to too many unfortunate outcomes.  There are different tickets and discussions around various parts of it. The result is that the Conan team is looking to dramatically re-design it for Conan 2.0.  I suggest you hold of an any experimentation until after a new vision and strategy for workspace

[2021-02-20 22:42] anton-danielsson commented on #847
Having something like `fpu` or `microarch` in settings.yml would be really cool.
The difference between in code compiled with for example `neon` vs `vfp` or `SSE` vs `AVX_512` can be quite large.

[2021-02-21 07:10] ytimenkov commented on #8531
Well, would be interesting to see the outcome.

But I'm not sure I agree with

At least how I see it is that Conan allows to easily split monoliths into components and pull them together later (so each component can have own cadence and shared easily instead of copying into each monolith) - e.g. utility, client API library, server daemon. All good until one needs to make a major change which invol

[2021-02-21 20:35] SeanSnyders commented on #8214
Thank you for the considered response.

With the current implementation of the SCM feature of Conan, it prescribes a certain use of a repo: all code therein is destined for the Conan package. I do not believe this to be the best and most flexible way and inherently makes assumptions about a team/project's use of a repo.

A repo can contain a multitude of resources, all that form part of the projec

[2021-02-22 09:33] memsharded commented on #8378
If you are using in ``source()`` conditional logic that will be available because you did a ``conan install`` before and then you have settings available, you might end building the wrong thing for other configurations, because ``source()`` will not run again even if you ``conan install`` again.

``validate()`` is executed much later than constraints. So if you don't do constraints on the recipe (

[2021-02-22 09:39] memsharded commented on #8530
Hi @blackliner

So it seems this was not a Conan issue, but the ConanCenter hook that was trimming the ``conandata.yml``, correct?
Could we close this issue? Thanks!

[2021-02-22 09:52] memsharded commented on #8504
Hi @at185190

This doesn't seem a bug, but it is this way by design. Version ranges resolution in Conan is not doing a full compatible range evaluation, it is a greedy algorithm in which the consumers (we call it root of the graph) always has precedence. If the consumer says a given version is going to be used, that version will be propagated and overwritten in the whole graph upstream. Some valid

[2021-02-22 10:04] memsharded commented on #7180
This was implemented in the ``lock bundle`` command in https://github.com/conan-io/conan/pull/8344, will be available in 1.34

[2021-02-22 10:04] #7180 closed, assigned to memsharded

[2021-02-22 10:05] danimtb commented on #8489
Closing this as solved. Thank you!

[2021-02-22 10:05] #8489 closed, assigned to nobody

[2021-02-22 10:59] memsharded commented on #8419
No, this is not a use case.

The download cache is a "performance" or "optimization" mechanism, trying to reduce big downloads from the server, but doesn't try to implement the full server protocol and serve as a complete, offline repository. That is more or less what the regular cache implements, if things are in the Conan cache, then the server will not be hit. So this is already addressed as to

[2021-02-22 10:59] #8419 closed, assigned to jgsogo, memsharded

[2021-02-22 12:32] blackliner commented on #8530
yes

[2021-02-22 12:32] #8530 closed, assigned to jgsogo

[2021-02-22 12:49] memsharded commented on #8336
Hi @madebr

With the current design, I would say that it is not the responsibility of ``CMakeToolchain`` to add these paths to the current build. The toolchains main responsibility is to define configuration related to the current package, its settings, options, etc. Whatever comes from dependencies should be probably managed by ``CMakeDeps`` instead.

In this case it seems this has some overlap t

[2021-02-22 12:49] memsharded commented on #8336
Regarding the other issue, ``CMAKE_MSVC_RUNTIME_LIBRARY`` is now set by the toolchain, have you checked it recentely?

[2021-02-22 14:34] solvingj commented on #8214
Thank you for sharing your use case. This confirms it is similar to what many people want.

Can you also confirm that the following is true for your case:

If there are multiple commits in a row for which neither the `conanfile.py` or any of the sources change, and thus hash of the exports directory is the same, that Conan would produce the same revision?  For example, README changes would not req

[2021-02-22 15:22] at185190 commented on #8504
It's tad weird to know that component management system doesn't really bother with dependency version incompatibilities.
On another note I just encountered another obscure behaviour:

ERROR: xxx.log/2.1.0.1@yy/yy: Incompatible requirements obtained in different evaluations of 'requirements'
    Previous requirements: [xxx.headers/3.0.0.1@yy/yy, xx.foundation/3.0.0.1@yy/yy, xx.configuration/2.1.0.1

[2021-02-22 15:54] memsharded commented on #8504
It was ultimately the users that wanted to have control, and be able to force dependencies versions overrides upstream, mainly because many times semver is not used in C++ packages, and it is necessary to override whatever is found upstream, irrespective of any range that could be defined, because sometimes it is not possible to define such range. Projects like ``openssl`` that doesn't follow semv

[2021-02-22 16:21] at185190 commented on #8504
So in this case its two downstream projects clashing, which causes this issue, would version ranges solve that?

Also I just noticed that if A has log 2.1.0.1
and it also has b 2.1.0.0 and b has log as a requirement 2.1.0.0
This will cause b binaries not be found because a has overwritten b requirements and it is now looking for b 2.1.0.0 that contains log 2.1.0.1.

Log is shared component so as s

[2021-02-22 18:12] solvingj commented on #8504
`package_id` is always calculated on the resolved value, not the declared (and potentially dynamic) value.

[2021-02-22 18:21] solvingj commented on #8504
I understand where you're coming from in the first quote above, but as you can see in the second quote, Conan actually does a lot of different work in the way of handling dependency version conflicts and resolution.  That's not to say it can't/shouldn't do more in the future, but it's not a matter of lack of consideration.

In terms of potential improvements, it seems reasonable to me that, for th

[2021-02-22 19:38] Fefer-Ivan opened #8538 "[bug] Redundant linkage when using both cmake and cmake_find_package generators"
### Environment Details
  * Conan version: 1.33.1

### Steps to reproduce
1. Have a conanfile.txt with `cmake` and `cmake_find_package` generators
2. Have a library that depends on specific components of another library. For example: `self.cpp_info.requires = ["boost::system", "boost::date_time", "boost::regex"]`
3. Use `find_package(mylib)` and `target_link_libraries(myexecutable mylib::mylib)` i

[2021-02-22 19:59] solvingj commented on #8472
I will try to remember to ping you if/when we get something implemented.

[2021-02-22 19:59] #8472 closed, assigned to solvingj

[2021-02-22 21:01] blackliner opened #8539 "[bug] corrupt artifactory package ?"
[code]

I get this error reproducible when running `rm -rf ~/.conan/data/* /tmp/conan_download_cache/ && conan install ceres-solver/1.13.0@ -b ceres-solver -r luminar`. Note the `-r luminar`, our private Artifactory.

When using `-r conan-center`, it works without error.

The recipes and packages get uploaded to the Artifactory whenever a CI is ran through succesfuly, via `conan upload "*" --all -

[2021-02-22 21:14] solvingj commented on #7816
@platc2 yes, the current `cmake_find_package` generator now supports fully transparent (to the consuming `CMakeLists.txt`) delivery of Conan dependency and build variables to `CMake`.  In some cases, it depends a bit on the packages themselves, and whether they've been refactored with some recent changes (using `components` feature), but the most crucial ones I am aware of are `boost` and `openssl

[2021-02-22 22:26] memsharded commented on #8538
Hi @Fefer-Ivan

It is not fully clear why you need the ``conanbuildinfo.cmake``. The ``find_package`` calls should have the targets there, and the ``cmake_find_package`` generators (and the new experimental CMakeDeps one designed to replace all of them) shouldn't be used together with the ``cmake`` generators. They are alternative generators. Can you clarify why you are using both?

[2021-02-22 22:34] daravi commented on #8425
@jgsogo Any thoughts on my last question?

I just realized I can add protobuf as the requirement of the build_requirement re-export the path to the `protoc` binary as a `user_info` variable from my `cmake-utils` package. However this solution is also not ideal for us since we want to be able to run incremental CMake builds for the end consumer. Whereas the above solution requires us to run:
[code]

[2021-02-22 22:38] memsharded commented on #8539
I am trying to reproduce this, I did the same and uploaded the built package to my private Artifactory instance, and it worked when I downloaded and rebuilt from the Artifactory. So couldn't reproduce and I have no idea what it could be.

Maybe getting a copy of what is in the server for inspection could help (specifically what is in the ``export`` folder of the server. Maybe it could be a bug of

[2021-02-23 02:27] w3sip opened #8541 "[question] Is it possible to override a profile requirement in conanfile"
If the profile has

[build_requires]
foo/1.0@com/master

Is it possible to override it with
self.build_requires("foo/2.0@com/master")

in conanfile?

So far not having much luck with it (seems like conanfile ignores local requirement altogether)

[2021-02-23 03:14] daravi opened #8542 "[question] A way to remove a dependencies option"
I have some packages which use Qt with different options. For example:
pack1: qt::opt1, qt::opt3, qt::opt4
pack2: qt::opt1, qt::opt2

And my end consumer uses these packages as well as Qt with a superset of those options:
consumer: pack1, pack2, qt::opt1, qt::opt2, qt::opt3, qt::opt4, qt::opt5

Is there a way for me to specify in pack1 and pack2 that I do not care about the value of certain option

[2021-02-23 05:46] Fefer-Ivan commented on #8538
When we first introduced conan to our project, we used cmake generator. Recently we had to link with individual components of boost, so we enabled cmake_find_package generator and used it for boost only. We are now switching to cmake_find_package only.

But still it is very unexpected for generators to produce conflicting code. There are a lot of recipes in conan-center that use both generators. A

[2021-02-23 08:15] jgsogo commented on #8425
Hi, @daravi

Your solution adding `protobuf` as a requirement of your `cmake-utils` (build-requirement) is the way to go... in fact, you require `protoc` in some of your CMake scripts. I agree that the way to propagate the information can be improved, and it will be improved in Conan v2.

Conan provides some _environment_ generator that will generate `.sh/.bat/.ps1` files. If you want to run `cmak

[2021-02-23 10:05] kakashidinho opened #8543 "[question] How to disable warnings from headers from dependencies"
I am using some dependency packages in my project and their headers generate a lot of warnings when compiling with my code.
Is there a way to mark the dependencies' headers as system headers similar to gcc's `-isystem` flag? So that the warnings will be ignored.

[2021-02-23 10:53] domfellner opened #8544 "[bug] Workspace install fails with package_revision_mode()"
If I set some package's package id mode to package_revision_mode() in a workspace environment, then the workspace install step fails.

Use case: We need the binary management to be strict and traceable in our company and at the same time allow workspace usage for convenient development.

I saw that the workspace feature will be _dramatically re-designed_ on the road to Conan 2.0 (see https://githu

[2021-02-23 13:21] #8495 closed, assigned to nobody

[2021-02-23 14:55] blackliner commented on #8539
Alright, here are all the files of this package:
![image](https://user-images.githubusercontent.com/23190927/108861324-63630780-75ef-11eb-9b0e-8b8a918f4f4e.png)

[ceres.zip](https://github.com/conan-io/conan/files/6029665/ceres.zip)

[2021-02-23 22:10] solvingj commented on #8539
When a package is installed with the Conan client and scheduled for build ,  `conan_export.tgz` and `conan_sources.tgz` are extracted into the `exports` and `exports_sources` folders respectively.  Then, all files from both of those directories are copied into the `build`  directory just before the build.  You can either download and expand the two `tgz` files manually, or you can look in your cac

[2021-02-23 22:48] solvingj commented on #8538
This is a bummer of a migration challenge.  Thank you for reporting.

I read the responses and I don't know which recipes in Conan Center they were referring to which use multiple generators.  Maybe @uilianries or @SSE4 can recall some examples, and possibly explain how they might work if such cases exist. If not, I think the people in slack were also somewhat speculating that it "should work in t

[2021-02-23 23:07] solvingj commented on #8541
No, the profile will always take precedence over `build_requires` declared in recipes.

[2021-02-23 23:11] solvingj commented on #8543
There is currently no native way to do that with Conan.  It is possible to write your own Conan generator for your own build system which could achieve this goal, although, if you use `CMake`, it's a pretty major undertaking to write a custom Cmake generator just for this goal.

On the other hand, if your build system is in-fact `CMake`, There is extensive discussion about doing so with `CMake` he

[2021-02-23 23:18] solvingj commented on #8542
I'm confused by your dilemma.  In theory, you do not indicate that you need a default value for an option.  You don't have to specify anything and you get the default.

Also, in general, it's much more flexible and less troublesome to specify options dependencies via profiles rather than hard-coding them into recipes of consumers.  It can seem like the right choice at first. For example, if `pack1

[2021-02-24 00:00] memsharded commented on #8539
I have checked your tgz files and they seem correct.

I am seeing some unexpected lines here:
[code]

This is a symptom that something went wrong previously, and Conan is trying to remove the previous files, but maybe it is still using and outdated source folder. Can you please make sure that your cache is clean?. Remove there the ``ceres`` folder, or do a ``conan remove ceres* -f``, or use a new

[2021-02-24 00:19] daravi commented on #8425
@jgsogo Thank you! For anyone reading the thread it is also possible to use [`CMakeToolchain`](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html#cmaketoolchain) if you don't want to use `virtualrunenv`.

[2021-02-24 00:19] #8425 closed, assigned to SSE4, jgsogo, solvingj

[2021-02-24 00:44] daravi commented on #8415
@memsharded @solvingj I have setup build and host contexts. Like so:
[code]
I see that CMake is built in Release mode. However CMake's dependency, `openssl`, is built in Debug mode. Is this a bug? From the host/build contexts page my understanding is that the entire sub-graph should have used the build profile and be built in Release mode. I am using `semver_direct_mode` if that matters.

[2021-02-24 08:21] armtir opened #8545 "[bug] activate.sh doesn't set environment variables correctly"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 10 x86_64 GNU/Linux
  * Compiler+version: gcc (Debian 8.3.0-6) 8.3.0
  * Conan version: 1.33.1
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)

`activate.sh` sets environment variables under quotes twice.

This is the content of the `environment.sh.env` file:
`mypackagepath="

[2021-02-24 10:07] RobvanderMost-TomTom opened #8546 "[question] Unclear how to use transitive python_requires"
The documentation at https://docs.conan.io/en/latest/extending/python_requires.html#resolution-of-python-requires states that:

But it is unclear how that should work.

I made an example where I define a base class in a python_requires module. This base class uses a helper function from another python_requires module. How can I transitively define that the base class has another python_requires? A

[2021-02-24 13:06] kakashidinho commented on #8543
Yes, I'm using `CMake`. I'm trying to read the discussion you posted. There are a lot of things I need to read.
Do you have any quick suggestion?
Seems like `CONAN_SYSTEM_INCLUDES`  option would solve this. I am not able to find the document for this variable anywhere.
Thanks,

[2021-02-24 15:20] w3sip commented on #8541
Is there a reason for that? IMHO, it'd make sense for profile to establish the defaults, but is there a reason to block recipe-specific overrides?

[2021-02-24 17:13] daravi opened #8548 "[feature] Have `update` only make a single request to avoid long delay"
Hi, using Conan over a VPN network, each request and response has some delay (about 0.5 second in our case). This means that running Conan commands with the update switch (`-u`) takes upwards of a minute to complete even if everything is up-to-date when you have a large dependency graph. I was wondering if you could combine all the recipe revision checks in a single packet (or as few as possible).

[2021-02-24 17:25] solvingj commented on #8541
Yes, there are a vast number of tools where a variable can be specified by multiple mechanisms such as:
- cli
- environment variable
- user config
- system config
- project config
- programmatic runtime conditions
- program default

In the vast majority of tools, the key priority is that caller at the CLI needs to be able to override whatever value might be reconciled from all the other mechanisms

[2021-02-24 17:29] solvingj commented on #8543
Ah, yes, the lack of docs is a problem.  here's this.

https://github.com/conan-io/docs/issues/601

So, I guess that the easiest thing that you might be able to do is mentioned here by @uilianries

https://github.com/bincrafters/community/issues/1100#issuecomment-604997132

`set(CONAN_SYSTEM_INCLUDES ON)`

But, I think the issue with this is that it only works for globals. If you're using Conan vi

[2021-02-24 17:59] amerry opened #8549 "[bug] conan export gets confused by nested symlinks-to-dirs"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04
  * Conan version: develop (2020-02-24), but also 1.33.0
  * Python version: 3.6.8

### Steps to reproduce
Create a conanfile.py with an `exports_sources` attribute (it doesn't actually matter what is exported).

Here's the tricky bit: attempt to create a directory and symlink to that directory

[2021-02-24 18:09] amerry commented on #8549
NB: it may be possible to work around this in situations where it crops up by adding a suitable exclusion rule to `exports_sources` to make it ignore the symlink directory hierarchy.

[2021-02-24 18:15] amerry commented on #8549
If you're wondering how on earth I came across this, the crashpad source includes the libc++ source, which has this sort of structure in its test code, and we're setting `CONAN_USER_HOME` to the checkout directory in our CI jobs that build the package. The second package we created (eg: a release package after building a debug one) would often, but not always, hit this problem - depending on just

[2021-02-24 19:43] blackliner commented on #8539
I always purged the download cache as well as conan/data, on both Windows and Linux
[code]

[2021-02-24 19:50] memsharded commented on #8539
What is in the ``Building your package in C:\Users\florianb\.conan\data\ceres-solver\1.13.0\_\_\build\6fbc4fb986f91680a0076262c273deb96eba56d6`` folder after that fails? And what in the ``C:\Users\florianb\.conan\data\ceres-solver\1.13.0\_\_\source`` folder?

Could you please share a copy of those folders (like zipping those folders and sharing)?. This is really surprising, the CMakeLists.txt is t

[2021-02-24 19:56] blackliner commented on #8539
This is the whole `C:\Users\florianb\.conan\data\ceres-solver`
[ceres-solver.zip](https://github.com/conan-io/conan/files/6038522/ceres-solver.zip)

[2021-02-24 20:02] blackliner commented on #8539
And this is the same directory (without binaries) after succesfully running `C:\Python39\Scripts\conan.exe install ceres-solver/1.13.0@ -b ceres-solver -r conan-center`:
[ceres-solver.zip](https://github.com/conan-io/conan/files/6038552/ceres-solver.zip)

[2021-02-25 07:58] SimplyLiz opened #8552 "[feature] instead of aborting with an error just add an warning when there's no connection to a remote repository and the package is already in the cache"
When using conan with cmake, conan is called every time during configure/generate.

We're using artifactory as conan repository.
So the first time, all the dependencies are downloaded. When having no internet connection, you can't switch branches or make any changes to cmake. cmake will fail because there's no connection to the remote. Even if everything's cached locally and already available and

[2021-02-25 09:46] jgsogo commented on #8552
Is this related to [`cmake-conan`](https://github.com/conan-io/cmake-conan)?

[2021-02-25 09:47] mbeier21 opened #8555 "[bug] g++ clang frontend on Windows (mingw) not supported by CMake build helper"
In our project we want to use the clang compiler with g++ front end on Windows.
My toolchain is based on [llvm-mingw](https://github.com/mstorsjo/llvm-mingw), which I built manually and created a conan package afterwards. This package is then used as build requirement in a new build profile "mingw_clang110_x64" :

[code]

Please note that we prefer packaged tools over locally installed tools. This

[2021-02-25 10:19] SimplyLiz commented on #8552
yes, i've added the conan.cmake file from this repo-

this is how i integrated conan.

[code]

[2021-02-25 12:41] timblechmann opened #8556 "[package] nspr/4.29: apple silicon/x86 cross compilation broken with conan-1.33"
according to coworkers, the update to conan-1.33 broke the x86_64-to-arm64 cross compilation of this package.

the nspr project builds a (native) tool to generate some sources, which will now also be compiled with the cross compilation flags.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **nspr/4.29**
  * Operating System+version: **MacOS**
  *

[2021-02-25 14:46] solvingj commented on #8541
Feel free to re-open if you have further questions :)

[2021-02-25 14:46] #8541 closed, assigned to solvingj

[2021-02-25 14:50] solvingj commented on #8423
hi @boussaffawalid , were you able to get past this issue?  If not, is there any new information?

[2021-02-25 15:25] db4 commented on #8508
@memsharded I have a question that might be related to that issue. Older `cmake_installer` packages used `os_build` and `arch_build` settings so one binary package was enough for 4 builds (Windows x86_64/Release, x86_64/Debug, x86/Release, x86/Debug). Newer `cmake` packages depends on `os` and `arch` so I need 4 different packages (and 2 of them I have to build from sources as x86 builds are wiped

[2021-02-25 15:48] boussaffawalid commented on #8423
yes, It works. Issue can be closed.

We had one conditional requirement based on the value of `full_deploy`,  so setting full_deploy changed the requirements which changed the package_id.

[2021-02-25 17:21] melak47 opened #8557 "[feature] "The recipe is constraining settings." error should name the recipe"
When installing via a conanfile, the "ERROR: The recipe is constraining settings." message includes details
about the setting that was constrained, but not the recipe that did it.

It would be helpful if the message also named the recipe, so the user doesn't have to search through all
the recipes of the whole tree to find which one is constraining that setting.

The implementation at
https://githu

[2021-02-25 17:26] DukeOfKirkcaldy opened #8558 "[feature] conan install option to also fetch build requirements without building"
I am developing a CI flow where each affected dependent (calculated by lockfile build-order) is rebuilt by triggering it's respective pipeline job.  I trigger the first layer, those jobs trigger the next layer, and so on, cascading all the way down to the end-product.

When all downstream jobs have finished,  I update the original lockfile with the results and generate buildinfo. (I know buildinfo

[2021-02-25 18:01] jgsogo commented on #8557
This should be an easy feature, feel free to submit a PR with the required change 🚀

[2021-02-25 18:33] memsharded commented on #8556
Hi @timblechmann

I am trying to understand what is happening here.
I would say that your ``nspr`` package is used as a ``build_require`` in the build context? If it is a build require, it should be in the "build" context and it shouldn't get the ``arm`` architecture flag, but the x86_64 one, and it shouldn't fail. Is it possible that it is not a build-require?

[2021-02-25 18:58] solvingj commented on #8558
I think this basically boils down to a feature request which is kind of related to this:  https://github.com/conan-io/conan/issues/8121

Ideally, there would be a way to opt-into installing all the `build_requires` of a dependency graph or lockfile, even if not calling the `build` method.

There is already an extensive change to graph evaluation where the plan is to evaluate the whole graph on eve

[2021-02-25 19:02] solvingj commented on #8508
I'm pretty novice on the cross-build implications.  Would it work to add this to the settings of your `build_profile`?

        [settings]
        cmake:arch=x86_64
        cmake:build_type=Release

[2021-02-25 19:12] #8423 closed, assigned to solvingj

[2021-02-25 21:10] RubyNova opened #8560 "[question] conanfile.txt support for from-source builds."
Hi, I have a `conanfile.txt` that I am trying to make more cross-platform compatible, but the docs didn't really explicitly say if `conanfile.txt` could enable `build_policy` options like `conanfile.py` can.

To clarify, I am currently doing the following:

[code]

Ideally, I would like to move both build flags into `conanfile.txt` itself, so something (very roughly) like the following:

[code]

S

[2021-02-25 21:45] db4 commented on #8508
@solvingj I never knew that settings could be specified this way for individual packages. That's exactly what I need, thanks a lot!

[2021-02-25 22:21] #8557 closed, assigned to nobody

[2021-02-26 01:06] timblechmann commented on #8556
@memsharded, the nspr build system builds a tool (`now`) to obtain the timestamp and use this to generate sources, which are the compiled into the library. so the tool itself needs to be compiled for the host architecture.
the problem: if `-arch arm64` is passed as cflag, this flag will also be used to to compile the `now` tool, which is supposed to run in the "build context".

`nspr` actually com

[2021-02-26 08:01] jgsogo commented on #8560
Hi, @RubyNova

`conanfile.txt` doesn't support those _arguments_ but neither a **consumer `conanfile.py`**. The [attribute `build_policy`](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=build_policy#build-policy) affects only the recipe where it is declared.

[2021-02-26 08:35] jgsogo commented on #8556
When the same Conan package is packaging a tool and a library, like `protobuf` (it contains the `protoc` tool and the `protobuf` library) we need in our workspace two packages, we need Conan to retrieve the package for out _host_ context to link with the library, and the package for our _build_ context to run the tool in our build machine. These packages have different `package-id` so they need to

[2021-02-26 08:50] timblechmann commented on #8556
this is not the case with `nspr`: the process is roughly the following:
* compile `now`
* run `now` to generate source
* compile source into the library
* consume the library

especially: the tool is *not* packaged and *not* called by downstream code, but it's called by the nspr built itself.

a vanilla nspr configure behaves well:
[code]

but conan tries to outsmart the apple silicon support in `

[2021-02-26 09:48] boussaffawalid opened #8561 "[question] private vs public requirement"
Hello,

I use conan to build a **windows** application, and I have a confusion regarding private conan requirement, are they analogic to cmake private linking?

Here is the situation:
* Tensorflow and zlib are shared library
* MyLib links tensorflow and zlib privatetly ( Final application must not link them )
* Mylib is a conan package package that create multiple libraries.

Now the challenge:

#

[2021-02-26 10:59] SSE4 commented on #8556
I have reproduced an issue
this break for me as well (now conan, vanilla nspr 4.29):
[code]

[code]
I have found similar issue https://bugs.chromium.org/p/chromium/issues/detail?id=200306
as far as I understand, `CFLAGS` shouldn't leak into now.c compilation.

[2021-02-26 12:05] SSE4 commented on #8556
I am reading https://github.com/NixOS/nixpkgs/issues/50656 and few other issues on bugzilla:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1230573
- https://bugzilla.mozilla.org/show_bug.cgi?id=742033
- https://bugzilla.mozilla.org/show_bug.cgi?id=376256
- https://bugzilla.mozilla.org/show_bug.cgi?id=817622
it seems like NSPR configure is messed up.
TLDR: they messed up with host/build/target, an

[2021-02-26 12:24] asanka424 opened #8562 "Conan info prints a debug line on Windows"
Hi, I am trying use `conan info . -j` in a script so  that I can parse json output. However, in windows it prints this additional line which makes my json parser fail. Could you please look into this?

`conan info .`
`<conans.model.options.Options object at 0x0479DFB0>`

Thanks

[2021-02-26 12:33] bevinhex commented on #8385
it would definitely be an enhance to be able to use existing environment variables inside profile, in my case, I'm using `conan install` with profile to install dependencies, basically cross compiling to android , however I do have NDK_ROOT variable as environment variable, which I can set and compile my code without dependencies, however when I cannot find nice bridge between conan profile and CM

[2021-02-26 12:35] jgsogo opened #8563 "[bug][ux] Output from search using explicit revision -- improve failure message"
When searching for a recipe-revision that doesn't exist, the error message can be improved

[code]

Searching using recipe-revision for a reference that doesn't exist

[code]

Searching a reference (not a pattern) that doesn't exit:

[code]

[2021-02-26 12:44] czoido commented on #8562
Hi @asanka424,

Could you please detail which conan version are you using?
Also, can you provide an example of the output you are getting?

Thanks a lot

[2021-02-26 13:11] ericjulien opened #8564 "package_info() and editable mode: components libdirs empty and loss of customization"
When settings a package in editable mode with a layout file, the libdirs setting is lost components (`cpp_info.components["comp"].libdirs`). Moreover, all the customization on the libdirs in `package_info()` is overwritten by the layout file.

As a user, I would rather have access to the `build_folder`, which resides in the layout file to set as a base path or at least to be able to have access to

[2021-02-26 13:14] Johnnyxy opened #8565 "[question] query source of setting/option value"
Hi there,
is it possible to determine the source of a specific recipe option or setting.
My library uses Boost. And the user can specifiy through profiles/commandline that Boost is used as header-only or linked as binary (e.g. -o boost:header_only=True).

My library preferres to use Boost as ```header_only```. As the library can be compiled for several targets. Those targets can be quite old where

[2021-02-26 13:35] PengolodhGoedath commented on #8561
Have you tried repackaging the DLLs inside MyLib (i.e. MyLib contains both DLLs in its binary directory)?

[2021-02-26 13:39] memsharded commented on #5229
This has been approved by the Tribe in https://github.com/conan-io/tribe/pull/18. Lets remove it from Conan codebase (not necessary to implement it as a hook for the Conan 2.0 scope, just remove it from here by now).

[2021-02-26 13:48] kanrrra opened #8566 "[bug] conan build on 1.34.0 cant find build folder anymore"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
  * Conan version: Conan version 1.34.0
  * Python version: Python 3.6.9

### Steps to reproduce (Include if Applicable)
Our build is fine on 1.33.1 but fails on 1.34.0. Nothing else changed.
conan install completes fine. conan build

[2021-02-26 15:02] jgsogo commented on #8555
Hi, @mbeier21 . It is perfectly possible that the helpers we are providing don't work with all the combinations of the different tools out there. Sometimes it is because we don't know or we didn't have time to reproduce a working scenario where we can develop the feature and figure out how to add it to our tests.

We are moving forward on our way to Conan 2, and we've started to add new helpers an

[2021-02-26 15:13] jgsogo commented on #8556
Back to `conan-center-index`, if the build-system of the library is broken, it is something to patch in the recipe (**submit the patch upstream too**). Thanks!

[2021-02-26 15:25] czoido commented on #8566
Hi @kanrrra,

Thanks for reporting. I'm trying to reproduce the issue but still had no luck.
Does it happen for you even with a very basic example like this one?

[code]
Could you please provide a more complete log ?

[2021-02-26 15:35] czoido commented on #8566
@kanrrra could you activate logging with `conan config set log.level=10` ? there are some messages related to the build folder that could provide useful information.

[2021-02-26 16:38] a4z commented on #8485
It seems to be possible via the `def generate(self):`
if the build requirement provides info via `env_info` , this can be used to write into the generated toolchain file
PS: so I close this

[2021-02-26 16:38] #8485 closed, assigned to nobody

[2021-02-26 17:21] asanka424 commented on #8562
Hi @czoido ,

Thanks for the quick response, this is my output

[code]

[2021-02-26 17:28] czoido commented on #8562
Thanks for the info @asanka424,
Can you please provide the conan version as well?

[2021-02-26 22:13] kanrrra commented on #8566
@czoido Thanks for your help! The very basic example works fine.

[code]

log of conan build of my own package

[code]

[2021-02-26 22:37] akalali commented on #7636
This topic is still open and I still don't know what is going wrong here. All variants that I tried do not produce a successful build.
I built ITK and DCMTK the standard CMake way from source and used them to point `ITK_DIR` and `DCMTK_DIR` to their build directory while building DCMQI the standard CMake way and everything works as expected. I also used the CMake-project mentioned here, disabled t

[2021-02-27 02:20] solvingj opened #8569 "[feature] Potential changes for lockfile bundle structure"
When actually working with the structure, I've identified some potential UX improvements. I'll just be dropping notes here and potentially updating as I get more experience with them.

First, I suggest the following structural change, but I admit, that it's mostly a matter of preference or cosmetics.

The first thing that jumped out is that it's awkward that there's a property named `package_id` a

[2021-02-27 08:36] xahon commented on #8525
My company doesn't want to use revisions feature of conan due to a lot of reasons and came out with a simpler solution, to add suffices after version part of package reference. Unfortunately, a lot of recipes are using version part in url, unarchiving, etc.. and i wanted to strip that version suffix in a single point instead of calling that functionality from a bunch of places (source, configure a

[2021-02-27 11:52] jgsogo commented on #8525
From your last comment, I think you don't want to modify the `version` of a reference (which is something a would discourage you from doing), you just need a function to strip the _extra_ components of the version that you don't want. What about a property in your recipe file?

[code]

You use always `self._version` instead of `self.version` and you only need to write the logic in one single place

[2021-02-27 12:05] xahon commented on #8525
yes, that was one of the solutions but i didn't want to change original recipe drastically in many places to keep ability to update only the beginning of the recipe if need

[2021-02-27 13:07] boussaffawalid commented on #8561
Actually, We wanna avoid, Our dependency graph is more much complicated and I just made this example to explain the situation.

For example:
*  We have many libraries that depends on a qt package, and it does not make sense to include all qt dlls in all our libraries. Ultimately, the final application should collect qt dlls from qt package and not from all libraries that uses qt.
* If two librarie

[2021-02-27 21:27] memsharded commented on #5229
Closed by https://github.com/conan-io/conan/pull/8567

[2021-02-27 21:27] #5229 closed

[2021-02-27 23:19] memsharded commented on #8569
Hi @solvingj

There is a reason for this. The bundle contains unique references, making them a list could potentially introduce duplicates. But the real issue is the access pattern from the build-order, note the for-loop in:

[code]
Accessing the ``bundle[ref]`` simplifies the access. Otherwise the user code should first iterate the list and construct a dictionary that would accept the ``[ref]`` a

[2021-02-28 00:18] memsharded commented on #8566
I have also been trying to reproduce without success. It would be great to know details of your recipe that is causing this failure, I think the problem might be reproducible with a relatively simple recipe.

Also, please, if you could share what are the folders and files that you have after the ``conan install . --install-folder build -s compiler.libcxx=libstdc++11 -s os=Linux -g virtualrunenv``

[2021-02-28 00:22] daravi opened #8570 "[feature] post_install command hook"
Hi. The only hook that I have thought would be useful to me is a `post_install` for example:
1. I would be able to remove my project's CMakeCache.txt file or run `cmake --build . --target clean` after a `conan install`
2. I would be able to update my code editor's include directory paths

So I was wondering:
- Is it possible to add custom hooks or to achieve what I want through other methods?
- If

[2021-02-28 12:20] solvingj commented on #8569
It think so yes. Can you so the new structure you're proposing then?

[2021-02-28 12:57] AlexanderLanin opened #8571 "Unlucky sorting of "Possible values are..." error message"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04 in WSL2
  * Compiler+version: clang version 10.0.0-4ubuntu1
  * Conan version: 1.34.0
  * Python version: 3.8.5

### Steps to reproduce
For pretty much any package run `conan install .. -s compiler=clang -s compiler.version=10.0`

### Logs (Executed commands with output) (Include/Attach if Appli

[2021-02-28 16:31] kanrrra commented on #8566
Ok here is the full command and log. The build folder does exist after `conan install`, see the output of `ls`.

Here is our conanfile renamed to .txt because I cant upload .py files.
[conanfile.txt](https://github.com/conan-io/conan/files/6057198/conanfile.txt)

[code]

[2021-02-28 18:46] parkertomatoes opened #8572 "[bug] Recent conan release breaks gsl-lite package from conan-center"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04 (WSL1 on Windows 10 1809)
  * Compiler+version: gcc 8
  * Conan version: 1.34.0
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)
In an empty folder, create a conanfile.txt with the following
[code]
Then run `conan install`. This works fine on Conan 1.30.2. On Conan 1.34.

[2021-02-28 21:19] memsharded commented on #8572
Hi @parkertomatoes

I have just tried and it is working now, the recipe description is a string now:

[code]

are you sure you have updated to last changes from ConanCenter?

Btw, this doesn't seem a bug in Conan, see (https://github.com/conan-io/conan/pull/8143#issuecomment-787524810),  but basically, the ``description`` field is a string, as documented in https://docs.conan.io/en/latest/referenc

[2021-02-28 21:48] memsharded commented on #8571
Lets see in https://github.com/conan-io/conan/pull/8573, if it is possible to keep the original order of the lists. It is possible that something might break that might be relying on this order, but lets see.

[2021-02-28 21:54] memsharded commented on #8569
I would suggest this (accept the inner level suggestion, keep the "references" level one:

[code]

[2021-02-28 22:09] memsharded commented on #8566
Some unrelated comments:

- Do not define top level fields like ``defines = {}``. Public attributes and methods are reserved for Conan, check https://docs.conan.io/en/latest/reference/conanfile.html
- Check the ``validate()`` method and consider that instead of the declared constraints like ``settings = {"os": "Linux", ...``. It is possible that Conan 2.0 will remove this way of raising invalid co

[2021-02-28 22:25] memsharded commented on #8566
Ok, I have identified the error. You are declaring in the recipe a public attribute ``build_folder``:

[code]

So it seems the above "unrelated comment" was actually related. Read carefully https://docs.conan.io/en/latest/reference/conanfile.html, it is not possible to define public top level attributes or methods, because they will conflict with Conan own attributes and fields. The fact that it d

[2021-02-28 23:22] asanka424 commented on #8562
conan -v
Conan version 1.33.1

[2021-03-01 01:51] solvingj commented on #8569
Ok, looks good. Does requires go inside the package object though?

[2021-03-01 02:33] uilianries commented on #8572
I'll provide a hotfix for it. There is an issue there in CCI: https://github.com/conan-io/conan-center-index/issues/4726

[2021-03-01 02:37] uilianries commented on #8572
Looking again, it seems a problem related to old revision, as memshared commented, or a recipe from another repository (Bincrafters, Conan Community ...)

[2021-03-01 08:24] czoido commented on #8562
Hi @asanka424,
I have checked the code for 1.33.1 and I did not find any lines that could print that output. I think that what is most likely is that the _conanfile.py_ has a `print(self.options)` anywhere in the code, probably in any of these methods: `config_options`, `configure`, `requirements`, `package_id`, `validate`, `build_requirements` or`build_id`.
Could you please check?

[2021-03-01 08:27] memsharded commented on #8569
No, ``requires`` is a sibling of ``packages``, it belongs to the ``reference`` (we are ordering ``build_order`` by references, not packages).

[2021-03-01 08:42] SeanSnyders commented on #8214
Yes, I believe what you mention is congruent with what I would expect.

No changes (hash) based off the git sha and filters should produce the same conan revision.

Many to 1 relationship.

[2021-03-01 09:29] Viatorus commented on #8197
Bump. I have got the same issue. Any resolutions possible?

[2021-03-01 09:45] blackliner commented on #8539
@memsharded did you get a chance to look at the files?

[2021-03-01 11:30] kanrrra commented on #8566
@memsharded Thank you so much! That fixed the issue and I'll definitely be looking into cleaning up our build process.

[2021-03-01 11:30] #8566 closed, assigned to nobody

[2021-03-01 12:22] solvingj commented on #8569
I was thinking that `requires` depended on `package_id`, and packages with different `package_id` might have different `requires`

[2021-03-01 12:27] a4z opened #8575 "[bug] iOS toolchain generator forces signature handling when using the generated toolchain file"
As a user, I want to be able to generate iOS frameworks without being forced to add a signature on the generated frameworks, since this might wants to be done by the frameworks consumer.

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version: Not relevant
  * Conan version: 1.33 and above
  * Python version: all supported ones

### Steps to

[2021-03-01 12:51] memsharded commented on #8569
That is true for regular lockfiles, but one of the main purpose of this bundle is to orchestrate build per reference, so all "package_ids" of the same reference will be built in parallel, but in the same CI task. Thus, ``requires`` capture the dependencies at the reference level, not the package level. Does it make sense?

[2021-03-01 13:02] DukeOfKirkcaldy opened #8577 "[bug] conan lock bundle: existing packages are returned in build-order"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 (64-bit)
  * Compiler+version: n/a
  * Conan version: 1.34.0
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

For some reason `cmake_installer` is returned in the build order, even though this

[2021-03-01 13:14] blackliner opened #8578 "[bug] conan tries to extract broken downloads"
When `CTRL + C` while conan downloads the prebuilt archives of a package, the subsequent execution of `conan install` tries to extract from those half-downloaded archives from the `download_cache`. This does **ONLY** happens when you use a `download_cache`.

2 possible ideas:

- add a hash to check if the downloaded archives are not corrupt
- restart the download when the extraction fails

### Env

[2021-03-01 13:23] solvingj commented on #8577
Confirmed bug. Will be worked on today most likely.

[2021-03-01 14:40] memsharded commented on #8577
Fix submitted in https://github.com/conan-io/conan/pull/8579 for 1.34.1, thanks for detailed report!

[2021-03-01 17:05] DukeOfKirkcaldy opened #8580 "[feature] get profile name from lockfile"
Very excited about the new bundles feature and have been trying to take your examples one step further and test it out in a CI flow where packages are rebuilt by triggering their respective CI jobs.

When triggering the build I should only need to share the bundle and lockfiles with the downstream build.  But one issue with this is the loss of the profile name, and so far the name has been quite u

[2021-03-01 17:20] memsharded commented on #8577
Fixed in https://github.com/conan-io/conan/pull/8579

[2021-03-01 17:20] #8577 closed, assigned to solvingj, memsharded

[2021-03-01 17:20] memsharded commented on #8569
Implemented in https://github.com/conan-io/conan/pull/8579

[2021-03-01 17:20] #8569 closed, assigned to nobody

[2021-03-01 21:20] DukeOfKirkcaldy opened #8581 "[feature] let conan export use 'default_user' and 'default_channel' attributes"
Would be useful if this command also used the defaults, to avoid having to use multiple `conan inspect` to get them.

[2021-03-01 23:00] solvingj commented on #8578
I would definitely consider this a bug.

[2021-03-02 00:04] memsharded commented on #8578
Hi @blackliner

Yes, this is a bit surprising. The implementation already contains a checksum:

[code]
The ``check_checksum()`` should given at least a nicer error message, and not wait until extraction time. I am not sure why this doesn't raise, need to check.

[2021-03-02 00:18] solvingj commented on #8580
Hi @GordonJess , so, there's a related feature request here, and your input would be appreciated:

https://github.com/conan-io/conan/issues/7207

I will defer to @memsharded to decide whether or not to consider this feature for the future.  However, I will share my opinion, as someone who is working with lockfiles a lot.

I think this feature would be exceptionally challenging and awkward to try t

[2021-03-02 02:37] solvingj commented on #8570
Seems reasonable.  I agree that we should look into it.

[2021-03-02 02:57] solvingj commented on #8565
It's a valid question, and in general it comes up occasionally for many people debugging packages.

I can definitely say that there's currently no way to "query" this information in the way you are asking.  I also worth pointing out that the process for evaluating an option's value is pretty involved, because every recipe in the graph has the opportunity to change the value of an option in it's ow

[2021-03-02 03:02] solvingj commented on #8564
There is some substantial work being done on a new iteration of the editable feature with a new approach and better support for handling layouts correctly.  It seems likely that this is a bug, but it seems more likely that the work on the new feature will be available before anyone will have time to look into this bug with the existing implementation.  If this is going to be fixed, it's likely goi

[2021-03-02 03:05] solvingj commented on #8197
sorry for the lack of response, thanks for reporting. Also thanks @ericLemanissier for providing an easier reproducible scenario.  I have assigned @memsharded so that this gets triaged and assigned asap.

[2021-03-02 03:09] solvingj commented on #8336
Of note, we do consider some cases to be exceptions to this rule, such as `RPATH` flags. Last time it was discussed, any future `RPATH` handling was envisioned to be done in toolchains and not in generators. Is that still the case @memsharded ?

However, in this case, `CONAN_CMAKE_MODULE_PATH` seems build-system related, so indeed it would probably be a better fit in `CMakeDeps` if it goes anywher

[2021-03-02 03:15] solvingj commented on #8204
I would never suggest relying on the order of the JSON output.

To get the name and version for automation/scripts, we recommend something like this:

[code]

[2021-03-02 03:20] solvingj commented on #8536
It's definitely strange, and I don't know the answer. I will have to try to debug with you.

Can you find the `.cmake` file where `-arch arm64` is actually set?    Is it in `conanbuildinfo.cmake` or one of your own toolchain files or the `CmakeLists.txt` file?

Is your  `CMakeLists.txt` perhaps doing some configuration step where it generates a `.cmake` file which it includes later, so it's only a

[2021-03-02 06:25] jowishu commented on #8536
The fellowing is my `CMakeLists.txt`

[code]

And this is generated `conanbuildinfo.cmake`

[code]

Hope this is useful, Thanks :)

[2021-03-02 06:37] mpusz opened #8582 "[feature] Set `CMAKE_FIND_PACKAGE_PREFER_CONFIG` in `conan_toolchain.cmake`"
Please consider setting `CMAKE_FIND_PACKAGE_PREFER_CONFIG` in the `conan_toolchain.cmake`. This will allow CMake to prefer configuration files generated by `CMakeDeps` over the ones provided with CMake release (i.e. `FindGTest.cmake`).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-02 06:53] #8575 closed, assigned to nobody

[2021-03-02 07:33] #8571 closed, assigned to memsharded

[2021-03-02 07:38] Da-LiFe opened #8583 "[bug] conan 1.31 ignores case in exports_sources"
We are currently migrating from conan 1.22 to conan 1.31. We found, that 1.22 is not ignoring case in `exports_sources`, but 1.31 is and, thus, breaking our recipies.

### Environment Details (include every applicable attribute)
  * Operating System+version: osl15.2
  * Compiler+version: 7.5
  * Conan version: 1.31
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)
To reproduc

[2021-03-02 08:25] memsharded commented on #8571
Changed in https://github.com/conan-io/conan/pull/8573, will be released 1.35

[2021-03-02 08:29] jgsogo commented on #8488
Hi! This is a recurring issue and I totally understand it is. I'm linking to related issues:
 * https://github.com/conan-io/conan/issues/7719
 * https://github.com/conan-io/conan/issues/8303

We need to (at least) provide a POC.

[2021-03-02 08:29] jgsogo commented on #8390
Hi! This is a recurring issue and I totally understand it is. I'm linking to related issues:
 * https://github.com/conan-io/conan/issues/7719
 * https://github.com/conan-io/conan/issues/8303

We need to (at least) provide a POC.

[2021-03-02 09:45] #7166 closed, assigned to nobody

[2021-03-02 09:46] czoido commented on #7166
Now conan has a new feature called lockfiles bundles: https://docs.conan.io/en/1.34/versioning/lockfiles/bundle.html

[2021-03-02 10:51] sorekz opened #8584 "[bug] smc field is accessed before requirements are resolved in conan 1.34"
### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.34.0
  * Python version: any

### Steps to reproduce (Include if Applicable)
Hi,
in some of our older conanfiles we used to calculate the scm property with the help of a build_requires recipe.
[code]
Now this is something conan can do by its own now and is n

[2021-03-02 12:05] solvingj commented on #8584
I do not think so. Since SCM is still an experimental feature, please consider updating the old recipes.

[2021-03-02 13:07] uilianries commented on #8570
Not first time I see someone ask for pre/post install hook.

[2021-03-02 13:15] uilianries commented on #8570
Unfortunately not, they are empty methods listed in conan, which can be overridden only.

It's not totally clear to me, do want insert new behavior after building a project, or after installing a pre-built package from a remote?

You can try post_build and pre_package if are talking about building a package.

But if you want something related to installing a package from remotes, you can use post_

[2021-03-02 13:25] memsharded commented on #8582
I think it makes sense, could you please have a look and propose a PR if looks good to you @SSE4 ?

[2021-03-02 13:27] SSE4 commented on #8582
do we just need this one variable? sounds narrow, maybe we should allow arbitrary variables to be defined in toolchain instead?

[2021-03-02 13:38] memsharded commented on #8582
I read this one as special, it is a paradigm, that goes together with the xxx-config.cmake files that ``CMakeDeps`` is generating. It makes sense that the toolchain defines that it wants Config files and not Modules, doesn't it?

[2021-03-02 13:38] solvingj commented on #8570
I think I just figured out why this one was tricky.  In spirit, I think the request is something more like:

`post_install_command`

Where the user doesn't want to hook into the `conan install` operation that takes place for each `conanfile.py` in the graph, but rather the completion of the command.

@daravi is that accurate?

If so, we haven't talked about this use case in terms of hooks, maybe w

[2021-03-02 13:42] SSE4 commented on #8582
I am not sure to be honest. there are so many CMake variables which alter CMake behavior in one way or another. I don't see why just `CMAKE_FIND_PACKAGE_PREFER_CONFIG` should be exceptional.

and okay, we may set, but how would users specify its value? is the following enough?
[code]

[2021-03-02 14:41] DoDoENT commented on #7719
In our case we avoided the above protobuf issue by splitting protobuf into two packages: `libprotobuf/<version>@company/stable`, containing only the static libraries (libprotobuf) and `protoc/<version>@company/stable`, containing only the `protoc` executable and cmake helper that consumers can use to simply use `protoc` executable to convert their `proto` files into source/header pairs and compile

[2021-03-02 14:42] memsharded commented on #8582
I understand this should be a default, if our toolchain is going to use Config files. Every recipe should define it (it is a boolean, IIUC, so it would be setting it to ``ON``). There are other CMake variables that the toolchain is defining like

[code]

We could do the counter argument and say that all recipes should do:
[code]
But that seems too verbose, and it would make impossible to use the s

[2021-03-02 14:48] DdOtzen opened #8587 "[question] Fall back dependencies"
**Short**: I am looking for a proper way to have a primary and a secondary dependency. In the way that if primary is not there, then use secondary.

**Long**:
Our product consists of tree parts: Foo, Zum and Baz. Each with sources in its own git repo.
Zum and Baz, are libraries used by Foo.

When a either Zum, Baz and Foo is build from main branch, they are uploaded to stable channel.
When build f

[2021-03-02 14:48] SSE4 commented on #8582
so, if we decide to always define it, how do we pass the value to the `CMakeToolchain`, should ctor accept new argument like
[code]
or should it be just hard-coded to ON/OFF/whatever in toolchain?
in that case, how would users change this value if they want different priority?

I'd say it's similar to [CMAKE_FIND_ROOT_PATH_MODE_INCLUDE](https://cmake.org/cmake/help/git-stage/variable/CMAKE_FIND_RO

[2021-03-02 14:56] solvingj commented on #8582
Again, the first fundamental question is, is this a flag that should be defined by "conan", the "recipe author" or by the "caller of the CLI", or all three with precedence:
- Conan programmatic/generator default
- Author can override default in constructor
- Caller can override default with `[conf]`

I definitely agree that this is "part of a paradigm" where Conan should take a strong position on

[2021-03-02 14:57] memsharded commented on #8587
Hi @DdOtzen

Yes, there are some things to take into account:

- Please avoid the ``run("conan search ...")`` in recipes. Recursively calling Conan is not supported and might lead to unexpected undefined behavior.
- Using channels is not a mechanism for promotions anymore. It was a few years back, when it was not possible to use different repositories.

Now the accepted mechanism (not only in Cona

[2021-03-02 15:08] DoDoENT commented on #7719
Regarding the affection of `package_id` by `build_requires` - maybe the package should tell for itself whether it can influence other packages' ID?

For example, a conan package containing tools like `cmake` or `doxygen` would not alter ID of the package that `build_requires` it.
On the other hand, a conan package containing the toolchain, like `android-ndk` or `emscripten` would alter ID of the p

[2021-03-02 15:10] solvingj commented on #8582
Ok, i see it's new as of Cmake 3.15

[2021-03-02 15:22] DdOtzen commented on #8587
@memsharded regarding the `run("conan...` I agree and Is exactly why I am looking for other solution. ;-)

I will dive into your link and get back.

[2021-03-02 16:17] sourcedelica commented on #8002
I agree that not all consumers have `cppstd` in their profiles.  We don't so far.  It seems to me that the C++ standard belongs to the recipe, not the profile.  I use one profile to build packages with different C++ standard requirements.  Some require C++11, others C++14, others C++17.

[2021-03-02 16:21] sourcedelica commented on #8002
I am currently working on a recipe where some versions of the package require C++11 and later versions require C++17.  It would be good if this tool supported that - for example if `_minimum_compilers_version()` took a `cppstd` parameter instead of using a hardcoded `_minimum_cpp_standard()`.

[2021-03-02 16:42] kakashidinho opened #8588 "[question] Cmake: How to automatically link against a dependency's dependency libraries?"
I have a `conan` project `exeA` depends on:
- `conan` project `libB` which is a static library. Project `libB` in turn depends on:
  -  `conan` project `libC` which is another static library.

In project `exeA`'s `CMakeList.txt`, I link `exeA` against `libB`. For example:
[code]
However, `libC` is not automatically linked, thus symbols required by `libB` are missing.
Is there any option to enforce

[2021-03-02 17:07] sourcedelica commented on #8002
For example:

    def _minimum_compilers_version(self, cppstd):
        standards = {
            "11": {
                "Visual Studio": "15",
                "gcc": "4.8",
                "clang": "4",
                "apple-clang": "9",
            },
            "17": {
                "Visual Studio": "16",
                "gcc": "7",
                "clang": "5",
                "apple-clan

[2021-03-02 18:19] memsharded commented on #8588
Hi @kakashidinho

It depends on which Conan generator you are using. I assume you are using the ``cmake`` one. It has 2 modes of operation, the "global" one with ``conan_basic_setup()`` and the modern targets one with ``conan_basic_setup(TARGETS)``.

The first one is defining a CONAN_LIBS variable, if you want to link all transitive dependencies you use:

[code]

If you are using the TARGETS:
[cod

[2021-03-02 22:59] nichmj01 opened #8590 "[question] Using conan create and cmake on a subfolder"
I have a project where we have the releasable code and test code in a single project/repo but package and distribute the main libraries and the test libraries separately. The test libraries are used by tests in downstream projects. For example:

* projectA/
  * include/
  * src/
  * tests/
    * include/
    * src/
    * conanfile.py
    * CMakeLists.txt
  * conanfile.py
  * CMakeLists.txt
* proje

[2021-03-02 23:56] daravi commented on #8570
That is correct. Then my understanding of post_** was not correct since i don't want this for every node in the graph and just need to add some commands to be run after install is done for devops purposes.

The workflow is as follows:
- Developer locally modifies a dependency and exports the package to local cache
- Developer then re-runs `conan install` on the consuming project
- Developer then n

[2021-03-02 23:57] daravi commented on #8542
Sorry for delay. I will be adding more details to this issue to explain my use case.

[2021-03-03 03:24] solvingj commented on #8570
Ok, in that case, please update the title of your issue to `post_install command hook`, and then add an "edit" section under your original report, clarifying the request. This helps a lot when triaging it later.

[2021-03-03 03:30] solvingj commented on #8536
@memsharded is this one of the known issues with the existing `conan build` command? Have you ever seen a case where running `conan build` once fails, but a second run succeeds?

[2021-03-03 03:31] solvingj commented on #8543
@kakashidinho are you using globals or targets with Cmake/conan?

[2021-03-03 06:13] SSE4 commented on #8498
isn't it the same issue as #8497 ?

[2021-03-03 06:18] SSE4 commented on #8494
looking at the conan code, we use `-mios-version-min` for Catalyst:
https://github.com/conan-io/conan/blob/10e7d5b1e534cc665fa4c403cb560e5de20364d6/conans/client/tools/apple.py#L70
is it possible flags were added by `darwin-toolchain`? could you try without it?

[2021-03-03 07:26] paulocoutinhox commented on #8497
It works with CMake 3.19. I will close.

[2021-03-03 07:26] #8497 closed, assigned to SSE4

[2021-03-03 07:27] paulocoutinhox commented on #8494
Hi,

I already solve it.

Thanks and i will close.

[2021-03-03 07:27] #8494 closed, assigned to SSE4

[2021-03-03 07:50] coldtobi opened #8591 "[feature] tools.PkgConfig should honor $PKG_CONFIG."
(My Version Info: Conan 1.33, pip-installed on Debian unstable)

Many thanks for providing conan! I might have a suggestion how to improve the tools.PkgConfig integration, as it is currently not behaving as expected-by-convention: It is ignoring the PKG_CONFIG env…

The autotools documentation mentions this in [1] that one can specify the pkg-config tool to be used by setting env PKG_CONFIG. It's

[2021-03-03 07:54] ericLemanissier commented on #8415
great trick suggested by @solvingj `-s:b *:build_type=Release` !

[2021-03-03 08:30] kakashidinho commented on #8588
Yes, using `target_link_libraries(exeA ${CONAN_LIBS})` work for me. Thanks.

[2021-03-03 08:31] kakashidinho commented on #8543
Looking at my project, it is using globals in `conan_basic_setup`. It is company's project, so there  are some setup scripts that are not in my control anw.
btw, `set(CONAN_SYSTEM_INCLUDES ON)` worked for me.

[2021-03-03 08:42] #8588 closed, assigned to memsharded

[2021-03-03 10:12] memsharded commented on #8657
Yes, sure, wildcard can be documented properly

[2021-03-03 13:14] uilianries commented on #8543
Hi @kakashidinho that's first time I see it. Actually, the default behavior for me, when using Conan, is with -isystem for cmake generator. As example, let's use gtest recipe when building its test package:

[code]

As you can see, `CONAN_SYSTEM_INCLUDE` is not enabled, but still Conan uses `-isystem` for GTest include folder. I have no sure how, but my guess some other flags affect CMake behavior

[2021-03-03 17:42] memsharded opened #8593 "[feature] Move the definition of CMakeDeps variables to its own file"
- For each dependency, for each configuration, lets create a xxxx-release-x64-data.cmake file that will contain exclusively the variables definitions from the dependencies.
- No logic, no macro calls
- No repeated variables like ``_INCLUDE_DIRS``, ``_INCLUDEDIRS``, ``_INCLUDES``, only 1

[2021-03-03 20:34] MrPointer opened #8594 "[bug] conan config install skips files if ".git" is in the path"
I had set my `CONAN_USER_HOME` env-var to "$HOME/.gitlab-conan" (doesn't matter why).
Later, I ran the `conan config install` command, providing a git repo that stores shared-company config, but that command has appeared to silently fail, or do nothing at all, as the config hasn't been applied, at all.
The configuration repo is properly configured as I've tested it on other environments where cona

[2021-03-03 23:27] memsharded commented on #8582
@SSE4 no need to add anything to the class, just hardcode the ``set(CMAKE_FIND_PACKAGE_PREFER_CONFIG ON)`` in the toolchain.

https://cmake.org/cmake/help/git-stage/variable/CMAKE_FIND_PACKAGE_PREFER_CONFIG.html

Given that the whole proposed CMake integration ``CMakeDeps`` is based in user generated ``xxxConfig.cmake`` files, it makes sense that our own toolchain prefers them by default.

If some

[2021-03-03 23:32] memsharded opened #8596 "Modernize and move tests from test/functional/command"
- Some of those tests are in "functional" just because of ``@pytest.mark.tool_compiler``, even if they are not compiling anything, just because some conanfile has ``settings = "compiler"``.
- They should be moved to ``test/integration/command``
- Removing usages of ``settings = "compiler"``
- Modernizing to pytest might be good, but not necessary

[2021-03-03 23:46] memsharded opened #8597 "Remove removal of "sh" from path for MinGW in CMake"
New conan.tools.cmake CMake helper contains:

[code]

This is no longer necessary, can be replaced by ``set(DCMAKE_SH="CMAKE_SH-NOTFOUND")``. Please remove it and add a red/green test for it.

[2021-03-03 23:51] memsharded opened #8598 "Propose ``cpu_count`` alternative in [conf] for build systems paralelism"
For build helpers in ``conan.tools.xxxx``, the parallelism should be configurable via [conf] (and not ``cpu_count``).

Please propose a solution, some guidelines:

- No need that recipes specify it, not explicitly, not as arguments, and they can default back to whatever the build system likes.
- All build systems can share a "parallel" value, no need to do one per build-system/helper
- Might be di

[2021-03-04 06:30] SSE4 commented on #8582
@memsharded okay, I've added it, as seems like you already have a confidence this is a good thing, so I trust your opinion.

just wanted to make sure my voice is heard, as I have some concerns:

- the flag significantly alters CMake's behavior, so it's different from default. it might be surprising, misleading and confusing for consumers.
- you mentioned `CMakeDeps` generator, but the changes are

[2021-03-04 08:34] memsharded commented on #8583
Hi @Da-LiFe

We have proposed a fix in https://github.com/conan-io/conan/pull/8585. It is targeted for next Conan release 1.35, and it would be easy to include it in a 1.34.1 patch release too. It would be great if you could run from sources from that branch to validate it works in your real case too (the unittest with "test", "TEST" is passing now, but sure you have a more complex case in real li

[2021-03-04 08:39] memsharded commented on #8582
Thanks @SSE4 I think those are valid concerns.

Please @mpusz if you have more compelling evidence why this should be added, please tell (like cases in which the current solution failed).

Team, please vote:

1) Add CMAKE_FIND_PACKAGE_PREFER_CONFIG=ON to CMakeToolchain, users can opt-out via their CMakeLists.txt
2) Add CMAKE_FIND_PACKAGE_PREFER_CONFIG=ON to CMakeToolchain, users can opt-out via CM

[2021-03-04 09:07] jgsogo commented on #8582
My two cents. I agree with @SSE4 that this variable modifies CMake behavior substantially (like others we might consider) and I would prefer to have the full picture instead of adding them one by one. And, by default, I prefer to have the same defaults as CMake does unless it is needed for Conan to work properly.

IMHO, this `CMAKE_FIND_PACKAGE_PREFER_CONFIG` one is related not to the `CMakeToolch

[2021-03-04 09:12] danimtb commented on #8590
Hi @nichmj01,

Do you want to create packages for the tests as well? If not, maybe using your *tests* folder as *test_package* so they are executed at the end of the `conan create` command (Conan uses *test_pacakge* name by default but you can change it with `conan create projectA --test-folder projectA tests`).

Another approach in case you really need to `conan create` the tests would be to spec

[2021-03-04 09:18] memsharded commented on #8572
I guess we can close this one? It seems nothing necessary on Conan code. Please confirm @uilianries @parkertomatoes

[2021-03-04 09:21] memsharded opened #8600 "Discuss future approach for cpp_info.names and cpp_info.filenames"
Coming from https://github.com/conan-io/conan/pull/8568:

- The ``cpp_info.names["cmake_find_package_multi"]`` strategy for custom generators behaviors seem too specific
- Consider using something more generic like ``cmake`` (when this doesn't break for current cmake generator)
- Or a conceptual name: ``cmake_targets_names``, that could be exploited by different generators

[2021-03-04 09:39] danimtb commented on #8591
Hi @coldtobi and thanks a lot for the detailed report.

Indeed, the PKG_CONFIG var seems to be a standard supported by many tools and at first sight your request seems legit. I have opened a pull request implementing this at #8601 but it is something preliminary as we generally we are not adding more features to Conan 1.X (trying to focus on Conan 2 for new features) soi I cannot tell if it will b

[2021-03-04 10:23] danimtb commented on #8594
Hi @MrPointer,

I tried to reproduce your issue but it working fine for me. I set CONAN_USER_HOME to a local cloned repo (with `.git` folder inside it). Then I did a conan config install from a github repo. Conan copied the contents of the github repo to `$CONAN_USER_HOME/.conan` folder as expected.

As you pointed out, the `.git` folder from the github repo is skipped, as you only need the conten

[2021-03-04 11:21] MrPointer commented on #8594
You probably misunderstood me, or the exact scenario I'm describing. I'll try to be more specific 😅

Let's assume I have the following path set as `CONAN_USER_HOME`: `~/.gitlab-conan`
It means that conan would create a `.conan` subdir under this path, resulting in `~/.gitlab-conan/.conan`, under which all the configuration resides.
If you'll try to `conan config install` in this scenario, you won'

[2021-03-04 11:42] uilianries commented on #8572
@memsharded I can confirm, it's a cache/outdated package problem, not a Conan bug.

[2021-03-04 11:53] #8572 closed, assigned to memsharded

[2021-03-04 12:49] mpusz commented on #8582
I agree with @SSE4 concerns as well. However, I believe that this variable was added to CMake in order to fix a long-standing issue with finding dependencies. If a user installs a custom package and provides a path to its configuration files (i.e. via CMAKE_INSTALL_PREFIX) this package should be found by default rather than the obsoleted system one. CMake cannot change the default behavior because

[2021-03-04 12:56] stefaneicher commented on #8322
Hi @memsharded

Thanks for your answer. Sorry for my late answer. We (@mymichu and me) just did not find time to continue our work on the plugin as intended. But we definitely would like to followup with your offer to sync and will contact you in den next weeks.

Regards Stefan

[2021-03-04 13:01] memsharded commented on #8582
So the opt-in is already there (note that it is called ``variables``):

[code]

But still, we need to educate users to (almost) always use this form, or change their CMakeLists to ``find_package(xxxx CONFIG)``
We can define a ``[conf] tools.cmake:find_package_prefer_config=ON``, but we still need to educate the users to activate it in their profiles for correct behavior in case some cmake system m

[2021-03-04 13:02] mpusz commented on #8582
BTW, do we have any important use cases to not use them together? I understand that separation of concerns is important and having the functionality divided into two different classes is great (for Conan developers and maintenance) but I not sure if it helps users. I am teaching C++ for living and I am already providing slides saying to always write `generate()` like this:

[code]

and that forget

[2021-03-04 13:16] memsharded commented on #8582
@mpusz check the ``CMakeGen`` in https://github.com/conan-io/conan/pull/8534. It is basically what you suggest. We are doing first the "building blocks", make sure they work fine, are configurable enough, etc, and we will do higher level abstractions later.

[2021-03-04 13:22] danimtb commented on #8546
Hi @RobvanderMost-TomTom,

I tried to reproduce your case and I couldn't make it work indeed. I have opened a PR providing a test case for that here https://github.com/conan-io/conan/pull/8604. I am not sure if the `base-class` there is similar to what you have, so please comment there in order to have your use case reproduced in that test. I will figure out if that case is supported or not and th

[2021-03-04 14:19] solvingj commented on #8582
@mpusz I would also suggest in your teachings that you be sure to emphasize which things (like these generators) are still experimental. It's great to teach the "cutting edge", especially when it's clear that it's going to be the "new way" soon enough.  But, I suggest highlighting that Conan is a project that evolves, and set the expectations properly.

[2021-03-04 15:01] mpusz commented on #8582
Sure, this is not only for teaching, but mostly to inform customers what to do now to ease the process of migration to Conan 2.0 when it comes.

[2021-03-04 15:12] danimtb commented on #8594
Thanks for the clarification. Do you mean you are installing from that `~/.gitlab-conan` folder as well? I mean, doing something like `conan config install ~/.gitlab-conan/.conan`?

[2021-03-04 16:30] danimtb commented on #8545
Hi @armtir,

Could you please add a minimal reproducible example so I can give it a go from my side? We have tests covering this in different platforms but I don't know what could be the issue here. Thank you

[2021-03-04 16:40] czoido commented on #8548
Hi @daravi,
Thanks for your suggestion. Unfortunately, there's nothing we can do right now to relieve this problem as this would imply changing the API with the server, but right now we are in the process of designing how Conan works with a multi-revision cache and servers and what does updating means in this context. We will have this kind of problems in mind to make the graph resolution with --u

[2021-03-04 16:40] danimtb commented on #8549
Hi @amerry and thank you for reporting this.

IMO that layout seems a bit evil and frankly I understand that the exports fails. Not sure if it is worth supporting that tricky case as we have experienced bad situations with symlinks and we wouldn't like to mess too much with them. If that helps you, instead of using `exports_sources` attribute, you can use `export_sources()` method https://docs.con

[2021-03-04 17:03] MrPointer commented on #8594
No, this is only where I'm installing to. I can't provide the exact git repo that stores my config because it's proprietary, but the full command looks something like this: `conan config install <url-to-git-repo> --type git`

[2021-03-04 17:21] danimtb commented on #8594
@MrPointer I have added a test here https://github.com/conan-io/conan/pull/8605 trying to reproduce your case. It uses a local git repository for simplification but it should work in the same way. Let me know if that is similar enough to issue you described. Thank you.

[2021-03-04 17:29] MrPointer commented on #8594
@danimtb Yeah it seems so, thanks! Just make sure `CONAN_USER_HOME` is indeed set to `.gitlab-conan` (I suspect the `cache_folder` parameter covers this, but just to be sure)

[2021-03-04 18:02] danimtb commented on #8594
yep, the `cache_folder` is the parameter to initialize the Conan class by the `TestClient()` we use for convenience. In the Conan client that logic can be found here https://github.com/conan-io/conan/blob/a0d81b3fa18d57af2eda82203c78c79e09570c7a/conans/client/conan_api.py#L231

[2021-03-04 18:07] danimtb commented on #8546
It seems that this case was not supported with the new python requires syntax as we had a specific case testing that. We are working on a fix in #8604 but we have to consider the implications of it before targeting it for a future release

[2021-03-04 18:46] michaelmaguire opened #8606 "[question] Governance policies for conan-center-index"
In light of recent hacks such as:

https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610 "Dependency Confusion: How I Hacked Into Apple, Microsoft and Dozens of Other Companies"

and older related ones such as:

https://snyk.io/blog/malicious-packages-found-to-be-typo-squatting-in-pypi/

Is there any kind of set of governance policy in place for subdirectory names in https://github.com

[2021-03-04 19:57] memsharded commented on #8606
Hi @michaelmaguire

ConanCenter has some of the strongest policies to get something into it:

- Only pull requests from registered users are built
- Registered users are activated with delay, and human supervision
- Every pull request needs to pass a thorough CI with tons of tests and build in multiple configurations
- Every pull request requires at least 3 human approvals, at least 1 from the mai

[2021-03-04 20:34] solvingj commented on #8581
I will see if this is possible for 1.35 release.

[2021-03-04 20:45] a4z commented on #7892
I think the new `generate` method to make toolchain files can solve that problem, first tests look good
some packages might need to export some environment variables so that can be written into the toolchain file, but thats' fine

so I close that issue, since I think that is solved now. In case of problems I might reopen, or create a new one

[2021-03-04 20:45] #7892 closed, assigned to nobody

[2021-03-05 04:26] Renari opened #8607 "[feature] Allow referencing package recipes from git"
Using NPM you can specify a git repo as remote which a dependency will be retrieved from.

e.g.
[code]

This will add this git repo as a dependency and when you run `npm install` it will checkout the repo build it and export it to your cache.

I'm proposing similar functionality in conan, this would obviously not support prebuilt versions.

- [x] I've read the [CONTRIBUTING guide](https://github.c

[2021-03-05 07:03] coldtobi commented on #8591
@danimtb I've just tested your PR and can cofirm that it works! Thanks for the quick reaction!

I've been reading the PR, but please note that I'm not experienced in python at all, so this might be /me applying C++ logic to Python and my comment might be plain wrong:

`        self.pkg_config_executable = pkg_config_env or pkg_config_executable `

Does that mean that the PKG_CONFIG get preference

[2021-03-05 09:11] mpusz commented on #8582
One additional point for the discussion here. Of course, we can do `tc.variables["CMAKE_FIND_PACKAGE_PREFER_CONFIG"] = ON` but in most cases it is not necessary. By this I mean, Conan package creators are often well aware of the Conan "issues" and they will use `find_package(A CONFIG REQUIRED)` in their CMake files anyway. It means that those users do not need this feature at all.

The people that

[2021-03-05 10:42] ysmaoui opened #8608 "ignoring all folders that have .git in them even if the .git is not at the end of the path"
This implementation
https://github.com/conan-io/conan/blob/a5c994186014c9cd29529ad64baecf15215f0182/conans/client/conf/config_installer.py#L133
causes the following issue

if a path of the config folder contains ".git" even not at the end of the path, it will be ignored

for example this path will be ignored

"/this/is/a/path.git/to/the/config/folder"

[2021-03-05 11:03] michaelmaguire commented on #8606
Thank you!  Relaying that message back now.

[2021-03-05 11:18] danimtb commented on #8594
please, let me know if you managed to solve the issue as I am not able to reproduce it from my side. Thanks!

[2021-03-05 11:29] czoido commented on #8608
Hi @ysmaoui,
Thanks a lot for reporting, this is a duplicate of https://github.com/conan-io/conan/issues/8594
We have a test to reproduce the issue: https://github.com/conan-io/conan/pull/8605
Please, let's continue the discussion there. I'm closing this one.

[2021-03-05 11:29] #8608 closed, assigned to czoido

[2021-03-05 11:39] MrPointer commented on #8594
@danimtb I've simply removed the dot from the dir's name, becoming `~/gitlab-conan` instead of `~/.gitlab-conan`, but it doesn't really solve anything, does it?
I'll see if I can solve it myself, but I can't promise that I'll have time for it in the upcoming days 😕

[2021-03-05 12:59] #3030 closed

[2021-03-05 13:00] danimtb commented on #8594
Seems that the issue is legit. We have updated the test at #8605 and it fails as you reported and now I understand better the issue. Thank you!

[2021-03-05 14:58] DoDoENT commented on #3573
Oops, Microsoft [did it](https://developercommunity.visualstudio.com/t/the-169-cc-compiler-still-uses-the-same-version-nu/1335194#T-N1337120) [again](https://developercommunity.visualstudio.com/t/how-to-select-vs-168-compiler-with-vcvars-after-up/1359197?from=email) 🤦‍♂️

[2021-03-05 15:52] akalali commented on #7636
I made some progress:
- changed
[code]
to
[code]
and now the ITKConfig.cmake-file is not automatically generated by Conan. Instead I'm relying on the conanbuildinfo.cmake.
This works, the correct ITK inside my `C:\.conan\...`-director is found and the `UseITK.cmake`-file is used (see https://github.com/conan-io/conan-center-index/issues/4712#issuecomment-791345711).
However, this only works with m

[2021-03-05 17:00] danimtb commented on #8591
@coldtobi yeah, that is the question we got as well. Probably we will have to go with the `global.conf` way https://docs.conan.io/en/latest/reference/config_files/global_conf.html instead and maybe provide a syntax there so the user is able to specify the $PKG_CONFIG env var value to have full flexibility

[2021-03-05 18:59] DdOtzen commented on #8587
I get the idea of using different repos for different stages of maturity, not a stupid idea at all:-),

We generel have 4 stages
- feature
- develop
- maturity
- release

On maturity and release we will start using either hardcoded specific versions or lockfiles.

But when building on the develop branch downstream, we just want the latest on develop from upstream packages. That I also see how to d

[2021-03-07 09:34] mekanix opened #8609 "[feature] Upgrade PyJWT"
I noticed PyJWT is pinned to versions below 2. As PyJWT-2.x has breaking changes, it is not just matter of changing "2" to "3" and call it a day. I was wondering if there are any plans to support PyJWT-2? Naturally, I'd like to help.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-07 13:51] SpaceIm commented on #8561
No, private conan requirements are not propagated, they are not as smart as CMake private/public/interface mechanism.

The only case I see where you can safely use private conan requirement is:
the recipe builds a shared lib, and its "private" dependency is static or header-only (as well as all its own dependencies, recursively)

[2021-03-08 04:54] alexisfrjp opened #8611 "[bug] linker error when using the fmt library from Conan"
* **Centos 7** and the `devtoolset-8` => works
* **Centos8 Stream + Conan** and gcc8 => doesn't work
* **Centos8 Stream + c++ fmt lib header-only (without Conan)** and gcc8 => works

### Conan 1.34.0
[code]
### Error message:

* Is it a fmt problem?
* Is it a Conan problem?

[2021-03-08 09:36] gallencalade commented on #4407
Hi, I am a little confused. Could you tell me the design principle of that version is prefer priority? Why does conan not consider the setting first? Thank you. @memsharded

[2021-03-08 10:22] dvirtz commented on #4968
setting the editable package to a high version does not work for me. looking at  the code in https://github.com/conan-io/conan/blob/a0d81b3fa18d57af2eda82203c78c79e09570c7a/conans/client/graph/range_resolver.py#L121-L125 I don't understand how it could work, as local cache is not considered if any valid version is found remotely.

[2021-03-08 17:25] uilianries commented on #8611
It's seems be a profile problem. Please, make sure your libcxx is configured correctly.

More info: https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html#manage-gcc-abi
https://docs.conan.io/en/latest/getting_started.html (Step 5)

[2021-03-08 19:24] solvingj commented on #8609
We have no plans to upgrade PyJWT at this time. If a compelling reason to switch arises we would certainly consider it, but arbitrarily bumping dependencies can have adverse impacts on Conan users who often use Conan in conjunction with a bunch of other python tools and scripts. They might share dependencies and have versions of various packages pinned for various reasons in their environments.

[2021-03-08 19:49] mekanix commented on #8609
I do understand compatibility issues, but upgrade has to happen once as pyjwt-1.x is not maintained, if I understood right. Anyway, if/when you decide to upgrade PyJWT I would be glad to help.

[2021-03-08 21:02] memsharded commented on #8609
More data: https://pyjwt.readthedocs.io/en/stable/changelog.html

PyJWT is Py>3.6 only. That would restrict its usage for Conan, at least until Conan 2.0, not possible to upgrade it atm

[2021-03-08 22:10] FunMiles opened #8615 "Support detection/configuration of intel oneAPI compilers on Mac OS"
The intel compilers are now free with the oneAPI download.
Trying to create a conan configuration on my mac failed and I have no idea on how to get around the problem.
Would it be possible to correctly support this configuration?
[code]

[2021-03-09 00:10] boussaffawalid commented on #8561
Does it make sense to add an ability to specify non transitive deps to the conan requires method.
Something like:
[code]
Ultimately all deps should be public, but there should be a way to define non transitive deps as currently all public deps are
transitive.

[2021-03-09 01:50] gallencalade opened #8616 "Hi, I am a little confused. Could you tell me the design principle of that version is prefer priority? Why does conan not consider the setting first? Thank you. @memsharded"
Hi, I am a little confused. Could you tell me the design principle of that version is prefer priority? Why does conan not consider the setting first? What headaches?

Expect your reply, Thank you.

_Originally posted by @gallencalade in https://github.com/conan-io/conan/issues/4407#issuecomment-792621944_

[2021-03-09 02:00] alexisfrjp commented on #8611
It works... I forgot to set up that to my new centos 8.
I don't understand why Conan uses the old ABI version by default... I believe the big majority uses gcc >=5.
Thanks @uilianries !

[2021-03-09 02:00] #8611 closed, assigned to uilianries

[2021-03-09 06:12] PengolodhGoedath commented on #8561
Is `MyLib` a shared library (DLL)? If not, then the final application will have to link against its dependencies, otherwise it likely won't work as intended.

With that out of the way, if `MyLib` is indeed a shared library, then there is no reason for the final application to link against its dependencies (unless the final application uses them directly).

In either case, whether to link or not, i

[2021-03-09 07:24] SSE4 commented on #8615
does it work with `CONAN_V2_MODE`?
[code]

[2021-03-09 07:55] blockspacer commented on #6651
With 1.34.0 and self-signed certificate (corporate certs) had to patch `self._verify_ssl = False` in ~/.local/lib/python3.8/site-packages/conans/client/downloaders/file_downloader.py

Is it possible to change `self._verify_ssl` using `~/.conan/conan.conf` or command-line flags?

[2021-03-09 08:14] boussaffawalid commented on #8561
We use conan cmake/cmake_multi generators with `TARGETS` for simplicity so that we only link against against one target `CONAN_PKG::<PKG-NAME>`. However this is problematic as:
* `CONAN_PKG::<PKG-NAME>` define all shared conan dependencies as transitive dependencies by defining the cmake property `INTERFACE_LINK_LIBRARIES`.
* Some of our packages defines multiple libraries and sometime we don't wa

[2021-03-09 10:40] #8583 closed, assigned to memsharded

[2021-03-09 10:44] memsharded commented on #8583
Hi @Da-LiFe

This is merged and planned for release 1.35. Please let us know about your upgrade plan, to see what backports might be possible.

[2021-03-09 11:13] akalali commented on #7636
So this seems to be not the recommended way. [Here](https://github.com/conan-io/conan-center-index/issues/4712) it was said that there is a reason for conan-center packages to not include the config-files in the package. So a PR was opened to address the issue with the missing `UseITK.cmake`-file (I just realized, this was already mentioned [here](https://github.com/conan-io/conan/issues/7636#issu

[2021-03-09 11:49] leha-bot opened #8619 "[feature] [Conan v2] Rename --[source|build|install|package]-folder flags to --[source|build|install|package]-dir"
I suggest to make flags a little more consistendt with e.g. CMake, Unix/Windows utilities and to rename all "folders" to "dirs", as "folder" is more related to GUI grouping element (as was defined in Xerox GUI desktop metaphor, see https://en.wikipedia.org/wiki/Directory_%28computing%29#Folder_metaphor ).

Thank you!

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/

[2021-03-09 12:09] uilianries commented on #8611
That's well explained on [Manage GCC ABI](https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html#manage-gcc-abi):

It should be changed on Conan 2.0. `libstdc++11` will become the default one.

[2021-03-09 12:13] alexisfrjp commented on #8611
Thank you @uilianries !

[2021-03-09 12:52] memsharded commented on #8619
Thanks for the suggestion. We will consider this into Conan 2.0, but it is important to highlight that we will try to minimize the breaking changes. There will be, for sure, but if we can reduce them, we will try, and this might not be accepted for being mainly a cosmetic change.

[2021-03-09 16:09] sourcedelica commented on #6651
Have you tried setting the `CONAN_CACERT_PATH` environment variable or `cacert_path` in `conan.conf`?  It should be set to the CA bundle containing your corporate certificate.   This works in our environment where the proxy uses a custom cert for SSL.

[2021-03-09 16:29] at185190 opened #8623 "Android compiler.libcxx=c++_shared not respected"
**_Updated, actually issue is different than described here before_**
This is happening when cross building for android from windows using android.toolchain.cmake as per recommended way of building android and also when building using existing ndk toolchain : https://docs.conan.io/en/latest/integrations/cross_platform/android.html#using-existing-ndk approach

When building with android.toolchain.c

[2021-03-09 17:59] DukeOfKirkcaldy opened #8624 "[question] Is there a way to know if the download_cache is working?"
After enabling the download_cache I don't see that much of a difference in time taken to populate the cache.  I want to be sure it's working but I don't see anything in the output that would indicate this:

[code]

It would be useful to get a different message when things are copied from the download_cache rather than downloaded from a remote.

[2021-03-09 18:35] uilianries commented on #8235
We rarely see "ON" "OFF" listed in conanfile.py, and still more rare are the cases where True/False don't work. Usually newbies use "ON"/"OFF", but they don't know about boolean support.

Currently, we have follow projects:

[code]

We could use a hook to enforce True/False, but we would need update the whitelist when finding a project which uses string compare for CMake options.

[2021-03-10 05:35] blockspacer commented on #6651
@sourcedelica

[code]

didn't work (so i had to disable SSL). Maybe it is bug?

Note that MY_CORP_CERT.crt and MY_CORP_CERT_pem.crt are valid (without them other apps like Flatpak does not work)

Also issue related to https://github.com/conan-io/conan/issues/2460#issuecomment-364961479

[2021-03-10 10:54] DdOtzen commented on #8411
I like to join the choir.
I have a similar problem, with set_version method.
In conjunction to introducing git and new build setup, we started to get the version based on git tree, this works fine.
But for back-compatibility reasons we need the option to use legacy versioning method in some builds
I wanted to to use options to tell conan to use legacy versioning, or after reading this thread the -