[2020-05-26 21:32] fulara commented on #7101
I think I got into this bad state because I ctrl+c after one of my builds failed, or maybe I have ctrl+c'd into it.

Anyway I am closing the ticket - just wanted to inform you that this sort of thing has hasppened! :)

[2020-05-26 22:01] SpaceIm commented on #7098
How ! Thanks a lot. I missed that. It's exactly what I was looking for.

[2020-05-26 22:01] #7098 closed, assigned to memsharded

[2020-05-26 22:40] gnac opened #7102 "[question] export_sources wildcards"
I am trying to create conan packages for some legacy software that has an extremely convoluted source folder hierarchy. I have gotten conan to use cmake files to "install" and "build" the project and its dependencies, but I cannot get conan "create" to work. I currently need to use conan 1.19.1,

When exporting my sources, I can use

    exports_sources =  "../../CMakeLists.txt", "../../src*"

but

[2020-05-26 22:58] fulara commented on #7101
Just a final comments here,  @memsharded
You can get into this state by pressing 'Ctrl+C'.
This is unrecoverable state it seems - I tried to:
[code]
But it still didnt help.

There is no 'locks' directory or the locks file.

[2020-05-26 23:22] Minimonium commented on #7068
I think it's better to look in the direction of uplifting "best practices" from `conanfile.py` usage into a conventional syntax in the `conanfile.txt`. Reducing the amount of boilerplate should be a long-term priority.

We could even have some basic conditional requirement like this https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#platform-specific-dependencies

[2020-05-26 23:35] sboehmann commented on #7086
Ah, I guess I wasn't clear. In fact, I'm looking for a solution for external third-party packages we use, so really comparable to conan-center-index. I.e I also try to build a lot of external third party libraries here. Therefore the source code does not change here either.

For our own code, your're absolute right. A top-bottom will not scale. But for external third-party libraries, I first want

[2020-05-26 23:39] memsharded commented on #7086
I see. Cool, lets invoke @jgsogo and @danimtb which are building some CI in conan-center-index right now to tackle a similar problem.

[2020-05-27 06:41] climblinne commented on #7100
@memsharded : Thanks for the package id.

I don't want to capture the information from the dependencies. For the information about the dependencies I would use the package_id.

Until now I got the following version scheme in our workflow:

[code]
 [major.minor. patch, (dev,rc, release + build) + information about branch & git commit id)

Now I want to change my CI/CD workflow following your ideas

[2020-05-27 07:16] BrianBloemendal opened #7103 "Example for editable feature not working under Linux"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubunto 20.04 LTS (Windows Subsystem for Linux)
  * Compiler+version: gcc version 9
  * Conan version: 1.25.2
  * Python version: 3.7.0
  * CMake version: 3.16.3

### Steps to reproduce (Include if Applicable)

I'm following the example on https://docs.conan.io/en/latest/developing_packages/editable_packages.

[2020-05-27 07:49] jgsogo commented on #7086
Hi! As any package manager, Conan builds the graph from the application to the dependencies, a package declares its requirements, doing it the other way around would be impossible. Thus, building the inverse dependency graph is challenging, and it is even more challenging in our use-case because the graph is different depending on the profile.

IMO there are two scenarios:
 * In ConanCenter, what

[2020-05-27 09:23] tru opened #7104 "[bug] Deploy generator messes up when you have two levels of symlinks"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: n/a
  * Conan version: 1.25.2
  * Python version: 3.6.4

### Steps to reproduce (Include if Applicable)
Deploy a package where you have symlinks in two levels:
[code]

that broke because b was written before c was written and it tries to make a hash of it for the manifest:

### Lo

[2020-05-27 09:35] fschoenm commented on #6268
Any progress here? I still have this problem from time to time with the latest conan version (1.25.2).

[2020-05-27 10:03] nioncode commented on #6345
I'm also very interested in something like this.

Let me briefly describe my (simplified) use case: I build a library that consumes `libcurl`, which itself requires `openssl` (though I don't care about this transitive dependency from my program point of view). When I now `conan install` at different times, I will get different `openssl` versions, since the `libcurl` recipe regularly gets updated t

[2020-05-27 10:28] memsharded commented on #7102
Hi @gnac

We are adding full ``export()`` and ``export_sources()`` methods to the recipes in this release: https://github.com/conan-io/conan/pull/6945

You will be able to model with them the directories bases with the ``self.copy("*.cc", src="../../src")``

The problem with the attribute model is that for folders above the current one, there is no way to differentiate between the pattern and the

[2020-05-27 10:29] jgsogo commented on #7061
I think it is not available in the `conans.tools` module. I agree that file is a mess and we need to make something to improve that implementation, but we really don't know how to deal with those global objects.

[2020-05-27 10:55] jgsogo commented on #7061
@SSE4 , Another important point. We are trying to provide more uniformity for all the tools, the idea is that all of them take the conanfile object as the first argument, so the exposed interface for this tool should be `tools.msvc_toolset(conanfile=self)` when used in a recipe.

This is totally needed for some tools/build-helpers, and for others it makes it easier to get access to `conanfile.outp

[2020-05-27 11:03] memsharded opened #7105 "Reorganize tools"
The current tools approach has some issues:

- Internal code ugliness, due to global objects (output, requester, being globally managed: https://github.com/conan-io/conan/issues/4933)
- No clear import and usage pattern. Some are ``from conans import CMake, load``, but ``save`` is ``from conans.tools import save``.

There are few alternatives:

- Use a conanfile attribute object:
[code]

- Import

[2020-05-27 11:42] braindevices commented on #7081
But still, the system_requirements() need to return some string, what the string is about?

[2020-05-27 11:48] TheQwertiest commented on #7105
My (zero-weighted) vote: solution 2.
Solution 1 and Solution 3 are not good for the same reason: some tools do not require `ConanFile` at all, so it doesn't make much sense to drag `ConanFile` object or definition in places where it's not needed at all (e.g. `tools.files.save()`).

[2020-05-27 11:51] braindevices opened #7106 "[question] is there any way to generate required system package list?"
Can I get a list of required system packages from a conanfile.txt with out build/install, which have a set of required conan packages requiring system packages, for certain setting?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-05-27 12:35] SSE4 commented on #7061
@jgsogo  while I like uniformity, don't you feel it's too much to pass conanfile if it only requires settings? it sounds a bit like a unfortunate design for me, e.g. passing **jungle** if you only need **bananas**.

[2020-05-27 12:53] jgsogo commented on #7105
I'm not sure if adding scope to the tools is something we should do, it would make it difficult to find the tools. I mean, from the user POV, I prefer `tools.save` over `tools.files.save`.... so I don't need to check the documentation every time I want to use a tool.

About the main issue here, I like option (2), but I'm not sure if it will require too much monkey-patching (keep in mind that it ca

[2020-05-27 12:56] memsharded commented on #7105
Until you want ``save()`` to be able to emit a warning because it is overwriting an existing file, for example, that looks like:

[code]
Then you really need the ``save()`` method to have access to the ``conanfile`` to get the ``pkg/0.1@user/testing``.

I agree, I don't love it. I don't love any of the alternatives, because they are either a bit ugly on the UI side, or quite ugly on the codebase s

[2020-05-27 12:56] jgsogo commented on #7061
I agree with that principle, but from the user POV I think it would be easier if all the tools and build helpers just receive `self` as the first argument, no need to think, no need to check docs,... in this case I prefer uniformity over correctness.

I asked memsharded to open an issue to talk about this: https://github.com/conan-io/conan/issues/7105.

[2020-05-27 13:09] TheQwertiest commented on #7105
There goes my ideal world... >_<

Well, `load` is a kinda ambiguous name and might be needed in the future for other purposes, so, IMO, it should be either namespaced or prefixed/suffixed: `file.load`, `file_load` or `load_file` or maybe even `read_file`. But I don't think that this is the main point of this issue =)

[2020-05-27 13:18] uilianries commented on #7081
By default, it returns nothing. The string is a content to system_reqs.txt which is stored by package id, so again, it's empty.

As you are reading the source code, you can check it here: https://github.com/conan-io/conan/blob/174d6d529a455763a1457620e89faeb985521aef/conans/test/integration/system_reqs_test.py#L57

Is there any specific usage for your scenario?

[2020-05-27 13:25] uilianries commented on #7106
No. System requirements are under system_requirements method only, there is no external way.

As Conan does not recommend system requirements because it's hard to track, follow the same behavior, and created a lot of problems in the past, probably this feature will create more problems than helping.

[2020-05-27 14:03] memsharded commented on #7105
yeah, that is the thing, I don't like it either, but it is pragmatic and future safe proof.

Agree, the prefix is a different conversation, we can discuss that later.

[2020-05-27 14:38] #6943 closed, assigned to nobody

[2020-05-27 14:38] #7102 closed, assigned to nobody

[2020-05-27 14:42] memsharded commented on #6474
The export_sources() method has been implemented in https://github.com/conan-io/conan/pull/6945, so I think this can be closed now.

A different story is that this method is a valid place for capturing sources from internet origin. We have discussed about this and our take:

- Impossible for ConanCenter. We do ``conan export`` many times to evaluate graphs, etc. If every export does capture source

[2020-05-27 14:42] #6474 closed

[2020-05-27 14:43] memsharded commented on #7102
The methods #6945 PR have been merged ,will be available in 1.26 early next week, please do try them and report if they solve your issue. Thanks!

[2020-05-27 14:45] memsharded commented on #6356
With this and the ``set_version()`` methods (were added later than this issue), I think this issue can be closed, but please re-open if I am wrong. Thanks!

[2020-05-27 14:45] #6356 closed

[2020-05-27 14:50] memsharded commented on #6995
Please upgrade to Conan 1.25.2 and check if the issue is solved. Thanks!

[2020-05-27 14:57] memsharded commented on #6876
We have merged https://github.com/conan-io/conan/issues/6943, which provide support for methods. but please read: https://github.com/conan-io/conan/issues/6474#issuecomment-634708971

As the changes might be more part of the infrastructure of ConanCenter at the moment (the complexity of the feature, that involves changing server-side and protocols, would be excessive for the value), it is impossib

[2020-05-27 15:12] memsharded commented on #7039
Had a look, and can confirm:

- the ``self.cpp_info.names["cmake_find_package"]`` correctly modifies the cmake name, both for the filename, the find_package and the target, to match the upstream (cmake) behavior
- If this is not the case, then it is a recipe issue, should be reported to conan-center-index or to the package maintainer, so they provide the correct ``self.cpp_info.names["cmake_find_p

[2020-05-27 15:12] #7039 closed, assigned to memsharded

[2020-05-27 15:23] #6905 closed, assigned to jgsogo, meggamind

[2020-05-27 15:41] SpaceIm opened #7109 "[question] AutoToolsBuildEnvironment: add -stdlib in LDFLAGS if clang?"
With `AutoToolsBuildEnvironment`, I've noticed that `-stdlib=libc++` was missing in `LDFLAGS` while trying to make GDAL recipe works in CCI.
Therefore, GDAL fails to build executables if `clang` and `libc++` on Linux (and shared lib build thanks to some dependencies passing `-lc++` (C++ lib with C API) in `LIB` I think).
As a workaround, I've added `CXXFLAGS` to link commands creating executables

[2020-05-27 15:46] danimtb commented on #6718
Hi @syoliver and thanks a lot for pointing me to your branch!

In fact, there are some good ideas there.

I have opened a new PR #7108 with my implementation using a jinja2 template. It will be great if you could review it or even try my branch from your side 😄

[2020-05-27 17:12] MarcelRaad commented on #7064
The oldest one I'm using is 3.11 on RHEL 8. Otherwise mostly 3.15.

[2020-05-27 17:12] prince-chrismc commented on #6876
I agree, meeting this use case is very complex. I believe the work from #6943 is a great improvement. I am sure in the future this issue will be closed but for now removing the 1.26 milestone is good.

I think the only impediment, for many of the related issues, is the absence of settings/options. Without knowing the version there is little option for downloading sources.

However with the increas

[2020-05-27 21:20] johnmcfarlane commented on #7039
@memsharded thanks for taking a look. However, I'm still a little confused. With recipe

[code]

the command

[code]

writes the file, _Findgtest.cmake_, with Conan 1.25.2. It seems like we agree that this is the wrong name and that it's not a problem with the package.

Again, I'm not blocked and was merely curious. But what would I do to work around this problem in future?

[2020-05-27 22:34] memsharded commented on #7039
Hi @johnmcfarlane

You are using the old recipe, not the updated one from ConanCenter. Use:

[code]

Updated recipes, created with the automatic build service of conan-center-index do not use "@user/channel" part.

This new recipe will produce the right filenames and targets with ``GTest``.

[2020-05-27 22:57] braindevices opened #7110 "[question] why there is no requires field in cpp_info?"
In pc file, we can define requires field. I want to put this in pc file generated by pkg-config generator. But there is no such field. The Requires field seems only get filled by the required conan package. So far the work around is to add them to libs. But why not give user freedom to add the Requires? Some of them might from system packages.
- [x] I've read the [CONTRIBUTING guide](https://githu

[2020-05-28 01:36] xyz1001 opened #7111 "[question] Any way to skip dependency install"
Is there any way to skip install dependencies of a conan library? For example, my app depends libA/1.0.0(shared), and libA/1.0.0 depends libB/1.0.0(static). There is no need to install libB, and sometimes the depends chains is very long, which take lots of time to install(especially some huge lib such as boost).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/devel

[2020-05-28 07:19] jgsogo commented on #7039
As a side comment, you might find really useful the `markdown` generator:

[code]

It generates a `gtest.md` file, it is a plain text file that you can open with any IDE and (if you have a plugin to render markdown) it will offer you a nice document with all relevant data:

![_Users_jgsogo_dev_conan_conan_gtest md](https://user-images.githubusercontent.com/1406456/83111050-49c67b00-a0c4-11ea-8cae-

[2020-05-28 07:46] jgsogo commented on #7111
Hi! No, there is no current way to do it. This is something I would like to consider for Conan v2 with an improved graph model, but right now Conan retrieves the full graph of dependencies with the packages matching your configuration.

[2020-05-28 07:47] ericLemanissier commented on #6771
I may have another use case for this: changelogs. As @EugenMayer rightfully pointed this out in https://github.com/bincrafters/community/issues/1205#issuecomment-635128946

[2020-05-28 07:50] #7111 closed, assigned to jgsogo

[2020-05-28 07:55] jgsogo commented on #7110
Hi, @braindevices!

I'm not very familiar with pkg_config files, but I would expect the `Requires` field in the file generated by Conan to list the dependencies, is it not the case? Why do you want to add to that field?

If you want to add other dependencies that are not Conan packages, there are other approaches: you can create a proxy recipe that doesn't compile or package the library, that reci

[2020-05-28 08:05] jgsogo commented on #7109
I think this is something for the recipe, isn't it? It is something needed only for C++ libraries with a C API or for C libraries linking to C++ ones. IMO it is is something that only the recipe knows as it depends on the library being packaged and/or required.

Probably I'm missing something so I'd more details.

Thanks!

[2020-05-28 08:08] jgsogo commented on #7106
Is this about `system_requirements` or the list of libraries listed in `cpp_info.system_libs`?

[2020-05-28 08:16] SpaceIm commented on #7109
No, I shouldn't have talk about C++ libraries with C API. GDAL has a complex dependency tree but it's unrelated. It's just that, as a lucky side effect of some dependencies propagating `-lc++` (thanks to a trick used in the recipe of those dependencies), the issue I describe did not occur while creating the shared lib of GDAL, but afterward when it tries to create GDAL's executables, because `-std

[2020-05-28 08:23] GrimSqueaker commented on #7064
CMake 3.11 is the oldest that we use in some builds, because VS 2005 (don't ask...) support was dropped in CMake 3.12.

[2020-05-28 08:33] jgsogo commented on #7104
Hi! The manifest is computed after all files have been copied https://github.com/conan-io/conan/blob/41afc0e355caabdbc9d3ed42badb2b47dcbccdae/conans/client/generators/deploy.py#L56

So it has to be a bug while copying the files or assigning the symlinks. Maybe we have introduced a bug in this PR (https://github.com/conan-io/conan/pull/7044) merged into `1.25.2`. Probably the file they are linking

[2020-05-28 08:40] Mirko-von-Leipzig opened #7112 "[question] CMake variables without calling conan build"
We use the CMake generator with targets i.e.
[code]
We keep our `conan build` as bare bones as possible i.e.
[code]
This allows us to utilise our IDE's CMake support during development i.e. we can
1. conan install
2. use the IDE to re-build / integrate intellisense etc

This works great.
Otherwise we need to call `conan build` each time, which recompiles and is therefore slow.

We now have a situa

[2020-05-28 08:45] jgsogo commented on #7103
Hi!

I think that the issue is that you are not linking the `hello` application with the modified `say` library. As it is a static library you need to link with it again.

Try to clean the build system files before compiling again:

[code]

Let me know if it works this way, maybe we should add this notice to the docs, but if this is the issue, there is nothing we can force on the Conan side.

Than

[2020-05-28 09:08] memsharded commented on #7112
Hi @Mirko-von-Leipzig

We are aiming to introduce this as experimental for next release: https://github.com/conan-io/conan/pull/7076/files

It is the "toolchain()" feature. It will allow to generate a toolchain file with your variables for better build-system native integration

[2020-05-28 09:10] BrianBloemendal commented on #7103
Hi Jgsogo,

Thank you. Indeed, make clean && make works.
I would have expected / hoped that make would automatically discover that libsay.a is updated (this works on Windows). Now you also have te recompile the sources in the hello project.

Is there a way to force only re-linking, or make make automatically discover the updated libsay.a?

Thanks!

[2020-05-28 09:17] jgsogo commented on #7091
Hi!

Environment variables that are declared in the profiles for each context are intended to affect packages on that context only, the only ones that are propagated from build context to host are the ones declared by packages and the ones related to runtime.

I think that this feature request is tightly coupled to the Meson integration in Conan, probably it is better if we work together in that i

[2020-05-28 09:34] jgsogo commented on #7090
Hi! I've opened a quick PR. The newline was being printed only for the `99%`->`100%' step, now it is printed when it finishes unzipping all files.

This change shouldn't break anything else, it is just a cosmetic one.

[2020-05-28 10:15] #7090 closed, assigned to nobody

[2020-05-28 10:26] jgsogo commented on #7103
I'd expect it too. I suppose you can edit the Makefiles and add that dependency, but I think it is something to improve on the CMake side, it should generate the files with all the proper dependencies.

[2020-05-28 10:31] Mirko-von-Leipzig commented on #7112
Ah great, thank you!

[2020-05-28 10:31] #7112 closed, assigned to memsharded

[2020-05-28 10:33] memsharded commented on #7112
Looking forward to hearing your feedback when it is released :)

[2020-05-28 10:38] jgsogo commented on #7089
Hi, according to this table: https://en.wikipedia.org/wiki/Xcode#9.x_series, clang 9.1.0 uses LLVM 5.0.2 and `-std=c++17` flag is available (https://releases.llvm.org/5.0.0/tools/clang/docs/ReleaseNotes.html) so it should be complete.

Maybe something wrong with the `libc++` in the Macos images?

🤔

[2020-05-28 12:00] Jamaslab opened #7114 "[question] undefined reference on test_package"
I'm currently getting an undefined reference issue when compiling the test_package. I followed the same procedure with other libraries and this was not happening.

I have the following conanfile.py
from conans import ConanFile, CMake, tools
import os
import shutil

[code]

The example.cpp file
[code]

and the CMakeLists.txt
[code]

When i launch `conan create .` everything compiles correctly but I

[2020-05-28 12:00] TheQwertiest commented on #7091
@jgsogo , I have a branch I'm working on, but it's still very early work in progress (it won't probably even compile at this point of time): https://github.com/conan-io/conan/compare/develop...TheQwertiest:feature/meson_toolchain

Things of note: this would be a separate meson integration from the current one, since it will work very differently in regards of handling env vars and cross builds and

[2020-05-28 12:05] braindevices commented on #7106
@jgsogo `system_requirements()`. But I have no idea what is system_libs, where should I use it? Should I set the system_libs manually?

[2020-05-28 12:13] jgsogo commented on #7106
`cpp_info.system_libs` are those low-level libraries from the system you need to link to compile your application, like `m` or `pthread`. You can see that there are many recipes in ConanCenter that require them ([link](https://github.com/conan-io/conan-center-index/search?q=cpp_info.system_libs&unscoped_q=cpp_info.system_libs)).

`system_requirements` is more for libraries you install using other

[2020-05-28 12:28] BrianBloemendal commented on #7103
Should this then be converted into a feature request?

[2020-05-28 13:05] madebr commented on #7089
Indeed, it's the incomplete libcxx that is causing problems.
9.1 supports the -c++17 flag.
So amending the comment in cpp_flags.py, would be fine.

[2020-05-28 14:06] JD31 commented on #6889
I confirm it works

[2020-05-28 14:22] jgsogo commented on #7103
Probably yes, but it should be a feature request for CMake 😄  (even a bug if it already works for other generators)

[2020-05-28 14:24] jgsogo commented on #6889
Yes, this is one of the reasons I usually recommended listing the libraries over `collect_libs()`. I understand it is a handy tool, but it needs the libraries to be already generated, otherwise.... well, it will find nothing 🤷

[2020-05-28 14:24] jgsogo commented on #6889
Shall we close this issue? Do you think this is something to add as a warning/note to the Conan docs about `collect_libs`?

[2020-05-28 14:27] kshpytsya opened #7115 "[feature] AWS S3 remote"
In our team, we have previously successfully used Conan with a self-hosted remote running on a dedicated AWS EC2 instance. The problem is that at our scale (we currently use Conan for a couple of our stable proprietary libraries which get a new release at most once a month or so), having a dedicated server running Conan is an unjustifiable expense, esp. considering the fact that running Conan on t

[2020-05-28 15:12] jgsogo commented on #7114
Hi!

It is a linking problem, it looks like the library you are linking with `ompl` doesn't expose some symbols... I would need to reproduce your build to investigate it. Which OS are you running? How is the profile you are using?

[2020-05-28 15:21] jgsogo commented on #7115
Hi, @kshpytsya

Is it an option to use Artifactory? It is not only that it works, but it is the recommended server to use with Conan, the integration is up-to-date. There is a [free Artifactory CE for C/C++](https://conan.io/downloads.html), it fully supports Conan repositories, you can use it as long as you want without limitations. If it fits your needs, [other licenses include support for AWS S

[2020-05-28 15:44] JD31 commented on #6889
I think that the documentation about "editable package" must be updated to precise this.
One last thing the libs name may change according to the build mode (according to <CONFIG>_POSTFIX). It could be interessing to have a method to automatically transform a given lib name by the final name (and to allow this treatment for a whole array would be nice).
It would allow something like

[2020-05-28 15:47] kshpytsya commented on #7115
No, Artifactory is not an option. This request is about a way of having a private "remote" (repository) which doesn't require any server but only some object storage such as an S3, which is much cheaper both in initial setup and in maintanance.
Please clarify what kind of functionality is impossible to implement on the Conan client side. From [this](https://github.com/conan-io/conan/issues/1961) I

[2020-05-28 17:04] jgsogo commented on #7115
There are no so many operations that are required for a Conan server, at least some search functionality and recipe revisions resolution, (and authentication). Besides that, everything is about putting and retrieving files to/from the storage.

[2020-05-28 17:07] jgsogo commented on #6889
About the final lib names: many recipes have some _helper function_ to adapt the name of the library based on options, but it is not something we can provide as a tool in Conan, each library have its own convention for the final library names.

[2020-05-28 17:29] Jamaslab commented on #7114
Hi!
I'm using Ubuntu 18.04. If you are with docker you can use the following docker file

[code]

The weird thing is that after the test_package fails, if I insert in the conanfile.py of the test_package the dependency to ompl `requires: ['ompl/1.4.0']`
and I run manually:
[code]
it correctly compiles the executable, while with `conan create .` i get the linking problem.

[2020-05-28 17:32] tru commented on #7104
[code]

hope this helps

[2020-05-28 17:47] kshpytsya commented on #7115
Any reason why those operations cannot run on client side? Authentication and access control is handled perfectly with S3.

[2020-05-28 17:57] jgsogo commented on #7115
A client could have the whole server indexed, and poll every remote continuously to keep its index synced... but it is much better and simpler to have that functionality implemented in the server.

[2020-05-28 18:02] jgsogo commented on #7089
I should have been reported as a bug somewhere, but I cannot find it.

I'm not sure if it is possible at all, but can it be that the `libc++` in the Macos image is not updated? Maybe the compiler is `9.1` but the library is not the one matching that version... I don't know if that is even possible.

[2020-05-28 18:08] madebr commented on #7089
The table at https://en.cppreference.com/w/cpp/compiler_support shows that variant was supported from xcode 10.0 onwards.

[2020-05-28 18:16] jgsogo commented on #7089
Oh! I think I didn't read the table at https://en.wikipedia.org/wiki/Xcode#9.x_series properly. XCode 9.3 is the first one using llvm-5.0.2, so 9.3 should be the first one with `c++17`

[2020-05-28 18:17] kshpytsya commented on #7115
It is hard for me to ague, considering the client-server API being non-public and undocumented (correct me if I am wrong).
So, what is the conclusion on the issue? Is it completely out of scope of Conan project?
BTW, what do you mean by "poll every remote continuously"? Client, as opposed to server, is not running continuously, but rather when invoked via CLI. Had I implemented something like this

[2020-05-28 18:28] jgsogo commented on #7115
Yes, the API client-server is not documented, but it is not hard to find it in the sources, and endpoints are quite straightforward.
Right now, implementing a different backed for the conan-server or changing the way the conan client works in this regard is out-of-scope.

By polling continuously, I mean: with every command that now hits any remote, the client should reindex the packages there (new

[2020-05-28 18:40] kshpytsya commented on #7115
I am not suggesting replacement of Conan Center with s3 storage. It is my understanding that client can be configured with multiple remotes. My idea is that those remotes could be of different kinds: the current client-server protocol, and, additionally, s3 (or better yet, arbitrary remote backend, implemented as a plugin). s3 would make sense in cases where the number of packages stored in that r

[2020-05-28 18:45] nioncode commented on #1557
Just wanted to chime in here from a user's point of view (i.e. only concerned about the client and not the server). I just updated from `libcurl/7.64.1@bincrafters/stable` to `libcurl/7.70.0`, which now pulls in `openssl/1.1.1g`, whereas it previously used `OpenSSL/1.1.1c@conan/stable`.

All my CI builds are now failing, since the lowercase `openssl` conflicts with the `OpenSSL` that is already ca

[2020-05-28 19:03] sourcedelica commented on #1557
hear hear!

[2020-05-28 19:18] braindevices commented on #7110
@jgsogo Thanks a lot for the tips. I looked into the recipe you mentioned. But I only see you add the libs to system_libs. I did not see any code actually propagate the Cflags, include dirs. Is it some how automatically handled? Can you point me a direction?

[2020-05-28 20:18] akosik-anyvision opened #7116 "[question] Is there a way to reference specific targets with the CMake find_package_multi generator?"
Hi,

I'm working on a project with optional conan support. I want fellow devs to be able decide whether or not to use conan, but still have all the cmake logic the same.

I've hit a problem with GTest because the conan find_package_multi generator only creates a GTest::GTest target, but GTest's own config doesn't usually export this target; it exports GTest::gtest, GTest::gmock, etc...

This force

[2020-05-28 20:27] memsharded commented on #1557
I see, and understand the proposal, but the complexities of being able to store all different variants of case of OpenSSL, openssl, Openssl, OpenSsl, in a way that makes sense would be too much to be developed and maintained in practice. I think the only way is to wait until Conan 2.0, all packages will be lowercase. We are now in a not nice transitory situation with the old packages and the new o

[2020-05-28 20:35] memsharded commented on #7116
This will be the "components" feature. It is on its way, we already added recipe support in past release, and this release will release support for cmake_find_package generators: https://github.com/conan-io/conan/pull/7108

Once this is out, the first step would be to contribute the components model to the ``gtest`` recipe in conan-center-index, and then, the same targets will be available.

I am

[2020-05-28 20:37] memsharded commented on #7116
For info: it is possible to address specific targets today, but they have undocumented names like CONAN_LIB::gtest and CONAN_LIB::gmock. If you need a solution today, you can use them, otherwise I would recommend for the components feature.

[2020-05-28 21:02] nioncode commented on #1557
Sorry if I'm being stupid here, but from my point of view the proposal of storing the package suffixed with the hash of the package name made by @Lyberta above looks trivial to implement on the client: whenever conan wants to read / access the cache, instead of doing `$cache/{packagename}`, do `$cache/{packagename}_sha{packagename}`. if you are concerned about the length of the path on windows, si

[2020-05-28 21:40] leezu opened #7117 "[feature] "conan --build" cache"
As conan does not handle glibc version dependencies in a principled manner (https://github.com/conan-io/docs/issues/3960), I would like to build all my dependencies from source. However, using `conan --build` will always rebuild all dependencies and resulting builds are not cached locally.

Is there any recommendation for achieving the desired caching behavior? (Ie never download binaries; re-use

[2020-05-28 21:55] leezu commented on #7117
One option is to use `conan install --build` only at the first time and use `conan install` going forward

[2020-05-28 21:57] memsharded commented on #1557
We have reached limits of https://www.hyrumslaw.com/

There are users managing the cache directly. Yes, I don't love it, it is not documented, but I bet there are more users doing some kind of tooling around the cache directly, that depends on the cache path names than users being affected by this case-sensitive issue. Introducing this "simple" change will break all those users in production.

Oh,

[2020-05-28 22:02] memsharded commented on #7117
Hi @leezu

The recommended approach if the build takes too much time, in production, would be to use your own server (ArtifactoryCE is free). Build your binaries for your configurations and upload them there. From there it is always ``conan install`` only. Your suggested ``conan install --build`` approach, only for the first time, yes, it is valid, and if the build doesn't take too long, then it m

[2020-05-28 22:09] leezu commented on #7117
Thank you @memsharded for the prompt response. In the scenario I'm targeting, setting up our own server is out of scope due to the required resources and maintenance.
One issue with the "use conan install --build only at the first time" approach is automating the detection of "first time". Is there a conan command, which could be used to verify if all dependencies are present without attempting to

[2020-05-28 22:09] akosik-anyvision commented on #7116
There's an issue that a component cannot be named the same as a package. So you can't create `GTest::gtest` without changing the name of the package to `GTest`.

[2020-05-28 22:19] memsharded commented on #7117
I am thinking that even if you don't want to use a server, I would recommend to define a ``os.distro: [None, "CentOS", "RH6"]`` in the **settings.yml**. Then, as long as you define ``-s os.distro=CentOS`` it will manage the situation correctly. Recipes can be retrieved from ConanCenter if missing, binaries will always be missing from ConanCenter and require building them from sources, so you can u

[2020-05-28 22:50] memsharded commented on #7116
Not necessary to change the name of the package. The ``package_info()`` has a ``cpp_info.names["cmake_find_package"] = "GTest"`` that can define the ``GTest`` target even if the package is called ``gtest`` in lowercase. This is already implemented in the ``gtest/1.10.0`` package (without user/channel) from ConanCenter.

[2020-05-29 06:37] jgsogo commented on #7115
Of course the server can delegate the storage of the packages to any service: conan-server uses local filesystem, Artifactory can use almost any storage out there... and the client can connect to many of them and different types of remotes, the client doesn't need to know where the artifacts are stored. This is one of the reasons why clients and servers are different applications and use an HTTP A

[2020-05-29 07:20] jgsogo commented on #7110
For that concrete recipe, let's invoke @SSE4 , he can tell you why or why not that information is needed in `cpp_info`.

But you can use the same approach and add all the information needed for your package.

[2020-05-29 07:38] SSE4 commented on #7110
yes, I think it's more reliable and portable to propagate everything (include dirs, c flags, etc.) to `cpp_info`. it's working right now with just `system_libs` on selected Linux distros, but it might not be enough for all systems.
right now it works because on majority of distros OpenGL is installed to well-known locations (e.g. `/usr/include`) which are automatically added by the compiler itself

[2020-05-29 10:14] kshpytsya commented on #7115
I see your point. From a practical standpoint I would accept having a wrapper around Conan client (or entire build process) containing a Conan-compatible server (written by me) storing packages in S3. From architectural standpoint this would be IMHO an ugly kludge and subpar to a solution in which the client would have a plugable remote interface, HTTP REST API being the default implementation.
Th

[2020-05-29 11:33] jgsogo commented on #7115
I totally understand your concerns about breaking changes in the HTTP API, I can only say that changing the client is more or less fast (small team, only affecting Conan), but changing the implementation on the remote side will take much more time and efforts, especially if the remote is a general application and Conan is just a package type. If you search the internet you will find other servers

[2020-05-29 11:39] memsharded commented on #7115
Not only Artifactory CE and PRO edition depends on the stability of this API, but also users of conan_server and also other third party implementors (at least 2 other up to our knowledge) of the Conan package type out there. That means dozens of thousands of servers out there that will break if the API is changed. It might not be documented (but very straightforward to deduce, both in the client s

[2020-05-29 11:49] jgsogo commented on #7104
Not failing here 😞

[code]

[code]

[code]

[code]

Does it fail with other Conan versions?

[2020-05-29 12:29] jgsogo commented on #7114
It is related to ABI (as most linker errors).  The key part is the Conan profile you are using and the call to `conan_basic_setup()`. That call is translating the Conan settings to CMake variables: you are doing this for the `test_package` but not to compile the `ompl` library. The result is that `ompl` is being compiled with flags that results in a library that is not ABI compatible with the exec

[2020-05-29 13:14] akosik-anyvision commented on #7116
Yep, I kept that line and it still complains. It seems to check the package name directly.
[code]

Here is my new version of `package_info()`. everything else should be the same as the gtest recipe in the conan center index.
[code]
I can open a separate issue if this is unexpected behavior.

[2020-05-29 13:19] artem-ogre opened #7118 "[question] Is it possible to select different generators for different packages?"
We would like to use Conan with a CMake project.

For dependencies that provide package-config file or a find-module file (`<Package>Config.cmake`, `Find<Package>.cmake`) we would like to use `cmake_paths` generator.

In other cases we would like to generate find-module files  with `cmake_find_package` generator.

In a mixed situation [the solution is to use both](https://jfreeman.dev/blog/2019/05

[2020-05-29 13:29] Jamaslab commented on #7114
Perfect, thank you very much for the explanation. I used the second solution for the moment, and it solved it.

[2020-05-29 13:29] #7114 closed, assigned to nobody

[2020-05-29 16:38] puetzk commented on #7064
We have 3.17 deployed everywhere but except a couple legacy projects in VS2005 (which is stuck at 3.11 as @GrimSqueaker points out). We conan export packages with these binaries (so that their files can be imported) but don't use conan (or CMake) in their build process because it's not due to be invented for a while yet, so the old CMake is just for the test_package.

Right now most of our CMakeLi

[2020-05-29 16:57] braindevices opened #7119 "[question] how to specify a custom generator?"
The default ones are registered with short names. The custom one seems always use the class fullname. Should we let the custom one registered by the name member?
[code]

Another question is: is it possible to use custom generator with conan command line `-g=`? It seems there is no way to require/import the generator at command line without the conanfile.txt

- [x] I've read the [CONTRIBUTING guide

[2020-05-29 17:04] jgsogo opened #7120 "All information about 'build' and 'host' environment in the 'host' environment"
Reality bites. We agree that packages should contain binaries only for one architecture, so the proposed model by Conan with the [_host_ and the _build_ contexts](https://docs.conan.io/en/latest/devtools/build_requires.html#build-and-host-contexts), theoretically, would be enough for every use case.

![image](https://user-images.githubusercontent.com/1406456/83261757-28e15100-a1bc-11ea-89b7-288af0

[2020-05-29 17:34] TheQwertiest commented on #7120
Yes, it is.

Meson works (roughly) this way:
1. Configure step:
    - build the full dependency graph (including both native and cross targets if any).
    - build a backend specific project (e.g. `.sln`)
2. Build step: launch backend build utility.

There are no separate stages in meson for `build` and `cross` targets. It's all a single monolithic stage.

If you exclude any targets on step 1., th

[2020-05-29 17:43] puetzk commented on #3972
We (with several linux targets, some public distros and some yocto-based cross-toolchains) do the following in settings.yml

[code]

Allowing `distribution: None` covers the existing scheme if the profile doesn't set it, but otherwise we use the https://www.freedesktop.org/software/systemd/man/os-release.html standard to get labeling (not for the first time making me wish there was a .py version o

[2020-05-29 18:24] dcbaker commented on #7120
Upstream meson dev here, @TheQwertiest asked me to chime in.

This is exactly the case, we support building targets for the build machine specifically to use those targets as part of the compilation process for the host machine. While we don't actively stop anyone from installing build machine targets, that is a really ugly thing to do, and we don't give you any nice helpers for that.

Here is an

[2020-05-29 18:28] uilianries commented on #7119
As described in the documentation, it uses the class name by default. You should use the attribute `name` only if you want to rename:

https://docs.conan.io/en/latest/reference/generators/custom.html

Your example uses `ABCDGenerator`, but you renamed to `abcd`. There is no problem renaming to a shorter name if it helps and fits the generator objective.

No. It must be used as a conan package, onl

[2020-05-29 18:44] madebr commented on #7120
Absolutely

This requires a lot of patching and is maintainer heavy.
This does not scale.

Requiring a toolchain for build and host is a common requirement. Not only used for building compiler utils.
A project sometimes has sources to generate another source, using c sources compiled for the build system.
To broaden this discussion, meson allows to use an *infinite* amount of toolchains in one scr

[2020-05-29 18:56] TheQwertiest commented on #7120
@madebr , AFAIK meson allows at most for three toolchains - `build`, `host` and `target` (source: https://mesonbuild.com/Cross-compilation.html). It does allow for machine-file layering though, but that shouldn't change the limit.

[2020-05-29 19:06] madebr commented on #7120
@TheQwertiest
That is probably the case.
I'm no meson export either. I think I mixed the toolchains of meson with meson's ability to [use multiple compilers](https://mesonbuild.com/Reference-manual.html#compiler-object)

[2020-05-29 19:13] sboehmann commented on #7086
@memsharded and @jgsogo: Thanks a lot! I'm very impressed and grateful for all the help you have given me.

To be honest, I guess I need some time now to familiarize myself with all the information and inspiration. But I'll get back to you to share my solution - or more likely - with more questions. ;)

Thanks again to both of you!

[2020-05-29 19:41] rconde01 opened #7121 "[question] usability of linux binaries on conan center"
I was using the xerces/3.2.2 package from conan center on redhat 7 using devtoolset-8 and getting linker errors related to ABI/GLIBC etc. After I rebuilt the binaries locally, it worked. I understand the issue here...but i'm wondering at the conan center strategy. Are the usability of conan center linux binaries a dice roll? If so, is there any plan to handle this better? If not, is there a way to

[2020-05-29 20:12] leezu opened #7122 "[2.0] Change GCC ABI defaults"
Suggest to default to the `libstdc++11` ABI in Conan 2.

https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html

[2020-05-29 20:16] leezu commented on #7122
I see it's already done https://github.com/conan-io/conan/pull/6490

[2020-05-29 20:16] #7122 closed, assigned to nobody

[2020-05-29 21:27] dcbaker commented on #7120
Actually, you only get two distinct tool chains, one for the build machine and one for the host machine. The target machine is only relevant when building a compiler, the target is the machine that the built compiler will compile for. ala you can build gcc that runs on aarch64 (host) on x86_64 (build) that creates binaries for riscv (target).

What we do support is the ability to mix all supported

[2020-05-29 21:32] syoliver commented on #6718
@danimtb Your PR #7108 seems to work for the cmake_find_package generator part of my recipe :+1:

[2020-05-29 22:41] braindevices commented on #7119
@uilianries Thanks a lot. But at least in conan 1.25.2, the `name` has no effect.

[2020-05-29 22:53] ericriff opened #7123 "[question] Passing cmake variables from recipe consuming tool package"
Hi guys,
I'm trying to provide a tool for our build system using conan.

In the recipe that builds that tool, I'm adding the binary to the PATH:
[code]
On my consuming app we have a very basic conanfile that looks like this:
[code]
And we're running `conan_cmake_run` from our base `CMakeLists.txt.

I would need to run that tool from cmake, using `add_custom_command()`. Is there a way to create a c

[2020-05-30 03:30] SSE4 commented on #7120
this is not something new. it's not even specific to meson or CMake or autotools.
it's very common practice to first compile "build" executable(s), then use them to generate some tables, headers or whatever, and then compile "host" libraries.
the real word example is OpenEXR  that compiles [toFloat](https://github.com/AcademySoftwareFoundation/openexr/blob/v2.3.0/IlmBase/Half/CMakeLists.txt#L12) e

[2020-05-30 04:27] leezu commented on #7117
Thank you. I agree this works but it appears a bit inconvenient as it requires modifying the global `settings.yml` file in order to affect the local caching behaviour. My ideal goal is to create a small `build.sh` script which internally uses `conan` and which other developers can use to create a static build for a project ready for distribution. Now I can of course modify the users `settings.yml`

[2020-05-30 08:57] sztomi opened #7125 "[feature] Allow customizing install prefix in the Meson helper"
Currently, the Meson build helper hardcodes the install prefix to `self.package_folder`. This is not always desirable, e.g. in our case we want to do some post-processing on the files after the build, but before `package()`. My attempts at resolving this:

##### 1. Attempting to customize the install prefix as I would on the meson command line:

[code]

Will cause

[code]

If I set it in the `defs

[2020-05-30 14:59] tru commented on #7104
My guess is that it has to do with the order the files are copied - so that the final file is not there when the code tries to dereference the symlink and make the hash?

[2020-05-31 11:29] TheQwertiest commented on #7125
`configure(..., defs={'prefix': 'my_custom_prefix'})` will do the trick.

[2020-05-31 11:38] sztomi commented on #7125
@TheQwertiest nope, as I mentioned I tried that, too. The reason is the [line](https://github.com/conan-io/conan/blob/develop/conans/client/build/meson.py#L134) I linked. Well, more precisely, prefix is hardcoded [here](https://github.com/conan-io/conan/blob/develop/conans/client/build/meson.py#L39):

[code]

So no matter what you set there, it will be overwritten.

[2020-05-31 12:31] TheQwertiest commented on #7125
Uhm, but that's exactly why it *will* work =)
[code]

[2020-06-01 03:19] DrewImm opened #7126 "[bug] Deploy() never called with conanfile.txt"
# Environment Details
  * Operating System+version: Windows 10 Pro x64
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.25.2

### Steps to reproduce (Include if Applicable)

1. Create package (https://docs.conan.io/en/latest/creating_packages.html)
2. Add `deploy()` method to copy files to userspace. **Add output to show execution**
3. Create a consumer project and add the package to

[2020-06-01 07:51] jgsogo commented on #7104
It shouldn't be the case. The hash is computed after all the files for all the dependencies have been copied. It is the last statement [here](https://github.com/conan-io/conan/blob/41afc0e355caabdbc9d3ed42badb2b47dcbccdae/conans/client/generators/deploy.py#L31).

Your failure is related to this file:

[code]

It looks like it doesn't belong to the `apple-sdks` package you are deploying. Does the p

[2020-06-01 08:05] jgsogo commented on #7121
Hi, @rconde01!

Yes, the `glibc` version is a problem when trying to distribute already compiled binaries. Right now, in Conan Center we are using different Linux distributions to generate the binaries depending on compiler version, but we will try to improve it. **We are going to generate all the binaries using the same ubuntu distribution and, at least, all the binaries will use the same glibc**

[2020-06-01 08:17] jgsogo commented on #7118
Hi!

Right now this is not something possible. You can always write a `conanfile.py`, declare both generators and remove the files you don't need from the install folder, but it is more a hack than a workaround.

This would be a new feature, to be implemented the same way you proposed, as settings and options currently allow [that syntax in profiles](https://docs.conan.io/en/latest/reference/profi

[2020-06-01 08:20] jgsogo commented on #7121
Related to this one https://github.com/conan-io/conan/issues/7117

[2020-06-01 08:32] jgsogo commented on #7119
The doc says that the name will be taken literally from the class name, that's the only restriction. Besides that you can list that generator in the recipe itself (`generators = "MyGenerator"`) or use it from the command line with the argument `--generator/-g MyGenerator`.

Up to now, all the use-cases so far have been a recipe defining the generator it is going to use, so using the name of the cl

[2020-06-01 09:34] jgsogo commented on #7103
I think we can close this issue, any other comment related to this?

[2020-06-01 09:38] sztomi commented on #7125
oh! you must be right. I could swear I tried that and it didn't work, but I'll check again. Thanks for pointing that out

[2020-06-01 09:48] TheQwertiest commented on #7125
Haha, no problem, happens to the best of us =)
The current Meson integration interface is confusing and redundant: the thing is, if you pass some arguments via `args` kwarg they will be ignored, but they will work if you pass them via `defs` kwarg (which should've been named `options`).

[2020-06-01 09:49] jgsogo commented on #7050
I can confirm that the `export()` (#6945) will let you modify the `conandata.yml` file, so it is a place where you can add information and it will be available when using the recipe: https://docs.conan.io/en/latest/reference/config_files/conandata.yml.html

Can we close this issue? It is probably mixing some different topics. If you feel like there is something we should talk about, maybe it is be

[2020-06-01 11:08] BrianBloemendal commented on #7103
No other comment from my side, thank you for helping.

[2020-06-01 11:08] #7103 closed, assigned to jgsogo

[2020-06-01 12:16] sankalp7654 commented on #3249
Thanks, @lasote Changing the version of PyYAML from 3.12 to 3.13 helped me!

[2020-06-01 13:10] braindevices opened #7128 "[bug] exported conandata.yml end up an empty dict"
when I add custom data in conandata.yml.
[code]
`conan export` works fine on ubuntu and fedora, but on osx, in the export folder, the conandata.yml end up this:
[code]
### Environment Details (include every applicable attribute)
  * Operating System+version: 10.15.4
  * Compiler+version: N/A
  * Conan version: 1.25.2
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
create a

[2020-06-01 13:58] #6845 closed, assigned to nobody

[2020-06-01 14:29] memsharded commented on #7128
Seems a bug when using the ``scm`` functionality.
Can you please verify that you are using exactly the same recipe, and using  the same ``scm`` functionality in both cases?

[2020-06-01 15:16] fulara commented on #6356
Yes, that seems to be perfect fit, thanks.

[2020-06-01 15:46] braindevices commented on #7128
@memsharded There is NO scm involved. It has nothing to do with scm.

[2020-06-01 16:20] rconde01 commented on #7121
Thanks for the background. I definitely get that you can't host binaries for all glibc versions...but why can't add it to settings and just host for one version (i guess whatever is in that ubuntu distro)?

[2020-06-01 16:21] danimtb commented on #6718
@syoliver thanks a lot for testing!! We are in the review process right now and we will hopefully have components experimental implementation for the `cmake_find_package`` generator in the next Conan release!

[2020-06-01 16:26] jgsogo commented on #7121
We could add `glibc` to the settings in a way that it is taken into account for the packageID, but then people starting to use Conan won't have binaries available in ConanCenter (they will likely use a different `glibc`, their Conan client will require a different packageID) and this is something we really want to provide: getting started should be as smooth as possible.

So the plan is to use the

[2020-06-01 16:37] rconde01 commented on #7121
Gotcha - I guess the success will depend on the Ubuntu LTS strategy which i'm not very familiar with...I would assume the commercial distos are more conservative but I don't know for sure.

[2020-06-01 16:46] memsharded commented on #7128
And you don't have ``# scm_to_conandata                    # environment CONAN_SCM_TO_CONANDATA`` activated in your configuration? In either Linux or OSX? I suspect in osx might be activated.

[2020-06-01 17:00] maddanio commented on #7128
according to `conan get` this value is not set

[2020-06-01 17:04] maddanio commented on #7128
explicitly setting that to `False` in conan.config or setting the env variable to 0 did not help either.

[2020-06-01 17:08] jgsogo commented on #7121
Yes. We will use Xenial: https://github.com/conan-io/conan-docker-tools/pull/204 @uilianries  is preparing a blogpost to explain about this migration, maybe it makes sense to talk about what the user can do to take into account glibc version.

[2020-06-01 17:29] memsharded commented on #7121
The problem with modeling the glibc is that the glibc doesn't need to have an exact match (like most of the other settings), but older glibc are compatible. We could implement this as a ``compatible_package`` fall back for all glibc versions, in descending order, in all recipes in ConanCenter, but that will make dependency resolution like one order of magnitude slower.

Building with a relatively

[2020-06-01 17:36] puetzk commented on #7126
`deploy()` is only called in the specific case of `conan install foo/1.0`. It is not called when a package is part of the transitive `[requires]`, only for a top-level reference

https://docs.conan.io/en/latest/reference/conanfile/methods.html#deploy

[2020-06-01 17:50] memsharded commented on #7128
I have extended one of the existing tests covering the conandata.yml functionality in: https://github.com/conan-io/conan/pull/7129, to check that the values are maintained. Lets see what CI says.

[2020-06-01 17:57] memsharded commented on #7118
I don't think it is just a syntax issue, I see a problem with this, and is transitivity.

For example, the generator that we are most likely using as default in Conan 2.0 is ``cmake_find_package_multi`` (probably with a new name?). This generator is transitive, if you find one package, it will bring the information from the transitive dependencies as well, to not force the consumers to list the co

[2020-06-01 18:18] DrewImm commented on #7126
Thanks @puetzk ! Confirmed.

Can anyone please explain what the rationale for this is? Why doesn't `conan install` follow the same behavior as `conan install X`?

I was hoping to use the consumer conanfile as a single-source-of-truth for project deps, as well as consolidate fetching/building those deps. Is this possible with the aforementioned flow? Am I misunderstanding the how/why of the conanfi

[2020-06-01 18:18] #7126 closed, assigned to nobody

[2020-06-01 18:21] memsharded commented on #7128
the https://github.com/conan-io/conan/pull/7129 is green, (it also runs in OSX). Do you have a full example, full code + commands to reproduce?

[2020-06-01 18:27] memsharded commented on #7126
``deploy()`` and ``imports()`` are operations that copy things from the cache to the user folder. When typing ``conan install <path>`` there is no package in the cache, it is already local in your folder, so can't be deployed.

We will be changing the cli for Conan 2.0, and probably the commands will be different for ``<path>`` and ``<reference>``.

[2020-06-01 20:45] memsharded commented on #6995
This doesn't seem an issue anymore, closing it, but please re-open if this happens again. Thanks!

[2020-06-01 20:45] #6995 closed, assigned to memsharded

[2020-06-01 20:53] memsharded commented on #6157
at the moment, we are going to try to generate more binaries for different cppstd in ConanCenter, and leaving the current default model in Conan, which is one binary per cppstd, which is the most robust and safe. Not doing nothing now for Conan 1.26, removing from milestone.

[2020-06-01 21:22] braindevices commented on #7128
@memsharded [here](https://github.com/braindevices/exportdata-hello/tree/master)  is the example cause the problem on our osx.

[2020-06-01 23:00] Chrismarsh commented on #6508
Just noting I would also find `deploy_single_package` to be useful.

[2020-06-01 23:22] memsharded commented on #7128
@SSE4 if you can run a quick test using https://github.com/braindevices/exportdata-hello in OSX, I have tried exactly that in Win/Linux and seems to work ok, and https://github.com/conan-io/conan/pull/7129 is implementing a test that pass on OSX. If you could please run it locally in your computer, this repo as-is, that would help. Thanks!

[2020-06-02 01:15] lyricaljoke opened #7130 "[question] Safe way to check for presence of a key in deps_user_info?"
Operating system: MSYS2 on Windows 10
Conan version: 1.25.0
Python version: 3.7.5

I'm confused about whether there's a recommended way to check whether a certain attribute is present in the user_info object of dependencies while running in a Generator context.  In my use case, I'm writing a generator which is meant to support a new user_info attribute in some of my recipes.  However, the generato

[2020-06-02 05:27] czoido commented on #7128
Hi @braindevices,
Are you running conan with conan-center-index hooks enabled by chance?
Is the issue solved if you deactivate those hooks?

[2020-06-02 06:29] artem-ogre commented on #7118
Thanks for the prompt replies, Javier and James.

Yes, I can see how new syntax could cause problems as it was not foreseen from the beginning.
Maybe I shouldn't have start with the suggestion but rather with the problem. You could recommend a better solution with the deep knowledge you have.

So maybe I should start over :)

#### Problem
When `cmake_paths` and `cmake_find_package` generators are

[2020-06-02 06:47] jgsogo commented on #7118
IMO, it is up to the user to fix these errors once they are raised. Right now, the syntax in profiles (and CLI) allows the user to mix different settings (some combinations won't link or work at all). Same transitivity problems.

For coherence, Conan should take care of these problems for all fields or for none of them, should allow the same syntax for all the fields or for none of them (less surp

[2020-06-02 07:14] spoofedex commented on #6065
Hi all,

I have a similar bug, with a somewhat different situation. Unfortunately, I don't think the workaround works for my case. I'm not sure whether or not to open a new ticket, but I'll start as part of this one.

We have a bunch of internal packages, with some dependency graph between them. Each of them uses the same python_requires, which in turn adds a few build_requirements. For those buil

[2020-06-02 07:32] maddanio commented on #7128
interesting. why does that modify the conandata? I had that hook in there because it was recommended when developing recipes, and then I left it there.

[2020-06-02 08:07] jgsogo commented on #7128
Hi, @maddanio

We enforce in ConanCenter many restrictions that are not forced in Conan itself, and that could not match requirements for other users or companies.

Talking about `conandata.yml` file specifically: this is a file that evolves over time in ConanCenter because new versions are added. Many times a new version requires only to add the entry in the `conandata.yml` while everything is ex

[2020-06-02 08:18] memsharded commented on #7128
Ok, not a bug in Conan client then.
Moving this to the hooks repo, in case we want to highlight this behavior, or try to maintain user data while trimming the versions only.

[2020-06-02 08:55] memsharded commented on #7130
Hi @lyricaljoke

Good point, I think it is a bug, and have proposed https://github.com/conan-io/conan/pull/7131 for next release, so this works as expected. Will be in next 1.26 release soon.

[2020-06-02 09:02] #7002 closed, assigned to SSE4

[2020-06-02 09:07] #6990 closed, assigned to nobody

[2020-06-02 09:15] sztomi commented on #7125
@TheQwertiest yeah, that worked fine. I think I set `-Dprefix` as the key originally and then looked for an explanation in the source, but totally overlooked that the update was happening in the other direction. Sorry for the noise.

[2020-06-02 09:15] #7125 closed, assigned to nobody

[2020-06-02 09:16] memsharded opened #7132 "[feature] test_package functionality specific for tools intended for build_requires"
``test_package`` functionality is mostly intended to test library packages, and it injects a ``requires`` to the tested package.

With the new cross-build features and contexts, it would be good to be able to inject it as a ``build_require`` instead, so it is tested as it is going to be used by other packages.

[2020-06-02 10:06] syoliver commented on #6718
Will you work on cmake generator after? If I can help you...

[2020-06-02 10:07] SSE4 commented on #7061
@jgsogo I've been thinking a bit more about it. I can imagine cases where I don't have an access to the conanfile (self) instance, e.g. global function, static method, etc. in that case I would need to construct synthetic conanfile object just to pass settings. that may lead to very ambiguous and excessive code.

[2020-06-02 10:31] danimtb commented on #6718
We have to consider the implementation for the `cmake` generator. Currently we are pushing towards promoting generators such as `cmake_find_package/_multi` generators as we think the interface using `find_package()` is cleaner.

Moreover, we are implementing a new "toolchain" concept #7076 that will cover the functionality of macros such as `conan_basic_setup()`.

Anyway, as I see you are interest

[2020-06-02 10:48] jgsogo commented on #7061
I'd like to see an example. This is a tool, and tools are always used in the context of a recipe.

[2020-06-02 11:46] SSE4 commented on #7061
@jgsogo okay, something like that:
[code]
if I would need to construct ConanFile here, it would be much more complicated

[2020-06-02 11:51] jgsogo commented on #6889
We have added a note to the documentation about editable packages: https://github.com/conan-io/docs/pull/1721

Thanks!

[2020-06-02 11:51] #6889 closed, assigned to jgsogo

[2020-06-02 12:13] SpaceIm opened #7133 "[question] AutoToolsBuildEnvironment: rpath in LIBS?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Does `AutoToolsBuildEnvironment` add `-Wl,-rpath="${libdir}"` in `LIBS` or `LDFLAGS` env var?

I've some issues for building `GDAL` as a shared lib with all dependencies also shared (there are something like 36 dependencies and transitive dependencies when everything is enabled).

It

[2020-06-02 12:30] SSE4 commented on #7061
seems like it wasn't actually exposed, so I've added PR
(I was confused by this usage: https://github.com/conan-io/conan/blob/30f006d6c2e5f5139f8b885335b3ec0ad5bf8992/conans/test/unittests/util/msvs_toolset_test.py#L29)

[2020-06-02 13:11] climblinne commented on #7100
@memsharded  Could you give any hint how to do it indirect?

[2020-06-02 13:46] memsharded opened #7136 "[feature] Min (max) conan version checks from conan.conf"
Companies would like to introduce a check to guarantee that everyone is using the same version of conan. That should be an easy check with a config in conan.conf.

Possibilities?:

- A min-version check
- A max-version check
- An exact version check
- A range

The modes could be raise or warn.

[2020-06-02 14:49] theodelrieu commented on #7132
I second this, it's required to make sure toolchain packages as `android_ndk_installer` work as intended

[2020-06-02 14:56] spoofedex opened #7137 "[question] ERROR: There are X binaries with name Y"
Edit: Created bug report #7141. This question is superseded by that bug report.

Hi all,

I'm combining lockfiles with CI similar to the case described in "How to use lockfiles in CI". However, I get the error "There are [X] binaries with name [Y]".
This seems to be because there are multiple nodes in the lockfile for the same package (these packages are build_requires added by the same python_req

[2020-06-02 15:01] jgsogo commented on #7132
(About new xbuild model)

My two cents here. Implementing this could a little bit hard:
 * Add the generated package as a `build_require` (some syntactic sugar is enough)
 * The `profile:host` used to build the package would be the `profile:build` in this new graph (only possible if that profile runs in this _build_ machine)
 * We need another profile that will work as `profile:host` here, probabl

[2020-06-02 15:17] TheQwertiest opened #7138 "[feature] Specify minimum conan version in recipe"
Description:
Ability to specify conan minimum version in conan recipe. This version would be checked before any other logic and will result in command invocation failure.

Example:
[code]
[code]

Reasoning: mostly `conan-center-index` related. Some recipes are updated to use features from the latest conan. But if a user with an older conan will try to use them, they might see random and unintellig

[2020-06-02 15:22] #7130 closed, assigned to memsharded

[2020-06-02 15:23] memsharded commented on #7130
Merged, will be available in next release.

[2020-06-02 15:32] TheQwertiest commented on #7138
Part of the conversation from slack (in case someone has the same questions/points):
Question/problem:

The is no a version specific mode in Conan (it'd be very costly to make one) so it can't fall back to some older scheme to verify that the version specified is good.

Proposed solution:

[2020-06-02 16:05] #6942 closed, assigned to nobody

[2020-06-02 16:16] TheQwertiest commented on #7120
This issue is directly linked to the following feature request: https://github.com/conan-io/conan/issues/7091

[2020-06-02 18:18] DmitrySokolov opened #7139 "[feature] Add support of `install()` in CMake generator."
CMake provides the command https://cmake.org/cmake/help/v3.17/command/install.html

It would be useful to support a method to install files from a package using CMake's `install` command.

[2020-06-02 19:47] uilianries commented on #7139
@DmitrySokolov This feature is already available for the CMake helper.

Please, read the documentation:

https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#install

[2020-06-02 19:51] DmitrySokolov commented on #7139
It is not what I mean.

[2020-06-02 19:53] DmitrySokolov commented on #7139
I need a stuff in a `conanbuildinfo.cmake` that I can put/call/whatever into `install()` in my app.

[2020-06-02 19:54] DmitrySokolov commented on #7139
To date, I have to locate each lib file mentioned in `CONAN_LIBS` and put in into `install()`.

[2020-06-02 20:45] uilianries commented on #7139
If you want to collect each artifact generated in the package, I recommend using the [deploy generator](https://docs.conan.io/en/latest/reference/generators/deploy.html) instead.

[2020-06-02 20:52] DmitrySokolov commented on #7139
It does not what actually CMake's `install()` do. In the end I expect to get

[code]

not
[code]

[2020-06-02 20:56] memsharded commented on #7139
It seems you want to declare an ``imports`` in your conanfile, to retrieve all *.dll:

- in conanfile.txt: https://docs.conan.io/en/latest/reference/conanfile_txt.html#imports
- in conanfile.py: https://docs.conan.io/en/latest/reference/conanfile/methods.html#imports

[2020-06-02 21:09] DmitrySokolov commented on #7139
Yes, it's can be used, but:

1. a package can contain .dll that is not intended to be deployed, for instance - Qt has a lot of tools near the DLLs;
2. the same as 1, and cross-platform dev, so file masks in `[import]` section should distinct target OS.

And in the end you've got another script in `conanfile.txt`.

[2020-06-02 21:11] DmitrySokolov commented on #7139
And besides, you need to re-install packages each time you clean up the stage dir.

[2020-06-02 21:22] memsharded commented on #7139
For advanced functionality not available in conanfile.txt, like conditionals based on platform, you should be using a ``conanfile.py`` and the ``imports()`` method instead of the ``[import]`` from conanfile.txt.

You can use any pattern to select the ones that you want, and the ``self.copy()`` can also provide ``excludes`` patterns too: https://docs.conan.io/en/latest/reference/conanfile/methods.h

[2020-06-02 21:47] DmitrySokolov commented on #7139
[code]
When you want to build from the scratch, you delete `build` and `install` dirs. Since you need to install packages again to fill in `install/bin` dir.

Another drawback of having `import()` in conanfile.py is that you tie the end user to the certain dir tree structure. While having this stuff in conanbuildinfo.cmake does not.

[2020-06-02 22:15] Paultergeist commented on #6416
This now works on macOS, but not on iOS and tvOS.
I've updated the [sample project](https://github.com/Paultergeist/conan_apple_framework).
I've also added test scripts for easier testing - just run one of them to reproduce on corresponding platform.

[2020-06-03 00:23] memsharded commented on #7139
For your info: ``conanbuildinfo.cmake`` from the ``cmake`` generator is most likely going to be removed in Conan 2.0. The current direction is:

- Using ``cmake_find_package`` generators for a transparent integration of dependencies via ``find_package`` cmake native feature
- Using toolchain files, to implement the conversion of Conan settings to CMake configuraiton, in the CMake way.

So it doesn

[2020-06-03 08:11] boussaffawalid commented on #7064
We always use latest greatest version of cmake.

[2020-06-03 08:23] lukastvrdy opened #7140 "[bug] recursive copies of .git folder in the conan short path dir"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10 1903
  * Compiler+version: MSVC2015
  * Conan version: 1.24.0
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)
TBA  as I don't know them exactly yet

Setup environment variable settings:
CONAN_USER_HOME=E:\conan
CONAN_USER_HOME_SHORT=E:\conan_short
CONAN_USE_ALWAYS_SHORT_PATHS=

[2020-06-03 08:42] spoofedex opened #7141 "[bug] ERROR: There are 2 binaries with name buildreq"
There seems to be an issue using lockfiles, as described in "[How to use lockfiles in CI](https://docs.conan.io/en/latest/versioning/lockfiles.html#how-to-use-lockfiles-in-ci)", in combination with build requirements: when multiple dependencies have the same build requirement, it is listed multiple times in the lockfile, which causes an error when building that package with the generated lockfile.

[2020-06-03 08:52] spoofedex commented on #7141
The duplicate dependencies are added in GraphManager::_recurse_build_requires. It seems that normally DepsGraphBuilder::_expand_require will filter out duplicates, but it only considers the public dependencies and public closure, which (apparently) does not contain build requirements.

[2020-06-03 09:08] #7061 closed, assigned to SSE4

[2020-06-03 09:20] memsharded opened #7142 "Simplify sh.exe removal for CMake with MinGW"
in the past, I have found it here: https://stackoverflow.com/questions/41333215/mingw-sh-exe-must-not-be-in-your-path
it adds a cache entry for the `CMAKE_SH`, which is going to be used by `find_program(sh)`.
reading the [doc](https://cmake.org/cmake/help/latest/command/find_program.html), there are few parts to make it work:
[code]

[code]

_Originally posted by @SSE4 in https://github.com/conan-

[2020-06-03 09:25] KerstinKeller commented on #7138
I think this feature could be really useful. CMake has the same.

What would also be very beneficial, if in general in the docs, you added when a certain feature was introduced (e.g. `introduces with Conan 1.25`), because Conan evolves so quickly that often I wonder if this particular feature described in the documentation is new, or if I just never saw it before.

But luckily, due to your stabili

[2020-06-03 10:02] memsharded commented on #6057
This would be too risky, means dropping semver specification standard, might be breaking for many people. Moving to 2.0 for consideration.

[2020-06-03 10:40] TheQwertiest opened #7143 "[question/feature] Get package name from command line"
Is there any way to get package name from recipe from command line?

This is needed to make a generic script that builds and publishes (to repo) packages knowing only the directory that contains a recipe. Thus it needs the name of the package as to publish only the package that was built and not any others.

I've thought that `conan info --only=name` would work, but for some reason `name` is not i

[2020-06-03 12:03] memsharded commented on #6864
At the moment there is nothing we can do in the Conan client. The current cache design is not concurrent, and this is failing due to race conditions because of concurrent export-pkgs. Making the cache concurrent will be a huge effort, at some point  (maybe while or after Conan 2.0) we will consider a cache redesign with some other approach that will tackle concurrency.

[2020-06-03 12:05] memsharded commented on #7143
Have you tried ``conan inspect .``?

[2020-06-03 12:19] TheQwertiest commented on #7143
Now I did, thanks!

[2020-06-03 12:19] #7143 closed, assigned to nobody

[2020-06-03 13:53] #7017 closed, assigned to nobody

[2020-06-03 13:56] memsharded commented on #7017
Merged, will be released in 1.26.

Testing and feedback (cc @birsoyo) when released would be appreciated.

[2020-06-03 14:15] memsharded commented on #6416
Reopening issue, assigning for investigation in next 1.27.

A couple of suggestions:
- It is typically better to create new issues than commenting on closed ones, if you think that there is still buggy behavior, better file a new issue.
- It is better to reproduce things first without using the ``conan.cmake`` functionality (``conan_cmake_run()``) to isolate better the issue, and rule out possible

[2020-06-03 14:24] KerstinKeller commented on #7132
I have encountered this situation many times when packaging tools like CMake, Doxygen, ...

Usually I'd say, that a package will bei either a `build_requires` or a `requires` package (e.g. it's a tool or a library, but usually not both (except e.g. specifying `gtest` as a `build_requires` would break that assumption, but maybe you would need different terminology there, e.g. `gtest` would be a pri

[2020-06-03 14:28] acronce commented on #6416
Sorry that I didn't create a new issue. But this seemed like the same problem.

After digging more I realize it's specifically related to conan_cmake_run and multi-config builds. So while it might be a different cause, the effect is the same.

You've probably seen the activity on my pull request. It's still a bit unclear if the fix to conan_find_apple_frameworks is correct, or if setting CMAKE_BUI

[2020-06-03 14:37] DmitrySokolov commented on #7139
Hmm, there are 50+ packages in out project
[code]
instead of
[code]

Is it really necessary to type so much boilerplate code?

[2020-06-03 14:38] jgsogo commented on #7132
I'd try not to use the name of the `test_package` folder, but something declared in the conanfile inside the test folder.

Why? While reviewing packages in Conan Center I've missed many times more intensive testing: different options, different generators, consumption as `require` or `build_require`, testing different components,... Some packages compile different projects in `test_package/conanfi

[2020-06-03 15:01] memsharded commented on #7139
50 independent packages? Only direct dependencies should be used, and transitive dependencies should be managed by them. The ``cmake_find_package_multi`` generator does this. The new ``msbuild`` generator (introducing it now in 1.26) does this.

This is the result of massive push from the community and users towards a more transparent integration with cmake. This is the CMake way, I don't love it,

[2020-06-03 15:04] DmitrySokolov commented on #7139
Yes. Total package count is 400+.

[2020-06-03 15:21] KerstinKeller commented on #7132
Ok, makes sense, but then how would Conan know of possible context switches? The context switch has to happen before calling Conan, or does it happens inside Conan?

I think I can image, but rather not take a look 😉

Btw, are you still considering making `test_package` part of the actual package / recipe? (not binary package, but distributed next to `conanfile.py`).
If this were the case, you coul

[2020-06-03 15:27] sourcedelica commented on #7138
Thanks for logging this issue.  Besides the minimum version feature which I agree with, there should be tools and guidance so that recipe writers can write backwards compatible recipes.  Recipes almost always assume that the consumer is running the latest and greatest version of Conan which isn't always the case.  Ideally a recipe could check the version of Conan before using some new functionalit

[2020-06-03 15:35] memsharded commented on #7138
Yeah, but maybe a bit too much to ask for recipe open-source creators. The version has always been there to be checked (``from conans import __version__``), but the extra required maintenance, and the fact that ConanCenter for example will not test older versions code, makes it challenging.

[2020-06-03 15:46] jgsogo commented on #7141
I've opened a BR with a minimal test reproducing the error. Check #7144

[2020-06-03 15:55] jgsogo commented on #6065
I'm reproducing this error in this PR https://github.com/conan-io/conan/pull/7144/files (second test with the `protobuf` package)

Thanks for reporting it

[2020-06-03 23:14] memsharded commented on #7140
Hi @lukastvrdy

I have tried to reproduce with ``conan create``, but not possible so far. I would need a recipe and the creation steps, the actual commands that you are using, in what order, and how many times. Thanks!

[2020-06-03 23:15] flashdagger opened #7145 "[feature] discard recipe from a set of versions"
Requirements can be specified with version ranges allowing for multiple versions to be considered.
Conan uses node-semver to determine the highest version within the set. Versions that differ only by metadata (e.g. 0.1+tag) are considered equal, so the most recent is used. When the chosen version is not compatible with the build settings an error can be thrown (e.g. _ConanInvalidConfiguration_).

[2020-06-04 07:03] jgsogo commented on #7145
Hi, @flashdagger

From the POV of semver, both versions `0.1+windows` and `0.1+linux` are indistinct, there is no order between them and both match exactly the same patterns. Conan only chooses the most recent by chance, but it is not guaranteed.

You should probably approach the problem from a different perspective. Recipes for `libA/0.1+windows` and `libA/0.1+linux` should be the same `conanfile

[2020-06-04 08:46] KerstinKeller commented on #7145
Personally, I have tried this, and it leads to messy and hard to maintain recipes, if you do completely different things on different OS's.

One way to avoid the mess, is to kind of use a pattern to keep all logic in one recipe but distribute over different Implementations (don't know how this pattern is called from a software point of view)

[code]

Problem here is, that the actual implementation

[2020-06-04 08:56] #5578 closed

[2020-06-04 09:06] jgsogo commented on #7142
Let's read all the CMake docs about it:

If `sh` is found, it won't be searched again, if it is not found (`<VAR>-NOTFOUND`) the search will be attempted again for the next `find_program`.

So, first time CMake executes a `find_program(CMAKE_SH sh.exe )` it will run the search and, if `sh` is in the PATH, it will find `sh` and fail as it would fail without it. IMO, the only way for it to work is t

[2020-06-04 09:13] jgsogo commented on #7139
The CMake way to add dependencies is with the `find_package(....)` call, for every dependency. If you want to get rid of all these calls in your project you can write a custom generator (maybe 10 python lines) to create a file doing that work for you.

The generator will create this file automatically (a for-loop in Python):

**mycustom_generator.cmake**
[code]

and you can include it in your CMak

[2020-06-04 09:42] SpaceIm commented on #7133
I add to use this trick to make it work:
https://github.com/conan-io/conan-center-index/blob/6e1a766406f610a1c3394e247036ef35cff07270/recipes/gdal/all/conanfile.py#L588

(there is also another trick in this code related to https://github.com/conan-io/conan/issues/7109)

[code]

[2020-06-04 09:44] KerstinKeller commented on #7064
If Conan Center Index can provide prebuild binaries for common distros and a working recipe for all others, there is no need to stay on an old CMake Version. . CMake itself has almost no dependencies to be build, just curl for newer versions. Then it can easily be consumed as a build requirement Conan package,

As it's `only` a  build requirement, I see no disadvantages for using a Conan CMake pac

[2020-06-04 10:09] Artalus commented on #7133
My 5 cents  from my understanding of http://www.kaizou.org/2015/01/linux-libraries.html (Ctrl+F to `Doing it the right way`) and tinkering with https://github.com/bincrafters/conan-x11 and https://github.com/bincrafters/conan-qt .

There seems to be an "approach" in Linux buildsystems, that when some C is built `-lB`, and B was built with `-lA`, then it is not necessary for C to also use `-lA`. Li

[2020-06-04 12:16] manojkdi commented on #6756
In the success case the log looks something like this
17:34:24
17:34:24  conanfile.py (TopograndeBootROM/None@None/None): Installing package
17:34:24  Requirements
17:34:24  Packages
17:34:24  Build requirements
17:34:24      tic2000codegen/20.2.1.LTS-0@library-c2000/ga from 'art' - Cache
17:34:24  Build requirements packages
17:34:24      tic2000codegen/20.2.1.LTS-0@library-c2000/ga:be241241e9d47

[2020-06-04 12:17] manojkdi commented on #6756
Let me know if this helps

[2020-06-04 12:17] manojkdi commented on #6756
The command being run is conan install . -g virtualenv
 and is run as part of docker entry point script

[2020-06-04 12:40] Johnnyxy commented on #7064
Consuming a CMake recipe from within another recipe and starting the consumed CMake variant will not work if conan gets started from CMake initially ([see here](https://docs.conan.io/en/latest/howtos/cmake_launch.html?highlight=cmake#how-to-launch-conan-install-from-cmake)).

The reason is that CMake is already running (e.g. v3.10) and by design cannot just start another CMake instance from a diff

[2020-06-04 13:33] DmitrySokolov commented on #7139
Thank you, I see a lot of methods to fix it. In the context of discussion of version 2.0 I think that it would be nice to elaborate a handy solution.

I expect (and I think it's reasonable) that when I create `conanfile.txt` recipe for a project it should be enough to
[code]
I see no reason to type a boilerplate code to add each package that I've already added into the recipe to the project depend

[2020-06-04 13:51] SpaceIm commented on #7133
It appears that for the specific case of GDAL:
- By default, GDAL build system relies on libtool
- First it builds the big library `libgdal.la`, intended to be linked into executables.
- In one file included by its makefiles, it defines a variable (CONFIG_LIBS) intended to be used for executables link. If using libtool, this variable doesn't contain $(LIBS). So it relies on inter-dependency of lib

[2020-06-04 14:13] climblinne opened #7146 "Improve docs for '--update' argument in commands"
I got the following problem:
In my project, I normally build my packages with `conan create`.
Now I wanted to use `conan graph lock` to pickup up a previous build from Artifactory.

Now there is a different behavior between both commands.
I use semver versioning and also the `include_prerelease` option.
Unluckily I still got a library, which require a library without `include_prerelease`.

So I go

[2020-06-04 15:50] letmejustputthishere commented on #7067
Thanks a lot for your answers, that was really helpful!

[2020-06-04 15:50] #7067 closed, assigned to czoido

[2020-06-04 16:37] Kintawesar opened #7147 "[bug] Conan can't find cmake to build sdl2_image on mac os x 10.14.6"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac os x 10.14.6
  * Compiler+version: Apple LLVM version 10.0.1 (clang-1001.0.46.4)
  * Conan version: 1.25.2
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
- cmake 3.17.3 and conan have installed using brew
- Used https://github.com/conan-io/cmake-conan  wrapper
- conan_cmake_run(

[2020-06-04 16:57] jgsogo commented on #7146
Having a look at this issue, I've created a repo here (https://github.com/jgsogo/issue-7146) to reproduce the scenario with a minimal recipes.

First of all, as it is described, I get an error:

[code]

[code]

---

I've modified `LibB` to include prereleases:

[code]

then:

[code]

and

[code]

---

I'm getting the same version using any of the commands. Can you try recipes from the repo? Do you

[2020-06-04 17:09] jgsogo commented on #7147
Hi, @Kintawesar

A quick question: how are you running CMake? Can you share the command you are typing?

Thanks!

[2020-06-04 17:14] jgsogo commented on #7145
That's another approach, **using different library names** (do not try different versions with different semver-metadata), from the POV of Conan they will be different references. As @KerstinKeller  shows, you can use that kind of _proxy recipe_ to delegate to the proper one based on the `os` setting.

---

Note.- @KerstinKeller , `self.requires.add` works but it is not documented, you should use

[2020-06-04 17:22] jgsogo commented on #7139
Yes, we surely will keep providing a straightforward CMake integration like the one you suggest. `find_package` will be prioritized, but some plug-and-play solution must be available too (like the current `cmake` generator but without the toolchain part).

Thanks!

[2020-06-04 18:29] Kintawesar commented on #7147
Hi, @jgsogo thanks for answer!
I am using QtCreater IDE for run and build cmake and it's prints these command:

[code]
and get an error.

But after your message I've tried to run cmake by hand like this:

[code]

And to my suprise conan found cmake and built the library.

[2020-06-04 19:49] Tridacnid opened #7148 "[question] Correct way to set dependency options"
$ conan --version
Conan version 1.22.2

My project consumes lib1 and lib2, both of which consume boost.

ERROR: boost/1.68.0: lib1 tried to change boost/1.68.0 option header_only to False
but it was already assigned to True by lib2

For both link performance as well as only "linking what you use", I try to keep the boost project's options aligned with what's needed using a combination of header_on

[2020-06-04 19:56] Tridacnid commented on #7148
Maybe I should move the `boost:header_only = False` to the default_options of lib1? How do I enforce that strictly though?

[2020-06-04 20:17] climblinne commented on #7146
Ok, sorry for the hassle. But it was again the update (this time at `conan graph lock` , see #6294) where I stumbled.
After removing the conan cache everything works fine.
May be the documentation of the misleading "update" should be optimized?

[2020-06-04 20:48] memsharded commented on #7148
Hi @Tridacnid

To solve the conflict by defining ``boost:header_only=False`` in the downstream consumer (in the package requiring both ``lib1`` and ``lib2``, to override ``lib2`` definition. The downstream consumers always have higher precedence and override the upstream values. Is that your question?

[2020-06-04 20:59] Tridacnid commented on #7148
Ok, just want to make sure I'm setting default and needed options correctly. Thanks!

[2020-06-05 06:47] memsharded opened #7149 "Conan free training sessions in June"
Due to high demand, we are opening again new training sessions for June.
Both in US and EMEA/APAC timezones.

For all 3 trainings, each one 3hrs, practical hands-on:

- Conan Essentials
- Conan Advanced
- CI/CD with Conan

Go to https://conandays.conan.io/ to reserve your spot.

[2020-06-05 07:39] jgsogo commented on #7146
I agree `--update` is confusing. Let's improve the docs and keep the other issue for Conan v2.0 if a new behavior is needed.

Do you have any suggestion for the help string?

Thanks!

[2020-06-05 07:52] jgsogo commented on #7147
It seems QtCreator is removing  `cmake` from the path when calling from inside the IDE. I've read some issues on Internet about QtCreator and CMake, it looks like the IDE can define its own version of CMake and maybe that's the reason why it removes it from the PATH: to have control over the version used.

I think you will get more help in some related QtCreator forum.

Does `execute_process(COMMA

[2020-06-05 08:07] jgsogo commented on #7148
Hi! @Tridacnid , take into account that **there will be only one `boost` package in your _host_ graph and all the consumers will use that package**. If there is a conflict in the graph (because of a diamond) you should override the options downstream activating all needed ones as said above... and then each consumer will choose which libraries to link* using the specific CMake targets (``Boost::he

[2020-06-05 08:48] nburles opened #7150 "[bug] Incorrect compiler detection for `clang` with `--gcc-toolchain={}` option"
When setting e.g.
[code]
Conan will autodetect `gcc` as the compiler because of this line: https://github.com/conan-io/conan/blob/0eea418adf86a93ad3a9547be6e16a3c980ffc4b/conans/client/conf/detect.py#L78

[2020-06-05 08:53] nburles commented on #7150
Maybe the `CC` / `CXX` variables should be processed somewhat, to ignore short-form / long-form arguments before checking for `gcc` / `clang` / etc?

[2020-06-05 10:31] memsharded commented on #7150
Good point, thanks for reporting, indeed seems a bug.

In any case, I would like to recall that for production we recommend using profiles, that will properly define ``settings.compiler=clang``, and there will be no confusion.

[2020-06-05 10:38] nburles commented on #7150
Absolutely, and that's what I've changed our system to do (once I worked out how on earth it was getting confused :-)... setting up more specific profiles based on the build targets (previously we **just** set `CC` and `CXX` in the environment for each of the cross-compilers we are using - we will continue doing that of course).

[2020-06-05 10:38] memsharded commented on #7116
Sorry, this is not closed by  #7108, because that only applies to ``cmake_find_package``. Reopening for 1.27.

[2020-06-05 10:41] memsharded commented on #6718
#7108 only provided ``cmake_find_package`` support, not ``cmake``. Reopening this.

[2020-06-05 10:46] #6717 closed

[2020-06-05 10:47] memsharded commented on #6717
Already documented.

[2020-06-05 11:32] memsharded commented on #5699
This has been implemented in latest PRs from @SSE4 , will be in 1.26.

[2020-06-05 11:32] #5699 closed

[2020-06-05 11:46] danimtb commented on #6756
Maybe the `/project` folder is not available? I am not sure, but this is something very tested and it doesn't fail.

[2020-06-05 13:03] climblinne commented on #7146
"Check updates exist for the current `path_or_reference` from upstream remotes.
It's not checking for updates its dependencies! Clean your local cache instead, when you want to update also the dependencies."

[2020-06-05 14:10] hbobenicio opened #7152 "[question] Getting 'settings.compiler.libcxx' value not defined in a --pure-c project"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Even though I've created a new package with the flag `--pure-c`, which conanfile.py template configures the deletion of the field `self.settings.compiler.libcxx`, the command conan create still fails with the error `ERROR: : 'settings.compiler.libcxx' value not defined`.

Am I doing s

[2020-06-05 14:20] memsharded commented on #7152
Hi @hbobenicio

The issue is that the ``conan new -t`` command is generating a ``test_package`` that is using C++ (check test_package/example.cpp). Then the ``settings.compiler.libcxx`` value is still necessary for building the ``test_package``. You have two options:

- Pass ``-s compiler.libcxx=libstdc++`` in the command line, to specify the missing value for the test_package to know how to build

[2020-06-05 14:24] hbobenicio commented on #7152
@memsharded Thanks for the quick explanation!

I got it!

How about when using -t and -c flag at the same time, the `test_package/conanfile.py` template could already also have the configure method deleting it the same way it does on the projects conanfile.py? Sounds a reasonable feature request?

[2020-06-05 14:28] memsharded commented on #7152
Yes, totally, that was what I was thinking when I said:

This would be an easy feature, if you want to try to contribute it yourself 😄

[2020-06-05 15:20] Tridacnid commented on #7148
Makes sense, and the Conan errors are descriptive enough for me to quickly figure out how to resolve the problem.

That upcoming functionality looks nice, I'll look into switching to use that once it's available. Thanks again!

[2020-06-05 15:20] #7148 closed, assigned to jgsogo

[2020-06-05 16:44] flashdagger commented on #7145
Thanks for the feedback. Anyway, the correct approach would be to provide one recipe for all platforms and configurations. In our company we usually start with one implementation and later provide ports further platforms. This means rewriting the recipe which leads to unwanted rebuilds and deployments for platforms that are already working.
Another approach would be to let the consumer conditional

[2020-06-05 17:16] hbobenicio commented on #7152
@memsharded I think I can do that ... ;P  newbie conan user here, so I gotta take a closer look to the code to see how project templates are used based on the CLI comands/flags. My free time is kind of rare, but let's see what I can do... Should we keep it going with this issue or should we open another with as a feature request instead?

[2020-06-05 17:22] manojkdi commented on #6756
No it is available and this failure is intermittent.

On Fri, Jun 5, 2020, 5:16 PM Daniel <notifications@github.com> wrote:

[2020-06-05 17:28] Kintawesar commented on #7147
Yes, it's looks like QtCreator removes cmake from PATH. I've tried to perform
``` execute_process(COMMAND cmake --version) ```  in  ```CMakeLists.txt```

and it is prints nothing.

So I think to ask this in QtCreator forum is a good idea, I will do it.
Interesting, does similar problem exist in other IDE, CLion for instance?

[2020-06-05 17:28] manojkdi commented on #6756
By the time docker entrypoint script starts the shared volume project is
mounted as per docker documentation.

On Fri, Jun 5, 2020, 10:51 PM Manoj Rajashekaraiah <manojkdi@gmail.com>
wrote:

[2020-06-05 17:38] Manu343726 commented on #7042
Hi, checking `self.requires` worked, thank you.

[2020-06-05 17:38] #7042 closed, assigned to nobody

[2020-06-05 19:12] uilianries commented on #6756
Hi @manojkdi which docker image are you running? Did you try Conan docker images?

https://hub.docker.com/u/conanio

They are very stable and used in Conan CI.

[2020-06-06 08:05] manojkdi commented on #6756
I am using docker images which are built inside our company. They come prebuilt with Conan. As suggested by @danimtb  I added trace log so now **Conan intermittently fails with this error**

3:26:37  Traceback (most recent call last):

13:26:37    File "/usr/local/lib/python3.6/dist-packages/conans/model/ref.py", line 111, in loads
13:26:37      _, name, version, user, channel, revision, _ = Conan

[2020-06-06 11:05] SSE4 opened #7156 "[bug] incorrect architecture for iOS (CMake)"
from https://github.com/conan-io/conan-center-index/issues/1806
given the profile:
[code]
and building the sqlite3 as:
[code]
the resulting library has incorrect architecture:
[code]
(notice **x86_64**)
expected output:
[code]
the same applies to all CMake-based projects, e.g. BZip2 has the same problem.

### Environment Details (include every applicable attribute)
  * Operating System+version: ma

[2020-06-07 14:36] DukeOfKirkcaldy opened #7158 "[workspaces] initial feedback / desired workflow"
I've just started messing around with the `workspaces` feature.

I want to use workspaces to work on a full project (root + dependencies such as libraries, configuration, build tools, etc.) without having to always build and export to local cache - pretty much the use case stated in the docs.

So far I've found them to be a bit of a hassle to set up for sharing with other developers, particularly

[2020-06-07 15:06] vajdaz opened #7159 "[question] make generator does not set CONAN_CXXFLAGS as expected"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When running ```conan install . -s arch=x86``` on an x86_64 System, I expect a compiler option like ```CONAN_CXXFLAGS=-m32``` in the generated ```conanbuildinfo.mak``` file, but there is no such an option.

First, the contents of the ```conanfile.txt```:

[code]
Here is the output of

[2020-06-07 17:09] vajdaz commented on #7159
I have found the solution myself. If a ```conanfile.py``` is used with the autotools/make helper instead of the simple ```conanfile.txt```, then it is possible to build the app with ```conan build .```, and conan sets all compiler options and defines correctly. Here is an example of such a consumer receipt:
[code]

[2020-06-07 21:14] memsharded commented on #7159
Hi @vajdaz

An important concept about generators: They output files with information from dependencies. If the package ``mylib`` contained something like:

[code]
Then in your generated ``conanbuildinfo.mak`` will contain ``CONAN_CXX_FLAGS`` with that ``some cxx flags`` value.

A very different thing is the "build helper", in this case, the ``AutotoolsBuildEnvironment``, is a tool to help transla

[2020-06-07 21:34] memsharded commented on #7152
This issue is good, no need for a new one.

Of course, no pressure, don't worry if you can't do it, someone else will manage. The code is python I hope you know the basics.

If you want to give it a try, the idea is to put new templates in https://github.com/conan-io/conan/blob/develop/conans/client/cmd/new.py, and then add an extra conditional under ``if test:``

Don't hesitate to ask for guidanc

[2020-06-07 21:45] #7159 closed, assigned to memsharded

[2020-06-08 07:08] rbrich commented on #6853
It's also broken in [iTerm2](https://www.iterm2.com/).

[2020-06-08 09:53] climblinne opened #7161 "[question] Remove packages on Artifactory"
I would like to remove packages on the Artifactory Conan repository. Up to now, I do this by using the following dummy code

[code]

I would like to do this directly on the Artifactory server. Could you give an example, how to do it?
Thanks!

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-06-08 10:45] memsharded commented on #7149
All sessions sold out.

[2020-06-08 10:45] #7149 closed, assigned to nobody

[2020-06-08 12:00] uilianries commented on #6756
I see 2 errors:

You need to check the package reference. It must contain `name/version@user/channel`. If some value is declared in the recipe, you skip and pass only what need, e.g. `conan create . user/channel`. You can obtain more information here: https://docs.conan.io/en/latest/using_packages/conanfile_txt.html#requires

It seems be you are using a volume, but is not pointing to the correct p

[2020-06-08 12:07] jgsogo commented on #7093
Conan 2.0 could _just package_ the files in the `package_folder` and provide tools for the user to sanitize them:
 * `tools.symlinks_sanitize(conanfile, raise_if_error=True)`: this tool could transform absolute symlinks into relative ones (if they point to files inside the package), and print an error (raise if configured) for links outside the package (but don't modify them).

[2020-06-08 12:58] db4 opened #7162 "[feature] Dev tool path in Visual Studio"
I need to use a dev tool from a conan conan package (namely, Google protobuf compiler) in a Visual Studio project. I was able to generate necessary property pages using `visual_studio_multi` generator but now hit a problem - how to inform Visual Studio of `protoc` executable location? Conan property pages modify debug environment only
[code]
 so simple `protoc ...` in a custom build rule does not

[2020-06-08 13:22] Siron777 commented on #5341
Hi,

I have a similar issue with a _multi config - 1 package_ B depending on a _multi config - 1 package_  A but at the generator level.

I have a _multi config - 1 package_ library A which contain the release and debug version of the lib.
I have a library B consuming A with the cmake_find_package_multi generators and which can be packaged also in as _multi config - 1 package_ for a release and de

[2020-06-08 14:16] memsharded commented on #648
We might want to use zstd compression, it is 6 times faster to decompress: https://raw.githubusercontent.com/facebook/zstd/dev/doc/images/DSpeed3.png

Thanks @tru and @sztomi

[2020-06-08 20:39] JosuGZ opened #7163 "[suggestion] Lowercase the search terms"
I think search should lowercase the terms, it is probably easy to implement and it would improve the results:

![image](https://user-images.githubusercontent.com/25986871/84077971-658d2380-a9d8-11ea-9dd1-537d37717fa5.png)

[2020-06-08 20:52] uilianries commented on #7163
Hi @JosuGZ! I'm understand your suggestion, but we can't simple change it because it would break many users as `foobar` and `FooBar` are different packages.

For the current and future packages in Conan Center Index, I can sure you we only will have lowercase names: https://github.com/conan-io/conan-center-index/wiki#the-recipe-folder

We have more issues related to your idea:

- https://github.co

[2020-06-08 22:13] JosuGZ commented on #7163
I understand. Although my sugestion was only about the search term, so the change should only add more results, it would be possible to differenciate them on the listing, where they would appear with the correct casing.

Fore example, it could show `openssl` and `OpenSSL` on the search results with no problems. But maybe it might break a script that searchs and downloads the last stable version th

[2020-06-08 22:57] uilianries commented on #7163
@JosuGZ There are few problems, first the case sensitive depends on the OS, on Windows your first line would work for local cache. For example, when searching for openssl, you see 2 different names, and they are different packages indeed, but when installing, the case sensitive or may not be taken into account according the OS. To solve it, `search` offers the option `--case-sensitive`, which avoi

[2020-06-09 06:22] db4 commented on #7162
Look like I sorted it out. To modify the path that Visual Studio uses while building a project, visual_studio generator should also add `ExecutablePath` property:
[code]
It corresponds to a propery page's Common Properties -> VC++ Directories -> Executable Directories in IDE.

[2020-06-09 06:39] petermbauer opened #7165 "[feature] Environment variables for download_cache path in conan.conf"
In case the download cache folder is not located in the same path on different CI agents (e.g. Windows vs. Linux) there should be a way to maintain a common `conan.conf` by using environment variables (e.g. `$HOME`) to specify parts of the `download_cache` path or fully override it (`CONAN_DOWNLOAD_CACHE`).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.g

[2020-06-09 06:58] czoido opened #7166 "Conan graph build order accepting a list of lockfiles to consolidate build order"
Hi,

I think that for certain cases in CI flows it would be useful to be able to get a build order across  multiple profiles for the same library. Now, the build order works using a single lockfile (corresponding to one profile) as an input:

`conan graph build-order lockfile-release.lock --build missing --json=build_order.json`

In the CI we are going to have multiple configurations that we would

[2020-06-09 08:22] jgsogo commented on #7145
There are different alternatives and all of them have some pros and cons. It depends on the concrete use-case. Some will make the recipe too complex, others won't work with version ranges,... anything else related to this issue?

[2020-06-09 08:27] jgsogo commented on #7147
If you open an issue somewhere in the QtCreator forums, can you post the URL here? It may help someone with the same issue if they arrive here in the future.

This is something to check for other CMake-based IDEs, probably we should add a note with the findings to the `cmake-conan` project.

Thanks!

[2020-06-09 11:29] solvingj commented on #7166
The timing on this could not be more perfect.  I stopped work on a CI flow last night after reaching the point where I had gathered all the lockfiles for all configurations of a pipeline, and then generated a list of `build-order.json` files.  My next step today was going to be to iterate over all those `build-order.json` files and calculate the "collective build order".  This logic was going to b

[2020-06-09 11:48] Kintawesar commented on #7147
Sure, here is the link to qt forum
https://forum.qt.io/topic/115601/qtcreator-and-call-conan-inside-the-ide-cmake-command-not-found

unfortunately, only one workaround I was able to find - clear build folder and run cmake by hand as I mentioned above

[2020-06-09 14:55] danimtb commented on #7070
The problem I see with this is that it may not be evident what is the default value for all the compilers we are supporting including all the versions.

Currently, we adjusting `_GLIBCXX_USE_CXX11_ABI=0` or `_GLIBCXX_USE_CXX11_ABI=1` for compilers `gcc`, `clang` & `apple-clang`

@0x8000-0000 do you know if we can find this information in the GNU website?

[2020-06-09 16:47] senorpr opened #7168 "[question] Is there a way to force an update from a Conan remote to local cache?"
I just learned that when doing something like:
`conan install . -r conan-local --update`

It does not actually force an update, it will only compare the local cache against what's in the remote Conan repo and say:
`WARN: Current package is newer than remote upstream one`

So basically if the local cache has been updated, but it has not yet been uploaded to Artifactory, I could get this warning. Th

[2020-06-09 22:39] sourcedelica commented on #7168
Related question - is there a way to simply get a list of all local packages that aren't in a remote (based on a `conanfile`)?

[2020-06-10 01:14] 0x8000-0000 commented on #7070
I don't know, and as documented by the page I linked possible that distributions are setting up the default differently than what upstream has.

The way that the configuration setting was defined in Conan, it is not clear what the plan for sunsetting it is. GCC5 was released 5 years ago, and when it was release the default was to use the new ABI. Perhaps this should have been followed here and use

[2020-06-10 06:24] flashdagger commented on #7145
Just wanted to have clarification on this issue for myself and as a rationale for my colleagues.
As conan tackles a very complex domain, it is interesting to see all the different views on possible solutions. They are often not straight forward nor obvious, but the community here tries to discuss them in an open and sensible way. Thank you.

[2020-06-10 06:24] #7145 closed, assigned to jgsogo

[2020-06-10 07:09] jgsogo commented on #7085
Just wanted to link here some valuable comments when we started to talk about plugins (not hooks, but there are things to keep in mind): https://github.com/conan-io/conan/issues/3778

[2020-06-10 07:10] jgsogo commented on #6896
Related? https://github.com/conan-io/conan/issues/4840

[2020-06-10 08:19] derived-coder opened #7173 "[feature] New generator which sources all virtualenv's"
I would like to have a generator which sources under the hood all virtualev's, at least `activate.sh` and `activate_run.sh`

So I do not have to do:
[code]

I found this guide here: https://docs.conan.io/en/latest/howtos/custom_generators.html
However, I would like to avoid creating the virtualenv generators again. DRY.
So I need to derive from the existing ones or invoke them.

Is it possible tha

[2020-06-10 08:58] KrFe opened #7175 "[feature] Consider using isystem for dependency header via qmake"
I would like to have the same feature described here https://github.com/conan-io/conan/issues/2629 as well for the Qmake generator.

Unfortunately Qmake does not come with a nice build system variable to achieve this as Cmake does. But instead it has to be done via the `QMAKE_CXXFLAGS` variable.

In order to test if this would work in any way I locally modified the generated conanbuildinfo.pri fil

[2020-06-10 10:58] wdobbe commented on #5059
Or as a minimum an option to let the package always be built when not in local cache. That could be an addition to the existing build policies.

[2020-06-10 11:07] wdobbe commented on #7132
The current --profile:build and --profile:host cross compile functionality  in Conan 1.25 breaks the tools.cross_building() function that is often used in test packages to avoid running non-build arch executables. The tools.cross_building() function will return false even when Conan is cross compiling.

if not tools.cross_building(self):
            <run executable>

[2020-06-10 12:14] danimtb commented on #7070
@0x8000-0000 I understand the hassle of being forced to set `compiler.libcxx` and it is something you don't worry about in a small project if you are not using Conan. However, as Conan manages the binary compatibility I think this is something to really take into account.

With the lack of information about the defaults, I find it difficult to rely on just the defaults of the compiler and I consid

[2020-06-10 12:41] Hbkhan opened #7177 "[feature] Add Conan package name and version to visual studio generator prop file"
Can we get the feature to add `CONAN_PACKAGE_NAME` and `CONAN_PACKAGE_VERSION` to the visual studio generator prop file? Currently, Conan does support adding package name and version through CMake generator. The feature I am talking about is mentioned [here](https://github.com/conan-io/conan/blob/c923c692fb14dd3ad0a66bab308b4a59f6a037dc/conans/client/generators/cmake_common.py#L71-L73) for CMake g

[2020-06-10 13:06] lieser opened #7179 "[bug] options after --install-folder are ignored if it conatins a space"
If `conan install` is called with an `--install-folder` argument that contains a space, the options after `--install-folder` seem to be ignored.

1. `conan install . -g visual_studio --install-folder "foo\" -s arch=x86`
    - `arch=x86` is used as expected
2. `conan install . -g visual_studio -s arch=x86 --install-folder "foo bar\"`
    - `arch=x86` is used as expected
3.  `conan install . -g visu

[2020-06-10 13:22] solvingj opened #7180 "[feature] update multiple lockfiles if they share modified/built package and package_id"
Summary:

Give users a way to update multiple lockfiles when they share a common package/packageID which has been `"modified/built"`.  Possible ways to approach it include:
* make `conan create` accept multiple lockfiles (probably not the right approach)
* make `conan install` able to detect that the package in the local cache has changed and just update without rebuild (probably not the right app

[2020-06-10 13:39] sourcedelica commented on #7070
For gcc you can find out if your compiler was built with `_GLIBCXX_USE_CXX11_ABI=0` by running `gcc -v` and looking for `--with-default-libstdcxx-abi=gcc4-compatible`.  For example:
[code]

The Red Hat Devtoolset compiler suites continue to use `_GLIBCXX_USE_CXX11_ABI=0` all the way up to gcc 8 for backwards compatibility.  For example:
[code]

Devtoolset is very common in Red Hat Enterprise Linux

[2020-06-10 13:57] cguldner opened #7181 "[bug] Interrupted install leaves locks in bad state"
I am running Conan in a docker container, and while a package is installing, if I `docker stop` the container that Conan is running in, then try running the Conan container again, I get the

[code]

Even running `conan remove --locks` directly before running the command doesn't help. I have to force remove the package before it starts working again.

Continuation of #2071, since that issue was clo

[2020-06-10 14:01] danimtb commented on #7070
Thanks a lot for the info @sourcedelica. I still think it is too much for the value and a bit risky to change the definition for the benefit (just a clang-tidy warning, or am I missing something?).

I can only think about something like #5740 to improve this.

[2020-06-10 14:30] senorpr commented on #7168
Is there a way to force an update from a Conan remote to local cache?

[2020-06-10 15:11] lieser commented on #7179
On further tests, the behavior seems related to the `\` at the end of the folder name. I thought that in the windows command line, `\` is not used as an escape character. But according to https://ss64.com/nt/syntax-esc.html, a trailing backslash can still cause problems.

Strange thing is why the backslash is only causing problems if there a space in the folder name?

Note that I found now a worka

[2020-06-10 22:06] giladreich commented on #2250
Another way is to create a symbolic link. i.e on Windows:
[code]

What I find strange tho, some packages I installed, i.e `Qt` or `Boost` generates another `.conan` folder in my `C:\` drive, so it ends up having packages in:
`C:\.conan\`
`C:\Users\User\.conan\`
the actual package generates a `.conan_link` file:
`C:\Users\User\.conan\data\qt\5.15.0\bincrafters\stable\package\hash\.conan_link`
Which

[2020-06-11 05:36] Johnnyxy commented on #7168
I think you have to remove the package from your local repository first.
I never saw a option otherwise than removing the package until now.
You can only ensure that a local older recipe gets updated via "--update" ([docs here](https://docs.conan.io/en/latest/reference/commands/consumer/install.html#conan-install)).

[2020-06-11 08:56] Siron777 opened #7184 "[bug] N build_type -> 1 package cannot depends on package relying on build_type themselve"
Hi,

When a package C depends on a package S, and both are build in a _N build type-> 1 package_ mode:

- the _create_ command for the package C will not install the multiple build type necessary of S to compile C. It will only install the default build_type or the one specified with _-s build_type_.
- And according to the question https://github.com/conan-io/conan/issues/5341, if the package S is

[2020-06-11 09:01] thkowa opened #7185 "[question] Why are build requirements handled different when using --profile:host/profile:build and just --profile"
I have a recipe _B_ that uses recipe _A_ as build requirement.

Package _A_ exports a CMake module file _AMacros.cmake_ and _package_info()_ exports the CMake Module Path via
```self.cpp_info.builddirs = ["tools/CMake"]```

Usage in recipe _B_:
[code]

Now there is a difference if I create my package with `--profile mypropfile` or with `--profile:host myprofile --profile:build myprofile`.

In the

[2020-06-11 09:23] Siron777 opened #7186 "[bug] A multi build type -> 1 package cannot depend on package relying itself on the build type"
Hi,

When a package C depends on a package S, and both are build in a _N build type-> 1 package_ mode:

- the _create_ command for the package C will not install the multiple build type necessary of S to compile C. It will only install the default build_type or the one specified with _-s build_type_.
- And according to the question https://github.com/conan-io/conan/issues/5341, if the package S is

[2020-06-11 10:20] danimtb commented on #7161
I belive you could do something similat with the jfrog CLI and delete items in a recursive way https://www.jfrog.com/confluence/display/CLI/CLI+for+JFrog+Artifactory#CLIforJFrogArtifactory-DeletingFiles

[2020-06-11 10:26] danimtb commented on #7162
This is something interesting that I didn't know it was possible in visual studio. I think the feature would be pretty good actually

[2020-06-11 10:28] thkowa commented on #7185
I'm using
[code]

[2020-06-11 10:31] DukeOfKirkcaldy opened #7187 "[question] lockfile workaround: '--build=cascade' option leads to overwritten lockfiles"
I was earlier advised to use a workaround for storing lockfiles:

First, since the lockfile contents are also influenced by the profile I expect that the lockfile path should also include the 'pid', right?  (e.g. `<generic repo>/app/0.1/<rrev>/<pid>/conan.lock`)

I've been following the [How to use lockfile in CI](https://docs.conan.io/en/latest/versioning/lockfiles.html#how-to-use-lockfiles-in-ci

[2020-06-11 10:37] danimtb commented on #7168
As replied earlier, the only way to force this right now is to remove the package in the local cache and install from remote again. We are considering this for a reimplementation in the new Conan 2.0 CLI.

I am not sure about what you mean with "based on a conanfile", but I think there is no way to check  if the exact same packages are already uploaded to a remote. I think it will be something nic

[2020-06-11 10:42] danimtb commented on #7173
Why do you need to use both generators at the same time? Could you give us more background please?

[2020-06-11 10:52] czoido commented on #7165
Hi @petermbauer,
Thanks a lot for the feedback. I agree that there should be a way of specifying that folder for multiple platforms, maybe using relative paths to the cache or using `~` to specify the `download_cache` folder.
We'll take this into account for next releases.

[2020-06-11 12:29] senorpr commented on #7168
Thanks. I recently found out that because I'm using this in the context of Jenkins, due to the concurrency issue, I have to use a [new CONAN_USER_HOME for each job](https://stackoverflow.com/questions/62288299/conan-local-cache-when-using-with-jenkins). That in turn would mean a clean new local cache area, and update would not be necessary.

[2020-06-11 13:59] czoido commented on #7187
Hi @GordonJess,

We have some examples of this kind of flow in this organization we built for the conan ci/cd training: https://github.com/conan-ci-cd-training I'm going to refer to some parts of it for the answers. We are continuously working on it optimizing the flow but it's usable in its current state.

For storing the lockfiles, have you considered the possibility of adding the `build_name` a

[2020-06-11 15:07] jgsogo commented on #7177
Hi, @Hbkhan

Can you share a little bit more about your need? I see that this `name` and `version` could only be the one from the final consumer (and there is not always a consumer, e.g. `conan install <ref> -g <generator>`)... so depending on how you use Conan, these fields will be empty and they actually take a `None` value.

Maybe with more context and knowing the scenario we can think about a

[2020-06-11 15:12] jgsogo commented on #7179
From your link, I read:

so for example instead of "C:\My Docs\" use "C:\My Docs\\"

I'll add this one to the backlog with a low priority. It is something we can take a look at at some point in time.

[2020-06-11 15:23] DukeOfKirkcaldy commented on #7187
Hi @czoido,

Many thanks for your detailed response, those examples will be most helpful.

Yes, I did think about it, but I had some problems.

I need to retrieve the lockfile when integrating lib changes.  This means I need to know the path in Artifactory where it is stored.  I can use the `conan info` command to get the `reference` and `rrev` and `package id` of the most recent package, but I am

[2020-06-11 15:26] jgsogo commented on #7181
We need to revisit the locking mechanism we are currently using for the Conan cache, and for sure we want to use a library/mechanism that doesn't block after this kind of failure.

I'll add it this one to backlog, but probably changing the lock implementation need to wait until the next major version we are already planning.

[2020-06-11 15:43] jgsogo commented on #7184
Hi, @Siron777 . Yes, this is a limitation of "multi-config packages", all the packages they require have to be also "multi-config packages".

I would advise you not to use this kind of packages, it is much better to create different packages based on `build_type` if they are actually different binaries. Regular packages have many advantages: small packages, less time to download, less time to comp

[2020-06-11 15:58] jgsogo commented on #7185
Hi, @thkowa .

When using two profiles Conan creates two different contexts and `build_requires` by default belong to the `build` context. This context is intended to provide tools that cooperate to generate packages for the `host` context.

Packages from _build_ context should be able to provide this kind of files: `.cmake` files needed to build, toolchain files,...  [here](https://github.com/con

[2020-06-11 15:59] jgsogo commented on #7186
Duplicated https://github.com/conan-io/conan/issues/7184

[2020-06-11 15:59] #7186 closed, assigned to nobody

[2020-06-11 17:10] czoido commented on #7187
Hi @GordonJess,
Yes, if you don't use a more restrictive mode probably it's not going to be possible not to overwrite the lockfiles, if you don't want revisions to affect the package id's you can also try modes like `full_recipe_mode` or `full_version_mode` that for this case would work.
Have a look at the table with the modes here: https://docs.conan.io/en/latest/creating_packages/define_abi_comp

[2020-06-11 17:49] sourcedelica commented on #7168
@danimtb - I mean, not for every package that is in my local cache, just the packages that are listed in a conanfile, like the way `conan install` and `conan info` work.

[2020-06-11 18:25] DukeOfKirkcaldy commented on #7187
In order to make sure the lockfile is stored under a new path I would need
the `package id` to change, so I think the most restrictive mode would
solve it.

But I'd rather not have this restriction if possible.

On Thu, 11 Jun 2020, 19:11 Carlos Zoido, <notifications@github.com> wrote:

[2020-06-11 19:24] shelper commented on #3356
it has been 2 years, just wonder if there is any updates?

[2020-06-11 20:23] w3sip opened #7188 "[question] Date of conan_package.tgz contents"
I've noticed that all files within conan_package.tgz have their date set to Dec 31 1969. Is that by design?

[2020-06-11 20:35] puetzk commented on #7177
To keep consistency, we want to have the project version defined in only one place and flow it down from there the various places that need to embed it (cmake configure_file, MSBuild WriteLinesToFile or `<PreprocessorDefinitions>`). The top-level ConanFile seemed like a good place for this to come in from, flowing out through the generator(s) and into the build. We have

I agree that these can som

[2020-06-12 06:15] czoido commented on #7188
Hi @w3sip,
The date of the `conan_package.tgz` file should be the date taken from the system that is compressing the package. Can you check the date of the system doing calling to `date`?
Please tell me if this helps. Thanks a lot.

[2020-06-12 06:19] paostman opened #7189 "Problem with conan create command"
Hi.

I have a problem executing the “conan create” command. I don't know where to address this question/problem but the problem is as below.

Attached a zip with a simple conan and build environment.
[conanTest.zip](https://github.com/conan-io/conan/files/4769095/conanTest.zip)

**When doing “conan install” and after that a “conan build” works as expected.**

POstman@LANLTOFF4621 MINGW64 /c/conanT

[2020-06-12 06:40] czoido commented on #7189
Hi @paostman,

What is happening is that [conan build](https://docs.conan.io/en/latest/reference/commands/development/build.html) works in your local folder and [conan create](https://docs.conan.io/en/latest/reference/commands/creator/create.html) works in the conan cache that usually is located in `~/.conan/data` (you can get the location using `conan config home`) so when you run `conan build` c

[2020-06-12 07:32] flashdagger opened #7190 "[bug] conanfile.install_folder is not set in workspaces"
I have a custom generator which uses the `self.conanfile.install_folder` property.
However when it is used within an editable package via the workspace feature it is set to None.

Since the install_folder exists also for editable packages I would expect to access it in this scenario as well. There even exists and `CustomGeneratorTest.install_folder_test()` in conans test suite.

[2020-06-12 08:11] jgsogo commented on #7177
Yes, this is something useful. Thinking about the next Conan version, we will promote the approach with a toolchain-like file separated from the information of the consumers. In the CMake work it is the `cmake_find_package[_multi]` generator plus the CMake toolchain we've just introduced in `1.26.0` release (it will require some refinement before it is ready for production environment). We are inv

[2020-06-12 10:50] paostman commented on #7189
Thanks for your answer but it our case it is not possible to copy to the cache folder since that would require to copy a lot of files. Also using the source method is also not useful for us. So we need to build from the location of the build.bat file. There is no way to from the location of conan-recipe or get the path of it?

BR
Patrik

Från: Carlos Zoido <notifications@github.com>
Skickat: den 1

[2020-06-12 13:50] czoido commented on #7189
Hi @paostman,
Then I suggest you have a look at this section of the documentation where you can find an explanation on how to work in your local development folder: https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html
If you just want to redistribute your compiled library but you don't want to add the sources you could use the `conan export-pkg` command in the final step inste

[2020-06-12 15:25] kshpytsya commented on #7115
I have implemented a proof of concept S3 remote. I have followed your advice of "deducing" the API. I have done it mostly with the help of [Wireshark](https://www.wireshark.org/) analyzing interactions of Conan client and `conan_server` and some reading of code. I would highly appreciate a glance review of at least [the routing map](https://github.com/kshpytsya/conan-client-remote-s3/blob/ff5e637b

[2020-06-12 17:08] pbarrio opened #7191 "Misleading error message: ConanException: Not a valid 'svn' repository"
In a project I usually build without issues, I started getting this exception.

After a while trying to figure out what was wrong with the repository, I realized I didn't have SVN in my path since I was working in a different environment. Once I added the path to SVN, it all worked.

Full error message:
while calling 'source', line 91
        tools.SVN(self.folder).update()
        ConanException:

[2020-06-12 17:52] #7133 closed, assigned to nobody

[2020-06-12 22:05] rddesmond opened #7192 "[feature] Build fails with CMake privately linking to a library with transitive dependencies"
This falls somewhere between a bug, a feature request, and a comment for the various issues about RPATH handling.  It's also troublesome in CMake alone, where their [#19556](https://gitlab.kitware.com/cmake/cmake/-/issues/19556) and [#19707](https://gitlab.kitware.com/cmake/cmake/-/issues/19707) are similar (though involving shared and static libraries, respectively, not imported ones).

When usin

[2020-06-12 22:16] rddesmond commented on #7192
I think the above captures everything that of value that conan outputs, but for completeness: [consolelog.txt](https://github.com/conan-io/conan/files/4773475/log.txt).  Of course, I'm happy to run and gather information from any experiments you think are useful.

And thank you for continuing to make conan awesome!

[2020-06-12 22:28] madebr commented on #6752
I think this is a bug instead of a feature because the configuration parameter `print_run_commands` can break a otherwise working recipe.
I propose 2 ways to fix this:
1. Add a parameter to `self.run`, named `print_run_cmd=None` that will print the run command. (None=config, True=print, False=no print).
This change can make the behavior of `self.run` more or less similar to `subprocess.check_call`

[2020-06-13 18:01] ArekPiekarz opened #7193 "[bug] Conan migration claims settings.yml was modified when it wasn't"
After upgrading Conan, during migration it always says that settings.yml from older version was modified even when it doesn't differ from settings.yml from newer version.

### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: GCC 10.0.1
  * Conan version: 1.26.0
  * Python version: 3.8.2

### Steps to reproduce
- Install conan with `pip3 install conan==1.25.2`
-

[2020-06-13 21:39] madebr commented on #7017
I updated my cpython recipe at https://github.com/conan-io/conan-center-index/pull/1510

It built fine locally. 🤞  for the CI 😄

Thanks for the super addition.

[2020-06-14 08:09] flashdagger commented on #7190
Addition:
I discovered that `generator.output_path` is set before the content property is queried. This seems to work all cases. Since is it not documented I wonder if I could use it as part of the generator API.

[2020-06-14 21:05] memsharded commented on #7017
Cool, let me know if you find any issue with it!

[2020-06-14 21:47] memsharded commented on #7191
Thanks for reporting this.
As this would be a very occasional error, I think just improving the message as proposed in https://github.com/conan-io/conan/pull/7194/files would be enough. What do you think?

[2020-06-15 07:23] Siron777 commented on #7184
Hi @jgsogo,

Well, I won't mind that much if those packages are deprecated. I am using them for convenience, as we are always using the debug and release build, but I am discovering that this convenience is not that big with the limitation describe here. The multi config package that we are not creating ourself come with their own cmake files (ex. Qt), for those ones we do not depend on the cmake

[2020-06-15 07:37] jgsogo commented on #7184
You are right. Nevertheless, we cannot remove this functionality due to the stability commitment for versions 1.x, but this is something we should add to the [CONAN_V2_MODE](https://docs.conan.io/en/latest/reference/conan_v2_mode.html#conan-v2-mode) where we are starting to remove some functionality that we will deprecate in Conan v2.

[2020-06-15 08:24] derived-coder commented on #7173
I have a package for a Qt application created. This package needs the `LD_LIBARY_PATH` & `PATH` env and additional some Qt environment variables: `QML2_IMPORT_PATH` & `QT_PLUGIN_PATH`

`QML2_IMPORT_PATH` & `QT_PLUGIN_PATH` are available in the activate.sh
 `LD_LIBARY_PATH` & `PATH` are available in the activate_run.sh

[2020-06-15 08:35] #7191 closed, assigned to nobody

[2020-06-15 08:49] danimtb commented on #7173
Ok, now I understand the need. Writing a custom generator with inheritance from the `virtualenv` and `virtualrunenv` should be very straightforward. Otherwise I am not how could we fix this. Maybe merging all virtualenv generators into the same one?

[2020-06-15 08:56] jgsogo commented on #7115
I think it should be enough for a basic server (just storage). You are missing a `delete` endpoint and, besides the `search`, surely it will be useful to have some kind of authentication/token mechanism to avoid anyone modifying files in the server.

[2020-06-15 09:12] antonrigner opened #7195 "[feature] More precise error message upon artifactory access failure"
When trying to retrieve conan requirements from the artifactory server without the correct user access rights, it fails and the following error message is provided:

`conanreq_anon/1.0.0@anon/stable: Not found in local cache, looking in remotes...
conanreq_anon/1.0.0@anon/stable: Trying with 'conan-center'...`
`ERROR: Error loading conanfile at 'W:\repo\conan\conanfile-pc.py': Unable to find 'cona

[2020-06-15 09:39] DoDoENT opened #7196 "[bug] [regression] conan 1.26.0 breaks python requirements with custom classes"
Consider this example: [conan-issue.zip](https://github.com/conan-io/conan/files/4779320/conan-issue.zip)

It contains two conanfiles, a base conan file, which contains a base for conan file and custom extension of `conans.CMake` class, which allows some customizations of the CMake helper (better described in issue #3099), and normal conanfile that `python_requires` the base.

With Conan 1.25.2, t

[2020-06-15 09:58] fschoenm opened #7197 "[bug] conan remove -s does not remove export_source folder"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: n/a
  * Conan version: 1.26.0
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)

I wanted to remove temporary build and source folders from my local conan cache after building a package with ``conan remove -b -s package_reference``. However, I used `

[2020-06-15 10:00] pbarrio commented on #7191
Thank you for fixing! The new message looks good; it says enough to remind
me next time that I forgot to set up my environment properly ;)

On Sun, 14 Jun 2020, 22:47 James, <notifications@github.com> wrote:

[2020-06-15 10:22] #7136 closed, assigned to uilianries

[2020-06-15 10:29] memsharded commented on #7197
Hi @fschoenm

This is not a bug, this is expected and by design:

- The removal of ``conan remove -s`` applies to any "redundant" source code in the cache that can be reproduced later. It means, something that is retrieved from the ``source()`` method, or as a result of the ``scm`` component.
- The ``exports_sources`` contain code that comes from exporting the recipe. It is a copy of the code that

[2020-06-15 10:51] memsharded commented on #7195
Can you please clarify which Artifactory version?
IIRC, I think Artifactory has a security feature, that makes it return 404 in api calls, to not unveil the existence of resources. It might be disabled, if that is what you want, and then Conan might give you a different error.

With the default configuration, for example, Conan will not jump to the next remote (conan-center), but it will ask the c

[2020-06-15 12:42] memsharded commented on #7196
This is not because of python_requires, but because of inheriting from `conans.CMake`, as we changed the interface for the new "toolchain" feature. Proposing a new name in #7198 to avoid the issue, though we might want to consider other alternatives, as metaclasses.

[2020-06-15 13:07] martinkunkel2 opened #7199 "[question] package development workflow with custom setting"
We have a package with a hardware dependency (size of available memory). We would like to build the package for different hardware using the package development workflow (https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html). The build step is hardware-dependent.

To achieve this, we introduce a setting for the hardware, in `settings.yml`:
[code]
and a profile `myprofile`, whe

[2020-06-15 13:27] senorpr commented on #7168
Most of our questions have been answered. I will be closing this issue. Thanks.

[2020-06-15 13:27] #7168 closed, assigned to nobody

[2020-06-15 13:47] antonrigner commented on #7195
We are using version 7.4.1

This is already disabled in the security settings

![image](https://user-images.githubusercontent.com/43144707/84664549-fdca6180-af1e-11ea-80ff-89532c321cad.png)

AFAIK, we use default Conan settings. Anyway, in our use case, users are supposed to be logged in to all setup remotes.

[2020-06-15 13:58] rddesmond commented on #7196
Beat me to the story!  The workaround I took was
[code]

[2020-06-15 14:00] memsharded commented on #7196
Thanks for the hint @rddesmond
Don't hesitate to report these issues before implementing workarounds, when new versions introduce regressions, we are willing to revert them and provide other alternatives, but we need to know that we are breaking :)

[2020-06-15 14:18] rddesmond commented on #7196
Thanks, @memsharded, great work on conan! s@DoDoENT beat me to writing the story (I swear I'm not shy -- I added a different one on Friday), and I found the workaround I posted while triaging.

[2020-06-15 16:57] claremacrae commented on #4457
If you get an error with this first line, then try the second line:
`gtest:build_mock=False`
`gtest:build_gmock=False`

[2020-06-16 10:55] derived-coder commented on #7173
This issue is not about fixing anything. This is a feature request. So are you going to implement a new generator which does this?
I unfortunately don't know how to do this. Would be could to have an example which derives from an existing one. So this example would be good in the docs. Or implement the new generator

[2020-06-16 11:04] danimtb commented on #7173
You can see an example here https://github.com/conan-io/conan/blob/develop/conans/client/generators/virtualrunenv.py although inheritance is not mandatory, you could instantiate both `VirtualRunEnvGenerator` and` VirtualEnvGenerator` and merge their contents into a single file

[2020-06-16 13:22] kshpytsya commented on #7115
@jgsogo thank you for your review. I will implement `search` and `delete`. As for authentication, it is irrelevant here, as access control is handled by means provided by AWS. You may have missed the fact that the remote "server" I have implemented is actually executed in the same process as Conan client itself, therefore making it impossible to implement any custom access control other than in so

[2020-06-16 15:00] Johnnyxy opened #7201 "[question] conanfile.py: license attribute and conandata"
Hi there,
I am fiddling around with 3rd party packages to provide them in my Conan environment.
Sometimes some 3rd party libraries do not have an appropriate license file (e.g. COPYING, LICENSE, ...) packed. So I have to add a license file as an extra to my recipe. For this I am using the [conan_data](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#conan-data) feature with the

[2020-06-16 15:12] rconde01 opened #7202 "[feature] Add a command line interface to get package options"
I was looking for something like:

conan list options xxxx/q.r.s

which would give you the options available for the package, the "options" for those options, and the default.

Apparently conan search xxxx/q.r.s does list all the options, but not the options for the options (e.g. in boost/1.7.1 from conan-center, it doesn't show the choices for layout). It also shows for every binary package(it se

[2020-06-16 15:15] rconde01 commented on #7202
Sorry - I found this issue which provides the solution:

https://github.com/conan-io/conan/issues/1278

[2020-06-16 15:15] #7202 closed, assigned to nobody

[2020-06-16 15:24] memsharded commented on #7196
Fixed by #7200, will be released soon in 1.26.1 patch release.

[2020-06-16 15:24] #7196 closed, assigned to memsharded

[2020-06-16 19:21] uilianries commented on #7201
Hi @Johnnyxy !

Please, take a look on PR https://github.com/conan-io/conan-center-index/pull/1855/files

It has a similar case, you can use the same idea.

[2020-06-16 19:27] uilianries commented on #7201
For dynamic license name, you can use:

[code]

When running `conan inspect` you will see BSD-2-Clause, because it's the static attribute value, but when running `conan info` to the specific package reference, you will see the correct version.

In my experience, it's very rare case when a project change its license, I saw it a couple of times.

[2020-06-16 21:26] Johnnyxy commented on #7201
Hi @uilianries,
yes normally this is very rare. But for example the PlantUML tool can be downloaded with different licenses ([see here](https://plantuml.com/download)). In the case of my recipe when someone adds a new version with a different license or the selected license gets dropped and some other has to be used I would have to provide a different license string. I was thinking about preparing

[2020-06-16 21:26] #7201 closed, assigned to nobody

[2020-06-16 21:39] uilianries commented on #7201
@Johnnyxy indeed your case is very particular and adding a helper for license would help, but it's a new feature for a rare case ...

Cool that worked for you!

[2020-06-16 23:53] memsharded commented on #7199
Yes, the ``source()`` method must be completely agnostic of settings and options, because it is an optimization. The source retrieved by the ``source()`` method will generate a single common "source" folder, containing the source, so such source code should be common to all configurations.

If you need any specific code for different configurations or hardware, you should probably retrieve it in t

[2020-06-17 00:00] memsharded commented on #7201
Hi @Johnnyxy

I am not sure if it is a good idea, or maybe a bit of abuse. But the new ``init()`` method, designed for python inheritance, should probably work to define the license. This is called just after the conan_data is initialized, and will be called even for ``conan inspect``.

[2020-06-17 06:26] martinkunkel2 commented on #7199
Hi James. Thank you for the answer.

Our `source()` method is indeed completely agnostic of settings and options.

The problem is that calling `conan source` still results in an error
[code]

Here is a minimal example:
[code]

used conan version 1.26.0

[2020-06-17 08:00] Johnnyxy commented on #7201
Hm, ah yes, the _init_ method I forgot. Nowadays our IT department does not update Conan that often anymore so I came not in contact with some new features. It will have a look into it.

@memsharded
This would mean that I could reinitialize every class member. But the static value still exists in the recipe:
[code]

Is Conan now (maybe still in progress) redesigned to create an instance of a recip

[2020-06-17 12:26] saimusdev opened #7203 "[related:7120] self.deps_user_info and/or self.env_info not working with build & host profiles combo"
### Environment Details
  * Operating System: Ubuntu 16.04.6 LTS
  * Compiler+version: gcc 6.4.0 (but should be irrelevant)
  * Conan version: 1.26.0
  * Python version: 3.5.2

### Steps to reproduce

#### 1. Create a build-context and a host-context profile

##### Sample: build-context profile: `build/linux64`:
[code]
##### Sample: host-context profile: `native64`:
[code]

#### 2. Create a simple

[2020-06-17 12:27] ncouronne opened #7204 "[question] minimal conanfile.py created by new command could include requires packages"
Hi all,

- conan version 1.26

In my company, we are starting using conan to manage dependencies with our proper libraries and external third party libraries.
For internal reason we choose to use conan as it:
- For one internal library A, we define requires in a conanfile.txt to install internal and external dependencies as a consumer
- internal build tool
- Then for the same lib, as a producer, u

[2020-06-17 13:28] dec0dOS opened #7205 "[bug] conanio/gcc7 and conanio/gcc7-mingw - stuck after downloading qt"
### Environment Details
  * Operating System+version: macOS 10.15
  * Compiler+version: gcc7
  * Conan version: 1.26
  * Python version: 3.7.5

### Steps to reproduce
conanfile.txt:
[code]

[code]

### Logs

In attachment
[Log at 2020-06-17 4-26-33 PM.txt](https://github.com/conan-io/conan/files/4792760/Log.at.2020-06-17.4-26-33.PM.txt)

### Description

I'm using docker images (conanio/gcc7,  con

[2020-06-17 16:06] blockspacer opened #7206 "[workspaces] update documentation"
My workspaces setup: https://github.com/blockspacer/flextool#for-contibutors-conan-workspace

First of all: workspaces are great! But documentation lacks some important usage instructions.

Some things that i had to change in CmakeLists.txt to make workspaces work in not-trivial setup:

* no relative `include()`. workspaces use `add_subdirectory`, so collision in names of `.cmake` files caused bug

[2020-06-17 18:33] uilianries commented on #7205
You are uut of memory. Qt requires a lot of storage, but are running a container which is temporary. You need to check you RAM usage and your docker container by `docker inspect <container name>.

This problem is not related to Conan, it will happen for any big download each exhaust your memory.
`

[2020-06-17 19:04] solvingj opened #7207 "[feature] Commands to add/retrieve arbitrary metadata for a recipe OR binary"
A single simple user story:

We use a CI service to build and upload all our Conan packages to our Conan repository.  When users are working no a package locally, they often want to see the log from the build.  It's currently fairly awkward for the user to locate the log of the build in the GUI from the CI system.  Not only do they need to locate the job, but they also need to somehow identify the

[2020-06-17 19:07] solvingj commented on #7207
In terms of implementation details, the commands for metadata on binaries would effectively need to support all the same configuration arguments as `conan create` and `conan install`:
`path_or_reference, -pr, -s, -o, -e`, etc.

[2020-06-17 19:17] solvingj commented on #7207
If this feature gains traction and moves forward, I would like to also append the following scope increase for consideration.  I'm making it in a separate comment because it may deserve it's own feature request, and deserve being implemented separately. It might have substantially more complicated storage requirements.

**Arbitrary Metadata Files**
In addition to attaching string metdadata, please

[2020-06-17 19:35] dec0dOS commented on #7205
Many thanks! Increasing storage, swap, memory and changing mount to docker volume resolve the issue. I have several issues before while trying to set things up, so it was really hard to troubleshoot.

[2020-06-17 19:35] #7205 closed, assigned to nobody

[2020-06-18 01:52] rddesmond opened #7208 "[feature] Capture the "shared" state of dependencies with shared_library_package_id"
I just noticed the addition of `shared_library_package_id`!  I love it,  it scratches an itch I was beginning to notice way better than I had thought of (I was just worried about capturing the shared state.. but this is way better).

One addition: have an option to capture the state of the `shared` option for all of the dependencies if the package being built is shared, to make the change from `?:

[2020-06-18 06:10] blockspacer commented on #6836
It may be good idea to add command-line flag during `conan create` to handle package as separate revision.

My use case:
I want to store large conan package (conan package for LLVM) in local cache, each revision with with different options but same version.
Currently i'm forced to re-build LLVM (takes hours) on each change in options (ideally common configurations of LLVM package options must be c

[2020-06-18 07:15] saimusdev opened #7209 "[related:7120][bug] imports() not working with build & host profiles combo"
### Environment Details
  * Operating System: Ubuntu 16.04.6 LTS
  * Compiler+version: gcc 6.4.0 (but should be irrelevant)
  * Conan version: 1.26.0
  * Python version: 3.5.2

### Steps to reproduce

#### 1. Create a build-context and a host-context profile

##### Sample: build-context profile: `build/linux64`:
[code]
##### Sample: host-context profile: `host/native64`:
[code]

#### 2. Create a p

[2020-06-18 07:18] saimusdev commented on #7209
I've seen that it doesn't even matter if the `build-context` profile is empty, the issue arises whenever a `host-context` profile (which work fine by themselves) are combined with a `build-context` profile (regardless of the content).

[2020-06-18 07:58] rasjani commented on #7207
I'm currently implementing promotion gates and having access to to arbitrary key,val pairs accessible via `conan get` would make iterating my staging queue a bit easier as i could then place all the needed information into a single location. For my needs, i'd need something along these lines:

- a link or change-id of gerrit review (pull request)
- recipe scm hash
- possible remote scm sha of actu

[2020-06-18 14:25] jgsogo commented on #7192
Hi!

Conan, as a package manager, by default removes `rpaths` from the generated libraries ([+info](https://docs.conan.io/en/latest/howtos/manage_shared_libraries/rpaths.html)). From the point of view of a package manager that distributes already compiled artifacts, `rpath` are not going to work as binaries generated in one machine won't be in the same path when used in a different machine.

In yo

[2020-06-18 14:31] jgsogo commented on #7193
Hi! I can see the message the first time I run a command after installing Conan 1.26, but afterward this message doesn't show up.

Are you getting this message with every command or just once?

[2020-06-18 14:35] theodelrieu commented on #7203
@jsgogo This does look like the issue we talked about with the android_ndk_installer recipe, right?

[2020-06-18 14:41] jgsogo commented on #7203
Hi! Yes, this is totally related to https://github.com/conan-io/conan/issues/7120 and the information we want (we need) to propagate from the build context to the host one... It was a conscious decision not to propagate `user_info` in this new cross-building approach because we really wanted to receive feedback and example use cases.

So, right now, this is by design, but it has to be analyzed car

[2020-06-18 14:47] maxime-uavia opened #7210 "[bug] Dependencies are now forced to be built from source"
Hello,

Thank you for taking the time to read my issue.

### Context

We have been using Conan to build packages for our CPP projects (with GitHub Actions), and since today, we had no problem.

We have implemented a CI with Conan and GitHub Actions, in order to trigger a build every time a commit is pushed on our main branches.

Yesterday, we merged a pull request that triggered a build for one of

[2020-06-18 14:47] theodelrieu commented on #7203
I have to admit I didn't realize about `user_info` being used here. Is it the same issue with `env_info`? IIRC that is the main problem with "toolchain" packages such as `android_ndk_installer`

[2020-06-18 14:55] jgsogo commented on #7204
Hi! The command `conan new` is just a convenient way to create a minimal example and it is out-of-scope to pass arguments to it (besides the reference) and implement logic based on this arguments (yes, we might remove some of the `-ci` arguments in the next Conan v2).

Nevertheless this command has a `--template` argument that will stay. With this argument you can provide your own template for the

[2020-06-18 15:07] maxime-uavia commented on #7210
I would like to add two more log chunks from a test project that also builds on GitHub Actions.

This was the output of the commit 4c9a23e, 16 days ago:

[code]

The output of the same commit, by re-running manually the build today:

[code]

In the first build, the package is simply downloaded. In the second build, the package is forced to be built. This is the same commit, and nothing has been ch

[2020-06-18 15:15] jgsogo commented on #7206
Hi! Thanks a lot for your detailed feedback and for taking the time to submit all these suggestions that can improve workspaces. For sure this is not just about better docs, but the feature itself needs to be fixed/improved. I'll share with you a draft I did time ago trying to address some issues I found while using workspaces: https://github.com/conan-io/conan/pull/5314 (the PR description is mor

[2020-06-18 15:19] braindevices opened #7211 "[bug] conan cannot find required package when channel is not specified"
When we specify like following:
[code]
We would expect it find any possible match in any channels. For this package we have:
[code]
Thus it should actually find last one. However, in conan 1.26 it cannot find it.
I have to specify the channel:
[code]
The `jsonformoderncpp/3.7.3` has same behaviour of `jsonformoderncpp/3.7.3@` which is unexpected.

### Environment Details (include every applicable

[2020-06-18 15:28] jgsogo commented on #7207
There are a couple of issues I want to link here: https://github.com/conan-io/conan/issues/4694 and https://github.com/conan-io/conan/issues/6267.

---

I'm not sure if this is something related to the Conan client itself or this is something specific for a CI workflow. We should POC a pipeline using existing tools (Artifactory, build info,...), right now we can store key-value pairs using propert

[2020-06-18 15:31] jgsogo commented on #7203
It is not exactly 100% the same problem, but probably the solution will be pretty similar.

[2020-06-18 15:50] jgsogo commented on #7208
Hi! I think I'm not understanding your suggestion... can you explain it a little bit more?

Trying to add some info to my answer: you can get the list of your dependencies with [`self.deps_cpp_info.deps`](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#deps-cpp-info) and you can iterate them to get the actual value of the options with `self.options["<depname>"].sahred`.

[2020-06-18 15:56] jgsogo commented on #7209
This is also related to #7120. Thanks for adding one more use-case, it will help us to understand how people expect to use this feature.

I need to ask you for patience, as we need to analyze all these issues together to provide a coherent solution.

[2020-06-18 16:02] jgsogo commented on #7210
Hi! I would love to see that repo, the action and how it works all together 😉

Can you post the conan commands that triggers that build? Maybe a change in the `conan.conf`?

We haven't modified anything in the client that will trigger such a change, regarding binary availability and building from sources everything should work exactly the same for all the 1.x versions.

[2020-06-18 16:14] jgsogo commented on #7211
Hi! From the POV of Conan, **packages with and without `user/channel` are completely different references, unrelated packages** (although they will conflict in the graph if both are present because the key for the graph is just the `name`).

We encourage to use packages without `user/channel` when available as they are coming from the curated ConanCenter repository (https://github.com/conan-io/con

[2020-06-18 17:03] rddesmond commented on #7192
Good morning!  Thank you for looking at this.

This is definitely an issue regarding building (and neither running in the install tree, where rpaths are allowable, nor the running after install, where we bundle things together).

I just tested this same procedure on my mac, it works for me there like it did for you.   I think the environment difference is the compiler, so I tried it on a mac and a

[2020-06-18 17:22] saimusdev commented on #7209
Thanks you for looking into this so promptly!

No rush! we've stopped using `build-context` profiles alltogether, until this is finalized and the usage is seamless and analogous to the other profiles (obviously, I don't understand the inner workings), From a Conan user perspective, I don't understand why combining build and host context profiles would make it unusable. Maybe I'm mistaken on the us

[2020-06-18 17:22] saimusdev commented on #7203
Thanks for looking into this!

[2020-06-18 17:50] braindevices commented on #7211
@jgsogo thanks. This make sense.

[2020-06-18 17:50] #7211 closed, assigned to jgsogo

[2020-06-18 19:54] ArekPiekarz commented on #7193
It happens once after every upgrade of Conan since a few releases, but I don't know exact one which started it. Because of that after each upgrade I have to check differences between settings and manually move files.

[2020-06-18 21:57] rconde01 opened #7212 "[feature] Add --no-binary-packages option to conan install"
There may be a better place to put this, but sometimes you want all packages to be built locally. For example on linux, maybe you don't want to wait to get glibc linker errors...just force local building. You can use --build...but then if you need to call it again later, it rebuilds everything not just the new stuff. I could also imagine specifying this on a package by package basis, but the globa

[2020-06-18 22:02] rconde01 commented on #7212
I guess you can add --build new_package1 --build new_package2...a bit manual though

[2020-06-18 23:29] memsharded commented on #7212
It is possible that the best approach is to customize settings: https://docs.conan.io/en/latest/extending/custom_settings.html. You will have full control over what is built, and if glibc is the issue, adding glibc to the settings will give you exactly the behavior you want, without needing to manually manage ``--build``.

[2020-06-19 06:10] patpir commented on #7210
Hi,
@maxime-uavia are you using Conan Package Tools in your build?

Because we are seeing the same problem, but only with the latest version of Conan Package Tools (0.33.1), and it doesn't happen after switching back to Conan Package Tools 0.33.0.

[2020-06-19 07:03] jgsogo commented on #7210
It might be related to this PR (https://github.com/conan-io/conan-package-tools/pull/502), if it is about conan-package-tools it would be useful if you can share the inputs.

Thanks

cc @uilianries

[2020-06-19 08:33] ncouronne commented on #7204
Hi,
Thanks for your answer.
After posting i was  studying the template argument and yes it is a quite good option to solve my issue.
Thanks for your suggestion of parsing the conanfile.txt, it will avoid to store dependencies in two separate location, i will try this !

Thanks again for your advice but as far as i understand using conanfile.py to create and consume package will force us to use the

[2020-06-19 09:31] ncouronne commented on #7204
To complete your template suggestion with the templates/parsing conanfile.txt trick, that's what it looks like:

[code]

[2020-06-19 09:57] TheQwertiest commented on #6346
@memsharded , I would like to implement this feature. I.e. ability to specify directory with multiple files as a template.

The main question is about CLI (since naming things is hard). Currently I'm thinking of smth like this:

`conan new package_name [-md, --template-directory TEMPLATE_DIR]`. (since currently it's `-m, --template` for template file)

TEMPLATE_DIR must contain `conanfile.py` and

[2020-06-19 10:08] TheQwertiest commented on #6346
Further improvements for `--template-dir`:
`--overwrite-policy {overwrite, skip, ask}` - this would allow to convert existing non-conan projects.

[2020-06-19 13:21] uilianries commented on #7210
@jgsogo could you please transfer this issue to CPT ?

[2020-06-19 15:13] TimSimpson commented on #6069
I think if it is possible to support this in Conan it should be done, for the simple reason that it's currently possible in pure CMake to make the argument to `find_package` and the exported target namespace different so inevitably people are going to do that and it would be nice if Conan packages could work interchangeably with other solutions.

For example, consider vcpkg's `SDL2-image` package.

[2020-06-19 16:44] josh-stoddard-tanium opened #7214 "[question] During cross-compilation, how should build requirements in individual packages depend on other build requirements specified in the host profile?"
- conan 1.26.0

Hi,

I'm trying to cross-compile using build and host profiles as described [here](https://docs.conan.io/en/latest/devtools/build_requires.html#build-and-host-contexts). I have a `MyInstaller` package whose `package_info` populates `env_info` with some values that need to be present to build all of my dependencies in the host context, as described [here](https://docs.conan.io/en/la

[2020-06-19 17:07] jgsogo commented on #7212
Talking with someone last week, for a related issue, we thought about a different approach: adding a _flag_ to a remote so no binaries are downloaded from it. It is like adding a `--no-binaries` flag at the moment of adding the remote, from that point on, Conan will retrieve the recipes but not the binaries.

No need to modify the global config, package-IDs compute the same values, other remotes a

[2020-06-19 17:10] josh-stoddard-tanium commented on #7214
BTW, I was able to work around the problem by moving all of my build dependencies into the host profile.  Evidently, build requirements in the same profile don't interfere with each other.  This is not an ideal solution, but it unblocks me for the time being.

[2020-06-19 17:10] jgsogo commented on #7214
I think this issue is the same one we are fixing here: https://github.com/conan-io/conan/pull/7169 cc/ @danimtb

[2020-06-19 18:06] TimSimpson opened #7217 "[feature] allow arbitrary CMake code to be appended to `cmake_find_package` generated find modules"
## Motivation

As of today, there are people out who use CMake to generate package config files, save them to their Conan packages, and then consume them later using the `cmake_paths` generator. [This blog post](https://jfreeman.dev/blog/2019/05/22/trying-conan-with-modern-cmake:-dependencies/) represents a good summary of the thinking behind this. A big draw is the ability to use any custom targe

[2020-06-19 18:46] josh-stoddard-tanium opened #7218 "[question] [xbuild] It it reasonable for a package to `build_require` itself?"
- conan 1.26

For example, [`protobuf`](https://github.com/bincrafters/conan-protobuf)'s recipe builds a runtime library and a corresponding compiler executable `protoc`. Suppose I want to cross compile `protobuf` to [`Emscripten`](https://github.com/bincrafters/conan-emsdk_installer), I would want the runtime lib built for `profile:host` and the compiler built for `profile:build`. Would it make s

[2020-06-20 01:41] shelper opened #7220 "[question] package compatibility with different package_id_mode"
So, I am reading the doc page at https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#compatible-packages
where it says:
`For example, if you are generating binary packages with the default recipe_revision_mode, but you want these packages to be consumed from a client with a different mode activated, you can create a compatible package transforming the mode to recipe_rev

[2020-06-20 03:02] rconde01 opened #7221 "[feature] Validate arguments to conanbuildinfo.cmake macros"
I spent some hours tracking down an unexpected behavior where I did:
`conan_basic_setup(NO_OUTPUT_DIRS,KEEP_RPATHS)`
rather than:
`conan_basic_setup(NO_OUTPUT_DIRS KEEP_RPATHS)`

it would have been useful if the macro validated the passed arguments were valid options, and reported an error about the mistake.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.

[2020-06-20 11:33] gddl commented on #6892
A solution for VS Express Editions would be really great. I stumbled over this when building openssl which uses `vcvars(...)`. The best approach would probably be to determine the available toolsets and not to rely on `arch_build`.
Couldn't `PreferredToolArchitecture='x86'` be implemented as workaround to enforce the use of the x86 toolset for `arch=='x86_64'`? Just like `PreferredToolArchitecture

[2020-06-20 11:34] Forbinn opened #7222 "[feature] add the possibility to remove `message` function call in qmake generator"
Hi, I have notice that currently the `qmake` generator, generates a `conanbuildinfo.pri` which contains a call to the `message` function to tell the developer / package manager, that the current build is in `Release` or `Debug` mode.

The problem is that the function calls are hard-coded [here](https://github.com/conan-io/conan/blob/develop/conans/client/generators/qmake.py#L82) and [here](https:/

[2020-06-20 14:34] BobFIV commented on #2250
somewhat related to this question (I'll create a new one if appropriate), I have conan client in windows and in WSL. On install they have separate repositories.  Can I setup the WSL conan client to use the same repository location used on Windows? Will there be any problems from the two clients (windows and wsl) using the same repository?
Is it as simple as changing the repostiory confing in WSL?

[2020-06-20 15:12] rconde01 commented on #7212
Here's another use case. I'm finding that some of the packages i'm using don't have pdbs. In any case, IIRC, packaged PDBs can be problematic since the local source paths are different than the build server. So - then, you want to do all builds of Debug/RelWithDebInfo locally so that is not an issue. You check out your repo, and specify --build. But again, this becomes a problem next time you chec

[2020-06-20 15:17] rconde01 commented on #7212
Now I realize, I don't think building locally even fixes the pdbs...because the packages aren't including them anyhow. Maybe if you leave your build dirs around it will work. So...I suppose i'll have to create a lot of issues :(

[2020-06-20 17:36] shelper commented on #7220
Also one related question: Do I have to set `general.revisions_enabled=1` to make `recipe_revision_mode` and `package_revision_mode` valid as `default_package_id_mode`? if so, why we need a separate switch `revisions_enabled` ?

[2020-06-21 08:45] anagno opened #7223 "[feature] Support for clang 11"
Hello Everyone,

Is it possible to add in the default settings list the clang 11 (https://clang.llvm.org/docs/ReleaseNotes.html) ?

The compiler is already being actively used from the https://conan.io/center/emsdk_installer/1.39.13 and for the moment I have to manually adapt my settings.yml

~~I think it used to work, but probably some changes with clang-apple removed the version ?! (no idea to b

[2020-06-21 10:58] Ri0n commented on #2377
still no workaround?

[2020-06-21 16:35] craigaiken opened #7225 "[question] Help understanding correct usage of self.cpp_info.build_modules"
I have two conan packages that I am developing.  Let's just call them A and B.  Package A produces a cmake module that I export.  So I have something that looks like this in A's conanfile.py:

[code]

Then I want to use foo.cmake in B.  B defines requires AND build_requires for A in its conanfile.py.  Then in B's CMakeLists.txt:

[code]
But I see a cmake error during conan create:
[code]
Examining

[2020-06-21 16:53] memsharded commented on #2250
@giladreich

Yes, this is the ``short_paths`` feature for Windows. Implements a workaround to avoid the ugly path limit in Windows. It is a feature. The place of this folder can also be controlled with the ``CONAN_USER_HOME_SHORT`` (https://docs.conan.io/en/latest/reference/env_vars.html)

@BobFIV

While they can in theory use the same Conan cache (locally we call it a cache, it is not intended to

[2020-06-21 18:12] technoir42 commented on #6235
I created a Bazel [generator](https://github.com/technoir42/conan-bazel/blob/master/conanfile.py). It's very basic right now so I'm not going to contribute it in the current state.

[2020-06-21 19:34] ytimenkov opened #7226 "[feature] Toolchain lacks environment variables"
The toolchain feature looks awesome and I was going to suggest it instead of `conan build --configure`, but it fails with 2 use-cases:
1. Profile defines compiler (e.g. `CXX=gcc-9`) and flags (`CXXFLAGS`) in environment variables. Those won't be used of CMake just runs.
2. If CMake itself is a Conan package, it won't be found.

Of course, one can use virtual(run)env generator in addition, but then

[2020-06-21 19:34] ytimenkov commented on #7064
Having any recent CMake is a 1 line in profile.
Thanks to the full path to cmake executable stored in the generated build system there is no need for extra environment activation, i.e. if `CMakeLists.txt` change proper CMake will be used.
The only trick is the initial configuration... (See #7226)

[2020-06-21 19:48] rconde01 opened #7227 "[bug] conan install fails for conan center packages with new naming convention"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64-bit
  * Compiler+version: n/a
  * Conan version: 1.26.0
  * Python version: 3.7.2

### Steps to reproduce (Include if Applicable)
1. conan install glm/0.9.9.5@g-truc/stable ...works
2. conan install glm/0.9.9.8
   * ERROR: Conanfile not found at C:\..\..\current_dir\glm\0.9.9.8

[2020-06-21 20:47] memsharded commented on #7226
Yes, all things related to environment vars haven't been managed yet. It is on the TODO list, and it was delayed, because the approach is not very clear yet.

We would like that, but there are some issues. For example, CMake doesn't allow to define the generator in the toolchain, so it is still necessary to pass it in the command line, there is nothing else that can be done. Same with path to sour

[2020-06-21 20:51] memsharded commented on #7227
Hi @rconde01

This is not a bug, this is expected. The only way it was possible to introduce in the command line packages without user/channel, and not be confused with a path, is terminating the package with:

[code]

This will be changed in the new command line for Conan 2.0, but at the moment it is necessary.

[2020-06-21 20:53] rconde01 commented on #7227
ok - thanks

[2020-06-21 20:53] #7227 closed, assigned to memsharded

[2020-06-21 21:02] memsharded commented on #7222
I am suggesting to remove the messages in https://github.com/conan-io/conan/pull/7228, I don't think they bring much value.

[2020-06-21 23:56] anthonypan08 opened #7229 "[question] What does cmake.configure do exactly?"
So the project that I am working on compiles fine when I just make it ordinarily. However, I would get a compilation error if I try to make it with  `conan create .` It seem to be due to the -Werror flag is turned on as the "error" was just supposed to be a warning.

Upon closer inspection, it seemed cmake.configure method was doing something to the repo. I tried to assert false right after cmake.

[2020-06-22 02:01] shelper opened #7230 "[question] How to upload package with same recipe but different package ID from different client"
So, I built a package on a Linux machine, and also  built the same package using the same recipe file on a Windows machine,
After i upload the Linux package to my artifactory by `conan upload pkg/ver@usr/channel --all -r=remote_name`, i would also put the windows version to the same repository. so i run the same command on the windows client, but i got error message saying:
Error uploading file: c

[2020-06-22 07:10] Ri0n opened #7231 "[bug] VS compiler autodetection doesn't work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10
  * Compiler+version: VS2019
  * Conan version: 1.26
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
Write a simple build.py
[code]
Run it.
It tries to use not installed VS versions 14 and 15. When I have 16 installed.

### Logs (Executed commands with output) (Include/Attach if

[2020-06-22 07:19] #7222 closed, assigned to memsharded

[2020-06-22 07:34] jgsogo commented on #7212
There are some open issues about how to debug packages, we wrote some docs about it and there you can find the links to the issues too: https://docs.conan.io/en/latest/using_packages/debugging.html

[2020-06-22 07:38] memsharded commented on #7229
``cmake.configure()`` is calling the cmake project generation, equivalent to ``cmake <path-to-src> -G "<Generator>`` plus some other flags, depending on the operating system, compiler, and other settings and options.

Enabling ``log.print_run_commands`` conf, you can see the actual commands that are being issued by Conan, no need to print() them.

Said that, It seems ``werror`` is not found in Con

[2020-06-22 07:41] jgsogo commented on #7204
Thanks for sharing the snippet 👍

---

That's not needed. The `build()` method can be empty or **it can call your custom scripts**... but anyway, you can use the `conanfile.py` the same way you are using the `conanfile.txt`, you are not forced to run `conan create ...`, you can still run `conan install <path/to/conanfile.py>`, build the library using your own scripts and then `conan export-pkg`.

[2020-06-22 07:42] memsharded commented on #7230
Hi @shelper

It looks like that you have a difference in your recipe exported files, and that is forbidding you to upload it. This is an expected behavior, and is a protection against inconsistencies. You can only upload new binaries for a recipe if the recipe is indeed the same, otherwise it would be problematic, having binaries that were not created with that recipe.

The most common reason for

[2020-06-22 07:43] memsharded commented on #7231
This is a CPT issue/question, so moving it there.

[2020-06-22 07:49] Ri0n opened #7232 "[bug] Line numbers in exceptions are wrong"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10
  * Compiler+version: VS2019
  * Conan version: 1.26
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)
I was trying to fix one of my old conanfiles
[code]
And got an exception
[code]
It says `line 36` while the actual failed (rename) line is two lines below. I don't know where i

[2020-06-22 08:25] MineBill opened #7233 "[bug] Some system packages fail to install (xorg/system, opengl/system)"
When configuring a cmake project template that used conan i encountered an error while configuring cmake :
`opengl/system: ERROR: while executing system_requirements(): 'SysConfigOpenGLConan' object has no attribute 'warn'`. After attemping a manual installation with `conan install opengl/system@` i still have the same problem and output. I have no idea what could be causing this and after a few h

[2020-06-22 08:30] ericLemanissier commented on #6116
I've just been bitten by this. @db4  Did you make a pull-request with `fnmatch.fnmatchcase` ?

[2020-06-22 08:53] db4 commented on #6116
No, I just reported the bug. If Conan developers think my method of fixing it is OK, I can create a PR. But this definitely requires some tests? I'm not very familiar with the Conan testing framework.

[2020-06-22 09:13] memsharded commented on #7233
This seems an error in the ConanCenter recipes, not in Conan, moving the issue there.

cc @danimtb @SSE4

[2020-06-22 10:35] jgsogo commented on #7193
I submitted a fix with a test in #7213. It will be released in a 1.26.1 version.

Thanks for reporting this error.

[2020-06-22 10:35] #7193 closed, assigned to nobody

[2020-06-22 11:31] danimtb commented on #7217
Hi @TimSimpson and thanks for reporting this.

In Conan 1.26 we added support for Components in `cmake_find_package` generator. You are now able to define the targets and the names for those targets in the `cpp_info` model. See https://github.com/conan-io/conan/pull/7108

Regarding custom CMake code (or any other). We introduced some releases back the `self.cpp_info.build_modules` https://docs.con

[2020-06-22 11:37] danimtb commented on #7225
Hi @craigaiken,

`self.cpp_info.build_modules` should contain the relative paths to the files you want to include.
Something like:

[code]

That should make it work. Please give it a go and let me know 😄

[2020-06-22 12:39] shelper commented on #7230
by copying the export folder from linux to windows solve the problem. just like you said, it is the line ending difference on windows and linux causes the problem.

Considering there are people working on different platforms for the same reciple, i wonder if there is a way in conan to solve the problem. e.g., add a switch in `conan.conf` for converting from Windows-style to UNIX-style line endings

[2020-06-22 13:20] rconde01 commented on #7212
So a few people have been discussion this separately [here ](https://github.com/conan-io/conan-center-index/issues/1982). It's interesting that exists, but if the recipe deletes the pdbs (which is typical on cci), then building locally doesn't help.

[2020-06-22 13:41] TheQwertiest commented on #7230
@shelper , usually this is solved by centralized publishing, e.g. CI. Since otherwise it's hard to guarantee any environment consistency (e.g. one person published using gcc5 from Ubuntu, another - gcc5 from Debian, hence resulting packages might be incompatible).

[2020-06-22 14:22] memsharded commented on #7230
Yes, we have consider this, but it is more complicated than it seems. Conan could try to normalize all files, but that opens a new can of worms:
- Is the normalization of Conan always wanted? Sure there aren't some files which line endings are important to preserve? I can almost guarantee that some users will need to preserve them as-is
- What files? There are some recognizable text extensions, bu

[2020-06-22 15:25] craigaiken commented on #7225
Hi @danimtb,

This explains how it works a bit better.  This wasn't fully clear in the documentation.  Now I see that I can do this and I don't need to do the "include(foo)" line in B's CMakeLists.txt.  It looks like foo.cmake gets automatically included just by doing the initial conan_basic_setup().  Thanks for clarifying this for me.

[2020-06-22 15:25] #7225 closed, assigned to danimtb

[2020-06-22 15:30] cguldner opened #7234 "[bug] Better default separation in conan graph"
When using hashes as the version of my packages, the default conan graph looks pretty bad:

![conan_graph](https://user-images.githubusercontent.com/2721458/85305804-2dbfba80-b473-11ea-9cf6-15f867770c16.png)

Is it possible to increase the default node separation of the graph if the title is long?

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu

[2020-06-22 17:55] rddesmond commented on #7208
Good afternoon!

My apologies, I misunderstood how `shared_library_package_id` works slightly, so I worded my question confusingly.  I thought it caused the options of transitive dependencies to be included (e.g. add `self.options = self.full_options['dep']` for all static dependencies).  Since it sets the package_id instead, it's even better than I thought.  *I'm going to close the issue because

[2020-06-22 17:55] #7208 closed, assigned to jgsogo

[2020-06-22 18:31] 0x8000-0000 commented on #3672
See https://github.com/bincrafters/community/issues/126 as well.

Is it possible to add a flag to the Conan profile so all debug builds keep PDBs and install them? Changing compiler options to add /Z7 when building with MSVC Debug mode seems more involved and harder to maintain in the long run.

I see a number of packages in conan-center-io are just removing pdb files . But I have lived through en

[2020-06-22 18:56] ericriff opened #7235 "[question] Conan doesn't pull automatically after a recipe revision change."
Hi Guys,
I have a project where I specify all my dependencies with a `conanfile` and I run `conan install` using `conan_cmake_run`.
 Lets say I have a dependency that looks like this:
[code]
Then, I update my recipe,  build it and update my recipe revision:
[code]
When I try to build my project, I would expect conan to pull the new binaries from my conan server but instead it complains like this:

[2020-06-22 21:42] DukeOfKirkcaldy opened #7236 "[question] can `scm` be inherited from a python_requires when using `scm_to_conandata`?"
Not sure if this is a bug or not, I didn't see this listed as a [limitation](https://docs.conan.io/en/latest/extending/python_requires.html#limitations).

I want many of my packages to capture scm info from the working copy in the same way, so I added this code into a `python_requires` base.

[code]

This seems to be fine for storing scm info - I get all the right information in the right conandat

[2020-06-23 05:54] TimSimpson commented on #7217
Thanks for your response @danimtb. You are correct, `build_modules` already provides a way to do this.

The only bummer - sort of - is that the build modules are included before_ the targets are defined in the generated find module files, rather than at the end of the file, so there's no way to create clones of the targets by referencing the actual targets Conan creates. However it's possible to r

[2020-06-23 05:54] #7217 closed, assigned to danimtb

[2020-06-23 07:24] maikelvdh commented on #6790
@memsharded is there any way on how to handle this correctly? I am noticing on our side that it seems fairly random which version of the custom generator is globally registered, which is leading to surprises as it might be that certain version is not backwards compatible.

[2020-06-23 08:32] memsharded commented on #7236
Could be a bug, or at least something to define as forbidden.

I am trying this possible approach to inherit the scm better in: https://github.com/conan-io/conan/pull/7238

[2020-06-23 08:57] madebr commented on #5765
Hello!
This question came up at https://github.com/conan-io/conan-center-index/pull/2009#discussion_r443839875

It would be nice to have a configuration option:
`cmake_verbose=True/False` (or similar) which, when defined, would enable the `--verbose` flag of `cmake --build`.

[2020-06-23 09:09] gsemet opened #7239 "[question] How to get the full id of the exported package?"
Hello

I try to automatize on our CI the publication of the packages, it works fine but I had to develop a small python script to read an information I cannot guess: the exported package id (from the json generated by `conan export-pkg --json`)
`conan inspect` does not seem to be able to read it.

But that annoys me since this script would need to be available into every projects I intend to switc

[2020-06-23 09:17] danimtb commented on #7217
regarding the name of the tragets, have you tried something like:

[code]

I think build_modules in combination with components and the names should give you all the flexibility

[2020-06-23 10:32] memsharded commented on #7232
Hi @Ri0n

I am trying to reproduce this error, but so far not possible. Line numbers seems ok. Can you please provide something we could reproduce here? Some code in a repo? Simplifying that recipe?

[2020-06-23 11:06] boussaffawalid commented on #1233
is there an easy way to delete all old packages but only keep latest version.
For example, I have a package A with these versions in the local cache: `1.0` `1.1` `1.2` ......`1.9` `2.0`
I want to cleanup all old versions and only keep `2.0`

[2020-06-23 12:32] danimtb opened #7240 "[feature] Add executables to cpp_info model"
Coming from https://github.com/conan-io/conan-center-index/pull/1717#discussion_r441501353
Related to #5090

In order to allow a better integration with executables, cpp_info could model those with an extra field similar to the current `cpp_info.libs`. Something similar to the proposal at #5090 with `cpp_info.exes = []` that will allow adding `<NAME>_EXECUTABLE` being `<NAME>` the name of the comp

[2020-06-23 12:41] madebr commented on #7240
Things that become possible:
- Create `xxx_EXECUTABLE` cmake variables
- Create IMPORTED executable targets in cmake: `CONAN_PKG::xxx` + `xxx::xxx`

A potential issue on Macos is the requirement to set `DYLD_LIBRARY_PATH` in the same call. See https://github.com/conan-io/conan-center-index/pull/1179#issuecomment-621339628.

[2020-06-23 16:09] ericriff commented on #4712
I'm having the same issue. Is this going to stay like this?

[2020-06-23 20:13] LBHawk opened #7241 "[bug] Unable to `python_requires_extend` a package with a '.' in the name"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Conan version: 1.25.1
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)
- Create a package with a '.' in the name (E.g. my.package/1.2.3)
- Create a recipe for another package with
[code]

- Receive the error ERROR: too many values to unpack (expected 2)

[2020-06-23 22:30] Tridacnid opened #7244 "[question] Link Time Optimization"
LTO is brought up in #2476. Is there any more guidance to give in 2 years that have passed with respect to lto? This is not an urgent matter for me, but my company does have computing libraries that we distribute internally with Conan and it would be interesting to investigate whether building them with lto in an lto enabled project gives measurable benefits.

- [x] I've read the [CONTRIBUTING gui

[2020-06-24 06:59] sssgtg opened #7245 "Faulty check of LOCKFILE_VERSION in graph_lock.py"
The following check  is performed in graph_lock.py:

if version < "0.2":
raise ConanException("This lockfile was created with a previous incompatible "
"version. Please regenerate the lockfile")

This means that the exception will not be thrown if you try to use a lockfile of version 0.2 if Conan (for example 1.25.2) use 0.3. Instead it will crash with other exceptions.

[2020-06-24 07:56] jgsogo commented on #5765
Hi! @czoido , regarding the new CLI implementation maybe this is worth considering: having a verbosity flag (`-v`, `-vv`,...) that propagates to Conan itself and to every other application run by Conan.

[2020-06-24 08:09] memsharded commented on #7245
Hi @sssgtg

That is true, thanks for reporting. We are doing a major upgrade to the lockfile functionality in https://github.com/conan-io/conan/pull/7243, it will be addressed there.

[2020-06-24 08:23] memsharded commented on #7244
There are 2 different points of view for this:

- Packages in ConanCenter do not define this option, it hasn't been necessary or requested.
- Private packages can probably define an LTO in their recipes and inject it relatively straightforward into their builds.

If it is for your own packages, is there any reason you cannot define your own option in the recipes and use it?
Maybe @tru can give a b

[2020-06-24 08:26] tru commented on #7244
That's what we do - we have a lto setting `compiler.lto=full/thin/none` then we set the flag in CFLAGS/LDFLAGS. I think this is enough.

[2020-06-24 09:37] jgsogo commented on #7192
It fails with SHARED + PRIVATE. I'm trying to figure out what happens with gcc

[2020-06-24 10:18] DukeOfKirkcaldy opened #7246 "Recommendations for dealing with configuration for code ('build_requires')"
I have several projects (e.g. projectA and projectB) which depend on a common code base (supplierCode).
This code base is configured by compiling with headers generated from config files (supplierCodeCfgA and supplierCodeCfgB).

What would be the preferred way to set these config packages as a `build_requires`?
From what I can tell I have two options:

1. Use a dedicated `profile`:

    _.conan/pr

[2020-06-24 11:14] jgsogo commented on #7192
Having a look to the verbose output from `make` command:

Private
-------

* If `target_link_libraries(proj_C PRIVATE proj_B::proj_B)`

[code]

If we remove RPATHS (`SET(CMAKE_SKIP_BUILD_RPATH TRUE)`), then the error is related to `proj_B` instead, because the path to `libproj_B.so` is not encoded into `C` library.

[code]

Public
-----

* if `target_link_libraries(proj_C PUBLIC proj_B::proj_B)`,

[2020-06-24 11:37] jasal82 opened #7247 "[bug] deps_user_info empty when using new -pr:h/-pr:b parameters"
I just noticed that when running conan install with the new `-pr:h`/`-pr:b` parameters the `deps_user_info` is completely empty although there should be several items inside which are set by direct requirements and build requirement packages. Once I roll back to `-pr` only it works as intended.

[2020-06-24 12:02] jasal82 commented on #7246
We had the same problem and went with the second approach. Actually we encoded the complete requirement reference as option value instead of assembling the string later. I'd also like to know if there's a better approach to this.

[2020-06-24 12:39] jgsogo commented on #6069
Some comments in this issue are related to the components feature which has already been released. Using `cpp_info.names` in combination with `cpp_info.compoents["xxx"].names` it is possible to generate any CMake target name for the `cmake_find_package[_multi]` generators:

[code]

This will generate target `Boost::coroutine` for the `cmake_find_package` generator. Of course, no need to override t

[2020-06-24 12:49] memsharded commented on #7247
The code in ``installer.py`` is:

[code]

So this is something that is missing with the new profile_build. Needs to be addressed, thanks for reporting.

[2020-06-24 13:15] madebr commented on #6069
@jgsogo
A `xxx_EXECUTABLE` variable/target in cmake is mostly used in `execute_process`, `add_custom_command` and `add_custom_target`. If the `DYLD_LIBRARY_PATH` is not included, it won't work on apple.

[2020-06-24 14:07] DukeOfKirkcaldy commented on #7217
@danimtb, is there any reason for including the build modules before targets are defined instead of after?

I'd like to set a [custom property](https://cmake.org/cmake/help/v3.8/command/define_property.html?highlight=i#define-property) on targets and this doesn't seem possible with the current implementation.

[2020-06-24 14:33] Tridacnid commented on #7244
Does adding a setting require updating every user's settings.yml? If so, is there merit to adding lto as an option to the package recipe?

[2020-06-24 14:37] jgsogo commented on #6069
But, do you think this is something to add in the `self.cpp_info` object or, as something related only to CMake, it is something that should go in a `build_module.cmake`? Those files are automatically included when using any CMake generator (you know it well, it is how the protobuf macros/functions are added).

[2020-06-24 14:39] danimtb commented on #7217
@GordonJess I think there was no apparent reason for this order so we could consider adding the modules after the targets are created. Would you mind opening an issue for this case so we can continue the conversation there? Thanks 💯

[2020-06-24 15:02] madebr commented on #6069
I can only think of cmake as its consumer + using it in the dependency graph alongside library components.

I think the build_module should be able to use the conan generated variables and targets.
For the protobuf recipe, I had to do a lot of fiddling in the cmake script.
Using this future feature, I could just have used `protobuf::protoc` in the `add_custom_command`.

Also, on MSVC, executables

[2020-06-24 15:34] solvingj commented on #7085
Here's how docker implemented the same concept... to be used as prior art: https://github.com/docker/cli/issues/1534

[2020-06-24 15:45] solvingj commented on #7085
I've just started using an initial implementation of this and have several pieces of feedback i'll be posting shortly.

[2020-06-24 15:45] solvingj commented on #7085
We'll definitely need some distinguishing prefix for all user commands to avoid any possibility of conflict with future commands Conan decides to add. Possible mechanism include
  * auto-prefixing all user commands as subcommands to user command: `conan custom mycommand`
  * auto-prefixing characters on all user commands: `conan custom-mycommand`

[2020-06-24 15:45] solvingj commented on #7085
Some of the most generic features I'm looking forward to as advantages over just writing my own scripts which invoke `conan_api` mostly surround avoiding boilerplate python module setup:
* Unified logging with the same control mechanisms and locations as conan logging/tracing
* Sensible console output handling/coloring/etc
* Sensible wrappers for subprocess calls
* Sensible wrappers for http calls

[2020-06-24 15:47] SSE4 commented on #7085
linking https://github.com/conan-io/conan/pull/7170 as it's a bit related

[2020-06-24 17:29] jgsogo commented on #6069
Now I see, it is tightly related to https://github.com/conan-io/conan/issues/7240

[2020-06-24 18:44] TimSimpson commented on #7217
@danimtb if I go that route, the argument to CMake find_package would have to be `lp3`. What I'd like to do is use the namespace `lp3::` from multiple conan packages. So, `find_package(lp3-main)` would introduce `lp3::main`, `find_package(lp3-sdl)` would introduce `lp3::sdl`, etc.

[2020-06-24 20:20] TimSimpson commented on #6069
@jgsogo

This will work fine for 1 package and produce `FindBoost.cmake`. However you then can't use `Boost::` from a second package.

For example, suppose in the future Boost is finally modularized in a way that gains mass acceptance. There may exist a Conan package for Boost-coroutine and another one for Boost-asio. From CMake these would be used by calling `find_package(Boost-coroutine)`, which

[2020-06-24 21:57] shelper commented on #7230
@TheQwertiest  yeah, I agree, but i think this does not solve the issue of windows/linux line ending.
I wonder if a solution for this line ending issue can be solved by the conan hooks, basically adding a hook for windows system to always convert line ending to unix style `pre-export`
Is there such a hook file available? it is trivial to write one but i just want to make sure every potential file/

[2020-06-24 22:06] glennaycock opened #7248 "Generated Find modules for CMake inappropriately use find_dependency()"
I have an existing CMake/Qt application, so I am trying to integrate Conan libraries transparently, using conan_paths.

find_package( Qt5 CONFIG ... REQUIRED) doesn't satisfy some of the other transitive dependencies, so I added find_package( qt 5 MODULE REQUIRED), which works on Linux.

However, I'm getting some strange behavior on Windows (missing Qt's transitive dependencies). The same configur

[2020-06-25 01:28] shelper commented on #7230
add following as a hook and seems to work for me, just for anyone who has similar issue, i am also closing this as solved
[code]

[2020-06-25 06:49] fschoenm opened #7249 "[question] Export/import pre-built conan packages?"
Is it possible to transfer pre-built conan packages in binary format without using conan_server?

Background: We have some conan packages with uncommon build requirements and would like to transfer them to colleagues that may not be in the same network and thus don't have access to our conan_server.

It seems to me as if the ``conan upload`` and ``download`` commands already have some of the requi

[2020-06-25 07:10] jgsogo commented on #7240
Hi. I'm not opposed to adding a `cpp_info.exes` field to the package information (probably it is needed), but we need to be very cautious about adding variables and targets.

Usually (always?) in the `CMakeLists.txt` files we use these executables from the requirements (`protoc`, `doxygen`,...) to execute something in the process of building, that is, the executable works in the _build_ machine wh

[2020-06-25 07:11] jgsogo commented on #7240
BTW, my last approach requires `cpp_info.exes` to list the executables. My long paragraph was only about how to deal with them inside CMake, not about the initial proposal of this issue. 😉

[2020-06-25 07:39] jgsogo commented on #6069
I see what you mean. Your example is valid, also `protobuf` right now: the file is `FindProtobuf.cmake` while the namespace is `protobuf::`, different casing in a quite common package  https://github.com/Kitware/CMake/blob/master/Modules/FindProtobuf.cmake

[2020-06-25 08:03] jgsogo commented on #7248
Hi, @glennaycock

We are working really hard to provide transparent CMake integration for existing projects. There are some flaws yet, but it is looking very promising (last feature added, the _toolchain_, will supersede usage of `conan_basic_setup()`). Nevertheless, in order for this transparent integration to work you need to use the CMake files generated by Conan that provide the proper targets

[2020-06-25 08:11] jgsogo commented on #7249
Hi, @fschoenm

This is something we may consider but I'm afraid this cannot be a high priority right now.

Let me share with you other alternatives you can use meanwhile: 1) use Artifactory CE for C++, it is completely free and it will be easier to install and configure in a server with visibility to your colleagues, 2) send them the recipes and the profiles and, if sources are available, they can

[2020-06-25 08:17] jgsogo commented on #7247
Hi @jasal82

This was a conscious decision. We really wanted to know what are people using this `user_info` for. The main problem is here is how to identify the `user_info` coming from the _build_ context and the one coming from the _host_ context because the same package can be present in both contexts (think about package `protobuf`: the library belongs to the _host_ context while the executable

[2020-06-25 08:35] jgsogo commented on #7246
Hi! I think I'm not able to fully understand the situation. I'll try to answer, but probably I need more information about it.

There is a codebase (`supplierCode`) that need to pass through some kind of code-generation tool (`supplierCodeCfgA` or `supplierCodeCfgB`) to generate the actual sources that some consumers downstream will use/link/...

I see these as facts:
 * the code-generation tool n

[2020-06-25 08:45] jgsogo commented on #7244
All the team of developers should share the same Conan configuration. Conan provides some features targeting this necessity: `conan config install` let you store in a repository (or filesystem) the configuration you want and your developers will run that command to replicate it, we also added a [config option `config_install_interval`](https://docs.conan.io/en/latest/reference/config_files/conan.c

[2020-06-25 08:51] jgsogo commented on #7239
Hi @gsemet

The package-ID information is available in the generated output:

[code]

The JSON contains the generated package-ID: `103f6067a947f366ef91fc1b7da351c588d1827f`

Am I missing something?