[2022-10-30 23:02] memsharded commented on #12425
Hi @hwhsu1231

No, they are not the same. The ``gnu11`` enables the GNU specific extensions, while the ``11`` is the C++11 standard, without the GNU extensions enabled.

[2022-10-30 23:09] memsharded commented on #12411
I think that checking the dependencies in a ``test_package``, needed to actually navigate the dependencies in the ``test()`` method is a smell. The ``test_package`` is designed to test the integrity and correctness of the current package, if it has been built successfully, if it packaged all the headers and libs, or the executables, etc. Checking for example a specific option value of a dependency

[2022-10-30 23:14] memsharded commented on #12424
I think there are some possible things to clarify in the above:

- ``clang.exe`` isn't either a GNU-like or a MSVC-like compiler, it depends on the context.
- ``clang.exe`` from the Msys environment is a GNU-like compiler linking with the GNU runtime libraries
- ``clang.exe`` from the LLVM/Clang distribution is a MSVC like compiler, using the GNU-like driver (compiler flags syntax), but linking wi

[2022-10-30 23:15] memsharded commented on #12422
It is good to leave it open, I think this has been mentioned before in other issues, but this is the one that is defined more explicitly, so it is fine to have it assigned to the 2.X target, so it can be pulled from the queue after 2.0 is out.

[2022-10-31 00:01] memsharded commented on #12418
I have managed to reproduce a bug, not exactly what has been reported above, for ``conan download``:

- Started from a completely empty Conan repo in Artifactory (FreeTier, but any modern Artifactory version should be same)
- With conan2 ``conan new cmake_lib -d name=hello -d version=0.1``
- ``conan create .``
- ``conan upload "hello*" -r=myrepo -c``
- ``conan remove "*" -f``

Then
[code]

This is

[2022-10-31 00:21] memsharded commented on #12418
Meanwhile an effective workaround could be to list the folders under the specific path, which is relatively easy to deduce for ref, under ``children->uri``:

[code]

[2022-10-31 04:44] hwhsu1231 commented on #12425
@memsharded

So `gnuxx` is related to [CMAKE_CXX_EXTENSIONS](https://cmake.org/cmake/help/latest/variable/CMAKE_CXX_EXTENSIONS.html), right?

And the [0.18.1](https://github.com/conan-io/cmake-conan/blob/df0f64a0920eab35033b17cc1104aa8b37af204f/conan.cmake#L131-L133) version of cmake-conan detect `compiler.cppstd` like the following:

[code]

What do you think about the following mechanism:

[code

[2022-10-31 04:54] jasuramme commented on #12415
Hi @memsharded and thanks for your answer!
There is a log, I'm not sure if it is very useful.
`conan install openssl/1.1.1q@ -s compiler.version=16 -s build_type=RelWithDebInfo --build=missing -pr:b=default`
[log_conan.txt](https://github.com/conan-io/conan/files/9898100/log_conan.txt)
To be honest if I run conan like that:
`conan install openssl/1.1.1q@ --build missing -s os=Windows -s os_build=W

[2022-10-31 04:58] samuel-emrys commented on #12006
Looks like this was changed in #11264. Also related: https://github.com/conan-io/conan/issues/12338

Documentation needs to be updated to reflect the change in approach.

// cc @czoido as the author of the changes

[2022-10-31 05:10] jasuramme commented on #12415
Update:
if I install single openssl package it works fine even in azure cmd.

[2022-10-31 05:50] paulharris commented on #12188
Is there some kind of time line for this?
I'm wondering because I want to start linking my stuff on Windows, so it feels like I have a few complex pathways thanks to the (half) upgraded recipes:
* link with recipes as-is and suffer possible link issues
* manually use older recipes (pre-upgrades)
* use @SpaceIm's patch and try to fix them up before the real solution comes
* wait for new Generator

[2022-10-31 06:01] antze-k commented on #12418
I followed the very same steps, with the one exception of:

[code]

because I don't use the default profile. And I got:

[code]

`conan install --requires=hello/0.1 -pr:b x86_64-pc-windows-msvc.v140.MD.profile -pr:h x86_64-pc-windows-msvc.v140.MD.profile` worked fine indeed and thank you very much for the workarounds. I am not going to stop here and will try to find out what is so different in my

[2022-10-31 06:23] paulharris commented on #12188
And, are we able to add a test that checks the correct runtime libs are actually linked?
ie via linter or some fail-fast linker error trick?
Incorrect linker errors are a pain to debug, and it would be great if CCI recipes can be relied onto do things right.  Close the door on this possibility!

[2022-10-31 06:29] hwhsu1231 commented on #12424
@memsharded

Consider the following two Clang compilers:

- `C:\Program Files\LLVM\bin\clang++.exe`
- `C:\Program Files\LLVM\bin\clang-cl.exe`

If **UserA** compiles a library called `hello` by `clang++.exe`, then **UserB** can link this `hello` library with `clang-cl.exe`. It is because `clang++.exe` and `clang-cl.exe` use the **SAME** C++ stdlib and runtime dependencies:

- MSVCP140(D).dll
- VCR

[2022-10-31 08:53] rettenbs opened #12427 "[feature] Extend EnVars API for custom generators"
We are building a customizable generator for CMake presets. The generator uses the `VirtualBuildEnv` to define the environment variables in the presets. However, the public API of `EnvVars` does not support custom placeholders.

Our current workaround:
[code]

Possible API:
[code]

Note: The included presets generator is not suitable for us. We need a presets file where developers can switch betwe

[2022-10-31 09:03] torfinnberset opened #12428 "[bug] conan install generates CMake Preset for the wrong profile"
I am trying out the feature to let conan generate CMake Presets. However, it is not working as expected for me when I specify a different `build` and `host` profile.

I am expecting that running the install command would generate a cmake preset for the `build` context, but instead it generates it for the `host` context.

I created a small and complete example (see below) that demonstrates this beh

[2022-10-31 10:10] memsharded commented on #12424
Yes, this was my understanding. However, after the blog post I was pointed out by LLVM expert that there might still be small differences internally, and it might be worth to consistently use them, and specifically to use the ``clang-cl.exe`` frontend if it is going to be mixed with msvc compiler libraries, because the fronted might still cause some small differences in the binaries.

[2022-10-31 10:17] memsharded commented on #12188
I thought that some conan-center hooks were already checking the binaries for this kind of information with ``dumpbin``, but just checked and nop. It is worth to open a ticket in the hooks repo and request it, or even contribute it.

No timeline, it shouldn't be a huge effort, just a few hours, but we are right now overwhelmed so can't guarantee.

[2022-10-31 10:22] memsharded commented on #12418
That is interesting. It would be worth checking the specific Artifactory version, I was using the FreeTier one (typically very latest), and 7.35, but I can try to use locally your exact one. I don't think anything changed recently related to all this, but I'll try later if I can get some time, just in case.

Can you please check what happens in your case if you also use your ``default`` profile, i

[2022-10-31 10:24] gazzatav commented on #12392
@memsharded Thanks, yes, closing - just wanted to leave it open a while in case of any other useful comments.

[2022-10-31 10:24] #12392 closed, assigned to nobody

[2022-10-31 10:29] memsharded commented on #12415
Yes, definitely worth reporting. But yes, this also seems difficult to reproduce, as it highly depends on the environment.
It would be good to try to reproduce in azure, by gradually reducing the ``conanfile.txt``, and checking if some other dependency is affecting things.

One of the possible things that can cause issues is env-vars lengths in Windows, and there might be also some varying limits

[2022-10-31 10:31] memsharded commented on #12425
Yes

yes, I'd say it looks good

[2022-10-31 10:37] memsharded commented on #12427
Hi @rettenbs

This is possibly something to discuss with the team, as we know that needing to activate the environment is an extra step, that if could be avoided it would be great. But it has some challenges, because supported CMake version is 3.16, so we can't rely on this either for core-implementation, and having multiple, competing ways to do the same thing is very problematic.

I think if you

[2022-10-31 11:49] rettenbs commented on #12427
Hi @memsharded
Thank you for the fast feedback.

It it okay that our CMake presets generator does not make it into the core-implementation. We are happy to maintain the generator for ourselves.

Maybe we can publish a Conan package for others to use. At the moment the generator use some assumptions about our build environment. Hence, at the current stage I doubt that it is very useful to others.

[2022-10-31 11:57] rettenbs commented on #12427
Actually, the API would be useful for any custom generator that requires the environment variables in one or another way.

[2022-10-31 12:57] torfinnberset commented on #12428
Ugh, I think I mixed up the meaning of the `build` and `host` contexts.

In my mind the `host` context was the host from where I was running conan, and the `build` context was what I was building for... apparently it's the opposite.

[2022-10-31 14:12] ghost opened #12429 "[bug] compiling automake fails on macOS if "--profile:build" is specified"
### Environment Details
  * Operating System+version: macOS 12.6 (Apple silicon)
  * Compiler+version: Apple clang version 13.1.6 (clang-1316.0.21.2.5)
  * Conan version: 1.53.0
  * Python version: 3.8.9

### Steps to reproduce (Include if Applicable)
* Create and use the new empty `CONAN_USER_HOME`: `export CONAN_USER_HOME=$PWD/local-conan-home`
* From conan-center-index root, invoke `conan creat

[2022-10-31 14:13] ghost commented on #12429
Printing `os.environ` in the failed builds showed that indeed `autoconf` directory doesn't get propagated to `PATH`

[2022-10-31 14:31] ghost opened #12430 "[bug] Package name might affect Conan behaviour"
The documentation for `conan create` states that default option for `--build` is the package name. It seems that Conan does literally that and doesn't care about package name being one of reserved values. It makes it possible to create a misleading package for Conan

### Environment Details
  * Conan version: 1.53.0
  * Python version: 3.8.9

### Steps to reproduce
* Create a directory with a sing

[2022-10-31 15:56] sorny92 opened #12431 "[bug] `Autotoolstoolchain` will fail to generate in FFMPEG due to forced `--host=aarch64-apple-darwin` parameter"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos
  * Arch: armv8
  * Compiler+version: apple-clang 12
  * Conan version: 1.53.0
  * Python version:

### Steps to reproduce (Include if Applicable)
This PR: https://github.com/conan-io/conan-center-index/pull/13235
And this PR: https://github.com/conan-io/conan-center-index/pull/13664
Both are trying th

[2022-10-31 16:54] hwhsu1231 opened #12432 "[question] When to specify which `compiler.runtime_version` settings of Clang compilers?"
### Problem Description

According to this [article](https://dev.to/yumetodo/list-of-mscver-and-mscfullver-8nd), there are 4 types of version with MSVC compilers. And the corresponding table is like the following. It seems that `compiler.runtime_version` is related to **MSVC toolset version**. I was wondering what value of `compiler.runtime_version` should I specify for Clang compilers?

| VC vers

[2022-10-31 18:34] hwhsu1231 commented on #12432
Similar to https://github.com/conan-io/conan/issues/12387, I also want to know what is a suitable detection mechanism to specify `compiler.runtime_version` in [cmake-conan](https://github.com/conan-io/cmake-conan).

There is a related CMake variable called [MSVC_TOOLSET_VERSION](https://cmake.org/cmake/help/latest/variable/MSVC_TOOLSET_VERSION.html). However, it seems that this variable is set onl

[2022-10-31 22:39] memsharded commented on #12432
yes, that is the version of the toolset, so ``v141`` is the toolset version that comes with VS 15.0

I have no idea, I don't even know if this is possible. This is one of the reasons why I don't like very much the ``cmake-conan`` integration, and trying to guess the setup and settings from the current execution cmake.

[2022-10-31 22:52] memsharded commented on #12430
This is expected, because if you want a package name pattern, it is necessary to define ``--build=never*``, and not only ``--build=never``.

This has been made explicit in 2.0, so it is always necessary to add ``*`` for all package name patterns, so the test in https://github.com/conan-io/conan/pull/12433 validates it.

[2022-10-31 23:05] memsharded commented on #12427
Ok, I see, I thought that you wanted to do some modification to the environment, but it is not what you want? I don't know what is the correct syntax for env-vars in CMakePresets, maybe a bit of clarification would help to understand the final goal, beyond specific tool APIs or approaches.

This we have learned that it really doesn't scale. Installations need to be per-configuration, and then repe

[2022-10-31 23:07] memsharded commented on #12428
Yes, Conan follows the GNU naming, which I agree it is not that intuitive, but it is kind of standard in the GNU world:
- "build" is the current build machine
- "host" is the machine that will run the code that we are building

[2022-10-31 23:12] memsharded commented on #12421
Hi @System-Arch

I think this is automatically addressed by the 2 profiles approach:
- You only add ``[tool_requires]`` to ``cmake/3.23`` for example, to the "host" profile
- This applies automatically that to all  packages in the "host" context
- ``cmake`` package is automatically in the "build" context, so it is not affected by the above ``[tool_requires]``

Could you please check that? Thanks!

[2022-10-31 23:17] memsharded commented on #12421
Also, it seems that Conan 2.0 already implemented negated profile ``tool_requires``:

[code]

[2022-10-31 23:18] memsharded commented on #12430
Closed by https://github.com/conan-io/conan/pull/12433

[2022-10-31 23:18] #12430 closed, assigned to memsharded

[2022-10-31 23:22] memsharded commented on #12431
Hi @sorny92

Thanks for your report.
It would be great if we can reduce this to something a bit more minimal, so it can be managed in our test suite.
We have the ``conan new hello/0.1 -m=autotools_lib`` template, does this behavior still happens with this template?
If it happens, is the ``AutotoolsToolchain`` wrong, or it is just something related to the specifics of the library that needs customi

[2022-10-31 23:25] memsharded commented on #12419
Hi @beenjohn

Thanks for your report.
I think that some more detail is necessary. The best way to start would be to start from the ``conan new hello/0.1 -m=cmake_lib`` and have a full reproducible example. Because for example:
- ``ctest()`` doesn't exist, I guess you mean ``test()``
- It is not clear what generator/s are you using
- How the environment is being managed. Probably you want to use ``

[2022-10-31 23:26] define-private-public commented on #12426
Okay, thanks for the heads up.  I am a little surprised though since `spdlog` is a very popular package that it would be 2.0 ready.  I'll hold off on using 2.0 then in the meantime until the full version is out of beta.

If I have any more issues like this, where can I leave a bug report at?

[2022-10-31 23:30] memsharded commented on #12426
https://github.com/conan-io/conan-center-index is the repo you want to use for everything related to recipes of ConanCenter

I am checking also the 2.0 effort summary issue in https://github.com/conan-io/conan-center-index/issues/12888, and indeed spdlog seems green there.

But also, if I check the latest spdlog recipe in https://github.com/conan-io/conan-center-index/blob/master/recipes/spdlog/al

[2022-11-01 01:38] hwhsu1231 commented on #12432
@memsharded

I found that the [MSVC_VERSION](https://cmake.org/cmake/help/latest/variable/MSVC_VERSION.html) variable is still defined even though we use those MSVC-based Clang compilers. Maybe we can use this variable to specify the corresponding `compiler.runtime_version` in cmake-conan. For example, design an internal function called `conan_cmake_detect_clang_runtime_version`. What do you think

[2022-11-01 04:30] #12428 closed, assigned to nobody

[2022-11-01 04:36] hwhsu1231 commented on #12432
It seems that [MSVC_TOOLSET_VERSION](https://cmake.org/cmake/help/latest/variable/MSVC_TOOLSET_VERSION.html) is:

- **SPECIFIED** if we use **MSVC-like CLI** Clang of LLVM (`clang-cl.exe`).
- **EMPTY** if we use **GNU-like CLI** Clang of LLVM (`clang++.exe`).

![image](https://user-images.githubusercontent.com/71438617/199159145-99ed34f9-ba2b-4d71-a517-ee76db85d29e.png)

[2022-11-01 06:43] ghost commented on #12430
If that's a known quirk, would it make sense for `--build` option to have the default value of `<package_name>*` instead of `<package_name>`? Here the policy is resolved to be `never` by Conan itself. If I understood you correctly, having Conan to resolve it as `never*` by default would not cause an error.

[2022-11-01 07:29] michael-brade opened #12434 "[question] How to set cmake generator for the gtest package?"
How can I change or force the gtest package to be built with the cmake Ninja generator? On Windows with clang from llvm.org, it automatically selects `cmake -G "MinGW Makefiles"` and that doesn't work.

conanfile.txt:
[code]
And this is what happens right now - as you can see, I tried to force the generator with the `[conf]` entry, which works for most packages, but apparently not for gtest:
[code

[2022-11-01 08:56] sorny92 commented on #12431
Hi @memsharded,
AFAIK it's specific needs for `ffmpeg` itself.
As you can see in [ffmpeg's configure file](https://github.com/FFmpeg/FFmpeg/blob/master/configure):
[code]
There's no `--host` option so once `AutotoolsToolchain` calls `generate` the arguments `host` and `build` will be addes making `FFmpeg` fail.

[2022-11-01 11:48] antze-k commented on #12418
Sorry for late reply. Found the culprit:

[code]

With this:

[code]

And:

[code]

With this (clean installation!):

[code]

The same results are observable with `conan download` as well.

[2022-11-01 11:53] antze-k commented on #12418
So, basically, we have error 500 bug for Artifactory 7.46.8 (and probably earlier) and empty package list bug for Artifactory 7.46.9, for both `conan download` and `conan list packages`. Guess it's either tracking both in #11370 & closing this one, or renaming the title of this one into "problems with conan download" or something.

[2022-11-01 11:57] antze-k commented on #12418
Forgot to mention: this is all unrelated to the profile, happens with the default one too (actually I mentioned it in some comment edit above already).

[2022-11-01 11:57] db4 commented on #12393
@czoido the question is still open: is it so hard to make `self.build_folder` work in `test_package` (Conan 1.x)? Why? After all, isn't it a (special) consumer recipe where all the usual features are expected to be functional?

[2022-11-01 12:30] SpaceIm opened #12435 "[question] What is the canonical way to specify runtime requirements?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In https://github.com/conan-io/conan-center-index/pull/13904, I need to pass the information that `gnuplot` is a runtime requirement of `matplotplusplus` (`gnuplot` executable is called under the hood by some functions at runtime).
Indeed `gnuplot` and its dependencies are not require

[2022-11-01 12:37] DLPalindrome opened #12436 "[bug] Error when trying to fix corrupted package"
### Issue
When building a project, I happened to get a warning about a corrupted package.
Then conan throws an error while trying to remove the package.

### Environment Details
  * OS: Windows 10 10.0.19044 Build 19044
  * Compiler+version: Run from visual studio, CPPSTD=17, runtime=MDd, toolset = v142, version=16
  * Conan version: 1.53.0, (first tried with 1.50.2)
  * Python version: 3.7.8

###

[2022-11-01 14:18] whitefluffypenguin commented on #12398
Please review https://octopus.com/docs/deployments/packages/delta-compression-for-package-transfers.

[2022-11-01 14:29] whitefluffypenguin commented on #12059
Thanks! Will try Conan 2.0 as well. How soon will conan 1.X (with deploy() method) be dropped? The ability to deploy the transitive dependencies is important to us.

[2022-11-01 15:30] memsharded commented on #12432
Yes, if MSVC_TOOLSET_VERSION is not defined, then it seems that mapping the MSVC_VERSION would be the only alternative

[2022-11-01 15:33] memsharded commented on #12430
Well, it is a bit trickier, because Conan 1.X also runs a exact package name comparison, and it results that changing to automatically add ``*``, converting ``--build=never`` to ``--build=never*``, might match other previously unexpected things, like ``never_say/1.0`` package. This is the reason we removed the exact package name comparison in 2.0 and forced to explicit patterns always.

[2022-11-01 15:46] memsharded commented on #12418
Renamed the issue, as the symptoms are different, it might help to clearly identify it in its own issue.

[2022-11-01 15:46] memsharded commented on #12418
Renamed the issue, as the symptoms are different, it might help to clearly identify it in its own issue.

[2022-11-01 16:38] jcar87 commented on #12436
Hi @DLPalindrome  - thanks for reporting this issue. Indeed the safest approach in this case is to remove the potentially corrupted data from the cache, and let Conan perform its operations again.

However this is an odd issue as I believe Conan should have been able to recover.

May I ask which Conan command you were running that produced that output?

The folders mentioned in those logs (package

[2022-11-01 17:11] SpaceIm commented on #12434
You still have an old revision of `gtest` recipe relying on legacy `cmake` generator, so it doesn't listen the new `tools.cmake.cmaketoolchain:generator` config, but `CONAN_CMAKE_GENERATOR` env var (or `cmake_generator` in `conan.conf`).

[2022-11-01 17:17] DLPalindrome commented on #12436
Glad it's appreciated!

Apologies if I misunderstand / am not terribly helpful, I don't have much knowledge on conan as I wasn't involved with setting it up or configuring, but I'll give it a shot.

This is run as a pre-build event in visual studio:

[code]

Recently the command that was run was updated, the previous way the install was triggered was via a `.bat` file:

[code]

So the `build=missi

[2022-11-01 18:24] michael-brade commented on #12434
oh! I now deleted the whole gtest directory and it worked indeed! Thanks a lot :) Which file exactly was responsible?

[2022-11-01 18:24] franramirez688 commented on #11962
@memsharded A few points about this issue and its possible solutions to discuss them:

* Via `CMakeToolchain`: adding this line `set(ENV{PKG_CONFIG_PATH} {{ package_folder }} )
` directly.
* Via `cmake-presets`: adding to the `environment` section the variable `PKG_CONFIG_PATH` (I have read some problems about its usage but am not 100% sure).
* Via `CMake` build helper: running the environment var

[2022-11-01 18:31] SpaceIm commented on #12434
conanfile.py

[2022-11-01 18:52] connorsmacd opened #12437 "[bug] Tool requirement build fails with `-pr:b=<profile>`, but succeeds with `-pr=<profile>`"
### Environment Details

  * Operating System+version: macOS 12.6 (Intel)
  * Compiler+version: Apple clang version 14.0.0 (clang-1400.0.29.102)
  * Conan version: 1.53.0
  * Python version: 3.10.8

**NOTE: This issue does not seem to be macOS-specific (see "Additional Notes")**

### Steps to reproduce

- Create a `conanfile.txt` with `glib` as a tool requirement like so:

[code]

- Create and ins

[2022-11-01 19:46] petr-polezhaev opened #12438 "[question] conan 2 editable/recipe development flow for third-party"
Hello

I have a development conan wrapper that is meant to be called from the vscode to [perform incremental development steps](https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html). I.e. call `source`, if it succeeded, call `build`, etc. This is to simplify development of recipes with custom patches, so you can just hit the Run/Debug key and seamlessly debug your conanfile wi

[2022-11-01 20:31] SpaceIm commented on #12180
similar issue as https://github.com/conan-io/conan/issues/12012

[2022-11-01 20:36] SpaceIm commented on #12012
related issue: https://github.com/conan-io/conan/issues/12180
More or less all CMake macros in https://cmake.org/cmake/help/latest/manual/cmake-modules.7.html#utility-modules like `check_c_source_compiles`, `check_cxx_source_compiles`, `check_symbols_exists`, `check_cxx_symbols_exists`, `check_function_exists`, `check_include_file` etc are broken with `<name>_LIBRARIES` variables created by CMakeD

[2022-11-01 20:42] #12434 closed, assigned to nobody

[2022-11-01 21:32] prince-chrismc commented on #12426
The issue is not with `spdlog` but rather it's requirement of `fmt` https://github.com/conan-io/conan-center-index/blob/dd279c4e575cbd42e47e468aefe7b0b37a1c0d71/recipes/fmt/all/conanfile.py#L6 unfortunately in the last PR it was added to the wrong line 😱

Should be fixed with https://github.com/conan-io/conan-center-index/pull/13939 with these changes locally I am able to get started with `spdlog`

[2022-11-01 21:48] memsharded commented on #12426
Then, definitely not a Conan issue, so transferring this issue to conan-center-index repo. Thanks @prince-chrismc !

[2022-11-01 22:23] memsharded commented on #12435
Hi @SpaceIm

Can you please clarify this? You mean that ``matplotplusplus`` library calls as a subprocess ``gnuplot`` executable?

I don't think this is possible in Conan 1.X, but might be doable in Conan 2.0. I have tried with this test:
[code]
And it looks good in terms of the generated ``virtualrunenv``.

But I am not sure that this should be a modeled thing in Conan. If a library is launching

[2022-11-01 22:29] SpaceIm commented on #12188
Actually it doesn't work, so here is another one: https://github.com/conan-io/conan-center-index/blob/9de5b6f3c7920b0a09dc9b94f2227ab3706abc08/recipes/libmp3lame/all/conanfile.py#L81-L89

It gives me build type & runtime flags in CL env var: `set "CL=-MD -O2 -Ob2"`

[2022-11-01 22:30] santhonisz opened #12439 "CONAN_V2_MODE and the `imports` method"
Hi there,

Just a quick question - when using the `CONAN_V2_MODE` env var mode on the latest 1.53.0 release, I've noticed that no error is raised if a recipe defines the the `imports` method. As this has been removed in 2.0 I expected an error to be raised in this case.

As a background we have a lot of recipes that use the `imports` method and raising and it would be very beneficial if activating

[2022-11-01 22:37] memsharded commented on #12438
Hi @petr-polezhaev

Yes, while working in editable, the only important part is the "build" state. The "package" is not used by the editable at all. So the part of testing the ``package()`` method is a different thing. It can be tested with the ``export-pkg``, and it doesn't change anything at all in the ``editable``, dependencies using the editable will use the user folder, not the cache copy, but

[2022-11-01 22:41] memsharded commented on #12398
Interesting, I didn't know about https://octopus.com/.
But I was talking about common package managers (maven, cargo, apt, pip, etc), up to my knowledge no one of them implements anything like that.
The complexities that such an approach would bring are huge, definitely not something in our scope.

[2022-11-01 22:44] memsharded commented on #12059
Conan 1.X will still be maintained and supported for a while after 2.0 final release, to keep helping in the transition 1.X->2.0. I'd expect at least around 6 months of them co-existing.

But writing a ``deployer`` should be a relatively easy task, and you can already start trying it in the beta.

[2022-11-01 22:50] memsharded commented on #12436
I'd like to add that the folder ``C:\\.conan\\707a25`` is an indicator of the ``short_paths`` feature in Windows, which is a 1.X feature to workaround the Windows long-paths issues, and it can be sometimes a bit more fragile than the normal folders, so it might be easier to corrupt under some failures, and not that smart to recover. This issue might be completely gone in 2.0 automatically.

[2022-11-01 22:52] memsharded commented on #12439
Hi @santhonisz

Since we started with the late alphas and betas, that can be used to test things with a complete release, we have no longer maintained the ``CONAN_V2_MODE`` env-var functionality. It might contain a few checks, but the new ``deployers`` that deprecate ``imports()`` is relatively new in the betas, so no new checks have been added.

[2022-11-01 22:57] technic commented on #4500
Warning is one thing. But more important is rebuild.

If at some time LibB was built against LibA/1.1 this does not mean that LibB always requires LibA >= 1.1. You can have dependency LibA/[~1.0] in requires(), so that LibB can work with any LibA/1.x, but if LibB was built against LibA/1.1 you must link it to LibA >= 1.1. I think ABI downgrade of minor version is a wrong thing from the semver poin

[2022-11-01 22:58] memsharded commented on #12437
Hi @connorsmacd

I have a quick question, why are you adding ``glib`` as a ``tool_requires``? It is not a tool, but a library, so it should be added as a regular ``requires`` wouldn't it?

[2022-11-01 23:02] santhonisz commented on #12439
Thanks for the quick feedback @memsharded  - I guess it's safe to say we shouldn't really be relying on `CONAN_V2_MODE` to catch (all) 2.0-compatibility issues in that case.

[2022-11-01 23:04] memsharded commented on #4500
Hi @technic

I think this issue from 2019 was very old, and should be closed as stale.
Many things have happened since then, the most important Conan 2.0 which is already in beta, that brings a new dependency graph model and resolution and the most important thing, a new ``package_id`` approach, which is the core thing that define when a binary should be used or not. More details can be seen in ht

[2022-11-01 23:05] #4500 closed

[2022-11-01 23:06] memsharded commented on #12439
Yes, definitely. The team has been putting some other helpers, like these linters: https://github.com/conan-io/conan-center-index/tree/master/linter, that might help to catch some 2.0-readiness issues. Still nothing beats actually running things against a 2.0-beta version.

[2022-11-01 23:15] santhonisz commented on #12439
All good and thanks for the heads up re the linters 👍🏼

[2022-11-01 23:15] #12439 closed, assigned to memsharded

[2022-11-01 23:18] technic commented on #4500
Hi, thanks. I have this issue with latest 1.53 but I understand that it will not be fixed in 1.x branch. I will check 2.0.

[2022-11-01 23:32] connorsmacd commented on #12437
Good question. I am working on getting GStreamer to cross-build. GStreamer needs `glib-mkenums` as part of the build process, which is supplied by GLib. There may be other scripts/executables supplied by GLib that are used for building -- I'm not certain. For this reason, it seemed appropriate to add `glib` as a `tool_requires`.

There are other packages that similarly serve both as a tool and a l

[2022-11-01 23:45] memsharded commented on #12437
Ok, thanks for the explanation, I was not aware of those scripts,  just please make sure about this:

https://docs.conan.io/en/latest/devtools/build_requires.html

And you don't include headers or link libraries from that requirement. A way to help to achieve this is making sure you always use the 2 profiles, "build" and "host" profiles, explicitly passing "build" one in the command line.

I think

[2022-11-02 00:20] jzinn opened #12441 "[feature] Configuration to prevent downloading pre-compiled binaries from remotes"
If a package can be built from source, I would like to build it locally and not download pre-compiled binaries from a remote, while still avoiding repeated builds from source.

This does not seem possible, except possibly by hacking package id values using a new setting.

`conan install --build="*"` will build everything from source, but this does not avoid repeated builds.  Everything will be bui

[2022-11-02 00:44] memsharded commented on #12441
Hi @jzinn

Thanks for your suggestion.
This topic has been also treated in https://github.com/conan-io/conan/issues/12414.

Still the answer would the same, it is a model thing. If you settings match, you shouldn't rebuild, but get the existing pre-compiled binary. So, as you point out, the solution is to customize the ``settings``, most likely with a subsetting.

One of the reasons this would als

[2022-11-02 01:45] jzinn commented on #12441
In an ideal world with universal reproducible builds, I might agree.  However, I'm not so trustful of remote binaries.  Also, I like to look at build logs like `conan_run.log`.  And I think there is value in packages being built more than the minimal number of times.

What new state is necessary?  I don't see how the past history would affect a decision to download pre-built binaries or not, but I

[2022-11-02 06:55] czoido commented on #12393
Hi @db4,
Sorry for the delay in answering back. Yes, after seeing your use case, I think it makes sense that this is available in the test_package as well. I'll mark this for the next release to have a look.
Thanks!

[2022-11-02 06:56] santhonisz opened #12442 "Migration process to new msvc compiler settings in 2.0"
Hi there,

I was seeking some clarification around the migration process to using the new `msvc` compiler settings in 2.0 in light of the removal of the `Visual Studio` compiler settings. Forgive me if this has been asked before - I've searched both here and on the Conan Center repo for an answer and can't seem to find one.

I understand that as all Conan Center packages that support MSVC are curr

[2022-11-02 08:11] franramirez688 commented on #12052
Hi @ineb

So sorry for the delay in replying to your issue. Did you get the way to make it run?

Anyway, let me explain something about the new generators. `Visual Studio` compiler is deprecated so you should use `msvc` instead (more information [here](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html#msvc)).

One likely profile could be something like this:

[code]
Let me k

[2022-11-02 08:13] rettenbs commented on #12427
We would like to extend the environment API. Here is a simplified example how our `conanfile.py` could look:

[code]

Note: We use conan only to to setup our development toolchain. Building and packaging is not done with conan.

[2022-11-02 08:31] memsharded commented on #12441
It is perfectly fine to not trust remote binaries from some repositories, and we are happy that many of conan users are building from source their own binaries. But one of the most important Conan features is the capability of managing your own binaries, and storing them in your own repos. Then, it would be necessary for this feature to also specify, "I want to build from source packages that come

[2022-11-02 08:53] samuel-emrys commented on #11010
I note that this has been somewhat addressed in conan 2 by https://github.com/conan-io/conan/pull/11194, but I'm still a bit perplexed as to why the dependency tree needs to be resolved to a diamond. In the following case:
[code]

Can't both versions of `zlib` be used independently? As far as I can see, neither of these would leak across the boundary of `protobuf` or `qt`, at least where executabl

[2022-11-02 08:54] memsharded commented on #12427
A few minor Python things:
- Do not use default args values that are mutable, like `` def __init__(self, compiler, buildTypes=['Debug', 'Release']):``. That ``buildTypes`` can be broken in Python. It is necessary to do something like ``build_types=None``, then internally to the method ``build_types = ["Debug", "Release"] if build_types is None else build_types``
- Do not use attributes like ``self

[2022-11-02 09:05] memsharded commented on #12442
Hi @santhonisz

Yes, there is a fallback to help in the transition. When using ``msvc`` setting, there is a "compatible-package" fallback that will try to use the equivalent old ``Visual Studio`` binary if you still didn't built the ``msvc`` one (but use the ``msvc`` if available)

Yes. All packages have new ``package_id``s, for all configurations, not only VS, in Conan 2.0. The binaries have diff

[2022-11-02 09:51] rettenbs commented on #12427
Thank you for the comments regarding the Python. We will look into these issues.

**Regarding `cmake/3.24.2` and `shutil.which('cmake')`:**
You can specify the path to the cmake executable in presets. This is not used by cmake itself and is intended for IDEs that support presets out-of-the-box (e.g. Visual Studio Code).

**About your questions:**

Yes, it is CMakePresets specific and will be repla

[2022-11-02 10:20] czoido commented on #12395
Hi @whitefluffypenguin,
I'm closing this as it seems solved. Please feel free to reopen if you have more questions.
Thanks!

[2022-11-02 10:20] #12395 closed, assigned to czoido

[2022-11-02 10:24] czoido commented on #12334
@prince-chrismc I'm closing this as https://github.com/conan-io/conan/pull/12351 was merged (will be released in beta5) and now Conan 2.0 recipes won't fail if they have `env_info` and `user_info` although it will have no effect at all

[2022-11-02 10:24] #12334 closed, assigned to czoido

[2022-11-02 10:26] jellespijker commented on #12023
Hi @parachvte and @memsharded There seems to be a mismatched between recipes of our private `cura` Artifactory repository and our public `cura-ce` Artfiactory repository. Which has gone unnoticed because the CI pipelines and devs are all working from our private repo. We just ran into this issue because our community manager @MariMakes tries to install the Cura development environment as described

[2022-11-02 10:32] memsharded commented on #12427
I meant that you might access directly the folder with ``self.dependencies["cmake"].cpp_info.bindir``, so no need to use a ``which`` to get it, Conan knows the folder already. Then you can pass it to Presets.

Thanks for the feedback, adding a ``look-into`` label to discuss with the team this potential feature

[2022-11-02 10:40] czoido commented on #12006
Thanks for reporting @dubvulture,
The documentation is indeed wrong, we'll fix it, I'm transferring this to the docs repo.
@jellespijker  Regarding the problem with Windows there's a PR open: https://github.com/conan-io/conan/pull/12193 there are some tests pending but we will try to push it for the next release.

[2022-11-02 10:44] memsharded commented on #12310
Hi @elqueffo

Any feedback regarding the last questions? PR https://github.com/conan-io/conan/pull/12318 is scheduled to close this ticket, as not a bug, but expected behavior, package_folder will be ``None`` if package is in editable mode, and if packages are to be used in editable mode, they shouldn't rely on ``package_folder`` at all, but on the ``cpp_info`` abstractions.

[2022-11-02 10:48] memsharded commented on #12255
This is not a blocker, moving it to 1.55.
Recall that you can add your own settings to ``settings.yml`` and also automate it with ``conan config install``

[2022-11-02 11:05] rettenbs commented on #12427
That is possible, yes. We might need to distinguish between Linux (`cmake`) and Windows (`cmake.exe`) for the exact path to the executable in this case.

Thank you very much. I am looking forward to the result of the discussion.

[2022-11-02 12:03] sburton84 opened #12444 "[bug] Bazel BUILD file should not include build-context dependencies"
This relates to my [previous change](https://github.com/conan-io/conan/pull/10686) which added transitive dependencies to Bazel `BUILD` files. When a dependency which has build-time dependencies is added, it adds the build-context dependencies as well, even though these are only needed for building the dependency, not for using it.

### Environment Details
  * Operating System+version: Ubuntu 21.0

[2022-11-02 12:04] czoido commented on #12407
Hi @puetzk,
After having a look at this we have concluded that this should be set with the [VirtualBuildEnv](https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualbuildenv.html) feature as it would be very challenging to manage all the CMake configurations inside Conan. I'm closing this but please feel free to reopen if you have any more questions.
Thanks a lot for the suggestion.

[2022-11-02 12:04] #12407 closed, assigned to czoido

[2022-11-02 12:25] elqueffo commented on #12310
Hello again @memsharded ,

I am not sure i follow how i would achieve this still:

Inside `package_info()` how could i set some arbitrary environment variable `self.env_info.BOB` or user info `self.user_info.ALICE` to an absolute path of an arbitrary file inside the package (that would work in both editable and normal mode)?

I understand some generators already handle setting PATH, but what about

[2022-11-02 12:56] connorsmacd commented on #12437
Re:

I am just trying to understand how this is **not** a bug in Conan itself. Regardless of the package, why would a tool requirement fail to build only when a build profile is specified explicitly. Both `conan install` cases are trying to build the exact same binary, as evidenced by the identical package IDs (`7321193805ea53e6ab97f76e7ff364ed3daa18dc`), yet one fails and the other doesn't. What

[2022-11-02 13:14] czoido commented on #12444
Related to: https://github.com/conan-io/conan/issues/12236

[2022-11-02 13:30] asalwa commented on #1314
Referenced Artifactory issue https://www.jfrog.com/jira/browse/RTFACT-16410 is closed. (closed in January 2022).
Can this issue be closed as well?

[2022-11-02 13:53] memsharded commented on #12310
This is what I am trying to understand: what is "BOB" and what is "ALICE"? It would be good to learn about the real use cases, so we consider alternative ways to model this. Certainly ``self.package_folder`` is not possible in editable mode, as it doesn't exist at all, but there are some abstractions over that that could help, like the ``cpp_info`` one, or the properties, or maybe we need some oth

[2022-11-02 13:58] memsharded commented on #12437
I am not sure what you mean. Defining ``--profile:build=xxx`` is a opt-in that activates a completely different behavior in how Conan manages tool-requires. The dependency graph itself might be different, as transitive requires of ``tool_requires`` will no longer conflict with transitive requires of regular ``requires``, because they will be in a different "context", the "build" context. How the "

[2022-11-02 14:01] memsharded commented on #1314
Can this issue be closed as well?

I'd prefer to validate it ourselves before closing, not that clear that the bug has been completely fixed.

[2022-11-02 14:02] kielby opened #12447 "[question] Handling multiple package setting/option variations in single CMake build"
Hi,
We would like to use Conan to install dependencies for a large CMake project using the CMakeDeps / CMakeToolchain. Currently a single build invocation of the project produces many individual binaries which are packaged into an installer.

Some of these binaries have dependencies on different setting/option variations of a Conan package. For example: On Windows several built executables use sha

[2022-11-02 14:09] connorsmacd commented on #12437
That answers my question. I thought `-pr=<profile>` was merely shorthand for `-pr:b=<profile> -pr:h=<profile>`, but that's incorrect. Thank you for the clarification.

[2022-11-02 14:14] memsharded commented on #12437
No, that is part of the historical evolution, and how Conan since 1.0 needs to move forward to not break things:
- Initially, the build profile didn't exist at all, everything used just one profile, and ``os_build`` and ``arch_build`` to try to handle cross-compilation cases
- It was a limited approach to cross-compilation, so a new mechanism was designed, using the "build" and "host" contexts con

[2022-11-02 14:21] memsharded commented on #12310
Re-opening after https://github.com/conan-io/conan/pull/12318 was merged and closed it, and assigning for discusion to next 1.55:

- We need to check the ``MSBuildDeps`` generator, it shouldn't fail when editable because of accessing ``package_folder``, I think this was already fixed in ``CMakeDeps``, but this was missing
- We need to learn about real use cases that involve knowing paths of things

[2022-11-02 14:23] memsharded commented on #12447
Hi @kielby

Do you mean, to implement something in the ``cmake-conan`` integration in https://github.com/conan-io/cmake-conan? Maybe we should transfer this question there?

[2022-11-02 14:25] elqueffo commented on #12310
Let's say i am packaging some library or tool that expects a specific environment variable to be set to point to a config file, that resides inside the package folder.

having access through cpp_info wouldn't help here i think?`

Let's say `MyPackage` expects `MY_PACKAGE_CFG` to be set to an absolute path to `my_package.ini`, could i do that based on cpp_info? Or perhaps VirtualEnv generator would

[2022-11-02 14:29] #12320 closed, assigned to czoido

[2022-11-02 14:30] memsharded commented on #12310
Where does it reside when the package is in editable mode, in the source&build tree? It is a generated file, or is it part of the source?

[2022-11-02 14:36] memsharded commented on #12310
In any case, I am starting to understand the use case, and this seems not a bug, but a request for a new feature that helps managing some use cases, but this feature might need some thinking about the right model, and how to represent the different situations between the editable layout (source & build trees) vs the package layout (only package tree)

[2022-11-02 14:51] elqueffo commented on #12310
In this case it would be in the source tree, however it would probably be useful to also support the case where it is part of the build output.

[2022-11-02 14:54] czoido commented on #12320
We close this, although we know that is not completely addressed in https://github.com/conan-io/conan/pull/12349
There's a workaround to install packages without architecture using:

[code]

But I'll open a new issue to improve UX for this.

[2022-11-02 14:57] czoido opened #12448 "Improve UX to install system packages without architecture"
Provide a better way of forcing installing packages without the architecture appended to the package name even if you are cross-compiling. Currently you can do:

[code]

Passing arch_names as an empty dictionary in the constructor will make that the name resolution skips adding the architecture for all cases (cross-compiling and not). But that is ugly and probably we want to pass a new argument to

[2022-11-02 15:00] memsharded commented on #12310
Ok, so this is the requirement:
- We need to define a way, to specify a environment variable in an abstract way, so it can point to a file inside the build tree in ``editable`` layout and to a file inside the package in ``cache`` layout, so it gets the full correct path in the consumer side.

We certainly need to think about this, doesn't seem an easy feature, as it requires some similar generaliz

[2022-11-02 15:07] antze-k commented on #12418
Deeply sorry for the previous misinformation, Artifactory version is irrelevant to what I saw, the issue was in "virtual repository" -- just re-tested it.

When I create just "conan" local repository, I observe 500 error, like everyone else, both for `conan list packages` and `conan download`, like everyone else.

When I create "conan-local" local repository and "conan" virtual repository (linked

[2022-11-02 15:19] memsharded commented on #12418
Everything is great, don't worry, thanks very much for all the detailed feedback and trying things!

[2022-11-02 15:32] ineb commented on #12052
For now i keep using an older version of zlib/1.2.12 without the new CMakeToolchain mechanism

[2022-11-02 15:32] #12052 closed, assigned to nobody

[2022-11-02 16:11] #11840 closed, assigned to jcar87

[2022-11-02 17:52] jellespijker commented on #12023
@parachvte The issue should be resolved now. Try the instructions on our Wiki https://github.com/Ultimaker/Cura/wiki/Running-Cura-from-Source/

It might be a good idea to clear your conan cache first.

[code]

I hope the see some nice PRs coming our way. Let me known if you run into other troubles and don't hesitate to open a ticket for a question or an issue on the Cura repo.

[2022-11-02 18:04] kielby commented on #12447
I'm not familiar with `cmake-conan` but I'll take a look to see what it has to offer.

But no, our initial intent was just to invoke `conan install` along with the CMakeDeps generator, then invoke the CMake with the generated toolchain file.

Our ideal solution is that we invoke CMake configure and build once, but I'm not sure how to reconcile that with the multiple `conan install` generated outpu

[2022-11-02 19:50] jarro2783 commented on #6732
I was looking at this on my company's build servers because we have several GB to download and `conan install` was taking up to 15 minutes. When I looked at the CPU usage I noticed that there was rarely more than about 1 CPU worth of usage even though this was a 32 core machine and parallel_download was 16, so I looked into the untar code and saw that it is all running inside python code. This mea

[2022-11-02 22:17] santhonisz commented on #12442
Thanks as always for the feedback @memsharded ; that clears things up quite a bit.

[2022-11-02 22:17] #12442 closed, assigned to memsharded

[2022-11-02 22:37] memsharded commented on #6732
Well the idea is that not all are untarring at the same time, but some might be downloading and other might be untarring. For the download part, as it will be more bounded by network than by python, it is possible that there could be larger gains with more than 2, depends on the download speed too I guess.

[2022-11-02 23:16] memsharded commented on #12447
This shouldn't be an issue. The different generators like ``CMakeDeps`` and ``CMakeToolchain`` are multi-configuration, their created files will have different names, so they will not overwrite or collide, but they will be appended, and some files might be augmented with the new information.

Also the new ``MSBuildDeps`` and ``MSBuildToolchain`` are multi-config too, and they will work with multip

[2022-11-02 23:46] petr-polezhaev commented on #12438
Thank you for your comments

Based on your response and some additional research I've made a minimal-ish example of what I wanted to achieve: https://github.com/petr-polezhaev/conan-editable-test
(it's very jank and simplisitic, obviously - just to illustrate the concept and issues I've encountered)

While doing so I've realized a few misconceptions I had about the editable mode and how it is diff

[2022-11-02 23:46] #12438 closed, assigned to memsharded

[2022-11-03 00:05] memsharded commented on #12438
Well, I think that not that advanced. The ``conan new hello/0.1 -m=cmake_lib`` that contains a simple ``cmake_layout()`` works directly as editable. Just type ``conan editable add . hello/0.1`` and it works out of the box. Furthermore Conan 2.0 already has some extra features, like being able to build in place editables if needed ``--build=editable`` which also helps managing projects with editabl

[2022-11-03 00:15] jzinn commented on #12441
Currently only updating dependency versions, but soon updating dependency recipes and patching dependency sources.

If the dependency builds successfully, then Conan will continue to build other dependencies, at which time it will pull down pre-built binaries.  The `conan remove` is to remove any pre-built binaries that were downloaded.

Maybe I'm confused.  I thought Conan, after building `depend

[2022-11-03 02:35] System-Arch opened #12450 "[question] Is the behavior of tested_requirements_str correct?"
It appears that a recipe reference that contains a name, version, and recipe revision will be represented in tested_requirements_str as:

rather than as:

which is what I was expecting based on my understanding of references. e.g. documented as "The full reference and the package ID of the dependencies, pkg/version@user/channel#RREV:pkg_id ..." but vague on what if any separators should be present

[2022-11-03 02:56] jarro2783 commented on #6732
For us, and I suspect the op, it is very much bounded by cpu untarring. The files download faster than they decompress, more so when parallel is set too high. I think the whole thing would speed up by an order of magnitude if it could shell out to tar and do the unpacking properly in parallel.

[2022-11-03 04:34] prince-chrismc commented on #12334
🚀

[2022-11-03 08:13] ericLemanissier commented on #12222
friendly ping @jcar87 What is the status of this issue ?

[2022-11-03 09:29] uilianries commented on #12411
Closing this one as it's duplicated with https://github.com/conan-io/docs/issues/2794

[2022-11-03 09:29] #12411 closed, assigned to memsharded

[2022-11-03 10:00] initlifeinc opened #12451 "[question] How do i debug a library locally which is published as a conan library."
First of all, thank you for reading this issue.

【Background】
We have publish some libraries by use Conan and integrate them in out project. The following description is the way we used.

1. Publish Step:
         * We use google GN to build our codes to the binary library and then upload to cloud and write the library url in conanfile.py, so that when we execute `conan install xxxx`, we could dow

[2022-11-03 10:10] SpaceIm commented on #12435
Yes: https://github.com/alandefreitas/matplotplusplus/blob/58d3994f5c5a82d03f3e825aadaa77300f4a8365/source/matplot/backend/gnuplot.cpp#L66-L78

In dependencies list of their README:

[code]

Otherwise yes your diagnostic is correct. I would like to mention that runtime dependencies may also be recipes providing only plugins loaded at runtime, so I think it makes sense in conan to have a dedicated

[2022-11-03 10:14] #12260 closed, assigned to czoido

[2022-11-03 10:15] czoido commented on #12260
Hi @paulocoutinhox,
We have merged the feature in 1.54 that will be released very soon. Please note that we finally changed the default to use `use_settings_target=False`. Thanks a lot for reporting and testing this.

[2022-11-03 10:32] memsharded commented on #12435
Not necessarily, this is exactly the nature of plugins, they are runtime things. You can develop them in isolation, and most importantly you can define the consumers of these plugins completely in isolation, without any connection to the plugins. In any case the plugins might have a dependency to some common library used to provide the plugin interface, for the consumers, but not the consumer depe

[2022-11-03 10:40] memsharded commented on #12450
Hi @System-Arch

Yes, it is correct, ``name/version#RREV`` is the correct way to express a recipe revision without user and channel, and it is the canonical way moving forward, and the only way in 2.0. There are some contexts in which the legacy ``name/version@#RREV`` way is necessary to not break some code, but as the former works well in the context of ``test_package`` (it works as an input to `

[2022-11-03 10:44] db4 opened #12452 "[question] msvc_compatible() is not enough sometimes?"
I'm trying to use boost package from CCI with `msvc` compiler (actually I have this problem with my own packages, but boost is good for demonstrating it) . Conan fails to find the (compatible) binary:
[code]
Why so? And how to debug such errors? `conan install boost/1.75.0@ -s compiler="Visual Studio" -s compiler.version=15` succeeds:
[code]

[2022-11-03 11:03] System-Arch commented on #12450
Hi @memsharded,

Thanks for clarifying. This might be good to document (unless it already is and I missed it).

On a related note, it might be useful to publish an API for "cracking" a ref (e.g., to extract the name, version, etc.). It looked to me like the Conanfile implementation is meant to be private or is it okay to instantiate a RecipeReference object in something like a test_package Conan f

[2022-11-03 11:03] DukeOfKirkcaldy opened #12454 "[feature] Define CMake toolchain variables in global/profile conf"
While it is already possible to [set CMake toolchain variables in the generate method](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#variables), in some cases it makes sense to set these at a global or profile level, when they relate directly to the profile settings.

For example, if I am using a host profile which using a Tasking compiler, I would also want t

[2022-11-03 11:04] uilianries opened #12455 "[feature] Add support to validate checksum in apply_conandata_patches"
So far, [apply_conandata_patches](https://github.com/conan-io/conan/blob/d3a6b69f1f2f12cda384ac96662f87f00aa869d7/conan/tools/files/patches.py#L66) ignores any form of checksum, however, several [downloads](https://docs.conan.io/en/latest/reference/conanfile/tools/files/downloads.html) methods support it.

It would be great if `apply_conandata_patches` could validate `sha256` according to the curr

[2022-11-03 11:09] memsharded commented on #12441
That should be fine. Just changing a ``requires = "zlib/1.2.11"`` to ``requires = "zlib/1.2.12"`` creates a new recipe revision that necessarily require building new binaries for that change.

That really depends on the ``package_id_mode``. The default one is not that good for production, and it is recommended to change it. Conan 2.0 is changing it. So if some other package depends on the one that

[2022-11-03 11:12] memsharded commented on #12450
It will be part of the API, and it will be fully documented in 2.0. ``self.ref.name``, ``self.ref.version`` (and also for dependencies like ``self.dependencies["dep"].ref.version``, it is already documented in https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

[2022-11-03 11:14] #12393 closed, assigned to czoido

[2022-11-03 11:14] memsharded commented on #12393
Fixed by https://github.com/conan-io/conan/pull/12443 to be released in 1.54

[2022-11-03 11:19] memsharded commented on #12455
I understand a bit the user convenience, but the moment you already downloaded the patch from the internet, and made it available as part of the recipe itself via ``exports``, this seems like a bit unnecessary? Checksum verification are there to validate that the URL you are downloading from didn't change the file, but if the file is downloaded and put together with the recipe, what is the value?

[2022-11-03 11:27] System-Arch commented on #12450
Great! Thanks

[2022-11-03 11:28] DukeOfKirkcaldy opened #12456 "[feature] Add support for TASKING compilers"
Now that CMake 3.25 has [added built-in support for TASKING compilers](https://cmake.org/cmake/help/latest/release/3.25.html#id6), I think it also makes sense for Conan to support them.  I realise it is possible to extend `settings.yml` on my own, but cross-compilers for embedded systems are a bit trickier and users may implement it differently (which becomes a big problem when it comes to deliver

[2022-11-03 12:04] SpaceIm commented on #12435
Maybe not the good word, I meant modules or basically any shared lib loaded at runtime only and mandatory.

Let's take an example:

- recipeA provides only a module (shared lib without exported symbols), intended to be loaded at runtime
- recipeB is an executable, and recipeA is a mandatory runtime dependency of recipe B.
- recipeC has recipeB in tool_requires

If you can't propagate recipeA share

[2022-11-03 12:11] #10900 closed, assigned to franramirez688

[2022-11-03 12:11] #12192 closed, assigned to memsharded

[2022-11-03 12:29] memsharded commented on #10900
https://github.com/conan-io/conan/pull/12178 merged, this will be in next 1.54

[2022-11-03 12:46] memsharded commented on #12110
I am checking this, and this works:

[code]

[code]

The ``winbash`` might be redundant here, of course, not strictily necessary

[2022-11-03 13:32] freakinpenguin opened #12458 "[bug] CMake CMP0091 policy not applied by CMakeToolchain"
I'm currently trying to build a conan package of the eigen3 library. I started with the conan file from conancenter, but I keep getting errors, that the CMake policy CMP0091 must be set to ´NEW´, but it's empty.

I'm aware that in v1.53 https://github.com/conan-io/conan/issues/10239 was fixed to introduce it, but to me it looks as the default policy settings is somehow not recognized by cmake. I c

[2022-11-03 14:30] vasama opened #12459 "[feature] CMake dependency provider"
CMake version 3.24 added support for [dependency providers](https://cmake.org/cmake/help/latest/command/cmake_language.html#dependency-providers). Are there any plans for an official conan dependency provider?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-11-03 14:48] petr-polezhaev commented on #12438
Oh, I didn't mean it in that sense. I am trying to port Unreal Engine third-parties (+ a few custom ones) for a rather large project to use conan (as it's a pain to change and recompile those manually using a slightly unmaintained batch scripts). So I have to compete against the idea of everything already working and you just need to manually do few things versus learning new things, essentially.

[2022-11-03 15:33] joastoe opened #12460 "CMake can't find .pc files generated by PkgConfigDeps"
I just updated conan to version 1.53.0 and am surprised that my .pc files generated with PkgConfigDeps into build/generators folder are not found by CMake anymore when calling conan create.

If I define PKG_CONFIG_PATH manually before, all goes fine. But obviously this is something I rather don't want to do.

Has anyone a hint where I have to dig?

Thanks

[2022-11-03 15:35] czoido commented on #12460
Hi @joastoe,
Thanks for reporting. This is duplicated from: https://github.com/conan-io/conan/issues/11962
Closing this, please follow in the other issue, it's already being considered for 1.55

[2022-11-03 15:35] #12460 closed, assigned to nobody

[2022-11-03 16:07] uilianries opened #12461 "[feature] Make cmake_layout available from only one place"
For now, we can import `cmake_layout` from both points:

- from conan.tools.layout import cmake_layout
- from conan.tools.cmake import cmake_layout

The documentation is inclined to use `cmake` only: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake_layout.html

However, importing from `conan.tools.layout` does not result in errors, nor warnings, but is not documented.

It woul

[2022-11-03 16:13] memsharded commented on #12461
We decided to leave it to avoid breaking unnecessarily in 1.X. It has been removed already in 2.0.

But if everyone things that we should remove it, lets do it.

[2022-11-03 16:51] franramirez688 commented on #12458
Hi @freakinpenguin

I'm not able to reproduce the issue, so let's try something easier. Let's use the hello-world-example in an empty folder only to be sure that it's also not working:

[code]
Is it working fine? Or is it appearing the same error?

[2022-11-03 18:29] SpaceIm commented on #12458
It's a recipe issue in a sense. CMakeLists of eigen is illformed before 3.4.0 (`project()` before `cmake_minimum_required()`, so it breaks policies), but because c3i doesn't test build of header only libraries on all plaforms (it tests the build on Linux, and test package on all supported platforms), this issue was missed.

https://github.com/conan-io/conan-center-index/pull/14003 will fix this is

[2022-11-03 19:18] puetzk commented on #12407
OK. I hadn't thought of doing it through `[buildenv]`, since my mental model was "run `ctest`", which isn't a build step.

But, conan runs everything through `cmake --build <build_folder> --target test` rather than `ctest`. Given that, I can see how applying `[buildenv]` is consistent.
https://github.com/conan-io/conan/blob/5bf9aacedf9cc71c52ef548b079285715b51ba10/conan/tools/cmake/cmake.py#L149-L

[2022-11-03 19:39] kielby commented on #12447
Thank you for your responses.

Regarding multiconfiguration, it seems it extends to the build type (Release vs. Debug) and  perhaps architecture. Here is what I tried:

[code]

I ended up with only the static version of Boost. CMakeDeps generated a file called `Boost-release-x86_64-data.cmake` in both cases, so second invocation of `conan install` overwrote the first.

Is there a way to extend or

[2022-11-03 20:00] jzinn commented on #12441
I don't want to build them every time, I want to build them once.  It doesn't take that long, and only needs to happen when dependencies are updated.

Verifying that all dependencies build locally seems like a basic task, especially when the local build environment is unlikely to be identical to the build pipeline environment.  In my case, our remote binaries are built by an older CentOS, and my l

[2022-11-03 20:31] puetzk opened #12462 "[bug] buildenv vs runenv for cmake.test() helper."
Follow-up to #12407

I can see now why conan applies `[buildenv]` to this its `cmake.test` helper (since it's really `cmake --build <build_folder> --target test`), but it feels like many cases with shared libraries would also want the `[runenv]`. For example, they might need to find .dll files from libraries that were in requires. I would expect most test content to be pretty indifferent to the bu

[2022-11-03 20:35] kielby commented on #12447
Looking more into CMakeDeps generator, it looks like perhaps some of these things could be controlled via the properties as documented at https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html

If this is the right approach, can you offer some direction which properties could be used for this use case and how to reference these dependencies in CMake file?

I'm assuming I wo

[2022-11-04 01:34] santhonisz commented on #12310
For our particular use case, this is this current issue that is affecting us. At present we can't use packages in editable mode if they use the `MSBuildDeps` generator (unless we use the work-around I previously [suggested](https://github.com/conan-io/conan/issues/12310#issuecomment-1280553332), but you understandably recommend against)

[2022-11-04 07:41] franramirez688 commented on #12458
Thank @SpaceIm for the info!

Then, I think that we can close this issue.

[2022-11-04 07:41] #12458 closed, assigned to franramirez688

[2022-11-04 08:26] #12298 closed, assigned to memsharded

[2022-11-04 08:26] freakinpenguin commented on #12458
That makes sense. Thanks for pointing it out.

[2022-11-04 08:26] memsharded commented on #12298
Fixed in https://github.com/conan-io/conan/pull/12446, will be in 1.54 soon

[2022-11-04 09:00] franramirez688 commented on #12153
Hi @SpaceIm

I'm trying to reproduce the issue (and the test from the PR linked), and I was wondering what your `mingw_profile` looks like. I think it could help us to get it locally.

[2022-11-04 10:08] czoido commented on #12454
Hi @GordonJess,
Thanks a lot for the suggestion, I'm marking this as a look-into so the team can discuss if this feature, of being able to set additional CMake variables from the conf would make sense. From what I understand it would be something like:

[code]

[2022-11-04 10:38] czoido commented on #12462
Hi @puetzk,
Thanks a lot for reporting and the detailed instructions.
I could reproduce the bug in how the environments are passed, so we will fix that.
Also, I'm marking this as look-into for the next release and we will check your suggestion of adding the runenv to the run command by default.

[2022-11-04 11:01] schmidjo82 opened #12463 "Is there a way to extract sources of all dependencies?"
For some of our customers it is relevant to have a medium (DVD or stick) with all sources of third-party libraries used to build our product.
Is there a way to extract all sources of the requirements of our product-build?
I am already able to get a full list of dependencies by conan, but how can I get the sources?

[2022-11-04 11:04] memsharded commented on #12463
Hi @schmidjo82

The first important point is to have the URLs of those sources modeled in ``conandata.yml``, otherwise it will not be possible, as it cannot be extracted from arbitrary Python code. Do you have the ``conandata.yml`` with that definition?

[2022-11-04 11:37] #12153 closed, assigned to nobody

[2022-11-04 11:38] franramirez688 commented on #12153
Closed by https://github.com/conan-io/conan/pull/12193
It will be released in the next Conan 1.54 version.

[2022-11-04 11:45] schmidjo82 commented on #12463
Yes, I have these conandata.yml files. It was necessary to copy all recipes to our local repository and push the binary packages to our own artifactory space, since we need to be able to rebuild our products up to 10 years.
We also push the sources to that artifactory space to be able to rebuild locally without IT problems ;-).
I was already thinking about a way, where if try to fetch it from ther

[2022-11-04 12:50] puetzk commented on #12462
I don't know that it should be the default for all run commands, but I do think that CMake.test() should probably be adding it (which means passing it along through CMake._build() into ConanFile.run().

[2022-11-04 13:42] memsharded commented on #12463
Yes, ``conan source`` is only a "local" command, it needs to run in the repo where the ``conanfile.py`` is, it will not help with that.

Another quick question: do you need to store the sources tarball as downloaded, the uncompressed tarball, or in case you are applying any patches, the patched sources? Or it would be enough to store the patches themselves? Generated code in case some code generat

[2022-11-04 14:50] puetzk commented on #7456
Closing this since it's not going to change in 1.x and isn't relevant to 2.x

[2022-11-04 14:50] #7456 closed, assigned to memsharded

[2022-11-04 15:51] uilianries commented on #12455
Fair enough, so in that case, we need to update https://github.com/conan-io/conan-center-index/blob/master/docs/conandata_yml_format.md

[2022-11-04 15:51] #12455 closed, assigned to nobody

[2022-11-04 22:59] memsharded commented on #12462
Yes, it shouldn't be added to all commands by default, most commands are just "build" command, and only exceptionally, some will run "run" or "test" commands, that need the "runenv" from the host context.

I think this makes sense. It would even make sense to have the ``cmake.test()`` default to use only ``conanrun``, it is likely that most of the build tools are not necessary for running the test

[2022-11-05 04:05] prince-chrismc opened #12465 "[bug] Setting `conan_home` in `.conanrc` to just `.` for current directory fails"
I want to have a github repo with all of my config files in the root so it's each so show the layout.
My frame of of reference for my expectations https://github.com/conan-io/conan/pull/11675

I was expect to set just `.` for the current directory

### Environment Details (include every applicable attribute)
  * Operating System+version: Macos
  * Compiler+version:
  * Conan version: 2.0.0-beta4

[2022-11-05 14:28] sschuberth commented on #12076
I'm getting the same error on (Fedora) Linux:

[code]

To reproduce, run `conan info conanfile.txt` on https://github.com/oss-review-toolkit/ort/blob/aa942fa62dd7f055e2f27f51831dc66cf77e55c8/analyzer/src/funTest/assets/projects/synthetic/conan-txt/conanfile.txt

[2022-11-05 14:50] sschuberth commented on #12076
Upgrading to Conan 1.52.0 fixed the issue for me.

[2022-11-05 16:07] mkjkec2005 opened #12466 "Is workspace feature supported in Conan 2.0?"
Hi,

Is workspace feature supported in Conan 2.0? Kindly clarify.
As per the stack overflow, The workspace feature is deprecated, the recommended approach is to use editables directly.
It is also mentioed that workspace is not a good option.

https://stackoverflow.com/questions/73607834/conan-add-local-project-as-dependency

[2022-11-05 17:11] mirkobraic opened #12467 "[question] Unable to cross-compile a package using Clang"
Hello, I'm developing a cross-platform C++ library using CMake, Ninja, Clang, and Conan. I've been able to cross-compile the library for Linux (from Windows) with a [prebuilt Ubuntu toolchain](https://gnutoolchains.com/ubuntu/). However, I've encountered problems while trying to add a Conan package. For a test, I've included [fmt](https://conan.io/center/fmt) and [zlib](https://conan.io/center/zli

[2022-11-05 17:31] memsharded commented on #12465
But quick question, if you assign the current ``.`` folder, the project will be extremely polluted, with all the home files, subfolders, etc. Not to say the risk of collision with some project files. This is the reason why at the very least, it should be a subfolder in the current project, can you please elaborate on this?

[2022-11-05 17:35] memsharded commented on #12466
Hi @mkjkec2005

The ``workspace`` command and feature has been removed in 2.0.
It will be eventually resumed in 2.X, but it was removed because it was half-baked and problematic, but not because we think it is not a relevant feature. We will work on it to propose hopefully a better feature when possible after 2.0 is stabilized.

In the meantime, the recommended approach is to use a local script th

[2022-11-05 19:16] System-Arch commented on #12185
This was an issue with failing to upgrade the settings.yml file. Conan 2.0 uses Python None and is operating correctly.

[2022-11-05 19:16] #12185 closed, assigned to nobody

[2022-11-05 19:17] #12450 closed, assigned to memsharded

[2022-11-05 19:34] System-Arch commented on #12421
Hi @memsharded

I am nominally using the two profiles approach, but in this use case, where I am bootstrapping the tools themselves, I am using the "tools" profile for both "build" and "host". The feature I am seeking and that you point out below already exists, nearly covers my use case. I have one complication that is leading to a graph loop.. I am trying to start the bootstrapping process by bu

[2022-11-05 21:29] codetent opened #12469 "[bug] conan lock does not include default user & channel"
Creating a lockfile using `conan lock create` ignores the user and channel if the `default_user` and `default_channel` attributes are set. All the other information (name, version) is taken from the conanfile.

My current workaround is reading the values using `conan inspect` from the recipe before and supplying it with the parameters `--user` and `--channel`. This works but seems to be a little b

[2022-11-05 21:57] prince-chrismc commented on #12465
So my initial reflext was most of the files need to be version controlled `settings.yml`, profiles, and I assumed extentions and plugins would follow the same logic.

Instead of having a separate repo and a `conan config install git://example.come/my-repo` my dream was I could just inline everything in on repos and have that be my home.

[code]

Now that you pointed out some of the flaws and got m

[2022-11-05 23:08] System-Arch opened #12470 "[feature] Autotools.install() should permit overriding the "install" target"
Autotoos.install() is documented as an "alias" of ``self.make(target="install")`` but it would be nice if it permitted the target (i.e., "install") to be overridden with a target argument. My use case is that many recipes prefer to use the "install_sw" Makefile target rather than the "install" target. To do so, requires switching to the Autotools.make() method, but this approach requires having to

[2022-11-05 23:39] memsharded commented on #12465
The ``conan_home`` will contain absolutely everything, all settings, profiles, plugins, custom commands, packages cache, the version.txt, the remotes.json... that is the problem, it is a full conan home.

Yes, indeed if a stack trace happens, providing a better error message should be done.

[2022-11-06 03:40] mkjkec2005 commented on #12466
Thank you so much for the clarification.

[2022-11-06 03:52] mkjkec2005 opened #12471 "Parallel build failures due to Conan config install"
Hello, We are running multiple builds in parallel using Jenkins. Each of the child jobs (running builds) leverage Conan to consume package from the Artifactory Conan repo. These builds are failing randomly with the below error.

ERROR: Failed conan config install: [Errno 17] File exists: '/home/bangbuild/.conan/tmp_config_install'

Do we have a way to fix this?

[2022-11-06 05:17] mkjkec2005 opened #12472 "Support for Conan migration."
Hello, we have done a POC for Conan with a couple of components. The next step is to migrate the entire stuff to Conan. Our code base is huge, with components added as git submodules and multilevel dependencies (including both proprietary and third-party components). Is it possible to get some support for migration during the initial stage so we do the right thing the first time? Basically, we wan

[2022-11-06 05:36] sourcedelica commented on #12471
Use different [`CONAN_USER_HOME`](https://docs.conan.io/en/latest/reference/env_vars.html#conan-user-home) values for each process.  See https://stackoverflow.com/a/62291894/158658 for more details.

[2022-11-06 11:32] memsharded commented on #12472
Hi @mkjkec2005

Yes, please, write to info@conan.io and we will follow up there.

[2022-11-06 11:33] #12472 closed, assigned to nobody

[2022-11-06 11:43] memsharded commented on #12421
This is the code that does the matching in 2.0:
[code]
So apparently, it would be possible, because if the passed tool_requires matches itself, it will be automatically discarded to avoid infinite self-loop (while using another version of yourself it is a supported case, to implement bootstrapping of tools)

Though I think that for the build context, I'd probably try to be more explicit, and add t

[2022-11-06 11:45] memsharded commented on #12466
Labeling it as feature and look-into, to the 2.X milestone, so this info is explicit also for other users.

[2022-11-06 12:16] memsharded commented on #12358
Closed by https://github.com/conan-io/conan/pull/12361

[2022-11-06 12:16] #12358 closed, assigned to memsharded

[2022-11-06 18:04] SpaceIm opened #12474 "[feature] Add more config in `conf` in order to provide a canonical way to set path to compiler, linker etc"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, there is no canonical way to ensure that a specific compiler will be used when different versions of the same compiler or even different compilers are installed on build machine.
`compiler` values in profile are just a promise of conan user to conan client/recipe, an implic

[2022-11-06 18:20] puetzk commented on #12462
I think I'd rather see keeping `conanbuild` and adding `conanrun`, rather than replacing it. For one thing, it's more compatible with the status quo. And `cmake.test()` is done through `cmake --build --target test`, so it uses not only cmake, but also ninja/jom/whatever make program is underneath that; it really is running the build machinery.

I do have a few cases of header-only libraries whose

[2022-11-06 20:00] memsharded commented on #12462
Yes, I see that. My main concern here was also some eventual dependencies that such ``tool_requires`` might have, for example, ``cmake`` depending on ``openssl``. If for some reason the priority is not the right one, it is possible that the tests will run using the openssl shared library from the "build" context, rather than the one from the "host" context, which might also be a different version.

[2022-11-06 21:09] memsharded commented on #12372
Closed by https://github.com/conan-io/conan/pull/12388, will be in beta.5

[2022-11-06 21:09] #12372 closed, assigned to memsharded

[2022-11-06 22:19] memsharded commented on #11930
This feature does not address the case of some recipes (``protobuf`` and similar), that need to be built both as regular "host" requires and as "build" tool_requires. So probably not worth implementing and leaving just 1 way to do it, which would be the current cli arg?

[2022-11-06 22:27] puetzk opened #12476 "[bug] conan 1.x vs 2.x differences in new compatibility() method vs package_id() method"
https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#migrate-conanfile-compatible-packages-to-the-new-compatibility-method recommends migrating recipes from package_id: ... self.compatible_packages.append to the new compatibility() method even in 1.x

However, the behavior of 1.53 and 2.0.0-beta4 do not match, and the 1.x implementation does not seem to be viable if the package has anythi

[2022-11-06 22:41] memsharded commented on #12469
Hi @codetent

I have been having a look at this, and indeed the ``default_user`` and ``default_channel`` are not used at this point. Apparently they were designed to be used only to define the user and channel at ``export`` time (``conan export`` and ``conan create``), but they are not used when the ``conanfile.py`` is a consumer one, like this case (``conan lock create conanfile.py``) where the c

[2022-11-07 07:19] #12237 closed, assigned to jcar87

[2022-11-07 09:28] joastoe opened #12477 "[bug] prefix in pkg-config (.pc) file is emtpy when in editable mode"
I just updated conan to version 1.53.0 and am surprised that my .pc files generated with PkgConfigDeps into build/generators contain an empty prefix. This only when in editable mode. I use the layout() feature.

With conan 1.44
[code]

With conan 1.53
[code]

Is this a bug or did I miss to migrate some variable in the layout() section.
Thanks

[2022-11-07 09:41] franramirez688 commented on #12345
Closes by https://github.com/conan-io/conan/pull/12351

[2022-11-07 09:41] #12345 closed, assigned to czoido

[2022-11-07 10:54] franramirez688 commented on #12477
Hi @joastoe

I think this is the expected behavior. You can have a look at this issue https://github.com/conan-io/conan/issues/11435.
So, it'll always be `""` when in editable mode.

[2022-11-07 11:48] memsharded opened #12478 "[feature] CMake integration: proof of concept of sysroot + CMakeDeps priority"
It is not fully clear, maybe not enough tested:

- A vendor tool, like Android or similar, that could come in a Conan package, and that provides its toolchain.cmake file with the details how to use it.
- That toolchain might contain some libraries
- There are also Conan packages, that via CMakeDeps can be found
- But also some other packages should be found in the sysroot of the vendor toolchain

[2022-11-07 11:49] joastoe commented on #12477
Hi @franramirez688

I don't get it, if this is expected behavior how can I get It work otherwise then?
An empty prefix path will let cmake fail as the include dirs are all pointing to an in existent path. E.g.
`/include` instead of `/home/dev/git/libname/include`.

Seems to me as if the generation of the dependency's root path (=prefix) got lost somewhere on the road.

[2022-11-07 12:09] jcar87 commented on #12478
I think with CMake there isn't currently a solution that covers all cases, but there is potential for one.

When **not** cross compiling, `CMakeToolchain` will set `CMAKE_PREFIX_PATH` to the directory where all the generated `CMakeDeps` files are.  In essence, this results in a search order for `find_package`:
* Search first in the directory of the generated files ("conan" takes priority)
* Fall b

[2022-11-07 13:16] mattyclarkson opened #12479 "[bug] Adding `-s` prevents `rsync` from running"
In `conan.tools.compiler.build_type_flags` we [automatically add](https://github.com/conan-io/conan/blob/75329f63d45fbfa6542c6e7f252a15320bd3b63e/conan/tools/_compilers.py#L157) `-s` into `CFLAGS`/`CXXFLAGS`.

That is documented as:

Doing this with the `rsync` build results in:

It seems odd that we are _always_ adding `-s` to our release build flags.

There is a comment in the file:

Should we "

[2022-11-07 13:46] MarcelRaad commented on #11127
Still happens with 1.53.0. This is the one thing preventing me to turn on Conan v2 mode for some of my Conan packages. Note that it only affects `conan inspect`, `conan create` is fine.
I'm not very familiar with Python, but maybe the issue is that unavailable attributes are set to empty strings here?
https://github.com/conan-io/conan/blob/427c310539b55681f650e049d518b88ae984c443/conans/client/con

[2022-11-07 14:03] petamas commented on #11369
@memsharded: `conan_message()` seems to be still present in conan 1.52.0 (https://github.com/conan-io/conan/blob/develop/conans/client/generators/cmake_common.py#L235), and it is still added and used in the `cmake_find_package` generator. What is the plan with this? If it is being kept in the long run, then this same issue is still present.

In our (application) project, we want exactly this, i.e.

[2022-11-07 14:11] mkjkec2005 commented on #12472
I have sent an email (subject: Support for Conan migration. #12472) to
***@***.***

Thank you.

On Sun, Nov 6, 2022 at 5:03 PM James ***@***.***> wrote:

[2022-11-07 14:59] memsharded commented on #11369
Hi @petamas

That is the ``cmake`` legacy generator, we didn't remove it from 1.X, because it would be breaking, but it has been superseded by ``CMakeDeps`` and ``CMakeToolchain`` in 1.X, and it will be fully removed in 2.0 (coming soon). Please have a look at those and let us know (they have removed the ``conan_message()`` function, relying only on pure CMake ``message()`` levels)

[2022-11-07 15:06] joastoe commented on #12477
I investigated further.
The issue persists since conan version 1.46.0

package_folder is not defined anymore
[code]

I know that this AttributeError then was fixed by issue #11435 but my concern is why the package_folder variable isn't defined anymore.

[2022-11-07 15:14] himansu2906 opened #12481 "Does a modification in the Conf section value result in a different profile?"
We have 2 profile with similar settings but different compiler flags value inside conf section.

Our objective is to construct libraries using various combinations of compiler flags.

Issue faced :Changes to the value of the conf section are not recognized as changes to the profile.

could you please guild us how can we proceed?

[2022-11-07 15:53] memsharded commented on #12481
Hi @himansu2906

This is not possible in Conan 1.X, unfortunately, there is no mechanism for adding "confs" to the ``package_id`` of the binaries. Conan 2.0 provide a new configuration ``tools.info.package_id:confs``, that define which other ``confs`` will be part of the ``package_ids``.

In Conan 1.X (and probably in Conan 2.0 too), the approach to follow would be to add an appropriate higher lev

[2022-11-07 17:00] memsharded commented on #12479
Yes, I am having a look at this, and checked CMake source code, and couldn't find this as being set-up by default. Might be removed, this want to mimic the CMake defaults for Release/Debug, etc.

I am trying to check the history of CMake, but https://github.com/Kitware/CMake/blob/f3bbb37b253a1f4a26809d6f132b3996aa2e16fc is now broken. It is possible that CMake had that flag back in 2018, and no lo

[2022-11-07 17:37] System-Arch commented on #12421
Hi @memsharded, @prince-chrismc,

Indeed--you are correct. Simply using:

lets me achieve my goal of being able to bootstrap build tools on Mac and Linux using off-the-shelf CCI recipes with Conan 2.0. In summary, I can start by building openssl, which does not require cmake, then build cmake (using the boostrap option), which does require openssl, and then build any other tool that requires cmake

[2022-11-07 17:49] stas-neverov opened #12482 "[question] How do I call deploy() for a local conanfile.py?"
Hi,

Is there a convenient way to call the `deploy()` method for a local conanfile.py?

When I develop a `package()` method I can run `conan package .` and check the result in a local folder. I'd like to do the same testing when developing a `deploy()` method. As far as I know, `deploy()` is only called by `conan install`. And `conan install .` for the local conanfile.py installs the dependencies

[2022-11-07 18:05] memsharded opened #12483 "[bug] [develop2] Drop compatibility.py ``app_compat``"
There is a problem with the 2.0 compatibility.py default application compability:

- It tries to provide a fallback that allows requiring an ``package_type="application"`` with only ``os`` and ``arch`` defined in the settings in the profile or cli.
- It works nicely for packages without transitive dependencies, proposing a fallback to the default compiler of each OS, latest version
- But for ``app

[2022-11-07 18:22] memsharded commented on #12482
Hi @stas-neverov

I am afraid it is not possible to call ``deploy()`` for a local ``conanfile.py``, because it only knows how to operate from a created package, but not from local binaries. It is not only about the existence of a ``conan deploy`` command, the challenge here is that locally, the binaries of the current package could be in a completely different location, there is no guarantee they

[2022-11-07 18:35] stas-neverov commented on #12482
@memsharded, thanks for the quick response!

[2022-11-07 18:35] #12482 closed, assigned to memsharded

[2022-11-07 19:08] paulocoutinhox opened #12485 "[feature] Put settings_target from XCRun public"
Hi,

Can the property settings_target be public inside class XCRun?

Here:
https://github.com/conan-io/conan/blob/develop/conan/tools/apple/apple.py#L89-L95

Like the line `self.sdk = sdk`, we can do `self.settings = settings`?

It let us get the correct settings data when use class XCRun.

Thanks.

[2022-11-07 19:23] IceflowRE commented on #12255
What?
This settings compiler version check are so messy, it is always breaking the CIs. Always. I do not want to update the version manually everytime a new compiler version is out.
I need an option to skip those checks on my own risk or conan updates asap.

But looking at Conan 2.0, it does not seem to be viable to implement it tho. Is there already an release date range?

[2022-11-07 21:58] memsharded commented on #12255
Hi @IceflowRE

It is not necessary to update the version manually in every Conan instance, it should be updated (while Conan does not update it) in one settings.yml file and use it everywhere with ``conan config install``. Using your own profiles and distributing them with ``conan config install`` is the recommended way for production anyway. Using a new compiler version typically includes install

[2022-11-07 22:05] memsharded commented on #12485
Hi @paulocoutinhox

We thought that adding the new ``use_settings_target`` was enough to handle the different cases, why would you need to pass different settings values? The needed one are either the "build" or "host" settings, and in the case of a cross-toolchain ``tool_requires``, the final "host" ones, which are the ``settings_target`` in that context.

[2022-11-07 22:38] paulocoutinhox commented on #12485
Don't need change nothing, just make it public.

Because today we can't get any settings data from XCRun class, because the settings are private/internal.

Or i can get the settings defined inside XCRun from any place?

[2022-11-07 23:25] memsharded commented on #12485
Not sure what you mean, the ``self.settings`` are public, also ``self.settings_build`` and ``self.settings_target``. You can read it from the recipe itself, no need to read it from inside the XCRun?

The ``.sdk`` is probably a bit legacy, I am not sure why it is also public, if it is already available in ``settings`` too.

[2022-11-07 23:42] memsharded commented on #11127
Hi @MarcelRaad @NoWiseMan

Quick question: What is the purpose of running a ``conan inspect`` over a ``conanfile.txt``? I guess it is a typo and it meant ``conanfile.py``?

Also a quick note: Since Conan 2.0 has been in alpha, the Conan v2 mode has been no longer maintained, so the set of validations and checks that it implements would be small compared to everything that Conan 2.0 alphas and beta

[2022-11-08 00:50] paulocoutinhox commented on #12485
Im talking about specifically XCRun class only:

[code]

To we don't need repeat the logic to get correct settings, we can set a property called `settings` with the `final settings` data, in the same way that we have `sdk`.

Instead of we need repeat the same logic, we can only do things like:

[code]

See one example:
https://github.com/nativium/nativium/blob/main/conan/darwin-toolchain/conanfile

[2022-11-08 00:57] memsharded commented on #12485
Oh, yes, now I think I understand what you mean. I think it is fine, assigning it for next 1.55

[2022-11-08 01:17] paulocoutinhox commented on #12485
https://github.com/conan-io/conan/pull/12486

[2022-11-08 01:21] puetzk commented on #12462
yeah, I agree with runenv being given priority over (i.e. applied after) buildenv if both are used. Better to give the test executables the libs we meant to be testing, and hope ctest can work with that, rather than vice-versa.

If you want to eliminate the buildenv from cmake.test(), that would seem (at least to me) to suggest having the helper run `ctest` instead of  `cmake --build --target test

[2022-11-08 01:29] puetzk commented on #12478
You're in luck, but it's very new - part of the CMake 3.24 [dependency provider](https://cmake.org/cmake/help/latest/command/cmake_language.html#dependency-providers) machinery: see [CMAKE_FIND_PACKAGE_REDIRECTS_DIR](https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_PACKAGE_REDIRECTS_DIR.html), introduced for exactly this purpose.

[2022-11-08 01:34] puetzk commented on #12478
Not quite - it actually never searches "in the SYSROOT" per se. Rather, it takes every path it *would* have searched, in the order it would have searched them, prefixing each with the sysroot (and, if not found there, with other entries in CMAKE_FIND_ROOT_PATH). CMAKE_PREFIX_PATH isn't first, but it is pretty early (only PackageName_ROOT cache keys or environment variables are earlier).

So one wo

[2022-11-08 03:21] paulharris opened #12487 "[bug] conan 1.54.0 incorrectly reports wrong requires"
I'll try and explain, and then we can narrow down the test case if required.

I have a (draft) recipe in the works for VTK, it requires `proj/9.0.1` and `sqlite3/3.38.5`
Note that VTK's recipe requires an older sqlite3

I have a recipe up for review for proj, it requires `sqlite3/3.39.4`
Note that proj requires the most recent sqlite3.

I am using the latest CCI recipe for QT it requires `sqlite3/

[2022-11-08 04:15] paulharris commented on #12310
Another example is if I need to hack on QT (eg bugfixes, new features, etc),
I would have my primary app that uses QT, and I'd want to put the QT library into editable mode, hack and compile QT.
Then I'd want to build my primary app and it would use the editable QT.

QT has this QT_PLUGIN_PATH which is key to executing QT programs.
It points to a folder in the package folder.

I have no idea where

[2022-11-08 04:56] paulharris opened #12488 "[question] How to prevent cmake from checking /usr/lib/x86_64-linux-gnu/cmake ?"
I can't build the OpenAL package on my system because it finds
`/usr/lib/x86_64-linux-gnu/cmake/PulseAudio/PulseAudioConfigVersion.cmake`
and then things fall apart due to cmake variables etc.

It shouldn't find that cmake file in the first place ... it was not asked to build with Pulse...

[2022-11-08 05:00] paulharris commented on #12488
If I move that cmake folder out of the way to hide those files,
it still finds Pulse in /usr/lib, and OSS in `/usr/include/x86_64-linux-gnu`.

So it does build, but it sneakily links in extra stuff I didn't expect.

[2022-11-08 06:39] MarcelRaad commented on #11127
@memsharded Yes, for me it's the recipe path with the conanfile.py.

[2022-11-08 08:12] himansu2906 commented on #12481
Hi @memsharded

do you have example for me where we can add settings as a compiler flags in recipe file? that would help us find better approach.

[2022-11-08 08:24] memsharded commented on #12481
Yes, in the section: https://docs.conan.io/en/latest/extending/custom_settings.html#adding-new-settings

You can see, for settings:
[code]

Something very similar would be done for a subsetting

[2022-11-08 08:30] memsharded commented on #11127
@MarcelRaad I see, managed to reproduce it.
As CONAN_V2_MODE is no longer maintained, I'd like to avoid trying to fix it (too many things with higher priorities), I'd recommend:

- Start trying things with 2.0-beta
- As a workaround, declare ``default_options = {}`` in recipes to avoid it

[2022-11-08 08:41] memsharded commented on #12462
I agree

So, these are the alternatives, to discuss with the team:
- ``cmake.test()`` adds both ``virtualbuildenv`` and ``virtualrunenv``, with the later higher priority
- ``cmake.test()`` uses only ``virtualrunenv``, using internally ``ctest`` instead of ``cmake``
- Maybe we could consider explicitly ``cmake.ctest()`` as a explicit opt-in into this later behavior, while keeping ``cmake.test()`` w

[2022-11-08 09:13] memsharded commented on #12467
Hi @mirkobraic

I would like to understand a bit better what is the setup. I haven't used or known how to cross compile from Windows to Linux using CLang compiler. Can you please elaborate a bit about your setup? How do you install such compiler? How do you cross-build with that compiler with just CMake (not Conan involved) a simple "hello world" project?

[2022-11-08 09:24] MarcelRaad commented on #11127
OK, thanks @memsharded ! It's not only for CI, but also for my developer machine, where I want to avoid multiple Conan versions and want to enable `CONAN_V2_MODE` globally to catch issues already while developing. But the workaround will do for that.

[2022-11-08 09:30] memsharded commented on #11127
Yes, that is the thing, I don't think that CONAN_V2_MODE will capture more than 20% of the 2.0 changes, so at some point installing 2.0 (in a python virtualenv, recommended) will be the only way.

If the workaround is enough atm, then I will close this issue as "not planned", but feel free to re-open if necessary. Thanks!

[2022-11-08 09:30] #11127 closed, assigned to nobody

[2022-11-08 10:10] thbeu commented on #3587
Are there any nears plans to provide some conan cache cleanup options at all? Thank you.

[code]

[2022-11-08 10:45] SpaceIm commented on #12488
duplicate of https://github.com/conan-io/conan-center-index/issues/13772

It's a side effect of `CMAKE_FIND_PACKAGE_PREFER_CONFIG ON` in `conan_toolchain.cmake`. See https://github.com/conan-io/conan/issues/10387

`openal` recipe should be fixed to enforce `find_package(PulseAudio REQUIRED MODULE)` in upstream CMakeLists.txt. But actually `pulseaudio` is not even in requires of `openal` recipe, so

[2022-11-08 10:46] memsharded commented on #3587
Yes, Conan 2.0 has provided some infrastructure for storing the LRU date of packages, and that will be used for implementing such behavior. It is planned as a 2.X feature, that means, after stabilizing 2.0, will be in the backlog.

[2022-11-08 11:18] #11930 closed, assigned to jcar87

[2022-11-08 12:28] czoido commented on #12483
Closed by: https://github.com/conan-io/conan/pull/12484

[2022-11-08 12:28] #12483 closed, assigned to nobody

[2022-11-08 12:32] czoido commented on #12371
Thanks for reporting.
Closed by: https://github.com/conan-io/conan/pull/12475 to be released in beta5

[2022-11-08 12:32] #12371 closed, assigned to memsharded

[2022-11-08 12:32] memsharded commented on #12370
This has been solved by https://github.com/conan-io/conan/pull/12484, because ``app_compat`` has been removed.

I will check what from https://github.com/conan-io/conan/pull/12379 could make sense to keep

[2022-11-08 12:32] #12370 closed, assigned to memsharded

[2022-11-08 12:41] memsharded commented on #12435
Yes, those cases can be managed in 2.0, using the adequate ``traits``, like ``run=True`` trait, as shown in the example test above, this is exactly the reason for this trait, to model runtime dependencies. My comments above were about the cases where an "inversion" happens, and a library is calling an executable as a  subprocess.

As this is supported already in 2.0, at the moment it is not necess

[2022-11-08 12:41] #12435 closed, assigned to memsharded

[2022-11-08 12:59] memsharded commented on #12487
Hi @paulharris

This was very confusing to debug!

Yes, I totally agree on that. There is an implementation issue, and it is that Conan doesn't have the information internally to know the exact culprits of the conflict, and it is quite challenging to distribute it, because it needs re-exploring the dependency graph, and it was quite a large effort for this.

We have tried to improve over this in 2

[2022-11-08 13:07] SpaceIm commented on #12435
So for a recipeA with recipeB as runtime requirement it would be:

[code]

and during build or recipeA, conan v2 won't add cpp_info of recipeB in cflags, ldflags of build helpers? I want to be sure that a shared lib recipeB won't be part of loadable shared libs of any shared lib or executable of recipeA.

[2022-11-08 14:24] jjcasmar opened #12489 "[question] Export dependencies into a sysroot"
I have a project which I compile and run in docker and uses several dependencies, which I managed by conan. Some of this dependencies are external libraries, but other are libraries developed internally, in my company. This dependencies are installed into the $HOME/.conan inside the container (which actually is a volume mapped to somewhere in my host). So far so great

However, I have tried to run

[2022-11-08 14:35] memsharded commented on #12435
Yes, that is the idea

[2022-11-08 14:38] paulharris commented on #12488
Wow yes this cmake/recipe needs a bit more work.
I had a quick go here: https://github.com/conan-io/conan-center-index/commit/c9646a2ac909f29b7c538d535da14cb4444a9ab4
but I don't need OpenAL so I don't have the commitment to follow through on this PR.

At least with the patch, it builds with the system cmake files in place,
but it will still find the system pulseaudio and other things.

I'd rather

[2022-11-08 14:51] czoido commented on #12470
Hi @System-Arch,
Thanks a lot for the suggestion, I think this makes sense, we will add the feature for the next release.

[2022-11-08 15:16] fschoenm opened #12490 "[question] When cross-compiling with tool_requires, how to correctly fill settings"
I'm trying to make sense of the conan documentation about how to use a cross compiler (with `tool_requires`) wrapped in a conan package, however I think I'm missing some parts of the picture.

One piece of the puzzle is how to get the settings of the package that is cross compiled. This information should be available from the cross-compiler package itself because it knows for which os/platform/ar

[2022-11-08 15:24] franramirez688 commented on #12477
Hi @joastoe

Sorry for the delay. Yes, you're right that it's a bug.
I just reproduced it locally, getting this error message:

[code]
I don't know if it'll be as simple as putting internally `"."` by default. I have to figure out a couple of things more.
I'll try to make a pull request to solve this issue in the next Conan 1.55 release.
Thanks for reporting it! 😄

[2022-11-08 15:32] xakod opened #12492 "[question] How to apply patch to dependency from conanfile"
How to apply patch to dependency of current package?
For example, I wanna have one conanfile.py for my project. Conanfile should apply patches to dependencies. How it can be?
I couldn't find something related here https://docs.conan.io/en/1.52/reference/conanfile/tools/files/patches.html#conan-tools-files-patch
Thanx
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/d

[2022-11-08 15:53] memsharded commented on #12310
But @paulharris this is the key:

If you already need to run an extra ``package`` command, why would you need the ``editable`` feature at all? You could do a ``conan export-pkg``, and it will be a regular Conan package in the cache, no editable, and everything will work smoothly. Any potential benefit of build systems using directly the product of the build of the editable are completely lost with

[2022-11-08 15:54] #12470 closed, assigned to czoido

[2022-11-08 15:57] memsharded commented on #12489
Hi @jjcasmar

Yes, there are several ways to extract things out from Conan packages and copy the libraries/artifacts to other locations:

- You can use either ``imports()`` or ``deploy()`` in Conan 1.X to describe the ``copy()`` of artifacts, to a local user folder or to an absolute one
- In a bit more modern approach, the ``generate()`` method with the ``copy()`` helper can implement what ``impor

[2022-11-08 15:58] memsharded commented on #12489
Hi @jjcasmar

Yes, there are several ways to extract things out from Conan packages and copy the libraries/artifacts to other locations:

- You can use either ``imports()`` or ``deploy()`` in Conan 1.X to describe the ``copy()`` of artifacts, to a local user folder or to an absolute one
- In a bit more modern approach, the ``generate()`` method with the ``copy()`` helper can implement what ``impor

[2022-11-08 16:34] paulharris commented on #12310
Good point, I guess I can't say for certain without trying the feature in its full v2 glory,

\So for my example, how would the consumer be able to find the QT_PLUGINS_PATH and its generated dlls, when the package is in editable mode?  ie without the packaging step?

[2022-11-08 16:42] jcar87 commented on #2729
Just doing a quick comparison of how this is handled by other package managers;

### Debian:
[code]
The `mtime` matches the last time the file contents were modified, while `atime` and `ctime` match the time the package was installed.

### pip

[code]

Timestamps in all cases seem to match the package installation time, and not when the file contents were last modified.

### Homebrew
[code]

With

[2022-11-08 16:47] memsharded commented on #2729
Thanks for the thorough analysis @jcar87 !

Then, it would seem that we should be relatively safe with https://github.com/conan-io/conan/pull/12378, which does exactly that, package things with their original times, but usual decompression in a new machine give creation+access time to the current one, while modified time is preserved the original one.

[2022-11-08 16:54] jcar87 commented on #2729
As a side note, my understanding is that the timestamp we should preserve is `mtime`, correct?

The original issue by @progician mentions an issue when the Conan cache is wipe (and restore), the tiemstamps change in a way that cause files to be rebuilt - I'm assuming that this causes rebuilds of a project that is external to the Conan cache and is already configured and already has some compiled t

[2022-11-08 18:33] crsib commented on #11243
I understand that this is a low priority task, however there are steps to reproduce it using CCI recipe:
[code]
[Recipe](https://github.com/conan-io/conan-center-index/blob/master/recipes/gnu-config/all/conandata.yml) downloads a file of 77,533 bytes using `conan.tools.files.get()`. There is no such file in the `download_cache` however.

[2022-11-08 18:41] System-Arch opened #12494 "[feature] AutotoolsToolchain should support install_args analogous to make_args for consistency."
Hi @czoido, Hi @memsharded

Thank you for quickly addressing the primary issue in #12470.  This feature request captures the second suggestion proffered there:

If one tries to specify -j1 via autotools.install(args=["-j1"]), they suffer two consequences:

1. The -j1 has no effect because the resulting make invocation has both -j1 and -jN and the latter wins.
2.  The default DESTDIR value is lost

[2022-11-08 18:47] System-Arch commented on #12494
Here's how this is currently documented:

and I am suggesting that it read:

[2022-11-08 20:13] crsib commented on #11243
Looking through the code, it appears that the "new" `download()` uses `tools.files.download:download_cache` instead of `conan config set storage.download_cache="$(pwd)/download_cache"`. It seems that `tools.files.download:download_cache` is undocumented, but it is used in [unit test](https://github.com/conan-io/conan/blob/a0b2ab745497f6dd313a8b973f6ce72a1ee657a9/conans/test/integration/cache/downl

[2022-11-08 20:24] memsharded commented on #12485
Closed by https://github.com/conan-io/conan/pull/12486

[2022-11-08 20:24] #12485 closed, assigned to nobody

[2022-11-08 22:33] prince-chrismc commented on #12322
https://github.com/conan-io/conan-center-index/pull/13799

[2022-11-09 00:49] SpaceIm commented on #12192
I don't understand why https://github.com/conan-io/conan/pull/12178 fixes this issues. Does it allow to define a buildenv var in `package_info()` of recipe A with a `unix_path()`, so that if recipe B has `win_bash = True` AND recipeA in `tool_requires`, this env var is propagated in VirtualBuildEnv with this unix path?

Basically this issue is related to problems we have with migration of recipes

[2022-11-09 02:58] paulocoutinhox opened #12495 "[bug] The C/C++ flags are not replicated to ObjC (.m) files"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos monterey
  * Compiler+version: clang
  * Conan version: 1.54
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

[code]

You can see that inside `nativium/build/ios/release/ios/arm64/conan/conanbuildinfo.txt` you will have:

[code]

The `C/CPP/CXX` flags are passed to `.cpp` and `

[2022-11-09 02:59] paulocoutinhox commented on #12495
@memsharded can you help understand it pls?

[2022-11-09 03:06] paulocoutinhox commented on #12495
I made a standalone project here:
https://github.com/paulocoutinhox/conan-cmake-v2

Steps:

[code]

In the compilation log you will see the `.cpp` file with `bitcode` flags and the `.m` file without it.

CPP FILE:

[code]

M FILE:

[code]

It is very strange.

[2022-11-09 03:15] paulocoutinhox commented on #12495
The file `conan_toolchain.cmake` don't have any of these flags.

[conanbuildinfo.txt](https://github.com/conan-io/conan/files/9967032/conanbuildinfo.txt)
[conan_toolchain.cmake.txt](https://github.com/conan-io/conan/files/9967035/conan_toolchain.cmake.txt)

[2022-11-09 07:18] joastoe commented on #12477
Hi @franramirez688
No problem, I'm happy to help.
Let me know if I can test anything related.

[2022-11-09 07:38] db4 commented on #2729
As for me, preserving just `mtime` is quite enough. Is there any chance to have it in 1.x as well?

[2022-11-09 08:42] EstebanDugueperoux2 opened #12496 "[question] cmake/graphviz to have target dependencies graph"
Hi conan community,

I try to analyse cmake targets dependencies on an existing project using cmake (https://cmake.org/cmake/help/latest/module/CMakeGraphVizOptions.html) and freshly integrated with conan.
I would like to pass "--graphviz=" parameter to cmake invocation from cmake.configure() but https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake.html#configure doesn't provides

[2022-11-09 09:49] ghost commented on #12429
Ping? Can anyone comment on this?

[2022-11-09 10:37] memsharded commented on #2729
I am afraid it will not be possible, we are already in the last sprint for 2.0, and this is not an obvious change to do even if using  a configurable opt-in, seems too much.

[2022-11-09 11:05] dvirtz opened #12497 "[bug] can't pass a list to `self.run` when using `VCVars` generator"
Conan converts the list to a string and appends that to the vcvars script, which keeps the square brackets and commas in the command causing it to fail.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Conan version: 1.53.0
  * Python version: 3.10.5

### Steps to reproduce (Include if Applicable)
call `conan create` with the following reci

[2022-11-09 11:09] memsharded commented on #12192
This is not a ``unix_path()`` problem, it is a general issue with paths from packages to consumers, because when the ``package_info()`` of the package A executes, it is completely unaware and agnostic of what the consumer package B has. It doesn't matter if recipe B has ``win_bash=True``, that cannot be used in any form in A, it is impossible (plus it might have more than one consumer, some with `

[2022-11-09 11:10] sykhro opened #12498 "non-interactive `conan remove "*"` not working"
### Environment Details
  * Operating System+version: Microsoft Windows 11 Pro 10.0.22000 N/A Build 22000
  * Conan version: Conan version 1.53.0
  * Python version: 3.9.13

### Steps to reproduce
1. Run `conan remove "*" -s -b -f`
2. Observe that nothing happens
3. Run `conan remove <name_of_a_package> -s -b"
4. Prompt for removal is displayed, all packages are still there

### Logs (Executed com

[2022-11-09 11:12] memsharded opened #12499 "Define abstract env-vars in package_info() for editable and unix_path"
Comes from https://github.com/conan-io/conan/issues/12192#issuecomment-1308589581_

Some packages want to define env-vars with paths, and they often use ``self.package_folder`` for it, so this is broken for ``editable`` packages, for example, in which ``package_folder=None``. It also doesn't work for other abstractions over paths as ``unix_paths``, which depend on the consumer, not the package cre

[2022-11-09 11:15] memsharded commented on #12498
Hi @sykhro

Not sure if I get the issue. The ``-s`` and ``-b`` arguments are used to request removing only the ``source`` folder and the ``build`` folder, which are temporary folders to build from source. But it doesn't remove the packages at all. If you want to remove the packages you need to not specify neither of those arguments. Is this the question?

[2022-11-09 11:21] sykhro commented on #12498
I might have misunderstood the `--help` as it seemed like that would remove only binaries. Does `remove` without flags also implicitly delete source and build folders?
[code]

[2022-11-09 11:24] memsharded commented on #12497
Hi @dvirtz

It seems this would be a possibly not enough documented issue with ``self.run()`` moving forward. With the new generators, and also for Conan 2.0, the first ``cmd`` argument to ``self.run(cmd)`` should always be a string, not a list. The necessary syntax would be:

[code]

Please try that, and I will move this issue to the "docs" repo to clarify things there, specially in the migration

[2022-11-09 11:25] memsharded commented on #12498
Yes, ``conan remove "*" -f`` or ``conan remove <pkg> -f`` will remove also the build and source folders, together with the package itself.

[2022-11-09 11:29] sykhro commented on #12498
I see, imo it might be worth stressing that `-s` removes *only* the source folders in the help label (same goes for `-b`). Thanks for the quick reply

[2022-11-09 11:29] #12498 closed, assigned to memsharded

[2022-11-09 13:24] dvirtz commented on #12497
That's working, thanks @memsharded.

[2022-11-09 13:54] himansu2906 commented on #12481
Hello @memsharded

Thank

As shown below, we are executing custom commands to create the library. (we are not running )

![image](https://user-images.githubusercontent.com/109611178/200839430-d9e6f3a5-c8a1-4e40-96ae-d63f36b011f3.png)

but we want to pass Flags, definition of profile to custom build command, how can we pass these flags, definition to custom build function?

[2022-11-09 14:17] db4 opened #12500 "[bug] cmake generator ignores private requirements if build profile is set"
### Environment Details (include every applicable attribute)
  * Conan version: 1.54.0

Consider the following test recipe:
[code]
Let's try to generate `conanbuildinfo.cmake` from it:
[code]
The resulting `conanbuildinfo.cmake` contains something like
[code]
OK, good. Now explicitly set build profile:
[code]
and look into `conanbuildinfo.cmake`. No ZLIB settings! Why?

[2022-11-09 16:33] paulocoutinhox commented on #12495
@SpaceIm can you help me fix this?

[2022-11-09 17:07] a4z commented on #12236
I just rebuilt mongo-c-driver and still got `@pkgconf` in the final BUILD file
Seems the complexity of this issue is not that low ...

Huge thanks for keeping up on the issue!  ❤️ Looking forward to 1.55. release!

[2022-11-09 17:22] SpaceIm commented on #12437
Looks like the same bug as https://github.com/conan-io/conan/issues/12375 & https://github.com/conan-io/conan-center-index/issues/13704, and likely a conan client issue, not a recipe issue (https://github.com/conan-io/conan/issues/12375#issuecomment-1288171548).

So basically the problem is that `CMakeDeps` & `PkgConfigDeps` don't generate files related to `requires` during build of a recipe when

[2022-11-09 18:19] joshvazquez-amzn opened #12501 "[question] Documentation suggests settings_target is set to None with no build profile but the attribute does not exist"
From: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer

Writing a recipe which accesses `self.settings_target` in `configure()` causes an AttributeError if a build profile is not specified. I expected it to equal `None` instead of being unset. Although the text says it should be `None`, the example code below it uses `getattr()` to retrieve `self.set

[2022-11-09 18:20] SpaceIm commented on #12494
Possible duplicate of https://github.com/conan-io/conan/issues/12296

[2022-11-10 00:51] SpaceIm commented on #12490
You may want to take a look at `android-ndk` recipe and how `self.settings_target` is used: https://github.com/conan-io/conan-center-index/blob/master/recipes/android-ndk/all/conanfile.py

When a recipeA is used as a tool_requires of a recipeB, `self.settings_target` is equal to the target (called host in conan) settings of recipeB, so it's the information you want to rely on in recipeA if it's a

[2022-11-10 07:31] hwhsu1231 commented on #12339
@memsharded

I want to close this issue. But before doing so, I need to figure out what settings or contents (at least) I should specify for **Build Profiles** when doing **Native Building** with **MSVC** compilers. So that I can summarize this issue.

[2022-11-10 09:15] memsharded commented on #12501
Hi @joshvazquez-amzn

Yes, you are right, there is an inconsistency in that part of the docs. I think it was probably written with the Conan 2.0 behavior in mind, in which ``settings_target`` will be defined always (but can be None), but in 1.X it is only conditionally defined.

I am moving this to the docs repo to clarify it there. Please use ``getattr()`` access while in 1.X, once moved to 2.0 i

[2022-11-10 09:53] franramirez688 commented on #12495
Hi @paulocoutinhox

Related to this issue, I saw that you're using that `darwin-toolchain` as `tool_require` but have you tried to use the configuration variables?
[code]
I'm not sure if it will help to solve the issue, but it could simplify the whole structure because you won't have to require the `darwin-toolchain` anymore. Indeed, if you check it out, it'll help to improve those flags that we'r

[2022-11-10 09:56] hwhsu1231 opened #12503 "[question] Which settings does `CMAKE_HOST_SYSTEM_XXX` variables correspond to, Host or Build?"
First of all, according to my conprehension,

- `CMAKE_SYSTEM_XXX` corresponds to **Host** Settings.
- `CMAKE_HOST_SYSTEM_XXX` corresponds to **Build** Settings.

Suppose that I'm working on **Windows** platform. And I want to cross-compile an executable which can be runned on **Linux** platform.

Based on what [Conan 2.0 documentation](https://docs.conan.io/en/2.0/tutorial/consuming_packages/cros

[2022-11-10 10:04] jcar87 commented on #12503
Hi @hwhsu1231 - your comprehension is correct - the "host" variables in CMake are autodetected and should match the "build" settings from Conan.

I appreciate it is confusing. Conan uses the same terminology as GNU for build and host, while other tools refer to "the machine that is performing the build" as "host" .

[2022-11-10 10:34] FranzPoize commented on #11322
Is it okay if I close this because we switched to the new gen generator for all our editables and we don't have this issue anymore.

I want to say that we still love the workspace feature, please don't kill it :D

[2022-11-10 11:08] Linux13524 opened #12504 "[question] `transitive_headers` not working as expected"
I have the following situation:
- I have a library `base` that depends on a library `audio` which depends on the `dr_wav` library.
- The `base` library includes the `audio.hpp` from the `audio` library which again includes the `dr_wav.h` header.

So there is a transitive header dependency to `dr_wav` from `base` and also from the `test_package` of the `audio` library.

[code]

This works and build

[2022-11-10 11:09] uilianries commented on #12322
@theirix It can be requested directly on https//github.com/conan-io/conan/issues a big part of tooling was ported because people asked. Those which are no popular or can be embedded, will be removed/hidden/embedded (less code to be documented and maintained).

[2022-11-10 11:24] memsharded commented on #12504
Hi @Linux13524

Quick question, which exact version of Conan are you using?

[2022-11-10 11:37] Linux13524 commented on #12504
Oh, sorry, I forgot to add. It is the newest v2: **2.0.0-beta4**

[2022-11-10 11:50] czoido commented on #12408
Closed by https://github.com/conan-io/conan/pull/12413 will be released in next beta: 2.0-beta5
Thanks a lot for reporting @phbasler

[2022-11-10 11:50] #12408 closed, assigned to memsharded

[2022-11-10 11:55] phbasler commented on #12408
@czoido Thanks! Will this also be in one of the 1.x releases or only a 2.x feature?

[2022-11-10 12:06] czoido commented on #12408
Hi @phbasler,
I'm afraid that this will not be available in Conan 1.X as it also relies on the _package_type_ information that is only available in 2.0

[2022-11-10 12:16] czoido commented on #12494
Hi @System-Arch , @SpaceIm

I have opened https://github.com/conan-io/conan/pull/12505 to address this issue

[2022-11-10 12:20] czoido commented on #12494
This is documenting that these variables are passed from the `AutotoolsToolchain` to the `Autotools` build helper, but `install_args` can't be modified in `AutotoolsToolchain` so it's not included in that file and that's why there are only three keys in the file.

[2022-11-10 13:21] memsharded commented on #12504
I am doing a "core graph" test, and apparently the "header" trait is ok:
[code]

Is there any other characteristic that could be affecting? Like some being static/shared libraries? Package-types?

[2022-11-10 13:44] pwueje commented on #10916
Is there any news to this issue?

We face the same issue that prevents us from using lock files. I've created a sample example that illustrates the error: https://github.com/koenig-bauer-coding/Conan-Lock-File-Error

If this bug isn't going to be resolved within conan 1.x a quick info would be nice, so we could try to find a workaround for us.

[2022-11-10 14:29] paulocoutinhox commented on #12495
Hi @franramirez688,

I already tried it, but it don't work with all dependencies.

I open an issue in the past to talk about this:
https://github.com/conan-io/conan/issues/12197

Because this o created mine that work with all dependencies.

[2022-11-10 14:54] Linux13524 commented on #12504
I just created an minimal example here: https://github.com/Linux13524/conan-transitive-headers

It implements the setup I described above with the same names. You can reproduce the problem with this:

[code]

It gives the following error for me:

[code]

[2022-11-10 15:05] SpaceIm commented on #12197
One question: Was is it a good idea to provide this conf? I mean it could have been something left to users profiles through `tools.build.cflags`.
Specifically `tools.apple:enable_visibility` is non-sense since it's absolutely not specific to apple. Moreover it's usually forced in shared libs, and when it's not forced it means that lib doesn't support visibility hidden in shared lib.
So because pr

[2022-11-10 16:21] fschoenm commented on #12490
Thanks @SpaceIm, that seems to be the information I was missing.

[2022-11-10 16:21] #12490 closed, assigned to nobody

[2022-11-10 16:29] czoido commented on #12500
Hi @db4,

Thanks for the question. That's probably happening because you are marking your requirement as private and when using the two profiles approach it's correctly not generating that info because of that. A couple of comments:
- Please check the docs about [setting the requires as private](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#requires) because the use is discou

[2022-11-10 17:11] czoido commented on #12496
Hi @EstebanDugueperoux2,

Thanks a lot for the suggestion, I'm adding this to the 1.55 to consider adding an argument to the CMake build helper via the configure method.

[2022-11-10 17:24] System-Arch commented on #12494
Hi @czoido,

Yes, I was using the doc as a way of suggesting the addition of an extra key for install_args, however, your alternative of allowing -j1 to be passed in via args addresses my original use case and, in fact, aligns with what I originally tried/expected as a solution. It was only when my args -j1 value was ignored that I dug into the implementation of autotools.install() and autotools.m

[2022-11-10 19:29] db4 commented on #12500
Hi @czoido. Thanks for the answer. Yes, this happens only for private requirements and yes, I need some requirements to be private. If something doesn't work properly under some specific conditions (while it's supposed to) isn't it called a bug? I hit this in my old 1.x recipes that use `cmake` generator and `self.user_info` and immediate switch to CMakeDeps and Conan 2.0 unfortunately is not an o

[2022-11-10 20:47] hgraeber commented on #12325
A workaround is to run `cmake` with an explicit architecture:

    cmake --preset windows-x86_64 -A x64

[2022-11-11 01:20] memsharded commented on #12504
Thanks very  much for the details and the reproducible case! :)

That really helped to investigate and debug the issue. Indeed there was one bug that appears in multi-level transitive dependencies (at least 4 levels, with 3 (the majority of our testing) was not enough). I have proposed a fix and a bunch of new testing in https://github.com/conan-io/conan/pull/12508, hopefully for next beta.5

[2022-11-11 05:21] hwhsu1231 commented on #12503
@jcar87

Thanks for your replies. BTW, there is another question confusing me (https://github.com/conan-io/conan/issues/12339). That is, what settings or contents (**at least**) I should specify for **Build** Profiles when doing **Native Building** with **MSVC** compilers.

[2022-11-11 07:35] Linux13524 commented on #12504
Cool! Thanks for solving it so quickly! :)

[2022-11-11 08:51] lijie-jiang opened #12510 "[question] conan reports option 'no_main' doesn't exist when issue import"
My script to first install requirements and then import packages. But it throw an error and exit when import.
[code]
Below is my instructions:
[code]
Below is part of my conan_import.py file:
[code]
And my conanfile.py file:
[code]
Thanks for any reply. Conan version is below:
`Conan version 1.53.0`
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CON

[2022-11-11 09:10] czoido commented on #12504
Thanks for reporting @Linux13524, the fix: https://github.com/conan-io/conan/pull/12508 was merged and will be in next beta to be released soon.

[2022-11-11 09:10] #12504 closed, assigned to memsharded

[2022-11-11 09:41] #12496 closed, assigned to nobody

[2022-11-11 09:42] czoido commented on #12496
New argument `cli_args` in `configure` method will be available in Conan 1.55. Thanks a lot for the feedback @EstebanDugueperoux2

[2022-11-11 09:53] franramirez688 commented on #12499
This issue is related to https://github.com/conan-io/conan/issues/12477

[2022-11-11 10:52] memsharded commented on #2729
Closed by https://github.com/conan-io/conan/pull/12378 for next beta.5

[2022-11-11 10:52] #2729 closed

[2022-11-11 12:14] memsharded opened #12511 "[bug] Lockfiles with alias are not implemented/supported"
https://github.com/conan-io/conan/pull/12502/commits/7a5cb2e3b54715f6619175f075ad828b711d67a2 unveiled that lockfiles and alias are not correctly supported, there is not a single test that checks lockfiles + alias

[2022-11-11 13:14] klausholstjacobsen opened #12512 "Does tool packages cpp_info propagate into package build helpers"
Conan 1.54
OS: Linux

I have a tool package with defines like this:
[code]

I have a consumer package that include the tool package and another package like this:
[code]

Then I have MyPackage built on behalf of the consumer package:
[code]
I would expect `MYDEFINEx` to be add as preprocessor defines in MyPackage CMake environment when building, but it does not seem to be.

Should it be, and is it

[2022-11-11 14:17] memsharded commented on #12512
Hi @klausholstjacobsen

I am afraid it doesn't work that way. ``tool_requires`` do not provide ``cpp_info``, because that is dedicated mostly to libraries, with ``includedirs``, ``libdirs``, etc. The information from ``cpp_info`` ends for example in ``xxx-config.cmake`` files generated by ``CMakeDeps``.

But ``tool_requires`` is oriented to use tools and executables in the "build" context, so it c

[2022-11-11 14:29] klausholstjacobsen commented on #12512
If there only were official env variables that would make cmake use it like CC, CXX or LD.
So what you're saying is that this cpp_info would also not work with the autotools helper? Damn, I was under the impression that it worked there.

regarding the custon toolchain approach there are challenges. I real life I wish to cross build protobuf/3.21.1 from conan center with the cross compiler provided

[2022-11-11 17:45] klausholstjacobsen commented on #12512
The solution was as simple as can be:
In the toolchain package recipe: `self.env_info.CXXFLAGS = "... -DMyDefine1 -DMyDefine2"`

Works like a charm!

I must admit I find it very difficult to understand the conan cmake intergration.
Just to name a few of my confusions:
What are cmake helper and generators and in which situations are they to be used. How do the various helpers and generator interact

[2022-11-11 17:45] #12512 closed, assigned to memsharded

[2022-11-11 18:34] memsharded commented on #12188
I am proposing part of the effort here in https://github.com/conan-io/conan/pull/12516. It implements just the toolchain, not the dependencies management, that will go to another generator. Please review, and testing and feedback is very welcome!

[2022-11-11 19:20] memsharded commented on #12479
Did some history investigation, this ``-s`` seems was not enough justified to be introduced in the first place.

https://github.com/conan-io/conan/pull/12518 removes this, but only for the "modern" integrations, legacy ones are left as-is, better not touch them.

[2022-11-11 19:21] memsharded commented on #12192
The modern ``VirtualBuildEnv`` and ``VirtualRunEnv`` already have an internal ``unix_path()``. It shouldn't be necessary to define the ``unix_path`` in the dependency ``package_info()`` at all, just defining it as a normal path ``self.buildenv_info.define_path()`` should work.

[2022-11-11 19:31] stevn opened #12519 "[bug] Semantic versioning with tilde sign fails"
I have a dependency tree which I want to realise using semantic versioning:

    semver_a/1.0.0 -> semver_b/1.0.0 -> semver_super/1.0.0
    semver_a/1.1.0 --------------------------^

But when I specify dependencies in the requirements() function using version ranges like [~1.0.0] instead of [>=1.0.0 <2], I get an error.

### Environment Details (include every applicable attribute)
  * Operating S

[2022-11-11 19:34] SpaceIm commented on #12192
How do they know they should call unix_path? If win_bash is True when they are called? If we want to set win_bash conditionnally in a recipe, in which method we have to ensure win_bash True so that these generators work as intended?

[2022-11-11 19:39] paulocoutinhox commented on #12495
Before these changes for conan v2, the new cmake integration etc, we use the old cmake integration:

[code]

And it works without problems. The problems start when migrate to the new v2 system.

If i do in CMakeLists.txt the following code:

[code]

It shows:

[code]

Exactly what is inside `conanbuildinfo.txt` plus conan toolchain file (conan_toolchain.cmake):

[code]

[code]

But the same thing

[2022-11-11 19:50] memsharded commented on #12192
Because they define ``win_bash``, yes. It is the consumer that runs in the windows bash, and it is the one that should convert paths to the right format. ``win_bash`` only affects in Windows, so as long as the package builds in Windows always in the subsystem bash, then no need to make it conditionally. I think this is the majority of cases, I have not seen many other cases in which the build happ

[2022-11-11 20:01] memsharded commented on #12519
Hi @stevn

Are you completely sure that when you use the ``[>=1.0.0 <2]`` the error goes away? Could you please double check?

The thing is that it doesn't seem an issue in the semver resolution, but it is a result of how Conan resolves version ranges. Let me clarify a bit how it works:

- Conan dependency resolution is "greedy", it evaluates, depth-first the dependencies as they come. Version ran

[2022-11-11 20:06] stevn commented on #12519
Yes I've double checked. Just checkout my repo and call build.py to reproduce.

It doesn't work in my "main" branch, where tilde is used.

It DOES work in my "workaround" branch, where [>=1.0.0 <2] is used.

[2022-11-11 21:07] SpaceIm commented on #12192
In practice it doesn't seem to work properly in conan 1.53.0 (the fact that buildenv vars defined as paths & coming from tool_requires are wrapped by `unix_path` in `VirtualBuildEnv` if win_bash is True in consumer recipe).

Take a look at https://github.com/conan-io/conan-center-index/pull/14110, it's `libsmacker` recipe.

This recipe builds with autotools (always) and it calls autoreconf at buil

[2022-11-11 21:18] paulocoutinhox commented on #12495
If i put on darwin toolchain this code:

[code]

It shows:

[code]

[code]

The CXX FLAGS is always duplicated.

[2022-11-11 21:28] stevn commented on #12519
@memsharded Thanks for your explanation.

I have installed Conan 2.0 (Conan version 2.0.0-beta5) via `python3 -m pip install conan --pre` and am now getting the following error for my "main" branch (where tilde is used):

    -------- Computing dependency graph --------
    Graph root
        virtual
    Requirements
        semver_a/1.1.0#04537e5835ebe3654c2ff4ce91d45796 - Cache
        semver_b/

[2022-11-11 22:16] memsharded commented on #12519
Thanks for the details. I have been able to reproduce with this unit test:

[code]

The reasons seems to be that indeed ``[~1.0.0]`` is not equivalent to ``[>=1.0.0 <2]``. To get a pattern that could match ``1.1.0``, it would be necessary to use ``[~1]``

This seems aligned with https://jubianchi.github.io/semver-check/#/~1.0.0/1.1.0, and the specification of semver. We did not implement semver ou

[2022-11-11 22:26] stevn commented on #12519
@memsharded Thanks for the update! I will read up on semver and get back to you...

[2022-11-11 23:05] stevn commented on #12519
@memsharded I've checked https://github.com/npm/node-semver and now understand. I had misunderstood the meaning of tilde semver version ranges (I basically had the meaning of caret version ranges in mind). I have updated my repo and retested this with Conan 1.54 and Conan 2.0-beta5. It now works as expected in both versions, thanks!

[2022-11-11 23:05] #12519 closed, assigned to memsharded

[2022-11-11 23:11] memsharded commented on #12519
Excellent! Thanks for the feedback!

[2022-11-12 13:35] samuel-emrys commented on #3972
Is this binary compatibility specification still a concern with the newer introduction of the [`compatibility()`](https://docs.conan.io/en/latest/reference/conanfile/methods.html#method-compatibility) method, and [compatibility.py](https://docs.conan.io/en/2.0/whatsnew.html#compatibility-py) in conan 2.0? Presumably these would allow the identification of any package with a `libc` version lower th

[2022-11-12 18:02] prince-chrismc commented on #3972
Since I am working on the Conan 2.0 what's new binary compatibility slides for meeting c++ let me try to answer my own question lol - things  have changed 😅

***

There's two problems highlighted in the thread:

- how do you model libc in settings.yml
- how do we express forward compatibility (thats generally assumed)

Currently with 1.x they needed to be answered together because the package ID n

[2022-11-12 18:05] prince-chrismc commented on #3972
This will be available by default in 2.0 :)

[2022-11-12 19:18] memsharded commented on #3972
Yes, let me comment on this:

- The default ``compatibility.py`` in 2.0 will contain a "compatibility" definition for the different cppstd values, because we have learned that in general they are massively compatible, and we have the validation of ConanCenter, that has been merging different binaries built with different cppstd, and things work fine. We have only known about some exceptional case

[2022-11-12 22:03] KingKiller100 opened #12521 "[question] Managing multiple C++ packages within the same git repository"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
---
## Version
Conan Version: 1.54.0
## Summary
I have two projects using conanfile.py to manage their dependencies. Both are editable packages. Package B is dependent on Package A. Each time I try to install Package B, (`$ conan install ...`), it fails. I checked the command's logs an

[2022-11-13 04:19] prince-chrismc opened #12522 "[question] 2.0 Deployers with a graph that has skipped packages are not passed but still listed"
I found a bug :smiling_imp: no chance you'll get any sleep :sleeping: now :slightly_smiling_face:
(it actually might not be a bug - it could be by design)

The deployers in beta 5 do not like when a dependency is marked as skipped -- you get all of them in the graph but there's no obvious way which one to ignore
The graph object contains all the references but the dependencies objects are none

[c

[2022-11-13 04:27] prince-chrismc opened #12523 "[feature] 2.0 "skip confirmation" and "overwrite/delete" in the CLI should be consistent"
Currently in 2.0 beta 5 theres are a few command flags that are still very awkward and each command has it's own special meanings. For example

[code]

[code]

***

These two are the same, the upload cmd is missing the short hand `-f` and remove has a different meaning 🙈

[code]

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md

[2022-11-13 04:33] prince-chrismc opened #12524 "[question] 2.0 trigger build for exact setting when a compatible copy exists in the cache"
1. Lets say I have a template `cmake_lib` project called math 😉
2. build it with `conan create math -s compiler.cppstd=11` This will work, compiling the project on a clean system
3. build it with `conan create math -s compiler.cppstd=14` This will *not* build -- reports it's already installed

Is it possible to circumvent this? If I want to generate multiple configurations must I upload and remove

[2022-11-13 06:24] samuel-emrys commented on #3972
This is great news.

I was under the impression that glibc provided perfect backward compatibility, but it looks like your intuition here is correct. I did a bit of research, and I found a [method of checking ABI compliance on the glibc wiki](https://sourceware.org/glibc/wiki/Testing/ABI_checker). The results are also published [here](https://abi-laboratory.pro/?view=timeline&l=glibc), which demon

[2022-11-13 13:32] memsharded commented on #3972
Thanks @samuel-emrys

That is very useful information, I think what you are proposing (perfect backward compatibility) could be a candidate to be added as default later in time. As I commented, the performance issue will take some time to fix, so that will give time for users to try their custom ``compatibility.py`` and if the feedback in practice keeps consistent, we could consider making it the

[2022-11-13 15:14] fschoenm commented on #11732
Thanks @memsharded, just some quick follow-up to this topic from a few months ago:

* I wanted to try out the deployer approach but I'm really not sure how to even write my own deployer so that Conan would find it. There doesn't seem to be any documentation and the built-in deployers are just hard coded into the install command.
* In your examples you wrote `conan install --requires=mypkgfiles/1.0

[2022-11-13 19:10] CAMOBAP opened #12526 "[bug] [graphene] Run-time dependency gobject-2.0 found: NO (tried pkgconfig and cmake)"
### Environment Details (include every applicable attribute)
* Operating System+version:
    * Ubuntu 20.04.5 LTS
    * macOS 11.7.1 20G918
* Compiler+version:
    * ```
      os=Macos
      os_build=Macos
      arch=x86_64
      arch_build=x86_64
      compiler=apple-clang
      compiler.version=13
      compiler.libcxx=libc++
      build_type=Release
[code]
* Conan version: 1.54.0
* Python versi

[2022-11-13 19:28] memsharded commented on #11732
We keep adding docs, we added recently https://docs.conan.io/en/2.0/reference/extensions.html, but the ``deployers`` still not there. The best inspiration for learning them atm might be the tests in https://github.com/conan-io/conan/blob/develop2/conans/test/functional/command/test_install_deploy.py. In short:

- You can run deployers directly from a local python script, or from one python script

[2022-11-13 19:31] memsharded commented on #12523
The shortcut for ``-f`` can definitely be added.
What do you suggest to improve the UI? ``conan remove -c``?

[2022-11-13 19:39] memsharded commented on #12522
I think this is by design:

- there are deployers that can be even applied to ``conan graph info`` where no package at all is retrieved, so no ``cpp_info`` at all, and ``package_folder=None`` for the whole graph.
- It is the responsibility of the writer to know that they are doing. If you want to deploy only packages that are not skipped, typically from the "host" context, you iterate ``self.depen

[2022-11-13 19:46] memsharded commented on #12521
Hi @KingKiller100

I suspect that there could be something in the ``package_info()`` of the ``PackageA`` that is affecting the propagation, probably something related to the ``conf``. Yes, it would be great to see your ``conanfile.py``, that could give some further ideas.

Also, just a quick suggestion for the future, regarding to package name ``PackageA``: try to use package names in lowercase on

[2022-11-13 19:48] memsharded commented on #12492
Hi @Jihadist

It is not possible to apply patches to dependencies directly from a consumer. That should be done in the recipes of the dependencies directly.

[2022-11-13 19:50] memsharded commented on #12524
Thanks for the report, this shouldn't happen, having a look, but this sounds like a bug.

[2022-11-13 19:55] MLIOSBond opened #12527 "[bug] 2.0 Can't compile `zlib` with `clang` on `Windows`"
### Environment Details (include every applicable attribute)
  * Operating System+version: `Windows 10`
  * Compiler+version:

[code]

  * Conan version: `Conan version 2.0.0-beta4`
  * Python version: `Python 3.7.3`

### Steps to reproduce (Include if Applicable)

So I'm learning Conan by going through [tutorials][1] one by one. I reached up to [linking the application dependencies as shared libr

[2022-11-13 20:00] memsharded commented on #12524
I can't reproduce. This unit test https://github.com/conan-io/conan/pull/12528 is proving that ``conan create`` can perfectly create different ``cppstd`` values, and they are built. Sure you are in beta.5?

[2022-11-13 20:04] memsharded commented on #12526
Hi @CAMOBAP

Just to make sure, the 2 different profiles is because it happens exactly the same in those 2 different systems, not that you are doing any kind of cross-compilation (and those would be build/host profiles).

Could be some recipe issue, if @prince-chrismc can give it a try, I could move it to ``conan-center-index`` repo.

[2022-11-13 20:12] CAMOBAP commented on #12526
Exactly. The same issues with `Run-time dependency gobject-2.0 found: NO (tried pkgconfig and cmake)` happens for both Ubuntu and macOS. No cross-compilation is involved

Also, I can confirm that `graphene` compiles successfully, but I get an error about missing `graphene-object.h` in `gst-plugins-base`. And this header is missing because `glib` was not found during `graphene` configuration stage

[2022-11-13 20:12] memsharded commented on #12527
Hi @MLIOSBond

Some things that I would like to check:

- Are you sure you are using the recipe ``zlib`` from the 2.0 repo, and not from ConanCenter? Even the ``zlib`` recipe we have in the temporary repo for 2.0, might not be fully ready for 2.0
- For that it would be great to first validate that things are working for a simple "hello world" project. Please try your setup, building a ``conan new

[2022-11-13 20:14] memsharded commented on #12526
No problem, I will move it :)  (yes, it seems then a ConanCenter issue)

Thanks for reporting!

[2022-11-13 21:02] KingKiller100 commented on #12521
Good evening,

Thank you so much for answering back. Thank you for the information about package names, I will make sure to enforce all packages are lowercase in future to avoid any trouble.

## Update

Whilst I was waiting for your response, I figured out the cause of the issue was a name clashing with something Conan uses and I was typing the object to be a `list`. the object was called "depende

[2022-11-13 22:17] memsharded commented on #12521
Good catch. Yes, there are some rules in the docs in https://docs.conan.io/en/latest/reference/conanfile.html to avoid this type of conflicts, please use your own attributes and methods as ``_mymethod()`` and ``_myattribute``, as the public ones and ``_conan_xxx`` are reserved for Conan.

Thanks for sharing your conanfiles. I have checked it, and indeed it seems a bug in the ``MSBuildDeps`` genera

[2022-11-13 23:06] memsharded commented on #12521
Trying a fix in https://github.com/conan-io/conan/pull/12529, for next 1.55

[2022-11-14 01:07] hwhsu1231 commented on #12339
@memsharded

Based on what you said in https://github.com/conan-io/conan/issues/12271#issuecomment-1272085355, this is why I want to confirm what I should fill in **Build** profiles explicitly. It is because my `default` profile is printed as the following. Excluding `os_build` and `arch_build` which would be deprecated in Conan 2.0, it seems that we only need to fill the following 3 settings:

-

[2022-11-14 02:00] datalogics-robb commented on #3972
This is a perfect solution!
In practice, I have never seen a case where glibc was not upward-compatible – across different distros C programs and libraries need only to run on a system with a glibc at the same or higher version (without any linking tricks).

From: Samuel Dowling ***@***.***>
Date: Sunday, November 13, 2022 at 12:24 AM
To: conan-io/conan ***@***.***>
Cc: Rob Boehne ***@***.***>, Co

[2022-11-14 03:53] prince-chrismc commented on #3972
Thanks for clarifying my comment, the extra two sentences are important!

***

I've professionally encountered problems with GLIBC compatibility. We had a customer running a Linux from scratch whose exact version had a bug that only triggered with our service with libdispatch trying to fork a child process. It was only one exact version that had the bug, the rest...

There are problems.. 95% sound

[2022-11-14 04:30] prince-chrismc commented on #12523
Definitely should be `-c`

I think remove could have both for UX. It's  a common convention with `rm -f` it could be an alias for convience?

[2022-11-14 04:35] prince-chrismc commented on #12522
That's a good reason. I think the docs and examples with help users implement their own.

[2022-11-14 04:35] #12522 closed, assigned to memsharded

[2022-11-14 05:10] MLIOSBond commented on #12527
I should've stated upfront that I'm a complete beginner in Conan, and I don't fully understand Conan terminology yet.

* As I said, I'm a complete beginner. How can I verify that I'm using 2.0 repo instead of ConanCenter? Will this command do that?

[code]

  If it will, then yes &mdash; I did everything the [tutorial][1] suggests. Also as I'm only going through tutorials, I don't yet understand w

[2022-11-14 05:22] prince-chrismc commented on #12524
Yes 🤔

The problem is I was using `--build missing` but I dont understand why that changes the behavior?
If I remove then it correctly builds

[code]

***

I can also confirm the test code example works

[code]

[2022-11-14 05:38] shudingbo opened #12530 "[question] How to distinguish header files with the same name of different packages"
How to distinguish header files with the same name of different packages
- [*] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
My programe deps two package，which contain header files with the same name。
[code]
[code]

My programe hwo to distinguish the utils.h??

[2022-11-14 08:00] Linux13524 commented on #12504
I can confirm the beta5 with the fix works fine. Thanks again!

[2022-11-14 08:17] Inujel opened #12531 "[bug] Different behavior with `cppstd=20` and `compiler.cppstd=20`"
On Visual Studio 2022, with C++20, compilation of fruit/3.6.0 fails with `compiler.cppstd=20` and succeeds with `cppstd=20`.
Conan recommends to use `compiler.cppstd=20`.

What's the difference between the two?

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2022 (17.3.1)
  * Conan version: 1.53.0
  * Python

[2022-11-14 08:32] memsharded commented on #12531
Hi @Inujel

The ``cppstd`` has been declared legacy long time ago. It shouldn't be used anymore, and Conan 2.0 finally removed it completely. All of the modern integrations in ``from conan.tools.cmake``, ``from conan.tools.gnu`` etc (the ones that are 2.0-ready, the rest are being dropped too), do not listen at all to ``cppstd`` and only ``compiler.cppstd``. Please use only the later.

The issue t

[2022-11-14 08:33] memsharded commented on #12504
Thanks to you @Linux13524 ! Testing and giving feedback for the 2.0 is really appreciated!

[2022-11-14 08:38] hwhsu1231 opened #12532 "[question][2.0] Failed to use "conan inspect <pkg>/<version>" command to inspect the package?"
### Problem Description

Before Conan 2.0, I usually use `conan inspect` command to check all the available options of a package. For example, running `conan inspect glew/2.2.0` command:

<details><summary>Click to expand logs</summary>

[code]

</details>

However, I found that this command failed with Conan 2.0:

<details><summary>Click to expand logs</summary>

[code]

</details>

After searchi

[2022-11-14 08:41] memsharded commented on #12527
If you are a completely beginner, I'd probably recommend a bit of a different approach:

- If you are in Windows, try to stick to the ``msvc`` compilers initially, and then move to ``clang``, because there might be different issues, specially related to open source libraries and packages that might have some issues with clang in Windows, as it is not that mainstream (getting there, but not yet)
-

[2022-11-14 08:44] memsharded commented on #12530
Hi @shudingbo

Following C++ good practices, the actual recommendation (that not all of open source libraries would follow), is that headers should be put in a folder with the name of the package/library:
[code]
And the include paths ``-I``, should only define down to the ``include`` folder, so the source inclusion happens with:
[code]

[2022-11-14 08:44] sbudenkov commented on #5935
Hi,
Do you have a plan for this feature? Will be very useful.

[2022-11-14 08:46] memsharded commented on #12523
This was our rationale.

But something that we are trying to do in 2.0 is remove ambiguity or redundancy. Having 2 different args to do exactly the same is not great, I'd prefer to chose one and use that one always. Lets get the team opinion too.

[2022-11-14 08:47] memsharded commented on #12524
Oh, I see, yes, I think the semantics of ``--build=missing`` = "don't build this binary if there is a valid one already existing". And a "valid one" includes a compatible one.

[2022-11-14 08:49] memsharded commented on #5935
@sbudenkov

I think that is ``conan config init``, that was added some time ago. It seems that this issue was not correctly closed, please check it and let us know.

[2022-11-14 09:06] shudingbo commented on #12530
@memsharded Thanks for you reply.
We used the way you said before. Now we want to use **conan** management library, but there is no relevant way to put them under different libx in conan.
[code]

[code]
-----
i find conanbuildinfo.cmake file, the liba like this, no **liba** prefix
[code]

How can I config?

[2022-11-14 09:15] memsharded commented on #12530
This is not something that the package consumers can do, this is a responsibility of the package creator, the recipe writer for ``liba`` and ``libb``.

They should make sure that their ``package()`` method does the right thing and put the headers file inside a ``liba`` folder, it is typically changing the ``copy(...)`` calls to include the package name.

[2022-11-14 09:27] shudingbo commented on #12530
I Get it.  Thanks more

[2022-11-14 09:27] #12530 closed, assigned to memsharded

[2022-11-14 09:29] memsharded commented on #12192
Ok, thanks.
Yes, that would be something like:
[code]
I think it can be done in the ``configure()`` method.

[2022-11-14 09:33] sbudenkov commented on #5935
Hi @memsharded,

Looks like no.
Cmd: _conan config init --force_ doesn't clean files and  folders in .conan directory.
Please check the original post out:

[2022-11-14 10:21] memsharded commented on #1314
Confirmed, and as pointed out by https://github.com/conan-io/conan/pull/7687, it works fine when **having revisions enabled**.

As using revisions has been recommended for years, and 2.0 is using revisions always, this can be closed.

[2022-11-14 10:21] #1314 closed

[2022-11-14 10:28] krase commented on #6831
Yes. That would be very helpful. I often use different `$CONAN_USER_HOME` with shared `storage.path`. Setting both in the same way would make it easier.

[2022-11-14 10:31] foundry-markf opened #12533 "[bug] conan info --package-filter ignored for json output?"
When using `conan info --package-filter` on a package with dependencies, the filtering is ignore when written out to JSON, but not to the console.

I'm unsure of whether this is intentional, in that JSON you can do your own filtering, but there's no message from the Conan command to say this is the case, and the [docs](https://docs.conan.io/en/latest/reference/commands/consumer/info.html) don't hi

[2022-11-14 10:45] memsharded commented on #12326
Hi @KarstenB

I am trying to understand a bit better the use case. The idea is that every ``conanfile.py`` represents its own package, which is an independent unit of development and release (as it can have its own version, different to others). So having a Presets with same names wasn't a concern for us, because they are actually different projects. It is not a mono-build, because 2 conanfiles ca

[2022-11-14 10:49] memsharded commented on #12533
IIRC , the rationale behind that behavior was that the ``json`` output is for machine reading, and filtering is not necessary, as the machine will pick from the json the information that it wants. So the filtering only applies for terminal stdout output

[2022-11-14 10:52] SpaceIm commented on #12192
Ok, currently in conan-center recipes, win_bash is conditionally enabled in `build_requirements()` where we also conditionally add `msys2` in tool_requires. It makes sense for me because it's enabled only when we build, and the logic is not scattered in different methods.

Example: https://github.com/conan-io/conan-center-index/blob/d492cbd99ea402291451452b77588beef3c7c3f7/recipes/libjpeg/all/cona

[2022-11-14 10:53] memsharded commented on #6831
We are actually moving in the different direction in Conan 2.0:

- Only using env-vars for the very strict minimum, like CONAN_HOME (yes different name), and some profile default
- The rest of the configuration will be file-only.
- The idea is that configuration files are explicit, easily manageable with ``conan config install`` (while env-vars not), and they are also jinja templates. So if you wa

[2022-11-14 10:53] foundry-markf commented on #12533
I thought that might be the case, thanks @memsharded

But perhaps a note in the docs, or console output to indicate that the `--package-filter` is ignored for JSON output to clarify to users?

[2022-11-14 10:58] stevn opened #12534 "[question] CMake specifics polluting cpp_info"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

It seems to me that most package recipes are now setting many cmake generator specific entries on the self.cpp_info. This seems wrong from a conceptual perspective to me. Shouldn't the cpp_info only hold information about the libraries, directories and flags in a generic way?

The pac

[2022-11-14 11:02] memsharded commented on #12510
Hi @lijie-jiang

I think there might be some misconception in how the ``imports`` work:

- The first ``conan install  conanfile.py`` install the dependencies only of ``conanfile.py``, but doesn't create a package for the ``conanfile`` itself
- You are trying to reuse the install folder of one ``conanfile.py`` for another ``conan_imports.py`` conanfile. It doesn't work that way. You need to do the

[2022-11-14 11:07] memsharded commented on #12534
Hi @stevn

I wish it was that way. But the CMake ecosystem is sometimes very inconsistent, so in order to be able to generate downstream for the consumers, the equivalent ``xxxx-config.cmake`` files that they would expect, it is necessary to add that information.

All this information shouldn't be necessary at all for your own projects, it is just a necessary thing for the open source ecosystem an

[2022-11-14 11:08] memsharded commented on #12533
I am going to check the UX in 2.0, maybe discuss it with the team, just in case.

[2022-11-14 12:04] #12479 closed, assigned to memsharded

[2022-11-14 12:45] kexianda opened #12535 "[bug] bug? autoconf always run autoreconf in "self._conanfile.source_folder" folder"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04
  * Compiler+version: gcc 10
  * Conan version: 1.52
  * Python version:  3.9

### Steps to reproduce (Include if Applicable)
I try to create a recipe for krb5(kerboes).  it uses autoconf/make to build.
untar the source, it looks like:
[code]

Step 1. create a recipe
   https://github.com/kexian

[2022-11-14 13:19] Chnossos opened #12537 "[bug] spdlog static fails to link when fmt/*:header_only=True"
### Environment Details
  * Operating System+version: Linux
  * Compiler+version: GCC 10.3.1
  * Conan version: 1.54.0
  * Python version: 3.9.9

### Steps to reproduce

`conanfile.txt`
[code]

`CMakeLists.txt`
[code]

`main.cpp`
[code]

### Logs (Executed commands with output)

Commands:
[code]

<details>
<summary>Logs:</summary>

[code]
</details>

If you remove the `fmt` option, then it compile

[2022-11-14 13:20] Da-LiFe commented on #12416
I'm also able to reproduce this error with conan 1.54.0. Setup this time:

conanfile.txt:
[code]

[code]

[code]

[2022-11-14 14:42] Inujel commented on #12531
Hi @memsharded

Oh I see. So with `cppstd=20`, Visual Studio doesn't even compile in C++20.

The recipe works fine with C++14 or C++17, so it's nothing new. It's a C++20-specific bug.

Here is where I come from: https://github.com/google/fruit/issues/145

I think we can close this. Thanks for your help.

[2022-11-14 14:49] memsharded commented on #12531
Thanks for the feedback @Inujel !

[2022-11-14 14:49] #12531 closed, assigned to memsharded

[2022-11-14 15:47] #12535 closed, assigned to nobody

[2022-11-14 15:48] CfirTsabari opened #12538 "[bug] install download the wrong revision"
Using `conan install` to download a specific dependency revision will:
1. download the wrong revision
2. report the revision that was downloaded as the correct revision.
In the example, I wanted a zlib recipe that doesn't require conan version to be 1.53 - which is revision [40e9a7e11e440715c0f0f3e96448342b](https://conan.io/center/zlib?version=1.2.13&revision=40e9a7e11e440715c0f0f3e96448342b&tab=

[2022-11-14 16:28] memsharded commented on #12538
Hi @CfirTsabari

Could you please try running that from a clean cache? Just to make sure that it is not able to overwrite the existing revision correctly.
It would also help trying to run without the ``--update``, as it might happen that such arg is forcing an update to the latest revision or something similar.

[2022-11-14 16:53] memsharded commented on #12535
Hi @kexianda

Did you manage do find an answer for this? Any update? Thanks!

[2022-11-14 17:17] Chnossos commented on #12537
Hi @memsharded, yes this is a recipe issue, sorry for the trouble.

I have made a fix on my side by adding a new option `fmt_header_only` to the recipe, but I'm not sure this is the best way. Is it possible to select the right package id base on the package's dependencies' options?

Let's say I have a consumer program with lots of dependencies, including `fmt/7.1.3` with `header_only=True`, then I

[2022-11-14 17:32] memsharded commented on #12537
The resolution of "options" is not a fully compatible one, but it is also "greedy" (same as version ranges), with a depth-first approach, with the downstream consumer always having priority.

So if you define ``fmt:header_only=True`` in your profile, or consumer recipe, that will overwrite any other possible ``fmt:header_only=False`` value in the dependency graph, and will force to use your select

[2022-11-14 23:52] cleeland commented on #9444
In conan 1.53.1 (latest I have available to me), `conan_find_package.py` is still missing cache variables defined by cmake's FindBoost module.  Specifically, variables like

*  ``Boost_<COMPONENT>_LIBRARY_DEBUG``
  Component ``<COMPONENT>`` library debug variant.

* ``Boost_<COMPONENT>_LIBRARY_RELEASE``
  Component ``<COMPONENT>`` library release variant.

[2022-11-15 02:59] yash101 commented on #12538
Having this error too.
I tried `pip cache remove "*"`.

Log for `pip install --upgrade conan` after clearing the pip cache:
[code]

Conan version:
[code]

[2022-11-15 06:06] foundry-markf opened #12540 "[bug] conan lock update using base lock files results in AttributeError instead of meaningful error"
I was just playing with some lockfile ideas, and accidentally tried to update some base lockfiles, which resulted in an `AttributeError` rather than a meaningful error saying something like `Updating base lock files is not supported. Please create full lock files in order to update`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Mac Catalina (but suspe

[2022-11-15 07:16] KarstenB commented on #12326
Hi @memsharded,
Thanks for taking your time to investigate this, to be clear, this is a developer workflow issue, not a build system issue. The packages are build independently just fine by the CI, what we worry about is making sure the developers are productive as quickly as possible.

To give you some better idea imagine Sub1 is packaging a kernel for an embedded device and Sub2 packaging the us

[2022-11-15 07:51] CfirTsabari commented on #12538
@memsharded when you are saying clean cache, do you mean delete the `zlib` folder under `.conan/data`, yes I already did that.
I run the command without the `--update` and it was the same outcome.
[code]
BTW is there a chance this is a bug in the server in this case?
[code]

[2022-11-15 08:57] Chnossos commented on #12537
Thank you for the clear explanation. That means my test should resolve to the right spdlog package, provided it's been built and can be selected, that means it needs a new option anyway so I can do a PR. Could you transfer this issue or tell me how to do it?

[2022-11-15 09:10] pasrom opened #12541 "[question] get RREV from dependencies inside conanfile"
We are using `revision_mode = "scm"` for all our dependencies and we want to get the revision (=git commit id) from the dependencies inside the conanfile. Is there a possibility to achieve this?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-11-15 09:21] memsharded commented on #12541
Hi @pasrom

Not it is not possible. The ``recipe_revision`` is a property of the recipe, in isolation. It is the hash (or commit) of the sources, the ``conanfile.py`` and other possible files that form the recipe (might include ``exported`` sources). This is computed at ``export`` time, and the dependency graph is not resolved at all in this point, there are not dependencies.

It seems that you ar

[2022-11-15 09:55] KingKiller100 commented on #12521
Wonderful. I will await v1.55.x for the fix

[2022-11-15 09:57] mkjkec2005 opened #12542 "Error in consuming dependencies using Conan 2.0"
We had a simple component build consuming Conan packages using Conanfile.txt. This was working with Conan version 1.54. After upgrading to Conan version 2.0.0-beta5, conan install command is failing as below.

$ conan install .. --profile=temp

**ERROR: Error while parsing [options] in conanfile
Options should be specified as 'pkg:option=value'**
---------------------------------------------------

[2022-11-15 10:01] memsharded commented on #12511
Closed by https://github.com/conan-io/conan/pull/12525

[2022-11-15 10:01] #12511 closed, assigned to memsharded

[2022-11-15 10:05] memsharded commented on #12542
Quick feedback:
[code]
The ``cmake`` generator has been removed in 2.0. It is necessary to use ``CMakeDeps`` and ``CMakeToolchain``. They are available in 1.X, so the recommendation is to upgrade first in 1.X, then upgrading to 2.0 would be easier.

I think the message might not be very informative, could you please try to specify ``openssl*:shared=True`` instead?

[2022-11-15 10:10] memsharded commented on #12524
It seems that https://github.com/conan-io/conan/pull/12528 closes this question as solved, but let me know otherwise

[2022-11-15 10:10] #12524 closed, assigned to memsharded

[2022-11-15 10:19] memsharded commented on #12538
I am trying that, and it seems to be working fine here. Is it possible that you don't have the revisions enabled?. Can you try a ``config get`` to see it?

[2022-11-15 10:28] mkjkec2005 commented on #12542
Sure, we will try to use CMakeDeps and CMakeToolChain in 1.x first.

After changing to openssl*, build has moved forward. What difference did * make?

Also, now the build is failing with the below error.

-------- Computing dependency graph --------
grpc/1.30@FTA/testing: Not found in local cache, looking in remotes...
grpc/1.30@FTA/testing: Checking remote: conan-infinera
grpc/1.30@FTA/testing: T

[2022-11-15 10:30] #12521 closed, assigned to memsharded

[2022-11-15 10:30] #12477 closed, assigned to franramirez688

[2022-11-15 10:30] memsharded commented on #12542
Conan 2.0 has normalized and standardized a bit better the pattern matching that happens for package names. If the reference is not complete, like ``pkg/version``, then it is necessary to explicitly say it is a pattern, so it will match any possible openssl version

Yes, that failure is expected. Conan 2.0 uses only ``from conan`` and not ``from conans``. The ``from conan`` space is also available

[2022-11-15 10:40] maitrey commented on #12166
Hi @memsharded , I was on holidays and therefore didnot work on this topic. So I have a package that is an interface package. This contains mainly header files and no source file. In the CMake implementation I have used:

` add_library(A INTERFACE)
target_include_directories(A INTERFACE ${CMAKE_SOURCE_DIR}/include/extras/additional_includes)
target_include_directories(A INTERFACE ${CMAKE_SOURCE_DI

[2022-11-15 10:51] mkjkec2005 commented on #12542
I am merely using conanfile.txt. There is no conanfile.py.

[2022-11-15 12:12] memsharded commented on #12542
Your dependencies are: ``from conans import ConanFile, tools``
You cannot use dependencies that are not 2.0 ready. Most of ConanCenter are still not there, you can only use deps created with Conan 2.0, you can have a look to the first important note in https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html

[2022-11-15 12:21] naggerx opened #12544 "[feature] conan info --raw"
Just like "conan inspect --raw" I would really like to see a "conan info --raw".

We repeatedly have to query the package_path of a package in various scripts.

--raw should accept any attribute from --only, additionally:
* Print just the value of the requested attribute
* Automatically add "--package-filter <same_ref>" (only output direct infos from 'path_or_reference')
* Automatically add '--pat

[2022-11-15 12:45] EstebanDugueperoux2 commented on #11919
I get this issue even with latest conan (1.54.0).

[2022-11-15 12:51] pasrom commented on #12541
@memsharded, thank you for your quick reply.

I would like to use the commit id's from dependencies to save them in a proprietary format (package) for later use (to easy find out which commit produced this dependency, if possible without using conan).

Could I use [`self.info`](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html?highlight=requirementinfo#using-package-i

[2022-11-15 12:58] Hash17 opened #12545 "[bug] tools.get() doesnt download my tarball and yet doesnt give any error"
### Environment Details (include every applicable attribute)
  * Ubuntu 18.04.6 LTS VM
  * Conan version: 1.54.0
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)
conan create -pr profile-name . package/0.2@user/testing

#tools,download from my recipe:
tools.download(download_uri, path_to_save_file_to, auth=(artifactory_user, token))

ofcourse user and token are defined

[2022-11-15 13:00] Hash17 commented on #12545
I wrote a description but i cant see it unless i click on edit, so am writing it again

So am trying to use tools,get() to download a certain tarball which i know it exists for sure, remote artifactory where the tarball exists is part of ~/.conan/remotes.json, conan searh with -r=remote-name finds the package, the package is 2G and when i run my recipe it finishes in 1 second without errors, i che

[2022-11-15 13:30] memsharded commented on #12541
Yes, you can collect information from dependencies, there are 2 possible places: the ``generate()`` method and the ``package()`` method. Most likely it makes sense in the ``generate()`` method, but depends on the use case.

Check https://docs.conan.io/en/latest/reference/conanfile/dependencies.html for more information, but basically, you can iterate the ``self.dependencies``, and for each one, yo

[2022-11-15 13:32] memsharded commented on #12541
Note also, that for achieving that, you don't really need to use the ``recipe_revision = "scm"``, but you can do the following:

- Eeach recipe, when it is "created", it can store in its ``conandata.yml`` the url and the commit that originated it, check: https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html#example-implementing-the-scm-feature
- Then, the consumer can easily itera

[2022-11-15 13:40] memsharded commented on #12544
Hi @naggerx

The ``--raw`` argument has a different meaning, it means, "do not mix or add Conan status or info messages to the stdout".
This argument has been dropped in Conan 2.0, because it is no longer necessary, as all the status messages will be sent to ``stderr``, and only the final information will be sent to ``stdout``.

Also for the purpose of obtaining paths, which seems exactly your use

[2022-11-15 13:41] czoido commented on #12454
Hi @GordonJess,
Thinking again about this issue, I think that the best way of setting custom variables in the toolchain is using the [tools.cmake.cmaketoolchain:user_toolchain](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html) configuration. Using this you can add your custom code to the toolchain. You could add something like this in your profile:

[code]

Using

[2022-11-15 13:49] #12427 closed, assigned to memsharded

[2022-11-15 13:50] memsharded commented on #12427
Implemented in https://github.com/conan-io/conan/pull/12517, will be in next 1.55. Thanks for all the feedback!

[2022-11-15 14:34] SpaceIm opened #12546 "[feature] AutotoolsToolchain: provide a way to not pass --build --host (or fix gnu triplet for msvc)"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In legacy `AutotoolsBuildEnvironment`, it was possible to prevent conan to pass `--build` & `--host` automatically deduced by `get_gnu_triplet` helper (which is wrong for msvc: https://github.com/conan-io/conan/issues/7460) in case of cross-build.
There is no such feature in `Autotool

[2022-11-15 14:46] memsharded commented on #12545
Hi @Hash17

It is not fully clear if you are trying to download a tarball from an Artifactory Conan repo.
If you are trying to do that, it might make sense, this is undefined behavior, Conan packages can only be used via the Conan APIs, fetching one of the Conan tarballs directly from a recipe is not possible.

If you are trying to download a tarball from an Artifactory generic repository, that sh

[2022-11-15 15:12] pasrom commented on #12541
Thank you for all your assistance.

[2022-11-15 15:12] #12541 closed, assigned to memsharded

[2022-11-15 15:24] fschoenm commented on #11732
@memsharded Thanks for the pointers. The `direct_deploy` implementation unfortunately does not deploy in the root of the consumer project like it is required for the files that I want (.clang-format, .clang-tidy, ...). I managed to achieve that with a custom deploy function:

	def deploy(graph, output_folder, **kwargs):
	    conanfile = graph.root.conanfile
	    for _, dep in conanfile.dependencie

[2022-11-15 15:25] rettenbs commented on #12427
Nice, this should work for our use cases.

[2022-11-15 15:44] AndreyMlashkin opened #12548 "[bug] conan creates default profile even if it is explicitly not used"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu latest
  * Compiler+version: 11.2.0-1ubuntu1
  * Conan version: 1.54.0

### Steps to reproduce (Include if Applicable)
clone this project: https://github.com/AndreyMlashkin/minimalistic_conan_docker
run:
docker build .

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-11-15 15:44] AndreyMlashkin commented on #12548
[full_log.txt](https://github.com/conan-io/conan/files/10014076/full_log.txt)

[2022-11-15 15:48] memsharded commented on #12548
Hi @AndreyMlashkin

It seems there is some misconfiguration in your setup. That is not running 2.0, but it is running 1.X.

You need to change ``RUN pip3 install conan`` in your dockerfile?

[2022-11-15 15:56] #12236 closed, assigned to czoido

[2022-11-15 15:56] #12444 closed, assigned to nobody

[2022-11-15 15:59] #12110 closed, assigned to nobody

[2022-11-15 16:42] heilkn commented on #12341
Dear @hwhsu1231, thank you for your support. At the moment, I am hesitant to continue working on cmake-conan, because I basically do not agree with it's goals. It tries to circumvent regular conan files and places the configuration into the CMake configuration. To the contrary, I am in favor of making the projects CMake configuration completely oblivious to where the dependencies come from.

@mems

[2022-11-15 16:48] memsharded commented on #12341
Yes, I now understand a bit better the intention, and I agree it diverges enough from the cmake-conan current approach, to make it independent. I agree with the part that I don't like either contaminating the ``CMakeLists.txt`` with a bunch of things, the CMakeLists.txt should be pretty agnostic of where the dependencies come from.

Looking forward to exploring these other new ideas (though it wil

[2022-11-15 19:16] memsharded opened #12549 "[question] Review ``conan cache path``"
I have been writing the docs for it, trying it manually, and found it quite confusing, I have been struggling a bit to use it, eg:

[code]
Even if you provide the full path, it will still return the path to the ``export`` folder of the conanfile.py, not the package folder, and  it was surprising
[code]
The problem here is that it is missing ``#latest`` as ``package_revision``, but it is challengin

[2022-11-15 21:55] #12494 closed, assigned to czoido

[2022-11-15 21:56] #12296 closed, assigned to czoido

[2022-11-15 22:25] Hash17 commented on #12545
Hi @memsharded

oh okay, I just checked and i was trying to download a tarball from a private conan repository which i have permission to access, . I understood what you said and it makes perfect sense to upload it to a generic type repository. which brings me to the next question:

If the tarball is hosted in a private generic repository, is there a way for tools.download() or tools,get() to retu

[2022-11-15 22:36] heilkn commented on #12341
Hi! I am glad you are still intersted. I have pushed an update to the linked repository. The prototype now supports building missing dependencies and I added a comparision with the vcpkg workflow.

Please provide feedback.

Kind regards

Konstantin

[2022-11-15 22:36] memsharded commented on #12545
Yes, absolutely, both methods should fail and raise an Exception that would end in a command line error (including exit error code) reporting the original error (auth, url, connection...).

Thanks, we do our best, supporting users is a priority for us, though sometimes it is very challenging, this year we will reach around 5000 Pull Requests and several thousands issues too (just in 2022), so it i

[2022-11-16 03:51] mkjkec2005 commented on #12542
Looks like very few packages are migrated to Conan 2.0. For instance, we use rapidjson and OpenSSL, and those are not converted yet. Do we have a plan in place for conversion?

[2022-11-16 07:44] AndreyMlashkin commented on #12548
Oh, yes, sorry, I have experimented with conan2, but not all recipes from my example are ready for it, so I have back-switched to 1.54.0. I have updated the description

[2022-11-16 07:58] AndreyMlashkin commented on #12548
Conan v2 does not have this missfunction indeed.

[2022-11-16 08:20] memsharded commented on #12548
Ok, I see.  But it is not a bug, in Conan 1.X, the default profile is expected to be there, even if not directly used, due to some legacy. It was changed in 2.0 to not create it, but it cannot be changed in 1.X, as it would be breaking.

[2022-11-16 08:29] memsharded commented on #12542
You can check the status in https://github.com/conan-io/conan-center-index/issues/12888. Still binaries are not being uploaded to ConanCenter. The best is to test and report recipe issues to the https://github.com/conan-io/conan-center-index repo.

[2022-11-16 08:44] AndreyMlashkin commented on #12548
Ok, I see

[2022-11-16 08:44] #12548 closed, assigned to memsharded

[2022-11-16 09:23] memsharded commented on #11732
Yes, the ``dependencies`` object (https://docs.conan.io/en/latest/reference/conanfile/dependencies.html), as some filters and access to define these things, like ``direct_host``, which will serve to install just the package that you want (the direct will be the one defined in ``conan install --requires=mypkg/version``, for example). Is this what you need?

$ conan install . -s build_type=Debug --d

[2022-11-16 10:09] memsharded commented on #12310
Hi all,

The minor issues like MSBuildDeps failing have been solved in https://github.com/conan-io/conan/pull/12529

The main remaining issue is a very complex one, which is the definition of env-vars, we have created a explicit ticket for it: https://github.com/conan-io/conan/issues/12499. We can follow that one, and I will close this one (as the title is a bit misleading, ``self.package_folder``

[2022-11-16 10:09] #12310 closed, assigned to memsharded

[2022-11-16 12:06] foundry-markf opened #12553 "[question] How does Conan know a revision is the latest?"
Just trying to resolve an internal question at work.

- how does Conan interpret the 'latest' recipe revision? (where revisions are enabled)

For example, if you **don't** pin a self.requires(X/Y#pin), which revision does Conan pick up.

I thought they were chronologically ordered, as per the output from `conan search -rev`.

However, looking at the implementation on https://github.com/conan-io/co

[2022-11-16 12:08] joaquinherrero-facephi commented on #12216
I'm still reproducing this error with conan 1.54.0 from a Developer Command Prompt for VS 2019.

Any suggestions?

[2022-11-16 13:11] #11962 closed, assigned to franramirez688

[2022-11-16 13:29] memsharded commented on #12121
Too much and too new for current moment, moving it to 2.X

[2022-11-16 14:48] EstebanDugueperoux2 commented on #11919
According to https://stackoverflow.com/questions/17118999/python-argparse-unrecognized-arguments the "unrecognized arguments" message comes from argparse python library.
Then it seems a bug in the use of this library.
Indeed in https://github.com/conan-io/conan/blob/1987d00089a8ec80540a98468360493ce17a354a/conans/client/command.py#L1034 we see `parser.parse_args(*args)` instead of `parser.parse_ar

[2022-11-16 14:57] memsharded commented on #11919
Hi @EstebanDugueperoux2

Can you please clarify about:

we see parser.parse_args(*args) instead of parser.parse_args() as documented in

From https://docs.python.org/3/library/argparse.html#argparse.ArgumentParser.parse_args, it seems a valid use case, and not a bug in the usage of the library. Not only valid, but even necessary when processing sub-commands or nested commands (with nested args)

[2022-11-16 15:11] memsharded commented on #12553
Yes, it is both, the latest revision is the "chronologically" latest one, which happens to be also the last one in the list, because the revision time is assigned when it is added to the list. With ``conan search --revisions`` you should also be able to display the list with timestamps.

[2022-11-16 15:19] EstebanDugueperoux2 commented on #11919
Hi @memsharded,

Thanks for your quick reply.
I try to understand my random bug and try to understand what in argparse library is not good.
I reproduce this issue only randomly in a Gitlab CI context using official conan Docker images.

My Gitlab CI job consists of:

[code]

And at `conan export-pkg` call I get following error:

[code]

Any clue to analysis this issue is welcome.

Regards.

[2022-11-16 15:36] Hash17 commented on #12545
Thank you so much for the explanation, and good luck with this huge amount of PRs

[2022-11-16 15:36] #12545 closed, assigned to memsharded

[2022-11-16 16:27] CfirTsabari commented on #12538
@memsharded
I am not sure what the revisions enabled flag should do.
but I tried it anyway (with an environment variable) and it behaves differently.
now it just ignores the "require-override" option and downloads some other revision, but at least it reports the correct revision as been downloaded.

so with revisions enabled:
1. download the wrong version.
2. report the wrong revision(matching wha

[2022-11-16 16:43] memsharded commented on #12538
This is my full output, with revisions enabled:
[code]

Could you please post yours? I see ``zlib/1.2.13: Downloaded recipe revision 40e9a7e11e440715c0f0f3e96448342b``, which seems correct.

[2022-11-16 17:55] czoido commented on #12216
Hi @joaquinherrero-facephi,

Sorry for the delay in answering and thanks a lot for reporting the issue.
I could reproduce it thanks to your example. I think it could be related to the format of the json presets file that Conan generates but I have to investigate more. Apparently the version that Conan generates by default in the preset is ok and inside the ranges: https://gitlab.kitware.com/cmake/

[2022-11-16 19:16] jsallay opened #12558 "[bug] Conan 2.0 shared-library and package_id"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04
  * Compiler+version: N/A
  * Conan version: 2.0 beta-5
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
This is a doozy.  Here are the conan classes used for a minimal reproducer.
[code]
Building all of these conanfiles fails with the error shown below in the logs sect

[2022-11-16 19:26] CfirTsabari commented on #12538
@memsharded I have probably missed something:
adding the CONAN_REVISIONS_ENABLED fixed the issue.
this was the thing I was missing.
thank you for the help and sorry for missing it.
[code]

[2022-11-16 19:26] #12538 closed, assigned to memsharded

[2022-11-16 19:30] CfirTsabari commented on #12538
@memsharded even though reporting the wrong recipe still seem unwanted

[2022-11-16 23:34] memsharded commented on #12558
Hi @jsallay

Thanks for the detailed instructions. I am trying to reproduce, and moved that to a unit test:
[code]
But apparently it is working fine.
Is it possible that there is some other detail missing? I am not sure what else to try...

[2022-11-17 02:35] prince-chrismc commented on #12523
Lets commit to `-c` for confirm them 👍

[2022-11-17 03:37] paulocoutinhox commented on #12495
I solved the problem.

The flags are not filled because of C support of CMake.

I need enable it changing from:

[code]

to

[code]

[2022-11-17 03:37] #12495 closed, assigned to nobody

[2022-11-17 03:37] paulocoutinhox commented on #12205
I solved the problem.

The flags are not filled because of C support of CMake.

I need enable it changing from:

[code]

to

[code]

[2022-11-17 03:37] #12205 closed, assigned to nobody

[2022-11-17 03:39] #12199 closed, assigned to nobody

[2022-11-17 03:41] #12196 closed, assigned to nobody

[2022-11-17 03:41] #12195 closed, assigned to nobody

[2022-11-17 08:42] czoido commented on #12216
I finally could understand what's happening. Yes, the problem comes from using `tools.vcvars_dict` and `tools.environment_append`.  That should not be necessary any more as Conan toolchain [will apply that](https://github.com/conan-io/conan/blob/e0f2f7afe196135cffc0529e1becde22c33abe01/conan/tools/cmake/toolchain/toolchain.py#L180) automatically in the build environment every time you do a `conanf

[2022-11-17 11:09] franramirez688 commented on #12477
Closed by https://github.com/conan-io/conan/pull/12529
This fix will be available in the next Conan 1.55 release.

[2022-11-17 11:27] iaavo commented on #12553
so is the revision timestamp determined at upload time (server-side) or at creation time (client-side)?

[2022-11-17 12:01] memsharded commented on #12553
Server-side upload time, we tested a few alternatives and it was the one that made more sense.

[2022-11-17 13:21] jsallay commented on #12558
It turns out that this was a mistake on my part.  I swear that I upgraded to beta5, but looking in my container I was still running beta4.  It appears that it is working just fine in beta5.  I apologize for the confusion.

[2022-11-17 13:21] #12558 closed, assigned to memsharded

[2022-11-17 14:43] memsharded commented on #12558
No prob, thanks for telling!

[2022-11-17 17:03] memsharded commented on #11786
this will be finally closed by https://github.com/conan-io/conan/pull/12555

[2022-11-17 17:04] memsharded commented on #12210
Will be closed by https://github.com/conan-io/conan/pull/12555

[2022-11-17 17:06] memsharded commented on #12072
WIll be closed by https://github.com/conan-io/conan/pull/12555

[2022-11-17 18:04] oxygene commented on #11587
Being new to conan, I wonder what I can do to work around the problem? Should I fork the cmake recipe and try to build cmake with openssl3 and upload it with a modifies user/channel in my private repository? And then fork other recipes that depend on it to use my customized cmake version, hoping that the conflict will go away? Or is there anything else besides waiting for conan2?

I know that I ca

[2022-11-17 18:25] joaquinherrero-facephi commented on #12216
Thanks @czoido for the response.

I didn't realize of this automatic environment append. I explicitly set the environment for that reason.

This part can be removed but maybe a warning message on this use case can help to detect the problem.

Anyway we are in the process of migrating to 2.0 so we will change this use cases with new environment tools.

Thank you for your advice!

[2022-11-17 19:50] prince-chrismc opened #12560 "[feature] `build_modules` in 2.0 fails with error instead of a nice migration warnings"
deprecated `build_modules` causes 2.0 to fail where it should output a warnings -- This can be see with the `cpp_info.names` and `cpp_info.user_info` attributes but not this one.

Post-op from playing with #12555

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-11-17 23:56] System-Arch opened #12561 "[bug] export-pkg command gets confused by negated [tool_requires] specifications"
The Conan 2.0 export-pkg command is incorrectly reporting an issue with a negated [tool_requires] package.

### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 10
  * Compiler+version: gcc 8
  * Conan version: 2.0-beta5
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)

Run the following command:

where tools.jinja redirects to:

[2022-11-18 01:30] System-Arch commented on #12561
Digging a little deeper, it appears that call flow in export_pkg  looks roughly like:

The error is occurring from the first call. This call differs from that used in the build and install commands, which do not show this problem, because it is using conan_api.graph.load_root_virtual_conanfile() whereas the others appear to use conan_api.graph.load_root_consumer_conanfile().

As an experiment, I t

[2022-11-18 06:54] prince-chrismc commented on #12560
It would also be nice to make the warning optional with a conf setting... It's extremely noisy 🙊

![image](https://user-images.githubusercontent.com/16867443/202640037-11f0e84c-3fc1-40b8-a6c9-c61135e30914.png)

[2022-11-18 08:59] gsemet opened #12563 "Conan search when uploading"
Hello,

When I upload large packages, it seems like `conan search` "finds" this not-so-ready package, and `conan download` or `conan install` fails (rightfully) to retrieve it.

Is there a way to tell this package is being upload, do not take it yet ?

Thanks

[2022-11-18 10:06] maldag commented on #11656
We are looking for this kind of possibility also. Is there a timeline to get 2.0 out and stabilized?

[2022-11-18 10:11] memsharded commented on #11656
Our intent is to get 2.0 out before EOY, but it is a bit tight, and it also depends on the migration efforts in ConanCenter. But definitely soon. The best way to contribute atm is to test the released beta.5 and give feedback.

[2022-11-18 10:11] #12255 closed, assigned to memsharded

[2022-11-18 10:17] memsharded commented on #12563
Hi @gsemet

I am afraid it is not. We are studying some possibilities to reduce this impact, but that might involved work in the server, and that always take a more lot of time.

If possible, this can be reduced by a 2 step process, automated a bit in the server, first upload to an "upload" repo, which is write-only, and only when it finished, do a copy in the server (which is very fast, because i

[2022-11-18 10:19] memsharded commented on #12563
Probably the issue to track is https://github.com/conan-io/conan/issues/6870, and we could close this one as duplicate?

[2022-11-18 10:25] memsharded commented on #11587
Hi @oxygene

Probably yes. The issue is that this is an override to a major dependency version, and major dependency versions are known to break their consumers. Overrides are most likely to work without issues for minor and patch version bumps, but it becomes increasingly unlikely with majors.

It is a very good practice for production usage to have your own repo anyway, with a copy of the packag

[2022-11-18 10:32] Bearwolves opened #12564 "[bug] Missing LIB_DIRS in CMakeDeps <PACKAGE>-config.cmake"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Conan version: 1.54.0
  * Python version: 3.6.9

### Logs (Executed commands with output) (Include/Attach if Applicable)
CMakeDeps generates following variables in a `dummy-example-config.cmake` files into the build folder.

[code]

missing

[code]

If I want to access the information, I nee

[2022-11-18 10:47] foundry-markf opened #12565 "[question] Deleting C++ settings from the package_id ; where to do it"
Hi,

I got my memories in a twist this morning trying to explain this to someone else.

I'd gotten used to modifying the package_id in the `package_id()` method of a recipe, such as removing settings that weren't necessary (including things like `header_only`). But then noticed that the recommendation (and our previous usage in recipes) of marking a package as a C library, is to delete them in the

[2022-11-18 12:36] harsszegi opened #12566 "[question] cmake configure prepends Visual Studio devenv to PATH?"
Hi,

I have an issue, we are using Code Coverage, which means that ths coverage compiler must be the first on PATH when configure + build is executed. However I've noticed that when running with "Ninja", Conan prelaunches (quite properly) the development console. However it appears that it is forcefully prepended to PATH, which means that our PATH setup (which puts the coverage compiler to the fro

[2022-11-18 13:04] jcar87 commented on #12564
Hi @Bearwolves - thank you for reporting this issue.

From what I can see, CMake specifies that legacy find modules would specify a variable called (`xxx_LIBRARY_DIRS`) and not `_LIB_DIRS`. The state of these variables is unfortunate: despite CMake's best efforts, there is no uniform convention on what exact names these variables should have. We would be inclined to only follow CMake's own documen

[2022-11-18 13:09] oxygene commented on #11587
I run a private artifactory, but have only used it for our own packages and binary builds of open source libraries for profiles not built on conancenter. So far, I did not know whether it is considered good practice to clone the conan-center recipes github repository and customize them.

When I do that, I guess I should also set the recipe user/channel on the modified recipes so that they do not m

[2022-11-18 13:14] jcar87 commented on #12566
HI @harsszegi  - thanks for raising this question.

From what you are saying, I'm assuming:
* You are building a project that uses CMake, but specifying Ninja as the CMake generator
* This coverage compiler is _also_ called `cl.exe`, but it is not the one provided by Microsoft.

If you are using CMake you could probably nudge CMake in the direction of finding a different compiler, for example:
* `

[2022-11-18 13:32] memsharded commented on #11587
It depends, but it can be problematic if mixing your own variants with some of the conancenter ones that haven't been taken ownership. That is, either you fork and replace the ``requires = "...."`` of the packages you use to point to your ``user/channel`` variant, or it is better to leave them without ``user/channel``.

Thanks for the clarification, it makes sense, I thought it was only a dependen

[2022-11-18 14:02] codetent opened #12567 "[bug] Inconsistent default option propagation in lockfiles"
Building a conan package (pkgb) with a lockfile shows an interesting behavior if the same dependency is used in other recipes with different options: it complains about non-matching options in the lockfile (probably for the freetype dependency of pkga). I attached the output.

The options mentioned as locked are correct for pkga:
	- shared=True (set in pkga recipe)
	- subpixel is not defined and s

[2022-11-18 14:26] MarkoMin opened #12568 "[bug] 2.0 Help message"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04LTS
  * Compiler+version: gcc 9.4.0
  * Conan version: 2.0.0-beta5
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
conan --help

### Logs (Executed commands with output) (Include/Attach if Applicable)

Last line of "--help" output says: "Conan commands. Type "conan help

[2022-11-18 19:37] memsharded commented on #12568
You are right, that should be changed. If you want to contribute a PR yourself, that would be great, otherwise, we will fix it for next beta.6. Thanks for reporting!

[2022-11-18 23:36] memsharded commented on #12072
Closed by https://github.com/conan-io/conan/pull/12555, will be in beta.6

And for 1.55 the approach is: use ``self.settings`` in ``validate()``, not ``self.info.settings``

[2022-11-18 23:36] #12072 closed, assigned to memsharded

[2022-11-18 23:37] memsharded commented on #12210
Closed by https://github.com/conan-io/conan/pull/12555, will be in beta.6

And for 1.55 the approach is: use self.settings in validate(), not self.info.settings

[2022-11-18 23:37] #12210 closed, assigned to memsharded

[2022-11-18 23:37] memsharded commented on #11786
Closed by https://github.com/conan-io/conan/pull/12555, will be in beta.6

[2022-11-18 23:37] #11786 closed, assigned to memsharded

[2022-11-19 12:16] fschoenm commented on #11732
I checked the documentation but I think it does not really cover the use case I had in mind because I'd like to specify the required package in the conanfile instead of the command line.

Imagine the following consumer conanfile file:

    from conan import ConanFile
    from conan.tools.cmake import cmake_layout

    class ConsumerConan(ConanFile):
        settings = "os", "compiler", "build_type

[2022-11-19 17:54] MLIOSBond commented on #12527
As a side question: is it possible to completely avoid using `msvc` on Windows when using Conan?

I tried setting the profile in the correct way (as suggested in the [article][1]), but I get the following error even in the [first tutorial][2]:
[code]

<details>
  <summary>Log</summary>

[code]

</details>

Probably my installation of VS is broken, but I don't feel like installing it at the moment

[2022-11-19 19:59] memsharded commented on #12527
Just it is totally possible, it is perfectly fine to use gcc (mingw), or some of the clang flavors (msys2) that doesn't need msvc at all. A different story is that the recipes in ConanCenter will work with these, sometimes the build system scripts might not be prepared at all to handle these compilers, so it really depends on the library itself. Some have the compilers hardcoded in their scripts,

[2022-11-19 20:05] memsharded commented on #11732
Sorry @fschoenm, but I might be missing something. If you want to deploy just ``clang-tidy``, why not?
[code]

That admits multiple ``--requires`` and ``--tool-requires`` too?
Or if you are running your ``conan install .`` directly against the above local conanfile.py, then those dependencies are the ``direct`` ones. If you want to parameterize things in the recipe, you might add a ``_my_deploy``