[2021-08-30 15:17] memsharded commented on #9465
Lets add pre-releases of new compiler versions to settings.yml.
We will add a note to the docs, to clarify the natural instability of these versions, but that should be expected by everyone using them, shouldn't be an issue.

[2021-08-30 15:18] max-ag commented on #9499
@memsharded, Thanks for the quick reply.

The example to package a toolchain in https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-build-requires sets the SYSROOT environment variable, which is what I was originally doing. It works fine with most projects.

However, trying to cross-compile projects that use the `AutoToolsBuildEnvironment` fail because the `AutoToolsBu

[2021-08-30 15:38] memsharded commented on #9499
Yes, that is possible, the legacy generators as ``AutoToolsBuildEnvironment`` use information only from ``deps_cpp_info``, and they rely on the fact that the environment will be defined. If some autotools build scripts do not read and use the ``SYSROOT`` env-var, to avoid overwriting it with its local information, it is possible that it is not fully working.

These issues might be difficult to cha

[2021-08-30 15:43] max-ag commented on #9499
Makes sense. I'll have a look at the new integrations. Thanks.

[2021-08-30 16:20] #9300 closed, assigned to nobody

[2021-08-30 16:20] #9362 closed, assigned to SSE4

[2021-08-30 16:20] #9461 closed, assigned to memsharded

[2021-08-30 16:21] memsharded commented on #9461
https://github.com/conan-io/conan/pull/9370 implemented this, will be in 1.40

[2021-08-30 16:23] memsharded opened #9501 "Make VS2022 use ``msvc`` as the default detected compiler in the profile"
We can add as it is experimental, the detection of VS 2022 as ``msvc`` compiler instead of ``Visual Studio``. That might help in improving this new setting, and its support, specially in the new integrations.

[2021-08-30 16:42] arttet commented on #9461
Hi @memsharded

Sorry for my late response. It is good news.
However, I thought the problem was related to the latest version of `MSVC`. But I still have trouble when I use the compiler option as `msvc`. Should I create a new issue?

[2021-08-30 16:54] memsharded commented on #9461
Yes, sure, please create a new issue for this. Also, note that ``msvc`` compiler will only be supported in the new build system integrations: https://docs.conan.io/en/latest/reference/conanfile/tools.html, it is not expected that it will be supported in the other, legacy ones.

[2021-08-30 17:02] Makogan commented on #9496
@memsharded How can I check which generator I am using?

This is how I declared the generator:

`generators = "pkg_config"`

[2021-08-30 17:03] memsharded commented on #9496
Yes, please use:

[code]

you can get more info in this reference page: https://docs.conan.io/en/latest/reference/conanfile/tools.html

[2021-08-30 17:03] Nipheris commented on #9108
Hi @memsharded ,

By the way, what is your recommended approach to configure `bindirs`/`libdirs` in `layout()` method in the absense of logic like `conan_output_dirs_setup()`? For example, we tried to use this one: `self.cpp.build.components["foobar"].libdirs = ["src/foobar"]` to point to the corresponding directory in the build tree, but, surprise!, it depends on CMake generator used. Multi-confi

[2021-08-30 17:11] memsharded commented on #9108
Hi @Nipheris

It is not possible to make ``layout()`` agnostic of the CMake generator used, because that generator is exactly the build system to be used, and every build system has a very different layout. We had to factor this in our own ``cmake_layout()`` implementation in https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html.

The general idea is try to use the native, natural

[2021-08-30 17:21] arttet opened #9503 "[question/bug] MSVC compiler setting"
I read about a new [compiler setting](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html?highlight=msvc#msvc). So I was trying to use it. But there are some problems. I have prepared the [branch](https://github.com/arttet/reproduce-bugs/tree/bug/msvc-14.29) with my changes. I used those changes locally, but Conan couldn't find a compiler correctly. Did I use this setting corr

[2021-08-30 17:29] Makogan commented on #9496
Now I get this error:

[code]

I also tried changing things to use:
[code]

Instead, but I get the same error.

[2021-08-30 17:31] memsharded commented on #9503
Hi @arttet

I am a bit confused, you are talking about the ``msvc`` compiler, but your install command is:

[code]

Which means that you are trying to use clang? Or maybe you didn't update the branch build.sh/readme?

[2021-08-30 17:35] memsharded commented on #9496
Just to make sure, which Conan version are you using?
Also, what kind of requirement is ``expat``, a regular ``requires``?

[2021-08-30 17:54] Nipheris commented on #9108
@memsharded Bingo! `cmake_layout()` looks like the missing part of the puzzle). Thanks a lot!
But this is just a useful default for simple projects, because it doesn't deal with components, for example. Anyway, we will use it as the template to define our own `layout()` with components in mind.

I think we need some utility functions like [`get_generator`](https://github.com/conan-io/conan/blob/4f

[2021-08-30 18:17] Makogan commented on #9496
This is what I see in the terminal:
`Conan version 1.39.0`

expat is not explicitly required it might be a dependency of the explicit dependencies:

[code]

[2021-08-30 18:25] Sil3ntStorm commented on #8987
Sorry for the late reply @memsharded. I am basically extracting the required conan information into a json object with whatever configuration is currently being processed. That then gets saved to disk and loaded at the start of the run, updating the object with the currently processed configuration. At the end of the run that updated json object (now containing all prior processed configurations)

[2021-08-30 19:06] raphaelzulliger commented on #9494
Thanks for that interesting links (build context, suffix, ...) as well as the creation of the toolchain file! That was all new to me. It all makes very much sense and so I adopted these techniques to my repo.

With these changes, I'm almost there! `protoc` is now be found correctly, but the `grpc plugin` is not yet (`grpc_cpp_plugin_location` is set to `GRPC_CPP_PLUGIN_PROGRAM-NOTFOUND`). I expect

[2021-08-30 22:54] #9465 closed, assigned to uilianries

[2021-08-30 22:55] memsharded commented on #9465
https://github.com/conan-io/conan/pull/9502 adds clang 13 to default settings, will be in next 1.40

[2021-08-30 22:58] memsharded commented on #9108
Yes, the idea is to mature first the main helpers like CMakeToolchain, etc., and as we internally factorize the utility functions, we will make them available, but better wait until things stabilize a bit more before publishing them.

[2021-08-31 00:24] #9501 closed, assigned to SSE4

[2021-08-31 00:47] edahlseng commented on #9479
Hi @memsharded, thank you for the response.

Indeed, I see that `options` are not evaluated at `set_name()` time. I had included that in my example above to show my final intent, but had been testing without it as I tried to figure out what was going on. It seems that the build was still re-running even when I used the same package name.

Based on your suggestion I've split the conanfile into two

[2021-08-31 00:47] #9479 closed, assigned to memsharded

[2021-08-31 04:40] zuowanbushiwo commented on #9494
Hi  @memsharded

Thank you for your reply, I learned more from it。

Can you further explain the role of build_context_build_modules? I didn't understand the explanation in the document, and I also read test_build_context_protobuf.py, but I still don't understand it. Take protobuf as an example. What is the impact of adding or not adding  deps.build_context_build_modules = ["protobuf"]  this code?

[2021-08-31 07:16] lasote commented on #9412
Cannot reproduce either 😢 I've tried with that configuration and downloading the revision you mentioned.

[2021-08-31 08:55] zuowanbushiwo opened #9505 "Clang with MSVC-like cross build for windows bin from ubuntu have configuration confusion"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Use the following [dockerfile ](https://github.com/nephatrine/docker-nxbuilder/blob/windows/Dockerfile.msvc)to build a cross-compiled windows program image, based on clang + wine + msvc tools：
<details>
<summary>DockerFile View</summary>
<pre><code>
FROM nephatrine/nxbuilder:ubuntu
LA

[2021-08-31 09:33] dmn-star commented on #9450
The same problem https://github.com/conan-io/conan-center-index/issues/6767#issuecomment-907825364 but easy to fix in your setup. Put C:\msys64\mingw64\bin first.
...
PATH=[ C:\msys64\mingw64\bin, C:\msys64\usr\bin]

[2021-08-31 09:45] asarayev opened #9506 "[bug] Conan workspace ignores shared option"
* Operating System+version: Ununtu 20.04
  * Compiler+version: clang5
  * Conan version: 1.33.1

I have a workspace with a few packages and one of them is supposed to build into a shared library. In the `conanfile.py` for this package I have
[code]
When I build it as a single package everything is fine but when I create it as part of the workspace it is built into a static library. I see in the lo

[2021-08-31 10:00] dmn-star commented on #9505
When I use conan under windows with clang-cl, my profiles look like this.
...
compiler=Visual Studio
**compiler.toolset=ClangCL**
...
It's worth a try.

[2021-08-31 10:05] lasote commented on #8703
**Note:**  Supporting object files won't fix this issue because it would require replacing the "/" to "-" as we did, but it would break again all the people using these flags to point to object files (we cannot force to use the new feature yet). So this issue will be solved probably on Conan 2.0 when we force the users to use the new feature to declare object files and we introduce the replacement

[2021-08-31 10:38] voodooattack commented on #9412
That is really odd. Is there any way I can help from my end?

[2021-08-31 11:03] memsharded commented on #3230
It seems that for this very problematic use case, of a vendor of closed source signed binaries, it is very likely that users will actually control the consuming recipes.

@sourcedelica suggestion to add "shared" specification: https://gitlab.kitware.com/cmake/cmake/-/issues/18052, is related exclusively to CMake, while at least the original issue was reported for Autotools. it might still help for

[2021-08-31 11:17] memsharded commented on #8987
Ok, great @Sil3ntStorm, yes that sounds very similar to what we are doing in the other multi generators, basically accumulating the result of multiple calls. Thanks for the feedback!

[2021-08-31 11:17] memsharded commented on #9479
Great, thanks for the feedback @edahlseng !

[2021-08-31 11:31] memsharded commented on #9496
Hi @Makogan

Sorry for the confusion. I have realized this is working in our develop branch, but is a bug that is still existing in Conan 1.39 and is being fixed in Conan 1.40 (to be released next Monday most likely).

This is the PR that fixed it: https://github.com/conan-io/conan/pull/9341

[2021-08-31 11:35] AngryPenguinPL commented on #9465
Thanks

[2021-08-31 11:42] memsharded commented on #9496
Verified that this works with the layout() above and the new ``PkgConfigDeps`` in 1.40, so this can be closed as solved, keep tuned to the release.

Please do not hesitate to report or ask any other question you might have. Thanks!

[2021-08-31 11:42] #9496 closed, assigned to memsharded

[2021-08-31 11:48] memsharded commented on #9302
Hi @gsemet

I am checking this feature, and there is an issue that makes it challenging:

If we map ``--build-require-override="sometool/1.2.4@dev/testing"`` to a profile:
[code]
The problem is that it will be injecting that build require to every package in the graph. That might not be the desired behavior, right? This might be alleviated by something like --build-require-override="mypkg:sometool

[2021-08-31 12:04] memsharded commented on #9506
Hi @asarayev

That is unexpected, yes. I have been checking the code, and so far cannot reproduce it, there seems to be nothing intrinsic to the workspace that would change such option value. We would need more details, something like a minimal reproducible case in a zip or github repo would really help.

Also, please beware that workspaces is an experimental feature, that hasn't been getting any

[2021-08-31 12:05] zuowanbushiwo commented on #9505
@dmn-star
Thanks， I just tried it and it still doesn't work。

Profile  1:
[code]

Error outPut1：
[code]

Profile 2：
[code]
error output 2:

[code]

[2021-08-31 12:52] asarayev commented on #9506
Hi @memsharded

I've quickly created a [new repo](https://github.com/asarayev/test_workspace) for this. So if I build `test_package` as a standalone conan package, it creates a shared library. And if I create it from workspace it creates a static library. And I don't see a way how to force it to create shared library from workspace.

[2021-08-31 13:00] gsemet commented on #9302
Our use case is indeed a bit simpler, since it is for a test build, injecting this build_requires for all the graph, and dependencies that would be eventually rebuilded, is the intended behavior.

An analogy is the following one: new version of gcc or cmake is available. Would it make sense to only test it on a single package or on the whole graph ? At the end the graph is "tainted" with this vers

[2021-08-31 13:12] Carsten87 commented on #9302
We are also interested in this feature. For our use case it would also be sufficient to replace the build requirement for the whole graph.

We have some packages we derived from the official (conan-center) ones but with some changes to the recipe (those changes are very specific and it makes no sense to contribute them back to conan-center). To differentiate from the official package we append a `

[2021-08-31 13:20] blackliner commented on #8303
@jgsogo holy smokes, took me some strokes to figure that out... So basically it works because this line:

https://github.com/conan-io/conan-center-index/blob/master/recipes/protobuf/all/conanfile.py#L235
[code]

is called **FIRST** for the `build_requires`, so it **APPENDS** the `bindir` to the **PATH** env. After that, the "normal" `requires` also **APPENDS** to **PATH**, but since `find_program(

[2021-08-31 13:23] blackliner commented on #8303
@anton-danielsson 's work? nice!

[2021-08-31 14:49] memsharded commented on #9506
Hi @asarayev

Thanks for your reproducible case, it really helped to identify what is happening.
The problem is the ``cmake`` integration uses a lot of configuration passed in the command line from the ``build()`` method. When the ``build()`` method is not called directly, because you are in a workspace, this configuration will not be passed.
This is the case of the ``BUILD_SHARED_LIBS`` cmake var

[2021-08-31 18:52] feelingnothing opened #9507 "flac 1.3.3 build failed"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10 1809 (17763.2145)
  * Compiler+version: GCC10
  * Conan version: 1.39.0
  * Python version: 3.9.6

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-08-31 19:09] dmn-star commented on #9507
You have to link against libssp.

[2021-08-31 19:22] Makogan commented on #9496
Thank you very much James, I will check the feature out when the next version comes out.

[2021-08-31 19:30] dmn-star commented on #9505
Profile 1
Probably because you called *linux* cmake. But *windows* cmake will also not work, because  you don't have VS installed.

[code]

https://gitlab.kitware.com/cmake/cmake/-/issues/22082

[2021-09-01 03:00] playgithub opened #9508 "[question] How to make option `shared` true by default when using conanfile.txt?"
How to make option `shared` true by default?

Because a header only lib doesn't support option `shared`, it can't be set in profile.
For preference, how to make option `shared` true by default?

[2021-09-01 03:52] #9488 closed, assigned to nobody

[2021-09-01 04:44] zuowanbushiwo opened #9509 "[question] How to pass cmake define parameters to conan_cmake_toolchian_file"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When cross-compiling, I specify the CONAN_CMAKE_TOOLCHAIN_FILE variable in  iprofile's  [env] . If there are some self-defined parameters in this toolchain file,  how do I pass them, especially when using conan install  command compiling  requirements dependent libraries?

I currently

[2021-09-01 04:48] czoido commented on #9508
Hi @playgithub,
You can configure the default options [as a dictionary](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=default_options#default-options) like:

[code]
You can also use the [configure() and config_options() methods](https://docs.conan.io/en/latest/reference/conanfile/methods.html#configure-config-options) to adjust the options based on rules, like for e

[2021-09-01 05:00] playgithub commented on #9508
Sorry, the question is not clear enough.
How to make option `shared` true by default when using conanfile.txt?

[2021-09-01 05:06] czoido commented on #9508
Hi @playgithub,
You can [set the option in the conanfile.txt](https://docs.conan.io/en/latest/reference/conanfile_txt.html#options) like this:

[code]

[2021-09-01 06:17] lasote commented on #9448
To discuss:

- About the bitcode: We could add a `[conf]` entry and improve the `CMakeToolchain` to set the corresponding variable. I suggest `"tools.darwin:bitcode_generation_mode": "Activate the bitcode generation in OSX platfom: 'marker', 'bitcode'"`. I wouldn't couple it to CMake because it is a clang option on Darwin that could be used by other generators. Actually the [CMAKE_XCODE_ATTRIBUTE_

[2021-09-01 06:42] lucabonifacio opened #9510 "[question] Define aliases that depends on settings and options"
It possible to define alias packages that use the settings and options to define the target packages?

My first approach, would be, for being able to get access to the `settings` and `options` when Conan is loading the recipe, to re-define the attribute `alias` as a property using python decorator `@property`. By doing this, the `self` context is accessible. Here the recipe for the alias.
[code]

[2021-09-01 07:29] playgithub commented on #9508
Because I prefer `shared=True`, I'd like the default value to be `True`, any way?

[2021-09-01 07:39] czoido commented on #9508
Hi @playgithub,
I don't know if I'm understanding your use case. If you want to set the default for a library you have to set that in the library's recipe like [explained in the first comment](https://github.com/conan-io/conan/issues/9508#issuecomment-909881601). If you are [using a conanfile.txt](https://github.com/conan-io/conan/issues/9508#issuecomment-909891347) you can set the shared option t

[2021-09-01 07:53] slietzau commented on #9302
For our use-case a simple `--build-require-override="mypkg:sometool/1.2.4@dev/testing"` would help us solve the issue at least.

To be more specific:
We patch `msys2` and inject our company ssl certificate. To differentiate our version from the official version we publish it as `msys2/latest@company/stable`.  Now if I want to build anything using `msys2` as build_requires, the official version is

[2021-09-01 08:17] lasote opened #9511 "[feature] CMakeDeps different namespace and name for the global target"
According to the documentation, the property:

[code]

1) It is not the best UI, not easy to understand without reading the docs.
2) There is no way to create a "global" target with different `namespace::name`
3) There are packages like `pybind11` containing modules that declare the global target itself, linking with targets from the components, but not with all of them. In these cases, it would b

[2021-09-01 08:27] ghost opened #9512 "error as compiler not defined for compiler.libcxx"
[code]

C:\Users\Z0108306\Desktop\ ConanExample\build>conan install ..

ERROR: compiler not defined for compiler.libcxx

Please define compiler value first too

[2021-09-01 08:28] ghost commented on #9512
tried to update conan gcc and also updated env : CC, C++ ,still getting error as compiler not defined for compiler.libcxx .please , anybody catch me in this issue

[2021-09-01 08:37] playgithub commented on #9508
`*:shared=True` is ok
Will `*:shared=True` lead to failure if some lib doens't have option `shared`?

[2021-09-01 08:53] czoido commented on #9508
No, the option should be ignored if the recipe does not add it.
I'm closing the issue as the problem seems solved, please feel free to reopen if you have further questions.

[2021-09-01 08:53] #9508 closed, assigned to nobody

[2021-09-01 08:54] memsharded commented on #9510
Hi @lucabonifacio

No, it is not possible. Alias recipes are not evaluated, they do not get settings and options, they are to be used as a "static" pointer, not a dynamic one. Are you saying that the above is working for ``self.settings.os`` but not for options? I don't think it does.

Alias recipes is a tricky feature, we recently had to introduce a new syntax to help resolving them, because they

[2021-09-01 09:00] franramirez688 commented on #9512
Hi @botla04
The problem is the order, you have to define the compiler at first:
[code]
By the way, this `build_requires=cmake` is wrong, please, have a look at [this piece of documentation](https://docs.conan.io/en/latest/reference/profiles.html#profile-composition).

[2021-09-01 09:47] czoido commented on #9003
Hi @jellespijker,
As I can see in your log, you are adding as `build_require` _cmake_ for both _build_ and _host_ profiles, that will add it as a `build_require` for all the dependencies and I think that's causing a loop. Could you please try to remove _cmake_ as `build_requires` from your _build_ profile and check if that solves your issue?

[2021-09-01 09:54] ghost commented on #9512
thanks @franramirez688  , but how to define compiler at the first

[2021-09-01 09:56] memsharded commented on #9448
Yes, probably ``"tools.darwin:bitcode_generation_mode"`` => ``tools.apple:...`` to be more aligned with our namespaces.

I have been trying to push the idea of generic CFLAGS, CXXFLAGS injection via ``[conf]`` for all integrations that will listen to them. Maybe it would be better to solve the generic flags problem?

[2021-09-01 09:59] franramirez688 commented on #9512
It's like a put in my previous comment:
[code]
Notice the `compiler=gcc` is defined as the first one.

[2021-09-01 10:17] memsharded commented on #9509
Hi @zuowanbushiwo

Just a note, please take into account that there are new integrations for all build systems, specifically for CMake: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html. They way they use toolchain files, is different. The new ``CMakeToolchain`` has a ``variables`` attribute that allows to define arbitrary CMake veriables into the generated toolchain file. User

[2021-09-01 10:23] RudolfNetzel opened #9514 "[bug] Possible issue with property sheet generation"
Recently, after an update from conan v1.34 to v1.39, I encountered an error regarding generated property sheets for Visual Studio. Here, property sheets could not be found since they were not generated and Visual Studio is trying to load them. Just like before the update, I only add ‘conandeps.props’ which will then load all other ‘.props’.

I tested it using a simple example in which the conenfil

[2021-09-01 10:29] ghost commented on #9512
@franramirez688
yes , i gone through that but still facing same issue
error : compiler not defined for compiler.libcxx
please define compiler value first too

[2021-09-01 10:29] memsharded commented on #9514
The conditional includes are not showing on your issue above, could you please check it?

We have been changing the internals of MSBuildDeps and other generators, it is possible that this is a bug.

[2021-09-01 10:40] db4 opened #9515 "[question] Allow omitting channel from a package name?"
Since using channels to promote packages is discouraged in favour of repo to repo move I would like to get rid of channels for my private packages. But I would like to retain user field to differ them from everything else. Something like `package/1.0.0@user`. Looks like it's not possible now - one either has to use `package/1.0.0` or `package/1.0.0@user/channel`. Am I right? If yes, maybe supporti

[2021-09-01 10:42] memsharded commented on #9514
Trying to reproduce with the following test:
[code]

The private dependencies are not added to the ``conandeps.props`` file, seems to be working fine here.

[2021-09-01 10:46] memsharded commented on #9512
Can you please post your new ``conan profile show default`` result?
It seems there is also something else wrong in your profile with ``build_requires=cmake`` in the settings section.

[2021-09-01 10:54] memsharded commented on #9302
@slietzau

No, alias feature is not intended for that case, not recommended here.

For your use case, it seems ``--build-require-override`` will not be the way, but instead to define it in your profile files. As profile files  can be included and concatenated, you could have a specific ``build_requires_profile.txt`` with something like:

[code]

To have it overriden and injected in the dependencie

[2021-09-01 11:07] zuowanbushiwo commented on #9509
Hi  @memsharded
In cross-compilation scenarios, such as Apple OS (ios, macos, tvos. .) ， able to use this super good [ios.toolchain.cmake](https://github.com/leetal/ios-cmake/blob/master/ios.toolchain.cmake)，A PLATFORM variable is defined in this file, which can take the following range of values。
[code]
If I only  use cmake to compile, I can specify it like this:
`cmake   ..   -DCMAKE_TOOLCHAIN_F

[2021-09-01 11:17] botla04 commented on #9512
hi @memsharded

[requires]

[generators]
cmake

[settings]
os=Windows
os_build=Windows
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.libcxx=libstdc++11
[options]
[conf]
[build_requires]
[env]
CC=C:\MinGW\bin\gcc.exe
CXX=C:\MinGW\bin\g++.exe

this is my conanfile.txt

then run command as >conan install ..
still the errror is same as
compiler not defined for compiler.libcxx

[2021-09-01 12:16] memsharded commented on #9515
Yes, this will make sense for conan 2.0, I think it was discussed that it will be allowed to drop only the channel.

[2021-09-01 12:59] RudolfNetzel commented on #9514
In our case the conandeps.props looks also fine, there is only one expected import condition:
Import Condition="'$(conan_PACK_A_props_imported)' != 'True'" Project="conan_PACK_A.props"

I think the problem is within the conan_PACK_A_debug_x64.props.
The conan_PACK_A_debug_x64.props now contains the following conditional includes:
Import Condition="'$(conan_PACK_B_props_imported)' != 'True'" Projec

[2021-09-01 13:09] anton-danielsson commented on #8303
@blackliner I have also had some pretty intense wrestling matches with CMake, Conan, Protobuf and cross-compiling.
Don't mention GRPC... :D

But yes, it's the line you mention together with the fact that `find_program` in find protobuf prefers the path (`PATHS ENV PATH NO_DEFAULT_PATH`).
https://github.com/conan-io/conan-center-index/blob/master/recipes/protobuf/all/conanfile.py#L127

I'm not sure

[2021-09-01 14:59] sivaram327 opened #9518 "Attempt to modify locked"
currently im working with multibuild pipeline. actually i have 2 applications, it has some common and individual dependencies.
1. 1st i created base lockfile app1 then i created two lockfiles for release and debug configuration

2.i created other base lockfile for app2 then i created two lockfiles for release and debug configuration.

3. bundle the release configuration and i got the build order f

[2021-09-01 15:00] memsharded commented on #9514
Ok, that makes sense. Yes it is a bug, ``private`` dependencies are not being fully managed yet by the new generators like MSBuildDeps.

I have proposed a fix for 1.40 in #9517, to be released hopefully next Monday, thanks for reporting!

[2021-09-01 15:58] dev-789 opened #9519 "[question] Intended Way of Customer Delivery"
I am currently looking a little into how we can deliver a product to a customer. The project is based on Conan and the question can be explained with the standard CI example:
[Conan Lockfiles and CI](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#lockfiles-in-continuous-integration)

The project does host a set of libraries plus an application built out of the lib, the dependency man

[2021-09-01 16:51] memsharded commented on #9484
Ok, I see what the problem is. The lockfile cannot capture or lock the requires or build_requires of test_package folders, because those folders and requires are completely outside of the graph. When computing the dependency graph that is being locked, the ``test_package`` of ``curl`` simply doesn't exist at all, so it cannot be locked.

This could have a partial solution or workaround if moving t

[2021-09-01 18:20] #9507 closed, assigned to nobody

[2021-09-01 19:01] ericriff commented on #8303
I'm a bit late to the party, but this is how we're calling protoc it from the CMake side
[code]
`Protobuf_PROTOC_EXECUTABLE` is one of the CMake variables that the official `findProtobuf.cmake` provides and has been added to the recipe in an update a few months ago.

[2021-09-02 06:47] lasote commented on #9448
I think yes, we should at least start by supporting something generic like cflags and see later if we create specific [conf] entries for higher-level stuff.

[2021-09-02 06:47] lasote commented on #9448
I'm moving this to Done as the look into of 1.40 and assigning to 1.41.

[2021-09-02 06:55] n-eq opened #9521 "[bug] Cross-compiling for armv8 but Clang uses --target=armv7-none-linux-androideabi22"
Hello,

I am trying to cross-compile a library to both Android armv7 and armv8 platforms. The first one builds correctly, but when compiling for arch armv8 I noticed clang calls `-march=armv7-a` and `--target=armv7-none-linux-androideabi22` in its command line (see the full log below).

Here's the profile I am using (Android NDK 23.0.7599858, api level 22)
[code]

### Environment Details (include

[2021-09-02 07:26] lasote commented on #8703
Related: https://github.com/conan-io/conan-center-index/pull/6083/files#r663360956

[2021-09-02 08:15] ghost commented on #9396
@aniketh-varma Sorry for the confusion, but I won't be able to end this task in a reasonable period of time - take it if you still interested

[2021-09-02 08:45] #9511 closed, assigned to lasote

[2021-09-02 11:09] KerstinKeller commented on #9484
Hi @memsharded,

thanks for the elaborate answer.
It makes a lot of sense, and I kind of figured that it is most likely the case that the `test_packages` are not considered during the locking stage.
And I feared, that conceptually, it might not be possible to resolve the issue at the moment.

Yes that is the case, and that is why we only noticed last week, when doing bulk changes to a lot of recip

[2021-09-02 12:10] yoav-klein commented on #9486
Hi @memsharded , any new?

[2021-09-02 12:22] #9514 closed, assigned to memsharded

[2021-09-02 12:36] memsharded commented on #9486
Hi @yoav-klein

I am not sure the Custom Base URL is used in that way for the routing when running in localhost. It could be possible that some firewall or other stuff in the server is blocking something?, this is the reason I suggested to try first with a local ArtifactoryCE in the client machine, which requires zero configuration, just unzip and double click to start it, then use the "SetMeUp" b

[2021-09-02 12:37] Hopobcn commented on #6244
@memsharded sorry for the late reply, I've been on vacations lately and didn't want to touch my computer :-P. I will try to update my PR but cannot say If I will have much time to dedicate to this. Other than that, your proposal seems good to me.

[2021-09-02 15:35] lasote commented on #9510
I think it would be pretty complex for the value.

[2021-09-02 16:47] memsharded opened #9524 "[idea] Enable the creation of package with ``create`` instead of ``export-pkg`` for packages with ``build_policy = "never"``"
The ``conan_file.build_policy = "never"`` was introduced as experimental in 1.37, to indicate these packages cannot be built from sources, they have their binaries "export-pkg"ed.

- The ``export-pkg`` command does not support ``test_package``, so if testing is desired (why wouldn't it), it is necessary to call ``conan test`` manually.
- It will probably share a bunch of code with the normal ``con

[2021-09-03 06:42] lasote commented on #9486
Hi, it looks definitely like a network configuration. Check that the port the Artifactory is running is 80 (the default is 8080 and in the traces you pasted looks like the client is trying to connect to 80) doing a curl:

`curl http://localhost/artifactory/api/conan/conan-test`  or `curl http://YOUR_IP:YOUR_PORT/artifactory/api/conan/conan-test`

It should return a json like:

[code]

If it works,

[2021-09-03 06:59] lasote commented on #9519
Hi!
I think the current implementation of the lockfiles, as you described, is not prepared to be updated with another set of libraries. I can't really suggest anything else, but maybe using different Artifactory repositories for the releases containing the specific versions of the application and its dependencies.

Anyway, @memsharded knows more about lock files and has been working on a new lock

[2021-09-03 07:17] yoav-klein commented on #9486
@lasote, where is it documented that you must run Artifactory on port 80? @memsharded

[2021-09-03 07:36] yoav-klein commented on #9486
@lasote, @memsharded , seems that this was solved by merely deleting the "Custom Base URL" setting in Artifactory. Is that the correct way? What is this setting good for anyway? references please.

[2021-09-03 07:51] lasote commented on #9486
Nowhere, you can run it where you want. I was just noticing that the error trace you pasted was using the 80:

`Error uploading file: conanfile.py, 'HTTPConnectionPool(host='52.215.203.143', port=80):`

Great!!

Yes, you are good without a "Custom Base URL". Here are some docs: https://www.jfrog.com/confluence/display/RTF6X/Configuring+Artifactory

Just note that we are not experts in Artifactory

[2021-09-03 08:39] yoav-klein commented on #9486
Thanks @lasote @memsharded

[2021-09-03 08:39] #9486 closed, assigned to nobody

[2021-09-03 09:27] lasote commented on #9524
+1

[2021-09-03 09:54] lasote commented on #9506
We should investigate if replacing `add_subdirectory` with [ExternalProject_Add ](https://cmake.org/cmake/help/v3.21/module/ExternalProject.html) gives us the possibility of declaring the toolchain for each subproject.

Using the `CMAKE_ARGS` you can pass a `-DCMAKE_TOOLCHAIN_FILE`

[2021-09-03 10:09] franramirez688 commented on #9512
@botla04 any news on that?

[2021-09-03 15:19] blackliner opened #9527 "[feature] enable offline working"
We use `conan` for automotive SW development, and we need to be able to work offline. Currently if you work offline you get the following error:
[code]
When you follow the suggested solution to disable the remote, you get this errormessage:
[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-09-03 15:29] memsharded commented on #9527
Hi @blackliner

This only happens when the necessary recipes are not in the local cache. If the recipes you need for the command are already installed and you are not trying to ``--update``, you shouldn't get this message, the server shouldn't be hit. There might be some use case, maybe with revisions, that this could happen. Could you please provide a reproducible case, so we could investigate th

[2021-09-03 15:36] blackliner commented on #9527
All the recipes are from the repo (in source recipes) and build seconds before with internet. I will try to come up with an example.

[2021-09-04 08:21] daravi opened #9529 "[question] How to add runtime-only environment variables"
Hi is it possible to append only to the run environment? Adding to `env_info` results in the environment variable being added to the virtual environment. But I only need the variable at run time so I need it in the virtual run environment.

In my `environment.sh.env` file I see some variables that are required only for runtime and not in compile time. But I don't see a way for the Conan recipe aut

[2021-09-04 11:14] memsharded commented on #9529
The new environment management implements this:

- Add ``self.runenv_info.append("MYVAR", "MYVALUE")`` to your ``package_info()``
- Use the ``VirtualRunEnv`` generator, or better, auto-activate it with the ``auto_use`` [conf]
- Use ``self.run(..., env=["conanrunenv"])`` to run only with the defined run environment. The file is ``conanrunenv.sh``.

It is pending to properly document this, it is exp

[2021-09-04 13:34] dmn-star commented on #9521
This happens because ANDROID_ABI is not set and CMake uses a default setting.

[code]

I don't know how to pass cmake parameters to android toolchain. And whether that is even possible with conan. As a workaround, you can create several toolchains files. E.g. arm64-v8a.android.toolchain.cmake

include(path to /android.toolchain.cmake)

 and then use it with conan CONAN_CMAKE_TOOLCHAIN_FILE=arm64-v

[2021-09-04 13:37] dmn-star commented on #9521
On the other hand, here's another way you can build for Android. https://github.com/conan-io/conan-center-index/issues/4220#issuecomment-758486060

[2021-09-04 19:00] daravi commented on #9529
@memsharded Awesome thanks! Is `VirtualRunEnv` different from `virtualrunenv`? Also what do you mean by `auto_use`?

[2021-09-04 20:04] n-eq commented on #9521
Hi @dmn-star, many thanks for the comments.
I didn't find the three lines you mention:
[code]

However, I solved the issue by adding `ANDROID_ABI = "arm64-v8a"` to `CMake` class's `definitions` field before building.

[2021-09-04 20:04] #9521 closed, assigned to nobody

[2021-09-04 20:29] dmn-star commented on #9521
They are  in android.toolchain.cmake.

<img width="879" alt="android_toolchain" src="https://user-images.githubusercontent.com/52277783/132107268-37bbae72-05c9-4003-9884-551056b2439d.png">

[2021-09-04 21:46] memsharded commented on #9529
Yes, it is the new one, very different approach.

[code]
The description is not very good, it will be improved, but it means that it will generate VirtualBuildEnv and VirtualRunEnv if there are enviroment items by default. At the moment it is opt-in to make sure it is not breaking, but it will be enabled by default in Conan 2.0.

[2021-09-05 01:47] el-g-1 commented on #9382
I'm working on it.

[2021-09-05 05:58] dfontenot commented on #7795
Running into this issue when trying to install di/1.2.0. I have `CONAN_REVISIONS_ENABLED=1` since my conanfile for my project uses a dependency from bincrafters which requires this setting.

If I set revisions enabled in the conan config:
[code]

Slightly different error message if I don't set that config value but I pass in CONAN_REVISIONS_ENABLED=1 env var
[code]

The 404 is really strange becau

[2021-09-05 06:05] daravi commented on #9529
Got it. Thanks @memsharded !

[2021-09-05 06:15] daravi commented on #9529
@memsharded Should this syntax be possible similar to `env_info`?
[code]
(it doesn't seem to work)

[2021-09-05 08:29] n-eq commented on #9521
Yes, but apparently they were removed in NDK version 23.0.7599858, which is the one I'm using.

[2021-09-05 09:28] daravi commented on #9529
@memsharded Some follow up questions and feedback:
1) Putting the config in `conan.conf` I don't see any effects. The `global.conf` documentation says it should be in home directory but I think this should be in the Conan directory (`~/.conan`) correct? Also, putting this `global.conf` in my `~/.conan` directory:
[code]
I am getting this error when running conan commands:
[code]
Am I missing somet

[2021-09-05 10:05] daravi commented on #9529
Also it seems redundant (and confusing) to have to add `VirtualRunEnv` generator if I have `self.run(..., env=["conanrunenv"])` in my recipe. (the same way I didn't have to include any generator if I used `self.run(..., run_environment=True)`)

[2021-09-05 10:20] daravi commented on #9529
Nit. I guess I could open a separate ticket for these but using prepend_path I sometimes see `::` added between paths. (not just `:`) Specially when I have 2-3 elements in the list. Maybe they are adding the `:` on both sides?

[2021-09-05 16:46] akjoe1230 opened #9531 "[feature] SHORT DESCRIPTION"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-09-05 21:21] mcandre commented on #9295
@memsharded This is exciting news!

Which conan release version will include these changes?

[2021-09-05 21:34] memsharded commented on #9295
@mcandre Conan 1.40 to be released tomorrow contains the ClangCL necessary change in CMakeToolchain, but the independent clang should work with 1.39 too.

[2021-09-05 22:36] memsharded opened #9532 "Layout source folder when using ``source()`` to ``git clone`` a third-party fails"
- Layout defines source folder as ``src``
- Conan exports at least ``conanfile.py`` and ``conanmanifests.txt`` into the ``export`` folder in the cache
- The ``export`` folder in the cache is automatically copied to ``source/src`` in the cache.
- If the package tries to do a ``git clone <url> src`` to put the sources inside the ``src`` folder as the layout specified, it fails with "folder already e

[2021-09-05 23:37] memsharded opened #9533 "Default for new environment files regarding deactivate"
at the moment by default the "deactivate" files of new environment files is not generated. This was done to simplify and remove possible errors while releasing the feature, as for package creating not necessary.

For user flows it is inconvenient not having the deactivate scripts. Alternatives:

- Make it the default (generate deactivates). Opt-out.
- Make it the default, without opt-out (make it

[2021-09-06 02:14] yoav-klein opened #9534 "[question] Is there a (good) way to transfer packages into an air-gapped environment as files?"
Hello,
I'm working in an organization in an air-gapped network (no internet connection).
We do have a mechanism of transferring files inside the internal network though.
I was wondering if there's a way of packaging packages into some file format in order for them to be moved around easily
without the use of the Conan CLI?

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan

[2021-09-06 02:16] zh1an opened #9535 "[bug] libuv shared library is not working in QT."
### Environment Details (include every applicable attribute)
  * Operating System+version: windows 10
  * Compiler+version: msvc 2015 by QT Creator
  * Conan version: 1.38.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

`.pri` file:

[code]

`CONAN_LIBS += -llibuv.dll.lib -lPsapi -lWs2_32 -lIphlp

[2021-09-06 02:18] zh1an commented on #9535
`conanfile.txt`:
[code]

[2021-09-06 06:14] #9164 closed, assigned to czoido

[2021-09-06 06:42] lasote commented on #9532
I think the "exports" shouldn't go to the `src` because if you have sources you should use `exports_sources` right?
In case you have both `exports_sources` and a `git clone` (not likely but surely used) you probably need some [some trick](https://stackoverflow.com/questions/2411031/how-do-i-clone-into-a-non-empty-directory).

A test to make it fail:

[code]

[2021-09-06 07:31] lasote commented on #9426
Hi Michael! here Luis.

Might be a possibility to fix `G` (probably trying locally that it works with modified `E`) and push only the recipe to the git? It will fire the CI only for `G` and not using the E changes but when green you could relaunch the `E` build and re-test if now `G` is working. I know this is not ideal but I cannot think of anything else.
Let me know what you think.

EDIT: I real

[2021-09-06 08:00] lasote commented on #9533
I would simplify and generate them always without opt-out. We could introduce later the opt-out. About the opt-in, maybe is too hard for someone using conan local commands.

[2021-09-06 08:38] lasote commented on #9532
I noticed this in the `source.py`:

[code]

The answer to the # TODO is exactly this issue: it is trying to remove the `conanfile.py` and others to skip the errors cloning repositories. BUT as it is cleaning `src_folder` instead of `conanfile.source_folder` it was not cleaning anything.
So, I still think that the `exports` should go to the base directory but we could fix it if we keep it.
Let's ta

[2021-09-06 09:39] michaelmaguire commented on #9426
Yes.  That's exactly the issue, and exactly why our in-house system for building Linux packages based on dpkg has had this (much appreciated and well-used) feature for several years.  We're trying to catch up with our Conan-based system for Windows.

[2021-09-06 09:51] arttet opened #9537 "[bug] [clang] Wrong the runtime flag for requirements"
If you use `-s compiler.runtime=MT` or `-s compiler.runtime=MTd` with `Clang` on Windows, you will get the error:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows Server 2019
  * Compiler+version: Clang 12.0.0 with GNU-like command-line
  * Conan version: 1.39
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)
I have

[2021-09-06 10:07] lasote commented on #9426
I don't recall, are you using different git/svn repositories for different recipes/libraries, right?

[2021-09-06 10:11] michaelmaguire commented on #9426
We're using git exclusively.  Different repos for different packages, which may come from different teams.

[2021-09-06 12:06] llena1 opened #9541 "[bug] errors in conans\client\command.py after running `conan remove "*" -s -b -f`"
Hi, there's a rather big work project which libraries are set up with conan. Conan files have been taking a lot of space (110GB) and I followed advice from here to clean it up: https://stackoverflow.com/questions/50247671/repository-clean-up
After that `conan install` and `conan upload` commands result in similar errors.

### Environment Details
  * Operating System+version: Windows 10 Pro, 10.0.1

[2021-09-06 12:29] memsharded commented on #9541
Hi @llena1

It seems that your cache got corrupted at some point, could be a broken job or something similar.
The problem is that the traces are not showing which one is the corrupted one. Some things that you can try:
- If using a server (recommended) that could re-install binaries from, then, you could just remove the cache folder completely (and using ``conan config install`` to manage configur

[2021-09-06 12:51] playgithub opened #9542 "[question] What is the best way to patch cmake project to support conan?"
i.e. inject
[code]

template `conanfile.py` as below
[code]

but many project is as below, and the code above not work
[code]

I have seen a sample as below, it seems general, any better way?
[code]

[2021-09-06 14:43] playgithub opened #9544 "[question] Can't find rapidjson in conan"
The code below can find `RapidJSON` in Linux
[code]

But after wrapping for conan as below, it failed to find `rapidjson` in conan (`rapidjson` has been in conan cache)
[code]
Do I have to patch the original project about `rapidjson` so that `rapidjson` in conan cache can be found?
Is it also true for the way to use `rapidjson` in conan cache?

[2021-09-06 17:44] gdray-dev opened #9545 "[bug] cross-compile visual_studio generator does not use build requirements bin folders"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: visual studio (tested on 15 and 16)
  * Conan version: 1.39 (tested pre-release 1.40)
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
os = Windows
Create a host profile with arch  = x86
Create a build profile with arch = x86_64
Both profiles specify

[2021-09-06 17:55] gdray-dev commented on #9545
In my initial description, I failed to mention an even simpler case that shows this defect.  If a package is only listed as a build dependency then no link to the root folder of that package shows up at all in the props file when cross compiling.  This fact pretty much defeats the purpose of having a build requirement that only provides an executable used by the visual studio build (no headers or

[2021-09-06 18:17] sboehmann commented on #9542
In my experience, there is no general best way.

However, most of the time I use the last method.  So many times, that I wrote a helper method `create_cmake_wrapper` for that.

But for some projects this won't work. E.g. if they calculate something relative to the CMAKE_SOURCE_DIR. In that case I most often use real patch files (ultimately, I want to use only patches at some point).

[2021-09-06 22:08] memsharded commented on #9545
Hi @gdray-dev

It is definitely possible that the ``visual_studio`` generator is not fully implementing the 2 profiles approach. But it has already entered the "legacy" territory, and the new ``MSBuildDeps`` is already more evolved and powerful. We will focus dev efforts in this one from now on.

So far the ``build_requires`` in ``MSBuildDeps`` has not been considered, and it build_requires will b

[2021-09-06 22:10] memsharded commented on #9544
Provide your ``conanfile.txt``, and your commands to do the install, together with the output of all the steps. Or even better, provide a fully reproducible example. We need more information to reproduce, thanks.

[2021-09-06 22:11] gdray-dev commented on #9545
We are porting a number of x86 visual studio projects to use conan and build on x86_64 systems.  If at some point you have code that you would like beta tested, I would be willing to use and comment.  I am also looking at trying to code something up myself as this is going to be a blocker for porting some of our packages.  If you could give a high level view of the files and idea for the change, I

[2021-09-06 22:12] memsharded commented on #9542
All of that is obsolete now with new ``CMakeDeps`` and ``CMakeToolchain`` integration, which can achieve a transparent integration, no need to modify CMakeLists.txt anymore. You can have a look to the recently updated "Getting started": https://docs.conan.io/en/latest/creating_packages/getting_started.html

[2021-09-06 22:19] memsharded commented on #9545
I have scheduled a ``look_into`` this for next release, if we are lucky we could get some progress in a few weeks, I'll tell you here if there is a branch to be tested, many thanks for the offer!

Some tips:

- The right location to start implementing a test is here: https://github.com/conan-io/conan/tree/develop/conans/test/functional/toolchains/microsoft
- Examples can be found in https://github

[2021-09-06 22:19] gdray-dev commented on #9545
Sorry, I did not see your full response as I was writing my above comments.  We are only beginning with this project so MSBuildDeps or visual_studio is probably a wash. I will look at MSBuildDeps to see how we need to change our scripts.  We have a build team that needs to do command line builds but we also need to support developers using the Visuual Studio IDE.  This seemed doable with the visua

[2021-09-06 22:40] memsharded commented on #9545
Yes, some things that the MSBuildDeps can already do that visual_studio cant:

- it is multi-config, can handle Debug/Release switches in the IDE
- It is customizable, it can handle custom configurations (like ``ReleaseDLL``)
- It generates 1 .props per dependency (and one global one), so subprojects can add the specific dependencies they use, no more.
- The internal architecture is better, it wil

[2021-09-06 23:24] gdray-dev commented on #9545
Again, I need to look at MSBuildDeps but in the context of the visual_studio generator I imagined:

- In the case of cross build, either the root or bin folder of each build dependency has to be available.  Libs and headers obviously not.  The worst case we have right now is protoc where a plugin has to be specified on the command line and the plugin has to be specified by a full path, protoc will

[2021-09-07 00:58] ssrobins commented on #9349
I see that it's now building correctly with 1.40.0, thanks so much for the fix!

[2021-09-07 02:24] playgithub commented on #9544
My problem, I have not used `conanfile.txt`, but installed `rapidjson` manually, so no `conanbuildinfo.cmake` for my project.
However the error is that it can't find `rapidjson`, a little misleading.
I'll provide enough info for issues in the future.
Thanks

[2021-09-07 02:27] playgithub commented on #9542
Great!

[2021-09-07 02:27] #9542 closed, assigned to nobody

[2021-09-07 07:23] lasote commented on #9426
How are you managing the versioning?

[2021-09-07 07:35] playgithub commented on #9544
ways in native project to find and use rapidjson
[code]

for conan, `find_package(RapidJSON REQUIRED)` works, but `${RAPIDJSON_INCLUDE_DIRS}` is empty,
`target_link_libraries(${PROJECT_NAME} RapidJSON::RapidJSON)` works.

It seems that the original project still needs to be modified, doesn't it?

[2021-09-07 10:25] domfellner opened #9547 "[question] Resolve latest compatible set of versions for literal CI/CD"
Hi all,

I’m about to implement a literal CI/CD pipeline, so every commit (alternatively: every release) of any library should trigger a rebuild of the consumer application. We’re using SemVer and therefore model all requirements with version ranges like libA/[^1.0.0].

What I want to accomplish is that the latest comprehensive set of compatible versions is always used for this integration build.

[2021-09-07 10:29] daniel88ferreira opened #9548 "[question] conan fails to download when python_requires dependency is not on default repo"
Hello,

We are using the python_requires feature in conan 1.30.2 in some of our projects. But we noticed that `conan download` only searches for `python_requires` dependency from default repo (or the specified by `-r`) instead of scanning in all configured. This fails if `python requires` is on a different repo than the original packages -- something that happens a lot in our case.

Currently what

[2021-09-07 11:52] #9532 closed, assigned to lasote

[2021-09-07 12:12] michaelmaguire commented on #9426
We have all our packages set to using `[>=  ]` version ranges, so that our promotion candidate build pulls out the latest version available of each package in our stable Artifactory repo when initially constructing the first lockfile.

[2021-09-07 12:50] memsharded opened #9549 "Default ``cmake_layout()`` source folder"
This layout is assuming that the main library ``CMakeLists.txt`` is inside a ``src`` subfolder in the repo.

This is probably not the most common user layout, in which they will have a CMakeLists.txt in the root of the folder:

- How to model this?
- Should we change the ``cmake_layout()`` default to ``folders.source = "."``?
- Check implications of defining the root as source folder.

[2021-09-07 14:30] czoido commented on #3263
Hi @Aalmann,

Since version 3.21.2 Xray supports Conan packages. We have [just released a blogpost](https://blog.conan.io/2021/09/07/Conan-XRay-Integration.html) on how the basics of the integration works. I hope this is still useful for you.

[2021-09-07 14:30] czoido commented on #3263
I'm closing this one as this seems already addressed by the Xray integration.

[2021-09-07 14:30] #3263 closed

[2021-09-07 14:54] mpusz commented on #9549
A good reason for having a `CMakeLists.txt` file in the project root is that is used as an entry point for most IDEs. Having it in the `src` subdirectory could be problematic for some IDEs.

[2021-09-07 15:09] jwillikers opened #9550 "[bug] Documented expression for core:required_conan_version in global.conf doesn't work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 34
  * Compiler+version: GCC 11.2.1-1
  * Conan version: 1.40.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)

Add the following to `~/.conan/global.conf`.

[code]

Now run `conan install` for a project.

[code]

[2021-09-07 15:11] memsharded commented on #9550
I think the quotes are to be avoided, have you tried not using them?

[2021-09-07 15:15] jwillikers opened #9551 "[bug] conan config get doesn't use global.conf"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 34
  * Compiler+version: GCC 11.2.1-1
  * Conan version: 1.40.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)

Create a `~/.conan/global.conf` file with the following contents.

[code]

Try to get the configuration parameter with `conan config get`.

[code]

[cod

[2021-09-07 15:18] jwillikers commented on #9550
That works! Should the documentation [here](https://docs.conan.io/en/latest/reference/config_files/global_conf.html#global-configuration) remove the double quotes to avoid confusion?

[2021-09-07 15:26] takacsd opened #9552 "[bug] If the same dependency is in both `requires` and ` build_requires`, the default options might get overwritten."
Hi,

I have a library which is cross compiled for iOS (and Android).
My library uses `protobuf`, which means:
- the library itself needs the `protobuf` library (listed in **requires**)
- during compilation I need to run `protoc` (it compiles `.proto` files to `.h` and `.cpp`) which is part of `protobuf` (listed in **build_requires**).

This setup with host and build profiles works like a charm on

[2021-09-07 15:44] memsharded commented on #9551
Hi @jwillikers

Yes, this is known and expected. At the moment there is no CLI interface to the ``global.conf``, at the end of the day it is just a plain key=value file, not sure if we want to provide such interface. Maybe we want a command that just gives the full path to it to be opened in any editor?

[2021-09-07 15:45] memsharded commented on #9550
Yes, lets improve that part of the docs, moving this to the docs repo.

[2021-09-07 16:13] jwillikers commented on #9551
You're probably right that `conan config get` isn't very useful for this, but any easy way to validate / check the settings from `global.conf` that are in effect would be great. I figured that `conan config get` should work with `global.conf` because the documentation mentions listing values with the `conan config list` which is under the same sub-command.

Checking the global values might be more

[2021-09-07 18:23] YaminoYuki opened #9554 "[question] Setting environment variable inside package_info(self)"
I am trying to set an environment variable using conan, so I can have it inside the generated  environment.sh.env
one of the ways which worked for me is calling

`conan install . -e env_key = env_value `

but actually I want to do this inside conanfile.py, from my readings I find out that I should add the logic regarding this inside package_info(self):

`self.env_info.env_key=env_value`

but after

[2021-09-07 19:11] memsharded commented on #9554
Hi @YaminoYuki

I think there is a small misunderstanding: The ``package_info()`` contents is NOT used in the current ``conanfile.py``. It is only used in the consumers of that conanfile, other packages that contains a ``requires`` to this package.

If you want to activate an environment variable directly in your conanfile, you can do it in several ways:
- You can set the ``os.environ`` in python,

[2021-09-07 21:48] YaminoYuki commented on #9554
Thank you @memsharded  for answering my question, I am very new to conan and I believe that I have misunderstood many things ..  your idea has worked ..but still I want the variable that I have set to be in environment.sh.env .. how can I do that?
also regarding os.environ why do I need to clear it ?

[2021-09-07 22:28] memsharded commented on #9554
- ``os.environ``, if you set it, it will remain set, polluting the environment of all recipes, all packages, dependencies, etc. Maybe it is not used by other packages, but better not take the risk. In general this would be a dirty approach.
- You cannot modify the ``environment.sh.env`` from the same recipe, it is not doable, that file is strictly generated from dependencies.

If you want to explo

[2021-09-07 22:41] YaminoYuki commented on #9554
@ memsharded  Thank you  very much ...The general idea  now is  clearer for me ,  regarding your suggested ideas ..very interesting ! I need to go through them

[2021-09-07 23:40] gdray-dev commented on #9545
[conan_issue.zip](https://github.com/conan-io/conan/files/7124764/conan_issue.zip)

This may be more than you asked for but I hope it is useful.

1) The file hello\hello\hello.vcxproj has an example of how we hope to use executables from build requires inside of a vcxproj file.

For example from the GUI you right click on the file "data.proto" select properties and click on the "Custom Build Tool"

[2021-09-08 01:58] #9544 closed, assigned to nobody

[2021-09-08 02:03] playgithub opened #9555 "[question] With `CMakeDeps` and `CMakeToolchain`, the original project still have to be modified"
find and use rapidjson in native project
[code]

for conan, `find_package(RapidJSON REQUIRED)` works, but `${RAPIDJSON_INCLUDE_DIRS}` is empty,
`target_link_libraries(${PROJECT_NAME} RapidJSON::RapidJSON)` works.

So the original project still needs to be modified, doesn't it?

## Example

`CMakeLists.txt`
[code]

`main.cpp`
[code]

`conanfile.txt`
[code]

configure
[code]

[2021-09-08 02:44] playgithub opened #9556 "[idea] A simple design"
Inspired by *nix
* /usr/inlcude for header files
* /usr/lib for libraries
* /usr/bin for binaries
* /usr/share for data

`conanfile.txt` produces a file hierachy like
* /conan-for-project-A<arch>/<release|debug>/inlcude for header files
* /conan-for-project-A<arch>/<release|debug>/lib for libraries
* /conan-for-project-A<arch>/<release|debug>/bin for binaries
* /conan-for-project-A<arch>/<release|

[2021-09-08 04:22] cszabo2 commented on #7990
After some further investigation (I ran into the same issue with another package of ours, it looks like the ignore_case=False is probably just part of the problem. I managed to get things to work by simply moving things around.
Rather than using pattern="include/*", dst="../alien/lua", and src unspecified, I replaced the parameters like this:
pattern="*", "dst="../alien/lua/include", src="include"

[2021-09-08 06:48] YaminoYuki commented on #9554
@memsharded , I believe that I can also solve this by creating new profile with [env] correct ?

[2021-09-08 09:35] lalit-g-deepr opened #9557 "[bug] AWS CPP SDK (aws-sdk-cpp/1.8.130) build is corrupted"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: 19.16.27035.0 MSVC
  * Conan version: 1.33.1
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)
When I am using this conanfile.txt for getting aws libs of shared version I am getting error
C:\.conan\ac901c\1\source_subfolder\aws-cpp-sdk-core\include\aws

[2021-09-08 10:24] sduerr opened #9558 "[bug] [lockfiles] Option values set by consumers are ignored in some cases"
When a consumer of a build requirement changes the options of its build requirement, Conan does not build the build requirement and exits with an error.

The profile defines:

    [options]
    buildReqA:shared=True

The consumer recipe has:

    def configure(self):
        self.options["buildReqA"].shared=False

When building the buildReqA through the consumer, and build policy `missing`, Conan

[2021-09-08 10:59] sivaram327 opened #9559 "how to update multiple lockfiles with a new package"
i have a newly created package and different lockfiles. i can able to update only one lockfile, how to update both of them. there is any command to update.

im trying like this
conanClient.run(command: "lock update DentalComponents_release.lock DentalCAD_rel_update.lock")
conanClient.run(command: "lock update DentalCAD_release.lock DentalCAD_rel_update.lock")

but its not working. can you give any

[2021-09-08 11:01] #9559 closed

[2021-09-08 11:03] sivaram327 opened #9560 "how to update multiple lockfile with a new package information?"
i have a newly created package and different lockfiles. i can able to update only one lockfile, how to update both of them. there is any command to update.

im trying like this
conanClient.run(command: "lock update DentalComponents_release.lock DentalCAD_rel_update.lock")
conanClient.run(command: "lock update DentalCAD_release.lock DentalCAD_rel_update.lock")

but its not working. can you give any

[2021-09-08 14:33] puetzk opened #9561 "[bug] RequestsDependencyWarning: urllib3 (1.26.6) or chardet (3.0.4) doesn't match a supported version"
version constraints in conans/requirements.txt are inconsistent.

#9405 (629813b1a1c791022ee1b5e1a18b51fb110f4098) bumped up the urllib3 version to `>=1.26.6, <1.27`, but Left requests unchanged at `requests>=2.8.1, <3.0.0`

Ubuntu 20.04 packaged python3-requests 2.22.0, which [requires `urllib3>=1.21.1,<1.26,!=1.25.0,!=1.25.1`](https://github.com/psf/requests/blob/aeda65bbe57ac5edbcc2d80db85d010b

[2021-09-08 15:00] memsharded commented on #9561
Thanks very much @puetzk for reporting this. You are right, this needs to be bumped to ``requests>=2.25, <3.0.0``. Specially as the urllib upgrade was necessary from the security point of view, downgrading it wouldn't be an option, so lets upgrade the requests minimum version.

[2021-09-08 17:35] gdray-dev opened #9564 "[feature] .conan/data/<pkg> support for multiple build machines"
Our software build team asked a reasonable question about the use of Conan.  They have ~20 build machines and over time we would have a significant set of built packages.  Of course these will be pushed up to a Conan repo but the build machines are generic and might be required to use any package for a build.  For simplicity, it would be nice to just leave all the built packages on the machine rat

[2021-09-08 17:58] gdray-dev commented on #9564
After more search through the documents, I found the CONAN_CACHE_NO_LOCKS environment variable.  I had already seen that the local cache could be redirected as required.  Does the default setting of this variable "FALSE" enforce local cache locking generally as described in my request?  There is a comment of "not for production use".  Would that mean turning OFF locking would not be good for norma

[2021-09-08 18:49] memsharded commented on #9564
Hi @gdray-dev

Yes, there are some ideas here: https://docs.conan.io/en/latest/mastering/custom_cache.html, but that docs might be a bit outdated and not complete.

The important bits:

- The cache is not concurrent for the general case. It is simply too challenging. To give a reference you might be interested in Java Maven concurrent access story, see https://issues.apache.org/jira/browse/MNG-280

[2021-09-08 20:36] Artalus opened #9565 "[bug] [windows] virtualrunenv: The input line is too long"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: MSVC 142
  * Conan version: 1.34.1
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
Use conanfile with lots of dependencies.
<details>
  <summary>*conanfile.txt*</summary>

[code]
</details>

Install binaries for that conanfile:
[code]

Call created enviro

[2021-09-08 22:41] memsharded commented on #9565
Yes, this is right. Windows has so many annoying limitations:

- The env-var lenght is limited to 32k chars in theory, but all env-vars together.
- The ``set VAR=VALUE`` also has a limit in size
- The command line also has a character limit.
- The PATH env-var seems that might have some extra specific limits

There are some ongoing things that will help with this, like the cache of 2.0 that will a

[2021-09-09 06:12] jellespijker commented on #9003
Hi @czoido Sorry for the late response, the notification got buried under a lot of other notification. I tried your suggestion and that fixes it indeed. Thank you for your help.

[2021-09-09 06:20] czoido commented on #9003
Hi @jellespijker,
I'm very glad that it solved your issue. I'll close this now but pleas feel free to reopen or open more issues if you have any question about this or other topics.

[2021-09-09 06:20] #9003 closed, assigned to nobody

[2021-09-09 06:37] jellespijker opened #9566 "First property descriptor is not parsed when exporting conanfile"
### Environment Details (include every applicable attribute)
  * Linux 5.12.19-1-MANJARO
  * gcc 11.1.0
  * Conan 1.40
  * Python 3.9.6

### Steps to reproduce (Include if Applicable)
1. Create directory with a conanfile.py
2. Add a method decorated with a property descriptor after the class variables. See recipe below (Which is still WIP btw)
[code]
3. create package (used profiles can be found h

[2021-09-09 07:32] #9533 closed, assigned to memsharded

[2021-09-09 07:55] #9382 closed, assigned to nobody

[2021-09-09 07:58] memsharded commented on #9382
Merged. Will be released next 1.41.

[2021-09-09 08:01] memsharded commented on #9566
Hi @jellespijker

Yes, this seems a bug in the ``scm`` replacing.

Have you tried using the ``scm_to_conandata``? That will be the default in Conan 2.0, it is recommended, to avoid these issues (modifying the recipe source code is a hacky pattern).

Also, please read: https://docs.conan.io/en/latest/reference/conanfile.html. You shouldn't be using public attributes, methods or properties in your c

[2021-09-09 08:02] Artalus commented on #9565
This is sad :(
  The `environment_run.bat.env` from example above contains line `PATH=Y:\.conan\data\aeron\1.31.2\_\_\package\23e7c7685d71ba680d0dc79f577c375c54f37a06\bin;......;%PATH%` of length 23,517 chars alone...
  If there is sum-total  limit though, it might be useful to generate only `PATH=` for Windows: currently there are also `DYLD_LIBRARY_PATH` and `LD_LIBRARY_PATH` in said file too.

[2021-09-09 08:13] memsharded commented on #9565
I agree, that could be at least some quick wins:

- Avoid creation of the other variables in Windows
- Warn if length is above a threshold

I'd also encourage to test and validate this in the new ``VirtualBuildEnv``, ``VirtualRunEnv`` and ``Environment`` utilities. They are still experimental, but working great and they will replace the others (while the others there is risk of breaking things if

[2021-09-09 08:22] Artalus commented on #9565
I kinda feel this trio is slightly out of discussed scope - they are used in package recipes; there Python rules instead of Batch and the main problem (`set` / `cmd` input limitation) seemingly does not exist at all. My consideration was about the generators used by developers in their CLI workflow.

Am I missing something? We've been kinda frozen in stasis with regards to Conan developments for p

[2021-09-09 08:31] memsharded commented on #9565
I am not sure what you mean. I was suggesting that if we are going to do potentially breaking changes, we'd better try them first in these new generators, which will be the one replacing the others in Conan 2.0. These are generators that users can already use in CLI workflow with ``conan install . -g VirtualBuildEnv``, and its usage can be enabled by default with ``tools.env.virtualenv:auto_use=Tr

[2021-09-09 08:48] memsharded commented on #9555
Hi @playgithub

Yes, the integration works transparently if **modern** cmake is being used. So ``target_link_libraries(${PROJECT_NAME} RapidJSON::RapidJSON)`` works, but using bare variables doesn't. It is basically impossible to make it work transparently for every project if such projects do not follow common practices in CMake.

[2021-09-09 08:50] Artalus commented on #9565
Oops! Sorry, search got me to [VirtualRunEnv](https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualrunenv.html?highlight=virtualrunenv) page and I missed the line about "_calling conan install will generate a conanrunenv .bat or .sh script_" - so I thought this was only a `conan.tools.env.VirtualRunEnv` class to be used in recipes, without bindings to CLI. ^^"

[2021-09-09 09:18] #9554 closed, assigned to nobody

[2021-09-09 10:20] playgithub commented on #9555
OK, it's clear enough, thanks.

[2021-09-09 10:20] #9555 closed, assigned to nobody

[2021-09-09 11:37] SSE4 commented on #9565
few things we may try to improve (e.g. delay failure):

1. use intermediate variables to shorter the command line, e.g. instead of:
[code]
generate something like:
[code]

2. use MS-DOS [8.3 names](https://en.wikipedia.org/wiki/8.3_filename), e.g.:
[code]

3. make local symlinks/junctions for the long directories (similar to short paths)

system-wide solution - `LongPathsEnabled` registry key, see

[2021-09-09 12:00] SpaceIm commented on #9390
Not only `CONAN_PKG` targets, it's also broken in `cmake_find_package`, `cmake_find_package_multi` & `pkg_config` generators.
They don't generate files for (direct) private requirements if dual profiles is used.

[2021-09-09 12:20] memsharded commented on #9390
This was recently fixed in new CMakeDeps and MSBuildDeps generators in https://github.com/conan-io/conan/pull/9517

[2021-09-09 13:22] lalit-g-deepr commented on #9557
I found a work around for this issue. I tweaked environment variable to suppress that particular warning. The update winprofile with cl variable is solution for me.

[settings]
arch=x86_64
arch_build=x86_64
compiler=Visual Studio
compiler.runtime=MD
compiler.version=15
compiler.cppstd=17
compiler.toolset=v141
os=Windows
os_build=Windows

[options]

[build_requires]

[env]
CC=cl.exe
CXX=cl.exe
CL=-

[2021-09-09 15:07] playgithub opened #9570 "[question] Failed to install dependency `libtiff/4.0.9`"
## recipe
https://github.com/bincrafters/community/blob/main/recipes/wxwidgets/all/conanfile.py

## .conan/remotes.json
[code]

## log
[code]

[2021-09-09 15:44] puetzk opened #9571 "[bug] tools.cmake.cmaketoolchain:user_toolchain set by build_requires not consistently seen"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: 9.3.0-17ubuntu1~20.04
  * Conan version: 1.40
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

I have a package (represending a Yocto cross-compiler, further wrapped by winegcc) wants to inject custom embedded toolchain's CMAKE_TOOLCHAIN_FILE

[co

[2021-09-09 15:57] alsora opened #9572 "[bug] handle package that needs its x86_64 version to cross-compile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc5
  * Conan version:  1.33 and 1.40
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

I'm working on a Conan recipe for the CycloneDDS package: https://github.com/eclipse-cyclonedds/cyclonedds
This package has a peculiarity: x86_64 builds generate

[2021-09-09 16:00] domfellner commented on #8259
Hi @solvingj,

Is there any more material on this topic yet? We are about to implement this in our company and are keen to do it the proper way.

[2021-09-09 16:22] memsharded commented on #9571
Thanks for the report, and the detailed investigation. Indeed a bug, fixed in https://github.com/conan-io/conan/pull/9573, and scheduled for next patch release 1.40.1.

Beware that this is quite experimental, there are quite a few unknowns, check the very simple implementation with a few TODOS:

[code]

[2021-09-09 16:34] puetzk commented on #9571
Yeah :-). I just figured it was perhaps far enough along that I should try getting one of our cross-compiler/toolchain setups expressed using the new way and see what did/didn't work :-)

[2021-09-09 16:47] memsharded commented on #9571
Great, please try again in a few days, when we release 1.40.1, many thanks for trying the new features! :)

[2021-09-09 17:09] puetzk opened #9575 "[bug] conan_toolchain.cmake overwrites CMAKE_${lang}_FLAGS_INIT from user_toolchain"
There are a couple design issues with how the cmake_flags_init currently seems to work.

- CMAKE_LANG_FLAGS_INIT should not be a CACHE variable - it's only really consulted during cmake_initialize_per_config_variable, and setting it later won't change the resulting cached CMAKE_<LANG>_FLAGS. Changing it later and reconfiguring will not actually apply any changes, since this gets baked into CMakeFi

[2021-09-09 17:11] playgithub commented on #9570
When installing boost, similar errors occur, after turn off the system proxy, it works normally.
It must be the reason for this issue.

[2021-09-09 17:11] #9570 closed, assigned to nobody

[2021-09-09 17:23] memsharded commented on #9575
I see. Lets try in https://github.com/conan-io/conan/pull/9576 to see if something breaks (we have had issues because of not CACHE FORCE some vars in the past).

[2021-09-09 17:46] puetzk commented on #9575
well, if you CACHE without FORCE, it won't recalculate on a re-run (keeping the previous cached value). but CACHE force is just about equivalent to not using CACHE at all (unless you're adding some further logic with `if(DEFINED)` so you sometimes use a cached value, sometimes recalculate and force a new one, based on additional criteria)

But this won't recalculate anyway, because `CMAKE_*_FLAGS_

[2021-09-09 18:26] bemehiser opened #9577 "[bug] Conan is unable to extract .tar.bz2 on AIX"
On AIX, extracting a tar.bz2 file fails in Conan (see logs.)

[code]

I attempted to download and extract the same file with `curl` and `tar`, and it extracts just fine.

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: AIX 7.1
  * Compiler+version: GCC 10.2.0
  * Conan version: 1.39.0
  * Python version: 3.9.1

### Steps to reproduce (Include if A

[2021-09-09 20:11] vabdollahi opened #9578 "multiple link issues in VS16 with grpc installation"
I have been trying to use grpc 1.39.1 and 1.38.0 with Conan on Windows with Visual Studio 16.0.22 (compiler 14.20.27508). I am getting many unresolved external symbols such as __imp___std_init_once_complete,  __imp___std_init_once_begin_initialize, etc. I see a similar thread about this (https://github.com/conan-io/conan-center-index/issues/4826). Since I am not able to upgrade my compiler, I was

[2021-09-09 21:15] memsharded commented on #9577
If that is reproducible only from a AIX, we would need some help to triage this. Anyone out there with AIX that could debug this issue? The code that extract it is very generic, maybe could be reproduced without Conan, just a python file:

[code]

[2021-09-09 21:19] memsharded commented on #9578
Hi @vabdollahi

Do you mean it seems there is a bug in the version of the MSVC compiler being used in ConanCenter, and that building with a previous version would solve the issue?

In that case, have you tried to build it from sources? Adding ``--build=grpc`` in your command line, will build it from source instead of using the precompiled binary from ConanCenter, is that what you want?

[2021-09-09 21:41] memsharded commented on #9572
Hi @alsora

That is a tricky setup for that package :)

Have you tried to use the ``--build=missing`` policy? You would need to make sure first that the cross compiled "host" binary doesn't exist, so it gets build, and the "build" binary would have been built in a previous invocation, if I understood correctly, right?

[2021-09-09 22:27] dscole opened #9579 "[bug] Can't create package that has symlinks when the conan cache is a symlink"
When the conan cache dir (`~/.conan`) is a symlink (for `/tmp/.conan` for example) and I'm trying to create a package that includes internal symlinks, the `conan create` command fails. The failure point is when the `export_source` folder contents (in the cache) gets copied over to the `source` dir.  Looking at:
https://github.com/conan-io/conan/blob/ff7b8e6703e8407773968517d68424b9ec59aa30/conans/

[2021-09-10 02:08] solvingj commented on #8259
Hi @domfellner . Sorry but there is currently no new clear and general guidance on the details of how to manage lockfiles for CI and developer workflows.  The creation of an actual strategy for a dev team has to start with an analysis of several factors, including how source control is laid out and managed, and how components in the dependency tree will be versioned, and how the CI jobs will be st

[2021-09-10 07:14] SSE4 commented on #9577
maybe it's just python interpreter compiled without bz2?
we had some similar reports in the past, e.g. https://github.com/conan-io/conan/issues/8503
could you possibly check this snippet in your python interpreter?
[code]

[2021-09-10 08:53] llena1 commented on #9541
Hi @memsharded,

I finally had time to try your suggestions. Removing commands have run without a failure, but quite a number of packages failed at upload. It's too many, so I'll be removing and reinstalling all of them as per the first suggestion.

Thank you for you help!

[2021-09-10 08:53] #9541 closed, assigned to memsharded

[2021-09-10 09:06] memsharded commented on #9561
Fixed by https://github.com/conan-io/conan/pull/9562, to be released in 1.40.1

[2021-09-10 09:06] #9561 closed, assigned to nobody

[2021-09-10 09:12] domfellner commented on #8259
Wow, thank you for your comprehensive answer! 🥇

I'm starting to query the slack history to dig deeper into this topic. Haven't thought of this a resource.

Thanks already! After doing some research, I will post our use case into the Slack channel :bird:

[2021-09-10 09:44] dev-789 commented on #7737
Also in our Project its a bigger issue i think. In the end our product is a mixture of python and libs and executables

An example could be something like
[code]
In PythonCompB and C we are appending to the Pythonpath to populate modules to PythonCompA.
And here we already have a strange thing when we are using two profiles. We need to build_require the PythonCompB and C to use them in A. This act

[2021-09-10 09:48] memsharded commented on #7737
The new ``self.buildenv_info`` and ``self.runenv_info`` together with the new generators ``VirtualBuildEnv`` and ``VirtualRunEnv`` allows a finer control of what gets into the environment in each case. I know they are not enough documented yet, but we will soon start promoting them more, as they will become the way in 2.0. Just in case you want to start having a look at them: https://docs.conan.io

[2021-09-10 13:31] vabdollahi commented on #9578
My guess is this is related to the compiler version I have since I am following straightforward hello world example build, and I have no build issues with vcpkg version of grpc. When I try --build=grpc or --build=protobuf, I get errors that look like this:

protobuf/3.17.1: ERROR: Package '9e56137bbb1f5dae27f8e6f5a1977466799557b9' build failed
protobuf/3.17.1: WARN: Build folder C:\.conan\10d8ca\1

[2021-09-10 13:34] playgithub opened #9581 "[question] How does `conan` solve version conflicting?"
e.g.

*  Only shared libs are allowed
* `AppA` depnds on `LibA` and `LibB`
* `LibA` depends on `zlib 1.9`
* `LibB` depends on `zlib 2.0`

The problem is generally AppA is unable to link to both `zlib 1.9 (shared)` and `zlib 2.0 (shared)`.
Does it mean I have to upgrade conan recipe of `LibA` to support `zlib 2.0` or override lib version in `conanfile.txt`?
I think it's not convenient for the user

[2021-09-10 13:55] playgithub opened #9582 "[question] Can `conan` generate a file structure like that in *nix?"
i.e.
* <prefix>/inlcude
* <prefix>/lib
* <prefix>/bin
* <prefix>/share

With the libs aggregated, benefints:
* easy to be referenced by any build system
* version consistency made explicit
* conan is decoupled from the consuming project

[2021-09-10 14:13] memsharded commented on #9578
Hi @vabdollahi

It would be great to have a bit more of the trace, you posted the line that caused the error, but not the build errors themselves above it, which would be very important. If you could post the entire output (including the Conan command you used); that would help, thanks!

[2021-09-10 14:20] vabdollahi commented on #9578
I am using the command:

conan install .. --profile ..\conanprofile --build=grpc

And here is the entire output:

Configuration:
[settings]
arch=x86_64
build_type=Release
compiler=Visual Studio
compiler.runtime=MD
compiler.version=16
os=Windows
[options]
[build_requires]
[env]

grpc/1.39.1: Forced build from source
conanfile.txt: Installing package
Requirements
    abseil/20210324.2 from 'conancen

[2021-09-10 14:21] memsharded commented on #9579
Hi @dscole

Quick question, why are you relocating the cache with a symlink, instead of using the CONAN_USER_HOME env-var to point to your desired location directly?

[2021-09-10 14:23] memsharded commented on #9578
Your issue is:

Your current CMake version doesn't have support for VS 16 apparently. You can probably fixing by upgrading to a more modern CMake (which version are you using?). Note that Conan doesn't embed its own cmake, the user should provide it (there are Conan packages that might be used as a build_require, but that is a more advanced topic):

[2021-09-10 14:27] vabdollahi commented on #9578
My cmake is pretty recent: cmake version 3.20.0

[2021-09-10 14:34] memsharded commented on #9578
That is weird, can you please type ``cmake --help`` in your terminal to see the list of available generators?
For some reason it seems that CMake is not detecting your VS16 installation.

[2021-09-10 14:48] puetzk commented on #9582
See the [conanfile [imports] section](https://docs.conan.io/en/latest/reference/conanfile_txt.html#imports), and perhaps also [the deploy generator](https://docs.conan.io/en/latest/reference/generators/deploy.html).

But this would be a fairly atypical way to use conan, since you'd be losing all the information from the depenencies package_info, so it would only handle the "traditional unix librar

[2021-09-10 14:56] memsharded commented on #9582
Besides you can lose more information in other situations:

- There are dependency graphs when you can have 2 different versions of the same library (yes, this is now nice, but it happens in real life)
- There are dependency graphs when you can have 2 different variants of the same library (like static/shared), and would be used differently from different consuming packages.
- You cannot handle mu

[2021-09-10 15:12] playgithub commented on #9556
Duplicated #9582

[2021-09-10 15:12] #9556 closed, assigned to nobody

[2021-09-10 15:14] playgithub commented on #9141
expired

[2021-09-10 15:14] #9141 closed, assigned to nobody

[2021-09-10 15:36] bemehiser commented on #9577
@SSE4, I bet that's it. Our toolchain doesn't contain bz2, so python definitely isn't built with it.

When I the code snippet, I get this.
[code]

I'll close this for now, and re-open it if we still have issues after adding bz2.

Thanks for the help!

[2021-09-10 15:36] #9577 closed, assigned to nobody

[2021-09-10 15:47] playgithub commented on #9582
@puetzk

Is the info from `package_info` critical?
As far as I can see, the way of "traditional unix library" works well.

@memsharded

Do you mean, e.g. `AppA` can link to `zlib 1.9 (shared)` and `zlib 2.0 (shared)` simultaneously?

In *nix, different build types are compatible when linking, usually linking to a release version, when it needs debugging, replace it to a debug version. It's just th

[2021-09-10 16:53] playgithub commented on #9582
I have recognized that the best way to use `conan` is to port every lib in using to `conan` with a repice.

[2021-09-10 16:53] #9582 closed, assigned to nobody

[2021-09-10 20:21] dscole commented on #9579
I guess it seemed easier at the time. It's consistent with what I did for other directories in my home dir that I wanted to physically be somewhere else. It's easier to do:
[code]
then to figure out which environment variable I need to set for each application to tell it to look for the directory elsewhere.

[2021-09-11 08:15] playgithub opened #9585 "[question] How to deal with version conflicts?"
It should be common, e.g.
* conan recipe for LibA is old, it requires `zlib/0.9` (shared)
* conan recipe for LibB is new, it requires `zlib/1.2` (shared)

AppC depends on both `LibA` and `LibB`, `conanfile.txt` as below
[code]
As a result, AppC depends on zlib 0.9 (shared) and zlib 1.2 (shared) simultanesouly indirectly.
As far as I know, AppC could only depend on one version of a shared lib.
Does

[2021-09-11 09:32] playgithub commented on #9585
Duplicated #1989

[2021-09-11 09:32] #9585 closed, assigned to nobody

[2021-09-11 11:03] n-eq opened #9586 "[bug] 'tuple' object has no attribute 'get_safe'"
Hello, I am trying to cross-compile a package for Android (in this case Armv7) but the command fails with the following error.
`ERROR: 'tuple' object has no attribute 'get_safe'` (See full log trace below)

### Environment Details (include every applicable attribute)
* Operating System+version: MacOS Big Sur 11.4 (Darwin 20.5.0)
* Compiler+version: Clang (armv7a-linux-androideabi22-) 12.0.5
* Cona

[2021-09-11 11:08] jellespijker commented on #9566
Hi @memsharded ,
Thanks for reminding me about the public attributes. I can't believe I missed that big box labeled: **important!**

I'm not completely sure how to use `scm_to_conandata`, I only gather from the documentation that it is stable and that an entry is in the conan.conf, but don't know how to enable. I'm probably missing something very obvious because we have already established that re

[2021-09-11 12:59] sboehmann opened #9587 "[feature] Conan 1.40 (PR-9361) breaking changes"
Sorry about the sloppy title. ;)

We used to have our own method, but then ported to `apply_conandata_patches()`. This worked fine, but with conan 1.40 _(due https://github.com/conan-io/conan/pull/9361)_ all our recipes are broken.

Sure, - this feature is still experimental, so I had to expect something to break during the update. But this PR also removes the possibility to specify a `base_path`.

[2021-09-11 17:47] n-eq commented on #9586
Runnig again `conan create` `CONAN_LOGGING_LEVEL=debug` yiels this interesting line where it seems `settings=None`. How is this possible?
[code]

[2021-09-12 08:56] memsharded commented on #9587
Hi @sboehmann

The possibility is encoded now in the ``source`` folder of the new layout. This change had to be done because the feature was broken when using the layouts, due to the duplicated and often incompatible definition.

You should be able to define and make it work with something like:
[code]

Could you please have a look and see if that works for you?

From what I see in the diff to 1.3

[2021-09-12 09:01] memsharded commented on #9566
Hi @jellespijker

Sure, dont worry :) Even if we put a good effort in the docs, it is always difficult, we know it needs even more work so we are preparing the next major update of the docs, trying to improve it again.

You can enable it with:
[code]
But even better, you should go to your conan.conf in the cache, and write the ``scm_to_conandata=1`` in the ``general`` section.
Even more: you shoul

[2021-09-12 09:24] memsharded commented on #9586
Hi @n-eq

It seems you are using some internal, private implementation of Conan, the ``__init__()`` method. As specified in the docs, this is not possible, can lead to undefined behavior, and is subject to break at any release. So this is not a bug.

In this case, you are trying to access some members with:
[code]
before they are correctly initialized.

You shouldn't do that, when you need the set

[2021-09-12 10:01] n-eq commented on #9586
Hey @memsharded!
Thanks for the insight. I am actually doing this as a way to check if we are building for the host machine or cross-building (e.g. for Android). I need this because the requirements are not completely the same, so I set them depending on the build configuration.

[2021-09-12 10:41] n-eq commented on #9586
I modified the build method to setup `requires`.

[code]

Although it correctly compiles source files, it fails when calling `package`:

[code]

[2021-09-12 10:52] yoav-klein commented on #9534
??

[2021-09-12 11:55] sboehmann commented on #9587
Thank you for your quick reply @memsharded.

#### Regarding `patch()`:
The pull request changes two things.

One is the base directory _(the `root` argument for `patchset.apply`)_. I assume this will work again for me if I implement `layout()` according to your suggestion. This change makes sense and I am perfectly fine with it.

The second change is that the `base_path` argument has been removed.

[2021-09-12 13:36] SuTanTank opened #9588 "[feature] Ignore line endings when calculating checksums"
I'm using Conan 1.39.0

I manage the recipes in a git repository and just found out that running ```conan create``` with same recipe file on different os (Windows and macOS) will generate two version of recipes and ```conan upload``` will always make the previous uploaded package outdated. I guess it's because of the line endings difference?

I'm not familiar with the checksum and not sure how con

[2021-09-12 15:25] jellespijker commented on #9566
Using `scm_to_conandata` seemed to work.
I will add the conan.conf to my config repo https://github.com/jellespijker/conan-config

[2021-09-12 15:57] sboehmann commented on #9588
Hi @SuTanTank

IMO the files are different, so the checksum must be different too.

But there is a simple solution. Create a file in the root directory of the git repository with the name `.gitattributes` and the content:
[code]

See also: https://git-scm.com/docs/gitattributes

[2021-09-12 16:25] SuTanTank commented on #9588
Ah Yes, I saw how conan-center-index handles it. Thanks.

[2021-09-12 16:25] #9588 closed, assigned to nobody

[2021-09-12 17:55] EMCP opened #9589 "Conan Upload does not take port into account on upload command"
### Environment Details (include every applicable attribute)
  * Operating System+version: `ubuntu 20.04 LTS`
  * Compiler+version: `gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`
  * Conan version: `Conan version 1.40.0`
  * Python version: `Python 3.9.6`

### Steps to reproduce (Include if Applicable)

deploy a JFrom Artifactory CE somewhere on LAN, and attempt to add it as a remote via conan CLI

[c

[2021-09-12 17:58] EMCP commented on #9589
rtrying with `ssl_verify` set to False does not fix this issue either

[2021-09-12 21:12] memsharded commented on #9589
Hi @EMCP

Is it possible that there is a redirection or something in the server side? Also, is the above URL the one shown by the Artifactory ``SetMeUp`` button?

A quick way to discard a Conan client issue would be to locally download in your computer an ArtifactoryCE, the zip download, unzip, launch manually the server, then setup a Conan repo and SetMeUp.

[2021-09-12 21:15] memsharded commented on #9588
Yes, exactly what @sboehmann said. Specially with some C/C++ build systems, in which blank space, tabs, etc is significant, keeping exactly the original line endings is sometimes important, and if the hash discards them, when some change tries to correct a previous error, it will be systematically (and being confusing for users too) discarded as "nothing changed".

[2021-09-12 21:16] memsharded commented on #9566
Great then!

As that behavior is already considered legacy and already removed in Conan 2.0, I am closing this issue, not worth investing resources in fixing it. Thanks!

[2021-09-12 21:16] #9566 closed, assigned to memsharded

[2021-09-12 21:20] memsharded commented on #9587
Ok, yes, I was a bit confused about the method, if you were talking about the ``patch()`` one, that could make more sense.

Lets ask @lasote for this, he implemented this change, maybe there is another approach, or maybe the ``base_path`` makes sense.

[2021-09-12 21:24] memsharded commented on #9586
Yet another issue, with the location of the logic :)

Any conditional definition of ``requires`` needs to go to the ``requirements()`` method, something like:

[code]

The reason is that when the ``build()`` method executes, it has already computed the requirements, expanded the dependencies, and transitive dependencies, propagated information down to the current package via generators (like gener

[2021-09-12 21:32] memsharded commented on #9534
Hi @yoav-klein sorry for the delay in answering.

There is no such external file format that could be used for this, but if the Conan client can be used, then isn't it a matter of ``conan download`` + ``conan upload``? You could define an empty cache for the job with CONAN_USER_HOME env-var, to make sure that only the packages you want are uploaded, and you can point it to some controlled location

[2021-09-12 21:36] n-eq commented on #9586
I appreciate your explanation James. I ended out calling `get_dependencies`
as you suggest in the dedicated `requirements` method. However, I am now
faced with a *Loop detected in context host *issue although I am using
`pr:h` and `pr:b` arguments in my command line...

Le dim. 12 sept. 2021 à 23:24, James ***@***.***> a écrit :

[2021-09-12 21:38] memsharded commented on #9586
Hi @n-eq

Ok, that could be a different issue, and it would need analyzing the exact dependencies defined in that way. Even if using the ``profile:host``, it is totally possible that some package ends requiring itself directly or transitively.

I'd suggest closing this issue as solved, as it was not really a bug, and opening a new issue with the details of that "loop". Thanks!

[2021-09-12 21:41] n-eq commented on #9586
Hi @memsharded
Opening a new issue, thanks again.

[2021-09-12 21:41] #9586 closed, assigned to nobody

[2021-09-12 22:25] naggerx commented on #6155
We would like to see that feature too.
We are also generating .sh files, to be called by the user.

[2021-09-12 22:45] memsharded commented on #6155
Hi all,

Conan has evolved a lot since this feature request:

- Now there is the ``generate()`` method in recipes, that can be used to generate and tune the build, without needing to explicitly write a generator.
- Modern generators like ``CMakeDeps`` are customizable in ``generate()``.
- Generators should no longer extend from ``Generator`` class, they can be any form, just put it in a ``python_r

[2021-09-13 04:46] ytimenkov opened #9591 "[bug] Options for transitive dependencies of "compatible" packages are not locked correctly"
### Environment Details (include every applicable attribute)
  * Conan version: 1.40 and develop

### Steps to reproduce (Include if Applicable)
I've prepared a test which shows the problem: https://github.com/conan-io/conan/compare/develop...ytimenkov:comptatible-options-lockfile

When package which provides "compatible packages" is locked as a compatible one, its options are not correctly stored

[2021-09-13 05:46] EMCP commented on #9589
Hi @memsharded ,

I'd deployed the artifactory Community edition stock.. and installed this simply with a tool called Juju on top of LXD.  Also this is the string that I am being told to setup.. maybe there's some stock direction but.. I can visit the URL myself in browser and it seems to be empty but prompts for credentials as you'd expect.

I'd run it like this in past but.. don't recall this be

[2021-09-13 07:10] Morwenn commented on #6155
I haven't used Conan for big projects in some time. I originally opened that issue to solve an actual problem we had at work, but I haven't worked there for well over a year, so I won't be able to evaluate how much the current state of things improves on my old problem.

If the new generators `generate()` method can indeed execute any code, then it should be plenty enough. I do remember that users

[2021-09-13 07:26] lasote commented on #9587
Hi, I understand. I will open a PR to use again the `base_path` as relative to the `conanfile.source_folder`. If a layout is specified, it will use it, otherwise, it will use the base source folder as previously.

About the `strip` argument, I would say if specified in the `conandata.yml`, it will pass it to strip automatically like any other argument.

[2021-09-13 07:54] llena1 opened #9594 "[bug] SHORT DESCRIPTION"
Hi! I'm having trouble building libgettext in RelWithDebInfo, I can build it in Release, with the same command (only the build type in the conan profile is different)

### Environment Details (include every applicable attribute)
Operating System+version: Windows 10 Pro, 10.0.19043 Build 19043
Compiler+version: Visual Studio 16
Conan version: 1.36.0
Python version: 3.8.2

### Steps to reproduce (In

[2021-09-13 08:44] dornbirndevelops commented on #9510
Hi all!

I can confirm that an alias recipe like above does retrieve the settings context but not the options context.
Also, it can be seen that the alias is evaluated twice (the log entry appears twice).
Tested on version 1.39.0

alias/conanfile.py
[code]

`conan export alias`
...

`conan install foo/latest@ -s os=Windows -o *:shared=True`
[code]

`conan install foo/latest@ -s os=Linux -o *:share

[2021-09-13 08:56] memsharded commented on #9571
Fixed by https://github.com/conan-io/conan/pull/9573, to be released in 1.40.1

[2021-09-13 08:56] #9571 closed, assigned to memsharded

[2021-09-13 09:04] memsharded commented on #9594
Hi @llena1

From the line ``configure: error: C compiler cannot create executables``, it could be there is some setup issue, just a few questions:

- Does the package build correctly with other build_types, as the default ``Release`` or the ``Debug`` one?
- Can you build a simpler package with that build_type without any issue? (a good start is ``conan new hello/0.1 -s -t`` (with that Conan versio

[2021-09-13 09:16] memsharded commented on #6155
Many thanks @Morwenn !

So @seanmlyons22 @naggerx I am closing this issue as solved, please feel free to open a new ticket if you have any other issue with the above proposed solutions. Thanks!

[2021-09-13 09:16] #6155 closed

[2021-09-13 09:17] memsharded commented on #6155
I am closing this at 1.40, the ``generate()`` method has been available for a while, but some of the above details, like ``VirtualBuildEnv`` is more recent, so just to make sure.

[2021-09-13 09:24] memsharded commented on #9589
Hi @EMCP

Yes, I think this is something that is configuration of the server side, if that didn't work we would be flooded with tickets :)
I have checked the source code and can't find anything client side that could be causing that change from the SetMeUp URL using port 8081 to port 80, so I guess it should be something while setting up the server. Sorry I don't know about Juju on top of LXD, not

[2021-09-13 09:48] a4z commented on #9448
all apple cmake flags, like bitcode is very well handled by that: https://conan.io/center/ios-cmake
bitcode makes only sense for  iOS, tvOS, watchOS, and there only for the target, not simulator

[2021-09-13 09:49] yoav-klein commented on #9534
This is more for ConanCenter packages. Why would I want to "build my own package binaries"? I want to use the ones in the conan center...(?)

[2021-09-13 09:51] theodelrieu commented on #9448
@a4z

Are you sure about that? I've used those flags for simulators as well.

[2021-09-13 09:56] memsharded commented on #9510
I am afraid that such is some bad behavior, possibly because some internal caching in the legacy ``requires = "foo/latest"`` syntax. The new explicit alias syntax approved by the Tribe for 2.0 (and already available at least since 1.39), will fail exactly in this step, because the settings and options are not initialized, this test proves it:

[code]

[2021-09-13 09:56] a4z commented on #9448
I have written a linter for conan packages that checks the generated binaries if they contain bitcode, since I wanted to get that error after package creation, not on consumtion
Through that I detected that. Then I started to think about it and realized that it makes sense.
(I might add a blog entry on how to do that when I find the time)

The actually problem we have with the iOS/tvOS/watchOS bui

[2021-09-13 10:04] memsharded commented on #9534
This is one of the most common policy we see in our users. Those that have important security concerns, to the extend of defining air-gapped environments, have strong policies against using binaries downloaded from the internet, and require them to build them locally. Besides security, there are also other reasons, like being able to fully control your dependencies, customize the build, make sure

[2021-09-13 13:27] a4z commented on #9448
Addressed on problem and added some docs for the iOS toolchain,
https://github.com/conan-io/docs/pull/2223

This should (hopefully) show and explain a bit more details

[2021-09-13 13:30] Tomeamis commented on #8493
If someone found this via Google later (like me), the command to be debugged is actually `python -m conans.conan <conan args>`. If @zink-chimaera would be kind enough to edit his comment, I could delete this one, so that the correct invocation can be found near the top.

[2021-09-13 13:53] n-eq opened #9599 "[bug] ERROR: Loop detected in context host: mypackage requires mypackage which is an ancestor too"
Hi,

(This ticket is a follow-up on the [following question](https://github.com/conan-io/conan/issues/9586)).

I am trying to compile a package (smc) which has two dependencies (RSARef2 and log4c), the three packages live in the same project and their source code is provided (Note: I cannot share the source code files for intellectual property reasons, but it mainly consists of C code).
So far I'v

[2021-09-13 14:02] n-eq commented on #9599
Beginning of the CMakeLists.txt file where the dependencies are defined:
[code]

[2021-09-13 14:26] memsharded commented on #9599
Hi @n-eq

I am trying to understand the issue and the code, a couple of quick questions trying to understand things:

- Why are you using the channel for defining the architecture? ``log4c/3.00.09@fsv/android_armeabi-v7a``, it should typically be something like ``log4c/3.00.09@fsv/stable``. Conan is designed to handle the package binaries for multiple platforms and architectures transparently and

[2021-09-13 14:34] n-eq commented on #9599
Hi @memsharded again!

Thanks for the very quick reply.

The first time I tried I noticed Conan didn't take the correct dependencies depending on the architecture, that's why I hardcoded them and never thought of it again really, might give it a quick try.

In fact the project I am working on consists of multiple modules using the same conanfile as a base, and this conanfile seeks the dependencies

[2021-09-13 14:35] memsharded commented on #9581
This is not a Conan problem
You cannot link an AppA that transitively depends on 2 different versions of the same shared library. This is not how shared libraries work. Yes, you need to update the source code of LibA to support zlib/2.0 if it is not compatible, and then you can use Conan to solve the conflict downstream. If you would like to read more about how Conan can address version conflicts

[2021-09-13 14:35] #9581 closed, assigned to nobody

[2021-09-13 14:36] blackliner opened #9600 "[bug] transient linkage with pure cmake_find_package"
As seen in this slack: https://cpplang.slack.com/archives/C41CWV9HA/p1631005375278900

According to [the docs](https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_find_package_generator.html) it is recommended to ` ... not need to specify or include anything related with Conan at all; just rely on the find_package feature ...`. This seems to be not true, as it seems that ` conan_

[2021-09-13 15:02] memsharded commented on #9599
Yes, please, it seems you are doing too much avoidable work, declaring dependencies should be really simpler.

I am also trying to see the output of

[code]
In the log, but I don't see it. How is it possible that no prints are done? Could you introduce some more prints in the ``requirements()`` and ``get_dependencies()`` methods to try to understand what is happening?

[2021-09-13 15:07] sivaram327 opened #9602 "conan lock bundle update missing package_id: package_id unknown"
im follwing this documenation https://docs.conan.io/en/latest/versioning/lockfiles/bundle.html
these are the steps i followed:
base lockfile for app1:
conan lock create conanfile.py --lockfile-out=app1_base.lock --base
release configuration:
conan lock create conanfile.py --lockfile=app1_base.lock --lockfile-out=app1_release.lock
conan lock create conanfile.py --lockfile=app1_base.lock --lockfile-

[2021-09-13 15:08] memsharded commented on #9600
This is already achieved 100% with the new toolchains (you can have a peek at this blog post draft: https://github.com/conan-io/conan-io.github.io/pull/199):

- CMakeToolchain
- CMakeDeps
- CMake (``from conan.tools.cmake import CMake``)

We have already changed the creating packages Getting Started to use this: https://docs.conan.io/en/latest/creating_packages/getting_started.html, and usage in C

[2021-09-13 15:10] blackliner commented on #9600
I don't know if I can/want to jump onto CMakeDeps already. Its a production usecase, would you recommend it?

What would be the workaround for now, add a CMake wrapper that calls `conan_basic_setup()`?

[2021-09-13 15:12] memsharded commented on #9600
Yes, if not using the new integration, there are basically 2 options:
- Make sure yourself your build, CMakeLists.txt matches the Conan settings and options (parameterizing CMake call, your own toolchain... there are several options)
- Use the ``cmake`` integration with ``conan_basic_setup()`` to inject those with less effort.

[2021-09-13 15:18] blackliner commented on #9600
Thanks, atm its unclear to me what exactly is missing though... as seen in the slack thread, those seem to be the cmake arguments handed in by conan:
[code]
Anything obvious that could be the reason for the transient linkage to fail? I always expected that the autogenerated find-modules will take care of that 🤔

[2021-09-13 15:22] memsharded commented on #9602
I can give some hints:

- The ``package_id_unknown`` appears when the ``package_revision_mode`` is enabled.
- ``package_revision_mode`` is the most extreme mode. It should only be necessary under very uncontrolled circumstances, like bad systems doing unnecessary re-builds from sources and changing the build configuration. For most cases, something like ``recipe_revision_mode`` will achieve very g

[2021-09-13 15:27] memsharded commented on #9600
I would probably bet on the c++11 abi, and ``-DCONAN_LIBCXX="libstdc++11" `` (just a guess, but I would start there)
Second thing I'd try is ``"-m64" `` flag (both in compiler and linker).

Those two fix most of binary compatibility issues

Auto generated modules take care of the dependencies themselves. If a dependency is a header-only, it cannot tell you that you should be using some architectur

[2021-09-13 15:34] sivaram327 commented on #9602
im seeing the package-ids:
after rebuild the packages i want to install the the my application

conan install . --lockfile=app1_release.lock
conan install . --lockfile=app2_release.lock

whlile installing the application one of the lockfile package-id unknown. if it shows like that any problem while installing or not.

[2021-09-13 15:42] blackliner commented on #9600
Arch and ABI are not the issue at hand though. See the error log in the OP, shared objects of transient deps cannot be found during linking.

[2021-09-13 15:44] pbaret commented on #6899
@memsharded Hye, got the same issue but I can't figure out how to make it work with my company's proxy in the loop ? I set up the http and https variables in conan.conf but it does not work....

[2021-09-13 15:52] memsharded commented on #9600
There are linkers that will skip a library if it doesn't match its expected architecture, looking like it didn't found a library that is there, you can find in the filesystem, but it keeps telling you library not found. I have verified this a couple of times, cannot be sure if it is the current issue, but worth at least considering.

[2021-09-13 15:59] vvarma opened #9603 "[bug] system requirements does comply with host architecture"
Recipes with system requirements, when being cross compiled with different host and build architectures - do not take into account whether a dependency is a `requires` or a `build requires`, but always just installs package for build arch.

Conversely (workaround), if the system requirement is installed (with whichever architecture), conan does not check whether the arch matches the build_arch or

[2021-09-13 16:00] memsharded commented on #6899
Hi @pbaret

At some point you might need to talk to your IT, and sort this out with them. The company proxy might completely forbid this possibility. What I would do before reaching to them, is to make sure that everything works locally:

- You can setup an ArtifactoryCE (free, just get the zip, unzip and execute) in your local machine, configure it and use it to see you can successfully make it w

[2021-09-13 16:35] llena1 commented on #9594
* Yes, this library is part of a bigger project (the one I've cleaned up before :) ) and it builds in Release.
* also yes, I can build the test recipe using both configurations

[2021-09-13 16:56] memsharded commented on #9594
Thanks @llena1 for the feedback.

Then I think this might be a recipe issue, not a Conan issue. But asking for the help of @SSE4 and @uilianries to check this, before transferring this to conan-center-index repo.

[2021-09-13 16:57] paulocoutinhox commented on #9448
Hi,

Bitcode is only for apple recompile your application and delivery smaller size app (store or adhoc):
https://developer.apple.com/documentation/xcode/doing-basic-optimization-to-reduce-your-app-s-size

So, i've disabled it for simulators too:
https://github.com/ezored/ezored/blob/version-3/files/config/target_ios.py#L37

@a4z Your solution is good, be all flags need affect dependencies too. Al

[2021-09-13 17:07] a4z commented on #9448
Yes, of course, you are supposed to rebuild all the conan packages you use with the same profiles, so all dependencies are compatible, but this is how you do it (hopefully) anyway with conan.

bitcode is required for watch and tvos, I think, for iOS it is optional (for now)

I think you do not need to omit the bitcode flag for the x86_64 simulator, it will just have no  effect.
Not sure how the co

[2021-09-13 17:31] memsharded commented on #9557
Thanks for reporting your solution @lalit-g-deepr

However, it would be great if @SSE4 or @uilianries could have a look, maybe it is something that could be improved in the ConanCenter recipe?

[2021-09-13 17:40] memsharded commented on #9587
Feature was added in https://github.com/conan-io/conan/pull/9593, will be in next 1.40.1 soon.

[2021-09-13 17:40] #9587 closed, assigned to lasote

[2021-09-13 17:48] lalit-g-deepr commented on #9557
Thanks @memsharded

[2021-09-13 17:49] n-eq commented on #9599
Of course, I removed it in the first place from the logs but you can find it below.

[code]

This is the output
[code]

Cheers,

[2021-09-13 17:56] blackliner commented on #9600
Nice, thanks, I think thats it for today :-)

[2021-09-13 17:56] #9600 closed, assigned to nobody

[2021-09-13 18:04] memsharded commented on #9599
I am not sure why you are getting 2 identical ``get_dependencies()`` printed. Maybe adding the current package name, something like:

[code]

[2021-09-13 18:18] n-eq commented on #9599
Sure @memsharded , here are the lines it outputs:
[code]

It seems to confirm `log4c` depends on itself...

When building `log4c` and `RSARef2` independently:
[code]

[code]

[2021-09-13 18:32] memsharded commented on #9599
Yes, exactly, that is the key:

[code]
the ``log4c`` is requiring itself, as a result of the evaluation of ``get_dependencies()``.

Can we make sure what is in the ``CMakeLists.txt`` of the ``log4c`` folder/recipe? If it is different, then I'd suggest converting to absolute path ``file_path`` inside your method and printing it too. It could be that you are reading a different ``CMakeLists.txt`` fi

[2021-09-13 18:52] n-eq commented on #9599
You're absolutely right. For an (yet!) unknown reason log4c uses smc's CMakeLists.txt file. Again I'm not really allowed to make new architectural choices (the goal of the project was to cross-build the packages to Android.) but I perfectly understand your point. I'll try your suggestion but I think we have found the cause of the problem.

Many thanks for the suggestions. I'll try to set the chann

[2021-09-13 19:56] memsharded commented on #9599
Great! I think the reason is that Conan uses the current directory if not specified for some operations, and it is necessary to explicitly  use the ``self.recipe_folder``. If you applied it and it worked, then I think we can close the issue, feel free to close it, and if you need further help in the future for the other comments, you can always open a new ticket. Thanks!

[2021-09-13 21:43] n-eq commented on #9599
Closing the issue now. Thanks @memsharded, I appreciate your time and kindness.

[2021-09-13 21:43] #9599 closed, assigned to nobody

[2021-09-14 05:47] SSE4 commented on #9557
it might make sense to either disable `treat warnings as errors` in recipe, or adding `_SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING` definition, since AWS SDK uses deprecated allocator members.

[2021-09-14 05:53] yoav-klein commented on #9534
@memsharded , I didn't quite understand the last paragraph, could you specify more on that?
As far as I understand you, your offer is to  have a machine that has access to both environments, and have the client define 2 remotes - conan-center and the air-gapped Artifactory instance. Then use the client to `download`  from conan-center (whether recipes only or even binary packages; In our case we c

[2021-09-14 05:56] SSE4 commented on #9594
please share `config.log`, if possible. otherwise, it's hard to say what's the exact problem.

[2021-09-14 07:04] domfellner commented on #9547
Am I the only one with this use case? Are there some initial thoughts how to approach this?

[2021-09-14 07:43] memsharded commented on #9575
This was fixed in https://github.com/conan-io/conan/pull/9576, will be released soon in 1.40.1, thanks!

[2021-09-14 07:43] #9575 closed, assigned to memsharded

[2021-09-14 08:02] memsharded commented on #9547
Hi @domfellner

Yes, this is a complicated problem, let me summarize some important points:

- The conan dependency resolution is not complete, it doesn't implement the necessary SAT solver to find the joint compatible solution to a set of version ranges.
- It doesn't do it, because such is a NP-hard problem. While the algorithm could still be implemented, the problem is that it will not resolve g

[2021-09-14 08:25] lasote commented on #9448
Just for reference, the mentioned package `https://conan.io/center/ios-cmake` is using this project that provides a cmake toolchain for (iOS (+ Catalyst), watchOS, tvOS, and macOS) https://github.com/leetal/ios-cmake Almost 1000 stars. We should definitely take a look.

[2021-09-14 08:55] llena1 commented on #9594
@SSE4 where do I find it?

[2021-09-14 09:04] SSE4 commented on #9594
should be somewhere inside the build folder:
[code]

[2021-09-14 09:53] a4z commented on #9448
Yes, ios-cmake is the defacto default to build native things since years when it comes to cmake, that's why I added it to the cci.

[2021-09-14 10:10] llena1 commented on #9594
[config.log](https://github.com/conan-io/conan/files/7160934/config.log)
there's one in `C:\Users\ElenaIvanchenko\.conan\data\libgettext\0.20.1\_\_\build\347b9a315462b697a363f6ea581c22179ce5c7e0\source_subfolder\gettext-tools`

[2021-09-14 10:14] lasote commented on #9448
Note: Look into combine external toolchains with the conan one.

[2021-09-14 10:50] a4z commented on #9448
I am not sure what you referring to exactly

[2021-09-14 11:09] SSE4 commented on #9594
for the record, the error is:
[code]
somehow `compile` script is missing from the `automake` package. I'll take a look to check it.

[2021-09-14 11:15] lasote commented on #9448
Internal note

[2021-09-14 11:43] a4z commented on #9448
aha, ok, so it's clear I cant find it ...?

But you might bin interested that I already combined them, in the past

like that (in the conanfile.py of my project)
I cuttet away some parts, but to get the idea that should be sufficent,

whatever you plan to do, please do not break such thing in future, since everything basically works for mobile with conan :-)

[code]

[2021-09-14 11:48] SSE4 commented on #9594
okay, files are there, but in different directory : `res/automake-1.16/compile` (instead of `bin/share/automake-1.16/compile`)
seems like we updated `automake` recipe at some point, but didn't update `libgettext`.
this simple fix does the trick:
[code]
/cc @madebr

P.S.: @memsharded I believe the issue must be closed - there is no bug in the conan client itself, only recipe's malfunction

[2021-09-14 11:59] lasote commented on #9448
Thanks. I was thinking more about how it would affect/collide including the toolchain directly from the conan one and how could we solve it. (meaning using directly https://github.com/leetal/ios-cmake/blob/master/ios.toolchain.cmake)
https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#using-a-custom-toolchain-file

[2021-09-14 13:51] lasote commented on #9549
Merged to be released at 1.40.1

[2021-09-14 13:51] #9549 closed, assigned to tapia, lasote

[2021-09-14 14:04] sboehmann opened #9606 "[question] How to find out the name of the package to be tested in test_package?"
In a `test_package` I can access all dependencies via `self.deps_cpp_info`, but is there any way I can determine which one is the subject under test?

[2021-09-14 14:16] dscole commented on #9579
To be honest, I don't really understand the reasoning behind the current implementation of the `merge_directories`. In this PR I went with the minimal  amount of changes that resolve the bug I encountered, but in I would have preferred to just use a standard library function for this.
I believe `copy_tree` from the standard library takes care of all the requirements for `merge_directories:
https:/

[2021-09-14 15:09] drmacdon commented on #9390
Related to open ticket #8780

[2021-09-14 15:13] SSE4 commented on #9557
@memsharded issue must be closed. there is no problem in the conan client, only malfunction in recipe.

[2021-09-14 16:21] memsharded commented on #9579
Because the intent of Python devs was to deprecate distutils implementation in favor of ``shutil`` one (https://bugs.python.org/issue4843), and Conan necessary support (2.7, 3.5, 3.6...) didn't implement the necessary functionality in ``shutil``, raising if the directory already exists (only copying to an empty directory). Apparently in 3.8 it is possible, but Conan still needs to support 3.6, so

[2021-09-14 19:26] sboehmann commented on #9606
Oh, I have found a solution!

Looks like I can get the name from `self.display_name`. Something like `self.display_name.split("/")[0]`.

Is this a good _(and stable)_ way to go?

[2021-09-14 21:02] llena1 commented on #9594
Sorry if it's a silly question, just trying to understand. The merge request failed, so I still won't be able to compile it, right? Can I somehow apply this fix locally? (we have an artifactory, so I'll be able to store and share the recipe)

[2021-09-14 21:56] memsharded commented on #9606
It seems that ``display_name`` is not documented, so it wouldn't be stable.

Why would you have more than 1 require in a ``test_package``? Maybe a ``build_require`` would make sense, but more than 1 ``require``, it would be good to know what is the use case. And why a ``test_package`` doesn't know the name of the package that is testing? As it needs to write code specific for the thing that is tes

[2021-09-15 02:51] SuTanTank commented on #8443
I'm running into similar problem when trying to build protobuf windows -> android.
I'm using the recipe from conancenter. [https://github.com/conan-io/conan-center-index/blob/master/recipes/protobuf/all/conanfile.py](url)
I use the profile from this thread by @anton-danielsson
[code]

I can't find where the error is raised, seems it's inside Conan code.

[2021-09-15 06:03] paulocoutinhox commented on #9448
Hi,

We need a way to use it and pass flags for all dependencies only one time, it will be nice.

Example:

[code]

[2021-09-15 06:46] a4z commented on #9448
@paulo-coutinho , what you request can already be done with the ios-cmake toolchain file

for software not using CMake, how to enforce bitcode flags might be kind of individual
you can of course set some env variables global instead of per package, as I show in https://github.com/conan-io/docs/pull/2223
[code]
but personally I prefer to be more explicit and set it per package, and then test if fla

[2021-09-15 07:49] daravi commented on #6588
@jgsogo Is this still in triage? I think it might not be very practical try to patch / update every upstream recipe that packages their source code in ZIP with symlinks. I am not sure how common this is but we also have this issue with the latest version of a third-party package that we have a Conan recipe for. (LibMultisense)

[2021-09-15 07:51] iiknd opened #9607 "[question] How to debug package_id calculation/check to what is available on server?"
Hi,

we have a conan package(s) available on server built with --profile=abc built by our CI system.
The package's recipe uses: self.info.requires.package_revision_mode()

We exclude certain options from the package_id which we control:

[code]

Also, we have two options (showing one here for simplicity) which contain delimeter separated list of arguments.
We filter out certain arguments which we

[2021-09-15 07:56] NoWiseMan opened #9608 "[feature] SDK Version for apple OSes"
This is the second year Apple has made a major change to the SDK within the same major release of Xcode.
With Xcode 12.0 Apple shipped macOS SDK 10.15 and with Xcode 12.1 they changed it to macOS SDK 11.0.
Now it looks the same (probably because iOS 15 came out earlier than macOS 12)
Xcode 13.0 comes with macOS SDK 11.0 and it is sure that one of the next minor updates, probably 13.1, will bring u

[2021-09-15 08:57] jgsogo commented on #9557
I've added the _closes_ keyword to the PR description.

[2021-09-15 08:58] jgsogo commented on #9557
@lalit-g-deepr , can you check/review the proposed fix for the recipe? https://github.com/conan-io/conan-center-index/pull/7287
Thanks!

[2021-09-15 10:45] lasote commented on #4254
@memsharded I don't understand the stdout/stderr task to do.

[2021-09-15 11:08] lalit-g-deepr commented on #9557
@jgsogo I have checked the proposed fix and I approve it. You can close the issue.

[2021-09-15 11:14] czoido commented on #9548
Hi @daniel88ferreira,

Could you please give us more details on your workflow?
`conan download` does not search for dependencies in the graph. It only downloads the package that it receives as argument, so if you have a require of a package, even if that's in the same repo it should not be downloaded. That would happen if you were using a `conan install` command, for example.
If you provide more d

[2021-09-15 11:38] daniel88ferreira commented on #9548
Hi @czoido,

So packageA has a [python_requires](https://docs.conan.io/en/latest/extending/python_requires.html#python-requires) dependency on packageB that comes from a different repository.

When I do `conan download packageA`, conan errors out saying that it could not find Package B.

I understand that `conan download` command should only download the requested package (I believe that's what ha

[2021-09-15 11:50] playgithub opened #9609 "[question] `CMakeDeps` failed on header only libs"
conanfile.py
[code]

[code]

Does it mean that `CMakeDeps` can not be used if any lib in `requires` has no `build_type` settings?

conafile.py for rapidjson
[code]

[2021-09-15 12:28] czoido commented on #9548
Hi @daniel88ferreira,
Sorry, you are right, the python_requires are downloaded if found in the server because when you download a package Conan tries to load the conanfile.py and that's not possible if the python_requires are not downloaded. But iterating remotes is not possible with the `conan download` command. Maybe you could try using `conan install`? Like `conan install packageA/1.0@` it shou

[2021-09-15 12:40] czoido commented on #9609
Hi @playgithub,

I think that you probably removed the `build_type` settings in your consumer conanfile (the one that requires rapidjson). So probably you are missing a line like this: `settings = "os", "compiler", "build_type", "arch"` in the consumer conanfile.
Please check the documentation for more info: https://docs.conan.io/en/latest/mastering/conanfile_py.html
Hope this helps.

[2021-09-15 12:45] Belpaire opened #9610 "[question] Managing your own dependencies"
Hi,

I've been wondering how we should handle cascading dependencies? Say for example I have a package A with version 1.0 and B with version 1.0 with a dependency to package A with version 1.0.

Some projects only rely on A and some also use B.
Let's say I upgrade A, to version 1.1, and want to use it in the project, I would need to create a new package for B to also depend on 1.1 (and eventually

[2021-09-15 14:04] playgithub commented on #9609
- my lib is header only
- rapidjson has no setting for "build_type"

[2021-09-15 14:09] playgithub opened #9611 "[question] `cmake.configure` failed but `the output scripts` run successfully in terminal"
conanfile.py
[code]

`cmake.configure` failed and output the scripts that failed, I copy the scripts to terminal and run, it succeeds.

Error Message
[code]

How to fix `conanfile.py`?

[2021-09-15 14:12] czoido commented on #9609
Hi, the problem is not in the library's conanfile, it's in the consumer's conanfile. Please can you paste your consumer conanfile here? It's the one that has the rapidjson requirement.

[2021-09-15 14:18] playgithub commented on #9609
[code]

[2021-09-15 14:39] czoido commented on #9609
Hi @playgithub,
As I said, you have to add at least the `build_type` setting to the conanfile.  The `CMakeDeps` generator needs that setting information. So please add: `settings = "build_type"` to the consumer's conanfile like this:

[code]

Some other conan generators may not need this setting.

[2021-09-15 14:48] franramirez688 commented on #9608
Thanks for reporting the issue @NoWiseMan

Let me know more about your use case. Have you faced any problem consuming any package at some point?
Adding it directly to the current Conan settings is not such a simple thing I'm afraid. The settings are part of the final `package_id` so we must be careful adding new ones to the existing recipes because we would need to update all of them. That's talki

[2021-09-15 15:04] playgithub commented on #9609
The error is fixed.
BTW another error occurs #9611

[2021-09-15 15:04] #9609 closed, assigned to nobody

[2021-09-15 15:11] NoWiseMan commented on #9608
Thank you for your very fast response.

Yes, custom settings also work. But I see no real difference between custom settings and an option.

But there is a big difference when conan gives an error when the consumer has a lower SDK version than the package.

Apple platforms have, say, this triple of important values.
- Compiler version (due to ABI changes in C++).
- Deployment Target (the minimum v

[2021-09-15 15:18] czoido commented on #9611
Hi @playgithub,
Please, we need more information to reproduce the issue. The series of commands you are executing, reproducible recipes, etc...
Thanks!

[2021-09-15 15:28] playgithub commented on #9611
The lib is private now.
If the problem is not obvious, I'll try to debug it.

To clarify the case:
The scripts generated by `cmake.configure` can run successfully by manually copying into a terminal.
But `cmake.configure` in `conanfile.py` failed.

[2021-09-15 15:36] czoido commented on #9611
Hi @playgithub,
Maybe some error logs of the fail would help...

[2021-09-15 15:42] playgithub commented on #9611
Run in `conanfile.py` failed, the error log is
[code]
I have search the build folder in conan local cache, no log, in fact the folder is empty.

`<the scripts>` here is what runs successfully in terminal , so no error log.

[2021-09-15 15:50] playgithub commented on #9611
Hi @czoido

I have found the reason.
Because I open the conan recipe in vscode before installing `cmake`, so `cmake` can't be found in vscode integrated terminal.

[2021-09-15 15:50] #9611 closed, assigned to nobody

[2021-09-15 15:51] NoWiseMan commented on #9608
Oh I forget:

The SDK version, can change the behaviour of the whole application

[2021-09-15 15:59] playgithub commented on #9609
But why a header only lib needs `settings = "build_type"`, this will lead to duplication of the lib in local conan cache unnecessarily, right?

BTW, after fixing #9611, I have tried to delete `settings = "build_type"` and do `conan create .`, it succeeds.
It is not necessary, isn't it?

[2021-09-15 16:06] czoido commented on #9609
The lib will not be duplicated because it does not have the build_type setting, it's deleted because it's a header only and will have only one package_id, please read more about this here: https://docs.conan.io/en/latest/howtos/header_only.html

That's because you are using cmake_find_package generator there and will not need it.

[2021-09-15 16:21] playgithub commented on #9609
Fine

Alright

Thanks

[2021-09-15 16:41] daniel88ferreira commented on #9548
hi @czoido,

I can try something with `conan install`, but I think the expectation is that `conan download` behaves the same no matter if the packages are in different repos or not (given that both repos are configured 🙂 )

So, this question is more to get your feedback on whether the current behaviour is intended by design or should there be a fix for it?

Thanks!

[2021-09-15 17:09] EMCP commented on #9589
it seems gitlab comes with it's own server which IS working.. I close this ticket for now and if I need Artifactory CE again I will review my setup once more

juju is just a orchestrator.. I wrote the charm (scripts) which instantiate artifactory CE myself so.. nothing there.. it's likely this IP setup needing the port to be in the name when you init the server setup

thank you @memsharded

[2021-09-15 17:09] #9589 closed, assigned to nobody

[2021-09-16 00:07] ghost opened #9612 "[bug] Github Actions — Not able to automatically detect 'cl' version"
Hello,

I'm not able to install SDL2 on the Github Actions Windows agents — the Linux and MacOS work though.

I made sure `cl.exe` is available by running the `ilammy/msvc-dev-cmd@v1` task and then running `cl`. I also tried providing the `VS150COMNTOOLS` environment variable but neither of these helped Conan find the compiler.

Is there perhaps something I'm doing wrong in the pipeline setup, or

[2021-09-16 03:11] playgithub opened #9613 "[question] What's the better practice for source folder and build folder?"
By defulat, e.g.
- source folder path: `liba/version/_/_/source`
- build folder path: `liba/version/_/_/build/<hash>`

`conan` will clone source  into `liba/version/_/_/build/<hash>`, so the source will be mixed with the build output in this folder. Questions:
- Why another copy of source?
- Is it good to mix the copy of source with build output? Or it's better to seprate source folder and build f

[2021-09-16 04:26] ssrobins opened #9614 "[bug] 'settings.yml is locally modified, can't be updated' every time I upgrade"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.5.2, Windows 10 21H1
  * Compiler+version: AppleClang 12, MSVC 19.29.30133.0 (VS2019)
  * Conan version: 1.40.1
  * Python version: Python 3.9.7

### Steps to reproduce (Include if Applicable)
Run:
[code]

I get this warning:
[code]

I'm not making any changes to this file so I would not expect Cona

[2021-09-16 06:41] lasote commented on #9607
Hi,

Is the `option_x` excluded from the package_id or not? In case it is, it shouldn't appear in the `conaninfo.txt` file.
If it is not excluded and has a different value, it would justify why it doesn't find the package, because the package_id will change with a different value of the option (filtered vs not filtered)

To debug, what I would do first is to compare the computed package_id generat

[2021-09-16 06:42] czoido commented on #9614
Hi @ssrobins,
Thanks a lot for reporting.
This should not happen. I think there's some newline in the ___init__.py_ with the default settings or in the _migrations_settings.py_ that's making the comparison fail.
I'll mark this for the next release to be solved.

[2021-09-16 06:49] lasote commented on #9610
Hi,

How to manage the versions really depends... some users upgrade by hand the versions, some others do not bump ever a version and rely on revisions, other use version ranges...

You can read more information about versioning here: https://docs.conan.io/en/latest/versioning.html

[2021-09-16 07:05] lasote commented on #9612
Hi, I don't know what the problem could be, I created an action "inspired" on yours and looks like it detects the Visual Studio:

https://github.com/lasote/foo/runs/3618407716?check_suite_focus=true

[2021-09-16 07:06] franramirez688 commented on #9608
Thanks for your great explanation.

Yeah, you're right and it could make sense to have it "natively".
Let me have a look into this issue and I'll bring you some news asap.

[2021-09-16 07:21] czoido commented on #9613
Hi @playgithub,
The copy is necessary to store a clean copy of the sources for later use to build different packages with different options. Please read the docs for more info: https://docs.conan.io/en/latest/reference/conanfile/methods.html#source
The source_folder is just CMake’s source directory where CMakeLists.txt is located and build_folder is where you want CMake to output the build. Please

[2021-09-16 07:28] czoido commented on #9548
Hi @daniel88ferreira,
I think this is the intended behaviour. We may consider different approaches for Conan 2.0 I don't think it's something that will change for now.
Anyway, I'll add this as something to look into so we can consider this suggestion in the future.
Thanks for the suggestion.

[2021-09-16 07:52] ghost commented on #9612
Hi, thank you for the reply!

I've updated my pipeline to match yours more and tried to install a different package. The error is still there (https://github.com/zaslavskyv/conan/runs/3618707220?check_suite_focus=true) even though it looks to me like the only difference is that I'm calling `conan install` not `conan create`.

Thank you.

[2021-09-16 08:55] boussaffawalid opened #9616 "[bug] very slow download using artifactory virtual repository"
We are using artifactory as conan server which used to work hyper smoothly.
Our setup consist of three repositories:
- conan-internal-dev
- conan-internal-prod
- conan-internal-thirdparty

Recently, we switched to use one virtual artifactory repository which encapsulate the three repos above. (conan-internal).
Virtual repository require conan revision to be enabled, so we did that as documented [h

[2021-09-16 09:09] czoido commented on #9616
Hi @boussaffawalid,
Could that be because you have a Conan Center **remote** repository added as well in the virtual repository and the search in the Conan Center remote is slowing down all the conan commands?
Please check if you have a remote repository besides your other local repositories and if it's there test removing it.

[2021-09-16 09:11] boussaffawalid commented on #9616
@czoido nope, we only use our own local repositories we build everything in house.

[2021-09-16 09:32] playgithub commented on #9613
`liba/version/_/_/build/<hash>` contain files for both source and build output, and by default they are mixed, is it expected?

[2021-09-16 09:34] czoido commented on #9616
Hi @boussaffawalid,
I have been doing some basic testing with a virtual repository with three local repos added and I could not reproduce the issue. Some questions to see if we can come up with something:

- Do you know which Artifactory version you are using?
- What's the approximate size in number of packages and artifacts you are managing in your repos?
- Which kind of operations have slowed do

[2021-09-16 09:36] czoido commented on #9613
Yes, totally expected

[2021-09-16 09:41] playgithub commented on #9613
OK, thanks.

[2021-09-16 09:41] #9613 closed, assigned to nobody

[2021-09-16 09:49] #9353 closed, assigned to franramirez688

[2021-09-16 09:54] boussaffawalid commented on #9616
* We use artifactory cloud enterprise version 7.23.3
* Artifacts Size: 910.02 GB
* Artifactory Artifacts Count (The total number of artifacts pointing to the physical binaries stored on your system.
):  107,480
* Artifactory items Count(The total number of items (both files and folders) in your system):  251,926
* Artifactory Total number of conan packages: 7001  (get it using conan search "*"   -

[2021-09-16 10:01] czoido commented on #9616
Hi @boussaffawalid,
Thanks a lot for the detailed info.
One more question: are you using version ranges in your packages?

[2021-09-16 10:02] boussaffawalid commented on #9616
nope, we only use exact versions.

[2021-09-16 10:10] czoido commented on #9616
Hi @boussaffawalid,
Do you think you could paste here some [logs](https://docs.conan.io/en/latest/mastering/logging.html) of the slow operations?
You can generate them defining `CONAN_TRACE_FILE` like `export CONAN_TRACE_FILE=/tmp/conan_trace.log`

[2021-09-16 10:33] boussaffawalid commented on #9616
@czoido I will try to generate one, it may take some time for me todo that

[2021-09-16 13:32] playgithub opened #9617 "[question] How to contorl the `build_type` of an indirect dependency?"
For example

`LibA` depends on `zlib (static)`  by default

`conanfile.txt` for `AppA`
[code]

What `build_type` of `zlib` will be used by default in the case?
How to control the `build_type` of `zlib` in the case?

[2021-09-16 13:44] czoido commented on #9617
Hi @playgithub,
The `build_type` used by default is the one of the **default profile** if you don't specify a profile in the command or the setting via an argument. You can read more about [profiles](https://docs.conan.io/en/latest/reference/profiles.html#profiles) and the [default profile](https://docs.conan.io/en/latest/reference/config_files/default_profile.html) in the docs.
If you want to [ov

[2021-09-16 14:01] playgithub commented on #9617
Sorry, I've edited the issue, it's about `zlib` in the case, which is an indirect dependecy.

[2021-09-16 14:13] czoido commented on #9617
It's exactly the same for zlib. Just use `conan install .... -s zlib:build_type=Release`

[2021-09-16 14:17] playgithub commented on #9617
OK, thank.
I think that explicit settings for an implicitly dependent is a little uneasy to maintain.

[2021-09-16 14:17] #9617 closed, assigned to nobody

[2021-09-16 14:22] playgithub opened #9618 "[question] How to install a lib when its depencencies are in a different remote server?"
[code]
bc = bincrafters

`conancetner` has `libpng/1.6.37`, but  it seems that `conan install` does't support two remotes at the same time.
Do I have to install the dependencies of `wxwidgets` manually?

[2021-09-16 14:32] sourcedelica commented on #9618
When you use `-r bc` on the install command it will use it for every package that it installs, even dependencies.

First install the dependencies from `conancenter`.  Then install `wxwidgets` from `bc`.

[2021-09-16 14:35] czoido commented on #9618
Hi @playgithub,
@sourcedelica is right, if you specify a remote in the command line it will **only** take packages from that remote.
You can install libpng from conancenter first or If you don't specify the remote it will look through the different remotes searching for valid requirements as well. So just `conan install wxwidgets/3.1.5@bincrafters/stable` should work

[2021-09-16 14:38] playgithub commented on #9618
But failed
[code]

remotes.json
[code]

[2021-09-16 14:50] dev-789 commented on #7209
Also in my project an issue. Also thinking about dropping build/ host context. As it also makes things more complicated also with respect to the different variables that are propagated when making use of two profiles or not. I understand thats intended to enforce better architecture, but in my project we have a mixture of technologies. One package is npm, one is python one cpp etc. And we try to s

[2021-09-16 14:54] #9618 closed, assigned to nobody

[2021-09-16 15:58] mcandre opened #9619 "[feature] Ubuntu PPA"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Could conan get an Ubuntu PPA package, for more automated installation and updates?

I see the pip and DEB packages, but a PPA would also be helpful.

[2021-09-16 16:48] memsharded commented on #3058
The new ``CMakeToolchain`` generates information to be used by CMake, by simple ``conanfile.txt`` consumers too: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html

This can be considered implemented (from Conan 1.40 CMakeToolchain is going to be used more toroughly, even the GettingStarted in the docs has changed to use it), so closing this issue.

[2021-09-16 16:48] #3058 closed

[2021-09-16 16:54] memsharded commented on #6157
Some new discussion around this in: https://github.com/conan-io/hooks/pull/342

[2021-09-16 17:00] memsharded commented on #9619
Hi @mcandre

Maintaining many different release formats is a bit of a pain, so we are not certainly excited to add one more 😅
The more relevant part is that OS releases, like the Windows installer or DEB do a Python interpreter bundle with "pyinstaller", to not require the system python, but that also has some disadvantages.

We are not implementing this in the short term, but I am leaving this op

[2021-09-16 17:15] memsharded commented on #7209
@dev-789

Using the 2 profiles is becoming the standard behavior in Conan 2.0, I'd recommend not dropping them.
All the new build systems integrations in ``conan.tools`` (https://docs.conan.io/en/latest/reference/conanfile/tools.html) will be using the input from the 2 profiles.

The ``layout()`` feature can probably solve this, have a look to ``self.folders.import``, you can parameterize it your

[2021-09-16 21:46] ghost commented on #9612
Hi!

Found the problem, the following lines shouldn't have been there:

[code]

Conan either somehow seems to understand which compiler I need from the `matrix.config.cc` or just defaults to exactly what I need — `gcc` on Ubuntu, `cl` on Windows, `clang` on MacOS.

Thank you.

[2021-09-16 21:46] #9612 closed, assigned to lasote

[2021-09-17 07:13] tapia commented on #9527
Hi, @blackliner! Did you find that example?

[2021-09-17 07:15] blackliner commented on #9527
My team is working on this topic in this sprint, I will come back if we have something reproducible

[2021-09-17 07:31] playgithub opened #9620 "[question] link failed"
## Env
* Windows
* MSVC
* Visual Studio 2019 cmake project for app
* conan 1.40.1

## conanfile.py for xlsxio
[code]

`conan create .` succeeds, and files in `.conan/data/xlsxio/latest/_/_/package/<hash>` is ok as below
[code]

BTW `CMakeLists.txt` of `xlsxio` is not written in a standard way, it is mainly hand-coded.

## conanfile.txt for app
[code]

## Build Log
[code]

[2021-09-17 08:23] iiknd commented on #9607
Contents (string) of the option_x value are filtered.

An example to demonstrate the case:

[code]

In the recipe:

[code]

After the build the conaninfo.txt shows correctly:

[code]
i.e. the binary compatible part was removed, i.e. the "sccache" in this example should not affect the binary compatibility.

EDIT:

I was able to get this working afterall i.e. to install the binaries locally from the

[2021-09-17 08:58] memsharded commented on #9594
Ok, if this is a recipe issue, I am moving this to ``conan-center-index`` repo, so it can be tracked there when this recipe is fixed. Many thanks @SSE4 !!

[2021-09-17 09:17] memsharded commented on #9534
Hi @yoav-klein

Yes, the approaches commented so far were based on a Conan client bridge, packages were being downloaded to a Conan client cache from the internet, and then uploaded from there to the isolated environment.

What  I was suggesting as another possibility is using an Artifactory server as a bridge. Setting up a remote repository, proxying ``conancenter`` repo in Artifactory, will cach

[2021-09-17 09:44] ukaiser opened #9621 "[bug] Conan package doesn't find other conan package as dependency in a yocto environment"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc8
  * Conan version: 1.39
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I'm in the process of converting a embedded linux appliaction from checked in dependencies in the repo to using conan.

conanfile.txt
[code]
The package paho-mqtt-cpp has

[2021-09-17 09:49] dev-789 commented on #7506
Yeah would be awesome if the private require also cuts off the dependency graph for the consumer like build_require is doing 😄
I keep on using build_require but as it does not influence the package_id a change of the required package doe not enforce rebuilds of the consumers :/. Introducing it a second time as python_require (as mentioned in the doc) makes it again transitive.

One more finding is

[2021-09-17 11:43] playgithub commented on #9620
I see, custom predefined macro should be defined for both build types (shared and static) of `xlsxio` explicitly, like `BUILD_XLSXIO_DLL` and `BUILD_XLSXIO_STATIC`.

[2021-09-17 11:43] #9620 closed, assigned to nobody

[2021-09-17 12:02] ShuangLiu1992 opened #9622 "Generator Ninja does not support platform specification, but platform x64 was specified"
* Conan version: 1.40.1

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html

the cmake toolchain generated by the cmaketoolchain tool specifiy platform, which is only supported by Visual Studio on Windows, not by Ninja. Possible to check generator type and only add it conditionally?

[2021-09-17 13:13] playgithub opened #9623 "[question] Problem when `boost` depends on `gtest_main` / `gmock_main`"
## Env
- Windows
- MSVC
- conan 1.40.1

## CMakeLists.txt
[code]

## Link error
[code]

## Link error solved
[code]

## Problem
The application's entry fucntion becomes `main` for `gtest_main`, so the original GUI application (wxWidgets based) never executes. Output as below
[code]

## Questions
How to solve it?
Why does `boost` depend on `gtest` in this case?

## More Info
similar to https://gith

[2021-09-17 13:46] dsvensson opened #9625 "Simple aws-sdk-cpp test crashes"
source:

[code]

conanfile, will produce a statically linked aws sdk by default:
[code]

cmakelist:
[code]

build:
[code]

crashes with:
[code]

I suspect this has something to do with build flags and weird custom allocator in AWS SDK. If I comment out the `region =` line and create an S3 client, the first request will cause a crash when it frees JSON data internally in the SDK (`cJSON_Delete`).

[2021-09-17 14:10] martin-schulze-vireso opened #9626 "[bug] Unhelpful error message about conflicting package versions between requires and build_requires"
Having conflicting version overrides for the same package in build_requires and requires results in the following output: `ERROR: True`. This makes the error hard to find. The error message should be more helpful on what is going wrong.

#4753 might be related.

### Environment Details (include every applicable attribute)
  * Operating System+version: Arch Linux Kernel 5.12.12
  * Conan version: 1

[2021-09-17 15:05] memsharded commented on #9622
Hi @ShuangLiu1992

Not sure what you mean, this is already implemented:

[code]

Ninja generator will not define the CMAKE_GENERATOR_PLATFORM variable in CMakeToolchain.
Could you please check it again?

[2021-09-17 15:35] ShuangLiu1992 commented on #9622
Yes just checked again and it's still positive

log:
[code]

generated toolchain:

[code]

cmakepreset:

[code]

[2021-09-17 15:38] ShuangLiu1992 commented on #9622
[code]

[code]

[2021-09-17 15:47] memsharded commented on #9622
But how did you define the Ninja generator when you did the ``conan install``? It seems you didn't.
It is not enough to specify the Ninja generator when you call ``cmake``, but Conan must be aware of it. So you need to use the configuration:

[code]

With something like:
[code]
So the generated toolchain.cmake file can do the right thing.

[2021-09-17 15:54] ShuangLiu1992 commented on #9622
its invoked through
[code]
perhaps a problem from cmake-conan? do I have to pass GENERATOR explicitly? thought it would figure that out automatically

yea don't think it's the same thing in conan_cmake_install

[code]

[2021-09-17 16:08] memsharded commented on #9622
Yes, ``cmake-conan`` is not updated to use the new features. The ``cmake`` generator shouldn't be used with ``GENERATORS cmake``, that is the legacy ``cmake`` generator, not the new ``CMakeToolchain`` one. Note that specially the ``CMakeToolchain`` approach, that generates a ``conan_toolchain.cmake`` file to be used with ``cmake -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake`` is basically useless f

[2021-09-17 16:30] mo-badreldin opened #9628 "[question] Why during packaging conan change symbolic link?"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hello,

I am using Conan (version 1.39.0) to create a package for lib and executable files stored in a git repo.

my recipe does not include build step and I set the variables
exports_sources = "*"
no_copy_source = True

Before packaging a symbolic link file looked like this on git re

[2021-09-17 16:34] #9622 closed, assigned to memsharded

[2021-09-17 16:47] playgithub commented on #9623
It can't be reproduced with a minimal example.

[2021-09-17 16:47] #9623 closed, assigned to nobody

[2021-09-17 17:14] memsharded commented on #9625
Hi @dsvensson

I suspect this is the typical libcxx incompatibility issue. Posting your default profile would have helped (or the full output f your ``conan install`` command). You would probably see there something like:

[code]

Your compiler is probably using ``libstdc++11`` by default, but the above means you installed the dependencies for ``libstdc++``.

Please read the **Important** note in

[2021-09-17 17:18] memsharded commented on #9628
When conan packages (in the ``package()`` method), it tries to make symlinks relocatable, because packages must be able to be downloaded and used in another machine. So symlinks are processed to make sure they are converted to relative-path symlinks, not absolute paths (that are common as a result of C, C++ build processes).

[2021-09-17 17:29] memsharded commented on #9621
Hi @ukaiser

I suspect this could be something in the paho-mqtt-cpp/1.2.0 recipe, that could be failing for some cross-compile scenario.  Maybe related https://github.com/conan-io/conan-center-index/issues/3760?
Pinging @uilianries in case he could help here.

One of the first things that could be tried is cross-compiling that recipe for another architecture, for example, and see if the recipe in

[2021-09-17 17:48] dsvensson commented on #9625
Updating the default fixed the problem. Is it possible to provide more interop between conan and cmake to deal with this more gracefully?

[2021-09-17 18:26] uilianries commented on #9621
I agree, it should be related to cross-compiler + PahoMQTT. I would move this issue to conan-center-index.

Besides that, we need the profile used to try to reproduce. However, using the Docker image conanio/gcc9-armv7hf, all build fine. Of, course, is different from Yocto, but still is cross-building.

My full log:

<details>
<summary>Details</summary>

$ conan install paho-mqtt-cpp/1.2.0@ -o pah

[2021-09-17 19:21] memsharded commented on #9621
Based on the output:

[code]

My bet is that the build is using other find module, probably belonging to yocto cmake or something like that.

[2021-09-17 19:23] memsharded commented on #9625
It is already there. The new integration with ``CMakeToolchain`` generates a ``conan_toolchain.cmake`` file that you can pass to ``cmake ... -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake`` and it will set the configuration, including libcxx to the match the Conan settings. Check the new integrations in https://docs.conan.io/en/latest/reference/conanfile/tools.html

Note, however, that this approach

[2021-09-17 19:25] #9625 closed, assigned to memsharded

[2021-09-17 20:10] uilianries commented on #9621
Yes, it sounds something affected by Yocto environment which is changing the Cmake root module path, like, searching on Yocto folders instead of using Conan folders.

[2021-09-17 21:10] redradist commented on #6835
@memsharded It is not the same
I am taking from user point of view, and you saying that it is possible ...
Even if it is possible, it is not convenient for user to manage such special packages

All this packages are special, it would be nice to mark them in special way and handle little bit differently

Even `dotnet` has possibility to install some external tools: `dotnet tool`

Conan could manage

[2021-09-17 23:49] madebr commented on #6835
@redradist
Do you want a feature to get a get a toolchain through conan?
e.g. fetch mingw automatically + create a profile for it?
[code]
This would make it possible to start building without first needing to install a toolchain.

[2021-09-18 01:12] prince-chrismc commented on #6835
I think that would be a solution...

I recently worked with other languages and ecosystems...
Not much with rust but in Golang cross compiling or "Targeting an build run environment" is incredibly easy.

You do not need to download and configure tools, re do you environment variables , etc...

You simply change `GOOS` and `GOARC`. You can also run `go tool dist` to see the support platforms

***

[2021-09-18 07:41] redradist commented on #6835
@madebr Yes, I want something like you described ...
This would be very similar how [`rustup`](https://rustup.rs) works

Single CLI to:
- Manage toolchains: install, remove
- Along with installation of toolchain create profile file
- ...

Currently in C++ community it is hard to get a new toolchain on platform.
You need to now url, also some toolchains needed to be built and so on ... all this ste

[2021-09-18 07:49] redradist commented on #6835
@prince-chrismc But conan center index already has some toolchain that are built
They are marked as `build_requires`

We just need to provide in conan receipt special flag that will mark this package as toolchain and also options that described the toolchain

Then we need support in conan for such special package/tools

It is not so hard if just to start working on it

[2021-09-18 13:15] prince-chrismc commented on #6835
I wholeheartedly agree, we have almost everything it takes. I would even go so far as to say Conan _must_ do this to become the "C++ Package Manager" since it would make a single entry point for everything in the ecosystem (except installing MSVC licenses) which the closest has been CMake but that never made it.

But you need to understand the burden of maintaining such feature grows exponentially

[2021-09-18 13:32] danielgavrila opened #9629 "[question] [package] boost - error linking with shared libbaktrace"
Hello ,

The conan profile is:

[settings]
os=Linux
os_build=Linux
arch=x86_64
compiler=gcc
compiler.version=10
compiler.libcxx=libstdc++11
build_type=Release

The command
**conan install boost/1.76.0@  -o boost:shared=True --build=boost -o zlib:shared=True -o bzip2:shared=True**
is working fine

Instead the command bellow
  **conan install boost/1.76.0@  -o boost:shared=True --build=boost -o zlib

[2021-09-18 18:10] yoav-klein commented on #9534
Thanks !

[2021-09-18 18:10] #9534 closed, assigned to nobody

[2021-09-19 02:10] koloshmet opened #9630 "[question] Failed building of some packages on macos 11 with gcc 11.2"
### Errors
I'm trying to install boost/1.76.0 (same behaviour with other versions) via conan and having errors like this:

[code]

Also when i'm trying to install openssl/1.1.1k it prints

[code]

### My profile file

[code]

### Gcc + Xcode + Big Sur

I'm using gcc 11.2 with Big Sur for a long time and it always compiles system headers fine, so it doesn't look like the root of problem. Also it wo

[2021-09-19 05:39] Makogan opened #9631 "new PkgConfigDeps generator creates wrong gtest suite pc files"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.04
  * Compiler+version: g++ 11
  * Conan version: 1.40.1
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)

Use PkgConfigDeps to download gtest as a dependency and if I set it to install teh pc files in a directory other than the build directory. I get the pc files:

[code]

[2021-09-19 09:55] memsharded commented on #9631
Hi @Makogan

Do you mean the line shot be something like?

[code]
So it includes the other .pc file as transitive dependency automatically?

Yes, this seems a bug, lets try to fix it for next release. Thanks for reporting!

[2021-09-19 10:00] memsharded commented on #9631
Btw, it could be something missing in the recipe itself, needs to be checked. I see something like:
[code]

Which is the legacy way of setting names. It is possible that the new ``PkgConfigDeps`` uses only the new properties or something like that, and the recipe needs to be modernized too.

[2021-09-19 10:27] redradist commented on #6835
@prince-chrismc

I completely agree with this

Not really true.
There are only several toolchains that needed to be supported at first MVP prototype:
- MSVC
- gcc
- clang + target architectures
- apple-clang

Second step would be to communicate with main toolchain stack-holders and to ask to support this in future, also discuss what's features are missed

It is contradictory statement ... First yo

[2021-09-19 17:51] Makogan commented on #9631
@memsharded Yes, that's what I mean, all the lib names are missing the prefix, I am not sure about the recipes, I have yet to write one myself so I am not in a good position to give feedback about it.

[2021-09-20 06:14] lasote commented on #9607
`option_x=` could correspond to a `None` that is different from an empty string but I'm not sure how `option_x=""` and `option_x=''` could be dumped to the `conaninfo.txt`. If the value is different the ID is different, but as far as I know, the empty string is always the same.

[2021-09-20 06:15] lasote commented on #9607
I'm closing the issue, We can still discussing any doubt about that, I will receive the notifications.

[2021-09-20 06:15] #9607 closed, assigned to lasote

[2021-09-20 06:28] iiknd commented on #4650
Hi,

is there any update on this? We are using Conan 1.39 and the issue is still present. When ever we have updates in 'python_requires' module we need to manually delete it before running the "conan install ..." command?

[2021-09-20 07:33] tapia commented on #9527
Please, come back even if you can't reproduce it, so we can close the issue. Thank you! 🙂

[2021-09-20 08:20] tapia commented on #4650
Hi @iiknd

Could you please attach a reproducible example? We have this case [covered by tests](https://github.com/memsharded/conan/blob/develop/conans/test/functional/python_requires/python_requires_test.py#L485), and they're passing fine, so maybe yours is an overlooked corner case and we must reopen this issue.

[2021-09-20 08:58] memsharded commented on #6835
Marking them as "toolchain" packages doesn't provide any immediate advantage, besides possibly some search capabilities. But the usage pattern is already well defined, it can be used via ``[build_requires]`` in the profile. Conan 2.0 has already defined a PackageType that can be used to define the type of the package, but still the consumption pattern will be driven by ``build_requires``.

At the

[2021-09-20 09:18] iiknd commented on #4650
Hi @tapia,

this appears to be my bad, I just found this from the documentation was I have missed early:

[code]

I will schedule builds in our CI to test this again. I'll report back if there still exists any issues.

[2021-09-20 09:24] tapia commented on #9529
Hi, @daravi

Question 1: That [conf] section works fine for me. Could you please paste the full `conan.conf` file? Looks like you have some kind of syntax error.

Question 2: The default environment is VirtualBuildEnv. If you want to use VirtualRunEnv, you have to do it explicitly. Anyhow, the recommendation is setting the `auto_use` configuration instead of explicitly use the VirtualRunEnv genera

[2021-09-20 09:27] tapia commented on #4650
Good to hear :-) The issue is closed, so if you have any problem and have to report back, please reopen it so we get notified.

[2021-09-20 09:55] tapia commented on #9619
We could set a PPA in launchpad.net. It's not complicated, but it requires some maintenance work, so we should make sure this is a really required/useful thing before rushing into it.

In the meantime, @mcandre if you need to automate the installation of the latest version, here a one-liner you can use:

[code]

[2021-09-20 10:00] #9614 closed, assigned to czoido

[2021-09-20 10:35] lasote commented on #9626
Thanks for reporting. I've been able to reproduce it. I'll open a PR with a better error trace.
Just to let you know, if you specify a build profile (`--profile:build=default`) it manages better the build requires and won't cause a conflict. You can activate it by default (as it will be at Conan 2.0) using the [global conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) `

[2021-09-20 10:38] martin-schulze-vireso commented on #9626
@lasote Have a look at the linked PR #9624. @memsharded  has already done some coding for this issue!

[2021-09-20 11:13] lasote commented on #9626
Ouch! sorry I didn't see it. I will close it.

[2021-09-20 11:15] martin-schulze-vireso commented on #9626
No problem, I just wanted to inform you to avoid duplicating effort.

[2021-09-20 11:16] lasote commented on #9626
Yeah, we forgot to tag it properly to not collide between us.

[2021-09-20 11:26] lasote commented on #9630
Not sure what can be happening but doesn't look like a Conan issue.
I found this: https://github.com/Homebrew/homebrew-core/issues/44579 might it be related?

[2021-09-20 11:49] tapia commented on #9579
Just for the record, the PR related to this issue is #9584

[2021-09-20 11:55] sduerr commented on #9558
Any ideas here?

[2021-09-20 12:01] boussaffawalid commented on #9616
@czoido sorry for the noise! issue is gone. it seems to be a temporarily artifactory glitch.

[2021-09-20 12:11] martin-schulze-vireso commented on #9626
To be fair: I opened the PR, hit a CI problem and decided to document the original problem with a reproducer as this issue afterwards. So the process might have been a bit confusing.

[2021-09-20 13:31] memsharded commented on #9503
Hi @arttet

It is possible that some of the legacy integrations haven't fully implemented support for the ``msvc`` compiler. As those integrations are going to be removed in 2.0, we should focus efforts in making sure the new integrations work robustly with this.
I have tried the following:

[code]

This maps to a ``set "VSCMD_START_DIR=%CD%" && call "C:\Program Files (x86)\Microsoft Visual Studio

[2021-09-20 14:40] franramirez688 commented on #9631
Thanks @Makogan

You're completely right. There was a bug when the `Requires` names were composed by `<PKG>-<COMPONENT>`. Now it's solved in this PR https://github.com/conan-io/conan/pull/9635

[2021-09-20 15:45] czoido commented on #9616
No problem! It's great to hear that's not happening any more. I'm closing this issue then.

[2021-09-20 15:45] #9616 closed, assigned to nobody

[2021-09-20 16:10] franramirez688 commented on #9558
Thanks for reporting the issue @sduerr

I'm not sure about it's a bug or a kind of misunderstanding with the use of lock files in Conan.
I think we need @memsharded help to answer your issue.

[2021-09-20 16:12] franramirez688 commented on #9558
I have added only the `[lockfiles]` context to the title to keep it clear that it's related to Conan lock files 😁

[2021-09-20 17:04] koloshmet commented on #9630
@lasote Yes, you're right, it solved errors for boost, thank you. But openssl still fails with unknown _make_ errors :c

[2021-09-20 17:29] #9631 closed, assigned to franramirez688

[2021-09-20 17:30] memsharded commented on #9631
https://github.com/conan-io/conan/pull/9635 merged, will be released in next 1.41 (can be tested now from "develop" branch). Thanks!

[2021-09-20 19:33] gmeeker opened #9636 "[feature] Middleware for customization of all recipes"
Allow users to inject code to modify all recipes, allowing users to run additional commands in all build() and package() methods.  One use case would be code signing all executables.  The ultimate goal would be support for multiple architectures; see below.  This feature request should cover only the core functionality of middleware support.

Because of the complexity of this idea, I've been exper

[2021-09-20 20:20] boussaffawalid commented on #9108
@memsharded  When using `conan new` with  `--template=cmake_lib`, I noticed that it uses `CMakeToolchain`.

Does that mean `CMakeToolchain` is preferred over `CMakeDeps` or it is just an arbitrary choice ?

[2021-09-20 20:41] memsharded commented on #9108
Hi @boussaffawalid

It is not one or the other, actually both of them should be used for most common cases. Please read carefully the docs in: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html The idea is that:

- CMakeToolchain is a generator to map from Conan settings of the current package to a conan_toolchain.cmake file, to be used with ``-DCMAKE_TOOLCHAIN_FILE=conan_toolcha

[2021-09-21 07:21] t7wakim opened #9638 "[feature] JSON output file lacks sufficient error details"
Hello,

I would like to address a limitation of the JSON output option (-j). It seems to lack sufficient information especially when an error is faced. For example, running the following command with no internet connection:

[code]

Returns the following on standard error:

[code]

However, in the `conan_out` JSON file, only the following is returned:
[code]

This is frustrating when trying to int

[2021-09-21 07:42] snailcatcher opened #9639 "[question] test for the existence of an environment variable"
Hi there,

My package is build with the following conanfile

[code]

In my test_package I wrote the following conanfile

[code]

The error I get

[code]

I don't get why I can't access the BLA_EXECUTABLE environment variable this way. What is the correct way of testing if the variable is set?

My goal is to verify the environment variable by running the program BLA_EXECUTABLE is pointing to.

- [x

[2021-09-21 08:22] memsharded commented on #9639
There are 2 mechanisms, you are using the legacy one, I would probably recommend start having a look to the modern one.

With the legacy, it is purely env-base, the env-var should be set

[code]

If you wanted to access it in raw, you might access it from the ``self.deps_env_info["mydep"].BLA_EXECUTABLE``

With the modern approach, the environment is not activated by default. Read: https://docs.co

[2021-09-21 10:02] mo-badreldin commented on #9628
Thanks for your prompt and clear reply.

The symlink before packaging was also using relative path. Is there a way to keep symlink unchanged?

[2021-09-21 10:45] DoDoENT commented on #6588
I've now stumbled upon this while making conan package for new [Linux version of NDK r23](https://dl.google.com/android/repository/android-ndk-r23-linux.zip) - it's a zip that contains symbolic links. After `tools.unzip` the symbolic links are not preserved and this results with broken conan package.

[2021-09-21 10:49] DoDoENT commented on #6588
@carobins , `self.run('unzip file.zip')` worked correctly for me (it's much simpler than using `subprocess.call`

[2021-09-21 12:01] janosvitok opened #9641 "[feature] Support for Xcode 13"
Conan 1.40.1 does not support Xcode 13.0. To fix it, "13.0" must be added to the list of apple_clang versions.

OS: macOS 11.6, Xcode: 13.0m, conan --version: 1.40.1, cc --version: "Apple clang version 13.0.0 (clang-1300.0.29.3)"

- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-09-21 13:25] snailcatcher commented on #9639
Hi @memsharded
Very interesting answer, thanks a lot!

[2021-09-21 13:46] memsharded commented on #9639
You are welcome! I'll consider it as responded and close it, but feel free to re-open or create a new ticket for further questions.

[2021-09-21 13:46] #9639 closed, assigned to memsharded

[2021-09-21 15:06] tolstikh commented on #9641
It might be a good idea for the community to watch out for beta releases of XCode, and add support for upcoming XCode versions at that time. This will avoid conan being unusable for the hopefully short time between when Apple pushes out the XCode auto-update, and the community putting in the fix.

That said, I appreciate the work on XCode 13!

[2021-09-21 15:25] franramirez688 commented on #9638
Hi @t7wakim

Thanks for reporting the issue.
You're right, Conan is not showing any valuable JSON-format information when an error occurs so it would be fine to solve it.

[2021-09-21 17:52] redradist commented on #6835
@memsharded

It is not enought ...
I do not want to have a copy of `llvm` toolchain, I want to have one toolchain and use it with or without conan packaging stuffs. It is much broader that a simple search of toolchain: search, manager (save, delete), create profile for it and so on

How to create profile for `mingw` package ?
How to figure out that it is toolchain ?

[2021-09-21 18:16] memsharded commented on #6835
[code]
And done, it works. You would have the compiler environment defined, you could call ``gcc`` directly in the command line, no Conan involved.

Write a file with:
[code]

This can be deduced from the package recipe options. It requires having a look to the recipe and understanding it a bit what mingw is and how to use it, yes, but 95% of the functionality is already there, the profile is some

[2021-09-21 19:46] redradist commented on #6835
@memsharded Disagree, I think it worth efforts
Lots of users do not need to now details about profile, they need to install new toolchain like @madebr suggested:
[code]

All this details:
[code]
are extra flexibility that probably not needed for most users

[2021-09-21 19:49] redradist commented on #6835
@memsharded I like that conan has generator `virtualenv`, I did not know about it, it simplifies building a lot !!

But I think we need one extra simplification for managing toolchains

Each toolchain could have mapped profile to it and if user would like to modify it will do it

[2021-09-21 20:25] redradist commented on #6835
@memsharded Also requiring all package to be built from the sources is just waste of resources ...
For example it is not needed to build trusted toolchains like llvm/clang, gcc linario (for embedded) and so on

[2021-09-21 20:49] memsharded commented on #6835
It also has many other generators, including the new ``VirtualBuildEnv`` and ``VirtualRunEnv`` ones that will be even more flexible and powerful. As I was saying, Conan has most of the features to implement this, it is mostly a matter of creating the toolchain packages.

Nobody is saying that it should always be built from sources. Conan packages can get the actual binaries from other location ins

[2021-09-22 07:41] czoido commented on #9641
Closed by https://github.com/conan-io/conan/pull/9643
This change is already in [Conan 1.40.2](https://github.com/conan-io/conan/releases/tag/1.40.2) released a couple of hours ago

[2021-09-22 07:41] #9641 closed, assigned to nobody

[2021-09-22 10:02] FranzPoize opened #9646 "[bug] imports() issue with conan workspace install"
### Environment Details (include every applicable attribute)
  * Operating System+version: 5.14.6-arch1-1
  * Compiler+version: clang 10.0.0
  * Conan version: 1.38.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
not sure because i'm not super fluent in conan
`conan workspace install` a project with an `imports()` method in one of your conanfile.py

### Logs (Executed com

[2021-09-22 10:55] FranzPoize commented on #9646
seems it's fixed in conan 1.40.0

[2021-09-22 10:55] #9646 closed, assigned to nobody

[2021-09-22 13:13] Prayag-Dubey opened #9649 "Max retries exceeded with url"
When command "conan search poco --remote=conan-center" is given, below error appears -

**ERROR**: HTTPSConnectionPool(host='github.com', port=443): Max retries exceeded with url: /conan-io/conan-center-index/v1/ping (Caused by SSLError(SSLError(185090057, '[X509] PEM lib (_ssl.c:3732)'),))

Unable to connect to conan-center=https://github.com/conan-io/conan-center-index
1. Make sure the remote is

[2021-09-22 13:44] memsharded commented on #9649
Hi @Prayag-Dubey

This is typically an issue of the client machine Python setup. It is very important that you report your OS and version. This is something more likely to happen in OSX, because of issues with cryptography dependencies. It is also relevant to report how you installed Conan.

[2021-09-22 13:58] Prayag-Dubey commented on #9649
Hi @memsharded ,
My OS is Ubuntu 18.04.5 LTS.
nstall pip in wsl ubuntu:

sudo apt install python3-pip

Install virtualenv python package (https://virtualenv.pypa.io/en/latest/)

pip3 install virtualenv

Optional: Install CMake: sudo apt-get -y install cmake
Required only if you want to do the Conan training
Install Conan:

    go to home folder by executing "cd"
    python3 -m virtualenv venv --py

[2021-09-22 14:08] Prayag-Dubey commented on #9649
Hi @memsharded ,
updated the steps and OS version. Please check

[2021-09-22 14:53] sboehmann opened #9650 "[bug] conan 1.40.2: TypeError: apply() got multiple values for argument 'strip'"
With conan 1.40.2 on macOS and Linux (Windows not tested) I get this exception:

[code]

I can fix the error if I replace the line`if not patchset.apply(root, strip=strip, fuzz=fuzz):`
with `if not patchset.apply(root=root, strip=strip, fuzz=fuzz):`.

[2021-09-22 15:28] memsharded commented on #9649
This is incorrect:

[code]

You don't add the Github repo as the remote. The legacy center, if you want to add it is:

[code]

But that is the legacy one, you shouldn't add it in the general case, and stick with the default one which is now ``conancenter: https://center.conan.io``

[2021-09-22 15:28] franramirez688 commented on #9537
Hi @arttet

I'm not able to reproduce the bug. I'm using:
* Windows 10
* Conan 1.40.2
* Clang:
[code]
When I execute your file, this is my output:
[code]

Is the link to reproduce the steps the good one? or am I missing something? Because the command is not using Clang anymore so I think I'm not doing anything else

[2021-09-22 16:16] memsharded commented on #9650
Hi @sboehmann

I cannot fully guess what is happening, it would be great if you could provide what you are doing inside your files ``commonrecipe.py`` and ``patch.py`` and how you are calling that code:

[code]

[2021-09-22 17:16] arttet commented on #9537
Hi @franramirez688

Unfortunately, I can reproduce the bug. It seems you need to use another branch such as `bug/MD`;

[2021-09-22 17:24] sboehmann commented on #9650
Sure. CommonRecipe is our common base class for all recipes _(via conan's python_requires)_. It contains a lot of stuff, but the method `default_source()` looks like this:
[code]

`mixin/patch.py`

[code]

Note: We don't use/implement `def layout(self)` anywhere.

[2021-09-22 17:43] franramirez688 commented on #9537
Yes, it's failing now but the fail is slightly different I guess:

[code]

I think we'll have to look into this issue to see what's going on.

[2021-09-22 19:06] arttet commented on #9537
There is another [bug ](https://github.com/conan-io/conan/issues/9434) related to argument unused during compilation: '-stdlib=libstdc++'

[2021-09-22 19:17] sboehmann commented on #9606
In many cases the `test_package/conanfile.py` looks like this _(this one is from conan-center-index)_:

[code]

This code itself does not know the name of the package under test. However, in our case, our `test_package` does a bit more than that. So to avoid copying and duplicating this code everywhere we use a common base class _(via python_requires)_.

But now I wanted to know which package I am

[2021-09-22 21:29] memsharded commented on #9650
Thanks! I managed to reproduce, and fixing it in https://github.com/conan-io/conan/pull/9653, for next 1.41.

[2021-09-23 03:26] #9564 closed, assigned to memsharded

[2021-09-23 04:18] Prayag-Dubey commented on #9649
the default one also shows the same error,
**ERROR**: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 407 Proxy Authentication Required',)))

Unable to connect to conancenter=https://center.conan.io
1. Make sure the remote is reachable or,
2. Disable it by using conan

[2021-09-23 05:15] celonymire commented on #7795
Same issue here...
[code]

[2021-09-23 10:12] #9626 closed, assigned to memsharded

[2021-09-23 10:21] minamaged113 commented on #7193
I am having a somewhat similar issue. I have conan installed locally `1.15.2`, and I am also using `1.35.1` from a docker container and allowing it to link with `~/.conan` from the main installation.

Every time I run the newer version from the docker container, I get the previously mentioned warning. Is there a possible way to reproduce it for the same version every time (i.e. on version 1.15.2)?

[2021-09-23 13:23] max-ag opened #9658 "[question] Requirements when installing prebuilt end-user app"
When installing/deploying a statically-linked prebuilt end-user application, Conan still installs all the requirements declared in the recipe. However, in this case, those requirements are not necessary, since everything has already been statically linked in the binary.

Is there a way to conditionally declare different requirements when building vs just installing prebuilt packages, so that I don

[2021-09-23 13:24] gabyx commented on #8050
@memsharded

I have somewhat the same problem:
I use
[code]

And cmake calls conan by `conan_cmake_install`:

[code]
which installs Catch2 as I see

but any `find_package(Catch2 CONFIG REQUIRED)` fails because non is generated?

Why is that when using build_requirements?

[2021-09-23 14:03] memsharded commented on #8050
Hi all,

This issue is now a bit outdated. Let me summarize current status:

- Future of CMake integration is CMakeDeps and CMakeToolchain, to achieve transparent integration
- CMakeToolchain can generate a ``conan_toolchain.cmake`` file to pass the necessary information to CMake
- The limitation would be the usage of ``cmake-conan``, because it is a chicken and egg problem. It is not possible to

[2021-09-23 14:03] #8050 closed, assigned to memsharded

[2021-09-23 14:05] memsharded commented on #9658
Hi @max-ag

yes, this has already been addressed in the ``develop2`` branch for Conan 2.0. It is too much of a change to be implemented in 1.X, so you would need to wait for it. At the moment, the alternative would be to do some repackaging of the executable in a different package just for deployment purposes.

[2021-09-23 14:37] gabyx opened #9659 "[question] How to generate cmake-find scripts for `build_requirements`"
In my `conanfile.py`:

[code]

In cmake I call conan by `conan_cmake_install`:

[code]
which installs Catch2 as I see

but any `find_package(Catch2 CONFIG REQUIRED)` fails because non is generated?

**How can I define build-only dependencies and generate cmake files for them?**

[2021-09-23 14:39] memsharded commented on #9659
[code]

The key is that catch2 is not a pure build_requires in the sense of "cmake" or a tool that needs to run in the build machine, but something that matches the host context.
Then, you need to use the new ``CMakeDeps`` generator too, that is the one that is moving forward.

[2021-09-23 14:59] gabyx commented on #9659
thanks: strangely cleaning everything out in ~/.conan and regenerating the whole build
also works with

[code]
and cmake still calles `/home/developer/python-envs/default/bin/conan install /cmake-general/tests/project --install-folder /cmake-general/tests/project/build/conan --build missing --profile default --settings build_type=Release --settings compiler=clang --settings compiler.version=12 --s

[2021-09-23 15:01] dheater commented on #9608
We might want to generalize any solution here. I've had a similar problem on Linux where I need to support RHEL 6 with has a very old version of `glibc`. So maybe some generic solution would allow a setting for `sdk` version on Mac, `libc` version of Linux, and there is probably something similar on Windows?

[2021-09-23 17:09] #9659 closed, assigned to memsharded

[2021-09-23 17:25] gabyx opened #9660 "[bug] CMakeDeps generates wrong Catch2Targets.cmake"
The following

[code]

with `conan install /demo --install-folder /demo/conan --build missing --profile default --profile:build default --settings build_type=Release --settings compiler=clang --settings compiler.version=12 --settings compiler.libcxx=libstdc++`

produces **wrong** CMake Scripts: `Catch2Config.cmake` does

[code]

The next lines in  `Catch2Config.cmake`  now **overwrite** the target

[2021-09-23 17:47] memsharded commented on #9660
Please remove first the ``generators = "cmake_find_package_multi"``. ``CMakeDeps`` is there to replace it, cannot live together (not sure if that is the cause, but some filenames might conflict)

[2021-09-23 17:57] gabyx commented on #9660
Ah thanks.

I got confused about the generate() method. Though its for cmake "generate".

Maybe a warning that CMakeDeps should not be used with other cmake generators?
Thanks for the fast reply!!

[2021-09-23 17:57] #9660 closed, assigned to memsharded

[2021-09-23 18:09] memsharded commented on #9660
Yes, the thing is that we had some similar check some time ago, but we have already removed ``cmake_find_package_[multi]`` generators in ``develop2`` branch, that is where we do most of our development now, and we mainly backport things to 1.X, so it seems that check has been lost in the process.

In any case, we are going to start pushing hard for new generators and Conan 2.0, so this shouldn't b

[2021-09-24 07:28] andyinno opened #9663 "[question] Cross compile for bare metal with cmake. How to properly setup cmake from conan?"
Sorry for the long post but I am trying to add all the information that I found, the steps that I performed during my tests.
I am new to Conan,
therefore there is something missing from my understanding but its some day that I am googling for a tutorial / howto / example but I did not found any.

I would like to cross compile from linux  for a bare metal arm device. Next step would be to compile f

[2021-09-24 07:41] #9650 closed, assigned to memsharded

[2021-09-24 07:41] lasote commented on #9650
The fix has been merged and will be available at 1.41.
Thanks for reporting!

[2021-09-24 09:31] retifrav opened #9664 "[question] Upload recipe failed, permission denied for user"
### Environment details

  * Operating System+version: Windows 10.0.19042.1237 x64
  * Conan version: 1.40.2
  * Python version: 3.9.7

### Steps to reproduce

Follow the steps from [documentation](https://docs.conan.io/en/latest/uploading_packages/uploading_to_remotes.html):

1. Create some package
2. Start local [conan_server](https://docs.conan.io/en/latest/uploading_packages/running_your_serve

[2021-09-24 09:37] memsharded commented on #9664
Hi @retifrav

You need to check the permissions section in https://docs.conan.io/en/latest/uploading_packages/running_your_server.html#server-configuration

As you are creating packages without user/channel, you won't be able to use that part to check permissions for that specific user, you should create packages using the ``user/channel`` part, or relax the permissions.

And in any case, I'd stro

[2021-09-24 09:43] retifrav commented on #9664
That was it, write permissions! Sorry for wasting your time, I should have read documentation and server config comments more carefully.
I've relaxed the permissions (*set it to `*/*@*/*: *`, just for testing*), and could upload the package successfully.

Sure, most likely I'll be using Artifactory, just wanted something simple for a quick test, and `conan_server` looked like a good candidate.

It

[2021-09-24 09:43] #9664 closed, assigned to memsharded

[2021-09-24 09:45] memsharded commented on #9664
Sure, no problem, happy to help! :)
Don't hesitate to submit new issues if you have further questions.

[2021-09-24 12:26] dornbirndevelops commented on #9621
hello @uilianries !
I had a similar problem when developed on Yocto.
I remember I had to patch the CMAKE_FIND_ROOT_PATH  like it's described [here](https://docs.conan.io/en/latest/integrations/cross_platform/yocto.html#setting-up-a-yocto-sdk).
Could you please check whether this is relevant for your case?

[2021-09-24 14:49] dphoyes opened #9666 "Installing an editable package that defines layout() causes files from generators to be placed in source directory"
### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.40.2
  * Python version: 3.8.10

### Steps to reproduce
  * Checkout https://github.com/conan-io/examples.git (9a22bcdbe28b070e171ecd05866acc1eeb5169f6)
  * `cd features/editable/cmake`
  * Modify `say/conanfile.py` like this to define a `layout()` method:

[code]

  * Run `./bui

[2021-09-24 15:53] memsharded commented on #9666
Hi @dphoyes

The ``layout()`` feature will only fully work with the new integrations, like ``CMakeDeps`` and ``CMakeToolchain`` (and ``CMake from ``conan.tools.cmake``). Legacy ones will probably not fully work, might work in some occasions, but in general, they will not follow the defined layout.

Yes, we need to modernize both the examples and the docs to use the new features, it is a pending ta

[2021-09-24 21:05] gabyx commented on #9660
I already adopted the CMakeDeps generator. Works pretty good.
I am still struggling to get my head around host and build contexts...

[2021-09-24 21:48] memsharded commented on #9660
Ok, for the build context, it is important to recall that xxxx-config.cmake are not generated by default, need to be activated at: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated

If you have any specific question for the 2 profiles thing, don't hesitate to create a new issue for it.

[2021-09-25 10:52] memsharded commented on #9666
I am preparing an upgrade to the docs and the examples in https://github.com/conan-io/examples/pull/94

[2021-09-25 11:51] dphoyes commented on #9666
Thanks for the updated examples. It seems like the main way it's working around this issue is:

- The `generators` attribute is no-longer overridden, so the only generator is the default one that produces conanbuildinfo.txt
- The install folder for `say` is now the same as its source folder, instead of its build folder. ie. `say/` instead of `say/build/Release/`
- All the files generated by `conan

[2021-09-25 19:58] puetzk commented on #9575
Fixed indeed, but I did discover one other interesting wrinkle that might be worth a changelog mention (your call).

In addition to the problem I had with it (didn't play nice with a user_toolchain), the old way using of CACHE here breaks in CMake 3.21 (specifically if [CMP0126 set(CACHE) does not remove a normal variable of the same name](https://cmake.org/cmake/help/latest/policy/CMP0126.html) i

[2021-09-25 20:58] puetzk commented on #9575
The fix in #9576 should already address this too, but it means it might have more widespread impact than I had realized when I reported it as a bug for those doing fancy stuff in user_toolchain.

[2021-09-26 05:35] apteryks opened #9671 "[bug] [Meson toolchain failing tests] on GNU Guix"
### Environment Details (include every applicable attribute)
  * Operating System+version: GNU Guix, main branch
  * Compiler+version: GCC 7.5.0
  * Conan version: 1.40.2
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)

Build a newly defined conan package for Guix, which is built in a container with the the following direct dependencies:

[code]

### Logs (Executed comman

[2021-09-26 06:29] apteryks opened #9672 "Tests failing only on i686-linux"
#### Environment Details (include every applicable attribute)

    Operating System+version: GNU Guix, main branch
    Compiler+version: GCC 7.5.0
    Conan version: 1.40.2
    Python version: 3.8.2

#### Steps to reproduce (Include if Applicable)

Build a newly defined conan package for Guix, which is built in a container with the the following direct dependencies:

[code]

#### Logs

These tests

[2021-09-26 20:15] memsharded commented on #9575
Thanks for highlighting this issue. It sounds good that this fix helped with that CMake 3.21 issue too.

Not sure if a late changelog change would help much, the change is already documented, and as long as the behavior is the expected one now, I'd say we are good.

[2021-09-26 20:43] memsharded commented on #9672
Hi @Apteryks

I guess there is something failing in the detection of the architecture in this platform. Lets start with something simpler:

[code]
And then share the full output

[2021-09-26 22:40] SeanSnyders commented on #8102
I would still appreciate a comment on my suggestion made in my last comment for Conan to provide more native support for running unit test executables. It is very difficult and complex setting this up to work in a good cross-platform way with transitive dependencies - this very thing that Conan should help out with.

**EDIT:
Disregard below statement - I found a bug in my own manipulation of the R

[2021-09-26 23:02] memsharded commented on #9510
To follow up: it is not possible to use settings and options in alias to decide dynamically, and it would be quite complicated to implement, adding too much extra complexity when we are trying to simplify the alias logic.

In any case, it is possible to define a "proxy" recipe that implements the logic, (and can remove the variance of packages removing settings and options in ``package_id()``.) Th

[2021-09-26 23:02] #9510 closed, assigned to lasote, czoido, memsharded

[2021-09-27 07:40] gabyx commented on #9660
Thanks a lto for that hint.

[2021-09-27 09:09] lasote commented on #9630
Let's move this issue to the conan-center-index repository to see if someone from the community can help as it looks it is not a `conan client` issue but probably the recipe of some packages.

[2021-09-27 10:21] flemmingscholer opened #9676 "[question] missing header files for 7zip@19.00"
When I install 7zip@19.00, I get just the binaries but no header files.

console output:
Installing (downloading, building) binaries...
7zip/19.00: Retrieving package ca33edce272a279b24f87dc0d4cf5bbdcffbc187 from remote 'cci'
Downloading conanmanifest.txt
Downloading conaninfo.txt
Downloading conan_package.tgz
7zip/19.00: Package installed ca33edce272a279b24f87dc0d4cf5bbdcffbc187
7zip/19.00: Downl

[2021-09-27 10:43] memsharded commented on #4961
Conan 2.0 is removing this feature, because it will not exclude .pyc from packaging: https://github.com/conan-io/conan/pull/9673, so no extra env-var or conf will be needed to package .pyc

[2021-09-27 10:53] memsharded commented on #9676
This particular recipe from ConanCenter is packaging only the 7zip binary executable, not the library, headers or libs. If there is a TODO, that could be a feature request to contribute or ask the ConanCenter community to discuss. I am moving this to the ``conan-center-index`` repository where this recipe lives, as this is not a Conan client issue, but a recipe issue. Thanks for reporting!

[2021-09-27 12:19] nowgain-nowpain opened #9677 "[question] what does "--***" mean in a conan install command"
- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I saw some coan install command like below:
$ coann install --*** -s os=Linux ...
What does the "--***" do? I could not find anything from the conan/install reference. Is it documented some where else? Thanks.

[2021-09-27 12:41] #9677 closed, assigned to nobody

[2021-09-27 15:13] jgsogo commented on #7339
I've been playing with emscripten these days (I'm using the recipe under development here: https://github.com/conan-io/conan-center-index/pull/6163). With the build-requires, I'm able to build `corrade` (https://github.com/conan-io/conan-center-index/pull/7410) and `magnum` packages (https://github.com/conan-io/conan-center-index/pull/7412) with some modifications. It also works for `magnum-integr

[2021-09-27 19:36] uilianries commented on #9621
@dornbirndevelops Excellent find, let's see if it works for @ukaiser

[2021-09-28 01:07] ericriff commented on #9572
The same happens with the current recipe for protobuf, if we're cross compiling.
The test package sets itself as a build_requirement
[code]
If you try to cross compile, conan always rebuilds the x86 (pr:b) version first. This is particularly annoying if you already have available the x86 package or if you want to crosscompile for multiple archs.

[2021-09-28 01:20] ericriff commented on #9572
E.g., We do
[code]
Which results on 3 x86 builds and 3 crosscompilations. It takes about twice as much time as it should.
I'd expect the build to fail if the x86 package is missing instead.

[2021-09-28 02:11] playgithub opened #9680 "[feature] One directory of dependecies for one project"
Now local conan cache is global, it's hard to clean.
If one `conanfile.txt` lead to one directory, e.g.
[code]
`conan install` for `/path/to/ProjectA/conan/conanfile.txt` can install deps into `/path/to/ProjectA/conan/installed`,
so that after updating `conanfile.txt`, `/path/to/ProjectA/conan/installed` can be cleaned according to `conanfile.txt`.

For efficiency, one or more `conan/installed` di

[2021-09-28 04:19] playgithub opened #9681 "[question] How to run `conan_server` on boot as service on Linux?"
I can't find the answer at https://docs.conan.io/en/latest/uploading_packages/running_your_server.html

[2021-09-28 07:24] memsharded commented on #9681
Because running anything as a service on Linux depends on the specific Linux distro and version. You should check how to do that for your system, this is not a Conan question, but a Linux question.

[2021-09-28 07:24] #9681 closed, assigned to nobody

[2021-09-28 07:26] memsharded commented on #9680
This is already doable
[code]

[2021-09-28 10:05] playgithub commented on #9681
OK, better if it is also crossplatform.

[2021-09-28 10:07] playgithub commented on #9680
Fine, hope it can be cleaned according to `conanfile.txt` in the future.

Thanks

[2021-09-28 10:07] #9680 closed, assigned to memsharded

[2021-09-28 10:48] memsharded commented on #9481
At the moment not enough evidence that this is very necessary, we can wait.

[2021-09-28 10:48] #9481 closed, assigned to nobody