[2021-03-10 10:58] DdOtzen commented on #8411
I might add, that I get henn and egg problem with options.
But I then vote that this feature request is renamed to something like
"Set environment vars from -e option  as first thing in conan workflow"

[2021-03-10 12:04] ericLemanissier commented on #7661
this blocks https://github.com/conan-io/conan-center-index/pull/3663

[2021-03-10 15:20] danimtb commented on #8616
Hi @gallencalade,

I might be missing some context from your question even after reading #4407. Could you please elaborate your case with an example that illustrates the issue? Thank you

[2021-03-10 15:32] danimtb commented on #8624
Hi @GordonJess,

The implementation is transparent in the code based on the `download_cache` configuration so currently, there is no output difference possible. I'd suggest you to check the logging information of Conan https://docs.conan.io/en/latest/mastering/logging.html#logging-and-debugging and check for the `DOWNLOAD` events to check it is working.

[2021-03-10 16:28] thorntonryan opened #8626 "[feature] Packageable pip installable Python venv based utilities"
## Description

What if Conan had the capability to capture/package pip installable python utilities (e.g. Sphinx) or thunked scripts and turn them into a package a project could `build_requires` for use during builds?

My coworker @puetzk has developed a couple nifty little utility packages that allows us to do just that.

Would there be any interest in adding first class support for such a capab

[2021-03-10 17:37] danimtb commented on #8544
Hi @domfellner and sorry for the delay in answering this issue.

Thanks a lot for providing a reproducible example to check this. I can confirm the issue.
After a first debug in the source code, I can't tell the reason why those binaries are not processed correctly. Probably the package ID missing from the graph is the cause.

Unfortunately, the workspaces feature is lacking some support in the pa

[2021-03-10 18:04] FunMiles commented on #8615
Actually yes.  What is this `CONAN_V2_MODE` ? Should I set it by default or is it only to create the profile?

For reference here is the output:
[code]

PS: After reading the docs of `CONAN_V2_MODE`, I think I can/should probably use it.

[2021-03-10 18:25] FunMiles commented on #6009
I am also having this problem on Mac OS X with conan 1.34.0
[code]
@memsharded can you reproduce it? Or is it only on MacOS?

[2021-03-10 18:47] memsharded commented on #6009
[code]

You need the @, to mark this is a package reference, even if it doesn't have user/channel. This will be changed in Conan 2.0, but at the moment it was necessary to not break.

[2021-03-10 19:01] FunMiles commented on #6009
With the @, it works. Thanks. But it's a lot of download. I'll try with just the recipe.

[2021-03-10 23:02] #8449 closed, assigned to jgsogo

[2021-03-11 01:58] gallencalade commented on #8616
I have a same problem which is commented by Johnnyxy #4407.

 For instance, We have a package PkgA/1.4.0 built with os=Linux, a package PkgA/1.5.0 with os=non-Linux like Neutrino, and have a PkgB with os=Linux and depending on PkgA/[>=1.0.0 <2.0.0]. When `conan create` compiles PkgB, the version ranges is resolved to PkgA1.5.0 and `conan` causes an error that missing prebuilt package for PkgA/1.5.

[2021-03-11 05:25] SSE4 commented on #8615
it's [documented](https://docs.conan.io/en/latest/reference/conan_v2_mode.html):
[code]

it's not activated by default to avoid breakage.

in general, auto-detection is just a helper, it may mis-detect something (e.g. many compilers are trying to mimic each other to increase compatibility), so the recommendation to always check the profile generated, and edit, if necessary.

[2021-03-11 05:59] SSE4 commented on #8623
we set `ANDROID_STL` here:
https://github.com/conan-io/conan/blob/3cfeda8766f28052f0523f2ad3b0629fbb118a11/conans/client/build/cmake_flags.py#L267
but we skip it earlier if `CMAKE_TOOLCHAIN_FILE` is set:
https://github.com/conan-io/conan/blob/3cfeda8766f28052f0523f2ad3b0629fbb118a11/conans/client/build/cmake_flags.py#L197
AFAIK, it was done to avoid overriding values defined in user's toolchains:

[2021-03-11 09:17] at185190 commented on #8623
I'm not sure its working properly, without toolchain wrong ANDROID_STL is definitely set, it was definitely using static instead of shared that we had set profile, you cannot confuse requiring c++_shared.so vs not requiring it.

And if there is reason for stl not be set with a cmake toolchain, example should imply that it should be set instead of assumption that is being set as conan outputs:
 --

[2021-03-11 09:42] SSE4 commented on #8623
to be honest, I doubt it will be fixed in 1.x, we're moving towards new `CMake` build helper for 2.0. the existing code is too fragile, and there are too many use-cases relying on the current behavior already.
meanwhile, there are several alternative approaches you could try:

1. wrap NDK's toolchain into your toolchain setting `ANDROID_STL` and others in addition, as described: https://docs.conan

[2021-03-11 09:42] matte86 opened #8628 "[question] libftdi1 issues loading dylib"
Hey guys,

Sorry if this was asked several times but I read all examples and conan documentation but still haven't figured out how to fix this.

I am running conan 1.34.0 on MacOSX and working on an application for which I would like to consume libftdi. In the conan center unfortunately the version is rather old [(0.20)](https://conan.io/center/libftdi).

I am trying to create a package using [lib

[2021-03-11 09:45] at185190 commented on #8623
Fair enough, I got it working now, it just that it caused a day of frustration and confusion.

[2021-03-11 11:05] crazydef opened #8629 "How to add custom build_type values?"
The pre-defined `build_type` values are incompatible with our setup.

I can see the existing values are listed in settings.yml, but is it possible to add custom types programmatically?  (We need to be able to define these when building on our Azure hosted build machines.)

[2021-03-11 11:10] foundry-markf commented on #1432
Just to add to this, I was also thinking about dry-run 'conan create' calls this morning.

The context behind it is that we have a lot of our own recipes, and we tend to stay on an older version of Conan for stability, but I would like to know if there's any incompatibility with the _Python_ side of the recipes, without paying the cost of building all of the packages again, when the Conan version

[2021-03-11 12:31] crazydef commented on #8629
I figured out how to install a custom settings file.

If anyone else needs this for a Azure hosted build:

Create a copy of your settings.yml (it must still be called settings.yml), make whatever changes you need, and include it in your source repo.  (Or add a build step to fetch it from another repo.)

Add a new step to your pipeline yaml to install the modified settings:
[code]

Now any subseque

[2021-03-11 12:31] #8629 closed, assigned to nobody

[2021-03-11 12:48] memsharded commented on #8629
Hi @crazydef

Just in case you are using custom build_types, have you checked the latest improvements in generators like ``MSBuildDeps`` and ``CMakeDeps``? Those can automatically manage custom build_types, something that was not possible earlier.

[2021-03-11 14:02] KristianJerpetjon commented on #7661
This prevents generation of proper .pc files like the gst-plugins-base's gstreamer-video-1.0.pc

[2021-03-11 14:09] DdOtzen opened #8631 "[bug] A slash '/' in artifacts.properties breaks upload if using V2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Microsoft Windows [Version 10.0.18363.778]
  * Compiler+version: N/A
  * Conan version: 1.33.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
I have this very simple conanfile.py
[code]
I run these commands
[code]
I obfuscated the upload URL in the code above

And the upload fail.

[2021-03-11 14:45] guiserle opened #8632 "[feature] allow for non-string configuration-specific preprocesor definitions on CMakeToolchain"
Currently CMakeToolchain only allows for string literal definitions due to quotes included on [this line of jinja template](https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/base.py#L128).
`add_definitions(-D{{ it }}="{{ value }}")`

This limits the hability to declare integer or other definitions on generate() method. I hope this could be easily workaround by removing the quotes fr

[2021-03-11 15:35] danimtb commented on #8616
Thanks a lot for describing the issue with an example.

Yes, I understand the scenario, and unfortunately this intrinsic to the behavior of Conan based on how the graph is modeled.
Conan always resolves the recipe first and then the binaries. This is because the recipes define the binaries you need, so there is no possible way to know the binaries before resolving the recipes.

As quoted from the

[2021-03-11 17:47] lieser opened #8633 "[feature] MSBuildDeps generator: CAExcludePath"
In most cases if one wants to run the code analysis included in Visual Studio, one is not interested in findings in external code.

This is possible via the (poorly documented) `CAExcludePath` property, see e.g. https://stackoverflow.com/questions/43755499/suppress-warnings-for-external-headers-in-vs2017-code-analysis.

It would be nice if the `MSBuildDeps` generator could populate the `CAExcludeP

[2021-03-11 20:28] domfellner opened #8634 "[question] Passing package_id mode downstream & custom direct mode"
Hi Conan community,

I need some clarification on the package_id concept in case I deviate from semver_direct_mode

Let's assume we have some **app** package which requires a package **libA**, which in turn requires **libB** which again in turn requires **libC**.

If I don't change anything in the conan configuration or **libA**'s package_id method, _semver_direct_mode_ is applied, so ABI compatib

[2021-03-11 23:27] memsharded commented on #8633
That might be relatively easy to add, but I'd like to understand better a few things:

- What is the risk? Is it possible that adding that breaks for some other users? Older VS versions?
- Is it possible that other users will not want it for other reasons?

We could add it as opt-in via some ``[conf]`` configuration.

[2021-03-11 23:39] memsharded commented on #8634
Hi @domfellner

I think this is very closely related to this previous discussion: https://github.com/conan-io/docs/issues/3153.
Please have a look, and if it is, copy the above there, and lets track it in the other issue.

As you will see in the comments, the problem with this is that counter examples of why the definition of the mode on the dependency doesn't work, as you know the C/C++ compiling

[2021-03-12 07:35] SSE4 opened #8636 "[feature] cmake_find_package support Standard Variable Names"
`cmake_find_package` generator should set standard variable names as per https://cmake.org/cmake/help/v3.20/manual/cmake-developer.7.html#standard-variable-names:

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-12 08:25] Da-LiFe commented on #8583
Hi @memsharded

We've tested the fix in our setup and its working. However, we've noticed that if "test" is a symlink to "TEST", the symlink is resolved after the export_sources, i.e. both are files then. This is ok in our use-case, but might cause problems for others?

Regarding the version: We are fine with upgrading to 1.34.1. So no backports are requires for us.

[2021-03-12 08:30] memsharded commented on #8583
Thanks @Da-LiFe for testing and reporting, happy to hear that it is working now and no backports are necessary :)

Regarding the symlink, is it a regression of this fix? Because in code it seems that that could also be the previous behavior as well, nothing really changed regarding symlinks in https://github.com/conan-io/conan/pull/8585/files, it is basically ensuring that casing do not affect mat

[2021-03-12 11:16] ChristophStrehle opened #8637 "[bug] msvc tries to build with Unix Makefiles"
When trying to build a library with CMake and msvc compiler conan selects MinGW generator instead of Visual Studio.

See changes here
https://github.com/conan-io/conan/pull/8201

The generator selection in utils.py get_generator looks correct.
The get_generator method from cmake_flags.py will instead return "Unix Makefiles" for msvc.

### Environment Details (include every applicable attribute)

[2021-03-12 11:25] mpusz opened #8638 "[feature] Binary Conan options should be expressed as an `option()` in CMake when generated with CMakeToolchain"
This is common to have `True`/`False `options in `conanfile.py`. For example:

[code]

the above is translated by the `CMakeToolchain` to

[code]

This is seen in a GUI as:

![image](https://user-images.githubusercontent.com/506260/110933671-5c493280-832d-11eb-9926-1396d124d3f3.png)

However, it would be nicer if those would be generated either as:

[code]

or

[code]

The new behavior better stat

[2021-03-12 11:46] mpusz opened #8639 "[feature] Consider using CMake's `include_guard()` in `conan_toolchain.cmake`"
Right now at the beginning of `conan_toolchain.cmake` `CMakeToolchain` generates:

[code]

When minimum version of CMake (3.10) will not be an issue anymore please consider using: https://cmake.org/cmake/help/latest/command/include_guard.html

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-12 11:53] lieser commented on #8633
Not an expert in VS, but I would be surprised if it did. At least VS 2019 seems to just ignore unknown properties.

I guess there is at least the possibility that some do not want it, e.g. for some internal libraries.
From my understanding the code analysis only works as part of the compilation, so you can not start it directly on a header file. So if a header is never used in a project itself (or

[2021-03-12 11:55] iiknd opened #8640 "[question] "build_requires" tools from the same package but from different build configuration (settings)?"
Hi,

the scenario is the following:

The module (.git repository) can be built for different targets (linux, windows, android, iOS, ...). To cross-compile for e.g. android/iOS certain tools are needed from the host build of the same module. So without Conan one builds and installs the module (cmake) first e.g. for Linux and then for android/iOS using the tools from the host-only build.

I tried to

[2021-03-12 13:59] SSE4 commented on #8638
probably related to the #8632
we need to save types, if possible (bool, int, etc)

[2021-03-12 14:00] #7414 closed, assigned to nobody

[2021-03-12 16:32] matte86 commented on #8628
I actually noted that there is a pull request [3957](https://github.com/conan-io/conan-center-index/pull/3957) pending for this.

[2021-03-12 16:36] Da-LiFe commented on #8583
@memsharded I can't reproduce the obervation by myself using conan 1.34.1 right now. I'll have to refer to the person that told me about this possible symlink issue.

[2021-03-12 16:43] czoido commented on #8639
Hi @mpusz,

~~Thanks a lot for the suggestion, we will take this into account for 2.0 when CMake will be the lowest supported version.~~

EDIT: In fact we can add it now as we in CMakeToolchain we are already adding some 3.15 CMake features. I'll mark this for the next release.

[2021-03-13 04:43] gallencalade commented on #8616
Well, thanks for your answer.

Maybe we have to look for another solution.

[2021-03-13 04:43] #8616 closed, assigned to nobody

[2021-03-13 08:38] DmitrySokolov opened #8642 "[bug] 'python_requires' not working when the required packages version was updated"
### Environment Details
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.33.1
  * Python version: 3.8+

### Steps to reproduce

The package `TestB` requires some Python  functions from `TestA`, so I add the last one to `python_requires`:

[code]

Then I updated `TestA` (added another function), and `TestA/1.1.0` is backward compatible.

Then I deleted `TestA/1.0.0`

[2021-03-13 10:35] memsharded commented on #8642
Hi @DmitrySokolov

This is not a bug, this is designed this way, please have a look at: https://docs.conan.io/en/latest/extending/python_requires.html#packageid

The key is that changing a ``python_requires`` can wildly change the final binary being produced. The new ``python_requires``, introduce ``python_requires_id_mode`` that can be used to control it. By default, it will produce new binaries

[2021-03-13 10:40] memsharded commented on #8637
Hi @ChristophStrehle

Could you please provide more details and how to reproduce it? The experimental ``msvc`` new compiler is only supported in the new toolchains, like ``CMakeToolchain``, and the new build helper imported from ``from conan.tools.cmake import CMake``, but not the previous one. Main reason for this is stability, but also moving forward towards Conan 2.0.

Could you please try with

[2021-03-13 10:55] memsharded commented on #8633
Thanks for the feedback @lieser

Based on the discussion, the approach should be:

- Lets leave as-is by default. Code-analysis, same as compiler warnings should always be enabled by default. It is clear that there is no unique absolute default, users using Conan mostly for third-parties will want those excluded, but most users using Conan for their own packages, including header-only, will want t

[2021-03-13 12:59] DmitrySokolov commented on #8642
Thank! It's clear now.

[2021-03-13 12:59] #8642 closed, assigned to memsharded

[2021-03-13 17:52] solvingj commented on #8609
@memsharded thanks for the additional info.  @mekanix , with that, may we close this?

[2021-03-13 17:53] alex-700 opened #8643 "[question] cmake_find_package_multi: folder for xxx-config.cmake files"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When somebody uses `cmake_find_package_multi` generator `conan` generates several (for every dependency) `.cmake` files and put them into the build directory. Is there some option to change the destination folder for these files from `${CMAKE_BINARY_DIR}` to some custom one (e.g. `${C

[2021-03-13 17:56] mekanix commented on #8609
@solvingj yes, thank you!

[2021-03-13 17:56] #8609 closed, assigned to solvingj

[2021-03-13 18:52] Hopobcn commented on #3302
Using `ExternalProject_Add` offers also some challenges:

* cmake configure step is deferred until the superbuild target is called. This could break projects that have targets depending on other workspace targets provided by conan
* Conan should provide the dependency graph via cmake `DEPENDS`

but also some benefits:
* multiple toolchains could be mixed (ideal for using with `CMakeToolchain`)

So

[2021-03-14 14:45] blockspacer opened #8644 "[question] Is it possible to use conan with multiple build systems (cmake, gn, Bazel, etc.)"
* I've read the [CONTRIBUTING ](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md) guide.

**I need (as many others) dependency manager that is not tied to a particular C++ build system. Please provide any information about how to use conan with multiple build systems.**

Can conan be used in scenario below?

* (main project) project A uses CMake
* (dependency) project B uses

[2021-03-14 20:34] memsharded commented on #8644
Hi @blockspacer

Yes, definitely. Conan is not tied to any build system, you can see it supports many: https://docs.conan.io/en/latest/integrations/build_system.html

The greatest part is that every package can have its own build system, consume dependencies that are using other build systems and be used by others with different build systems. It basically works as follows:

- each package defines

[2021-03-14 20:35] memsharded commented on #8644
Another good resource is ConanCenter https://conan.io/center (recipes in https://github.com/conan-io/conan-center-index), it contains hundreds of packages, using different build systems.

Please let me know if the above helps, or you have any further questions.

[2021-03-14 20:45] memsharded commented on #8643
Hi @alex-700

Have you tried the ``conan instal ... --install-folder=somefolder``? That will put those files inside such folder.
The issue is that this is only ok as a consumer, for local development. If you want later to create a package for it, then by default the generated files will be in a different location, and that will be problematic.

The good news is that we are working on that. @lasote

[2021-03-14 21:02] memsharded commented on #8631
Hi @DdOtzen

I have been trying to reproduce this, but so far without success:

- We already have a test in our test suite that covers for a slash (using the embedded conan server)
- I have manually tested with a local Artifactory 7.15 instance, both with and without revisions, seems to work fine, property appears in server without problems.

Which server version are you using? Is it possible that

[2021-03-14 21:10] memsharded commented on #8346
It is not possible to skip Python entirely. While some methods could be declarative (like ``exports``), the ``build()`` methods and ``package()`` are basically impossible to make it declarative. The high variability of build systems, the peculiarities of many projects make a full scripting language totally necessary, and exploring https://github.com/conan-io/conan-center-index/tree/master/recipes

[2021-03-14 21:10] #8346 closed, assigned to memsharded

[2021-03-14 23:05] memsharded commented on #8632
Hi @guiserle

https://github.com/conan-io/conan/pull/8645 should allow it, a bit more tricky than expected, but I think it makes sense, it is a valid request.

[2021-03-14 23:09] memsharded commented on #8636
Hi @SSE4

yes, this makes sense, but as we are moving to ``CMakeDeps`` generator as the main one, does it make sense to invest this effort? If we are doing it, I would be extra careful not to break anything, not changing existing vars, only adding new ones.

[2021-03-14 23:18] memsharded commented on #8628
Hi @agn0stico

Have you tried with the latest recipe contributed in https://github.com/conan-io/conan-center-index/pull/3957? If you checkout the contributors branch and create the package from there, you could try their package, maybe it fixes the issue? If it does, commenting on that PR in ConanCenter will also be good.

[2021-03-15 02:40] SeanSnyders opened #8646 "[question] Dynamic package version gives lockfile error"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[code]

[code]

Gives error:
[code]

Not sure if this a bug, as I can successfully build into the local cache via the `conan export ....` and `conan install --build=MyProject ...` command.
I always want to dynamically use the version in the `version.txt` file.

------

`version.txt`

[2021-03-15 05:26] #8644 closed, assigned to memsharded

[2021-03-15 08:39] jegabe opened #8647 "[question] Clearification of the "build/package" autopackaging magic with cmake"
Dear conan experts,

In my company, we're using conan and cmake together. We use cmake also as the packaging tool, as shown in https://docs.conan.io/en/latest/howtos/cmake_install.html#reuse-cmake-install.

This means that the self.copy() step is not needed but the whole content of "[buildfolder]/package" is packaged by conan by some magic.

I just discovered that magic. In my conanfile.py, I had

[2021-03-15 11:16] matte86 commented on #8628
Hi @memsharded

thanks for following up on this. I actually tried what you suggested but it seem I am having the same issue when building a shared library with that package as well.

I am running Mac OS 10.15.7, conan 1.34.0 and cmake 3.17.3.

[2021-03-15 11:42] jgsogo commented on #8640
Hi, @unzap ! Have you read about the two-profiles approach? You can specify two profiles in the command line like `conan install/create <reference> --profile:host=<profile> --profile:build=<build>` and Conan will split the packages in the graph into different context:
 * _Host_ context will use `profile:host` and it will contain `<reference>` and all its requirements and transitive requirements.

[2021-03-15 11:57] xahon opened #8649 "[bug] option X doesn't exist when doing conan install"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 16
  * Conan version: 1.34.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
1. conan install (with conanfile.py containing "sdl2/2.0.14@bincrafters/stable" in requires and "sdl2:jack": False in default options)

### Logs (Executed commands with

[2021-03-15 11:59] xahon commented on #8649
Oh, my bad. There is `del self.options.jack` when the os is not linux. I'm sorry

[2021-03-15 11:59] #8649 closed, assigned to nobody

[2021-03-15 13:15] aleksa2808 commented on #8647
Hi! Not a Conan dev myself, but I think the only magic that is happening here is that the `CMake` build helper described in the page you linked is setting the `CMAKE_INSTALL_PREFIX` variable to point to the final package output folder (`self.package_folder` from within the recipe). You can see that, along with some other variables that this build helper is setting in the reference [here](https://d

[2021-03-15 16:31] solvingj commented on #8647
@aleksa2808 is correct.  It seems likely that the `install()` method of the `CMake` helper class is being called in your recipe.  Would need to see more of the recipe to confirm.

As @aleksa2808 said, this helper function is designed to leverage the `install` targets that many `CMake` projects already have defined, to copy files from Conan's `build` directory to Conan's `package` directory (so use

[2021-03-15 16:50] solvingj commented on #8646
We had a similar situation with `options` and `configure()`/`config_options()` documented here:

https://github.com/conan-io/conan/issues/7991

It was fixed in a subsequent PR.

It's similar in that, it relates to the timing of enforcement, when there are dynamic methods which can change values.  In this case, you have a `version` attribute, and then a `set_version` method, and clearly the lockfil

[2021-03-15 17:02] w3sip opened #8652 "Meson/gstreamer and crosscompiling"
Hi,

We normally use cmake generator, so trying to build gstreamer with conan is a bit of a new avenue.

That being said, native Macos built in a jiffy. But trying to crosscompile to iOS hitting an obstacle right out of the gate: Meson (?) builds a test aarch64 executable (build/meson-private/sanitycheckc.exe), but then tries to run it and obviously fails.

What am I missing? What is the proper wa

[2021-03-15 17:09] memsharded commented on #8558
This seems very related: https://github.com/conan-io/tribe/pull/20, please have a look.

As a temporary workaround, I would try invoking ``conan info app1 --lockfile=complete_app1.lock --build`` which might retrieve at least the recipes (but not the binary).

Maybe also https://github.com/conan-io/conan/pull/8021 could also help with this need (this is work in progress as well).

[2021-03-15 17:20] ericLemanissier commented on #7661
another example where it is needed: https://github.com/GNOME/gobject-introspection/blob/master/meson.build#L243

[2021-03-15 18:54] memsharded commented on #7661
Thanks for the feedback. I am trying to understand the scope of this information, and why would it be exclusive to the .pc files. How is CMake dealing with this library, is it even possible to consume it at all without using those .pc files? How CMake maps those ``giomoduledir=${libdir}/gio/modules, glib_compile_schemas=${bindir}/glib-compile-schemas, glib_compile_resources=${bindir}/glib-compile-

[2021-03-15 19:05] ericLemanissier commented on #7661
regarding gobject-introspection, the information is probably never consumed from cmake : https://ubuntu.pkgs.org/20.10/ubuntu-main-amd64/libgirepository1.0-dev_1.66.1-1_amd64.deb.html
Wayland-protocols too: https://ubuntu.pkgs.org/20.10/ubuntu-main-arm64/wayland-protocols_1.20-1_all.deb.html
gst-plugins-base too: https://ubuntu.pkgs.org/20.04/ubuntu-main-amd64/libgstreamer-plugins-base1.0-dev_1.16

[2021-03-15 19:12] nichmj01 commented on #8590
Hey @danimtb,
Sorry for the delay in getting back. Yes, I want to create packages for the test libraries as well.

I tried using `cmake.configure(source_folder=os.path(self.source_folder, "projectA", "test"))` but then I get an error from my CMakeLists.txt file saying that it couldn't find the conan_paths.cmake file.

I have these lines in my CMakeLists to be able to build without conan (and I'm u

[2021-03-15 19:26] w3sip commented on #8652
This is the contents of the generated conaninfo.txt (crosscompiling from x86_64 to aarch64 Linux fails in a similar way)

[code]

[2021-03-15 20:49] SeanSnyders commented on #8646
Fiddling some more with this, if I set the version to `None` in the package class, then it seems to not give me the error:

`conanfile.py`

[code]

[2021-03-15 21:03] blackencino opened #8654 "[question] how to enforce fPIC transitively"
Hi!

I'd like to make sure all of my dependencies have -fPIC enabled, on the os's where that's available. I can't just set the *:fPIC option to true, because not all of the dependencies have an fPIC option.

I know that there are fixes underway for how fPIC is propagated: #8185, but in the interim, I think it would be something like this:

[code]

Obviously that's mostly pseudocode, but if someone

[2021-03-15 21:05] blackencino commented on #8654
Ideally, it would be helpful to do this to the full tree of dependencies, not just the ones my project explicitly lists.

[2021-03-15 21:17] solvingj commented on #8646
I was wondering about that. Is it a reasonable workaround for you? It probably won't change the outcome of the ticket, but might change the priority/timeline.

[2021-03-15 21:25] SeanSnyders commented on #8646
Yes, the workaround is fine for us, thanks.

[2021-03-15 21:58] memsharded commented on #8646
I have been checking the code, and it seems that by design, when the version or the name are set in ``set_version`` or ``set_name``, they shouldn't be declared too as a recipe attribute, only inside the method, which makes sense to avoid confusing about possible priorities and conflicts. Maybe https://docs.conan.io/en/latest/reference/conanfile/methods.html#set-name-set-version is not enough clear

[2021-03-15 22:03] memsharded commented on #8654
Hi @blackencino

Quick question, what is the issue with ``*:fPIC``? It works, as it only applies the option value to those packages that declare it, but it will not fail for packages not declaring the fPIC option.

[2021-03-15 22:28] blackencino commented on #8654
Hi! What's the syntax for doing this in a conanfile.py, vs a conanfile.txt? Is this correct?

[code]

[2021-03-15 22:33] blackencino commented on #8654
I was able to use this, not sure if this is the recommended way, but seems to do the trick:

[code]

Is this correct?

[2021-03-15 22:34] memsharded commented on #8654
Yes, ``default_options = {"*:fPIC": True}`` should work, indeed, setting fPIC in your dependencies that declare it.

[2021-03-15 22:38] blackencino commented on #8654
that's awesome, thank you for the rapid response.

[2021-03-15 22:51] memsharded commented on #8626
Hi @thorntonryan

This looks interesting, and the problem of trying to reusing Python code in Conan has been asked a few times, and while ``python_requires`` is good for reusing small snippets into the recipes, there is still demand for management of heavier Python tools (installable with pip), and the same nature of python/pip installation doesn't make it possible in a straightforward way in Cona

[2021-03-15 23:03] thorntonryan commented on #8626
OK. Will do! Glad to hear there's some interest.

We'll need to do some work on our end first, which may take some time. But I didn't want to start that process if there was no interest. I'll touch base with @puetzk tomorrow and try and come up with a course of action. That way you can see what we're doing with a working example, etc.

I'll report back here once I know more.

[2021-03-16 05:11] ChristophStrehle commented on #8637
Hi James,
I'm sorry but I missed the point that this is only supported with the new build tools. This is of course only reproducible with _from conans import CMake_. I will try the new build tools as soon as possible.
Thank you for your help

[2021-03-16 05:11] #8637 closed, assigned to memsharded

[2021-03-16 09:42] utopius commented on #8265
Hi @memsharded,
We have such problems as well. Not with bintray but with our internal Artifactory (6.18.1).
As soon as we use version-ranges sporadic timeout errors occur.

I searched for known issues regarding our Artifactory version or similar reports regarding Conan but this ticket matches our problem exactly except it's Artifactory instead of bintray.

Any hint would be appreciated.

[2021-03-16 09:43] guiserle commented on #8632
Looks like a valid solution to me. Thanks for taking the request into account

[2021-03-16 10:38] memsharded commented on #8638
Hi @mpusz

I am missing something. The current ``CMakeToolchain`` does not translate automatically the options to the toolchain. Anything that is injected there from the options need to be explicitly passed (maybe you are using ``.variables`` definition?). Could you clarify, please?

[2021-03-16 11:01] mpusz commented on #8638
Sorry, my fault. I oversimplified this in the description

[code]

[2021-03-16 11:02] mpusz commented on #8638
But you are right, probably it should be a property of `tc.variables`.

[2021-03-16 11:26] memsharded commented on #8638
Now I get it, thanks!

What I see is that by the moment you define the ``tc.variables``, the option value is already a string, not a value. All Conan options and settings are converted to strings. So it is not possible to deduce it from the option value, it would require a explicit cast in user code like

[code]

this is basically equal to https://github.com/conan-io/conan/issues/8632, but for var

[2021-03-16 12:41] czoido commented on #8265
Hi @utopius,

There's an issue currently open that degrades the performance of resolution of version-ranges in packages for large amounts of artifacts: https://www.jfrog.com/jira/browse/RTFACT-19531
Also reported in: https://github.com/conan-io/conan/issues/5432 and https://github.com/conan-io/conan/issues/8505

While we are working with the Artifactory team to get this fixed, maybe this could be

[2021-03-16 13:58] solvingj commented on #8646
Good idea. PR submitted.

[2021-03-16 15:29] #8546 closed, assigned to danimtb

[2021-03-16 17:16] solvingj commented on #8418
@klimkin are you still working on or around this issue? If so, are you able to answer any of the questions from @memsharded ?

[2021-03-16 17:16] solvingj commented on #8459
@StanleyYoo are you still having difficulty with your connection?

[2021-03-16 17:25] solvingj commented on #8657
@scddev I've added a PR. ok to close?

[2021-03-16 17:27] solvingj commented on #8657
@scddev I apologize, I believe I have misunderstood the original issue request.  You are reporting a real bug here. Let me work on this.

[2021-03-16 17:46] memsharded commented on #8646
Closed by https://github.com/conan-io/docs/pull/2043

[2021-03-16 17:46] #8646 closed, assigned to solvingj

[2021-03-16 18:30] tvogel commented on #5067
If I could vote for this, I would.

[2021-03-16 18:39] KerstinKeller commented on #5067
I would also really like to see this issue addressed. We want to do matrix builds for releases which are not distributed via conan, and we have not found a good solution so far.

I would also be totally fine just to create a lockfile and then use the lockfile for the actual package creation.

[2021-03-16 20:56] w3sip commented on #8652
With conan==1.34.1 the following `conan_meson_cross.ini` is generated. Clearly, conan intends for meson to crosscompile - but something isn't working ... Is there a recipe using Meson for crosscompilation

[code]

[2021-03-16 21:05] SeanSnyders commented on #6627
-- EDITED --

I am also following the current documentation (v1.34) and are getting errors trying to cross compile to Android on `macOS`, running

[code]
gives
[code]

with `android_armv8.profile`

[code]

and auto-created `~/.conan/profiles/default`
[code]

![image](https://user-images.githubusercontent.com/1384135/111379032-858c0900-8707-11eb-9696-068bd244bb5b.png)

Ping @memsharded @solvingj

I

[2021-03-16 22:14] klimkin commented on #4691
Looking into `conans/client/build/cmake.py`:
[code]

Is there a good reason not to use `run_environment=True`?

https://github.com/conan-io/conan-center-index/issues/4920

[2021-03-17 01:00] nichmj01 opened #8658 "[question] export() method copies files to source_folder?"
I have a patch file that I want to apply to some source files that I pull down from a git repo. I don't control the source in the repo so for now I have to apply my patch myself. I don't want to package the patched source with my recipe due to space concerns, especially since the patch is a minor change.

In the conanfile.py, in the source() method I clone the repo and then apply the patch using t

[2021-03-17 01:11] daravi opened #8659 "[feature] Only do compression if needed during `conan upload --all`"
I am not a 100% sure but I think compression happens regardless of whether the package upstream is up-to-date or not (when running `conan upload --all`). Can we first do the check, and if package is not up-to-date only then try to compress and upload?

- [✓] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-17 10:12] iiknd commented on #8640
ok, this was the "trick" I was looking after. Thanks, I will give it a try :)

[2021-03-17 10:40] danimtb commented on #8590
yeah, I guess you would need to play a little bit with the paths there. Try `include(${CMAKE_BINARY_DIR}/conan_paths.cmake)` instead and maybe that makes the trick.

[2021-03-17 12:17] nmgwddj commented on #7402
I have the same problem.

Project 1 Use Conan management to generate a .dll file and header file for use in other projects.
Project 2 only uses the product of Project 1, a .dll file and some header files.

If I define the `imports` function in the conanfile.py of project 2, I can copy the dynamic library of project 1 to the CMake cache directory.
But when I execute `cmake install`, it cannot insta

[2021-03-17 13:21] mymichu opened #8661 "[question] Working with multiple packages in a repository with External Sources."
Hi
We from disroop are having multiple Conan packages in one repository. With Conan-Workspace or Conan-Editable were are able to work simultaneously on multiple Conan Packages at once but we hit the limit when we are dealing with external source code in a conanfile.py. An example would be I am using Conan source function to get external .cpp and .hpp files from a repository and I add an internal C

[2021-03-17 13:31] arturpilaszkiewicz commented on #7402
@nmgwddj
I'm doing it via custom target

`
add_custom_target(
	conan-install
	COMMAND conan imports ${CMAKE_SOURCE_DIR}/conanfile.py -imf ${CMAKE_INSTALL_PREFIX}
)
`

[2021-03-17 14:59] danimtb commented on #8659
Yes, the compression is always run regardless of the existence of the package in the server. I am not sure it is possible to do this as the packages are stored as .tgz and the check is done over that file (and other ones) to see if the md5 matches...

If it is feasible, it could be a nice addition but we will need to check it

[2021-03-17 15:04] danimtb commented on #8659
yes, as commented above it is not possible because the comparison is done taking into account the md5 of the compressed package, so there is no way to check for an already uploaded package in advance. I am closing the issue, thank you!

[2021-03-17 15:04] #8659 closed, assigned to nobody

[2021-03-17 15:17] blackliner commented on #8578
@memsharded any updates on this issue? Is it scheduled to be fixed?

I added some print, and it looks like the method is called without any `md5`, `sha1` or `sha256`
[code]

There is a note in that same file (`conans/client/downloaders/cached_file_downloader.py`) at the `_get_hash` method:
[code]

[2021-03-17 15:23] danimtb commented on #8658
Hi @nichmj01,

I think you might be looking for the `exports_sources` attribute instead as those are files related to the sources. As a general recommendation, patches are applied in the `build()` method. That way the original sources are left untouched and you can apply patches conditionally to the configuration you need (sometimes you only need to patch a windows build). This is general rule we

[2021-03-17 15:25] danimtb commented on #4076
closing this as there has been no activity. I hope the issue was solved. Thank you!

[2021-03-17 15:25] #4076 closed

[2021-03-17 15:27] danimtb commented on #7161
After no more activity in this issue, I consider the question was answered. Thanks you!

[2021-03-17 15:27] #7161 closed, assigned to nobody

[2021-03-17 15:29] #5633 closed

[2021-03-17 15:33] danimtb commented on #5759
considering this question as answered. Please, if you are still facing some issue with the recommendation above, please open an new issue and we will take a closer look. Thank you!

[2021-03-17 15:33] #5759 closed

[2021-03-17 15:36] danimtb commented on #5892
After no more activity on this issue, I consider the question was answered and closing it. Thank you!

[2021-03-17 15:36] #5892 closed

[2021-03-17 15:47] aleksa2808 opened #8662 "[question] Should profile [env] vars affect header only package hashes?"
Hi,
while packaging a header only library (marked with `header_only()`), I noticed I got a different resulting package hash for different profiles I used. It turned out that the metadata bundled with the package (`conaninfo.txt`) contained the `[env]` fields of each specific profile, which in my case were the CC and CXX variables. Since I use the `package_revision_mode` for package_id resolution t

[2021-03-17 15:51] #6061 closed

[2021-03-17 15:52] danimtb commented on #6101
After no more activity on this issue, I consider the question was answered and closing it. Thank you!

[2021-03-17 15:52] #6101 closed

[2021-03-17 15:54] danimtb commented on #6149
This issue is a bit outdated and the packages for bzip2 should be in ConanCenter now that we have the recipes under conan-center-index. Closing this issue as solved.

[2021-03-17 16:03] DukeOfKirkcaldy opened #8663 "[bug] 'conan download' fails when recipe has a py_requires"
I want to download a recipe only (without caring about configuration settings or dependencies).  But after download, conan fails because a `py_require` is not in the local cache.

Any workaround would also be appreciated.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 (64-bit)
  * Compiler+version: n/a
  * Conan version: 1.34.1
  * Python ver

[2021-03-17 16:07] nichmj01 commented on #8658
Hi @danimtb,

exports_sources seems to behave the same way as export()/exports in terms of copying the patch file to the source folder? The way I'm understanding the documentation, I believe exports and exports_sources works differently? Am I misunderstanding how these two attributes work?

My interpretation:

exports:
Copy the listed files to be side-by-side with the conanfile.py file in the cach

[2021-03-17 16:13] danimtb commented on #6305
After no more activity on this issue, I am closing it as we never manage to reproduce it. Hope you figure out what happened there. Thank you!

[2021-03-17 16:13] #6305 closed

[2021-03-17 17:12] danimtb commented on #6763
Sorry for the late response. As the original issue was answered and the output message seems legit, I am closing this issue as there was no recent activity. Thank you!

[2021-03-17 17:13] danimtb commented on #6665
Closing this as per https://github.com/conan-io/conan/pull/6666#issuecomment-763099143. Thank you

[2021-03-17 17:13] #6665 closed

[2021-03-17 17:13] memsharded commented on #8578
Hi @blackliner

Yes, I have realized too that when using revisions, the checksum is simply not there for Conan cached artifacts, as it relies on the revision. I am working on a fix using the "dirty" functionality we are using in other places.

[2021-03-17 17:15] danimtb commented on #6442
I am closing this as there was no recent activity on this issue and the question was solved. Thank you

[2021-03-17 17:18] danimtb commented on #6756
Closing this as there is no recent activity on the issue and we were not able to reproduce it. Thank you

[2021-03-17 17:21] #8594 closed, assigned to danimtb

[2021-03-17 17:25] danimtb commented on #8624
@GordonJess did that work for you? Can we close the issue?

[2021-03-17 18:38] jgsogo commented on #8598
What about following entries in `conf`:
 * `core.build:processes`: number of processes to use for every build-helper
 * `tools.gnu.make:jobs`: argument for the `--jobs` parameter when running `make` (overrides the general `core.build:processes`).
 * `tools.microsoft.msbuild:maxCpuCount`: argument for the `/m` (`/maxCpuCount`) when running `MSBuild` standalone or via CMake (overrides the general `c

[2021-03-17 19:32] DukeOfKirkcaldy commented on #8624
Thanks!  Yes, I can confirm that there are fewer `DOWNLOAD` events when the `download_cache` is enabled,

[2021-03-17 19:32] #8624 closed, assigned to nobody

[2021-03-17 21:31] #8593 closed, assigned to danimtb

[2021-03-17 21:31] #8636 closed, assigned to nobody

[2021-03-18 07:41] dragondive opened #8667 "[question] Can revision numbers be updated with "normal" increments?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm now trying to understand the [package revisions](https://docs.conan.io/en/latest/versioning/revisions.html) feature (mainly to teach colleagues -- and myself -- how/when to use it).

After following the above-linked document and the [exercises on JFrog Academy](https://academy.jfr

[2021-03-18 09:08] SSE4 opened #8668 "[feature] revised plug-in model"
in conan 2.0 we have some models for plug-ins (extensions, hooks, whatever you call it) where users can extend built-in functions of the conan without necessity to wait for new release, for instance:

- hooks (conan config install)
- custom generators (python requires)
- custom build helpers (python requires)
- custom settings (conan config install)
- custom profiles (conan config install)
- custo

[2021-03-18 12:56] utopius commented on #8265
Hi @czoido,

thanks for linking the issue. Our Artifactory instance is serving roughly 30 million artifacts, Conan packages being a small fraction of the total packages afaik. So, I doubt that an embedded DB is used, but I don't know.

I will try to gather more information on our instance from the responsible team and let you know.

Any idea when https://www.jfrog.com/jira/browse/RTFACT-19531 will

[2021-03-18 13:59] #7444 closed, assigned to nobody

[2021-03-18 15:24] spoofedex opened #8669 "[question] Creating a lockfile for a test package"
Hi all,

When building binary packages, we upload them to a private Artifactory server. To do so, we use lockfiles, fetch the build-order, and build/upload each package that requires building.

We have some packages where the test package has some requirements additional to the tested package. When using "conan test" we could pass "--build missing", but then we can't (easily) upload the packages t

[2021-03-18 15:24] jgsogo commented on #8667
Hi, @dragondive

Revisions are not intended to be human-readable. The order of revisions is assigned by the server the first time they are known by it (the server acts as a centralized authority) and it will assign a timestamp to them. If you have different revisions for the same reference in your remote, you can check their order using

[code]

[code]

As you said, you can use either the `hash` o

[2021-03-18 15:34] jgsogo commented on #8663
I think this is a bug (a missing feature of the new python-requires implementation). I cannot imagine any workaround, the python-requires can be providing functionality that is absolutely needed to load the `conanfile.py` of your reference, so the py_req has to be downloaded and available in the Conan cache...

[2021-03-18 15:49] jgsogo commented on #8662
Hi, @aleksa2808 . Really interesting scenario the one you share, and it is something we need to think about. There is a lot of work related to environment variables, configuration and package-ids for the next Conan 2.0 version.

(Maybe workaround) In ConanCenter, for example, we compute the package-ids for all the configurations, then we remove duplicates and finally we build only those different

[2021-03-18 17:22] memsharded opened #8671 "[feature] Consider options and settings comparison to ``None`` not as a string"
[code]

This patch should enable the possibility of checking ``if self.options.myoption == None`` in the same way that is possible ``if self.options.myoption == True``. Internally all are converted to string, except the ``None`` value that is considered a non-definition value. It would most likely be breaking for Conan 1.X, but for Conan 2.0 seems it would make sense.

[2021-03-18 17:36] sgoth commented on #6886
We also see this sometimes but only in a single specific usecase:
**Parallel** installation of a big dependency chain with -sbuild_type=Debug and -sbuild_type=Release into an empty conan cache.
Could it be a race on the creation of the packagename/version/ directories or something related? I don't know too much about the details of conans cache locking but i only ever saw messages based on lock fi

[2021-03-19 00:33] aleksa2808 commented on #8662
I understand that the environment variables may modify the output of the package and this is something that they share with settings and options, since someone can do an `if/else` to generate different headers based on OS, detected compiler etc. That's why I assumed that the env vars fall into the same bucket and that the `header_only()` directive would eliminate their respective metadata as well.

[2021-03-19 10:47] jlemein opened #8672 "Generate a debug and release package without discarding any of them"
In my build pipeline I generate packages for debug and release build types after which I want to upload the debug and release packages to the remote server. I tried the following shell script:

    conan install . --install-folder=build_debug -s build_type=Debug
    conan build . --source-folder=. --build-folder=build_debug
    conan package . --source-folder=. --build-folder=build_debug
    conan

[2021-03-19 10:58] memsharded commented on #8672
Hi @jeffrey89

Can you please share your ``conanfile.py``, or part of it? Is it possible that you are not using the ``settings = .... "build_type"``?

It would be good to do ``conan search mypackagename/version@mycomany/dev`` after the last ``export-pkg`` to verify what binaries you have there, can you paste that output?

One note regarding the usage of channels. Please take into account that the

[2021-03-19 11:17] jlemein commented on #8672
Thanks for your quick reply.

I will take a look into a better approach with channels. The idea behind it is that we have several stages (pull request, development, release branch and master) that ideally would be tagged in a different way so that we can easily fetch the binaries for that stage. I have to consider another approach then. Not sure how to do that now.

The result of conan search is a

[2021-03-19 11:22] mathbunnyru commented on #7691
List if libraries, which might be also affected:
geotiff
libunwind
zstd
gdal

https://github.com/conan-io/conan-center-index/blob/master/recipes/pdal/all/patches/0001-cmakelists.patch

[2021-03-19 12:09] mpusz commented on #7908
Well, I am not sure if this is correct to not depend on a generator. For example, it seems that the following is being set for the Visual Studio compiler:

[code]

However, this breaks all the generators beside "Visual Studio" (i.e. Ninja):

https://github.com/mpusz/units/runs/2148187500?check_suite_focus=true

Which effectively makes it impossible to use Visual Studio compiler with `CMakeToolchai

[2021-03-19 12:10] mpusz commented on #7908
I believe that the above should be set only if one of "Visual Studio" CMake generators is being used in CMake.

[2021-03-19 12:37] evandrocoan opened #8673 "[question] How to upload a package to a local registry?"
May be related to:
1. https://github.com/conan-io/conan/issues/2247 - How to do local development of a library without commiting
2. https://github.com/conan-io/conan/issues/101 - Define workflow for new versions of already existing packages

I have a local registry which has `libpcap 1.8.1`, but I would like to upload `libpcap 1.9.1` from https://github.com/bincrafters/conan-libpcap because `libpc

[2021-03-19 13:08] solvingj commented on #8662
@aleksa2808  I'm glad you asked this question now.

The new feature of "Lock Bundles" was created to deal with two sources of complexity when using Conan within CI pipelines.  Indeed, one of those sources was this one.  Whenever CI pipelines rebuild the same package ID multiple times, it can have several negative side effects:
- Inefficient, waste of resources
- Different recipe revisions (rrev) d

[2021-03-19 13:27] Ambrase opened #8674 "[question] Conan workspace without specifying versions of editables or using wildcards?"
Is it possible to use the Conan workspace without specifying versions of editables or using wildcards for versions? I don't want to bump versions workspace yml each time when I bump versions in my editables.

Something like

[code]

Is it supported somehow?

Thanks

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-19 13:52] ohanar commented on #7908
@mpusz Being generator agnostic doesn't mean that they can't handle generator specific settings, e.g.
[code]

[2021-03-19 13:58] ohanar commented on #7908
Oh, I think I initially misread your comment. Yes, this is exactly what this issue is about. Right now you can control it with either the environment variable `CONAN_CMAKE_GENERATOR` or hardcoding the generator into the recipe.

[2021-03-19 14:12] KerstinKeller opened #8675 "[bug] Confusing error message with `conan lock create`"
I ran `conan lock create . --pr myprofile`
and received the error message
`ERROR: Conanfile does not exist in D:\path\to\folder`

However the correct invocation should have been
`conan lock create ./conanfile.py --pr myprofile`

I think the error message is very missleading. Especially, since the `conanfile.py` file is located in the mentioned folder and since the docs just mention
[code]
and in c

[2021-03-19 14:19] danpetry commented on #3318
I don't think this point is explicitly recorded in this issue, but since it's the one being triaged, I wanted to record it here:

(@jgsogo)
Or even less intrusively, each package could add a public abi_compatibility_model property which consuming packages could check, if they want, and use this information to judge what package_mode to use for each of its dependencies. Default behaviour could be k

[2021-03-19 15:31] mpusz commented on #7908
Or do `conan install ...` and then use any CMake generator with `cmake .. -G ...`. And it fails for most generators when Visual Studio is the target compiler.

[2021-03-19 15:50] crazydef opened #8676 "[bug] Package not found when using Compiler Any"
Hi,

I've recently been setting up Conan with our Azure DevOps based build system.  Everything has gone through (relatively) smoothly on Windows, but I've hit a road block on our Linux builds.

On Linux we don't generally care whether a library has been built with GCC or Clang, as long as they're using the same runtime library (libc++ Vs libstdc++).  I couldn't figure out how to set this up in the

[2021-03-19 17:28] sourcedelica commented on #6233
We just started running into this as well, though with http zip file config installs.  Clashing over `tmp_config_install`.  In this case it's multiple Bamboo plans that are completely separate from each other.

[2021-03-19 17:35] ohanar commented on #7908
@mpusz Are you loading up the appropriate visual studio environment when trying to run CMake? I use MSVC + Ninja + CMake + Conan's CMakeToolchain every day, so I know that they work together so long as you make sure you initialize your environment correctly.

[2021-03-19 17:46] mpusz commented on #7908
No, in general. As I am aware of how to do it from the command line, I even do not know how to do it in for example inside CLion or VS Code that natively work with the MSVC compiler and break with exactly the same error?

[2021-03-19 18:28] ohanar commented on #7908
Are you saying that you are able to do it in the command line but not in an IDE? If so, you'll have to consult the IDE to see if it can handle loading up MSVC's environment and potentially how to set extra environment variables if you are also trying to run conan through them. IDE functionality is unrelated to this issue.

[2021-03-19 19:31] mpusz commented on #7908
I mean that all IDEs handle MSVC well without actually setting VS env and Conan should support those.

[2021-03-19 19:33] mpusz commented on #7908
BTW, everything was working fine a few Conan versions ago. I do not know in which exactly version Conan started to generate

[code]

with `CMakeToolchain` but that broke both CLion and VSCode. Only Visual Studio works fine for me.

[2021-03-19 20:20] memsharded commented on #8676
Hi @crazydef

The key is this line:
[code]
As you can see, this is installing a different revision than the one that you are displaying in Artifactory.
Whenever you change something in the recipe, or the source code, a new recipe revision is generated, and requires to build new binaries for it. It seems that you modified things, but didn't rebuild binaries, please check that. It is possible that o

[2021-03-19 20:26] memsharded commented on #8672
There is a known best practice in "devops" that is package immutability, and the recommended way to achieve flows is using different binary repos to represent different stages (develop, staging, production) and using binary promotions, copying packages from one repo to another.

It is not clear to me what could be happening, so a couple of things more that could help:
- What is the output of the `

[2021-03-20 22:30] PengolodhGoedath opened #8678 "[question] profile search order"
From some testing, it seems conan tries to resolve relative paths to profiles in the following order:

1. resolve from `.conan/profiles`
2. resolve from current directory

I'm a bit confused why this order was chosen, as it doesn't seem to be intuitive: Why try the more general solution before the more specific one?

---

I stumbled upon this when developing some profiles to later be shared and us

[2021-03-21 18:35] xahon opened #8680 "[bug] Reuploading package to another remote while original remote disabled causes an error"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 (also applicable to linux)
  * Compiler+version: MSVC 16
  * Conan version: 1.34.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
1. Download (conan install) some package from any remote (for example from conan-center)
2. Disable that remote
3. Upload the package to your

[2021-03-21 19:56] memsharded commented on #8680
Hi @xahon

This is not a bug, but expected if the package has sources:

- Sources ``conan_export_sources.tgz`` are only downloaded when it is necessary to build from sources. This was a feature request, users didn't want to pay for the cost of fetching it if not necessary
- ``conan upload`` will not upload an incomplete package. Before uploading it must fetch the ``conan_export_sources.tgz``
- If

[2021-03-21 22:12] #8632 closed, assigned to memsharded

[2021-03-22 08:34] jlemein commented on #8672
I attached the output of the two commands. The result is two different package hashes.

I do get two packages. It creates them in sensorplugininterface/ABC-167/_/_/build with the hashes: 1a651c5b4129ad794b88522bece2281a7453aee4 (debug) and 66c5327ebdcecae0a01a863939964495fa019a06 (release). These are the same hashes as retrieved by running `conan export-pkg` in the attached log files.

I do observ

[2021-03-22 08:51] memsharded commented on #8672
Thanks for the feedback! This is really weird, because the ``conan package`` command does not touch the cache. It doesn't have access to it. I have just doubled checked the source code, I have no idea how this could happen. Just in case, which version of Conan are you running? In which OS?

Can you please post the output of that ``conan package`` command that is removing things from the cache? Tha

[2021-03-22 09:01] jlemein commented on #8672
`conan package` is not removing anything from the cache. It only seems to flag or invalidate something, Then when running `conan export-pkg` it removes the previously cached results for the package that I am exporting. The snippet that I have provided in my previous post is the example:
* First build two packages for debug and release.
* Then run `conan export-pkg` for both debug and release. Resu

[2021-03-22 10:31] crazydef commented on #8676
Before I rebuild libjpeg, I'm deleting all existing revisions from the server.  So the only versions present are the latest.  (Debug and Release.)  Basically the revision hashes displayed in the above image are the only revisions available.

I don't think the line endings should be affecting anything.  I'm both building and consuming the library on Linux (both DevOps hosted build machines).  (And

[2021-03-22 10:45] memsharded commented on #8676
By the way, I wanted to clarify, there are other means besides erasing the compiler info. For example you can force the settings per-package if you want, lets say that you build it with clang:

[code]

I am not sure about that revision, but it is clearly coming from the server. Don't you have any server setup, like a virtual repository, aggregating a remote repository, or any other configuration,

[2021-03-22 10:54] crazydef commented on #8676
Here's the complete hierarchy for that library:
![image](https://user-images.githubusercontent.com/22217579/111978856-ae940b80-8b04-11eb-89d9-1ee94f7ec19f.png)

The revisions with three packages in them are for Windows (with three build configurations).  There are two top level revisions because new ones keep being created when I push changes to the git repository and I've stopped cleaning them ou

[2021-03-22 13:09] uilianries commented on #8678
Hi @PengolodhGoedath

It's not clear which steps did you use to validate it. Could you please share your steps?

Indeed Conan tries first `.conan/profiles` because it's the default path. As documented, [profiles](https://docs.conan.io/en/latest/reference/profiles.html) can be used as absolute path, and that's the recommended way. You still can set `PROFILE_DIR` env var, if you don't want use defau

[2021-03-22 13:20] orgroman-cg opened #8681 "[feature] Add build policy: missing prefer release"
Please add a new build policy or something similar:
--build=missing_prefer_release

Almost no packages if any are available for RelWithDebInfo.
For third party packages I don't need the debug information and I don't wish to compile those for RelWithDebInfo.
If this option was available this would definitely assist us with our development flow...

In case prebuilt is available for RelWithDebInfo us

[2021-03-22 15:00] marcobergamin opened #8683 "[question] Find*.cmake generated by the deploy generator has abs path to Conan cache"
Dear all,

I am trying the deploy generator to copy my dependencies inside a specific deploy folder. The problem is that the Find*.cmake files of my libraries created inside my deploy folder have absolute paths to my cache libraries under .conan/data.
I was expecting paths relative to my deploy folder.
Is it supposed to work like this?

Thanks,
Marco Bergamin

[2021-03-22 15:51] solvingj opened #8684 "[feature] conan lock extract-profiles"
In experimenting with workflows surrounding lockfiles, and in slack conversations several users have expressed interest or need in extracting the profile string from a lockfile for various purposes.  For example, creating new lockfiles from scratch for related packages.  So, the request is for something like:

`conan lock extract-profiles <host_profile_name> <build_profile_name>`

Since this featu

[2021-03-22 16:47] memsharded commented on #8676
Hi @crazydef

I think there is some misunderstanding with the revisions. Revisions are implicit versions. Consider it as an addition to the explicit version. But every revision it is a completely different entity.

When you build packages for Linux, Windows, and other configurations, you should build all of them with the same revision. Consider the equivalent of building 3 binaries for Windows for

[2021-03-22 17:54] solvingj commented on #8683
Yes, currently all built-in generators use full paths by design for a number of reasons.  The feature and concept of "deploying" a package outside of the Conan cache came MUCH later than the feature of Conan generators, and it was never designed (or re-designed) with the deployment case in mind.

I completely understand and have experienced the desire to have generators which produce files with pa

[2021-03-22 18:03] PengolodhGoedath commented on #8678
@uilianries For full context, I've had the following folder structure in a repo:

[code]
(I skipped irrelevant parts for demonstration purposes. Yes, I'm using MSVC to build LLVM.) Now, with a terminal in `./system`, I tried to build `conan create llvm -pr ../profiles/msvc2019 -s build_type=Release`. That build failed, because it didn't actually take the profile from `./profiles/msvc2019`, and ins

[2021-03-22 18:12] marcobergamin commented on #8683
Hello,
thanks for your reply. I'm new to Conan so I don't know its history and I'm still learning how to use it properly.
Regarding the paths issue, we have fixed it with a single small regex executed manually after the deployment, so it's not a big problem.
In our case it would be a nice-to-have feature because we use Conan internally but we don't want or we can't force our clients to download ex

[2021-03-22 19:42] uilianries commented on #8678
Indeed I can reproduce your behavior running Conan 1.34.1.

It works for absolute path, but as the documentation says:

It doesn't mention ../ but, oblivious, it should work too, because ./msvc2019 works. I would consider it a bug. I'll investigate better. Thanks for reporting your case.

[2021-03-22 21:21] memsharded commented on #8672
Hi @jeffrey89

I have tried to reproduce with a test:
[code]

This captures the story. I realized that the problem could be in the last ``export-pkg``, that in my case requires a ``--force`` to pass. Otherwise it fails, saying that it cannot overwrite an existing package in the cache. So I suspect that what could be happening is:

- You have a ``exports_sources = "*"`` in your recipe. That means i

[2021-03-22 22:05] solvingj commented on #8681
Hi @orgroman-cg , I definitely can see the challenge you're trying to overcome. Unfortunately, it seems extremely unlikely to me that we would ever implement such a build policy which involves so much implicit conditional logic.  I'm not the one who would make such a decision, it's just a prediction.

With that said, there are a few ways for you to approach this problem.  None of them will be quit

[2021-03-22 22:46] haras-unicorn opened #8686 "[question] Specifying a Cmake generator in a profile"
I have profiles for GCC (MSYS2), Clang (MSYS2), MSVC, and ClangCL on my x64 Windows machine for Debug and Release build types and they all work fine with Ninja except for ClangCL because [Ninja doesn't support toolsets](https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_TOOLSET.html). I specified Ninja as the [Cmake generator in settings.yml](https://docs.conan.io/en/latest/integrations/

[2021-03-22 23:46] memsharded commented on #8657
Proposed a potential fix in https://github.com/conan-io/conan/pull/8688 for next 1.35

[2021-03-23 01:29] solvingj commented on #8686
There is currently no native way to specify the `cmake` generator from a profile or via the CLI.  Recipes can specify a preference via the `CMake` helper (older feature)  or the `CMakeToolchain` (newer feature), but that's it.

https://docs.conan.io/en/latest/reference/build_helpers/cmake.html
https://docs.conan.io/en/1.31/creating_packages/toolchains/cmake.html

In the future of the `CMakeToolcha

[2021-03-23 02:40] solvingj commented on #8683
I'm glad you found a strategy that works for you. We do have other users who deploy conan packages for use outside of Conan cache. You are the first case I recall hearing which needed to use the find* modules there, but I would bet there are others doing something similar.

[2021-03-23 06:27] orgroman-cg commented on #8681
Hi @solvingj ,

First of all, thank you for the detailed and kind answer.

Yes, I'm aware that setting per package could be specified at the profile level.
Even so, I'm not sure profiles are the best solution for me?

How would I distribute a profile to any user that wish to build my package?
Should I make a profiles directory on my local filesystem server and let the user manually copy the profil

[2021-03-23 10:08] kakashidinho opened #8689 "[question] Do versioning conflicts between dependencies cause missing packages?"
Hi, I'm having some issues with dependencies' versions mismatch between a consumer project and its dependencies.
It forced `conan` to report that the dependencies were missing and requiring building missing packages from source.

Let say I have:
- a project `A` depending on project `B`.
- Both of the projects depend on `C`.
- However, `A` requires `C` version 1.
- `B` requires `C` version 2.
- B’s

[2021-03-23 12:47] ZXfkSIE opened #8690 "[bug] ConanException: 'settings.os' doesn't exist (with Qt Creator)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 7 SP1 x64
  * Compiler+version:
  * Conan version: 1.34.1
  * Python version:

### Steps to reproduce (Include if Applicable)

I am trying to compile a Qt project in Qt Creator `4.14.2`.
I want to change compiler to `Visual Studio` since the default compiler in default config file generated by Conan

[2021-03-23 14:04] haras-unicorn commented on #8686
Thank you for the elaborate reply!

I managed to get it working with the environment variable solution.

Here is my build() method:

[code]

Here is my CLang profile:
[code]

Here is my ClangCL profile:
[code]

I like this approach because Clang and ClangCL are both just Clang, so my dependencies get compiled with Clang and I can test my Cmake configuration code with ClangCL.

Honestly, I am not e

[2021-03-23 14:46] #8578 closed, assigned to solvingj, memsharded

[2021-03-23 14:46] memsharded commented on #8578
Fixed in https://github.com/conan-io/conan/pull/8664, will be released in 1.35

[2021-03-23 14:48] #8597 closed, assigned to danimtb

[2021-03-23 15:44] danimtb commented on #8658
Files in `export` are uploaded alongside the recipe and should be used to complement the information of the recipe, a good example of this is the *conandata.yml* file.

The files in `exports_sources` are considered just "sources" to build the library and packaged separately from the recipe itself, a good example of this are patches.

[2021-03-23 16:28] lieser commented on #8176
Any update on this? Or is the only solution here to wait for an improved graph algorithm as part of Conan 2.0?

[2021-03-23 16:32] #8657 closed, assigned to solvingj

[2021-03-23 16:33] memsharded commented on #8657
Merged https://github.com/conan-io/conan/pull/8688, this will be released in 1.35

[2021-03-23 17:40] iiknd opened #8693 "[question] "inheriting" dynamic options of dependencies (requires)?"
Hi,

we have the following scenario:

ModuleA:
- a **lot** of options how this can be configured
- options may vary between different versions of ModuleA
- we want to dynamically set the "options = { ... }" for the conanfile.py, parsed from a file inside the ModuleA's .git repository

ModuleB
- we want to have the **same** options declared here as for ModuleA

ModuleC, ModuleD, ModuleE ....
- repe

[2021-03-23 18:13] memsharded commented on #8693
Hi @unzap

I am afraid it is physically impossible. If you have a conanfile.txt that lets say, requires ``pkgc/1.0``. First step is to locate it, fetch/download it, and then load the conanfile.py inside the package. Then Conan needs to know the requirements of ``pkgc/1.0``. As conditional requirements like:
[code]
Are possible (not only possible, but wildly popular), then the options of ``pkgc/1.0

[2021-03-23 18:32] solvingj commented on #8686
I'm so glad this is working for you!

For posterity,  `[conf]` is identical to `[env]` in the way it works and would be used.  It's a way for users calling Conan from the CLI to "set parameters" for functions in various places within Conan, or within tools called by Conan.  Strictly speaking, `[env]` is capable of doing everything `[conf]` will do.  The only problems with `[env]` were that it alre

[2021-03-23 18:32] #8686 closed, assigned to solvingj

[2021-03-23 18:47] iiknd commented on #8693
Wouldn't this prevent uploading the packages in conan-center? To my understanding all packages in conan-center must stick to the upstream version of settings.yml?

E.g. feature "enable tracing" should be "inherited" trough the whole requires chain if defined by ModuleA.
There are many similar options. And we'd like to have one source of truth, i.e. one
file that contains the possible options to av

[2021-03-23 18:54] memsharded commented on #8693
Yes, ConanCenter cannot use custom settings. I assumed it was more a proprietary scenario.

There are many similar options. And we'd like to have one source of truth, i.e. one
file that contains the possible options to avoid duplicating them in multiple places.

Options cannot be propagated that way, because they are specifically designed to have potentially different values for different packages

[2021-03-23 18:57] memsharded commented on #8693
By the way, if you could please point to examples in https://github.com/conan-io/conan-center-index repo, that would be useful to understand the issue, I cannot find the ``enable_tracing`` use case there.

[2021-03-23 19:02] memsharded commented on #8690
Hi @ZXfkSIE

It is not possible to change the settings values in the recipes. Settings are always defined externally to the recipes, either in the command line, or better/recommended, in profile files. Don't try to define the setting value in your ``configure()`` method in the recipe.

If your default profile contains "gcc", not a problem, just edit the ``default`` file there and change it to defi

[2021-03-23 20:24] solvingj commented on #8668
This is an excellent concept with a lot of good points.  It's true that Conan has numerous modular, disconnected extension points, and no way to create a "pack" of them.  It's also true that the visual studio plugins have tremendous power.  Many plugins, can and do undermine the stability, usability, and UX of visual studio.  They can make visual studio projects proprietary, and impossible to load

[2021-03-23 22:10] #8582 closed, assigned to SSE4

[2021-03-23 22:13] dribeas commented on #4640
I think we are conflating here the ABI with the desire to pick a new version.  In the description you gave "LibraryC" should not have `self.info.requires["LibraryA"].full_package_mode()`.  If it is hiding "LibraryA" completely from the user, it does not matter which version of "LibraryA" is statically linked _for the purpose of ABI compatibility_.

The purpose of hiding "LibraryA" inside "LibraryC

[2021-03-23 22:42] aleksa2808 commented on #8662
If the Conan development effort will start (or already is) preferring the per-package-id CI pipelines, that would certainly be an answer of sorts to the original issue, since it solves the underlying problem that I had. Although, it still feels a bit weird seeing a `CC=/usr/bin/gcc-9` in the metadata of a header only package, especially since I assume that defining the `CC`/`CXX` variables in prof

[2021-03-23 23:16] memsharded commented on #8673
Hi @evandrocoan

Sorry for the delay in responding.

First, an important recommendation about the user/channel. Packages should be immutable. They will be immutable in Conan 2.0. That means that a package will retain its user/channel after creation forever. You should be doing this now too. If you download a package from bincrafters, you will upload that package with the ``bincrafters/stable`` use

[2021-03-23 23:28] memsharded commented on #8689
Hi @kakashidinho

Not in the general case. In C and C++ projects, building an application that depends on 2 different versions of the same library will be a violation of the ODR, that could become evident as link errors in the best case, but in some worse situations that manage to link (hiding dependencies), it could still cause very difficult to debug runtime errors.

So the Conan graph model rai

[2021-03-23 23:33] memsharded commented on #8675
Hi @KerstinKeller

Yes, you are right there is some inconsistency. It is because we decided to implement the ``conan lock`` command following some CLI design principles we plan to apply for Conan 2.0. For example, we will avoid all ambiguity, and commands will be more explicit. At the moment there is some "magic" that can select a conanfile.py or a conanfile.txt in the current folder, but this mig

[2021-03-24 01:16] solvingj commented on #8451
System requirements are not part of the `package_id` calculation by default.  This is part of the reason why direct use of `system_requirements` is not allowed in most recipes in Conan Center index. It's only allowed in dedicated wrapper recipes/packages which exist purely to encapsulate `system_requirements` of the same name. Then, recipes which would declare a `system_requirement` , instead decl

[2021-03-24 01:17] kakashidinho commented on #8689
Thanks. I will try it. This seems to be complicated problem to solve.
I'm just thinking if the 2 projects are shared library and they are statically linked against the same lib but different versions, it shouldn't be an issue.

[2021-03-24 01:30] solvingj commented on #8681
Should I make a profiles directory on my local filesystem server and let the user manually copy the profile?

We recommend sharing of profiles and other configuration files within a team using the feature:

`conan config install`

https://docs.conan.io/en/latest/reference/commands/consumer/config.html

You can store and maintain all your profiles for your codebase in a single GIT repository (or ne

[2021-03-24 08:21] memsharded commented on #8689
Yes, that can be problematic as well. Even for shared libraries, depending on the encapsulation and isolation and what is passed in the API, could break things at runtime in ugly ways. As a general rule, the same library, with the same version and configuration must be used to avoid problems.

[2021-03-24 09:50] kakashidinho commented on #8689
I know this. Anw, this enforcement basically causes the same Microsoft VC++ library's compatible hell which requires us to build multiple versions of a static lib, one for each version of Visual studio.

Btw, can I have one more question? Some dependencies' versioning conflicts didn't force source rebuild at all. May I know what is the default binary compatible mode?

[2021-03-24 10:10] SpaceIm commented on #8538
All the recipes in CCI use at least `cmake` generator when upstream build system is CMake, to properly inject several informations from profile.

Many CCI recipes use multiple generators in addition to `cmake` generator, to make upstream CMakeLists happy, `cmake_find_package`, `cmake_find_package_multi`, `pkg_config`, sometimes all of them.
Indeed, sometimes you HAVE to provide Find module file fo

[2021-03-24 10:46] #8675 closed, assigned to nobody

[2021-03-24 13:11] solvingj commented on #8538
Reassigning to determine if we will try to take action on this issue or not.

[2021-03-24 13:28] solvingj opened #8696 "[feature] Implement discoverability for [conf] items"
Some usages of the new `[conf]` construct are starting to be instrumented throughout the codebase. Currently, it's primarily in generators and other experimental places. While it's still early for `conf`, I think we should consider providing a good experience for users to print out all available `conf` items , current values, etc.

Also, I think we should do something different from `conan config

[2021-03-24 14:42] rob-baily commented on #7540
@memsharded In regards to this an example I have is that for some embedded SW we are using an Eclipse cross-compiler build where conan is not supported.  In this case during setup we are pulling the source from the conan repo and copying that into an Eclipse project to be included in a workspace.  We have a conanfile.txt which specifies the required libraries and then we use the **conan info --pat

[2021-03-24 15:45] memsharded commented on #8689
Sure, the current default mode is ``semver_direct_mode``. Which means, a new binary will be required if the direct declared dependencies (not the transitive ones) bumps their major version, or if its major version is zero  ``0.X.Y`` and minor or patch changes. It can also fire for dependencies not following semver specification (using letters, or any other non conformant version).  It is not a ver

[2021-03-24 16:40] DukeOfKirkcaldy opened #8698 "[feature] 'clean-modified' command for bundle files"
Same use case as `conan lock clean-modified`.

When I send a bundle to an agent for building a package, I'd like to be able to remove all `modified` flags (in the bundle file and all lockfiles) to know exactly which nodes were modified by this agent.

Currently need to parse the bundle file and get a list of lockfiles to run `conan lock clean-modified` on each (the parsing is not so clean due to t

[2021-03-24 17:39] keithrob91 opened #8699 "[question] version conflict requires and build_requires"
We're having an issue with requires, build_requires and version conflicts after upgrading a package.

Scenario:

3 packages, PkgA, PkgB and PkgC. PkgC has been updated from 3.0.0 to 3.1.0 (binary compatible with 3.0.0). Only PkgA cares about the updates to PkgC.

PkgA requires PkgC/3.1.0@dev/dev
PkgA build_requires PkgB/3.0.0@release/stable (required for unit testing only, hence build_requires)
Pk

[2021-03-24 19:41] lexknuther commented on #5415
This is preventing me from using cmake-conan since we are calling conan_cmake_install with PATH_OR_REFERENCE set to ./conanfile.py.  It looks like all you'd have to do is remove CONANFILE from the list of removed files.  All the other files are actually automatically generated.  Indeed the TODO comments like '# TODO: Why removing in the cache? There is no danger.' seem to indicated that the author

[2021-03-24 21:05] lexknuther commented on #5415
Apparently, this change is related to #1717 and  #1720

[2021-03-25 00:18] #8440 closed, assigned to nobody

[2021-03-25 00:18] kdsx commented on #8440
Found an example in the documentation.

[2021-03-25 01:55] ZXfkSIE commented on #8690
Thank you very much. I've given up using `conanfile.py` and am using `conanfile.txt` plus custom profile now.

[2021-03-25 01:55] #8690 closed, assigned to memsharded

[2021-03-25 09:25] memsharded commented on #8600
Related https://github.com/conan-io/conan/issues/7661

[2021-03-25 09:29] lasote commented on #8600
Note: It is not strictly related to this issue but as an observation, for the `CMakeDeps` only the `cpp_info.filenames` field affects to the name of the `xxx-config.cmake` file, it doesn't default to the `self.cpp_info.names` like the older generators.

[2021-03-25 11:54] crazydef commented on #8676
I am building all packages from the same source code.

I build on Windows and Linux from the same repository, and get two revisions at the root of the package tree.  I build them again (from the exact same source code) and I get new packages appearing in lower levels of the tree:

![image](https://user-images.githubusercontent.com/22217579/112468890-18acea80-8d69-11eb-944f-b1286af78584.png)

(And

[2021-03-25 12:47] jlemein commented on #8672
I indeed do not have the problem anymore if I change `export_sources` to only the needed source files.
It sounds tricky though that packages get removed without the --force flag if I set `export_sources` to '*'. But the problem is solved for me now.

Thanks for your time.

[2021-03-25 13:07] memsharded commented on #8672
Yes, you are right, this is a side effect of an existing limitation of the current Conan cache: It can only host 1 revision at a time. When you are creating a new revision, because ``exports_sources`` modified it, the previous one is replaced. The next iteration of the cache (designed for Conan 2.0) will be able to contain multiple revisions, in that sense the binaries will not be removed, they wi

[2021-03-25 13:07] #8672 closed, assigned to memsharded

[2021-03-25 13:19] memsharded commented on #8676
This happens when there is something else, like git checkout different CRLF in Windows and Linux. That means that the source code is not exactly the same, they are different files, with different characters inside, even if it is the same commit, and they produce different revisions. It is very important to check that, and a nice solution is using ``.gitattributes`` in the repo, to make sure the li

[2021-03-25 13:35] crazydef commented on #8676
Then that's a bug in Conan.  Software shouldn't produce different results based on line endings of text files.  :)  If you're hashing files to determine content, you should be stripping all white space and hashing the actual content of the file.

I can try to work around this with .gitattributes, but it should really be fixed properly in my opinion.

Which files are used for generating these revis

[2021-03-25 14:20] ytimenkov commented on #8421
@memsharded

So this is the final recommendation?

Particular problem with having fixed versions in recipes is that a new release is required for every new dependency propagation because recipe needs to be committed back to Git repo so previous version tag can no longer be used.

And if versions are stored in a lockfile it can't be updated in a controlled manner: say, change only one version to a

[2021-03-25 14:21] memsharded commented on #8676
I wish this were true :)

We have seriously consider this, and actually I have implemented this. And it was a nightmare. Let me give one example: User ``exports_sources="Instructions.txt"``. That is a text file with the app instructions. Conan strips all line endings and computes revision=rev1. Now user realizes this is horrible, the app is printing all the instructions as a single line, because t

[2021-03-25 14:24] memsharded commented on #8690
Great, thanks for following up. Just for your info, as long as you define your custom profile, you are still good to use ``conanfile.py``, specially if you need some other logic (like conditional requirements) that cannot be implemented in ``conanfile.txt``

[2021-03-25 14:42] crazydef commented on #8676
To be honest, that sounds way better to me.  :)  I would much prefer explicit versioning as specified in the conanfile.  If I haven't changed the version number, the old package just gets overwritten.  (As long as there's a way to force an upload and overwrite.)  That's essentially what I have right now anyway.  At the moment, I'm just packaging third party libraries for our build scripts to consu

[2021-03-25 15:37] memsharded commented on #8676
We also thought the same, and for the last 5 years, this has been the default mode, not using revisions. But in this time we have  learnt a lot not only about lazy developers, but the whole devops world and some known best practices in package management in other ecosystems that have been more mature than C/C++. One of them is package immutability by default. It is not only about developers being

[2021-03-25 15:47] kralicky opened #8702 "[bug] Stack trace instead of error message with conan alias"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.2 LTS
  * Compiler+version: N/A
  * Conan version: 1.34.1
  * Python version: 3.8.8

When creating an alias package that already exists, instead of printing the correct error message you will get a stack trace if the package in question uses python_requires.

### Steps to reproduce (Include if A

[2021-03-25 16:01] srnwk opened #8703 "[bug] cmake link options treated as files with cmake_find_package generator"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: MSVC 19.28
  * Conan version: 1.34.1
  * Python version: 3.9.1

### Steps to reproduce
Install siglost/1.2.0:
[code]
Consume Pal::Sigslot via cmake:
[code]
Configure & build:
[code]
### Logs
[code]

sigslot/1.2.0 declares a link option `/OPT:NOICF`.
When using the cmake_

[2021-03-25 19:19] wirew0rm commented on #4911
This boils down to lgtm using a caching https proxy with their own self signed certificate. Disabling ssl verification helped patially, but for some packages (docopt in our case) conan also connects to github which also doesn't work.

We where able to solve this by appending the certificate from `/usr/local/share/ca-certificates/semmle-cache-ca/semmle-cache-ca.crt` to `~/.conan/cacert.pem`, see [h

[2021-03-25 22:55] kralicky commented on #8702
This issue is actually different than I originally thought and was discovered due to me having the conan alias arguments backwards. The fix is the same however, and it will now properly display "Reference is already a package, remove it before creating and alias with the same name"

[2021-03-26 00:21] #8702 closed, assigned to nobody

[2021-03-26 01:34] remysalim opened #8707 "[bug] Inconsistent settings when using non default compiler.toolset and compiler.version"
When using a profile requesting a non-default Visual Studio compiler and toolset duplet, created package settings seemingly get mutated to fit the default.
I'm not sure whether this is a bug or intended behavior, looking back I realize `toolset` is a compiler dependent setting that only makes sense in the context of Visual Studio builds, it's fair Conan tries to re-establish alignment, albeit surp

[2021-03-26 04:23] xahon opened #8708 "[question] Is there a way to split test requirements from application ones?"
I wanted to add gtest library to my project that already contains some packages needed for work of my application. I realized that my program links to gtest libraries which is not good at all. Can I somehow split these packages needed just for unit testing purposes using built-in conan features? How to manage that the right way?
There is a `build_requires` and I expected something like `test_requi

[2021-03-26 07:37] utopius commented on #8265
Hi @czoido,

I got some more details now, not sure if they will help, but I promised to deliver them:

- Artifactory is a 3-node cluster
- The database is driven by a Oracle 12c cluster
- The binary storage is a shared (nas?) instance with roughly ~50TB NFS available

Our colleagues will get in touch with jFrog regarding Artifactory improvements / bugfixes.

[2021-03-26 09:22] Forbinn opened #8709 "[question] Access full deps packages info in deps_cpp_info"
I would like to have access to the user / channel information of dependencies in the imports function but its seems like I can only access the name and version of the package by using:
[code]

And this works fine but if a try the following code:
[code]
Then it print:
[code]

I didn't report this as a bug because it may be just normal or I just don't know how to get the info.

- [x] I've read the [

[2021-03-26 10:31] memsharded commented on #8709
Hi @Forbinn

At the moment this is not possible, the information is not there. We are not adding it to ``deps_cpp_info``. Instead, we have started to add a more powerful model in https://github.com/conan-io/conan/pull/8534, if you want to check it. It will expose not only user/channel, but also other data (as package-id, recipe revision etc). This will be in next 1.35, the structure, but not acces

[2021-03-26 11:39] DdOtzen commented on #8587
Any thoughts?

[2021-03-26 12:30] crazydef commented on #8676
Yeah, I realise I'm not going to change anybody's mind here.  But that never stopped me from having a good old grumble in the past.  :)

Anyway, back to the problem at hand...  I finally had time to revisit this, and can confirm setting up .gitattributes to force conanfile.py to always use LF does indeed fix the issue.

At least, it's fixed one of the issues.  I suspect the remaining problems, tho

[2021-03-26 13:46] memsharded commented on #8676
We change our minds often, but in many cases too, we also have a lot of scars of having been there many times in the past, tried different things, struggled, going back and forth...  But even in the case we would not change our mind, the feedback is very welcomed, we really need to hear that too, so please keep coming those good old grumbles! :) :) :)

Great to know, happy that it is solved.

Ok,

[2021-03-26 13:46] #8676 closed, assigned to memsharded

[2021-03-26 13:54] danpetry commented on #8145
Hi, I'd like to contribute a fix for this, looks like it's ready for implementation?

[2021-03-26 14:37] faulty-me opened #8710 "[question] Is conan ignoring CONAN_CXX_FLAGS when cross-compiling?"
Hi, I am cross-compiling to armv8 with Conan (v1.34.0) by means of a profile.

I tried a profile like this:

[code]

However, it didn't work without setting `CONAN_CXX_FLAGS` (as the suggested cross-compiling example at https://docs.conan.io/en/latest/systems_cross_building/cross_building.html).

Then I set `CONAN_CXX_FLAGS` (actually I tried with `CMAKE_CXX_FLAGS` as well) to pass the triplet (as

[2021-03-26 15:04] johschmitz opened #8711 "[feature] Add runtime (only) requirements to lower build times"
Alongside build requirements and requirements can you add runtime requirements which are not installed during build time but only during install time of the final Conan package? Or alternatively add a flag to a requirement that let's Conan know that it is not needed during build time?
Some of our runtime requirements are very large but are downloaded for every build. Even if the download cache is

[2021-03-26 15:40] dyle71 opened #8712 "[question] Do version ranges in conanfile.txt on install work on remotes if not found locally?"
#!/bin/hi *

My setup:
[code]

I do have a `conanfile.txt` in my local project like this:
[code]
Which resolves to a `foo/1.1.0` on a specific remote.

Now running conan like this:
[code]

Which is fine. Though  https://docs.conan.io/en/latest/versioning/version_ranges.html#version-ranges states

Tweaking the requirement to
[code]
will now download from the remote.

And a successive call to `conan

[2021-03-26 16:01] solvingj commented on #8662
@aleksa2808
Many people struggle with this (in all languages in fact).  It's a fundamental challenge for any workflow scenarios where dependencies are obtained via package manager, and people need to test changes to multiple packages at a time (including other programming languages).

 There are currently two ways to address this with Conan:
1. For each commit/pull request, use the Artifactory API

[2021-03-26 16:23] SSE4 opened #8713 "[bug] ERROR: Incorrect definition of general.config_install_interval: 1s"
executing the following command:
[code]
makes conan completely unusable, any conan command will fail:
[code]
and it seems like completely impossible to restore, at least from the command line.

looking at the code: https://github.com/conan-io/conan/blob/8e964922074538899de71bff068bb959fcfae6ac/conans/util/dates.py#L33
it doesn't allow seconds there, but seconds are allowed on `conan config set`, w

[2021-03-26 16:35] takacsd commented on #7115
I know I'm late to the party, but I have a very similar usecase. And I'm very much intend to give `conan-client-remote-s3` a try, but I was wandering, if the already existing `conan_server` fits the bill better.
To me it seems like it just needs a S3Adapter based on [ServerDiskAdapter](https://github.com/conan-io/conan/blob/0ad4f309f0a7fa2b1ca8e5fd22ce093bc66f2894/conans/server/store/disk_adapter.

[2021-03-26 17:14] aleksa2808 opened #8714 "[Question] Quotations in .env files generated by virtualrunenv"
Hi,
is there a specific reason for quoting every item separately inside the env var lists of .env files generated by the `virtualrunenv` generator? If the possible spacing in paths is the only concern wouldn't adding quotes only at the beginning and the end of a variable value be sufficient?

meaning this:
[code]
instead of this (current behavior):
[code]

I'm asking about this because I'm often d

[2021-03-26 19:17] #8598 closed, assigned to jgsogo

[2021-03-26 22:53] klimkin commented on #8179
My understanding, that `build_requires` is not for build-only dependencies, but for _build context_. This makes more sense if you thing it from perspective of a cross-platform build:
* _Build context_ (`build_requires`) - machine where the package is compiled on and where build tools are running
* _Host context_ (`requires`) - machine where the package will be used

From this perspective, [Build r

[2021-03-27 00:36] klimkin commented on #8145
Yes, this massive output is very very annoying. I had to add this to all my recipies:
[code]

[2021-03-27 07:46] heili77 commented on #8179
Hi @klimkin,

In my opinion GTest is a build requirement because it is static linked to a test executable. You deliver the test executable to the target system and do not link the test there. All other dependencies only used only by the test are also build requirements.

[2021-03-27 10:18] danpetry commented on #8145
Hi @klimkin, FYI I've been working on a fix as described above, I guess this addresses optimization rather than log levels so doesn't overlap with your PR, right?

[2021-03-27 12:05] SpaceIm commented on #4480
Anybody has found a robust way (which doesn't break with new conan versions) to add whole archive for specific libs in `cpp_info.libs`?
It's a big issue for `libtorch` static, since sereral libs MUST be linked with whole archive:
`torch`, `caffe2_observers`, `torch_cpu`, `caffe2_protos` (wrapper to ensure that symbols of `protobuf` are not discoped when libtorch is static), `torch_cuda`, `torch_hi

[2021-03-27 13:50] #8683 closed, assigned to solvingj

[2021-03-27 15:28] SpaceIm commented on #4480
Answering myself:

I had to do something like this (successfully tested with Visual Studio & apple-clang for the moment):

[code]

[2021-03-29 07:24] SSE4 opened #8720 "[bug] conan new doesn't accept the same reference format as conan create"
it's very confusing that different conan commands require different reference syntaxes, especially for newcomers. I'd prefer it to be consistent, if possible.
e.g. right now it's perfectly valid to do:
[code]
while it's impossible to do:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version:
  * Python version:

#

[2021-03-29 09:38] memsharded commented on #7965
Implemented in https://github.com/conan-io/conan/pull/8687, will be in Conan 1.35

[2021-03-29 09:38] #7965 closed, assigned to nobody

[2021-03-29 12:18] Belpaire opened #8722 "[bug] Cannot upload from certain machine"
Hi, I seem to have an issue uploading to our artifactory server from a certain machine(but it works perfectly fine on my own machine).

### Environment Details (include every applicable attribute)
  * Operating System+version:windows 10
  * Compiler+version:N/A
  * Conan version: 1.34.1
  * Python version: (using conan windows installer so I don't think this applies?)

### Steps to reproduce (Incl

[2021-03-29 13:03] snailcatcher opened #8723 "[question] Get context path of install command in my custom generator"
Hi,
I want to build a custom generator for my toolchain and need conan to pass me the "context directory" into my generator.

So in short I type **conan install /some/path/to/my/conanfile** and want to know the property that contains */some/path/to/my/conanfile* inside my generator. e.g. **self.context_path**.

I was searching for all possible terms I can guess in the documentation, but I didn't f

[2021-03-29 14:09] #8720 closed, assigned to SSE4

[2021-03-29 14:17] asanka424 commented on #8562
Hi @czoido

Sorry for the delayed reponse. It turns out to be a debug log from one of the custom conan modudles. You can close this ticket.
Thanks for your support

[2021-03-29 14:19] #8562 closed, assigned to nobody

[2021-03-29 14:20] asanka424 opened #8725 "[question] Dependency paths in local cache."
I want to list the dependent libraries (dlls or so) for a given package or a executable (conanfile.py or conanfile.txt) in the cache with full paths.

For example lets say package A has a requirement for package B. Package B has B.dll. I want to get the full path to B.dll in the cache.

 conan info <package A> --paths

This gives me the package folders for each dependency, but doesn't show where t

[2021-03-29 15:16] memsharded commented on #8698
Proposing https://github.com/conan-io/conan/pull/8726 for 1.35

[2021-03-29 15:58] #8698 closed, assigned to nobody

[2021-03-29 16:26] #7070 closed, assigned to memsharded

[2021-03-29 19:36] memsharded commented on #8725
Hi @asanka424

What are you trying to achieve? Are you trying to implement something in recipe A, or are you trying to collect artifacts from the consumer side? If it is the latest, you want to use the ``imports()`` functionality that let you define which files you want to collect, and allows things like ``@bindirs`` origins

[2021-03-29 20:42] gsemet opened #8730 "[question] conan copy replacement in conan 2.0"
Hello,

I've came across the proposals for Conan 2.0 and I see in [016-package_immutability.md](https://github.com/conan-io/tribe/blob/main/design/016-package_immutability.md) that the `conan copy` is meant to be removed.

I use this command to perform a "promotion" of the package to its final landing site. Basically, the CI pushes to a specified user/channel (in Merge Requests it uploads by defau

[2021-03-29 21:55] michaelmaguire opened #8731 "[bug] conan remove with recipe revision doesn't show revision in confirmation prompt"
I wanted to delete a specific, erroneous recipe revision of a package from Artifactory.  I tried:

[code]

but was filled with doubt about whether this would only delete the desired recipe revision, or whether it would delete all revisions of the package version `13.6.7`.

In testing, it would appear only the desired recipe revision was deleted (phew!) but I think it would be much more reassuring

[2021-03-29 22:34] #8639 closed, assigned to uilianries

[2021-03-29 22:57] memsharded commented on #8581
It is already working fine. Those fields are being used for the ``export`` and ``create`` commands.
It is just the output message that is missing the fields, a small UX bug, but the functionality is fine. Could you please double check, just in case?

[2021-03-29 23:18] #8633 closed, assigned to SSE4, memsharded

[2021-03-29 23:30] solvingj commented on #8731
I agree, I think we can improve the output message and improve the docs to match.

[2021-03-29 23:39] memsharded commented on #8730
Hi @gsemet

The key is in the sentence:

You can also have a look at this page here https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#repositories, it also highlights some ideas.

The key is to have a "testing" repository and a "stable" repository. Packages do not change, they are immutable. But based on the stage they can be put in one repository or the other. Instead of doing a ``cona

[2021-03-29 23:39] solvingj commented on #8730
There is an "obvious-in-retrospect" but "unforeseen-in-early-design" consequence of using `channel` as an identifier of the "status" of a package (and the builds of that package).  When a package is first created, it is obviously in a "status" of `untested` (aka `unstable`). Then, once it's tested, the "status" of the package **changes** to `tested` (aka `stable` for example).  In theory, the rena

[2021-03-30 00:23] #8581 closed, assigned to solvingj

[2021-03-30 01:27] solvingj commented on #8723
I don't remember if the generators get to know the path off hand, but I'll find out ASAP.

[2021-03-30 05:33] gsemet commented on #8730
Thanks for your answer.

I see that the user/channel concept loose flexibility. I have used it to have multiple rooms for testing, and indeed I have a companion class used in all package that is able to perform a dependency replacement to test a given library (so it replaces all « requires lib@user/stable » by « lib/<temp-version>@testing/git-branch-name » in all package. So that anyone can trigge

[2021-03-30 08:07] gsemet commented on #2140
I would a feature just as the proposed
[code]

This shall mean "If at any point you see a requires for LibA, just take this version without trying to respect all other restrictions user/channel or version". I had to develop my own base class that take this information in the current lib + all other dependencies that are built and force the version under test. This is a bit too much invasive and if

[2021-03-30 09:33] memsharded commented on #8730
If you haven't yet, please have a look to https://docs.conan.io/en/latest/versioning/lockfiles/ci.html, this is more or less that idea: to check if something breaks downstream when there is a change in a package, without needing to put those packages in production repo yet.

That "saved for later" doesn't exist in the client side (at least in CI, it is difficult, there is the Conan cache, but shou

[2021-03-30 11:23] DdOtzen commented on #8631
Hi.

Thanks for the prompt reply, sorry for my delay.
I found that we had commercial support for jfrog (sadly not impressed), but after a lot of waiting and explaining, they found that the URL is wrong.
As you see in my example i use
`url: https://myorg.jfrog.io/myorg/api/`
They found that if i use
[code]
The error goes away.
If log level debug selected, it still writes
`DEBUG :rest_client_common.

[2021-03-30 14:27] solvingj commented on #8722
It's hard to think of a way to help troubleshoot this without seeing some raw outputs to be able to look for syntax errors. It does indeed seem like it's not respecting the port on your remote URL, but it seems like you're probably doing the same exact things as you did on the working machine, so I'm not sure what would be different.  Also, if `conan remote list` shows the port properly, then it g

[2021-03-30 14:40] solvingj commented on #8723
Please try this:
`self._conanfile.recipe_folder`

[2021-03-30 14:58] snailcatcher commented on #8723
In my generator I can see **self.conanfile**, but there isn't a property named **recipe_folder** or something similar.

[2021-03-30 14:59] solvingj commented on #8723
Notice the `_` in `_conanfile`. Try that one.

[2021-03-30 15:04] snailcatcher commented on #8723
With the underscore I will get:
ERROR: 'mygen' object has no attribute '_conanfile'

[2021-03-30 15:18] solvingj commented on #8723
Ping @memsharded can you think of a reason why this would not work?

[2021-03-30 15:43] Nekto89 opened #8735 "[question] How to use older MSVC toolset"
Hi,

I'm sorry if this has been already answered but I couldn't find it.

Microsoft releases new minor versions of compiler every several months. How to deal with this in Conan? For CMake I'm using -Tversion=14.26 (or -Tv142,version=14.26,host=x64) to be able to use 14.26 even after updating my VS2019.
https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_TOOLSET.html#visual-studio-toolset-

[2021-03-30 15:59] memsharded commented on #8735
Hi @Nekto89

It depends on the binary compatibility level that you want to define and maintain. For most cases, and with forward compatibility of compilers versions being ok, just upgrading the tools is enough, no need to do changes in Conan model. Upgrading VS is enough, the new compiler version will be automatically used when the build helpers call vcvars internally or by passing ``-G "VIsual St

[2021-03-30 16:03] lieser commented on #8633
Thanks a lot for adding this this fast.

Did a quick test configuring it using profiles, and seems to works as expected. As we currently do not use the `generate` method in our recipes, I did not yet test setting the `exclude_code_analysis` property in a recipe instead of the profile.

Do I see it correctly that the `[conf]` settings can currently not be directly set via an argument then calling e

[2021-03-30 16:30] memsharded commented on #8633
Yes, at the moment, only in files, but it is likely it will be added at some point to the command line. But that should be for exceptional cases, the canonical usage is in files.

[2021-03-30 16:43] Belpaire commented on #8722
I do have some screenshots lying around still of the raw output that I could mail to you. It is not superconfidential stuff to show the exact names but I'd rather not put it on a github issue.

[2021-03-30 17:28] kakashidinho opened #8736 "[question] when export_sources and scm are both specified, which one is used when building is required?"
I have a conan project `A` that has both `export_sources` and `scm` specified.
When a consumer conan project uses the above project, and `--build=missing` policy is used, conan seems to checkout the `A`'s source from `scm` instead of using `export_sources`.

Not sure this should be a bug or a question.

The problem with `scm` source checkout is that on some CI servers, they don't have permission t

[2021-03-30 17:33] solvingj commented on #8722
Ok, please send me a private message via email or slack and we'll arrange something.

[2021-03-30 18:51] evandrocoan commented on #8673
Thanks for explaining. I wonder how you are going to force the user/channel to be immutable in Conan 2.0 because isn't everything text and text can be changed/renamed?

I ran `conan export` and it is working now.

[2021-03-30 18:51] #8673 closed, assigned to memsharded

[2021-03-30 19:07] memsharded commented on #8736
Hi @kakashidinho

Do you have some example that we can reproduce? When both are defined, both sources origins will be used, sequentially, one after the other (first the scm checkout then the exports_sources will be copied on top). This works and is tested, so there might be some edge case or bug there, but we would need a reproducible example. Thanks!

[2021-03-30 19:18] uilianries commented on #8673
Hello @evandrocoan ! I expect you are not in trouble with libpcap package in your company, I made it 2 years ago.

I also provided that version for Bincrafters (because we needed for your company), but it's deprecated now. Instead, you should use the package available on Conan Center: https://conan.io/center/libpcap

[2021-03-30 19:41] evandrocoan commented on #8673
Hi @uilianries ! I was adding a new version of libpcap because version 1.8.1 does not compile with gcc 9.3 due to problem with bison and libpcap 1.9.1 uses a newer enough version of bison. I saw it was deprecated on bincrafters, but I could not find a git repository to checkout and download the source code from the https://conan.io/center/libpcap page. Is there any? If there are none, it means git

[2021-03-30 19:53] uilianries commented on #8673
All official recipes are now in Conan Center Index: https://github.com/conan-io/conan-center-index

Libpcap is there too: https://github.com/conan-io/conan-center-index/blob/master/recipes/libpcap/all/conanfile.py

Versions are now in [conandata.yml](https://docs.conan.io/en/latest/reference/config_files/conandata.yml.html), it allows us reusing same recipe for any version, instead of creating a n

[2021-03-30 20:11] wdobbe opened #8737 "[bug] tools.os_info.with_apt gives false positive on Suse when zypper-aptitude is intalled"
### Environment Details (include every applicable attribute)
  * Operating System+version: OpenSuse Leap 15.2
  * Compiler+version: gcc 7.5.0 (not relevant for this issue)
  * Conan version: 1.34.1
  * Python version: 3.6.12

### Steps to reproduce (Include if Applicable)
run command:
`conan install opengl/system@`

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

[2021-03-30 20:13] kakashidinho commented on #8736
Thanks for the reply,
I cannot give an example, since our projects are quite huge. However, I think I understand the behaviors you described. My problem is that the conan process stopped at `scm` checkout. For example, it reported this error on our CI server:
[code]
And it didn't fallback to use `export_sources`.
However, if I remove `scm` attribute, and keep `export_sources` only the the conan pr

[2021-03-30 20:22] wdobbe commented on #8737
As you can see in the log above, the opengl package tries to install an Ubuntu package with apt-get.
I traced it down to Conan file conans/client/tools/oss.py. In that file function `with_apt` tries to find the apt-get binary with `apt_location = which('apt-get')`. On my Suse system this check succeeds:

[code]

Wouldn't it be better to check file /etc/os-release to find out what system Conan is r

[2021-03-30 20:28] evandrocoan commented on #8673
This new feature looks nice. I think I misunderstood the problem. Just because the package is immutable it does not mean I cannot download change the remote name and upload it to another remote with another name.

This looks nice too, but looks like it breaks most commands I have saved in my conan cheat-sheet:
[code]

Is there a tutorial explaining how the workflow for development changes with thi

[2021-03-30 20:39] uilianries commented on #8673
I remember @danimtb commented about it few days ago, where `conan source` doesn't work with `conandata.yml` when there is no `version` in conanfile.py. I didn't find any issue related, but it should be improved.

Meanwhile, you can use conan [create](https://docs.conan.io/en/latest/reference/commands/creator/create.html) command, which executes all steps in a regular development flow.

As _gambiar

[2021-03-30 23:12] SpaceIm commented on #8703
It could also be protected with double quotes for CMake: `self.cpp_info.components["_sigslot"].exelinkflags.append("\"/OPT:NOICF\"")`
But I don't know if it would be a good solution for non-CMake generators.

[2021-03-30 23:26] memsharded commented on #8736
Yes, I didn't mean that you shared your project code, the typical way is to produce a "toy" conanfile.py, with just the bare minimum behavior to prove the points, and that can be easily shared with the maintainers for reproduce.

Regarding your points, the truth is that for most cases ``scm`` and ``exports_sources`` are alternative strategies:

- You use ``scm`` if you don't want to embed a copy o

[2021-03-30 23:26] asanka424 commented on #8725
Hi @memsharded,

Thanks for your response.

I am trying to build a service where I can list dependencies for a given conan recipe. For example given the package `xyz/1.0.0@myservice/mychannel`, I get the list of libs (dlls) that xyz is depending on at run time. xyz can have many dependencies where those dependencies can have their own dependecies.

We are using some conan packages from other third

[2021-03-31 03:01] MaciejKucia opened #8738 "[feature] Global config /etc/conan/"
Conan shall check if /etc/conan/* configs exist before reading configs from user home. This is similar behaviour to many tools, for example Git.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-03-31 09:41] memsharded commented on #8703
I have been able to reproduce:

- Using quotes doesn't help, (at least CMake 3.15)
- Using -/OPT:NOICF with the ``-`` works, and without quotes.

[2021-03-31 09:43] memsharded commented on #8703
This is surprising it has not been raised before. Apparently the ``-`` is necessary for the CMake generators, and I have submitted a potential fix in https://github.com/conan-io/conan/pull/8740, but we need to carefully analyze if it could be breaking somehow.

[2021-03-31 09:54] memsharded commented on #8737
Hi @wdobbe

What is your system reporting for the following?

[code]

Also another question, is your apt-get operational? It seems so, because not only passes the ``which()``, but also the "moo" test. Does it work in general, but not for the ``libgl1-mesa-dev`` package? Do you use it in a combination with other system package manager?

Probably it would be better to use the system id instead of ch

[2021-03-31 10:05] SpiderCh opened #8741 "[bug] Conan install fails after updating to 1.35.0"
### Environment Details (include every applicable attribute)
  * OS: Windows 7 SP1, MacOS 11.2.3
  * Compiler: MSVC 19.28.29337.0, clang 5.0, clang 11.0
  * Conan: 1.35.0
  * Python version: 3.8.2, 3.9

### Steps to reproduce (Include if Applicable)
Install conan 1.35.0. Try to call conan install.

### Logs (Executed commands with output) (Include/Attach if Applicable)

$ conan install path_to_con

[2021-03-31 10:37] czoido commented on #8741
Hi @SpiderCh,

Thanks a lot for reporting.

A couple of questions:
- Is that possible that you upgraded conan while other conan process was running?
- Could this be related to old `*.pyc` files for conan remaining? Could you try deleting those files and running again or maybe running in a new virtual environment to check if this happens?

[2021-03-31 11:08] wadimklincov opened #8742 "[bug] self.requires doesn't enforce keyword arguments"
This is a very minor issue, but might be worth addressing anyway. I've tried to look for previously raised issues, but wasn't able to find one.

The issue is `self.requires` in the `requirements` method not enforcing keyword arguments and allowing users to pass anything as the `private` and `reference` arguments. Reading the documentation it's obvious what arguments `self.requires` and `self.build

[2021-03-31 11:11] SpiderCh commented on #8741
Hello @czoido

No, there were definitely no conan process running when update happend.

I removed all conan folders and data from both machines(mac and win) and made clean install but problem still there.

[2021-03-31 11:22] SpiderCh commented on #8741
Well sorry for inconvenience, but i found problem. We are using conanfile.py files and we actually receive six input parameters.

`def __init__(self, output, runner, display, user, channel)`

Looks like i miss this change in release changelog.

[2021-03-31 12:46] M0r13n opened #8743 "[question] Multi Package Deployment Workflow"
# Multi Package Deployment Workflow

## Scenario
We have a lot of smaller apps, where each app might have dependencies to other apps. These apps are organized so that basic functionalities are built in smaller upstream apps. Final products consist of a selection of lots of smaller apps, combining them to something useful. In fact these products are not much more than metaprojects that contain some

[2021-03-31 13:16] KerstinKeller opened #8744 "[bug] Strange CI issue with test packages"
I have just encountered a very strange CI issue in our build.
The error output is:
[code]
What we do is to build a set of packages that are required when users want to build our apps.
Locally, it works just fine. But on the CI, there is no `build` folder created inside the `test_package` folder, and the whole behavior seems strange. Also there is obviously no build output.

This is the test_packag

[2021-03-31 13:52] wdobbe commented on #8737
Hi,
Here is the output of above commands:
[code]

I thinks zypper-aptitude maps apt-get commands to zypper. But the problem is that because Conan thinks my system is Debian/Ubuntu system it wants to install the Ubuntu package names which are slightly different from the package names on Suse. For example package opengl/system tries to install (debian) package `libgl1-mesa-dev` while the Suse packag

[2021-03-31 14:26] ostjean commented on #8741
We are having the same issue. We make use of the constructor, which had those 6 parameters. At first glance, I can't see anything in the 1.35 changelog that clearly indicates that the conanfile constructor changed.

This is quite a problem because this breaks absolutely ALL published packages that we have, and we can't simply change the conanfile and call it a day because that will affect only new

[2021-03-31 15:09] paulocoutinhox opened #8745 "[bug] Compiler is not detected for WatchOS"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos
  * Compiler+version: Apple Clang 12
  * Conan version: 1.35.0
  * Python version: Python 3.9.2

### Steps to reproduce (Include if Applicable)

Im building openssl and other libs to watchos and it generate the cmake "conanbuildinfo.cmake".

But when i import it to build the main application i get a cm

[2021-03-31 15:14] czoido commented on #8741
Hi @ostjean,
I'm very sorry to hear that, this can't be considered a Conan bug. The constructor of the conanfile should not be called directly

[2021-03-31 15:16] paulocoutinhox commented on #8745
This is cmake bug.

https://gitlab.kitware.com/cmake/cmake/-/issues/21526

Need upgrade to cmake 3.19.1

[2021-03-31 15:16] #8745 closed, assigned to nobody

[2021-03-31 15:30] memsharded commented on #8741
I am submitting this for 1.35.1 as an exception, this shouldn't be taken as a regression or a bug:

- The constructor ``__init__()`` of conanfile is not documented, so changes in it cannot violate the compatibility and the not breaking promise. If we cannot do changes to internal implementation details then we would need to stop Conan development completely. Please re-read from https://docs.conan.

[2021-03-31 15:57] ostjean commented on #8741
I see... we started our development when conan was at like 1.17 and there was pretty much nothing else than the `__init__` that could allow us to do our common configuration on both the producer and consumer side (we use one conanfile template for all our projects).

Is there anything that is common now on both side that runs at the very beginning, other than the constructor, on install, export an

[2021-03-31 16:20] memsharded commented on #8737
Ok, I see, this seems an unfortunate bug not catched before because it only happens if ``zypper-aptitude`` is installed. I have submitted https://github.com/conan-io/conan/pull/8747 to fix it, maybe it can be released in 1.35.1

[2021-03-31 16:24] wdobbe commented on #8737
Thanks !

[2021-03-31 16:24] memsharded commented on #8741
Hi @ostjean

It would be very useful to understand your use case for overriding the ``__init__()`` constructor on the conanfile, and also a bit more detail about that conanfile template that you are using. How are you actually using it as a base? It seems not a ``python_requires``, is maybe some Python package installed at the pip-system level? Because now there is the ``init()`` method (check htt

[2021-03-31 16:34] danpetry commented on #8145
@jgsogo there are multiple calls to `conan_package_library_targets`  in the generated `Findxxx.cmake` file:

- one from cmake_find_package_common, which as you say can be reduced by iterating over xxx_FIND_COMPONENTS rather than all the components in deps.libs.
- additionally, one for each component, from cmake_find_package.py, cmake_find_package_multi.py, and cmakedeps.py. Looks like this is only

[2021-03-31 16:54] danpetry commented on #8145
Another approach is simply deleting the `conan_message` line in `conan_package_library_targets`, but I guess this wouldn't solve the case for the configure step being slow for many libraries. Maybe putting an `if ({{ comp_name }} in ${{{name}_FIND_COMPONENTS}})` around each component could work? Or turning the generated code for each component into an iteration over `xxx_FIND_COMPONENTS`?

IIUC al

[2021-03-31 18:53] ostjean commented on #8741
We don't do anything too fancy with the conanfile.py. However it is unconventional and we've customized a lot of things to fit our needs, so we know that if we do something too weird, it's our problem. We mainly heavily modified the settings and the profiles, the conanfile.py is not too weird.

We have toolchains for different embedded platforms in docker images. We have a base docker image that a

[2021-03-31 19:08] aleksa2808 opened #8748 "[feature] Automatic virtualenv/virtualrunenv application"
Hi,
would it be possible to somehow apply (or at least reapply) the `virtualenv`/`virtualrunenv` `activate_run` scripts when a `conan install` command is ran? The scenario I have in mind specifically is a situation where you would change the version of some dependencies and rebuild, but the LD_LIBRARY_PATH variable would stay the same since it seems easy to forget running `deactivate_run` + `activ

[2021-03-31 19:16] klimkin commented on #8145
@danpetry There are two change-sets:
* Reduce CMake spam: https://github.com/conan-io/conan/pull/8715
* Use find_package_handle_standard_args() to handle CMake components: https://github.com/conan-io/conan/pull/8716

First change marks the "Library xxx found" as `VERBOSE`.
Second change reduces Conan code to use standard component handling - that should eliminate many custom component related mess

[2021-03-31 19:23] ericriff commented on #8145
A very good code sample is the boost test package. It calls `find_package(boost someComponent)` multiple times.
Once you've built the whole package, you can re build the test_package only using `conan test`.

[2021-03-31 19:24] klimkin commented on #8145
@danpetry Standard way of handling components in CMake is:
1. Iterate through the list of `pkg_FIND_COMPONENTS`, the variable provided by `find_package(pkg COMPONENTS xxx)`
2. If component found, `set(pkg_component_FOUND TRUE)`
3. Call `find_package_handle_standard_args()` with `HANDLE_COMPONENTS`

We still have to define all the components, not only the explicitly listed in `find_package`, unless

[2021-03-31 19:35] klimkin commented on #8145
@ericriff After applying both change-sets boost test_package reduces to:
[code]
Each line corresponds to single `find_package()` call. That's what CMake does. Further reduction by using single `find_package()` statement with all the components.

[2021-03-31 19:37] ericriff commented on #8145
It looks so clean! Amazing!

[2021-03-31 19:43] ericriff commented on #8145
Did you remove the lines that point to the actual library on purpose? Lines like:
-- Found: /home/eric/brewst/.conan/data/boost/1.74.0/eriff-dev/stable/package/0fdc43fcd9ad9cbd2530f4b832dbf5f2bb7ec3d1/lib/libboost_random.a

They're useful to make sure it is using the right one.

[2021-03-31 20:03] klimkin commented on #8145
They are not removed, but marked as [`VERBOSE`](https://cmake.org/cmake/help/latest/command/message.html?highlight=message). So you would still see the same messages by increasing verbosity level. Unfortunately, this is relatively new CMake feature, so it might take some extra effort to make this change into the main branch.

[2021-03-31 20:53] uilianries commented on #8742
They are completely different. `SystemPackageTool.install` accepts variants for same package, because multi distro support. Both `self.requires()` and `self.build_requires()` only accept a single package reference because there is no name variation.

That's a prone error, and there are many methods which are following the same way. [Requirements](https://docs.conan.io/en/latest/reference/conanfile

[2021-04-01 01:36] kazunarikudo opened #8750 "[question] Working with the local Conan cache without Internet connection"
Hi,

I am working with a remote artifactory server and my local Conan cache has already been filled up with the files from the server.

However, I cannot connect to the server due to technical difficulty now. Could any of you tell me how can I work with the local cache without the internet connection, please? At least the current setup tries to connect to the server and the process ends up due to

[2021-04-01 06:35] mjvankampen commented on #8453
@memsharded #8534 is in, but does not fix this issue. Say that activate and activate_run both modify LD_LIBRARY_PATH deactivating both of them will give an error as both the deactivate scripts will try to remove LD_LIBRARY_PATH from your environment.

[2021-04-01 08:38] #8750 closed, assigned to nobody

[2021-04-01 08:56] kazunarikudo opened #8751 "[bug] The ``conan user`` command does not accept a password that consists of specific characters"
I have an Artifact repository in JFrog and use that as a remote.

I can log in there over the web client. However, the `conan user` command says `ERROR: Wrong user or password. [Remote: my_remote]` if I execute `conan user -p [password] -r my_remote [username]`. However, `conan user -r my_remote [username]` works and the password is accepted during the interactive communication while the Conan is

[2021-04-01 09:40] foundry-markf opened #8752 "[question] Is it safe to delete a recipe revision on Artifactory?"
Hi,

So I believe this would be a question for the Conan server backend in Artifactory.

If I have a package with N revisions, where the Nth revision is good for all purposes. Then a new revision is erroneously uploaded, so that all unpinned requirements in consumers get this erronous revision. Is it safe to delete that last revision via the Artifactory UI?

This isn't covering the case where ther

[2021-04-01 10:07] tonyarnold commented on #1047
Sorry to necropost, but did this issue ever end up bearing fruit?

How are other Conan users generating universal binaries containing x86_64 and arm64 code for platforms like macOS?

[2021-04-01 10:11] canatella commented on #1047
I have a wrapper over conan that fetches the packages using conan info, and assemble the final binaries.

[2021-04-01 10:16] Nekto89 commented on #8735
Hi @memsharded

Do I understand correctly that current recipes in conan-center won't work with experimental "msvc" compiler and need to be rewritten with new experimental helpers?

For example,
`conan.exe install . --remote conan-center --build missing --settings arch=x86_64 --settings build_type=RelWithDebInfo --settings compiler=msvc --settings compiler.version=19.26 --settings compiler.runtime=

[2021-04-01 12:18] sd185233 opened #8753 "[feature] CONAN_USER_HOME alternative to set custom cache location only"
For some CI builds with downstream jobs, we are using the branch name for the version and channel to indicate a snapshot, example main@us/snapshot.  We pass the -u param to create, but finding Conan will not always pull down the latest package if the same version is already in the cache.  For this reason we would like to set an env var to use a fresh cache.

We understand this can be achieved by s

[2021-04-01 12:28] KerstinKeller commented on #8744
We're really at loss here, and any help is highly appreciated.
All Conan installations have been update to latest 1.35.0.
It is not due to the specific `test_package`, after removing the `hdf5` test alltogether, it now fails when creating / testing the next package in queue.

The workflow which the CI is using:
[code]
Executing this on CI fails, but locally on my PC, tests are executed just fine.

[2021-04-01 12:47] uilianries commented on #8751
Hi @kazunarikudo

It's not a Conan bug, but a shell feature. You have to skip its interpretation.

For example, when running Bash:

[code]

As you can see, if I don't pass `\`, Bash will resolve `$` as subcommand. Thus, you have to add `\` in your password, or, use single quotes. I can confirm it because I also use that character.

[2021-04-01 13:02] kazunarikudo commented on #8751
@uilianries Ah, I see! Thank you for the explanation.

[2021-04-01 13:02] #8751 closed, assigned to nobody

[2021-04-01 14:52] danpetry commented on #8145
To illustrate, here's my changes so far: https://github.com/conan-io/conan/compare/develop...danpetry:feature/search-only-for-requested-components. This is based on the initial discussion in this thread, in particular the recommendation from @jgsogo.

The idea is to reduce the libraries searched for via conan_package_library_targets, rather than reduce the text output by making it `VERBOSE`. But t

[2021-04-01 16:12] mpnunez commented on #6004
Here's a use case where I'm very glad that conan_basic_setup() is not called automatically.

If using [pybind11](https://pybind11.readthedocs.io/en/stable/compiling.html#building-with-cmake), then in order to use conan to link external libraries to the binding code, conan_basic_setup(NO_OUTPUT_DIRS) should be used. Otherwise, the build so file will end up in a place that setuptools cannot find it.

[2021-04-01 16:41] fukanchik opened #8754 "[question] what changed in settings api between 1.33.1 and 1.34.0?"
I have extended settings.yml, added the following:

    foo: bar

then in my conanfile.py I have:

    class LibraryConan(ConanFile):
        settings = "os", "compiler", "build_type", "arch", "foo"
    ...
    def requirements(self):
        foo = self.settings.foo.value
       ... do something with foo
    def package_info(self):
        foo = self.settings.foo.value
       ... do something with

[2021-04-01 17:42] solvingj commented on #8745
Thank you for reporting your answer here for future reference!

[2021-04-01 17:52] uilianries commented on #8754
Hello @fukanchik !

Nothing. Between 1.33.1 and 1.34.0 there were no changes for settings.yml. You can take a look on [changelog](https://docs.conan.io/en/latest/changelog.html) for further information.

I believe you wanted to say

    foo: ["bar"]

Otherwise, is incorrect and Conan will raise the follow error:

    ERROR: Error in resulting settings for package 'foo': Invalid setting 'bar' is no

[2021-04-01 17:52] KerstinKeller opened #8755 "[question] Alternative to conandata.yml"
Our internal package repository is structured in a similar way to CCI. Thus we also place a `conandata.yml` file next to `conanfile.py` where we specify download urls and hashes for the sources of the package.

While this works great, it has one big drawback: when adding a new version of a library, the package gets a new revision (because the conandata.yml calculates into the package hash), and al

[2021-04-01 17:58] fukanchik commented on #8754
I'm sorry it's a mistake in the description. The actual value is

[code]
so it's `foo:[bar]` indeed. I am trying to get a minimal example.

[2021-04-01 19:08] memsharded commented on #8755
Hi @KerstinKeller

Yes, we had exactly the same situation in ConanCenter, and we solved it with a hook. It is a hook that basically trims the ``conandata.yml`` for the version that is being processed, and then new versions and changes are discarded and the revision for those previous versions is kept constant, unless of course a new patch is added to the version.

You can get the code here: https:

[2021-04-01 19:18] memsharded commented on #8753
Hi @sd185233

Not sure if I understand your request. The ``CONAN_USER_HOME`` is the location of the cache, with all the config files and the packages. If you want, the ``conan.conf`` located in the cache (pointed by that environment variable), can define ``[storage]`` properties to define where to store the packages in disk. This is controlled by the env-var ``CONAN_STORAGE_PATH``.

But I am not s

[2021-04-01 19:25] memsharded commented on #8735
Hi @Nekto89

It depends, for consuming existing binaries, it might be good enough, because there is a compatibility fallback mode, that when you request ``msvc`` binaries, it will fallback to ``Visual Studio`` built ones, which are the ones built from conan-center-index.

If your case, is as, it seems, to build them from sources, it is very likely that it will fail. The "old" build helpers are not

[2021-04-01 19:25] KerstinKeller commented on #8755
Hi @memsharded,
thanks for the feedback. Using hooks to achieve this sounds like a pretty neat idea.
Any way to roll out the hook to everybody, except manually via `conan config set` or globally via distributing a common `conan.conf`?
(We don't usually roll out conan.conf with the conan config install, because it contains the cache path which might be different for everybody)

[2021-04-01 19:26] memsharded commented on #8755
Yes, ``conan config install`` works incrementally for ``conan.conf``. So having the hook in the repo, plus a ``conan.conf`` that contains only the ``[hooks]`` section with your hook name to activate it, would apply it without touching the cache path that can be different for everybody.

[2021-04-01 19:40] sd185233 commented on #8753
Hi @memsharded

The following steps describe the issue we seen:
-Conan base recipe package created and uploaded, example conanbase/1.0.0.1@us/stable
-Conan base recipe package updated, but the version kept the same and new package created and uploaded.  A new revision should be created in the conan server (in our case jfrog)?
-Another package which has a dependency on conanbase is created with a c

[2021-04-01 20:26] fukanchik commented on #8754
Ok, this was because settings.yml generated by newer version of conan does not have newline in the end and I am just appending to it..

[2021-04-01 20:26] #8754 closed, assigned to nobody

[2021-04-01 22:50] memsharded commented on #8754
That is curious, I am not sure what is happening. In code, the settings.yml still has a newline in the end:

[code]
It is true that it lost a blank line, but the final newline seems to be there.
In any case if you managed to fix it, maybe not worth it, so just let us know if something else happens, thanks!

[2021-04-02 00:37] fukanchik commented on #8754
Yes, as you can see I am appending an extra line to the file, and in 1.34.0 it was becoming part of the comment:

        cppstd: [None, 98, gnu98, 11, gnu11, 14, gnu14, 17, gnu17, 20, gnu20]  # Deprecated, use compiler.cppstdtoolkit: ["metastable.20210331"]

the fix was as simple as adding a newline in the beginning of my heredoc command.

[2021-04-02 08:09] thorsten-klein opened #8756 "[bug] missing exports_sources after first installation of prebuilt packages"
If a conan package is installed on the first time and it is available as prebuilt package, then the exports_sources directory is not available. If in a next run another revision of the package needs to be built, then the build fails because of the missing exports_sources.

This is critical for CI jobs, since the conan behavior is depending on the fact, which package revision has been installed fir

[2021-04-02 08:37] thorsten-klein commented on #8756
There are 2 possible solutions IMHO:

1. Preferred solution: download export_sources always, even if a prebuilt revision is installed (since the exports_sources are closely related to the export (conanfile.py)

2.  Download export_sources if it is needed for installation of a new revision --> instead of throwing current error message, first try to download exports_sources. Only if the download fai

[2021-04-02 11:49] mpusz opened #8757 "[bug] Problems with configuration files generated with `CMakeDeps`"
It seems that configuration files generated with `CMakeDeps` do not raise an error when a package is not found.

Because of some unknown reason, Doxygen stopped working with Conan a few days ago:
https://github.com/mpusz/units/actions/workflows/documentation.yml

CMake file requires both Sphinx and Doxygen:
https://github.com/mpusz/units/blob/c4e9ff7f66c0ee34d8d91c0d6598f1befde2dd53/cmake/document

[2021-04-02 12:10] mpusz commented on #7908
Do we have any updates on this issue? Please note that the change above broke CLion and VS Code which natively work with MSVC compiler.

[2021-04-02 13:01] thegwydd commented on #7756
Well, the problem is better explained with this example:

I have LibA and in its cmakelists.txt there is:
set(HEADERS ...list of all project includes...)
target_precompile_headers(LibA PUBLIC $<$<COMPILE_LANGUAGE:CXX>:${CMAKE_CURRENT_SOURCE_DIR}/${HEADERS})

I have LibB and in its cmakelists.txt there is:
set(HEADERS ...list of all project includes...)
target_link_libraries(LibB LibA)
target_preco

[2021-04-02 13:58] solvingj commented on #8756
First, the easiest way to bypass this error is to pass the `--build=missing` flag to your build command.  So, specifically:

`conan install exports_sources_bug/1.0.0@demo/demo -s build_type=Debug --build=missing`

https://docs.conan.io/en/latest/reference/commands/consumer/install.html#build-options

Second, there seems to be one major point of confusion with how you've described the issue, so I w

[2021-04-02 15:35] thorsten-klein commented on #8756
Hello @solvingj , yes you are right. `--build=missing` of course solves my described situation.
And yes, just replace revision by package_id, I mixed them up.

Actually I wanted to reproduce another error message (which our CI sometimes runs into) :
[code]

When I tried to do this, I just saw that exports_sources are missing and I copied the error message without completely reading it.

I will ope

[2021-04-02 15:35] #8756 closed, assigned to solvingj

[2021-04-02 17:32] gouriano opened #8758 "[bug] Wrong library order when using Components"
Hello,

We at NCBI (https://www.ncbi.nlm.nih.gov) are experimenting with Conan trying to adapt our C++ Toolkit to it.
We have discovered what we believe is a bug in how Conan is ordering libraries described with the help of Components.

Here is the problem.
We have 58 libraries. We describe their dependencies and create Conan package. Then, we are trying to build an application which uses these li

[2021-04-03 07:32] PengolodhGoedath commented on #8753
`CONAN_STORAGE_PATH` does indeed sound interesting.

But if it's only about the `conan config install` cloning each time, this could also be mitigated by having a local (on the CI server) checkout of the config repository, and then point `conan config install --type dir` there for each downstream job. One checkout for all the builds!

(This was our solution to awkward credential handling with `con

[2021-04-03 07:38] sd185233 commented on #8753
We are using Azure Dev ops which I believe caches the source also, so this would possibly be handled already for us.. .there is still then the Conan user step to auth the user with jfrog, meaning a secret variable has to be added to every pipeline to pass the jfrog token.  At the moment when config or profiles change, a job is run on each agent to install the config and auth the user.

Will see ho

[2021-04-03 07:38] #8753 closed, assigned to memsharded

[2021-04-03 21:42] memsharded commented on #8753
Yes, ``--update`` should go to the server and see if there are updates available. If revisions are enabled then it should get the latest revision. It applies to ``python-requires`` too.

[2021-04-05 10:12] sd185233 opened #8759 "[question] What is the advocated way to run unit tests"
Our unit tests are being kicked off after building within the build method.  Tests can be disabled using a Conan option which is deleted from the package ID.

However, we came across the CONAN_RUN_TESTS env var.  From what I understand, this will disable running of the "test" method.  Is the test method designed for running basic tests against a package or is it designed also for running unit test

[2021-04-05 12:36] at185190 commented on #8759
Just do add to this we are not using cmake tests and execute test executables directly.
And from what I can understand CONAN_RUN_TESTS  is meant to act as a pass through value directly to cmake.test helper.

If we are not executing unit tests via CMake, are there any benefit of still using -e CONAN_RUN_TESTS which would require quite a bit of boiler plate to process as compared with options.

[2021-04-05 12:43] memsharded commented on #8741
https://github.com/conan-io/conan/pull/8746 has been merged and will be in 1.35.1, but please be aware this is a temporary workaround and will be reverted in future release.

This sounds also like problematic approach, and I would strongly encourage to have a look to ``python_requires`` and start adopting them. That will help with code reuse, and control of when it is necessary to rebuild as versi

[2021-04-05 12:43] #8741 closed, assigned to czoido

[2021-04-05 16:55] klimkin commented on #8179
@heili77 "build" profile builds for execution on the build machine. So if you are cross-building on x86 for arm, "build" profile will create x86 code. If GTest is in `build_requirements`, then it will be x86, while target library will be arm.

[2021-04-05 19:40] daravi commented on #1597
@hrkn I know this is an old issue. But for anyone finding this via search, you might also be able to set `hash_dir` to `false` in your `ccache` configuration.

[2021-04-05 21:12] burtonButt opened #8760 "scm attribute revision auto does not work with out of source recipes"
It seems essential for reproducibility that the code url and revision be associated and saved in the uploaded conan package. Seemingly, the driving concept behind the scm attribute url and revision "auto" feature is to capture the source code url and/or revision and associate that with the conan package via the scm attribute.

The scm attribute url and/or revision "auto" does not work when using o

[2021-04-05 21:37] memsharded opened #8762 "[feature] Implementation of cross-build triplets in new conan.tools.gnu AutotoolsToolchain"
- Triplets must be defined at toolchain time (``generate()``), and stored in a file or any mechanism that makes as easy as possible to be used by users. In the worst case, yes, copy&paste from file to avoid retyping.
- The ``Autootools()`` helper in the ``build()`` method will just use this from the result of ``generate()``
- Use exclusively the build/host contexts and profiles. No usage of any de

[2021-04-05 22:03] memsharded commented on #8713
Lets fix this, some inputs:
- Please do not introduce a new external dependency like isodate for just this.
- The validation of ``conan config set`` would be challenging, because different configs can have different validation, and the setting is completely agnostic of contents. Not worth the effort.
- Probably the mitigation is to invalidate the offending config, and remove it from the config fil

[2021-04-05 22:21] memsharded commented on #8711
Hi @johschmitz

This seems challenging, while it might be possible to have dependencies only at build time, to have them only at runtime and not at build time sounds very difficult. This is because the process for fetching dependencies for building is ``conan install``, Conan is mainly designed for development time, and this deploy-only functionality is not in the model.

Lets think about it anywa

[2021-04-05 22:28] memsharded commented on #8696
Lets implement something very straightforward to start with:

- No magic: direct explicit listing of tools and core configurations in a single, centralized place, with its documentation there, manually added by us.
- The command ``conan config list/get/whatever`` would just list it, in a nice group and order

Lets keep potential validation for later, lets add the definition and help (and list it a

[2021-04-06 00:17] solvingj commented on #8759
The variable `CONAN_RUN_TESTS` is meant to be used to control unit tests in the `build()` method.  In the docs, the example shows a recipe using `CMake()` helper, and demonstrates how the variable is implicitly leveraged by the helper for convenience.  In that case, there's no boilerplate conditional logic in the recipe.

However, for all cases which do not use a build helper with a `test()` metho

[2021-04-06 00:34] solvingj commented on #8760
Yes, this is exactly correct. It is an extremely strict and tight association.

The equivalent for out-of-source recipes is to use the `scm` IN-ADDITION-TO the `source` method with a hard-coded commit hash for the sources method. The hash can be hard-coded in a few places: 1. the recipe, 2. a text file like `conandata.yml` and then read from disk and used inside the `source()` method.  Both are fu

[2021-04-06 00:51] solvingj commented on #8758
This definitely sounds like a bug to me, thank you for reporting it.  I think your description demonstrates the problem clearly and simply, but for the record, it's possible there will be some un-intuitive nuance and significant complexity to the way in which it might have to be solved.

In the naïve and simple case, I suppose the simple description of the solution is to make the ordering of the l

[2021-04-06 01:13] vakatov commented on #8758
Great, thanks much @solvingj ! We have this big (500+ libraries and maybe 1,500 apps; with some code generated on the fly; and depending on dozens of 3rd-party libs) multi-platform biotech software toolkit that we are moving to use CMake and Conan. It can really try the boundaries of various tools. Canon looks very promising, and the "components" feature in particular seems to be just what the doc

[2021-04-06 07:38] johschmitz commented on #8711
The idea is to use the standard virtualenv and virtualrunenv generators during deploy time and download the requirements at that time. During build and test time one can replace that particular requirement with a stripped down minimalistic version that is sufficient to run the test suite or use some kind of mocking or other test concepts.

Of course one can build ugly workarounds on top of Conan w

[2021-04-06 07:49] SamuelMarks opened #8763 "[bug] <imgui> missing dependency from conan repo of <allegro5>"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1 (20C69)
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
  * Conan version: 1.35.0
  * Python version: 3.9.2

Searched with `conan search --remote='conan-center' 'allegro*'`… so I guess it could be in another remote?

### Steps to reproduce (Include if Applicable)
#### `conanf

[2021-04-06 08:00] memsharded commented on #8703
Closed by https://github.com/conan-io/conan/pull/8740 ,will be in 1.35.1

[2021-04-06 08:38] seanmlyons22 commented on #5759
@danimtb, sorry to come in after this issue was closed, but I believe it is still relevant. Should we reopen?

[2021-04-06 08:51] czoido commented on #8763
Hi @SamuelMarks,
This is not a bug, what is happening is that you don't have allegro requirement in your _conanfile_. To this date there's no recipe for the allegro library in conan center (besides the command line search with conan you can search available libraries in [conan.io/center](https://conan.io/center/)).
We have a list of some libraries that would be nice to add to Conan here: https://g

[2021-04-06 08:52] SamuelMarks commented on #8763
Yeah I was afraid that's the case

Will see what I can do in the future RE contributing it

[2021-04-06 09:05] czoido commented on #8763
That would be great, if you want to contribute you can request access to the EAP here: https://github.com/conan-io/conan-center-index/issues/4 and also note that you can also open an issue in conan-center-index to request for the library: https://github.com/conan-io/conan-center-index/issues/new/choose

[2021-04-06 09:41] memsharded commented on #5759
Hi @seanmlyons22

If you think this issue is still relevant, could you please provide further details? Do you have some example or specific comment about this? Please tell and we will check if re-opening makes sense, thanks!

[2021-04-06 09:50] memsharded commented on #8711
This is the kind of details that I am interested in, to correctly understand and being able to consider this. Because it doesn't seem it is a fully isolated and independent new type of requirements, but it has some relations with the typical ``requires`` at build time. One of the questions that needs to be addressed, for example, is the binary model. How the ``run_requires`` would affect the consu

[2021-04-06 10:22] walterschneider opened #8764 "resolving requirements/package-id's accross major-version numbers"
We have follwing pakages/dependencies:

**my_pkgbase**
[code]

**my_pkgtools**
[code]

**my_pkgapp**
[code]

build
* my_pkgbase/2.0.0
* my_pkgtools/1.0.0

my_pkgtools gets the requirement to my_pkgbase/2.Y.Z:
[code]

The dependencies for my_pkgapp are resolved (using conan install) fine.

If now a new major-release of my_pkgbase is released, my_pkgapp can not be resolved because  my_pkgtools reque

[2021-04-06 11:30] #8596 closed, assigned to memsharded

[2021-04-06 13:46] johschmitz commented on #8711
Usually the problem is either with repackaging existing legacy/third party/commercial/helper/build system/analysis tools or with tools that require huge asset BLOBs like 3D game engines. The moment you add these kind of tooling to your Conan ecosystem you run into such optimization issues.
Then there is such tools that you want to use during build time and others that you want to use during run ti

[2021-04-06 19:00] KerstinKeller commented on #8755
Works like a charm! Thanks again.

[2021-04-06 19:00] #8755 closed, assigned to memsharded

[2021-04-06 20:50] memsharded commented on #8755
Happy to know it, and glad to help!

[2021-04-06 21:30] redradist opened #8772 "[Error] clang-cl 12 is not supported !!"
I got such error:
[code]

Maybe it is not needed to add new version to array each time ?
Maybe we just need some version like '*' ? I think it is better to discuss in conan, but I also mentioned here

[2021-04-07 07:14] nikita240 opened #8770 "[bug] python_requires breaks module self-identity"
When using `python_requires` to obtain a module reference, conan prepends an id to the underlying module name. This breaks the fundamental operation `sys.modules[__name__]` that allows a module to self-identify and pass along a reference to itself.

Given a conan recipe that exports a python tool such as:

[code]
[code]

And a test package recipe:

[code]

Running `conan create .` will always resu

[2021-04-07 07:26] memsharded commented on #8770
Hi @Nikita240

I don't think this is a bug, but necessary behavior. As there can be multiple Conan recipes with the same ``conanfile.py`` and multiple other files like ``sometool.py``, in different cache folders, with completely different implementations, and without a meaningful, unique module identifier, it is necessary to address them with something unique, otherwise they conflict with each oth

[2021-04-07 07:38] #8678 closed, assigned to nobody

[2021-04-07 07:53] nikita240 commented on #8770
That all makes sense.

I've been pounding my head against the wall trying to find any way to obtain a self-reference without using `__name__`, but no luck so far.

I do feel that this can break some workflows though so I think some, at least "mildly-hacky", workaround should be invented. I'll try to come up with something.

[2021-04-07 07:58] czoido commented on #8772
Hi @redradist,
clang 12 is not in the _settings.yml_ distributed with Conan because it has [not been officially released yet](https://releases.llvm.org/), but you can customize your _settings.yml_ and add that version if you need to use that. Please check the [documentation on how to customize settings](https://docs.conan.io/en/latest/extending/custom_settings.html#custom-settings).
Please tell me

[2021-04-07 08:45] at185190 commented on #8411
So something that's related, a global variable that's set during set_version method is not set/available within build() method during conan create step, but works perfectly if you do install build package export-pkg.

Why would that be?

[2021-04-07 08:51] czoido commented on #8763
I'm closing the issue as it seems solved. Please feel free to reopen or open another issue if you have further questions.

[2021-04-07 08:51] #8763 closed, assigned to nobody

[2021-04-07 08:55] memsharded commented on #8770
It would be good to know what problem you are trying to solve. Because the typical functionality you can put in ``sometool.py`` works, it can be used in consumers, etc. Why are you trying to obtain a self reference in such module?

[2021-04-07 14:11] danpetry commented on #8145
I had a look at trying to do this with some if statements around the prints (see https://github.com/conan-io/conan/compare/develop...danpetry:feature/log-only-requested-components), but the logic was complex because of the contents of the variables at certain times and it was looking pretty hacky. Seems like the cleanest way to go would be contributions from @klimkin, and also as pointed out, a fu

[2021-04-07 14:40] Minimonium commented on #8002
I have a PR open for quite a long time with a comprehensive implementation. While it provides a lot of different things - you can salvage a smaller scope tool.

https://github.com/conan-io/conan/pull/6713

[2021-04-07 14:41] at185190 opened #8771 "[question] Why does deleting option from package Id, does not stop option appearing in dependency option list"
If you delete an option from package ID to stop option from affecting package id, it should also remove that option appearing as an option that influences package ID when the package is being pulled in as a dependency.

    def package_id(self):
        del self.info.options.clean
        .....

ourlib/1.0.1@some/where: WARN: Can't find a 'ourlib/1.0.1@some/where' package for the specified setting

[2021-04-07 14:48] burtonButt commented on #8760
Thanks for the feedback and confirmation regarding scm auto and the importance of capturing the complete set of source hashes to ensure reproducibility.  Build integrity and package reproducibility is crucial.  Hopefully it is being architected into Conan 2.0 (regardless of in source or out of source recipe structure, package revisioning enabled/disabled, etc.).

To solve my immediate need to capt

[2021-04-07 15:14] nikita240 commented on #8770
Here is the particular problem I am faced with. I am integrating `sometool.py` that has config files in each directory that look like the following:

[code]
`sometool.py` itself stores all of it's state in globals, sort of like a module-singleton pattern. It finds this `config.py`, executes it and invokes the `setup()` method by passing in a reference to itself for `setup.py()` to modify.

[code]

[2021-04-07 15:31] Minimonium commented on #8002
Also related to https://github.com/conan-io/conan-center-index/issues/54

[2021-04-07 16:04] redradist commented on #8772
@czoido

Yeah, I know ... but does it make sense always ignore not released versions ?
Maybe better to add clang 12 to unstable versions ?

I mean the following to create in `settings.yml` unstable versions and allow to use such compiler with flag `--unstable` ?

[2021-04-07 18:05] solvingj commented on #8760
Quite likely not. In fact, my guess is the contrary. Conan will likely/hopefully focus more on providing more flexible building blocks to let users and teams engineer their own guarantees around their own processes. Many of the features Conan has created in the past which try to provide strict guarantees are too inflexible to satisfy real-world scenarios, so users end up hacking them to do clever

[2021-04-07 19:27] burtonButt commented on #8760
As usual you are right on point.

The solution that I came up with is a one off solution that feeds an external custom script outside of conan that grabs the revision information.  Our environment does not currently rely on having conan rebuild using the scm specification encoded in the conandata.yml file.

So everything will be fine... until it is not!

Thanks for the great input on this topic.

[2021-04-07 19:27] #8760 closed, assigned to solvingj

[2021-04-07 20:08] nikita240 commented on #8770
Here is the workaround I came up with. It requires modifying `sometool.py` but it works quite nicely.

The idea is to encapsulate the entire global state of `sometool.py` into a class by binding `globals()` to the internal data structure of said class.

[code]

[2021-04-08 07:33] memsharded commented on #8770
Hi @Nikita240

Thanks for the detailed explanation. While I more or less understand what is happening and what is being implemented, I still miss the ultimate goal of this:
- Is it the purpose to have a global, common state for all packages that use this ``python-requires``? Kind of a way to skip the each ``python_require`` is "private" to its consumer?
- What happens with different versions of ``

[2021-04-08 07:46] #8713 closed, assigned to uilianries

[2021-04-08 07:55] czoido commented on #8772
I'm transferring this issue to Conan repo as this is not directly related with cmake-conan but with Conan tool itself.

[2021-04-08 07:57] czoido commented on #8772
This is a duplicate of https://github.com/conan-io/conan/issues/8139 and https://github.com/conan-io/conan/issues/8033
Closing this one, please continue the discussion in https://github.com/conan-io/conan/issues/8033

[2021-04-08 07:57] #8772 closed, assigned to nobody

[2021-04-08 14:43] georghirn opened #8774 "[feature] architectures for embedded development"
Hi,

in my company we use conan for embedded development. For this we need certain architectures to be defined in the `settings.yml` file. Until now, we added them our self, but it would be nice if conan could support them by default. Therefore I would like to suggest to add the following architectures to the default values of the `settings.yml` file:
* `armv6s-m`
* `armv7-m`
* `armv7e-m`
* `armv8

[2021-04-08 16:48] aleksa2808 opened #8775 "[feature] install/strip option for cmake.install()"
Hi,
for some projects I need to install binaries without symbols present when building in release mode and the usual way to do this would be to build the `install/strip` target. Since these projects were using CMake I was using conan's CMake build helper and my package method just called `cmake.install()`, but, since only `cmake.build()` can define a target to build, I needed to modify this so tha

[2021-04-08 17:12] danimtb commented on #8771
Hi @at185190,

Not sure if completely understand your case. My reasoning is the following:

1. You have a recipe for the reference `ourlib/1.0.1@some/where`, where its option `clean` is removed in package_id().
2. You consume that dependency `ourlib/1.0.1@some/where` with a profile that includes the option set `clean=True`.
3. You got an error from Conan saying that the requested package does not

[2021-04-08 17:32] at185190 commented on #8771
No that's completely wrong.
If you look in my initial post.

ourlib was created with clean option removed from affecting package id. The option itself is still there as it does not affect final deliverable and its documented to do so in conan.
But when ourlib is being consumed by another package it still shows the options that were removed from package ID.
The error it self was not caused because

[2021-04-08 22:21] johschmitz commented on #8711
I was thinking that the existing API could also just be extended by specifying an additional option for a requirement that declares it is not needed during build time. And the other thing being to allow build_requirements as well as requirements to both be allowed to be overwritten if the user wants to force it. That could be a way to solve most of the problems with the Conan 1 API.

[2021-04-09 04:11] michkrom opened #8776 "Best way to vary build when consumed vs build locally?"
What is the best way to vary (hence detect) the build between when buildubg locally during package development vs when package is build when consumer is installing into local cache?

I suppose an explicit option could be used which would be set during development but unset during normal install build?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/

[2021-04-09 08:17] danimtb commented on #8771
ok, now I understand better the problem. Yes, that could be improved but it will not be straightforward as the package_id computation also depends on how the package id mode is set and that could lead to different behaviors. I'd note this down to see what can be done in order to improve this message. Thank you

[2021-04-09 10:02] czoido commented on #8776
Hi @michkrom,
You can use [in_local_cache](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=in_local_cache#in-local-cache) attribute in the conanfile.
Also, if you are using CMake there's a variable [CONAN_IN_LOCAL_CACHE](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html?highlight=conan_in_local_cache#definitions) defined.
Hope this helps.

[2021-04-09 13:27] 0x8000-0000 commented on #3821
Ping? We have encountered mysterious errors on one system which did not occur on others. The cache is marked read-only everywhere, but still some files were missing.

A simple tool that could be triggered to check a package or check all would be helpful here.

[2021-04-09 14:11] czoido commented on #8775
Hi @aleksa2808,
We are now focusing in adding new features just to the tools that will be the default for Conan 2.0 and not adding features for the current tools.
`cmake --install` requires CMake 3.15 as the minimum version that will be the minimum version for Conan 2.0. This feature could be a good addition for the [new toolchains](https://docs.conan.io/en/1.35/reference/conanfile/tools/cmake.htm

[2021-04-09 15:35] czoido commented on #8774
Hi @georghirn,
Thanks a lot for the suggestion.
We try provide in the default `settings.yml` a set of settings that are most commonly used by our users and adding new architectures can be challenging as we always try take into account those settings in the build helpers and transform them into the proper flags to the corresponding build system. To add those settings we should investigate them and

[2021-04-09 15:55] Nekto89 commented on #8735
Where can I find example with some real library? I've tried converting one of recipes but it still doesn't want to use proper toolset. I've looked at https://github.com/conan-io/conan/blob/23ce09ad30e18872fb4caa39fd011cc1d5437cd4/conan/tools/cmake/toolchain.py#L15 and I don't see where it should convert 19.26 to CMAKE_GENERATOR_TOOLSET.

[code]
Visual Studio 16 2019
x64
None

[2021-04-09 16:29] #8020 closed, assigned to nobody

[2021-04-09 17:00] memsharded commented on #8735
Hi @Nekto89

If you mean to use an older compiler version from a modern VS version, then probably the changes introduced in Conan 1.35 (https://blog.conan.io/2021/04/09/New-conan-release-1-35.html) could help:

- Each ``msvc`` compiler version is by default using their canonical "VS" version (the one they were released first with).
- It is now possible to configure with:
[code]
The VS version that

[2021-04-09 17:10] michkrom commented on #8776
Awesome, thank you!

[2021-04-09 17:10] #8776 closed, assigned to nobody

[2021-04-09 17:21] jgallucci32 commented on #6651
I have the same issue. I replaced the contents of `~/.conan/cacert.pem` with the same contents of the custom cert bundled used for the `REQUESTS_CA_BUNDLE` env var required for pip to install conan with a custom certificate in the first place (confirming CA BUNDLE is valid). I also tried using not only a cert bundle with updated roots, but also the server cert with the chain in the exact order (fo

[2021-04-09 20:25] drmacdon opened #8780 "[bug] Private requirements missing in conanbuildinfo.cmake when using profile:host and profile:build"
When using private requirements the generated `conanbuildinfo.cmake` fails to include the requirement target information when installing using both  `profile:build` and `profile:host`.

My example below is using the same default profile for both contexts, which may seem silly, but I encounter the same problem when trying a proper cross compile and it is less involved to demonstrate the problem.

I

[2021-04-09 23:27] nikita240 commented on #8770
This approach still isolates the state to different versions of the `python_requires` package. Because `python_requires` will append an id to the imported module name, each import with a different id will re-import that module and hence create another global state object.

You bring up a very good point that I failed to consider. I need to test how this will behave when the same version of this `p

[2021-04-10 09:16] SamuelMarks opened #8781 "[question] Are there any cross-platform GUI frameworks here which work out-of-the-box?"
I've recently been trying to get an open-source cross-platform GUI library—in C or C++—working with an open-source cross-platform C/C++ package manager.

Experience with [`vcpkg`](https://github.com/microsoft/vcpkg):

  - [nanogui](https://github.com/mitsuba-renderer/nanogui) @ https://github.com/microsoft/vcpkg/issues/17052
  - [fltk](https://github.com/fltk/fltk) @ https://github.com/microsoft/v

[2021-04-10 09:25] SamuelMarks opened #8782 "[bug] wxWidgets support for macOS? - ERROR: Missing prebuilt package for 'wxwidgets/3.1.4@bincrafters/stable'"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1 (20C69)
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
Target: x86_64-apple-darwin20.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
  * Conan version: 1.35.0
  * Python version: 3.9.4

### Steps to

[2021-04-10 09:36] SamuelMarks opened #8783 "[bug] ERROR: Missing binary: libui/0.4.1@bincrafters/stable"
Posting here rather than on the separate project @solvingj contributed to over at https://github.com/bincrafters/conan-libui as there is no issue posting enabled there.

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1 (20C69)
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
Target: x86_64-apple-darwin20.2.0
Thread model: po

[2021-04-10 09:45] SamuelMarks commented on #8763
Same error with [nuklear](https://github.com/Immediate-Mode-UI/Nuklear) with https://conan.io/center/nuklear:

### `CMakeLists.txt`
[code]

### `sh`
[code]

[2021-04-10 09:57] SamuelMarks opened #8784 "[bug] tgui fails to install because of colon in name ('tgui:texus')"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1 (20C69)
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
Target: x86_64-apple-darwin20.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
  * Conan version: 1.35.0
  * Python version: 3.9.4

### Steps to

[2021-04-10 14:15] ericLemanissier commented on #7661
Meson has a semi-portable (across build systems) way to retrieve variable from dependencies: https://mesonbuild.com/Release-notes-for-0-51-0.html#dependency-objects-now-have-a-get_variable-method and https://mesonbuild.com/Dependencies.html#arbitrary-variables-from-dependencies-that-can-be-found-multiple-ways
`dep.get_variable(pkgconfig : 'var-name', cmake : 'COP_VAR_NAME', default_value : 'NO'))`

[2021-04-10 18:16] OznOg commented on #5664
I have similar issue, and using the relative RPATH mentionned in https://github.com/conan-io/conan/issues/1303 allowed to have binaries to find their library on any .conan tree. The same concern exists for configuration file and/or resources (things in /etc and /usr/share etc...) that needs to be accessed with relative path. This makes configurations hard to access from another conan package. For

[2021-04-10 22:01] solvingj commented on #8783
Hey there, can you please open this issue over here:
https://github.com/bincrafters/community/issues

[2021-04-10 22:54] SamuelMarks commented on #8783
Thanks @solvingj added to https://github.com/bincrafters/community/issues/1378

[2021-04-10 23:09] #8783 closed, assigned to nobody

[2021-04-11 12:34] SamuelMarks opened #8785 "[bug] gtk fails to install because ERROR: gdk-pixbuf/2.42.2: Invalid configuration: This package does not support Macos currently"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1 (20C69)
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.29)
Target: x86_64-apple-darwin20.2.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
  * Conan version: 1.35.0
  * Python version: 3.9.4

### Steps to

[2021-04-11 21:52] memsharded commented on #8770
Yes, please be aware that every python_requires obtains a unique-id, per package reference, that is, if there are these packages, they will get different unique ids:
- sometool/0.1 => `id1.conanfile.py`, `id1.sometool.py`
- sometool/0.2 => `id2.conanfile.py`, `id2.sometool.py`
- othertool/0.1 => `id3.conanfile.py`, `id3.sometool.py`

but if multiple packages do have a ``python_requires`` to the sa

[2021-04-11 21:55] memsharded commented on #8785
Hi @SamuelMarks

Why is this a Conan issue, and not a ConanCenter issue? I think this should be moved to https://github.com/conan-io/conan-center-index repo. This repo is intended for Conan client issues, if it is a package issue, lets move it to the other repo.

[2021-04-11 21:56] SamuelMarks commented on #8785
Ok is it moveable or should I close and repost?

[2021-04-11 21:58] memsharded commented on #8784
BASIC_SETUP)
conan_cmake_run(REQUIRES tgui/0.7.3  # this line I'm messing with, see log output
                BASIC_SETUP)

You need to install requirements in one single call, because transitive dependencies could collide against each other, and only resolving them in the same step knows this. If you do it step by step, it will probably fail in the compile or link steps with way more obscure err

[2021-04-11 22:03] memsharded commented on #8782
The bincrafters recipe is not under our control, so there is nothing we can do regarding it.
The wxwidget is already listed in https://github.com/conan-io/conan-center-index/issues/621, so it will be added eventually. In any case, this is not a Conan issue, but a ConanCenter one, so moving the issue there.

[2021-04-11 22:12] memsharded commented on #8764
Hi @walterschneider

Conan dependency resolution is not fully SAT solving the possible version ranges, because that would basically be an intractable problem in practice. So the algorithm is greedy, and it always gives priority to the user-consumer package. In this case:

[code]
Is defining exactly what versions to use upstream. Those values will propagate upstream overriding existing definitions.

[2021-04-11 22:15] memsharded commented on #8752
Hi @foundry-markf

Yes, as far as I can tell, removing a revision directly from the Artifactory UI should have the same effect as removing it with the Conan client with ``conan remove .... -r=myremote``. The revision should be removed from the Artifactory server, and consumers will no longer get that one revisions, but the previous one.

Have you managed to try that? Any problem that you experienc

[2021-04-11 22:23] memsharded commented on #8748
Hi @aleksa2808

This seems very unlikely, actually impossible as far as I know.
The problem is that Conan runs as a python subprocess. Everything that runs under a subprocess cannot change the environment of the parent process. This is exactly the same reason why Conan itself cannot activate an environment, only generate the file, but it is the user that needs to call the generated file. The best

[2021-04-11 22:37] memsharded commented on #8712
I am not sure what is failing in your case. I have done this test, and it seems to work here:

conanfile.txt

[code]

Subsequents ``conan install conanfile.txt`` also work (and faster, it founds in cache).

Could you please try the above steps? Not sure what could be failing in your case, but this should work.
Maybe you have some front like nginx in front of your server, with something that could

[2021-04-11 22:43] memsharded commented on #8714
Hi @aleksa2808

Yes, the main reason is to handle path with spaces. If quoting the whole list of paths is enough, this might be changed.

In any case, it would be worth having a look to the new efforts in this direction: https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualenv.html. This aims to replace all the current environments in the future, and handle better cross-build scena

[2021-04-11 22:53] memsharded commented on #8710
Hi @faulty-me

The way Conan passes information to build system is with generators (``cmake``, ``cmake_find_package``, etc). You need to define at least one of them. The ``CONAN_CXX_FLAGS`` is not an env-var that you can define to set the compile variables. Please read carefully the documents in https://docs.conan.io/en/latest/reference/generators/cmake.html. It is a CMake variable, not an env-var

[2021-04-11 22:54] memsharded commented on #1357
Obsolete, with lockfiles, bundles, etc, there are new solutions to CI.

[2021-04-11 22:54] #1357 closed

[2021-04-11 22:58] memsharded commented on #3730
Bintray is to be closed.

There is a status page for ConanCenter in https://status.conan.io/, but this still requires some automation. Lets move this issue to conan-center-index repo.

[2021-04-11 23:01] memsharded commented on #2857
The new ``conan.tools.microsoft`` toolchain has improved and addressed this issue. Please check: https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html

- It is multi-config
- It allows custom configurations (https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#custom-configurations)
- It generates a .props file per dependency, allowing fine grain configuratio

[2021-04-11 23:01] #2857 closed

[2021-04-11 23:03] memsharded commented on #2687
Already deprecated. Conan 2.0 will require 3.6 minimum

[2021-04-11 23:03] #2687 closed

[2021-04-11 23:09] memsharded commented on #4487
This was removed some time ago, done.

[2021-04-11 23:09] #4487 closed

[2021-04-11 23:14] memsharded commented on #5775
Conan current output is already:

[code]

So this seems solved.

[2021-04-11 23:14] #5775 closed

[2021-04-11 23:19] memsharded commented on #7484
In https://github.com/conan-io/conan/pull/8749, merged and ready for Conan 1.36, the integration will define the path of the NDK and the CMake toolchain from it will be automatically used. Variables like ANDROID_ABI will be defined by the ``conan_toolchain.cmake`` that defines these variables, then includes the Android NDK Cmake toolchain. The ``CMakeToolchain`` Android block will have the configu

[2021-04-11 23:19] #7484 closed, assigned to nobody

[2021-04-11 23:21] memsharded commented on #2465
The html search table has been completely re-implemented, this no longer applies.

[2021-04-11 23:21] #2465 closed

[2021-04-12 04:34] dyle71 commented on #8712
Thank you James.

Now, these steps work flawless on my setup too. But I wrote that already. That's not the point. I'm already some steps beyond that.

I may have pointed out more clearly the fact, that I'm downloaded from a _specific remote_ (to be concrete: it's the conan repo service at GitLab). This is not the conan-center.

In short, this is the problem:

* `package/1.1.0@foo/bar` resides on a

[2021-04-12 07:42] memsharded commented on #8712
Yes, this is the most relevant point, and it was missing in the previous comment, this is why I was trying to figure out what could be, and the above proposed steps always help to start investigating and ruling out possible causes.

In this case, I'd say yes, the most likely cause is a server side issue on the Gitlab repo. Please keep us posted about your investigation, thanks!

[2021-04-12 08:38] snailcatcher opened #8788 "[bug] conan.bintray.com has invalid/no certificate and fails in redirection loop"
### Steps to reproduce (Include if Applicable)
Since this morning (12.04.2021) I can't connect to https://conan.bintray.com/ successfully.
One problem is that it seems there is no valid server certificate on the server side.
After disabling *verify_ssl* in the remotes there will be an exception because of too many redirects:
[code]
Same error can be reproduced by open the URL via the webbrowser of

[2021-04-12 08:40] snailcatcher commented on #8723
Is there any update by now?

[2021-04-12 08:43] Zuwei-Zhao commented on #8788
Hi, I also encountered the same error today:
ERROR: Failed requirement 'boost/1.75.0' from 'conanfile.py'
ERROR: **HTTPSConnectionPool**(host='conan.bintray.com', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', '**certificate verify failed**')])")))

**Unable to connect to conan-center=https:/

[2021-04-12 08:49] FnGyula commented on #8752
Hi @memsharded

There is something that bothers me about this: in the root of the project there is an index.json that references revisions (listing them, and such, I guess it gets the latest one at index 0). So, my guess is that removing the latest revision might break something...

[2021-04-12 08:50] haroal commented on #8788
Hi,
Same error. I found this : https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[code]

It seems that Bintray repo is going deprecated.

[2021-04-12 09:05] memsharded commented on #8788
Please read our recent blog too: https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

It was also announced in our blog some time ago: https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html, and shared in social channels and mailing lists.

[2021-04-12 09:07] snailcatcher commented on #8788
@haroal & @memsharded
You both were right:
Here is the official Schedule from bintray:
https://status.bintray.com/incidents/4mzph0y8l6hk

[2021-04-12 09:10] memsharded commented on #8788
The certificates issue is mostly a DNS propagation delay thing. It should probably resume working as soon as DNS propagates.

[2021-04-12 09:12] snailcatcher commented on #8788
Ok, thanks for clarifying, I will try again later or tomorrow.

[2021-04-12 09:13] bldrvnlw commented on #8788
Isn't there still an issue that the conans/client/cache/remote_registry.py still references conan.bintray.com so a fresh install of conan (1.35) adds conan-center https://conan.bintray.com by default?

[2021-04-12 09:42] voidbar commented on #8788
Hey @memsharded, there is a problem with the way this deprecation is being handled, here are a few key points:

- The [remotes](https://docs.conan.io/en/1.35/uploading_packages/remotes.html) docs page, and the ["bintray is sunsetting"](https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html) page doesn't specify how to update to the correct configuration and host.
- A fresh install of conan

[2021-04-12 09:43] Zuwei-Zhao commented on #8788
Hi, so after the deprecation of bintray, what remote server should we use?

[2021-04-12 09:55] jgsogo commented on #8788
URL `https://conan.bintray.com` will keep working as usual. Besides these DNS-related issues and some maintenance windows during April, everything will be working the same. Default conan-center repository is still `https://conan.bintray.com`.

[2021-04-12 09:57] matheusgomes28 commented on #8788
So just to be clear: After the DNS changes take effect, we should still use `https://conan.bintray.com` as the default remote? From what I understand in the JFrog & Conan blog posts, the bintray remote is getting deprecated. So what's the default remote we should be using ???

[2021-04-12 09:58] rodolfoap commented on #8788
Again, bintray is not working. And I find no alternative to conan-center (using https://conan.io). You can check the problem using this gist:

https://gist.github.com/rodolfoap/b0ac9fb02e6d5c8c04bd1612ebd9d207

There, I'm just trying to conan-install catch2 (which can be found using the web site: https://conan.io/center/catch2), but it does not work, even changing the conan-center URL.

How to fix

[2021-04-12 10:02] aegis-dev commented on #8788
What about https://conan.io/center/ ? Is it the main package repository now? Or is it only used for package indexing? If it's the main repository for packages now, shouldn't it be added to conan remote list with conan installation?

[2021-04-12 10:02] jgsogo commented on #8788
➡️  URL `https://conan.bintray.com` will be redirected to a better repository infrastructure. No action will be needed.

[2021-04-12 10:10] rodolfoap commented on #8788
https://conan.io/center/ is not a repository address. It gives an "ERROR: <!doctype html>..." using the mentioned Gist https://gist.github.com/rodolfoap/b0ac9fb02e6d5c8c04bd1612ebd9d207

[2021-04-12 10:39] aegis-dev commented on #8788
so the question is where is the main repository right now? I am wondering if I have to update dependency package list.
For instance, 'boost/1.71.0@conan/stable'. I found boost package indexed https://conan.io/center/boost?version=1.71.0. Where this package stored? Will I have to update it's reference to just `boost/1.71.0`?

I am asking questions because whole infrastructure halted and I apparentl

[2021-04-12 10:44] voidbar commented on #8788
@aegis-dev

If I understand correctly, there is no alternative. We just have to sit tight and wait for a fix for conan.bintray.com...
There are internal changes that the jfrog guys are working on on this server.

[2021-04-12 11:06] briandoodyie commented on #8788
`conan remote update conan-center https://api.bintray.com/conan/conan/conan-center` worked for me.

So after may 1st we still will be able to use remote repository? or is there something i'm missing?

[2021-04-12 11:30] dovydas-girdvainis commented on #8788
should be back soon, see [bintray status](https://status.bintray.com/)

[2021-04-12 11:51] rodolfoap commented on #8788
Confirmation, it works. Thanks, @saukijan.

[2021-04-12 12:04] danimtb commented on #8788
Please, do not make this change as the bintray repository will be sunset shortly and stop working. We are handling the redirection/certificate issue on https://conan.bintray.com as this will continue to work after Bintray is gone.

So, again, switching to https://api.bintray.com/conan/conan/conan-center is **not recommended** as it will just delay the issue. Please be patient as https://conan.bint

[2021-04-12 12:20] blackliner commented on #8788
Hi, our private, JFROG hosted Artifactory repo is somehow also affected:
[code]

[2021-04-12 12:29] Nekto89 commented on #8735
It looks like a feature that I need but it doesn't work for some reason (using conan 1.35.0)

conanfile.py based on documentation

[code]

CMakeLists.txt
[code]

command
`conan create . test_package/0.1@ --settings arch=x86_64 --settings build_type=RelWithDebInfo --settings compiler=msvc --settings compiler.version=19.26 --settings compiler.runtime=dynamic --settings compiler.runtime_type=Release

[2021-04-12 13:32] memsharded commented on #8744
Hi @KerstinKeller

Sorry for the delay in responding. I am having a look. So far it seems challenging, which was kind of expected if you couldn't reproduce it locally and only in CI, should be a weird bug.

Maybe if you could apply this patch in the CI Conan app, and run it, it will show more information:
[code]

Is this possible, can you run this in CI?

[2021-04-12 14:45] KerstinKeller commented on #8744
Hi @memsharded,
please see the attached trace:
[code]
Is there any other information that I can provide?

[2021-04-12 14:53] vhavel commented on #8788
Please, are there any updates? https://status.bintray.com/ still says only the scheduled brown-out is taking place, no mention of conan-center being also down.

Sorry to ask for that in github issue, I'm not sure what would be more appropriate channel to contact bintray/conan-center maintainers.

[2021-04-12 15:39] 3d4m-volodymyr commented on #8403
I think it is a pretty wide problem and going to be even bigger soon with Apple's transition to Apple Silicon on macOS.

@kdonev thanks for sample :)

[2021-04-12 16:12] dburov190 commented on #8788
What a mess. Anyway, it seems working now.

[2021-04-12 16:46] ghost commented on #8788
I'm going to wait until the 2pm PDT window closes. Some packages are available, but specific versions of other packages are not, so, at least in my own case, not everything is 100% "up" yet.

[2021-04-12 16:57] memsharded commented on #8744
This is good info, many thanks. I am following the trace back and trying to understand what could be failing. It is clear that build-requires in the test-package play an important role, I am trying to write a test.

[2021-04-12 17:56] memsharded commented on #8744
I am trying a few things, but so far unable to reproduce it locally. Adding these to extra lines to the output might help:

[code]

I keep investigating.

[2021-04-12 18:12] memsharded commented on #8744
Also capturing and sharing the lockfile used in the ``conan create`` and that is producing the error will help. If it is private information, you can email it to info@conan.io

[2021-04-12 19:15] jleni commented on #8788
Any updates?  https://conan.bintray.com seems to be redirecting to (itself?)  https://conan.bintray.com

[2021-04-12 19:25] whyman commented on #8788
![](https://media1.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif)

[2021-04-12 19:27] blackliner commented on #8788
Is this "scheduled brown out" on purpose, just to prove a point? Everyone using conan-center through `https://conan.bintray.com` will not be affected by the May 1st change, but they have to suffer? I don't get it...

[2021-04-12 19:28] dburov190 commented on #8788
Yeah, stopped working for me again.
God damn it, man, you had to do it on Monday, didn't you?

[2021-04-12 19:43] JeremyBorys opened #8789 "[question] What is the correct url for conan-center now that bintray is deprecated"
Reading https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

We are setting up our internal conan repository but we have a mirror set to point to conan.bintray.com so that we can take advantage of a central repository for binaries.

According to the May 1st deadline, I am supposed to migrate to some other service other than conan.bintray.com but at according to the [docs](https://docs.co

[2021-04-12 19:53] JeremyBorys commented on #8789
I actually just saw https://github.com/conan-io/conan/issues/8788. I didn't think this was the same issue but reading the issue it is very clearly the same thing

[2021-04-12 19:53] #8789 closed, assigned to nobody

[2021-04-12 19:55] KerstinKeller commented on #8744
These are the additional outputs:
[code]

I guess that must be the a build-requires of the test package.

[2021-04-12 19:56] solvingj opened #8790 "[feature] Add more timing metrics to output with CONAN_TRACE_FILE"
The following log message prints to stdout during when `CONAN_TRACE_FILE`.

`Version ranges solved`

It would be great if this included elapsed time for the resolution process. Furthermore, any additional "elapsed time" information which could be calculated for various operations which contribute to the process.  For example:

Time spent searching server - per-remote + total
Time spent downloading

[2021-04-12 19:57] johnlaird-caff commented on #8788
I am trying to help migrate a part of my companies' team to CMake and Conan. This BS does not provide a good first impression.

[2021-04-12 20:03] jadamwilson2 commented on #8788
We are doing the same thing this week. We have very little trust now that anything is being handled competently. Other internal teams now cannot build or run CI, and it is going on 12 hours since this issue was opened. What repo should I point conan at and expect it to work today and 6 months from now? If it is conan.bintray.com, why can I not use that repo for several hours now?

[2021-04-12 20:21] planetmarshall commented on #8788
Your company could always pay to host their own Artifactory server, either self hosted and in the cloud. If they chose to use the open source conan center, for which they pay nothing, then they choose to take the rough with the smooth.

Try again tomorrow.

[2021-04-12 20:24] dburov190 commented on #8788
So, you're saying, we should all abandon *NIX in our work and switch to Windows? Or, better yet, write our own operating systems? what kind of a BS argument is this?

[2021-04-12 20:28] jadamwilson2 commented on #8788
Seeing this now:

[code]

Is THIS expected?

[2021-04-12 20:29] memsharded commented on #8788
@blackliner

The problems in ConanCenter were not expected. The plan was that ConanCenter transition was as smooth as possible, and it was aligned with Bintray brownouts, precisely to not be disrupted by such brownout. But things at this scale are always complicated and we failed to transition to the new infrastructure. Something went really wrong with DNS, certificates and redirects. Things have

[2021-04-12 20:30] uilianries commented on #8788
@jadamwilson2 No. It's under investigation. Please be patient.

[2021-04-12 20:30] planetmarshall commented on #8788
I am saying that if you are not paying for a commercial support contract, but are using the CCI service for free, then perhaps you should be patient and cut them some slack. As mentioned up-thread, this was a planned outage for a period of eight hours. If your systems are mission critical and can't handle an outage for that long, then you should definitely look into a commercial Artifactory soluti

[2021-04-12 20:38] memsharded commented on #8788
Thanks @planetmarshall for the support.

Recall that you don't even need to pay for a commercial Artifactory solution! We are offering the Artifactory CE, completely for free, to provide the community with production grade tools that can provide fully self-contained builds to not depend that heavily on other third party free services.

[2021-04-12 20:39] datalogics-kam commented on #8788
I would say you could even use the [community edition](https://jfrog.com/blog/announcing-jfrog-artifactory-community-edition-c-c/) for free. So far, we haven't had any real setbacks because our Artifactory has cached everything we're currently using. Having a local server speeds things up, lets you store your built packages if they vary from the ones CCI makes by default, and bridges over network

[2021-04-12 20:42] memsharded commented on #8788
Btw, things seems to start getting back to normal. It seems I can install packages here again (this might be different depending on location, and DNS propagation).

[2021-04-12 20:48] ghost commented on #8788
Hmmm, something else may have also regressed. Anonymous access is now asking for creds:

[code]

[2021-04-12 20:57] memsharded commented on #8788
@keysight-matthew-giassa that might be temporary hopefully, just tried again and here, it is working normally. Anyone else still experiencing issues with bintray asking for log-in?

[2021-04-12 21:00] ghost commented on #8788
10 minutes later and issue is no longer present (and conan CLI commands now working as they did previously).

+1 to on-prem caching BTW (i.e. local, Artifactory, etc.), as another individual noted above.

[2021-04-12 21:04] ghost commented on #8788
Would it be reasonable to have a feature added to the CLI tools to dump notices like this (i.e. pipe it to STDERR)? I think some Atlassian tools do this for web UI and CLI tools, and it's pretty awesome to have. Might be helpful with respect to broadening the audience of specific noticed (e.g. planned maintenance, deprecation notices and EoL announcements, etc.).

[2021-04-12 21:06] uilianries commented on #8788
@keysight-matthew-giassa Yes, @SSE4 suggested same thing few hours ago. It could be added as a new feature. Thank you for sharing your idea too.

[2021-04-12 21:08] ghost commented on #8788
Nice! Thanks for maintaining this free infra BTW!

[2021-04-12 21:30] datalogics-kam commented on #8788
Having some search timeouts, for instance:

[code]

[2021-04-12 21:32] uilianries opened #8791 "[feature] Report important messages from server"
Hello there;

As well known, Conan provided a [timeline](https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html) to keep all users tuned about Bintray sunset. However, this information didn't reach all users and we still have difficult to communicate all community.

A possible feature which could improve Conan communication is the ability of fetching messages from server (e.g Conan Center)

[2021-04-12 21:40] jgsogo commented on #8788
Hi! This is a long-standing issue (https://github.com/conan-io/conan/issues/7573, https://github.com/conan-io/conan/issues/8398) not related to the ones we've faced today. After moving away from Bintray this will be one of the things we will start to work on in ConanCenter (it requires changes on the server-side that we cannot implement in Bintray).

[2021-04-12 21:45] datalogics-kam commented on #8788
Ok, thanks for pointing that out. It's not really blocking us; it just happened to be how I checked to see if I can reach Conan Center.

[2021-04-12 23:04] coffeeaddict19 commented on #8788
Works. It's nice when it works. Unfortunately it's not my company. I'm a lowly developer at it, as such I can float ideas but its a bit like playing chess with no hands. When public resources are in place and they are advertised, it doesn't look good to the other devs that are watching to see how my idea plays out when those resources suddenly become available and plans grind to a halt. And I look

[2021-04-13 06:50] snailcatcher commented on #8788
For me the issue is fixed at the moment.
I like the idea with the server message in the CLI.

Thanks to @jgsogo and @memsharded (and all others) for your investigations in this problem.

By the way I recommend everyone to use a cached repository at least for your CI pipelines. If your build nodes are in the same network you will save traffic, gain speed and you can trust your pipeline in case of i

[2021-04-13 07:08] jessesna opened #8792 "[question] How to create a conan package including CTest tests for a header only library which can be packaged on all platforms"
I'm trying to create a header only package with conan which is based on CMake and CTest. It's as empty as possible and just contains two tests with empty `main()` functions.

While `conan create . conantest/stable` works fine on linux it stop with the error

    conantest/0.1@conantest/stable: ERROR: Package '...' build failed
    conantest/0.1@conantest/stable: WARN: Build folder C:\Users\...\.co

[2021-04-13 08:08] memsharded commented on #8744
I have reproduced the issue, and working on a fix for next 1.36.
In the meantime, to have your CI working, I suggest skipping the ``test_package`` with:

[code]

As you are doing a "build-ordered" build, it is unlikely that broken packages will go undetected, as they are always consumed by downstream builds.

[2021-04-13 08:21] KerstinKeller commented on #8744
Cool thanks for the feedback. We have disabled the tests as you described for now...

[2021-04-13 10:13] louiscaron opened #8794 "[question] ERROR: [Errno 2] No such file or directory: 'C:\\[WindowsPath]\\stable\\package\\862ddd663e5ef47ea20d6ce61170d2e30c3d8600\\conanmanifest.txt'"
I am working with several conan projects that have dependencies on identical packages.

For some of these projects, I need to use the `CONAN_USE_ALWAYS_SHORT_PATHS=1` to work around the windows path length limit issue.

Unfortunately, when I start using this option in one project to fix its dependencies, I am not able to use the regular mechanism in the other projects for which I do not have the p