[2020-06-25 09:03] jgsogo commented on #7235
I see it is the same issue as this one: https://github.com/conan-io/conan/issues/4712 (you commented there too). IMO, if conan retrieves the package when the reference is not in the cache, Conan should retrieve the package when the revision is explicit and it is not in the cache.

At this moment, package-revisions cannot be deactivated (when revisions are enabled). We really think that traceabilit

[2020-06-25 09:11] gsemet commented on #7239
Yes, that's what I use. But I need to write a small python script to extract this value, and that's not very convenient. Any easier way to tell to `conan upload` to just upload what has been exported directly?

[2020-06-25 09:15] jgsogo commented on #7234
Hi, @cguldner

Starting with `1.27`, the template for the `conan info --graph` output can be overridden by the user (https://github.com/conan-io/conan/pull/7176). This can motivate other people to share their templates that will be much better than ours and, if allowed, we can improve our default ones inspired by those contributions.

I'll add this issue to the queue, not a high priority given oth

[2020-06-25 09:27] jgsogo commented on #7230
Great! I'm closing the issue then, feel free to open it if something else needs to be added.

[2020-06-25 09:27] #7230 closed, assigned to memsharded

[2020-06-25 10:58] jgsogo commented on #7239
Right now there is no other way to do it, but...

We are working on a new command-line implementation. We will try to introduce some output that will let to pipe outputs to commands.

[2020-06-25 11:46] jasal82 commented on #7247
I'd suggest to announce important changes like this in the changelog before users stumble across it. I was under the impression that the new host/build profile model is an already stable feature and now it turns out it is not. This breaks a lot of things here and I have to roll out workarounds now.

Anyway, our first use-case for `user_info` is as follows:

- We have several components that expose

[2020-06-25 11:49] jasal82 commented on #7247
Why not simply generate two different trees of `user_info`, one for the host and one for the build context? That's better than not generating anything. The interface is broken anyway.

[2020-06-25 11:53] jasal82 commented on #7247
And we need at least an intermediate fix in the next minor release, otherwise we're doomed because the host/build profile model is now already rolled out to all of our components. This cannot wait until 2.0!

[2020-06-25 12:22] jgsogo commented on #7247
No, this is not something that should wait for 2.0, but `1.27` is almost complete and we need to start merging the PRs that are already opened and there are still some issues pending. For sure this is something for the 1.x series, but we need to think a little bit more about it.

We need to decide if every build-requires expands an isolated graph or not (I'm not really sure if dependencies from di

[2020-06-25 12:24] ericriff commented on #7235
Let me see if I understand you correctly. What you're saying is that in the case where the RREV is explicit (and it changes) conan shouldn't need the `update` flag to retrieve a new package?  Just like it does when you change the dependency version?

I'm saying that having the `UPDATE` flag slows down our pipeline because we want the conan integration to be transparent to the developers, so we hav

[2020-06-25 12:27] memsharded commented on #7235
Quick note about this, a problem to consider, make sure than when 2 different recipes provide explicitly 2 different recipe revisions, they conflict, instead of automatically updating and retrieving (overwriting the previous one, one after the other) different revisions.

[2020-06-25 12:39] ericriff commented on #7235
I'm sorry but i didn't follow you.

[2020-06-25 12:55] jgsogo opened #7251 "[feature] Add 'deprecated' attribute to ConanFile"
Add a `deprecated` attribute to ConanFile class:
 * _falsy_ value will do nothing
 * _truthy_ value will print a standardized warning to the user (probably during the configuration step): the value can contain the name/reference of another recipe that supersedes this one.

[code]

[code]

[2020-06-25 13:06] jgsogo opened #7252 "[feature] Declare what a recipe 'provides'"
Add a `provides` attribute to the ConanFile class, it will list other package names that define the same functionality. Some examples:
 * `libjpeg`, `libjpeg-turbo`, `mozjpeg` are different implementations of the same functionality and break the ODR principle.
 * deprecated recipes like `cpp-taskflow` that takes the new name `taskflow`
 * frameworks and individual libraries like a monolith `boost`

[2020-06-25 13:15] jgsogo commented on #7235
Yes, that's my opinion. I think that being explicit in the command line (or in a require) shouldn't require any extra argument... if you care about revisions you are listing them (or using lockfiles), if not you are ok with someone else's changing the revision in the cache. Yes, this will require downloading packages for the new revision (maybe compiling from sources if they are not available, but

[2020-06-25 13:19] ericriff commented on #7235
I completely agree with you.
 I'll add the `UPDATE` flag as a temp solution and when this feature is live I'll remove it.

[2020-06-25 13:39] tjamsa commented on #7199
Hi, I have this same issue. I want to use custom setting defined in `settings.yml`. Setting must have value, so the value can't be `None`. Value for custom setting is set in project specific profile and it works with `conan create` command.

But just like in Martin's example above, `conan source` gives error, because it can't find value for custom setting. There is no way to give profile as argume

[2020-06-25 13:40] frtru commented on #114
For reference, I am able to compile with debug and release from the same build generated folder without any special or complicated instructions. Only selecting `cmake` as the generator and afterwards visual studio as the generator for cmake with `cmake . -G "Visual Studio 15 Win64` works with my app for any generated target by cmake.

[2020-06-25 13:42] rasjani opened #7253 "[bug] cmake_find_package_multi generator should not enforce that certain buildtypes are used."
### Environment Details (include every applicable attribute)
  * Conan version: 1.26.1

### Steps to reproduce (Include if Applicable)

I'm using cmake-conan but i'd assume this is preproduceable with other means too.

CMakeLists.txt has:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

### Afterthoughts

For me, it it feels like that FATAL_ERROR messages ar

[2020-06-25 13:42] glennaycock commented on #7248
Javier,

I am using the CMake toolchain (via conan_paths) and cmake_find_package generators. I briefly attempted to use multi-configuration packages, but it seems some of the dependencies didn't support it. I also have some custom packages which would have to updated, so I am focusing on getting it work in single-config mode first.

I am using the Bincrafters Qt recipe for version 5.12.3 (legacy a

[2020-06-25 15:13] jgsogo commented on #7253
Hi, @rasjani !

This happen for the `cmake_multi` generator, not for the `cmake_find_package_multi`. But, anyway, I see that the `cmake_multi` generator is added when using the `_multi` variant of the `cmake_find_package` one.

So yes, we should relax this requirement [here](https://github.com/conan-io/conan/blob/a04efb057946f530a5e3315fcb81fc1235d9d32f/conans/client/generators/cmake_common.py#L96

[2020-06-25 15:17] jgsogo commented on #7214
`1.26.1` has been released with changes from PR https://github.com/conan-io/conan/pull/7169, please check it fixes your issue.

Thanks!

[2020-06-25 15:17] #7214 closed, assigned to nobody

[2020-06-25 15:21] rasjani commented on #7253
@jgsogo  It’s cmake_multi (my bad) and I forgot to add the link to the same source. Even the tile was incorrect, it should have said: should not.

I can submit a patch too. Easier way would be to just remove else branches with fatal_message.  Else branch could alternatively check if build type is in CMAKE_CONFIGURATION_TYPES and issue the fatal, if the build type is there but corresponding conanbu

[2020-06-25 15:23] jgsogo commented on #7218
Hi!

It makes sense for a compiler that `gcc`. You need `gcc` to build `gcc`. Probably not as a build_requirement listed in the recipe itself, but something to add in the profile dynamically (under `[build_requires]` section in the `--profile:host`).

For `protobuf`, it is not `protobuf` the one which needs the protoc compiler, it is the consumer. So the natural workflow will be to add `protobuf`

[2020-06-25 15:31] danimtb opened #7254 "[feature] Define file name for CMake find generators"
Coming from https://github.com/conan-io/conan/issues/7217#issuecomment-648998898

closes #6069

There is one limitation regarding the name of the find_package files and targets in CMake. Currently, the name specified in `self.cpp_info.names["cmake_find_package"]` is the one used to generate the *Find<name>.cmake* as well as the namespace for the targets `<name>::component`.

There are use cases wh

[2020-06-25 15:39] jgsogo commented on #7220
Hi, @shelper

There are two different things in your comments:
 * `revisions`: regarding your issue, the main difference about using revisions or not is how packages are stored in the server (explore the Artifactory repository). **Without revisions, all recipes/packages are associated to a `0` revision**, they are stored in the server in a single folder, and packages will the same package-id will

[2020-06-25 15:41] glennaycock commented on #7248
I isolated the problem to one of my custom packages. I will update results asap.

[2020-06-25 15:49] jgsogo commented on #7253
I think that removing the fatal message could be enough, but adding the other information now that we remove the message can be useful and it is pretty straightforward (I want to believe no one is using that failure as a feature). An alternative is how we do the same in the `cmake_find_package_multi` ([here](https://github.com/conan-io/conan/blob/a04efb057946f530a5e3315fcb81fc1235d9d32f/conans/cli

[2020-06-25 16:03] jgsogo commented on #7223
Hi, we try to add new versions of the compiler as soon as they are available. Adding some versions is not as easy as adding them to the default `settings.yml` file, but they require to check some flags and defaults that might have changed. We need to monitor webpages with the new releases, to get a push request once they are released.

Does clang11 have a release date? will it include stable c++20

[2020-06-25 16:53] TheQwertiest commented on #7223
IMO, it doesn't make much sense adding support for pre-prelease versions of compilers.
- dev-branch compilers are not guaranteed to be ABI compatible (or stable), which might result in incompatible packages.
- version number might be even changed on release compared to the pre-release (like they did with msvc one time)

[2020-06-25 17:07] sourcedelica commented on #7239
Check out [jq](https://stedolan.github.io/jq/)

[2020-06-25 17:16] jgsogo commented on #7254
This one is related to https://github.com/conan-io/conan/issues/6069, probably this one should close that one once fixed/added/closed

[2020-06-25 17:20] TimSimpson commented on #7254
There's another case where multiple CMake packages might use a common namespace, such as [a theoretical modularized Boost](https://github.com/conan-io/conan/issues/6069#issuecomment-649049301). To restate that example, there may exist a Conan package for Boost-coroutine and another one for Boost-asio. From CMake these would be used by calling `find_package(Boost-coroutine)`, which would bring in t

[2020-06-25 17:24] jgsogo commented on #7254
Your modularized boost example would work as follows with the initial proposal:

[code]

[code]

[2020-06-25 17:37] TimSimpson commented on #7254
@jgsogo I'm wondering if there would be unforeseen issues with other generators since `self.cpp_info.names` is so well-established and it may be hard to predict all the effects of having multiple packages set it to the same value. If people start trying to share the same setting for `names` across multiple packages just to change the CMake target namespace, that seems more intrusive than if they c

[2020-06-25 17:38] shelper commented on #7220
@jgsogo Thanks, that is clear.
So if i understand correctly, the package_id will be different even if the only thing changed is the compiler.version. as that is part of the settings, which is used in hashing out the package id. Basically if a local calculated package_id is different from the one hosted on server, then, the package needs to be rebuilt locally.

Say i have a package built with gcc 9

[2020-06-25 17:46] TimSimpson commented on #7254
Another idea: what if the include statements for the build modules which appear in the generate find modules were [moved to after the current targets were created?](https://github.com/conan-io/conan/issues/7217#issuecomment-648862422) which would make it possible to [clone them?](https://github.com/TimSimpson/Lp3-Engine/blob/master/conan/CMakeLists.txt#L67) Build modules can be used to create "clo

[2020-06-25 18:11] gsemet commented on #7239
Sûre, but I am not sure it is installed on the machine. Anyway this ticket is intended especially NOT having to rely on jq for that.

I use the python package jello, at least if Conan is installed, I am sure a pure python code can work in every environment of my CI.

[2020-06-25 19:56] hbobenicio commented on #7152
Hi @memsharded , me again :)

finally got some time to take a look at it. I see that the file is already importing jinja. Is there any reason that those template strings are not jinja templates? The code is using format a lot and I thought if they were all just jinja template things could be easier to manage probably...

I want not that this would become a lot of strings templating refactoring tho

[2020-06-25 20:17] #7218 closed, assigned to jgsogo

[2020-06-25 20:45] glennaycock commented on #7248
@jgsogo

Javier,

The problem is that the Conan-generated Findqt.cmake script contains the following to resolve Qt's transitive dependencies:

The FindXXX modules generated for my custom packages do not include those, and I am unable to determine how that is generated automatically for Qt (only).

I was able to emulate the behavior in the CMake for my test app. The test files are attached, but you

[2020-06-25 21:11] craigaiken opened #7255 "[question] Using different versions of packages in build_requires as settings in conanfile.py"
We use a thirdparty tool for generating code (basically an IDL compiler) that I've created a devtool conan package for.  This tool does get updated somewhat frequently.  Now in our code for pulling in the tool, I've defined something like this:

[code]
But really I'd like to have that tool as one of the settings in the package, so that I can rebuild the package without changing the recipe.  Someth

[2020-06-25 23:56] solvingj commented on #7085
Additional feedback, it will be common for commands to be combinations or "customizations" of other commands.  For example, in my very first experimental command, I wanted to replace a script which had been written before, with a new custom command.
The old script called the commands:

`conan install .`
`conan info . --paths -n package_folder`

To get the paths of the package folder in the local c

[2020-06-26 07:00] jgsogo commented on #7254
The `names` approach is already working, `names` are assigned per generator, so adding to CMake doesn't mean it will affect other generators. The feature (together with the `filename`) does exactly what you are suggesting: _"just change the CMake target namespace"_. Name collision could eventually be an issue, but there is nothing we can do from the Conan side (maybe an error instead of overriding

[2020-06-26 07:09] jgsogo commented on #7085
After https://github.com/conan-io/conan/pull/7170 which should introduce a new CLI interface, we need to refactor all the `conan_api` in order to document it and, later, we will document how to add custom commands. This will take time, let's go step by step.

[2020-06-26 07:19] jgsogo commented on #7248
Sorry but I don't see where the problem is. It is **more** or less standard that every `FindXXX` should populate the `xxxx_FOUND`: https://cmake.org/cmake/help/v3.3/module/FindPackageHandleStandardArgs.html. If you are using some custom `FindXXX` files for some dependencies, ensure that they are using that convention.

I need more information about:

 * Which are those custom packages? Are they `o

[2020-06-26 07:49] jgsogo commented on #7220
Yes to all.

In order to reuse packages generated with a different ABI compatible GCC version you can remove `compiler.version` from your settings and Conan will compute the same package-id (or you can remove `compiler.version` inside the recipe, which affect that very single recipe ([example removing settings in recipe](https://github.com/conan-io/conan-center-index/blob/ad3f626bfdd2ce250a9584690

[2020-06-26 09:15] SSE4 commented on #7252
debian documentation: https://www.debian.org/doc/debian-policy/ch-relationships.html#virtual-packages-provides

[2020-06-26 09:20] SSE4 commented on #7252
more cases:
- [LibreSSL](https://www.libressl.org/), [BoringSSL](https://boringssl.googlesource.com/boringssl/) and [OpenSSL](https://www.openssl.org/)
- [libav](https://libav.org/) and [ffmpeg](https://ffmpeg.org/)
- [MariaDB client](https://downloads.mariadb.org/client-native/) and [MySQL client](https://dev.mysql.com/downloads/c-api/)

[2020-06-26 11:19] memsharded opened #7256 "[feature] Support for new OSX arm binaries"
Thanks to @jcar87

Env:
[code]

In settings.yml:
- add Macos version 11.0
- add apple-clang version 12.0
- Use ``armv8`` as arch

Pass ``-arch arm64`` to the compiler.
If cmake scripts evaluate CMAKE_SYSTEM_PROCESSOR, it is necessary to define it in toolchain, otherwise it thinks it is Intel.

https://gitlab.kitware.com/cmake/cmake/-/issues/20863

[2020-06-26 12:24] Armoken opened #7257 "[question] How to prevent rebuilding during conan install --build="[pattern]"?"
I want to build almost all installed packages, and I can do this using `conan install --build="[pattern]"`. But after running `git clean -df` or adding a new requirement to the conanfile.py I need to rebuild absolutely all requirements. How to fix this?

[2020-06-26 12:27] solvingj commented on #7085
I'll continue experimenting on the future user experience side and capturing my feedback in this ticket since it's the most appropriate place at the moment.  I'll continue to provide detailed user stories like this one from those experiments. They can be reviewed during the implementation process whenever that reaches a suitable point.

[2020-06-26 13:09] tjamsa commented on #7199
Found possible solution for package development flow with custom setting.

At first run `conan install . --install-folder=tmp/build --profile myProjectProfile`
Then run `conan source . --source-folder=tmp/source --install-folder=tmp/build`
This way `conan source` command finds value for the custom setting from install/build folder.

If this is the correct way to solve this, maybe note could be add

[2020-06-26 14:10] shelper commented on #7220
Thanks for the answers, that is clear and complete, i am closing this issue

[2020-06-26 14:10] memsharded commented on #7199
Hi!

Thanks @tjamsa for the solution. Let me explain a little bit the current state:

- ``conan source`` does indeed get the settings at the moment, but it shouldn't use them. This is legacy, we couldn't remove them without breaking users, so we just advise against using settings in the ``source()`` method.
- So the ``source()`` evaluation will try first to fill the settings, and complain if some

[2020-06-26 14:39] memsharded commented on #7257
Hi @Armoken

If you want to rebuild absolutely everything, you can issue a ``conan install --build`` without arguments, and that will rebuild from sources all dependencies. Should be equivalent to ``conan install --build=*``.

If you want to build only what is necessary, you can do ``conan install <path> --build=missing``.

[2020-06-26 15:02] rddesmond commented on #7192
Thanks for looking at it!  I'll refocus this, submit it to CMake's repo, and leave a link to the issue here.

This does seem like a compiler-specific thing that fits in their wheelhouse, but it seemed insane to describe it without conan -- with conan it's a natural use case to have.

[2020-06-26 16:21] T-Deuty opened #7260 "[bug] Can't create Conan package for Visual Studio projects if using git for source"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 10.0.18362
  * Compiler+version: Visual Studio 2019 vc142
  * Conan version: Conan version 1.26.0
  * Python version: Python 3.7.4

### Steps to reproduce (Include if Applicable)

1. Using [this page](https://docs.conan.io/en/latest/howtos/visual_studio_packages.html) clone the two repos in the ex

[2020-06-26 16:45] jgsogo commented on #7252
Reading some comments, I wonder if the value for the `provides` should be the name of the _master_ recipe or the name of the "virtual/proxy" one. With the name of the "virtual/proxy", Conan can show a meaningful message with the requirement you should use to fix the conflict.

[2020-06-26 16:50] jgsogo commented on #7192
Thanks! So... spread the word in the CMake realm 😄

[2020-06-26 18:17] Armoken commented on #7257
Hi @memsharded. I have no problems with rebuilding everything except that this occurs even when any requirement and ~/.conan directory were not changed. Maybe there is a flag to bring conan to detect necessity of rebuilding?

[2020-06-26 18:27] glennaycock commented on #7248
@jgsogo

Yes, Conan generates FindXXXX.cmake files for all the dependencies, including my custom packages. However, the difference is that **_ one package (PythonQt) doesn't have the find_dependency() statements as above._**

I've removed my package as a dependency for now.

[2020-06-26 18:44] markovandooren commented on #7158
I also find it problematic that I have to use a layout file. I am currently setting up conan for our development and use python-requires to share Conan code among projects. The package_info is defined by the shared code, based on a list of Visual Studio project names that is defined by the concrete recipe. A layout file would force me to duplicate all of that information in layout files.

A very p

[2020-06-26 18:52] markovandooren commented on #7100
I use the following code. The 'semantic_version' attribute contains a version like 1.2.3 and this code appends the git hash. The recipe_folder is available only in set_version and set_name so I set the branch and revision attribute to also be able to use it in other places in the script.

[code]

[2020-06-26 18:58] shelper commented on #7220
Just have more question regarding the document on conan revision. In the documentation page: https://docs.conan.io/en/latest/versioning/revisions.html it says:

Do i have to do both config above or either of them will activate the revision mode?
Meanwhile, i am still not clear regarding revision on the server side.
In the documentation it only says that:

Do i need to config server to enable revis

[2020-06-26 19:15] climblinne commented on #7100
@markovandooren
Thanks for the reply. The problem is, that I don't want to put the revision number into the version field, because this would define new packages. I want to use recipe revision (git revision) and keep the version only to semantic versioning. But still I need to access the git revision from CMake.

[2020-06-26 21:27] markovandooren commented on #7100
I see. You don't have to change the revision in set_revision. You can use it to put the revision in an attribute and then in the source() method write `"#define REVISION " + revision` to e.g. a revision.h file that you include in your build.

[2020-06-26 22:52] jake-at-work commented on #4221
@michaelmaguire Did you ever find a satisfying solution for a best practice of RelWithDebInfo? I am in the boat where I want to build my library RelWithDebInfo but I don't care if any of the dependencies are RelWithDebInfo or Release.

[2020-06-27 16:33] solvingj commented on #7085
Just like native conan commands, one of the first things I need is a proper configuration file strategy to define defaults for all my custom commands for my organization.  Obviously, we don't want to involve `conan.conf` for custom commands, and we don't want each command to have to define and parse it's own config file manually, nor require users to pass a path to a config on the CLI for it to be

[2020-06-27 21:01] TimSimpson commented on #7254
@jgsogo you're right: `names are assigned per generator, so adding to CMake doesn't mean it will affect other generators`. Sorry, I was in some sort of fugue state when I wrote the above and was got `self.cpp_info.names` (plural) mixed up with `self.cpp_info.name` which, of course, can can keep doing whatever it already does today.

[2020-06-27 22:48] madebr commented on #3972
What about this:
[code]
For auto generation of the profile, the libc version can be detected by compiling+executing a simple file using `gnu_get_libc_version`, or extracting the version defintions from `objdump -p /lib64/libc.so.*`.

The bigger problem is: *how will the hashing/package id work?*

Packages compiled with different glibc versions, will generate a different package id.
But how should

[2020-06-27 23:01] Minimonium commented on #3972
That's the same issue as with `compiler.cppstd`. We need a way of constraining compatible settings from upstream.

[2020-06-28 09:27] memsharded commented on #7085
We like to think in terms of pains to solve, issues to address, instead of features to implement. It would be good to illustrate it with some real world examples. The truth is that so far in the conan.conf there are practically no command-specific configuration. There are things like ``cpu_count`` or ``revisions_enabled``, that apply to all or many commands. Otherwise, they are command default arg

[2020-06-28 14:36] TimSimpson opened #7261 "[feature] CMake generators: Move includes of `build_modules` after targets are created in generated CMake find modules"
The attribute `self.cpp_info.build_modules` can be used to set CMake files which get included in the generated find modules created by `cmake_find_package`.

Today, these `include` statements are put _before_ the targets which are defined by the generated find module files, rather than at the end of the file, which means the build modules script cannot interact with the exported targets directly.

[2020-06-28 14:37] TimSimpson commented on #7261
cc @GordonJess

[2020-06-28 19:12] anagno commented on #7223
@jgsogo Unfortunately,  I do not know when the official release date is and what it will include.
The argument of @TheQwertiest is valid and I had not consider all the implications of adding the new compiler :)

Maybe it is better to wait for the official release :) Dunno

[2020-06-28 21:30] memsharded commented on #7223
An example that a pre-release can change something relevant regarding the binary compatibility, like the C++ standard default: https://www.reddit.com/r/cpp/comments/hgjjcz/gcc_11_change_the_default_dialect_to_c17/

[2020-06-29 04:36] TimSimpson commented on #7254
@danimtb @jgsogo I can contribute this code if that's helpful. I've started a work on a branch [here](https://github.com/conan-io/conan/compare/develop...TimSimpson:feature/define_file_name_for_cmake_find_generators?expand=1) though it needs another few rounds of polish. Full disclosure: I don't have much time to work on this stuff outside of nights and weekends though I'd certainly like to see th

[2020-06-29 07:37] smessmer opened #7264 "[bug] compiler.libcxx for dependencies with prebuilt packages"
Source issue: https://github.com/cryfs/cryfs/issues/336

I'm using [conan_cmake_run](https://github.com/conan-io/cmake-conan) to call conan from cmake and pass in the argument `SETTINGS compiler.libcxx=libstdc++11`. This calls `conan install` with `-s compiler.libcxx=libstdc++11` before running the rest of the CMakeLists.txt because my application can only work with libstdc++11.

I noticed that th

[2020-06-29 07:37] jgsogo commented on #6664
`CONAN_V2_MODE` should remove non-stable cppstd flags... or it should add a non-stable flag to them. Using non-stable cppstd can lead to linking errors due to ABI incompatibilities.

Probably we can raise in the first iteration (cppstd not supported, it is the safest behavior), but users should be able to opt-out this exception and use at their own risk.

Question is, how to encode _non-stable_ fl

[2020-06-29 08:07] jgsogo commented on #7254
Hi! Contributions are more than welcome. If you are working on this, feel free to open the PR as soon as possible so we can see how it is going and provide feedback to you as early as possible. I'm assigning it to the next release, we have four weeks ahead, if you think you won't have time to finish it, just tell us and we will resume your work.

About the values in the `requires` field, more/bett

[2020-06-29 08:15] smessmer commented on #7264
I confirmed that adding the `BUILD all` setting to `conan_cmake_run` (which then calls `conan install --build` instead of `conan install --build missing`) also fixes the problem, so the issue is definitely that it gets the wrong prebuilt package from the servers.

[2020-06-29 08:20] #7236 closed, assigned to memsharded

[2020-06-29 08:24] memsharded commented on #7236
This is fixed, will be released in next 1.27. Thanks for reporting!

[2020-06-29 08:27] ghost opened #7265 "[bug] dependency version incompatibilities | venv"
### Environment Details (include every applicable attribute)
  * Operating System+version: W10 WLS2 with 4.19.104-microsoft-standard SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 GNU/Linux | Kali Linux container
  * Compiler+version: n/a
  * Conan version: 1.26.1
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)
update below dependencies via `pip3 install -U`

### Logs (Executed

[2020-06-29 08:39] memsharded commented on #7265
Yes, some of those dependencies are indeed incompatible. As a quick example ``node-semver=0.8.0`` is changing the behavior, so it would be changing how Conan version ranges are evaluated and would be breaking for some Conan users.

We should have a look to the venv path. Even if Conan still runs with Python 2.7 (needs virtualenvwrapper) we should be compliant with venv recommended practices.

[2020-06-29 08:47] memsharded commented on #7264
I am having a look and even if in the command line appears 2 times ``-s compiler.libcxx=libstdc++ -s compiler.libcxx=libstdc++11``, the actual profile in both cases is:

[code]

So it doesn't seem that the root cause is the libcxx setting, but it is possible that the ConanCenter pre-built packages are incompatible with CentOS7 (glibc issues). ConanCenter is doing some changes to the docker images

[2020-06-29 08:55] jgsogo commented on #7220
Hi!

In the client, to activate revisions you can use config variable `general.revisions_enabled=1` or environment `CONAN_REVISIONS_ENABLED=1` (configuration one is preferred). I'm adding that extra bit of info here https://github.com/conan-io/docs/pull/1750.

You don't need to modify anything in the server... if it is new enough to support revisions. What Artifactory version are you using?

Using

[2020-06-29 09:47] smessmer commented on #7264
I compared the compiled dependency library (libspdlog.a) using `nm -C` and
it is the gcc ABI issue. In the working build (i.e. when built locally), it
has the new GCC ABI `std::__cxx11::string` and when downloading it as a
package from Conan servers, it has the old GCC ABI `std::string`.

On June 29, 2020 01:48:14 James <notifications@github.com> wrote:

[2020-06-29 09:48] ghost commented on #7265
There is likely nothing wrong with *conan*'s venv path since it container the “shebang” line which points to the virtual environment’s Python interpreter.

The issue is rather that `python3 -m venv` does not add the `venv` path variable to PATH and PATHEXT variables for the Python installation. Maybe that expectation is a misconception on my part or a bug in py.

[2020-06-29 09:48] #7265 closed, assigned to nobody

[2020-06-29 10:35] memsharded commented on #7264
Then this could be a bug in the **spdlog** recipe in ConanCenter, that is not following correctly the ``libcxx`` value, when it is not the system default or something, it is worth checking that possibility too.

[2020-06-29 11:10] #7241 closed, assigned to LBHawk

[2020-06-29 12:00] SSE4 commented on #7264
from the log, it downloads the right package **c0fb34b00d4c04a33793ba290326808d0fd5de33**:
[code]
checking the package itself, it seems to be really built with **libstdc++11**:
[code]

that seems like the application itself (**cryfs-stats**) isn't been built with right ABI.

going to check in docker and provide more details.

[2020-06-29 12:40] #6346 closed

[2020-06-29 12:54] madebr opened #7267 "[bug] msbuild generator only works with Visual Studio compiler"
When adding the experimental `msbuild` generator,
the recipe cannot be used anymore with other compilers.
This message is printed:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: gcc 9.3.1
  * Conan version: 1.26.1
  * Python version: 3.7.7

### Steps to reproduce (Include if Applicable)
Build a recipe with the msbuild

[2020-06-29 13:05] SSE4 commented on #7264
okay, digging more into the details, it seems like `_GLIBCXX_USE_CXX11_ABI` **has no effect on devtoolset-7** (!!!):
https://stackoverflow.com/questions/49393888/how-can-i-use-the-new-c-11-abi-with-devtoolset-7-on-centos-rhel
https://stackoverflow.com/questions/47951367/d-glibcxx-use-cxx11-abi-1-ineffective-for-devtoolset-7-on-centos-7
https://bugzilla.redhat.com/show_bug.cgi?id=1546704
quote:
[co

[2020-06-29 13:09] SSE4 commented on #7264
given the above information, I doubt there is anything could be done on conan side. this appears to be a limitation of `devtoolset-7` itself, and I suppose we can't do anything with broken toolchains silently ignoring certain flags. in such cases settings and package ids will be unreliable :(

the best user(s) can do, is installing with something like `-s spdlog:compiler.libcxx=libstdc++`, or just

[2020-06-29 13:30] memsharded commented on #7267
Not sure if a bug or a feature. This generator is a "multi" generator, and as such, it really needs the input settings, the ``Visual Studio`` compiler, etc, in order to be able to generate something meaningful.

So using it should be conditioned to ``if self.settings.compiler == "Visual Studio": self.generators = "msbuild"``. What is not clear is the UX/location of this conditional, so lets discus

[2020-06-29 13:45] memsharded commented on #7264
Great investigation, thanks very much @SSE4 !

Then I need to understand @smessmer feedback:

it is the gcc ABI issue. In the working build (i.e. when built locally), it
has the new GCC ABI `std::__cxx11::string` and when downloading it as a
package from Conan servers, it has the old GCC ABI `std::string`.

Shouldn't it be the opposite? The locally built is using libstdc++, while the one retrieved

[2020-06-29 13:45] madebr commented on #7267
My only use of the `msbuild` generator to date is the cpython recipe at https://github.com/conan-io/conan-center-index/pull/1510

I would be happy to conditionally add the `msbuild` conditionally, if the compiler is `Visual Studio`. But I haven't seen this before and I don't know whether it is supported.
Should this conditional be added to `config_options` or `configure`?

On another side, msbuild

[2020-06-29 13:48] wdobbe opened #7268 "[feature] Allow setting description and URL dynamically"
Issue #5881 made it possible to set the package name and version after they are read from for example an external file.

In our company we use this to prevent that we have to specify the project name and version in both the CMakeLists.txt and the conanfile.py. I created a ConanFile derived class that reads this information from the 'project()' cmake command (see https://github.com/wdobbe/conan-ext

[2020-06-29 13:50] memsharded commented on #7267
Should be possible in ``configure()`` I think it should work out of the box, but that was exactly my point, probably not the best UX, so we need to think what would be the best way to define conditional generators and document it accordingly.

In that case, we would need to know real use cases, and know what values should  be used to build the conditions inside the .props files. Because right now,

[2020-06-29 13:51] shelper commented on #7220
found out that i need artifactory > 6.9 to support revision and i have 6.3.2...
please let me know if there is any way to support that with this older version.. Otherwise, feel free to close this issue, thanks!

[2020-06-29 13:51] #7220 closed, assigned to jgsogo

[2020-06-29 13:52] SSE4 commented on #7264
yes, it's the opposite

[2020-06-29 13:53] #7046 closed, assigned to czoido

[2020-06-29 13:55] derived-coder opened #7269 "[question] How to handle install of 3rd party python packages with conan?"
What is the recommend approach of handling python modules which are needed by some C++ libraries for code generation?
E.g. I have a C++ library A which need some specific python module installed. How should the conan recipe for A should look like?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-06-29 14:00] jbatnozic opened #7270 "[bug][triaging] shared_library_package_id() makes conan create call fail with empty error message"
### Environment Details
  * Operating System+version: macOS Catalina 10.15.4
  * Compiler+version: apple-clang 10.0
  * Conan version: 1.26.0 (error not exclusive to this version)
  * Python version: 3.7.7

### Steps to reproduce
The minimal code which displays the problem, along with more details and reproduction steps is uploaded [here](https://github.com/jbatnozic/conan-create-error-demo-2).

B

[2020-06-29 14:01] memsharded commented on #7269
What is the "need" relation? C++ libraries cannot link with a python module directly. Is the C++ library linking with cpython and embeds the python interpreter, then using that to run the python module? Do you have a cpython Conan package?

[2020-06-29 14:03] memsharded commented on #7046
``conan config install --list and conan config install item --remove`` will be available in next 1.27 release

[2020-06-29 14:13] madebr commented on #7267
Visual Studio IDE provides support for linux, using gcc/clang, which does not have toolset.
I haven't used this yet, so I can't really tell how it works or should work.
Let's wait on an individual requiring this..

[2020-06-29 14:14] uilianries opened #7271 "[bug] Conan config install list breaks if config file is missing"
The PR https://github.com/conan-io/conan/pull/7263 inserts a new feature, which breaks when conan cache is clear.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: Any
  * Conan version: 1.27.0-dev
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)

1) Set a new (empty) conan cache folder
2) Run `conan con

[2020-06-29 14:29] memsharded commented on #7271
Please @uilianries submit a fix if possible. Thanks!

[2020-06-29 14:49] solvingj commented on #7085
Another item which came up immediately was how to handle additional third-party python package dependencies users may wish to use in their custom commands.  Initially, it seems to be just like with `conanfile.py`.  If users want to use additional libraries, they'll have to ensure they install those separately with `pip`.  Thus, using custom PIP packages in a custom command is a substantial barrier

[2020-06-29 15:12] wdobbe commented on #5059
I uploaded the toolchain recipes to a different Conan repository where ordinary users have no write permissions. That solves the problem temporarily.

[2020-06-29 16:32] mpusz commented on #3972
Another point to highlight the importance of this feature is https://github.com/conan-io/conan-docker-tools/issues/200. Even though there is gcc-9.3 available in Ubuntu 20.04 (used already for gcc-10 image) and it fixes some bugs in gcc-9.2 that prevent my library to compile on the older compiler, we can't upgrade the docker image because of glibc issue.

[2020-06-29 16:35] #7271 closed, assigned to uilianries

[2020-06-29 17:42] LeonFretter opened #7274 "[bug] custom generator usable from conanfile.txt but not conanfile.py"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Conan version: 1.25.2 **edit:** still applicable in version 1.26.1
  * Python version: 3.6.9

### Steps to reproduce
* Load a custom generator into your conan-cache.
* Create a **conanfile.txt** with the custom generator included like this:
[code]
 under attribute `[generators]`
-> on callin

[2020-06-29 17:42] smessmer commented on #7264
oh wow, thanks for the detailed analysis. You're absolutely right, it's the opposite, I didn't notice that.

Could conan detect if a toolchain ignores `_GLIBCXX_USE_CXX11_ABI`? It could for example compile a small compiler_test.cpp file similar to [CheckCXXSourceCompiles](https://cmake.org/cmake/help/latest/module/CheckCXXSourceCompiles.html), and report an error if the generated symbols mismatch

[2020-06-29 17:53] derived-coder commented on #7269
It does not link against python modules. The library A uses python to generate C++ code via this python module. Does it clear up the use case?

[2020-06-29 18:21] LeonFretter commented on #7274
sorry, guys, in my **conanfile.py** i forgot to require the package that contains the custom generator.

[2020-06-29 18:21] #7274 closed, assigned to nobody

[2020-06-29 18:48] solvingj commented on #7085
I have just published the first POC here based on a recent commit of @czoido 's conan fork (CLIV2 branch).
`CONAN_V2_CLI=1` environment variable must be set in that branch to test the new feature.
https://github.com/solvingj/custom_conan_commands/tree/with_docker
Based off this commit in @czoido fork:
https://github.com/czoido/conan/tree/ada4cf9e893a4944bfc84b8e6b97b3ebeedaaa74
Note: `CONAN_V2_CLI

[2020-06-29 18:56] jgsogo opened #7275 "Meson in all the nodes of the CI"
If we want to start testing some integration with Meson, we need to add the application to the CI nodes. We don't install `meson` in our release tests (https://github.com/conan-io/test), and it is not available in the venv.

**This issue should be closed only after some tests actually use Meson application.** https://github.com/conan-io/conan/pull/7273

Need for https://github.com/conan-io/conan/p

[2020-06-29 20:28] Ericson2314 commented on #7120
FYI "target" should probably be removed from meson `[target_machine]` doesn't influence anything at all except for user-written code that queries it.

There is just build and host

[2020-06-29 20:28] Ericson2314 commented on #7091
Meson now uses the `_FOR_BUILD` suffix just like autotools, so one can provide both profiles at once doing that.

[2020-06-29 20:59] TheQwertiest commented on #7091
@Ericson2314 , I'm actually using this in my [PR](https://github.com/conan-io/conan/pull/7155) =)
But conan (if I understand correctly) is moving away from single-profile to double-profile model (similar to meson's native/cross).

[2020-06-29 21:17] #7050 closed, assigned to jgsogo

[2020-06-29 22:58] memsharded commented on #7274
Hi @LeonFretter

No problem, thanks for following up and letting us know. Happy you found the issue!

[2020-06-30 06:33] AndreyMlashkin commented on #3084
I have an option "Branch" in my recipe, which is used in source method. Of course with the new caching behavior, this feature may not work, as all options used in source (). This does not feel right and is not reflected in documentation.

[2020-06-30 08:25] memsharded commented on #7093
Should we consider this closed with the introduction of #7178?

There is this PR open https://github.com/conan-io/conan/pull/6827 that contain tests for this hard link issue. Should we integrate it and see if the new tool can provide a fix for it?

[2020-06-30 08:27] AndreasHK opened #7279 "[question] ERROR: Build-require 'b2' cannot be found in lockfile"
I am currently transitioning our build scripts from _conan info --build-order_ to the recommended _conan graph build-order_ and experience issues with build_requires. I have a couple of libraries and some of them depend on boost. And boost has a [build_require set to b2](https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conanfile.py#L143).

In my minimal [conan-recipe](h

[2020-06-30 08:40] memsharded commented on #7279
The next iteration of lockfiles in https://github.com/conan-io/conan/pull/7243 will be improving this (it won't be necessary to specify the --build in ``build-order``)

It is necessary to pass ``--build`` at the ``conan graph lock`` command, otherwise, the lockfile will not contain the build requires.

[2020-06-30 08:47] memsharded opened #7280 "Toolchain next steps"
Toolchain was introduced, but still very early stage. Need to keep working on them. Some important points to be addressed:

For Conan 1.28:

- After https://github.com/conan-io/conan/pull/7160, check if all variables don't need to be defined in the CMake cache, as the toolchain is loaded every time

- Do a first iteration over the MSBuild and Makefiles toolchains

For later release:

- After the l

[2020-06-30 08:54] #6428 closed

[2020-06-30 08:56] memsharded commented on #6428
Correct triplets have been defined in #6748, will be released in Conan 1.27

[2020-06-30 08:56] AndreasHK commented on #7279
@memsharded Thank you for your fast reply, this resolves my question.

[2020-06-30 08:58] jgsogo commented on #7093
I think we need to answer questions from the first comment first. I want to know how Python deals with these links in different OSs and what zip/tar libraries do to them. IMO it would be a useful reference, maybe something to add to FAQ although it is not related to Conan codebase.

Then, we can decide that Conan does nothing by default (just zip whatever is in the package folder) and you need to

[2020-06-30 09:00] memsharded commented on #6810
#7178 is introducing a tool to "fix" or prepare packages with symlinks for compression.
This will most likely be the way to go in Conan 2.0, but it seems challenging to fix it at the moment without breaking.

[2020-06-30 09:02] memsharded commented on #7279
Ok, then I think we can close this question.

Please stay tuned for Conan 1.28 (not this week release, but next month), that will include some great improvements for lockfiles, hopefully they will make the feature more powerful and also easier to understand the behaviors.

[2020-06-30 09:02] #7279 closed, assigned to memsharded

[2020-06-30 09:03] TheQwertiest commented on #7093
Hard links are just normal files in 99% of relevant cases. So I don't think any special casing is needed.

[2020-06-30 10:02] elektito opened #7281 "[bug] FileNotFoundError when insufficient permissions to create .conan directory."
### Environment Details (include every applicable attribute)
  * Operating system: Ubuntu 18.04
  * Conan version: 1.24.0 (also tested with current develop branch)
  * Python version: 3.6.9

### Steps to reproduce
Run this as a non-root user:

```CONAN_USER_HOME=/ conan remote add foobar http://example.com```

You get an error ending with "No such file or directory: '/.conan/conan.conf'" (see logs

[2020-06-30 10:47] memsharded commented on #7281
Hi @elektito

Thanks for the report.  Let's say the rule is that a stack trace in the output is always a bug, and it should better be a controlled error. Sure, please send a PR referencing this issue, and we will see what happens in CI. Take into account that we are still running Python2.7 in CI, even if deprecated and soon to be removed, but at the moment it should still work.

[2020-06-30 10:52] memsharded commented on #3084
Hi @AndreyMlashkin

Let me clarify: Use of settings and options in the ``source()`` method is deprecated. CONAN_V2_MODE will raise an error for them. It will soon be removed. Whatever is in the ``source()`` method should be completely generic to all different settings, options and configurations. Whatever is specific for a branch or configuration should be managed in the ``build()`` method.

It is

[2020-06-30 11:07] memsharded commented on #7070
This is not very accurate, and much part of the problem. Specifically this: ``GCC5 was released 5 years ago, and when it was release the default was to use the new ABI.``

GCC5 and even more modern versions, when used in a somewhat older distro, still defaults to ``libstdc++``, not to ``libstdc++11``. This is very unfortunate, but it is the reality, and nothing Conan can do about, but to model the

[2020-06-30 11:20] Armoken commented on #7257
Another case:
[code]

After that I need to build libpng and  boost again.

[2020-06-30 11:41] #7247 closed, assigned to nobody

[2020-06-30 11:50] jgsogo commented on #7247
Hi, @jasal82

We've merged PR https://github.com/conan-io/conan/pull/7266 for the next 1.27 (to be released this week). It adds the information from the `user_info` requirements in the _host_ context to `deps_user_info` (as it is done when using one profile), and the information from the build_requirements will be available in the field `user_info_build`.

I hope this helps with your integration.

[2020-06-30 11:55] memsharded commented on #7257
This is what I meant, the ``--build=missing`` builds only what is necessary to be built. I am sorry I don't follow, if you could provide a full reproducible sequence of commands, that could help to understand your question.

[2020-06-30 12:48] michaelmaguire opened #7282 "[feature] push (simulated via polling?) of config updates"
It is frequently a problem in our corporate environment that conan config settings change, for example recently our internal Artifactory admins changed the URLs we should use to find our internal repos.

Our team of 50 developers all used:

[code]

To get their settings.

It would be very helpful if conan would remember the last conan config install location, and from time to time (e.g. every 20th

[2020-06-30 13:51] madebr opened #7283 "[question] Availability of self.export_folder"
Hello,

I am in the process of automatically generating dependency information for boost.
See https://github.com/conan-io/conan-center-index/pull/1925#issuecomment-651746386 for the progress.

Using [export](https://docs.conan.io/en/latest/reference/conanfile/methods.html#export), I copy the dependency information to the export folder. This has to be copied to the export folder because the informa

[2020-06-30 13:58] memsharded commented on #7283
Hi @madebr

There is no access to the export folder in the ``package_info()`` method. If you need something from there, you need to ``package()`` it in the final package. The idea is that packages should be able to be consumed with what is inside the "package" folder only, nothing else. Whatever is in the other folders, the conanfile.py, etc is necessary to resolve the package folder, but after th

[2020-06-30 14:02] memsharded commented on #7282
Hi @michaelmaguire

Both are already available features:

- Conan memorize the previous ``conan config install`` commands, so calling ``conan config install`` without arguments will call in order the list of previous installs.

- There is a new ``conan config install`` auto-update feature, that will call this command (without arguments) periodically. Given that the configuration for this feature i

[2020-06-30 14:04] madebr commented on #7283
Thanks, it seemed useful to have this dependency information saved in one place.
But this will also work.

[2020-06-30 14:09] elektito commented on #7281
So I created a PR which I believe should fix the original problem I mentioned (wrong error). But it still gives a stack trace. I'm not familiar enough with the Conan code base to know how to fix that. If you have any pointers about that, I'm willing to see if I can update the PR.

[2020-06-30 14:12] elektito commented on #7281
Also, looks like the tests failed. At a glance, the failure seems to be something that had been caught and handled by the removed try block. Not sure if the test is wrong, or the my patch. I'll investigate.

[2020-06-30 14:29] madebr commented on #7283
How can I use the generated file to check the options in `configure`?
`export_sources` or `source` haven't run yet.

[2020-06-30 14:31] elektito commented on #7281
So apparently empty directory names were being passed and expected to be ignored. I added a check to not call `mkdir` for those. I wanted to add the check to `mkdir` at first (it would have been a bit prettier perhaps), but I thought that would be pushing the extent of the issue and affecting other pieces of code.

Also, however many times I sign that CLA, it still tells me I need to sign it.

[2020-06-30 14:41] memsharded commented on #7281
Yes, this is the existing behavior and seems cannot be changed, the ``save()`` and ``save_append()`` can receive a bare filename, and will save the file in the current dir. Changing this behavior would be breaking for many users.

This is typically due to some mismatch between the user/email you are using to do the commits and the one you are using in your Github login.

[2020-06-30 14:43] memsharded commented on #7283
Not sure what you mean. Many times when a package is being consumed, there is no export_sources or sources at all, this is why things need to be packaged to be accessed by ``package_info()``.

[2020-06-30 14:56] madebr commented on #7283
Boost is a huge project and has a complex dependency tree.
The recipe at cci supports multiple versions.
That's why I generate the dependency tree for each verson,
and want to include that in the conanfile.

e.g. boost has `wave` and `serialization` options. `wave` depends on `serialization`.
Now I want to check in `configure` that when `wave` is enabled, but `serialization` is not, that a `ConanI

[2020-06-30 14:57] elektito commented on #7281
This should be the problem. I'll fix it.

[2020-06-30 15:00] elektito commented on #7281
Just updated the PR and my CLA is now recognized. I think the tests were passing before this, but we'll see if my new email has any effect on the results! :grin:

What about the other issue, that this still gives a stack trace (albeit the correct one this time)? Should that be fixed in another issue/PR?

[2020-06-30 15:06] #6718 closed

[2020-06-30 15:11] slietzau opened #7285 "[question] How to combine a compiler package with a CMake toolchain file?"
Hi guys,

I'm struggling to make conan work with a compiler that also needs a CMake toolchain file to work. To fully understand the problem I'll quickly go over the setup. There are two systems:
* a **windows** based **build machine** (Windows 10, conan 1.25.1)
* a custom **linux host** (custom kernel, gcc 4.8, does not run conan)

That means we are cross-compiling from windows to linux. We use **

[2020-06-30 15:19] acronce opened #7286 "[bug] Error installing conan on Big Sur running on Apple Silicon"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Big Sur 11.0 Beta (20A5299w) on Apple A12Z Bionic
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.22.19)
  * Conan version: 1.26.1
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
sudo pip3 install conan

### Logs (Executed commands with output) (Include/Attach i

[2020-06-30 15:21] danimtb commented on #7116
@akosik-anyvision with #7259 merged, you will be able to use the components feature with the `cmake_find_package_multi` in the next 1.27 release.

In order to achieve the behavior you describe above, you will need to declare a "global" (or any other name) component with a different name that the package name. for example, something like this should work:

[code]

The reason for this is that apart

[2020-06-30 15:25] memsharded commented on #7285
Yes, having 2 profiles is the modern way, was released a few months ago and still experimental, but certainly the way to go.

To summarize, to see if I understood correctly:

- You have some "host" packages, libraries and/or executables you want to run on the linux system.
- You have the cross compiler, that runs in Windows but generates binaries for Linux, and want to put that compiler in a Conan

[2020-06-30 15:28] memsharded commented on #7286
Well, if you can't ``sudo pip3 install cryptography`` in that platform, I guess, yes, you should be probably reporting this in https://github.com/pyca/cryptography first (please link the issue here, so we can track, if you do, thanks!)

[2020-06-30 15:49] memsharded commented on #7283
I see, yes, it might make sense to raise a ``ConanInvalidConfiguration`` if the inputs are incorrect, at ``configure()`` time. But that is completely possible right now, isn't it. What am I missing? I am sorry, now I don't see how this is related to the ``package_info()`` accessing the ``export`` folder.

[2020-06-30 15:52] madebr commented on #7283
I want also access to the information of the yml in `configure`, but can't because neither `self.export_folder` and `self.souce_folder` is available.

[2020-06-30 16:07] acronce commented on #7286
Thanks for the fast reply! Yes I see the same error when just trying to install cryptography.

Here's the link to the issue over there: https://github.com/pyca/cryptography/issues/5291

[2020-06-30 16:11] memsharded commented on #7286
Cool, thanks for reporting this! I see they labeled it as ``blocked-on-upstream``, which means that they also have transitive dependencies to cffi that is failing for them.

I would expect the whole python ecosystem to struggle for a while to provide support for Apple Silicon, so I would suggest to start trying running Conan with some emulation mode or something meanwhile.

[2020-06-30 16:14] memsharded commented on #7283
The ``conandata.yml``? but that is automatically loaded as ``self.conan_data`` attribute, isn't it? No need to access the file directly?

[2020-06-30 16:20] sourcedelica commented on #7070
Hi @danimtb - I’m not looking for a change. I agree with the current approach. I was just providing a datapoint - that the old ABI is still in use and probably will be indefinitely on Red Hat Enterprise.

[2020-06-30 16:27] madebr commented on #7283
I'm generating a yml with the dependency information.
e.g.
<details>
<summary>Dependency information of boost 1.73.0</summary>

[code]
</details>

[2020-06-30 16:38] memsharded commented on #7283
Ah, another file. Now I understand the issue, many thanks.

Yes, at the moment the ``configure()`` doesn't have definition of the export folder, so it cannot access files there manually. While we consider what would be the way for this use case, that is currently not possible, I would like to ask: have you considered adding that information to the ``conandata.yml`` instead? That file will be autom

[2020-06-30 16:40] acronce commented on #7286
I suppose I could try manually installing cryptography from another (Intel) installation. I've run several Intel apps under Rosetta 2 (including CMake) and it just seems to work. Kind of amazing, really.

[2020-06-30 16:43] madebr commented on #7283
It would work, but the file would get huge for multiple boost versions.
Also, the rules of conan-center-index currently disallow keys, except for those related to `sources` and `patches`.

[2020-06-30 16:43] sourcedelica commented on #1498
I just ran into this (we are starting to use Conan for VS projects).  Is there a solution now for `find_package` with `cmake_multi`?   If we don’t use `find_package` we will need to “fork” the CMake macros that the Protobuf package provides. They depend on `find_package` being run.

[2020-06-30 17:00] Belpaire commented on #6894
Hi,

I tried out your new msbuild generator, and so far it seems that the global variable problems are solved with this generator. If there are any specific other issues, I'll report them. Thanks for keeping up the good work!.

kind regards.

[2020-06-30 17:00] #6894 closed, assigned to jgsogo

[2020-06-30 17:04] madebr commented on #7283
I've used `export_sources` + `package` now.
The downside of this is that when I change information in the dependency information, `conan export` will not apply the change.

[2020-06-30 17:08] memsharded commented on #6894
Thanks @Belpaire for following up, trying the new msbuild generator and reporting!

Looking forward to getting further feedback if something fail, as we intend to convert this new generator to the recommended and default one.

[2020-06-30 17:11] memsharded commented on #1498
Basically, it is not possible to run standard find_packages with multi-configuration, that is a limitation of cmake find_packages. This is the reason the ``cmake_find_package_multi`` generator is relatively complex, to implement a multi-config replacement of cmake stock find_packages.

[2020-06-30 18:14] planetmarshall commented on #5127
Came across this in a search so thought I'd post in case it was useful.

I recently had a particularly frustrating case and solved it as follows:

1. Run `conan install` and check for the missing package error. At time of writing (Conan 1.26.1) it will output the requested options, settings and dependencies for the missing package.
2. Run `conan search <package> -r <remote>` and find the package i

[2020-06-30 18:46] sourcedelica opened #7287 "[bug] user_home_short=None doesn't work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio
  * Conan version: 1.26.1
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
Add `user_home_short = None` to `conan.conf`.  Conan still uses short paths for the recipes that use them.  Setting `CONAN_USER_HOME_SHORT=None` does work.

### Log

[2020-06-30 18:57] sourcedelica commented on #1498
Thanks.  I've replaced `cmake_multi` with `cmake_find_package_multi` in our project `conanfile.py` and it works.  I kept the `cmake` generator to avoid having to add lots of `find_package`s.  I only need `find_package` for a couple of libraries: Protobuf and Poco.  Poco because we are using `CONAN_LIB` to use individual libraries.  For example:
[code]

[2020-06-30 21:27] memsharded commented on #1498
Hi @sourcedelica

Then certainly you want to keep an eye and try the 1.27 release that will provide ``components`` support for ``cmake_find_package_multi``, so when the Poco recipe implements components, then integration should be even more transparent.

[2020-06-30 21:29] memsharded commented on #5127
Hi @planetmarshall

Maybe for this use case, the new ``conan search <ref> --table=file.html`` can be helpful, as it will output an html that allows filtering and searching, including transitive requirements, so that can help debugging faster what is the missing binary. Have you had a look at this feature?

[2020-06-30 21:45] planetmarshall commented on #5127
I haven't yet but thanks - I'll keep it in mind for future troubleshooting.

[2020-07-01 00:26] sourcedelica commented on #1498
Awesome!  Will do.

[2020-07-01 05:43] IvanRomanovski opened #7288 "[question] is it possible to override user selected profile in conanfile.py?"
I am cross building a library which generates config header file "config.h" by executing Autotools configure. The issue is that I am trying to cross compile to Emscripten (https://docs.conan.io/en/latest/integrations/cross_platform/emscripten.html) and one of the tests configure script performs is whether compiler can create executables, which Emscripten cannot.

Is is possible to perform Autotool

[2020-07-01 07:40] memsharded commented on #7288
Hi @IvanRomanovski

It is not clear the problem you are trying to solve. Why not providing the profile that you want with the configuration you want in the command line with ``--profile=myemscriptenprofile``? If you are building for Emscripten you should be passing a Emscripten profile? Please let us know a bit more (there are some people like @theodelrieu or @jgsogo that might help with emscripte

[2020-07-01 07:47] IvanRomanovski commented on #7288
@memsharded Thank you for your quick reply. In retrospect it wasn't a good question (and wrong approach). Sorry.

[2020-07-01 07:47] #7288 closed, assigned to nobody

[2020-07-01 08:00] derived-coder commented on #7269
@memsharded
ping :innocent:

[2020-07-01 08:16] memsharded commented on #7269
Not very clear yet. You mean the package recipe A uses python to generate C++ code? Then the library A does not need any python thing at all, just C++.

In that case, I think the simplest and probably more robust way is to install the 3rd party python packages as a prerequisite, together with Conan. Possibly create a ``requirements.txt`` and do ``pip install -r=requirements.txt`` with all the Pyth

[2020-07-01 09:04] jgsogo commented on #7285
Hi! Yours is one of the use-cases we had in mind when designing this new feature, we still need feedback and more examples to polish it before having the final version. So, thanks a lot for sharing with us your thoughts about it. There are more issues about this topic and I'm trying to link them all to https://github.com/conan-io/conan/issues/7120.

---
**Disclaimer**.- _Please, realize this is no

[2020-07-01 09:08] redradist opened #7289 "[feature][updated] Add support working with GitHub"
It would be nice to be able build from GitHub release page (if sources provided) or get binaries if it is available and properly structured with meta information (compiler, architecture) ... because GitHub release page is already like `Bintray` and it could be used directly without need of other services

## Update
Also one possibility is to just compile from sources if repository has `conanfile.p

[2020-07-01 10:01] michaelmaguire commented on #7282
Wow, that's psychic levels of service!  Awesome.  Thanks.

[2020-07-01 10:01] #7282 closed, assigned to memsharded

[2020-07-01 10:04] sduerr opened #7290 "[bug] same build requirement added twice to the lockfile"
Build requirements are duplicated in lockfiles, if multiple packages in the graph depend on them. Furthermore, the build profile is not applied when installing a packages referencing a lockfile.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04.4 LTS
  * Compiler+version: gcc-linaro
  * Conan version: 1.26.1
  * Python version: 3.7

### Steps

[2020-07-01 10:36] memsharded commented on #7282
And today 1.27 release will include ``conan.conf`` configuration to validate also the current running Conan client version, so it is possible to force developers to update their clients :)

[2020-07-01 10:42] memsharded commented on #7289
Hi @redradist

I am sorry, but this is not possible. Not only Conan communicates with its own api to services, but there are many core things in Conan that cannot be implemented: the separation but complete connection between package recipes and package binaries, representation of different users and channels, resolution of version ranges, resolution of package revisions, searching for recipes, se

[2020-07-01 10:42] #7289 closed, assigned to nobody

[2020-07-01 10:48] memsharded commented on #7290
Thanks for reporting this issue @sduerr

We are working right now in some improvements to the lockfiles in https://github.com/conan-io/conan/pull/7243, next iteration (1.28) will most likely include fixes for this.

[2020-07-01 11:03] redradist commented on #7289
@memsharded Only issue I see is the searching ... But it could be fixed by adding to `conaninfo.txt` additional repository url, that is all
All other stuff: Developer will have to wrap the binary package with meta information

[2020-07-01 11:58] slietzau commented on #7285
Thank you very much for the detailed replies!

@memsharded Your summary is spot on.
It is worth adding that the "host" packages will be built for a number different host profiles(~10) and only the exotic ones require a cmake toolchain file. Putting any logic about the toolchains into library recipes is very undesirable. So for now we used 'CONAN_CMAKE_TOOLCHAIN_FILE` to tell conan and cmake about

[2020-07-01 12:17] jgsogo commented on #7283
I'm answering here, although it might apply to https://github.com/conan-io/conan-center-index/pull/1925 or https://github.com/conan-io/conan-center-index/pull/2097

IMO this information should be stored in the `conandata.yml` file, it is information needed by the recipe and I think it is a cleaner approach to use `conandata.yml` than to read a file stored together with the recipe.

That informatio

[2020-07-01 12:22] jgsogo commented on #7285
Thanks!

If you can (and want) to share with us the working POC it would be amazing. Having a look at these examples in the wild helps us **a lot** when thinking about how to evolve the feature.

[2020-07-01 12:24] madebr commented on #7283
Nope, there is nothing in conan preventing this.
Just the rules on CCI that are currently too tight.

I'm left wondering though, what is the purpose of `export` and `exports` if one can only access files in the `export` function?
As I see it now, it is only useful for exporting licenses.

[2020-07-01 12:35] jgsogo commented on #7283
`export/exports` is to gather files/information that are needed by the `conanfile.py` file itself, like `conandata.yml`, the license, metadata,... and for the `boost` package, for example, it is a good place to read the file that contains the dependencies and store only the information matching the version in the `conandata.yml` file:

(I haven't run this, I'm not sure about working directories)

[2020-07-01 13:30] AkileshDS1994 opened #7291 "[bug] 'conan remove' doesn't work with a pattern (expected same behavior as 'conan search')"
Hi Team,

We have **dev** and **prod** conan packages in our artifactory.

**_conan search -r sample-artifactory_**
Existing package recipes:

ABC/3.11.4_eb1@dev/4201ccae9274e22a9306ca9ce4907ca1a2ff7fcb
BCD/3.11.5_test@dev/054d64a961056031a6ab97f5f761281be0638a2b
EFG/3.11.6_test@dev/3ab6718bc5760f4871abb186e40c7b1f176c99a1
XYZ/3.11.4@prod/6201ccae9274e22a9306ca9ce4907da1a2ff7fce
PQR/3.11.5@prod/75

[2020-07-01 14:17] ericriff opened #7292 "[bug] Retrieving packages fails when first remote is not available"
The company where I work has its own artifactory server to host conan recipes/packages. We have it configured to be first in line, before conan-center.
[code]
Since we're working from home we need to access it through a VPN. If the VPN is down or if I'm not connected to it I would expect a warning from conan saying that my remote is unreachable and then continue searching for my requirements in th

[2020-07-01 21:52] 0x8000-0000 commented on #7070
My question is, why am I getting this flag when building on Ubuntu? I understand it to be set when building on RedHat with their official compilers.

The point is, for the benefit of a single distro (admittedly with a large influence) we're adding this macro to build systems everywhere until the end of time.

[2020-07-01 22:31] memsharded commented on #7070
Because Conan  by default, does not manage or model the different distros. It is possible to do it and add custom settings to represent different distros, but it is not built-in. As such, the only safe way is to provide always the flag and switch the 1 or 0 value. We haven't find any docs out there where setting _GLIBCXX_USE_CXX11_ABI=1 was discouraged.

[2020-07-02 03:42] 0x8000-0000 commented on #7070
Actually, in the enterprise case this is a needed feature. We're just running into this where we have to build and package the same application for several versions of Ubuntu/SuSE/RHEL. We can definitely add the setting, but it would be handy for Conan to automatically identify the distribution and create a different binary package - this is more relevant for the GLIBC even since the ancient RHEL

[2020-07-02 05:48] kushalembsys opened #7294 "How to copy source code file of all packages in transitive dependencies?"
Lets say my project is dependent on package `B` and the package `B` in turn depends on package `C`. Provided both these packages `B` and `C` have respective source code in it.

My project's `conanfile.txt` can be realized is as follow:
[code]
The `[imports]` copies only source files of package `B` and **not for `C`**.
If I explicitly write `C, * -> ../C` in `[imports]`, it copies source file of bo

[2020-07-02 07:04] SSE4 commented on #7264
technically, this is possible, conan could detect broken toolchains and report warnings about them
but I am not sure if it's ideologically conan's responsibility to check for bugs in toolchains
@memsharded WDYT?

[2020-07-02 09:01] jgsogo commented on #7294
Hi, @kushaldalsania

There are several issues trying to retrieve sources from dependencies in order to compile them all together in the consumer package. This is something possible, but requires a little bit of work on your side... Conan is a package manager and we are focused on sharing binaries, this problem will take us some time before addressing the source-packages one.

Have a look to this i

[2020-07-02 09:05] memsharded commented on #7294
It seems that B is a folder inside the package B, so that pattern only matches for package B. If you want to automatically package from all dependencies, you might try:

[code]

[2020-07-02 09:05] jgsogo commented on #7292
Yes, it is expected, and it was one of the motivations to add the `disabled` flag to the remotes (https://github.com/conan-io/conan/pull/5623). From our POV it is very important for the user to know exactly where the binaries they are using come from.

[2020-07-02 09:13] jgsogo commented on #7291
Hi! According to the documentation `conan remove` accepts a pattern, if it doesn't work the same way as `conan search` it is a bug.

---

Nevertheless, I would recommend you to have different repositories in your artifactory, one for the _production_ packages and another one for the _development_ ones. That way you don't need to use different references and when you consider a package ready for pr

[2020-07-02 09:26] jgsogo commented on #7287
Thanks for reporting.

Indeed it looks like that `user_home_short` is not taken into account at all  😮  Interesting bits here in the property `short_paths_home` (https://github.com/conan-io/conan/blob/develop/conans/client/conf/__init__.py#L492), but later it is not used in when actually using the [short home for Windows](https://github.com/conan-io/conan/blob/b9789e3ab85609358af41f63d5599750b6dc1

[2020-07-02 12:09] memsharded opened #7295 "[testing] Testing for zipping/unzipping with symlinks"
Create tests for:

Compress (tgz) then uncompress different folders with:
- symlinks, broken, abs, relative
- hardlinks

Make it flexible to be able to plug another compression algorithm
Use standard python lib tgz compression

[2020-07-02 12:56] ericriff commented on #7292
Of course it is important to know where the binaries are coming from, that why we use our own remote and the packages we upload there have our own  `customuser/channel`, that way even though we also have `conan-center` configured as a remote we can make sure that we're always pulling from our server.
We have two intended uses:
* During normal operation we have a list of requirements that end with

[2020-07-02 13:25] AkileshDS1994 commented on #7291
Hi Javier,

What i noticed is the  above **conan remove** works with git bash client in my local but does not work when run in the Jenkins job in the **Execute shell** build step.
However **conan search** works with out any issue.

Its a wierd beahvior. Is this an escape issue in Jenkins step? then it should affect the conan search command also.

Thanks in advance!

Regards,
Akilesh D S

[2020-07-02 13:55] jgsogo commented on #7292
Hi, yes, it happens to me exactly the same for my personal projects and other remotes I add to Conan from time to time while trying different issues. What I do now is to have two different working environments, each one with a different Conan home, so they have different settings, different cache (I don't want to remove accidentally all the packages),... it is really easy to switch from one to the

[2020-07-02 14:21] jgsogo commented on #7291
That's weird, it should be something related to Jenkins, then. Are you sure they are the same characters? Are both commands executed in the same node?

[2020-07-02 15:02] ericriff commented on #7292
Got it. I'm closing this then.
Thank you very much for your time Javier!

[2020-07-02 15:02] #7292 closed, assigned to jgsogo

[2020-07-02 16:45] michaelmaguire commented on #7282
I think I just ran into a bug with this.

I've raised it as: https://github.com/conan-io/conan/issues/7297 "[bug] Automated config update exception needed for conan config install commands to prevent catch-22"

[2020-07-02 16:50] michaelmaguire opened #7297 "[bug] Automated config update exception needed for conan config install commands to prevent catch-22"
Relates to the feature discussed in https://github.com/conan-io/conan/issues/7282

I think I just ran into a bug with this.

I had made a personal fork of our teams config to test out making this change, and used it to set up my own client with:

[code]

I tested that, it worked fine, I got approval and landed the PR on our team's repo, and deleted my fork.

Today I went to perform a conan operati

[2020-07-02 17:08] ghost opened #7298 "[question] compiler.libcxx value with musl's libc.so?"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Maybe I missed it in the [documentation](https://docs.conan.io/en/latest/reference/config_files/settings.yml.html?highlight=compiler%20libcxxettings.yml.html?highlight=compiler%20libcxx#c-standard-libraries-aka-compiler-libcxx)  but could not find a reference  whether/how `compiler.li

[2020-07-02 20:39] rddesmond opened #7299 "[bug] Infinite recursion when checking for an option in the package_id method"
Thank you for all the great work in conan!  I was working on a base class that would invoke `shared_library_package_id` conditionally if "shared" was in the options.  (A try-catch would work for this case, but I was working through some ideas.)  I found that the `in` lookup was causing infinite stack recursion.

[code]

### Environment Details (include every applicable attribute)
  * Operating Sys

[2020-07-02 21:14] Cazadorro opened #7300 "[bug] Conan remove --locks doesn't work"
### Environment Details (include every applicable attribute)
  * Windows 10
  * Mingw64 gcc 9.2
  * Conan 1.27.0:
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

Tried to install ZMQ https://conan.io/center/zmq/4.3.2/  entered in password wrong (also plain text visibility on password...?? what...?) conan apparently couldn't handle it, and after an hour, nothing, ctrl-c, qu

[2020-07-02 21:25] LunarWatcher opened #7301 "[bug] The SCons generator doesn't export system_libs"
As a bit of background, I recently had a very strange issue with icu/67.1. Specifically, when I built the release build, it produced linking errors. The debug build was strangely fine, but this turned out to be random.

A few rabbit holes and a few hours later, I managed to figure out why -- I wasn't linking against `-ldl` and `-lpthread`. Linking against only `-ldl` didn't cause link errors, but

[2020-07-02 22:08] memsharded commented on #7301
Hi @LunarWatcher

Thanks very much for your detailed report, very appreciated.

Indeed a bug, ``system_libs`` was introduced recently, it was apparently implemented in all generators but scons. As SCons is not that common nowadays, this bug passed unnoticed.

I have submitted a fix in https://github.com/conan-io/conan/pull/7302, scheduled for next release. As an SCons user, it would be great if yo

[2020-07-02 22:24] memsharded commented on #7300
Hi @Cazadorro

Please let me first suggest a few things:

- The package that you are using is one of the "older" ones, you probably want to use https://conan.io/center/zeromq/4.3.2/ instead. The issue is that packages with ``user/channel``, like ``@bincrafters/stable`` are packages from the old inclusion process, and no longer maintained that well. New packages are contributed via https://github.c

[2020-07-02 22:38] LunarWatcher commented on #7301
Just ran it against my actual project, as well as the test code I included here, and it does properly include all the system_libs now. Also checked against 3 additional libraries (just checking the flags though), and all of the relevant system libraries seem to be included in the flags, so it looks good to me.

That being said, and I have no way to test this because I don't have a Mac, but does th

[2020-07-02 22:50] memsharded commented on #7299
Thanks for the detailed report! I have provided the necessary ``__contains__`` method so this check is possible: https://github.com/conan-io/conan/pull/7303

In any case, I would also suggest to reconsider the check. It sounds unusual to do the logic based on the existence of an option and not its value. Which option are you checking? Is it ``shared``? Maybe something that could be built-in in the

[2020-07-02 23:01] rddesmond commented on #7299
Whoa, that was really fast, thank you!  I mirrored it after the check in `shared_library_package_id` itself (why doesn't it's check ` if "shared" not in dep_options` break too?), but with the goal of a base class having similar logic.  Specifically, this was a base class for boost, which has some header-only components and some with a compiled library.

Boost has no requirements, so this probably

[2020-07-02 23:07] memsharded commented on #7301
That was a quick check, great :)

Good point about the frameworks. That is right, the generator is not handling the frameworks either, exactly same issue as ``system_libs``, also for the same reasons.

I don't have a Mac, neither I know much about SCons, but I have contributed them based on https://scons.org/doc/production/HTML/scons-man.html documentation, in same PR: https://github.com/conan-io/

[2020-07-02 23:22] memsharded commented on #7299
Good point. This is because internally, it is checking against ``self.info.full_options``, and the attribute check there doesn't raise if the attribute (in this case the ``shared`` option) is not defined. Same happens if you directly test the ``self.info.options.whatever``, it will not fail if not existing. I have added those cases to the tests in the PR too.

[2020-07-02 23:33] memsharded commented on #7297
Hi @michaelmaguire

We added to Conan 1.27 two commands:

[code]
To be able to remove configurations you don't want anymore. Would they solve the issue? What we didn't want to add is to quiet or silently pass over missing configuration origins. That should be an error and that should raise, then Conan provide the tool to manage the ``conan config install`` origins more easily.

What is not clear i

[2020-07-03 00:34] michaelmaguire commented on #7297
Yes, there was an auto scheduled config due.

I can't make any more conan calls without it trying to check for updates from the old, non-existent location.

[2020-07-03 01:46] Cazadorro commented on #7300
@memsharded When I was on my companies VPN, it asked me for a password, and forced me to create an account.  When I disconnected from the VPN, it didn't even prompt me.  I don't know what bearing proxies and VPN's have on conan doing that, but I didn't get any indication of why this difference would exist.

downloading zmq apparently works as well.

[code]

Not sure how to properly search for libr

[2020-07-03 08:26] memsharded commented on #7300
Ok, let me explain a couple of those issues:

- The ConanCenter front end is in https://conan.io/center/. It is a new thing, it was launched earlier this year. This website will for example promote packages without user/channel.
- The recipes for this center are in this repo: https://github.com/conan-io/conan-center-index. The community contribute them, and we have a build service that automatical

[2020-07-03 08:29] vrafi opened #7304 "[question] How to add a dependency package .so to the LD_LIBRARY_PATH?"
I have a project that contains several other smaller dependencies, and some of them can be present during runtime, but they don't have to be. I'd like to append their lib dirs to the LD_LIBRARY_PATH and, during runtime, try to access them via dlopen, like the plugin. For that to work, I need to set the path of my plugin lib, but I'm not sure how to do it. I've found this in one of the man pages.

[2020-07-03 08:34] memsharded commented on #7297
Ok, I see what is happening.

You should at least be able to ``conan config install --list`` and then remove the ``conan config install --remove=index`` offending/non-existing origin. That will not try to launch the auto-scheduled call.

However, for cases where it fails (for example, no internet connection), it is likely that users don't want to remove the origins. So most likely, the scheduled t

[2020-07-03 08:46] michaelmaguire commented on #7297
In this case, the command I was trying to run was to sent a new origin, which I was unable to do.

[code]

It seems like there should be an exception to the update check for the `conan config install` command.

I updated to 1.27, and it still suffers from this catch-22:

[code]

It's very easy to repro -- just fork your config repo, set `config_install_interval = 1m`, then  `conan config install`

[2020-07-03 08:58] memsharded commented on #7297
Thanks for the detailed report. You are right, this is a completely a bug, needs to be fixed. Please @uilianries have a look.

[2020-07-03 09:09] michaelmaguire commented on #7297
No worries.  It's a nice feature.  You want to make an omelette, you need to break a few eggs.

[2020-07-03 09:31] jgsogo commented on #7298
Hi @n8v8R !

Conan settings are like coordinates to locate packages, the settings in `settings.yml` are the framework where concrete values provided in the profiles or command line must fit. Those concrete values are translated into actual compiler and linker flags by the build helpers.

Currently, Conan default configuration doesn't allow (neither understand) a value `musl` for the setting `compi

[2020-07-03 10:15] Johnnyxy commented on #7304
Hi there,
I think you misunderstood the purpose of Conan. Conan is apackage manager targeted to support dependency management at build time. It is not intended to be used as runtime dependency mangement tool.

At Conan-time you can have those environment variables set in a runtime context (see [here](https://docs.conan.io/en/latest/reference/build_helpers/run_environment.html) and [here](https://d

[2020-07-03 11:04] jgsogo commented on #7270
Hi! Thanks for submitting a reproducible example. I've removed some bits that are not needed to reproduce the bug. I'll add it as a test to reproduce (and fix) it in the codebase.

**package1.py**
[code]

**package2.py**
[code]

**package3.py**
[code]

Prepare the cache:

[code]

---

### Failure 1:

[code]

[code]

[2020-07-03 11:51] arsdever opened #7305 "[bug] vcvars_command doesn't allow setting custom winsdk_version"
Hi folks. I have found a very strange behavior when executing `MSBuild.build()` function and trying to use custom specified windows SDK version. The thing is though it is reflected in the command line, it is not used, because another version is set after the version you want to be set. To be more specific, I tried building for UWP and use `<my_sdk_version>` as an SDK version (say it is `10.0.18362

[2020-07-03 12:15] jgsogo commented on #7268
Hi! This is an interesting feature request, not only for the `description` or `URL` but also for other fields like the `license`. In the case of the license there are packages that have different licenses depending on an option (activating some GPL modules, commercial or not like Qt,...) and assigning the proper value in some initialization step would be really useful.

Up to know this is somethin

[2020-07-03 12:21] jgsogo commented on #7261
Hi! Is there any real use-case for this? For example, the target alias, IMO it is not something to be packaged with the library, it is something that belongs to the consumer

[2020-07-03 12:28] jgsogo commented on #7255
Hi, @craigaiken

You can write:

[code]

[2020-07-03 12:41] shivarajshivu commented on #4646
Hi All,

I'm using CONAN mainly to store external libraries and its header files.

Using conan i have built one c++ static library called as "traci". Using CONAN_PKG command i'm able to build my executable linking traci, there are no issues,  but when i'm executing i'm getting symbols related to "traci" library as not found.

but in cmake instead of linking using CONAN_PKG , if i link by giving ab

[2020-07-03 13:05] GrimSqueaker commented on #7046
Thanks.

[2020-07-03 13:17] madebr commented on #4646
@shivarajshivu If the error happens during executing, then `traci` is a shared library.
Run `ldd` on the `my_exe` executable to see what shared libraries it needs.

[2020-07-03 13:45] seanballais opened #7307 "[feature] Conan should recognize elementaryOS as a distro that uses apt"
elementaryOS is a Linux distro based on Ubuntu. So, it uses `apt`. However, Conan, via the `conans` module, disagrees and says that it does not use `apt` when calling `tools.os_info.with_apt`.

[code]

Letting Conan know that elementaryOS uses `apt` is important since recipes that have to know whether or not the distro they are running in uses `apt` may have to resort to doing something less than

[2020-07-03 14:23] wdobbe commented on #7268
Hi Javier,

Thanks for that tip. It is indeed possible to set the description, url and homepage attributes from the configure  function.
Previously I tried to do that from the setname() function, but that doesn't work.

However I encounter a problem with that solution:

I read the CMakeLists.txt with command
`tools.load(os.path.join(self.recipe_folder, "CMakeLists.txt"))`.
However in the configure

[2020-07-03 14:32] memsharded commented on #7307
Hi @seanballais

Thanks for submitting this issue. Yes, we recently added ``pop`` there, so I see no problem to add there ``elementary`` too. Would you like to send a PR yourself, as you have already investigated where to add it?

[2020-07-03 14:42] jgsogo commented on #7268
Yes, this is most likely the issue with this feature request. Unless the file you are reading is side by side with the recipe it can be challenging and might stop working if it is not documented behavior. Another alternative you can consider is to use the `conandata.yml` to store that information and then pass that info from Conan to CMake.

Calling `super` when you inherit from another class and

[2020-07-03 14:53] wdobbe commented on #7268
Actually the CMakeLists.txt is in the same directory as the conanfile.py. But still I cannot read it without supplying the recipe folder path:
[code]

No problem, calling the parent class configure() function is fine for me. The advantage of the set_name() and set_version() functions is that they work 'invisible' even to derived classes. So instead of several set_xxxx() functions maybe we could ha

[2020-07-03 14:54] seanballais commented on #7307
Hey, @memsharded. Sure! I'll send a PR as soon as I can.

[2020-07-03 15:13] SSE4 commented on #7307
okay, maybe we can nail everything down at once, as there are many debian and ubuntu based distributions: https://en.wikipedia.org/wiki/List_of_Linux_distributions#Debian-based
https://distrowatch.com/search.php?basedon=Debian#simple
https://distrowatch.com/search.php?basedon=Ubuntu%20(LTS)#simple

[2020-07-03 15:20] SSE4 commented on #7307
also, as new distros appear almost every month (it's actually very simple to create your own distro like BolgenOS), maybe we can go away from maintaining a hard-coded distro list, and just verify if `apt` exists and it's really apt package manager (not just a random executable named apt).

[2020-07-03 15:22] seanballais commented on #7307
Checking if `apt` itself exists should be a better option. Alright. I'm working on it.

[2020-07-03 15:54] DukeOfKirkcaldy opened #7308 "[question] Override settings for specific dependencies in recipe"
I am integrating libraries from a 3rd-party supplier into an app and want to share the binaries with them to support their own debugging.  To protect some sensitive IP, I want to only pull the `build_type=Release` packages for some of our internal requirements to prevent the debug symbols being visible in the final binary.

I know this is currently possible in [profiles](https://docs.conan.io/en/l

[2020-07-03 16:06] jgsogo commented on #7268
For the usage you want (you don't need settings or options there) the [function `init()`](https://docs.conan.io/en/latest/reference/conanfile/methods.html#init) can be the best candidate. For other attributes that might require options values (like the `license` example) we need something else.

If you want to read the `CMakeLists.txt` from the recipe file, you need to export it together with the

[2020-07-03 16:19] Ri0n commented on #7232
It's related to the `scm` dict.

I tried to add some failing function before and after scm dict and call it from `build()`. So before scm dict the failure line is correct. but after is wrong.

[2020-07-03 16:25] seanballais commented on #7307
I've just submitted a [PR](https://github.com/conan-io/conan/pull/7309)!

[2020-07-03 16:28] memsharded commented on #7232
Are you using the ``auto`` feature? I did try using the ``scm`` and it worked ok. It could be a side effect of replacements in the ``conanfile.py`` as a result of ``auto``. If you are using ``auto`` can you please check the ``conanfile.py`` that is in the cache, after the ``auto`` replacement?

If this is the case, I would strongly suggest using ``scm_to_conandata`` configuration: https://docs.con

[2020-07-03 16:40] ghost commented on #7298
Thank you for the extensive feedback, though surprising that *conan* does not support musl's libc natively.

[2020-07-03 16:40] #7298 closed, assigned to nobody

[2020-07-03 16:55] memsharded commented on #7308
Hi @GordonJess

I am afraid it is not possible. One package cannot set the settings values of its dependencies. It shouldn't even define its own values. Settings values need to come always from a profile or command line.

We know from the experience with the ``options``, that recipes defining the options of their dependencies is a complicated thing (just in case you were asking for this, it is pos

[2020-07-03 17:15] Ri0n commented on #7232
yes in the cache the dict looks like
[code]
while in my recipe it's
[code]

[2020-07-03 17:23] Ri0n commented on #7232
Just checked `scm_to_conandata`. It works. From the docs it's not clear why it's not default.

[2020-07-03 17:39] memsharded commented on #7232
It would be breaking making it the default, but we certainly should push this configuration in the docs, so users are strongly encouraged to used it, specially as it will be the default and only way to do it in Conan 2.0.

As the line numbers are actually OK, as they are counting correctly in the modified recipe, I am moving this issue to the docs, to push for the usage of scm_to_conandata more st

[2020-07-03 17:57] DukeOfKirkcaldy commented on #7308
Currently suppliers find packages through `buildInfo` links in Jenkins, and they download them directly from the artifactory web UI.

The reason I was looking for an `options` solution is that we also need this same package to be built with all debug symbols for our own internal debugging:

`-o supplier=True`  (no debug symbols for internal libraries)
`-o supplier=False`  (all debug symbols)

and

[2020-07-03 18:43] prince-chrismc opened #7310 "[question] Failure to install when cached package "does not belong""
I am trying to understand the failure that occurred in my CI pipeline. zlib recipe was out of data and removed but conan did not attempt to download the new copy.

Is this the expected behavior?

- zlib/1.2.11: WARN: The package zlib/1.2.11:8cf01e2f50fcd6b63525e70584df0326550364e1 doesn"t belong to the installed recipe revision, removing folder
- zlib/1.2.11:8cf01e2f50fcd6b63525e70584df0326550364e

[2020-07-03 20:53] uilianries commented on #7297
@memsharded Not only this problem, but if there is no config listed in the index we will have a problem. I think we should put a warning, and ignore the error.

[2020-07-04 06:57] seanballais commented on #7307
@SSE4, perhaps later on, we can stop depending on a hard-coded distro list and have the package manager properties (e.g. `with_apt`) check for the existence of the appropriate package manager executable.

[2020-07-04 07:33] Armoken commented on #7257
Oh, excuse me. I though that building of all requirements will fix linking errors, but it isn't so.  Question is settled, I am closing issue.

[2020-07-04 07:33] #7257 closed, assigned to nobody

[2020-07-04 14:55] gsemet opened #7312 "[feature] provide self.recipe_folder in requirements()"
In my `def requirements`, I need to have access to the folder of the recipe to read another file. Since it is not nessary the current class (I am playing with python_requires). So using __file__ is not straight.

`self.recipe_folder` seems only accessible through `set_version` and `set_channel`. Could it be possible to have it available for `requirements` as well? thx

- [x] I've read the [CONTRIB

[2020-07-05 22:03] memsharded commented on #7312
Hi @gsemet

This feature seems very simple to implement, I have done a proof of concept in https://github.com/conan-io/conan/pull/7314, but we really need to make sure this will not open the door to more problems or have some other implications.

[2020-07-05 22:46] acronce commented on #7286
With some help and was able to build the necessary prerequisites and install Conan. The last issue was the need to change my settings.yml to include Apple Clang 12:

[code]

Probably a good idea to change the Conan code that creates settings.yml to do this so that new installations on Apple Silicon machines will work with Xcode 12 out of the box.

Let me know if you want me to create a separate ca

[2020-07-05 22:52] memsharded commented on #7310
Hi @prince-chrismc

I have been trying to reproduce this, but no success. Whenever the package folder is removed, it is marked as ``missing`` or is retrieved from the server. A couple of questions:

- Which Conan version are you running?
- Is it possible that you have mixed using revisions and not using revisions? If you start using revisions, maybe you want to clear the cache first.

If you could

[2020-07-05 22:59] memsharded commented on #7286
Hi @acronce

Yes, definitely version 12.0 can be added to the default settings.yml for next Conan 1.28 release. You can open a new issue, or if you want to directly contribute a PR to add it, that would be great, shouldn't be very difficult, please do. Please take into account that if the default settings.yml change, it is necessary to change the last line in ``migration_settings.py`` to store the

[2020-07-06 01:54] acronce commented on #7286
Sounds straightforward enough. I'll do a PR this week.

[2020-07-06 06:17] AkileshDS1994 commented on #7291
Hi Javier,

Both the commands are the same, they have the same characters. They are running in the same node back to back. Works in git bash but does not work in Jenkins.

Please find attached the Jenkins configuration and console output.

Thanks in advance!

Regards,
Akilesh D S
[conan remove jenkins issue.txt](https://github.com/conan-io/conan/files/4877074/conan.remove.jenkins.issue.txt)

[2020-07-06 07:41] Ri0n opened #7315 "[question] Documentation doesn't define a recipe dir variable to be used from conanfile.py"
There are a few *_folder variables described. but If I have conanfile.py in some independent directory the docs do not mention how can I can this directory from withing the recipe.

Basically I need to copy on file from recipe dir to build/source dir before build starts.

[2020-07-06 08:31] gsemet opened #7316 "[feature] Load and lock direct dependencies from external files"
Hello,

Here is my idea, can you tell me if I am wrong somewhere. I come from the Python world where we deal with the requirements and lock file from many times, and it is far from being perfect.

Today I am working on a way to use Conan on our C++ modules that does things manually, Conan is the perfect match for packaging them and made reuse of code easy for developers.

So, my needs are the foll

[2020-07-06 08:42] akemimadoka opened #7317 "[feature] Fetch host information in build_requires recipes"
build_requires recipes which setting up the building environment should be able to fetch host information.

Like https://github.com/bincrafters/conan-android_ndk_installer, if use command like

profile "android" is

I got:

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-07-06 09:03] memsharded commented on #7315
This would be addressed by https://github.com/conan-io/conan/pull/7314 too (that is only a proof of concept, we are discussing alternatives and risks of this feature)

[2020-07-06 09:06] dovydas-girdvainis commented on #7005
Hello everyone,

Sorry to have kept this issue unresolved for so long, our IT put this issue on the back burner for a while, but now it has been resolved.

It seems something was messed up during the initial installation of Conan CE Artifactory, not sure what thought...
After our IT did a clean install and used the provided NGinx configuration everything worked as expected!

Anyways thank you all

[2020-07-06 09:06] #7005 closed, assigned to memsharded

[2020-07-06 09:23] fschoenm commented on #7249
@jgsogo I understand. Unfortunately, due to our network infrastructure it is impossible to configure a server that is visible in all involved locations/networks. So far we follow the approach (2) by sharing the conan recipes, which is exactly the workflow I'd like to simplify.

I hope you can find time to add the feature in the future. Essentially, I'd like to use only the "packaging" part of the

[2020-07-06 10:34] Ri0n commented on #7315
Cool thanks.

[2020-07-06 11:20] jgsogo commented on #7317
Hi, @akemimadoka .

This is an issue with the recipe you are linking, not with Conan itself. That recipe declares that the only valid value for `os` is `Android`, and you have Linux in your profile for the _build_ context (`-pr:b=default`).

I have to say that your understanding of how to use the two profiles is good, and adding the build_requires to the _host_ profile is definitively the way to g

[2020-07-06 11:30] akemimadoka commented on #7317
Thank you! I think the key is android_ndk_installer cannot get information of host, because it's a build requirement, not only the fault of the recipe. So I'm thinking whether here is a mechanism to make a build requirement have ability to get host information or not.

[2020-07-06 11:35] jgsogo opened #7318 "[feature] Recipe settings populated by default"
It looks like most recipes (if not everyone) are finally adding all the first-level settings to the `settings` declaration inside the conanfile: header-only topically need it (https://github.com/conan-io/conan-center-index/issues/1957) at least to check the C++ standard, _installers_ need them as long as they need to be compiled,...

The default for a ConanFile would be to take all the first-level

[2020-07-06 11:37] jgsogo commented on #7317
What information do you need in the _build_ context from the _host_ environment?

[2020-07-06 11:43] akemimadoka commented on #7317
Like settings.os.api_level, and settings.compiler.libcxx, they are provided as build profile.

[2020-07-06 11:50] jgsogo commented on #7317
Via `self.settings_target` from the recipes that are build_requires of the _host_ context you can get the settings you are using in the _host_ context.

[2020-07-06 11:53] akemimadoka commented on #7317
Thank you!

[2020-07-06 11:53] #7317 closed, assigned to nobody

[2020-07-06 12:09] prince-chrismc commented on #7310
This has happened once to my knowledge after 1000s of builds.

1.22 ( which may be apart of the problem ) However updating the production build images is still an uphill battle :pray:

Our first deployment was using revisions. It was a hard requirement since packages being uploaded to CCI have a delay... Not that our version is far behind there's recipes we do not support.

Typically I would have

[2020-07-06 12:41] memsharded commented on #7310
Ok, thanks for the feedback @prince-chrismc

I have tried moving my tests to reproduce to 1.22 release, but still seems to be working ok there too.

What I have been checking is the source code flows, trying to imagine scenarios. It is possible that if after a ``shutil.rmtree()`` of a directory, if the immediate ``os.path.exists()`` of that directory returns true, because of the OS handling the re

[2020-07-06 14:15] prince-chrismc commented on #7310
This is using the MSI installer, I am not sure what version that would be built with.

I looks like its the install that may have an issue, When a corrupted package is detected ( perhaps in the `--update` sequence ) it's not correctly replaced. This sounds like a fairly uncommon path so perhaps that where this issue comes from?

[2020-07-06 14:54] #7301 closed, assigned to memsharded

[2020-07-06 15:01] memsharded commented on #7310
Yes, I managed to fire the case that "package doesn't belong to revision" with that flow, with the install with ``--update``.

This seems related: https://stackoverflow.com/questions/49809471/overwrite-directory-with-shutil-rmtree-and-os-mkdir-sometimes-gives-access-is-d

[2020-07-06 16:04] jgsogo commented on #7018
I'm closing this issue, if anything else is needed, feel free to open it again.

Thanks!

[2020-07-06 16:04] #7018 closed, assigned to jgsogo

[2020-07-06 16:55] memsharded commented on #7310
Some progress. I have made this to fail in Windows:

[code]

I launch the script then launch an antivirus scan of the temp folder and it fails in one of the ``assert not os.path.exists(d)``
This Windows is very annoying. Lets think about what can be done to minimize this.

[2020-07-06 16:59] memsharded commented on #7310
This issue is connected to:
- https://github.com/conan-io/conan/issues/2593
- https://github.com/conan-io/conan/pull/5639

[2020-07-06 17:29] #7307 closed, assigned to nobody

[2020-07-06 18:08] michaelmaguire commented on #4221
@pivotal-jbarrett , for now we have stuck with:

[code]

[2020-07-06 19:31] prince-chrismc commented on #7310
This is a nightmare on windows... We solved the issue with a retry, our discussion ended with "keep it stupidly simple" there's no new bugs that seem to stem from this issue.

Thank you for looking into the issue :smile:

[2020-07-06 20:39] memsharded commented on #7301
Merged to develop, will be in Conan 1.28. It is now available in PyPI test: https://test.pypi.org/project/conan

[2020-07-06 22:46] memsharded commented on #7310
Routine question, just to double check: Are you sure you have excluded your cache folder ''C:\\Users\\chris\\.conan'' both from the Antivirus and the Windows search indexer ``Windows Search Settings``?

[2020-07-06 23:01] memsharded commented on #7316
Hi @gsemet

For this there are 2 alternatives:

- Put it in ``conandata.yml``. This file is already automated, exported, and loaded into ``self.conan_data`` attribute, so it is very convenient.
- For your own custom file, you might need the ``self.recipe_folder`` as in #7314 if you need to use ``python_requires`` too, as you said the ``__file__`` might be the python_requires one. Hopefully this wi

[2020-07-06 23:02] memsharded commented on #7005
Hi @saukijan

Thanks very much for following up and letting us know, very happy to know that everything is working now. Cheers!

[2020-07-06 23:05] memsharded commented on #7300
Hi @Cazadorro

I have checked with the Bintray team, not aware of other similar cases, but they have checked the logs, nothing weird there that they could find. Did you get a bit more info from your administrators about your VPN?

[2020-07-07 04:49] prince-chrismc commented on #7310
I had never heard of the windows search indexer, I saw it in the issues you linked and shared it with my team to investigate. The anti-virus sadly is cooperate wide and we do not have control over it so it's safe to safe it can grab files in the cache

[2020-07-07 05:10] TimSimpson commented on #7261
I guess my main thinking is, if there is no great reason not to do it, and it offers some flexibility for people wanting to use build modules, then why not?

As for real use cases, my own is of course to create alias targets so I can name the CMake targets used by consumers of my own Conan packages anyway I want. I know upcoming features [like this one](https://github.com/conan-io/conan/issues/725

[2020-07-07 06:33] linhanwang commented on #6808
[root@462b46a40801 md5]# cat /root/.conan/profiles/default
[settings]
os=Linux
os_build=Linux
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=7
compiler.libcxx=libstdc++11
build_type=Release
[options]
[build_requires]
[env]

I think my configuration is correct. But I still have the problem.

centos 7.2;conan 1.27.0;Python 3.6.8

[2020-07-07 07:21] maikelvdh opened #7321 "[bug] Regression in linker flags list definition with macOS/iOS framework linker flags"
### Environment Details
  * Conan version: >= 1.25.0

### Steps to reproduce
**conanfile.py**
[code]
**test_package/conanfile.py**
[code]
**test_package/CMakeLists.txt**
[code]

### Logs
[code]

Caused by the generator expression definition of the linker flag list, which seems to be caused by the fix for #6779
[code]

[2020-07-07 08:27] memsharded commented on #6808
Hi @linhanwang

Are you using Devtoolset7? (I would say that is used in Centos7.2) It seems it is ignoring _GLIBCXX_USE_CXX11_ABI, so it will be defaulting to libstdc++ (https://bugzilla.redhat.com/show_bug.cgi?id=1546704). Have you tried changing your profile to ``compiler.libcxx=libstdc++``, do ``conan install`` again, and build again?

[2020-07-07 08:34] #7297 closed, assigned to uilianries

[2020-07-07 08:35] czoido commented on #7297
Merged the fix, will be release in 1.28

[2020-07-07 12:42] starsoup opened #7325 "[question] Consuming app's CMakeLists.txt does not find built package"
Using conan 1.22.1

- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi!

I'm using conan.cmake utility to build the required package which my consuming application needs to link against.

[code]

[code]

After the build I can see that the cache contains the package which is built correctly and it contains:

[code]

But the build o

[2020-07-07 13:52] steffenroeber opened #7326 "Using build type in components"
Example:
Old golbal approach
self.cpp_info.debug.libs += [Qt5Cored]
self.cpp_info.release.libs += [Qt5Core]

New approach with components:
self.cpp_info.components["Core"].libs = ["Qt5Cored"] #debug
#self.cpp_info.components["Core"].libs = ["Qt5Core"] #release
self.cpp_info.components["Core"].requires = ["openssl::openssl"] #same for debug and release
Is their any plan to support different buid_ty

[2020-07-07 14:23] uilianries commented on #7326
@steffenroeber I don't think it requires a new feature for components. We already use `if` condition to filter any setting. Thus, you can do:

[code]

OR

[code]

Again, it's not a new concept, this approach is the regular used for any recipe.

[2020-07-07 14:42] memsharded commented on #7326
To clarify a bit more about future plans: there are no plans to support multi-config components. With the new "multi" generators, like ``cmake_find_package_multi`` and ``msbuild``, it is becoming less an issue to consume different configurations packaged in single-config Conan packages. It is likely that Conan 2.0 will deprecate multi-config packages (it will be discussed first).

[2020-07-07 17:09] memsharded opened #7328 "graph --table=file.html does not show outdated packages"
They were previously shown in colors. I guess adding a column "outdated" will resolve this issue.

[2020-07-07 20:31] identify3d-joe commented on #2172
The fact that node-semver and semver cannot be in the same environment is a real pain. For example, I am trying to run both conan and nexus3-cli in the very regular use case of trying to query both artifactory and nexus in the same script. Can't do it......semver conflict. I am sure this same issue is related to any other library that uses python-semver.

[2020-07-07 21:18] memsharded commented on #2172
Sorry @identify3d-joe can you clarify this a bit? So you can't install Conan and nexus3-cli in the same python environment with pip? Which pip dependencies are raising a conflict?

[2020-07-07 21:35] identify3d-joe commented on #2172
If you do the following:

pip install nexus3-cli
pip install conan

then try to run:

nexus3 -version

You will get a semver error because node-semver just clobbered semver

This is a documented error in the node-semver issue list from March of this year:

https://github.com/podhmo/python-semver/issues/39

Unfortunately, there doesn't seem to be a work-around.

As a side note, that was a quick res

[2020-07-07 23:45] memsharded commented on #2172
Ok, I got it, thanks for explaining, I was not aware of of https://github.com/podhmo/python-semver/issues/39
This is unfortunate. At the moment it seems extremely unlikely that we could do this switch without breaking behavior, and also it seems that there are some gaps in ``python-semver`` or ``semver`` wrt the ``node-semver``, like the resolution of a version range from a list of available versi

[2020-07-07 23:52] identify3d-joe commented on #2172
This seems reasonable.

The installer version that you suggest won't work because I actually am using the your python interface to do some interesting things in python such as implementing a "get latest version" function to mirror the functionality in Maven.

However, in this case, the functionality of nexus3-cli is easy enough that I spent an hour or so and just wrote the minor functions I needed

[2020-07-07 23:58] memsharded commented on #2172
Ok, good to know you could workaround even the pyinstaller was not an option and thanks for the kind words!

[2020-07-08 02:28] Cazadorro commented on #7300
@memsharded sorry, my IT department is swamped and likely won't be able to respond to this kind of request until corona is gone, no matter how simple.

[2020-07-08 05:59] artzers opened #7329 "[bug] Conan install failed."
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: VS 2017
  * Conan version: 1.27.0
  * Python version: python 3.7.3

### Steps to reproduce (Include if Applicable)
I want to install debug and release version of hdf5.
1. I deleted the hdf5 package in conan package directory and run "conan install hdf5/1.12.0/@ -r=conan-cente

[2020-07-08 06:57] steffenroeber commented on #7326
Ok. Thank you. Could you say when the cmake generator will support components?

[2020-07-08 07:57] jgsogo commented on #7328
It is only about adding it to the requested headers in this snippet, as documented here: https://docs.conan.io/en/latest/extending/template_system/search_table.html

[code]

Users can add their own template if they want to.

[2020-07-08 08:00] jgsogo opened #7330 "[feature] Add components to 'pkg_config' generator"
This PR (https://github.com/conan-io/conan-center-index/pull/1782) is adding components to OpenSSL and overriding the name of those components for `pkg_config` generator:

[code]

How do components work with `pkg_config`?

[2020-07-08 09:13] jgsogo commented on #7326
Hi! The idea is to deprecate the `cmake` generator for Conan 2.0 and, besides that, it is not possible to provide the components with that generator, it offers and unique namespace `CONAN_PKG::` for all the targets, there is no room for them: `CONAN_PKG::OpenSSL::SSL`.

With the introduction of the new toolchain feature the main functionality of the `cmake` generator is totally superseded. We will

[2020-07-08 10:08] SSE4 commented on #7330
IMO they should generate one pkg-config file per component

[2020-07-08 10:09] steffenroeber commented on #7326
I currently evaluate migrating from cmake to cmake_find_package toolchain.
My current problem is following. Have a conan recipe to build a lib like Qt that depends on for example icu
If Qt has a build_type (e.g. Debug) but icu has no (because we want to use it only in Release mode), what's the prefered way doing this? Normally Conan would say, that both are incompatible. Clearly: I want to have Qt

[2020-07-08 13:28] uilianries commented on #7329
Hi @artzers !

There is a little typo in your command, the correct package reference is `hdf5/1.12.0@`. There are extra slashes in your command.

Please, take a look on the [getting started](https://docs.conan.io/en/latest/getting_started.html) documentation for further reference.

[2020-07-08 13:35] artzers commented on #7329
@uilianries  It's my carelessness. Thank you.

[2020-07-08 13:35] #7329 closed, assigned to nobody

[2020-07-08 13:42] derived-coder commented on #7269
@memsharded
Library A needs python in order to generate the C++ code. So no, the library needs this python modules as build require steps.
I see your point.

Another use case isa python library as itself. So no C++ code at all. And I see the problem, when you add multiple transitive layers. E.g. creating a conan python package P, which needs a certain python modules, and then consuming this librar

[2020-07-08 14:54] memsharded commented on #7329
Well, not that much your fault, there is some ambiguity in the CLI that doesn't help, and the error messages are not that evident. We have already started working in the new CLI for Conan 2.0, that will solve this issues.

[2020-07-08 15:28] michaelmaguire commented on #6930
Sadly, our team is quite separate from the team that maintains Artifactory in our company, and creating an Artifactory repo `conan-tmp` programmatically on the fly requires Artifactory Admin privileges which my team won't have:

Do you have you suggestions for how to do this "identify" mechanism without access to the admin account that would have the ability to create Artifactory repos on the fly?

[2020-07-08 16:24] jgsogo commented on #6930
Identify packages that belong to a PR

You can programmatically **assign a property to the Artifactory folder** or to individual files, the property can identify the maturity of the package, maybe include the id of the PR itself (maybe you need more than one property). Then using JFrog CLI you can query for all the artifacts identified by a property `key=value` and remove those artifacts (you can

[2020-07-08 16:50] jgsogo commented on #7326
There are other alternatives you can consider:
 * you can modify the `icu` recipe, remove the `build_type` from the settings so Conan computes the same package-ID for `build_type=Debug` and `build_type=Release` and build/upload only the release one. Conan will use that one always. The main problem with this approach is that **you will be losing information**.
 * (much better) you can add to your d

[2020-07-08 23:11] rddesmond opened #7331 "[feature] Make latest revision the latest uploaded, not latest created"
## Overview

When uploading a recipe and package, the date of that upload is stored in revisions.txt (or similar for Artifactory).  If the recipe is reuploaded, this date is not uploaded.  This can be a problem if the recipe is erroneously changed and that change is reverted.  Since the reverted version's hash collides with the original version, it's date is not updated.  This means the erroneousl

[2020-07-08 23:28] memsharded commented on #7331
Hi @rddesmond

Thanks for the detailed description!

Quick suggestion: have you tried running a force in the upload?

[code]
That might avoid the checksum checks and might put that revision again as the latest one. If you manage to try please let us know.

[2020-07-08 23:34] rddesmond commented on #7331
Good suggestion!  Same result, though.

[code]
[code]

[2020-07-09 07:00] jgsogo commented on #7330
Taken from https://github.com/conan-io/conan-center-index/pull/1782#discussion_r451820928

[code]

https://fedora.pkgs.org/30/fedora-x86_64/openssl-devel-1.1.1b-3.fc30.x86_64.rpm.html

[2020-07-09 07:20] jasal82 opened #7332 "[bug] conan remove fails when using -p without package id together with -r"
When I do `conan remove -f -p -r <remote> <existing_reference>` with a reference for which there is only a recipe but no binary package on the remote Conan fails with the following error message:

[code]

I would expect it to succeed even if there is nothing to do.

[2020-07-09 08:02] jgsogo commented on #7331
IMO this is something to be implemented in the server, maybe the `--force` suggested, as it is uploading again the recipe should compute a new timestamp for the recipe. The alternative would be to implement a workaround in the client (remove + upload).

I have a question about packages already uploaded to the server. If we re-upload a recipe revision and override the timestamp, what do we do with

[2020-07-09 08:03] jasal82 commented on #7332
It seems that the `-p` option without parameters is broken even when there is a binary package on the remote. I still get the same error.

[2020-07-09 08:05] jgsogo commented on #7332
It totally makes sense. Just to confirm, can you report the server you are using? Artifactory? Which version? Is there any special configuration like virtual repositories?

Thanks!

[2020-07-09 08:14] steffenroeber commented on #7326
Your second approach sounds smart. But I couldn't apply it in my conanfily.py:
[code]
This gives me an error. Is it possible to set build_type of icu in conanfile.py?

[2020-07-09 08:27] jasal82 commented on #7332
We're using Artifactory 6.17.0, no virtual repositories, revisions enabled.

[2020-07-09 08:33] jasal82 commented on #7332
I guess when no package ID is specified Conan would have to use the Artifactory API to list the available packages and then iterate on that list to delete them individually. Probably that functionality is currently missing.

[2020-07-09 09:25] mjvankampen commented on #2924
@memsharded any clues?

[2020-07-09 09:57] jasal82 commented on #7332
Here are some traces

[code]

[2020-07-09 10:14] jasal82 commented on #7332
There's this function in `conans/server/store/server_store.py` which just unconditionally assumes that there must be a `package` folder:

[code]

[2020-07-09 10:34] jgsogo commented on #7332
Thanks for the investigation! You are one step away from creating the PR 😉

[2020-07-09 10:47] jgsogo commented on #7326
I would strongly discourage that approach. It couples your QT recipe with a hack. If you cannot add that line to your profiles I would modify the ICU recipe, but not the consumers. You can fork the recipe you are using (the Conan Center one?)

[code]

With these changes you ensure that noone will build the `Debug` configurations and upload it, and you will get the same package-id for `build_type=D

[2020-07-09 11:56] spoofedex opened #7333 "[bug] Misleading/wrong "--update" handling for conan graph lock"
Hi all,

It seems to me that the "conan graph lock" handles the "--update" parameter incorrectly; or, alternatively, that the documentation is misleading.

When running a "conan graph lock" with the "--update" parameters, the packages are not updated from the remote. If the local cache has an outdated version, and a remote has a later version (at least a later package revision, I'm not sure if thi

[2020-07-09 12:13] jasal82 commented on #7332
Hm not sure, that looks like some kind of server side implementation to me because the only storage adapter that I can find is a disk storage adapter. I guess that's not part of the callstack on the client side. Trying to look into this some more but probably I could use some help ;)

[2020-07-09 12:16] jasal82 commented on #7332
Unless that's actually the implementation on Artifactory side. Then a fix would require us to update Artifactory which is not what I want to hear...

[2020-07-09 12:37] jgsogo commented on #7332
The Conan API with Artifactory is quite straightforward, as you can see from your logs, Artifactory returns an error if the resource you are requesting to DELETE doesn't exist

[code]

This is a design decision in Artifactory that will affect every other package manager and I'm sure it is something we have _to live with_, so we need to implement the **logic in the client-side** (it will take us ju

[2020-07-09 12:43] TheQwertiest commented on #7333
Related issue/possible duplicate: https://github.com/conan-io/conan/issues/7146

[2020-07-09 13:02] steffenroeber commented on #7326
Thanx a lot. I'll try this profile approach.

[2020-07-09 13:53] rddesmond commented on #7331
For me, updating the timestamp without changing the packages is the most useful, despite the inconsistent timestamps.  The workflow I have here:

1. All 3rd party dependencies are in a single git repo.
1. At each check-in, they are all exported and uploaded to Artifactory.  The RREV collision causes most to be a no-op, but the ones that are updated cause a new RREV for downstream processes to pick

[2020-07-09 15:31] jgsogo commented on #7321
Merged to `1.27.1`, it will be released....soon. @czoido can answer that question 😄

If you need us to backport this change to any other release, just say it.

Thanks!

[2020-07-09 15:31] #7321 closed, assigned to jgsogo

[2020-07-09 15:33] jgsogo commented on #1251
This has been working for several releases, we broke it and fix it again in `1.27.1` (https://github.com/conan-io/conan/pull/7322). I think it is time to close this issue.

Just in case someone arrives at this issue, there is a field dedicated to frameworks: `cpp_info.frameworks = ['Foundation']`

[2020-07-09 15:33] #1251 closed

[2020-07-09 18:07] shelper opened #7334 "[feature] add '-o' support for conan build"
sometimes, i think people want to build a package with different option defined in the recipe file without change the recipe file

it would be useful to add support of `-o` for `conan build` just like `conan create` or `conan install`

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-07-09 18:48] jgsogo commented on #7334
Hi, @shelper . This is intended, options cannot be modified after the `conan install`, they might be choosing which requirements are available, if you change them in `conan build` there can be missing requirements and things won't work.

[2020-07-09 18:55] jgsogo commented on #7326
Great! I'm closing this issue now, but feel free to open or comment if you need help/advice/opinion about it.

Thanks!

[2020-07-09 18:55] #7326 closed, assigned to nobody

[2020-07-09 23:39] memsharded commented on #7333
Hi @spoofedex

Thanks for reporting this and providing the necessary information to reproduce.

Confirmed there is a bug, it is not updating correctly. I have included a test and a fix in https://github.com/conan-io/conan/pull/7243, which is the next iteration of lockfiles intended for Conan 1.28, contains many other changes, but this will now be properly covered with tests.

[2020-07-10 06:10] jgsogo commented on #7334
Thanks! I'm closing the issue, but feel free to open it again or comment if you need further information.

[2020-07-10 06:10] #7334 closed, assigned to nobody

[2020-07-10 08:40] coder-ent opened #7336 "ERROR: Value provided for channel, '0' (type str), is too short. Valid names must contain at least 2 characters.."
We encountered an error message while using the conan search command with one of our remote packages hosted on JFrog Artifactory.

Conan seems to interpret a channel with the name "0" but we did not create this and is not visible on the Artifactory web interface. We only have two channels "stable" and "testing".

Apart from that conan also seems to interpret one package each under the two existing

[2020-07-10 09:16] czoido commented on #7336
Hi @coder-ent,

Could you please test this using the latest patch for Conan 1.18: 1.18.6 ?
I think that error could be related to a fix released in 1.18.2.
Also, one question: Are you using alias for packages?

[2020-07-10 09:53] czoido commented on #7336
Two more questions:
- Which Artifactory version are you using?
- Did you modify the layout of the repository in Artifactory?

[2020-07-10 10:05] coder-ent commented on #7336
Hi @czoido
Thank you for the quick response.

1. Updating to conan 1.18.6 did not help. I still get the same error.
![image](https://user-images.githubusercontent.com/63263453/87142733-428ab380-c2a5-11ea-8d2a-fc03b4f2aa7b.png)
2. We do not use aliases for packages in the packge as far as I know, definitely not for this package.
3. Artifactory version is 6.20.0
4. The project is part of a large org

[2020-07-10 13:52] steffenroeber commented on #7326
I actually have one more question but I don't know if this is the right place to ask.
I use something like:
conan install .. -sbuild_type=Debug -gcmake_find_package_multi
conan install .. -sbuild_type=Release -gcmake_find_package_multi
This creates me the specified cmake files.
Then in my cmakelist I use
find_package(Qt5 REQUIRED CONFIG)
This works all targets are known. But now something like aut

[2020-07-10 16:05] steffenroeber commented on #7326
Meanwhile, I found that I may add a moc target in components, too.
But unforunately
self.cpp_info.components["moc"].exe = ["bin/moc.exe"]
seems not to work. Is this supported?

[2020-07-10 16:09] sascha opened #7339 "Cross compiling from macOS to Emscripten fails because of automatically added -stdlib=libc++"
### Environment Details
  * Operating System+version: macOS 10.15.5
  * Compiler+version: Apple clang version 11.0.3 and Emscripten 1.39.19
  * Conan version: 1.27.0
  * Python version: 3.7.7

### Problem description

I'm not quite sure if this is a bug, a missing feature or a configuration error, but the issue is somewhat related to issue #2856. Just like Android, the Emscripten compiler does not

[2020-07-10 16:13] uilianries commented on #7326
No.

If you want to export your application, you add it to PATH and set a specific variable for that app. For instance: https://github.com/conan-io/conan-center-index/blob/3e43313932c67d04539e8ceecc1ba3cb6d60cd33/recipes/autoconf/all/conanfile.py#L84

Please, read Components documentation for further information.
https://docs.conan.io/en/latest/creating_packages/package_information.html#package-in

[2020-07-10 17:22] solvingj commented on #7180
I've thought a lot about different possibilities for how this could be implemented.  It's not trivial.  There are a lot of choices to be made.  The required logical steps are:

1. de-duplicate: given a group of lockfiles return a list of unique packageID's for `current_lib`
2. for-each unique packageID, run conan create one time
3. after each unique packageID has been created, update all related l

[2020-07-10 17:28] steffenroeber commented on #7326
self.env_info.PATH.append(bin_path) seems not to work with cmake_find_package(_multi)

[2020-07-10 18:50] steffenroeber commented on #7326
Isn't https://github.com/conan-io/conan/pull/5408 exactly what I mean/need? Was/will this be merged anytime?

[2020-07-10 22:16] KSBilodeau opened #7340 "[bug] ERROR: Recipe not found: 'boost_filesystem/1.69.0@bincrafters/stable'"
After accidentally terminating what I thought was an infinite loop of trying to find 'recipe revision 0' for boost_filesystem/1.69.0@bincrafters/stable, I have been unable to install boost_filesystem/1.69.0@bincrafters/stable.

### Environment Details (include every applicable attribute)
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=apple-clang
compiler.libcxx=libc++
compile

[2020-07-10 22:29] memsharded commented on #7340
This is a weird issue, lets try to debug it step by step. Lets try the following:

[code]

This should work, I have just tried here and works fine.

[2020-07-10 22:48] KSBilodeau commented on #7340
@memsharded Besides adding --build=missing to build boost_system, this seems to have fixed the issue, so that is pretty good.  I can't help but wonder what caused it though.

[2020-07-10 23:00] memsharded commented on #7340
It would be very complicated to know. As it is not fully clear, I am going to close this one now, but if it happens again, please open a new ticket and we will check.

Let me give a couple of hints:
- Public packages in ConanCenter are now being created with a build service from recipes in https://github.com/conan-io/conan-center-index
- Packages in ConanCenter can be searched in https://conan.io/

[2020-07-10 23:00] #7340 closed, assigned to nobody

[2020-07-10 23:26] memsharded commented on #7336
Just to make sure, I have just tested with Conan 1.28 and Artifactory 6.20, but couldn't reproduce this error, everything seems to be working fine in my end.

A few things that could be tried:
- Check if this happens for all packages there, or only for those 2
- What happens if you create ``conan new hello/0.1 -s`` + ``conan create . user/testing`` + ``conan upload * -r=xxx --all --confirm``?
- Do

[2020-07-11 09:37] steffenroeber commented on #7240
Another use case of that is automoc/autouic/autorcc of Qt. Currently it is not possible to use automoc with conan qt recipes and cmake_find_package(_multi) generator.
Automoc needs a target like Qt5::moc that points to  the moc.exe.

[2020-07-11 09:54] steffenroeber opened #7342 "[Question] Why are cpp_info.bindirs not allowed with components"
Hi, I have two questions.
1. Why is it not possible to have cpp_info.bindirs in package_info if components are used?
Neither for a component nor globally are bindirs allowed.
2. If I use cmake_find_package_multi, how can I then access cpp_info.bindirs? The cmake generator creates something like CONAN_BIN_DIRS that I can use. Is there any way to get that with cmake_find_package_multi, too?

Best re

[2020-07-11 10:40] madebr commented on #7240
Adding executable components to the tree would avoid adding executable-only requirements to libraries.
e.g. let's assume a package provides a library and an executable.
This packages also requires 2 dependencies: one is used by the library and the other is used by the executable.
Right now, both dependencies need to be listed as requirement for the library.
[code]
Even though the `exedep::exedep`

[2020-07-11 16:02] ghost opened #7343 "[bug] Cannot install pre-release packages with 'include_prerelease=True'"
When I use a semantic version name such as "hello/1.0.0-pre.1" for a package that I upload to a repository, I am unable to install this package as a dependency in another project even when I specify  'include_prerelease=True' in the version requirements.

### Environment Details (include every applicable attribute)
  * Operating System: Windows 10 Version 10.0.19041 Build 19041
  * Compiler+versio

[2020-07-12 12:49] neverchanje opened #7344 "[question] How to exclude a indirectly imported package"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
- Conan version: Conan version 1.27.1
- OS version: Ubuntu 18.04

Hi, I'm new to conan. I've searched docs for a while but can't find a solution.

I set up a conanfile.txt for my project with cmake as a dependency. However, CMake indirectly imported openssl, which I do not want to use,

[2020-07-12 15:05] gsemet commented on #7316
Hello,

thanks for your answer. I am now using `conandata.yml` and works perfectly !

For the lock mecanism, what I need is a way to ensure reproductible builds. Commited lockfile are always difficult to handle, especially with different configuration (Python tries to mitigate that by propagating "markers" in the lock file) but I think for low-level lockfile, you actually need one per configuratio

[2020-07-12 21:47] memsharded commented on #7343
Hi @gsg-thuan

This is not a bug, but within the specification of the version ranges and semver.

- The ``~1.0`` is a range equivalent to ``>=1.0.0 <1.1.0``
- The ``1.0.0-pre.1`` is something *previous* to the 1.0.0. It happens before, and it is not included in the range. It is kind of equivalent to ``0.9.99``

This is the reason why ``1.1.0-pre`` is resolved positively for the range ``~1.0``.

[2020-07-12 21:55] memsharded commented on #7343
Submitted a PR that explicitly covers this case too.

[2020-07-12 22:05] memsharded commented on #7344
There are a couple of alternatives.

- If you are using Conan and that ``conanfile.txt`` to just install cmake, you might do first the ``conan install``, then activate the generated environment (``virtualrunenv`` should work ok too), and then run ``cmake`` in that environment. But not using the ``cmake`` information here, just the runtime environment. This is a pattern known to be used by some Con

[2020-07-13 02:18] neverchanje commented on #7344
Thanks for your help. But I'm afraid that "context" couldn't solve my problem. I would like to install cmake using pip. It's simpler and faster.

Btw, I troubled with the download speed of when I tried to adapt conan into my open-source project, especially when I downloaded the source tarball of boost (90MB. Because we are open-sourced and I don't want to host a public conan-server for our own, I

[2020-07-13 09:00] memsharded commented on #7344
The download speed of the sources of boost does not have anything to do with Conan. You will have the same problem with any other solution, check the implementation of the boost recipe: https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conandata.yml

[code]
The sources are retrieved directly from the official site, not from Conan or ConanCenter. You will not get rid of t

[2020-07-13 09:00] #7344 closed, assigned to memsharded

[2020-07-13 09:24] memsharded commented on #7344
I forgot, if it is for an open source project, you could also try to apply for a free server in https://jfrog.com/artifactory/saas-gcp/

[2020-07-13 09:56] coder-ent commented on #7336
It happens only for these two packages, not in any of the 50+ other packages we have in the project.
![hello](https://user-images.githubusercontent.com/63263453/87291402-8da00300-c4ff-11ea-9185-9cf099d050d1.jpg)

index.json:
[index_json.txt](https://github.com/conan-io/conan/files/4911688/index_json.txt)

conan config:
![image](https://user-images.githubusercontent.com/63263453/87291492-b0cab280-c

[2020-07-13 10:01] neverchanje commented on #7344
Many thanks for your explaination! I was about to use CMake `ExternalProject_Add` to manage my 3rdparties. My deps are currently hosted on the alibabacloud OSS service. It's faster than the official link most of the time.

I think I could upload my recipe with the download URL linked to my OSS. Your guys are so helpful!

God, it's awesome! We're an apache incubating project. I will take a try if n

[2020-07-13 10:41] mcleary opened #7346 "[bug] Simple conan package cannot be found on Artifactory"
I am working on a conan package that is uploaded to an artifactory server running internally, however, `conan search` is returning no references to the packages stored in artifactory. I managed to write a sample `conanfile.py` that can reproduce this bug, please see the details below.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compi

[2020-07-13 12:19] memsharded commented on #7346
Hi @mcleary

I think this is a bug that was solved in Artifactory some time ago. Can you please tell which Artifactory (CE, PRO) and which version are you using?

[2020-07-13 13:05] mcleary commented on #7346
If it is solved that would be great. Here is the version

[code]

[2020-07-13 14:03] #7343 closed, assigned to memsharded

[2020-07-13 14:07] Nocccer opened #7347 "[feature] self.copy() prints warning if file doesn't exist"
Hello,

The self.copy() function doesn't recognize none existing files. Maybe a file check could be implemented, which prints out a warning, if the file doesn't exist. Also a new option  for self.copy() could be implemented which treats this warnings as errors. This feature will work only if a single file is copied.

If this behavior already exists, I am grateful for any information how to achieve

[2020-07-13 14:21] uilianries commented on #7326
You need to associate the RunEnvironment to append the PATH, it won't happen directly to your system. If you are only consuming the recipe, you should use [virtualrunenv](https://docs.conan.io/en/latest/reference/generators/virtualrunenv.html) generator too.

No. The PR was closed months ago, the current state doesn't provide that. ~If you wish that component,
please, open a new issue asking.~

Pl

[2020-07-13 14:22] jgsogo commented on #7339
Hi @sascha ! Can you share with us the Emscripten recipe you are using? or how are you populating the environment before running Conan to compile your library?

[2020-07-13 14:33] memsharded commented on #7343
The tests confirming this behavior have been merged in https://github.com/conan-io/conan/pull/7345, so this issue was closed, but please do not hesitate to comment or submit new questions as new issues if necessary. Thanks!

[2020-07-13 14:47] memsharded commented on #7346
Thanks for the info @mcleary

I have verified this. This is indeed a bug, it fails in:

- Artifactory 6.16-6.20 => There are no packages.
- Artifactory 7.5 => ``ERROR: 500: org.jfrog.repomd.conan.exceptions.ConanInfoException: Invalid conaninfo.txt format: flags=a=b. [Remote: artifactory]``

Fortunately, it seems this doesn't affect to package resolution, package can still be used, installed, foun

[2020-07-13 15:08] mcleary commented on #7346
Excellent! Glad you can reproduce it. As you said, the package can still be used, it is just quite annoying not being able to search for it.

[2020-07-13 15:31] TheQwertiest opened #7348 "[RFC] conan dependency resolution policy"
Let's say I have the following packages:
- `subdep/1.0`, `subdep/1.1`.
-  `dep/1.0` that was built with `subdep/1.0`. Where `dep` has `requires='subdep/[>=1.0]'`.
- `pkg` with `requires='dep/[>=1.0]'`.

Now, when trying to build `pkg` there will be the following dependency resolution:
[code]

Which means that `pkg` can't be built without rebuilding `dep` with `subdep/1.1`.

In other words it means

[2020-07-13 16:04] TheQwertiest commented on #7348
Attached an example, that illustrates the problem: [conan_dep_bug.zip](https://github.com/conan-io/conan/files/4913619/conan_dep_bug.zip)

Repro steps:
[code]

[2020-07-13 16:34] jgsogo commented on #7240
Hi! Qt is a really good example and a challenging one for the cross-building scenario. First step will be to add the executables to the `cpp_info`, but then we need to understand how to work with them from within CMake. This is the same scenario as `protoc`.

The problem with these scenarios arises when we enter the cross-building with the two contexts: _host_ and _build_. If we are cross-building

[2020-07-13 16:35] Minimonium commented on #7348
I think Conan would benefit tremendously from a [minimal version range selection algorithm](https://github.com/golang/go/wiki/Modules#version-selection) in the `conan.conf` (with a potential default behaviour candidate in some late major versions). Conan resolves around binaries and the issue is spot on that it's nearly impossible to generate binaries for ever-changing dependencies in time.

There

[2020-07-13 18:03] uilianries commented on #7347
The only problem I see is when copying patterns, you can't evaluate how many files should be copied. As `self.copy` is a generic method, I don't think providing different behavior according the input is a good idea, it will provide an ambiguous method IMO.

For Conan Center Index, the checks are made by [hooks](https://docs.conan.io/en/latest/reference/hooks.html), they validate the package folder

[2020-07-13 20:27] prince-chrismc commented on #7254
There's one other scenario, where the upstream does not provide a namespace. The issue is highlighted here https://github.com/conan-io/conan-center-index/issues/2151

[2020-07-13 20:43] noizex opened #7349 "[feature] Stop forcing User-Agent, or change it to not include "requests""
While making a recipe for one of the libraries, I ran into interesting issue where Conan's downloader (`tools.get` used to download the zipped package of source code) would fail to download the file with status 406 - wget or any other client would download it without a problem. I digged a bit and figured out that "User-Agent" is the culprit - the server seems to not like the "requests" string, whi

[2020-07-13 21:28] rasjani opened #7350 "[bug] inconsistency in user/channel representation in filesystem and hooks code."
### Environment Details
  * Conan version: any

### Steps to reproduce:

First off, my steps aren't "vanilla" conan but i hope you get the gist of the actual issue and the issue is more about "convention over configuration"-type of a thing. Something that your users dont even realize is a good thing but find it lacking when noticing ;)

* build a conan package with ConanMultiPackager() without pas

[2020-07-13 21:45] memsharded commented on #7348
Hi @TheQwertiest

This issue seems to be describing many different things, for example:

If a ``subdep/1.1`` is released, but it is incompatible with ``dep`` then there are only 2 options:
- ``dep`` contains a version range like ``[~1.0]``, so the 1.1 is excluded.
- or ``subdep`` needs to do a major version bump, to ``2.0`` if it is breaking.

This is a pure versioning problem, not related to bina

[2020-07-13 22:11] memsharded commented on #7349
Hi @noizex

Thanks for reporting this issue. A couple of quick questions:

- Is the server throwing the 406 available so we could use it to try and test things?
- Is the server returning some other diagnostic message? It seems the User-Agent is compliant with https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent, so if we are going to modify it, it would be good to make sure that th

[2020-07-13 22:31] memsharded commented on #7350
Hi @rasjani

It is true that the documentation is not very exhaustive about the ``reference`` field, all it says is:

So the idea is that it is a representation of a reference, something as it is used in recipes, in the command line and in the terminal output. In all those cases it will be ``pkg/version``, and not ``pkg/version@_/_``. The ``_/_`` is just an artifact in the filesystem to represent

[2020-07-13 22:45] anisi-tua commented on #4925
hI friends, I also have the same problem... I am new to this and I really need your help...please

Generators
* Visual Studio 16 2019        = Generates Visual Studio 2019 project files.
                                 Use -A option to specify architecture.
  Visual Studio 15 2017 [arch] = Generates Visual Studio 2017 project files.
                                 Optional [arch] can be "Win64"

[2020-07-13 23:07] memsharded commented on #7336
Hi @coder-ent

It seems something went bad on the Artifactory side, something was corrupted in the database/filestore.
If you are a JFrog customer, I would suggest to file a support ticket (and letting us know). Otherwise, please let me know:

- Artifactory edition: CE, PRO, Enterprise...
- Artifactory run environment.
- Which DB backend are you using.
- Any other specific details, like if it is a

[2020-07-13 23:12] memsharded commented on #4925
Hi @anisi-tua

Which cmake version are you using? And which Conan version?

[2020-07-13 23:30] memsharded commented on #7347
Hi @Nocccer

The ``self.copy()`` operates always over patterns, not filenames, so it is also a possibility that it doesn't match anything. This functionality is useful to implement ``package()`` methods that package *.a, *.lib, *.so, *.dylib, unconditionally, and only some of those will exist depending on the OS.

If you know exactly the filename you want to copy, maybe you could run a ``shutil.co

[2020-07-13 23:31] noizex commented on #7349
1) Yes it's available, sample file: https://www.angelcode.com/angelscript/sdk/files/angelscript_2.34.0.zip

Normally it returns 200 but once you pass the header that Conan uses it returns 406:
[code]
2) Server just returns 406, my assumption is they use some filtering rules that forbid "python-requests". I doubt this is something that the owner did on his own, so must be some part of a ruleset tha

[2020-07-13 23:50] memsharded commented on #7349
To be honest, I think your solution 2) could almost be considered a bug, and fixed irrespectively of the possible removal of the ``requests`` in the header (I will need a bit more time to analyze its overall usage and utility)

As you already proposed the solution, if you want to contribute it directly with a PR, that will be welcome and we can merge it and release in next 1.28. If you can't dont

[2020-07-13 23:59] noizex commented on #7349
Sure, I'll gladly make a PR - I considered starting with it but wasn't sure if this functionality would be desired. I suppose whoever decided to do this wanted to force a "Conan stamp" on each request made via conan tools, and while it's probably good to have a solid default, forcing it with no way of override causes situations like my to be a bigger pain than it could/should be :)

I will prepare

[2020-07-14 07:04] Nocccer commented on #7347
Hi @memsharded and @uilianries

I already thought that the implementation would be difficult or not consistently enough.
So thanks for the clarification. I will dig more into hooks and see if i find a solution that works for me.

If i should close the feature request, tell me.

[2020-07-14 08:40] memsharded commented on #7347
I think I missed something that could be useful, the ``self.copy()`` return the list of files that have been copied. It can be easily checked directly in the recipe to verify that it actually copied some files, and error or warning at your will too.

[2020-07-14 09:30] jgsogo commented on #7350
Hi, @rasjani .

I would like to know what are you implementing in the hook (you said it was `pre_export`) and what path you need. Hooks provide the `conanfile_path` and it's been enough so far, the path to the package folder won't be so straightforward, it contains at least the package_id and it can be totally obfuscated if it is using short_paths.

[2020-07-14 10:00] johnmcfarlane opened #7374 "VS Code extension"
I know that technically, this is not the right project to submit this, but VS Code is crying out for a decent Conan extension!

With the CMake extension installed, a C++ project is easy for users build and run. But when Conan is the preferred (not mandatory) way for that project to manage dependencies, it creates a significant impediment. A couple of things must be done manually and they are not n

[2020-07-14 10:01] rasjani commented on #7350
Unrelated code stripped ..

[code]
and what gets into the json `"full_package_reference": "PackageName/1.0.0@None/None"`

[2020-07-14 10:21] Facon opened #7351 "[question] Header conflict on recipe while cross compiling from Windows to Android"
While using MSYS2 MinGW32 environment, I'm trying to cross-compile my recipe to Android, but I have a conflict while finding includes.

Here is the errors that I'm getting:

[code]

**Android profile**
[code]

**conanfile.py (Minizip recipe, different from zlib one)**
[code]

Based on my research, there's basically a conflict between 2 header files.

- C:\msys64\mingw32\include\iconv.h
- C:\.conan

[2020-07-14 10:23] memsharded commented on #7350
Just to clarify, because there might be some naming issues, we call:

- ``reference``, ``ref``, recipe reference, to the ``pkg/version@user/channel`` (with recipe revision it will have ``#rrev``)
- package reference, ``pref``, to the ``pkg/version@user/channel:package_id`` (with revisions it will also be  ``pkg/version@user/channel#rrev:package_id#prev`` (``prev``=package revision)

What you are d

[2020-07-14 10:38] jgsogo opened #7352 "[feature] CMake generators: include 'build_modules' after creating the packages"
Duplicated:  https://github.com/conan-io/conan/issues/7261

---

This is a last-mile problem for CMake. Some packages provide CMake modules with some customization that doesn't fit the general conventions and we cannot keep adding more complexity to the `cpp_info` model:
 * `OpenSSL` has a different casing for the filename and the variables provided by it: https://cmake.org/cmake/help/v3.6/module/

[2020-07-14 12:03] steffenroeber commented on #7240
If only moc.exe is in PATH, automoc will not work. automoc needs a target called Qt5::moc

[2020-07-14 12:19] TheQwertiest commented on #7348
I have to disagree: different package/dependency managers use different policies, i.e. they don't all have "use the latest version of transitive dependency even if it's not actually used anywhere" as a single and only way. And, heck, even the ancient `ivy` has a lot of different policies: <https://ant.apache.org/ivy/history/2.5.0/settings/conflict-managers.html>.

I would even say that most manage

[2020-07-14 12:46] memsharded commented on #7348
This is a wrong hypothesis:

You cannot evaluate if there is a binary while resolving the graph (in the way up while resolving ``requires``), because the binary ``package_id`` is computed as a function of all dependencies, including down to the package revision of every transitive dependency, which means that it is needed to have resolved the existence of all the upstream dependencies binaries fir

[2020-07-14 13:09] TheQwertiest commented on #7348
Sorry, I still don't understand. My code could be simplified even further down to:

[code]

So, complexity is actually `len(pkg.deps)*complexity_of_resolve`. Each binary already has a resolved dep graph, so there is no need for fallbacks or graph regeneration.

[2020-07-14 13:44] jgsogo commented on #7240
I've been having a quick look to the Qt docs and to Google. I've found this [question in Stackoverflow](https://stackoverflow.com/questions/39075040/cmake-cmake-automoc-in-cross-compilation) (_"CMake CMAKE_AUTOMOC in cross compilation"_) with the answer I'm copy/pasting here for reference:

One cannot use the `Qt5::moc` provided by the package in a general scenario. I still don't know how we can h

[2020-07-14 14:13] alacasta opened #7354 "[feature] Extending the Graph Info Template API"
I've playing aroung the new feature provided at https://github.com/conan-io/conan/pull/7176 in https://github.com/alacasta/beautified-conan-info-dot-template and I miss some fields that can be really useful when building the dep. graph:
- Each (node) field separated (please, consider user/channel only in case they won't be deprecated soon)
  - name
  - version
  - channel
  - user
- Root node
- bu

[2020-07-14 14:21] alacasta commented on #7234
Hello @cguldner

I've tested the feature mentioned by @jgsogo and looks pretty easy to create your customized templates and actually interesting for everybody probably to use your/others suggested templates to display the Dep. Graph.

Take a look to https://github.com/alacasta/beautified-conan-info-dot-template where i've translated the proposal i made to enrich the default DOT output to this temp

[2020-07-14 14:30] cguldner commented on #7234
@alacasta That is helpful, thank you!

[2020-07-14 14:30] #7234 closed, assigned to nobody

[2020-07-14 14:40] memsharded commented on #7348
This is the process of evaluating App->LibC->LibB->LibA:

- App conanfile.py is loaded and evaluated. It has a dependency to ``LibC/[version_range]``, or to ``LibC/version`` and using revisions.
- A match for LibC recipe conanfile.py is searched in the local cache and/or in the server. If a version that satisfy the declaration is found, it is fetched/downloaded, the conanfile.py is loaded and eval

[2020-07-14 15:01] Minimonium commented on #7348
@memsharded What do you think about the proposed minimal version range selection? It doesn't require a graph invalidation, but it has a much higher chance of having binaries ready, which matches the intent of reusing existing binaries.

[2020-07-14 15:09] sascha commented on #7339
Hi @jgsogo, sure, happy to.

I'm installing my Conan deps with

[code]

This is my `emscripten` profile:

[code]

and this is my `default` profile:

[code]

The `emsdk_installer/1.39.19@imgly/stable` is pretty much the same as https://github.com/bincrafters/conan-emsdk_installer except that it's updated to the latest version of Emscripten and the lines at https://github.com/bincrafters/conan-emsdk

[2020-07-14 15:10] memsharded commented on #7348
Yes, this is a very different story, and seems more doable from the implementation side, but we would need to understand better the use case, because it seems that many users would be very surprised of this behavior, so it needs to be opt-in. And I am missing the user story, how a version-range is useful if it always resolve to the lower version? In practice it will be the same as having the pinne

[2020-07-14 15:20] rasjani commented on #7350
The point in general was that i was expecting user/channel to be set to `_/_`. Using repr() doesn't solve that either.

However, this is not not a huge issue, just something that i was expecting (without reading the docs obviously) that it could be used to make some assumptions of about filesystem layout  where/how things are placed.

For now, i'll just provide the those on my hook.

[2020-07-14 15:47] TheQwertiest commented on #7348
It seems you are describing the current DRP. My suggestion was about implementing a new DRP (which will co-exist with the current one). Here is a proposed DRP:

* `App` `conanfile.py` is loaded and evaluated. It has a dependency to `LibC/[version_range]`, or to `LibC/version` and using revisions.

* A match for `LibC` is searched in the local cache and/or in the server. If a version that satisfy t

[2020-07-14 15:49] TheQwertiest commented on #7348
I've never said that the suggested DRP can be implemented *in* the current DRP: it might share some code, but it will most likely have a different and separate implementation.

[2020-07-14 16:11] memsharded commented on #7348
You can, and most times will, have tons of matches for the same ``LibC/1.0@user/stable``. Not only different versions matching a range, but also many different package_ids and/or different package revisions that matches both the version ranges, and the current settings/options values. You will have a different binary for every change in the upstream versions or options:

- Different binaries with

[2020-07-14 16:19] jgsogo commented on #7234
Nice to hear it is useful (and used!) 😊

[2020-07-14 16:58] zebrajap opened #7355 "[question] Specifying version and requires in a common file outside source folder"
We have a repository with a folder structure as below. I want to specify the version and the requires in the VersionInfo.txt which are common to all components. Is it possible?

Root
│── Component 1
│      ├── conanfile.py
│── Component 2
│      ├── conanfile.py
│
│── VersionInfo.txt

[2020-07-14 17:11] memsharded commented on #7355
Hi @zebrajap

Yes, it is possible, but it will have a small inconvenience because of the different path in your local folder and in the cache (in the cache, every package needs to be independent and isolated, so it will contain its own copy of ``VersionInfo.txt``.

You would have something like:

- You need to ``exports`` the ``VersionInfo.txt`` file, so it is accessible also when the recipes are

[2020-07-14 17:28] zebrajap commented on #7355
Hi @memsharded,

Thanks for the suggestion.
So when conan upload is executed, wouldn't it call requirements()? If it is called, it cannot find the file as the location is changed now.

[2020-07-14 18:12] pvavercak opened #7356 "[question] Invalid setting value"
Hello everybody,

I'm facing an issue with wrong arch value that is set by a profile.
I'm trying to build a package with Visual Studio compiler.
The package's settings are:

`settings = "os", "compiler", "build_type", "arch"`

and in $CONAN_USER_HOME/settings.yml is arch:["x86"] present.
When I try to build my package with the following settings

`[settings]
arch=x86
arch_build=x86
build_type=Rele

[2020-07-14 18:41] Minimonium opened #7357 "[feature] A minimal version range selection algorithm"
## The Issue

Conan's cornerstone feature is distributed caching.

The issue is that it's extremely hard to produce reliable graphs with compatible binary hashes - such issues as transitive dependencies, package_id_modes, cppstd, Glibc, and such which we don't have a definite answer for yet.

It leads to a problem where we need to either always build missing or to never change the graph (including

[2020-07-14 20:03] BrianSipos opened #7358 "[bug] vcvars_dict gives keys with inconsistent case"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVS 2015
  * Conan version: 1.25.1
  * Python version: 2.7.17 on the host, but conan is installed as MSI via Chocolatey

### Steps to reproduce (Include if Applicable)
1. Within the `build` function call `vcvars = tools.vcvars_dict(self.settings)`.
1. Log the keys in the ret

[2020-07-14 21:13] memsharded commented on #7356
Hi @pvavercak

This is indeed very weird. What is the definition of ``arch_build`` in ``settings.yml`` file? Feel free to copy large parts of that file here? Also, to make sure: are you running in a 32bits machine? This is quite unusual nowadays, specially for Windows machines.

[2020-07-14 21:25] memsharded commented on #7355
Hi!

No, ``conan upload`` will not execute any of the recipe methods, including ``requirements()``.
If you are seeing any issues not finding the file, that should happen earlier, like in the ``conan create`` command, but not in the upload. Also there will be only 2 different situations:

- The recipe is evaluated in the user folder, not in the cache. This happens if you execute ``conan install .``

[2020-07-14 21:37] memsharded commented on #7358
Hi @BSipos-RKF

I am not sure if I understood the issue correctly. Why do you say the vars are ``non-standard``? It is not like Conan is doing any manipulation on them, if you do in the terminal in Windows:

[code]

Do you mean that in the previous Conan versions, ``tools.vcvars_dict()``, it was returning the dict with PATH uppercased? I have checked the changelogs, and I cannot see any change rel

[2020-07-14 21:43] memsharded commented on #7350
Ok, good to know. So to summarize:

- ``reference`` is a reference, and when user/channel are not defined, they are ``None``.
- ``reference.dir_repr()`` would be the correct way to get a path representation (though not documented yet)

If you are going with the hook, then good, I think this issue can be closed at the moment. But seems like trying to map from references to folders in the cache manu

[2020-07-14 21:43] #7350 closed, assigned to nobody

[2020-07-14 21:51] BrianSipos commented on #7358
The strange thing to me is that I did not upgrade conan version in a very long time (months) but also very rarely rebuild large packages. The strange thing was that a build earlier in the day with different settings _did_ set the "PATH" variable while my most recent build attempts are now setting the "Path" variable. I even tried opening a completely new powershell (with default environment) to do

[2020-07-14 22:30] memsharded commented on #7267
I am considering ``configure()`` as the place to define conditional generators in https://github.com/conan-io/conan/pull/7359, it seems that adding a new method just for this is too much and ``configure()`` seems to work, lets discuss it in the PR.

[2020-07-14 23:37] memsharded commented on #7358
Thanks for clarifying!

Yes, agree, I am also trying to understand if this is a regression or if something has changed in Windows or what is happening. I honestly don't have a clue of what it is, please let us know if you find something else that could give us a hint.

The thing is that ``os.environ`` in Windows is case insensitive, it is an special dict, but what is returned from ``vcvars_dict``

[2020-07-15 07:30] jgsogo commented on #7358
Conan does modify the casing of environment variables in Windows after using some environment tools: https://github.com/conan-io/conan/issues/1706. I'm not sure if something in the implementation around `vcvars_dict` has changed and it is no longer using those tools (so now returns the proper casing), or maybe it is the recipe the one that has changed.

[2020-07-15 07:40] pvavercak commented on #7356
Hi @memsharded,
Thanks for the quick response.

Here's my arch_build line from settings.yml
`arch_build: [x86, x86_64, ppc32be, ppc32, ppc64le, ppc64, armv5el, armv5hf, armv6, armv7, armv7hf, armv7s, armv7k, armv8, armv8_32, armv8.3, sparc, sparcv9, mips, mips64, avr, s390, s390x, sh4le]`

I won't share the whole file because this file is identical with the default settins.yml available in conan d

[2020-07-15 08:15] memsharded commented on #7356
If you are using a 64 bits machine, please try the following:

Change your ``default`` profile in ``<userhome>/.conan/profiles``, and put there ``arch_build=x86_64`` (this is the architecture of the build system). You can directly edit the file, or you have the command ``conan profile`` that can be used to manage, change profiles. Then try again your package and let us know. It would be good if yo

[2020-07-15 08:54] pvavercak commented on #7356
I have fixed the issue and it was caused by InnoSetup conanfile.
https://github.com/kwallner/conan-InnoSetup/blob/master/conanfile.py

In its conanfile.py is only x86_64 arch specified.

Anyway, the error message was not clear and it didn't inform me about a package that causes the issue.
I think this would be a great idea for a new feature.

Thank you for your help @memsharded

[2020-07-15 08:59] pvavercak commented on #7356
I have one further question.

Is there a way how can I change settings of a dependent package right in conanfile.py?

I know it can be done in a conan comman.

[2020-07-15 11:54] memsharded commented on #7356
I think this would be a great idea for a new feature.

yes, the syntax ``settings = {"os": ["Windows"], "arch": ["x86_64"]}`` is already planned to be deprecated and removed in Conan 2.0. Now the recommended way is to raise ``ConanInvalidConfiguration`` in the ``configure()`` method, when a platform is not supported.

No, the idea is that the settings is something that cannot be defined in the rec

[2020-07-15 11:57] #7332 closed, assigned to nobody

[2020-07-15 11:58] memsharded commented on #7332
Fix merged, will be in Conan 1.28.

[2020-07-15 12:03] pvavercak commented on #7356
This approach I'm already using and in CI we install profiles using `conan config install` but this case was that I wanted to use InnoSetup tool for creating an .EXE archive that is a classical windows installer. Since my CI is running on WIN64 host machine, it is alright that one package (specifically InnoSetup tool) would be configured as x86_64. It is only used for generating EXEs.
I have set t

[2020-07-15 12:08] memsharded commented on #7356
Thanks for your feedback, do not hesitate to open new issues if you have further questions. Cheers!

[2020-07-15 12:08] #7356 closed, assigned to memsharded

[2020-07-15 12:41] BrianSipos commented on #7358
Another thing for reference; what I'm doing currently is similar to the following (but for all of the 'standard' variables).
[code]

I could write my own function to merge a dictionary value case-insensitively but would prefer not to need to do so.

It may also be worth mentioning in the documentation (linked above) about the name cases potentially being different than the all-uppercase names list

[2020-07-15 13:02] ShamanTcler opened #7362 "ModuleNotFoundError: No module named 'distutils.spawn'"
This worked in Conan 1.26, fails in 1.27.1

 Running the recipe from: https://github.com/kenfred/conan-qwt

### Environment Details (include every applicable attribute)
  * Win 10
  * MSVS 2017
  * 1.27
  * python --version:    Python 3.6.5 :: Anaconda, Inc.Python version:

### Steps to reproduce (Include if Applicable)
CD into dir then:
[code]

[2020-07-15 14:14] jasal82 opened #7363 "[feature] Semi-automatic mirroring of conan-center-index recipes including source snapshots"
Due to company policies all of our sources, libraries and tools used for creating applications must be hosted internally. We still want to be able to leverage the existing recipes provided in conan-center so we are looking for a way to mirror the recipes *including all of the source snapshots* without having to do all the work manually.

Currently we are using an internal fork of the conan-center-

[2020-07-15 14:24] #7267 closed, assigned to nobody

[2020-07-15 14:25] jgsogo commented on #7261
I've just realized that this issue was here and I opened another one: https://github.com/conan-io/conan/issues/7352

I'm copying here what I've written in the other one after talking with the team and I'll close that one:

[2020-07-15 14:25] jgsogo commented on #7352
Closing as duplicate https://github.com/conan-io/conan/issues/7261

[2020-07-15 14:25] #7352 closed, assigned to nobody

[2020-07-15 14:26] memsharded commented on #7267
I have relaxed ``msbuild`` generator now doesn't fail in Linux: https://github.com/conan-io/conan/pull/7361

[2020-07-15 14:40] jgsogo commented on #7138
We will agree that, in the best scenario, the result will be the same with or without this feature: Conan will raise and we will get some message associated with the recipe reference. So, why we want this feature? Because we want a meaningful error instead of some cryptic Python callstack (or unrelated ConanException and message).

With this feature, we will get a message like `name/version Error:

[2020-07-15 14:43] memsharded commented on #7362
I have tried to reproduce this:

- Win 10
- Conan 1.27.1
- Clean virtualenv with ``pip install conan==1.27.1``.
- Both in Python 3.6 and Python 3.7

Seems to be working fine. Is it possible that your Anaconda installation has changed something?

[2020-07-15 14:52] memsharded commented on #7138
Yeah, I agree, those are valid concerns. As usual, it is a tradeoff, lets see other people (@TheQwertiest, @KerstinKeller, @sourcedelica) feedback, specially regarding the [required_conan_version in conan.conf ](https://docs.conan.io/en/latest/reference/config_files/conan.conf.html?highlight=required_conan_version), it is relatively new, so it is likely it is not known yet.

[2020-07-15 15:18] TheQwertiest commented on #7138
I don't really care much, since I'm not using conan-center. Just heard that there was such a problem and thought that this feature could (somewhat) solve it.

[2020-07-15 15:20] uilianries opened #7365 "[feature] Show Conan version in HTML files"
When Conan generates a HTML file (`search --table`, `info --graph`), the version which generated that file is not assigned there.

It can be useful for the follow cases:

* When a new feature is present and the result is different from the previous, so people can distinguish that is outdated
* When comparing HTML (e.g. 1.24 output x 1.25). Well we have JSON output for it, but let's say you and you

[2020-07-15 16:21] ShamanTcler commented on #7362
On thing I did not cover was it was a download of the Win 10 x64 conan. Not  a pip install

[2020-07-15 16:37] memsharded commented on #7362
It seems the ``conan-win-64_1_27_1.exe`` is working fine, while the ``conan-win-32_1_27_1.exe`` is failing. Are you sure you installed the 64bits one?

[2020-07-15 16:40] memsharded commented on #7362
It seems that I get the same error in ``conan-win-32_1_26_1.exe``, so it doesnt seem a regression from 1.26 to 1.27, but that the 32 bits package doesnt include ``distutils.spawn`` (we don't do anything special there, it is possible that the ``pyinstaller`` is excluding this because some 32bits support issue)

[2020-07-15 17:07] sourcedelica commented on #7138
I like the idea for the recipe attribute.  As a matter of fact, a user reported this to me yesterday:
[code]
For the Conan Center recipes the level of code review would probably prevent the version in the recipe attribute from getting stale.

I also like the `conan.conf` property to catch problems even earlier.

PS. I ❤️ `config_install_interval`.

[2020-07-15 18:51] ShamanTcler commented on #7362
Yup you nailed it 32 vs 64  ... I checked my downloads and somehow I got some 32 bit downloads.... so I went back to the site and downloaded again.

I swear upon page reload , just hitting download when 64 bit text label was displayed I got the 32 bit exe. So then I went back and selected 64 bit and then I got the correct 64 bit ( or in other words 64 bit was displayed but the default download ver

[2020-07-15 18:52] #7362 closed, assigned to czoido, memsharded

[2020-07-15 20:59] memsharded commented on #7362
No problem, these things happens to all of us all the time :) And the pyinstaller.py executables work in most of the cases brilliantly, but at some points they have these small differences that can indeed generate confusion

You are very welcome, just keep the feedback and support coming, and we will keep trying to do our best!

[2020-07-15 21:54] #7328 closed, assigned to uilianries

[2020-07-15 22:25] memsharded opened #7366 "[bug] Conan V2 cli broken help"
[code]

I am fine with removing the ``conan help`` approach (the --help is more standard).

I would also name the groups like ``Misc`` or ``Consumer``, and let the framework add the `` commands`` part in the output.

[2020-07-15 22:39] memsharded opened #7367 "[feature] Improvements in CLI 2.0 search"
[code]

Some things to be considered:
1. I would use the ``--format, -f`` for the output format, the ``-o`` will conflict with the options
2. ``--remote`` should explicitly say that multiple remotes can be provided ``--remote=remote1 --remote=remote2``?
3. ``--cache`` probably don't need to be exclusive to remotes, if the output is multiple.
4. The default output format is the first in the list, b

[2020-07-16 07:22] refactorTractor commented on #7063
Is there any additional info I should provide?

[2020-07-16 08:23] memsharded commented on #7063
Hi @AGreat1

No, it is clear, I am preparing a big change of lockfiles for 1.28, let me have a look, will try to include this.

[2020-07-16 08:55] memsharded commented on #7063
It has been included in https://github.com/conan-io/conan/pull/7243, for Conan 1.28

Please keep tuned to the 1.28 release, many things are going to change in lockfiles. It will also be possible to lock the versions only (not the full lock with the binary package-ids and the profiles), which might be  something useful if you plan to add it to version control (instead of having to commit every lock

[2020-07-16 11:46] vishalmchavan commented on #6886
Hi,

Could you please let me know if any solution was found for this?

I am trying to search a string from Json file.

Code where I am facing problem : data1 = json.load(f1)
I am using
Pygments==2.6.1
httpie==2.2.0
requests==2.24.0
chardet==3.0.4
certifi==2020.6.20

Python 3.8.4

It works when I run code from docker container running on local Centos VM.

But if I run from Gitlab runner , code fail

[2020-07-16 11:52] coder-ent commented on #7336
Hello @memsharded

I shall try to get it resolved via JFrog Support. Thanks for your help!

[2020-07-16 11:52] #7336 closed, assigned to czoido

[2020-07-16 11:55] memsharded commented on #7336
Ok, many thanks @coder-ent, if you can, please let us know how it goes, or if you need our help from our side, reopen the issue.  If you have also a JIRA ticket, please copy it here, so we can track it too. Thanks!

[2020-07-16 11:58] memsharded commented on #6886
Hi @vishalmchavan

Are you using Conan? Which version? I don't see how your comment is related to this issue.

[2020-07-16 13:01] vishalmchavan commented on #6886
@memsharded
Hi,
This is not related to Conan. I am getting this while calling json.load from Alpine based container run from Gitlab runner

I came through this thread. So thought may be similar exception

Thanks

[2020-07-16 14:46] monsdar commented on #5597
Today we discussed this topic again and I again found this old issue. Just asking to make sure - has there been any changes that'd make this fix possible? Is this something on the roadmap anywhere?

[2020-07-16 15:46] jgsogo commented on #7138
What do you think about this alternative at python-file level?

[code]

[2020-07-16 15:49] pcapdump opened #7368 "[bug] incomplete dangerous dependency resolution in Conan"
Conan dependancy resolution seems to be incomplete.
I configured `conanfile.txt` as follows:

[requires]
boost/1.69.0
wt/4.3.1

And `Conan` happily installed both libraries, although `Wt` was built with `boost-1.73.0` as seen at https://conan.io/center/wt/4.3.1/?user=_&channel=_&revision=&os=Linux&tab=config

The application build ended with linkage error:

``
/bin/ld: /root/.conan/data/boost/1.69

[2020-07-16 15:58] jgsogo opened #7369 "Improve '.editorconfig' file"
![image](https://user-images.githubusercontent.com/1406456/87693965-e08eea00-c78d-11ea-9c86-6a116aaf471f.png)

[2020-07-16 16:39] Minimonium commented on #7368
Hi, the issue is the old resolution default strategy that's scheduled to be fixed in the next major version.

You can try to change the `# full_transitive_package_id = 0` to 1 in the `conan.conf`:
https://docs.conan.io/en/latest/reference/config_files/conan.conf.html

Additionally, consider `package_revision_mode` for the package_id_mode for a more strict tree (much more builds, be aware).

[2020-07-16 16:41] memsharded commented on #7368
Hi @pcapdump

Thanks for submitting this issue.

This is a known result of the default ABI compatibility model of Conan, which is ``semver_direct_mode``. This was an assumption that was very early built in Conan, and assumed that the packages would be compatible at the major version, following semver. Unfortunately this is certainly not a safe default for C++ linkage, but it was too late to change

[2020-07-16 17:06] memsharded commented on #7368
BTW, this is something that most likely will change in Conan 2.0, when we are able to break and change the defaults.

[2020-07-16 17:13] jgsogo commented on #7365
Totally agree. At the bottom of all these templates (graph and search) we can include a footer in small letters, something like:

[code]

wdyt @memsharded ?

[2020-07-16 17:33] memsharded commented on #7365
Totally agree! Lets do it.

[2020-07-16 18:37] timbrown5 commented on #7060
I spoke to some of our devs and they would like the option of testing a build with a new Ubuntu package version, even is another us (say Mac/Windows) fails.

I have looked to work around this by using `conan search xxx -q yyy` where `yyy` is the details of my profile to get the REV for the current system.
The problem I can up against is that `conan install` doesn't support a package revision with

[2020-07-17 04:51] zebrajap commented on #7355
Hi,
I tried this. It tries execute requirements() during export-pkg step and there it is referring local cache. Should I switch between paths based on executed command?

[2020-07-17 06:56] AndreasHK opened #7371 "[question] imported libraries (via imports()) get deleted during build, cannot be packaged later"
Hi,

I'm somehow stuck at a very simple issue and I'm sure I'm overlooking something. I've got a shared library (let's call it MyLib) and an executable (let's call it MyExe) depending on it.

In the MyLib I have following package & package_info:

        def package(self):
            self.copy("*.h", dst="include", src="include")
            self.copy("lib*.so", dst="lib", src="lib")

        def

[2020-07-17 07:15] arsdever commented on #7305
Guys any update on this? Is this a known issue? Did I make a mistake?

@memsharded Maybe you can give some information about this?

[2020-07-17 08:01] czoido commented on #7371
Hi @AndreasHK ,
If you want to package the `so` files with `MyExe` you have to set the `keep_imports=True` in your conanfile, otherwise the imported files will be removed after building. You can check the [documentation about this](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=keep_imports#keep-imports).

[2020-07-17 08:35] jgsogo commented on #7374
Hi, @johnmcfarlane . I've transferred this issue to the main Conan repo while there is no dedicated one for a VSCode extension.

Some time ago I started to draft one here: https://github.com/jgsogo/conan-vscode-extension, I took a very community-oriented perspective, for hobby developers that needs quick integration with Conan and packages from ConanCenter, developers that were switching projects

[2020-07-17 08:59] AndreasHK commented on #7371
@czoido thank you so much for your input. It is embarrassing that I overlooked that...

[2020-07-17 08:59] #7371 closed, assigned to nobody

[2020-07-17 09:40] deekshith-elear opened #7375 "Enable logs in Coanaio/conan_server docker image"
Hi,
I'm using conanio/conan_server for storing mmy conan packages since last year. since 2 weeks I was getting 504 timeout error some time it is responding. I want to check logs of server to know what actually it is happening but conanio/conan_servevr is printing limited logs so Is there any option to enable more logs in conanio/conan_server docker container

Thanks,

[2020-07-17 09:53] timbrown5 commented on #6066
Sorry I have forgotten to comment. We are using Conan 1.22.2 and this is fixed. Also tring 1.27.1 and we are still able to authenticate with Artifactory, so I am closng this.

[2020-07-17 09:53] #6066 closed

[2020-07-17 10:26] memsharded commented on #7375
Moving this to the conan-docker-tools repo.

Also, I would recommend using the free Artifactory CE (there is also a docker install), which has a nice web UI, generic repos, better auth, etc: https://conan.io/downloads.html

[2020-07-17 12:06] memsharded commented on #7355
No, I would still try to reconsider to use the same ``VersionInfo.txt`` shared for all packages, as this might have some undesired consequences down the road. For example, you can change some data in ``VersionInfo.txt``, that affects only to *Component1*. But as the file is also used by all components, all other components will create a new package, with a new ``VersionInfo.txt``, that will modify

[2020-07-17 12:08] #7299 closed, assigned to memsharded

[2020-07-17 12:09] memsharded commented on #7299
Implemented the ``in`` operator in #7303, together with a bug that didn't raise for wrong options. Will be in next 1.28, thanks for reporting!

[2020-07-17 14:07] pcapdump commented on #7368
Thanks for reply,

I tried removing /root/.conan.
Then I did:

$ conan config set general.full_transitive_package_id=1

And then ran build.
Nothing changed...
Same error as above.

We don't have conan.conf as we use https://github.com/conan-io/cmake-conan.
But the above should be equivalent, shouldn't it?

After build I do

$ conan config get general.full_transitive_package_id
1

Therefore, the op

[2020-07-17 14:23] pwaehnert opened #7377 "[bug] conan install only considers exports_sources"
### Environment Details (include every applicable attribute)
  * Conan version: 1.26.0+

### Steps to reproduce (Include if Applicable)

Put a `dummy.txt` next to the following `conanfile.py` in some directory.

    # conanfile.py
    from conans import ConanFile
    from os.path import isfile

    class ExportSourcesTestConan(ConanFile):
        name = "export-sources-test"
        version = "1.0

[2020-07-17 15:31] Minimonium commented on #7318
The issue with automatic addition of top-level settings is that existing recipes don't know how to remove these from the package_id? Is it even an issue if we can say that, generally, a top-level setting will _always_ produce a separate hash for external recipes?

[2020-07-17 15:52] Minimonium commented on #7368
Aha, my bad, seems like I misunderstood the intent of the `full_transitive_package_id`. After rereading the docs I've got that it's the issue of breaking the chain of transitive requirements by header-only libraries, instead of a global package_id_mode fix.

So yes, a solution would be to change the `package_id_mode` as @memsharded suggested.

[2020-07-17 15:59] zebrajap commented on #7355
Hi @memsharded,

Sorry for not explaining my entire plan here. I was trying to keep few other information as well in the same file.
1. We do have dependent libraries coming as a pack with all having a single version. Hence keep that version here
2. Set of dependencies are taken as code from git repo using a tag. Hence to keep that tag here.

Both above are common for all our components. Therefore

[2020-07-17 16:10] pcapdump commented on #7368
@Minimonium , @memsharded ,

Unfortunately, `package_id_mode` doesn't change anything too:

$ conan config get general.default_package_id_mode
full_version_mode

I see warning `WARN: wt/4.3.1: requirement boost/1.73.0 overridden by your conanfile to boost/1.69.0 `

But the build continues...

Full log when both `general.full_transitive_package_id` and `package_id_mode` options are set:

Configurat

[2020-07-17 16:20] Minimonium commented on #7368
@pcapdump Could be a different name
[code]
From https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#changing-the-default-package-id-mode

[2020-07-17 16:40] planetmarshall opened #7379 "[bug] conan install fails expecting `USERNAME` and `USERDOMAIN`"
### Environment Details (include every applicable attribute)
  * Windows 10
  * Conan 1.27.1
  * Python 3.8.3

### Steps to reproduce (Include if Applicable)

`conan install <conanfile>`

Will try and get a minimal working example if I can.

### Logs (Executed commands with output) (Include/Attach if Applicable)
[conan.log](https://github.com/conan-io/conan/files/4938978/conan.log)

[2020-07-17 16:50] Ambrase commented on #7100
Why self.info doesn't exist when I run "conan build ." instead of "conan create ."?

[2020-07-17 16:59] memsharded commented on #7355
HI @zebrajap

Ok, good to know, thanks for the explanation!

Happy to know that the above solution worked, so I am going to close this issue as solved, don't hesitate to open more if you have further questions. Thanks!

[2020-07-17 16:59] #7355 closed, assigned to memsharded

[2020-07-17 17:57] #6172 closed

[2020-07-17 18:08] uilianries commented on #7379
Your error comes from https://github.com/conan-io/conan/blob/1.27.1/conans/util/windows.py#L88

That's uncommon, because %USERNAME% is a default env var in Windows.

[2020-07-17 19:11] memsharded commented on #7377
Thanks very much for your complete report and detailed investigation. Indeed a bug that needs to be fixed.
You were just one ``if`` from a Pull Request, next time don't hesitate to submit it, we can help with the testing if necessary :)

I have contributed the fix in https://github.com/conan-io/conan/pull/7380, planned for next release (Conan 1.28)

[2020-07-17 19:18] memsharded commented on #7379
Yes, can you verify you don't have such env-var in your environment?

We can try to relax that requirement, it is not necessary for many cases, you can read the whole functionality:

[code]

But still surprising that you don't have the USERNAME env-var defined.

[2020-07-17 19:48] uilianries commented on #7379
@memsharded Windows provides [whoami](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/whoami), which could be used when USERNAME is not available. Not sure if whoami consumes %USERNAME% too

[2020-07-17 20:10] pwaehnert commented on #7377
You're welcome. I'm amazed how quick you're with feedback to new issues. Great work!

[2020-07-17 20:21] LeonFretter opened #7381 "[feature] Make it possible to extend virtualenv-generator environment-variables from within a consumer"
Let's say i have a **provider-package** that in its `package_info` defines some **environment-variables**.
I also have a **consumer-package** which uses the `virtualenv`-generator, wants to use the virtual environment created by the provider-package,
but wants to set some environment-variables itself, so that the **union** of the environment-variables from the provider and the consumer all land in

[2020-07-17 22:10] memsharded commented on #7381
Hi @LeonFretter

This is an interesting feature request, and will most likely be provided, but not by the ``generators``, but by the toolchains: https://docs.conan.io/en/latest/creating_packages/toolchains.html

The idea is that the ``toolchain()`` is whatever a recipe does to build itself. There is right now preliminary experimental support for CMake, but support for others, and also for environm

[2020-07-17 22:13] memsharded commented on #7377
No problem, thanks to you for reporting! Let's keep the issue open it will be automatically closed when the PR is merged to develop.

[2020-07-18 06:29] LeonFretter commented on #7381
Hi @memsharded ,
sounds reasonable to keep these concerns separated like this!
Im looking forward to a virtualenv-toolchain, and in the meantime, will have a look at existing toolchains. Thank you :)

[2020-07-18 13:04] tvogel commented on #1659
Be aware that there is the possibility that multiple package managers are available on a given system. Yes, there might be a primary one but there could be both `zypper` and `apt` on an openSUSE system (https://software.opensuse.org/package/apt).
So, to me, explicit dependency on the distribution makes sense.

[2020-07-19 14:06] mjvankampen opened #7383 "[bug] QCC compiler is missing cppstd"
The QCC compiler is missing the cppstd setting

[2020-07-19 14:52] TimSimpson opened #7385 "[feature] Define namespaces for generated entities, such as exported CMake targets"
It is sometimes desired to change the namespace used for the targets created by the various CMake generators so they can match the targets created by naming schemes outside of Conan (such as the built in find modules or system installed packages).

One way to tackle this problem would be to use the [filename attribute](https://github.com/conan-io/conan/issues/7254) to control the name given to the

[2020-07-19 20:52] memsharded commented on #7349
Hi @noizex

If this is to be included in Conan 1.28, it would be great to have it during this week (starting tomorrow). Let us know if you will manage to submit a PR, otherwise we will try to contribute it ourselves. Thanks!

[2020-07-19 20:58] noizex commented on #7349
@memsharded,
Ah, sorry, I got the change done but was stuck on thinking if I should add any tests - I couldn't find any particular tests for this area of ConanRequester. I had couple of busy days then and totally forgot to submit the thing. Do you think I could open PR and continue discussion on the possible tests etc there?

[2020-07-19 21:11] memsharded commented on #7349
Sure, submit the PR, and we will check about the tests

[2020-07-20 07:36] pwaehnert commented on #7377
Sorry, didn't know that. I thought only issue #7380 is bound to the pull request and this issue here thus obsolete. That's why I closed it.

[2020-07-20 07:43] rushikesh90 commented on #5165
@a4z @uilianries Is any workaround or solution been found for this issue?

[2020-07-20 08:10] petermbauer commented on #6405
@jgsogo, any thoughts on this? Or are there plans/ideas for a more "generalized" approach?

[2020-07-20 09:28] danimtb commented on #7385
Thanks for the proposal!

I think that `namespaces` could be a more easy to understand word, however, the use case you are proposing can already be achieved with something like:

[code]
and
[code]

the only thing missing IMO to achieve full integration is https://github.com/conan-io/conan/issues/7254, so I'd rather have that first and then evaluate if a namespace attribute is really needed in case

[2020-07-20 09:32] nguoithichkhampha opened #7386 "[bug] Link error with project base qmake"
* Operating System+version: MacOS 11
  * Compiler+version: android ndk r21
  * Conan version: Conan version 1.27.1
  * Python version: 3.8.4

the problem in function conan_basic_setup of file conanbuildinfo.pri
`
LIBS += $$CONAN_LIBS
LIBS += $$CONAN_LIBDIRS
`

After I separate config for each library. project build successful
`
LIBS += $${CONAN_LIBDIRS_COUCHBASE_LITE_CORE} $${CONAN_LIBS_COUCHBASE_

[2020-07-20 10:06] memsharded commented on #7386
Hi @nguoithichkhampha

Thanks for the report.
Could it be a library order issue?

If you could please post your ``conanbuildinfo.pri`` file, that would help. In theory, the ``CONAN_LIBS`` variable would be the aggregation of the individual libraries, so the final content should be the same.

[2020-07-20 10:13] nguoithichkhampha commented on #7386
Hi @memsharded , I don't think order issue. link error even with library one static file and don't have any dependencies.
`/Users/Emotiv/cortex-v2/src/Cortex/Math/MatrixFunctions.cpp:371: error: undefined reference to 'NEWMAT::RMatrix::RMatrix(int, int)'`

[conanbuildinfo.pri.zip](https://github.com/conan-io/conan/files/4946976/conanbuildinfo.pri.zip)

[2020-07-20 10:24] Arghnews opened #7387 "emscripten 1.39.13 invalid settings.arch wasm"
I am trying to follow the [conan emscripten hello world example here](https://docs.conan.io/en/latest/integrations/cross_platform/emscripten.html) on Ubuntu.

I run
[code]

`build.sh` runs the commands
[code]

The `emscripten.profile` file in the current directory contains in the `[build_requires]` section:
[code]

This all works fine.

If I change the emsdk to `emsdk_installer/1.39.6@bincrafters/

[2020-07-20 12:05] theodelrieu opened #7388 "[bug] fPIC automatic handling fails when using cmake_find_package generator"
### Environment Details (include every applicable attribute)
  * Conan version: 1.27.1

### Steps to reproduce (Include if Applicable)

When creating a package with `fPIC=True`, the `CMake` build helper will set `CONAN_CMAKE_POSITION_INDEPENDENT_CODE=ON`.

However, this will only work when using the `cmake` generator (and using the `conan_basic_setup` macro, which checks for `CONAN_CMAKE_POSITION_

[2020-07-20 13:15] TimSimpson commented on #7385
@danimtb After [some more thinking](https://github.com/conan-io/conan/pull/7320#issuecomment-661027328) I agree that either approach is acceptable.

[2020-07-20 13:21] czoido commented on #7346
The same problem reported here: https://github.com/conan-io/conan/issues/5642
Already reported in Artifactory JIRA: https://www.jfrog.com/jira/browse/RTFACT-19943

[2020-07-20 14:00] #7347 closed, assigned to danimtb

[2020-07-20 14:01] memsharded commented on #7347
https://github.com/conan-io/conan/pull/7389 tests and documents the return value of ``self.copy()`` which should be good for these possible extra checks.. Will be documented in Conan 1.28

[2020-07-20 14:08] #7377 closed, assigned to memsharded

[2020-07-20 14:08] danimtb commented on #7388
Hi @theodelrieu,

You are linking the Bincrafters documentation which we are not responsible for. What we have documented is that the CMake build helper handle the fPIC option in a recipe by setting `CONAN_CMAKE_POSITION_INDEPENDENT_CODE` automatically, as you can check here: https://docs.conan.io/en/latest/reference/build_helpers/cmake.html

This variable is only used by the `cmake` generator (I

[2020-07-20 14:25] pcapdump commented on #7368
It was my mistake, I changed the conan config for userA and built by userB.
That's why it the config option didn't apply.
Thanks!

[2020-07-20 14:27] theodelrieu commented on #7388
Oops, didn't even see that was bincrafters' doc 🤦

Thanks, I'll try those options out!

[2020-07-20 14:27] #7388 closed, assigned to nobody

[2020-07-20 14:39] czoido commented on #7387
Hi @Arghnews,

Thanks a lot for reporting, yes, the documentation about emscripten is outdated, we will update it as soon as possible.
I think that the error with version `1.39.13` was solved in this PR: https://github.com/bincrafters/conan-emsdk_installer/pull/8 at least for the `testing` version so please check if updating the recipe to that one solves your issue. It was reverting a change that

[2020-07-20 14:43] memsharded commented on #7386
Hi @nguoithichkhampha

This is surprising. I am checking the .pri file you attached, and checking the values, it seems that:

[code]
is identical to
[code]

Maybe the order, you need to specify first the CONAN_LIBDIRS argument, and then the CONAN_LIBS one? I am no expert in qmake, but seems the only difference from above. Maybe printing the final ``LIBS`` value in both cases and analyzing the diff

[2020-07-20 14:51] Minimonium commented on #7386
@nguoithichkhampha Do you by chance have subdirectories with projects and the `conanbuildinfo.pri` is included only at the top level?
There is a QMake issues that it doesn't propagate local variables to subdirectories https://github.com/conan-io/docs/issues/1531

[2020-07-20 15:03] uilianries commented on #5165
No, possible should be solved for Conan 2.0.

[2020-07-20 16:44] nguoithichkhampha commented on #7386
@memsharded , change order of CONAN_LIBDIRS and CONAN_LIBS does not help anymore.
@Minimonium , no check file above. my project can see include path. Just error when link library.

[2020-07-20 17:02] memsharded commented on #7386
Could you please @nguoithichkhampha do a ``message()`` of the ``LIBS`` variable value in both cases, the one that works and the one that fails, and share it here? In theory they should be identical, it would be helpful so read differences between both.

[2020-07-20 23:54] noizex commented on #7349
@memsharded so here is the PR:  #7390
I didn't yet create documentation and the tests are missing - I think something around two paths: default provided User-Agent & User-Agent provided by user and not overriden, would be good to have...

[2020-07-21 07:13] jokram commented on #6560
In another context I've observed the permission denied error and there I've tried to isolate the problem. With the following python script I was able to produce the error nearly 100%:
[code]

- I've run the tests also in a directory where **no** Windows indexing service is looking into => error still occurs
- I've checked the Virus Scanner logs, but could not find an entry

=> So my conclusion so

[2020-07-21 07:44] danielhalati opened #7391 "Debug/release seaparate remotes"
I have the following scenario: I store 3rd party libraries in separate remoted depending on the build type (debug/release).

I have a script that helps me download the binaries and depending on the build type option, I copy a different remotes.json file to .conan folder.

The issue that I am facing is that when the local cache is empty I can pick up let's say to download debug binaries everything

[2020-07-21 07:57] stewe26 opened #7392 "[question] Consuming package with incompatible setting (build_type)"
Hello,

I am in the process of getting to know conan and try to consume the first packages. My colleagues from another department are already using conan and provide some packages. So I tried to consume such a package - which we used to consume by "copy deployment" - using conan.
The binary files for component and its dependencies are not available for the settings of my default profile (which, by