[2021-04-13 10:28] memsharded commented on #8794
Hi @louiscaron

Yes, maybe it is not that clear in the docs, but the ``CONAN_USE_ALWAYS_SHORT_PATHS=1`` is a configuration that affects the whole cache layout and behavior. Once that it is set for a Cache, it needs to be respected for that cache, or there will be inconsistencies. Other projects using this same cache should also set this variable. You have the following possibilities:

- Use a diff

[2021-04-13 10:52] bldrvnlw commented on #8788
@snailcatcher we have our own artifactory with conan-center (conan.bintray.com) as a remote but it's not well documented how you get a particular artifact into the cache.

In the[ Jfrog doc](https://www.jfrog.com/confluence/display/JFROG/Repository+Management)   it suggests: access _"http://\<host\>:\<port\>/artifactory/\<remote-repository-name\>/\<artifact-path\>"_ and the artifact will be auto-m

[2021-04-13 11:07] Ambrase commented on #8674
Anyone?

Thanks

[2021-04-13 11:20] louiscaron commented on #8794
Thanks a lot for the clarification.  I have used the per package configuration and it worked perfectly.  Indeed, in the documentation, I was not clear about the scope of the different configuration options.  Actually, your three points made it perfectly clear.  May I suggest that those three points appear in the documentation of the short_paths attribute and in that of the CONAN_USE_ALWAYS_SHORT_P

[2021-04-13 11:20] #8794 closed, assigned to memsharded

[2021-04-13 11:20] planetmarshall commented on #8788
We use a couple of strategies.

1. Let conan take care of this for you. Do
[code]
And the cache will be uploaded to your remote. List your remote first in `${CONAN_USER_HOME}/remotes.json` and conan will look there before CCI. One disadvantage of this approach is you will not get updated recipes from CCI, so I recommend periodically refreshing the recipes from CCI (say once per release cycle) and

[2021-04-13 11:42] liarokapisv opened #8795 "[feature] Adding interface sources"
It is often the case especially on embedded projects that libraries expect certain definitions to be defined. Stuff like buffer sizes, clock speeds etc. This means that often such libraries cannot be pre-built but expect consumers to pull their sources in their project where project-specific configurations are available. These libraries are not header-only and they have the advantage of better ite

[2021-04-13 11:47] liarokapisv commented on #8795
A lot of this can probably be tackled by just exposing such required definitions directly via package settings. I think it's still worth exploring such a feature since it's more in line with what such libraries expect especially those providing proper cmake support with interface targets. This can allow consuming projects of such libraries to still stay package-manager agnostic.

[2021-04-13 14:56] uilianries commented on #8792
Just to complement, I already answer it on StackOverflow: https://stackoverflow.com/a/67074324/2036859

Probably @memsharded can suggest a better solution.

[2021-04-13 19:10] dgoel opened #8797 "[bug] Regression with cmake_find_package generator with conan 1.33.0"
Starting with conan 1.33.0, there's a regression with using `cmake_find_package` generator when using pybind11 2.6.2 from conan center. Basically, cmake errors out during the configuration step in `find_package(pybind11 REQUIRED)` as it tries to create an already imported library target for `pybind11`.

See below for steps to reproduce the problem.

### Environment Details (include every applicabl

[2021-04-13 20:26] mcandre opened #8798 "[feature] Option to host/download packages via VCS"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I would love to see support for configuring dependencies in terms of git repositories.

This way, we can grandfather in many interesting libraries with less of a burden to involve any artifact servers. Let's make it even easier for developers to publish and use conan packages!

[2021-04-13 20:59] memsharded commented on #2200
Implemented in https://conan.io/center/ long time ago

[2021-04-13 20:59] #2200 closed

[2021-04-13 21:04] memsharded commented on #8798
Hi @mcandre

This has been discussed before, https://github.com/conan-io/conan/issues/6102, https://github.com/conan-io/conan/issues/3669, https://github.com/conan-io/conan/issues/8322.

And more recently https://github.com/conan-io/conan/issues/8607. Please track this one for further information, I will close this one as duplicate. In short, this will not be possible, there are many technical rea

[2021-04-13 21:04] #8798 closed, assigned to nobody

[2021-04-13 21:49] memsharded commented on #8797
Hi @dgoel

This doesn't look like a regression in Conan client, but it is a failure in the pybind11 ConanCenter recipe. It is just an unfortunate behavior, because the recipe injects some package CMake modules that cause the conflict, and it happens by luck that Conan 1.32 is not managing those modules at all, so it doesn't fail.

The issue is being handled in ConanCenter in https://github.com/con

[2021-04-13 21:49] #8797 closed, assigned to nobody

[2021-04-13 22:07] memsharded commented on #8735
Hi @Nekto89

This is good info. The toolchain so far do not implement the specific version selection, only the toolset.
Lets see if we can add this to it. I would really like to add it to the generated ``conan_toolchain.cmake`` file, and not the command line, do you know if this is possible?

For some reason (https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_TOOLSET.html), it seems that

[2021-04-14 06:49] Nekto89 commented on #8735
I've tried adding 4 lines with 1 hardcoded version to end of this method in my local 1.35.0 and it seems to be working so probably all mapping from compiler.version to CMAKE_GENERATOR_TOOLSET should be done there
https://github.com/conan-io/conan/blob/663b24cd7a6105119129bb1684f5cf8418c461b6/conan/tools/cmake/generic.py#L18

[code]

[2021-04-14 07:28] Nekto89 commented on #8735
Documentation states "A toolchain file specified by the CMAKE_TOOLCHAIN_FILE variable may initialize CMAKE_GENERATOR_TOOLSET. Once a given build tree has been initialized with a particular value for this variable, changing the value has undefined behavior." so it's ok to pass toolset through toochain file.

[2021-04-14 08:13] memsharded commented on #8735
Yeah, I was trying to set CMAKE_VS_ vars, I thought that was the way. Didn't know that ``version=xxx`` was allowed syntax for CMAKE_GENERATOR_TOOLSET, this is good info, thanks, I will keep investigating in this line.

[2021-04-14 09:17] whyman opened #8799 "[bug] SYSTEM_LIBS not passed via CMake targets (cmake_find_package generator)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: GCC 10
  * Conan version: 1.35.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Using the cmake_find_package generator, the SQLite3 target does not include the required system libs for linking to work as expected.

### Logs (Executed commands with

[2021-04-14 12:08] uilianries commented on #8799
Hi @whyman, this issue should be moved to https://github.com/conan-io/conan-center-index/issues/

It's related to SQLite3 package, not Conan client.

Anyway, `dl` is liked only when `OMIT_LOAD_EXTENSION` is enabled.

https://github.com/conan-io/conan-center-index/blob/master/recipes/sqlite3/all/conanfile.py#L180

[2021-04-14 12:22] memsharded commented on #8735
I am proposing this PR for next release: https://github.com/conan-io/conan/pull/8800. If you want to have a look or run it from sources, that would be great.

[2021-04-14 12:23] whyman commented on #8799
Hi @uilianries Thanks for replying

I think the `dl` is linked when `OMIT_LOAD_EXTENSION` is disabled (e.g. it is load extensions are enabled), which it is by default:

[code]
The double negation should mean it is added, right?

Can you explain how this is a package specific problem in that case? ( I am new and want to fix it! )

[2021-04-14 12:45] uilianries commented on #8799
@whyman

Yes, correct.

It's simple, you need sqlite3, consume it, but doesn't work. Besides that, system libs and cmake_find_package are largely used, if it was a Conan bug, we would had many other issues reporting same.

Now we have to investigate Sqlite3 package, but first this issue should be moved and your description should be more detailed (follow [this](https://github.com/conan-io/conan-ce

[2021-04-14 13:11] whyman commented on #8799
Okay, reported over there instead https://github.com/conan-io/conan-center-index/issues/5221

[2021-04-14 13:11] #8799 closed, assigned to nobody

[2021-04-14 14:14] jegabe commented on #8511
I have a good working workaround for the issue: A wrapper conanfile.py that just references the shared library as build_requires with force_host_context=True and then just copying the artifacts of that that build. This way, the dependency tree is fully decoupled and I get what I want. Here's the code I use:

[code]

[2021-04-14 14:15] #8511 closed, assigned to danimtb

[2021-04-14 14:18] jegabe commented on #8511
@danimtb  If you want to, you can use the workaround in my last comment inside the conan docs as conan < 2.0 work-around for dependency decoupling

[2021-04-14 14:18] #8647 closed, assigned to solvingj

[2021-04-14 16:06] Chemrat commented on #4480
Putting `whole-archive` in exelinkflags for the library results in those flags being used twice, I suppose when linking the executable itself and when linking the library, which naturally results in multiple definitions error. My `conanbuildinfo.txt` is generated with those flags in two sections simultaneously: in `exelinkflags_MYLIBRARY` and `exelinkflags`.

[2021-04-14 16:07] andoalon opened #8801 "[bug] find_package(...) succeeds even when requested REQUIRED non-existent components when using cmake_find_package[_multi] generators"
Possibly (partially?) fixed in #8716

## Environment details
* Conan version: 1.35.0
* CMake version: 3.19.20122902-MSVC_2 (version bundled with Visual Studio 2019 16.9.3)

## Steps to reproduce
* Write a conan recipe that uses components, and has different `filename` and `name`:
[code]
* Use conan's cmake_find_package or cmake_find_package_multi generator
* Use `REQUIRED COMPONENTS` when using `f

[2021-04-14 16:20] georghirn commented on #8774
Thanks for the fast response. 🙂

Since you want to consider the new architectures in the build helpers, I think this information may be interesting for you:

We have to do some things to get it to work for embedded development in our environment. For example, we need a way to distinguish between an embedded and non-embedded (OS) target. We solved this by adding the setting `NoOs` to the `settings.

[2021-04-15 06:12] chetz79 opened #8802 "[bug] "conan_build_info --v2 pubilish" does not work as expected"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows10 Professional 64Bit
  * Compiler+version: Visual Studio 2017
  * Conan version: 1.24 - 1.35 (at least)
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
try to publish a build against an Artifactory server, which is availabel under an url, which does not ends on "/artifactory"

[2021-04-15 07:25] czoido commented on #8802
Hi @chetz79,
Thanks a lot for reporting,
Could you please specify which Artifactory version are you using?
Also, I presume that your url for the API does not have _artifactory_ in it, so you would need the `artifactory` service context to be removed?

[2021-04-15 08:58] dmn-star opened #8803 "[question] How to build for arm64 catalyst (Apple M1)?"
Unfortunately I can't find a way to build for M1 catalyst or am I missing something?

@SSE4

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-15 09:00] db4 opened #8804 "[question] Conan center search takes ages"
The request
[code]
takes almost 2 minutes to complete. Why? Probably due to that a dependency `boost/[>=1.66.0]` in my recipe makes the whole recipe failing with a timeout:
[code]
I understand the range queries are expensive but should they be expensive THAT much?

[2021-04-15 09:02] memsharded commented on #8804
Hi @db4

This is a well known problem of bintray. Once that we are able to migrate ConanCenter off Bintray, which is planned for the next weeks (https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html) this should be improved.

[2021-04-15 09:13] db4 commented on #8804
@memsharded thanks I lot for a super-fast reply! BTW  are you going to change conan-center URL (conan.bintray.com) after bintray shutdown? I read your blog but didn't find the answer.

[2021-04-15 09:28] memsharded commented on #8804
conan.bintray.com will keep working after 1st May, and for a few more months.

Then, we will provide a new URL that will replace it, freezing the state of conan.bintray.com, but conan.bintray.com will keep working simultaneously during some months, in order to allow a smooth transition to the new url.

[2021-04-15 09:31] #8804 closed, assigned to nobody

[2021-04-15 09:33] akalali opened #8805 "[question] Why is the "run_environment=True" not used as a default?"
I just came across the problem that my Conan recipe (specifically the included test_package) does not work on Ubuntu using a shared library.
The problem is that I was missing the `run_environment=True` argument. I was missing this because I created my test_package as explained [here](https://docs.conan.io/en/1.35/creating_packages/getting_started.html#the-test-package-folder).

I find this confusi

[2021-04-15 09:40] blackliner opened #8807 "[feature] remove corrupt cache files and retry download 3 times"
On CI, we have sometimes corrupted files in the download cache. The current workflow, as it is also recommended with a [comment here](https://github.com/blackliner/conan/blob/538c3550b6102e07739fdc3a0d526200fde6d283/conans/client/downloaders/cached_file_downloader.py#L56-L57), is to manually delete the file. Unfortunately, on CI that is not possible.

I propose a change to the mechanism, and allow

[2021-04-15 11:09] danimtb commented on #8781
Transferring this to conan-center-index

[2021-04-15 11:20] SpaceIm opened #8808 "[feature] CMakeToolchain: prepend CMAKE_CURRENT_LIST_DIR instead of CMAKE_BINARY_DIR"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, toolchain file generated by CMakeToolchain sets `CMAKE_MODULE_PATH` and `CMAKE_PREFIX_PATH` like this:

[code]

It would be more robust to prepend `CMAKE_CURRENT_LIST_DIR` since `conan install` could be called from an other directory than root build tree.
Usually I call `co

[2021-04-15 11:32] memsharded commented on #8808
But using CMAKE_CURRENT_LIST_DIR will have the same issues, or even worse, because it will reference the CMakeLists folder, which is usually in the source space, and it means that it should expect to have all generated xxx-config.cmake files in the source folder, not the temporary build one. What am I missing here?

In any case, the solution to this is more a explicit modeling and parameterization

[2021-04-15 11:33] #8744 closed, assigned to memsharded

[2021-04-15 11:34] memsharded commented on #8744
https://github.com/conan-io/conan/pull/8793 merged, this will be released in 1.36

[2021-04-15 12:14] #8735 closed, assigned to memsharded

[2021-04-15 12:15] memsharded commented on #8735
https://github.com/conan-io/conan/pull/8800 merged, will be in 1.36

[2021-04-15 12:16] memsharded opened #8809 "[feature] Handle different VS versions and toolsets in new CMakeToolchain"
Continuation of https://github.com/conan-io/conan/pull/8800

[2021-04-15 12:20] ericLemanissier commented on #8763
@SamuelMarks there does not seem to be a conan package for allegro, so you can probably request it on https://github.com/conan-io/conan-center-index/issues

This should not prevent using imgui nor nuklear, because allegro is not needed for these packages

[2021-04-15 13:00] SpaceIm commented on #8808
AFAIK, `CMAKE_CURRENT_LIST_DIR` doesn't refer to any `CMakeLists.txt` folder, but to the local folder where the cmake file referencing this variable lives. Since toolchain files is generated in the same folder than others conan generated file, it's exactly the folder you want to append in CMAKE_MODULE_PATH & CMAKE_PREFIX_PATH.

[2021-04-15 14:01] #7661 closed, assigned to czoido, memsharded

[2021-04-15 14:21] memsharded commented on #8808
Oh, yes, you are right, I misunderstood. Sent PR #8810

[2021-04-15 14:45] memsharded commented on #8600
Closed by https://github.com/conan-io/conan/pull/8727

[2021-04-15 14:45] #8600 closed, assigned to czoido

[2021-04-15 15:14] danimtb commented on #8784
that recipe comes from conan-transit repository which is something quite old and never maintained. Feel free to contribute an update recipe for that library to conan-io/conan-center-index. Thanks!

[2021-04-15 15:14] #8784 closed, assigned to nobody

[2021-04-15 15:39] Vhab opened #8811 "[bug] Regression: PR #8740 breaks adding objects to link through sharedlinkflags"
`mimalloc/1.6.7` uses `self.cpp_info.sharedlinkflags` and `self.cpp_info.exelinkflags` to add objects to link.
(Do note, I am not the maintainer of this package, just a user)

https://github.com/conan-io/conan/pull/8740 makes a change that assumes any 'sharedlinkflags' starting with `/` is a msvc flag changes it to `-`.
This breaks absolute unix urls, like a full path to an object, by changing `/s

[2021-04-15 16:08] SpaceIm commented on #8808
No problem, there was a typo in the code snippet of the first message referring to current behavior, maybe it was not very clear.

[2021-04-15 17:21] memsharded commented on #8811
Hi @Vhab

I am not sure either it is a regression or it is an abuse of sharedlinkflags to provide something that is not a flag, but a filename. I'll check the recipe, thanks for reporting.

[2021-04-15 17:32] jgsogo commented on #8803
Probably @SSE4 can help with this.

[2021-04-15 18:08] memsharded commented on #8811
A couple of quick questions:

- This configuration of the recipe (option) is not built by default by ConanCenter, so it is difficult to know if this feature breaks or not in the CI. So far this seems a bit of abuse of the ``xxxlinkflags`` feature to provide a linkage that is not implemented in Conan. Is it possible to fallback to normal static library while we figure out? Because the right approac

[2021-04-15 18:36] memsharded commented on #8811
Furthermore, it seems the recipe ``test_package`` is not covering this case at all, so it is impossible to reproduce from the repo.

[2021-04-15 18:38] uilianries commented on #8805
Hello @akalali

Backward compatibility. `self.run(..., run_environment=True)` was introduced in Conan 1.6.0. Conan can't change its behavior, otherwise it can break users. Any new feature should not change Conan default behavior.

Your error is due a documentation error, it will be fixed, thank you for reporting.

*Getting Started* tries to be very simple, we don't consider Python as language well

[2021-04-15 19:20] memsharded commented on #8811
Lets revert that PR first: https://github.com/conan-io/conan/pull/8812, and we will take care of the issue that caused that PR later.

[2021-04-15 19:28] elqueffo commented on #8811
It is not possible to use a normal static library while at the same time guaranteeing that the overrides work. This has to be done using an object file.
self.cpp_info.objects would be great, but it doesn't solve the ordering problem below:

This is why link flags is used, because link flags come before any other object files on the commandline. It's a pretty dirty workaround, but personally i don'

[2021-04-15 20:59] memsharded commented on #8811
It seems difficult to come with an ordering definition for this. If we treat objects that could have transitive dependencies to other objects in dependencies packages, then the rule should be the same as the libs linkage order that is happening now, and objects shouldn't just go before everything else... It doesn't seem possible that we just put the objects first always.

So yes, I don't see at th

[2021-04-15 21:26] mrjoel opened #8813 "[feature] Recognize CMake's "Ninja Multi-Config" generator"
Add support for the "Ninja Multi-Config" generator of CMake, which was added in CMake 3.17.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-16 02:07] madebr opened #8816 "[bug] empty library paths of dependencies are visible through AutotoolsBuildEnvironment.library_paths"
When a dependency wants to hide its library folders, these are visible nonetheless through `AutotoolsBuildEnvironment.library_paths`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 17 2019
  * Conan version: 1.35.1
  * Python version: 3.9.4

### Steps to reproduce (Include if Applicable)

Let's create a sim

[2021-04-16 08:39] harendt commented on #3988
I wonder why this issue was closed. That proposal looks like a very powerful feature.

In general I think that overrides in profiles are better than overrides in a `conanfile.py` as it keeps the `conanfile.py` clean and separates the recipe definition from the recipe consumption.

Allowing to override user and/or channel with wildcards would be very helpful as it allows to easily control user/chan

[2021-04-16 09:30] dmn-star commented on #8803
The target for arm64 catalyst is **arm64**-apple-ios13.0-macabi.

[2021-04-16 11:26] SSE4 commented on #8803
@dmn-star seems like you're right
we need to modify a code at: https://github.com/conan-io/conan/blob/f230bf104842c160be6ea377497151fe1ea64c38/conans/client/build/compiler_flags.py#L51
to support other architectures besides x86_64
I'll prepare PR

[2021-04-16 15:53] offa commented on #8033
@memsharded Clang-12 is available officially now.

[2021-04-16 17:39] uilianries commented on #8696
We have two different conf levels, one for profiles and the global.

I think we just need to update profile command to show [conf] section, and for global conf, we can adapt conan config command.

[2021-04-16 18:01] memsharded commented on #8696
It doesn't matter the origin, user wants to know all the possible configurations that they can apply, and what they mean/do. If they can/need to go in the global conf or in the profile, will be defined by its name, like ``core.xxxx`` or ``tools.xxxx``. So just 1 single command to list all existing possible configurations, not all active/used configuration.

[2021-04-16 18:23] uilianries commented on #8696
Understood.

[2021-04-17 22:36] melMass commented on #3734
This kind of solves this issue no?
https://github.com/conan-io/conan/issues/3741#issuecomment-429731992

[2021-04-18 22:04] memsharded commented on #3532
Closed by https://github.com/conan-io/conan/pull/8820

[2021-04-18 22:04] #3532 closed

[2021-04-19 05:20] chetz79 commented on #8802
Hi Carlos,

we use "*Artifactory Version 6.19.1*"
And yes, our Artifactory server is available under an address without
artifactory and so the API neither has it in it's address. Since this
probably is not the usual case, perhaps one could spezify by a flag that
this artifactory should be removed - or rather shouldn't be appended.

Best regards
Christoph

Am Do., 15. Apr. 2021 um 09:25 Uhr schrieb

[2021-04-19 05:56] snailcatcher opened #8822 "[bug] conan create acts differently as conan build"
### Environment Details (include every applicable attribute)
#### Operating System+version:
Windows 10 1909

#### Compiler+version: (conan profile)
[build_requires]
cmake/3.20.1
mingw_installer/1.0@conan/stable
msys2/20200517

[settings]
os_build=Windows
os=Windows
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=8.1
compiler.exception=seh
compiler.libcxx=libstdc++11
compiler.threads=po

[2021-04-19 08:00] memsharded commented on #8822
Hi @snailcatcher

Conan provides several folders arguments for the command line in order to specify locations (https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html). It also depends how the ``conanfile.py`` implements the ``build()`` method.  It would be great to have a ``conanfile.py`` and the exact commands you are using, could you please provide them?. Maybe a ``--source-fo

[2021-04-19 08:09] czoido commented on #8802
Hi @chetz79,
Thanks for the information, we can submit a fix to make this work for your Artifactory setup on the Conan side.
Also, please be aware that removing the service context starting in version 7.0 can be problematic as stated in [this blogpost](https://jfrog.com/knowledge-base/how-to-remove-artifactory-from-the-context-url-in-artifactory-7/).

[2021-04-19 09:12] Viatorus opened #8824 "Package version conflict although a version range exists (diamond problem)"
Hello,

if two depending packages (B, C) has different version requirements of the same package (A), you have to resolve the conflict in root package:

`To fix this conflict you need to override the package '...' in your root package.`

But I thought or would prefer, if one of them has a version range to A, this could be automatic resolved. But this does not happen.

**lib-a**
[code]

**lib-b**
[c

[2021-04-19 09:20] snailcatcher commented on #8822
Hi @memsharded

Your link was very helpful, because it shows me that the underlying problem is not exactly what I described. (actual problem is at the bottom of this comment)

I try to do a minimalistic setup:
packgen is a conan generator which generates my CMakeLists.txt Files

structure:
- root
  - build
  - package
    - src
      - source.h
      - source.c
  - conanfile.py

conanfile.py
[code

[2021-04-19 09:35] SSE4 commented on #8033
apple-clang 12 is already there: https://github.com/conan-io/conan/pull/7722/files#diff-d9e6bd075cc423e1741e5ccd98478ecad42edc871876d02f63e2965c3ef07cbeR92
regular clang 12 isn't in default settings.yml yet
release notes: https://releases.llvm.org/12.0.0/tools/clang/docs/ReleaseNotes.html

[2021-04-19 09:50] isnullxbh opened #8825 "[question] Git doesn't ask for a password"
Is there a way to force Conan to ask for a password on git clone? I'm not sure that is a Conan issue - when I install a package, I got a prompt for a password, when I use the package in a project (via cmake-wrapper for Conan) - I got an error with the following description:

Conanfile:

[code]

Installation:

[code]

CMakeFiles.txt in a target project:

[code]

P.S:
1. I cannot clone with SSH.
2.

[2021-04-19 10:29] akalali commented on #8805
Thank you for your quick reply.

That seems reasonable to me, thank you for the clarification.

However, there seems to be a misunderstanding - probably on my side. So let me clarify some things:

The fix that you linked here is relevant, however, this is only a fix for the documentation. If someone is actually following the documentation steps, he or she will be presented with the correct `conanf

[2021-04-19 12:07] uilianries commented on #8825
I usually see that error when a git url is wrong. Could you please share the github address? Is it a private repository?

[2021-04-19 12:16] uilianries commented on #8805
The Getting Started recommends using [conan new](https://docs.conan.io/en/latest/creating_packages/getting_started.html?highlight=new#creating-the-package-recipe) command to avoid any possible prone error. If you use that command, it should work.

Probably `conanbuildinfo.cmake` is not being consumed. Without it, your CMake will not receive definitions provided by Conan, like BUILD_SHARED_LIBS=ON/

[2021-04-19 12:50] isnullxbh commented on #8825
@uilianries, yes, it is a private repository. But I'm sure that the URL is valid because it doesn't issue any errors on the installation step (I mean export/install/test).

[2021-04-19 13:26] uilianries commented on #8825
You can try:

    username = os.getenv("GITHUB_USERNAME")
    password = os.getenv("GITHUB_PASSWORD")
    self.run("git clone https://{}:{}@github.com/username/repository.git".format(username, password))

Both username and password you can be collected from env vars or a file. I believe `self.run` uses a new context and your ~/.ssh/ folder is not used.

[2021-04-19 13:44] memsharded commented on #8703
Sorry, the fix for this had to be reverted in https://github.com/conan-io/conan/pull/8812. It was breaking other existing use cases.

The most immediate fix for this might be to change the ConanCenter recipe to define ``-OPT:REF`` flag instead of ``/OPT:REF``, as it seems the msvc linker will accept it, and it will be good for cmake as well.

[2021-04-19 15:09] floriansimon1 opened #8827 "[bug] Version checks for MSVC"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10.0.18363
  * Compiler+version: MSVC 15.9.27
  * Conan version: 1.35.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
`conan install . -if third-party -s build_type=RelWithDebInfo -s compiler.runtime=MT --build missing -s compiler.version=15`
My default profile being:
[cod

[2021-04-19 15:21] memsharded commented on #8827
Hi @floriansimon1

This seems an issue in that stlab Conan recipe, because you cannot compare against ``"15.8"``, as the ``Visual Studio`` version is just "15", and it is impossible to know the minor unless you explicitly add to the Conan model.

Please @uilianries @SSE4 could you have a look at this issue, and tell me, in that case we might want to transfer this issue to the ``conan-center-index`

[2021-04-19 15:29] solvingj commented on #8824
@memsharded the use-case seems fair on the surface.  Is this something that:
1. Should be supported?
2. Could be supported?

I think it depends a lot on how version-range resolution and version-conflict is implemented on the backend, and I don't know who else might recall how that was done.

[2021-04-19 15:34] floriansimon1 commented on #8827
Yes, I just noticed this while debugging the code. I will submit a fix in conan-center-index

[2021-04-19 15:34] #8827 closed, assigned to SSE4, uilianries, memsharded

[2021-04-19 16:01] SSE4 commented on #8033
now has C++23 (`-std=c++2b`):
[code]

[2021-04-19 16:25] czoido commented on #8811
Closed by: https://github.com/conan-io/conan/pull/8812 merged for version 1.35.2 to be released in a couple of hours.

[2021-04-19 16:25] #8811 closed, assigned to memsharded

[2021-04-19 19:57] ericriff opened #8829 "[question] Updating single requirement on a lockfile"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi all,

I've been using conan for a while now listing my requirements using the recipe revision as a lock, in order to get reproducible builds.
E.g.
[code]

I recently started looking into using lockfiles to achieve true build reproducibility, but I'm having some issues handling the

[2021-04-19 22:30] isnullxbh commented on #8825
@uilianries, thanks! It's working.
I'm not sure that access to the .ssh directory is a reason for this error. I execute the following command:

`python -m conans.conan install package/0.1.0@user/channel`

in the terminal and via PyCharm. In the first case (terminal) I didn't get any errors, but in the second (PyCharm) - I got the same error - git return error code 128 with the description "No such

[2021-04-19 23:04] #8825 closed, assigned to uilianries

[2021-04-19 23:12] memsharded commented on #8829
Hi @ericriff

The challenging issue is that doing modifications to conanfiles, can produce completely different graphs, that can be completely incompatible with the provided lockfile. It is possible to either lock things or to let them change, but not both simultaneously.

At the moment, to achieve an "approximate" lock, what could be done is to use ``conan lock install <lockfile>`` to install an

[2021-04-20 05:53] rddesmond opened #8830 "[bug] Conanfiles loaded by path fail when named options override starred ones"
Thank you for the great work on conan.  When working with on developing recipes I found an issue with how profiles are used for requests by path.  I was using the `source(...)` function in the python api, but the CLI shown below has the same behavior.

When loading a conanfile,  options are processed differently if you take a path vs a reference.  Specifically, when you load by path, profile entri

[2021-04-20 07:19] #8033 closed, assigned to SSE4

[2021-04-20 07:20] memsharded commented on #8033
https://github.com/conan-io/conan/pull/8828 merged, this will be released in next Conan 1.36

[2021-04-20 07:53] memsharded opened #8831 "[feature] Add warning when --update cannot update a package because it doesn't have a remote"
It is confusing when some package doesn't get updated because it lost connection to the remote.

[2021-04-20 11:14] memsharded commented on #8807
Closed by #8806

[2021-04-20 11:14] #8807 closed, assigned to nobody

[2021-04-20 11:33] memsharded commented on #8375
The new graph resolution model in Conan 2.0 will try not to re-evaluate same recipe when diamonds, just check consistency. So that might solve this issue, which is otherwise simply too risky to solve for Conan 1.X

[2021-04-20 11:35] #8808 closed, assigned to memsharded

[2021-04-20 11:56] memsharded commented on #7908
For Conan 1.36, a complete re-write of the ``CMakeToolchain`` internals has been done, specially regarding extensibility and possibility of customization by users.

The important PR is https://github.com/conan-io/conan/pull/8749, but https://github.com/conan-io/conan/pull/8815 contains some changes. To summarize:

- The CMAKE_GENERATOR_PLATFORM is only set for Visual/msvc compiler AND "Visual Stud

[2021-04-20 11:56] #7908 closed, assigned to nobody

[2021-04-20 12:10] memsharded commented on #8808
Merged https://github.com/conan-io/conan/pull/8810, will be released next 1.36

[2021-04-20 12:48] ericriff commented on #8829
Thanks for the comments @memsharded.
I feel like this really cripples the lockfiles usability since I can only see them being useful on a project not being actively developed. On an living project I would expect the dependencies to change every now and then but I would like to have reproducible builds in the meantime.
Let's say that eventually a new version of one of the dependencies is needed, I

[2021-04-20 13:16] memsharded commented on #8813
Closed by https://github.com/conan-io/conan/pull/8814

[2021-04-20 13:16] #8813 closed, assigned to nobody

[2021-04-20 15:27] #8442 closed, assigned to uilianries

[2021-04-20 15:27] memsharded commented on #8442
Implemented in https://github.com/conan-io/conan/pull/8483, will be available next 1.36

[2021-04-20 16:30] rockdreamer opened #8833 "[feature] Consider adding run_environment parameter to AutoToolsBuildEnvironment"
Scenario: I'm trying to build the fontconfig recipe on MacOS using a shared bzip2 library.

- fontconfig is built with autotools.
- The recipe uses the excellent AutoToolsBuildEnvironment helper and calls its' [install](https://docs.conan.io/en/latest/reference/build_helpers/autotools.html#install) method
- the install method calls the [make](https://docs.conan.io/en/latest/reference/build_helpers

[2021-04-20 16:52] theodor96 opened #8834 "[question] Explicit setting propagating to dependencies"
Looking at the [`conan install` documentation](https://docs.conan.io/en/latest/reference/commands/consumer/install.html), it seems that if I want to specify a specific setting to apply to only one package, I would say:

`conan install -s mypackage:arch=x86 .`

Which kind of works fine. Except when `mypackage` has its own dependencies (that it declares as `requires = ...` in its recipe). When Conan

[2021-04-20 17:06] SSE4 commented on #8831
there is already a warning if there is no remote defined:
[code]

[2021-04-20 17:07] SSE4 commented on #8831
if connection to remote is lost, there is an error:
[code]

[2021-04-20 17:23] Jochen0x90h opened #8836 "[question] using self.copy() outside of package()"
Hi!
Is it possible to use self.copy() outside of def package(self) in the conanfile.py? For example self.copy("*.so*", "lib", "lib", symlinks = True). Is it even possible to write an own python script, import the conanfile.py, set the package folder and then call copy() so that all dependent libraries are copied to a folder of own choosing? If that's not possible, maybe you could point me to the i

[2021-04-20 18:17] rockdreamer commented on #8833
This was considered as a potential avenue for fixing conan-io/conan-center-index#5273
I made a quick and dirty patch and adding the run_environment parameter is not sufficient because autotools uses other scripts, defeating the workaround with more SIP.

[2021-04-20 19:52] uilianries commented on #8836
Hi @Jochen0x90h

No, because `self.copy` is designed only to copy artifacts to the package folder. More info [here](
https://docs.conan.io/en/latest/reference/conanfile/methods.htm#package)

What do you mean by your own python script and import conanfile.py? Do you want to extend a recipe, so maybe you are looking for [python requires](https://docs.conan.io/en/latest/extending/python_requires.html

[2021-04-20 20:31] #8802 closed, assigned to czoido

[2021-04-20 20:31] memsharded commented on #8802
@chetz79 this will be released next 1.36

[2021-04-20 20:33] memsharded commented on #8831
I see @SSE4, my bad, it was not correctly explained, the warning should also be there for the recipe part, not only for the binary.

[2021-04-20 20:37] memsharded commented on #8834
Hi @theodor96

This is by design, settings do not propagate, they should be defined at the profile level, for all packages. Settings are mostly intended for project-wide configuration. If the transitive dependencies also have the same settings, why not defining ``-s arch=x86`` for all packages?

One common use case is having different settings for build tools (build-requires in the build context)

[2021-04-20 21:02] KerstinKeller opened #8837 "[question] Playing with channel names"
This is not really an issue, but more a request for feedback. I want to hear how other think about this, if they gained any experience with it.

We've been struggling a bit to give all our recipes a clean structure, expecially when they combine different "build" methods.
So basically, when packaging 3rd party libraries you have one of three cases:
- You build from source. Awesome.
- You download s

[2021-04-20 21:15] theodor96 commented on #8834
Oh, I see. I was fearing this might be it.

You're almost right, I do have sort of a build tool (actually a testing tool, but which is never going to be needed by the actual consumers of my library) so I guess I could use different profiles for the tool and for my libraries' dependencies.

But how can I say for example, `--profile:build=my_build_profile.txt` and have `my_build_profile.txt` identic

[2021-04-20 21:31] memsharded commented on #8830
Hi @rddesmond

I am trying to reproduce this, but this only shows if the options is hardwired to only accept ``True``, right? Because the following test passes:

[code]

And will finally assign the correct shared=True value. It is not failing because it assigns the wrong value, but because as it matches the ``*`` pattern, it tries to assign the ``False`` value, and it fails because of incorrect va

[2021-04-20 21:37] memsharded commented on #8834
Profiles can be included, for example you can have:
**mybuildprofile**
[code]
This will override the architecture defined in ``default`` with x86.
It is also very recommended to manage all your profiles in a git repo and use ``conan config install`` to install them in the conan cache, and maintain your team and CI servers, etc, all synced with same profiles. Actually the "user" profile should not

[2021-04-20 21:41] blackliner commented on #8837
I thought the way to go is to not use user/channel anymore?

[2021-04-20 21:46] solvingj commented on #8837
The recommendation is that packages references from ConanCenter will not use user/channel.  However, for packages you built yourself, using a specific user/channel still probably makes sense for a number of reasons. Distinguishing "internally-built" from "externally-built", or to distinguish the source of packages for organizations with multiple teams providing internal components. etc.

[2021-04-20 22:03] memsharded commented on #8762
Please @SSE4 use the new ``CONAN_TOOLCHAIN_ARGS_FILE = "conanbuild.json"`` file to gather variables for ``Autotools`` instead of separate files, and lets use that accross build systems. Otherwise it is becoming a bit cluttered.

[2021-04-20 22:30] memsharded commented on #8816
Not a bug, it seems that you have a typo:

[code]

Your ``self.cpp_info.libdirs = []`` is not being called.

[2021-04-20 22:32] memsharded commented on #8816
I think this can be closed, thanks for reporting, let me know if you have any further issue.

[2021-04-20 22:32] #8816 closed, assigned to nobody

[2021-04-20 22:36] madebr commented on #8816
Doh! :man_facepalming:

Thanks for troubleshooting!

[2021-04-20 22:59] theodor96 commented on #8834
While version controlling the profiles is definitely out of scope (at least for now and at least for what I'm currently trying to do), it definitely sounds good to have in the future. We're currently relying on the auto detection as you inferred.

I'll try the inclusion thing and hope it all works out nicely for the time being.

Thanks for helping me out.

[2021-04-21 01:22] rddesmond commented on #8830
Thank you for looking at it.  That's a useful check, and your look makes sense.  Perhaps the failure is because the option possibilities are checked before the `Name` is known, but it's good to know that it does the right thing if it gets past that.

1. Start loading the file
2. Initially determine and check that the options are satisfactory (without knowing its `Name` yet)
3. Finish loading the f

[2021-04-21 03:06] SeanSnyders opened #8839 "[bug] Not all generators run when build profile is specified as command line argument"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: VS 2019
  * Conan version: 1.35.2 (and 1.34.1)
  * Python version:  3.9.2

also
  * Operating System+version: macOS 10.15.7
  * Compiler+version: apple-clang 12.0
  * Conan version: 1.34.1
  * Python version:  3.8.6

### Problem

The `cmake_find_package` generator is not exec

[2021-04-21 04:15] chetz79 commented on #8802
@all thank you for your support and for keeping me up to date

best regards
Christoph

Am Di., 20. Apr. 2021 um 22:32 Uhr schrieb James ***@***.***>:

[2021-04-21 07:53] memsharded commented on #8830
Yes, the problem is that all matches are applied, first the pattern based ones, like ``*:shared`` then the specific one ``name:shared``, in this specific order. This is the necessary mechanism to have the more specific to have priority over the general one, but the general one should still apply if the other one was not matching. But that cannot be known in advance, so it is necessary to apply the

[2021-04-21 09:09] mpusz commented on #7908
BTW, are you aware of [CMake Presets](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html). I think they may supersede CMakeToolchain?

[2021-04-21 09:22] memsharded commented on #7908
No, they will not. Conan will support CMake 3.15 as a baseline, everything should work with that version.

Furthermore, it seems that presets don't fully supersede toolchains, it seems so far that there are a bunch of configurations, flags, etc, specially  for cross-building scenarios that seems not implemented or covered by presets, or at least not the intended solution. Will the Android-NDK tool

[2021-04-21 10:12] cpenugon opened #8841 "conan inspect with conan-center is failing on windows platform"
### Environment Details (include every applicable attribute)
  * Operating System+version:  Windows 10
  * Compiler+version:
  * Conan version:  Conan version 1.35.2
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
conan inspect poco/1.9.4 -r conan-center

its asking for password and not able to authenticate it.

### Logs (Executed commands with output) (Include/Attach if

[2021-04-21 10:23] memsharded commented on #8809
Implemented in https://github.com/conan-io/conan/pull/8815

[2021-04-21 10:23] #8809 closed, assigned to nobody

[2021-04-21 11:14] Jochen0x90h opened #8842 "[question] how to set dependencies to components"
Hi!

I have requires = "boost/1.75.0", "glfw/3.3.3" and now want to use only some components of boost. Is this already supported for boost? When I do self.cpp_info.requires = ['boost::asio', 'glfw'] in method package_info then I get this error:
ConanException: roomcontrol/main package_info(): Package require 'glfw' not used in components requires

Any ideas?
Thanks,
Jochen

[2021-04-21 11:24] memsharded commented on #8841
Hi @cpenugon

ConanCenter does not require user or password at all.

This seems to work fine here now. It could be a temporary glitch in conan-center. Can you please retry now?
Also, it might be good to try a ``conan user --clean``, just in case you had tried to login or something because of some previous command.

Please let me know how it goes.

[2021-04-21 11:37] Jochen0x90h commented on #8836
Hi @uilianries,

Thanks for the hint with imports, it "magically" does what I want: If I open a CMake based project in CLion then I check if conanbuildinfo.cmake is already present and if not I call conan install conanfile.py ... which now also copies the dependent shared libs into my lib folder (via imports)

[2021-04-21 15:41] ericriff opened #8844 "[bug] Confusing warning message when overriding requirements"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18
  * Conan version: 1.32.1

I'm building from my internal fork of conan-index 2 libraries, `boost` and `GTSAM` (which depends on `boost`).
On GTSAM's recipe I have:
[code]
  But my app uses both packages, and I have the requirements locked with a recipe revision, like this:
[code]
 When I build my a

[2021-04-21 16:10] r1d1shka opened #8845 "[bug] unresolved external symbol RegisterOGRGeoPackage"
Hi!

I have "error LNK2001: unresolved external symbol RegisterOGRGeoPackage" with Visual Studio for gdal/3.2.1 binaries.
gdal/3.2.1 package name: 67ee40a2c810c72c0e195aff8a799aaf4412b42a

### Environment Details (include every applicable attribute)
  * Operating System+version: Wndows 10 Pro
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.34.1
  * Python version: 3.7.8

### Steps to

[2021-04-21 16:45] Nekto89 opened #8846 "[feature] Support local paths in conans.tools.get"
Is it possible to allow using file:// URLs as input parameter for tools.get? This might be useful for testing with local archives by changing only conandata.yml

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-21 16:56] rddesmond commented on #8830
I think the check being applied at the same time as `validate()` is a good idea, but think it's not intuitive that you need to specify all of the possible options for this very specific case (loading a conanfile by path), even where the source doesn't support it.

[code]

In the "shared" example (which I had), it's pretty easy to have the whole realm of possibilities, but what if it was something

[2021-04-21 17:32] memsharded commented on #8830
I think this case is related to the semantics of wildcard option definition like ``*:blas=C``. Options are defined per package, but if there are some semantics for some known options that are used across different packages, then the definition of such option possible values should be the same, even if some packages do not implement later support for a given option (and might raise in ``validate()`

[2021-04-21 17:38] memsharded commented on #8607
As this question has been done also in the past, we have added a response in our FAQ in https://github.com/conan-io/docs/pull/2076. It will be in https://docs.conan.io/en/latest/faq.html when CI passes. Thanks!

[2021-04-21 17:38] #8607 closed, assigned to memsharded

[2021-04-21 17:40] memsharded commented on #6102
We have added a response in our documentation faq in https://docs.conan.io/en/latest/faq.html, for reference, see PR: https://github.com/conan-io/docs/pull/2076.

[2021-04-21 17:40] #6102 closed

[2021-04-21 17:43] memsharded commented on #8846
Yes, it might be possible. It should be added to ``tools.download()`` too.

And it must be added to the ``conan.tools.files`` get() and download().

[2021-04-21 18:00] rddesmond commented on #8830
I don't think that I would change the priority that things are applied with, I think the "most specific" ordering that currently exists makes a lot of sense.  I also don't think it'd fix this, because the initial check is happening before the Name is known so it'd still match the wildcard in the first pass.

I agree that we are verging on a case where settings (or settings schematics) are more app

[2021-04-21 18:03] Nekto89 commented on #8846
I've just noticed that this doesn't work not only with local files but also with SMB shares and mounted folders

[2021-04-21 21:45] memsharded commented on #8845
Hi @r1d1shka

This doesn't seem a Conan issue, but a package issue, so it probably be moved to the conan-center-index repository, where package issues are managed.

I have been able to reproduce the issue, with CMake. Changing the method to ``RegisterOGRShape();`` for example, it works. So it is clear that the package is retrieved, the headers are there, the lib is there and can be linked. So it i

[2021-04-22 03:07] xahon opened #8848 "[feature] Custom storage path per project"
I work on my own pc and do my pet projects on same pc and often switching between my own conan repositories and company's ones. When i switch back and forth i always rename my `C:\conan` directory into something like `C:\conan1` to download all the packages from scratch because they intersect each other and it causes errors. It would be great if we could set `storage.path` per project and we could

[2021-04-22 04:36] Viatorus commented on #2172
Today. we also got a collision using (python-)semver and conan because of the package name conflict. The project node-semver seems to be no longer maintained. I hope you can switch to python-semver in 2.0!

[2021-04-22 06:30] cpenugon commented on #8841
i have tried with conan user --clean .. Still the issue is same. Still asking for password. Here is the output from my windows shell

c:\Users\cpenugon>conan user --clean

c:\Users\cpenugon>conan inspect poco/1.9.4 -r conan-center
Please log in to "conan-center" to perform this action. Execute "conan user" command.
If you don't have an account sign up here: https://bintray.com/signup/oss
Remote 'c

[2021-04-22 07:00] cpenugon commented on #8841
I have created an account in  https://bintray.com/signup/oss

the account i created is https://bintray.com/penugondac

From portal through chrome i am able to login.. if i am providing the same credentials its not taking.

c:\Users\cpenugon>conan inspect poco/1.9.4 -r conan-center
Please log in to "conan-center" to perform this action. Execute "conan user" command.
If you don't have an account sig

[2021-04-22 08:09] memsharded commented on #8841
Hi @cpenugon

No need to create an account in Bintray. Bintray is closing in 1 week, and accounts will be removed. You really shouldn't need an account to access ConanCenter

I have no idea why this is happening. Some things that could be checked or good to know:
- If running in a corporate setup, with proxies enabled, VPN, custom ssl certificates, or something like that, that could be messing wit

[2021-04-22 08:13] memsharded commented on #8848
Hi @xahon

I need to understand this. The best way to define different caches is to define the CONAN_USER_HOME env-var. Because that contains more than just the packages:
- Credentials (tokens) for authenticating to servers
- Remotes definitions
- Custom settings
- Profiles
- Hooks

All these might be wildly different from your company projects and your personal ones. So you don't want to change o

[2021-04-22 09:06] cpenugon commented on #8841
Thanks James

If Bintray is closing in one week. What will be the URL for the conan-center for the generic conan packages such as poco, zlib etc..

Regading your question :

  I have connected to open network from home without VPN I tried—same issue . With VPN I tried – same issue.
  I have connected from office network directly – there also same issue.

We are located in India, Bangalore.

I just

[2021-04-22 09:42] cpenugon commented on #8841
James,

  Could you let me know how I can use https://conan.io/center/  instead of bintray..

How I can add the remote for conan.io

Regards
PCReddy

From: James ***@***.***>
Sent: Thursday, April 22, 2021 1:40 PM
To: conan-io/conan ***@***.***>
Cc: Penugonda, Chenna Reddy (C.) ***@***.***>; Mention ***@***.***>
Subject: Re: [conan-io/conan] conan inspect with conan-center is failing on windows pl

[2021-04-22 09:43] memsharded commented on #8841
The URL will be the same in the short term, more details in https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

Yes, of course. You can setup an Artifactory remote repository that proxies ConanCenter, and consume packages from there instead of using the client directly. This might be recommended for enterprise usage. The only issue is that this kind of repos might need to operate with `

[2021-04-22 09:56] memsharded commented on #8841
No https://conan.io/center/, is only the frontend, not the client remote endpoint. It cannot be used. The endpoint is still https://conan.bintray.com, and it will continue to be even after today migration.

[2021-04-22 09:58] cpenugon commented on #8841
Its Highly confusing.. -- bintray sunset and conan.io/center will be sunset..

[2021-04-22 10:02] memsharded commented on #8841
Please read carefully the details in https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

- conan.io/center will not be sunset. The api https://conan.bintray.com will keep working to serve ConanCenter. From today, it will not use bintray as a backend, but we are redirecting it elsewhere out of bintray. But keeping the https://conan.bintray.com working, but redirected so users are not bro

[2021-04-22 10:15] cpenugon commented on #8841
James ,

Yes, of course. You can setup an Artifactory remote repository that proxies ConanCenter, and consume packages from there instead of using the client directly. This might be recommended for enterprise usage. The only issue is that this kind of repos might need to operate with revisions_enabled.
Tried the above not successful.

Could you pl. share the detailed steps –so that if we have miss

[2021-04-22 10:35] memsharded commented on #8841
The documentation for it is available in the JFrog docs: https://www.jfrog.com/confluence/display/JFROG/Conan+Repositories

[2021-04-22 11:35] cpenugon commented on #8841
James,

Hard luck.. even after setting the remote repository and also setting up conan-virtual repo..
Its not fetching from bintray when you do “conan search”

Another interesting thing with conan-center is – conan search is working and conan install and conan inspect only asking for password.

***@***.***D73795.B014FFE0]

I have added conan-virtual repo to remote list.. its not fetching automatic

[2021-04-22 12:58] memsharded commented on #8322
We have recently added an entry in the FAQ (https://docs.conan.io/en/latest/faq/using.html#can-conan-use-git-repositories-as-package-servers) that comments about not having remotes or any other "absolute" package origin reference in the conanfile recipes.

So I think this can be closed.

There might be still the case for a local definition of remotes, besides the cache remote configuration. At the

[2021-04-22 12:58] #8322 closed, assigned to memsharded

[2021-04-22 14:38] solvingj opened #8850 "[maintenance] ERROR: Exceeded 30 redirects.. [Remote: conan-center]"
Scheduled maintenance is currently in progress. We will provide updates as necessary.
Apr 22, 14:00 UTC - 18:00 UTC
Scheduled - Detail: The DNS record http://conan.bintray.com will be routed to the new ConanCenter repository.
Impact: Temporary instability, none lasting.

If you receive this error, it is related to this maintenance:

[code]

Please do not open another Github issue.  We will close t

[2021-04-22 14:59] rockdreamer commented on #8833
I tried to use this to solve a problem building cairo with shared dependencies on macos. I was defeated again and in the end resorted to forcing configure to think I'm crosscompiling

[2021-04-22 15:26] azias commented on #8850
same for me

[2021-04-22 15:51] AndreyMlashkin opened #8851 "[feature] Allow to add a recipe as build_requirement and requirement at the same time"
Sometimes it is needed to add a recipe both as a requirement and a build_requirement.
For example, it is needed to add Protobuf as Opencv dependency here:

https://github.com/conan-io/conan-center-index/issues/4016
https://github.com/conan-io/conan-center-index/pull/4435

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-22 15:54] pgeler commented on #8850
same but then turned to ERROR: HTTPSConnectionPool(host='conan.bintray.com', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')])")))

[2021-04-22 15:56] m-hilgendorf commented on #8850
Is there a mirror of conan center available so we can workaround during the outage?

[2021-04-22 16:01] blackliner commented on #8850
![image](https://user-images.githubusercontent.com/23190927/115746644-c75a4000-a394-11eb-950c-55de9273dc40.png)

[2021-04-22 16:17] memsharded commented on #8851
This is already possible, if you use the 2 contexts/profiles approach. Have you checked it? Please have a look at https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-build-requires

[2021-04-22 16:27] Vhab commented on #8850
Where was this announced?
There's nothing on https://status.bintray.com/ https://conan.io/center/ or https://blog.conan.io/

It's quite inconvenient to find out about this after the maintenance has started.

[2021-04-22 16:41] memsharded commented on #8850
https://status.conan.io/

[2021-04-22 16:44] Vhab commented on #8850
Thank you. I guess this may have had an ahead of time announcement?
Is there a reason this wasn't announced on the blog along with the other notable dates in: https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html ?

[2021-04-22 16:48] memsharded commented on #8850
Yes, this was clearly a mistake on our side. The blog post should have added this. I sincerely apologize for this.

[2021-04-22 16:49] MBraedley commented on #8850
"Inconvenient" is a nice way of putting it.  As far as I'm concerned, this is downright unacceptable.  If your maintenance plans allow for disruptions to business users that last more than 5-15 minutes, you need better maintenance plans.  Please consider performing this kind of maintenance on the weekend in the future in order to limit disruptions.

[2021-04-22 17:06] memsharded commented on #8850
We are reverting and closing this maintenance asap.

[2021-04-22 17:15] memsharded commented on #8850
Things should be back to normal now (minus some DNS propagation delay issues)

[2021-04-22 17:50] #8850 closed, assigned to nobody

[2021-04-22 17:50] solvingj commented on #8850
Closing issue as explained, because it is believed that all issues should be resolved at this time.

[2021-04-22 21:32] p0fi opened #8853 "[feature] Log User for Remote in Verbose Mode"
When trying to download a package from a repo which hides existence of unauthorized resources (like Artifactory) trying to download a package results in an error that the package could not be found on the repo. Even when enabling the most verbose logging mode its nowhere written which user is used to get the package.

[code]

It would be a massive help if the user used for the remote could be foun

[2021-04-22 21:37] ohanar commented on #7908
Okay, I gave the dev version of 1.36 a try. This doesn't really solve the problem, cmake toolchain files are still generator dependent:
[code]
Adding a [conf] just brings us back to the previous status quo (where env variable has been replaced with [conf]). I would expect the cmake toolchain files to not depend at all on the generator, so for instance, with MSVC the toolchain file would always inc

[2021-04-22 21:49] memsharded commented on #8366
I am considering this option like maybe the best approach, at least to become the default in Conan 2.0:
- Not necessary to define explicitly ``None`` as a possible value in the settings.yml
- But it is not necessary to specify them in profiles and command line, Conan will not raise if they don't have a value defined.
- Conan will only raise if someone is trying to get their values, like in the ``g

[2021-04-22 22:02] memsharded commented on #7908
Hi @ohanar

The problem is that the build needs to be defined at ``generate()`` time.

Whatever configuration will be used, including the generator needs to be specified there. The toolchain will do more things, besides setting CMAKE_GENERATOR_PLATFORM. For example, Ninja builds need activated the correct Visual Studio environment, with the correct version, in order to find the msvc compiler. The

[2021-04-23 04:52] ytimenkov commented on #8366
Sounds good!

I just assume that there will be a way to check settings in a non-throwing manner.

Another thought is that the could be a compatible packages. Say, I have a compiler of choice to build tools. Then compiler == None should be compatible for consumption.

I don't have any practical experience with compatible packages yet, but it feels that the benefit is that compatibility checked at t

[2021-04-23 06:45] jegabe opened #8854 "[bug] When specifying an absolute profiles path using pr:h <profile> and the same profile exists in the cache, the one in the cache is chosen"
I have conan 1.34.1 installed on a Windows machine and I'm cross-compiling a project using an ARM GCC compiler. I use splitted host/build profiles.

When specifying an absolute path to the profile, lets say C:\someDir\profile_xy  and the same profile_xy is already stored in the conan cache, let's say C:\<home dir>\.conan\profiles, conan chooses the stored profile in the cache instead of the absolu

[2021-04-23 08:22] memsharded commented on #8854
Hi @jegabe

I think your issue might have already been solved by https://github.com/conan-io/conan/pull/8685, which is scheduled to be released next 1.36 (next week). It is already in develop branch, if you want to test it running from source code (clone + ``pip install -e .``).

Please have a look and let me know, thanks!

[2021-04-23 08:26] memsharded commented on #8366
There already is. You can always do ``settings.get_safe("compiler.version")``, will return None if compiler or version are not defined, but will not raise.

Yes, I think that the above proposal will not need to check ``develop`` at all, it will do one thing or the other if the ``build()`` requires the settings to have a value, but will continue otherwise. At the moment, just the idea, we need to v

[2021-04-23 10:40] AlfiCode opened #8855 "From where did I dowload a package in local cach"
We got different download possibilities:
- Released packages
- Developed not yet released but will have the same name when stored in Release
- Test, these package for test only and will never be release with that version

After downloading these packages/versions are in my local cache
These dowloaded packages are used by different project on my PC. That's why I would like to keep them and not dele

[2021-04-23 11:57] KerstinKeller commented on #8744
@memsharded do you have a time plan for the 1.36 release? We already broke at least three if our packages because of tests not being executed (and found out the hard way in consumer builds not working any more), so we'd really like to be able to turn testing back on as soon as possible.

[2021-04-23 12:48] mpusz commented on #7908
Please note that the error mentioned by the @ohanar happens not only on a command line (when you can easily run vcvars.bat before CMake) but also in nearly every IDE (CLion, VS Code, ...) where there is no possibility to run any file before configure step. Please note that those IDEs work great with the MSVC compiler without running those bat files at all so they should not be enforced by Conan as

[2021-04-23 13:57] memsharded commented on #7908
How does CLion knows which VS version to use? That was defined in the ``conan install -s compiler.version=14`` command.
Conan will not force to call ``conanvcvars.bat``, if the environment is correctly setup, vcvars has been called by other means (the same version that was used for ``conan install``), then things will work.

Still, there are other things that need the CMake generator defined at ``

[2021-04-23 14:00] memsharded commented on #8744
Hi @KerstinKeller

Conan 1.36 will be released next week, most likely Tuesday or Wednesday, if nothing unexpected happens.

[2021-04-23 14:58] stkw0 opened #8856 "[bug] qt: ConanException: option 'with_vulkan' doesn't exist"
### Environment Details (include every applicable attribute)
  * Linux-5.10.8
  * gcc-9
  * conan-1.28.1
  * python-3.8.9

### Steps to reproduce (Include if Applicable)

A conaanfile.txt with the next content:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

I guess it's because I defined gui option to false. This is a part of the recipe code
[code]

[2021-04-23 15:01] memsharded commented on #8855
Hi @AlfiCode

It is not very clear what you mean. Maybe you are talking about channels? You know that you can create packages like ``pkg/1.0@myteam/testing`` and ``pkg/1.0@myteam/stable``? They are completely different packages, with its own recipe and binaries. They can be installed at the same time in the cache and they will not overwrite each other. Each project will declare a ``requires = "pkg

[2021-04-23 15:05] memsharded commented on #8856
Important note, regarding your Conan version ``conan-1.28.1``.

From the docs: https://docs.conan.io/en/latest/introduction.html

If you are using packages from ConanCenter, you must use the latest Conan version.

I'd say this is not a Conan issue, but a package issue, moving this recipe to conan-center-index repo (cc/ @ericLemanissier )

[2021-04-23 15:59] czoido commented on #8853
Hi @p0fi,
Thanks a lot for the suggestion, we'll try to add that information somewhere in the logs for the next release.

[2021-04-23 16:22] ericriff commented on #8303
I just came across this limitation myself.
And it also applies to the `cmake_paths` generator.

On `conanbuildinfo.cmake` there is no reference to the build_requierements at all. Since we're also using the `virtualenv` generator, the `PATH` is fine, but we don't have access to anything else like `CMAKE_PREFIX_PATH` to use some cmake tools those packages provide.
Any suggested workaround?

EDIT: Th

[2021-04-23 16:46] mrexodia commented on #1154
For future reference: https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd#enable-long-paths-in-windows-10-version-1607-and-later

[code]

[2021-04-23 17:24] AlfiCode commented on #8855
IHi@memshared
I know that this is possible and I'm creating mine that way.
But many developers do create their and you would't believe what they do (saw aleady packages in test test remote looking like final).

If I installed one package from the test remote site it is for all available in local store and will not be downloaded anymore (untill I delete this package) -> is a good thing for final pa

[2021-04-23 17:45] memsharded commented on #1154
Thanks @mrexodia for that reference, but also a word of caution for users: we have found that even if the OS can support long paths, there are different tools, like build systems and compilers that might still have the same limitations of path length hardcoded. We have been reported a few cases, so the users still had to resort on the Conan short_paths in order to be able to build and use those pa

[2021-04-23 17:47] memsharded commented on #8855
Still not very clear what is the issue. If you want to know from which remote every package was installed, you can run a ``conan remote list_ref`` command. Is this what you are looking for?

Also Conan cache is a cache, it is not designed for permanent storage. If it is getting too big overtime, you can simply wipe it completely, and start from a fresh one, the necessary packages will be installed

[2021-04-23 17:53] mrexodia commented on #1154
Yeah thanks for the warning! In my case I found this issue while Googling
for an error in another package manager and this fixed it for me 😄

On Fri, 23 Apr 2021 at 19:45, James ***@***.***> wrote:

[2021-04-23 18:58] memsharded commented on #8853
I have added a look trying to implement this, but it seems way harder than it looks at first sight. It happens that the user is not available at that point in time at all (at ``package/1.0.2@repo/stable: Trying with 'gitlab'``), it is read much later at the "Rest" layer, so it would require either reading it again from the DB just for displaying, or quite a few changes to the architecture of the a

[2021-04-24 06:31] hannahwhy opened #8857 "[bug] AptTool's use of apt-add-repository may update the apt index before the repository's key is added"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.35.1
  * Python version: Python 3.8.5

### Steps to reproduce (Include if Applicable)

In a `system_requirements` method, run

[code]
On Ubuntu 20.04, `apt-add-repository` (which is invoked by `apt.add_repository`) defaults to running `apt upd

[2021-04-24 06:32] hannahwhy commented on #8857
I have a proposed fix in https://github.com/yipdw/conan/commit/dcb45f6294f9f8baf07d4dc9fce44ee337fa554b, which involves moving the `apt-key add` invocation above the `apt-add-repository` invocation.  This ends up running `apt update` twice (because AptTool's `update()` is still run), but should be compatible with all released versions of `apt-add-repository`.

It is also possible to run `apt-add-r

[2021-04-24 12:06] solvingj commented on #8850
For future reference, to be notified of scheduled maintenances in-advance,  users can subscribe to notifications here:
https://status.conan.io/

For the Bintray-related maintenance, users can also check this blog post:
https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

[2021-04-24 12:07] solvingj commented on #8788
For future reference, to be notified of scheduled maintenances in-advance,  users can subscribe to notifications here:
https://status.conan.io/

For the Bintray-related maintenance, users can also check this blog post:
https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

[2021-04-24 12:07] #8788 closed, assigned to jgsogo, danimtb

[2021-04-24 13:22] PengolodhGoedath opened #8858 "[feature] copy package contents into user space"
# Problem

For context: I'm currently trying to collect files from a given package reference in an automated environment. The files to collect are unit test reports, and I only have the package reference to access them - no `settings` or `options` - but the package reference includes at the very least a package id, and possibly revisions as well.

It would make my work much easier if there was a c

[2021-04-24 14:05] p0fi commented on #8853
Well this sometimes happens in software, something looks trivial but turns out its a major thing 🤓

Thanks for letting me know!

I know that this information can easily be obtained by the `conan user` command. I ran in some problems that took me over an hour to even think that something with the user could be wrong. To read which user is used for a given remote would have saved me a lot of trouble

[2021-04-24 14:53] milahu commented on #4609
https caching proxy ... ? just need to fix the ssl certificates

[2021-04-24 15:38] Macfly opened #8859 "[bug] KeyError: 'USERNAME' on windows while _processWARN: websocketpp/0.8.1: requirement boost/1.74.0 overridden by your conanfile to boost/1.75.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Version	10.0.19043 Build 19043
  * Compiler+version: MSVC 19.28.29333.0
  * Conan version: 1.35.2
  * Python version: 3.8.8

### Steps to reproduce (Include if Applicable)
having a dependency overridden.
The same process works with CLang and GCC under WSL.

### Logs (Executed commands with output)

[2021-04-24 17:32] memsharded commented on #8859
Apparently you don't have defined in your windows environment the USERNAME environment variable, which is very weird.
This is raising this error, after a chain of coincidences:
- The boost recipe requires short-paths in Windows.
- The short_paths storage is c:/.conan, which can be a NTFS folder and might require to give current user permissions to access.
- Such permissions require the current use

[2021-04-24 17:46] memsharded commented on #8858
Hi @PengolodhGoedath

Certainly, this is not possible right now with Conan, at least directly. All commands are designed to use the input profile (settings, options), and compute the package_id internally.

We will work for better "deploy" support in Conan 2.0, meanwhile I'd say your third option is the closest:
- But it uses the ``conan info``. The ``conan info`` command already needs profile/set

[2021-04-24 18:02] memsharded commented on #8857
If I understand correctly, this would be 0 risk, but introduce some extra slowness running an extra update?. Maybe you want to do a PR with that change, and we could fire that conversation. Some people might not like that extra time, but we can try.

Yes, this could be risky, and breaking to users with older distros, if --no-update was introduced recently. We would need extra validation for this t

[2021-04-24 20:15] PolyPik opened #8860 "[question] What is the recommended way to get Conan to use an existing CMake toolchain file?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I recently wrote a CMake toolchain file for the Texas Instrument C2000 Code Generation Tools toolchain. After verifying that it works as intended, I sought to find a way to get this toolchain file to work with Conan.

The first thing I found in my web searches  that conan has tools fo

[2021-04-24 20:32] memsharded commented on #8860
Hi @PolyPik

The ``CMakeToolchain`` just got a major refactor and modularization, ready to be released for next 1.36 next week. Check https://github.com/conan-io/conan/pull/8749 for details about the implementation.
For example for the Android, it will use the AndroidNDK toolchain explicitly included as:
[code]

We can easily add, and it is an already existing feature request, user toolchains. I w

[2021-04-24 21:28] PengolodhGoedath commented on #8858
Oh, thanks for clarifying the `conan info` workings, I mostly just assumed (after a quick test when writing this proposal) that it would list all packages for a given package (name/version). This seems to be false (I guess it uses the default profile instead.)

---

The reason I don't care about profiles (or combinations of `settings`, `options` etc.) is that I'm working with already created packa

[2021-04-24 22:12] Macfly commented on #8859
yes it worked after setting USERNAME env var.
Thanks for the help.

[2021-04-24 22:35] memsharded commented on #8858
Thanks for clarifying, now I understand a bit better.

Just a note, because in general, for debugging, and retrieving exactly one revision for a given build, you might want to have a look to lockfiles, if you haven't yet. They capture a snapshot of the exact build including dependencies, and the host and build profiles, it is the most complete information to reproduce a dependency graph. Because r

[2021-04-24 22:58] PolyPik commented on #8860
Hi memshard,

Thanks for the quick feedback. For UX preference, in order of descending preference I would order it Option 3, Option 1, and Option 2.

I am of the opinion that toolchain files are rarely ever changed and any changes to a toolchain file should affect all projects that rely on that toolchain file. Also, I am not that fond of using templates unless I absolutely have to (e.g. websites).

[2021-04-24 23:20] hannahwhy commented on #8857
Sure thing, I'll open a PR with https://github.com/yipdw/conan/commit/dcb45f6 and we can try it out.

[2021-04-24 23:30] hannahwhy commented on #8857
PR #8861 opened.

[2021-04-25 13:25] cpenugon commented on #8841
Even Today still asking for the usreid and passwd for the conan-center from windows. in the same machine with WSL2 its not asking. Looking very strange..

Could you let me know if i can collect some traces and see where the issue is there?

[2021-04-25 13:29] cpenugon opened #8862 "When I upload the conan package to artifactory where i can see the channel in the artifactory conan gui."
I  have uploaded  hello/0.1@user/testing  as per the training program present https://academy.jfrog.com/path/conan/conan-essentials/583137

when i see in the local artifactory in conan repo using browser where i can see the channel ie. testing in this case.

its getting created like
   myconanrepo
      user
        hello
           0.1

where i can the channel -- ie. 'testing' in this case.

when

[2021-04-25 15:53] solvingj opened #8863 "[maintenance] DNS Changes for conan.bintray.com"
Scheduled maintenance is currently in progress. We will provide updates here as necessary.
Apr 25, 16:00 UTC - 19:00 UTC
Scheduled - Detail: The DNS record conan.bintray.com will be updated.
Impact: Temporary instability, none lasting.

If this issue is open and you receive an error related to ConanCenter, it is very likely related to this maintenance. Please do not open another Github issue.  We

[2021-04-25 16:48] solvingj commented on #8863
Closing issue as explained, because it is believed that all issues should be resolved at this time.

For future reference, to be notified of scheduled maintenances in-advance, users can subscribe to notifications here:
https://status.conan.io/

For the Bintray-related maintenance, users can also check this blog post:
https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html

[2021-04-25 16:48] #8863 closed, assigned to nobody

[2021-04-25 16:55] memsharded commented on #8862
The standard folder "layout" in the server is:

user/pkgname/version/channel/recipe_revision/export (conanfile.py)
user/pkgname/version/channel/recipe_revision/packages/package_id/package_revision (cona_package.tgz)

[2021-04-25 16:59] memsharded commented on #8841
ConanCenter has just changed infrastructure, it is in a new server. If it was something server related it should be gone now.

At this point I would try a complete removal of Conan client and fresh re-install, just in case something is corrupt in your system. Make sure everything is completely clean, remove the <userhome>/.conan folder, and install it again. Please add details of how you are insta

[2021-04-25 23:51] mcandre opened #8865 "[feature] More specific file extension for primary configuration file"
Could we deprecate `conanfile.txt` in favor of `conanfile.ini`? This would help text editors to syntax highlight better.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-26 00:08] mcandre opened #8866 "[FR] Integrate better with update-alternatives, cc, c++"
On Ubuntu, conan is picking up the wrong compiler by default.

I have configured update-alternatives to use clang and clang++. The `cc` and `c++` binaries already point to clang and clang++. But still, somehow conan's compiler detection system ignores this and defaults to gcc anyway.

I think I can explicitly configure conan to prefer certain toolchains. But I would rather conan do the right thing

[2021-04-26 04:16] mcandre opened #8867 "[feature] Automatically fallback onto source builds when binaries are unavailable"
Could conan please automatically apply --build missing, so that more packages "just work" without having to fuss with so many flags? Right now conan simply gives up on packages that aren't providing binaries. Not a fun experience for newbies.

UNIX users can work around this limitation by aliasing to force the --build missing flag. However, that would risk divergence between local vs. remote appli

[2021-04-26 05:18] AlfiCode commented on #8855
This would be one possibility.
But has some disadvantages:
1. you need a remote connection even you have the right package already local
2. we have more than one site -> iteration over remotes
3. not possible if you have at this moment no internet access
It would be much faster if I can ask the local package from where it was downloaded.

[2021-04-26 07:32] memsharded commented on #8867
Hi @mcandre

Thanks for the suggestion. This is a deliberate design decision. The default is failing when binaries are missing, and it will keep being the default one. Having ``--build=missing`` activated by default could result in CI pipelines building things over and over, and what is worst, hiding problems in the builds upstream, and this is more problematic than the opposite. Even developers a

[2021-04-26 07:51] memsharded commented on #8865
Hi @mcandre

I am sorry, but I am afraid this is not possible, this would be a massive breakage for thousands of Conan users that would need to rename their files and fix their CI pipelines scripts, for a potential very minor UX improvement (the conanfile.txt is not really a .ini file completely, it looks like it, but it is not, so some parts will not be syntax-highlighted correctly)

You can alre

[2021-04-26 07:55] memsharded commented on #8855
Hi @AlfiCode

I am not sure what you mean:
- ``conan remote list_ref`` does not use any remote connection, it stores that data in a local file.
- It will not iterate any remote, it is immediate from local cache
- It works without internet access

[2021-04-26 08:16] SSE4 commented on #8831
@memsharded  for me it shows the same warning, at least in the test I did:
[code]
the test is simple:
[code]
I think I missing the point, e.g. what should be the commands to reproduce the problem.

[2021-04-26 08:24] AlfiCode commented on #8855
Thks, this would be perfect.
But "conan remote list_ref" seems to list only the packages of the first one in my list of "conan remote list" (4 remote in list).
In latest docu I see parameter "--no-remote" in lates docu only (my current version 1.31.0 doesn't support it)
Do I miss any parameter?

[2021-04-26 08:55] memsharded commented on #8855
No, if you install recipes from another remote they will be listed there. This seems to be correctly tested, so it seems in this case you installed your recipes all from that remote.

[2021-04-26 09:55] czoido opened #8868 "Consider cmake and Xcode versions for Xcode generator in CMakeToolchain"
CMake <3.19 will not work properly for Xcode>11 when using Xcode CMake generator. That's what forced us to add [cmake 3.19 as a requirement for some tests](https://github.com/conan-io/conan/pull/8849) to be able to update Xcode to the latest version on the ci.
We should also consider these requirements in `CMakeToolchain` when `generator==xcode`.
From CMake 3.19 using generator Xcodethere's an env

[2021-04-26 10:50] ericLemanissier opened #8869 "[bug] impossible to download meson package"
### Environment Details (include every applicable attribute)
  * Operating System+version: native Windows 10 and Ubuntu 20.04 (WSL)
  * Conan version: 1.35.2
  * Python version: 3.8.0 and 3.8.5

### Steps to reproduce (Include if Applicable)
`conan install meson/0.57.2@`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2021-04-26 11:28] #8696 closed, assigned to uilianries

[2021-04-26 11:41] AlfiCode commented on #8855
There were even not all packages listed I had in conanfile.txt under "[requires]"
After your comment  I removed the complete conan\data and started a new install.
Now I see all packages from conanfile.txt and also with the correct remote in "conan remote list_ref" output.

I don't know why it wasn't working with the existing "conan\data".
I would have expected that it should list all packages foun

[2021-04-26 11:49] harendt opened #8870 "[bug] Overridden requirement "cannot be found in lockfile""
When overriding a requirement like this
[code]
and using lockfiles like this
[code]
I get the following error from Conan
[code]

The error can be avoided by setting `override=False` (the default value for this argument). But this workaround is not really helpful because it does not work when `general.error_on_override` is set to `True`.

### Environment Details
  * Operating System+version: Ubuntu

[2021-04-26 12:14] memsharded commented on #8855
Yes, if you remove the remotes, then the association of the packages to the remotes is lost. This is probably what happened in your case.

[2021-04-26 12:15] memsharded commented on #8869
It seems to be working here correctly. Can you do ``conan remote list``? (Also try again, in case it was a temporary glitch). We moved yesterday ConanCenter to a new infrastructure, could be related.

[2021-04-26 12:19] AlfiCode commented on #8855
Do you know wherer I can see the association in the packages or an remote list?

[2021-04-26 12:20] memsharded commented on #8855
It is inside some metadata.json files in the cache, but you shouldn't use them directly, those are internal implementation detail, subject to change at any time.

[2021-04-26 12:31] AlfiCode commented on #8855
Perfect, I saw in beside metadata.json in package chache beside remote the 'remote name'.
Can I assume that the relation remains valid as long as the remote name stays the same?
That means if I keep a package of a remote named "alf-test" remove this remote  "alf-test" and later add a remote with name "alf-test" the packege should belong to that remote?
Is there any other validation or mechanism (e

[2021-04-26 12:34] memsharded commented on #8758
Hi @vakatov

Ok, this will point to a problem in the definition of dependencies, but I have not enough information to reproduce, so it is difficult to fix it.

The thing is that the ``requires`` between components will induce an order in the link step. But if there are some not fully determined order, for example, 2 completely independent components, then the declaration order is what is followed.

[2021-04-26 12:44] ericLemanissier commented on #8869
It's still happening on my end. Same for `conan install msys2/20210105@`.
[code]
[code]

[2021-04-26 12:48] gsemet opened #8871 "[question] how do i get the path to the exported or installed package in cache?"
Hi,

I would like to know the path in the cache to the `package` folder of a given package name and id.

For example:
[code]
I tried with reconstructing the path but on windows, or with short/long path, it makes it hard to rebuild.

I would like a command or a python function to call that would take the package full name and the package id and it returns me the path to the `package` folder in cach

[2021-04-26 12:55] gouriano commented on #8758
Earlier I gave you a link to two recipes
ftp://ftp.ncbi.nih.gov/toolbox/ncbi_tools++/MISC/TEST/Conan
these are full working recipes, with package_info() methods.
They also contain definitions of CONAN_LIBS_NCBICXXTEST, as generated by "conan install"
I do not really understand what is missing here.

[2021-04-26 12:56] memsharded commented on #8869
@ericLemanissier Every package from ConanCenter? Or just those 2? Do you suffer the same issue with bincrafters repo? (by the way that bincrafters URL might be broken today, Bintray is in brownout) Check (https://bincrafters.github.io/2020/04/19/infrastructure-changes-and-required-actions/)

Could you try the new beta url (https://blog.conan.io/2021/04/23/New-Conan-Center-url.html)?

[2021-04-26 13:03] ericLemanissier commented on #8869
now that you ask, if looks like all packages from CCI produce the same result.
bincrafters seems to work:
[code]
beta url has the same issue:
[code]

[2021-04-26 13:05] dvirtz commented on #7737
I've also run into this bug. I'm trying to install the `autoconf/2.69` package from ConanCenter which depends on `m4/1.4.18` which appends its `bin` folder to `PATH` in `package_info()`:

https://github.com/conan-io/conan-center-index/blob/ef9b1198c90a40a6caec1b53652f1271b1a3afd9/recipes/m4/all/conanfile.py#L109

As `env_info` is not propagated, autoconf can't find `m4`:

[code]

[2021-04-26 13:26] gsemet commented on #8871
Look similar to https://github.com/conan-io/conan/issues/6885

[2021-04-26 13:26] memsharded commented on #8869
Can you please try in a different setup? Like the native Windows 10, or a native Linux in other machine? Just trying to figure out what could be happening, everything seems to work here.

[2021-04-26 13:27] jgsogo commented on #8869
That response `{}` is returned for invalid URLs from `https://conan.bintray.com`... and by _invalid URLs_ I mean those that are not generated by the Conan client.

So far, here it works:

[code]

I'm trying to figure out if mixing remotes (you know that recipe can be associated with one remote and package to a different one) can lead to that scenario 🕵️

PS.- `qt/6.0.1@bincrafters/stable` is not i

[2021-04-26 13:27] gsemet commented on #6885
i also would like to have information for a specific package id:
[code]
I need the path in cache of the `package` folder.

[2021-04-26 13:32] ericLemanissier commented on #8869
@memsharded I tried both native windows conan, and WSL conan. both give the same error.
@jgsogo bincrafers' qt recipe was never included in legacy conan-center, so it's expected to be found only on bincrafters' remote

[2021-04-26 13:39] jgsogo commented on #8869
More info to reproduce your scenario, with all of this we should be able to recreate your calls using Conan (or even `curl`):

[code]

[2021-04-26 13:46] ericLemanissier commented on #8869
on WSL:
[code]

on Windows:
[code]

[2021-04-26 14:04] Jochen0x90h opened #8872 "[question] How to pass compiler and version from conan to CMake"
How to I pass the compiler and version from the profile into CMake? Suppose default is gcc 7 (gcc --version yields 7.5) and I also have gcc 6 (gcc-6 --version is 6.5). Then I have two profiles, one for gcc 7 and one for gcc 6. How do I let CMake use the compiler and version from the conan profile?

In the conanfile.py can do
cmake.configure(defs = {"CMAKE_C_COMPILER": "gcc-6", "CMAKE_CXX_COMPILER"

[2021-04-26 14:06] ericLemanissier commented on #8869
the problem disappears when I set CONAN_REVISIONS_ENABLED=1 env var. Did I miss a blog post about this ?

[2021-04-26 14:16] jgsogo commented on #8869
No, Conan 1.x will keep working without revisions, and ConanCenter (new infra) works without revisions.

---

Reproducing your steps (using Mac), here it works:

[code]

---

We can check the URLs and responses you get activating some traces:

[code]

You should get a file with all the remote calls (comments are mine):

[code]

[2021-04-26 14:19] memsharded commented on #8758
Oh! Sorry, I didn't see that ftp link because not being highlighted as link, my bad for reading too fast.
I will check that ftp files

[2021-04-26 14:22] aslynatilla commented on #8869
Having the same problem with:
`$ conan info assimp/5.0.1@ -s arch=x86 -s build_type=Debug -s compiler="Visual Studio" -s compiler.version=16 -s compiler.runtime=MDd --update`

After removing assimp with: `conan remove assimp/5.0.1@ -f`
I get:
[code]

My remotes are:
[code]

[2021-04-26 14:25] ericLemanissier commented on #8869
Here is my trace.log:
[code]

[2021-04-26 14:25] memsharded commented on #8869
I think it deserves to check possible proxies changing the user-agent. Because new infra might ignore browser-like user agents.

Is it possible that you are behind some corporate proxies, VPN, or something that could be messing a bit with the Conan client HTTP requests headers?

[2021-04-26 14:38] jgsogo commented on #8869
Hi! Looks like we've found the issue/bug (thanks @czoido ). With the **download cache** enabled, the Conan client is hitting URL https://conan.bintray.com/v1/conans/meson/0.57.2/_/_ which is not expected. Now we need to evaluate short and mid-term fixes.

Thanks for your report!

Quickfix (workaround).- Disable the download cache.

[2021-04-26 15:49] #8762 closed, assigned to SSE4

[2021-04-26 16:31] thorntonryan commented on #8626
Ok, nothing major to report. But started the approval process internally. Sorry for the long delay.

[2021-04-26 16:56] jonliubj opened #8874 "[question] conan install/inspect not working after conan server migration"
Hi,

I am having some issues with a conan server migration. I have copied the conan data directory to the new server, package search works but inspect or install fails on the existing packages. A new package on the new server all works as expected, upload, search, inspect, and install.

The old server is using a venv and the data is on a NAS share, inherited so don't know much about the history bu

[2021-04-26 17:12] jgsogo commented on #8869
Hi, all! I think we have already fixed the underlying issue 🎉  (and caches should have expired by now)

Please, try again and report.

[2021-04-26 17:14] ericLemanissier commented on #8869
indeed, thanks for the quick reaction !

[2021-04-26 17:14] #8869 closed, assigned to nobody

[2021-04-26 18:36] memsharded commented on #8874
Hi @jonliubj

From which version, to which version are you trying to upgrade?

Because in 1.10 there was a major layout change to accommodate for package revisions. The server upgrade will detect in an run an automatic migration, but it needs to be a server upgrade (that can detect the previous version and the current new one, and act accordingly).

In any case, I would strongly suggest to move to

[2021-04-26 18:40] memsharded commented on #8758
Sorry, I am having some issues with the ftp, it seems to require login/password.
[code]

Could you please copy those files and post them directly here in this issue? Thanks!

[2021-04-26 19:47] gouriano commented on #8758
Oh, sorry, I did not check that.
I have just tried this FTP link from home Windows PC
Firefox open them no question asked. Edge, Chrome, Opera do not open. Nobody asks any password.
Ok, I attach them here
[conanfile-good.py.txt](https://github.com/conan-io/conan/files/6379838/conanfile-good.py.txt)
[conanfile-bad.py.txt](https://github.com/conan-io/conan/files/6379839/conanfile-bad.py.txt)

[2021-04-26 20:21] milahu opened #8875 "[question] reproducible offline build of conan package"
how to get `conan build` to work offline?
the *.cmake files have the correct include paths, but cmake cannot find includes like `glad/glad.h`

context: im trying to build nix packages from `conanfile.py` declarations
and the nix build environment has no access to the network

more context: im [trying](https://github.com/NixOS/nixpkgs/issues/94555) to build google-orbit into a nix package for nixos

[2021-04-26 20:46] jonliubj commented on #8874
I ran a pip upgrade in the venv but conan is not in the module list so not sure the conans.server.server bits got touched. Is there an easy way to check that version? It did uppgrade gunicorn to 20.1.0, started the server, let it idle for a couple minutes while I checked the functionality, then stopped it and copied the files to the new server but the new server still has the same issue.

We are t

[2021-04-26 20:55] memsharded commented on #8758
Good, thanks!

So far I have been able to reproduce something similar, and apparently the issue might be in the ``cmake`` generator.
If you use the more modern ``cmake_find_package``, ``cmake_find_package_multi`` or the newer experimental ``CMakeDeps``, you might not encounter this issue. You might be interested in having a look at those.

I will have a look to the ``cmake`` generator, to see what

[2021-04-26 21:08] gouriano commented on #8758
If I do not use Conan, everything works just fine,

[2021-04-26 21:20] ezaiakinsc opened #8876 "[feature] Lift version limitation for the PyJWT"
Currently Conan has version limitation for PyJWT like this:
PyJWT>=1.4.0, <2.0.0

Popular frameworks, like PyGithub, are gradually lifting minimal PyJWT version to the 2.0+, and it becomes problematic to use conan together with the rest of the scripting. Situation is temporary resolvable using virtuenv, but python version switching is yet another dimension for human mistakes, especially for non-ex

[2021-04-26 21:40] SeanSnyders commented on #8839
Hi,
Anyone care to take a look at this issue?
It is a blocker for us.
Thx.

[2021-04-26 22:21] memsharded commented on #8758
I am checking your definition of components, I think there is a bug there:

[code]

Could you please double check it? Having an incorrect definition of the components could be creating this issue. Thanks!

[2021-04-26 22:32] memsharded commented on #8874
Hi @jonliubj

The conan_server is packaged with the client. So ``conan --version`` should give you the server version too.

The problem is that the files cannot be moved after it has started, they won't be migrated. They should be there to be migrated when the version is checked while the server starts. In any case, the migration of revisions is with 1.10, so this shouldn't be the issue either. In

[2021-04-26 22:49] memsharded commented on #8875
Hi @milahu

I am trying to understand your setup, but I am struggling a bit, mostly because I don't know much about nix. Also, it is not clear the relation, between them because at the end, it seems a regular conanfile.py ``cmake_find_package`` build issue. I don't understand how this is related to the offline issue, Conan packages can be installed, and a ``conan build`` command will never hit the

[2021-04-26 22:52] memsharded commented on #8872
Hi @Jochen0x90h

Have you tried env-vars? Because for gcc, it is typical that CMake would use ``CC`` and ``CXX`` env-vars:

[code]

[2021-04-26 22:55] memsharded commented on #8876
Well, it is a major version, so probably requires a bit extra of testing to make sure nothing is broken, not just lifting the version requirements, but might require changes in code (and then the opposite might happen, users stuck with older PyJWT might have incompatibilities).

For example, they are dropping support for Python2 (which we still maintain for Conan 1.X so far),  of the transitive cr

[2021-04-26 23:35] SeanSnyders commented on #8303
Yes, I also logged an issue on the same topic with a good repro using conan's own hello-world:
https://github.com/conan-io/conan/issues/8839

[2021-04-26 23:35] SeanSnyders commented on #8488
Here is another repo logged: https://github.com/conan-io/conan/issues/8839

[2021-04-26 23:40] SeanSnyders commented on #7719
Here is another repo logged: #8839

[2021-04-27 00:23] delrizzo opened #8877 "[feature] User field length increase or specification"
We are integrating conan into our build flow, using gitlab ci/cd. We have many repos to integrate, so we are attempting to set up an instance-wide conan package repository via gitlab. The issue is that in order to use conan in an 'instance-wide' fashion, gitlab forces one to use the 'user' field as a +-delimited path to the repository within the group. Our group hierarchy can be quite long. As you

[2021-04-27 01:22] solvingj commented on #8870
@memsharded i thought we did a change a few versions ago where the lockfile is not enforced/applied until the graph is completely resolved, so that options and settings in config/config_options could all resolve successfully. It seems like this would have been fixed by that as well.  I guess not?

[2021-04-27 01:26] solvingj commented on #8871
I think that ticket is substantially different in nature.

simply put, no it does not. you must provide the profile information (settings/options/etc).

[2021-04-27 01:29] solvingj commented on #8872
The suggested strategy has the nice feature of avoiding special code in the recipe for translating compiler details to the build system, which would make the recipe much more brittle and less portable.

[2021-04-27 05:45] gsemet commented on #8871
Ok, how can I solve my problem ? I would like to find this path in Python I can call the Conan package directly, but how can I call the get_path function? How can I instantiate a conanapi object from my script (today I call the Conan executable, but instantiating the main Conan code from my code is possible but it looks too hacky for me)?

is this ger_path function that does what I need available

[2021-04-27 05:49] gsemet commented on #8871
My use case is I need to binary compare the content of two package (the files in package without recipe, like headers and generated files). I did not find any reproducible hash I can use (I need if content is the same, hash is the same). I have deterministic binaries and generated files in my package. So comparison work fine, but on some weird windows environment finding the package path in the ca

[2021-04-27 08:08] harendt commented on #8870
Are you referring to this change #8054? I think that's unrelated. In this new issue the graph is already complete. And the missing library (`liba`) is actually included in the lockfile. But it is not referenced in the "requires" field of `app1` - probably because it's an overridden dependency (requirement with `override=True`). This causes the issue because the following lines assume that all requ

[2021-04-27 08:22] memsharded commented on #8366
Ok, so lets go for the above proposed approach (delay the ``settings.validate()``, so undefined settings are possible till the ``validate()`` method). This will be the approach in Conan 2.0, but not possible to do it now, as it will be breaking behavior.

I would suggest a possible very simple workaround to the underlying issue. Even if the packages do not need the compiler/built_type information

[2021-04-27 09:46] JochenWilhelmyTomTom commented on #8872
Hi!
What if the profile is generated by build.py and conan-package-tools?

My current solution works only for gcc and looks like this (in the conanfile.py):

       # gcc compiler version
        if self.settings.compiler == "gcc":
            defs["CMAKE_C_COMPILER"] = f"gcc-{self.settings.compiler.version}"
            defs["CMAKE_CXX_COMPILER"] = f"g++-{self.settings.compiler.version}"

[2021-04-27 09:57] JochenWilhelmyTomTom commented on #8872
Maybe the easiest is to use env_vars in builder.add()

[2021-04-27 10:44] milahu commented on #8875
thanks for the hint, this looks like a bug in `CMakeLists.txt` -> closing

<details>

the `CMakeLists.txt` file for `freetype-gl#79b03d9` is [here](https://github.com/rougier/freetype-gl/blob/79b03d9a0ef4f55c398c76e28c8346c7230ef23d/CMakeLists.txt)

for the `glad` library, there is no `find_package` or `include_directories` or `target_link_libraries`
only:

[code]
which is used only in [freetype-g

[2021-04-27 10:44] #8875 closed, assigned to nobody

[2021-04-27 11:02] military19 opened #8879 "[question] Get the source code from the artifactory using conan"
Hi,

We are using conan packaging manager to get the dependencies binaries from the articatory and build our projects. The dependencies binaries and it's source code are packaged and is uploaded in the artifactory.
Now, we are working on a feature to download the source code in the cache from the artifactory and use it for debugging into our local machine.
We have tried ' conan install .. --build

[2021-04-27 11:39] memsharded commented on #8875
Thanks for explaining @milahu.

Just to be sure, is this something that comes/derived/forked from the conan-center-index freetype recipe? something to fix there, or only in your code? Because if broken in ConanCenter recipe would be nice to report it there the issue.

[2021-04-27 11:57] ytimenkov commented on #8366
I think I didn't want any implicit actions. Having compiler in configuration will enable "profileless" conan install (whether it's good or bad). Also it will make possible to simply run `conan create .`... In other words quite many side effects I need to think about a bit.

[2021-04-27 12:11] milahu commented on #8875
the recipe is from `freetype-gl/79b03d9/orbitdeps/stable`, as installed by [google/orbit/build.sh](https://github.com/google/orbit/blob/main/build.sh#L59)

but this looks like a bug in `freetype-gl` cos the `glad` dependency is not declared in `CMakeLists.txt`
and the build will only pass if `/usr/include/glad/glad.h` is installed

[2021-04-27 13:21] memsharded opened #8881 "[poc] Validate that scm-conandata can be replaced by user automation"
To automate creating packages from source repositories in a centralized way:
- Do a copy of conanfile + conandata from original source
- They should have scm and scm_to_conandata active
- User automation can replace the scm info
- Then do the export, which should work

cc / @kerstinkeller

[2021-04-27 13:31] memsharded commented on #8881
The problem is that the "auto" strategy will fail if you are outside of the source repo. We need to think about it.

[2021-04-27 13:55] SpaceIm commented on #8842
replace by `glfw::glfw`

[2021-04-27 14:08] rconde01 opened #8882 "[feature] Give option to use symlinks instead-of/in-addition to conan_link on windows"
Currently when a package uses short_paths the folder in .conan/data contains a .conan_link file containing the shortened path. Windows 10 in developer mode supports symlinks. It would be nice to have a symlink to that folder for easier navigation as an option.

- [ X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-04-27 14:30] gouriano commented on #8758
Apparently, now I can only apologize for wasting your time... I have fixed this and it works fine now...
This is probably why I could not reproduce it in other scenarios.
I am awfully sorry.
"not a bug"

[2021-04-27 14:34] memsharded commented on #8758
This is probably why I could not reproduce it in other scenarios.
I am awfully sorry.
"not a bug"

Don't worry, no need to apologize! 😄

These things happen to all, and we are happy to help as much as we can, glad that the issue is solved. Closing this now, but don't hesitate to open new issues if you have any other question or need help with something. Cheers!

[2021-04-27 14:34] #8758 closed, assigned to nobody

[2021-04-27 14:44] memsharded commented on #8882
Hi @rconde01

Conan 2.0 will have a cache that is always short, to be able to store multiple revisions. So this will hopefully not be an issue.

[2021-04-27 14:52] rconde01 commented on #8882
hmm...how do you find your package cache then?

[2021-04-27 15:21] memsharded commented on #8882
with Conan commands, like "conan info" or other new ones.

[2021-04-27 15:24] rconde01 commented on #8882
Seems like that makes the problem (of navigating) worse. In that case it might be nice to have a second directory maintaining symlinks to packages so you can navigate via command line or file browser.

[2021-04-27 15:38] memsharded commented on #8882
Having a cache that can store multiple revisions, gives no other option, it is the only way. We will maintain the mappings in a DB, for many cases, navigating will not be that intuitive, because you will get folders with revisions, and it is not intuitive to navigate to the latest one anyway.

[2021-04-27 15:40] rconde01 commented on #8882
why isn't the revision just another sub-folder in the path?

[2021-04-27 16:22] memsharded commented on #8882
Because there will be 3 subfolders, recipe revision, package id, package revision. If you have a bunch of dependencies, the length of include paths, library paths can overflow the compiler command line length limit, for example. Not to say that this is completely impossible for Windows (not all Windows can enable the long paths), and we want to implement a common solution for all platforms.

[2021-04-27 16:24] rconde01 commented on #8882
But I'm just talking about browsing, not building. So do whatever you want for building, and then have a mirror directory structure with symlinks to the real dirs for browsing purposes.

[2021-04-27 16:29] memsharded commented on #8882
Well, it is simply too early for even considering this. We are just starting with the design of the cache 2.0, which has some big challenges, not only the structure/layout, but also things like concurrency, cleaning policies based on least recently used or timestamps, etc. Navigating the cache is a secondary debugging use case that can be initially satisfied by some ``conan cache path <ref>`` comm

[2021-04-27 16:32] srnwk opened #8883 "[bug] unix_path() uses WSL path flavor on Windows"
When `conans.client.tools.win.unix_path()` is called and the path_flavor is left to be determined automatically,
it will call OSInfo.detect_windows_subsystem().
When this happens on a Windows 10 system with WSL installed, this will find C:\Windows\System32\bash.exe,
run `uname -a` inside WSL and identify the subsystem as WSL, and choose the WSL path flavor.
Example of the generated conanbuildinfo.

[2021-04-27 16:39] rconde01 commented on #8882
sure - just keep it in mind i guess.

[2021-04-27 16:44] memsharded commented on #8882
Of course. We know this is a problem, so we will need to figure out a reasonable UX for inspecting the cache for the new 2.0 design later down the road before releasing 2.0.

[2021-04-27 17:42] jonliubj commented on #8874
i copied the venv to the new server, ran the venv server package and checked the functionality. Shut down the venv conan server. Ran conan_server --migrate outside of the venv. Then started the conan_server outside of the venv. Everything is working as expected now. Thanks for pointing me to the older versions not being compatible with the newer versions.

[2021-04-27 17:42] #8874 closed, assigned to memsharded

[2021-04-27 18:09] memsharded commented on #8874
Happy to know it is solved now.

For the future, I would recommend:
- Using the free ArtifactoryCE: It is almost the same effort as running conan_server, but superior in all aspects.
- Take into account that 1.10 introduced revisions, and the layout changes (not sure if you upgraded to 1.9.3 or above 1.10). If you plan to migrate to ArtifactoryCE, the best is to download everything to the client (

[2021-04-27 18:38] memsharded commented on #8883
Hi @srnwk

I am afraid I don't understand the issue completely, I would need a bit more of context:
- The command to reproduce: ``conan install xapian-core/1.4.16@`` (it fails without @), doesn't produce any local ``conanbuildinfo.txt``.
- How the ``unix_path()`` is being called.
- What is the expected behavior, to have a native windows build?

[2021-04-27 18:40] grafikrobot opened #8884 "[bug] Conan client fails when server charset is specified."
I'm experimenting with implementing a conan server. While testing said server I ran into problems because my server fully qualifies the "Content-Type" HTTP header to "application/json; charset=utf-8". The conan client though errors when talking to that server with this error: `Response from remote is not json, but 'application/json; charset=utf-8'.`. JSON content requires utf-8 encoding and charse

[2021-04-27 18:43] memsharded opened #8885 "[feature] gcc 11.1 released, with changed default cppstd"
CC 11.1 released

**The default mode for C++ is now -std=gnu++17 instead of -std=gnu++14**

https://gcc.gnu.org/gcc-11/changes.html

[2021-04-27 18:57] mcandre opened #8886 "[feature] Don't require compiler.version parameter"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Please drop the requirement to input a `-s compiler.version` when setting the compiler name. When I set the compiler name, to clang, I simply want to use whatever version of clang is on my system. I don't care which version.

[2021-04-27 19:08] johnmcfarlane commented on #1692
Hi! Hope you're well. One last thought. (I just hit this again because Clang-12 came out!)

What about:

[code]

?

[2021-04-27 19:56] memsharded commented on #8886
This is not possible. The ``compiler.version`` needs to be specified for the packages, even if it uses the system clang, its version is necessary because that is stored and used to define the binary ``package_id``.

If you only had ``clang`` in your system, probably the auto-detected ``default`` profile would have stored the version automatically. As this doesn't seem the case, the recommendation

[2021-04-27 20:53] IceflowRE commented on #8033
One question:
Why does this exist in first place? Also it will brake ci's quite often when relying on the delayed conan release with this value.

[2021-04-27 21:08] memsharded commented on #8033
Why does this exist in first place? Also it will brake ci's quite often when relying on the delayed conan release with this value

To control the valid values for settings. As they are hashed to form the ``package_id``, every minor disagreement in settings, like calling a version 12, or 12.0, or compiler Gcc vs gcc, could easily cause an unsolvable divergence of incompatible ``package_id``.
So the

[2021-04-27 21:11] srnwk commented on #8883
Sorry, choose the cmake generator for example, `conan install xapian-core/1.4.16@ -g cmake -if .`

unix_path() is being called by the xapian-core recipe in this case: https://github.com/conan-io/conan-center-index/blob/master/recipes/xapian-core/all/conanfile.py#L147

As for the expected behavior - I wouldn't expect `unix_path()` to generate a WSL style /mnt/d/... path that only works inside WSL w

[2021-04-27 22:46] Renari commented on #8363
This is failing for me on devtoolset 9 as well.

[2021-04-28 06:40] iiknd opened #8888 "[question] --profile:build --profile:host and build_requires the same package reference issue"
Hi,

I have the following issues when trying to get qtbase to cross-compile for Android.
I'm working on with the two profile approach for cross-compiling qtbase.

E.g. the Android build needs tools from the desktop linux/win/mac build thus I need to
build_require the same package reference. This is luckily now supported by Conan.

**--profile:build**

[code]

**--profile:host**

[settings]
    os=

[2021-04-28 07:55] tru opened #8889 "MSVC compiler.version is not allowed to contain `.`"
We needed to keep track of subversions of MSVC, i.e. 16.8 vs 16.9. Why? because MSVC LTCG (LTO) is not compatible between minor versions. So if you compile a static library with LTCG in 16.8 you can't link it to with 16.9.

We thought this was a easy solution - just change compiler.version to 16.8 instead of 16. But there are several assumptions in the conan codebase about the value of this settin

[2021-04-28 08:09] IceflowRE commented on #8886
Probably he is referring to the `settings.yml` which prevents the easy usage of newer compiler versions than conan has.

[2021-04-28 08:20] f18m commented on #8121
same use case also for me, I would like to have a way to retrieve only source code. I'm going to hack the "package()" function for now but it would be wonderful to have this feature done in the proper way in Conan 2.0

[2021-04-28 08:25] danimtb commented on #8889
Hi @tru,

Would you mind providing me with more information about the topic? Did the MSVC team provide information about this incompatibility between minor versions? I believe this will be useful to improve our current `msvc` compiler support.

Thank you

[2021-04-28 08:33] lasote commented on #8884
Should be enough to change the `if content_type != 'application/json':` line at `rest_client_common.py`

[2021-04-28 08:35] danimtb commented on #8879
If you have `conan create/install` already working by retrieving the source code from Artifactory, then `conan source` command might be what you are looking for: https://docs.conan.io/en/latest/reference/commands/development/source.html

Note that this command will download the source code to a local development folder instead of using the local cache. let me know if this works for your case. Than

[2021-04-28 08:38] tru commented on #8889
guessing this is the best source of the information: https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/fatal-error-c1047?view=msvc-160

[code]

But basically this is the same for GCC and Clang LTO as well. When using LTO/LTCG static libraries will contain the .o files that are NOT objects - they are just "bitcode" that is only supposed to be consumed by the same compiler that c

[2021-04-28 08:38] danimtb commented on #8877
Hi @delrizzo,

Yes, the path limitation is something not configurable and changing that will have other implications in other areas like long paths in the cache and hitting issues especially in windows and so. Currently, the client is not prepared to handle that change and this is a limitation of the Gitlab server implementation regarding the `user` field. I'd suggest contacting them for support a

[2021-04-28 08:49] memsharded commented on #8889
Hi @tru

Are you aware that the new ``msvc`` compiler setting definition contains the minor compiler version? Also the CMakeToolchain from 1.36 (due today) will be able to define the specific msvc minor version (or fail otherwise, protecting from setup errors).

I know it is a big change, not easy to change recipes and existing builds to use it, but just to let you know that in the new build syste

[2021-04-28 08:51] tru commented on #8889
No I was not aware of that - we are a bit behind on our conan versions. But that sounds good.

[2021-04-28 08:53] memsharded commented on #8889
For reference for other users as well: https://docs.conan.io/en/latest/reference/config_files/settings.yml.html?#msvc

[2021-04-28 11:55] Artalus opened #8891 "[bug] Obscure message of compiler mismatch between conan settings and CMake + Visual Studio"
`conanbuildinfo.cmake` file contains this `message()` call, reporting version mismatch between Conan settings and CMake detection:
[code]
It works fine the sensible world of compiler versions, but results in obscure nonsense when using Visual Studio:
[code]
As inexperienced Visual Studio user, one might think that something is clearly broken here, since there is no VS that contains "18" in its nam

[2021-04-28 12:25] chausner-audeering opened #8892 "conan test does not run source() in test_package's conanfile.py"
We use the `source()` packaging step to download resources that are required for building some of our libraries. This has been working well so far but now we also have some tests in `test_package` that also need certain resources for the execution of the tests. But it turns out the `source()` method defined in `test_package/conanfile.py` is not executed when running `conan test`. ~~I tried to work

[2021-04-28 14:55] SpaceIm opened #8893 "[bug] toolchain file: CMAKE_GENERATOR_PLATFORM regression in 1.36.0?"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019 + Ninja generator
  * Conan version: 1.36.0
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)

- add a basic toolchain file in `conanfile.py`:

[code]

- install some external libraries with this conanfile:
[code]

- call CMake on a

[2021-04-28 15:00] delrizzo commented on #8877
Thanks for the reply.
Ironically, gitlab is currently experiencing issues with project-based package registry also, so neither solution works for us at this time. In looking at their forum, it seems they are actively working on a solution, but time will tell.
We've decided to move forward at this time using an external registry... but it sure would be nice to have everything stored together.

[2021-04-28 15:56] memsharded commented on #8893
Hi @SpaceIm

Thanks for the feedback, but it seems this is not a bug, it is this way by design. The ``CMakeToolchain`` requires to know the CMake generator when it runs. Because what happens will be different based on it. For example, it might need a conanvcvars.bat to define the Visual environment for a successful build, which is not needed for ``Visual Studio`` generators. Please have a look at

[2021-04-28 16:02] SpaceIm commented on #8893
I understand, but it seems odd to have to hardcode generator in its conanfile based on a build system detail of consumers, it should work for all generator handled by CMake. It means that I can't use toochain feature in an agnostic CMakeLists, and it forces all consumers to use Ninja. Maybe I miss the main use case of toolchain file.

[2021-04-28 16:17] memsharded commented on #8893
Yes, I agree! This is the UX part that is missing at the moment. The key idea is that the generator needs to be know at install time, so it might be something like this:

[code]

We still need to implement this, so at the moment the only way to define it is via the constructor of CMakeToolchain. We will try hard to provide this in next 1.37. The main problem is that there are few things that depen

[2021-04-28 16:21] SpaceIm commented on #8893
Understood, it makes total sense.

[2021-04-28 17:10] tiolan opened #8894 "[question] conan install followed by cmake build"
My question is about using conan with cmake.
I generate a conan package that consists of source code, a CMake project and a conanfile.py. It depends on several other conan packages.

When using `conan create ...`, it pulls the dependencies, compiles the code and everything works fine.

Let’s assume I want to further develop the source code e.g. in Visual Studio (Code) without actually building the

[2021-04-28 21:43] memsharded commented on #8894
Hi @tiolan

You have hit a very interesting case. The good news is that we have been working for this very hard in the last releases, and it is one of our major focus right now:

- Please check the new ``CMakeDeps``, ``CMakeToolchain`` integrations in the new ``conan.tools`` section (note the singular "conan.tools"): https://docs.conan.io/en/latest/reference/conanfile/tools.html
- These new ``cona

[2021-04-28 21:51] memsharded commented on #8877
One of the reasons that increasing the name, version, user, channel fields limits could be dangerous is server implementations, that besides Artifactory and conan_server, now there are several of them out there. Package registries can become very large soon, we are aware of Conan users with thousands of packages (millions of artifacts), and they typically implement DB for storing the references. F

[2021-04-28 21:55] memsharded commented on #8892
Hi @chausner-audeering

You are right, this was never considered as a use case. Because the ``test_package`` functionality is implemented with a single ``main.cpp`` simple file, and the simplest approach by far is to put it directly inside the ``test_package``. Managing it elsewhere is an extra complexity that doesn't add much. Is it possible that you are maybe abusing a bit the ``test_package`` f

[2021-04-28 22:01] memsharded commented on #8891
Hi @Artalus

While it is true this message could be improved, I think maybe it is not worth the effort:

- A new ``msvc`` compiler setting has been added, that model the compiler version, not the IDE version: https://docs.conan.io/en/latest/reference/config_files/settings.yml.html#msvc
- That error is provided only in the old integrations. New integrations that will survive in Conan 2.0 (https://d

[2021-04-28 22:07] memsharded commented on #8888
Hi @iiknd

I am struggling to fully understand what you are trying to do. Are you trying to bootstrap the build of the ``qtbase`` package, depending on a previous version of ``qtbase``?
[code]

This is a loop. Loop are not permitted in the dependency graph (most package managers that I know, also in other languages, do not allow loops). We are considering some way to define bootstrapping requireme

[2021-04-28 22:14] memsharded commented on #8866
Conan is not a build system, and it is not an environment manager. Conan does not pick any compiler or injects it into the build. It is the responsibility of the build systems and environment to define that. What Conan can do is to define ``[env]`` environment variables in profiles, to help build systems use the intended compiler.

It is the responsibility of the user to define the correct profile

[2021-04-29 01:38] delrizzo commented on #8877
That's fair. I think that I wouldn't advocate changing it in light of that
information. We will find a different solution, or inspire gitlab to be
better... thanks.

--
Dave Del Rizzo

On Wed, 28 Apr 2021 at 14:51, James ***@***.***> wrote:

[2021-04-29 05:35] drmacdon commented on #8780
The install logs also indicate that it is a build-requirement when private=True, but not when private=False even though it is listed as a requirement.

[code]

The log above from https://github.com/conan-io/conan/blob/develop/conans/client/installer.py#L579. A few lines down will add the zlib reference to cpp_info when *not using_build_profile*, so it works without a build profile.

[code]

Howeve

[2021-04-29 06:55] iiknd commented on #8888
Hi @memsharded,

based on comments by @jgsogo :

https://github.com/conan-io/conan/issues/8640
https://github.com/conan-io/conan/issues/7618
https://github.com/conan-io/conan/issues/6040
"the same package can appear twice in the graph for those different profiles"

If I moved the "build_requires" from the recipe into the --profile:host -> it works without the "loop detection" error?
In the recipe

[2021-04-29 07:44] tiolan commented on #8894
@memsharded
Thanks for the fast response! Thats great to hear.
I've tried it.
Once with just `generators = "cmake_find_package", "cmake", "CMakeToolchain"`
Which leads to:
[code]
Also this does not help:
[code]
[code]
You can see `self.settings.compiler` being set to `gcc`, not `apple-clang`.

I invoke the build like this:
`conan install .. --profile ubuntu -s compiler.version=9 -o unittests=True`

[2021-04-29 08:19] memsharded commented on #8894
Hi @tiolan

Does your recipe declare ``settings = "os", "compiler", "arch", "build_type"``. These helpers will expect to have those settings in the recipe to do their thing.

Also it seems you might have a quite old ``settings.yml`` in your cache? Is it possible? Can you please have a look and share what you have in your <userhome>/.conan/settings.yml?  To get a new modern one, you could just remo

[2021-04-29 09:16] chausner-audeering commented on #8892
Hi @memsharded,

thanks for your quick answer! Yes, we are currently running all our unit tests as part of `test_package` and already considered moving them to the main package in the future. That would certainly also fix this issue for us.

We are using the `source()` step not for configuring the source code itself but rather for restoring resources that are needed to run the tests. E.g. we run t

[2021-04-29 09:33] memsharded commented on #8892
Hi @chausner-audeering

I would like to suggest another alternative:
- put those resources in a Conan package.
- You can remove ``settings``, if the package resources are multi-platform, or you can have platform specific resources as well.
- Have your ``test_package/conanfile.py`` have a ``requires`` to that specific package. This will be very efficient if those resources are used in multiple pack

[2021-04-29 09:49] tiolan commented on #8894
@memsharded
Yes, the `settings = "custom_os", "os", "compiler", "arch", "build_type"` are set in my class. Note that I added `custom_os`.

This actually prints "gcc":
[code]

The `settings.yml` has been generated just before testing everything today by doing this:
[code]

`cat ~/.conan/settings.yml` is:
[code]
(Note that I needed to put some dummy values for `custom_os` here)

So, it should not be

[2021-04-29 10:40] memsharded commented on #8883
Ok, thanks, now it is clear. I have been able to reproduce it.

This is very unfortunate, the detection is being done with ``bash -c uname`` under the hood, which in Windows, happens to return "Linux" both when you are running inside the WSL environment, but also when you are running in your Windows native ``cmd`` prompt 😓

I have no idea how this could be fixed, seems challenging without breaking

[2021-04-29 11:10] memsharded commented on #8894
Oh, I see, you are installing a custom ``setings.yml`` with ``conan config install $(MY_CONF_TEMPLATE)/config``, there will be a ``settings.yml`` inside there.

That custom ``settings.yml`` has removed the ``apple-clang`` compiler.

Now I see the issue. The new ``CMakeToolchain`` has a hard check on the compiler. Lets relax it, we'll do it for the next 1.37 version, or for the next 1.36.X patch if

[2021-04-29 11:19] memsharded commented on #8894
Hint: If you want to workaround it to keep trying right now, please add manually ``apple-clang`` to your ``settings.yml`` (only the compiler should be enough, no need to add the sub-settings, like version, etc)

[2021-04-29 11:38] danimtb commented on #8877
I am closing the issue as answered. Thanks!

[2021-04-29 11:38] #8877 closed, assigned to nobody

[2021-04-29 12:08] gsemet commented on #8871
I fixed my use case by implementing the following function in my Conan wrapper :
[code]

I know it is not elegant and may break at any time, but this is the only way I found to fetch the real package folder using the same layout mechanism that what conan actually use.

[2021-04-29 12:26] jgsogo opened #8897 "[feature] Provide 'tools.rename' utility in the new tools namespace"
A new function to rename files/folders that uses current implementation (_robocopy_ for Windows), but will accept the `conanfile` so we can control behavior in the future if needed

[code]

[2021-04-29 13:09] marmotamarmota commented on #7753
Hello,
I also have the same problem, I cannot access the package rootpath of a build requirement from inside my cmake code.
I understand that deps_env_info could be used in conanfile.py, provided that the build requirement recipe modified some environment variable, which does not always seem useful.
In addition, even if you modify PATH for executable build tools, the modified PATH can only be used

[2021-04-29 13:53] Bernhard-L commented on #7260
We're expecting the same problems.
The reason is ...
the conanbuildinfo.props will be created by shell command or by using the conan plugin from the configfile (conaninfo.txt|conanfile.py)

But the conanbuildinfo.props is referenced in the commited projectsettings.
If the project and the projectsettings are beeing loaded (without the file existing props file on the machine) Visual Studio refuses t

[2021-04-29 14:17] Artalus commented on #8891
The new generator definitely sounds good, but guessing from my experience, people might will be stuck with old one for quite some time after 2.0 released (not even saying about adoption period).
My intention was only to provide more readable data about MSVC in the existing `conanbuildinfo.cmake` creation process. I have absolutely zero experience with `msvc` generator, only seen it once or twice i

[2021-04-29 14:23] memsharded opened #8898 "[feature] Consider a recipe ``build_policy="never"`` policy for export-pkg packages"
Packages that are created with ``export-pkg`` will play very badly with ``conan install . --build`` that will try to re-build everything, but those ``export-pkg`` created packages will obviously fail to build.

It might be possible from 1.36 to ``conan install --build=* --build=!mypkg``, but this will be manual and if there are a bunch, would be inconvenient.

[2021-04-29 14:39] sourcedelica commented on #8883
If you are running in WSL you will have a number of environment variables set like `WSL_DISTRO_NAME`.

[2021-04-29 15:07] srnwk commented on #8883
`detect_windows_subsystem()` is also used by `run_in_windows_bash()`, where detecting WSL from "outside" appears to be the desired outcome.

[2021-04-29 15:34] memsharded commented on #8883
I see, good point. I think the ``run_in_windows_bash()`` is probably incorrectly relying on the ``subsystem = subsystem or OSInfo.detect_windows_subsystem()`` to decide if it has a working ``bash`` to be used, and probably it would be necessary to fix it too.

My biggest concern is that this is too messy and fragile at this moment, so it is very likely that changing anything there will be breaking

[2021-04-29 15:57] chausner-audeering commented on #8892
Thanks for that suggestion. I agree this sounds like a good alternative in general, although it does not work in our case because we already have a custom solution for the packaging of these resources which we cannot change. But I will keep your suggestion in mind because we may have also other usecases where we could apply something like what you proposed.

I think for us the best solution is to

[2021-04-29 16:04] memsharded commented on #8892
I am going to leave it open, it could be possible to call the source() method, so lets keep it open for a while in case some more users could be interested, and label it as something to consider "look into". Thanks for the feedback!

[2021-04-30 07:29] tiolan commented on #8894
@memsharded
I have now added
[code]
to  my settings as a workaround (sun-cc was also required).

My conanfile contains this (as a workaround the version is intentionally set to 1.36):
[code]

the generated `conan_toolchain.cmake` contains this:
[code]

I am missing, that this toolchain file sets the `CMAKE_PREFIX_PATH` to also contain the path for dependent Conan packages.

If building with `conan

[2021-04-30 07:50] memsharded commented on #8894
I am proposing a fix for the issue in https://github.com/conan-io/conan/pull/8900 (for 1.36.1 or 1.37, it depends).

The ``CMakeToolchain`` includes:

[code]
because it is intended to locate the generated xxxx-config.cmake files created by the ``CMakeDeps`` generator, not the ones inside the packages.

Listing the package folders directly and trying to use the scripts within the packages have 2 kn

[2021-04-30 08:16] memsharded commented on #7260
Hi @Bernhard-L

Just to clarify, it seems that you are describing a problem with the VS-conan-extension/plugin? Conan does not insert anything into user projects, it is the users who should directly add the .props files they want into their projects.

@T-Deuty

Regarding your issue, I am very sorry that we didn't respond to it. Sometimes it happens due to "overflow".
It seems that your case above

[2021-04-30 09:20] tiolan commented on #8894
@memsharded
Understood, thanks for the great support!

I have now modified my recipe:
[code]

It throws:
[code]
As per the documentation:

My settings.yml contains:
`build_type: [None, Debug, Release, RelWithDebInfo, MinSizeRel]`

I also tried
[code]
without any difference:
[code]

It already fails at `cmake = CMakeDeps(self)`

[2021-04-30 11:15] alejandro-colomar opened #8902 "[feature] conan.io/downloads.html: Docker Swarm"
In the downloads website you have a tarball for deploying a jfrog server with docker compose.
You could maybe add the same for Docker Swarm to achieve high availability, so that it can be deployed in a multi-host cluster.

Aside:  I think the term you are using (Docker Compose Installer) is inexact and misleading, as it's not really installing anything in the system.

- [ x ] I've read the [CONTRI

[2021-04-30 13:13] harsszegi opened #8903 "How to access path info of build_requires?"
Hello,
I have a custom cmake package that is used during build (e.g build_requires) To be able to use it, I need to provide the CMake package its location. Obviously it might be that a version range is provided, so I need the resolved path
How can I do that?
Thanks,

[2021-04-30 13:19] tiolan commented on #8894
Sorry, please ignore my last (hidden) comment, was my fault.

[2021-04-30 13:50] czoido commented on #8903
Hi @harsszegi,
You can use the `deps_cpp_info` object that contains the information of the requirements of the recipe to get that information of the requirement. Please check the documentation about this: https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=deps_cpp_info#deps-cpp-info
Calling something like: `self.deps_cpp_info["cmake"].bin_paths` will probably return the

[2021-04-30 17:00] aleksa2808 commented on #8748
Hey, sorry for the late reply.

I see, what you said makes sense. I opened this issue because it's sometimes troublesome to explain to new Conan users why we need virtualrunenv/imports and the need to reapply the env vars complicates it further. One other addition that comes to mind which could simplify this would be something like a `conan run` which bootstraps the environment, I'm not sure if th

[2021-04-30 17:04] aleksa2808 commented on #8714
Hey, in my tests quoting the whole variable worked fine for folders with spaces, although I tested it on Linux only.

[2021-04-30 17:52] harsszegi commented on #8903
Awesome, thanks a lot, you can close the issue.

[2021-04-30 17:52] #8903 closed, assigned to nobody

[2021-04-30 18:23] ghost commented on #8884
Hi, I would like to take this on. Can somebody assign me to this issue?

[2021-04-30 19:47] gouriano opened #8904 "[question] How to specify 'includedirs'?"
This refers to Windows and Visual Studio.
I try to change default includedirs of a components on Windows, in package_info() method

I say
self.cpp_info.components["BASE"].includedirs = ['include/Release', 'include']
and get in CONAN_INCLUDE_DIRS: ['include', 'include/Release'] - reverse order!
in conanbuildinfo.cmake, I mean

I say
self.cpp_info.components["BASE"].includedirs = ['include', 'includ

[2021-04-30 21:06] evandrocoan opened #8905 "[question] How to build with msvc inside a Cygwin bash?"
I am trying to build https://github.com/bincrafters/conan-libiconv version 1.15 with msvc. It works fine when I use these commands and it correctly uses msvc:
[code]

But if I do this inside a Cygwin shell, it tries to use gcc instead of msvc:
[code]

How can I tell conan to build things with msvc instead of gcc ?

I do I am calling conan from inside Cygwin because our build system (which create i

[2021-05-01 01:57] mcandre opened #8906 "[feature] Loosen CLI parsing restrictions"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Could we please setup a slightly more flexible parser? Modern CLI frameworks make the equals sign (`=`) optional for flags, that we can use a space instead. But conan often fails when a space is used.

[2021-05-02 19:23] MrPointer commented on #7193
I think I have reproduced this in newer conan versions as well...

My scenario is a bit different, where I have one conan version (1.36.0) on WSL, and another (1.35.0) on a docker container, both sharing the cache, mostly to save disk space. I don't want to go into detail about why I work this way, it's irrelevant to the issue.
The problem occurs whenever conan is run from the container, i.e. olde

[2021-05-02 22:25] DavidAntliff commented on #8788
https://dl.bintray.com/boostorg/release/1.69.0/source/boost_1_69_0.tar.gz is returning 403 Forbidden for me this morning - isn't this supposed to be redirected now? I was under the impression that I didn't have to change anything. Even a fresh Conan install doesn't work.

EDIT: fixed the URL to what is shown in the conan trace log. Removed inaccurate mention of `remotes.json`.

[2021-05-02 23:05] memsharded commented on #8788
Hi @DavidAntliff I think there is something wrong in your URL?

If you are looking for the official boost.org downloads, please check: https://www.boost.org/users/download/. They are pointing to new boost server: https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.bz2

The conan.bintray.com URL keeps working to serve ConanCenter, but this is a completely different thi

[2021-05-02 23:10] DavidAntliff commented on #8788
@memsharded something (possibly me) is definitely getting confused. The failing URL is actually https://dl.bintray.com/boostorg/release/1.69.0/source/boost_1_69_0.tar.gz - I'm not sure where I got that other one from. It looks like the recipe for 1.69 still contains `url = "https://dl.bintray.com/boostorg/release/%s/source/%s" % (self.version, zip_name)` but I don't see this at https://conan.io/ce

[2021-05-02 23:24] memsharded commented on #8788
Oh, I see what you mean.

Yes, it seems the ConanCenter recipe hasn't updated yet to then new URLs provided by the official boost.org.
I have reported an issue in conan-center-index so the recipe can be fixed, hopefully soon: https://github.com/conan-io/conan-center-index/issues/5397

In the meantime, to build from source, I would recommend to clone https://github.com/conan-io/conan-center-index,

[2021-05-02 23:26] DavidAntliff opened #8908 "[bug] boost-1.69 source download fails (403, forbidden) - was working last week"
This was working fine until today. Now I'm getting a HTTP 403 (Forbidden) error when attempting to `conan install`. Logs below.

### Environment Details (include every applicable attribute)
  * Operating System+version: Docker / Ubuntu 20.04
  * Compiler+version: gcc 9.3.0
  * Conan version: 1.36.0
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)

Attempting to install

My

[2021-05-02 23:28] DavidAntliff commented on #8788
Ok, thank you, I'll try your workaround.

I logged this too: https://github.com/conan-io/conan/issues/8908

[2021-05-02 23:34] DavidAntliff commented on #8908
Looks like some of the URLs in this file are wrong?

https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conandata.yml

[2021-05-03 00:14] Croydon commented on #8908
`boost/1.69.0@conan/stable` is deprecated. `@username/channel` is optional for a while now.

You have to migrate to `boost/1.69.0` without `@username/channel`

All packages in the Conan Center Index don't have a `@username/channel` anymore. Packages with a `@username/channel` do come from places like [conan-community](https://github.com/conan-community) (`@conan)`) and [Bincrafters](https://github

[2021-05-03 01:57] DavidAntliff commented on #8908
Ok, sorry about that. However perhaps the client shouldn't abort on a 403 and continue with the next URL instead?

[2021-05-03 02:00] DavidAntliff commented on #8908
Interestingly, when I switched from `boost/1.69.0@conan/stable` to `boost/1.69.0` I also get this warning:

[code]

But this time it continued (successfully) onto the next mirror. This did *not* happen with `@conan/stable` specified. I'm not sure why this behaviour difference exists - maybe there's an issue to explore here?

[2021-05-03 06:42] SSE4 commented on #8908
`@conan/stable` is an old reference and it didn't have download mirrors specified

[2021-05-03 09:26] Croydon commented on #8908
`boost/1.69.0@conan/stable` and `boost/1.69.0` are completely separated recipes

The source of `boost/1.69.0` can be found here: https://github.com/conan-io/conan-center-index/tree/master/recipes/boost

The source of the deprecated `boost/1.69.0@conan/stable` can be found here https://github.com/conan-community/conan-boost

[2021-05-03 10:02] briandoodyie commented on #8908
We are also seeing the same issue for Boost/1.71.0. Will this PR fix both.

[2021-05-03 11:20] mklntf opened #8909 "[bug] conan profile:host options apply to build_requires dependencies."
### Environment Details
  * Operating System+version: Arch Linux
  * Compiler+version: gcc 8 + 9 / cross-compiling
  * Conan version: 1.35.1
  * Python version: 3.9.4

### Steps to reproduce

I try to bundle firmware with conan by installing armv7hf components via [requires] and x86_64 tools to package via [build_requires].
Everything works fine, but it seems although openssl,libcurl and libzip ar

[2021-05-03 11:42] Croydon commented on #8908
The PR will fix the download warnings for all versions.

However, if you get an error instead of a warning, you most likely use the deprecated recipe as explained above and you need to migrate to the recipe without `@conan/stable`

[2021-05-03 14:19] vdsbenoit opened #8910 "[bug] build_requires packages data missing in the conanbuildinfo.cmake"
### Description
When using both the `build_requires` attribute and the `--settings:build` argument, the build requirements data is not parsed in the `conanbuildinfo.cmake` file. This behavior becomes an issue when using the `conan install` command. Indeed, if I try to execute some packages from the `build_requires` field in any further commands, I cannot get the path to the build requirements loca

[2021-05-03 16:59] JakubBednar opened #8911 "[question] Have single conan recipe defining multiple packages"
Hello,

is it possible to define a single generic recipe that will define an infinite set of package versions? I would like to specify the package like this:
1. The source code for the package can be found in given git repository
2. Existing versions of the package are defined by git tags in the repository
3. Build steps are at given git tag revision in the repo as well. e.g. in conanfile.py

I up

[2021-05-03 17:15] memsharded commented on #8911
Hi @JakubBednar

We have this in our ConanCenter repo: https://github.com/conan-io/conan-center-index

You can check that each recipe in each folder is used to build any number of versions:

- Inside each recipe folder, you have a ``conandata.yml`` like this: https://github.com/conan-io/conan-center-index/blob/master/recipes/amqp-cpp/all/conandata.yml
- The ``conandata.yml`` contains the origins o

[2021-05-03 17:37] JakubBednar commented on #8911
Thanks for your answer @memsharded.

I did check the ConanCenter repo. I did notice that it references sources in tar packages with checksums. I do not want to repack my sources and upload anywhere as the sources will be hosted on our internal git server. Can you point me to a working example that references source codes from some git repo?

[2021-05-03 18:06] memsharded commented on #8911
I don't find any direct example with that, but the approach should be:

- Put in your conandata.yml the info that you want, the git url and the git tag
- Use the Git helper: https://docs.conan.io/en/latest/reference/tools.html#tools-git in the ``source()`` method, populate it with the conandata.yml data, accessing it via ``self.conan_data["field"]["otherfield]`` depending on how you parameterize.

[2021-05-03 18:50] JakubBednar commented on #8911
Thank you very much for your help.

[2021-05-03 21:02] ghost commented on #8563
Hi, I'm interested in taking this on

[2021-05-04 04:18] xahon opened #8913 "NTFS can be case sensitive but conan can't handle this"
According to [this article](https://www.howtogeek.com/354220/how-to-enable-case-sensitive-folders-on-windows-10/) NTFS offers case-sensitivity option per directory basis but there's a hardcode in conan's codebase on that thing. I turned on case-sensitivity in my conan.storage path to avoid case-sensitivity issues and that didn't help me because of that:
https://github.com/conan-io/conan/blob/b7031

[2021-05-04 07:42] lasote commented on #8913
Hi @xahon! Thanks for reporting. I'm checking out that article and seems interesting but it worries me when it says:

- `The case sensitivity flag only affects the specific folder to which you apply it. It isn’t automatically inherited by that folder’s subfolders.`
-  workaround: `As long as you create folders from the Linux environment, they’re created with the proper case sensitivity settings an

[2021-05-04 08:31] memsharded commented on #8913
In any case, 2 important points:

- Conan 2.0 will be lowercase only, that is already approved in the tribe discussion: https://github.com/conan-io/tribe/blob/main/design/017-lowercase-references.md
- The new cache for Conan 2.0 will abstract away the references, to be able to store multiple revisions. So case insensitive filesystems won't be an issue.

[2021-05-04 17:04] memsharded commented on #8910
Hi @vdsbenoit

This is kind of expected at the moment. So far the generators in the build-host context only generate the xxxx-config.cmake scripts for the host context. There are some reasons for this, for example, it is perfectly possible to depend on ``protobuf`` package both as ``requires`` and ``build_requires``. There will be 2 dependencies. The ``protobuf`` in host context, the library, will

[2021-05-04 17:29] uilianries opened #8916 "[feature] Include hooks in global.conf"
With the addition of [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) feature, more properties can configured according user profile, don't affecting all environment.

A good case which could be considered for global.conf is hooks. There are only two ways how to configure hooks to be used, conan.conf and CONAN_HOOKS env var.

The conan.conf affects the entire

[2021-05-04 19:13] KerstinKeller opened #8918 "[bug] Strange error message when lockfile cannot be found"
When I am passing a nonexisting file to conan install for a lockfile
[code]
I get a strange error message:
[code]

Somehow the error message suggests, that the `-l` is not interpreted as a path to a lockfile, but as a folder (an implicitly appends a `conan.lock`.
And the documentation says that it expects a file:

[code]

I would expect the error message would be:
[code]

I am using the latest Con

[2021-05-05 09:08] Croydon commented on #8908
https://github.com/conan-io/conan-center-index/pull/5401 is merged. This issue can be closed

[2021-05-05 09:12] memsharded commented on #8908
Thanks @Croydon !

[2021-05-05 09:12] #8908 closed, assigned to nobody

[2021-05-05 09:19] vdsbenoit commented on #8910
Hi @memsharded,

Thank you for your help! I get a better picture now.

I guess this is the reason why, in my example, the `conan create` commands works. I guess the paths to the build requirements are appended to the PATH before running the build (as stated in the console).

However, while the `conan install` command logs "Appending PATH environment variable", it cannot export the updated PATH to

[2021-05-05 10:16] alex-700 opened #8919 "[question] using `boost/system` recipe with system-wide config"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi! My question is about `conan` recipes for system packages (like [gtk/system](https://conan.io/center/gtk) or [xorg/system](https://conan.io/center/xorg) from CCI). In our ecosystem we want to use `boost/system` (custom one) together with `boost/1.7?` from CCI (we need a transparent

[2021-05-05 11:36] czoido commented on #8906
Hi @mcandre,
Thanks for the feedback, currently we are using python's standard argparse module to parse the CLI. It should work with spaces or equals sign, could you please provide an example where it's failing?
We are currently in the middle of the redesign of the CLI for Conan 2.0 so this is something we will take into account.

[2021-05-05 13:44] snailcatcher opened #8920 "[question] explicitly allow duplicated requirement"
Hi,
is it possible to allow *duplicated requirements* in conan?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-05-05 13:45] czoido commented on #8918
Hi @KerstinKeller,
Thanks a lot for reporting, the message is in fact misleading and should be improved.

[2021-05-05 13:58] at185190 opened #8921 "[feature] Make copy consistent for import + RPATH/RUNPATH breaking issues."
So I am unsure if anyone ran into issue with RUNPATH/RPATH for conan modules.

A (.so) and B (.so) built on build machine, both have runpaths of build machine.
B requires A.

C (.so) is built on dev machine, requires B. C is built successfully, sets RUNPATH/RPATH to conan cache.

Yet on further inspection (ldd -d C) , we see that A is required, but not found.

It's not found because C is not using

[2021-05-05 13:58] uilianries commented on #8920
What do you mean?

Same package, but different versions as a requirement?

https://docs.conan.io/en/latest/faq/general.html#is-it-possible-to-install-2-different-versions-of-the-same-library

Same package as requirement and build requirement?

Yes, a real example is Protobuf: https://docs.conan.io/en/latest/devtools/build_requires.html#build-and-host-contexts

[2021-05-05 14:20] snailcatcher commented on #8920
@uilianries kind of the first one, but not exactly what's written in the documentation.

I will do a conanfile.txt which looks something like this:
[code]

When I ran the one above I will get *ERROR: Duplicated requirement package/0.0@user/channel != package/1.0@ci/user/channel*

[2021-05-05 14:42] uilianries commented on #8920
Your case is illegal by design.

The case allowed by Conan is when you have more dependencies, and those dependencies require a common package, but different versions. For instance:

[code]

The package A requires B and C. Both B and C require Boost, but different versions. Conan will rise an Error:

[code]

But you can force a specific version: https://docs.conan.io/en/latest/faq/troubleshooting.

[2021-05-05 15:21] lasote commented on #8303
Hi all. We are taking a look again at this issue.

**To summarize the current status**
When the new cross-building mechanism (two profiles) is activated, the declared build_requires are in `build` context, and Conan is not generating files for the requirements in the `build` context.

Why? Well, there might be potential collisions when a package is in `build context` and in the `host context`. For

[2021-05-05 15:22] lasote commented on #8839
I think this is clearly a duplicated issue. I commented at https://github.com/conan-io/conan/issues/8303, please let us continue there the discussion and if you think the issue is different we can reopen it. Thank you!

[2021-05-05 15:22] #8839 closed, assigned to nobody

[2021-05-05 15:47] ericriff commented on #8303
We use protobuf as both a `requirement` and as a `build_requirement` for the reasons you're naming: We crosscompile from `Linux:x86_64` to `Linux:arm` so we need an x86_64 package for `protoc` and an arm version for the libraries.
The main issue we're facing is an internal package, used as a build_requirement that contains some `cmake` modules. When using 2 profiles, `CMAKE_PREFIX_PATH` from build

[2021-05-05 16:15] blackliner commented on #8303
Thanks for the insights @lasote

In my case, for capnproto, It would be ok to find the host version both times, because all I need during the build context are some cmake macros and they dont care about platforms 😝

[2021-05-05 16:54] hsuanguo opened #8922 "[question] CMakeToolchain and cross build profiles"
conan version : 1.36.0

The CMakeToolchain generator feature is very exciting, it's good to see that we are making progress in this direction, not sure if this is something possible at this moment:

- I have one `linaro-aarch64-gcc10.2-linux5.4_release.txt` which defines the host toolchain

and I have `generate()` defined in `conanfile.py`
[code]

Ideally, what I tried to achieve was:
[code]

Was

[2021-05-05 18:17] danimtb commented on #8904
Hi @gouriano,

What generator are you using to check the result of CONAN_INCLUDE_DIRS?

[2021-05-05 18:20] gouriano commented on #8904
It is CMake
I am looking at the contents of conanbuildinfo.cmake,

[2021-05-05 20:54] ericriff opened #8923 "[bug] private requirement being treated as a build_requirement instead"
In this PR https://github.com/conan-io/conan-center-index/pull/5432 I'm trying to use `linux-syscall-support` as a private `requirement`.
[code]

If I try to crosscompile using 2 profiles the build fails reporting it doesn't find the `Findlinux-syscall-support.cmake` module. Inspecting the logs they show the following, which really confuses me:

[code]

But then
[code]

And no `FindPKG` is generat

[2021-05-06 06:54] snailcatcher commented on #8920
Actually I want to use conan for a versioned doxygen documentation.
But as you mentioned above, I think I have to use an other approach.

So thank you for clarification.
I will close this one.

[2021-05-06 06:54] #8920 closed, assigned to nobody

[2021-05-06 08:00] lasote commented on #8303
@ericriff Yes, it should be declared when doing the `find_package(my_internal_packageBuild)`.
The issue in general with the `CMAKE_PREFIX_PATH` using `protobuf` as an example, required as build_require and as a regular require at the same time, and also with the multi-config packages, is that the only thing we can do is append all the `CMAKE_PREFIX_PATH` for all the configurations and build/host i

[2021-05-06 08:37] SSE4 commented on #8885
[code]
default C++ standard is 17:
[code]
supported C++ standards:
[code]

[2021-05-06 08:38] SSE4 commented on #8404
same as #8885

[2021-05-06 08:38] #8404 closed, assigned to nobody

[2021-05-06 08:39] #8884 closed, assigned to nobody

[2021-05-06 08:47] danimtb commented on #8904
So not sure what might be happening here but I guess is something related to repeated directories across the dependency graph. CONAN_INCLUDE_DIRS variable aggregates the include directories of all the dependencies in the graph you are installing. As "include" is the value by default, it might be first in the list because it is coming from an upstream dependency.

Another option could be that the g

[2021-05-06 09:12] SSE4 commented on #8883
unfortunately, I don't see a safe and easy way to fix it without breakage. probably, declaring explicit `os.subsystem` in profile is the way to avoid problem (or, specifying `CONAN_BASH_PATH` to the wanted bash).

[2021-05-06 10:17] danimtb commented on #8919
Hi @alex-700,

Reading your particular case it does not look to me to abuse a bug or behavior of a generator to use it that way. I think the changes introduced in the generator are improvements to make the integration with CMake simpler and improve syntax in recipes.

However, I see the point on better supporting "system" recipes and this is something we would consider in the design of the graph f

[2021-05-06 10:35] jenia90 opened #8925 "[question] Using conan as library inside another python scripts"
Hi all, I would like to write a python script that would extend conan for my own use cases, i.e., import it as a module in my own scripts. Is it something that is supported? If yes, is there any documentation available? Thanks in advance :+1:

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-05-06 10:48] danimtb commented on #8922
Hi @hsuanguo,

The case you describe is supported but not directly the way you exposed it.
As Conan integrates with many build systems, we need to approach the different use cases with a general solution.

In this case, the environment could be injected into the build using the VirtualEnv generator by declaring something like this in the recipe:

[code]

then the steps would be something like:

[c

[2021-05-06 10:49] alex-700 commented on #8919
@danimtb thanks for the answer!

Agree. I thought about having a possibility to have different strings for `<string1>-config.cmake` and `find_dependency(<string2> ... )` in dependants. This feature (bug) was dropped in `1.36`. Yeap, this feature is odd usually, but it was a core for crutch described above.

It seems, that I didn't get this option. In which recipe do you suggest to drop `generator`

[2021-05-06 11:46] hsuanguo commented on #8922
@danimtb

Thanks for the reply. I tried it and it works! (though I have to use `virtualenv `instead of `VirtualEnv`)

Yes it is different from what I expected as I thought `CMakeToolchain` would inject the toolchain information as it is named...

I am wondering if there is a plan to make it smoother or virtualenv will always be the case?

Update:

I found it doesn't  work with `-DCMAKE_TOOLCHAIN_F

[2021-05-06 12:33] Viatorus commented on #8824
@memsharded Any updates on this?

[2021-05-06 13:09] Belpaire commented on #8722
So I found the root cause, apparently our custom url on artifactory did not contain the actual port (so of course it defaulted to port 80). So for some reason it did not fail on my development machine, but all other machines seemed to be confused by the fact that the custom url did not have the same port number as the actual port of the server. Changing this seems to have fixed the issue. Although

[2021-05-06 13:09] #8722 closed, assigned to solvingj

[2021-05-06 13:18] gouriano commented on #8904
What you suggest cannot work, because:
ConanException: CxxTest/0.1.6 package_info(): self.cpp_info.components cannot be used with self.cpp_info global values at the same time
(Yes, I have verified it)

I have tried few more variants:
When I specify, for example (note that all these directories exist in my package root)
self.cpp_info.components["BASE"].includedirs = ['cmake', 'include/common', 'inc

[2021-05-06 13:49] solvingj commented on #8722
Thanks for reporting back the solution for future user reference. Really appreciate it!

[2021-05-06 14:28] danimtb commented on #8925
Hi @jenia90,

Currently, Conan client offers a python API but it is not documented and we have no commitment to make it stable so we don't recommend its usage on production. The best way to integrate conan in a script would be to stick to the command line and parse the results using the output in json with `--json` flag.

Anyway, not sure what you mean by "extending", but Conan already offers diff

[2021-05-06 14:34] danimtb commented on #8922
thanks for the quick update!

We are still evaluating this approach as we continue to go forward with the development around toolchains and cross-building so we have to continue working on this to manage the environment correctly for all the cases.

Right now this is the only way to make it work I believe.

[2021-05-06 14:35] gouriano commented on #8904
I have figured out how you can reproduce it.
Create new Conan package:
`conan new hello/0.1`
Change package_info into the following

    def package_info(self):
        self.cpp_info.libs = ["hello"]
        self.cpp_info.includedirs = ['lib', 'include']

run "conan create ."
Then, in a separate directory, create conanfile.txt:

    [requires]
    hello/0.1
    [generators]
    cmake

run "conan i

[2021-05-06 14:40] jenia90 commented on #8925
@danimtb Thank you for you answer! Yeah, I meant that I want to integrate it in my own script. I've been going through the source and nitpicking the functions that might be useful for my use-cases. However, if you say that it is unstable and subject to change then I will indeed try the CLI approach. Thank you again for your detailed explanation. Hope I find ways to contribute to this important pro

[2021-05-06 14:59] danimtb commented on #8925
you are welcome! I hope you find Conan useful and do not hesitate to open an issue with questions or feedback during your process 😄

[2021-05-06 14:59] #8925 closed, assigned to nobody

[2021-05-06 16:12] danimtb commented on #8904
thanks for the quick response and the clear steps to reproduce the error.
I tried it and I think this is a bug in the way the directories are aggregated when components are used. I have created a tentative PR with the fix at #8927 to see if it does not brake other use cases that might be relying on this behavior.

Thanks a lot for reporting again!

[2021-05-06 16:20] danimtb commented on #8923
Private requirements have a weir behavior and the general advice is to avoid them whenever it's possible. This is something we really want to improve in Conan 2.0 with a new graph model that clearly defines the behavior of different types of dependencies.

I took a look at the example and I am not sure why the requirement should be private. Maybe declaring it as nonprivate is enough for your case?

[2021-05-06 16:38] ericriff commented on #8923
This package only provides a header used during build. I didn't want it to propagate as a transitive dependency when my package gets consumed, sok I made it private.

I tried making it a build_requirement instead, but then I don't get the findPackage.cmake module so I can't consume it.

[2021-05-06 16:40] gouriano commented on #8904
Maybe, once we are at it, it is possible to allow "include/$(Configuration)" ?
that would be useful

[2021-05-06 19:46] blackliner opened #8930 "[feature] python_requires can use "normal" requires"
I would like to be able to define `def requirements(self):` methods for packages that are used via `python_requires`.

Reason: I am writing a `python_requires` packages, that will provide code quality related tools, like running `gcov` instrumented tests, collecting the coverage data with `gcovr`, run `clang-tidy`, upload data to SonarQube etc. For some of those steps, binaries are required, and I

[2021-05-07 07:02] gpxricky commented on #7753
Hi,
adding at least the rootpath of build dependencies to `deps_build_info` (or any other variable) is a MUST HAVE for us too. Our third party components require to specify the path to a build tool instead of assuming it is available in the path variable. Furthermore we do not want to rely on any value of the path variable as it may cause undesired behavior even if it is fully cleaned before runni

[2021-05-07 08:51] XDinEuro opened #8933 "[workspace] conan workspace install virtualenv generator"
I am using conan workspace for setting up a big repository containing multiple sub packages. I found it quite useful and efficient when you have many changes across packages. However, the `conan workspace install ` doesn't support virtualenv generator and normally for running the executable I will need to enter into virtualnev by `source activate.sh`.

I tried to generate them manually but I found

[2021-05-07 13:54] ericriff commented on #8303
Will the variables in the build module also have a different name?
As an example now the `protobuf` package provides `Protobuf_PROTOC_EXECUTABLE` which points to the `protoc` exec.
If I have a CMakeLists.txt where I need to use protoc to generate files and then link against protobuf libraries I would have to do

[code]

Then bothe modules will provide `Protobuf_PROTOC_EXECUTABLE`?
Even if the auto

[2021-05-07 15:04] jgsogo commented on #8303
The current `protobuf` recipe in ConanCenter manages this situation in a very easy way (kudos to the community). Any other code generation tool with the same approach as protocol buffers could implement the same in the recipe and it will work.

As it is now, there is no need to modify existing `CMakeLists.txt` in projects that are using `find_package(Protobuf)`, they will work out of the box, also

[2021-05-07 15:13] blackliner commented on #8303
Could you elaborate on the "very easy way"? Maybe instead of changing conan, if there are designs available, why not come up with new recommendations for recipes? And maybe have some helper methods from conan?

[2021-05-07 15:19] MichaelHCline opened #8934 "Best way to promote packages"
As we use pipelines to build packages and then run tests, we thought we would use an Artifactory repo promotion scheme to "upgrade" the status of our packages.  For example, we build and create a package on a dev branch, and upload its binaries to conan-dev.  Then spend time running through system tests.  Once the package is vetted (could take weeks), we would move the package from a conan-dev rep

[2021-05-07 15:49] melMass opened #8935 "[question] Properly use compiler.libcxx?"
Hi,

I've been using Conan extensively recently.
I'm using LLVM (clang) and here is my profile

[code]

Since this morning (I think this is due to a brew upgrade), I'm unable to build my `test-package`:
![image](https://user-images.githubusercontent.com/7041726/117475000-d7a91800-af5b-11eb-987f-276d65a87ee6.png)

Strangely using CMake variables to enable the stdlib does not work:
[code]

but this

[2021-05-07 16:06] jgsogo commented on #8303
Recipe uses the following in the generated `.cmake` files:

[code]

Depending on the scenario (cross-compiling or not), the variable `Protobuf_PROTOC_EXECUTABLE` and the target `protobuf::protoc` will use the one from _host_ or the one from _build_ context. Basically, it takes advantage of the environment being populated by Conan with the PATH to the tools provided by build-requires.

[2021-05-07 21:02] tb185174 opened #8937 "conan config install problem"
Hi
When I use  conan config install https://github.com/ncr-hw-engineering/aerocommon-conanbase.git -sf conan-config, I get a dialog box saying  "enter password to unlock private key" My password  fails every time. How do I reset this passowrd?

[2021-05-07 21:34] rconde01 opened #8938 "[question] Recommended way to get binaries for all required packages and transitive dependencies"
Given the following scenario:
- We have a project which requires several conan packages, configured in one or more conanfile.py files
- Many of those requirements have non-default options

We want...
- ...all recipes and transitive dependencies to have binary packages on our conan server
- ...to build all those packages on our target platforms so that e.g. GLIBC versioning is not an issue

I see t

[2021-05-07 22:21] hpesoj commented on #7498
This seems to have nothing to do with proxies. Simply rate-limiting the download causes Artifactory to abort the download. Try this:
[code]
Results in (at ~1035MB):
[code]
Unfortunately, this means we can't download large files when the connection is slow.

[2021-05-08 18:08] melMass commented on #8935
That also works:

[code]

[2021-05-08 18:21] melMass commented on #8935
I will rewrite this issue properly later. Closing it.

[2021-05-08 18:22] #8935 closed, assigned to nobody

[2021-05-08 18:35] rconde01 commented on #8938
Looks like the answer might be with lock files...but still learning

[2021-05-09 07:10] CAMOBAP commented on #1557
I faced with a similar problem:

macOS, Case insensitive FS

`conanfile.txt`:
[code]

And it produces `FindOpenCV.cmake` but with `opencv_LIBRARIES` and `opencv_INCLUDE_DIRS` definitions.

As result `find_package(OpenCV REQUIRED)` failed

I managed to fix this with [this macro](https://gist.github.com/CAMOBAP/d33dabafd6c211941271501216b110fd)

Is there a better option to fix this problem?

[2021-05-09 13:28] mcandre opened #8939 "[feature] Default MSVC runtime configuration"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Let's make it easier to configure conan for MSVC with less boilerplate required. Pick a default setting for compiler.runtime.

[2021-05-09 14:28] memsharded commented on #8939
Conan already automatically fills the ``compiler.runtime`` based on the build_type: https://github.com/conan-io/conan/blob/3cd7f5182653e035723e5634e85c34ccf91e161d/conans/client/settings_preprocessor.py#L49

[2021-05-09 16:54] c0rt commented on #8505
@memsharded migrating to PostgreSQL helped us! The process took about 3 minutes. Now works faster than version 1.29.2!
[code]

[2021-05-10 07:06] SSE4 commented on #7764
I have implemented a POC that uses CMake FIle API to generate components information:
https://github.com/SSE4/cci.cmake-file-api

[2021-05-10 07:26] zink-chimaera commented on #8493
Starting via Python (e.g. `python -m conan.conans create .`) does not enable you to debug (why?).

With Pycharm-Professional you can insert your debugger into the running instance with
[code]

However regular debugging support is definetly needed IMO. Are there any statements or updates on this matter? I coudn't find anything either.

[2021-05-10 08:08] theodelrieu commented on #8303
@lasote

Hi, I think it's better than not solving the issue for sure. Is there something preventing generators other than `CMakeDeps` to have this functionality?

[2021-05-10 08:57] lasote commented on #8303
Do you have a better idea? Ideas are welcome!

Not technical reasons, but Conan 2.0 will have only the CMakeDeps generator and we consider we have to stop at some point evolving the old generators to focus on the goal.

[2021-05-10 08:59] theodelrieu commented on #8303
Nope! I've let dual profiles on the backburner for a few months so I won't have an enlightenment any time soon 😆.

 Cannot agree more.

[2021-05-10 09:09] danimtb commented on #8923
totally understand your use case and this kind of relationships is what we'd like to get fixed in the graph model for conan 2.0 as we think is crucial to achieve the right definition of dependencies. Meanwhile, I'd suggest you to declare it as a normal requirement to make it work. I know it is not ideal but is the best approach right now. Hope that helped to clarify the situation. Thank you!

[2021-05-10 10:29] memsharded commented on #8937
Hi @tb185174

https://github.com/ncr-hw-engineering/aerocommon-conanbase is a private git repo, if I understood correctly. Then it is expected that ``conan config install``, when trying to ``git clone`` will ask for credentials. A couple of quick questions:

- Don't you have the credentials in your git installation? Like git ssh keys or something? That might be the best approach in general for Con

[2021-05-10 10:36] memsharded commented on #8934
Hi @MichaelHCline

No, you are totally right:

- Package promotions from repo to repo is the way to go (we are introducing this concept in https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#repositories)
- We are deprecating the promotion using channels. Packages will be immutable, this has been approved by the Tribe in https://github.com/conan-io/tribe/pull/16/files (see ``The ``conan c

[2021-05-10 11:16] offa commented on #6453
In the meantime there's a workaround using a minimal web server, eg. with python 3:

[code]

##### conandata.yml

[code]

[2021-05-10 12:04] #8857 closed, assigned to nobody

[2021-05-10 12:04] memsharded commented on #8857
Will be released in 1.37, many thanks!

[2021-05-10 12:08] #8803 closed, assigned to SSE4

[2021-05-10 12:22] ericriff commented on #8303
Interesting that Conan 2.0 will drop all generators but CMakeDesps. Is there a reason for that? Maybe a blog entry explaining it?
Also, is there a ETA for Conan 2.0? (So I can prepare our codebase in advance)

[2021-05-10 12:29] memsharded commented on #8930
Hi @blackliner

I didn't fully understood how you implemented your setup, let me describe some of the rationale first:

The intended mechanism for this is the ``build_requires``. Anything that is kind of a binary thing, that runs at build time, in the build machine, for example, ``cmake`` should be a ``build_requires``. Because with this way they can have their own settings, different binaries for

[2021-05-10 12:32] snailcatcher commented on #8723
So as I need this Information and feel like I should provide as much information as possible, I made a small code snippet.
So please help me with the information how to implement or fix this.

[code]

[2021-05-10 12:34] memsharded commented on #8933
Hi @XDinEuro

At the moment, the ``workspace`` feature is still experimental, and a bit put on hold. We are trying at the moment to improve first the ``editable`` experience, by defining more explicitly the project layouts in Conan recipes. This seems to be a big improvement.

Can your problem be formulated purely in "editable" packages terms? In that case, yes, this is some feedback that we would

[2021-05-10 12:35] snailcatcher commented on #8723
Or is there a better way to provide files via a conan package to the sources of my project (where my conanfile.py/txt with my requires live).
I only get it to work with the build folders, but this is not what I need.

[2021-05-10 12:35] memsharded commented on #7764
This is looking very good, lets move it forward as an experimental feature in Conan, as built-in.

[2021-05-10 12:56] memsharded commented on #8303
There is no  ETA for Conan 2.0, it will take some time for sure, not before the end of the year. Discussions happen in the https://conan.io/tribe.html git repo https://github.com/conan-io/tribe

Reasons:
- We need to evolve the generators, to account for new models, like this one (build/host profiles). We can't do this in the previous generators without breaking and this is really blocking capabil

[2021-05-10 13:11] jlemein opened #8940 "[question] Setting editable layout directories for find_package components"
I am introducing conan in the company I work for. One of the things to deal with now is that we occasionally need to work in multiple repositories at the same time (previously done using sub-modules). This is needed to update the library API and at the same time update the repository that consumes the library.

According to the conan documentation, this can be achieved using conan editable package

[2021-05-10 14:11] blackliner commented on #8930
Hi @memsharded

thanks for getting back to me. I already assumed that `python_requires` is something very special, in the sense that it has to run at a very early stage, for all the python language specific things that are happening, like deriving from a class etc.

I am already using `build_requires` for those special binaries (custom recipes for SonarQubes analyzsers), but the magic trick in the

[2021-05-10 14:31] #8885 closed, assigned to SSE4

[2021-05-10 15:15] danimtb commented on #8904
@gouriano good news! The fix for this issue has been assigned for the next release. Thanks again for reporting it.

Regarding the "include/$(Configuration)", it is out of the scope of issue but I believe you can conditionally add the directory depending on the build_type already. If that is not the case, please open a new issue to talk about that in particular. Thank you!

[2021-05-10 15:17] XDinEuro commented on #8933
@memsharded
Thanks for the reply.
Unfortunately I can't expose code here since I am working for a company.
`editable` is used by few of us, when it comes to some multiple packages. At first stage it achieve very good results since all the libraries are linked correctly **without** getting the virtualenv(by running `source activate.sh`, generated by `conan install . -g virtualenv`).

With our softw

[2021-05-10 21:42] SeanSnyders commented on #8303
We are blocked with cross-compilation via NDK package `android-ndk/r22` and using `cmake_find_package` generators for our own and external libraries. These libraries are either pure binary lib packages and/or "toolchain" packages.

Would the `CMakeDeps` generator solve this? Will it solve it without having *all* packages update their CMake projects in some way? It would not help us at all if we ne

[2021-05-10 22:10] memsharded commented on #8303
Hi @SeanSnyders

Yes, that is the idea, CMakeDeps should solve this. No, all projects will not need to migrate, thanks to ``package_info()`` this should be decoupled, and you should only use ``CMakeDeps`` in those projects that are blocked now and you need this new functionality, while the upstream packages can still be built with other generators.

Yes, at the moment CMakeDeps is a bit experiment

[2021-05-11 11:16] memsharded commented on #8930
Hi @blackliner

Oh, I start to understand a bit better: it seems you want to inherit the ``build_requirements()`` method defined in the base class of the ``python_requires``? And the problem is that this is not working, is the ``build_requirements()`` method of the base class being ignored?

Maybe it is better to try to put it as a test. This one passes ok:

[code]

[2021-05-11 11:20] #8904 closed, assigned to danimtb

[2021-05-11 11:21] memsharded commented on #8904
https://github.com/conan-io/conan/pull/8927 merged, this will be in next release 1.37

[2021-05-11 11:29] memsharded commented on #8910
Hi @vdsbenoit

I have realized that this seems a duplicate of https://github.com/conan-io/conan/issues/7719. So I am going to close this issue and please follow progress on the other one (we are working on improving the ``CMakeDeps`` generator for this issue). Thanks!

[2021-05-11 11:29] #8910 closed, assigned to memsharded

[2021-05-11 11:59] memsharded commented on #8881
Hi @KerstinKeller

I have done a test in https://github.com/conan-io/conan/pull/8943/files with a possible approach. As messing with the scm in the conandata.yml doesn't seem a good approach (private data, that can be overwritten by Conan at export time), I have thought that controlling the scm fields could be a good approach:

[code]

That works both when the recipe is in the source repo, without

[2021-05-11 13:31] Macfly opened #8944 "[bug] set(CONAN_EXTRA_OPTIONS "boost:header_only=True") not working with MSVC under Windows 10"
### Environment Details (include every applicable attribute)
  * Operating System+version: Microsoft Windows 10 Pro Version	10.0.19042 Build 19042
  * Compiler+version: MSVC 19.28.29914.0
  * Conan version: 1.36.0
  * Python version: 1.36.0

### Steps to reproduce (Include if Applicable)
use Conan to have Boost and set the Conan extra option boost:header_only=True.
It is failling as MSVC tries to

[2021-05-11 14:25] memsharded commented on #8944
This seems an issue of cmake-conan, not Conan itself, moving to its repo.

[2021-05-11 15:40] memsharded commented on #8860
Hi @PolyPik

Proposing this PR https://github.com/conan-io/conan/pull/8945 for next 1.37, implementing option 3, and also the possibility of completely overriding the CMakeToolchain ``conan_toolchain.cmake`` file. Feedback welcome!

[2021-05-11 15:40] blackliner commented on #8930
Nono, it works now the way I described it in my second post. Initially I was trying to define the methods in the unused Conanfile of the `mypytool` (the one that starts with the line `class Pkg(ConanFile)`). But since that, I moved to define the methods in the python package, which will be either called automatically, or if the user overwrites them in their recipe, via `super().method()`

I think

[2021-05-11 16:17] memsharded commented on #8930
Understood now. Yes, this seems to be the right approach. In the previous implementation of python_requires, it was kind of possible to inherit from the "main" ConanFile of the recipe, but we realized that that produced a lot of confusion and unexpected behaviors. Making it explicit, and moving the base class to extend to something independent to the current python_requires one defining the packag

[2021-05-11 16:17] #8930 closed, assigned to memsharded

[2021-05-12 01:57] SeanSnyders commented on #3228
Are there any improvement on this situation with the profile proliferation?
It seems to be an issue we would very likely run into as well, supporting many target platforms, versions of compilers, and c++ standards.

[2021-05-12 08:01] mpusz opened #8948 "[feature] Use `CMAKE_GENERATOR` to initialize generator in Conan"
One of the issues with a manual `conan install` `cmake` flow is that a CMake generator should be consistent between both tools. New CMakeToolchain generates `conanbuild.json` storing this information for future Conan reference. However, this file is not being used by CMake or by users running CMake configure step from the command line. With CMake 3.15 we got an environment variable support to set

[2021-05-12 08:04] mpusz opened #8949 "[feature] Improving install step in the new CMake helper"
CMake 3.15 introduced a new `cmake --install` command: https://cmake.org/cmake/help/latest/manual/cmake.1.html#install-a-project. It has several benefits over currently used `cmake --build . --target install`:
- does not involve a build tool (i.e. Ninja) so is faster to execute (especially for a header-only library)
- have additional options like `strip` that could also be exposed in the helper in

[2021-05-12 08:50] alex-700 commented on #8919
@memsharded , can I ask you to comment this too?

[2021-05-12 09:45] danimtb commented on #8919
Hi @alex-700,

Thanks for the answer, now I understand better your issue. I believe you could still make the trick using the new cpp_info properties approach, right?

Adding something like this `self.cpp_info.set_property("cmake_file_name", "SystemBoost")` to your `boost/system` recipe should work in the same way.

[2021-05-12 10:13] alex-700 commented on #8919
@danimtb No, it does not. I have already set this property before. There is exhaustive list of `cpp_info` attributes from our `system/boost` recipe.
[code]

In terms of my cited description, `<string1>` and `<string2>` in `conan 1.36` are taken from one place (and so always the same), namely `self.get_filename` from [here](https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/cmakedeps.

[2021-05-12 10:45] at185190 opened #8950 "[bug] Double python_requires"
Recently we updated our pyhton_requires script from 1.0.0.1 to 1.0.0.2, now when building on Azure devops servers, we get
Python requires
    xxx/1.0.0.2@ncraero/stable
    xxx/1.0.0.1@ncraero/stable

Which does not happen if we build locally, only happens locally if we build with dependencies built on azure servers.
We have chain of dependencies so that make sense, but what doesn't is that we can

[2021-05-12 12:07] danimtb commented on #8919
I have created a test using this reduced version or the recipe:

[code]

Running the following commands I see this:

[code]
So it seems to be working as expected only with the `set_property("cmake_file_name", "SystemBoost")`.

--------------------------------

With the additional information of your example I see the same result with this conanfile:

[code]

[code]

[2021-05-12 12:22] alex-700 commented on #8919
In this reproducer we need also the second package (e.g. A) which depends on Boost. And we need to look inside conan-generated  `AConfig.cmake`. The expected behaviour of this `boost/system`: `AConfig.cmake` contains `find_dependency(Boost ...)`. But the actual behaviour: there is `find_dependency(SystemBoost...)`.

[2021-05-12 13:34] at185190 commented on #8950
After clearing local cache on one of our azure build machines, it was no longer requiring double version of our base class.

I've tried to play locally with conan create for base class and see if that's causing the issue, but I was unable to reproduce it. Could this be related to number of revisions in the cache?

[2021-05-12 15:03] danimtb commented on #8919
ok, you are right. That is currently not supported as it is out of the use case for the different cpp_info properties. We need to take this into account for "system" recipes like the one you suggest.

[2021-05-12 15:58] xahon commented on #1557
I can't beat this issue
There is 2 package in my requirements
One of them requires "OpenSSL" and the other "openssl". I add either one or another (also with "override") and conan just prefers to ignore me and tries to download both despite the "override" specifier

[2021-05-12 16:50] danimtb commented on #8950
Hi @at185190,

This might be an issue if using a cache in de Azure server but I can only think about this issue happening in case you are using version ranges (maybe), or maybe it the case of package ID not affected by the minor version change. In the latter, the issue might happen if you have not rebuilt packages depending on python require `xxx/1.0.0.1@ncraero/stable`.

Regarding your questions:

[2021-05-12 22:16] GPages opened #8953 "[question] Env variables, sanitizers and gtest"
Hello,

I tried to follow the available documentation ( https://docs.conan.io/en/latest/howtos/sanitizers.html ) so that  packages ID are affected by sanitizers. In order to test i have a library "myLib" which has a unit test containing an error :

[code]

So i updated settings.yml :

[code]

Then using this profile :
[code]

I tried the following command (i also tried by providing the environment

[2021-05-13 06:55] jgsogo commented on #7680
From ConanCenter perspective (probably other CIs out there): we are running `conan info` to get the packageID in Linux machines for all the configurations, which means that `configure()` is executed in an environment where you cannot access/parse anything from VisualStudio. Everything needed should be input from the profile.

When considering this issue, it is also worth reading (> v16.8) https://

[2021-05-13 10:28] sd185233 commented on #8950
Hi

I work alongside @at185190

In relation to Azure, we use self-hosted runners so it's only us using the cache.  Looks like our version is not semver compliant - is this an issue if we are using a different package ID mode?

I believe conan export performs a subset of conan create - although conan export is enough for python requires, are there any ill consequences using create?  At the moment w

[2021-05-13 10:52] sd185233 commented on #8950
I can see how the package mode would affect this example-

conan copy pkgA/1.0.0.3@xxx/stable pkgA/1.0.0.4@xxx/stable

Then with the default package ID mode, pointing to pkgA/1.0.0.4@xxx/stable would work OK.  If using full_package_mode then resolving these binary packages would fail because the hash was computed with the full version and user/channel.

What other scenarios is this used in?

[2021-05-13 14:36] sd185233 commented on #8950
Ok, after some more testing I can see how the top level package ID is influenced based on which part of the version is updated and if the dependency is direct or indirect, which means a direct dep bin from the cache could get picked up which has been built using expected updated deps.

Not sure it's an issue for us because our build system builds all packages individually upstream to downstream on

[2021-05-13 15:33] xahon opened #8954 "[feature] Search with ability to filter only with existing prebuilt binaries"
It'd be nice to have a convenience flag to search for only packages which have prebuilt binaries for a given profile

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-05-13 16:33] jsanchez19 commented on #8860
@PolyPik  - I ran across this issue while searching for an example on packaging a toolchain file onto a Conan package for re-usability. I'm gathering that this is perhaps not supported in current conan. Coincidentally, I'm looking to do this for the TI c2000 toolchain too. I already have a working `toolchain.cmake` file as well and I was trying to follow the "[cross building](https://docs.conan.io

[2021-05-13 16:54] memsharded commented on #8860
I want to give a heads up, besides https://github.com/conan-io/conan/pull/8945 we are also exploring how build_requires and other packages could transmit configuration information to its dependents.

There is already a proof of concept in https://github.com/conan-io/conan/pull/8895, please track it to see progress.

[2021-05-13 19:31] anagno opened #8955 "[question] How to handle recipes that at the same time package tools during cross compilation"
Hello Everyone,

I was wondering how recipes that also package tools in the form of executables should be handled.
Such examples are:

* Qt (https://github.com/conan-io/conan-center-index/issues/5018, https://github.com/bincrafters/conan-qt/pull/70)
* protobuf (https://github.com/conan-io/conan/issues/8443, https://github.com/conan-io/conan-center-index/pull/4863)
* Limxml2 (https://github.com/con

[2021-05-13 20:59] #8953 closed, assigned to nobody

[2021-05-13 21:27] kad-beekw commented on #4753
I have this issue with the following Conan file:

[code]

This does not install because of the following conflict:

[code]

Adding `openssl/1.1.1j` or `openssl/1.1.1k` to `[build_requires]` and/or `[requires]` does not change the situation for me.

My current workaround is to not use build requirements, but this is not a long-term solution.

[2021-05-13 21:35] memsharded commented on #4753
Hi @kad-beekw

When you do install, make sure to use both ``--profile:host myprofilehost --profile:build myprofilebuild``.
That will allow to coexist 2 openssl, one in the build context, dependency of cmake, and the other in the host context, dependency of qt.

This will be the mode of operation in Conan 2.0.

[2021-05-13 22:02] ezechieldef commented on #4925
Hi, I have the same issue, please can you help me to install it ?

[2021-05-13 22:57] memsharded commented on #8954
Hi @xahon

I am afraid this is not possible. To search packages based on matching settings and options, all the conaninfo.txt files from all the packages that match for all the binary configurations existing in the server should be loaded in the server, filtered and returned. This is very expensive operation.

That, doesn't taking into account that for real profile matching recipes must be evaluat

[2021-05-14 02:45] jakefhyde commented on #8748
I agree that it's not an issue for now, but I am curious as to what can be done configuration wise for package consumer. For example, I'm building a few packages from source and have created `conanfile.py` files for them (hoping to get them into the conan-center), one of them being `tmux`. I'm currently using a method that manually requires me to put each package in my path at once (so I can have

[2021-05-14 03:33] xahon commented on #8848
I think this workflow switching should be considered in conan 2.0
I have to think about how I do that in a cross-platform way to have my both systems easily switch between personal and work workflows

[2021-05-14 03:35] xahon commented on #8913
@lasote
Ok, NTFS case-sensitivity is a useless feature from Microsoft due to the first statement you wrote
I will wait for conan 2.0 with architectural fix about this

[2021-05-14 03:35] #8913 closed, assigned to lasote

[2021-05-14 06:29] DamDsj commented on #4196
Hello,
Thank you for all the job done. Is there any update concerning password storage on conan.

Gitlab has provided for some time the possibility to push conan packages. For authentication, you can generate [access token](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html). The value is only accessible when you create it.

When using pip, everything goes smoothly as it is stored

[2021-05-14 06:41] nejch commented on #4196
In python-gitlab, a recent PR added a very naive helper mechanism that simply expects a credential helper (can be anything that prints out tokens to stdout - keyring, pass, vault, bitwarden, etc). This behaves a bit more like git and docker credential helpers.

https://github.com/python-gitlab/python-gitlab/pull/1359/files

Just thought I'd add this here if it's any use - this would require no add

[2021-05-14 10:58] xakod opened #8957 "[bug] couldnt build missing zlib/1.2.11 for x86"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 7
  * Compiler+version: msvc v16.9.4
  * Conan version: conan-1.36.0
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
You need to run this command from cmd or git bash
Only one step - conan install zlib/1.2.11@ -s arch=x86 --build=missing

### Logs (Executed commands with outpu

[2021-05-14 11:16] czoido commented on #8957
Hi,
This is a duplicate from this one: https://github.com/conan-io/conan-center-index/issues/1966
Looks like the recipe is outdated, please review the recipe and update it to the newest version.

[2021-05-14 11:32] czoido commented on #8957
As this is a duplicate I'm closing the issue, please feel free to reopen if you can't solve the issue.

[2021-05-14 11:32] #8957 closed, assigned to nobody

[2021-05-14 15:52] #8505 closed, assigned to memsharded

[2021-05-14 15:55] memsharded commented on #8505
Hi @c0rt

Very happy to hear that the issue improved migrating to PostgreSQL!  We will report on the JIRA ticket as well.

Thanks for following up and reporting :)

[2021-05-14 22:21] #8894 closed, assigned to memsharded

[2021-05-14 22:21] memsharded commented on #8894
https://github.com/conan-io/conan/pull/8900 was merged, this will be released in 1.37

[2021-05-15 21:13] divad1196 opened #8962 "[feature] Project Root folder as default"
This opinion is based on my usage of other tools.
I have been searching multiple times and for many hours if those features exists, are planned or exists on issues.
I am sorry if it's already a duplicate.

There are a lot a file created by and for conan. Wouldn't it be better to bundle them in a `conan` folder?

Most commands need to know the path to a file, so i specify my project's root folder.

[2021-05-16 17:57] leonschenk opened #8964 "[bug] Meson cross-file is not looked up in the conan install-folder"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Ubuntu 20.04.2 LTS
  * Compiler+version: x86_64-w64-mingw32 9.3
  * Conan version: 1.36.0
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
  - create a profile for cross compilation Linux to Windows (as from the documentation)
  - create a cross-compiled meson project (generato

[2021-05-17 08:26] KerstinKeller commented on #8948
This feature could enable a nice workflow for the user. Internally (at our company - I am not part of the Conan team),  I played around with generating a `CMakePresets.json` file to set the CMake generator, but with activation scripts that we are already using it could play together nicely.
I see it also supports, `CMAKE_GENERATOR_PLATFORM` and `CMAKE_GENERATOR_TOOLSET`...

[2021-05-17 08:47] KerstinKeller commented on #8837
After some discussion it seems evident, that the behavior proposed above is not (and will not be) supported by Conan.
After seeing that there are, on CCI, some packages just use a `system` for a version number, maybe the following could also be feasible, e.g. to append the `-system` as a build tag after the version number.

[code]

The Lib could then require
[code]

And consumer could say:
[code]

[2021-05-17 09:11] Doome161 opened #8966 "[bug] Alias resolution bug when mixing fix-version and alias"
[conan_mix_fix_versions_with_alias.zip](https://github.com/conan-io/conan/files/6492511/conan_mix_fix_versions_with_alias.zip)

The bug occurs when using fixed versions and aliases in a dependency tree. The order of the requirements in the conanfiles plays a decisive role. If, for example, the requires are swapped in component CD, everything runs through successfully. It seems that this issue is r

[2021-05-17 12:44] KerstinKeller commented on #8881
Hi @memsharded, sorry for the late reply.
While I think this works locally, what happens if this recipe is uploaded to the server, and then a user tries to build for their platform with  `--build missing`? Or are environments recorded at export time?

I feel, as soon as the recipe is in the cache, it should not rely on env variables at all?

[2021-05-17 13:45] domfellner opened #8967 "[question] Path of generated artifacts"
Hi all,
a rather basic question:

I have a simple conanfile.py with the cmake_find_package_multi generator like in the examples repo: features\cmake\find_package\find_cmake_multi_generator_targets\bye\conanfile.py

Depending on my used build system, single configuration build systems (make, ninja) will create the library/executable in the root of the build folder, but multi config build systems li