[2022-05-04 13:47] MiSo1289 commented on #11167
@memsharded Also, passing `--preset Debug` to CMake does not work when using a separate build directory, because CMake expects the preset file to be found in the source directory; any workarounds?

[2022-05-04 13:59] memsharded commented on #11167
Latest Conan can generate a ``CMakeUserPresets.json`` in the CMakeLists.txt directory if not existing, that can be used, and an ``include()`` to the Conan presets can be done there if already existing. Otherwise, it is necessary to copy the ``<generators_folder>/CMakePresets.json`` to the source folder, because CMake for some reason won't allow specifying another location for the presets file (may

[2022-05-04 14:03] MiSo1289 commented on #11167
@memsharded Ok, thanks very much for info.

[2022-05-04 14:03] #11167 closed, assigned to memsharded

[2022-05-04 14:03] memsharded opened #11168 "Warn for CMakeDeps without ``-DCMAKE_BUILD_TYPE`` as it doesn't found headers"
It results that not passing ``-DCMAKE_BUILD_TYPE=Release`` to CMake command line invocation, in single-config envs like Linux while using ``CMakeDeps`` results in headers not found, because it relies on generators expressions based on the build_type, which is not defined (it is not that it is Release or Debug by default).

So adding a warning for it (it doesn't seem easy to avoid this, except re-w

[2022-05-04 14:04] memsharded commented on #11167
Creating #11168 to follow up on a possible warning to avoid this

[2022-05-04 14:07] SpaceIm commented on #11165
Oh, interesting, I've missed this feature. Thanks. Closing this issue.

[2022-05-04 14:07] #11165 closed, assigned to memsharded

[2022-05-04 14:36] rakeshnarayanaswamy commented on #11160
Hi sir,
the below is the content of lock file created in my case, pkg5 is under build_requires of pkg1 which supposed to be rebuilt but its prev attribute is set (I dont understand it because the pkg5 sources are modified)
interestingly same pkg, pkg5 is also repeated two times in the lock file under both( 5 & 6) (shouldn't it be under one number say 5 even if it is being consumed by both pkg1 and

[2022-05-04 15:02] memsharded commented on #11160
The key is here:
[code]
These packages have defined the ``prev: 0``, they define their package-revision. That means that when you computed the graph, you didn't specify something like ``--build=pkg5``, and it is using pre-compiled binaries (it is locking the binary with package revision = 0). You need to say that you want to build those packages too when you capture the lockfile.

[2022-05-04 15:08] memsharded commented on #11161
Closed by https://github.com/conan-io/conan/pull/11170

[2022-05-04 15:08] #11161 closed, assigned to memsharded

[2022-05-04 15:45] rakeshnarayanaswamy commented on #11160
Hi Sir,
I got the reason , actually pkg5 is packaging some files like (.js etc ) so potentially this package is not building any source files , no build method in the pkg5 recipe so we set build_policy to "never" , probably thats the reason even after mentioning this pkg5 in --build , this was appearing with prev .. after removing line build_policy = never , the issue is solved.

However there is

[2022-05-04 15:55] memsharded commented on #11160
I am not sure about that, can you provide the link with those sentences?
Because ``build_policy = "never"`` is intended exactly for ``export-pkg``, and yes, that means that if you define it, this package will not participate in any "build", or in any "build-order", because this package, basically cannot be built.

Does this make sense?

[2022-05-04 15:58] stefansli opened #11171 "[bug] Wrong context applied to build_requires when using lockfiles"
The `bison` package has a `build_requires` dependency on `flex`. When trying to use lockfiles to build the required packages in the correct order I get mismatch between package-id and locked package-id (see log below).

As you can see from the lockfile, the `flex` package is marked to be in the `build` context (x86_64). But when trying to build the dependency using this lockfile, for some reason t

[2022-05-04 16:03] rakeshnarayanaswamy commented on #11160
hi Sir,

https://docs.conan.io/en/latest/mastering/policies.html the link explains about build_policies  and says for packages exporting some files build_policy will be never...
but then with this property , conan should also have allowed the user to pass such package to conan lock create  command ..
may be not to --build but some thing like --export-pkg (my proposal)

does it makes sense?

[2022-05-04 16:32] memsharded commented on #11160
That is not the intent of the ``build-order`` command, which is intended for CI, and re-building and integrating changes from developers to recipes and code. As the ``export-pkg`` packages cannot be integrated in the same flow (basically running ``conan install <pkg-ref> --build=<pkg-ref>``, that works for packages building from source with the ``build()`` method), then those packages are created

[2022-05-04 16:44] memsharded commented on #11171
Hi @vectorsli

please try to add the ``--build-require`` to the ``conan install`` command, that is necessary to define that such package is in the build context while installing, it could also be in the host context.

Note, however, that it might fail with error: ``ERROR: Cannot build 'flex/2.6.4#e4696e6333f2d486e7073de6a9559712' because it is already locked in the input lockfile```, as the binary

[2022-05-04 17:29] stefansli commented on #11171
@memsharded
Thanks for the quick answer. I'm building a simple build orchestration and I was trying to keep it as simple as possible, following the guide for lockfiles and lockfile bundles (we try to use bundles for the build-order).

If I understand this correctly, after determining the lockfile I'll use to build the package I have to also check the context and then apply the correct flag? If the

[2022-05-04 17:34] #11146 closed, assigned to memsharded

[2022-05-04 17:38] SpaceIm commented on #11149
@Makogan

`PkgConfigDeps` can't do its job if you have this in `conanfile.py` of `NeverEngine`:

[code]

You have to properly fill `package_info()`

[2022-05-04 17:39] maikelvdh commented on #11155
I do think the similar feedback as pointed out for lockfile should be taken into account here. Summarised:
* Having default name for the creation, but also have ability for consuming commands (install, create, etc) to pickup this default name if present in current working directory.
* Having a `--profile-out` without the need of extra command

[2022-05-04 18:36] memsharded commented on #11171
But that information is returned by the ``build-order``, isn't it? It is not something that you need to guess.

This is weird. I didn't report it, but on my side, when I am reproducing, I am actually getting 2 instances of m4 in the graph:

[code]

I am trying to think what could be the difference in your case, but I am struggling to find a reason...

[2022-05-04 18:47] jt416 opened #11172 "[bug] cmake presets uses different instance variable names for folders than cmake layout"
conan 1.48

Presets uses `conanfile.source_folder` while layout uses `conanfile.folders.source`.

No CMakeUserPresets.json is generated as a result.

[2022-05-04 19:03] SpaceIm commented on #11167
@codehavik had 2 issues, and the second one is indeed related to this issue, and it comes from conan 1.48.0. Targets generated by CMakeDeps or cmake_find_package* don't propagate their properties when CMAKE_BUILD_TYPE of consumer project doesn't match the one of the dependencies.

[2022-05-04 19:12] ghost commented on #11167
@SpaceIm But could you please suggest which generator should I use if I just want to use conan for providing dependencies on my workstation? The cmake build system shall manage the rest: generating the solution, setting up the compiler, etc... I am really confused now :( As far as I understand, CMakeDeps is the best for such scenario or cmake_find_package

[2022-05-04 19:16] SpaceIm commented on #11167
Just set `CMAKE_BUILD_TYPE` properly during CMake configuration.

[2022-05-04 20:56] naggerx opened #11173 "[feature] Share credentials between remotes"
We have over 10 different conan-remotes on one artifactory instance. All the remotes are using the same user/password.
But I have to type over 10 times the very same password for every single remote.
(I dont know why, but I must about every two weeks retype my password - for every remote)

It would be nice if different remotes could share the same credentials.

Like:
[code]

- [x] I've read the [C

[2022-05-04 21:56] jjcmru opened #11174 "[question] Is there a way to invoke the deploy() method traversing the package dependencies?"
I like the **deploy**() method, which serves as the self-contained way to deploy a custom set of files of a Conan package.  However, in order to invoke the method to deploy files of each of the dependencies, I, as far as I know, have to call the _conan install_ command for every dependency separately. I wonder whether there is a simpler way to invoke the **deploy**() method of each of its dependen

[2022-05-04 22:53] memsharded commented on #11173
Hi @naggerx

The thing is that Conan does not (and probably will not ever) store an Artifactory password. Internally, it uses tokens (JWT), to repeateadly auth against the different remotes. The fact that it is the same user/password doesn't imply that the tokens will be the same, and the level of permissions such tokens can have for different repos can also be varying.

So I don't think this is d

[2022-05-04 23:00] memsharded commented on #11172
Hi @jt416

I have just done a quick try with ``conan new hello/0.1 -m=cmake_lib`` & ``mkdir build & cd build`` & ``conan install ..`` (with latest Conan), and I can see the ``CMakeUserPresets.json`` generated there.

The current logic is:
[code]
So maybe it is not generated because there is no ``CMakeLists.txt`` there?
The ``conanfile.source_folder`` is actually computed from ``conanfile.folders.s

[2022-05-04 23:05] memsharded commented on #11174
Hi @jjcmru

No, there is no general way to run the ``deploy()`` method of every recipe in the dependency graph.

Actually, I would like to comment that we have learned that the ``deploy()`` method was not enough for many cases, and we have decided to go another route in Conan 2.0, I can briefly summarize here for some awareness of the close future:
- ``deploy()`` method dissapears
- ``deployers``

[2022-05-05 03:49] Kidsunbo opened #11175 "[question] How to work in Debug mode with CMakeDeps and CMakeToolchain"
Hi, I have a header-only library with `cmake` generator and it works fine. I've migrated it to `CMakeDeps` and `CMakeToolchain`. When consuming this library, it works in Conan 1.47. But I found that the output binary is compiled in Release mode. I think it's due to the `CMAKE_BUILD_TYPE` is set to `Release` in the `conan_toolchain.cmake`.

So first question: Why is the `CMAKE_BUILD_TYPE` still set

[2022-05-05 04:48] rakeshnarayanaswamy commented on #11160
Hi Sir,

Thanks for your explanation , I agree with your argument except for  "why would you want to do a new export-pkg if you are guaranteed to obtain exactly the same result ?"
The answer is , if we add new files to the source folder(say new .js file) or modify the recipe then we need to re export-pkg .

But for now I will remove build_policy attribute so that build-order will show it in the .j

[2022-05-05 06:21] Makogan commented on #1422
@memsharded Could you please explain how to use the generate() method? I don't see it on the 1.48 documentation. I use imports to gather the imgui backends from the res folder of the package your comment seems to suggest this is not the way to go about it moving forward.

[2022-05-05 06:24] franramirez688 opened #11176 "[feature][settings] Improve Settings and `None` values"
`Settings` is not managing properly the `None` values. A clear example of that is:

[code]
It shouldn't be needed to make that, or, at least, that `"None"` value should be `None` instead.

Related to: https://github.com/conan-io/conan/pull/11169

[2022-05-05 06:35] franramirez688 commented on #1422
@Makogan
You can find out more information [in this section](https://docs.conan.io/en/latest/reference/conanfile/methods.html#generate) but I also recommend you to have a look at the [Migration Guide to 2.0](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-generate-method). We're improving this last one because there are a lot of tips to understand all the differences between both

[2022-05-05 06:50] Makogan commented on #11149
@SpaceIm That was indeed the problem, the other PC file that did not match conans format, i.e. the one in  `~/.conan/data/NeverEngine/0.0.1/_/_/package/ba28bf1330061b5fa92951ba5e3a83282bf5ed78/lib/pkgconfig/NeverEngine.pc`

Seems to have been generated by meson when calling:

[code]

Which makes me wonder, why is that step necessary (it shows up in the documentation examples). If conan is not goin

[2022-05-05 06:50] #11149 closed, assigned to franramirez688

[2022-05-05 08:16] memsharded commented on #11175
Hi @Kidsunbo

I think there is a mistake there in ``-pr:b=debug_profile``

You are applying the build profile only to the "build" context. You need to specify it to the ``-pr:h=debug_profile`` to the "host" context, if you want your libraries and executables to be in "debug", otherwise you are telling only your "tool_requires", like ``cmake``, to use debug binaries, which is likely something that

[2022-05-05 08:23] Lyvsain commented on #11044
@memsharded thinking about it; it does make sense !

I still have some issues with other packages but i'll open then in conan-cener-index :)

Thanks !

[2022-05-05 08:23] #11044 closed, assigned to memsharded

[2022-05-05 08:51] Kidsunbo commented on #11175
In `cmake` generator, is there any limitation like this? I remember I was able to link Release library to my debug binary with `cmake` generator.

I use `conan install .. -pr:b=debug_profile -pr:h=debug_profile` and it works this time. Thank you.

There seems no warning for missing `-pr:h` in cli. Do I need to use `conan install` with `-pr:b` and `-pr:h` everytime if I switch between `Debug` and `

[2022-05-05 08:54] SSE4 commented on #10955
it's again getting lost in the sands of time.
here I am collecting some links to the previous discussions we had in conan about clang-cl:

issues

- https://github.com/conan-io/conan/issues/1839 - a very first issue from 2017
- https://github.com/conan-io/conan/issues/2285
- https://github.com/conan-io/conan/issues/5896
- https://github.com/conan-io/conan/issues/6927
- https://github.com/conan-io/

[2022-05-05 09:05] memsharded commented on #11175
``cmake`` generator is always single-config, which is limited for many users like Windows and Xcode that are multi-config, this is one of the reasons it has been deprecated. Also the fact that it is intrusive.

It is necessary in 1.X, in Conan 2.0 the build profile will be used by default (pointing to the ``default`` profile).

You might try adding to your ``global.conf`` the following too:
[code]

[2022-05-05 10:14] ZbigniewRA opened #11177 "[bug] CONAN_CMAKE_PROGRAM is ignored by conan.tools.cmake.CMake"
`CONAN_CMAKE_PROGRAM` environment variable is ignored by `conan.tools.cmake.CMake`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Any (tested on Ubuntu 18.04)
  * Compiler+version: Any
  * Conan version: 1.48.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
Set `CONAN_CMAKE_PROGRAM` variable. Observe that it is ignored in `cona

[2022-05-05 10:38] Kidsunbo commented on #11175
OK, thanks for your reply. It's pretty clear, and I have no question now. thank you very much.

[2022-05-05 10:38] #11175 closed, assigned to memsharded

[2022-05-05 11:01] franramirez688 commented on #11177
Hi @ZbigniewRA

Yes, you're right. New `conan.tools.cmake.CMake` is not using it anymore, and it doesn't even exist in Conan 2.0. I'd try to propose something else to be able to configure this variable.

[2022-05-05 13:44] #11160 closed, assigned to nobody

[2022-05-05 14:47] jjcmru commented on #11174
@memsharded
Thanks a lot for your explanation. I like what way Conan 2.0 is going.
Do you know where I can find the Conan programming API document? For example, when I implement conanfile.py, I want to know what is available from the "self" object in Conan space and other environment variables made available by Conan.
Thanks!

[2022-05-05 14:47] #11174 closed, assigned to memsharded

[2022-05-05 15:12] mattyclarkson opened #11179 "[question] how to specify `requires`/`tool_requires` for same dependency."
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

How does one add a requirement for both build and runtime?

I would like to build `autoconf` so have the following:

[code]

As `perl`/`m4` is needed for both building _and_ runtime of `autoconf`. However, doing `conan info $PWD/package/autoconf` results in the following:

[code]

Thi

[2022-05-05 15:22] mattyclarkson commented on #11179
Thinking about this more. It actually doesn't make sense to have it as `requires`: it's a tool with a dependency on another tool.

Hence, I would expect this:

[code]

That doesn't work though:

[code]

[2022-05-05 15:30] dfleury2 opened #11180 "[feature] Add self.editable_mode"
Hi,
when using Conan with new CMakeToolchain, and with some dependencies on editable mode, the consumer project will launch the `generate` method for the dependencies into their directories.
The "legacy" generator like virtualrunenv will generate their files at the root of the editable project.

Can we have a way to detect the editable mode in `def generate` method so we can disable it completely

[2022-05-05 15:45] memsharded commented on #11180
Hi @dfleury2

Adding such attribute seems an antipattern. In theory things should work the same in editable or in the cache.
Probably the main issue is that ``virtualrunenv`` is a legacy generator, but ``VirtualRunEnv`` files, which is the new approach, and the one that supersedes the former, will put the files in the ``generators`` folder of the editable package, not polluting the root?

[2022-05-05 15:49] memsharded commented on #11179
Hi @mattyclarkson

Because ``tool_requires()`` must be inside ``build_requirements()`` method, please try that and let me know.

[2022-05-05 15:50] memsharded commented on #11174
Yes, @jjcmru the docs that you need to check is the "reference" section here: https://docs.conan.io/en/latest/reference/conanfile.html

[2022-05-05 16:05] jt416 commented on #11172
I’ll compare the generated recipe to my recipe.

On Wed, May 4, 2022 at 7:00 PM James ***@***.***> wrote:

--
https://twitter.com/jt416

[2022-05-05 16:09] Kidsunbo commented on #11142
Hi @memsharded
I found that with Conan 1.48, cmake tools for VSCode works perfectly even though it still doesn't work with Conan 1.47. But it's enough that it works with newer version. Thanks.

[2022-05-05 16:09] #11142 closed, assigned to memsharded

[2022-05-05 16:33] puetzk opened #11181 "[question] Why does `conan search --revisions <ref>` require access to the remote?"
I can do `conan search --revisions` and it appears (as expected) to be an offline operation just listing the contents of the cache

and even `conan search --revisions <pattern>` works, e.g. `conan search --revisions zlib`

But if I make it a fully-qualified ref e.g. `conan search --revisions zlib/1.2.12@` it seems to want to connect to the associated remote (which, in this case, requires me to be

[2022-05-05 18:13] mattyclarkson commented on #11179
If I just put them in `build_requirements` the _build_ of `autoconf` works but when I go to _use_ `autoreconf` downstream it doesn't work because the `perl` interpreter isn't available.

The dependency doesn't propagate the `perl` tool dependency.

[2022-05-05 20:41] Paultergeist commented on #9390
Reproducible in 1.48.0.

[2022-05-05 21:36] memsharded commented on #11179
Hi @mattyclarkson

I think the issue is that I don't fully know all the necessary requirements and how those dependencies require each other.
Have you had a look to the recipes in ``conan-center-index``? There you can see for example, that it is possible to depend both as ``requires`` and ``build_requires``:

[code]
When using the 2 profiles approach, that will mean 2 different packages in the dep

[2022-05-05 21:39] memsharded commented on #9390
Yes, ``deps_cpp_info`` is also deprecated, and the new generators and build system integrations no longer use ``deps_cpp_info`` nor ``deps_env_info``, but they use the new ``self.dependencies`` access: https://docs.conan.io/en/latest/reference/conanfile/dependencies.html

When using the 2 profiles, ``deps_cpp_info`` will no longer contain information from the build context.

[2022-05-05 21:41] memsharded commented on #11142
Yes, these integrations are relatively stable now, but still experimental, it is expected that they keep improving from release to release, fixing bugs, etc., but might not get backports patches to older releases, because that experimental status.

[2022-05-06 08:19] #11124 closed, assigned to czoido

[2022-05-06 09:14] hlewin opened #11185 "[bug] conan_server authorization oddity"
I noticed a quite unexpected and potentially dangerous oddity with the way `conan_server` handles authorization.

When a package without user and channel is uploaded like "MyPackage/1.0@" the reference gets stored with user=None.
What is odd is that `conan_server` does not check any permission-rules when the user requesting data equals the user of the ref.
This means that even if the permission ru

[2022-05-06 09:26] memsharded commented on #11164
Closed by https://github.com/conan-io/conan/pull/11183

[2022-05-06 09:26] #11164 closed, assigned to nobody

[2022-05-06 09:28] franramirez688 commented on #11162
Closed by https://github.com/conan-io/conan/pull/11169

[2022-05-06 09:28] #11162 closed, assigned to franramirez688

[2022-05-06 09:31] SpaceIm commented on #10387
Here is a discussion on Slack related to packaging of VTK, and highlighting how `CMAKE_FIND_PACKAGE_PREFER_CONFIG ON` can break a build: https://cpplang.slack.com/archives/C41CWV9HA/p1651818019947719

[2022-05-06 10:00] memsharded opened #11186 "[feature][develop2] Migration strategy for generated files"
- settings.yml
- compatibility.py & compatibility files
- other possible extensions

I'd suggest something trivial, like adding a comment line at the beginning of the file ``#This is a Conan generated file``, and using that mark as a green light to replace the content when newer Conan versions are released that would update such files.

[2022-05-06 10:14] memsharded commented on #6157
Closed by https://github.com/conan-io/conan/pull/11095

Conan 2.0 implements a default ``compatibility.py`` fallback for cppstd

[2022-05-06 10:15] memsharded commented on #10921
Closed by https://github.com/conan-io/conan/pull/11095

[2022-05-06 10:15] #10921 closed, assigned to lasote

[2022-05-06 10:57] SpaceIm commented on #11167
@memsharded Do we also have to enforce `CMAKE_BUILD_TYPE` when CMake is called with `CMakeToolchain` + `CMake` helper? In source code, `CMake` helper comments claim that only `--config Release` is passed for multi-config generators, but what about single-config generators?

[2022-05-06 11:38] pdigiglio opened #11187 "ERROR: Loop detected in context host: 'nvidia_cg/3.1.0013' requires 'nvidia_cg/3.1.0013' which is an ancestor too"
I'm making a conan package for NVIDIA's [CG](https://developer.nvidia.com/cg-toolkit-download) precompiled binaries by following the steps in [this page](https://docs.conan.io/en/latest/creating_packages/existing_binaries.html#packaging-pre-built-binaries) of the Conan documentation.

**Note:** I'm posting this issue as a question because I'm not sure it's a bug.

- [X] I've read the [CONTRIBUTING

[2022-05-06 13:09] memsharded commented on #11176
Closed by https://github.com/conan-io/conan/pull/11182

[2022-05-06 13:09] #11176 closed, assigned to memsharded

[2022-05-06 13:14] memsharded commented on #11167
In single-config generators, ``CMake`` is passing ``-DCMAKE_BUILD_TYPE``, extracted from the ``CMakePresets.json`` file. It is more idiomatic than having it defined in the toolchain.cmake file.

[2022-05-06 15:39] memsharded commented on #11129
Closed by https://github.com/conan-io/conan/pull/11184

[2022-05-06 15:39] #11129 closed, assigned to nobody

[2022-05-06 16:17] mpusz opened #11189 "[feature] Multiple parallel profiles support in `cmake_layout()`"
Until now I used a simple workflow for each of the compilers using `Ninja Multi-Config` as the default CMake generator:

[code]

I also set the following in VSCode which makes it work like a charm (with just 3 first steps from the above):

- `cmake.buildDirectory` to `${workspaceFolder}/build/${buildKitVendor}-${buildKitVersionMajor}`
- `cmake.configureArgs` to `--toolchain conan_toolchain.cmake`

[2022-05-06 17:08] dfleury2 commented on #11180
Hi @memsharded , yes the issue is probably due to this legacy status.
I have made some experimentations using VirtualRunEnv, so effectively, the files are not generated in the root of the editable project anymore. Great.
Unfortunately, I have seen some issues.
The file names have been changed to something else, so I will need to tweek my CI/CD to move the others projects without breaking everythin

[2022-05-07 07:12] paulocoutinhox opened #11191 "[bug] Problem when build with Bitcode enabled"
### Environment Details (include every applicable attribute)
  * Operating System+version: macos mont
  * Compiler+version: clang 13
  * Conan version: 1.48
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

1. Build:
`conan install openssl/1.1.1k@ -c:h tools.apple:enable_bitcode=True  -pr:h conan/profiles/nativium_ios_profile --build`

2. Check:
`otool -l apps/app_rand.o | g

[2022-05-07 07:55] Tumb1eweed opened #11192 "[question] What step can we use parellel"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

For example, in package step, I want to copy multiple sources to destination, can I use some methods to speed up the package step? As well as source step.

[2022-05-07 15:46] SpaceIm opened #11193 "[question] Is it possible in conan v2 to encode in a recipe that version of a specific tool_requires can be overridden?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When a library has a requirement like `protobuf` and uses `protoc` executable at build time to generate source code from `.proto` files, `protobuf` version in `requires` and `tool_requires` must be the same, and if version is overridden by downstream (even patch version), this recipe

[2022-05-07 16:06] SpaceIm commented on #11193
It seems quite similar than https://github.com/conan-io/conan/issues/11010 (but it's not exactly the same problem, it's closer to https://github.com/conan-io/conan/issues/11010#issuecomment-1108859548)

[2022-05-07 21:50] memsharded commented on #11193
Please see the test in https://github.com/conan-io/conan/pull/11194. In summary:

Conan 2.0 allows overriding of upstream tool_requires, for that to happen:
- The package using that tool_require should declare it as ``visible=True``, so the downstream has visibility over them
- The downstream consumer can do a ``self.requires(..., override=True, build=True, headers=False, libs=False)`` (this UX co

[2022-05-07 21:58] memsharded commented on #11191
Hi @paulocoutinhox

This is expected, if you are using ``openssl/1.1.1k@`` recipe from ConanCenter, those recipes have not still updated to use the new Conan 1.48, neither to use the new build system integrations, which are the ones that implement the logic for those ``conf`` flags  like ``tools.apple:enable_bitcode=True``.

So this doesn't seem a Conan issue, I think we can close it and we should

[2022-05-07 22:02] memsharded commented on #11192
Hi @Tumb1eweed

There is nothing built-in in Conan to speed up these steps. But those are python methods, you can do very much anything that you would like to do, like running something with ``self.run("your fast copy command")``, or maybe launching threads.
But in general I think it would not be worth the effort, those steps might not be very fast, but they are done from time to time, mostly in C

[2022-05-08 10:54] scandyna commented on #9962
In some tests, conan create is invoked, and it logs the correct settings to the console:
[code]
Then CMake is invoked:
[code]
This seems somewhat surprising.

It could be very nice if ``CMAKE_CXX_COMPILER`` could be set to the compiler executable name, based on the settings.
For the above example, the result would be ``clang++-6.0`` .

In the [Professional CMake](https://crascit.com/professional-c

[2022-05-08 15:15] boussaffawalid opened #11196 "[bug] compatible_packages does not work when used with full_package_mode"
Using the conanfile below, I'm trying to make Debug package compatible with Release.

[code]

[code]

and it works as expected!

I got this in the output,
[code]

---
Now I tried to enable `full_package_mode` in combination with `compatible_packages` , using the following `package_id` method.

[code]
Now it fails with this error:
[code]

doing some debugging, I figure out that this issue only happ

[2022-05-08 18:47] memsharded commented on #11196
Hi @boussaffawalid

I can't reproduce this here. Tried this unit test and it is working fine:

[code]

Can you please check it? Thanks!

[2022-05-08 20:30] boussaffawalid commented on #11196
@memsharded I tried the test you provided and it passes.
Could you try the example I provided above ? `openssl/3.0.2` is the one from [https://conan.io/center/](https://conan.io/center/)

[2022-05-08 20:58] memsharded commented on #11196
Yes, works fine with ``openssl/3.0.2`` too.

[2022-05-08 21:30] boussaffawalid commented on #11196
@memsharded I tired on two different machines,  macos and windows 10 and I got the same error.
I will try again on a fresh installed ubuntu machine.

[2022-05-08 22:04] boussaffawalid commented on #11196
@memsharded I created a new ubuntu virtual machine, with freshly installed conan.
Still not working, here are the results:

[![asciicast](https://asciinema.org/a/mzWYRoNfgyK32rfHUmnBPTcN6.svg)](https://asciinema.org/a/mzWYRoNfgyK32rfHUmnBPTcN6)

[2022-05-08 22:35] memsharded commented on #11189
This works (assuming CMake 3.23, and I am using Windows VS, but the case is identical for other compilers):

[code]

I would say the user experience is fantastic so far, you can easily test for multiple compilers and configurations.
Recall that the extra ``-if=xxx`` will not be necessary anymore in 2.0.

Regarding your comments:
- ``CMakeUserPresets.json will not land in the correct place to be fo

[2022-05-08 23:02] memsharded commented on #11196
Oh, now I see what you mean, I have been able to reproduce.
This is the test:

[code]

This is expected behavior. The fact that you are falling back debug->release in the ``demo`` package doesn't mean that the ``package_id`` for ``openssl`` won't be changing when you change configuration. If the ``openssl`` ``package_id`` changes, and you are factoring it the full reference, include the package_id

[2022-05-09 06:43] paulharris commented on #10023
+1
Would like to see this implemented.
Perhaps also extend "conan install" to add a "conan install --info" to call "conan info" instead.
I use "conan info" to diagnose requirement override issues, incorrect package revision choices and package conflicts.
Note that you can't diagnose those problems from an install-folder, as the conan-install will fail before the folder is populated.

[2022-05-09 07:08] #11192 closed, assigned to nobody

[2022-05-09 08:46] mpusz commented on #11189
Recap: My goal is to generate all the files for all the configurations once with Conan and after that open the project in the IDE and use this IDE to switch between different configurations and build all of the targets.

Yes, my fault.

Well, this is not that easy. It is not only a matter of replacing or stacking all the includes in the `CMakeUserPresets.json` but also changing the names of preset

[2022-05-09 09:31] czoido opened #11198 "[develop2] Implement a json formatter for conan commands"
It would be useful in ci to get certain information for commands like `export`, `create`... with a json output that provides information like: created recipe revision, package id, package revision...

Let's begin with `conan export` that should be straightforward, then consider adding for other commands.

TODO:

- [X] conan export .. --format json
- [x] conan create .. --format json
- [x] conan in

[2022-05-09 10:28] KerstinKeller commented on #11155
If all conan commands would automatically produce an output profile (and consume it, too) in the `cwd`, it would effectively function like a cache.
It would promote "out of source builds" (e.g. don't `conan install` in your source folder, one build / install folder per profile) which is good practice anyways.

And the best thing about it, that it would allow to create generators with a CMake like

[2022-05-09 10:44] lasote commented on #11189
👍🏼

Well, we cannot couple a `--preset` (CMake stuff) to a generic `conan install` but I get the idea.
We would need to change:

1) The 'build folder' must be different
2) The 'Preset names' must be "unique" and point to the right 'build folder'
3) Ideally, the `CMakeUserPresets.json` should aggregate all the different files that come from ``conan install`` commands.

We will do a POC with a `conf

[2022-05-09 11:05] mpusz commented on #11189
Thanks @lasote!v The parameter I proposed does not have to be named `preset`. I actually thought that maybe having a user-provided name for a specific configuration could be useful in other places as well?

[2022-05-09 12:12] #11107 closed, assigned to memsharded

[2022-05-09 12:13] boussaffawalid commented on #11196
@memsharded now it works! thanks! However, I'm still wondering how to achieve this when creating packages using [conan-package-tools](https://github.com/conan-io/conan-package-tools). Is that even possible ?

[2022-05-09 12:20] memsharded commented on #11196
No, I think conan-package-tools does not provision for per-package settings yet, but I am not sure, I don't follow conan-package-tools closely.

[2022-05-09 12:38] paulharris opened #11201 "[bug] CMakeDeps generates a MODULE require instead of CONFIG"
See other bug report below,
a simple project requiring Freetype will fail as Freetype will call
find_dependency(brotli REQUIRE MODULE),
but brotli does not have a MODULE finder, only a CONFIG finder.

Seems to be a bug in `CMakeDeps`, and it should be reported to conan client. It doesn't make sense that `CMakeDeps` generate a module file for `freetype` recipe calling `find_dependency(brotli REQUIR

[2022-05-09 13:14] vdsbenoit commented on #7016
**Edit:** Nevermind, I actually faced this issue because I had this option activated in the environment:
[code]

---

I faced this issue again today with thrift & openssl:

<details><summary>Expand log</summary>

[code]
</details>

@memsharded @madebr what should we do in such a use case? (i.e. we do not have any power over the subdependencies)

Overwriting the conflicting subdependency (e.g. open

[2022-05-09 13:25] paulharris opened #11203 "[bug] fontconfig test_package doesn't work with CMakeToolchain and CMakeDeps"
Please refer to PR (created for this bug report)
conan-io/conan-center-index#10698
Branch: https://github.com/paulharris/conan-center-index/tree/bug-fontconfig

I am trying to use CMakeToolchain and CMakeDeps in my VTK recipe, but it is failing a lot.

Turns out, even a simple project like FontConfig also failed when I tried to upgrade its test_package.

Not sure if I've done it correctly the chan

[2022-05-09 13:50] ytimenkov commented on #11155
Good use-case I didn't think about. I think `conaninfo.txt` was pretty close to it.

I would just replace "cwd" with "install folder". It usually defaults to cwd so there shouldb't be much difference if you omit it, but will  be less confusing when it's specified.

[2022-05-09 15:13] memsharded commented on #11155
Fortunately, with ``layout()`` now most builds are automatically "out-of-source" (at least they are moved to a ``build`` folder, not polluting the project root).

``conaninfo.txt`` will not longer be locally generated in 2.0.

[2022-05-09 15:33] memsharded opened #11205 "[feature][develop2] Review ``conf`` separation for "core" and "tools""
We need to review the ``conf`` separation for ``core.xxxx`` and ``tools.xxx``.
For example, for computing the package_id, we have:

[code]
Initially it meant that ``core`` could only be defined in ``global.conf`` but apparentely not anymore:

- Check what happens when ``core.xxxx`` conf is defined in cli or profiles
- What happens when both "build" and "host" profile define the same ``core`` conf

[2022-05-09 16:26] memsharded commented on #10317
https://github.com/conan-io/conan/pull/10347 implemented the necessary ``package_id`` changes to model ``toolchain`` packages:

- ``build_requires`` can be made part of the ``package_id`` of consumers, by default they are not, but either the ``package_id()`` of consumer recipes or by ``conf``, it is possible to do it
- The ``settings_target`` can be made part of the ``toolchain`` package, to model

[2022-05-09 17:45] franramirez688 commented on #11163
Closed by https://github.com/conan-io/conan/pull/11199

[2022-05-09 17:45] #11163 closed, assigned to franramirez688

[2022-05-09 22:40] paulharris commented on #11203
Sorry, I should've included my profile.
This fails as described with this added to the profile:
[code]

[2022-05-09 22:55] Bassem-Ramzy opened #11210 "[question] How to map dependency build_types?"
Hi,

I have a library (MyLib) that has the following configurations for `x86`: `Release`, `Debug`, `Release64_32`, and `Debug64_32`.
It has a required library (DepLib) that has only the following configurations: `Release` and `Debug`.

The depedenncy config/arch mapping is as per the following detailed graph:
[code]
How to tell the recipe(s) that both "MyLib `x86_64|Release` & `x86|Release64_32`"

[2022-05-09 23:00] paulharris commented on #10387
I need to disable that flag for some things,
but disabling the flag causes other issues in other contexts.
See #11203

[2022-05-09 23:01] paulharris commented on #11203
I've updated the PR to include that flag in the test_package conanfile.py directly,
so it should now fail for any profile / context.

[2022-05-10 04:11] paulharris commented on #11201
I have narrowed this down further.
Note this is in combination with this bug:
#10387 Desire to remove CMAKE_FIND_PACKAGE_PREFER_CONFIG ON
I am using profile: [conf] tools.cmake.cmaketoolchain:find_package_prefer_config = False to force this behaviour.  It is required, as described in other bugs.

[See conan.tools.cmake.utils.get_file_name() ](https://github.com/conan-io/conan/blob/81ac7d7905897c14

[2022-05-10 04:41] mrdrliam opened #11211 "LINK : fatal error LNK1104: cannot open file 'bcrypt}.lib'"
I used canon for my cmake project with Clion IDE(Clion used msvc as default compiler)
after install websocketpp with canon

an error occurred in build time

conanfile.txt
[code]

CMakeLists.txt
[code]

and build time error:

[code]

[2022-05-10 06:04] SteffenL commented on #11211
Looks like the last line of your `CMakeLists.txt` file has an extra `}`.

[2022-05-10 06:42] Bassem-Ramzy commented on #11210
I thought about a _partial_ resolution for mapping `MyLib|Release64_32` to `MyDep|Release`:
- Add a new setting called `is_64_32` in `settings.yml`.
- For "Release" configuration variants of both:

| Lib | arch | Config | `is_64_32` value |
| --- | ----- | ------------ | ----------------- |
| MyDep | x86_64 | Release | any |
| MyDep | x86 | Release | N |
| MyLib  | x86 | Release64_32 | Y |
| MyLib

[2022-05-10 07:19] SSE4 commented on #11211
you have a typo: `target_link_libraries(VTeamService ${CONAN_LIBS}})`, should be `target_link_libraries(VTeamService ${CONAN_LIBS})`

[2022-05-10 07:20] SSE4 commented on #10955
I think it's on roadmap now, it's got assigned 1.49 milestone.

[2022-05-10 08:34] paulharris commented on #11201
Further to this, with these changes, a Boost consumer MUST include boost like so:
find_package (Boost CONFIG)
as the package name has a capital letter, so CMake assumes it is a MODULE,
but the boost package only generates CONFIG mode, no MODULE finders.

So I feel like the Boost package is doing the wrong thing here.
Correct?

[2022-05-10 08:40] mattyclarkson commented on #11179
I'm aware I can list them both. However, the behaviour I'm getting is that the dependency is not added to both the build and host context.

---

[code]

That results in:

[code]

As  you can see `m4`/`zlib` have been set to `build: False` in the dependency tree and are not added to the build context.

They are listed correctly in `build_requires`.

The issue is that the run environment uses the `s

[2022-05-10 09:10] #11210 closed, assigned to nobody

[2022-05-10 09:11] Bassem-Ramzy commented on #11210
Requirement changed, thanks

[2022-05-10 09:11] memsharded commented on #11179
Hi @mattyclarkson

I don't think this is the case, ``build_requirements()`` is evaluated after ``requirements``

I still don't fully get the issue, probably because I still don't get the dependency graph. I think it is time to try to reproduce with a test. You can give it a try yourself, our testing framework should be relatively straightforward, you can see an example below. Or you can provide a

[2022-05-10 09:33] jcar87 commented on #11187
Hi @pdigiglio and thanks for reporting this issue!!

Looking at the commands you have pasted, there are two `conanfile.py` files:

[code]

One for for the recipe of the package itself, and another one for the test package, which implements the `test()` method. In your case, `conan export` needs to be passed the path to the recipe itself, and `conan test` needs to be passed the path to the `test_pa

[2022-05-10 09:41] mattyclarkson commented on #11179
Thanks for all your help. I can have a look into creating a test case: I'm not familiar with the Conan testing framework but happy to get involved.

Quickly though, I'm curious if this modification to the test case would repro:

[code]

I can create a test case in `conans/test/integration/graph/core` but hopefully the above should repro what I'm seeing.

[2022-05-10 10:00] mattyclarkson commented on #11179
OK, it reproduces on my machine with the patch in #11213

`tox -- -k test_tool_requires`

[2022-05-10 14:15] pdigiglio commented on #11187
Hi @jcar87, thanks to you for your reply.

That's the issue. I'm sorry I missed that from the help page I linked (and from the one you linked too).

I'm closing this issue.
Thanks very much again.

[2022-05-10 14:15] #11187 closed, assigned to nobody

[2022-05-10 16:10] lasote opened #11216 "[bug] [Conan 2] - Better 404 error management in "conan list packages" command"
When doing `conan list packages zlib/1.2.3#latest -r conancenter`
[code]
When doing: `conan list packages zlib/1.2.3#12312321 -r conancenter`

[code]

Both different but kind of weird messages. Probably deserve to capture a NotFoundException somewhere.

[2022-05-10 16:56] ShadowIce opened #11218 "[bug] Apple framework paths cached in CMake"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12.3.1
  * Compiler+version: clang 13.0.0
  * Conan version: 1.48.0
  * Python version: 3.9.12

### Steps to reproduce (Include if Applicable)

I have a project that depends on a conanized Apple framework. That project uses conan_basic_setup from CMake to setup all conan related things. If I create the

[2022-05-10 17:26] memsharded commented on #11218
Hi @ShadowIce

That integration is deprecated, and it has already been removed in Conan 2.0.
Please use the new integration (``CMakeDeps``, ``CMakeToolchain``, etc), to try it and report. The best starting point is the ``conan new hello/0.1 --template=cmake_lib``, that will generate a working project that you can just ``conan create .`` and test it.

[2022-05-10 19:07] mpconte opened #11219 "Creating package with dependency to boost >= 1.78.0 cannot find Boost"
### Environment Details
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 16 2019
  * Conan version: 1.48.0
  * Python version: 3.9

### Steps to reproduce

with the following **conanfile.py**

[code]

I installed the boost dependency from source first:

`conan install boost/1.78.0 --build=missing`

then invoke:

`conan create . sensoft/testing `

### Logs

[code]

The e

[2022-05-10 20:34] memsharded commented on #11219
Hi @mpconte

You are using the legacy ``cmake_find_package`` generator, mixing it with the other new integrations, but they are mostly exclusive. You should use the ``CMakeDeps`` generator instead.

I can see that something is not working correctly, because Boost is found with ``C:/Program Files/CMake/share/cmake-3.21/Modules/FindBoost.cmake:1369``, instead with the Conan generated one. It would b

[2022-05-10 20:38] memsharded commented on #1479
Conan 2.0 packages are all lowercase, so this won't be an issue anymore.
Also since the migration to the new ConanCenter (out of Bintray), packages are also lowercase in ConanCenter, so no longer an issue in ConanCenter too.

[2022-05-10 20:38] #1479 closed

[2022-05-10 20:39] memsharded commented on #3469
We moved long time ago from bintray to an Artifactory backend, this is no longer an issue.

[2022-05-10 20:39] #3469 closed

[2022-05-10 20:47] memsharded commented on #11159
So I guess if I try to install this dependency through a mac without settings defined, I would be able to retrieve it ?

Yes, exactly. Installing this package that you have removed the ``settings``, can be done for all inputs, when not defining settings, when defined settings for Mac, for Linux, etc., because other packages in the graph will need to have settings defined. In other words, the ``pac

[2022-05-10 20:50] memsharded commented on #10317
@gpxricky

Not an ``option``. Packages in the "build" context can get a ``settings_target`` attribute with the values from the "host" context when cross-building

[2022-05-10 20:55] memsharded commented on #11185
Hi @hlewin

Yes, this looks like it could be an issue. As packages without user/channel were introduced later, this was probably not completely considered in conan_server.

While this is investigated, these would be some recommendations:
- In general, user packages should have a ``user/channel``. Only packages from ConanCenter don't have user/channel, and those are public.
- You can use an Artifac

[2022-05-11 05:21] #11211 closed, assigned to nobody

[2022-05-11 07:17] #10905 closed, assigned to memsharded

[2022-05-11 08:06] memsharded opened #11221 "[question] ConanCenter hooks summary"
For 2.0 we plan to review the Hooks api, it would be great to know better:

- Which hooks are used in ConanCenter (pre-build, post_package,..?) with a brief description of the usage/purpose
- For the used ones, which parameters passed in the hook call are unused (if some are unused)

[2022-05-11 08:14] jellespijker opened #11222 "[bug] crash on Windows when trying to obtain USERNAME from environment"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: N/A
  * Conan version: 1.48
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
Powershell in which `USERNAME` is not set as a variable

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

Traceback
[code]

Environmental var

[2022-05-11 09:07] fredizzimo opened #11224 "[feature] Issues with the CMakeToolchain generator"
We are building custom workspace functionality for Conan 1 based on the existing code, but using CMakeToolchain and the new layout method instead of of the old layout configuration files. It's not that generic at the moment, since it's generating everything dynamically based on our project structure, so it does not need a definition yml file. It's mostly working as it should now, but there are som

[2022-05-11 09:16] Kidsunbo opened #11225 "[question] Is there a regular pattern for global target?"
Hi, I use `CMakeDeps` and `CMakeToolchain` generators for a CMake project with `boost/1.78.0`. For conan installed boost, it has a global target `boost::boost`. But for the one not installed with conan, there isn't.

Is this global target imports all the built components by default? Unlike `Boost::boost`, which is only an alias of `Boost::headers`.

Is this target provided for convenience? Even th

[2022-05-11 09:17] JD31 commented on #11159
Yes. I confirm it works as described. Thanks a lot.

[2022-05-11 09:17] #11159 closed, assigned to memsharded

[2022-05-11 09:27] memsharded commented on #11224
Hi @fredizzimo

Thanks for the feedback.
These are valid points, and the workspaces is something that needs to be resumed, because so far we have been focused on the building blocks, the ``editables``.

It is true, that the way we are considering now for the workspaces is based on cmake external projects, this is our current thinking:

- Every package will be mapped to its own project. As you real

[2022-05-11 09:35] memsharded commented on #11225
Exactly, this is for convenience. If you want your code to still be used without installing Boost with Conan, then you shouldn't be  using this target.

Yes, the recipe itself defines its names, to be as close as possible to the "upstream" names (target and file names provided by Cmake or the library itself). There is no official pattern, this is up to each project convention. Conan only tries to

[2022-05-11 09:52] mattyclarkson commented on #11179
Our command for building is:

[code]

I'd think that would opt-in to the new Conan 2.0 way of building so the issue is certainly on our side, as proved by the fix you did to the test. Looks like it's on me to figure out what on Earth is going on.

[2022-05-11 09:53] ShadowIce commented on #11218
I tested it that way, but had to change a few things. First I created an executable (--template=cmake_exe), then added the external framework and ran `conan install . --output-folder cmake-build-release && cd cmake-build-release && cmake .. -DCMAKE_TOOLCHAIN_FILE=build/generators/conan_toolchain.cmake -G Xcode`. This works as expected and the resulting Xcode project has the correct path after chan

[2022-05-11 10:17] Kidsunbo commented on #11225
Thanks. That makes sense.

[2022-05-11 10:27] memsharded commented on #11179
Yes, definitely, that should certainly trigger the "build/host" contexts, and it should work.
So sure, don't hesitate to re-open or report a new issue if you find what is happening and we can help. Thanks!

[2022-05-11 10:33] fredizzimo commented on #11224
Thanks, I have perhaps dismissed external projects too early, since I only did an initial research and found problems like these, but never tested it myself
https://discourse.cmake.org/t/externalproject-superbuilds-and-visual-studio/794
https://cmake.org/pipermail/cmake/2018-January/066957.html
https://developercommunity.visualstudio.com/t/cmake-cannot-build-project-with-non-target-debug-p/1228684

[2022-05-11 10:37] memsharded commented on #11224
That could be relevant, yes. As Conan is generating the targets itself, then maybe there is a chance that this is not problematic.

Yes, this could deserve a separate discussion. There are already some variables that are CACHE forced in the toolchain:
[code]

Should all of them be forced by default then?

[2022-05-11 10:44] memsharded commented on #11218
I am not sure if this is something we can change, because this is mostly CMake. This variable is defined in:

[code]

So as you can see, this is a CMake ``find_library()`` call, it is not something Conan is doing. That could mean that the only way CMake has to update to new dependencies like frameworks or libraries path, is to clear the CMake cache?

[2022-05-11 10:50] fredizzimo commented on #11224
It's hard to comment about other projects, and even on our own without trying it out fully. But yes, if we can use external projects, then forcing them all seems to be a working solution. The most flexible would obviously be to expose different types of variables to the interface, but that's also tricky because they are set through a table and not a function.

[2022-05-11 12:27] RalfBielig opened #11227 "[bug] apple-clang compatibility with compiler.version="13""
### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version: apple-clang
  * Conan version: >1.46.0
  * Python version:

https://github.com/conan-io/conan/blob/229a7c9bfea8d454770e7253bd72b1804bb43b46/conans/model/info.py#L606
[code]
the if-statement must be changed to:
[code]
**and** -> **or** because we want the compatible package, if  the comp

[2022-05-11 12:31] RalfBielig commented on #11227
[code]
causes crash with backtrace:
[code]

[2022-05-11 12:34] mpconte commented on #11219
Hi @memsharded

So adding that generator solved that problem, thank you.

Now when I try to create my package this time, I'm getting boost linker errors (LNK2019) even though I believed I added the appropriate link targets in my CMakeLists.txt file.

Here's a small sample:

parent CMakelistst.txt

[code]

"plumbing" sub-directory CMakeListsts.txt

[code]

[2022-05-11 12:44] memsharded opened #11228 "[question][develop2] Review encodings auto detection with BOM"
Something that I think is worth reviewing is the following:

[code]

We are using the BOM in ``decode_text()`` to detect the encoding. It feels a bit too magic for me.

[2022-05-11 13:00] ShadowIce commented on #11218
Yes, by default if you use find_library it would cache it. I think this was intended for system libraries that don't change too often, or maybe where the path doesn't include a version string. As soon as you have a lot of libraries that change with nearly every checkout it doesn't make sense (to me at least) to cache anything.

CMake fixed it by introducing the NO_CACHE option for find_library. Bu

[2022-05-11 13:18] memsharded commented on #11219
It would be necessary to see the linking error that you are getting.
It could be a discrepancy between build flags, what you are adding in your ``CMakeLists.txt``:
[code]

Is not best practice, and that should be part of a toolchain file, not CMakeLists.txt. The issue could be that you are hardcoding ``c++17`` in the flags, but maybe you are not providing ``compiler.cppstd=17`` as a setting? When

[2022-05-11 13:19] #11222 closed, assigned to memsharded

[2022-05-11 13:47] mattyclarkson commented on #11179
OK, found it and figured it out 🎉

In the `test_package` we have:

[code]

That was a misunderstanding when reading [the docs](https://docs.conan.io/en/latest/devtools/build_requires.html#testing-tool-requires)

What that does is adds the top level package (`autoconf`) in the `build` context.

When the dependencies in `autoconf` are resolved, they all ge put in the `build` context. This means that

[2022-05-11 14:02] mpconte commented on #11219
Here's the output of the linker errors I've received after I removed the /std:c++17 flags in my CMakeLists.txt and tried creating my package again

[code]

[2022-05-11 14:04] memsharded commented on #11179
Yes, that is correct, ``test_requires`` put it in the "host" context. As the ``test_package`` is an end consumer, the effect using a regular ``self.requires()`` is identical, as ``test_requires()`` basically what they do is do not propagate downstream.

Yes, that is the issue, this is a valid use case. It is licit to do a ``test_package`` for an executable package tool to be used as ``tool_require

[2022-05-11 14:12] uilianries commented on #11221
The only hook used on Conan Center Index is [conan-center.py](https://github.com/conan-io/hooks/blob/master/hooks/conan-center.py), which does not require any external python package.

So far, we have been using:

- pre_export
  - Most of hooks are here. It can be a linter related to cci rules, or missing files, etc ...
- post_export
  - processed options and license. Some recipes may the license

[2022-05-11 14:13] memsharded commented on #11219
Well, the other issue that I reported above was about not using the right finder, as it was using the one from ``C:/Program Files/CMake/share/cmake-3.21/Modules/FindBoost.cmake:1369``, and not the Conan one. This also implies that it is linking Boost dynamically.

I would try to provide a reproducible case:
- Put in a github repo the simplest conanfile.py, the simplest CMakeLists.txt that would fu

[2022-05-11 14:19] mattyclarkson commented on #11179
Well, that is what we did for `autoconf` because it'll be used in the "build" context later. However, doing:

[code]

In the test package totally broke the _build_ of `autoconf` because the graph no longer recognises adding the build requirements for `autoconf` into the build context.

This is because [if the node is in the transitive dependencies](https://github.com/conan-io/conan/blob/d3420d6448

[2022-05-11 14:50] gabyx opened #11230 "[question] Do stuff in`imports` only when the recipe changes"
When calling `conan install`, is there a way to obtain the path to the current `conanfile.py` inside `imports` function?

We would like to hash the `conanfile.py` and compare it to some hash on the disk (inside imports folder) to only do extensive **imports** copy operations if the `conanfile.py` has changed.
Could we use `self.info.package_id()`  which should also change when someone modifies req

[2022-05-11 14:52] mpconte commented on #11219
I've made a public repo where I could reproduce the issue [here](https://github.com/mpconte/sample)

Thanks @memsharded

[2022-05-11 15:04] memsharded commented on #11219
Reproduced. Fixed it with:

[code]
I had to deactivate the Python finding, but that one is unrelated.
As you can see, disabling dynamic linking make it work.

If you leave that one, you can do instead ``conan create . -s compiler.version=15 -o boost:shared=True`` to get the Boost shared libraries package. Most likely in either case, it is possible to remove those details of Boost usage from the CM

[2022-05-11 15:09] memsharded commented on #11230
I think the ``self.recipe_folder`` is always defined within a ``conanfile.py``, have you tried that one?

[2022-05-11 15:38] memsharded commented on #11179
I think I am a bit confused again 😅

In Conan 1.X the ``self.tool_requires()`` inside ``requirements()`` wouldn't be valid.

It sounds like there still could be some failure mode that I am missing, do you think it would be possible to reproduce what you are commenting in the test in your PR in https://github.com/conan-io/conan/pull/11213?

[2022-05-11 15:42] memsharded commented on #11224
Ok, I think we should investigate the potential new workspace approach via external projects or wider IDE or build systems solutions, and from there we will work out the details for specific implementations like the toolchains.

This will have to wait a bit, working on workspaces is not planned in the scope of 2.0, we can label it as 2.X.

[2022-05-11 15:59] datalogics-kam commented on #11221
Excuse me for being an interloper here... We're using pre_build and post_build, which is also mentioned in the [documentation](https://docs.conan.io/en/latest/howtos/sanitizers.html), and referenced in #11094.

I think hooks are useful for end users of Conan to implement site-wide policies and customizations, more or less how you'd be using them in conan-center. Having a good hook system relieves

[2022-05-11 16:00] madebr commented on #10181
I'm currently working on a [rewrite of the SDL_image cmake script](https://github.com/libsdl-org/SDL_image/pull/189) and am also facing this issue: `$<TARGET_FILE_NAME:XXX>` does not work on conan generated targets.
Among others, SDL_image's cmake script checks the `IMPORTED_LOCATION` and `IMPORTED_IMPLIB` properties (on Linux/Windows) to support dynamic loading (=not linking to a dependency, but

[2022-05-11 16:04] datalogics-kam commented on #11094
Lacking a hook for `validate()`, I think for our internal projects, I'm going to use a `python_requires` to supply functionality that can be called from `generate()`.

Now that I've got a complete new project using `conan.tools`, I see that what I'm really doing is making up for the fact that there is no way to say "Find the correct IDE installation for the given compiler settings" on macOS, analo

[2022-05-11 16:13] memsharded commented on #11227
Thanks for your detailed analysis, indeed seems a bug in the compatibility. I am proposing your fix, and adding a test in https://github.com/conan-io/conan/pull/11231, and maybe for a patch 1.48.1 release to be released soon.

Regarding the other stack trace, I'd say that it is not related, and it could need more information to reproduce. For a start, it seems that this is being fired in some ``bu

[2022-05-11 16:21] memsharded commented on #11221
Sure, we are not planning to remove the hooks functionality, or even modifying all of the existing hooks. Some hooks might remain intact. But not all hooks are equal, and there are some hooks APIs that are a bit unclear. In Conan 2.0 we have a new extension point that is called "plugins", which could be a better place for some of these. This is why we are trying to understand first which ones are

[2022-05-11 16:38] memsharded commented on #11094
Yes, I think this would be interesting. It would be great to align on the approach, because I still think that this would find a better location in the ``profile_plugin`` than in a hook.

- As you said the ``VCVars`` might be getting the information of the path where VS is installed from a Conan configuration ``vs_install_path = conanfile.conf.get("tools.microsoft.msbuild:installation_path")``, wh

[2022-05-11 16:43] memsharded commented on #10181
Hi @madebr

Yes, we know that CMake allows that syntax, this is what the Conan current cmake generators (``CMakeDeps``, ``cmake_find_package``,...) are already doing:
[code]

We have done some progress in https://github.com/conan-io/conan/pull/11111, targeted for Conan 2.0 (the risk of breaking is too high), and we are starting to define the targets as SHARED/STATIC/UKNOWN depending on the declare

[2022-05-11 17:03] madebr commented on #10181
Completely understand about introducing this in conan 2.0.

About the explicit model, when/if you want to add a function to autodetect the dll accompanying an import library:
- with mingw, you can use `dlltool --identify <implib>` to " Report the name of the DLL associated with <implib>".
- with MSVC, you can do `dumpbin /headers <implib> | findstr dll` (+ some post processing)

[2022-05-11 17:22] madebr commented on #10181
I wrote the following cmake code to detect the associated dll for import libraries, it should be trivial to port these to python to allow autocompletion of these fields (using some helper function)

[code]
This is tested on mingw@Linux + msvc@Windows

[2022-05-11 17:53] SSE4 commented on #11228
there is no magic, everything is straighforward. just read BOM to determine the text file encoding, then use it to properly decode the file.

[2022-05-11 18:20] mpconte commented on #11219
@memsharded

I've made some changes to the repo regarding an issue in building with python 3.9 and numpy:

[code]

[2022-05-11 20:57] memsharded commented on #11228
I disagree that such a code have to be used in the ``decode_text()`` helper that is used mainly in the Conan HTTP Api, because the encoding shouldn't be detected from BOMs, but it should be already defined by the protocol (utf-8). Also when loading Conan files (conaninfo.txt, conanmanifest.txt, etc...) which would be the majority of cases, same, we should define the encoding of those files (utf-8)

[2022-05-11 21:34] memsharded commented on #11219
Hi @mpconte

Ok, but that is now a completely different issue, not related to the above, Boost can now be found and linked.
It is the Python3 + numpy finding and linkage. This is now a bit difficult to reproduce on my end, I don't have numpy installed, and CMake will not find_package() my Python installation either. This might take some more time to investigate, but this also doesn't look like a C

[2022-05-12 00:55] datalogics-kam commented on #11094
I like the idea of getting this code somewhere where it shows in the configuration in the log. I found the `profile_plugin` code on the `develop2` branch, so I got a little familiar with it.

`VCVars()` is finding Visual Studio without having to have anything defined. I mean, Conan doesn't really need `vswhere`, because a stock installation sets variables like `VS2019INSTALLDIR` and the bat file i

[2022-05-12 02:10] SSE4 commented on #11228
that's to be defined where to apply on case by case basis in the codebase.
if it's a file downloaded from HTTP (`conanmanifest.txt`?), then encoding should be obtained from HTTP headers (`Content-Type`, `charset`). it could be also defined by the protocol, but specifying `Accept` and/or `Accept-Charset` might be needed to enforce it to be compatible with all HTTP servers.
if it's a file created/ed

[2022-05-12 06:06] Kidsunbo commented on #11225
Hi @memsharded
I've noticed that for `CMakeDeps` generator, if `cmake_target_name` and `cmake_file_name` are missing in `package_info` method. The `cmake_target_name` will be default to `<project_name>::<project_name>` and `cmake_file_name` will be `<project_name>`.
Is this guarenteed or just a behaviour of current version?

[2022-05-12 06:13] Kidsunbo commented on #11225
I've found the source code for default name. https://github.com/conan-io/conan/blob/e8237a0981158ea7a7bce7153acefced7905f677/conan/tools/cmake/cmakedeps/templates/__init__.py#L79
Is this the right place to give out the default target name and file name?

[2022-05-12 07:27] memsharded commented on #11227
https://github.com/conan-io/conan/pull/11231 closes the first item, for 1.48.1

Would you please mind opening a new issue with details for the second thing? Thanks!

[2022-05-12 07:27] #11227 closed, assigned to nobody

[2022-05-12 07:44] RalfBielig commented on #11227
Thanks a lot for the fast fix!
Regarding the second thing: I suppose that happens if an identic compatible package is added twice.
In my case the apple-clang "13.0" package was added once implicitly by the bug you`ve fixed and once by myself in the package_id() call.
I`ll open a new issue, if I can verify the above

[2022-05-12 10:42] danimtb commented on #11116
Yes, it is a convention but that information needs a way to be extracted so we can retrieve it for ConanCenter web.

I believe it would need to be exposed to the json output via `conan inspect` or similar command, so it would need some small changes in the client.

[2022-05-12 10:48] memsharded commented on #11116
You can already query any attribute with ``conan inspect -a``, no need to explicitly expose it. And Conan 2.0 will iterate all public attributes by default, so it will be included in the default automatically.

[2022-05-12 12:28] memsharded opened #11235 "[feature] Investigate the impact of adding new files to upload/download in the export and package folders"
As a mechanism to be able to add metadata to packages and recipes, signatures, etc. Is it breaking to add extra files? Can it be fixed, optin or something?

[2022-05-12 12:38] thorsten-klein opened #11236 "[question] cleanup huge CONAN_USER_HOME (dl directories?)"
Hello,
when I analyze my `CONAN_USER_HOME` directory, then I can find a lot of files which could actually be removed.

For some of my packages (which are both build from source or for some packages downloaded prebuilt), I can find following files:
- `<conan_download_cache>/<hash>.tar.gz`
- `dl/export/conan_export.tgz`
- `dl/export/conan_sources.tgz`
- `dl/pkg/<hash>/conan_package.tar.gz`
- `export

[2022-05-12 12:54] mpconte commented on #11219
Hi @memsharded

Fair enough, but I think I need to report a separate issue because I believe I installed boost python and numpy correctly with `conan create . -o boost:without-python=True -o boost:python_executable=<Python 3.9 exe path> -o boost:shared=True` and it does indeed create the lib/dlls for boost python and numpy for linkage so I assumed it could link numpy calls in my sample. It was abl

[2022-05-12 13:40] #11225 closed, assigned to memsharded

[2022-05-12 14:45] SpaceIm opened #11239 "[bug] `required_conan_version` is not evaluated before python imports"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: apple-clang 13.1
  * Conan version: 1.48.0
  * Python version: 3.9.12

### Steps to reproduce (Include if Applicable)

see https://github.com/conan-io/conan-center-index/pull/10633#issuecomment-1124783149

- use conan < 1.45.0, for example 1.44.0
- `conan install yaml-cpp

[2022-05-12 14:52] memsharded commented on #11239
I dont think this is a bug, this is by design.

Python imports are evaluated when the script is loaded. And we need to load the script to get the ``required_conan_version`` variable from it. We are not going to manually parse the .py file looking for the ``required_conan_version`` definition, that would be overkill.

[2022-05-12 15:10] uilianries commented on #11239
Maybe it would be overkill, but at same time, that error is not helpful.

[2022-05-12 15:15] memsharded commented on #11219
Yes, sure, it might be better to close this one as a question solved, and open a new ticket for the python specific one.
Please try to provide as much details as possible, including how the Python installation is found, which Python installation, how numpy was installed, etc., etc. Of course the best would be reduce the reproducible case to the minimum, if maybe the case can be reproduce without n

[2022-05-12 16:02] #11219 closed, assigned to memsharded

[2022-05-12 16:09] mpconte opened #11241 "Creating package with boost python cannot link boost python numpy libs"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 16 2019
  * Conan version: 1.48.0
  * Python version: 3.9 (with numpy installed)

### Steps to reproduce (Include if Applicable)
Clone the following repo [here](https://www.github.com/mpconte/sample) and run the command

`conan create . -o boost:shared=True -o b

[2022-05-12 16:16] memsharded opened #11242 "[bug] Artifactory can be returning 200 for missing packages"
[code]

Supposing that such package name doesn't exist.

- It seems our ``conan_server`` returns 404 for this
- It seems other endpoints, like ``/search`` instead of ``/revisions`` can return a 404 too instead of an empty list (both in Artifactory and ``conan_server``)

[2022-05-12 16:28] JonathanGirardeau commented on #11152
Thank u @SpaceIm  for your answer.
It raises an error when package C set `A:with_feature=False`, it is a good point. However I would like that package C has not to  explicit `A:with_feature` value.

I have noticed a behavior of conan: If I do not explicit A:with_feature value in C recipe or in command `conan install` of package C

1. With this order of dependencies:
[code]
I got an errror:
`ERROR:

[2022-05-12 16:32] memsharded commented on #11241
As a first check, I would try to do a local build of Python, forcing ``--build=boost --build=sample`` and see what happens.

There is a chance that the boost linking python in ConanCenter builds and your local python do not fully match, and that could be creating the error.

[2022-05-12 20:42] NoWiseMan commented on #11227
I think this answers this too: https://github.com/conan-io/conan/issues/11104

[2022-05-13 01:35] paulharris opened #11243 "[feature] source downloads and the cache"
A few things
- I noticed that conan.tools.files.get() doesn't seem to use the download cache.  So I reverted back to the conans get tool.  I was trying to upgrade away from the old conans tools.

- I'd like to be able to tell conan to "download" from a folder on my disk, ie url: file:/// if necessary

- Do not use the internet at all if the source file is in the download-cache folder.
I had VTK-9.

[2022-05-13 08:25] memsharded commented on #11104
Closed by https://github.com/conan-io/conan/pull/11231

[2022-05-13 08:25] #11104 closed, assigned to nobody

[2022-05-13 08:26] memsharded commented on #11227
Yes, thanks @NoWiseMan for pointing it out !

[2022-05-13 08:56] memsharded commented on #11243
Hi @paulharris

Do you provide a checksum for the ``get()`` call? Downloaded files will only be cached if they provide a checksum in the recipe, which is in any case a strongly recommended practice.

Yes, this is already a filed request (https://github.com/conan-io/conan/issues/8846), @jcar87 was probably going to have a look

[2022-05-13 13:03] boussaffawalid opened #11245 "[question] deterministic build and source dir"
I finally manage to achieve 100% deterministic builds. One of the issue was randomness in conan build and source directories when creating conan packages.

The solution I used with the [old cmake build helper  ](https://docs.conan.io/en/1.43/reference/build_helpers/cmake.html) was to create directory junction and pass them to cmake instead of the conan source and build folders:

[code]

[code]

No

[2022-05-13 13:56] memsharded commented on #11245
Using an absolute path for all packages seems a bit fragile, IMHO.

Then I'd like to understand that "randomness", because Conan cache folders are deterministic in 1.X (for the same package, they build in the same folder always). What am I missing?

[2022-05-13 15:15] boussaffawalid commented on #11245
Build and source folder information are propagated to binaries because of many reasons (usage of `__FILE__` macro for example).
When rebuilding the same source code but in different location, you get different binaries. And because conan use different paths for different versions, final binaries are different even if source code did not change.

[2022-05-13 15:24] Sil3ntStorm opened #11248 "[bug] update not pulling new recipe version"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 x64
  * Compiler+version: VS 2022 17.3
  * Conan version: 1.48.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
- Have a remote recipe that is being required in a conanfile.py
- run conan install --update .
- Update the recipe on the remote, which adds a new option
- Set

[2022-05-13 15:43] Sil3ntStorm commented on #11248
even running `conan info --update --dry-build --profile debug .` will complain about the option not existing, despite it being there when checking the recipe in conan center

[2022-05-13 16:48] Sil3ntStorm commented on #11248
Where does conan actually store information about available recipes and their options? Because I already deleted the files from previous `conan install` commands as well as the offending library in the local cache (via `conan remove`), yet it still claims to not know the newly added option.

[2022-05-13 16:56] jgsogo opened #11249 "[bug] Lockfiles - Different behaviour in Macos and Linux for topology-equal lockfile"
This is reproducing the error we have seen in the last days (cc/ @danimtb @czoido ) while using lockfiles in our little project:

**conanfile.txt**
[code]

**linux**
[code]

**macos**
[code]

A couple of scripts to help here:
**run-linux.sh**
[code]

**run-macos.sh**
[code]

---

Executing `run-linux.sh` everything is fine, with `run-macos.sh` it fails during `conan install` with (associated with

[2022-05-13 21:18] Makogan opened #11250 "[bug] Compiled program searches for binaries in non eistent path"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.10
  * Compiler+version: gcc 11
  * Conan version: 1.47
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

I am compiling a program whose dependencies are managed by conan. In particular imgui. My code compiles but when i run it it triggers an imgui error:

[code]

The thing i

[2022-05-13 23:29] tiger-chan opened #11251 "[bug] cmake_layout generators folder path is not normalized"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10/11
  * Compiler+version: N/A
  * Conan version: 1.48.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
1. Run `conan new bug/1.0 --template=cmake_exe`
2. Run `conan install .`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

Resulting in

[2022-05-14 05:55] blackencino opened #11253 "[question] mysterious linker verbosity"
At some point in the distant past (a year ago?), I remember making some change in something somewhere in my configuration that caused all of the libraries found by conan to be printed out with every build. I cannot for the life of me remember what this was, and I'm desperate to turn it off.

I'm on Windows 10, using msvc 16.11.14 (most recent patch), conan 1.48, cmake 3.23.1, ninja.

Things I've t

[2022-05-14 06:02] blackencino commented on #11253
An additional piece of information - another sibling project that also uses the same build tools does not exhibit this problem, which suggests that whatever it is, it's lurking in the project itself. I realize this may be straying from conan questions.

[2022-05-14 17:15] rconde01 opened #11254 "[bug] conan install example doesn't work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Redhat Enterprise Linux 7.9
  * Compiler+version: gcc 11
  * Conan version: 1.48
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
In the `conan install` [build options documentation](https://docs.conan.io/en/latest/reference/commands/consumer/install.html#build-options) it says you

[2022-05-14 23:54] paulharris commented on #10989
I'll just close this and wait for 2.0 :)

[2022-05-14 23:54] #10989 closed, assigned to nobody

[2022-05-14 23:55] paulharris commented on #11069
I'll wait to see it working after the upgrades for 2.0 :)

[2022-05-14 23:55] #11069 closed, assigned to memsharded

[2022-05-15 01:35] paulharris opened #11255 "[bug] apply_conandata_patches() doesn't work with conan install+source+build"
I've found a CCI recipe that can be used for the test.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc9
  * Conan version: 1.48.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
[code]

Error message:
[code]

[2022-05-15 03:20] paulharris commented on #11255
It works if you replace the apply_conandata_patches(self) with the standard `for patch` loop.

[2022-05-15 03:22] paulharris commented on #11255
Note that even the loop doesn't work with
[code]

[2022-05-15 04:03] evan0greenup opened #11256 "[question] What is the major difference between conan2 and conan1"
- [* ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

What is the difference between conan version 2 and 1?

Will conan 2 be back-compatible with conan 1?

[2022-05-15 09:50] xahon opened #11257 "[question] Is it possible to call conan 2.0 install without a profile?"
I'm trying to employ functionality of `conan_cmake_autodetect(settings)`, conan says that i need a default profile in order to run `install`, however, all needed parameters are passed into `install` command inline, so there's no need in a profile

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

**UPD**
I've created an empty default

[2022-05-15 10:19] xahon opened #11258 "[question] Is it possible to `require` conan 1.x packages from conan 2.x recipe?"
Currently, I can't add a requirement on a conan 1.x package because it can't find `conans` package which is downloaded after `pip install conan` but I already have installed `pip install conan --pre` and can't install 1.x version along with 2.x because pip does not allow to install multiple versions of the same package

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blo

[2022-05-15 17:17] SpaceIm opened #11259 "[bug] `settings.yml.new` of an old conan version sometimes generated when `settings.yml` has been modified"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: apple-clang 13.1
  * Conan version: 1.48.0
  * Python version: 3.9.12

### Steps to reproduce (Include if Applicable)

- install conan with homebrew
- slightly modify `settings.yml` (for example add a key under apple-clang)
- sometimes conan commands generate a `settings.y

[2022-05-15 19:25] drussel opened #11260 "[bug] Static libraries produced with visual studio 17.2 do not appear to be always compatible with ones produced by earlier 17 versions"
### Environment Details (include every applicable attribute)
  * Windows 10,11
  * Visual studio 17.2
  * Conan 1.47, 1.48
  * Python version: 3.X

### Steps to reproduce (Include if Applicable)
We have an intel tbb package (static build) that if built with 17.2 won't link with 17.1 built artifacts (and vice versa). If built with 17.2, the error in 17.1 is for missing `__std_init_once_link_alterna

[2022-05-16 08:43] tsondergaard commented on #1001
I believe "conan editable" and "conan workspace" are features related to this question.

https://docs.conan.io/en/latest/developing_packages/editable_packages.html
https://docs.conan.io/en/latest/developing_packages/workspaces.html

[2022-05-16 09:02] jcar87 opened #11261 "[bug] Generated CMakeDeps modules may use wrong name for transitive dependencies"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12.3
  * Compiler+version: AppleClang 13
  * Conan version: 1.48
  * Python version: 3.8.9

### Steps to reproduce (Include if Applicable)

Using the `CMakeDeps` generator in a consumer package that consumes `pkgB`:
* `pkgB` has a requirement on `pkgA`.
* `pkgA` defines the `cmake_module_file_name` [pr

[2022-05-16 09:39] sbellus opened #11262 "Can I upload package with different compiler setting?"
Can I upload package with different compiler setting?

I build only shared library of my package. It is not necessary for package consumer to  use the same compiler.
I compile with intel compiler, but want to upload package with compiler setting "any".
The relevant setting for consumer are only  os, arch, distro.

How can I achieve it?

[2022-05-16 09:42] jcar87 opened #11263 "[bug] Use of find_dependency in CMakeDeps generated modules can cause early termination of script"
### Steps to reproduce (Include if Applicable)

* We need a package that has transitive dependencies (e.g. `pkgC` that depends on `pkgA` and `pkgB`)
* Use the new `CMakeDeps`/`CMakeToolchain` generators
* In a consumer package, ensure that we prefer finding modules (e.g. `find_package(pkgC REQUIRED MODULE)`)

* The logic in the files invoked by `FindpkgC.cmake` will eventually result in calling: `

[2022-05-16 09:44] memsharded commented on #11260
Hi @drussel

Yes, the new model for VS is the ``msvc`` compiler in https://github.com/conan-io/conan/blob/f9215513368e576a82f071ab5d7b4cf990d156ca/conans/client/conf/__init__.py#L111, that models both the major compiler version (190, 191, 192) and then it allows the "update":
- For most users, and this is what ConanCenter will do, it is not necessary to specify the update. This works well in the g

[2022-05-16 09:46] memsharded commented on #11256
Hi @evan0greenup

You want to read:

- Migration guide: https://docs.conan.io/en/latest/conan_v2.html
- Tribe 2.0 design discussions: https://github.com/conan-io/tribe (and https://conan.io/tribe.html)
   - This include things like discussions about compatibility: https://github.com/conan-io/tribe/blob/main/design/013-migration-path.md
- For the current 2.0 docs: https://docs.conan.io/en/2.0-alpha

[2022-05-16 09:47] jcar87 commented on #11263
<img width="803" alt="Screenshot 2022-05-16 at 10 42 56" src="https://user-images.githubusercontent.com/3535649/168565206-e6cf4098-cca0-420e-a948-a9517274b065.png">

If the consumer package does `find_package(Fontconfig REQUIRED MODULE)` - this will end up calling the generated `FindFontconfig.cmake`.

In this case (where Fontconfig comes from Conan Center), there are two transitive dependencies:

[2022-05-16 09:54] memsharded commented on #11262
Hi @sbellus

You can do "settings erasure" in ``package_id()`` method, something like:

[code]

This will make that all the compiler settings and subsettings will be removed, resulting always in the same identical ``package_id``. If you re-build the package with a new compiler or version, it will still result in the same ``package_id``, overwriting it.
There are other approaches to achieve this, b

[2022-05-16 09:56] memsharded commented on #11257
Both Conan 1 and Conan 2 require a profile, if not specified in the command line. The difference is that Conan 2 will not automatically create a default profile if it doesn't exist, requiring an explicit ``conan profile detect`` command.

[2022-05-16 09:57] memsharded commented on #11258
I am not sure what you mean. You should use different Python virtualenvs to install Conan 1.X and Conan 2.0, do not install them in the same environment. You might also try to use ``pipx`` tool for this. Is this your question?

[2022-05-16 10:00] memsharded commented on #1001
Hi @tsondergaard

yes, as an update:
- Editable packages have been improved and a lot of work put onto them, with the new ``layout()`` method
- Workspace feature is complicated, and has been put on stand-by for a long time now. Not very recommended for production, it has been removed in Conan 2.0 at the moment. Recommended to use your own script to automate a project using the "editables" feature.

[2022-05-16 10:06] memsharded commented on #11259
The only way I see so far in code is that the homebrew update of Conan is kind of failing to regenerate Conan .pyc files or something like that and still running an older version. I wonder if this happens with a regular ``pip install`` installation.

In any case, this migration mechanism for settings has been removed in 2.0, probably not worth investing to much time to investigate it.

[2022-05-16 10:10] memsharded commented on #11255
``apply_conandata_patches()`` is a new ``conan.tools`` it is intended to work with the ``layout()`` and the new build system integrations for the local flow. I'd recommend to setup a repro case starting with the ``conan new hello/0.1 --template=cmake_lib``

[2022-05-16 10:23] memsharded commented on #10688
Not a bug, question closed as responded

[2022-05-16 10:23] #10688 closed, assigned to memsharded

[2022-05-16 10:25] memsharded commented on #10260
No activity from a while, no more reports from other users either, so closing it atm, please let us know if this is still an issue.

[2022-05-16 10:25] #10260 closed, assigned to memsharded

[2022-05-16 10:29] memsharded commented on #2340
This is closed by Conan 2.0 (already in alpha):

- No more profile auto-created
- ``conan profile detect`` output defined as not stable. It will now detect libc++11 for gcc>5

[2022-05-16 10:32] memsharded commented on #1788
Conan 2.0 changed the approach on default profile:
- Detecting libstdc++11 for gcc>5
- Not automatically creating a default profile
- Declaring the output of ``conan profile detect`` as non-stable, recommending the usage of user profiles for production.

[2022-05-16 10:32] #1788 closed

[2022-05-16 10:34] memsharded commented on #1968
Obsolete, Conan 2.0 requiring minimum 3.15.

[2022-05-16 10:34] #1968 closed

[2022-05-16 10:36] memsharded commented on #2079
CMake server no longer a thing, https://cmake.org/cmake/help/latest/manual/cmake-server.7.html, it was deprecated. Closing.

[2022-05-16 10:36] #2079 closed

[2022-05-16 10:42] #11251 closed, assigned to nobody

[2022-05-16 10:47] sbellus commented on #11262
Thank you, the solution is ok.

[2022-05-16 10:47] #11262 closed, assigned to memsharded

[2022-05-16 10:48] memsharded commented on #11245
When rebuilding the same source code but in different location, you get different binaries.

Sure, we know about this :) https://blog.conan.io/2019/09/02/Deterministic-builds-with-C-C++.html

The question is why do you need to do that. If you are using Conan 1.X, as long as you put the Conan cache in the same place (lets say, ``C:/myconan``, you will also get exactly the same path, like ``.../data

[2022-05-16 10:50] memsharded commented on #11254
I'd say that it is correct for the default ``semver_mode``. I guess that you are using some other mode, that implies that when zlib is built, all its consumers also need to be rebuilt?

[2022-05-16 11:04] boussaffawalid commented on #11245
In the path  `.../data/pkg/version/user/channel/package_id/build`, `version` and `package_id` could change without changes in the c++ source code.
For example, in our case, we generate a different a different package version for every commit. so the path `.../data/pkg/version/user/channel/package_id/build` is never the same.

[2022-05-16 11:08] memsharded commented on #11245
Why would you bump the version if you are not doing changes at all to the source code? This is a bit surprising to me, just trying to understand your flow and constraints.

[2022-05-16 11:12] memsharded commented on #11253
Can you try sharing the conanfile.py recipe for that specific package that is printing that information? (if private you can try emailing it to info@conan.io).

This seems a quite challenging issue to investigate in any case. To be honest, no idea of what could it be.

[2022-05-16 11:15] boussaffawalid commented on #11245
no changes in c++ code I mean.

Let's say somebody update a readme file, commit and push changes, in our setup, we create a new conan package with a new conan version, that means conan will now build in a different directory.

Now, the hashes of all c++ objects (lib, dll, exe) are different because the build and source directory are different.  (because some c++ file uses __FILE__ macro for exampl

[2022-05-16 11:24] memsharded commented on #11245
I see. This is one of the things that ``revisions`` aim to reduce. For example, if using ``revisions``, and ``exports_sources``, then the recipe revision will not be modified, and it will even know that it doesn't need to rebuild anything, no wasting an extra version and extra build time. Revisions were basically born as a way to track changes to things different to the C++ source code, that would

[2022-05-16 11:34] boussaffawalid commented on #11245
we use the `scm` method as we keep the recipe in our source control for internal products. btw, We need deterministic builds for internal projects only as for we rarely rebuild third party dependency.

in theory I want to achieve something like this.
[code]

Basically fooling cmake to always use `x:\ci\source\` as source directory and `x:\ci\build\` as build directory.

the issue now is that I can

[2022-05-16 13:28] mattyclarkson opened #11264 "Use `DESTDIR={selfpackage_folder}` rather than `--prefix={self.package_folder}`"
Settng the `--prefix` to the package folder can result in the prefix getting baked into some open source projects and lead to unrelocatable packages.

An idiom for autotools projects that results in more commonly relocatable packages is to do:

[code]

That will result in the same layout as this but avoids _most_ baking of the prefix paths, there are still a few projects that use `DESTDIR` to bake

[2022-05-16 13:29] mattyclarkson opened #11265 "Conditionally add `--enable-shared`/`--enable-static` configure flags."
Unconditionally adding these prevents using the `--enable-option-checking=fatal` option with projects that do not support these flags. For example, `make` and `m4` do not understand these flags.

_Originally posted by @mattyclarkson in https://github.com/conan-io/conan/pull/10978#discussion_r870131250_

[2022-05-16 14:15] dfleury2 opened #11266 "[bug] VirtualRunEnv: conanrun.sh stop in set -e mode"
Hi,
Debian 11, conan latest master, python 3.9.

Using the new VirtualRunEnv, if your "shell" environment has the 'set -e' activated, when `printenv` is used with an empty variable, it returns 1 and the script calling it just stop on error.

A patch could be in conan/tools/env/environment.py, replace
[code]
by something like
[code]
to avoid `Command failed with exit code 1` symptom.
Regards,

[2022-05-16 14:39] rconde01 commented on #11254
Hmm...let me lay it out in more detail:

`conanfile.py`
[code]

I expect that if I do:
[code]
That `libB` and `libC` would be built, based on the documentation. But I have to do:
[code]

Side question - does the order or the `--build` specs matter? how is the final list of "things to build" created?

[2022-05-16 14:54] xahon commented on #11257
I mean that maybe it would be better to allow profileless run of conan allowing user to set all the arguments via CLI. I have a profile that is nearly empty (only os and os_build are there now) and it seems to be redundant if we have appropriate CLI arguments for them as well. The main point of that is to automate conan "preparing" for cmake builds with its `conan_cmake_autodetect()` which is inte

[2022-05-16 15:02] memsharded commented on #11257
I see. It might be worth discussing the default for 2.0.

[2022-05-16 15:12] mh-ka opened #11267 "[question] Revision handling"
Hello there,

I have a few questions regarding revisions:
- Can the revision feature be disabled in artifactory itself or is this purely set on client side?
- Can package versions with revisions be consumed by a client after deactivating the revision feature? Or will conan strictly separate between package versions with and without revisions?
- Can a package version have both a non-revisioned fold

[2022-05-16 15:18] memsharded commented on #11266
Don't know enough about shell to understand what ``value=$(printenv $v || true)`` is doing, it is actually restoring correctly the variable value if we add it, or just not failing? Because probably it is better to locally make it work with ``set +e`` or something like that?

[2022-05-16 15:22] memsharded commented on #11267
It is enabled purely on client side, Artifactory always support revisions.

They can, technically, but it can get a bit messy. The recommendation is that moving to use revisions should be uniform, and all-in, do not mix with and without revisions in general.

Yes, it can. But the issue is about what is understood as "latest". Because the "0" revision can also become latest, but that is a bit weird

[2022-05-16 15:28] memsharded commented on #11254
I see. No, if the 3 libraries are not dependent on each other, it shouldn't matter, and the order shouldn't matter. If they depend on each other, then yes, the order matters. Conan expands depth-first, and it orders things to install/build according the resulting sorted topologic order of the graph.

I think the difference is that ``--build`` without arguments work slightly different that ``--buil

[2022-05-16 16:29] mh-ka commented on #11267
Thank you for your answers.

- By default, conan revisions are disabled on the client?
- If at lease one client activates revisions and uploads a revision, every consumer of this package version will automatically have to activate revisions? Or what is the exact trigger for conan to start displaying the message "[...]only works with revisions enabled. Set CONAN_REVISIONS_ENABLED=1[...]"?

The reas

[2022-05-16 17:07] memsharded commented on #11267
Yes, they are disabled, because of the stability commitment (check https://docs.conan.io/en/latest/introduction.html#stable), revisions had to be introduced as an opt-in feature

Not necessarily. I think other clients might still use that package revision. The message that are you seeing happen when "virtual" and "remote" repositories are used in Artifactory. Those repository types need to have re

[2022-05-16 18:00] rconde01 commented on #11254
1. I think the distinction is confusing...but I kinda get it - but would you say the example in the docs is wrong then?
2. So focusing on patterns, i'm wondering are all positive patterns applied before negatives? e.g.
[code]
could be different than:
[code]
depending on how things are applied.

[2022-05-16 18:20] dfleury2 commented on #11266
`printenv` command exit 1 for empty variable (like LD_LIBRARY_PATH can be), in this case, the shell will execute the || (OR) branch, which is `true` then the exit code of the "globale" command will be 0 instead of 1.
for non-empty variables, nothing change.
In both cases, value will be either the variable value or empty.

Yes, I put `set +e` global CI/CD script but it's not always possible due to

[2022-05-16 19:37] joshvazquez opened #11268 "[bug] RestV1Methods is instantiated missing config argument"
https://github.com/conan-io/conan/blob/0eb405bde999d5b7b8e706b206940d2e24aa828e/conans/client/rest/rest_client_common.py#L61-L64

https://github.com/conan-io/conan/blob/0eb405bde999d5b7b8e706b206940d2e24aa828e/conans/client/rest/rest_client.py#L112-L114

The instantiation of RestV1Methods is missing `self._config` as the 6th (excluding self) argument to `__init__` (defined in RestV1Methods's  pare

[2022-05-16 20:12] dvirtz opened #11269 "[bug] system_libs are linked before objects causing undefined references"
I have a recipe which includes compiled objects which depend on system libraries so I produce the following package info
[code]

however, the CMake config files produced link the system libs before the objects, which, on some systems, makes the linker not find the required symbols:
[code]

seems like the order should be reversed in https://github.com/conan-io/conan/blob/0eb405bde999d5b7b8e706b2069

[2022-05-16 22:45] zjturner opened #11270 "cmake-conan with conan 2.0"
Is there any official guidance regarding to what extent [cmake-conan](https://github.com/conan-io/cmake-conan) will be supported in 2.0?   I think at the very least `conan_cmake_run()` won't work, but it also isn't clear to me how `conan_cmake_install()` could work either.  If we're using `CMakeDeps` and `CMakeToolchain` then a toolchain file is going to be generated and passed to CMake on the com

[2022-05-16 23:50] memsharded opened #11271 "[develop2][bug] Confusing error message if version is wrong:"
[code]

For ``msvc`` in this case. The error message should be: this compiler version doesn't exist (display possible settings values for the compiler)

[2022-05-17 00:29] memsharded commented on #11268
Hi @joshvazquez

Thanks for reporting this. Could you please clarify how this can be reproduced from the command line? What errors are you seeing and how you got to this point?

[2022-05-17 01:37] paulharris commented on #11203
I'm closing this, I have a better PR to demonstrate the problem.

[2022-05-17 01:37] #11203 closed, assigned to nobody

[2022-05-17 01:56] paulharris commented on #11201
Sorry again, I've tested further and the problem still exists.
I've created a PR to make it easier to test the problem.

Test case: conan-io/conan-center-index#10825
Discussion on the reasons behind the bug: conan-io/conan#11201
My proposed fix: conan-io/conan#11217

[2022-05-17 06:20] Tumb1eweed opened #11273 "[question] How to package XXXConfig.cmake in conan package while using it in runtime?"
The situation is like this:
I want to build a conan recipe for libtorch, and libtorch has its own XXXConfig.cmake in /share/cmake, and how can I defind package function in conan to use this in-built config.cmake and in runtime?

[2022-05-17 07:21] lasote commented on #11239
It is not like an error from a c++ compiler, a missing import gives you a couple of clues.

But it is true that this situation will happen a lot with the migration to 2.0. We might try to introduce something temporarily and accessible to remove in the future?

[2022-05-17 07:33] memsharded commented on #11239
Maybe, but lets outline the solution:
- Every conanfile.py should be loaded as text before being used
- The ``required_conan_version`` needs to be manually parsed from that text

That means doubling the conanfile file loading time, for big graphs it could be even noticeable. There are risks of introducing bugs, like the loading of conanfile.py as text doesn't take into account some encoding, the `

[2022-05-17 07:46] memsharded commented on #11273
Not much to do:

- Just package the xxxConfig.cmake inside the package
- Depending on where you put it, you might need to add it to the ``builddirs``, like ``self.cpp_info.builddirs.append(os.path.join("hello", "cmake"))``
- You can use the ``CMakeToolchain`` in the consumer side (https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html), that will add those paths to the

[2022-05-17 08:06] memsharded commented on #11269
Thanks for reporting, trying in https://github.com/conan-io/conan/pull/11272 to see if this change could break something

[2022-05-17 08:36] paulharris commented on #10387
I've done some more work on this, and in the end I've patched VTK to just work with conan:
- find_package(Freetype) + target=FreeType::Freetype --> find_package(freetype) + target=freetype
- find_package(EXPAT) + target=EXPAT::EXPAT --> find_package(expat) + target=expat::expat

It is annoying that I can't use the namespaced targets with these libraries, almost feels like I'm using my Grandma's cm

[2022-05-17 08:44] SpaceIm commented on #10387
No. Custom Find module files written in a library for its dependencies are not the truth, otherwise we would have to provide all the custom target names that all downstream libraries in C/C++ ecosystem have manually created for their dependencies. The only source of truth is the config file provided by the dependecy itself, or https://cmake.org/cmake/help/latest/manual/cmake-modules.7.html#find-mo

[2022-05-17 08:48] gabyx opened #11274 "[bug] working dir in `sources` is `self.folders.sources` which it should not"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.48
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

[code]
When I call `conan create`: the working directory in `source` is including the one from layout, which it should not according to the docs: https://docs.conan.io/en/

[2022-05-17 09:21] gabyx opened #11275 "[question] How should replacement for `scm` work if recipe not in root Git dir"
I am working on replacing the `scm` attribute in https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html#example-implementing-the-scm-feature
I stumbled upon the fact that when the `conanfile.py` is in a subfolder `/workspace/repo/tests/project` (could also be a submodule, but ignore that for now) of the main repository `/workspace/repo` , then the example does not work, or I don't

[2022-05-17 09:48] SK83RJOSH commented on #3821
Another year, another bump! We're running into issues with incomplete packages en masse at work and we've had to resort to playing wack-a-mole by removing packages that fail to build and hope they get pulled down correctly this time around. We've not identified any particular cause for the failures in the first place, but having a tool to validate them before we kick off and wait for a lengthy bui

[2022-05-17 09:53] naveengadi1 opened #11276 "[bug] Unable to setup Conan training"
### Environment Details (include every applicable attribute)
  * Operating System+version:  Ubuntu 20.04
  * Compiler+version:
  * Conan version:1.48.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
git clone https://github.com/conan-io/training
cd training/docker_environment
docker-compose up -d
docker exec -it conan-training bash

### Logs (Executed commands with outp

[2022-05-17 10:20] memsharded commented on #11216
Lets do a workaround until Artifactory could fix the error message, capture the exception and re-raise with better error message.

[2022-05-17 10:26] memsharded opened #11277 "[develop2][feature] Upgrade hooks to 2.0"
- Only pre-post recipe methods will continue as "hooks" in Conan 2.0 (all hooks used in ConanCenter remain https://github.com/conan-io/conan/issues/11221)
- The other hooks will be moved to "plugins", similar concept, different naming.
- Not necessary to implement the plugins yet, lets discover the use cases with the users
- Review the pre-post recipe methods hooks APIs: arguments and syntax.

[2022-05-17 10:40] czoido commented on #11228
As a note, this comes from:
https://github.com/conan-io/conan/issues/5504

[2022-05-17 10:53] memsharded commented on #11245
Quick question, why don't you move the ``mklink`` to the start of the ``build()`` method directly?

[2022-05-17 11:41] memsharded commented on #11228
Let's do an attempt to clean this, see what would break, try different scenarios, like a conanfile.py/.txt with different encodings, see what breaks and how, etc.

[2022-05-17 11:45] memsharded commented on #3821
Hi,

You might try the ``--check`` functionality in the ``upload`` command, that validates packages contents against their manifests. something like:
[code]
could help

[2022-05-17 11:48] boussaffawalid commented on #11245
well, I want to use a pre_build hook just to keep the recipe clean, but `mklink` can be moved to the `build` method as well.
The question now, how to fool [cmake helper](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake.html) to use `x:\ci\source\` instead of `self.source_folder`

from conan docs,  [cmake constructor](https://docs.conan.io/en/latest/reference/conanfile/tools/cm

[2022-05-17 12:15] memsharded commented on #11257
We have checked this, the conclusion is that the following should work:
[code]
And in both cases it should do the same, for exactly the same configuration, just switching the ``build_type`` setting to Debug
Which means that when the ``--profile`` argument is not specified it will be defaulted to the ``default`` one, even if the ``--settings``, ``--options`` or other cli arguments are provided, the

[2022-05-17 12:47] SSE4 commented on #11228
I am not sure what to clean, where is just one function, not sure if it can be reduced 🤔
the test trying few different `conanfile.txt` encodiings (UTF8, UTF8BOM, UTF16LE, UTF16BE) already exists: https://github.com/conan-io/conan/pull/5506/files#diff-a1619b72518081b56c2b1f4206affc2403b09b83bcdb80415079844ae977c74cR11
you may try commenting out lines https://github.com/conan-io/conan/pull/5506/file

[2022-05-17 12:59] mh-ka commented on #11267
Thanks, this info is very helpful :-)

[2022-05-17 12:59] #11267 closed, assigned to nobody

[2022-05-17 14:09] SpaceIm commented on #11259
I think it's a side effect of this VSCode extension I've tried: https://github.com/afri-bit/vsconan. Each time this extension is loaded in side bar of VSCode, this issue occurs.

[2022-05-17 14:09] #11259 closed, assigned to nobody

[2022-05-17 14:56] memsharded commented on #11158
@SpaceIm I am having a look at this, and I am thinking making this public will not help for this. This is the implementation:

[code]
It means that the version that it is returning is not the compiler one, which is the one that recipes want to check in the general case to ``validate()`` compiler support. In 2.0 ready tools, the IDE version has been decoupled, so it is possible that the IDE version

[2022-05-17 15:17] rconde01 opened #11281 "[question] Add a few case studies to the docs"
I think it would be pretty useful to do one or more case studies on how (real) large projects are using conan in their day-to-day operations. Topics like:
- Remote setup
- How to
  - Add a new package
  - Update a new package
  - Lock packages
  - Level of redundancy
  - etc.
- Team roles (one person in charge of conan stuff or...)

I think this will help people with ideas, start discussions on th

[2022-05-17 15:24] DS-Serafin opened #11282 "[bug] tool.collect_libs behaves differently on mac and linux"
Mac and Linux both creaete symlinks without package version and libs with package version.

Linux: libmylib.so -> llibmylib.so.X.Y.Z
Mac: libmylib.dylib -> llibmylib.X.Y.Z.dylib

tools.collect_libs with make a os.path.splitext and check if the extension is a valid lib extension. Both symlinks are fine:
 libmylib.so  -> ext = .so (valid and listed)
 libmylib.dylib -> ext = .dylib (valid and listed)

[2022-05-17 15:34] gabyx commented on #11282
Jeah, `collect_lib` should collect all libs (even symlinks) and also it should report
a list of (`fileName`, `path`) instead of only the filenames, to allow the user to check other stuff on these files... discarding symlinks.

On linux the additional check:

[code]
should be done...

[2022-05-17 15:45] SpaceIm commented on #11158
Would it be possible to provide an helper function returning standard IDE version associated with a given cl version, so that we can smoothly support both `compiler=Visual Studio` & `compiler=msvc` during conan v1 => v2 migration? Maybe it would be misleading for conan v2.

As I said for the migration, something like this:

[code]

would become something like this:

[code]

Maybe it could be the o

[2022-05-17 15:50] memsharded commented on #11158
Yes, I think the compiler-version based approach ``if is_msvc(self) and vs_cl_version(self) < "190":`` would be the most aligned with Conan 2.0 (recall that in Conan 2.0, we use ``conan install . -s compiler=msvc -s compiler.version=191``)

[2022-05-17 16:59] wooleyra commented on #10913
Ran into this bug as well. We use "C:\conan" for storing packages in order to keep the path short and consistent among all machines. The workaround seems to work but means we would need to change our storage path on all machines in order to run the latest Conan (including build machines).

It would be nice to see a fix for this before 2.0, especially since it is something that broke recently.

[2022-05-17 23:27] paulharris commented on #10387
Ok, how about the library naming conventions within the conan-cmake ecosystem ?

eg, typically for vtk you would do
find_package(VTK)
target_link...   VTK::Common
https://cmake.org/cmake/help/latest/module/FindVTK.html

But if the goal is to prefer CONFIG style finders,
then should it become find_package(vtk)   and VTK::Common ?
ie cmake_target_name = vtk ?   or vtk::vtk ?
or cmake_target_name = V

[2022-05-17 23:37] SpaceIm commented on #10387
Just follow upstream convention? I don't understand all these questions. It's even explicitly described in https://cmake.org/cmake/help/latest/module/FindVTK.html

FindVTK.cmake is the module file
VTKConfig.cmake is the config file

So a vtk recipe should follow these names in `package_info()`, it's the only criteria.

[2022-05-18 02:42] Tumb1eweed commented on #11273
Thanks, I try this now.

[2022-05-18 05:09] magras opened #11286 "[bug] missing CMakeUserPresets.json"
Conan 1.48.0 does not generate `CMakeUserPresets.json` if `conanfile.txt` used instead of `.py`.

Probably this is duplicate of #11172.

### Environment Details
  * Operating System: linux
  * Conan version: 1.48.0

### Steps to reproduce
[code]

### Output
[code]

[2022-05-18 06:58] franramirez688 commented on #11286
Hi @magras

That's expected because it needs a ``layout`` to create the ``CMakeUserPresets.json``, so it's impossible to do that without a ``conanfile.py``:

[code]

That's why it's failing when a ``conanfile.txt`` is there instead.
More information [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#using-the-toolchain-in-developer-flow).

[2022-05-18 07:19] franramirez688 commented on #11281
Hi @rconde01

Thanks for the suggestion!
We're working hard on the new Conan 2.0 documentation and adding real examples here: https://github.com/conan-io/examples2 using the new generators, build helpers, lockfiles, etc. that are linked to the documentation.
I'm sure we could most likely add more examples covering all the hot topics, and, for sure, any contribution there would be more than welcome

[2022-05-18 08:13] paulharris opened #11287 "[bug] cannot create package with tool_requires(cmake)"
See conan-center-index#10833

[code]

Fails with:
[code]

[2022-05-18 08:39] Tumb1eweed commented on #11273
If I have three packages, and two of it should use cmake_find_package as generator, last one should use CMakeToolchain as generator, how should i write this in conanfile.txt?

[2022-05-18 08:42] memsharded commented on #11273
It doesn't work that way. ``cmake_find_package`` is a generator for dependencies while ``CMakeToolchain`` is about the current package ``settings``, not dependencies, and adding paths to find files, but not actually defining the dependencies information.

You shouldn't mix generators, if you are using ``CMakeToolchain``, you should use ``CMakeDeps`` (it is an evolved improved version of ``cmake_fi

[2022-05-18 09:36] Tumb1eweed commented on #11273
Is there any example about using CMakeToolchain or CMakeDeps? In creator view and consumer view.

[2022-05-18 09:52] tungnguyen279 opened #11288 "[question] Remotes unreachable although Ping was still working."
I am installing conan-file. And somehow i can't retrieve data from remote server. The Ping command for this server still works.
Here is the notifications of the problem.

**eem_mlbevo_toolchain/0.4@eem_mlbevo/testing: Not found in local cache, looking in remotes...
eem_mlbevo_toolchain/0.4@eem_mlbevo/testing: Trying with 'ee-conan-toolchain'...
ERROR: Failed requirement 'eem_mlbevo_toolchain/0.4@e

[2022-05-18 10:20] lasote commented on #11249
We are focusing on the Conan 2.0 lock-file implementation. We are very close to the Beta. We know the Conan 1.X has limitations but this is not going to be fixed.

[2022-05-18 10:20] #11249 closed, assigned to nobody

[2022-05-18 10:45] memsharded commented on #11288
This looks like a server configuration issue. As you are using nexus, that is a server that we don't manage, we cannot know what is happening, so you would need to report the issue to their respective issue tracker.

You can also try with ArtifactoryCE from the https://conan.io/downloads.html page, which is free for Conan usage.

[2022-05-18 10:49] memsharded commented on #11273
Sure, the ``conan new hello/0.1 --template=cmake_lib`` gives you a working example (the ``CMakeDeps`` usage is in the ``test_package/conanfile.py``, but you can easily extrapolate that to the package ``conanfile.py``).

[2022-05-18 10:53] lasote commented on #11239
I was thinking about trying to locate the ``required_conan_version`` "manually" only after getting an `ImportError` (to improve the error message if we locate the required_conan_version, or keep raising otherwise)

[2022-05-18 10:58] memsharded commented on #11287
I think this has been addressed in https://github.com/conan-io/conan-center-index/pull/10833, this is not a Conan issue per se, but the fact that ConanCenter is still not using the 2 host/build profiles yet. Using the two profiles would solve the issue.

[2022-05-18 10:59] memsharded commented on #11239
Oh, that could be a better approach, indeed. We could give that a try 👍

[2022-05-18 11:13] czoido commented on #11265
Hi @mattyclarkson,
Thanks a lot for reporting this, I have opened a PR to fix this: https://github.com/conan-io/conan/pull/11284

[2022-05-18 11:14] czoido commented on #11264
Hi @mattyclarkson,
Thanks a lot for reporting this, I have opened a PR to follow that flow: https://github.com/conan-io/conan/pull/11284

[2022-05-18 11:20] memsharded opened #11290 "[develop2][feature] Consider adding ``buildenv`` in cli"
All profile items, settings, options, conf are CLI args, except the ``buildenv``.
Should it be added?

[2022-05-18 11:41] franramirez688 commented on #11177
Hi @ZbigniewRA

After discussing the issue, we think that there are two ways to solve this issue (without adding an additional variable like was done in the legacy CMake build helper through the `CONAN_CMAKE_PROGRAM` one):

* Prepend directly the `cmake` path to your current path.
* Prepend the `cmake` path through the `[buildenv]` section in your profile. For instance:
[code]
This is the same cas

[2022-05-18 11:41] #11177 closed, assigned to franramirez688

[2022-05-18 11:51] #11086 closed, assigned to nobody

[2022-05-18 12:13] memsharded commented on #11242
The Conan protocol and its reference ``conan_server`` implementation implements a 404 for the ``revisions`` endpoints with a non-existing package:
[code]
And for the package endpoint too:
[code]

Verified that Artifactory returns 200 OK with an empty list of revisions for these 2 endpoints.

[2022-05-18 12:20] memsharded commented on #11242
Nothing else we can do at the moment, passing the information to Artifactory team.

[2022-05-18 12:26] Xav83 opened #11291 "[feature] Adds GCC 9.4 in the list of compilers supported in the settings file"
Hello Conan devs :slightly_smiling_face:

First of all, thanks for your amazing work ! I love how conan simplify my work on the daily basis !

I come to you today with this issue which I don't know if I should categorize it as a feature request or a bug:
- **Adds GCC 9.4 in the list of compilers supported, in the settings file.**

## Context

On a project I am working on (currently private, but it

[2022-05-18 12:42] lasote commented on #11150
Hi, I get the "surprises" and I'm checking what can we do but I'll try to explain why is behaving like that. By the way, thank you so much for the example.

- The `sym` folder is a file, that is a symlink to (in the case of your test) an absolute folder `<abs_path>/gen/`.
- Conan provides some tools at `conan.tools.files.symlinks` to manipulate these symlinks, for example
   `absolute_to_relative_

[2022-05-18 13:22] thorsten-klein commented on #11236
Hello @jcar87 ,
do you have any hints for me 👍🏻  ?

[2022-05-18 13:24] thorsten-klein commented on #11258
I think this will be possible if your conanfile.py is written to be compatible with 1.X and 2.X both
(e.g. tool_requires instead of build_requires, etc...)

Most likely you can only reach this compatibility between a really new 1.X (e.g. >1.47) and 2.X

[2022-05-18 13:38] memsharded commented on #11158
Proposing a checker for more convenience: https://github.com/conan-io/conan/pull/11292

[2022-05-18 13:52] jcar87 commented on #11236
Hi @thorsten-klein  - thanks for raising this question.

If I understand correctly, once you download a package from the remote or building from source, you no longer need the sources or the cached downloaded folder or the build folders.

In the case of the sources and builds, you could use the `conan remove` (docs [here](https://docs.conan.io/en/1.48/reference/commands/misc/remove.html)) to remov

[2022-05-18 13:59] thorsten-klein commented on #11236
Hello @jcar87 ,

Actually I do not want to run this `conan remove` by myself. I would expect, that conan is cleaning up these files correctly by default (e.g. after they were copied / unpacked).

Wouldn't it make sense to cache these `dl` files in any other folder , e.g. inside the `download_cache` ?

[2022-05-18 14:19] memsharded commented on #11236
Quick note: Not removing the .tgz files after download is a feature. Initially they were removed, but that meant that install/download + upload operations were too slow, because they need to re-zip, which is a big bottleneck. So users requested that these files were not removed, and now those flows are definitely much faster, (and users that want to remove those files and free space, they can remo

[2022-05-18 14:25] memsharded commented on #11291
Hi @Xav83

Thanks very much for your report!
Indeed that compiler version is missing in our default settings.yml, no need for more details, thanks.

Lets add it, if you want to do it, that is perfect, don't worry this is an easy one: 😄
- Add it to the default settings.yml (in ``conans/client/conf/__init__.py``)
- Add a new migration in ``conans/client/migration_settings.py`` for the ``1.49`` next

[2022-05-18 14:37] memsharded opened #11293 "[develop2][feature] Allow defining different ``--build`` for build and host, or for different configurations"
Following up from https://github.com/conan-io/conan/pull/11244, the problem is:

[code]

- When doing a ``conan create .`` that implies ``--build=tool``, so both the "build" and "host" packages are always re-built from sources, when only the "host" should be rebuild in general if the "build" binary already exists
- The ``conan create . --build=missing`` can work, but it has the inconvenient that i

[2022-05-18 15:10] jcar87 commented on #11236
Hi @thorsten-klein thanks for the quick reply!!

I believe running conan remove in a way that it preserves the packages would address your initial concern of ensuring that the the cache is not corrupted, by avoiding accidental manual file system operations.

As for Conan automatically deleting certain files, it is difficult Conan to predict which files may be needed to satisfy future operations, a

[2022-05-18 15:29] memsharded commented on #11108
This is not necessary for 1.49, just a nice to have. Moving it to 2.0-beta.1

[2022-05-18 16:05] Xav83 commented on #11291
Thanks a lot for all those information @memsharded ! Those helped me a lot! :heart:

So I have created the Pull Request #11296 with the modification you described. :slightly_smiling_face:

[2022-05-18 16:09] magras commented on #11286
So what I should do if I'm using `.txt` and `CMakeToolchain` generator in my projects?
* As a short term solution I guess I can symlink  `CMakePresets.json` to the root of the source dir.
* What will be the long term solution? Rewrite `.txt` to `.py`?

[2022-05-18 16:20] anderson-dev opened #11297 "[question] CI builds fail if recipe has not changed"
Currently, our CI pipeline consists of source pull, restore (conan install), build/test (conan build), package (conan export-pkg), publish (conan publish), and finalize stages. If someone kicks off a build more than once accidentally, the first build job goes through all stages just fine but each subsequent job fails due to a stderr when `conan export-pkg` is run. The packaging step fails because

[2022-05-18 16:41] franramirez688 commented on #11286
I guess it could be better to rewrite it and try a simple one. For instance, this could be good enough:

[code]
If you only want to use that generator, then I think you can use this one. The advantages of using it are that you can always customize it, e.g., if you need more ad-hoc configurations, builds, etc.

UPDATED: even simpler:

[code]

[2022-05-18 17:16] joshvazquez commented on #11268
@memsharded I am working on a fork with cookie-based authentication to remotes and I encountered this while wanting to access `self._config` in `RestCommonMethods.check_credentials`.

This bug has no impact in the current version because the `RestV1Methods` instantiated by `RestApiClient.authenticate` never accesses `self._config`. The bug only appeared when I modified `RestCommonMethods` to acces

[2022-05-18 17:19] magras commented on #11286
IIRC toolchain generator should become the main generator for cmake in conan 2.0.
Does it mean that usage of `.txt` is discouraged and will be deprecated in 2.0?

[2022-05-18 17:28] memsharded commented on #11286
No, the ``.txt`` will still be there. And the new CMake integration will still generate a ``CMakePresets.json`` file, it is only the ``CMakeUserPresets.json`` that might be generated under certain conditions (it is not already existing), and that might be used to aggregate multiple different configurations (each one might have a different ``CMakePresets.json`` in a different folder), but for this

[2022-05-18 17:32] memsharded commented on #11268
Thanks for the details.

As this is not breaking user space, and this has already been removed in Conan 2.0 (only V2 remains), I think we can mark this as solved in 2.0.

Thanks again for reporting!

[2022-05-18 17:32] #11125 closed, assigned to czoido

[2022-05-18 17:34] memsharded commented on #11291
Closed by https://github.com/conan-io/conan/pull/11296

[2022-05-18 17:34] #11291 closed, assigned to Xav83, memsharded

[2022-05-18 18:31] magras commented on #11286
So again what is the long term solution for `.txt`?
* to use symlink or to write my own `CMakeUserPresets.json` that includes `build/CMakePresets.json`?
  It sounds reasonable for a dev environment, but I dislike it in most other scenarios, such as on a build server.
* to ask cmake devs for a new option to specify preset file location?

[2022-05-18 19:21] mattyclarkson commented on #11179
Yeah, I was being stupid, sorry.

I've created what I think is a reproduction in [02aa02b9](https://github.com/mattyclarkson/conan/commit/02aa02b953c2374fcd1ee9e51ec745af4b9b1588). Haven't updated the PR but you're free to take ownership/copyright of that patch if it leads you towards a fix.

`test_tool_requires_with_test_and_tool_requires` should fail
`test_tool_requires_with_test_and_test_requir

[2022-05-18 21:28] memsharded commented on #11286
Of course, requesting the possibility to CMake to allow defining a custom location of the presets file would be ideal. I don't understand why they won't allow specifying the location of a presets file.

Besides that, yes, you have different possibilities, the one you commented. Or just use a ``conanfile.py``, for 98% of usage it is irrelevant if .py or .txt, because it is just used, and for the ot

[2022-05-18 23:26] johnmcfarlane opened #11299 "[question] passing `-DSOMETHING` to cmake configure command"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi. Following from #4572, I'm curious about the best way to pass certain variables, esp. pertaining to analysis tools such as: `CMAKE_CXX_INCLUDE_WHAT_YOU_USE`, `CMAKE_CXX_CPPCHECK`, and `CMAKE_CXX_CLANG_TIDY`.

They're not really toolchains per se, so setting them through a toolchain

[2022-05-19 01:39] paulharris commented on #11287
This happens locally to me as well, not just on CCI's CI build platform.
Can I somehow use 2 host/build profiles locally?  How?   Is that -pr:b=default -pr:h=default or something like that?

Is the solution that we must bump the openssl version across the board all the time?

Is this problem related to OpenSSL's weird version number, ie 1.1.1n instead 1.1.2... is that semver compliant?

[2022-05-19 02:29] fittyCent commented on #11067
Hi @memsharded

Sorry for the late post. I wanted to get something working with my weird set up before I responded. Here's what I did:

- `repo1`
   - conanfile.py
      - require dependency called `redis-plus-plus`
      - Windows generator: `MSBuildDeps`
      - Linux generators: `CMakeDeps` and `CMakeToolchain`
      - layout() points all generated files to `repo1/conan`
         - This generat

[2022-05-19 02:29] #11067 closed, assigned to memsharded

[2022-05-19 03:24] paulharris opened #11300 "[feature] add should_patch in addition to should_build and friends"
Docs: https://docs.conan.io/en/1.48/reference/conanfile/attributes.html#attribute-build-stages

First, it is confusing that the docs specifically say:
[code]
But this isn't working for me and my cmake-based build() functions.
In the next paragraph, it implies only Autotools and Meson are supported... so why use a cmake example if it doesn't actually work with cmake (or at least state that lack of

[2022-05-19 06:14] mvhv opened #11302 "[question] Manually configuring (or disabling) the /MPxx flag for MSVC profiles?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

### Question
With an MSVC profile CMakeToolchain generator creates a `conan_toolchain.cmake` file that sets the number of compilation processes by setting the `/MP` flag like so:
[code]
How can I modify/disable this functionality? (Obviously aside from manually editing the lines or wr

[2022-05-19 07:11] mvhv commented on #11302
Alright, I've partially answered this question myself. The documentation for CMakeToolchain mentions a parallel ["block"](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#extending-and-customizing-cmaketoolchain) avaliable for extension, and that is where the /MP flag is set. Is there any way to disable that "block" with configuration, or does that mean disabling

[2022-05-19 07:26] memsharded commented on #11300
In Conan 2.0, all these ``should_xxx`` arguments and behaviors have been removed, deprecated in favor of the local developer flow (just ``conan install`` + native build system) and ``conf`` items.

So I don't think it is worth adding this at this stage. Thanks for the suggestion.

[2022-05-19 07:32] mvhv commented on #11302
Okay, this clears up the last part of my own question. I can see [here](https://github.com/conan-io/conan/blob/0a27518b5f3617a6730df97965a1e0f4e8409e07/conan/tools/cmake/toolchain/blocks.py#L279) that the `ParallelBlock` simply checks for the number of logical threads as a template parameter, and there is a TODO indicating that a config check should be added.

Closing this question now and I'll op

[2022-05-19 07:32] #11302 closed, assigned to nobody

[2022-05-19 07:45] memsharded commented on #11299
Why not? I'd say the opposite, it totally seems to me that defining things like CPPCHECK or CLANG_TIDY is totally part of the applied toolchain

How are you passing the toolchain? with a ``conf`` in the profile with ``tools.cmake.cmaketoolchain:user_toolchain``? This sounds totally reasonable to me, this was basically the intent of this feature.

[2022-05-19 07:51] memsharded commented on #11302
Hi @mvhv

The number of build jobs used in this block is controlled by ``tools.build:jobs`` conf, have you tried that one?

[2022-05-19 07:59] memsharded commented on #11067
Hi @fittyCent

Thanks for following up and reporting your setup.
Happy to know that you managed to get a setup that works for you, and the pointers helped.

Just one small recommendation:
- The ``include(repo1/conan/conan_toolchain.cmake)`` is probably not good practice, the toolchains are intended to be passed with ``cmake ... -DCMAKE_TOOLCHAIN_FILE=xxxx`` and not included

Also, at some point (n

[2022-05-19 08:07] #11268 closed, assigned to nobody

[2022-05-19 08:12] mvhv commented on #11302
Hi @memsharded

Yeah, I did find that parameter, but it doesn't solve the problem because `tools.build:jobs=x` always results in `/MPx` being added to the flags, with a default lookup of number of CPU cores for a non-int value.

It seems like it should be a non-issue, but the problem it's that it's the only block in the CMakeToolchain generator that will always modify the default `CMAKE_CXX_FLAGS`

[2022-05-19 08:28] memsharded commented on #11302
I think that ``tools.build:jobs=0`` will simply not define that flags, please try it and let me know

[2022-05-19 08:43] mvhv commented on #11302
@memsharded Ahh, you're right... Thanks for that, it seems like I was just thinking too hard about it.

I was looking at `conan.tools.build.cpu.build_jobs()` and focusing on the defaults for `None` but I overlooked how [this](https://github.com/conan-io/conan/blob/0a27518b5f3617a6730df97965a1e0f4e8409e07/conan/tools/cmake/toolchain/blocks.py#L280) obvious if statement falls through on 0.

Thanks.

[2022-05-19 09:17] MTomBosch opened #11303 "Login error after changing remote adress for existing remote name"
We are currently in the phase of migrating from one Artifactory instance to another one.
To make the migration as transparent as possible for the developers and our pipelines we have not introduced new remote names but kept the current remote names and just change the target address. After setting up the updated remotes we sporadically get login 403 errors in our pipelines with following error mes

[2022-05-19 09:31] mattyclarkson opened #11304 "[feature] add `self.*_path` properties that return `pathlib.Path`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

We have `recipe_folder`, `source_folder`, etc that return `Optional[str]`.

It would be nice to work with filesystem paths using [`pathlib.Path`](https://docs.python.org/3/library/pathlib.html).

As the `*_folder` can be `None` in certain stages, it is usually a programming error acce

[2022-05-19 10:04] memsharded commented on #11304
The problem with this is that Conan 1.X still supports Python 2.7 (sigh, I know...), so this couldn't be added.
Then we need to keep the current ``xxx_folder`` as strings for the Conan 1.X -> Conan 2.0 migration.

We will probably start to use ``Pathlib`` gradually at Conan 2.X (once the migration cliff has been surpassed), and from there we might be able to consider this request.

[2022-05-19 10:18] mattyclarkson commented on #11304
Makes sense.

A possible way to support this AOT would be to add [`pathlib2`](https://pypi.org/project/pathlib2/) in `conans/requirements.txt`:

[code]

[code]

Then we could have the newer properties available before v2.0.0 to aid transition. It might be possible then to just nuke `*_folder` attributes as a backwards incompatible change. Would be nice to be in `pathlib` world in v2.

[2022-05-19 10:28] memsharded commented on #11303
Yes, could be related, and unfortunately as you described, this might be a challenging issue to reproduce and fix.

Quick question, why are you doing both setting the env-vars and then ``conan user -p`` login? The idea of the env-vars for user/password is that they replace the need for an active login. And if you do the login, then you don't need the env-vars? Am I missing something here?

[2022-05-19 10:47] Tumb1eweed commented on #11273
How should i use in conanfile.txt to consume package with CMakeToolchain generator?

[2022-05-19 11:22] MTomBosch commented on #11303
The "conan user -p login" takes the credentials from the env vars to do the login since we have disabled interactive mode.

Maybe the conan user -p is not required, I can try it out. But due to the fact that I cannot reproduce it easily I am not sure if this really helps.

I was hoping that someone says "I know this problem, it is because of ...".

Nevertheless thanks for the reply.

[2022-05-19 11:26] johnmcfarlane commented on #11299
Perhaps Conan treats a toolchain as a file for passing variables to the build system generator - which is true. However, for embedded developers and others who have to deal with cross-compilation, and as someone following the meaning of toolchain that seems to be intended by the CMake project, the intent of these files is [far more specific](https://cmake.org/cmake/help/latest/manual/cmake-toolcha

[2022-05-19 11:34] MTomBosch commented on #11303
In the Conan docs it says that the auth key (after successful login) is saved in an internal db. Is it known where this db file is located? If it is in the Conan user home then using per pipeline job a dedicated user home might help to resolve this problem.

[2022-05-19 11:41] fourbft opened #11305 "[bug] conan inspect (and some other commands) do not work with new explicit alias syntax"
### Environment Details (include every applicable attribute)
  * Seen on Linux, but should be reproducible on any os.
  * Conan version: 1.48.1, 1.44.1

### Steps to reproduce
Create an alias to any conan package in the cache.
E. g.
[code]
Then try to inspect it with explicit alias syntax:
[code]
Which results in an error: "Not found in local cache, looking in remotes..."
(and of course, it is not

[2022-05-19 12:37] paulharris commented on #11300
Ok sounds good!  I'll close this then.

[2022-05-19 12:37] #11300 closed, assigned to memsharded

[2022-05-19 13:06] memsharded commented on #11303
Yes, it is stored in a sqlite database ``.conan.db`` inside the cache home folder, typically in your ``<userhome>/.conan`` folder. I also think having a different CONAN_USER_HOME per job would help, if you can try that, please check it.

[2022-05-19 13:09] memsharded commented on #11273
[code]

[2022-05-19 14:16] memsharded commented on #11179
Thanks for your super detailed analysis, including the 2 complete tests reproducing. That was very helpful.

One important note: In Conan 1.X, when using the ``self.tested_reference_str`` inside ``build_requirements()``, you want to add the ``test_type = "explicit"`` attribute, otherwise that tested reference will also be added as a regular requirement of the ``test_package``, and you probably don

[2022-05-19 15:30] mattyclarkson commented on #11179
Sorry, missed that from the test. We _do_ have that on our internal test packages.

Shows my lack of understanding in Conan 😅

That's not really the issue. The issue is when the package is used by other packages a `tool_requires` it breaks in the same way as the `test_package` this makes tools that have the same tools in `requires`/`build_requires` a blocking issue in v1. We literally cannot use t

[2022-05-19 18:13] anderson-dev commented on #11297
If recipe is the same but at least one upstream package is new, the package exports successfully but promotion from one channel to another (conan copy) fails because that recipe already exists as well. I could check to see if recipe exists first but then recipe revisions would be non-functional.

I imagine I'll have the same issue for conan publish if both recipe/package haven't changed

[2022-05-19 19:58] MTomBosch commented on #11303
OK. I was expecting that file too to store the auth key but during testing I could not see a changed date of the file after using a new password. Maybe I did something wrong here. In the end it does not matter much because we found the root cause:
Due to some internal concurrency/race condition issues we really used the wrong password (old pw for new remote). But after setting the correct password

[2022-05-20 02:30] Tumb1eweed commented on #11273
After I use generators "CMakeDeps" for conan package and write those paths in package_info
[code]
I use conan install and still can't find any toolchain file like (https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html) said, is it because my conan version is only 1.48? I get warnings like:
[code]

[2022-05-20 07:38] Tumb1eweed commented on #11273
Very helpful! Thank you.

[2022-05-20 07:38] #11273 closed, assigned to nobody

[2022-05-20 09:35] fl0wm0ti0n opened #11315 "ERROR "Profile not found" but the list command is showing them"
Hello,

conan doesnt find profiles, but with "conan profile list" it can find some. See exemple:

[code]

OS: WSL2 - Debian 9 (Stretch)

How it works:
`flow@lightmachine:~/temp/hello_world$ sudo conan install . -pr ~/.conan/profiles/clang-6.0-linux-x86_64`

[2022-05-20 11:52] mattyclarkson opened #11311 "[feature] allow dyanamic user/channel in `python_requires`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When using [`python_requires`](https://docs.conan.io/en/latest/extending/python_requires.html#python-requires) it would be useful to propagate the current user/channel into the reference.

The naive way to do it would be to do:

[code]

This isn't possible because the `python_requires

[2022-05-20 12:55] SpaceIm commented on #11287
To always use 2 profiles by default, you can create `global.conf` file in `.conan` folder with this content:

[code]

Even with 2 profiles, conflicts may occur in conan-center recipes since there is no version range. Consumers can resolve these conflicts, but not CI of conan-center-index. This is why, sometimes, widely used dependencies (mainly zlib, openssl and boost, but also libcurl, libiconv,

[2022-05-20 14:10] DS-Serafin commented on #648
Just wanted to bum this / add some context. The current compression seems very inefficient on certain packages. Compressing a build of grpc oder google-cloud-cpp takes multiple minutes on my mac. This is very anoying and in the range of brocken in my opinion.

[2022-05-20 16:18] Sil3ntStorm commented on #11248
any insights @memsharded @SpaceIm ?

[2022-05-20 18:13] ggulgulia opened #11312 "[question] using build_modules for library and runtime linking to executable in consumer package"
## Short Description
When I use ` self.cpp_info.components[lib_name].build_modules["cmake_find_package"]` in the conan recipe and consume this in another reicpe, I face runtime error in executable linking to the library created with the former recipe.
## Details

###  I have two conan recipes, say `A` and `B` which I want to build as shared library

#### For conan recipe of  `A`:
* `libA` provides

[2022-05-20 18:38] SpaceIm commented on #11312
What is the content of test package conanfile?

Your transitive shared lib is not found likely because `LD_LIBRARY_PATH` has not been populated before running the executable.

You should have `self.run(<exe_path>, run_environment=True)`, note the `run_environment=True`.

[2022-05-20 18:54] mpconte commented on #11241
@memsharded That seems to have done it. Thank you.

[2022-05-20 19:38] dkumsh opened #11313 "[question] How can I use new (Conan 2.0) CMake, CMakeToolchain, CMakeDeps and cmake_layout together ?"
Currently I am using conan 1.48.

The following recipe works except that it ignores generator **Ninja**  and uses make instead.

[code]
If I try to switch to use layout:
[code]
after adding these two lines I get the following errors:

[code]
Under `~/.conan/data/platform-cpp/1.0.0/_/_/build/7f0d27bcdd1b0b01a4f225a668de6ab381c54124#` directory
I can see the following tree:
[code]
`./build/` contain

[2022-05-20 19:56] rconde01 opened #11314 "[feature] Allow to use conanfile as a options source"
Sometimes you want to perform an operation on a single package that is dependent on options. But those options are stored in your consumer conanfile.py (or I suppose alternatively conanfile.txt). It is undesirable to manually copy those options out. It would be convenient if you could say something like: `--options-from conanfile.py` which would get your configured options and apply to the operati

[2022-05-20 23:32] paulharris commented on #11287
Does CCI need the human in the loop to check each dependency bump will work?
I can understand that you want a human to "sign off" on a new (eg) openssl version before applying changes to every consumer of CCI packages,

But would it work if there was an external list of "compatible versions" that a human added to, and these recipes referred to?
ie the requires = "openssl/1.1.1k or CCI compatible"

[2022-05-21 06:59] ggulgulia commented on #11312
hi,
there was indeed a problem in the `test_package` of recipe `B`. I was using `subprocess.Popen` to run the executable which is required in our organization to fail CI jobs if test did not run:

[code]

using `self.run(<exe_path> run_environment=True)` worked and the test_package for recipe B ran linking correctly to `libA6.so.6.`

[2022-05-21 09:25] #11313 closed, assigned to nobody

[2022-05-21 11:32] memsharded commented on #648
Hi @DS-Serafin

But have you read the above rationale, that made us close this issue? We know this can be slow in some cases, but the thing is that a package should be compressed once, but they will be decompressed many many times. So the compression algorithm has to be chosen based on the decompression speed, not on the compression speed. Using LZMA optimizes for size, not compression/decompressi

[2022-05-21 11:36] memsharded commented on #11315
Hi @fl0wm0ti0n

the first case is expected, there is typo in the name ``clang-6.0-linux-x86_6``. I guess that if you use the correct name, still happens?

I would say this is an issue of paths and ``userhome`` folder resolution related to WSL2.

What does ``conan config home`` shows there?

[2022-05-21 11:37] memsharded commented on #11315
Issue transferred to the Conan repo, doesn't seem an issue with the docs, but with Conan itself

[2022-05-21 12:01] memsharded commented on #11313
Hi @dkumsh

I guess that you managed to solve it. Some hints, also for other readers:

- It is possible that the location of the sources was relevant. The ``cmake_layout()`` assumes the sources are in a certain place (but it can be changed with a parameter for the function)
- It is not necessary to hardcode ``generator="Ninja"`` in the recipe, there is a ``conf`` to change this and control it from

[2022-05-21 16:38] ssrobins commented on #9284
Any updates or suggested workarounds?

[2022-05-22 08:24] fl0wm0ti0n commented on #11315
yeah also correct written it happened, i tried it many times

unfortunately i deleted the WSL2 Distro with Conan installed. Cause i destroyed it and i dont need it anymore.

But these were the Steps i did before:

2. sudo apt-get install zlib1g-dev
3. sudo apt install libssl-dev
4. sudo apt install libncurses5-dev
5. sudo apt install libsqlite3-dev
6. sudo apt install libreadline-dev
7. sudo apt i

[2022-05-22 09:09] johnmcfarlane commented on #11299
I should also add that doing this in vcpkg is perfectly straight-forward.

[2022-05-22 10:19] sztomi commented on #648
@memsharded I'd argue that zstd offers the best tradeoffs, as it was shown in this thread. It is several times faster than zlib/gzip for decompression and offers a better compression/speed ratio consistently.

[2022-05-22 21:54] memsharded commented on #648
Several times faster in decompression? This is not what the graphs above are showing. They consistently show decompression times in the same order of magnitude, actually really close. It seems like it would be slightly faster, maybe 5-10%, but not several times faster.

And the complexities for integrating such a compression algorithm in the Conan app would be huge, introducing a high fragility, t

[2022-05-22 22:03] memsharded commented on #9284
Hi @ssrobins

Yes, the ``CMAKE_OSX_ARCHITECTURES`` is defined by the ``CMakeToolchain``, the ``AppleBlock``.
You can override its value with (check https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#extending-and-customizing-cmaketoolchain):

[code]

[2022-05-22 22:08] memsharded commented on #11315
Hi @fl0wm0ti0n

Yes, this could be related to some messing of folders with the sudo/root installations.
As this is not possible to reproduce from our side, and you already deleted that faulty installation, I think it is not longer worth investigating this. If this happens to you again in other installation, please let us know. Thanks!

[2022-05-22 22:08] #11315 closed, assigned to nobody

[2022-05-22 22:14] memsharded commented on #11311
Hi @mattyclarkson

We are aware of this, but this is a difficult to solve chicken and egg problem
The problem is that ``python_requires`` is evaluated the very first thing when a recipe is loaded by Python interpreter, in case it is necessary to extend from a base class in that ``python_requires``. Then everything else happens, from loading the ``conandata.yml``, calling ``set_name()`` and ``set_v

[2022-05-22 22:17] memsharded commented on #11303
Due to some internal concurrency/race condition issues we really used the wrong password (old pw for new remote). But after setting the correct password and trying to login we ran into the problem described here: https://github.com/conan-io/conan/issues/11303.

Happy to know you found the root issue!

It seems you are linking this same issue? :) Did you intend to link another one I guess?

[2022-05-22 22:20] memsharded commented on #11297
An important note about this: ``conan copy`` has been removed from Conan 2.0. Packages must be immutable, and ``conan copy`` is violating that. To implement "stages" the recommended way is to leave the packages user/channel constant, and use different remote repositories, and run promotions (copies) from one remote repository to another one.

[2022-05-22 22:24] memsharded commented on #11314
I think this sounds a bit too specific to be made a command line argument, that is the typical thing that users rarely know that it even exists. It could also have some complexities, for example, when options exists in the consumer that doesn't exist in the package that you want to apply those, Conan would raise an error ``option "xxxx" doesn't exist in package "yyyy"``. Not evident at all.

[2022-05-23 01:50] #11248 closed, assigned to nobody

[2022-05-23 01:55] #11255 closed, assigned to nobody

[2022-05-23 06:40] #11158 closed, assigned to memsharded

[2022-05-23 07:26] DS-Serafin commented on #648
@memsharded I understand the rational. And it makes sense, but I think the current settings are a bit to extreme. I mayself package a lot and upload a lot of 3rd party libs to our internal artifactory. So while yes decrompession is more important than compression, I think we should have an algorithm / compression settings which will not completly deteroate when presented with something other than

[2022-05-23 08:28] memsharded commented on #11108
Closed in https://github.com/conan-io/conan/pull/11295

[2022-05-23 08:28] #11108 closed, assigned to memsharded

[2022-05-23 08:54] SpaceIm commented on #11158
thanks

[2022-05-23 09:07] #11312 closed, assigned to nobody

[2022-05-23 10:10] fredizzimo commented on #11224
I have tested this a bit more now. And I don't think I can make the external projects work with proper IDE support.

The way you demonstrated in the video is very specific to Visual Studio, and would not work with Visual Studio code for example, so I did not look into that any further. I have mostly looked at the "open folder" in both Visual Studio and Visual code. I haven't really looked at the c

[2022-05-23 10:47] mattyclarkson commented on #11311
Interesting to know, we can probably repivot to not need different channels but they are useful for staging packages right now in the same package repository.

[2022-05-23 10:47] #11311 closed, assigned to nobody

[2022-05-23 12:19] memsharded commented on #11311
Good, let me know if you have any further question around this. The thing is that there are multiple benefits of splitting stages into multiple repositories, from easier maintenance (can more confidently remove old packages from a "staging" repo), security (to give less permissions to production repos), etc.

[2022-05-23 13:42] memsharded commented on #10253
This needs a check ("look into") into the new integrations (``CMakeToolchain``, ``AutotoolsTolchain``...) to see what is the current status and approach.

[2022-05-23 14:05] sztomi commented on #648
Yes. gzip (i.e. zlib/DEFLATE) decompresses at about 400 MB/s, whereas zstandard performs 1700-2300 MB/s on the same machine. And it's possible that for low entropy data the gap is even bigger because zlib slows down on such input.

https://github.com/facebook/zstd#benchmarks

[2022-05-23 14:21] memsharded commented on #648
But this is not real benchmarking for unzipping typical libraries and artifacts from C/C++, where many other factors need to be taken into account. That is the "pure" throughput of the algorithm, but the graphs above show that in practice their application for decompressing Conan packages, there is not such a big difference.

[2022-05-23 15:07] rconde01 commented on #11314
Hmmm...maybe alternatively you can create a separate options file and allow specifying multiple for `conan install`. Then you could specify all your package option files for the two contexts without having to maintain two separate copies.

Alternatively, maybe you could have an argument to `conan install` which says `build just this one package and necessary dependencies. Don't install anything el

[2022-05-23 15:16] memsharded commented on #11314
You can with profiles. Profiles can compose, you can always do ``conan install .... -pr=myprofile -pr=myoptionsprofile``

[2022-05-23 15:21] rconde01 commented on #11314
Interesting. Thanks for the idea.

[2022-05-23 15:46] #11168 closed, assigned to czoido

[2022-05-24 05:20] paulharris commented on #10387
I've found one problem with conan+cmake is knowing when cmake has picked up conan's finder, and when it has found a system/cmake finder.

It would be good if we could disable cmake's search for system cmake files, and create a whitelist for the system finders that we WANT cmake to find.
That might mean making another dozen+ recipes of "system" libraries, like threads/system and compiler/system and

[2022-05-24 06:33] paulharris commented on #11201
@jcar87 I've been using unpatched conan 1.48.1 for a while now, all working :)

So I think we can close this issue off.  Thanks!

[2022-05-24 06:33] #11201 closed, assigned to jcar87

[2022-05-24 08:12] memsharded commented on #10955
Resuming work on this.

Lets try to summarize current status and support, and see what pieces are missing
I will create one comment per different configuration, and if necessary to work on them, spin a new issue.

**Native Windows builds: (With MinGW Makefiles or Ninja)**
https://github.com/conan-io/conan/blob/db343feac208a000bc6546556104a8511a584f1e/conans/test/functional/toolchains/cmake/test_cm

[2022-05-24 08:15] memsharded commented on #10835
I am starting to divide use cases in https://github.com/conan-io/conan/issues/10955#issuecomment-1135551506

[2022-05-24 08:27] jcar87 commented on #11201
HI @paulharris! Thanks for trying out the new release and for your feedback!

This issue has also uncovered https://github.com/conan-io/conan/issues/11261, which still affects the ability to consume Fontconfig  (as per your [PR](https://github.com/conan-io/conan-center-index/pull/10825) here) from conan center with the generated module (instead of a package) - although mileage may vary depending o

[2022-05-24 08:37] paulharris commented on #11201
Ok good, I've found all this uppercase/lowercase stuff is full of possible stuff-ups for the poor programmer.
I wish we could alert/error/warn/explode when someone uses find_package(WronGcase) or even, in cmake, if (WRONGcapiTals)
Especially when some packages are lowercase, some are upper, and some change from one to the other...  Too much is implied...

[2022-05-24 08:49] jcar87 commented on #11201
Yeah I think there's two things that could help:
* on case-insensitive filesystems, CMake itself will issue a warning when you call `find_package(SomeCase)` but the set `_FOUND` variable of the found package does not match the name `find_package` was called with.

* Once we have a fix for this: https://github.com/conan-io/conan/issues/11263 - if any transitive dependency is found with the wrong na

[2022-05-24 09:01] sztomi commented on #648
We are using it to decompress a bundle of conan deps and it is very noticably faster than everything else (even though we increase the compression level from the default). I think this is due to zstd having better I/O management.

[2022-05-24 09:46] paulharris commented on #11201
I haven't absorbed everything, so I'll show my ignorance here...

it sounds like the ol' problem of requesting a CONFIG and getting the MODULE finder, or vice versa.
If you find_package(configname) and end up in the module finder, or vice versa, could the finder check the name of what was passed to find_package?  And then fail (or do something else)?
I'd rather fail-fast myself, if the consuming C

[2022-05-24 11:00] db4 opened #11319 "[bug] Autotools: wrong LD_FLAGS are generated for MSVC compiler"
### Environment Details
  * Conan version: 1.48.2

I'm trying to make cyrus-sasl recipe support Windows. It uses autotools, so I setup it as follows:

[code]

Unfortunately it fails in configure script:

[code]

I believe that's due to the following code:

https://github.com/conan-io/conan/blob/db343feac208a000bc6546556104a8511a584f1e/conans/client/build/compiler_flags.py#L236-L238

that is incorr

[2022-05-24 14:04] #11269 closed, assigned to memsharded

[2022-05-24 14:05] memsharded commented on #11269
Merged https://github.com/conan-io/conan/pull/11272, will be included in next 1.49 release

[2022-05-24 14:33] derived-coder opened #11320 "[bug] Conan --update does not work; will not downloaded updated version"
Doing:
`conan install qt/5.15.2@  --update`
will give me:
[code]

I have my own artifactory and uploaded some cci recipe+binaries there.
Now I wanted to install Qt.
I have this libpng `libpng/1.6.37` already in my local cache available, which depends on old `zlib/1.2.11`
However, upstream I updated all recipes to depend on newest `zlib/1.2.12` so in artifactory I have all recipe up to date.

even

[2022-05-24 14:50] memsharded commented on #11320
It seems this behavior is correct and the expected one.
It seems you disconnected the ``libpng`` package in your cache from the remote, read the message: `` libpng/1.6.37 from local cache - No remote``.

It hasn't a remote defined, so it cannot update. Maybe you removed the ``remote`` at some point or something like that, but if you installed the ``libpng/1.6.47`` from the remote, it should be abl

[2022-05-24 15:08] derived-coder commented on #11320
Doing `conan install libpng/1.6.37@ --update --remote ...` has fixed it. Now I got the latest recipe. Thanks.

Where can I see in the conan cache which package is connected with which remote? There must be some file I guess?

[2022-05-24 15:17] memsharded commented on #11320
``conan remote list_ref`` will display the existing remotes associations (check the ``conan remote --help`` for other related commands). The information is stored in some mestadata json files inside the cache, for each package, better use the command.

[2022-05-24 16:54] FranzPoize opened #11322 "[question] Setting output_folder of editable using yaml workspace file"
Hello !
I'm working with workspace using a workspace yaml file and I'm trying to make it work with the new layout function. I am also using a base conanfile class using the python_requires_extend.

This is my base conanfile class
[code]
This is just a modified version of the basic_layout

In my conanfile I just set the python_requires_extend to ShredBaseConanFile.

When I run `conan workspace inst

[2022-05-24 16:55] rconde01 opened #11323 "[bug] `conan lock create` always uses LF instead of the system endline convention"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: n/a
  * Conan version: 1.4
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)
`conan lock create myconanfile.py --lockfile-out mylock.lock --base`

mylock.lock has LF endlines instead of CRLF (on windows).

This is an issue when you commit your base lo

[2022-05-24 17:12] SSE4 commented on #11323
I assume lockfiles created on different systems should be absolutely identical (bitwise), given the same input - same profile(s).

[2022-05-24 17:26] anderson-dev commented on #11297
1. I see the milestone applied; does that imply that you're able to reproduce or already aware of the issue? Is there anything else you need from me to triage?
2. Are there any plans to address/backport this in 1.x?
3. Would specifying `--force` for `conan export-pkg` be a suitable workaround, for now, considering I already auto-increment version with every git commit and have revisions turned on?

[2022-05-24 17:35] rconde01 commented on #11323
As you don’t have “lock file revisions”, I’m not sure why this would be an expectation or desire particularly.

[2022-05-24 21:09] memsharded commented on #11323
Exactly the same argument could be said by someone that doesn't have ``autocrlf`` and will complain that Conan is generating a file with different line feeds, and it is causing constant diffs.

So this is by design. All files generated by Conan are generated always with LF, not CRLF.
It is also important to know that in general using different line feeds in different platforms is bad because it cr

[2022-05-24 21:22] rconde01 commented on #11323
I think you could argue autocrlf is typical? I'm actually not sure. But in any case it's not a big deal for us to handle I was just surprised. Maybe something to document.

[2022-05-24 21:22] #11323 closed, assigned to nobody

[2022-05-25 05:16] SSE4 commented on #10955
if it's a native Windows build (`x86_64-pc-windows-msvc`), why does it need/use `MinGW Makefiles`? probably, in that case, most of the users don't use/have MinGW, and just use `NMake` as a cmake generator?

[2022-05-25 07:03] SimonHeybrock opened #11324 "[bug] [security] conan depends on vulnerable pyjwt (Key confusion through non-blocklisted public key formats)"
See https://github.com/advisories/GHSA-ffqj-6fqr-9h24. This recommends update to pyjwt>=2.4.0, but conan (from PyPI) depends on pyjwt<2.0.0.

Recommended read: https://iscinumpy.dev/post/bound-version-constraints/.

[2022-05-25 08:01] memsharded commented on #11324
Did a quick check on this vuln, summary:

- Conan client do not depend on this, only ``conan_server`` side. Recommended to use ArtifactoryCE in most cases in production
- The usage of ``pyjwt`` done in ``conan_server`` explicitly specifies the decoding algorithm, so apparently and fortunately, it seems it won't be affected by this vulnerability.
- Conan 2.0 has done the necessary code changes to u

[2022-05-25 08:15] memsharded commented on #10955
Because this is what apparently it is more popular among users, NMake usage is in general much, much lower than Makefiles or Ninja generators.

Furthermore, it doesn't work out of the box with ``NMake Makefiles`` CMake generator. If you can and would like to contribute a fix, that could be a great addition. Starting from https://github.com/conan-io/conan/blob/db343feac208a000bc6546556104a8511a584f

[2022-05-25 08:24] SSE4 commented on #10955
that sounds suspicious. do you have any reference? because, I assume most of people just have Visual Studio + LLVM installed (or even just Visual Studio + LLVM component selected in its installer). they don't usualy have MinGW installed.
and for sure, they would prefer our recipes work out of the box for LLVM + CMake wiithout any need to install MinGW.

if it doesn't work out of the box, it's sad.

[2022-05-25 08:37] memsharded commented on #10955
Just my understanding from doing Conan support and talking to users:
- https://github.com/conan-io/conan/issues?q=is%3Aissue+MinGW
- https://github.com/conan-io/conan/issues?q=is%3Aissue+NMake

As you can see there is an order of magnitude. I know it doesn't necessarily apply to Clang in Windows, but adding "Clang" to the search, still seems more popular. My feeling is that users try to avoid NMak

[2022-05-25 08:38] franramirez688 commented on #11205
* If `core` is defined directly in profiles, it raises an exception: `ERROR: Error reading 'profile2' profile: [conf] 'core.xxxxxxxxx' not allowed in profiles`.
* If `core` is defined via cli, it works but it's overriding the `global.conf` value (if exists):

**global.conf**
[code]
Running: `conan install . -c "core.build.flags:ccflags+=-Werror"  -c "core.build.flags:ccflags+=-XXXX"'`
Result:
**Pr

[2022-05-25 08:44] AndreyMlashkin commented on #10955
I would say it's 'survivorship bias' to judge about popularity of tools by issues ammount.

How can I try conan from a branch? are there any instructions for it?
I would like to try new version in windwos docker with only clang from choco installed and also with only MSVC with clang package installed

[2022-05-25 08:50] SSE4 commented on #10955
`git clone --branch ..` + `pip install -e .`, or just `pip install <git url>` should also work

[2022-05-25 09:24] memsharded commented on #11205
Have you tested that those ``core`` values are actually used in the application?
I think they will not, it seems there is a hole in the CLI that allows defining them, without erroring, but I am not sure they will be effective in the Conan internal code, which would be confusing.

[2022-05-25 10:10] franramirez688 commented on #11205
If I got it correctly, yes, the application considers those ones. For example, I changed one configuration in `CMakeToolchain` so I named it `core.build:defines`. If I pass a new value via CLI, the result is that the generator is using that value internally.

[2022-05-25 10:16] Adnn opened #11326 "[question] Consuming an existing PackageConfig.cmake with the newer generators."
For our modular developments, we maintain a Conan based workflow. It allows us to satisfy both external dependencies (usually fetched from Conan center) and internals dependencies that we host ourselves. All our repositories rely on CMake to generate build files for the different environments.

An important aspect  of our approach is that Conan is not a requirement to build the projects (even thou

[2022-05-25 10:21] memsharded commented on #11326
Hi @Adnn

yes, the new ``CMakeToolchain`` has functionality to add to the CMAKE_PREFIX_PATH, CMAKE_MODULE_PATH the necessary paths inside your packages to find your packaged ``PackageConfig.cmake``. It is basically the same that the ``cmake_paths`` was doing, but integrated in the ``CMakeToolchain``. Did you try it?

It is recommended that recipes declare them in ``cpp_info.builddirs`` even if in

[2022-05-25 10:22] memsharded commented on #11205
But ``core`` configurations are to be read in the Conan internals, not in recipes. Yes, it will be visible for recipe code, but not for those internals. You can try with ``"core:required_conan_version"``. The thing is that in 2.0 there are way more ``core`` ones than in 1.X, so it might become relevant.

[2022-05-25 10:28] franramirez688 commented on #11205
Oh, yes, you're right. Those cases are not being considered.

[2022-05-25 10:33] memsharded commented on #11322
Hi @FranzPoize

Workspace feature has been on hold for quite a long time now, as it was half baked, and it had a few challenges with the poor experience managing the underlying "editables"
The feature has been even removed in 2.0, some time after it, we will resume work on it, but at the moment it was more a problem than a solution. The recommended way would be to fully script the management of th

[2022-05-25 11:47] memsharded commented on #11286
We have discussed this, and this requires some changes that could be breaking in 1.X, so we are moving this to 2.0 scope:

The changes are:
- Change the default ``layout``, so the build and generators folders do not pollute the current directory, something like ``build/generators``
- Make the ``CMakeToolchain`` generate ``CMakeUserPresets.json``, also for ``conanfile.txt``

In the meantime, please

[2022-05-25 11:50] derived-coder commented on #11320
okay, found it.

What was the reason behind this? To say, when no remote is defined, we will not overwrite the package with some upstream version?

[2022-05-25 11:56] memsharded opened #11327 "[develop2] [feature] Add ``prev``, ``settings``, ``options`` to ``conan graph info`` output"
Now the serialization of the information is missing some fields.

Verify that subsettings are also dumped.

[2022-05-25 12:00] memsharded commented on #11320
yes, the rationale is that if the package was not installed from a remote, it cannot be updated from that remote.

[2022-05-25 12:28] #11035 closed, assigned to uilianries

[2022-05-25 12:29] memsharded commented on #11035
Implemented in https://github.com/conan-io/conan/pull/11321, will be in 1.49

[2022-05-25 12:58] paulharris opened #11329 "conan generated FindXXX does not export pack_component_LIBRARIES"
I feel there is a bug in Conan's cmake finder generator (FindHDF5.cmake)

netcdf key part:
https://github.com/Unidata/netcdf-c/blob/be0cbfdbbeca8ed7d6b44d4cf45fa928a02e3a4e/liblib/CMakeLists.txt#L119

netcdf is trying to use `${HDF5_HL_LIBRARIES},  ${HDF5_C_LIBRARIES}`,
but HDF5's conan recipe doesn't export any of those.
instead it exports:
- HDF5_LIBS
- HDF5_C_LIBS
- HDF5_LIBRARIES
- but *not* H

[2022-05-25 13:10] memsharded commented on #11329
This issue is related to ``cmake_find_package`` which will no longer be modified, unless there are very serious regressions.

If anything, this should be reported against ``CMakeDeps`` generator.

[2022-05-25 15:00] derived-coder commented on #11320
thanks

[2022-05-25 15:00] #11320 closed, assigned to memsharded

[2022-05-25 15:18] #11150 closed, assigned to lasote

[2022-05-25 15:19] memsharded commented on #11150
Merged https://github.com/conan-io/conan/pull/11330, will be in 1.49

[2022-05-25 21:16] memsharded commented on #11093
Implemented with a ``conf`` in https://github.com/conan-io/conan/pull/11317, already merged, will be in 1.49.

[2022-05-25 21:16] #11093 closed, assigned to czoido

[2022-05-25 23:26] magras commented on #11286
I think that minimizing the difference in behavior between `.txt` and `.py` will lead to less confusion among the users. I appreciate your decision. Thank you.

[2022-05-26 00:31] paulharris commented on #11329
I had a go at upgrading netcdf to CMakeDeps, and yes the same problem occurs (ie no HDF5_component_LIBRARIES defined)

And, there is even less exported, I don't see a HDF5_C_INCLUDE_DIR or HDF5_C_LIBS anymore.  I think.

---

What is the conan policy, going forward?   Try and allow old CMake files to continue to work (ie define a broad and unending set of variations of variables to match cmake/kit

[2022-05-26 01:51] kkpattern opened #11331 "[bug] bazeldeps skip lib incorrectly if filename both starts and ends with lib"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version:
  * Conan version: 1.48.1
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)
If a lib filename both starts and ends with lib, when use conan install with bazel generator, the lib will be incorrectly skipped.
For example, if I have a lib named `libxxx.l

[2022-05-26 01:59] kkpattern commented on #11331
We found another case the bazeldeps incorrectly skip a lib. So the root cause is not filename both starts and ends with lib, but the lib name is not "standard". But both cases can be fixed with the:

[code]

[2022-05-26 03:39] hwhsu1231 opened #11332 "[bug] intelliSense cannot find `conans` module with Conan installed by Windows Installer."
### Environment Details

  * Operating System+version: **Windows 11**
  * VSCode version: **VSCode 1.67.2**
  * Conan version: **Conan 1.48.1** (by Windows Installer)
  * Python version: **Python 3.9.2**

### Problem Description

For those who don't want to use `pip` to install Conan on Windows, the alternative way is to download the [binaries installer](https://github.com/conan-io/conan/releases/

[2022-05-26 03:49] hwhsu1231 commented on #11332
It seems to work after I do the **"Suggestion"** Steps.

### Screenshots

![image](https://user-images.githubusercontent.com/71438617/170412084-90d3b679-7d5d-42bc-bf64-d7d26927a69d.png)
![image](https://user-images.githubusercontent.com/71438617/170411935-e077806b-1f8d-4a9b-83a9-ab8c4ed1c181.png)
![image](https://user-images.githubusercontent.com/71438617/170411783-b0709d18-39bd-4780-b42f-b0382ec0

[2022-05-26 08:03] memsharded commented on #11332
Hi @hwhsu1231

This is a side effect of creating a self contained executable, that the ``conans`` source code is not that available.

The proposed changes could have potential side effects, once you introduce the extra source copy, the one not processed and bundled by the ``pyinstaller`` and put it in the PYTHONPATH, the bundled interpreter, that does not work exactly as the standard one, as it is

[2022-05-26 08:21] memsharded commented on #11331
Yes, @kkpattern if you want to submit a PR, that would be great.
If possible, try to add some test for it, if you can't or need help, please ask.

Thanks!

Note to us: We probably want to have a look, because other integrations might also assume the same and might benefit from this too

[2022-05-26 08:48] memsharded commented on #11266
I was thinking of explicitly adding the `set +e` in the Conan script instead. You mean that this would be blocked and not work because of CI/CD permissions?

[2022-05-26 09:26] dfleury2 commented on #11266
Oh, yes, may be adding `set +e` inside `conanrun.sh`or `conanrunenv-....sh` will work too. But I do not know the effect at global scope. This is why I have proposed the `|| true` which is more local, with no global side effet.

I thought you were speaking about changing the CI/CD script directly instead of one of the conan generated scripts.
When I said it would block on CI/CD it was for the CI/CD

[2022-05-26 09:28] Adnn commented on #11326
We were not aware of this ability, thank you very much for the swift response!

[2022-05-26 09:43] hwhsu1231 commented on #11332
Excuse me @memsharded

So, are you saying that there is no proper solution about this situation? For now? Forever?

[2022-05-26 09:56] hwhsu1231 commented on #11332
How about developing a **"vscode-plugin"**, which will do intelliSense of **`conans`** module for **`conanfile.py`** no matter whether there exists **`conans`** module in the search path?

[2022-05-26 11:02] bbossola opened #11335 "[bug] Unable to install conan 1.48.1 using pip"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04.7 LTS
  * Python version: Python 3.9.4

### Steps to reproduce
Issue happens when trying to install conan version 1.48.1 via pip

[code]

So I am not sure how to sort out this one. I do not have Jinjia2 installed, but there's no version that would satisfy the requirement.

[code]

I tried to ins

[2022-05-26 11:09] jcar87 commented on #11332
Hi @hwhsu1231, thanks for reporting this and for using the conan windows binary installer.

There are 3 different factors at play here:
1. How to install conan to consume it as an executable (the `conan` command)
2. How to install conan to consume the python modules (being able to do `import conans`)
3. How Visual Studio Code is configured for IntelliSense to work with Python

The Windows binary i

[2022-05-26 11:13] memsharded commented on #11335
This could be an issue with your installed ``pip3``, maybe is it an older version? Can you  please report your ``pip3`` version, and also if you can try to update it and retry? Thanks!

[2022-05-26 11:17] bbossola commented on #11335
I checked and I am using the latest version of pip:
[code]
Is there any way to debug the issue? Unfortunately I am not completely familiar with python. If the 1.48.1 was available as DEB I would install it and call it a day :) Is there any ETA for that?

Current version of Jinja2
[code]

[2022-05-26 11:21] bbossola commented on #11335
This happens if I install conan without specifying a version:

[code]

I get version 1.45.0, which runs with a small warning

[2022-05-26 11:26] memsharded commented on #11335
I am not sure why you will get 1.45, tbh.

Will ask our docker champion @uilianries, maybe it is something in the Ubuntu 16 distro that got outdated?

[2022-05-26 11:30] bbossola commented on #11335
Also if I install the .DEB I get 1.45.0, so yeah, there might be something there?

[2022-05-26 11:35] bbossola commented on #11335
I could get away with conan 1.47.0. This seems to be related to the version of openssl that has been recently upgraded due to a vulnerabilty.

[code]

[2022-05-26 12:05] czoido commented on #11335
Hi @bbossola,

There's a debian package available for [latest Conan](https://github.com/conan-io/conan/releases/tag/1.48.1), did you try to install it?
https://github.com/conan-io/conan/releases/latest/download/conan-ubuntu-64.deb

[2022-05-26 13:55] memsharded commented on #3230
Closed by https://github.com/conan-io/conan/pull/11318, will be in next 2.0-beta.1!

[2022-05-26 13:55] #3230 closed

[2022-05-26 14:28] bbossola commented on #11335
As I mentioned [here](https://github.com/conan-io/conan/issues/11335#issuecomment-1138434185) I tried:
[code]

Result:
[code]

Now, it looks an update happened:
[code]
It actually provides version 1.48.1:
[code]

So yes, now it works, thank you.

[2022-05-26 14:35] czoido commented on #11335
There was no update on our side, the file has been the same since the release on May 18, but happy to know that for some reason it works now.

[2022-05-26 14:46] bbossola commented on #11335
Well, I cannot explain it either but I confirm that also the link at https://conan.io/downloads.html provides now the 1.48.1 version. All good, thanks again for the help.

In case you need to explore more the issue I experienced installing it via Python please feel free to drop me a line.

[2022-05-26 14:46] #11335 closed, assigned to nobody

[2022-05-26 16:19] #11109 closed, assigned to memsharded

[2022-05-26 16:19] #10919 closed, assigned to nobody

[2022-05-26 16:19] #10679 closed, assigned to memsharded

[2022-05-26 16:20] #10554 closed, assigned to memsharded

[2022-05-26 16:20] #10522 closed, assigned to nobody

[2022-05-26 17:45] antze-k opened #11339 "[develop2][bug] 'conan list packages' fails with json format"
### Environment Details
  * Operating System+version: **Windows 11**
  * Compiler+version: **CMake 3.18.2 + Visual Studio 2015**
  * Conan version: **2.0.0-alpha7**
  * Python version: **3.10.4**

### Steps to reproduce

[code]

`conan create test-package -pr:b=x86_64-pc-windows-msvc.v140.MD.profile -pr:h=x86_64-pc-windows-msvc.v140.MD.profile`

(I use my profiles, I suppose one can use any)

`con

[2022-05-26 17:45] wbehrens-on-gh opened #11340 "[bug] C compiler unable to create executables with nearly identical profiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 8
  * Conan version: 1.48.1
  * Python version: 3.8.10

### Profile
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

I have a nearly identical profile for building for Android arm yet when I copied it and changed it to compile for

[2022-05-26 18:07] memsharded commented on #11339
Hi @antze-k

I think this bug as been addressed by https://github.com/conan-io/conan/pull/11232. It has already been merged to the ``develop2`` branch if you want to test it and it will be part of the ``2.0-beta.1``.

Thanks very much for reporting!

[2022-05-26 18:15] memsharded commented on #11340
Hi @WilliamBehrens

We would need to have something that we can reproduce, if you could please attach some conanfile & build scripts that reproduces this error, that would be very useful. It is very likely that this issue is caused by some specifics of a recipe or by the specifics of the build system of the library.

[2022-05-26 18:18] wbehrens-on-gh commented on #11340
This is using the libjpeg/9d recipe in conan-center but I have another custom recipe that just hangs when it tries to compile with this profile.

[2022-05-26 18:28] memsharded commented on #11340
And what is the command to reproduce? are you using the recommended 2 profiles (build/host)?

It is likely that this could be an issue of the recipe, because they haven't upgraded yet to the new build system integrations. It would be better to report Conan issues, if it could be reproduced with some of the new templates, like ``conan new hello/0.1 --template=cmake``.

[2022-05-26 18:30] wbehrens-on-gh commented on #11340
I get `ERROR: Template doesn't exist: home/wbehrens@staudertech.local/.conan/templates/command/new/cmake` when I run that command

[2022-05-26 18:57] SSE4 commented on #10955
I suppose we're still mixing the things here...
native LLVM (the one with `x86_64-pc-windows-msvc` triplet) shouldn't require MinGW to use. it's used in conjunction with Visual Studio (as it uses headers/librariess from it). using it together with MinGW sounds redundant.
LLVM from MinGW (either `x86_64-w64-windows-gnu` or `x86_64-pc-windows-msys`) obviously requires MinGW. it's fine to test these

[2022-05-26 21:00] MTomBosch opened #11341 "[question] Download cache supports concurrent access by different machines?"
In the official Conan docs it says

In our case multiple CI build machines (totally independent of each other running on different VMs) have a mounted file share where the download cache is located. Every of this CI build machines is running the Conan client to get the dependencies installed.

Is this scenario also supported by the above mentioned locking mechanism or does "interprocess" mean lock

[2022-05-26 21:54] kobi-ca opened #11342 "[question] What is the meaning of revision"
Looking for example at boost 1.79, it has 3 revisions. What does it mean? what does each revision correspond to? different compile method?
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-05-26 22:07] paulocoutinhox commented on #11191
Hi,

I have problem with other recipes too:
https://github.com/conan-io/conan-center-index/issues/10961

What can i do to help?

Thanks.

[2022-05-27 08:51] #11331 closed, assigned to memsharded

[2022-05-27 08:52] EstebanDugueperoux2 opened #11344 "[question] How to ignore certificate with "conan_build_info create""
Hello,

In my context, I have a on premise Artifactory using https but I want to ignore certificate check.
In a usual conan use, my ~/.conan/remotes.json has [Verify SSL: False] attribute but when using "conan_build_info --v2 create buildinfo.json --lockfile updated.lock --user $CONAN_LOGIN_USERNAME --password $CONAN_PASSWORD
" I get following error:

ERROR: HTTPSConnectionPool(host='artifactory.X

[2022-05-27 09:08] SimonHeybrock commented on #11324
Can you clarify please, are you saying this will not be fixed for the `conan` PyPI package before a 2.0 release? Are you recommending alternative ways of installation instead?

[2022-05-27 09:12] cyreon opened #11345 "[question] How can I ensure local Conan profile is correctly configured in github actions workflow? os_build attribute becomes "Linux" for macOS?"
Could you please suggest why github actions doesn't recognize os_build and compiler correctly for macos-latest? For some reason conan sees Linux/gcc configuration. I wouldn't be surprised if macos-latest configuration uses a physical linux machine in github, but it is just an assumption (I might ask github guys too). Should I explicitly specify in a conan profile how I want to build the project as

[2022-05-27 10:01] memsharded commented on #11345
Hi @raygerlabs!

This is an interesting question. We have plans (some user might contribute it) to have a repo with actions, the first one would be how to install Conan.

Regarding the profiles, it is important to know:
- The profile auto detection is a "best guess" effort, but it cannot robustly detect the correct profile in all scenarios.
- Accordingly, we recommend using your own defined profil

[2022-05-27 10:08] memsharded commented on #11324
Are you using ``conan_server``? If you are not, then you are not affected, ``conan`` application does not depend on Pyjwt at all.

Even if you are using ``conan_server``, you are not affected by this vulnerability, as the algorithm is explicitly defined in code, and the vulnerability is when this is not defined. Also ``conan_server`` does not have any security embedded in it, it totally relies on

[2022-05-27 10:14] franramirez688 opened #11346 "[dev2][feature] `conf` review and improvements"
Several points here:
* Fix the wrong behavior about writing `-c core.xxx="whatever"` via CLI. This should raise an error because those configurations are not used by the profiles. Could we add another option like `-c:global core.xxxxx="whatever"`?
* Centralize all the existing configurations (`tools.xxx` and `core.xxx`) in one place (a python list, dict, whatever), and raise an error if `conf.get(

[2022-05-27 10:14] franramirez688 commented on #11205
Closing this. Superseded by https://github.com/conan-io/conan/issues/11346

[2022-05-27 10:14] #11205 closed, assigned to franramirez688

[2022-05-27 10:16] memsharded commented on #11344
Hi @EstebanDugueperoux2

Quick question: If I understand correctly, all the other operations with Conan, downloads, uploads, installs, from Conan repos, etc, work well, no HTTPS errors at all?

Because what is happening is that while trying to create the build-info, it is trying to access some of the artifacts in the repo, but it is failing. Those same artifacts are the one that would be downloade

[2022-05-27 10:25] SimonHeybrock commented on #11324
I don't think I am using `conan_server`, but apparently `pip install conan` installs `pyjwt` nevertheless. Is there a package that does not include/require it?

[2022-05-27 10:30] memsharded commented on #11324
because ``conan_server`` is in the ``pip install conan`` bundle too, everything is distributed together, it doesn't have a specific pip package. If not using ``conan_server`` the ``pyjwt`` can be even removed just after the installation

[2022-05-27 10:33] SimonHeybrock commented on #11324
Ok, basically this makes the `conan` PyPI package unusable then, since we are getting a dependabot alert when adding it to our requirements:

<img width="978" alt="image" src="https://user-images.githubusercontent.com/12912489/170683277-d6dffefa-caab-4aeb-a89e-e8c00056ed2a.png">

Will need to look into alternative installation options.

[2022-05-27 10:34] cyreon commented on #11345
Hi @memsharded,

Thank you very much for the quick response.

With [this](https://github.com/raygerlabs/project-init-cpp) hubby project I try to accomplish just that. My aim is to provide an out-of-box template with the most common SW development use-cases so I can work effectively on multiple C++ projects.
- Installing conan
- Create cache to speed up builds
- Build project
- Package/archive arti

[2022-05-27 10:34] #11345 closed, assigned to memsharded

[2022-05-27 10:36] memsharded commented on #11324
Can't you mark that vulnerability as "not affected" and resolve it?

[2022-05-27 10:38] kkpattern opened #11347 "[bug] Bazeldeps: build file is not correct for shared libary on Windows platform"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version:
  * Conan version: 1.48.1
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)
For shared libraries on Windows platform, the correct way to import them is using `interface_library` and `shared_library` together, like this:

[code]

Here is the [doc](http

[2022-05-27 10:40] SimonHeybrock commented on #11324
Probably in this case, but I would need to ensure that no other of our dependencies also uses `pyjwt`, as well as ensuring that we never add a *new* dependency in the future that uses `pyjwt`. So I don't have a good feeling about this.

[2022-05-27 10:56] lasote commented on #11286
We have finally implemented https://github.com/conan-io/conan/pull/11348 to be released in Conan 1.49. So you can declare:

[code]
in the ``conanfile.txt`` to get the ``CMakeUserPresets.json`` generated correctly

[2022-05-27 11:00] hwhsu1231 opened #11349 "[feature] Support "Variable Substitution" in `conanfile.txt`. (for `imports` section)"
## Problem Description

This issue is related to that: https://github.com/conan-io/conan/issues/7438

If we use **Multi-Config** generator of CMake (for example `Ninja Multi-Config`), there will be at least 2 generated output directories by default (Debug, Release,...).

If we want to install 2 different configurations (**Debug** and **Release**), then we have to run `conan install` command **twic

[2022-05-27 11:59] memsharded commented on #11349
Hi @hwhsu1231

I am sorry, but we will not add extra logic to the ``conanfile.txt``. These are intended to be a very simple solution, for basic cases. It doesn't make sense to invent an extra custom DSL that needs to be documented, users need to learn, when there is a more general, flexible, documented and most importantly, standard (because it is Python code) solution to it, which is using a ``co

[2022-05-27 11:59] #11349 closed, assigned to memsharded

[2022-05-27 12:08] memsharded commented on #11324
As this is a declared vuln, maybe we can try to backport the 2.0 fix, and if ``conan_server`` users are broken, the vulnerability reason should probably be enough to explain. Trying in https://github.com/conan-io/conan/pull/11350, lets see how it goes.

[2022-05-27 12:12] memsharded commented on #11347
Hi @kkpattern

Thanks for your feedback. When you say that you can share a branch, you mean with the purpose of merging it into the official release? Or you mean it is too hacky and this will not be possible.

To give some context, we were experiencing some related issues with the CMake generators, that were addressed in the 2.0 branch, because we were using there the ``package_type`` information

[2022-05-27 12:19] memsharded commented on #11345
Very interesting project.

I would probably recommend to keep an eye on our current developments, for example we are improving a lot recently how the ``CMakePresets`` work with Conan, so if you can use modern (3.23) CMake, the flows can be super natural.

There might be also some other handy features, for example do you know that ``conan new`` can use user templates, which can be a nice thing to s

[2022-05-27 12:22] memsharded commented on #9412
I need to remove this from the milestone, as we haven't manage to reproduce so far.
There are many things that can affect here, network issues, proxies, etc, so this might be challenging to solve.
I am closing it, as there is little more we can do, but if anyone keeps persistently hitting this issue, or have any possible way to reproduce, please re-open or create a new ticket.

Many thanks to all

[2022-05-27 12:24] #11264 closed, assigned to czoido

[2022-05-27 12:24] #11265 closed, assigned to czoido

[2022-05-27 12:46] cyreon commented on #11345
@memsharded Very fancy :) The best possible case would be to throw out half my custom stuff :)

[2022-05-27 13:01] franramirez688 commented on #11191
Hi @paulocoutinhox

The problem is exactly the same as @memsharded said above (https://github.com/conan-io/conan/issues/11191#issuecomment-1120301634).
Those recipes are using legacy generators instead of `CMakeToolchain` which is the new one that contains this _bitcode_ logic.

To see how it works, you can try it easily by creating your own _mytest_ recipe and running the `conan create`:

[code]

[2022-05-27 13:37] kkpattern commented on #11347
I mean it can be a implementation reference. The code is actually very simple and can be easily merge into official release. It's just too hacky that I'm not ensure whether it would work in other environment.

[2022-05-27 13:46] wbehrens-on-gh commented on #11340
I got one to generate using the cmake_lib template and building with `conan create . hello/0.1 -pr:b=default -pr:h=path/to/Android_x86.jinja`

but this gives me
[code]

[2022-05-27 13:56] memsharded commented on #11347
Sure, if the code is simple and you know it, feel free to send a PR, and we will analyze it. Even if we cannot merge it, we will learn something, and hopefully we can at least consider it for the evolution of BazelDeps while moving to 2.0.

[2022-05-27 15:24] sfackler opened #11351 "[bug] env info for requires is not reported when using build and host profiles"
### Environment Details (include every applicable attribute)
  * Conan version: 1.44.1

### Steps to reproduce (Include if Applicable)
* Create a conanfile that requires a package which outputs environment variables (I used `elfutils` in my example below).
* Run `conan install --generator json .`
* Observe that `deps_env_info` in `conanbuildinfo.json` includes the variables produced by elfutils, a

[2022-05-27 15:27] datalogics-kam opened #11352 "[bug] conanbuild.sh should be produced whether or not there are environment variables"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12.4
  * Compiler+version: apple-clang 13.0, but doesn't matter
  * Conan version: 1.48.1
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)

Given a `conanfile.txt`:

[code]

...and `profile-without-buildenv`:

[code]

... and I install it:

[code]

I expect that there will be a

[2022-05-27 15:32] datalogics-kam commented on #11352
The source of this bug is a new project at Datalogics where we are _really_ trying to be Conan 2.0 compatible:
- Only import from `conan`, not `conans`
- Use `conan.tools.cmake` and `conan.tools.env`.
- `conan install` is the last contact Conan when initiating a build.
- Run `source dir/dir/conanbuild.sh && cmake -DCONAN_TOOLCHAIN_FILE=...` and `source dir/dir/conanbuild.sh && cmake --build ...` i

[2022-05-27 15:39] datalogics-kam commented on #11346
I _just_ used that to verify the name of a configuration variable without resorting to the doc, so I would find it handy.

[2022-05-27 15:40] memsharded commented on #11351
Hi @sfackler

This is expected and by design. Regular ``requires`` in the "host" context, under the build-host 2 profiles mode will not propagate ``env_info`` to consumers with the legacy tools. Only "build" context, like ``tool_requires`` or ``build_requires`` will propagate via ``deps_env_info``.

Furthermore, the ``deps_env_info`` (together with ``deps_cpp_info``) is deprecated with the new mod

[2022-05-27 15:45] sfackler commented on #11351
Interesting - thanks! As work on the new environment features continues, will the json generator be updated (or a new version be added)? I'm using it to integrate with a separate build system and it's a lot easier to programmatically interact with the JSON rather than the env scripts created by `VirtualBuildEnv` and `VirtualRunEnv`.

[2022-05-27 15:45] memsharded commented on #11352
Hi @datalogics-kam

So far this has been indeed a feature: Trying to be minimalistic on the user side. If a user does ``conan install ...`` and there is no special environment to activate, generating the file for them would pollute a bit more than necessary their folders, and what is worse, it would create the user the feeling that they need to activate that environment, because there might be som

[2022-05-27 15:48] memsharded commented on #11351
The ``conanbuildinfo.json`` actually dissapears in Conan 2.0. There will be other alternatives, for example the commands have ``--format=json`` and depending on the command, they might be serializing there the whole graph too.
If it is for environment only, at some point we will consider again adding ``.env`` files instead of activation scripts, that are more convenient for IDEs and other tools (b

[2022-05-27 15:49] datalogics-kam opened #11353 "[feature] Have a way to generate both conanbuild.bat and conanbuild.ps1 files."
It would be handy to have a way `tools.env.virtualenv:powershell` to create _both_ `.ps1` and `.bat` files.

- `.ps1` to activate within a user's interactive PowerShell if necessary.
- `.bat` for when build scripting is using CMD to issue commands, and it needs to activate the environment to run CMake or some other command.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/cona

[2022-05-27 15:50] memsharded commented on #11346
Yes, agree, lets restore this (or even better, an improved version of this with patterns would be great, like ``conan config list *cmake*``)

[2022-05-27 15:53] sfackler commented on #11351
Thanks!

[2022-05-27 15:53] #11351 closed, assigned to memsharded

[2022-05-27 16:00] paulocoutinhox commented on #11191
Hi,

I understand, but have anything that we can do to improve it?

Without a solution, i will need still use my own toolchain:
https://github.com/nativium/nativium/blob/main/conan/darwin-toolchain/conanfile.py#L128-L131

How we can improve conan?

Thanks.

[2022-05-27 16:11] memsharded commented on #11191
For sure, keep the feedback coming :)

The solution is there, and seems to be working good, with the new integrations. So the challenge will be to modernize the recipes in ConanCenter to use the new tools, and for sure the best way is to contribute to the ``conan-center-index`` repository. Forking the repo, trying to modernize recipes that you might depend on, and then doing either:

- Report here

[2022-05-27 19:12] wbehrens-on-gh opened #11354 "[question] How to use systems dependencies when cross compiling"
I have a project I'm working on that required me to create a custom recipe for Bluez, I was able to get it to work on x86_64 Ubuntu 20.04 perfectly fine using the default profile, but I have to cross compile this recipe for a custom arm platform. The problem I'm having is that Bluez requires Glib as a dependency and the Glib recipe in conan-center doesn't support cross building and the Meson build

[2022-05-27 19:17] wbehrens-on-gh commented on #11354
One thing of note is that it's linking to the x86_64 config and not the arm one for some reason. I had a similar issue when trying to cross compile this recipe for i686 and I just fixed that by adding `PKG_CONFIG=i686-linux-gnu-pkg-config` to the profile but there is not pkg-config available in this toolchain

[2022-05-27 20:48] paulocoutinhox commented on #11191
Hi,

There is any update to conan itself that will fix this for every package?

To you understand, my projects https://github.com/nativium/nativium and https://github.com/ezored/ezored is used by many users, so i don't know what everybody uses. There is something that fix it for all?

For example, i use `openssl` and it's recipe was modernized, but don't accept conan bitcode configuration:
https:/

[2022-05-28 03:31] kkpattern commented on #11347
Cool! I will clean the code a bit and then create a pull request.

[2022-05-28 14:27] kkpattern commented on #11347
I created the pull request. I actually removed the hacky part to handle the libs with an incorrect `libs` setting or missing the `shared` option. For our internal use, we don't want to wait for other departments to upload a new corrected version. We want to get back to code as quickly as possible. So the hack is reasonable. But for official release, I think we want to make sure that the libs are p

[2022-05-29 17:00] ll01 commented on #7427
Go to the file ` C:\Users\<your user name>\.conan\profiles\default` and delete the line that says `compiler.libcxx=libstdc++11`

[2022-05-29 20:31] memsharded commented on #7427
This issue is 2 years old, and the OP never followed up providing the full traces, so it was difficult to triage this.

Closing this issue, if @DaveCage wants to reopen or create a new one, we will have another look, thanks

[2022-05-29 20:31] #7427 closed, assigned to memsharded

[2022-05-29 20:33] memsharded commented on #11342
Hi @kobi-ca

You might want to read this section in the docs: https://docs.conan.io/en/latest/versioning/revisions.html

Basically revisions are changes to the recipe, typically (and specially in ConanCenter recipes) only to the recipe and maintaining the packaged source code version identical. The goal is to maintain a full correspondence of the package version and the original Boost version 1.79

[2022-05-29 20:46] memsharded commented on #11347
Not sure what you mean, the PR looks good enough, I am tentatively trying to include it in next 1.49. Do you think there is something else that needs to be done on our side before the release (note the BazelDeps is still experimental, it is not super-critical if the solution is not perfect, as long as it is an improvement, it is fine)