[2022-07-20 08:21] thorsten-klein commented on #11664
@lasote Thanks a lot for your answer!
In our case the `revision_mode="scm"` is not possible .

Background:
We have a collection of `conanfile.py`, which are stored and maintained in one repository (similar to your conan-center-index repository).
When we commit our changes at conanfile.py, there should only be a new revision created from this package, and not from any other package.
With `revision_

[2022-07-20 08:29] derived-coder opened #11679 "[feature] Add support for DESTDIR for the cmake tool"
Please add support for the cmake tool to execute the install command with the DESTDIR as a prefix.
Similar to this https://github.com/conan-io/conan/issues/11264 but this was for autotools and we need the same for CMake now.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-07-20 08:30] lasote commented on #11664
I don't know what else could you do to get it.
Why do you need the revision in advance?

[2022-07-20 08:32] lasote commented on #11663
Not so sure it will work either, it is possible that we only load the class and not the instance of the conanfile. You could try.

[2022-07-20 08:49] memsharded commented on #11679
Hi @derived-coder

Sorry, it is not clear what you mean. CMakeToolchain already has  a block to define all ``CMAKE_INSTALL_PREFIX`` and family. You need to do a full report, specifying a full working ``conanfile.py``, the current behavior, the desired behavior, etc.

[2022-07-20 08:59] memsharded commented on #11515
Closed by #11650

Discussion and feedback to re-enable it in 2.X follows in https://github.com/conan-io/conan/issues/11658

[2022-07-20 08:59] #11515 closed, assigned to franramirez688

[2022-07-20 09:01] UtkarshVerma37051 commented on #10913
Well I was also facing the same error (ERROR: Specify the 'user' and the 'channel' or neither of them) when I was trying to run **conan search** , **conan create .** etc.

At first look, this error seems to be redundant w.r.t. these commands (after specifying user and channel) but after looking into my conan cache I found out the exact reason . In my conan cache I had a folder representing the cha

[2022-07-20 09:10] fschoenm commented on #11671
1. Doesn't the same logic apply to the include directories? They could also be different for different build types. Yet for the include dirs there is a "global" setting in the generated _package_-config.cmake file:

        set(xyz_INCLUDE_DIRS ${xyz_INCLUDE_DIRS_DEBUG} )

2. In our case, our package doesn't even have a build type or any other settings because it is OS/architecture-independent. St

[2022-07-20 09:47] memsharded commented on #10913
Thanks for the feedback @UtkarshVerma37051.
Just a couple of notes:
- Conan 2.0 actually allows to define only the user, but not the channel
- Conan 2.0 will not have this issue, as the cache will have a different layout.
- Please be aware that renaming user/channel is not a good practice anymore. Conan 2.0 has removed the ``conan copy`` command that allowed this, and trying to manually rename pac

[2022-07-20 09:54] derived-coder commented on #11679
I would like to do this:

[code]

Your colleague @czoido has implemented this already for `AutoToolsBuildEnvironment` (https://github.com/conan-io/conan/pull/11284) now it needs to be implemented for the CMake tool as well.

[2022-07-20 10:30] lasote commented on #11671
I don't see where is the global INCLUDE_DIRS without the configuration in the codebase. It is always prefixed with the config.

That is very very weird because the `CMakeDeps` needs the `settings.build_type` otherwise it will fail:

[code]

You will have the file corresponding to the `build_type` you are using in the `conan install`.
Anyway it doesn't matter, if any of the files doesn't exist it s

[2022-07-20 10:32] #11676 closed, assigned to nobody

[2022-07-20 11:15] czoido commented on #11679
Hi @derived-coder,
I don't know if this is the same case, in the Autotools build helper case (note it's not AutoToolsBuildEnvironment) It was needed to make some packages relocatable as we could not know the destination package folder at the configure step. As @memsharded said, it's not clear why this would be needed in CMake.

[2022-07-20 11:35] memsharded commented on #11671
Just a clarification that the ``-debug-x86_64-data.cmake`` files naming do not depend on the dependency ``build_type`` setting, but on the consumer ``build_type`` setting. For example, for a header-only dependency, lets imagine ``eigen``, when going to build against it, and doing a ``conan install . -s build_type=Release``, a ``eigen-release-x86_64-data.cmake`` file will be generated. It means, wh

[2022-07-20 11:50] derived-coder commented on #11679
Hi @czoido

I am not sure, this request was about relocatable packages. For me it was about controlling the hard coded paths in the binary.

So you want my motivation for this?
Take the dbus package in CCI:
[code]
Will result in following error at runtime:
[code]
This paths comes from your CI environment.

My goal is that I create my own packages (package_id calculated with own settings), where I

[2022-07-20 11:57] fschoenm commented on #11671
It's in the _xyz-config.cmake_:

	set(xyz_VERSION_STRING "1.1")
	set(xyz_INCLUDE_DIRS ${xyz_INCLUDE_DIRS_DEBUG} )
	set(xyz_INCLUDE_DIR ${xyz_INCLUDE_DIRS_DEBUG} )
	set(xyz_LIBRARIES ${xyz_LIBRARIES_DEBUG} )
	set(xyz_DEFINITIONS ${xyz_DEFINITIONS_DEBUG} )

Why doesn't CMakeDeps set a corresponding xyz_RES_DIRS variable? That would solve this issue.

This is not a solution but a "see what sticks" ap

[2022-07-20 12:21] thorsten-klein commented on #11664
We need the revision in order to have reproducible builds.
Otherwise we would affect old builds, if we make changes at any `conanfile.py`.
e.g. a build `requires("mylib/1.0.0@our/release")`, then it may be the newest revision at the time of building. This may be different then in case of a build at a later point of time.

Alternatively we would have to maintain the revision manually via `version`

[2022-07-20 12:43] himansu2906 commented on #11674
Hello,

Thank you for quick response,
I made below changes in default profile of conan

[conf]
tools.cmake.cmaketoolchain:user_toolchain=["C:/Users/h.yadav/Desktop/Conan/Packages/New_Packages/efg_devops_toolchain/M2_Restructuration/tricore-gcc.cmake"]

[settings]
os=Windows
os_build=Windows
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=3.4
compiler.libcxx=libstdc++
build_type=Release

[2022-07-20 13:47] lasote commented on #11664
I totally get why you want to use `revisions` I was wondering why you need to obtain it (but not do an export). Let's say you know that the `revision` of a `conanfile.py` will be `xxxxx`. What is the `xxxxx` used for?

[2022-07-20 14:17] thorsten-klein commented on #11664
We export all of our sources together with the conanfile.py in order to be independent from any 3rd party server (Big difference between your conan-center, where you rely on some external url where you download source code from)

The `exports_sources` may be a very big source code (e.g. gcc) >100MB.
We do not want to blindly download the `exports_sources`, in order to `conan export` the package an

[2022-07-20 14:41] memsharded commented on #11674
Is it possible to get this tricore-gcc.exe compiler from somewhere to be able to test it?

A couple of further notes:
- ``generators = "cmake_find_package_multi", "gcc", "txt"`` are useles, you shouldn't be using them here. If anything, try with the new ``CMakeDeps``, when you have dependencies (not this case).
- Your ``package_info()`` can be removed, according to the above comments.
- Need to co

[2022-07-20 15:22] himansu2906 commented on #11674
please find below compiler zip.
[](url
[TriCore_v3_4_7_3.zip](https://github.com/conan-io/conan/files/9151395/TriCore_v3_4_7_3.zip)
)

I have removed package_info() from conanfile.py file and also removed definition of toolchain from CmakeLists.txt file.

content of conanfile.py and CmakeLists.txt are as below:
**conanfile.py:**

from conan import ConanFile
from conan.tools.cmake import CMakeToolc

[2022-07-20 17:18] anderson-dev opened #11681 "[bug] Urgent Issue: New recipe revisions using "conan.tools" rather than "conans.tools" breaks using Conan 1.x"
fmt package recently updated all their package versions with new recipe revisions using modern `conan.tools.scm` import rather than the old `conans.tools.scm`. It is my understanding that all tools should now be accessible using this new namespace. However, all of our product packages have stopped being able to be built due to our dependence on spdlog package which pulls in fmt package. Because we

[2022-07-20 17:27] anderson-dev commented on #11681
looks like this may be related to issue #11676

[2022-07-20 18:18] TaylorEllington commented on #11670
We aren't looking to package with Conan, our interest and usage is mostly to replace custom download scripts and to make use of pre-built binary dependencies. So as long as CMake can download a one file executable and run Conan install, then get targets. Conan will work for us.

Out of curiosity, what is the timeline for 2.0? I couldn't find a launch target on the wiki.

Also, when 2.0 launches, w

[2022-07-20 19:18] vajdaz commented on #3821
It helps. However, my use case would be to do this kind of check after `conan install` (maybe nothing had to be downloaded, package found in cache, I wonder if cache contents are still ok). So maybe `conan install` should have a `--check` option which would make the exact same check at the end of the installation command as `conan upload` does. It may even work if the remote is not rachable (`cona

[2022-07-20 22:02] thorntonryan commented on #11529
_And actually I think you'd be safe with doing `self.cpp_info.builddirs = [self.package_folder]` because CMake will automagically search inside the `cmake` folder for you. See [Config Mode Search Procedure](https://cmake.org/cmake/help/latest/command/find_package.html#config-mode-search-procedure)_

@CD3 , thank you for calling this out!

I had just discovered this discrepancy between the `cmake`

[2022-07-20 22:26] phreed opened #11682 "[question] Conan list packages does not match the --help"
Running `conan list packages --help` produces...
[code]
When I run the first example provided it fails.
[code]
This seems to be a minor error in the `--help` documentation.
**It should probably be ` e.g., libyaml/0.2.5*, libyam/0.2.5#latest, or  libyaml/0.2.5#80b7cbe095`.**

Providing the revision `#latest` eliminates the error but produces no result.
[code]
Checking the available recipe-revisions

[2022-07-20 22:46] memsharded commented on #11670
We will release 2.0-beta.2 shortly, and we expect at least 2-3 more iterations (1 per month) to have the Conan client tool ready. The bottleneck might be the readiness of ConanCenter packages

There is a common syntax in 1.X that will be forward compatible with 2.0. The idea is that the same recipes can work simultaneously with the 2 versions. It is necessary to use a subset of the 1.X features, d

[2022-07-20 22:50] memsharded commented on #11682
Yes, it is correct. Because both Conan 1.X and Conan 2.0 have a filter to discard binary packages created by the other version. At the moment there are no Conan 2.0 binaries in ConanCenter ready, so it should report "No packages", even if some 1.X binaries are there, because they are completely unusable for 2.0.

The ``conan list`` docstrings need to be fixed though to include the ``#latest``

[2022-07-20 22:54] memsharded commented on #3821
Yes, this would make sense. The only thing is that this won't fit in the 1.X scope anymore, and it is super unlikely this will be prioritized into the 2.0, but it will be after it.

[2022-07-20 22:56] memsharded commented on #11681
Hi @anderson-dev

yes, this is apparently a bug in the pyinstaller creation, not in Conan itself. It has already been fixed for next 1.51, you might try to use the ``pip install`` alternative in the meantime to try this new feature (I guess it never worked for you if using the pyinstaller)

[2022-07-21 01:40] TheClonerx commented on #10955
mingw's gcc supports two thread models: win32 & posix.
while it looks like clang only supports posix when targeting x86_64-w64-windows-gnu.
clang also supports dwarf2 (`-fdwarf-exceptions`), sjlj (`-fsjlj-exceptions`) and seh (` -fseh-exceptions`, default) exception styles

[2022-07-21 01:47] TheClonerx commented on #10955
and there's also [llvm-mingw](https://www.mingw-w64.org/downloads/#llvm-mingw), which while still using mingw windows headers, it uses llvm's toolchain, libc++ plus msvcrt/ucrt

[2022-07-21 03:32] CD3 commented on #11529
@thorntonryan Thanks for the correction, `builddirs` needs to be a list. And I think your right about just using `self.package_folder`, I'll start using that.

[2022-07-21 05:20] hwhsu1231 commented on #11540
@memsharded Execuse me.

Does Conan 2.0 support [`IMPORTED_LOCATION_<CONFIG>`](https://cmake.org/cmake/help/latest/prop_tgt/IMPORTED_LOCATION_CONFIG.html) target property for IMPORTED library targets as well?

Because recently I found that `IMPORTED_LOCATION_<CONFIG>` is more important and useful than `IMPORTED_LOCATION` when it comes to **copying RUNTIME dependencies on Windows**. See more detail

[2022-07-21 06:45] lasote commented on #11671
Ok, I see. These variables were introduced for the "module" approach, being the typical variables that a `FindXXX` sets.
The `res` was not there because is not typically managed by the open source `FindXXX` scripts.
It could be added.

[2022-07-21 07:44] lasote commented on #11664
Thanks, I start to understand the issue.
So, would it be possible to have an `exports_source()` method doing the `download mylib/1.0.0/exports_sources.txt` but maybe with an environment variable that skips that download? I don't love the environment variable either but I cannot guess anything else:

[code]

So regular export:

[code]

Skipping the sources:

[code]

[2022-07-21 08:17] memsharded commented on #11542
Both features, the necessary storage-path configuration and the ``.conanrc`` file to define the home location, have been merged, and will be available in beta.2

[2022-07-21 08:17] #11542 closed, assigned to czoido

[2022-07-21 08:20] danimtb opened #11683 "[conan 2] Deletion of non-existing settings causes failure"
While working on https://github.com/conan-io/conan-center-index/pull/11696 I realized that when compiling for `msvc`, Conan v2 raises with error when doing `del self.settings.compiler.libcxx`.

[code]

Here is the original `configure()` method in the recipe:

[code]

And to make it work in conan v2 I had to add a condition check for the `msvc` compiler:

[code]

This is a change in the behavior of

[2022-07-21 08:42] franramirez688 commented on #11683
Hi @danimtb
Yes, this is the expected behavior. It's already documented in the [Conan v2 migration guide](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#settings).

[2022-07-21 08:42] danimtb commented on #11683
Ok, this is documented here https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#settings in the migration guide and expected behavior in conan v2 👍

[2022-07-21 08:42] #11683 closed, assigned to nobody

[2022-07-21 09:39] MariaMozgunova commented on #11635
@maikelvdh Can a `/sys/fs/cgroup/cpu.max` file be empty? What should happen in that case?

In the current implementation, the code will throw an `IndexError` error which will not be caught.

[2022-07-21 10:00] MariaMozgunova commented on #11635
@memsharded Can I write tests to the `_cpu_count` function, then?

[2022-07-21 10:18] MTomBosch opened #11685 "Python Base class version conflict leads to error."
Python Base class version conflict leads to error.

We get following error in our pipelines when installing dependencies. For one dependency we get following error.

Error loading conanfile at '/<conan package cache dep ref>/export/conanfile.py': Conflict in py_requires conan-base/1.0.0@ci/tools - conan-base/1.2.0@ci/tools

Does it mean that the whole dependency tree must use the very same python

[2022-07-21 11:03] memsharded commented on #11685
Hi @MTomBosch

It seems your issue is incomplete, can you please provide more details to reproduce.
Conan packages can have different ``python_requires``, in the same graph, that is not an issue, this test  works:
[code]
It is possible that you have conflicting transitive ``python_requires`` dependencies, but much more detail is needed. Please try to provide a reproducible case for it, thanks.

[2022-07-21 11:22] MTomBosch commented on #11685
Unfortunately the issue is no more appearing at the moment. But the hint with conflicting transitive python_requires dependencies makes sense and we will try to enforce the problem using such a setup.

[2022-07-21 11:25] memsharded commented on #11685
Ok, then I think we can close it at the moment.

The general recommendation for ``python_requires`` is to keep them as simple as possible. Avoid multiple inheritance, avoid transitive python_requires, etc.

[2022-07-21 11:25] #11685 closed, assigned to memsharded

[2022-07-21 11:30] MTomBosch commented on #11685
Fair enough.

[2022-07-21 11:36] memsharded commented on #11520
Implemented in https://github.com/conan-io/conan/pull/11680, will be in next beta.2

It also includes support for components.

[2022-07-21 11:36] #11520 closed, assigned to nobody

[2022-07-21 14:34] jcar87 opened #11686 "[feature] Consider allowing overriding install prefix at package creation time"
At package creation time, Conan 1.x integrations will pass the _package folder_ to the `--prefix` argument (or equivalent, e.g. `CMAKE_INSTALL_PREFIX`), in those cases where we want to rely on existing "install" logic  to cause the files to be placed directly in the package folder by the build scripts, as opposed to explicitly copying them from the build tree.

In some cases, libraries will take t

[2022-07-21 14:54] thorsten-klein opened #11687 "[question] create a shippable deployment"
Hello,
we store our conan recipes in our own JFrog artifactory, so that they can be consumed by our customers.
Now we need to ship these packages to some colleages, which do not have access to our artifactory.
Is there any deployable file format for this purpose?

I would expect something similar to `docker save`, which stores an container image as file. This file can then be shipped and imported

[2022-07-21 15:58] derived-coder commented on #11686
My proposal would be that conan does not use anymore `DCMAKE_INSTALL_PREFIX=package_folder` (for cmake case), instead it would use `DESTDIR=package_folder` and the `CMAKE_INSTALL_PREFIX=conan.settings.system_default_path` get this, which can be overwritten. With this approach I would not need to touch any recipe.

See also this issue: https://github.com/conan-io/conan/issues/11679

[2022-07-21 16:24] jwillikers opened #11688 "[bug] How to link against system libraries installed in /usr/local/lib on *BSD when using the CMakeDeps generator and Pkg package manager?"
### Environment Details (include every applicable attribute)
  * Operating System+version: FreeBSD 13.1
  * Compiler+version: Clang 13.0.0
  * Conan version: 1.50.0
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

Specify `system_libs` for any libraries installed with `pkg` on FreeBSD.
When using the `CMakeDeps` generator, libraries are not found because the link directo

[2022-07-21 16:50] ghost commented on #11681
This is an urgent issue for me as well. pip install didn't work. Please release 1.51 as soon as possible.

[2022-07-21 16:54] memsharded commented on #11681
But this is not broken, it simply never worked. ``conan.tools.scm`` is a new, experimental feature. Apparently, it never worked in the ``pyinstaller``, so it is not possible that this is a breaking change in any way, am I missing something?

A different thing is that it doesn't work with the ``pip install``, but we would need some more details. So far it seems that it is working fine, we have user

[2022-07-21 17:22] jcar87 commented on #11688
Hi @jwillikers  - thank you for reporting this issue and for using the new `conan.tools.system.package_manager` integration.

For locations that are considered "default" search locations in the underlying platforms, there's typically an expectation that these are part of the embedded search path of tools like the compiler and the linker. This is indeed the case on Linux. CMake will also avoid addi

[2022-07-21 17:27] jwillikers commented on #11688
*BSD's default to Clang for license compliance in the base system. I'm using the default Clang compiler and it follows that `ld` is actually `lld`.

[2022-07-21 21:51] robindegen commented on #8883
I'm still having issues like this when trying to build autoconf and automake to start using swig. I'm still investigating deeper where exactly it is going wrong. From what I currently understand it seems to already go wrong in the autoconf package. That one builds just fine with the proper msys paths, but then it sets all the environment vars (using tools.unix_path) like "AUTOCONF" to /mnt/. And t

[2022-07-21 22:22] memsharded commented on #8883
If you are talking about the ``autoconf`` and ``automake`` packages in ConanCenter, it is true that these packages haven't been upgraded yet to the new approach that fixes it and using the new build system integrations. This work has already started in ConanCenter, but it will still take some time

[2022-07-22 00:26] gegles commented on #11681
Somehow I am now just starting to see the same issue on all my Windows build machines....Not sure what changed...

The version of `fmt` does not matter, fails with 8.0.1, 8.1.1 and 9.0.0

[2022-07-22 05:37] thorsten-klein commented on #11664
Nice idea, but I think this does not work. As soon as the downloaded file is really copied to export_source folder, the recipe revision will change. In your example you do only some output and this does not affect the `conanmanifest.txt`.

Extended example:
[code]

But this will result in a broken package, if we run `conan export` having the env var `FAST_MODE` set (because the actual export_sourc

[2022-07-22 06:16] MariaMozgunova commented on #11682
Can I take this issue?

[2022-07-22 06:47] thorsten-klein opened #11689 "[editable] work within a mono repo"
Hello,
we develop our software in a mono repo.

[code]

To our consumers we do not want to provide one big package, but instead the multiple modules as smaller conan packages.

The problem now comes during our development, that we depend on a local `conanfile.py` within our mono repo (e.g. `mylibB` requires `mylibA`)

I would welcome some feature like
[code]

This could automatically set the speci

[2022-07-22 06:59] lasote commented on #11664
Yeah, of course, sorry for the noise.

Honestly, I think the flow you are doing is hacky, I totally get why are you doing it but it is not supported, I wouldn't want to introduce "patches" like the `md5` hardcoded to support it because eventually you still need such a bunch of logic to avoid downloading the files.

If we solve this (I don't know how yet) I think we should do it right.
I'll ask @me

[2022-07-22 07:57] thorsten-klein commented on #11664
IMHO a conan package is broken/useless, if it is not self-contained. It may happen, that people cannot rebuild it at any time later from source. And such a broken conan package is a high risk for any running project.

If we rely on any server different than the conan remote (any 3rd party server or even internal server), the server may go down or move (temporarily or permanently). With an internal

[2022-07-22 08:00] memsharded commented on #11682
Sure, thanks @MariaMozgunova ! Make sure to branch from ``develop2`` branch and target the PR to it.

[2022-07-22 08:02] memsharded commented on #11681
Hi @gegles

We would need a few more details please:
- Are you using latest Conan version?
- Are you using the Windows installer or ``pip install``?

[2022-07-22 08:06] #11635 closed, assigned to MariaMozgunova

[2022-07-22 08:12] memsharded commented on #11689
Hi @thorsten-klein

quick question about the overall approach.

If you are always going to develop in a mono-repo, with the same packages, same package versions, always need to build from source locally... why using Conan for developing, and not only for packaging? You could have just very simple recipes, that you can use with ``conan export-pkg`` to create the package binaries for the consumers o

[2022-07-22 08:15] memsharded commented on #11689
By the way, a quick hint about editables: if you have a graph of editable packages, you probably don't want to run ``conan install`` on each one, but ``conan editable`` on each one, and then ``conan install`` on the final consumer, because this guarantees consistency of the graph, specially if you have propagating options or something like that. Otherwise each local ``conan install`` could use a d

[2022-07-22 08:18] lasote commented on #11664
I get it, but many companies have an internal server (or private cloud) as storage, like Artifactory, that supports also Conan packages, to store there all the internal needed files. In a generic repository, you can store anything (e.g zipped files).

Setting an appropriate backup policy it doesn't matter if the sources are stored in the conan server, actually you would store the conan packages in

[2022-07-22 08:39] thorsten-klein commented on #11664
@lasote yes this wie also have of course. Nevertheless it may happen, that someone by accident removes some files during housekeeping (e.g. `https://our.conan.center/artifactory/conan/sources/dbus-1.12.20.tar.gz`). This breaks then some of the conan packages (e.g. `https://our.conan.center/artifactory/conan/userA/dbus/1.12.20/channel`) - very hard to predict for the person removing a file at a dif

[2022-07-22 08:51] thorsten-klein commented on #11689
@memsharded Thanks a lot for your fast answer.
We use it during development, because we also have a lot of external requirement which we do not store as source code in our repository (e.g. `dbus` or `googletest`). So actually I have to say we have a mono-repo of _OUR_ source code.
As a result `conan export-pkg` alone is not enough, since we also have to resolve dependencies via `conan install`.

S

[2022-07-22 09:15] lasote commented on #11664
IMO That should be controlled with correct permissions (write but not delete) and maybe a different repository to store the sources. What would happen if someone decide to remove the Conan package itself?

Yes, sure, I didn't explain correctly. I meant that you want the better from external sources and the better from exported sources and that is not supported.

[2022-07-22 09:23] memsharded commented on #11689
As a result conan export-pkg alone is not enough, since we also have to resolve dependencies via conan install.

But that is still valid with a mono-repo. You can have a mono-repo with your own code, and use Conan for the dependencies. That doesn't mean that you need to have each package in the mono repo as editable.

All other conanfile.py from the self.requires shall be in editable mode.

Ok, no

[2022-07-22 09:29] thorsten-klein commented on #11664
Yes, indeed. So actually you MUST not remove any file at all in an artifactory.
Nevertheless my second argument is still valid that the conan package is tightly coupled to the artifactory itself - it cannot be uploaded to another artifactory.

I am completely open for any solution :-) I only wanted to point out that it is quite a valid use case to get the RREV without exporting a package at all. T

[2022-07-22 09:39] thorsten-klein commented on #11689
That was also something I was thinking about. This should work fine during development. But then we need to have some logic as soon as we want to `export`our current state. The logic would be something like:

- `export` libA (no dependencies) and get the resulting reference `libA/1.0.0@stable/release#RREV`
- insert the reference from libA into the conanfile.py of libB (since libB depends on libA).

[2022-07-22 09:54] memsharded commented on #11689
Well, it is expected that the evolution of workspaces would include commands that work over all the editable packages indeed (just in case, Conan 2.0 has already implemented some functionality that works over editable packages, which is ``--build=editable``, that builds editable dependencies from source, locally in the user folder).

But having the ``#RREV`` automatically and explicitly added to t

[2022-07-22 10:06] hwhsu1231 opened #11690 "[question] How to modify the default directory of Binary Packages?"
By default, Conan will install or build packages into `C:\.conan` directory on Windows.

However, `C:\` drive is usually the **SYSTEM DISK**, which might not have enough memory spaces. Besides, the total size of **BINARY PACKAGES** are extremely **HUGE**. Take mine for example. It is about **52.2 GB**.

Therefore, I want to modify it to somewhere else, for example `D:\.conan`. How to do it?

### S

[2022-07-22 10:14] memsharded commented on #11690
You can use CONAN_USER_HOME and CONAN_USER_HOME_SHORT to specify the folders: https://docs.conan.io/en/latest/reference/env_vars.html?highlight=conan_user_home#conan-user-home

Yes, folders can be big, if your compiled binaries are big.

[2022-07-22 10:15] jcar87 commented on #11688
Hi @jwillikers  - thanks for providing additional information!

From what I've been able to gather, if this is the default clang compiler from base - `/usr/local` is not in the default search path of the compiler or the LLVM linker. The appears to be widespread issues when it comes to the treatment of `/usr/local` by different tools/toolchains:

* https://forums.freebsd.org/threads/clang-cant-find

[2022-07-22 10:42] thorsten-klein commented on #11689
I think this is quite a common use case, isn't it?
If people develop multiple packages at the same time using editables, then they may want to release all of them in one step, whereby each package should automatically have the correct exact reference (with #RREV) of each requirement. This may be required in order to have a reproducible build (At least this is how we develop). Otherwise we cannot r

[2022-07-22 12:25] foundry-markf commented on #11571
Hi @memsharded , thanks for the response (sorry for my late reply, as have been away).

Appreciate that you looked into this and have some suggestions for 2.x. I hope having an order of precedence will be enough to squash this sort of case.

A few questions:
1. would it be fair to say that Conan 1.x will continue with the observed behaviour, and not expect to be changed?
2. are there some new publ

[2022-07-22 13:04] tmoonlight commented on #7795
Mark. Such an annoying problem.

[2022-07-22 13:48] jwillikers commented on #11688
@jcar87 Thanks for digging into this. I think we're pretty much on the same page here up until the part about the CMakeDeps generator's behavior in regard to the `INTERFACE_LINK_DIRECTORIES` and `INTERFACE_INCLUDE_DIRECTORIES`. The CMakeDeps generated files for `xorg/system` in my branch show that the information regarding _both_ `libdirs` and `includedirs` is correctly picked up from `pkgconf`. T

[2022-07-22 13:52] thorsten-klein commented on #11689
@memsharded is there any chance to let the conanfile.py, which is in editable mode, be built by `conan install` like if it is a normal package stored inside the cache?

I would expect the following to work:
[code]

The `conan install` knows, that `mylibA` is in editable mode.

I would like the feature, that conan now will `export` the according local conanfile `../mylibA/conanfile.py` (maybe at so

[2022-07-22 16:06] jcar87 commented on #11688
Hi @jwillikers  - thanks a lot for providing the content of these files and the comprehensive details.

I see what you mean, it would appear that Conan is correctly retrieving the include and library paths from pkgconfig, but it's possible this information is not correctly propagated by the CMakeToolchain/CMakeDeps generators.

I believe there's enough information for us to reproduce this in isola

[2022-07-22 16:24] jwillikers commented on #11688
@jcar87 Thanks, I really appreciate all of the work you put in to help me out with this.

[2022-07-22 16:33] ghost commented on #11681
To follow up, I had issues with pip install because python was being compiled from sources without the sqlite3 libs. Once I fixed that `pip install conan` fixed the issue, as reported

[2022-07-22 16:47] memsharded commented on #11681
Yes, that is true, the based Python used for Conan has to have sqlite3 support.

[2022-07-22 17:26] memsharded commented on #11444
Inactive, closing.

[2022-07-22 17:26] #11444 closed, assigned to nobody

[2022-07-22 17:33] memsharded commented on #3652
Checking old issues. This issue was never responded, sorry for that.
This hasn't been apparently a problem for any other users, and there are many using Android. I haven't seen any recipes removing the version that way, I don't think that is the right approach, but just define the version number, as provided by the NDK. It is not that the version number doesn't exist, it exists and it has to be de

[2022-07-22 17:33] #3652 closed

[2022-07-22 17:35] memsharded commented on #2417
There is a new way to inject flags in new build system integrations, via ``tools.build:cxxflags`` ``conf``, and there is even a way that we can make the ``conf`` affect the ``package_id`` in Conan 2.0, so this would implement this flow.

Closing this as inactive.

[2022-07-22 17:35] #2417 closed

[2022-07-22 17:37] memsharded commented on #6860
There is completely new tools for installing system packages, no longer being cached in the Conan cache.

Closing this as inactive.

[2022-07-22 17:37] #6860 closed, assigned to memsharded

[2022-07-22 19:07] gegles commented on #11681
I actually used `choco install conan` on Windows... Could this be the culprit? I'm gonna try `pip install...` and see.

[2022-07-22 20:47] anderson-dev commented on #11681
Same here installed via choco. Glad to have a potential emergency plan with pip install potentially but it’s still a giant pain because I’d have to instruct all our developers to do so and modify, rebuild, and republish both of our Windows Docker build images to change the install script which usually takes several hours

Sent from my iPad

[2022-07-23 01:35] radonish opened #11693 "[question] Build Requirement Usage"
Hello,

I'm trying to use the `build_requires` feature and it's not behaving how I thought I understood it to work. Essentially this is the use case:

- All packages are built with multiple profiles; for this example let's say we have an x86_64 profile and an arm profile
- Package appX requires package buildHelperX for building

Thus, appX lists buildHelperX in its `build_requires` section. appX i

[2022-07-23 05:28] db4 commented on #8287
I ran into a similar issue (periodical 502 or 503 HTTP errors in CI jobs). Artifactory docs indicate that it handles at most 200 active HTTP connections by default:

Using monitoring method described in https://jfrog.com/blog/monitoring-and-optimizing-artifactory-performance/ I see that `conan search -r` creates 12 concurrent HTTP connections while single `conan install` generates over 300(!) conn

[2022-07-23 06:07] db4 opened #11694 "[feature] New CMake helper variable definitions"
Standard CMake helper defines a number of variables like CONAN_EXPORTS, CONAN_IN_LOCAL_CACHE etc. that I use in my projects. Now I'm trying to switch to CMake transparent integration/CMakeDeps/CMakeToolchain generators so I have to use CMake helper from conan.tools.cmake. But it defines neither CONAN_EXPORTS nor CONAN_IN_LOCAL_CACHE. Is it possible to define them in the new CMake helper as well?

[2022-07-23 11:31] MariaMozgunova commented on #11682
Do I get it right that the only change to be made is to add `#latest` like this (so it is necessary to specify the revision in the `conan list packages` command)?
[code]

[2022-07-23 20:57] dyscalculia94 opened #11695 "Missing binary even though conan search finds it"
* Operating System+version: Linux Mint 20.3 Cinnamon
  * Compiler+version: clang version 10.0.0-4ubuntu1
  * Conan version: 1.50.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

1. Running `conan install -pr clang_debug . -if bin/ --update` throws a bunch of missing binaries

### Logs (Executed commands with output) (Include/Attach if Applicable)

Running `conan remote

[2022-07-24 02:45] youngday commented on #11695
you need run  " conan install -pr clang_debug . -if bin/ --update  --build=missing" ,need add  "--build=missing"

[2022-07-24 10:37] unfor19 opened #11696 "[feature] Generate a post-install report after "conan install""
Hi,

I'm using the command `conan install` to install external packages and generate an `--installer-folder`.

I need a way to determine how many packages were Downloaded/Cached/Built during the `conan install` process.

Maybe if there was a new flag `--packages-report` or `--packages-report-json`, like:

[code]

And the expected content would be something like this

`./install_folder/conanpackage

[2022-07-24 11:32] dyscalculia94 commented on #11695
Hi,
Thanks for the help.

I did do that yesterday, and I had some further problems, so I thought that might not be the correct avenue to pursue.

I did it again today, and I have a different problem which I didn't have yesterday (can't remember exactly what was yesterday's problem). The problem I have now is while trying to build OpenColorIO/2.1.0:
[code]

Not sure if this is something that we nee

[2022-07-24 12:40] kauwua opened #11697 "[bug] conan-script.py fails because of unicode character in python shebang"
In `C:\Users\UserWithé\AppData\Local\Programs\Python\Python310\Scripts`, `conan-script.py` seems to be missing a `# -*- encoding: utf-8 -*-` at the top of the file. The shebang that gives the path to the python interpreter looks like this `#!C:\Users\UserWith�\AppData\Local\Programs\Python\Python310\python.exe`.

Without it, I got a "SyntaxError: Non-UTF-8 code starting with '\x91'" error when run

[2022-07-25 07:10] andiwand opened #11698 "[question] conan on windows-2022 in github actions"
I noticed that conan will not work on an windows-2022 runner in github actions. see https://github.com/opendocument-app/OpenDocument.core/runs/7490830229?check_suite_focus=true#step:8:27

[code]

Is this the expected behavior currently?

Do you know any easy solution to fix that? I thought of using sed on the `settings.yaml` but I fear it will be quite unstable in case of conan updates.

- [x] I'v

[2022-07-25 07:51] thorsten-klein commented on #11663
If I use `@property` the `inspect` seems to return the correct list of files.

[2022-07-25 07:51] #11663 closed, assigned to lasote

[2022-07-25 08:11] thorsten-klein commented on #11689
I have thought about this topic during weekend.

I have now some "hacky" solution, which may be the base for some regular solution in future.

Explanation:
I have introduced `def requirements_local(self)` and `requires_local` (in my `ConanFileExtended` base class). Now I can specify a local conanfile.py as requirement.
During the `requires_local` the requirement is always first exported into the l

[2022-07-25 08:18] jcar87 commented on #11698
Hi @andiwand  - thanks for raising this issue.

That error would be coming from the [cmake-conan](https://github.com/conan-io/cmake-conan) integration. However, I can see that Visual Studio 2022 is supported in `cmake-conan` since version 0.17, and in Conan itself since version 1.40, so this error is not expected on recent versions.

Could you confirm which versions you are running?

[2022-07-25 08:23] andiwand commented on #11698
Hey @jcar87 ! I am running conan 1.50 https://github.com/opendocument-app/OpenDocument.core/runs/7490830229?check_suite_focus=true#step:5:8

Looking at cmake-conan here https://github.com/conan-io/cmake-conan/blob/develop/conan.cmake#L58 supports your argument. I haven't updated the script in a while and didn't know it would have an effect on compiler versions. https://github.com/opendocument-app/

[2022-07-25 08:33] Facon opened #11699 "[question] Pass a PATH to be used by consumer"
I would like to now how can I pass a path to some executables from an installed packaged.

Let's say that I have installed a package AAA that contains the following structure:
.conan/data/AAA/1.0/\_/\_/package/_HASH_/
├───tools
│&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└───linux
├───include
└────lib
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└───linux
.conan/data/AAA/

[2022-07-25 08:37] andiwand commented on #11698
now it works :tada: https://github.com/opendocument-app/OpenDocument.core/runs/7496078244?check_suite_focus=true

thank you @jcar87 and sorry for the noise!

[2022-07-25 08:37] #11698 closed, assigned to jcar87

[2022-07-25 09:43] jcar87 commented on #11695
Hi @dyscalculia94 thanks for reporting this issue and for pasting the logs.

It would appear that your dependency graph is resolved and the recipe references are correctly found and retrieved from Conan Center, but that binary packages for some of them are not present for the particular configuration you are requesting (clang 10 on Linux x86_64 built with the Debug configuration). Conan Center doe

[2022-07-25 09:51] memsharded commented on #11696
Hi @unfor19

Quick question, isn't the ``conan install --json`` output what you are looking for? Please have a look and let me know.

Otherwise, for new features, they should be targeted already to Conan 2.0, to the ``develop2`` branch. If looking into 2.0, there are a couple of things that you need to check first:
- Conan user custom commands. It is possible to create and manage custom commands,

[2022-07-25 09:54] memsharded commented on #11697
Hi @Riuzakiii

Can you please detail your OS, OS version, process to install Conan, Python version, process to install Python?

What you are describing, the ``conan-script.py`` is not a file that we generate, this seems to be part of the Python pip installer, I am not sure it is something that we can fix, but it could be a ``pip`` bug.

[2022-07-25 10:00] memsharded commented on #11699
Hi @Facon

With new tooling is:
[code]
Then on the consumer side, use the ``VirtualBuildEnv`` generator.
That would add that to the path, which will be in a file that you (as developer) can activate or source, and that Conan will automatically use in the ``self.run(...)`` commands.

[2022-07-25 11:35] unfor19 commented on #11696
@memsharded Wow
Thank you for the detailed answer, I'll check it out.

I've just tested the `conan---json .release.json` flag and the output is not exactly what I'm looking for. I think that it's best if I share my use-case.

In the CICD:

- conan install
- conan upload "*" (uploads EVERYTHING)
- conan build my-package
- conan package my-package
- conan export-pkg my-package
- conan upload my-pack

[2022-07-25 11:37] memsharded commented on #11689
If people develop multiple packages at the same time using editables, then they may want to release all of them in one step, whereby each package should automatically have the correct exact reference (with #RREV) of each requirement. This may be required in order to have a reproducible build (At least this is how we develop). Otherwise we cannot reproduce old branches if there is a new package wit

[2022-07-25 11:40] memsharded commented on #11689
This approach is very hacky. Conan should never be called recursively. We will even make this official "undefined behavior" in Conan 2.0. Conan application itself, including the ``Command`` layer, should never be called from recipes, plugins, hooks, or even the Python API.

[2022-07-25 11:56] memsharded commented on #11696
Some implementation details: Conan is able to skip a ton of upload, because it has file de-duplication (against Artifactory), but also some checking of checksums to avoid unnecessary transfers. You might want to give it a try, compare, and if necessary report, but it might not have a huge impact on wasted time in practice.

Conan 2.0 will further use the revisions feature, and avoid more unnecessa

[2022-07-25 12:56] iaavo opened #11700 "[question] Take latest version of requirement fulfilling condition"
I have two Conan packages: `lib` and `headers` in such a dependency graph:
[code]
Now I have a Conan package `app`. How can I make `app` require the latest version of `lib` which is still using `headers/1.0`? Note that I cannot control the version of `lib`.

[2022-07-25 13:25] unfor19 commented on #11696
@memsharded I'll measure it and get back with an answer, we're running multiple CI/CD processes concurrently, so I'm trying to avoid a server overload, especially because the server is not HA (using OSS for now) so if it crashes due to high load of requests, it just crashes :\

Regarding the real issue - I know why I thought the `--json filename` doesn't answer my requirements, I searched for the

[2022-07-25 14:37] memsharded commented on #11700
Hi @iaavo

It is not fully clear what you mean. If you have ``app``, it will contain a ``requires = "lib/2022-07-25"`` (by the way, you should probably not be using ``-`` here, as it has some meaning in ``semver``, meaning pre-release, and it could affect how this version is interpreted in some cases). So it is the ``app`` that control the version of ``lib``.

[2022-07-25 14:50] iaavo commented on #11700
The use case that I have is that I want to support multiple maintenance versions of `app` at the same time.
For example:

`app/1.0` is for anything that is built using `headers/1.0`
`app/2.0` is for anything that is built using `headers/2.0`

Now during development a new version of `lib` can be released. By checking the dependencies of the new package I can find out which `headers` the lib was bas

[2022-07-25 14:56] memsharded commented on #11696
You mean ArtifactoryCE? Or the open-source ``conan_server``? Because ArtifactoryCE is completely free, and it can be used in production, easy to maintain, and much faster than ``conan_server``.

Now I see about the keys. Apparently the ``cache`` key is not there, and the state is a combination of ``downloaded``, ``exported`` and ``built``. If neither of these is ``True``, then it can be assumed th

[2022-07-25 14:58] memsharded commented on #11682
Yes, exactly, just a minor correction in the docstring.

[2022-07-25 14:59] memsharded commented on #11682
Sorry, I think I mistakenly closed the issue, it was not my intention. Reopening.

[2022-07-25 15:05] memsharded commented on #11694
Hi @db4

Conan 2.0 has change a bit the design, and the criteria is that it should be possible to do exactly the same build in the user folder and in the cache. There are several mechanisms for this:
- Better representation of the layout with ``layout()`` method, and helpers like ``cmake_layout()`` to achieve the exact same relative location of files and folders. If there is something related to l

[2022-07-25 15:23] memsharded commented on #8287
Hi @db4

I think this high number of connections would deserve its own issue. Would you like to create a new issue with the above, please?
It would be useful to detail how did you obtain those traces, and also to test the same, but without ``general.parallel_download``. Also, detail the conan version, just in case, and any other detail that could be relevant, if you have some non-standard installa

[2022-07-25 15:27] memsharded commented on #11681
The ``choco`` package is not maintained by us, by the way. I think when we release the fix in the ``pyinstaller`` in 1.51., it will be used automatically, but cannot be sure.

Also, I am still missing information to know if this is a regression or not. So far, it doesn't seem so, but this is something that never worked in Conan installations created from ``pyinstaller``. If someone has some eviden

[2022-07-25 15:39] memsharded commented on #11700
Sorry, it is still not clear.
even if you have 2 versions of app, you still have ``requires`` in them. Lets say you have:

*app/1.0*
[code]
*app/2.0*
[code]

So the version is still explicit.
If you want, you could have a version range like: ``requires = "lib/[>1.0 <2.0]"``, but for a start, you are using a versioning scheme that is not compatible with version ranges, so this wouldn't be a solutio

[2022-07-25 16:02] memsharded commented on #11687
Hi @thorsten-klein

The answer might be different, also depending if you want to release to the final user as Conan packages or not.

Conan 2.0 includes a new feature for the later, using new ``--deploy=mydeployer`` it is possible to get copies from artifacts from the Conan cache, and to operations over them, including running later generators like ``CMakeDeps`` that point to the copy, and not to

[2022-07-25 16:23] jcar87 commented on #11693
Hi @radonish - thanks for raising this question.

You're on the right track: when you are _cross_ building a project that has dependencies, any _executable_ that needs to be executed during that build, that also comes as a dependency, needs to be built to run on the machine doing the build (hence the "build" profile).

I would avise to use the new syntax (`tool_requires`) and the new CMake generat

[2022-07-25 16:33] unfor19 commented on #11696
I guess I'm using Artifactory CE -

![image](https://user-images.githubusercontent.com/15122452/180827589-c9daf98a-2bee-4870-ac64-e7a55ef7fac1.png)

Regarding the use in production, I assume you refer to "make it Highly available" (as I mentioned earlier) though I can't find a way to make it highly available "for free", see the docs:

**Artifactory HA is supported with an  [Enterprise License](htt

[2022-07-25 16:33] #11696 closed, assigned to memsharded

[2022-07-25 17:10] memsharded commented on #11696
Yes, you are totally right, the HA feature of Artifactory is a paid, one, I was confused by the OSS, and I thought it could be the ``conan_server``

Great. Let us know how it goes, I hope you can make it work.

Sure, I am definitely willing to learn from your experience, please feel free to send an email to info@conan.io, and we can take it from there. Cheers!

[2022-07-25 17:40] iaavo commented on #11700
Thanks for the quick and elaborate reply, really amazing support here! I was hoping there was some internal Conan mechanism to resolve such a dependency graph with somewhat arbitrary conditions, but seems there isn't (and probably for good reason).

After looking through the Conan manual and some more thoughts to this issue, I think what I will try to make is a pre-CI script which will analyse new

[2022-07-25 21:02] kauwua commented on #11697
The versions I'm using are in the "Environment details" of the description of the issue.

Process to install Python

1. Download latest installer from https://www.python.org/downloads/windows/
2. Add Python to the user path

Process to install Conan

- `python -m pip install conan`

I realized my pip version was not the latest, so I upgraded pip with `pip install --upgrade pip` (upgraded to pip-22

[2022-07-25 23:32] memsharded opened #11702 "[develop2][bug] A bad custom command, with a wrong import breaks Conan"
As it fails at import time, it no longer can execute anything, and the traces are confusing.

I think it should be necessary to wrap the error and include a clear error message: "this is broken, remove this command to continue"

[2022-07-25 23:57] memsharded commented on #11682
Closed by https://github.com/conan-io/conan/pull/11701. Many thanks!!!

[2022-07-25 23:57] #11682 closed, assigned to MariaMozgunova

[2022-07-26 00:06] memsharded commented on #11697
It seems this has already been reported, first in ``pip`` repo, then in ``setuptools`` in https://github.com/pypa/setuptools/issues/1246. Seems the default encoding could also be related.

[2022-07-26 00:18] memsharded commented on #11700
Thanks, we really love to help the best we can, sometimes it is challenging because of quick growth, but we always try :)

Yes, indeed. Arbitrary conditions means a way more complicated algorithm, actually could be NP-complete, and require joint-compatibility and backtracking, making it easily intractable in practice, as very often resolving dependencies means hitting a server, downloading a conan

[2022-07-26 00:18] #11700 closed, assigned to memsharded

[2022-07-26 05:55] czoido commented on #11525
Hi @Ahajha,

I opened a [PR](https://github.com/conan-io/conan/pull/11692) to try to address what you mentioned in the [comment above](https://github.com/conan-io/conan/issues/11525#issuecomment-1180634142) but, after discussing that with the team, we have decided that this is a minor improvement in the UX that may confuse users as that information really belongs to the `package_info()` method.
We

[2022-07-26 05:55] #11525 closed, assigned to czoido

[2022-07-26 06:38] Wonders11 commented on #8405
Can someone please give me detailed explanation in order to complete this task. I'm unable to get it. Help would be really appreciated. Thank you in advance.

[2022-07-26 08:06] memsharded commented on #8405
Hi @Wonders11

I think this has been solved already in ``develop2`` branch, targeted for Conan 2.0.

At the moment all new development, new features, minor ux bugs, etc, should be targeted to 2.0, not to 1.X anymore, which now is under maintenance and migration mode only. Please check develop2, and let us know.

I am closing this as implemented in 2.0, if something fails, please open a new ticket

[2022-07-26 08:06] #8405 closed, assigned to Wonders11

[2022-07-26 09:02] jngrb opened #11703 "[bug] LIBS variable not correct for linking static libraries when building with autoconf tools"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc-9
  * Conan version: conan 1.47.0
  * Python version: Python 3.8.10

### Steps to reproduce (Include if Applicable)
1. create a dummy conanfile.py for wrapping a static library, e.g. to wrap `/usr/lib/x86_64-linux-gnu/libcrypto.a`, use this package_info method:

[code]

[2022-07-26 09:03] harsszegi opened #11704 "[question] full_package_mode mode and transitive dependencies"
Hi,

I'm a bit puzzled about full_package_mode and consumers. I have two questions.

a.) If I have A->B->C, and I set full_package_mode for C within B's packageid(), does it mean that A's packageid will also be changed automatically? Or should I do full_package_mode for B in A, too?

b.) Isn't there a way to specify in the "dependee" (C) directly that whenever C is consumed by anybody it should co

[2022-07-26 09:07] kauwua commented on #11697
Thanks for finding the related issues, I might create a new issue in pypa/setuptools to see if this can be fixed (the two issues date back to 2018)

[2022-07-26 09:10] memsharded commented on #11703
Hi @jngrb

First, a note of warning, about the ``AutotoolsBuildEnvironment``. It is legacy, and it has already been removed from Conan 2.0. Unless it is a regression or something very serious, reports and feature requests should be directed to integrations under ``from conan.tools.gnu`` in this case.

Then, I would like to understand better the error mode. How is it failing, is it not linking? Wha

[2022-07-26 09:13] memsharded commented on #11704
Hi @harsszegi

Yes, when you define a mode in a recipe ``package_id()`` it only defines how things affect to that specific package, as it doesn't make sense for the consumer (for example if A is a header only library, it doesn't mean that it should have a different package for each one of its dependencies versions varying on full_package_mode)

If you want to change things globally, you can change

[2022-07-26 09:20] harsszegi commented on #11704
Awesome, thanks a lot @memsharded

[2022-07-26 09:20] #11704 closed, assigned to memsharded

[2022-07-26 09:23] mpusz opened #11705 "[feature] Another change to CMakePresets naming"
Right now the CMake Preset configuration is named with a small first letter (i.e. `release`, `debug`, ...). However, `conan install` requires the first letter to be uppercase for `build_type`. This makes build scripting a lot harder.

Example:

[code]

The above is inconsistent and cannot easily work with variables provided by the CI services. It would be much better if for i.e. GitHub actions we

[2022-07-26 09:54] memsharded commented on #2260
This issue had no activity in 2 years.
Conan has already dropped Py2 support, and is already in Conan 2.0-beta stage.

If this is still an issue, it would be great if it could be reported against Conan 2.0, please try to do so. Many thanks!

[2022-07-26 09:54] #2260 closed

[2022-07-26 09:57] AndreyMlashkin opened #11706 "[feature] make system_requirements error logger more informative"
currently, error log looks like:
[code]
If should contain a list, which packages are missing.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-07-26 10:00] memsharded commented on #11706
Can you please report which tool are you using inside ``system_requirements()``? Because there are 2, the legacy and the new one in ``from conan.tools``.

[2022-07-26 10:04] mpusz opened #11707 "[feature] location of the generated CMakeUserPresets.json"
The Conan documentation states:

However, there is no way to set the source folder from the `conan install` command. Besides the obvious use case to override the defaults from the command line, such an option could also be useful in big projects to select which directory with CMakeLists.txt should be used as an entry point for CMake build. For example, if I have several standalone subprojects in t

[2022-07-26 10:07] jngrb commented on #11703
Hi @memsharded

I understand your points. In one of my use cases, I want to build libcurl instead of a openssl conan package from conan-center-index with the openssl from the native distribution. When I attempt to do this using a dummy recipe (the static linking case is outlined above), I get for the attempt with a static openssl from the system (in the build step for libcurl):

[code]

excerpt fr

[2022-07-26 10:13] AndreyMlashkin commented on #11706
I am not sure, what do you exactly mean.
I am installing official xorg/system
https://github.com/conan-io/conan-center-index/blob/master/recipes/xorg/all/conanfile.py

[2022-07-26 10:47] #11559 closed, assigned to nobody

[2022-07-26 10:49] memsharded commented on #11706
Good, that is using the new tooling in ``from conan.tools.system.package_manager import Apt, Dnf, PacMan, Pkg, Yum, Zypper``

[2022-07-26 10:54] czoido commented on #11706
Hi @AndreyMlashkin,
Thanks for the feedback. I can open a PR to improve the message. What information do you miss in the message? Maybe it can also be a problem of lack of visibility in the Conan documentation? The new package_manager tools are documented [here](https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html).

[2022-07-26 11:10] AndreyMlashkin commented on #11706
I would like to see, which packages are missing.
It would be perfect to have the full list of missing dependencies

[2022-07-26 11:39] czoido commented on #11706
I think the problem is that the recipe in conan-center-index is forcing an update for the packages but that will make that something like `apt-get update` is executed and that is not allowed if the  configuration `package_manager:mode` is different from `install`. Let me mark this as look into so I can discuss the implications of this with the team.

[2022-07-26 11:58] czoido commented on #11706
@AndreyMlashkin

Did you try to set the conf: `tools.system.package_manager:mode=install`?

You can do that in the command line like:

[code]
Or in the `[conf]` section of your [Conan profile](https://docs.conan.io/en/latest/reference/config_files/global_conf.html#configuration-in-your-profiles).

[2022-07-26 14:41] jwillikers opened #11710 "[question] How to generate PkgConfig files for tool_requires dependencies and consume them with MesonToolchain?"
Several Meson-based packages in Conan Center use PkgConfig files to find build tools.
For instance, the [wayland](https://github.com/conan-io/conan-center-index/blob/master/recipes/wayland/all/conanfile.py) package contains a tool that generates source files called `wayland-scanner`.
To handle the complexities of cross-compilation, the `wayland` package requires that `wayland-scanner` be installed

[2022-07-26 15:32] GavinNL commented on #11706
My CI is failing with the same error
[code]

My CI has sudo, but not sure what to do about this. I tried adding the following but it didn't work
[code]

Is there anything else I'm supposed to add?

[2022-07-26 15:50] czoido commented on #11706
Hi @GavinNL,
If you also add `-c tools.system.package_manager:sudo=True` the package manager will be invoked with sudo:

[code]

Hope this helps.

[2022-07-26 15:54] GavinNL commented on #11706
Ahh okay. looks like that worked. Thanks!

Is there a way to get the list of system packages required by the conanfile? something like:

[code]

[2022-07-26 16:07] AndreyMlashkin commented on #11706
I don't need to install the dependencies, I only want to print missing ones. The same as a call
`conan install my_dependency/1.1.1@` would do if you don't specify --build missing

[2022-07-26 17:08] anderson-dev commented on #11681
Anyway to give a warning to conan index publishers to avoid using this feature until 1.51 is out?

[2022-07-26 17:37] memsharded commented on #11681
Warnings is not really a thing for ConanCenter publishers, many things are automated, they will either block or warnings will not be read. And it is not possible to block because these already approved and merged features are correct, and have been released a couple of releases ago (1.48, it seems, https://docs.conan.io/en/latest/changelog.html). In any case, 1.51 will be released in a couple of d

[2022-07-26 17:37] #11681 closed, assigned to nobody

[2022-07-26 18:19] anderson-dev commented on #11681
For those needing a workaround until Conan 1.51

Specifying the previous, known working revision discovered from conan center website in your requires alleviates the issue until Conan 1.51:
[code]

I tried using a proxy-mirror in Artifactory but unless you pin the specific revisions, the proxy just downloads the latest revision anyway (even after purposely deleting it from our proxy) due to our no

[2022-07-26 20:12] NashTools opened #11711 "[question] Installing system_requirements with conan user pip installation"
I have installed conan on Ubuntu 20.04 as a user with pip (without sudo, just "pip install conan")
Now I am trying to install xorg/system, which has system_requirements.

I have read the similar issues and tried a few flags but when I write:
`conan install xorg/system@  -c tools.system.package_manager:mode=install`
conan does correctly try to install the requirements, but I get a Permission Denied

[2022-07-26 20:24] czoido commented on #11711
Hi @NashTools,

Please, try using [tools.system.package_manager:sudo](https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html#configuration-properties-that-affect-how-system-package-managers-are-invoked) as well.

Something like:

[code]

Hope this helps.

[2022-07-26 20:55] NashTools commented on #11711
Thank you for the fast support, it worked.

[2022-07-26 20:55] #11711 closed, assigned to nobody

[2022-07-27 07:00] lasote commented on #11707
The `conanfile.source_folder` directory is the join of the folder where the `conanfile.py` is located (path of the `conan install x`) and the `folders.source` that is declared in the `layout()` method. The `source-folder` is not meant to specify where the `CMakeUserPresets.json` is written but describes where your library sources are (for building editable packages and so on...)

In the situation

[2022-07-27 07:21] lasote commented on #11705
I think it is better to keep the names lowercase, when the name is composed with other settings/options (e.g `apple-clang-shared_true`)  the name is very weird and easy to mistype otherwise.
I would say any CI scripting should have a `lowercase()` function available, otherwise an issue should be open on it.

[2022-07-27 07:31] czoido commented on #11706
@GavinNL we don't have a dedicated command for that but you could iterate the dependencies in the conanfile's `generate()` method and get the list of system libs. Something like:

[code]

In Conan 2.0, there's the possibility to add your own custom commands, so you could make your own command for that. You can read about that [in the Conan 2.0 documentation](https://docs.conan.io/en/2.0/reference/

[2022-07-27 07:47] jngrb commented on #11703
In PR #11713 , I provide a work-in-progress fix that works for my use cases.

I uploaded the PR for documentation, but leave it in WIP state, i.e. don't want it to be merged until the solution for this issue here is discussed thoroughly.

[2022-07-27 08:27] mpusz commented on #11707
Yes, for the case I described a file will not be generated. For others, I do copy a CMakeUserPresets.json manually, and it works. Such scenarios might be the one I described in my Conan talks where we have two CMake entry points in the project. One for the development (with all the unit tests, examples, compilation warnings set, etc.) and the one in a `./src` subdirectory for customers. If I want

[2022-07-27 08:29] mpusz commented on #11707
How this relates to: https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html#package-dev-flow where we can provide `--source-folder` explicitly (different than the one hardcoded in `layout()`)?

[2022-07-27 08:31] mpusz commented on #11705
I can live with that 😉 Just wanted to ensure it was discussed.

[2022-07-27 08:36] mpusz commented on #11705
Actually it seems it is not that easy on GitHub actions: https://github.com/community/community/discussions/10553 😢

[2022-07-27 09:03] czoido commented on #11651
Closed by: https://github.com/conan-io/conan/pull/11673

[2022-07-27 09:03] #11651 closed, assigned to lasote

[2022-07-27 09:29] memsharded commented on #11707
The docs in https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html#package-dev-flow are legacy, they were written before the ``layout()`` existed, before ``generate()`` and all the new build system integrations. That doc page disappears in Conan 2.0

[2022-07-27 09:46] czoido commented on #11706
@AndreyMlashkin
We have merged https://github.com/conan-io/conan/pull/11712 and will be released in 1.51, from that version you will see what packages are missing being in mode=check, so this should solve your issue.

[2022-07-27 09:46] #11706 closed, assigned to czoido

[2022-07-27 11:15] memsharded commented on #10279
Closing this. This is not a bug, but expected behavior, and OP didn't follow up the above recommendations and discussion.

[2022-07-27 11:15] #10279 closed, assigned to memsharded

[2022-07-27 11:18] memsharded commented on #11402
Hi @smoofra

Any update here? I am moving this to next 1.52 iteration, please have a look at the above comments.

[2022-07-27 11:24] Hopobcn opened #11714 "[bug] folly incorrect CXX_STD when self.settings.compiler.cppstd is set"
Seems that `folly` recipe is passing `settings.compiler.cppstd` directly to `CXX_STD` when in fact the cmake flag is expecting the gnu flag (to be exact, the right side of the `=`).

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04.6 LTS
  * Compiler+version:  gcc 7.5.0
  * Conan version: 1.49.0
  * Python version: 3.6.9 (it is deprecated i kn

[2022-07-27 11:26] uilianries opened #11715 "[bug] System Manager updates always when a package is installed already"
It's listed as a bug, because the old `SystemPackageTool` has a different behavior, which, had an advantage:

When a system package is installed on your machine, and you call `SystemPackageTool.install(..., update=True)`, Conan checks first if that package is already installed, then will run update + install after that, only when is not installed. The only exception is when the parameter `force=Tr

[2022-07-27 11:28] memsharded commented on #11715
Possibly closed by https://github.com/conan-io/conan/pull/11712

[2022-07-27 11:30] memsharded commented on #11714
This seems to be a ConanCenter recipe issue, transferring to conan-center-index

[2022-07-27 11:34] uilianries commented on #11715
Just check and it's not same case. The PR #11712 avoids the update command in case of the mode is `check`. However, for our propose, we need `install` mode, which will run the update command, but still need to be done only when a package is not installed.

[2022-07-27 11:58] czoido commented on #11715
@uilianries

- I'm not sure that update=True should be set in the system package recipes in conan center index... why is that necessary?
- Also, and beyond that, I think that setting that update in the recipes can be problematic in the future and probably we should move that to a conf, so you decide what you want to do and don't depend on the changes on recipes.

[2022-07-27 12:09] uilianries commented on #11715
@czoido CCI uses the Conan docker images, which have no cached APT list, which means, we need to run `update` anyway. Of course, the same recipe is used by users, which means, they need to update too.

About the config, I like the idea, it could be `tools.system.package_manager:update=True`, then  `Apt.install(..., update=None)`. Here, `None` is the default value, because if the user pass True/Fal

[2022-07-27 13:44] emzeat commented on #11715
Thanks @uilianries for reporting this issue on my behalf.

As a user I would definitely prefer to have control over when conan is pulling updates (or even touching external servers to update the index) and when not. Exposing this via `tools.system.package_manager:update=True` sounds like a good idea. Alternatively I could also see the index update for the CCI build scripts to happen outside of con

[2022-07-27 14:22] thorsten-klein commented on #11689
My approach is just a workaround for now, since we need this feature now.
The editable mode is not working in 1.X for now, so I implemented my "hacky workaround" as a fast solution. Nevertheless it seems to do what it should and works quite smoothly.

I will give conan 2.0 a try soon.
Then I will get in contact with you again if we face some (new) issues.

[2022-07-27 21:08] thorntonryan opened #11717 "[question] How can a custom generator find export_sources "origin_folder"?"
### Question

Is there a way for a generator to obtain the "origin_folder" / originating folder of an exported `conanfile.py` that's being processed?

The [recipe_folder](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#recipe-folder) is close, but may not be under SCM if `export_sources` is used.

Thanks for your support!

### Context
I have a custom generator that attempts to

[2022-07-28 05:37] liao-zhihan opened #11718 "Did version_range resolving get error answer?"
Hi all, feel lucky to use Conan(version 1.38.0) such a good tool to manage my C++ library and APP.
But I got some problem these day.

I am building an APP, and there are three Conan packages used for this APP, called lib_C, lib_E, lib_D.
lib_C is depend on the lib_E and lib_D, and the conanfile.py of lib_C is below, where I use version_range to manage the library:
[code]

And there are two Conan r

[2022-07-28 06:10] #11715 closed, assigned to czoido

[2022-07-28 06:12] lasote commented on #11705
Yeah, upvoted. 👍🏼

[2022-07-28 06:12] lasote commented on #11705
I'm closing this for now, thanks for your help trying the presets

[2022-07-28 06:12] #11705 closed, assigned to lasote

[2022-07-28 06:18] lasote commented on #11707
Hi, I renamed the issue and assigned it to the next release just to think about it. If we come up with some idea we could implement something.

[2022-07-28 06:58] liao-zhihan commented on #11718
I got REVISION_MODE enabled.

[2022-07-28 07:05] SSE4 commented on #11679
there are at least several things here.
1. allow `DESTDIR` to be configurable. I believe it's completely impossible right now, as `CMake.install` method doesn't accept any custom args. that would be a logical if all our build helpers (at least Autotools/CMake/Meson) support the same mechanism (`DESTDIR`) and have feature parity - it's a natural thing.
2. changing every recipe to pass `DESTDIR` is

[2022-07-28 07:29] liao-zhihan commented on #11718
I guess that maybe I can pass a "lockfile" generated by lib_E (version 0.1.0) to the lib_C, then force lib_C to use the 0.1.0 version of lib_E. But I think passing a "lockfile" between different repos is really annoyed, especially these repos are maintained by many developers.

[2022-07-28 08:00] #11282 closed, assigned to nobody

[2022-07-28 08:00] #11526 closed, assigned to nobody

[2022-07-28 08:19] memsharded commented on #11718
Hi @liao-zhihan

Are you sure your requires are correct? I see ``[0.0.0> <0.1.0]@lzh/stable"``, but that looks weird, probably should be ``[>0.0.0 <0.1.0]@lzh/stable"``

[2022-07-28 08:28] memsharded commented on #11717
Just a quick clarification: When a generator of a consumer runs, there is absolutely no guarantee that there will be ``exports_sources`` of the dependencies it is using. In most cases, that folder will not exists, when packages are downloaded from servers, the ``exports_sources``, ``sources``, ``build`` folders are not even created, and sources are not downloaded.

So the only things that really m

[2022-07-28 08:29] memsharded commented on #11717
BTW, I know that ``conandata`` and ``recipe_folder`` are not available via the ``self.dependencies`` interface that generators should use. We will definitely add them soon.

[2022-07-28 09:00] memsharded commented on #11710
This seems very similar to what we are doing in ``CMakeDeps``, to allow creating config.cmake scripts for some exceptional ``tool_requires``. It seems that we should follow the same interface (defining it in ``generate()`` method explicitly)

[2022-07-28 09:45] liao-zhihan commented on #11718
Thx for quick reply, I will try this immediately.

[2022-07-28 12:54] liao-zhihan commented on #11718
I change it to
[code]
But it got output:
![image](https://user-images.githubusercontent.com/18378815/181509993-e85c5666-e33f-4cf0-ade9-dfd26fdadafb.png)

[2022-07-28 12:57] foundry-markf opened #11722 "[feature] Allowing a per-local-cache user declaration of compiler compatibility for all dependents"
Hi,

This proposal is to satisfy two points of view, discussed between myself and @FnGyula in our products usage of Conan, against a large set of dependent packages (that we maintain).

We follow guidelines in our industry to maximise compatibility in the domain, which often requires a compiler change (across 3 desktop platforms) every year. We are aiming at reducing the initial up-front-cost of t

[2022-07-28 13:26] liao-zhihan commented on #11718
@memsharded I got the answer in https://github.com/conan-io/conan/issues/3113
this seems a problem in Conan 1.x, I will try other method.
thx!

[2022-07-28 14:10] MariaMozgunova commented on #11717
Can I take this issue?

[2022-07-28 14:18] himansu2906 commented on #11674
@memsharded : do you have any update for me on the issue?

[2022-07-28 14:30] memsharded commented on #11717
Sure, thanks @MariaMozgunova, assigned.

[2022-07-28 14:40] thorntonryan commented on #11717
Thank you for following up! I'm wondering if I've confused matters a little because of my poor framing of the problem.

Thinking about this some more. I'm not sure that would help.

Because I'm not really interested on the `conandata` for my recipes' dependencies... but on the `conandata` for the package I'm currently creating/building.

I think I would need to see `conanfile.conandata` available

[2022-07-28 14:50] thorntonryan commented on #11717
Again, thank you for the gracious response!

I don't wish to cause unnecessary work. Part of me wonders if I'm trying to do something that's simply a bad fit conceptually for a Conan generator.

Maybe I should instead frame the problem as:
"How do I inject dynamic version information from `tools.Git()` into the `CMakeToolChain` generator?"

[2022-07-28 15:15] thorntonryan commented on #11717
Can't construct a `CMakeToolChain` object in `set_version` because `conf` doesn't exist. So that won't work either.

And I think I'd probably run into the same scenario -- that `set_version` runs on the originating Conanfile.py, but `generate` may not. So I don't think it's even possible to share a `CMakeToolChain` created early enough to use in `set_version` then later re-use it in `generate`.

[2022-07-28 15:31] memsharded commented on #11717
Hi @thorntonryan

I think this is mostly about the process, that needs to run decouple in multiple stages. When packages can be consumed without sources or build at all, just consume the binaries, things need to be prepared for that.

Maybe these ideas can help:

- Whatever needs to be captured from the original source folder, what you ``git clone``, and then ``conan create``, needs to be capture

[2022-07-28 15:43] christian-schmaler-snkeos commented on #5127
Hi, I am facing the exact same issue. Two remotes are configured, conancenter and our private artifactory installation. We needed to add prebuilt binary packages of some third_party packages (jasper, libtiff) to our private artifactory because the required configuration did not exist in conancenter. However, projects needing those packages always report the mentioned error because only conancenter

[2022-07-28 15:47] memsharded commented on #5127
Possible workarounds:

- First, make sure that revisions are enabled, if using multiple servers, this is recommended
- Use virtual repositories in Artifactory to aggregate, instead of aggregating in the client side
- Usage of ConanCenter directly in production is not recommended. You should at least use a remote repository, but having a copy of the ConanCenter packages in your own server is recomm

[2022-07-28 16:20] thorntonryan commented on #11717
Thanks @memsharded !

Yes. That example is very very helpful.

I think I finally understand. Leveraging `conan_data` is the right path to pursue conceptually.

Eureka! And _that's_ the key insight.

`set_version` can leverage `tools.Git(folder=self.recipe_folder)` but not `update_conandata`

And `generate` can leverage `self.conan_data` (from user data added in `export`), but `generate` can't alwa

[2022-07-28 17:00] derived-coder commented on #11679
@SSE4
Thank you very much for this summary!

And you brought up another good comment:

I overlooked this. All the `package_info` funcs, would need to be adjusted as well...

1) With the actual task, do you say, it should not be implemented, because we have to use a global solution anyway?
2) What would be the generic solution for the `package_info` problem?
3) Is this global solution something onl

[2022-07-28 17:20] thorntonryan commented on #11717
https://github.com/conan-io/conan/blob/5251fbcabf9b84e4983db93d546999360e2b05a9/conan/tools/files/conandata.py#L11-L12

Presumably the `conanfile.export_folder` isn't yet known during `set_version` for some reason.

[2022-07-28 17:37] memsharded commented on #11717
yes, ``set_name()`` and ``set_version()`` methods should be able to run, and they do run, for ``conan install`` as a consumer, because that information might be needed for the local behavior of the ``conanfile.py`` as consumer. The ``export_folder`` is not even defined, it doesn't exist, as the recipe is just local and it is not being exported to the local cache.

The ``update_conandata()`` operat

[2022-07-28 17:49] SSE4 commented on #11679
for 1, global solution depends on local one. `DESTDIR` has to be implemented for the CMake helper first.
for 2, generic solution is possible. basically, it's to join `prefix` in `CppInfo` defaults
for 3, no idea, I think it can be ported to 1.x, but it might not be desired, as current policy is to avoid adding new things there

[2022-07-28 18:28] thorntonryan commented on #11717
Interesting.

It sounds like generating a `conandata.yml` locally from within `set_version` is really the only way to support building such a package through both `conan create` and `conan install`. _Since `export` isn't called during `conan install`_

My generator could then look for an accompanying `conandata.yml` file located at the `conanfile.recipe_folder`. When using `conan install`, it woul

[2022-07-28 18:46] thorntonryan commented on #11717
Thanks @memsharded!

You've certainly spent a considerable amount of time helping me and walking me through the Conan workflow. I'm always amazed at how quickly the Conan dev team responds to and answers community questions. It's very very impressive. So thank you for your time and efforts! Both in developing such a quality tool, but also in engaging with and supporting the community!

The difficu

[2022-07-28 20:00] thorntonryan commented on #11717
To put a bow on this, I can do:

[code]

And then something like:

[code]

This will work for both `conan create` and `conan install` and allow me to dynamically set both my Conan package version and also my CMake project version.

[2022-07-28 22:09] thorntonryan commented on #11717
Also, quite obviously now, the way to recover `CONAN_PACKAGE_NAME` and `CONAN_PACKAGE_VERSION` from the `cmake` generator's `conanbuildinfo.cmake` is simply:

[code]

[2022-07-29 01:01] crystalsky opened #11724 "[question] cmake_find_package_multi cant't generate xxxVersion.cmake with Version Number?"
- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I Want Use Some package with cmake command :  find_package(xxx version CONFIG REQIRED) in project
Some Follows Blow:
1. use the conan create command to create library , to create package and upload the package to artifactor
2. I modify the conanfile.txt and add the reqires
3. Then ,

[2022-07-29 01:20] svelshi19 commented on #9649
I came across similar issue.
Firstly, need to check if ping github.com/conan-io/conan works. If it doesn't work, please update /etc/hosts to resolve hostname into an address.
After this, you should be able to ping or wget the address.

Post that, in Ubuntu VBOX settings instead of NETWORK BRIDGED use NAT.

Above steps should resolve the issue.

[2022-07-29 04:55] paulharris opened #11725 "[feature] add cli_args to cmake.configure()"
I want to be able to add --trace to the cmake arguments during configure, to try and debug a recipe problem.

ie cmake.configure(cli_args="--trace")

The old cmake tools had "args",
the new cmake has cli_args, but only for cmake.build().

[2022-07-29 07:15] memsharded commented on #11725
This specific feature, controlling the verbosity of build systems, won't be in arguments in recipes, it doesn't make sense to hardcode it. It will be passed via ``conf``.

[2022-07-29 07:16] memsharded commented on #11724
Hi @crystalsky

The ``cmake_find_package_multi`` is deprecated, use ``CMakeDeps`` generator, and it will generate the ``xxxxVersion.cmake`` file.

[2022-07-29 07:23] memsharded commented on #11717
Yes, you are right. Just a clarification, if you are only using it to asign the ``self.version``, this doesn't need to go to the ``conandata`` too. The ``set_version`` only executes locally, and at ``export`` time. Once it is in the cache, the version ``self.version`` will be the correct one, because the ``set_version()`` will not be executed and the version will be recovered from the cache metada

[2022-07-29 07:23] #11717 closed, assigned to MariaMozgunova

[2022-07-29 07:42] ssrobins opened #11727 "[bug] '.' is not recognized as an internal or external command on windows in 2.0.0-beta2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 21H1 19043.1826
  * Compiler+version: msvc 193
  * Conan version: 2.0.0-beta2
  * Python version: 3.10.5

### Steps to reproduce (Include if Applicable)
1. git clone https://github.com/ssrobins/conan-recipes.git
1. cd conan-recipes\recipes\box2d
1. Then run any of these variations of the conan cre

[2022-07-29 07:46] memsharded commented on #11674
I am trying to reproduce this, but due to not knowing about this specific compiler, it is being very complex.

I would need to reproduce, first the basic CMake example, without Conan:
- A very simple, the very minimal ``CMakeLists.txt`` that builds the very minimal executable from a very simple source code.
- The exact command line that you are using with CMake to build it.
- The full output of th

[2022-07-29 07:59] lasote commented on #11727
Looks like in Windows, `argparse` requires the positional argument (the path to the conanfile, in this case the `.`) to be in the first position after the create, otherwise it gets confused. So, try this and let me know if it works:

[code]

[2022-07-29 08:28] lasote commented on #11657
Is this issue something that a lock file (applied to all `conan install` of all different architectures) locking the versions of the "common recipes" could solve?

[2022-07-29 08:38] ssrobins commented on #11727
I still get the same error with that change.

[2022-07-29 09:04] Sebastian-Setzer commented on #11657
I don't think so - a lock file only helps to reproduce the same thing later on, right?

[2022-07-29 09:43] lasote commented on #11727
Ok, I've been able to reproduce on my windows machine. I'll debug and come back with a fix.

[2022-07-29 10:14] himansu2906 commented on #11674
Hello @memsharded ,

Please find attached simple hello library creation project with Tricore compiler.

[hello.zip](https://github.com/conan-io/conan/files/9218951/hello.zip)

following commands inside build

output is present in build folder itself.

Regarding Conan:
OS: windows
arch: x86

Please let me know if more information is required.

Thanks & Regards,
Himanshu Yadav

[2022-07-29 10:32] lasote commented on #11727
Hi, I've opened a PR but only improved the error message, the "bug" is on your side. You need to specify the "os" in your build profile, otherwise, Windows fails to know how to call external programs like CMake (prepending the build environment launcher).
So I also noticed that you were applying two profiles, the `windows_x64` and the `default`  but the default is empty in that directory: `C:\User

[2022-07-29 11:34] lasote commented on #11657
I was thinking of the locks for Conan 2, which are simpler and more powerful. I'm not fully sure I've understood the issue, but if you generate a lock for configuration 1 and then apply it to configuration 2, the common parts should be resolved to the same recipe versions/revisions.

[2022-07-29 12:27] jcar87 opened #11730 "[question] test variable substitution in profiles"
Look into revisiting the expected behaviours with regards to variable substitution in profiles

[2022-07-29 12:29] memsharded commented on #11730
Maybe drop our custom made variable substitution in favor of jinja templates ones?

[2022-07-29 12:36] Sebastian-Setzer commented on #11657
But that's the opposite of what I want - I want them to be built with different toolchains. Or am I misunderstanding something?

[2022-07-29 12:40] Sebastian-Setzer commented on #11657
Anyway, I don't have that use case anymore - we won't be using conan at all, as far as I can tell (switching to a different package manager)
So, maybe keep it in mind for conan 2.0 design - I don't think we're the only ones using the hybrid ARM boards. But don't worry about me...

[2022-07-29 12:46] memsharded commented on #11657
The lockfile in 2.0 will lock the recipe and revision part, but will allow to be used for different toolchains (different configurations/profiles in Conan syntax). So applying the same lockfile guarantee that the sources origins (recipes and sources) have the same versions and revisions, but the binaries can be different, built with different toolchains.

[2022-07-29 12:49] dornbirndevelops opened #11731 "[question] upload all recipes, exclude special packages from upload"
I've again revisited the idea of having a Yocto SDK as a conan package (see also https://github.com/conan-io/conan/issues/5059) + profile tool requirement.

---

There is the cross compilation profile: **profile: cross**
[code]

There is also the application I want to build: **application hierarchy**
[code]

---

In this environment, I can now issue a command to build the application and the SDK:

[2022-07-29 14:34] SSE4 commented on #11730
no way

[2022-07-29 14:37] fschoenm opened #11732 "[question] (Forced) distribution of shared project files (e.g. .clang-format)"
We have multiple projects that all share common configuration files for some tools (e.g. _.clang-format_, _.clang-tidy_, _.editorconfig_). All those files are supposed to be placed in the root directory of the projects. So far, we're adding them to all the project repository but obviously, this makes updates to those files very time consuming should the configuration change.

I was wondering if th

[2022-07-29 14:41] memsharded commented on #11730
Why not?

[2022-07-29 14:42] memsharded commented on #11657
Thanks for the feedback!

[2022-07-29 14:42] #11657 closed, assigned to memsharded

[2022-07-29 14:45] SSE4 commented on #11730
it's useful, clean and easy to understand syntax, compare to obscure and hard to read jinja2 templates

[2022-07-29 14:53] memsharded commented on #11732
Hi @fschoenm

Putting some files in a conan package, creating the package, uploading and installing the package is the easy part. It is the last bit, putting a copy of those files in the current project what is not explicitly addressed.

Maybe some ideas to check if they could make some sense and for discussion:

- Conan 2.0 has the ``deployers`` mechanism, which means that you could do something

[2022-07-29 14:55] memsharded commented on #11730
But now we have 2 mechanisms to do the same thing, which is undesired, it would make sense to keep only 1 of them, probably the most flexible, generic and "standard" one. In that sense, jinja, even if the syntax is less terse, is more standard than our variable substitution.

It is also not that clean, the way they can propagate and overwrite over multiple composed profiles or included() profiles

[2022-07-29 15:19] memsharded commented on #11731
Hi @dornbirndevelops

Yes, that is true. In our first attempts I vaguely recall that we managed to make the SDK relocatable by some tweaking, but yes, it was not relocatable out of the box.

Quick question, if it was relocatable, would you consider packaging, uploading and download it, even if that would use extra storage and transfer, just for uniformity, or would you still prefer always installi

[2022-07-29 15:58] memsharded commented on #11674
Hi @himansu2906

I have managed to make it work, indeed the toolchain was the piece that I was missing. Find attached a working example: [tricore-example.zip](https://github.com/conan-io/conan/files/9221388/tricore-example.zip)

Need to:

- In the ``tricore`` profile, need to specify the full path to the tricore-gcc.cmake toolchain instead of ``tools.cmake.cmaketoolchain:user_toolchain=["<path-to-

[2022-07-29 16:04] dornbirndevelops commented on #11731
Hi @memsharded, thank you very much for the quick response.

I see more cons than pros for a prebuilt package in the case of a SDK package.
- the intention was not a prebuilt package in the first place. IMHO a prebuilt package makes sense when:
  - download size is smaller --> 1GB installer compared to 2GB installation is worse
  - computational work (i.e. compiling stuff) is less --> download & r

[2022-07-29 16:10] memsharded commented on #11731
Yes, I think it is a feature that is definitely worth discussing. It might not fit in the 1.X scope, as you know we are heavily focused on 2.0, but at least lets have the discussion.

[2022-07-29 17:04] ssrobins commented on #11727
Thanks, I appreciate the help! There was lots of great error feedback when I was setting up the profiles and this will be a nice addition. I think I set up that file to force the x64 msvc tools to be used in my Windows x86 build. I put as little in it as possible to get the build I want and not get Conan errors. It was a hasty fix, not surprised I messed it up.

[2022-07-29 18:11] birsoyo opened #11733 "[question] How to build for maccatalyst"
I am trying to get zlib build for maccatalyst

I am running
[code]
And getting the following output/error.

Is there another setting/options I need to be using?

Also it would be nice the 'cmake' error at the end had more info with it.

[code]

[2022-07-29 18:17] birsoyo commented on #11733
Sorry, new computer, the cmake binary was not setup correctly.

[2022-07-29 18:17] #11733 closed, assigned to nobody

[2022-07-29 22:31] jwillikers opened #11743 "[package] boost/*: CMakeDeps generator broken for Conan 1.51.0"
### Package and Environment Details

* Package Name/Version: **conan/1.79.0**
* Operating System+version: **Fedora Linux 36**
* Compiler+version: **GCC 12**
* Conan version: **conan 1.51.0**
* Python version: **Python 3.10.5**

### Conan profile

conan profile show linux/gcc/debug
Configuration for profile linux/gcc/debug:

[settings]
os=Linux
arch=x86_64
compiler=gcc
compiler.version=12
compiler.

[2022-07-30 10:17] SpaceIm commented on #11743
I don't see anything wrong in boost recipe. Maybe a bug in conan 1.51.0?

[2022-07-30 12:45] MiSo1289 commented on #11743
I think the generator is definitely broken in conan 1.51.0; experienced the same issue with the eigen recipe. No such issue with conan 1.50.0.

[2022-07-30 12:52] jwillikers commented on #11743
I'm pretty sure it's related to this item in the release notes for 1.51.0:

Feature: Changed CMakeDeps generator so the global target made for a package with components is a target linked with the targets of the components, instead of a target made from merging cpp_info objects from the components. [#11673](https://github.com/conan-io/conan/pull/11673) . Docs [here](https://github.com/conan-io/doc

[2022-07-30 14:14] edwardvandevorst-philips opened #11734 "[question] CMakeToolchain in combination with visual studio won't allow the Ninja generator?"
I want to use the CMakePresets with Visual studio 2022 and use a native CMake project with Ninja generator.

However, using CMakeToolchain, I am unable to get the Ninja generator. The CMakePresets.json always has the Visual Studio generator, even with `[conf] tools.cmake.cmaketoolchain:generator=Ninja` and/or `[general] cmake_generator = Ninja`.

I tried, conan 1.50, 1.51 and 1.52.beta but with al

[2022-07-30 15:04] edwardvandevorst-philips commented on #11734
Manually removing `set(CMAKE_GENERATOR_PLATFORM "x64" CACHE STRING "" FORCE)` from the toolchain file and altering the CMakePresets.json resolves the issue. Would be nice if this can be fixed.

[2022-07-30 17:55] rconde01 opened #11735 "[bug] Misleading error messages with permissions issues in virtual repositories"
I have a virtual repository which passes through to one local and one remote repository. There have been a few times where I get baffling error messages due to permissions issues.

- I was trying to download a recipe. I would list the available recipes and it would show as available. But when i tried to download it it would say it didn't exist. I think the issue was that the latest recipe wasn't i

[2022-07-30 23:53] crystalsky commented on #11724
thanks , It works ok......
1. I found the CMakeDeps will generate the package cmake files to the buildfolder/generators
2. This folders is auto create by conan
3. How to modify the folder of the CMakeDeps Generator?

[2022-07-31 05:13] db4 commented on #11694
@memsharded Now I understand your design goals better. Thanks.

[2022-07-31 05:13] #11694 closed, assigned to memsharded

[2022-07-31 05:38] db4 opened #11736 "[bug] Conan 1.51 breaks tools.SystemPackageTool()"
### Environment Details (include every applicable attribute)
  * Docker image: conanio/gcc8
  * Conan version: 1.51

After upgrading to Conan 1.51 all recipes that use `tools.SystemPackageTool()` fail to update/install system packages. For example (trying to build wxwidgets/3.1.5@bincrafters/stable):
[code]
I believe it's a bug: `tools.system.package_manager:mode` should affect only new `conan.too

[2022-07-31 05:41] ssrobins commented on #11606
Confirmed that the bug is still fixed in 2.0.0-beta2. Deleted my conan_v2_crash_gtest since this is fixed and the work has been merged to main.

[2022-07-31 05:56] #11724 closed, assigned to memsharded

[2022-07-31 05:57] crystalsky opened #11737 "[question] CMakeDeps Folder Is Auto Create? How Can I Config The Output Folder?"
- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

- I found the CMakeDeps will generate the package cmake files to the buildfolder/generators
- This folders is auto create by conan
- How to modify the folder of the CMakeDeps Generator?

[2022-07-31 06:17] unfor19 commented on #4925
In case it happens to someone else (or future me), I got the same error mentioned by OP because I added `powershell` as a prefix to every build command (was part of a trial and experiment); So make sure the build commands in `conanfile.py` (see below example) are written properly.

[code]

After removing `powershell`, everything got back to normal

[code]

[2022-07-31 11:57] liao-zhihan opened #11738 "Can I change the user/channel of requirement when using "conan copy""
Hello, I  am now using Conan (version 1.38) to mange my C++ library.
In my project, there are some libraries which are stored in "user1/stable", but now I want to change it to "user2/stable" for some special reason.
According to the doc of Conan, I tried the "conan copy" command to change the "user" of my packages and upload them to conan-remote, but I found this command did not change the "user"

[2022-07-31 18:26] memsharded commented on #11738
Hi @liao-zhihan

Please do not use the ``conan copy`` anymore. It has already been removed from Conan 2.0 and is discouraged in Conan 1.X. What you are seeing, that the ``requires`` are not automatically renamed, is one of undesired side effects of this rename.

The way to approach this is:
- Packages are immutable, and package names are immutable. You can use user/channel, but that name last fore

[2022-07-31 18:28] memsharded commented on #11737
Hi @crystalsky

Change it in the ``layout()`` method of the consuming ``conanfile.py`` https://docs.conan.io/en/latest/developing_packages/package_layout.html#package-layout

[2022-08-01 01:48] VicKov1975 opened #11739 "Qt6Config.cmake missing?"
Hello,

I am very new to Conan so I apologize if my question is very simple.
I am using conan.io and CMake to download and build a Qt6 Widget application for Visual Studio 2022 on Windows 10.

These are the commands that I am using:
[code]

But I am getting this error:
  Could not find a package configuration file provided by "Qt6" with any of  the following names:

    Qt6Config.cmake
    qt6-con

[2022-08-01 03:15] liao-zhihan commented on #11738
Thanks for your quick reply!
I think the second suggestion can solve my problem.

[2022-08-01 04:41] alexisfrjp opened #11740 "[bug] Suddenly broken on Centos 7"
[code]

* Conan version 1.51.0

[2022-08-01 04:50] #11740 closed, assigned to nobody

[2022-08-01 04:54] alexisfrjp opened #11741 "[question] How to choose which cmake version to use for build()?"
* `conan install .. --build missing`
* Centos 7 (cmake is defaulted to cmake2)

How can I change the command to use?

Adding `conan_cmake_program = cmake3         # environment CONAN_CMAKE_PROGRAM (overrides the make program used in CMake.cmake_program)` in **conan.conf** didn't change anything, it still uses `cmake`.

[2022-08-01 05:36] czoido commented on #11736
Hi @db4,

The Conan Center Index [xorg recipe](https://github.com/conan-io/conan-center-index/tree/master/recipes/xorg) was recently migrated to new `conan.tools.system.package_manager` that's why you need to set that configuration. Please, try yo set `tools.system.package_manager:mode=install` and check if that works.

Depending on the configuration of your platform, you may also need to use `too

[2022-08-01 05:52] czoido commented on #11741
Hi @alexisfrjp,

Be aware that the `CONAN_CMAKE_PROGRAM` environment variable does not work with the [new integrations](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake.html) that are imported from the module `conan`, just for the [old one](https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#cmake-reference) that is imported from the module `conans` (note the ex

[2022-08-01 06:02] alexisfrjp commented on #11741
@czoido Thank you for the fast answer.

* cmake3 version 3.17.5

I get this error when fmt library is built from conan:
[code]

I just want Conan to use `cmake3` available on my computer instead of `cmake`.
tool_requires doesn't seem to support wildcard such as `cmake/3.*`.  That means I'll have to change all my profiles when cmake3 is updated to a higher minor version.

I tried to set it to the v

[2022-08-01 06:09] czoido commented on #11741
Hi @alexisfrjp,

Changing the default CMake version available system wide is something that is not directly related to Conan. You should probably do something like uninstalling the old cmake and do a symlink to cmake3... like `ln -s /usr/bin/cmake3 /usr/bin/cmake`
You will find more detailed information on how to that in the Internet (search for _Install cmake3 on CentOS 7_ or something similar).

[2022-08-01 06:34] db4 commented on #11736
@czoido Thanks for the reply. Many recipes (including CCI) still use `tools.SystemPackageTool()`. Immediate switch to `conan.tools.system.package_manager` is not an option. Why break old functionality? BTW, [SystemPackageTool docs](https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool) don't mention that it now relies on `tools.system.package_manager:mode` and `tools.s

[2022-08-01 06:44] czoido commented on #11736
Hi @db4,
[SystemPackageTool](https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool) is not relying in those variables, `tools.system.package_manager:mode` and `tools.system.package_manager:sudo` are just affecting `conan.tools.system.package_manager`. If you are using some recipes with `SystemPackageTool` and others with `conan.tools.system.package_manager`, you should

[2022-08-01 06:47] db4 commented on #11736
Ahh, sorry. Indeed, that's CCI xorg recipe that needs new package manager and new settings. Closing the issue.

[2022-08-01 06:47] #11736 closed, assigned to czoido

[2022-08-01 06:57] lasote commented on #11735
Hi!
This is more a question for the Artifactory team, but I think in the remote repositories, the user would need the [`Deploy/ Cache` ](https://www.jfrog.com/confluence/display/JFROG/Permissions) permissions to be able to populate the remote cache. Otherwise, this might happen.

[2022-08-01 07:01] lasote commented on #11739
Hi, this might be an issue of the Qt recipe from conan-center. I'm transferring the issue to that repository.
Reading the issue, it looks like the recipe might be missing a declaration for a build module.

[2022-08-01 07:02] alexisfrjp commented on #11741
I don't want to use cmake3 system-wide, I'd like Conan to use the cmake executable I want.

Using `[tool_requires]` doesn't work since it expects glibcxx versions that don't exist.
I'm used to change cmake with a symbolic link in docker container but I don't want to do it on my local machine.

I give up and exclusively use docker to build my app until I move away from conan.

Thank you for your he

[2022-08-01 07:02] #11741 closed, assigned to czoido

[2022-08-01 07:26] initlifeinc opened #11742 "[question] is editable mode used for source codes debug?"
i dig the document, and try to understand, it is seems that user could use editable mode to debug or develop a package from source code, am i right?

but i still have some questions.
1. is layout only used in editmode?
2. layout template is a different or simple way to describe a layout of a library? which aone conan is suggest?
3. if want to debug with source code. after change the code, which co

[2022-08-01 07:54] lasote commented on #11742
Right

It depends, in you mean the folders declared in the `layout()` method, this is also the structure in the Conan cache.

Conan is not suggesting an universal layout, but, for example for `CMake` we have the helper [cmake_layout()](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake_layout.html) that can be used as a "base" for almost any CMake project. Of course, that functi

[2022-08-01 08:10] czoido commented on #11741
Hi @alexisfrjp,

In that case, you can try to prepend a path to the `PATH` where you create a symbolink link to the cmake3 binary and then add a `[buildenv]` section to your profile. For example:

[code]

Add the `buildenv` section to your profile, the folder will be prepended to the path each time Conan invokes the `build()` method (the `(path)` keyword stands for the current `PATH` variable):

[

[2022-08-01 08:17] paulharris commented on #11597
@lasote so sorry, I had this on my TODO list but I couldn't find the PR/Issue until now.

Feedback: what happens if you change layout to:
[code]
I'm not sure if my conan is still patched/hacked,
but now I get errors about `file cannot create directory: /licenses`

I see there has been changes since my report, just wanted to touch base before I dive deeper in here again.

[2022-08-01 08:37] #11738 closed, assigned to nobody

[2022-08-01 08:54] stefansli commented on #10580
@memsharded Would it be possibel to backport this to 1.X? I'm thinking about allowing `remots.json` files to be present but only if `remotes.txt` doesn't exist aswell. So one could only use either of them. Would that work? Or does that break some kind of backward compatibility?

In my opinion such a feature would be great so the same conan config can be used for both 1.X and 2.0

[2022-08-01 08:58] lasote commented on #11743
I'm checking, as soon as I confirm is a Conan issue I will transfer the ticket and work in the bugfix.

[2022-08-01 09:34] lasote commented on #11743
Could you attach the generated `build/Boost-Target-debug.cmake` file? I'm not able to reproduce the issue so far.
@jwillikers

[2022-08-01 09:44] MiSo1289 commented on #11743
I attach the `-Target-debug.cmake` file for eigen where I encountered the same issue. I tried to do a minimal reproduction but failed; of note maybe is that eigen is required in the project only transitively through opencv.

[code]

Error log:
[code]

[2022-08-01 09:53] MiSo1289 commented on #11743
Also, the opencv package through which eigen is pulled is our internal package, built from the CCI recipe but with our options, copied to different user/channel and uploaded to internal package repository; it is possibly a couple of revisions behind. The eigen package is however from conan center and should be the most recent revision.

[2022-08-01 09:58] lasote commented on #11743
Thanks [MiSo1289](https://github.com/MiSo1289), I have an idea now about what is happening.

[2022-08-01 09:58] SSE4 commented on #11743
might be related: https://github.com/conan-io/conan-center-index/pull/11846#issuecomment-1199217795

[2022-08-01 10:30] magist3r commented on #10132
@memsharded I still have similar warnings for ALIAS targets declared with `self.cpp_info.set_property("cmake_target_aliases", ["my_target::my_target"])`.

For example:
[code]

Conan 1.48.
I think we can get rid of these warnings too.

[2022-08-01 11:32] jwillikers commented on #11743
@lasote Here's my `Boost-Target-debug.cmake`:

[code]

[2022-08-01 11:34] lasote commented on #11743
[jwillikers](https://github.com/jwillikers) which CMake version are you using?
Can you also attach the `build/generators/BoostTargets.cmake`? thanks

[2022-08-01 11:43] jwillikers commented on #11743
@lasote That was generated using CMake 3.22.2.

`BoostTargets.cmake`:

[code]

[2022-08-01 11:54] lasote commented on #11743
Still not being able to reproduce the issue. Could I see the `CMakeLists.txt` of the project?

[2022-08-01 11:56] MiSo1289 commented on #11743
Did you try with a `conanfile.py` instead of `conanfile.txt`? The linked issue with SFML mentions it makes a difference.

[2022-08-01 12:12] lasote commented on #11743
Always tried with `conanfile.py`

[2022-08-01 12:23] MiSo1289 commented on #11743
I am unable to reproduce the error outside of our project, which I probably cannot post here.

However, the `Eigen3-Target-debug.cmake` file has the same suspicious line at the end, but somehow its not triggering the CMake error now....

[code]

I don' think linking a target with itself is valid CMake?

[2022-08-01 12:23] jwillikers commented on #11743
I re-created a minimal example project demonstrating the problem. Due to the fact the release notes mentioned _GLOBAL_ target behavior, I deduced the problem only occurred when using multiple `CMakeLists.txt` files through `add_subdirectory`.

`CMakeLists.txt`:

[code]

`src/CMakeLists.txt`:

[code]

[2022-08-01 15:36] frank-schmidtner opened #11749 "[bug] Faulty package-id comparison for build_requires when using lockfiles"
The problem occurs when trying to build a build requirement C from a lock file with the "--build-require" argument provided and using a dependency graph like this

A.requires(B)
A.build_requires(C)

B.requires(C)

C.requires(D)

This dependency graph results in a lockfile with two entries for C and D, each once in the host and once in the build context. But in [graph_lock.py](https://github.com/co

[2022-08-01 16:17] betheev opened #11750 "How can I make the CMakeDeps generator generate a CMake target for an executable?"
I have a CMake project and in the CMakeLists.txt file I generate two targets: **add_library(myproj::mylib ...)** and **add_executable(myproj::myexec ...)**. The Conan documentation explains well what to write in the **package_info()** method in the **conanfile.py** file to have Conan generate a CMake target for **myproj::mylib** but how can I have Conan generate the CMake target **myproj::myexec**

[2022-08-01 17:29] lizzyd710 commented on #10260
Same here, but with `conan.tools.system`. The CI checks on the [repo I'm working on](https://github.com/CytopiaTeam/Cytopia/) is failing on the Linux systems saying it can't find that module, but it finds `conan.tools.gnu` just fine. The `system` call was added to xorg [in this PR](https://github.com/conan-io/conan-center-index/pull/11698). Since it's a CI check running as a GitHub action, I'm fai

[2022-08-01 17:48] beenjohn opened #11751 "[question] 2.0 Recipes"
Is there somewhere to see 2.X recipes? I'm converting some internal projects to use 2.X, but some examples of the current gold standard would be greatly beneficial. Preferably one that uses autotools.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-02 01:34] SeanSnyders commented on #11466
This seems to have been a hiccup in the project for this specific team in question.
Closing this.

[2022-08-02 01:34] #11466 closed, assigned to nobody

[2022-08-02 02:08] initlifeinc commented on #11742
I’m now using Conan 1.x, in this version, i should rebuild manually. is that means for an dependency(Project -> A -> B(editable) -> C, when i change some codes in B, if i want to Project to link with newest B, i should rebuild B, and then rebuild A, than rerun project?
Some times we may declare A as a dynamic library, and use conan "imports" in conanfile.txt to copy files to project link directory

[2022-08-02 05:05] czoido commented on #11751
Hi @beenjohn,

There are some recipes that have been modernized in Conan Center Index, and for example I can confirm that the [fmt](https://github.com/czoido/conan-center-index/tree/master/recipes/fmt) recipes is compatible with both 2.0 and 1.x.

Also, we have a fork where we are porting some recipes to 2.0 to be used in the new documentation we are writing. In that fork there are some recipes th

[2022-08-02 05:58] lasote commented on #11742
Yes.

Working with several deps in editable mode and manage the changes for all of them is what we call the "workspaces" feature, but it is not working good and even at the moment has not been ported to Conan 2.0 so I wouldn't recommend it.

Is still a Beta but we recommend upgrading the recipes to be compatible with 2.0, you can check the migration guide [here](https://docs.conan.io/en/latest/con

[2022-08-02 06:13] czoido commented on #11750
Hi @betheev,

Conan has not an explicit model to add that executable target. Probably, the best option is to create a custom build module with your target definition and then add it to the `cpp_info` in the `package_info()` method using the [cmake_build_modules](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html?highlight=cmake_build_modules#properties) property, like:

[2022-08-02 08:54] lasote commented on #11743
I finally manage to reproduce it. Now I can hunt the bug, million thanks for your help.

[2022-08-02 09:57] comargo opened #11752 "[bug] toolchainFile key not found"
After introducing `tools.cmake.cmaketoolchain.presets:max_schema_version` https://github.com/conan-io/conan/pull/11655  `conan build .` stops working.

For schema version=2 toolchainFile is not specified, chacheVariable['CMAKE_TOOLCHAIN_FILE'] used instead
https://github.com/conan-io/conan/blob/5251fbcabf9b84e4983db93d546999360e2b05a9/conan/tools/cmake/presets.py#L77-L80

But `conan.tools.cmake.CM

[2022-08-02 10:36] lo1ol opened #11753 "[bug] pkg info doesn't contain VS toolset"
On windows `self.info.settings` sometimes doesn't contain toolset even if it exists at `self.settings`

### Steps to reproduce (Include if Applicable)
[code]

FAIL example:
[code]

OK example:
[code]

[2022-08-02 11:53] lasote opened #11755 "[bug] Variable XXX_LIBRARIES not populated in Conan >=1.51"
From comment here: https://github.com/conan-io/conan/pull/11691#discussion_r934454174

Looks like the variable that previously contained the library names stopped being populated.

[2022-08-02 12:52] MTomBosch commented on #11106
@memsharded Can you tell us if the mentioned bug is/will be fixed in Conan 2.0?

[2022-08-02 13:07] hwhsu1231 opened #11757 "[feature] Provide a GUI program for Conan."
### Feature Request

Provide a GUI program, for example `conan-gui`, for users to install/uninstall packages or do other operations.

Just like CMake, we can use either [`cmake`](https://cmake.org/cmake/help/latest/manual/cmake.1.html) or [`cmake-gui`](https://cmake.org/cmake/help/latest/manual/cmake-gui.1.html) to compile the source codes. After all, GUI is more friendly than CLI in some situatio

[2022-08-02 13:20] MTomBosch opened #11758 "[question] What is difference between "Requirements" and "Dependencies"?"
One of our pipelines failed because a dependency package binary could not be found. The message looked like this:

[code]

Now I am wondering what the difference here is between the "Dependencies" and the "Requirements".

[2022-08-02 13:58] uilianries opened #11760 "[feature] Support conan __version__ under conan namespace"
When users need to show, or even compare which Conan client is running, from the recipe, they can usually import `__version__`:

[code]

However, it's not possible to do same with the new namespace `conan`. It would be great having the same feature available, since some methods from Conan 2.0 are not compatible with Conan 1.0 and to keep a recipe working for both during the transition, it's import

[2022-08-02 14:00] beenjohn commented on #11751
That helps a ton. Thank you!

[2022-08-02 14:00] #11751 closed, assigned to czoido

[2022-08-02 14:31] lo1ol commented on #11753
self.info.vs_toolset_incompatible()

resolve my problem, but I noticed another bug:
[code]

[2022-08-02 14:35] himansu2906 commented on #11674
Hello @memsharded ,

Thank you very much for your input, now I am successfully able to create package. 👍

I have just one last question regrading generated library file(.a file). it is being generated in build/release folder instead of package folder, is it okay that .a file gets generated in build/release instead of package folder.

PFB output:

[HOOK - attribute_checker.py] pre_export(): WARN: C

[2022-08-02 14:57] czoido commented on #11757
Hi @hwhsu1231,

We don't have this in the roadmap in the short/mid term as we are really busy developing Conan 2.0 and that feature has not been demanded a lot by the community. Just as a note, as we are documenting the Conan API in 2.0 it should be easier to do a GUI wrapper around Conan functionalities... so maybe some contributor that wants that feature too is eager to contribute something like

[2022-08-02 15:02] iradization opened #11761 "Conflict for library libiconv requested by both libarchive and boost"
Hi, I'm using Conan for fetching some 3rd party libraries into my project. amongst are boost and libarchive. Recently, I've advanced the version of those 2 libraries in Conan.txt, and now getting the following error.

[code]

 Perhaps anyone can explain me how exactly should I resolve this conflict... I understand that both libraries have libiconv as dependency but with different version - but the

[2022-08-02 15:12] MTomBosch opened #11762 "[bug] Using a version range with conan install -u leads to an error in case of empty package cache"
I am having an empty Conan package cache resp. the package I want to install is not available in the local package cache.
When I now type in

`conan install pkgname/[^3.0.0]@ci/stable -o ... -o ... -u
`

I get following error message:

`ERROR: Version range '^3.0.0' from requirement 'pkgname/[^3.0.0]@ci/stable' required by 'virtual' could not be resolved in local cache
`
Looking at the official do

[2022-08-02 15:17] czoido commented on #11761
Hi @iradization,

The best you could do to resolve that conflict is to switch from using `conan_cmake_configure` to explicitly create a `conanfile.py` and add a [requirements()](https://docs.conan.io/en/latest/reference/conanfile/methods.html#requirements) method where you use the argument `override=True` for the `libiconv` requirement, that will make both boost and `libarchive` use the same versi

[2022-08-02 15:21] betheev commented on #11750
Hi @czoido,

thanks for your prompt response! While looking for a solution to my problem, I came across these related issues:

- https://github.com/conan-io/conan/issues/297
- https://github.com/conan-io/conan/issues/7240
- https://github.com/conan-io/conan/issues/9033

What I ended up doing, in case someone else has a similar problem, was to create the target on the consumer side only if it is mi

[2022-08-02 20:05] beenjohn opened #11763 "[question] 2.0 Tool Requires"
When generating a lockfile in 2.0, the tool requires don't end up in the lock file. With cmake listed as a tool requires, "conan create ... --lockfile=..." return an error that cmake isn't listed in the lockfile. Is this expected behavior?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-02 20:06] ojnick opened #11764 "[bug] Error: Specify the 'user' and the 'channel' or neither of them when using version ranges"
Starting yesterday we've started running into an issue with using version ranges when referencing dependencies. This has been working for over a year and has suddenly started causing issues. When we attempt to use the command:

`conan install .. -u` (where `..` contains a conanfile.py) we get the error `ERROR: Specify the 'user' and the 'channel' or neither of them. [Remote: myremote]`

I've seen

[2022-08-02 20:47] cwsamuelson commented on #11241
@memsharded I was having a similar issue to this one, but it presented differently.  During a conan install, I received this error message:
`boost/1.79.0: WARN: Boost component 'numpy' is missing libraries. Try building boost with '-o boost:without_numpy'. (Option is not guaranteed to exist)
ERROR: boost/1.79.0: Error in package_info() method, line 1664
        raise ConanException("These librarie

[2022-08-03 05:37] czoido commented on #11758
Hi @MTomBosch,

The main difference is that the Requirements are expressed in the form that they are used for the package ID calculation, so if you change the package_id_mode from `semver_direct_mode` to other modes like `major_mode`, `recipe_revision_mode`, etc. you will get the same dependencies but the requirements will appear in a different form.

[2022-08-03 05:48] czoido commented on #11763
Hi @beenjohn,

Can you provide more details, maybe a reproducible example?

For me, with a dummy recipe like this:

[code]

And doing:

[code]

Works, creating a lockfile like this one:

[code]

[2022-08-03 06:33] czoido commented on #11764
Hi @ojnick,

I'm not able to reproduce the issue, that error (`Specify the 'user' and the 'channel' or neither of them`) usually happens when you are adding a requires that has the user but not the channel or viceversa, like for example `requires = "lib/[~1]@user"` (note the missing channel)
Would it be possible to copy the actual `conanfile.py `that you are using for the `conan install` ?

By the

[2022-08-03 07:03] lasote commented on #11734
This is weird, we have several tests using Windows + Ninja generator, and one of them is explicitly checking that the generator in the `CMakePresets.json` is `Ninja`.
Could you attach the profile and conan command used?
Thanks

[2022-08-03 07:23] lasote commented on #11760
Apart from making available the version I wonder if we should add a `**kwargs` or a similar trick to the `self.requires` of the `Conan 1.x`. The traits don't exist in Conan 1.X but up to my knowledge the `transitive_headers` and `transitive_libs` are always True in `Conan 1.x`.

To discuss (look into): Should we allow these arguments in Conan 1.X and raise if they are specified but `False`?

[2022-08-03 07:28] czoido commented on #11762
Hi @MTomBosch,

I could not reproduce the issue. What I did is:
- Create several packages in the range that I upload to a local repo
- Clear the cache
- Do the `conan install pkgname/[^3.0.0]@ci/stable -u`

But the range is resolved for me if there's a package in the range in the local repository.

Am I missing something?

By the way, which Artifactory version are you using.

Thanks a lot.

[2022-08-03 09:21] mpusz commented on #9962
It seems that this feature got even more needed with the introduction of CMake Presets. Now we can generate a bunch of different presets for different compilers but mostly they do not work as expected. I can run them from the CMake command line or an IDE like VS Code, but actually, they do not do anything (or all are doing nearly exactly the same) as they use the same compiler for CMake run. There

[2022-08-03 09:35] uilianries commented on #11760
It could work also.

[2022-08-03 09:42] todorico opened #11765 "[bug] ignored --source-folder option while using 'conan build ...' command with CMakeToolchain and cmake_layout"
In package development flow using the  `conan build ...` command, I get an error with the CMakeToolchain configure method, because the --source-folder option is ignored.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 16
  * Conan version: 1.51.0
  * Python version: 3.9.13

### Steps to reproduce (Include if

[2022-08-03 10:23] MTomBosch commented on #11762
I am using Conan version 1.39 locally where I got the issue. After updating to 1.51 I still get it.
The Artifactory that we are using is the currently available JFrog Cloud solution. What version that is under the hood I do not know.

Here is also my conan.conf file:

[code]

[2022-08-03 10:47] czoido commented on #11765
Hi @todorico,

The new version of fmt uses the package layout feature, specifically the [cmake_layout](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake_layout.html) (you can read more about this in the [Conan docs](https://docs.conan.io/en/latest/developing_packages/package_layout.html))

I think that for what you are trying to do, this would make it:

[code]

Can you check?

[2022-08-03 11:28] Marwan-imverse opened #11766 "[question]Help with Visual Studio 2019/CMake integration"
### Environment
**Conan version:**  1.51.0
**Windows version:**  11
**Visual Studio version:** 2019 (16.11.17)
**CMake version:** 3.22.1
**Compiler:**  Ninja

### Goal
We have internal DLLs and Applications we're managing with Conan packages as dependencies. Everything is working well from the command line. Conan source/install/build/test/package all work as expected from the command line.

Howeve

[2022-08-03 12:13] NikoKyriakid opened #11767 "[bug] Conan install with Apache Arrow for WASM."
### Environment Details (include every applicable attribute)
  * Operating System+version: `Linux mx 5.10.0-16-amd64 #1 SMP Debian 5.10.127-2 (2022-07-23) x86_64 GNU/Linux`
  * Compiler+version: `gcc (Debian 10.2.1-6) 10.2.1 20210110`
  * Conan version: `1.50.0`
  * Python version: `3.9.2`

### Steps to reproduce (Include if Applicable)
I have a simple `conanfile.txt`
[code]

with a simple `CMakeL

[2022-08-03 12:30] todorico commented on #11765
Hi @czoido,

In this case it will work because the sources will be extracted in the conanfile folder by default and the `CMakeToolchain` call `configure()` on this folder (prefix_dirs…/fmt/all). However, using the `--source-folder out/source` option, I was expecting the `CMakeToolchain` to call `configure()` on this folder (prefix_dirs…/fmt/all/out/source) even using `cmake_layout` in the conanfil

[2022-08-03 12:45] kingudk opened #11768 "[question] Consuming/exporting libraries build using conan outside of conan"
Hi

We have started using conan to manage dependencies in a two C++ projects. One that creates a library and another one to consume it (along with other libraries; gtest for instance). The library is shared through our in-house artifactory repository. That is in good working order, but what I have not been able to piece together is how to consume or export the package to be consumed outside of con

[2022-08-03 12:55] czoido commented on #11765
Hi @todorico,

I'm afraid that if you want this to work with the `cmake_layout()` you have to set the source folder there, something like:

[code]

If not, when you do the `conan build`, and following the `cmake_layout`, Conan will interpret that the sources are in `.`

[2022-08-03 13:06] todorico commented on #11765
Ok, so the cmake_layout source folder has priority over the `--source-folder` CLI option. As I found it surprising, I wasn't sure it was the intended behavior. Thanks a lot for clarifying this.

[2022-08-03 13:36] SpaceIm opened #11769 "[question] Is it a good idea to move POLICY required by conan toolchain logic in CMake presets?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I've seen this PR https://github.com/conan-io/conan/pull/11098

Is it a good idea? I mean, presets are a 3.19 feature, but conan toolchain is supposed to support CMake >= 3.15.

If you have a build fully managed by conan, and CMake 3.15 is installed, how CMake helper can fallback to n

[2022-08-03 13:38] todorico commented on #11765
Last thing I want to ask you @czoido, if in this case the cmake_layout has priority, I wonder if there could be a mechanism to override the default `cmake_layout(src_folder)` value globally without changing the conanfile ? I saw that there is `tools.cmake.cmake_layout:build_folder_vars` in configuration, is there a thing like `tools.cmake.cmake_layout:src_folder` ? It would be very useful for my u

[2022-08-03 14:19] jcar87 commented on #11753
Hi @lo1ol  and thank you for raising this question.

Indeed as you mention earlier, the default behaviour as per `self.info.vs_toolset_compatible()` (docs [here](https://docs.conan.io/en/1.50/reference/conanfile/methods.html#self-info-vs-toolset-compatible-self-info-vs-toolset-incompatible)) - is to erase the `compiler.toolset` setting if it matches the _default_ toolchain for the specific version

[2022-08-03 14:38] ojnick commented on #11764
I've attached my 2 test `conanfile.py` files I used for testing/reproduction. They're extremely minimal.

Here's a list of the cache:
![image](https://user-images.githubusercontent.com/108154631/182635427-2e9a3c4d-1c61-4248-929a-5df9ad90841f.png)

Here's the list of remotes:
![image](https://user-images.githubusercontent.com/108154631/182635693-2951a26e-7596-4dc6-a622-bf6cd709dfc1.png)

If I disab

[2022-08-03 14:42] ojnick commented on #11764
I came in this morning and after sending my previous comment I tested it again and the issue has seemed to have gone away. Is it possible something with communication with the server (on the server side) got broken and then fixed?

[2022-08-03 15:01] czoido commented on #11764
Hi @ojnick,

I'm happy to hear that it's working now but no idea what could have happened there, nothing on our side changed. Could it be somehow related to [this](https://github.com/conan-io/conan/issues/10913#issuecomment-1083356588)?.

Please, report if it happens again.

Thanks a lot.

[2022-08-03 15:15] himansu2906 commented on #11674
Hi @memsharded,

do you have any update on above question regarding no ".a files" being generated in package folder.

[2022-08-03 15:18] #11758 closed, assigned to czoido

[2022-08-03 15:18] MTomBosch commented on #11758
Thank you.

[2022-08-03 15:24] Marwan-imverse commented on #11766
Solved it after long long hours of trial and error. The trick was to run `conan build -c` after running `conan install` and then regenerate the CMake cache manually in VS.

[2022-08-03 15:24] #11766 closed, assigned to nobody

[2022-08-03 15:32] SpaceIm opened #11770 "[feature] Add a function `conan.tools.files.export_conandata_patches`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan-center-index, several versions share the same `conanfile.py` but may have different patches depending on the version. If we export patches with `exports_sources = "patches/**"`, each version ends up with patches of unrelated versions, and adding or modifying a patch of a vers

[2022-08-03 16:18] ojnick commented on #11764
@czoido I/we've never touched the `storage.path` setting. The issue was also across multiple users and machines with no changes. Another commenter on that issue mentioned wiping the conan `data` folder. I tried that by moving `conan home` and still had the issue, but only when I added in my jfrog cloud remote.

Everything seems to be working again somehow, so I'll close this issue for now. If we e

[2022-08-03 16:18] #11764 closed, assigned to czoido

[2022-08-03 16:20] iradization commented on #11761
Hi @czoido , looks like your method worked. thanks !

However, after try to run the Conan cmake file for arm64 (I'm using M1 macOS), I get the following error

[code]

Perhaps it's the result of updating libiconv from 1.16 to 1.17 ?
Any idea how can I avoid those 2 targets ?

Or maybe, the most suitable way, would be to allow both libarchive 1.16 and 1.17 to co-exist so that each target will choos

[2022-08-03 16:21] wils93 opened #11771 "[question] set_version & set_name aren't being called"
Hi,

I'm using conan version 1.19 - I know it's very old - but it's currently a limitation and can't directly update to the latest version.
I have this demo conanrecipe.py however when I run `conan create` I get `ERROR: Specify the 'name' and the 'version'`

    from conans import ConanFile

    class DemoPkg(ConanFile):

        def set_name(self):
            import pdb; pdb.set_trace()

[2022-08-03 18:44] edwardvandevorst-philips commented on #11734
conan command:
`conan create .   -pr:b vs2022_x64_profile -pr:h vs2022_x64_profile  --build=missing`

conan profile:

[code]

conan config:

[code]

[2022-08-03 21:20] dfleury2 opened #11773 "[bug] system lib (dl) ordering change on link"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian bullseye
  * Compiler+version: gcc 11
  * Conan version: 1.51
  * Python version: 3.9.2

### Steps to reproduce (Include if Applicable)
Not easy, but lot of dependencies and openssl with dl usage (using crypto)

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

Here -ldl

[2022-08-03 23:02] sully7 commented on #9108
This is starting to make sense to me... but running into a question regarding `CMakeDeps`.

In our setup, we are hoping to let `conan` setup, configure, and run `cmake` (aka, we are _not_ yet using `cmake-conan`)

Let's say we have the following in our `conanfile.py`

[code]

We run a `conan install .`, upon which:

1. CMakeToolchain generates `conan_toolchain.cmake`, and
2. CMakeDeps generates al

[2022-08-03 23:53] TaylorEllington commented on #11670
Reopening this discussion because ive hit another snag. So upon further testing this does not appear to be a valid workflow. a standalone Conan executable is not viable as it when i try to install, i end up with errors like:

[code]

so it looks like with out the conan/conans modules themselves that individual conanfiles will blow up. Any advice how to work around this?

the pyinstaller only bundl

[2022-08-04 04:16] paulocoutinhox opened #11774 "[bug] Error when use EMSDK because don't have clang 16 in conan"
Hi,

Im trying use EMSDK version 3.1.18, but conan don't have clang 16:

[code]

Can conan team add version 16?

[2022-08-04 06:10] czoido commented on #11771
Hi @wils93,

The problem is that `set_name` and set_version methods were introduced in [Conan 1.20](https://github.com/conan-io/conan/pull/5881), so that's why they are not called.

Thanks a lot for your question.

[2022-08-04 06:17] czoido commented on #11774
Hi @paulocoutinhox,

Yes, we can add that [version](https://github.com/emscripten-core/emscripten/blob/main/ChangeLog.md#3118---08012022) to the settings.

Thanks a lot for reporting.

[2022-08-04 06:23] lasote commented on #11734
Oh, now I see. The `[conf]` elements go in the `profile` or directly (without the [conf]) in a file called [global.conf](https://docs.conan.io/en/latest/reference/config_files/global_conf.html) instead of the `conan.conf`

[2022-08-04 06:39] lasote commented on #11767
This is very likely an issue with the `arrow` package. I'm transferring the issue to the conan-center-index repository.

[2022-08-04 06:47] fschoenm commented on #7761
This was probably due to line endings.

[2022-08-04 06:47] #7761 closed, assigned to memsharded

[2022-08-04 06:47] iradization opened #11775 "When compiling boost in macOS Intel for arm64, some libraries are missing."
While trying to create a cross-platform build system for my project, I encountered the following issue when fetching boost library from Conancenter:

here's the install command + configuration
[code]

And this is the error I've got :

[code]
any idea how to resolve it ?

[2022-08-04 06:54] franramirez688 commented on #11773
Hi @dfleury2

I would need more details about your recipe. If it's not easy to reproduce, could you try to simplify it as much as possible to have anything that replicates the behavior? Would it be enough with a "Hello World" example (`conan new hello/1.0 -m cmake_lib` for instance) and openssl (+ dl usage) as requirement? It's important to know the generator, the requirements, if you're injecting

[2022-08-04 06:58] wils93 commented on #11771
Hi @czoido,

Oh really! I was checking documentation of version 1.19 and it was there, that's why I was confused.
Thank you for clarifying ✌️

[2022-08-04 07:02] lasote commented on #11769
Before introducing the `CMakePresets` in conan, the toolchain used a file named `conanbuild.conf` to write all the information, (that shouldn't or can't belong to the toolchain itself),  that the `CMake` helper has to pass to the command line.

We replaced the `conanbuild.conf` invented-format with a standard one, that is the `CMakePresets.json` files. In both cases, if the user wanted to call `cm

[2022-08-04 07:23] franramirez688 commented on #11775
Hi @iradization

I guess this is a problem related to the recipe, so let me transfer the issue to conan-center-index repository.

[2022-08-04 07:44] czoido commented on #11771
Hi @wils93,

You are right, I think we accidentally merged documentation from 1.20 to 1.19 when releasing one patch version, sorry for the confusion.

[2022-08-04 07:45] czoido commented on #11771
I'm closing this issue, but please feel free to reopen or open another issue if you have more questions.
Thanks!

[2022-08-04 07:45] #11771 closed, assigned to nobody

[2022-08-04 08:52] czoido commented on #11768
Hi @kingudk,

Thanks a lot for you question. I think there are different ways to approach this problem. First, let me point you to [this example](https://docs.conan.io/en/2.0/examples/cross_build/android/android_studio.html) in the Conan 2.0 documentation about integration with Android Studio and Conan that may inspire you in some way.

I think one way could be using the deploy generator to obtain

[2022-08-04 09:45] dfleury2 commented on #11773
Ok, I will try if I can isolated something that trigger this.

At least, even if the order is wrong, if I remove ` -Wl,--as-needed` for the link step,  the error disapear (but dl is still at the wrong place)

[2022-08-04 10:03] czoido commented on #11765
Hi @todorico,

I'll mark this as _look:into_ so I can discuss with the team.

Thanks for the feedback!

[2022-08-04 10:30] dfleury2 commented on #11773
I forgot to mention but I used CMakeDeps and CMakeToolchain generator.
I a
m using OpenSSL along with Boost.
When I compare the files generated with conan 1.50, and 1.51.
The fles OpenSSL-release-x86_64-data.cmake and OpenSSL-Target-release.cmake have change a lot.

But, there is a small carriage missing now (1.51),
![image](https://user-images.githubusercontent.com/4805384/182826018-e033ff59-6dd3

[2022-08-04 10:33] lasote commented on #11773
Thanks! we were wondering how you used it.
Could you show how are you "linking" the targets in your project? I mean `find_package` + `target_link_libraries(foo OpenSSL:SSL)` or are you using a variable like `openssl_LIBRARIES` or so?

We have some ongoing patches for the 1.51 on CMakeDeps but would be great to know if we actually fixed them also for you. If you could provide the CMakeLists.txt of

[2022-08-04 10:35] dfleury2 commented on #11773
Ok, I found something that work, on a direct dependency.
Currently I am using `openssl::openssl`as dependency (but broken).
If I use
[code]
in this exact order it works fine. If I put SSL before crypto, it's broken again, the dl lib is after ssl.a but before crypto.a
Hope this one help.

[2022-08-04 10:46] dfleury2 commented on #11773
I am using some "scripts" to generate lot of boring stuff. Hard to extract it easily.
But something as simple as:
[code]
just that I generated a variable inside conanfile.py that list all dependencies generated (*.cmake files), pass it to CMake, to call each find_package.

and I have a macro to replace add_library/target_link_libraries in a single call.

[2022-08-04 12:04] stefansli opened #11777 "[feature] Backport support for `remotes.json` in conan config install to 1.X"
Would it be possibel to backport support for installing a `remotes.json` to 1.X?
I'd suggest to allow `remots.json` files to be present but only if `remotes.txt` doesn't exist aswell. So one could only use either of them. Would that work? Or does that break some kind of backward compatibility?

In my opinion such a feature would be great so the same conan config can be used for both 1.X and 2.0

I

[2022-08-04 13:16] stefansli opened #11778 "[bug] `conan search` broken"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 20H2
  * Conan version: 1.51.0
  * Python version: PyInstaller
  * Artifactory EnterpriseX: 7.41.7

### Steps to reproduce (Include if Applicable)

`conan search` on a Artifactory repository gives unexpected results.
For some reason using the artifactory remote for `conancenter` does work.

We update

[2022-08-04 14:11] jcar87 opened #11779 "[question] Investigate generated files when layout() method is specified (Conan v1 compat)"
<img width="1072" alt="Screenshot 2022-08-04 at 15 08 56" src="https://user-images.githubusercontent.com/3535649/182868066-4f7e17f5-14f0-4446-835a-c879c20b7c78.png">

* Conan 1.51.0
* A recipe contains a `test_package/conanfile.py` that uses the `layout()` method and the new generators
* `conan create` will cause multiple files to be generated _next to_ the test package's `conanfile.py`.

This beh

[2022-08-04 14:14] todorico commented on #11765
Thank you very much for your time @czoido!

[2022-08-04 14:36] paulocoutinhox commented on #11774
Hi,

I made a PR:
https://github.com/conan-io/conan/pull/11780

Thanks.

[2022-08-04 15:02] SSE4 commented on #11760
I think it deserver some better looking identifier than `__version__`.

[2022-08-04 15:18] magist3r opened #11781 "[bug] self.export_sources_folder is empty in local build"
### Environment Details
  * Operating System+version: Linux Mint 20.3
  * Compiler+version: gcc 9
  * Conan version: 1.51
  * Python version: 3.8.10

### Steps to reproduce
[code]

In both `source()` and `build()` methods `self.export_sources_folder` is empty. If I use `conan create`, it's the same as `self.source_folder`.

This breaks the `patch` tool which uses `export_sources_folder` internally

[2022-08-04 16:06] gr211 opened #11782 "[bug] Cryfs claims mount is successful yet fails to mount - no error"
[code]

then

[code]

I tried with a new directory and mount point. Also tried with compiled-from-source cryfs. Same results.

I'm running arch linux. The commands I issue have no changed. But obviously Arch is a rolling distro, so something there must have broken it. Yet it is not something cryfs seems to notice.

[2022-08-04 16:59] thejohnfreeman opened #11783 "[bug] breaking change in 1.51: cannot call `find_package(dependency)` twice from different directory scopes"
I have a project A that uses Conan for most dependencies, but depends on one package B (not found in conan-center) as a submodule and imports it in CMake with `add_subdirectory()`. Both A and B depend on OpenSSL and call `find_package(OpenSSL)`. This used to work with Conan 1.50. Now it breaks with Conan 1.51 with this error:

[code]

I have a [minimal example](https://github.com/thejohnfreeman/bu

[2022-08-04 19:16] edwardvandevorst-philips commented on #11734
Thanks, I cannot test it right now, I will do that later. One additional question: the `cmake_generator = Ninja` in general section is ignored in this case?

[2022-08-04 19:33] SpaceIm opened #11784 "[bug] `self.deps_cpp_info[dependency].version` is None in `build()` of conan v1 test package in a conan v2 recipe"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13
  * Conan version: 1.51.0
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

- create a `test_v1_package` of a recipe, write something like `foo = tools.Version(self.deps_cpp_info[recipename].version)` in `build()`
- run conan create

[2022-08-04 19:56] SpaceIm commented on #11784
After further tests, it seems that it's not related to folder name.

In abseil recipe of cci master branch:

- `conan create . abseil/20211102.0@` => OK
- rename test_package to test_v1_package then `conan create . abseil/20211102.0@ -tf test_v1_package` => OK

In https://github.com/conan-io/conan-center-index/pull/12056:

`conan create . abseil/20211102.0@ -tf test_v1_package` always fails with t

[2022-08-04 20:27] SpaceIm opened #11785 "[bug] Recipe based on `conan.tools.cmake.CMake` don't support `conan create -kb`"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: AppleClang 13
  * Conan version: 1.51.0
  * Python version: python 3.9.13

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/pull/12049 implementing conan v2 to aaplus recipe
- run `conan create . aaplus/2.41@` => OK

[2022-08-04 21:12] thorntonryan commented on #11130
Would a `[test_requires]` section be equivalent to a `test_requires` attribute in the `conanfile.py` ?

[tool_requires](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#tool-requires) has an attribute, but seemingly a `test_requires` attribute is also missing there too.

[2022-08-04 22:22] thorntonryan commented on #11743
I think I'm getting a similar error with gtest and `CMakeDeps`. The error certainly looks similar:

Will try on develop tomorrow and report back.

_And indeed. find_package is being called from multiple directory scopes. So this looks promising_

_Edit_
Appears resolved on develop.

[2022-08-05 04:06] b1ackviking commented on #10877
There is also an older issue discussing that topic: #9962

[2022-08-05 05:19] czoido commented on #11782
Hi @gr211,

Could you please explain how is this related with Conan? It seems a problem in the cryfs tool?

Thanks!

[2022-08-05 06:05] lasote commented on #11783
Hi! This is a duplicate of https://github.com/conan-io/conan/issues/11743 that has been merged to be released at `1.51.1` but we still have one more regression pending on CMakeDeps so we are working on it.

[2022-08-05 06:45] czoido commented on #11778
Hi @vectorsli,

Trying with the Artifactory 7.41.7 version I can't reproduce the issue. Maybe you can use the `CONAN_TRACE_FILE` to provide some traces of the API calls?

Thanks a lot.

[2022-08-05 07:00] stefansli commented on #11778
@czoido Thanks for looking into this. Here is the log output. I'm afraid this doesn't contain much.

[code]

When accessing the API URL directly, I get the same output. **However** when I use the `local` repository instead of the virtual, then the search output is as expected. So this looks like an Artifactory bug. However we can't change to `local` repositories because of a different bug in Artif

[2022-08-05 08:07] gr211 commented on #11782
ho my bad, was late. :-( apologies

[2022-08-05 08:07] #11782 closed, assigned to czoido

[2022-08-05 08:08] czoido commented on #11781
Hi @magist3r,

Yes, probably the folder in the `patch()` tool should be defaulted to the `self.source_folder/base_folder` in case `self.export_sources_folder` is `None`, which happens if you are not using the [layout()](https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout-folders-reference) feature.
I think this is something that should be fixed, but please note that if you use

[2022-08-05 08:10] czoido commented on #11782
No worries! 😄

[2022-08-05 08:14] franramirez688 commented on #11777
Hi @vectorsli

Thanks for the issue.
I tend to say that it's not going to be possible because of maintainability issues (new tests, new possible bugs, breaking changes, etc.). Anyway, let me discuss it with the team.

[2022-08-05 08:41] uilianries opened #11786 "[question] check_min_cppstd context"
The documentation is clear about header-only packages [here](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-package-id-method), but it's not helpful when a recipe may be header-only or not (e.g. fmt, spdlog). So, based on the real case https://github.com/conan-io/conan-center-index/pull/12021, I have the follow statement:

[code]

When the option `header_only=True` is defined, t

[2022-08-05 10:46] kingudk commented on #11768
Hi @czoido

Thanks for responding :)

The `conan install <whatever> -g deploy -r remote` seems to be a partial viable path.

However it seem to insist on building the code on my platform which creates two issues:
1) requires the presence of compiler and cmake.
2) Won't let me get a Windows binary (dll) on a Linux host.

I.e. `conan install <my package> -g deploy -r remote --build never -s:b os=Win

[2022-08-05 11:17] czoido commented on #11768
Hi @kingudk,

If you upload the binaries to the repository using exactly the same profile than the one you are using to invoke the deploy generator if should work even if you are invoking the `conan install` from a different platform that the binaries you want to install.

Also, in the `conan install` there's no need to use the settings build, what you want is using settings from **host** that is

[2022-08-05 11:44] kingudk commented on #11768
Hi @czoido

I did something along those lines. The two packages were build on two different hosts (docker images on windows and linux) and uploaded to our internal artifactory repo. On both hosts the "default" profile was used.

Conan can find both packages:
`bash-4.4$ conan search mylib/1.0.0@user/chan -r myremote
Existing packages for recipe mylib/1.0.0@user/chan:

Existing recipe in remote 'myr

[2022-08-05 11:53] czoido commented on #11768
Hi @kingudk,

I think it could be because the shared option set to True in the remote package?

Maybe trying something like:

[code]

[2022-08-05 11:55] SpaceIm opened #11789 "[bug] transitive dependencies missing in `cmake_find_package_multi` if direct dependency recipe based on conan v2 and no components"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: AppleClang 13
  * Conan version: 1.51.0
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

- Create a conan v2 recipe foo with:
  - CMakeToolchain, CMakeDeps, cmake_layout
  - at least one dependency bar
  - No components in package_info() (just on

[2022-08-05 12:01] kingudk commented on #11768
Hi @czoido

That made no difference, still trying to compile the package :(
I tried both o, o:b and o:h and both with the package, package and version with user/chan. Still the same, it tries to compile the package.
The conanfile.py that created the package in the first place have "build_policy = missing", so I wouldn't expect that to force a re-build.

[2022-08-05 16:49] nenomius opened #11791 "[question] Why conan.tools.meson.MesonToolchain transtales cppstd=20 to c++1z (experimental version of C++17) flag?"
Why conan.tools.meson.MesonToolchain transtales cppstd=20 to c++1z (experimental version of C++17) flag?
https://github.com/conan-io/conan/blob/5251fbcabf9b84e4983db93d546999360e2b05a9/conan/tools/meson/helpers.py#L61
https://github.com/conan-io/conan/blob/5251fbcabf9b84e4983db93d546999360e2b05a9/conans/client/build/meson.py#L60

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io

[2022-08-05 17:01] SpaceIm opened #11792 "[feature] conan v2: provide a simple method to delete settings in `configure()`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

According to https://docs.conan.io/en/1.51/migrating_to_2.0/recipes.html#settings, in conan v2 we have to protect deletion of settings in `configure()` with try/except.
It's not very elegant, and might become really ugly in complex recipes. I don't know what the is type of a `settings

[2022-08-05 17:07] czoido commented on #11768
Hi @kingudk,

Did you create those packages using the profile `src/csg-esm/winprofile` maybe something differs between the profile or settings and options you used to create and the ones you are using to install?

[2022-08-05 17:22] WilliamBehrens opened #11793 "[question] export all versions of a package or all packages in a folder"
I'm currently trying to setup a sort of mirror to the conan center index for use internally at a company. I have a directory structure similar to that of the conan center index and I'm using Jenkins for CD/CI. I've tried to have a Jenkins pipeline that parses all packages and package versions but it doesn't seem to work(an issue with Jenkins yaml parsing) so I thought I'd ask how it's done for con

[2022-08-05 18:55] lizzyd710 opened #11794 "[bug] Can't find conan.tools.system"
Since [this PR](https://github.com/conan-io/conan-center-index/pull/11698) was merged updating xorg, the CI checks running on Ubuntu for [Cytopia ](https://github.com/CytopiaTeam/Cytopia/) have been failing when trying to install dependencies. The logs say
`ModuleNotFoundError: No module named 'conan.tools.system'`--but it can find  `conan.tools.gnu` perfectly fine. #10260 is similar to what is ha

[2022-08-06 04:34] tiger-chan opened #11795 "[bug] cmake_layout generators folder path is not normalized"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10/11
  * Compiler+version: N/A
  * Conan version: 1.51.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
1. Run `conan new bug/1.0 --template=cmake_exe`
2. Run `conan install .`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

Resulting in

[2022-08-06 18:39] Corristo opened #11797 "[question] conan v2: Shallow clone with conan.tools.scm.Git"
With the conan v1 `scm` feature it was possible to perform a shallow clone, which can save quite a lot of time when cloning a large repository such as llvm or chromium. Is there a way to do the same with the new `Git` tool?

- [ x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-07 07:20] samuel-emrys commented on #8454
Has support for this been dropped in the new `conan.tools.cmake.CMake` build helper?

[2022-08-07 17:13] DDoSolitary opened #11798 "[bug] CMakeToolchain doesn't work with NDK r18b"
### Environment Details (include every applicable attribute)
  * Operating System+version: host: Ubuntu 18.04, target: Android
  * Compiler+version: Clang 7.0 (NDK r18b)
  * Conan version: 1.51.0
  * Python version: 3.8.0

### Steps to reproduce (Include if Applicable)

[code]

ndk.profile:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-08-07 17:16] DDoSolitary commented on #11798
CMakeToolchain directly sets ANDROID_PLATFORM to the API level number. While this is supported by recent NDK versions, older ones require the `android-<level>` format. NDK r18b is one of those old versions and unfortunately is the version that my company is still using.

[2022-08-08 03:07] fancygit opened #11800 "Can not use conan to get boost library because of the conanfile.py of boost."
(dev) PS C:\Users\harry> conan inspect boost/1.79.0
ERROR: Error loading conanfile at 'C:\Users\harry\.conan\data\boost\1.79.0\_\_\export\conanfile.py': Unable to load conanfile in C:\Users\harry\.conan\data\boost\1.79.0\_\_\export\conanfile.py
  File "C:\Users\harry\Anaconda3\envs\dev\lib\imp.py", line 172, in load_source
    module = _load(spec)
  File "<frozen importlib._bootstrap>", line 719,

[2022-08-08 06:11] czoido commented on #11794
Hi @lizzyd710,

Thanks a lot for reporting.

Yes, this is similar to this one: https://github.com/conan-io/conan/issues/11676
Adding that import as hidden-import to _pyinstaller.py_, so it is bundled with the installer should fix the issue. I'll open a PR and point it to the 1.51.1 that we will release this week.

By the way, in case that's an option for you, if you install conan with pip (that is

[2022-08-08 06:20] lasote commented on #11786
Hi, we introduced the `validate_build()` method that works with the `self.settings` and `self.options` directly. The meaning of the `validate_build()` is "The package cannot be built with this configuration" or ~"The package cannot be consumed with this configuration"~ <-- That is not accurate, the `validate_build` is only called when the package needs to be built.
The `validate()` should be used

[2022-08-08 06:29] kingudk commented on #11768
Hi @czoido

Not that exact file. The package was deployed with using a docker image run on a Windows server 2022. The image started off by with an empty conan config (which just had our remote added by invoking conan remote add ... prior to running the build). The content of `winprofile` was taken from a Windows 11 VM with conan (same arch: x64). I'll see if I can make the image to generate a defa

[2022-08-08 06:33] lasote commented on #11786
I'm going to clarify the documentation about this use case. Thanks for raising the question.

[2022-08-08 07:26] lasote commented on #11786
Something more we have to check:

[code]
Same for `self.info.settings.get_safe`

[2022-08-08 07:42] uilianries commented on #11786
@lasote Good point, but `self.info.xxx.get_safe` is not available for Conan 1.x. It would be great backporting that feature, otherwise, it will be impossible to use `self.info`.

Some log to clarify that behavior:

[code]

[2022-08-08 08:06] czoido commented on #11797
Hi @Corristo,

Thanks a lot for the feedback, I agree this is a valid feature for the git tool. I'm marking this as a feature and assign to 1.52 milestone.

[2022-08-08 08:17] lasote commented on #11786
About the `check_min_cppstd(self, 11)`, this is a bit tricky. We could protect it (once it works) with a `get_safe` in the `self.info.settings` or using the suggested `not self.info.options.get_safe("header_only")` but we can not cover the case of checking the min cppstd when the package is header_only.

This is actually an old question/missing feature, what we would need to declare is "hey, consu

[2022-08-08 08:46] uilianries opened #11801 "[question] Conan V2: Compiler msvc requires try...except when deleting libcxx"
When packaging a C project with Conan, the regular way to discard C++ from the package ID is by removing some settings from the compiler:

[code]

However, with the introduction of `msvc` as compiler on Windows and Conan V2 behavior, all recipes need to be updated, otherwise, it will fail:

[code]

[code]

However, on Conan 1.x, we do not have same behavior when using `msvc` as compiler, also, it

[2022-08-08 09:22] lasote opened #11802 "[feature] Implement `get_safe` in develop for self.info objects"
In Conan 2.X there is `get_safe` over `self.info.settings` and `self.info.options` but there is not in Conan 1.X.
It is needed when, for example, there is a `header_only` option and you need to check in the validate some stuff.

Related https://github.com/conan-io/conan/issues/11786

[2022-08-08 09:37] lasote commented on #11734
Not sure if ignored or fail, but it won't work. The new "conf" should be declared in the `global.conf` or the profile at `[conf]` or with `-c` to the `conan install` or `conan create` commands.

[2022-08-08 10:05] jcar87 commented on #11800
Hi @fancygit - Presumably it's this following line in the Boost `conanfile.py`:
https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conanfile.py#L2

I have tried to reproduce this on Conan 1.48.0, but I get no issues running:
[code]

The error is coming from a version of Conan installed within a Conda environment: Is it at all possible that the version of Conan that is ins

[2022-08-08 10:22] czoido commented on #11773
Thanks for reporting.

Closed by https://github.com/conan-io/conan/pull/11788 to be released soon in 1.51.1

[2022-08-08 10:22] #11773 closed, assigned to lasote, franramirez688

[2022-08-08 10:24] czoido commented on #11743
Closed by https://github.com/conan-io/conan/pull/11756 to be released soon in 1.51.1

[2022-08-08 10:24] #11743 closed, assigned to lasote

[2022-08-08 10:24] czoido commented on #11755
Closed by https://github.com/conan-io/conan/pull/11756 to be released soon in 1.51.1

[2022-08-08 10:24] #11755 closed, assigned to lasote

[2022-08-08 10:34] czoido commented on #11784
Closed by https://github.com/conan-io/conan/pull/11790 to be released soon in 1.51.1

[2022-08-08 10:34] #11784 closed, assigned to franramirez688

[2022-08-08 11:08] czoido commented on #11793
Hi @WilliamBehrens,

Thanks for the question. I think this can get a better answer in the conan-center-index repo. I'm transferring the issue there.

[2022-08-08 11:11] czoido commented on #11795
Hi @tiger-chan,

Thanks a lot for reporting and the contribution. I'll add this for the next release.

[2022-08-08 11:31] czoido commented on #11794
Closed by https://github.com/conan-io/conan/pull/11805 to be released in Conan 1.51.1 very soon.

[2022-08-08 11:31] #11794 closed, assigned to czoido

[2022-08-08 11:36] lasote commented on #11801
The settings deletion should be protected with try/catch as noted in the [migration guide](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#settings). We try to avoid "no-op" operations that can cause silent bugs.

Said that we have pending to introduce a `language` recipe attribute or similar to make Conan smarter and manage that deletion automatically, as in other situations like th

[2022-08-08 11:39] lasote commented on #11792
Please, read my comments at https://github.com/conan-io/conan/issues/11802
Both are very similar questions.

[2022-08-08 12:05] uilianries commented on #11802
Labels bug, type: feature

![bug](https://user-images.githubusercontent.com/4870173/183413984-ad806d60-17e8-4000-b3f3-c6835bf2b962.jpg)

[2022-08-08 12:16] maitrey opened #11807 "[question] Is it possible to run a pre-build step only once for all variants"
Dear Conan Folks,
I am back again with another question.
We use cmake-3.21.1(MinGw as makefile generator), Windows and conan-1.50.
Our builds needs:
- Generation of code from models
This is a pre-build step for which we are using add_custom_target and providing dependencies to the main target such that the pre-build step is done first.
I have about 6 variants. I would like to run the pre-build ste

[2022-08-08 12:19] franramirez688 commented on #11789
Hi @SpaceIm

Thanks for the issue! This one would be already solved by https://github.com/conan-io/conan/pull/11790.
Now, the `bar` dependency appears as expected:

[code]
This fix will be soon in 1.51.1.

[2022-08-08 12:20] #11789 closed, assigned to franramirez688

[2022-08-08 12:25] lasote commented on #11807
Hi, maybe you can create a `build require` for the generation from models.

[2022-08-08 13:08] todorico opened #11808 "[bug] wrong install command for the Chocolatey system package manager"
The Chocolatey SystemPackageManager install command should use  `{tool} install --yes {packages}` instead of `{tool} --install --yes {packages}` which does not work in `conan/tools/system/package_manager.py`.

![diff](https://user-images.githubusercontent.com/32455999/183424930-d56f58f5-1a8b-4fc6-ad86-9af220bf0eef.png)

### Environment Details (include every applicable attribute)
  * Operating Sys

[2022-08-08 13:21] uilianries commented on #11786
Thank you captain @lasote !

[2022-08-08 13:38] memsharded commented on #11786
The problem with ``check_min_cppstd(self, 11)`` is that we never clearly defined its semantics (as with most of the ``ConanInvalidConfiguration``) if it is a package that cannot exist (cannot be built) or it is a package that cannot be used/consumed. We probably need to revisit (once more) this.

[2022-08-08 13:40] czoido commented on #11785
Closed by https://github.com/conan-io/conan/issues/11785 to be released soon in 1.51.1

[2022-08-08 13:40] #11785 closed, assigned to franramirez688

[2022-08-08 13:50] czoido commented on #11808
Hi @todorico,

Thanks a lot for reporting. We'll fix this in 1.51.1 that will be released very soon.

[2022-08-08 14:06] memsharded commented on #8454
What do you mean @samuel-emrys

I still see there:
[code]
So it seems it is ok? can you please be a bit more explicit? Thanks!

[2022-08-08 14:15] silviacsc opened #11811 "[bug] Can not use conan to get boost library since 4th of August"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux-3.10.0-693.17.1.el7.x86_64
  * Compiler+version: GNU 10.3.0
  * Conan version: 1.46
  * Python version: 3.6.8

### Logs

-- Downloading conan.cmake from https://github.com/conan-io/cmake-conan
-- Conan: checking conan executable
-- Conan: Found program /usr/local/bin/conan
-- Conan: Version found Conan

[2022-08-08 14:29] Flow-It opened #11812 "[bug] Deprecated generators do not produce versions (in newer recipes)"
The issue was already described for the fmt recipe (see https://github.com/conan-io/conan-center-index/issues/11822)

Updated recipes cannot be used with the "old" generators like `cmake` or `pkg_config` because the version will not be set. This bug report describes the usage of the `pkg_config` generator, but it applies to other generators as well. The correct library version is still referenced,

[2022-08-08 14:38] czoido commented on #11812
Hi @Flow-It,

Thanks a lot for reporting. The underlying issue for this is the same that the one for this one: https://github.com/conan-io/conan/issues/11784

This will be fixed by this PR: https://github.com/conan-io/conan/pull/11790 that is going to be released very soon (probably tomorrow) in 1.51.1

I'm closing this as resolved, please feel free to reopen or open more issues if you continue to

[2022-08-08 14:38] #11812 closed, assigned to czoido

[2022-08-08 14:44] ChendoChap opened #11813 "[bug] compatibility for recipes using v2 python imports not working with conan 1.51.0"
### Environment Details
  * Operating System+version: Ubuntu 22.04.1 LTS / Windows 11 21H2
  * Compiler+version: N/A
  * Conan version: 1.51.0
  * Python version: 3.10.4/3.10.6

### Steps to reproduce
1. try to install any package that has already updated its recipe for 2.0
eg: execute `conan install boost/1.79.0@`

### Notes
- The compatibility for `conan.errors` added by 1.47.0 doesn't seem to b

[2022-08-08 14:57] czoido commented on #11811
Hi @silviacsc,

I think the problem is that the boost recipe was updated in Conan Center Index to use rmdir but the recipe did not update the `required_conan_version` that should be set to at least 1.48.0

You could update your conan version to 1.48 and it should work.

I'm transferring this to the Conan Center Index repo

[2022-08-08 14:59] jcar87 commented on #11813
Hi @ChendoChap, thanks for reporting this issue.

Could you confirm how Conan was installed? We have identified an issue with the pre-packaged binary installers (windows installer and Debian package) and the issue will be fixed in 1.51.1 which will be release shortly. If Conan is installed with pip (e.g. inside a virtual environment), this should work as expected even with the current release.

[2022-08-08 15:10] YevhenServetnykSD opened #11814 "[bug] No module named 'conan.errors' error occurs on the latest release"
### Environment Details (include every applicable attribute)
  * Operating System+version: win 10
  * Compiler+version: -
  * Conan version: 1.51 x64 ([conan-win-64.exe](https://github.com/conan-io/conan/releases/download/1.51.0/conan-win-64.exe)), also reproducing in rel 1.50.0
  * Python version: used from installer

### Steps to reproduce (Include if Applicable)
1 run: `conan install boost/1.76

[2022-08-08 15:13] jcar87 commented on #11814
Hi @YevhenServetnykSD  - thanks for reporting this issue.

The Boost recipe has recently been updated in Conan Center Index to use functionality from more recent versions of Conan. We have identified an issue with our binary installers where some files required to resolve those imports were missing.

We are shortly going to release `1.51.1` to address this issue. In the meantime, I would recommend

[2022-08-08 15:17] ChendoChap commented on #11813
That would explain it, I did use the debian package on the Ubuntu machine and on windows I installed it through chocolatey which presumably uses the binary installer in the background. Glad to hear it'll be fixed soon.

[2022-08-08 15:21] YevhenServetnykSD commented on #11814
@jcar87 sure, thanks for fast response I saw that pr [boost](https://github.com/conan-io/conan-center-index/pull/12024/files), I just wondered if the issues with build on my side. Because according to release notes everything should work fine)
I'll close the as soon as I test it locally

[2022-08-08 16:49] huso113 opened #11815 "[question] cpp_info.system_libs usage"
Does it necessary to add cpp_info.system_libs attribute if I use system package as dependency?
How does it used afterwards?
I've built some packages without adding such info, and it works.. Am I missing something?
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-08 17:05] jcar87 commented on #11815
Hi @huso113  - thanks for raising this question.

The `cpp_info` as defined in a recipe inside the `package_info()` method, expresses what system libraries a _consumer_ should also link against (as transitive dependencies) when linking against the libraries in the package (which are themselves specified in `cpp_info.libs`).

This information is then used by generators (for example during `conan in

[2022-08-08 17:38] huso113 commented on #11815
Thanks,
I'll add `cpp_info.system_libs` for completeness, it good enough reason.

[2022-08-08 20:27] daniel-eiband-snkeos opened #11816 "[suggestion] Remove "Dependency X already found" messages"
Multiple status messages in the form "Dependency X already found" are logged when consuming Conan packages using the `cmake_find_package_multi` generator by calling `find_package()`, for example `find_package(gRPC REQUIRED NO_MODULE)`. These messages can not be silenced with the CMake variable `CONAN_CMAKE_SILENT_OUTPUT` (they should maybe also be silenced when passing the `QUIET` option which cur

[2022-08-08 23:12] samuel-emrys commented on #8454
Yeah, you're right @memsharded. I must have been doing something else when it wasn't working for me. Just checked though, and everything is working fine. Cheers.

[2022-08-09 01:48] fancygit commented on #11800
Thx @jcar87
I've tried 2 ways to install conan.
1. ![image](https://user-images.githubusercontent.com/2269316/183542419-2d80e4ef-ed3e-440c-979a-4f71b6a494d8.png)
2.![image](https://user-images.githubusercontent.com/2269316/183542355-27f3851b-1ec5-4d26-8164-40fb44bc32f5.png)

The version of Conan installed by Anaconda is
![image](https://user-images.githubusercontent.com/2269316/183542596-42daec03-

[2022-08-09 05:53] czoido commented on #11808
Closed by https://github.com/conan-io/conan/pull/11810 to be released in 1.51.1

[2022-08-09 05:53] #11808 closed, assigned to czoido

[2022-08-09 06:10] czoido commented on #11802
Closed by https://github.com/conan-io/conan/pull/11803

[2022-08-09 06:10] #11802 closed, assigned to lasote

[2022-08-09 06:11] czoido commented on #11813
Closed by https://github.com/conan-io/conan/pull/11817 to be released very soon in 1.51.1

Thanks a lot for reporting!

[2022-08-09 06:11] #11813 closed, assigned to jcar87

[2022-08-09 06:12] czoido commented on #11795
Thansk for reporting!

Closed by https://github.com/conan-io/conan/pull/11809 to be released very soon in 1.51.1

[2022-08-09 06:12] #11795 closed, assigned to czoido

[2022-08-09 06:28] lasote commented on #11597
@paulharris Sorry for the delay. I'm able to reproduce it. The issue comes from not declaring `resdirs`, causing the `CMakeToolchain` to not set the `CMAKE_INSTALL_DATAROOTDIR`. If the `CMakeLists.txt` contains something like `install(FILES my_license DESTINATION ${CMAKE_INSTALL_DATAROOTDIR}/licenses)` means that CMake is supposed to write at `/licenses` which is forbidden in the operating system.

[2022-08-09 06:38] lasote commented on #11816
Sorry, we are not maintaining the old generators anymore, only for blocking bugs. The only recommended (to be prepared to 2.0 where the `cmake_***` are removed) is the `CMakeDeps` + `CMakeToolchain`. There we took better care of the verbosity of the messages already.
Thanks.

[2022-08-09 06:48] maitrey commented on #11807
Hi Lasote, Thanks for your reply. Do you mean I should split the generation of source code into a seperate package and indicate it as build requires? But the main reason for having them together is that  :

- We have the models, we generate code, test them on target compiler and when all are passing we ship the generated code along with the compiled code.
Moreover, too many packages also adds up t

[2022-08-09 07:55] czoido commented on #11814
Closed by https://github.com/conan-io/conan/pull/11817 to be released very soon in 1.51.1
Thanks a lot for reporting!

[2022-08-09 07:55] #11814 closed, assigned to jcar87

[2022-08-09 07:56] memsharded commented on #11807
Hi @maitrey

It is not clear what is your intention and constraints. Why do you want to generate all variants? Code generation is typically part of the ``build()`` step, specially if the generated code is different for each variant. Why do you need to generate them all in a single step, if only one at a time can be used? How are you controlling those variants, are those Conan options? What is the

[2022-08-09 08:06] uilianries commented on #10502
@lasote What did happen to `remove_files_by_mask`? I can't find it under `conan.tools.files`. Also, `remove_files` does not exist. What's the idea behind?

[2022-08-09 08:10] memsharded commented on #11734
The configuration in ``conan.conf`` is not used by the new generators, only the one from ``global.conf`` and profiles ``[conf]``.
``conan.conf`` dissapears in 2.0, it is recommended to migrate to ``global.conf`` configuration.

[2022-08-09 08:20] edwardvandevorst-philips commented on #11734
Thanks

[2022-08-09 08:24] lasote commented on #10502
@uilianries it has been replaced by ``rm``

[code]

[2022-08-09 08:25] uilianries commented on #10502
As an Linux user, I have to say it's a beautiful name.

[2022-08-09 09:03] maitrey commented on #11807
Sorry perhaps I was not making myself clear. So the code generation ideally shall happen once but compiled  into 6 different variants(different compilers,flags  defined in profiles) . Since the code generation happens in the build step of the package , when I run conan create it generates also 6 times which is kind of unnecessary. I wanted to ask if there is any possible way to eliminate running t

[2022-08-09 09:38] jcar87 commented on #11815
Thanks @huso113!

Will close this issue, but please let us know if something does not work as expected :)

[2022-08-09 09:38] #11815 closed, assigned to jcar87

[2022-08-09 11:00] uilianries opened #11821 "[feature] Conan tools.scm.Version became very difficult to use"
With the introduction of the new [tools.scm.Version](https://docs.conan.io/en/latest/reference/conanfile/tools/scm/other.html#version), it no longer parses `semver` as described on the documentation, but also makes users life harder. Comparing both `Version` behavior, we have:

[code]

Output:

[code]

So far, we needed to dig an index to parse and use what we want: https://github.com/conan-io/con

[2022-08-09 11:43] lasote commented on #11821
Actually, I saw there is a mismatch between Conan 1.X and Conan 2.X. In Conan 2.X is worked like the old `Version` but the new one is not. So this is something we need to fix. Thanks

[2022-08-09 11:44] Dogm opened #11822 "[bug] .\site-packages\conan\tools\microsoft\msbuilddeps.py"
conanfile.py (curaengine/None): ERROR: Traceback (most recent call last):
  File "c:\program files\python38\lib\site-packages\conans\client\generators\__init__.py", line 181, in write_generators
    generator.generate()
  File "c:\program files\python38\lib\site-packages\conan\tools\microsoft\msbuilddeps.py", line 110, in generate
    generator_files = self._content()
  File "c:\program files\pyth

[2022-08-09 12:19] stefansli commented on #11778
@czoido  We just found out, that every `conan install` in our infrastructure is broken because of this bug. So this is very urgent for us!

To paint the picture:
* We use version ranges
* We use different remotes for dev/staging/production
* We use Artifactory and virtual repositories

## Expected behavior:
The package `bapdb` does not exist in remote `prod` and therefore conan should continue the

[2022-08-09 12:22] stefansli commented on #11778
Maybe this [Artifactory bug](https://www.jfrog.com/jira/browse/RTFACT-27321) is related?

[2022-08-09 14:15] czoido commented on #11778
Hi @vectorsli,

Yes, It looks like something related to Artifactory. We are trying to raise the awareness of the Artifactory team on it and as far as I know they are working on it. Did you already comment to Artifactory support that you are having that issue or open a Jira ticket for this? That would help too.
We'll do as much as we can to keep track on this and make sure that things keep moving t

[2022-08-09 19:45] dobragab commented on #7706
This seems more promising:

https://github.com/pgzip/pgzip

This issue is causing problems for us, in some projects it takes 4 minutes to compress a single package with PDBs. We could mitigate it with CONAN_COMPRESSION_LEVEL=6 but again, PDBs are huge, can be compressed well, but CONAN_COMPRESSION_LEVEL isn't configurable (AFAIK) on a per-package basis.

[2022-08-09 23:27] memsharded commented on #7706
I understand the case, but I am still afraid that https://github.com/pgzip/pgzip is still far from being usable in production by Conan. The project should be more stable, with PyPI packages, with a reasonable release and maintenance history.

[2022-08-09 23:45] memsharded commented on #11822
Quick observation: while packages with ``+`` in the name are allowed, it was probably something that slipped from the regex for versions that need to allow ``+``, but it was not really intended that package names had special characters in the name, I'd recommend not using them if not strictly necessary (I see packages in ConanCenter named ``cxx`` instead ``c++``)

[2022-08-09 23:53] memsharded commented on #11807
I am sorry, but still not fully clear. Are the 6 different variants, 6 different binary packages with 6 different ``package_ids``? Are those variants based on ``settings`` and ``options``? Do you want to have each one of the 6 different binary packages include a copy of the generated source code for all the different 6 variants, even if the package binary contains only 1 variant?

Shipping to the

[2022-08-10 07:10] LukasHaringer opened #11825 "[bug] __pycache__ folders are ignored even when keep_python_files is set"
`__pycache__` folders are ignored during the packaging even when the parameter **keep_python_files** is set to **true**.

[code]

[2022-08-10 07:24] maitrey commented on #11807
There are 6 different variants with 6 different package_ids . 6 different variants are based on different profiles .
- repository contains the model. When I say conan create in the build method it generates the code and builds/tests it. This happens 6 times which is unecessary. Generated code is variant independent. The way it is compiled differs for the 6 different variants.
Input model --->Outpu

[2022-08-10 09:00] memsharded commented on #11825
This is already solved in Conan 2.0, and we are trying to avoid changes in 1.X unless they are regressions, backports for the migration or critical issues. It is very likely that we can break users relying on this "bug", I know it makes sense, but still means more support and work for us, and we are trying to prioritize things.

Packaging ``.pyc`` files always seemed a bit risky to me, and apparen

[2022-08-10 09:05] memsharded commented on #11807
Now I start to understand, thanks! :)

If the code is the same for the different variants, why not using the ``source()`` method to generate it? This is basically the purpose of this method, to download/clone/prepare the source code that will be compiled in ``build()``, as long as it is common code for all the ``build()`` operations, because it runs only once, and then it is reused for all the sub

[2022-08-10 09:07] #11791 closed, assigned to franramirez688

[2022-08-10 09:07] memsharded commented on #11791
Bug fixed, will be in next 1.52 release.

[2022-08-10 09:25] iieklund commented on #11778
We are also affected by this. All installations are basically broken. Tried with multiple conan client versions:

ERROR: Loop detected in context host: '<package_123>' requires '<package_123> which is an ancestor too

[2022-08-10 09:33] jhzhangsnps opened #11827 "[bug] symlinks are not copied to source_dir and build_dir by conan"
### Environment Details (include every applicable attribute)
  * Operating System+version: centOS 7.3
  * Compiler+version: gcc 9.2.0
  * Conan version: 1.50.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
conan create . app/0.1@user/testing

### Logs (Executed commands with output) (Include/Attach if Applicable)

under my source dir, there are symlinks as below.

ls -l s

[2022-08-10 09:34] stefansli commented on #11778
We just discovered the underlying issue. Artifactory is not generating the search index during the update process.

The index gets updated every time a package is deployed. However we also found that this API call generates the index as a by product (we only tested this with packages that do not exist, such as `abc/123@user/channel`):

[code]

[2022-08-10 09:55] LukasHaringer commented on #11825
One of our third-party SW contains .pyc files without the corresponding .py files so when Conan creates the package and removes the files it is not working.

[2022-08-10 09:57] memsharded commented on #11827
Hi @jhzhangsnps

You need to specify the ``conanfile.py`` that you are using. The modern approach to handle symlinks is:

- Use the ``copy()`` tool, but **not** the ``self.copy()`` legacy method
- User is responsible to "prepare" or manage symlinks before they are copied. There are tools in ``from conan.tools.files`` to help with this.

[2022-08-10 10:01] memsharded commented on #11825
Checking in https://github.com/conan-io/conan/pull/11828 if it could break some CI tests.

[2022-08-10 10:03] huso113 opened #11829 "[bug] centos9: package manager detected as "yum", but should be "dnf"
* Operating System+version: Centos 9 Stream
  * Compiler+version: GCC 11.3
  * Conan version: 1.50.0
  * Python version: 3.9.13

 In /usr/local/lib/python3.9/site-packages/conans/client/tools/oss.py:
[code]

Centos moved from yum to dnf in some stage, why not just:
[code]
### Steps to reproduce (Include if Applicable)
Build any package with "def system_requirements(self):" on Centos9
- It will det

[2022-08-10 10:09] memsharded commented on #11829
Hi @huso113

It seems you are using the legacy tool. Please use the new one in https://docs.conan.io/en/latest/reference/conanfile/tools/system.html, which should fix that, and also provide better configuration to custom configure the desired system package manager to use.

[2022-08-10 10:13] jhzhangsnps commented on #11827
@memsharded thanks for the quick reply. I One more question, which function might affects the result of build_dir and source_dir, where I can use this copy function
in my conanfilepy, it only has 4 functions which are build(), package(), package_info(), export_sources()
those links are used in build

[2022-08-10 10:22] memsharded commented on #11827
It seems it is the ``export_sources()`` method that you need to update to use the ``copy()`` (and whatever other management of symlinks that you would like to do)

[2022-08-10 10:26] #11821 closed, assigned to lasote

[2022-08-10 11:12] lucabonifacio opened #11832 "[bug] `conan install` does not honor `config_options`"
The behavior between `conan create` and `conan install` are not the same and the later is not behaving like described within the documentation.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 2019
  * Conan version: latest (1.51.1)
  * Python version: 3.10.2

### Steps to reproduce

Define conanfile.py:
[code]

Execu

[2022-08-10 12:10] Viatorus opened #11833 "[question] Distinguish between conan install and conan create"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Is it somehow possible if the conanfile is invoked by a `conan install` command or a `conan create` command?

I would like to use the distinction to decide if it is a developer environment, where the dependencies are installed or the package creation and than, for example, change some

[2022-08-10 12:22] Richard-W opened #11834 "[bug] Using cmake_layout breaks cmake_paths generator"
### Environment Details
  * os: Ubuntu 22.04
  * gcc version: 11.2
  * conan version: 1.51.1
  * python version: 3.10.4

### Steps to reproduce

In an empty directory create a `conanfile.txt` with the following content:
[code]
Issue `conan install .` and inspect `conan_paths.cmake`:
[code]

**Expectation**: `CMAKE_MODULE_PATH` and `CMAKE_PREFIX_PATH` contain the value of `CONAN_FMT_ROOT`
**Actual*

[2022-08-10 12:22] richard-w opened #11870 "[bug] FMT missing builddirs for the component"
### Environment Details
  * os: Ubuntu 22.04
  * gcc version: 11.2
  * conan version: 1.51.1
  * python version: 3.10.4

### Steps to reproduce

In an empty directory create a `conanfile.txt` with the following content:
[code]
Issue `conan install .` and inspect `conan_paths.cmake`:
[code]

**Expectation**: `CMAKE_MODULE_PATH` and `CMAKE_PREFIX_PATH` contain the value of `CONAN_FMT_ROOT`
**Actual*

[2022-08-10 12:38] davidebenato opened #11835 "[question] editable mode and layout / cmake_layout"
I have two libraries, library A and library B.
Library B depends on library A, and I would like to try to put library A in editable mode.

Library A defines the layout as follows in its `conanfile.py`
[code]

  Because I am using Clion to build, I am actually building libraryA inside the following directory:
[code]

If I am not in editable mode, and I build library B and I install it to local cach

[2022-08-10 13:04] Setre14 opened #11836 "[feature] Access to license and homepage for dependencies in conanfile.py"
For some automated license report we would need to have access to the attributes `description`, `license` and `homepage` which can be set in the conan recipe.
As self.deps_cpp_info, self.deps_env_info or self.deps_user_info will be removed in conan 2.0, this should probably be added to [self.dependencies](https://docs.conan.io/en/latest/reference/conanfile/dependencies.html#dependencies-interface)

[2022-08-10 13:49] fierdr opened #11837 "[bug] Unable to build librdkafka with ssl enabled"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studios 16
  * Conan version: 1.51.0
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
Tried to run conan install for librdkafka with ssl set to true

### Logs (Executed commands with output) (Include/Attach if Applicable)

#### Ran following co

[2022-08-10 14:38] fschoenm opened #11838 "[feature] Configure basic build folder name for cmake_layout"
Currently, `cmake_layout()` defines _build_ as the basename for a build folder in layout.py:

    build_folder = "build" if not subproject else os.path.join(subproject, "build")

However, this default collides with some of our projects that already have a _build_ folder that contains some scripts and other stuff relevant for building.

Would it be possible to add a config setting to override the d

[2022-08-10 18:16] aymei2 opened #11839 "[question] Package/Recipe Hash Calculation"
Hello, I am also on conan 1.48.0 and I have a question about how package/recipe hashes are calculated and at large, if I am using conan correctly. The context for this is that I am trying to support building a library for multiple platforms and configurations. However, as it stands right now, when I run conan create and conan upload to send them to artifactory (each time using the same conanfile.p

[2022-08-10 19:58] beenjohn commented on #11763
@czoido,

Apologies for the delayed response. To clarify, the issue I'm seeing in 2.0.0-beta2 is that the tool_requires in the test_package is not ending up in the lockfile, but conan create fails due to the missing requirement. See below:

libsodium (rough draft) 2.X conanfile:

[code]

libsodium test_package conanfile:
[code]

Lock creation:
[code]

[2022-08-10 23:02] jhzhangsnps commented on #11827
I have done that in export_sources() already. it works well in the directory export_source but not in build and source
testing/build/998e9d6a4cb0ecb04912bff2830f2efad0dc6521/snps/include/:
total 0

testing/export_source/snps/include/:
total 0
common -> ../../src/include/

testing/source/snps/include/:
total 0

please share how source/build dir are created when using 'conan create'

[2022-08-10 23:16] SpaceIm opened #11840 "[bug] CMakeToolchain: `BUILD_SHARED_LIBS` & `CMAKE_POSITION_INDEPENDENT_CODE` not honored if CMP0077 OLD (or not set) and turned as options in upstream CMakeLists"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: AppleCland 13
  * Conan version: 1.51.1
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

- checkout this PR of libccd recipe (conan v2 migration): https://github.com/conan-io/conan-center-index/pull/12110 (this commit: https://github.com/conan-io

[2022-08-11 06:12] #11798 closed, assigned to franramirez688

[2022-08-11 06:14] franramirez688 commented on #11798
Thanks for the contribution! The fix will be released in the next Conan 1.52 version.

[2022-08-11 06:18] franramirez688 commented on #11774
Closed by https://github.com/conan-io/conan/pull/11780

Thanks for the contribution @paulocoutinhox! The fix will be released in the next Conan 1.52 version.

[2022-08-11 06:18] #11774 closed, assigned to czoido

[2022-08-11 07:18] #11633 closed, assigned to memsharded

[2022-08-11 07:25] czoido commented on #11763
Hi @beenjohn,
Thanks for the details on how to reproduce the issue, now I can reproduce the problem.
I'm going to mark this as a look-into so I can discuss with the team. Although the fail makes sense because the lockfile is created for the package and it's dependencies and the test_package is not a dependency but a consumer of the package failing there can be confusing.
I'm also adding a [failing

[2022-08-11 08:12] maitrey commented on #11807
The reason for using build() method was I could use some modules from cmake like find_matlab in order to find the location of matlab exe. Offcourse I can do the same using python but because of working in an enterprise, access is not given to query windows registry keys . However, that is not a conan issue. I am glad to know that we can use the source method for such use-cases. Thanks for your rep

[2022-08-11 08:53] memsharded commented on #11807
Thanks for following up. If the ``source()`` method is the response, then I am closing the issue as solved, but please do not hesitate to re-open or file a new ticket if you have further questions or need help with something else. Cheers!

[2022-08-11 08:53] #11807 closed, assigned to lasote

[2022-08-11 08:53] fschoenm opened #11842 "[question] Can CMakeToolchain tell CMake the correct compilers?"
My understanding of the new CMakeToolchain's purpose was that it can also be used to guarantee that CMake uses the correct compiler versions. However, that doesn't seem to be the case?

See the examples below. As I understand so far, the user is responsible for selecting the correct compiler when using CMake? Is there a way to force CMake to use the correct compiler that has been defined in the co

[2022-08-11 09:03] memsharded commented on #11827
I see. Internally, there are some copies of files from the ``exports`` folders to the ``source`` folder in the cache.
The copy from source->build folder can be completely avoided using the ``no_copy_source = True`` attribute in your conanfile recipe.

The export->source folder copy is managing symlinks. I have tried a bit, and it is also covered by tests, so apparently it should work. What we woul

[2022-08-11 09:22] czoido commented on #11763
@beenjohn,

In the meantime, please check these comments: https://github.com/conan-io/conan/pull/11841#issuecomment-1211738565

[2022-08-11 09:56] jgsogo opened #11843 "[bug] Modify checksums defaults to `None`"
`get` function (and `download`) uses this signature `def get(conanfile, url, md5='', sha1='', sha256='',...)`. IMHO it would be better to use defaults `None` and check always explicitly using `if sha256 is not None` instead of `if sha256`.

Changing the approach would prevent some _malicious_ code like in the following `conandata.yml`:

[code]

Here, the CCI validation (hooks) is successful becaus

[2022-08-11 10:00] franramirez688 commented on #11842
The problem is that CMake is not a toolchain responsibility in general. For example, for Visual Studio compilers, it is defined in the CMake generator and not in the toolchain. So the approach that Conan follows hasn't changed much from the legacy build system integrations, and it is still the responsibility of the users to have the dev environment that matches the declared configuration.

But at

[2022-08-11 11:21] #4430 closed

[2022-08-11 11:29] fschoenm commented on #11842
Why is that though? conan could easily set the correct compilers in the toolchain file or the CMake preset to make sure that everything fits together. So far there isn't even a check that the CMake-selected compiler matches the one specified in the conan profile.

[2022-08-11 13:52] Adnn commented on #11326
We have been working with the approach described above with single configuration generators with success.

Yet, we are currently hitting a major obstacle by trying to integrate multi-configuration generators (such as Visual Studio), maybe you could have a suggestion @memsharded

We have a recipe using the default `cmake_layout()` and the following generators:

    generators = "CMakeDeps", "CMakeT

[2022-08-11 14:03] nmgwddj opened #11846 "[question] AttributeError: module 'semver' has no attribute 'VersionInfo'"
I'm using python package `semver` in my conanfile.py: https://pypi.org/project/semver/

But I got some error like:

[code]

It looks like other semver package in conan install folder. Sample code:

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-11 14:13] lasote commented on #11870
I've been able to reproduce and debug, I'll provide a fix for the next release.

[2022-08-11 14:24] foundry-markf opened #11847 "[bug] Using 'conan build --configure' with new CMake helper causes cmake --build to be called"
I noticed when trying out the transition between CMake helpers, that the `--configure` switch to `conan build` was behaving differently, in that the new CMake tooling just carries on after the configure/generation phase into calling `cmake --build`.

The `--configure` flag was used in some example code to stop after an IDE project is generated, since the idea is that the user opens that in the IDE

[2022-08-11 14:39] memsharded commented on #11842
Because it is not that easy. The previous integration, the ``cmake`` generator had some compiler checks. We had to provide a escape ``CONAN_DISABLE_CHECK_COMPILER`` to disable it, because it would be raising false positives more often that we would have desired. And it was only checking some known compilers and some known versions. There are too many different compilers setups, toolchain variants,

[2022-08-11 14:41] lasote commented on #11834
I realized that is not a bug in Conan, this cames from the recipe of `fmt`, the default `cpp_info` for the components, only include by default the following values:

[code]

So, In case the recipe has some build script, it has to declare the builddirs in the component accordingly:

[code]

[2022-08-11 14:41] lasote commented on #11870
I realized that is not a bug in Conan, this cames from the recipe of `fmt`, the default `cpp_info` for the components in Conan only include by default the following values:

[code]

So, In case the recipe has some build script, it has to declare the builddirs in the component accordingly:

[code]

I'm transferring the issue to the conan-center-index repository.

Thanks

[2022-08-11 14:49] Adnn opened #11848 "[bug] Object of type PackageOption is not JSON serializable"
* Conan version: 1.51.1
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

In `generate()`, we attempt to use an option to set a `cache_variables`, as:

    def generate(self):
        toolchain = CMakeToolchain(self)
        toolchain.cache_variables["BUILD_tests"] = self.options.build_tests
        toolchain.generate()

### Logs

The command:

    conan install conan/ -p

[2022-08-11 14:53] beenjohn commented on #11763
@czoido,

I agree that the failure makes sense given the lockfile is for the package rather than the test package. Being new to the community I wasn't quite sure of the "conan-approved" way to handle this type of setup, but I have a workaround for the time being. Thank you for digging into this in such a timely manner!

I'll leave the ticket open for your tracking, but feel free to close it whenev

[2022-08-11 15:10] nmgwddj opened #11849 "[bug] Version range did not worked out for version like package/0.1.0-alpha.1"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12
  * Compiler+version: Apple Clang 12
  * Conan version: 1.51
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

My package version using semver to set version string like `0.2.0-alpha.1`. When I using my package in conanfile.py like:

[code]

I got errors:

[code]

and I can se

[2022-08-11 15:14] fschoenm commented on #11842
I trust that you have more insight into all possible problems with that but according to the [CMake Wiki](https://gitlab.kitware.com/cmake/community/-/wikis/FAQ#how-do-i-use-a-different-compiler) it's easy to switch to a different compiler. Conan already knows which compiler to use when calling `conan install` so I'm wondering if there's a way to initialize CMake with it, regardless of what the ID

[2022-08-11 15:42] #11849 closed, assigned to nobody

[2022-08-11 16:17] planetmarshall opened #11850 "[bug] Version object is no longer subscriptable"
Since https://github.com/conan-io/conan/pull/11830 `Version` is no longer subscriptable.

## Steps to reproduce

[code]

See for example the CCI libtiff recipe and also https://github.com/conan-io/conan-center-index/issues/12155

[2022-08-11 16:35] Adnn opened #11851 "[bug] Today's release 1.51.2 breaks boost/1.79.0"
* Conan version: 1.51.2

### Steps to reproduce (Include if Applicable)

Issuing the command:

    conan install boost/1.79.0@ --update --build=missing

Ends up with error:

[code]

Happens on Windows and Ubuntu.
This was not an issue with Conan 1.51.1

[2022-08-11 16:36] Adnn commented on #11850
Probably related to conan-io/conan-center-index#12159

[2022-08-11 18:24] jcar87 commented on #11851
Hi @Adnn  - thank you for reporting this issue.

We had an issue with the Boost recipe in Conan Center were an unsupported API due to an oversight on our part - the correct API was independently fixed in the Conan client in the latest release (1.51.1).

We are already in the process of updating the Boost recipe to use a supported interface, and will be merging the changes shortly, it's nearly fini

[2022-08-11 18:51] jcar87 commented on #11842
Conan knows which compiler and compiler version you intend to use, however, Conan does not necessarily know _where_ that compiler lives, and different Linux distributions follow different conventions with regards to being able to install _multiple_ versioned copies of the GNU Toolchain side by side.

Thanks for bringing this example to our attention, @fschoenm! In this example, CMake is assuming t