[2022-04-10 07:53] memsharded commented on #11002
Hi @apyvovar

Conan migrations only happen on a version upgrade, it is simply too complicated to do it on configuration changes. Also, revisions would be too complicated to implement for an automatic migration.

That indeed results in error messages that are not that helpful, I agree.

As this is no longer an issue in Conan 2.0, which is close to enter the beta stage (already at alpha.6), I am lab

[2022-04-10 15:38] memsharded commented on #11003
Hi @db4

That tool is not about the current compiler supporting the C++ standard, but about the current configuration satisfying the constraint defined by the recipe. If not ``compiler.cppstd`` is specified in the profile, then the current compiler default (c++14 or gnu14 in your case9 is being used in the profile, and that is not enough to use that package, so it fails.

Just realized that we hav

[2022-04-10 15:39] memsharded commented on #11001
This is a ``CMakeDeps`` issue, not a ``CMakeToolchain`` one, updating the title

[2022-04-10 15:43] memsharded commented on #11001
We might change how libs are found in CMakeDeps code. Better don't touch this at this moment, it can wait until that is figured out. Also, probably the way is not just removing those messages, but using a different log level like DEBUG

[2022-04-10 15:46] #10866 closed, assigned to lasote

[2022-04-10 18:44] 0x8000-0000 commented on #9814
Hi @memsharded

That seems to work, but where should I run `conan install .` ? In the source tree? It still generates conaninfo.txt which contains the compiler name, compiler version and build_type, in the source directory, and that would be overwritten when I run it with different settings - won't that create problems?

Sorry to bother you, but can you give an example:
1. creating a simple projec

[2022-04-10 22:01] memsharded commented on #9814
Conan 2.0 will be mostly independent of the cwd, because it will use locations referenced to the conanfile, or specified by ``--output-folder``. All those files (conaninfo.txt, conanbuildinfo.txt, graphinfo.json....) are not generated anymore in 2.0, so they will not be an issue to support multi-configuration setups, including multiple flavors of the compiler.

In Conan 1.X, that can affect the ou

[2022-04-10 22:17] 0x8000-0000 commented on #9814
What is the recommended way? To use `conan build`, `cmake` or `ninja`?

[2022-04-10 22:34] memsharded commented on #9814
The new integrations aim to be as close as possible to the developer experience, that is, the typical flow should be something like ``conan install`` + ``cmake ...`` (then using Ninja, makefiles, or whatever is users choice). ``conan build`` shouldn't be used as developers, except for debugging of the recipe, at most.

[2022-04-11 03:42] n-morales opened #11005 "[bug] python exception when consuming editable package with CMakeDeps"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Mint 20.3
  * Compiler+version: gcc 11.2
  * Conan version: 1.47.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
1. Create a conanfile.py, omitting the `layout()` and using the CMakeDeps/CMakeToolchain generator
2. `conan editable add /path/to/package package-name@channel/s

[2022-04-11 03:55] n-morales opened #11006 "[question] per-developer configured build folder"
Hi,
On my local machine, I use a build folder convention that uses `cmake-build-debug` and `cmake-build-release`. However, my CI process uses a different layout (e.g. /tmp/build). Additionally I don't want to force developers building my library to use the `cmake-build-*` convention. Specifying the `layout()` in absolute terms will dictate the convention the person building the software will use.

[2022-04-11 04:35] n-morales commented on #11005
FWIW I found a hack to workaround this, by adding the following to the editable package's conanfile:
[code]

[2022-04-11 07:24] db4 commented on #11003
Hi @memsharded

OK. But what if I need  to check the maximum C++ standard supported by the current compiler, not the default one? I see in CCI recipes something like

[code]
(each CCI recipe does it slightly differently) . A standard method of  doing that would be greatly appreciated!

And one more question if you don't mind. Raising `ConanInvalidConfiguration` in `configure` and `validate` method

[2022-04-11 08:14] hwhsu1231 opened #11007 "[question] Why not change the name `opencv::opencv_core_alias` into `opencv::core`?"
The followings are the generated **IMPORTED** targets of **OpenCV** package when I use `CMakeDeps` generator to install:

<details><summary>Click to expand</summary>

[code]

</details>

I just wonder, why not use the unified format of naming like other packages, for example `opencv::core`, for **OpenCV** Package?

Although **OpenCV** officially provide its **IMPORTED** targets, for example `openc

[2022-04-11 08:20] hwhsu1231 commented on #11007
Sorry. I think I should post this issue on conan-center-index. So I'll close it.

[2022-04-11 08:20] #11007 closed, assigned to nobody

[2022-04-11 08:21] lasote commented on #11005
Sorry I cannot reproduce the issue, I tried with an empty `layout()` and without `layout()` method, could you provide an example?

[2022-04-11 08:27] lasote commented on #11005
Reading [this](https://github.com/conan-io/conan/issues/11006), just note, that the old editable layouts file are deprecated and won't work when the `layout()` method is declared, nor the new generators like CMakeDeps and CMakeToolchain.

[2022-04-11 09:07] lasote commented on #11006
Could your CI build on `/tmp/cmake-build-debug`? in that case the `-of` to `/tmp` and declaring the layout might work.

I agree with this, we thought a couple of times about allowing a local file `layout.py` or similar, a file that wouldn't be committed to the repo, a file that shouldn't be exported to the cache, and a file whose location should be fixed at the `conanfile.py` in order to be locate

[2022-04-11 09:27] SimplyLiz opened #11008 "[question] How can I crosscompile to iOS with cmake?"
I've tried the steps described here:
https://docs.conan.io/en/1.45/integrations/cross_platform/ios.html

Which leads to:
<img width="505" alt="image" src="https://user-images.githubusercontent.com/7029836/162708824-640611d6-a782-4d45-9456-84742e6188e3.png">

I then downloaded a iOS toolchain file. I don't know which one to use, since the documentation is really unspecific about it, so I googled an

[2022-04-11 09:51] ghost commented on #10990
Have to Instruct Conan to use a different test dependency depending on pipeline mode.

In the test packages can be very huge and not in every step during the integration pipeline required. As such we would like to download these test dependencies only when required.

[2022-04-11 09:54] lasote commented on #11008
The way to do it is using the [CMakeToolchain](https://docs.conan.io/en/1.45/integrations/cross_platform/ios.html#use-built-in-conan-toolchain) (the only supported in the coming Conan 2.0) In your profile you have to declare the compiler or include the "default" one:

[code]

[2022-04-11 10:09] gpxricky opened #11009 "[question] How to use self.run and VirtualBuildEnv to capture the output"
Hi,

when using the `VirtualBuildEnv` generator, is it still possible to capture the output of a `self.run` command properly without any additional steps? At present the output of the `run` method starts with

[code]

Setting `env` to `None` doesn't work as it implicitly activates `conanbuild`. Or is the idea to use redirection in future - but then the question is if it would be better to remove t

[2022-04-11 10:23] gpxricky commented on #11009
A simple workaround would be to use any non existing name for the `env` argument, e.g. `Dummy`. But this looks like a very bad design, isn't it?

[2022-04-11 10:46] SimplyLiz commented on #11008
Thank you for the quick reply.

I copied the profile from the documentation ,so it has `include(default`
[code]

but it still doesn't work.

Is there somewhere a working example i can use for the current conan version?
Also, what is `os.version=9.0` supposed to mean?  iOS version? The latest one is 15.4.1
My Mac is M1 with latest macOS, xcode and of course conan.

[2022-04-11 10:56] lasote commented on #11008
Run this:

[code]

Create a **ios_profile** with (validate your system values):

[code]

Apply host and build profiles and create the iOS binary for the default example library:

[code]

[2022-04-11 11:48] Psy-Kai opened #11010 "[bug] Overriding requires of tool_requires does not work"
I have package (using a conanfile.py) which has multiple tool requires. One is `protobuf` and another one if a custom tool which requires `libarchive`.
Now since [this commit](https://github.com/conan-io/conan-center-index/commit/c166e63ef4254ee2259813428754be9bfe0aa09a) bumped zlib in `protobuf` my package does not build anymore. And I cannot find any way to override the requirements.

The [docum

[2022-04-11 12:30] franramirez688 commented on #11010
Hi @Psy-Kai

Thanks for reporting it.
I guess the problem is coming because those tool requirements require zlib directly and not as another `tool_requirement`.

These dependencies used as a normal requirements work:
[code]
Actually, I don't know if it's a bug so we'll need a bit more to investigate the issue.

[2022-04-11 13:34] SimplyLiz commented on #11008
Thank you! Your profile seems to work, I've added it in my conan_cmake_install call and now it does something.. (fails with openal, but that's something different).
Could you maybe update the documentation? This helped me a lot :)

[2022-04-11 13:34] #11008 closed, assigned to lasote

[2022-04-11 14:15] lasote commented on #11009
Maybe `env=""` but I think I didn't understand the underlying issue, Do you need to capture the output of a command to a variable or file? is something failing and not being printed to stdout? I don't know, how is that related to the VirtualBuildEnv generator.

EDIT: I tried and the `env=""` won't work. I'll open a PR to default to "conanbuild" instead of `None` to see if is there any other reason

[2022-04-11 15:07] Psy-Kai commented on #11010
The same problem could occur when the qt moc and the protobuf protoc is needed (Both packages contain `zlib` as normal `requires`). In that case the `tool_requires` should/has to be used.

Additionally: since I have a cross compiled project I definitely cannot use normal `requires`.

[2022-04-11 15:15] lasote opened #11012 "[feature] parse_conanfile at public ConanAPI"
We are going to need something similar to the old "conan inspect" command. It could be a custom command but we need a public API to call. There are methods in the `conan_api.graph` to load conanfiles but they process the settings and I guess when we inspect attributes we just want the pure python ones. (raw settings dict, for example).

This code might work but it is using internal implementation

[2022-04-11 15:22] gabyx commented on #10995
Thanks @memsharded for the fast repsponse, really appreciated.

[2022-04-11 17:04] eigenwhat commented on #9608
I was looking into where this new `sdk_version` came from, and I'm a bit confused as to why `os.version` wasn't good enough? The SDK versions were always tied to the version of the operating system they were targeting, e.g. the 10.15 SDK was for MacOS 10.15, i.e. "Catalina". It seems bizarre to ever not have these in lock step with each other. I believe anything built with MacOS SDK 12 specificall

[2022-04-11 17:11] eigenwhat commented on #9608
Is this for situations where you might want `os.sdk_version` to trail `os.version`? Like target Monterrey but build with the Big Sur SDK (`-s os.version=12.0 -s  os.sdk_version=11.0`)? But then I'm just not sure how that results in a different build artifact from having `os.version=11.0` outside of artificially having a different package ID.

Edit: Okay, I think I answered my own question. Looking

[2022-04-11 21:19] memsharded commented on #11012
I think one of the most important things is to make this command a bit more limited than it used to be. In 1.X, if the ``inspected`` reference doesn't exist in the cache, it will downloaded to be able to read and parse it. We might want to reduce the old command so it never downloads.

It also worked on an ambiguous local path conanfile.py and cache recipe-reference. We probably want to disambigua

[2022-04-11 21:33] memsharded commented on #10990
Both ``test_requires`` and ``tool_requires`` they are only downloaded when the package needs to be built from sources. If the package is being installed, then they will not be fetched.

I think we can close this question, as the OP seems to have abandoned Github

[2022-04-11 21:33] #10990 closed, assigned to nobody

[2022-04-11 21:40] memsharded commented on #11009
Yes, I don't think that disabling the environment is the solution. If the environment file was generated in the first place, it is very likely that it is still needed. And the ``self.run()`` command will run the command prefixed with the environment script, so yes, that will probably output that information too. I guess the only alternative is to let the capturer filter the first lines if they don

[2022-04-11 21:48] memsharded commented on #10993
https://github.com/conan-io/conan/pull/10994 implemented this. ``conan graph info`` is no longer crashing (in Conan 2.0-alpha.7 to be released) for graphs with conflicts, so it might still report requires, etc. The output still needs to be improved, but the main feature was enabled with that PR. Lets work later on the UI and error reporting.

[2022-04-11 21:48] #10993 closed, assigned to nobody

[2022-04-11 22:05] memsharded commented on #11003
With our current thinking, this is not something that needs to be in Conan code. The maximum C++ standard that is supported by the compiler is written somewhere in the compiler documentation, so it doesn't need to be guessed or queried. Conan 2.0 will make the ``cppstd`` subsetting compulsory, it will no longer default to None being the one that is the compiler default one, but it will actually re

[2022-04-11 22:16] memsharded commented on #11010
Yes, this is known, and by design. ``tool_requires`` dependencies are private to each package, they cannot be changed by other packages, because that would break many package builds. For overriding ``tool_requires``, they need to be overriden in profiles directly.

Conan 2.0 behavior is still similar. As ``tool_requires`` by default have the ``visible=False`` trait, they are not visible from other

[2022-04-12 01:59] fukanchik commented on #10993
thanks!

[2022-04-12 02:10] StellaSmith opened #11013 "[bug] Characters are not escaped in pkg config generators"
https://github.com/conan-io/conan/blob/6739257c4e83943d736aa3eea9544281dce03c2e/conans/client/generators/pkg_config.py#L118-L122

see conan-io/conan-center-index#10257

[2022-04-12 06:36] Psy-Kai commented on #11010
@memsharded I think you missunderstand my problem. For an easier explanation a graph:
[code]

Currently that does not work. And there is no way to make it work (other than creating an [issue](https://github.com/conan-io/conan-center-index/issues/10235)). Thats definetly bad because all my teams CI will break in that scenario.

Either one needs to be able to override the `requies` of MyPackages `to

[2022-04-12 07:22] Psy-Kai commented on #11010
The [documentation](https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=rule%20thumb#properties-of-tool-requirements) says that

So my first suggested solution to this issue is actually the way it should work? I am a bit confused...

[2022-04-12 07:56] lasote commented on #11012
Does that mean we are introducing "conan inspect" in the core again? This issue was created to implement something in the Conan API that could make a custom command work, your concerns are about the command.

[2022-04-12 08:06] lasote commented on #11013
Hi, from [here](https://github.com/conan-io/conan-center-index/pull/10257) `self.cpp_info.defines.append("IMGUI_USER_CONFIG='\"imgui_user_config.h\"'")` you are escaping the value of the define, in the generator we cannot do that as the define is a whole string unless we probe that escaping everything also works, something like this?:

[code]

Another alternative could be replacing `"` with `\"` o

[2022-04-12 09:07] lasote commented on #10927
No, we meant the `AutoToolsBuildEnvironment` that is being replaced by the `AutotoolsToolchain` and  `AutotoolsDeps`/`PkgConfigDeps`

I don't get why it misses the link due to the order, if LIBS values are `-lyour_library -ldep_from_conan -ldep2_from_conan` two thoughts:

- Looks like makes sense to specify first the deps from the dependencies in case `your_library` needs something from the depend

[2022-04-12 10:12] lasote commented on #10971
Looks like we could have a better result using `git rev-list HEAD -n 1 --full-history -- .`
I wanted to explain why insisting on this and not just use `rev-parse HEAD`, there are users having a mono-repo with N subfolders, each of them with a recipe. So when they want the revision to be the `commit` of the latest changes in the subfolder, not in all of them, because otherwise, any change in a reci

[2022-04-12 11:24] lasote commented on #10103
@jasal82 Did you find any fix/workaround since [this](https://github.com/conan-io/conan/pull/10186/files) was merged?

[2022-04-12 11:31] jasal82 commented on #10103
Just tried again on 1.47.0 and the issue seems to be gone.

[2022-04-12 11:32] lasote commented on #10648
So, I think the proposal would be, whether to move the cmake modules to a different `builddir` as suggested (`self.cpp_info.builddirs.append(os.path.join("lib", "cmake"))`) or customizing the `CMakeToolchain` as you are doing, I'm not sure we can/should do anything else, the cmake modules in the root of the packages have side effects and should be avoided so I don't see even an opt-in for that beh

[2022-04-12 11:32] #10648 closed, assigned to nobody

[2022-04-12 11:39] SpaceIm commented on #10648
Yes, the workaround for recipes packaging CMake config files is to add `self.cpp_info.builddirs.append(<config_file_dirname>)` in `package_info()` (no need to move config files, unless they are packaged in root package folder which is quite unusual).

[2022-04-12 11:58] KerstinKeller commented on #10648
I guess it's ok and we can live with the current approach 😄

[2022-04-12 13:15] lasote commented on #10103
Then I'm closing this, feel free to comment or open a new one if some issue still remains. Thank all!

[2022-04-12 13:15] #10103 closed, assigned to nobody

[2022-04-12 13:41] lasote commented on #10351
We will start testing these flags in the fork of recipes of conan-center-index for Conan 2.0 and see how it goes. It might happen that recipes fail to build.

[2022-04-12 13:50] playgithub opened #11016 "[question] Is conan-vs-extension supported for Visual Studio 2022?"
https://marketplace.visualstudio.com/items?itemName=conan-io.conan-vs-extension

In VS2022/Manage Extensions, conan can't be found.

[2022-04-12 13:52] playgithub commented on #11016
wrong place

[2022-04-12 13:52] #11016 closed, assigned to nobody

[2022-04-12 14:13] DukeOfKirkcaldy commented on #10971
Hi @lasote,

Thanks!  I can confirm your suggestion works in my case:

[code]

[2022-04-12 14:18] franramirez688 commented on #10351
Let's recall that, since Conan 1.47, it should be enough to add these lines to your profile:
[code]
Or even to the *global.conf*:
[code]
**Note**: the examples above are appending the value with `+=` but you can also redefine it using `=`.

[2022-04-12 19:53] Paultergeist commented on #9390
@memsharded Looks like it's not just `cmake` generator. `deps_cpp_info` is missing information about private dependency when `--profile:build` is used.
I've added this line at the beginning of `build()` method:
[code]
It builds fine with `conan create . -pr default` and prints path to `gtest` package:
[code]
But if I build with `conan create . -pr default -pr:b default` it fails with this error:
[

[2022-04-12 20:19] StellaSmith commented on #11013
I think that doing something like the following could work:
[code]

[2022-04-12 21:23] memsharded commented on #11012
Yes, my concerns are about the command, or having a new API that mimics the previous command behavior. So I don't want any of those, not the command that can actually download from the server to inspect, nor the API that will download from the server to inspect.

[2022-04-12 22:29] AntonRechkov commented on #7402
Unfortunately if you have more dependencies than one, and you need to copy shared libraries into install folder that approach would not work.

I need to copy shared library to multiple location and with cmake IMPORTED_LIBRARY I cannot use cmake_custom_command or install.

[2022-04-13 08:12] Bassem-Ramzy opened #11018 "[bug] CMake `CMAKE_GENERATOR_PLATFORM` is not set when building with `-s arch=x86` & `compiler.version=14`"
### Environment Details (include every applicable attribute)
  * Operating System+version:
[code]
  * Compiler+version:
[code]
  * Conan version:
[code]
  * Python version:
[code]
  * CMake version:
[code]
### Steps to reproduce (Include if Applicable)
1. Use `CMake` in `build()` method in the recipe file:
[code]
2. In the `default` profile, use `compiler.version=14`
[code]
3. Create the package f

[2022-04-13 09:54] bkarasm opened #11019 "[bug] os.version is not passed to objective C compiler/linker flags"
I noticed this issue when I tried to install glib/2.72.0 from conan center on MacOS with ` -s os.version=10.12 `. I found out that produced glib libraries does not contain minimum version applied as I specified.

After digging into meson generated ` build.ninja ` I noticed that ` -mmacosx-version-min=10.12 ` flag is NOT added to ` objc_COMPILER ` and `objc_LINKER ` set of flags. Not sure if this i

[2022-04-13 10:10] artkuli opened #11020 "[question] Linking issue while try to create package dependent of other package"
Hi, I've tried to create package for OpenVINO project( https://github.com/openvinotoolkit/openvino )

I've made `conanfile.py` in OpenVINO:
[code]
OpenVINO has structure that the external libraries are used as a submodules to create package. I've changed that `ONNX` and `Protobuf` are taken from conan packages (conancenter)
The package has been created correctly.

[code]

Additionally I've created

[2022-04-13 10:55] memsharded commented on #11018
Could you please clarify which build system integration are you using? I mean, what is the import for ``cmake = CMake(self)``? Is it the ``from conan.tools.cmake import CMake`` one or the legacy one?

Can we reproduce this with a ``conan new hello/0.1 --template=cmake_lib``?

[2022-04-13 11:02] sandeshhardikar commented on #7193
I still can `reproduce`  this when i switch from `conan 1.45.0` to `conan 1.47.0` , I would guess the warning `settings.yml is locally modified` is fine if it throws during the installation of conan. But it rather throws during first run of `conan`, this hurts us, especially in `ci` , when i upgrade to a particular `conan` version and then call `conan inspect --raw version packageA`

Here is the o

[2022-04-13 11:15] memsharded commented on #7193
The problem is installation is decoupled from application user database and packages. One single installation can have many  conan homes, for example one for every user of the machine (typically in their ``<userhome>/.conan`` folder). Or users can have different homes for different projects, with different remotes configured and different packages (like one for work, another for hobby projects). T

[2022-04-13 11:16] franramirez688 commented on #11019
Hi @bkarasm,

Thanks for reporting it but `glib` recipe is using the legacy `Meson` builder and we're not maintaining it anymore because we're in the process of migrating step by step every Conan 1.x one to Conan 2.x so they'll be using the new `conan.tools` generators like the new `MesonToolchain` asap.
The new `MesonToolchain` is adding that flag automatically so that problem should be solved.

[2022-04-13 11:17] Bassem-Ramzy commented on #11018
I'm using:
[code]

[2022-04-13 11:19] memsharded commented on #11018
Ok, that is the legacy one. Using the new one in theory solves this issue.

[2022-04-13 11:25] memsharded commented on #7402
An update about future Conan 2.0 approach (feature already available in released 2.0 alpha):

- Conan will use the concept of ``deployers``, that can be specified in command line like ``conan install ... --deploy=mydeploy``
- There are built-in deployers like ``--deploy=full_deploy``, that basically copies all dependencies packages contents
- Users can create their own deployers, manage, shared an

[2022-04-13 11:25] DannyLihard opened #11021 "[bug] Build context dependency options are ignored/overrided by host context"
Hello,

With the following `conanfile.txt` :

[code]

The output of `conan install` is :

[code]

Now, if I add the following to `conanfile.txt`
[code]

**or** add `-o:h openssl:shared=True -o:b openssl:shared=False` to the command, it affects *both* openssl hashes :

[code]

Aren't the following two lines inconsistent ?

`cmake/3.22.3:5c09c752508b674ca5cb1f2d327b5a2d582866c8` (openssl:shared=Fals

[2022-04-13 11:29] memsharded commented on #11020
Hi @artkuli

Maybe you want to try with **only** the modern integrations, not the legacy ones. Use ``conan new hello/0.1 --template=cmake_lib`` to get a working starting point.

It seems that you are mixing the legacy ``CMake`` with the new ones, from ``from conans import ConanFile, CMake``, and the ``generators = "cmake"``. You shouldn't be mixing those, but use the ``from conan.tools.cmake impor

[2022-04-13 11:57] #10971 closed, assigned to nobody

[2022-04-13 11:58] memsharded commented on #10971
https://github.com/conan-io/conan/pull/11015 merged, will be released 1.48. Thanks!

[2022-04-13 12:23] Bassem-Ramzy commented on #11018
Yes, this one works, thanks.
BTW, must I use `generate()` method with this wrapper? Without it I get error `conanbuild.conf does not exist. Please, make sure that it was not generated in another folder`.

[2022-04-13 12:43] friendlyanon commented on #10900
The `Virtual*Env` generators should just generate all 3 flavors of scripts, like they did with the v1 generators. On Windows especially, one can end up using cmd, bash and powershell, while on *nix powershell is also used quite a bit.

[2022-04-13 13:21] PeteAudinate opened #11022 "[bug] conan install --update should fail if package isn't found on remote"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: N/A
  * Conan version: 1.44.1
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)
* Add an Artifactory remote with anonymous usage enabled
* Enable revisioning
* Upload some private packages
* Ensure you are _not_ logged in to the remote
* Ensure you hav

[2022-04-13 13:24] playgithub opened #11023 "[question] How to require a lib in a C++17"
profile
[code]

e.g.
conan recipe `Ra` is for `liba`, `liba` needs C++17,  and `liba` depends on `poppler`.
If `liba` in C++ 17 links to `poppler` in C++ 11, `poppler` will not work properly, it must link to `poppler` in C++ 17.
When `conan`  searches binary in remote, it discards C++ standard, doesn't it? i.e. if binaries in C++ 11 exists, the binaries will be downloaded, regardless of the C++ st

[2022-04-13 13:50] artkuli commented on #11020
Hi @memsharded
Thanks for your quick response!  According to your reply I will use only modern integrations.
It looks that I have to learn a lot about Conan :)
I will let you know that it helps or not :)
Thanks a lot!

[2022-04-13 14:15] franramirez688 commented on #11023
Hi @playgithub

Several points here.
Putting `cppstd` as a general setting is deprecated, you should put `compiler.cppstd` instead.
Apart from that, you can use the `--build missing` option with your `conan install` or `conan create` commands to force a local build in case of the binaries are you trying to look for are not there.

[2022-04-13 14:24] playgithub commented on #11023
Fine

OK, I know about `--build missing`.
At first I'm not sure if the dependecies respect `compiler.cppstd`,
after testing, the codes below will make all the dependencies (include trnasitive dependencies) be built in C++ 17, right?
[code]

[2022-04-13 14:53] franramirez688 opened #11024 "[feature] Enhancements for `msbuild_lib/_exe`"
I have a couple of suggestions to be added to `msbuild_lib/_exe` templates:

* Add the toolchain props `conantoolchain.props` to the `*.vcxproj` to be imported automatically.
* It would be nice to be able to select the `PlatformToolset` (now, we're writing `v141` by default).

[2022-04-13 15:25] lasote commented on #11013
thanks, we will make sure with a couple of test with Meson and CMake.

[2022-04-13 17:57] memsharded commented on #11024
Yes, make sense. Though the final value for the PlatformToolset should actually be the one defined by the ``conantoolchain.props``. Maybe it is possible to omit it entirely and have it defined by the toolchain only?

You mean directly adding the toolchain.props to the .vcxproj directly in the template or having the MSBuild helpers doing a "replace" modifying live the .vcxproj when it runs in the r

[2022-04-13 18:58] memsharded commented on #11023
If the code you refer you are putting ``compiler.cppstd=17`` in the ``conanfile.py``, no, that will not work. That needs to go in the profile. If you meant the profile, yes, that information will be propagated to all packages in the graph. A different story is if the recipes are correct and honor the settings, some recipe might fail to do it correctly, or could have the cppstd hardcoded in the bui

[2022-04-13 19:07] memsharded commented on #11022
Hi @PeteAudinate

Failing a --update because some package doesn't exist in a remote is unfeasible. Many times, such packages will not exist in the remotes, when developing new packages locally, or simply because the remote it came from is temporarily disabled. There can be multiple remotes too, so it is not enough that it doesn't exist in 1 remote to fail. So Conan will not fail if it requests its

[2022-04-13 19:13] memsharded commented on #10900
Even if it generated the 3 flavors, now Conan relies on using those files for the injection of the environment to commands. So defining which system/flavor is using is necessary. Generating the 3 only delays the decision, and introduces the chance of discrepancies, like working in the user side because the user manually uses one, but then failing at ``conan create`` because Conan uses a different

[2022-04-13 19:18] memsharded commented on #11018
``generate()`` method for the ``generators = "CMakeToolchain", "CMakeDeps"`` will be called automatically, creating the ``conanbuild.conf``. ``CMake`` should find it, if it didn't probably there is some discrepancy, and ``layout()`` method could solve it. (``CMake`` expects to find it in the ``generators_folder``

[2022-04-13 19:23] lambtonr opened #11025 "[question] test package fails to link"
Hi, i have created a library with a out of source recipe, under GCC my library is build and links in the test package, however under clang i get a linker error in the test package.

i have made a minimal reproducible example [library](https://github.com/lambtonr/conan_library) and [recipe](https://github.com/lambtonr/conan_recipe). i think the issue lies in the fact i have used [project_options](h

[2022-04-13 21:51] gpxricky commented on #11009
Allowing `None` is fine for me at the moment, therefore I'll close this issue.

[2022-04-13 21:51] #11009 closed, assigned to lasote

[2022-04-14 02:45] n-morales commented on #11005
Thank you for the quick response! I thought that they `layout()` function was the key -- I will come up with a minimal reproducer and post it here.

Ahh that makes sense. I was using the editable layouts in the past, and didn't realize they were deprecated.

[2022-04-14 02:49] n-morales commented on #11006
Ok, this makes sense. I think for now I could point the CI to `/tmp/cmake-build-debug`.

As for the `layout.py` that would be a really good solution. I've recently been using CMake presets -- I wonder if there could be some sort of interop with a file like this and user-defined cmake presets?

[2022-04-14 03:22] playgithub commented on #11023
OK, tests are in need.

[2022-04-14 03:22] #11023 closed, assigned to nobody

[2022-04-14 03:44] zhizhi-dev commented on #8443
Mark . waiting for to be done on this problem.

[2022-04-14 05:26] playgithub opened #11026 "[question] option `shared` in profile for creating a package"
When `conan create`, I'd like shared builds.
1. Is it ok to set it in a profile?
2. which one as below is right?
[code]
or
[code]
3. recipe, profile, conanfile.txt all can set option `shared`, who override who?

[2022-04-14 08:17] #11018 closed, assigned to nobody

[2022-04-14 08:53] derived-coder opened #11027 "[question] Conan cross compilation - my experience"
Hi Barbarians,

I want to give you some feedback about cross compilation with conan.

1)
In my opinion, the CLI interface for cross compilation is too complicated.
[code]

Why not using one profile?
[code]

I do not know what the reason was to use two profiles, but I find it more complicated to use.

Possible solution: Use one profile, but under the hood, because of profile composition, you still

[2022-04-14 09:10] playgithub opened #11028 "[question] How to do `git clone --recurse-submodules` with `git.clone`?"
The code below will not clone submodules, how to clone submodules?

[code]

[2022-04-14 09:28] playgithub commented on #11028
solved
[code]

[2022-04-14 09:28] #11028 closed, assigned to nobody

[2022-04-14 10:28] playgithub opened #11029 "[question] How to install a package from remote without a recipe?"
A conan package has been created by `conan create` and uploaded by `conan upload --all`.
Then it is removed by `conan remove` locally.
How to reinstall it from remote without `conanfile.txt` or `conanfile.py`?

[2022-04-14 10:31] #11029 closed, assigned to nobody

[2022-04-14 10:46] lambtonr commented on #11025
ok, fresh look at this and i understand what is happening, the conan ''create'' command uses the default profile as set up in the docker image:

[code]
where as calling 'build' from the recipe, the [conan.cmake](https://github.com/conan-io/cmake-conan) ``conan_cmake_detect_unix_libcxx`` makes the following configuration:

[code]

still not sure how to get around this, as i wish to use the [conan_p

[2022-04-14 10:53] boussaffawalid opened #11030 "[bug] --require-override does not work for local dev workflow"
`--require-override` works when creating conan package, `conan create` but it fail for local development workflow when running `conan install <source_dir>`

### Environment Details
  * Conan version: 1.47.0

### Steps to reproduce
using this conanfile.py
[code]

`conan create . --require-override  openssl/3.0.1` works as expected. However, when running `conan install <source_dir> --require-overrid

[2022-04-14 11:26] GregDomjan opened #11031 "[bug] settings.compiler == "msvc" compares as enum and crashes"
Unclear if here is right place to raise, or maybe it's package error?

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 21H1
  * Compiler+version: VS 2019
  * Conan version: 1.47.0
  * Python version:

### Steps to reproduce (Include if Applicable)

conanfile.txt
[code]

14/04/2022 9:12:33 PM: Configuration:
14/04/2022 9:12:33 PM: [settings]
14/

[2022-04-14 11:28] GregDomjan commented on #11031
A hack of the openssl conanfile.py to convert enum to string avoids attempt at converting the "msvc" string to enum?
`        compiler = "Visual Studio" if self.settings.compiler.value == "msvc" else self.settings.compiler`

[2022-04-14 11:31] boussaffawalid commented on #11030
I tried with this fix https://github.com/conan-io/conan/pull/10046/files and it resolve the issue.

@memsharded  based on https://github.com/conan-io/conan/pull/10046#issuecomment-1066676745, this is replaced by a lockfiles approach for conan 2.

but what about conan 1. ? we still use conan 1.0 and right now this feature is buggy. Is it possible to include this fix for conan 1. ?

[2022-04-14 11:42] lpapp commented on #10648
I also agree that I would not switch to CMakeToolchain if I cannot get the CMAKE_PREFIX_PATH set automatically. It would be a no no.

[2022-04-14 12:43] friendlyanon commented on #10900
I don't think someone who uses Conan just to fetch dependencies and spit out config files to make those importable wants to use `conan create` or other machinery provided by Conan. In fact, it looks like someone who wants to use Conan as such needs to do more upfront Conan specific plumbing with v2.

[2022-04-14 12:44] aarangop opened #11032 "[question] Trouble linking dependency library package which depends on precompiled libraries."
Hello, I have been trying with success to package some precompiled libraries. However, there is a behavior I don't understand. Maybe someone can shed some light on this.

I wanted to package some precompiled libraries (SimConnect), so that they can be consumed by other packages. I have created two packages, one which links to the precompiled libraries and the other one which consumes the first one

[2022-04-14 13:26] PeteAudinate commented on #11022
Thanks @memsharded for your thoughtful reply :-).

Understood. I think there are valid use cases for both behaviours though. The current behaviour of "assume 404 is fine" isn't very useful for the simplest enterprise use case of a single Artifactory remote hosting all packages. I see that there are more complex configurations where you'd want to allow it to fail silently, but I'd have thought "tel

[2022-04-14 14:45] cr-dani-koretsky opened #11033 "[bug] kill/crash conan process leaves a lock file containing count -1"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows Server 2012
  * Compiler+version: VS 2017 MSBuild (`17:21:17  Microsoft (R) Build Engine version 16.9.0+5e4b48a27 for .NET Framework`)
  * Conan version: 1.44.1
  * Python version: 2.7.14

### Steps to reproduce (Include if Applicable)

1. Run a conan install command on many packages
2. Kill the cona

[2022-04-14 16:12] Ambrase commented on #6041
I see this often. Steps to reproduce:
1)Export a new package locally
2)Try to build something that forces a rebuild of the previously exported package (for example different options or different version of dependencies)
3)Modify the sources and export them as the same version
The sources in /source are still from the step one. The sources in /export_source are new.
4)Try to build something that fo

[2022-04-15 03:05] initlifeinc opened #11034 "[question] How to force upload conan package without the binary package[only upload recipe]?"
The background is we have our remote binary file storage service, we don't want to use Artifactory CE to store recipes and binary packages.
Because it will costs too much Artifactory Ce storage. we just want to let it to manager recipes only.

**So how can i invoke "conan upload ...." command or other commands to upload recipe but not with packages?**
Do you think it is a feature to support? If ye

[2022-04-15 09:41] memsharded commented on #6041
Hi @Ambrase

I have not been able to reproduce your flow. I guess there is something there which might be different.
It would be great to start from something common and more accurate and reproducible, I'd recommend start like:
- New package recipe with ``conan new hello/0.1 --template=cmake_lib``
- Revisions are disabled or enabled?, as shown in ``conan config get``. Maybe it is related to the be

[2022-04-15 09:49] memsharded commented on #11033
Hi @cr-dani-koretsky

It is a well known fact that a crash will leave the locks there, and a ``conan remove --locks`` is necessary, and still there might be cases when things are not fully fixed.

Yes, we have considered different alternatives. Any daemon has been completely discarded. It is extremely challenging to maintain such functionality, specially in multi-platform (windows, linux, mac, sun

[2022-04-15 09:56] memsharded commented on #10900
Even if you don't want to, it is necessary to be consistent, otherwise it is a mess for users wanting to create packages. And when the configuration files need to be aware of things like subsystem, the configuration is necessary. It is not enough to generate .sh files, it is necessary to know which subsystem is targeting (msys, cygwin...) because the paths do change. Conan v2 is indeed more explic

[2022-04-15 10:08] memsharded commented on #11027
Hi @derived-coder

I think you are missing the history here:

1. The 2 profiles are needed to be defined as an opt-in, because it is the only way to be able to apply the new behavior without breaking the old behavior. Remember that by our 1.X commitment, we cannot break. The legacy behavior is using ``os_build`` and ``arch_build``, that happens when you specify 1 profile. But we learned that model

[2022-04-15 10:12] memsharded commented on #11031
Hi @GregDomjan

It seems for some reason you are missing the new ``msvc`` compiler in your settings.yml? If that is the case, please remove your ``settings.yml`` file from your cache and let it be regenerated with the new ones.

The ``msvc`` compiler setting was introduced some time ago, as proposed by the Tribe, to replace the ``Visual Studio`` one. Conan 2.0 has already dropped the ``Visual Stud

[2022-04-15 10:37] memsharded commented on #11025
Hi @lambtonr

Well, when I have seen errors because of ``compiler.libcxx`` differences, they are mostly link errors about the cxx11abi of std::string, not a missing library one, so not completely sure about that is the root cause.

Instead, I suspect that the double Conan usage could be related. It seems that the recipe calling ``build()`` which is calling the ``CMakeLists.txt`` of the library, wh

[2022-04-15 10:39] maikelvdh opened #11035 "[feature] Ability to identify if binaries can be executed on a particular platform"
Typically there is made use of `tools.cross_building(self.settings)` to identify that for example test binaries can't be executed on a particular platform. Though this particular solution is not really sufficient to handle for example the case of running on a macOS with Apple Silicon (M1) chipset, as in that particular case you can execute both x86_64 and armv8 binaries without any issue (even wit

[2022-04-15 10:43] memsharded commented on #11034
Hi @initlifeinc

If you don't specify the ``--all`` or the ``-p=packageID``, it will only upload the recipe. Are you seeing a different behavior when running ``conan upload`` without the ``--all``?

Also regarding the ``--force``, I guess you are not using revisions yet? If you are using revisions, what is the use case of forcing?

[2022-04-15 10:59] memsharded commented on #11032
Hi @aarangop

Some initial quick feedback while checking the issue:

- You are packaging too much garbage that you likely don't want. I guess it is just for the simplification of the recipe, you are doing a ``self.copy("*")``, but just in case, be aware that it is packaging all the temporary build files. It is also packaging both the Debug and Release flavors of the lib, irrespective of the Conan

[2022-04-15 13:15] friendlyanon commented on #10900
I guess what I'm missing is very clear step-by-step guides for scenarios like the case I presented (just using Conan to fetch deps and spit out the files for CMake to use) and how get more involved with Conan.

It would be terrific if I could just link people wishing to contribute to a Conan and CMake managed project in the [contribution docs](https://github.com/friendlyanon/cmake-init/commit/7a0e

[2022-04-15 13:20] boussaffawalid commented on #10905
this is the same issue as https://github.com/conan-io/conan/issues/11030
I tried this fix https://github.com/conan-io/conan/pull/10046/files and it resolved the issue.

[2022-04-15 14:48] thorntonryan commented on #8626
@samuel-emrys  and @memsharded , I've got an example repo setup here to illustrate our approach to having conan packageable pip venv based utilities:
https://github.com/thorntonryan/conan-pyvenv

It requires CMake and Ninja and I've only tested it with MSVC compiler

_But I think the project is simple enough to illustrate the point of our approach_

We haven't moved to the new `cmake_find_package`

[2022-04-17 03:46] playgithub opened #11036 "[question] How to show dependencies including different build types for the same lib?"
conan recipe
[code]

conan profile
[code]

After `conan install`, both static and shared builds of openssl are installed, I want to know every dependecy including different build types (e.g. static/shared) for the same lib, `conan info .. --graph=file.html` show nothing about build type, any way?

[2022-04-17 09:44] mohamedAlaaK opened #11037 "[question] using cmake.install() in package() will do another unnecessary compilation"
Hello,

Consider this part of conan file

[code]

When we run the conan build command a compilation would be done in the build folder
Then running conan export-pkg would do another compilation because cmake.install() is called with ( i think different sources )

Is there a way to use the existing build folder in the package() method to do cmake.install() ? or do you have another solution to the pr

[2022-04-17 12:49] mohamedAlaaK commented on #11037
I worked around the issue by making the package() method look like this
[code]
This will install to the package folder without making another compilation. But of course it's not the cleanest solution out there.

[2022-04-17 19:16] franramirez688 commented on #11024
I guess the easiest way is to omit it. Another option could be if it's already set in the user profile, could we inject that one?

Yeah, I meant directly adding it to the `.vcxproj ` file.

[2022-04-18 02:37] initlifeinc commented on #11034
@memsharded
Thanks to reply, I finally find the reason why it still upload binary packages is that i specify `-q` to only upload the corresponding conan recipes(I hope do it but actually it makes conan upload command to upload with packages...) which is just built on CI machine.

I ever thought `-q` is to query all recipes and packages in the first step, only the result after query will be calcula

[2022-04-18 05:26] pbinne opened #11038 "[question] SHORT DESCRIPTION"
While trying to load ITK package into my project by using Conan Package Manager.
I'm facing the below issue
[code]
I followed all the steps mentioned in [Using the itk Conan Package](https://conan.io/center/itk?tab=recipe).

[2022-04-18 08:43] #11036 closed, assigned to nobody

[2022-04-18 10:24] czoido commented on #11038
Hi @pbinne,
I can't reproduce the issue with latest Conan in MacOS following the instructions in the _Use It_ tab. I have made a test using a project with this structure, could you check if that works for you following the steps in the end of the message?:

[code]

**CMakeLists.txt**:

[code]

**conanfile.txt**:

[code]
**main.cpp**:

[code]

Running these commands:

[code]

Could you please provi

[2022-04-18 10:30] hwhsu1231 opened #11040 "[question] Will `conan install` command modify the `PATH` environment variable in the current shell?"
I noticed that there are some messages when running `conan install` command:

[code]

What is the purpose of these messages? Does it mean that Conan will append those `bin` directory to the `PATH` environment variable in the current shell? But I've tried to use `echo %PATH%` to print it out after installing. It didn't show those directories.

![image](https://user-images.githubusercontent.com/7143

[2022-04-18 10:38] pbinne commented on #11038
This example works for me as well but when I tired running the below example I got that issue.

[code]

[2022-04-18 10:46] czoido commented on #11038
Hi @pbinne,
I think that issue is not related with Conan, it could be that there's some problem in the recipe and that header is not package based on some option or maybe that header is not available in the itk version that's available in Conan Center. I'm tranferring this issue to the Conan Center repository as this is not a Conan issue but something related to the recipe.

[2022-04-18 10:57] czoido commented on #11040
Hi @hwhsu1231,

Those messages do not come from Conan itself but from the Conan recipes in Conan Center, please check: https://github.com/conan-io/conan-center-index/blob/28818cbc07c4b42415a19c310dcac36f7b48f8d7/recipes/bzip2/all/conanfile.py#L123
I guess the intention is just to highlight that those paths will be added to the PATH when consuming those recipes. It will not modify the PATH after th

[2022-04-18 12:12] hwhsu1231 commented on #11040
@czoido,

I was thinking that we need to find **DLL** files on Windows when adding `xxx:shared=True` option. Although Conan provides **[imports](https://docs.conan.io/en/latest/reference/conanfile_txt.html#imports)** section in `conanfile.txt` or `conanfile.py` to copy those DLL files to where our executables locate, is it possible to use `PATH` to find thoses DLL files without doing this copying

[2022-04-18 12:23] czoido commented on #11040
Yes, you could use the VirtualRunEnv generator, to generate scripts that will add those paths to the PATH and after sourcing those generated scripts the system will find the dll's for those libraries, please check the [VirtualRunEnv documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/env/virtualrunenv.html) for more detailed information.

[2022-04-18 13:03] serghov opened #11041 "[bug] Cross compiling to bare metal targets does not work with CMakeToolchain"
Conan has os == 'Arduino' type for bare metal compilation, however when generating a project with CMakeToolchain generator and a bare metal compiler cmake fails on compiler check stage.

[code]

Here is the profile I am trying to write for bare metal compilation

[code]

The solution would be for conan to add `set(CMAKE_TRY_COMPILE_TARGET_TYPE STATIC_LIBRARY)` to conan_toolchain.cmake while genera

[2022-04-18 13:10] uilianries commented on #11035
It's true you don't need to invoke Rosetta manually on M1 to execute x86_64, but still, the architecture is not the same and Mac will run Rosetta 2 dynamically, which has some loss of performance. I could use QEMU on Linux and say the same thing, but still, is not optimized.

I disagree adding such feature because any possible incompatibility error when executing an app, will result result someone

[2022-04-18 16:18] czoido commented on #11041
Hi @serghov,
Thanks for the suggestion, we will check if that case is worth adding to the CMakeToolchain generator.
Anyway, you could use the `tools.cmake.cmaketoolchain:toolchain_file=<filepath>` configuration to use your own toolchain and set that variable in CMake. Please, [check the Conan documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#using-a

[2022-04-18 18:31] izzyreal commented on #4523
I too would like to be able to say
[code]

I'm trying to make my `CMakeList.txt` files Conan-agnostic. Is this possible without `generators: cmake_find_package` support?

[2022-04-18 19:21] memsharded commented on #11034
Hi @initlifeinc

Yes, that would explain it. The ``--query`` is a query over binary parameters, selecting package binaries. When the query argument is provided, it will upload those binaries. The behavior that you are copying in code has evolved in Conan 2.0 to:

[code]
Which means that if the query cannot find any binary, it will raise a hard error, being more explicit about the intent.

Is it cl

[2022-04-18 19:29] memsharded commented on #11037
Hi @mohamedAlaaK

Yes, I think all of this has been improved with the modern Conan ``layout()`` and the new integrations ``CMakeToolchain``, ``CMake``, etc. You can try it with the ``conan new hello/0.1 --template=cmake_lib`` template. For example, the new ``from conan.tools.cmake import CMake`` implementation is basicaly the ``cmake --install`` that you are doing.

[2022-04-18 20:28] memsharded commented on #11041
I think that for Conan 2.0, ``Arduino`` shouldn't be a first level "os", but a subsetting of "baremetal"

[2022-04-18 20:33] memsharded commented on #11035
I don't dislike being able to run things that are cross-built in platforms that allow it, and it seems this feature could make sense.

A different story is if we want to cross-build and/or cross-execute in ConanCenter. I see a point if that execution subsystem is not rock solid, as any potential error will result in further undesirable broken builds, support, tickets, discussions, etc in ConanCent

[2022-04-18 20:36] boussaffawalid commented on #11037
You need to set this cmake variable
https://cmake.org/cmake/help/latest/variable/CMAKE_SKIP_INSTALL_ALL_DEPENDENCY.html

[2022-04-18 20:36] memsharded commented on #4523
Hi @izzyreal

Yes, it is very possible to make CMakeLists.txt totally Conan agnostic. Using the new build system integrations in https://docs.conan.io/en/latest/reference/conanfile/tools.html, you can achieve that. Get a fully working example with ``conan new hello/0.1 --template=cmake_lib`` template.

A different story are the workspaces, they have been put on hold in 1.X for a long time, and the

[2022-04-18 20:38] memsharded commented on #11024
Ok, so good for me:

- the toolset can be omitted if loaded from Conan one, lets try it
- Good, add the toolchain.props to the .vcxproj file directly

[2022-04-18 22:40] memsharded commented on #11032
I have done a review to your repo in https://github.com/aarangop/simconnect_packaging_working_example/pull/1

[2022-04-19 00:12] SeanSnyders commented on #10929
Definitely needing on this change, as old CMake `add_definitions` used in the CMakeToolchain cannot handle strings properly for the value of the definition.

[2022-04-19 01:24] hwhsu1231 opened #11042 "[feature] Provide `conanrun.env` file when using `VirtualRunEnv` generator."
I use VSCode with [CMake-Tools](https://github.com/microsoft/vscode-cmake-tools) plugin to write/debug the CMake project. After the executable is generated, it needs to find those **DLL** files on Windows when using `xxx:shared=True` option. If we don't want to use **[imports](https://docs.conan.io/en/latest/reference/conanfile_txt.html#imports)** section to copy those DLL file to where executable

[2022-04-19 01:37] hwhsu1231 commented on #11042
I manually copy the `PATH` environment setup from `conanrunenv-debug-x86_64.bat` to `conanrun.env`, and it works **"successfully"** without using **imports** section to copy those DLL files.

![image](https://user-images.githubusercontent.com/71438617/163902707-d99372a1-1d4c-4720-80b0-344d283fdb2b.png)
![image](https://user-images.githubusercontent.com/71438617/163902606-55715a0a-281e-4a3f-b9be-37

[2022-04-19 01:42] SeanSnyders opened #11043 "[bug] Support complex strings as definitions in CMakeToolchain"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

As per https://github.com/conan-io/conan/issues/10929, CMake now requires `add_compile_definitions()` instead of `add_definitions()` but Conan still does not support correct formatting of the definition construction when strings are complex and contain spaces and/or escaped string quo

[2022-04-19 01:42] SeanSnyders commented on #10929
Further investigation seems that there is some support lacking from Conan still to be able to handle complex string situations:
https://github.com/conan-io/conan/issues/11043

[2022-04-19 01:45] SeanSnyders commented on #11043
A better approach to my workaround would be to create my own extension Block in the CMakeToolchain, but this support should probably be a native support by Conan.
Can this be viewed as a bug especially due to the `Variables.quote_preprocessor_strings()` method in Conan?

[2022-04-19 01:57] bogado commented on #9695
Thanks 👍🏻

[2022-04-19 04:01] GregDomjan commented on #11031
Thanks for the directions @memsharded
I had installed conan in 2020 to experiment and only started to look again recently, had used the msi upgrade but don't recall the original install type.
Had not noticed that per-user config had a `settings.yml.new` for changes to `settings.yml`

[2022-04-19 04:01] #11031 closed, assigned to nobody

[2022-04-19 04:30] SeanSnyders commented on #11043
Please test with:
[code]

Using current implementation from https://github.com/conan-io/conan/issues/10929 (slated to be released as part of Conan 1.48.0 and which uses CMake `add_compile_definitions()`), it gives with `apple_clang` and CMake 3.19.4:
[code]
which results in error:
[code]

The Conan `Variables.quote_preprocessor_strings()` code from https://github.com/franramirez688/conan/blob/874a

[2022-04-19 04:52] izzyreal commented on #4523
Thanks @memsharded, I will try your suggestions.

However, if workspaces are removed from 2.0, is there a new umbrella concept so I can arrange editables into a single workspace?

[2022-04-19 05:32] hwhsu1231 commented on #11042
I found this issue, which might be related to mine:

- https://github.com/conan-io/conan/issues/8714

I'm confused that **"Does Conan already have other features to generate `.env` file?"**

[2022-04-19 05:54] AndreyMlashkin commented on #4753
This issue was reported in 2019 and it seems, it will be long time "known issue".
I think, it is time to document it.

https://docs.conan.io/en/latest/versioning/introduction.html
'Version and configuration conflicts' section should include information about this limitation

[2022-04-19 07:33] memsharded commented on #4523
Not initially, but there will be custom Conan user commands, that you can implement, install with ``conan config install``, and that will be able to access a public Python API. It will be very possible to code a customized equivalent, but very customized at your will, with few lines of code. Note that ``editables`` in 2.0 have gained new possibilities, like being able to build themselves, in order

[2022-04-19 07:34] memsharded commented on #11031
Yes, an installation from 2020 would explain it, thanks for following up!

[2022-04-19 07:39] memsharded commented on #11042
Yes, we have been prioritizing so far the terminal usage and the core Conan integration, being correct over the environment activation. Integrations with the IDEs is still to be checked for the new environment, and it makes sense to have some feature that generates .env files (maybe besides the .sh/.bat ones). I have annotated it for discussion shortly after 2.0. In the meantime, I think it is rel

[2022-04-19 07:53] memsharded commented on #11022
This sounds promising. Is there a way to run a conan user command to determine whether the user is currently authenticated? I couldn't find a way, but perhaps I missed something.

You are right, there is no way that a stored token could be validated without requiring entering credentials again.
I'll add this for discussion (for 2.0 scope, new features are very unlikely to happen now in 1.X), as I

[2022-04-19 08:01] memsharded commented on #10900
Yes, that is true. We are in the process of creating whole new docs for Conan 2.0, and they are more tutorial-like, with more examples, etc.

[2022-04-19 08:01] izzyreal commented on #4523
Thanks again for the clear and elaborate info @memsharded 👌

[2022-04-19 08:01] Lyvsain opened #11044 "[bug] Two profile approach on build_requires"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04 on WSL 2
  * Compiler+version: gcc version 9.4.0 (Ubuntu 9.4.0-1ubuntu1~20.04.1), --with-arch-32=i686 --with-multilib-list=m32,m64,mx32 --enable-multilib
  * Conan version: 1.43.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Conan profile x86
[code]
- Create a proje

[2022-04-19 08:12] hoxnox commented on #4480
There is another problem with exelinkflags workaround. Libraries can be dependent on the other libraries, which are in the regular cpp_info.libs. So when cmake discovers compiler capabilities it can't link sample programs  - exelinkflags is set, but libs is not.

I'm stuck with the problem on dpdk. It requires whole achive.

[2022-04-19 08:19] uilianries opened #11045 "[bug] is_msvc is not supported by Conan 2.0"
The [is_msvc](https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#conan-tools-microsoft-is-msvc) helps to detect between `Visual Studio` and `msvc` compiler, however, on Conan 2.0, only `msvc` is available, which makes that tool method impossible to be used:

[code]

As it's a new tool, it could be adapted to work with both Conan 1.x and 2.x. Otherwise, it would be necessary r

[2022-04-19 08:19] memsharded commented on #11044
Hi @Lyvsain

I'd recommend using the 2 profiles approach, like ``conan install --profile:build=mygccx86_64 --profile:host=mygcc86``.
Said that, this might be a recipe issue, in that case we want to move it to conan-center-index repo.

[2022-04-19 08:19] lasote commented on #10648
@lpapp Just to clarify, the `CMakeToolchain` sets the `CMAKE_PREFIX_PATH`, both to the `generators folder` to locate any `XXXConfig.cmake` file there and to the`cpp_info.builddirs` declared at the dependencies.

Said that, there is a difference between Conan 1.X and Conan 2. In Conan 1.X even if `["."]` (root of the package) is declared at the `cpp_info.builddirs` of the dependencies, it will be s

[2022-04-19 08:21] memsharded commented on #11045
Have you updated to latest Conan 2.0-alpha? The current implementation is:
[code]
so it shouldn't raise anymore.

[2022-04-19 08:23] lpapp commented on #10648
Does that mean with conan 2, we would need an extra step that we have not needed with conan 1? If so, I feel that that would need to be properly justified as one extra step is typically not a good UX. But there may be a good reason for it.

[2022-04-19 08:25] #10956 closed, assigned to lasote

[2022-04-19 08:27] lasote commented on #10648
yes, I think there is a good reason, explained here https://github.com/conan-io/conan/issues/10648#issuecomment-1049137758
The recommended way is to set the ".cmake" files that want to be located into a subfolder and declare it. e.g `self.cpp_info.builddirs = ["cmake"]`.

[2022-04-19 08:50] skyhhh666 opened #11046 "[bug] from conan.tools.files import rename ModuleNotFoundError: No module named 'conan'"
cd build
conan install .. --profile=default --build=missing
### Environment Details (include every applicable attribute)
  * Operating System+version:Win10
  * Compiler+version: compiler.version=16
  * Conan version:1.29.0
  * Python version:3.8.5
os=Windows
os_build=Windows
arch=x86_64
arch_build=x86_64
compiler=Visual Studio
compiler.version=16
build_type=Release
### Steps to reproduce (Include

[2022-04-19 08:58] hoxnox commented on #4480
In my case it was acceptable to treat all these dpdk stuff as one lib:

[code]

[2022-04-19 09:30] derived-coder commented on #11027
@memsharded
1. I understand that conan already uses under the hood two profiles and thats fine. But what do you think about my compromise for a new simplified CLI for cross compiling?

2. Okay understand.
3. I still don't get it 😇 Maybe it would be helpful to show/create a template recipe for a toolchain (once and for all) and how it should be created. I asked for it here : https://github.com/cona

[2022-04-19 10:52] #10885 closed, assigned to franramirez688

[2022-04-19 11:03] aarangop commented on #11032
Hi, thanks for the feedback! I will slim down the recipes with my actual code. I'll give it a try with CMakeDeps, which I saw is part of what you reviewed in the repo. As I mentioned, I can get things to work, I just can't link to the simconnect_package library, if there are any news on that front I'll be interested to know about them, I'll see if I can keep an eye open.

...And thanks for the wor

[2022-04-19 11:20] uilianries commented on #11045
Yes, I'm running 2.0.0a6.

Let me check again, because I running both version 1.x and 2.x here.

[2022-04-19 11:22] uilianries commented on #11045
True, indeed it only checks msvc compiler. It should be a cached version.

The current implementation is listed here: https://github.com/conan-io/conan/blob/develop2/conan/tools/microsoft/visual.py#L187

[2022-04-19 11:22] #11045 closed, assigned to memsharded

[2022-04-19 12:33] cr-dani-koretsky commented on #11033
Hi @memsharded !

All of your points are valid and good ideas.
I think any improvement to "conan killed dont break all future conans" would help.

You are correct that PIDs could get re-used.

Let me know if I understood correct, the flow you are describing:

1. Conan ran with PID X and killed/crashed
2. Other processes grab same PID

Wouldn't the following avoid all of these problems?

1. On cona

[2022-04-19 12:39] cr-dani-koretsky opened #11047 "[bug] conan ignores HOME env var -> uses %userprofile% on windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 20H2 build 19042.1586
  * Compiler+version: Visual studio 2017 (not relevant for the bug)
  * Conan version: 1.44.1
  * Python version: 3.10.1

### Steps to reproduce (Include if Applicable)

1. Set env var HOME to some arbitrary path like 'C:\\MyName\\home'
2. Execute a conan install command
3. Comm

[2022-04-19 12:47] lasote commented on #9412
@jblort we are trying the `wget` command and it is working ok. Which OS are you using? any hint? thanks.

[2022-04-19 12:59] ghost commented on #9412
@lasote Hello! I'm using Ubuntu 20.04, and wget with the following version info for what it's worth: `GNU Wget 1.20.3 built on linux-gnu.`

In the meantime I've managed to circumvent that problem within conan by setting `revisions_enabled=1` under the general settings of my `conan.conf`. It looks like it downloads a different package so I'm wondering if there isn't an issue particularly with this

[2022-04-19 13:07] lasote commented on #10579
Let's enable the pattern `foo*/1.2@` (ended with @) both in upload and remove to specify "no user no channel".

[2022-04-19 13:22] lasote commented on #10643
Let's try to use `self.exports_sources_folder`, this variable already exists to point to the cache during and export.

[2022-04-19 13:31] SSE4 commented on #11035
also, as I understand, this move could be a temporary. e.g. previously, Rosetta allowed to execute x86 (32-bit) and PowerPC binaries on x86_64 machines, but eventually Apple has removed that support completely, as x86_64 Apple machines became more wide-spread than x86(32) and PowerPC. actually, it lasted only OS 3 releases (from 10.4 to 10.7) that time.

[2022-04-19 13:39] #11037 closed, assigned to memsharded

[2022-04-19 13:43] lasote opened #11048 "[bug] Check "lib" orders in AutotoolsDeps"
Use `.host.topological_sort` to iterate the deps.

[2022-04-19 13:44] hwhsu1231 commented on #11042
@memsharded May I ask, you add this issue to the 2.X milestone, will this feature be added in Conan 1.X, recently?

[2022-04-19 13:46] lasote commented on #11013
Let's try something like https://github.com/conan-io/conan/pull/11039

[2022-04-19 13:49] lasote commented on #11043
Related https://github.com/conan-io/conan/pull/11039

[2022-04-19 15:27] #10349 closed, assigned to nobody

[2022-04-19 15:28] bartiszosti commented on #10349
still unsolved.

[2022-04-19 15:31] KarrokDC opened #11049 "[feature] Explicit patch() step addition for OSS Legal clearing"
Conan currently defines a source() and a build() step (among others). But no separate patch().

This means that currently patching is either done in either the source() or build() step. This is inconsistent between recipes.

The issue this brings forward comes from OSS clearance processes within companies. For this process we need to provide the fully patched sources (without build artifacts).

If

[2022-04-19 15:37] apteryks commented on #10759
That's not just a problem for Conda but for any distribution that globally need to ensure the Python packages can work together at the system level, such as GNU Guix or Debian. For what it's worth, the test suite passes with PyYAML 6.0.

[2022-04-19 15:45] lasote commented on #9412
Thanks @jblort! No luck, I tried on docker with that specific ubuntu version and verified same `wget` version with same result. Also the `conan install` command :(

[2022-04-19 15:53] memsharded commented on #9412
In both cases it should download the latest revision, so the possibility is that some PR created a new revision in the server and is no longer failing. Can you please @jblort try again without revisions, and verify it is still failing on your side?

[2022-04-19 16:11] ghost commented on #9412
Ok I just retried without revisions and it completed without error when running `conan install android-ndk/r21d@`. The ID of the package I downloaded matches the one that had an issue before, but it seems fine now... :thinking:

[2022-04-19 16:40] memsharded commented on #9412
Yes, that is the annoying thing about this kind of errors involving networking, they are really difficult to reproduce...

[2022-04-19 17:15] memsharded commented on #10219
We have been discussing this, and a some other related things have changed.

First, the most important point is that using the 2 profiles approach, it doesn't make sense to have the same ``tool_requires`` defined both in the host and the build profile. For example ``cmake/3.19`` is a tool require that you want to apply to the "host" context, but not necessarily to other tools in the "build" contex

[2022-04-19 18:10] memsharded commented on #11049
Hi @KarrokDC

This happens because there are 2 different ways to apply patches, not one, and both are reasonable use cases:

- Patching in ``source()`` method happens when the sources receive the same patches for all different configurations. As the contents of the "source" folder in the cache is just one, patches are applied to the source
- Patching in ``build()`` method is necessary when differe

[2022-04-19 19:57] MICGRAND opened #11050 "[question][suggestion] How to exchange data between all builded packages process (Related to Very slow version range resolving)"
Hello Everybody,

As many conan users, we are facing on big latency to resolve version range with conan and Artifactory (5 to 10mn and more when we have 5 or 6 levels of nested packages (~100).
Many topics exist for this issue but all workaround don't fit our way to work. (eg: https://github.com/conan-io/conan/issues/1373)

From my side, I have implemented a workaround which consists to implement

[2022-04-19 20:20] memsharded commented on #10298
Update: team keep working on this, now with a new approach that seems to be definitive, so it is planned that some of the next Artifactory releases will improve and fix this.

[2022-04-19 20:21] memsharded commented on #11050
Hi @MICGRAND

This solution could be generalised in conan to save time.

I am very interested about this. Conan does already cache the server packages, to not query the server more than once. But it does it for one Conan execution, do you mean that you keep reading that file subsequent invocations?
We did think about this approach some time ago, but it has the obvious challenges of cache, cache in

[2022-04-19 20:26] memsharded commented on #11035
Yes, if the OSX support for this might be changing, dropped, etc., then trying to have something robust in Conan can be a maintenance burden and source of bugs and support tickets. And if support for x86(32) lasted only 3 releases, is not looking good...

[2022-04-19 20:31] memsharded commented on #11046
Hi @skythj

This is not a bug. You are using an older Conan version (1.29) that has not implemented this tool yet (that version is like 2 years old). If you are using an older version, select that version in the bottom-left corner of the docs.

So unless there is something else, I think we can close this ticket, thanks.

Edit: Also, if you are using packages from ConanCenter, like ``boost/1.73.0``

[2022-04-19 20:31] #11046 closed, assigned to nobody

[2022-04-19 20:52] MICGRAND commented on #11050
Hi @memsharded ,
I'm not sure that we talk about the same things. So, don't hesitate to correct me if I'm wrong.

I do only one invocation of conan (Example: conan create) but when I do this call, it  take many time to solve version range at any nested level and for whole version range packages.
What I understood is that cache is used to store needed package but it doesn't store the latest existin

[2022-04-19 21:19] psarka opened #11051 "[bug] emscripten minimal example for embind fails when compiled with conan"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.4 LTS
  * Compiler+version: clang version 10.0.0-4ubuntu1
  * Conan version: Conan version 1.47.0
  * Python version: Python 3.8.10

### Steps to reproduce (Include if Applicable)

I created a [repro](https://github.com/psarka/repro/tree/embind) repository (make sure the branch is embind). It co

[2022-04-19 21:41] memsharded opened #11052 "[feature] conan list packages not allow "latest" for remote"
Found this while debugging this test:

[code]
For some reason, in the local cache the ``#latest`` revision works, but not in remote, this was super confusing.

[2022-04-19 21:44] memsharded commented on #11050
In theory it shouldn't. Conan stores in memory this information, so not needing to query the server again for same package version range. But I will definitely re-check, if you are seeing that behavior there might be some bug in the caching system.

[2022-04-19 23:07] memsharded commented on #11050
I am testing this, it seems to be working and caching things fine.
Check this test for example:

[code]
For every package name it will only query servers once.

So it doesn't seem to be that the reason of being slow, but something else. Is the server a local Artifactory repo? Are you doing a virtual with a remote proxying ConanCenter (because ConanCenter can be slow at resolving too)? Maybe if you

[2022-04-19 23:19] KarrokDC commented on #11049
First off, thanks for the elaboration.

The patched sources are a legal requirement for using OSS (at least that is what legal tells us ;-) ), in most cases, OSS requires the developer to provide the actual sources that were used for the binaries in their product, to check whether the licenses are properly adhered to. This includes a traceable process of applied patches (if any). A clean, patched

[2022-04-19 23:42] memsharded commented on #11049
This is not true for many of the most common licenses like MIT, and other permissive ones. For the ones that are not that permissive, like GPL, they are usually so problematic that they are avoided, because it doesn't imply that you should provide the patches, but you should also make your own source code open source with the same GPL license.

I think that gathering the Conan recipes that are use

[2022-04-20 00:42] KarrokDC commented on #11049
GNU (A)GPL has conditions where source disclosure is required
LGPL has requirements to add notifications of modified sources.
Apache requires notifications on modified files
CDDL has an explicit distribution obligation and notice requirement

GPL by default is indeed unusable for any commercial projects.

I think I will see if the conan recipe, and maybe a lock file would indeed provide enough inf

[2022-04-20 01:31] skyhhh666 commented on #11046
@memsharded
ok , thanks, i updated 1.49,then  solved this problem, but i have a question, conan 2.0+ compiler doesn't have Visual Studio?

[2022-04-20 01:46] SeanSnyders commented on #11043
Also probably have to look into how `ConanFile.cpp_info.defines` handles the situation and support complex strings there as well.

[2022-04-20 07:15] memsharded commented on #11046
conan 2.0 has ``msvc`` compiler. Conan 1.X also provides it, in order to allow a smoother upgrade. You need to use the new build system integrations first (``from conan.tools.cmake`` for example) and then switch to ``msvc``

[2022-04-20 08:01] memsharded commented on #11049
Yes, I think this would be very complicated to be managed in the package creation flow, because there is no infrastructure for this (no folder in the cache, no location in the server, no protocol to handle the patched sources storage...). But I think there are other alternatives to implement a solution, for example:

- You can add an ``option`` to recipes, like ``sources: [True, False]`` (by defau

[2022-04-20 08:01] #11049 closed, assigned to memsharded

[2022-04-20 08:09] memsharded commented on #11032
Sure, but please note there is a difference in getting something that works, and following some good practices that will really help you scale faster and more easily, with less work. In your repo there were some things that aren't best practices, and that can easily come back to you to bite you later in ways you don't expect. If you want to know more about those, feel free to respond to my PR to y

[2022-04-20 08:26] memsharded commented on #11047
Hi @cr-dani-koretsky

The HOME variable is not defined in Windows, the default is to use ``%userprofile%``: https://superuser.com/questions/607105/is-the-home-environment-variable-normally-set-in-windows

So this doesn't seem a bug, but working fine, as designed.

[2022-04-20 10:17] lasote commented on #10579
I checked and it is very risky to fix this in 1.X it will change the behavior too much and we would break some users.
I'll take a look for 2.0

[2022-04-20 10:32] bukulin opened #11056 "[question] conan forgets authentication"
Hi,

I've recently updated conan client to 1.47.0 and jfrog artifactory CE to 7.37.14.

With this setup conan client keeps forgetting authentication to the jfrog artifactory server just in a few hours. With previous versions (conan/1.44.0, artifactory/7.29.8) this time period was around 30 days. Is this behavior expected? If so, how can I extend the timeout?

- [x] I've read the [CONTRIBUTING guid

[2022-04-20 10:50] SSE4 commented on #11035
the suggestion might be to implement an external configuration for cross-building function. maybe just a single boolean value within profile (or conf) that overrides the result of `tools.cross_building`. as there are other similar cases (e.g. https://github.com/conan-io/conan/issues/10923) when conan's built-in logic is not suitable enough.

[2022-04-20 10:55] SSE4 commented on #10955
@memsharded please tell us if you need anything else to make a decision. I can collect all the needed information about various `clang` flavours on Windows, as I have all of them installed.

[2022-04-20 11:05] lambtonr commented on #11025
Hi @memsharded

Sorry for the late response, was away for the long weekend.

As to answer you questions first:
- I am not try to contribute these packages to the ConanCenter, the ones i am currently having these problems with are a proprietary code base (hence making the example). There are a few upcoming 3rd party libraries that i will be making recipes for that if permitted, and there is interes

[2022-04-20 11:17] memsharded commented on #11056
Hi @bukulin

This is not related to the Conan client, but to possibly something related to Artifactory. The Conan client never expires the auth tokens, only the server side does that. Maybe some Artifactory resource like this could help: https://www.jfrog.com/confluence/display/JFROG/Access+YAML+Configuration

[2022-04-20 11:41] bukulin commented on #11056
Hi @memsharded

Thank you for the clarification!

[2022-04-20 11:46] czoido commented on #11043
Hi @SeanSnyders,
I have [opened a PR](https://github.com/conan-io/conan/pull/11057) that I think solves the issue with this, can you please check if that solves your issue?

[2022-04-20 11:47] memsharded commented on #11056
No prob, please let us know if you find solution in https://www.jfrog.com/confluence/display/JFROG/Access+YAML+Configuration, or otherwise feel free to re-open or comment and we will try to help. Thanks!

[2022-04-20 11:56] kulleradam opened #11058 "[question] How to generate CONAN_<PKG-NAME>_ROOT with CMakeToolchain"
I try to replace `cmake_paths` generator with `CMakeToolchain` in my project, but most of my dependencies were patched with `cmake.patch_config_paths()` so the absolute path in cmake files was replaced with `CONAN_<PKG-NAME>_ROOT`.

Is it possible to generate `CONAN_<PKG-NAME>_ROOT` variables for the dependencies with `CMakeToolchain` or `CMakeDeps` to solve this issue?

- [x] I've read the [CONTR

[2022-04-20 12:24] bukulin commented on #11056
I've read the documentation and I am uncertain what an "internal" token means. Is that for the authentication among the microservices in the artifactory server OR is that related to the client authentication tokens? Anyways, I've increased the `token.default-expiry-internal` to 86400 to see what happens next.

I am not sure if I shall change the `token.revocation.revocable-expiry-threshold` and/or

[2022-04-20 13:05] memsharded commented on #11035
It cannot be a conf to alter the ``cross_building`` result. We still want to have the ``cross_building()`` to return ``True`` when building x86_64 in M1 computer, but still we want something else to tell that we can indeed run the binary (Note that the logic used now in recipes is ``if not cross_building(): run...``

So the only possible reasonable alternative I see at this moment is:

- Add a ``c

[2022-04-20 13:10] SSE4 commented on #11035
yes, I support that direction

[2022-04-20 15:07] lasote opened #11062 "[feature] profile plugin check cppstd correctness"
The default profile plugin should validate the specified `compiler.cppstd` to check if the specified compiler (with the specified compiler version) support it. The default profile can be found at the `_load_profile_plugin` function at `profile_loader.py`.

[2022-04-20 15:22] lasote commented on #6157
For alpha7 we are trying to implement a mechanism for the compatibility.py for the `cppstd` so other binaries (starting from lower to higher cppstd version, so lower compatible is preferred) are searched if the current configuration is missing.
The default profiles for Conan 2 contain the `compiler.cppstd`.

[2022-04-20 15:22] lasote commented on #11003
related https://github.com/conan-io/conan/issues/11062

[2022-04-20 16:12] NightWulfe opened #11064 "[question] Conan Search fails with error "invalid version number: '1'""
Running `conan search` is fails with error "Invalid version number: '1'". I think this may be related to #10473?

If there's some configuration option I'm missing, I apologize. Conan is still pretty new to me. My conan.conf file is the default except for `storage.path` (See below).

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11 (21H2, OS Buil

[2022-04-20 16:16] vdsbenoit commented on #7016
Many of our projects CI went down after zlib package got upgraded to 1.2.12. I think the context was quite similar to this issue, except here we are not impacted by version ranges but by new a recipe revision.

Let's define this minimal example project :

[code]

`doxygen` depends on `xapian-core`, which depends on `zlib`.
`libBar` depends on some other libs from Conan Center which depend on `zlib

[2022-04-20 16:20] memsharded commented on #11064
Hi @NightWulfe

Yes, this is likely a misconfiguration because of the ``short_paths`` feature, and using the storage path in the same location that ``short_paths`` will store its packages. To solve it, clean your caches and configure it:

- Remove the E:\.conan and possible C:\.conan folders
- Remove the userhome/.conan folder
- Set the storage.path to other folder rather than X:\.conan
- Try agai

[2022-04-20 16:59] memsharded commented on #11058
Hi @kulleradam

No, ``CMakeToolchain`` doesn't have anything like that (``CMakeDeps`` is irrelevant here, because I assume you are trying to use your xxx-config.cmake files packaged inside the packages, aren't you?)

The thing is that it shouldn't be necessary anymore with the modern integrations. ``CMakeToolchain`` will add the paths to the packages directly in the CMAKE_ variables (like CMAKE_PR

[2022-04-20 17:14] SSE4 commented on #10351
it's C++ only, right? probably we also need:
[code]
and maybe also:
[code]
for Objective-C/Objective-C++ sources on macOS?

UPD: but anyway, I would vote for higher-level abstraction. this might not work for older GCC, and for sure it won't work for MSVC.

[2022-04-20 17:54] NightWulfe commented on #11064
Thank you, @memsharded. You pointed me in the right direction. I misunderstood the documentation for `user_home_short`. Is "current drive letter", in the documentation for `user_home_short`, selected when I run `conan install`, or is it selected from the `storage.path` configuration option?

Regardless, I set `user_home_short` to `None` to disable short paths entirely. If this becomes a problem I

[2022-04-20 18:53] Minimonium commented on #11056
Can confirm. After the latest update if I build multiple big dependencies the auth fails mid-flight. Only can be solved by using `conan user -c` since it says that the user is already authenticated otherwise.

[2022-04-20 21:10] memsharded commented on #11025
Hi @lambtonr

Happy to know that you found a solution.

I would also like to take the chance to suggest some good practices and other suggestions:

- For your own libraries, it is probably better to handle them with a ``conanfile.py`` in the same repo that contains the source code. That simplifies the flows and the maintenance.
- I don't love the ``conan.cmake`` integration. I known calling Conan

[2022-04-20 21:16] memsharded commented on #9608
Yes, I think this is the reason, maybe @czoido can confirm

[2022-04-20 21:22] ericriff opened #11065 "[bug] tools.get() errors out if strip_root=True on some tarballs, likely due to hardlinks"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20
  * Compiler+version: -
  * Conan version: 1.47.0
  * Python version: 3.8.10

I'm trying to package the precompiled toolchain that arm provides on their website
[code]
Since Conan can't resolve the redirection (https://github.com/conan-io/conan/issues/9036) I'm using this link instead as sources:
[

[2022-04-20 21:37] memsharded commented on #11064
Sure, this is fine, as long as some recipe or library doesn't really need a shortened path, in that case it could fail.

Yes, that is one of the common reasons to change the storage.

Good news is that Conan 2.0 has simplified things, removing the "short_paths" feature completely, so the whole cache will be located in CONAN_HOME, and this "invalid version number: 1" will stop happening. Maybe we c

[2022-04-20 21:39] memsharded commented on #10351
We have feedback to add them to Linux-gcc only at this moment, no need to add them in OSX

The conf goes in the profile, together with the compiler and the compiler version. It is the responsibility of the profile definition to be correct, not adding it if the compiler or the compiler version doesn't support it.

Yes, the flag should also apply to C

[2022-04-20 21:45] NightWulfe commented on #11064
Works for me, thank you.

[2022-04-20 21:45] #11064 closed, assigned to memsharded

[2022-04-20 22:49] memsharded commented on #10900
Hi all,

I am investigating/proposing in https://github.com/conan-io/conan/pull/11066, to define a new conf that says "I am already running inside bash", and that would trigger the creation of .sh files, both for "buildenv" and "runenv"

[2022-04-20 22:58] memsharded commented on #10579
The possibility of defining patterns (for upload, remove, etc) without user/channel has been made possible for 2.0 (to be released in next alpha.7) in https://github.com/conan-io/conan/pull/11060. It was not possible in 1.X, as it was too risky of breaking, complicated.

[2022-04-20 22:58] #10579 closed, assigned to lasote

[2022-04-20 22:58] #10643 closed, assigned to lasote

[2022-04-21 01:42] fittyCent commented on #8983
Same here. Any luck figuring this out?

[code]

[2022-04-21 02:04] fittyCent opened #11067 "Best way to set up conan for multiple subprojects"
### Situation
 - single C++ repo containing 20 projects
 - Builds in MSVS for windows, uses cmake for Linux. Same code base builds for both platforms.
   - There's an msvs solution file connecting all projects in the repo together
 - Trying to find best tools and workflow

### What I have so far for Windows
 - installed conan extension for msvs
 - I have a conanfile.txt for a couple of projects (n

[2022-04-21 04:32] Maziar123 opened #11068 "canon website not available for developer in Iran !"
I am single developer in Iran

I don't under stand why opensource tools such as canon **not available for everyone**  in Iran

I think this is [**"Modern racism"** ](https://pearnkandola.com/diversity-and-inclusion-hub/bias/what-is-modern-racism)

[2022-04-21 06:53] lasote commented on #11068
Hi @Maziar123!

We didn't know, this is the first time it is reported, never happened in any country before.
**Everybody** is very welcome here. Let's investigate what is going on with the infrastructure team and will report as soon I have an answer.

[2022-04-21 06:58] SSE4 commented on #10351
so, why no `tools.build:secure_builds` as it was iniitially proposed?

[2022-04-21 07:08] pustekuchen91 commented on #10913
Today i've got the same Problem: `Specify the 'user' and the 'channel' or neither of them`

Wipe the conan data folder fixed the problem.

[2022-04-21 07:23] memsharded commented on #11068
But lets make sure what are all the possible blockers here:

- Can you install Conan with ``pip install conan``? At least you can run Conan from source, as you have access to github?
- What sites can't you see? All of them? conan.io? Can you see docs.conan.io? Can you see blog.conan.io?
- Does ``conan install`` can fetch packages from the default conancenter remote?

[2022-04-21 07:32] #9898 closed, assigned to memsharded

[2022-04-21 07:34] memsharded commented on #9898
https://github.com/conan-io/conan/pull/11061 added support for not only generating, but also using in Conan ps1 scripts instead of bat

[2022-04-21 07:41] memsharded commented on #11067
Hi @fittyCent

First, some questions to understand your case:

- Do you have a project with 20 subprojects, but do you want to create packages for every subproject?
- Do you want to just install third party dependencies for your project, and different subprojects might use different ones? For example, subproject1 will depend on zlib and bzip2, and subproject2 will depend on boost and zlib, etc
- S

[2022-04-21 07:49] memsharded commented on #8983
Hi,

Sorry, I cannot reproduce this. I am trying to capture different lockfiles and doing a ``conan lock install``, but it works here.
We would need more detailed steps to reproduce this, from how the lockfile is captured in the first place.

[2022-04-21 08:00] lasote commented on #11065
Bug confirmed. I already have a fix but still trying to introduce a test. It is assigned to the next release.

[2022-04-21 08:01] paulharris opened #11069 "[feature] 3rd party library lifecycle walkthrough ... aka editable mode for boost CCI"
Hi,

I'm sending this here as I assume it would require changes to conan's core or documentation.

The CCI recipe for boost will not work in editable mode without some manual changes, AND you are forced to set the -pf package folder to ".".

This is because boost recipe's "def package_info(self)" uses tools.collect_libs() which only searches the "package folder".
But, consumers of the editable pac

[2022-04-21 08:14] harsszegi opened #11070 "[question] revisions_enabled = True + semver_direct_mode possible?"
Hi,
I have a strange question. we'd like to use package revisions in our Conan Artifactory. The background reason is that
we create several aliases whenever we release a package to Artifactory (e.g. create an alias to 'master' of the package, which points to the latest / last built version of the package, create an alias to '1.2.3' which would point to the latest v1.2.3 version of the given packag

[2022-04-21 08:14] memsharded commented on #11069
Hi @paulharris

I think the Conan features are already there to greatly improve the editable experience. Basically the new integrations, together with ``generate()`` and specially ``layout()``. You can see them:

- In the docs: https://docs.conan.io/en/latest/developing_packages/editable_packages.html. Note this section is new.
- In a live demo in Meetup: https://youtu.be/VzUJQw89U7o?t=2517. Note

[2022-04-21 08:45] vdsbenoit opened #11071 "[question] search / install package for any revisions matching my config"
# Short question
Is there a way to perform a `conan search` or `conan install` that would go through all the revisions until it finds a revision where binaries were pre-built for the requested configuration ?

# Context
We started using revisions recently. Previously, when people had some CRLF in their sources files, it would make outdated packages as [explained here in the documentation](https://

[2022-04-21 08:58] MadsBaggesen commented on #3664
+1 for this issue, it is still relevant and makes some annoying tight bindings to global space in CI situations

[2022-04-21 08:59] Maziar123 commented on #11068
https://conan.io/
Error: Forbidden
Your client does not have permission to get URL / from this server.

the site only can open with vpn in Iran !

the https://docs.conan.io can open successfully

[2022-04-21 09:18] helmesjo commented on #10630
@memsharded Yeah I do use enterprise (sort of very vaguely stated I realized), and I'm leaning towards that being the culprit. I'll try Community and see.

Either way, in `macro(conan_split_version VERSION_STRING MAJOR MINOR)` you expect a string, so all invocations of this macro should quote the argument (which it currently doesn't).

[2022-04-21 09:25] helmesjo commented on #10630
Output from VS2022 Enterprise is fine though: `${CMAKE_CXX_COMPILER_VERSION} == 19.31.31105.0`

[2022-04-21 09:30] lambtonr commented on #11025
@memsharded thanks for the advice.

i understand the ``conanfile.py`` in source implementation is a lot easier to work with, and that was my starting point, before migrating to out of source recipes. I will consider the trade off between this ease of implementation vs updating multiple pipelines for compiler releases.

 i will try this with one of my implementation to see how it works. I was not p

[2022-04-21 09:30] #11025 closed, assigned to nobody

[2022-04-21 09:50] helmesjo commented on #10630
Manually including `conanbuildinfo.cmake` and invoking the function triggers no error.

[code]

[2022-04-21 09:57] ttveldhuis opened #11072 "[bug] Unable to upload package through conan-server running behind nginx proxy"
I am trying to setup a conan server using Nginx as a proxy and following the steps described in the [documentation](https://docs.conan.io/en/latest/uploading_packages/running_your_server.html#running-the-conan-server-with-ssl-using-nginx-in-a-subdirectory).

The server is up and running but when trying to upload a package it fails with a 404 error right after it appears to have sent the files (see

[2022-04-21 10:08] helmesjo commented on #10630
Alright, found the problem. I have a `toolchain.cmake` file that sets things up for (in this case) "Windows + x86_64 + MSVC". The culprit was `set(CMAKE_CXX_COMPILER_ID "MSVC")`, this makes bzip for some unknown reason fail with the above mentioned error. The interesting thing is that if I don't set it in my toolchain file, it still gets the exact same value assigned to it. So something in this ch

[2022-04-21 10:35] czoido commented on #11013
Hi @StellaSmith,

Could you have a try to the changes in #11073 to check if that solves your problem.

You could try them installing conan from the PR branch using:

`pip install git+https://github.com/czoido/conan.git@escape_pkg_config`

[2022-04-21 10:43] helmesjo commented on #10630
Opening `"C:/Users/MyUser/.conan/data/bzip2/1.0.8/_/_/build/b71e99789552e8241cf7105925713e6e50251117/` in a terminal and running `cmake --build .` with `set(CMAKE_CXX_COMPILER_ID "MSVC")` in the `CMakeLists.txt` file triggers the error.

Problem is that if `CMAKE_CXX_COMPILER_ID` is defined, then `CMAKE_CXX_COMPILER_VERSION` is assumed to be defined (which it isn't in this case since CMake detects

[2022-04-21 10:58] lasote commented on #11068
The JFrog team reported that there is nothing on our side blocking any country. But they pointed out that there might be blocks to some countries from some of the cloud providers. We are really sorry but I'm not sure if we can do something about that.

[2022-04-21 11:14] ttveldhuis commented on #11072
Looking at those logs again from this issue it appears conan isn't providing the correct upload url:

[code]

That should start with `/conan/v1/files/` not `/v1/files/`

But I tried add `/v1` to the server config, but that still yields the same error:

[code]

[2022-04-21 11:22] #11072 closed, assigned to nobody

[2022-04-21 11:23] ttveldhuis commented on #11072
Can be deleted. Confusion due to different documentation versions.

[2022-04-21 12:01] Maziar123 commented on #11068
Then You choose bad cloud ....

[2022-04-21 12:09] Maziar123 commented on #11068
accessing global site for usual people is not forbidden in **ANY LAW** . and this blocking Forbidden in over two command of national united law ...

then you choose cloud with modern racism orientation

sorry But if you don't change it have same thing as any racist ...

[2022-04-21 12:18] harsszegi opened #11075 "[question] "private" package options?"
Hi,

As defined in https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html, there is a known bug for
semver_direct_mode, that generating a package ID for a given package includes all of the options of all of its dependendencies.

Is there a way to "hijack" this? Meaning can I define somehow "private" (""build_requires"") package options that are not relevant
for the consume

[2022-04-21 12:34] taoyouh opened #11076 "[bug] Running with win_bash=True handles encoding incorrectly"
I made an program that outputs some non-ASCII characters and it works well on Windows or inside MSYS2, but when I try to run it inside Conan by invoking the `run` method with `win_bash=True`, the output contains garbage contents. This problem makes it difficult to read the Visual Studio (with localized output) error messages during `conan build`.

### Environment Details (include every applicable

[2022-04-21 12:52] #11068 closed, assigned to lasote

[2022-04-21 14:56] MICGRAND commented on #11050
Hi @memsharded,

It's a coincidence but IT team has just installed a new version of Artifactory (6.23.41) on a new server and timing are very very better. (30 seconds in place of 5 minutes to solve all range of a complete application)

Anyway, I have activated conan logs and we can see that conan does 455 REST_API_CALL to do the complete application

To check the gain with fixed address, I took a

[2022-04-21 15:16] memsharded commented on #11050
Yes, that seems a coincidence, it is possible that upgrading the version did also some optimizations in the DB, that could improve performance. But the big improvements are not released yet, and they will land in future latest 7.X version.

Based on that and from your previous comments, I think that you are indeed caching over different Conan invocations. Which is the thing that we are trying to a

[2022-04-21 15:30] MICGRAND commented on #11050
I don't understand the risk. Having a complete picture of existing package at start is similar to a lock.
Can you detail a little bit the unexpected behavior?

[2022-04-21 15:46] memsharded commented on #11050
Once you cache something, in this case, the existing versions of packages in the different remotes, many things can go wrong:

- If a new package is uploaded to the server, and the cache is not invalidated and updates the new versions from the servers, then users will complain that they are not getting the expected new version, and then, it is broken.
- A certain server can remove some versions. I

[2022-04-21 17:22] memsharded commented on #11072
No prob, no need to delete, thanks for reporting and closing, happy that you solved it.

[2022-04-21 17:30] memsharded commented on #11070
Hi @harsszegi

I don't fully understand the issue. Once revisions are enabled, then both recipes and package binaries start to be revisioned. They will automatically get a new revision if their content changes. However not all changes are equal. The recipe revisions are expected to happen often, when source code or recipe changes happen. On the other hand, package revisions should never happen in

[2022-04-21 23:32] sveitech opened #11079 "[question] Generator CMakeToolchain in conanfile.txt does not pick up compiler specified in a profile as a tool_requires"
I have a conanfile.txt, specifying the CMakeToolchain generator:

[code]

and a compiler which exists as a conan package, and which have been added to a profile, under tool_requires:

[code]

Then I create the conan project files using install:

`conan install . -pr:h arm_profile -pr:b=default`

The resulting conan_toolchain.cmake file does not pick up the compiler path (C, CXX variables, e.t.c.),

[2022-04-22 00:30] fittyCent commented on #11067
Thanks @memsharded. That helped A TON!

I am just consuming third party dependencies and your workflow makes a whole lot of sense. I'm still working on ironing out all the kinks and I'll close this discussion as soon as I confirm this workflow doesn't hit roadblocks (if you don't mind).

Seems like most of the docs I read indicated that `conanfile.py` is used only when creating distributables. Thi

[2022-04-22 06:03] harsszegi commented on #11070
Well I just wanted to have a confirmation that this setup (e.g. revisions_enabled + semver_direct_mode is compatible with each other. However in this case I have one single questions: why doesn't 'conan search --revisions --remote xxx' show the package revisions from Artifactory? Why only the recipe revision is shown?

[2022-04-22 08:11] memsharded commented on #11070
It depends what you pass as an argument. If you pass a reference that includes down to the ``package_id``, you will get listed the package revisions, instead of the recipe revisions:

[code]

As opposed to recipe revisions:
[code]

[2022-04-22 08:14] memsharded commented on #11067
Happy to hear that! :) :)
We are here to help. Don't hesitate to raise further questions you might have

Yes, we are aware of this. This is the reason that for the new 2.0 docs (https://docs.conan.io/en/2.0-alpha/tutorial/consuming_packages.html), we are giving way more relevance to using conanfile.py as consumer, introducing it in the main flow of the main getting started tutorial.

[2022-04-22 08:16] harsszegi commented on #11070
Oh, I thought I could query all package's all revisions via conan search. Thanks for clarifying it, closing it!

[2022-04-22 08:16] #11070 closed, assigned to memsharded

[2022-04-22 08:21] memsharded commented on #11079
HI @sveitech

It would be great to know how you are defining things in the ``package_info()`` of ``arm_none_linux_gnueabi/4.8.3``. Environment variables will not be used by ``CMakeToolchain``, environment variables define directly the environment, and when CMake executes, it is supposed to be used them.

Also beware there is a new ``from conan.tools.cmake import CMake`` class, that is the one that

[2022-04-22 08:22] memsharded commented on #11070
No, that would be quite slow for many cases, this is a relatively slow operation in the server, so better ask for the package revision of only one recipe revision by default.

[2022-04-22 08:30] taoyouh commented on #11076
I have figured out the code that lead to this.

When the code is run with win_bash, Conan tries to decode the output and then prints it out. When a BOM is not present, Conan tries to decode first using UTF-8 and then Windows-1252.

However on Windows, console programs by default output under so-called ANSI encoding (which is the local multi-byte code page set in the locale settings). When the loca

[2022-04-22 08:51] memsharded commented on #10942
``conan cache path`` command implemented in 2.0 in https://github.com/conan-io/conan/pull/11017, will be released next alpha.7.

[2022-04-22 08:51] #10942 closed, assigned to lasote

[2022-04-22 09:31] MICGRAND commented on #11050
I understand.
I would say that it is only a question of time window. Issues listed here can occur during 2 API REST call. We just decrease the occurence.
What is the probability to have these issue during 15s compared to a gain of 10s multiplied by 1000 compilations?
If we detect an issue, we have just to restart a build.
ANyway, thanks for all your answers.

[2022-04-22 09:47] #10787 closed, assigned to czoido

[2022-04-22 09:54] sveitech commented on #11079
This is my package_info(), created based on the documentation from https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-tool-requires

[code]

[2022-04-22 10:10] SSE4 opened #11080 "[feature] tool `check_max_cppstd`"
there is already a tool [check_min_cppstd](https://docs.conan.io/en/latest/reference/tools.html?highlight=check_min_cppstd#tools-check-min-cppstd). we may also need going forward similar tool `check_max_cppstd`. many old libraries are not compatible with modern C++ standard (e.g. due to usage of things like `auto_ptr`, `bind2nd`, etc.).

- [x] I've read the [CONTRIBUTING guide](https://github.com/

[2022-04-22 10:22] #11062 closed, assigned to lasote

[2022-04-22 10:31] #11013 closed, assigned to czoido

[2022-04-22 10:36] #10639 closed, assigned to czoido

[2022-04-22 10:55] czrocklee opened #11081 "[bug] Bazel generator picked up the wrong lib file for cyrus-sasl/2.1.27"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: g++11.1
  * Conan version: 1.47.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
`conan install cyrus-sasl/2.1.27@ -g BazelDeps`

from generated file `cyrus-sasl/BUILD`, it imported a wrong static target `lib/sasl2` instead of `lib/libsasl2.a`

#

[2022-04-22 11:13] #11065 closed, assigned to lasote

[2022-04-22 12:25] memsharded commented on #11080
Seems a valid request. As a new feature, I'd recommend targeting it directly to ``develop2`` branch, for 2.0

[2022-04-22 12:29] memsharded commented on #11079
Ok, yes, I think that explains it:

- ``env_info`` doesn't generate files automatically, but the old ``CMake`` integration is capable of seeing it.
- This is why the ``conanfile.txt`` doesn't work
- The new environment management, https://docs.conan.io/en/latest/reference/conanfile/tools/env.html, already takes this into account, check the above notes, and will allow the generation of environment

[2022-04-22 12:43] memsharded commented on #11050
It is conceptually very different. When executing in the same ``conan install`` call, having 2 packages with the same version range resolve to different versions, because in between the API calls one package was uploaded, is a really unwanted and unexpected thing. Users will report it as a bug. So the in-memory cache of server versions is not only for performance, it is also necessary for consiste

[2022-04-22 15:46] #10837 closed, assigned to lasote

[2022-04-22 15:48] memsharded commented on #10837
https://github.com/conan-io/conan/pull/10984 implemented a new property to define this, with ``cpp_info.set_property("cmake_set_interface_link_directories", True)`` in the package recipe (the dependency, not the consumer).

This will be available next Conan 1.48.

[2022-04-22 16:12] memsharded commented on #9565
I have bad news. We thought that we were hitting the .bat limits even before the PATH length limit.
After moving https://github.com/conan-io/conan/pull/10037 to the new ``powershell`` environment generator, it happens that it is still failing. The information still overflows for env-vars too long, even if using powershell (check ``-c tools.env.virtualenv:powershell=True`` in the test).

So this ca

[2022-04-22 20:05] birsoyo commented on #9369
I am having exact the same problem.
server : JFrog Artifactory 7.33.12 rev 73312900
macOS: 11.6.2
python: 3.8.9
conan : 1.47.0

I am using revision_mode = "scm".

I think my state is same as reported above with times etc.

[2022-04-23 06:30] taoyouh commented on #11076
Another problem is:

When we use `conan_file.run(output=True)`, the output is directly into stdout and the encoding is kept as-is. However, if we use `conan_file.run(output=True, win_bash=True)`, the output is forwarded using conan_file and the `output` parameter is ignored.

Relevant code:
https://github.com/conan-io/conan/blob/24171295eb6312bf5e548ccaadd68dc7d7e02ec8/conans/model/conan_file.py#L

[2022-04-23 08:30] Ploxx73 opened #11082 "[feature]MAGIC DESCRIPTION TELEPORT"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-23 15:16] chausner opened #11084 "[bug] CMakePresets.json contains binaryDir set to null"
When using the new `CMakePresets.json` output generated by CMakeToolchain, the attribute `binaryDir` is set to `null` which is invalid according to the official [CMakePresets schema](https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html#schema). Also, when I try to load the CMakePresets.json with the CMake Tools extension of VS Code, it fails due to that line.

### Environment Details (i

[2022-04-23 15:26] lasote commented on #11084
Thanks for reporting. I'll take a look for next release.

[2022-04-23 15:55] chausner opened #11085 "[bug] Generated CMakePresets.json does not set build configuration"
The generated `CMakePresets.json` does not work out-of-the-box with the CMake Tools extension of VS Code.
It does not specify the build configuration which, according to the CMakePresets.json is optional, but VS Code seems to require it.
If it is not specified, it assumes the build configuration to be "Debug" which leads to build errors when `conan install` was previously called with `-s build_typ

[2022-04-24 05:45] Makogan commented on #10439
This problem also seems to occur under linux. Once again the problem being the validation layers package.

[2022-04-24 09:31] Tumb1eweed opened #11086 "[question] Can conan get requirements from remote without downloading the pacakge?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-24 21:03] memsharded opened #11087 "VSCode extension"
@KaungZawHtet, @jsgogo  Maybe it's a bit late to reply this thread, but I created the conan extension for VS code, and just published it a couple days ago. Maybe you can check out my extension :) I hope it could be really helpful for the community :)
Here is the link to my extension https://github.com/afri-bit/vsconan

_Originally posted by @afri-bit in https://github.com/conan-io/wishlist/issues/

[2022-04-24 21:06] memsharded commented on #11087
Hi @afri-bit

I am creating a new issue here in the main Conan repo, because the ``wishlist`` is mainly for packages, and is almost abandoned in favor of the main ``conan-center-index`` repo.

Indeed an extension for VScode is interesting, and we have been wanting to do something for it for a while. At the moment we are prioritizing getting 2.0 out, but after 2.0 we will resume work on IDE plugins

[2022-04-24 21:07] memsharded commented on #11086
Yes, instead of doing ``conan install`` command, you can use the ``conan info`` command, that constructs the dependency graph, but it will not fetch the binary packages.

[2022-04-24 21:36] memsharded commented on #10439
I have managed to reproduce this.
The root cause seems to be the usage of ``private`` requirements in ``validationlayers``:

[code]
As you can see, the thing is that the recipe is already prepared to use the 2 profiles approach.
If you add ``-s:b os=Windows`` (or similar, just something that uses the build settings or build profile), it will work without issues.

[2022-04-25 06:30] lasote commented on #11084
I investigated a bit: The `binaryDir` is null during a `conan install <reference>` because it is read from the `conanfile.build_folder` and it is not available in that case (as we are not building any package). I see that the `binaryDir` is optional so I'm going to skip setting it when the value is `null`.

[2022-04-25 07:04] Kidsunbo opened #11089 "[question] Can I create package with cmake generator?"
Hi, I create a library with `conan new demo/0.1 --template=cmake_lib` and I alse use the `conanfile.py` to consume other library when developing. I am used to using `conanfile.txt` but it seems that `conanfile.py` can have the same functionality when developing a library.

In the `CMakeLists.txt`, I use `CONAN_LIBS` so `generators="cmake"` and `requires="boost/1.78.0"` is added to `conanfile.py`.

[2022-04-25 07:23] lasote commented on #11085
Not sure about this one. In this case, as `msvc` is `multiconfig` you could run the `conan install` for `debug` and `release` configurations and conan will manage to keep the cmake target with both installed configurations:

[code]

So, the configuration in a `multiconfig` build system like the `msvc` one,  is something you typically select in the IDE, it doesn't make much sense to set it to somet

[2022-04-25 07:33] memsharded commented on #11089
Hi @Kidsunbo

No, you cannot use this generator together with the modern ones (``CMakeDeps``, ``CMakeToolchain``), which are the ones used by the template you are using, and will be the ones that continue in 2.0. ``cmake`` generator has been removed in Conan 2.0 already, you shouldn't use ``from conans import CMake`` with the other imports.

You need to move to the new native ``find_package(mypkg

[2022-04-25 07:37] Kidsunbo commented on #11089
Thanks @memsharded , what a pity CONAN_LIBS will be removed. I like this one. Why not keep this?

[2022-04-25 07:46] memsharded commented on #11089
Because the majority of users pushed for a "native" modern CMake integration using ``find_package()`` and CMake targets instead of old-style variables. And it makes sense to maintain 1 way to do things, doing the same thing in different ways is confusing, a maintenance burden, etc.

[2022-04-25 07:51] afri-bit commented on #11087
Hi @memsharded,

thanks for creating a new issue for this topic.

Looking forward to Conan 2.0 :)
I hope the CLI API will not change so much at the end, so my extension can be reused, since it just uses CLI mainly for this purpose.

Other than that, always happy to help :)

[2022-04-25 07:56] Kidsunbo commented on #11089
Yeah that makes sense. So for the same reason I cannot use `[generators] cmake` in `conanfile.txt` as well in 2.0, am I right?

[2022-04-25 08:11] Kidsunbo commented on #11089
OK, I find the document of 2.0. Thanks.

[2022-04-25 08:11] #11089 closed, assigned to memsharded

[2022-04-25 08:16] memsharded commented on #11081
Submitted a fix in https://github.com/conan-io/conan/pull/11090, thanks for reporting! Targeted for next 1.48

[2022-04-25 08:16] #11084 closed, assigned to lasote

[2022-04-25 08:19] memsharded commented on #11087
Unfortunately it will change substantially, the Conan 1.X cli accumulated some bad UX, so it was time for a clean up. But ``conan install <path> -pr=myprofile`` remains, it depends on how many things you use. But don't worry now, we will figure it out when it comes.

[2022-04-25 08:33] asapir commented on #1402
Adding:
settings = "os", "arch", "compiler", "build_type"

to test package conanfile.py solve this for me.

[2022-04-25 08:56] memsharded commented on #11075
Hi @harsszegi

No, I think there is no workaround. You can do a``self.info.options.pop("mydep")`` in the ``package_id()`` method of the consumer to be independent of the dependency ``mydep`` options completely, but yes, you need to modify the recipe.

Conan 2.0 already removed this behavior, options of dependencies are not part of the ``package_id`` of consumers

[2022-04-25 09:01] harsszegi commented on #11075
Understood, thanks a lot @memsharded, closing it.

[2022-04-25 09:01] #11075 closed, assigned to nobody

[2022-04-25 09:09] boussaffawalid opened #11091 "[question] require dependency with any option value"
Hello,

I have a dependency `libA` that have an option `with_feature`, something like:
[code]

And I have another recipe that depends on `libA`, but it does not matter if it has `with_feature` set to true or false.
Is there a way in conan to depends on any options values for a specific dependency .

I've checked the "ANY" option value from https://docs.conan.io/en/latest/reference/conanfile/attrib

[2022-04-25 09:16] memsharded commented on #11091
Hi @boussaffawalid

The idea is that if a package doesn't care about their dependencies options, they wouldn't define their default values at all.

The removal of ``options`` in the ``package_id()`` for the package ``libA`` itself, would mean that the binary is identical both when built with the feature and without the feature, which seems unlikely, so doesn't sound a good approach. That is only o

[2022-04-25 09:27] boussaffawalid commented on #11091
@memsharded  well, the problem is that I have two consumers of `libA`. one require a specific value of  `with_feature` and the other any value of it. so removing the option from the `package_id` wont work

[2022-04-25 09:35] #11081 closed, assigned to memsharded

[2022-04-25 09:52] memsharded commented on #11091
Yes, that is what I was saying, removing the ``option`` in ``libA`` ``package_id()`` method doesn't seem like the correct approach, as the ``libA`` package binary is different depending on the option.

So, still not clear what is the issue is, it is a ``package_id`` issue of the consumer? You want to make the consumer ``package_id`` independent of the dependency ``option`` value? You can do someth

[2022-04-25 09:58] lasote opened #11092 "Refactor tests with mocks of `conans.ConanFile.dependencies`"
There are some tests with mocks of `mock.patch('conans.ConanFile.dependencies', new_callable=mock.PropertyMock) as mock_deps`. They can cause infinite loops in CI when using for example `conanfile.dependencies.host.topological_sort`. They should be migrated to integration tests.

[2022-04-25 10:13] boussaffawalid commented on #11091
We have have thousands of builds for `libA`, some have `with_feature` set to true, other have `with_feature` set to false.

Now, one specific consumer of `libA` want to a use a specific version of `libA` without caring about the value of with_feature.  any value of `with_feature` should fulfill the requirement without the need to rebuild libA.

For example:
let's say we have two builds of libA
* l

[2022-04-25 10:15] thorsten-klein opened #11093 "[bug] Missing CMAKE_SYSROOT in CMakeToolchain generated file conan_toolchain.cmake"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: clang-13
  * Conan version: 1.44.1
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
We have a sysroot package which sets `self.cpp_info.sysroot=<val>`.
When running `conan install . -g CMakeToolchain` the resulting `conan_toolchain.cmake` does not

[2022-04-25 10:32] memsharded commented on #11091
Do you mean that you only build the binary with ``with_feature=True``. Then, this is not an option of ``libA/1.0``, if it always build with the feature enabled, it is not an option, not something that can be changed? I still don't fully get it.

If the consumer doesn't need any specific value for ``libA:with_feature``, why defining a default in the first case? Just don't define it, it is not neces

[2022-04-25 10:55] #11048 closed, assigned to czoido

[2022-04-25 11:09] boussaffawalid commented on #11091
We build both for both `with_feature=True` and `with_feature=False`, but not for all versions. Some versions are libA are only built with `with_feature=True`, some are only built `with_feature=False` , others are built for both

`with_feature` must be an option as the final package is not the same.

And we do have two consumers of libA:
*  Consumer 1: cares about the value `with_feature` and can o

[2022-04-25 12:07] lasote commented on #11003
We have merged this [PR](https://github.com/conan-io/conan/issues/11062) for the next conan2 alpha version. That contains a plugin (by default) that will check if the passed cppstd is valid for the selected compiler.

[2022-04-25 12:07] #11003 closed, assigned to lasote

[2022-04-25 12:12] memsharded commented on #9565
https://github.com/conan-io/conan/pull/10037 has been merged. As there is nothing else we can do about this issue, I am closing this at the moment, and as said above, Conan 2.0 will most likely alleviate this further.

[2022-04-25 12:12] #9565 closed, assigned to memsharded

[2022-04-25 12:12] lasote commented on #9447
Yes, we are going that way, with the default cppstd of the compiler (autodetected in profile) For the libraries that require another version the c3i library should play with the `validate` to get the min/[max](https://github.com/conan-io/conan/issues/11080) to be applied. I would say c3i library already does similar tasks, right? I'm closing this, feel free to comment/reopen

[2022-04-25 12:12] #9447 closed, assigned to memsharded

[2022-04-25 12:14] lasote commented on #10921
I will continue with the `compatibility.py` improvements for apps and cppstd, trying to provide a way to check the values of the declared settings.

[2022-04-25 12:17] lasote commented on #5286
This [PR](https://github.com/conan-io/conan/pull/11017) was merged and a new "conan cache path" command will be available at alpha7 to locate the paths to the cache.

[2022-04-25 12:17] #5286 closed

[2022-04-25 13:55] #11043 closed, assigned to czoido

[2022-04-25 15:02] datalogics-kam opened #11094 "[feature] Add pre_generate/post_generate hooks"
### Some background

On macOS, we often have different versions of Xcode in flight, and we want to be able to find the Xcode that corresponds to the `compiler.version` in the settings. We search for all Xcode apps in `/Applications` and probe them for the `clang` version that matches `compiler.version`, and then set `DEVELOPER_DIR` to point at that Xcode.

I recently moved this from years-old tool

[2022-04-25 15:14] Davidbrcz commented on #8331
Hello

Is there any update at this issue ? We are currently surveying conan lockfiles and this issue has arisen up in one of our demo use cases: bump a single library to bring a bugfix in a already built application. while tryong to keep all the other dependencies as constant as possible.

So far, we have been unable to achieve this with lockfiles. We are thinking of writing some code to transform

[2022-04-25 15:14] memsharded commented on #11094
Hi @datalogics-kam

In Conan 2.0 we are implementing in our internal code, and recommending the same pattern: recipes should never guess anything. All configuration should be provided already fully defined. In this case, it could be something like this:

- We need the ``generate()`` method to know some configuration that points to the right Xcode version matching the Conan settings. Lets call it `

[2022-04-25 15:17] memsharded commented on #8331
Hi all.

yes, we have added ``conan lock add`` command to Conan 2.0 (this is almost undoable in 1.X scope). We are also writing a extended proposal for the Tribe about the lockfiles for 2.0, explaining the whole new approach. It is important to highlight that even if this will be possible with this command in 2.0, the underlying principle that the things added to the lockfile should fit inside def

[2022-04-25 15:20] memsharded commented on #10835
I have done a first quick research for this. I cannot find anything out there that tells which clang version are the toolsets ``LLVM-vs2013, LLVM-vs2013_xp, LLVM-vs2014, LLVM-vs2014_xp, LLVM-vs2017, LLVM-vs2017_xp`` etc.

I guess it might be possible to install them and build something to check the versions manually from compiler definitions.

[2022-04-25 15:46] nmgwddj opened #11096 "[question] How to properly cross-compile for Android with android-ndk package?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In the official documentation, I found the following link: [https://docs.conan.io/en/latest/integrations/cross_platform/android.html#using-android-ndk-package-tool-require](https://docs.conan.io/en/latest/integrations/cross_platform/android.html#using-android-ndk-package-tool-require)

[2022-04-25 15:55] ghost opened #11097 "[question] GTest 1.11.0 Build fails with Ninaj Multi + MSVC17"
I'm currently encountering a strange problem.
I've set up Ninja Multi with MSVC17 and 3 out of 4 Configs build fine (Debug, Release, RelWithDebugInfo). However building the last config fails.

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Now I'm not sure weather i should post this question here or in the conan cmake section.

Th

[2022-04-25 17:44] skalde commented on #11010
we encounter the same problem, in a cross-compile szenario

Example from our Root-Script:
[code]
results in following Error:
[code]
grpc was built against protobuf/3.20.0 in our private repo.

Package reuse as `tool_requires` seems impossible if dependency resolution is different
in build- and host-context.
Is there a way out, without introducing an option for each protobuf-version in grpc?

[2022-04-25 18:33] memsharded commented on #11097
Hi @Ju1He1

Yes, there are too many moving pieces. It could be an error of ``gtest`` recipe or build system.

The best would be to isolate the thing, try for example, something like:
[code]
Then if it works, try to make it fail with ``-s build_type=MinSizeRel``

But you need to remove the ``conan.cmake`` stuff first, also other dependencies, and your own consumer logic. If it is ``gtest`` the one

[2022-04-25 18:56] memsharded commented on #11091
Ok, I think I start to get it. It seems the problem is that the option in ``libA`` is affecting the ``package_id`` of ``consumer2``. This can be avoided, in the ``package_id()`` of ``consumer2``, try to do something like:

[code]
That will make ``consumer2`` binary independent of the options defined in ``libA``.

The one that is defined, either by the ``libA`` default or by other possible packages

[2022-04-25 19:43] chausner commented on #11085
I think this might be a limitation of VS Code then. It does not find an explicit `configuration` in `CMakePresets.json` and thus simply assumes it's a Debug build. There is a way to switch between multiconfigs but it only offers the "default" build preset that Conan writes into `CMakePresets.json`. There does not seem to be a way to explicitly tell it that it's Debug or Release.

What I meant is,

[2022-04-25 20:41] memsharded commented on #11056
Yes, this has been confirmed to be an Artifactory 7.37 issue, basically a side effect of a relevant security fix that definitely needed to be fixed. The team is prioritizing and working on it, keep an eye on the next Artifactory releases, a fix will be included. I will also update here when this happens. Thanks very much for your patience.

[2022-04-25 20:45] memsharded commented on #11093
Yes, I can confirm the new integration doesn't implement yet the management of sysroot.
This should be added. Not sure what is the best approach, in theory the information about dependencies comes from ``CMakeDeps``, but now they follow the ``find_package()`` native integration, I agree that probably it fits more naturally in the ``CMakeToolchain``.

[2022-04-25 20:53] memsharded commented on #11096
Hi @nmgwddj

I'd probably recommend trying to use the new build system integrations, that includes some explicit Android integrations:

- Forget initially about the ``android_ndk`` package. Just install the AndroidNDK in your system, as they detail in their setup instructions.
- Try to cross-compile a simple "hello world" example starting from this template:
[code]
- Define the following profile:

[2022-04-26 00:18] Makogan opened #11099 "[question] How do you integrate a conan subproject?"
Say that I have a small project A that handles its own dependencies through conan. This project is not released under any packaging tool it's a local library for internal use.

Say a new project B is started that depends on A, obviously B transitively depends on anything A depends on. When doing conan install, how can I configure conan to transitively install all dependencies of A so that B can co

[2022-04-26 03:53] nmgwddj commented on #11096
Thanks to @memsharded for your patient reply, I can successfully compile a hello package and a test program through the example you gave. But when I apply these in my existing project, I still can't finish cross-compiling.

First of all, in this case, I am not a package maker, and some Conan center packages are referenced in my existing CMake project. We will not make this CMake project into a Con

[2022-04-26 04:27] datalogics-kam commented on #11094
@memsharded Hey, thanks for getting back to me.

I agree with that, and that's encapsulated in something like `compiler.version=13.0`.

`DEVELOPER_DIR` isn't just an arbitrary name; it's an environment variable that tells all the command-line development tools in macOS where to look for their actual implementation. If you set `DEVELOPER_DIR`, it's a per-process way of doing `xcode-select` to choos

[2022-04-26 06:35] Tumb1eweed opened #11100 "[question] conan can't find hidden file like "._<libname>""
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When I try to build a conan package for tensorrt, it report in build() stage, these .so cannot find
![image](https://user-images.githubusercontent.com/27768261/165236839-d8e44974-8992-4d74-8a18-bf92b53db6ab.png)

![image](https://user-images.githubusercontent.com/27768261/165236796-2e

[2022-04-26 07:27] jgsogo commented on #9447
No, c3i doesn't touch anything related to `compiler.cppstd`. This was just about moving those two lines that appear in too many recipes into the tool.

[2022-04-26 07:33] memsharded commented on #11100
Hi @Tumb1eweed

We need something that we can reproduce, can you share the full recipe? If not, can you provide a minimal example to try it? You can start with ``conan new hello/0.1 --template=cmake_lib`` and do some minor modifications to achieve that.

This is because the behavior depends on many things, like which build system integrations you are using, which generators, etc.

[2022-04-26 07:40] lasote commented on #11085
Yes it does. Let me do some test.

[2022-04-26 07:53] #10078 closed, assigned to nobody

[2022-04-26 08:20] franramirez688 opened #11102 "[feature] Test properly `msbuild` template"
Add functional test for `conan new **** --template=msbuild_lib` that checks:
* Use different msvc compilers (if possible).
* `PlatformToolset` is correctly used.
* Lib and test are correctly built.

Related to https://github.com/conan-io/conan/pull/11101

[2022-04-26 08:22] memsharded commented on #11096
Hi @nmgwddj

I think the main issue you are finding is that existing packages in ConanCenter are using the old build system integrations, they haven't upgraded yet to the new ones (``CMakeDeps and CMakeToolchain``), so this functionality of cleanly cross-compiling to Android without any special thing besides specifying the path to the NDK in the ``conf`` will not work in those recipes yet.

The go

[2022-04-26 08:27] memsharded commented on #11099
But this mean that you want to depend on "project A"?. If you want to depend on it, you have to create a package for it, so you can do a ``requires = "project_a/version"`` and get its transitive dependencies? Depending on a package without creating a package is not possible. You might work in parallel with ``editables`` in both ``project A`` and ``project B``, but you still need a ``conanfile.py``

[2022-04-26 08:30] franramirez688 commented on #11024
Closed by https://github.com/conan-io/conan/pull/11101

[2022-04-26 08:30] #11024 closed, assigned to franramirez688

[2022-04-26 08:38] NoWiseMan opened #11104 "[Question] Apple Clang 13.0 != Apple Clang 13.1"
Hallo,

we are very surprised that conan now treats Apple Clang 13.0 compatible with 13.1.
Both versions are based on a different Clang version (Clang 13 vs. Clang 14).
Clang has a semi-annual release cycle and Xcode has an annual cycle with new minor releases for about every iOS version.
But every year one of the minor Xcode releases is a major update. These major updates incorporate most of the

[2022-04-26 10:31] mpusz opened #11105 "[bug] `conan.tools.scm.Version` error"
While trying to replace `conans.tools.Version` to `conan.tools.scm.Version` I get the following error

[code]

[2022-04-26 10:36] iiknd opened #11106 "[question] semver_direct_mode() bug"
Hi,

The documentation mentions a bug in current implementation of the semver_direct_mode()
https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html?highlight=semver_direct_mode

Is there any workaround for this?

C -> B -> A -> icu

How to define it so that C and B depend on A using recipe_revision mode and A depends on icu at full_package_mode?

The documentation says that

[2022-04-26 13:05] Kidsunbo opened #11107 "[question] Is there a way to add library without modifying CMakeLists.txt in Conan 2.0?"
In Conan 1.47, there is `cmake` generator which is in the tutorial of conan. After adding serveral lines of CMake code, I could only modify `conanfile.txt` to add libraries. It works pretty well when developing with VSCode and Clion. All I need to pay attention to is only `conanfile.txt`.  New added library will be appended to `CONAN_LIBS` automaticlly, which is extremelly convenient.

It seems th

[2022-04-26 15:15] danimtb opened #11108 "[feature] option description in recipes"
It would be useful to have a brief description of what an option does inside the recipe.

Sometimes it is hard to understand what an option does in a recipe. Some contributors of ConanCenter add comments to clarify but there is no native way of providing a description for an option.

For example, something like this:

[code]

And provide this information via `conan inspect --json output.json` or s

[2022-04-26 16:43] ghost commented on #11097
Hey @memsharded
Thx for your fast answer.

I performed the following tests trying to isolate the problem.
Before each step I also cleared the whole local conan cache

1) I noticed that this is not gtest specific. It affacts all libs that are actuablly build

2) running `conan install gtest/1.11.0@ --build=gtest` in git bash => working
3) running `conan install gtest/1.11.0@ --build=gtest -s build_

[2022-04-26 17:10] #9448 closed, assigned to franramirez688

[2022-04-26 17:11] memsharded commented on #9448
Implemented in https://github.com/conan-io/conan/pull/10985, will be in next 1.48

[2022-04-26 17:13] memsharded commented on #11056
The fix has been deployed to Artifactory SaaS instances, so if it is your case, please check and let us know. The on-prem release will follow soon.

[2022-04-26 17:57] wbehrens-on-gh opened #11109 "[question] How to properly switch a profile between MD and MDd for Visual Studio"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

So I have this profile:
[code]

but whenever I try and build I project for debug I get an error basically saying that the binaries I'm trying to link against and the ones I'm currently compiling aren't compatible due to one being `MD` and the other being `MDd`. I'm currently using the

[2022-04-26 17:59] memsharded commented on #11108
I think that way of defining options would be very disruptive, it is a new and incompatible format of defining things, will be breaking things backwards badly, etc.

I'd suggest something less risky, like adding a new dict with descriptions:
[code]
The risk with this approach would be orders of magnitude smaller.

[2022-04-26 18:05] memsharded commented on #11109
Hi @WilliamBehrens

There are a couple of approaches:

- If you are using dynamic runtime, which is the default, you can leave it not specified in the profile. It will get the MD or MDd value correctly ,depending on the ``build_type`` (this is a bit hardcoded in 1.X, it will be a plugin in 2.0)
- If you specify it in the profile, when you switch to Debug in command line, you need to do both ``-s b

[2022-04-26 18:14] memsharded commented on #11107
Hi @Kidsunbo

No, sorry, the way the 2.0 CMakeDeps integration work is the CMake native one, and that means adding a ``find_package()`` to your CMakeLists.txt. We liked the simplicity of the ``cmake`` generator, but the users feedback towards a fully transparent and native integration (that is, using ``find_package()`` was quite big, so we had to go that way.

[2022-04-26 20:14] mjcodigo opened #11110 "[question] How to generate Find<MODULE>.cmake files over CMakeDeps for meta packages"
Hi everybody,

I have a question regarding the usage of CMakeDeps and its build_context_activated property.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'll explain the situation with a simplified example:

In our project we have a conanfile.py, where we reference a custom BuildTools Conan package in the build_requires:

[code

[2022-04-26 21:18] memsharded commented on #11110
Some quick preliminar feedback:

- Use package names in lowercase, not ``BuildTools`` but ``buildtools``. Conan 2.0 will only accept lowercase package names, as ConanCenter has been doing for 2 years.

You are right in your analysis, basically the ``CMakeDeps`` generator is creating find cmake scripts only for the "direct" dependencies, that is, the ones that are declared directly in the consumer.

[2022-04-26 23:27] redradist commented on #7289
@memsharded Even thought you do not like this solution, I've created it as separate package:
https://github.com/redradist/conanex
https://pypi.org/project/conanex

@madebr @prince-chrismc I hope you at least will appreciate it
Also I created discussion on reddit https://www.reddit.com/r/cpp/comments/ucoyjs/conanex_conan_extended

[2022-04-27 01:52] nmgwddj commented on #11096
Looking forward to the transformation of Conan 2.0 and old packages. Before that, I can choose to install locally and specify CONAN_CMAKE_TOOLCHAIN_FILE to temporarily satisfy the cross-compilation.

But it is worth mentioning that the introduction of `android_ndk` in tool_requires is a very good solution, which does not require CI Agent to actively install NDK to the local environment, and the di

[2022-04-27 04:13] initlifeinc commented on #11034
@memsharded Yes, it is working now for me！

[2022-04-27 04:13] #11034 closed, assigned to memsharded

[2022-04-27 06:29] Makogan commented on #11099
Ok so I have to export B as a package through conan essentially. Thank you.

[2022-04-27 07:30] memsharded commented on #11099
You can avoid the ``conan export`` or ``conan create`` altogether, by using ``conan editable``. But yes, a more detailed ``conanfile.py`` is necessary for this to work, the basic ``conanfile.txt`` will not be enough. You can have a look to https://docs.conan.io/en/latest/developing_packages/editable_packages.html for a tutorial on the feature.

[2022-04-27 07:35] memsharded commented on #11096
Yes, absolutely, we like this approach. My recommendations above was in order to eliminate moving parts while checking what is working and what not. Once the tooling and integration is there, adding the ndk as a ``tool_requires`` is very doable and convenient. It basically needs to define something like a ``self.conf_info.define("tools.android:ndk_path", self.package_folder)`` in order to inject i

[2022-04-27 07:40] #11085 closed, assigned to nobody

[2022-04-27 08:39] ghost commented on #11097
Hey guys,
I did some digging.
It turns out that setting the environment variable
`CONAN_CMAKE_GENERATOR` to "Ninja Multi-Config" causes the build to fail.

After removing  CONAN_CMAKE_GENERATOR from my environment vars everything works well
@memsharded To avoid further problems, would it be useful to remove this variable? Anybody how uses Cmake + Conan will probably use the Conan CMake wrapper. Th

[2022-04-27 10:00] boussaffawalid commented on #11091
@memsharded I tried the approach above, but still does not work. I got this error:

[code]

My understanding is that package_id is used to compute the package id of consumer2 but it is not used in the dependency resolution! or did I miss something ?

[2022-04-27 11:46] ghost opened #11115 "[bug] Ninja Multi Config Build does not work when CONAN_CMAKE_GENERATOR is set"
### Environment Details (include every applicable attribute)
  * Win 10 21H2
  * Any (Tested With MSVC17 and GCC 10):
  * Conan version: 1.47.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)
This scenario is working
[code]

**Now clear conan cache. and open a fresh new shell**

This scenario is not working
[code]

this does not only affect gtest but all 3rd parties that a

[2022-04-27 11:48] ghost commented on #11097
a fresh new bug report has been published here
https://github.com/conan-io/conan/issues/11115

[2022-04-27 11:48] #11097 closed, assigned to nobody

[2022-04-27 11:58] acevdev commented on #10927
Hi again and sorry for the late reply,

We finally fixed it thanks to your comment on specifying the deps of the dependencies, although we had to repeat a flag because of this internal static library which has a dependency defined on the main project.
In a nutshell, our final LIBS order looks like:
`-ldep_from_conan -ldep_from_conan2 ... -linternallib -ldep_from_conan `

The exported LIBS of conan

[2022-04-27 12:17] memsharded commented on #10927
Hi @acevdev

Great, thanks for reporting, happy that you found a solution.

Just wanted to keep you updated, we have been actively developing the new Autotools integration, and a bunch of changes will land in next 1.48:
- https://github.com/conan-io/conan/pull/11114 might add ``-Wl,-rpath`` flags (``flags.extend(["-Wl,-rpath -Wl,{}".format(libdir)])``
- https://github.com/conan-io/conan/pull/11054

[2022-04-27 15:20] danimtb opened #11116 "[feature] Recipe attribute for library documentation url"
It would be nice to have an optional attribute for recipes to add a URL to the documentation of the library.

As `url` attribute points to the recipe origin repo (in the case of ConanCenter it is always `conan-center-index` repo) and `homepage` usually points to the library's repo or project web page, we are missing a direct link to the library documentation that could be:

- Specific page in the

[2022-04-27 15:24] memsharded commented on #11116
This doesn't require any support in Conan client, besides a documented convention. Probably decide the name ``docs = "url"`` sounds good, and move this to the Conan docs repo to document it?

[2022-04-27 18:45] michkrom commented on #1557
^^^ is interesting bandaid, thanks! Although hard to implement on shared build servers.
However I would suggest the _is_case_insensitive_os() be patched to actually conduct a test rather than infer from the OS name. Linux may have case-insensitive file systems as well and as in the bandaid, Windows can be made case-sensitive.

For the record - I have to state that current approach to fix this by C

[2022-04-27 18:59] michkrom commented on #1557
Ah! The name equivalence could be achieved with `provides` attribute. However, that could only be stated in dependency (package). I'd like to to be able to state that also in root (consumer) to avoid needles local package copies.

[2022-04-27 21:36] redradist opened #11118 "conan create failed for non git repo"
When I try manually to create package from non git repository, folders with sources and conanfile.py, I got the following error:
[code]

Is there a way to create package from non git repo folder ?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-04-27 22:57] memsharded commented on #11118
Yes, packages can be created from a non git repo folder. Simplest example is ``conan new hello/0.1 -m=cmake_lib``, then ``conan create``. It will work, even if that is not done inside a git repo.

[2022-04-27 23:26] memsharded commented on #11105
Trying to submit a fix for it with https://github.com/conan-io/conan/pull/11119

In the meantime, you can avoid it by doing a ``Version(str(self.settings.compiler.version))``

[2022-04-28 03:08] #11099 closed, assigned to memsharded

[2022-04-28 08:20] Tumb1eweed opened #11121 "[question] Is there a way to execute "conan create" withou re-downloading and re-unzip?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I am constructing a recipe of libtorch, it's a large file (about 1.62G). And every time I change conanfile.py and conan create to test, it would download and unzip all over again, so could it be possible to cancel this step?

[2022-04-28 08:41] #10927 closed, assigned to memsharded

[2022-04-28 08:56] jellespijker opened #11122 "[bug] conan sh environment fails to generate deactivation_file on ubuntu-20.04"
### Environment Details (include every applicable attribute)
  * Github VM Ubuntu-20.04
  * Ubuntu-20.04
  * Compiler N/A
  * up until 1.48
  * 3.10.4

### Steps to reproduce (Include if Applicable)
- Create an Virtual Run, Build or custom environment and save a script.
- Activate that VirtualEnvironment activation script with `source` or `.` on a bash shell
- it fails when running `echo echo Rest

[2022-04-28 09:34] Tumb1eweed opened #11124 "[question] How can I produce packages without building phase and not cause "missing prebuilt package" error in conanfile.txt?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I make a artifacfatory just for storing cuda, cudnn, tensorrt, etc. These pacakges don't have source code, so I just store their binaries and headers. After I upload, I use conanfile.txt to install those, it reports:
![image](https://user-images.githubusercontent.com/27768261/16572347

[2022-04-28 09:35] maikelvdh opened #11125 "[feature] XCodeDeps support Conan Components"
Currently the XcodeDeps is not supporting Conan components which is resulting in having all components added to the generated xcconfig context. It would be good to split the xcconfig creation in separate files per component to allow more granular selection of components to be utilised on consuming side.

[2022-04-28 09:49] Tumb1eweed commented on #11124
cublas:
from conans import ConanFile, CMake, tools

class CublasConan(ConanFile):
    name = "cublas"
    license = "NVIDIA EULA"
    url = "https://docs.nvidia.com/cuda/cublas"
    description = "CUDA Basic Linear Algebra Subroutine library"
    settings = "os", "compiler", "build_type", "arch"
    no_copy_source = True
    options = {"shared": [True, False], "fPIC": [True, False]}
    default_op

[2022-04-28 09:54] jellespijker commented on #11122
On second thought I think this might not be a Conan issue, since the pipeline still fails even when I use my Conan fork with the suggested changes.

It might just be that I need to read-up on Github Action yaml syntax.

[2022-04-28 10:01] lucabonifacio opened #11126 "[question] Typo error in `os_version` for CMAKE_SYSTEM_VERSION"
The latest documentation states that `CMAKE_SYSTEM_VERSION` is set to the value of `self.settings.os_version` if cross-build is detected.

It there a typo in `os_version`? Shouldn't be `os.version` (**dot** instead of **underscore**)?

Here the link to the documentation:
https://docs.conan.io/en/latest/reference/build_helpers/cmake.html?highlight=cmake_system_version#definitions

- [x] I've read t

[2022-04-28 10:02] czoido commented on #11124
Hi @Tumb1eweed,

Please, have a look to the https://docs.conan.io/en/latest/reference/commands/creator/export-pkg.html command. That is used to create conan packages from prebuilt binaries. You should take care that the binaries that you package match with the settings and options you use when you do the `export-pkg` (build_type, os, architecture...)
What is happening to you is that you created th

[2022-04-28 10:22] NoWiseMan opened #11127 "[bug] conan inspect throws an error in V2 mode if there is no option in the recipe"
### Environment Details
  * OS: macOS 12.3.1
  * Xcode: 13.3.1
  * Conan: 1.47.0

### Steps to reproduce
create a recipe without an option
set the environment to enable ConanV2Mode
run `conan inspect conanfile.txt`

###
ERROR: Conan v2 incompatible: Declare 'default_options' as a dictionary

[2022-04-28 10:25] czoido commented on #11121
Hi @Tumb1eweed,
For testing purpouses you could use the --keep-source argument for the conan create. That way the source folder in the cache will be preserved even if you modify the recipe.

[code]

[2022-04-28 10:32] czoido commented on #11126
Hi @lucabonifacio,
Yes, that's in fact a typo, thanks a lot for reporting. I'm transferring this to the docs repo. Please feel free to contribute a PR to fix that.

[2022-04-28 12:03] memsharded commented on #10905
We have finally decide to go a different way with the overrides, for Conan 2.0, already implemented there for next alpha7. It will be possible to define overrides for "host" and "build" (even "python") requires, by defining those in a lockfile with the ``conan lock add`` command, then passing the lockfile, as long as the defined thing fits in the defined version range. That is, the definition of t

[2022-04-28 12:36] rohel01 commented on #4760
Hello @memsharded,

After a successfull demonstration of the legacy buid system integration wirth Conan using  the VirtualBuildEnv generator, I am now trying to follow your advice by

1. Putting dependency information back into the `self.cpp_info` structure
2. Translating this data into (legacy) build system instructions through a custom generator

I am using both the [custom generator documentati

[2022-04-28 12:43] rohel01 commented on #4760
Ok, I answered my third question on my own by writing a dedicated, dummy recipe to query conan data model.
`tool/build_require` dependencies are available in `deps_cpp_info`

[2022-04-28 14:12] rohel01 commented on #4760
I am trying to mimick some of the design of the `VirtualBuildEnv` generators as I am interested in its ability to automatically append its output env script to `conanbuild`.

There seems to be two kind of generators depending on whether they provide a `generate` method or the `content`/`filename` properties. The former used to be called "toolchains" in the conan code base?

`VirtualBuildEnv` gener

[2022-04-28 14:27] memsharded commented on #11121
I would also recommend having a look at the local flow, using ``conan install``, ``conan source``, ``conan build`` commands, to develop locally, make sure things build (incremental builds also). Then trying only ``conan create`` as a very final check once everything is looking good, like end-to-end check of all steps.

[2022-04-28 14:27] memsharded commented on #11125
Same applies for MSBuildDeps, not split into components yet

[2022-04-28 16:42] AlexRamallo opened #11128 "[feature] Specify settings in profile tool_requires recipes (e.g. android_ndk)"
The `android-ndk` package is useful, but it's kind of annoying to use since it requires you to manually create a profile with information that is redundant (and thus error-prone) and laborious to track down.

For example:

[code]
How do I know which version of Clang is in ndk r24? I need to look that up, or track down the clang binary in my cache to run `clang --version`. Also, having to write `co

[2022-04-28 16:51] memsharded opened #11129 "[develop2] Test lockfiles ``conan lock add pkg/version#revision`` when existing revisions"
The manually added revision will in general not have a timestamp, but it is required for doing the right insertion and ordering.
Would we want to make it the "latest" by default when manually adding? Should it error if timestamp not present?

Note that it won't be an error if other revisions don't exist, as locking it is trivial.

Comes from the Tribe discussion https://github.com/conan-io/tribe/p

[2022-04-28 17:16] memsharded commented on #11128
There is a problem with this suggestion, it is a chicken and egg problem. Defining the ``tool_requires`` in profiles, is just a convenience. The canonical way of adding requires is in recipes. And this is more than usual:

[code]

That is the settings are already used to resolve the ``tool_requires``.
Furthermore, ``[tool_requires]`` in profiles are not always available if we had instead something

[2022-04-28 18:07] AlexRamallo commented on #11128
Hmm, then I think I'm either confused, or encountering a bug. In my experience, that example you posted (requiring android-ndk in the root conanfile) won't work. Here's a short example:

conanfile.txt:
[code]
~/.conan/profiles/android:
[code]

Calling `conan install . -pr:b=default -pr:h=android --build=missing` fails with an error like:

[code]

Only if I uncomment the tool_requires line in the p

[2022-04-28 19:20] AndreyMlashkin commented on #10955
@memsharded is windows-clang improvment on the roadmap?

[2022-04-28 23:28] boussaffawalid commented on #10905
@memsharded the current implementation of `--require-override` in conan 1.x works perfectly when used with `conan create` but it does not work with `conan install`, so the behavior is not consistent.

As I mentioned before https://github.com/conan-io/conan/pull/10046/files fixed the issue.

We were waiting for the `--require-override` for a very long time now and it is unfortunate that we cannot u

[2022-04-28 23:33] memsharded commented on #11128
Yes, I think the summary is:

- If you put the ``[tool_requires]`` in the profile, it applies to all packages, including dependencies (default ``*:`` pattern if not specified)
- If you put the ``[tool_requires]`` in a conanfile.txt, it applies only to that conanfile.txt, but not to the dependencies. In this case, as you are using a ``conanfile.txt`` and not specifying anything else in the environm

[2022-04-28 23:38] #11105 closed, assigned to memsharded

[2022-04-29 01:42] magras opened #11130 "[question] test_requires in conanfile.txt"
I've mistakenly used `[build_requires]` for gbench framework until I tried to compare my implementation to boost and found #9951 issue. If I understand correctly `force_host_context` has been deprecated. And I don't know how to specify it inside .txt, if at all possible.

Should I use regular `[requires]` for test and benchmark frameworks like gtest and gbench? Or does it make sense to add `[test_

[2022-04-29 04:54] Tumb1eweed commented on #11121
Thanks, -k is useful.

[2022-04-29 04:54] #11121 closed, assigned to czoido

[2022-04-29 05:23] yooouxin opened #11131 "[question] How make conan invisible to library users"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I use conan with  cmake generator to develop my library such as mylib and export  cmake  targets to user.
When build mylib  , I use CONAN_PKG::fmt in CMakeLists.txt,but when user link cmake target mylib,it also links to target CONAN_PKG::fmt,when user don't use conan,cmake configure f

[2022-04-29 07:26] memsharded commented on #11130
Hi @magras

Yes, for a simple ``conanfile.txt``, a requirement to a test library, like gtest or catch, is completely equivalent to a regular requires, so it can go directly in the ``[requires]`` section (and it shouldn't go in the ``[tool_requires]``, because the behavior will be different).

We might eventually add a ``[test_requires]`` section, but it would be purely syntactic sugar, no function

[2022-04-29 08:03] memsharded commented on #11131
Hi @yooouxin

I am not fully sure I got your problem, but I would like to clarify one thing for other users, just in case:

When you have a dependency graph, like ``app``->``mylib``->``fmt``, it depends on the library type how the linkage requirements are propagated:

- If ``mylib`` and ``fmt`` are static libraries, then **both** linkage requirements need to be propagated down to the ``app`` when

[2022-04-29 08:22] yooouxin commented on #11131
Hi @memsharded
Thanks for quick reply.

Maybe my quesion was inappropriate.
think this case:
`mylib` is a header-only library,and use `fmt` in header files.
When I wrote `mylib`'s CMakeLists,I must export fmt's header files like this:
[code]
But if app don't use conan as package manager,`CONAN_PKG::fmt` can't found by cmake.

So my question is how make `CONAN_PKG::fmt`  available even though user

[2022-04-29 08:32] memsharded commented on #11131
It is not possible. If you have a library that is header only and depends on fmt, your users needs fmt. You cannot avoid that.

What you can avoid is that they need to install fmt with Conan, they could install with other means. Yes, use ``CMakeDeps`` and ``CMakeToolchain`` for that, as that will create a ``CMakeLists.txt`` for your ``mylib`` project that doesn't have anything Conan specific in it

[2022-04-29 09:08] lucabonifacio opened #11132 "[question] How to export Conan packages for usage within an SDK"
Let's assume that we have a consumer that builds some libraries and for that it needs some Conan packages.

Now, let's say I would like to provide the libraries within an SDK and build other applications using CMake. For that I need to provide:
- binaries,
- includes,
- and CMake package config files generated by making usage of `CMakePackageConfigHelpers`.

What about the Conan dependencies? Copy

[2022-04-29 09:18] yooouxin commented on #11131
@memsharded
Thanks.
Another question:

Use `[imports]` in conanfile.txt can install fmt's header and library to a folder as runtime library.

Is it any possible to make xxx-config.cmake generated by  `CMakeDeps` available for user which don't use conan?

So that I can provide a complete sdk include cmake package files,runtime libraries and my library.

[2022-04-29 09:33] hsuanguo opened #11133 "[question] Toolchain cross building integration"
- Conan version: 1.47.0
- OS: Ubuntu 20.04
- python 3.6

I had a similar question one year ago #8922, so I am trying again to integrate conan deeper into our building system.

I have created a conan package called  `LinaroArm64Toolchain` and a profile `linaro-aarch64-gcc10.2-linux5.4_release.txt` with the following content.

[code]
- Now I can cross build packages with the profile without any issu

[2022-04-29 09:55] memsharded commented on #10351
This feature is ready and available in 1.47, defined in profiles CXXFLAGS.
We can close it, next step is start to apply secure profiles in the creation of ConanCenter packages by default.

[2022-04-29 09:55] #10351 closed, assigned to nobody

[2022-04-29 09:57] memsharded commented on #11052
Apparently this UX issue would be similar to ``conan cache path`` that it also requires a explicit revision, and that is inconvenient for the user.

[2022-04-29 10:42] memsharded commented on #11131
that is challenging. You would basically need to package every possible fmt binary for every possible platform, compiler, configuration that your users might need, or it would be broken. Furthermore, packaging fmt binary in the sdk, if it is being linked into your consumers applications, can lead to conflicts, linking errors if your consumers happen to be using ``fmt`` library (maybe a slightly di

[2022-04-29 15:12] cedriclaplace commented on #5979
Hello,

Is there something new about this feature request ?

We are looking to use the 64b version of VS compiler/linker. We are using the CMakeToolchain and CMakeDeps generators with the CMake wrapper from conan.tools.cmake. It seems we cannot configure the toolset as specified in the CMake documentation from Conanto invoke the 64b compiler/linker. We tried different things but the generated CMAK

[2022-04-29 16:13] memsharded commented on #5979
Hi @cedriclaplace

As your comments have different base from the above, as they are using the new build system integrations, I think it is best if you posted a new issue with this. Also, I would strongly recommend to try to reproduce starting with the ``conan new hello/0.1 --template=cmake_lib``. There might be something missing to opt-in/out into which compiler and linker you invoke, irrespective

[2022-04-29 18:50] memsharded commented on #11132
Hi @lucabonifacio

The Conan 2.0 new deployers ``--deploy=full_deploy`` for example, will create a copy of the packages in the cache to the user folder, and what is more important, it will point the generated ``xxx-config.cmake`` files by ``CMakeDeps`` (or any other generator) to that user folder, not to the local cache.

Please try this feature with the latest released 2.0-alpha.7, feedback will

[2022-04-29 19:11] magras commented on #11130
Thank you for your answer.

Then I'll leave this issue open for now.

[2022-04-29 21:13] redradist commented on #11118
@memsharded
I figured out why this failed, it was due to `scm` attribute, see https://github.com/hanickadot/compile-time-regular-expressions/blob/main/conanfile.py#L15
I think it is intended behavior, I am closing this issue ...

[2022-04-29 21:14] #11118 closed, assigned to nobody

[2022-04-29 22:43] ericriff opened #11137 "[bug] Conan captures deleted options in lockfiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: x
  * Conan version: 1.47.0
  * Python version: 3.8

Some recipes remove options based on a given condition. For example on `sentry-native` if we build with the default options we delete `with_crashpad` since we use the `breakpad` backend https://github.com/conan-io/conan-c

[2022-04-29 22:52] ericriff commented on #11137
I get a similar error with `boost` when I use `with_python=True`. In this case Conan stores the path to the interpreter as an option, but then it deletes `self.info.options.python_executable`  (https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conanfile.py#L513) since the path is not relevant, we only care about the interpreter version.
Again the value of this option end

[2022-04-30 03:23] spectras opened #11138 "[question] How to get package requirements, including tool requirements?"
I am currently using `conan info` to retrieve the dependency graph of packages (in order to generate CI pipelines).

This is on the "building" side of things. Thus, tool requirements are also required - for instance, if a package tool_requires `flex`, I need to have `flex` built before building that package.

I looked in other commands as well, and I do not find a way to get a build dependency gra

[2022-04-30 18:08] DennisJump opened #11139 "protobuf install [question] [problem]"
I am having difficulty in using conan to install the referenced version 3.20.0 of protobuf.
I am running into linkage problems (undefined references in linking my project) which led me to dig around in the code.
I can find the version number in port_def.h and it shows version 3.19.4 (3019004)
Are you referencing the correct version? I do have [requires] protobuf/3.20.0
When I check the github vers

[2022-05-01 08:58] Bassem-Ramzy opened #11140 "[question] Upload fails when uploading "same" package from different platform"
Hi,
I have a project that provides a DLL for Windows and .a library for Linux from the same project files.
The recipe has "os" in settings.
So, for the project package, I have a binary package for Windows, and a binary package for Linux.

To build the packages, I build the Windows package on Windows and upload it, _then_ I do the same for Linux (after copying/git pull the latest project files).

S

[2022-05-01 16:49] Kidsunbo opened #11142 "[bug] Setting CMAKE_TOOLCHAIN_FILE to conan_toolchain.cmake make vscode-cmake-tool not work."
I use VSCode to write a executable. And I use `CMakeDeps` and `CMakeToolchain` generators. After setting `CMAKE_TOOLCHAIN_FILE` to `conan_toolchain.cmake`, the command `CMake: Run Without Debuging` does not work. I have no idea it's due to Conan or vscode-cmake-tool. But when removing `CMAKE_TOOLCHAIN_FILE`, everything works fine.

### Environment Details (include every applicable attribute)
  * O

[2022-05-02 09:06] memsharded commented on #11140
Hi  @Bassem-Ramzy

This is 99% of the time a different line endings in Windows vs Linux, using CRLF in Windows and LF in Linux. As the git checkout does actually modify the files, the resulting hash of the recipe changes, and this is how you get the "outdated from recipe". You can see the same effect activating revisions in that you get a new, different revision in different platforms

You can get

[2022-05-02 09:13] memsharded commented on #11142
Hi @Kidsunbo

It would be great if we could reduce a little bit the scope of the steps to reproduce:

- Is docker really necessary? Is this an issue that you see if working natively, that is in Windows?
- Are the dependencies really necessary? Because if it is a CMakeToolchain issue, the CMakeDeps should be totally irrelevant, specially for running. I would suggest to try with the ``conan new hell

[2022-05-02 10:09] cedriclaplace opened #11144 "[question] How to use the 64b MSVC compiler/linker with the CMakeToolchain generator ?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hello,

As @memsharded  suggested in #5979, I open a new question about the use of the 64b version of MSVC compiler/linker.

To summerize:
We are moving from a homemade build system to Conan/CMake. We need to use the 64b version of VS compiler/linker and we didn't find a way to do tha

[2022-05-02 10:18] memsharded commented on #11139
Hi @DennisJump

I think we would need a bit more information here:

- As you are cross-compiling to armv8, it seems that you are not getting the package from ConanCenter, but rather you need to build it from sources, is that right?
- Can you provide more explicit instructions how to reproduce? I would suggest:
   1. Make sure the cache is clean, with ``conan remove protobuf* -f`` or something like

[2022-05-02 10:39] memsharded commented on #11144
Hi @cedriclaplace

Some quick check:

- Can you confirm that you are getting in your output for ``conan create``, and could you please paste a bit more of output, to see that Conan is working fine to use VS 15 - 2017 together with v140 toolset?

It seems that if we want to be able to tune this, we need to add a new ``conf``, the code inside the ``VCVars`` is:

[code]
So we can see that ``platform_

[2022-05-02 10:41] memsharded commented on #11138
Hi @spectras

Have you checked the ``--dry-build`` argument for ``conan info``? The thing is that the UI for it has accumulated some legacy, so the ``--build`` argument is used for other purpose. But ``--dry-build`` will do the same as ``conan install --build``, it should pull build-requires into your graph too. Please check and let me know.

[2022-05-02 12:26] cedriclaplace commented on #11144
Hello,

It is the ouput of a conan create command. You'll find below a full output of the create command on a hello lib project generated using conan new (using the x86_amd64, the ouput for the amd64 version is the almost same except for VS paths).

You are right, the x86_amd64 and the amd64 will produce the same binary output. We use the 64b version to solve some performance issues and memory lim

[2022-05-02 13:18] fdgStilla opened #11145 "[bug] deactivate.ps1 does not work because of DYLD_FRAMEWORK_PATH"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11 (10.0.22000)
  * Compiler+version: None
  * Conan version: 1.47
  * Python version: Python 3.10.3

### Steps to reproduce (Include if Applicable)
In a windows powershell console:
- start from template `conan new hello/0.1 --template=cmake_lib`
- add any build requirement like
[code]
- launch conan

[2022-05-02 13:25] spectras commented on #11138
Hello @memsharded. That was it!

Playing with it a bit, I even realized this nice property:
- `--dry-build=*` will pull the complete graph.
- `--dry-build=missing` will pull the complete *require* graph plus only the branches of the tool graph that are required for packages that lack a binary package.

Thanks for the fast answer! I can now generate my CI job graph matching conan deps graph, buildi

[2022-05-02 13:25] #11138 closed, assigned to memsharded

[2022-05-02 15:09] Kidsunbo commented on #11142
1. Actually, it's not necessary to docker. I just found this problem when I am using docker. I don't have PC but a Mac, and it's the same when working natively on my Mac.
2. Thanks for you remind, I find that the dependencies are not necessary. As you said, `conan_toolchain.cmake` is about `CMakeToolchain` rather than `CMakeDeps`. I use `conan new hello/0.1 --template=cmake_lib` to generate a proj

[2022-05-02 15:57] memsharded commented on #11138
Excellent, happy to hear that it is solved.
We know the UI was not the most intuitive, so we have fixed it so it will be ``conan graph info .... --build=missing`` for Conan 2.0 (also the graph will always be complete by default in 2.0).

Thanks for following up and closing!

[2022-05-02 16:03] memsharded commented on #11142
Good to know. Are the CMake presets interesting to you? Because, the CMakeToolchain, specially the ``CMakePresets.json`` generation is getting many improvements in 1.48 (to be released tomorrow, check the different PR related to "Presets" in https://github.com/conan-io/conan/milestone/198?closed=1), I think it is worth waiting for it, and trying the Presets integration directly.

[2022-05-02 16:05] wbehrens-on-gh opened #11146 "[question] Android profile targeting the wrong compiler"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
[code]

I have the above profile, as you can see the c compiler variable is `CC=$clang_host$api_level-clang` yet when I build I get
[code]

I checked and made sure that `/opt/android-ndk-r19c/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi16-clang` exists and that it

[2022-05-02 16:06] memsharded commented on #11145
Hi @fdgStilla

I think this has been solved with the new environment management, have a look to the new tools in: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html

The new templates also use this new environment management, so starting with ``conan new hello/0.1 --template=cmake_lib`` would be a good starting point to reproduce and report problems, if you see it persisting (it sh

[2022-05-02 16:09] memsharded commented on #11144
Nice, ``cmake -G "Visual Studio 15 2017"`` just wanted to make sure.

Perfect, that was the bit I wanted to confirm

Lets propose a conf to enable an arch different than the default one.

[2022-05-02 16:13] Kidsunbo commented on #11142
Sounds good. I will try it tomorrow.

[2022-05-02 17:00] memsharded commented on #11144
Hi @cedriclaplace

In https://github.com/conan-io/conan/pull/11147 I am proposing a new ``tools.cmake.cmaketoolchain:toolset_arch`` conf for this purpose. It is targeted for 1.49, as 1.48 was already closed last week, will be released tomorrow.

Thanks for your feedback!

[2022-05-02 17:03] memsharded commented on #11142
No need to close the issue until it is clear that it is solved. Don't hesitate to re-open after trying, or open a new one if you think the new Presets flow is different enough for a new ticket. Thanks!

[2022-05-02 17:29] memsharded commented on #11146
Hi @WilliamBehrens

The recipe that you are using, and the build system integration used are critical to understand what is happening.
With the new ``CMakeToolchain`` you should only need ``tools.android:ndk_path``, and the correct ``settings``, but most likely you can get rid of many of the other ``[env]`` definitions.

Could you please try with the ``conan new hello/0.1 --template=cmake_lib`` re

[2022-05-02 17:37] memsharded commented on #11137
Hi @ericriff

I think I see the issue:

[code]
This is being done in the wrong place, in the ``validate()`` method. The ``validate()`` method happens too late to actually remove options, this needs to be done in the ``configure()`` method.

Could you please check this, and if that is the case, we should move this to conan-center-index repo.

[2022-05-02 17:39] wbehrens-on-gh commented on #11146
I was able to build `hello/0.1`, the package that is giving me that error though is `ade/0.1.1f` from conan center.

[2022-05-02 17:43] memsharded commented on #11146
Yes, that is possible, packages from ConanCenter have not upgraded yet to the new toolchains and integrations, and they might not be fully prepared to cross-build to Android.

[2022-05-02 17:47] ericriff commented on #11137
I think I tried moving this to `configure` with no changes. Let me double check and get back to you.

[2022-05-02 18:02] maikelvdh commented on #10317
@memsharded is there any plan to get this still in place for Conan 2? I do think this is actually quite relevant also in relation to new lockfiles proposal as this type of "toolchain" packages are quite relevant to be captured as part of locked state.

[2022-05-02 18:19] anderson-dev commented on #10905
@memsharded I understand focus is on 2.0 but this is a regression for 1.x. Please at least change the [documentation ](https://docs.conan.io/en/latest/reference/commands/consumer/install.html#require-override) to reflect that this feature will no longer be supported in 1.x so folks can plan to either use the 2.0 alpha, a custom fork using @boussaffawalid's fix, or a custom cascaded option-based ov

[2022-05-02 18:37] anderson-dev commented on #10962
will provide repro steps within a week or so; haven't had time to come back to this recently

[2022-05-02 20:28] memsharded commented on #10317
@maikelvdh Yes, it is part of the next alpha7, to provide the right support to be able to model this kind of packages ``package_id`` correctly, which is the first important building block.

Regarding your comment about the lockfiles, I don't think it is very relevant, because the dependency graph is always evaluated complete in 2.0, so absolutely all dependencies, no matter if ``requires`` or ``to

[2022-05-03 03:01] Kidsunbo commented on #11142
Alright, the toolchain way seems not work as I said. I reopen this and try it with 1.48.

[2022-05-03 05:51] fdgStilla commented on #11145
I added how to reproduce from the conan template in the initial description.

[2022-05-03 06:38] Makogan opened #11149 "[bug] Why is the pc file in a consumer project different from the one in the package?"
I have a custom project I made, I am installing it locally through:

`conan create . -s build_type=Debug`

Inspecting `~/.conan` things look correct in particular I find the following pc file:

 `cat ~/.conan/data/NeverEngine/0.0.1/_/_/package/ba28bf1330061b5fa92951ba5e3a83282bf5ed78/lib/pkgconfig/NeverEngine.pc`
[code]

This is what I expect. I then do (in a different project):

`conan install .

[2022-05-03 07:09] cedriclaplace commented on #11144
Good news, I'll check it as soon as it is available.

[2022-05-03 07:15] Makogan commented on #10764
That affects all packages, I want to affect only the one specific package. i.e. I want a configuration for only one pakage that differs from the rest.

[2022-05-03 07:16] Makogan commented on #9822
This issue seems to have stopped with the current shaderc release.

[2022-05-03 07:16] #9822 closed, assigned to franramirez688

[2022-05-03 07:16] #9280 closed, assigned to nobody

[2022-05-03 07:53] #11144 closed, assigned to nobody

[2022-05-03 08:41] gpxricky opened #11150 "[feature] Remove or change `copy_symlink_folders` in `conan.tools.files.copy`"
Hi,

when updating our Conan recipes to be prepared for Conan 2.X me and my collegues were struggling with the implementation of the new copy method (`conan.tools.files.copy`).

Our build infrastructure might be a little bit special. Anyway, we often have the situation that the toolchain creates symlink folders and files in the `build folder`. When using the new `copy` method to copy files from th

[2022-05-03 08:56] Setre14 commented on #5584
Hi, is there any update on this issue?

[2022-05-03 09:42] memsharded commented on #11052
Closed by https://github.com/conan-io/conan/pull/11134

[2022-05-03 09:42] #11052 closed, assigned to lasote

[2022-05-03 09:46] memsharded commented on #5584
Hi @Setre14

Unfortunately not. I have also been checking this in 2.0, to see if it was more feasible, but it isn't, without a big investment.
This happens for example, because the ``test_package`` infrastructure might not be enough to test a ``python_require``, as it is not a full recipe, for example, extending a base class, or testing ``package_id()`` and ``package_info()`` functionality. In ord

[2022-05-03 09:50] Setre14 commented on #5584
@memsharded Thanks for the update.

[2022-05-03 09:52] memsharded commented on #11145
Hi @fdgStilla

Yes, you need to use the new ``-g VirtualRunEnv`` generator, that is the modern one, the ``-g virtualenv`` has already been removed from 2.0. If you want the generator to output powershell, then also add ``-c tools.env.virtualenv:powershell=True``, as the default is to generate only ``.bat`` files.

[2022-05-03 10:20] gpxricky commented on #10925
@memsharded

You are right, the error was coming from my implementation in the `test()` method which was trying to install the referenced module via

[code]

and obviously uses the default profile there (somehow related to #9193).

[2022-05-03 10:24] #10925 closed, assigned to nobody

[2022-05-03 10:35] JonathanGirardeau opened #11152 "[question] How a package can force an option value"
Hello,

Here is an example:
Package A has an option `with_feature`, with no default value.
Package B requires package A, but it works only if option `A:with_feature=True`.
Package C depends on package B. I don't want to set in package C the value of option `A:with_feature`, I want it to be defaulted to `True` because C depends on B.

I tried this in package B recipe:
`default_options = {"A:with_fe

[2022-05-03 10:37] gpxricky commented on #10777
@memsharded The `!p() {}` is just a special syntax that is supported by Git to include shell snippets (check rule no. 1 in https://git-scm.com/docs/gitcredentials#_custom_helpers). Honestly just the `!` is relevant here, the remaining part will be interpreted as shell snippet.

Anyway, the solution didn't work stable for me, so I ended up using the following solution (works fine for Windows and Li

[2022-05-03 10:39] gpxricky commented on #10603
Closing it as it is a duplicate.

[2022-05-03 10:39] #10603 closed, assigned to memsharded

[2022-05-03 10:41] gpxricky commented on #10571
Possible solution is mentioned in #10777. Therefore closing this issue.

[2022-05-03 10:41] #10571 closed, assigned to nobody

[2022-05-03 10:42] gpxricky commented on #9190
Solution works fine. Therefore closing the issue.

[2022-05-03 10:42] #9190 closed, assigned to memsharded

[2022-05-03 11:22] #11140 closed, assigned to memsharded

[2022-05-03 11:39] gpxricky commented on #10317
Is there already a plan (e.g. in your mind) how such toolchain packages may look like and how to name them?

Internally, I would consider them to be a `tool_requires` except the fact that they should be part of the `package_id`.
Handling them as special kind of `requires` has the drawback that the dependency is downloaded even if a prebuilt binary package is available - which is, at least in our e

[2022-05-03 11:47] franramirez688 commented on #11149
Hi @Makogan

I'd need to see your `conanfile.py` or something similar to try to reproduce the issue locally because it's clear that there are more differences between what you expect and what it's really creating.

[2022-05-03 12:46] fdgStilla commented on #11145
Ok thanks I will try that

[2022-05-03 12:46] #11145 closed, assigned to nobody

[2022-05-03 13:26] czoido commented on #11125
Thanks @maikelvdh  for the suggestion, I'm adding this to the 1.49 milestone so that we can consider if components support for  both MSBuildDeps  and XcodeDeps could make it into that release.

[2022-05-03 14:33] MiSo1289 opened #11154 "[bug] Error in generator 'CMakeDeps': h is not absolute"
### Environment Details
  * Operating System+version: **Linux Ubuntu 20.04**
  * Compiler+version: **GCC 9**
  * Conan version: **conan 1.47.0**
  * Python version: **Python 3.8.10**

### Steps to reproduce
[code]

### Logs
<details><summary>Click to expand log</summary>

[code]
</details>

### Other

I initially reported this as a [bug in the CCI package](https://github.com/conan-io/conan-center-

[2022-05-03 15:12] lasote opened #11155 "[feature] Compose applied configuration in one profile"
From this thread:  https://github.com/conan-io/tribe/pull/34#discussion_r862742661

The idea is to provide a way to "freeze" the applied profiles (host + build) by combining all the inputs provided, so with just one file you could reproduce a build. Some ideas:

With a different command:
`conan profile compose --profile:h=foo -s:h arch=x86 -c myconf=1 --profile_out:h=profile_host_windows_x86.txt`

[2022-05-03 15:17] memsharded commented on #11154
I am afraid this is a bug in the ``abseil`` dependency, not in the Conan client.

In the abseil ``package_info()``:
[code]

While the ``cmake_build_modules`` property must be a list. To fix it replace that with:
[code]

Reference: https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html?highlight=cmake_build_modules

Note the ``List`` part.

Transferring this to conan-center-

[2022-05-03 16:09] skoolkid opened #11156 "[question] Linux and Windows packages on same channel?"
I maintain an application that runs on Windows and Linux, and I use conan to package its third-party library dependencies for each OS platform. At the moment I upload the Windows conan packages to a user/windows channel, and the Linux conan packages to a user/linux channel.

I would like to upload both Windows and Linux conan packages to the same channel (for simplicity), but so far I haven't been

[2022-05-03 16:23] Lyvsain commented on #11044
Hi @memsharded !

You recommandation seems to works, everything was able to build in 32bits on my environement but today I got something weird about build_requires. My project needs GoogleTest for unit testing so I made it as a build_requirement :
[code]

If I run the install in 64bits, everything fine :
[code]
But then, when following your recommendation to use the two profiles approach, it does

[2022-05-03 16:37] Lyvsain commented on #11133
Hi @hsuanguo

You'll need to populate the `env` section in your profile to add custom variables
[code]

[2022-05-03 17:18] Makogan commented on #11149
The conan file that creates the package:

[code]

This creates the installed package in the system correctly.

The consuming file:
[code]

[2022-05-03 18:25] SpaceIm commented on #11152
recipe B:

[code]

[2022-05-03 20:46] fittyCent commented on #11067
hey @memsharded, thanks for your response. I got pulled off to do something else and I'm back at this, sorry.

I'm stuck somewhere and I've been trying to get through this for some time now. Here's my setup so far:

- `repo1`
   - conanfile.py
      - require dependency called `redis-plus-plus`
      - Windows generator: `MSBuildDeps`
      - Linux generators: `CMakeDeps` and `CMakeToolchain`

[2022-05-03 22:10] memsharded commented on #11067
Hi @fittyCent

I think the main conceptual thing is that you are trying to define a dependency from project2->project1 without actually modelling such dependency. When I was taking above about 1 conanfile to serve multiple subprojects, I was assuming there were actual subprojects, in which you can leverage CMake to ``target_link_libraries()`` the other targets from other ``add_subdirectory()``.

B

[2022-05-03 22:37] memsharded commented on #11156
Hi @skoolkid

Yes, using different channels for different platforms is not the right approach, it is an anti-pattern.
Conan is able to model correctly the different binaries for the different platforms, the binary management is one of its capabilities.

I'd say that you are seeing one of these behaviors:

- Your ``conanfile.py`` is omitting the ``settings = "os", "compiler", "arch", "build_type"``

[2022-05-03 22:42] memsharded commented on #11044
Hi @Lyvsain

Yes, this is because a test framework, under the 2 profiles approach, shouldn't be a ``build_require``. We have renamed them to ``tool_requires`` in latest versions, to illustrate that those requirements are mostly for executable tools, like ``cmake``, or a compiler. But ``gtest`` or a testing library, is basically a regular library that should live in the "host" context to be able to

[2022-05-04 05:33] thorsten-klein opened #11157 "[feature] set CMAKE_CROSSCOMPILING within CMakeToolchain"
conan knows, that we are cross_building or not. This information should be forwarded to cmake when using CMakeToolchain generator, so in `conan_toolchain.cmake` the cmake-variable `CMAKE_SYSTEM_NAME` should be set (which will set `CMAKE_CROSSCOMPILING` to `TRUE/FALSE` accordingly).

Ref: https://cmake.org/cmake/help/latest/variable/CMAKE_CROSSCOMPILING.html

- [x] I've read the [CONTRIBUTING guide

[2022-05-04 06:11] paulocoutinhox commented on #11008
Hi,

I recommend you check my project:
https://nativium.github.io/

Have everything about this ready to use for all platforms.

[2022-05-04 06:12] paulocoutinhox commented on #10825
It was solved and is used in my project:
https://nativium.github.io/

[2022-05-04 06:13] paulocoutinhox commented on #9448
It was solved and is used in my new project:
https://nativium.github.io/

Thanks a lot!

[2022-05-04 06:54] CJCombrink commented on #10905
This would also be useful for us in our Jenkins "nightly builds", still using conan 1.0.

That way we can do a test build against newer/other versions as part of regular CI to do some risk mitigation/planning.

[2022-05-04 07:05] gpxricky commented on #10317
I don't know the Android NDK to be honest, but I know the QNX SDP and I guess it is quite similar. Something that is a little bit difficult for me is to decide which kind of profile to use for a toolchain package.

E.g. the QNX SDP is available for different platforms, but let's assume I'm using one that is running on Linux and provides tools, libraries and header files for different target archit

[2022-05-04 07:20] gpxricky commented on #10317
I've just seen this in the documentation: https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer.

From my understanding this is a very clear recommendation how to handle and solve my profile confusion - sorry that I haven't seen it before.

Let me check if I'm right. The idea is quite similar to one of my ideas above with the exception that the `target` p

[2022-05-04 07:23] lasote commented on #10905
@anderson-dev  Sorry but this never worked in 1.X and it is an experimental feature, so it is not a regression: https://docs.conan.io/en/latest/reference/commands/creator/create.html#require-override

@CJCombrink Please note that in Conan 2.X the way to do this is using lockfiles, but, very important, lockfiles will never allow overriding a "fixed" requirement, only if the specified reference has

[2022-05-04 07:43] CJCombrink commented on #10905
Ok thanks this is useful information. Our current implementation is:
[code]

I was hoping we could get past this logic in the conanfile and extract the override to the CI setup.
Seems like this would still be the best solution even for conan 2.0

PS: I know this is not the correct place for this discussion, is there perhaps a better place to discuss better solutions or a proper feature request. Th

[2022-05-04 08:13] Makogan commented on #11149
Mostly I don't understand why the pc file installed in the consumer project is different from the one inside the conan package directory, should it not just be copy pasted?

[2022-05-04 08:52] SpaceIm opened #11158 "[feature] Expose `vs_ide_version()` in conan.tools.microsoft"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`vs_ide_version` in `visual.py` is useful for recipes aiming to support both legacy `compiler=Visual Studio` and new `compiler=msvc` during conan v2 transition.

I've started to use it in few conan-center recipes with `from conan.tools.microsoft.visual import vs_ide_version`, but it w

[2022-05-04 09:14] lasote commented on #10905
That work flow should be improved with lockfiles & Conan 2.0. We are finishing the implementation for 2.0 right now. But basically, the lock files are now a very simple json with lists of references, I think in your case you might be able to generate a `conan.lock` file, even committing it to the repository, and always if the dependency is open to be upgraded, declare it with a version range.

The

[2022-05-04 09:34] #11122 closed, assigned to nobody

[2022-05-04 09:35] memsharded commented on #11122
Summary: this was not an issue, but https://github.com/conan-io/conan/pull/11123 was merged anyway, as it was safe and looked like an improvement

[2022-05-04 09:36] memsharded commented on #9448
Thanks for the feedback @paulocoutinhox !

[2022-05-04 09:38] memsharded commented on #11158
I think this is a fair request, to help with the transition from 1.X->2.0 an abstraction for the version of VS is necessary to coexist ``msvc`` and ``Visual Studio`` settings.

[2022-05-04 09:39] memsharded commented on #11158
In any case, please don't use non documented imports in ``conan.tools.xxxx`` space. Basically every that cannot be imported with something like ``from conan.tools.xxx import yyy`` shouldn't be used in recipes, and can change at any time.

[2022-05-04 09:40] JD31 opened #11159 "Not able to build package without settings"
### Environment Details (include every applicable attribute)
  * Conan version: 1.42.2

### Steps to reproduce (Include if Applicable)
I am trying to do a recipe to deploy a data. It is not os / compiler specific.
Basically the recipe has just a name and a version, then the build step is retrieving the data from an url.
Then the package method actually packages it as desired.
It is very straight f

[2022-05-04 09:42] memsharded commented on #10764
Not sure what you mean. The ``-s pkgpattern:setting=value`` only affect packages that match the ``pkgpattern``. The example above should only affect the specific ``spirv`` package, not all.

[2022-05-04 09:45] memsharded commented on #11159
Hi @JD31

Package recipes that are building things, need to know the os, the compiler, the build_type, the architecture to build that thing. It is impossible to build them if you are not defining the settings.

Only things that doesn't need to be compiled, like a header-only library, can remove the ``settings``.

Even if ``then the build step is retrieving the data from an url.``, the thing that y

[2022-05-04 09:51] JD31 commented on #11159
Thank you for your quick help!

It is absolutely not OS linked. It is close to a header only solution.

OK. Perfect. That was confusing me.
So I guess if I try to install this dependency through a mac without settings defined, I would be able to retrieve it ?

[2022-05-04 09:55] lasote commented on #11157
The `CMAKE_SYSTEM_NAME` should be adjusted automatically already. Could you provide the profiles you are using and the Conan version? Please note that the `--profile:build` has to be specified too.

FYI. You can write a `[conf]` entry in your profile to help deduce the `CMAKE_SYSTEM_NAME`, but as I said, it should be working.

[code]

[2022-05-04 10:10] rakeshnarayanaswamy opened #11160 "[bug] "packages in build_requires not appearing in build-order.json""
### Environment Details (include every applicable attribute)
  * Operating System+version: window 10
  * Compiler+version:  ghs
  * Conan version: 1.47
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
1) conan lock create --reference {pkga/0.1.1@user/test} --locked-out={path to lock file} --build {pkga/0.1.1@user/test} --build {" --build ".join(refs.keys())}
  #the refs is a

[2022-05-04 10:53] memsharded commented on #10964
Implemented in https://github.com/conan-io/conan/pull/11151

[2022-05-04 10:53] #10964 closed, assigned to czoido

[2022-05-04 10:53] memsharded commented on #11012
Implemented in https://github.com/conan-io/conan/pull/11136

[2022-05-04 10:53] #11012 closed, assigned to lasote

[2022-05-04 10:56] SpaceIm commented on #11158
Ok. For the record there are currently 3 recipes in conan-center using `from conan.tools.microsoft.visual`: `grpc`, `libvpx` & `xapian-core`. They import `msvc_version_to_vs_ide_version`, but actually to compute the same thing than `vs_ide_version`.

[2022-05-04 10:58] czoido opened #11161 "Document available templates in conan new command"
List in the help all the pre-defined templates for conan new

[2022-05-04 10:59] franramirez688 opened #11162 "[feature] [package_id] Settings `sha` and `dumps` unified"
Unify `Settings.sha` and `Settings.dumps()` methods.

[2022-05-04 11:00] memsharded commented on #11160
Hi @rakeshnarayanaswamy

I would need a bit more details about that, because I cannot reproduce.
For example:

[code]
Results in something like:
[code]
As it can be seen, it contains the ``cmake``, which is a build_require of ``iceoryx``, and then:
[code]

[2022-05-04 11:16] franramirez688 opened #11163 "[feature] [package_id] Improve `ConanInfo` interface to add new `conf` values"
Improve the way to add new configurations from `conf` to `ConanInfo.package_id()`. Some proposals:

* Via `[conf]`: having a new configuration to indicate all the configurations to be added like `core.package_id:add=["tools.build:cxxflags"]`
* Via `conanfile.py`: having something like this code:
[code]
* ....

[2022-05-04 11:19] franramirez688 opened #11164 "[feature] [package_id] Unify `ConanInfo.dumps()` and `ConanInfo.package_id`"
Ideally `ConanInfo.package_id()` should call internally to `self.dumps` and that's it. Basically, the idea is to have something like the following function:

[code]
Depends on: https://github.com/conan-io/conan/issues/11162

[2022-05-04 11:46] SpaceIm opened #11165 "[feature] Allow to disable CMakeDeps or PkgConfigDeps in `package_info()`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Would it make sense to add a switch in `package_info()` to neutralize `CMakeDeps` or `PkgConfigDeps` of the recipe itself at consume time so that it would allow smoother integration of recipes packaging CMake config files & pkgconfig files with conan-center like recipes (where these f

[2022-05-04 11:47] skoolkid commented on #11156
Hi @memsharded

Yes, it was indeed the second issue you described. I've fixed it by adding some `.gitattributes` files to the repository, to make sure that line endings in any text files that will end up in a conan package are forced to LF, even on Windows.

Thanks!

[2022-05-04 11:47] #11156 closed, assigned to memsharded

[2022-05-04 12:06] franramirez688 commented on #11149
Hi @Makogan

I don't get anything because I'm not able to reproduce the issue. How are you consuming that recipe? I mean, the PC file installed is exactly the same for all the cases but the one that you're showing here seems to be using even a different tool. For instance:

* The first case does not have the `Description: Conan package:` format and that's the one that `PkgConfigDeps` is using.
* T

[2022-05-04 12:25] MiSo1289 opened #11167 "[bug] Conan 1.48.0 breaks CMakeDeps / CMakeToolchain"
### Environment Details
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: GCC 9
  * Conan version: 1.48.0
  * Python version: 3.8.10
  * CMake version: 3.22.2

### Steps to reproduce
`conanfile.txt`:
[code]

`CMakeLists.txt`:
[code]

`main.cpp`:
[code]

### Logs (Executed commands with output)

[code]

### Other
It can be seen that the include path to the package is not added to the

[2022-05-04 12:45] ytimenkov commented on #11155
Yes, an extra file produced on a side would help with the use-case in the tribe comment.

Having `profile_out` in same commands as `lockfile-out` is less typing and maybe somewhat convenient (at least `conan create` / `conan install --build`).

But otherwise a separate command is also fine. Then the workflow to create a package on CI would be `profile create` -> `lockfile create` -> `create`, each

[2022-05-04 13:15] ghost commented on #11167
SDL2 suffers also from this on Windows
[code]

[2022-05-04 13:16] memsharded commented on #11102
Closed by https://github.com/conan-io/conan/pull/11166

[2022-05-04 13:16] #11102 closed, assigned to memsharded

[2022-05-04 13:23] memsharded commented on #11167
@codehavik I don't think it is the same problem, in the case of @MiSo1289, it is finding the target, ``Conan: Target declared 'fmt::fmt'``, but in your case it is that there is a misalignment in the target name ``SDL2::SDL2`` vs ``sdl::sdl``. That could be a recipe issue, I recommend submitting in a separate issue.

@MiSo1289 just tried in Windows, couldn't reproduce, moving to Linux to try it now

[2022-05-04 13:29] ghost commented on #11167
@memsharded Do you know if there is an intent to use common CMake targets in conan? I mean generally SDL2::SDL2 is the target provided by cmake and it would be great to work like this. I mean, I use conan only for pulling the dependencies and I'd like to use conan in a non-intrusive way? And sorry for the confusion, I am pretty new with conan. I will add this comment to a separate issue (if it's a

[2022-05-04 13:32] memsharded commented on #11167
@MiSo1289

Conan 1.48, got a minor modification to ``CMakeToolchain``. Now ``CMAKE_BUILD_TYPE`` is not hardcoded in the ``conan_toolchain.cmake``, but instead needs to be defined in the command line (``-DCMAKE_BUILD_TYPE=Release``) or in the ``CMakePresets.json`` that we are generating now, please check it, if using latest CMake, it can be very convenient.

This change was done because defining th

[2022-05-04 13:33] memsharded commented on #11167
@codehavik

Yes, you are right, packages in ConanCenter have a mechanism to map to the upstream target names, with is ``self.info.set_property("cmake_target_name", "SDL2::SDL2")``. It is likely that the ``sdl`` package recipe in ConanCenter has not added this mechanism yet for the modern ``CMakeDeps`` integration. It makes sense to report it there (in ``conan-center-index`` repo), if not already r

[2022-05-04 13:36] ghost commented on #11167
@memsharded Thanks for helping me out! I really appreciate it. Good luck!

[2022-05-04 13:38] memsharded commented on #11165
I think this is the already existing ``self.cpp_info.set_property("cmake_find_mode", "none")``:

[code]

[2022-05-04 13:41] MiSo1289 commented on #11167
@memsharded

Thanks for the info, I can confirm that adding `-DCMAKE_BUILD_TYPE=Debug` fixes the issue; I will also try with the preset. Still, maybe the toolchain file could detect this and warn about a missing build type setting, instead of silently failing to append any flags to the targets?