[2021-01-05 13:32] czoido commented on #8287
Hi @Yurmusp,
Thanks a lot for reporting.
- For the Artifactory errors, have you tried to change the JVM Parameters by setting JAVA_OPTIONS in `$JFROG_HOME/artifactory/var/etc/system.yaml`? If that's memory related maybe [increasing the maximum size](https://www.jfrog.com/confluence/display/JFROG/Installing+Artifactory) would help with that.
 - For the return code, I have not been able to reproduce

[2021-01-05 14:07] bbandix commented on #8283
Hi @memsharded

Thank you for the quick fix!
I will keep an eye on the upcoming releases.

[2021-01-05 15:04] czoido commented on #8282
Hi @radonish,
Right now is not possible to use that kind of variables, the only workaround is doing a `conan config set storage.path=/scratchnobackup/conan_data_$
USERNAME` after the `conan config install ...` from the git repo.

[2021-01-05 15:33] memsharded commented on #8265
It is also very recommended for production to not depend directly on Bintray in production, but cache the used dependencies in your own server. Artifactory CE can set up a remote repository to proxy bintray ConanCenter, or you could "conan download" from ConanCenter + "conan upload" to your server your dependencies.

This is a general best practice for package management for all platforms and pack

[2021-01-05 16:16] dragondive commented on #8200
Hello everyone,
Does anyone have any hints or suggestions here? Let me know if some more information is needed from my side.

[2021-01-05 16:47] czoido commented on #8279
Hi @mjb6,

The problem is that in your example [at this point](https://github.com/mjb6/conan-lockfile-question/blob/d1b8ee52373683bbf64e7d43af935c09de76aa71/build-all.sh#L47) you already have a fully locked lockfile and you can't modify it integrating the changes made in `comp-b`. You should [create a new lockfile](https://docs.conan.io/en/latest/versioning/lockfiles/evolving.html#integrating-a-pa

[2021-01-05 18:17] drussel commented on #7693
This issue probably can be handled as part of the generating the data for the configuration (like conanbuildinfo.cmake)
- create a directory in your build directory with symlinks to the include/lib dirs for the referenced conan packages
- have the CONAN_PKG targets in conanbuildinfo.cmake use these instead of the absolute paths

This sort of approach would have the advantages that all user-wide da

[2021-01-05 20:03] SylvestreG opened #8288 "[bug] flex does not compile on apple sillicon"
### Environment Details (include every applicable attribute)
  * Operating System+version: MacOSX BigSur
  * Compiler+version: apple-clang 12.0 (arm64)
  * Conan version: 1.32.1
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)

conan install flex/2.6.4@ --build=missing

It looks like the recipe think I am trying to cross compile something, but I am currently on arm64 build

[2021-01-05 20:09] SylvestreG commented on #8288
if I try to remove the part about cross compiling in the recipe like that :
[code]

it go further but fails on some minor warnings, here the logs :
[code]

[2021-01-05 21:19] Yurmusp commented on #8287
Hi Carlos,

1. I need to increase physical instance RAM. So, it's a bit more work and
that's why it's not done yet.
However, it's not the point of the issue and I think the server side is out
of scope besides that it is failing in it's own way. I complain not about
the server side, but client side.
2. Return code is correct when everything is successful.
However, when web request returns an error

[2021-01-05 21:25] memsharded commented on #8287
Hi @Yurmusp

Sorry, it was not fully clear. Can you confirm that when you execute this command directly in the command line, without script, you don't get an error exit code?
[code]
This is what we cannot reproduce, it seems that Conan is returning a non zero exist code, and is working correctly.

From the output you are copying above, it seems it is your script which is not exiting with an error

[2021-01-05 21:33] memsharded commented on #8288
Hi @SylvestreG

It seems there could be 2 different things here:

- First Conan might be missing some Apple Silicon support. Some PRs are already there, some might get into Conan 1.33 to improve this.
- The flex recipe from ConanCenter might have some limitations, or even the flex library build system itself might have some difficulties to build for Apple Silicon.

For addressing the first one, it

[2021-01-05 21:35] Yurmusp commented on #8287
Hi James,

In the end of conan command-line, please observe this part:
' && break '

This part only executes if conan was successful. i.e. exited with 0 exit code.
In the original log above with shell tracing, you can clearly see that 'break' part of command is executed.
It is shown as
+break

'break' shall NOT execute in case if conan failed.
When it fails, it shall do
sleep 15 && false
and when

[2021-01-05 21:37] memsharded commented on #8288
https://github.com/conan-io/conan/pull/8262 was mapping the ``detected_architecture`` of ``arm64`` to ``armv8``. If ``armv8`` is the one that is being used in the settings instead of ``arm64`` (did you add it to ``settings.yml``?), that PR might fix this issue.

It is merged to ``develop`` branch, in case you want to try running from sources, it is possible, doing ``pip install -e .``

[2021-01-05 21:42] madebr commented on #7737
Hey @jgsogo,

I have a need for propagation of (environment) variables from a host requirement.

I'm currently working on conan recipes for a toolchain for the Nintendo Switch.
The core toolchain consists of 2 main recipes:
- devkitA64, which is a gcc arm64 compiler (target triplet=`aarch64-none-elf`).
  This package is to be used as a build requirement.
  It contains binutils+gcc+newlib, so shoul

[2021-01-05 21:42] memsharded commented on #8287
Ok, thanks for the explanation, let's us have another look then.

[2021-01-05 21:50] Yurmusp commented on #8287
Hmm,

May be it's because of retry and one of retries succeeds...
So, it prints error when it gets it, but finally succeeds.
However,  it's not clear if it is due to order of output.
Which likely is not realtime as errors might go to stderr.

[2021-01-05 21:51] Yurmusp commented on #8287
Last scenario is harder to check.

[2021-01-05 22:23] memsharded commented on #8287
I have been able to reproduce the behavior above:

[code]

It is that, one of the retries fails, but the next is able to succeed, so the whole command is considered successful and exits with return code 0.

You are right it is printing some "Error" messages, even if the final result is not an error. This is a known issue, but can't be easily changed at the moment (Conan 1.X), without breaking, but

[2021-01-06 00:11] Yurmusp commented on #8287
Ok. Thanks.
Sorry for bothering.
Did not understand it right away.

On Tue, Jan 5, 2021 at 2:24 PM James <notifications@github.com> wrote:

[2021-01-06 00:17] madebr opened #8290 "[bug] Gnu Triplet for profiles with custom os are wrong/should be able to be overriden from profile"
Hello,

I'm currently creating conan recipes for key packages for the Nintendo Switch homebrew toolchain.
For this, I have added `os=Nintendo Switch` to my `settings.yml`.

The problem I'm facing is that conan uses `os=Nintendo Switch` for generating the gnu triplets.
When building `mpg123/1.26.4`, the following arguments are passed to the autotools configure script.
[code]
Besides the fact that t

[2021-01-06 05:20] dragondive commented on #6948
I found this post by searching for error message I got when building with Visual Studio and cmake. (I don't use the Visual Studio IDE/editor, only the compiler.) The above comments from @memsharded and @shelper helped me understand and resolve the issue. I'm posting the commands I used so that it may help someone else in future.

My `conan install` settings were the same (specifically `arch=x86_64

[2021-01-06 13:54] ShamanTcler opened #8291 "Multiple compilers supporting the same ABI on Windows ( MVSC, icl (Intel) and clang-cl)"
I have seen a number of issues regarding clang:
 - https://github.com/conan-io/conan/pull/8218
 - https://github.com/conan-io/conan/issues/5896

But Intel also produces ABI compatible compilers ... and they are all FREE under the OneAPI package.

So now lets say I wanted to use Bincrafters Qt libs built for MSVC, they should work with "Clang-cl" OR "icl".

I see where there is an experimental feat

[2021-01-06 15:06] theodelrieu opened #8292 "[feature] Separate settings/options attributes for build & host contexts"
Hello,

I'm currently migrating all my recipes to be compatible with dual profiles, and I've encountered two issues with toolchain-like packages.

### recipe-declared `options` and `settings` must be the `target` ones

This is a direct consequence of the fact that there is no way to specify options/settings for a specific context.
Therefore, `options` becomes the target ones, or rather the interse

[2021-01-06 17:24] a4z commented on #8292
That's a difficult one
lets look at the ios-cmake, for example.
All you need to know is that there is a cmake toolchain, you can test that even if you are not in the host context.
or, as the ios recipe does, only test if you run in the iOS context, because you can do that with it.

you can not do that with the Android NDK, but how to verify that the NDK works? you need to build various different p

[2021-01-06 22:50] memsharded commented on #8292
Hi @theodelrieu

There are too many different things in this issue, maybe we need to split them (not now, in the future) into separate discussions.

One tip: the constraint of settings in recipes like ``settings = { "os": ["Macos"], "build_type": ["ANY"], "compiler": ["apple-clang"] }`` will probably be deprecated, and forbiden values of settings should be handled in a ``validate()`` method.

We a

[2021-01-07 08:02] blackliner opened #8293 "[bug] ERROR: 404: Not Found. [Remote: conan-center]"
Some of my coworkers came up with the following problem: When they run `conan install .. -b missing` from the build folder, they get this error message (sorry for screenshots instead of code, thats how I got it):
![image](https://user-images.githubusercontent.com/23190927/103866733-8892c980-50c6-11eb-859b-6cc601c894b0.png)

I asked them to run some commands, and these are the results:
`conan user`

[2021-01-07 08:56] theodelrieu commented on #8292
@a4z

I don't think this should be `test_package` role. To me, it's more of a safe-guard against bugs in `package_info`, e.g. wrong STL include paths, missing compiler flags and so on.

@memsharded

Glad to hear, looking forward to the discussions.

Indeed, I'm only restricting settings like that in code samples ;)

[2021-01-07 09:07] dragondive opened #8294 "[question] How to properly specify cmake version as build_requires?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I am learning how to use the `build_requires`, for example, as described in [this webinar](https://www.youtube.com/watch?v=ExpkMy6DJ6o). I have `cmake 3.18.2` installed locally. I want to build the package also with `cmake 3.19.2` without installing it locally. This is also as describ

[2021-01-07 10:03] jgsogo commented on #8293
Hi! It looks like the error is related to the line `ERROR: 404: Not found. [Remote: conan-center]`. Conan fails to get the file with the sources from the remote when it tries to. The file `conan_sources.tgz` is there (https://bintray.com/conan/conan-center/acado%3A_/1.2.2-beta%3A_#files/_%2Facado%2F1.2.2-beta%2F_%2F940076526896dd68ae1d9628aff18cb9%2Fexport). Can you check that the user/machine has

[2021-01-07 10:05] jerdna commented on #8195
I tried to do the same thing for Android. Default toolchain for Android also contains these lines:
[code]
So we can't build library that depends on another library if both are managed by conan.

I figured out that if toolchain file is set than CONAN_CMAKE_FIND_ROOT_PATH_MODE_... variables are never set:
https://github.com/conan-io/conan/blob/41315b6b90a20404665c125dd6ac30d1b30fd6a7/conans/client/b

[2021-01-07 10:27] jgsogo commented on #8294
Hi, @dragondive

A lot of exciting things have happened since 2017. You can still use `build_requires` as it is explained in the webinar (stability commitment), but now we really encourage user to start using [two-profiles approach](https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=build_requires#build-and-host-contexts) which is a more clear approach and much more powerful (a

[2021-01-07 10:54] spoofedex opened #8296 "[bug] package-id doesn't match the locked one (full_transitive_package_id and header_only)"
Hi all,

I've run into an issue, of which I've managed to create a minimal reproduction. I'm not completely sure if this is a bug in Conan, or in my use case. It is triggered when a package calls `self.info.header_only()` in the `package_id` method of a conanfile, while full_transitive_package_id is set to True. I'm not sure if this combination even makes sense, but the former was a left-over from

[2021-01-07 11:01] jgsogo commented on #8292
About testing packages that are to be used as `build_requires`: https://github.com/conan-io/conan/issues/7132 For sure we need something, and it will be useful in the context of conan-io/conan-center-index.

@theodelrieu we did some early research about this topic here (https://github.com/jgsogo/conan-poc-graph-cpp), but we need to allocate more time to keep working on the conceptualization before

[2021-01-07 11:04] jgsogo commented on #8291
Hi! You can have a look to the `compatible_packages` feature: https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html?highlight=compatible_packages#compatible-packages. Conan will generate different `package_id` for different compilers, but it will fallback to other `package_ids` if some of them is missing. Let me know if this is related to what you are looking for.

Thanks

[2021-01-07 11:22] jgsogo commented on #8290
Hi, @madebr

Yes, we totally need a way to override it, because Conan cannot know about all the triplets and we cannot keep adding `ifs` for more and more OSs to generate those triplets (my opinion)... and we cannot test that all of them actually work in our CI.

I see two alternate paths: we could add a way to extend Conan, or we could externalize this logic to packages providing build-requires (

[2021-01-07 12:08] jgsogo commented on #8296
Hi, @spoofedex

Thanks a lot for the detailed explanation and all the sources needed to reproduce it. Indeed I see different behavior when creating the lockfile (or when running `conan create/install`)  and when using it.

When creating the lockfile (or working without lockfiles), the option `pkge:test=True` is not considered in the computation of `pkgb` package-id, but when using the lockfile it

[2021-01-07 12:18] mjb6 commented on #8279
Hi @czoido
thank you very much for the clarification! I think I understood it better now 👍

Only one more doubt:
What happens if I have in addition a `comp-c`, Let's consider `integration` directly depends also on `comp-c`. Now let's say we get similar as for `comp-b` and `comp-a` a new version of `comp-c`.
But in my `integration`, I only want to update `comp-b` (and keep `comp-c` and `comp-a` in

[2021-01-07 12:27] ShamanTcler commented on #8291
It is related, in fact I mentioned it ;)

The questions are:

1) will compatible_packages support different compilers names or is it just limited to compiler versions.
2) compatible_packages is marked "experimental" ... so just how experimental is it? Will if be a standard in version 2?

[2021-01-07 12:38] memsharded commented on #8291
Hi @ShamanTcler

Yes, indeed the current implementation of the new ``msvc`` compiler setting is using ``compatible_packages`` to fall back to ``Visual Studio`` binaries: https://github.com/conan-io/conan/pull/8201. The internal management of intel compiler is also a fallback to the gcc or Visual Studio compiler via ``compatible_packages``.

I would say ``compatible_packages`` is here to stay, and

[2021-01-07 12:48] ShamanTcler commented on #8291
Thanks EXACTLY what I was looking for

[2021-01-07 12:52] jgsogo commented on #8296
I see it is related to the propagation of options from indirect requirements. I did some changes [here](https://github.com/conan-io/conan/compare/develop...jgsogo:issue/8296-transitive-reqs?expand=1) and it works, but it would break existing behavior. I did it just to understand how the propagation of this information works.

I'm sorry I don't have an answer right now for this issue, we need @mems

[2021-01-07 14:13] blackliner commented on #8293
But it should be here: https://conan.io/center/acado

Is CCI replicating to bintray, or is it actually the same repo with different frontends?

[2021-01-07 14:51] jgsogo commented on #8293
ATM, the frontend uses a database to show the information about packages, but Conan client retrieves packages from Bintray (the URL `https://conan.bintray.com` corresponds to the bintray repository I linked above).

[2021-01-07 14:58] jgsogo commented on #8280
Hi!

Some recipes can define a `name` or `version` hardcoded in the `conanfile.py` itself. You need to run `conan export` to get the full reference. Alternatively you can ran `conan inspect` to get the values for the `name` and `version` attributes. This is more or less what it is said here https://github.com/conan-io/conan/issues/6554.

But you will always need to know the path to the `conanfile.

[2021-01-07 15:02] jgsogo commented on #8291
Good! I'm closing the issue then, but feel free to open it again if you need help defining those compatible packages.

The example in the documentation is modifying the compiler-version, but you can modify whatever you want from the `info` object (settings and options).

[2021-01-07 15:02] #8291 closed, assigned to jgsogo

[2021-01-07 15:05] blackliner commented on #8293
In my OP I wrote:

So I assume the conan center was reachable?

[2021-01-07 15:11] jgsogo commented on #8293
Hi! I need to understand the scenario better:

your coworkers run `conan install acado/1.2.2-beta@ -r conan-center -b missing` and they get the error, but if they run `conan remove acado` and then `conan install acado/1.2.2-beta@ -r conan-center -b missing` it works? I have one question: where does the already existing `acado` recipe come from? Why do they have something in the cache? (you can run

[2021-01-07 15:14] michaelmaguire commented on #8280
Thank you!  https://docs.conan.io/en/latest/reference/commands/misc/inspect.html works:

[code]

inspect-output.json

[code]

[2021-01-07 15:14] #8280 closed, assigned to jgsogo

[2021-01-07 15:20] blackliner commented on #8293
Yes

It also comes from conan-center. But we had problems with `compiler.libcxx=libstdc++` in the default profile and had to switch to `compiler.libcxx=libstdc++11`, so maybe that is related?

[2021-01-07 15:44] jgsogo commented on #8293
If I look for that package in the default `conan-center` remote I can find the packageID you are looking for:

[code]

You can see that a packageID like the one you are building does exist:

![image](https://user-images.githubusercontent.com/1406456/103912022-12628700-5107-11eb-872c-2246c3d56a8f.png)

It makes me think that you are not getting the recipe nor the packages from `conan-center` remote

[2021-01-07 16:34] jgsogo commented on #7737
There is always a counterexample 😅

So, in this example it is the host-requirement the one that provides a _link-script_ and you need to use that link-script to build/link your library/application with the `libnx` library, right?

A workaround would be to add `libnx` as a requirement but also as a build-requirement (like we already do with other packages like `protobuf`). IMO this `libnx` is more

[2021-01-07 16:38] blackliner commented on #8293
I cannot think of any other source, because our own, inhouse Artifactory is not ready yet, and there was ever only one version of this recipe on CCI (the second PR is to be merged atm).

But `--update` is a good hint, do you think it makes sense to run it always, with every call of `conan install`?

[2021-01-07 16:44] madebr commented on #8290
Hello @jgsogo !

I totally agree.
The number of operating systems (*M*) and number of packages (*N*) is *M x N*.
It's untenable to have to update every recipe for every new operating system.
So some abstraction would be nice.

Conan needs more hook(s) and override(s).
I will open new issues as they arise, so we don't mix things.

I would compare the desired feature with [`CONAN_CMAKE_SYSTEM_PROCES

[2021-01-07 16:45] jgsogo commented on #8293
Well, if you use `--update` you will get the latest recipe revision from ConanCenter. As you know, those recipes change and evolve, typically for the better, but new versions might break your existing builds (new options, added components, CMake target names,...) and, if you need to build from sources because you use a custom configuration you need to build from sources whenever you get a new reci

[2021-01-07 17:03] madebr commented on #7737
Hehe, that's a fact of life. There is always an exception :stuck_out_tongue:

Yes.
The `devkitA64` is a general aarch64 compiler toolchain (with some patches), for which `libnx` is the one that gives specializations for the *Nintendo Switch*.

Adding libnx as a build requirement does not work as it's a cross building package.
`os`/`arch`/`compiler` of the host (=`os="Nintendo Switch" arch=armv8` d

[2021-01-07 17:03] jgsogo commented on #8290
Yes, I would say that there are two possible paths: environment variables and Conan extensibility.

---

Environment variables.

We really want to get rid of environment variables because they make the build not reproducible (we are not going to capture them in the lockfiles), but given the current implementation of the Android NDK and some requirements from other packages that provide toolchains

[2021-01-07 17:12] jgsogo commented on #7737
There is no need for a `libnx_installer` package. The same package may have different libraries/components depending on the settings. Not sure if it makes sense, but I'm sure you know how to do it, you are a master of packaging 😄

Maybe something like this, I think it is easier to write and read:

[code]

[2021-01-07 17:41] madebr commented on #8290
Thanks for explaining me why there is desire to move away from the conan environment variables.

As autotools are not executables, but shell scripts, a `CONAN_AUTOTOOLS_EXECUTABLE` argument is not wanted.
CMake is very standardized, autotools is very diverse.
Not every configure script is created by GNU autotools.
So always adding `--host=...` would make some packages fail. `AutotoolsBuildEnvironm

[2021-01-07 17:43] blackliner commented on #8293
Yes, we will move the the inhouse Artifactory soon, but as this one has a remote-repo pointing towards the official CCI repo so no one has to do any manual updates. I hope this will get better with recipe revisions, right?

Back to the bug, I can ask the next guy that has such a 404 problem to run `conan remote list_ref`, but my guess is it comes from `conan-center`

[2021-01-07 18:08] madebr commented on #7737
Thanks for the super hint!
I know how to do common things, but this is the first time I hear about `self.context`.
I guess `self.context` is a mnemonic for a way to determine the context?
It's not on https://docs.conan.io/en/latest/systems_cross_building/cross_building.html

Anyhow, I got it to work with adding the following code to the *libnx* recipe:
[code]
I couldn't do:
[code]
Because otherwis

[2021-01-07 18:17] memsharded commented on #7863
https://www.jfrog.com/jira/browse/RTFACT-23580 has been resolved and closed, so I guess this will be released in next Artifactory version (7.13).

There is nothing more that we can do here in the client side, so I am going to close this issue now. Please create a new one if after upgrading to next Artifactory 7.13 the problem persists. Many thanks!

[2021-01-07 18:17] #7863 closed, assigned to memsharded

[2021-01-07 18:29] memsharded commented on #7818
This PoC was successfully done.
The test suite is already running pytest, nose has been removed, tests are marked with pytest.mark to annotate different tools, and CI is running with it.

There will be continued work improving the CI pipeline, testing with different versions of the tools, etc, but that will be in other issues and PRs, closing this one now.

[2021-01-07 18:29] #7818 closed, assigned to lasote

[2021-01-07 18:59] memsharded commented on #8296
I am trying to reproduce this, but so far without success:

[code]
This works fine, it doesn't error.
The lockfile does not contain the options part:
[code]
There might be some other detail that I am missing, could you please have a look and check? Thanks.

[2021-01-07 19:05] SylvestreG commented on #8288
hi sorry for the response delay.

I've tried with the develop branch and got the same error, here is the log :

[code]

Using this Conan version :
[code]

flex still think that I am cross-compiling 😭

[2021-01-07 20:19] #8283 closed, assigned to nobody

[2021-01-07 21:03] memsharded commented on #8288
Hi @SylvestreG

What I was suggesting was to try to use the existing default settings. What you see in the output should be:

[code]
Not the custom ``arm64``.

The current mapping implemented in the develop branch maps the detected ``arm64`` to the ``armv8`` Conan setting. But as Conan internally will check the ``detected_architecture()`` and will understand it as ``armv8``. If your defined settin

[2021-01-07 23:43] seflue opened #8302 "[bug] "ERROR: Failed to parse: remote-url/v1/ping" from WSL2"
When I try to run conan from WSL2 with Ubuntu 20.04 in Windows 10 it fails, when it tries to ping-check the remote url with:

ERROR: Failed to parse: https://conan.bintray.com/v1/ping

Running the same statement from a virtual machine (also Ubuntu 20.04) works fine.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 with WSL2 running Ubuntu 20.04

[2021-01-08 00:16] memsharded commented on #8302
Hi @seflue

It could be an issue of the dependencies, installed in the WSL2. How did you install Conan, via pip?
Could you compare the Conan dependencies, with something like ``pip list`` in both the WSL and the VM?

Thanks!

[2021-01-08 00:28] seflue commented on #8302
Yes, I installed it with pip in both environments, WSL2 and in the VM.

And interestingly the dependencies are actually different. I try to compile a short and clear overview of these differences and keep you updated. Thanks already for your help.

[2021-01-08 00:38] SylvestreG commented on #8288
hi,

I update to armv8 my profile and it works like a charm using develop branch

thanks !

[2021-01-08 00:43] memsharded commented on #8288
Excellent! happy to hear that it is working.

Then, this is already solved and will be released in Conan 1.33, I think the issue can be closed, but don't hesitate to comment or to create a new one if necessary. Thanks for all the feedback!

[2021-01-08 00:43] #8288 closed, assigned to memsharded

[2021-01-08 01:06] seflue commented on #8302
Ok, I found the issue. The version of the package 'six', which is required by 'fastener' was only on 1.11.0 in WSL2 while it was on 1.14.0 in the VM. When I upgraded it, all worked fine. I did also downgrade 'six' in my VM and got the same error as in WSL2 before. When I upgraded it again, the error vanished.

So maybe the dependencies should be set a bit tighter, because 'fastener' accepts 'six'

[2021-01-08 08:57] jgsogo commented on #8290
There is some work in the context of the new toolchains that can add some light to this issue:
 * We need to pass some _configuration_ to the inner classes, this is like passing arguments to the generators. One of those arguments could be the `gnu_triplet`, let's wait and see how it starts to look like once we have a POC.
 * With CMake we are moving from command-line arguments to toolchains becaus

[2021-01-08 08:58] jgsogo commented on #8293
Check also the recipe revision they are using (if they have revisions enabled).

[2021-01-08 10:06] theodelrieu opened #8303 "[bug] cmake generator does not write build requirements info when using dual profiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Big Sur
  * Conan version: develop (1.33.0-dev)
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)

With this `conanfile.py`:

[code]

Run `conan install . --profile:host=default --profile:build=default`

The generated `conanbuildinfo.cmake` does not contain `doctest` targets, bu

[2021-01-08 10:12] dmn-star opened #8304 "[feature] compiler.cppstd should be set to the IDE default, if not provided."
All recent major IDEs (VS, XCode, Clion) pass the **default IDE** c++ language standard **settings** (-std=c++<...>)  to the compiler. [According ](https://docs.conan.io/en/latest/howtos/manage_cpp_standard.html)  Conan will detect the default language standard of compiler, if the compiler.cppstd option not set.  But it will detect the default compiler[ mode](https://github.com/conan-io/conan-cent

[2021-01-08 10:32] theodelrieu commented on #8303
This is because of the line `all_flags = cmake_dependencies(dependencies=self.deps_build_info.deps)`.

`self.deps_build_info` is empty when using dual profiles

[2021-01-08 10:46] theodelrieu commented on #8303
I've added logs in `model/conan_generator.py:

With `--profile=default`:

With dual profiles:

Seems that generators do not support `user_info_build`

[2021-01-08 10:49] jgsogo commented on #8302
FYI, I've tried in MacOS and it works with `six==1.11.0` and `fasteners==0.15`.

We are [deprecating Python 2 in Conan v2.0](https://github.com/conan-io/tribe/blob/main/design/003-codebase-python.md), I would expect getting rid of the `six` requirement too. In Conan 2.0 we should probably upgrade `fasteners` requirement to a newer version (likely by that time `>0.16` which drops support for Python

[2021-01-08 10:51] jgsogo commented on #8296
@memsharded , you are missing `pkgd -> pkge` requirement.

[2021-01-08 11:22] aslynatilla opened #8305 "[bug] Installing conan through Windows installer results in conan.exe being quarantined by Windows Defender"
Installing conan through the official installer results in conan.exe being quarantined by Windows Defender, that recognizes it as a Trojan. The informations Windows offers are available at [this link](https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=Trojan%3aWin32%2fZpevdo.B&threatid=2147729093).
I believe this might be a false positive.

Also note that Windows De

[2021-01-08 12:00] jgsogo commented on #8303
Hi, @theodelrieu

This is probably a limitation of the `cmake` generator. With the current syntax there is no way to differentiate between a package coming from _host_ context and the same package from _build_ context if both have the same name (i.e.: `protobuf`). It would require variables like `CONAN_USER_<PKG-NAME>_<VAR-NAME>` and `CONAN_USER_<CONTEXT>_<PKG-NAME>_<VAR-NAME>`.

Doable, but not s

[2021-01-08 12:16] jgsogo commented on #7737
@madebr The `self.context` doesn't exist, it was a syntax suggestion.

I wouldn't modify the settings in the `configure`, I'm sure it is not recommended. Let me draft the `conanfile.py`:

[code]

This is the same package generating completely different packages depending on settings. I did something similar for a working Android-NDK recipe here (https://github.com/jgsogo/conan-center-index/blob/an

[2021-01-08 12:24] memsharded commented on #8302
six 1.11.0 also seems to work fine in Windows at least. Seems specific to Linux.

I have labeled this as Conan 2.0, where six will be removed and this will be gone. Not worth to change this now, which could break other users that depend on older six versions.

[2021-01-08 12:47] seflue commented on #8302
Strange, that the error occurs only in Linux environment. Thank you @memsharded for your help. And at least now the error is googlable. 😉

[2021-01-08 12:49] memsharded commented on #8305
Thanks for reporting @aslynatilla

VirusTotal is reporting this as well: https://www.virustotal.com/gui/file/444a6694319932fb2ec423cc4d1de3a50de7190556f8c44ba14a0e1cf7391ac9/detection

This detection is new, it is necessary to have a look.

[2021-01-08 12:53] theodelrieu commented on #8303
Indeed, the Finddoctest.cmake is only generated when `--profile default` is used.

I don't know how I can workaround this issue, I don't want to revert to `os_build/arch_build` but I might not have a choice here...

[2021-01-08 12:58] memsharded commented on #8296
Thanks, able to reproduce with:

[code]

The package_id_mode and revisions do not affect, it is the full_transitive_package_id that is affecting (removing it solves the issue too)

[2021-01-08 14:26] uilianries commented on #8305
I can confirm the same behavior: Windows 10 ; Version 10.0.18363 Build 18363

Let's investigate, thank you for reporting.

[2021-01-08 16:14] blackliner commented on #8293
Got it now on our CI, after runing `conan upload "*" --confirm -all --parallel --remote luminar`:
[code]
It is not a dockerized environment, and another PR might have introduced the package on the machine. Is there a way I could debug this, given I have access to the node?

[2021-01-08 16:44] jgsogo commented on #8293
Yes, please:
 * Is there anything else in the log? Does it fail for a specific package-ID or _just the first one_?
 * Get the recipe revision you have locally (in the cache): `conan info yaml-cpp/0.6.3@`
 * Get the recipe revisions you have in your remotes: `conan search yaml-cpp/0.6.3@ -r conan-center` and `conan search yaml-cpp/0.6.3@ -r luminar`
 * Get remotes and URLs (just in case): `conan re

[2021-01-08 16:56] blackliner commented on #8293
Alright, here is the data:

Others work in this run, see the following log:
<details><summary>Jenkins LOG</summary>
<p>

[code]

</p>
</details>

<details><summary>conan info yaml-cpp/0.6.3@</summary>
<p>

[code]

</p>
</details>

**WARNING HUGE LIST**

<details><summary>conan search yaml-cpp/0.6.3@ -r conan-center</summary>
<p>

[code]

</p>
</details>

<details><summary>conan search yaml-cpp/0.6

[2021-01-08 17:10] jgsogo commented on #8293
I forgot two more commands:
 * Recipe revisions in the remotes: `conan search yaml-cpp/0.6.3@ --revisions -r conan-center` and `conan search yaml-cpp/0.6.3@ --revisions -r luminar`
 * Recipe revision locally (substitutes the failing `conan info` command): `conan search yaml-cpp/0.6.3@ --revisions`

[2021-01-08 17:12] jgsogo commented on #8293
I didn't expect  `conan remote list_pref yaml-cpp/0.6.3@` (try with the trailing `@`) to return an empty list... I would expect your Jenkins node to contain at least one package, isn't it?

[2021-01-08 17:22] blackliner commented on #8293
<details><summary>conan search yaml-cpp/0.6.3@ --revisions -r conan-center</summary>
<p>

[code]

</p>
</details>

<details><summary>conan search yaml-cpp/0.6.3@ --revisions -r luminar</summary>
<p>

[code]

</p>
</details>

<details><summary>conan search yaml-cpp/0.6.3@ --revisions</summary>
<p>

[code]

</p>
</details>

Yes, there are a few in it, for example `conan remote list_pref acado/1.2.2-

[2021-01-08 17:30] noctera opened #8307 "[bug] conanfile.txt not found when using Github Actions"
I want to setup a workflow with Github Actions, but unfortunately conan is telling me that it didn't find my conanfile.txt although it is showing up when executing ls
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version: 1.32.1
  * Python version: 3.9.1

### Steps to reproduce (Include if Applicable)
I'm using th

[2021-01-08 17:56] jgsogo commented on #8293
I didn't expect this output:

[code]

You have a revision `0`, which means that you uploaded the packages at some point in time using a Conan client without revisions configured. Is this expected? Are you using revisions or not? I encourage you to use always revisions, [it will be the default (and only way) for Conan 2.0 ](https://github.com/conan-io/tribe/pull/16).

Then I see a duplicated revisi

[2021-01-08 17:59] noctera commented on #8307
I found out that the conanfile is lying in ```/home/runner/work/vocascan-server/vocascan-server/conanfile.txt``` but Conan is searching it in ```/home/runner/work/vocascan-server/conanfile.txt``` Does anybody know how to specify the path of the file when executing the command?

[2021-01-08 18:15] memsharded commented on #8307
First a warning: read the warning. The default profile is using libstdc++, not libstdc++11 which is likely your default. You might want to run ``$ conan profile update settings.compiler.libcxx=libstdc++11 default``, but the recommended way for production is to use your own profiles (maybe managed in a git repo and installed with ``conan config install`` )

The path when you execute the command
[co

[2021-01-08 18:16] blackliner commented on #8293
**Regarding revisions**: Our Artifactory is configured to only support revisions, so everyone that tries to upload without revisions enabled, gets an error. Happened to me a few times, so I do not know how this could have happened.

**Main issue**: yes, we all (and especially the CI node that has this error) use this following config, which is `conan config install`'d with every build:
[code]

`tr

[2021-01-08 18:22] blackliner commented on #8293
I am on the agent right now, ran `conan upload yaml-cpp/0.6.3 --all --confirm --remote luminar`:
[code]

Is there a `DEBUG` mode or such? Nvm: `export CONAN_TRACE_FILE=/tmp/conan_trace.log`:
[code]

[2021-01-08 18:29] blackliner commented on #8293
Yes, we have setup a remote repo pointing to `conan-center` to have access to all packages when we stop using `conan-center` in our `remotes.json` and purely rely on our internal Artifactory server (not yet, but soon)

[2021-01-08 18:37] noctera commented on #8307
Sorry for labelling it as a bug, it was totally my fault. Github Actions is always returning to the root directory after every executed command. So I have to write ```cd build && conan install .....```(together with &&)  instead of separated.

 Thanks for your help and the tipp with the profiles :)

[2021-01-08 18:50] uilianries commented on #8305
Interesting, when generating locally, I can't reach the same result:

Conan 1.32.1
https://www.virustotal.com/gui/file/96810eda4356b39664dbf607b9e04fefa75865d4474ae655d589e5c899b67caf/detection

Conan 1.33 (dev)
https://www.virustotal.com/gui/file/16f3276accf34068406c86cd059e2cb28eedd6c6197367bbb4531188ac9e19c5/detection

I've used Inno Setup 5.6.1 (a)

[2021-01-08 18:51] memsharded commented on #8307
Oh, yes, I see, indeed, I didn't realize that Github actions don't keep the cwd, so yes, you would need to do that.

If that is solved, please close the issue, and don't hesitate to open new ones for further questions. Thanks!

[2021-01-08 18:52] #8307 closed, assigned to memsharded

[2021-01-08 19:03] memsharded commented on #8305
We need @czoido to have a look to the CI agent that is generating this installer.

[2021-01-08 19:08] memsharded commented on #8305
Innosetup used in CI is 6.0.5 (u)

[2021-01-08 20:13] uilianries commented on #8305
Generating with Inno Setup 6.0.5, I obtain the exactly same sha256, which means, from Inno 5.x to Inno 6.x, the result is the same. We have to investigate it on CI side.

[2021-01-09 00:46] memsharded commented on #8305
I have generated them locally and got some detections too: https://www.virustotal.com/gui/file/0c7065e0c1104e2fed80a0d052a9aa267a489338c0106f2c921c1cc0a7ea59d0/detection

No idea yet what could be the differences

[2021-01-09 13:00] dragondive commented on #8294
Hello @jgsogo
Thanks for the explanation. I understood why it wasn't working.

I was building my code in a "standalone" manner, that is, only consuming the package. By calling `conan create` to create a package, the `build_requires` package is used in the build.

[2021-01-09 13:00] #8294 closed, assigned to jgsogo

[2021-01-09 14:27] kzjeef commented on #6627
I have same issue , @apolon81  did you solve this issue ? could you share how you u it ?

thanks.

[2021-01-09 15:03] ghost commented on #6627
My solution is in the "problem statement" section above. Cross compilation works fine, only the docs contain outdated tutorials (which were probably valid for older NDKs).

[2021-01-09 16:25] dragondive opened #8309 "[question] How to avoid shared library getting linked into the executable?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm trying to create a demo to show use of Conan with a pre-built shared library. I made a small package using `export-pkg` which includes only the header file and the `.so` file as below:

    [random/0.1@aravind/testing]
    - include/
      +- random.h
    - lib/
      +- librandom

[2021-01-09 19:07] blackliner commented on #8293
Got it again, this time on my laptop. Interestingly, it shows a suspicious line before the error now:
[code]

And before the build starts, this line is in the log:
[code]

`conan search zeromq/4.3.3@ --revisions`
[code]

Very weird, I would expect this always works:
`conan install zeromq/4.3.3@ -b zeromq`
[code]

[2021-01-09 19:29] blackliner commented on #8293
from `CONAN_TRACE_FILE=/tmp/conan_trace.log conan install zeromq/4.3.3@ -b zeromq`
[code]

suspicious line
[code]
especially `"url": "https://conan.bintray.com/v2/conans/zeromq/4.3.3/_/_/revisions/0/files"` << this url does not exist, right?

[2021-01-09 20:22] tonka3000 commented on #7463
Hey @memsharded ,

my answer is a little bit late, but I'm working now to make my python code reusable.

I try the `python_requires` approach (I use the same recipe `MyBase` as in your [docs](https://docs.conan.io/en/latest/extending/python_requires.html#extending-base-classes)) because it make a lot of sense now. I just export my helper recipe (conanfile in a subdirectory of the project repo) in

[2021-01-09 21:25] dmn-star commented on #8309
nothing so it works on windows

Standard Search Order for Desktop Applications

The standard DLL search order used by the system depends on whether safe DLL search mode is enabled or disabled. Safe DLL search mode places the user's current directory later in the search order.
Safe DLL search mode is enabled by default. To disable this feature, create the HKEY_LOCAL_MACHINE\System\CurrentControlSet

[2021-01-09 21:28] dmn-star commented on #8309
Try to remove librandom.**a** as a quick workaround.

[2021-01-09 21:56] memsharded commented on #8309
``${CONAN_LIBS}`` contains all libraries that are listed in the dependencies. There could be different things you could do:

- In the recipe of the package, do not add the library to ``self.cpp_info.libs``. It will not be contained in the CONAN_LIBS var, and it will not be linked.
- Do not link with CONAN_LIBS var, but use specific CONAN_PKG::other_pkg variables, one per package you actually want

[2021-01-09 22:42] memsharded commented on #7463
Hi @tonka3000

The good thing is that you could do both, ``python_requires`` are independent from regular requires. So something like this might work:

[code]

(Please also note that you should be using lowercase package names whenever possible, it is very likely that this will be required for Conan 2.0)

However the above has a big problem, if the ``requires`` is overridden from downstream, to so

[2021-01-10 08:25] czoido commented on #8305
Hi @aslynatilla,

Thanks a lot for reporting. This problem is related to a [known issue when generating executables with pyinstaller](https://github.com/pyinstaller/pyinstaller/issues?q=is%3Aissue%20virus%20is%3Aclosed) in which some antivirus mark the generated files as dangerous erroneously.
Looks like compiling our own bootloader files for pyinstaller instead of using the pre-built ones [could

[2021-01-10 20:32] tfar opened #8310 "[bug] random assert node.package_id != PACKAGE_ID_UNKNOWN when building project"
When trying to build a project from a clean Conan cache, I sometimes receive the following error in conan:

[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 11.1
  * Compiler+version:  AppleClang 12.
  * Conan version: Conan version 1.32.1
  * Python version: Python 3.9.1

I also ran:
`conan config set general.full_transitive_package_id=1`

I

[2021-01-10 20:41] memsharded commented on #8310
Hi @tfar

This error might happen when you have enabled ``default_package_id_mode=package_revision_mode``.
That assert is there to ensure the data is ok, so if hitting that line, there is something indeed not working correctly in Conan.

The only thing is that it shouldn't be random at all, but very reproducible. Specially if it can happen in a clean cache, it should happen always running the same

[2021-01-10 21:55] memsharded commented on #8296
I have been investigating this and seems very challenging to fix. The changes done in https://github.com/conan-io/conan/compare/develop...jgsogo:issue/8296-transitive-reqs?expand=1 are too breaking, they will change the existing package_ids of many users. I am checking other alternatives, but seems a really bad alignment of full_transitive_package_id + options + lockfiles + header_only, not sure w

[2021-01-10 22:25] madebr opened #8311 "[bug] MesonToolchain does not pick up CC/CXX from build requirements (in build profile)"
The compiler paths of a build requirement with a cross compiler that sets the CC/CXX environment variables
are not available in `conan_meson_cross.ini`.

I have a build requirement that sets some compiler variables:
[code]

But the `[binaries]` section of the cross file remains empty.

When I run conan with `CC=abc conan create .... -pr:h ... -pr:b ...`, then `c = 'abc' is present in the `binaries

[2021-01-10 22:33] madebr commented on #8303
@theodelrieu
Why do you add doctest as a build requirement?
doctest is a header-only library. Shouldn't it be a requirement?

[2021-01-10 22:45] madebr opened #8312 "[feature] Allow modification of system/cpu_family/cpu/endian in generated MesonToolchain toolchain file"
Hello,

I'm currently creating recipes+packages aimed for the Nintendo Switch.
I added `Nintendo Switch` to `os` in my `settings.yml`.

While creating a recipe for the mesa port, I'm using the MesonToolchain class.
This creates the following section:
[code]

The correct data for nintendo should be:
[code]

What I'm asking for is a feature to override these default/calculated values.

Right now, th

[2021-01-10 22:58] madebr commented on #8290
I think this problem is similar to my problem with the meson toolchain #8312.
It would be nice to override values from profile/build_requirement.

It would be nice to have a framework to do this uniformly,
such that not every toolchain must re-implement this.

[2021-01-11 03:46] dragondive commented on #8309
@memsharded Thanks for the hints.

Turns out my previous understanding was wrong. After spending some time reading through the cmake documentation and examining the generated `conanbuildinfo.cmake`, the shared library *is* already loaded at runtime. I verified this by renaming the `librandom.so` file in the conan cache, then the application is unable to find it at runtime. If it was embedded into

[2021-01-11 03:46] #8309 closed, assigned to memsharded

[2021-01-11 05:01] madebr opened #8313 "[bug] self.user_info_build does not contain user_info variables of build_requirement"
When using cross build profiles, the *user_info* variables of a *build requirement* are not available in [*self.user_info_build*](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#user-info-build).

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 16
  * Conan version: 1.32.1
  * Python version: 3.9.1

[2021-01-11 05:43] SSE4 commented on #8311
@jgsogo do you have an idea why could it happen? e.g. meson tests use CC from the conan profile, and it works flawlessly

[2021-01-11 05:44] SSE4 commented on #8312
it shouldn't be that hard to implement. however, I'd like to ensure we're aligned with interfaces (e.g. with AutoTools/CMake on how do they set custom GNU triple or CMAKE_SYSTEM_PROCESSOR).

[2021-01-11 08:28] tfar commented on #8310
All my projects have
[code]
in their `conanfile.py`, which might be the same as `default_package_id_mode=package_revision_mode`. 

What could cause the data not being correct?

Well. Specifically I run `rm -rfd ~/.conan/data/* && rm -rfd build && and make` which runs cmake & conan. Sometimes this succeeds. Sometimes I get the error mentioned in the ticket.

I'm happy to add some `print` debugging

[2021-01-11 08:46] foundry-markf opened #8314 "[question] How to model header only libraries that have a runtime dependency?"
Hi,

Tha basic question is which model to use for recipes that are header only libraries that have a dependency at runtime on a library? It doesn't get covered in https://docs.conan.io/en/latest/howtos/header_only.html.

A example of this is cppzmq, as it's modelled here: https://github.com/conan-io/conan-center-index/blob/master/recipes/cppzmq/all/conanfile.py

It has `settings`, and `requires` (

[2021-01-11 10:24] mathbunnyru opened #8315 "[feature] Validate includedirs directories - check that they exist"
It would be great, if after `package_info()` Conan validated if all the directories set in includedirs do exist.
That would decrease the number of recipes with errors.

For example:
https://github.com/conan-io/conan-center-index/pull/4176/

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-01-11 10:25] mathbunnyru commented on #8315
I do think, that this is a useful check to have, but I'm not sure where it should be implemented - it might be that the hooks is the best place.

If it's about hooks, please move the issue.

[2021-01-11 10:26] mathbunnyru commented on #8315
And if community agrees, I want to implement this feature myself - I think it's relatively simple, and I will get familiar with conan or conan-hooks development workflow.

[2021-01-11 10:51] memsharded commented on #8315
Hi @mathbunnyru

Thanks for offering to contribute this feature. Could you please clarify? The ``cpp_info`` already contains a feature (``filter_empty``) that will filter out non existing directories. Do you have some idea how you would approach the implementation?

[2021-01-11 10:54] mathbunnyru commented on #8315
I think, if someone adds the path which doesn't exist to the `includedirs`, the package should output the error or even raise the error. It will tell the user that something is not as the user might expect.

I see 0 `filter_empty` usages in the CCI repo.

[2021-01-11 11:02] memsharded commented on #8315
I see. Just beware than in some contexts (like ``editable`` packages), the ``cpp_info`` might be pointing to a directory that doesn't exist yet (it will be populated later), so you might want to not raise an error in that case. There are also other extreme use cases, like users pointing to absolute paths (system proxy packages), that do not exists yet either, and Conan should not be raising.

Yep,

[2021-01-11 11:24] czoido commented on #8305
Just one extra note to confirm this behaviour. After testing the default bootloader files distributed by pyinstaller for Windows most of them [report false positives in virustotal](https://www.virustotal.com/gui/file/8eb8f51f3f41ef2f20d3e9e9908cecc1e0c6d910b5a49963e2a7ac0a4187de9d/detection).

![image](https://user-images.githubusercontent.com/5045666/104176528-ae420a80-5407-11eb-9e9c-d75abe8e011b

[2021-01-11 11:35] jgsogo commented on #8303
Hi, @theodelrieu

We've been talking about this issue (and related ones) and the path will be as follows:
 * Conan will (1.34?) generate a file with all the information from `cpp_info` in plain CMake format. This file will contain the information as plain as possible. It will be hard to define the name of all the variables, but the file will contain information from all the packages in _host_ and

[2021-01-11 11:44] mathbunnyru commented on #8315
Yes, if theoretically it can be implemented as a hook, that would be better I suppose.
The problem is I don't know at all how hooks are implemented 😂

[2021-01-11 12:03] SpaceIm opened #8316 "[bug] Inject PIC through CMake helper if shared and fPIC option not exists"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`definitions["CONAN_CMAKE_POSITION_INDEPENDENT_CODE"] = True` should be injected if not Windows, shared option exists but not fPIC option.

Indeed, CMake files of projects might rely on intermediate OBJECT or STATIC targets linked into SHARED targets.

So basically remove this conditi

[2021-01-11 13:24] spoofedex commented on #8296
Hi all,

Thanks for the quick and good responses, once again!
For us, we have simply worked around it by removing the header_only call. This may have have some small impact on performance/disk usage, but I don't expect it to cause any issues. So we're not in a rush for a solution.

Best regards,
SpoofedEx

[2021-01-11 13:29] a4z opened #8318 "[feature] lock files should contain (optional) a remote"
Installing dependencies via a lock file is awesome, the lockfile contains the whole profile information, and package revisions, so when distributing lock files to a project, a project is nearly independent of the config a developer has on their machine.

Back then , I needed to setup everything local
[code]
publish the config, and make users run `conan config install. ...`

while `conan config ins

[2021-01-11 13:46] spoofedex opened #8319 "[bug] self.run with StringIO affected by print_run_commands"
Hi all,

In some cases we use Conan to fetch some compilation flags through the command line (e.g. through wx-config/pkg-config). We do this by using self.run with a StringIO. This was working fine, until we decided to enable the print_run_commands option; now, the output in the StringIO also contains the command being executed. This causes parsing to fail (and to be impossible to do in a well-def

[2021-01-11 15:16] blackliner commented on #8318
We have this in our build script, to ensure reproducibility:
`conan config install conan/config` with 2 files in that folder:
`conan.conf`:
[code]
`remotes.txt`:
[code]

[2021-01-11 15:21] a4z commented on #8318
the basic idea is to not need such work arounds, a user/developer can configure whatever they want, but when working with the_project, they install dependencies via a lockfile, and all the infos are there, in the lockfile.

[2021-01-11 16:36] jgsogo commented on #7719
Back to the original question in this issue. Copying here the comment in https://github.com/conan-io/conan/issues/8303#issuecomment-757894304

With this approach, build-modules of packages coming from _build_ context will be available in that file. Those build-modules from the _build_ context won't (probably) be automatically included, but the paths to those build-modules will be available in a CM

[2021-01-11 17:40] madebr commented on #8316
Please don't do this automatically.
Always allow for an override.
How about the following?
[code]

Thanks.

[2021-01-11 18:12] jgsogo commented on #8290
The new proposed `conf` mechanism (https://github.com/conan-io/conan/pull/8266) can be enough to do this kind of overrides... assuming that the build-helper/toolchain takes its value into account. We cannot go crazy and start reading everything from outside, but it should be flexible enough: the Nintendo Switch setting and the override will be contained in the same profile file 🎉

If merged, we sh

[2021-01-11 18:45] memsharded commented on #8305
Please @uilianries can you make the same test and use your bootloaders that you have in your system?

[2021-01-11 18:47] madebr commented on #8290
Sounds like a good idea.
I like the paper trail aspect of it instead of the *magical* environment variables.

[2021-01-11 21:13] tonka3000 commented on #7463
The first version would be nice but the downsides is not really good. 2 recipes has the same downside as far as I can tell but there is more control over the `python_requires` package. So there is no real option to guarantee that the 2 versions will be the same AFAIK.

`python_requires` packages don't have any binary (only .py files), so the only way to change the package id is to change the versi

[2021-01-12 09:03] walterschneider commented on #648
Having lzma or zstd would be great!

We have large binary packages where the package-size would decrease significant (gzip: 345M, xz: 218M, zstd: 247M).

Currently we have recursively packed archives (an xz-archive inside the conan_package.tgz) which requires an additional unpack operation after installing the conan package.

[2021-01-12 10:46] memsharded commented on #648
@SSE4 could you please put in your backlog do a small profiling experiment of the different compressions? Not urgent, but something we would like to close for Conan 2.0

- Use the binaries (headers, libs) produced by Conan for some popular big packages. Lets use 2-3 like Boost, OpenCV, CGAL.
- Measure the compression time, size and decompression time.
- Use standard (not the Conan one that does ot

[2021-01-12 11:10] jgsogo commented on #7101
Hi! It's been quite a few weeks since we had a look at this issue. Even though I was able to get to the issue reported state, it was running several manual operations forcing the failure.

Conan v2.0 will implement a new cache and the locking mechanism will be refactored. It is not worth the effort to refactor the locking mechanism in 1.x without evidence that the error is hitting several users co

[2021-01-12 11:10] #7101 closed, assigned to jgsogo

[2021-01-12 12:26] stefaneicher opened #8322 "[feature] define remote- and upload-urls in conanfile"
Could you add something in the conan file such that a conan file self contained could define where he want o to go search for dependencies and where it is intended to upload the package to?

Similar to https://maven.apache.org/pom.html#distribution-management

What if the conan file could look like this:

from conans import ConanFile, CMake

class MypackageConan(ConanFile):
    name = "mypackage"

[2021-01-12 13:17] memsharded commented on #8322
Hi @stefaneicher

What you are pointing there about Maven is very relevant, as it is a well known issue for many devops good practices. JFrog has tons of experience in this, and one of the things that is necessary many times in Maven server repositories is to patch the Maven files to remove the remote information. Otherwise you cannot cache them in your own repos, you cannot do binary promotions i

[2021-01-12 15:10] michaelmaguire opened #8323 "[feature] config_install_url_update to support migrations"
The `config_install_interval` attribute now supported in `conan.conf` (  https://github.com/conan-io/conan/pull/6824  ) is great.  Thanks.

We've found, though, that we sometimes need to support migrating users to a new config repo location.

Could we add support for a `config_install_url_update` `conan.conf` attribute so that if we have:

[code]

and then `https://bbgithub.dev.bloomberg.com/oldor

[2021-01-12 15:16] djeverett opened #8324 "[bug] Same recipe getting different package revision on Windows to Linux and Mac"
[conan-trace.log](https://github.com/conan-io/conan/files/5802994/conan-trace.log)

I have a Jenkins pipeline building fmt 7.1.2 as per the [conan-center code](https://github.com/conan-io/conan-center-index/blob/master/recipes/fmt/all/conanfile.py).  This builds in parallel on Linux, macOS and Windows.  I have package revisions enabled.

The trouble is that the package revision is the same for Lin

[2021-01-12 15:31] cvignol opened #8325 "Block [requires] of conaninfo.txt file is not handled"
### Environment Details
  * Operating System+version: ubuntu16 64bits
  * Conan version: 1.28.0
  * Python version: 3.5

### Steps to reproduce

- Module A depends on Module B with version in minor_mode
  - Module A -> conanfile.py -> package_id() -> self.info.requires["Module B"].minor_mode
  - package generated for Module A -> conaninfo.txt contains [requires] block with Module A/1.1.Z -> that's

[2021-01-12 15:58] SSE4 commented on #648
@memsharded here are some preliminary results of benchmarking gzip/bzip2/lzma/lzo/lz4/zstd on boost/opencv/cgal:

![boost compression time](https://user-images.githubusercontent.com/870236/104338924-a084a600-5529-11eb-9151-9c7dbb5d974f.jpg)
![boost decompression time](https://user-images.githubusercontent.com/870236/104338929-a37f9680-5529-11eb-8490-4f38142ff93c.jpg)
![boost ratio](https://user-im

[2021-01-12 17:57] memsharded commented on #648
Good work @SSE4

My conclusions so far:

- Bzip2 and Lzma are not competitive. They can have great ratios, but are really slow in compressing and decompressing, so not an option.
- Zstd seems a slightly better alternative than gzip in terms of performance. But it is not Python builtin, and PyPI packages like https://pypi.org/project/zstd/ are a pure binding, and that is really problematic for dist

[2021-01-12 19:15] SSE4 commented on #8316
@SpaceIm do you think if this change could be breaking?

[2021-01-12 19:28] stefaneicher commented on #8322
Hi @memsharded ,

Thanks for your answer. Good to see that this was a mediated decision. It containes the missing explanation for me.
I have 10 years experience with maven and never had such problems. But your perspective is obviously broader.
And yes we are using virtual repos in artifactory.

P.s. I also miss a bit the comfot of the maven multi modules alt least wit the intellij maven integratio

[2021-01-12 21:49] GPages opened #8326 "[question] build_requires in lockfiles"
Hi,

This question is related to this one : https://github.com/conan-io/conan/issues/8268
In a nutshell, i use CONAN_RUN_TESTS to be able to run "conan create" by specifying whether the build_requires should be populated with gtest. It seems to cause problem when working with lockfiles.

For this example i have the same graph as this page : https://docs.conan.io/en/latest/versioning/lockfiles/buil

[2021-01-12 23:12] memsharded commented on #8205
Hi @michaelmaguire

I think the error comes from the difference in user/channel when you capture the lockfile and when you try to use it. Note that a different user/channel could completely change the dependency graph, so the user/channel used at create should match the one at later step.

So use something like:
[code]
Then inspect the lockfile json file. You will see that conan/stable is part of

[2021-01-13 00:18] memsharded commented on #8322
And yes we are using virtual repos in artifactory.

Yes, it might be possible that it can work in some scenarios without problems. But it can also be very problematic in other contexts. Virtual repositories work for Maven because Artifactory does a lot of efforts to make it happen, it can patch the files on the fly to account for the removal of this to make virtual repos work. And it is relatively

[2021-01-13 00:25] memsharded commented on #8326
Hi @GPages

I think the important concept to highlight here is that ``conan lock create`` captures a lockfile from a expanded dependency graph. If the build require is not there at the moment of creating the lock, it will not be possible to be used later.

If you need the build requires later, you need to guarantee that the build_requires are there, using the necessary graph ``--build`` policy.
So

[2021-01-13 00:32] memsharded commented on #8324
Hi @djeverett

It is very likely that the problem is the git checkout CRLF. Recipe revisions are based on the recipe contents. If the recipe is changed, because you are checking out differently, then the recipe revision will be different.

This is very expected, as the recipe revision also takes into account the sources contents. Sources might change CRLF and in some cases this can lead to complet

[2021-01-13 01:18] memsharded commented on #8319
I agree that at least this is not expected and probably bad UX or not clear interface.

I am also afraid that at this stage, it is very possible that we could be breaking someone else that is using this feature. Thinking that anyone that is using the ``output=StringIO()`` is because it is very likely that they are parsing the result string, and some of them might have taken into account that the s

[2021-01-13 01:30] memsharded commented on #8325
Hi @cvignol

I am not sure I fully understand the issue. The ``package_id_modes`` that are defined in the recipes ``package_id()`` are not transitive. What you declare in ``ModuleB`` applies only to ``ModuleB``, but indeed any consumer of ModuleB would have the default ``semver_direct_mode`` unless they change it.

This test is working:

[code]

We would need something that we can reproduce, pleas

[2021-01-13 07:53] cvignol commented on #8325
Hi @memsharded and thanks for this quick reply

Il will try to fulfill your test sample to be able to produce the problem (I'm not fully aware about python, I'm using conan via CMake module able to install and export pkg)

For the moment I can add a precision regarding your test sample
The problem will occur if you export binaries built from pkgb and when you try to install pkgc, the requires on p

[2021-01-13 08:41] mb78 opened #8327 "Exception thrown, no details in log on CONAN_VERBOSE_TRACEBACK=True, getting "True" on screen only"
Hi, I'm not getting details from the exception at this line:
https://github.com/conan-io/conan/blob/2c7dd17388c2c682fca80834726521725509ef1a/conans/client/graph/graph_builder.py#L247

self._conflicting_references() can return True when node.ref==None and previous.ref.copy_clear_rev() != new_ref.copy_clear_rev()

conanfile.txt contained lib/version in build_requires and lib/version@user/channel in

[2021-01-13 09:42] djeverett commented on #8324
Thanks @memsharded  - looks like you were correct.  Adding a `.gitattributes` of `* text eol=lf` fixed it such that all packages got the same revision.

[2021-01-13 09:42] #8324 closed, assigned to memsharded

[2021-01-13 10:40] memsharded commented on #8325
Hi @cvignol

It would be great if you could explicit what you mean in ``if you export binaries built from pkgb and when you try to install pkgc``.

Is is "export binaries" a ``conan export-pkg`` command? Are you executing a ``conan install .`` for pkgc instead of creating a package (in that case, the ``package_id()`` of pkgc is irrelevant, because a package is not being created.

If you don't know

[2021-01-13 10:56] tru commented on #648
This is true but I think for some users this is very easy to control (like for us).

I think considering that there should be an option to allow users to select the compression format for huge boosts in decompression and storage sizes.

If this can be encoded in the protocol somehow for conan 2 I think that would solve most people's problem. The policy for CCI should still probably be tgz - but yo

[2021-01-13 10:58] tru commented on #648
One thing I didn't see in @SSE4 graphs was the compression setting for zstd? we see way better compression in our local tests - with a bit longer compression time but still the same decompression time. This is probably something that should be tweakable.

[2021-01-13 11:00] SSE4 commented on #648
@tru all tests were run with default compression levels (it means level 3 for zstd, in particular).
I may also run tests for all compression levels during the night, but it will take way longer.

[2021-01-13 11:02] SSE4 commented on #648
@memsharded what do you think if we leave gzip a default, but add some options for users who want more control:
[code]

[2021-01-13 11:13] memsharded commented on #648
@SSE4

Knowing the location of the ``zstd`` in the system is still not enough, and would require a very big development effort. If anything, the approach would be more in the line of users needing to provide some ``compress(files, output_filename, symlinks, ...)`` and ``decompress(file, output_folder, ....)``, kind of pluggable/plugins behavior, that implement the compression and decompression the

[2021-01-13 11:15] GPages commented on #8326
It fixed the issue, and now my entire CI automated building of the dependency graph is working well. Great, thanks a lot !
I might have missed it in the documentation but if it is not present it might be worth adding a note about the use of build=missing with the conan lock create command.

But anyway, thank you for your help 👍

[2021-01-13 11:17] cvignol commented on #8325
Yes, I confirm
pkgb "export binaries" means `conan export-pkg` (as for pkga)
pkgc use `conan install` of pkgb

[2021-01-13 11:26] SSE4 commented on #648
@memsharded the idea of tar is that it decouples compression from archiving, so conan can create tar file and use an external command to compress it (zstd, lzo, lz4 or whatever user wants). the same for decompression.
the archiving part handles symlinks, hardlinks, permission, timestamps, etc, and it's always the same code. the only thing changes is external command to run custom compressor or dec

[2021-01-13 11:32] memsharded commented on #8325
Ok, I have incorporated that into the test, still passing fine, this is the current test:

[code]
Outputs:
[code]

Still need more details to reproduce the issue. When you say "pkgc use conan install of pkgb", I understand you are running ``conan install .`` in your terminal when you have the conanfile.py of pkgc in the current folder, isn't it?

[2021-01-13 11:48] memsharded commented on #648
Not completely true, for example the timestamps thing is managed in the gz layer, not the tar level (``gzopen_without_timestamps()``)

And then we are using the builtin tarextract python functionality that handles the decompression at once, so we don't need to decompress first, then untar. What I am saying is that this is a very big effort, it is very far from "it's easy for conan to be compressio

[2021-01-13 12:27] tru commented on #648
We found that level 9 was good for us.

[2021-01-13 12:37] SSE4 commented on #648
![boost compression time](https://user-images.githubusercontent.com/870236/104453212-a8e6ea80-55d6-11eb-9b6d-416a11cfed64.jpg)
![boost decompression time](https://user-images.githubusercontent.com/870236/104453222-ab494480-55d6-11eb-8e80-2563e42a5bde.jpg)
![boost ratio](https://user-images.githubusercontent.com/870236/104453226-ac7a7180-55d6-11eb-9fd2-96346a82f03c.jpg)
![cgal compression time](htt

[2021-01-13 12:51] Erlkoenig90 opened #8328 "[bug] Spurious '-find' argument to XCRun"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux / Mac OS X
  * Compiler+version: clang 10.0
  * Conan version: 1.32.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Attempt to cross-compile boost with `compiler=apple-clang` in the profile on Linux using the [osxcross](https://github.com/tpoechtrager/osxcross) toolchain.

#

[2021-01-13 13:06] SSE4 commented on #8328
from `man xcrun`:
[code]

[2021-01-13 13:09] Erlkoenig90 commented on #8328
`-find` doesn't appear to be necessary for `--show-sdk-path`, i.e. `xcrun -sdk macosx --show-sdk-path` works as intended.

[2021-01-13 13:18] SSE4 commented on #8328
same result for me (native macOS):
[code]

[2021-01-13 13:20] SSE4 commented on #8328
@Erlkoenig90 unlreated to the bug, how is osxcross expirience with conan in general? (e.g. how many packages build or fail, any other problems you have encountered)
what is the profile you're using?

[2021-01-13 13:55] Erlkoenig90 commented on #8328
It's a mixed bag. Some things work, others require debugging and patching things upstream. Until [this](https://github.com/conan-io/conan-center-index/pull/2927) and [this](https://github.com/bincrafters/conan-pango/pull/3) is merged I have to use custom packages.

E.g. I had previously set `compiler=clang` in the profile, which worked. I now updated conan and Boost failed to build, so I changed i

[2021-01-13 14:43] Fefer-Ivan opened #8330 "[feature] Retry most http requests"
Currently our CI builds sometimes fail after conan failed on simple http requests to our artifactory instance despite having reasonable general.retry and general.retry_wait config values.

After inspecting the code, I have learned that retries are implemented for file upload and download queries and
when creating requests.HTTPAdapter:
`            adapter = HTTPAdapter(max_retries=config.retry)`
h

[2021-01-13 15:02] refactorTractor opened #8331 "[question] How to add/change a require in lock file properly"
In our project we have a `conanfile.txt` recipe, and for each build configuration we have a lock file. We have a few dependency management scenarios that raise issues, and we do not seem to find a good description anywhere on how to do them.
- updating a dependency version
- adding a new dependency
- removing a dependency

We've been trying to do this by adding/changing the dependency in the recip

[2021-01-13 15:14] #8328 closed, assigned to nobody

[2021-01-13 15:43] walterschneider commented on #648
I've made some tests with opencv/4.5.1:0e3623c19c9324197de1788dd20f27a1c0725ece:
- downloaded and extracted conan_package.tgz to conan_package.tar
- evaluated with gzip, lzms and zstd (each with the command-line version)

![openvc_sizte](https://user-images.githubusercontent.com/33923060/104473941-cd829880-55bd-11eb-8b9a-0bf520148b1b.png)
![openvc_compression](https://user-images.githubusercontent

[2021-01-13 15:44] memsharded commented on #8315
Hi @mathbunnyru

I suggest having a look at the hooks repo, where we have some hooks and also the production hooks applied at ConanCenter. This one https://github.com/conan-io/hooks/blob/master/hooks/binary_linter.py is checking the binaries, so getting there and checking the existence of "includedirs" seems relatively easy. The documentation here: https://docs.conan.io/en/latest/reference/hooks.h

[2021-01-13 15:49] walterschneider commented on #648
i see... @memsharded : thank you for your explanations regarding gzopen_without_timestamps, etc..

[2021-01-13 16:34] 197g opened #8332 "[bug] Downloaded packages have wrong/colliding package ID"
Looking through the package folder, I find multiple packages installed under the ID `5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9`. I had assumed the package name was part of this ID. Potentially related to this, I can't seem to get an include for `<Eigen/Core>` working. The relevant project links to both `CGAL` and `Eigen`, two of the colliding packages. A disturbing detail is that I find the same ID

[2021-01-13 16:35] blackliner commented on #8303
In my case I need [CapnProto ](https://conan.io/center/capnp?tab=overview) to be compiled for the build system, generate sources, and then be available as `find_package` for building the host binaries.

Is there any workaround for cross compilation right now?

EDIT: maybe a two step `conan install`, so instead of
`conan install .. --profile:build build_profile --profile:host host_profile`
we split

[2021-01-13 16:43] blackliner commented on #8303
As seen below, `--profile:build` just completely skips the generation of any `*.cmake` files for packages listed as `build_requirements`. For `cmake_paths`, `conan_paths.cmake` does not contain any info about them as well.

For this `conanfile.py`:
[code]

`conan install .. --profile:build default`:
[code]

`conan install .. --profile:host default`:
[code]

`conan install .. --profile default`:
[c

[2021-01-13 17:10] Pro commented on #4882
@memsharded same issue here. I was just thinking about releasing a `2.0.0-rc1` package, but this would not work as expected.
So probably I will use the approach to release it as `2.0.0@user/rc` instead of `2.0.0@user/stable`.

[2021-01-13 18:20] michaelmaguire commented on #8205
This was the issue, thanks!

Now, with:

[code]

We see output like:

[code]

[2021-01-13 18:22] michaelmaguire commented on #8205
To close out this ticket, can I just ask for a little more clarification about my question above in https://github.com/conan-io/conan/issues/8205#issuecomment-753892176 ?

[2021-01-13 18:42] #6259 closed

[2021-01-13 18:43] memsharded commented on #6259
Merged #8264, will be released soon in 1.33

[2021-01-13 19:12] memsharded commented on #8205
Hi @michaelmaguire

Let me try to clarify:

- https://github.com/conan-io/examples/blob/master/features/lockfiles/ci/build.py#L73 is doing:
[code]
  That is capturing a "recipes information only" lockfile of the dependencies of libb (in this case liba/0.1)

- Next step is doing an export of the changes done to lib, under a new 0.2 version:
[code]
  The ``export`` command does not compute the graph

[2021-01-13 19:28] #8022 closed, assigned to SSE4, uilianries

[2021-01-13 19:28] #8113 closed, assigned to SSE4

[2021-01-13 19:49] uilianries commented on #8305
Hi!

I built the bootloader from [PyInstaller 4.1](https://github.com/pyinstaller/pyinstaller/archive/v4.1.zip), following the steps on [bootloader building](https://pyinstaller.readthedocs.io/en/stable/bootloader-building.html) page.

It generated 4 folders: release, releasew, debug and debugw.

My Windows Defender didn't detect any problem.

However, when I uploaded the file `run.exe` from relea

[2021-01-13 19:51] memsharded commented on #8332
Hi @HeroicKatora

Yes, it seems there is some misunderstanding there. Nowhere is said that the Conan ``package_id`` would be unique.
The binary ``package_id`` is defined as the hash of the settings (compiler, etc), options (shared/static), and dependencies versions.
It is completely expected that different packages have the same ``package_id`` if they are using the same settings, options and depen

[2021-01-13 19:58] uilianries commented on #8305
Good news!

[PyInstaller 4.2](https://github.com/pyinstaller/pyinstaller/releases/tag/v4.2) is **SAFE**!

[Building from sources](https://github.com/pyinstaller/pyinstaller/archive/v4.2.zip), I uploaded `run.exe` from release/ folder (No threats):

https://www.virustotal.com/gui/file/f3f838f2f0ef85c67695ca9836f5fdea78523d07a5050c0aede97a244fc255ea/detection

Same for the [pre-built](https://github

[2021-01-13 20:19] 197g commented on #8332
Ah good, reading the documentation I had the (seemingly wrong) impression that the name/version was meant to be part of the input to the hash. Thanks for clarifying.

[2021-01-13 20:19] #8332 closed, assigned to memsharded

[2021-01-13 20:21] mathbunnyru commented on #8315
Thanks for detailed answer @memsharded! I will take a look!

[2021-01-13 21:27] michaelmaguire commented on #8205
Thank you.

I guess I'm still a little foggy on the role of the conan export'ed `libb_base.lock` here.  I thought:

[code]

was already incorporating the diffs needed to build libb/0.2.

[2021-01-13 22:34] memsharded commented on #8305
Excellent! Please @czoido, can you upgrade Pyinstaller to 4.2? I suggest doing the next release 1.33.

[2021-01-13 23:06] memsharded commented on #8205
Yes, that lockfile can be enough to derive full configuration lockfiles, locking the dependencies of libb (locking liba/0.1), and be used to create the different binaries for libb/0.2.

The exported ``libb_base.lock`` goes one step further, adding to the lock of the dependencies (``liba/0.1``), the locked recipe revision of ``libb/0.2`` including that modification, and then an extra level of prote

[2021-01-13 23:18] michaelmaguire commented on #8205
Thanks.  Sorry for all the questions.  Why is that 'enhanced' lockfile with the extra level of protection an `export` command, rather than a different kind of conan lock create `--extra-strong`?  What does exporting do here that's important?

[2021-01-13 23:57] memsharded commented on #7485
It seems that https://github.com/conan-io/conan/pull/8333 is not really necesary. This was fix earlier, and the toolchain is checking that the generator is "Visual" one, otherwise it will not add platform and toolset variables.

[2021-01-13 23:57] #7485 closed, assigned to nobody

[2021-01-14 00:00] memsharded commented on #7485
It was possibly fixed in https://github.com/conan-io/conan/pull/8192, that is also part of 1.33.

[2021-01-14 00:33] memsharded commented on #8205
No prob @michaelmaguire!

The thing is that if you do the ``conan lock create conanfile.py``, that is a local conanfile, not a recipe in the cache. As such, it does not define a recipe revision, it is a pure consumer of dependencies. The process of exporting the recipe into the Conan cache is when the recipe revision is defined, and at that moment that revision can be updated in the lockfile.

It

[2021-01-14 10:26] jgsogo commented on #8327
Hi! Can you share a minimum reproducible example with the inputs you provide to Conan (recipes, profile, command line) and the error you get? I appreciate you digging into sources and finding the line that fails, but I need more context to be able to reproduce the error.

Thanks!

[2021-01-14 10:35] czoido commented on #8279
Hi @mjb6,
For that case, that you want to lock both _comp-a_ and _comp-c_ in the old version I would recommend to create a new "proxy" package that depends on both of them use the lockfile of that one as an input when generating the integration package:

[code]
Using several lockfiles as an input is not supported because the logic could be very complicated. They could have been generated in differ

[2021-01-14 10:36] jgsogo commented on #8330
Hi, @Fefer-Ivan

Your proposal is sound and, if we can remove code from our codebase is more than welcome. If you are willing to contribute a pull-request, please, do so. Feel free to contribute a draft first before going into the details if you feel like we need to align on some implementation details.

Take into account that the current Conan v1.x series still work with python2, but if for any r

[2021-01-14 11:07] pbeTrifork commented on #8288
I am seeing the same type of error when croscompiling Qt even though flex is only under "Build requirements"
I'm guessing that even though I am cross compiling, flex should just be compiled regularly?

[2021-01-14 11:13] cvignol commented on #8325
Yes it is.

I will probably be clearer if I explain the real case

Package A is OpenSSL
- local conanfile.py for OpenSSL
  - contains `package_id()` without any specific option regarding the version
- build OpenSSL for my platform
- export OpenSSL package (`conan export-pkg`)
- store it on the server (`conan upload`)

Package B is POCO
- local conanfile.py for POCO
  - contains OpenSSL requires

[2021-01-14 11:51] foundry-markf commented on #8314
Does anyone have any thoughts on this? thanks

[2021-01-14 11:57] memsharded commented on #8325
I still cannot reproduce the problem, so it is very difficult to know. The scenario that you are describing above is what I have implemented in my test, and it is behaving ok. Is it possible that you are not passing to ``conan export-pkg`` the same input configuration (profile, settings, options) you are using for the ``conan install``?

The problem should be reproducible with dummy recipes, conta

[2021-01-14 11:58] #7261 closed, assigned to jgsogo

[2021-01-14 12:23] DukeOfKirkcaldy opened #8335 "[question] how to lock build-requires in a derived 'partial' lockfile"
When integrating changes into a product in CI, I rebuild any dependent packages by calculating the build-order.  For each package that is rebuilt I want to have  a 'partial' lockfile for a package which contains all of the settings, options, dependencies, etc. needed to completely reproduce the package again in the future.  I am currently making this file like this (3rd command):

[code]

But it s

[2021-01-14 12:31] madebr opened #8336 "[question] CMakeToolchain does not set CMAKE_MODULE_PATH/CMAKE_PREFIX_PATH (of dependencies)"
Hello,

When using the new `conan.tools.cmake.CMakeToolchain`,
`CMAKE_MODULE_PATH` and `CMAKE_PREFIX_PATH` are set af follows:
[code]
The previous `cmake` generator extended this variable with (at least) the root directories of all dependencies:
[code]
where `CONAN_CMAKE_MODULE_PATH` contained a list with the root directories of all host requirements.

I suppose the reason is that conan CMakeToolc

[2021-01-14 12:41] madebr commented on #7615
@jgsogo
Does #8130 really add non-namespaced targets?
I don't see an example doing that, unless I didn't look well enough.

[2021-01-14 12:47] jgsogo commented on #7615
I'll write an example with a POC (it was closed with the PR)

[2021-01-14 13:51] michaelmaguire commented on #8205
Gah.

We tried this out, we tested, and then we landed the change and started using this in our "real" builds.

Now we're getting project 'pract' failures with error:

[code]

or (from a different 'erep' build):

[code]

I don't know if it's relevant, but cmake is a build requirement via our shared profiles:

[code]

as seen in the log:

[code]

while gtest was neither a shared profile build requi

[2021-01-14 16:12] #3573 closed

[2021-01-14 16:15] memsharded commented on #3573
This has been implemented in https://github.com/conan-io/conan/pull/8201 and will be released as experimental in 1.33.

It is basic support:
- It implements only versions 19.0, 19.1, 19.2 (and minors)
- Each compiler version will map to its reference VS IDE (for calling the CMake generator for example). Toolset specification to change that is not possible yet.
- It doesn't support compatibility wi

[2021-01-14 16:35] jgsogo commented on #8303
@blackliner The way to go is to add `capnproto` to requires and build-requires:

[code]

and then use the two-profiles approach:

[code]

Conan will populate the environment before entering `build()` method with the information provided in the `env_info` of the `capnproto` recipe.

[2021-01-14 16:43] czoido commented on #8305
For next release we will use Pyinstaller to 4.2 to generate the binaries.
Although we are aware that this can bite us again in the future, we will also add some checks to the ci to catch this as soon as possible.
Thanks a lot @aslynatilla for reporting. I'm closing the issue, please feel free to reopen if you have more questions or comments regarding this.

[2021-01-14 16:43] #8305 closed, assigned to czoido

[2021-01-14 17:47] jgsogo commented on #8311
Hi!

The environment from the build requires is populated before entering the `build()` method. The `MesonToolchain` takes all these values from the environment, but they are not available in the `generate()` function.

I'm not sure how we want to pass these variables from now on (ping @memsharded ), we can populate the environment during `generate()` the same way we do during `build()` or we can

[2021-01-14 18:13] blackliner commented on #8303
Unfortunately we do not use conan to build our own package, we just use it to consume dependencies. I went for this solution/workaround for now:
[code]
So for now I save all the `FindXXX.cmake` from the build context and restore them later 🤷

[2021-01-14 18:16] memsharded commented on #8311
I would say that if we want to be very transparent and have a better developer experience, the way to go might be to generate virtualenv files for everything in the environment. After a ``conan install`` a developer should be able to build and run, with their native tools (cmake, make, meson), without relying on ``conan build``. The only way is that Conan translate whatever is in its environment,

[2021-01-14 18:22] #7715 closed, assigned to jgsogo

[2021-01-14 18:53] jgsogo commented on #8311
Right now `MesonToolchain` writes a file with values taken from the environment. I don't know if that `conan_meson_cross.ini` file can read the environment in runtime (so it can leverage on the user/conan running `source conantoolchainenv.sh` to populate the environment), but it would be a completely different implementation of that toolchain class.

Before thinking about the local workflow, we ne

[2021-01-14 23:08] mb78 commented on #8327
Hi Javier, I made a .tgz, please unpack it and
* execute ./run.sh
* first libaaa gets built and exported to conan cache as libaaa/1.0.0@michal/test2, then also as libaaa/1.0.0 (might be the only root cause that leads to throwing bool exception, not string)
* then there's attempt to build executable bbb from another dir
* see comments in run.sh and bbb/conanfile.txt with guesses which circumstances

[2021-01-14 23:09] memsharded commented on #8311
Ok, now I understand better the issue. It is not about the transfer between the generate() and the build(), but how the generate() populate things. Which would be related to what @madebr was talking about the new ``conf``, if it was a way of propagating information from the build_requires to the consumers of those build_requires.

I would like if we could try to explicit define the interfaces that

[2021-01-15 05:29] danielmevi commented on #2737
Is there any new solution for this issue?

[2021-01-15 08:26] mjb6 commented on #8279
Hi Carlos, thank you very much for the explanation!
Proxy package also does not fit quite good for our use case, because it is not fixed which components should be updated - so we would need proxy packages for all combinations.
I think for now I stay with my non-lockfile approach, where I have an additional script that defines the requires (incl. rrev) in the integration conanfile.py, based on our

[2021-01-15 08:26] #8279 closed, assigned to czoido

[2021-01-15 09:52] tfar commented on #8310
@memsharded Any pointers where it would be sensible to continue debugging this issue?

[2021-01-15 11:10] memsharded commented on #2737
Hi @danielmevi

Just a quick question, have you tried the new ``cmake_find_package`` or ``cmake_find_package_multi`` generators, that use ``find_package()`` calls, and then, it could be more transparent?

[2021-01-15 12:22] memsharded commented on #8310
Hi @tfar

I am trying to reproduce it in a test, but no success so far.
I am interested in what happens before the error trace that you are pasting. The possibility is that there is some other package upstream that didn't succesfully build, or something happen, that they keep their package_id = Unknown. Could you please upload the whole output of the failing command?

[2021-01-15 13:20] cvignol commented on #8325
I have made a lot of changes in my project and I am not able to reproduce the problem again :-(
I think that it will be occur again and at that moment I would record all the elements necessary for its analysis.
Sorry to bother you for this false problem.

I have a quick additional question regarding package_id calculation
If I export the package **PkgC** that depends on **Poco 1.9.0** (with `self.

[2021-01-15 15:47] memsharded commented on #8325
I think that it will be occur again and at that moment I would record all the elements necessary for its analysis.
Sorry to bother you for this false problem.

No problem, glad to help. Sure, if it happens again, please try to capture recipes, exact command and full output, that helps a lot to reproduce.

Regarding your question, yes, exactly because default ``pkgc`` mode is ``semver_direct_mode``

[2021-01-15 16:08] djeverett opened #8342 "[question] Usage of conan_build_info --v2"
I have tried using `conan_build_info --v2 create --lockfile=<lockfile> build_info.json` to create build info.

The result:
[code]
Is it really right that `modules` is not populated?  Am I using this correctly?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-01-15 16:59] tfar commented on #8310
Hi @memsharded,

i can share this sanitized log of the failing command with you: https://nx4631.your-storageshare.de/s/poEz2biGfM9mkDW
All the `...` runs where just the successful build log messages. The projects all build successfully.

If you have any questions let me know. If you want I can share sanitized versions of specific `conanfile.py` if you want to.

I'm happy to modify my conan install

[2021-01-15 22:36] memsharded commented on #8310
Hi @tfar

Sure, if you can please run the same from my branch (https://github.com/memsharded/conan/tree/traces/package_id_unknown), that I have added a few prints there (or apply the patch below), and run again, I will have a look at the output, maybe I can find some hint there.

Many thanks for all the feedback!

[code]

[2021-01-16 11:04] ant-caichu commented on #1557
any settings can skip this error?

[2021-01-16 15:02] rconde01 commented on #3476
I have run into related problems:

- The binaries generated by the packages on conan center have a variety of install name patterns:
  - @rpath/libxxxx.dylib
  - libxxxx.dylib
  - /User/me/.conan/data/somelib/.../lib/libxxxx.dylib

Note this is even when built locally. Although i'm not even sure what happens with the last one if the binaries are cached on conan center...maybe those packages have s

[2021-01-16 19:53] sourcedelica commented on #8239
Re: mixed revision/non-revision in the cache.  We have seen this too after we moved to using revisions (we needed to upgrade Artifactory first to support revisions).

A simple fix would be to always replace non-revision packages (indicated by `(No time)` when running `conan search`) when running `conan install --update` with revisions enabled.

[2021-01-17 23:13] memsharded commented on #8342
Hi @djeverett

No it shouldn't, there should be something inside. Can you please check the ``lockfile`` that you are using as argument? Can you share it?

[2021-01-17 23:17] memsharded commented on #8335
Hi @GordonJess

I think this was fixed in 1.32, in the changelog:

Can you please confirm that you are using 1.32? thanks!

[2021-01-17 23:27] memsharded commented on #8331
Hi @AGreat1

First, let me comment that lockfiles have been improving in the last releases, please let us know the version that you are running, and if not latest, I would strongly suggest to upgrade Conan.

The reference guide for what can be done with lockfiles is in https://docs.conan.io/en/latest/versioning/lockfiles.html. If you check the notes there, you can see that there are working exampl

[2021-01-17 23:50] memsharded commented on #8323
Hi @michaelmaguire

Seems a bit overkill for a Conan feature? I mean, it would be a sed command:

[code]

For the Conan command, there would be unknowns: is it to be replaced in all possible places? Because 1 repo can be used in more than 1 origin, different folders, for example. Or is the replace only in 1 origin? At the end, it would be more complicated to learn the Conan command and what it mea

[2021-01-18 07:38] madduci opened #8346 "[feature] conditional requirement in conanfile.txt"
I don't know if it is already possible to do, if so, please make it easier to find it in the documentation, since I haven't yet found it.

I know that this might be completely doable with a conanfile.py, but from an user perspective, without starting writing any Python code, it might be really good, especially for newcomers.

I'd like to propose as feature the possibility to specify a dependency r

[2021-01-18 08:21] SSE4 commented on #8311
that seems like `conanfile` has an `env` attribute, which is populated from the `build_requires` (method `_propagate_info`).
this is used at least by the `VirtualEnvGenerator` right now.
however, the build method seems to be very special (see `run_build_method` which does env management).
moreover, it seems like by design, `build_requires` are only applied to the `build` method?
at least I see `se

[2021-01-18 08:31] danimtb opened #8349 "[bug] conan remove --outdated works with a pattern too"
Duplicated issue of https://github.com/conan-io/docs/issues/1987 to make the changes to the source code as well

[2021-01-18 09:11] djeverett commented on #8342
The lockfile is:

[code]
I am using Conan 1.32.0.

[2021-01-18 09:29] michaelmaguire commented on #8323
This is for teams of dozens of developers.  How do you even know which machines to run such a sed command on?

The "pull" model the `config_install_interval` feature enables is quite powerful -- it just needs this migration feature...

[2021-01-18 11:19] #8349 closed, assigned to nobody

[2021-01-18 11:27] DukeOfKirkcaldy commented on #8224
Just a quick update.

Before 1.32.0, the password was provided url-encoded (e.g. `%` to `%25`) and with OS special characters escaped. (e.g. `%` to `%%`)

This breaks in 1.32.0.  It seems removing the OS escapes solves the issue.

Can you please advise how passwords should be provided?

I would still consider this to be a breaking change since CI scripts must change their behavior depending on ins

[2021-01-18 14:18] tfar commented on #8310
Hi @memsharded

Thanks for creating that branch. I've created the linked log using your branch with commit `commit a6285d90718bac35884714167a601c9926c83f23 (HEAD -> traces/package_id_unknown, origin/traces/package_id_unknown)`.

Here is the log: https://nx4631.your-storageshare.de/s/BWmsGLmMyzpH9bm

Thanks for looking into this. If there is anything else I can do, let me know.

[2021-01-18 14:27] memsharded commented on #8310
Good info! For a start, I can localize the offending one:
[code]
It seems it could be an issue of having the same package as build_requirement and as a requirement. When it is being updated, only one of them get the package_revision.

I think I can try to reproduce with this new insight, thanks!

[2021-01-18 14:50] #7615 closed, assigned to danimtb

[2021-01-18 15:14] uilianries opened #8356 "[feature] CVE support on conandata.yml"
Hi!

[CVE](https://cve.mitre.org/) is a list of records (each containing an identification number, a description, and at least one public reference) for publicly known cybersecurity vulnerabilities, which can point C/C++ libraries too ([OpenSSL](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=openssl) for instance).

As Conan Center Index supports multiple versions for a same package and customer

[2021-01-18 15:38] #8356 closed, assigned to nobody

[2021-01-18 15:40] uilianries commented on #8356
Analyzing again, this feature is not functional.

- First we would need add manually each CVE data, and manually
- We would need to re-build each package, otherwise won't be possible to print that warning.

[2021-01-18 15:58] xahon opened #8357 "[bug] Cmake's find_package fails even with requirements set"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: clang 7.0.1
  * Conan version: 1.31.0
  * Python version: 3.7.4

### Steps to reproduce (Include if Applicable)
I'm trying to create a package for a third-party library that uses PulseAudio as a dependency. I've added that dependency into `def requirements(self)` from bincrafters

[2021-01-18 17:00] sourcedelica commented on #8346
See https://github.com/conan-io/conan/issues/6177

[2021-01-18 17:03] SpaceIm commented on #7240
FYI, here is a POC of executables imported targets in geographiclib recipe, working with conan 1.32.0 https://github.com/conan-io/conan-center-index/pull/4295/commits/815254d31f7f345688a7d6c18e58c8c6b2146cd0

[2021-01-18 17:20] sourcedelica opened #8359 "[feature] config install interval - don't reinstall same config"
`config_install_interval` is great.  We have it set to a pretty low interval (1 hour) so that changes to the config get picked up as quickly as possible so we don't have to ask developers to manually update the config.  However, it's annoying to have same config installed over and over again.  It would be helpful to have it the interval logic check to see of the current config is the same and if s

[2021-01-18 17:34] memsharded commented on #8310
Great news!

Thanks to your debugging, I have been able to reproduce and submit a fix in https://github.com/conan-io/conan/pull/8358. I am proposing it for 1.33, but it is about to be closed, not sure if possible, if not, I will try to propose it for next patch release. Thanks very much for all the efforts!

[2021-01-18 17:47] uilianries opened #8360 "[feature] Tool: create module official cmake targets"
A build helper often used in CCI which could be part of Conan Tools.

First idea [here](https://github.com/conan-io/conan/pull/8338#discussion_r557653422).

Also present in CCI now:
https://github.com/conan-io/conan-center-index/pull/4257
https://github.com/conan-io/conan-center-index/pull/4258

[code]

/cc @SpaceIm @madebr

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/cona

[2021-01-18 17:55] memsharded commented on #8346
Hi @madduci

While I understand the intention, with the experience we have, I can assure this is not the best approach. Inventing your own DSL for implementing conditionals over a wide range of possible conditions, always ends in something less maintainable, understandable and more error prone than the alternative. Do you really think that your conanfile.txt can beat this?

[code]

In your example

[2021-01-18 19:32] tfar commented on #8310
@memsharded Thank you. Just verified this with your branch with the fix. #8358 seems to fix the issue for me. Thanks for the quick fix. I did three runs from a clean cache and they all succeeded.

[2021-01-18 21:41] #8310 closed, assigned to memsharded

[2021-01-18 23:12] memsharded commented on #8357
Hi @xahon

We would need to have a look at ``cinder`` CMakeLists.txt.

Using the ``cmake`` Conan generator won't automagically inject the dependency so ``find_package`` will find it. You have several alternatives:
- Modify your CMakeLists.txt to call ``include(..../conanbuildinfo.cmake)`` and use the ``CONAN_PKG::PulseAudio`` target instead of the find_package: https://docs.conan.io/en/latest/inte

[2021-01-19 08:20] SSE4 commented on #8311
addition from #8311 - CC from the profile aren't captured by `MesonToolchain`, they are captured by `meson` executable itself.
it turns out it's problematic to implement `preprocessor_defininitions` because of this.

[2021-01-19 12:33] SSE4 commented on #8311
okay, I think I was able to understand the flow on how conanfile env is propagated.
I've added tests ensuring both cases work, see #8362 and #8353

[2021-01-19 14:47] SSE4 commented on #8360
let's do it! should be safe, and we already have a working implementation, so PR shouldn't take a significant effort.

[2021-01-19 14:48] SSE4 commented on #8319
I think it's already problematic for several recipes in conan-center-index (e.g. boost, which uses StringIO for python detection)
/cc @madebr @Croydon

[2021-01-19 15:09] madebr commented on #8319
Yes, a flag/argument to not have the commands printed at the start would be useful.
It'ls be nice to not require extra string parsing to extract the output.

[2021-01-19 15:40] memsharded commented on #8224
Closed in #8355

[2021-01-19 15:40] #8224 closed, assigned to danimtb, memsharded

[2021-01-19 16:13] czoido commented on #8342
Hi @djeverett,
I think that the build info you are getting is empty because when you executed the command that used the lockfile you did not build anything or you did not get an output lockfile using the `--lockfile-out` argument.
If you do so there should appear a field named `modified` set to value `true`. **Only the nodes marked as modified** will be included in the build info file. Something l

[2021-01-19 16:55] djeverett commented on #8342
Ah, I was following the stages in [the CI guide](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html).  Looks like I need to use `conan install --build --lockfile-out=<lockfile-out>` rather than `conan create`.  Will test and get back to you.

[2021-01-19 17:01] czoido commented on #8342
Hi @djeverett,
It's ok if you use conan `create` but always check that you build something and generate an updated lockfile using `--lockfile-out` you could also use in the example `conan create . --lockfile=conan.lock --lockfile-out=updated.lock --build`

[2021-01-19 22:35] djeverett commented on #8342
Thanks @czoido  - that all seems to work.

There remains one outstanding issue: the [conan create](https://docs.conan.io/en/latest/reference/commands/creator/create.html) documentation does not document the `--lockfile-out` argument (`conan create --help` does however).

[2021-01-19 23:56] rconde01 opened #8363 "[bug] SystemPackageTool fails when using redhat/devtoolset < 9"
### Environment Details (include every applicable attribute)
  * Operating System+version: Redhat 7 docker container on windows host
  * Compiler+version: n/a
  * Conan version: 1.32.1
  * Python version: 3.16.12

### Steps to reproduce (Include if Applicable)
In system_requirements() call:
[code]

I get:
[code]

[2021-01-20 03:13] PengolodhGoedath opened #8364 "[question] How to integrate build-adjacent concerns into CI workflow using conan?"
I do hope this is the right place for this kind of question.

I am currently designing a CI workflow for a collection of projects using conan as their package manager. But aside from just building the binaries, the CI workflow should also create other artifacts (depending on circumstances any or all of: static analysis reports, unit test results, documentation, ...) and also deploy them to several

[2021-01-20 05:16] czoido commented on #8342
Great! Glad to hear that

Yes, sorry for that, we have already corrected the documentation for 1.33.0 release that will be released today.

[2021-01-20 06:29] xahon opened #8365 "[question] Is there a way to distinct packages by 'compiler.libcxx'?"
I need to create a different package targeting libc++ instead of libstdc++. There is a slight difference in headers and library symbols my system provides from packages I already have prebuilt with libstdc++. Now I want to recompile my whole bunch of libraries using libc++'s definitions, is it possible?

[2021-01-20 08:18] czoido commented on #8342
I'm closing this issue, please feel free to reopen if you have any more questions.

[2021-01-20 08:18] #8342 closed, assigned to nobody

[2021-01-20 10:23] ytimenkov commented on #8364
What I'm converged to in my setup is that build stage/step should be separate from the others.

First, you build binaries. Make sure that `conanfile.py` is self-sufficient and your binaries can be built with `--build missing`. This helps, especially if you want to move to new compiler / OS. No side effects at this stage.

You should also grab all artifacts which are produced anyways but will help

[2021-01-20 10:37] ytimenkov commented on #8335
I get the message `Build-require cannot be found in lockfile` if the same requirement is both in `requires` and `build_requires`.

conanfile.py:
[code]

[code]

So far it was legal. I've asked this question in https://github.com/conan-io/conan-center-index/issues/4013

[2021-01-20 10:40] madduci commented on #8346
Hi @memsharded

thanks for making it clear. Yes I know, the conan basecode would be more bloated, if it is going to support such a conanfile.txt and that the conanfile.py can handle it perfectly,  because Python is more flexible.

My whole point was to skip Python entirely, if possible, since not every IDE/Editor imports the ConanFile definitions correctly, thus making it harder to find all the po

[2021-01-20 10:41] ytimenkov commented on #8319
Yeah, found in one of my readmes:

**NOTE**: `CONAN_PRINT_RUN_COMMANDS` and `CONAN_LOG_RUN_TO_FILE`
break build of boost because they pollute the output with command being ran.

[2021-01-20 11:39] ytimenkov opened #8366 "[question] How to build a binary package from reference with self.develop == True"
This mostly used for tools packages (like CMake): they need certain settings (namely `compiler` and `build_type`) during the build but not when consuming.

Even looking at the CMakes recipe at CCI it adjusts `package_id` by removing `compiler` setting. However  this is not enough because keeping compiler in `settings` will require specifying it at consume time because otherwise running `conan inst

[2021-01-20 11:46] sduraisamy opened #8367 "[question] missing binary error during install"
Missing binary Error during the installation of conan package which doesn't have binaries in it.

I created a package(e.g say deploy-test ) which deploy the content from dependent packages. The recipe has only deploy() method. So the deploy-test package will not have any binaries in it.I have upload the deploy-test with "conan upload deploy-test"

When i try to install, its expecting the binary pa

[2021-01-20 12:50] jgsogo commented on #8304
Hi! There are many people using Conan and the compiler in the command line... and many CIs, I'm afraid we cannot change this default (sure we cannot do it in Conan 1.x, it will break behavior) and IMHO it wouldn't be a good idea. Anyway, the default is just the value chosen in the autodetect process and written to the file `<cache>/profiles/default`, you can change that profile and then your _defa

[2021-01-20 13:45] cr-shaharnissinboim commented on #8113
Hello guys, sorry for commenting on a closed issue, I also stumbled upon the failure in creation an arm64 package (cross-build on my "intel" macOs)
I was wondering, is there's some workaround to the issue that the created package is x86? and not arm64 (as stated in the conaninfo.txt)? or only waiting for the next conan release?

Thanks!

[2021-01-20 17:15] refactorTractor commented on #8331
Hi!

I now updated to 1.33.0. I was not familiar with this description of lock files. It wasn't so sophisticated at about 1.22.x when our project joined the ride. Anyway, I now created a base lock file, and started creating configuration-specific locks. I just got a new RREV for openssl, so it must be built. Following [this](https://docs.conan.io/en/1.32/versioning/lockfiles/evolving.html#unlockin

[2021-01-20 17:41] floriansimon1 commented on #7795
I faced the same issue with `glslang/8.13.3559#7f2991c495da698a6669984099df0866`. I downloaded it from `conan-center`, built my binaries and tried to upload them back to our own Artifactory server. When trying to upload them, Conan gives me the following error:

[code]

We do also have `CONAN_REVISIONS_ENABLED` set to 1. Let me know if I can give you more details to help you reproduce the issue.

[2021-01-20 21:30] memsharded commented on #648
Thanks very much all of you for the feedback and the data.

I have been thoroughly consider our options, and at the moment we are not considering this feature:

Yes, there are some gains in compression ratio and decompression speed, for some cases (for zstd). Still not that huge, in many cases it is similar.

The complexity of making it the default approach (making it multi-platform, as this is no

[2021-01-21 05:38] jacobjiangwei commented on #2219
hey, I don't think this was fixed.

We were running job on windows, two jobs in parallel, one was export and uploading, and another is installing.
One succeed and one failed.

Here is our log

12:38:46  + python conan_export_pkg.py --upload --os=windows
12:38:49  User of remote 'NetEaseConan' is already 'yunxin'
12:38:55  Exporting package recipe
12:38:55  WebRTC/4.0.0-358c5cb9@yunxin/testing: The

[2021-01-21 08:55] refactorTractor commented on #8331
I found the reason for the problem. As seen in the above lock file, nasm was missing the appropriate binary package, so it needed to be built. I saw this, that's why at the install command I specified build=missing too. I didn't anticipate that nasm itself also depended on strawberryperl. Once I created the lock file in this manner `conan lock create --reference=openssl/1.1.1f@ISW/MachineAgent --b

[2021-01-21 09:59] ytimenkov commented on #8367
I think you have to create a package, even if it's empty. Only python requirements can be consumed from the export folder.

If you don't want to upload binary package you may create one on the fly via build policy (i.e. add `--build missing` or `--build deploy-test`) when installing it. Also (didn't try it myself) you can set this policy in the recipe to avoid extra command-line parameters: https:

[2021-01-21 11:37] jgsogo commented on #8367
Hi! Yes, you always have to `conan create` the package (or `conan install --build` if it is already in the cache).

It is true the message is always the same, for actual packages with binaries, package with header-only libraries or assets, Conan doesn't know what is inside the package and the message is always the same.

Let us know if it resolves your question so we can close this issue. Thanks!

[2021-01-21 11:56] jgsogo commented on #8366
Hi! I think you found a corner-case that totally makes sense. I've create a PR with this scenario here https://github.com/conan-io/conan/compare/develop...jgsogo:issue/8366-compiler-pkgid?expand=1

Your question is more about a workaround (IMHO yours is probably better than the one I could figure out). As you said, the workflow using `conan install --build` is perfectly valid and useful in many sc

[2021-01-21 12:27] memsharded opened #8375 "[question] Does diamond graphs ``configure()`` methods that remove options shared/fpic could be broken?"
It is possible if evaluated more than once, with different branches values.

[2021-01-21 12:45] AndreyMlashkin opened #8376 "[feature] Add mirrors to conandata.yml"
It would add much stability if it will be possible to specify a mirror in a  conandata.yml file.

Possible usecase:
https://github.com/bincrafters/community/issues/1347#issuecomment-764543932
Qt official download link is down for the last 2 days. If conan would have alternative download links, recipe will not be broken.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/bl

[2021-01-21 12:59] ytimenkov commented on #8366
I also thought that "create from reference" command could be a better place for `--lockfile-node-id` option (which as I understand also depends on `--build <ref>` option).

[2021-01-21 14:23] jgsogo commented on #8376
Hi! We are already adding mirrors to some recipes using the [`tools.get()`](https://docs.conan.io/en/latest/reference/tools.html#tools-get) tool (it supports a list of URLs). You can check how we add it to this [msys2 recipe](https://github.com/conan-io/conan-center-index/pull/1060): basically it is a list of URLs, all of them with the same checksum.

[2021-01-21 14:31] jgsogo commented on #8365
Hi, @xahon

If your recipe doesn't remove the setting `compiler`, Conan will generate different package-ID for different values of `compiler.libcxx`, for example:

[code]

 As you can see in the table generated, the package-id is different for different values of `compiler.libcxx` (given the same settings for the other columns):

![image](https://user-images.githubusercontent.com/1406456/105364576

[2021-01-21 14:54] jgsogo commented on #8364
Hi! This is related to https://github.com/conan-io/conan/issues/4694, so far we haven't decided what would be the first alternative (workaround using current features or a new feature).

I would like to add something else to these alternatives. There is a Conan feature, [`compatible_packages`](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html?highlight=compatible_pack

[2021-01-21 15:09] jgsogo commented on #8363
Hi! Which one is the docker image you are using? What is the output from `sudo -help`?

[2021-01-21 15:11] AndreyMlashkin commented on #8376
Thanks!

[2021-01-21 15:11] #8376 closed, assigned to nobody

[2021-01-21 15:18] memsharded opened #8377 "[feature] Expose scm data to ``conan info``"
Would be very useful to have information about the commits for scm=auto specially, to allow checking out dependencies at the exact commits used in a dependency graph.

[2021-01-21 15:28] refactorTractor commented on #8331
Ok, so I encountered the following:
I update one of our custom dependency recipes, so I export it using `conan export`, then I would like to use this in our main project, so I call `conan lock create --reference=reactor/2.2@ --build reactor --lockfile=conan.locks\base.lock --lockfile-out=conan.locks\reactor_update.lock -u`.
In this case conan immediately goes to the server and downloads the revisi

[2021-01-21 15:49] rconde01 commented on #8363
I'm using my own docker image. I will try to get the sudo output later today.

[2021-01-21 17:33] PengolodhGoedath opened #8378 "[bug] conan source requires conanfile.py to accept default profile settings"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 (64-bit)
  * Compiler+version: MSVC 2019 16.8, clang 11, gcc 9.3
  * Conan version: 1.33.0, 1.32.1, 1.24.0
  * Python version: 3.8.2, 3.6.x

### Steps to reproduce (Include if Applicable)

`conan source` does not work on recipes which do not accept the settings of the default profile. It doesn't m

[2021-01-21 18:06] jgsogo commented on #8378
Hi, @PengolodhGoedath.

You are missing one previous step in local workflow: `conan install <conanfile.py>` which requires a profile (or command line arguments). After running `conan install <conanfile.py>`, Conan will read the settings from the generated `conaninfo.txt` file to ensure that the following commands use the same settings (it would be an error to run the install with some settings and

[2021-01-21 18:19] PengolodhGoedath commented on #8378
@jgsogo Unless I'm reading [Package development flow](https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html) wrong, the order of commands should be first `conan source`, then `conan install`. Did that change?

Even the [example conan flow](https://github.com/memsharded/example_conan_flow/blob/master/demo.py) from that page uses that order.

Though, now reading through the `cona

[2021-01-21 18:29] PengolodhGoedath commented on #8364
@ytimenkov Just so I'm understand you correctly: You want two recipes per package, one building it and packaging all build artifacts and binaries, and one taking the first package and generating all other artifacts (as required)? Possibly a third package, to repackage the results of the first?

Seems like an interesting approach. It doesn't suffer from the synchronization problem (as the package v

[2021-01-22 02:43] prince-chrismc opened #8382 "[question] Missing packages depending on workflow lockfiles"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

My CI/CD broke this week and I do not understand why. So hopefully you can enlighten me 😸
- [workflow](https://github.com/prince-chrismc/user-management/actions/runs/497488848/workflow)

Simply put there are two steps where it calls
1. Create lock and create package
    - [download re

[2021-01-22 04:57] SSE4 commented on #8375
I spotted a serious issue in `validate` implementation: #8383

[2021-01-22 08:44] mvtec-richter commented on #7498
Hello!

We had a very similar issue with conan and our artifactory instance. The download also stopped at almost exactly 1G, but only on slow connections. We also got an "Incorrect Content-Range header" error message from conan.

Additionally to slow VPN connections, we could reproduce this on machines with a fast connection to the artifactory server when rate limiting the download:
curl -u<userna

[2021-01-22 09:21] memsharded commented on #8375
This is not an issue at all in the ``validate()``, it is working as expected. It is an issue in the options processing: https://github.com/conan-io/conan/pull/8383#pullrequestreview-574079761

[2021-01-22 09:21] p0fi commented on #5554
I think the release you was waiting for happened. Are there any news here?

[2021-01-22 10:40] 19317362 opened #8385 "[question] Can we get system environment var in profiles?"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

A profile  like this works fine
`standalone_toolchain=/opt/cross`
`[env]`
`CONAN_CMAKE_FIND_ROOT_PATH=$standalone_toolchain`

`export MY_CROSS_ENV_VAR=/opt/cross`
`A profile  like this works dose not work`

`standalone_toolchain=$MY_CROSS_ENV_VAR`
`[env]`
`CONAN_CMAKE_FIND_ROOT_PATH=$

[2021-01-22 11:44] #8377 closed, assigned to memsharded

[2021-01-22 12:03] mathbunnyru opened #8386 "[feature] Implement cached_property"
Right now, we have so many `cmake`s whice are cached in the manual way like this:

[code]

This is also not the only thing, which is cached, for example:
https://github.com/conan-io/conan-center-index/pull/4319

What I would like to have instead:
[code]

There are already existing implementations like this: https://pypi.org/project/cached-property/
But it might make sense to reimplement this in th

[2021-01-22 12:12] solvingj opened #8387 "[bug] Catalyst subsystem setting should be all lowercase"
https://github.com/conan-io/conan/pull/8264/files

The new Macos subsystem `Catalyst` in settings should be all lowercase to be consistent with existing subsystems.

https://github.com/SSE4/conan/blob/ff7de2e5b2551b0cc69970e8bb6edf43b6760ba0/conans/client/conf/__init__.py#L41
` subsystem: [None, "Catalyst"]`

https://github.com/SSE4/conan/blob/ff7de2e5b2551b0cc69970e8bb6edf43b6760ba0/conans/client

[2021-01-22 12:13] solvingj commented on #8387
I also just noticed it's in quotes and the others are not.  Not sure if that is functionally different, or optional and works either way.

[2021-01-22 13:29] czoido commented on #8385
Hi @19317362,
Yes, that's the expected behaviour. Environment variables are not expanded inside the profile, you can just declare them to use later but not use them inside the profile. Maybe it should be stated a bit clearer in the [documentation](https://docs.conan.io/en/latest/reference/profiles.html).
Anyway, we are working in more advanced profiles ([maybe using Python](https://github.com/cona

[2021-01-22 20:27] dmn-star opened #8388 "[question] How to build for Mac Catalyst?"
1.33 with catalyst support is out and I tried it right away. Maybe with a bit naive first try. :-)

### Environment Details (include every applicable attribute)
  * Operating System+version: Catalina
  * Compiler+version: Apple clang version 12.0.0 (clang-1200.0.32.28)
  * Conan version: 1.33
  * Python version:  3.7.4

### Steps to reproduce (Include if Applicable)
conan install xmlsec/1.2.31@ --

[2021-01-22 20:27] dmn-star commented on #8388
@SSE4 What all do I have to consider or is this now an error in Catalyst support?

[2021-01-22 20:50] blackliner commented on #8293
@jgsogo any updates? The non existing url might be a lead?

[2021-01-22 20:51] blackliner commented on #7300
ok, getting the infamous message (of course there is no other process accessing the package):
[code]
now, running the command `conan remove --locks` does unfortunately not help, the 2 files in the ceres-solver dir just stay there:
`tree .conan/data/ceres-solver/`
[code]
Seems like this scenario could be formulated as a unit test?

[2021-01-22 21:57] memsharded commented on #8388
Asking @SSE4 for help.

It would be great to know if it builds and works for simpler use cases, like typical "hello world", or even other Conan packages like zlib or others. Maybe it is something of that recipe in particular, that its build system is nor prepared to build for Apple Catalyst.

[2021-01-22 21:58] memsharded commented on #8388
If it is a bug @SSE4, it can be directed to 1.33.1.

[2021-01-22 22:01] memsharded commented on #8386
Yes, I have actually wanted to do this for Conan internals for a while, so it would make sense to make available something similar for recipes too.

[2021-01-22 22:14] dmn-star commented on #8388
I get the same error for Zlib too.

zlib/1.2.11: Calling:
../configure '--prefix=/Users/dmn/.conan/data/zlib/1.2.11/_/_/package/9d3239a97b703c82f38d9e91676ca971d7eb7701' '--libdir=${prefix}/lib' '--includedir=${prefix}/include'
Compiler error reporting is too harsh for ../configure (perhaps remove -Werror).
./configure aborting.
zlib/1.2.11:
zlib/1.2.11: ERROR: Package '9d3239a97b703c82f38d9e91676

[2021-01-23 07:00] SSE4 commented on #8388
the error is:
[code]
that's curious, as several people stated it should be `-target`.

[2021-01-23 07:03] SSE4 commented on #8388
confirm the same error with `zlib/1.2.11`:
[code]

[2021-01-23 07:08] SSE4 commented on #8388
changing to `--target=x86_64-apple-ios-macabi`, `zlib/1.2.11` build successfully. `openssl/1.1.1i` also builds fine.
gtest complains:
[code]
adding `os.version=13.0` to profile it fails on later stage:
[code]
OTH, `jsoncpp/1.9.3` (also CMake-based) build fine, but with warning:
[code]
as I understand flag `-mmacosx-version-min=13.0` is added by CMake itself, so it's upstream problem https://gitlab

[2021-01-23 07:27] SSE4 commented on #8388
okay, seems like this condition prevents `-mios-version-min` to be applied for `AutoToolsBuildEnvironment`:
https://github.com/conan-io/conan/blob/1d050595f809c0b8b073f4402509f6e1dca4bb38/conans/client/build/autotools_environment.py#L356
because `--target=x86_64-apple-ios-macabi` is already applied from the `architecture_flag`

[2021-01-23 07:45] SSE4 commented on #8388
okay, one more thing. `zlib/1.2.11` (and several other recipes) needs the following code either removed or fixed:
https://github.com/conan-io/conan-center-index/blob/655abfca62804aeeee0804af7dd81b8a9ea15b86/recipes/zlib/1.2.11/conanfile.py#L69
as it doesn't pass `os.subsystem` and `os.sdk`, so it incorrectly computes flag `-mmacosx-version-min=13.0`

[2021-01-23 09:28] ftrier commented on #7506
I have the same problem as FnGyula. Since I don't want to expose my static libraries to the consumer, they are included via `build_requires`.
Maybe I am missing something, but what **is** the appropriate way to solve this at the moment?

[2021-01-23 15:07] ytimenkov commented on #8364
This is really just an optimization. My major point was that Conan package should contain binaries. Other artifacts relevant for CI (like test / coverage reports) are not really part of the Conan package and should be produced separately.
(well, PDBs and coverage notes for example are packaged, since it's what produced by compiler).

A binary from package can be consumed for multiple purposes. For

[2021-01-23 15:15] ytimenkov commented on #4694
Isn't that what build info does? It links artifacts with CI job / build produced it so you can trace it back.
(As described here: https://docs.conan.io/en/latest/howtos/generic_ci_artifactory.html).

It is also true that most of CI systems do some kind of processing of artifacts (for example, parse jUnit reports or highlight uncovered code in the pull / merge request) so having them in a Conan pac

[2021-01-23 18:14] rconde01 commented on #8363
so `sudo -h` gave `command -h not found` so I did `which sudo` which gave `/opt/rh/devtoolset-8/root/usr/bin/sudo`

the contents of that file are:
[code]

doh...I then found this:
https://bugzilla.redhat.com/show_bug.cgi?id=1319936

which points to this:
https://access.redhat.com/errata/RHEA-2019:4132

devtoolset-9 may be an option for us, but not sure if you want to add a workaround for other cas

[2021-01-23 20:15] PengolodhGoedath commented on #8364
Maybe this gets clearer if I specify what my expectations on a general CI workflow are.

Generally, I can see three main requirements:

1. In case of a pull request, functional tests and static analysis should be run, so I can see what breaks and/or what could be improved before merging. The artifacts of those only have to survive until the PR gets merged, afterwards they aren't strictly needed an

[2021-01-24 05:51] ytimenkov commented on #8364
Your workflow is not unique.

Just compare with how you would have created a multi-job CI pipeline without Conan:

1. Build job.
   1. CI checks out sources,
   2. runs configure/make (usually called a "script step")
   3. then you tell CI to grab certain paths and publish them as artifacts.
2. Test job.
   1. Tell CI to grab artifacts from build job.
   2. Run script step which executes the tests

[2021-01-24 06:48] ytimenkov opened #8390 "[question] builddirs and build_modules for build requirements are not generated"
Continuing on flatc vs flatbuffers issues...

I'm using `cmake_find_package` generator with separate host/build profiles.

After upgrade from 1.29 to 1.33 I've noticed that `Findflatc.cmake` file no longer generated.

Opening Conan source code I found that only user and env info and binary/library paths are propagated which means there is no way to find build modules provided by a build requiremen

[2021-01-25 00:36] 19317362 commented on #8385
Thanks for your info.
I'm trying to use conan + win + docker + cross compile for arm ( linux, android and bare bones embedded).
It seems CONAN can make my image work. But a lot of trying and trying is needed.

It's strange that the  $MY_CROSS_ENV_VAR works with NDK R22 profile + toolchain.

[2021-01-25 02:55] hannahwhy opened #8391 "[bug] conan export performs newline conversion that interferes with recipe revision calculations"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 and Ubuntu 20.04; there may be others
  * Compiler+version: N/A
  * Conan version: 1.33.0
  * Python version:
  ** Windows 10: Python 3.9
  ** Ubuntu 20.04: Python 3.8.5

### Steps to reproduce (Include if Applicable)

You will need a Windows 10 and a UNIX-ish system to reproduce this problem.  I

[2021-01-25 02:57] hannahwhy commented on #8391
My understanding is that Conan 2.0 will support multiple recipe revisions in the client cache, which may mean that the impact of this behavior goes away.  This behavior is pretty confusing in the 1.x series, though.

Are there known problems with avoiding newline normalization?

[2021-01-25 03:15] hannahwhy commented on #8391
On further investigation, this might not be Conan's bug: I may have a misconfigured newline setting in my git client on Windows.  I'll investigate and update this report if I find something.

[2021-01-25 03:31] hannahwhy commented on #8391
Yeah, this definitely looks like a problem with newline conversion in one of my git configurations.  Closing this issue.

[2021-01-25 03:31] #8391 closed, assigned to nobody

[2021-01-25 09:35] Grumpy7 opened #8392 "[feature] Allow package name length limit to be overriden via environment variable"
I've seen this question pop up from time to time among the issues and we're also occasionally running into this problem. I realize that officially relaxing any package name limit might have implications regarding support etc. However, this is similar to the short_paths feature which already can be overriden via environment variables.
Could it be possible to allow manually overriding the 50 char li

[2021-01-25 13:56] jerdna commented on #8195
@memsharded Any chance I can pair with somebody to discuss. I don't mind doing the end code work. Just need some input from somebody who knows system better.

[2021-01-25 17:52] levenkov commented on #4135
@memsharded What about this bug?

[2021-01-25 18:11] memsharded commented on #8392
Hi @Grumpy7

The main difference is that the short_paths is a client side only feature, so it was easier to do that. We know that the 50 chars limit of the reference fields (name, version, user, channel) can be in used in the server side DB, as these are typically the main entry  point of DBs for queries, searches, etc., and could be optimized for speed and size. Given that many vendors implement

[2021-01-25 18:25] memsharded commented on #8391
Hi @yipdw

Happy that you found the cause. This has been discussed a few times, and people sometimes confused about packages getting new revisions, and wanting Conan to normalize line endings. But we think this is a bad idea, it is way more complicated than it seems to decide which files need to be normalized and which not, so we strongly believe that this is something that is in the side of the v

[2021-01-25 18:37] memsharded opened #8393 "[feature] Consider adding a "conan venv" command"
Proposal by @SSE4 in https://github.com/conan-io/conan/pull/8306

the use case is the same as `VirtuanEnv` itself, basically. actually, it's more likely a syntax sugar on top of `VirtualEnv`.
right now, to get cmake and execute command with it I need 4 conan commands:
[code]
with new feature, it would be just:
[code]
it's easier to remember just one command than 4 commands, right?
also, it is shel

[2021-01-25 21:02] kdsx commented on #4135
I thought a bit and noticed that for a long time I use package-specific **options** in profiles and they work. But options are processed before build_requires. So at some moment of time before build_requires are read, conan knows some package ref and is able to match profile rules (at least for options). But when it reaches build_requires, this ability is lost. Why?

[2021-01-26 08:41] DukeOfKirkcaldy opened #8395 "[bug] conan_build_info does not raise in event of an error"
Failure to publish buildinfo in one of our CI jobs went undetected because an error occurred but was not raised.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64-bit
  * Compiler+version: n/a
  * Conan version: 1.33.0
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)
Try to publish erroneous buildinfo to artifactory.

[2021-01-26 09:39] jgsogo commented on #8363
Hi, @rconde01

If it is declared as a bug by redhat/devtoolset (and it is already fixed) I don't think we should provide a workaround unless that version of `devtoolset`  is the default one for current `rhel` versions. We can add the workaround to the documentation (or some knowledge base), but now that we are moving towards Conan v2.0 and we want to clean legacy from the codebase (some minimum ve

[2021-01-26 14:50] danielmevi commented on #2737
@memsharded  will try that. Thanks

[2021-01-26 15:56] 3ddiddE opened #8396 "[question] SHORT DESCRIPTION"
I am using the cmake_find_package method to include conan installed packages.
One of the package is pybind11, Now I immediately get an error after calling find_package(pybind11 REQUIRED)

||   another target with the same name already exists.
|| Call Stack (most recent call first):
/home/x/.conan/data/pybind11/2.6.1/_/_/package/5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9/lib/cmake/pybind11/pybind11In

[2021-01-26 17:31] memsharded commented on #8388
Fixed in https://github.com/conan-io/conan/pull/8389, will be released in next patch 1.33.1

[2021-01-26 17:31] #8388 closed, assigned to SSE4

[2021-01-26 17:31] petermbauer commented on #8121
I have a different use-case but would also like to just retrieve the sources when using the `scm` attribute, ideally into the user space.

[2021-01-26 17:31] memsharded commented on #8387
Fixed in https://github.com/conan-io/conan/pull/8389, will be released in next patch 1.33.1

[2021-01-26 17:31] #8387 closed, assigned to nobody

[2021-01-26 18:25] solvingj commented on #8121
Thanks @petermbauer , if you would be willing to elaborate upon your use case, it might help inform the feature development. Please feel free to add if you like.

[2021-01-26 18:42] petermbauer commented on #8121
Sure, thanks for the reply. We would just like to make the source files together with some binaries available for the testing departement coming from a Conan Package in the Artifactory.

[2021-01-27 08:53] dragondive opened #8398 "[question] Why does "conan search boost --remote=conan-center" fail frequently?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I tried `conan search boost --remote=conan-center` and it failed with a timeout:

    /tmp$ conan search boost --remote=conan-center
    ERROR: HTTPSConnectionPool(host='conan.bintray.com', port=443): Max retries exceeded with url: /v1/conans/search?q=boost (Caused by ReadTimeoutError

[2021-01-27 13:02] floriansimon1 commented on #7795
We got this again today:
[code]

Like spirv-header, fmt is also the dependency of a dependency. Is that why this fails?

[2021-01-27 15:24] memsharded opened #8400 "Consider renaming [conf] section to [cfg], or renaming the conan.cfg file."
To be consistent in all places.

Suggested by @grafikrobot, thanks!

[2021-01-28 00:41] memsharded commented on #8144
Hi @kaihowl @FnGyula

I have been trying in https://github.com/conan-io/conan/compare/develop...memsharded:feature/lock_install_base?expand=1 to implement this feature. And so far I have failed, I don't see a consistent way to do this.

The problem is that ``conan install --base-lockfile`` (or passing a base lockfile to --lockfile) can, and many times will have a different base or reference than t

[2021-01-28 02:07] SeanSnyders opened #8402 "[bug] CMake FindGTest does resolve correctly for Conan Debug package of GTest"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.6
  * Compiler+version: n/a
  * Conan version: 1.32.0
  * Python version: 3.8.6

### Steps to reproduce (Include if Applicable)

Also reported here: https://github.com/bincrafters/community/issues/493#issuecomment-768726222

----

I think I am experiencing a similar situation as https://github.co

[2021-01-28 07:25] kdonev opened #8403 "[question] What is best way to use conan with xcode projects for ios application?"
Hello,

I have a large multiplatform application. It has code that is for each platform and C++ code that is platform independent and 3rd party C++ libraries that uses.
Now I am trying to use conan for those 3rd party libraries. And I have troubles make it work for iOS.
I have UI xcode project for ios application. It depends on C++ xcode project which is generated from cmake. The C++ code depends

[2021-01-28 08:09] SSE4 opened #8404 "[feature] add GCC 11 to settings.yml"
Fedora 34 uses GCC 11

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-01-28 10:24] gpxricky opened #8405 "python_requires not available in Grapher object for graph output"
Hi,

I like to possibility to visualize all dependencies of my Conan package in a graph and output it either as Dot or HTML file.
However, I would like to see the full dependency graph including `python_requires` dependencies. Unfortunately, as far as I could see, there is no chance to get this information and output it e.g. by using user specific templates.
Could you please enhance the creation o

[2021-01-28 14:33] DmitrySokolov opened #8407 "[question] Is there portable conan app?"
Is there a portable conan app (that does not require installation)?

[2021-01-28 15:32] cassava commented on #4177
I would like to add that having type hints in the main code repository would be enormously helpful to new contributors. Trying to figure out what type a particular variable *is* is a game of hide-and-seek currently...

[2021-01-28 15:34] memsharded commented on #8407
We don't distribute one, but running **pyinstaller.py**  in the repo: https://github.com/conan-io/conan/blob/develop/pyinstaller.py, will give you a self contained executable that you could drop in a compatible machine. Please try that and let us know.

[2021-01-28 17:24] jgsogo commented on #8405
Hi, Markus

We are committed to Conan v2 development right now. Conan v2 will have a new implementation of the graph and the visualization will include all the nodes (we expect to provide a much better view). I can tag this issue, but not sure if we can assign resources to it. Anyway, if you feel like contributing it with a pull-request it will be more than welcome.

Thanks!

[2021-01-28 17:26] jgsogo commented on #8404
I think it is not a stable release yet: https://gcc.gnu.org/releases.html

[2021-01-28 17:29] jgsogo commented on #8403
Hi, @kdonev

It looks like this is a very particular issue for your configuration and project. We are here to help, but in order to understand your problem we need something we can reproduce. Can you recreate your project/workflow with a minimum example using GitHub? Something we can clone, follow your step, experience your issues and then try to give you some hints?

Thanks!

[2021-01-28 17:42] jgsogo commented on #8402
Hi, @SeanSnyders

I'm not sure which package are you talking about. I will refer to [`gtest` from ConanCenter](https://conan.io/center/gtest) (you can find the recipe in this repository: https://github.com/conan-io/conan-center-index/). If your issue is related to the recipe owned by Bincrafters (or any other recipe), then it is better for you to open an issue there.

Conan packages are expected t

[2021-01-28 17:44] jgsogo commented on #8396
Hi, @3ddiddE

Can you share the `CMakeLists.txt` file you are using to include those 3rd parties? And also, the full log you get from CMake, please?

Thanks!

[2021-01-28 17:59] czoido commented on #8395
Hi @GordonJess,
Thanks a lot for reporting, you are right the exit code of `conan_build_info` was not correctly applied.
Will be fixed as soon as possible.

[2021-01-28 19:01] xahon opened #8409 "[question] conan info --graph builds incomplete graph"
Is there a way to add transitive dependencies to the graph, i.e. all dependencies of dependencies of dependencies and so on to be rendered in the graph?

https://docs.conan.io/en/1.13/reference/commands/consumer/info.html says that `conan info` creates a complete graph but I don't think "complete" is a right word. I guess "shallow" fits better

- [x] I've read the [CONTRIBUTING guide](https://gith

[2021-01-28 22:06] PengolodhGoedath commented on #8409
`conan info --graph` does generate graphs with transitive dependencies (though with a few caveats: `python_requires` aren't included at all, and `build_requires` only for the root package). Sometimes, if the dependencies are used by multiple levels, the html hierarchical ordering gets confused, but you can simply disable that checkbox and drag them into a more organized fashion.

For an example, t

[2021-01-28 22:27] memsharded commented on #8409
A note, passing ``--build=missing`` or ``--build`` argument to the ``conan info`` might pull more build_requires into the graph too, besides the root package ones.

[2021-01-29 03:13] xahon commented on #8409
Try to build a graph for that package

conanfile.txt
[code]

In my case the graph doesn't show some packages (m4_installer for me)
However i see that line when i call `conan info ...`
```m4_installer/1.4.18@bincrafters/stable: Forced build from source```

Github doesn't allow to attach html files, sorry

[2021-01-29 03:48] PengolodhGoedath commented on #8382
As far as I can tell, the recipe revision ID changed between the `create` (openssl/1.1.1i#55d4cf80244573060fbd973268276e3e) and `install` calls (openssl/1.1.1i#d8a9ac920ca866a9f6e09e0010110892).

Since the `install` call doesn't use the lockfile, it is looking for a binary package for the newer recipe revision - but the binary package used by `create` was for the old recipe revision, so it isn't c

[2021-01-29 04:49] 3ddiddE commented on #8396
Well I was hoping that anybody here could confirm this behavior.
I have now created a minimal example using this CMakeLists.txt:

project(ProjectName)
include(${CMAKE_BINARY_DIR}/conan_paths.cmake)
find_package(pybind11 REQUIRED)
include_directories(${library_INCLUDE_DIRS})
add_executable(ProjectName main.cc)
target_link_libraries(ProjectName pybind11::pybind11)

having this output:

[2021-01-29 05:57] xahon commented on #8365
Thanks

[2021-01-29 05:57] #8365 closed, assigned to jgsogo

[2021-01-29 07:19] kdonev commented on #8403
Yesterday I made a sample for my setup of projects. I make it work like I want by creating a custom xcode_multi generator. You will be able to see it in the sample.
If you have better idea how to use conan in my case, please advise.

Here is the repo: https://github.com/kdonev/conan-cmake-xcode-sample

[2021-01-29 09:06] #8395 closed, assigned to czoido

[2021-01-29 09:07] memsharded commented on #8395
Fixed in https://github.com/conan-io/conan/pull/8408, will be in next 1.34

[2021-01-29 09:11] jgsogo commented on #8396
Hi, @3ddiddE , there is indeed a _bug_ in the `pybind11` package in ConanCenter. In **Conan 1.33 we modified the generated `FindXXX` files to include the build_modules after the targets created by Conan** (https://github.com/conan-io/conan/pull/8130), that way it was possible to generate other targets or populate other properties based on the information provided by Conan.

In `pybind11` package,

[2021-01-29 09:13] memsharded commented on #8409
Yes, sorry, I did a mistake, the actual argument you need to pass to info is "dry_build". It is the equivalent to --build but it just compute it, doesn't really build.

[code]

Then open the file.html, you will see build requires of transitive dependencies as ovals. This UX will be improved in Conan 2.0.

[2021-01-29 09:16] memsharded commented on #8398
Hi @dragondive

Thanks for reporting. This is an infrastructure issue we are experiencing with ConanCenter. We are aware of it, it is quite challenging to fix it quickly, but it is in the roadmap. Please use https://conan.io/center to do searches in the meantime

[2021-01-29 11:03] Artalus commented on #8391
Just stumbled upon this myself. Do I understand it correctly, that the proposed solution is to use `git config --local core.autocrlf` with `false`/`input` parameter, and then re-checkout the working commit?

Regarding the issue itself: I would consider it an OK compromise if Conan would hash not the raw content of `conanfile.py`, but something like `'\0'.join(open('conanfile.py').readlines())`. So

[2021-01-29 11:44] xahon commented on #8409
@memsharded thanks, that is what i looked for :)

[2021-01-29 11:44] #8409 closed, assigned to memsharded

[2021-01-29 12:01] michaelmaguire opened #8410 "[question] In lockfile ci examples, why do we export to capture full recipe revision for libb base but not app1 base?"
We are following through the https://docs.conan.io/en/1.33/versioning/lockfiles/ci.html#products-pipeline documentation and the associated lockfiles ci example:

https://github.com/conan-io/examples/blob/14186e8798b540cf0cdafe218b4457fdbdbc3d4a/features/lockfiles/ci/build.py#L73-L100

I understand from the very helpful explanation in https://github.com/conan-io/conan/issues/8205#issuecomment-75965

[2021-01-29 12:09] at185190 opened #8411 "[feature] Parse options as first thing in conan workflow"
So we ran into few issues, stemming with our need to change package version and dependencies versions on the fly.

While we are able to do all that in set_version or within requires , its all static.
If we want to pass in a path to custom ini file containing version, we can't as options are not yet available during those methods evaluation.

We have to resolve to setting numerous env variables to

[2021-01-29 12:47] memsharded commented on #8391
Hi @Artalus

I also believed the same about warnings like: ``WARN: you are using git with core.autocrlf=true, which will affect the revisions of your recipe and package.``. In reality, my experience in support shows that these warnings are rarely effective. Nobody reads them, many times because it is a CI job, but even at the developer level. We could try to add that check, but the effectiveness i

[2021-01-29 13:43] prince-chrismc commented on #8382
55d4cf80244573060fbd973268276e3e != d8a9ac920ca866a9f6e09e0010110892 Perfect

Thank you for solving my mystery!

[2021-01-29 13:43] #8382 closed, assigned to nobody

[2021-01-29 14:12] dragondive commented on #8398
@memsharded Thanks for the confirmation. I was wondering if there was something wrong with my setup, good to know it isn't. This isn't especially urgent (at least for me), so the suggested alternative works for me.

[2021-01-29 14:24] Chemrat opened #8413 "[question] conan upload --no-overwrite all still runs checks?"
Hello,

I've noticed that `conan upload` runs checks even for packages that have identical `PacakgeID` in the remote, even when `--no-overwrite all` is enabled, which I'd assume forbids conan to overwrite the package if it differs.

I'm trying to use the following workflow:
- in a clean environment, `conan install -b outdated` to pull in and build dependencies if nescessary, launched through conan

[2021-01-29 14:53] TimoNussbaumer commented on #7609
Hi @memsharded,

we experienced the exception ([options.py line 75](https://github.com/conan-io/conan/blame/1.33.0/conans/model/options.py#L75)) when we were migrating from 1.27.1 to 1.31.0 (change in 1.28.0) as some of our packages refer to options of (build_)required packages. We have code like this:
if self.options["some_required_package_of_this_package"].the_option_of_the_required_package:

[2021-01-29 15:15] memsharded commented on #7609
Hi @TimoNussbaumer

Can you give a bit more context how are you using that code?
[code]
Because this might be possible only in ``build()`` method. Options of dependencies cannot be checked while the graph is expanding (``configure()`` method), because the dependency does not even exist yet. When defining the value is a request to define it in the dependency, but the actual value of a dependency ca

[2021-01-29 15:25] cthiebault commented on #3060
Sorry to wake up old thread like this one but where did you put your unit tests?
Under `/src` folder ? But if so, they will be published in the package right?

[2021-01-29 15:29] xahon opened #8414 "[bug] meson doesn't use the compiler specified in profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux 4.15.3-1-generic
  * Compiler+version: Clang 9.0.1
  * Conan version: 1.33.0
  * Python version: 3.5.3

My profile:
[code]

### Steps to reproduce (Include if Applicable)
1. `conan install glib/2.58.3@bincrafters/stable -pr profile_with_clang --build`

### Logs (Executed commands with output) (Include/

[2021-01-29 15:34] xahon commented on #8414
I also tried `CC=clang-9 CXX=clang++-9 conan install ...`, the same error

[2021-01-29 15:37] xahon commented on #8414
My current workaround:
[code]

[2021-01-29 15:56] TimoNussbaumer commented on #7609
Hi @memsharded,

thanks for the quick response. I'm sorry here some more context/example of usage:
`conanfile.py` of the package that requries `some_required_package_of_this_package_A`:
[code]
`deps` is a from a yaml file loaded dictionary were we store the Artifactory references to the packages.
We experienced the exception during a Conan create call. A colleague of mine did a test/check with the

[2021-01-29 17:49] xahon commented on #6801
Very unpleasant workaround. I can't upgrade to debian 10 because i have to develop on specific distro
Is there a solution by now?

[2021-01-29 17:50] xahon commented on #6801
@memsharded your code throws the same error for me

[2021-01-29 17:55] czoido commented on #8411
Hi @at185190,
Thanks a lot for the feedback and question. The problem of having the options available in `set_version` is that the graph is not evaluated yet and you can't know the options at that point. Anyway, it would be impossible to evaluate the graph because you don't know the version...
If you do a conan create for example, the order of executions of the methods is:

[code]

Options should

[2021-01-29 17:56] memsharded commented on #7609
Hi @TimoNussbaumer

Now it is clear. Please note your pattern:

[code]

``requirements()`` is evaluated when you are analyzing the conanfile.py, to try to know what are your dependencies. When that is resolved, it will be necessary to fetch them, evaluate them as well. It is totally impossible that you can know the actual values of your dependencies even before resolving them. In the case of ``bui

[2021-01-29 18:14] sourcedelica commented on #8391
Here is the incantation we ended up using on one of our projects' CI jobs:
[code]

[2021-01-29 22:51] solvingj commented on #8144
Unfortunately, I don't have any personal experience with the `--base` flag yet, so I don't have much intuition about what is possible with it.  My understanding was that it was conceived and designed to support one case: capturing recipe revisions at a single point in time and generating multiple per-configuration lockfiles from it.  Maybe what @kaihowl is trying to do seems reasonable on the surf

[2021-01-30 14:26] at185190 commented on #8411
Options are arguments you pass in, why do you need to know version to evaluate arguments that are being passed in, you don't have to act on them, just have them parsed?

One of our requirements is to parse ini file for version, which is easy and is one of examples on official documentation, but that path is static, I can't say, build this and use this version file with this path, as there is no wa

[2021-01-30 21:50] memsharded commented on #6801
Hi   @xahon

If the simple python code with ``requests`` direct download fails, it seems that there is nothing we could do from Conan code, it is not a Conan bug, the underlying infra is not working. I cannot think of other solutions rather than:

- Upgrading debian 10
- Reporting to pcre project about this. It seems their ssl certificates or something are also problematic
- Downloading manually t

[2021-01-30 21:57] memsharded commented on #8413
Hi @Chemrat

Yes, the PackageID is not globally unique, it is the hash of settings+options+dependencies, so different packages can have the same PackageID for its binaries. Without using revisions, the binary can be rebuilt, and the checksum of the packaged ``conan_package.tgz`` is what is being used to check if necessary to re-upload it or not.

However, latest Conan versions do not need to re-co

[2021-01-31 03:46] daravi opened #8415 "[question] How to ensure build_requirement sub-graph is Release"
Hello,

I want to be able to ensure that my `build_requirements` (e.g. `cmake`) are built in release mode so that the build time does not suffer. These requirements are rarely used as library dependencies so my first preference would be to be able to tell Conan that I want all build requirement sub-graphs to be built in release mode. This ensures I do not have to manually manage a list of package

[2021-01-31 11:51] memsharded commented on #8415
Hi @daravi

Have you tried the new build-context model? Specifying a different ``--profile:build=xxxx`` with a profile that contains "Release", your build-requires in build context will be Release, independently of what build type the host context has. This model will be the one used in Conan 2.0.

[2021-01-31 17:04] solvingj commented on #8415
@memsharded advice seems like the appropriate approach.

[2021-01-31 22:22] NoSpooksAllowed opened #8417 "[bug] linker can't find downloaded libraries"
Hello, I just tried to build test example from getting started page in conan, but for some reason linker does not see downloaded libraries, even that according to conan they were downloaded

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.10
  * Compiler+version: g++ 10.2.0
  * Conan version: 1.33.0
  * Python version: 3.8.6

### Steps to reprod

[2021-02-01 00:38] SeanSnyders commented on #8402
@jgsogo Thanks for the reply and comments.

I think ultimately the problem does not seem to be a conan package issue.

Maybe a detail I missed to note: I first run `conan install ...` to install and collect all dependencies, etc. Then I want to generate project files for a specific IDE that CMake supports, say xcode, or VS. To achieve this, I need to run the same CMake as what my `build_requires`

[2021-02-01 03:58] klimkin opened #8418 "[bug] artifacts.properties doesn't apply to internal Artifactory files"
`artifacts.properties` doesn't apply to internal Artifactory files. This causes issues for Artifactory tools like cleanup scripts that scan properties for retention indication.

### Environment Details (include every applicable attribute)
  * Operating System+version: any
  * Compiler+version: any
  * Conan version: 1.32.0
  * Python version: 3.7.3

### Steps to reproduce:
1. Create [artifacts.pro

[2021-02-01 07:14] solvingj commented on #8418
I believe this is because `index.json` and `.timestamp` are not uploaded, but instead generated server side. The only way to get set a retention policy on these files is with `curl` or `jfrog-cli` after they are known to be created.

[2021-02-01 07:17] solvingj commented on #8417
Can you post the generated `conanbuildinfo.cmake` file?

Also, can you post the section from your `CMakeLists.txt` where you do `include()` on it, just to confirm you're including it correctly?

[2021-02-01 07:23] solvingj commented on #8414
ping @SSE4 please have a look

[2021-02-01 08:09] lukasoyen opened #8419 "[bug] `conan install` with warm download caches accesses remote repositories"
### Environment Details (include every applicable attribute)
  * Ubuntu 20.10
  * Conan version: 1.130.0
  * Python version: 3.7.0

### Steps to reproduce (Include if Applicable)

* set `general.revisions_enabled=1`
* configure a `storage.path` and a `storage.download_cache`
* run `conan install` using a lockfile ensuring correct hashes for everything are available
* delete the directory `storage.

[2021-02-01 08:25] czoido commented on #8411
Hi @at185190,
Have you tried to set the version via the command line? You can do: `conan create . version@` and that will set the version of the package, maybe that helps you solving your problem?
If not, I think that for what you want to do, probably environment variables are a better option than using the options for passing those arguments. The purpose of options is defining the binary compatib

[2021-02-01 08:29] solvingj commented on #8411
@at185190

I want to add to what @czoido has said.

This statement is technically correct (the best kind of correct). In theory, the arguments could be parsed and converted from strings to structured data which could be made available when you need them for your use case.  It's technically possible (again in theory).

However, Conan is of course, complex and nuanced.  The un-intuitive point causin

[2021-02-01 08:45] at185190 commented on #8411
This doesn't work if you are using set_version() to read the value from a default location, which for us is local version.ini file.
Conan will barf that version passed in doesn't match one in recipe.

We are resorting to using env variables, but its ugly, clunky and all around horrible when compared to arguments you can pass in.
If options cannot be available due to package_id calculation, maybe t

[2021-02-01 08:47] DmitrySokolov commented on #8407
[code]
While https://github.com/pyinstaller/pyinstaller/issues/4311 was fixed in October 2020.

Commened out
[code]
It looks like it works
[code]

But I wonder, are these modules needed for conan?
[code]

[2021-02-01 08:49] DmitrySokolov commented on #8407
https://github.com/pyinstaller/pyinstaller/wiki/Recipe-remove-tkinter-tcl

[2021-02-01 08:53] SSE4 commented on #8414
probably, the same issue as #8311

[2021-02-01 11:36] Chemrat commented on #8413
Oh this is my bad.

Before opening the question I actually checked if the behaviour still the same with 1.33.0 on my dev machine, but for some reason conan would still compress (probably because binary packages on the dev machine were built and not downloaded), so I assumed the behaviour actually haven't changed.

However this is not the case on CI after the update to 1.33.0: now conan performs no

[2021-02-01 11:36] #8413 closed, assigned to memsharded

[2021-02-01 13:16] fredericbloch opened #8420 "[question] Usage of python-requires in a generator"
Hey guys!

how would you use python-requires in a generator?

The reason I ask is, that I have e.g. a very simple use case, which is a custom python-logger-implementation. And I want to use the same implementation for multiple packages. Using the legacy-python-requires worked like a charm. But since we moved to v1.28.2, I want to use the non-legacy python-requires. This still works good on ConanFi

[2021-02-01 13:20] fredericbloch commented on #8420
This is an example system, using the legacy-python-requires:
* [conan_generator_pyreq.zip](https://github.com/conan-io/conan/files/5904130/conan_generator_pyreq.zip)
* consumer-pkg -> requires the pyreq and the generator
* generator -> requires the pyreq
* conan install my_consumer/0.1@local/testing -e LOGLEVEL=DEBUG -g my_generator

Explanation:
* pyreq is the implementation of a python-logger-cl

[2021-02-01 13:24] michaelmaguire opened #8421 "[question] What form of package versions will be required for lockfile ci to work?"
In following through the https://docs.conan.io/en/latest/versioning/lockfiles/ci.html, we see that in the accompanying example packages https://github.com/conan-io/examples/tree/master/features/lockfiles/ci the package versions `requires=` is always specified using the "square bracket" https://docs.conan.io/en/latest/versioning/version_ranges.html e.g.:

[code]

https://github.com/conan-io/example

[2021-02-01 13:24] blastrock commented on #7054
We have a similar case here, we have a script that needs to build an editable package before building the current package that depends on it. It would be nice to have `conan info --paths` to work on editable packages so that I can call `conan build` on it. Is this feature still planned?

[2021-02-01 15:46] jiladahe1997 commented on #8121
Same question here, I just want to retrieve source code for debugging.

[2021-02-01 15:49] boussaffawalid opened #8423 "[question] conditional deploy"
Hello,

I want to perform a conditional deploy based on an options value.

This is a sample recipe
[code]

The conan package itself is independent from the option `full_deploy`,  that is why in the package_id  I delete that option `del self.info.options.full_deploy`

My issue is that I cannot perform a lite deploy by running the command:
`conan install demo/1.0@ -o full_deploy=False`  because cona

[2021-02-01 16:24] a4z opened #8424 "[bug] Different package ids in lockfiles for some packages, depending on default_package_id_mode"
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac OSX
  * Compiler+version: not relevant
  * Conan version: 1.33
  * Python version: 3.8.7

### Steps to reproduce (Include if Applicable)

same environment, I generate lockfiles for the same conanfile with the same profiles ...

[code]
gives me this

[code]

and now
[code]
the exactly same command to prod

[2021-02-01 16:31] daravi opened #8425 "[bug] Using build/host profiles, Conan does not generate (some?) CMake variables"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 8
  * Compiler+version: LLVM 10.1
  * Conan version: 1.33.0
  * Python version: 3.8.6

### Steps to reproduce (Include if Applicable)

I have created this example repo:
https://github.com/daravi/test-conan-profile

When using build/host profiles (at least some) CMake variables seem to not be generated

[2021-02-01 16:32] NoSpooksAllowed commented on #8417
### conanbuildinfo.cmake
https://pastebin.com/bYNAK3DL

### CMakeLists.txt
https://pastebin.com/TqXh2N7L

[2021-02-01 16:33] daravi commented on #8415
@memsharded Thank you that is exactly what I need. Though I realize after using build/host profile that there might be a bug there when generating CMake variables. I have created #8425 for that.

[2021-02-01 16:56] czoido commented on #8400
Closed via: https://github.com/conan-io/conan/pull/8422

[2021-02-01 16:56] #8400 closed, assigned to nobody

[2021-02-01 17:36] solvingj commented on #8411
That's precisely what environment variables are.

They are variables that you can pass in.

Actually, based on your comments, it seem like currently you might be setting the env vars from your shell/prompt prior to calling Conan.  Maybe you are unaware that you can pass env vars with `-e somevar=someval` which is syntactically identical to passing options with `-o somevar=someval`.  They both supp

[2021-02-01 17:44] at185190 commented on #8411
Yup, I was unaware that environment variables can be passed in this way, that is indeed far more graceful that other ways to set them, also ability to pass env variables to dependencies is brilliant, exactly why we wanted to have options as those allow passing options to dependencies.

I assume I env variables names can be same for target and a dependency while having different values? e.g.
-e fir

[2021-02-01 17:49] solvingj commented on #8411
Yes, they certainly can.  IMO, it's a pretty amazing feature of Conan.

Please double check that the environment variables set this way have the appropriate values at the time you need them in order to set the `version` field. Let's make sure your use case is fully resolved before we close this ticket.

[2021-02-01 17:51] solvingj commented on #8414
@SSE4 it seems so.

@xahon is it ok with you if we close this as duplicate.

[2021-02-01 18:28] solvingj commented on #8417
Everything looks good in these files.

Line 43 of `conanbuildinfo.cmake` is here:

    set(CONAN_LIB_DIRS_POCO "/home/user111/.conan/data/poco/1.9.4/_/_/package/05430cbc4154f78d465015e2e36dc71b2d92c2d8/lib")

Line 49 is here:

    set(CONAN_LIBS_POCO PocoZip PocoNetSSL PocoDataSQLite PocoRedis PocoUtil PocoMongoDB PocoXML PocoCrypto PocoEncodings PocoNet PocoData PocoJSON PocoFoundation)

So, in t

[2021-02-01 19:57] memsharded commented on #8421
Hi @michaelmaguire

No, it is not necessary to move to version ranges to work. It is also possible to use the plan requires, and use revisions (revisions is kind of an internal, automatic version-range that always resolve to latest revision, unless explicitly defined a fixed revision).

What cannot be tracked with lockfiles is if **not** using revision and not doing version bumps (which would be u

[2021-02-01 21:55] solvingj commented on #8424
It's a really good question and I will investigate it more closely asap.  However, my first instinct is that this is actually a reasonable result. Here is the list of things which might be factors and which I need to think and test around:
- Perhaps it depends on which revisions are in your local cache
    - try running with clean cache and see if results are same)
- Perhaps these particular recip

[2021-02-01 22:00] solvingj commented on #8423
As you know, Conan options affect the `package_id` by default, so it's not a great choice for what you're achieving. You have to delete the option from `full_deploy` which seems unnecessary. Also, you have the issue you are encountering, which could be worked around as well, but consider an alternative.

In this case, it would be better to use an environment variable:

    conan install demo/1.0@

[2021-02-01 22:04] solvingj commented on #8419
Thank you for finding the related issues.  @jgsogo is this a supported case?

[2021-02-01 22:08] solvingj commented on #8420
This is indeed a good question, and a complex scenario that may currently have issues (I'm not sure).  We're currently trying to figure out the best way to bring together `python_requires`, custom generators, and the `-g` flag. There are also some other related initialization process considerations which may make this issue even more complicated than it looks.  Will keep you posted.

[2021-02-01 22:10] solvingj commented on #8418
@memsharded do you think my assessment is correct?  If so, then the only other course of action possible would be to suggest it as an artifactory feature request.

[2021-02-01 22:13] SeanSnyders commented on #8402
I have found an answer to my last question. If I add the conan generator `cmake_paths` in addition to the `cmake_find_package `, then I can specify this as a toolchain file for CMake which then sets up the paths correctly and thus use the conan generated `Find*.cmake` files, e.g.

1. Triggering build via conan:
[code]

2. Generating e.g. Xcode project:
[code]

I think this issue can probably be re

[2021-02-01 22:13] #8402 closed, assigned to jgsogo

[2021-02-02 06:23] kaihowl commented on #8144
@memsharded Thank you for having tried the implementation out. My use case is very narrow compared to what lockfile support seems to support. Since this was just an improvement, I can certainly live with having to issue two instead of one command.

[2021-02-02 06:24] SSE4 commented on #7578
@memsharded @jgsogo can you close this one? already done in #7862

[2021-02-02 07:27] TimoNussbaumer commented on #7609
Hi @memsharded,

thank you very much for clarification, I guess I got it. Last question as mentioned above. We did not see the exception when the option was part of the used Conan profile. This is an inconsistency within the actual Conan implementation, right?

Regards,

Timo.

[2021-02-02 08:27] memsharded commented on #8418
Yes, correct. Those files are internal implementation details of the server side. They are not downloaded as part of the packages, nor uploaded. They are not known by Conan client at all, it is impossible that it will set properties.

For cleanup policies, maybe another approach is necessary, it depends if those scripts use the JFrog-CLI or they can also use Conan or is pure API based. This (clean

[2021-02-02 08:27] memsharded commented on #7578
Closed by #7862

[2021-02-02 08:27] #7578 closed, assigned to nobody

[2021-02-02 08:36] a4z commented on #8424
1) both runs where done with a clean cache
2) this is possible, but I'd expect the latest to be returned in both cases (which is what I get via revision_mode)
3) No, these are fist class dependencies
4) They have dependencies to the same packages, openssl and therefor zlib

[2021-02-02 09:24] fredericbloch commented on #8420
Thanks for the info that you'll be looking into it.
As for now, would you @solvingj still have any idea, how I could work around this until a clean solution is found?

[2021-02-02 09:26] memsharded commented on #8420
Hi @blockontherocks

Yes, we were working yesterday in a working solution, seems doable, @solvingj will be updating later with the code changes.

[2021-02-02 10:10] NoSpooksAllowed commented on #8417
Well, I checked a folder, and all these libraries in there.

Here is more verbose output:

https://pastebin.com/5VQYZqt7

[2021-02-02 10:12] sd185233 opened #8427 "[question] Upload is skipping a package with a different hash"
We are investigating using Conan and have forked our 3rd party deps so we can build and host on our remote.  For Ninja, the recipe has the following settings (this is from the bincrafters version).  settings.compiler is being removed from package_id.

settings = "os_build", "arch_build", "compiler"

I believe we should probably be using split build and host profiles, but this should still work rig

[2021-02-02 11:08] oranger34 opened #8429 "[bug] ERROR: compiler.version setting required for vcvars not defined"
### Environment Details (include every applicable attribute)
  * Operating System+version: win10
  * Compiler+version: gcc 9.2.0
  * Conan version: 1.29.0
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)

I try to build libx264 in windows. I made it as a requirement of my project. But when I run conan install , it failed.
"ERROR: compiler.version setting required for vcvars

[2021-02-02 11:15] memsharded commented on #8429
Hi @oranger34

You can see in your profile settings:
[code]

It doesn't have a ``compiler.version`` defined. You need to define ne, as that will be the VS version that will be used to define which binaries need to be installed and built. Please add it and re-check.

What I don't understand is ``I build it by gcc, but publish to conan using visual studio settings.``. How did you do this? Why? This

[2021-02-02 11:30] oranger34 commented on #8429
@memsharded
Thanks for your quick reply!
As for the 'mypkg:compiler.." config, I may try it later on.

But I am wondering if 'compiler.version' is a must?
I have built a couple of packages and never specifies compiler.version.

https://github.com/conan-io/conan/issues/7077

In the above thread, you also mentioned we can set compiler.version to None.

Why does it happen on this libx264 package?
Is

[2021-02-02 12:00] memsharded commented on #8429
I have built a couple of packages and never specifies compiler.version.

 In #7077 I was explaining that you might delete and forget about the ``compiler.version`` in your package with ``del self.settings.compiler.version``, if your package recipe doesn't need it. It can work in gcc compiler, because it is not necessary to specify it, as the system might have a gcc installed by default, and it wil

[2021-02-02 12:06] sd185233 commented on #8427
OK, I don't think this is anything to do with the *_build settings.  The same issue is occurring for all our packages (using os, arch etc).  Issue seems to be appearing after starting to use user/channel - clear remote, search returns nothing, build on one OS and upload, search returns the package OK, build on another OS and upload and instead of both packages for each OS being available, only one

[2021-02-02 13:07] memsharded commented on #8427
Hi @sd185233

Just to make sure, please tell:
- Which Conan version are you using.
- Which server are you using and which version of the server.
- Have you enabled revisions or not?

If this is a problem, I think it should be possible to reproduce with an almost empty recipe, that contains only the settings definitions. Please let me know if you can reproduce with such a recipe, and if you could d

[2021-02-02 14:06] sd185233 commented on #8427
-Conan version - 1.33.0
-Server - JFrog Artifactory...not sure of the version
-Revisions are enabled

Tried with a minimal recipe -
[code]

Commands used:
conan remove "test*" --force
conan create . -pr Windows_x64_Release
conan upload "test*" --all -r our_remote --confirm
conan search "test/1.0.0@us/ch" -r our_remote   <-- returns 1 package, OK

conan remove "test*" --force
conan create . -pr Lin

[2021-02-02 14:16] memsharded commented on #8427
Some ideas:

- Check changing the settings to use ``os_build``.
- By default, the os_build and arch_build are removed from package_id. They can be optionally added back. But the package_id in this case should be identical, not different. Check the recipes ``package_id()`` methods

[2021-02-02 14:22] xahon commented on #5137
Does `conan info` support recursive printing of all dependencies in the form of a list? When i run `conan info something -pr profile -db` it prints what i wanted at the beginning but then it prints too verbose output below and i need to scroll up a lot. I didn't find any option that can do that in stdout (and even in a file)

[2021-02-02 14:27] sd185233 commented on #8427
Changed to os_build then created and upload for Windows - search returned one package (guessing because recipe changed?).  Created linux package and uploaded and two appear in search OK.  Tried multiple times and it appears to be OK.

I didn't change package_id to add os_build, but hashes appear to be different still...

![image](https://user-images.githubusercontent.com/69502342/106613777-78a1c48

[2021-02-02 14:37] sd185233 commented on #8427
I think this is maybe the issue...Both builds have a different file summary hash so when we go to upload the package from the other job, the recipe has changed and only the package for that recipe revision shows (like what I saw above after changing the recipe).

![image](https://user-images.githubusercontent.com/69502342/106615518-6cb70200-6564-11eb-87cf-c7fcc005f7de.png)

Maybe we are not unders

[2021-02-02 14:41] memsharded commented on #5137
@xahon

[code]

Also the --json output of ``conan info --json=file.json``, then parsing the json file. It is always better to use structured file formats than parsing stdout.

Also, for automated tasks, like deciding what needs to be built, the recommended approach is using lockfiles and ``conan lock build-order``.

[2021-02-02 14:43] memsharded commented on #8427
Yes, that could be it. If the recipe changes somehow, any file, even CRLF of files (different git checkout policies in different platforms), it will create a new recipe revision. Binaries belong to a given revision, the one that was actually used to build that binary. New changes that induce a new recipe revision will need to build their own binaries.

Make sure the recipe revision matches for bot

[2021-02-02 15:05] sd185233 commented on #8427
Looks like that's the issue.  The exact same revision from git built on two different machines gives the following -

Windows / Android (Windows machine)
zlib/1.2.11: Using the exported files summary hash as the recipe revision: 5c6879bc1e538066293201d2734fbc86
zlib/1.2.11: Exported revision: 5c6879bc1e538066293201d2734fbc86

CentOS
zlib/1.2.11: Using the exported files summary hash as the recipe

[2021-02-02 15:28] xahon commented on #5137
@memsharded I'm trying to trace which packages are missing in my own remote and which ones need to be uploaded. Parsing json file would take extra commands when doing a simple job. With raw output it could be easily `sed`ed and piped to another function or redirected to file if needed using `bash` and then piped to another handler. I did `conan info ... -db` and then searched for patterns "ERROR:"

[2021-02-02 15:36] sd185233 commented on #8427
OK, so using the scm attribute instead of export_sources results in the same issue.

![image](https://user-images.githubusercontent.com/69502342/106623264-56ad3f80-656c-11eb-8b22-922d5256e970.png)

This feels like a bit of a showstopper :(

[2021-02-02 15:41] sd185233 commented on #8427
Aha, so if we use revision_mode "scm" along with the scm attribute, it works :)  I guess that's the route we will need to go down.

[2021-02-02 15:58] memsharded commented on #8427
Hi @sd185233

So it is typically one of 2 things:

- The different line feeds CRLF vs LF in different platforms. This can be solved by adjusting the way git checkouts (.gitattributes or git config). It is a good idea that git always checkout all files with same line feed in all platforms. CRLF is not really needed in Windows anymore

- It could be some conditional on the export or something that m

[2021-02-02 16:01] solvingj commented on #8420
[conan_generator_pyreq_new.zip](https://github.com/conan-io/conan/files/5912527/conan_generator_pyreq_new.zip)

This zip file contains an implementation which might check all your boxes.  Please have a look and let us know what you think.

[2021-02-02 16:02] at185190 commented on #8411
So I am having trouble retrieving env variables passed in with -e, conan in its settings table will show it under [env], but I am unable to retrieve it with tools.get_env, or via direct python  os.environ: both are not able to find any env variable i pass in via -e

Ok it turns out, those env variables are bit fake, they are not available in set_version, surprisingly they are available in requirem

[2021-02-02 16:08] sd185233 commented on #8427
OK, we will check our git settings and try to enforce that for consistency.  Will prob go with the scm rev mode for our stuff in the first instance.

Thanks for the help!

[2021-02-02 16:23] solvingj commented on #8411
Ok, that is very unfortunate.  @memsharded do you think that `[conf]` values will be made available during the `set_version` method?

[2021-02-02 16:24] solvingj commented on #8417
Ok, so now we have it narrowed to this line:

    /usr/bin/c++         -rdynamic CMakeFiles/md5.dir/md5.cpp.o  -o bin/md5   -L/home/user111/.conan/data/poco/1.9.4/_/_/package/05430cbc4154f78d465015e2e36dc71b2d92c2d8/lib  -L/home/user111/.conan/data/pcre/8.41/_/_/package/d7ce5e9581d2c53c1703b35527fc2b00e0fc00f8/lib  -L/home/user111/.conan/data/expat/2.2.10/_/_/package/19729b9559f3ae196cad45cb2b9746

[2021-02-02 16:29] solvingj commented on #8417
Seems this is duplicate issue:

https://github.com/conan-io/examples/issues/40

It seems you need to add this line to your profile:

    compiler.libcxx=libstdc++11

Quote from @memsharded regarding the background:

[2021-02-02 16:36] fredericbloch commented on #8420
Thanks for the quick solution!

I am not quite sure whether I might be doing something you did not intend to - but when I do a conan install on these - this happens:
[code]

Since you removed the class to be derived from the Generator-class, I don't see, how it would be available as a generator on the cmdline. Does this work on your end?

[2021-02-02 16:41] solvingj commented on #8420
I'm super sorry, I failed to mention that part.  Since the beginning of custom generators, support for passing at the CLI via `-g` was never added.  It is still not supported with any use of `python_requires`.  We really want to support his case, and I'm actively working on trying to define a scope and strategy for that.

However, last year, the following pull-request was accepted which enabled cu

[2021-02-02 17:00] fredericbloch commented on #8420
I see. Well in this very use-case I don't think it will work with that. So I'd might have to switch to implementing this differently, and change my implementation in generators to normal conan-helper-packages with strict method execution.

Just to tell the story here: What I did was to do similar stuff like the deploy-generator for a specific tool which needs a huge amount of files inside its' own

[2021-02-02 18:41] memsharded commented on #8427
Good. I'll close this questions as responded, but feel free to comment, re-open or open a new ticket if you have any further question or issue. Thanks!

[2021-02-02 18:41] #8427 closed, assigned to memsharded

[2021-02-02 18:42] kimhines opened #8430 "Hangouts"

[2021-02-02 19:11] NoSpooksAllowed commented on #8417
It's working now. Thank you so much!

[2021-02-02 19:12] #8417 closed, assigned to nobody

[2021-02-02 19:29] memsharded commented on #8430
Hi @kimhines

Did you want to report something?

[2021-02-02 20:46] solvingj commented on #8420
You could try the method of defining a new `conanfile.txt` or `conanfile.py` which exists solely for the purpose of the deployment.  In either, you can specify all the dependencies of your application/tool, and then you can then use the `imports` to specify a list of paths to copy, including their source package, source path, and destination path.  Then, you can run `conan import .` and it will us

[2021-02-02 20:51] boussaffawalid commented on #8423
@solvingj I tried ur proposed solution and I got the exact same error.
Passing `-e full_deploy=True` changes the package id and I ended up with an error
[code]

[2021-02-02 20:59] solvingj commented on #8423
Environment variables do not affect `package_id`. There is some other reason you're not finding the prebuilt package you're expecting to have.

[2021-02-03 02:54] oranger34 commented on #8429
I may add these settings in profile:

x264:compiler=gcc
x264:compiler.version=9.2

It works!
Thank you very much!

[2021-02-03 03:29] Gollum999 commented on #5962
As a workaround, I was able to avoid the above issue by switching to [WSL 2](https://docs.microsoft.com/en-us/windows/wsl/compare-versions).

[2021-02-03 06:56] oranger34 commented on #8429
Here is my solution:

def configure(self):
        if self.settings.os == "Windows":
           self.settings.compiler.version = 15;

[2021-02-03 12:47] AistisT opened #8432 "build_requires include paths are not added when using cross platform building"
So we recently started using conan and from various source we implemented our cross platform using already deprecated _build suffixes.

Trying to switch to host/build profiles now and I have an issue where our build_require libraries are not being added to conan include dirs. I know build_requires are meant for build tools and only available during compilation, not part of final binary. We are usi

[2021-02-03 13:23] AistisT commented on #8432
ok I discovered force_host_context=True, which seems to fix it. I must say navigating conan documentation is skill of its own. It would be nice if it had more references to other part of documentation that is related.

There are at least 3 pages describing host/build profiles and they don't exactly refer to each other.

[2021-02-03 14:18] fredericbloch commented on #8420
Well I see what you mean. In our use-case this is not just a simple copy, but generating some structures with symlinks as well (a nightmare tbh). The logic for that is quite some lines of code. Using import will not do the job for that. Implementing the "script logic" into a package_info() of an helper package will do the job though. It will also fix the problem with pyreqs in generators.

To show

[2021-02-03 14:42] solvingj commented on #8429
@oranger34 may we close this issue?

[2021-02-03 14:43] solvingj commented on #5962
@jjcasmar may we close this issue?

[2021-02-03 14:50] solvingj commented on #5137
@Jochen0x90h may we close this issue?

[2021-02-03 14:52] solvingj commented on #8400
To clarify, the resolution in the PR was to change the filename from `config.cfg` to `global.conf` rather than rename `[conf]` section.

[2021-02-03 14:56] solvingj commented on #8424
I have not yet had a chance to dissect the `package_id` calculation for each mode for these two packages to find a reason.  However, it seems likely to me that there is some conditional logic in these recipes which causes them to produce different `package_id` under different `default_package_id_mode` settings.  There are a number of legitimate conditional operations in multiple methods within rec

[2021-02-03 14:57] solvingj commented on #8430
Seems an erroneously opened issue.  Closing.

[2021-02-03 14:57] #8430 closed, assigned to nobody

[2021-02-03 15:09] solvingj commented on #8420
Sorry, I meant to use the `imports()` method of `conanfile.py` here, I should have provided link:

https://docs.conan.io/en/latest/reference/conanfile/methods.html#imports

You should be able to perform the same arbitrarily complex python logic you were performing already.

- IMO, your case is not highly unusual or specific. Most enterprise conan use-cases end with complex deployment scenarios.
-

[2021-02-03 15:09] #8420 closed, assigned to solvingj

[2021-02-03 15:26] a4z commented on #8424
if you not define it as a bug that's ok to me,
but I am not sure what build/packag `full_version_mode ` would have actually given me, for sure not that one I expected.

Btw, it can it be that libtool has the same behaviour.
It's a build requirement, so I do not monitor that so intensive, but I think I saw that popping up in out logs.

but anyhow, I have set all our configs to `recipe_revision_mode

[2021-02-03 15:44] solvingj commented on #8424
Yes, I would say that in general, switching between different `package_id` modes can result in different `package_ids` being calculated and the reasons and calculations can be un-intuitive at times.  Each time I have drilled down into similar cases for myself where the `package_id` behavior did something unexpected, I found there was a perfectly legitimate reason and was reminded just how complex

[2021-02-03 15:44] #8424 closed, assigned to solvingj

[2021-02-03 16:33] jjcasmar commented on #5962
I havent tested it since a long time. Close it and if I have the issue again, I will open it.

[2021-02-03 16:33] #5962 closed

[2021-02-03 16:57] memsharded opened #8434 "[bug] CMakeDeps not working correctly for custom filenames and target names."
Reported by @mpusz

For some reason the forked CMakeDeps is behaving differently to ``cmake_find_package_multi`` with regards to generated target names.

[2021-02-03 17:49] klimkin commented on #8418
From perspective of Conan API integrity, the question here is: should the properties apply to all relevant Conan repository files? If yes, then this would be Artifactory request (how do you do that?)

[2021-02-03 17:56] kdsx opened #8435 "[bug] Conan ignores os_build setting when os is also specified and cross-compiling"
### Environment Details
  * Conan version: 1.33

### Steps to reproduce
We need two packages and two build machines with different OSes (just to make things clearer). I use Linux + macOS.
Also we need a remote where we can upload a package.

We'll try to create two packages, both targeting Android, but with different `os_build`.

1. Create a minimum requirement recipe (`os_build_req/conanfile.py`)

[2021-02-03 18:01] memsharded commented on #8418
Probably not. They are still "metadata", not repository files, and they do not belong to the Conan API. The Conan API only define things at the package level, like  ``conan remove <ref> -r=remote-repo``, and the server side should handle that accordingly.

The fact that they look like files on the server side is an implementation detail. Lets say that you try to use those properties to copy those

[2021-02-03 19:57] kdsx commented on #8435
Hmm. It looks like I've found a solution. All this time I should have use `os_target` instead.

[2021-02-03 19:57] #8435 closed, assigned to nobody

[2021-02-03 20:02] kdsx commented on #8435
BTW. Is there any way to achieve the same behavior with the new "two profiles" approach? I mean make a package which depends on both build system and host system.

[2021-02-03 20:07] anton-danielsson commented on #3311
I stumbled upon another case where this breaks:
There's a hard ABI break in 16.5 caused by:
https://docs.microsoft.com/en-us/cpp/overview/cpp-conformance-improvements?view=msvc-160#tls-guard-changes
It will cause errors like:
`error LNK2019: unresolved external symbol __dyn_tls_on_demand_init`
Saw this with protobuf but it affects all code that use `thread_local` variables.
So it's not enough to h

[2021-02-03 21:08] p-groarke opened #8437 "[feature] conan imports build_type"
Importing dlls using a cmake multi config generator may cause issues when the library names are identical for different configurations. It is less common for something like debug, but problems are almost guaranteed when supporting both `Release` and `RelWithDebInfo` configs.

Feature : Add the ability to specify the `conan imports` build config, to import appropriate files from cmake generator exp

[2021-02-03 21:16] memsharded commented on #3311
Hi @anton-dirac

Have you checked the new ``msvc`` compiler setting? https://github.com/conan-io/conan/blob/c5abf1a463e121f84b981bd9029122114227ec99/conans/client/conf/__init__.py#L87

This is intended to replace the ``Visual Studio`` setting in Conan 2.0. You can see that this contain the compiler version down to the minor, so it should probably be ok. Conan default detection could be the "major"

[2021-02-03 22:09] memsharded commented on #5777
@SSE4 please contribute a PR to "develop2" branch that:

- Removes "scm_to_conandata" from config.
- Removes the modification of recipe, and always dumps the scm data to conandata.yml

Do another PR to "develop", that raises ``conan_v2_error()`` if ``scm_to_conandata`` is not enabled.

[2021-02-03 22:12] memsharded commented on #2148
Conan 2.0 will deprecate and remove the ``conanbuildinfo.cmake`` and the ``cmake`` generator.
The default will be ``CMakeDeps`` that provides a more transparent ``find_package()`` integration with CMake. Also ``CMakeToolchain()`` to provide the configuration not from dependencies.

So this issue can be closed, thanks!

[2021-02-03 22:12] #2148 closed

[2021-02-03 22:50] anton-danielsson commented on #3311
Wow, this looks very promising!

Did some quick tests and it seems that all the checks are not in place yet?
I had `compiler.version=19.28` in my profile but I used 19.23. (`The C compiler identification is MSVC 19.23.28106.4`)
I guess the `check_compiler_version` stuff is still work-in-progress?

[2021-02-03 23:12] memsharded commented on #8407
https://github.com/conan-io/conan/pull/8438 removes the 3.8 limit

Regarding the things that are included in the pyinstaller bundle, we do little there, it is mostly the default it is doing, and seems to be working good so far, so we prefer better not to mess with it. The executable is compact enough already, doesn't seem a bottleneck.

[2021-02-03 23:15] memsharded commented on #3311
Yes, correct. The ``check_compiler_version`` will likely be implemented into the ``CMakeToolchain()``. The ``msvc`` compiler is only managed by the new ``conan.tools.xxxx`` helpers, not the previous ones, and it is not intended to do it, it will only move forward towards Conan 2.0 into the new tools.

[2021-02-04 04:26] #8429 closed, assigned to memsharded

[2021-02-04 09:40] #8407 closed, assigned to memsharded

[2021-02-04 10:16] danimtb commented on #8432
Hi @AistisT,

Glad you found the `force_host_context=True`, this was added to support the testing use case. Indeed, we have to improve the documentation on this matter. I have created a new issue in the documentation repo to improve this, so I am closing this issue as solved. Thank you!

[2021-02-04 10:16] #8432 closed, assigned to danimtb

[2021-02-04 10:40] iiknd commented on #3106
Is there any example(s) how the repackaging should happen in the recipe that build_requires the monobuild? How the other recipes can access the build contents and re-package those?

Say, the monobuild produces:

lib/libA.so
lib/libB.so
include/A.h
include/B.h

How the "package()" implementation of the individual components conanfile.py should look like? How it can access the build contents of the

[2021-02-04 11:46] jgsogo commented on #3106
Hi, @unzap. This is still an open topic with no final answer regarding big packages like `qt` or `boost`. With the experience of ConanCenter it looks like the community prefers the _monolitic_ build over trying to modularize (and maintain) those big libraries. It is true that (`boost` example) you would need to build the package from sources to consume some header-only component, but thanks to the

[2021-02-04 16:01] jgsogo commented on #8437
Hi!

`conan imports` belongs to the set of local workflow commands that requires some files in the working directory (or the install directory if provided). As it is stated in the documentation (https://docs.conan.io/en/latest/reference/commands/misc/imports.html), it requires a `conanbuildinfo.txt` which is generated by `conan install`. All these local commands (`source`, `build`, `package`,...)

[2021-02-04 16:47] kdsx opened #8440 "[question] What is a current alternative to os_target/arch_target?"
The [documentation](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#host-settings-os-build-arch-build-os-target-and-arch-target) says that properties `os_*` might be deprecated. The same page describes `--profile:build/--profile:host` as a modern approach for cross-building. But how can I create a package which logically depends on both `os` and `os_target` (like GCC or

[2021-02-04 17:11] memsharded opened #8441 "[Conan 2.0] Remove old migrations"
I think it is safe to assume that Conan 2.0 doesn't need to run migrations from older (rather than latest 1.X at the moment of 2.0 GA) Conan version.

So all migrations can be removed (and their tests)

[2021-02-04 17:28] xahon opened #8442 "[question] Is there a way to skip specific packages from build when calling install --build?"
I've built a package separately and it took a lot of time. I want to rebuild other main project's dependencies but pass a specific package. Is it possible?

**UPD**: Or even better, an option that will force build packages fetched from remote but skip build if the package has already been built in local cache.
Example: I build qt from sources which takes a lot of time, then it is built and ready i

[2021-02-04 22:20] anton-danielsson opened #8443 "[bug] Cross compiling with dual profile breaks with fPIC"
I'm unable to use almost any package when cross compiling from Windows to Android.

It seems like the
[code]
pattern that is used in almost all recipes breaks when I try use the new `--profile:host/--profile:build` logic to cross compile on Windows...

As a work around I tried to replace the `config_options` logic with:
[code]
and it seems to work.
It feels like a hack though.

I first create an i

[2021-02-04 22:43] djeverett commented on #6901
I am having the same problem using `conan_build_info --v2` to publish the build info.  The repo path is unpopulated in Artifactory build info for the uploaded artefacts ("undefined/No path found (externally resolved or deleted/overwritten)" in the repo path field).  However, the repo paths for the dependencies are resolved.    I've attached a sample of the published build info.

[build_info.json.t

[2021-02-04 23:08] memsharded opened #8444 "[feature] Remove hook checking license, author"
Right now it is outputing:

[code]

This can be removed from Conan codebase, implemented strictly in conan hooks

[2021-02-05 08:55] DukeOfKirkcaldy opened #8448 "[question] Why does the CMake generator define INTERFACE IMPORTED targets rather than only IMPORTED?"
My understanding is that INTERFACE targets are for when an actual library file does not exist on disc and you just want to group together and add a logical set of flags, sources, headers etc. in the compile/link process of another target.

However, in some cases the dependencies resolved through Conan do have an actual library file.  And in these cases I might like to know where this library file

[2021-02-05 10:13] ttencate commented on #7300
I had a similar problem and looked into this a bit more. It seems locks are only cleaned if there is a sibling directory with the same name prefix. In @blackliner's case, there was no directory `.conan/data/ceres-solver/1.13.0/_/_`, so `list_folder_subdirs` doesn't return it, and its sibling lock files aren't cleaned up:

https://github.com/conan-io/conan/blob/687eb9fd97aace7e3159de46071401d8209c6

[2021-02-05 12:18] czoido commented on #8442
Hi @xahon,
If you want to skip building already built packages you should pass the `missing` parameter to `--build` argument when calling `conan install`. If you just call `--build` Conan will try to rebuild all the dependencies from sources. If you already built that package for the same configuration that you are using in the consumer project, then it should not be built but reused from the Cona

[2021-02-05 12:43] SSE4 opened #8449 "[bug] scm shallow unspecified and scm shallow=None have different behavior with scm_to_conandata=1"
if I enable `scm_to_conandata=1`, then `conans/test/functional/scm/test_git_shallow.py` will fail.
the behavior of the following:
[code]
and
[code]
is no longer identical, in the second case explicit `shallow=None` effectively works as `shallow=False` (while unspecified value works as default `shallow=True`)

### Environment Details (include every applicable attribute)
  * Operating System+version

[2021-02-05 12:55] czoido commented on #8442
Hi @xahon,
I think I misunderstood your question. Do you mean that you want to build everything but an specific package?
Something like: `conan install --build --build=!mypkg`
If that's the case that's not possible currently in Conan but could be a valid feature request.

[2021-02-05 13:01] jgsogo commented on #8449
More info, if I understood you well. The problem is that `shallow=None` is not serialized to the `conandata.yml` (we skip None values when writing to it) and the default value for `shallow` is different from `None`.  So, when we read the information from `conandata.yml` we assume `shallow` should take the default value (when the explicit value by the user was `None`) .

[2021-02-05 14:10] michaelmaguire opened #8450 "[feature] preserve lockfile named parameters in the build_order json output"
We are following the https://docs.conan.io/en/1.28/versioning/lockfiles/build_order.html documentation along with https://github.com/conan-io/examples/blob/master/features/lockfiles/ci/build.py#L106.

We've generated `artifact/build_order_vs2019_16_v142_Debug.json`:

[code]

and we are now parsing it (Groovy, not python as in https://github.com/conan-io/examples/blob/master/features/lockfiles/ci/b