[2022-08-11 18:56] jcar87 commented on #11850
Hi @planetmarshall  - Thank you for reporting this. Indeed as @Adnn kindly points out, this is a related issue.

This was an oversight on our part when updating these recipes, as the public API of `conan.tools.scm.Version` did not intend for this subscriptable and this was fixed in the Conan client to reflect the intended interface.

I will be issuing a fix for the `libtiff` recipe, many apologies

[2022-08-11 19:38] fschoenm commented on #11842
Sure, I agree that it might be complicated to cover all cases. But somebody somewhere has to know where the compiler lives. It can even be configured in the profile. Obviously, the profile has to be correct for the machine and its installation paths.

When using `conan create` to create a package, the compiler specified in the profile (via environment variables) is selected correctly to compile th

[2022-08-11 19:40] mikeb-ah commented on #4734
I'm not sure this relates directly, but something I've noticed in recently with the new generators (CMake, CMakeToolchain, CMakeDeps in particular) is that .cmake and .dll (ie import) are going to various subdirectories where the source is rather than the build folder I'm calling **_conan install_** from, which doesn't match my understanding of how that should go, at least from the CMake side of t

[2022-08-11 20:12] andranik3949 opened #11852 "[bug] Targets defined by CMakeDeps generator have incorrect target libraries"
After updating to conan 1.51.2, I started getting link errors when trying to build my project in Visual Studio. This affected all configurations except for Debug.

After some investigation I noticed that all configurations of some of the dependencies were present in additional dependencies list. (e.g. both `spdlog.lib` and `spdlogd.lib` were present in the project dependencies for Release configur

[2022-08-11 20:13] andranik3949 commented on #11852
I'm also willing to contribute a fix for this issue :)

[2022-08-11 21:07] SpaceIm commented on #11840
So I guess the correct fix is to set `BUILD_SHARED_LIBS` & `CMAKE_POSITION_INDEPENDENT_CODE` as CACHE BOOL variables in `conan_toolchain.cmake`.

[2022-08-11 21:30] SpaceIm opened #11853 "[question] CMakeDeps: why True/False options are translated to CACHE STRING variables and not CACHE BOOL?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Let's consider a recipe like this:

[code]

In `conan_toolchain.cmake`, you'll see:

[code]

Is it intended? Is it robust? Was it deeply tested (various cmake_minimum_required, some if() based on this option in a CMakeLists etc)? I've tested, and if(OPTION2) seems to work fine, but I'

[2022-08-12 00:33] je894591 opened #11854 "[bug] Package using apply_conandata_patches() sometimes throws exception when built in both Build and Host profile"
### Environment Details
  * Operating System+version: Debian Buster
  * Compiler+version: GCC 8.3  on Debian
  * Conan version: 1.51.2
  * Python version: 3.7

I've used zlib/1.2.12 as a reproducer because it was recently updated to use `conan.tools.files.apply_conandata_patches()` and started causing internal build failures.  This particular package ends up getting built twice by our consumer con

[2022-08-12 02:58] zjufish opened #11855 "[bug] most commands fail with "Specify the 'user' and the 'channel' or neither of them" even for "conan search""
i have this very weird issue since last week when using conan. for any conan command like conan search  or conan export i  get this error message that i dont understand.

`
conan search openssl*
ERROR: Specify the 'user' and the 'channel' or neither of them
`
`
conan export conanfile.py openssl/1.3.2u@user/channel
ERROR: Specify the 'user' and the 'channel' or neither of them
`
however it works wi

[2022-08-12 04:40] jhzhangsnps commented on #11827
thanks for looking into it. here are the steps to reproduce it.

create the module by copy 'conan/examples/features/makefiles/hellolib'

cd hellolib/src/
mkdir include
cd include
ln -s ../hello.h

In hellolib/conanfile.py
remove exports_sources = "src/*"
add
def export_sources(self):
        self.copy("src/*", symlinks=True);

conan create . user/testing

.conan/data/hello/0.1/user/testing/build/d

[2022-08-12 05:27] czoido commented on #11833
Hi @Viatorus,

You can access the location of the file regardless of if you use `conan install` or `conan create` using the `self.source_folder `attribute. That should point to the local folder when doing a conan `install` and to the Conan cache for the conan `create`. For that to work correctly I would recommend you to use the Conan https://docs.conan.io/en/latest/developing_packages/package_layo

[2022-08-12 05:39] czoido commented on #11846
Hi @nmgwddj,

Thanks for the question. That's correct, Conan uses internally the [node-semver](https://pypi.org/project/node-semver/) package and has that package as a requirement. Maybe you can use that one.

Hope this helps.

[2022-08-12 05:58] czoido commented on #11848
Hi @Adnn,

Thanks a lot for reporting the issue. I can reproduce the issue and I'm adding this to be fixed for the next release (1.52)
In the meantime you could do:

[code]

Thanks!

[2022-08-12 06:12] czoido commented on #11855
Hi @zjufish,

Thanks a lot for reporting. Could you provide the output before that error and some extra information like for example:

- Do you have more repositories than conancenter?
  - If those are Artifactory instances, do you know which version? Did you recently update?
  - In case you have them, does it still happen if you remove those?
- Does it also happen if you use a clean cache?

I thi

[2022-08-12 06:19] lasote commented on #4734
@mikeb-ah I don't understand what you mean, are you using an `imports` method? Can you explain it a bit more? I would suggest to open a new issue. Thanks

[2022-08-12 06:21] #11734 closed, assigned to lasote

[2022-08-12 06:47] zjufish commented on #11855
1. i have more repos than conan center. conanio + 3 company provided repo
2.We are using Enterprise Plus 7.38.10 rev 73810900  JFROG.

3. the error msg is very misleading. why it needs user/channel even i run conan seach?
and when im exporting package, i have the user/channel, why it complains about it?
**conan export conanfile.py openssl/version@user/channel**
4. what do u mean by clean cache? sh

[2022-08-12 07:02] czoido commented on #11855
@zjufish  I suspect that something could be corrupt in the local cache, in Conan 1.X all packages that have the user defined must have also the channel and viceversa. Maybe, for some reason, there's a corrupt package that is only defining one of those and when you do a `conan search` and Conan loads that reference raises because of an invalid name. Maybe you can try the same search only against th

[2022-08-12 07:06] zjufish commented on #11855
awseome. problem solved. i removed the bad cache and conan search is fine now.

[2022-08-12 07:06] zjufish commented on #11855
another question i have:
build_info.py L147,

ef _filter_paths(self, paths):
146         abs_paths = [os.path.join(self.rootpath, p)
147                      if not os.path.isabs(p) else p for p in paths]
148         if self.filter_empty:
149             return [p for p in abs_paths if os.path.isdir(p)]
150         else:
151             return abs_paths

should not the L147 be :
`
 if not os.path.

[2022-08-12 07:33] zjufish opened #11856 "[bug] openssl1.0.2u broke due to none type in path"
build_info.py L147,

ef _filter_paths(self, paths):
146 abs_paths = [os.path.join(self.rootpath, p)
147 if not os.path.isabs(p) else p for p in paths]
148 if self.filter_empty:
149 return [p for p in abs_paths if os.path.isdir(p)]
150 else:
151 return abs_paths

should not the L147 be :
if not os.path.isabs(p) else p for p in paths if p]

we have openssl package broke on this, after i applied the

[2022-08-12 07:41] czoido commented on #11856
Hi @zjufish,

Thanks for reporting, could you please specify which Conan version are you using?
I suspect that may be related with some changes in Conan 1.50, could you check if that happens for Conan<1.50 ?

Thanks a lot.

[2022-08-12 07:41] zjufish commented on #11856
happened with 1.48 as well. same code. build_info.py. tried both 1.48 and 1.51

[2022-08-12 07:43] czoido commented on #11856
Hi @zjufish,

Are you using a custom openssl1.0.2u recipe or the one from Conan Center? Could you provide some output before the fail?

Thanks!

[2022-08-12 07:46] zjufish commented on #11856
im using openssl 1.0.2u from our artifactory. We have jobs to sync all packages from conan.io so in theory they should be the same.  this package is uploaded 2 years ago and nobody touchs it since.  it was working on last week.  the error i put in the bug description is all the error msgs i see.

i feel conan should check if p is a valid path before using it. however i dont know why NoneType is pa

[2022-08-12 08:00] czoido commented on #11856
@zjufish,

Is a simple `conan install openssl/1.0.2u@ ` failing? Or the fail happens when you consume openssl from another recipe?
Could you provide the `conanfile` for the consumer of the recipe?

Thanks!

[2022-08-12 08:01] jcar87 commented on #11850
The issue with `libtiff` has now been fixed in Conan Center: https://github.com/conan-io/conan-center-index/pull/12160

Closing this issue but please feel free to add new comments if something does not work as expected. Thanks for your help!

[2022-08-12 08:01] #11850 closed, assigned to jcar87

[2022-08-12 08:02] zjufish commented on #11856
conan install openssl/1.0.2u is one of my required dependences and failed in installation. however i didnot see this failure last week and nobody touched this package for 2 years.

[2022-08-12 08:11] czoido commented on #11856
@zjufish,

Does executing this in the command line work?

[code]

Also, do you think you could copy the conanfile.py you are using for consuming so maybe we can reproduce the issue?

[2022-08-12 08:13] lasote commented on #11852
Hi, I've reproduced it in a test, I think (further investigation needed) the bug is not in the lines you mention because the `_LIBRARIES_TARGETS` is indeed multi config but there is a bug there generating the IMPORTED libraries. Thanks for reporting, I'll report ASAP and will open a new release process with the fix.

[2022-08-12 08:17] zjufish commented on #11856
sorry i cannot share our conanfile.py. conan install openssl/1.0.2u@ complains about missing complier stuff.
all i know is the line i patched can fix that.  im not exactly sure why it worked last week when nobody touches this package for 2yr. i also tried reinstall conan 1.44/1.48/1.51. all failed on NoneType path. i think whatever it is, conan might want to check if p is a path string.

[2022-08-12 09:20] czoido commented on #11856
Hi @zjufish,

I can't reproduce the exact same issue. I tried to consume the openssl package in different ways but it always has all folders attributes set in the cpp_info and there are no None's that make it fail. I guess it makes sense to check that the paths in the cpp_info are not None when the filter is invoked. I'm adding this for the next release.

Thanks for reporting.

[2022-08-12 09:30] #11822 closed, assigned to franramirez688

[2022-08-12 09:38] memsharded opened #11857 "[develop2] Discuss special chars +-. in package names"
I think that as a workaround it might be ok, but the general policy should be to avoid special symbols completely. Because there is a failure mode, if one package is called ``hello+``, and another is ``hello-``, they will conflict and overwrite each other.

Question to discuss with the team, should we further restrict the Conan 2.0 current ``validation_pattern = re.compile(r"^[a-z0-9_][a-z0-9_+.-]

[2022-08-12 09:44] czoido commented on #11833
@Viatorus,

I think that is also worth notting that if you want to modify what your recipe does under certain conditions you can also use the conan `[conf]` feature. You can define your own user configuration with something like: `user.<configurationmame>:<attributename>=value` and use it inside the recipe at your convinience.
You can pass that in the command line with the `-c` argument:

[code]

[2022-08-12 10:27] Viatorus commented on #11833
Thank you for your anwser!

`self.source_folder` is None in `def configure(self)` but I will look into the package-layout feature and in to the [conf] feature.

[2022-08-12 10:33] czoido commented on #11839
Hi @aymei2,

Thanks for the question.

I think that maybe your recipe has some kind of patching made to the source code dependent from the operating system? The recipe revision should change when the `conanfile.py` or any of the exported sources change. Maybe if you patch the sources depending on the platform that's why the recipe revision changes. Could that be the case? Maybe sharing some inform

[2022-08-12 10:44] czoido commented on #11838
Hi @fschoenm,

Thanks a lot for the suggestion. Please note that you can define your own layout in the recipes or modify the existing `cmake_layout` with something like:

[code]

Anyway I'll mark this as a look into so we the team can discuss about this.

[2022-08-12 11:03] fschoenm commented on #11838
Hi @czoido,

while that's true and I looked into it, you'd also need to define `self.folders.generators` and then ideally you'd also need to handle subprojects and custom build folder naming (like `cmake_layout()` does) because these folders all depend on the (hard-coded) base folder.

It would IMO also be fine to add a new argument `build_folder` to `cmake_layout()` (like `src_folder`) to change

[2022-08-12 11:08] czoido commented on #11836
Hi @Setre14,

Thanks a lot for the suggestion. I think it will be useful to make those accessible. I'm marking this as a feature for the next (1.52) release.

[2022-08-12 11:30] czoido commented on #11837
Hi @fierdr,

Thanks for the question. I have just tried to do the same and for me it works. I can see that librdkafka was recently updated in Conan Center, maybe it works for you now?

[2022-08-12 12:46] jcar87 commented on #11854
Hi @je894591 - thanks so much for the bug report, and for the detailed steps to reproduce it. We have managed to reproduce this and have diagnosed a potential cause. Will update this issue once there are updates.

[2022-08-12 13:05] SpaceIm commented on #11870
@lasote, I don't understand.
fmt doesn't contain build scripts. It's a conan bug of `layout`/`cmake_paths` interaction, not fmt recipe bug. Do you expect all "conan v2" recipes with components to manually set `self.components[foo].builddirs = [""]` in all components to satisfy the legacy `cmake_paths` generator?

[2022-08-12 13:18] lasote commented on #11870
@SpaceIm, not at all, maybe [Richard-W](https://github.com/Richard-W) has more information about his usage of fmt and why he needs the `CMAKE_MODULE_PATH and CMAKE_PREFIX_PATH containing the CONAN_FMT_ROOT`. I assumed there was some scripts there, I didn't check, sorry.

[2022-08-12 13:21] SpaceIm commented on #11870
According to https://docs.conan.io/en/latest/reference/generators/cmake_paths.html, it looks like a bug. In the file generated by `cmake_paths`, `CMAKE_MODULE_PATH` & `CMAKE_PREFIX_PATH` should contain root package folders of dependencies.

[2022-08-12 14:03] memsharded commented on #11836
It was pending to add ``recipe_folder`` and ``conan_data`` access too, lets add all of them.

[2022-08-12 14:08] zjufish commented on #11856
thank u. 1.52 right?

[2022-08-12 14:25] czoido commented on #11856
yes, 1.52

[2022-08-12 15:03] zjufish commented on #11856
awesome. appreciate it.

[2022-08-12 15:09] richard-w commented on #11870
@lasote Context is a project that relies on ~~`CMAKE_MODULE_PATH`~~ `CMAKE_PREFIX_PATH` to find its dependencies. This cannot be easily changed since the project also needs to build in somewhat exotic environments where conan is unavailable. Using `cmake_paths` is a good way to create conan packages of that project without having to touch its build system.

[2022-08-12 15:45] nathansucher commented on #11837
Hey @czoido,

Do you have openssl installed on your environment? And if so, what version? Is there an environment variable set to that?

[2022-08-12 15:56] jcar87 commented on #11800
Hi @fancygit  - thanks for confirming your version of Conan and updated to a more recent version.

Would you mind trying again? There was an issue with a recent update to the Boost recipe in Conan Center that we have fixed recently.

However, I can see in the logs you have posted that the version reported is 1.48.1 - which may not be recent enough for some of the latest changes in Conan Center. An

[2022-08-12 16:44] uilianries opened #11861 "[question] Autotools.install() does not convert DESTDIR to unix path"
The new [Autotools](https://docs.conan.io/en/latest/reference/conanfile/tools/gnu/autotools.html) does not consider the path format when installing a package:

https://github.com/conan-io/conan/blob/develop/conan/tools/gnu/autotools.py#L58

It works well on Linux/Mac and any other unix system, but on Windows, it forces the regular path with backslash (\) which is skipped.

So far, I needed to do a

[2022-08-12 17:16] SpaceIm commented on #11870
`CMAKE_PREFIX_PATH` I guess. root package folder of fmt in `CMAKE_MODULE_PATH` is useless since there is no cmake module file. `CMAKE_MODULE_PATH` is not used at all in commands like find_file, find_program, find_library etc.

[2022-08-12 19:00] jsallay opened #11862 "[bug] CMakeDeps <package>_INCLUDE_DIR not set in 1.51"
### Environment Details (include every applicable attribute)
  * Operating System+version:Ubuntu 20.04 (docker)
  * Compiler+version: gcc9
  * Conan version: 1.51.2
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
It looks like a bug was introduced starting in conan 1.51.0.  I work with some projects that don't always use CMake targets.  They will
sometimes refer to varia

[2022-08-13 09:10] memsharded commented on #11855
Hi @zjufish

The last comment seems a completely new issue. I'd recommend closing this one as solved and opening a new one with a matching title.

Update, it seems https://github.com/conan-io/conan/issues/11856 is already that. Closing this issue.

[2022-08-13 09:12] #11855 closed, assigned to czoido

[2022-08-13 09:16] memsharded commented on #11827
This is what I meant:
- You shouldn't be using ``self.copy("src/", symlinks=True)`` in your ``export_sources()`` method anymore, that has been already removed from Conan 2.0
- You need to use the new ``copy(self, ...)`` method, check https://docs.conan.io/en/latest/reference/conanfile/tools/files/basic.html
- If need some help to "prepare" symlinks, you could use tools from https://docs.conan.io/e

[2022-08-13 17:32] Enhex opened #11863 "[bug] Cross compiling with MinGW fails"
When cross compiling from Linux to Windows using MinGw Conan tries to use `cmake -G "MinGW Makefiles"` but CMake MinGW generator isn't available on Linux.

It worked fine until yesterday (12/8/2022).

### Environment Details (include every applicable attribute)
  * Operating System+version: Manjaro Linux, Ubuntu 22.04
  * Compiler+version: MinGW GCC 12.1, MinGW GCC 10
  * Conan version: 1.51.2, 1.

[2022-08-13 18:54] harsszegi opened #11864 "[question] capture cmake commandline options?"
Hi,
I have a task that for a project, which defines its conanfile.py properly, the primary entrypoint for development should be its CMakeLists.txt so that it can still ve developed via Visual Studio or VA Code.
The idea is to inject manually everything in a CMAKE_PROJECT_INCLUDE_BEFORE, how Conan would do for cmake build —configure (that obviously still means I must provide some minimal set of CMa

[2022-08-14 16:31] Enhex commented on #11863
I think the problem is with `use_win_mingw()`:
https://github.com/conan-io/conan/blob/57e9600e966134de58bfde90703fdaf47d5a5ac8/conan/tools/_compilers.py#L133

if I understood correctly it doesn't take into account the profile's `os_build`, it only uses the `os_build` that's passed using `-s:b os_build=[os name]`.
without `-s:b` I assume it think Windows is both the host and build OS.

if `-s:b` mu

[2022-08-14 18:13] SpaceIm opened #11865 "[feature] Expose `is_apple_os` & `to_apple_arch` in `conan.tools.apple`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`is_apple_os` is widely used in conan-center-index (almost 10% of recipes), it prevents their full migration to conan v2.

[2022-08-14 18:18] SpaceIm opened #11866 "[feature] `conan.tools.microsoft`: add an helper to fix msvc static & import libs name/ext"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Meson has made a surprising choice to add lib prefix and .a extension to static libs for msvc. See https://github.com/mesonbuild/meson/issues/7378

Therefore static libs must be renamed from `libfoo.a` to `foo.lib` after installation if compiler is msvc. A function fixing these libs a

[2022-08-14 22:53] SpaceIm opened #11867 "[bug] PkgConfigDeps: -F <frameworkdir> on macOS leads to "clang: error: no such file or directory:" at link time"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13
  * Conan version: 1.51.2
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

- checkout this PR on glib (based on meson): https://github.com/conan-io/conan-center-index/pull/12221
- run `conan create . glib/2.73.3@ -o "*":shared=True

[2022-08-15 08:31] jcar87 commented on #11861
Thanks for reporting @uilianries! Indeed this appears to be a bug.

Please note that `conan.tools.microsoft.unix_path()` will return a unix path depending on the subsystem we're running on, as there are different conventions - in particular `settings_build.os.subsystem` would need to be define for the "correct" conversion to happen.

[2022-08-15 08:46] memsharded commented on #11835
Hi @davidebenato

First, the ``layout.ini`` files are deprecated, and have been removed in Conan 2.0, so not even worth trying to use them.

The thing is that the ``set(platform-cpp_INCLUDE_DIRS_DEBUG "/root/libraryA/./include")`` is already an absolute path. The same happen for other variables like LIB_DIRS or BIN_DIRS. The ``package_folder`` is empty, or not defined, because there is actually no

[2022-08-15 08:56] jcar87 commented on #11862
Hi @jsallay  - thank you for reporting this issue! We will investigate this as a possible regression and aim to have a fix in version `1.51.3`.

Out of curiosity, we'd be interested to learn about technical limitations that prevent migration to using imported targets. Targets are more versatile and cover cases that the variable-based approach are not always able to satisfy, and are currently favou

[2022-08-15 09:17] #11816 closed, assigned to lasote

[2022-08-15 09:20] jcar87 commented on #11863
Hi @Enhex  - thank you for reaching out to us.

If you are passing a single profile, and are cross-compiling:
[code]

This would follow the approach described for versions earlier than 1.24 in the [documentation](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html?highlight=settings_build#host-settings-os-build-arch-build-os-target-and-arch-target).

When evaluating `os_buil

[2022-08-15 09:36] memsharded commented on #11749
Hi @frank-schmidtner

Sorry for the delay in the response. Thanks for the detailed report.
However, I think I am missing something. What is ``external_prebuild_package_mock``? It is not in the repo, and it doesn't seem related to the rest of the code, maybe it is a mistake in the readme?

[2022-08-15 09:51] horatii opened #11869 "[bug] msys2/cci.latest not suport x86 on windows"

[2022-08-15 09:53] horatii commented on #11869
ffmpeg/conanfile.py using:
[code]
this conanfile.py
[code]

suggest:
[code]

[2022-08-15 10:05] jcar87 commented on #11866
Hi @SpaceIm - thank you for reporting this issue.

In existing releases of Conan, what are the implications of a package that has static libraries on Windows/msvc that follow the `libxxx.a` naming convention? Are there issues with the existing generators in a way that causes the _wrong_ filename to be passed to the linker in consumer projects, or any other Conan integration that misbehaves if the

[2022-08-15 10:12] SpaceIm commented on #11866
If you set `self.cpp_info.libs = ["foo"]`, and libname is `libfoo.a` for msvc, conan generators fail. Moreover, I'm pretty sure that several build system (qmake I think) don't like such extension for Visual Studio.

[2022-08-15 10:18] Enhex commented on #11863
this seems to be about toolchain recipes, not profiles?

still not working with error: `CMake Error: Could not create named generator MinGW Makefiles`

The two profiles approach is poorly documented - no explanation what each profile should contain and there's only Android example.
only now I think I understand that only the host profile should contain MinGW settings and `os=Windows` and that the

[2022-08-15 10:31] jcar87 commented on #11866
For cases in which the library names don't follow a default assumption, our [documentation](https://docs.conan.io/en/latest/reference/conanfile/methods.html#package-info) covers this case in the `package_info()` method: one can simply specify the filename with the extension and it should work correctly. Is this not a reasonable solution to cover this case?

There are a number of libraries on Windo

[2022-08-15 10:32] jcar87 commented on #11869
Hi @horatii  - thanks for raising this. Will be transferring this over to the `conan-center-index` repository as this seems to be directly related to a recipe there.

[2022-08-15 10:36] jcar87 commented on #11863
previously I thought build should contain settings needed to build things, i.e. MinGW settings.

Hi @Enhex - thanks for the feedback. We will look into improving the documentation for cross compiling with the two profiles approach. Your description is accurate regarding the host and build profiles. In Conan we have chosen to follow the convention of GNU autoconf:
https://www.gnu.org/software/autoc

[2022-08-15 10:38] #11836 closed, assigned to memsharded

[2022-08-15 10:40] Enhex commented on #11863
yeah using two profiles with `-pr:b=default -pr:h=linux_to_win64` works

[2022-08-15 11:22] SpaceIm commented on #11866
It's the convention of MinGW, not MSVC.
MinGW convention is .a for static lib and .dll.a for shared. It can also understand .lib & .dll.lib if full filename is passed to the linker.

The idea is to avoid complex and fragile `package_info()` with conditional `self.cpp_info.libs`, there were many issues in conan-center-index due to libname inconsistencies.

[2022-08-15 12:37] SpaceIm commented on #11862
I can give 2 reasons more or less connected:
- some Find modules files provided by Kitware don't have imported targets, only variables. So a package manager agnostic CMakeLists would not use an unofficial imported target in this case.
- when you package an existing library, the idea is to not patch upstream build files forever (patches can be very big), and sometimes library maintainer doesn't wan

[2022-08-15 12:49] jcar87 commented on #11866
My understanding of the MSVC linker is that it requires filenames with the extension to be passed. And while it mentions that `.lib` files are typical, this does not appear to be a _hard_ requirement. This appears to be reflected in the MSVC documentation ([here](https://docs.microsoft.com/en-us/cpp/build/reference/link-input-files?view=msvc-170) and [here](https://docs.microsoft.com/en-us/cpp/bui

[2022-08-15 12:55] jsallay commented on #11862
Thanks.

My use case is wrapping an existing project.  The next version of the project is going to use meson instead of CMake, but for the time being I have a bunch of old CMake code to deal with.  I already have a handful of patches implemented to make it build with conan.  If I had to replace every instance of old-style CMake with targets, that would be a huge effort.

[2022-08-15 13:49] SpaceIm commented on #11866
`.lib` is not a hard requirement, but is de facto standard for decades.

Now few questions:
- Are you sure that passing full filename (with extension) to `cpp_info` works downstream for [all conan generators x all build systems]?
- Do you want to delegate to recipes contributors this tedious and fragile logic (it's for msvc here, but what happen with clang-cl in Meson?) in `package_info()` for all

[2022-08-15 13:54] eli-schwartz commented on #11866
This is the same rationale that Meson uses in the code comments describing why the filename extension is set to `.a`:

[code]

It seems that GCC (mingw) has an exceedingly strong preference for .a (static library) and .dll.a (import library) -- Meson did not invent this convention -- so it seems prudent that tools should search for it, especially given that Microsoft explicitly does not care if yo

[2022-08-15 21:39] memsharded commented on #11749
I am trying to reproduce with a unit-test based on your repo, but so far this is working fine:

[code]

[2022-08-15 21:50] memsharded commented on #11742
@initlifeinc is the question resolved? Can we close it? Thanks

[2022-08-15 21:57] memsharded commented on #11727
Fixed in https://github.com/conan-io/conan/pull/11728, will be released in 2.0-beta.3

[2022-08-15 21:57] #11727 closed, assigned to lasote

[2022-08-15 22:08] memsharded commented on #11670
@TaylorEllington This seems related to missing ``--hidden-imports`` in the ``pyinstaller.py``. They have been added recently for minor ``1.51.2`` patch release, if you want to update and try again.

[2022-08-15 22:23] memsharded commented on #9108
Hi @sully7

Yes, it is necessary to add ``find_package()`` calls in the ``CMakeLists.txt``. This is exactly what that majority of users were pushing to have, a "transparent" CMake integration via ``find_package()``. Do you mean that you would like a ``conandeps.cmake`` file that adds all the ``find_package()`` calls, so you can just included that file?
In the worst case, this is something easily a

[2022-08-16 01:17] paulharris commented on #11597
Wouldn't it be better to provide a default, even a bad default, that would help recipe writers to figure out what needs to happen?

Perhaps set the default resdirs to ["you_should_set_self_cpp_package_resdirs_in_layout"]
so that the folders created will include a very strangely worded folder that points the user in the right direction.

or even set the resdirs to ["refer_to_conan_docnote_12345"]

[2022-08-16 05:53] dornbirndevelops commented on #11847
Hi @foundry-markf,
I had a similar [question](https://github.com/conan-io/conan/issues/11430) ~2 months ago.
It seems intentional from what I've understood.

[2022-08-16 06:31] jsteinhofff commented on #3288
I just accidentally tipped into this issue by using self.copy() inside of the build() method. It kind off worked, but showed very strange behaviour.
The strangest thing first is, why it did not give the `object has not attribute copy` error in the first place. I printed self.copy to see what it was during build() method and got:
`<conans.client.importer._FileImporter object at 0x7f3670e10fd0>`
Whi

[2022-08-16 06:36] frank-schmidtner commented on #11749
Hi @memsharded

thank you for your answer and sorry also for my late response. Regarding the `external_prebuild_package_mock`: I am sorry. this was from earlier tries and I seem to have overseen it while cleaning up the example. I adapted the Readme now and reran everything following it and I can still reproduce the error on my machine.

I also tried the commands you're using in your unit test on

[2022-08-16 06:38] lasote commented on #11870
Transfering back to conan.
I have to discuss with the team what to do with this issue. The documentation at [here](https://docs.conan.io/en/latest/reference/generators/cmake_paths.html) was wrong, `cmake_paths` never used the root of the packages but the `builddirs`, and it was the root folder the default for `builddirs` until, when layout was declared, we moved in [this direction](https://github.

[2022-08-16 06:53] lasote commented on #3288
That is right, we changed the `self.copy` to an "explicit/always the same" tool at [`conan.tools.files.copy`](https://docs.conan.io/en/2.0/reference/tools/files.html) for Conan 2.0. So it will be available at any point, you just need to know the origin folder and the destination one. We cannot change the Conan 1.X `self.copy` because it will be breaking many users.
I'm closing this issue, if you h

[2022-08-16 06:53] #3288 closed

[2022-08-16 07:02] jhzhangsnps commented on #11827
self.copy("src/", symlinks=True) works properly so that the export_source dir is correct

.conan/data/hello/0.1/user/testing/export_source/src/include:
hello.h@

but the source folder is empty
.conan/data/hello/0.1/user/testing/source/src/include:

BTY, I tried to use copy() in export_sources but failed with the following error

hello/0.1@user/testing: Calling export_sources()
ERROR: hello/0.1@use

[2022-08-16 07:02] czoido commented on #11837
Hi @nathansucher,

I did not have openssl installed and I had no problems installing using the option ssl=True (`-o librdkafka:ssl=True`) Are you having issues with that?

[2022-08-16 07:25] harsszegi opened #11871 "[question] [env] from profiles is not applied when generate() is called?"
Hi,
I'm experimenting with CMakeToolchain + generate(). Almost everything appears to be fine, meaning package options, etc. are seen properly during generate, however it appears if I have an [env] section in the profile, it is not applied to the running environment, meaning os.environ() will not contain the changes [env] in a profile would apply. The strange part that Conan dumps - obviously - the

[2022-08-16 07:33] jhzhangsnps commented on #11827
it works after I implement the export_sources as below.

def export_sources(self):
        copy(self, "*", src="./src", dst=os.path.join(self.export_sources_folder,"src"));

[2022-08-16 07:33] harsszegi commented on #11871
Meh, self.env is still usable which contains the values from the profile

[2022-08-16 07:33] #11871 closed, assigned to memsharded

[2022-08-16 07:33] memsharded commented on #11827
Yes, at the moment it might work. But it has already been removed from Conan 2.0 (already in beta), so better not use it anymore.

copy(self, "*", src="./src", dst=self.source_folder);
TypeError: expected str, bytes or os.PathLike object, not NoneType

Yes, the ``source_folder`` is not defined in this method. If you read https://docs.conan.io/en/latest/reference/conanfile/methods.html#export-sourc

[2022-08-16 07:33] jhzhangsnps commented on #11827
thanks for the support.

[2022-08-16 07:34] dornbirndevelops opened #11872 "[bug] download help message has same help message as upload"
### Environment Details (include every applicable attribute)
  * Conan version: 2.0.0-beta2 (latest `--pre`)
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

- `conan --help`

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-08-16 07:35] memsharded commented on #11827
Glad to help. This last one we were basically writing the response simultaneously :)

[2022-08-16 07:45] memsharded commented on #11871
``self.env`` dissapears in Conan 2.0, better also start moving to the new solution. In this case, most likely ``[buildenv]`` in profiles and ``VirtualBuildEnv`` generator in recipes: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html

[2022-08-16 07:46] harsszegi commented on #11871
Awesome, thanks a lot @memsharded  for the info!

[2022-08-16 07:50] memsharded commented on #11749
Hi @frank-schmidtner

Yes, there is something slightly different: the ``tool`` package appears to be 2 times in the lockfile, one in the "build" context, and another in the "host" context. I only get one, in the "build" context, because I am using it as a ``build_require``, and I am using both "build" and "host" profiles in my command, so it shouldn't be in the host context. Is it possible that yo

[2022-08-16 08:07] frank-schmidtner commented on #11749
@memsharded yes, there's a difference in the dependency graph, now I see it. `lib` should have a require to `tool` not to `common`

[2022-08-16 08:09] memsharded commented on #11847
Yes, the whole idea is that ``conan build`` is no longer in the normal developer flow. Instead, it should be replaced with ``conan install`` + ``cmake ...`` (or other build system native commands). This is the reason why the ``generate()`` method now is the responsible to "prepare" the build, and many things have been moved to files instead of in-memory by the ``build()`` method, so the build is t

[2022-08-16 08:11] memsharded commented on #11749
Ok, I will change the test and see what happens. Would you mind explaining what is ``tool`` in your real case? Why in one case it is a ``tool_require`` and in the other case it is a ``require``? Is it kind of protobuf package?

[2022-08-16 08:13] memsharded commented on #11749
Managed to reproduce it with this test:
[code]

[2022-08-16 08:15] jhzhangsnps commented on #11827
sorry, that I made a mistake. it still doesn't work. I tried again with a clean cache.

as before, the export_sources dir has the symlink

but there is no link under source_folder and build_folder.
ls /u/jhzhang/.conan/data/hello/0.1/user/testing/export_source/src/include/
hello.h@

ls: cannot access /u/jhzhang/.conan/data/hello/0.1/user/testing/source/src/include/hello.h: No such file or director

[2022-08-16 08:17] franramirez688 commented on #11832
Hi @lucabonifacio

Thank you for reporting the issue. I've been figuring it out, and it seems to be a UX problem, so it looks like it's not critical. This bug is solved in Conan 2.x, and it could be risky to solve it for Conan 1.x, so I think it's better to wait for Conan 2.x.

[2022-08-16 08:20] lasote commented on #11852
The fix has been merged and it will be released at 1.51.3

[2022-08-16 08:20] #11852 closed, assigned to lasote

[2022-08-16 08:20] memsharded commented on #11749
Bad news, is that this seems quite challenging to fix in 1.X scope.

Good news is that this is already working in 2.0, this ported test passes:
[code]

[2022-08-16 09:05] uilianries opened #11875 "[question] tools.microsoft.MSBuild how to customize build_type and platform"
So, the older [MSBuild](https://docs.conan.io/en/latest/reference/build_helpers/visual_studio.html#build) has custom platform, build_type and others based on `build()` parameters.

However, the new [MSBuild](https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#msbuild) is based on public attributes.

Based on a real [Pull request](https://github.com/bincrafters/conan-center-ind

[2022-08-16 09:20] #11742 closed, assigned to lasote

[2022-08-16 09:22] uilianries opened #11876 "[question] layout usage: Is it correct to use according to the source?"
Considering a case where a project builds on Windows with .sln files only and on Linux it uses autotools only, we could find:

[code]

As it affects the source folder (mutable), and the documentation does not show an example where more than one layout is used, the question is: It correct to use a layout according to the build helper?

Related to https://github.com/conan-io/conan-center-index/pull/

[2022-08-16 09:22] lasote commented on #11875
Yes, the attributes `msbuild.build_type` and `msbuild.platform` are public, accessible, and customizable. I will open a PR to the docs to clarify it.

[2022-08-16 09:22] #11875 closed, assigned to lasote

[2022-08-16 09:30] initlifeinc opened #11877 "[bug] "PermissionError: [Errno 13] Permission denied" on windows platform"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version:
  * Conan version: 1.48.2
  * Python version: 2.7.17rc1

### Steps to reproduce (Include if Applicable)
cannot reproduce, only appear 2 times

### Logs (Executed commands with output) (Include/Attach if Applicable)
when run "conan install .. --build=outdated",
after download sev

[2022-08-16 09:42] memsharded commented on #11876
Yes, it is perfectly valid to have conditional layouts, if different build systems with different layouts are used under different conditions, as long as the rest of the build, package, package_info, etc methods are consistent.

[2022-08-16 09:49] memsharded commented on #11877
Hi @initlifeinc

It seems you are using some legacy and unsupported things:

- Python 2.7 support has been finally completely removed in 1.49, after being declared for a long time unsupported (it was only possible declaring an env-var to workaround the restriction
- The ``self.copy()`` has to be replaced by the ``copy(self, ...)`` tool
- The ``outdated`` only makes sense when not using revisions.

[2022-08-16 10:01] knzivid opened #11878 "[question] Request for docs: conan_server StorageAdapter"
https://docs.conan.io/en/latest/uploading_packages/running_your_server.html mentions

Where can I find more documentation on the `StorageAdapter` interface? I did not find it in the source under https://github.com/conan-io/conan/tree/develop/conans/server/store.

Any help is appreciated :)

[2022-08-16 10:28] richard-w commented on #11870
IMHO the documentation isn't wrong. What was documented aligned with our expectations and observations even if the implementation had different (but then compatible) semantics. The change in behavior actually breaks reasonable expectations that recipe authors may have after reading the docs.

As a side-note: There is no clear indication in the docs that the `cmake_paths` generator is not maintaine

[2022-08-16 10:41] frank-schmidtner commented on #11749
@memsharded tool is a logging lib that we're using both in host and build context.

[2022-08-16 10:41] ericLemanissier opened #11880 "[bug] `conan config set` broken with keys containing `.`"
### Environment Details (include every applicable attribute)
  * Operating System+version: linux
  * Compiler+version: any
  * Conan version: 1.49.0 and 1.51.2
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-08-16 10:42] czoido commented on #11838
Hi @fschoenm,

We will implement a new `build_folder` argument for the `cmake_layout` in the next Conan release (1.52).

Thanks a lot for the feedback

[2022-08-16 10:51] ibis-hdl opened #11881 "[question/bug?] create profile for clang and _GLIBCXX_USE_CXX11_ABI"
Following [[question] Is libstdc++11 used in Linux clang? #7002](https://github.com/conan-io/conan/issues/7002) Clang is also affected from C++11 ABI library 'problem'.

I my project, I got in (ubuntu 22) CLI
[code]
Obviously, this works in Conan v2 mode correct for GCC, but not for Clang, isn't it? Not shure if this is a bug or I do miss something ...

Conan is version 1.51.2

- [x] I've read the

[2022-08-16 11:03] lasote commented on #11870
That is True but the code of the `cmake_paths` never managed the root folder of the packages. That is a collateral effect of having a `builddir` declared in the dependencies pointing to `.`.

That is also True, but FYI we stopped long ago to develop Conan 1.X since we are working with 2.X beta.

Anyway I've talked with the team and we will "fix" the `cmake_paths` generator to add the root folders

[2022-08-16 11:03] uilianries commented on #11861
@jcar87 Indeed subsystem is another question that I have. So, it seems like it will be the only way for Conan 2.0. Thanks for the information!

[2022-08-16 11:07] memsharded commented on #11880
Hi @ericLemanissier

I think you are mixing ``conan.conf`` and ``global.conf``.

The new ``conf`` items only go to ``global.conf``, so it is an error trying to add them to ``conan.conf`` (this later dissapears in 2.0). So the ``conan config ....`` command cannot be used to append them to the configuration files, instead, editing the files is the way to go. On the other hand, the new ``conf`` can a

[2022-08-16 11:33] ericLemanissier commented on #11880
You are right. The proper way to go is:
[code]
right ?
This gives the following:
[code]

[2022-08-16 12:05] lasote commented on #11597
We have been reviewing this. As I said, we only adjust `CMAKE_INSTALL_DATAROOTDIR` when there is a `resdir` defined, otherwise the variable is not filled. That variable should/might have a default value when calling [GNUInstallDirs](https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html) in the `CMakeLists.txt` so the result directory is never empty.
We consider that Conan is not here to i

[2022-08-16 12:10] ericLemanissier commented on #11880
it works as expected with the `conan profile update ...`

[2022-08-16 12:10] #11880 closed, assigned to memsharded

[2022-08-16 12:54] jlemein opened #11882 "[question] Recommended way to handle package requirements' conflicts"
We are using conan now for some time and it works pretty nice. Now that our repository get's larger with more dependencies, it also becomes more difficult to update some of our dependencies, e.g. requirements.

* Newer versions of conan causes newer recipes of the same package to get uploaded. We use hashes and lockfiles to handle this. However many of our required packages do not specify hashes o

[2022-08-16 13:06] PeteAudinate opened #11884 "[bug] (msvc protobuf) CMakeDeps references debug libs during release build"
We've started seeing this issue since 1.51.0, earlier versions work fine.

We're using VS2019 with CMakeDeps and a dependency on protobuf. Here's a minimal example showing the issue: [protobuf_test.zip](https://github.com/conan-io/conan/files/9351156/protobuf_test.zip)

We install Conan dependencies for both Release and Debug, then do a Release build:
[code]

This fails with:
[code]

Looking at th

[2022-08-16 13:34] nathansucher commented on #11837
@czoido Yes that seems to be what is causing the issue. The package builds without it just fine. Did you run that exact script posted above?

[2022-08-16 13:39] czoido commented on #11862
Closed by https://github.com/conan-io/conan/pull/11874

[2022-08-16 13:39] #11862 closed, assigned to lasote

[2022-08-16 13:49] Adnn opened #11885 "[question (bug?)] How to use Conan center packages in a multi-config environment (Visual Studio)"
**Minimal example**: https://github.com/Adnn/issue_conan-11885

## What we are trying

* Conan 1.51.1
* Windows 10
* CMake 3.23.2
* Visual Studio 2019

We are using the modern CMake generators, , in our `conan/conanfile.py`:

    generators = "CMakeDeps", "CMakeToolchain"

We are following the instruction from [CMakeToolchain](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketo

[2022-08-16 13:55] gureedo commented on #11856
I have the same issue.
I'm using debian 11, python 3.9, conan 1.51.2, openssl/1.0.2u.
OpenSSL is direct dependency of my project.
Command `conan install openssl/1.0.2u@` fails with the same error.

[code]

[2022-08-16 13:57] jcar87 commented on #11597
Hi @paulharris  - thanks for bringing this very interesting issue to our attention.

The `CMAKE_INSTALL*` variables typically used in `install()` directives are not initialised by default, the project is expected to set them, with a lot of projects choosing to rely on the values set by the `GNUInstallDirs` module (docs [here](https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html)).
The va

[2022-08-16 15:05] #11854 closed, assigned to jcar87

[2022-08-16 15:09] memsharded commented on #11872
https://github.com/conan-io/conan/pull/11873 fixed it for next 2.0-beta.3

[2022-08-16 15:09] #11872 closed, assigned to memsharded

[2022-08-16 15:12] memsharded commented on #11878
This is an issue for the docs, transferring it to the right repo.

[2022-08-16 15:21] memsharded commented on #8560
Closing this issue as responded, no further feedback or questions.

[2022-08-16 15:21] #8560 closed, assigned to nobody

[2022-08-16 15:24] memsharded commented on #11880
Yes, conf can be in profiles, and ``conan profile update`` still works in 1.X. ``conan profile update`` has been removed in 2.0, as editing text files via commands didn't sound the best approach.

[2022-08-16 15:35] lasote commented on #11870
This has been fixed at https://github.com/conan-io/conan/pull/11883 and will be released at 1.51.3

[2022-08-16 15:35] #11870 closed, assigned to lasote

[2022-08-16 15:37] memsharded commented on #11882
Hi @jlemein

Those are very good questions.
The thing is that there is no perfect answer for everyone. It really depends on every user needs, the size of the teams, the desired speed, the acceptance of occasional failures in the main build branch or not, development practices, policies, regulations...

There are also 2 issues being mixed, lets make them explicit:
- One issue is potential versions

[2022-08-16 15:41] memsharded commented on #11749
How are you using such library in the build context? Because if it is a library, it might not be able to be linked if build!=host, for example, if it is a cross-build scenario.

[2022-08-16 16:13] je894591 commented on #11854
Thanks for the quick fix!

[2022-08-16 16:18] jcar87 commented on #11854
Hi @je894591  - thank you for reporting this! This fix will be part of the upcoming 1.52 release.

[2022-08-16 16:41] frank-schmidtner commented on #11749
I am afraid I don't understand your question. We have sth like

[code]

So in the end we have two executables, `consumer` (in host context) and `tool` (in build context)  which use functions of the `logging_lib` to log debug/info/etc. messages. As we do compile `logging_lib` twice, once for build and once for host context, there should not be a problem with linking, should it?

[2022-08-16 16:58] memsharded commented on #11749
Ok, I see now, thanks. The graph you are describing is slightly different to the one reflected in the test, still the problem would be the same, so the test captures the underlying issue, all good.

Bad news is that I have been trying for a couple of hours to fix this in 1.X and all I got is a couple of messy branches breaking more than they solve. I'll keep you posted.

[2022-08-16 17:35] ericriff opened #11887 "[feature] Strict mode for lockfile creation that fails if no PREV is available"
We maintain our own remote with custom packages and use lockfiles to ensure reproducible builds. When a developer wants to update a package or add a new one, they're expected to use our CI/CD infrastructure to publish a new conan package to our remote and then update the lockfiles on the repos that consume conan packages.
This usually works but there is a frequent issue: sometimes when a lockfiles

[2022-08-16 18:05] zbordas-kollective opened #11888 "Cannot override requirement for tool_require."
### Environment Details (include every applicable attribute)
  * Operating System+version: Mac / Linux
  * Compiler+version: Clang 13 / GCC
  * Conan version: 1.51.2
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)
Create any project with a single dependency on grpc and the child dependency to protobuf cannot be resolved.

    tool_requires = (
        "grpc/1.48.0"
    )

[2022-08-16 21:53] memsharded commented on #11887
Hi @ericriff

You  need to have a look at lockfiles in 2.0. They implement explicitly a ``--lockfile-partial`` mode to specify that the lockfile is not strict (as by default, they will be strict). They also simplify a lot of things regarding lockfiles management.

You can check the tribe proposal in https://github.com/conan-io/tribe/pull/34, and some initial docs in https://docs.conan.io/en/2.0/tu

[2022-08-16 22:04] ericriff commented on #11887
I saw that conversation. I'm exited to have the new lockfiles since they seem way better that what we have now. Regardless, that's a conan 2.0 solution.
What about 1.x?

[2022-08-16 22:14] memsharded commented on #11887
I am afraid, it is extremely unlikely that we will develop new features like this one in 1.X. And specially lockfiles are very complicated in 1.X. Conan 1.X dev is mostly only regressions, and backports of recipe tools and syntax that will allow the recipe migration/compatibility between 1.X/2.0.

[2022-08-16 22:23] ericriff commented on #11887
Good to know. No problem.
is there an ETA for 2.0? So we can start preparing.

[2022-08-16 22:25] memsharded commented on #11888
Hi @zbordas-kollective

``tool_requires`` are private in recipes, and cannot be overriden from other downstream recipes. But they can be overriden if necessary by profiles.

I think in this case this is an inconsistency in recipes in conan-center-index, and recipes there should be updated to use the same protobuf/3.21.4 version, but for some reason ``grpc`` hasn't been updated yet.

I am transferr

[2022-08-16 22:27] memsharded commented on #11887
We are about to do 2.0-beta.3, it is getting ready quickly, I'd expect a couple of releases more until GA. It might require a bit more time to let ConanCenter catch-up and update a reasonable amount of recipes, but otherwise the Conan client will be ready soon.

[2022-08-16 22:28] ericriff commented on #11887
Awesome! Exiting times ahead of us.
Thanks for the info :)

[2022-08-16 22:28] #11887 closed, assigned to memsharded

[2022-08-16 22:37] memsharded commented on #11885
A couple of quick notes:

- ``scm`` feature via attribute is deprecated and removed in 2.0. You can check https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html#example-implementing-the-scm-feature
- The ``def _configure_cmake(self):`` method is no longer needed, just instantiate a new ``CMake()`` instance in the ``build()`` and ``package()`` methods.

Also, you don't need to call

[2022-08-16 23:02] memsharded commented on #11885
I have been made it work with Conan 1.50 (note that 1.51.1 has some issues that are still pending to be fixed in patch release in 1.51.3 soon in CMakeDeps), with:
[code]

[2022-08-17 01:14] SirCosty opened #11890 "[question] Release date for 1.51.3 including the bugfix #11860"
- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When will be the next release including the bugfix of
Prevent mutation of conan_data structure in apply_conandata_patches #11860

[2022-08-17 01:30] SirCosty opened #11891 "[bug] Failed to build test_package for multiple profiles"
### Environment Details (include every applicable attribute)
  *Package Name/Version: zlib/all
  *Operating System+version: Windows 10.0.19042
  *Compiler+version: MSVC 19.16.27048.0 & MSVC 19.29.30146.0
  *Conan version: conan 1.51.2
  *Python version: Python 3.8.4

### Conan profiles
#Win_x64_vs15_vc141
[settings]
os=Windows
arch=x86_64
os_build=Windows
arch_build=x86_64
compiler=Visual Studio
c

[2022-08-17 02:31] jhzhangsnps commented on #11827
I have debugged it. it is really a bug.
--Call--

-> def link_to_rel(pointer_src):
(Pdb) n

-> linkto = os.readlink(pointer_src)
(Pdb) n

-> if not os.path.isabs(linkto):
(Pdb) p linkto
'../hello.h'
(Pdb) n

-> linkto = os.path.join(os.path.dirname(pointer_src), linkto)
(Pdb) n

-> out_of_source = os.path.relpath(linkto, os.path.realpath(src)).startswith(".")
(Pdb) p linkto
'/u/jhzhang/.conan/data

[2022-08-17 02:35] jhzhangsnps commented on #11827
it think the link /u/jhzhang/.conan/data/hello/0.1/user/testing/export_source/src/include/../hello.h is out of source. So skip the link creation

[2022-08-17 02:35] jhzhangsnps commented on #11827
here is the complete callstack
-> exec(cmd, globals, locals)
  <string>(1)<module>()
  python/venv/bin/conan(8)<module>()
-> sys.exit(run())
  python/venv/lib/python3.9/site-packages/conans/conan.py(11)run()
-> main(sys.argv[1:])
  python/venv/lib/python3.9/site-packages/conans/client/command.py(2399)main()
-> error = command.run(args)
  python/venv/lib/python3.9/site-packages/conans/client/comman

[2022-08-17 02:55] jhzhangsnps commented on #11827
I have figured out the root cause. since I need a big conan cache, so .conan under my home is a symlink.

when execute the following line, need call os.path.realpath for both linkto and src

python/venv/lib/python3.9/site-packages/conans/util/files.py(412)link_to_rel()
-> out_of_source = os.path.relpath(linkto, os.path.realpath(src)).startswith(".")

[2022-08-17 04:09] initlifeinc commented on #11877
OK, got it, but still be not sure why it raise this error. this error seems easy to appear after delete the whole <userhome>/.conan on windows platform

for delete the whole cache folder, I think this operation is very heavy because we hope use a custom conan remote repo, it seems delete ./conan/data is a simple way to clear cache. am i right?

i want to publish a version named with snapshot, whic

[2022-08-17 04:44] santhonisz opened #11892 "Re-introduce the CLICOLOR_FORCE environment variable (or equivalent) in 2.0"
Hi there,

I just noticed that in Conan 2.0 the `CLICOLOR_FORCE` environment variable was removed as part of https://github.com/conan-io/conan/pull/11421. While I completely understand and respect the decision to adopt the standardised `NO_COLOR` approach to disabling colored output, the problem is that our (Windows) CI environments such as TeamCity won't default to using color as they have no TTY

[2022-08-17 06:43] lasote commented on #11890
Hi, the thing is https://github.com/conan-io/conan/pull/11860 is assigned to 1.52, we have to check if we port it to 1.51.3
About the release date, we planned to release ASAP but new bugs continue to appear. I guess it will be released this week.

[2022-08-17 06:48] lasote commented on #11891
This is intended, reusing the `test_package/build` is only valid for changes in the `build_type`, otherwise you have to remove the `test_package/build/` before running another configuration.

[2022-08-17 07:37] uilianries opened #11894 "[question] conan.tools.apple import looks confuse"
The new [Apple tools](https://docs.conan.io/en/latest/reference/conanfile/tools/apple.html) is bit confuse to be imported. For instance, if I need to import the old version of [conans.tools.is_apple_os](https://docs.conan.io/en/latest/reference/tools.html#tools-is-apple-os), now I need to import:

    from conan.tools.apple.apple import is_apple_os

Also, it's not documented yet on https://docs.co

[2022-08-17 07:52] memsharded commented on #11877
The Python implementation of things like ``shutil.rmtree``, ``shutil.copy`` etc might be slightly different in Python 2.7 and in Python >= 3.6

Yes, removing ``./conan/data`` will remove the packages, but not the rest of the cache configuration. In any case, if you have custom configuration, the recommended way is to use ``conan config install``, so you can easily completely remove a cache, and th

[2022-08-17 07:52] #11838 closed, assigned to czoido

[2022-08-17 07:53] lasote commented on #11894
That module is private. We have a comment:

[code]

So, at least we need to provide an interface of `is_apple_os` with the conanfile as an argument.

[2022-08-17 07:57] maitrey opened #11895 "[question] Best way to build a platform/variant agnostic package"
Dear Conan Folks, I have a package that contains some scripts that I will be using for running pre-build steps. Since these scripts will be used by multiple other packages I need to move them to its own package. Currently , I am setting up an environment variable in order that the package location can be known to the one that consumes it  by:
`def package_info(self):
        self.env_info.SCRIPT_U

[2022-08-17 08:03] SirCosty commented on #11891
Yes but before introducing the layout function and the new conan 2.0 compliant recipes there were posible to build many profiles one after the other and the tests were build propper.

You mean this is intended that now the user have to manualy delete the test_package/build folder?

[2022-08-17 08:07] jcar87 commented on #11884
Hi @PeteAudinate  - thanks so much for the bug report and the detailed description and diagnosis.

I believe this is a duplicate of https://github.com/conan-io/conan/issues/11852 - A fix has been identified along the lines of what you have observed, and will be part of the upcoming 1.51.3 release.

[2022-08-17 08:11] PeteAudinate commented on #11884
Many thanks, that's exactly it, and the fix looks good to me as far as I can see. Sorry I didn't notice that existing issue.

[2022-08-17 08:11] #11884 closed, assigned to jcar87

[2022-08-17 08:13] lasote commented on #11891
This is something temporary in Conan 1.X (when using layout()), In conan 2.X that folder is automatically deleted.

[2022-08-17 08:28] memsharded commented on #11895
Hi @maitrey

If your package is platform agnostic, it is typically enough to just remove the ``settings = ...`` declaration in the recipe, and you can ``conan create`` it without specifying any profile at all.

Then, a couple of details:
- If you put the scripts inside a ``bin`` folder, they will be automatically added to the PATH env-var in consumers with the right generators, so it might not be

[2022-08-17 08:56] initlifeinc commented on #11877
Yes, I have already create a git to store configuration and ask the team to re-configuration by calling `conan config install`

It seems if i add --update in command `conan install`, it will always update to latest recipe?

[2022-08-17 11:47] SirCosty commented on #11890
Would be nice to have it as soon as posible because is a blocker for me right now
Thanks

[2022-08-17 12:28] maitrey commented on #11895
Perfect , both solutions work for me ! Thanks for your reply.

[2022-08-17 12:28] #11895 closed, assigned to memsharded

[2022-08-17 12:37] czoido commented on #11856
Finally it looks like the root of the error was a mistake in the Conan recipe. This should fix that: https://github.com/conan-io/conan/pull/11893

[2022-08-17 12:47] bog-dan-ro opened #11897 "[feature] conan2 Use cmake-file-api to get all the project targets info?"
In conan 1.x cmake projects with multiple targets are not very easy/nice to write recipes for (check vorbis, mpg123, etc.).
It will be great if conan 2 can use [cmake-file-api](https://cmake.org/cmake/help/latest/manual/cmake-file-api.7.html) to get all the info for that project.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-17 13:05] maitrey opened #11898 "[question] Differentiate between different types of tests"
Dear Conan Folks, I am sorry I am asking a second question today. We have many different types of test :  unit tests, integration tests,  tests on hardware, system tests. However conan provides only one method to trigger it : https://docs.conan.io/en/latest/reference/commands/creator/test.html
We also need to execute tests with our pipelines. Is there any easy way to differentiate between the diff

[2022-08-17 13:09] bog-dan-ro opened #11899 "[feature] conan2 build tool specific recipe"
The simplest cmake recipe has over 40 lines of code.
This is a newly created recipe:
[code]

Is it possible to have and inherit `CMakeConanFile` instead of `ConanFile`  which will have default `config_options`, `layout`, `generate`, `build` & `package` methods? `package_info` can be also auto generated if #11897 is implemented.

This way most of the CMake recipes will be reduced to :
[code]

Of co

[2022-08-17 13:31] maitrey opened #11900 "[question] conan info does not list tool_requires"
Dear Conan Folks, conan info lists the dependency graph , so it lists what is specified as requires in the conan recipes. However it does not list the tool_requires.  Also the package that is used as tool_requires doesnot list who is dependendent on it in the conan info.
Is this an intended  feature or a bug ?
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/

[2022-08-17 13:45] lasote commented on #11856
Closed by https://github.com/conan-io/conan/pull/11893

[2022-08-17 13:45] #11856 closed, assigned to czoido

[2022-08-17 13:53] lasote commented on #11890
Today or tomorrow first thing is the current plan.

[2022-08-17 13:53] #11890 closed, assigned to lasote

[2022-08-17 14:41] franramirez688 commented on #11867
Hi @SpaceIm

Thanks for reporting the issue!

In a nutshell, the explanation is as follows:

* The legacy `pkg_config` is not failing because it was using the old `cpp_info.framework_paths`, and those paths were being filtered automatically by Conan:

[code]
* The new `PkgConfigDeps` is using the `cpp_info.frameworkdirs` because of the deprecation of `framework_paths`, so all the new `cpp_info.***

[2022-08-17 16:11] SpaceIm commented on #11894
See also https://github.com/conan-io/conan/issues/11865

[2022-08-17 16:46] SpaceIm commented on #11867
It means updating 1300+ recipes in conan-center :/

zlib recipe has a layout: `cmake_layout`. If you mean some custom layout, it's like first suggestion, updating 1300+ recipes. Moreover, it's unnecessary boilerplate, and very error prone.

[2022-08-17 17:05] stackfun opened #11901 "[Documentation] Missing 2.0 migration docs for tools.collect_libs()"
Documentation update request:

The `tools.collect_libs()` function was [removed in conan 2.0](https://github.com/conan-io/conan/issues/3716) but it is not mentioned in the [2.0 recipe migration docs https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html

Maybe its worth double checking all the API's that were removed in conan 2.0

[2022-08-17 18:02] jfaust commented on #8539
@blackliner any new information on this? We're seeing the exact same thing.

[2022-08-17 18:25] jfaust commented on #8539
Upgraded our artifactory CE server and it seems to be working now

[2022-08-17 21:10] blackliner commented on #8539
@jfaust the frequency this occured decreased over the last 2 month, but I am not sure what the reason for this was. Very probable a JFrog issue.

[2022-08-17 21:10] #8539 closed, assigned to memsharded

[2022-08-17 23:10] memsharded commented on #11898
Hi @maitrey

Note the ``conan test`` command, and the ``test_package`` functionlity that can be triggered by ``conan create`` only intend to be used for testing the package:
- Check that the necessary headers have been copied
- Check that the libs have been copied
- Basic binary architecture/compatibility check, linking and running some simple exe.

But not for building and running unit/integratio

[2022-08-17 23:18] memsharded commented on #11897
The cmake-file-api has already some code inside Conan, but it hasn't been made public yet, but you can have a look to the codebase. The reason is that it is not very complete, so a lot of information still need to be provided by users and that makes it confusing. And it doesn't seem to be getting enough attention, so we doubt it will mature enough to be complete anytime soon.

I'll add it to the 2

[2022-08-17 23:21] memsharded commented on #11900
Hi @maitrey

You need to pass the ``--dry-build=...`` arguments, with the same values you would provide to ``conan install`` or ``conan create``  argument ``--build``.

The asymmetry comes from historical reasons, but it has been fixed in 2.0, with ``conan graph info --build=xxxx`` syntax

[2022-08-17 23:28] memsharded commented on #11899
Hi @bog-dan-ro

I guess you are aware of https://docs.conan.io/en/latest/extending/python_requires.html ``python_requires`` feature, with it you can implement something very close to it.

You also have the ``conan new`` templates (even more powerful in 2.0) that can help with creating new recipes.

But implementing such a generic CMake base class is not in our plans, because it makes future mainta

[2022-08-17 23:47] jhzhangsnps commented on #11827
@memsharded James, do you agree to deliver a fix? I have applied a local patch which works properly

[2022-08-18 04:54] Ahajha opened #11903 "[bug] Regression (1.50.2 -> 1.51.0) Pybind::embed does not find Python.h"
### Environment Details (include every applicable attribute)
  * Operating System+version: Both Ubuntu 22.04 and Windows 10
  * Compiler+version: GCC 10/11, MSVC 2019 (not sure specific version)
  * Conan version: 1.50.2 (works), 1.51.(0,1,2) (does not work)
  * Python version: 3.9 (Windows), 3.10 (Ubuntu)

### Steps to reproduce (Include if Applicable)

I have the following setup:

[code]

[code]

[2022-08-18 06:22] maitrey commented on #11900
Do you mean like this : conan info  --dry-build=test/6.1.0@testing/devel -pr:b=default -pr:h=ndp

[2022-08-18 06:23] lasote commented on #11867
We can start with the recipes causing failures, I bet there won't be 1300.

The recipes were always declaring by default `self.cpp_info.frameworkdirs = ["Frameworks"]` in Conan 1.X, and the generators of 2.X will behave following that information without tricks (like skip non-existing folders that caused many many issues over time). We cannot change the 1.X behavior, we would need to revert it whi

[2022-08-18 06:23] bog-dan-ro commented on #11899
Yup, I used `python_requires` with conan 1.x for qmake based projects. (Never had time to check conan new templates).

I understand you concerns, but I checked https://github.com/conan-io/examples2 and every single cmake based recipe, has the same `config_options`, `layout`, `build` & `package` methods. I guess meson, autotools, etc. will have similar methods as well. Even if these methods are not

[2022-08-18 06:25] #11894 closed, assigned to lasote

[2022-08-18 06:26] lasote commented on #11865
The usage of `to_apple_arch` is way lower than `is_apple_os`, but we have indeed assigned to `1.52` to take a look at it.

[2022-08-18 06:33] bog-dan-ro commented on #11897
I'd like to take a look to it, Is this https://github.com/conan-io/conan/blob/develop2/conan/tools/cmake/file_api.py the right one?

[2022-08-18 07:27] friendlyanon opened #11904 "[bug] Regression in >=1.51.0: `-Werror=dev --warn-uninitialized` triggers errors"
This was previously reported and fixed in https://github.com/conan-io/conan/issues/10288

https://github.com/friendlyanon/cmake-init/issues/67 reported to me that this regression happened and indeed it only happens in the versions mentioned in the title.

### Steps to reproduce (Include if Applicable)

CMakeLists.txt:

[code]

conanfile.py:

[code]

Run the commands:

- `pip install -U conan==1.51

[2022-08-18 07:43] memsharded commented on #11897
Yes, that one. The idea is to create an intermediate json representation format.

[2022-08-18 07:44] kambala-decapitator commented on #11019
I'm seeing a similar issue with Boost: `os.version` seems to have been ignored during the build, although not sure if it's related to objc and/or link flags.

[code]

but in my profile I have `os.version=10.13`. I also see that the build command did have the needed flag:

Other libraries were built correctly, for example:

[code]

macOS 12.5, conan 1.51.2 from pip, Xcode 13.4.1 (clang 13).

Opened

[2022-08-18 07:46] memsharded commented on #11900
It seems you are missing the root reference, similar to ``conan install``. Something like using ``.`` for the current local ``conanfile.py``:
[code]

[2022-08-18 07:52] memsharded commented on #11827
We will have a look, but it is difficult to guarantee a fix, at least in 1.X, because the risk of breaking is high, so it might be targeted to 2.0 instead.

If ``so .conan under my home is a symlink.`` is the cause, the recommended way is to define CONAN_USER_HOME, not to define a symlink. Have you tried that approach instead? Please try and let us know.
.

[2022-08-18 07:54] memsharded commented on #11891
Considering this solved in 2.0, closing issue. Please report against 2.0 if necessary a new ticket.

[2022-08-18 07:54] #11891 closed, assigned to lasote

[2022-08-18 08:03] jhzhangsnps commented on #11827
I will try to use CONAN_USER_HOME as a fix.

I am ok with a fix in 2.0

thank you

[2022-08-18 08:09] franramirez688 commented on #11904
Hi @friendlyanon

Thanks for reporting it!

This issue seems to be solved by the latest Conan 1.51.3 (https://github.com/conan-io/conan/releases/tag/1.51.3).
Let us know if it's working now to close the issue.

[2022-08-18 08:23] jcar87 commented on #11881
Hi @ibis-hdl  - thank you for reporting this. Indeed, on most recent Linux distros that also provide `clang`, it is typical that `clang` uses the GNU C++ Library (libstdc++), which is the one that sets the `_GLIBCXX_USE_CXX11_ABI` macro to `1` by default (from what I have observed, the compiler itself doesn't).

In general (regardless of this), we do recommend to use profiles explicitly rather tha

[2022-08-18 08:24] memsharded commented on #11899
The story goes like this:

- We define the new CMakeConanfile base class, with all the methods, people start to use it
- A new use case appears for the layout, or some improvement, and we add it as opt-in to the ``layout()`` method or ``cmake_layout()`` as some new argument.
- We cannot change the CMakeConanfile base class to use the new improvement without breaking existing users, due to our stab

[2022-08-18 09:02] SpaceIm commented on #11867
All recipes potentially cause failures for consumers, since it affects a generator. For the specific case of glib recipe migration to conan v2, indeed we have to fix few recipes only (at least pcre2, pcre & zlib). But hardcoding `frameworksdirs = []` in all recipes is quite strange, since it's not the default behavior to create bundles.

I still don't understand: Do we need to hardcode `self.cpp_i

[2022-08-18 09:02] lasote commented on #11903
Hi, the issue is in the recipe, the property `cmake_build_modules` has to be declared in the root `self.cpp_info` since 1.51.
That is because CMake will just include files, it has no sense to associate modules to conan components so we decided to fix it.
I've opened a [PR to the recipe ](https://github.com/conan-io/conan-center-index/pull/12327). Thanks for reporting.
I'm transferring the issue to

[2022-08-18 09:20] bog-dan-ro commented on #11897
I was thinking to something a bit more straightforward (easier?).

Instead to do:
[code]

I'll do:
[code]

Or even easier:

[code]

[2022-08-18 09:22] lasote commented on #11867
I don't understand what you mean. For me it is not strange at all because Conan 1.X always had a default to `frameworksdirs = ["Frameworks"]` and it most of the recipes that is a bug because that directory doesn't even exist.

It is needed because the consumers using v2 generators won't skip the non-existing folders.
In Conan v2 (or recipes using the layout()) won't need it because in that case th

[2022-08-18 09:26] friendlyanon commented on #11904
Indeed, the issue is not present in 1.51.3 with the reproducer.

Thanks! That's what I call a quick fix :)

[2022-08-18 09:26] #11904 closed, assigned to nobody

[2022-08-18 09:27] SpaceIm commented on #11867
When you say "In Conan v2 (**OR** recipes using the layout())", does it mean that in conan v1 mode, a recipe with a layout like cmake_layout shouldn't populate frameworksdirs by default? Because latest RREV of zlib has a cmake_layout, but still, its frameworksdirs is not empty.

[2022-08-18 09:27] bog-dan-ro commented on #11899
If every cmake recipe will use
[code]
and you'll break `cmake_layout(self)` doesn't mean it break them all anyway? If you don't break the default `cmake_layout(self)` behavior, `CMakeConanfile::layout` will not break either...
Unless there is something else that I fail to see as I'm not a python expert at all !

Anyway, maybe `python_requires` is a better way.

[2022-08-18 09:41] uilianries opened #11905 "[question] Why does test_requires is installed when not testing?"
The enigmatic feature `test_requires` is mentioned in Docs in some points:

https://docs.conan.io/en/latest/reference/commands/creator/create.html?highlight=test_requires
https://docs.conan.io/en/latest/reference/conanfile/dependencies.html?highlight=test_requires#iterating-dependencies
https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html?highlight=test_requires#requirements
https://docs.

[2022-08-18 09:55] lasote commented on #11867
Not True. With Conan 1.51.3, zlib/1.2.12 with layout, using `CMakeDeps`, and exploring the `xxx-data.cmake`:

[code]

Without layout():

[code]

[2022-08-18 10:06] SpaceIm commented on #11867
Indeed, I've checked in the latest log of https://github.com/conan-io/conan-center-index/pull/12221, and I don't see zlib frameworks dirs injection anymore (I see bzip2 & pcre2 Frameworks dir. bzip2 recipe has been updated 2 days ago, so it should be fine now. Remains pcre2 recipe to update).
So the proper fix for conan v2 migration is to fix recipes of dependencies to use `layout()` (/cc @SSE4 @u

[2022-08-18 11:12] holoridePeter opened #11906 "[bug] patch version 1.51.3 breaks API for is_apple_os"
### Environment Details
  * Operating System+version: Ubuntu 18.04
  * Conan version: 1.51.3

### Steps to reproduce (Include if Applicable)
Build protobuf with recipe revision 4e6689ea539a0db7f7c30953e69301f9

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

### Other
The issue is due to the API change in https://github.com/conan-io/conan/pull/11896/files#diff-c49ac

[2022-08-18 11:17] SSE4 commented on #11867
@franramirez688 I think we talked about it before. I have experienced the same problem already in https://github.com/conan-io/conan-center-index/pull/11139

[2022-08-18 11:17] czoido commented on #11906
Hi @holoridePeter ,
Thanks a lot for reporting, looks like the recipe was updated to a tool that was not ready yet to be used and was not meant to be public. Now that's made public the recipe should be updated.
I'm transferring this to the Conan Center Index repository as that is a fix that must be made in the recipe.

[2022-08-18 11:18] uilianries opened #11907 "[question] Backport #11896 to 1.50.3"
The related fix to solved the problem of importing `is_apple_os`. However, on Conan Center Index, if using 1.50.2, it won't work. Is is possible to release 1.50.3 with that hotfix?

Related to https://github.com/conan-io/conan/issues/11906

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-18 11:39] SpaceIm commented on #11867
@SSE4 Maybe a CCI hook should be implemented to enforce `layout()` in CCI recipes?

[2022-08-18 11:40] SSE4 commented on #11867
yes, I think it can be enforced. I believe we already have layouts for most of the build helpers (AutTools, CMake, MSBuild and Meson). for others, hand-crafted layout could be used.

[2022-08-18 11:42] lasote commented on #11907
I think it is not worth it. You can keep the old `tool.is_apple_os` until you deploy `1.51.X`

[2022-08-18 11:51] jwillikers commented on #11840
I just hit this issue porting GTest to Conan V2 on Conan Center: conan-io/conan-center-index#12326

[2022-08-18 11:52] lasote commented on #11905
About skipping the `test_requires()` based on `tools.build:skip_test` I don't think that is a good idea to do it, sounds a bit tricky and hidden.

About the toolchain setting the variable `BUILD_TESTING` might be indeed a good idea 👍🏼

[2022-08-18 11:52] uilianries commented on #11907
Done.

https://github.com/conan-io/conan-center-index/pull/12341
https://github.com/conan-io/conan-center-index/pull/12340
https://github.com/conan-io/conan-center-index/pull/12335

[2022-08-18 11:54] #11907 closed, assigned to lasote

[2022-08-18 12:14] jcar87 commented on #11840
Hi @SpaceIm, @jwillikers for reporting this issue. We will work on a fix to address the case where a project treats this as global cache variables.

[2022-08-18 12:38] jlemein commented on #11882
Thanks a lot. I appreciate your help and time you take to answer all of my questions so far. Without your help we would not have gotten this far with conan.

[2022-08-18 13:00] klausholstjacobsen opened #11909 "Access package folder from generate(self) function"
I would like to package a toolchain in a conan package.

In my conanfile.py i have the `def generate(self)` function.
In here I would like to generate some custom stuff for a consuming project (much like the conan.cmake project/file).
For that purpose I need to know the package folder inside the `def generate(self)` function, but it is nowhere to be found.

Actually when i first install the packag

[2022-08-18 14:12] SpaceIm opened #11910 "[bug] `install` method of `conan.tools.meson.Meson` calls `meson setup --reconfigure` before installing"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13
  * Conan version: 1.51.2
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- checkout a recipe based on `conan.tools.meson.MesonToolchain` & `conan.tools.meson.Meson` (for example in https://github.com/conan-io/conan-center-index/p

[2022-08-18 19:52] memsharded commented on #11909
Hi @klausholstjacobsen

Please note that ``generate()`` runs at install time, not at creation time. So when it runs, the package folder doesn't exist yet. Before that the ``build()`` method will be run, and finally the ``package()`` method. Only at this later step the package folder is created. Note that ``generate()`` even runs for a conanfile.py when executing a ``conan install .`` locally, not

[2022-08-18 22:34] memsharded commented on #11897
I agree that some parts of the current api can be simplified. But hiding it too much is not good either, as always, "explicit is better than implicit". Reading a recipe it should be more or less understandable what is happening.

It is also critical to make explicit the intermediate json output, that decouples the origin from the actual package information, this feature will not happen without it.

[2022-08-18 22:52] memsharded commented on #11899
We can easily add an opt-in like ``cmake_layout(self, new_thing=True)`` that allows users to move to the new behavior, gradually and under control, without breaking other users. In a few months/releases almost everyone can be using the new de-facto recommended default which is ``new_thing=True``.

This is not true for a common base class implementing a ``layout()`` with a call to ``cmake_layout()`

[2022-08-18 22:57] memsharded commented on #11882
Glad to help. We just try to do what we would expect others to do for when using other tools, and we also love supporting our community of users :)

If you consider this question responded, please close it, and don't hesitate to open new issues for any other further question that you might have. Thanks!

[2022-08-19 06:57] SpaceIm opened #11912 "[feature] Port `stdcpp_library()` to conan v2"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

There are 47 recipes in conan-center relying on `stdcpp_library()` (mainly to append C++ standard lib to system_libs in package_info() for C++ static libs with C API).

[2022-08-19 07:33] lasote commented on #11867
Note: In case you consider it. To activate the "2.0" mode an empty `layout()` method is enough.

[2022-08-19 08:39] Ignition opened #11913 "[bug] Says one revision but uses incorrect revision"
### Environment Details (include every applicable attribute)
  * Linux Debian Bullseye
  * clang 11
  * conan 1.48.2
  * python 3.10

### Steps to reproduce (Include if Applicable)
This morning our conan build went wrong
we require `xxhash/0.8.1@#285da44b24e11d9f36f7d0fc23a1734a`
build says
[code]
but `285da44b24e11d9f36f7d0fc23a1734a` revision does not have that requirement yet   `bbf2867eb2cfe18

[2022-08-19 08:47] memsharded commented on #11913
This is super weird, and it seems it will be really difficult to reproduce.
I guess that if you remove the package, either with ``conan remove`` or removing the cache, it will be fixed.
Maybe if you pass the ``--update`` it will be fixed. Does it happen now all the time if you repeat the last command? (is it a install, a create, a info command?)

Can you please share the ``metadata.json`` file tha

[2022-08-19 08:48] Ignition commented on #11913
Maybe false alarm...I think devops forgot `CONAN_REVISIONS_ENABLED=1`

[2022-08-19 08:50] Ignition commented on #11913
I'll try to reproduce locally, but this was on a CI machine I don't have access to.
But either way, strange to say it downloaded `285da44b24e11d9f36f7d0fc23a1734a` but use `bbf2867eb2cfe186d9bc857da8e00752`

[2022-08-19 08:51] Ignition commented on #11913
Maybe need for a warning ie. `requested 285da44b24e11d9f36f7d0fc23a1734a but revisions isn't enabled`

[2022-08-19 08:52] memsharded commented on #11905
Agree, Conan 2.0 constructs the whole graph always, not skipping even tool_requires. It will only skip fetching binaries for packages when they are not needed (BINARY_SKIP). Maybe we want to consider this in the future, but at this step sounds premature optimization, not building and running tests is the way to go first, so the BUILD_TESTING sounds right too.

[2022-08-19 08:54] memsharded commented on #11913
Ok, great to hear that, please keep us posted.

[2022-08-19 08:59] iaavo opened #11914 "[bug] Conan deletes recipe from cache if `conan download` is unable to find recipe"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.51.3
  * Python version: 3.9.12

### Steps to reproduce (Include if Applicable)

[code]

If you use `export-pkg` then the package folder will remain in the cache after `download`

[2022-08-19 09:15] memsharded commented on #11914
Hi @iaavo

Thanks very  much for reporting this issue.

This seems bad UX, but also not critical. When running a ``conan download`` of a given package, it seems that Conan 1.X is assuming that it is not in the cache, and if it is, it has to be replaced with the downloaded one, which seems expected. So ``conan download`` is assumed to be a destructive command for local cache package.

I think it is

[2022-08-19 09:56] wjswjq opened #11916 "[bug] base lockfile don't work when requires and build_requres zlib/1.2.11 meanwhile"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04
  * Compiler+version: gcc-10
  * Conan version: 1.48.1
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
1. pkga requires and build_requires protobuf/3.14.0
2. pkgb requires pkga
3. create pkga in pkga folder
`conan create .`
4. create pkgb base lock in pkgb folder
`cona

[2022-08-19 10:16] iaavo commented on #11914
Hi @memsharded

Thanks for the quick reply. I agree it's definitely not a critical issue. Though it did cause a few headscratches on my end as I kept wondering why my local cache is ending up in an inconsistent state (since the `export` folder gets deleted, but the `package` folder remains as does the `metadata.json` file).

I think the issue would be resolved if it was at least mentioned in the d

[2022-08-19 10:59] boussaffawalid opened #11918 "[feature] add support for per recipe config in profile"
Hello,

According to https://docs.conan.io/en/latest/reference/profiles.html, it is possible to define per recipe options, settings and env vars in a profile.
[code]

It we be also great if we can define config per recipe as well, something like
[code]
The reason is, when doing cascade build, we need to use different generators for different dependencies.

[2022-08-19 11:22] pgeler commented on #11865
wish is_apple_os can be addressed differently than breaking those 10% 🤦

[2022-08-19 11:23] franramirez688 commented on #11918
Hi @boussaffawalid

I believe that it's already possible to do that. Have you already tried it? Perhaps it's something missing in the documentation, or we'd need to add that behavior.

[2022-08-19 11:27] jcar87 commented on #11865
Hi @pgeler  - we are making every effort to prevent breakages for both Conan and Conan Center users during the staggered transition to Conan 2. If you could kindly provide a report of issues caused by the the lack of `is_apple_os` in the `conan.tools.apple`, I'll make sure to address this swiftly.

[2022-08-19 11:40] EstebanDugueperoux2 opened #11919 "[question] error on concurrent package creation"
Hello,

I'm using latest conan 1.51.3 on Linux and Gitlab CI with several jobs building binary for differents target.
But when calling "conan create" or "conan export-pkg" I get randomly following error:

[code]

For now I use "export-pkg" command with "conan install" and "conan build" called before, to limit concurrency issue with conan cache and also to be able to make Sonar code quality analysi

[2022-08-19 11:40] pgeler commented on #11865
@jcar87 it did break packages in 1.51.3 this one is an example https://github.com/conan-io/conan-center-index/pull/12335, I was struggling around last night

[2022-08-19 12:57] jcar87 commented on #11865
Hi @pgeler - thank you. Apologies for the inconvenience, after noticing the issue with a small number of recipes we have moved to correct this - it should now work properly even on Conan 1.51.3. Please let us know if this is not the case.

[2022-08-19 13:16] kambala-decapitator commented on #11402
conan 1.51.2 generated me (`conan profile new default --detect`) the following default profile:

[code]

Is it correct to cross-compile to arm64 simply with `--settings:host=arch=armv8` (or even just `--settings=arch=armv8`)? At least it seems to produce correct binaries.

Or using 2 profiles is the only right way (or will become so in the future)?

And if I understand correctly, I can do the same

[2022-08-19 15:59] theartful opened #11922 "[bug] Autotools on Windows is problematic"
I've been working on writing a port for ImageMagick that uses the autotools build scripts for Windows. Here is what I had to do:

[code]
This is a list of the bugs I encountered:
1. `PKG_CONFIG_PATH` is added as a unix path, while autotools will use the pkg-config executable provided by conan, which expects a windows style path.
2. `LD` environment variable is not defined, and autotools incorrectl

[2022-08-19 16:41] klausholstjacobsen commented on #11909
I see the problem with `generate(self)` being called before the package folder exists.

I am not sure how to "use the `generators_folder`". I cannot seem to find any documentation.

So here's what I would like to do:
I would like to generate a file in the install folder (same folder as where the conanbuildinfo.cmake goes). This file should, among other things contain info about the whereabouts of

[2022-08-20 06:47] blackliner commented on #9383
Ok, working on a wrapper script that uses a custom dependency tree to build multiple packages in parallel. Hitting the concurrency limitations conan has in the local cache.

If two packages get build in parallel (separate conan create processes), and they depend on the same package that can be downloaded, a race condition can happen. If the first process is running the build while the second proce

[2022-08-20 07:04] blackliner commented on #9383
One idea I had was to try and create a separate conan cache for each build, like building in a sandbox. But I assume we lose most of the parallelization gains when dependencies have to be recreated all the time.

What kind of works for now is to have 5 retries in case a build fails, in the hope that the race condition does not occur 🙈

[2022-08-20 07:12] blackliner commented on #9383
Hm, maybe https://docs.conan.io/en/latest/uploading_packages/running_your_server.html can help out as a quick way to up/download between those builds 🤔 Does the server support parallel read write access?

[2022-08-20 09:28] memsharded commented on #9383
Maybe trying to use a different cache per parallel build, but using the file-download cache https://docs.conan.io/en/latest/configuration/download_cache.html to avoid hitting too much the server could be an improvement in the meantime?

[2022-08-20 09:37] memsharded commented on #11909
Hi @klausholstjacobsen

You can read some hints about it in the migration guide: https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html?highlight=generators_folder#the-generate-method. Basically you can use the ``self.generators_folder`` in the ``generate()`` method to get the location of that folder. It will typically be inside the "build" folder.

The problem with ``package_info()`` is th

[2022-08-20 09:41] memsharded commented on #11402
It might still eventually work, depending on which build integrations you are using, the recipe, the build scripts, the environment, etc.
But it is not the recommended way.

Yes, conan 2.0 use always 2 profiles, and it has dropped ``os_build``, ``arch_build`` settings. It is also the current recommended way, not using the 2 profiles is considered legacy and not maintained anymore.

[2022-08-20 09:45] memsharded commented on #11916
Hi @wjswjq

I think this is a duplicated of https://github.com/conan-io/conan/issues/11749, closing it, please track the other issue. Thanks!

[2022-08-20 09:45] #11916 closed, assigned to memsharded

[2022-08-20 10:07] kambala-decapitator commented on #11402
@memsharded thank you very much for the explanation! Now it's fully clear.

[2022-08-20 10:09] memsharded opened #11923 "[question] apply_conandata_patches handling some types"
Current implementation is:
[code]
So it will silently skip ``patches`` field in conandata.yml with unexpected types? If the type is a string (possible user mistake), it will fail uglyly as considered ``Iterable``?

[2022-08-20 11:18] klausholstjacobsen commented on #11909
Yes, I might have left out important details due to missing knowledge. :-)

My consumer conanfile.txt basically looks like this:
[code]

It is in the conanfile.py of MyToolChainPackage that I wish to generate a file in the install dir of the consumer conanfile.txt.
The file to be generated is basically a cmake-toolchain file for the consumer project. This cmake-toolchain file must contain paths to

[2022-08-20 13:51] memsharded commented on #11909
Yes, I'd recommend a variant from idea 2:

- Have the toolchain package itself create as much as it can. It is the "expert" in the toolchain, so everything that can be encoded there the better. If it happens that for some reason there is something in the toolchain files that need an absolute path, and can't be coded as relocatable, leave it open (a placeholder, a variable...)
- Use a ``conanfile.p

[2022-08-20 20:10] jwillikers commented on #11836
Awesome, really glad to see this has landed!

[2022-08-20 20:50] Ahajha opened #11924 "[question/feature] Is it possible to upload recipe without creating?"
So to preface, this to me personally is a workaround for a missing feature in Gitlab's pipeline API, but I think it may have other uses.

For my org's usecase, we need to upload a recipe after we have verified it builds on all platforms. But we only upload the recipe, we never upload binaries. Due to Gitlab limitations that I won't go into detail on here(tl;dr we either have to up and download a l

[2022-08-21 12:13] klausholstjacobsen commented on #11909
Works like a charm, thank you.

To recap:
the host profile:
[code]
conanfile.py of MyToolChainPackage
[code]

Then from `generate(self)` in the consumer conanfile.py I can access `self.deps_env_info.CC`

I hope this is the correct way.

Bonus question:
Is there a way to access `MY_VAR` defined on the host profile from `generate(self)`in the consumer conanfile.py?

Rgds
Klaus

[2022-08-21 12:51] kambala-decapitator commented on #1330
I want to use some Apple system libraries (e.g. zlib, iconv) instead of using external versions. I created wrapper like this:

[code]

And in my project's `conanfile.py` I use it like this:

[code]

This works great with boost, for example:

[code]

But with libpng it doesn't -- the system library isn't propagated:

[code]

as you can see, `-lz` flag isn't passed.

I've inspected libpng's CMakeLis

[2022-08-21 14:00] boussaffawalid commented on #11918
@franramirez688 I tried it and it is just ignored

[2022-08-21 16:32] rconde01 opened #11925 "[bug] Cached login expires"
We use baselined VMs to do our build/test. During the vm configuration, we set the user/pass via `conan user` using a artifactory token which we set not expire (although this still shows 365 days expiration...but I digress). However, we are finding that the login still seems to expire (maybe after 30 days?). We can launch the baseline, login again using the same token, and then it continues to wor

[2022-08-21 19:48] memsharded commented on #11924
Hi @Ahajha

You can upload only the recipe doing a ``conan upload <pkg-ref>`` without providing the ``--all`` and without providing the ``-p`` it will not upload any binaries. So for example, doing a ``conan export ...`` + ``conan upload <ref> -r=myremote`` will upload only the recipe.

Yes, please note ``conan copy`` is deprecated and has been removed in 2.0. It is better not to use it. The recom

[2022-08-21 19:52] memsharded commented on #11909
Almost there :)

but still a small detail. You used the old, legacy environment management. I'd recommend:
- Use ``self.buildenv_info`` instead of ``self.env_info`` it is more powerful and expressive
- Use ``self.dependencies`` to access dependencies information instead of ``self.deps_cpp_info`` or ``self.deps_env_info``. Or use directly a pre-defined generator as ``VirtualBuildEnv`` to collect an

[2022-08-21 20:31] memsharded commented on #11925
Hi @rconde01

There are 2 tokens involved here:
- The server token you are using as "password" to auth
- A "jwt" token that is stored and cached to avoid using the main password or token over and over at every API request, which would be super annoying

The jwt had an issue in Artifactory and it never expired IIRC, so it was a security issue. Now it is defaulted to 30 days. I think this can also b

[2022-08-21 20:39] memsharded commented on #11918
This is weird. There are several tests in https://github.com/conan-io/conan/blob/develop/conans/test/integration/configuration/conf/test_conf_profile.py like https://github.com/conan-io/conan/blob/81d4fed6a98dc95640d8043a4390dc51832200b3/conans/test/integration/configuration/conf/test_conf_profile.py#L80 that seems to validate that this works

It seems you are missing the ``zlib*`` pattern. New ma

[2022-08-21 20:48] memsharded commented on #1330
Hi @kambala-decapitator

One of the important issues here is trying to use recipes from ConanCenter, that assumes that their transitive dependencies are other Conan packages, together with your own variants that implement the logic to depend on the system ones instead.

As a hint for other readers, it is necessary to be consistent, irrespective of the approach:
- If you make conditional logic to d

[2022-08-21 20:48] SpaceIm opened #11926 "[feature] `is_msvc`: add an argument to check compiler from `settings_build` instead of `settings`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

When `is_msvc` is used in `build_requirements`, it might mean under the hood a recipe logic related to compiler from build profile (for example here: https://github.com/conan-io/conan-center-index/blob/9fb9007dd2319906d3a5c1be9e60529f3ac02c66/recipes/gsoap/all/conanfile.py#L48-L56, wi

[2022-08-21 20:53] memsharded commented on #11926
And this is exactly what we were commenting the other day @jcar87

Still @SpaceIm  for a ``tool_requires``, the ``self.settings`` from its "host" received profile will be the "build" profile.
It is just in ConanCenter that the 2 profiles are not used yet that this not works properly.

[2022-08-21 21:04] SpaceIm commented on #11926
Thanks for the quick answer @memsharded

I've updated my issue with an example.

So let's say we have such code in a recipe:

[code]

The true logic I would like is:

[code]

Are you sure that there are equivalent. I know that `winflexbison`, `bison` & `flex` will be called with build profile, but I still think that the branching logic in the parent recipe is different in these 2 examples.

[2022-08-21 21:08] memsharded commented on #11926
Oh, now I see what you mean, is not in the dependency package itself, but to generate the condition.
Lets have a look and think what would be the best interface, as this will happen with other tools too, not only this one.

[2022-08-21 22:23] memsharded commented on #11702
Fixed in https://github.com/conan-io/conan/pull/11720

[2022-08-21 22:23] #11702 closed, assigned to lasote

[2022-08-22 04:49] Ahajha commented on #11924
This seems to be exactly what I'm looking for, I'm going to test that tomorrow and see how it goes, if it works I'll close this issue.

I was aware of `conan copy` being removed in 2.0, hence mentioning it. Kills two birds with one stone (actually I counted 5 internal issues that this would solve, it's quite a problem for us haha). One of my coworkers looked into the package promotions on Gitlab,

[2022-08-22 08:41] memsharded commented on #11848
A side note: Deciding to build or not to build tests recommended way is not using ``options``, but using ``conf``. There is a built-in conf ``tools.build:skip_tests`` that could be leveraged to implement this. The main difference is that ``conf`` by default is not part of the ``package_id``, and ``options`` are, so if we assume that tests are not packaged, that ``option.build_tests`` should be rem

[2022-08-22 09:25] SSE4 commented on #11867
for the record (probably, irrelevant for this issue), this behavior might be consuming for newcomers: having an empty method doing essentially nothing, but has some important side-effects. reference also currently says nothing about that "side-effect" :https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout
I personally would prefer something more explicit (like attribute or method

[2022-08-22 09:36] memsharded commented on #11760
- Use a better identifier: ``conan_version``
- It is a comparable ``Version`` object

Lets create a new issue for the ``traits`` args.

[2022-08-22 09:38] memsharded opened #11927 "[feature] Allow traits kwargs in ``self.requires()`` to allow 2.0 migrations"
From https://github.com/conan-io/conan/issues/11760, so the lambda is not necessary

[2022-08-22 09:39] boussaffawalid commented on #11918
First test:
[code]
==> Does not work

---
Second test:
[code]
==> It works

I seems like the order of config matters, per recipe config needs to be defined after global config.

[2022-08-22 09:48] memsharded commented on #11923
Lets force to be dict or list, or raise an error otherwise

[2022-08-22 09:55] czoido commented on #11781
Hi @magist3r,

Could you try defining the [layout()](https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout-folders-reference) feature? Did it work for you?

Thanks!

[2022-08-22 10:03] franramirez688 commented on #11918
Yes, it works as expected then.

[2022-08-22 10:05] #11918 closed, assigned to franramirez688

[2022-08-22 10:21] boussaffawalid commented on #11918
Maybe just update the documentation. Thanks.

[2022-08-22 10:26] czoido commented on #11848
Hi @Adnn,

Besides the previous comment, that would be the best approach to handle skipping tests in your recipes. The best way to pass the values of generic options to the toolchain is to explicitly cast the value of the option in the recipe. If you do:

- `str(self.options.myoption)` It will return the value of the option as a string and passed as a string to CMake
- `bool(self.options.myoption)

[2022-08-22 10:26] #11848 closed, assigned to czoido

[2022-08-22 11:02] SSE4 commented on #11923
I think it's not that "pythonic" to check for the specific types here, it would be better to just check if given type implements a trait/concept we need (like Iterable).
we shouldn't unnecessarily restrict users who like/need/want to write a generator/co-routine returning patches.

[2022-08-22 11:06] SSE4 commented on #11912
that might be better to change UX in v2 to return a list of libraries, just in case. on certain platforms, several libraries might be required in future (libc++, libc++abi, libsupc++, libc++fs, atomic and so on).

[2022-08-22 11:14] memsharded commented on #11797
Implemented in https://github.com/conan-io/conan/pull/11921, will be in 1.52.

[2022-08-22 11:14] #11797 closed, assigned to jcar87

[2022-08-22 11:19] Corristo commented on #11797
Wow that was quick. Thank you very much.

[2022-08-22 11:20] memsharded commented on #11923
@SSE4 ``def apply_conandata_patches(conanfile):`` takes the information always from ``conan_data``, so it cannot implement such generator or co-routine.

Besides that, the concept ``Iterable`` will be true for strings, and it will try to use every one of the characters of the string as an input, and produce an ugly and difficult to understand error message.

[2022-08-22 12:46] kambala-decapitator commented on #1330
@memsharded thank you for the explanation!

My use case is using Conan to install dependencies for an application. I think it's fine to use "local" overrides here, as there're no consumers of the "application package". But I fully agree that this is not the way to go when working on a package that should be consumed by the others: ideally, the system/package lib selection should be inside the offi

[2022-08-22 13:00] memsharded opened #11930 "[develop2] [feature] Considering embedding the ``--build-require`` in the recipe itself"
There is a difference in the UX:

- When a package recipe has a ``test_package``, and it defines ``self.build_requires(self.tested_reference_str)``, when doing ``conan create`` it will be evaluated as a build-require, in the build context with the build profile
- But ``conan create`` without ``test_package`` requires the ``--build-require`` argument to achieve the same behavior, and receiving the

[2022-08-22 14:56] #11760 closed, assigned to czoido

[2022-08-22 15:13] franramirez688 commented on #11910
Hi @SpaceIm

As you can read in this comment https://github.com/conan-io/conan/pull/11920#discussion_r951531831, there is nothing to improve here because the `package_folder` can change (depending on the local flow), and it has to be passed to the install always, so that `reconfigure` is necessary...

(Suggestion/Question) Maybe, it could be better in these cases to use the `copy()` function inste

[2022-08-22 15:19] eli-schwartz commented on #11910
But according to the original report, the cmake helper does not need to do any such thing? Why not?

[2022-08-22 15:47] jcar87 commented on #11910
CMake allows overriding the install prefix when calling the `cmake --install` command to perform the installation (docs [here](https://cmake.org/cmake/help/v3.24/manual/cmake.1.html#install-a-project)). This is what we use in the newer CMake integration.

With CMake-generated projects, one could also do `make install`/`ninja install` or `cmake --build . --target install`, and changing the `CMAKE_I

[2022-08-22 15:50] eli-schwartz commented on #11910
That's ***exactly*** why DESTDIR exists, because prefix is ***semantically*** information that can be embedded in compiled code, and DESTDIR is, semantically, not allowed to be embedded in compiled code.

[2022-08-22 18:46] jsallay opened #11932 "[feature] Revoke or Expire Login Tokens"
I have a use case where I am installing conan packages in a docker image.  In the docker file, we log into the remote (with credentials) and logout.  I am using docker build secrets, so I can ensure that the artifactory password is not leaked in the image.  However, it is more difficult to prevent the leaking of the login token.

My understanding is that when I run `conan user ...` or `conan remot

[2022-08-22 20:59] johnmcfarlane commented on #11299
@memsharded does support for CMakePresets go some way to addressing this issue?

[2022-08-22 21:40] memsharded commented on #11932
Hi @jsallay

Just a clarification. The token that Conan stores is a JWT token, exclusively for the Conan API, it is not a full artifactory access token/login token. Conan will never store a user password or access token, only the JWT token generated by the Conan server API.

Revoking tokens or defining of expiration time in the client seems challenging, as the client does not generate the tokens,

[2022-08-22 22:37] memsharded opened #11933 "Review Ninja, Bazel tests running in CI or not"
This is concerning. There are other tools, Ninja, Bazel (not defined in Linux), that would have a similar problem.
I think it was not the original intention to skip the test if the path was not defined, just to use the defined path in the cases it was defined.

We definitely need to review this.

_Originally posted by @memsharded in https://github.com/conan-io/conan/pull/11931#pullrequestreview-10

[2022-08-23 05:40] Ahajha commented on #11924
Everything seems to be working for us now, thanks for the help!

[2022-08-23 05:40] #11924 closed, assigned to memsharded

[2022-08-23 06:45] danimtb commented on #11801
yes. this is covered in the migration guide and it also happens with options. I think we can close this question as answered

[2022-08-23 06:45] #11801 closed, assigned to lasote

[2022-08-23 06:49] #11927 closed, assigned to memsharded

[2022-08-23 09:25] uilianries opened #11937 "[question] CMakeToolchain: When use cached_variables vs variables"
The documentation only explains `CMakeToolchain.variables` and `CMakeToolchain.cached_variables` features, one is better for multiple configuration and another is single configuration:

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#variables

But it's not clear when each one should be used, based on real examples.

So far, we are migrating recipes in CCI and t

[2022-08-23 09:27] Kaaml opened #11938 "[bug] libpq/14.2: Error in build() method, line 180 Windows 10, MinGW, Gcc 12.1"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MinGW 12.1
  * Conan version: 1.51.3
  * Python version: 3.9.8
Profile mingw:
[code]

### Steps to reproduce (Include if Applicable)
conan install libpq/14.2@ --build missing -pr mingw

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]
The sam is

[2022-08-23 09:32] #11825 closed, assigned to memsharded

[2022-08-23 09:33] memsharded commented on #11825
https://github.com/conan-io/conan/pull/11828 was merged, so this will be released in 1.52

[2022-08-23 09:39] #11239 closed, assigned to lasote

[2022-08-23 09:39] memsharded commented on #11239
https://github.com/conan-io/conan/pull/11908 merged, this will be in 1.52

[2022-08-23 09:48] memsharded commented on #11937
Do you have some examples of such variables? that would help also to learn about the use cases. I ask this question to myself when implementing things, and it typically depends on the variable itself.

[2022-08-23 10:05] foundry-markf commented on #11847
@dornbirndevelops Thanks! I hadn't spotted that in an earlier search as I wasn't using the `should_xyz` properties.

@memsharded Thanks too! I had completely forgotten about that tribe proposal (back in Feb '21) (which I did upvote!) that does mention improved IDE integration, which is what I was doing in this report (skip the build after configure, and load straight into Xcode/VisualStudio).

All

[2022-08-23 10:25] uilianries commented on #11937
Two real PRs which are open right now:

https://github.com/conan-io/conan-center-index/pull/12306/files#diff-f29aa6e3bc0d01b0d3ddf2d0a73179480c3f7e4b494be2a6785c95b1577c559cR79

https://github.com/conan-io/conan-center-index/pull/12326/files#diff-30c143c486109e8ef87666fdfc05fe43889e15121afa1addd541aa409c91ee95R132

[2022-08-23 10:45] lo1ol commented on #11753
Sorry for too late answer, I was at vocation)

I got you! Thanks!

[2022-08-23 10:45] #11753 closed, assigned to jcar87

[2022-08-23 11:11] jcar87 commented on #11840
We have seen other cases where variables defined in the toolchain file generated by Conan end up "conflicting" in some way if the variables are (re)defined by the project CMakeLists, in a way that it conflicts or overrides the value that was provided in the toolchain.

Defining them as cache variables directly in the toolchain file is a possibility, but it is still not equivalent to defining them

[2022-08-23 11:31] SpaceIm opened #11940 "[feature] Expose `self.dependencies` in all methods of conanfile called after `validate()`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In https://docs.conan.io/en/1.51/reference/conanfile/dependencies.html, there is:

So I'm submitting an issue to expose self.dependencies :)

Actually in this PR of `tinyspline` recipe https://github.com/conan-io/conan-center-index/pull/12323, I need to check an option value of tinysp

[2022-08-23 11:34] memsharded commented on #11940
This is impossible in 1.X, as the ``test_package->test()`` method is local, and it does not compute the dependency graph, so it cannot have ``self.dependencies``. Whatever you need to do it, use the ``generate()`` method of ``test_package/conanfile.py``, to save some files, and recover that information in the ``test()`` method.

[2022-08-23 11:39] SpaceIm commented on #11940
Ok, I'll find a workaround.

Does it mean than, except for `test()`, `self.dependencies` already works properly in other methods than `validate()` & `build()`, and documentation needs an update to list supported methods (and eventually if it needs CONAN_V2 mode or not)?

[2022-08-23 11:51] memsharded commented on #11940
``self.dependencies`` will be in post-graph built methods:
- ``generate()``
- ``validate()``
- ``package_id()``
- ``package_info()``
It will not be in pre-graph methods (not now, not in Conan 2.0, it is impossible by construction):
- ``configure()``
- ``config_options()``
- ``requirements()``, ``build_requirements()``
- ``init()``
It is not in methods that can execute locally (``build()``, ``test(

[2022-08-23 12:04] SpaceIm commented on #11940
Thanks, it's a useful information for conan v2 migration.

Isn't `build_requirements()` a post host graph built method?

[2022-08-23 12:17] jsallay commented on #11932
Thanks for the clarification about the JWT token.  I was assuming that it was storing the access token.  I had hoped that it would be easier since there is are curl commands for managing tokens in artifactory (.https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API?_gl=1*ig5gjv*_ga*NTc0MjM4MzcxLjE2Mjc1ODQ4NjU.*_ga_SQ1NR9VTFJ*MTY2MTE4MjYzMy42Ny4xLjE2NjExODMzNjQuNjAuMC4w#ArtifactoryREST

[2022-08-23 12:19] SpaceIm opened #11942 "[question] DRY vs self.info.options in validate() instead of self.options"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan v2, `validate()` must rely on `self.info.options` & `self.info.settings` instead `self.options` & `self.settings`.

How to avoid to repeat complex conditions with 2 different flavors in this case?

For example:

[code]

In conan v2, should it be updated to something like this

[2022-08-23 12:24] hannesa2 opened #11943 "[bug] opus/1.3.1 stopped working"
### Package and Environment Details

* Package Name/Version: **opus/1.3.1**
* Operating System+version: **Linux Ubuntu 18.04**
* Compiler+version: **GCC 8**
* Docker image: **hannesa2/alexa-auto-bionic-4:pr-1** https://github.com/hannesa2/alexa-auto-sdk-public/pull/1
* Conan version: **conan 1.50.0**
* Python version: **Python 2.7.17**

### Conan profile

_No response_

### Steps to reproduce

I u

[2022-08-23 12:24] Adnn commented on #11885
@memsharded Thank you for you quick response, and for even going further with usage recommendations and best practices. This is really appreciated!

### The multi-config issue
We can confirm it seemed to be a bug with Conan 1.51.1 which is fixed in 1.51.3 (basically, `./test.sh` from the minimal example repository now works as expected, each configuration in the IDE only linking against the corres

[2022-08-23 12:58] jcar87 commented on #11937
This has come up as well in other issues so I'll try to summarise.

* `CMakeToolchain.variables` are variables that are defined directly in the generated `conan_toolchain.cmake` file (with `set(VAR_NAME "var_value")`
* `CMakeToolchain.cache_variables` are defined in the generated CMakePresets file, and when Conan drives the build, are passed via `-D` variable definitions to the `cmake` command. Ad

[2022-08-23 13:04] Adnn opened #11944 "[question] Per-repository variable with CMakeToolchain and conan workspace"
We have adopted `conan workspace` at the center of our development workflow (most notably because it allows us to work seamlessly on any number of related repositories, without having to explicitly recompile each in order, which is a major win).

Until now, we were generating a custom cmake file from the `conanfile.py` recipe, this file being used to host our custom variables.
e.g.:

    def _gene

[2022-08-23 13:05] uilianries commented on #11937
Okay, we have an answer. I'll use it as recommendation for future PRs.

/cc @SpaceIm @jwillikers

[2022-08-23 13:09] SpaceIm commented on #11937
From what I've seen, they are passed as `set(VAR_NAME "var_value" CACHE <type> "Variable VAR_NAME conan-toolchain defined")` (https://github.com/conan-io/docs/issues/2689). So the new type `cache_variables` is quite misleading (it's cache_variables in CMakePresets terminology AFAIK). If they were not passed as `CACHE` variables, they couldn't override options until CMake >=3.13 policies. It's what

[2022-08-23 13:10] jwillikers commented on #11937
Yeah, that fits with why I was using them in the first place. @uilianries I'll update my PR's to use cache variables. Thanks for opening the issue.

[2022-08-23 13:14] uilianries commented on #11937
@jwillikers Sorry! 😓

[2022-08-23 14:48] #11777 closed, assigned to czoido

[2022-08-23 14:53] memsharded commented on #11777
Backport in https://github.com/conan-io/conan/pull/11936 merged, so this will be in next 1.52

[2022-08-23 15:16] paulocoutinhox commented on #11191
Hi @memsharded,

With the dependencies with conan v2 support this flags will work?

Thanks.

[2022-08-23 15:27] thesummer opened #11945 "[question] Cross-compilation with SCons and tool_requires"
I am trying to setup cross-compilation with SCons where Conan provides the cross-compiler as a binary package.
So, I have created a cross-compiler package which works fine with CMAKE when I add it as tool_requires and set the correct host profile.

For SCons however I am not sure how I can add the location of the cross-compiler binaries to the build environment.
The `SConscript_conan` file does no

[2022-08-23 15:31] memsharded commented on #11932
Yes, but it is not only that it is JWT, it is even if was a normal access token. Conan has its best integration with Artifactory, because Artifactory implements the Conan protocol. But such protocol is agnostic of the server, it cannot implement calls like that Curl call that will only work with Artifactory, and not the other servers, and it should be implemented in the Conan protocol via a new ht

[2022-08-23 15:37] memsharded commented on #11945
Hi @thesummer

Yes, you are right. SCons is one of the build systems that hasn't been modernized yet, and it doesn't have a new integration in 2.0.
This is a matter of user requests, and unfortunately SCons has not been requested yet. It will require to develop a new integration from scratch, which is not a small effort (specially because we are no experts in SCons), and we are already at full cap

[2022-08-23 15:43] jsallay commented on #11932
Thanks, now I understand.  That makes sense.  I have discovered that Artifactory has a vault plugin that produces short lived credentials which fits my use case.  https://github.com/jfrog/artifactory-secrets-plugin

I'll go ahead and close the issue.  Thanks.

[2022-08-23 15:43] #11932 closed, assigned to memsharded

[2022-08-23 15:51] memsharded commented on #11932
Thanks for the feedback!

[2022-08-23 16:19] #11905 closed, assigned to memsharded

[2022-08-23 16:21] franramirez688 commented on #11905
Closed by https://github.com/conan-io/conan/pull/11935.

It will be available in the next Conan 1.52.

[2022-08-23 16:26] #11843 closed, assigned to memsharded

[2022-08-23 16:26] franramirez688 commented on #11843
Closed by https://github.com/conan-io/conan/pull/11939.
It will be available in the next Conan 1.52.

[2022-08-23 17:46] kambala-decapitator commented on #11607
also stumbled on this, had a conversation on slack https://cpplang.slack.com/archives/C41CWV9HA/p1661246180811889

I experienced the following after having built deps in Release mode:

- if config of deps and app matches, then all builds fine
- when app config is RelWithDebInfo, then there's an error at app link step: https://pastebin.com/de3WqwVn
- when app config is Debug, then include dirs aren

[2022-08-23 21:13] memsharded commented on #11191
Hi @paulocoutinhox

You mean the new added confs?
[code]

Yes, they have been designed and added to stay in 2.0 too.

[2022-08-23 21:17] memsharded commented on #11940
No, it is resolved while resolving the graph (the graph also includes build-requires). ``self.dependencies`` cannot and shouldn't be used inside ``build_requirements()``

[2022-08-23 21:51] paulocoutinhox commented on #11191
I mean all the dependencies. With v2 and all dependencies converted to conan v2, will support these flags?

[2022-08-23 21:52] #11779 closed, assigned to lasote

[2022-08-23 22:23] JeffHough opened #11946 "[question] requirements in a new recipe gathered from conanfile.txt"
I'm rather new to conan (I've only been using it for a few days), so I hope this question doesn't have too obvious of an answer that I'm just missing:

I had an existing project (project A) that I'm now using conan to manage the dependencies for. It has the following `conanfile.txt`:
[code]

I would now like to create a second library (project B) which will depend on project A. So, I've started to

[2022-08-23 22:24] memsharded commented on #11191
That is the idea. We implement those confs in our built-in build system integrations. Still ConanCenter recipes sometimes are deviating from those built-in integrations and doing their own stuff, typically to workaround weird build system setups. It will be the responsibility of the recipes to correctly implement these ``confs`` mapping from Conan conf to the package build system, and some recipes

[2022-08-23 22:36] memsharded commented on #11946
Hi @JeffHough

First, some advice, try to use the modern integrations, ``CMakeToolchain`` and ``CMakeDeps``, instead of ``cmake_find_package`` (legacy), as those are the new ones that will survive in 2.0 (already in beta). Check https://docs.conan.io/en/latest/reference/conanfile/tools.html

Regarding your question, the recommended way is to fully drop the ``conanfile.txt`` in favor of ``conanfile

[2022-08-24 06:44] pcbk opened #11947 "[question] Use Release version of for other Configuration"
We have added another configuration that should use Release Packages, there is no need to build other version of packages, we just added extra logging flags to the added Config that should use Release packages.

We are using cmake_find_package_multi for windows/MSVC builds and when we build our own config there is no Includes or links set up since there is no: XYZTarget-myconf.cmake. How can I get

[2022-08-24 07:26] #5758 closed

[2022-08-24 07:40] hannesa2 commented on #11943
<img width="539" alt="image" src="https://user-images.githubusercontent.com/3314607/186355563-6297eef3-42e7-4a3d-87fd-aa34268411ea.png">

I see this warning during update from `1.50.0` to `1.50.2`, no clue if it's important or not
<img width="623" alt="image" src="https://user-images.githubusercontent.com/3314607/186356601-244b599d-9c78-4cb0-9a84-122941016df9.png">

.. but unfortunately, there is

[2022-08-24 07:57] uilianries opened #11948 "[bug] Tools collect_libs discards suffixes"
When porting the libpng project to Conan v2, the CCI hook complained that I lied about the library name in `self.cpp_info.libs`, which was supposed to be `["png16.a"]` (on Linux/Mac is `libpng16.a`).

The truth is, the libpng projects creates a relative symbolic link, named as `libpng.a`, so we have two files in `libdirs[0]`:  `libpng16.a` and its symlink `libpng.a`.

When writing the recipe, I av

[2022-08-24 08:07] memsharded commented on #11948
This seems related to the last changes that @SpaceIm did for not returning multiple results when symlinks.

[2022-08-24 08:12] memsharded commented on #11947
Hi @pcbk

When you install, you specify the packages you want to install with ``conan install ... -s build_type=Release``. That will make the dependencies to be Release packages. If you need the consumer to use a different type than the dependencies, you need to tell it something like: ``conan install ... -s &:build_type=MyConf``. Have you tried that?

[2022-08-24 08:19] pcbk commented on #11947
Hi, but I don't want to build all packages with Config MyConf, just want my project to use Config Release when building Config MyConf, so there is a:

set_property(TARGET gtest::gtest
             PROPERTY INTERFACE_LINK_LIBRARIES
             $<$<CONFIG:**MyConf**>:${gtest_LIBRARIES_TARGETS_**RELEASE**} ${gtest_OBJECTS_**RELEASE**}> APPEND)

genereated

[2022-08-24 08:26] uilianries commented on #11943
@hannesa2 please, move it again to Conan Center Index, as it's related to a recent package change, not a Conan client bug. Anyway, your bug template says **GCC 8**, but your small log shows a **clang** problem. Are you sure about your description? Please, share the entire command log, if possible, so we can compare the listed profile with your build result. You can remove/replace those lines which

[2022-08-24 08:45] SpaceIm commented on #11948
Indeed, I had to update 2 recipes (zziplib & openexr) as well to satisfy CCI hook, because `cpp_info.libs` was not accurate enough for some configurations.

[2022-08-24 08:52] memsharded commented on #11947
Dont worry about the name. The generated files contain the names of the **consumer** build type, because CMake is evaluated for the consumer build_type, not the dependencies. If you follow the paths defined in the files, the "MYCONF" configuration they will be pointing to the Release dependencies.

[2022-08-24 08:55] uilianries commented on #11948
Meanwhile, I'll use the symbolic link in `cpp_info.libs`. Otherwise, we will need to skip that CCI hook step.

[2022-08-24 08:57] #11865 closed, assigned to jcar87

[2022-08-24 08:57] memsharded commented on #11865
https://github.com/conan-io/conan/pull/11915 merged, will be in 1.52

[2022-08-24 09:12] SpaceIm commented on #11948
The hook is useful, but indeed https://github.com/conan-io/conan/pull/11527 broke it since it was relying on previous behavior of collect_libs where everything with .lib, .so, .a, .dylib extensions was collected (it's worth noting that this previous behavior didn't collect `.so.<version>` files). The hook should be updated to still being able to find all files under the `libdirs`, and be happy if

[2022-08-24 09:24] memsharded commented on #11948
I think that if a recipe has some relatively simple logic that makes explicit the name of the final libraries, that is much preferred over a ``collect_libs``. I know it is more effort on the recipe creator side, but following the python zen, explicit is better than implicit.

[2022-08-24 09:47] dmsurti opened #11950 "[question] Lockfiles experimental feature status?"
When do we expect Lockfiles to move out of experimental status? We are planning to use Lockfiles for reproducible builds so would appreciate any inputs on it and how frequent are the breaking changes if any?

Thanks!

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-08-24 09:55] pcbk commented on #11947
tried: conan install ../conanfile_windows.txt -s &:build_type=MyConf
get: conan install: error: argument -s/--settings: expected 1 argument
ERROR: Exiting with code: 2

[2022-08-24 09:56] mgaunard opened #11951 "[bug] export-pkg yields package ID of Package_ID_unknown in package_revision_mode"
I use a workflow where I put conanfile.py inside the source of my packages, and typically compile with the following workflow.
 - `mkdir -p build/release && cd build/release`
 - `conan install ../.. -s build_type=Release`
 - `conan build ../..`
 - `conan package ../..`
 - `conan export-pkg --package-folder=package`
 - `conan upload myproject/* --all -c` (this step is actually only done by the CI/C

[2022-08-24 10:10] pcbk commented on #11947
Now I got it to work! I added:
[code]
to the Profile file for MyConf and got a XYZTarget-myconf.cmake generated! Thanks!

[2022-08-24 10:10] #11947 closed, assigned to memsharded

[2022-08-24 10:37] memsharded commented on #11947
Great to know that it is working now!
The first error could be because of command line parsing, you can try quoting, like ``-s "&:build_type=MyConf" -s build_type=Release``. In any case, it is better to have things in profile files than in command line, so good job.

[2022-08-24 10:48] memsharded commented on #11951
Hi @mgaunard

This is not possible. The default mode applies to all packages, including those that come from ConanCenter. The result is that packages from ConanCenter will not have pre-compiled binaries available for that mode, and consumers of those packages will not be able to compute their ``package_id`` without first building new binaries for the dependencies, this is why it results in ``Packa

[2022-08-24 10:49] thesummer commented on #11945
@memsharded thanks for the quick response. I now implemented a work-around. I added the *virtualenv* generator and read the generated `environment.sh.env` with `dotenv_values` (from the *dotenv* package) in my SConscript. Then I can use the values of the environment variables to update the SCons environment.

One smaller issue is that *dotenv* doesn't like the `${PATH:+:$PATH}` expressions. It's n

[2022-08-24 10:56] memsharded commented on #11950
Hi @dmsurti

Lockfiles in 1.X are extremely unlikely to break now. They have been completely renovated in 2.0, because we are aware that lockfiles in 1.X can be quite challenging for advanced and complete Continuous Integration flows. They have been greatly simplified in 2.0, and we expect that they will also be more useful, flexible and powerful.

If you haven't adopted yet lockfiles, I'd probabl

[2022-08-24 11:06] #11926 closed, assigned to memsharded

[2022-08-24 11:07] danimtb opened #11952 "[bug] conan.tools.scm.Version cannot be used from conan.tools import"
Happens at least in conan 1.51.3 / 1.51.2 / 1.51.1 / 1.50.2 / 1.50.1 / 1.50.0

[code]

The workaround is easy as importing like this works fine:
[code]

However the `tools.scm.Version` should be possible for anyone to use it

[2022-08-24 11:12] memsharded commented on #11945
If it can be workarounded with environment, have you tried the new environment integrations in: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html? It is also recommended to use the ``generate()`` method to do tasks like "prepare" the build, it sounds like this operation belongs to ``generate()``.

[2022-08-24 11:28] memsharded commented on #11952
This is because ``tools`` is a package, not a module, and it doesn't automatically export all of its subpackages. It is not designed to be imported and used that way (if it is documented to be used that way, we should probably fix the docs), precisely to avoid importing a ton of tools that are not going to be used (that also increments Conan command startup time). Tools imports should be imported

[2022-08-24 11:33] czoido commented on #11827
Hi @jhzhangsnps,

Did using CONAN_USER_HOME solve your problem? I don't see clearly that this is a bug, as I can't reproduce it.
Would it be possible for you to provide a minimal reproducible example (maybe starting from a template like using something like `conan new mylib/1.0 -m=cmake_lib`) so I can try to reproduce?
Thanks a lot!

[2022-08-24 11:43] thesummer commented on #11945
Interesting I didn't know about this. Thanks.

If I understand it correctly, I should be able to prepare an environment file with only the few variables/paths I actually need.
And the structure can be kept quite simple, so I can read it with Python standard functions. Neat.

[2022-08-24 11:50] danimtb commented on #11952
`from conan import tools` works in other cases. See for example https://github.com/conan-io/conan-center-index/pull/12067

The only difference I see is that `Version` is a class instead of a function and it could be more difficult to use it from `tools` directly.

It is not a big deal, but there might be issues in the future as the import cannot be limited in the way the user does it and having th

[2022-08-24 12:01] johschmitz opened #11953 "[question] Conan 2.0 dependency (requirements) management concept"
I am not yet 100% familiar with the Conan 2.0 API so far I but also could not find extensive documentation on this particular topic so I want to ask this question and start a little discussion to see what details around dependency management have been considered in Conan 2.0.

So consider this list of the different requirement classes that we usually have to deal with (when Conan is used as build+

[2022-08-24 12:06] dmsurti commented on #11950
@memsharded Thanks for your inputs. Just as a user of conan and not a recipe author, do you think it can be useful to adopt/experiment Lockfiles now (we are currently using conan 1.51.3, the latest release) or is 2.0 release planned soon enough that it's worth the wait?

[2022-08-24 12:16] memsharded commented on #11952
It might eventually work for some things, not sure if the class/function is the difference, but it is not documented usage. In your PR to conan-center-index, it works by luck, but if you replicate your above, it will fail:
[code]
In that PR it works, because some other internal imports from ``from tools.cmake...`` are internally importing from ``tools.files`` and bringing that into the namespace,

[2022-08-24 12:25] memsharded commented on #11950
We have done already tons of alpha releases and we are in 2.0-beta.2, about to release 2.0-beta.3. So yes, 2.0 is close.

If you are only a consumer of packages, the basics of lockfiles doesn't change that much. You can definitely start experimenting and using them in 1.X for the consumer case, where they get more challenging is for the creating packages cases when lockfiles need to evolve and cha

[2022-08-24 12:31] memsharded commented on #11945
Yes, for example something like:

[code]

The nice things about the new integrations:
- They explicitly differentiate between build-time and run-time environment
- They have explicit constructs for paths vs non-paths variables
- They have explicit management of clear/append/prepend/define semantics
- They are more configurable and flexible
- They also merge environment vars from the profiles ``[bu

[2022-08-24 12:33] memsharded commented on #11953
Hi @johschmitz

Have you read this summary? https://docs.conan.io/en/2.0/whatsnew.html#new-graph-model

The first link is a video of a +1hr long talk about all these concepts. The other links are discussions in the Tribe where you can see some of the design decissions.

[2022-08-24 12:38] memsharded commented on #11952
Moving this to the docs, to explicitly clarify this.

[2022-08-24 12:44] dmsurti commented on #11950
perfect. thanks for the clarifications. I am closing this ticket now.

[2022-08-24 12:44] #11950 closed, assigned to memsharded

[2022-08-24 12:54] #11770 closed, assigned to nobody

[2022-08-24 12:54] #11923 closed, assigned to nobody

[2022-08-24 14:29] johschmitz commented on #11953
@memsharded Thx a lot for the answer, the trait approach (https://github.com/conan-io/tribe/blob/main/design/026-requirements_traits.md) and the package class approach (https://github.com/conan-io/tribe/blob/main/design/027-package_types.md) look promising for the problem at hand.

(Also now after reading this I am a bit concerned that the topic of build caching still does not seem to be a complet

[2022-08-24 16:42] mgaunard commented on #11951
Understood about `package_revision_mode`, you chose to remove it so it doesn't matter. You should reflect the documentation.

However, that doesn't change the bug report at all. As I said, the same sequence of operations with `CONAN_DEFAULT_PACKAGE_ID_MODE=recipe_revision_mode` instead of `CONAN_DEFAULT_PACKAGE_ID_MODE=package_revision_mode` doesn't work, the package ID doesn't change and always s

[2022-08-24 16:51] bowb opened #11956 "[bug] package default build static flag being ignored"
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 18.04
  * Compiler+version: GNU 9.4.0
  * Conan version: 1.51.3
  * Python version: 3.6.9

### Steps to reproduce (Include if Applicable)

conanfile.txt

[code]

The follow conanfie.txt aslo builds and links dynamically:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[

[2022-08-24 17:08] memsharded commented on #11951
There are different things here:

- You cannot just apply the ``CONAN_DEFAULT_PACKAGE_ID_MODE=package_revision_mode`` to the ``conan build``, ``conan package`` and ``conan export-pkg``. Whatever default package_id_mode you select has to be configured always, including the ``conan install``, otherwise you will not be able to consume this package later. The recommended way is using configuration in

[2022-08-24 17:27] memsharded commented on #11953
It is true that there is nothing explicit for build caching in Conan, but this is mainly because that part is way more connected to the build systems than to Conan. Conan 2.0 has added for example a plugin that can wrap any command run with ``self.run()`` in any recipe with a new command, which is a typical approach that some build tools like IncrediBuild follow. We are also aware of some users us

[2022-08-24 17:28] memsharded commented on #11956
Hi @bowb

This seems a ``thrift`` recipe issue, not a Conan client issue. I am transferring it to the ``conan-center-index`` repo, where this recipe is.

[2022-08-24 17:47] johschmitz commented on #11953
I would maybe leave this open for a while such that people with the same question find it more easily until there is a beta or final release of 2.0 Closed issues tend to be overlooked, hence my personal strategy for question issues is to leave them open for a while unlike solved bug issues.

I am going to open a new issue for the caching topic.

[2022-08-24 17:53] memsharded commented on #11953
There is already a beta 😅 . Actually we have already released 2.0-beta.1, 2.0-beta.2 and we are working in the 2.0-beta.3. The docs at https://docs.conan.io/en/2.0 are for the latest released beta.

[2022-08-24 17:59] brevzin opened #11958 "[question] Respecting compiler.libcxx abi setting"
I have the following conan profile:

[code]

Note that `compiler.libcxx` is the old ABI (`libstdc++`) and not the new ABI (`libstdc++11`). This is intentional. Also I'm specifying `cppstd=20`.

I then made a custom conanfile for `{fmt}`, which tries to package up fmt 9.0. That looks like, in its entirety:

[code]

When I try to go ahead and package this up, like say:

[code]

This does actually go

[2022-08-24 18:07] johschmitz commented on #11953
Okay good to know. When I see these version numbers I do wonder though if Conan 2.0 has full support for semver 2.0 version names/strings now? Like abc/1.23.0-beta.2@foo/bar

[2022-08-24 18:14] memsharded commented on #11953
Yes, though we went a bit further, we have implemented ourselves an extension to semver, that admits any number of digits (1.2.3.4.5), and also mixing letters (1.2.3.a-beta.2), because that was very requested by users. With 3 digits, it should be semver compatible (version ranges syntax might be not fully complete, but enough for most cases)

[2022-08-24 18:20] johschmitz commented on #11953
I see. Could you maybe add this extra bit of information/explanation about the version string to the summary link above under this section https://docs.conan.io/en/2.0/whatsnew.html#new-package-id
It was a bit unclear to me without your additional explanation.

Other than that I guess this issue is complete/done.

[2022-08-24 18:25] memsharded commented on #11958
Hi @brevzin

This would be a working "modern" recipe based on yours:
[code]

The changes are:
- Dropped global ``cppstd``, now it is a ``compiler.cppstd`` subsetting.
- Moved ``cmake.definitions`` to ``cmaketoolchain.variables``
- Used modern ``from conan.tools.scm import Git`` git helper, experimental, but 2.0-ready

This seems to work with ``conan create .``
A good starting point for recipes is

[2022-08-24 19:03] brevzin commented on #11958
Great! That does seem to work, and propagate through the relevant pieces. I then also changed `package_info` to do... this:

[code]

since `{fmt}` emits a `libfmt.a` in release mode but `libfmtd.a` in debug mode, and that... also seems to work. Right way to do that?

---

This is also kind of a separate question, but what is then the right way to pass all this same conan profile information (libst

[2022-08-24 19:23] memsharded commented on #11958
Yes, totally correct, that is what propagates to the consumers, via their generators (CMakeDeps, MSBuildDeps, PkgConfigDeps, AutotoolsDeps, etc), so the library can be correctly consumed by different build systems without users needing to think about the library name.

It seems that you are referring to the ``generators = "cmake"`` legacy integration. It shouldn't be used, using the ones in https:

[2022-08-25 06:05] jhzhangsnps commented on #11827
it works with ENV setting CONAN_USER_HOME.

I have provided a simple example to reproduce it in this thread. please look at the message above

[2022-08-25 06:19] czoido commented on #11827
Hi @jhzhangsnps,
I'm very glad that it worked. Yes, I tried to reproduce using the information in the thread but unless I'm missing something It did not fail for me. Providing something step-by-step is always easier to reproduce this kind of behavior. If that works for you now, and considering that we can't reproduce, l will close the issue but please feel free to reopen if you have more questions

[2022-08-25 07:02] jhzhangsnps commented on #11827
if your .conan is a symlink, it can be reproduced always
I don't think this ticket should be closed

[2022-08-25 07:20] czoido commented on #11827
Hi @jhzhangsnps,

Thanks for the feedback. Defining the Conan user home as a symlink is something that should not be done, if you want to set the location of the cache to other place than the user home, `CONAN_USER_HOME` is the correct way to do it. If that's the root of the problem I think we can't consider this as a bug, but a result of undefined behavior derived from setting that as a symlink.

[2022-08-25 07:20] #11827 closed, assigned to nobody

[2022-08-25 07:26] jhzhangsnps commented on #11827
@czoido, even if the .conan is not a symlink, the problem can happen if any dir in the path is a symlink.

and i don't understand the inconsistency to call realpath for the second parameter but not the first one.
python/venv/lib/python3.9/site-packages/conans/util/files.py(412)link_to_rel()
-> out_of_source = os.path.relpath(linkto, os.path.realpath(src)).startswith(".

[2022-08-25 08:49] goodtune commented on #11656
I have a slightly different use case to mention, and would consider it a powerful addition for corporate use.

Our company policy disallows the retrieval of source code _directly_ from external sites, however we do have an Artifactory instance that provides the VCS Repository, that allows us to retrieve tags or branches from hosted Git services, such as Github.

As an example, the `opentelemetry-c

[2022-08-25 09:42] memsharded opened #11959 "``validate()`` doesn't have access to dependencies ``package_folder``, only ``generate()`` does"
Because the definition of folders (``set_base_xxx()``) happen at "install" time. ``generate()`` runs post-install, but ``validate()`` runs pre-install.
Probably very risky to try to change in 1.X, and can be considered only for 2.0.

Test to reproduce:
[code]

[2022-08-25 10:20] #11933 closed, assigned to czoido

[2022-08-25 10:25] #11882 closed, assigned to memsharded

[2022-08-25 10:30] mgaunard commented on #11951
Different dependencies need different package ID modes for them. I need conancenter packages to use `semver_direct_mode` and my own packages to use `recipe_revision_mode`. I'm achieving this by keeping the default at `semver_direct_mode` and overriding it for my own `requires` in `package_id()`. Doing it the other way around causes more problems due to `build_requires` for which I cannot specify t

[2022-08-25 11:12] memsharded commented on #11951
That is fine, but you cannot change that by temporarily changing the global ``default_package_id_mode``. You have to select one global mode and attach to it. Then, the recipes that want to diverge from that default, should use the ``package_id()`` method to define how they depend on other packages. So basically what you want is to define your ``package_id()`` method in your recipes to define the m

[2022-08-25 14:18] johschmitz opened #11960 "[feature] Better build caching support in Conan 2.0 (as compared to 1.x)"
A topic that was always quite a weak point with Conan 1.x is the topic of build caching support. Obviously since Conan is not a full blown build system one may claim that Conan is also not fully responsible for this topic. Nevertheless it does have a very strong impact on the file system layout during build time and therefore should be held responsible for at least not preventing build caching or

[2022-08-25 14:29] memsharded commented on #11960
I'd also like to see something a bit more explicit about this point for 2.0.
But the first point is try to define how a succesful proof of concept looks like, define the basic requirments, UI, etc.
For example:
- What build systems need to be supported initially (i'd say only CMake?)
- How does the basic usage of ccache looks like in that build system, without Conan. Define a basic flow without Co

[2022-08-25 14:37] theartful opened #11961 "[feature] MesonToolchain custom binaries"
Meson can use the binaries section in the meson ini file for finding programs. See https://mesonbuild.com/Machine-files.html#binaries

Currently only a specific list of binaries are added `c, cpp, objc, objcpp, c_ld, cpp_ld, ar, strip, as, windres, pkgconfig`. It would be great if these were dictionary that allows any binary.

[2022-08-25 14:48] memsharded commented on #11961
Hi @hesham-essam

Sorry, but I don't know what you mean, and how it is related to Conan. Can you please put a full example of what you are suggesting? Starting with the ``conan hello/0.1 --template=meson_lib`` can be a good start for this.

[2022-08-25 14:56] theartful commented on #11961
MesonToolchain generates `conan_meson_native.ini`. This file consists of a number of sections. One of these sections is `[binaries]`, which specifies a number of programs for internal use of meson and for finding programs.

I would like not to edit the `PATH` environment variable for meson to find a specific executable, and instead provide it in the binaries section.
For example, if I have a meson

[2022-08-25 15:18] johschmitz commented on #11960
I will link this old tickets #1597, #7693 as a starting point.
Will need to look more into this and experiment to see how to combine build caching with Conan. I was actually hoping to find an opinionated solution within the Conan ecosystem which works well enough. As of now it still seems to be secret sauce knowledge though..

[2022-08-25 15:51] prince-chrismc opened #11962 "add the `PKG_CONFIG_PATH` via CMake build helper or even CMakeToolchain"
In https://github.com/conan-io/conan-center-index/pull/12241 there was some wonky code to get the pkg_config support in CMake to work with the new generators

Part of the conversation (and linking to the solutions) seems like it could be continued here

***

After digging deeper into it, I figured out that CMake is adding the suffix `lib/pkgconfig` to the `CMAKE_PREFIX_PATH` (pointing to the `pack

[2022-08-25 17:42] JeffHough commented on #11946
Hello @memsharded - thank you for the quick response.

I've been reading up on the documentation, and it seems to be working well for compiling project A. That is, I'm able to:
`cmake .. -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release` and everything builds perfectly.

However, it seems as though the cmake configuration flags that I set for the CMakeToolchain get ignored wh

[2022-08-25 17:47] memsharded commented on #11946
Hi @JeffHough

Yes, it seems you could be missing something in your ``build()`` method, like not using the modern ``from conan.tools.cmake import CMake`` that works together with ``CMakeToolchain``. If you want to share your ``conanfile.py``, we could have a look. Otherwise, the ``conan new hello/0.1 --template=cmake_lib`` (in an empty folder) is a good starting point of a project that works, you

[2022-08-25 17:52] JeffHough commented on #11946
@memsharded yes, that was it! I was still using `from conans import CMake`, rather than `from conan.tools.cmake import CMake`. I didn't realized there were two different `CMake` imports. I made the switch and the packaging is working well now.
Thanks for the help!

[2022-08-25 17:54] blackliner commented on #9383
@memsharded we are already using the file-download cache. My assumption is that its not the download cache that is the issue (that has proven to have a good concurrency capability in our CI, as we share the same download cache on the host node with multiple pods running concurrently), but the followup install process that first cleans the dir in the local cache, then unpacks the prebuilt binary an

[2022-08-25 17:55] #11946 closed, assigned to nobody

[2022-08-25 20:22] tamasbacsi opened #11963 "[bug] clipper 4.10.0 checksum mismatch"
Operating System+version: Archlinux up-to-date
Compiler+version: gcc (GCC) 12.2.0
Conan version: Conan version 1.51.3
Python version: Python 3.10.6

Hi,

On my freshly installed archlinux I installed python, created a pip env, installed conan in it.
Then I cloned a private git repository and tried to compile it, however I could not, because the checksum check for clipper 4.10.0 failed:

Installing

[2022-08-25 21:02] JeffHough opened #11964 "[question] cross compiling with existing cmake toolchain file"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I'm not 100% sure if this is a conan issue, or just a regular cmake issue:

I am trying to do cross-building using an existing toolchain file for a non-standard linux distro. The file looks like this:
[code]

From what I have read, the easiest way to do cross building is to create a c

[2022-08-25 22:00] memsharded commented on #11964
Hi @JeffHough

We would need to understand a bit better the dependency graph, who depends on who, and who depends on Eigen, etc.
Quick question: are you using the 2 profiles? The recommended way for cross-building is passing ``-pr:h=CrossCompile -pr:b=profilebuild``. This will be by default in 2.0, but now in 1.X it is necessary to explicitly say ``-pr:b=xxx`` and pass a profile for the build mach

[2022-08-25 22:05] memsharded commented on #11963
Hi @tamasbacsi

It could be 2 things:
- A bug in the Conan recipe
- Someone really tampered, or modified the ``clipper_ver4.10.0.zip`` file

I will transfer this to the ``conan-center-index`` repo, because it doesnt seem a Conan client issue.

It is not possible to bypass this mechanism without modifying the clipper conanfile.py recipe. This is a security measurement, if the checksum doesn't match

[2022-08-25 22:06] memsharded commented on #11946
Happy to hear that it is working now! 😃

[2022-08-25 22:21] memsharded commented on #11953
Yes, we are writing new docs from scratch for 2.0, this will hopefully be improved there directly
Thanks!

[2022-08-25 22:21] #11953 closed, assigned to memsharded

[2022-08-25 22:40] #191 closed

[2022-08-25 22:42] memsharded commented on #1423
Closing this as inactive

[2022-08-25 22:42] #1423 closed

[2022-08-25 22:43] memsharded commented on #1375
obsoleted tools, new ones in https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html

[2022-08-25 22:43] #1375 closed

[2022-08-25 22:47] memsharded commented on #1374
Conan 2.0 has added a .conanrc file with a variable that can define CONAN_HOME, to configure the home per project, setting the home in profiles didn't look the right approach

Also, packages can be edited now directly in user space with ``editables`` no need to put them in the cache.

Closing as inactive.

[2022-08-25 22:47] #1374 closed

[2022-08-25 22:49] memsharded commented on #1412
we added long time ago .dirty flags in different parts ofthe process to identify and clean incomplete things. Closing this as implemented.

[2022-08-25 22:49] #1412 closed

[2022-08-25 22:51] memsharded commented on #1414
Conan 2.0 implement custom commands, it should be relative straightforward to implement this, and it doesn't seem that having this built-in in Conan was worth the effort, closing.

[2022-08-25 22:51] #1414 closed

[2022-08-25 22:52] memsharded commented on #1318
This integration is legacy, closing.
The new CMakeDeps should be used, please report against it.

[2022-08-25 22:52] #1318 closed

[2022-08-25 22:55] memsharded commented on #1706
The management of environment now is done with new tools (https://docs.conan.io/en/latest/reference/conanfile/tools/env.html), closing this as legacy

[2022-08-25 22:55] #1706 closed

[2022-08-25 22:56] memsharded commented on #7358
The management of environment now is done with new tools (https://docs.conan.io/en/latest/reference/conanfile/tools/env.html), vcvars_dict is deprecated, closing this as legacy

[2022-08-25 22:56] #7358 closed, assigned to memsharded

[2022-08-25 22:58] memsharded commented on #1575
The management of environment now is done with new tools (https://docs.conan.io/en/latest/reference/conanfile/tools/env.html), closing this as legacy

[2022-08-25 22:58] #1575 closed

[2022-08-25 22:59] memsharded commented on #1499
We are finally adding a documented API in 2.0: https://docs.conan.io/en/2.0/reference/python_api.html

Closing this as inactive

[2022-08-25 22:59] #1499 closed

[2022-08-25 23:00] memsharded commented on #2402
the new CMakeToolchain should handle this now

[2022-08-25 23:00] #2402 closed

[2022-08-25 23:02] memsharded commented on #2307
Closing this as inactive and old.

Conan 2.0 has finally dropped the node-semver dependency. Conan 1.X has also already dropped py27 support

[2022-08-25 23:02] #2307 closed

[2022-08-25 23:02] memsharded commented on #2304
``cmake`` generator integration superseded by CMakeToolchain and CMakeDeps

[2022-08-25 23:02] #2304 closed

[2022-08-25 23:04] memsharded commented on #2595
This integration has been superseded by https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html, closing.

[2022-08-25 23:04] #2595 closed

[2022-08-25 23:05] memsharded commented on #2572
Conan 2.0 now always compute the full graph, including build-requires, and those are included in build-order too.

[2022-08-25 23:05] #2572 closed

[2022-08-25 23:06] #2548 closed

[2022-08-25 23:07] #2521 closed

[2022-08-25 23:17] memsharded commented on #2735
A lot has changed since this, cross-building is done with a new paradigm of 2 profiles (build/host), recipes in ConanCenter have improved to support cross-compilation (in some cases, not all recipes), and there are modern build system integrations a bit more prepared for this.

Even though, it is not expected that every recipe in ConanCenter, that use wildly different build systems, not always cma

[2022-08-25 23:17] #2735 closed

[2022-08-25 23:18] memsharded commented on #2710
``cmake_multi`` has been replaced by ``CMakeToolchain``, closing this

[2022-08-25 23:18] #2710 closed

[2022-08-25 23:19] memsharded commented on #2630
bintray closed long time ago

[2022-08-25 23:19] #2630 closed

[2022-08-25 23:20] memsharded commented on #3016
Doable with https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html

[2022-08-25 23:20] #3016 closed

[2022-08-25 23:23] memsharded commented on #2913
ConanCenter was moved from https://conan.bintray.com, to a new location and infrastructure, hopefully this problem should be gone now

[2022-08-25 23:23] #2913 closed

[2022-08-25 23:26] memsharded commented on #3148
``cmake_find_package`` superseded by ``CMakeDeps`` and ``CMakeToolchain`` integrations

[2022-08-25 23:26] #3148 closed

[2022-08-25 23:28] memsharded commented on #3078
AutoToolsBuildEnvironment deprecated in favor of https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html tools

[2022-08-25 23:28] #3078 closed

[2022-08-25 23:30] memsharded commented on #3321
No longer an issue with MSBuildDeps integration

[2022-08-25 23:30] #3321 closed

[2022-08-25 23:32] memsharded commented on #3315
Conan 2.0 is always lowercase, and this has been forced in ConanCenter for years now.

[2022-08-25 23:32] #3315 closed

[2022-08-25 23:35] memsharded commented on #3493
``self.copy`` has been replaced by a more focused ``copy()``, but still for huge trees, it will be slow. Recommended way will still be custom user copies with shutil or similar. Closing this as inactive.

[2022-08-25 23:35] #3493 closed

[2022-08-25 23:36] memsharded commented on #3463
Conan 2.0 is always-lowercase, and that has been also enforced in ConanCenter for years now.

[2022-08-25 23:36] #3463 closed

[2022-08-25 23:37] memsharded commented on #3347
There is a whole new approach, using ``layout()`` method to define packages layouts, closing this as legacy and inactive.

[2022-08-25 23:37] #3347 closed

[2022-08-25 23:38] memsharded commented on #3338
``scm`` object deprecated in favor of https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html, closing this as inactive

[2022-08-25 23:38] #3338 closed

[2022-08-25 23:40] memsharded commented on #3617
There is a new way to define package layouts: https://docs.conan.io/en/latest/developing_packages/package_layout.html#package-layout

Closing this as inactive

[2022-08-25 23:40] #3617 closed

[2022-08-25 23:42] memsharded commented on #3591
Two explicit ``export()`` and ``export_sources()`` methods were added to recipes to allow more flexibility and control over what is exported and from where, including parent folders, more easily. Closing this as solved by those methods.

[2022-08-25 23:42] #3591 closed

[2022-08-25 23:43] #3566 closed

[2022-08-25 23:43] #3826 closed

[2022-08-25 23:44] memsharded commented on #3808
``cmake_find_package`` deprecated in favor of ``CMakeDeps``

[2022-08-25 23:44] #3808 closed

[2022-08-25 23:45] #3764 closed

[2022-08-25 23:48] memsharded commented on #3720
the python api will be released in 2.0, publicly documented, and stabilized in 2.X

[2022-08-25 23:48] #3720 closed

[2022-08-25 23:49] #4067 closed

[2022-08-25 23:51] memsharded commented on #3932
Not worth it, as not possible in conanfile.py, would be very limited to conanfile.txt, just to avoid editing a file.

[2022-08-25 23:51] #3932 closed

[2022-08-25 23:52] memsharded commented on #3938
Conan 2.0 implement deployers to do whatever deployment task is desired

[2022-08-25 23:52] #3938 closed

[2022-08-25 23:54] #4225 closed

[2022-08-26 05:57] klausholstjacobsen opened #11965 "Installing openssl-1.1.1q: "certificate verify failed: unable to get local issuer certificate""
Hello
conan client 1.50.2
OS: Ubuntu 22.04.1 WSL

When trying to install openssl-1.1.1q i get this error:
[code]

When trying `wget  https://www.openssl.org/source/openssl-1.1.1q.tar.gz` the file is received as expected.
I am on a coorporate network behind zscaler, but as wget works I expect that is not the problem here.

What could be wrong?

Rgds
Klaus

[2022-08-26 07:10] jcar87 commented on #11964
Hi @JeffHough  -

Could you try commenting the following lines out?

[code]

In particular the last one may interfere with `find_package` calls. Setting it to `ONLY` causes CMake to "re-root" the search path to the `CMAKE_SYSROOT` defined in the toolchain - so CMake will not consider other locations. You may have better luck setting it to `NEVER` or `BOTH` (but the correct one will largely depend

[2022-08-26 08:42] memsharded commented on #11965
Yes, this is typically a zscaler configuration issue. We have experienced this ourselves, and was solved by IT adding the configuration to zscaler. It is possible that in your case there is already some configuration exception explicitly for wget

[2022-08-26 08:55] klausholstjacobsen commented on #11965
Thansk for the info.
What do you exactly mean by "adding the configuration to zscaler"?
What should I exactly ask my IT to add to the zscaler configuration?

[2022-08-26 09:15] memsharded commented on #11965
We send them the URL, like ``https://www.openssl.org/`` to make the exception.

[2022-08-26 09:38] anton-danielsson commented on #10544
We are having the same issue. This means we can't use lock files. It's `protobuf` that is our culprit.

[2022-08-26 10:05] klausholstjacobsen commented on #11965
Are we this problem is about adding https::www.openssl.org to a whitelist.
The error I am seeing is "unable to get local issuer certificate".
To me that indicates that another certificate store is used than the one installed on the system.
I do have the zscaler root certificate installed in /etc/ssl/certs

Downloading the file manually with python also works fine;
[code]

Could this be an issue wi

[2022-08-26 10:21] memsharded commented on #11965
Uhmm, is it possible that you have still a legacy cert in your system? Can you please make sure to remove the ``cacert.pem`` file in your Conan cache and retry?

[2022-08-26 10:26] kambala-decapitator commented on #11607
FYI I've just found that this actually works with the "legacy" cmake generators:

    generators = "cmake_find_package", "cmake_paths"

Also just tried the workaround offered by @666melkor666 and it works!

[2022-08-26 11:45] klausholstjacobsen commented on #11965
SUCCESS!!!!!!!!!!!!!!

There was a cacert.pem file in the .conan dir.
Removed it....it didn't help.

Created a symlink to the system certificate store `ln -s /etc/ssl/certs/ca-certificates.crt $HOME/.conan/cacert.pem` and presto, conan could download the file.

Is this symlink the way forward or is there a better way to get conan to use certificates installed on the system?

[2022-08-26 11:47] memsharded commented on #11965
Excellent!!! 👏

I think it is in your case and while in Conan 1.X. Maybe you have some custom certificates installed in your machine?

Conan 2.0 has already removed this file, so the system ones should automatically work without issues.

[2022-08-26 11:53] klausholstjacobsen commented on #11965
Yes, I have custom certificates installed.
I will stick with the symlink approach for now.

Thx!

[2022-08-26 11:53] #11965 closed, assigned to memsharded

[2022-08-26 15:44] JeffHough commented on #11964
@jcar87 @memsharded  Ahh yes, those flags are definitely the problem, makes a lot of sense (I had been setting those flags based on recommended settings without giving them too much thought). Thanks for the help!

For cross-compiling purposes, those flags are definitely there for a reason however (don't want to accidentally link with system libraries for example). I haven't run into any issues yet

[2022-08-26 16:53] uilianries opened #11966 "[feature] MSBuild add targets parameter again"
The new [MSBuild](https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#msbuild) didn't port `targets` attribute from old [MSBuild](https://docs.conan.io/en/latest/reference/build_helpers/visual_studio.html#build).

Motivation: I started to port [xz_utils](https://github.com/conan-io/conan-center-index/pull/12308) recipe and it comes with .sln files, and when need to build stati

[2022-08-26 16:57] uilianries opened #11967 "[feature] MSBuild add upgrade_project again"
Continuing https://github.com/conan-io/conan/issues/11966

The new [MSBuild](https://docs.conan.io/en/latest/reference/conanfile/tools/microsoft.html#msbuild) didn't port `upgrade_project` attribute from old [MSBuild](https://docs.conan.io/en/latest/reference/build_helpers/visual_studio.html#build).

Motivation: I started to port [xz_utils](https://github.com/conan-io/conan-center-index/pull/12308

[2022-08-26 17:54] memsharded commented on #11967
I didn't like very much the default previous ``True``, that was running a ``devenv /upgrade`` always, and it had to add an env-var to disable it, but that would be global with its own disadvantages. I don't think that is the expectation from most users that use MSBuild for their own projects.

I am thinking of making it an opt-in method to ``MSBuildToolchain``, to be called ``MSBuildToolchain.upda

[2022-08-26 21:16] SpaceIm opened #11969 "[feature] Port `conans.tools.get_env()` to `conan.tools.env`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

It's widely used in conan-center recipes (more than 10% of recipes).

[2022-08-27 10:35] memsharded commented on #11674
yes, the build executed by the ``build()`` method happens in a "build" folder in the cache.
The ``package()`` method has the responsibility of copying the desired package artifacts from the "build" folder to the "package" folder. This can be done in different ways:
- With something like ``CMake()`` install method ``cmake.install()`` in the ``package()`` method, if the CMakeLists.txt contains corre

[2022-08-27 11:22] cchulo opened #11970 "[bug] EndeavourOS not among list of distros listed for pacman support"
### Environment Details (include every applicable attribute)
  * Operating System+version: EndeavourOS 2022.06.23
  * Compiler+version: Clang 14.0.6
  * Conan version: 1.51.3
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)
In a python interpreter
[code]

We need to add `endeavouros` to this [line](https://github.com/conan-io/conan/blob/develop/conans/client/tools/oss.py#

[2022-08-27 11:34] cchulo commented on #11970
imo, it feels a bit cumbersome to have to list out distros, couldn't it use `shutil` instead?

The check could be something like:

[code]
This will then take care of any flavor of Arch in the future, only requirement is shutil is only available in python 3.3+, if there is a need for compatibility with all of python3, you could add a custom which command as found [here](https://stackoverflow.com/a/

[2022-08-27 11:39] memsharded commented on #11970
Hi @cchulo

There is a difference in a tool being installed in the system, and users really wanting to run that tool. It is not impossible to have a pacman executable in your Linux system that is the pacman videogame (for other distros), for example.

Also Conan will try in general not having to guess. So what it has is defined a common default mapping of OS-system package managers. If you want to

[2022-08-27 11:46] cchulo commented on #11970
@memsharded ah that is a good point, I had not considered that

Your proposed solution should work, I will try it. I will create a pull request anyway to include this string addition.

[2022-08-27 11:51] memsharded commented on #11970
Yeah, we have learned from experience, some distros containing more than one system package manager, and then everything was a mess, distros with matching applications that were no system package managers... the only way was to allow users to explicitly define the tool they want (besides a hardcoded default for most common distros)

[2022-08-27 12:24] cchulo commented on #11970
@memsharded thank you very much for the guidance, running my installation script worked with these additional options:

[code]

[2022-08-27 15:45] SpaceIm opened #11972 "[question] layout: Is there a property to get the "base build dir"?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan-center recipes, I like to keep source files from libraries properly isolated in a subdir (usually called `src` to keep the name short) to achieve true out-of-source build, and avoid any risk of collision:

[code]

But in several recipes, a CMakeLists.txt is also provided by t

[2022-08-28 09:34] LukeSkyw opened #11973 "[bug] Cannot use boost with conan 2.0.0-beta2"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04.1 LTS
  * Compiler+version: gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0
  * Conan version: 2.0.0-beta2
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
In a you conanfile.py:
[code]
Then, in your cli:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicab

[2022-08-28 10:06] SpaceIm opened #11974 "[bug] `buildenv_info` of `tool_requires` from host profile are not automatically injected to "build scope""
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: Apple Clang 13
  * Conan version: 1.51.3
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- Create a recipe A intended to be used as a build requirement, and inject a `FOO` env variable with some custom value (like "conan") in `self.buildenv_inf

[2022-08-28 13:21] jellespijker opened #11975 "[bug] conf_info 'tools.microsoft.bash:subsystem' from msys2 is not used by Autotools in test_package"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: MSVC 17
  * Conan version: 1.51.3
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

Trying to modernize the autoconf recipe of the conan-center-index I get the error

[code]
while a log output shows that the conf is set and available:
[code]

See htt

[2022-08-28 21:05] memsharded commented on #11974
this is the part that is missing.
The new integrations, declaring ``buildenv_info`` requires the consumers in 1.X to either:
- Explicitly declare ``VirtualBuildEnv`` , to generate the new environment files
- Use the new conf ``tools.env.virtualenv:auto_use=True`` to not need to explicitly declare the ``VirtualBuildEnv``, emulating the future Conan 2.0 behavior

This done this way, as opt-in, becau

[2022-08-28 21:08] memsharded commented on #11973
Hi @LukeSkyw

This is expected, and not a bug in Conan 2.0-beta
Recipes in ConanCenter have not been upgraded yet to 2.0-beta, this is an ongoing effort. If you read the 2.0 docs, like in https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html

(it is likely that boost is still not there in that experimental repository)

[2022-08-28 21:30] memsharded commented on #11972
This was a pattern used to inject more easily the ``include(.../conanbuildinfo.cmake)`` than patching the original CMakeLists.
Are there still cases of this pattern still useful for new CMakeDeps generators? I think that probably this should be avoided if possible in the first place.

Then, if a source of the project is in the root, then it seems that making ``src`` the source folder is not the ri

[2022-08-28 21:45] memsharded commented on #11969
I'd say not to port this at the moment, because using it in recipes could be hiding things that will not work correctly.

I have been checking usage in recipes, and, out of 254 occurrences:
- 135 are ``tools.get_env("CONAN_BASH_PATH")``. This env-var does not exist anymore in 2.0
- 4 are Android related, like ANDROID_NDK_HOME, which now there are confs like ``tools.android:ndk_path`` to be used
-

[2022-08-28 22:03] SpaceIm commented on #11972
There are still recipes where it's desirable to have a proper separation between source code extracted from a tarball and this CMakeLists: when source code doesn't provide a build system or if the one provided is not cross-platform and so broken that it's not worth the effort to patch it (basically when not under control of recipe author), there are several recipes like this in conancenter. And I

[2022-08-28 22:14] SpaceIm commented on #11969
I understand the rational.

But if a recipe can't check anymore these variables, it can break users expecting these variables to be honored in a cross-compatible v1/v2 recipe (during the transition). It already happened indirectly to folks using recipes like `emsdk` & `android-ndk` in conancenter, when recipes they were relying on have been migrated to `CMakeToolchain`, while `emsdk` & `android-nd

[2022-08-29 06:16] LukeSkyw commented on #11973
@memsharded thanks for the quick response. Indeed I figured it was a little early. May I suggest adding a mention in https://docs.conan.io/en/latest/conan_v2.html about that problem? This is the first documentation I found when looking for Conan 2 help.

Is there an equivalent "conan center" for v2? This documentation https://docs.conan.io/en/2.0/introduction.html points to the current center whic

[2022-08-29 08:07] uilianries commented on #11967
@memsharded Yes, it sounds good, as it's a single usage option and it's more related to generate than msvc commands.

[2022-08-29 10:12] memsharded commented on #11967
It doesn't seem that natural to run this in the ``generate()`` method as part of ``MSBuildToolchain``.
I am checking the implementation, and happens to be trivial:

[code]

I think this can be implemented in recipes directly without issues:
[code]

I think this should be enough atm for ConanCenter recipes, and if we receive further feedback from other users regarding this feature, we would reconsi

[2022-08-29 11:02] memsharded commented on #11529
Hi @CD3

This is the typical ``xxxxConfig.cmake`` generated by CMake ``install(EXPORT ...``:

[code]

As you can see, this will make your proposed mechanism fail. The different ``xxxConfig.cmake`` files for different build types cannot be ``include()``.

This is not directly related, but be aware that there are other issues with the packaged ``xxxConfig.cmake``, like the ``_IMPORT_PREFIX`` being a

[2022-08-29 11:53] #11966 closed, assigned to memsharded

[2022-08-29 13:50] SSE4 commented on #11969
how about something like?
[code]

[2022-08-29 14:00] SpaceIm commented on #11969
It's exactly what I had in mind. If someone is in conan v1 mode, fallack to conan v1 equivalent if conan v2 stuff is not set (or the opposite, I don't know).

[2022-08-29 15:00] himansu2906 opened #11976 "Automating conan package build process based on source code change of library."
Is there any specific flow present to automate whole flow of creation of conan package?

**Scenario**: while creating a project build, if git recognize changes in the the source code of library, it should automatically create new version of package and upload it to conan server as well for future use.

[2022-08-29 15:12] memsharded commented on #11976
Hi @himansu2906

This is a typical CI flow, not a Conan one. There are 2 possible scenarios:

- If the recipe conanfile.py is in the source repo (to package your own libraries), then your own CI will detect whatever event you decide (like a new release tag), and use it to do the ``conan create . <version>@`` in your CI
- If your conanfile.py is in another repo, you need some kind of subscribing me

[2022-08-29 16:03] memsharded commented on #11969
In any case, the ``tools.get_env()`` was only providing some (very basic) value if there were arguments that could be float, ints, etc. As basically all arguments that I am seeing are strings, I'd replace it for a python ``os.getenv()``

[2022-08-29 16:20] uilianries commented on #11967
What about VirtualBuildEnv? Does it require `conanbuild` env by default?

[2022-08-29 16:27] memsharded commented on #11967
``self.run()`` defaults to ``self.run(..., env=["conanbuild.bat|sh"])``, being ``conanbuildenv`` script generated by ``VirtualBuildEnv``, and automatically added to ``conanbuild`` aggregator. So as long as ``self.run()`` is executed after ``generate()`` of ``VirtualBuildEnv`` (explicit or implicit via ``auto_use`` conf), it should work

[2022-08-29 21:55] memsharded opened #11978 "[develop2] deployers that could run after generators"
Lets say that we want to relativize all paths in generated files from CMakeDeps, so we get a relocatable folder with all we need. There are 2 options:
- Make the ``CMakeDeps`` automatically relativize paths when possible
- Run something **after** the generators that relativize paths in files

the problem is that deployers run always before generators (so they can change the base folders, so genera

[2022-08-30 06:01] SSE4 commented on #11969
unfortunately, pure `os.getenv()` wouldn't be a drop-in-replacement, for several reasons:
- it won't read from `VirtualBuildEnv` (cases of `xxxFLAGS` and `AUTORECONF`)
- it won't read from `conf` (cases of `ANDROID_NDK_HOME` and `CONAN_BASH_PATH`)

as a result, switching to `os.getenv()` in recipes will cause breakages for consumers.

[2022-08-30 07:18] maitrey commented on #11900
Hi James, Sorry for the late reply. It works but in the end also gives an error:
ERROR: No package matching 'test' pattern found.

[2022-08-30 07:52] maitrey commented on #11674
Hello @memsharded ,
Sorry for hijacking your issue.
We use the same compiler ,
Do you see any potential issues if we define the profiles like this:
`target_host=C:/hightec_ifx/bin/tricore
standalone_toolchain=C:/hightec_ifx/
cc_compiler=tricore-gcc

[settings]
os=RTAOS
arch=tc39xx
arch_build=x86_64
compiler=tricore-gcc
build_type=Release

[env]
PATH=[$standalone_toolchain/bin]
CC=$target_host-gcc.

[2022-08-30 08:03] memsharded commented on #11900
Are you sure that you have a ``test/version..`` package? Can you try with ``--dry-build=test*`` instead?

[2022-08-30 08:06] memsharded commented on #11674
I don't see any apparent issue, if it works for you, besides using the legacy ``[env]`` management instead of the new integrations, that you should use to be 2.0 ready:
- New environment management via ``[buildenv]`` and ``VirtualBuildEnv``
- New passing of flags to new generators like CMakeToolchain, there is new ``conf`` like ``tools.build:cflags``. In this case if only using this compiler, the

[2022-08-30 08:20] jellespijker opened #11980 "[bug] paths for environment files are not formatted for subsystem when run in win_bash on Windows"
The `wrapped_user_cmd` in the `subsystems.py` doesn't take the subsystem into account, for the environment `.sh` files after the bash statement

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: N/A
  * Conan version: 1.50.1 (and dev)
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
Run the `create`

[2022-08-30 08:21] jellespijker commented on #11980
Should be a simple enough fix, will open up a PR for this

[2022-08-30 08:36] maitrey commented on #11674
It so far works for me . Actually sometime back in another issue, I requested to update the documentation for build env and runtime env which was mentioned as new feature in 2.0. See here:  https://github.com/conan-io/conan/issues/11499#issuecomment-1165447155 . And I still cannot find it. Perhaps I am missing checking , could you please be kind to forward me the exact link ?

[2022-08-30 08:46] memsharded commented on #11674
Yes, we are going to add some more docs for exactly this in 1.52 release soon.

[2022-08-30 08:55] maitrey commented on #11674
Sorry to bother you again : One more additional question would be : How are profiles handling absolute and relative linking ? Thanks in advance for answering my question. Its probably even a cmake question as LDFLAGS is an environment variable in cmake. We have both absolute linking and relative linking as we have execute in place microcontroller.

[2022-08-30 08:57] memsharded commented on #11674
This is not something handled by profiles, it depends on compiler, build systems, etc. Note that CMake does not necessarily always listen to env-vars (maybe only with Makefiles generators?). You can define user ``conf`` if you need it, or maybe it is something that you want to create custom settings to model it, and then pass that setting to your build scripts. But Conan doesn't have anything buil

[2022-08-30 09:15] JackCarterSmith commented on #11863
Same problem in there with zlib cross-building Linux->Windows using MinGW 9.3

This 2 profiles methods work, I can confirm. Set **default** as the auto-generated conan config for the "real" host and **linux_to_win64** as the target system (aka. Windows with MinGW)

[2022-08-30 09:53] Tumb1eweed opened #11982 "[bug] tools.collect_libs can't collect static lib"

[2022-08-30 09:58] #11982 closed, assigned to nobody

[2022-08-30 10:22] uilianries commented on #11967
@memsharded Excellent then. I would be great an example on docs.conan.io, just in case people arrive to the same situation.

[2022-08-30 10:25] jellespijker commented on #11861
Came across that same issue, I opted for using the `deduce_subsystem` and `subsytem_path` in that recipe.

[code]
https://github.com/Ultimaker/conan-center-index/blob/75799de3562b2225cf1616d343424310bca4b78d/recipes/autoconf/all/conanfile.py#L46

[2022-08-30 10:40] uilianries opened #11983 "[feature] Better management for well known deleted options and settings"
With the introduction of very explicit values management on Conan 2.0, we will need to protect false deletion for options like `fPIC` and compiler attributes for `msvc`. As real example:

[code]

When using the compiler `msvc`, it will discard `cppstd` and `libcxx`, so it's needed to protect their deletion, otherwise, python will raise an exception, as there is no safe deletion.

Also, `fPIC` once

[2022-08-30 10:40] memsharded commented on #11969
I think it is necessary to go case by case.

Lets start with ``CONAN_BASH_PATH``. This is an env-var that is being superseded by a conf ``tools.microsoft.bash:path``. So it is perfectly fine if recipes that are modernized check directly this conf.
Users using ConanCenter and relying on this, will need to modernize their profiles anyway to be 2.0 ready. So their profiles will look like:

[code]
Not

[2022-08-30 10:42] SpaceIm commented on #10387
Example of fix required now in `vulkan-loader` while replacing cmake generator by CMakeToolchain: https://github.com/conan-io/conan-center-index/blob/801b43dbe507de353a068e5a41bca404d2d4e4fe/recipes/vulkan-loader/all/conanfile.py#L153-L158

[2022-08-30 10:46] valeriomoroni95 opened #11984 "[question] Create a package from a pre-built binary"
I'm pretty new in the Conan world and I'm using it in order to accomplish to some specifications for my master thesis.
My use case scenario could be resumed as follows:
- I have a c++ code and, once compiled locally without Conan, but with CMake, I've to package it in order to upload it on Artifactory, on a local remote.
- I've tried to follow many guidelines on the documentation, but I wasn't abl

[2022-08-30 10:49] memsharded commented on #11983
Yes, I agree that some higher level utilities to handle this would be great.
Some quick comments:

Conan being too smart and doing things like this often lead to some users being blocked because they have slightly different tools, constraints, etc. I'd prefer it to be something a bit more explicit, so users could have control

This would be a bit late, because that happens after the build. We want

[2022-08-30 10:52] memsharded commented on #11984
Hi @valeriomoroni95

If you have pre-compiled binaries, then you need to read: https://docs.conan.io/en/latest/creating_packages/existing_binaries.html

- If you have the binary local in your folder, then use ``conan export-pkg`` command
- If you have the binary somewhere else, like in an http server, you can download that binary in the ``build()`` method, and run a normal ``conan create``

[2022-08-30 11:47] valeriomoroni95 commented on #11984
Thank you very much @memsharded!

It helped me a lot. Where can I learn where to customise the recipes, in order to apply this pattern to each package I'll need to create?

[2022-08-30 12:01] SSE4 commented on #11969
we cannot expect all conan center users to upgrade their profiles. they simply do not know about necessity to update. most of them just do `conan install` and keep using conan center binaries, and then it suddenly breaks (=stops reading from `CONAN_BASH_PATH`). in fact, it already happened a couple of times, when users were disappointed by these sudden changes (example - https://github.com/conan-i

[2022-08-30 12:02] memsharded commented on #11984
The main general learning resources how to write recipes are the docs, the free courses in the academy https://academy.jfrog.com/path/conan, and maybe the recipes in https://github.com/conan-io/conan-center-index are also interesting for more advanced (sometimes very advanced, as these contain the most difficult to package third parties out there) use cases.

In the docs, for specifics about the `

[2022-08-30 12:04] memsharded commented on #11984
Sorry, I accidentally closed. Feel free to close it yourself when you think it is responded.

[2022-08-30 12:14] #11710 closed, assigned to franramirez688

[2022-08-30 12:22] SpaceIm opened #11985 "[question] CMakeToolchain & layout: how to run CMake twice with different variables & build folder?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In conan-center, if shared=True `spirv-cross` recipe needs to run the build twice with different build folder & variables, to build both the library and tools (because tools can't link to shared lib, so the second build forces static build and the build of tools, while the first one b

[2022-08-30 12:43] memsharded commented on #11985
Why not limiting the binary to static linkage only? What is the use case of using such a package that contains a .dll, but an .exe that is not using that .dll at all? As the executable app doesn't make sense in the host context together with the library, and the library cannot be linked from build context, I don't see a real reason to not limit it.

[2022-08-30 12:45] jellespijker opened #11986 "[bug] ensure that the msys2 bin folder is added to PATH before calling bash.exe"
Came across this while trying to modernize the msys2 recipe See reproduction steps)

When using the `buildenv_info` instead of `env_info` Setting the toolchains shell scripts in the bash resulted in errors that `printenv` couldn't be found. This is because the `PATH` variable doesn't contain the PATH to the msys2 `......../bin/msys2/usr/bin` yet.

I think the PATH containing the msys2 bins should

[2022-08-30 12:48] jellespijker commented on #11986
Will open up a PR for the proposed fix.

[2022-08-30 12:49] SpaceIm commented on #11985
Because tools of spirv-cross rely on private symbols of spirv-cross libraries, but spirv-cross libraries are perfectly usable by external consumers relying on public symbols.

Moreover you can't know in which context consumers will use this recipe, and since conan-center has decided to package libraries & tools together, there is no other choice.

It makes the recipe consistent for consumers with

[2022-08-30 12:58] uilianries commented on #11983
@memsharded Fine, at least we have a confirmation about a new feature. Gracias!

[2022-08-30 13:08] jellespijker opened #11988 "[bug] environment shell script executed in a windows subsystem don't use the `subsystem_path`"
Came across this while trying to modernize the msys2 recipe See reproduction steps) and issue #11980 and #11986

Environment shell scripts executed in the bash of the msys2 recipe contain the Windows formatted paths. Since these scripts are sourced in the bash environment they should be aware of the path formatting.

I don't think that this is a huge issue, because (as far as I'm aware) all the ba

[2022-08-30 14:43] memsharded commented on #11985
I think this was probably not the best approach, I didn't think it back then, and I still think today that many things would probably be way easier for us and for users if we packaged tools and libraries in separate packages, as other systems (debian, or protobuf itself are doing for protoc, for example) have been doing before Conan.

How it is consistent for consumers to ``conan install spirv/ver

[2022-08-30 14:54] valeriomoroni95 commented on #11984
Thank you so much @memsharded!

[2022-08-30 14:54] #11984 closed, assigned to memsharded

[2022-08-30 15:05] SpaceIm commented on #11985
I think most users wouldn't care, and if they do they can check the runtime dependencies of their executable, because anyway nothing says that all executables packaged in a recipe link to all shared libraries packaged together (it can be none, only 1, 2 or all, and it's orthogonal to this issue). Most users would prefer by far to have tools if they have specified such option in a recipe, regardles

[2022-08-30 15:58] jcar87 commented on #11985
I have reviewed the build scripts of the library upstream, and from what I can see, the upstream scripts support setting  _both_ `SPIRV_CROSS_SHARED` and `SPIRV_CROSS_STATIC` to `ON`/`True`, and in particular the latter one is required to be enabled if `SPIRV_CROSS_CLI` is enabled.  Unlike many other libraries, this one generates two different sets of library names for static and shared and can co

[2022-08-30 16:27] SpaceIm commented on #11985
I didn't expect to argue about the logic of this recipe.
It has to do with conan-center policies:
- having tools disabled by default in a recipe due to static/shared is annoying because conan-center recipes should provide a pre-built binary these tools, and if not it may lead to issues in c3i build of other libraries having such kind of recipe in tool_requires (because c3i doesn't allow `-b missin

[2022-08-30 16:57] memsharded commented on #11985
How many other recipes require this package in ConanCenter as ``tool_requires``? I  can only find 2 other recipes with a regular ``requires``, not ``tool_requires``.
And if any of them did, lets recall that the default is also static libraries ``shared=False``, so even if some other package in ConanCenter wanted to use it as ``tool_requires``, it wouldn't be a problem either. Only if some users de

[2022-08-31 04:03] Zvicii opened #11990 "[question] Remove package revisions that have not been used for a certain period of time"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

My ~/.conan/data directory comtinues to grow, and some packages or some revisions of the packages are no longer required.
Is it possible for me to set a expire ttl for cached package revisions? When ttl is  reached, conan removes them automatically.

[2022-08-31 07:08] #7351 closed, assigned to nobody

[2022-08-31 08:28] memsharded commented on #11990
Yes, Conan 2.X will implement some ``remove`` functionality based on LRU timestamps.

[2022-08-31 08:30] Zvicii commented on #11990
looking forward to it.

[2022-08-31 08:30] memsharded commented on #11990
At the moment, there are no LRU timestamps at all, so if anything you can do a ``conan search -revisions`` that will list the revisions timestamps and remove the old ones.

[2022-08-31 08:31] memsharded commented on #11990
Re-opening, to have this in the 2.X milestone backlog

[2022-08-31 08:38] kambala-decapitator opened #11992 "[feature] Apple platforms - weak frameworks"
Conan has convenient way to list frameworks to link against:

    self.cpp_info.components["..."].frameworks

Standard way to pass weak framework to linker doesn't work:

    self.cpp_info.components["..."].exelinkflags.append("-weak_framework CoreHaptics")

it's translated into

    -weak_framework  -lCoreHaptics

The only other (and working) way is using `-Wl,-weak_framework,CoreHaptics`, but it

[2022-08-31 09:59] franramirez688 commented on #11992
Hi @kambala-decapitator

I'm not sure, but could it work if you put something like this?

[code]

[2022-08-31 10:26] danimtb opened #11993 "[bug][conan 2] Reference install/download fails - conan.tools.scm not available"
When downloading or installing the `zlib/1.2.11` (latest revision of the recipe should be prepared to work with conan 2) recipe from conan center it fails the command when loading the recipe contents saying `ModuleNotFoundError: No module named 'conan.tools.scm'`

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: VS 2020
  *

[2022-08-31 11:22] maitrey commented on #11898
Thanks for answering this one. We have some internal legacy in our systems due to which we cannot use the test feature directly. However, understood that build + all kind of tests is triggered by build method. Also that it is possible to skip executing the tests.

[2022-08-31 11:22] #11898 closed, assigned to memsharded

[2022-08-31 11:23] kambala-decapitator commented on #11992
@franramirez688 unfortunately, it's translated into the same incorrect flags as given in issue description:

[code]

[2022-08-31 11:29] maitrey commented on #11900
conan info . --dry-build=test* -pr:b=default -pr:h=ndp results in:
ERROR: No package matching 'test*' pattern found.

But indeed I can see the package along with the dependency graph just this error in the end is confusing.

[2022-08-31 11:41] franramirez688 commented on #11992
@kambala-decapitator which is the Conan generator that you're using?

[2022-08-31 11:45] kambala-decapitator commented on #11992
@franramirez688 I was testing on SDL package, I see it uses legacy CMake integration: https://github.com/conan-io/conan-center-index/blob/master/recipes/sdl/all/test_package/conanfile.py#L7

the command I used was:

[code]

[2022-08-31 12:18] chulup opened #11994 "Must specify settings.build_type in build:host profile. Why?"
I can't find full description of settings that must be put into host profile vs build profile (I'm on conan 1.51.3).
It was a surprise for me when Conan required settings.build_type to be put in host profile. Why should it be there and not build profile?

Also I would be glad to find full docs on host profile and build profile.

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/

[2022-08-31 12:29] memsharded commented on #11994
At the moment, the docs for the build/host profile are a bit scattered around, some links that might help:
- https://docs.conan.io/en/latest/reference/profiles.html#build-profiles-and-host-profiles
- https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer

The documentation in 2.0 will be much clearer about this, and will start introducing the build/host pr

[2022-08-31 12:38] memsharded commented on #11900
Oh, I see what you mean, if you can see the package in the dependency graph, that error message should be harmless, and it has been already removed in 2.0

[2022-08-31 12:59] SpaceIm commented on #11986
Not sure it's a conan issue, it's a an issue in msys2 recipe in conan-center, you have forgotten to add this folder to cpp_info.bindirs in your fork. AFAIK, in conan v2 `bindirs` of tool_requires are automatically added to `PATH` in build scope.

see https://github.com/conan-io/conan-center-index/pull/12715

[2022-08-31 13:14] harsszegi opened #11995 "[question] Artifactory cleanup for Conan artifactory?"
Hi,

do you have any suggestion how to do cleanup on Artifactory servers? How does one cleanup "old" packages on Jfrog Artifactory repos?
Or does it have to be routed to Jfrog?
Thanks,

[2022-08-31 14:13] maitrey commented on #11900
thanks , then closing this one as well.

[2022-08-31 14:13] #11900 closed, assigned to memsharded

[2022-08-31 14:29] memsharded commented on #10967
This is a core behavior, and nothing can be done atm. Markdown generator, as every other generator, works on the ``cpp_info`` filled by ``package_info()`` of the dependencies. ``package_info()`` only executes against downloaded binaries (as it can contain ``collect_libs()`` and other stuff that will fail without the downloaded binary).

So this is not a bug, but expected behavior, and it cannot be

[2022-08-31 14:56] franramirez688 commented on #11992
@kambala-decapitator
We're making an enormous effort to migrate all the recipes to a Conan 2.x compatible format, so we're not maintaining the legacy generators anymore (only security bugs).

I think it would work fine with the new CMakeDeps if you add:
[code]
We're encouraging everyone to use the new `conan.tools` generators so we can move forward with the next upcoming Conan 2.0.

[2022-08-31 16:06] memsharded commented on #11995
Yes, this is mostly an Artifactory question.
The Conan client knows how to remove things, by their reference. But it has no concept of "old" in Artifactory, what does "old" mean? Note that those packages might not have been created or uploaded by this Conan client.
But Artifactory has probably some properties, timestamps, that can be queried via their API or something like that for this purpose.

[2022-08-31 16:10] jellespijker commented on #11986
Thank you, will cont. working from your new msys2 recipe, to check if this is still an issue then. If not, then I will close the issue and PR

[2022-08-31 17:10] ibis-hdl commented on #11881
Thanks for your effort. I assume I have to cut off conan-cmake here, since it relies on auto-detected profiles. The sharm of this is, that I've only one CLI call of the cmake exe ...

[2022-08-31 17:17] harsszegi commented on #11995
Thanks @memsharded !

[2022-08-31 17:17] #11995 closed, assigned to memsharded

[2022-08-31 18:32] thejohnfreeman opened #11996 "[bug] command `conan profile path` sends final output to stderr, not stdout"
The [documentation](https://docs.conan.io/en/2.0/whatsnew.html#new-cli) for the new CLI says this:

`conan profile path default` sends its only output, the desired path, to stderr, not stdout.

### Environment Details
  * Operating System+version: Ubuntu 22.04
  * Conan version: 2.0.0-beta2
  * Python version: 3.9.13

### Steps to reproduce

[code]

[2022-08-31 18:49] SpaceIm opened #11997 "[bug] `MesonToolchain` not compatible with meson < 0.55.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: apple-clang 13.0
  * Conan version: 1.51.3
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/tree/1822d1c4c9dc431423d4583705914b98325a687d/recipes/meson/all (the first commit of https://gi

[2022-08-31 21:11] memsharded commented on #11996
Yes, it seems that this was lost somehow, maybe in one of the latest changes around the logging levels and the output.

Need to check with the team:
- Is the ``cli_out_write()`` still the recommended way in commands to output to stdout
- What part of what commands will be considered output and what not
- What to do with the ``text`` formatters in some commands
- Should the returned object by comma