[2021-09-28 11:34] memsharded opened #9683 "Update tests to use msvc setting"
Instead of Visual Studio

Not necessary to migrate the whole test suite. Just add or update some tests to have better coverage of the new ``msvc`` compiler.

There are already some tests that use it like ``test_locally_build_msvc_toolset()`` or ``test_toolchain_win_vs2017()``. The goal is to check relevant cases, like standard CMake build, and parameterize or add new tests.

Only ``conan.tools`` n

[2021-09-28 12:04] memsharded commented on #9680
If you that per project, cleaning it is as simple as removing the folder "installed"

[2021-09-28 12:23] playgithub commented on #9680
I mean clean the installed packages that are not in `confile.txt`

[2021-09-28 12:31] playgithub opened #9684 "[question] How to import to different directories for different built types with `conanfile.txt`?"
The example below only support one build type.

conanfile.txt
[code]

[2021-09-28 12:41] memsharded commented on #9680
How did you install them if they are not in the ``conanfile.txt``? If you define a local "installed" folder per project, what is installed there should come from the ``conanfile`` of that project.

[2021-09-28 12:44] memsharded commented on #9684
``conanfile.txt`` is limited. Use a ``conanfile.py`` with a ``layout()`` definition, including ``imports`` folder:

[code]

[2021-09-28 13:59] playgithub commented on #9680
After modifying settings or options in `conanfile.txt`, old ones that are not in use any more should be cleaned.

[2021-09-28 14:00] memsharded commented on #9680
You cannot modify settings in conanfile.txt

[2021-09-28 14:00] playgithub commented on #9684
Do you mean I can always replace `conanfile.txt` with `conanfile.py`?

[2021-09-28 14:02] memsharded commented on #9684
https://docs.conan.io/en/latest/mastering/conanfile_py.html

[2021-09-28 14:03] playgithub commented on #9680
OK, dependencies may change.

[2021-09-28 14:04] playgithub commented on #9684
That's great, more consistent and more powerful.

Thanks

[2021-09-28 14:04] #9684 closed, assigned to memsharded

[2021-09-28 14:07] memsharded commented on #9680
Well, if you change dependencies, remove the ``installed`` folder first, if you want to clean the previous ones.

[2021-09-28 14:14] playgithub commented on #9680
It's ok when there are binary caches in remote.
If no binary caches, cleaning according to `conanfile.txt` / `conanfile.py` is more efficient.
And the cleaning behavior is more natural for human mind.

[2021-09-28 16:23] #9500 closed, assigned to lasote

[2021-09-28 16:38] memsharded commented on #9524
This is probably not a good idea, if we want to support the flow that can do a ``conan export-pkg`` in the local flow, to make the package quickly available in the cache without rebuilding completely and ``conan create`` to do a full re-build in the cache. In this case we still need 2 separate cli commands to indicate explicitly the intention. So ``export-pkg`` cannot be completely removed, it mig

[2021-09-28 22:16] memsharded commented on #9545
Hi @gdray-dev

Your zip was super useful. I have managed with it to implement a test and implement the behavior your are suggesting in https://github.com/conan-io/conan/pull/9686. Trying to target next 1.41, lets see how it goes.
If you would like to run from my source branch and test it, that would be very useful feedback too.

Thanks!

[2021-09-29 06:06] #9524 closed, assigned to nobody

[2021-09-29 06:38] lasote commented on #9671
Hi!
First of all, thank you, I'm very glad to hear that you are preparing a Conan package for Guix. :)
We are also having some issues with the Meson tests and the toolchain, not these errors but others.
The Meson toolchain is still experimental, not mature enough so I won't worry a lot (in terms of your package).
I will change the title of this issue to help to identify the issue and will keep inv

[2021-09-29 06:51] lasote commented on #9671
I just realized what is happening. We have hardcoded settings for that test for the mainstream operating systems only, so I open a PR to exclude them until we have a better way to do it.
It will be released in 1.41.

Thanks for reporting!!

[2021-09-29 09:07] Zvicii opened #9689 "[question] How to pass CMAKE_OSX_ARCHITECTURES to required packages"
I am building for macos armv8 on macox x86_64,
although I specifiled both profile:build and profile:host.
some packages build correctly (openssl 1.1.1l),
while some packages still build for x86_64 (libuv).

since define CMAKE_OSX_ARCHITECTURES in a toolchain file doesn't work (it needs to be defined before the first 'project' statement)
is it possible to provide a enviroment variable CONAN_CMAKE_O

[2021-09-29 09:30] memsharded commented on #9689
Hi @Zvicii

Indeed there is no generic way to pass CMAKE_OSX_ARCHITECTURES, or in fact any other CMake generic variable to upstream dependencies, because those dependencies might not use CMake at all (as it is the case of openssl, for example).

Then, this should be implemented in recipes, most typically using some of the Conan built-in integrations.
Conan recipes existing in ConanCenter might be

[2021-09-29 09:40] Zvicii commented on #9689
Thanks for replying to me so quickly！
I will create a issue to cci, or try to make a PR.

CMAKE_OSX_ARCHITECTURES can be defined in a toolchain file but it won't work (I tried),

see here
https://cmake.org/cmake/help/latest/variable/CMAKE_OSX_ARCHITECTURES.html#:~:text=CMAKE_OSX_ARCHITECTURES%20%C2%B6%20Target%20specific%20architectures%20for%20macOS%20and,created.%20See%20that%20target%20property

[2021-09-29 09:48] #9671 closed, assigned to lasote

[2021-09-29 10:09] memsharded commented on #9689
We have tests in our test suite that seems to be working fine to cross compile to arm, by using this variable defined in the ``conan_toolchain.cmake``

- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/ios/test_using_cmake.py
- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/cmake/test_cmake_toolchain_m1.py

Are you 100% sure it doe

[2021-09-29 10:11] #9376 closed, assigned to czoido

[2021-09-29 10:13] ilyamt-tandemg commented on #7300
I discovered that if a process locks a file or a directory belonging to the package, Conan will not check that deleting failed, but will tell you that everything is fine. This may lead to the inability to use remove or remove --locks to fix problems. To replicate the problem, lock a package directory in the Conan cache and try to remove it using Conan CLI. The problem was replicated both in Window

[2021-09-29 10:16] #9545 closed, assigned to memsharded

[2021-09-29 10:17] memsharded commented on #9545
https://github.com/conan-io/conan/pull/9686 was merged, so this will be available in next 1.41 (next week). If you want to try it now from source, it is available in the ``develop`` branch.

[2021-09-29 10:43] Zvicii commented on #9689
I test it with a simple project on my m1 macbook
this is my CMakelists

[code]

this is main .cpp

[code]

if I pass CMAKE_OSX_ARCHITECTURES on the command line, it works fine

[code]

but if i use a toolchain file

[code]
[code]

so I'm guessing define it in a toolchain file doesnt work?

[2021-09-29 11:20] memsharded commented on #9689
You need to make it CACHE var in your toolchain.cmake file:

[code]

[2021-09-29 12:59] sbellus opened #9690 "Propagation of options to dependencies"
Let's have libraries M,A,B with following dependency graph
M -uses-> A -uses with option o=X-> B
M -uses with option o=Y-> B

How can I write recipe for M?
My observation is that conan uses only o=Y for M and also for A, even if A requests B to build with option o=X.
It results to build failure because A is not able to depend on B with option o=Y.

[2021-09-29 14:03] memsharded commented on #9690
Hi @sbellus

I think you might be interested in this section of the docs: https://docs.conan.io/en/latest/versioning/introduction.html#version-and-configuration-conflicts

The issue is that 2 different binary variants of the same package cannot be part of the same dependency graph, as it would create linking conflicts (you cannot link the same library as shared and static in the same executable).

[2021-09-29 14:13] playgithub opened #9692 "[question] Is a complex recipe necessary?"
Take boost for example

For a complete recipe, it is very complex, it's hard to maintain. I've encounter a problem https://github.com/conan-io/conan/issues/9623, it's hard to find out the problem.

For a specific configure, the recipe could be very simple, and easy to write.

What about using conan in the way below:
1. determine the config for each lib
2. prepare the recipe that support only the c

[2021-09-29 14:54] sbellus commented on #9690
It clarifies observed behavior. From my point of view it is bad behavior.
I see in all examples shared, static. It is not about it at all.

package A produces A.so (always shared library)
package B produces B.a (always static library)
package M produces M.so (always shared library)

There is no linkage issue because A.so can link different variant of B.a as M.so and it is OK.

We use option to mod

[2021-09-29 15:13] memsharded commented on #9690
Not in the general case. For example, headers inlining also produce binary changes in the consumers, which can lead to binary incompatibility errors. It is also very typical that the library itself contains other binary changes, beyond some extra headers, like new libraries. If not, you might consider just exporting those headers always, it will be harmless to the consumer if they don't include th

[2021-09-29 15:28] apteryks commented on #9671
Sounds good, thanks for the fix!

[2021-09-29 15:35] 0x8000-0000 opened #9693 "[question] How do I enable /std:c++latest on MSVC toolset?"
I am trying to build a library using C++20 features using MSVC 17 preview.

The compiler is giving out this message:

    The contents of <ranges> are available only in c++latest mode with concepts support;
    see https://github.com/microsoft/STL/issues/1814 for details.

My profile has:

    compiler=Visual Studio
    compiler.version=17
    compiler.cppstd=20

I have tried setting "compiler.cpp

[2021-09-29 15:44] memsharded commented on #9693
Hi @0x8000-0000

It seems the mapping is already passed, there are already some c++23 features cooking in latest.
The missing piece in Conan is that the ``cppstd`` is missing the 23 value in settings.yml. We need to fix that, lets do it asap.

In the meantime, please add ``23`` to the available ``cppstd`` settings.yml. Then pass it in your profile. It will map to ``/std:c++latest`` compilation fla

[2021-09-29 16:16] 0x8000-0000 commented on #9693
It does work, thank you!

[2021-09-29 16:32] memsharded commented on #9693
Now I see why it is not added to ``Visual Studio``. It is added to the new compiler setting that will replace it:

[code]

As a request of the Tribe, we are moving from the "Visual Studio" setting, that uses the IDE version to the actual ``msvc`` that uses the actual compiler version.

So the ``cppstd`` was no longer updated by default in ``settings.yml``, because it is already in the deprecation

[2021-09-29 16:39] 0x8000-0000 commented on #9693
This is the current content of my profile file:

    [settings]
    os=Windows
    os_build=Windows
    arch=x86_64
    arch_build=x86_64
    compiler=Visual Studio
    compiler.version=17
    compiler.cppstd=23
    build_type=Debug
    [options]
    [build_requires]
    [env]

What is the recommended profile? Something like this?

    [settings]
    os=Windows
    os_build=Windows
    arch=x86_64

[2021-09-29 16:59] memsharded commented on #9693
Actually something like:

[code]

Note the dynamic runtime.
The ``xxx_build`` can be removed, because cross-compiling will be addressed with the build and host profiles approach.

Just take into account that these settings are experimental, designed to replace the others, but still not massively adopted, so the  support in some Conan helpers might vary (typically better in ``conan.tools`` new inte

[2021-09-29 17:33] 0x8000-0000 commented on #9693
Thanks again!

[2021-09-29 17:33] #9693 closed, assigned to memsharded

[2021-09-29 17:57] paulocoutinhox commented on #9448
Hi,

The problem is described here:
https://github.com/cross-language-cpp/djinni-support-lib/issues/58

Don't make sense use ios-cmake recipe and need pass manually parameters for all my recipes. If bitcode is enabled, ALL recipes need be compiled with bitcode flags, else, clang will throw the error:

[code]

[2021-09-30 00:03] vchabanenko-luminar commented on #9527
Hi,

Here's a minimal package which cannot be built with `conan create` that illustrates the issue described by @blackliner.

[a_dummy_2.zip](https://github.com/conan-io/conan/files/7255630/a_dummy_2.zip)

The system is Ubuntu 18.04;
CPU x86-64;
the package depends on catch2/2.13.4 which exists in local cache
`~/.conan/data/catch2/2.13.4/_/_/package/499dbc5ac153562abd22d8a15e5411b68090ac7d/`
The r

[2021-09-30 00:19] memsharded commented on #9527
Can you please post the output of trying that?
I have just tried the following from your provided example code, and it works offline:

- ``conan remove * -f`` # clean our cache
-  ``conan create . --build=missing`` # necessary as dependency catch2 with_main option doesn't exist in ConanCenter
- ``conan remote disable conancenter``
- ``conan create .`` # successfully build without checking remotes

[2021-09-30 00:34] vchabanenko commented on #9527
Hi @memsharded

[2021-09-30 00:51] vchabanenko-luminar commented on #9527
Hi @memsharded

here is the log of your commands (with subtle corrections, like `conan-center` and `"*"`)
https://pastebin.com/cchrMxa5

The error message:

[2021-09-30 01:32] Zvicii commented on #9689
oops，my bad，it works like a charm.
I'll close the issue now.

[2021-09-30 01:32] #9689 closed, assigned to memsharded

[2021-09-30 07:26] memsharded commented on #9689
No prob, happy that it is working now :)

[2021-09-30 07:36] memsharded commented on #9527
Hi @vchabanenko

Wow, that is really unexpected, I don't know what could be happening. Apparently exactly the same steps, and suddenly, the `catch2` package seems to disappear from your cache.

Lets try to do the following, to see if I get some further hint of what could be happening. Please run again the same commands, but adding extra `conan search` commands in between, something like:

[code]

[2021-09-30 07:38] GiugAles commented on #8493
Since the title contains _"etc"_ I would like to point out the possibility to debug conanfile.py stages with VSCode. Though I did not test it with other IDEs, which is actually why I am ending up here, my experiences with VSCode in this matter are quite good. You just need to create a launch.json as described in https://code.visualstudio.com/docs/editor/debugging. Than point to the conan executabl

[2021-09-30 08:51] sbellus commented on #9690
The private flag does not work.
I tried following combinations:
package A has self.requires("B/2.50.0", private=True)
package M has self.requires("B/2.52.0", private=True)
And
package A has self.requires("B/2.50.0", private=True)
package M has self.requires("B/2.52.0")

None of them works.

[2021-09-30 09:47] memsharded commented on #9690
Could you please elaborate how it fails? It would be great to have something to be able to reproduce, post the output with the error messages...

So far I have done this test with this setup that you are describing it fails, and seems to be working fine:

[code]

[2021-09-30 11:02] sbellus commented on #9690
Yes this is ok. conan builds 2 version of library. Is it possible to make test with following pseudo code?
[code]

[2021-09-30 11:15] jlemein opened #9694 "Package id/revision is different for the same profile on different machines"
Our build server creates a package `package-a` containing an executable and some shared libraries. This package has a couple of requirements on existing third party dependencies, such as fmt, sqlite, etcetera. The conan build and package creation works fine and it is uploaded to the artifactory.
Now I try to `conan install` the package in a separate project on my local machine and for some reason

[2021-09-30 11:41] memsharded commented on #9690
[code]
This works. The key point here is that you cannot define ``pkgb:option=Y`` in ``pkgm``, because that will produce an override of option values upstream. In the test I am producing different options using the default one, and the change is done in ``pkga``. It could be argued that definitions of options upstream could be truncated in transitive private, but the thing is that the ``private``

[2021-09-30 11:51] memsharded commented on #9694
The options shouldn't change, because your are not changing the options by other means, if the profile is the same.

Another possible culprit could be using a different ``default_package_id_mode`` in the different machines. That belongs to the ``conan.conf``, are you sure they are exactly the same in the 2 environments?

[2021-09-30 11:59] jlemein commented on #9694
The conan.conf for both the build server and my machine are:
default_package_id_mode = semver_direct_mode

The only option I have specified is "ros", since that is a build flag for that respective package. All the other options in the error message above are not specified by me, but probably derived from the requirements. It seems the package id is taking that into account. Those options are not p

[2021-09-30 12:13] memsharded commented on #9694
Is it possible that some dependency version has changed upstream just between the 2 builds, and you are using version ranges in your recipe, so some dependency kicked in a new version and changed the package_id? This could also be done comparing the ``requires`` section in the ``search`` results table with the ones in the "missing" error message.

If you have the logs of the build of the package w

[2021-09-30 14:16] playgithub opened #9695 "[question] Unable to connect to conancenter=https://center.conan.io"
## Env
OS: Windows 10
conan: 1.40.2

## Log
[code]

[code]

## More Info
It worked well several days ago, but failed today.

[2021-09-30 14:18] matheusgomes28 commented on #9695
Getting this also, sounds like their certificate has expired! Get #LetsEncrypt on it :laughing:

[2021-09-30 14:23] sysint64 commented on #9695
I am getting this as well 😕

[2021-09-30 14:26] jwillikers commented on #9695
Same here.

[2021-09-30 14:37] manuel2258 commented on #9695
Same here. For a temporary fix ssl verification can be disabled in the remotes settings at ~/.conan/remotes.json

[2021-09-30 14:43] haroal commented on #9695
Hi,

This seems to be due to Let's encrypt root authority server shutdown on September 30th : (cf https://docs.certifytheweb.com/docs/kb/kb-202109-letsencrypt/#:~:text=From%20Sept%2030th%202021%20Let's,the%20ones%20for%20your%20website.)

I fixed it by adding their new root authority ISRG Root X1 certificate in `~/.conan/cacert.pem`.

Edit: ISRG Root X1 certificate can be downloaded from Let's enc

[2021-09-30 14:52] lasote commented on #9695
Thanks, @haroal. The pem to be appended is at: https://letsencrypt.org/certs/isrgrootx1.pem
We are releasing 1.40.3 ASAP containing that root certificate.

[2021-09-30 14:55] playgithub commented on #9695
Solved by
1. Download https://letsencrypt.org/certs/isrgrootx1.pem
2. rename and replace `./conan/cacert.pem`

Thanks

[2021-09-30 15:00] lasote commented on #9695
I'll keep this open so it is more visible.

[2021-09-30 15:01] uilianries commented on #9695
@lasote Maybe pin this issue

[2021-09-30 15:03] memsharded commented on #9695
Done

[2021-09-30 15:05] memsharded commented on #9695
For any other previous version older than 1.40.3, the new certificate can be installed with:

[code]

[2021-09-30 15:05] blackliner commented on #9695
ETA for the release 1.40.3 ?

[2021-09-30 15:13] lasote commented on #9695
minutes

[2021-09-30 15:19] blackliner commented on #9695
[code]
If you want your PC to tell you conan 1.40.3 is released:
[code]

[2021-09-30 15:23] alexanderwwagner commented on #7573
Hello,
since today I have the same problem which is mentioned here.
Within my github action the build fails.
A few days ago there was no problem.
Are there at the moment any maintenance work?

Thank you!

`ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificat

[2021-09-30 15:24] memsharded commented on #7573
@alexanderwwagner please track: https://github.com/conan-io/conan/issues/9695

[2021-09-30 16:11] bfairservice-gt commented on #9695
Does this mean every version of conan older than 1.40.3 is broken now unless people take this additional manual step of installing the certificate?

[2021-09-30 16:17] blackliner commented on #9695
Shouldn't conan rely on system installed certs in addition to their own ones?

[2021-09-30 16:30] memsharded commented on #9695
System installed ones were really problematic in some systems (OSX) and also with older Python versions (2.7), so they couldn't be used at the time, and had to be replaced to keep moving. It has been working without issues till today, but certainly this will be fixed in next releases.

[2021-09-30 16:32] memsharded commented on #9695
Yes. Many teams that already manage their configuration with ``conan config install`` (very recommended) will fix it simply by adding it to their config, no extra steps. But it doesn't seem feasible to backport to 40 previous Conan releases, that is a huge amount of work (and also requires upgrading clients)

[2021-09-30 16:42] playgithub opened #9698 "[question] conan upload failed"
## Env

### Server
OS: Linux
conan: 1.40.2
nginx: 1.21.3

### Client
OS: Windows
conan: 1.40.2

## Log
[code]

## Configs

.conan/remotes.json
[code]

.conan_server/server.conf
[code]

nginx.conf
[code]

[2021-09-30 16:46] lasote opened #9699 "[feature] [Conan 2.0] Consider not maintaining a conan cacert.pem file"
- We are maintaining a `cacert.pem` file because some users with old installed software in the operating system (openssl, curl...), especially in old distributions, had a lot of issues using HTTPS with Conan.
- But we are not maintaining properly the file with the new authorities. Sometimes that's very painful, #9695, and maybe, the ecosystem with python 3 has improved.
- We could try to not gener

[2021-09-30 16:52] lasote commented on #9698
Hi, it should be some nginx configuration, I'm not an expert so I cannot assist much.
I recommend you try to "ping" the server the regular IP and port and later the nginx one:

`curl -v http://192.168.1.123:8888/v1/ping`

and once you get an answer it should be fine.

[2021-09-30 16:57] playgithub commented on #9698
[code]

[2021-09-30 17:02] blackliner commented on #9695
Congrats to the release!
[code]

[2021-09-30 17:23] playgithub commented on #9698
added rules for firewall, but no help
[code]

[2021-09-30 18:04] anders-wind commented on #9695
When can we expect the release on conda?

[2021-09-30 18:14] uilianries commented on #9695
@anders-wind We don't manage the Conan client available in Conda, but I'll take a look.

[2021-09-30 18:15] anders-wind commented on #9695
Ahh okay - thanks!

[2021-09-30 18:17] playgithub commented on #9698
It works if replacing `127.0.0.1` with `192.168.1.123` in both configs for conan_server and nginx.
I don't know why.

[2021-09-30 18:17] #9698 closed, assigned to lasote

[2021-09-30 18:36] uilianries commented on #9695
@anders-wind I just opened a PR to Conda feedstock: https://github.com/conda-forge/conan-feedstock/pull/143

UPDATE:

They have a bot, which opened a new PR too: https://github.com/conda-forge/conan-feedstock/pull/144

I'll close mine.

[2021-09-30 18:38] memsharded commented on #9699
I suggest to start clean in 2.0, do not handle at all the cacert.pem, and start receiving users feedback.

[2021-09-30 18:42] playgithub opened #9700 "[question] What's the use of `host_name` in `conan_server` config?"
I've tried to change it to 127.0.0.1 or 192.168.*.* and reboot,
But the listening address doesn't change, it is always 0.0.0.0

[code]

[2021-09-30 19:04] Sebanisu commented on #9695
pip has 1.40.3 now.
chocolatey is still waiting on 1.40.2
https://community.chocolatey.org/packages/conan#versionhistory

[2021-09-30 19:28] vchabanenko-luminar commented on #9527
Hi @memsharded
Unfortunately this is what I'm getting today at my work laptop on `conan create . --build=missing`:

However my private mac runs conan just fine. Need to figure that issue first.. Will update you with the logs as soon as I'll be able to get them.

[2021-09-30 20:41] memsharded commented on #9527
Unfortunately that is a different issue. A few things broke today in the internet due to an expired certificate, and we were also affected. Please check https://github.com/conan-io/conan/issues/9695. In short:

- upgrade to 1.40.3
- or apply the updated cacert.pem with ``conan config install https://github.com/conan-io/conanclientcert.git``
- or include the updated cacert.pem in your own ``conan c

[2021-09-30 20:47] vchabanenko-luminar commented on #9527
@memsharded
After the upgrade to 1.40.3 all the commands (see below) work fine for my example package. Will do further testing if it has been fixed on the real project...

[code]

[2021-09-30 22:27] memsharded opened #9702 "[feature] Modernize QbsProfile"
``conan.tools.qbs`` need modernization. It needs to remove its dependency to ``from conans import tools``, and use helpers only from ``conan.tools``. Not all of them might be available yet, but will be added as needed.

Meanwhile, this integration might be disabled from 2.0 ``develop2`` branch, because ``from conans import tools`` will be removed in 2.0

cc @Psy-Kai

[2021-09-30 23:57] paulocoutinhox commented on #9699
I suggest to don't have nothing about it in version 2, but have a "fallback" solution if users have some problem when migrate to conan 2. Version 2 on semantic version mean incompatible anyway.

[2021-09-30 23:59] paulocoutinhox commented on #9448
Hi @a4z.

What do you think in mix https://github.com/conan-io/conan-center-index/blob/master/recipes/ios-cmake/all/conanfile.py and https://github.com/ezored/conan-darwin-toolchain/blob/stable/1.3.0/conanfile.py?

We can still use cmake toolchain, but we need add the same flags to python manually too.

[2021-10-01 05:49] Prasaddiwalkar commented on #9695
I am still facing issue on docker container.

I tried upgrading conan to 1.40.3 and also tried above command for certificate

[2021-10-01 05:56] a4z commented on #9448
My main point for not having something that exports CFLAGS, CPPFLAGS and other global for everything, and prefer to set options per recipe in profiles is that this gives me more control what recipes do pick up on their own and what not. I also do not what that the global state interferes some autodedection that a build might do. This is why I think  control per package is better and I work that wa

[2021-10-01 05:58] lasote commented on #9695
@Prasaddiwalkar please post here the command you run and the error traces to see if we can guess something.

[2021-10-01 06:19] Prasaddiwalkar commented on #9695
[code]

[2021-10-01 06:27] darkvertex commented on #9695
Shooting in the dark here but could it be your version of OpenSSL?

What Python and OpenSSL versions are you running?

Apparently old OpenSSL versions will cause headaches: https://www.openssl.org/blog/blog/2021/09/13/LetsEncryptRootCertExpire/

[2021-10-01 06:36] dancek commented on #4353
Looks like Conan is failing to download some source tarballs because an old version of the [Let's Encrypt root certificate expired yesterday](https://scotthelme.co.uk/lets-encrypt-old-root-expiration/). I'll hack some workaround for our use case, but I think this issue is worth revisiting.

[2021-10-01 06:46] Prasaddiwalkar commented on #9695
conan@9a54bf478845:~$ openssl version
OpenSSL 1.0.1f 6 Jan 2014

conan@9a54bf478845:~$ python --version
Python 3.6.7

[2021-10-01 07:10] sbellus commented on #9690
Thanks for explanation. I will wait for conan 2.x.

[2021-10-01 07:22] memsharded commented on #4353
Hi @dancek, please have a look to https://github.com/conan-io/conan/issues/9695

[2021-10-01 07:33] Prasaddiwalkar commented on #9695
@lasote can you please help. My entire pipeline is stuck

[2021-10-01 08:19] #9304 closed, assigned to franramirez688

[2021-10-01 08:24] memsharded commented on #9304
https://github.com/conan-io/conan/pull/9522 implemented this, will be available next week in 1.41, feedback very welcome!

[2021-10-01 08:27] memsharded commented on #9026
https://github.com/conan-io/conan/pull/9522 implemented this, to be released in 1.41.

[2021-10-01 08:27] #9026 closed, assigned to franramirez688

[2021-10-01 08:32] tru commented on #9695
That one is to old - have no security patches and won't work with new let's encrypt certificates. Consider upgrading.

[2021-10-01 09:49] Prasaddiwalkar commented on #9695
It was working till yesterday

[2021-10-01 11:05] sorekz commented on #9699
Many companies (including the one I work for) use self-signed certificates for their self-hosted Artifactory servers.
So if you remove the default cacert.pem file that's ok as long as the mechanism is still available and we can ship our certificate chain with our conan config.

How it currently works in conan 1 is not optimal though. The best solution would be to use the systems ssl storage as des

[2021-10-01 11:29] SeekTheShrubbery commented on #9695
Thanks for the quick patch. If a user's still having problems with their LetsEncrypt certs even when using Conan 1.40.3 or newer and OpenSSL 1.0.2 or newer, they could try renewing their LetsEncrypt cert as well. In my case the LetsEncrypt cert expiring end of October still had the old CA and wouldn't work.

[2021-10-01 13:22] mmatrosov opened #9707 "[question] Why requirement overridden by conanfile.txt does not affect package id?"
I have the following `conanfile.txt`:
[code]

When I run `conan install conanfile.txt` here is what I see:
[code]

And let's take a look at the selected folly package:
[code]

Conan aknowledged that I am using custom boost version `1.75.0-crypto1`, but it uses folly package built against a different boost version `1.75.0`! Why is that so? I would expect folly to be rebuilt with my version of boost

[2021-10-01 13:25] jlemein commented on #9694
I did some more investigation.
I am constantly generating a new build on the build server right now, so the versions have not changed between two builds. Also we are not using version ranges in the recipes. I don't know why the notation of the version range seem to popup in the logs though, assuming you mean assimp/5.Y.Z, fmt/7.Y.Z.

It seems though that the package assimp/5.0.1 is causing the pro

[2021-10-01 13:29] memsharded commented on #9707
Hi @mmatrosov

This happens, because the default ``package_id_mode`` regarding dependencies is ``semver_direct_mode``. So a package like ``folly`` will not produce a new ``package_id`` unless the dependencies bumped to the major version. That was designed following the ``semver`` specification, which happened to be not that good for C++ binaries versioning. We have allowed to change and configure

[2021-10-01 13:34] mmatrosov commented on #9707
Ok, I see, thanks. Do you consider changing the default to a safer one?

[2021-10-01 14:31] memsharded commented on #9707
Absolutely, but not now in 1.X, because that would be breaking. It has already been changed in a proposal ``develop2`` branch for Conan 2.0, and it will probably be iterated until 2.0 release.

[2021-10-01 15:12] memsharded commented on #9694
Hi @jlemein

No, ``assimp/5.Y.Z, fmt/7.Y.Z.`` are the semver compatible versions to compute the package ID. When you are using version ranges you write something like ``requires = ``assimp/[>5.0 <6.0]"``.

I have had a look at the ``assimp/5.0.1`` recipe, but I cannot find anything there that could produce this.
I have also tried to reproduce in a small example of one package requiring ``assimp/5.

[2021-10-01 17:26] abloemert commented on #9695
I see that the dependencies were changed in Conan 1.40. This is solved with conda-forge/conan-feedstock#146

@anders-wind, @uilianries

[2021-10-01 17:33] theirix commented on #9695
For your information, a homebrew formula is just merged.

[2021-10-01 17:33] ndopj opened #9708 "[question] imports() method does not tolerate package component requirements"
While this issue is opened as a question I think this might be bug.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

|info| value|
|:------------- | -------------:|
|**Conan version**|1.40.2|
|**OS**|Linux, Ubuntu 21.04|
|**Compiler**|gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0|

When using `imports(self)` method from Conan all declared de

[2021-10-01 21:44] 0x8000-0000 commented on #6157
[Abseil](https://github.com/abseil/abseil-cpp) has replacements for a few C++ standard elements (most notable std::string_view) so when it is built in C++11 mode compiles its own, but when built in C++17 mode uses the standard type.

[2021-10-02 01:07] playgithub commented on #9692
I think it's ok for private use.

[2021-10-02 01:07] #9692 closed, assigned to nobody

[2021-10-02 02:08] playgithub opened #9709 "[feature] What about linux like?"
In Linux, it's very handy to use a lib, just install from the official repo by `apt`/`pacman`/...

## Pros
- less focus on maintaining the libs, more focus on applications
- no worry about version conflicts, libs upgrade independently

## Cons
- No choice for versions
  `vcpkg` solves the problem by using git, git branch can be used for customization, and even mulitple git repos are allowed.

[2021-10-02 10:27] redradist commented on #9709
@playgithub

What do you mean by using git ? vcpkg allow to install package from git by git branch or git tag ??

If yes it looks like my old proposal https://github.com/conan-io/conan/issues/7289, but it was ignored unfortunately

[2021-10-02 10:38] SSE4 opened #9710 "[feature] MesonToolchain: improve cross-compilation workflow on Apple systems"
unlike CMake, meson is dumb and doesn't attempt to guess a path to the compiler in case of cross-compiling mode.
it has to be explicitly specified within cross-file

we probably can deduce required things in the conan client, but it's kinda auto-magic...
OTH it makes recipes easier

we may try to populate the contents of the cross-file similar to the examples meson provides:
https://github.com/mes

[2021-10-02 11:48] playgithub commented on #9709
The source of ports are in git repo, it can be customized in a git branch, for example
- use a specific version of a lib in a git branch instead of the newest one in the master branch
- apply custom patches
- private libs

Extremely, one `vcpkg` git repo for dependencies of one project is possible.

[2021-10-02 12:24] redradist commented on #9709
@playgithub

Yeah, it is very cool feature - to install from `github`
Cargo (Rust package manager allow it ) allows to do installation from git:
[code]
Unfortunately my request was abandoned ... (

[2021-10-02 12:47] redradist commented on #7289
@memsharded This feature could be implemented in much simpler way.
Consider the following approach:
[code]
Then user type the command to install all dependencies in `conanfile.txt`:
[code]
Then `conan` will perform the following actions:
1. Conan see first dependency and download it from `conancenter` if it is available as binary otherwise run recipe for building this package on client machine
2.

[2021-10-02 13:25] madebr commented on #7289
This seems like a nice feature.
I would borrow/copy/steak@ pip's behavior, using the protocol to determine the way to fetch the recipe.
That way, the recipe can be git, ftp, file, ...

[2021-10-02 13:47] redradist commented on #7289
@madebr

Yeah and also it will eliminate hard time adding your own recipe to `conan-center-index`.
If user want that other will find they package already pre-build and in common place like conan-center it will create recipe and publish it in `conan-center-index` otherwise just create its own recipe in repo

[2021-10-02 13:49] redradist commented on #7289
@madebr One question out of this scope of the current issue ...
Is there a plans to simplify process of adding your own recipe in `conan-center` ? For example like it is done in `crate.io` or `npm` ?

[2021-10-02 14:53] SSE4 opened #9712 "[bug] impossible to consume all shared"
found in https://github.com/conan-io/conan-center-index/pull/7142

there is a Glib requirement - it has to exist only once in the address space.
https://gitlab.freedesktop.org/gstreamer/gst-build/-/issues/133

it means, if I have the following graph:
`gst-plugins-base` -> `gstreamer` -> `glib`

there are only two valid combinations:
1. `gst-plugins-base:shared=False`, `gstreamer:shared=False`, `gl

[2021-10-02 15:12] redradist commented on #7289
@memsharded @madebr @prince-chrismc
Also this works nice with private github repository with `conanfile.py` ;)
Lets do it ?

[2021-10-02 15:23] prince-chrismc commented on #7289
Who says you need to contribute your recipe? Obviously if it's an open source project why not contribute back to the world but Conan absolutely works with private repositories.

***

This is great idea but given my past job roles and experiences it can lead to some huge security gaps which I'd rather just no have to deal with!

Let's just point out SolarWinds and things like https://snyk.io/blog/n

[2021-10-02 15:31] redradist commented on #7289
@prince-chrismc

It could be the security issue, but the same could be with conan, not all analyze each aspect of libary and it could lead to have conan package in conan-center that are malicious ...
Anyway user is an end-point and it decides to get package from github, if it not get it from conan it will download it manually and build it ... My point is the this is feature that help to automatize

[2021-10-02 18:00] bbossola commented on #9695
Something is still wrong with the deb distribution:

[code]

I also tried to install manually the certificates:
[code]

Can anybody take a look? Our pipelines are stuck.

[2021-10-02 19:50] msduketown commented on #4216
Why not rename `bare ` to `posix`®?

Some projects use `generic`, but that's a bit too detached from formalization, to my tasting. Also, `posix` implies back and forward compatibility through the deterministic `UTF8 `format.

[2021-10-03 06:26] Makogan commented on #9631
Happy to have helped!

[2021-10-03 08:03] SSE4 opened #9713 "[feature] do we need MesonLayout?"
from https://github.com/conan-io/conan-center-index/pull/6678#issuecomment-892739876

[code]

we only have some [predefined layouts](https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html#predefined-layouts), e.g. `cmake_layout`, but there is no `meson_layout` right now.
I am not completely familiar with this feature at the moment, so I will need some guidance, at very least:

- doe

[2021-10-03 10:03] memsharded opened #9714 "Certificate expired: Something is still wrong with the deb distribution:"
Something is still wrong with the deb distribution:

[code]

I also tried to install manually the certificates:
[code]

Can anybody take a look? Our pipelines are stuck.

_Originally posted by @bbossola in https://github.com/conan-io/conan/issues/9695#issuecomment-932794191_

[2021-10-03 10:03] memsharded commented on #9695
@bbossola thanks for reporting. Verified and created a new issue specifically to track this: https://github.com/conan-io/conan/issues/9714

[2021-10-03 10:07] memsharded commented on #9714
It seems to only happen in .deb, not a pyinstaller issue (Windows installer seems to work fine)

[2021-10-03 10:18] memsharded commented on #9714
No idea what could be happening:

- I have checked the code of the ``.deb`` creator. Nothing there that could be causing this
- I have checked that the installed .deb actually contains the updated certificate in its ``/root/.conan/cacert.pem`` file.

I'd need someone a bit more experienced in Linux and .deb packages to have a look at this.

[2021-10-03 12:50] xahon opened #9716 "[question] self.env_info.path.append doesn't work for me"
### Environment Details (include every applicable attribute)
  * Operating System+version: windows 10
  * Compiler+version: msvc 2019
  * Conan version: 1.36.0
  * Python version: 3.9.7

I have this in my recipe
[code]
executable is at the path `os.getcwd()`

I've added a requirement of this package in my root project's conanfile.py and included cmake stuff in my CMakeLists.txt
When I call a targe

[2021-10-03 14:23] wbehrens-on-gh opened #9717 "[question] Unable to find conanbuild.conf"
I'm working in the current [git repo](https://notabug.org/williambehrens/AllWpilibConan) to create a conan package for a library and when I run `conan create .` I keep getting the error ".../conanbuild.conf does not exist, please make sure it was not generated in other folder" but when I go to the build directory there is not other folder for me to check and even if I did find it I don't know what

[2021-10-03 18:27] redradist commented on #7289
@madebr @prince-chrismc @memsharded I've started working on prototype https://github.com/conan-io/conan/pull/9718

[2021-10-03 20:04] memsharded commented on #9716
Hi @xahon

The ``env_info`` information is not mapped to CMake syntax, in any of the generators. It is mapped to env files that can be activated.

Some of the new generators like ``CMakeDeps`` might be able to map ``build_requires`` with the adequate syntax to CMake ``find_package()`` syntax (https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html#build-context-activated), b

[2021-10-03 20:10] a4z commented on #9469
There is a android-ndk on cci but it is unusable due to this bug

What an user experience, coming back to conan after some month, updating some recipes, and things that used to work are broken, and conan is unusable for building for Android.

please fix that bug , @uilianries @jgsogo @SSE4 , what's wrong you did not do it, do you hate your users that using that android-ndk via cci ?

[2021-10-03 20:12] memsharded commented on #9717
Hi @WilliamBehrens

You are mixing legacy generators with the new ones, you need to move:

- Check the output of ``conan new hello/0.1 --template=cmake_lib``. That is the base you should be using for the modern stuff.
- Need to use ``CMakeDeps`` and ``CMakeToolchain``, can't use ``cmake_find_package``.
- Very recommended to start using the ``cmake_layout()`` in the ``layout()`` method

If for any

[2021-10-04 01:14] Makogan opened #9720 "[question] Declaring dependencies with meson subprojects"
I have a parent project A and a subproject B, both using meson, I want to compile A which means B must also be compiled. A does not explicitly list most of the dependencies of B, which means that when I try to compile meson fails because it cannot find the pc files (it is searching them in the installation folder of A). Botha A and B have a conan file, what is the recommended approach to setting u

[2021-10-04 05:28] Prasaddiwalkar commented on #9695
@lasote I am using conanio/gcc48 docker image for build.

[2021-10-04 05:37] Prasaddiwalkar commented on #9695
As I said our pipelines are stuck. I tried all the solutions you have mentioned above.

To install conan I am using `pip install conan`

[2021-10-04 06:03] SSE4 commented on #9469
@a4z as I have stated previously, the necessary fixes were already made like a year ago:
https://github.com/conan-io/conan/pull/8100
https://github.com/conan-io/conan/pull/8099
https://github.com/conan-io/conan/pull/8180
I've tried to reach several times to @memsharded, @tapia and @jgsogo to get them merged, but seems like there is no interest in these fixes
maybe because of other more important f

[2021-10-04 07:08] Yeshasvitvs commented on #9695
@memsharded Following the config update from https://github.com/conan-io/conan/issues/9695#issuecomment-931406912, I don't have the problem with reaching conan center through http, but the response I get from the search request is not `json`

NOTE: Conan version :  1.34.1

<details>
<summary>Response to `conan search zlib -r conan-center`</summary>

[code]

</details>

[2021-10-04 07:25] memsharded commented on #9695
@Yeshasvitvs do you mean ``https``? Because all connections to the servers must be in https, http support was removed time ago, because security reasons.

[2021-10-04 07:27] Yeshasvitvs commented on #9695
@memsharded yes

[2021-10-04 07:27] memsharded commented on #9695
@SSE4 or @uilianries could you verify the case of @Prasaddiwalkar? It seems that the docker image of gcc48 would simply have a very old system openssl that no longer works?

[2021-10-04 07:40] Yeshasvitvs commented on #9695
`conan remote list` returns `conan-center: https://conan.io/center [Verify SSL: True]`

[2021-10-04 07:43] Yeshasvitvs commented on #9695
@memsharded Thanks for https://github.com/conan-io/conan/issues/9695#issuecomment-933216296

changing the remote to `https://center.conan.io` fixes my issue. Also, not sure if the https error was relevant in the first place 😅

[2021-10-04 07:44] memsharded commented on #9695
Cool @Yeshasvitvs

As this was actually another issue, different to the certificate one, I am going to remove the comments, to keep this thread focused. Thanks!

[2021-10-04 07:57] memsharded commented on #9720
I am not sure what is your setup, but Conan handle transitive dependencies. As long as B declares the dependencies, A will get them too when it depends on B, no need to explicitly declare. We would need something a bit more reproducible to understand what is happening, I suggest a small example with 2 dummy recipes ``pkga`` and ``pkgb`` and some commands in the order to reproduce the behavior.

[2021-10-04 08:32] memsharded commented on #9712
The issue with shared libraries is known from some time ago. The ``shared_library_package_id()`` helper was introduced to try to alleviate this issue, but it was not matured and it was not adopted in ConanCenter recipes.

I am sorry, but this behavior cannot be changed for Conan 1.X. It would be massively breaking, if we make the ``package_id`` depend on the options of the dependencies, then almos

[2021-10-04 08:41] chausner-audeering opened #9721 "[bug] Conan does not import packages from virtual environment"
When a conan build is invoked while a virtual environment is activated, and conan is not installed in the virtual environment, attempts to load any modules from the virtual environment fail.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.40.3
  * Python version: 3.8.10

### Steps to reproduce (Incl

[2021-10-04 08:52] tapia commented on #9469
@a4z I'm sorry if this issue is frustrating to you, but I'm going to have to ask you to address the Conan team in a more respectful way. Of course there's nothing wrong with us, and of course we don't hate our users. We are working hard trying to make Conan better every day for everyone, as we've been doing for years. And, most of all, we are trying to make Conan a welcoming community and a pleasa

[2021-10-04 09:14] memsharded commented on #9721
Hi @chausner-audeering

This is not a bug, but this is standard Python behavior?. Conan is a Python application, if you want in your recipes to import and use functionality from other Python packages, then those packages must live in the same environment. Unless you want to create an executable-like wrapper or something like that and you run them like ``self.run("activate && python -m ...")``. Fur

[2021-10-04 09:16] chausner-audeering commented on #9721
I think I found the cause myself just after posting this issue: when invoking the `conan` command, it loads `/usr/bin/conan` which uses shebang to load `/usr/bin/python3` which is the system Python interpreter, not the interpreter in the virtual environment. A workaround is to call `python /usr/bin/conan build ..` which now loads the proper interpreter and the import works as expected.

[2021-10-04 09:20] chausner-audeering commented on #9721
I was not attempting to use different virtual environments for different conanfiles in the same dependency graph. I was referring to shared CI runners where potentially completely independent CI jobs run on the same system. In this case, I would like to use virtual environments to separate builds of project A from builds of project B, where both projects may require different versions of the same

[2021-10-04 09:22] a4z commented on #9469
@tapia , I apologies for my clumsy usage of the English language, please keep in mind that this is not my first language.

On the ticket:

Are you telling me that Conan is not usable for things where you have to pack something like the NDK.
That a package with a link to a binary can not be used in general with conan?

Are you telling me that you better do not use Conan, because you might end up wi

[2021-10-04 09:22] memsharded commented on #9721
I think that such workaround could have some unexpected side effects because if Conan is installed at the system level, then the virtualenv that executes that command could potentially have incompatible dependencies. If you have that controlled and works for you, then great, but please keep an eye on your virtualenv installed dependencies and possible collisions with Conan ones.

[2021-10-04 09:25] chausner-audeering commented on #9721
Good point, will keep it in mind. I'll close this issue as resolved then.

[2021-10-04 09:25] #9721 closed, assigned to memsharded

[2021-10-04 09:56] Prasaddiwalkar commented on #9695
@SSE4 or @uilianries Our entire pipeline is stuck since 3 days, no one is able to commit their changes to gitlab without build success. Please make it working asap

[2021-10-04 10:09] heyjoakim opened #9722 "[question] Listing all packages in the Conan Ecosystem for research"
Hi, I am trying to collect all the packages in the Conan ecosystem (Public packages in Conan Center). Though, this does not seem possible to me. How would one go around doing that?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
- [X] I've tried with the Conan API `search_packages`, but seems like wildcards are not supported
- [X]

[2021-10-04 10:17] lasote commented on #9695
I'm investigating the broken conan debian installer and found something that can be useful, it is kind of a trick but it works, @uilianries @SSE4:

`rm /etc/ssl/certs/DST_Root_CA_X3.pem`

https://superuser.com/questions/1679204/curl-on-ubuntu-14-all-lets-encrypt-certificates-are-expired-error-60

[2021-10-04 10:28] memsharded commented on #9722
Hi @heyjoakim

All the packages in ConanCenter are in the https://github.com/conan-io/conan-center-index repo. You can just fork the repo and count folders (well, if you want to count different versions too, you need to parse the ``conandata.yml`` files)

[2021-10-04 10:42] heyjoakim commented on #9722
Hi @memsharded,

Thanks for the quick reply!

By folders do you mean the folders in Recipes/? This tells me that the total number of packages in ConanCenter is 1.080 (not including different versions). Does this sound correct?

[2021-10-04 10:48] memsharded commented on #9722
Yes, exactly, the ``recipes`` folders. 1080 sounds right, we celebrated last week the 1000 mark. Yes, that is not including versions, there will be possibly 2-3x versions (on average) for every recipe I guess.

[2021-10-04 10:50] heyjoakim commented on #9722
@memsharded thank you very much!
Cheers on the 1000 mark. I closed this issue.

[2021-10-04 10:50] #9722 closed, assigned to memsharded

[2021-10-04 10:53] jgsogo commented on #9712
We should think about this issue in the context of ConanCenter. We should open an issue there at least. We can investigate and adopt one of those approaches, or maybe we can build packages with `*:shared=True` when shared, instead of building only the final consumer as shared. This, together with some checks in the validate, can probably provide some meaningful output.

I would focus just on the r

[2021-10-04 11:07] Prasaddiwalkar commented on #9695
[code]

[code]

[2021-10-04 12:18] memsharded commented on #9484
Hi @KerstinKeller

We have been discussing this during this iteration, and seems we are in the same place:

Yes, it doesn't seem possible to address this conceptually at the moment. Even with the improvements we are working towards 2.0 seems infeasible

Yes, we agree. We have tried to approach this feature a few times already, and have always failed. We have considered it again, but didn't find a

[2021-10-04 14:05] memsharded opened #9724 "[feature] How CMakeToolchain could handle multiple user toolchains"
Lets say that we have 2 different build_requires, one ``sdk`` and one ``compiler``. Building a package could use both, and each one would want to inject their own ``user_toolchain.cmake``.

Or they want to propagate information to the consumer in other ways. Challenges:

- Passing information like CC/CXX via environment requires using VirtualBuildEnv, and activating env scripts, which is not the m

[2021-10-04 14:19] memsharded commented on #9695
@Prasaddiwalkar

You are using ``conanio/gcc48``. That docker image has been deprecated some time ago, check https://github.com/conan-io/conan-docker-tools and also the note:

It is normal that a non-production deprecated image, containing a completely unsecure openssl version from 2014 no longer works in 2021.

[2021-10-04 14:20] a4z commented on #9469
@uilianries @jgsogo @SSE4 , I apologize for using inappropriate words when pinging you, my impression was you are in the power of moving that issue forward, but now I have been told you are not. I am sorry about that.
If you have nay idea how that could be solved, or at least a clear statement is there (like, please use an external ndk and point to it in your profile) I would be very thankful.

PS

[2021-10-04 14:58] KerstinKeller commented on #9484
Thanks @memsharded for keeping me in the loop!
We have already taken measures in the CI build script to always build CMake first.

We have previously made the `cmake` package to be part of the build profile. However, this leads to the chicken - egg problem, where you cannot create the whole graph from scratch, because then cmake has a build requirement of cmake.
Therefore we do not put build-requi

[2021-10-04 14:58] #9484 closed, assigned to memsharded

[2021-10-04 15:04] blejdfist commented on #9724
The ability to provide multiple files to be included in the `UserToolchain` block when using the `CMakeToolchain` generator would provide a lot of flexibility.

[2021-10-04 15:35] memsharded opened #9725 "Fix `folders.package` or remove it if we really don't want it."
The current behavior for ``folders.package`` is a bit broken for creating package, and cannot be used then for local ``conan package`` command.

_Originally posted by @lasote in https://github.com/conan-io/conan/pull/9668#pullrequestreview-770456931_

[2021-10-04 16:20] Wuestenschiff commented on #7526
I don't get it. How do I overwrite the user-agent when I calll conan-install?

[2021-10-04 16:44] memsharded commented on #7526
Hi @Wuestenschiff

You don't change the user-agent of Conan globally for all requests. A specific recipe can use a different agent if necessary in its ``tools.download()`` call in the ``source()`` method for example, if the server is picky about the agent. But this needs to be edited in the recipe.

[2021-10-04 18:14] fsicre opened #9726 "Please update your cert"
DST Root CA X3  did expired
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[code]

[code]

[2021-10-04 18:22] memsharded commented on #9726
Hi @fsicre

In the client side, this is duplicated: https://github.com/conan-io/conan/issues/9695. Please see the remediation there:

- update to 1.40.3
- Or ``conan config install https://github.com/conan-io/conanclientcert.git``

The server side is weird, can't reproduce here, and could be a client side issue.

Could we close this one and follow https://github.com/conan-io/conan/issues/9695?

[2021-10-04 19:37] n-bes opened #9727 "[bug] Wrong remote is acceptable"
### Environment Details (include every applicable attribute)
  * Conan version: ```Conan version 1.40.3```
  * Python version: ```Python 3.9.7```

### Steps to reproduce

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]

I think, that the warning should not be ignored.

[2021-10-04 19:39] pavlodenysov-vizio commented on #9390
I can still reproduce it with 1.40.3 even though #9517 is in 1.40.0.

[2021-10-04 19:40] wbehrens-on-gh commented on #9717
got it

[2021-10-04 19:40] #9717 closed, assigned to memsharded

[2021-10-04 20:47] memsharded commented on #9727
Hi @n-bes

This is aligned with some of the Conan design guidelines. We think it is better to not block users and not be over-protective with checks and validation. In our experience, any small bug, or any edge case not considered, etc., results in a frustrated blocked user that they cannot add what for them is a valid remote (in this case). So better not to raise an error and avoid potentially bl

[2021-10-04 20:54] n-bes commented on #9727
ok, ty for fast reply

[2021-10-04 20:54] #9727 closed, assigned to memsharded

[2021-10-05 05:58] jsteinhofff opened #9729 "[question] workaround Azure upload size limit?"
Hi everyone,

we have some conan packages which are of massive size (6 GB) which now leads to problems when we try to upload those to Artifactory hosted in Azure. It seems that Azure has a size limitation of uploads of 4 GB as is also documented in
https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/application-gateway-limits.md (5th last row)

We are looking already how to split our

[2021-10-05 06:15] foobar222 opened #9730 "[bug] Conan error on 1:st connection to server after reboot"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.39.0
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)

We use Conan to install dependencies for unattended nightly builds. This usually works perfectly, with one exception: the first build after rebooting the build machine alw

[2021-10-05 06:53] lasote commented on #9726
The server certificate is ok, you can check here: https://www.sslshopper.com/ssl-checker.html#hostname=center.conan.io
Probably your system is using the expired X3 too, I needed to remove `/etc/ssl/certs/DST_Root_CA_X3.pem` in some old distributions in order to use the new one.

[2021-10-05 07:21] memsharded commented on #9730
Hi @foobar222

Quick question, which server are you using (and version, just in case)?

[2021-10-05 07:28] memsharded commented on #9729
Hi @jsteinhofff

It seems this functionality would be very challenging to implement. First, because that involves changes server side, and with the growing ecosystem of server implementations, it can take a very long time and be painful. Changing only conan_server and Artifactory to implement this would take many many months (if approved, which seems difficult). The feature must be negotiated with

[2021-10-05 07:37] memsharded commented on #8703
We have started the path to alleviate this issue in https://github.com/conan-io/conan/pull/9520, which is creating a explicit model for OBJECTS, and that will allow to treat link flags more consistently. This can't still be done without breaking right now, will need to wait until Conan 2.0, where we could break.

[2021-10-05 07:57] lasote commented on #9469
Are you saying that the people with "power of moving that issue forward" deserve that language?

Look, WE DO care about your issue, we talked about the symlinks issue several times, we reviewed the @SSE4 approach and we know it is very dangerous and potentially breaks many users. You can see the number of open issues we have in the repository. Have you considered that could be even more important

[2021-10-05 08:22] fsicre commented on #9726
Sur, let's follow #9695.
Many thanks @memsharded & @lasote

[2021-10-05 08:22] #9726 closed, assigned to nobody

[2021-10-05 08:58] foobar222 commented on #9730
conan_server, version 1.37.0, on Ubuntu 18.04.3 LTS.  It's configured to allow unauthenticated downloads:
[code]

[2021-10-05 09:16] memsharded commented on #9730
I am assuming that the ``conan_server`` is running in a different machine than the client one that is being rebooted?

[2021-10-05 09:36] fschoenm opened #9731 "[bug] conan update removed custom cacert.pem"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version:
  * Conan version: 1.40.3
  * Python version:

### Steps to reproduce (Include if Applicable)

I updated conan with `pip install -U conan`. In the next run, conan removed the cacert.pem (and probably replaced it by some kind of default file even though that wasn't what the ou

[2021-10-05 09:37] foundry-markf opened #9732 "[question] Invoking package creation for different patch versions of dependencies"
The subject doesn't do the question justice, so will explain further here. There is a real example of this which I'm looking at right now, but this is simplified.

Suppose we have:
* a mid-graph package called M, which has a runtime requirement on P, where
* package P at version 5.x.y, which contains shared libraries.
* An application A consumes M.

In theory, due to our default package_ids using

[2021-10-05 09:45] memsharded commented on #9732
Hi @foundry-markf

You  have the ``--require-override`` cli option since 1.39, that you can do command line overrides, for this kind of use case.
Please have a look, and let me know if this is what you are looking for.

[2021-10-05 09:49] foobar222 commented on #9730
Yes.

[2021-10-05 09:56] lasote commented on #9730
Hi, the server tokens are expiring by default in 30 minutes (1800 seconds). When the token expires it request again authentication to the user causing the error (because of the non-interactive).
Might be possible that the token is expiring?
You can adjust the `authorize_timeout` at the server config: https://docs.conan.io/en/latest/uploading_packages/running_your_server.html

[2021-10-05 09:57] foundry-markf commented on #9732
Thanks @memsharded. I had completely overlooked that in changelogs. We are also on Conan 1.28 for historical reasons (although I'd really love to upgrade; it just can't happen overnight).

I can do some tests, but probably _not_ an option "right now".

I am also a little hesitant, in that it's experimental (we try not to adopt those bits into our workflow until they're considered stable), and this

[2021-10-05 10:01] a4z commented on #9469
no, and it would be more productive if you would focus on the other part I added to the text, explaining how it was meant (blink in the eye and a translation problem).
It is remarkable that you do not and continue try to put me in a bad spotlight. But also shows where bad intend is, for sure not on my site.

No worries, I will take some distance anyway since the last thing I need is people try to

[2021-10-05 10:11] memsharded commented on #9713
Yes, if Meson while building uses some kind of predefined folder structure, it would totally make sense to implement a ``meson_layout()`` helper.

This is not completely clear, if this is to locate things inside the dependencies folders, then layout() is not the place, as ``layout()`` is intended to model the current project. It can define ``generators_folder`` to say where the generated files (fr

[2021-10-05 10:19] SSE4 commented on #9713
this is not about dependencies, this is about recipe being built itself, as I can say.

e.g. if you create a recipe for `glib`, and do `meson install`, it will install into the `os.path.join(self.package_folder, "lib")` for most of the platforms (e.g. Windows, macOS and 32-bit Linux).
but for Linux x64 (at least for some of distros), it will install it into: `os.path.join(self.package_folder, "lib

[2021-10-05 10:24] foobar222 commented on #9730
Well, the client output says token has expired, so I do believe that is happening. I'm not sure that is the issue, though. The client computer is rebooted once a week, on schedule. The command `conan install` is invoked several times every night, connecting to the conan server. At least once every 24 hours, the token expiration timeout is exceeded, usually without any problems at all, with one exc

[2021-10-05 10:25] SSE4 commented on #9713
for the meson itself, it's explained a bit in their docs (https://mesonbuild.com/Builtin-options.html#directories)
[code]

and that seems to be the code they are doing for the default libdir and some distros (at least debian based):
https://github.com/mesonbuild/meson/blob/246d5f34bbef7f179589c52ccd7d435f57108272/mesonbuild/mesonlib/universal.py#L936
(from issue https://github.com/mesonbuild/meson

[2021-10-05 10:31] SSE4 commented on #9713
for the dependencies: I suppose as long as libraries are within `CppInfo.libdirs` they will be found normally by consumers, even if these directories are non-standard. ofcouse, I think it's worth to add tests for that, but that's not an issue right now.

[2021-10-05 10:39] memsharded commented on #9709
Sorry, this is not a valid feature request:

- Conan install dependencies in a cache, never at the system level, and it will not install packages at the system level.
- Conan manages multiple versions of the same package as necessary, that cannot be managed at the system level.

[2021-10-05 10:39] #9709 closed, assigned to nobody

[2021-10-05 10:50] SSE4 commented on #9712
@memsharded  for 1.x, is it possible do anything to improve the situation?
if we can't change package id, which is definetely breaking, could be there some additional validation maybe?
(maybe activated with some special flag or config entry, e.g. `conan install --check-package-id ...`)
like if I pass `glib:shared=True`, can it check `conaninfo.txt` for all the dependencies in the graph and raise a

[2021-10-05 10:52] czoido commented on #9731
Hi @fschoenm,
Sorry for that, you are right, this should be handled with some similar mechanism from that of the `settings.yml`
We are fixing this in a patch version: _1.40.4_ that we are releasing very soon.
Thanks a lot for reporting.

[2021-10-05 10:56] memsharded commented on #9712
No, there is no infrastructure or place to check or put this. This issue requires taking actions in the recipes to alleviate it, until it is improved with a new package_id computation.

[2021-10-05 11:11] memsharded commented on #9565
https://github.com/conan-io/conan/pull/9678 this a first step to start reducing this issue impact. Just a start, we will keep trying other strategies to keep reducing this.

[2021-10-05 12:16] dmn-star opened #9733 "Do not retry a download if there is no more space on the device."
ERROR: Download failed, check server, possibly try again
**[Errno 28] No space left on device**
Waiting 0 seconds to retry...

Downloading conan_package.tgz:   0%|          | 700k/655M [00:00<05:38, 2.03MB/s
Downloading conan_package.tgz:   0%|          | 1.17M/655M [00:00<03:54, 2.93MB/
Downloading conan_package.tgz:   0%|          | 1.76M/655M [00:00<03:06, 3.68MB/
Downloading conan_package.tgz:

[2021-10-05 13:26] foundry-markf commented on #9732
One other mechanism I thought of was to have duplicate recipes, apart from the requirements, but that also feels wrong in terms of future maintenance.

[2021-10-05 14:23] uilianries commented on #9695
I found a possible solution, build OpenSSL 1.1.1l from sources, then build python. I'll provide a new Docker image for 4.8 and 4.9. I know they are deprecated, but still they are on useless state right now.

[2021-10-05 14:29] memsharded commented on #9732
Well, this is a chicken and egg problem 😅 It was recently introduced, and there are chances that it might need some adjustments after being used in real world setups. So we need to mark it experimental to be able to fix and improve things, and other hand, we need people using it to get that feedback to stabilize things.

Another possibility, maybe more technically sound and scalable (but I am not

[2021-10-05 15:01] wbehrens-on-gh opened #9735 "[question] Unable to find_package with cmake when cross compiling"
I've been creating [this](https://notabug.org/williambehrens/AllWpilibConan) for conan, the package is meant to be used next to a cross compiler for the NI roborio, I have the cross compiler installed on my system and I created a conan profile for it:

### roborio.ini
[code]
and a cmake toolchain file that looks like this:
### roborio.cmake
[code]
the project itself is stored [here](https://github

[2021-10-05 16:20] madebr opened #9736 "[bug] `CONAN_CMAKE_SYSTEM_PROCESSOR` is not applied"
The `CONAN_CMAKE_SYSTEM_PROCESSOR` environment variable is not applied to a cmake build,
instead `CMAKE_SYSTEM_PROCESSOR` is set to `self.settings.arch`.

Reading the documentation about [cmake related environment variables](https://docs.conan.io/en/1.7/reference/env_vars.html#cmake-related-variables), it seems to me that by settings the `CONAN_CMAKE_SYSTEM_PROCESSOR`, the cmake variable `CMAKE_SY

[2021-10-05 17:06] uilianries commented on #9695
@Prasaddiwalkar a new Docker image should be available in few minutes.

[2021-10-05 17:48] czoido commented on #9731
Closed by https://github.com/conan-io/conan/pull/9734 merge in Conan 1.40.4 just released

[2021-10-05 17:48] #9731 closed, assigned to czoido

[2021-10-05 17:50] czoido commented on #9714
We have just released Conan 1.40.4 that should fix the problem with deb packages and certificates, please reopen if the issue persists.
cc/ @bbossola

[2021-10-05 17:50] #9714 closed, assigned to lasote

[2021-10-05 17:51] czoido commented on #9695
If anyone is having problems with the deb package certificates, we have just released Conan 1.40.4 that should fix those problems. Please report if the problem persist.

[2021-10-05 18:16] madebr commented on #9735
Your toolchain file contains: [`set(CMAKE_FIND_ROOT_PATH_MODE_PACKAGE ONLY)`](https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_ROOT_PATH_MODE_PACKAGE.html).
This makes `find_package` only look in `CMAKE_FIND_ROOT_PATH`.

You need to either set `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE` to `BOTH`;
or keep `ONLY` and add the root folder of `allwpilib` to `CMAKE_FIND_ROOT_PATH`.

Imho, conan should a

[2021-10-05 18:19] n-bes opened #9737 "[feature] Conan meson generator"
Hi. I wanted to create a reproducible binary. It be useful meson support as generator.

https://mesonbuild.com/Reproducible-builds.html

[2021-10-05 18:27] n-bes opened #9738 "[feature] github authenticator"
Hi. Conan github authenticator can be useful for some cases, like https://github.com/conan-io/conan-center-index/issues/4

[2021-10-05 19:46] wbehrens-on-gh commented on #9735
CMake does not appear to reconize `BOTH` as a valid option

[2021-10-05 20:16] kenfred commented on #9695
I just updated to 1.40.4 and got the same `HTTPSConnectionPool` error. Was there a a regression in the fix? I resolved the issue by running `conan config` with the repo @memsharded linked above.

[2021-10-05 20:18] memsharded commented on #9695
@kenfred you updated to 1.40.4 from which version? Was there a warning message, or anything in the output about migration? It would be great if you could reproduce somehow that upgrade, I guess that it is not trivial...

[2021-10-05 20:21] memsharded commented on #9737
Hi @n-bes

There is already a Meson integration in Conan. You should have a look https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html, then try it, and report with much more detail what is not working from that starting point and a reproducible case. Thanks.

[2021-10-05 20:24] memsharded commented on #9738
Github authentication has nothing to do with conan-io/conan-center-index#4. We control specifically which Github users can fire builds, and we have an allow-list for them. It is not enough to be authenticated in Github, and in any case, it is only related to contributing to conan-center-index repo, so this is not a Conan feature.

[2021-10-05 20:25] kenfred commented on #9695
@memsharded Unfortunately, I do not know. I fired up WSL and received the error and assumed the conan update would fix it, as it it did on the Windows side. I'm guessing I was somewhere around v1.33, but can't be sure. Below I pasted the upgrade log from pip, if that will tell you anything.

Collecting conan
  Downloading https://files.pythonhosted.org/packages/c8/f4/18ad4bbfdf1805ef6acca24e13e569

[2021-10-05 20:30] memsharded commented on #9695
Nop, the pip install does nothing related to the cacert update. The important bit is the first Conan invocation that calls the migrations procedure.

[2021-10-05 20:33] kenfred commented on #9695
Ah there is the clue we needed:

WARN: ****************************************
WARN: settings.yml is locally modified, can't be updated
WARN: The new settings.yml has been stored in: /home/kfrederickson/.conan/settings.yml.new
WARN: ****************************************
WARN: ****************************************
WARN: 'cacert.pem' is locally modified, can't be updated
WARN: The new 'cacert

[2021-10-05 20:37] nmasseyKM opened #9739 "[feature] Consistent patch handling in conan.tools"
When using `apply_conandata_patches`:
- the `base_path` is set relative to source_folder, but only if the patches are versioned.
- the patch can be specified as a patch_string if the patches are not versioned, but trying to do so on versioned patches raises an exception

[2021-10-05 20:43] memsharded commented on #9695
That is unexpected, yes. If you can forward us the 2 files (cacert.pem.new) and the previous cacert.pem from your cache (to info@conan.io), so we could check them, that could help.

[2021-10-05 20:51] memsharded commented on #9735
Which CMake version?

Conan ``CMakeToolchain`` will require at least CMake 3.15, and also uses the BOTH internally to find the find_package scripts.

[2021-10-05 21:15] wbehrens-on-gh commented on #9735
Im using cmake 3.0, ill try newer

[2021-10-05 21:17] wbehrens-on-gh commented on #9735
I bumped the version to cmake 3.20 and still no luck

[2021-10-05 21:19] n-bes commented on #9737
@memsharded  Could i used it from ```conanfile.txt```?

[2021-10-05 21:21] lasote commented on #9730
This is very unexpected. I made a simple test configuring `read_permissions` to `*/*@*/*: *` and I checked no authentication is required at any time installing packages. So:

- No token should be ever stored in the local database.
- BUT It makes no sense that the client receives an `AuthenticationException` if no token is sent to the server and the server is "open" to read.

So, This is kind of Sh

[2021-10-05 21:25] n-bes commented on #9738
My bad, anyway the feature can be created

[2021-10-05 22:18] memsharded opened #9742 "[feature] Multiple de-activation of new environment"
Multiple env files are grouped in ``conanbuild`` and ``conanrun`` scripts, so they can be called together.
But the deactivation is still individual, and the order must be respected, which is difficult. It would be useful that the aggregated file also knows how to deactivate the activated scripts.

[2021-10-05 23:20] paulocoutinhox commented on #9448
Yes, it is a particular opinion.

But specify particular recipe options always can be used, with a Xcode package/recipe or not.

What we can do is set flags when user enable options explicitly, that is what im suggesting.

If they enable "bitcode", the flags will be defined, else, the default behaviour/flags/etc will still remain intact.

I can create a PR for "ios-cmake" recipe that will enable o

[2021-10-06 01:46] wbehrens-on-gh opened #9743 "[question] How do I package a library for conan when that library didn't use conan originally"
As the title says, say I have a library that has some dependancies that are already in the conan center but the project doesn't use conan, how would I go about packaging that library using the dependancies from conan? I've add the `self.requires()` in `def requirements(self):` but that obviously won't link easily, is there a quick an easy way to do this?

- [ x] I've read the [CONTRIBUTING guide](

[2021-10-06 02:30] Paultergeist commented on #9390
Still reproducible with Conan 1.40.3.

It's even more annoying now with new `core:default_build_profile` in `global.conf`, need to comment the line every time I need to build such package, and then restore it back.

[2021-10-06 08:06] memsharded commented on #9743
Hi @WilliamBehrens

You would need to be more specific. If the project is still not using Conan, you might go step by step:

- First learn how to use Conan dependencies: https://docs.conan.io/en/latest/getting_started.html. You can run that step by step, is tutorial like.
- Then try to do the same for your own project, just consume the dependencies you need, as pure consumer. I'd probably recommen

[2021-10-06 08:12] memsharded commented on #9390
@Paultergeist is it reproducible with the CMakeDeps and MSBuildDeps? It was fixed in #9517, and we added tests there to validate it. The legacy generators like ``cmake`` can't fix this now, we have had a look and it would be too risky, very high likelihood of breaking.

[2021-10-06 08:52] memsharded commented on #9738
I am sorry, but I don't understand at all what you mean. What feature?

[2021-10-06 08:53] memsharded commented on #9737
Yes. To be used together with ``PkgConfigDeps`` for dependencies

[2021-10-06 08:56] tapia opened #9746 "[feature] Update the content of the Markdown generator"
The content that the Markdown generator is creating is very outdated. It should show how to use the new generators (`CMakeToolchain`, `CMakeDeps`, `MSBuildToolchain`, etc). There is a proposal [here](https://docs.google.com/document/d/1PbUUXVHB73Ht3YrmBxndboKMrw-_EXU_o8J8DKeWhWQ/).

[2021-10-06 08:57] dmn-star commented on #9469
Don't get me wrong but there really is hardly anything more important than a working CI, especially when you are just about to release your soft. And without the android-ndk recipe, you simply can't build and publish anything for Android without major modifications.

[2021-10-06 09:20] bbossola commented on #9714
Great, everything works, tested!

[2021-10-06 09:23] Prasaddiwalkar commented on #9695
@uilianries  thanks for the quick response, your fix is working fine for me. All pipelines are reinitiated

[2021-10-06 09:55] foundry-markf commented on #9732
I agree on the chicken-and-egg problem. It's a shame we're not tracking more recent Conan releases yet.

The lock files suggestion sounds interesting. We've discussed internally about how to use lockfiles for both end-products, but also how it might fit into thirdparty library builds. I hadn't considered this particular usage for it. But something I can give it a spin. Agree it would be more scala

[2021-10-06 11:00] franramirez688 commented on #9638
Hi @t7wakim

Several points about this issue:

* For Conan `1.x`, there is not such an easy way to solve this issue.
* For Conan `2.x`, this problem would be already solved.

I think it's worth waiting for Conan 2.0 and checking if it's working as expected.

[2021-10-06 11:14] franramirez688 commented on #9638
I just checked it in Conan 2.0 (`develop2` branch).
For instance:

[code]

As you can see, we have removed the `-j json_file` argument, so, now, you'll have to save it manually in a file (e.g. `conan search -r conancenter poco/1.1.x -f json >> my_json_file.json`) but the JSON-like output has a piece of valid error information.

[2021-10-06 11:25] uilianries commented on #9695
@Prasaddiwalkar Amazing! Thanks for your feedback!

[2021-10-06 11:58] #9638 closed, assigned to franramirez688

[2021-10-06 12:18] franramirez688 opened #9748 "[feature] Refactor new `conan.tools.gnu.pkgconfigdeps.py` module"
Modernize the `PkgConfigDeps` class as it's done in other `conan.tools` modules:

* Use templates to generate the content.
* Simplify the content generation.

[2021-10-06 12:36] lasote commented on #9469
@dmn-star I agree if you were targeting Android (low percentage of users of Conan) and especially the Android NDK conan-center recipe. There were always different alternatives like setup the NDK in the CI machine and just write a profile. That is especially easy with the new toolchains model we are developing for Conan 2.0, but I know companies doing that for years with 1.X versions. The usage of

[2021-10-06 13:55] memsharded commented on #9469
@dmn-star I would also like to add: It is not that Conan client did change something and broke something that was working. That would be a regression, and a different level of priority. The recipe should keep working for previous AndroidNDK releases. The issue is that Android changed the way they are zipping new releases, and the Conan client cannot easily support that new way without a high risk

[2021-10-06 14:32] wbehrens-on-gh commented on #9743
Could you explain a bit what you mean by "new generators" I've used conan for some time but I've just never gone to create a new package that I plan to injest before. on the docs page in the generators sections I only see cmake, cmake_paths, cmake_multi, cmake_find_package, and cmake_find_package_multi

[2021-10-06 14:48] memsharded commented on #3716
Done, already removed in ``develop2``. Only ``conan.tool.files`` ``def collect_libs(conanfile, folder=None)`` is remaining now.

[2021-10-06 14:49] lasote opened #9749 "[2.0] New model references"
The model `ConanFileReference` name should be renamed to `RecipeReference`. (as `PackageReference`)
The internal implementation has to allow altering the data (not tuples) but the references should be unique and centralized.

[2021-10-06 14:50] memsharded commented on #5213
Files already removed in ``develop2``. Only ``conan.lock`` remains, and that will also be revisited.

[2021-10-06 14:50] #5213 closed

[2021-10-06 14:51] memsharded commented on #4599
All these generators already superseded by ``conan.tools`` ones, and will be removed in 2.0 (have been removed in develop2 branch)

[2021-10-06 14:51] #4599 closed

[2021-10-06 14:54] memsharded commented on #8882
``develop2`` branch already implements a cache without ``short_paths``, because it already uses a hash based approach for folders, so they are always short, so this no longer applies, can be closed.

[2021-10-06 14:54] #8882 closed, assigned to memsharded

[2021-10-06 14:58] Trompettesib commented on #8193
Hello,
What is the state of this issue right now ?
I have some trouble on Fedora 30.
Thanks !

[2021-10-06 15:00] memsharded commented on #7105
Reorganization of tools is already in place in ``develop2`` branch. Still to migrate and modernize some tools, but the re-organization is already defined, so this can be closed.

[2021-10-06 15:00] #7105 closed, assigned to lasote, uilianries

[2021-10-06 15:03] memsharded commented on #5177
This has been already implemented in Conan 1.40 with VirtualBuildEnv and VirtualRunEnv, that can be customized in ``generate()``

[2021-10-06 15:03] #5177 closed

[2021-10-06 15:07] memsharded commented on #9743
These are the tools that deprecate all the other integrations and will be the only ones that will survive in Conan 2.0: https://docs.conan.io/en/latest/reference/conanfile/tools.html (they are already available since some releases ago)

[2021-10-06 15:08] a4z commented on #9469
And the reason for that is simply explained:

Its fast to take a CCI recipe and add it to some private place, maybe with some adoptions so it works for the current use case.
And then copy from time to time required updates.

Contributing back to CCI can eat very very many hours, sometimes even with painful review processes, and delayed over days if not longer and you always need to pick up (for yo

[2021-10-06 15:10] memsharded commented on #5270
Already removed, no remaining CONAN_ENV_XXX stuff in ``develop2``.

[2021-10-06 15:12] memsharded commented on #4338
Already removed in ``develop2`` branch.

[2021-10-06 15:12] #4338 closed

[2021-10-06 16:51] a-kryuk opened #9751 "Unhelpful error message (ERROR: 'NoneType' object is not iterable.) when working with faulty (gitlab) remote and range requirement"
When I try to 'conan install' version-range-based requirements for a package from a GitLab remote package repository, I get an unhelpful Python message "ERROR: 'NoneType' object is not iterable." I believe it's triggered by some faulty implementation on the GitLab repository side, but it would be helpful if Conan provided a more specific indication of the error cause.
My example conanfile.py:
[cod

[2021-10-06 17:08] memsharded commented on #9751
While we could capture the returned value, and check for correctness, it seems a bit overkill (there are tons of other points where a bad server implementation could return something unexpected, and I would prefer not to be over-protective in code, if not super-necessary, like users typical failures. But a server implementation failure shouldn't be common issue). Have you filed an issue against th

[2021-10-06 17:44] a-kryuk commented on #9751
I have not submitted an issue to GitLab for this particular case because they seem to have a few related problems already (e.g. [Conan version ranges not handled properly by GitLab](https://gitlab.com/gitlab-org/gitlab/-/issues/287819)).
I understand that catching and reporting all the specific protocol errors would be a lot of work with a limited pay-off but it would be sufficient and helpful for

[2021-10-06 18:40] memsharded commented on #9751
Well, it never hurts (on the maintainer side), to have more evidence of what is failing and not. Better have many reports than none, I would certainly appreciate it. In the meantime, you might want to try ArtifactoryCE if you have some server there you could run it, it is completely free.

Lets label this as easy, will not be a priority, but if someone wants to contribute it, could be ok.

[2021-10-06 19:50] wbehrens-on-gh commented on #9743
That makes a lot more sense, I've gotten everything working now

[2021-10-06 19:50] #9743 closed, assigned to memsharded

[2021-10-06 20:10] Wuestenschiff commented on #7526
@memsharded  Well then I understood but this is a problem when server just decide to block requests and brick builds. (like cloudlfare in https://github.com/conan-io/conan-center-index/issues/7478)

I think a possility to change this for clients would be very appreciated in such situations

[2021-10-06 20:18] n-bes commented on #9738
Support a custom github authenticator like this: https://github.com/uilianries/conan-ldap-authentication or https://docs.gitlab.com/ee/user/packages/conan_repository/

[2021-10-06 20:22] n-bes commented on #9737
ok, i'll test it
@memsharded thank you

[2021-10-06 20:22] #9737 closed, assigned to nobody

[2021-10-06 20:30] jwillikers opened #9753 "[bug] CMakeToolchain always enables CMAKE_POSITION_INDEPENDENT_CODE"
### Steps to reproduce (Include if Applicable)

Using the CMakeToolchain generator, run `conan install` and disable `fPIC` option.
The generated CMakeToolchain file will contain `CMAKE_POSITION_INDEPENDENT_CODE=ON`.

This is obviously due to a typo fixed by #9752

[2021-10-06 21:01] memsharded commented on #9738
If you mean server side, as a feature to the ``conan_server``, please be clear about it.
Are you using ``conan_server`` anyway? The recommended server for production is ArtifactoryCE, which includes more authentication mechanisms. For ``conan_server`` we prefer not to have to maintain authentication mechanisms, and that is the reason a plugin mechanism is provided and users can provide their own i

[2021-10-06 21:02] memsharded commented on #9743
Ok, happy to hear that it is working @WilliamBehrens
Don't hesitate to open new tickets if you have further questions.

[2021-10-06 21:10] memsharded commented on #7526
@lasote @jgsogo, it seems the ``python-requests`` user agent is the one generally having issues in some servers. Is it that necessary? Maybe we could just remove it?

[2021-10-06 21:50] memsharded commented on #5309
A whole new model for environment definition has been introduced from Conan 1.40, and this will be the one to move forward in 2.0. Check: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html.

I think this can be closed now, thanks!

[2021-10-06 22:21] lasote commented on #7526
I don't have any reason to keep it.

[2021-10-06 23:42] Paultergeist commented on #9390
@memsharded No, I was trying with `cmake` generator. I thought that it would be fixed eventually for it too.

I never used `CMakeDeps` generator, I'll try it a bit later and report.

[2021-10-07 09:37] H-G-Hristov opened #9756 "Xcode 13 support?"
The following is supposed to upgrade conan:

pip3 install conan --upgrade

Got it:

Package                                           Version
conan                                             1.41.0

Then I deleted `~/.conan` Then ./make.py all and the result is still:

...
Found apple-clang 13.0
Default settings
    os=Macos
    os_build=Macos
    arch=x86_64
    arch_build=x86_64
    compiler=ap

[2021-10-07 09:40] #9756 closed, assigned to nobody

[2021-10-07 09:57] jgsogo commented on #7526
Hi! I'm not sure if this is related to the user-agent.... but if it fixes the issue, IMO it is safe to remove the `python-requests` part.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/406

[2021-10-07 11:47] NashTools opened #9757 "[question] Only allow binary download for Conan package"
We work with a big team and we would like the source code of some sensitive parts of our system not to be accessible to all developers. We have moved those parts of the code to separate libraries, which reside in a Conan package in a self hosted artifactory.
Is there a way to configure the package such, that the developers only have access to the compiled binaries but not to the source code?

- [x

[2021-10-07 11:51] memsharded commented on #9757
Hi @NashTools

Yes, this is doable, you can use the ``scm`` feature (https://docs.conan.io/en/latest/creating_packages/package_repo.html#capturing-the-remote-and-commit-scm) to capture the url and commit of the source code into the recipe, but not the actual source code. Only the people with credentials to that source repo will be able to see the code or build the package from sources, while other

[2021-10-07 14:40] gazzatav opened #9759 "Response from remote is not json, but 'text/html; charset=utf-8'. [Remote: conanio]"
* Operating System+version: Ubuntu 18.04
  * Compiler+version: GCC 7 and GCC 11
  * Conan version: Conan version 1.41.0
  * Python version: Python 3.6.9

Since upgrading (due to the certificate problem) using `python3 -m pip install -U conan`, I have version 1.41.0  but when I run the command:
`conan search -r conanio tao*` for example, instead of a listing I get the text of a web page and the fin

[2021-10-07 14:49] czoido commented on #9759
Hi @gazzatav,
Please read: https://github.com/conan-io/cmake-conan/issues/365#issuecomment-937809545
The remote address is: `https://center.conan.io` not `https://conan.io/center`

[2021-10-07 14:49] lasote opened #9760 "[feature] Remove "requests" from the user-agent"
Related to #7526
It might be useful and we really don't need that value in the user-agent.

[2021-10-07 14:50] lasote commented on #7526
I created https://github.com/conan-io/conan/issues/9760 and assigned it to the release.

[2021-10-07 15:07] madebr commented on #7526
I have this problem when packaging arm toolchains at https://github.com/conan-io/conan-center-index/pull/6822,
Adding the following http headers fixes it:
[code]

[2021-10-07 15:33] SSE4 commented on #9760
@danimtb is it used internally to filter/gather statictics for http headers, e.g. to distinguish conan client with other traffic?

[2021-10-07 15:55] jgsogo commented on #9760
No the `python-requests` part. We get only the Conan version, the Python version, and the OS from the user-agent.

[2021-10-07 16:15] #9666 closed, assigned to memsharded

[2021-10-07 21:30] gazzatav commented on #9759
Hi @czoido, Thank you - I just could not find that documented anywhere easy to find - and now that I know it I can find it!

[2021-10-07 21:30] #9759 closed, assigned to nobody

[2021-10-08 02:25] puetzk commented on #9527
That actually  isn't quite true, as I mentioned (in passing) over in https://github.com/conan-io/conan/issues/8074#issuecomment-846632671 some months back.

If any recipe is using compatible_packages and you *want* to use that fallback, you have to be online. Because conan will never cache the absence of a binary locally, and will thus insist on checking remotes for its first-choice flavor every t

[2021-10-08 02:54] SpaceIm opened #9761 "[bug] CMakeToolchain: don't set CMAKE_GENERATOR_PLATFORM if Visual Studio xx yyyy arch"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2017
  * Conan version: 1.41.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

- Call conan install with `CMakeToolchain` generator and `Visual Studio 15 2017 Win64` cmake generator.
- give this toolchain in a cmake command line with `

[2021-10-08 04:20] drmacdon commented on #9390
I like CMakeDeps. With conan 1.41.0, I did notice if I set a requirement to be private=True that my imports() copy fail to occur for that dependency.

[2021-10-08 05:04] drmacdon commented on #9390
I also don't get any package configs generated for build_requirements() dependencies when I use:

conan install .. --build missing --profile:build default --profile:host default

build I do when I use:

conan install .. --build missing

Which both logically should be equivalent.

[2021-10-08 07:44] memsharded commented on #9527
Yes, that is true. In fact, this is one of the things that we are considering moving forward in Conan 2.0, and we will discuss it with the tribe soon.

but besides that functionality, if you are not using ``compatible_packages``, then working offline should be possible. Please @blackliner clarify if that could be your issue, or if not, let us know if there is some way to reproduce it.

[2021-10-08 09:57] petermbauer opened #9762 "[question] revision_mode "scm" and Jenkins PR builds"
As the package revision is taken from the current Git commit hash i was wondering how this works together with Jenkins PR builds. For such builds, Jenkins merges the target branch (e.g. develop) into the source branch (e.g. featureXY) locally on the respective Jenkins node which results in a new Git commit. As the commit hash depends on the current time, this hash will be different on every Jenkin

[2021-10-08 10:26] #9512 closed, assigned to nobody

[2021-10-08 10:33] ghost opened #9763 "boost/1.72.0 bug"
### Environment Details (include every applicable attribute)
  * Operating System+version: window 10 pro
  * Compiler+version: gcc + 8
  * Conan version: 1.41
  * Python version:  3.8.8

------ by running this comman >conan install .. --build=missing

ERROR: Error, the file to download already exists: 'C:\Users\Lenovo\.conan\data\boost\1.72.0\_\_\dl\export\conan_sources.tgz'. [Remote: conancenter]

[2021-10-08 10:50] bldrvnlw commented on #6891
Nice to see this reopened. We also have a similar situation where access to the git (specifically the current branch name) is used to derive information for the build. In our case that is the versioning for feature branches which need to be coordinated across projects.

For the moment I can use the export() method route to communicate the necessary information.

[2021-10-08 11:18] SSE4 opened #9764 "[feature] CMakeDeps : custom variables"
might be something similar to #8360

need to think about UX a bit, as some variables need conditions
the usage is pretty common in conan-center
examples:
https://github.com/conan-io/conan-center-index/blob/master/recipes/libxml2/all/conanfile.py#L320
https://github.com/conan-io/conan-center-index/blob/master/recipes/freetype/all/conanfile.py#L183
https://github.com/conan-io/conan-center-index/blob

[2021-10-08 11:25] SSE4 opened #9765 "[feature] pkg-config improved UX for custom variables"
there is a [pkg_config_custom_content](https://docs.conan.io/en/latest/reference/conanfile/attributes.html?highlight=pkg_config_custom_content) property, but it uses an arbitrary string blob to insert.
it would be nice to have an improved UX to pass a dictionary of variables, just like in CMakeDeps (see #9764, #8360):
[code]
a few examples in conan-center:
https://github.com/conan-io/conan-center-

[2021-10-08 13:45] alsora opened #9766 "[bug] env is erased after deactivating virtual env and virtual run env"
Conan virtual env scripts store original env in some variables (e.g. `OLD_CONAN_PATH`).
This way, after deactivating a virtual env, it is possible to restore the original one.
However, this does not work if using multiple virutal environments that act on the same variables.

### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 18.04
  * Compiler+version

[2021-10-08 14:15] wbehrens-on-gh opened #9767 "[question] Unable to copy files in package method"
I have a package method that looks like the following
[code]
No matter what I do none of the files I call `self.copy()` on are actually copied to the package directory. what gives? I checked and all the files exist in the places I specified but they don't get copied to where I want.

-  [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-08 15:13] #9166 closed, assigned to nobody

[2021-10-08 15:22] kenfred commented on #9761
I have tried to work around this in a couple ways:

- In the `build` method, set the `generator` argument of the `CMake` object: `cmake = CMake(self, generator="Visual Studio 15 2017")`. This does not fix the problem. It doesn't seem to override the generator as expected.
- In the `generate` method, take out the offending cache variable: `tools.replace_in_file("conan_toolchain.cmake", "CMAKE_GENER

[2021-10-08 15:55] KerstinKeller opened #9768 "[feature] conditional alias packages"
I would like to be able to make conditional aliases. I would like to use them to model system versions, and require them like:

[code]

With the current definition, I cannot make aliases depend on settings.

It would be cool to have a `set_alias()` function (similar to `set_name()`, `set_version()` functions).
Or to be able to set the values in `configure()` instead (which actually also works for

[2021-10-08 16:34] franramirez688 commented on #9763
Hi @botla04

It usually happens whenever the remote from where you downloaded the package is not available anymore, then when you try to build that one locally again it fails.
I think, as a workaround, you should clean that `boost/1.72.0` package from your local cache and build it again, sorry.
We should improve that error message to explain better what's happening.

[2021-10-08 18:15] memsharded commented on #9761
the thing is that when ``conan install`` is called it generates a ``conan_toolchain.cmake``. When ``compiler=VIsual Studio`` and ``arch=x86_64`` there are 2 alternatives here:

- The ``conan_toolchain.cmake`` contains the CMAKE_GENERATOR_PLATFORM = x64 , and then it is not necessary to pass the ``Win64`` or other platform especification to ``cmake ...`` command line
- The ``conan_toolchain.cmake``

[2021-10-08 19:03] SpaceIm commented on #9761
I say that conan should trust what consumer gave in `tools.cmake.cmaketoolchain:generator`, because it's what consumer expects to use.

I think that conan should follow this precedence to deduce the generator for the logic in the file generated by `CMakeToolchain`:
- `tools.cmake.cmaketoolchain:generator` (in command line or hardcoded in `conanfile.py`)
- `cmake_generator` in `conan.conf`
- a defa

[2021-10-09 02:30] wbehrens-on-gh commented on #9767
update: I've been searching for a solution all day and still haven't found one

is there a log of file copies I can check to make sure they're going where they should?

[2021-10-09 08:04] DDkuang opened #9769 "[bug] SSL: CERTIFICATE_VERIFY_FAILED"
### Environment Details (include every applicable attribute)
  * Operating System+version:Ubuntu 20.04
  * Compiler+version: gcc 10.3.0
  * Conan version: 1.40.1
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
1. conan search "protobuf*" -r conancenter

### Logs (Executed commands with output) (Include/Attach if Applicable)
ERROR: HTTPSConnectionPool(host='center.conan.i

[2021-10-09 08:21] DDkuang commented on #9769
Use http://curl.haxx.se/ca/cacert.pem to replace .conan/cacert.pem and conan search succeeds.
Please ignore the pull request.

[2021-10-09 08:23] DDkuang commented on #9769
https://github.com/conan-io/conan/pull/9696

[2021-10-09 13:17] #8743 closed, assigned to nobody

[2021-10-09 16:21] cheog opened #9771 "[feature] [2.0] Make conan use conanonical config/cache/etc files."
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

# Tl;dr
## What I'm suggesting

Stop using HOME/.conan for everything and instead use the canonical folders. So on linux settings.yml would go in HOME/.config/conan since it's configuration and the data folder would go in HOME/.cache/conan since it can easily be regenerated.

The pyth

[2021-10-09 18:27] uilianries opened #9772 "[feature] Accept verbose build for Meson"
The new [Meson](https://docs.conan.io/en/latest/reference/conanfile/tools/meson.html#meson) build helper does not offer a way to execute a verbose build, when used with `MesonToolchain`. So far, we need to trick `target` argument with `--verbose`. My suggestion is adding a new parameter to be used when building:

[code]

It will be equivalent to:

    meson compile -C "src/" --verbose

- [x] I've

[2021-10-10 15:40] SSE4 commented on #9771
I think it's essentially the same as https://github.com/conan-io/conan/issues/2526

[2021-10-11 07:51] memsharded commented on #9769
Hi @DDkuang

Yes, this was a duplicate of https://github.com/conan-io/conan/issues/9695, was solved in 1.40.3 and with a ``conan config install`` new repo for older versions. I think this can be closed, thanks!

[2021-10-11 07:51] #9769 closed, assigned to nobody

[2021-10-11 09:18] memsharded commented on #9761
the problem is that the profile defines 2 things:

[code]

The ``settings`` is one of the most important things there, the dependencies will be installed for ``x86`` 32bits architecture, much before the ``CMakeToolchain`` genererator kicks in. Actually, it is completely possible that the ``generate()`` method could have a conditional based on the OS and only uses ``CMakeToolchain`` for some specif

[2021-10-11 09:36] bjoernbahn opened #9774 "[bug] Libzip option with_openssl not available"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 and Ubuntu 20.04
  * Compiler+version: gcc 9
  * Conan version: 1.40.4
  * Python version: 3.8.6

### Steps to reproduce (Include if Applicable)
I need to have a possibility to get libzip without openssl. I updated my dependency from 1.5.2 to 1.8.0, since the older versions are not available:

[re

[2021-10-11 09:38] dphoyes commented on #9666
Please can this be reopened? The original issue here was that Conan is generating files in a source directory instead of an install directory, and as explained above, this is still reproducible in the updated example as soon as we configure the install directory to be somewhere different from the source directory.

[2021-10-11 10:56] memsharded commented on #9666
Hi @dphoyes

I am not sure what is the issue. With the new ``layout()`` and the new integrations the ``--install-folder`` argument shouldn't be necessary, because that is only necessary for ``conan build``, and in the updated examples that is not used at all, because the native build system integration, i.e. calling directly ``cmake ....`` is preferred. The ``--install-folder`` argument will compl

[2021-10-11 10:59] memsharded commented on #9774
This is not a Conan issue, definitely not a bug. Just the new version in ConanCenter repository has changed.
The recipe for new version now contains different options:

[code]

It seems that you want to do ``libzip:crypto=False``

[2021-10-11 11:01] memsharded commented on #9774
There are different ways to see this:
- https://conan.io/center/libzip
- ``conan inspect <recipe ref like libzip/version@>``
- ``conan get <recipe ref like libzip/version@>``

[2021-10-11 11:44] memsharded commented on #9766
Hi @alsora

We are replacing the generation of env scripts with the new ``VirtualBuildEnv`` and ``VirtualRunEnv`` generators, that intend to completely deprecate the previous ones in Conan 2.0. They use a new approach for avoiding that problem, creating the ``deactivate`` scripts at execution time, not at generation time. Maybe you could give them a try and see if they would solve your issue?

[2021-10-11 12:35] alsora commented on #9766
Thank you for the quick response.
I just tried to use the generators that you mention.

However, I don't see the scripts for deactivating them.
Looking at `cat conanbuildenv.sh` I see that it exports all the variables but there's nothing related to deactivation there.

[2021-10-11 13:14] memsharded commented on #9766
That is the point. The deactivate script is actually created when you run the activation. The principle is that the deactivation should restore the environment when the activation occured, not when the activation script was generated, which was what the previous approach was doing.  Please try running the ``activate`` script (maybe it is because the deactivate code is only generated by default in

[2021-10-11 13:41] foobar222 commented on #9730
Updated and simplified steps to reproduce (there were other things going on that I wasn't aware of first, thanks for the hint on `users_remote` table):

1. Server configured to allow unauthenticated download, and require authentication for all uploads:
[code]
2. Build and upload a package, using authentication with environment variables `CONAN_LOGIN_USERNAME` and `CONAN_PASSWORD`. This step succee

[2021-10-11 14:28] jgsogo commented on #7573
This issue is about Bintray remote which has been deprecated for months... New issues might be related to the new infrastructure. Let's close this one, better not to mix them.

[2021-10-11 14:28] #7573 closed, assigned to jgsogo

[2021-10-11 15:36] chausner-audeering commented on #6972
I agree that the usefulness of the `--json` option is somewhat limited since it always writes to a file but normally you would want to avoid that when calling Conan from a script. Instead, the script would read the output of conan through a pipe.

I tried `--json /dev/stdout` on Linux which kind of works but Conan continues to write its normal output to stdout, as well, so the outputs get intermin

[2021-10-11 16:59] memsharded commented on #6972
Conan 2.0 is getting closer:

- Formatters will output to stdout, to be able to pipe.
- Files will be created with redirection
- App messages will be send to stderr to avoid polluting stdout output

[2021-10-11 18:07] udovenkoav1981 opened #9775 "[bug] not possible to override sub-dependency"
### Environment Details (include every applicable attribute)
  * OS independent:
  * Compiler independent:
  * Conan version 1.40:
  * Python version 3.6.9:

### Steps to reproduce (Include if Applicable)
conan install gst-plugins-base/1.19.1@ --build=gst-plugins-base

### Logs (Executed commands with output) (Include/Attach if Applicable)
ERROR: Conflict in flex/2.6.4:
    'flex/2.6.4' requires '

[2021-10-11 18:33] memsharded commented on #9775
It seems this conflict comes because of ``build_requires``, not regular requires, and might not be possible to override it as a regular require.

Could you please try the following?
- Create a local profile file, like ``myprofile``
- Add there:
[code]
- Run your ``conan install ... -pr=myprofile`` to inject that build_require

[2021-10-11 18:48] udovenkoav1981 commented on #9775
i try, got same situation:

/temp$ conan install . --build=gst-plugins-base
Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.libcxx=libstdc++11
compiler.version=7
cuda_version=10.0
os=Linux
os_build=Linux
[options]
[build_requires]
bison: m4/1.4.19
[env]

gst-plugins-base/1.19.1: Forced build from source
ERROR: Conflict in flex/2.6.4:
    'flex/2.6.4

[2021-10-11 18:49] jwillikers commented on #9663
You can override the `try_compile` block's template used to generate the `conan_toolchain.cmake` file and set the CMake variable appropriately.

[code]

Or, to make things even simpler, you can just set the variable using the the `variables` dictionary belonging to your CMakeToolchain instance.

[code]

[2021-10-11 19:51] upsilona opened #9808 "[question] Force cross compilation"
Hello everyone,
I have a question regarding the cross compilation detection in conan. Reading the code I saw we assume cross compilation is enabled if `os` and / or `arch` is different between host and build. I managed to embed a Linux SDK for several targets archs into a conan package of my own. However I face compilation issues for x86 / x86_64 because of missing compilation flags, due to conan

[2021-10-11 21:04] udovenkoav1981 commented on #9775
I make a copy of recipie gst-plugins-base, and add manually self.build_requires("m4/1.4.19") to section build_requirements, and got same situation.

    def build_requirements(self):
        self.build_requires("meson/0.54.2")
        if not tools.which("pkg-config"):
            self.build_requires("pkgconf/1.7.4")
        if self.settings.os == 'Windows':
            self.build_requires("winflex

[2021-10-11 21:54] memsharded commented on #9775
But you didn't use the profile, your command line is ``conan install . --build=gst-plugins-base``, and it must include ``--profile=myprofile``. Or did you changed it in your default profile?

[2021-10-11 21:55] memsharded commented on #9730
Thanks very much for your details to reproduce, it really did help.
I managed to write a failing test for it:

[code]
A bit rough with the time.sleep (we shouldn't put that in our test suite), but at least it fails. Lets try to understand now what is happening.

[2021-10-11 21:59] udovenkoav1981 commented on #9775
Yes.

[2021-10-12 04:34] kenfred commented on #9761
@memsharded I understand your point about not giving the user the ability to specify conflicting arch and cmake generators. However, in my case, I did not specify the generator, only the architecture. The `CMake` helper in the `build` method chose the generator of "Visual Studio 15 2017 Win64" based on arch = x86_64, which CMake errors out on when `CMAKE_GENERATOR_PLATFORM` is defined as "x64", al

[2021-10-12 08:21] memsharded commented on #9761
Which one do you mean? Because the previous, legacy ``CMake`` cannot be used with ``CMakeToolchain``, the new one from ``from conan.tools.cmake import CMake`` is the one that must be used together with ``CMakeToolchain``.

By the way, the above:
[code]
Is unnecessary, as the Visual will be the default generator selected from the settings. Defining the ``tools.cmake.cmaketoolchain:generator`` conf

[2021-10-12 09:15] aminya opened #9777 "[bug] Conan cannot be installed through Winget due to Windows defender blocking AppInstallerCLI.exe"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win 11
  * Compiler+version: -
  * Conan version: 1.41.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)

Try to install Conan using Winget.

I use the protected folders feature of Windows Defender, but the Conan installer should not need to modify those folders! The warning that I ge

[2021-10-12 10:28] chausner-audeering commented on #9529
@daravi Did you solve this issue? I am experiencing the same error with a different setting. I created a `global.conf` file in `~/.conan` with the following content:
[code]

Running any Conan command only prints:

[2021-10-12 10:35] chausner-audeering commented on #9529
@daravi I think we have both misinterpreted the docs at https://docs.conan.io/en/latest/reference/config_files/global_conf.html#tools-configurations. The example that is given there refers to profiles but not `global.conf`, I think.

[2021-10-12 10:46] derived-coder commented on #7192
@rddesmond
Any update on this issue?

Is the error also reproducible without conan?

[2021-10-12 11:04] alsora commented on #9766
I'm currently using Conan 1.40.3.
This is my generators list
[code]
I don't have an `activate` script. I see the following files:
 - `conanbuildenv.sh`
 - `conanenv.sh` (this scirpt is a one-liner that sources `conanbuildenv.sh`)
 - `conanrunenv.sh`

I will try with a new version of conan

[2021-10-12 11:08] schwaerz commented on #3573
@memsharded I am not sure whether I got you correct. You are planning to implement support for compiler minor versions in a way that the user will be able to choose which compiler to use during the build?
Actually I am almost 100% sure that this will not solve the issue completely. Actually we mostly will only have one compiler version installed per tool set. I am also not sure whether the install

[2021-10-12 13:33] gpioloco opened #9778 "[bug] conan_build_info --v2 create Remote Issue"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Not used
  * Conan version: 1.40.1
  * Python version: 3.8.9

### Steps to reproduce (Include if Applicable)
1. Create a conan file with the following content:
[code]
2. Create an empty txt file named : "content.txt"
3.
[code]
4.
[code]
5.
[code]
6.
[code]

### Logs (Executed

[2021-10-12 13:42] jwillikers commented on #9414
@kenfred I'm running into your same issue with `CMakeToolchain` and having packages apply settings through the toolchain. It seems like the only way around this for now is to add a bunch of additional settings and use a shared `python_requires` toolchain that correctly implements all the compiler / CMake flags for the various settings because the current CMakeToolchain is extremely minimal. This d

[2021-10-12 14:04] kenfred commented on #9761
Oh! I didn't realize there were two cmake helpers. So currently we have a cmake generator, the cmake helper in `conans`, and the cmake helper in `conan.tools.cmake`. It is now my understanding that the two former will be deprecated and the cmake helper in `conan.tools.cmake`, in conjunction with `CMakeDeps` and `CMakeToolchain`, is the way forward. Is that correct?

[2021-10-12 14:38] jwillikers opened #9779 "[feature] CMakeToolchain generator doesn't adequately represent settings nor does it follow a standard method of overriding C, CXX, and linker flags"
The CMakeToolchain generator lacks critical functionality for implementing various Conan settings from the `settings.yaml` file, and it doesn't provide adequate control for consumers to control settings across dependencies.
The new CMakeToolchain generator is very helpful for orchestrating building and packaging CMake projects, but isn't robust enough to properly propagate settings from consumers

[2021-10-12 14:50] kenfred commented on #9414
@jwillikers Yes, I'm finding the new paradigm of having packages themselves dictate consumer generator behavior to be problematic. Of course, it is certainly necessary for a package to describe its build products and other cpp info. However, it is unfortunate that I have to roll a package based on changing generator behavior, specific consumer requirements, or potentially because of introduction o

[2021-10-12 14:56] ghost commented on #9763
hello ,

i tried by deleting all data files in local cache in .conan/data folder
deleted binaries and packages ,
if i executing the conan install . --build=missing
getting the below error .....

...failed updating 2 targets...
boost/1.72.0:
boost/1.72.0: ERROR: Package 'f0ee52ef9347335ea2fc37989d484b2921f9fd66' build failed
boost/1.72.0: WARN: Build folder C:\.conan\0506f3\1
ERROR: boost/1.72.0: E

[2021-10-12 15:16] jwillikers commented on #847
Yeah, I think supporting the various CPU architectures out there is absolutely necessary for Conan to adequately cover binary compatibility. It seems like there should be sub-settings to cover the intricacies of specific architectures, like the FPU for `armv7hf` and whether or not to use thumb in this case, which ends up being a distinct ISA.

[2021-10-12 15:21] jwillikers commented on #9493
It seems like architectures should incorporate sub-settings to better define specifics, like perhaps the overall architecture is `riscv` but then sub-settings further define `32`, `64`, or `128` bit versions and then various letters can be set as extensions. Is it possible to do that without having to enumerate every possible combination of extensions, i.e. letters?

[2021-10-12 15:35] jwillikers commented on #9414
@kenfred Yeah, it does sound like the visitor pattern would be a good paradigm for improving extensibility. A good test is probably whether support for Google Sanitizers can be used across a project and its dependencies without having to reach into dependencies' recipes.

[2021-10-12 16:56] memsharded commented on #9761
Yes, exactly! Only things from ``conan.tools`` will be usable from recipes, all other imports will be deprecated, including the ``from conans import CMake`` (we still need to move the base ConanFile too). The new CMake integration, that should be used together and shouldn't be mixed with the legacy lives all in ``conan.tools.cmake``, yes.

[2021-10-12 17:04] wbehrens-on-gh opened #9780 "[bug] scm attribute doesn't work correctly with svn"
I've created a conanfile.py for a library I'm working with and I'm pulling it's sources from svn using the scm attribute as follows.
[code]
and calling conan create on it in Windows 10 everything works as expected and the package builds. But when I switch over to Ubuntu 20.04 and run the same command conan returns saying:
[code]
and I checked and svn is installed at version 1.13.0, What's weird is

[2021-10-12 17:07] wbehrens-on-gh commented on #9780
And just to clarify, I did test adding a username and password to scm and that didn't fix it.

[2021-10-12 17:11] memsharded commented on #9779
Hi @jwillikers

I am not sure what you mean with:

The purpose of ``CMakeToolchain`` has always been to map from the Conan ``settings`` to the CMake configuration. It didn't intend so far to propagate and inject any arbitrary flag or configuration, because that is something way more challenging, can also affect binary compatibility without any model at all, and that is problematic. We have enabled

[2021-10-12 17:17] memsharded commented on #9763
This could be an issue of the ``boost`` recipe itself, that is not able to correctly compile in Windows with gcc, not a Conan issue.
You need to report more part of the terminal output, specifically that one including the actual build errors, not just the Conan message.

Any specific reason you are building with gcc in Windows? Typically packages from ConanCenter will have much better support for

[2021-10-12 17:17] wbehrens-on-gh commented on #9780
update: I'm now getting the bug on both platforms now

[2021-10-12 17:18] jwillikers commented on #9779
@memsharded Thanks, you addressed my primary concern by pointing out that the `CMakeToolchain` should handle converting the settings to the necessary toolchain configuration and compiler linker flags. I'll open individual issues for each specific piece that's not implemented in the CMakeToolchain generator yet. These are mostly around embedded systems. Thanks again.

[2021-10-12 17:24] memsharded commented on #9766
Yes, the files are:

- conanbuildenv.sh: The environment for building (including build_requires). This is the equivalent of ``activate``, you can source it
- conanrunenv.sh: The environment for running (including LD_LIBRARY_PATH of ``requires`` in the host context with shared libs, for example). You can also source it for things like running tests.
- conanbuild.sh and conanrun.sh are aggregators,

[2021-10-12 17:27] memsharded commented on #9529
@chausner-audeering

Yes, the example there refers to ``Profile values ...``, not to the actual ``global.conf`` file. Most likely the docs can be improved, they are a bit rough now.

The ``global.conf`` doesn't contain the ``[conf]`` header, the contents can be the same items that are under the ``[conf]`` section in a profile (except the ``core`` items cannot be defined in the profile so far).

[2021-10-12 17:27] alsora commented on #9766
In my pipeline I'm actually using conan only to fetch dependencies and generate the scripts.
Then I source them "manually" from a bash script and build my application.

Is this any different than using the run method?

[2021-10-12 17:29] memsharded commented on #9766
No, it is the same. It was just in case you were using it from recipes. The ``self.run(cmd, env=["somefile"]`` basically constructs a command line like ``source somefile.sh && cmd``, so recipe writers don't need to do that manually in recipes.

[2021-10-12 17:36] memsharded commented on #7912
This was solved some time ago by moving ``CMakeToolchain`` to a composition approach, based on extensible "blocks", please check latest docs, this can be closed.

[2021-10-12 17:36] #7912 closed, assigned to nobody

[2021-10-12 17:41] memsharded commented on #9779
Amazing, we are looking forward to keep improving the CMakeToolchain for embedded systems, thanks very much! (we also have pending the issue of adding some basic, common semantics to ``settings.yml`` like an ``os: embedded`` value or something like that)

[2021-10-12 17:43] memsharded commented on #9775
I am pinging @uilianries and @SSE4 to see if there is something on the ConanCenter recipe side that could help with this.

[2021-10-12 18:05] memsharded commented on #9730
Doing an exploratory PR in https://github.com/conan-io/conan/pull/9781, to see what could break

[2021-10-12 18:10] memsharded commented on #9780
Hi @WilliamBehrens

It seems the detection of ``svn`` is done with the ``svn info`` command. Could you please try that in the terminal, just in case?

[2021-10-12 18:28] wbehrens-on-gh commented on #9780
output of svn info:
[code]

[2021-10-12 20:02] memsharded commented on #9777
Hi @aminya

I haven't used Winget yet, I don't know how it works. Are you using the installer we are providing on our downloads page, and then feeding it to Winget? Or how does it work? Who is providing the ``JFrog.Conan.1.41.0.exe`` file? I am not aware of this file at all

[2021-10-12 20:03] udovenkoav1981 commented on #9775
I think you need to provide possibility to  override dependency in build requires.

[2021-10-12 21:18] jwillikers opened #9782 "[bug] CMakeToolchain does not translate the arch setting for armv7hf"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 35
  * Compiler+version: GCC 11
  * Conan version: 1.41.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

Building for many architectures is not yet supported in the CMakeToolchain generator.
For this specific use-case which is a bare-metal target, support for gene

[2021-10-12 21:27] jwillikers opened #9783 "[bug] CMakeToolchain does not properly set CMAKE_TRY_COMPILE_TARGET_TYPE for bare metal targets"
### Environment Details (include every applicable attribute)

  *  Operating System+version: Fedora Silverblue 35
  *  Compiler+version: GCC 11
  *  Conan version: 1.41.0
  *  Python version: 3.10

### Steps to reproduce (Include if Applicable)

For bare metal targets, CMakeToolchain does not set `CMAKE_TRY_COMPILE_TARGET_TYPE` to `STATIC_LIBRARY` which is necessary for CMake to function when buil

[2021-10-12 23:06] datalogics-kam opened #9784 "[question] How to override or prevent auto-linking that a requirement does?"
Let's start this as a question. What's the best way to override the way a requirement links to a transitive requirement?

Scenario: The new Boost recipe automatically causes linking to `icu::icu`, but we don't want to ship _all_ the ICU dylibs, only the ones that are necessary. To do that, our program links ICU manually. Which is fine, except that the build ends up linking part of ICU (for our pro

[2021-10-13 06:24] julienalofs opened #9785 "[bug] creating a package in "shared=True" mode cannot link to another package"
Hello there,

I have two packages:
- mylib_a: no dependency
- mylib_b: call to mylib_a()

mylib_a package is created in local repo.
When I create a package for mylib_b, everything is fine in "Shared=False" mode but I get unresolved external symbol when "Shared=True".

### Environment Details
  * Operating System+version: Windows 10 Pro 20H2 19042.1237
  * Compiler+version: Visual Studio version 16

[2021-10-13 07:09] czoido commented on #9778
Hi @gpioloco,

That link is outdated, please check:
- https://docs.conan.io/en/latest/howtos/generic_ci_artifactory.html
- https://docs.conan.io/en/latest/reference/commands/misc/conan_build_info.html#conan-build-info-v2

It's important that you upload your packages to Artifactory before creating the BuildInfo, seems like you are not uploading them.
Also, seems that you are not adding the credenti

[2021-10-13 07:16] gpioloco commented on #9778
Ah i see i tried to add the credentials but that would not work aswell because i did not upload the package, I see.
Thanks for your help.

[2021-10-13 07:16] #9778 closed, assigned to czoido

[2021-10-13 07:37] memsharded commented on #9771
A couple of notes about this:

- We have favored homogeneous layout for all OS. It simplifies the code, the maintenance, the support and the documentation. Things are always in ``<userhome>/.conan`` in all platforms. This can also simplify CI scripts of users dealing with multiple platforms.
- Having everything in 1 location allows to change the root folder, via 1 single env-var CONAN_USER_HOME, w

[2021-10-13 08:05] playgithub opened #9786 "[question] How to install a local recipe with multiple versions"
https://github.com/bincrafters/community/tree/main/recipes/wxwidgets

config.yml
[code]

How to install for version 3.1.5 with a local recipe?

[2021-10-13 08:29] ericLemanissier commented on #9808
isn't this covered by [the `skip_x64_x86=True` argument of tools.cross_building()](https://docs.conan.io/en/latest/reference/tools.html#tools-cross-building) ?

[2021-10-13 09:36] #7671 closed, assigned to jgsogo

[2021-10-13 11:39] franramirez688 commented on #3230
As far as I have been figuring out this issue, I think that the "easiest" way to solve the problem would be to use [patchelf](https://github.com/NixOS/patchelf) (as @ericriff and @kepam explained above) as a way to detect/set the SONAME tag:

* Check if SONAME exists: `patchelf --print-soname mysharedlib.so.1.2.3`
* Set a SONAME name: `patchelf --set-soname mysharedlib.so.1 mysharedlib.so.1.2.3`

[2021-10-13 12:49] coderpatros opened #9787 "[feature] Add support for CycloneDX output to the `info` command"
Hi, full disclosure, I work on the OWASP CycloneDX software bill of materials project https://cyclonedx.org/.

A software bill of materials, in a very basic sense, is a list of all the components that make up a piece of assembled software.

The current output of the `info` command provides this information.

But that output format is specific to the Conan ecosystem. CycloneDX is an ecosystem agnos

[2021-10-13 13:45] jwillikers opened #9788 "[bug] CMakeToolchain allow bare metal targets to link to the newlib and newlib-nano C libraries"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 35
  * Compiler+version: GCC 11
  * Conan version: 1.41.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

The [newlib C library](https://sourceware.org/newlib/) and the *newlib-nano* variant are commonly used for bare-metal targets.
The GNU Arm Embedded compiler us

[2021-10-13 13:54] jwillikers opened #9789 "[feature] CMakeToolchain support for linker scripts"
When building an ELF executable for bare-metal targets it is normal to include a linker script to define the memory layout of the specific target microcontroller.
It is possible to use multiple linker scripts, too.
Each one is passed with the `-T` flag when using GCC.
I don't think this actually needs to be applied to dependencies, only the final executable that will be loaded on the microcontroll

[2021-10-13 13:59] memsharded commented on #9787
Hi @coderpatros

This looks interesting, and we are willing to accept contributions for this. But right now we are moving fast from 1.X => 2.0, it won't make sense to duplicate the effort, all the interfaces, APIs, etc are being re-designed.

Lets follow up when the Conan 2.0 python api is at least there (will be in a few months, while beta stage), to implement this. Thanks for offering to contrib

[2021-10-13 14:02] jwillikers opened #9790 "[bug] CMakeToolchain default BUILD_SHARED_LIBS to OFF when building for bare-metal targets"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 35
  * Compiler+version: GCC 11
  * Conan version: 1.41.0
  * Python version: 3.10

Bare-metal targets don't usually have the ability to link to shared libraries, so it would probably make sense to default this to OFF in the CMakeToolchain generator when this is the case.

[2021-10-13 14:43] jwillikers opened #9791 "[feature] Default CMAKE_POSITION_INDEPENDENT_CODE to OFF in CMakeToolchain when building for bare-metal targets"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 35
  * Compiler+version: GCC 11
  * Conan version: 1.41.0
  * Python version: 3.10

Position independent code is not always supported for bare-metal targets.
Specifically for Arm targets, PIE support is deprecated for the GNU Arm Embedded compiler.
Enabling PIE can be problematic when build

[2021-10-13 15:31] jwillikers opened #9792 "[feature] Allow enabling / disabling exceptions for the CMakeToolchain generator"
Many bare-metal systems disable C++ exceptions, or selectively enable them when using the GNU Arm Embedded compiler.
It would be great if the CMakeToolchain generator would handle disabling / enabling exceptions, perhaps through a compiler setting like the exception one available for Mingw?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTIN

[2021-10-13 15:58] jwillikers opened #9794 "[question] Distinguish binaries between implementations used for the libc library?"
Should there be a setting to distinguish between various libc implementations such as glibc and musl on Linux?
This is similar to using a different implementation of the C++ standard library like `libc++` instead of `libstdc++`.
I've been opening issues related to the CMakeToolchain generator, but since musl is mostly used through a GCC compiler wrapper or using GCC on Linux distributions / toolch

[2021-10-13 16:19] jwillikers commented on #1346
In order to incorporate these flags as part of the CMakeToolchain generator, it probably makes sense to have global settings which are translated to compiler flags by the generator.
Otherwise, packages will have to add support themselves and for that to be applied across dependencies will require standardization anyways with more work on the part of the package maintainers.
Did I get that right?

[2021-10-13 16:32] jwillikers opened #9795 "[feature] Add a configuration option to configure the linker to use for the CMakeToolchain generator"
The lld linker is incredibly fast and I'd wish to use it across projects.
Since the CMakeToolchain generator won't us environment variables by default, i.e. `LD`, would it be possible to add a configuration, i.e. `[conf]`, option to set the default linker as this shouldn't effect ABI compatibility? The CMakeToolchain generator can then set the appropriate flags to enable the linker as demonstrated

[2021-10-13 17:00] memsharded commented on #9786
[code]

[2021-10-13 17:09] jwillikers opened #9796 "[feature] Configure CMAKE_EXECUTABLE_SUFFIX appropriately in the CMakeToolchain generator for bare-metal targets"
Bare-metal Arm and RISC-V executables are generally compiled in the ELF format, which typically uses the `.elf` file extension.
It would be helpful for the CMakeToolchain generator to handle this detail as part of the generated toolchain file.
Ideally, CMake would automatically handle this behavior, perhaps through the *Platform* selected.
I've opened [issue #22756](https://gitlab.kitware.com/cmak

[2021-10-13 18:10] SSE4 commented on #9775
there were some conflicts in conan-center, but should be already fixed by:
https://github.com/conan-io/conan-center-index/pull/7656
https://github.com/conan-io/conan-center-index/pull/7650

[2021-10-13 18:20] udovenkoav1981 commented on #9775
Yes, conflict was fixed yesterday. But for future - will be good to have possibility to override dependency in build requires.

[2021-10-13 18:36] SSE4 commented on #9808
I think it doesn't scale on recipe basis. perhaps, global override via conf or env var is required?
my guess is you may have an ARM Linux laptop and cross-compile for ARM board such as raspberry pi.
in this case conan won't detect cross-building (as both os and arch are the same), but actually it is.
same for x86 Linux desktop compiling for x86 board such as hackboard.
I think it's worth opening a

[2021-10-13 18:37] uilianries commented on #9775
There is a workaround using dual profile: `conan install foo/0.1@ -pr:b default -pr:h default` It will "ignore" the conflict between build_requires and requires.

[2021-10-13 21:14] derived-coder commented on #7192
I have some links to share:
https://fedoraproject.org/wiki/UnderstandingDSOLinkChange
https://fedoraproject.org/wiki/Features/ChangeInImplicitDSOLinking
https://wiki.ubuntu.com/NattyNarwhal/ToolchainTransition

I think this is a "feature" of gcc
However, I do not really understand why they did this:

You cannot just call a function of a private dependency...that doesn't work. What is hidden is hid

[2021-10-13 21:37] coderpatros commented on #9787
Thanks @memsharded, sounds good to me.

[2021-10-13 21:52] davidtazy commented on #3302
Hi, in my company, we are coming from superbuild  and we try to "conanify" our componants and so use conan workspace feature for the development task.
The migration process cannot be instantaneous , So our componant needs to operate in superbuild (without conan) and in standalone mode( with conan)

we are "believing"   transparent usage of conan in cmake, so we are using cmake_paths and cmake_find

[2021-10-13 22:09] kenfred commented on #3302
@davidtazy
I have also prototyped a workspaces with `ExternalProject` and find it to be nice.

@Hopobcn

Why is this a challenge. The outer super build happens to be cmake, but otherwise isn't related to the build systems of the packages. In fact, this is the key to enable workspaces with heterogeneous build systems. The cmake-based super build is executed with a `cmake --build`. In my case it wil

[2021-10-14 00:31] puetzk opened #9797 "[bug] conan will allow export-pkg of invalid configuration even if validate fails"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: MSVC 2019 16.11.4
  * Conan version: 1.40.3
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)

conanfile.py:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[code]

I think `conan export-pkg` should probably behave

[2021-10-14 01:21] puetzk opened #9798 "[bug] ` conan install --build missing` will try to build packages marked with `build_policy="never"`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: MSVC 2019 16.11.4
  * Conan version: 1.40.3
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
conanfile.py
[code]
conanfile.txt
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

The bug seems to be in conans/

[2021-10-14 02:27] playgithub commented on #9786
For this example, it works when the working directory is `community/recipes/wxwidgets/all`, but the root directory for the recipe is `community/recipes/wxwidgets`. It means for wx 3.1.3,  the working directory is `community/recipes/wxwidgets/3.1.3`, so do I have to choose a sub directory manually for different versions in this case?

[2021-10-14 07:44] #7734 closed, assigned to nobody

[2021-10-14 08:51] n00b42 commented on #3000
We have a package that is used by some others in our project and that depends on some external packages (e.g. fmt ..).
While we want to offer a Debug build of our package to our colleagues, we do not want to use Debug builds of the dependencies.

- In our environment, we can be quite sure that no one needs Debug builds of the dependencies.
- Debug builds of the dependencies would need to be build

[2021-10-14 09:03] franramirez688 commented on #9780
Hi @WilliamBehrens

I had the same issue in Ubuntu 20.04 but it's not related to Conan (at least in my case):

* Run `sudo nano /etc/apache2/mods-enabled/dav_svn.conf` and verify that your file is more or less like this one (it does not matter if you have `/var/ib/svn` folder or another one):

[code]
If you have a line like this one: `Alias /svn /var/lib/svn`, you have to remove it because it's no

[2021-10-14 10:09] playgithub opened #9799 "[question] multiple cmake projects different toolchains"
conanfile.py
[code]

main `CMakeLists.txt`
[code]

Each of Main, SubA, SubB is a standalone cmake project that depends on conan with its own `conanfile.py`/`conanfile.txt`, and each `conanfile.py`/`conanfile.txt` generate a toolchain file.

Is there anyway to define a cmake toolchain file for each project when configure with the main `CMakeLists.txt`?

[2021-10-14 10:10] franramirez688 commented on #9794
Thanks for reporting it @jwillikers

This issue is quite related to this one https://github.com/conan-io/conan/issues/9608

We have to have a look into both issues indeed.

As a workaround If you're stuck with this problem, you can add manually a `subsetting` into your `settings.yml`like this one:

[code]

Then, you'll be able to use it in your own `profile` putting something like:

[code]

Check

[2021-10-14 10:18] playgithub commented on #9799
cmake's limitation

https://discourse.cmake.org/t/how-to-make-a-visual-studio-solution-with-x64-x86-support/880

[2021-10-14 10:18] #9799 closed, assigned to nobody

[2021-10-14 10:20] Johnnyxy commented on #3000
@n00b42
It is generally not advisable to mix build_types. But one can do this in certain scenarios where you definitely know that there is no different API / ABI or behaviour between the build_types.

But you can do this only at invocation time. As Conan calculates the dependency graph with the given settings which are hardcoded at Conan runtime.

### Profile
Via Profile.
[code]
This leads to the

[2021-10-14 13:45] tapia commented on #9761
@kenfred did @memsharded's answer solve your problem? Please close this issue if it did.

[2021-10-14 13:54] kenfred commented on #9761
It resolves my issue - I was using the legacy cmake helper.

However, @SpaceIm was commenting on a behavior of the current helper.
@SpaceIm can close, if they are satisfied with the explanation.

Thanks!

On Thu, Oct 14, 2021, 7:45 AM César García Tapia ***@***.***>
wrote:

[2021-10-14 13:55] tapia commented on #9529
Closing the issue as the main question has been answered. @daravi feel free to reopen it if necessary.

[2021-10-14 13:55] #9529 closed, assigned to nobody

[2021-10-14 14:25] tapia commented on #9767
Hi, @WilliamBehrens

That's not how `self.copy()` is supposed to be used. You can check the [Conan documentation](https://docs.conan.io/en/latest/reference/conanfile/methods.html#package), or browse the [Conan Center Index repository](https://github.com/conan-io/conan-center-index/tree/master/recipes) to see how our contributors are using it in their recipes.

Try something like this:

[code]

[2021-10-14 15:27] tapia commented on #9771
Duplicate of #2526

[2021-10-14 15:27] #9771 closed, assigned to nobody

[2021-10-14 16:18] cheog commented on #9771
@memsharded Thank you for taking the time to respond to this in full. I appreciate it a lot.

[2021-10-14 18:41] memsharded commented on #9771
Thanks for the very detailed suggestion and explanation @cheog, really appreciated. We are still open to the possibility, as today we slightly tending to not adopt it, but this is not decided yet, and this is the reason #2526 is still open. Please track that ticket for evolution of this suggestion and possible future discussions. Thanks!

[2021-10-14 21:34] jwillikers opened #9802 "[bug] CMakeDeps fails when building fmt as header-only"
### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Silverblue 35
  * Compiler+version: GCC 11
  * Conan version: 1.41.0
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

Attempt to create a package for a header-only library using the CMakeDeps generator.
Just try adding `CMakeDeps` to the generators list for the `fmt` package a

[2021-10-14 22:25] memsharded commented on #9802
Hi @jwillikers

Thanks for reporting. Two things here. First, for sure the exception shouldn't be raised that way, and it should be controlled with a more informative message. The second thing is that it seems indeed necessary to have ``build_type`` defined for using this generator:

- If it is a header-only pure recipe, without settings, then the ``build()`` method should be empty, no build to do

[2021-10-14 22:42] jwillikers commented on #9802
@memsharded Thanks, I'll fix that in the `fmt` package on ConanCenter.
The settings are cleared in the `configure` stage there which causes the problem.
Sorry about that.

[code]

[2021-10-14 22:48] memsharded commented on #9802
yes, exactly, that is quite legacy code, if you want to build something, you cannot clear those settings in ``configure()`` which runs before generate() and build(), that should be changed in recipes.

Packages in ConanCenter haven't started to use the new integrations yet, because the Conan version is like one release delayed there. But they will be accepted when possible to run them in the Conan

[2021-10-14 22:50] #9753 closed, assigned to nobody

[2021-10-15 03:13] sjcooke opened #9803 "[feature] Add support in B2 generator for VS2019 and VS2022"
The b2 generator translates from Conan's compiler version number to the b2 toolset version number using a special case for VS2017, so that `15` maps correctly to `14.1`:

https://github.com/conan-io/conan/blob/53d06deaa4ee479060431c281b1fe8d27af59bca/conans/client/generators/b2.py#L292-L295

Would it be possible to extend support to VS2019 (`16` maps to `14.2`) and VS2022 (`17` maps to `14.3`) ?

[2021-10-15 09:40] memsharded commented on #9730
https://github.com/conan-io/conan/pull/9781 seems to be ok, trying to move this forward for next Conan 1.42

[2021-10-15 09:49] memsharded opened #9804 "[feature] Improve missing binary error message"
- Change order, first the ``conan search --table``
- More descriptive message
- Replace ``<reference>`` for the real one, so it can be copy pasted

Something like:

[code]

Instead of current
[code]

[2021-10-15 09:54] albaltimore opened #9805 "[bug] Requires ranges with version X.Y.Z.A sometimes can't be found in remote"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows Server 2019
  * Compiler+version: N/A
  * Conan version: 1.41.0
  * Python version: 3.8.2

### Steps to reproduce

Some packages in our remote have versions of the form `X.Y.Z.A` (usually for third-party packages to which we've done small changes to so we know what was the base version and the `A` is

[2021-10-15 10:04] memsharded commented on #9805
Hi @albaltimore

At the moment this is not a bug. Version ranges resolve for the official semver specification, which contain 3 numbers, not 4. They cannot contain letters either. We are relying on a third party library that implements the semver standard, and this is quite difficult to change.

We are considering to extend to new versioning schemas for Conan 2.0, but that will require extra effor

[2021-10-15 10:07] albaltimore commented on #9805
Thank you @memsharded for the quick answer! Any idea why sometimes it works and sometimes it doesn't?

[2021-10-15 10:13] memsharded commented on #9805
Yes, the 4th digit is basically ignored. There could be some randomness in the data structures ordering associated to order of creation, upload, or just luck that makes it work some times.

[2021-10-15 11:47] dphoyes commented on #9666
I've updated the example and annotated with comments to try and show what's happening: https://github.com/dphoyes/examples/commit/595dc60f50f77eb33cae26e11c6f343227fed883 . Tested with Conan 1.41.0.

[2021-10-15 14:29] jgsogo commented on #9808
I'm moving this issue to Conan client repository. Right now cross-compilation is detected, but it might be worth being able to force it with some input.

[2021-10-15 15:29] jgsogo opened #9809 "[bug] `conan info` doesn't show package duplicated in host/build contexts"
When a package is duplicated in the `host` and `build` contexts, the `conan info --dry-build` command shows only one of them:

**library.py**
[code]

**app.py**
[code]

[code]

I would expect two entries for package `library/version`, one with `Context: host` and another one with `Context: build`, even if both are the same packageId. Alternatively, `Context: [host, build]`, but having two entries

[2021-10-15 18:16] jwillikers opened #9810 "[feature] Consider enabling CMAKE_POSITION_INDEPENDENT_CODE in CMakeToolchain explicitly even when building shared"
Currently, the CMakeToolchain generator only sets `CMAKE_POSITION_INDEPENDENT_CODE` option when building a project statically when the `shared` option is false.
When the `shared` option is true, `CMAKE_POSITION_INDEPENDENT_CODE` is not configured.
For simple, single library projects this is not an issue because the only library built is shared.
However, for larger, more complex projects containing

[2021-10-15 18:55] jwillikers commented on #9802
Closing, fixed in conan-io/conan-center-index#7686.

[2021-10-15 18:55] #9802 closed, assigned to nobody

[2021-10-15 19:39] tolstikh opened #9812 "[question] How come conan create lock requires access to remotes?"
I am trying to execute the command `conan lock create conanfile.py -pr=<profile> --base --lockfile-out=<lockfile path>` while my wifi is off, and I get a message saying `Unable to connect to ....` saying that my remotes aren't reachable. Please note that I am not using the `--update` flag.

How come this command needs to be able to access remotes? Assuming all recipes referenced in my `conanfile.p

[2021-10-15 20:16] rl-enjoyer opened #9813 "[feature] 'options' seems to be counterproductively overloaded"
In the class definition for the conanfile, you define an options map to specify the options for the package and the possible values these options may take. For example in Arrow:

![image](https://user-images.githubusercontent.com/11447537/137537979-80285db6-b26d-40f5-95e0-2f3c21f6b87a.png)

So, from the class definition, we have an `options` instance variable that is a dict. However when you treat

[2021-10-16 12:03] jwillikers opened #9814 "[question] Will there be ways to build various configurations in cmake_layout / layouts simultaneously?"
The current [cmake_layout](https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html#predefined-layouts) functionality creates unique build directories per `build_type` such as `cmake-build-debug` and `cmake-build-release`.
This integrates very well with CLion, but doesn't allow having build directories based on any of the other configuration settings or options simultaneously.
One com

[2021-10-17 02:34] kobi-ca opened #9815 "Error in conan create command - what am I missing?"
here is the repo that I'm using:
https://github.com/kobi-ca/test-conan

when running `conan create .` in the root of the repo, I'm getting:
[code]

conan version 1.41.0
Ubuntu
[code]

using venv python ver 3.8.10

The readme: https://github.com/kobi-ca/test-conan/blob/main/README.md is describing what I was doing.

regular conan install, build the entire repo - all works well. but `conan create .`

[2021-10-17 07:51] xahon opened #9816 "[question] How to add requirement with custom define?"
I want `opencv` with enabled opengl but there is no option for that, however, there's a define `WITH_OPENGL` in the code that toggles this (I guess). I wanted to recompile the package from conan center without altering the recipe. Is there a way to do that?

I've tried this:
[code]
it didn't help me

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CO

[2021-10-17 09:28] memsharded commented on #9815
Hi @kobi-ca

It seems you are missing the ``CMakeDeps`` generator, the one that is handling the dependencies. Also, some of the ``find_library`` might be replaced with a ``find_package``. Try something like:

[code]

The whole ``generate()`` method can be replaced with ``generators = "CMakeToolchain", "CMakeDeps"`` and avoid the ``import`` as well, simplifying the recipe.

[2021-10-17 13:02] SSE4 commented on #9712
just in case, we have found a "workaround" for 1.x in private discussion with @jgsogo :

[code]

[2021-10-17 16:42] kobi-ca commented on #9815
thank you!

I also needed this:
[code]

so it can take the `tests/` which is part of `add_subdirectory` in the cmake file.

so I believe the correct way to add link libs is `pkgname::pkgname` ?
`libffi::libffi` , `fmt::fmt` etc ?

boost on the other hand has: `Boost::unit_test_framework`
so `B` is capital. I noticed this in the output of the cmake when I was running the generator under CLion.

[2021-10-17 17:10] memsharded commented on #9815
Yes, that is right, I didn't get that far

Yes, it is, in the general case, but there are some exceptions:

- Some packages in ConanCenter will define the value to match the "standard" cmake one for example, for CURL it can be ``target_link_libraries(mycurl CURL::libcurl)``, because that is the expected one.
- There are packages with "components" defined, and you can select which specific target y

[2021-10-17 17:18] kobi-ca commented on #9815
thank you @memsharded as always.

take care.

[2021-10-17 17:18] #9815 closed, assigned to memsharded

[2021-10-17 17:42] memsharded commented on #9813
Hi @NolanC33

Thanks for your detailed suggestion.
One of the problems with such an approach, which is something that we have somethings considered is the ratio benefit/cost. Sure it can be more clear, but also the effort to migrate to this new syntax would be massive, as this is ubiquitous, not only in Conan recipes, but also in many Conan internals like all the build helpers and generators, and

[2021-10-17 18:55] memsharded commented on #9816
Hi @xahon

If you are using the ``opencv`` package from ConanCenter, its behavior is controlled via options. From  what I see in the recipe there in https://conan.io/center/opencv, there is no option related for OpenGL, at least in the latest version. If you think this is a necessary thing, this should be moved as a feature request to conan-center-index repo. You will need to report there which sp

[2021-10-17 20:42] memsharded commented on #9812
Hi @tolstikh

Yes, this shouldn't be the case, if everything is locally cached. We have encountered so far that it seems to be an exception (difficult to fix at the moment) when the feature ``compatible_packages`` is being used. Are you using it at the moment?

Otherwise, this shouldn't happen, can you reproduce this in a simple scenario? Thanks!

[2021-10-17 20:49] memsharded commented on #9814
Hi @jwillikers

Yes, it should allow it, why you say it doesn't allow it? For example, if you see the built-in layouts in https://github.com/conan-io/conan/blob/develop/conan/tools/layout/__init__.py, they use other settings like the ``compiler`` or the ``arch`` to define build folders. I don't see any specific reason why you couldn't condition the layout on any settings and options (maybe even th

[2021-10-17 20:52] memsharded commented on #9810
I think I agree with this.

Current implementation is:

[code]
I see no apparent reason why if ``option.fPIC=True`` the CMAKE_POSITION_INDEPENDENT_CODE shouldn't be ON.

[2021-10-17 21:15] memsharded commented on #9798
Thanks for reporting, this indeed seems a bug. Proposing a fix in https://github.com/conan-io/conan/pull/9817 for next release.

[2021-10-17 22:04] memsharded commented on #9797
You are right, this is a bug, submitting https://github.com/conan-io/conan/pull/9818 to fix it for next 1.42. Thanks!

[2021-10-17 22:08] memsharded commented on #9791
I think this maybe should be intercepted before and remove the option.

Setting CMAKE_POSITION_INDEPENDENT_CODE only happens if fPIC is defined. If not defined, Conan will do nothing, which is OFF, and it should be ok?

If the option fPIC is defined, the issue is that it would be generating 2 different binaries for the 2 different values of fPIC, while the binary would be identical, because CMakeT

[2021-10-17 22:27] jwillikers commented on #9814
That mostly makes sense. Thanks for the link. The part I'm trying to understand is how layouts differentiate among various options / settings a consumer might impose on them. How does it know, for instance, that the directory `cmake-build-debug` is built `shared=True` vs `shared=False`?

[2021-10-17 22:28] memsharded commented on #9666
Hi @dphoyes

The example didn't fail for me, specifically the lines:
[code]
work fine in both Windows and Linux:

[code]

In any case, the files that are being created like ``graph_info.json`` are not following the layout, and are not expected to follow. They are not "generators" files. In the general case, only new generators from ``conan.tools`` will understand layouts completely, there is no gu

[2021-10-17 22:33] memsharded commented on #9814
Differentiating builds like shared vs static is something that has typically required custom configurations. Both CMake and Visual Studio have this possibility, and it is typical to find out there projects with custom configurations such ``ReleaseDLL`` (in Visual, for example), that accounts for the Release configuration + shared linkage. Once a custom configuration is defined, the layouts will na

[2021-10-17 22:39] jwillikers commented on #9791
Yes, that sounds like a good idea so long as it is enforceable on dependencies. Consider `fmt` being used as a dependency for a project which does not define `fPIC`. Would `fmt` be built with `fPIC` enabled still? That would be problematic for most bare-metal configurations.

If an package can be built for both bare metal and standard operating systems, the latter which might use `fPIC`, would you

[2021-10-17 22:50] jwillikers commented on #9814
So, considering other settings / options besides `shared`, individual configurations, i.e. `build_type`s, should be made to enumerate these to integrate with an IDE? So the configurations `ReleaseStaticfPIC` and `ReleaseStatic` might be created to indicate the build type, shared option, and fPIC option? I'm concerned my build configurations will end up being named according to their hash values as

[2021-10-17 22:52] memsharded commented on #9791
Yes, I think we need some kind of generalized handling of fPIC, at the moment is something that has to be manually added to all recipes to remove it for the Windows case. So maybe it is time to generalize it in something like:

[code]
To provide an easy implementation, while retaining complete user-configurability. Towards 2.0 we could consider calling such function implicitly and allowing to skip

[2021-10-17 22:57] memsharded commented on #9814
Yes, you are right. Note that the ``layouts`` should mimic the common practice for developers. I think it is very usual to assume the current developer checkout is for a given set of configurations, and only allowing very limited set of variability. Release/Debug in most cases. Maybe adding the ReleaseDLL in some others. But for example to support different compiler versions or compiling with/with

[2021-10-17 23:19] memsharded commented on #9784
Hi @datalogics-kam

Is it the case that only certain components of boost link with certain components of ``icu``, but not all of them?
In that case, it seems the right solution would be to improve the ``boost`` recipe to properly account for this model. The problem would be a definition problem, if ``boost`` as declared that depends on the whole ``icu``, then there is no feature in Conan to try to

[2021-10-17 23:58] dpgraham4401 commented on #2772
Is anyone actively working on this?

[2021-10-18 08:20] memsharded commented on #2772
Hi all,

It has not been prioritized yet, the issue is still open, but it doesn't seem there has been enough people interested to make it to the top priorities. At least from the maintainers side, we will most likely not work on this at least until Conan 2.0 is GA, too many things on our plate at the moment...

[2021-10-18 09:36] phildue commented on #9695
Hi,

I am still facing this in conan 1.41.0 on Windows. Even after a fresh install and deletion .conan directory.

Any suggestions? I am behind a proxy however, there was no separate config required until now.

Thanks

[2021-10-18 10:04] memsharded commented on #9695
Hi @phildue

There are some other tools that could have been affected by the certificate issue, like proxies, VPN, zscaler, etc. It would be great to be able to run without that proxy for a moment, to see if that could be the issue (and talk to your IT if that is it).

[2021-10-18 10:37] #9798 closed, assigned to memsharded

[2021-10-18 11:46] phildue commented on #9695
Hi @memsharded

thanks for the quick reply. Without the proxy I am facing the same issue. However, I just realized that error message I am getting is different:

`ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1122)')))
`

Any idea about this? I can creat

[2021-10-18 11:52] memsharded opened #9819 "HTTPS certificate failing in Windows"
Hi @memsharded

thanks for the quick reply. Without the proxy I am facing the same issue. However, I just realized that error message I am getting is different:

`ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1122)')))
`

Any idea about this? I can creat

[2021-10-18 11:56] memsharded commented on #9819
Hi @phildue

Yes, lets try to debug this in this separate issue.
Please let us know about your Windows version, platform, etc, including Python version, and how you installed Conan.
If you check in your Conan cache the ``cacert.pem`` file, and copy the last certificate, just to make sure. Also, if you can share your conan.conf file, just in case you have activated some other feature related to cer

[2021-10-18 12:48] dphoyes commented on #9666
Hi @memsharded

Ok I see - I hadn't realised that "will be fully functional only in the new build system integrations" means that txt, json and friends are deprecated too. I notice there isn't yet a scons integration in the new system - would you suggest we implement our own, or is the API still considered too experimental for that?

I'm not sure why that is. I have tried reinstalling Conan (1.41.

[2021-10-18 12:48] Poupine commented on #9036
Hi, could you post an example on how to change the User-Agent/how to print the one that's being used when tools.get() is called?
I'm having an issue with tools.get generating a 403 error as well, but only when NOT compiling in Release.

The URL is correct (https://www.autodesk.com/content/dam/autodesk/www/adn/fbx/2020-0-1/fbx202001_fbxsdk_linux.tar.gz) as I can download from chrome and it also wor

[2021-10-18 12:59] memsharded commented on #9036
Quick update: we have plans to remove at least the ``python-requests`` part of the User-Agent, which might help to reduce some of these issues. Still, the Python part is relevant and useful, we wouldn't like to remove it, there is really no reason why a server would accept Brainfuck and not Python.

[2021-10-18 13:07] fanselm commented on #8319
Any news on this issue?

I workaround it by manually using `subprocess.run()` instead of Conan's `self.run()`, but it would be nice if one could use the standard workflow.

[2021-10-18 13:16] dpgraham4401 commented on #2772
Hi @memsharded If it's ok with everyone, I'd like to take a stab at this.

Full disclosure, this would be my first time maintaining a fedora package but I've been learning how and looking for a package worth the effort to maintain for a few months now.

[2021-10-18 13:54] Poupine commented on #9036
For me, the server accepted Python actually. I ended up using:
`1.40.3: Conan/1.40.3 (X11; Linux x86_64) python 3.8.5; AMD64) python-requests/2.25.1`

[2021-10-18 14:20] memsharded commented on #2772
Sure @dpgraham4401, thanks very much for offering to contribute.

We already have the ``pyinstaller.py`` in the root of the repo. I think the best would be to have it in its own repo (your own one, and link it here), we need to put a central place where to put this stuff, we also have it on our side a bit messy.

[2021-10-18 15:37] blejdfist opened #9820 "[bug] Using conanfile.py does not write settings to conaninfo.txt"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.41.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)

Extract attached minimal project
[test.tar.gz](https://github.com/conan-io/conan/files/7366448/test.tar.gz)

Run `conan install` and then `cmake`
The warning `CONAN_COMPILE

[2021-10-18 16:04] wbehrens-on-gh commented on #9780
I don't have either of those folders @franramirez688

[2021-10-18 16:21] memsharded commented on #9820
Hi @blejdfist

The ``conanfile.py`` needs to declare the ``settings = "os", "compiler", "arch", "build_type"`` explicitly in order to be defined, otherwise they are assumed to be ``None`` and not managed.

[2021-10-18 17:21] tolstikh commented on #9812
Hey @memsharded,

I'm not making use of compatible_packages, here's my repro.

conanfile.txt:
[code]

steps:
1. `conan download "protobuf/3.17.1@" -re -r conancenter`
2. disconnect from internet
3. `conan lock create conanfile.txt --base --lockfile-out=lock`

Thanks!

[2021-10-18 18:59] uilianries commented on #9695
@phildue Please, check if you are using some VPN service and deactivate if positive. I had the very same error with Conan 1.41.0 when using a VPN service. Disabling it solved that error.

[2021-10-18 21:49] memsharded commented on #9812
Hi @tolstikh

``protobuf`` has transitive dependency to ``zlib``. A ``conan download`` does not fetch transitive dependencies, only the referenced one. You need to install it, instead of downloading, because otherwise ``zlib`` will not be in the cache.

[2021-10-18 21:59] memsharded commented on #9666
We are developing all the new integrations around the new ``self.dependencies`` access. It should be good enough to start implementing other integrations too, still experimental, might still have some changes, but it is becoming more stable the more we build around it. ``Scons`` integration we haven't started yet to migrate to the new ``conan.tools`` place, if you would like to contribute a new in

[2021-10-18 23:42] kobi-ca opened #9821 "Do I need to explicitly pip install configparser?"
while running conan install, I was missing configparser. pip install-ed it and re-run it and all good.
Is there a way to make sure it's always brought in as part of the conan env?

[2021-10-19 03:32] phildue commented on #9819
**System**
Windows Version: Windows Pro 10.0.19043 Build 19043
Python 3.9
**Installation**
`pip3 install conan`
**Certificate**
[code]
**Conan Config**
[code]
**Error**
[code]
**Additional notes**

- Previously I had an older conan version installed. Can't remember which one exactly. I was facing the issue that I couldn't connect to conan-center at bintray anymore and found that it has moved. Chan

[2021-10-19 07:11] Makogan opened #9822 "[bug] New PkgConfig generator cannot link shaderc"
I am trying to use the new generator but it fails to link against shaderc, the problem does not occur when using the old generator.

The only differences in my conan.py script is replacing

`generators = "pkg_config"`
for
`generators = "PkgConfigDeps" `

### Environment Details (include every applicable attribute)
  * Ubuntu 21,10
  * Compiler+version: g++ 11
  * Conan version: 14.1
  * Python ver

[2021-10-19 07:29] memsharded commented on #9821
Hi this is very weird. ``configparser`` is part of the Python installation, it is not a third party package. There is not entry for it in the ``requirements.txt`` python file.
Which Python installation are you using and in which platform?

[2021-10-19 07:31] memsharded commented on #9819
I guess that you are only pasting the last section of the cacert.pem file? Because in reality it is way, way longer, with more entries.

[2021-10-19 08:10] phildue commented on #9819
Yes, thats how I had understood `If you check in your Conan cache the cacert.pem file, and copy the last certificate, just to make sure`

[2021-10-19 08:36] franramirez688 commented on #9822
Hi @Makogan

It would be great if you provide a simple repository to reproduce the bug, so I'll be able to run it easily. For instance, a simple `test.cpp` and a `conanfile.txt` if it's your case, and all the commands which you ran to see that bug.

[2021-10-19 09:27] snailcatcher opened #9823 "[question] check for a new package version"
Hi,

Is it possible to check for a new version of a package without installing it?

So for example:

available packages on artifactory
[code]

my conanfile.txt
[code]

Now what I looking for is a command which I can see that *some_package/1.0.0* has an update to version *1.0.2* without using wildcard versions.

Is this possible?

If not do you have a suggestion how I can build something like this?

[2021-10-19 09:41] memsharded opened #9824 "[feature] Define ``settings_build`` nice error message if used"
To start improving migration, indicating that the "build" profile is mandatory and should be passed in command line.

[2021-10-19 10:49] memsharded opened #9825 "[feature] Implement new properties mechanism for legacy ``cmake_find_package`` generators"
So we can migrate to use only:

FROM:
[code]

TO:
[code]

Tasks:
- Leave the third argument specifying the generator for legacy and migration, shouldn't be used in ConanCenter except the "exploit" that need to define different names for cmake_find_pcakage and cmake_find_package_multi.
- Make ``cmake_find_package`` to listen first to ``cmake_module_target_name`` and ``cmake_module_file_name`` vars.

[2021-10-19 11:24] ericLemanissier opened #9826 "[question] self.dependencies in build(self)"
I just learned about the new `self.dependencies` object, which supposed to replace all usage of self.deps_cpp_info (right?).  What is the migration plan for packages being built by random scripts/executables ?
My use case is qt (who would have guessed ?). Qt 5 build procedure is: call a configure script, then make and make install. Most of the `build(self)` method is defining the command line argu

[2021-10-19 11:38] franramirez688 commented on #9823
Hi @snailcatcher

For now, as far as I know, it does not exist such command.
You have `conan info . -u` which is showing if there is a new binary package in the remote but this one is not related to a new version at all but changes in the `conanmanifest.txt`.

[2021-10-19 11:52] memsharded commented on #9826
``self.dependencies`` is partially available now (will work for ``conan create``, but not for ``conan build``) and it will be fully available in ``build()`` in Conan 2.0. Right now it is not possible, as the ``conan build`` command does not compute the graph. But in any case, you are right, the intent is:

- To completely decouple the logic that decides what is going to be built (the ``generate()`

[2021-10-19 13:24] tolstikh commented on #9812
@memsharded Apologies, that was a bad example. We can replace `protobuf` here with `zlib/1.2.11` and get the same result.

You can even connect to the internet, lock successfully, disconnect from internet, and be unable to lock.

[2021-10-19 13:41] memsharded commented on #9812
I think I understand what is happening:

- You are using the ``-re`` argument, which means: "recipe-only". It is not downloading any binary at all, so the package is not fully there.
- You are disconnecting from the internet, but not actually disabling the remote. It is different.
- If Conan is locking something, first it will lock the recipe, fine. Then it will try to resolve the package binary,

[2021-10-19 14:03] kobi-ca commented on #9821
I accidently had python 2.x as my python's venv. I think the issue lies there. thanks.

[2021-10-19 14:03] #9821 closed, assigned to memsharded

[2021-10-19 14:20] tolstikh commented on #9812
Thanks for the details.

There still something I don't understand, I am doing a base lock with the `--base` flag, so it seems like only the recipes and not any binaries should be needed for this process. How come there's an expectation of binaries?

Also, even if I build my binaries ahead of time, and even if I add `--build=missing` to the `conan lock create` command, I get the same network error.

[2021-10-19 14:23] memsharded commented on #9812
Yes, this is true. The ``--base`` flag is a simplification of the principal lockfile, that was implemented later as a variant. The graph is still fully computed, and binaries need to be resolved. This will change in Conan 2.0, but at the moment cannot be changed.

Because ``--build=missing`` policy still checks for binaries in the servers, if they are found they are not missing and they don't need

[2021-10-19 14:28] taogeng opened #9828 "[feature] MSBuild add definitions for ResourceCompile"
MSBuild build method parameter of definitions only works for ClCompile,  and I wish a parameter of definitions, such as  res_definitions for ResourceCompile

[2021-10-19 14:36] memsharded commented on #9828
Hi @taogeng

First, you should start using the new integrations from ``from conan.tools.microsoft``, not the legacy ones: https://docs.conan.io/en/latest/reference/conanfile/tools.html

Then, please you need to provide more details. Like a reproducible example, with the obtained output (the .props file, for example), and then the desired, full output that you would like to see (the .props full cha

[2021-10-19 15:03] reymondzzzz opened #9829 "[question] except build_req from consumer conanfile"
- & means apply these build requirements to the consumer conanfile
- &! means apply the build requirements to all packages except the consumer one.

Have conan option for excepting build_reqs from consumer conanfile and not applying for all reqs?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-19 15:12] SSE4 commented on #9825
is it really needed? if we want to drop these generators, it doesn't make much sense to add properties to them now

[2021-10-19 15:17] czoido commented on #9825
This is related to: https://github.com/conan-io/conan-center-index/pull/7766 to be able to transition recipes in conan-center-index that define different properties in `cmake_find_package` and `cmake_find_package_multi`

[2021-10-19 15:35] memsharded commented on #9829
Hi @reymondzzzz

Not sure what you mean with ``Have conan option for excepting build_reqs from consumer conanfile and not applying for all reqs?`` This is what the ``&`` will do, isn't it?

[2021-10-19 15:46] reymondzzzz commented on #9829
Nope. I tried `&` and packages(like msys) was be installed. It very difficult to use with vc compilers. When use activate_run.bat my path has cl and gcc. Cmake uses gcc. If I try `&!`, my PATH is good, but msys applies for all build_req, it is not what I wanted.

[2021-10-19 15:46] johnmcfarlane commented on #4216
I also need to build/package for systems with no OS... and I cannot resist a good discuss!

I don't know how the default is being propagated but it sounds as if `None` is being misused here somewhere. Absence of an OS should not be confused with absence of a choice of OS. Similarly, absence of a value in a map should not be confused with a `None` value in a map.

How it should be represented:
* Fo

[2021-10-19 15:49] johnmcfarlane commented on #4216
@msduketown POSIX and bare metal are quite different things to my mind. POSIX is a standard for UNIX-like OSes, whereas bare metal means no OS at all.

[2021-10-19 15:49] tolstikh commented on #9812
Great! That will be a welcome change for a decentralized package manager.

I can confirm that `--build` allows me to lock when disconnected from the internet. Are there any other consequences to setting that flag? If not, perhaps that should be set as default behaviour. To me it seems that the availability of a binary package is incidental to locking, given that you can determine the needed packag

[2021-10-19 15:57] memsharded commented on #9812
Not always. There are some corner cases, like when using the ``package_revision_mode`` that without building the upstream packages won't be able to compute the downstream ``package_id``. We would also like to get rid of this case, maybe in 2.0, we will see...

One consequence of using ``--build`` is that the package_revisions will not be locked. That is not a problem if not relying on using differ

[2021-10-19 16:02] memsharded commented on #9829
Well, if you are working at the consumer level, you shouldn't be building the dependencies from that terminal with the environment activated, because no matter what the dependencies define, they will be running inside an MSYS environment, and there is no way that can be escaped. You should be building only your consumer project.

Another possibility, have you tried defining ``build_requires = "msy

[2021-10-19 16:03] luiscarlos63 opened #9831 "[question] Updating a Buildroot Image into SD card"
Hello, I saw your guide called "Creating small Linux images with Buildroot" (very helpful).

My questing is basically, what if I modify the image and want to update it to he SD card? Is it possible to do it without formatting the card or losing all the files than I passed to the system, for example cross-compiled files that were supposed to run on that machine.

thank you!!
Luís

- [ ] I've read t

[2021-10-19 17:41] knzivid opened #9834 "[feature] BazelDeps should allow custom path to `load_conan_dependencies`"
I have a `repository_rule` that wraps `conan install ...` with [BazelDeps](https://docs.conan.io/en/latest/reference/conanfile/tools/google.html) as the generator. However, `conandeps/dependencies.bzl` hardcodes the path to `build_file` as `conandeps/<pkg>/BUILD`. When I call `load_conan_dependencies` from `@custom-repo//conandeps:dependencies.bzl`, the `build_file` turns out to be incorrect.

My

[2021-10-19 20:14] rl-enjoyer commented on #9813
Hi @memsharded , yeah, I was thinking if it was to be implemented it would have some big ramifications. I just wanted to throw the suggestion up there.

I really realized this when I was just looking through some changes to a recipe I was working on. I am still a conan noob, so I was just surprised to see a string that was in the options then being used as an attribute later on. I get now that's j

[2021-10-19 21:29] uilianries commented on #9831
Saudações @luiscarlos63!

You can't update an image without formatting the SD card, because it will take a compressed file and unzip it to your entire SD card. Thus, you have to format before updating.

However, there are some options besides formatting your SD card. First and easier is copying only what your need. After building the image, all generated binaries are located on the build folder, s

[2021-10-19 22:57] kobi-ca opened #9835 "Setting CMAKE_BUILD_TYPE in conan_toolchain.cmake file"
currently, when I run conan install with conanfile.txt file, my conan_toolchain always shows as
[code]
How do I config it to be Debug?
[code]
Does not work (I tried all kinds of options)
what is the correct syntax for this?
thanks.

[2021-10-19 23:08] kobi-ca commented on #9835
OK. I think I found it https://docs.conan.io/en/latest/using_packages/workflows.html
[code]
I was so close. closing it for now.
google please index it for the next gen ;)

[2021-10-19 23:08] #9835 closed, assigned to nobody

[2021-10-19 23:08] memsharded commented on #9835
Hi @kobi-ca

The ``CMakeToolchain`` generated file depends on a few things, like the settings. Have you passed ``conan install ... -s build_type=Debug``?

EDIT: Nevermind, you were faster than me by 1 sec 😄

Also, take into account that this will depend on the system. For example, using Visual Studio, as it is a multi-config generator, it will not define the CMAKE_BUILD_TYPE in the toolchain. It i

[2021-10-19 23:08] kobi-ca commented on #9835
yep. building it now. thanks!

[2021-10-19 23:15] kobi-ca commented on #9835
I slowly grasping the complexity handled by conan and I'm so scared :)
thanks.
I have another question. Will open a new issue if I can't find an answer.

[2021-10-19 23:26] kobi-ca opened #9836 "Uploading package that is built outside of the tree - to artifactory"
General question.
I'm looking at libfuse. I just realized that you can actually create a conan package "out of band".
In other words, the libfuse repo itself has no knowledge about conan. It does not have a conanfile.py.

Someone added libfuse to the conan-center-index. Added the YAMLs and the conanfile.py and created a package.

If I want to do something similar, is this going to behave like a re

[2021-10-20 06:25] snailcatcher commented on #9823
Hi @franramirez688
Thank you, but this is not exactly what I'm looking for.
I look for something which implements a versioning standard like [semantic versioning](https://semver.org/lang/de/) or something similar.
Is there a plan for a feature like this in conan 1.x or 2.x?

[2021-10-20 07:27] memsharded commented on #9823
Semver standard and version ranges are supported and implemented in Conan. You only need to define ``requires = "pkg/[version range]"`` in your conanfile for it to resolve. You can install with ``conan install "zlib/[>1 <2]@"`` Or you can query with ``conan info "zlib/[>0]@"``. What could be missing is a ``conan search`` query that supports the semver syntax, and it is wildcard based.

[2021-10-20 07:32] memsharded commented on #9836
Yes, there are 2 possible conanfile locations:

- You can put the conanfile.py inside your source repo. Typical flow for ``git clone`` and more focused on the developer flow, specially if the source repo already have some dependencies that are managed with Conan. In this case it is clearly the most recommended flow, because otherwise working in the repo would be more painful.
- You can put a conan

[2021-10-20 07:59] snailcatcher commented on #9823
Hi @memsharded
The definition of a wildcard version in the conanfile is not a good solution in my case (safety levels).
Yeah you kind of get the point.

The best solution I know for a similar problem is [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) for the [NPM (NodeJS Package Manager)](https://www.npmjs.com/).

It basically scans all your dependencies in the conanfile (so t

[2021-10-20 08:57] knzivid commented on #9834
Here's a hacky workaround

[code]

[2021-10-20 09:58] MTomBosch opened #9837 "Conan search, download, install not working on virtual Artifactory Conan repository"
I am using multiple Artifactory systems to host my Conan packages. For easier read access I have a virtual repository in of these systems that contains a few local and a few remote Conan repositories.

When running a conan search or download command I only get the packages from the local repos but none of the remote ones.
Also when running a conan install the packages that are only located in the

[2021-10-20 09:59] blejdfist commented on #9820
@memsharded I can confirm that solves the issue.
It wasn't obvious though.

[2021-10-20 10:14] tapia commented on #9565
@Artalus have you tried Conan 1.41, which includes the fix that @memsharded mentioned? Did it solve your problem?

[2021-10-20 10:30] tapia commented on #9761
I'm closing this, because the OP solved his issue. @SpaceIm feel free to reopen it if you think it's necessary.

[2021-10-20 10:30] #9761 closed, assigned to tapia

[2021-10-20 10:33] tapia commented on #9767
@WilliamBehrens did the previous answer help you? If it didn't, please provide more info about your specific problem.

[2021-10-20 12:01] Parcley commented on #6452
I don't really understand how this solves the question:
In this case, we can only store credentials in conandata.yml for packages, which we are creating on our own.

But image if I have two packages:

- package `rootPackage`, which has a dependency on `dependency`
- package `dependency`, which has its source code in a git repo (which requires credentials)

If I want to install all dependencies for

[2021-10-20 14:10] #9836 closed, assigned to memsharded

[2021-10-20 14:46] tolstikh commented on #9812
Thanks @memsharded for answering my questions, its much appreciated. I have a clearer picture of the situation.

[2021-10-20 14:46] #9812 closed, assigned to memsharded

[2021-10-20 16:16] franramirez688 commented on #9780
Sorry for the delay @WilliamBehrens

I was wondering if you try to run a simple `svn checkout [URL_TO_YOUR_REPOSITORY]` to check that your SVN server is working as expected. If it works you should see this kind of output: `Checked out revision N.`

[2021-10-20 16:55] Gryfenfer97 commented on #9819
Hi, I have the same problem on ArchLinux (in a Virtual Box VM) trying to install sfml.
[code]

However [my certificate](https://pastebin.com/rhDcR2JB) is more longer than @phildue 's one.

Here is my `conan.conf`
[code]

About my installation of conan I did it using pip and I'm on python 3.9.7.
My openssl version looks like it's up to date.

[2021-10-20 19:27] redradist commented on #4216
Agree with @pepe82sh

Actually there are following use-cases during work with embedded devices:
1) No `os`, custom task scheduler; any `arch`
2) RTOS `os` (FreeRTOS, Zephyr and etc.); any `arch`

What I do not understand is that why this feature is not implemented ?
No `os` is very common in embedded and question to use RTOS or not depend on application

[2021-10-20 20:09] memsharded commented on #9819
@Gryfenfer97 if you are running ArchLinux in a VM, it could something in the host openssl version, or maybe something in the host network configuration (proxy, VPN, ZScaler...). Are you sure you are not behind any of those in your machine?

[2021-10-20 20:57] Gryfenfer97 commented on #9819
I don't think the problem comes from my host (Windows 10). I just tried the `conan install ..` with a sudo and it worked (except that all the files for the packages are in `/root/.conan/data` instead of `user/.conan/data`)
Probably a problem with some permissions.

[2021-10-21 02:23] taogeng commented on #9828
I want to specify definetions for both C/C++ -> Preprocessor AND Resources -> General -> Preprocessor Definitaions items.

here is the example repos:
1. git clone https://github.com/taogeng/conan-test.git
2. change directory to /conan-test
2. conan install .
3. conan build .

and there will be a compile error.

[2021-10-21 07:55] memsharded commented on #9828
Hi @taogeng

You are not using the modern integrations, you are still using the legacy. You should do something more like:

[code]

Note the import from ``from conan.tools.microsoft``.

This will generate a ``conantoolchain.props`` files that you need to add to your .vcxproj in order to be able to inject arbitrary preprocessor definition.

Once you have this, please report on the current output of

[2021-10-21 08:30] playgithub opened #9841 "[question] Can not find by boost with components"
# Env
windows 11
qt creator 5.0.2
conan 1.41.0

# conanfile.py
[code]

# cmake configure options
[code]

# Problem
CMakeLists.txt
[code]
# More Info

tested on `wxWidgets`

`find_package(wxWidgets REQUIRED COMPONENTS core)` succeeds

[2021-10-21 09:49] taogeng commented on #9828
It still doesn't solve my problem. The `conantoolchain_release_win32.props` file should be like as follows with ResourceCompile items:
[code]

[2021-10-21 11:29] phildue commented on #9819
Hi
so it seems this was a problem on our side. We have to explicitly set the proxy now in conan.conf.
Not sure why this was not necessary before.
Anyway conan setup is working again.

[2021-10-21 11:58] hpesoj commented on #8443
I tried the quoted workaround, but it does nothing:

[code]

Is there a workaround for this? It's kind of a showstopper if not.

[2021-10-21 12:10] memsharded commented on #9828
Now I see what you mean, thanks for clarifying!
I think this is doable, lets try it in https://github.com/conan-io/conan/pull/9843

[2021-10-21 13:42] dphoyes commented on #9666
I got the debugger out, and the `conan info` command seems to be failing at this bit in conans/client/conan_api.py:

[code]

This is saying that it's ok for `say/graph_info.json` to not exist, but if it does exist then `say/conan.lock` _must_ also exist. I get an error here, because `say/graph_info.json` exists and `say/conan.lock` does not.

Looking into where the `say/graph_info.json` came from,

[2021-10-21 13:45] #8360 closed, assigned to nobody

[2021-10-21 14:52] foundry-markf opened #9845 "[question] conandata.yml, changing a single version source, and consistent recipe revisions"
Hi,

We have a single Git repository in a similiar style to Conan Center for our recipes. We also make use of version agnostic recipes, and data drive it through conandata.yml with a url and a SHA. We also use `revision_mode="scm"` in recipe, so that we have a 1-1 relationship with recipe revisions and the git commit that resulted in the change. This is all nice.

An edge case, that I've not found

[2021-10-21 15:27] datalogics-kam commented on #9784
Thanks for the response.

I'm thinking that way too. I know `Boost::locale` only needs `i18n`, `uc`, and `data` from ICU. Not sure about regex, but I could investigate.

It's in the plan. It also insulates us from upstream recipe changes, lets us vet what's coming from upstream, and lets us make our own changes and get them into production while offering them back to the main repo.

[2021-10-21 16:20] diggeloid opened #9846 "[question] Auto-detect compiler version"
Hi, I'm wondering if there's a way to have Conan automatically detect the compiler version for you, instead of having to manually specify it as a `-s` flag or profile entry? It seems like the code for detecting the version already exists in [detect.py](https://github.com/conan-io/conan/blob/develop/conans/client/conf/detect.py)

My use case is that I'm trying to integrate Conan into a project with

[2021-10-21 16:43] Artalus commented on #9565
I have not yet, but the mentioned fix was simply about removing extra envvars. The original problem comes from a single envvar being too long - AFAIK this is yet to be changed.

[2021-10-21 17:22] memsharded commented on #9846
Hi @diggeloid

I am not completely sure what you mean. The ``default`` profile that is automatically generated for you the first time is needed, already does the auto-detect, containing the detected compiler version. If you are in a specific build system, and that build system defines some compiler version, then you can run ``conan new profile xxxx --detect`` to run a profile detection, that you c

[2021-10-21 18:31] diggeloid commented on #9846
An alternative solution would be to do the manual configuration with Conan profiles first as you recommend, and then have my build system parse those profile files during configuration to find compilers/toolchains/etc. However, that's effectively the same solution, just backwards (conan configures my build system, instead of my build system configuring conan)

Also, unless I'm getting some concept

[2021-10-21 20:01] mairacanal opened #9847 "[feature] Maintenance for meta-conan layer"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, the meta-conan layer is barely maintained, considering that the issues and pull requests are not answered and Conan is on version 1.35. Beyond that, the example in the website doesn't work at all, because the version of Conan is outdated.

The website example is not working

[2021-10-21 21:06] memsharded commented on #9846
Yes, ConanCenter builds binaries with a set of assumptions. You don't need to lose access to conan center recipes, but you can still use them to build your own binaries for your own custom configurations, even incrementing the binary configurations. For example, you can define a ``os.distro`` subsetting like described in https://docs.conan.io/en/latest/extending/custom_settings.html#adding-new-sub

[2021-10-21 21:07] wbehrens-on-gh commented on #9767
Yes that did help

[2021-10-21 21:07] #9767 closed, assigned to tapia

[2021-10-21 21:32] Gryfenfer97 commented on #9819
In my case I use my system proxy settings so I don't know what to put in the proxy section of the `conan.conf` file.

[2021-10-22 00:00] SuTanTank commented on #8443
I ended up packaging prebuilt binaries for these 3rd party libs, which are already available in our team and the build scripts are actually working.

[2021-10-22 02:45] taogeng commented on #9828
Thanks very much.

[2021-10-22 07:02] Gryfenfer97 commented on #9819
I finally fixed the problem by deleting `cacert.pem` and updating conan with `pip install --user --upgrade conan` and restarted the installation.
I don't know which action had an effect but my proxy section is still empty

[2021-10-22 07:27] lasote commented on #3573
@schwaerz, No, the applied profile should declare which compiler are you using. If the `xxx` from the `19.29.xxx` is a concern for you, you can always add the patch to the listed `msvc` versions at the `settings.yml` and distribute the configuration with `conan config install`.

[2021-10-22 09:11] memsharded commented on #9819
It seems this has been solved, can be closed now, and we can follow #9695

[2021-10-22 09:11] #9819 closed, assigned to nobody

[2021-10-22 09:41] lasote opened #9848 "[feature] introduce alias for PkgConfigDeps"
**Issue**: The current PkgConfigDeps scopes the `pc` files with the name of the package, but people, specially from open source and conan-center, want to consume "crypto.pc" not "openssl-crypto.pc", otherwise every consumer would need to modify the build system script.

**Proposal**

1. Keep generating files scoped, always, and a global one that include all the components:

With components:
[code]

[2021-10-22 09:55] lasote commented on #9725
Fail if running "conan package" and have a layout() declared. Saying you have to use "export-pkg"

[2021-10-22 10:44] memsharded commented on #9847
Hhi @mairacanal

Yes, it is true that this is not getting enough attention at the moment. But it is also true that we are also overwhelmed with the continous Conan growth, and we are prioritizing now things like ConanCenter and Conan 2.0 development, which first alpha release is very close.

Thanks very much for pointing these issues. Of course it would be fantastic if you could help with support

[2021-10-22 10:47] #9483 closed, assigned to tapia, franramirez688

[2021-10-22 10:57] memsharded commented on #7548
The new ``self.dependencies["mydep"].options`` access model is now the recommended one for getting always the right values of dependencies options (see https://github.com/conan-io/conan/pull/9776#pullrequestreview-786699483). I think we can mark this issue as solved now, but please comment otherwise.

[2021-10-22 10:57] #7548 closed, assigned to nobody

[2021-10-22 11:56] jgsogo commented on #9845
Hi, @foundry-markf. Let me share my POV from `conan-center-index` experience.

If you are using `revision_mode="scm"` then you are explicitly requesting that behavior: any commit in your Git repository will result in a different revision for every recipe you export from it. There is very little you can do here as you are opting-in that behavior.

What we do in `conan-center-index` is to leave the

[2021-10-22 12:06] jgsogo opened #9849 "[feature] Parse docstring from `package_info` method and show it in markdown generator"
Parsing the docstring from the `package_info` method could be a good way to pass information from the recipe to consumers... and this information can be written in the file generated by the `markdown` generator. It can be free text or structured one.

[2021-10-22 12:08] #9825 closed, assigned to czoido

[2021-10-22 12:11] #9739 closed, assigned to nobody

[2021-10-22 12:30] yowidin opened #9850 "The `--install` command line argument isn't available in the earlier CMake versions"
I'm trying to check out the new and blessed packaging approach and having an issue with the `cmake.install()` call inside the `package()` method on older systems.

My recipe works fine with the `cmake version 3.17.3` and breaks when used with `cmake version 3.13.4`.
Of course replacing the `cmake.install()` call with the `cmake.build(target='install')` call fixes the issue.

The `--install` comman

[2021-10-22 12:36] memsharded commented on #9850
Hi @yowidin

yes, this is expected. All the new integrations work with CMake > 3.15, this was discussed and approved by the Tribe: https://github.com/conan-io/tribe/pull/4

We need to set a base version to be able to test and develop correctly, and we settled for 3.15. Please upgrade CMake to use the modern integrations (and also for Conan 2.0) (you might use ``conan install cmake/3.15... -g Virtu

[2021-10-22 12:37] #9828 closed, assigned to memsharded

[2021-10-22 12:38] memsharded commented on #9828
https://github.com/conan-io/conan/pull/9843 merged, this will be in next 1.42

[2021-10-22 12:39] yowidin commented on #9850
Okay, but the documentation is a bit outdated on that front:

https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake.html#install:

[2021-10-22 12:43] yowidin commented on #9850
Closing the issue, since the change is intentional.

[2021-10-22 12:43] #9850 closed, assigned to memsharded

[2021-10-22 17:19] gpxricky opened #9853 "[question] How to read evaluated SCM information in requirements method?"
Hi Conan experts,

I would like to read the evaluated SCM information (evaluated = auto values replaced with concrete values) in the `requirements` method as I need to delegate it as option to a dependent package.
Is this scenario possible with Conan? It seems that I'm delegating the "auto" values to my dependency (which would be fine in package development flow, but shouldn't be the case in offic

[2021-10-22 17:29] gpxricky commented on #9853
Actually, I was wrong. It was just the lockfile create with `conan lock create` that provided the `auto` values.

[2021-10-22 17:29] #9853 closed, assigned to nobody

[2021-10-22 18:50] gpxricky opened #9854 "[question] How to create a lockfile properly"
Hi Conan experts,

at present I'm creating a lock file as follows:

[code]

However, this is not perfect, as my recipe uses the `self.scm.revision` attribute of my `conanfile.py` as option for another requirement. Using the `lock` method above, just gives me `auto` as value for the `revision` attribute.

I know that I'm also able to use the `reference` attribute as follows:

[code]

However, using

[2021-10-23 13:36] w3sip opened #9855 "[bug] Failure to set dependency target when crosscompiling"
Have a CMake project, which depends on static OpenSSL, which is brought in via `self.build_requires("OpenSSL/1.1.1l.40+a3bcc1df@repo/master")`

CMakeLists.txt file has
[code]
then includes a bunch of subdirectories. CMakeLists.txt in each subdirectory tries to make use of CONAN_PKG::OpenSSL.

All of this works fine, unless attempting to crosscompile -- even if no real crosscompilation is taking pl

[2021-10-23 13:43] w3sip commented on #9855
Please ignore -- just discovered `force_host_context` addition to `build_requires` method.

[2021-10-23 13:43] #9855 closed, assigned to nobody

[2021-10-23 19:54] atrelinski commented on #3230
I also believe `patchelf` is the easiest way, however this is not the point.
I wonder how many other developers face this problem.

Our case is that binary is signed, so You can't change it.
Yes, we have access to sources (this is not a closed source library), but process of their compilation is complex and require machine that have several things installed and it does not base on cmake. More over

[2021-10-24 15:01] asanka424 opened #9857 "[question] Access environment variables in layout.ini"
Hi,
Is it possible to access environment variables in layout.ini? If so how do I do that.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-10-24 16:27] memsharded commented on #9857
Hi @asanka424

It is not possible to access env-vars from those ini files. In any case, it seems you are looking at the legacy way of defining editables, which is deprecated and superseded by the new ``layout()`` method, please have a look to https://docs.conan.io/en/latest/developing_packages/editable_packages.html.

[2021-10-25 06:42] ssrobins opened #9860 "[question] How do you package non-lib files in Conan v2?"
In Conan v1, I've been using [this method](https://docs.conan.io/en/latest/creating_packages/existing_binaries.html#packaging-pre-built-binaries) to package CMake files so I can share some CMake functions in multiple projects. A few months back, Conan v2 was producing the Conan-generated `.cmake` files that allow `find_package()` to work so I had the path for the include, but it's not working any

[2021-10-25 08:36] foundry-markf commented on #9845
Hi @jgsogo ,

Thanks for that write up. I had no idea you did that in conan-center-index.

We have had some properties added to packages in Artifactory in the past, but the limitation I found with it (which admittedly might be lack of knowledge of the tooling) is that I wasn't able to query those from a shell on my machine, whereas I can get a recipe revision from a local cache.

I imagine what yo

[2021-10-25 08:38] memsharded commented on #9768
This seems to be a duplicate of https://github.com/conan-io/conan/issues/9510

[2021-10-25 10:16] franramirez688 commented on #9537
Hi @arttet

I was figuring out what was happening and the problem is due to old "cmake" and "cmake_find_package" generators are not passing well the same link flags for both `host` and `build` machines so basically the dependency was being built with "Debug" flag and the package with "Release" one. I have opened a PR to your repo so it's basically using the new `conan.tools.cmake` generators and n