[2021-11-24 12:57] paulocoutinhox commented on #9448
Hi,

As I use my day-to-day compilation of things for Apple (iOS, watchOS, tvOS), mainly in the Ezored project (https://github.com/ezored/ezored) and several people and companies use my project and do the same thing as me, what makes the most sense is that the flags are passed to all libs at once, as you can't have one lib compiled with bitcode and one without, as this generates a compilation erro

[2021-11-24 13:29] lasote opened #10072 "[feature] Deprecation of build_requires for 2.X"
In Conan 2.0, the name "build_require", when alluding to a tool like CMake (the only meaning it should have as defined in the [documentation](https://docs.conan.io/en/latest/devtools/build_requires.html)), will be renamed to `tool_require`. So to be prepared for the removal, we want to introduce that type mostly as an alias of "build_require".

EDIT: Both the conanfile.txt and the profiles have to

[2021-11-24 13:29] lasote opened #10073 "[feature] test package conanfile, `test_type` mechanism deprecation"
Conan has the `test_type` mechanism so we can specify in the conanfile of a `test package` the type of requirement that we want to test.
The `test_type` allows `test_type = "build_requires"` or `test_type="requires"` but that doesn't cover the current variety of requirements we could have in 2.0 with the requirements traits.

So we want to introduce a mechanism in `1.X` to be prepared for the remo

[2021-11-24 13:56] jlemein opened #10074 "[question] Is it possible to update aliases without conan install --update?"
I am creating an installer that fetches artifacts from our locally run conan server (that fetches in turn from conan center).
In order to get the latest artifacts I am using aliases. For example:

[code]

The idea is that we want a pipeline to create a new installer package after every change to one of the dependencies, so that we always have the latest installer version.

If I run `conan install

[2021-11-24 14:04] SpaceIm opened #10075 "[question] Which generator should I use to get env vars from `env_info` of requirements with 2 profiles?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Which generator provides all `env_info` of requirements (not build requirements) with 2 profiles?
Because currently `virtualenv` has env vars of build context and `virtualrunenv` host context. But I don’t see vars from `env_info` of requirements in `environment_run.sh.env` generated b

[2021-11-24 14:13] IRainman commented on #1839
I have problems with pcre [[package] pcre/8.45: Build failed with ClangCL on Visual Studio](https://github.com/conan-io/conan-center-index/issues/8172) and expat
[[package] expat/2.4.1: Build failed with ClangCL on Visual Studio](https://github.com/conan-io/conan-center-index/issues/8173) and bzip2
[[package] bzip2/1.0.8: Build failed with ClangCL on Visual Studio](https://github.com/conan-io/cona

[2021-11-24 14:32] SpaceIm commented on #10075
Might be a duplicate of https://github.com/conan-io/conan/issues/9529?

[2021-11-24 14:34] ysmaoui commented on #7864
related to this ticket

I have currently the following situation
![build_requires_and_requires_overriding](https://user-images.githubusercontent.com/1141454/143257390-fe6e4778-c6df-4273-be77-1d1952d8d461.png)

someone has a hint  how to fix this ( maybe directly from the root conanfile.py, beacause it is difficult to change the other packages right now? ): How to make conan override the  requires

[2021-11-24 14:49] SpaceIm commented on #10075
So I understand that experimental `VirtualRunEnv` should be used here. But it would require update in `moltenvk` recipe (and bump min conan version to 1.35.0, since `self.runenv_info` seems to have been added in https://github.com/conan-io/conan/commit/36bec562423011d42a9b111c7f31292ae364a3c1), something like this (but not yet, this generator is not even documented so highly experimental I guess):

[2021-11-24 15:01] SpaceIm commented on #10075
Hum, there is an issue in `VirtualRunEnv` (on Macos at least), the separator of variables values added through `self.runenv_info` is a space instead of colon in the generated file:

[code]

Also, unlike `virtualrunenv`, there is no declarative .env file generated anymore, just a script. But a script is not always convenient to integrate in IDE. Some of them don't provide a convenient way to call a

[2021-11-24 15:18] ysmaoui commented on #7864
a more simplified abstraction of the problem I am facing
![build_requires_and_requires_overriding_abstraction](https://user-images.githubusercontent.com/1141454/143265290-e623eaaf-398a-468a-a0e9-15ea24adf309.png)

[2021-11-24 16:40] memsharded commented on #7864
Hi @ysmaoui

Maybe you want to open a new ticket, this one is closed.

I think the issue you are facing is that ``build_requires`` are private to the recipe ``requiring`` them. They are not overriden, the reason, as an example is that: "if I, "pkgA" needs to build cmake/3.15, I can ``build_require="cmake/3.15"``. The fact that some of my consumers need another version of cmake, and they could be `

[2021-11-24 16:47] memsharded commented on #10075
The generator is documented: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html. Yes, it is experimental, I'd probably recommend Conan 1.42 to start using them (experimentally), as the interface changed a little bit.

You can explicitly inject environment in python memory with ``EnvVars.apply()`` method: https://docs.conan.io/en/latest/reference/conanfile/tools/env/envvars.html.

Y

[2021-11-24 16:57] spectras commented on #10041
It seems that on CMake-based projects, if Ninja is installed then **Visual Studio uses Ninja by default**.
This results in conan guess being wrong. At least on our systems (conan 1.42.2, visual studio 16.11.6, cmake 3.22).

Here is the call that Visual Studio does to generate cmake cache:
[code]
This fails with: `Generator Ninja does not support platform specification, but platform x64 was specifi

[2021-11-24 17:03] SpaceIm commented on #10075
Thanks for the answer, indeed it's documented 😄

VSCode is not an IDE out of the box, but with proper extensions it can almost become a complete C/C++ IDE.
The debugger configuration file of the C/C++ extension in VSCode can take a `dotenv` file with env variables to inject. Unfortunately, there is no way to automatically source a script before debugger execution in the same context (you can call

[2021-11-24 17:06] memsharded commented on #10041
Hi @spectras

The problem is that it is still more common to generate the VS solution with ``cmake`` (Visual Studio generator) and then opening the generated .sln solution, than opening a CMake project directly from the IDE with the CMake integration.

It is impossible to Conan to define the toolchain with the same inputs for 2 completely different scenarios, with different CMake generators. So th

[2021-11-24 17:18] memsharded commented on #9943
There is way more Conan usage out there not using ConanCenter than using it. The estimation is around 70-80% of users do not depend on ConanCenter, but maintain their own recipes (forks or from scratch) for third party packages. I know a few teams that are already happily migrating to CMakeDeps (and not being affected by these issues)
Given that we are already in Conan 2.0-alpha, that only impleme

[2021-11-24 19:34] ysmaoui commented on #7864
Thanks @memsharded   for your reply

I thought it might be better to keep the discussion in one ticket for future references. but if you prefer I can still open a new one :)

so a bit more context: in my case I am getting the same message "To fix this conflict you need to override the package 'C' in your root package."

and I am getting this error while trying to create a lock file ( with the opti

[2021-11-24 19:39] memsharded commented on #7864
Yes, the issue is that you are mixing regular ``requires`` and ``build_requires`` of the same package. To better support this, Conan has developed the ``build`` and ``host`` context and profiles, which will be default in 2.0 and now you can opt-in doing ``--profile:build=myprofile --profile:host=myhostprofile``. Recommended for cross-building scenarios.  When doing this, the dependency graph can b

[2021-11-24 20:24] ysmaoui commented on #7864
Thank you @memsharded  for your help,

using a [build_requires] section in the profile, helped indeed in overriding the build_requires requirements ( so package C/1.0 in my diagram above )

but it is not a solid solution.. better fix the mixture of requires and build_requires..

Thank you very much :)

[2021-11-24 20:33] johan-boule commented on #10075
I've been reading through the documentation, and while virtualbuildenv and virtualrunenv seem to be mentionned, I don't know where Spacelm was able to find virtualenv. The latter seems to do what I want (i.e. acquiring cmake and running it as a build tool).

[2021-11-25 01:59] VrajPandya commented on #9649
I see the same issue. Do we know any workaround for this?

[2021-11-25 02:06] SparkElf opened #10078 "stb_image unresolved external reference symbol."
system: win10
cmake: 3.22
ide: vscode
`main.obj : error LNK2019:  unresolved external reference symbol: stbi_load.`

texture.cpp
[code]

CMakeLists.txt in src:

[code]

[2021-11-25 02:50] VrajPandya commented on #9649
Okay updated Conan and this seem to work for me.

[2021-11-25 07:39] jlemein commented on #10074
Also I noticed that `conan install .. --update` is updating build requirements (i.e. gtest for example) for my requirements. Should this happen? I am just planning to fetch the artifacts. No need to build from source.

So what I mean is: Let's say packageA has requirements on packageB1 and packageB2. In turn packageB1 has a build dependency on packageC. In this case I do not expect that packageC g

[2021-11-25 07:40] db4 commented on #9943
Let's take Boost as an example. I don't believe there are 70% serious C++ software developers not ever using it or recreated its recipe from scratch. If they're so unlucky to adopt CMakeDeps in their projects (like me) - they're toast now. Yes, I forked Boost recipe and fixed it internally but it's big pain, Boost is not the only one. Your argument that CMakeDeps is experimental does not quite con

[2021-11-25 08:36] memsharded commented on #9943
I understand this is unfortunate, but in our defense, most of this came from a new requisite, that didn't exist before when CMakeDeps was starting to be promoted, and it is the need to define new ways of defining specific target names (with custom namespaces, etc). We couldn't foresee that, and the path forward in the migration is now more painful than expected. I really apologize for it. But also

[2021-11-25 08:40] memsharded commented on #9649
Please see https://github.com/conan-io/conan/issues/9695 for certificate related issues.

@Prayag-Dubey did you manage to do some progress? It seems you could have some proxy in between, I would try first in a different machine (outside of the company proxy/VPN if you have one), or contacting with your IT if they can help with that proxy

[2021-11-25 08:43] memsharded commented on #10078
we would need more:
- The conanfile you are using to install it, and the output of ``conan install``
- An actual .cpp with some code that will require that symbol
- The Conan version you are using

[2021-11-25 08:59] ysmaoui commented on #7864
Hi @memsharded ,

one probably last question :P

the [build_requires] section  in the profile,  does it just override a build_require if it exists?
or does it add the listed build_requires for all the packages ?

asking because I started seeing errors like
`ERROR: Loop detected in context host: 'X/xx.xx' requires 'Y/yy.yy' which is an ancestor too`

although X/xx.xx should not have any requirement

[2021-11-25 09:05] memsharded commented on #10074
Hi  @jlemein

I am missing the information on how you are creating, updating, uploading the ``alias``.

You are right, it is possible that ``alias`` is not the best approach. This is a feature that we added long time ago, even before than Conan had version ranges, for example. As a general idea, it is possible that the flow can be simplified with different approaches:
- Have you considered using `

[2021-11-25 09:14] memsharded commented on #10030
Any Visual Studio expertise here? What would be a good default for /m and /MP parallelism specifier?

[2021-11-25 09:29] ysmaoui commented on #7864
replying to my previous question , I should read the documentation :)
https://docs.conan.io/en/latest/devtools/build_requires.html#declaring-build-requirements

we can specify build_requires for specific packages and not all the packages in the profile ( default is add to  all packages )

[2021-11-25 09:50] ysmaoui commented on #7864
ok.. as I have the situation describe here: https://github.com/conan-io/conan/issues/7864#issuecomment-977975058

A1 -- requires --> C
A1 --build_requires--> B --requires--> C

the link B --requires--> C  was not really overridden by the [build_requires] section in the profile ( because it is a require not a build_require )  ..

so back to square 0, not sure how to make conan override    B--requir

[2021-11-25 09:56] jlemein commented on #10074
At the moment we only try to follow development branches using aliases. In our pipeline we call the following methods to create a conan package, the alias and to upload it to our remote.

[code]
Our development packages are versioned in the postfix. So consecutive builds have the following version numbers:
[code]
The version number is a bit nonsense here, but since we have to follow semantic versi

[2021-11-25 10:12] memsharded commented on #10074
Yes, pre-releases can also be resolved by version ranges, it is tested in Conan test suite:

[code]

As you see, you might need to opt-in into resolving to prereleases (not matched by semver by default), but using ``-xxx`` in the range, or adding ``include_prerelease=True``

[2021-11-25 12:28] AlvaroFS opened #10080 "[bug] Package dependencies ignore my options"
I'm using `google-cloud-cpp` and `protobuf` which is at the same time a dependency in `google-cloud-cpp`.
`protobuf` is built locally since it's missing from conan-center but `google-cloud-cpp` is downloaded since it is already there.
I'm using both of them as shared libraries but when I inspect the conaninfo.txt in the `google-gloud-cpp` package it is using `protobuf` as a static library.
It seem

[2021-11-25 12:56] jlemein commented on #10074
Thanks, so if I understand it correctly it looks as follows:
[code]
If I look at the result of running `conan install` it seems it does not resolve to the latest available on the remote. It resolves to the latest in my cache. Can I force it to retrieve the latest from the remote in this case? Or are we then back at `conan install --update`?

[2021-11-25 13:14] asanka424 opened #10081 "[question] Environment variables in layout.ini"
Hi.
Is it possible to use environment variables in layout.ini file?

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-11-25 13:28] memsharded commented on #10081
Hi @asanka424

It is not possible. However, I would recommend having a look at the new ``layout()`` method, that helps defining the package layout, and is the new proposal for editables, not the ``layout.ini``. It is still experimental, but I'd still recommend having a look.

[2021-11-25 13:33] spectras commented on #10041
Hello @memsharded !
Yes. Although with Microsoft working hard on their native CMake support, this is likely to be more and more used. As this goes on, conan will fail by default on an out-of-the-box install of Visual Studio — with a hard-to-diagnose problem.

Making VisualStudio aware of conan would be perfect, but with Microsoft pushing vcpkg it is unlikely to happen. So making this scenario work

[2021-11-25 13:55] jsteinhofff commented on #9999
Hi, since sofar there was no feedback here i tried to understand better the different approaches by myself. For me there is a clear favorite (#3 in the picture below) which is why i change the tag in the title of this ticket from [question] to [feature] .

![screenshot-conan-lockfile-persistence-approaches](https://user-images.githubusercontent.com/70687692/143453547-86913a6d-152f-45ed-b28f-69f2d8

[2021-11-25 14:52] asanka424 commented on #10081
I am using conan workspace. so if I use layout() in conanfile.py, it will be only used in workspace mode?

[2021-11-25 15:04] memsharded commented on #10081
''layout()" is always used in recipes, and being in editable mode (which is what workspace do, should be enough.

Note however that ``conan workspace`` is a half-baked feature, it is not really matured, and we stopped working on it until the foundations were improved. Now the ``editable`` foundations are better with ``layout()`` but still workspaces didn't get enough priority to continue developme

[2021-11-25 15:46] asanka424 commented on #10081
ok. thanks for the update. I will take a look at layout()

[2021-11-26 00:05] Rogiel opened #10088 "[feature] Emscripten os.threads setting"
Emscripten binaries are incompatible if they were build with some flags that don't match. For instance `-s USE_PTHREADS=1` is incompatible with libraries without it. Mismatching libraries will fail with the following:

I'm considering implementing `os.threads=True` that should correctly set the flags. To implement this, we would need to add a new entry in `settings.yml` and append `-s USE_PTHREADS

[2021-11-26 02:37] abrousseau001 commented on #9804
I wouldn't mind taking a crack at this. It looks to be some simple string changes in the installer.py's error message.

[2021-11-26 10:48] KerstinKeller commented on #9943
@memsharded I think what you proposed sounds like a decent plan.
For the build of our open source project we will just stay on Conan 1.41 for now. If properties are stabilized in 1.43, I am willing to make PR's for the packages that are relevant for us.

So I am understanding that `.set_property` and `.names` can coextist during the transition to Conan 2.0, and then at some point in the future all

[2021-11-26 12:04] dribeas opened #10092 "[feature] Allow overriding settings for specific dependencies (tools)"
Conan allows overriding *options* but not *settings* when installing dependencies (and build dependencies).  You can in the command line determine that you want to build shared objects and link one of your dependencies statically, for example.

There are some packages, though, that are used as tools and for which there's no relation between what you want to build and how you consume that dependenc

[2021-11-26 21:40] ghost commented on #10053
@memsharded
I tried the extra profile for cross building as you suggested. This worked.
I'm currently working with

[code]

However as you can see there are many hardcoded path inside this profile.
However since some of these paths (like the Compiler version) are project depended, I'd like to access the project specific settings configured in CMake.

So is it possible to get the toolchain path fro

[2021-11-27 01:44] akshaybabloo opened #10095 "[bug] Cannot open opencv_ml453.lib"
I am trying to add OpenCV to my project, it works fine on macOS but doesn't run on Windows. I get an error as

[code]

This file is currently missing and I am not sure where I can het it from.

**Update**

I was able to find the files at `C:/.conan/582d34/1/lib`, I think `link.exe` needs an absolute path, I am not sure how to generate it

### Environment Details (include every applicable attribute

[2021-11-27 15:26] theuntoldcreator commented on #3249
@lasote , Thanks for the issue (Changing of 3.12 to 3.13) helped me a lot😊

[2021-11-28 14:17] SpaceIm commented on #10075
`moltenvk` will be the first CCI recipe experimenting `self.runenv_info`: https://github.com/conan-io/conan-center-index/pull/8061/commits/6684a51ea85cdb9e4c12700189c529c93a5c8e77

[2021-11-28 18:22] SpaceIm commented on #10095
Since you don't rely on opencv targets (you should), but on `${CONAN_LIBS_OPENCV}`, you must inject lib paths (with `conan_basic_setup()` for example).
Your call to `find_package(OpenCV)` is useless (and therefore `cmake_find_package` generator is also useless here), because you don't even use what it defines afterwards (OpenCV targets).

My recommendation:
- use `CMakeToolchain` + `cmake_find_pac

[2021-11-28 18:37] MrPointer opened #10097 "[bug] Conan search fails when searching for revisions in the special 'all' remote"
Seems like combining the `--revisions` and `--remote all` options in **conan search** can't be done, complaining that `all` is not a defined remote.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux, Ubuntu 20.04, WSL
  * Compiler+version: ---
  * Conan version: 1.42.1
  * Python version: 3.9.5

### Steps to reproduce (Include if Applicable)

I'm not

[2021-11-28 19:40] SpaceIm commented on #10092
Why don't you want to use `-s:b` and `-s:h`? Separating build requires and requires is the good approach. If I'm not wrong, it will be the default behavior in conan v2.
2 profiles + always force `-s:b build_type=Release` if you want to ensure Release build for your tools.

You may want to read this discussion in conan-center-index: https://github.com/conan-io/conan-center-index/issues/3157

[2021-11-28 23:23] #9804 closed, assigned to czoido

[2021-11-28 23:34] memsharded commented on #10097
Hi @MrPointer

I think this has already been fixed in Conan 2.0 (you can test the alpha Conan 2.0-alpha1, already available in PyPI), with ``conan list recipe-revisions zlib/1.2.11@ -r=*`` new cli.

We are already focusing our efforts on 2.0, unless this is very problematic, I'd prefer to wait until 2.0. Can you manage to workaround this issue iterating the different remotes? Thanks!

[2021-11-29 00:32] akshaybabloo commented on #10095
Tried this:

[code]

And I get:

[code]

[2021-11-29 01:16] SpaceIm commented on #10095
Yes, toolchain generated by conan assumes some default generator depending on the compiler. Try adding `-c tools.cmake.cmaketoolchain:generator="NMake Makefiles"` while invoking conan.

(you shouldn't hardcode CMAKE_TOOLCHAIN_FILE in your CMakeLists)

[2021-11-29 02:24] akshaybabloo commented on #10095
I am just doing it to debug. Will move it to tool once this is fixed.

So I tried that, now I get this:

[code]

So I had to add:

[code]

I had to add `cmake` generator.

Now I get:

[code]

[2021-11-29 04:17] ajrup commented on #10047
Yup, the simple "-o" option when installing was my solution. Thanks for the assistance :)

[2021-11-29 04:17] #10047 closed, assigned to memsharded

[2021-11-29 08:28] SpaceIm commented on #10095
`CMakeToolchain` generator (non-intrusive integration) is the successor of `cmake` generator (intrusive integration). So just remove this block:

[code]

[2021-11-29 10:06] memsharded commented on #9943
https://github.com/conan-io/conan/pull/10077#issuecomment-980051717 contains some updates about this. Quick summary:

- We will keep the .names longer (2.X), to ensure not breaking ``cmake_find_package[multi]`` generators. These generators will not listen to the new properties (we will revert back .names in ConanCenter, before 1.43 is out)
- New properties will define only for CMakeDeps, this is t

[2021-11-29 10:11] MrPointer commented on #10097
@memsharded Thanks for the quick response! It's not a deal-breaker at all, I'll manage.
That new cli looks promising, and the fact that the alpha version is already in PyPI is slick!

Anyway, I guess we can close this now, thanks again!

[2021-11-29 10:11] #10097 closed, assigned to memsharded

[2021-11-29 10:18] memsharded commented on #10097
Thanks for the support @MrPointer!
Keep tuned for alpha releases, also the ``docs.conan.io`` already contains a 2.0-alpha version, at the moment almost empty, but we will gradually add new stuff there.

[2021-11-29 22:05] AndreyMlashkin opened #10100 "[feature] add gcc 11.2 support"
add support for gcc 11.2. Currently, it is missing in settings.yml

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-11-29 22:10] stefaneicher opened #10101 "[feature] cmake presets generator"
Would it make sense to create a cmake presets generator?
https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html

We use the vitualenv generator and in vscode run the activate.sh to setup the environment. But in clion this does not work.
I would like to get a cmake idiomatic solution in which a cmake integration of any ide integrates seamless.
Cmake toolchaain is currently not a option sin

[2021-11-29 22:18] memsharded commented on #10101
Hi @stefaneicher

The issue is that Conan by default should support cmake 3.15: https://github.com/conan-io/tribe/pull/4

While it could make sense to add later another generator for this functionality, at the moment we should focus on 1 canonical integration. This will be ``CMakeDeps`` and ``CMakeToolchain``, beware that the other generators will be removed in 2.0.
Workspaces are not production r

[2021-11-29 23:20] memsharded commented on #10100
Already implemented in https://github.com/conan-io/conan/pull/10021, to be released in 1.43

[2021-11-29 23:20] #10100 closed, assigned to nobody

[2021-11-29 23:28] #9848 closed, assigned to franramirez688

[2021-11-30 00:44] akshaybabloo commented on #10095
I tried it. Now I get this:

[code]

Full configuration (I added boost too, same issue):

[code]

[2021-11-30 00:58] akshaybabloo commented on #10095
The error is gone by doing - `list(APPEND CMAKE_PREFIX_PATH "C:/Qt/6.2.1/msvc2019_64/")`. But now I get

[code]

[2021-11-30 01:54] akshaybabloo commented on #10095
Never mind, I had to add the comonents usin `opencv::core` and `opencv::videoio`. Thank you for your help @SpaceIm much appreciated.

[2021-11-30 01:54] #10095 closed, assigned to nobody

[2021-11-30 08:29] jasal82 opened #10103 "[bug] CMake unable to locate package configs if a user toolchain sets custom CMAKE_FIND_ROOT_PATH with package search mode ONLY"
I've been trying to familiarize myself a bit with the new toolchain integration and set up a minimal project with a single dependency. Following the instructions in the documentation I used `CMakeDeps` to generate the package config for the dependency and `CMakeToolchain` for generating the toolchain file. Building the project with the native GCC works fine. In order to get cross-compilation worki

[2021-11-30 09:28] babariviere opened #10104 "[question] [2.0] Options are frozen when calling `configure`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Nixos-21.11.20211122.263ef4c
  * Compiler+version: `gcc (GCC) 10.3.0`
  * Conan version: `Conan version 2.0.0-alpha1`
  * Python version: `Python 3.8.2`

### Steps to reproduce (Include if Applicable)

1. `conan new hello/0.1 --template=cmake_lib`
2.  Apply this patch:
[code]

<details>
 <summary>Full conanf

[2021-11-30 09:31] memsharded commented on #10104
Hi @babariviere

This is expected. The manipulation of options needs to be done in the ``config_options()`` method. That was always the purpose of this method, though the capability was leaking into ``configure()`` in Conan 1.X. Please try that.

[2021-11-30 09:34] babariviere commented on #10104
Wasn't aware of this one. Thanks ! (Sorry for the noise)

[2021-11-30 09:34] #10104 closed, assigned to memsharded

[2021-11-30 09:36] memsharded commented on #10104
NP! :)
Don't hesitate to ask as many questions as you need, better be sure, we love to help.

[2021-11-30 09:54] babariviere commented on #10104
Is there any updated recipe for 2.0? I was looking at this recipe as a reference: https://github.com/conan-io/conan-center-index/blob/2a7524ba66af1409bf1561f2c9c7aa6aedb5637a/recipes/boost/all/conanfile.py#L374
But I guess it was not updated 😢

[2021-11-30 10:01] memsharded commented on #10104
Nop, recipes in ConanCenter are still not ready for 2.0, we have started to try some changes in a separate fork, but there is still a ton of work to do there, I guess until "beta" stage there will be no 2.0 ready recipes in ConanCenter

[2021-11-30 10:01] babariviere commented on #10104
Thanks for the info!

[2021-11-30 10:10] memsharded commented on #5295
This has been already implemented in ``develop2`` branch, will be in next 2.0.0-alpha2 (alpha1 already released). The variable (renamed) CONAN_HOME will point directly to the ``.conan`` (temporary assigned to ``.conan2`` while the migration) folder, not its parent. So defining other value with ending different to ``.conan``, will not create such child ``.conan`` folder, and will respect the given

[2021-11-30 10:10] #5295 closed

[2021-11-30 10:22] SpaceIm commented on #10095
Indeed, never override `CMAKE_PREFIX_PATH` & `CMAKE_MODULE_PATH`, but append to them as you do now (even better, when you append with some absolute path specific to your machine, it should be done outside CMakeLists, basically in cmake command line, I guess CLion provides a way to configure user workspace so that it can inject custom CMake definitions).

Yes, but I advice to use official target na

[2021-11-30 11:00] SpaceIm commented on #10103
There were many discussions in https://github.com/conan-io/conan/issues/9202 and issues/PR attached to this thread. https://github.com/conan-io/conan/issues/9427 is also connected in a sense.

Honestly I don't know yet how CMakeToolchain could be robust to all additional toolchains manipulating `CMAKE_FIND_ROOT_PATH_MODE_*` variables.

By robust I mean:
- find_package()/find_library()/find_file()/

[2021-11-30 11:38] memsharded commented on #9503
I am closing this, it doesn't seem a bug so far, just that recipes from ConanCenter are still not using the new integrations, and do not support yet msvc compiler setting (in the general case, some might work)

[2021-11-30 11:38] #9503 closed, assigned to memsharded

[2021-11-30 11:53] tapia commented on #9565
I've updated the virtualenv generators to create a powershell script, as well as the .bat script (#10049 will be available in the 1.43 release).

Now we have to figure out the best way to use this in the future. PowerShell scripts can't be the default, because it's possible that the Windows security settings won't allow users to execute powershell scripts.

[2021-11-30 12:09] memsharded commented on #9724
We will try the following approach:

- Make explicit in a generator like ``ConfAggregator`` the behavior of accummulating conf from build-requires
- This generator can be explicitly instantiated to customize priorities and behavior
- The generator will be enabled in 1.X with ``auto_use`` as VirtualBuildEnv and automatic in 2.0
- CMakeToolchain will listen to that property as a potential list (both

[2021-11-30 12:13] memsharded commented on #9302
We are doing an experiment in next iteration to see if new lockfiles in 2.0 will be a better solution (together with https://github.com/conan-io/conan/pull/10046, same goal)

[2021-11-30 12:16] memsharded commented on #9912
This will possible go together with https://github.com/conan-io/conan/pull/10046, we will investigate if using lockfiles is a better solution than ``--require-override`` arg, which might not be the best UI

[2021-11-30 12:41] iiknd commented on #5295
Thanks for the update!

[2021-11-30 15:10] beckerhe opened #10106 "[bug] Build-require cannot be found in lockfile"
I'm trying to cross-compile the gRPC recipe from CCI. The gRPC recipe requires itself
as a build requirement and additionally requires the protobuf package as both a build and
a non-build requirement. This unique setup seems to trigger a problem. I'm not even
sure if there is a problem in conan or if the recipe is doing something.

### Environment Details (include every applicable attribute)
  * O

[2021-11-30 16:20] kutschkem commented on #7181
@floriansimon1 -1 simply indicates a write lock.

https://github.com/conan-io/conan/blob/f230bf104842c160be6ea377497151fe1ea64c38/conans/util/locks.py#L90-L100

[2021-11-30 16:24] KerstinKeller commented on #10101
@stefaneicher we implemented our own CMake Presets generator internally and it works great! You have a very transparent, identical workflow on all platforms, for all developers.
There is one catch tough: the last time I checked, the CMakePresets.json file needs to be located *next* to the main CMakeLists.txt file. Which means, either you have to generate it in your source directory (which is of co

[2021-11-30 16:33] martin-schulze-vireso commented on #9736
I dug a bit deeper into conan to see where this invalid setting is coming from and I think I found what is described [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#cross-building) to be the culprit (emphasis mine):

https://github.com/conan-io/conan/blob/14d01da610f7850cf95a86ed0f7518af6f9245ee/conan/tools/cmake/toolchain.py#L630-L638

With `_get_cross_b

[2021-11-30 16:35] floriansimon1 commented on #7181
Thanks for the info!

[2021-11-30 16:54] atrelinski commented on #3230
Hi @franramirez688

I have bad news.
I've done experiment and I was unable to reproduce problem any longer if it is outside docker environment, with default conan paths, with conan 1.42.0 on CentOS.
I strongly believe problem is still there since I am observing the same warnings as before, but since we've changed environment, it would take me a lot of time to reproduce the problem. And even if I w

[2021-12-01 04:32] abrousseau001 commented on #9396
@aniketh-varma are you still looking into this one? I see scm.py has a method in the base class to handle this. The SVN class already does something for a version method. It shouldn't be too difficult to implement the Git class version method. If you are not working on this still, I can go ahead and take care of this.

[2021-12-01 10:12] franramirez688 commented on #3230
Hi @atrelinski

Thank you so much for your comment and I agree, I think the problem could be still there but it'll be likely a corner case that we're not able to reproduce for now.
By the way, I have opened a little PR (https://github.com/conan-io/conan/pull/10107) to simulate these two cases at least for Linux so I'll close this issue for now when it's merged.
For sure, it'll be reopened if any o

[2021-12-01 10:26] babariviere commented on #10104
@memsharded How would you handle the case of `boost` where you create an option to delete another one?

Like in this recipe: https://github.com/conan-io/conan-center-index/blob/2a7524ba66af1409bf1561f2c9c7aa6aedb5637a/recipes/boost/all/conanfile.py#L374

Since you can't get the options provided by the profile in the `config_options`, do you have to move the logic in the `build`, or can you get the

[2021-12-01 10:37] iiknd opened #10108 "[bug] Cache/Download cache does not get updated for file permissions in 'conan_sources.tgz'"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux / Ubuntu 21
  * Compiler+version: gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0
  * Conan version: 1.42.2
  * Python version: Python 3.9.5

### Steps to reproduce (Include if Applicable)

- enable download cache
- conan export pkg/version
- upload a Conan package where the source code contains invalid execute ri

[2021-12-01 10:54] babariviere commented on #10104
I have tried in `validate` too, the options are frozen in this function. 😕

[2021-12-01 11:16] memsharded commented on #10104
I see the point @babariviere

Please check the PR open for this: https://github.com/conan-io/conan/pull/10109, trying to relax a bit the ``freeze``, without losing the consumer priority in defining options.

[2021-12-01 12:29] kammce commented on #9789
I'd like to +1 this. It would be great if the linker scripts can be exposed in some way. It would be even better if you can select out of a set of possible linker scripts. For example, my library for LPC40XX mcu has 5 different variants that I'd like to somehow choose at configuration time for my project.

[2021-12-01 12:56] stefaneicher opened #10110 "[question] run package test of dependencies on conan crate . --build=missing"
Can I instruct conan to also run the package test of its dependencies when running "conan crate . --build=missing".

Let's assume I create package A  that required package B

by running
conan create ./A --build=missing

I would also like to run the package tests of B

[2021-12-01 13:01] SvenStaehs opened #10111 "[feature] clear local cache of packages not on any remote"
We regularly want to remove packages that were only built locally from the local cache without losing the caching of packages pulled from remote.
Use cases:
- server builds that should start with a clean state without any chance of using a package built by some other server build on this agent
- developers who want to clean up their own cache from past local builds and free disk space
In both case

[2021-12-01 13:04] stefaneicher commented on #10110
duplicate! by bad!

https://github.com/conan-io/conan/issues/9275#issuecomment-881251366

[2021-12-01 13:04] #10110 closed, assigned to nobody

[2021-12-01 13:05] #9275 closed, assigned to nobody

[2021-12-01 13:10] memsharded commented on #9275
I'd like to add to this question:

``test_package`` is a very basic check that the package is correct, it contains the headers, the libs, etc.
Any real usage of the package, by their consumer should be a better check of correctness of the package than actually running ``test_package``.

Otherwise, yes, the "distributed" solution is necessary:

- Getting the build-order with Conan commands of the g

[2021-12-01 13:12] memsharded commented on #10030
https://github.com/conan-io/conan/pull/10068 has been merged, will be in next 1.43 to be released soon.

It will include parallel builds by default, -j for NInja/Make, /MP for VisualStudio based solutions (CMake with Visual Studio generator and MSBuild)

[2021-12-01 13:12] #10030 closed, assigned to memsharded

[2021-12-01 13:31] jwillikers commented on #9789
@kammce If it helps, I currently use a `python_requires` package that provides the linker script as a file which the consumer can than add to their CMakeToolchain. My rough implementation included below adds a new block for the CMakeToolchain generator and copies the linker script directly in to the build directory for easy access.

Linker Script `python_requires` `conanfile.py`:

[code]

Consumer

[2021-12-01 15:15] memsharded commented on #9789
I see, yes, maybe a built-in "LinkerScripts" block in ``CMakeToolchain`` can simplify a bit the above:

- This block would be empty by default
- Only users adding the path to a linker script would activate it
- It should probably define better CONAN_ var than CMAKE_ var
- The definition of the linker script could come from different places, from the current recipe itself, or it could be provided b

[2021-12-01 16:06] schletti2000 commented on #8448
I also would like to see that the conan_find_package_multi generator creates an IMPORTED target rather than IMPORTED INTERFACE. This would enable awesome things like the new CMake [**$<TARGET_RUNTIME_DLLS:tgt>**](https://cmake.org/cmake/help/latest/manual/cmake-generator-expressions.7.html#genex:TARGET_RUNTIME_DLLS) generator expression. Lets take zmq for example, we have to fall back to using the

[2021-12-01 16:16] SpaceIm commented on #8448
@memsharded @lasote @czoido Is it something you have taken into account in conan v2?

[2021-12-01 16:17] jwillikers commented on #9789
Just a note that allowing multiple linker scripts would be fantastic.

[2021-12-01 17:51] aniketh-varma commented on #9396
Sure @abrousseau001, you can go ahead!

[2021-12-01 21:10] abrousseau001 commented on #9396
Appreciate that @aniketh-varma. @memsharded can you please assign this to me?

[2021-12-01 23:48] vadixidav commented on #847
I also needed to add things to my `settings.yaml` for embedded arm:

[code]

I don't really know if `compiler` is the right place to put this, but it didn't look like it would have been easy to stick it into `arch` either, as none of those have sub options. It might be that some of this is redundant with the arch as well, as the arch is `armv7hf`. However, even though the arch is `armv7hf`, it is

[2021-12-02 08:30] luka-papez commented on #4177
Hi everyone

I can see that this has been planned for Conan 2.0 which is great news!
Being a big fan of both Conan and python type-hinting, I would gladly contribute somehow - be it implementation, review, whatever.

Are you aware of any work already underway regarding adding type hints to Conan 2.0? Besides @barcharcraz PR from 3 years ago, I couldn't find anything.

[2021-12-02 08:44] memsharded commented on #4177
The truth is that we have started doing something in the ``develop2`` branch, but we aren't going full typing. You can see there some classes like ``DataCache`` that start to use some type hints. Still we haven't found the right tooling or the right balance to add types everywhere, so we are not forcing it into Conan 2.0 codebase yet. We are super comfortable with the codebase as it is right now.

[2021-12-02 09:12] babariviere opened #10115 "[bug] [2.0] download_cache is not used"
### Environment Details (include every applicable attribute)
  * Operating System+version: Nixos-21.11.20211122.263ef4c
  * Compiler+version: gcc (GCC) 10.3.0
  * Conan version: Conan version 2.0.0-alpha1
  * Python version: Python 3.8.2

### Steps to reproduce (Include if Applicable)

1. In `~/.conan2/conan.conf`, add `download_cache` option:
[code]
2. Run `conan create .` on a package that downl

[2021-12-02 13:49] jwillikers commented on #4216
@memsharded Thanks for adding the `baremetal` setting, I'm really excited by this development. Does some sort of translation need to happen in the `CMakeToolchain` generator in order to default `CMAKE_SYSTEM_PLATFORM` to `Generic` when the `os` is `baremetal`?

[2021-12-02 14:01] jwillikers commented on #9962
@mpusz I think that would kind of defeat the purpose of the consistency between profiles and the toolchain. Why not just have different profiles for the different compilers? You can also set the compiler directly in the `CMakeToolchain` generator, which is what I do for `gcc-arm-none-eabi` and differently named compilers.

[2021-12-02 14:41] jwillikers commented on #847
@vadixidav That looks a lot like what I've been thinking, though I've been leaning towards putting it under `arch` instead of the compiler, even though it is a bit awkward that there aren't any sub-options there and it looks like the architectures are just a list. It seems like the plan might be to convert the architecture settings in `arch` to the necessary compiler flags in the build-system gene

[2021-12-02 14:53] jwillikers commented on #9831
@luiscarlos63 You might be interested in [libostree](https://ostreedev.github.io/ostree/).

[2021-12-02 14:53] memsharded opened #10118 "[feature] Improve custom CMakeToolchain blocks extension"
From https://github.com/conan-io/docs/pull/2312, lets avoid the ``import CMakeToolchainBlock`` altogether, using Python dynamism.

[2021-12-02 16:01] raphael-grimm opened #10119 "[question] conan search from conanfile.py"
I have a locally build conan package A that is not always available.
In the `conanfile.py` of project B, I am calling `conan search A/version@ -q "..."` (I omitted the long query) via pythons `subprocess.run`. This always results in A not being found, even if it is in the local cache. Executing the command in a terminal successfully manages to find A.
This probably happens since the environment in

[2021-12-02 16:17] memsharded commented on #10119
Hi @raphael-grimm

Trying to guess if there is package available or not in that way sounds like an anti-pattern. If you want to control whether a consumer uses or not a package, then you could for example add an ``option`` to the recipe to conditionally ``require`` that package or not. But once the user (via conan arguments), activate that option, the package must be found or Conan will error.

Th

[2021-12-02 16:30] memsharded commented on #10111
Hi @SvenStaehs

While I understand the use case, it sounds a bit too specific to be provided built-in by Conan, at least at the moment.
I am thinking that with the custom user commands and the published PythonAPI in 2.0, this might be very easy to implement, so please keep tuned for those capabilities too.

[2021-12-02 17:06] gabyx opened #10120 "[Bug] Copying of .dll files under windows with $<TARGET_RUNTIME_DLLS:tgt> does not work"
I have a CMake project where I link with `fmt::fmt` which is specified in the conanfile.py and installed and all cmake config files have been generated and beend used by CMake, so far all good. (I use `from conan.tools.cmake import CMakeDeps, CMakeToolchain, CMake`

I try to **copy all transitive dependencies** of my target `tgt` with https://cmake.org/cmake/help/git-stage/manual/cmake-generator-e

[2021-12-02 19:06] evandrocoan opened #10121 "[bug] conan info . --dry-build --graph=file.html build confusing vertical line"
When build our project graph `conan info . --dry-build --graph=file.html`, I see a big line tying everything together. It makes quite confusing to understand if something depends or not on the other.

![image](https://user-images.githubusercontent.com/5332158/144484805-73e7fa47-8240-4138-9d09-38b791635b48.png)

When using the dot tool alternative, there is no such line and it makes quite clear to

[2021-12-02 19:15] memsharded commented on #10120
Quick question, are you aware of the ``imports()`` functionality in conan? You can easily do the copy of the dlls you want, with different configurations, directly in your conanfile.py or conanfile.txt

[2021-12-02 19:18] memsharded commented on #10121
Hi @evandrocoan

That is not a random line, but a dependency among some of those packages depicted at the same level.

The ordering and layout of the packages is mostly controlled by the javascript library, and for some reason for a big enough number of packages, it doesn't do a great job.

Sounds very difficult to solve on our side. What is possible is to disable the "hiearchical mode" in the sit

[2021-12-02 19:19] hanusek commented on #6801
I have a similar problem:
[code]

[2021-12-02 19:41] hanusek opened #10122 "[bug] conan upload package to remote"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian Linux 10
  * Compiler+version: gcc 10
  * Conan version: 1.42.2
  * Python version: Python 3.9.9

My remote: **10.20.1.194:8081**

### Steps to reproduce (Include if Applicable)
` conan upload pcre/8.45 --all -r energotest`

### Logs
[code]

[code]

[2021-12-02 19:52] gabyx commented on #10120
Yes, I am aware, maybe we trigger that from cmake.
But it would be nice since cmake supports this, why does it not work? I looked at the generated config files and I could only make sense of it by assuming the .dll is not set as IMPORTED_LOCATION (shared library fmt) but the .lib is. which is probably correct ...

[2021-12-03 01:07] memsharded commented on #10122
You might need to update Conan or update the SSL certificates. Please check: https://github.com/conan-io/conan/issues/9695

- Update conan
or
- conan config install https://github.com/conan-io/conanclientcert.git

[2021-12-03 01:08] memsharded commented on #6801
@hanusek please check the other comment, seems same issue: https://github.com/conan-io/conan/issues/9695

[2021-12-03 01:35] ItsBasi commented on #7701
#10032 CMakeDeps seems to exhibit a similar problem.

[2021-12-03 08:42] memsharded commented on #7701
``pkg_config`` generator is being superseded by ``PkgConfigDeps``. Lets target bug reports and other issues to that generator, please, unless there are regressions we will not do changes in legacy generators.

We'll have a look to #10032, thanks @ItsBasi

[2021-12-03 08:42] #7701 closed, assigned to memsharded

[2021-12-03 08:45] memsharded commented on #10032
Hi @ItsBasi

This really looks like an issue of the ``opencl-icd-loader`` package that it is incorrectly defining a non-existing include directory.
In the past, previous generators will try to "clean" misconfigurations of the packages, but new ones are a bit more strict and require packages to be correct in what they define in ``package_info``

Maybe @uilianries or @SSE4 can do a quick check to th

[2021-12-03 13:44] ItsBasi commented on #10032
Thanks for pointing out that some generators do view "self.cpp_info.includedirs" more strict than others.
Having a second look at the recipe and reading up on the [cpp-info doc](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#cpp-info) i believe conan's and CMakeDeps behavior is correct.
The doc states that "self.cpp_info.includedirs" defaults to "include", which the recipe see

[2021-12-03 13:53] SSE4 commented on #10032
yes, this issue should be closed, as there is no bug on the conan client side. recipe should just add something like `self.cpp_info.includedirs = []`.

[2021-12-03 14:02] ItsBasi commented on #10032
I wonder if there are more cases like this and if those can be queried.

[2021-12-03 14:02] #10032 closed, assigned to nobody

[2021-12-03 14:35] llena1 opened #10124 "[bug] can't build libvpx with visual studio 2022 compiler"
conan install libvpx/1.10.0@ --profile Release --build=libvpx

Unrecognized toolchain 'x86_64-win64-vs17'

I'm not sure if it's the library problem or the conan problem, forgive me if I'm posting this in the wrong place.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Pro 10.0.19044 Build 19044
  * Compiler+version: Microsoft (R) C/C++ Optimiz

[2021-12-03 16:05] memsharded commented on #10124
This doesn't seem a Conan issue, but a library issue. Maybe not even a package issue, but mostly a library issue (from recipe:

[code]

So the list of toolchains supported by the lib is defined inside its ``configure``.

Moving this to conan-center-index repo, it doesn't seem so far a Conan (client) issue.

[2021-12-03 17:55] Lorac opened #10126 "[bug] Missing internal static library dependency for internal implementation details"
From: https://github.com/friendlyanon/cmake-init-multi-target

CMake does not combine the .a or .lib files, which means that if your public static library target depends on one as an internal dependency, you must also install the internal dependency, which will show up in the install interface as a `$<LINK_ONLY:...> generator expression. The purpose of this genex is that the public static library

[2021-12-03 18:29] memsharded commented on #10126
Just to make sure, you are doing a ``conan install conanfile.txt --build=opencv`` over that conanfile? That should be enough to reproduce?

I have just tried in Windows, and didn't work because of the gtk option (seems only Linux). It would be fantastic if this could be formulated in terms of very simple libraries, for example the one generated with ``conan new hello/0.1 --template=cmake_lib``, th

[2021-12-03 18:34] Lorac commented on #10126
This is enough to reproduce the problem, should work on windows:
[code]
It generates build files that are missing OpenMP.

[2021-12-03 18:58] memsharded commented on #10126
Oh, now I think that I see what you mean.
It seems the current opencv recipe doesn't implement support for ``openmp`` as a Conan package. Only:

[code]
Is there, but no equivalent for openmp.
Then I guess the recipe assumes ``openmp`` is in the environment and working, and opencv will manage to use it. But Conan will not generate build files for it, because it is not a Conan package. Could this be

[2021-12-03 19:19] Lorac commented on #10126
The compiler provides OpenMP support, so if your compiler has the support, it will "just" work.

This is why there is no `self.requires("some_openmp")`

[code]

Then CMake will verify that OpenMP is supported by the compiler you are using. But Conan doesn't generate build files that take the dependency into account. The static library opencv::opencv_core doesn't contain the symbols for OpenMP, so

[2021-12-03 19:26] memsharded commented on #10126
Maybe the thing is that I am a bit confused by the terminology. Indeed ``openmp`` is not a "dependency" in the Conan terms, we usually associate that with a ``package``

Yes, I meant it might be possible to wrap the necessary flags into a Conan package, or something like that, no I don't think it is possible to have a real openmp package

Then, what you are probably suggesting is that ``opencv`` r

[2021-12-03 20:18] Lorac commented on #10126
I think you are right, and we should move the issue to the CCI repo.

It probably makes sense. Looking at the soxr recipe, they add the flags at link time.

https://github.com/conan-io/conan-center-index/blob/ed79d61bc1a560b6384b868cd83f11da3c2cbce4/recipes/soxr/all/conanfile.py#L102-L109

[2021-12-03 22:21] dscole commented on #6508
The proposed solution still doesn't solve the issue of having the entire dependency copied to the deployed host and then only a small number of files would be copied when the `conan install .` would be run.

My requirement is that I'm deploying to a host and I only want to download the binaries of a specific package, without any of its dependencies, to that host.

[2021-12-04 15:49] memsharded commented on #2172
We have finally decided to implement our own semver functionality inside Conan, including flexible versioning (any number of digits, mixing letters and numbers) and version ranges. The move has already been done in ``develop2`` and will be available in next alpha2 (you can already get alpha1 in PyPI), so no dependency anymore to either node-semver nor python-semver. So this can be closed. Please r

[2021-12-04 15:49] #2172 closed

[2021-12-04 15:54] memsharded commented on #1338
Hi @birsoyo @dibben-jsol

This has been implemented some time ago in the ``MSBuildDeps`` generator, inspired by all your feedback:

- It generates a .props file per dependency
- It correctly manage transitive dependencies, so including only the direct ones is ok
- It is multi-config, it knows to handle Release/Debug
- It allows customization, including custom configurations
- It will be the canoni

[2021-12-04 15:54] #1338 closed

[2021-12-04 15:59] memsharded commented on #2456
exports() and exports_sources() methods were introduced some time ago, in Conan 1.26.

Furthermore, there are now specific methods ``set_name()``, ``set_version()`` to solve some of the above mentioned comments.

Check docs: https://docs.conan.io/en/latest/reference/conanfile/methods.html#export

[2021-12-04 15:59] #2456 closed

[2021-12-04 16:01] memsharded commented on #2451
The new interface to dependencies solves this:

[code]
This has been available for several releases now. It is also flexible and allows even more than the previous approach, for example, getting information from build-requires and test-requires.

I think this can be closed now.

[2021-12-04 16:01] #2451 closed

[2021-12-04 16:14] memsharded commented on #6156
I think this issue has become obsolete with the new python_requires (declared as class attribute), the new ``python_requires_extend()``, and the ``init()`` method to be able to define inheritance specific behaviors. So I am closing this issue, please open new ones for feedback about the new ``python_requires``, thanks.

[2021-12-04 16:14] #6156 closed

[2021-12-04 22:29] melak47 opened #10128 "[question] msvc version granularity"
MSVC versions are tracked as 192, 193, etc. with an additional compiler.update field (#10028).

How are recipes intended to handle this?
Let's say for example say we want to check for MSVC >= 19.29, because that corresponds to VS 16.11 when the /std:c++20 flag was added (roughly, it's kinda messy with VS 16.10 and 16.11 both shipping different versions of MSVC 19.29...).

We'd need to assemble a t

[2021-12-04 23:23] memsharded commented on #9606
This will be solved by https://github.com/conan-io/conan/issues/10073, instead of injecting a ``require``, the reference of the tested package will be injected. Then it will be explicit to define the ``require`` and it will be obvious to get the name of the package being tested.

[2021-12-04 23:24] memsharded commented on #10073
This feature will solve https://github.com/conan-io/conan/issues/9606 too.

[2021-12-04 23:33] memsharded commented on #7068
Summarizing this issue:

- Conanfile.py allows a structured way of adding structured requirements in a file (txt, json...) and it also includes a builtin mechanism for it, ``conandata.yml``.
- Conanfile.py allows a standard, well known syntax for adding conditional requirements, with any level of conditionality over multiple factors, including custom user settings and options.
- The conditional sy

[2021-12-04 23:33] #7068 closed, assigned to nobody

[2021-12-04 23:35] memsharded commented on #9749
Already implemented in 2.0-alpha1.
The model is there, working great so far. It would be missing a bit more thorough adoption of the new mutability, but that should be another issue.

[2021-12-04 23:35] #9749 closed, assigned to nobody

[2021-12-04 23:56] memsharded commented on #9699
cacert.pem has been removed in ``develop2`` in https://github.com/conan-io/conan/pull/10007, next alpha2 will release it, this can be closed.

[2021-12-04 23:56] #9699 closed, assigned to nobody

[2021-12-04 23:58] memsharded commented on #3175
``conan user`` has been removed in develop2, ``conan 2.0-alpha2`` will contain only the ``conan remote`` command that manage now that functionality.

[2021-12-04 23:58] #3175 closed

[2021-12-05 00:00] memsharded commented on #2306
``conan search`` has already been changed in 2.0-alpha to search for packages in all configured remotes by default, not in local cache. And in all remotes, even without specifying it, so I think this can be closed now as implemented.

[2021-12-05 00:00] #2306 closed

[2021-12-05 00:03] memsharded commented on #3964
Version ranges in ``develop2`` no longer use comma to separate conditions (they still use commas to separate the ``include-prerelease`` part)

[2021-12-05 00:03] #3964 closed

[2021-12-05 00:05] memsharded commented on #3420
Removed in ``develop2``, Conan 2.0-alpha doesn't provide this anymore

[2021-12-05 00:05] #3420 closed

[2021-12-05 00:08] memsharded commented on #6221
Done

[2021-12-05 00:08] #6221 closed

[2021-12-05 00:12] memsharded commented on #6057
Conan 2.0 has already changed the node-semver dependency, replacing it with our own Version and VersionRange:

- Allowing any number of digits
- Allowing letters

Already available in ``develop2`` branch, will be also in next 2.0.0-alpha2, feedback welcome when it is released (very soon)

[2021-12-05 00:12] #6057 closed

[2021-12-05 00:14] memsharded commented on #5956
``txt`` generator completely removed in 2.0, this can be closed.

[2021-12-05 00:14] #5956 closed

[2021-12-05 00:17] memsharded commented on #6836
Conan 2.0 already implements a multi-revision cache, already available in ``2.0.0-alpha1``, this can be closed, feedback welcome if you can test the 2.0-alpha, thanks!

[2021-12-05 00:17] #6836 closed, assigned to nobody

[2021-12-05 00:18] memsharded commented on #6596
Approved by the https://github.com/conan-io/tribe/pull/20, and already implemented and available in 2.0.0-alpha1

[2021-12-05 00:18] #6596 closed

[2021-12-05 00:20] memsharded commented on #6534
Settings restrictions in ``settings`` declaration already removed in develop2 (to be released in 2.0.0-alpha2)

[2021-12-05 00:20] #6534 closed

[2021-12-05 01:10] memsharded commented on #10128
I think something like ``if Version(self.settings.compiler.version) >= 192 and int(self.settings.compiler.update) >=9`` if this specific check is necessary would be good enough. You can also do things like ``if int(f"{self.settings.compilerversion}{self.settings.compiler.update}") >= 1929`` too.

Note, however, that in Conan 2.0 we are moving even more to the declarative/consumer definitions. If y

[2021-12-05 06:44] Viatorus commented on #2172
Good move! Thank you. :)

[2021-12-05 09:36] ssrobins opened #10130 "[question] Why go with ### instead of ##.# for the new msvc version format?"
Up until [this change](https://github.com/conan-io/docs/pull/2314/files), the msvc compiler version format `##.#` matched the version format cl.exe prints to the screen when run with no arguments, which also matches what CMake prints to the screen during project configuration and what's stored in the `CMAKE_CXX_COMPILER_VERSION` variable. The conan versioning for gcc and clang are consistent in th

[2021-12-05 20:31] wbehrens-on-gh opened #10131 "[bug] conan install -if outputing to the wrong directory"
### Environment Details (include every applicable attribute)
  * Operating System+version: Void Linux 5.15.6_1
  * Compiler+version: gcc 10.2.1
  * Conan version: 1.43.0
  * Python version: 3.10.0

### Steps to reproduce (Include if Applicable)
conanfile.py:
[code]
running `conan install . -if output/conan -pr:b=default -s build_type=Debug` only outputs the markdown to `output/conan` and the cmake

[2021-12-05 20:56] n-morales opened #10132 "[bug] CMakeToolchain/CMakeDeps generates CMake warnings when dependency was already found via find_package"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Mint 20.1 Ulyssa
  * Compiler+version: gcc 11.1.0
  * Conan version: 1.43.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Use the CMakeToolchain and CMakeDeps generator.
Use the generated conan_toolchain.cmake file then `find_package` for a dependency and then `find_package

[2021-12-06 09:11] gabyx commented on #10120
This seems to be a Bug because reading this https://gitlab.kitware.com/cmake/cmake/-/issues/22845
suggest that it needs `SHARED/STATIC` but `fmtTargets.cmake` uses only

[code]

[2021-12-06 09:59] uilianries commented on #9847
Olá @mairacanal! Saudações tupiniquim!

I'll start to take a look on meta-conan layer. I worked with Buildroot for years, but integrating Conan and Yocto is indeed amazing.

Thank you for pinging us! Até logo!

[2021-12-06 10:36] aurelienrb opened #10133 "[question] How to ensure repeatability of our builds in the long term ? Dealing with breaking changes in recipes"
Hello,

Recently , the CMake target name for the [gtest recipe](https://github.com/conan-io/conan-center-index/pull/7894) has been changed from `gtest` to `GTest`. As a result, our build suddently failed to pass because `CONAN_PKG::gtest` is no longer valid, and must be updated to `CONAN_PKG::GTest`.

To me, the issue here is that while the recipe itself has changed, the version of the package has

[2021-12-06 10:41] memsharded commented on #10131
This is expected. The ``layout()`` functionality replaces all the cli arguments like ``--source-folder``, ``--build-folder`` and ``--install-folder``. The goal of ``layout()`` is to have always the same layout, for all developers, and all tools (IDEs, Conan for ``editable`` packages and local developer flow, build systems), completely independent of the user cli potential variability.

At the mome

[2021-12-06 10:43] gabyx commented on #10120
The correct way would be in `cmakedeps_macros.cmake`:

[code]

Would be nice if that could be fixed as soon as possible.

[2021-12-06 10:45] memsharded commented on #10132
I think the issue is doing a ``find_package()`` for a transitive dependency not directly declared in your ``conanfile.py``.
Conan 2.0 is going to completely isolate from transitive dependencies, that ``find_package()`` will probably fail because the headers will not be visible. This feature has been requested many times in the past, because it is necessary to maintain good architecture and good pr

[2021-12-06 11:05] memsharded commented on #10130
Please look: https://github.com/conan-io/conan/pull/10057 and https://github.com/conan-io/conan/pull/10028

The issues are:

- We need some reasonable default binary compatibility. Including all the digits is too much, cannot handle that in ConanCenter for example
- The versions need to be comparable by default, and they were not (see https://github.com/conan-io/conan/issues/10017)

We found no ot

[2021-12-06 11:39] gabyx commented on #10120
Could we support by making a PR at  the right code location?

[2021-12-06 13:00] AlexanderStohr opened #10134 "conanfile.py leads to ERROR 2 with cmake build"
not sure what's going on in my build on the Linux platform. not sure what the core message of this error really is.

    [2021-12-06T10:55:55.153Z] some_dependent_item/2.0.7@some_user/stable: Retrieving package <some_lengthy_package_id> from remote 'remote-server-space'
    [2021-12-06T10:56:06.354Z] CMakeFiles/my_module_Test.dir/build.make:481: recipe for target 'bin/my_module_Test' failed
    [2

[2021-12-06 15:00] mairacanal commented on #9847
I submitted a patch about a month ago into meta-openembedded that fixed the problem with the python3-fasteners library. So, the dunfell branch is probably working now. I believe now the meta-conan layer could be updated to new versions of Yocto to guarantee the support of the layer.

[2021-12-06 15:28] uilianries commented on #9847
Amazing! Thank you!

[2021-12-06 18:26] eigenwhat commented on #10133
I believe this was a bug in the `cmake` generator which was erroneously taking the `cmake_target_name` property into account. It was patched in `1.42.1`. The targets produced should always be `CONAN_PKG::<package name>`.

[2021-12-06 18:30] eigenwhat commented on #10133
As for how you can avoid that sort of random change, you can either make sure revisions are enabled and pin each dependency to a particular recipe revision in your conanfile or [use lockfiles](https://docs.conan.io/en/latest/versioning/lockfiles.html).

[2021-12-06 23:41] memsharded commented on #10134
Hi @AlexanderStohr

It is a bit difficult to know, it seems you are doing a ``conan build`` local command to build your consumer, which seems to extend from a ``python_require`` dependency, and all of this runs in a jenkins build.

It would be great to have a bit more data:
- Conan version, operating system, compiler
- How the conanfile.py (or several conanfile.py) look like
- What exact commands

[2021-12-07 06:20] ssrobins commented on #10130
Ok, thanks!

[2021-12-07 06:20] #10130 closed, assigned to nobody

[2021-12-07 07:11] dornbirndevelops commented on #10131
Hello @memsharded !
I also fiddled around with the more recently introduced `layout` function, in which I could observe a few things that are unclear to me.

#### imports and layout for shared=True
[code]

The `cmake_layout` utility function does set some sane defaults for the `folders.build`, `folders.generators`, `cpp.build.libdirs` and `cpp.build.bindirs` already, depending on the generator bei

[2021-12-07 09:54] memsharded commented on #10131
Yes, you are right with the ``imports`` folder @dornbirndevelops, I was the other day having a look at this (and I think I even added something to some of my PRs to 2.0). Lets have a look, try to improve this for next 1.44.

[2021-12-07 13:12] memsharded commented on #10000
New ``Version`` class fixing this merged to ``develop2``, will be in 2.0-alpha2, this can be closed.

[2021-12-07 13:12] #10000 closed, assigned to memsharded

[2021-12-07 13:14] memsharded commented on #9658
The 2.0.0-alpha1 is already released with support for this feature:

- The dependency graph will always be computed, it is necessary to know the dependencies versions, etc.
- But not necessary artifacts, like static libs, will not be downloaded, and will not be propagated downstream as linkage requirements either.

So I think this can be closed as implemented, feedback over the 2.0 will be welcome

[2021-12-07 13:14] #9658 closed, assigned to memsharded

[2021-12-07 13:17] memsharded commented on #8619
All the command line arguments ``--xxxx-folder`` are being actually removed in 2.0, because all the locations and layout is encoded in the new ``layout()`` method. So this issue seems to no longer apply. Thanks for the feedback.

[2021-12-07 13:17] #8619 closed, assigned to nobody

[2021-12-07 13:35] memsharded commented on #8202
Hi there.

Conan 1.X already introduced a new way to access dependencies information: ``self.dependencies["mydep"].ref.version`` is the way to access the dependencies real package version.
But I am not sure if this is exactly what this is about, I don't fully understand the use case or that difference in versions that you are describing.

Also, in the general case, adding new information to ``cpp_

[2021-12-07 13:37] dvirtz opened #10139 "[bug] exception when using AutotoolsToolchain for Windows"
I'm trying to build a recipe using `AutotoolsToolchain` for Windows using mingw but get the error
[code]

Looks like `AutotoolsToolchain` should pass the compiler to `get_gnu_triplet`

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: w64-mingw
  * Conan version: 1.42.0
  * Python version: 3.9.7

[2021-12-07 15:35] prince-chrismc commented on #8202
A few packages build with a "source code" version and install an "api/abi". Its possible a downstream project may see a number is does not recognize and fail.

Its something nice to have but I'd expect a patch to be an obvious solution.

If it's easy to override the default when the generators run might be worthwhile?

[2021-12-07 15:48] T1T4N opened #10140 "[bug] Conan returns incorrect path for Apple Framework when multiple components have the same framework name"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 12.0.1 (21A559)
  * Compiler+version: Apple clang version 13.0.0 (clang-1300.0.29.3) - Xcode 13.1 (latest)
  * Conan version: 1.42.2
  * Python version: Python 3.9.9

### Description

Since CMake [does not yet natively support XCFrameworks](https://gitlab.kitware.com/cmake/cmake/-/issues/21752) I'm loo

[2021-12-07 16:30] franramirez688 commented on #10139
Hi @dvirtz,

I'm not sure if I'm getting the problem.

As far as I can see in the code, yes, there is a constraint:

[code]
It's also true that there is another check depending on the compiler below that code:

[code]

You can have a look deeper at the code [here](https://github.com/conan-io/conan/blob/develop/conan/tools/gnu/get_gnu_triplet.py).

What I mean is that this is expected behaviour in

[2021-12-07 16:33] franramirez688 commented on #10139
@dvirtz

You're right, sorry, `AutotoolsToolchain` is not passing the compiler, I just realized about it. So, yes, definitely, it's a bug. Good catch!

[2021-12-07 17:01] aurelienrb commented on #10133
Thanks for the answer, indeed it's likely to be the issue you mention because once we updated conan everything went back to normal 🎉

Thanks also for pointing the lockfiles. I'm aware of this feature, but - correct if I'm wrong - it does not solve the problem of a breaking change done on the recipe file itself.

The thing I'm not aware is how are managed the changes done to a recipe on the Conan C

[2021-12-07 17:38] wbehrens-on-gh opened #10142 "[question] Compiling autotools projects for use in msvc"
I've recently noticed that some projects that make use of autotools as there build system have ways of using their autotools scripts to compile binaries for windows. There's an autotools project that I would like to create a conan recipe for but I can't find any good docs on doing this.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md

[2021-12-07 17:52] eigenwhat commented on #10133
[Recipes have their own revision IDs](https://docs.conan.io/en/latest/versioning/revisions.html), and if you have revisions enabled in your Conan configuration it should record which revision was pulled when the lockfile was written, and ensure only that revision of the recipe is used (and not a newer one). You can similarly specify a revision in your `conanfile.txt` or `.py` for a given dependenc

[2021-12-07 18:35] dvirtz commented on #10139
thanks @franramirez688. you beat me to it

[2021-12-07 19:23] SpaceIm commented on #10075
@memsharded

To be sure to understand:
- `VirtualBuildEnv` aggregates `buildenv_info` variables of direct build_requirements + `runenv_info` of requirements (direct & transitive) of these build_requirements.
- `VirtualRunEnv` aggregates `runenv_info` of all requirements (direct & transitive).

It means that:
- when a recipe is pure library, env vars should go to `runenv_info`.
- when a recipe is a

[2021-12-07 19:49] #10122 closed, assigned to nobody

[2021-12-07 19:53] #10139 closed, assigned to franramirez688

[2021-12-07 19:54] memsharded commented on #10139
https://github.com/conan-io/conan/pull/10141 merged, to be released in 1.44

[2021-12-07 22:13] artem-ogre opened #10144 "[feature] Remove or increase length limit for package version?"
We have a setup for internal development of a library where git branch is part of the package version value.
Error when using conan 1.35.1 says:
[code]
Is there a technical reason for such a strict limit? If there isn't, is increasing the limit or removing entirely an options? It imposes a restriction on conan usages.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob

[2021-12-07 23:21] memsharded commented on #6093
This is already implemented (and released) in 2.0.0-alpha1, this will be the behavior in 2.0, so this can be closed.

[2021-12-07 23:21] #6093 closed

[2021-12-07 23:23] memsharded commented on #1397
This can be closed, there is a new recipe for libxml2 in ConanCenter for a long time now, new issues with it should be submitted to ``conan-center-index`` repo.

[2021-12-07 23:23] #1397 closed

[2021-12-07 23:30] memsharded commented on #1557
after lots of discussions, and submitting this to the Tribe 2.0 (https://github.com/conan-io/tribe/pull/17) the final conclusion was:

- To use always lowercase, for all packages (with a temporary migration opt-out in 2.0, to be removed in 2.X)
- The transition was a bit painful, but now it has been almost 2 years that ConanCenter is already using everything lowercase, so shouldnt be an issue anym

[2021-12-07 23:30] #1557 closed

[2021-12-07 23:45] memsharded commented on #2007
With revisions, this is now the behavior in 2.0, package binaries can be retrieved from any remote (as long as it belongs to the same used revision), this can be closed.

[2021-12-07 23:45] #2007 closed

[2021-12-08 04:17] n-morales commented on #10132
Hmm..., my recipe already has png -- sorry I didn't post it earlier:

[code]

I tried re-ordering them, just in case it would matter but there was no change.

Looking at the generated cmake, it seems pretty apparent why the warning is throwing:

[code]

Since `zlib::zlib` was already generated by a previous `find_package` from `PNG` the second time it's called it will execute the else. I think the

[2021-12-08 08:51] gabyx opened #10145 "[question] Profile with a [conf] toolchain file, but dependencies find wrong compiler [1.42.0]"
I have a conan profile:

[code]

where we use `CMakeToolchain` and `CMakeDeps` internally in the conanfile.py.
The `clang-libstdc++.cmake` is the toolchain on mac which defines llvm clang over `brew`.

When we run
[code]

The creating fails when building the requirement `fmt` for example, because it finds an other compiler (`apple-clang`).
I guess thats because `fmt` uses another generator and our

[2021-12-08 12:55] dornbirndevelops opened #10146 "[question] Version Range produce unexpected results; incompatible pre-release (falsely) considered"
In order to have an easier time managing package versions in my application, I decided to introduce the version ranges for my package requirements. But as it turns out, I somehow struggle to find the correct version range expression that satisfies my needs.

## Example
My application consists of one library `consumerA` that does depend only on one library `component`.
Over time, the developers of

[2021-12-08 13:08] ph4n70m-nuk3r opened #10147 "[question] conanio/gcc10:latest Docker image permissions issue"
Source repository:
https://github.com/ph4n70m-nuk3r/docker_conan_md5_example

Hi, I am using the `conanio/gcc10:latest` docker image.

[Dockerfile](https://github.com/ph4n70m-nuk3r/docker_conan_md5_example/blob/main/Dockerfile) command `RUN conan install ..` fails due to a permissions issue

it appears to be unable to create file `conanbuildinfo.cmake`.

Is there a workaround for this? I would exp

[2021-12-08 13:28] ph4n70m-nuk3r commented on #10147
Re-created issue on conan-docker-tools repo.

[2021-12-08 13:28] #10147 closed, assigned to nobody

[2021-12-08 15:21] ineb opened #10148 "[question] conan install behavior with path vs. reference"
My goal is to achieve the behavior of `conan create` but with the created packaged being created at a defined location instead of the local cache.

I looked at the `conan install` command but see different behavior when using paths or references.

What works is:
[code]
Inside `pkg_folder/` is see the expected binaries of `my_package`.

But when using:
[code]
Inside `pkg_folder/` i only see files l

[2021-12-08 19:13] eigenwhat commented on #10131
If I'm understanding this correctly, this is unworkable. Now there's no way to redirect which directory CMakeDeps uses? On my work machine I use CLion and its standard "`cmake-build-xyz` directories in the project root" layout, which works great with the `layout()` feature.

However, I also share my source code with my Windows VM via a drive `Z:\`. Typically I tell CMake "get my sources from `Z:\p

[2021-12-08 21:46] abrousseau001 commented on #9898
One of the major issues I have found with PowerShell is its quoting over commands stored as variables or even using variables to build parts of a command to execute at some later point.  I have built Apache Httpd with FIPS 140-2 compliance for a project and ended up scrapping PowerShell in favour of just simple batch scripts in Windows.

The other issue I have had involves the security policies su

[2021-12-08 22:20] memsharded commented on #10146
Hi @dornbirndevelops

yes, this could be a bug in the third party library that we are using for version ranges. Can you clarify what exact expression you are using? ``[^1.1.2, prereleases=True]``?

We have changed the lib already in 2.0, and we are embedding the computation of version ranges, I am going to check there we are doing the right thing.

[2021-12-08 23:33] memsharded commented on #10146
Indeed a tricky one, I have submitted a PR for 2.0 in https://github.com/conan-io/conan/pull/10149.

The issue is that a pre-releases is semantically lower than the upper bound of a caret version:

``^1.1.2`` => ``>=1.1.2 && <2.0.0``, but ``2.0.0-alpha1`` is lower than ``2.0.0``.

My proposal is to change the upper bound of a caret to ``2.0.0-``.

[2021-12-08 23:46] memsharded commented on #10146
Unfortunately, for 1.X.

[code]
This cannot be solved in 1.X, because the code is in node-semver.
You might however do the following expression to explicitly discard 2.0.0- prereleases

[code]

That, is ``requires = "pkg/[^1.1.2 <2.0.0-, include_prerelease=True]@user/channel"``

[2021-12-08 23:50] memsharded commented on #10132
@franramirez688 you were checking last time about this warning with @lasote, do you see any problem in omitting the warning?

[2021-12-08 23:56] memsharded commented on #10148
The only way to build a package in the user folder is when you have the recipe of that package locally. Then doing ``conan install`` + ``conan build`` (or local ``cmake ...`` or other build system) would build locally that package. If the ``conan create`` works, then ``conan install . `` + ``conan build . `` should work too and build locally (given the layout is correct, etc). If you can elaborate

[2021-12-08 23:57] memsharded commented on #9898
I agree with that. Even my own machine has policies so the PS tests fails in my machine. I suggest that all PS features are opt-in, but not the default.

[2021-12-08 23:59] memsharded commented on #9898
BTW, @tapia fixed PS generation in https://github.com/conan-io/conan/pull/10049. Now it is still missing some UI to be able to opt-in using it.

[2021-12-09 00:05] memsharded commented on #10144
Hi @artem-ogre

yes, there are 2 reasons: the first one was avoiding excessive long paths, as the channels, etc are reflected in folders in package storage. This could be more or less avoided, and the new Conan cache for 2.0 will no longer use paths in storage, but having the package reference fields controlled in Conan 1.X was absolutely necessary, to be able to store paths in Windows with less t

[2021-12-09 00:09] memsharded commented on #10142
There is some (possibly slightly outdated) example in: https://docs.conan.io/en/latest/howtos/makefiles.html

The new tools, prepared for 2.0 will be: https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html

[2021-12-09 00:16] memsharded commented on #10140
Hi @T1T4N

I don't know if you have checked the new integrations in https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html. Those are the ones that will be valid in Conan 2.0. Our current efforts are on these. From Conan 1.43, they allow defining the property ``cpp_info.set_property("cmake_target_name", <global target name>)``.

Maybe it would be worth trying with the new integration

[2021-12-09 06:33] dornbirndevelops commented on #10146
I saw in the documentation, that conan uses this `semver` package for it, which is why I wrote a small test to figure out the expression that fits my needs.

[code]

The conan version range equivalent including prereleases would be:
`^1.1.2, include_prerelease=True`

[2021-12-09 06:39] dornbirndevelops commented on #10146
yes, that would make sense.

[2021-12-09 06:49] dornbirndevelops commented on #10146
For 1.X, I will substitute `^1.1.2` with `>=1.1.2 <2.0.0-`
and `~1.1.2` with `>=1.1.2 <1.2.0-` respectively.

@memsharded as a small addition to your proposal:
the upper bound generally seems to be a bit broken for the `~` as well. (see test output below)
[code]

[2021-12-09 07:39] lasote commented on #8448
I think, at least in theory 😅 , we will have that information thanks to the proposed `package types` https://github.com/conan-io/tribe/pull/27 and `requirements traits` https://github.com/conan-io/tribe/pull/26 so the generators could be improved. I don't know if changing the targets that way could have other unexpected results but we should try, so I'm assigning the "look into" tag and milestone

[2021-12-09 08:00] lasote commented on #10132
Yeah, let's remove it. We didn't realize about this use case.

[2021-12-09 08:33] memsharded commented on #4687
Closed by https://github.com/conan-io/conan/pull/10127

[2021-12-09 08:33] #4687 closed

[2021-12-09 08:33] memsharded commented on #3441
Closed by https://github.com/conan-io/conan/pull/10127

[2021-12-09 08:33] #3441 closed

[2021-12-09 08:38] #8035 closed, assigned to nobody

[2021-12-09 08:43] ineb commented on #10148
`conan install .` + `conan build .` does work in my case but i am missing the call to `deploy()` in this scenario.
What i need would be `conan install .` + `conan build .` + `conan deploy .`

I understand that conan is not mainly about deployment. Having a `conan deploy` command which calls the `deploy()` method from the (local) `conanfile.py` would be nice though.

[2021-12-09 12:01] memsharded commented on #10145
This is expected, ``cmaketoolchain:user_toolchain `` is for ``CMakeToolchain``, but the ``fmt`` package in ConanCenter is not using ``CMakeToolchain`` yet. Recipes in conan-center-index will be modernized to new tools, but that will take some time.

[2021-12-09 12:34] memsharded commented on #10146
You mean in Conan 1.X, right @dornbirndevelops ?

Because I have added a test for 2.0 here, to make sure tilde is also covered, seems to work fine: https://github.com/conan-io/conan/pull/10151/files

[2021-12-09 13:30] memsharded commented on #10146
Merged https://github.com/conan-io/conan/pull/10151, I guess we are ready for 2.0, and nothing else to do in 1.X (besides applying the condition explicitly in your recipes)? Can we close this issue then? Thanks.

[2021-12-09 14:25] #10146 closed, assigned to memsharded

[2021-12-09 14:49] tapia commented on #9898
Yes, it's available in Conan 1.43. When you generate the batch script, the PS is generated also.

[2021-12-09 15:17] Or-Geva commented on #5563
I do agree with @jgsogo, this error message is not helping much.

[2021-12-09 20:03] gabyx opened #10152 "[question] How to load own python module in conanfile.py local to the conanfile.py"
In my `conanfile.py` I load a python module in the `set_version` and `configure` and `build` call

**Structure**:

[code]

**conanfile.py**
[code]

The question is how do I locate the pyhton module.
When `conan install` is executed inside `repo` I can use

[code]

But when `conan create` is executed this does not work?
When a user is referencing this package as dependency and builds it because he/

[2021-12-09 20:11] gabyx commented on #10145
Ok, thanks. So is that the workaround for the moment. What do you suggest?

[2021-12-09 20:25] gabyx commented on #10152
I am also questioning, how this can work:
[/home/developer/.conan/data/base/v9.9.9-dirty/demo/testing/export/
](https://docs.conan.io/en/latest/howtos/capture_version.html#how-to-capture-package-version-from-scm-svn)
when calling `conan create`. The `self.recipe_folder` contains no Git repo at this point??

[2021-12-09 20:50] #10128 closed, assigned to nobody

[2021-12-10 07:00] #9694 closed, assigned to memsharded

[2021-12-10 07:58] gabyx commented on #10152
I got this now working by properly exporting the python module (`export()`)

The remainig question ist: Is it correct that, in order to access the files next to the conanfile.py in **all cases**, one needs to maintain the same relative folder structure to the conanfile in the `export()`  function.

Then one can use.

`self.recipe_folder/path-to-my-module` and load it. Correct?

[2021-12-10 09:23] memsharded commented on #10152
Yes, exactly, that is the key, the relative layout should be the same in local folder and when exported to cache in order to work correctly.

Quick question: are you aware of the ``python_requires`` functionality? It allows this and beyond (like for example, controlling via version bumping when recipes that uses such python_require should rebuild binaries or not)

[2021-12-10 10:14] memsharded commented on #9694
Thanks for following up and closing @jlemein

Don't hesitate to open new issue if you have any further question, or re-open this one if necessary. Thanks!

[2021-12-10 10:57] dornbirndevelops commented on #10148
I see two behaviors for the install command, though they have the same naming (can be confusing at first).
- `conan install path/to/conanfile.py ...` installs the dependencies required by the local recipe. this is useful when you want to set up a package development environment.
- `conan install package/version@user/channel ...` installs the binaries of this package into the cache. by also specify

[2021-12-10 11:03] memsharded commented on #10148
They are indeed 2 different cases.

- ``conan install <path>`` uses the conanfile at that path as the "root" of the graph. That install the dependencies of that conanfile, not the conanfile itself (which doesn't even require a name or a version)
- ``conan install <reference>`` uses a "virtual" consumer nood with a ``requires=<reference>``, to force depending on it. It is the equivalent of writing

[2021-12-10 12:25] gabyx commented on #10152
Thats nice, thanks, we will probably in a later stage maybee include this feature.
We anyway have a common cmake-module every project includes as (git submodule) in their folder, and take the scripts needed from there, and also export them to make the conanfile selfcontaining.
Thanks for confirming the relative layout. So far it works very well here.

[2021-12-10 12:43] memsharded commented on #10152
Thanks for the feedback. Ok, then I am closing this issue as resolved, don't hesitate to re-open or file a new one if you have further questions.

[2021-12-10 12:43] #10152 closed, assigned to nobody

[2021-12-10 12:45] memsharded commented on #10104
@babariviere https://github.com/conan-io/conan/pull/10109 has been merged, so the change is available in ``develop2`` and will be in next 2.0-alpha2, feedback once it is released is very welcome.

[2021-12-10 12:47] babariviere commented on #10104
@memsharded I am already testing it, will do a feedback soon!

[2021-12-10 12:52] babariviere commented on #10104
@memsharded as a quick feedback, the options in `default_options` will be frozen.
I am wondering if they should be.

The only way to bypass this behavior is to remove the field in `default_options` and only set it with the default option when the option is not frozen.

[2021-12-10 12:55] babariviere commented on #10104
In the case of boost, it will look like this:

[code]

[2021-12-10 15:03] #10132 closed, assigned to franramirez688

[2021-12-10 15:05] memsharded commented on #10132
https://github.com/conan-io/conan/pull/10150 removed it, will be released in 1.44

[2021-12-10 15:25] gabyx opened #10155 "[bug] `self.copy` in a repository with a symlink starts to self-recurse and lead to high cpu/mem usage"
I am still trying to trigger this.

The repository https://github.com/gabyx/conan-hang
should at the end trigger the `self.copy` recursion. So far it does not:
with
`cd tests/a && conan export . demo/testing`

If seen already bug reports in this direction which might be caused really by this.
I could trigger it in my setup by doing `self.copy("asd")` with an argument which was not even sensical.
T

[2021-12-10 15:35] memsharded commented on #10104
Hi @babariviere

I am not sure what you mean. The first ``_freeze`` seems unnecessary. I have done the following test and it passes:

[code]

[2021-12-10 15:38] babariviere commented on #10104
My bad, I should have included the `default_options`.

When you have this in `default_options`:
[code]

It will fail since `with_stacktrace_backtrace` is frozen, but after seeing your example, I will go with this one (it looks better anyway).

[2021-12-10 15:40] memsharded commented on #10104
But if you are going to either set or remove ``with_stacktrace_backtrace``, then, why giving it a ``default_options`` value?

[2021-12-10 15:44] nilsnolde commented on #9907
I usually install important things in system python like flask and conan. just installed conan the first time and it's conflicting with the newest flask, so I can only have either/or in system python. I didn't have any sort of deep dive (yet) or even quick test if it'd be a drop-in replacement, but I'd figure it's not many changes?!

in that case, what do you think about allowing v3.0.x as well fo

[2021-12-10 15:48] memsharded commented on #9907
flask? Conan doesn't depend on flask, directly or indirectly. Can you please clarify?

Yes, if Jinja v3 is becoming widespread in distros, we better allow it soon. Hopefully it is not difficult, of course if you want to give it a try and see what PR is necessary to allow it, it will be very welcome.

[2021-12-10 15:52] nilsnolde commented on #9907
really, this is just a very light annoyance. flask is just an important/ubiquitous enough tool for me that I install it system-wide, same as I hope for conan soon:) I'd actually never have a need to install both for the same project (I think), it's mostly laziness and a tiny resource-saving

I'll have a look soon at a PR

[2021-12-10 16:43] memsharded commented on #9907
Oh, I guess you mean that Jinja v3 is a transitive dependency of Flask, and this is the root cause of the conflict.

Good, looking forward to your PR. Hopefully it has low risk (due to our commitment to stability, we shouldn't break existing users). Thanks

[2021-12-10 21:01] babariviere commented on #10104
@memsharded Yes you are right, it's kinda dumb. I will try my best to refactor the boost package for conan2. Thanks for your PR to relax options! I will make a more detailed and clear feedback to avoid making noise.

[2021-12-10 21:14] memsharded commented on #10104
It is fine, just keep the feedback coming 😄 , thanks very much for testing 2.0!!!!

[2021-12-10 22:07] babariviere commented on #10104
I will test it more deeply with @theodelrieu so you can have more feedback!

[2021-12-11 23:03] chausner-audeering commented on #7737
I have also run into a case where propagation of environment variables in the host context is desired.

The OpenVINO library provides a `setupvars.sh` script which sets various environment variables (e.g. `*_DIR` variables for CMake) that need to be set before other libraries can use it as dependency. I first tried to translate this script to `env_info` which worked well in the normal case but fai

[2021-12-11 23:15] memsharded commented on #7737
Hi @chausner-audeering,

Yes, I think this case will be solved too by the new environment management which is explicit and always propagated, irrespective of the host/build context. Adding the variables to ``runenv_info`` or ``buildenv_info`` will result in consumer side (via ``VirtualRunEnv`` and ``VirtualBuildEnv`` in the respective env-var activate scripts.

[2021-12-12 14:11] TimZoet opened #10162 "[question] Package dependency not propagated"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[code]

I am currently experimenting with Conan. When trying to build an executable which depends on a package which in turn depends on another package, the dependency is not propagated, causing linking errors (and include directories are also missing, though I imagine this is the sam

[2021-12-12 17:56] mpusz commented on #9962
@jwillikers I am not sure if we are on the same page here 😉

I always have different profiles for different compilers. However, fixing a specific compiler (with a specific path in CMakeToolchain) is not the solution as different people will have the binaries in different places, versions, names on their platforms.

What I meant is that right now I have to do something like this:

[code]

It is com

[2021-12-12 19:52] memsharded commented on #10162
Responded in https://github.com/TimZoet/ConanPackageTest/pull/1, please let me know. Thanks!

[2021-12-12 21:21] jwillikers commented on #9962
@mpusz You can do some more complicated stuff to configure the `CMAKE_C_COMPILER` and `CMAKE_CXX_COMPILER` in the generated `conan_toolchain.cmake`, or provide your own CMake toolchain file to Conan through the related `[conf]` variables. CMake toolchain files are really meant for that and additional configuration of the toolchain.

But, I completely agree that it's a very common need, and I'd lik

[2021-12-13 07:55] SpaceIm commented on #9898
Maybe I miss something, but when I use VirtualBuildEnv and VirtualRunEnv with conan 1.43.0, I don't see any generated ps script, only bat files which don't propagate env vars in the powershell context.

[2021-12-13 08:34] mpusz commented on #9962
Sure, I agree. But this works great for unified corporate environments. You prepare a toolchain file and it works for everyone as long as they are on the same or similar file system.

My suggestion is to make things easier for the Open Source community where everyone has their own file system and preferred compiler. I observe this is a common issue to set a different compiler for Conan and CMake u

[2021-12-13 09:11] tapia commented on #9898
You're right, @SpaceIm, I'm deleting the 1.43 comment to avoid confusion.

The code to generate the PS script is there in 1.43 (`save_ps1()` in `conan/tools/env/environment.py`), but we didn't update VirtualRunEnv to actually generate it. As Diego said, there's still some UI work to do. I hope I can get to do it for 1.44.

[2021-12-13 11:44] boussaffawalid opened #10167 "[bug] CMakeToolchain does not include cpp_info.builddirs from build requirements in CMAKE_PREFIX_PATH CMAKE_MODULE_PATH"
When using CMakeToolchain, `cpp_info.builddirs` from all requirements are being added correctly to `CMAKE_PREFIX_PATH` and to `CMAKE_PREFIX_PATH`, However cpp_info.builddirs from **build_requirements** are ignored.

This is problematic, as you could have a conan package that only contains cmake modules, like [extra-cmake-modules](https://conan.io/center/extra-cmake-modules), this package is a cona

[2021-12-13 13:46] RolfBippus commented on #7100
@Ajay-Khambadkone-Bose
@memsharded
I also definitely have problems accessing self.info using the development commands (conan 1.43)
[code]
BTW, during install, there is no problem accessing self.conanfile.info.package_id() in the Generator.

[2021-12-13 14:04] AndreyMlashkin opened #10169 "[bug] conan remove outdated failed"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio
  * Conan version: 1.43.0

### Steps to reproduce (Include if Applicable)
 conan remove "*" -o -f

### Logs (Executed commands with output) (Include/Attach if Applicable)

WARN: No matching packages to remove for automake/1.16.2
WARN: No matching packages to rem

[2021-12-13 15:16] Carsten87 commented on #660
@lasote sorry to revive this old thread, but it seemed fitting...

I have a very similar question. We need to link against different libraries (components) from the same package with different options. To be specific we "require" boost and for some reason have to link against boost_thread in the dynamic variant (`boost:shared=True`) and some other boost components in the static variant (`boost:sha

[2021-12-13 15:23] gabyx opened #10170 "[question] Conan 1.42.2 vs 1.43.0 for cmake target names"
Why does Conan 1.42
produce for

[code]
a target `Gtest::gtest` (with `find_package(GTest CONFIG REQUIRED)`)
while
conan 1.43 produces only `gtest`.

I dont get that why this changed?

[2021-12-13 15:27] gabyx commented on #10170
Does that break with 1.43 because:

https://conan.io/center/gtest?tab=recipe

[code]
instead of `GTest::gtest` ?

[2021-12-13 15:45] tvogel opened #10172 "`conan get package/version@user/channel conan_export.tgz` retrieves broken file"
When using the above command to retrieve the `conan_export.tgz`, I receive a file that is too short and is not recognized as a tar.gz file.

[code]
While retrieving the file from the artifactory web UI, I get
[code]

Taking a brief look at the `hexdump -C` from both, all characters >= 0x80 are just stripped out!
some characters

Wow, I guess, you should remove the 7bit-filter with `-raw`! Or in ge

[2021-12-13 16:57] memsharded commented on #660
Hi @Carsten87

This is challenging with Conan 1.X, depending on the same package with different options. You might depend on ``requires = "pkg(0.1"`` and ``build_requires = "pkg/0.1"`` (even different versions), and even try to define different options using ``-o:b`` and ``-o:h`` (options:build and options host), or using profile:build and profile:host to define different options for the two conte

[2021-12-13 17:04] memsharded commented on #10167
It seems it make sense to add ``builddirs`` for ``build_requires`` too, I have verified only ``host`` requirements are added atm to ``CMakeToolchain`` paths.

We need to think what happens with dual build-host requirements (like protobuf being both in build and host context), what would be the priority, and the mechanism to use one or the other, this is not a bug per se, but a feature to implement

[2021-12-13 17:06] Carsten87 commented on #660
@memsharded thanks a lot for your super quick response. We were planning on having a look at Conan 2.0 anyway, one more reason to do so sooner 😉 In the meantime the `build_requires` approach seems hacky but workable. I will give it a try thanks again for your input!

[2021-12-13 17:08] memsharded commented on #10172
This ``conan get`` utility was never meant to download or copy files, just as a convenience to quickly inspect text files like ``conanfile.py`` or ``conaninfo.txt`` mostly for debugging purposes (I wouldn't recommend to use it in production). Furthermore, the ``conan_export.tgz`` file is an internal, undocumented storage format, which is not guaranteed to be kept stable or available in the same wa

[2021-12-13 17:13] memsharded commented on #10169
Hi @AndreyMlashkin

This is difficult to reproduce, this is not failing on my side, and I don't see how to reproduce it. It would seem there are a couple of your packages that are corrupted or something on your side, with missing files like the manifest or the conaninfo.txt (maybe as a result of an interrupted/killed process or crash?)

If you have any suggestion of how we could reproduce it, that

[2021-12-13 17:16] tvogel commented on #10172
Is there another way to retrieve files from a repo?

Anyway, the last line here is the culprit:
[code]
One should only decode downloaded files that are known to be text - not everything. With the generality of this method and also, `conan_export.tgz` of course being listed by the directory listing, it feels like an error to do unwarranted utf-8 decodes on binary data.

[2021-12-13 17:17] memsharded commented on #10170
Yes, that is what is happenning. We had to do a breaking change in the ``cmake_target_name`` property, as it was causing too many struggles in the migration of legacy generators like ``cmake_find_package``.

Please read in https://docs.conan.io/en/latest/conan_v2.html#new-properties-model-for-the-cpp-info-in-conan-2-0-generators

The idea:

- ``cmake_target_name`` now only for ``CMakeDeps``
- ``cm

[2021-12-13 17:20] gabyx commented on #10170
Thanks a lot, for the info!
Thats very good to know. As a suggestion, maybe, include that it breaks ConanCenter  also in the Changelog, so that you dont need to answer such question anymore. Maybe you can later drop, the mention in the Changelog, as soon as it is fixed.

[2021-12-13 17:22] memsharded commented on #10172
If you want to get files from a package, you have different mechanisms:

- Use ``imports`` to copy the files that you want (like dlls only, for example), from packages you list as requirements. You can write for example a simple ``conanfile`` with only ``requires`` and ``imports`` and do a ``conan install .`` it
- Use ``deploy()`` to copy the files that you want for that package and its dependenci

[2021-12-13 17:24] memsharded commented on #10170
Sure! We are actually writing some more detailed explanations, that we wanted to link, probably tomorrow. But feel free to send PRs for this kind of things too, the docs are open source, so this can be contributed quickly and easily too, and that helps too.

[2021-12-13 17:39] tvogel commented on #10172
Well, if `conan get <reference> .` is supposed to list files in that package - and it does, one should be able to retrieve those files. Everything else is a surprise.

About my use case: It is really just about having a quick way to peek into some text files (patch files, or the qtmodules.conf for the Qt package). The implementation detail that the exports are stored in an archive indeed is not wh

[2021-12-13 17:45] TimZoet commented on #10162
Thanks very much for your help! I added some notes to your pull request, but this definitely resolved my issues.

[2021-12-13 17:45] #10162 closed, assigned to nobody

[2021-12-13 17:47] memsharded commented on #10172
Yes, but the files will be ``conanfile.py``, ``conanmanifest.txt``, ``myfile.h``, or ``mylib.dll``. The ``.tgz`` is an internal transfer and storage in server thing, it is not documented, not intended for external usage or manipulation by users.
For example:

[code]

The ``.tgz`` is not even there, because it is stored in a different location in the cache (not accessible). The fact that the ``.tgz

[2021-12-13 17:49] memsharded commented on #10172
I see, doing that against the server directly might be challenging. Checking in the uncompressed format locally in the cache after ``conan install`` is probably better. If not, and using Artifactory, the API is quite rich and powerful, maybe it is possible to directly do some command to get inside a ``tgz`` (I know at least the Web UI can navigate easily inside tgz files)

[2021-12-13 17:49] gabyx commented on #10170
Jup!

[2021-12-13 17:49] memsharded commented on #10162
Great to know, thanks for telling!

[2021-12-13 17:59] czoido commented on #10170
There's a PR already open for gtest to fix targets: https://github.com/conan-io/conan-center-index/pull/8324
And the guide PR is already open as well: https://github.com/conan-io/conan-center-index/pull/8415

[2021-12-13 18:07] TimZoet commented on #10162
I'll also leave the repo up. I definitely had some trouble figuring out the 'right' way of doing things, so others might be helped by it.

[2021-12-13 18:13] gabyx commented on #10170
https://github.com/conan-io/docs/pull/2326

[2021-12-13 18:14] gabyx commented on #10170
Is there a collecting ticket which makes ConanCenter compatible with 1.43.0 ? So I could include it in the status banner in
conan-io/docs#2326

[2021-12-13 18:21] RolfBippus opened #10173 "[question] self.in_local_cache is always True during `conan export-pkg`?"
I am following up on #8776

While self.in_local_cache is True or False in the build() method, it is always True in the package() method when using `conan export-pkg`. This seems illogical, since the sources do do change places. And the working dir is not in the local cache even though self.in_local_cache is True.

This is very unfortunate, since I try distinguish the place of the build depending o

[2021-12-13 22:05] memsharded commented on #10173
Hi @RolfBippus

I wonder if you have checked the new ``layout()`` functionality, in which you can define both the ``self.cpp.source`` and ``self.cpp.build`` information (https://docs.conan.io/en/latest/developing_packages/package_layout.html#declaring-the-layout). It is still experimental, but getting better, and will be very important for moving to 2.0.

[2021-12-13 22:12] aurelienrb commented on #10133
Thank you @eigenwhat  for all this clarification. I'm happy to learn about this revision ID mechanism: this is exactly what I was hopping for.

I've started to mirror our dependencies from Conan Center into our own local Artifactory + Gitlab self hosted. So far it's going well.

Have a nice day !

[2021-12-13 22:12] #10133 closed, assigned to nobody

[2021-12-14 00:14] memsharded commented on #5731
It seems this will not be possible. As ``python_requires`` are loaded even before the ``user`` and ``channel`` are assigned, it is impossible to do this. Then I think this issue can be closed.

In any case @Johnnyxy, the usage of user/channel in this way is no longer recommended. In the past, using channels for promotions and introducing this variability seemed to made sense. But since then we lea

[2021-12-14 00:14] #5731 closed

[2021-12-14 00:16] memsharded commented on #5644
Already fixed in Conan 2.0, available in 2.0-alpha1 with the explicit ``conan list`` command.

[2021-12-14 00:16] #5644 closed

[2021-12-14 00:19] memsharded commented on #4781
The new graph model, already released in 2.0.0-alpha1 contains the ``self.requires(..., visible=False)`` trait that implements most of the ``private`` functionality, in a much better and sound way. So this issue can be closed (as rejected, we won't remove this, but instead we have greatly improved it)

[2021-12-14 00:19] #4781 closed

[2021-12-14 00:24] memsharded commented on #4342
``VirtualBuildEnvironment``, available in Conan 1.39 (https://docs.conan.io/en/latest/changelog.html#jul-2021), manages these variables now, automatically. Also ``AutoToolsBuildEnvironment`` is going to be removed in 2.0, and is being replaced by ``conan.tools.gnu`` tools like ``AutotoolsToolchain``, so this issue is obsolete now. Closing it, these new tools seems to fullfill the above fine, if so

[2021-12-14 00:24] #4342 closed

[2021-12-14 00:25] memsharded commented on #8558
Closing this as implemented and released in 2.0.0-alpha1

[2021-12-14 00:25] #8558 closed, assigned to solvingj

[2021-12-14 00:27] memsharded commented on #3990
This integration and the ``cmake`` generator is being removed in 2.0 in favor of ``CMakeToolchain``. So this issue is no longer valid, please check ``CMakeToolchain`` (already available in latest Conan 1.X and in Conan 2.0-alpha1), closing it.

[2021-12-14 00:27] #3990 closed

[2021-12-14 00:28] memsharded commented on #3858
Deprecated in favor of the new ``tools.microsoft.xxxx`` tools.

[2021-12-14 00:28] #3858 closed

[2021-12-14 00:30] memsharded commented on #3644
The ``profile:build`` has been implemented in Conan 1.X long time ago, that define ``settings_build`` (not only compiler_build). The cross-build model with build&host profiles is opt-in in Conan 1, and will be used always in 2.0. I think this can be closed.

[2021-12-14 00:30] #3644 closed

[2021-12-14 00:42] memsharded commented on #4882
We have taken ownership of version ranges resolution, dropping the external node-semver dependency, and implementing a more flexible version resolution (allowing any number of digits, for example, and allowing letters too easily). This is already implemented in 2.0, and released in 2.0.0-alpha1, (and will get more improvements released in 2.0.0-alpha2 very soon, specifically those described above

[2021-12-14 00:42] #4882 closed

[2021-12-14 08:46] AndreyMlashkin commented on #10169
Yes, most probably I have stopped a remove command some time ago.
Have you tried removing a manifest manually?

[2021-12-14 08:51] #10072 closed, assigned to lasote

[2021-12-14 09:08] RolfBippus commented on #10173
Hi @memsharded !

Thanks for the quick reply!
However I probably should have put my question into a larger context, sorry for that.

What I am actually trying to do, is to use a dedicated build folder that depends on the package_id irrespective of whether or not  building in the local cache, locally using development commands or when a package is editable.

The reason being, that e.g. in editable

[2021-12-14 09:38] memsharded commented on #10169
Yes, sure, removing a manifest manually will cause this behavior. It is by design, packages should have a manifest, if they don't they are corrupted, it is expected that it will not be possible to install them, or manage them with normal Conan commands. There are protection mechanisms like marking things like ``.dirty`` in the cache to protect against broken things, but if the manifest is removed

[2021-12-14 09:50] AndreyMlashkin commented on #10169
Maybe delete procedure should be changed and manifest should be deleted the last?

[2021-12-14 10:30] memsharded commented on #10169
Deletion in the local cache is with ``rmdir``, it would be too much to do it at the file level, and in any case ``rmdir`` should work fast enough to greatly reduce this.

[2021-12-14 10:38] Johnnyxy commented on #5731
It is okay, as this was based on the legacy python_requires feature.

[2021-12-14 10:43] memsharded commented on #10173
This is exactly the purpose of ``layout()``. Check the ``cmake_layout()`` implementation for example, how it defines a different ``cmake-build-debug`` (for ``self.folders.build``) or ``Release`` folder, based on the current settings. You can easily extend this to have a ``build-release-amrv6-static-asan`` folder. This folder will be mapped correct to ``self.build_folder`` for packaging, consumptio

[2021-12-14 12:38] RolfBippus commented on #10173
Thanks again for the quick reply.

Thanks, yes, this would be the current solution!

I just thought it might be nice to use the package id instead, so in case I e.g. add settings to a package I do not have to remind myself to change the layout() method to take the new setting into account.

On the other hand, I could probably create my own hash from the current settings and requirements. However I

[2021-12-14 12:40] AndreyMlashkin commented on #10169
it would be better, if while calling
'conan remove "*" -o'  -f,
invalid packages are also deleted, as well as outdated, no need to throw an exception

[2021-12-14 12:54] RolfBippus commented on #10173
The call sequence seems to be
1. layout()
2. requirements()
3. package_id()

- Is there a reason for not calling `requirements()` and `package_id()` before `layout()`?
- The layout should not be needed by the other two, or...?
- And when calling layout() after the other two would yield the possibilty to have all package id related info correctly available?!

[2021-12-14 13:33] julienalofs opened #10176 "[bug] CMakeDeps sometimes fails for test package"
### Environment Details (include every applicable attribute)
  * Operating System+version: untu:20.04 (docker), python:windowsservercore-1809 (docker), Windows 10 20H2
  * Compiler+version: gcc 9, Visual Studio 16
  * Conan version: 1.43
  * Python version: 3.9.9

### Steps to reproduce (Include if Applicable)
`$ conan new mylib/0.1 --template=cmake_lib`

then edit _conanfile.py_ to use CMakeDeps

[2021-12-14 14:05] babariviere opened #10177 "[feature] [2.0] Custom CMake executable for conan.tools.cmake.CMake"
Previously, we could set the CMake executable using this environment variable: `CONAN_CMAKE_PROGRAM`.
This could be used to create wrapper for CMake to inject definitions for all packages depending on another one.

As an example, we currently have this wrapper for android-ndk: https://github.com/conan-io/conan-center-index/blob/master/recipes/android-ndk/all/cmake-wrapper

I think something simila

[2021-12-14 14:09] ghost commented on #10172
I was facing the same problem today and found out that there are also differences between getting files from the Conan cache on my local PC and getting them from a remote. Files like `conandata.yml` are not downloadable from an Artifactory remote but are available in the cache.

I think that this is a design decision and that is fine but should be mentioned in the documentation of the `get` comman

[2021-12-14 14:47] memsharded commented on #10177
I see, I guess that adding something like that in conf is possible, but is it really necessary? I mean, as long as you put the cmake executable inside the ``bin`` (cpp_info.bindirs) folder of the package, it will be automatically put in the PATH for consumers (via ``VirtualBuildEnv`` when used as a build require. So no need to do anything special here. Am I missing something?

[2021-12-14 14:49] memsharded commented on #10177
By the way, it also seems that everything that is set by that cmake-wrapper should be already done built-in in ``CMakeToolchain`` (and if it is not done, then that could be fixed and improved, the idea is that CMakeToolchain support this Android building natively)

[2021-12-14 14:54] memsharded commented on #10176
This seems a result of the latest changes in 1.43, because the recipes have not been upgraded to fix the properties in ConanCenter. As soon as the PRs gets merged in ConanCenter, this will work again.

[2021-12-14 15:09] julienalofs commented on #10176
This issue appears with conan 1.42.1 too

[2021-12-14 15:20] memsharded commented on #10176
Well, some of the properties have already started to be merged in ConanCenter (those will not work in 1.42.1 either), so at the moment it is in a transition state where some packages will only work in 1.43 and others in 1.42 (even ones in the same dependency graph), until the different recipes being involved all migrate to the new properties, it will be a bit unstable.

[2021-12-14 15:24] babariviere commented on #10177
In this case, won't you have to rename `cmake-wrapper` into `cmake`? Plus, `cmake-wrapper` would have to be aware of where the "real" CMake executable is located. (if I am not wrong)

Is it possible to pass down `ANDROID_NATIVE_API_LEVEL` and other CMake variables with the toolchain?
These variables should be put in the `self.buildenv_info`, right?

~Also, I may be wrong, but taking the example of

[2021-12-14 15:30] memsharded commented on #10177
The current CMakeToolchain implements this template:

[code]
The ``ANDROID_NATIVE_API_LEVEL`` is an alias for ``ANDROID_PLATFORM``, which is already being set, so all good, it should work as is. These vaules are defined from settings, not necessary to define them in the package (they work also with a system installed Android NDK.

[2021-12-14 15:35] babariviere commented on #10177
I currently have this to setup these variables:

[code]

Is it the correct way? I have to check for the context to be able to get the correct `api_level`.

[2021-12-14 15:45] babariviere commented on #10177
I think I should take a closer look at the implementation of conan. 😓
Thanks for the support!

[2021-12-14 15:45] #10177 closed, assigned to memsharded

[2021-12-14 15:50] memsharded commented on #10177
Thanks for the support!

Well, this is pretty new, and all the docs are complicated now with both the previous/stable/legacy integrations and the new ones living together... don't worry, feedback is very welcome, keep it asking things! :)

[2021-12-14 15:57] SpaceIm commented on #9427
Maybe one more suggestion if https://github.com/conan-io/conan/issues/9427#issue-970777378 is implemented: root package folders shouldn't be added to `cpp_info.builddirs` by default, or at least they shouldn't be added to `CMAKE_PREFIX_PATH`. Only others folders of `cpp_info.builddirs` and `CMAKE_CURRENT_LIST_DIR` should be added to `CMAKE_PREFIX_PATH`.
Why? To avoid to indirectly make executables

[2021-12-14 15:57] julienalofs commented on #10176
Ok I understand but here, one second it works, the next one it doesn't. Can the property explain this ?
I can execute a loop of conan create command and ~50% will failed

[2021-12-14 16:03] memsharded commented on #10176
No, that is really weird. Unless there is some CDN propagation thing or something, and it is being resolved to different locations... you are right, if that is the behavior, it is worth having a look (for me it fails consistently)

[2021-12-14 16:14] franramirez688 commented on #10176
Yes, that's weird. I'm trying to figure out what's going on. In my case, it's failing randomly in macOS.

[2021-12-14 16:18] Carsten87 commented on #660
@memsharded I don't seem to get the workaround running and I'm running out of ideas. As you can see in the output of `conan install` I set `boost:shared` differently for build and host context but nonetheless in both cases `boost/1.76.0:847654ce15b50bdbb96596fa75b793c981bdc204` (which is `shared=True`) is used. But even if two different variants of boost were to be downloaded wouldn't the generate

[2021-12-14 16:26] franramirez688 commented on #10176
@memsharded @julienalofs

I guess I know what's happening. Look at the following pieces of log.

**FAILED**
[code]
**SUCCEEDED**
[code]

If you realize, all the generators are being randomly executed so I think that's what is causing the error.

[2021-12-14 17:03] imaciejjablonski opened #10179 "[question] How to pass options from test_package to package build?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
- I'm using conan 1.43 binary on windows 10

Hi, I'm having trouble passing option values from test_package to package build when calling `conan create`.

My packaging scenario is I have a repository with code that is built with msvc, but some parts are used as firmware code built with

[2021-12-14 17:52] memsharded commented on #10176
I don't think the order of generators would change much, but maybe something to look is the order of dependencies inside the ``CMakeDeps``, which might influence the order in which transitive dependencies are evaluated. I suggest printing it and checking.

[2021-12-14 18:01] memsharded commented on #660
With the new  generators like ``CMakeDeps``, the "build" context do not generate by default xxx-config.cmake, and if you want it to generate, you can tell it explicitly, and you can even control the name of the file, so it can generate for example a ``xxx-build-config.cmake`` to differentiate it from the "host" one. Otherwise, things in ``build-requires`` are assumed to be executable tools, like c

[2021-12-14 18:05] memsharded commented on #10179
Can you please try using ``conan create . my_package/1.0.0@maciek/devel -o my_package:fw_platform=platform_a``?

Options are per-package, and the package they apply to needs to be specified (there might be some wildcards, that can be used, but better be explicit). In any case, are you sure the ``fw_platform`` is not a subsetting? Maybe it is a subsetting of the ``os`` setting or something? If it i

[2021-12-14 20:36] rconde01 commented on #3287
If the recipe won't go on CCI, then here's a potential solution:
[code]

[2021-12-14 21:21] memsharded commented on #10169
In any case, I'd like to highlight that the ``--outdated`` thing no longer makes sense with revisions enabled, as using revisions it is not possible to have outdated binaries from recipes. The ``--outdated`` has then already been removed from Conan 2.0 (alpha2 released today).

[2021-12-14 21:23] memsharded commented on #3287
But @rconde01, 7zip has already been in ConanCenter for a while: https://conan.io/center/7zip, and I think there are already other packages in ConanCenter that use it as build-require

[2021-12-14 21:25] rconde01 commented on #3287
fair - it's probably the better way.

[2021-12-15 00:35] SpaceIm commented on #10167
I think you should consider removing root package folder from `builddirs` by default (see https://github.com/conan-io/conan/issues/9427#issuecomment-993685376), otherwise it will be a mess for cross-build if `builddirs` of build requirements are added to `CMAKE_PREFIX_PATH`.

But actually for `extra-cmake-modules`, you want to add `build_paths` of build requirements in `CMAKE_MODULE_PATH`, not `CM

[2021-12-15 06:51] njleon007 commented on #5008
I find the same issue, when conan install and inspect, I got logs from conan client:

DEBUG :rest_client_common.py[110]: REST: ping: http://192.168.2.21:9300/v1/ping [2021-12-15 14:49:07,672]
DEBUG :rest_client_common.py[136]: REST: get: http://192.168.2.21:9300/v1/conans/opencv/3.4.0/deepglint/stable/download_urls [2021-12-15 14:49:07,677]
DEBUG :rest_client_common.py[38]: REST ERROR: <class 'con

[2021-12-15 09:21] SpaceIm commented on #10103
@jasal82 here is my proposal to improve the situation: https://github.com/conan-io/conan/issues/9427#issuecomment-993685376

Too fragile, it breaks `find_program()` (may find executables of host context instead of build context).

[2021-12-15 09:34] imaciejjablonski commented on #10179
Using `-o my_package:fw_platform=platform_a` produces inverse log, package gets value but test_package doesn't, but that's understandable now. So this means `settings` are passed between `test_package` and `package` but options don't?

How to test the different configurations of packages when I have other options? I've got e.g. `with_some_module` and to test it in CI should I provide special profi

[2021-12-15 14:33] gabyx opened #10181 "[bug] `cmakedeps_macros.cmake` should use IMPORTED_IMPLIB on Windows"
### Environment Details (include every applicable attribute)
  * Conan version: 1.43

# `cmakedeps_macros.cmake`:

Line 39:

Instead of this

[code]

One should use something like this:
[code]

This is necessary to make `$<TARGET_RUNTIME_DLLS:tgt>` work correctly.
- https://gitlab.kitware.com/cmake/cmake/-/issues/22845
- See Question: https://github.com/conan-io/conan/issues/10120

[2021-12-15 14:34] #10120 closed, assigned to nobody

[2021-12-15 15:31] julienalofs commented on #10176
In the meantime, how can I avoid this issue? Any workaround ? How to manage package dependencies without `CMakeDeps` ?

[2021-12-15 16:18] memsharded commented on #10181
That is the thing, it is not obvious what type it is. Conan doesn't have that information, as libraries are simply modeled by name, so it is something that CMake should provide. Anyone knows a robust way to deduce the library type based on ``CONAN_FOUND_LIBRARY`` var results?

Also, I don't fully understand ``/../lib/lib.dll`` there. How are we supposed to do that for every different library name

[2021-12-15 16:31] nichmj01 opened #10182 "[question] Upload based on lock file"
Is there a way to specify the packages (recipe and/or binaries) to upload based on a lock file? Currently, it seems like I need to specify individual references (and packages ids if I only want to upload specific packages) which can be tedious to find and execute. It looks like I can do a pattern for the references but my dependencies don't have a common pattern. Since the lock file has all the in

[2021-12-15 17:57] memsharded commented on #10176
I managed to see what was happening. I am going to submit a patch asap to be included in 1.43.1 which will also be released asap

[2021-12-15 20:29] jasal82 commented on #9427
I think you can't require that `CMAKE_FIND_ROOT_PATH_MODE_*` is always set to `BOTH` or `NEVER`. Often user toolchain files are used, which in many cases are not under user control. Also, conversely, setting `CMAKE_FIND_ROOT_PATH_MODE_*` to `BOTH` or `NEVER` can trigger unwanted side effects in builds that can't always be fixed because their CMakeLists cannot be modified (3rd party components). Wh

[2021-12-15 21:52] maikelvdh commented on #10182
Looking for similar kind of solution in order to utilise even better parallel upload threads!

[2021-12-15 22:02] gabyx commented on #10181
@memsharded : Ok true, I thought, Conan has the information at hand if its a shared lib or static?
Conan really doesnt know what the package contains?
How do you mean, something what CMake should provide. You also find `CONAN_FOUND_LIBRARY` so couldn't you find a DLL on windows too?

[2021-12-15 23:51] SpaceIm commented on #9427
`CMAKE_MODULE_PATH` is not affected by any `CMAKE_FIND_ROOT_PATH_MODE_*`. `CMAKE_PREFIX_PATH` is. I'll try to see for other variables.
If the issue is only on `CMAKE_PREFIX_PATH`, it may be sufficient to add the same content to `CMAKE_FIND_ROOT_PATH` but it's very important to not add root package folders.

[2021-12-16 10:30] SpaceIm commented on #9427
I've tested:
The solution described in https://github.com/conan-io/conan/issues/9427#issuecomment-993685376 can be robust to `CMAKE_FIND_ROOT_PATH_MODE_PACKAGE` set to `ONLY` by populating `CMAKE_FIND_ROOT_PATH` with the content of `CMAKE_PREFIX_PATH` (`CMAKE_CURRENT_LIST_DIR` + `build_paths`, except root package folders).
But for `CMAKE_FIND_ROOT_PATH_MODE_PROGRAM`, `CMAKE_FIND_ROOT_PATH_MODE_LIB

[2021-12-16 11:06] T1T4N commented on #10140
Hello @memsharded,
Thanks for sharing the integrations documentation.
I can see [here](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmakedeps.html) that `cpp_info.components` is mentioned. Does that mean that the experimental Components feature is going to be present in Conan 2.0?
Additionally, is there any way to define components info using `set_property`?

Regarding my detail

[2021-12-16 12:18] jasal82 commented on #9427
That's only true if there is no build sysroot defined. In the cases I have in mind (Yocto SDK) Ninja would be part of the build sysroot which is also set in `CMAKE_FIND_ROOT_PATH`, together with the target sysroot. It's a question of where to pick the build context binaries from. Sometimes you want to use the tools installed in the host system (`NEVER`) and sometimes you want to explicitly select

[2021-12-16 12:40] SpaceIm commented on #9427
Well, I guess in this case you want to make "CMake sysroot" libs/programs discoverable before conan ones, that's all.
Order of precedence is something like this:
- `CMAKE_FIND_ROOT_PATH`
- `CMAKE_SYSROOT`
- `<PackageName>_ROOT`
- `CMAKE_STAGING_PREFIX`
- `<PackageName>_DIR` and `CMAKE_PREFIX_PATH` (or `CMAKE_MODULE_PATH` for `find_package()` of Find files & `include()`)
- `CMAKE_<PROGRAM/INCLUDE/L

[2021-12-16 13:41] boussaffawalid commented on #9872
@memsharded I understand that I cannot access `self.build_folder` in the layout function as it is not defined yet. But now how can I access source folder full path in the layout method ?
`self.source_folder` is not defined and `os.path.dirname(__file__)` points to the recipe folder!

[2021-12-16 13:57] suhasghorp opened #10184 "CMake,Conan,GithubActions,MacOS - Unable to build TBB library"
I am experimenting with building a CI pipeline for my project https://github.com/suhasghorp/jason-cpp-starter
As part of the build, I am requiring Conan to download and install TBB library https://conan.io/center/tbb?version=2020.3
The Github Actions workflows build Windows and Linux project successfully and but not Mac OS.

I get following error only on MacOS:
/Applications/Xcode_13.1.app/Content

[2021-12-16 14:00] robindegen opened #10185 "Conan profile new default --detect does not detect/configure Visual Studio 2022 correctly resulting in failing builds"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 2H20 (Docker image)
  * Compiler+version: Visual Studio 2022 Build Tools (19.30.30706)
  * Conan version: 1.43.0 (installed system-wide through pip)
  * Python version: 9.3.6
  * Cmake version 3.22.1

### Steps to reproduce (Include if Applicable)
Create the default profile on a system with only V

[2021-12-16 14:35] RolfBippus commented on #6405
First of all, I would also very much like to have such a feature.
@petermbauer 👍
I have used what you proposed, however with one added thing I found important.

In order to prevent the additional options from changing the package id (specifying a specific target should not change that, since the settings remain the same) I used the default value (according to the conan docs of [package_id()](https

[2021-12-16 15:53] petermbauer commented on #6405
Thanks for sharing @RolfBippus, i also considered removing it from the package_id but for me its ok to produce different binary packages as the content depends on which target is built.

[2021-12-16 15:59] jeerychris commented on #9695
Thanks, resolve the problem after VPN close

[2021-12-16 16:54] gouriano opened #10187 "[question] How to set cppstd of dependent packages from conanfile.py?"
Hi

The problem is that my package requires C++17, but it depends on GRPC (grpc/1.39.) which fails to build with C++17 (It builds fine with C++14).
I can create conanfile.txt:

    [requires]
    grpc/1.39.1

and install requirements:

    conan install . -s grpc:compiler.cppstd=14

it works, no problem.
My question is how to do the same in conanfile.py, that is in my package recipe?

[2021-12-16 17:40] klausholstjacobsen opened #10188 "Cross-compiling with cmake produces "Detected a mismatch for the compiler version between your conan profile""
Hello

I have a small example project set-up to use conan packages for cross compiling with cmake.

Here's my CMakeLists.txt:

[code]

my host profile in profile.armhf-gcc8:
[code]

my build profile in profile.amd64-gcc7:
[code]

my project conanfile.txt:
[code]

I have removed all required packages from the conanfile.txt for simplicity....this does not change the error
I have packaged linaro-gcc

[2021-12-16 17:51] tmatheson-arm opened #10189 "[question] Is there a way to freeze dependency recipe revisions into the recipe upon export?"
Here's a demonstration of the problem I'm having while trying to set up CI:

[code]

The `conan install` command fails with `ERROR: Missing prebuilt package for 'consumer/1.0'` because the package ID for the prebuilt binary is based on `dependency/1.0`. The recipe includes a version range which is re-evaluated using `dependency/2.0` and therefore the package would need to be rebuilt from source.

[2021-12-16 18:33] robindegen commented on #10185
Update: Changed the title and description after finding the root cause

[2021-12-16 22:17] SpaceIm commented on #9364
@czoido the new `cmake_target_name` logic fixes this issue I think.

[2021-12-16 22:42] SpaceIm commented on #10167
You can try with these changes https://github.com/conan-io/conan/pull/10186

[2021-12-16 23:22] memsharded commented on #10185
Hi @robindegen

This is not a bug, the new ``msvc`` is the new setting definition for the Visual Studio compiler, the one that will supersede the ``Visual Studio`` one in Conan 2.0 ("Visual Studio" will be removed in 2.0).

As it is necessary to keep improving the ``msvc`` we have provided this detection already for VS 2022. It is true that the legacy integrations (like ``cmake_find_package``, ``c

[2021-12-16 23:25] memsharded commented on #10189
Hi @tmatheson-arm

Automatically baking the resolved dependencies into the recipe is not possible at the moment. But you can try to use lockfiles to obtain a snapshot of the dependency graph, and use it later to achieve the same build. Please check https://docs.conan.io/en/latest/versioning/lockfiles.html. At the moment they are a bit complicated, but we have already simplified them a lot for the

[2021-12-16 23:31] memsharded commented on #10187
Hi @gouriano

No, it is not possible to define dependencies settings from consumer recipes. The reason is that we already have the same feature implemented for ``options`` and it is quite challenging to maintain, but also confusing for users. Such in-recipe definition of options can cause for example configuration conflicts in the dependency graph (not only version conflicts, but also different op

[2021-12-16 23:33] robindegen commented on #10185
But if I use it as-is, all the builds fail. Even packages on the conan hub are broken with this change; since it tries to build with mingw if you do that. Shouldn't such a change be at least backwards compatible in a sense that it doesn't just break installations on new systems? I have to manually tweak profiles now to get it to build on all docker images; where before the auto detection worked fi

[2021-12-16 23:39] memsharded commented on #10181
No, because in the ``package_info()`` only the lib names (as they appear in -lmylib) are defined, like ``self.cpp_info.libs = ["mylib"]``. This was done to simplify the package creators work. Conan might have the ``options.shared``, but even if that is defined you cannot guarantee that all libs inside will be shared, because there are many packages that contains a mix of static and shared librarie

[2021-12-16 23:52] memsharded commented on #10185
Yes, but there is already a bunch of users moving to the new integrations and trying to use ``msvc`` setting in their recipes. Recall that ConanCenter usage represents around 20% of Conan usage, as there is way more usage inside companies with their own recipes than in ConanCenter. If the default profile doesn't start to default to ``msvc``, then it will be a problem for them too. We are in the mi

[2021-12-16 23:54] memsharded commented on #9364
Yes, I think so, please @czoido confirm and close it if correct.

[2021-12-17 00:08] robindegen commented on #10185
@memsharded I agree with the idea and i understand completely; but then it should be a bit more clear that this is the case for the end-user. Maybe the detect should already state this in a warning. Currently there is no indicidation what-so-ever; and it just seems to randomly break when i update to me as an end-user who is not up to date with all these internals. I didn't even know that 2.0 was i

[2021-12-17 00:14] memsharded commented on #10188
Hi @klausholstjacobsen

Yes, in this case it seems it is a limitation of the ``cmake`` legacy integration. You might just disable the compiler version check defining the ``CONAN_DISABLE_CHECK_COMPILER`` cmake variable in your CMakeLists.txt.

The new integrations (CMakeToolchain, CMakeDeps) will not be doing this check, so this will not be an issue moving forward, as it can be disabled, probably n

[2021-12-17 08:53] klausholstjacobsen commented on #10188
Thank you for the quick response.
I was not aware that using the cmake generator is considered legacy.

I am still in the investigation phase, so changing track is not a problem for me....yet.
One important information that i did not include in the OP is that I wish to use conan as a package manager, but not for compiling my project code. I am using "plain" cmake to build the project, and wish (fo

[2021-12-17 08:55] czoido commented on #9364
Hi @tcanabrava, I think that should be no problem to achieve that in the recipe with the [set_property](https://docs.conan.io/en/latest/conan_v2.html#new-properties-model-for-the-cpp-info-in-conan-2-0-generators) model por `CMakeDeps`.
You can set the namespace you want with `cmake_target_name` for example `Qt::` and then make an alias to the `Qt5/6::` target with the [cmake_target_aliases](https:

[2021-12-17 08:55] #9364 closed, assigned to nobody

[2021-12-17 09:34] tru opened #10190 "Conan doesn't work correctly with Artifactory access-tokens when created for a group instead of a user."
### Steps to reproduce
* Create a group in artifactory
* give that group access to your conan repo
* create a access token for that group: `jfrog rt atc --groups conan-deploy --expiry 0 conan-deploy`
* add the returned token in `CONAN_PASSWORD` [environment variable](https://docs.conan.io/en/latest/reference/env_vars.html)
* try `conan search` -> it will fail

It works if you create a token for yo

[2021-12-17 10:03] franramirez688 commented on #10176
The issue is already solved by this PR: https://github.com/conan-io/conan/pull/10183

Thank you @julienalofs for reporting this bug. It will be released asap in the next Conan 1.43.1 patch version.

[2021-12-17 10:03] #10176 closed, assigned to memsharded

[2021-12-17 10:17] SpaceIm commented on #9735
Perhaps this should be made configurable.

It can't because `find_program()` would grab executables of host context before executales of build context. https://github.com/conan-io/conan/pull/10186 should fix this issue (assuming @WilliamBehrens was using `CMakeToolchain` generator).

[2021-12-17 10:22] julienalofs commented on #10176
Great work guys ! @franramirez688 @memsharded

[2021-12-17 11:38] memsharded commented on #10182
I think we should first allow multiple references in the ``upload`` command. Then, there could be a way to extract references from the lockfiles, but sounds that maybe it shouldn't be directly coupled, lets see what it makes sense.

So this sounds doable, just I don't know about the time scope, certainly we can do it for 2.0, as the UI is being re-designed anyway, but I don't know if we will get t

[2021-12-17 11:49] memsharded opened #10191 "[feature] Have a convention in global.conf to specify max number of cores"
Recently ``tools.build:jobs`` was changed to default to the maximum number of cores
Maybe it would be better to explicitly allow it, like ``tools.build:jobs=MAX_CORES``.

This would also apply to ``core.download:parallel`` and ``core.upload:parallel`` (when implemented, not yet available)

[2021-12-17 11:56] SpaceIm commented on #8196
The new `cmake_target_name` mechanism solves this issue in `CMakeDeps` (not in `cmake_find_package_*`, but these generators will be removed in conan v2).

[2021-12-17 11:56] #8196 closed, assigned to danimtb

[2021-12-17 11:59] SpaceIm commented on #7878
@czoido @memsharded Did you remove `-Wl,-rpath` in `PkgConfigDeps`?

EDIT: nop, still there.

[2021-12-17 12:15] klausholstjacobsen commented on #10188
I have been looking in `CMakeToolchain`.
The way I understand it is that I can actually use this generator in my linaro-gcc package to generate a toolchain file that fits this package (point to gcc and g++ etc provided by this package), and then use that toolchain in my plain cmake project for building.

The fun however stops when adding CMaketoolchan into conanfile.py
[code]

Error:
[code]

Is my

[2021-12-17 12:50] gouriano commented on #10187
Understood. Once so, I have another question.
Consider a theoretical possibility of me submitting  my package to Conan center. Is it possible to submit it with such custom profile?

[2021-12-17 13:11] tmatheson-arm commented on #10189
Thanks @memsharded. I'm aware of lockfiles, but from what I understand they require a separate mechanism for distributing them. If a user wants to do `conan install consumer/1.0` to get the CI-built package on their own machine, they would first have to fetch the lockfile from somewhere and then do `conan install consumer/1.0 --lockfile=consumer_1_0.lockfile`. This is possible but requires extra i

[2021-12-17 13:50] memsharded commented on #10185
We will have a look at next release to see if the legacy integrations can be easily fixed without breaking risks.

In any case, for reference for other readers too, changing the default automatically generated profile can be done with ``conan profile settings.compiler="Visual Studio" default`` (and similar for the version).

[2021-12-17 14:01] memsharded commented on #10189
If the project is a consumer only, then, it could just store the lockfiles in the repo, that would make it straightforward to apply, and will work well for different branches, etc of the repo.

That is another challenging thing, the problem is that the dependency graph is different for every different configuration. The same package can use "boost/1.65" in Windows and "boost/1.75" in Linux. Then t

[2021-12-17 14:05] memsharded commented on #10187
Not at the moment. ConanCenter is only building packages with the default compiler version cppstd profile. So at the moment recipes that need a higher cppstd might be just defining it directly in their builds (hardcoded, but not coming from the Conan model). That kind of works so far (so you are mostly good to do that if you plan to submit it soon to ConanCenter), but we are working to try to prov

[2021-12-17 14:10] gouriano commented on #10187
Understood. Thanks

[2021-12-17 14:10] #10187 closed, assigned to nobody

[2021-12-17 15:18] thorsten-klein opened #10193 "[bug] circular dependency of build tools if used in build profile"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu
  * Compiler+version: gcc-10
  * Conan version: 1.43.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
myprofile
[code]

conanfile_build_tool_1.py
[code]

conanfile_build_tool_2.py
[code]

conanfile_consumer.py
[code]

steps to reproduce:
[code]

### Logs (Executed commands

[2021-12-17 15:23] thorsten-klein commented on #10193
Suggestion: Solve the circular dependency in the profile via
[code]

Currently fnmatch is used here, but this does not allow to negotiate the expression. Therefore lets handle the ! in the first position explicitly. I will create some patch.

[2021-12-17 16:20] RolfBippus opened #10196 "[question] information on python_requires after install"
Hi.

I am trying to write some convenience scripts on top of conan.
For this purpose I want to check all required packages and their availability as well as the complete install process.

Since I work a lot with editables, I want/need to make sure, no requirement points to an editable in case I forgot to remove it.
(I hope the workspace option will make this obsolete in the future).

Thus, after h

[2021-12-17 16:28] memsharded commented on #10196
New ``python_requires`` are part of the ``package_id``, but they couldn't be added to the ``conaninfo.txt`` without breaking. They will be there in 2.0.

At the moment, it might be possible to get it from the json file rathern than the terminal output, I don't know if that is what you mean (using ``conan install --json=file.json``). There is also the possibility of using lockfiles and parsing the

[2021-12-17 16:43] RolfBippus commented on #10196
That sounds great. So I'll keep that in mind when 2.0 comes up.

I cannot find the info in the json file, but it is definitely in the lockfile! So I'll use that.

Thanks a lot!

[2021-12-17 16:43] #10196 closed, assigned to nobody

[2021-12-17 17:14] franramirez688 commented on #10185
Thanks, @robindegen for reporting the issue. Indeed, it is a bug.

It's already solved here: https://github.com/conan-io/conan/pull/10195 (pending of being reviewed/merged)
It'll be released in the next Conan 1.43.2 patch version asap.

[2021-12-17 17:30] mbel0 opened #10198 "[question] pass common compiler/linker flags for native builds"
Hello!

I'm trying to configure conan (version 1.43.0) to build packages on Windows 10 using MS Visual Studio 2017. It turns out that I need to add few flags to the Release mode of the packages (namely "/Zi" for C/C++ and "/debug" for linkers, otherwise produced PDB files are unusable for me, and Debug and RelWithDebInfo modes have their own problems). How can I do this?

It looks like there is no

[2021-12-17 21:46] Novakov opened #10200 "[bug] exelinkflags for components are not properly escaped in CMakeDeps generator"
### Environment Details
  * Operating System+version: Windows 10 x64
  * Compiler+version: arm-none-eabi-gcc 8.3.1
  * Conan version: 1.43.0
  * Python version: 3.9

### Steps to reproduce (Include if Applicable)
1. Create from following recipe:
[code]
2. Create CMake project with Ninja generator consuming `my-pkg` package
3. Add executable linking to `my-pkg::component`:
[code]
4. Try to build us

[2021-12-17 22:10] Hopobcn opened #10201 "[question] layout and --test-build-folder"
Hi,

TLTR:
If a `test_package` conanfile uses `layout()` is `--test-bulid-folder` ignored?

-----

I'm trying to write a `test_package` parametrized by generator (to test `CMakeDeps` & `cmake_find_package`).

[code]

`test_package/cmake_find_package/conanfile.py` is a pretty standard test package with the particularity that `source_folder` is declared as one level up to reuse the same `CMakeLists.

[2021-12-17 23:00] gabyx commented on #10181
Ok, thanks for the input so far.

I think one should use `find_file` (according to that solution: https://discourse.cmake.org/t/find-library-wont-find-dlls/4050).
I suggest the following:

- **Windows:**
  - `find_library` to search for the .lib as normal -> CONAN_FOUND_LIBRARY.
  - `find_file` to search for a `.[dll|DLL]` with same filename and probably at the same locations where `CONAN_FOUND_LI

[2021-12-18 12:10] hacki11 opened #10202 "[feature] Add build_modules/build_modules_paths in JsonGenerator"
Use Case:
I have a product in a conan ecosystem relying on the build_modules/cmake feature to include cmake files from other dependencies. I need to distribute this environment to a system where conan is not available but cmake is. I want to use the [JsonGenerator](https://docs.conan.io/en/latest/devtools/running_packages.html#using-the-json-generator) to gather all relevant files which are needed

[2021-12-18 15:49] mayerdev opened #10206 "[question] ERROR: boost/1.77.0: Error in build() method, line 829"
I am trying to install boost 1.77 on M1 in docker container with debian 11.

conanfile
`[requires]
sol2/3.2.3
mongo-cxx-driver/3.6.6
boost/1.77.0

[generators]
cmake`

CMakeLists
`cmake_minimum_required(VERSION 3.1)

project(rncore LANGUAGES CXX)

add_executable(rncore src/main.cpp)
add_definitions("-std=c++14")

set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -W -Wall -Wextra -Werror -Wno-unused-paramete

[2021-12-18 23:30] memsharded commented on #10198
Hi @mbel0

Could you provide a bit more of information? It would be great to have the ``conanfile.py`` that you are using (or some simplified version). Also besides passing a user toolchain, you might also easily add things to the Conan generated toolchain file in the ``generate()`` method if you prefer.

[2021-12-18 23:32] memsharded commented on #10201
Hi @Hopobcn

At the moment the ``layout()`` feature always references to the conanfile.py position. We are in the middle of a change to allow following local folders different to the conanfile.py one (that would included the test one too).

This is the first PR towards this goal: https://github.com/conan-io/conan/pull/10207, and https://github.com/conan-io/conan/pull/10180 would be important too.

[2021-12-19 00:45] mbel0 commented on #10198
so far I do not have conanfile.py: I have only basic conanfile.txt in my project which requests cryptopp/5.2.0 package from conan central, just as a starting point. So I am trying to force the build of existing stock package with flags which are slightly different from the default

[2021-12-19 23:35] memsharded commented on #10198
Oh, I thought that you wanted to pass compiler flags to your own packages? Are you saying that you want to inject compiler/linker flags for arbitrary packages (like those of ConanCenter)? Then, it is not possible using the ``user_toolchain`` approach, because that is implemented by ``CMakeDeps``, and recipes in ConanCenter haven't upgraded yet to ``CMakeDeps``. Could you clarify this, please? Than

[2021-12-19 23:43] memsharded commented on #10181
Hi @gabyx

Yes, seems that what you suggest would be the way of moving forward. I hope it doesn't introduce any new subtle issues, with CMake it is always difficult to know...

I think the point to introduce the modifications for this would be here: https://github.com/conan-io/conan/blob/8fe7623b929d17c7e6f7f40bdd74e8a9c59d0822/conan/tools/cmake/cmakedeps/templates/macros.py#L56

I think not right

[2021-12-20 10:11] #10202 closed, assigned to nobody

[2021-12-20 10:15] #7878 closed, assigned to franramirez688

[2021-12-20 10:28] AlessandroFasse opened #10209 "IntelLLVM not recognized"
I am trying to use the Intel Compiler within `conan` on Windows with `ninja`. For that I did setup a small cmake project with the following `CMakeLists.txt`:
[code]
and I use `conan.cmake` from this repo/commit: https://github.com/conan-io/cmake-conan/blob/develop/conan.cmake

For Ninja I need to define the environment manually. So first call the corresponding `bat` script and then run cmake as:
[

[2021-12-20 11:04] #9907 closed, assigned to nobody

[2021-12-20 12:03] memsharded commented on #10209
It seems that this is an issue of the ``cmake.conan``, that is not translating the IntelLLVM to the corresponding Conan setting. That conversion happens in the conan.cmake file, not in Conan client, so I'll move this issue to that repository.

Consider adding/forcing the setting to the ``intel-cc`` one in your cmake code, to avoid conan.cmake translation or auto-detection.

[2021-12-20 12:30] mbel0 commented on #10198
Yes, I want to inject custom flags into existing packages.

So, in general case I have to modify a package build recipe if I need custom build flags in it, correct?

[2021-12-20 12:33] klausholstjacobsen opened #10210 "How to set executable path of compiler provided by [build_requires] in profile"
Hello
I am trying to cross compile my project for arm.
I have packaged the linaro gcc toolchain in a package of its own.

I have put the new linaro package in the build_requires section of my arm host profile.
But how can the linaro package "communicate" to the profile where the compiler is located so that the profile can set the "CC" variable.

I have tried setting everything in the package_info(

[2021-12-20 13:18] memsharded commented on #10210
Hi @klausholstjacobsen

It would be good to know if you are already using the "build" and "host" profile approach (very recommended for cross-building), and it would also be good to know the consumer part, because depending on the generators and other tools that you might be using, it could work or not. In the general case, this should work, so it might be something in the consumer side.

In gener

[2021-12-20 14:19] klausholstjacobsen commented on #10210
Yes, I am indeed using the "build" and "host" profile approach.
My build profile is:
[code]
This system does recognise that I am crossbuilding.
I have tried with both a project conanfile.txt and also with a conanfile.py. Both with no success.

conanfile.txt looks like this:
[code]

I integrate with my cmake project this way:
[code]

I have been a bit reluctant to try the "virtualenv" route as I am

[2021-12-20 14:55] memsharded commented on #10210
I start to understand. The thing is that if you are not using any virtualenv capability, then most of the responsibility falls in the build system. In order for the environment to be activated when cmake is called, there must be something there that passes the information. If the build is done inside a ``build()`` method, then Conan will manage to inject the environment. But if it is a pure "consu

[2021-12-20 15:18] czoido commented on #10185
Closed by: https://github.com/conan-io/conan/pull/10195 to be released soon in Conan 1.43.2

[2021-12-20 15:18] #10185 closed, assigned to franramirez688

[2021-12-20 16:08] klausholstjacobsen commented on #10210
That does make sense. I was however under the impression that the cmake toolchain file genereated by the CMakeToolchain generator would do exactly that and bridge the gap between conan and my project.

[2021-12-20 16:13] t-8ch opened #10211 "[bug] gnu triplet for os=Linux arch=x86 is suboptimal"
### Environment Details (include every applicable attribute)
  * Operating System+version: ArchLinux current
  * Compiler+version: gcc 11.1.0
  * Conan version: Current git head ( 1.24.0-1085-g106e54c9 )
  * Python version: Python 3.10.1

### Description

The GNU triplet that is created for arch=x86 on Linux is "x86-linux-gnu".
(This is only for Linux, other operating systems are translated as "i6

[2021-12-20 16:36] t-8ch opened #10212 "[bug] conans.AutoToolsBuildEnvironment does not respect os_build and arch_build from settings"
### Environment Details (include every applicable attribute)
  * Operating System+version: ArchLinux current
  * Compiler+version: gcc 11.1.0
  * Conan version: Current git head ( 1.24.0-1085-g106e54c9 )
  * Python version: Python 3.10.1

### Description

I'm trying to use an i686 toolchain on a x86_64 system to build i686 binaries.
However the `AutoToolsBuildEnvironment` ignores the `arch_build`

[2021-12-20 17:47] memsharded commented on #10212
Hi @t-8ch

Thanks for reporting this.

At this point, the ``AutoToolsBuildEnvironment`` is being superseded by ``AutotoolsDeps`` and ``AutotoolsToolchain`` from ``from conan.tools.gnu``, which is already experimentally available in latest Conan 1.X versions, and will become the only supported one in Conan 2.0 (already in alpha.2). Furthermore the ``os_build`` and ``arch_build`` is also superseded

[2021-12-20 17:53] t-8ch commented on #10212
@memsharded Thanks! Then I'll look into the using the profiles.

[2021-12-20 17:53] #10212 closed, assigned to nobody

[2021-12-20 18:03] memsharded commented on #10210
The responsibility of the ``CMakeToolchain`` is mainly mapping from the Conan settings to the CMake arguments and variables (things like the architecture, for example). But full management of environment is not easy with CMake. For example, a very typical ``build_requires`` that puts itself in the PATH is the ``cmake/version`` Conan package (available in ConanCenter). By definition it is impossibl

[2021-12-20 18:24] #9606 closed, assigned to memsharded

[2021-12-20 18:24] #10073 closed, assigned to lasote

[2021-12-20 18:35] jsallay opened #10215 "[question] build_requires with build and host profiles"
I have a project where I am using separate build and host profiles to cross compile (using conan create).  My project uses cmake, so I included that in the build_requires section of the build profile.  I discovered today, that this has been using a system installed version of cmake instead of a conan version.  Conan appears to ignore the build requires in the build profile.

After doing some testi

[2021-12-20 20:35] jsallay opened #10217 "[feature] Eliminate Hidden Dependencies"
One of the things I like most about Conan is that dependencies and versions are explicitly stated in the recipe.  This makes it really easy to hand off a recipe to someone else and have confidence that they can build it too.

The big exception to this are many of the fundamental build requirements.  Most all of the recipes that I have looked at in conan center have build requirements that are not

[2021-12-20 21:38] memsharded commented on #10217
Hi @jsallay

I think you are going to like this ongoing work: https://github.com/conan-io/conan/pull/10166 😄

It is a very preliminary idea, but I think it is pretty aligned with what you are suggesting here.

[2021-12-20 22:25] memsharded commented on #10215
Hi @jsallay

Actually, to use cmake to build libraries and executables in the host context, you should put "cmake/version" as ``build_requires`` in the "host" profile, so it applies to host packages.

If your build_requires themselves do need "cmake/version" to be built from sources (lets say, you have a ``gcc/1.0`` package that wraps a compiler and such compiler is built with ``cmake``, then you

[2021-12-20 23:31] egnor opened #10218 "[bug] Meson build helper overrides "default_library" option"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.10
  * Compiler+version: gcc 11.2.0-7ubuntu2
  * Conan version: 1.43.1
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
 1. Set up a conanfile that uses the Meson build helper (the [documented example](https://docs.conan.io/en/latest/reference/build_helpers/meson.html#examp

[2021-12-21 08:28] gabyx commented on #10181
Thanks, we will probably really have a look into this and, see if we can adapt the cmakedeps_macros as described and at the same time try to not break to much stuff (which is probably not the case when done as above).
We will report back.

[2021-12-21 09:15] thorsten-klein opened #10219 "[bug] conan2 self-loop when using tool_requires in profiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux 20.04
  * Compiler+version: gcc 9.3
  * Conan version: develop2
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
testprofile.txt
[code]

this results in a self-loop if applied for build and host context both:

### Logs (Executed commands with output) (Include/Attach if Applica

[2021-12-21 09:16] andiwand opened #10220 "[question] different CMake builds in one conanfile"
Hello - I hope this is the right place to ask this question!

I am currently trying to build and package [pdf2htmlEX](https://github.com/pdf2htmlEX/pdf2htmlEX) to consume it later in [my CMake project](https://github.com/opendocument-app/OpenDocument.core) as a dependency for mobile and desktop.

pdf2htmlEX depends on poppler and fontforge but not in a usual way. It also wants to access "private"

[2021-12-21 10:14] tapia commented on #9847
This issue is about meta-conan / yocto support, and @uilianries has been assigned to this, so I think this can be closed. Please feel free to reopen if you think it's necessary.

[2021-12-21 10:14] #9847 closed, assigned to uilianries

[2021-12-21 10:24] memsharded commented on #10220
Hi @andiwand

Yes, it is totally possible to vendor sub-libraries in a Conan package. Many projects out there vendor the libraries they use internally, and even manage to do the build automatically and transparently for the user. If that is the case, packaging that project is almost as easy as it didn't have any dependency.

So it depends on how the original project manages that. I see https://git

[2021-12-21 10:45] andiwand commented on #10220
Thank you @memsharded !

As far as I can tell pdf2htmlEX expects poppler and fontforge to be cloned in the root. So what I did so far is download the 3 sources in `source()`.

But then I got a little confused when or where would be the best spot to call the build of these sub-libraries. `build()` seems to be fine since the configuration of pdf2htmlEX seems not dependent on the build of these sub-l

[2021-12-21 10:48] #10200 closed, assigned to nobody

[2021-12-21 10:49] lasote commented on #10200
The PR has been merged and it will be released in `1.44`. Thank you so much for this contribution!

[2021-12-21 10:59] #10118 closed, assigned to lasote

[2021-12-21 12:38] memsharded commented on #10220
Maybe the ``CMake`` helper might not be the best approach, because it assumes 1 single build (including location of folders, etc). I think I would try to define my own wrapper CMakeLists.txt that ``add_subdirectory()`` the different folders, and try to have a relatively Conan independent build of the project (assuming the layout of the sources). In this way the package-creation and the build speci

[2021-12-21 12:42] memsharded commented on #10220
Oh, furthermore, I realize that you already have ``poppler`` in conan-center-index. In that sense, it might be easier to tweak it, for example, adding an option ``package_private_for_pdf2`` (just the idea 😅 of the name), and making sure it gets packaged as you need for easy consumption in the other package. This might also increase the chances of future contribution of it to ConanCenter (still cha

[2021-12-21 13:45] memsharded commented on #9396
Implemented in https://github.com/conan-io/conan/pull/10114

[2021-12-21 13:45] #9396 closed, assigned to nobody

[2021-12-21 14:14] andiwand commented on #10220
@memsharded thank you for the suggestions!

The `CMake` approach sounds most viable for me right now since I will have to adopt the `CMake` anyway.

Separating the packages would be cleaner from the dependency perspective but I am worried about the include paths. I would have to stay consistent with the given structure of the source directory if I don't want to rewrite the `#include` directives. S

[2021-12-21 14:21] slietzau opened #10222 "[bug] MSBuildDeps doesn't handle build requirements properly"
The propertysheets generated by the MSBuildDeps generator are not consistent. In the example below a sheet `conan_swig_build_release_x64.props` is generated with the following content:

[code]
However the file generated by Conan is named `conan_pcre_build.props`. My guess whould be that this line is the problem, but I'm not familiar with the code. It's just a guess :)
https://github.com/conan-io/c

[2021-12-21 14:25] andiwand opened #10223 "[question] build dependency from source for debugging"
Hello!

I wondered if there is a solution for re-building dependencies from source when they changed.

Looking at the following scenario: I am working on `Library Molecule` which depends on `Library Atom`. Both are CMake projects. I get a bug report for `Library Molecule` which I suspect is actually originated in `Library Atom`. If I am building `Library Atom` from source (e.g. via `add_submodule`

[2021-12-21 15:16] jsallay commented on #10215
Thank you for the clarification.  So is that to say, for "normal" application code, most of the build profile sections are not applicable and I can just use the default profile?

I feel like the role of the build profile could be made clearer in the documentation.  I talked with a co-worker about the issue and he was just as confused as I was.

On the cross-compiling page it talks about build, hos

[2021-12-21 15:18] jsallay commented on #10217
That looks great.  Does it differ significantly from what I proposed (either removing or adding features)?  I don't have significant amounts of time, but I could probably contribute some to this.  If nothing else, I would be happy to test it out and provide feedback.

[2021-12-21 15:35] memsharded commented on #10222
I'd like to understand better how you are using swig inside MSBuild. With ``MSBuildDeps`` (and the new graph model), build_requires (which are being renamed to ``tool_requires`` in Conan 1.44) are intended to be used as pure tools or executables, in MSBuild something like:

[code]

Then, transitive dependencies of ``swig`` should probably not be generated as property sheets. If there is a library

[2021-12-21 16:20] slietzau commented on #10222
Thank you for the quick response! It's good to know that there will be a distinction between `tool_requires` and `build_requires` (which I suppose will be used for build requirements in the host system in the future?).

Regarding the current usage:
Our solution is quite big and `swig` is only used in one project (out of ~50). Because we are in the early stages of adopting conan, we are not buildin

[2021-12-21 16:53] czoido opened #10224 "CMakeDeps should use the module file name to create Find<pkg>.cmake variables"
CMakeDeps is creating some variables in module mode using the name of the package. Instead of that, using the file name is probably more expected. Now, for example, for **libcurl**, it would generate `libcurl_FOUND` and `libcurl_VERSION`. Probably `CURL_FOUND` and `CURL_VERSION` is a bit more expected ([but not perfect](https://cmake.org/cmake/help/latest/module/FindCURL.html)). As commented in th

[2021-12-21 18:00] memsharded commented on #10220
Adopting CMake doesnt really necessarily mean to do a single build of the project + vendored poppler and fontforge. You might adopt CMake for the builds, but still have separated packages (and connect them via CMake find_package() for example)

In the best case I could export the internal headers into something like somewhere/include/poppler/internal which can then be added to the include path.

Y

[2021-12-21 18:07] SpaceIm commented on #10224
What about `<name>_LIBRARIES` and `<name>_INCLUDE_DIRS`? They were available in `cmake_find_package` but I don't see these variables in Find files generated by CMakeDeps when `cmake_find_mode` is `both`.
It's important for proper emulation of official Find files.

[2021-12-21 18:08] memsharded commented on #10222
This is one of the things that I was interested in. In Conan 2.0, there are already mechanisms to not propagate the dependencies of swig to the consumers. In this case, it will be able to generate only the swig properties sheet, without any other dependency and it will work. That is assuming you are using only the executable, and there is not any kind of swig.lib library to link with, in that case

[2021-12-21 23:52] andiwand commented on #10220
@memsharded I just successfully built `pdf2htmlEX` with conan :tada:

I took your approach and separated the builds into their own packages. I modifies the CMakeLists of `pdf2htmlEX` to work correctly instead of copying the files for now.

For poppler and fontforge I just used `copy` in `package` to grad all the "private" header files and add them to the package.

At the end I had to fight `glib`

[2021-12-22 00:20] memsharded commented on #10220
So happy to hear that! 🎉 😃

Yes, but at least it might be easier to approach this one dependency at a time. The recipes from ConanCenter are using the previous integrations, but the future ones, like ``CMakeToolchain``, that will be the ones in 2.0, contains some better built-in integration for Android, for example, and the idea is that it also does for iOS. Might be worth keeping an eye on it.

I

[2021-12-22 08:29] sboehmann opened #10225 "[question] How to prevent dependencies from being propagated?"
I have a recipe with a number of dependencies. Dependent projects now naturally link against these dependencies. But in this particular case I don't want that. Not even if someone uses `CONAN_LIBS` or the files created by a Conan generator.

In the `package_info` I have already set `self.cpp_info.libs = []` to not propagate the libraries of this recipe.
But how can I additionally also remove all d

[2021-12-22 09:37] franramirez688 commented on #10225
~Perhaps, what you need is to declare them as `build_requires`. Have a look at this section from the Conan docs: https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=build_requires~

Sorry, I just read your case again and my previous comment is not the solution. Using the `build_requires` for requirements that you don't want to propagate is not recommended at all. That mechanism

[2021-12-22 11:02] SpaceIm commented on #10225
You can eventually play with `private` keyword, but sparingly: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#requires

[2021-12-22 11:27] franramirez688 commented on #10225
By the way, this problem will be solved in Conan 2.x. If you want more information or you would like to start playing with it, you can check this thread https://github.com/conan-io/tribe/pull/26

[2021-12-22 11:47] tapia commented on #10190
I just reproduced your issue. It seems like an Artifactory bug. I'll open an internal issue with them and come back to you with their response.

[2021-12-22 12:26] franramirez688 opened #10226 "[feature][PkgConfigDeps] Warn duplicated `*.pc` names (using `pkg_config_name`)"
Using the new generator `PkgConfigDeps` and `set_property("pkg_config_name", "my_pc_name")` we could overwrite another PC file with the same name even talking about the root cpp_info vs components.

For instance:

[code]
The PC file created would be only one `superlib.pc` and we would be losing important information.

In my opinion, the solution could be simply to warn the user about the `pkg_conf

[2021-12-22 20:53] evandrocoan opened #10228 "[question] How to force `def source(self)` to run again?"
I am editing the recipe directly on `~/.conan/data/somelib/1.0.21/channel/stable/export/conanfile.py`
[code]
I am fixing a broken package, but after downloading it (completion of the `source()` step), the configure step fails with `./configure: No such file or directory`. Then, I would like to run the `os.system('ls -la')` on the source step to see where the files are going. But now I edited my re

[2021-12-23 00:18] memsharded commented on #10228
Hi @evandrocoan

Recipes cannot be modified on the cache. The cache is read-only, and modifying files there is undefined behavior. Please avoid doing that.

The ``source()`` method is designed to run just once, and once the "source" folder is in the cache, it will never be run again. The only way to force the re-download would be removing the package, so please try to remove the package from the c

[2021-12-23 10:03] petermbauer commented on #9762
I think we would have the same problem when using `revision_mode=hash`: As we are using the `scm` attribute in our recipes, the Git commit hash is added to the conanfile.py during the export. So the package revision will also be different since the conanfile.py is different which again results in a different package revision on every Jenkins Node.

[2021-12-23 11:59] franramirez688 commented on #10223
Hi @andiwand

I think what you need are the [packages in editable mode](https://docs.conan.io/en/latest/developing_packages/editable_packages.html) so you'll be able to work with any of your dependencies from the source.
Please, have a look at [this video](https://www.youtube.com/watch?v=VzUJQw89U7o&t=2487s&ab_channel=ItalianCppCommunity) as well because it explains more about this topic.
Let me k

[2021-12-23 13:35] SpaceIm opened #10229 "[feature] CMakeDeps generator: merge cpp_info of different recipes if common `cmake_file_name`"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Sometimes, we want to split components of a project in several recipes while the all project shares a unique CMake config file. conan is not robust to this approach, since `CMakeDeps` generator will override the generated config files to keep at the end information of only one recipe.

[2021-12-23 17:10] franramirez688 commented on #10188
Hi @klausholstjacobsen

I think it could be coming from running the command without passing both profiles: `build` and `host`.
Did you run the command with the parameters `conan .......... -pr profile.armhf-gcc8 -pr:b profile.amd64-gcc7`?

In my case, I ran your previous `conanfile.py` like:

[code]
Definitely, yes, it's not an elegant way to show it so I was wondering if this happened on your sid

[2021-12-23 22:03] rconde01 opened #10231 "[feature] Add timeout waiting for lockfile"
You may be doing an operation which needs to get a lock. If it can't get one it will wait and print a message. In automation, you probably don't want to wait forever and normally is a sign of something wrong. So it would be nice to be able to specify a timeout to wait for a package lock. An environment variable would be ok here. e.g `CONAN_LOCK_WAIT_TIMEOUT`

- [ X] I've read the [CONTRIBUTING gui

[2021-12-25 22:17] andiwand commented on #10223
thank you @franramirez688 - sounds cool I will check it out!

[2021-12-27 11:24] #9875 closed, assigned to fanStefan

[2021-12-27 15:26] franramirez688 commented on #10218
Hi @egnor

Definitely, you're right, this behavior should be documented there. Talking about it's a bug or not, I tend to say it's not because it's working fine if you use correctly the Conan option `shared`, isn't it? But we need to explain it in Conan docs for sure.

By the way, have a look at the new toolchains that we're promoting to be used: https://docs.conan.io/en/latest/reference/conanfile

[2021-12-27 22:50] memsharded commented on #10229
I am afraid this would add too much complexity, for a corner use case that has other potential approaches.
The complexity of ``CMakeDeps`` has very quickly become very high, just trying to address all the particular issues of open source projects for ConanCenter exclusively (not for user packages). Even if projects like Boost or Qt were modularized in Conan (ConanCenter will probably only allow it

[2021-12-27 23:03] memsharded commented on #10231
We have considered this, but there are 2 major issues:

- The time in which a C++ package can be building is simply too high. 20-30mins or even 1 hr happens frequently. 5-10 minutes will be very usual. Those times are basically untractable from a UX point of view, no timeout will help a user waiting for a lock. For automation in CI, it is typically possible to put a limit on jobs, so they are auto

[2021-12-28 06:31] jirayupiwon7 commented on #3334
android {
    // Use the following syntax to access properties you defined at the project level:
    // rootProject.ext.property_name
    compileSdkVersion rootProject.ext.compileSdkVersion
    ...
}
...
dependencies {
    implementation "com.android.support:appcompat-v7:${rootProject.ext.supportLibVersion}"
    ...
}

[2021-12-28 07:36] lasote commented on #10229
I totally agree with @memsharded. The CMakeDeps is already at the limit to be maintainable and we cannot add this kind of corner case that I'm sure will introduce bugs.

[2021-12-28 08:38] #10223 closed, assigned to nobody

[2021-12-28 08:46] danimtb opened #10233 "[test] [2.0] Validate listing of packages in remote generated with Conan 2.0"
When Conan 2.0 is available, users may want to try to generate new packages (new pkg ids) and upload them to an existing remote with packages of Conan 1.X that are already there (a scenario that is likely to happen in ConanCenter)

We should verify that Conan 1.X is able to list or ignore packages created with 2.0 without issue and maybe it is helpful that the client 1.X is able to identify and ma

[2021-12-28 09:23] memsharded opened #10234 "Improve PremakeDeps and add tests"
Hi @Enhex

Yes, the priority is making sure whatever is in the codebase correctly works, before adding more functionality. Then, please, do not add ``PremakeToolchain`` until tests have been added. Same for the "include all" functionality or file (as the addition in Premake is explicit, it might be everything in the same file).

So lets focus on tests first then. I can setup a test for you in next

[2021-12-28 10:14] #10224 closed, assigned to nobody

[2021-12-28 10:29] lasote commented on #9724
Implemented at #10178. It will be released on 1.44

[2021-12-28 10:29] #9724 closed, assigned to lasote

[2021-12-28 11:00] photex opened #10236 "[bug] BazelDeps doesn't support Windows"
Currently the generator for BazelDeps assumes a Posix style environment.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: msvc 2019 / 2022
  * Conan version: 1.43.2
  * Python version: 3.?

### Steps to reproduce (Include if Applicable)

Create a simple conanfile.txt that uses the BazelDeps generator on Windows.

Early att

[2021-12-28 13:17] memsharded commented on #9880
I am trying to reproduce this, this is the test I have so far:

[code]
Unfortunately, I don't see duplicated items in the ``self.info.requires`` of the packages. Could you please check this and elaborate a bit more how you are seeing them? Any help to try to reproduce this? Thanks!

[2021-12-28 14:38] burgerkiller79 commented on #9880
Thanks for looking into this. I will try to reproduce the error with your test code and modify it accordingly.

[2021-12-28 15:38] lasote opened #10237 "[feature] [2.0] Explicit test package reference only"
When develop (1.44) is merged:

- Remove test_type
- Remove automatic injection of the reference being tested
- Change the "conan new" templates to use the new variable `self. tested_reference_str`

[2021-12-28 16:05] ngrodzitski opened #10238 "[question] How to package library with protobuf-generated code, given a generator is also a package"
What would be a good approach to package protobuf-generated code?

I want to create a package for library which would also contain *.pb.h header files and associated object-files (*.pb.cc) would be a part of my lib. And what bothers me is that client (the one who uses a package as a dependency) might use different version of protobuf. And I want to make sure that library is get compiled on the hos

[2021-12-28 19:33] memsharded commented on #10237
I guess you mean the automatic injection of the ``require`` being tested, and keep the injection of the reference being tested

[2021-12-28 20:07] SpaceIm opened #10239 "[bug] CMakeToolchain: CMAKE_MSVC_RUNTIME_LIBRARY needs policy CMP0091 NEW"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.43.0
  * Python version: the one in CI of CCI

### Steps to reproduce (Include if Applicable)

- Visual Studio profile with static runtime
- generate conan toolchain file
- call cmake (cmake >= 3.15) with this toolchain file and a CMake

[2021-12-28 20:34] memsharded commented on #10239
Would it be enough with:

[code]

Can the policy be set always, without any issue?

[2021-12-28 20:45] memsharded commented on #10238
Hi @ngrodzitski

Not sure if I fully understand your scenario, so please let me throw some ideas in case it helps, but let me know if otherwise.

I think the concept of the ``package_id`` and how dependencies affect the current package_id and binary is what could make sense here. If you have a given package that depends on ``protobuf`` library package, the default is already to request a new binar

[2021-12-29 00:53] SpaceIm commented on #10239
I would say yes.

You can still think about `CMakeLists` manipulating `CMAKE_C_FLAGS` and `CMAKE_CXX_FLAGS` to replace MT/MD by MT/MD and expecting some policy, but anyway when you use conan you shouldn't care of these kind of logic (I mean that whether this logic succeeds or silently fails shouldn't matter because conan user expects runtime from profile to be honored and it will be guaranteed by

[2021-12-29 06:40] alexaagithuber opened #10242 "Configure firewall proxy to Conan build system"
I am trying to compile a SDK released on GitHub to integrate Alexa skills. GitHub link of the SDK is: https://github.com/alexa/alexa-auto-sdk

Readme says that SDK can be compiled using their builder tool which is based on Conan build system. Since my system works under a firewall, I will have to provide proxy config to bypass it for the builder tool to work.

I tried adding in ~/.conan/.conan.con

[2021-12-29 07:34] ngrodzitski commented on #10238
Hi @memsharded
Let's say my XXX package uses protobuf and XXX/1.2.3 sources are fixed. XXX/1.2.3 works with protobuf 2.6 and 3.17, the sources are the same. Then I want to use XXX/1.2.3 in project YYY and ZZZ, YYY uses protobuf 2.6 and ZZZ uses protobuf  3.17. Both YYY and ZZZ define protobuf version to be used explicitly.
As I understand from you response and from [this page](https://docs.conan.i

[2021-12-29 09:30] lasote commented on #10242
Hi, yes, the way to configure the proxies is at the [conan.conf at ~/.conan](https://docs.conan.io/en/latest/reference/config_files/conan.conf.html#proxies)

Could you paste here some traces to see at which point is the Alexa build failing?

[2021-12-29 09:40] memsharded commented on #10239
Yes, if you are using the ``conan_toolchain.cmake`` and you don't want this, probably you want to deactivate the respective block in ``CMakeToolchain``

[2021-12-29 10:10] alexaagithuber commented on #10242
Following is the error thrown:

ERROR: HTTPSConnectionPool(host='center.conan.io', port=443): Max retries exceeded with url: /v1/ping (Caused by ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 407 Proxy Authentication Required')))

[2021-12-29 10:12] JVpltr opened #10243 "Build Failed for aws-c-sdkutils"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version:gcc 9.3
  * Conan version: 1.43.2
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)
conan install aws-sdk-cpp/1.9.100@ --build=missing

### Logs (Executed commands with output) (Include/Attach if Applicable)

`Configuration:
[settings]
arch=x86_64
arch_

[2021-12-29 10:13] alexaagithuber commented on #10242
And I have specified the proxy config under [proxies] in ~/.conan/conan.conf.
One interesting thing is, conan inspect poco/1.9.4 works and prints the inspection log. Since conan inspect works, I am sure my proxy config is correct.

[2021-12-29 10:21] lasote commented on #10242
I would need more lines to see the context of the build process:

[2021-12-29 14:00] evandrocoan commented on #10228
I was searching and I found this `conan source . --source-folder=tmp/source`: https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html

It indeed downloads the package each time I call it (with a different/or nonexistent directory), so it should be the solution as this is what I am trying to do:

[2021-12-29 14:00] #10228 closed, assigned to nobody

[2021-12-29 16:44] memsharded commented on #10243
This could be an issue of the recipe, so maybe @uilianries and @SSE4 can have a look at it. If so, we will move it to ``conan-center-index`` repo, as it wouldn't be a Conan client issue.

[2021-12-29 23:53] memsharded commented on #10237
Closed by #10240

[2021-12-29 23:53] #10237 closed, assigned to memsharded

[2021-12-30 06:25] alexaagithuber commented on #10242
There are no much logs printed other than the above. I'm not quite sure on the information that might help you to further triage this issue.
This issue is easily reproducible where you can git clone the Alexa SDK from https://github.com/alexa/alexa-auto-sdk and run the below command:
.builder/build.py -p linux --arch=x86_64

Note: Your system must have proxy enabled for Conan to hit this issue.

[2021-12-30 07:27] iiknd opened #10245 "[question] Conan 2.0 not working with old released packages?"
Hi,

The documentation here: https://docs.conan.io/en/latest/conan_v2.html
mentions e.g. that:

Does this mean that old conan packages (created during the 1.x era) can not be used anymore when people start using Conan 2.0?
Will the 2.x conan client throw an error (invalid import etc.) when running e.g. "conan search"/"conan info" from Artifactory?

If this is the case then consider  the following

[2021-12-30 09:05] memsharded commented on #10245
Hi @iiknd

You can find more details here: https://github.com/conan-io/tribe/blob/main/design/013-migration-path.md

In short:

- There is a syntax in Conan 1.X latest that will be compatible with 2.0, but recipes should be updated in 1.X to use that latest compatible syntax, for example legacy generators will be removed, and only integrations from ``from conan.tools.xxxx`` will survive
- Conan 2.

[2021-12-30 10:31] lasote commented on #10239
@SpaceIm Can a `cmake_minimum_required(VERSION 3.15)` be part of the toolchain file? I would say no, but not sure looking at the docs.

[2021-12-30 10:53] memsharded commented on #10239
It seems it shouldn't?, as this could change the behavior of users CMakeLists.txt regarding many other policies, not just this one.

[2021-12-30 10:56] memsharded commented on #10228
Oh, yes, completely, sorry I didn't realize that you were not aware of the local flow. Indeed, touching things in the cache is not allowed, but it shouldn't be necessary, because for development, the local flow is better. Specially now that we are adding the ``layout()`` functionality to define the location of things in the local developer folder, that helps a lot to simplify things. Furthermore,

[2021-12-30 11:12] nilsnolde opened #10246 "[question] platform-independent include_dir for conan packages"
I'm sure this is a noob question, but for the life of me I couldn't find a ready answer..

I build python bindings to a c++ project, which has boost installed via conan. when I build & install that c++ project to then build the bindings with `setup.py` pip can't find the boost headers by default of course. I'll need to tell it where to find the boost include dir. which is easy enough manually, but

[2021-12-30 11:19] memsharded commented on #10246
Hi @nilsnolde

The way to get information for consumers is via generators and the ``generate()`` method.
There are built-in generators like ``-g json`` that will dump a json file, probably with a bunch of information, you might try it.

You can also try adding something like this in your ``conanfile.py``:

[code]

This will be automatically called and executed when running ``conan install .``

[2021-12-30 11:47] nilsnolde commented on #10246
thanks a ton for the quick response @memsharded , as always!

hm, not sure how that makes me find out the conan include dir for libs when they were installed by dependencies of the project I'm working with. if you have the patience, I'll describe a little more:

this is the project: https://github.com/gis-ops/valhalla-py/blob/master/setup.py. it's wrapping valhalla (a [c++ library](https://github.

[2021-12-30 11:55] klausholstjacobsen commented on #10188
Yes, I always use the build and host profile approach.
I think the problem came from having "settings_build" instead of "settings"

Rgds
Klaus

[2021-12-30 11:57] lasote commented on #10239
On the other hand, `CMAKE_MSVC_RUNTIME_LIBRARY` works since 3.15, so... is the toolchain working with <3.15?

[2021-12-30 12:08] klausholstjacobsen opened #10247 "Problems making recipe for compiling bluez work properly"
I am trying to compile bluz 5.62.
I have made this recipe:

[code]

The configure step fails with:
[code]
But I do have glib in the requirements, and I can see from the output that glib is downloaded and built before running configure on bluez.
Printing `autotools.vars` produces this (I have inserted newlines for readability):
[code]
I see that CPPFLAGS is populated with the proper include paths f

[2021-12-30 12:46] lasote opened #10248 "[feature] Unify patterns"
Review all application to see where Conan accept inputs with patterns and unify the behavior. Some of the "inconsistencies" detected right now:

- `--build`: Accepts * at any point of the string matching the reference, also the NAME, also the NAME/VERSION (without using *)
- `-o`: Accepts literal  "*" meaning "all", also NAME but not NAME/VERSION. You cannot use `foo*` or similar
- `-s`: Accepts *

[2021-12-30 12:46] memsharded commented on #10239
No, cmake version should be > 3.15 and the toolchain will only work for >3.15.

But if you compile a project with CMakeLists that declares ``cmake_minimum_required(... 3.10)``, it will not work, even if you have cmake 3.15 running, and the project should work with it, because the with that ``cmake_minimum_required()`` the policy to listen to ``CMAKE_MSVC_RUNTIME_LIBRARY`` is not activated...

[2021-12-30 13:04] memsharded commented on #10246
Ok, I think there are a few things here:

- You have a ``find_package(ZLib)`` above that code, that means that your CMakeLists will probably try to locate ZLib in your system, and will find it.
- If you later depend on Conan Boost package, it will bring a transitive dependency to ZLib Conan package, having 2 Zlibs there, might be problematic. You typically want to do the Installation of Conan pack

[2021-12-30 13:06] franramirez688 commented on #9895
In the end, this issue does not make sense for clang but `clang-cl` (that's another issue because it's managed in a different way). The question is if we should get rid of this `compiler.runtime` setting for Conan 2.0 because it is not being used so far.

[2021-12-30 13:06] #9895 closed, assigned to franramirez688

[2021-12-30 13:08] memsharded commented on #10247
Hi @klausholstjacobsen

I am not sure why the consumer script is not detecting it. Apparently it is in the flags, I don't think that CXXFLAGS or CFLAGS should be an issue. So it might be necessary to understand a bit the check that ``bluez`` autotools scripts are implementing. Maybe it is hardcoded to find it elsewhere?

Also, as a hint, I would recommend keeping an eye on the new integrations, in

[2021-12-30 13:22] memsharded commented on #10238
Yes, exactly. The evidence is in the ``conan search xxx/1.2.3@`` that will list your binaries. You should see 2 different binaries, with 2 different package_ids, because they have different dependencies, even if the rest of the settings and options are the same.

Not sure if I get it right, but in case you don't know it, you can also set the global ``default_package_id_mode`` in configuration. If

[2021-12-30 13:26] nilsnolde commented on #10246
right, very good point about order of configuration in the cmakelists.txt, thanks!

the problem is not within cmake, it works quite well installing the boost header libraries I need to build the c++ project. the problem is that the python project, which wraps this c++ project, has no conan setup itself. but in order for the `setup.py` to build the `.pyd` or `.so` python extension, it still does ne

[2021-12-30 13:28] franramirez688 commented on #9537
Hi @arttet

After a long time, I have been figuring out a bit more about this case because I realized that `clang` does not manage runtime flags like `clang-cl` so the question is how did it solve the issue to put `-MT -fsanitize=address`? the answer is simple, it didn't. Here, we go:

* `-MT <arg> -> Specify name of main file output in depfile` ([doc here](https://clang.llvm.org/docs/ClangCommand

[2021-12-30 13:50] nilsnolde commented on #10246
basically it comes down to: can conan be used as a generic package manager which installs libraries in generic locations (at least not machine/version dependent), so that projects, which are not conan-based/not using conan, can also use these libraries?

or do all projects which want to use libraries from conan, need to have a conan setup?

and even if I included conan somehow in the setup of the

[2021-12-30 14:11] memsharded commented on #10246
Hi @nilsnolde

Not in generic, arbitrary, locations. But the location of the packages is well known, and can be provided when "conan install" in different and flexible ways, from generating "boost-config.cmake" with the right location, or with a custom ``generate()`` method you can put in your ``conanfile.py`` (just replace your conanfile.txt with a conanfile.py containing this code), and that you

[2021-12-30 21:50] gabyx commented on #5664
@blackliner I think that kind of thing would be nice to have, but first of all if one uses CMake, the whole Cmake install for your Conan package A should use RPATHs e.g.

Package A/
  - bin
    - `exe` (needs A.so)
  - lib/
    - `A.so` (needs B.so)
    - `B.so` (needs `fmt.so`, `libstdc++.so`)
  - external/lib
    - `fmt.so`
    - `libstdc++.so`

So in the above case using the following RPATHS in

[2021-12-30 22:14] klausholstjacobsen commented on #10247
Looked at the configure script. It uses pkg-config:
[code]
Looking at the glib/2.70.1 recipe I see it trying to set-up a lot of stuff for pkg-config. But as I am no expert I cannot determine the correctness of what it does.

Any suggestions as to how I can dig deeper into the matter?
Should pkg-config work out of the box with conan and autotools?

Rgds
Klaus

[2021-12-30 22:22] klausholstjacobsen commented on #10247
aarghhhhhhhhhhhhhh, solved it:
[code]

Thanks for your quick responses!

[2021-12-30 22:22] #10247 closed, assigned to nobody

[2021-12-30 22:24] memsharded commented on #10247
Great! Happy to hear that you found the issue!

You might also want to keep an eye on the ``PkgConfigDeps`` generator too, from the new ones I pointed above.

[2021-12-31 03:37] bigcat26 opened #10251 "[feature] 'copy' method add 'recursive' parameter"
I need to package some header files from the source directory but I did'nt want any header files from sub-directories of that directory. It would be nice to add a 'recursive' paramater with default value 'true' to 'copy' method.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-12-31 07:05] franramirez688 opened #10252 "[feature] Improve `clang-cl` support"
Improve standalone `clang-cl` (and even `ClangCL` VS toolset) support:

* Review and improve runtime management.
* Review C/CXX flags added.
* Add more functional tests.

Related issues: https://github.com/conan-io/conan/issues/9434 https://github.com/conan-io/conan/issues/9537

[2021-12-31 08:23] Arenoros commented on #1606
I have a reason why this variable must be set.
I use the package winflexbison, and its targets extension for vs which requires an executable from this package.
Disabling this option prevents us from embedding the build dependencies into VS the same way we do for cmake

[2021-12-31 08:35] lasote commented on #10239
But, is `cmake_minimum_required(... 3.10)` at the project, "correct" once you use the toolchain to build?

[2021-12-31 08:40] memsharded commented on #1606
Hi @Arenoros

This issue is very old, like 4 years ago. We have new, better generators for Visual, like ``MSBuildDeps`` and ``MSBuildToolchain``, which will survive in Conan 2.0 (already in alpha), and ``msbuild`` will be removed. I encourage having a look, and if there is something you would like to comment or report on them, please open a new issue. Thanks!

[2021-12-31 08:43] memsharded commented on #10251
Hi @bigcat26

Is this for the ``package()`` method? You know that you can also do a direct ``shutil.copyxxxx`` (or any other Python copy function), using the ``self.build_folder`` and ``self.package_folder`` as source and target? If you are using CMake, using ``cmake.install()`` can also solve this for you.

[2021-12-31 08:58] gabyx opened #10253 "[feature] Provide macOs packages to build with @rpath in install names"
The rather old answer describes the problem quite well: https://github.com/conan-io/conan/issues/1238#issuecomment-313683525

On macOS it would help a lot if all packages in ConanCenter have an option (if not defaulted…) to have install names prepended with @rpath. This is already available for conan builds but probably in a lot of packages not activated etc? This would align it better to Linux an

[2021-12-31 09:21] SpaceIm commented on #10239
A project shouldn't care of min CMake version of a toolchain.

[2021-12-31 09:25] lasote commented on #10239
Not the project, but the toolchain HAS a minimum required version.

[2021-12-31 09:26] memsharded commented on #10253
I am not sure about the request, you mean adding rpaths always?

In the new integrations, we are trying to respect as much as possible what the users build scripts are doing. We map only the minimum information from the Conan settings, like defining the architecture, or if the library is shared or static. But things like rpaths seems like something Conan should not change? The current CMake defaul

[2021-12-31 09:45] SpaceIm commented on #10239
I would say conan toolchain shouldn't set a minimum version, only POLICY it relies on. If a user toolchain set a minimum version, it's also fine, POLICY of conan toolchain will ensure features it relies on.

[2021-12-31 09:53] SpaceIm commented on #10239
oh, I missed something: conan toolchain doesn't check CMAKE_VERSION, maybe it should like CMakeDeps.

[2021-12-31 10:55] danimtb commented on #10243
I am transferring this issue to conan-center-index as it is more related to the packages there than to the Conan client itself

[2021-12-31 12:40] gabyx commented on #10253
Ah so your saying, any package in ConanCenter (e.g fmt::fmt) which has naked install paths  on macOS is the CMake default behavior, because MACOSX_RPATH is default to off?

I think with naked install_names which then the loader does not consider the RPATHS mechanism as described in the post above, seems to be simplifiying to much. With naked install_names the behavior is similar to Windows (which

[2021-12-31 17:27] michaelplatingsarm opened #10256 "[question] Capturing revisions from multiple source repos"
The [SCM](https://docs.conan.io/en/1.44/reference/conanfile/attributes.html#scm) feature by design can only be used with the repo containing the recipe. My team would like something similar but we use multiple repos, some quite large.

#8760 advises:

Hard-coding isn't an option since our sources are updated many times each hour. I think we have to roll our own multi-scm feature, either by (a) by

[2021-12-31 17:31] paulocoutinhox commented on #9448
Hi.

Any news about it?

Thanks.

[2021-12-31 17:40] bigcat26 commented on #10251
Hi @memsharded

Good, I'll have a try.

[2021-12-31 17:40] #10251 closed, assigned to nobody

[2022-01-01 16:54] blackliner commented on #5664
@gabyx agree, using `$ORIGIN` based `RPATH`s is the best way to do it. Unfortunately, not all open-source library give too much about correct CMake 🙁

To really have a relocatable package, the customer might not want to use any conan commands at all. I come from the automotive/embedded world, where we can't expect our customers to install and run conan. We need to provide ready-to-eat packages, wi

[2022-01-01 20:01] emmenlau commented on #5664
The issue with RPATH is indeed relevant. However I found it moderately easy to solve in almost all build systems that I tried (at least automake and cmake). Therefore I want to stress again that this issue is for the bigger picture, including but not limited to library search paths.

It is, for example, currently not possible to adjust absolute library directories of `pkgconfig` files at install t

[2022-01-02 12:30] gabyx commented on #10253
Ah so your saying, any package in ConanCenter (e.g fmt::fmt) which has naked install paths  on macOS is the CMake default behavior, because MACOSX_RPATH is default to off?

I think with naked install_names which then the loader does not consider the RPATHS mechanism as described in the post above, seems to be simplifiying to much. With naked install_names the behavior is similar to Windows (which

[2022-01-02 13:02] gabyx commented on #5664
Regarding the RPATH troubles:

as @memsharded already stated, Conan does not enforce how CMake (as an example) is used. So any library which creates a cmake install folder which is not selfcontaining and using wrong (absolute paths etc...) RPATHs in its executables and libraries (e.g. also the missing `@rpath` for install names in `.dylib` files on macOS poses problems:
#10253) is entierly the pro