[2020-10-20 18:29] memsharded commented on #7914
Hi @kobi-ca

No, I am afraid it is not possible. There is metadata, besides the recipe before export time that is needed to consume a package. As you can guess, just the user/channel part is defined at package creation time, and it is impossible to map that to a git repo. Not to say versions, and how package binaries are resolved, etc. So Conan works in this regard like Maven, it requires a server

[2020-10-20 18:31] kobi-ca commented on #7914
Hi @memsharded . thanks for your reply. This is what I thought. it makes sense.
thanks a lot!
Kobi

[2020-10-20 18:31] #7914 closed, assigned to memsharded

[2020-10-20 21:18] sdmg15 commented on #6802
Hello @memsharded  and @jgsogo  I would like to work on this issue :)

[2020-10-20 21:19] sdmg15 commented on #7152
Hello, is @hbobenicio still interested in working on this? Or I can take it over?

[2020-10-20 22:04] ohanar commented on #7912
I would broaden this more generally to build helpers as well. When rolling our own custom support for the intel compiler, I managed this by introducing a conan package that contained a few subclasses of various build helpers that were used pervasively throughout our recipes via python_requires. This wasn't ideal as it was intrusive to the recipes when all I really wanted to do was extend support t

[2020-10-20 22:22] memsharded commented on #5737
Sorry but I dont understand the proposal yet.
Let's say that users have a ``qcc_toolchain.cmake`` that contains something like this, and that they would ideally want to maintain as-is:

[code]
Lets assume, for the sake of simplicity that this file is in the source repo, together with the conanfile.py recipe and the source code.
What would be the proposal for integrating it?
The "include" one would

[2020-10-20 22:37] jgsogo commented on #5737
The template will look like (let's name this file `qcc_toolchain.cmake`):

[code]

And the recipe should consider this template file:

[code]

---

One advantage (sometimes it is important): the user can choose where to put those `set` definitions, maybe the hardcoded place in your proposal is not the place inside the file where they should be included.

The user might want to `set` those variable

[2020-10-20 22:39] jgsogo commented on #6802
You are welcome, @sdmg15 ! Waiting for the pull-request, let us know if you need any help.

Thanks!

[2020-10-20 22:50] memsharded commented on #5737
Ok, now it is more clear, thanks. The key is that it is ``tc.template_name = "qcc_toolchain.cmake"``, and not ``tc.include()``.

I guess the users could do an extra ``include("myreal_qcc_toolchain.cmake")`` to include a pure cmake toolchain file, maybe provided by a vendor or  just something they don't want to modify.

[2020-10-20 22:54] memsharded commented on #7152
H @hbobenicio @sdmg15

Sorry for not responding @hbobenicio earlier. We got tons of notifications and sometimes they are buried in the backlog.

I would suggest, for whoever will do this, that separate the feature from the refactor, then do 2 Pull Request:

- One PR to move to jinja2 templates
- Another PR for the "C only" feature.

They could be in any order, not critical.

[2020-10-21 00:59] solvingj commented on #5737
I agree.  jinja templates are very powerful and flexible and they can probably solve some difficult cases which will come up (or have already).  At the same time, there should still be simple support for the simple case of `include("myreal_qcc_toolchain.cmake")` like @memsharded showed.
[code]

[2020-10-21 01:17] hbobenicio commented on #7152
Sorry guys. I've got really busy on work and on personal things so I couldn't follow this up.

@memsharded thanks for the feedback. agreed.

@sdmg15 feel free to handle it. Thanks!

[2020-10-21 01:30] kobi-ca commented on #6453
hitting the exact same requirements trying to build gtest with local tarball :)

[2020-10-21 07:20] memsharded commented on #7152
Thanks for the follow up @hbobenicio !

Good, assigned to you @sdmg15

[2020-10-21 07:25] memsharded commented on #6453
Regarding the download of big files from server, repeated times, now there is the file download cache, which can work across multiple Conan homes, and that will avoid downloading the same file multiple times from external servers: https://docs.conan.io/en/latest/configuration/download_cache.html

Not saying that this is a solution to the different protocols, but maybe it can alleviate some pain to

[2020-10-21 08:48] jgsogo commented on #5737
Ok, now back to my original question: what is the use case we want to cover? what are the use-cases we cannot cover?

The Conan toolchain assigns values to _every_ CMake flag trying to create an actual toolchain, Conan configures the compiler and add all the flags needed according to the settings. Then we will allow the user to _include_ another file before (or after? please, let me know where to

[2020-10-21 11:27] solvingj commented on #5737
@jgsogo There are simple cases where users want to include build system files with arbitrary variables that do not conflict with anything the Conan toolchain would set. In many of those cases, and the `include` or `import` location might be irrelevant. With that said, it's clear that you've thought about this a lot, so I'll defer to your judgement on the feature moving forward.

[2020-10-21 11:33] #7813 closed, assigned to solvingj

[2020-10-21 11:52] SSE4 commented on #5737
lemme summarize a bit how I see it.
1. base scenario - native compilation: just use `generic toolchain`. (generic toolchain defines common variables which are platform agnostic and always needed)
2. cross-building (e.g. iOS): `platform toolchain` inherits from `generic toolchain`. (platform toolchain defines variables which are specific to the target platform)
3. cross-building with base vendor to

[2020-10-21 12:18] memsharded commented on #5737
@SSE4

A bit confusing too, as you are mixing ``qcc`` and ``android`` toolchian in the example. Do you mean that ``tc.base_toolchain = "qcc_toolchain.cmake"`` will generate automatically some ``include("qcc_toolchain.cmake")`` inside generated **conan_toolchain.cmake**?

[2020-10-21 12:34] SSE4 commented on #5737
@memsharded yes, exactly, it will generate include directive for the base
vendor toolchain needed (it could be android , emscripten, qnx or something
else)

On Wed, 21 Oct 2020 at 14:18, James <notifications@github.com> wrote:

[2020-10-21 15:28] solvingj commented on #5737
This feature was becoming very complex and it caused me to go back to first-principles and reconsider what we're trying to achieve.  Had significant realization, here's the braindump:

- toolchains (and generators) currently have pretty "closed" scope in terms of user-control
- we start out exposing preprocessor defs and build system variables via the class/API to users
- everyone seems to agree t

[2020-10-21 17:25] kohei306 opened #7918 "[feature] Adding Group ID and distribution policy to each conan package"
Let's say we have a central server such as Artifactory to upload conan packages from different development teams. Among the uploaded packages, there are some packages that are meant for only internal usages of the specific team A and A team does not want external teams to depend on them (because they are not designed to be used for external use cases etc). However, in current state, other teams ca

[2020-10-21 17:32] memsharded commented on #7918
Hi @rjhcnf

There are a couple of approaches you can use for this.

All packages can (and for your own use, should) define the "user/channel" part. So when a team A creates a package, they will do:

[code]

In Artifactory, the "user" part is the first part of the path, different security policies could be defined for them.

Also, if you have very strong separation of packages, then the recommended

[2020-10-21 18:48] gsemet commented on #4104
`conan inspect -a alias` does not work with `--json`, the json is empty.

also, `conan inspect`  does not print anything is the ref is an alias (while `-a alias` outputs the target reference)

[2020-10-21 21:17] ohanar commented on #7868
Clang has a different cross compilation model compared to gcc. Generally speaking, most clang binaries that linux distributions provide, or are provided at llvm.org, can produce binaries for all of the architectures and operating systems clang supports. Because of this, you can't simply point to a binary and expect clang to magically intuit the target/host you want for your binaries, you have to d

[2020-10-21 23:50] maingig opened #7921 "[bug] ERROR: Generator cmake_find_package(file:None) failed"
vsomeip/3.1.16.1@yoda/testing: ERROR: Generator cmake_find_package(file:None) failed
'list' object has no attribute 'replace'
ERROR: 'list' object has no attribute 'replace'

    def requirements(self):
        self.requires("boost/1.71.0@%s/%s" % (self.user, self.channel))
        if self.settings.os != "Android":
            self.requires("gtest/[>=1.8]@%s/%s" % (self.user, self.channel))

If I

[2020-10-22 07:13] rea-yseop commented on #7868
Thanks for the answer.
And yes, i realized that it was really hard to do. Even from Windows, a lot a third-party libraries are confused when the OS is Windows but the compiler is Clang.

[2020-10-22 07:31] memsharded commented on #7921
Hi @maingig

As a quick check, have you tried using the latest Conan 1.30 version? I recall some things might have been fixed.

Could you please try running again, but enabling first env-var ``CONAN_VERBOSE_TRACEBACK``, so we get some more detail (the traceback) of the error? Thanks!

[2020-10-22 07:47] danimtb commented on #7874
So, looking at the code, the only thing missing is the version of the dependency to be able to format the yaml file name?
https://github.com/conan-io/conan-center-index/pull/2097/files#diff-cc14160728d1ad321c1444ffad82615139181e681f4acb7dfd045a005cc8bd66R123

[2020-10-22 07:53] #7745 closed, assigned to memsharded

[2020-10-22 08:15] madebr commented on #7874
It's the version of the package itself that is being initialized too late. The options depend on the version.

I find my approach to adding dynamic options rather hacks (conan package tools don't support it). I was wondering whether there's a better way.

[2020-10-22 09:45] czoido commented on #7875
Hi @a4z,

I have opened a PR to fix this issue assigned to Conan 1.31: https://github.com/conan-io/conan/pull/7924

[2020-10-22 10:07] akalali commented on #7636
I found out, that DCMQI (the external project) generates a `DCMQITargets.cmake` file in the build-directory.
I have another project that uses DCMQI and if I compare both `DCMQITargets.cmake` files, I see that in the targets-file of this Conan project, the following is set:
[code]

whereas in the other project, the following is set:
[code]

Do you know where I have forgotten to define some include

[2020-10-22 10:22] a4z commented on #7875
Thanks, looks good!
Of course, I do not know what happens for cmake > 3.14 users, if they try to use the cmake-ios toolchain, but I think I am not interested to find out, they shall update cmake in this case , what makes sense.

[2020-10-22 11:03] boussaffawalid opened #7926 "[feature] new helper function tools.comment_lines_in_file"
Similar to `tools.replace_in_file()`, it would be very handy to add a helper function that comment or delete lines from a file.

Something like:
[code]

or
[code]

[2020-10-22 11:10] VladAdGad opened #7928 "[question] Empty CONAN_LIBS when use CONAN CENTER"
Hi! I found a strange relationship with repos and cannot solve it.
So. When I want to use boost or carch2 from the conan center repository my CONAN_LIBS is empty, still I can find in build forder some information about includes lib and root path.
If I change my conan.txt to using boost or catch2 from bintray jfrog repository everything works like a charm. I know there is a little different .py fil

[2020-10-22 12:20] memsharded commented on #7928
Hi @VladAdGad

Sorry, it is not very clear. If you can clearly explain the steps to reproduce:

- Include first the steps that work (I assume using ConanCenter packages). The exact command line that you are using, specifying the conanfiles that you are using as well
- Then include the steps that do not work, which packages are you using and how?

We need something to reproduce in order to know wha

[2020-10-22 13:22] akalali commented on #7636
Ok I tried something completely different:
I changed my conan-calls from
[code]
to
[code]

This created a `FindDCMTK.cmake` instead of the `DCMTKTargets.cmake` file.
This requires me to replace
[code]
in my `Superbuild.cmake` with
[code]

This did not work in the beginning so I had to manually `set(DCMTK_DIR ${CMAKE_BINARY_DIR})`.
(`set(CMAKE_PREFIX_PATH ${CMAKE_BINARY_DIR} ${CMAKE_PREFIX_PATH})`

[2020-10-22 16:10] jgsogo commented on #7912
It is a bit early as the architecture can (and should change) in future releases, so these are just speculations, but it is great to know about expectations and pros/cons we might not think ourselves alone.

---

I see different extensibility points:

## Providing Python source code:
 * **python_requires**: this is straightforward and doesn't require anything on our side, nothing Conan can affect:

[2020-10-22 16:56] maingig commented on #7921
[code]

[2020-10-22 17:07] memsharded commented on #7921
Hi @maingig

It seems for some reason, Conan is getting in the list of preprocessor definitions from the dependencies a list of lists, instead of a list values. It would be very useful to see the ``package_info()`` of your dependencies, there is one that might contain something unexpected. Maybe you can obtain the same error, installing that package (for that configuration) directly? Something lik

[2020-10-22 17:31] maingig commented on #7921
You are correct. It is this line in my boost conanfile.py
            self.cpp_info.defines.append(["__EXT_BSD", "__QNXNTO__", "_QNX_SOURCE"])
When I print cpp_info.defines, I get this:
['_GLIBCXX_USE_CXX11_ABI=1', ['__EXT_BSD', '__QNXNTO__', '_QNX_SOURCE']]

I should be using extend instead of append.
Sorry to bother you.  I'll make use of this tracing from now on.

[2020-10-22 17:40] memsharded commented on #7921
That is great!. Yes, you need to use ``defines.extend()`` instead, I guess everything will be fine then.

No worries, happy to help!

I guess we can close this issue now. Thanks for reporting and following up.

[2020-10-22 17:40] #7921 closed, assigned to memsharded

[2020-10-22 18:12] memsharded commented on #7912
The problem I see with this approach is this: I expect users wanting to do a small modification to our own toolchain files, because they want to add something here and there, and they would like to be able to code their logic in python. The approach with:

[code]

Means that in their python code in the "pyreq", the ``CoolToolchain`` is NOT a class that extends anything, it is also a factory functi

[2020-10-22 18:18] memsharded commented on #6527
I would say this is no longer necessary, from the docs:

That doesn't mean we shouldn't have a convention. Our codebase use so far xxxx_test.py. The truth is that in that way it is a bit less evident when tests are skipped because they don't match, but I think renaming all the files in the test suite is too much, isn't it?

[2020-10-22 18:19] uilianries commented on #6527
no problem with file names now, I think that was a limitation for older versions. The only limitation would be the method names, but now is fixed, so all good.

[2020-10-22 20:00] Knitschi commented on #7899
On the ubuntu-20.04 runner that is provided by Github almost all the package configurations seem to build fine. I guess I will install the same packages on my private build-client and hope that it fixes the problems.

`all this would tend to confirm that a lot of your problems could be caused by a concurrency issue.`

Does conan not allow running multiple instances at the same time?

[2020-10-23 05:11] klimkin opened #7931 "[feature] Address repeatable code in recipes to handle fPIC"
I see this boilerplate in almost all packages. Why not to incorporate the logic into the base class? Delete `fPIC` if option exists and:
* Windows OS
* `shared` option exists and set

[code]

Moved from https://github.com/conan-io/conan-center-index/issues/3297

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-10-23 05:32] iiknd commented on #7881
Hi @memsharded and thanks for the tip!

Am I looking the correct file here: https://github.com/conan-io/conan-center-index/blob/master/recipes/xorg/all/conanfile.py ?

So if I want to proxy a system lib per system lib version I could have something like this?

[code]

EDIT:

I found this also: https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#using-package-id-for-pack

[2020-10-23 07:54] jgsogo commented on #6527
I'm a huge fan of having `test_module/test_xxxxxx.py` naming convention (yes, also for the directories). It is easier for me to realize which files belong to the test suite and which ones don't. At least, for the `unittests`, where I try to have one file/folder for each file in the codebase, with exactly the same structure and names.

But I can agree with other convention, I've been creating `modu

[2020-10-23 09:57] #7875 closed, assigned to czoido

[2020-10-23 10:13] jgsogo commented on #7912
`CoolToolchain` can be a class or a factory function, as long as the _call_ to `CoolToolchainClass(self)` returns an object, it can be whatever the user wants it to be. Also, the implementation can inherit any of the classes we decide to document. One example using those different approaches:

 * it can be a class:
[code]

 * or it can be a function (with fallback to our factory):

[code]

[2020-10-23 11:06] memsharded commented on #6527
Ok, lets move the filenames to ``test_xxxx.py``, because it is more evident what is a test and what not (we have missed running tests in the past because they were not named correctly. Would you like to shoot a PR with those changes @uilianries ?

For the folders, I am not convinced, I need to play with the IDE to understand why.

[2020-10-23 12:34] #6802 closed, assigned to sdmg15

[2020-10-23 15:31] czoido commented on #7926
Hi @boussaffawalid,
Thanks a lot for the suggestion. If you have functions that are useful for you in many recipes, maybe you could use [Conan python requires](https://docs.conan.io/en/latest/extending/python_requires.html#python-requires) to reuse that code in your recipes.

Create the python requires:

[code]
[code]

Use it in your recipes:

[code]
Hope that helps

[2020-10-23 16:13] czoido commented on #7931
Hi @klimkin,
Thanks for the feedback. I think that idea is something that we could consider for Conan 2.0 although right now would break the current behaviour.

[2020-10-23 17:25] mhanitaw opened #7933 "[question] How to extend virtualenv-generator environment-variables from within a consumer"
The provider recipe provides a virtualenv-generator with the needed environment variables. If the consumer recipe requires a package that has environment variables, how can the consumer append these variables to the provided activate.sh ?
- Should he first source activate.sh of the provider than run its own virtual-env generator to get his own environment variables from his dependencies or there i

[2020-10-23 17:51] ohanar commented on #7016
This definitely seems like a bug to me (not simply a question). I just encountered this when upgrading the version of pcre we use, and running into a conflict with our build_require of swig, which still depends upon an older version of pcre. Right now there are two options to work around this:

- Downgrade our version of pcre to the version that swig uses
- Make swig a require, not build_require,

[2020-10-23 23:33] #7931 closed, assigned to nobody

[2020-10-24 07:38] Croydon commented on #7931
Why not leaving this issue open as a reminder to look into it?

[2020-10-24 14:55] peter-moran commented on #6012
Resolved by conan-io/docs#1474

[2020-10-24 14:55] #6012 closed

[2020-10-24 15:03] peter-moran opened #7934 "[question] how to iterate over conanfile.options"
I am working on a generator that will create a CMake file containing all of the conan option values. To do this, I need to iterate over the conanfile options and get their values.

However, when I do this it seems to iterate infinity.

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-10-24 16:14] peter-moran commented on #7934
After a bit of digging around in the source, it appears the following is best:

[code]

[2020-10-24 16:14] #7934 closed, assigned to nobody

[2020-10-25 08:55] memsharded commented on #7934
Hi @peter-moran

Glad that you found a solution, it looks good.

The only problem is that it is using some internal implementation details, not documented, and as such they might change at some point and break your code. Not likely at all in Conan 1.X versions, but might happen in Conan 2.0. I would recommend opening a new ticket while migrating to Conan 2.0 to make a public interface to iterate t

[2020-10-25 09:06] memsharded commented on #7016
Thanks @ohanar for following up this issue.

Indeed, the new approach to specify a completely different graph, that will not collide with the main libraries graph is the "build" context, basically specifying a new ``build profile`` or ``build settings``, ``build options``, etc. This approach, however only works for tools that run in the build context, tools like test libraries still needs to be ap

[2020-10-25 19:04] joaquimvila opened #7937 "[feature] Vulnerability scan for a Conan recipe"
Package managers for other programming languages (i.e npm) provide the capability to scan for known vulnerabilities. This kind of scannings are based on the list of versions for the 3rd party components & libraries obtained with these package managers. Then, these component/library versions are checked against official databases that record known vulnerabilities (i.e https://nvd.nist.gov/vuln/sear

[2020-10-26 08:32] izzyreal opened #7939 "[suggestion] Keyword target_link_libraries signature for conan_target_link_libaries"
See https://github.com/conan-io/conan/blob/bd0da4de60b892eb1ea46a0809216a41db085c97/conans/client/generators/cmake_common.py#L668

The macro assumes plain signature is always desired. I would like an option to use keyword signatures, so I can mix usage of Conan's macro with [others that also use keyword signatures](https://github.com/juce-framework/JUCE/blob/06a6619cb87822e40753987a3ad10878b9b447f

[2020-10-26 08:38] memsharded commented on #7659
This is being investigated in #7922, however this is too early for 1.31, moving it for later

[2020-10-26 08:40] memsharded commented on #7937
Hi @joaquimvila

This is something we are considering, but still not very clear. We will update when possible, thanks for the suggestion!

[2020-10-26 08:42] #7864 closed, assigned to nobody

[2020-10-26 10:46] alexanderLinear opened #7940 "self-dependency of package creates error message that is not an error"
i got hands on a project with a conan invocation the created an error message that is not treated as an error.
i feel like its raised by a glitch from its originator adding the package on the target and on the input side (=a dependency).

on the first run the package is indeed not in any repository so the package is reported as an "ERROR" because its missing as a source.
but... then this supposed

[2020-10-26 13:17] memsharded commented on #7606
Hi @UnderSampled

The new helper that is going to be released together with the toolchain will not call devenv by default: https://github.com/conan-io/conan/pull/7941
In fact it is not even implemented yet, it might be added later (opt-in? opt-out?) depending on users feedback.

[2020-10-26 13:57] memsharded commented on #7331
After discussing this, it seems this is the current way of thinking:

- By default, uploads cannot change the position of a given revision. That would cause a lot of instability of "latest revision" specially when multiple CIs are uploading packages for different platforms to the server.
- We could define a ``--force`` mode, or ``really wipe and reupload`` mode, that would make the uploaded revisi

[2020-10-26 15:03] #7907 closed, assigned to nobody

[2020-10-26 16:06] RonaldOlsthoorn opened #7943 "[feature] Debug prints for CMake commands"
I'm reading, experimenting and slowly developing a conan build that heavily uses CMake. The CMake handle that conan provides is very helpful. However to make conan truly dance with cmake it would be helpful if there was an option in every python method that runs a cmake command (_cmake.configure(), cmake.build(), cmake.install()_, etc) to carry an option to print out the exact cmake command, just

[2020-10-26 16:23] kobi-ca opened #7944 "How can I control where compiled lib and bins are placed ?"
Hello,

I created an example using conan new etc... and when building lib, bin and gtest bins, are placed in bin/ lib/ dirs.
This is happening even w/o running `make install`.
 For example, gtest bins would be under `<build-dir>/.../tests/` mirroring source dir.
How can I control where libs/bins are placed?

thanks

[2020-10-26 17:25] #7939 closed, assigned to nobody

[2020-10-26 17:30] memsharded commented on #7943
Hi @RonaldOlsthoorn

You are probably looking for the ``[log]`` ``run_to_output`` variable in https://docs.conan.io/en/latest/reference/config_files/conan.conf.html **conan.conf** file. That would be printing to output every command that is executed in the build. Can you please try it? Editing **conan.conf** manually. (conan.conf file can be shared and installed automatically with ``conan config i

[2020-10-26 17:35] memsharded commented on #7944
Hi @kobi-ca

The question is not fully clear, could you please specify details, recipes, commands of what you mean, and what you want to achieve? How do you get the ``<build-dir>/.../tests/`` folder? Which gtest recipe? Why ``make install``? Why ``gtest`` if you created a ``conan new`` library example, that is not connected to gtest at all?

Please, try to provide the accurate, detailed steps to r

[2020-10-26 17:44] memsharded commented on #7940
Error messages should be reserved for really bad things, that are very broken. If the thing is informational, indeed shouldn't be an error, but a warning or info.

But is this something that was defined in a recipe of a project? In that case we don't have control over that, and you should probably be reporting to the creator of the recipe. If this is something in the Conan code, please let us know

[2020-10-26 17:49] memsharded commented on #7907
Hi @jargonzombies

This issue has been fixed in https://github.com/conan-io/conan/pull/7585 (thanks very much @ohanar!) and will be released next Conan 1.31 (hopefully later this week).

Thanks very much for reporting!

[2020-10-26 17:53] memsharded commented on #7939
Hi @izzyreal

Not sure what is your use case, but in general, you probably want to start trying the ``cmake_find_package_multi`` generator, this is a more "modern" way to integrate with CMake, using ``find_package()`` calls. We are putting our efforts in this approach, and it will eventually become the only one (Conan 2.0).

[2020-10-26 17:59] izzyreal commented on #7939
Thanks @memsharded, I will read up on the `cmake_find_package_multi` generator.

For anyone who ran into a similar issue, I've closed the ticket because I found a workaround. I define the below in my consumer's `CMakeLists.txt` and use this macro instead of `conan_target_link_libraries`:
[code]
Not sure if it's doing exactly what I hope it's doing, but everything compiles. I've only tried it in wo

[2020-10-26 19:55] alexanderLinear commented on #7940
simple explanation - someone probably made it to put the output package name on the list of input dependencies as well.
(it went a one-time item because after the first successful run the result is present before the the next run - at least when calling it repeatedly at development time.)

[2020-10-26 21:33] memsharded commented on #7940
@alexanderLinear This is why I am asking. I have just tried (just in case) to do that:

[code]

There is some protection in place to avoid dependencies cycles, so this shouldn't be just an error message, it should be a hard error, that would require fixing the conanfile.py recipe to proceed, otherwise the error will remain.

[2020-10-26 22:30] memsharded commented on #7933
Hi @mhanitaw

I am not sure what you mean. A ``virtualenv`` generator will contain variables with values composed for all transitive dependencies that are being installed, not just one package. It is not necessary to run the virtualenv of the dependency, when you do ``conan install <yourconanfile> -g virtualenv``, the virtualenv with variables definitions from the dependencies will be created.

Co

[2020-10-26 23:51] kobi-ca commented on #7944
Hi @memsharded . sorry I was not clear.
Let me try again.
I was using this is a reference
https://levelup.gitconnected.com/conan-package-manager-tutorial-bfb308ddd7a
and developed my own lib on top of it.

In general, when you have a cmakelists.txt and it defined a lib or executable, the directory where the lib or exe are built, is the same as the source dir structure, but just under <build>.

e.g

[2020-10-26 23:58] memsharded commented on #7944
I think now I understand. The ``conan_basic_setup()`` cmake function is calling ``conan_output_dirs_setup()`` internally, which defines the default CMake "output" directories.

If you pass the argument ``conan_basic_setup(NO_OUTPUT_DIRS)`` it will not redefined the output folders. You can read more about it in: https://docs.conan.io/en/latest/reference/generators/cmake.html#macros-available-in-con

[2020-10-27 00:07] kobi-ca commented on #7944
perfect! let me try this. many thanks @memsharded

[2020-10-27 01:25] kobi-ca commented on #7944
Worked! thanks for the pointers.

[2020-10-27 01:25] #7944 closed, assigned to memsharded

[2020-10-27 05:52] tarc commented on #7100
@memsharded

BTW, is it possible to get the package ids of the dependencies from a custom generator?

[2020-10-27 08:49] memsharded commented on #7881
Hi @unzap

Yes https://github.com/conan-io/conan-center-index/blob/master/recipes/xorg/all/conanfile.py is one of them.

Please, don't use uppercase in package names. We strongly recommend using always lowercase in package names.

You don't really need the ``self.info.header_only()`` unless the recipe is defining settings, options or has transitive requirements. In the Xorg example, the recipe has

[2020-10-27 08:56] ngrodzitski opened #7948 "[question] Using CONAN_USER_HOME from scratch"
I use docker. And keep a volume for CONAN_USER_HOME (mounted to `/_conan_home` when running). On new machine machine it is empty. If I try to use `conan install` I got the following error:

[code]

I tried to do `conan config init`
[code]

On my local machine it work (the same version).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md

[2020-10-27 08:57] ngrodzitski commented on #7948
So the question is what is a correct way to use CONAN_USER_HOME on fresh machine?

[2020-10-27 09:44] ngrodzitski commented on #7948
Dockerfile:
[code]

[2020-10-27 10:38] RonaldOlsthoorn commented on #7943
Thanks for the quick response. Indeed the `run_to_output` setting works. Found this variable right after going in the source files for developing this feature. Think this is sufficient for debugging purposes. But it would be handy if a hint was given in the docs of the CMake object or in the CMake generate section.

[2020-10-27 10:38] #7943 closed, assigned to memsharded

[2020-10-27 10:52] memsharded commented on #7948
Hi @ngrodzitski

I am having a look at this issue, and the CONAN_USER_HOME var should work fine. I am validating here with some tests, so far seems good.
The ``save()`` call that is failing actually contains a ``os.makedirs()`` call to create the necessary intermediate directories. If that is failing to create the directory, it might be due to some permissions issue.

Could you please try defining

[2020-10-27 11:28] DukeOfKirkcaldy opened #7950 "[feature] include revision info in buildinfo module ids"
Currently there are two types of module in buildinfo:

- `name/version@user/channel` for artifacts related to recipes
- `name/version@user/channel:package_id` for artifacts related to packages

I'd like to know the revision of these modules to use as a unique identifier for the recipes/packages.  Would it be possible to add the revision info to these ids, or elsewhere in the buildinfo?

i.e.
- `na

[2020-10-27 11:38] forry opened #7951 "[feature] Take detected values for not explicitly defined settings (e.g. in package:compile.runtime...)"
Hello,
in regards to #615, I have a situation where I want to use a different build of a package while using the default for others. The suggested proccess is to use -s package:'\<setting\>'. I think that this should only change the vaule of \<setting\> for the package while taking the default values for other settings for that package (and other packages too). If this assumption is correct and I

[2020-10-27 12:50] memsharded commented on #7951
Hi @forry

Yes, I have managed to reproduce this behavior. I am submitting a Pull Request #7953 to see if this can be changed, or maybe it might be breaking behavior and can't be done, let's see.

Thanks for reporting!

[2020-10-27 15:13] forry commented on #7951
Thank you very much for such a prompt response.

[2020-10-27 15:56] alexanderLinear commented on #7940
i digged it a bit deeper on my side - after some rather different failure case (broken codes in a c file rather than missing input for conan) i finally found that the execution conditions were stacking multiple conan calls into a bash script. the return value might have been determined only by the last command whilst all previous ones were simply ignored. with a "set -e" an abort on the first fail

[2020-10-27 15:56] #7940 closed, assigned to memsharded

[2020-10-27 16:34] Renari opened #7954 "[bug] provides doesn't allow for package conflicts"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linuxmint 20 ulyana
  * Compiler+version: gcc 9
  * Conan version: 1.30.2
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Set conanfile.txt to include dependencies for `qt/5.14.1@bincrafters/stable`, `opencv/3.4.5@conan/stable` and `libjpeg-turbo/2.0.5`. `libjpeg-turbo` says that it

[2020-10-27 17:05] memsharded commented on #7954
Hi @Renari

I am not sure if I fully understood. The ``provides`` mechanism is a declaration of conflicting packages with different package name. Conflicts always need to be resolved by declaring the desired version resolution in the downstream consumer. It is not clear what you mean with the ``libjpeg-turbo`` saying that it provides ``libjpeg``, or if the message keeps unresolved once you added t

[2020-10-27 17:29] memsharded commented on #7954
Ok I see. This is not an issue of Conan client, but of the ecosystem.

The packages that you are using come from bincrafters and conan-community, not from the new ``conan-center-index``  https://github.com/conan-io/conan-center-index repository, which is the current effort in packaging and where the community is contributing very heavily now. Packages from this repo do not have user/channel part.

[2020-10-27 17:30] #7951 closed, assigned to memsharded

[2020-10-27 17:31] memsharded commented on #7951
https://github.com/conan-io/conan/pull/7953 has been merged, this will be released and work in next Conan 1.31 release.

Thanks for your feedback!

[2020-10-27 17:50] kohei306 commented on #7918
Hi @memsharded, Thanks for the suggestions. I will look into it.

[2020-10-27 18:01] kohei306 opened #7955 "[question] "import module" in conanfile.py of upstream package cascades as requirement to down stream package."
Let's say we have an upstream package A. The conanfile.py of the package A specifies
`import some_module`.
Now if downstream package B requires package A, when we execute conan commands (like conan install) with conanfile.py of package B to load the recipe of its upstream packages recursively to check all dependencies, is the _some_module_ need to be installed in the environment?

- [o] I've read

[2020-10-27 19:31] ngrodzitski commented on #7948
Yep, I can confirm it is a permissions issue.
The catch was that on "old" CI setup we mounted local directories and now switching to volumes.

[2020-10-27 19:31] #7948 closed, assigned to memsharded

[2020-10-27 21:20] memsharded commented on #7863
Hi @jasal82

https://github.com/conan-io/conan/pull/7938 has finalized the implementation of the idempotent download + upload, will be available in Conan 1.31. Can be tested now from the ``develop`` branch (or PyPI testing). This will allow the promotions in the client side without risk of breaking the compressed .tgz. I hope this is a viable workaround until the Artifactory bug is fixed.

[2020-10-27 21:54] memsharded commented on #7948
Great, thanks for following up!

[2020-10-27 21:58] memsharded commented on #7955
Hi @rjhcnf

Yes, if you are doing a bare `` import some_module`` that assumes that you have that file installed in the system. If what you want to do is to reuse python code from some recipes in other recipes, then this is the ``python_requires`` feature, have a look to: https://docs.conan.io/en/latest/extending/python_requires.html. Is this what you are looking for?

[2020-10-27 21:59] memsharded commented on #7918
Great @rjhcnf

I will close this at the moment, don't hesitate to comment or to submit a new issue with any further question.

[2020-10-27 21:59] #7918 closed, assigned to memsharded

[2020-10-27 22:19] memsharded commented on #7940
No problem, thanks for the feedback and following up!

[2020-10-28 11:28] memsharded commented on #7832
The Tribe 2.0 is almost ready for launch. This will be probably be the first question, which is the minimum cmake version (there is already some issue here, but we will ask for feedback and take a final decision, then implement testing in our CI with that minimum cmake version (we are already doing changes to our test suite, moving to pytest, to be able to do this with more control).
I am moving t

[2020-10-28 12:59] solvingj opened #7959 "[feature] Restore support for : conan source <package_ref>"
At some point, the ability to accept a package reference was removed from a number of commands including `conan source`.

During recent discussions with several enterprise users and @memsharded , we recognized that Conan has a pretty exciting and powerful capability to address some common challenges for these use cases, which has currently gone un-explored.  When trying to explore it, we discovere

[2020-10-28 13:25] memsharded commented on #7959
If this is going to be considered, I would probably suggest 2 things, in order to simplify and make it tractable:

- This would only be available for recipes using the ``scm`` component, and Conan can do a checkout in user spaces of those coordinates. No fetching, copying things from the cache or from the server that can be modified without source tracking. Furthermore, the "export" processes are

[2020-10-28 14:50] pakillottk opened #7961 "[question] Reduce disk usage when packaging a prebuilt library"
Hi, I'm trying to package a huge SDK that comes with prebuilt binaries (.dll for Windows with each visual studio toolset, .so for Android, etc).

I've tried defining the export_sources method in my conanfile.py and then, in the package method, I only copy the files that are relevant to the current settings. At the moment, the package works fine and other consumer projects works as expected. The on

[2020-10-28 14:56] memsharded commented on #7961
Hi @pakillottk

If you have a huge SDK, then, you don't want to use the ``exports`` or ``export_sources``. You can directly use the ``conan export-pkg`` command to create the executable directly from your user folder (where I assume you have your SDK).

Also, if you need the same binary for all configurations, you might want to manage the "settings" to control the resulting ``package_id``:

- If y

[2020-10-28 15:03] solvingj commented on #7959
I'm glad to see there is any support at all for the idea. I'm sad you only want to support `scm`.  If not supporting `source()` and `exports_sources()`. I no longer think this is worth doing.

[2020-10-28 15:03] #7959 closed, assigned to nobody

[2020-10-28 15:21] memsharded commented on #7959
The problem with them is that they are not reversible, not reproducible. I wish it would be possible, but I don't see how, as they are both 1 way mechanisms. After you got a local copy somehow from the Conan (cache/server), it will be unusable:

- Local changes you do locally in that copy will NOT be used when the ``source()`` method is called, as it will fetch the old copy from the server. You ha

[2020-10-28 15:38] pakillottk commented on #7961
Thank you so much!

The conan export-pkg was the key I was missing. Now I have a single copy of each file and the package_info sets the right paths. Now the size is around 2GB as I've expected.

Problem solved!

[2020-10-28 15:45] RonaldOlsthoorn opened #7963 "[question] How to generate protobuf source-only library"
I'm trying to achieve the following: Creation of a proto repository, separated from it's clients. I use several languages, so the only true source code files of this repo are .proto definitions itself. Then use protoc to generate source files in C++, java, python etc. The generated files need to be packaged in whatever the language uses (jar/maven for java, wheels/pip for python and conan/cmake fo

[2020-10-28 15:49] memsharded commented on #7961
Excellent! Happy that it was a solution for your use case.

I think this can be closed now, don't hesitate to open a new issue for any further question. Thanks!

[2020-10-28 15:49] #7961 closed, assigned to memsharded

[2020-10-28 15:52] danimtb commented on #7950
@GordonJess could you specify what do you mean with buildinfo? Maybe providing an example also helps to understand what is missing. Thanks!

[2020-10-28 16:15] DukeOfKirkcaldy commented on #7950
I mean Artifactory buildInfo as generated by `conan_build_info --v2 create`, for example:

[code]

I would like revision information in `modules.id` values

[2020-10-28 16:40] SpaceIm commented on #7591
It would be nice if conan was able to report a summary of options/requirements violations, instead of just raise at the first error. Otherwise, consumers may fall in a "die and retry" or "read your 100 conanfiles" to figure out what to do to solve those issues.

[2020-10-28 16:44] uilianries commented on #7948
Hello @ngrodzitski Conan offers official Docker images, so you don't need to elaborate a new Docker recipe for each new compiler version:

https://hub.docker.com/u/conanio
https://github.com/conan-io/conan-docker-tools/

[2020-10-28 16:52] #7466 closed, assigned to nobody

[2020-10-28 16:52] #7409 closed, assigned to nobody

[2020-10-28 16:55] #6522 closed

[2020-10-28 16:55] #6508 closed

[2020-10-28 16:56] #5648 closed

[2020-10-28 16:58] #1675 closed

[2020-10-28 16:58] #3064 closed

[2020-10-28 16:59] #3294 closed

[2020-10-28 17:00] #3659 closed

[2020-10-28 17:01] #3988 closed

[2020-10-28 17:01] #4498 closed

[2020-10-28 17:08] mjvankampen commented on #7414
Looking at the protobuf example using protobuf as a require and build_require both include protoc for your platform correct? So in your example it will build protoc for Windows and for Linux, even though Linux (your host) doesn't need protoc?

For me that is tricky as I cannot build the package everytime for the platform I cross-compile to as it won't always work. In addition it seems not very eff

[2020-10-28 17:08] uilianries commented on #7948
Anyway, I think the error is not clear in terms of feedback:

[code]

I would prefer receiving a nice feedback like:

[code]

[2020-10-28 17:09] jgsogo commented on #7591
Yes, this is something to take into account for the graph model in Conan 2.0, but I want to limit the expectations a little bit: requirements are conditional to options and settings, so as soon as we find a conflict we cannot go ahead in that branch of the graph (it might not be the right branch once the conflict is solved), but I agree we can inspect other branches and report errors that are not

[2020-10-28 17:30] kohei306 commented on #7955
Hi memsharded,

Yes, in my case the some_module is not a conan package but normal python module, in this case is there any way around it so that the environment does not need to install it for the downstream consumer?

[2020-10-28 17:31] memsharded commented on #7948
Yeah this is a cause of a too broad or unmanaged exception in:

[code]

I think this can be improved, raising earlier a more clear ConanException. The os.makedirs() should only fail with the "folder already exists" failure, but not permissions one. If you want to submit a PR improving this @uilianries, it will be welcome. But please be aware of py27-py3 differences, as well of risk of breaking bec

[2020-10-28 17:31] ngrodzitski commented on #7948
Yes, thanks, @uilianries
I'm aware of it, but I need alpine as a ready to go [musl](https://www.musl-libc.org/) based build environment to get fully statically linked executable that runs without libc version conflicts on many old/new linux distrbs (where an app is required). Please, point me if there is something to do the same trick

[2020-10-28 17:36] memsharded commented on #7955
Hi @rjhcnf

Well, there is only 1 running python environment. If you are able to ``import some_module`` in one recipe, it is installed in your python environment, and all recipes downstream will be able to ``import some_module`` if they want, no need to do anything special. They can use it or not, but the module will be installed in the python environment.

If you are talking about using ``import

[2020-10-28 17:50] kohei306 commented on #7955
Hi @memsharded,

Yes, that's what I thought (I was talking about the 2nd case, so run load conan recipe in other environment).

I was wondering, since the some_module is not semantically part of 'recipe'  but only needed to be installed  to fulfill a requirement as python script to be run, it is strange that the some_module has to be installed to conan create the downstream package which is not us

[2020-10-28 18:17] memsharded commented on #7955
Well, that is like everything in python, if for example you have it like:

[code]
Then it is completely possible to consume that recipe in a computer that doesn't have ``some_module`` installed, as long as you are not building that package from sources and the ``build()`` method is not being called at all. This will work. It will be a bit fragile, in the sense that if you try to build from sources

[2020-10-28 18:24] klimkin opened #7965 "[feature] Handle CONAN_RUN_TESTS together with self.should_test"
Conan already has condition to handle `self.should_test`. Expand the expression to cover `CONAN_RUN_TESTS` environment variable:

Current:
[code]

Proposal:
[code]

`CONAN_RUN_TESTS` [documentation](https://docs.conan.io/en/latest/reference/env_vars.html#conan-run-tests).

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-10-28 18:58] uilianries commented on #7948
Unfortunately not, any question related to libc version requires a big change. Thus you are doing right, keep your version.

[2020-10-28 19:39] paulherman commented on #6235
One potential helper is is to use the CMake generator and have Bazel build using CMake (https://github.com/bazelbuild/rules_foreign_cc). I don't plan to work on this myself, I'm just sharing it as I've had some success using those rules.

[2020-10-28 20:23] mjvankampen commented on #7414
Something like this https://github.com/conan-io/conan-center-index/compare/master...mjvankampen:flatbuffers-flatc-integration

Please excuse the code style, but I think the general idea is clear.

[2020-10-28 22:49] klimkin commented on #7965
A better solution could be to take `CONAN_RUN_TEST` into account when setting `conan_file.should_test`  in `cmd_build` method.

[2020-10-28 23:01] memsharded commented on #7909
Hi @kobi-ca

Sorry for the delay in responding.

There is a flow that I would suggest to quickly test things:

[code]

These steps should work and you will end with your package in the server. You can inspect your local cache folders in ``<userhome>/.conan/data`` and see the build folders, the package folders, etc.

Also, in case you haven't done it yet, maybe you might be interested in doing this

[2020-10-29 03:14] kobi-ca commented on #7909
thanks @memsharded . I did take some training in the academy and indeed it helped. I managed to create, upload to a local artifactory. all working well. thanks!

[2020-10-29 03:14] #7909 closed, assigned to memsharded

[2020-10-29 08:20] memsharded commented on #7909
Great, happy that it helped!

[2020-10-29 10:45] mjvankampen commented on #7414
Final question, would this also require a rewrite for packages such a gtest? For example https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=gtest

[2020-10-29 12:17] AshleighAdams commented on #3294
@solvingj Is there any explanation for why this was closed?

[2020-10-29 12:39] cbecker opened #7967 "[question] conan upload: how to choose packages without user/channel"
I want to upload recipes from the `_/_` user/channel with `conan upload`, but I'm not sure how to do this with pattern matching.

If I try
[code]
it selects packages with any user/channel. I also tried
[code]
but in that case I get no matching packages. Is there something I'm missing regarding the pattern matching expressions used by conan upload? thanks

- [x] I've read the [CONTRIBUTING guide](h

[2020-10-29 13:03] jgsogo commented on #7719
`FindDoxygen` is a really good example where CMake relies on the functionality of the `find_package` to get information about tools, basically, any code-generator tool is inside this category and we are suffering the problem with all of them: `protobuf (protoc)` probably is the other big player here.

Here are my thoughts, and I really don't know how to solve the situation without transferring all

[2020-10-29 13:29] cbecker commented on #7967
after further investigation, it looks like it's not possible with the current implementation, because of `_partial_match(pattern, reference)` in `search.py`.

Do you think having a flag to negate the pattern would be useful for such cases?

[2020-10-29 13:35] solvingj commented on #3294
Sure.  I'll share some of my perspectives here to illustrate why I feel this issue is effectively irrelevant/redundant.

Workspaces are apparently stalled and have made no major progress toward supporting all build systems for two years. There are several reasons for this, despite an overwhelming amount of interest in the feature from users.

- time, all possible paths forward with the current imp

[2020-10-29 13:55] Linux13524 opened #7969 "[bug] imports(): files are not copied"
My goal is to re-package files (configs) from a dependency with my application:

If I run `self.copy("*", dst="bin", src="res")` in the `imports` method, the log shows that files are copied (`app/0.1.0 imports(): Copied 1 '.txt' file: config.txt`), but the files are not at the specified destination. Subdirectories are created though. I created a minimal example that shows the problem. Am I missing

[2020-10-29 15:21] czoido commented on #7950
Hi @GordonJess,
At this moment I don't see a reason why we couldn't add that information to the id's of the build_info, I think Artifactory is just using the checksums to link the files internally, so the id field does not have so much importance but let me check further.

[2020-10-29 15:45] #7544 closed, assigned to jgsogo

[2020-10-29 15:46] memsharded commented on #7544
Fixed in https://github.com/conan-io/conan/pull/7968, will be released next Conan 1.31

[2020-10-29 15:47] #7809 closed, assigned to jgsogo

[2020-10-29 15:55] memsharded commented on #7869
This has been implemented by https://github.com/conan-io/conan/pull/7938 and https://github.com/conan-io/conan/pull/7886, will be released in Conan 1.31

[2020-10-29 15:55] #7869 closed, assigned to nobody

[2020-10-29 16:49] kohei306 commented on #7955
Hi @memsharded,
Thanks for the detail answer. I will definitely look into it.

[2020-10-29 17:58] jgsogo commented on #7544
After the refactor we did to the download it's been a piece of cake to add this feature 😃

[2020-10-29 18:04] ericriff commented on #7544
Thanks guys!

[2020-10-29 18:07] #7810 closed, assigned to czoido

[2020-10-29 18:12] memsharded commented on #7955
Good!

I think the question has been addressed, and possibilities described, no action required at the moment, so closing the issue. But feel free to comment or open a new issue for any further question. Thanks!

[2020-10-29 18:12] #7955 closed, assigned to memsharded

[2020-10-30 00:05] #7606 closed, assigned to memsharded

[2020-10-30 00:05] #7824 closed, assigned to memsharded

[2020-10-30 01:45] prince-chrismc commented on #7802
Firstly I'd like to take the time to thank you for explaining this topic to me. ❤️ It's greatly appreciated!

I have been successful in implementing what you have described, you can see the PR linked is now merged!

I am going to watch how it reacts for a little bit before possibly changing the "best practices" at work since this helps cut some of the over head I'm getting complaints about.

I wou

[2020-10-30 06:05] Johnnyxy opened #7971 "[question] require dependency only if it was linked dynamically (shared)"
Hi there,
when building a package (PkgA) I have a "build_requirement" (DepA).
DepA can be built with ```shared=True``` or ```shared=False```.

When "requiring" PkgA in another package (PkgB) how can I "require" DepA in PkgA only if DepA was used with ```shared=True```?

The following code does not work (see ```requirements``` at PkgA) and should only illustrate what I am trying to do:

DepA
[code]

[2020-10-30 08:46] memsharded commented on #7971
Hi @Johnnyxy

There is not modeling for requirements of this kind. Please be aware that ``build_requires`` is designed for tools in mind, like CMake. A key point is that build_requires are NOT part of the ``package_id`` (shouldn't affect the binary), and then most of the CI related tooling, build-order, lockfiles and most importantly, the binary compatibility will be useless to manage this depende

[2020-10-30 08:51] memsharded commented on #7802
Hi @prince-chrismc

Thanks for telling, I am very happy that you were successful implementing it!

Of course! Please let us know with some more detail how do you think this could be explained better in the docs, or contribute something yourself, as you wish.

I am fine with keeping it open, if at this point is more a documentation issue, let's move this issue there, and you can open new issues for

[2020-10-30 08:59] iiknd commented on #7881
I did a quick test and I can get a different package (e.g. foobar) in the cache per proxy version. Thanks for the help!

But I did run into another issue when there are multiple versions present of the system lib at the same time.
I was able to get that to work for the "conan install" part. I can control the system lib version e.g. via env:

`$conan install foobar/<version>@user/channel ... --buil

[2020-10-30 09:10] Johnnyxy commented on #7971
Ah I see. At the moment is was merely an optimization for later. As the normal flow at the moment is only used with ```DepA:shared=False```. This means I will hardcode the ```DepA:shared=False``` in ```configure(self)``` of my PkgA which ensures that DepA is only used at build time of PkgA with static linking.

Regarding the problem of the ```build_requirements``` and ```package_id```. I have intr

[2020-10-30 09:10] #7971 closed, assigned to memsharded

[2020-10-30 09:42] memsharded commented on #7971
Ok, great, then I understand it is not a great blocker at the moment. We will keep working for Conan 2.0 with this need in mind, thanks for the feedback!

[2020-10-30 09:53] memsharded commented on #7881
I think ``self.requires("systemlibproxy/{0}@user/channel".format(os.environ['USE_SYSTEM_LIB_VERSION']))`` is probably not a very good idea. You are implementing a "conditional requirement" in a way that is not known to Conan.

If your proxy recipe is completely empty, then using settings might be a better and simpler way. I understood that you really needed to pass information of the system lib to

[2020-10-30 11:27] iiknd commented on #7881
If I publish such conan package then other people would need to adapt their settings.yml file accordingly if they want to include the "foobar" in their project?
Besides that it looks like a very clean approach indeed. I need to think about this..

[2020-10-30 11:36] memsharded commented on #7881
Yes, but you have the ``conan config install`` feature for this, it is very recommended in production for teams. You can use it not only for the settings.yml, but also for your profiles, your remotes definitions, your conf (including required Conan version)...

When you mean "publish", the other people are people from your team, or is it something open source open to the world?

[2020-10-30 11:38] czoido commented on #7950
@GordonJess added to the 1.32 milestone, will be implemented in that release.

[2020-10-30 11:52] DukeOfKirkcaldy commented on #7950
Excellent, thanks a lot!

[2020-10-30 12:11] iiknd commented on #7881
Yes, if I wanted to publish this package to e.g. conan-center or similar.

This is actually now more a generic question.
If a development team wants to utilize a package A e.g. from conan-center, but the recipe of A requires a custom settings.yml file.
The development team needs to merge the settings for A into their settings.yml file?

[2020-10-30 12:12] memsharded commented on #7967
Hi @cbecker

Yes, you are right, it seems right now it is not possible to select those in that way.

We are certainly going to change the command line (@czoido) which will probably mean that unless adding explictly "*" it will not be a pattern, so that will solve the issue. The only thing is that it seems it cannot be done now without breaking.

If what you are doing is caching a copy of packages

[2020-10-30 12:17] memsharded commented on #7881
Yes, packages with custom settings cannot be published to ConanCenter. But the trick with the env-var will not work either, it is not possible to do such a thing. We would need to understand what system library you are depending and modeling and think about possible alternatives suited for ConanCenter wide audience.

The development team needs to merge the settings for A into their settings.yml fi

[2020-10-30 13:30] fulara opened #7974 "[bug] conan unable to install nor use package installed in local cache"
### Environment Details (include every applicable attribute)
  * Operating System+version: redhat6
  * Conan version: 1.28.1
  * Revisions enabled.

### Steps

Conan prints:
[code]

and then prints:
[code]
However this particular *hash* does exists in artifactory..
Why conan didnt want to install it?

It seems that the issue is somehow related to overwriting same hash in the remote artifactory, ho

[2020-10-30 13:36] memsharded commented on #7974
Hi @fulara

Doesn't seem right

Which version of the server are you using?

Do you have revisions enabled?

Can you reproduce this consistently? For every package? Can you reproduce with a ``conan new`` + ``conan create`` + ``conan upload`` + ``conan remove`` + ``conan install``?

[2020-10-30 13:48] fulara commented on #7974
Fixed version apologies, (confused with internal versioning ).

I think we got this twice through the year..
Didn't get to reproduction of this yet, apologies.  just wated to report with proof that something like that happened.

[2020-10-30 16:31] cbecker commented on #7967
Thanks @memsharded . Indeed, I was trying to simulate our own conan-center, but with specific versions instead of what conan-center offers online at the moment of calling conan (https://github.com/conan-io/conan-center-index/issues/3077)

So we have our own conan server, where we push `conan/stable` and `_/_` from all recipes in a given commit hash of `conan-center-index`. I don't like much the id

[2020-10-30 17:21] memsharded commented on #7967
No, it is not a bad idea, it makes sense to have your own fork, and control 100% of your third parties. Actually it is a good practice, and using directly a public central repository in production is not recommended, and I am not talking about Conan but also about NPM and others (remember the NPM leftpad...). There are different mechanisms to isolate yourself from problems of third party repos, an

[2020-10-30 18:30] memsharded commented on #7974
Ok, yeah, this could be one of those challenging bugs that are very difficult to reproduce. Maybe next time it happens, you could do a couple of things:

- Capture a zip of the offending package from the Conan client cache.
- Capture the client conf (conan.conf, settings, etc)
- Capture the files from the Artifactory remote, including the "internal" ones if possible, like the revisions index.

Sen

[2020-10-30 20:33] jan-grimo opened #7976 "[bug] 1.31 Regression: conanfile method evaluation order"
I've had a regression with the 1.31 release. I have a set of packages that populate some of their dependencies via the `build_requires` and `requires` methods and afterwards edits the options of its dependencies (including the dynamic ones) in the `configure` method, following [the suggested approach from the docs](https://docs.conan.io/en/latest/mastering/conditional.html).

It appears that the m

[2020-10-30 20:40] cbecker commented on #7967
Thanks for the reply, I'm glad to hear that it's not a crazy idea and that it also makes sense to other projects/companies.

We have probably around 15 dependencies from conan-center. The thing is that conan center is great (so big thanks for taking care of this!) in the sense that there are so many useful recipes there. So having them all available as recipes (without binaries) also proves useful

[2020-10-30 20:40] jan-grimo commented on #7976
I'm a little surprised something this fundamental has changed, so I'm worried what I've written isn't enough to find the issue. There's a bit more details to mention in case it's relevant. All packages A, B and C all inherit from a common base class that attempts to propagate options from the parent conanfile to all packages matching a common name prefix.

I'll happily minimize a test case if need

[2020-10-30 21:51] f18m commented on #5453
Maybe it can be useful to others.
I created a script to cleanup old Conan packages, assuming the Conan storage folder is /opt/conan:

[code]

[2020-10-31 19:31] memsharded commented on #5453
Thanks @f18m for sharing!

[2020-10-31 19:39] memsharded commented on #7976
Hi @jargonzombies

Yes, this would be very surprising, we haven't changed anything related to that in the latest release.
In any case, I am not sure what you are explained is true. ``build_requirements()`` has always been evaluated after ``configure()``, as it is documented in https://docs.conan.io/en/latest/reference/commands/consumer/install.html,  (and you can go back a lot of versions, for exa

[2020-11-01 09:54] jan-grimo commented on #7976
Hi @memsharded, thanks for clearing up my misunderstanding. I should have looked deeper into the documentation before opening this issue. I'm now convinced my base class just uses flawed reasoning to accomplish its task, and this last release has exposed my error. My apologies and thank you for your time!

[2020-11-01 09:54] #7976 closed, assigned to memsharded

[2020-11-01 11:26] memsharded commented on #7976
Hi @jargonzombies

No problem, don't hesitate to open more issues for any further question or problem you might have. We always prefer to have feedback, even if it is not an issue at the end. Also if you want some more clarification or advice for what you are trying to achieve in your project. Cheers!

[2020-11-01 21:11] ngrodzitski commented on #7244
@tru Can you please elaborate on this?

[2020-11-01 21:15] ngrodzitski commented on #7244
Is there any poll for this?

[2020-11-01 21:27] dheater commented on #7664
I would advise against going so far as switching compilers since there are lots of compiler specific `#pragma` and  `#ifdef __GCC__` in existing codebases.

[2020-11-02 06:22] iiknd commented on #7881
About the conditional requirements, the documentation has an example: https://docs.conan.io/en/latest/reference/conanfile/methods.html#requirements

[code]

Isn't this build time resolution as well, compared to my example of the dynamic version number? If you run "conan info" for the example package above it would fail if one does not pass correct options/profile for "conan info -o ..."?

[2020-11-02 08:53] sduraisamy opened #7982 "[question] Reading package version from conan recipes "conanfile.py""
When we do conan search it will list all package name with pkg/version@user/channel. Is there a conan way to get the package version from the conanfile.py?.

Usecase:
Want to read the version from the conanfile.py. If the package already available "i.e from the version comparison", then package will not be created otherwise it will be created.

[2020-11-02 08:54] Artalus opened #7983 "[bug] `short_paths` option leads to creation redundant subdirectories in C:/.conan after `conan remove`"
I tested this with global override `CONAN_USE_ALWAYS_SHORT_PATHS=1`, but I trust it's just the same for every package with `short_paths=True` in conanfile.

### Environment Details (include every applicable attribute)
  * Windows:
  * VS 2013 (should be independent from compiler):
  * Conan 1.27.1 / 1.31:
  * Python 3.7.4 / 3.8:

### Steps to reproduce (Include if Applicable)
- Run `conan install`

[2020-11-02 12:56] danielhalati commented on #7743
Actually, I think this is what  need: https://docs.conan.io/en/latest/versioning/revisions.html

The toolchain files are kept inside a GIT repository. Whenever some toolchain file changes it means we have a new package. Am I Right?

[2020-11-02 13:20] nheuillet opened #7984 "[bug] Package not found in cache by conan in container managed by Github Actions"
I deeply apologize as this issue as nothing to do with conan. I found the problem.

[2020-11-02 13:33] mjvankampen commented on #5535
I think the simple solution here is to make ```_old_conan_prompt``` unique for each type of virtualenv, so ```_old_conan_activate_prompt```, ```_old_conan_activate_build_prompt``` and ```_old_conan_activate_run_prompt```

[2020-11-02 14:58] memsharded commented on #7881
The key with ``if self.options.myoption:`` is:

- Options are always explicitly modeled in the recipes.
- They need to have a value assigned, if a value is not given it will error
- They can have explicit default values in recipes.
- They can be listed with commands like inspect or in server WebUI like Artifactory
- The options are explicitly modeled in the ``package_id()``, changing an option cha

[2020-11-02 15:03] memsharded commented on #7982
Hi @sduraisamy

It is not clear what you want to achieve. Do you mean a local ``conanfile.py`` that you have in your user folder, before creating the package? For that case ``conan inspect conanfile.py`` could be what you need.

In any case:

I am not sure that is a robust approach. You might not have bumped the version, but there might be changes in the recipe or something, that could create a di

[2020-11-02 15:31] memsharded commented on #7983
Actually, the problem happens with ``use_always_short_paths``, but apparently with ``short_paths=True`` in recipe it doesn't happen.

[2020-11-02 16:07] Artalus commented on #7983
That sounds slightly weird for me, because:
[code]
, and `short_paths` in the method argument seems to be arriving from the `ConanFileReference` instance.

--8<--

Meanwhile, simply adding check for `real_path.txt` is not a silver bullet, unfortunately. With this change https://github.com/trassir/conan/commit/3730975f617a36f9c87d5e5cf17fdc4fb74eee1c if I leave `C:/.conan` untouched but completely

[2020-11-02 16:13] spoofedex opened #7985 "[bug] Private packages: Cannot build [...] because it is already locked in the input lockfile"
Dear reader,

In several cases we use private dependencies, which themselves have other dependencies. Sometimes, this causes dependencies to appear in a dependency graph more than once, with different options set.

Unfortunately, this seems to fail when using lockfiles. The dependency is added to the lockfile more than once, with different package IDs, and building it the first time is successful.

[2020-11-02 16:19] memsharded commented on #7983
Short_paths is a complicated feature, and indeed it seems there is a bug in the removal of short_paths. I am proposing a fix in https://github.com/conan-io/conan/pull/7986, let's see how it goes.

Thanks very much for producing such a detailed report, it was really useful, we have suspected for a long time that there was some leaking in the short_paths folder, this really helped.

[2020-11-02 17:06] memsharded commented on #7984
Hi @nheuillet

No problem. We have found that most times when docker is involved is some kind of permissions issue with mounted volumes. I guess it was something like that.

No need to apologize! Happy that you found the issue. Don't hesitate to open new issues when you have any further questions

[2020-11-02 17:06] #7984 closed, assigned to nobody

[2020-11-02 21:40] #7152 closed, assigned to sdmg15

[2020-11-02 22:48] memsharded commented on #5453
FYI, this contribution and the effort put in this have pushed me to start doing something: https://github.com/conan-io/conan/pull/7980

It is still a proof of concept, but seems doable.

[2020-11-02 23:25] memsharded commented on #7743
@danielhalati revisions is an internal, automatic versioning. As such it is not valid at all for managing variability of different configurations of the toolchain, only to track the historic evolution of 1 given configuration. And that you should put the toolchain itself inside a Conan package, and make your packages depend on it. If this is what you want, to produce different packages in the cons

[2020-11-03 01:28] cszabo2 opened #7990 "[bug] Version 1.30.2 broken copy_deps at least on Windows when ignore_case is False"
I had a set of working conan packages with dependencies (p1 depends on p2).
When deployed, p1 also deploys files from its dependency p2 and uses the copy_deps() method for that.
I had ignore_case = False set for all platforms and everything worked fine with conan 1.21.1 64bit but stopped working in conan 1.30.2 32 bit. The call succeeds but no files are copied.
Deploying p2 directly works, thus th

[2020-11-03 01:30] solvingj opened #7991 "[bug] conan install followed by conan install with lockfile fails"
This bug report started from this PR which has most relevant information.

https://github.com/conan-io/conan-center-index/pull/3382

I believe I've identified the root cause of the problem, but could be wrong.

The user is able to run `conan install` with the profile provided which creates a lockfile. If they run `conan install` again and pass that lockfile as a parameter, it fails with this error

[2020-11-03 05:43] danielhalati commented on #7743
In my approach, I use Conan to create packages from preexisting compiled binaries by using this:

`conan export-pkg _Sandbox_BUILD genicam/3.1.0@channel/stable -s os=Linux -s arch=x86_64 -s build_type=Release -o shared=True -pf /home/user/workspace/_Sandbox_BUILD/genicam/stage --force --profile /home/user/workspace/toolchain/scripts/../conan/profiles/x86_64-Linux`

Introducing a new setting sounde

[2020-11-03 07:30] EmingK opened #7992 "[feature] string quote escaping for cmake defs"
Some CMake definitions contains characters that need to be quoted to be correctly explained. For example,

[code]

In `conanfile.py` DSL, `defs` arg in `CMake.configure()` pass defs dictionary as command line args to cmake. If definitions like the example above is provided, you must write it in a weird way to make things work:

[code]

It can be better if keys in `defs` can be automatically escape

[2020-11-03 07:36] iiknd commented on #7881
Hi, thanks for the comments!

So to re-model the proxy to be "versionless" like this:

[code]

Then one can:

`conan install ... -o use_system_lib=1.2.3`

Would this approach work regarding the unique package_id?

One more question about conditional requirements. From documentation:

[code]

If the "system lib" would become a real conan package some day the above looks like a way to
make this cond

[2020-11-03 08:38] Johnnyxy commented on #7992
Hi there,
as side note: I have seen the usage of square brackets in CMake. But it is discouraged:
https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#variables

As for your feature request, I think it would generally be advised to quote commandline arguments.
This eleminates any ambiguity of commandline parameters. Parsing of the commandline parameters does not need special handling o

[2020-11-03 08:52] memsharded commented on #7881
Yes, options of the dependencies are hashed in the package_id, so that will produce a different binary of the consumers for different values of the options.

make this conditional in the recipe?

Yes, you might use ``if self.options.use_system_lib`` as a condition to switch between a system package and a Conan provided one.

[2020-11-03 08:53] EmingK commented on #7992
@Johnnyxy brackets not matter but the equal character (`=`).

The example mentioned in the issue is pretty common in Apple platform (i.e. building on OSX or cross-compiling to iOS), of which the definition name contains a `=` character:

[code]

with current version,
[code]

[2020-11-03 09:03] iiknd commented on #7881
@memsharded  thanks a lot for the help! This approach works for me :)

[2020-11-03 09:44] Johnnyxy commented on #7992
Oh I forgot to add the following :).

Your Scenario
--------------
When you do the following
```cmake_defs["A[B]"] = "C"``` results in the command line portion ```-DA[B]="C"``` and the ```main``` function argv[...] = ```-DA[B]="C"```. In theory CMake parses this as variable ```A[B]``` with the content ```C``` (CMake's parsing strips away the quotes).

I tried the following:
[code]
results in comma

[2020-11-03 10:40] Ext3h commented on #7969
Can confirm on different OS, with different package

Operating System+version: Windows 10
Compiler+version: Visual Studio 15
Conan version: 1.30.0
Python version: 3.8.6

Files are listed, but no files are copied.
Subdirectories for any of the listed files are created at the destination.

[2020-11-03 10:42] Ext3h commented on #7969
Duplicate of  #7856, was fixed in 3.0.2

[2020-11-03 11:02] EmingK commented on #7992
@Johnnyxy thanks for replying!

## About brackets in variable name

CMake does support it in variable name (though not encouraged), but just cannot use it "literally". With double substitution of variable name, you get access to it.

You can try this:

[code]
with
[code]

## About my scenario

It is fundamentally irrelavent to brackets. It's about the equal `=` character.

Just throw the brackets

[2020-11-03 11:03] memsharded commented on #7990
Hi @cszabo2

There was a bug with the default value of the ``ignore_case``, and it was fixed in Conan 1.30. The new default is ``ignore_case=True``, which was the behavior that was actually being applied, despite it had a ``ignore_case=False``. It is possible that something in your code has been affected by this.
I have tried to reproduce your issue with the information you provided, but no succes

[2020-11-03 11:04] memsharded commented on #7969
~~Might be related to https://github.com/conan-io/conan/issues/7990~~

Update: No, it doesn't seem related

[2020-11-03 11:12] memsharded commented on #7969
Hi @Linux13524

Yes, when the package is created in the cache, the imports are copied, they are used, and later they are removed. This was done to avoid a common accidental re-packaging of dependencies.

If you want to keep the imports, you should declare in your recipe (https://docs.conan.io/en/latest/reference/conanfile/attributes.html?#keep-imports):

[code]

(this might change in Conan 2.0, an

[2020-11-03 11:19] Linux13524 commented on #7969
Hi @memsharded!

`keep_imports = True` does the trick. Thanks a lot!

[2020-11-03 11:28] Johnnyxy commented on #7992
About brackets in variable name
---------------------------------
WTF :). Yes this is a workaround. When I played around with variable names I did not test such an approach. Nice to know this "hack".

Your Scenario
--------------
Yes, in your scenario the problem is the equal sign. With the variable name workaround you mentioned this would lead to your described problem.

Quoting
---------
It was

[2020-11-03 11:44] jgsogo commented on #7881
Wow! Here there is a very interesting topic. When we introduced `system` packages we thought it was no-sense to add versioning to those packages because you need to use whatever was installed in the system (or chosen by the underlying package manager), with no way to change those dependencies. With this in mind, the best approach for consumers was to write `xorg/system` as a requirement and use wh

[2020-11-03 11:51] memsharded commented on #7991
If static linking is not supported and it will fail:

[code]

Should be ``configure()`` instead. ``config_options`` is used to configure the available options, but strong, non overridable from downstream option definition, should be ``configure()``.

The problem is still the same, I am investigating.

[2020-11-03 12:00] memsharded commented on #7969
Thanks for reporting, and sorry for the delay in answering.

I think this can be closed now, don't hesitate to open new tickets for further questions. Cheers!

[2020-11-03 12:00] #7969 closed, assigned to memsharded

[2020-11-03 13:02] Artalus opened #7995 "[feature] reuse existing shortened subdirectories in C:\.conan when using short_paths"
**The setup**:
We run multiple Jenkins jobs on Windows building stuff with CMake and Conan, with `.conan` home for each job residing in its workspace. We have to use `short_paths` with a single shared `J:\.conan` shortener directory (we rely on fact that on each physical node there cannot be parallel tasks racing for this directory). Many jobs reuse the results of a previous build (repo already ch

[2020-11-03 13:02] Artalus commented on #7983
7986 seems to be removing subdirs from short_paths home OK. To keep problems separated I've created #7995, and suppose this issue can be closed once the PR is successfully merged.

[2020-11-03 13:27] cszabo2 commented on #7990
The exact OS is Windows 10 Enterprise. Package names are all lower case. The actual names are lua_bin and lua_cmn, version@user/channel='5.03.005.00009@unicore/official'
The actual full path to the conan cache is: C:\Users\Carol_Szabo\.conan\data
HOMEDRIVE=C:
HOMEPATH=\Users\Carol_Szabo

[2020-11-03 14:46] memsharded commented on #7990
Could you please copy your ``deploy()`` method (or at least some parts of it)?
Also, how do the files inside the dependency package, the ones to be copied, look like? Are they inside folders? Lowercase?
Those things will also greatly help, thanks!

[2020-11-03 15:14] braindevices opened #7997 "[question] how to force compiler in required packages?"
some packages such as elfutils does not support clang, but I need to use clang to build most of my other packages. I know I can use `-s elfutils:compiler=gcc -e elfutils:CC=gcc` But I would like programmatically do this in conanfile.py during configure() or requirements() How can I do this?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTIN

[2020-11-03 16:04] ghost opened #7998 "[feature] Support multiple remotes on install command"
- [] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, there is a syntax to **search** multiple (all) remotes, like so:
`conan search -r all  gtest/1.10.0`

There is not, however, a way to install packages from multiple/all remotes:
[code]

Is there a reason for that? Would greatly appreciate this.
Thanks,

PS:
The [CONTRIBUTING

[2020-11-03 16:11] dmerejkowsky commented on #6290
Note: there is a CVE on cryptography as detected by `safety` when running on any project that includes `conan`:

[code]

(As detected by pyup.io)

[2020-11-03 16:30] memsharded commented on #6290
Thanks @dmerejkowsky for reporting. There is PR https://github.com/conan-io/conan/pull/7962 open to upgrade it, next release will have this dependency updated.

[2020-11-03 16:31] dmerejkowsky commented on #6290
Nice - thanks!

[2020-11-03 16:34] Croydon commented on #7991
The recipe should be fine. The wording might be confusing. Static linking builds and works for many people on non-Windows platforms. Windows+static on < 1.3.4 throws an `ConanInvalidConfiguration`

The upstream maintainer strongly discourages using static linking for versions older than `1.3.4`, hence we change the **default option value** in  `config_options()`.

I don't want to get too much off-

[2020-11-03 16:54] jgsogo commented on #7444
Maybe the check should run only for _public_ requirements. If it is used internally, it should be a _private_ requirement. wdyt, @danimtb? Does it make sense? It would be something really easy to add to the check.

[2020-11-03 16:57] p-groarke opened #7999 "[question] Mapped configs in cmake_find_package_multi."
Hello,
I'm hitting a wall trying to consume the GTest conan package from a custom cmake config.

We are using a custom cmake config called Hybrid (Release with asserts). When consuming packages from conan, I try to map the imported configs to Release.

For ex.
[code]

`find_package` does try to pickup the Release config for GTest::GTest. However, it fails with the error :
[code]

The build does wo

[2020-11-03 16:58] memsharded commented on #7998
Hi @tomerlevv

Installing from all the remotes is the default already, no need to specify ``-r=all``.

For installing from more than 1 remote, there are some quirks in the assumptions that are made when a remote is explicitly passed as an argument that could make implementing this a bit inconvenient and risk of introducing subtle bugs.

I would like to implement this, but I don't think we have the

[2020-11-03 17:03] memsharded commented on #7997
Hi @braindevices

The "configuration" cannot be defined in recipes, it needs to be defined in profiles. Using profiles (and not command line arguments) is the recommended approach for using Conan in production. They can be composed and included, in case you don't want to repeat yourself.

[2020-11-03 17:22] ericLemanissier commented on #7444
I don't think that private requirements is the way to solve this. The fact that a dynamic library is a plugin not intended to be linked to by the consumer does not imply that the requirements of this plugins have to be private. It could lead to ODR violation in some cases, if some other package in the dependency graph depend on this requirement too.
Maybe the best way to go is to create components

[2020-11-03 17:48] jgsogo commented on #7444
If you are using some shared library as a plugin downstream, you might face some DLLHell issue (libraries with the same name), but you shouldn't get an ODR violation (by definition you are not linking with a plugin). Maybe I'm missing something or some edge case.

...or maybe we are not talking about the same scenario. I think that if the requirement is private, it shouldn't appear in the `package

[2020-11-03 18:01] ericLemanissier commented on #7444
You are not linking to it, but the fact that it is loaded at runtime is an ODR violation if several parts of the same program use different versions of a library. (let's imagine said library has global static data)

With dynamic plugins, my main goal was to avoid consumers to link to the plugin directly, but you are right that the workaround does not prevent consumers from linking to the plugin's

[2020-11-03 18:18] jgsogo commented on #7444
Components (or `requires` member in components) don't guarantee to have one single version of all the packages in the dependency graph. That check is performed by Conan way before entering the `package_id` method. Conan first builds the graph and resolves conflicts, and then worries about the information to be propagated to consumers, before it knows nothing about declared components.

The current

[2020-11-04 02:15] prince-chrismc commented on #7889
@danimtb If you can please take glance at this bug report, might be something small since you fixed a similar issue in the components feature 🙏 I'm sure your plate is full but it would be greatly appreciated!

[2020-11-04 07:02] ericLemanissier commented on #7444
Yes, the ODR violation has nothing to do with components, but only with using private requirements: They break this guarantee.

Well, that we need to change both the implementation and the documentation of the private requirements, because currently it says ` It might be necessary in some extreme cases, like having to use two different versions of the same library (provided that they are totally h

[2020-11-04 07:22] ghost commented on #7998
Hey @memsharded , thanks for the answer. I will look at virtual repositories.
But I can't see the behavior you're discussing regarding that conan looks at all the remotes when not specifying `-r`.
Example, without specifying a `-r`flag, conan can't find my custom arm-based gtest, looks only in conan-center:
[code]
But, when specifying custom remote which has that package:
[code]
Am I missing somet

[2020-11-04 08:26] memsharded commented on #7998
It depends on the mode of evaluation of remotes, which depends if using revisions or not. If you haven't enabled revisions, then Conan will look for the first remote when it can find the recipe, and from there it will use only that remote to get binaries. This is done for consistency, if you are not using revisions, you cannot guarantee that the recipe is the same in different remotes, and this ca

[2020-11-04 08:29] memsharded commented on #7999
Hi @p-groarke

Yes, I think you are hitting the limitation of the ``cmake_find_package_multi`` generator that doesn't map custom configurations. This is something that we are trying to improve, check ongoing work here: https://github.com/conan-io/conan/pull/7915/files

[2020-11-04 08:37] jgsogo commented on #7444
Yes, probably I'm thinking (and talking) with the new graph model in mind and you are being realistic about the current features we have. Sorry, I didn't notice. For Conan 2.0 we have realized we need a more powerful graph model and I think this is one of the issues to take into account and should fit into the new modeling.

In the transition to Conan 2.0 we would really like not to break any reci

[2020-11-04 08:46] danimtb commented on #7444
Related to the issue https://github.com/conan-io/conan/issues/7907. Now in Conan 1.31 you can use private requirements without components failing

[2020-11-04 11:16] #7814 closed, assigned to uilianries

[2020-11-04 13:34] DoDoENT commented on #4038
Here is my workaround for this issue. It treats all existing dependencies in `implementation` mode and does not support `api` mode, as this requires changes in conan graph model, while my workaround happens in CMake after including `conanbuildinfo.cmake`:

[code]

Basically, it parses `conaninfo.txt` to determine which dependencies are direct and removes the `INTERFACE_INCLUDE_DIRECTORIES` from al

[2020-11-04 16:00] p-groarke commented on #7999
@memsharded Glad to see you are working on it :)

Have a great day!

[2020-11-04 16:36] prince-chrismc opened #8002 "[feature] generic tool to check for minumum compiler support"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

There is this piece of boiler plate that get's copied a LOT in CCI, but it's also something large project that migrate to newer compilers need to handle as well...

Would this be something that could be added to `conans.tools` ?

[code]

[2020-11-04 16:44] uilianries opened #8003 "[feature] Internalize chmod as Conan tool"
Hi!

As you may know, [chmod](https://linux.die.net/man/1/chmod) is a nice Unix tool, which is used to handle file permission.

On Python, we have [os.chmod](https://docs.python.org/3/library/os.html#os.chmod), but it's limited in terms of solution on Windows (see #7966).

Doing a quick [search](https://github.com/conan-io/conan-center-index/search?q=chmod) on CCI we have `os.chmod` present there,

[2020-11-04 16:53] solvingj commented on #8003
I've wanted this kind of tool for my conan recipes in the past.  I don't know enough about the various scenarios which require all the parameters of `os.chmod` to know if there's a "general case" for Conan to add a tool with sensible defaults.  I hope so.  There probably is, since we collapsed most of `subprocess` down to `self.run`, but I imagine some people will find reasons to disagree that thi

[2020-11-04 17:29] memsharded commented on #8003
https://github.com/YakDriver/oschmod has 3 stars in Github, I wouldn't rely on this, version 0.3.12 in PyPI. I wouldn't rely on this yet. Plus I would like to know real cases in ConanCenter that requires this level of permission modification for Windows.

This are the current occurrences in ConanCenter
[code]

It seems a wrapper that would simplify a bit the UI and avoid the ``st.st_mode | stat.S_

[2020-11-04 17:58] uilianries commented on #8003
We could internalize its code.

The `chmod` has no effect on windows, we would need `subprocess` as @solvingj commented, but it would be nice if we could use API call instead, safer and faster than a fork. I can see few cases, most when we need to add exec permission for scripts (.sh, .py, ...) on Windows. I think any .exe file will be executable by default on Windows.

[2020-11-04 18:17] memsharded commented on #8003
I mean, what is the real need. What library or Conan package requires this level of changing permissions. What cannot be built in ConanCenter unless using this code. It doesn't matter much if it doesn't have effect on Windows as long as libraries link and executables run.

[2020-11-04 19:20] uilianries commented on #8003
Maybe not so focused on ConanCenter, but maybe for companies which are packaging internal packages.

We have a thread on Conan Slack channel: https://cpplang.slack.com/archives/C41CWV9HA/p1604505594005800?thread_ts=1604505490.005700&cid=C41CWV9HA /cc @a4z

[2020-11-04 19:28] memsharded commented on #8003
It is not clear from that thread what is the companies use case either. I think it is fine to add a Conan tool to abstract away the details of os.chmod a bit, but so far I don't see enough evidence to add or to depend on YakDriver/oschmod into our codebase.

[2020-11-04 19:38] a4z commented on #8003
as a package creator, when needing to be sure an executable has execution permission, it would be nice to have something like `tools.make_executable(filename)` and not be forced to add repetitive boiler plate, and maybe .

This will improve the readability dramatically, since today various names and solutions for the same thing are used
but it will also improve the writing and authoring experience

[2020-11-04 19:56] a4z commented on #8003
PS: my current use case
https://github.com/cross-language-cpp/djinni-generator

the Windows .bat file is exactly the same file as the non .bat file,
some kind of dark magic that works on all platforms (Linux OSX Windows)  as long as there is some java findable (btw, can we please proceed with https://github.com/conan-io/conan-center-index/pull/2756 ;-)
If it is somehow possible to not be in need o

[2020-11-04 20:48] gprosch opened #8006 "[question] How can I use conan with node-gyp?"
I use a binding.gyp file to tell node-gyp how to generate visual studio project files.  In the binding.gyp file I need to specify a path to a library.  For example:

C:\MyLibraries\MyLib.lib

But with conan I have some unpredictable path like:

C:\Users\<Me>\.conan\data\MyLib\1.0.0\_\_\package\1d1d3f19ae580642d118dadec748a59f61104d89\lib\MyLib.lib

The only think I can think to do is to generate d

[2020-11-04 21:23] memsharded commented on #8006
Hi @gprosch

Yes, I think the best is to do your own generator. Now you don't need it to be built-in, you can create your own generator and put the code in the Conan cache: https://docs.conan.io/en/latest/howtos/custom_generators.html#storing-generators-in-the-conan-local-cache.

I would suggest to develop the first iteration in that way, and once it is a bit stabilized, if it is general enough to

[2020-11-04 21:36] memsharded commented on #7990
The PR with the changes that might be causing this is: https://github.com/conan-io/conan/pull/7704

[2020-11-04 22:53] memsharded commented on #7990
Hi @cszabo2

I am investigating this: Is it possible that you have some ``excludes`` argument in your ``self.copy``? Could you please share more details about your ``package()`` method? Thanks.

[2020-11-04 23:09] kralicky opened #8008 "[question] Download package sources without building"
Currently, to download package sources to the local cache (i.e. for debugging), I'm using the following method:
[code]

Is there a better way to do this? `conan source` doesn't seem to support references.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-11-04 23:17] memsharded commented on #8008
Hi @cobalt77

In practice, for debugging and correctly finding the sources, the recommended approach is to do that but not stop the build. In many cases the debug artifacts, PDBs, etc contain absolute paths to the source files, which might be a different cache path that the current one. So only downloading the files doesn't help much. Aren't you having this issue? Which OS and compiler/debugger ar

[2020-11-04 23:49] kralicky commented on #8008
Ah yep you're definitely right... it's only been working due to how my environment was set up. Such a use case doesn't really make sense then. Thanks!

[2020-11-04 23:49] #8008 closed, assigned to nobody

[2020-11-04 23:53] memsharded commented on #8008
Yeah, we have been trying to figure out ways to re-discover the sources paths, or to patch the PDBs, or something that makes the experience a bit smoother, but so far, building from sources in debug mode locally seems the most pragmatic approach.

[2020-11-05 00:02] kralicky commented on #8008
For GCC, there's a command -fdebug-prefix-map that looks like it will allow you to change the debug source paths at build time. If it is configured to be relative by replacing /path/to/conan/sources/ with ../../../sources/ or something like that the paths should line up in any conan cache. Might be worth looking into.

[2020-11-05 06:31] iiknd commented on #7881
Hi,

some examples of system or other libraries on the system which are installed outside Conan:
- Vulkan
- Qt
- Tck/Tk
- etc.

I.e. one may not always take the latest available version.

[2020-11-05 07:45] vsevolod-fedorov opened #8010 "[bug] Export corrupts conanfile.py rewriting SCM when used under python 3.8"
When `conan export` is run under python 3.8, SCM rewrite can corrupt conanfile.py.
For file:
[code]
it removes `@property` line from exported file.
_scm_to_conandata_ should **not** be turned on.

Under python 3.7 it works fine.

### Environment Details
Conan version: 1.31.0
Python version: 3.8.4
Tested under OS: Debian & Ubuntu.

### Steps to reproduce

- Create conanfile recipe (example is attac

[2020-11-05 08:00] vsevolod-fedorov opened #8011 "[bug] SCM username value is ignored"
Conan ignores `username` SCM attribute.
For file:
[code]
When cloning git repository, `test-user` is not used, but current logged-in user is used instead:
[code]
(conan.git repository is used just as example).

### Environment Details
Conan version: 1.31.0
Python version: 3.8.4, 3.7.3

### Steps to reproduce
- Create conanfile recipe (example is attached).
- run 'conan create .' in it's directory.

[2020-11-05 08:01] czoido commented on #8006
Hi @gprosch,
Here, you can find a minimal implementation of a generator for gyp and an example of a module using it that you may find useful:
https://github.com/czoido/conan-gyp-generator
https://github.com/czoido/conan-node-module

[2020-11-05 08:20] jgsogo commented on #7881
For these regular packages, I'd recommend using regular references like `vulkan/1.2.140@unzap/my-pkg-manager`, and you can write any Python code in your recipe: it can download the headers and binaries from custom your location and place them in your system (instead of the clone+build of common recipes), and populate the `cpp_info` attribute information in the `package_id()` method.

Using this ap

[2020-11-05 08:22] kdsx commented on #8011
According to `conans/tools/scm.py` it looks like `username` is not used if `password` is not specified. Not sure if it's OK because somebody would use a username and an SSH key to authenticate.

[2020-11-05 08:44] memsharded commented on #8010
Hi @vsevolod-fedorov

Yes, the current default of scm processing is fragile. It is totally recommended to use ``scm_to_conandata``, in fact it will be mandatory in Conan 2.0, the current flow of modifying the recipe will be removed.

This test is able to reproduce it:

[code]

I am checking the code for a bugfix, but seems quite complicated and risk to break something. I would recommend everyone t

[2020-11-05 08:54] memsharded commented on #7881
@unzap an important distinction of "system libraries" and libraries that are installed outside of Conan, as we name them in ConanCenter:

- "system library" is something that heavily belongs to the system, like X11. You can typically only have 1 version of it, typically managed at the OS installation level, part of the distro. You probably cannot build an app with a different version of X11 and ru

[2020-11-05 10:22] memsharded commented on #7990
I have submitted a PR to fix some other bug related to ignore_case (when using excludes): https://github.com/conan-io/conan/pull/8009

Your issue, I cannot reproduce it yet, it would be nice to have more information.

[2020-11-05 11:37] rasjani opened #8012 "[bug] build fails if build folder is only partially cleaned."
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Conan version: 1.28.0
  * Python version:  3.7 latest windows cpython

### Steps to reproduce (Include if Applicable)

This is not critical but it feels still a bit like a bug:

1. build a binary package that that uses deeply nested directory structure.
2. clean the build folder with windows r

[2020-11-05 11:38] jgsogo commented on #7995
Hi, @Artalus !

PR https://github.com/conan-io/conan/pull/7986 should fix the problem related to dangling folders in the short-paths directory when running ``conan remove``. Of course, it doesn't fix the issue if Jenkins is removing the Conan cache instead of using Conan to clean it.

The problem with the ``real_path.txt`` is that it only tells Conan about the folder in the local cache, we could i

[2020-11-05 12:18] kdsx opened #8013 "Conan omits empty directories when compressing a package"
When Conan compresses a built package before upload, it omits all empty directories of the package. In some cases it can cause issue.

Example:
[code]

We use two repositories for Conan packages (development and production). Packages are proposed from dev to prod when ready. Proposal is done via a sequence of `conan download` and `conan upload`. And here we face the issue. If a package contains an

[2020-11-05 12:58] jgsogo commented on #8012
This is totally unexpected failure. A couple of lines before we try to remove that ``build_folder`` and raise if something goes wrong:

https://github.com/conan-io/conan/blob/release/1.28/conans/client/installer.py#L104

I can't figure out how to pass that line without an exception and raise then with an error saying that the folder already extis 🤔

[2020-11-05 13:07] jgsogo commented on #8013
Using Conan 1.31, the _promotion_ from one repo to another using ``conan download`` + ``conan upload`` command shouldn't modify packages at all. The compressed files are preserved locally and the same binary that is downloaded from one repository is uploaded to the next one.

Regarding symlinks and empty folders: we have faced many issues over the past months and the proposal for **Conan 2.0 will

[2020-11-05 13:18] kdsx commented on #8013
Sure. The issue is caused by compression. The promotion procedure is just an example of what could be broken by this issue.

[2020-11-05 13:52] rasjani commented on #8012
I'll try to give a filesytem snapshot or script that generates the issue. And yeah, i knew it was tried to be wiped but cuz many times i have shell open in the build folder and that fails.

Now, windows shell `rmdir` does fail with error "The system cannot find the path specified." ..   Maybe this if clause happens: https://github.com/conan-io/conan/blob/release/1.28/conans/util/files.py#L25 and w

[2020-11-05 15:30] danimtb commented on #8011
@kdsx is right and the username value is only considered if the password one is added to scm too. I took a look at the code and maybe it can be changed to support username and password independently.

Could you verify that a command like `git clone ssh://test-user@github.com/conan-io/conan.git` (following the example above) works from your side?

[2020-11-05 16:16] vsevolod-fedorov commented on #8011
@danimtb I added this command only as example. In my recipe I use another repository. And it works when I explicitly add username to it, as in your example. And this is what in the recipe right now.

[2020-11-05 16:28] kdsx commented on #8011
However username passed via URL is captured to `conandata.yml` during `conan export`, and that is not nice.

[2020-11-05 16:33] memsharded commented on #6290
Closed by https://github.com/conan-io/conan/pull/7962, will be in Conan 1.31.1

[2020-11-05 16:33] #6290 closed

[2020-11-05 17:09] bog-dan-ro commented on #7664
As long as none of these things are not in headers, we are just fine. clang can use with no problems any gcc on any unix system.

[2020-11-05 18:25] cszabo2 commented on #7990
The package method is not very useful to you because all it does, it is that it calls jfrog CLI to download the content of the package from an Artifactory repository. Our packaging strategy is that for each release we upload the artifacts to an Artifactory repository, then we repackage these artifacts in various ways for various purposes, thus the package method would not work outside my company.

[2020-11-05 18:31] memsharded commented on #7664
What is clear from this thread is that a perfect binary model that satisfies all users for all compilers and all needs is completely impossible.
Conan offers some good starting point that in practice works relatively well. And it provides the tools to define the binary compatibility model that you want to use, with a high level of accuracy and some useful tools (like ``compatible_packages``) to de

[2020-11-05 21:22] klimkin opened #8017 "[feature] Enable override of requirements from "conan install" CLI"
When developing upstream packages and building downstream packages it would be convenient to override dependencies from command line.

For example, building `pkgB`, dependent from `pkgA`. `pkgB` depends on version `pkgA/1.0.0`. I am changing `pkgA` and create a new version in local cache `pkgA/1.1.0`. Convenient command to test the new package would be:

    conan install . --require pkgA/1.1.0

T

[2020-11-05 22:33] gprosch commented on #8006
Thank you @memsharded and @czoido for your helpful suggestions!  That is very much what I needed.  I will have to adapt the gyp generator for my Windows environment but that was very helpful in getting me started.

[2020-11-05 22:33] #8006 closed, assigned to nobody

[2020-11-05 23:48] klimkin commented on #5228
Is the issue addressed in the current version?

[2020-11-06 08:41] thvdburgt opened #8019 "[bug] Option gets set for private requirement of requirement."
When a consumer package sets an option for a requirement which is also used as a private requirement by another of its requirements this options gets also set for that private requirement, leading to possible errors.

This goes against the following statement from https://docs.conan.io/en/latest/reference/conanfile/attributes.html#options:

See below for a simple reproduction.

### Environment Det

[2020-11-06 09:11] Artalus commented on #7995
We are currently cleaning up the `short_paths` directory on timer along with all of the workspaces, yes. I was just hoping there could be another way of reducing its "expansion speed".

I do not fully understand though. Conan have some underlying mechanisms for detecting folder as "dirty", which leads to its removal and recreation. Can't the same be reused for short_paths and virtually everything?

[2020-11-06 11:38] lasote opened #8020 "[bug] Python 3.9 makes different tar files"
The test `test_conan_data_as_source` fails in Python 3.9 because the checksums of the files are not the same in Python 3.9.
The change is introduced in Python because there was a "bug" generating tar files reported [here](https://bugs.python.org/issue18819) and fixed [here](https://github.com/python/cpython/commit/674935b8caf33e47c78f1b8e197b1b77a04992d2)
The thing is, even changing the "type" to

[2020-11-06 11:44] petermbauer commented on #1905
As i again came across this issue i did not want to create a new issue but at least leave a comment:
This is not only a limitation of Windows and Python. Most of the compilers under Windows have this limit so it will take some more years until this is properly solved. I can imagine that shortening the hash part of the paths in the local cache and having to deal with potential collisions is hard bu

[2020-11-06 13:04] memsharded commented on #8020
I have checked a bit the checksum of .tgz:

- It is only retrieved from the servers during the upload using Api V1, but it is not really used there. ApiV2 doesn't retrieve them at all.
- They are not used much in the Conan codebase.  At the moment only for the ``CachedFileDownloader`` for Api V1 only
- The Artifactory de-dup protocol might do an extra upload if simultaneously using Python<3.9 and

[2020-11-06 18:25] Yuri6037 opened #8022 "[bug] XCode 12 completely broken"
### Environment Details (include every applicable attribute)
  * Operating System+version: GitHub Actions OSX
  * Compiler+version: XCode 12
  * Conan version: 1.31.0
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)
Using conan to download and build a static version of ZLib under OSX XCode 12 running from GitHub Actions CI.

### Logs (Executed commands with output) (Includ

[2020-11-06 18:51] memsharded commented on #8022
Hi @Yuri6037

There could be different reasons for this, we should first analyze what is happening:

- It could be that zlib simply doesn't build with XCode12, unless without some patching. This might require improving the zlib recipe in conan-center-index. Something like: https://github.com/conan-io/conan-center-index/issues/3008
- Then there is something failing with the auto-detection of the co

[2020-11-06 19:59] 0x8000-0000 opened #8023 "[feature] Add variable to enumerate all required packages"
Our build/packaging/release process requires that we aggregate in the install directory all the licenses of the packages that we are using.

I would like an officially supported way to enumerate all Conan packages that were used during the specific build configuration.

I see that there is a "CONAN_TARGETS" variable that seems to have the information, but it is not entirely clean (I would need to

[2020-11-06 21:09] Yuri6037 commented on #8022
Unfortunatly I do not have a Mac with XCode 12 on me. I only have GitHub Actions CI which does not have interactive SSH.
EDIT: I just found https://github.com/mxschmitt/action-tmate. I will try to see if I can run this action on my GitHub free plan.

[2020-11-07 14:37] SSE4 opened #8025 "[bug] CMAKE_SYSTEM_PROCESSOR isn't set"
from https://github.com/conan-io/conan-center-index/pull/3392
/cc @KristianJerpetjon

[CMAKE_SYSTEM_PROCESSOR](https://cmake.org/cmake/help/v3.7/variable/CMAKE_SYSTEM_PROCESSOR.html) is not set by conan in CMake build helper.
as result, cross-compiling for armv8 fails for certain recipes (at least **libpng** and **libjpeg-turbo**)

[code]

### Environment Details (include every applicable attribut

[2020-11-07 17:05] jgsogo opened #8027 "[bug] JSON output not generated when package is not found in remote"
Use a package that doesn't exist in the remote:

 * Regular search generates `out.json` file:

[code]

 * JSON file is not created if the param `--revisions` is added
[code]

   I would expect a file with the same error. If the package exists there will be a revision, otherwise, the package doesn't exists.

[2020-11-07 20:09] SSE4 commented on #7615
unfortunately, I don't see how it could be implemented with the current `CppInfo` model.
I suppose `CppInfo` should be extended, for instance:
[code]

[2020-11-08 13:11] Gbd199 commented on #7487
@memsharded can you please address the issue?
It became relevant once again in my team, and as I stated before using short paths or removing the limitation through the registry is not possible for us. The fix is simple and non damaging.
thanks

[2020-11-08 18:47] memsharded commented on #7487
Hi @Gbd199

We have got some more reports from users lately, that they tried to avoid the path length limitations in Windows, enabling them at the Windows system level, but then consistently failing to work because limitation in the build systems, compilers or other tools that will not work with long paths.

Overall, it seems that you should be using different caches. WSL is a Linux subsystem and

[2020-11-08 19:03] madebr opened #8028 "[bug] Documentation does not list self.cpp_info.frameworks"
The [`cpp_info` documentation](https://docs.conan.io/en/latest/reference/conanfile/methods.html#cpp-info) does not mention `self.cpp_info.frameworks`.
Is this attribute, aimed for Macos, valid and supported?
It's used by some recipes at conan-center-index.

[2020-11-09 09:09] theodelrieu commented on #8025
Don't know if that can help, but here is what I had to do to workaround CMake + iOS issues in `darwin-toolchain`: https://github.com/theodelrieu/conan-darwin-toolchain/blob/release/1.0.8/darwin-toolchain.cmake

Additionally, here is the related issue I opened on Kitware's GitLab:

* https://gitlab.kitware.com/cmake/cmake/-/issues/20036

[2020-11-09 11:49] gallencalade opened #8029 "[question] What is "unrelated mode" side effect if use it to solve dependency conflict ?"
There are three packages and their dependency relationship in `requires` in `conanfile.py`:

[code]

In fact, there is an error that missing pkg-B 0.1 built with pkg-A 0.2. Because of the working-net environment, I can not get the source of pkg-B to build it with pkg-A 0.2. I found I can use `default_package_id_mode = unrelated_mode` in `conan.conf`  to escape this error. Is it right to solve this

[2020-11-09 12:47] uilianries opened #8030 "[feature] Keep same paramenter pattern for build helpers (Conan 2.0)"
When using a build helper, sometimes I need to check the documentation to remember if it uses `configure_dir` or `configure_folder`, or `source_folder` or `source_dir`.

I would like to see the same pattern, and keep the same names for any new build helper. I would say `configure_folder`, `build_folder` and `source_folder`.

[AutoToolsBuildEnvironment](https://docs.conan.io/en/latest/reference/bui

[2020-11-09 13:32] alanb-sony opened #8031 "[bug] Remove cryptography version restriction on macOS"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.0
  * Compiler+version:
  * Conan version: 1.31.0
  * Python version:3.8.6

The latest version of the cryptography module now installs cleanly on macOS so should the restriction added due to issue #431 now be removed?
This causes a conflict with authlib which requires (though doesn't declare see

[2020-11-09 15:09] Paingouin opened #8033 "[feature] Add clang 12 support for conan"
Hi,

I use conan with cmake for a small multi-plateform project (SDL2/glew/gtest) , I'm quite happy with it, as it work without any problem so far. :)

The only problem I have is when I wanted to add an emscriptem port of the project : the version of clang used by the emscriptem SDK seems to be clang 12.

`> emcc -v
emcc (Emscripten gcc/clang-like replacement + linker emulating GNU ld) 2.0.7
clang

[2020-11-09 15:57] madebr commented on #6863
This is a bug in the boost recipe at conan-center-index.
There is a pr aiming to fix this at https://github.com/conan-io/conan-center-index/pull/2097.

[2020-11-09 17:48] memsharded commented on #8033
Hi @Paingouin

apple-clang 12 has already been added to Conan: https://github.com/conan-io/conan/blob/bbfb6b5ddfd2beadeffc3f4b262faec4373f2b50/conans/client/conf/__init__.py#L90

Is apple-clang the one that you want?

If it is clang, 12 has not been released yet: https://releases.llvm.org/download.html. It is added when it is released. You can definitely try adding it to your ``conf/settings.yml``

[2020-11-09 17:50] memsharded commented on #8031
Hi @alanb-sony

This has been fixed already in https://github.com/conan-io/conan/pull/7962, and will be released in Conan 1.31.1 asap (hopefully tomorrow).

Is there a bug in your report, or you are actually referring to Conan 1.13 and not 1.31? We don't plan to backport this down to 1.13... 😅

[2020-11-09 18:25] memsharded commented on #8029
Hi @gallencalade

Yes, going ``unrelated_mode`` can have bad effects, like incomplete applications, old code running, binary incompatibility... It really depends on your source code, the changes that are done between version pkg-a versions 0.1 and 0.2, etc.

The safest approach in all cases is to build new binaries. It is very likely that pkg-B/0.1 built with pkgA/0.1 is a different binary that pk

[2020-11-09 18:26] memsharded commented on #8030
Yes, this makes sense. Not for Conan 2.0, this is something that we want to make sure it is implemented correctly in the new toolchains.

[2020-11-09 20:40] Paingouin commented on #8033
Hi @memsharded :)

thanks for the quick answer !
It's seems that emscripten use the non-officialy release of llvm 12.

But I've tried to modify the settings.yml file and it looks like it work !

To be fair I don't really know why they use the unstable version of llvm the sdk instead of the stable one but I guess it's easier to maintain like this on their side.

Thanks again ! 👍

[2020-11-09 21:26] memsharded commented on #8033
Happy to know that it works @Paingouin !

Lets keep this issue open until it is officially released. Thanks.

[2020-11-09 21:41] memsharded commented on #7105
A decision has been taken:

Anything that is done via inheritance, import system, objects that get injected collaborators will NOT work for user code (via python_requires, for example). As we see this is a very common approach in users codebases, better have a explicit approach, without any magic: to pass anything necessary via conanfile.xxxx members.

[2020-11-10 01:59] gallencalade commented on #8029
Well, all the packages are shared libs. Even if the shared lib is changed, except interfaces in header files, we also have to build a new binary. May be, it is a temporary and risky way to use `default_package_id_mode = unrelated_mode`.

Thank you!

[2020-11-10 01:59] #8029 closed, assigned to memsharded

[2020-11-10 09:00] alanb-sony commented on #8031
Yes sorry I was using 1.31.0. Is there a good reason for keeping a version restriction in for macOS? Wouldn't it be simpler to just remove the restriction and make it the same as other platforms?

[2020-11-10 09:56] DukeOfKirkcaldy opened #8035 "[suggestion] failure to auto-detect a compiler for the default profile should not report 'ERROR:'"
Conan outputs that there has been an error when no compiler is found during auto-detect:

[code]

This happens often because my compiler is not installed on the machine - I am using a `build_requires` package for my cross-compiler toolchain and `conan config install ...` to get the profile which adds it.  But I do still want to auto-detect to get the correct values for `os`, `arch`, etc. based on

[2020-11-10 10:20] memsharded commented on #8031
Yes, the cryptography dependency is added only for Darwin, not for other platforms, because that is the only platform that requires it, otherwise it will have issues communicating to servers. The valid ranges in Conan ``requirements.txt`` typically respond to the moment in time they are introduced, and to feedback of users about failures, incompatibilities, etc. Completely removing restrictions wo

[2020-11-10 10:20] #8031 closed, assigned to nobody

[2020-11-10 10:30] alanb-sony commented on #8031
Ah OK, I was sure I saw an unrestricted requirement for cryptography for other platforms, maybe I imagined it or it was in a historical version when I was investigating the issue

[2020-11-10 11:04] #8027 closed, assigned to nobody

[2020-11-10 12:30] petermbauer commented on #6405
The following workaround came to my mind, so far this approach looks promising though it requires an additional e.g. `conan install -o build_target=coverage ..` in case a different target shall be built but this is not a big deal for the CI. And even if somebody would create a binary package from such a special build target, it would be clearly visible in the package.
[code]
Are there any other ri

[2020-11-10 15:27] bialasjaroslaw opened #8036 "[bug] curl.exe linking fail on windows/gcc/shared"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Pro 64bit
  * Compiler+version: g++ (x86_64-posix-seh-rev0, Built by MinGW-W64 project) 8.1.0
  * Conan version: 1.31.0
  * Python version: 3.9.0

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

At the end of building stage:

[2020-11-10 15:42] memsharded commented on #8036
Thanks for reporting @bialasjaroslaw

It seems more an issue of the curl recipe (it might even be an issue of the curl library build system itself, not the recipe), so I am moving this to the conan-center-index repo, as not a client issue.

[2020-11-10 16:22] Nipheris commented on #7485
Hi @memsharded !

What do you mean when say "will not be resolved"? The `if` block that @Minimonium propose to use is processed by CMake itself at the cmake-generation step (when files for the underlying build system like MSBuild/Ninja/etc are generated), and `CMAKE_GENERATOR` is already defined at this moment. We've met the same problem now, and after patching the generated `cmake_toolchain.cmake

[2020-11-10 16:40] Johnnyxy opened #8037 "[question] is profile:build mandatory when using profile:host"
Hi there,

I am using the cross-building profiles feature ([Conan doc here](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#using-build-requires)). Is it intentional that one has to provide the ```--profile:host``` and ```--profile:build``` profiles?

I was under the impression that the following command lines should be the same:
- ```conan install abc/0.0.0@ --profile:h

[2020-11-10 17:18] lieser opened #8038 "[bug] msbuild generator: setting of LocalDebuggerEnvironment does not work with multiple dependencies"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.31.1
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)

1. Require at least two dependencies with shared libraries (e.g. boost and sqlite3)
2. Call `conan install . -g msbuild`
3. Include the generated `conan_dep

[2020-11-10 17:58] jgsogo commented on #7870
I've been having a look at it and it can be very challenging to pass the information about the configuration to the place where the calls to the remote are being done. I would say we need first to store the actual configuration for a package (settings, options, requirements,...) in the `node` object to have it available here https://github.com/conan-io/conan/blob/7f03c1d340eedcf9772722361a42dfb4ba

[2020-11-10 18:29] memsharded commented on #7870
That would be accessible in ``node.conanfile.info`` object at that point.

[2020-11-10 18:40] klimkin opened #8039 "[feature] Better set_version example in documentation"
It would be nice to have a set_version example in the documentation that promotes semver tags. This also matches version convention supported by CMake:
[code]

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-11-10 19:18] memsharded commented on #8038
Hi @lieser

Thanks for reporting this issue. Apparently it is good enough to do the chaining and append the existing ``LocalDebuggerEnvironment``, as it is done with the other properties. I have submitted a https://github.com/conan-io/conan/pull/8040 pull request to fix it, if everything goes well, this might be included in next Conan 1.32.

If you want to try to run from the source branch of that

[2020-11-10 23:23] f18m opened #8041 "[bug] Conan 1.31.1 does not work since urllib3 1.26.0 release"
### Environment Details (include every applicable attribute)
  * Operating System+version: Centos 7.8
  * Compiler+version:
  * Conan version: 1.31.1
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)

pip3 install conan

[code]

conan --version

[code]

Just for check:
pip3 list | grep -E 'conan|urllib|requests'

I get

[code]

[2020-11-11 00:24] memsharded commented on #8041
Hi @f18m, thanks for reporting this

I am not sure why we even explicitly constrain urllib3, I am doing https://github.com/conan-io/conan/pull/8042 to check

It seems that constrain comes from buggy urllib3 version that was filtered out in https://github.com/conan-io/conan/pull/5808. If requests is doing the right thing now, maybe we can skip it?

[2020-11-11 04:59] Yurmusp opened #8043 "[bug] cmake.patch_config_paths() fails with PermissionError"
Hi,

I'm building OpenCV 4.3.0 for aarch64.
It's cross build.
It's modified version of https://github.com/conan-community/conan-opencv
Everything compiles, then installs but this last patching step during packaging fails:
506     def package(self):
507         self.copy("LICENSE", dst="licenses", src=self._source_subfolder)
508         cmake = self._configure_cmake()
509         cmake.install()
51

[2020-11-11 07:49] dariuszparys commented on #8041
The 1.31.1 version throws this in our packer build

[code]
Python 3.7.7 on Windows

[2020-11-11 08:30] #8038 closed, assigned to memsharded

[2020-11-11 08:31] memsharded commented on #8038
https://github.com/conan-io/conan/pull/8040 has been merged, it will be released in next Conan 1.32. Thanks again for the feedback.

[2020-11-11 08:42] memsharded commented on #8043
Hi @Yurmusp

Quick question: are you building it using some kind of shared folder between the host and the vagrant? Because these errors many time are shared folders permissions. It would be useful to retry in a non-shared folder in the vagrant.

[2020-11-11 08:50] aheumaier commented on #8041
This seems his seems to affect other conan version s as `1.30.X` and `1.29.x`   too .
Reproduce with :

[code]

[2020-11-11 08:54] trend-laurence-cheng commented on #8041
The workaround for me is downgrading urllib3 to `1.25.11`.

[2020-11-11 09:34] lieser commented on #8038
Just tested the change, and it works for me now. Thanks for the quick fix.

Btw, what was a lite confusing to me was how the msbuild generator behaved regarding existing files. Because the output explicitly stated `Generator msbuild created conan_sqlite3.props`, I assumed the existing file gets overwritten, and was wondering why your change did not apply. Took a while to figure out I had to first

[2020-11-11 09:59] dariuszparys commented on #8041
After reading through the workaround this also works with the latest conan package

`pip install conan --upgrade --use-feature=2020-resolver`

[2020-11-11 10:12] stephanvalentan opened #8044 "[question] How to specify system lib dependency in conanfile.txt / conanfile.py"
Hello,

we are in the process of integrating conan into our cmake-based build system. In our case we have created some packages that have some system-dependencies which are handled via the `self.cpp_info.libs` and `self.cpp_info.system_libs` attributes of the `conanfile.py`.

I was wondering, is there a similar mechanism on the consumer side as well? Our consuming project depends on the packages b

[2020-11-11 10:35] memsharded commented on #8038
Yes, that is true, files are not overwritten, because they keep appending .props files for different configurations. Otherwise it will not be a multi-configuration generator, and only 1 configuration will work at a given time.

This should be extremely unlikely, and only happen if you upgrade Conan version + the generator templates has changes + you are keeping the previous .props from previous in

[2020-11-11 12:24] lieser opened #8045 "[feature] MSBuild helper: Automatic selection of vcvars_ver based on compiler.version and compiler.toolset"
Although it is already possible to manually set the `vcvars_ver` version, I think it would be good to have the option to let Conan automatically detect and chose the correct version. Maybe even consider making this the default.

Use case for us:
In our CI we use the Build Tools for Visual Studio 2019, which also includes a compiler for Visual Studio 2017 (platform toolset (`compiler.toolset` in Co

[2020-11-11 13:11] n-bes commented on #8041
Log from windows gitlab-ci agent
[code]

[2020-11-11 15:03] czoido commented on #8041
This will be closed by: https://github.com/conan-io/conan/pull/8042 already merged in Conan 1.31.2 and will be released in a couple of hours.
For the rest of versions it should not affect after requests launches v2.25.0 (https://github.com/psf/requests/pull/5651) that will be imminent. Meanwhile some of the workarounds mentioned here can be used.
Thanks a lot for reporting!

[2020-11-11 15:03] #8041 closed, assigned to nobody

[2020-11-11 16:01] a4z commented on #7566
I think I can close that, the 2 profile approach solves, if not everything, at least a lot
so that's fine for me

[2020-11-11 16:01] #7566 closed, assigned to jgsogo

[2020-11-11 16:17] czoido commented on #8041
Conan 1.31.2 just released fixing this problem

[2020-11-11 17:28] Yurmusp commented on #8043
The folder with code  similar to conan-opencv  is  nfs mounted. However,
~/.conan is not on any network mount.

I copied sources to not NFS folder and built it again.
It failed same way.
I tried to remove build folder: same thing.

[2020-11-11 18:30] Yurmusp commented on #8043
I was able to pass the build with adding this hack:
os.system('find $HOME/.conan/data/opencv -name "*.cmake" -print | xargs -n 1 chmod 644')
before
cmake.patch_config_paths()

Somehow build makes many *.cmake files having 444 permission.
I'm not sure how this happens and I'm not sure what to blame.
Is it cmake issue, cmake scripts issue or conan issue.
I was not able to google any other example of

[2020-11-11 18:33] SSE4 commented on #8022
I will update Xcode tomorrow to 12.1 and let you know. it's 11.3 Gb, I am on slow internet right now.

[2020-11-11 21:26] memsharded commented on #8043
I am having a look, there are 2 alternatives:

- Make it builtin in Conan, adding ``os.chmod(file_path, os.stat(file_path).st_mode | stat.S_IWRITE)`` inside the ``tools.replace_in_file()``.
- Decide that ``tools.replace_in_file()`` should respect file permissions, and the ``os.chmod()`` should be done by the recipe.

I can see pros & cons from both, lets ask for team feedback to decide, please @SS

[2020-11-11 21:47] memsharded commented on #8045
Hi @lieser

This is weird, we have some tests in the codebase that use different toolsets, and they dont fail using the default ``vcvars_ver``.
I think there are other Conan users using toolsets too, and it didn't fail so far.

I think we need to define some new tests in CI with 2019+v141 (using 2017 so far), maybe something has changed in vcvars in 2019 regarding toolsets.

[2020-11-11 23:10] memsharded commented on #8045
I am doing a test (with the new MSBuildToolchain, but it should be the same, internally, it is using vcvars() with ``vcvars_vers=None`` = the default) in #8047 that is working in my computer fine (might fail in CI, I don't think we have VS2019 there yet)

[2020-11-11 23:38] lieser commented on #8045
Note that the first time I encountered it a few weeks ago, I could not reproduce it with a local VS 2019 installation of the IDE (not build tools, and also VS 2017 installed in parallel). There, the default VCToolsVersion worked for both v142 and v141. And if I specifically selected `14.1` as `vcvars_ver` for the CI, it no longer worked locally (as no 14.1x version was installed for VS 2019.

This

[2020-11-11 23:55] memsharded commented on #8045
I just installed a clean VS 2019, with ``MSVC v142 - VS 2019 C++ x64/x86 build tools (v14.28)``, and the test in #8047 is working fine. I also have VS2017 installed locally.

[2020-11-12 04:28] Yurmusp commented on #8043
Another option that I see that there can be a parameter to tools.replace_in_file(respect_permissions=True)
So, it will fail by default, but user can override by setting it to True.
Also, another question is if we override, then after patching, do we leave file writable? or restore original permission?
I guess this also can be addressed with a parameter with default value.

[2020-11-12 08:52] SpaceIm opened #8048 "[bug] cmake_find_package_multi: create lowercase config file"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently, `cmake_find_package_multi` generator seems to create the "case sensitive" version of config files: `NameConfig.cmake`

I would suggest to create instead the lower case version: `name-config.cmake` (maybe only if name is already lower case).

Why?

Because when a file like `

[2020-11-12 10:06] memsharded commented on #8048
Oh, this is interesting. We added ``self.cpp_info.filenames["cmake_find_package_multi"] = "protobuf"`` explicitly to the model because it seemed necessary to match the upstream casing of the file. If lowercase always work, this isn't necessary anymore for ``cmake_find_package_multi``?

Are you sure it is always case insensitive, for all CMake versions and in all platforms and OSs? Is it possible t

[2020-11-12 10:07] memsharded commented on #8039
This seems a useful example, moving this to the docs repository.

[2020-11-12 10:13] memsharded commented on #8044
Hi @stephanvalentan

I am not sure what you mean. When you add some ``system_libs`` information, it will be encoded in the different generated files by generators, like the ``cmake`` generated ``conanbuildinfo.cmake`` or the ``xxxxConfig.cmake`` generated by ``cmake_find_package_multi``. Using those files will pull the information, no need to add them manually in your consumer CMakeLists.txt too.

[2020-11-12 10:43] stephanvalentan commented on #8044
Hi, thanks for the quick reply!
I'm sorry for not making this clear, i was talking about the cmake(multi) generator.

I was already chatting with some guys in the slack channel, to clearify what I wanted to I wanted to achieve:
Our consuming project both depends on a conan package, as well as an _unrelated_ system lib, say `WinTrust.lib`.
I thought it would be neat to be able to just write the con

[2020-11-12 11:05] SpaceIm commented on #8048
Sorry I don't understand.

if `self.cpp_info.filenames["cmake_find_package_multi"] = "protobuf"`, with `cmake_find_package_multi` generator, `find_package(protobuf CONFIG)` works, but not `find_package(Protobuf CONFIG)` while it should.

From https://cmake.org/cmake/help/latest/command/find_package.html

This is why I recommend to create:

- `<PackageName>Config.cmake` if `self.cpp_info.filenames[

[2020-11-12 11:11] SpaceIm commented on #8048
This is why I recommend to create:

- `<PackageName>Config.cmake` if `self.cpp_info.filenames["cmake_find_package_multi"]` has at least one upercase letter.
- `<packagename>-config.cmake` if `self.cpp_info.filenames["cmake_find_package_multi"]` is lowercase.

[2020-11-12 11:41] memsharded commented on #8044
Yeah, but that would be much trickier and full of rough edges and corner cases than it seems:

- A ``conanfile`` can work for different configurations, profiles, settings, etc. Adding a library name directly in the conanfile will likely make it single-platform, as library names might change between platforms.
- There is no control to whom will receive that information. With modern generators like

[2020-11-12 11:54] lieser commented on #8045
I updated my VS 2019 and still got the same results with build tools (v14.28).

Tried to run your test case, but was not able to execute it:
1. Imports did not work, because the added path also included the comment from the `tox.ini` (`# Needed to avoid errors ...`). After removing it, the import worked.
2. Afterwards, the test case was still skipped. I tried to run it with `py -3 -m tox -e py38 -

[2020-11-12 12:21] SSE4 commented on #8043
having read-only files in a package is pretty common, and it's pretty common to patch them. IMO `replace_in_file` should:
1. remember file metadata (unix permissions, windows read-only flag)
2. temporary add write permission and remove windows read-only flag
3. apply changes
4. restore file metadata

[2020-11-12 12:25] stephanvalentan commented on #8044
I totally agree that there are a lot of issues, i just thought that with conan being as smart as it is, that there already exists a easy built-in way of handling this situation.
E.g. what comes to my mind is that the `WinTrust.lib` dependency could be wrapped  in a lightweight proxy package as you suggested, but automatically such that the dependency just resides in the local cache. From this poin

[2020-11-12 12:40] memsharded commented on #8044
Conan is not that smart, it is a "barbarian"! 😄 Actually it is kind of true, we try hard to have Conan not be too smart, do not do magic, but try to be as explicit and simple as possible. Not always possible, but at least it is design intent.

That is the kind of magic we have learned (sometimes the hard way) that it doesn't scale well, and having it explicitly solved in a user defined conanfile.p

[2020-11-12 12:40] #8044 closed, assigned to memsharded

[2020-11-12 13:00] SSE4 commented on #8022
for me works with Xcode 12.1 locally. seems to be some misconfiguration on GitHub actions?

[2020-11-12 13:08] SSE4 commented on #8022
there are quite a few similar issues:
https://discourse.brew.sh/t/solved-scan-build-from-llvm-7-0-seems-broken-on-macos-mojave/3151/12
https://github.com/pocoproject/poco/issues/2107
https://donatstudios.com/MojaveMissingHeaderFiles

the solved by running:
[code]

not sure, probably GitHub Actions should also install headers components?

[2020-11-12 13:10] Yuri6037 commented on #8022
If that is the problem why did it used to work before XCode 12?

This is not the first time I have issues with Conan. I had many issues with Conan in the past including issues with certain customers who are reluctant at install Python on their computers.
Due to all the integration problems there are in Conan with CMake, these package compilation issues and other problems, I have decided to replace

[2020-11-12 14:15] Jochen0x90h opened #8049 "How to install executable to $HOME/.local"
Hi!

Is it possible to install a conan package that contains an executable and all its dependent libs to $HOME/.local?

Thanks

[2020-11-12 14:36] lieser commented on #8045
Did some further test, and found the underlying issue:
If msbuild is called with `/p:UseEnv=true`, which is the default for the old build helper, the error occurs.

I noticed that the new build helper does not set `/p:PlatformToolset="v141"`, but only adds it to the toolset property file. Even with including it, it does however not seem to work.
I changed in `MyApp.vcxproj` the `PlatformToolset` t

[2020-11-12 16:11] memsharded commented on #8049
Hi @Jochen0x90h

You might implement the ``deploy()`` method (https://docs.conan.io/en/latest/devtools/running_packages.html#deployable-packages), which contains an absolute path in the ``dst`` argument, getting the env-var, something like:

[code]

And then install as:

[code]

Without coding the ``deploy()`` method in your recipes, you might also try to move to the folder you want and execute:
[

[2020-11-12 17:13] blackliner opened #8050 "[question] find_package with cmake_path generator"
According to https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_paths_generator.html, the main reason for using `cmake_paths` is to keep conan specific code out of the CMakeLists.txt

When I tried to get it running with Catch2, I immediately failed, because apparently the ConanCenterIndex is purging custom recipes (according to a comment [HERE](
https://github.com/catchorg/Catch

[2020-11-12 17:50] solvingj opened #8051 "[bug] conan lock create cannot update lockfile when it should"
My understanding is that this would be the way to take a fully populated file and and rebuild a new recipe revision of an intermediate component against it.

### Environment Details (include every applicable attribute)
  * Operating System: linux
  * Compiler+version: gcc+7
  * Conan version: 1.30.2
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed

[2020-11-12 18:12] jgsogo commented on #8043
I agree with @SSE4 and I think we can do it by default (no need to require an extra parameter). In the end, it is the recipe the one writing the file and it is the recipe the one applying the patch

[2020-11-12 18:16] memsharded commented on #8050
Hi @blackliner

This is expected and by design in ConanCenter.

The fact is that the generated FindXXX.cmake or xxxConfig.cmake files, generated at build time by CMake have a number of limitations, mainly they can be problematic with transitive dependencies, and might fail to depend on other transitive conan packages, depending on an outdated library version found at the system level, and also the

[2020-11-12 22:03] blackliner commented on #8050
That would mean that in addition to using Conan as a package manager, I would also have to introduce it into my build system. I wanted to avoid that, to be able to stay independent.

We are in a evaluation phase (conan vs vcpkg), do have private artifactory/Jfrog/whatnot, and are willing to provide handwritten packages, use toolchain files. Oh, and also use Visual Studio 🙈 After watching [Mathieu

[2020-11-12 22:12] datalogics-robb opened #8052 "[bug] cross compiles should pass 3 settings to CMake"
When we upgraded Conan to 1.30.2 from 1.29.2 our SPARC Solaris 32-bit builds broke.
After some investigation, and discussion with CMake people,

https://gitlab.kitware.com/cmake/cmake/-/issues/21433

Conan passes -DCMAKE_SYSTEM_NAME="SunOS" in this case, but it should also pass
 -DCMAKE_SYSTEM_PROCESSOR="sparc"   (same as Conan setting "arch")

without the -DCMAKE_SYSTEM_PROCESSOR flag, Cmake is b

[2020-11-12 22:50] memsharded commented on #8052
Hi @datalogics-robb

I am trying to understand, if this is a regression or a "complete this bugfix" request. As you said this broke will upgrading Conan, just to make sure, you didn't upgrade other things like CMake, did you?

Then the issue appears because in Conan 1.30 Conan now passes ``-DCMAKE_SYSTEM_NAME="SunOS"``, but it didn't define it in Conan 1.29? If that is the case, then your request

[2020-11-12 22:55] memsharded commented on #8050
I don't understand why. You don't need to change your build system at all, your CMakeLists.txt will still use the normal ``find_package()`` calls. There is no difference between the ``cmake_paths`` and the ``cmake_find_package_multi`` generator from the consumer CMakeLists.txt point of view, just the later provide more consistent and less fragile behavior. Could you please clarify what you mean?

[2020-11-13 08:32] blackliner commented on #8050
Oh, I was under the impression that I need to use `cmake_find_package_multi(Catch2 REQUIRED)` instead of `find_package(Catch2 REQUIRED)` 🤦  I will try out the `cmake_find_package_multi` generator 👍

[2020-11-13 08:39] memsharded commented on #8050
Oh, no that is only the name of the generator! 😄

It is for your conanfile:
[code]

That is to differentiate it from the basic ``cmake`` generator that generates only a ``conanbuildinfo.cmake`` file to be included. Using the ``cmake_find_package_multi`` will generate regular find/config.cmake scripts, that can be use as usual with ``find_package()``. You only need to define, but that is standard c

[2020-11-13 09:05] blackliner commented on #8050
Alright, the files are generated correctly, and I am passing the CMAKE_PREFIX_PATH, CMAKE_MODULE_PATH seems to work. At least to find the Catch2 package. But it seems to be missing any include directory 🤷
[code]
In `compile_commands.json` you see that even that my target links to `Catch2::Catch2`, no -I / -isystem is passed to the compiler.
[code]

`catch2.cmake`
[code]

new `conanfile.py`
[code]

[2020-11-13 09:23] memsharded commented on #8050
Can you please post or link the whole output of the build command? There might be messages previous to the error, related to the usage of the generated find/config.cmake scripts

I just tried it (in Windows atm), and it seems to work.
My CMakeLists:
[code]

My main.cpp
[code]
Your conanfile, as-is. Then
[code]
And it works here. It might be something weird in system, or related to the usage of ``c

[2020-11-13 10:42] blackliner commented on #8050
First, thanks a lot for helping me out!

Found it, I did not use `--config Release` (to be honest, I am trying it out in Ubuntu18.04 with gcc, so no multi_cfg needed at this stage). It looks like Catch2 recipe only provides the include dirs for Release type builds, but not for Debug (default).

As you can see, `conan install ..` does only create a `Catch2Target-release.cmake`
[code]

`cmake ..` ak

[2020-11-13 10:49] Jochen0x90h commented on #8049
Hi @memsharded

Thanks for the reply.

The -g deploy method looks promising, but installs into individual directories. Is it possible to let it install everything into one bin/ and lib/ directory? This way all shared libs of the executable in bin/ are in lib/ and can be found at runtime.

Modifying the deploy() method is also interesting, but it seems it would be executed by default as soon as som

[2020-11-13 10:56] blackliner commented on #8050
According to Internet, I can call `conan install .. -s build_type=Debug` which will then create the required `Catch2Target-debug.cmake` (only that, no release). Then `cmake ..` is not enough, it needs to be `cmake .. -DCMAKE_BUILD_TYPE=Debug`. Maybe different story.

I thought the `cmake_find_package_multi` is capable of outputting all 4 build types simultaneously?

My goal is to do `conan install

[2020-11-13 11:04] memsharded commented on #8049
The ``deploy`` generator kinds of hardcode that behavior, so it cannot be change. But writing your own generator is relatively simple, and you can put it in your cache for reuse (and share and install it with ``conan config install``). We haven't implemented the builtin ``deploy`` generator as that, because there is a risk of collisions at the deploy step, and there might be libraries or executabl

[2020-11-13 11:07] memsharded commented on #8050
Yes, that is true. The ``cmake_find_package_multi`` generator is a multi-configuration generator. I use it because I am in Windows, and Visual Studio is multi-configuration, so it is necessary if you want to be able to use that feature in the IDE. The ``cmake_find_package`` generator is single-config one, will not care about release/debug configurations, and assume you only have 1 valid active con

[2020-11-13 11:10] blackliner commented on #8050
I also read https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_find_package_multi_generator.html#usage, and here it is mentioned to run both installs next to each other. So if I do the following, all required files are here:
[code]
Our project will have to support Win64, Linux (x86 and aarch64), QNX (aarch64), thats why I would like to stick to the swiss army knife `cmake_find_p

[2020-11-13 11:21] memsharded commented on #8050
Yes, yes, totally, the ``cmake_find_package_multi`` is good, this would be a small optimization for packages without build_type (like header only packages)

Yes, it does.

Yes, that should work except the default. The default conan profile is release, so if the cmake default is debug, you would need (in single-config envs):

[code]
I always do it explicitly. In single-config envs:

[code]
And in m

[2020-11-13 11:41] blackliner commented on #8050
Cool, unfortunately `cmake ..` is not Debug, its no build type at all. Like the 5th build type.

Thanks alot for your help, I still have to figure out a way to introduce it to the folks without any manual work on their side, and also minimal conan dependencies inside the root `CMakeLists.txt`, but you gave me an awesome headstart! One more commercial project that might use conan 👍

[2020-11-13 11:52] memsharded commented on #8050
Excellent! Happy to hear that. For more resources to get started with Conan I would recommend the Academy (https://academy.jfrog.com/path/conan), and the community in the CppLang slack (#conan channel) is really friendly and helpful too. And you can always open new issues here for further questions.

I am going to leave this issue open at the moment, because I want to have a look to the possibilit

[2020-11-13 12:24] DukeOfKirkcaldy opened #8056 "[bug] (lockfiles in CI) sources are not retrieved properly when building multiple configurations"
I have a recipe for a toolchain which retrieves sources based on the `compiler.version` setting:

[code]

In my CI job for this package, I want to build packages for different versions.  I am doing this by deriving different lockfiles from a base:

[code]

When building the second package, the sources of the first configuration are not updated.  It seems the `Configuring sources in ...` step is sk

[2020-11-13 12:39] memsharded commented on #8056
Hi @GordonJess

This doesn't look a lockfiles problem, but a model problem: you are doing different builds based on a different compiler versions, right? The ``source()`` method is common for all different builds of the same recipe version. It cannot be parameterized based on settings (and this will raise errors in Conan 2.0 or enabling CONAN_V2_BEHAVIOR (experimental)). If you have different code

[2020-11-13 12:51] DukeOfKirkcaldy commented on #8056
Ah!  Thanks a lot!  I didn't notice that note.  I'll give it a try!

[2020-11-13 13:09] DukeOfKirkcaldy commented on #8056
It works fine.  Thanks a lot, I'll close this now!

[2020-11-13 13:09] #8056 closed, assigned to memsharded

[2020-11-13 14:03] datalogics-robb commented on #8052
Correct.   Conan 1.29 does NOT add the -DCMAKE_SYSTEM_NAME flag to the cmake command line, and the setting for CMAKE_SYSTEM_PROCESSOR is correctly computed.   When using Conan 1.30, CMAKE_SYSTEM_PROCESSOR is empty.

[code]

It would be perfectly fine to simply eliminate the new flag that conan 1.30 added as a fix.

[2020-11-13 14:12] datalogics-robb commented on #8052
IMHO, a 32-bit build on a 64-bit OS does not have all the aspects of a cross compile that require a cross compile to have special handling.  Autoconf used to create a binary, then attempt to run it, if it didn't run Autoconf declared that you need to explicitly pass the "host triplet"s for a cross.

[2020-11-13 15:12] memsharded commented on #8052
Hi @datalogics-robb

I am trying to reproduce this, but if the os == os_build and arch == arch_build, the CMAKE_SYSTEM_NAME is not added at all. I am doing this test:

[code]

And seems to be fine. Is it possible that you have it defined elsewhere? In an env-var or something?

[2020-11-13 15:15] datalogics-robb commented on #8052
This message is also only output when using Conan 1.30:

     Cross-build from 'SunOS:sparcv9' to 'SunOS:sparc'

[2020-11-13 15:21] memsharded commented on #8052
So it is possible that your profile above is not fully correct and it is:
[code]
instead of?
[code]

Using ``arch_build=sparcv9`` indeed shows the issue, now I am checking what is easier and makes more sense, if remove CMAKE_SYSTEM_NAME or add the others. Please tell me.

[2020-11-13 15:59] pwaehnert opened #8058 "[question] Parallel build steps"
Suppose you've got the following recipe:

    class MinimalConan(ConanFile):
        name = "minimal"
        version = "0.0"

        def build(self):
            self.run("some heavy I/O bound and long lasting process")
            self.run("another heavy I/O bound and long lasting process")

Since the two `run` commands are independent from each other, I'd like to run them in parallel. The most

[2020-11-13 16:10] datalogics-robb commented on #8052
I've verified that this also resolves the issue using Conan 1.30.

[2020-11-13 16:35] czoido commented on #8058
Hi @pwaehnert,
I don't think it's possible right now using `self.run` as it is not going to return you what you need to launch those processes in parallel but I would suggest you try to use Python code directly to run those processes in parallel.
I think something like this: https://stackoverflow.com/a/12085254 could work
Hope this helps.

[2020-11-13 17:06] pwaehnert commented on #8058
Sorry, I don't understand. What do you mean by "use Python code directly"? Do you mean I should call `subprocess.run()` instead of
`self.run()` or I shouldn't pass `MinimalConan` as an argument to `apply_async()`? Both doesn't work either, even the following example fails:

    def worker(command):
        print(command)

    class MinimalConan(ConanFile):
        name = "minimal"
        version

[2020-11-13 17:27] czoido commented on #8058
I meant running the commands inside `self.run` directly with `subprocess.Popen` (sorry, what I meant was using Python built-in modules to launch the process), so instead of:

[code]
You can directly to `subprocess.Popen(["/bin/sleep", "1"]))` (this POC following the example in the link seems to work but It may not fit your needs):

[code]

[2020-11-13 17:42] memsharded commented on #8058
I am curious @pwaehnert what are the slow I/O operations that you are parallelizing? Build systems already have parallelism built-in, so it seems an interesting new use case to learn from.

[2020-11-13 18:30] #7870 closed, assigned to jgsogo

[2020-11-13 18:54] uilianries commented on #8044
Hi @stephanvalentan !

You can take a look on [Xorg recipe](https://github.com/conan-io/conan-center-index/blob/master/recipes/xorg/all/conanfile.py), where a system package is packaged as a proxy, so you can declared it directly in your conanfile.txt or conanfile.py without problems.

[2020-11-15 06:07] tjwrona commented on #7764
Hi @intelligide, the more I work with Conan the more I see a need for a feature like this. Needing to define all of my preprocessor definitions/compiler flags once in CMake and then again in the `package_info()` method in Conan is incredibly frustrating. Especially since Conan doesn't have a simple cross-platform way to set compiler flags like CMake does.

Do you know if anyone is looking into thi

[2020-11-15 09:21] a4z commented on #7493
I wonder if this whole issue could have been avoided when this
https://github.com/conan-io/conan-center-index/pull/1137
would have been pulled in and put into the documentation on how to build for iOS with conan

[2020-11-15 09:33] stephanvalentan opened #8060 "[question] Propagate options to required packages"
Hello!
Say i have a package `A`, depending on `B`. Now both A and B have an option `options = {"shared": [True, False]}`. However, if the option for A is set to true, it also needs to be set true for B.

So it possible to propagate the value of an option to a package it depends on?

Best, Stephan

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTR

[2020-11-15 09:39] stephanvalentan commented on #8044
Cool, thank you!

[2020-11-15 17:40] memsharded commented on #8060
Hi @stephanvalentan

You can try:

[code]

[2020-11-15 21:49] #7950 closed, assigned to czoido

[2020-11-15 21:53] Fallen-Zen opened #8061 "Installation of Conan fails on macOS Big Sur (seems like a dependency failure) on an Intel based iMac"
I have a clean install of macOS Big Sur (11.0.1) and I cannot install Conan which is really required for my work. Is there any workaround to have it working?
What I have:
[code]

[2020-11-15 22:25] memsharded commented on #8061
I see you have filed https://github.com/pyca/cryptography/issues/5568 already, and they are deferring to cffi project.

I don't know how this could be avoided, but having the cffi fixed. Have you tried removing the "cryptograpy" dependency? It was added in Conan ``requirements.txt``, because the https requests were failing otherwise. maybe there is a remote chance that it will work without it depe

[2020-11-16 04:45] Gollum999 commented on #5962
I ran into a similar issue today when using Conan through WSL.  Details:

### Environment
  * Operating System+version: Windows 10 19041.630 + WSL Ubuntu 18.04.4
  * Compiler+version: gcc 10.2.0, clang trunk (63ad0876567d7a782daedfe9f564942a37f063f5)
  * Conan version: 1.31.0
  * Python version: 3.6.9

### Steps to reproduce

[code]

I have tried creating an account at the specified link, but ente

[2020-11-16 08:28] memsharded commented on #8061
Could please someone with a Mac (@jgsogo @SSE4 @czoido ) play a little bit, remove the cryptography dependency and see what happens?

[2020-11-16 10:00] pwaehnert commented on #8058
@czoido: Thank you for writing out an entire possible solution! I'll try that in a minute.

@memsharded: We have to take care of approximately 200 Conan packages containing generated documentation and header files with generated binary data. These artifacts are platform independent and generated by several Java application. These Java applications in turn are relatively inert, often wait for serve

[2020-11-16 10:56] memsharded commented on #8058
Interesting, thanks for explaining!

[2020-11-16 13:41] vallant commented on #8060
Oh sweet, cool! Thank you!

[2020-11-16 13:43] stephanvalentan commented on #8060
Oh sweet, cool! Thank you!

[2020-11-16 15:43] sanko-oz opened #8063 "[bug] Getting [WinError 17] when user_home_short points to different drive and package is installed"
When setting up _user_home_short_ to point to another drive I get a [WinError 17] during a package install, which tells me that the conanmanifest.txt cannot be moved.
The current workaround is to force a full rebuild of the package.

Maybe this is the solution -> https://github.com/tsroten/fcache/issues/28#issuecomment-629452552

### Environment Details (include every applicable attribute)
  * Ope

[2020-11-16 16:23] lieser opened #8065 "[bug] msbuild generator: warning MSB4011 - conan_<dep>.props cannot be imported again"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: VS 2019
  * Conan version: 1.31.1

### Steps to reproduce (Include if Applicable)

1. Package A requires B
2. App requires A and B
3. In project file for App, include `conan_deps.props`

### Logs (Executed commands with output) (Include/Attach if Applicable)

`conan_deps.props`

[2020-11-16 16:34] lieser commented on #8045
Note that I think we no longer need this feature. Using the old build helper with `use_env=False` works fine for us so far. Maybe only consider documenting this better. So feel free to close this.

But I think it is a bug that the new build helper does not add the `/p:PlatformToolset` argument to `msbuild`, like the old build helper does.

[2020-11-16 17:58] FnGyula commented on #7506
Thanks @ohanar the explanation. Now onto changing my build_requires to private deps :)

[2020-11-16 18:10] FnGyula commented on #7506
Didn't mean to close it...

I did try to change our dependencies to use private instead of build_requires, but that turned out to be plain wrong. The problem with private requirements that they are still downloaded for any consumer for the package, which is absolutely not needed for static libraries already linked into the binaries. My guess here is that the private requirements are more of a hint

[2020-11-16 18:37] ohanar commented on #7506
@FnGyula

See also #7016.

Indeed there are a good number of issues with build_requires and even more so with private requires. These are intended to be addressed with Conan 2.0.

With build_requires in particular, a goal is to have a completely decoupled dependency graph from normal requires. You can opt-in to an experimental version of this behavior presently by using separate build and host pro

[2020-11-16 18:43] markushedvall opened #8066 "[feature] Support semver with 'v' prefix when calculating package id"
Where I'm working we have over 100+ conan packages using sematic versioning, but all with a 'v' prefix in their version. For example, a version could be v3.2.1. This still works well when using range versions for requirements as node-semver will clean the version, effectively ignoring the 'v' prefix.

However, the logic used when calculating the package id does not see it as a semver version. So `

[2020-11-16 20:01] memsharded commented on #8066
Hi @markushedvall

Though this issue kind of seems to make sense, I am afraid it would be massively breaking other users. Every user that have their packages with version ``vX.Y.Z``, which is completely valid and works perfectly, (also they might not even be using version-ranges at all) will suddenly have no binaries in their servers.

Moreover, the fact that node-semver support it might not be th

[2020-11-16 20:58] markushedvall commented on #8066
Thanks for the quick reply! That makes perfect sense.

We are currently settings the package versions directly from git tags (with v prefix). I've tried to convince that we should strip the 'v' to get a valid Semver, but so far I've failed. I'll give it another try, referring to this issue :)

[2020-11-17 01:32] solvingj opened #8067 "[feature] Suggest changing comments in conan new command"
Someone going through the training pointed out that this commentary made no sense to them, and to be honest, it doesn't make much more to me.  I understand what this code does, and why it might be done in some recipes.  However, it's a really old, ugly, and esoteric pattern, and not the only way to achieve the goal.  I recommend promoting virtually any other strategy as template content that users

[2020-11-17 04:23] w3sip commented on #4961
Ran into this as well today. Will have to work around by not using Conan for this particular project/package.

[2020-11-17 07:48] SSE4 commented on #8052
see also #8025

[2020-11-17 08:48] jgsogo commented on #7506
Hi, @FnGyula

I can subscribe to everything @ohanar has said in previous comments. The concept of _build-requires_ vs _requires_ will work as described: build-requires are intended to run in the build-machine (CMake, protoc, GCC,...) while requires are the libraries (or other executables) that will be compiled for the host-machine. You can't link to a build-requires, and build-requires won't propa

[2020-11-17 10:01] czoido commented on #8061
Hi @Fallen-Zen,
I have been doing some tests and removing cryptography seems to work for most of the normal use of Conan, so maybe it's an option for you to try that. Also, it seems like there are some possible workarounds: https://github.com/pypa/pip/issues/9138 https://github.com/pyca/cryptography/issues/5568#issuecomment-728666513
Anyway I'll continue to make some tests to check if it's safe to

[2020-11-17 10:01] ytimenkov opened #8068 "[bug] Inconsistent processing of config_options and assigning overridden values"
### Environment Details (include every applicable attribute)
  * Conan version: 1.31.1
  * Python version: 3.8.5

## conanfile.py
[code]

## Test
[code]

## Original use-case
I'd like to provide different default options depending on whether package is being developed (i.e. dependencies are installed via `conan install <path> ...`) or created / consumed as a dependency (or via `conan create <path>

[2020-11-17 10:02] ytimenkov commented on #8068
There are many issues about options and propagating / overriding their values so please close as duplicate if there is a more suitable issiue already.

[2020-11-17 11:45] djeverett opened #8069 "[question] full_version_mode and ConanCenter query"
I want to have the conan.conf setting of `general.default_package_id_mode=full_version_mode`, but I also want profiles that pull in CMake from ConanCenter:
[code]
This does not work as the CMake recipe in ConanCenter specifies:
[code]
and so needs either major or semver version modes.

I'd really rather avoid having to set full version mode for every single dependency in every conanfile.py  (with

[2020-11-17 12:45] czoido commented on #8061
Doing some research about [cryptography, pyopenssl and idna](https://github.com/conan-io/conan/blob/8ece0c03c661cc7bd2528fd20351e74f2156a177/conans/requirements.txt#L17-L19) and why are we adding them, I think that maybe we could consider removing those dependencies:

- `idna` was [introduced](https://github.com/conan-io/conan/pull/3024) because installing via requests was installing an incorrect

[2020-11-17 12:46] memsharded commented on #4961
I am proposing a configuration possibility in: https://github.com/conan-io/conan/pull/8070. Let's see if we can move it forward now in Conan 1.X (and maybe this could be the default in Conan 2.0?)

[2020-11-17 12:55] memsharded commented on #8069
Hi @djeverett

The ``default_package_id_mode`` is a global configuration that changes how the ``package_ids`` are computed. ConanCenter uses just the default one, and all the binaries there are built with that mode.

I understand that the problem you are having is that there are no binaries in ConanCenter for your configuration? That is totally expected, it is impossible that we could create all b

[2020-11-17 13:12] djeverett commented on #8069
There should be binaries for my configuration.  The profile is:
[code]
The ConanCenter info gives:
[code]
Now the compiler version does not match, but I have found that if I use a default package ID mode of `semver_mode` or `major_mode`, then CMake installs.  If it is `full_version_mode`, CMake does not install.

[2020-11-17 14:22] memsharded commented on #8069
The ``default_package_id_mode`` also affects the binary ``package_id``, not only the settings + options. If you change the mode, you need to recompile the binaries, because the ``package_id`` will be different.

[2020-11-17 14:26] djeverett commented on #8069
OK, understood.  I'll have to build from source and upload to our own repos then.  Thanks for the information.

[2020-11-17 14:26] #8069 closed, assigned to memsharded

[2020-11-17 14:37] Da-LiFe opened #8071 "[question] unable to override version of dependency"
I've some questions regarding overriding dependency versions.

We packaged the [ros stack](https://www.ros.org/) part of it beeing the following packages:
- `ros_perception/1.1.4@3rdparty/unstable`
- `ros_core/1.1.4@3rdparty/unstable`

with ros_perception requiring ros_core.

Additionally we have a pkgA, that requires ros_perception as well as pkgB:
[code]

pkgB also requires ros:
[code]

Alltoget

[2020-11-17 15:29] czoido commented on #8052
Closed by https://github.com/conan-io/conan/pull/8059 released in 1.31.3

[2020-11-17 15:29] #8052 closed, assigned to nobody

[2020-11-17 18:23] jgsogo commented on #7995
We mark folders as _dirty_ when we start an operation inside them, if something goes wrong the _dirty_ mark stays there and next time Conan runs it will remove the directory before using it again. I would expect Conan to remove the corresponding `short_paths` folder when removing a dirty one (after #7986).

Now I think I understand something that could be improved. If your CI uses a short_paths lo

[2020-11-17 19:18] memsharded commented on #8065
Thanks @lieser for reporting. Submitted fix in https://github.com/conan-io/conan/pull/8072, will be in next 1.32.

[2020-11-17 22:30] memsharded commented on #8067
This will be automatically solved when we move to toolchains and the new ``cmake_find_package`` generator. I think it is not worth the effort of changing this at this moment, as this should be done soon enough.

[2020-11-18 02:05] #8067 closed, assigned to nobody

[2020-11-18 10:05] bmanga opened #8074 "[feature] Introduce concept of ABI groups for easier interoperability."
## Summary
Add an option to allow conan packages built with different - but ABI-compatible -
compilers to be used together.

## Motivation
Currently conan packages built with different compilers cannot be used in projects
using a different compiler, even if the generated binary is ABI-compatible.
While building all dependencies of a project with the same compiler can have some
clear benefits, not

[2020-11-18 10:24] jasal82 commented on #5660
Meanwhile we've found workarounds for the problems mentioned here so I'll close this issue. We can discuss possible improvements in the context of Conan 2.0 tribe.

[2020-11-18 10:24] #5660 closed

[2020-11-18 11:14] memsharded commented on #8063
Hi @sanko-oz

Can you please post the whole output, it would be great if you can enable CONAN_VERBOSE_TRACEBACK env-var, so we get the full traceback, to know where exactly is failing.

Yes, it seems the ``shutil.move`` would be a good solution, lets identify where it is failing. Thanks for reporting!

[2020-11-18 12:27] ytimenkov commented on #8050
I suggest to run `conan build --configure` instead of CMake to get a consistent configuration. Especially if you use CMake helper or toolchain works really well.
(wrote some docs here: https://github.com/gerbera/gerbera/blob/master/doc/conan.rst#building-gerbera)

[2020-11-18 12:28] #8061 closed, assigned to SSE4, jgsogo, czoido

[2020-11-18 12:29] memsharded commented on #8061
We are going to remove those dependencies in next 1.32, this has been merged already in https://github.com/conan-io/conan/pull/8075. This might solve the issue, but please report @Fallen-Zen otherwise. Thanks!

[2020-11-18 12:31] #8051 closed, assigned to memsharded

[2020-11-18 12:51] blackliner commented on #8050
@ytimenkov What step would you replace with `conan build --configure ..` ? The goal is to have a stupid, agnostic root `CMakeLists.txt` that relies purely on `find_package(...)`, so one could install all dependencies as system dependencies and just run `cmake .. && cmake --build .`

[2020-11-18 13:01] ytimenkov commented on #8050
This replaces step `cmake ..`.

Because there is a number of parameters which need to be passed to CMake and be consistent with `conan install` command.
Besides `BUILD_TYPE` there are compiler (`CC`/`CXX` variables which may be set in a profile) which needs to be initialized *before* the call to `project()` (or `enable_language` which is nested), architecture or toolset (for MSVC).

`conan build -

[2020-11-18 13:10] blackliner commented on #8050
Ok, this sounds like a job for toolchain_files. I did not look into how conan handles those, just heard that instead of providing cmake toolchains, I'd have to describe them in python and conan exports them for the cmake build?

I do not know if I want to describe my toolchains in conan, I would rather like to provide them as `linux_gcc_8_aarch64_debug.cmake` to conan, if that is possible at all.

[2020-11-18 17:18] #4961 closed

[2020-11-18 18:33] memsharded commented on #7985
Hi @spoofedex

``private`` requirements are complicated and from time to time they have these issues, is better to avoid them unless strictly necessary.

I have submitted a proof of concept of a ``--lockfile-id`` in which you can pass the lockfile ID (not the package-id, both are in the build-order) in https://github.com/conan-io/conan/pull/8077. Lets see if we can move this feature forward.

Than

[2020-11-18 18:48] memsharded commented on #7105
This is the organization of imports that we will use from now for new things that can be imported in recipes, like tools:

[code]

NOTE: Note it is a new ``from conan`` and not ``from conans``. This needs to be fully validated, to check the app doesn't break in pip packages, installer packages, etc.

Rules:
- Besides core ConanFile and exceptions (conan model), every other thing that a recipe can

[2020-11-18 18:50] memsharded commented on #4961
Hi folks!

Good news: https://github.com/conan-io/conan/pull/8070 has been merged, it will be available (experimental) in next Conan 1.32, and the goal is to make it the default in Conan 2.0.

[2020-11-19 08:39] #7812 closed, assigned to SSE4

[2020-11-19 10:52] Psy-Kai opened #8079 "[feature] Qbs build helper"
It would be nice to have a Qbs build helper. Since Qbs has its own profiles it is not possible to just run the qbs command to build an application.
When building a conan package with qbs first a qbs profile has to be created with the conan profile settings. Adding this manually to every conanfile or build pipeline definition is tedious. A Qbs build helper could setup qbs profiles automatically.

-

[2020-11-19 11:24] phi-hae opened #8080 "[bug] Can't use cmake.install() in test_package/conanfile.py"
When executing "conan create", and the conan package includes a test_package with a call to cmake.install() in its conanfile.py's build() method, the "conan create" step fails with following error message:

 ERROR: test/0.0.1@user/testing (test package): Error in build() method, line 18
        cmake.install()
        TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneT

[2020-11-19 11:50] uilianries commented on #8080
Hi @phi-hae We don't use `cmake.install()` for test_package, all tests are executed under the build folder directly. Please, take a look on Conan Center Index as example: https://github.com/conan-io/conan-center-index/blob/master/recipes/arrow/all/test_package/conanfile.py

[2020-11-19 12:28] phi-hae commented on #8080
Hi @uilianries, thanks for the answer. I do understand that cmake.install() is generally not required for all cases. However in my case, the tests contained in test_package depend on artifacts that are generated during cmake.install() step.
Also:
calling conan install && conan build on the test_package's conanfile.py works perfectly fine. But when calling conan test on it, the implicitly executed

[2020-11-19 14:50] #8065 closed, assigned to memsharded

[2020-11-19 15:23] martin-koch opened #8081 "[bug] Cross build from Linux x86_64 to Linux armv8 fails"
Since I updated conan to version 1.31.3, I am not able to cross compile from amd64 to arm64 any more. I tracked it down to #7827 (https://github.com/conan-io/conan/pull/7827/files/5939976a86ac42055d79fe1abbe951b7c90daa13). When I revert the changes made in **cmake_flags.py** the build is working again. I'm still not sure about the underlying problem, but it seems to be related to the sysroot path.

[2020-11-19 15:31] memsharded commented on #8081
Sorry, can you clarify the version? You said Conan 1.32 which is not released, but then reported 1.30.1?

Also if you could enable the command log (``log.run_to_output`` in conan.conf: https://docs.conan.io/en/latest/reference/config_files/conan.conf.html?highlight=run_to_output), to display your full command, that would help (in both failing and previous version). It might be the CMAKE_SYSTEM_NAM

[2020-11-19 15:44] martin-koch commented on #8081
Sorry, I meant version 1.31.3. I tried with 1.31.3 and 1.30.1.
Here is the output with 1.30.0
[code]
And the output with version 1.30.1:
[code]

[2020-11-19 16:06] martin-koch commented on #8081
I also activated debug logs (**level = debug** in conan.conf). Maybe this will help too:
conan 1.30.1:
[code]

conan 1.30:
[code]

[2020-11-19 18:13] ohanar commented on #7444
From my perspective, the components with empty libs is the correct direction for plugins. For [openscenegraph](https://github.com/conan-io/conan-center-index/pull/2702), the plugins are all listed out as individual components with their requires appropriately set -- when built as a shared library (which is what you should do 99%+ of the time), the plugins' components have empty libs.

For executab

[2020-11-19 18:25] xahon opened #8083 "[bug] Conan doesn't see requirements headers on build"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: clang 7.0
  * Conan version: 1.31.0
  * Python version: 3.7.4

I'm trying to make a package from that [repo](https://github.com/JLouis-B/IrrAssimp/tree/aed2cab5505f0164689c2aebdb8d9f6c729066e6)

Here is my `conanfile.py`
[code]

When I do `conan create . -pr myprofile.debug` I get

[2020-11-19 18:29] ohanar commented on #7240
@jgsogo Ignoring the various Qt specific variables (which should be handled by build_modules), I guess I don't really see Conan having the same issue as Qt's builtin cmake scripts. They only have (and can assume) the single distribution of Qt for those scripts, so it makes sense that they don't work for cross compilation -- although thankfully that seems to be easily worked around with a toolchain

[2020-11-19 18:35] memsharded commented on #8081
I am not sure this is an effect of the sysroot, but probably it is an effect that #7827 does the right thing setting the CMAKE_SYSTEM_NAME, because this is clearly an scenario of cross-building, but it fails because it is missing some other important CMake variables like CMAKE_SYSTEM_PROCESSOR and friends. There is a PR https://github.com/conan-io/conan/pull/8026/files for this.

It seems complica

[2020-11-19 19:00] memsharded commented on #8079
I don't oppose to this feature, but we don't have resources for this now, as we don't have enough experience with Qbs. So we would need some Qbs users to contribute this.

This will require also to do this in the new integration model = using toolchain files for enabling the usage of the build system outside Conan, apart from the Qbs generator.

[2020-11-19 19:20] memsharded commented on #8074
Hi @bmanga

Thanks for your request.

First, from our experience this claim:

using a different compiler, even if the generated binary is ABI-compatible.

Is difficult to satisfy. Binary compatibility between the same compiler can be a challenge when changing versions, configuration (libstdc++, runtime, etc, etc). While we are aware than in some cases it is possible to achieve compatibility betwee

[2020-11-19 20:42] Psy-Kai commented on #8079
@memsharded I am currently working on a Qbs Build Helper. But I am not able to run any unittest (running pytest just leads to a huge amount of errors and nothing more).
What do you mean with "new integration model"?

[2020-11-19 20:46] memsharded commented on #8079
https://docs.conan.io/en/latest/creating_packages/toolchains.html

This means: the build helper should do as little as possible, basically what the user would do on the command line. All the other configuration should go to files, generated in the ``toolchain()`` method at install time, and both the build helper and the user at command line would use the generated files by the ``QBSToolchain``

Re

[2020-11-19 20:46] KristianJerpetjon commented on #8025
I will retry this but i think its resolved in 1.30+ is that correct?

[2020-11-19 20:52] memsharded commented on #8083
This is done automatically, you don't need to include it

You can do simply
[code]

How to debug what is happening:

- Check the generated ``conanbuildinfo.cmake``, that it includes the Assimp library. Check the include directories, go to that folder in the disk and check that the files, the headers, actually exist there.

- Check your ``CMakeLists.txt`` that it does ``include($CMAKE_BINARY_DIR}/c

[2020-11-19 20:54] memsharded commented on #8025
Hi @KristianJerpetjon

Nop, 1.30 added CMAKE_SYSTEM_NAME, but not CMAKE_SYSTEM_PROCESSOR, and this seems to be biting other users like https://github.com/conan-io/conan/issues/8081. Hopefully #8026 can fix this.

[2020-11-19 21:01] KristianJerpetjon commented on #8025
kristian@kristian-Zephyrus:~/git/conan-center-index/recipes/libjpeg-turbo/all$ conan create . libjpeg-turbo/2.0.5@ -pr:b x86_64  -pr:h aarch64 -tf None
Exporting package recipe
libjpeg-turbo/2.0.5 exports: File 'conandata.yml' found. Exporting it...
libjpeg-turbo/2.0.5 exports: Copied 1 '.yml' file: conandata.yml
libjpeg-turbo/2.0.5 exports_sources: Copied 1 '.txt' file: CMakeLists.txt
libjpeg-tur

[2020-11-19 21:09] Psy-Kai commented on #8079
So toolchains are basically like the output of a generator but with profile values? Do I understand the toolchains correct?
If yes, should the toolchain file include a possible generators output?

[2020-11-19 21:32] memsharded commented on #8071
Hi @Da-LiFe

I am trying to reproduce this issue, did https://github.com/conan-io/conan/pull/8084, but it seems to be working fine. Have you tried updating Conan to the latest version? That might solve your issue. Please let me know if possible and how it goes.

[2020-11-19 23:06] memsharded commented on #8079
Yes: things related to the **current** package build, belongs to toolchains. They map settings and options from profiles to the specific of the build system. While generators focus on the information from dependencies only, not the current package. The toolchain should not include the generators, the current way of thinking is keeping them as decoupled as possible.

[2020-11-19 23:09] memsharded commented on #8025
But for some reason, the output is not using CMAKE_SYSTEM_PROCESSOR. I am not sure, maybe @SSE4 can confirm, but the idea would be to run with the branch at  #8026, to check if that PR fixes the issue?

[2020-11-19 23:27] f18m opened #8085 "[bug] "conan remove" does not remove the "export" folder from Artifactory"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version:
  * Conan version: 1.31.2
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)

We create a lot of Conan packages that make use of the "exports_sources" property (as suggested in "Recipe and Sources in the Same Repo").
We upload such conan packages to a privat

[2020-11-19 23:31] KristianJerpetjon commented on #8025
I can try pulling #8026 in and see what happens

[2020-11-19 23:39] memsharded commented on #8085
Hi @f18m

This doesn't seem a bug. The export folder is were the recipe is stored, that is, the definition of package itself. If you want to remove it, you need to remove the whole package, so do ``conan remove`` without the ``--packages``. The ``--packages`` is intended for removing only the binaries, not the recipe (which will continue in the export folder)

[2020-11-20 01:31] prince-chrismc commented on #7889
Looks like this got fixed! [here](https://github.com/conan-io/conan/commit/9f828d4d144651a5b66235db2c7a7923bfa194ee#diff-121086f2a020b06cf0e7350fb5b3410c89681f1db2aa89cf1fc4ecb94a0987ccR241)

Though it's a little weird, there's a `nonstd` which is not what I was expecting...

[code]

[Findrestinio.cmake.txt](https://github.com/conan-io/conan/files/5570653/Findrestinio.cmake.txt)

[2020-11-20 02:31] prince-chrismc opened #8086 "[feature] allow conan lock create to accept a directory containing a conanfile"
I would like to a similar command line for all my conan commands, however the `conan lock` seems to be an exception at the moment.

The current reality is correctly reflected in the documentation. [lock](https://docs.conan.io/en/latest/reference/commands/misc/lock.html) vs [create](https://docs.conan.io/en/latest/reference/commands/creator/create.html)

[code]

The displayed error message is also

[2020-11-20 04:06] prince-chrismc commented on #7889
Sadly the "fix" was my bad lock workflow script... https://github.com/prince-chrismc/user-management/runs/1428542129?check_suite_focus=true

The issue is still present

[2020-11-20 06:47] martin-koch commented on #8081
Unfortunately setting the suggested cmake variables in the conanfile doesn't fix it.
I also tried a few other things. One thing was to unset CMAKE_SYSROOT in the conanfile like this:
[code]
Afterwards I was able to compile the project.

[2020-11-20 08:08] memsharded commented on #8086
Hi @prince-chrismc

This is intended and it will reflect the next Conan 2.0 command line. It will basically be the opposite: we will change the ``conan create``, ``conan install`` and other commands to explicitly require the full path including the filename.

The goal is to remove any ambiguity, that we have learned is confusing to users, for example when there are both a conanfile.txt and a conan

[2020-11-20 08:14] memsharded commented on #8068
I have done a couple of attempts to solve this issue and I have failed. It seems a lot more complicated than expected, especially challenging to do it without breaking other things.

The main problem is that ``config_options()`` is not designed for this. As it is explained in the docs:

It is designed to "configure" the options, but not to assign values to it.

I think we will put some good effort

[2020-11-20 08:18] ytimenkov commented on #8068
Thanks @memsharded.

Do you have any tips for my original use-case?
(I want different default value when developers run `conan install .`)

[2020-11-20 08:21] memsharded commented on #8081
Thanks @martin-koch for trying that.

I am checking the source code, and I am trying to understand from where the ``CMAKE_SYSROOT=/usr/aarch64-linux-gnu`` comes from.

Apparently Conan is not setting it, so it might be one of your dependencies that is setting in its ``package_info()`` defining ``self.cpp_info.sysroot = "/usr/aarch64-linux-gnu"``. Is it possible? Are you using that sysroot informat

[2020-11-20 08:23] ericLemanissier commented on #8068
that should work:
[code]

[2020-11-20 08:31] SSE4 commented on #8081
I suppose it's from these:
[code]
as profile set
[code]

[2020-11-20 08:48] martin-koch commented on #8081
@SSE4 is right. If i delete the CONAN_CMAKE_FIND_ROOT_PATH entry it works as well.
Isn't it required to set this environment variable? Since all [cross build examples](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html?highlight=conan_cmake_find_root_path)  are setting it...

[2020-11-20 08:57] SSE4 commented on #8081
IMO it's a bit confusing and misleading - I expected `CONAN_CMAKE_FIND_ROOT_PATH` converts directly into `CMAKE_FIND_ROOT_PATH` cmake definition. and I think it's according to the [documentation](https://docs.conan.io/en/latest/reference/env_vars.html). setting `CMAKE_SYSROOT` from `CONAN_CMAKE_FIND_ROOT_PATH` is weird, why not use `CONAN_CMAKE_SYSROOT` for that? since these two CMake variables ha

[2020-11-20 09:05] ytimenkov commented on #8068
I just think that instead of `auto` I could use `None`. This default default value. Or at least for settings. Will try.

[2020-11-20 10:42] DukeOfKirkcaldy opened #8087 "[bug] 1.31.0 breaks building packages in parallel"
Since upgrading to 1.31.0 my parallel builds are failing when multiple process try to access the downloaded conan_package.tgz.  Seems to be related to the new feature #7886 to hold this file in the cache.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64-bit
  * Compiler+version: n/a
  * Conan version: 1.31.0
  * Python version: 3.7.3

### St

[2020-11-20 11:09] jgsogo commented on #7240
Hi, @ohanar , thanks for your comments.

Yes, this would be a way to go, merging two different nodes (the one from the build-requires and the one from the requires) into a single generated `FindXXXX.cmake` file. This can be very challenging (of course not before a new graph model for Conan 2.0), but still, it has some drawbacks: executables from _host_ might be used by an [emulator to run testing]

[2020-11-20 11:38] memsharded commented on #8087
Hi @GordonJess

Just in case, a reminder: the Conan cache is not concurrent. It is not designed to be used by multiple processes in parallel, and race conditions and other errors might happen. There are some locks provisioned to try to allow some operations (like installing different binaries (debug/release for example) of the same package in parallel, but that is the exception, and other parallel

[2020-11-20 11:53] DukeOfKirkcaldy commented on #8087
Hi @memsharded,

Ah, now I remember that point coming up before for a different issue.  But I haven't had any problems rebuilding dependent package in parallel until now.  It happens every time in 1.31.0, but everything works as expected reverting to 1.30.0.

I had originally assumed it was possible from the note in [Build order in lockfiles](https://docs.conan.io/en/latest/versioning/lockfiles/bu

[2020-11-20 13:20] prince-chrismc commented on #8086
Perfect. Since this is a roadmap item I will close the issue

[2020-11-20 13:20] #8086 closed, assigned to memsharded

[2020-11-20 14:38] memsharded commented on #4715
Hi @Lawrencemm

We will likely be changing the graph model in Conan 2.0 for making it possible for build_requires to affect the ``package_id`` hash.

In the meantime, as a workaround https://github.com/conan-io/conan/pull/8076 shows that adding a dummy "python_requires" to recipes that point to the build_require, can achieve the same result (as new ``python_requires`` can affect the ``package_id``

[2020-11-20 14:44] madebr opened #8089 "[feature] Audit (block) system environment variables"
Conan does keep the system environment uintact and will thus pick up (system) environment variables.
Because build environments differ, this can cause builds to inexplicably fail.
See e.g. https://github.com/conan-io/conan-center-index/issues/3619.

I think it would be useful to have a way to audit these sneaky variables.
As a first step, printing these variables variables before building would be

[2020-11-20 14:58] Jochen0x90h commented on #8049
I will use a generator in .conan/generators for now. There I can find the dependent libs by iterating over self.conanfile.deps_cpp_info[dep_name].lib_paths and also over all binaries (bin_paths).

But is there a way to find out what the currently installed project is? If I do conan install myproject/1.0.0@ -g mydeploy then I'd like to directly access the properties of myproject. This way I could c

[2020-11-20 15:04] ericriff opened #8090 "[question] Error while consuming recipe with components"
Hi Guys!

I'm trying to modify a recipe that relies on boost, since there is a PR open for it to add the components.
My recipe looks like this:
[code]

When I try to build I get  the following error
[code]

If I add ` self.cpp_info.requires = ['eigen::eigen']` to MyPackage recipe it then gives me the same error but about 'boost' not used in components requires.

What am I doing wrong?

Thanks!

[2020-11-20 15:19] ericriff commented on #8090
I followed the docs to consume the packages like this
https://docs.conan.io/en/latest/creating_packages/package_information.html#using-components

Recipes that require packages that declare components can also take advantage of this granularity, they can declare in the cpp_info.requires attribute the list of components from the requirements they want to link with:
[code]
In the previous example, t

[2020-11-20 15:38] ericriff commented on #8090
This looks related to what @jgsogo did here https://github.com/conan-io/conan/pull/7644

[2020-11-20 15:45] a4z opened #8091 "[bug] install with lockfile does not respect profile settings (from within the lockfile) when config_options are used"
### Environment Details (include every applicable attribute)
  * Operating: OSX Catalina
  * Compiler+version Apple Clang 12
  * Conan version: Conan version 1.31.3
  * Python version: Python 3.8.5

### Steps to reproduce (Include if Applicable)

install via lockfile does not respect profile settings (from within the lockfile) when config_options are used

* create a new conan project

* add libcu

[2020-11-20 16:04] memsharded commented on #8091
This should be fixed by https://github.com/conan-io/conan/pull/7993, which is planned for next 1.32, apparently same issue as https://github.com/conan-io/conan/issues/7991

[2020-11-20 16:07] xahon commented on #8083
Thanks, @memsharded, i forgot to add `include($CMAKE_BINARY_DIR}/conanbuildinfo.cmake) + conan_basic_setup()` with `tools.replace` but now it fails with some linking errors

/home/user/conan/IrrAssimp/1.8.4/_/_/build/b1b469bcd8ddaaea9d2a6b59dfaa77f32e34dcf5/IrrAssimp/IrrAssimp.cpp:68: undefined reference to `Assimp::Exporter::Exporter()'
/usr/bin/ld.default: /home/user/conan/IrrAssimp/1.8.4/_/_/bu

[2020-11-20 16:18] memsharded commented on #8083
With the ``cmake`` generator you have 2 modes of getting the libraries linked:

- The global one, you get a ``CONAN_LIBS`` variable defined that you can ``target_link_libraries(mytarget PRIVATE ${CONAN_LIBS})``
- The targets one, defining ``conan_basic_setup(TARGETS)`` and then ``target_link_libraries(mytarget PRIVATE CONAN_PKG::mydep)``

Furthermore, you have more modern CMake integrations, like

[2020-11-20 16:29] memsharded commented on #8049
Hi @Jochen0x90h

Isn't that the ``deploy()`` method? I think you can achieve exactly that adding a detailed ``deploy()`` method in the ``myproject`` conanfile.py. Alternatively, if you want to do it without modifying the ``myproject``, you can always write a simple conanfile.txt or conanfile.py with a ``requires="myproject/..."`` and and ``imports()`` to specify exactly what are the files that you

[2020-11-20 16:43] SpaceIm commented on #8090
Because you must append, not assign successively (because it overrides previous assignement). It doesn't work like `self.requires()`

This should work:

[code]

works also:

[code]

[2020-11-20 16:53] #8083 closed, assigned to memsharded

[2020-11-20 16:56] Jochen0x90h commented on #8049
Thing is that there is no distinction between install into the conan cache (`conan install`) and install to some target directory (like `make install` and using CMAKE_INSTALL_PREFIX). If I would put my code into `deploy()` of the conanfile.py of myproject, then `conan install` will execute it in any case. I'd like to have it as a separate step or at least check if a destination directory was set s

[2020-11-20 17:13] ericriff commented on #8090
duh!
Thanks. That worked.
Where is my cone of shame? haha

[2020-11-20 17:13] #8090 closed, assigned to nobody

[2020-11-20 21:35] carobins opened #8092 "[feature] Add search functionality to see package remote association"
My team is running into issues in which a user might remove and then re-add a remote. When this happens, the remote association to any package that was pointing to the remote that was removed is set to `null` (in metadata.json). This has consequences in that the --update flag (for conan install) no longer works since the package association is lost. Since the package has null remote definition, a

[2020-11-20 23:31] memsharded commented on #8092
Proposing a --no-remote argument to ``conan remote list_ref`` to list references in cache without remote.
The UI is not great, we certainly want to improve this in the new CLI, lets see if possible to accept this at the moment.

[2020-11-21 10:09] SSE4 commented on #8002
as this is quite a repeating patter in conan-center-index (right now, 10 occurrences for `_minimum_compilers_version`), I support to make a tool for it to help recipe authors.

[2020-11-21 13:05] dragondive opened #8095 "[question] How to publish pre-compiled binaries to artifactory for use by non-Conan users?"
My team works with an external company that provides us a library as pre-compiled binaries. We run some tests with this library (using Google Test). We then publish this library to an internal artifactory for use by other teams. They download the package using either the artifactory web interface or curl commands. The below screenshot shows the structure of the package uploaded to artifactory.

![

[2020-11-21 14:46] prince-chrismc commented on #8002
depending which substring you look for you get different lists! With different variations!

<details> <summary> if tools.Version(self.settings.compiler.version) < min_version: </summary>

[code]

</details>

<details> <summary> _minimum_compilers_version </summary>

[code]

</details>

<details> <summary> minimum_required_compiler_version </summary>

[code]

</details>

<details> <summary> minimal

[2020-11-21 15:50] memsharded commented on #8095
Hi @dragondive

You can read about the concept of creating generic binaries here: https://docs.conan.io/en/latest/integrations/deployment.html

The basic idea is:

- Collect deployment binaries from Conan packages with generator ``-g deploy`` or with ``imports()`` or ``deploy()`` method
- Package it in any format you would like, with the naming convention you want, a tarball, or create other syste

[2020-11-21 16:24] Psy-Kai commented on #8079
@memsharded In the conanfile function `toolchain` the environment variables defined in a profile are not set. Is this on purpose or just a bug? Because in order to detect a cross-compiler toolchain set in the profile (via `CC=`) my QbsToolchain needs access to these environment variables.

PS: I did not test with the new build_requires & build_profile method yet.

[2020-11-21 19:04] klimkin commented on #4961
Great, than you!

On Wed, Nov 18, 2020, 10:51 AM James <notifications@github.com> wrote:

[2020-11-22 04:10] dragondive commented on #8095
Thanks, @memsharded.

I will go through these two approaches in some more depth and figure out which one is better suited for my requirements.

[2020-11-22 19:11] memsharded commented on #8095
Ok, as there is no immediate action required from our side at the moment, lets close it, and if there are further questions feel free to open a new issue. Thanks!

[2020-11-22 19:11] #8095 closed, assigned to memsharded

[2020-11-22 21:51] AlexGoMobile commented on #8081
After updating from conan 1.29.1 to 1.31.3 all my cross build scenarios fails.
After downgrading conan to 1.29.2 all my cross build scenarios works again like supposed.

cmake version 3.19.0
Python 3.8.5
OS: Win 10

My profile configuration

target_host=x86_64-none-linux-gnu

cc_compiler=x86_64-none-linux-gnu-gcc
cxx_compiler=x86_64-none-linux-gnu-g++

[env]
CONAN_CMAKE_FIND_ROOT_PATH=C:\x86_64-no

[2020-11-22 22:38] memsharded commented on #8081
Hi @AlexGoMobile

Yes, it seems that it was a bug fix that it was only half-baked.

- Before, for those scenarios, the CMAKE_SYSTEM_NAME was not being set. This was reported as a bug, and fixed.
- Now, it seems that some other variables are not correctly set, and that is making things fail.
- If you could try some of the suggestions above, to see what would be the most correct solution:
   - Add t

[2020-11-22 22:55] memsharded commented on #8081
I have been tracking down the definition of ``sysroot_path = os.getenv("CONAN_CMAKE_FIND_ROOT_PATH")``, it dates back to 2017, Conan 0.22: https://github.com/conan-io/conan/pull/1181/files

I would probably try removing it from Conan automatic definitions, it seems one of the things that is making things fail. Can you @AlexGoMobile please try also removing that definition in case you had it define

[2020-11-23 00:02] memsharded commented on #8081
#8097 PR suggest to remove definition of sysroot from CONAN_CMAKE_FIND_ROOT_PATH, and passes tests (https://conan-ci.jfrog.info/blue/organizations/jenkins/ConanTestSuite/detail/PR-8097/1/pipeline)

[2020-11-23 10:08] #7983 closed, assigned to memsharded

[2020-11-23 10:09] memsharded commented on #7983
Fixed in https://github.com/conan-io/conan/pull/7986, this will be released in 1.32

[2020-11-23 12:44] Psy-Kai commented on #8079
@memsharded Should the toolchain file contain the path to the used compiler and some plattform related flags (like general linker and compiler flags)? If yes the toolchain file would need to env variables from the profile and to cpp_info/env_info/user_info from build requirements. When cross compiling I would prefer to use a build requirement. So in the toolchain method some values defined by the

[2020-11-23 12:46] SSE4 commented on #6810
#7760 shows how to store and preserve hard-links during the archive creation

[2020-11-23 19:23] memsharded commented on #8035
Yes, I agree, this shouldn't be reported as an error.
The UX problem that we see here is users not being aware that they don't have a compiler installed, proceeding, and then something fails, and they blame Conan. We will probably make profile detection explicit in Conan 2.0, in the meantime, probably better remove it (convert it to normal/info display)

[2020-11-23 19:33] memsharded commented on #8081
Hi @AlexGoMobile @martin-koch

Asking also for help and feedback if possible from some other people cross-compiling: @jasal82, @ericLemanissier, @a4z, @sztomi.

Let me summarize:
1. We fixed a bug in Conan 1.29, and the ``CMake`` build helper started to add CMAKE_SYSTEM_NAME for cross-compile scenarios.
2. As a result some users build have started to break. We have taken some actions, like not con

[2020-11-23 20:04] memsharded commented on #8063
Hi @sanko-oz

We are getting close to next Conan 1.32 release. If you could help pasting the traceback, we could try to submit a bugfix soon to be included in it. Thanks!

[2020-11-23 21:02] a4z commented on #8081
is it enough to clone the conan-io:release/1.31 branch, adopt the path that the conan file there can be found before that one in the system, and then run my helpers to rebuild my world?
or is there a different recommended procedure to test pr releases ?

[2020-11-23 22:00] memsharded commented on #8081
Probably the easiest way is:
- Clone the repo and checkout the release/1.31 branch. Make sure to pull latest changes
- Install it with ``pip install -e .``. This will execute the pip install but using the current repo as editable, so you can execute with the source as usual (running ``conan ...`` will execute that code from that branch)
- If you don't want to mess with your current environment, ma

[2020-11-23 23:48] SeanSnyders opened #8102 "Best practise for unit test integration with CMake and Conan"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Currently building on OSX, but eventually needs cross-platform support (Win, Linux, wasm).

I'm trying to integrate unit testing into my library using plain default CMake generator and `CMakeLists.txt` files, and would like advice on the best practises for that in terms of:

1. projec