[2020-08-18 19:11] madebr commented on #6687
Does there exists a function to determine the maximum c++ standard a compiler supports already?
e.g. a function `tools.compiler_supports_cppstd(self.settings.compiler, 17)` should return `True` because my compiler (=gcc9) supports c++17.

[2020-08-18 19:33] Minimonium commented on #6687
@madebr It was quite a lot of time since I looked into the matter, but I'm pretty sure that this is handled by Conan through `cppstd` filtering. There was a map of compatible `cppstd` for concrete compilers somewhere in the internals which didn't allow to set incompatible setting combinations at all. Could you confirm?

[2020-08-18 19:39] madebr commented on #6687
[`tools.valid_min_cppstd`](https://docs.conan.io/en/latest/reference/tools.html#tools-valid-min-cppstd) checks the default c++ standard = standard without c++ flag.
I don't know about an option how to filter out compilers that do not support c++17, but allow compilers that have a lower default c++ standard but still support c++17.

[2020-08-18 19:43] fulara commented on #6687
Hello @madebr ,

When I was looking at this I thought the implmentation would be straightforward, thats why I said i'll do it ( which I have never done. )

Function deduce_cppstd returns the cppstd, and then you have to just to the greater_equal check.
https://github.com/conan-io/conan/blob/a9a81ae83191afc87c3d103a792c9e729da0ae2a/conans/client/tools/settings.py#L60

Unfortunatelly all of those me

[2020-08-18 19:48] madebr commented on #6687
Is there a look-up table somewhere that says for each compiler version what the default c++ version + maximum supported c++ version is?
e.g.:
[code]
A look-up table would proably become too messed up,
but a function to access the `(min, default)` would be useful, if not to check/throw exceptions.

[2020-08-18 19:56] Minimonium commented on #6687
@madebr https://github.com/conan-io/conan/blob/develop/conans/client/build/cppstd_flags.py

The cppstd version supported by a given compiler shouldn't be the matter of recipes, but the Conan settings-handling itself.

[2020-08-18 20:03] madebr commented on #6687
How would you handle this then?

I have a recipe that requires c++17 and which interface (=headers do not expose any c++ symbols).
I would like to filter out all compilers not supporting c++17.

[2020-08-18 20:05] DukeOfKirkcaldy commented on #7561
Hi @memsharded,

I think maybe I used the `--build` flag at the wrong place before...

I have now added it when deriving the configuration-specific lockfile from the base:

`conan lock create ../conanfile.py --user=Concepts --channel=master --lockfile=locks/libb_base.lock --lockfile-out=locks/libb_cfg1.lock --profile=my_profile --build`

This avoids the error message from the issue description how

[2020-08-18 20:06] fulara commented on #6687
reimplement https://github.com/conan-io/conan/blob/a9a81ae83191afc87c3d103a792c9e729da0ae2a/conans/client/tools/settings.py#L40 and:
[code]
and do an if >= 2017.

:)

However I disagree with @Minimonium here,
in my interpretation conan has not fully embraced the usage of cppstd.
the conanfiles in conan-recipes often rely on the projects setting cppstd by themselves.. (ignoring compielr default. ba

[2020-08-18 20:14] Minimonium commented on #6687
Again. It should be _impossible_ in principle to have incompatible (unsupported) `cppstd` with a `compiler`. You don't need to filter out anything, Conan already does that (or make a PR to do it better).

[2020-08-18 20:19] fulara commented on #6687
@Minimonium my original problem was around a situation that you have a codebase that onl y compiles with cppstd <=14.
If you have a compiler that supports c++17 you need to filter out cppstd17. Maybe I misunderstood madebr's problem, but in my scenario you do  need to filter out that cppstd.

I am spamming anyway, sorry! I wont be implementing this one so feel free to process with this how you wan

[2020-08-18 20:19] madebr commented on #6687
So you would just not provide a package for a package that will build perfectly on a compiler, but just not on the default c++ standard.

[2020-08-18 20:30] Minimonium commented on #6687
I'm confused myself and I think that there is a lot of confusion all around. 😀
I did the PR for `cppstd` logic a long time ago and I could be a little bit gloomy on details.

From what I recall right now - you never really need to know the maximum supported compiler version ever.

To support an upper bound in recipe checking all you need to have is the _current_ deduced cppstd and the upper bound

[2020-08-18 20:31] DukeOfKirkcaldy commented on #7561
Hi @memsharded,

Here is my modified example with build requires.  You will see that  `cmake_installer/3.15.3@conan/stable` is rebuilt from sources as a result of the build-order output.

[ci.zip](https://github.com/conan-io/conan/files/5092653/ci.zip)

Thanks!

[2020-08-18 22:41] memsharded commented on #7561
Hi @GordonJess

Yes, this behavior is expected: The ``--build`` has exactly the same semantics as if you do a ``conan install --build`` which means build everything in source. In fact, it tries to achieve the exact same result, but with immutability guarantees that allow to distribute a build and be sure that dependencies don't change.

So if you don't want to rebuild from sources the ``cmake_inst

[2020-08-18 22:43] memsharded commented on #7560
Yes, this seems reasonable, I was not very happy about the high chance of collision, so probably this is something that recipes should somehow define (not sure if for every component, or some kind of global definition meaning "generate one .pc file per component or one that aggregates everything")

[2020-08-18 22:48] memsharded commented on #7558
Hi @ttencate

Yes, you are right, this seems to be missing. As the changes should be relatively straightforward, would you like to contribute yourself to the fix in ``QmakeGenerator`` class? If not, possible, not a problem, we will manage it (but it might need to wait until next Conan 1.30 release). Thanks for reporting!

[2020-08-19 08:07] DukeOfKirkcaldy commented on #7561
Hi @memsharded.

Ah, got it!  Thanks!  `--build=missing` when creating the lockfile works.

[2020-08-19 08:12] danimtb commented on #7554
Yes, this is something we have to do in order to complete the integration

[2020-08-19 08:15] danimtb commented on #7557
As this was introduced as a new command, I think we tried to start introducing new changes for a future command line in Conan 2.0

I am pinging here @czoido for confirmation

[2020-08-19 09:18] DukeOfKirkcaldy opened #7562 "[question] why is unaffected package marked as "modified":true in lockfile?"
I am following the example for [Lockfiles in CI](https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#lockfiles-in-continuous-integration) and computing the build order needed to build product `app1` after a change in `libb`.

I am confused as to why `liba` in the final `app1` lockfile is marked as `"modified":true`.  since it was used from the cache and was not rebuilt.

[code]

The 'modi

[2020-08-19 10:31] jgsogo commented on #7554
This should easy to do. Feel free to open a PR with the changes needed

[2020-08-19 11:01] #7561 closed, assigned to nobody

[2020-08-19 11:08] steffens-a commented on #5597
For gcc (version >=4.9) you can use `-fdiagnostics-color=always` as workaround. Add to conan compiler profile
[code]

[2020-08-19 14:02] #7558 closed, assigned to nobody

[2020-08-19 14:04] memsharded opened #7564 "[bug] QMake generator do not handle OSX frameworks"
Following from https://github.com/conan-io/conan/pull/7563, it seems that qmake generator is not implementing OSX frameworks support, it should be added.

[2020-08-19 14:06] memsharded commented on #7558
I have also submitted issue https://github.com/conan-io/conan/issues/7564, please note that qmake does not handle OSX frameworks either, in case you hit this bug too if using OSX.

[2020-08-19 14:10] memsharded commented on #7557
Hi @GordonJess

To clarify: the CLI in Conan 2.0 will be way more explicit than the current one. For example it will require to type ``conan install conanfile.txt``, and ``conan install .`` will no longer be possible (that will search for conanfile.txt first, then for conanfile.py if not found, and this kind of behavior is always causing confusion to some users, so everything is going to be way mo

[2020-08-19 14:14] memsharded commented on #7562
Yes, the ``modified`` flag is exclusively used for the ``BuildInfo`` (please be aware the BuildInfo has some current limitations to be used for Conan packages, we are working to improve that).
Still, this seems a bug. Most likely it was incorrectly marked as modified when creating a full lockfile from a base one. I think it should be relatively easy to fix this, if possible, I will try to submit a

[2020-08-19 14:15] #7517 closed, assigned to jgsogo

[2020-08-19 14:53] DukeOfKirkcaldy commented on #7557
Hi,

Ah okay!  Understood! Thanks!

[2020-08-19 15:03] memsharded commented on #7561
Excellent, very happy that it is working.

Good! I was quite happy about the final result, I think it is a good step forward for lockfiles. Looking forward to hearing more feedback and reported issues if necessary to keep improving. Thanks!

[2020-08-19 15:06] memsharded commented on #5597
Please @czoido include colorization in the CLI 2.0 ongoing work, lets try to make sure it works for build output too if it is possible, and from there lets learn and see if it can be backported.

[2020-08-19 15:07] memsharded commented on #7297
Great, thanks for checking it and reporting @michaelmaguire!

[2020-08-19 15:13] DukeOfKirkcaldy commented on #7562
@memsharded,

Thanks, much appreciated!!

[2020-08-19 15:14] memsharded commented on #7540
I think this was actually requested by some users. Following the same logic, the ``conan info`` should not be displaying the package-id for a binary that does not exist yet? I think that would be very unexpected.

The underlying issue is, in my opinion, users accessing the cache folders directly. This sounds like an anti-pattern to me, that should be avoided if possible, I would say that we need t

[2020-08-19 15:30] madebr opened #7565 "[bug] during crossbuild, build requirements are buit for host profile instead of build profile"
When cross building a package and rebuilding all its dependencies,
all its dependencies, including build requirements, are built using the host profile.
It should use the build profile for the build requirements.

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Linux  30
  * Compiler+version: gcc 9
  * Conan version: conan 1.28.1
  * Python version

[2020-08-19 16:50] jgsogo commented on #7565
Working on my machine (after cloning your `autoconf` branch):

[code]

Let's check package IDs first:

**arch=x86**
[code]

**arch=x86_64**
[code]

And now see which one is used in the `conan create` command

[code]

As you can see, it requires `634482ae2711f292a960087dc3f4e0b99e4881dc` which is the package-ID corresponding to `arch=x86` as we have forced with the parameters `--profile:build=defau

[2020-08-19 17:19] madebr commented on #7565
autoconf is not really a problem, because it is arch independent. It is a collection of bash, m4 and perl scripts.
I patched autoconf because its use of `arch_build` and `os_build` might clash with cross building.
The issue shows up with m4, which is a native executable.

[Output of <em>conan create . libcurl/7.71.1@ -pr:h default32 -pr:b default64 --build "*" 2>&1 >output.log</em>](https://gist.g

[2020-08-19 18:06] a4z opened #7566 "[bug] cross compilation with build requirements is total broken"
### Environment Details (include every applicable attribute)
  * Operating System+version: OSX latest
  * Compiler+version: apple-clang 11
  * Conan version: 1.28.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
[code]

This is wrong, cmake is a build requirement and on my system or os_build /  arch_build and so is openssl

What does conan want to build, cmake for Androi

[2020-08-19 21:47] cguldner opened #7567 "[bug] Can't Delete SCM attribute"
There are certain cases where I want to be able to delete the `scm` attribute, but Conan really doesn't want me to.

* This gives `AttributeError: scm` on `delattr`:
[code]

* Setting it to `None` doesn't allow me to upload it, fails in `conans/client/cmd/uploader.py`:

[code]

* Setting it to `{}` gives `ERROR: SCM not supported: None`

Can you allow us to delete it in one way or another?

### En

[2020-08-19 22:47] maingig commented on #7540
Background: I was originally trying to use a conan built tool recipe and ran into difficulty there - https://github.com/conan-io/conan/issues/7539.  I finally resolved that issue but in the meantime thought I could use a combination of conan search and conan info --paths.  Little did I know :-)

[2020-08-20 01:26] brenobaptista opened #7568 "Specify the 'user' and the 'channel' or neither of them"
![help_please](https://user-images.githubusercontent.com/47641641/90705756-0cf4c500-e26a-11ea-9bdb-702759bc8c36.png)

### Environment Details (include every applicable attribute)
os=Windows 10
arch=64 bits
compiler=Visual Studio 2019
compiler.version=16
build_type=Release
Conan version: 1.28.1
Tested using installer and pip

[2020-08-20 08:52] jgsogo commented on #7565
The requested package-Id for `m4` is correct as well, in my example it is using the `9efecfd...` which correspond to `x86` which is the architecture for the _build_ context. So the **error must be in the triplet calculation or in the recipe  itself**.

Computed triplet is `--target=x86-linux-gnu`. According to the `m4` recipe it is calculated inside Conan, [no value is overridden from the recipe](

[2020-08-20 09:51] AndreasHK opened #7569 "[question] graph is not a conan command (conan 1.28.1) - fix documenation"
So since a while when using `conan info -bo` I get the warning that this is deprecated and I should use `conan graph.` So I did with conan 1.25.1 but when upgrading to 1.28.1 (because of another [issue](https://github.com/conan-io/conan-center-index/issues/2591)), `conan graph` is gone. The current [documentation for conan info](https://docs.conan.io/en/1.28/reference/commands/consumer/info.html)

[2020-08-20 10:07] jgsogo commented on #7566
Cross-building using only one profile is very problematic. It required recipes intended to be build-requires to have `settings = "os_build", "arch_build"` which is only valid for those that will be used only as build-requires (that's the reason why, in the past there were _duplicated_ recipes with the `_installer` suffix like `cmake_installer/3.xxx@conan/stable`), otherwise you want different bina

[2020-08-20 10:23] jgsogo commented on #7567
Hi! Can I ask what you are trying to achieve? I'm sure we weren't thinking about dynamically adding/removing the `scm` attribute from the recipe class so, if it works, probably you should consider it UB and future Conan releases may change that behaviour.

It could work if you remove the attribute from the `init()` function, but please, let's see what is your use case and, if needed, we can think

[2020-08-20 10:27] jgsogo commented on #7568
Hi, @brenobaptista

This is not enough to know what is happening in the screenshot.

Conan references should match some of this patterns: `name/version@` or `name/version@user/channel`, it looks like you are providing to Conan something like `name/version@something` so the error is expected.

Can you provide more information?

Thanks!

[2020-08-20 10:28] jgsogo commented on #7569
Thanks for pointing it out! I'm submitting a PR right away 👍

[2020-08-20 11:03] #7569 closed, assigned to nobody

[2020-08-20 12:07] a4z commented on #7566
I agree that the 2 profiles approach looks better, but here https://github.com/conan-io/conan-center-index/issues/2566
you said:

I am still on conan 1, so I thought, I ill continue using the 1 profile approach, also because of this
https://github.com/bincrafters/community/issues/1255

(did not have any problems building for iOS, as far as I remember, but I stopped experiments with the 2 profiles

[2020-08-20 13:28] cguldner commented on #7567
@jgsogo  All of the ways I tried deleting it were in the `init` function, so I would have expected at least one of them to work.

The use case is that I am trying to allow for building Conan in places where there is no internet access. Thus, I wouldn't want the source to be automatically checked out. This would be solved by verifying that `scm` isn't `None` before trying to access its properties [

[2020-08-20 14:07] sumitpatel74 opened #7571 "[bug] Error building poco 1.10.1 using gcc (cygwin)"
Error building poco 1.10.1 using gcc (cygwin)

### Environment Details (include every applicable attribute)
 [settings]
os=Windows
os.subsystem=cygwin
os_build=Windows
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=7.4
compiler.exception=seh
compiler.libcxx=libstdc++11
compiler.threads=posix
build_type=Release
[options]
[build_requires]

[env]

### Steps to reproduce (Include if Appli

[2020-08-20 14:18] brenobaptista commented on #7568
Part of conanfile.txt

verbose output:

The system cannot find the path specified.
[Conan] Downloading third-party packages
DEBUG :conan_api.py   [177]: INIT: Using config 'C:\Users\Breno Baptista\.conan\conan.conf' [2020-08-20 10:50:50,733]
DEBUG :tracer.py      [157]: CONAN_API: install(path=C:\Users\Breno,name=None,version=None,user=Baptista\Source\Repos\magicinternet\mass
ive\client\windows\sc

[2020-08-20 14:23] jgsogo commented on #7568
I hope not (we run lots of testing with whitespace), but if your `conanfile.txt` contains a literal line like `conanfile.txt` that could be the issue. Can you run `conan install conanfile.txt` with this file:

[code]

[2020-08-20 14:29] brenobaptista commented on #7568
My conanfile.txt doesn't have a line like that, my mistake adding that.

Running conan install conanfile.txt
Log:
[code]

Didn't work either

[2020-08-20 14:54] jgsogo commented on #7568
It is working with the `conanfile.txt` I provided to you, no longer a failure like the one you showed in the first comment. So it is not about your home directory or something inside Conan. It looks like a problem with your `conanfile.txt`. If you cannot share it with us... can you find anything suspicious, can you share something to reproduce the failure?

[2020-08-20 14:57] brenobaptista commented on #7568
This is the conanfile.txt, sorry about not sharing it before:
[code]

[2020-08-20 15:27] memsharded commented on #7571
Hi @sumitpatel74

Could you please post too the lines above that error? it should contain the actual cmake or compilation error messages.
It is possible that this is an issue of the Poco recipe, not Conan, but let's see that message.

[2020-08-20 15:39] danimtb commented on #7568
Hi! I executed `conan install conanfile.txt` with the conanfile provided above and got the following output:

[code]

I see no error related to user and channel

[2020-08-20 16:42] sumitpatel74 commented on #7571
CMake Error at C:/cmake-3.18.1-win64-x64/share/cmake-3.18/Modules/FindPackageHandleStandardArgs.cmake:165 (message):
  Could NOT find OpenSSL, try to set the path to OpenSSL root folder in the
  system variable OPENSSL_ROOT_DIR (missing: OPENSSL_CRYPTO_LIBRARY) (found
  version "1.1.1g")

[2020-08-20 17:15] madebr commented on #7565
@jgsogo
Those are the canonical triplets, which is checked/generated by autoconf, and can be checked by the configure script.
See https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/autoconf.html#Canonicalizing
There exists triplets for: build, host and target.
`os/arch/compiler` should be used for the host triplet (`--host xxx`),
`os_build/arch_build/compiler_build` for the b

[2020-08-20 17:40] jgsogo commented on #7571
Hi! This is probably something to fix in the recipe itself, we don't run cygwin in conan-center-index, and it is impossible for the contributors to test every recipe with every configuration.

Some questions before moving this issue to conan-center-index:
 * Given your configuration and your options, is `openssl` recipe being installed and the corresponding file `FindOpenSSL.cmake` generated in th

[2020-08-20 18:32] sumitpatel74 commented on #7571
Given your configuration and your options, is openssl recipe being installed and the corresponding file FindOpenSSL.cmake generated in the build folder?
-- No do not see FindOpenSSL.cmake file in the build folder

Is Conan able to find the rest of the dependencies?
Conan is able to download source and build log4cplus just fine in the current setup

And about your environment:

Did you install Pyth

[2020-08-20 20:46] bb010g commented on #7504
@uilianries Unless you want to merge these into one tracking issue, conan-io/conan-center-index#2343 was meant to cover SDL1, not SDL2. One issue for both is fine by me though, if that's what you all would prefer; let me know and I can edit up the title & body for that.

[2020-08-21 00:39] DominikDeak opened #7573 "Unable to connect to conan-center"
When running `conan search "boost/*" -r=all`, or trying to run `conan install [...] --update` commands, I get errors like these:
[code]

It seems that `conan.bintray.com` and `api.bintray.com` are down. External checks (21/8/2020) seems to confirm this:

https://downforeveryoneorjustme.com/conan.bintray.com

Screenshot:

![Screen Shot 2020-08-21 at 10 31 58 am](https://user-images.githubuserconten

[2020-08-21 02:31] brenobaptista commented on #7568
Guys, I think I've found the problem. I'm sure it's the white space in my name. Check this out:
[code]

You can check that in `tracer.py` the path is broken after the white space, then the rest after white space is moved to user. And channel is None, so as error states "specify the user and the channel or neither of them".

[2020-08-21 03:56] brenobaptista commented on #7568
I just confirmed that was the problem. The damn white space in my username. After I completed the required steps to change my username on WIndows 10 (it's not so easy to do, easily breaks. [Good tutorial here](https://windowsloop.com/rename-user-profile-folder-windows-10/)), now the script works perfectly. Thank you guys for helping me today with this issue, lemme know if I can help you avoid othe

[2020-08-21 05:35] richard-viney commented on #7573
I've just started getting `ERROR: 502: Bad Gateway. [Remote: conan-center]` when running `conan install` from inside GitHub Actions. Might be related?

Does anyone know what the approximate uptime of Conan is? Today is my first time ever using it so I'm not sure if running into this is just bad luck or whether these outages are a known hazard.

Thanks.

[2020-08-21 05:46] richard-viney commented on #7573
It started working again but then broke down part-way through. The output was:

[code]

[2020-08-21 07:18] jgsogo commented on #7571
Thanks. I see different issues here:

 * `OpenSSL` is requested by the `poco` recipe but it is not included in the requirements. The `FindOpenSSL.cmake` file is not generated. This is an issue to be reported to conan-center-index repository. Can you share the full output you get when running `conan install poco/1.10.1@ --profile=<your-profile> --build=poco`?

 * Using _native_ Windows installation

[2020-08-21 07:30] jgsogo commented on #7573
Hi! I think it was bad luck. We are experiencing some issues, but it is the exception: https://status.bintray.com/  Hope it will be fixed soon.

[2020-08-21 07:37] jgsogo commented on #7568
Hi, @brenobaptista

Thanks for investigating it. I can see that the arguments in your install function are not properly assigned:
 * path=C:\Users\Breno
 * user=Baptista\Source\Repos\magicinternet\massive\client\windows\scripts\..,
 * channel=None

I'm. really surprise because we have tons of tests using paths with spaces. Can you share with us how you are running the Conan commands? What kind of

[2020-08-21 07:39] jgsogo commented on #7568
@brenobaptista , Are you running `conan install C:\Users\Breno Baptista\Source\Repos\magicinternet\massive\client\windows\scripts` without adding **quotes** around the path to the conanfile? Can you try with `conan install "<paths-with-spaces>"`?

[2020-08-21 11:01] DoDoENT commented on #3573
OK, I solved this problem for our use cases. The solution (ab)uses the fact that [conan will not set vcvars if they are already set](https://github.com/conan-io/conan/blob/68fe941b73e6091807055ca98d3e98189a8b237f/conans/client/tools/win.py#L449) and assumes that developers will never manually invoke `conan install` or `conan create` on Windows systems and that all packages use CMake build system.

[2020-08-21 14:52] prince-chrismc opened #7574 "[bug] CMake compontent 'filename' produces error in generated find.cmake and causes conflicts when consumer packages"
Earlier this week I upgrade our CI from Conan client 1.27.1 to 1.28.1 after our CI broke on new 1.28 features that caught me off guard.

It's the first time we are consuming the upgrades from #7320 and #7447 en mass

There was a PR merged https://github.com/conan-io/conan-center-index/pull/2545 that is a transitive dependency of mine.

[code]

Doing a lot of digging this morning... the following i

[2020-08-21 14:52] hongyx11 opened #7575 "[bug] getting started poco project build failed -- sqlite3/3.31.1 pack_info()"
I met the problem when I install conan example project.
The build report the error,
ERROR: sqlite3/3.31.1: Error in package_info() method, line 116
self.cpp_info.filenames["cmake_find_package"] = "SQLite3"
TypeError: '_CppInfo' object does not support item assignment

where did this error happen? how to solve this?

Thanks!
-->

### Environment Details (include every applicable attribute)
  * Oper

[2020-08-21 14:54] prince-chrismc commented on #7574
Not to be rude, but because I am invested in Conan's success in an enterprise setting... @memsharded @danimtb if you can please take a look at this issue I just opened, that would be amazing.

[2020-08-21 15:36] danimtb commented on #7574
So, AFAIK, the CMake code you posted above should be:

[code]

right?

[2020-08-21 15:54] prince-chrismc commented on #7574
Yes that's exactly what I would expect!

[2020-08-21 16:05] prince-chrismc commented on #7574
Even the version variable should be `filename` for it to be unique

[2020-08-21 16:09] danimtb commented on #7574
yeah, taking a look at the CMake documentation I see what is happening there. It might have been an oversight from our side due to the different discussions around `cpp_info.filename`. We'll fix it as a minor or in the next release.

As a general recommendation, you should not rely on ConanCenter updates in production, or in case you do so, stick to a specific recipe revision to avoid breaking wit

[2020-08-21 16:59] jgsogo commented on #7575
Hi, @hongyx11 .

Recipes in ConanCenter are tested only with the lastest Conan version (typically ~10 days after the release is public). As you can see, that `sqlite3` recipe contains a [line like `required_conan_version = ">=1.28.0"`](https://github.com/conan-io/conan-center-index/blob/master/recipes/sqlite3/all/conanfile.py#L4). This recipe is using a feature from `1.28` Conan release.

That _sp

[2020-08-21 17:05] prince-chrismc commented on #7574
:100: It's very confusing which is which. That's perfect, once it's released I will upgrade our CI (hopefully soon).

That's been a rule since we started using Conan however, along the lines of https://github.com/conan-io/conan-center-index/issues/2566, how do I do take into account new dependencies?

One of the advantages of Conan was that I did not worry about the tree, just naming my direct dep

[2020-08-21 17:08] hongyx11 commented on #7575
Hi @jgsogo .

I appreciate your quick response. And it solved the question!

Thanks,
Yuxi

[2020-08-21 17:08] #7575 closed, assigned to jgsogo

[2020-08-21 17:58] Arghnews opened #7576 "[bug] conan install AttributeError: object has no attribute 'install_folder'"
In a directory with a `conanfile.py` as follows:

[code]

On Ubuntu. Running:
[code]

Results in output:

[code]

The behaviour is unchanged whether or not I add the `-if` or `--install-folder` arguments to `conan install` with a parameter that is the install folder. Ie these all produce the same output as above:

[code]

My actual problem is I need to pass to CMake `CONAN_DISABLE_CHECK_COMPILER`

[2020-08-22 01:36] brenobaptista commented on #7568
Nope, I was adding the quotes in every command using a path with white space to make sure it works properly.

Conan is being used inside a script, so actually I don't know how the dev is using the dependency (I'm not a C++ dev, so I have no idea how this is being implemented or what info is useful to help you guys understand what was the problem, sorry).

x64 Native Tools Command Prompt for VS 201

[2020-08-22 19:40] iblancasa commented on #6931
I would like to work on this issue.

The problem is happening in the `__init__` method from the `ProfileParser` class:
[code]
I'll handle this situation and raise a new exception called, for instance, `ConanParsingError`. I think this new exception can be helpful to handle parsing errors easily in other places.

[2020-08-23 14:55] SSE4 commented on #7564
docs: https://doc.qt.io/qt-5/qmake-platform-notes.html
[code]

[2020-08-23 15:04] SSE4 opened #7578 "[feature] set MacOS deployment target in AutoToolsBuildEnvironment helper"
following discussion in https://github.com/conan-io/conan-center-index/pull/2508

right now, recipe authors have to add the following code:
[code]
this seems to be vital and required for almost every recipe to correctly respect the `os.version` setting. it would be nice if it could be done automatically.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.gith

[2020-08-23 15:41] SSE4 commented on #7549
this is unfortunately not fixed by #7515, might be a different issue

[2020-08-23 15:51] SSE4 commented on #7549
going deeper:
1. geotiff defines component **geotiff_library**: `self.cpp_info.components["geotiff"].names["cmake_find_package"] = "geotiff_library"`
2. geotiff_library links to **proj::proj**: `self.cpp_info.components["geotiff"].requires = ["libtiff::libtiff", "proj::proj"]`
3. proj links to **libcurl::libcurl**: `self.cpp_info.components["projlib"].requires.append("libcurl::libcurl")`
4. curl l

[2020-08-23 15:56] SSE4 commented on #7549
the following DOES NOT help:
- linking directly with `PROJ::proj`
- linking directly with `CURL:libcurl`

it seems like the `CURL::libcurl` component missed the frameworks (although frameworks were added to the component, not globally)

[2020-08-23 16:05] SSE4 commented on #7549
the error is here: https://github.com/conan-io/conan/blob/17c8729e16db27c0e9352bb641c43ecac4b9d6c5/conans/client/generators/cmake_find_package_multi.py#L138
some variables are without build type here

if we take a look at the generated `CURLTargets-release.cmake`, it has:
[code]
then:
[code]
notice it uses `CURL_libcurl_FRAMEWORKS` instead of `CURL_libcurl_FRAMEWORKS_RELEASE`
the fix is straightfo

[2020-08-23 20:20] memsharded commented on #7576
Hi @Arghnews

Thanks for your detailed report and explanations.

Indeed, the cause is that you are trying to instantiate a ``CMake()`` object in the ``configure()`` method, and at that time the ``install folder`` does not exist yet, because that depends on the ``package_id`` and the package id needs the full settings and options evaluated, which only happens after the graph is fully built. And ``c

[2020-08-23 20:20] #7576 closed, assigned to memsharded

[2020-08-23 20:21] memsharded commented on #7105
A new request coming from https://github.com/conan-io/conan/issues/7576#issuecomment-678820137:

- Enable/disable access to certain tools based on context. E.g. the ``CMake()`` tool can only be used in ``build()`` and ``package()`` methods, but nowhere else.

[2020-08-23 20:23] memsharded commented on #7573
Hi @richard-viney

This issue should be gone now, bintray was fixed a couple of days ago. Please let us know if the issue persist, or close the issue otherwise. Thanks!

[2020-08-23 21:34] #7564 closed, assigned to memsharded

[2020-08-23 22:11] richard-viney commented on #7573
Seems to have resolved, but I wasn’t the one who opened the issue originally so @DominikDeak would have to close it.

[2020-08-24 02:17] Mingyiz opened #7582 "[feature] extand build requirements to support more cross-compile"
In cross-compiling cases, some package need the tools of itself. This scenario has been described in [conan docs - Build and Host contexts](https://docs.conan.io/en/latest/devtools/build_requires.html?highlight=build%20requirement#build-and-host-contexts) the  `protobuffer` package is what I said. And [Bincrafters ICU](https://github.com/bincrafters/conan-icu/blob/testing/66.1/conanfile.py) is ano

[2020-08-24 07:52] memsharded commented on #7582
Hi @Mingyiz

If I understood this correctly, this is not a feature request for Conan tool, but a feature request to recipes in ConanCenter https://github.com/conan-io/conan-center-index (by the way your GLib link was broken).

Yes, there is a plan to move recipes in ConanCenter to the new cross-build model with contexts, but it will take some time, it is not that easy, and it will require all Cona

[2020-08-24 08:42] jgsogo commented on #7582
Hi, @Mingyiz

Packages in ConanCenter are moving in the other direction, there aren't `xxx_installer` packages anymore and settings `os_build/arch_build` are being removed from recipes. Recipes like `protobuf`, `icu` and many others contain libraries and executables and the only way to build them and use them as dependencies (libraries to link) and build tools (executables to run in a cross-buildi

[2020-08-24 08:48] ytimenkov commented on #6752
Generally "logging" should be redirected to stderr rather than stdout, this is a normal practice for the most tools, because stdout is used for "normal" data flow (think of shell's `+x` option).

The problem is that recipe author is totally unaware of such behavior and it may break other user in a pretty nasty way (think for example getting revision from git using "porcelain" format which will be

[2020-08-24 08:57] jgsogo commented on #6752
We are already working in the CLI 2.0 and that's the place where we will take care of these issues (if we feel like they could break some existing behavior).  There is some work already done and more ongoing: logging to stderr, only actual output to stdout,...

[2020-08-24 10:39] #7455 closed, assigned to nobody

[2020-08-24 14:21] jgsogo commented on #7568
These two questions are key to understand why it is failing. I really think that the _script_ is not adding quotes around your path. Without quotes, any command-line parser will split it into several arguments. You can be adding quotes around your path when calling `prepare_package.bat`, but inside that script quotes need to be added when running Conan too.

Maybe you can use any text editor to op

[2020-08-24 14:32] brenobaptista commented on #7568
Yeah, probably it is a problem with the script. I don't know how it set the user to Conan, but probably it isn't a problem with Conan. I doubt the company would allow me to share further info about the code, sorry. Anyway, I'll just close the issue because it is already resolved. Thank you!

[2020-08-24 14:32] #7568 closed, assigned to jgsogo

[2020-08-24 16:31] SSE4 commented on #7264
okay, seems like there is a still room for improvement, we can detect an actual libcxx value in the new detector.
I guess there were already some issues asking for that, so it's worth to take a look.

[2020-08-24 18:59] ghost commented on #7498
Sorry for the delay!  The issue shows up on CURL so that fully exonerates the Conan client API, and pushes the issue to our Network and/or to the Artifactory server.  (And yes our package has grown to 4.5 G)

Good Box:
[code]

Bad Box:
[code]

[2020-08-24 22:09] #7448 closed, assigned to jgsogo

[2020-08-24 22:11] #6931 closed, assigned to iblancasa

[2020-08-25 07:47] db4 opened #7587 "[feature] Overcome Windows system PATH length limitation"
Our internally developed software consists of many dynamic libraries, each of them placed into a single Conan package.
So on Windows Conan modifies run environment adding to system PATH something like
[code]
This is done for every package. But PATH on Windows has a very strict limitation: its length cannot exceed 8192 characters. Once it's reached, `cmd.exe` will fail to create a new process. Abou

[2020-08-25 08:09] #7503 closed, assigned to uilianries

[2020-08-25 08:10] memsharded commented on #7503
Merged #7507 this will be available next Conan 1.29

[2020-08-25 08:18] DukeOfKirkcaldy opened #7588 "[bug] 'conan lock update' does not complete missing 'package_id' fields"
When using `package_revision_mode`, the `package_id` of packages in the next build levels are not computed in the build order.

_bo_release.json_:
[ci.zip](https://github.com/conan-io/conan/files/5122255/ci.zip)

[code]

They are added to the updated lockfile after they are built.

_locks/app1_release_updated.lock_:
[code]

But this information is not integrated into the old lockfile by the `conan

[2020-08-25 08:33] memsharded commented on #7331
I have been reviewing this, and I think:

- Yes, this might require a change in the server side, and that will take time. I suggest going with workarounds like forcing a new revision introducing some change in the recipe (even a comment)
- I would like to have confirmation from @lasote about this behavior, he implemented revisions, I would like to make sure there is nothing there we are not consid

[2020-08-25 08:40] #7467 closed, assigned to ericLemanissier

[2020-08-25 08:54] Mingyiz commented on #7582
Hi, @jgsogo
Just now, I have tried the two profiles approach on [VS2019 with x86 and x86_64 cross-building](https://github.com/Mingyiz/conan-experimental-feature-investigation/tree/master/cross-building/split-profiles), it works. Thanks for you advice, I believe my thoughts has been supported after with this new conan experimental feature. I will do my farther work on the real cross-building with

[2020-08-25 09:04] jgsogo commented on #7582
If the problem is very specific to a recipe open the issue there, if you feel like you have found some corner case or issue related to the two-profiles, or something that could be explained better or anything we can learn from your experience, please open the issue here (in `conan-center-index` we can't read every message)... every feedback about the feature will be more than welcome.

Thanks!

[2020-08-25 09:07] lasote commented on #7331
I understand your use case but I think it could be valid the other way around too. If something is built at moment X and some time later it is uploaded again, for instance, because of a bad retry in CI or something, you likely don't want it to become the new latest.

I find it more robust at it is, but I have not a strong opinion. Also it would be difficult (technical issues) to change it in Artif

[2020-08-25 10:42] tbikash62 opened #7590 "Error while initializing settings. Invalid setting '16' is not a valid 'version' value"
![image](https://user-images.githubusercontent.com/58831041/91164804-fae2ae80-e6cf-11ea-843b-e49ecbc637e4.png)

![image](https://user-images.githubusercontent.com/58831041/91164869-1352c900-e6d0-11ea-8d9e-de5bbbd81aa8.png)

The above two contains my terminal and the conanfile.py screenshots,

It always ask to pass the values, which is already defined in the settings. And it is not detecting the se

[2020-08-25 10:52] jgsogo opened #7591 "[feature] Method to be run after the graph is resolved"
There are some checks that are needed and cannot be run in the `configure()` method:
 * values from options of the requirements
 * actual version of the requirements (if using version-ranges or overriding).

**Motivation**

Right now, these checks are moved to the `build()` method, which is the only (the first) method were all these values are available. Recipe can check for options values and it

[2020-08-25 11:30] memsharded commented on #7588
Thanks for the report, confirmed and proposed a fix in #7592 for Conan 1.29.

[2020-08-25 11:34] mjvankampen commented on #7414
That seems reasonable. But I am still not entirely clear on what the best way to consume these packages in for example cmake is. I guess you would do ```find_program``` for flatc. I'm just not sure how you would use any cmake scripts that come with the package, scripts you use when building. Normally your ```find_package``` can take care of this. Is this now a thing for the virtualenv to do (add i

[2020-08-25 11:52] sigmunjr opened #7594 "[bug] SystemPackageTool installing multiple does not work if one package is already installed"
Created pull-request #7593

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Compiler+version: gcc 7.5.0
  * Conan version: 1.23.0
  * Python version: python3.6

### Steps to reproduce (Include if Applicable)
install *one* package, e.g.:

    sudo apt install libgstreamer-plugins-base1.0-dev
[code]

### Logs (Executed commands with output)

[2020-08-25 11:53] jgsogo commented on #7414
(I'll use `protobuf` as example because it is the library I have used most, but I'm pretty sure `flatbuffers` uses exactly the same approach).

Yes, this is a CMake problem related to cross-building: the package you find with the `find_package(protobuf)` provides the libraries to link and the `protobuf_generate_cpp` macro, this macro uses `protoc` executable to generate the sources from the `.prot

[2020-08-25 13:06] mjvankampen commented on #7414
Ah I see, so any cmake files are put into the host machine context and the binary in the build context. This feels a bit like cheating but it does make sense. I'll have a look at the protobuf package and I'll try to update the flatbuffers package.

[2020-08-25 14:06] DukeOfKirkcaldy commented on #7562
Hi @memsharded,

I think I have discovered another issue with the modified flags in the example.

Seems that the `conan create` command does not update the given lockfile to show the node has been modified.

In the example, you can see that both `libb_deps_debug.lock` and `libb_deps_release.lock` do not have the flag set.

[2020-08-25 14:06] memsharded commented on #7594
Please check the docs in: https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool

For different packages you need to do different ``.install()`` calls. We will probably change this interface in Conan 2.0 as it is confusing, but it is documented as such.

[2020-08-25 14:48] DukeOfKirkcaldy opened #7595 "[bug] creating a lockfile from a base lockfile removes the captured recipe revision"
Seems that the recipe revision captured in a base lockfile is removed in a derived lockfile.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64-bit
  * Conan version: 1.28.1
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)
Create a base lockfile for libb:
[code]

Capture the recipe revision:
[code]
Derive a config lock

[2020-08-25 18:15] ShamanTcler opened #7597 "Making the error message more useful"
I work with libraries with many options to them such as Qt and Vtk with Qt. I also use Cmake/Ninja with a conan.cmake  (from cmake-conan )

I often see messages like:
[code]

But when I do a
[code]
I see:

[code]

Of course I can cut and paste both sequences and then run them through

[code]

but could the error message be re-directed to a file .... maybe even inverted ?

That way the results of t

[2020-08-25 20:27] uilianries commented on #7590
It seems like Conan didn't detect your compiler. Please, paste the output of:

    conan profile new --detect foobar && conan profile show foobar

Please, add the entire information. Also, which Conan version, OS and compiler are you using?

You can update your profile manually, adding your compiler and its version: https://docs.conan.io/en/latest/reference/commands/misc/profile.html

    conan pr

[2020-08-25 20:29] uilianries commented on #7591
For hooks I think we can use `pre_build`, but for regular validation this new feature looks interesting.

[2020-08-25 20:48] memsharded commented on #7590
Also, the way you are constraining the ``settings`` in the recipe itself is no longer recommended. If you really want to block some specific platform, use the ``configure()`` method and raise ``ConanInvalidConfiguration`` exception.

[2020-08-25 20:59] memsharded commented on #7597
Hi @ShamanTcler

Have you tried the ``conan search ... -r=remote --table=file.html`` command? Now it contains interactive ordering and filtering, which can really help to quickly check existing binaries.

[2020-08-25 21:06] uilianries commented on #7594
Interesting, the [documentation](https://docs.conan.io/en/latest/reference/conanfile/methods.html#systempackagetool) says:

So you should use Force in your case. Did you try with `force=True`?

[2020-08-25 21:26] ShamanTcler commented on #7597
Yup absolutely use --table ... we use that in a Jenkins job to populate a web page of all our internal projects. Jenkins wakes up does a conan  search * -r remote gets a list of packages then conan search project --table project.html ... and that runs weekly

Just a little plug for Artifactory CE and Conan there.

Back to the original problem  with 40-70 options to compare **I really need to use a

[2020-08-25 22:19] memsharded commented on #7595
Hi @GordonJess

I have had a look to this issue and I would say this is by design.

When you are creating the final config lockfile, you are passing the path to the local pkgb ``conanfile.py``. As this file is not a package yet, it cannot have a revision. The "exported" revision is not used, and discarded, because you are not referencing it.

have you tried?:

[code]

I am adding a test in https:/

[2020-08-26 06:49] Mingyiz commented on #7582
@jgsogo
I found some problem in test_package, normally we not define options in test_package/conanfile.py. but if we still do so in two-profiles an error will bee occured. this can be reproduced with my test [VS2019 with x86 and x86_64 cross-building split-profiles](https://github.com/Mingyiz/conan-experimental-feature-investigation/tree/master/cross-building/split-profiles),

[code]

[2020-08-26 07:36] DukeOfKirkcaldy commented on #7595
Hi @memsharded,

Ah, yeah that makes sense.  I tried your suggestion but I get the following error:

[code]

[2020-08-26 08:25] memsharded commented on #7595
Hi @GordonJess

Can you please verify again? I have tried to obtain that ``Attempt to modify locked libb``, but no success. You have the ``lose_rrev_test`` in https://github.com/conan-io/conan/pull/7592/files if you want to compare the commands, just in case I am missing something.

[2020-08-26 08:32] #6416 closed

[2020-08-26 08:58] DukeOfKirkcaldy commented on #7595
Hi @memsharded,

I checked again.

It seems the `conan lock create` command works fine and I can confirm that the derived lockfiles have the revision info.

It is the subsequent `conan create` commands which use the derivied lockfile which fails and causes the above error message.

[code]

[2020-08-26 09:52] damageboy commented on #7223
Bumping this as clang-11 is basically at RC2 now...

Does this make sense to go for this now?

[2020-08-26 10:25] db4 opened #7598 "[bug] PATH is populated with non-existing directories"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Conan version: 1.28.1
  * Python version: 3.8.3

### Steps to reproduce
Consider the following consumer `conanfile.py`:
[code]
with Conan 1.27.1 I had:
[code]
and now with Conan 1.28.1:
[code]
Note `C:/Users/ContainerAdministrator/.conan/data/zlib/1.2.11/conan/stable/package/6cc50b139b9c3d27b3

[2020-08-26 11:02] memsharded commented on #7595
I have added the subsequent ``conan create`` to the test, still passing. I have also checked the code, and it seems the only possibility is that ``libb`` already had a ``prev`` defined, but in your above lockfile it doesn't seem the case. Not sure what to try next. I am running from my branch, but the other changes seems completely unrelated, and I have run the test from develop branch and still p

[2020-08-26 11:19] memsharded commented on #7598
Reproduced different behavior with:

[code]

Seems non-empty paths are being added now

[2020-08-26 11:36] memsharded commented on #7598
Regression apparently introduced by: https://github.com/conan-io/conan/pull/7277

[2020-08-26 11:41] DukeOfKirkcaldy commented on #7595
Hi @memsharded,

You're right, the lockfile used by the failing `conan create` has `prev` already defined.  It is added when deriving the lockfile from the base.

Can you try make a test with `conan config set general.default_package_id_mode=full_package_mode`?

[2020-08-26 11:46] memsharded commented on #7595
Yes, the test is already using ``full_package_mode``: https://github.com/conan-io/conan/pull/7592/files#diff-ed93571a10c6758448fb4aacc488583aR186

[2020-08-26 11:49] DukeOfKirkcaldy commented on #7595
Sorry, I meant `package_revision_mode`.

[2020-08-26 11:50] memsharded commented on #7595
Same result with ``package_revision_mode``

It would be very interesting to track down where that ``prev`` comes from:
- First, you capture a "base" lockfile, it shouldn't have ``prev``
- Then, with the ``export`` only the ``rrev`` should be added, still no ``prev``
- When capturing the full config lockfile, the thing might be that ``--build=missing`` is not defining that ``libb`` should be built,

[2020-08-26 12:22] jgsogo commented on #7598
I've added a fix to the test provided in the PR, it should revert this change.

[2020-08-26 12:25] jgsogo commented on #7587
Hi, @db4

For other reason (but with the same effect) I'm proposing to add wrappers around the executables that are provided by packages (https://github.com/conan-io/conan/pull/7324). As a side effect, only the path to the wrappers would be added to PATH and probably they should be all together closer to the working directory.

We need to keep working on that approach.

[2020-08-26 12:34] DukeOfKirkcaldy commented on #7595
Thanks!  Can confirm adding the build policy for the package works.

Seems I already had a package in the cache which was determined to be compatible due to the `build_type` setting being missing from the recipe.  This locked the package in the lockfile and quite rightly didn't allow me to rebuild it.

[2020-08-26 13:18] jgsogo commented on #7598
One more question, @db4 , I understand this is not failing because a _path_ doesn't exist but because of the Windows PATH length limitation, right?

Do you need a minor asap or can you wait until next week (1.29 is planned for next week)?

Thanks!

[2020-08-26 13:26] db4 commented on #7587
Hi @jgsogo!

That's great, but what about DLLs, provided by packages? They also should be in PATH. Why symlinking .exe/.dll into a single bin directory is not an option?

[2020-08-26 13:35] db4 commented on #7598
@jgsogo,

In my case PATH becomes enormously big (~10kb with 1.28 instead of ~6kb with 1.27), so `cmd.exe` fails to run anything.

Well, I can wait - I already downgraded Conan locally (including CI scripts)

[2020-08-26 14:18] memsharded commented on #7595
Excellent. This issue can be closed, behavior is checked in tests. Thanks for the feedback!

[2020-08-26 14:18] #7595 closed, assigned to memsharded

[2020-08-26 21:24] #7549 closed, assigned to SSE4

[2020-08-26 21:25] memsharded commented on #7549
Fixed, will be released in 1.29

[2020-08-27 10:15] Timen opened #7603 "[bug] Package ID independent of build type doesn't work on windows"
* os: Windows 10:
  * compiler: Visual studio 2019:
  * conan: 1.28.1:
  * python: 3.8:

Removing build_type from conanfile settings or even hard coding a build_type in the package_id will still result in a different package id hash when specifying a different build type during package creation. I found that the compiler settings would still change the final hash even when only changing build type

[2020-08-27 12:48] memsharded commented on #7603
Hi @Timen

This shouldn't be the case. I guess there might be something else failing, could you please provide a reproducible case so we can try it? Maybe you are changing ``self.settings.build_type`` in the ``package_id()`` method and not ``self.info.settings.build_type``? I also don't fully understand the connection between the issue title and the content, if you could please clarify a bit more,

[2020-08-27 12:54] Timen commented on #7603
@memsharded Sorry Updated the title.

So I have a conan package (LLVM) that I want to compile one time in Release mode and reuse this package for the Debug and RelWithDebInfo (as it only used for compilation not in the actual code). On osx and linux simply removing the build_type from the settings in the top of the conanfile makes the package hash independent of the build_type. However this method

[2020-08-27 15:14] DominikDeak commented on #7573
Unfortunately, I'm forced to reopen this issue as conan-center seems to be down again. Running the command `conan search "boost/*" -r=all` produces the same error as shown below. This seems to be a recurring problem.

[code]

[2020-08-27 15:20] memsharded commented on #7603
Oh, I see now @Timen thanks for clarifying.

Check the output in both cases. In the debug one you will see in the configuration:
[code]
And in the release one:
[code]

My suggestion here would be:

- Do not remove the input settings. If you need to build this from sources, the build needs to know both the build_type and the  Visual runtime to link with. You will be passing this information to buil

[2020-08-27 15:33] memsharded commented on #7573
Hi @DominikDeak

Can you please try to install some package from CnanCenter?
Like ``conan install zlib/1.2.11@ -r=conan-center``? Seems to work here. The search can have some problems and timeouts, this is a known issue and we recommend searching in the frontend: https://conan.io/center.

[2020-08-27 15:43] memsharded commented on #7573
Update, it is failing a bit randomly. We have reported the issue to the bintray team. Thanks for reporting.

[2020-08-27 15:45] memsharded commented on #7598
Closed by https://github.com/conan-io/conan/pull/7599

[2020-08-27 15:45] #7598 closed, assigned to memsharded

[2020-08-27 15:49] Timen commented on #7603
Done!

PR open here:  https://github.com/conan-io/docs/pull/1821

[2020-08-27 16:43] cguldner commented on #7567
@jgsogo Any thoughts on this? Not auto checking out the source would be really helpful and would remove the need for this

[2020-08-27 20:25] UnderSampled opened #7606 "[bug] MSBuild calls devenv by default, even if not available"
### Environment Details
  * Operating System+version: Windows Server 2019
  * Compiler+version: Visual Studio 2017 Build Tools 15.9.2.0
  * Conan version:
  * Python version: 3.7.0

### Steps to reproduce
On a system with only Visual Studio build tools installed, run a Conan build using the MSBuild build helper using the default setting for upgrade_project (Defaults to true)

Because Visual Studio

[2020-08-27 22:20] michaelmaguire opened #7607 "[bug] injected version of root package in test_package conflicts with version of build_requires in shared config"
Conan version 1.26.0 on Windows Server 2012 R2.

My team uses a shared `conan config install type --git` repo which is used by our dev and build infrastructure.

In a profile fragment included in all our conan profiles, we state:

[code]

This has provided us with some great enforcement of common build tools.  So far so good.

Today I went to try to use our build machine to build a new version 3.1

[2020-08-27 22:45] michaelmaguire commented on #7607
Relevant comments from cpplang #chef:

[2020-08-27 22:47] michkrom opened #7608 "Error loading conanfile at '...': Current Conan version (1.28.1) does not satisfy the defined one (1.0.0)."
Never mind - the older recipe was used and it specified `required_conan_version = '=1.0.0` which now w/ 1.28.1 this actually got applied.

[2020-08-27 22:56] #7608 closed, assigned to nobody

[2020-08-27 22:56] michkrom commented on #7608
Not an issue.

[2020-08-27 23:04] memsharded commented on #7607
Hi @michaelmaguire

Have you tried the ``&!`` syntax? https://docs.conan.io/en/latest/devtools/build_requires.html?#declaring-build-requirements

With
[code]
means apply the build requirements to all packages except the consumer (cmake) one.

[2020-08-27 23:11] michaelmaguire commented on #7607
Thanks, @memsharded .  I'm reading the documentation now, but I'm not understanding what the consumer conanfile will be in the context of all of the other things that profile will be used to build.

"The special case of a consumer conanfile (without name or version)"

I'm not sure I understand how it's safe to assume the only consumer conanfile we'll ever use in our build system will be CMake?

[2020-08-27 23:11] memsharded commented on #6359
Hi @drozel

I hope the rationale of the current behavior was clear, I am going to close the issue, but let me know if you have any further question. Thanks!

[2020-08-27 23:11] #6359 closed

[2020-08-27 23:15] memsharded commented on #6850
It has been a while, and there is no evidence of the wider community demand for supporting this platform. As explained, as it is very easy to add custom settings, and many users are maintaining their own settings.yml to manage their own OS and configurations, I don't think we should add Lumin OS support in the default settings.yml at the moment.

Do not hesitate to ask if you need help for managin

[2020-08-27 23:15] #6850 closed, assigned to memsharded

[2020-08-27 23:17] memsharded commented on #7197
Hi @fschoenm

It hope the explanation was clear, so I think this issue can be closed. Please let me know otherwise, or if you have any further question. Thanks!

[2020-08-27 23:17] #7197 closed, assigned to memsharded

[2020-08-27 23:19] memsharded commented on #7555
Hi @ppatoria

Please let me know if the above response clarified your question (and you can close the issue too if the question was correctly addressed). Thanks!

[2020-08-27 23:26] memsharded commented on #3551
Hi @raffienficiaud

It has been a while since this issue. In this time we have learned the following:

- The model 1 conanfile - 1 package works quite well, it is clear and quite manageable.
- Typically, for your own recipes, they evolve in parallel with the code, in branches in source control. They are versioned, diffed, and merged in the same way as the source code is.
- It is possible to mainta

[2020-08-27 23:26] #3551 closed

[2020-08-27 23:34] memsharded commented on #7607
Yes, you are right, this will not work for building cmake itself. At the moment I dont see any other way to build cmake without temporarily removing the ``[build_requires]`` from the profile.

We need to think about this problem. It is somehow between a bug and a non-feature. As defined now is basically by design:
- We don't allow cycles in dependencies.
- Cycles are defined by package names, excl

[2020-08-27 23:39] michaelmaguire commented on #7607
Cool.  I'm happy to work around it.  Just wanted to understand if there was a better way I was missing.

[2020-08-28 03:32] DominikDeak commented on #7573
Like conan install zlib/1.2.11@ -r=conan-center? Seems to work here. The search can have some problems and timeouts, this is a known issue and we recommend searching in the frontend: https://conan.io/center.

That seems to works fine.

 I think the issue appears to present itself when I search with wild cards in the package version.  For example:
`conan search "boost/*" -r=all`
produces the aforem

[2020-08-28 07:19] jgsogo commented on #7607
Hi! While this is not possible using one profile because there is only one context in the graph and there can be only one version of the same package in the same graph, **the new approach with the two profiles handles this situation properly**:

Assume we already have `cmake/3.17.0@bloomberg/stable` ready (it has been compiled without CMake, _causa efficiens_), and your _host_ profile injects `cma

[2020-08-28 07:47] jgsogo commented on #7573
cc/ @czoido

Searching with patterns looks like much slower indeed, not only in Bintray (https://github.com/conan-io/conan/issues/5432). We applied a workaround in the Conan client (#5433). Now with so many packages in ConanCenter this pain is much bigger and we are trying to allocate some time from other development teams to work on it.

Thanks for reporting, it is important for us to know and pr

[2020-08-28 07:52] DoDoENT commented on #7520
I've just got the same error with conan 1.28.1

[2020-08-28 07:53] DoDoENT commented on #7520
By manually upgrading `astroid` to 2.4.0 and six to 1.13, the problem got away.

[2020-08-28 08:03] #7603 closed, assigned to memsharded

[2020-08-28 08:36] memsharded commented on #3602
Hi @solvingj

Python-requires have evolved a lot since then, and there is a completely new syntax that supports version-ranges, packages without user-channel, python-requires affecting the package_id. Also, regarding the parameterize channel, we are not recommending this approach, and recommending instead using different repositories for different stages instead of channels.

So I am going to clos

[2020-08-28 08:36] #3602 closed

[2020-08-28 08:41] memsharded commented on #7520
Does it make sense to backport #7545 to Conan 1.28.2, @jgsogo ?

[2020-08-28 08:47] memsharded commented on #7607
Does this approach works without ``test_package``? I recall having issues while trying this, maybe is it because I didn't have a ``test_package`` in my example?

[2020-08-28 08:54] memsharded commented on #7606
Hi @UnderSampled

I am not sure this is a bug, but instead by design. Conan tries to provide a consistent behavior. Running one thing or another different one based on the existence of a tool in the system is a bit fragile, and this is the reason the default behavior assumes that it exists and will error otherwise, and there is an opt-out to not use it.

We are now starting a new approach of integ

[2020-08-28 09:06] jgsogo commented on #7607
Yes, it works without the `test_package`. Same _host_ and _build_ contexts are created.

The thing we cannot do right now is to test the package just built (`cmake/3.18`) as a build-requires of the recipe in `test_package/conanfile.py`. I mean, in this scenario we would have this graph:

![image](https://user-images.githubusercontent.com/1406456/91542239-d0863080-e91d-11ea-80f3-64963c4c4bb9.png)

[2020-08-28 09:23] michaelmaguire commented on #7607
Just an FYI: Specifying a 2nd profile as suggested in https://github.com/conan-io/conan/issues/7607#issuecomment-682370857 isn't really a desirable option for us as assumes an interactive session and would require a change to our CI Jenkinsfile.

In the end the simplest work-around was the original "fiddle with my profiles to temporarily remove cmake from the build_requires in our common profile f

[2020-08-28 10:27] PatrickSoulardThales opened #7609 "Conan 1.28 breaking change (model/options.py/class PackageOptionValues) : Add config variable (conan.conf/environment variable) to select old/new behavior ?"
Conan 1.28

We've existing packages in production having some code in conanfile.py which assumes that missing options have "None" value (maybe not a good practice but ...).

Since 1.28, `model/options.py/PackageOptionValues.__getattr__() `raises an exception instead of returning "None" and therefore "conan install ..." fails with some of our packages.

Is it possible to have a config variable to s

[2020-08-28 11:11] memsharded commented on #7609
Hi @PatrickSoulardThales

I guess the error you are seeing is when using ``self.info.options.missing_option``, isn't it?

This was changed in https://github.com/conan-io/conan/pull/7303, it was declared a bug, both because the documented behavior for ``self.settings``, ``self.options`` when missing values is to raise exceptions, so ``self.info.options`` should necessarily follow the same behavior.

[2020-08-28 12:00] #7594 closed, assigned to memsharded

[2020-08-28 12:01] sigmunjr commented on #7594
:+1:

[2020-08-28 13:25] jgsogo commented on #7607
Sure, it requires some changes, but our plan is to make the two-profiles approach the default for Conan 2.0, and we are trying to know if it fits every use-case, if we are going to break something too much...

---

(Now the speculative part) If two-profiles are the default, and we don't want the user to write always the `--profile:build=xxxx`, then it makes sense to assume `--profile:build=DEFAULT

[2020-08-28 13:26] memsharded commented on #7395
This will potentially add many lines in the output, related to the download of recipes, so parsing this output might be ugly. Using the ``conan info <path> -n None --json=file.json`` outputs everything in the json, but getting the information from there wouldn't care about extra fields, but still requires a bit of parsing code to extract the dependencies.

I have been thinking about it and it does

[2020-08-28 13:39] PatrickSoulardThales commented on #7609
Hi,

Thanks for your answer.

Our current conanfile.py recipe files already have such a "missing option check" but of course not the older ones stored in our Artifactory server.
We have tens of such "old" conanfile.py and are now considering to modify them (dirty workaround being to explicitly pass the "missing options" with value "None").

Best regards

[2020-08-28 13:49] memsharded commented on #7609
But this raises mostly when the option itself is not defined, not when it doesn't have a value. I am not sure your workound is going to work but let me know.

Another option, depending how you deploy your Conan client, is to generate a patched version that could help in the transition while things are fixed. I could help with that, how are you installing Conan in your developer and CI machines? Wh

[2020-08-28 14:15] PatrickSoulardThales commented on #7609
Thanks for your help.

We can manage patching ourselves Conan 1.28+ python code (we’re using both Windows and Linux platforms for dev and CI).
For the moment we’re using 1.27 and will identify and modify all old recipes before upgrading Conan

Best regards.

-----------------------------------------------------------------------
patrick.soulard@thalesgroup.com<mailto:patrick.soulard@thalesgroup.co

[2020-08-28 16:41] jgsogo commented on #7395
This is the typical command you always run two times and parse the output from the second one

-- 101 CLI hackers course 😄

[2020-08-28 18:53] shelper opened #7612 "[question] Is there a way to update/modify the variable in the profile"
i have a profile file like below:
[code]

is there a way to update the variable `ANDROID_NDK_PATH` through commands like ` conan profile update ...`?
it seems to me this update command only works for variables in certain section, like [settings]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-08-28 19:18] madebr opened #7613 "[question] NSIS:Adding package require for target system + multiple compiler toolchains (for host and target)"
Hello!

I'm trying to create a recipe for [nsis](https://nsis.sourceforge.io), a open source system to create Windows Installers.
But I'm having difficulties transcribing its requirements to a conanfile recipe.

- Since nsis emits code for a target os/architecture, it has to include `"os_target", "arch_target"`. So its complete settings should be `"os", "arch", "compiler", "build_type", "arch_targ

[2020-08-29 03:17] shelper opened #7614 "[question] conan hangs on linux"
I was able to run conan install on windows, but on linux it failed to connect to my artifactory
same conan version 1.27.1, same artifactory server, same profile used, linux can ping the artifactory server, so no connection issue.
output from windows:
![windows](https://user-images.githubusercontent.com/546163/91627235-17a70c80-e984-11ea-9d2f-7a83d3380180.png)

output from linux:
![linux](https://u

[2020-08-29 08:12] raffienficiaud commented on #3551
Thank you @memsharded for coming back to this. My experience of conan has also evolved since back then and I completely agree with you that there are means, as you mentioned, to address the issue.

Thanks you for your work!

[2020-08-29 08:22] memsharded commented on #7614
Hi @shelper

This error is very weird. Let's try to do a quick check to rule out other possible connection issues: Enter the web UI of Artifactory, from the Linux machine, and try to download some files from those packages, like the ``conanfile.py``, or the ``conanmanifest.txt``, directly from the UI. Then I would probably try next (if that works), to install an ArtifactoryCE in that Linux machine

[2020-08-29 09:03] memsharded commented on #7612
Hi @shelper

I am afraid it is not possible, only structured information like settings can be modified from the command line.

You had this feature request open: https://github.com/conan-io/conan/issues/7465, which is under consideration (or having python profiles), which I guess is very related

[2020-08-29 09:34] SpaceIm opened #7615 "[feature] cmake_find_package[_multi] generators: provide a way to create non namespaced imported targets"
Currently, `cmake_find_package` and `cmake_find_package_multi` generators always create namespaced imported targets in generated module/config files.
While not considered as best practice, it's not uncommon that official CMake config file of a library create non-namespaced imported targets (and quite uncommon for module files because official ones are usually provided by Kitware).

This is a non-e

[2020-08-29 12:30] #7614 closed, assigned to nobody

[2020-08-29 12:57] shelper commented on #7614
i am using linux without UI, so i cannot download in browser.
but i did try curl, and the same command using curl works with windows but got time out error in linux.

I wonder if this is due to the artifactory settings, i am using artifactory CE.

but i was able to download previously in linux, and i am sure i didn't touch artifactory in any means...

[2020-08-29 13:00] shelper commented on #7614
i was able to download using another linux computer... so i think this is not due to conan or anything, there must be something on my linux that is messed up ... i am closing this now.
thanks anyway,

[2020-08-29 16:11] SignalWhisperer commented on #7573
I was also searching for "boost", and either it took 3 minutes to get results, or I got a read timeout after 4 minutes. As my first experience with Conan, I must say it's a bit scary to see I can't even search for my favorite package. For now I guess I'll have to use the web interface instead of the command line. Don't you use the same API for both?

[2020-08-29 16:59] redpandamonium opened #7616 "[bug] gsl-lite: Error when installing"
### Environment Details (include every applicable attribute)
  * Operating System+version: Manjaro Linux
  * Compiler+version: clang 10.0.1
  * Conan version: 1.24.1
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Include gsl-lite/0.37.0 or gsl-lite/0.36.0 into the conanfile and install.

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2020-08-29 17:00] #7616 closed, assigned to nobody

[2020-08-29 21:13] shelper commented on #7612
sounds good, closing this, thx!

[2020-08-29 21:13] #7612 closed, assigned to nobody

[2020-08-29 21:18] shelper opened #7617 "[question] update library dependency order without rebuilding the package."
I have a big project that generates many .a files, and i messed up the library dependency order  of these .a files. I know there is a way to set the order using self.cpp_info.libs variable in the package_info()in the recipe file, but i dont want to rebuilds everything by running conan create again. is there a way to modify/update the order without rebuilding the project?

- [x] I've read the [CONT

[2020-08-29 23:01] madebr opened #7618 "[question] Add build requirement on previous version of package of same name"
Hello!

I'm trying to package [golang/1.15](https://github.com/madebr/conan-center-index/tree/pr_golang/recipes/golang).
Golang requires a previous go version to build itself, that's why I also added golang 1.4.3.

But when adding the build requirement `golang/1.4.3` to `golang/1.15`, the following error appears:

[code]

How can this be allowed?

[2020-08-30 00:46] kralicky commented on #7618
Doesn't look like it is possible for a package to depend on a previous version of itself at the moment. The graph builder will fail if the same package _name_ appears in its own ancestors, even if the version is different. [Relevant code here](https://github.com/conan-io/conan/blob/develop/conans/client/graph/graph_builder.py#L193).

You could name the 1.4 package something different like golang-b

[2020-08-30 00:56] kralicky commented on #7617
You can try `conan create --keep-build`

[2020-08-30 07:48] a4z commented on #7566
Hi @jgsogo , I try to re-write https://github.com/bincrafters/community/issues/1255 i a  way so it fits the 2 profile approach, but there is something that blows my mind.

the Android NDK makes a lot of use from `os_build` and `os_arch`, and I can adopt that to access `settings_target`
but
how does this harmonize with the `conan create` command?
at this time , there is no `settings_target`,
thus,

[2020-08-30 08:27] memsharded commented on #7616
Hi @redpandamonium

I guess (and for reference for other users reading this issue) that it was that you were using an older Conan version (1.24). The feature of ``self.cpp_info.filenames`` is newer and then it fails, expectedly. As stated in the docs, packages from ConanCenter should be using latest Conan version. We have introduced ``required_conan_version`` in latest release, so at some point it

[2020-08-30 08:30] memsharded commented on #7573
Hi @TehWan

Yes, we are aware of this annoying situation. The thing is that they use different infrastructure, ConanCenter frontend uses a ElasticSearch designed for this web UI, but Conan client connects via the Conan api, and it was not designed in the Bintray backend for that scale. It might take a while, but it is on the roadmap to improve this.

[2020-08-30 09:32] memsharded commented on #7614
Hi @shelper

Yes, exactly the web UI gives a link that can be used with curl to download a file too.
Happy to hear that from other Linux box it is working, yeah, I would try to review the network configuration, firewall, hosts, etc in that failing linux box, it might have something misconfigured.  Thanks for following up, and let us know if you need further help.

[2020-08-30 10:19] #7253 closed, assigned to nobody

[2020-08-30 10:21] memsharded commented on #7253
This was fixed and will be released in Conan 1.29

[2020-08-30 10:23] memsharded commented on #7363
We have discussed this a little bit, and at the moment having something built-in in Conan seems not the best approach.
We will provide scripts in the conan-center-index repo that could automate this task, so I am transferring this issue to that repo.

[2020-08-30 10:26] #7305 closed, assigned to SSE4

[2020-08-30 10:27] memsharded commented on #7305
This was fixed by #7584 and will be released in Conan 1.29. Thanks very much for reporting!

[2020-08-30 14:57] MaciejKucia opened #7620 "[feature] Add documentation for min_conan_version"
I am a bit confused about the new attribute. This is how I use it:

[code]
But I have also seen:
[code]

Is the first option valid? Would be cool to have this in https://docs.conan.io/en/latest/

- [✔] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-08-30 15:06] madebr commented on #7618
To the conan developers,
are there plans to allow this use case?
I guess it is sensible to allow packages with the same names, as long as they are not used in the same *context* (requirement/build requirement).

[2020-08-30 19:10] arsdever commented on #7305
Thanks for solving the problem.

[2020-08-30 19:20] SpaceIm opened #7621 "[bug] conan client can't handle "provides" attribute as a collection"
### Environment Details (include every applicable attribute)
  * Operating System+version: all
  * Compiler+version: all
  * Conan version: 1.28.1
  * Python version: 3.7.1

### Steps to reproduce (Include if Applicable)

In `conanfile.py` of a recipe, add `provides` attribute with at least two recipes listed (https://github.com/conan-io/conan-center-index/pull/2716/commits/b62f5188fb5026e9c27e468

[2020-08-30 19:49] kralicky commented on #7621
Related: #7520

[2020-08-30 20:46] memsharded commented on #7621
https://github.com/conan-io/conan/pull/7545 implemented a fix for Conan 1.29, but lets backport to next Conan 1.28.2 too.

[2020-08-30 21:01] memsharded commented on #7620
Hi @MaciejKucia

It seems the documentation is there, was added in: https://github.com/conan-io/docs/pull/1788/files

You can find it live here: https://docs.conan.io/en/latest/reference/conanfile/other.html#requiring-a-conan-version-for-the-recipe

Where did you see such syntax? It is actually ``required_conan_version`` and not ``min_conan_version``, and it is an expression, not a value.

[2020-08-30 21:08] memsharded commented on #7617
If you are not using revisions, updating the recipe and uploading it, without creating binaries, can fix the issue. The package binaries will be marked as "outdated from recipe", because they will know they were created with a different recipe. This is important to track, it is extremely recommended that binaries can perfectly match the recipe that was used to create them, otherwise the inconsiste

[2020-08-30 21:25] memsharded commented on #7615
Hi @SpaceIm

First, it is sad to discover this CMake lack of consistency (though not very surprising).
Second, I agree, this is not a corner case, I thought it was going to be just a very few recipes, but it is clear I was wrong.
I think Conan needs to provide a native and idiomatic way to define these targets too. Not sure they can be introduced without breaking, we might need to wait until Conan

[2020-08-30 21:54] #7574 closed, assigned to danimtb

[2020-08-30 21:54] memsharded commented on #7574
Fixed by #7610, to be released in Conan 1.28.2 soon

[2020-08-30 22:41] memsharded commented on #7105
Adding a new proposal in https://github.com/conan-io/conan/pull/7623:

- Using a real module that is generated programmatically, to fully control variables injection while avoiding global vars.

This is a new approach, better delay this decision (1.30) until we have a look at the new one. To be honest, I am not fully convinced about either of the 3 existing ones, this one could be the good one.

[2020-08-30 23:42] shelper commented on #7617
@memsharded thanks for the info, sounds good to me, I saw you put triaging label, so i am leaving this to you to close this issue.

[2020-08-31 01:56] MaciejKucia commented on #7620
Thanks! Now it all makes sense and I can find all related announcements and documentation.

As a side note, the name `required_conan_version` is not very good as it implies specific version rather than range.

[2020-08-31 01:56] #7620 closed, assigned to memsharded

[2020-08-31 03:24] chubei-oppen opened #7624 "[question] How to use glfw and xorg recipes with cmake_find_package generator"
I'm trying to build an app based on GLFW on Ubuntu 18.04 and use conan and CMake to manage dependencies. The app fails to link because of erros like `undefined reference to XFree`. I looked at the files generated by CMake and found that it's not linking to X11. I was using the `cmake_find_package` generator.

A minimal example showing the problem is like this:

**conanfile.txt**
[code]

**CMakeLis

[2020-08-31 06:49] czoido commented on #7624
Hi @chubei-oppen,
Thanks a lot for reporting. I think this is related to a bug we detected, where the system libs were not added to the targets when using componentes. The fix be released very soon (today or tomorrow) in Conan 1.28.2
This is the PR for that bug: https://github.com/conan-io/conan/pull/7611
I'm going to close the issue as this should be addressed by that, but please feel free to reo

[2020-08-31 06:49] #7624 closed, assigned to nobody

[2020-08-31 07:13] czoido commented on #7621
Closed by https://github.com/conan-io/conan/pull/7622
Fix will be released very soon in Conan 1.28.2

[2020-08-31 07:13] #7621 closed, assigned to nobody

[2020-08-31 07:52] memsharded commented on #7620
It was named after the same ``required_conan_version`` in conan.conf, it didn't seem bad to have ``required_conan_version >= 1.28``.

[2020-08-31 07:54] #7617 closed, assigned to memsharded

[2020-08-31 08:26] jgsogo commented on #7566
Hi @a4z

I found some time to play with the Android NDK recipe some time ago and I used it to compile several packages. I did some modifications to the @bincrafters one, you can find mine here: https://github.com/jgsogo/conan-center-index/tree/android_ndk/recipes/android-ndk/all I used the two-profiles approach, any default profile for my _build_ machine and this one for the _host_ profile:

[code

[2020-08-31 08:37] jgsogo commented on #7618
Hi! Using the two-profiles approach (which will likely be the default for Conan 2.0) this is totally possible. The build-requires package will belong to the _build_ context while the other will belong to the _host_ one. The uniqueness will be name-context (not only name) and two packages with the same name and different versions can coexist in the same graph (give each one belongs to a different c

[2020-08-31 08:41] a4z commented on #7566
That looks like a promising begin, @jgsogo ! Thanks a lot, and this recipe seems way simpler to work with than the existing one.

Actually, I just started to adopt the recipe my own and moved into the same direction, but it makes no fun to work with a package of this size especially if it is uncertain for me if the outcome will ever be usable.

But I will invest some more time, based on you work

[2020-08-31 08:53] jgsogo commented on #7475
There is one thing to consider while implementing this feature: at the moment of creating the consumer recipe, the requirement provides components and that's the reason why we could use something like `self.cpp_info.requires = ['req::req_component']`. Nevertheless, give then different mechanisms that Conan provides to override recipes and versions, in an actual graph the requirement could use an o

[2020-08-31 08:55] theodelrieu commented on #7566
@jgsogo Looks great! I don't exactly remember why I failed to use `settings_target` appropriately a few months ago, but your code makes a lot of sense!

I'm looking forward to having these changes merged in bincrafters.

[2020-08-31 11:54] mjvankampen opened #7626 "[bug] Neutrino OS version not updated"
The compiler was updated to match with the new QNX Neutrino release but I forgot to update the actual OS version

[2020-08-31 12:42] danimtb commented on #7499
After some tries to improve this issue here https://github.com/conan-io/conan/pull/7600, we have come to the conclusion that the generator expression to inject C or CXX flags correctly is not supported on Visual Studio generators as CMake is still not able to set a compile language per compilation unit. I have also tried to set the flags depending on the project language declared by the consumer b

[2020-08-31 14:17] #7626 closed, assigned to nobody

[2020-08-31 14:45] czoido commented on #7624
@chubei-oppen, we have just released Conan 1.28.2, please try with the new version and report if your issues are not solved.

[2020-08-31 14:54] memsharded commented on #4322
#7586 merged this, will be released in Conan 1.29

[2020-08-31 15:30] danimtb opened #7628 "[bug] Review upload protocol to avoid missing recipes in remote"
We have seen some issues in Conan Center where packages were uploaded to Artifactory and the conanfile.py was missing.
Some of these issues can be caused by several retries on a poor connection or maybe parallel uploads producing race conditions.

In the specific case we faced, the conanmanifest.txt was uploaded while the conanfile.py was not. This produced that the next package uploads that uploa

[2020-08-31 15:58] #7562 closed, assigned to memsharded

[2020-08-31 15:58] #7588 closed, assigned to memsharded

[2020-08-31 16:57] memsharded commented on #6876
I have a potential idea. I had forgot about the Conan download cache. If we could build a remote backend for this cache, this could possibly work amazingly. Conan 1.29 is too close, lets try to look into it a bit in next iteration.

[2020-08-31 17:18] ytimenkov commented on #6876
I don't see how it can work... Usually build servers don't have internet access it needs to go through artifactory anyways.

Another thing with sources it's straight-forward to audit the code. If it's hidden behind an obscure hash it's trickier...

[2020-08-31 18:07] memsharded commented on #6876
Well, if it is a backup of the original sources (lets say a github release .zip), it should be backuped somewhere else. If the build servers don't have internet access, how will they download the original sources in the first place?

The download cache has all the information, including the URLs, the hashes, etc. Of course that information needs to be part of the remote backend of the download cac

[2020-08-31 18:23] ytimenkov commented on #6876
So it's like upload download cache? 😁

Because sources somehow need to follow the recipe: when it wanders between repositories, new ci servers replace previous ones...

Another (important to me) thing in the op was the ability to change/patch sources and build a new version. I can imagine if new compiler doesn't like the way ub used ☺️.

Because current approach with conandata.yml seems most reaso

[2020-08-31 18:41] prince-chrismc commented on #6876
Currently they are cached in Artifactory (which is also backed up). It takes manual intervention to get the sources in Artifactory. If ever it's required we can change the URL to pull our local copy (with changes if required). _with expectation to the patches/exports which I don't recall if they were available_

I like the idea! If the download cache was in the conan server it could be moved from

[2020-08-31 19:04] uilianries opened #7629 "[question] How to use Development flow with conadata.yml?"
Hi!

As you know, the [package development flow](https://docs.conan.io/en/latest/developing_packages/package_dev_flow.html) is useful when creating complex recipes which take many minutes to be built, so we can split step-by-step during the process.

However, with the introduction of [conandata.yml](https://docs.conan.io/en/latest/reference/config_files/conandata.yml.html) we can not follow the sa

[2020-08-31 19:43] madebr opened #7630 "[bug] version field in generated pkg_config .pc files of components is None"
When using the pkg_config generator with a requirement using pkg_config, the generated .pc files contain `Version: None`.

### Environment Details (include every applicable attribute)
  * Operating System+version: Fedora Linux 30
  * Compiler+version: gcc 9
  * Conan version: 1.28.2
  * Python version: 3.7.7

### Steps to reproduce (Include if Applicable)

[code]

The following `.pc` files get cre

[2020-08-31 20:02] Tridacnid commented on #7537
I'll bump this once to try to get an answer to my question above and then close it in a week. Is my guess that sharedlinkflags and exelinkflags represent the flags that should be used when the conan package is part of a shared object and an executable binary respectively? If that's correct, how come they're separated?

[2020-08-31 21:26] memsharded commented on #7537
Hi @Tridacnid

Yes, if I understood it correctly, you are right. ``sharedlinkflags`` are for **consumers** building a shared library, while ``exelinkflags`` are for consumers building an executable. Some cases the same flag can be applied for both, but they are in fact different things and need to be defined separately. The most important piece to remember is that the information in ``package_info

[2020-08-31 21:28] memsharded commented on #7630
This might be already fixed in https://github.com/conan-io/conan/pull/7524, merged in develop and ready for next Conan 1.29.

Could you please @madebr try to run from develop branch from sources to make sure?

[2020-09-01 02:53] chubei-oppen commented on #7624
Hi czoido, with Conan 1.28.2, the app builds and runs fine. Thank you for your quick response and brilliant work.

[2020-09-01 04:22] joxoby opened #7631 "[question] cmake_find_package generator: version file"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

**The problem**

I have been investigating the idea of adding the [Ignition Robotics](gnitionrobotics.org) [projects](https://github.com/ignitionrobotics) to Conan. I have succeeded in creating a recipe for [ign-math](https://github.com/ignitionrobotics/ign-math) but I have encountere

[2020-09-01 04:43] ytimenkov commented on #6876
I totally forgot that patch means `tools.patch` and not unpack -> patch -> pack source code 😊
(And some of CCI recipes already have support for dropping patches along with the recipe).

[2020-09-01 04:44] ytimenkov commented on #6876
That's why I chosen an approach to replace `source()` method with `exports_sources` (when conan was like 1.6) so source code stays very close to the recipe.

[2020-09-01 08:05] #7499 closed, assigned to danimtb

[2020-09-01 08:23] memsharded commented on #7499
Hi @pgorgon-hem

https://github.com/conan-io/conan/pull/7600 has decoupled the cflags and cxxflags into 2 different variables, but they are still applied in the same way, due to CMake bug as commented here: https://github.com/conan-io/conan/pull/7600#issuecomment-682027143. When CMake addresses this thing we might reconsider, but at the moment it is not a viable solution, so we cannot do more rega

[2020-09-01 08:34] memsharded commented on #7631
Hi @joxoby

Have you tried the ``cmake_find_package_multi`` generator? this is an evolution of the former that adds version files, together with the capacity to manage multi-configuration (Release/Debug) for environments like Visual Studio. This is the one that will probably become the main one in Conan 2.0.

[2020-09-01 11:23] AndreyMlashkin opened #7635 "add support for apple-clang 12"
$ conan -v
Conan version 1.28.1

Error log:

$ conan install zlib/1.2.11@ --build "*"
Auto detecting your dev setup to initialize the default profile (/Users/andreimalashkin/.conan/profiles/default)
Found apple-clang 12.0
Default settings
	os=Macos
	os_build=Macos
	arch=x86_64
	arch_build=x86_64
	compiler=apple-clang
	compiler.version=12.0
	compiler.libcxx=libc++
	build_type=Release
*** You can ch

[2020-09-01 11:31] memsharded commented on #7635
The problem with AppleClang 12 is that it is not an official release yet. Please read comments in: https://github.com/conan-io/conan/pull/7601

Related: https://github.com/conan-io/conan/issues/7223

I would recommend to manually add 12.0 to your ``settings.yml``, and wait until the official release is done and then we could add it to our default settings.

Thanks for reporting!

[2020-09-01 11:52] memsharded commented on #7559
Hi @FohlenAFK

I hope this response clarified the issue. I am closing it now, but please let me know or open a new issue if you have any further question. Thanks!

[2020-09-01 11:52] #7559 closed, assigned to memsharded

[2020-09-01 11:53] memsharded commented on #7555
Hi @ppatoria

I am closing this issue, but do not hesitate to comment here or open a new issue if you have any further question. Thanks!

[2020-09-01 11:53] #7555 closed, assigned to memsharded

[2020-09-01 14:23] madebr commented on #7630
Indeed, current develop creates correct comp1.pc pkg-config files.
[code]
I wrongly assumed this bug would be fixed in yesterday's 1.28.2 release

[2020-09-01 14:24] AndreyMlashkin commented on #7635
Do you know, if there is any way to install and use older apple-clang compiler?

[2020-09-01 14:41] Tridacnid commented on #7537
That answers it, thanks!

[2020-09-01 14:41] #7537 closed, assigned to memsharded

[2020-09-01 14:56] akalali opened #7636 "[question] Problems combining Conan packages with CMake External Project"
I'm currently trying to migrate our dependency handling to use Conan as package manager. Previously we were using CMake and external project.
My idea was to start with an already existing recipe to have a quick proof of concept. I chose [DCMTK ](https://github.com/conan-io/conan-center-index/tree/master/recipes/dcmtk/all) as a first package.
The packaging is done using [CMake Conan](https://github

[2020-09-01 15:37] shelper commented on #7614
try to give some feedback on this issue.
I am running `conan install zlib/1.2.11@ -r remote-name` or direct curl package from artifactory server.
if I am on wsl2 in a windows pc. and here is what happened:

I first thought there is something messed up in my wsl2 container , so i started another new wsl2 container , and the same issue happened..

my artifactory server is basd on `docker.bintray.io/

[2020-09-01 17:46] memsharded commented on #7614
Hi @shelper

Thanks for added report.

Uhm, it sounds it could be a network/permission docker thing, or an interaction between containerized applications or something like that.

 I would try to debug the issue trying to eliminate that factor first. Sounds unlikely that the bug would be in ArtifactoryCE, it is serving thousands of teams, I think this issue would have appeared already:
- What happe

[2020-09-01 17:47] joxoby commented on #7631
@memsharded `cmake_find_package_multi` is exactly what I needed. Thank you very much for the help.

[2020-09-01 17:59] memsharded commented on #7636
Hi @akalali

I think there are a couple of things that could be considered:

- First, it seems that your project configuration, and DCMQI in this case is requiring the modern Config cmake files, not the Find ones. For this, you probably want to use the ``cmake_find_package_multi`` generator, which will be creating Config files (and Targets, and Versions, and supporting multi-configuration envs lik

[2020-09-01 18:00] memsharded commented on #7631
Excellent! Let's close this issue now, do not hesitate to open a new one if you have any further question!

[2020-09-01 18:00] #7631 closed, assigned to memsharded

[2020-09-01 18:04] memsharded commented on #7630
Nop, it could have probably been merged in 1.28.2, but it slipped. In any case Conan 1.29 should be out tomorrow, so hopefully it is not a big issue. Closing it, as this was fixed by #7524. Thanks for reporting!

[2020-09-01 18:04] #7630 closed, assigned to nobody

[2020-09-01 18:10] memsharded commented on #7635
Hi @AndreyMlashkin

Did you install the Beta 12 yourself? Did you have to remove the Stable XCode 11 before that? Maybe just uninstalling the beta is good enough. Some threads on the internet suggest just trashing the Xcode12 would be enough.

[2020-09-01 18:16] AndreyMlashkin commented on #7635
I've got it installed after I've done factory reset on my Mac

[2020-09-01 18:30] memsharded commented on #7635
So a Beta was automatically installed in your system after a factory reset???? This is quite unexpected from Apple (and to be honest, by other OSs).

Can you check if you have other XCode installed in parallel in your machine beside this beta?
I am going to ask for help to other OSX users.

[2020-09-01 18:55] AbdDevP opened #7637 "[bug] CLI command install with full reference"
### Environment Details (include every applicable attribute)
  * Operating System+version: OSX 10.15.4
  * Compiler+version: apple-clang 11.0
  * Conan version: 1.28.2
  * Python version: 2.7.16

### Steps to reproduce (Include if Applicable)
Any package install like
`lib/1.0@conan/stable#RREV:PACKAGE_ID`
Or
`lib/1.0@conan/stable#RREV:PACKAGE_ID#PREV`

### Logs (Executed commands with output) (Inc

[2020-09-01 19:00] AndreyMlashkin commented on #7635
I have only installed brew, python and conan and nothing else.
I don't have XCode installed on this machine.

[2020-09-01 19:23] memsharded commented on #7637
Hi @abdennourmiage

This is not a bug.

You cannot install a package defining the package-id. You can only provide the reference as ``lib/version@user/channel``. You might include the ``RREV`` if you enabled revisions.

[2020-09-01 19:28] memsharded commented on #7635
Ok, then it is quite unexpected that Conan found AppleClang12 there.

To develop C and C++, besides Conan you would need a few things:
- Compiler: You need to install XCode, that will contain the default compiler for OSX, which is AppleClang. Stable XCode 11 recommended.
- Most likely you need at least CMake. Many projects out there use CMake to build. It is possible to install and use CMake from

[2020-09-01 19:44] shelper commented on #7614
i am running directly `docker.bintray.io/jfrog/artifactory-cpp-ce:latest`

the following steps solve my problem:
delete a package on artifactory manually in browser.
upload the package,(i cannot upload package without delete the existing one), and then i can download packages....

but after a while, it resets and i have to repeat the above steps again....

[2020-09-01 21:04] AbdDevP commented on #7637
Hi @memsharded.

Maybe the documentation(see below) is no longer up to date?

I would like to use conan on my production server and be able to provide it with a unique reference of a binary with its dependencies so that it just fetch it and not reinterpret the version ranges. Like this `conan install hello/1.0@user/stable#RREV:PACKAGE_ID#PREV -g virtualrunenv`

I know that I can use dependency loc

[2020-09-01 21:18] memsharded commented on #7637
Hi @abdennourmiage

That is just a poorly written or expressed sentence. The ``You can specify the references in the following formats`` is a separate paragraph of the previous one, it doesn't mean that those things can be passed to the ``conan install`` command. You will not find an example of this in the docs, please refer to the ``conan install`` reference and examples to check this.

Revisions

[2020-09-02 08:02] AbdDevP commented on #7637
Yes, I understand Thank you.

The "download" function is not a solution for me because I want to use the virtual environment generator.
The advantage of this solution is that the production server only pulls the updated packages and I am therefore not obliged for each micro delivery to repackage all the dependencies with for example the deployment generation function (-g deploy)

My concern is alw

[2020-09-02 08:08] akalali commented on #7636
Thank you, I will look into the `cmake_find_package_multi` generator.

The first thing I did now was to remove the `cmake_paths` generator from my `conan_cmake_run`-call and subsequently did not `include(${CMAKE_BINARY_DIR}/conan_paths.cmake)` anymore.
Without any more changes

[code]

now results in the following output:

[code]

Since this error did not appear before and (as written in my first

[2020-09-02 08:16] theodelrieu commented on #3356
I would need this for build requirements like android NDK, or a minGW toolchain as well.

For example:

`Boost.Thread` needs 3 env vars to locate the posix threads includes and libs at build time, which cannot really be defined in my `mingw-toolchain` package (having `PTW32_LIB_NAME` in this recipe does not make much sense).

[2020-09-02 10:05] memsharded commented on #7637
I would always have two different commits. One which is the revision of the package and another which will contain the lock file from the previous commit. Not TOP!

Yes, in the CI flows that we are at the moment considering, the lockfiles are not stored in version control. Instead, we use a generic Artifactory repo to store lockfiles, associated with the CI job. Typically we create there a path th

[2020-09-02 10:07] akalali commented on #7636
Ok I tested the `cmake_find_package_multi` generator and it seems to work correctly for DCMTK itself, meaning `DCMTKConfig.cmake`, `DCMTKConfigVersion.cmake` and other .cmake-files are created and
[code]

now results in the following output:

[code]

so the condition is true.
However, when starting my superbuild I get the following error:
[code]

I looked into `DCMTKConfig.cmake:112` and found the

[2020-09-02 10:38] memsharded commented on #7636
Hi @akalali

This is indeed quite confusing. As you correctly said, if the path has been set in CMAKE_PREFIX_PATH (have you tried to set also de CMAKE_MODULE_PATH, just in case?), it should work.

As both the DCMTK and OpenJPEG are packages in ConanCenter, do you think it is possible to reduce the "superbuild", to a simple CMakeLists.txt that I could use to try to reproduce here? It probably doesn

[2020-09-02 10:44] memsharded commented on #7613
Can you clarify this point? Isn't the target always Windows? In that case, the ``arch_target`` wouldnt be necessary?

[2020-09-02 11:09] akalali commented on #7636
I did:
[code]

Well, the superbuild is only used to create the DCMQI project. And only inside the DCMQI project the error with OpenJPEG happens.
In our original project the `DCMTK_DIR` was also passed to the DCMQI external project, but `OpenJPEG_DIR` was not and the cache variable `OpenJPEG_DIR:PATH` was not set / used inside the `CMakeCache.txt` of the DCMQI-build directory.

I changed my call to

[2020-09-02 12:06] akalali commented on #7636
Pushed my progress so far to [C++ hello-world project using CMake, Conan and external project](https://github.com/akalali/hello-world-conan-ep).
To use the CMake Conan wrapper, [this](https://github.com/akalali/hello-world-conan-ep/blob/1.0.0/documentation/conan-cmake.md) might be useful to read.

**Edit**:
So the error occurs if you remove `-DOpenJPEG_DIR:PATH=${OpenJPEG_DIR}` from the `CMakeExte

[2020-09-02 12:11] xiedeacc opened #7640 "how to specify visual studio version"
I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md)

I have vs2019 and vs2017 in my system, conan with cmake use vs2019 default, but I need vs2017 for I've use qt5.14.2 in my project,
how to specify vs version? thanks a lot

[2020-09-02 12:13] anagno commented on #7423
In the end, I found the mistake! So, I am documenting it for the next person that has a similar question.
In my case the problem was the
[code]
The find_package forces the context and although technically I was not using the library anywhere, it is consider to be in the host context. My mistake was that I thought that it was necessary to call afterwards the
[code]
However, I can call directly the

[2020-09-02 12:13] #7423 closed, assigned to memsharded

[2020-09-02 12:15] Nipheris commented on #7423
@memsharded I think I have got the idea about separate graph for all the build requirements, but anyway, we have `build_paths` and `build_modules_paths` in [deps-cpp-info](https://docs.conan.io/en/1.28/reference/conanfile/attributes.html#deps-cpp-info), that are NOT considered by the generators, when the build requirement is moved out to separate context using `--profile:build`.

Looks like a bug

[2020-09-02 12:29] SSE4 commented on #7615
@SpaceIm do you have an idea how the syntax to describe non-namespaced targets may look like? e.g. assigning an empty string, or `None`, or something else? example would be helpful.

[2020-09-02 12:40] memsharded commented on #7640
When you install do:

[code]

You can also make this change permanent by edition your default profile (check the docs, you can either edit the ``<userhome>/.conan/profiles/default`` or use the ``conan profile`` command).

[2020-09-02 12:53] xiedeacc commented on #7640
it seems can implement Cmake classs in conanfile.py
https://docs.conan.io/en/latest/reference/build_helpers/cmake.html

[2020-09-02 14:41] madebr commented on #7613
Target os *should* always be Windows. But including it allows throwing an error when using it for another os.
Windows is available on x86/x86_64/arm.
So both target_arch and target_os are useful here.

[2020-09-02 14:48] memsharded commented on #7640
Hi @xiedeacc

No idea what you mean, please clarify

[2020-09-02 14:51] sturmf opened #7642 "[question] conan create uses option also for test which might not exist"
I just tried to run a conan create on the gtest packge in conan-center-index but it won't work since the specified options for the main packge do not fully exist for the test package and therefore it stops. Is this intended? This would render the conan create command useless in this case I think.

[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.gith

[2020-09-02 14:56] foundry-markf opened #7643 "[bug] Auto-configuration of fPIC seems to be faulty with new checks for fPIC option"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10/macOSX 10.13
  * Compiler+version: VS2017/Xcode 10
  * Conan version: 1.28.1
  * Python version: Python 3.7.7

### Steps to reproduce (Include if Applicable)
We recently moved from Conan 1.24 to 1.28, and have V2 mode enabled, to watch for potential issues. And I noticed this bit of code introduce

[2020-09-02 15:06] memsharded commented on #7643
Hi @foundry-markf

To clarify, ``CONAN_V2_MODE`` is possibly something you don't want to have enabled for production. It is great if you run some job and report to us, that is really useful, but having it set in production might unexpectedly break your build as we start to introduce V2 changes.

I need to understand a bit better.

Does it mean that in ``autotools`` it is always necessary to define

[2020-09-02 15:07] AbdDevP commented on #7637
I find it a lot of constraint.

Would not systematically generating a lock file each time a product package is created and integrating it into the Conan package be a better solution?

When a consumer wishes to pull a product via the install command, he could request that the attached lock file be used (or default behavior).
Thus, the packages could be reproduced identically without the need to ver

[2020-09-02 17:08] hifabian opened #7647 "[bug] Deploy generator does not copy symbolic links to directories"
Symbolic links to directories are not copied by the `deploy` command.
For example, the following structure will be mising `root/current/`:
[code]
Since `root/current/` is not copied, it will break the other symbolic links such as `root/file.txt`.

Similar issue to #6628 but for symbolic links to directories instead of files.

A simple solution would be to just add symbolic links to directories to

[2020-09-02 21:56] AndreyMlashkin commented on #7635
I am still getting the same error after installing XCode.
Also I have changed the profile manually, but CMake can not detect other Clang versions:

Configuration:
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=apple-clang
compiler.cppstd=14
compiler.libcxx=libc++
compiler.version=11.0
os=Macos
os_build=Macos
[options]
*:fPic=True
*:shared=False
[build_requires]
[env]

double-

[2020-09-02 22:17] memsharded commented on #7635
Maybe this could be an issue with CMake itself, if I understood correctly this: https://gitlab.kitware.com/cmake/cmake/-/issues/20893.

Which version of CMake are you running?

[2020-09-02 22:24] AndreyMlashkin commented on #7635
$ cmake -version
cmake version 3.18.2

[2020-09-02 22:34] memsharded commented on #7635
Please @jgsogo @czoido @SSE4 could you help with this issue?

@AndreyMlashkin Please provide a bit more detail:

- It seems you are trying to install the https://conan.io/center/double-conversion/3.1.5, are you doing just ``conan install double-conversion/3.1.5@ --build``?
- Does it happen the same for other packages like zlib?

Thanks!

[2020-09-02 22:53] SSE4 commented on #7635
the last error is:
[code]
I see your profile defines version 11.0, while the actual compiler version is 12.0. that's why CMake complains.

I think the steps should be:
1. add `12.0` version to the `settings.yml`, so it has lines:
[code]

2. update conan profile to use `compiler.version=12.0`, so your profile would contain:
[code]

[2020-09-03 00:43] kralicky opened #7648 "[question] Building packages that are in build_requires in the default profile"
Scenario: You have a build tool that you want to have as a default build_require (such as cmake, or another package that is always part of your toolchain). If that package itself has dependencies, you will never be able to build it using the default profile, because the dependencies will obtain the build_require of the package currently being built from the default profile, resulting in a loop.

I

[2020-09-03 02:23] xiedeacc commented on #7640
your answer is right

[2020-09-03 02:31] xiedeacc commented on #7640
thanks a lot

[2020-09-03 02:31] #7640 closed, assigned to memsharded

[2020-09-03 06:05] AndreyMlashkin commented on #7635
I have added compiler to settings.yml and now I can compile zlib and many other libs.

But it still fail with
conan install double-conversion/3.1.5@ --build missing

[2020-09-03 06:37] hdnn opened #7649 "[question] Using multiple conanfile.txt in one project"
OS: Windows 10
IDE: Visual Studio (2017\2019)

I have next configuration: conan **1.18.5** and some number of conanfiles, for example:
[code]
and
[code]
When I generate `.props` files for Visual Studio by using `conan install ...` command, conan versions >=1.18.5 generate for me `.props` with tags filled with package paths:
[code]
And if I want to use `OpenSSL` and `grpc` in one project I can just

[2020-09-03 07:05] jgsogo commented on #7635
Hi, @AndreyMlashkin

Please, share the error you get while building `double-conversion`, it is important to know if the error is originated by some Conan configuration or it is just because the library doesn't compile with that new apple compiler.

Thanks!

[2020-09-03 08:10] memsharded commented on #7635
Hi @SSE4

It was not fully clear my request:

- I don't want to use AppleClang 12 beta, I would like to be using AppleClang 11, which is the latest stable one
- For some reason it seems AppleClang 12 beta is in a fresh system, even without installing XCode at all.
- The user didn't install AppleClang 12, and even after installing XCode and AppleClang 11, CMake refuses to detect it (it seems conan

[2020-09-03 09:12] memsharded commented on #7525
Ok, lets add that data to the ``json`` generator, something like from:

[code]
Add:
[code]

[2020-09-03 09:22] memsharded commented on #7635
Quick question @AndreyMlashkin

Which is your OS version? Are you in BigSur BETA?

[2020-09-03 09:26] xiedeacc opened #7650 "how to set msvc compile flag?"
msvc support utf-8 not very well, when file was saved with utf8 and code or commentmay contain chinese character, may cause compile error, fix solution in vs studio was use /utf-8 or /source-charset:utf-8 flag, how can I set msvc compile option in conan?

[2020-09-03 09:27] xiedeacc opened #7651 "hope conan can support bazel"
cmake sucks, hope conan can support bazel

[2020-09-03 10:10] memsharded commented on #7651
Duplicate for https://github.com/conan-io/conan/issues/6235, closing this issue, please follow the other one.

The main thing here is that we don't have the expertise about Bazel to provide this. Hopefully someone like @planetmarshall can help with that and contribute it.

[2020-09-03 10:10] #7651 closed, assigned to memsharded

[2020-09-03 10:20] danimtb commented on #7650
Hi! If you are using the `MSBuild()` helper in your recipes you can use [`get_command()`](https://docs.conan.io/en/latest/reference/build_helpers/visual_studio.html#get-command) and append the needed flag at the end.

Try something like:

[code]

[2020-09-03 10:31] danimtb commented on #7649
Hi,

I think this was changed to get a more uniform generation of files on the Conan client side and this use case was not contemplated.

However, we are shifting towards generating one prop file for each requirement in your conanfile, so we introduced a new generator `msbuild` https://docs.conan.io/en/latest/reference/generators/msbuild.html that does exactly what you request.

It is still experi

[2020-09-03 10:37] danimtb commented on #7647
Hi, thanks for the detailed report and the proposal.

I see this could be an easy fix so if you are willing to contribute the changes we can help you with the tests  😄

[2020-09-03 10:52] hdnn commented on #7649
@danimtb, thanks, it helped!

This is the way it happened historically). I have Solution with 200+ projects, most part of them used `.props` generated from `conanfile_common.txt`(it contain `boost`, `xml`, `ini` libraries). But some part of project also need rarely used libraries(like `grpc`), that I don't want to include into all projects

[2020-09-03 11:01] danimtb commented on #7629
the `conan_data` attribute is loaded with the `ConanFile` class, so it should be available at every method and command that loads the python class. See test at https://github.com/conan-io/conan/pull/7652

I think the error above comes from the `version` attribute being `None`.

[2020-09-03 11:09] danimtb commented on #7649
Thanks for shraing and glad it helped. Just keep in mind the downsides of my comment above in case you experience some graph issues or collisions with dependencies. But it seems you know what you are doing! 👍

[2020-09-03 11:10] #7649 closed, assigned to nobody

[2020-09-03 11:51] memsharded commented on #7650
Problem with that approach is that it is missing a lot of stuff that ``MSBuild()`` helper is doing.
The ``properties`` argument can only set ``/p:property=value``, it seems like we need here a similar ``args`` argument that can add these arbitrary command line arguments. This would be more a feature request than a question, wouldn't it @danimtb ?

[2020-09-03 12:29] #7637 closed, assigned to memsharded

[2020-09-03 12:32] memsharded commented on #7629
PR #7652 proves it is not a conandata issue, just a version=None issue

The UX improvement that is possible here (Conan 2.0 in any case) is creating a wrapper so ``self.version`` raises with a better message if it is ``None``.

[2020-09-03 13:01] jgsogo commented on #7648
Hi, @cobalt77 !

Using one single profile this can be challenging as Conan creates only one graph and packages from your build-require and the packages you are building will _mix_/_conflict_. It is the situation you are describing.

But, we added time ago the possibility of using two profiles, one for the _build_ context `--profile:build` (tools like build-requires and all their dependencies belon

[2020-09-03 13:41] danimtb commented on #7650
Agree that an argument value with custom flags will be much better in this case. We are already doing that in other helpers

[2020-09-03 13:50] danimtb opened #7653 "[feature] MSBuild: Provide an argument to add custom flags for the compiler"
Coming from #7650.

The `MSBuild()` should provide a way to inject custom flags for the compiler.

List of compiler options that can be used: https://docs.microsoft.com/en-us/cpp/build/reference/compiler-options-listed-alphabetically?view=vs-2019

This is something to consider for a MSBuild or MSVC toolchain helper.

[2020-09-03 13:54] danimtb commented on #7650
I have opened a feature request here https://github.com/conan-io/conan/issues/7653. The alternative proposed above is still possible although it will require a little bit more code.

[2020-09-03 14:43] memsharded commented on #7653
There is a problem here. I thought it was an MSBuild command line option, but it seems I was wrong.

To pass this to the compiler, this might not be an easy issue at all, but requires to possibly modify the generated .props file (in the future it will be part of the MSBuildToolchain, when it is implemented).

[2020-09-03 14:49] memsharded commented on #7650
For the reason described in https://github.com/conan-io/conan/issues/7653#issuecomment-686541278, the above recommended approach to add it to the command line might not work (that is the command line for the msbuild, not for the compiler). The current workaround is to add it to the Visual project itself (in .vcxproj files). The feature request might be able in the future to inject compiler options

[2020-09-03 14:50] kralicky commented on #7648
This would be tricky to do I think, because my CI system treats every package the same - to build, it just runs `conan create .` The build and host profile would only have to switch when building the packages that are in build_requires in the default profile.

Here's an interesting idea... profiles as python scripts:
[code]

[2020-09-03 14:56] danimtb commented on #7653
I am correcting the description after evaluating again the argument flags. Finally related more to the toolchain discussion here https://github.com/conan-io/conan/issues/7280

[2020-09-03 17:54] madebr opened #7656 "[feature] Create a helper class/function/object to calculate compiler flags"
We are currently able to get the information of a depdency's `cpp_info` through `self.deps_cpp_info`.
The build helpers use the information to create targets that contain all information of all dependencies.
I think it would be useful to also have this information in the `conanfile.py` itself.

My use case is a autotools `configure` script.
I need to pass the link flags required for a dependency.

[2020-09-03 19:35] uilianries commented on #7642
Hi @sturmf!

As described in the [documentation](https://docs.conan.io/en/latest/creating_packages/getting_started.html#creating-and-testing-packages), you should add the package name to the option argument. Your command have to be updated:

    conan create recipes/gtest/all gtest/1.10.0@user/stable -o gtest:shared=False -s arch=x86_64 -s compiler.version=15 -s build_type=Debug -s compiler.runtim

[2020-09-03 20:12] orgicus opened #7657 "How to correctly install a package from a local conan server ?"
I'm running a test conan server using `gunicorn`.
I've placed a test pacakge in `.conan_server/data` and `search` seems to find it, but `install` fails.
I'm using conan 1.29.0 installed via `pip`

Here is the search output:
[code]

However the install output is not what I expect:
[code]

I've double checked the local network `conan` remote

[code]

(I've tried removing it and adding again with Ver

[2020-09-03 20:52] memsharded commented on #7657
Hi @orgicus

A couple of quick questions:

I guess that you have uploaded it with the ``conan upload`` command, did you? Can you please share the trace?

Lets try to do the following, please include the whole output:
[code]

It is possible that there is some configuration thing in the conan_server side (conan.conf). Pasting the traces from the server for the upload might help.
I would also recomme

[2020-09-03 21:11] AndreyMlashkin commented on #7635
Here is the MacOs version:
      System Version: macOS 10.15.6 (19G2021)
      Kernel Version: Darwin 19.6.0

[2020-09-03 21:15] AndreyMlashkin commented on #7635
I am able to compile the most of the recipes with apple-clang 12.
Please, add it to the default settings.yml

[2020-09-03 21:17] orgicus commented on #7657
Hi @memsharded

Apologies for the delayed response and thank you for being quick assistance.

I realised I didn't have CMake in `%PATH%`, now that's sorted.

`conan new` worked, create did as well after the `%PATH%` update:

[code]

conan upload initially failed:

[code]
Then I enabled write permissions and restarted conan and moved a bit further:

[code]

This is where it's stuck. Something is pr

[2020-09-03 21:33] memsharded commented on #7657
Hi George,

The most common misconiguration in the server is in https://docs.conan.io/en/latest/uploading_packages/running_your_server.html#server-parameters, the ``host_name`` and ``public_port``, when running in dockers, virtual machines, etc. Please carefully read the docs, and check those values.

This is the process I would try to use to validate everything is running fine:

- Run an Artifact

[2020-09-04 07:13] jgsogo commented on #7635
Hi, @AndreyMlashkin . XCode 12 is still a Beta release, the PR to add `apple-clang` 12 to the default `settings.yml` is already opened (https://github.com/conan-io/conan/pull/7601), but we will wait until it is a stable version. Binaries generated by the Beta might not be compatible with binaries generated by the stable version (if they change some default flag or implementation detail), that's th

[2020-09-04 07:59] jgsogo commented on #7105
Still we have three alternatives, this last one is an alternative implementation of the _"[tools] import tools as object #7397"_ . First we were going to decide the UX we want, then look for blockers in the implementation.

We need to choose [one of the three alternatives](https://github.com/conan-io/conan/issues/7105#issuecomment-671321124) (or look for a fourth one):
 * Use a conanfile attribute

[2020-09-04 08:08] memsharded commented on #7105
No it is not. One of the drawbacks of "[tools] import tools as object #7397" is that you cannot further import things inside the global tools object, and then, it will be more breaking to introduce. As you said, the UX is different with this approach, and allows for example to ``from conans.tools import download``. If we want we could update and replace #7397 with this one, but it is not the same.

[2020-09-04 08:10] memsharded opened #7658 "Breaking color issues in terminal"
Funny thing: you were so afraid to break customers with my PRs so you finally broke us :( By introducing a lot of new variables with extremely complicated interacton and overriding...

As PR mentiones those variables are used by other tools used by Conan so we set `CLICOLOR_FORCE` to 1 and this breaks parsing conan output, its `--version` as it becomes populated with ANSI-sequences.

We explicitly

[2020-09-04 08:12] jgsogo commented on #7648
Your CI could use always the same `conan create . --profile:host=<the-one-your-are-using-now> --profile:build=default` and it will serve for all the packages you are compiling right now, taking advantage of the _build_ and _host_ contexts. With an additional advantage, it doesn't require to modify recipes at all.

We cannot make the two-profiles approach the default because it will change how peop

[2020-09-04 08:16] memsharded commented on #7658
Hi @ytimenkov

If this is a regression, lets have a look and fix it. We merged this because we thought it had very low risk of breaking, all the changes seemed opt-in, and at the end of the day it is just changing the UX, it was unlikely that it would break a build.

Could you please clarify? I have tried:

[code]

Please let us know the steps to reproduce the regression and we will try to fix it

[2020-09-04 08:40] ytimenkov commented on #7658
@memsharded Thanks for taking my rant seriously 🙇

It's easy to reproduce:
[code]

Before it was raw text, now it's ANSI-colored. Thing is those variables were set for different purposes: `CLICOLOR_FORCE` was set to get color output from the build tool in general while `CONAN_FORCE_COLOR=0` was added only when querying the version to get machine-readable text.

As you can see the problem is when t

[2020-09-04 09:20] ytimenkov commented on #7658
Can't close the issue...

Another thought is that documentation could be be improved. Something like adding a section "controlling output colorst" describing all variables and their interaction in one place. Also links in the commit message could be referred, they're useful.

[2020-09-04 09:48] ytimenkov commented on #6876
@memsharded I just thought about another use case for download cache: interaction with ci system cache (like github or gitlab):

Working on oss project I had to use --build=missing policy due to cpp standard 17 is not available in cci. This caused unnecessary rebuilds and "caching Conan cache" had other effects like not building the main package.

Therefore using download cache seems like a functi

[2020-09-04 13:32] jsteinhofff commented on #7054
I would like to support this feature-request. If conan info --paths is the right way to get access to all packages in the dependency graph for additional tooling, then it would be reasonable to also have it work with editable packages.

I dont get an exception, just as soon as there is any editable package in the hierarchy, i get the
[code]
message. Am i missing something obvious why this is "not

[2020-09-04 16:05] klimkin opened #7659 "[question] Extending environment variable values in profiles"
I read there are two options to set env variables in profiles:
[code]

How can I extend non-path variables? This is a common scenario when including another profile and adding to flags.
[code]

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-09-04 16:38] linkmonitor commented on #5968
Has there been any movement on this?

[2020-09-04 17:06] ohanar commented on #7506
@FnGyula
As an example, suppose you have a project that you are trying to build for Android. You almost certainly aren't going to compile the project natively on Android, so instead you might build it on Windows.

Maybe your project uses cmake to build, you want the cmake executable to run on Windows, not Android. If your project privately embeds a static library, you want that static library to b

[2020-09-04 17:19] ohanar opened #7660 "[bug] private requires are treated as build_requires"
When using private requires, the conan seems to treat them as build_requires. E.g.

[code]
When building you get:
[code]

This doesn't seem to be an issue if the host profile and build profile are the same, however, if they differ the `cmake_find_package` generator won't produce scripts for the private requires.

[2020-09-04 18:03] jwinkler2083233 commented on #6009
I ran into this same issue while trying to download the 7zip/19.00 package from conan-center.
I'm using version 1.29.0 of conan, with python3.6

[2020-09-04 18:34] klimkin commented on #4769
Would it make sense for `ConanFile.should_test` to have a default value of `tools.get_env("CONAN_RUN_TESTS", True)` instead of current `True`? Else we have to put this code in many conanfiles:
[code]

[2020-09-04 18:57] memsharded commented on #6009
Hi @jwinkler2083233

Can you please clarify exactly what command are you running, and the error message that you are getting? This was fixed and released, so it could be a regression or another bug, in that case it might be worth to create a new issue. Please tell the details and we will try to help. Thanks!

Edit: Just in case, this works fine here:
[code]

[2020-09-04 19:18] dzemon-chwy commented on #5968
Not that I'm aware of, but I am still around if anyone needs anything or finds a bug.

[2020-09-04 19:19] DavidZemon commented on #5968
Not that I'm aware of, but I am still around if anyone needs anything or finds a bug.

[2020-09-04 19:19] uilianries commented on #7629
Thanks for all explanation, so we can update Conan docs. WDYT?

[2020-09-05 01:23] fulara commented on #7101
Please reopen this @memsharded .

THis is critical issue that caused productio issue for us.

Easily reproducible with pressing of ctrl+c.

I can provide you a detailed scednario

[2020-09-05 03:17] madebr opened #7661 "[feature] Allow arbitrary sections in pkg_config .pc files"
pkg_config files can contain extra information, next to include paths/library paths/libs/cflags/requires/...
This is used by some programs to pass around configuration paths.

Because the generated .pc files by conan, are missing this information, configuration fails.

e.g. glib uses this. When using the files generated by conan, the following error appears:
[code]

The `gio-2.0.pc` file, installe

[2020-09-05 20:02] SSE4 commented on #4322
change was reverted, need to re-open for a while

[2020-09-05 22:11] memsharded commented on #7101
Hi @fulara

Sure, please let me know: Is the issue that some interrupted installation leaves the locks there, or that ``conan remove --locks`` doesn't work as expected and does not clean the locks correctly?

[2020-09-06 08:15] bog-dan-ro opened #7664 "[feature] conan package_id is too aggressive"
Apart from MSVC[0], almost all c/c++ libraries are cross compiler type and version.
i.e. zlib can be built with gcc 5, then the bins can be consumed by apps which are using any
other gcc version or even another compiler (clang, icc, etc.), because, usually, the library ABI doesn't depend on a compiler type or version (you can even compile zlib with gcc 10 and consume it with gcc 5).

Right now, by

[2020-09-06 09:10] fulara commented on #7101
Thanks for prompt response as usual @memsharded

I was trying to reproduce the issue for last 10 minutes, but no success. I'll try during next week.

How I think I came across this issue:
[code]
You will end up with:
[code]
Does not help.
The only solution I found is to remove the whole conan directory $CONAN_USER_HOME and reinstall it.
As mentioned in the original post I am using bundled conan on

[2020-09-06 09:23] memsharded commented on #7664
Hi @bog-dan-ro

Thanks for your detailed discussion.

We have decided to go with this model as default for several reasons. A important one is not only about the binary compatibility, but also the efficiency, performance and bug fixes that a new compiler version comes with. New compiler versions come with bug fixes, new optimizations...

Lets say a user depends on zlib in their production systems,

[2020-09-06 09:25] memsharded commented on #7101
Hi @fulara

Ok, that makes sense. The ``conan remove --locks`` should make the cache usable again, no matter what. If this is not happening, this is a bug and must be fixed. Lets have a look, please keep us posted with any new info you find.

No, up to my knowledge nothing has changed with locks recently.

Many thanks for reporting!

[2020-09-06 09:36] fulara commented on #7101
I have done over 200 hundred ctrl+cs now, came across 3 different issues but no one of those was the lock based.
I must be doing something wrong because i got it often in the past, anyway will get back to you as soon as i get corrupted cache.

[2020-09-06 10:38] bog-dan-ro commented on #7664
True, but new version might come with new bugs as well ;-)

I'll keep using the existing zlib, unless gcc 7 will magically make it run MUCH faster, which, usually, never happens. This is what all linux distros are doing. Debian, ubuntu, redhat, etc. have a couple of compiler available (usually two gcc and a few more clang), but when they add a new compiler, they don't recompile all packages with t

[2020-09-06 22:05] #7629 closed, assigned to nobody

[2020-09-06 22:06] memsharded commented on #7629
Closed by #7652, please @uilianries open a short PR updating the docs if you think it is worth it. Thanks!

[2020-09-06 22:11] memsharded commented on #7468
Hi @UnderSampled

Any news from this issue? I still have https://github.com/conan-io/conan/pull/7470 open with the test validating the basic behavior, and I could not reproduce it with editables.
Have you managed to reproduce the issue somehow, or do you have any new information? Thanks!

[2020-09-07 08:47] sturmf commented on #7642
Hi @uilianries

that makes sense of course! So from my point of view this topic is done.
The reason why I don't use the default is that I want to do kind of a a matrix type build whith e.g. "Debug,Release", "shared,static" etc...

Kind regards,
Fabian

[2020-09-07 08:47] #7642 closed, assigned to danimtb

[2020-09-07 08:53] mgrandsire opened #7666 "[question] How to test and debug without creating package"
- [X ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hello the Conan community,

I’m discovering Conan and as it looks very powerfull, I’m tring to deploy it in my projects.

Unfortunately, I don’t succeed to keep my current development process.
As developer, I would like to implement my source code and to test it locally without packa

[2020-09-07 09:16] FnGyula commented on #7506
Thanks @ohanar the explanation. Now onto changing my build_requires to private deps :)

[2020-09-07 09:31] AndreyMlashkin commented on #7635
Can I use CONAN_DISABLE_CHECK_COMPILER  to avoid this error? How can I activate it?

I've tried to add this to my conan profile, but it didn't help

[env]
CONAN_DISABLE_CHECK_COMPILER=True

[2020-09-07 09:34] hifabian commented on #7647
Hi @danimtb, as you can see I did open now a pull request. The changes are exactly what I wrote above (still excluding tests). I did test it locally somewhat crudely but it worked as expect.

_(I actually opened two pull requests because, as I wrote in the PR, initially my github account had no email attached which meant I could not accept the CLA)_

[2020-09-07 10:05] memsharded commented on #7635
Hi @AndreyMlashkin

Nop, ``CONAN_DISABLE_CHECK_COMPILER`` is a cmake variable, not an enviornment variable. Define it in your ``CMakeLists.txt`` before calling ``conan_basic_setup()``.

[2020-09-07 11:44] jgsogo opened #7667 "[feature] Add more information to 'markdown' generator: components"
We should add more information to the `markdown` generator, at least information from **components**, and check that we take into account some new **CMake features like `filenames`**.

[2020-09-07 12:56] DoDoENT opened #7669 "[feature] Expose information about dependencies versions into the build system"
Sometimes a package may need to apply a specific workaround for a specific version of dependency package, but also be compatible with other versions of the same package, especially if downstream can override ti.

To simplify, let's consider that B depends on A. When B/1.0.0 was developed, only A/1.0.0 existed and B was developed against it.

Later, someone creates A/2.0.0, with breaking changes, s

[2020-09-07 13:25] aloubiex38 opened #7670 "[bug] Conan 1.28.2/1.29.0 deb package is not functional on Debian"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 10 buster
  * Compiler+version: NA
  * Conan version: 1.28.2/1.29.0
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
Install debian .deb conan package
Launch conan comand

[2020-09-07 13:27] aloubiex38 commented on #7670
This bug is basically the same as https://github.com/conan-io/conan/issues/6399

The .deb package is broken since conan 1.28.2

error:
[20399] Error loading Python lib '/usr/bin/libpython3.6m.so.1.0': dlopen: /usr/bin/libpython3.6m.so.1.0: cannot open shared object file: No such file or directory

[2020-09-07 13:50] czoido commented on #7670
Hi @aloubiex38,
Thanks a lot for reporting. I reproduced the issues.
For the last releases we had to update `pyinstaller` version to generate the deb packages so that is what could be causing the issue (https://github.com/conan-io/conan/issues/6399#issuecomment-578841644).
We'll try to fix as soon as possible.

[2020-09-07 15:44] danimtb commented on #7240
Somehow related to https://github.com/conan-io/conan-center-index/pull/2740/files#r481107458

[2020-09-07 15:49] ericLemanissier commented on #7240
also: https://github.com/conan-io/conan/issues/7444

[2020-09-07 15:50] czoido commented on #7670
Hi @aloubiex38,
We have updated the deb packages for `1.28.2` and `1.29.0` and they seem to be working fine now. Also added some tests for this in the release process.
Please, could you confirm that they are working fine for you so we can close the issue?
Thanks!

[2020-09-07 16:05] EugenMayer commented on #6771
Just wanted to heavily encourage this work here! I really loved and also used https://github.com/bincrafters/conan-qt/blob/testing/5.15.0/CHANGELOG.md .. such a great value and tool to pick up the trace and what changed when builds fail.

Huge kudos!

[2020-09-07 16:13] aloubiex38 commented on #7670
Hi,

Just tried the 1.29.0 and it works well.

Thank you for the quick resolve.
You can close the issue.

[2020-09-07 16:13] #7670 closed, assigned to czoido

[2020-09-07 17:03] akalali opened #7671 "[bug] ITK recipe fails to find and apply patches"
### Environment Details
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2017**
  * Conan version: **1.29.0**
  * Python version: **3.8.2**

### Steps to reproduce
Simple conanfile.txt
[code]

Package installed with `conan install --build=itk`

### Logs

itk/5.1.0: Configuring sources in .conan\44644c\1
Downloading InsightToolkit-5.1.0.tar.gz completed [20209.31k]

itk/5.1

[2020-09-07 18:22] SpaceIm commented on #7669
I don't know for others generators, but at least `cmake_find_package_multi` exposes `Lib_VERSION` variable in CMake config file.

[2020-09-07 19:29] maikelvdh opened #7672 "[bug] Search call is leaking package name details to Conan Center Index"
### Environment Details
Artifactory 6.13.0
Conan 1.27.0

### Steps to reproduce (Include if Applicable)
If you have setup Artifactory on-prem with a virtual repository which is aggregating a local and remote Conan repository you are leaking package name information to Conan Center Index (https://conan.bintray.com) even if you have configured exclude patterns like `<user>/**`. This is a security ga

[2020-09-07 19:38] maikelvdh commented on #5432
Actually the #5433 change does result in leaking of sensitive package names in case of an on-prem setup which seems not possible to be mitigated with generic exclude patterns based on user reference.

[2020-09-07 20:28] memsharded commented on #7672
This would require to re-open the Artifactory issue regarding the resolution speed when user/channel is specified.
Please @czoido, this is high priority, both because of the security leakage, but also because it is related to customer very slow ``--update`` results when a virtual remote is aggregating a remote proxying ConanCenter

[2020-09-07 22:31] kralicky commented on #7648
This definitely makes sense. Probably want to keep this simple then! Anyway, I think I have determined that it's probably an anti-pattern to have too many global build_requires, so we've moved those requirements into individual recipes. Thanks!

[2020-09-07 22:31] #7648 closed, assigned to nobody

[2020-09-08 08:04] ZERO-KAMAL commented on #5094
ERROR: Cannot uninstall 'PyYAML'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.
does anyone here to solve this problem . i'"m stuck at this point.

[2020-09-08 08:07] ZERO-KAMAL commented on #5094
conda remove PyYAML
THis is the answer

[2020-09-08 08:57] fschoenm commented on #6268
Is anyone still investigating this issue? This happens quite regularly now and can also break our continuous integration pipeline if it happens during the automatic build run.

[2020-09-08 09:39] cschlosser commented on #7411
Let's assume:

* We have a sysroot installed (different for each developer) in `/home/$USER/xc/sysroot`, `/workspace/xc/sysroot` or where ever.
* There are "native" binaries for the additional functionality from third parties that are always installed into `/opt/3rd-party`

Using a conanfile like this:

[code]

Maybe cpp_info needs an additional attribute like `sysroot_includedirs`?

[code]

This

[2020-09-08 11:33] jgsogo commented on #7671
Hi @akalali

Thanks a lot for pointing this issue. Indeed there was an unnoticed error in the CI related to this issue https://github.com/conan-io/conan/issues/7628 (ConanCenter will use a workaround starting this week)

Please, try again. Thanks!

[2020-09-08 12:42] spoofedex opened #7675 "[bug] Two issues with rolling back changes in remote; changes not propagating"
Hi all,

I have two issues with rolling back changes.

First, imagine the following scenario, when using recipe revisions in Artifactory:
- User pushes code; the CI system exports/uploads the package.
- User pushes a change to the code; the CI system exports/uploads the package.
- User rolls back the changes in the repo. Here, the CI system will trigger, but the recipe revision will be identical (

[2020-09-08 13:19] memsharded commented on #7675
Hi @spoofedex

Could this be a duplicate of https://github.com/conan-io/conan/issues/7331? Basically uploading a revision again should make it the latest one, isn't it?

We are currently investigating how this could be addressed, it is indeed not simple, specially as the server is involved.

Just a suggestion: we are recently not encouraging doing promotions based on user/channel (conan copy), but

[2020-09-08 14:32] czoido commented on #6268
Hi @fschoenm, @skoslowski
I'll try to reproduce the issue, could you please detail, step by step the series of operations you are doing when you are initialising everything in the CI? especially the ones that add the remote and the next operation after that? Also which of those operations are performed in parallel if any.

[2020-09-08 15:02] Tiger077 opened #7676 "[question] Build-Order / Inverse Dependency Graph"
When having a product package with a fixed dependency graph (no version ranges), I want to know which packages **would** need to be built again and in which order if I released a new version of a package in the upstream. i.e. I want to get my consumers.
The conan lock build-order seems not to support this use case.

The scenario is as follows:
* let us say we have the same dependency graph as in h

[2020-09-08 15:04] a4z commented on #7566
Hi @jgsogo , your NDK build is great, but it does not work for all archs, for i686 it builds arm32 binaries, and for x86_64 android builds it fails,

but I made a hybrid, out of yours and the old one, and this seem to work (have running it in the background while writing this, not all done but so far not problems)

works of course only with the 2 profile build, what is OK, but I wonder, what and w

[2020-09-08 15:23] memsharded commented on #7676
Hi @Tiger077

The key here is to have the right ``package_id_mode``:

- The binaries are modeled by their ``package_id``, which is computed as function of settings + options + dependencies versions
- The default "package_id_mode" is ``semver_direct_mode`` that means that the ``package_id`` of a given package, e.g. libd/0.1 only changes (requiring a new binary, and then a build) when the major vers

[2020-09-08 15:37] czoido commented on #6268
Also another question @fschoenm, @skoslowski which CI tool are you using and how are you invoking conan commands?

[2020-09-08 15:54] gsemet opened #7678 "[question] how to detect if build from source package?"
Hello,

In my `set_version` function, I would like to detect if I am in a source package or in the source tree. I compute the version somehow, but I do not need to it if I already have a package (ex: when my dependency is forced compiled by `conan install --build mydependencyname`) ?

Is there an easy way to do so? My current solution is to export a file named "version.txt" and if this file exists

[2020-09-08 17:42] shelper opened #7679 "[question] conan config install from git using specific branch"
when i try to install conan config from a remote git repo i run
`conan config install url_to_git_repo --type=git ` but seems there is no option to specify the branch.
is there a way to  specify the branch to install the config?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-09-08 18:17] mpusz opened #7680 "[recipe] Constrain on minor VS version"
Now as C++20 rolls out is is important to be able to detect the minor version of VS and to constrain `configure()` on it. For example, my library requires at least 16.7 to successfully compile. How to require it in `configure()`?

[2020-09-08 19:08] skoslowski commented on #6268
We include a single-file conan executable created with pyinstaller along with its config in the build vm images. Conan is run through shell scripts driven by Jenkins CI. The only command executed is `conan install --update ../`, right before (or during) cmake. Basically the same as our developers do on their machines.

[2020-09-08 20:29] ericriff opened #7681 "[question] Creating conan deb package"
Hi guys,

I've been trying to switch my Conan install from the pip based one to the deb package. I know that is not the recommended install method but the deb package is easier to distribute as part of a SDK.
Anyways, if I install Conan using pip everything works perfectly. If I install the deb package, I get this weird error on a post_package_download() hook:

`ERROR: [HOOK - postDownload.py] pos

[2020-09-08 21:00] uilianries commented on #7678
@gsemet take a look: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#develop

[2020-09-08 21:46] gsemet commented on #7678
Thanks a lot !

[2020-09-08 21:46] #7678 closed, assigned to nobody

[2020-09-09 02:00] shelper opened #7682 "[question] settings:os_build is used for package ID generation for some packages although it is not in recipe settings attribute"
I tried two packages: gtest/1.10.0@ and zlib/1.2.11@
i cross built them for android on windows and linux
the  profile i used on both platform is almost the same except that on windows i have `settings:os_build=Windows` and on linux `settings:os_build=Linux`, then i found the package ID generated for gtest are different due to this `settings:os_build` option is different between windows and linux,

[2020-09-09 06:22] spoofedex commented on #7675
Hi memsharded,

Thanks for your answer!
The first issue seems to be #7331, indeed. The second issue is not, although I expect it to be resolved when implementing what you state in that issue:

Furthermore, I don't expect the same issue will occur when having promotion through remotes rather than channel.

I will close this issue as duplicate.

That actually makes a lot of sense, thanks for the inf

[2020-09-09 06:22] #7675 closed, assigned to nobody

[2020-09-09 06:46] fschoenm commented on #6268
In our case, nothing runs in parallel. We add the conan remote before by calling ``conan remote add``. Then we usually use the conan.cmake integration and have in our CMakeLists.txt:

    conan_check(VERSION 1.12.0 REQUIRED)
    conan_cmake_run(CONANFILE conanfile.py BASIC_SETUP CMAKE_TARGETS KEEP_RPATHS)

But I think the problem can also occur when just calling ``conan install ..`` in the build d

[2020-09-09 07:14] czoido commented on #6268
Hi @fschoenm,
Is the call to `conan remote add` made directly doing `sh` in Jenkins? And right after that you are invoking CMake with `cmake-conan`? If that is the case, would it be possible for you to try to use [conan_add_remote](https://github.com/conan-io/cmake-conan#conan_add_remote) in the CMakelist to see if that changes anything?

[2020-09-09 07:49] fschoenm commented on #6268
@czoido We used ``conan_add_remote`` in another project with the same problems. I don't think it is related to that.

Most of the time (outside of CI), the remote is already added long before running the build so I don't really understand why you want to focus on that aspect?

[2020-09-09 08:11] Carsten87 opened #7683 "[bug] cmake helper is handling Visual Studio 16 2019 incorrectly"
With CMake generator "Visual Studio 16 2019" the specification of the architecture changed. It must now be supplied via the -A option. It seems like conan is not handling this correctly - note the `Win64` which is appended (probably by conan based on the specified settings):

My settings are:

My `build` method looks as follows:

[code]

I tried it with conan version 1.28.1 and 1.29.0. Generator "

[2020-09-09 08:49] markovandooren commented on #7664
For MSVC, Conan is not even strict enough. According to the Microsoft documentation, https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=vs-2019, the full toolchain version and redistributables must match exactly for binary compatibility.

I experienced this when my local full toolchain version was just a bit behind the version on a build server. Both were Visual Studio 2019.

[2020-09-09 09:24] bog-dan-ro commented on #7664
@markovandooren as I said from the begging **apart** from MSVC. For MSVC, conan will continue to be strict or even stricter if necessary.
But I don't think it's fair to punish the rest of the users just because Microsoft can't make their compilers/libraries compatible between versions.

[2020-09-09 12:10] #7672 closed, assigned to czoido

[2020-09-09 12:22] memsharded commented on #7683
Hi @Carsten87

Thanks for submitting this report.
What is exactly the error that you are getting? I am reproducing with a test, and what I see is that the produced command line is ``'-G "Visual Studio 16 2019" -A "x64"`` instead of the ``-A "Win64"``. Is that the case?

UPDATE: Sorry, I skipped the ``CMake Error: Could not create named generator Visual Studio 16 2019 Win64`` error. I don't see yet

[2020-09-09 12:52] Carsten87 commented on #7683
Hi @memsharded

thank you for looking into it. I will also try to reproduce it again and maybe give more detailed instructions.

[2020-09-09 12:53] markovandooren commented on #7680
To guarantee compatibility, I create a ToolSetVersion in configure() by parsing the VC\Auxiliary\Build\Microsoft.VCToolsVersion.default.props file of Visual Studio for the toolset version. I then propagate that to all dependencies such that I am guaranteed to get the correction version for all packages. Depending on the build options, you can decide to define compatible configurations. Since these

[2020-09-09 13:03] memsharded commented on #7683
I have been able to reproduce, and submitted a possible fix in https://github.com/conan-io/conan/pull/7684.
It might be possible that this cannot be merged, it could be breaking, we need to make sure, but lets see how it goes.

[2020-09-09 13:04] uilianries commented on #7682
Hi @shelper !

The `os_build` and `arch_build`  have been removed from most of recipes in [Conan Center Index](https://github.com/conan-io/conan-center-index) in favor of [build context](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer).

There is an extra information in [Conan's blog](https://blog.conan.io/2020/04/06/New-conan-release-1-24.html).

R

[2020-09-09 13:28] artorias111 commented on #7369
Hey! could you give some more insight into this? I'd like to make my first contribution. Can I work on this?

[2020-09-09 14:08] markovandooren opened #7685 "[feature] Support custom dependency information"
Summary
----------
1. Instead of just a deps_cpp_info it would be more flexible to have a deps_info dictionary to which objects for custom languages and tools can be added.

2. To make the dependency info available for tools that need to run after the build step, I would like the dependency information to always be created by executing the package_info() method of the recipe instead of sometimes p

[2020-09-09 14:26] Carsten87 commented on #7683
@memsharded wow, you are quick. Thank you 👍

Workaround is to just set `compiler.version=16` in the settings.

[2020-09-09 14:32] jgsogo commented on #7369
Sure, more than welcome. Thanks!

Consider modifying first the `.editorconfig` file in a PR and then we will eventually modify (step by step) all the files using it, do not make a PR modifying 2000 files 😄

Thanks!

[2020-09-09 15:15] artorias111 commented on #7369
Yeah got it, thanks a lot!

[2020-09-09 15:24] memsharded commented on #7628
I am checking this issue. The ``conanmanifest.txt`` is already the latest file to be uploaded, in both V1 and V2 apis, so the race condition should be elsewhere, not in the order of file upload.

[2020-09-09 15:37] Tiger077 commented on #7676
Hi @memsharded

My use case is a bit different. I need to know the consumers of a package, even when they use a fixed version of this package!
I use "full_version_mode" as default_package_id_mode.
So concretely what I want to do is to identify the consumers of a package in a dependency graph of a product, in order to, for example:
* Inform the developers of the consumer packages that I released a

[2020-09-09 16:05] shelper commented on #7682
hi, @uilianries
thanks for the info but i am still confused on why os_build affects the package ID of gtest when it is not in the settings attribute in recipe file

I am using conan 1.27 which is > 1.24

[2020-09-09 16:16] markovandooren commented on #7664
I just remarked that it should become stricter for MSVC. Nowhere did I mention anything about how GCC or any other compiler/toolchain should be handled.

[2020-09-09 16:25] memsharded commented on #7676
Hi @Tiger077

Yes, I think now it is more clear. I was a bit confused because I was understanding it as a real "build-order" thing, and not as general graph information.

Just in case, if you are not aware, the "revisions" mechanism allows to do changes in recipes without bumping the version, and the ``recipe_revision_mode`` allows to implement a efficient ``build-order`` in the same way than when

[2020-09-09 18:32] DukeOfKirkcaldy opened #7688 "[question] How should `target` info be passed when building a cross-compiler `build_requires` from sources"
I'm cross-compiling via `build_requires` using the new two-profile (build/host) approach and have been following the [example ](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer) in the docs for the compiler recipe:
[code]

When building the compiler package I pass the default profile as the host since I want it to run on my build machine:
```conan cr

[2020-09-09 21:16] SpaceIm opened #7689 "[question] SHORT DESCRIPTION"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I still don't completely understand how and when upstream options are overridden, and which recipe takes precedence if multiple downstream recipes override their upstream recipes.

https://docs.conan.io/en/latest/mastering/conditional.html claims that upstream recipes options should b

[2020-09-09 22:13] SpaceIm opened #7691 "[feature] cmake_find_generator[multi]: add more "alias" variables"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Some official CMake module files have uppercase variables (most of them actually), even if filename or namespace is not uppercase, but `cmake_find_generator` and `cmake_find_generator_multi` generate variables like `OpenSSL_INCLUDE_DIRS`.

So let's look at official FindOpenSSL module

[2020-09-10 06:46] monsdar opened #7693 "[feature] Improve compatibility with compiler caches like ccache or sccache"
We recently set up sccache with a local S3 storage for our CI infrastructure. With this runners should be able to reuse cached compilations instead of recompiling from source all the time. The problem now is that due to how Conan stores packages internally the cache is not used in most cases:

sccache (and ccache or other such solutions) use the absolute path of the source-files to determine wheth

[2020-09-10 06:52] monsdar commented on #7693
One idea I could come up would be to add a new option for Conan:
* `conan_use_central_build_directory` would always build the package in a simplified path like `$CONAN_HOME/build/<name>`
* After a successful build it would copy the resulting package into the more complex final path `$CONAN_HOME/data/<name>/<version>/<user>/<channel>`
* When `conan_use_central_build_directory` is activated it will

[2020-09-10 07:18] bog-dan-ro commented on #2726
This issue looks very similar with this #7664 one

[2020-09-10 08:27] Erlkoenig90 opened #7694 "[bug] CMAKE_SYSTEM_NAME is set to Macos instead of Darwin when settings.os = Macos"
### Environment Details
  * Operating System+version: Linux Mint 20.0
  * Compiler+version: Clang 10.0.0
  * Conan version: 1.29.0
  * Python version: 3.8.2

### Steps to reproduce
Install [osxcross](https://github.com/tpoechtrager/osxcross) on Linux, create a profile with `os=Macos` and attempt to build a CMake-based package such as glfw.

### Logs
CMake complains that it doesn't know `CMAKE_SYST

[2020-09-10 08:33] jgsogo commented on #7691
Hi, @SpaceIm

IMHO, we should limit Conan features to the common functionality shared by different build-systems, something that every one of them can take advantage of: names, filenames,... although some of them are already too CMake-centric (but it is ok, CMake is one of the biggest players if not the biggest one). Following this reasoning, I think that `cpp_info` is more-or-less feature complet

[2020-09-10 08:45] jgsogo commented on #7694
Thanks... yes, I think that change is needed. I didn't know about `osxcross`, probably an interesting project to try some cross-building approaches in a Mac machine.

Have you tried other recipes from ConanCenter? Are most of them working out-of-the-box?

---
... and thanks for the PR!

[2020-09-10 08:56] Erlkoenig90 commented on #7694
Yes osxcross is awesome, it allows you to e.g. build Mac OS applications on Linux CI servers. Some packages like `volk` or `openssl` work OOTB. `libwebp` and `glfw` both need this patch to compile because they use CMake. Unfortunately some other packages (like `fribidi`, dependency of `pango`) don't work yet because they use Meson and cross-compiling via conan+meson isn't implemented (#4529).

[2020-09-10 09:06] SpaceIm commented on #7691
My request was not very clear maybe.
I'm not asking for more feature in `package_info` (like injecting exotic variables, which should be done through `build_modules`), but to improve `cmake_find_package` and `cmake_find_package_multi` generators, so that they automatically provide common additional variables (without adding anything in `package_info`) in generated CMake module and config files.

S

[2020-09-10 09:07] jgsogo commented on #7693
Hi, @monsdar . It is not the first time we get some issues related to compiler cache systems and Conan, and so far we haven't come up with any solution.... but if any, I think it should follow your approach: an opt-in where the user takes all the responsibility if something fails.

There are some issues that will make it very hard for Conan to adopt it as default:
 * concurrency between different

[2020-09-10 09:12] jgsogo commented on #7694
We are trying to provide better integration with Meson (https://github.com/conan-io/conan/pull/7662), but we also need Meson to stabilize a little bit as seen in that PR. Too many things, step by step 😃

[2020-09-10 09:20] jgsogo commented on #7689
💯 I also find it difficult, and usually need to run a test to confirm how it works.

Conan 2.0 should be much more strict regarding attributes visibility and constness.
+ The plan is to add/remove attributes dynamically when entering/exiting functions, so only the attributes that make sense in that context are available inside the function: for example, no settings or options inside the `source()`

[2020-09-10 09:30] jgsogo commented on #7691
There is also the `cpp_info.filename`, which is the one used right now for the `xxx_FOUND` and other variables... so the feature would generate the four combinations: upper/lowercase and names matching the `cpp_info.names` and `cpp_info.filename`... increasing the risk of collision.

As a C++ developer, I would love to see some standardization in all these naming, but I know the world is different

[2020-09-10 12:36] foundry-markf commented on #7643
Hi,
First of all, apologies for a tardy reply.

So yes, I've only got CONAN_V2_MODE enabled locally. We haven't got in production. I just wanted to keep abreast of any breaking points.

Agreed that it should be nonsense to _have_ to manually enable fPIC when building shared libraries, so my observation initially is that it seemed to be contradictory (fPIC wasn't defined at all, were autotools/CMak

[2020-09-10 15:43] #7667 closed, assigned to jgsogo

[2020-09-10 16:08] jgsogo commented on #7688
Hi, @GordonJess. I need to say you are living on the edge 🎸  , this feature is still experimental, and using it in the context of a cross-compiler is something we still need to validate. The new approach with the two-profiles has proved to be very robust and solid and it will likely be the default for the next major Conan version... so let's try to work together and improve the example, the docume

[2020-09-10 23:58] memsharded commented on #7685
Hi @markovandooren

Thanks very much for the feedback.

Have you checked the ``user_info`` and ``deps_user_info`` dictionaries? They are intended for this purpose, a dictionary with values for consumers, without the need of hacking the python code.

I cannot agree more. This is already planned to be fixed, the only thing is that it would be quite breaking, so it is planned for Conan 2.0

[2020-09-11 00:02] memsharded commented on #7679
Hi @shelper

The ``conan config install`` command admits a generic ``--args`` argument, and its value will be forwarded to git. So something like:

[code]

Please try and let me know if it works. Thanks!

[2020-09-11 00:16] memsharded commented on #7666
Hi @mgrandsire

Thanks for your interesting in Conan and your feedback.

Let me explain a little bit about the ``conan test`` intended design: It was implemented there to check and validate the packages, that all the headers were correctly copied, the libraries were copied and in the right place, etc. because the most common error in a package was not putting the final package files in the right f

[2020-09-11 00:31] blackencino commented on #916
Hi - especially @memsharded , I'm running into the Boost/Gtest collision problem mentioned in other issue reports, in which depending on Boost and GTest causes a linker error complaining about missing symbols from boost unit test. Here's an output:

[code]

I've been trying to figure out, from the comments above in this thread, what the 'build_requires' solution is to this problem. Our conanfile.p

[2020-09-11 00:46] memsharded commented on #7659
Hi @klimkin

I am having a look at this issue. Could you please check that the vars are being joined with ``:``. I am seeing flags added with commas, just checked it. Do you see that in the terminal output, when the effective profile is being displayed?

I am trying this test, which captures the current logic:

[code]

BTW, we are considering adding profiles in python, it seems they can help to no

[2020-09-11 02:29] artorias111 commented on #7369
Okay, so I need to put the line(s?)mentioned by @memsharded into the .editorconfig file and the make a pull request?

[2020-09-11 09:08] memsharded commented on #7369
Yes @artorias111

The key here is to know what lines is necessary to put in .editorconfig that defines what to do with the multiple line indentation, I don't know if it is even possible.

I don't love the output of "black" formatter, but I am starting to consider it a possibility for Conan 2.0 codebase.

[2020-09-11 11:50] madebr opened #7699 "[bug] tools.remove_files_by_mask not available in tools"
Documentation
https://docs.conan.io/en/latest/reference/tools.html#tools-remove-files-by-mask

`tools.remove_files_by_mask` is not available in `conans.tools`

It is only available in `conans.client.tools.files`,
but that's an internal conan module and prone to  breakage.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: gcc
  *

[2020-09-11 11:57] monsdar commented on #7693
Both issues would not apply in our CI usecase:
* Only one build process runs per job per runner
* Builds always work on a freshly cloned repository

Due to the opt-in people cannot really expect these to be solved, for someone using this for CI these shouldn't be blockers. Of course users will see that feature and try to use for different purposes and then ask for proper locking and incremental bu

[2020-09-11 12:36] beizhengren commented on #4109
Hi @memsharded
I  don't have cmake in my PC.
And I want to use conan to install **cmake 3.17** for me to compile conan packages.
I add `cmake_installer` under `[build_requires]` of `profile`, as following:
[code]
But in conan-center, all cmake versions are smaller than `3.17`.
How can I resolve it?
Thanks!

[2020-09-11 12:42] madebr opened #7701 "[bug] pkg_config keeps non-existent include directories"
The `pkg_config` generator adds a `includedir` section to the generated pc files,
even when no includedirs are added.

This causes using them in CMake to fail with the following error:
[code]

### Environment Details (include every applicable attribute)
  * Conan version: 1.29.0
  * Python version: 3.7.7

### Steps to reproduce (Include if Applicable)

The following mini recipe reproduces the erro

[2020-09-11 13:38] thvdburgt opened #7702 "[bug] CONAN_LINK_RUNTIME does not get set"
The CMake definition CONAN_LINK_RUNTIME does not seem to get set as defined here: https://docs.conan.io/en/latest/reference/build_helpers/cmake.html#definitions .

### Environment Details
  * Conan version: 1.29.0
  * Python version: 3.8.1
  * CMake version: 3.18.2

### Steps to reproduce/Logs

Using the following:
[code]
**conanfile.py**
[code]
**CMakeLists.txt**
[code]
and running
`> conan insta

[2020-09-11 14:13] memsharded commented on #7701
Just checked it, it seems that it is a bug.  Sending PR https://github.com/conan-io/conan/pull/7703 to fix it. I would like to make sure that neither the ``include`` nor the ``lib`` dirs should be there in the .pc files if those folders are empty. Could you please have a look to the PR? Thanks

[2020-09-11 14:22] uilianries commented on #4109
@beizhengren  cmake_installer is deprecated. Please use cmake/3.17.4 instead.

[2020-09-11 14:22] DukeOfKirkcaldy commented on #7688
Hi @jgsogo!

Thanks for your detailed explanation!  It's very helpful for my understanding.

Though I'm not sure that I completely understand the downside to providing target settings through a profile (`--profile:target`) as long as it is possible to decide which of the settings should have an influence on the `package_id`.

For example, in my case, I'm packaging the TASKING VX-toolset which incl

[2020-09-11 15:13] markovandooren commented on #7685
Hi @memsharded ,

Thank you very much! I had initially skipped over user_info because I somehow thought it was about the user that produces the package (the user/channel thing). I have now switched to user_info such that we don't have to worry when upgrading Conan. That solves part 1.

Part 2 will then automatically be solved in Conan 2.0. Then I can put the source indexing object in the user_info

[2020-09-11 15:28] DukeOfKirkcaldy commented on #7688
Actually, I realised I can stop options from affecting the `package_id` by simply removing them in `configure()` after grabbing their value.

[code]

[2020-09-11 20:36] mgrandsire commented on #7666
Hi @memsharded,
Thanks a lot for your answer.
I have completely understood the goal of test as it is currently implemented but generally, before packaging, we want to test our code. Therefore, I wanted to reuse the build description described in conanfile.py and CMakeLists.txt and to reuse also the tests to avoid two different configurations (One for package and one for development)
Today, I gener

[2020-09-11 21:06] uilianries commented on #6545
I think this issue is invalid now. I didn't the changes in the code, but 1.29.0 has a different behavior:

[code]

Now we have an warning message. The command code error is still 0 (no error).

[2020-09-12 15:19] madebr commented on #7701
@memsharded
The pr is indeed fixing the problem. Thanks!

My example was bad btw, because `FindPkgConfig.cmake` will only create an imported target if some of the properties is non-empty. Adding e.g. a `self.cpp_info.system_libs = ["m"]` fixed that.

[2020-09-12 16:07] memsharded commented on #6545
But @uilianries the issue is still valid, using ``conan remove name/version@user/channel#RRev:package_id`` still doesn't work. It should be able to work, the ``-p=packageId`` syntax is to be deprecated. What am I missing?

[2020-09-12 22:41] f18m opened #7705 "[feature] Add version of dependencies to the Make variables exported in conanbuildinfo.mak"
For my use case, but I think it could be useful to everybody, it is required to know, inside my GNU make makefiles, the exact version of each package specified inside "conanfile.txt".

In version 1.29 of Conan if I put in "conanfile.txt" the "make" generator, I obtain a  conanbuildinfo.mak containing all sort of folders (e.g. CONAN_ROOT_nameOfDependency), but no variable like "CONAN_VERSION_nameOf

[2020-09-13 00:23] DukeOfKirkcaldy commented on #7688
It'd be useful to be able to set the version of the cross compiler package in `set_version()` using the target setting/option.

[2020-09-13 06:32] w3sip opened #7706 "[feature] Use multithreaded gzip"
Compression is excruciatingly slow for large packages. This is mostly due to the fact, that Python gzip package is single-threaded. So no matter how fast of a build machine is being used, when it comes to compressing a large package, it's being wasted,

Switching conan to mgzip should be fairly quick, and performance gains it promises are significant.  If it doesn't pan out, switching to an altern

[2020-09-13 20:37] memsharded commented on #7706
Hi @w3sip

This has been requested (lzma) before: https://github.com/conan-io/conan/issues/648

The thing is that most likely, compressor should be optimized for de-compression speed. It seems that gzip is still the best, it compress less, but it is faster, and we have found that unzipping things is one bottleneck. The idea is that one package is zipped only once, but it will be very likely unzipp

[2020-09-13 21:34] w3sip commented on #7706
Well -- I don't have a first hand experience with mgzip (https://pypi.org/project/mgzip/) should do just that -- it's a drop in replacement for gzip, while advertising performance gain. Don't have a direct experience with the package, but it sounds like something that won't be too too hard to test and adopt, if suitable. If should address all the points you've made about gzip compatibility as well

[2020-09-13 22:56] memsharded commented on #7706
https://pypi.org/project/mgzip/ stats:

- 5 stars in github
- latest release 0.2 in March (> 6 months ago, also latest commit)
- 3k download/month (https://pypistats.org/packages/mgzip)

Seems it is not ready for production. Also, looks very interesting, if this was a bit more maintained and stable, it could be very useful, so maybe good enough to experiment with it a bit (if it is a drop in repla

[2020-09-14 09:33] gsemet opened #7707 "[question] How to list all installed package by a conan command?"
I am looking for an equivalent of `pip freeze` that lists all installed package with full version in the current environment.

From my understanding, this would be the content of `[full_requires]` in `conaninfo.txt`.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-09-14 10:55] annulen opened #7708 "[question] How to reset --package-folder value in "conan build" to undefined?"
I'd like to prevent `conan build` from altering installation paths, i.e. avoid conan from taking `if self._conanfile.package_folder` branch in `conans/client/build/cmake_flags.py`. However, `conan build` sets default value `{build_folder}/package` if `-pf` is not specified. Is there any way to prevent conan from messing with `CMAKE_INSTALL_` variables?

- [X] I've read the [CONTRIBUTING guide](htt

[2020-09-14 11:36] memsharded commented on #7707
Hi @gsemet

There is no such thing as "environment", but the Conan cache can host simultaneously many packages, different versions and configurations from multiple projects. I guess you don't want to capture the whole state of the cache.

I would say that you might be interested in the ``conan lock`` command: https://docs.conan.io/en/latest/versioning/lockfiles.html

With ``conan lock create conan

[2020-09-14 12:59] AndreyMlashkin opened #7709 "[bug] gitlab integration - fail to install community package"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.1 LTS
  * Compiler+version: GNU Make 4.2.1
  * Conan version: 1.29.0
  * Python version: 3.7.6

conan remote list
conan-center: https://conan.bintray.com [Verify SSL: True]
bincrafters: https://api.bintray.com/conan/bincrafters/public-conan [Verify SSL: True]
conan-community: https://api.bintray

[2020-09-14 14:06] AlekseyKovy opened #7710 "[bug] Not clear conan work with defaul_options"
In some cases, the conan ignore default_options in conanfile.py

### Environment Details
  * Operating System+version: Any
  * Compiler+version: Any
  * Conan version: 1.28
  * Python version:  3.8

### Steps to reproduce
Local cache contains 1 prebuilt package dep1 with default_options(dep1:option1=False).

[code]

We have an application recipe that depends on dep1:option1=True.
[code]
When tryin

[2020-09-14 15:48] theodelrieu opened #7711 "[bug] configure seems to be called before requirements"
### Environment Details (include every applicable attribute)
  * Operating System+version: Debian 10
  * Compiler+version: N/A
  * Conan version: 1.28.0
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)

STR are in the zip.

### Logs (Executed commands with output) (Include/Attach if Applicable)

When creating `libb` (which requires `liba`):

[code]

There is no trace of `lib

[2020-09-14 15:50] theodelrieu commented on #7711
This bug has been there for a while, 1.28.0 only made it visible by commit https://github.com/conan-io/conan/commit/f563439d18dacf4e7310c08c07386f95070eccfc#diff-bae39d2bdc7699f69aedb39446005cd6R75

[2020-09-14 17:19] uilianries commented on #6545
Okay, for now we only have a warning message. So we should actually implement the support. It's clear now.

[2020-09-14 18:58] ericriff commented on #7711
Thats the intended behavior, see https://docs.conan.io/en/latest/reference/commands/creator/create.html

[code]

[2020-09-14 19:02] ericriff commented on #7707
Another cool tool is `info` with the `--graph` flag which will do a graphical representation of your dependencies and build requirements.
[code]

[2020-09-14 19:56] memsharded commented on #7709
Hi @AndreyMlashkin

I am afraid that we have no control over the Gitlab integration, seems it is a server side issue, not a client one, so this issue should be probably reported in Gitlab repo instead. Have you reported this issue there?

[2020-09-14 21:13] theodelrieu commented on #7711
Well I didn't know that, thanks for the link.

However, it means it's just not possible to perform sanity checks on requirements' options?
My use-case is to raise `ConanInvalidConfiguration` when a dependency option is incompatible with the current package options.

[2020-09-14 21:20] ericriff commented on #7711
You can force the options that you want for the dependencies
[code]

[2020-09-14 21:20] ericriff commented on #7711
You can force the options that you want for the dependencies
[code]

[2020-09-14 21:27] memsharded commented on #7699
Fixed by https://github.com/conan-io/conan/pull/7700, will be released in 1.29.1 soon

[2020-09-14 21:27] #7699 closed, assigned to memsharded

[2020-09-14 23:21] memsharded commented on #7710
Hi @Alex0Lihach

Could you please detail what are the steps, the full conan commands that you are using (including details about the profiles if necessary), and the output of those commands?
I am trying to reproduce with the following test, but it works fine:

[code]

[2020-09-14 23:32] memsharded commented on #7705
Hi @f18m

In theory this effort should be done in parallel with other generators as cmake, msbuild, etc. On the other hand, some generators, like the ``cmake_find_package`` one, seems to be already using it.

So if this is a relatively urgent need for you, yes, I'd suggest to give it a try, and lets see if it can be merged without any problem. Seems modifying ``MakeGenerator`` should be enough (be

[2020-09-15 07:24] AndreyMlashkin commented on #7709
Yes, I have also reported this bug there
https://gitlab.com/gitlab-org/gitlab/-/issues/249134

If you have any possibility to put prio or provide some information there, you are welcome

[2020-09-15 07:35] theodelrieu commented on #7711
Yeah that's not really the use-case unfortunately.

In fact, I stopped doing this kind of stuff years ago, the issue here is that 1.28.0 breaks a 2yr old recipe which RREV is manually pinpoint in our compatibility tests, so it's quite annoying to workaround...

Currently, this breaks old recipes (that were incorrect, alright, but it's still breaking them)

[2020-09-15 08:36] memsharded commented on #7709
Some quick hints about our remotes:

- Conan-community is no longer maintained. Almost all packages there are already included in ConanCenter, and you can find more modern versions for them without user/channel part. Almost sure you can drop this remote without any issue.
- Using the packages without user/channel is the recommended approach in ConanCenter
- Something similar happens with bincrafte

[2020-09-15 08:40] memsharded commented on #7709
What is the output of ``conan user`` command?

[2020-09-15 09:07] memsharded commented on #7707
Good hint @ericriff, thanks

Now, the HTML template used to create the .html file can also be customized and shared with the team with ``conan config install``, so this might help if you need to change something in the output.

The lockfiles might be a bit more detailed, containing the recipe and package revisions, the options values, and capturing also the profiles used to create that graph, but

[2020-09-15 09:19] AndreyMlashkin commented on #7709
Current user of remote 'conan-center' set to: 'None' (anonymous)
Current user of remote 'bincrafters' set to: 'None' (anonymous)
Current user of remote 'conan-community' set to: 'None' (anonymous)
Current user of remote 'artifactory' set to: 'andrei.malashkin' [Authenticated]
Current user of remote 'gitlab' set to: 'AndreiMalashkin'

[2020-09-15 09:23] AlekseyKovy commented on #7710
[code]
You build dep with -o dep:option1=True, but I build dep without -o flag(just "conan create ." in dep folder). After building, my local cache has 1 dep package with option1=False. And now when I try to build app("conan create ." in app folder), conan builds it with dep:option1=False, in fact, ignoring default_option

[2020-09-15 09:45] gsemet commented on #7707
I see that `conan info .. --json conan-info.json` outputs a nice json but it is not `pretty formatted` by default, isn't it possible to format it by default (without additional scripting?)

[2020-09-15 09:54] markovandooren commented on #6405
@jgsogo Would the new API allow me to let me call a particular piece of code in my conanfile.py after setting up the dependency information?

I just managed to get Visual Studio source indexing to work for Conan packages with source coming from various repositories. But the developers are working in Visual Studio. For DLLs, there is no problem, but Visual Studio cannot merge source indexing from P

[2020-09-15 10:12] memsharded commented on #7707
Yes, I think it could be enough to add ``json.dumps(..., indent=4,`` to the code, if you want to try to contribute a PR, I don't see a strong reason not to merge that change.

[2020-09-15 16:20] memsharded commented on #7709
Ok, thanks for the feedback. Totally seems something related to the server side, nothing to do at the moment in the client side. I am closing this one, lets follow conversation in https://gitlab.com/gitlab-org/gitlab/-/issues/249134, if necessary we can reopen.

[2020-09-15 16:20] #7709 closed, assigned to nobody

[2020-09-15 17:26] steve-thousand opened #7712 "does/should conan's bintray API have rate limits similar to those listed in bintray's documentation"
I have been doing some research on conan's enforced limitations, and it seems that the conan client simply calls a bintray API that appears to be owned by conan (ie. https://conan.bintray.com/v1/conans/search?q=bzip2 to search for "bzip2"). If I go to https://bintray.com there is a link at the top to [API documentation](https://www.jfrog.com/confluence/display/BT/Bintray+REST+API) which says there

[2020-09-16 07:05] paostman opened #7713 "Default files that can be overridden"
Hi.

I would like to create a Conan recipe that installs files but only if files are not available in a local git clone.
In other terms I would like to install dependencies but files could be overridden by local versions. This too create inheritance, i.e. default files that can be replaced by project repo files.
Is this possible in Conan? Any other ways to achieve this behavior?

/Patrik

[2020-09-16 08:00] ericLemanissier commented on #7701
isn't the problem here that `[self.cpp_info.includedirs` is prepopulated by conan as `['include']` `self.cpp_info.libdirs` as `['lib']`](https://docs.conan.io/en/latest/reference/conanfile/methods.html#cpp-info) ?
would the issues be fixed by doing `self.cpp_info.includedirs = []` and/or `self.cpp_info.libdirs = []` in `package_info()` ?

[2020-09-16 08:32] memsharded commented on #7701
Hi @ericLemanissier

Yes, it is likely that in Conan 2.0 we will remove the ``filter_empy``, but this has been working in Conan 1.X and needs to keep working. All the other generators remove from their output empty folders, but the pkg_config one, which had a bug (using includedirs, the source value, instead of ``include_paths`` the absolute path values that have been filtered)

[2020-09-16 08:36] ericLemanissier commented on #7701
I was thinking of correcting the recipe's `package_info`, conan's behaviour is fine.
BTW, what is `filter_empy` ?

[2020-09-16 08:38] memsharded commented on #7713
Hi @paostman

Not sure what you mean. Conan does not "install" files in your project, dependencies are installed in a local cache (typically ``<userhome>/.conan`` folder. So they will not overwrite anything that you have locally.
The ``imports()`` and ``deploy()`` methods can be used to copy things from the cache to the current user folder. I haven't tried that, but maybe it is possible to do a co

[2020-09-16 08:43] memsharded commented on #7701
Well, if you are checking the tests that changed, the goal of those tests is to validate the output of the pkg_config generator, for a typical package. Using empty folders in the test will test nothing.

``filter_empty`` is a ``self.cpp_info.filter_empty`` boolean flag that can be used to disable (default is ``True``), and let Conan put those folders in generated files even if they are empty. At t

[2020-09-16 11:55] jgsogo commented on #7101
I'm trying to reproduce the issue without success 😞  It is easy to block Conan and get a `xyz is locked by another concurrent conan process, wait...`... but I'm always able to work around it running `conan remove --locks` which would be the real issue.

Blocking Conan is as easy as terminating the process while Conan is building a package (Ctrl+C usually is not enough, the contextmanager exit func

[2020-09-16 12:13] jgsogo commented on #7101
Ok, there is a way to reproduce it, but I think it is not a reachable status using only Conan commands:

If we run, for example, a `conan create fmt/7.0.3@conan/stable` and interrupt the process so we get the file `/Users/jgsogo/.conan/data/fmt/7.0.3/conan/stable.count` with a value different from `0`. Now we are in a status where every command involving `fmt/7.0.3@conan/stable` will fail and Cona

[2020-09-16 15:00] jgsogo commented on #6405
Hi, @markovandooren. Your request is very specific and it probably deserves its own issue (to be assigned to CLI and 2.0 version). We can have a look into it and keep it in mind while working in the Conan API. Please, be as explicit as possible, we need to know the context while running that _custom_ recipe method: values accessible within this method (settings, environment variables, `user_info`,

[2020-09-16 17:57] markovandooren commented on #6790
@jgsogo I just ran into this problem, so I can at least explain the 'pain' part ;).

I use a custom generator for dealing with C++, C#, and C++/CLI. I have packages A and B, and package A depends on package B. Both packages use a python_requires to get the custom generator. I was working on package A and noticed that I need to change the generator to get source server support working in Visual Stu

[2020-09-16 23:22] atomixnmc opened #7714 "[bug] Can not run poco example in Windows 10, visual studio 2017 or 2019"
I Can not run poco example:
https://docs.conan.io/en/latest/getting_started.html#an-md5-hash-calculator-using-the-poco-libraries
 in Windows 10, visual studio 2017 or 2019

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio
  * Conan version: 1.21.0
  * Python version: 3.8

### Steps to reproduce (Include if App

[2020-09-17 07:50] memsharded commented on #7714
Hi @atomixnmc

You need to upgrade to latest Conan version.
As explained in the introduction (https://docs.conan.io/en/latest/introduction.html#stable), public packages in ConanCenter requires being updated, because contributors may use features released in more modern Conan versions:

[2020-09-17 08:32] jgsogo commented on #7712
Hi, @steve-thousand

Conan client uses the by default a remote we call ConanCenter, you can check it running this command in a fresh installation:

[code]

Those packages have been created using the recipes in https://github.com/conan-io/conan-center-index and you can also use a web interface to browse them here: https://conan.io/center/

Every Conan client uses that remote by default, without aut

[2020-09-17 08:41] SpaceIm commented on #7691
I can open a discussion in conan-center-index, but I strongly believe that the new variables proposed in this PR are *standard variables*.
Here you can see some comments in a PR of @ohanar, where the module file generated by conan won't be correct because those variables are missing:
https://github.com/conan-io/conan-center-index/blob/d6aca94d6823d9fa439c616a2e7d070915c99fc1/recipes/openscenegraph

[2020-09-17 08:43] jgsogo commented on #7711
In order to validate options from requirements you need to wait until all the graph is resolved, right now it is only possible in the `build()` method, but we are considering other alternatives: https://github.com/conan-io/conan/issues/7591

Regarding the error raised when the option is not accessible yet, it was a bug we realize and fixed in that version, those recipes were buggy, unfortunately,

[2020-09-17 08:54] memsharded commented on #7710
Hi @Alex0Lihach

If I remove the ``-o dep:option1=True``, it is created with default value False, that is right.
But then, when I later do ``create . app/0.1@``, it fails with a *"missing binary error"*. Conan does not build it by default. If I pass ``--build=missing`` to ``conan create . app/0.1 --build=missing``, the test is green again.

Could you please detail the complete sequence of commands

[2020-09-17 08:54] theodelrieu commented on #7711
I agree, but I cannot upgrade Conan to 1.29.0 right now, since it breaks our CI/release process and I can't really overwrite previous recipes :(

[2020-09-17 09:02] jgsogo commented on #7711
Will you be blocked forever? I'd like to think that eventually you will be able to modify those old tests/recipes, won't you?

[2020-09-17 09:13] jgsogo commented on #7691
👍  Let's gather some attention on this issue, and see what others think about it.

[2020-09-17 09:48] Erlkoenig90 opened #7715 "[bug] -rpath flag separator depends on build OS instead of host OS"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Mint 20 Ulyana
  * Compiler+version: clang version 10.0.0, Target: x86_64-apple-darwin19
  * Conan version: 1.29.0 with PR #7695 applied
  * Python version: 3.8.2

### Steps to reproduce (Include if Applicable)
Install [osxcross](https://github.com/tpoechtrager/osxcross) on Linux, create a profile with

[2020-09-17 10:00] theodelrieu commented on #7711
One day we'll drop them yeah...

[2020-09-17 10:32] jgsogo opened #7717 "[feature] [lockfile] Check also 'build_requires' coming from the 'profile' information"
Here https://github.com/conan-io/conan/pull/7698 we are bypassing an inconvenient check, but the proper solution is to take into account (and check) the `build_requires` coming from the profile as well.

[2020-09-17 10:43] jgsogo commented on #7715
Hi, I'm afraid this change will work for this scenario because _"The `ld64` linker used by Clang to (cross-)compile for Mac OS doesn't understand rpath flags with a `=` separator"_, but it might be broken for other scenarios where the linker used by other compilers to cross-compile expect those files in the format natural for the machine where the compiler is running (the _build_ machine).

I'm no

[2020-09-17 10:46] jgsogo commented on #7711
Probably nothing to do here then, shall we close the issue?

[2020-09-17 11:58] #7711 closed, assigned to jgsogo

[2020-09-17 12:05] Erlkoenig90 commented on #7715
Right, well it works for Cross-Compiling from Linux to Mac OS via osxcross and to Windows via MinGW32. I just noticed it's silly to pass `os_host` to `rpath_flags` because it's already in `settings`, so I reverted that. I added some logic to _only_ set the -rpath to `,` when compiling for Mac OS from Linux or Mac OS via a `GCC_LIKE`-compiler (but left the other solution as a comment, so we can dec

[2020-09-17 12:59] EddyXorb commented on #7100
I had a similar issue  and solved it like that:
In the conanfile.py in set_version I write into a file "version.txt" which I put into my .gitignore file and exported it with exports_sources into my local cache. In code:

[code]

This version.txt file is then consumed by my c++ project as follows (you have to assure that you put the "version.txt" in the root folder of the consuming project):
[code]

[2020-09-17 13:12] wadimklincov opened #7718 "[bug] system_requirements is ignored when using python_requires"
Hello!

We have a base recipe with a `system_requirements` method which parses a file and generates a list of dependencies which are then installed with `SystemPackageTool`. This works quite well when executing the conan commands one by one.
But when using `conan create .` directly, without previously running `conan install`, `system_requirements` is not called and building fails due to missing li

[2020-09-17 14:30] DukeOfKirkcaldy opened #7719 "[question] 'build_modules' of `build_requires` are not included when building consumers with build/host profiles"
I'm experimenting with the build and host context profiles and many of my builds are breaking due to the changes in how `build_requires` are handled.  So I'm just trying to understand if this is intentional and whether I need to update my recipes.

For example, I have a tool which is used to generate source code from .xml files in the consumer's repository.  The sources are then compiled into a st

[2020-09-17 16:27] ohanar commented on #7691
I agree with @SpaceIm, there is a ton of inconsistency in the CMake ecosystem about whether to use `{name}_FOUND` vs `{filename}_FOUND` or `{name}_LIBRARIES` vs `{filename}_LIBRARIES`, etc. Rather than arbitrarily choosing things like `{filename}_FOUND` and `{name}_INCLUDE_DIRS` as conan currently does, I think we should just define both `{name}_XXX` and `{filename}_XXX` for all relevant XXX. Thes

[2020-09-17 18:37] memsharded commented on #1406
This question was answered long time ago. Some things have changed, and now (Conan 1.29) it is more recommended to use lockfiles and ``conan lock build-order`` command, using the right ``--build`` and ``package_id_mode`` to achieve the desired behavior, because it is quite necessary to apply a lockfile in order to build the packages in a graph separately or in parallel.

[2020-09-17 18:37] #1406 closed

[2020-09-17 20:17] daravi opened #7720 "[bug] Conan is not able to generate pkg-config variables"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 8
  * Compiler+version: Clang 10.0.1
  * Conan version: 1.29.1
  * Python version: 3.8.3

### Steps to reproduce (Include if Applicable)
Building `pulseaudio` fails because the `glib` dependency is using the `pkg-conf` generator as opposed to packaging the native `.pc` files, and therefore a variable

[2020-09-17 20:58] SpaceIm commented on #7615
@SSE4 I don't know how it could be implemented with existing cpp_info properties without breaking current behaviour. For example, setting `self.cpp_info.names["cmake_find_package"] = ""` would prevent defining global target `name::name`?

[2020-09-17 21:12] memsharded commented on #7683
Hi @Carsten87

this has been fixed and released in 1.29.1. Please update, give it a try, and let us know if all is ok.

[2020-09-17 21:12] #7683 closed, assigned to memsharded

[2020-09-17 21:25] davyx8 commented on #6886
hi
im not sure this is the same issue but i had a similar problem in ubuntu when trying to do anything with the remotes list.

my problem was an empty json file in the user profile dir. simply removing it like this:

`rm -rf  /home/david/.conan/remotes.json
`

resolved it

[2020-09-17 21:38] memsharded commented on #7691
My personal opinion: I really hate how CMake is that much inconsistent, and still the community pushes Conan to conform to such bad practices instead of pushing CMake or accepting having to do some simple modifications in the consumer scripts.

If Conan introduces all the different casing for ``Jasper_INCLUDE_DIRS``, ``JASPER_INCLUDE_DIRS``, this will perpetuate the bad practice and **extend** it

[2020-09-17 21:53] memsharded commented on #7708
Hi @annulen

I am having a look at the source code, it doesn't look like possible. The ``package_folder`` is always defined, it could be the package folder in the cache, or it could be the local folder when doing the ``conan build`` flow.

What you are trying to achieve? What would be the use case?

[2020-09-17 22:05] memsharded commented on #7720
Just a couple of ideas:

- It should probably be put inside some semantic naming like ``components["xxx"].vars["glib_compile_schemas"] = "xxx"``
- How are these variables mapped to different generators? Anything at this cpp_info level should be generic enough, something that makes sense at least for some generators.

Also, it is necessary to understand if this is a very excepcional situation, or w

[2020-09-17 22:24] annulen commented on #7708
I'm using `conan build` as a convenient wrapper for cmake and ninja which ensures correct environment variables on all stages. At the final step I don't want to build package but install into local system, so I'd like CMAKE_INSTALL_ * variables to be left alone in their default state. It can be done by deleteing entries from `cmake.definitions` dictionary, however I hoped there might be solution w

[2020-09-17 22:36] memsharded commented on #7718
Hi @wadimklincov

You are hitting some old legacy inside the system_requirements() code. I am proposing https://github.com/conan-io/conan/pull/7721, but we need to check and make sure that this will not be breaking anything else.

[2020-09-17 22:46] memsharded commented on #7719
Hi @GordonJess

In theory, if that tool is an executable that is running in the current build machine, then it should be in the build context, not the host context.

You are right, it seems you hit some missing functionality. So far, the ``build_modules`` feature only works without contexts. When using contexts, the ``cpp_info`` is propagated only through the "host" context, but not the "build" on

[2020-09-17 23:37] ohanar commented on #7691
The problem is one of scale, we aren't really talking about 10s of packages, more like hundreds or thousands, so in my opinion Conan's goal should be first and foremost compatibility (not just for CMake, but also with pkg-config, qmake, meson, etc). I agree that there are a bunch of bad practices with CMake, but that is true for any heavily used piece of software -- I personally have to deal with

[2020-09-18 04:39] ssrobins commented on #7635
Xcode 12 has been officially released :)

[2020-09-18 07:40] memsharded commented on #7635
Thanks for telling @ssrobins !

lets add it asap, at least in 1.30 and if there is another 1.29 patch release, we could include it.

[2020-09-18 07:48] markovandooren commented on #6405
Hi @jgsogo, I will create a new detailed issue next week. I had to make a change to the mechanism to avoid a problem with concurrent builds in Visual Studio. It affected the way that I interact with Conan, so I want to do more testing to make sure that my workflow covers everything.

[2020-09-18 07:56] DoDoENT commented on #1557
Let me just step in - we have a similar issue as well. Indeed Conan has reached the limits of Hyrum's law.

We started using Conan while it was in version 1.4, way before the decision to enforce all package names in lower case. Actually, every internal package in our company has name in PascalCase. This is OK for internal packages but is problematic for our forks of open source packages. Thus, we

[2020-09-18 08:07] wadimklincov commented on #7718
Thank you for the information and the quick solution, @memsharded!

[2020-09-18 08:22] ericLemanissier commented on #7720
@memsharded these variables are generator specific, so we would need something like `components["component"].vars["generator"]["variable_name"] = "variable value`
I guess cmake generators too would gain a lot of new possibilities with this feature

[2020-09-18 09:45] akalali commented on #7671
Hi @jgsogo

Thank you, it's working now. Could you please specify, what was missing? I got a different error than the one mentioned in the issue. Was the problem similar, but instead of the Python-recipe the patch-file was not uploaded?

[2020-09-18 09:50] jgsogo commented on #7719
Hi @GordonJess

We are still polishing this feature and we are learning a lot from all these issues and your use-cases, so nothing is written in stone. Said that, this is how I see this scenario:

 * `build_modules` are included by default in the files that are consumed by the build-system, these `build_modules` usually contain information about the package being included in the build: path to lib

[2020-09-18 14:14] w3sip opened #7723 "[bug] self.copy(symlinks=True) has no effect"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos  (Linux is affected as well)
  * Compiler+version:
  * Conan version: 1.23.0
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)
Use symlinks=True during package stage

For example:
        self.copy("libglib*", dst="glib-2.0/lib", src=self.kWorkfolder+"/lib/aarch64-linux-gnu", sy

[2020-09-18 15:57] czoido commented on #7635
Closed by https://github.com/conan-io/conan/pull/7722

[2020-09-18 15:57] #7635 closed, assigned to nobody

[2020-09-18 15:59] colin-pm opened #7724 "[question] Installing directories and files to GNUInstallDirs SYSCONFDIR"
I am trying to use CMake's install(...) command with CMAKE_INSTALL_SYSCONFDIR to install a necessary directory and system configuration files to /etc. CMAKE_INSTALL_SYSCONFDIR does not have a default value.  Reading #3594 it seems like there is some support for GNU standard installation directories.  However,  CMAKE_INSTALL_SYSCONFDIR and some of the other values are not defined with default value