[2022-02-22 20:53] ericriff commented on #8145
I'm wondering if this could be picked up on Conan 2.0.
It is my understanding that there were limitations on 1.x that made it impossible now.

[2022-02-22 21:11] memsharded commented on #10636
I suggest to use ``test_requires`` for catch2, as it is different from a ``tool_requires`` (cmake, toolchains, etc)

I think this can be an effect of the extension that is able to pull dynamically the .props with the properties. The extension only works as a consumer, and from the IDE, but it will not work for creating packages. The .props need to be actually added to the .vcproj files in order to

[2022-02-22 22:32] Cyriuz commented on #10332
I'm in the same boat as you trying to cross compile to ios. Did you make any more progress? I've tried basically all the above things and the biggest issue seems to be how options are propagated as you say, but also the fact that the host built tools needs to be part of the package as they are also needed in the packages that depend on qt. Not sure if that is event possible to achieve with tool re

[2022-02-23 06:48] Cyriuz commented on #7120
Qt6 is another use case where it is kind of required to bundle both host and build binaries in the cross built package since all the users of Qt also needs its host binaries to be able to cross build. Qt5 actually seems to have done this internally which worked out fine.

I tried putting Qt itself as a build requirement, as in #10332 and #5018 but it becomes extremely messy which options are appli

[2022-02-23 08:08] iiknd commented on #10332
Hi @Cyriuz,

we are developing support in the Qt build system so that this use case would be possible in the future (Conan V2?).
For the modularized approach (https://wiki.qt.io/Conan_package_manager_and_Qt, https://www.qt.io/blog/installing-qt-via-conan-package-manager) we've added QT_ADDITIONAL_PACKAGES_PREFIX_PATH and QT_ADDITIONAL_HOST_PACKAGES_PREFIX_PATH but some additional works are still n

[2022-02-23 08:08] SSE4 opened #10639 "[feature] Autotools + PkgConfigDeps - a canonical way to set PKG_CONFIG_PATH?"
from https://github.com/conan-io/conan-center-index/pull/9488

if I use Autotools in conjunction with PkgConfigDeps, who is responsible to set PKG_CONFIG_PATH?
right now I had to add:
[code]
which is kinda ugly
if it doesn't make sense to fill it out of the box, it's probably worth to at least document, as in reality, almost every autotools-based recipe discover its dependencies via `pkg-config`.

[2022-02-23 08:10] #10634 closed, assigned to memsharded

[2022-02-23 08:41] lasote commented on #10393
Related with #10430
It might be necessary to adjust in AutotoolsToolchain (apart from the prefix that should be always set) the "lib" and probably "bin" (to avoid sbin) prefixes.

[2022-02-23 08:44] lasote commented on #10430
Looks necessary to adjust in AutotoolsToolchain always the "prefix" and probably also the "lib" to avoid "lib64" and "bin" to avoid "sbin", and of course the "datarootdir" to "res" or "share".
In the cppinfo model, only one of "res"/"share" should be kept.

Related https://github.com/conan-io/conan/issues/10393

[2022-02-23 08:50] Cyriuz commented on #10332
Thanks for the reply! I think maybe I'm having some other issues with that where options from the main conanfile gets propagated to the build req, I will experiment a bit more. Just a question for that case, does the Qt build install the tools from the build req, or do you have to also add the same build req to your own conanfile? I tried doing the latter and that causes qt to build 3 times since

[2022-02-23 09:06] SSE4 opened #10640 "[bug] AutotoolsToolchain regression in 1.45"
from https://github.com/conan-io/conan-center-index/pull/9488
running builds in 1.44.1 vs 1.45.0 leads to different results, 1.44.1 builds successfully, and 1.45.0 fails.

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 16.04.7 LTS (docker images `conanio/gcc5:1.44.1` and `conanio/gcc5:1.45.0`)
  * Compiler+version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04

[2022-02-23 09:26] memsharded commented on #10639
Lets make it part of AutotoolsToolchain, indeed, it should work out of the box:

- Add the ``generators_folder`` to ``AutotoolsToolchain`` environment
- PkgConfigDeps and AutotoolsDeps are most likely mutually exclusive, I don't think they should be mixed

[2022-02-23 09:33] memsharded commented on #10640
Quick thing: The ``AutotoolsToolchain`` shouldn't be adding ``-I/home/conan/.conan/data/zstd/1.5.2/_/_/package/ff7e1eda45846fc95249ac3e0c50da0e296272b3/include``, if that was happening in 1.44. This include path should come from ``AutotoolsDeps`` or ``PkgConfigDeps``.

[2022-02-23 09:43] SSE4 commented on #10640
yes, it's coming from `PkgConfigDeps` indeed.
the thing I have faced trying it, is that `PkgConfigDeps` was broken in 1.44, e.g. generating files referencing themselves:
[code]
(seems to be an issue https://github.com/conan-io/conan/issues/10341)
once it was fixed in 1.45, it caused a bad command line:
[code]
NOTICE : `-F -F -F -F -F -F -F -F -F   -Wl,-soname -Wl,libkmod.so.2`
it seems like that a

[2022-02-23 10:09] Cyriuz commented on #1411
I ran into a problem with this when building with host and build profiles. The `build_requires_options` seems to be initialized with the collected options from the host graph which means that options that are removed based on the build environment will still exist and cause `option 'x' doesn't exist`. The example for my case being `libpng/1.6.37: option 'neon' doesn't exist`

Is this just a bug or

[2022-02-23 11:27] iiknd commented on #10332
We have worked on the --generator=virtualenv so far. So each Qt .git repository has one or more conanfile.py to produce the matching Conan package(s). After the "conan install" you can activate the virtualenv and then build your own app/project.

What I tried with --profile:build=linux-desktop --profile:host=android (for example) I tested with qtbase only so far. That conanfile.py had the snippet

[2022-02-23 13:39] lasote commented on #10374
Hi, I reopen this issue because I think that the default folder to contain the patch files shouldn't default to `self.source_folder`. @memsharded is working on the management of the source for 2.0 and we talked about introducing a `self.export_sources_folder` that would be a better default. The last changes introduced by @memsharded are in the direction of not copying the export_sources to the "se

[2022-02-23 13:48] lasote opened #10643 "[feature] [2.0] exports_sources management"
Currently, by default, in the cache, we are copying the `source folder` to the `build folder` unless the `no_copy_source=True`, but _always_, the `self.source_folder` and `self.build_folder` points to the right location.

It might be worth it to explore if the `exports_sources` could have a similar mechanism. Maybe, by default they could be copied to the `base source folder` but unless `self.no_co

[2022-02-23 13:49] lasote commented on #10374
Related: https://github.com/conan-io/conan/issues/10643

[2022-02-23 14:25] anderson-dev commented on #10636
Thanks for your suggestions.
I've avoided those generators specifically because they are marked with "experimental" warnings. As I'm depending on conan for implementation of a CI system for my group I'm trying to stay with stable, official api. Also, my coworkers are not great with command-line so they are partial toward using the VS extension. However, it looks like I'm going to have to transitio

[2022-02-23 14:34] anderson-dev commented on #10636
I've decided to try and transition our packages to using `MSBuildToolchain` in order to avoid this on-demand build install folder mismatch issue. So far, when specifying `MSBuildToolchain` as the generator, it creates the conantoolchain.props and requisite conantoolchain_$(config)_$(arch).props file. However, I would expect to see libpaths etc to my dependencies but it appears to be blank:

conanf

[2022-02-23 14:57] lasote opened #10645 "[feature] [2.0] predefined layouts when playing locally"
- When you work, let's say with CMake, with conan local commands and/or building locally with the build system, if you have a source() method to retrieve the external sources, (e.g conan-center) you may want to adjust the layout as:

[code]

The `self.folders.source = "src"` is because you don't want to end up with a bunch of cloned/unzipped files at the root directory of your package.

- It happe

[2022-02-23 15:40] eliasreid opened #10646 "[question] How to tell "conan source" what version I want"
Is there a way to pass the package version to `conan source` command? https://docs.conan.io/en/latest/reference/commands/development/source.html

For example, if I want to download the sources for PackageA, I would expect an option similar to:
`conan source --source-folder=/tmp/PackageA-src/ . --version=1.0.0`

Is there a way to do this or step that I am missing?

- [x] I've read the [CONTRIBUTING

[2022-02-23 15:51] anderson-dev commented on #10636
`MSBuildDeps` seems to be work, but I like the less cluttered `MSBuildToolchain`. Any idea why it doesn't work as expected?

[2022-02-23 16:13] memsharded commented on #10636
``MSBuildToolchain`` purpose is just to map the current package settings to MSBuild. It is very unrelated to dependencies.
``MSBuildDeps`` is the one in charge of managing dependencies information.

They have different purposes and goals, very orthogonal. They are separated to allow the necessary flexibility that many users neeed.

[2022-02-23 16:43] KerstinKeller opened #10647 "[bug] Incorrect version in lockfile when deduced from other lockfile on package with non Sermver Versions"
I am having two conanfiles, and i want to derive a lockfile for `OtherApp` from the lockfile of `App`.

[code]

[code]

`App/1.0.0@` is in the cache, the `conanfile.py` for `OtherApp` is in my local folder.

[code]

## The bug:
`app.lock` contains `openssl/1.1.1i@` (correct)
`otherapp.lock` contains `openssl/1.1.1@` (incorrect, the `i`postfix is missing)

## What i expect
Both lockfiles contain `o

[2022-02-23 16:45] anderson-dev commented on #10636
I'm still getting a link error with Catch2WithMain.lib after converting to `MSBuildDeps`

1. Changed generator to "MSBuildDeps" in `conanfile.py` for `Project A`
1. `conan install .`
13. Added `conandeps.props` to all projects and their configurations in sln
1. `conan build .`
1. built successfully
1. unit tests ran successfully
1. `conan export-pkg . $(PACKAGE_NAME)/$(PACKAGE_VERSION)@${PACKAGE_U

[2022-02-23 17:58] KerstinKeller opened #10648 "[question] Conan 1.45.0 does not add root folders to `CMAKE_PREFIX_PATH`"
I just read the following in the documentation for `CMakeToolchain`:

I am running conan 1.45.0, and this behavior inteferes highly with the possibility to locate `<deps>Config.cmake` files.
CMake has the following behavior:
`Find<Dep>.cmake` are located in `CMAKE_MODULE_PATH`, while `<Dep>Config.cmake` files are searched for in certain subfolders of `CMAKE_PREFIX_PATH`.

I am not sure, if the pro

[2022-02-23 18:06] memsharded commented on #10648
I think the intention is that this is addressed by explicitly defining ``self.cpp_info.builddirs = ["."]`` in the recipes, because the problem was adding always the root folder. But I am not fully sure, don't recall the details, better ask for feedback to @lasote @SpaceIm

[2022-02-23 19:30] SpaceIm commented on #10648
Yes, since https://github.com/conan-io/conan/pull/10186 root package folder of requirements is excluded from `CMAKE_PREFIX_PATH` in toolchain file generated by `CMakeToolchain`, because it would break discovery of programs with `find_program()` when a recipe having this program is in requirements and build requirements.
It comes from:
-  the fact that, unfortunately, paths in `CMAKE_PREFIX_PATH` h

[2022-02-23 21:46] sourcedelica opened #10649 "[bug] Cache files deleted when running conan info --paths on Windows"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.45.0
  * Python version: 3.7.8

### Steps to reproduce (Include if Applicable)

1. Delete Conan cache
2. Run `conan install ..` in the build directory to populate the cache for that project
3. Run `conan info . --paths`
4. Try to generate CMake or bui

[2022-02-23 21:55] KerstinKeller commented on #10648
Ok, so I guess your concern is about packages e.g. like protobuf, which package protoc, but of course the build system protoc (as then required as build_requirement) needs to be found by a `find_program` call.

Cross compile scenarios are hardly ever easy.
But with that in mind, is it safe to say that that `find_program` calls of a consumer should only find programs located in root folders of `bui

[2022-02-23 22:45] SpaceIm commented on #10648
standard compilation:
If an executable is both in requirements & build_requirements, `find_program()` would find executable from requirements, and it may break users expectations. Specifically if user expects to inject env vars from build requires with `VirtualBuildEnv`, or if executable in requirements depends on shared libs and executable in build requirements does not, or if version is differen

[2022-02-23 23:04] memsharded commented on #10648
There are several situations where build==host will not work:

- The version of the build_requirement is different to the requirement one. This is a real possibility, even if we don't love it and think it shouldn't happen, for sure there will be users out there doing this.
- The variant of the build_requirement is different than the requirement one. Like the build one could be a Release, linked st

[2022-02-23 23:23] memsharded commented on #10649
I have been having a look to this issue.

Without fully being able to reproduce yet, I believe that this is an interaction between the ``info --paths`` and the ``short_paths`` feature. Can you verify that only happens for packages that have short_paths, but not for packages in the regular cache?
Apparently, it should only happen if the ``conan info --paths`` is executed before an actual install of

[2022-02-23 23:25] memsharded commented on #10646
Hi @eliasreid

No, this is not possible at the moment. It is a known limitation of Conan 1.X local flow. The version should be defined in the ``conanfile.py``.

This is being fixed in 2.0, see recent https://github.com/conan-io/conan/pull/10638, adding the ``--version`` argument.

[2022-02-23 23:35] memsharded commented on #10636
A couple of quick questions/hints:

- When using the new tools, please use the ``from conan.tools.microsoft import MSBuild``, not the legacy one. All the new integrations are always imported ``from conan.tools.xxxx`` (note the singular). Also possible to do ``from conan import ConanFile``.
- Why ``conan install . --build missing -s build_type=Debug`` is actually building something? You only export

[2022-02-24 00:40] sourcedelica commented on #10649
I forgot to mention, it works fine on Linux.

We have `user_home_short = None` set in `conan.conf`.

To replicate the problem I do:
1. Delete Conan cache
2. Run `conan install ..` in the build directory to populate the cache for that project
3. Run `conan info . --paths` via the script above.

So we are running `conan install` (which installs the packages correctly), then `conan info --paths` (whi

[2022-02-24 00:50] sourcedelica commented on #10649
[code]

[2022-02-24 03:42] SSE4 opened #10650 "[feature] AutotoolsToolchain : reconsider default_configure_install_args default to True?"
from https://github.com/conan-io/conan-center-index/pull/9488

without `default_configure_install_args = True`, Autotools will try to install into `/usr`, and will eventually fails in most of the cases (as it requires root access). or if it doesn't fail, it will pollute the system (potentially, overriding system packages?).
I think, practically, every actual recipe will have to add `default_config

[2022-02-24 04:13] SSE4 opened #10651 "[bug] PkgConfigDeps adds framework flags on Linux"
from https://github.com/conan-io/conan-center-index/pull/9488/

as on 1.44.1 (and 1.45.0), `PkgConfigDeps` adds Framework flags on Linux, which doesn't make much sense (as it's apple's thing).

from `config.status`:
[code]
NOTICE : `-F Frameworks`
(especially, it's weird in `libcrypto_LIBS`)

### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+ve

[2022-02-24 07:41] lasote commented on #10648
@SpaceIm is right. Conan 1.X, the CMakeToolchain is explicitly removing the root package folders, even if you adjust the "." folder. So there is no other choice than re-packaging these files in another folder and declaring the `cpp_info.builddirs` accordingly.
At Conan 2.0 we control this by excluding the "." as the default of `self.cpp_info.builddirs`.  So in 2.0 you might recover (at your own ri

[2022-02-24 08:19] memsharded commented on #10649
This is a strong indicator that the problem is indeed due to ``short_paths``. Even if the graph for protoxxx doesn't show ``short_paths`` the folder are still showing a ``.conan_link`` which is an artifact of the ``short_paths`` feature.

[2022-02-24 08:20] SSE4 commented on #10651
just in case, to compare
old (pkg_config):
[code]

new (PkgConfigDeps):
[code]

[2022-02-24 09:17] lasote commented on #10650
Related https://github.com/conan-io/conan/issues/10430

I think at least it should adjust the ``--prefix``, about the rest of variables, probably too: https://github.com/conan-io/conan/issues/10430 and https://github.com/conan-io/conan/issues/10393

[2022-02-24 09:54] lasote opened #10652 "[bug] conanfile.package_folder should be available in consumer too"
When using new toolchains, some of them require to know the package folder even when locally we run "conan install .".
In that cases, the self.package_folder should be set to the "output folder".

To verify if this is also 1.X (I assume it is), but it is indeed a 2.X issue (move the milestone accordingly)

[2022-02-24 11:12] SeanSnyders commented on #10565
As I noted in a previous comment regarding a python module importer 'generator', I have implemented a workaround by setting python module paths via the `user_info` attribute in the `package_info()` method of my recipes that export reusable python modules.
I then use normal `build_requires` to resolve my dependencies, and thus are able to import modules from my dependencies where the recipes have a

[2022-02-24 12:18] alex-700 commented on #10591
@memsharded, @lasote, please, let me know your thoughts about the bug.

[2022-02-24 12:35] memsharded commented on #10647
Hi @KerstinKeller

I think this is intrinsic to the way lockfiles are extended in Conan 1.X. When you are creating one lockfile passing an initial lockfile as argument, such lockfile should belong to the dependency graph.
You cannot apply the ``App`` lockfile to something that doesn't depend on ``App``. It will be simply disregarded. The locked ``openssl/1.1.1i`` will only be used when ``App`` is

[2022-02-24 13:00] KerstinKeller commented on #10648
I totally understand your concerns. You strive for the behavior that CMake finds programs in `build_requires` first, while libraries are found in `requires`.
I feel like the approach you're now following is a best effort to achieve this behavior.

However we're coming from a `cmake_path` generator use, and want to move to `CMakeToolchain` without `CMakeDeps`.
Packages either provide their regular

[2022-02-24 13:24] #10629 closed, assigned to franramirez688

[2022-02-24 13:31] memsharded commented on #10451
Implemented by https://github.com/conan-io/conan/pull/10537

[2022-02-24 13:31] #10451 closed, assigned to franramirez688

[2022-02-24 13:36] codedump opened #10657 "[bug] conan_server v1/v2 confusion"
Hello everyone,

I think this is a bug -- at the very least one in the documentation if nothing else. If I'mjust being clumsy and/or missing something important, please let me know so I can move/post this to "questions". (Also I'd really appreciate a hint on **what** I'm missing :-) )

I'm trying to configure and run a `conan_server`. Short symtoms, for every URL except for `/v1/ping` I receive a

[2022-02-24 13:36] memsharded commented on #10487
This seems duplicated with: https://github.com/conan-io/conan/issues/10181

And trying to be addressed in https://github.com/conan-io/conan/pull/10497. However that PR is still red, this seems it is not an easy feature.

I think we can close this one as duplicated, and follow on https://github.com/conan-io/conan/issues/10181

[2022-02-24 13:36] #10487 closed, assigned to nobody

[2022-02-24 13:36] KerstinKeller commented on #10647
@memsharded, your statement is really interesting, because it is not the behavior I am seeing.
All other dependencies are taken from the `app.lock`, and not freely from the cache, except for the `openssl` case (with non-semver versions - though I am not sure if it is taken freely, or just the `i` is dropped).

E.g. `App` requires `protobuf/3.11.4@` and `OtherApp` requires  `protobuf/[*]@` then `ot

[2022-02-24 14:12] memsharded commented on #10657
I haven't tried it, but maybe your ``disk_storage_path: /home/jinkies/.conan_server//data`` with the double slash is the problem here?

[2022-02-24 14:53] codedump commented on #10657
I've just tried to change that -- same result.

But in any case: `/v2/conans/search` behaves as it should, with or without the double `//`.

What also makes me wonder is the server's error message:

[code]

Note that the server recognizes that the "requested URL" was `/v1/conans/search`, but fails for `/conans/search`. It sounds to me like some internal URL mangling of the Conan Server application

[2022-02-24 14:58] memsharded commented on #10657
Yes, v2 is the future. It is enabled with ``conan config set general.revisions_enabled=True``. It will become the only api in Conan 2.0 (which is already in alpha)

[2022-02-24 14:59] memsharded commented on #10657
(Also, if you are struggling with the conan_server, until we can have a look, you might try the free ArtifactoryCE, you can use it for free, even for private packages, and it contains a bunch of interesting things like a Web UI, better permissions, it scales better...)

[2022-02-24 15:10] codedump commented on #10657
Ok, so this apparently at least makes the server responsive:
[code]

Server log (apparently the ping is still requested via `v1`, but the search is done via `v2` and it behaves as it should):
[code]

As to the ArtifactoryCE: I've briefly considered that, but I'm not setting this up for me personally, I'm doing this for corporate use (a small-ish development team). We already have the Nexus artifac

[2022-02-24 15:18] codedump commented on #10657
...aaand I'm back, seems like `v2` is a dead end for now:
[code]

Apparently `general.revisions_enabled=True` does not equal `v2`, it's a weird mix of `v1` and `v2`, and the v1 part always fails except for `ping`.

[2022-02-24 15:41] scddev opened #10658 "[bug] temporary directories not removed"
* Conan version: 1.45.0

https://github.com/conan-io/conan/blob/1.45.0/conans/client/conf/compiler_id.py#L186
https://github.com/conan-io/conan/blob/1.45.0/conans/util/runners.py#L79

Both methods just create the directory but do not cleanup afterwards.

This seems to have been added between 1.44.1 and 1.45.0.

Maybe replace with `with tempfile.TemporaryDirectory() as ...`.

[2022-02-24 20:26] NoWiseMan opened #10660 "[question] Tagging packages from beta versions of the compiler"
Currently we build most of our libraries using Conan on a Jenkins ci server. We build for all the platforms we support using different compilers and push them to Artifactory. Any changes we make to our Conan recipes are pushed to a test channel. When we merge those changes into the main channel, we rebuild the libraries and push them into the stable channel. So far, so good, everything is working

[2022-02-24 20:53] #10646 closed, assigned to nobody

[2022-02-25 07:20] #10652 closed, assigned to lasote

[2022-02-25 07:28] MTomBosch opened #10661 "Cannot specify dependency with revisions and pkg id in recipe"
### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version: 1.40
  * Revisions are disabled
  * Python version:

### Steps to reproduce (Include if Applicable)
Create a recipe.
Add to the requires function dependencies in this format: lib/1.0@conan/stable#RREV:PACKAGE_ID#PREV where the revision is 0 for the moment. Revisions w

[2022-02-25 08:54] lasote commented on #10657
After a lot of debugging I finally realized what is going on, [here](https://gitlab.com/codedump2/conansrv-image/-/blob/master/Dockerfile) you are installing the pip package "conan_server", which is the server for the `conan v2` version (still alpha). The 1.X conan server comes with the "conan" pip package. Just change to "pip install conan" and it should work.

Please, confirm that it is working

[2022-02-25 09:06] lasote commented on #10660
For these kinds of situations, we recommend using different Artifactory repositories and promoting packages between them when ready. You would need a (test, beta...) repositories, then the "user/channel" could be dropped. Could that help? You could use also lock files to add extra guarantees of the packages being used.

[2022-02-25 09:10] lasote commented on #10661
You cannot specify a package reference as a requirement in a recipe. Only a recipe reference (with or without revision: `example/1.11@ci/baselines#0`). The package is calculated from the applied settings while installing.
If you need to freeze the binary package that is being using I recommend to take a look at the lockfiles: https://docs.conan.io/en/latest/versioning/lockfiles.html

[2022-02-25 11:13] codedump commented on #10657
@lasote

Yes, that works now.

Thank you very much for your friendly help! :-) Is there any way I can buy you a coffee?

Cheers

[2022-02-25 11:13] #10657 closed, assigned to lasote

[2022-02-25 11:14] lasote commented on #3853
Already done some time ago.

[2022-02-25 11:14] #3853 closed

[2022-02-25 15:34] Hopobcn commented on #10345
Sorry in my previous comment I had a bug in the reproduciton example. This should be good:

tool/conanfile.py
[code]

lib/conanfile.py
[code]
consumer/conanfile.txt
[code]

Reproduction script
[code]

Output:
[code]

And the lockfile contents looke like this:

base.lock
[code]

specific.lock
[code]
What is the reason why conan is not incorporating the build_requires into the build?

Unfortunately

[2022-02-25 15:52] NoWiseMan commented on #10660
Different Artifactory repositories within 1 server?

`You could use also lock files to add extra guarantees of the packages being used.`
I need to look into this .. thx for your feedback

[2022-02-25 17:33] #10658 closed, assigned to nobody

[2022-02-25 18:01] memsharded commented on #10658
Thanks for reporting! This was fixed in https://github.com/conan-io/conan/pull/10663, and will be in next 1.46

[2022-02-25 18:08] memsharded commented on #10660
Yes, this is a recommended good practice in general. For example in CI (https://docs.conan.io/en/latest/versioning/lockfiles/ci.html#repositories), you don't want to put packages that are being built in the main repo, because they might break something. So they are put in another "build" Artifactory repo, to reuse them during the build and testing. And only once everything is looking good, they ar

[2022-02-25 22:09] anderson-dev commented on #10636
converting `from conans import ConanFile, MSBuild, tools` to `from conan import ConanFile, tools` and `from conan.tools.microsoft import MSBuild` resulted in complaints about my passed "upgrade_project", "use_env", and "verbosity" args. After removing those settings, I received error: `'msbuild' is not recognized as an internal or external command,
operable program or batch file`. Reverted to orig

[2022-02-26 04:45] harsszegi opened #10667 "[question] Is there a way to control the size of Conan cache?"
Hi,
we bumped into the situation on our CI system that Conan's cache practically grows endlessly over time.
Is there a plan / way to "garbage collect" - via Conan itself (e.g. a command line extension to conan, or a separate python script packages into the Conan distribution, I don't know) - the cache? I mean like erase the oldest N entries to make sure that the cache's size doesn't go above X Gb?

[2022-02-26 14:19] SpaceIm opened #10668 "[question] Do SIP issues in Build helpers on macOS come from conan or not?"
In conan-center, a common issue on macOS is "all shared" build of autotools based recipes.

What happen:

- recipe uses `AutotoolsBuildEnvironment` helper since underlying build system is autotools
- recipe has dependencies with `shared` option
- a consumer build from source with `conan install <recipename/version>@ "*":shared=True -b`
- when `configure` script is executed, there are hard errors f

[2022-02-26 14:37] SpaceIm commented on #3476
This issue in conan hooks may be of interest for you: https://github.com/conan-io/hooks/issues/376

I'm currently fixing all conan-center recipes so that install_name of shared libs on macOS is `@rpath/<libfilename>`

[2022-02-26 15:09] klausholstjacobsen commented on #10613
I have created a demo consumer project to re-create the problem.
First build the required toolchain packages from here:
https://github.com/klausholstjacobsen/conan-packages

Then build the demo consumer project from here:
https://github.com/klausholstjacobsen/demo-project

The demo project file ./build-system/build-system.cmake contains the line below which will make the system fail:
[code]

If I

[2022-02-27 07:04] beatboxio opened #10669 "Conan is mistaken about my xcode version"
My conan install is failing reporting that my xcode version is not "xcode 12 or higher", but I'm using 13.

I'm using the following conanfile.txt:
[code]

When I run the conan install command, I get the following output:

[code]
I'm using the following versions:

[code]

I have looked at the recipe on the conan site: https://conan.io/center/sdl?tab=recipe&os=Macos

But I am not able to see how it'

[2022-02-27 07:35] czoido commented on #10669
Hi @beatboxio,
That is probably because you have the wrong `compiler.version` in your _default_ profile.
Do a `conan profile show default` and if you see that `compiler.version=12.0` is defined and update it to`13.0`. The file is usually in the _profiles_ folders of your Conan home (get the location with `conan config home`)

[2022-02-27 08:06] beatboxio commented on #10669
Yes it turns out my compiler.version=11.0

Thanks for that clue.

I have just tried changing it manually to 12.0 but it stopped conan install from working with a new error.

[code]
Changing it back to 11.0 reverts to the previous error.

Is there a more standard way to change the compiler version?  Some conan config command I should be using to update it?

[2022-02-27 08:16] czoido commented on #10669
You are getting that error because you are using bintray that was shut down some time ago, the official Conan remote is `https://center.conan.io` now. Please check: https://docs.conan.io/en/latest/faq/troubleshooting.html?highlight=bintray#error-httpsconnectionpool-host-conan-bintray-com-port-443

You can list your remotes with:
`conan remote list`
to add conancenter to your remotes:
`conan remote

[2022-02-27 08:29] beatboxio commented on #10669
OK thank you very much.  I removed that remote.  I had already added the new one.

I got some promising output that creating a new profile noticed the new clang version:

conan profile new default --detect --force
Found apple-clang 13.0

But I get a new error that seems like something is still trying to go to bintray_conan_repo

ERROR: Permission denied for user: 'None'. [Remote: bintray_conan_rep

[2022-02-27 08:36] czoido commented on #10669
Repos at `bintray.com` does not exist any more, do a `conan remote remove bintray_conan_repo`

[2022-02-27 08:44] beatboxio commented on #10669
Thank you for all the help.  It just worked.

In the end I could not even install boost because it said binaries don't exist.  Looking on the site, I saw that indeed boost was not built apparently for 13.0.

I manually changed my compiler to 12.0 in the file you showed me earlier and now SDL and SDL_TTF both seem to have installed fine!

Thank you again.

[2022-02-27 09:06] czoido commented on #10669
Glad it worked.
Conan center index does not have binaries for 13.0, you can always build locally using `conan install .... --build=missing` this will build all the libraries you don't have binaries for.

[2022-02-28 08:15] lasote commented on #10668
Hi, the new environment mechanism in develop2 should work just fine for these cases, because all the environment is wrapped in a "bat" or "sh" launcher, then the `self.run` command is composed like "conanrun.sh && command" so the SIP shouldn't affect.
The SIP issues come when calling an executable in a protected location of the operating system, like "bash" but if you activate the environment insi

[2022-02-28 08:48] derived-coder commented on #10615
@memsharded
Do you declare this as a bug to be fixed any time?

[2022-02-28 09:48] SpaceIm commented on #10668
Ok, I didn't look at those tests, but I would advice these ones for CMake & autotools:

* CMake:

  * Test 1 (VirtualBuildEnv + CMakeToolchain + CMake helper):

    * create a recipe A packaging a shared lib
    * create a recipe B packaging an executable depending on shared lib of recipe A (requirement).
    * create a  CMake based test package having recipe B in build_requirements, and using `ad

[2022-02-28 10:30] SSE4 opened #10670 "[feature] Meson + PkgConfigDeps - a canonical way to set PKG_CONFIG_PATH?"
essentially the same as #10639, but for `Meson`

right now I need to use something like:
[code]

I'd prefer if it worked out of the box

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-02-28 10:33] SSE4 opened #10671 "[feature] Meson : set wrap_mode = nofallback by default?"
[wrap](https://mesonbuild.com/Wrap-dependency-system-manual.html) downloads some packages from the outside during the build, with I think is not desirable in many cases, for source immutability, and to control dependencies (avoid ODR violation and so on).
right now, I have to add
[code]

I'd like it if it could be automatic, or maybe have some built-in way to control it.

- [ ] I've read the [CONT

[2022-02-28 12:00] czoido commented on #10667
Hi @harsszegi,

Yes, that's something we are discussing to include in Conan 2.X. some kind of  least-recently-used removal for Conan packages.  Also, that could be added as an extension with a custom command, or some similar mechanism.

[2022-02-28 13:19] harsszegi commented on #10667
Aok, thanks a lot for the info!

[2022-02-28 14:32] memsharded commented on #10670
This is already implemented in the ``MesonToolchain``:

[code]

And in the template
[code]

Is it that it is being applied in the wrong section, should it be in ``project options``?

[2022-02-28 14:33] memsharded commented on #10671
Sounds reasonable, lets change the default, and leave a configuration point open for changing it.

[2022-02-28 14:44] SSE4 commented on #10670
nope, it seems to be built-in:
https://mesonbuild.com/Machine-files.html#cross-and-native-file-reference
perhaps, it's not in 1.45, only in 1.46? I'll check it and let you know

[2022-02-28 14:51] memsharded commented on #10668
Some CMake (new toolchain) + shared can be found in:

- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/cmake/test_shared_cmake.py
- https://github.com/conan-io/conan/blob/develop/conans/test/functional/toolchains/cmake/test_v2_cmake_template.py

Those tests will do whatever the CMakeToolchain is doing by default, I think they are now not injecting any rpaths

[2022-02-28 15:23] SpaceIm commented on #10668
Ok thanks for the link. I think they don't test what I'm talking about.

For example I see:

[code]

So here you test what we are doing with `self.run("app", run_environment=True)` in conan v1. But I would like to know if we can inject env vars of VirtualBuildEnv and/or VirtualRunEnv in build helpers (and eventually to specific commands of build helpers), and it they survive to SIP.
Basically I ha

[2022-02-28 16:04] SSE4 opened #10674 "[bug] AutotoolsDeps : LIBS doesn't include system_libs"
from https://github.com/conan-io/conan-center-index/pull/9488
working on the recipe, I found that test package failed:
[code]
simple workaround in recipe fixes the issue:
[code]
I've compared the logs, and found, one that doesn't work:
[code]
one that works:
[code]

so, that's the essential difference?
taking a look at `config.status` I see that:
[code]
in other words, `LIBS` doesn't include `syst

[2022-02-28 16:05] prince-chrismc commented on #10668
@SpaceIm could you take a stab are writing a test to cover this use case you see?

I'd love to see it ❤️

[2022-02-28 16:08] memsharded commented on #10615
No, I don't think so. The revisions system is not designed to keep continuously playing without revisions. If you use revisions, you should keep using revisions, but not mix both things in the same server repository. As commented above, the upgrade is intended to be in one direction from "without revision" to "with revisions". If you need to keep uploading both with and without, use different repo

[2022-02-28 16:12] SSE4 commented on #10670
okay, sorry for the noise, it works as expected, it wasn't finding pkg-config files for a different reason (recipe didn't set `pkg_config_name` property).

[2022-02-28 16:12] #10670 closed, assigned to nobody

[2022-02-28 16:15] memsharded commented on #10523
This was fixed like the day after, in https://github.com/conan-io/docs/pull/2398, the live docs don't show that anymore, so I am closing this. Sorry for the trouble again and thanks!

[2022-02-28 16:15] #10523 closed, assigned to nobody

[2022-02-28 16:30] memsharded commented on #10190
I'd recommend to file a support ticket for JFrog Artifactory for this, it seems it is in the server side, nothing to do from the Conan client.

[2022-02-28 16:30] #10190 closed, assigned to tapia

[2022-02-28 16:36] memsharded commented on #9912
This will not fit in a 1.X scope, as https://github.com/conan-io/conan/pull/10046 has already been moved to 2.0-alpha, as its solution requires the new lockfiles. Moving it to 2.0 alpha stage

[2022-02-28 17:12] denjmpr opened #10676 "[bug] Cannot make work basic Bazel example on Windows 10 with Bazel 5"
Firstly, I want to thank you for providing basic support of Bazel, this is great news!

But I cannot make the bazel-example integration sample work - https://docs.conan.io/en/1.44/integrations/build_system/bazel.html .
Looks like some key information is missing for this page and probably BazelDeps generator doesn't provide right output for Bazel 5.

About missing parts:
1. I had to create 'conande

[2022-02-28 17:13] SpaceIm commented on #10668
Since I still don't understand how `VirtualBuildEnv` & `VirtualRunEnv` interact with new (or old) build helpers, I won't be able to write these tests. I don't even fully understand `layout()` and its scope/side effects in `source()`, `build()`, `package()` and `package_info()`, and interaction with tools like replace_in_file etc.

[2022-02-28 17:28] SpaceIm commented on #10430
I agree with @ericLemanissier, I don't understand why in the first place `res` has been chosen instead of `share`.

[2022-02-28 17:38] memsharded commented on #10499
Moving it to 2.0-alpha.5 scope, doing https://github.com/conan-io/conan/pull/10677 to discuss this change there.

[2022-02-28 17:45] memsharded commented on #10430
Because it was chosen like 6 years ago, and my bias as Windows developer put there ``res``. The ``cpp_info.resdirs`` is called ``resdirs`` no ``sharedirs`` for same reason. There is simply no good default for everyone. Windows devs will probably not love if we change the ``resdirs = ["share"]`` default.

[2022-02-28 18:07] wbehrens-on-gh opened #10678 "[question] Profile variables not expanding properly"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Profile:
[code]

I'm trying to cross compile some packages using a custom profile and toolchain but conan seems to be expanding the variables in the profile incorrectly as I get the error:
[code]

according to the [cross building page](https://docs.conan.io/en/latest/systems_cross_bui

[2022-02-28 18:13] memsharded commented on #10509
https://github.com/conan-io/conan/pull/10608 is adding new Apple SDK version information in default settings.

I am postponing this to next 1.47 release until https://github.com/conan-io/conan/pull/10608 is merged, because new Apple settings will also need to take new SDK versions into account.

In the meantime, users can add ``13.1`` to their settings.yml if they need to.

[2022-02-28 18:57] memsharded commented on #10674
You are right, this is a bug, needs to be fixed.

[2022-02-28 18:58] wbehrens-on-gh opened #10679 "[bug] conan not respecting compiler version"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: gcc 7
  * Conan version: 1.44.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Run with the profile settings:
[code]
and try to build libmount/2.36.2 (unsure if this occurs with other packages as I haven't been able to test)

### Logs (Executed c

[2022-02-28 19:07] michkrom opened #10680 "NDEBUG not set in multi-target when build in conan cache"
I have a single-target conan project that is consuming a multi-target conan component. I observe that NDEBUG is not set for component when the component is build as part of conan install of the consumer. The same is observed with conan test-package (a simple consumer test). The build is a RELEASE build just that NDEBUG is not set. However, the NDEBUG is set correctly when the subcomponent is build

[2022-02-28 19:24] memsharded commented on #10679
Conan ``profile`` is only a declaration of what compiler you are using. It will not configure your environment to use that compiler, if that is your intent (not fully clear what is happening). Is it that you have both gcc 9 in your environment (probably as default compiler), and also gcc 7 cross compiler installed? And it is using gcc 9 instead of the gcc 7 one?

[2022-02-28 19:30] memsharded commented on #10680
Hi @michkrom

The adding of flags to build systems is done via different generators, there is no single logic that manage that.
It is necessary to know which generators (``MSBuildToolchain``? ``MSBuildDeps``? assuming your are using MSBuild directly, or are you using other build system?) are being involved. A minimal reproducible case would be very helpful.

[2022-02-28 19:47] Bassem-Ramzy opened #10682 "[question] How to package only my DLL?"
Hi,
I have a project that builds a library using its own scripts (that are not conan) for Windows/Linux Release/Debug x86_64/x86 combinations.

I want to create a package using Conan that has a binary package for every settings of the library, with _only the library file_ in it. As the library is already built in the project build folder, I don't need it to be built by conan, and I don't want to e

[2022-02-28 20:38] michkrom commented on #10680
The conanfile.py of the component specifies `generators = cmake, cmake_multi, 'visual studio'` And indeed all are used during install.
Conan version 1.44.1
cmake version 3.20.3

[2022-02-28 21:43] memsharded commented on #10680
Those are 3 different generators, only 1 is used when building. We have different tests that uses ``#ifdef NDEBUG`` and they are working as expected, so if something is failing on your side, you should provide a reproducible case. A good idea is to start with some of the ``conan new`` predefined code. Or to put something small in a git repo or in a zip, and specify the steps to reproduce the case.

[2022-02-28 21:46] memsharded commented on #10682
Hi @Bassem-Ramzy

I think you are looking for the ``export-pkg`` functionality: https://docs.conan.io/en/latest/creating_packages/existing_binaries.html#packaging-pre-built-binaries

Recipe will contain the ``package()`` and ``package_info()`` methods, no need to provide sources, build or anything like that.
Note that the ``settings`` field is still necessary, that will allow to model the differen

[2022-02-28 22:26] memsharded commented on #10678
I think the issue is that you have 2 colliding vars:
[code]

You cannot use the second, as the textual replacement is replacing the ``$toolchain`` within ``$toolchain_path`` first, before the other (the full ``$toolchain_path``) is even checked.

I think this is intrinsic to this textual replacement paradigm, and the solution would be to use variables that avoid such collision, such ``$path_toolch

[2022-02-28 23:31] memsharded commented on #10676
Hi @denjmpr

Thanks for the detailed report.
I see https://github.com/bazelbuild/bazel/releases/tag/5.0.0 that the 5.0 release is very recent.

Regarding the escaping of strings, it seems https://github.com/conan-io/conan/pull/10581 is related, but it is still red. We would try to help there when possible to make it green.

Regarding some of the other issues:

For some reason that was hardcoded. B

[2022-03-01 05:25] SSE4 opened #10683 "[question] MesonToolchain + AutotoolsDeps - how to propagate an environment?"
in Meson world, most of the dependencies are found via pkg-config (*.pc files).
however, not all the libraries provide .pc files, and in these cases, dependencies found by other means (e.g. environment variables like `SDL2_CONFIG`/`FREETYPE_CONFIG`, or just library name is well known so it's directly linked via -`l`)
for these dependencies, it might use [find_library](https://mesonbuild.com/Refere

[2022-03-01 07:16] denjmpr commented on #10676
Hi @memsharded,

Yes, you are right, everything appears - sorry, I forgot about this message after resolving problem with boost 1.76.0.
Thank you for pointing it out.

[2022-03-01 07:25] Bassem-Ramzy commented on #10682
Yes, it works. Thanks a lot

[2022-03-01 07:25] #10682 closed, assigned to memsharded

[2022-03-01 07:43] NoWiseMan commented on #10660
Ok, good to know that you will go this way for 2.0. Thanks a lot, even if we have to make a lot of changes in our approach for that.

[2022-03-01 08:06] #9621 closed, assigned to uilianries

[2022-03-01 08:17] #10640 closed, assigned to lasote, franramirez688

[2022-03-01 08:17] #10651 closed, assigned to franramirez688

[2022-03-01 11:19] memsharded commented on #10191
Lets try to use jinja for global.conf.

[2022-03-01 14:38] franramirez688 commented on #10481
@mohabouje
Did this PR https://github.com/conan-io/conan/pull/10484 solve the issue? Asking to know if we can close it.

[2022-03-01 14:43] mohabouje commented on #10481
It works well for me, probably we are missing some corner cases but I haven't found any other so far

[2022-03-01 14:50] memsharded commented on #10131
As by the conversations above, we have changed substantially in Conan 1.46 how this works:

- We have added a new ``--output-folder`` argument that allows to define the base output folder (containing the build folder, and if defined by the ``layout()`` methd and ``cmake_layout()``,  other folders like the generators folder.
- The output folder can be located anywhere, can be an absolute path, not

[2022-03-01 14:50] #10131 closed, assigned to memsharded

[2022-03-01 14:55] #10674 closed, assigned to memsharded

[2022-03-01 15:31] sburton84 opened #10685 "[bug] Bazel generator does not put transitive dependencies in the 'deps' attribute"
When using Conan with Bazel the generated `BUILD` files do not include any of the dependency's transitive dependencies in the included `deps` attribute, so when building a binary depending on the dependency, the transitive dependencies are not linked in. In some cases this can be worked around by adding them as direct dependencies of the binary, but this does not work in all cases as it can cause

[2022-03-01 16:03] volviq opened #10688 "[bug] self.options.get_safe does not exist inside export() function"
The documentation says in https://docs.conan.io/en/latest/reference/conanfile/attributes.html:
"Values from options can be retrieved after they are assigned. For options that belong to the same recipe, the value can be retrieved in any method to run logic conditional to their values. "
Due to this description I would expect, the options can also be accessed inside the export() function.

### Envir

[2022-03-01 16:09] memsharded commented on #10688
Hi @volviq

This is not a bug in Conan, but expected. Instead it is a bug in the docs. The thing is that the ``export()`` method was added very recently, before those docs were written. The docs need to be updated to reflect that.

A couple of details about export:

- export flow cannot be conditioned on options, settings or other stuff. The exported thing should always be identical, in all platfo

[2022-03-01 17:32] gdray-dev opened #10690 "A require and build_require dependency must use the same build options?"
A single package listed as both a build and compile dependency has to use the same build options for creating both packages. These will not be the same package in a cross compile environment.

This issue seems like a defect although it may not be a serious one.   It does impact cross compile builds in the sense that it just might not be possible to build the host and target platform using the same

[2022-03-01 17:46] memsharded commented on #10690
At the moment I think the only possibility is trying to add the option to the profile (the build profile). You might be able to add the option even if you don't add the ``build_require`` in the profile like:

mybuild_profile
[code]
That will only apply to protobuf in the build context.

Conan 2.0 will have a mechanism to define options per dependency directly in recipes if desired, but this will n

[2022-03-01 18:15] gdray-dev commented on #10690
I was going to say that I hope 2.0 allows distinguishing between build use of a dependency and compile use of one with respect to options.  But I believe declaring the desired value of the option in the build profile appears to work well enough.

Putting the option setting in the build profile allowed me to change the version of the package used for building.  I could also specify either protobuf:

[2022-03-01 18:15] #10690 closed, assigned to nobody

[2022-03-01 19:35] michkrom commented on #10680
I think it's using just the text and cmake gens, according to output during in-cache build. However, the local build prints about text, cmake, cmake-multi and visual studio generators.
Also in conan code it looks like the NDEBUG is set by this (?):
https://github.com/conan-io/conan/blob/f230bf104842c160be6ea377497151fe1ea64c38/conans/client/build/visual_environment.py#L137

Unfortunately, this is

[2022-03-01 20:04] Hopobcn commented on #10540
Mmm, remember that this section is only present if `compiler` & `compiler_cpp` values are present in the `generic_system`.

Btw, how do you set the environment?

Tried packaging `llvm` and defining
[code]
in the package_info + `VirtualBuildEnv` in the generate() but doesn't seem to be working.

[2022-03-01 22:22] memsharded commented on #10690
Thanks for following up

Sure you used the ``-o:b protobuf:option=build_value -o:h protobuf:option=host_value``? syntax? It is necessary to specify the ``build`` in the command line too.

[2022-03-01 22:29] memsharded commented on #10680
It is totally possible that if ``cmake_multi`` is being used, it will not set the NDEBUG. As it is a multi-config generator, it will not handle things regarding Debug/Release, as it will only set common things to both configurations.

As a general rule of thumb, for build systems that explicitly define the configuration Debug/Release, Conan will not be setting NDEBUG (or any other config related f

[2022-03-01 22:34] gdray-dev commented on #10690
Oh no, you're right, I messed up and only used -o instead of -o:b so it was user error on my part in that test.  Thanks for pointing it out.

[2022-03-01 23:22] #9608 closed, assigned to czoido

[2022-03-01 23:23] memsharded commented on #9608
This has been implemented in https://github.com/conan-io/conan/pull/10608, will be released in 1.46. Feedback once released welcome

[2022-03-02 08:00] #10481 closed, assigned to nobody

[2022-03-02 09:00] #10645 closed, assigned to lasote

[2022-03-02 09:22] lasote opened #10691 "[bug] editables + layout broken"
Review the 4 tests skipped: `@pytest.mark.xfail(reason="Editable + layout are broken,`
The cause: The generators are accessing `dep.package_folder` for several reasons but they shouldn't because the paths in the cpp_info object are already absolute. At most `dep.package_folder` could be used to "extract" the common path to a variable but the generator has to check if `dep.package_folder` is None b

[2022-03-02 09:37] stigsand commented on #9962
I'm experimenting with the `CMakeToolchain` generator, and I experience the same problem as @mpusz (Conan version 1.45.0). I expected that the generated `conan_toolchain.cmake` toolchain file would set the C++ compiler (`CMAKE_CXX_COMPILER`) based on the profile compiler settings, but it does not. It _does_ translate many of my Conan profile settings into the toolchain file though, like C++ standa

[2022-03-02 10:06] #10191 closed, assigned to memsharded

[2022-03-02 10:11] franramirez688 commented on #10191
This issue was closed by #10687 and it'll be released in Conan 1.46.
Now, you'll be able to put the `MAX_CORES` in a Python-like format.

[code]

[2022-03-02 13:07] jwillikers commented on #9962
@stigsand You should be able to just set the `CC` and `CXX` environment variables to point to `clang-12` and `clang++-12` respectively either in your shell or in the `[env]` section of a profile, but if Conan isn't detecting a compiler at all that sounds like something weird is going on in your particular installation. I don't think I've run in to that before.

[2022-03-02 13:14] jwillikers commented on #10540
@Hopobcn Good point on `compiler` and `compiler_cpp`. For configuring the environment, I've found the `buildenv_info` and `runenv_info` don't work as I'd expect them to. I might not understand them fully yet, but I've had better luck setting `env_info`. Wish I could help more with that one, but I'm still trying to figure it out.

[2022-03-02 13:49] SSE4 commented on #10345
@Hopobcn as I understand, it includes build requires if you run `conan lock create --build ...`.
but it's not a silver bullet, and you may hit #10544 (as there could be same package in two context, which is legal, e.g. in case of `protobuf`)

[2022-03-02 13:52] SSE4 commented on #10544
to conclude, it's fine if `libtool` is used in both `requires` and `build_requires` simultaneously. and we have many more cases like that, most famous is probably `protobuf`. so it's not something we can apply workaround for, it deserves a proper fix in the client.

[2022-03-02 14:27] stigsand commented on #9962
Thank you, @jwillikers. As I understand it, it's outside the current scope of the `CMakeToolchain` generator to deduce/guess `CMAKE_CXX_COMPILER` based on the compiler settings during `conan install`.

[2022-03-02 15:18] Hopobcn commented on #10345
Yes maybe my example is not suitable to reproduce this bug. Because if you don't use `--build missing` maybe you're literally saying that you don't want to build them, therefore no build requires are present, and this ends up with `Build-require xxx cannot be found in lockfile`.

[2022-03-02 15:20] memsharded commented on #10430
New Autotools now use the defined ``cpp_info.resdirs`` as the default for autotools based install, implemented in https://github.com/conan-io/conan/pull/10672, will be in next 1.46

[2022-03-02 15:20] #10430 closed, assigned to lasote

[2022-03-02 15:21] memsharded commented on #10650
Changed to True in https://github.com/conan-io/conan/pull/10672, will be released in 1.46

[2022-03-02 15:21] #10650 closed, assigned to nobody

[2022-03-02 15:25] memsharded commented on #10393
https://github.com/conan-io/conan/pull/10672 is changing the default install folders, obtained from ``cpp_info`` information.
It is important that this is defined in the ``layout()`` method to be taken into account.

[2022-03-02 15:25] #10393 closed, assigned to memsharded

[2022-03-02 16:18] codedump opened #10698 "[question] Our Hero's perilous journey of installing a package from source"
Hello,

Installing a package from source into live production (e.g. from `~/package-src` to `/usr/local`) via Conan is a journey full of folklore, legends and perils ;-)

I'm fairly new to Conan and still trying out to figure the details. This is what I came up with so far, so I'm posting this here in the hope that it will be useful, and that, maybe, some poor soul will have mercy on this mere pea

[2022-03-02 16:23] JonathanGirardeau opened #10699 "[question] How to set sysroot with new CMake generators ?"
Hello,

I use CMAKE related variables to set sysroot in my custom profile:
[code]
But it seems it has no effect with new CMake generators (CMakeToolchain, etc), how I am supposed to set sysroot ?

[2022-03-02 16:32] memsharded commented on #10698
What you are exposing is mostly right. The key point in that journey is that Conan was born as a language (C/C++) package manager for developers and development. It was never intended to install or deploy things at the system level. With the time, it gained some features that can be used/abused for that, like the ``deploy()`` method, which was intended to collect things from the cache in a user fo

[2022-03-02 16:47] hanusek opened #10701 "[bug] Bzip2 - problem with cross compile"
Moved to https://github.com/conan-io/conan-center-index/issues/9572

[2022-03-02 16:48] codedump commented on #10698
Thanks for the clarification!

In particular this:

makes a lot of sense. It's easy to forget that conceptual background when you put your `conanfile.py` within your source tree.

Cheers.

[2022-03-02 16:48] #10698 closed, assigned to memsharded

[2022-03-02 16:49] memsharded commented on #10701
Hi @hanusek

You need to provide the command that you are using too. Are you using the build & host profiles, or just the host one?

Most likely this is a recipe issue, not a Conan issue, and should be moved to conan-center-index repo for ConanCenter recipes issues.

[2022-03-02 17:01] #10701 closed, assigned to nobody

[2022-03-02 17:38] #10691 closed, assigned to memsharded

[2022-03-02 19:56] anderson-dev commented on #10636
Is it necessary to specify every requires library in package_info()? or only those I build myself?

That is the only possibility that I can think of to explain why `conan build` works fine but I can't build from a published recipe.

[2022-03-02 21:51] memsharded commented on #10636
The ``package_info()`` of the projectA package is irrelevant here, as it is information to the consumers, and it is failing to build the package itself.

I haven't asked before, but I would guess that a regular ``conan create .`` for projectA also fails with the same link error, it should, as it would be equivalent to a ``conan export`` + ``conan install projectA/version@ --build=projectA``

[2022-03-03 05:29] SSE4 opened #10704 "[bug] conan info returns Package_ID_unknown for some profiles"
from https://github.com/conan-io/conan-center-index/pull/9565

### Environment Details (include every applicable attribute)
  * Operating System+version: `Ubuntu 19.10` (docker image `conanio/gcc9:1.44.1` or `conanio/gcc9:1.45.0`)
  * Compiler+version: `gcc (Ubuntu 9.2.1-9ubuntu2) 9.2.1 20191008`
  * Conan version: `Conan version 1.44.1` or `Conan version 1.45.0`
  * Python version: `Python 3.7.5`

[2022-03-03 06:07] SSE4 commented on #10704
it is returned from:
https://github.com/conan-io/conan/blob/1.45.0/conans/model/info.py#L554
because `require.sha` is `None`.
returned earlier from:
https://github.com/conan-io/conan/blob/1.45.0/conans/model/info.py#L224
seems llike data is missing for `rapidjson/1.1.0#0:5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9`
which is returned from:
https://github.com/conan-io/conan/blob/1.45.0/conans/model/inf

[2022-03-03 06:33] SSE4 commented on #10704
for the record, lockfile created also looks corrupted:
[code]

[2022-03-03 07:50] hstejas opened #10705 "[bug] using conan.tools.meson generates cpp_std with two single quotes"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.10
  * Compiler+version: gcc (Ubuntu 11.2.0-7ubuntu2) 11.2.0
  * Conan version:   1.45.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
#### Library A uses meson
- Create a new project with `conan new abc/v1 --template=meson_lib`, (some changes were done to adapt to exist

[2022-03-03 08:11] dornbirndevelops commented on #10579
Hi @memsharded, I just tested the approach and discovered a unintentional behavior.

Let's consider two remotes:
- `internal` is supposed to have packages with package user and channel set (like this: `name/version@user/channel`).
- `opensource` is supposed to have packages without user and channel set (like this: `boost/1.78.0@`).

The package upload patterns I've chose for the respective remote:

[2022-03-03 09:26] memsharded commented on #10704
This is expected behavior when you use ``package_revision_mode()``, that you are using in your recipe, via the ``shared_library_package_id()`` helper.

Maybe the exact value of ``Package_ID_unknown`` is not documented, but the fact that the package_id of your package cannot be computed for that mode when the upstream package does not exist yet (and it doesn't exist, because you are doing a "build=

[2022-03-03 09:44] SSE4 commented on #10704
so, does it mean what package ID (in generic case) is different depending on `--build=xxx` arguments?
in other words, once I decide to rebuild some of my dependencies, my package ID could be different?
in this case, it's going to be chicken and egg problem for CI system - we need to known package IDs before the build, but it's only can be computed (in generic case) after the build?

[2022-03-03 10:18] AneGris opened #10708 "[question] static code analysis over multiple packages"
Hello,

tl;dr: our goal is to run static code analysis over all code used in our final application from multiple component packages, but we don't know how to get the code.

Some background: we are coming from an old monolithic build approach and are looking to migrate to a more modular approach using Conan and CMake. In the old world, we had a long list of files to feed into the compiler, a list o

[2022-03-03 10:29] memsharded commented on #10705
Fixed in https://github.com/conan-io/conan/pull/10707, it will be released in 1.46, today or tomorrow.
Thanks for reporting!

[2022-03-03 10:29] #10705 closed, assigned to memsharded

[2022-03-03 10:49] samuel-emrys opened #10709 "[bug] cmake error output not shown when using msys2/git bash"
I've noticed that what cmake writes stderr/stdout isn't captured and proxied by conan to stdout during the configure phase (i think), and so CMake errors aren't showing.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2022 (17)
  * Conan version: 1.45.0
  * Python version: 3.9.7
  * CMake version: 3.20.3

##

[2022-03-03 11:01] memsharded commented on #10709
Hi @samuel-emrys

The bzip2 recipe is still using the 1.X build system integrations, that we are not developing anymore, unless serious bugs, this would be more a UX thing.

If you could try and report it with the new tools, like ``conan new hello/0.1 --template=cmake_lib``, that would be great, we are willing to keep improving the UX of the new integrations.

[2022-03-03 11:55] memsharded commented on #10579
Hi @dornbirndevelops

You are right, I have tried this, and it doesn't work. It does work with references like ``pkg/version@``, that will not upload ``pkg/version@user/channel``, but when using patterns it matches the whole of it.

This would also likely affect to ``conan search <pattern>`` itself, it seems there is no way to search packages without user and channel only.

We need to have a look

[2022-03-03 11:57] memsharded commented on #10579
The test to reproduce:

[code]

[2022-03-03 12:11] maichmueller commented on #9695
I am getting this error again under a fresh Windows 10 install and Conan 1.45:

[code]
I am not getting this error with conan 1.45 on Ubuntu 20.04.

[2022-03-03 12:18] memsharded commented on #9695
Hi @maichmueller
This doesn't seem the original certificate issue, but that your Windows Python installation is missing ssl support. How did you install Conan in that machine? Is there something in the system level (VPN, proxies) that could be messing with it?

[2022-03-03 12:23] maichmueller commented on #9695
hi @memsharded ,
I installed conan via `pip install conan` into the base anaconda3 environment and the exectuable is then found in: C:/Users/useracc/anaconda3/Scripts/conan.exe.
There are no proxies or VPNs active.
Does an installation with pip not automatically install the necessary requirements?

[2022-03-03 12:26] memsharded commented on #9695
I suspect it might be something in your anaconda environment. ``pip`` install the necessary requirements (libraries from PyPI), but the SSL module is a core Python module, that comes with the Python distro. So looks like something of your anaconda environment, first thing I would try is to install it in a regular Python virtualenv, not anaconda, to check.

[2022-03-03 14:21] lasote opened #10711 "[feature] Move [rmdir] to conan.tools.files"
Currently, it is missing in the new namespace.

[2022-03-03 15:41] memsharded commented on #10708
Hi @AneGris

I think there are 2 different aspects necessary to address that use case:

The first aspect is where is the "original" source code, how it is used by Conan, how can it be retrieved by Conan. There are different ways to achieve this, like using ``exports_sources``, using ``scm``, packaging from another repo and use the ``source()`` method, etc. What approach are you following?

Is it n

[2022-03-03 16:38] Hopobcn commented on #10540
I found to love this:

[code]
I find it better than searching for a specific build dependency. But still has the downside of having to modify all consumer packages.

[2022-03-03 16:44] bosmacs commented on #6530
Is there a better workaround for this when using the `CMakeDeps` generator? I too am working with MKL, but using the approach laid out by @shellshocked2003 fails with packages that depend on MKL via `CMakeDeps` generator in 1.45; the link flags always end up on the link line before the libraries that depend on it, resulting in missing symbols.

[2022-03-03 19:30] anderson-dev commented on #10636
okay I got that project building; I was trying to be fancy by injecting the reference to `conandeps.props` using a `Directory.Build.props`. I confirmed it built successfully when exporting it to source but ultimately decided to manually add props file to each project and not have to export that file. So now calling `conan install` on Project B, Project A recipe is referenced, built on-the-fly acco

[2022-03-03 19:40] anderson-dev commented on #10636
However, after showing that all this now works to my devs, they complained about having all the generated files cluttering up the root directory of the repo rather than tucked into the sln output folder like before `x64/Debug/.conan`, back when I was following the Conan VS extension default install folder expectations.

It seems like we're back to the same scenario:
1. Generate `conandeps.props` e

[2022-03-03 23:19] memsharded commented on #10636
Hi @anderson-dev

I would recommend to have a look to the ``layout()`` functionality. There is already a ``vs_layout()`` experimental helper (see https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html, but it is not documented yet) that could help with MSBuild projects. It allows to define a cleaner local layout by defining for example the ``self.folders.generators`` location in the

[2022-03-04 07:03] SSE4 opened #10714 "[question] how to run `conan info` on test_package?"
for CI purpose, we need to collect all the `requiremenets` and `build_requirements`.
in reality, `test_package` may have it's own `requirements`/`build_requirements` that package itself doesn't have (that's a common practice in CCI).
but running `conan info` against `test_package` results in the following error:
[code]
I don't see any way to set `tested_reference_str`. is it possible to do it from

[2022-03-04 07:35] #10669 closed, assigned to nobody

[2022-03-04 08:40] memsharded opened #10715 "[feature] [develop2] Render all profiles with jinja, not requiring the .jinja extension"
The .jinja extension was necessary in 1.X to ensure that nothing was broken, but probably unnecessary for 2.0. To discuss.

[2022-03-04 09:00] memsharded commented on #10643
Conan 1.46 introduced ``def base_source_folder(self):`` that points to the base source folder for this purpose. For two reasons:

- The ``exports_sources_folder`` was already used, with different meaning (used in ``export_sources()`` method to point to the cache), and it was creating conflicts
- The ``exports_source_folder`` was a bit confusing in the local flow.

But I agree the above seems reaso

[2022-03-04 13:39] sniraimathi commented on #10661
But the document [here ](https://docs.conan.io/en/latest/versioning/revisions.html) says that we can specify the reference in the following way
<html><body>

lib/1.0@conan/stable#RREV:PACKAGE_ID#PREV | A binary package revision PREV belonging to the specific RREV
-- | --

</body>
</html>

[2022-03-04 13:55] memsharded commented on #10661
@sniraimathi that is something that is not clear in the docs. We will fix the docs to improve that.
But it is not possible to specify the ``package_id`` in recipes, as above said, it is a computed value from the profiles and other data, it doesn't make sense to specify it directly.

Moving this to the docs repo.

[2022-03-04 15:10] AneGris commented on #10708
Hi @memsharded,

thanks for your response!

For the moment we have put the recipes alongside the "original" source code and are using `exports_sources`. Our source code repo structure is still not final. I'm working under the assumption that it will challenging to setup the source code repo(s) to reflect whatever is in a specific variant/version of the final software.

While we will need to run an

[2022-03-04 18:02] ghost opened #10718 "[question] Conan Upload all binaries after build"
Hey,
i managed to set up conan to download and build all packages locally.
Now to save some time I'd like to upload all packages (recipe + binaries).

The upload should be done periodically on a Windows CI and Linux CI machine.

Now when calling
`conan upload "*" --all -r conan -c`

However I'm getting lot's of error messages

[code]

This is repeated for all packages.

So Ive got 2 questions:
1.

[2022-03-04 18:36] gouriano opened #10719 "[question] Problems with cross compilation on Macos"
Hello

I am trying to cross-compile [ncbi-cxx-toolkit-public/26.0.1](https://github.com/conan-io/conan-center-index/tree/master/recipes/ncbi-cxx-toolkit-public) for Macos/arm8 and get the following error:

    ERROR: libpng/1.6.37: option 'neon' doesn't exist
    Possible options are ['shared', 'fPIC', 'sse', 'api_prefix']

I have added dependency on itself (because I need a tool from the NCBI pac

[2022-03-05 02:24] samuel-emrys commented on #10709
Hi @memsharded,

Looks like this is still an issue in new recipes:

[code]

As you can see, the appropriate error message is not propagated through to the user

[2022-03-05 10:29] memsharded commented on #10709
Not sure what is happening. I am trying to reproduce, did the following:

- conan new hello/0.1 -m=cmake_lib
- Modify CMakeLists.txt, change hello.cpp=>hello2.cpp
- conan install .
- conan build .

[code]
Not sure what is the difference, maybe is the mingw terminal? Does it happen the same if you run it on a cmd terminal?

[2022-03-05 10:32] Bassem-Ramzy opened #10720 "[question] How to differentiate the command used to call `package()` method (`create`/`export-pkg`)?"
Based on answer of #10682

Is there any way for `package()` method to determine whether it's called from `conan create` or `conan export-pkg`?

I have a case where I seek to use _one recipe file_ to do two functions:
1. Build the code, and package both the source and the binaries. This is the case when called by `conan create`.
2. Only package the source and binaries _directly_ from the directory

[2022-03-05 10:41] memsharded commented on #10720
Hi @Bassem-Ramzy

Could you clarify? With the new layouts, the idea is that the same ``package()`` method is valid for both cases:
[code]

Note: The "host" context is Conan terminology is not the same as the "local" user folders, if that is what you meant.

[2022-03-05 10:45] samuel-emrys commented on #10709
Yep this is it. Idiosyncrasy of mingw/msys2/git bash - The appropriate error message is forwarded in both test cases that we've presented.

[2022-03-05 11:05] memsharded commented on #10709
I have tried in an msys2 terminal:
- Installed python, pip with pacman
- Installed Conan with pip
- Did the same as above

Still able to get the error msg:
[code]

[2022-03-05 11:10] memsharded commented on #10718
Hi @Ju1He1

This error is weird, I have seen it happening before when something is corrupted in the cache package storage.
One of the cases this can happen is if by accident the Conan cache is moved to the same location of the "short-paths" cache, that is ``C:/.conan`` folder in Windows.

Is this the case? does it happen in Windows only or in other systems?

[2022-03-05 12:23] samuel-emrys commented on #10709
Interesting. I've just experimented a little bit, and I have no idea how or why this would affect things, but I'm able to get the warnings to show up when I install conan in a local virtualenv. My system wide installation was installed using `pipx`, which installs applications into a virtualenv and then makes the application available on the user path to avoid issues associated with polluting the

[2022-03-05 12:48] stepniakadam opened #10722 "[question] Unable to tell conan that SSL validation is not required"
When I try install SDL package I get:

I tried adding SSL certificate of https://www.kernel.org/ to the file ~/.conan/cacert.pem. Used command:

`openssl s_client -showcerts -connect www.kernel.org:443 </dev/null | openssl x509 -text`

I have tried to add conan remotes with ssl_validate flag set to false by:
[code]
Is there anything I'm doing wrong or that's a bug that would have to be reported?

[2022-03-05 13:06] Bassem-Ramzy commented on #10720
You are right, by "host" I mean "local" user folders.

I actually want to support the case when I do **`conan export-pkg` only**, without calling neither `conan create` nor `conan build` previously. So, it exports the files from my local directory, that have been built using another tool.

As, when I do:
[code]
I get,
[code]
Which makes sense, since I haven't called neigther `create` nor `build`.

[2022-03-05 17:03] memsharded commented on #10709
You mean your msys2 installation? If I understood correctly, you are installing Conan inside the msys2 system, or are you using somehow a Windows native installation inside msys2? I could try to reproduce with pipx inside msys2

[2022-03-05 17:16] memsharded commented on #10720
This is indeed very doable, and the main use case of ``export-pkg``.

$ conan export-pkg .

This doesn't make much sense. The ``conan create`` builds the package in the cache directly, it is not necessary/doesn't make sense to do an ``export-pkg`` after a create. Did you mean a ``conan install`` + ``conan build`` + ``conan export-pkg``?

I am missing something here.

It is possible to encode the r

[2022-03-05 17:23] memsharded commented on #10722
Hi @adamstepniak41

A couple of clarifications:

- The conan remotes, that you manage with ``conan remote add`` are remotes of Conan packages, not general servers, but Conan servers
- The ``https://www.kernel.org`` is an external site, that contains the source code of libpcap library.
- The ConanCenter recipe for this library uses the sources in kernel.org to build from sources. You can find the d

[2022-03-05 21:39] mpusz opened #10723 "[feature] `validate()` should work for `conan install`"
`validate()` was advertised as a new solution that should replace configuration verification that was previously handled in the `configure()` method. However, it turns up that even though `configure()` properly triggers an error during `conan install`, `validate()` is not checked at all at this stage.

I personally think that such behavior is highly misleading and if possible `validate()` should b

[2022-03-06 00:25] samuel-emrys commented on #10709
My understanding is that one of the goals of msys2 is to create and use windows native binaries wherever possible (it deviates from the goals of cygwin in this way). This includes CPython, so whichever python interpreter is found on the path in either the windows native or msys2 environment is what's used first. In this case, it's the same interpreter (C:\git\usr\bin\python.exe in my set up), and

[2022-03-06 01:04] samuel-emrys commented on #10723
Duplicate of https://github.com/conan-io/conan/issues/10602 - looks like this is slated for 1.47.0

[2022-03-06 05:46] samuel-emrys commented on #8626
@thorntonryan how's this going? We're just approaching this problem now and it looks like any solution you may have here would be very useful to us.

[2022-03-06 08:12] dotChris90 opened #10724 "[question] Example for new CMakeDeps Generator with CMake Components"
Hello Conan team,

i just was looking into your new CmakeDeps generator, which is  - as far as i understand - the only generator which will survive for conan 2.0 (or at least will be the preferred way of doing things).

I like the new approach very much because now we no longer need to "inject" conan dependencies via a cmake file and so no longer touch existing projects. Great so far. ;)

But now

[2022-03-06 08:41] Bassem-Ramzy commented on #10720
Thanks James for the various solutions.
I will check my model accordingly.

[2022-03-06 08:41] #10720 closed, assigned to nobody

[2022-03-06 10:37] stepniakadam commented on #10722
Hi @memsharded

Thank you for your replay. Some more details are below:
[code]
Python was installed by apt package manager and it's version is:
[code]
Conan was installed by:
[code]

I was able to get the file from python with no issues by executing following python script:
[code]
No errors, no warnings reported. File was downloaded correctly.

Connection is not made trough any VPN or proxy. No ne

[2022-03-07 00:02] memsharded commented on #10720
Great, do not hesitate to re-open or submit a new issue if you have any further question deriving from those hints.

[2022-03-07 00:11] memsharded commented on #10724
Hi @dotChris90

I am not sure what you mean. The definitions of the components is aimed to be independent of the consumer generator used by consumer. So the package that is creating several libraries and want to define components will define in its ``package_info()`` some ``self.cpp_info.components["mycomponent"]....``. You can find many of these in the ``conan-center-index`` repository containing

[2022-03-07 00:37] memsharded commented on #10723
Thats right, lets continue on https://github.com/conan-io/conan/issues/10602

[2022-03-07 00:37] #10723 closed, assigned to nobody

[2022-03-07 00:38] memsharded commented on #10602
https://github.com/conan-io/conan/pull/10725 tries this, but sounds a bit risky for 1.X, we will analyze it.

[2022-03-07 07:44] SSE4 opened #10726 "[bug] self.copy : PermissionDenied copying symlinks on Windows"
from https://github.com/conan-io/conan-center-index/issues/9633

NOTE : it needs so called `Developer Mode` to be enabled as exaplined here: https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/, in order to get symbolic links creation available for non-admin

### Environment Details (include every applicable attribute)
  * Operating System+version: `Windows 10 21H1 19043.1526

[2022-03-07 11:25] memsharded commented on #10722
Weird, I have no idea what could be.
Just in case, I guess that you are not using any kind of virtualenv? Is it possible that you were using Conan and the ``requests`` snipped above in different venvs?

Also, I guess the same error keep happening? If you haven't tried since posting, could you please retry, just in case it was a temporary issue on their server?

[2022-03-07 11:29] memsharded commented on #10709
That could be related to the issue. Apparently when using msys2 specific packages and installation everything works well.

It might be worth testing the released Conan 2.0-alpha.4, some things were simplified around stdout/stderr, maybe it affects.

[2022-03-07 11:52] ghost commented on #10718
Hey James
Thx for your quick feedback.

To avoid any cache corruption issues i now did the following

clean local cache
full rebuild locally
call `conan upload "*" --all -r conan -c`

but now I'm getting this error for all packages in my local cache
[code]
I'm using the default cache location
C:/users/xxx/.conan

How can I investigate this problem further? Is there a way to get a more detailed err

[2022-03-07 12:11] klausholstjacobsen commented on #10613
Hello

It's just me talking to myself again. :-)
My most recent discovery is that the lockfiles work if i have uploaded all binary packages and not only recipes to my remote.

Maybe that is the way lockfiles are supposed to work? Maybe lockfiles were never meant to work when having to build packages locally.

Can somebody knowledgeable confirm?

Rgds
Klaus

[2022-03-07 12:56] memsharded commented on #10718
A few questions:

- Can you share your ``conan.conf``? Also if you have any other kind of configuration via env-vars or something, please share
- In which platforms does this happen? Only Windows, right? Do the uploads work in other platforms?
- Can you reproduce the error in different Windows machines, or is it just in one specific machine?
- What happens if you do: ``conan new hello/0.1 -m=cmake

[2022-03-07 13:17] dotChris90 commented on #10724
Hello,

In the conan-center the recipses always following the pattern
   self.cpp_info.components[conan_component].names["cmake_find_package"] = compname

So basically : mention the cmake_find_package generator - my question just was about "is this for the new CMakeDeps also required" like "component["abc"].names["CMakeDeps"] or no longer required?

But let me try it out again - i though before i

[2022-03-07 13:20] memsharded commented on #10724
Hi @dotChris90

I understand a bit better now.
I think this sections of the help might be useful:
- https://docs.conan.io/en/latest/conan_v2.html#new-properties-model-for-the-cpp-info-in-conan-2-0-generators
- https://docs.conan.io/en/latest/migrating_to_2.0/properties.html#properties-migration

The main point is that the modern way to define custom target names is the ``.set_property("cmake_targe

[2022-03-07 13:58] memsharded commented on #10726
What can Conan do here? If this mode needs to be enabled, then there is little we can do, right? Isn't it possible to tweak the Meson recipe so it doesn't require symlinks? Why the test cases would be relevant (``test cases\\frameworks\\35 boost symlinks\\boost\\include\\boost``, maybe the tests could be excluded?

[2022-03-07 14:04] SSE4 commented on #10726
I don't know, maybe nothing. maybe it should skip these broken symlinks, or maybe fix them.
meson is very first recipe where I have seen this issue. and luckily, they are not essential, and can be safely ignored/removed.
but if there are other packages that suffer from that issue, and they actually need these symlinks to work, it's definetely something to be addressed.

[2022-03-07 14:16] dotChris90 commented on #10724
hey cool exactly this i was asking myself.
And how in conan 2.0 it is planned to connect a library like let's say 'libabc.so" to a component?
Is there a set_property mechanism for this?

If it's under construction ^^ it's ok - i just saw there exist an alpha version of 2.0 and want to understand the 2.0 process and prefered way for package_info

[2022-03-07 15:16] memsharded commented on #10724
Is there a set_property mechanism for this?

No, that is part of the core definition:
[code]

The current "modern" mechanisms existing in latest 1.X will be good to migrate to 2.0.

[2022-03-07 16:04] thorntonryan commented on #8626
@samuel-emrys , Terribly, sorry for the delay.

I've got the internal approvals cleared on my end.

I had a bit of a window and lost it due to other work items taking priority.

We certainly need to revisit this in light of Conan 2.0 to see if/how it will be impacted. So this is a good reminder to revisit this subject and at least push what we have describing how to use it so that others can deter

[2022-03-07 20:17] dotChris90 commented on #10724
ok just last question :
I have created a new project with conan new and "-m cmake_lib" see https://github.com/dotChris90/CMakeDepsWithComponents/blob/main/conanfile.py

now i added a 2nd lib - so 2nd component in my cmake and added this new target to install area in CmakeLists.

then i did in conanfile

[code]

but i get in test_package

Library 'fgh' not found in package.  If 'fgh' is a system li

[2022-03-07 21:02] avetiso opened #10733 "[question] Why does the meson build helper still use arch_build?"
Conan version: 1.45.0.
OS: MacOS 12.2.1 ARM
Meson version: 0.61.2

If I've understood correctly, arch_build is not used in cross-compiling since 1.24.

Here's some output from attempts to cross compile a very simple base64 encoder/decoder (when cross compiling meson it runs the build twice, not quite sure why):

First build:
[code]

Second build:
[code]

Repro steps: kick off a cross-build using t

[2022-03-07 21:32] memsharded commented on #10733
Recipes must use the new integrations in https://docs.conan.io/en/latest/reference/conanfile/tools.html

The legacy integrations cannot remove support for ``arch_build``, because Conan has the committement to not breaking, code that was working in a previous release shouldn't break in a new release.

Also the best way to start trying the new integrations is with a template, like ``conan new hello/

[2022-03-07 21:43] memsharded commented on #10724
Hi @dotChris90

Yes, you are missing the directories. When defining components, there are no default includedirs, libdirs, etc, so they need to be declared:

[code]
With that I have been able to build your project (thanks very much for putting together the repo, that really helps to try things and understand what is failing).

[2022-03-07 22:04] avetiso commented on #10733
Does this there will not be a meson integration where cross compilation can be done using the 1.24+ method of doing it where arch_build is not present?

FWIW, I run into the same problem even with the templated meson_lib conanfile. One the second pass, there is no "arch", there is only "arch_build" and you run into this:

[code]

Pardon my cluelessness, I just don't see how I'm suppose to cross-co

[2022-03-07 22:52] memsharded commented on #10733
Not sure I follow. All the new integrations will not use ``arch_build`` at all, but they will use the build & host profiles (like ``--profile:build=mybuildprofile  --profile:host=myhostprofile``). You can completely drop the ``arch_build``, don't use it in recipes, don't define it in profiles, it shouldn't be used at all.

[2022-03-07 23:02] avetiso commented on #10733
Was just about to reply, but I chatted with an engineer here who set up a lot of our conan infra and he explained to me the source of my error. I appreciate your time! I'll close this out.

[2022-03-07 23:02] #10733 closed, assigned to memsharded

[2022-03-07 23:03] memsharded commented on #5693
Done, 2.0-alpha.4

[2022-03-07 23:03] #5693 closed

[2022-03-07 23:05] memsharded commented on #4038
Implemented and released in 2.0-alpha

[2022-03-07 23:05] #4038 closed

[2022-03-07 23:06] memsharded commented on #4577
imports() have been completely removed from 2.0, now they will be explicit copies, typically in ``generate()`` method

[2022-03-07 23:06] #4577 closed

[2022-03-07 23:08] memsharded commented on #1757
The whole terminal output has been changed, decoupled stdout for values, stderr for any other message and formatters to generate json or other formats. Already available in 2.0-alpha

[2022-03-07 23:08] #1757 closed

[2022-03-07 23:09] memsharded commented on #4334
AutoToolsEnvironment is removed in 2.0, after being supeseded by ``AutotoolsDeps`` and ``AutotoolsToolchain`` in Conan 1.X. ``prefix`` definition now should be correct, as defined in ``layout()`` method.

[2022-03-07 23:09] #4334 closed

[2022-03-07 23:13] memsharded commented on #3501
New integrations have now more configuration points with new ``conf`` system.
At this moment, completely swapping a complete build system integration with user code will not be possible, if users want that level of customization, they need to fork the recipe and use their own code (can be reused via ``python_requires``)

[2022-03-07 23:13] #3501 closed

[2022-03-07 23:16] memsharded commented on #9515
Packages with only user and no channel are now possible in the released 2.0-alpha.4, both creation and search work:
[code]

[2022-03-07 23:16] #9515 closed, assigned to nobody

[2022-03-07 23:17] memsharded commented on #4593
New ``self.dependencies`` model deprecates this one, completely removed in 2.0.

[2022-03-07 23:17] #4593 closed

[2022-03-07 23:18] memsharded commented on #4370
Conan remove command has been completely upgraded in 2.0 cli, together with all other commands.

[2022-03-07 23:18] #4370 closed

[2022-03-07 23:20] memsharded commented on #8858
We have implemented and released in 2.0-alpha the new "deployers", which fulfill exactly this requirement and provides the necessary user flexibility to cover different use cases. Documentation ongoing.

[2022-03-07 23:20] #8858 closed, assigned to memsharded

[2022-03-07 23:23] memsharded commented on #9419
New system-package-manager, that deprecates the previous one (removed in 2.0) uses the Conan ``conf`` mechanism: https://docs.conan.io/en/latest/reference/conanfile/tools/system/package_manager.html. Please update and report against the new approach if necessary.

[2022-03-07 23:23] #9419 closed, assigned to nobody

[2022-03-07 23:24] memsharded commented on #9805
We have taken ownership of version-ranges and implemented our own solution, covering more than 3 canonical major.minor.patch. This is solved and released in 2.0-alpha, please try it when possible and report if necessary.

[2022-03-07 23:24] #9805 closed, assigned to memsharded

[2022-03-07 23:26] #9189 closed, assigned to tapia, franramirez688

[2022-03-07 23:26] #9327 closed, assigned to franramirez688

[2022-03-07 23:29] memsharded commented on #8508
Conan 2.0:

- defaults to use --profile:build and -profile:host always (defaulted to "default" profile)
- The default profiles both for build and host can also be changed in ``conf``
- Profiles will not add a mechanism to default configuration/profile data

[2022-03-07 23:29] #8508 closed, assigned to memsharded

[2022-03-07 23:40] memsharded commented on #6903
We have decided the following for Conan 2.0:

- By default only the recipe and package revisions will be taken into account. If the revision is already in the server, nothing will be uploaded
- The revision is still computed as the hash of all the files contents (from the ``conanmanifest.txt``). Only the file contents is used here
- Other stat of files will not be used. Because it changes between

[2022-03-07 23:40] #6903 closed, assigned to nobody

[2022-03-08 01:42] SeanSnyders opened #10735 "[bug] Dependencies in recipe self.deps_cpp_info not available at generate() time"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.7
  * Compiler+version: n/a
  * Conan version: 1.45.0
  * Python version: 3.9

### Goal
Similar to issue comment https://github.com/conan-io/conan/issues/10304#issuecomment-1009722203 I also need the dependency information available at `generate()` time such that I can correctly initialise the `C

[2022-03-08 07:20] dotChris90 commented on #10724
@memsharded

thanks for your help here - yes it totally works now! awesome! It's so simple and logical if you know it ....
I though before that cmake_layout already handle this also for components because was mentioned here --> https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmake_layout.html?highlight=libdirs
But you are right - why it should? each component can have it's own sub

[2022-03-08 08:31] memsharded commented on #10724
Yeah, the thing is that the documentation at this stage is not great, it has accumulated some legacy over the years, and is mixing the legacy and the modern features. We are working hard for better docs in 2.0.

Yes, that is totally the design criteria why components don't default dirs, because it is likely/expected that they can have different dirs.

I'd say that we want to keep that template rel

[2022-03-08 08:33] memsharded commented on #10735
This is totally expected. The ``generate()`` will only support the new ``self.dependencies`` access to dependencies. The ``self.deps_cpp_info`` has already been removed in 2.0, as it has some problems, one of them is that it evaluates later in the process, and is way more limited than ``self.dependencies``

[2022-03-08 09:01] Bassem-Ramzy opened #10736 "[question] How to build & install a package with a requirement has binaries only with no source code?"
Hi,
I have three projects as following:
1. Open-source exe (myexe) that requires a library (lib1). Its package myexe/0.1 has source code exported.
2. Open-source library (lib1) that requires a library (lib2). Its lib1/0.1 package has source code exported.
3. _Closed-source_ library (lib2). Its package lib2/0.1 has _only_ lib2.lib file with no source code, created using `conan export-pkg . --build-

[2022-03-08 09:10] SeanSnyders commented on #10735
Ok, so how to obtain meta data (as given in my example in the original post) from dependencies that are now mandated to be set for generators like `CMakeToolchain` and `CMakeDeps` ?

[2022-03-08 09:15] memsharded commented on #10735
I am not sure what are you trying to accomplish with:

[code]
Why do you need to do that? Why not using the ``CMakeDeps`` generator? For most cases you wouldn't need to pass anything to ``CMakeToolchain``. The goal of ``CMakeToolchain`` is not to manage information of dependencies, that is the goal of ``CMakeDeps``. ``CMakeToolchain`` is mostly designed to map the current settings/options/project

[2022-03-08 09:47] SeanSnyders commented on #10735
I am using *experimental* `CMakeDeps` and `CMakeToolchain` to accomplish practical usage of Conan somewhere in no-mans land in-between legacy Conan 1 and new-and-unstable Conan 2.

I have in `CMakeLists.txt` the following (using `CMakeDeps` to generate me the Conan-CMake helper files for defining targets, etc):
[code]

Now due to circumstances somewhere via bugs in Conan 1.42 and where the target

[2022-03-08 09:50] memsharded commented on #10735
Understood. Then you might want to access things something like: ``self.dependencies["mydep"].cpp_info.components["mycomp"].get_property("cmake_target_name")``

[2022-03-08 09:56] memsharded commented on #10736
Hi @Bassem-Ramzy

I think you are looking for the ``build_policy = "never"``, which allows skipping the build of export-pkg created packages. Please have a look at https://docs.conan.io/en/latest/mastering/policies.html?highlight=build_policy and tell us if this is what you need. Thanks

[2022-03-08 10:29] ghost commented on #10718
Hey James,
thx for your feedback.
I did some tests. Linux (WSL2) showed the same problem.
This was quite confusing. After a while I checked our Nexus settings.
=>Turns out: Nexus hat a setting to forbid redeployment. After disabling this setting It worked

Thak you James again for your quick help

[2022-03-08 10:29] #10718 closed, assigned to nobody

[2022-03-08 10:38] memsharded commented on #10718
Great, happy that you found the root cause, maybe you want to report them (Nexus) to improve the error message when this happens, instead of the empty one, that would have helped I guess.

Thanks for following up and reporting the cause!

[2022-03-08 10:40] Bassem-Ramzy commented on #10736
Thanks James for your prompt reply, as always.

When adding:
[code]
I'm getting an errors that don't happen without having "never" set:
[code]
Full output:
[code]

Any precautions needed?

[2022-03-08 10:48] memsharded commented on #10736
Uhm, that seems some unexpected side effect of the previous steps before the ``conan export-pkg``. It seems a previous install is generating a lockfile that is being automatically used? It is a bit confusing, apparently ``conan export-pkg`` shouldn't be using the lockfile unless explicitly passed as argument with ``--lockfile=xxxx``

If you could try to reproduce, detailing the commands before the

[2022-03-08 11:13] Bassem-Ramzy commented on #10736
Well, I did the following:
[code]
It worked with the generated recipe.

Then updated the recipe to be:
[code]
But I got:
[code]

[2022-03-08 12:24] samuel-emrys opened #10737 "[bug] searching virtual repository does not search component local repository"
This is an issue where when a virtual repository contains both a remote repository and a local repository, only the remote repository will be searched when invoking `conan search`, despite the local repository containing non-default configured binaries that will install successfully.

### Environment Details (include every applicable attribute)
  * Operating System+version: Arch Linux
  * Compiler

[2022-03-08 12:33] memsharded commented on #10736
There are a couple of things that could be affecting:

- Don't modify the recipe and remove the ``layout()`` method, after it has already been used. The ``layout()`` method defines the location of things, you don't want to kind of use it for building, then remove it, results will  likely be inconsistent.
- For the local flow, you should be calling ``conan install`` first. Then, pass the generated

[2022-03-08 12:55] memsharded commented on #10737
This doesn't seem a Conan issue, but an Artifactory one.

It seems that the default behavior of Artifactory virtual repository is to cache the remote that was used in the resolution of the recipe and forward search requests to that other repo. But I am no expert in Artifactory.

So I would recommend the following:

- Submit a ticket to the Artifactory tracker: https://www.jfrog.com/jira/secure/Das

[2022-03-08 13:01] samuel-emrys commented on #10709
conan's CLI seems to be completely broken for conan 2.0-alpha4 in msys2. For any command I try to execute, I get this:

[code]
This happens regardless of how conan is installed.

[2022-03-08 13:15] samuel-emrys commented on #10709
A follow up, I think this might have something to do with how [msys2 handles streams](https://www.msys2.org/wiki/Porting/):

More reading: https://github.com/mintty/mintty/issues/56

consequently, I can invoke conan with:

[code]
This is less than ideal - is there an intent to support msys more natively going forward? This seems like a regression in comparison to 1.X

[2022-03-08 13:22] samuel-emrys commented on #10709
Back on topic: it looks like this issue is resolved when using winpty just generally

[code]

And also with conan 1.46.0:

[code]

That confuses me a bit though - I'm not sure I understand why this would manifest in 1.X _only_ when installed through `pipx` and not just generally through `pip`. I also would have thought this would have been caused by `cmake` being a windows native binary, as per th

[2022-03-08 13:50] samuel-emrys commented on #10737
@memsharded no worries, thanks for the direction. I wasn't sure where the lines blurred between the conan team and the artifactory team when it came to conan. I'll post a ticket there when I get a chance.

[2022-03-08 14:05] samuel-emrys commented on #10737
https://www.jfrog.com/jira/browse/RTFACT-26879 for tracking

[2022-03-08 15:06] #10736 closed, assigned to memsharded

[2022-03-08 15:50] Parcley commented on #8953
@GPages I see that this issue has been closed. I am facing the same behaviour as you are describing on this issue. Can you tell if you could solve that issue?

Did https://github.com/conan-io/conan/issues/4754#issuecomment-474285354 solve your issue?

[2022-03-08 16:12] memsharded commented on #10736
The bug was fixed in https://github.com/conan-io/conan/pull/10738, it will be released next 1.47.

In the meantime, the ``conan export-pkg`` with this policy will only work for new packages, with ``--force``. For building the graph, using ``--build=missing`` would be the recommended strategy, in general it is recommended anyway, as ``--build`` all is typically unnecessary and a waste of resources,

[2022-03-08 16:34] memsharded commented on #8953
Hi all,

There are a couple of important points to clarify:

- One thing is the binary model. What is defined in the ``settings.yml`` and the ``profiles`` files. That defines a ``package_id`` that can change when the settings change, and can be used to model different variants of binaries.
- The other part are the build-system integrations. There is not magic in them that will automatically listen

[2022-03-09 01:06] SeanSnyders commented on #10735
Ok, I think that route can work, but not through the accessor syntax you provided.

One cannot access `self.dependencies["mydep"]` directly. The dict accessor is not working for that as the underlying keys are dicts themselves representing `conans.model.dependencies.Requirement` objects.
There is a `self.dependencies.get()` method, but this does not work as it constructs a default `Requirement` ob

[2022-03-09 03:32] SeanSnyders commented on #9436
Has this process been documented yet as per https://github.com/conan-io/conan/issues/9436#issuecomment-902307219?
![image](https://user-images.githubusercontent.com/1384135/157367439-2d856f3f-fb8d-473e-8b8f-7c65dbac8eb2.png)

[2022-03-09 07:10] WeissFabian opened #10740 "[question] Copy a package from machine to machine without internet"
Hello,

I have two systems one which creates the conan packages (conan export-pkg) and one which needs to install them.
The second system is not connected to the internet at all, so I have to copy the package from one system to the other via a usb stick.
So if the offline system wants to install the package, it can do so without needing a internet connection, since the packages are already on the

[2022-03-09 07:28] lasote opened #10741 "[feature] 2.0 Custom commands layers"
The custom commands might be namespaced if they exist in different folders under the `extensions/command` folder. For example, if I do a `conan config install`, being "jfrog" a company name and "conancom" a community around the Conan project, and install two folders: `extensions/command/jfrog` and `extensions/command/conancom`, the commands would look like:

`conan jfrog:foo -arg --args2` and `con

[2022-03-09 08:27] memsharded commented on #10740
Hi @WeissFabian

At the moment this is not possible, at least with a Conan built-in mechanism. We are providing some foundations so this might become possible in 2.X, but not in 1.X.

If you really need this now, the workaround could be a plain copy of the cache folders. In Conan 1.X the cache is structured in folders, and most of it is self-contained. Go to your ``<userhome>/.conan/data`` folder

[2022-03-09 08:38] memsharded commented on #10233
This was implemented in the merge of https://github.com/conan-io/conan/pull/10692 to develop2 branch.
Can be closed, client side seems to be ready to merge conan1 and conan2 binaries in the same server repo.

[2022-03-09 08:38] #10233 closed, assigned to memsharded

[2022-03-09 10:37] czoido commented on #10741
Closed by: https://github.com/conan-io/conan/pull/10739

[2022-03-09 10:37] #10741 closed, assigned to nobody

[2022-03-09 12:56] memsharded commented on #8876
Closed in https://github.com/conan-io/conan/pull/8952, will be in the next 2.0-alpha.6

[2022-03-09 12:56] #8876 closed, assigned to uilianries

[2022-03-09 13:53] jwillikers commented on #10699
With `CMakeToolchain`, you'll need to add it to the generated CMake toolchain file by setting the CMake variable(s) i.e. `CMAKE_SYSROOT`. The easiest way to do this is to set the CMake variable in the `generate` method in the Conanfile.

[code]

[2022-03-09 14:36] njeisecke commented on #9494
Thanks for the discussion. Seems like cross compiling with tools running in the build context is still problematic with conan 1.46. The `protobuf` receipe has received some attention here and using the two profiles approach so far works nice now with `protobuf/3.19.2`.

Unfortunately this is not the case for `grpc/1.44.0`.

This is my (ugly) approach getting the proper `gRPC::grpc_cpp_plugin` targ

[2022-03-09 15:17] saukijan opened #10745 "[bug] conan create fails to properly set shared library links for built target"
### Description

We are experiencing a problem when building a package for one of our projects on **Debian 11** machines, with **GCC 10** compiler. The resulting binary for the integration test returns `error while loading shared libraries: Message.so: cannot open shared object file: No such file or directory` and we are not sure as to why.

We can build and run it fine without **conan**, but when

[2022-03-09 15:34] memsharded commented on #10745
Lets do a quick, reproducible test (there are a few things in the above that makes it difficult to reproduce, like missing files or dependencies). So lets try:
- Using ``conan new hello/0.1 --template=cmake_lib`` template, try to do the regular ``conan create .`` for the different compilers/configurations
- Then try adding the shared ``-o hello:shared=True`` option.

And lets see if that works or

[2022-03-09 15:40] saukijan commented on #10745
tried `conan create . -o hello:shared=True &> conan_create.log` and it seems to be working as intended, here is
[conan_create.log](https://github.com/conan-io/conan/files/8215994/conan_create.log)

[2022-03-09 15:45] memsharded commented on #10745
conan_create.log

[2022-03-09 16:20] memsharded commented on #10745
Yes, maybe it could be related, difficult to know. So far I only see one single ``add_library(${MODULE_NAME}) `` in your CMakeLists.txt, it wasn't evident that you had more than one lib inside the packages.

Probably the best would be to reduce your above case to something self-contained that we can actually compile on our side, or to augment the case starting from the template (and put it in a gi

[2022-03-09 16:26] saukijan commented on #10745
we use separate `CMakeLists.txt` files for modules, root `CMakeLists.txt` would look something like this:

[code]

where `sources` directory would have a `CMakeLists.txt` listing out all of the modules as directories, like this:

[code]

and then each module directory would use the previously mentioned  `CMakeLists.txt` files

[2022-03-09 16:30] saukijan commented on #10745
Alright, I'll try setting it up tommorow.

[2022-03-09 18:01] wbehrens-on-gh opened #10747 "[question] Profile causes recipe to use the wrong awk"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

profile:
[code]

I'm building libpng from source with the above profile but I keep getting the error
[code]

for some reason it's using the awk that's meant for the host systems and not the one on the build system

[2022-03-09 18:07] anderson-dev opened #10748 "[question] Multiple Binary Artifacts For Same Revision"
I used to be able to call `conan export-pkg` once for a `Release` artifact and then `conan export-pkg -s build_type=Debug` for a `Debug` artifact. This would export pre-built binaries for both `Debug` and `Release` configurations for my consumers. After I recently enabled revisions support, each call now creates a new revision resulting in only one pre-built artifact being consumable at a time.

H

[2022-03-09 18:10] wbehrens-on-gh commented on #10747
update: to solve the awk problem I had to comment out `CONAN_CMAKE_SYSROOT` and `CONAN_CMAKE_FIND_ROOT_PATH` but that then gives me another because it's targeting the wrong libc

[2022-03-09 18:25] anderson-dev commented on #10636
Though cautious, I'm open to embrace some of these tools/helpers as suggested even though marked as "experimental" but I'm unable to even build if I switch to the required namespace.

If I use the `conan.tools.microsoft` namespace as previously suggested for the MSBuild helper, I can no longer build: `'msbuild' is not recognized as an internal or external command,
operable program or batch file.`

[2022-03-09 18:31] memsharded commented on #10636
The ``msbuild`` helper works under a VS prompt. That prompt is activated with a ``vcvars.bat`` command, and Conan should generate it with the ``MSBuildToolchain`` (look for it in the generators folder). Combined with ``VirtualBuildEnv``, its injection should be pretty automatic. Do you have some recipe or project that we could have a look?

[2022-03-09 18:35] anderson-dev commented on #10636
hmm previously `from conans import ConanFile, MSBuild, tools` activated vcvars and worked fine

[code]

[2022-03-09 18:39] memsharded commented on #10636
The legacy ``MSbuild`` helper is doing things differently.
The new ``from conan.tools.microsoft import MSBuild`` will use the created (created by the MSBuildToolchain)  .bat files to activate the VS prompt to locate msbuild.

In general, the legacy helpers ``from conans import xxx`` shouldn't be used together with the new integrations like ``MSBuildToolchain`` or ``MSBuildDeps``

[2022-03-09 18:43] memsharded commented on #10748
In theory, if nothing differently was exported in the recipe, the recipe revision should be the same, and you should be able to create the 2 different binaries for that same recipe revision. There might something in the recipe that is changing the exported recipe revision,  it would be necessary to see the recipe and have something that we can reproduce to know.

[2022-03-09 18:54] anderson-dev commented on #10636
so is this correct for a minimal MSBuild package recipe that compiles/packages using the new tools?:

[code]

[2022-03-09 19:17] anderson-dev commented on #10636
I've added vs_layout and think the [defaults ](https://github.com/conan-io/conan/blob/develop/conan/tools/microsoft/layout.py)seem to make sense

However, MSBuild could no longer find my sln until I added `self.folders.build = "."` in the layout method. Now it seems the paths in conandeps.props are not aware of the new layout:
[code]

[code]

[2022-03-09 19:33] anderson-dev commented on #10748
Maybe due to my using version range syntax in the recipe?:

[code]

[2022-03-09 19:41] WilliamBehrens commented on #10747
[code]
I have this profile now and I've fixed the above issues, the new problem I'm running into is that the libselinux recipe can't find flex despite it being in the build_requirements(). I ran the generate flex binary manually to make sure it was the right architecture and it was so I'm not sure what the issue it.

[2022-03-09 19:42] #10747 closed, assigned to nobody

[2022-03-09 20:11] anderson-dev commented on #10636
projects were still using the previous conandeps.props at root, changed the projects to import the one generated in the `$(OutDir)/generators` folder.

Now an error in package:
`conans.tools` supports collect_libs but `conan.tools` does not? What's the recommended alternative?

[2022-03-09 22:58] memsharded commented on #10748
It seems that you are exporting a different thing each time. The key might be:
[code]

If you don't do the ``conan install`` for the 2 configuration first, the first time it will only export one .props file, while the second time it will export 2 .props file. The final exported recipe is different and consequently it will have a different revision. In all effects, it is the same as having differen

[2022-03-10 12:08] samuel-emrys opened #10751 "[question] Migration pathway for IDE integration generators in conan 2.0"
Recently, there has been a migration of a number of generators to the `conan.tools` namespace, presumably in preparation for conan 2.0. I've [read recently](https://github.com/conan-io/conan/issues/10559#issuecomment-1036662992) that the `layout()` method will only apply to generators in this new namespace. This leaves me wondering, what will happen to existing generators that don't seem to have h

[2022-03-10 12:39] memsharded commented on #10751
- ``visual_studio`` generator is superseded by ``MSBuildDeps`` and ``MSBuildToolchain`` generators. Those two already implements the ``visual_studio`` capabilities (and more).
- ``ycm`` will be possible via a "deployer". Deployers are different in the sense that they are only for consumer local flow, but recipes don't declare a ``ycm`` generator, because they don't need it at all. The syntax will

[2022-03-10 12:43] samuel-emrys commented on #10751
Perfect, that sounds great, thanks for the clarification @memsharded.

[2022-03-10 12:43] #10751 closed, assigned to nobody

[2022-03-10 14:53] realbogart opened #10752 "[question] Passing CMAKE_CXX_FLAGS and CMAKE_LINKER_FLAGS as a setting/option to conan install"
Hello!

We have a big C++ project where CMAKE_CXX_FLAGS and CMAKE_LINKER_FLAGS are being set up in different toolchain files. Then we are using this wrapper to make the conan install call from CMake:
https://github.com/conan-io/cmake-conan

To make sure that all of our dependencies are built using the same compiler/linker flags we are discussing if it's possible to send these variables to "conan i

[2022-03-10 15:11] dotChris90 commented on #10724
i close the issue because resolved. thanks again.

[2022-03-10 15:11] #10724 closed, assigned to nobody

[2022-03-10 15:56] anderson-dev commented on #10748
In interest of feedback and to help those that are new to using Conan for a MSBuild/MSVC based shop:

Unfortunately, the exporting of conanbuildinfo.props was sort of a chicken or egg problem. Way back in July 2021 I recognized a potential [issue ](https://github.com/conan-io/conan/issues/9330) where the VS Conan extension that I'd introduced to my devs generated and expected `conanbuildinfo.props

[2022-03-10 16:02] anderson-dev commented on #10748
Thanks I was able to copy the resulting export/conanmanifest.txt and compare against each other. This revealed that `exports_sources = "ProxyClientWrapper/*"` was picking up the intermediate build folder for that project (i.e. MyProject/x64/Debug/* and MyProject/x64/Release/*). Obviously that build folder contained different files depending on build config so I am now having to be very specific an

[2022-03-10 16:07] lasote opened #10754 "[bug] 2.0 Verify that "conan test" is creating the `test_output` folder"
The same as "conan create" that creates a "test_output" folder inside the "test_package", looks like "conan test" creates a "build" one. Tested on windows with latest develop2

[2022-03-10 16:08] saukijan commented on #10745
@memsharded, could you see if you can replicate this problem?

[2022-03-10 16:22] memsharded commented on #10745
Oh, I found something really bad, and most likely the root cause:

When you are creating the package, with ``conan create`` you are still using the same conanfile.txt and same logic, that is the ``build()`` method is calling CMake, which internally is calling a nested ``conan install`` using a ``conanfile.txt`` instead of the ``conanfile.py``. This can result in tons of undefined behavior.

When c

[2022-03-11 10:14] ghost opened #10756 "[bug] Conan ignores CONAN_CMAKE_SYSTEM_VERSION"
Hey guys,
unfortunately on our buildserver there are lots of old Windows SDKs installed. By default CMake chooses an old SDK which is not compatible with MSCV 17 any more.
I managed to get rid of this issue inside the project by setting "CMAKE_SYSTEM_VERSION" to "10.0"
The build without any thirdparties works.

Now If I add the thirdparties Couchbase-Lite suffers the same problem. Conan uses the o

[2022-03-11 10:31] franramirez688 commented on #10756
Hi @Ju1He1

I guess you should add this line in your recipe (have a look at this [docs section](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake/cmaketoolchain.html#variables)):

[code]
and remove the `CONAN_CMAKE_SYSTEM_VERSION=10.0` line from `[env]` section. I think it could do the trick.

[2022-03-11 10:59] memsharded commented on #10756
@franramirez688  There is already some logic in the ``GenericSystemBlock`` that will set the CMAKE_SYSTEM_VERSION for some cases. Maybe it would better to change it in its context ``"cmake_system_version": system_version`` instead, to avoid possible colisions.

But not necessary, there is new ``conf`` for this:
[code]

Use this new conf in the profile instead of hardcoding in the recipe.

Some oth

[2022-03-11 11:45] memsharded opened #10757 "Discuss options in test_package"
[code]

We have discussed in the past the possibility to ban options in test_package.

[2022-03-11 11:46] ghost commented on #10756
Thank you both for your fast answer :)

@franramirez688 your solution worked. Couchbase build properly :)
However Windows is just one config out of many. I'd like to keep my recipe as generic as possible. That's why we are using build profiles ;)

@memsharded
I did add
[code]
to my build profile and replaced the imports with your suggestions :)
However this does not seam to have any effect. Our bu

[2022-03-11 12:08] memsharded commented on #10756
Not, it is not an option, is a "conf". In the profile:

[code]

[2022-03-11 12:28] gpxricky opened #10758 "[question] Why does 'conan source' calls the export() method?"
Hi,

I've observed that the `export()` method of my recipe is called when I run `conan source` for package development flow.
I'm a little bit confused why this is the case? I would have expected that the `source()` method is called, but I wonder why the `export()` method is called too. I'm using `self.copy` there and it now copies files to the source folder which does not make sense for me.

Maybe

[2022-03-11 12:32] ghost commented on #10756
ups yeah you are right.
I fixed that.
But still it does not seam to take effect
[code]

do I have to modify my recipe as well? Sorry I'm a little bit stuck here :O

[2022-03-11 12:33] AlexandraNegru commented on #10294
This issue was submitted almost 2 months ago. Do you have any update?

[2022-03-11 12:35] memsharded commented on #10756
You are specifying it in the ``build`` profile only, but it should be done in the ``host`` profile, not in the ``build`` one.

[2022-03-11 12:46] memsharded commented on #10758
This is some legacy.

If you define the ``layout()`` method, the ``conan source`` will not do it. It will do the ``export_source()`` method though, that couldn't be removed yet, in 1.X.

Conan 2.0 has already removed this, the ``conan source`` command will not do absolutely anything regarding exports.

[2022-03-11 12:51] memsharded commented on #10607
First stage implemented in https://github.com/conan-io/conan/pull/10746

Lets wait until it is implemented in ConanCenter, and see how it starts to work, and then we will add more checks

[2022-03-11 13:03] nvaytet opened #10759 "[bug] Cannot create a conda environment with conan and python 3.10 (solving fails because of pyyaml)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version:
  * Conan version: 1.45
  * Python version: 3.10

### Steps to reproduce (Include if Applicable)

I am trying to create a `conda` environment that has `conan` with python 3.10, and also installs `pyyaml`.
The minimal `env.yml` file would look like this:
[code]

### Logs (Ex

[2022-03-11 13:46] memsharded commented on #10759
This is not a bug per se, Conan only works with pyyaml < 6, and it is declared as such.

I see some things in the pyyaml changelog that could be breaking changes. Including dropping Py27 support, which should be taken into account. In any case, it probably requires modifying code, so we might not be able to address this until 2.0, lets see.

[2022-03-11 14:48] gpxricky commented on #10758
Okay, thanks for clarification ;).

[2022-03-11 14:48] #10758 closed, assigned to nobody

[2022-03-11 15:30] memsharded commented on #10754
But Conan 1.X does not create the ``test_output`` folder, even for ``conan create``.
The ``test_output`` has been introduced only in Conan 2.0, not 1.X. Should we backport this feature? Seems not trivial.

[2022-03-11 16:15] ghost commented on #10756
thank you James. That did work :)

[2022-03-11 16:15] #10756 closed, assigned to nobody

[2022-03-11 18:12] gouriano opened #10761 "[question] Is it possible to integrate Conan package with a non-Conan one?"
Hello,
Let us say my Conan package optionally can use non-Conan one - which is absent in Conan (eg, CMake one), but present on my local system.
The price - rebuilding my package locally - is not too high.
The question though is how to integrate them so that Conan would "understand" that my package now uses something else?
Is it at all possible?

[2022-03-11 19:06] memsharded commented on #10761
Hi @gouriano

Yes, it is possible, there are several approaches:

- Conan has the ``system_requirements()`` method in case you want Conan to call a system package manager, to install things in the system.
- You can create a "proxy" system recipe, that doesn't contain anything, but just models the system installed package. There are a few of them in ConanCenter, you can check for example the "openg

[2022-03-11 19:29] gouriano commented on #10761
Thank you, it helps.
Just... there is no "openssl/system", right?
I am looking [here](https://github.com/conan-io/conan-center-index/blob/master/recipes/openssl/config.yml)
(it would be nice to have one)

[2022-03-12 07:00] hstejas opened #10762 "[bug] LIB_DIRS from a meson package and cmake_find_package grenerator does not match"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 21.10
  * Compiler+version: gcc-11
  * Conan version: 1.46
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
Similar to https://github.com/conan-io/conan/issues/10705

   - Create a new project with `conan new abc/v1 --template=meson_lib` (some changes were done to adapt to exi

[2022-03-12 07:17] playgithub opened #10763 "[feature] one application one lib folder"
Like `nodejs`, a lib can be installed locally or globally easily and intuitively.

[2022-03-12 10:21] memsharded commented on #10763
Sorry, nodejs is very very different to c++, cannot compare.
Also, this feature request makes no sense, this is not a valid feature request. Feature requests should be way more detailed, explaining well what is the current behavior, the desired one, with clear and concise examples, and the rationale of it.
Closing.

[2022-03-12 10:21] #10763 closed, assigned to nobody

[2022-03-12 10:41] memsharded commented on #10762
Hi @hstejas

The way to consume it would be irrelevant. The important point is that the library, once the package is created should be in ``lib/hellolib.a`` or something like that, if it was created correctly. No ``x86_64-linux-gnu`` folder.

I have just tested it in Windows, seems to be fine.
Can you please retry with the ``conan new hello/0.1 -m=meson_lib`` without any modifications to the recip

[2022-03-12 12:02] hstejas commented on #10762
Hello @memsharded

More specifically I was just trying this out with libvips, and I noticed this in their readme

I don't know enough about meson to comment if this is a standard practice.

I also noticed this, https://github.com/conan-io/conan/blob/ae6634347b491be3b566987b3c882c8cf7744df7/conan/tools/meson/toolchain.py#L196

So this is currently not possible?

[2022-03-12 22:09] Makogan opened #10764 "[question] How to select the binaries for a given package version?"
If I want binaries built with a specific version of GCC, for example the spirv-cross binaries generated with gcc 12 for linux:
https://conan.io/center/spirv-cross?tab=configuration&os=

How do I specify that that specific package, and only that package, should use bianries generated with that compiler?

- [ x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.gith

[2022-03-13 12:32] memsharded commented on #10764
Hi @Makogan

Not sure what you mean. You define the ``-s compiler=gcc -s compiler.version=12`` in your command line or in your profile and you get it, don't you? Or you mean all other packages with other compiler version and that one with 12? In that case ``-s spirv:compiler=gcc -s spirv:compiler.version=12``.

[2022-03-13 20:44] tjohnsonhvac opened #10765 "[bug] SHORT DESCRIPTION"
### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version:
  * Python version:

### Steps to reproduce (Include if Applicable)

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2022-03-13 20:54] #10765 closed

[2022-03-13 20:54] tjohnsonhvac commented on #10765
opened in error. unable to delete

[2022-03-13 21:48] memsharded commented on #10765
No prob

[2022-03-13 22:08] memsharded commented on #10762
Hi @hstejas

I am not sure what is happening. I have just tried with ``conan new hello/0.1 -m=meson_lib`` in Conan 1.46 in an Ubuntu 19 system, and it is not creating the ``x86_64-linux-gnu`` folder, but the lib is is in ``lib/libhello.a`` directly.
The template, the ``meson.build`` is using the ``install_dir: 'lib'``, so this is working fine, maybe you are removing that in your ``meson.build`` fi

[2022-03-13 22:14] memsharded commented on #10761
No, there isnt, there is a real openssl one, with its version. Once there is a real package in ConanCenter, it doesn't make sense to use a proxy one, because it cannot and it will not be used. This is related to the caution mentioned above: it is not possible to mix the Conan package and the system package, that will create duplicate symbols or other issues. So all other packages in ConanCenter us

[2022-03-13 22:17] #10685 closed, assigned to nobody

[2022-03-13 22:34] memsharded commented on #10748
Hi @anderson-dev

Now I understand better where you come from, and the issues generated from the VS extension.

It is totally true that we haven't been able to keep maintaining and improving that extension, it seems it never got a lot of usage so it was de-prioritized and 2.0 is now taking most of the efforts, and we cannot put time in the VS extension at this moment. Work on it will probably resu

[2022-03-13 22:44] memsharded commented on #9436
Created issue https://github.com/conan-io/conan-center-index/issues/9752 in conan-center-index repo for this.

[2022-03-14 01:47] Nicky-D opened #10767 "[question] gather packed installed via conan install as dependencies for artifactory buildinfo"
Currently I'm doing the following to create a software package and publish it to artifactory:
- jf rt dl --build-name x --build-number y <some packages>
- jf rt bpe x y
- conan install .
- build everything, create installer etc
- jf rt upload --build-name x --build-name y <more opts>
- jf rt bp x y

This creates my build in artifactory, uploads the binaries and I can see the build dependencies of

[2022-03-14 06:03] SeanSnyders opened #10768 "[question] Recipes cannot build due to not specifying CMake as tool/build requirements"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

There are recipes that uses CMake to build, but they do not specify CMake as a `tool_requires` or `build_requires`.
For example `ninja/1.10.2`: https://github.com/conan-io/conan-center-index/blob/master/recipes/ninja/1.10.x/conanfile.py
So when there are no binaries for the particular

[2022-03-14 06:50] lasote commented on #10754
Wrong milestone. I saw this behavior in 2.0 (unless I was mistaken)

[2022-03-14 08:37] memsharded commented on #10768
Recipes in ConanCenter do not add in the general case ``cmake`` as tool_requires, this is the policy:

- Most users will have cmake installed in the system, and they will want their cmake to be used, not to download a Conan one
- If users want to add cmake as tool_require, they can still do it in their profiles ``[tool_requires]`` section, or to install it with ``conan install cmake/version@ --bui

[2022-03-14 08:40] memsharded commented on #10767
Hi @Nicky-D

You should clarify a bit more why. ``conan_build_info`` creates a valid build-info, which is a json file that you can read and get the data that you need, apply it (merge it) to your own other build-info, if this is what you need, because you want to manage other artifacts not managed with Conan.

[2022-03-14 08:53] SSE4 commented on #10762
might be related: https://github.com/conan-io/conan/issues/9713

[2022-03-14 09:13] memsharded commented on #10182
We have been discussing this, the current status is:

- Lockfiles are still evolving. Conan 2.0 has changed the lockfiles a lot, so things will not be possible in the same way.
- It is likely that in 2.0 the "build-order" json files could be better candidates for upload information
- Conan 2.0 will have custom user commands, that will be perfect to develop user extensions and it will very easy to

[2022-03-14 09:13] #10182 closed, assigned to nobody

[2022-03-14 09:13] memsharded commented on #10248
Implemented in https://github.com/conan-io/conan/pull/10587

[2022-03-14 09:13] #10248 closed, assigned to lasote

[2022-03-14 09:17] memsharded commented on #10503
This has been already done: Conan 1.45 got the new ``tools.scm.Git`` helper that will implement the ``scm`` behavior. All the other ``scm`` magic and classes has been removed.

[2022-03-14 09:17] #10503 closed, assigned to memsharded

[2022-03-14 09:19] Nicky-D commented on #10767
Hello @memsharded

You are right, I had been a bit imprecise, my apologies. Looks like I found a bug (or a feature). I always did end with an empty buildinfo:

This happens when the package is in my cache

$ CONAN_TRACE_FILE=/tmp/conan.log conan install ..
...
zlib/1.2.11: Already installed!
...
nicky@penguin:~/x/build$ conan_build_info  /tmp/conan.log
{"modules": [{"id": "DownloadOnly", "artifact

[2022-03-14 09:23] SeanSnyders commented on #10768
Thanks for the reply, @memsharded.

I think explicitly listing dependencies (build toolchains or otherwise) has advantages, of well, being explicit. If the idea is to be able to compile (and consume) any Conan package irrespective of mix-n-matching build toolchains, one cannot be expected to install and have available in the path of the build machine all possible toolchain tools of the whole depen

[2022-03-14 09:29] memsharded commented on #10632
Implemented in https://github.com/conan-io/conan/pull/10721

[2022-03-14 09:29] #10632 closed, assigned to nobody

[2022-03-14 09:50] saukijan commented on #10745
@memsharded , I managed to figure out the problem I was having: package configuration file `conan/conanfile.py` **MUST** use cmake as one of it's generators to create the `conanbuildinfo.cmake`, otherwise this issue will come up.

However, even with your suggested changes, the problem still remains. Could you test it again and see if you can reproduce this issue on your end?

[2022-03-14 10:57] nvaytet commented on #10759
Thanks for the reply.
Actually I don't need to specify `pyyaml` explicitly in the conda env file.
Simply having
[code]
will fail with the same error.

So it just means that we cannot create a python 3.10 `conda` environment with `conan`.
I will amend the issue title.

[2022-03-14 11:05] memsharded commented on #10757
Review how the consumer ``&`` placeholder affects to this too. ``conan create . -o &:shared=True`` should affect only the package, but not the test_package? Does it affect only the ``test_package``?

[2022-03-14 11:38] memsharded commented on #10045
https://github.com/conan-io/conan/pull/10046 was closed without merging. The unknowns were many, and the final approach will be using lockfiles, as introduced in https://github.com/conan-io/conan/pull/10713 for 2.0-alpha.6. Cli args for overrides will be removed in 2.0 then.

[2022-03-14 11:38] #10045 closed, assigned to nobody

[2022-03-14 11:39] memsharded commented on #9912
This will finally be implemented using lockfiles. Added by https://github.com/conan-io/conan/pull/10713, will be released in next 2.0-alpha.6

[2022-03-14 11:39] #9912 closed, assigned to memsharded

[2022-03-14 11:45] hwhsu1231 opened #10769 "[bug] Cannot use `qt6_wrap_cpp` and `qt6_wrap_ui` after installing Qt with `CMakeDeps`."
# Problem Description

I want to use [`qt6_wrap_cpp`](https://doc.qt.io/qt-6/qt-wrap-cpp.html) and [`qt6_wrap_ui`](https://doc.qt.io/qt-6/qt-wrap-ui.html) commands provided by Qt in `CMakeLists.txt`. However, the output shows the following error:

[code]

**PLUS:** The reason why I try to use `qt6_wrap_cpp` and `qt6_wrap_ui` is because I cannot use `set(CMAKE_AUTOMOC on)` and `set(CMAKE_AUTOUIC on

[2022-03-14 11:50] hstejas commented on #10762
@memsharded
As i had mentioned it is an existing project.
Seems like install_dir is not there
source:
https://github.com/libvips/libvips/blob/168d7652c21440edf8c2e3bd27428ec2891685bf/libvips/meson.build#L21
And I think i am checking the correct file

[2022-03-14 13:09] memsharded commented on #10762
I see. So then the possible approaches could be:

- Have the recipe patch the library ``meson.build`` file to define the ``install_dir``. You can patch in ``source()`` method, after getting the sources. ConanCenter recipes have many examples of patches and how to define them in conandata.yml.
- Do a file move in the ``package()`` method, to get rid of the ``x86_64-linux-gnu`` folder, moving the li

[2022-03-14 13:14] JonathanGirardeau commented on #10699
Thanks for the answer.
I don't think it is a good practice to hard code the `sysroot` path in the recipe of a package. Usually the `sysroot` path depends on the conan profile used and the computer you are using to build. So I think the right place to set the `sysroot` path is in profile files located in `~/.conan/profiles/`.

[2022-03-14 13:16] hstejas commented on #10762
Thanks for the reply,
I will maybe try one of them. Ill close this since nothing can be one in conan.

[2022-03-14 13:16] #10762 closed, assigned to nobody

[2022-03-14 14:43] czoido commented on #10699
Hi @JonathanGirardeau,
You may use the `[conf]` section of the profiles to define that information and later get the value of the sysroot in the generate method... You can have a look at the docs about `[conf]` here: https://docs.conan.io/en/latest/reference/config_files/global_conf.html#configuration-in-your-profiles

[2022-03-14 15:08] nichmj01 opened #10772 "[question] What does requires package status `no remote` mean?"
When you run `conan install` and the requirements are resolved, they will be listed with their current status: `Cache`, `Downloaded`, and `No remote`. What does `No remote` mean and how can I get into this state?

Example:
[code]

We've run into issues with binaries not being found for the recipes listed as `No remote` cause the package id isn't what we expect; presumably cause the recipe isn't th

[2022-03-14 15:17] nichmj01 opened #10773 "[feature] List recipe revision in `conan install` Requirements"
We've been specifying the recipe revision in our requires package references to avoid recipe changes to packages we pull from external sources (such as conan center) from triggering a recompile of items that take a long time (we're using `package_id_mode=recipe_revision_mode`).

It would be convenient if the list of requirements listed when running `conan install` could list the recipe revision nu

[2022-03-14 15:23] memsharded commented on #10773
Yes, this is already done this way in Conan 2.0 (released alpha).

It couldn't be changed in 1.X, because there are users parsing the output, and it would break them.
Please try the Conan 2.0 alpha and report if necessary, otherwise I think this can be closed as implemented.

[2022-03-14 15:23] #10773 closed, assigned to nobody

[2022-03-14 15:32] nichmj01 opened #10776 "[bug] `conan remote list_ref` and `conan remote list_pref` don't work if you have editable packages"
If you try to use `conan remote list_ref` or `conan remote list_pref` while you have any editable packages you get:
`ERROR: Operation not allowed on a package installed as editable`

It seems like you should be able to skip over the editable packages or list them as editable in the output?

This is especially strange with `list_pref` since it gives the error even when the provided reference is not

[2022-03-14 15:37] nichmj01 commented on #10773
@memsharded Good to know it'll be supported in 2.0.0. I think it's still too early for us to move to 2.0.0 unfortunately. We also just started using conan 1.X and trying to move to 2.0.0 at this point will get a lot of push back unless it's extremely seamless and low effort.

Possibly could be added to 1.X as a configurable option that someone could turn on and therefore an intentional breakage? I

[2022-03-14 17:07] gpxricky opened #10777 "[question] Is example for `Implementing the scm feature` (migration to Conan 2.0) useful?"
Hi Conans,

I would like to discuss the example and approach that is given on https://docs.conan.io/en/latest/reference/conanfile/tools/scm/git.html#example-implementing-the-scm-feature:

[code]

I tried to implement the proposal for a Conan 1.x recipe, but it has some limitations I would like you to know:

- Git repositories may require authentication which is a little bit tricky with the code an

[2022-03-14 17:19] memsharded commented on #10759
Just in case, to be sure: I have tested installing Conan in Python 3.10, and it installs and works fine. It is installing pyyaml 5.4.1.

So this seems an artificial limitation of Conda. Pyyaml 5.4.1 doesn't seem to have major limitations to not work on Python 3.10, so it is just conda that doesn't package it for some reason. Cannot it be requested somehow in the conda ecosystem? It could be just b

[2022-03-14 17:55] memsharded commented on #10777
Hi @gpxricky

We have intentionally removed the user/password management in URLs in this first iteration. It is something that more and more Git server providers are running away, it seems it is not the best practice nowadays. If you still need to do it, please report details on how/why, and we will consider adding support. If you can file a separate, dedicated issue with these details, that would

[2022-03-14 18:22] memsharded commented on #10772
The ``No remote`` means that the package was created locally, with a ``conan export`` or ``conan create``, so it was not retrieved from a server (and it was also not uploaded to a server).

This could happen also when a package is retrieved from a remote, and the remote is removed (``conan remote remove``), then the connection to the remote is lost.

[2022-03-14 18:35] memsharded commented on #10769
This is complicated to know what is happening with the ``cmake-conan`` stuff. I would recommend starting by checking:

- That the ``xxxx-config.cmake`` files are generated locally (actually there should be a bunch of them, one for every dependency)
- Check that the generated ``.cmake`` files contain the include to the corresponding ``xxxMacros.cmake`` file (the ones that you located in the cache)

[2022-03-14 18:55] nichmj01 commented on #10772
Ah.. I see.

If I export a recipe locally using `conan export` such that the export is "newer" than the recipe on the server, then my guess is that `conan install --update` will not download from the server?

That is, say `my_package/1.0.0#10` is the latest recipe and was uploaded to the server at 9:00am. I use `conan export` to export `my_package/1.0.0#5` (an older version of the recipe such that

[2022-03-14 19:04] memsharded commented on #10101
Related: https://github.com/conan-io/conan/pull/10770#discussion_r826287592, needs to store another variable ``CMAKE_MAKE_PROGRAM`` for Mingw

[2022-03-14 21:00] eirikb commented on #7431
Hi. We are experimenting using Yocto for OS only, and Conan for application.
Using Yocto SDK to cross compile application and Conan dependencies.

Currently using the build profile + host profile approach inside a docker.
How the docker image was built can be seen in [this gist](https://gist.github.com/eirikb/5ef8fd76248a8729a4e8edbc5f64cbe0).

The first error we get is when installing boost: `b2:

[2022-03-14 21:06] janosvitok commented on #10509
Xcode 13.3 RC:

[code]
#defines are the same.

[2022-03-14 21:20] RobertBerger commented on #7431
If I am not mistaken the `boost` recipe is made in such a way that it does not build all possible `boost` libraries, but only those which are needed (used by some other recipe). Can you make a recipe for your application and `bitbake` it? Then it should work. I suspect your SDK just misses the required boost subcomponents. From the yocto point of view, an SDK is always built against a certain soft

[2022-03-14 21:36] SeanSnyders commented on #10768
I also point to an existing issue where something similar has been discussed: recipe creators specifying version ranges of allowable versions of their dependencies (test, or as in this case, toolchain dependencies):
https://github.com/conan-io/conan/issues/10353#issuecomment-1015981728

[2022-03-14 22:33] memsharded commented on #10767
I think that might be just some cli arg-parse issue, I'd try to keep the order as described in the docs:

[code]
In case of doubt add the ``=``:
[code]
It would be necessary to do the start+stop steps as described in https://docs.conan.io/en/latest/howtos/generic_ci_artifactory.html?highlight=build_info#generating-build-info-from-lockfiles-information. This ``--v2`` is the recommended one, you sho

[2022-03-14 22:45] memsharded commented on #10773
Yes, it is not expected to move now, only to be tested. It is alpha stage, until General Availability (GA) it will not be recommended to upgrade. We expect that Conan 2.0 will be a big improvements, with many very useful features and better solutions, so the efforts to migrate will pay off. The most important part in the upgrade is to upgrade the recipes during 1.X to modern features that will be

[2022-03-14 23:27] memsharded commented on #10499
We have finally decided keeping the explicit behavior, see summary in https://github.com/conan-io/conan/pull/10677#issuecomment-1067398533. This issue will be closed when the PR is merged (with some tests that capture more explicitly this behavior)

[2022-03-14 23:29] Nicky-D commented on #10767
Ah I see what's the issue here. I do *not* call

`conan create ...`

I'm just using a conaninfo.txt for requirements and generate cmake files. So only\
`conan install ...`
is issues, the rest of the configuration is done without conan.

If I try in a test pacakge where the `create` command is used, then yes the --v2 version kinda works too. But it has the same issue of not recording dependencies w

[2022-03-15 01:56] hwhsu1231 commented on #10769
@memsharded , what else information do I need to provide?

[2022-03-15 06:51] dornbirndevelops commented on #10777
The only thing I don't necessarily like about the new approach is that I cannot `export` a dirty state anymore (not even with `--ignore-dirty`). This is a bit cumbersome when developing a component. The `scm` feature just gave me a warning saying that I cannot upload with auto values. That being said, I think the export and source function seems like a good idea once I can wrap my head around a ne

[2022-03-15 07:45] uilianries commented on #7431
I can see b2 installed as build requirement, but for some reason, its path is not listed during your build. Need to find some way to update your PATH with b2 location. The package itself already does it, it updates env_info.PATH with b2 location. I suspect Yocto overrides it, otherwise, it would be impossible to cross-build any conan package.

[2022-03-15 07:59] gpxricky commented on #10777
Hi @memsharded,

you are right. I was backporting the approach to Conan 1.45.0 (using the old Git tool) which still copies export files to the source folder. With Conan 1.46.0 the example works fine here. Sorry for that confusion.

The Git repositories in my environment are not public, but protected by authentication. I don't know why, but Git commands in Conan do not seem to use the credential ma

[2022-03-15 08:04] dornbirndevelops opened #10779 "[question] deploy method implementation with new conan.tools.files.copy"
Hello,

At the moment I am revisiting some package recipes of mine to make them somewhat ready for Conan 2.X.
A recipe that provides an application currently contains a deploy method like below.

[code]

The [migration guide](https://docs.conan.io/en/latest/conan_v2.html#self-copy-disappears-from-recipes) states that self.copy will be deprecated.

While it is straight forward to replace the first

[2022-03-15 08:25] eirikb commented on #7431
@RobertBerger When you say `boost` recipe, do you mean recipe for Conan or Yocto? We have a full Yocto with all libraries for the application working, but we want to see if we can build with libraries from Conan instead of Yocto.

@uilianries Yes it looks like something happens with PATH, but I'm not sure why or where.
It should be quite similar to `conanio/gcc9-armv7hf`, except with two profiles

[2022-03-15 08:28] memsharded commented on #10777
@dornbirndevelops

We are also aware of this one. We decided for the current approach because:
- The ``editable`` packages are orders of magnitude better. For the most part, it shouldn't be necessary to be exporting dirty state to test things (consumed by other packages), because you will be able to test those changes locally, and much faster (incremental build). We even added support for ``conan

[2022-03-15 08:36] uilianries commented on #7431
@eirikb Did you try with dual profile feature? Maybe it solves your problem as it works better for cross-building environment. Here is the documentation https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#conan-v1-24-and-newer

Basically, you have to pass 2 profiles, one with your host, and another with the target

[2022-03-15 08:39] jgsogo opened #10780 "[markdown] Failure generating markdown (v1.46.0)"
Running in docker `ubuntu:focal`:

[code]

[2022-03-15 08:44] memsharded commented on #10777
@gpxricky

How did you inject that wrapper? Because that was not obvious in the ``scm`` approach, were you monkey patching? The current approach is exactly to provide this use case better, you can more elegantly replace the built-in Git helper for your own one.
Also, I wouldn't mind to add built-in functionality to the new ``Git`` helper, specifically, if the credentials can be injected via env-va

[2022-03-15 08:48] eirikb commented on #7431
@uilianries Yes, I believe so. This is the command we are trying to run:

It was part of the output gist, but a bit hard to see. [here](https://gist.github.com/eirikb/5ef8fd76248a8729a4e8edbc5f64cbe0#file-buildpr) is buildpr and [here](https://gist.github.com/eirikb/5ef8fd76248a8729a4e8edbc5f64cbe0#file-hostpr) is hostpr. How they were made can be seen [here](https://gist.github.com/eirikb/5ef8fd7

[2022-03-15 08:59] RobertBerger commented on #7431
I mean a Yocto recipe.

OK!

Your application is a `cmake` project. Can you build it just with the SDK without `conan`?
Source the SDK environment and give it a go.
If this does not work I guess you found a yocto issue.

Which Yocto version do you use?

[2022-03-15 09:07] eirikb commented on #7431
@RobertBerger The application is CMake yes, it depends on external and internal Conan libraries.
The tests as shown above is to prove difficulties with dependencies before we even start compiling the application.
When Conan dependencies are built (using various hacks as seen) we source the SDK and build as usual with cmake, and it will cross compile, using libraries cross compiled from Conan just

[2022-03-15 09:20] gpxricky opened #10781 "[feature] Local current folder in `layout` method"
Hi,

the documentation of the `layout` method (https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout) mentions that the folders are relative to the local current folder when calling `conan build`, etc. I probably misunderstood that, but the *local current folder* seems to be the folder where the recipe file is located. I don't know if it is clear for everyone else, but I thought

[2022-03-15 09:27] ma30002000 opened #10782 "[bug] cmake_build_modules property no longer working as of conan 1.43"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: cmake 3.18.4
  * Conan version: 1.43.0
  * Python version: 3.9.7

### Steps to reproduce (Include if Applicable)
- a conan package is used to ship *.cmake files to target project
- "Injection" of cmake files no longer work as of conan 1.43 (works with 1.42.2)

- pkg/conanfile.py:

[2022-03-15 09:27] memsharded commented on #10781
Hi @gpxricky

I think you might have missed latest 1.46 changelog (https://docs.conan.io/en/latest/changelog.html)

- Feature: Adding self.base_source_folder for exports_sources explicit layouts. [#10654](https://github.com/conan-io/conan/pull/10654) . Docs [here](https://github.com/conan-io/docs/pull/2418)
- Feature: Adding root to layout model to allow conanfile.py in subfolders. [#10654](https:

[2022-03-15 09:29] memsharded commented on #10499
Closed by https://github.com/conan-io/conan/pull/10677

[2022-03-15 09:29] #10499 closed, assigned to nobody

[2022-03-15 09:42] gpxricky commented on #10781
Oh man, what a shame! I'm sorry. That's exactly what I was requesting.

[2022-03-15 09:42] #10781 closed, assigned to nobody

[2022-03-15 09:49] memsharded commented on #10782
Hi @ma30002000

This is expected (documented in https://docs.conan.io/en/latest/conan_v2.html#new-properties-model-for-the-cpp-info-in-conan-2-0-generators):

- ``cmake_build_modules`` is used for the new generators only (``CMakeDeps``)
- Legacy generators will use the attributes approach (``cpp_info.names``, ``cpp_info.build_modules``)
- So new and legacy generators use completely different defin

[2022-03-15 09:49] RobertBerger commented on #7431
I missed the part with "it depends on external and internal Conan libraries"

I am pretty sure that if you don't use Conan libraries, but build those libraries with yocto recipes things are going to work ;)

It's not totally random that the Conan integration never made it upstream into OE/Yocto. One of the main reasons, I believe, is to find a proper use case and to implement it.

Can you please e

[2022-03-15 09:54] memsharded commented on #10779
The ``deploy()`` method has been completely removed in 2.0.

The approaches will be 2, depending on what you need:

- Implement what you want in the ``generate()`` method, which is called at ``install`` time (for consumers only). ``generate()`` method can visit dependencies via ``self.dependencies``
- Implement a user ``deployer`` as an extension, put it in the Conan cache (or install it with ``co

[2022-03-15 10:02] lasote commented on #10453
so?

[2022-03-15 10:25] eirikb commented on #7431
This is what we do today, and yes it works.
What we are experimenting on, as seen above, is to move the application dependencies from Yocto to Conan.

In the experiment libraries come from Conan and will be cross compiled with the SDK.

I'm not sure why Yocto recipes are that much better at this than Conan recipes.

Binaries will be published to Artifactory for caching purposes.

No

I believe wha

[2022-03-15 10:40] RobertBerger commented on #7431
It's not about the recipes, but about the philosophy behind the build system. For Conan it seems to be acceptable even encouraged to pull in some randomly built binaries. Bitbake is made for source distros - everything is built from source.

Bitbake has its own caching mechanism. With Conan if you build the same binary twize it's not the same binary. With Bitbake it will be - unless there is a mis

[2022-03-15 10:42] ma30002000 commented on #10782
Thank you for the quick reply. Sticking to legacy works when setting the cpp_info.build_modules attribute.
I would also try out switching to the "new" model. However, if I change the following lines in CMakeList.txt
[code]
I get
[code]

even though with generator "cmake" ist works. What else am I doing wrong?

[2022-03-15 10:45] dornbirndevelops commented on #10779
Due to the deprecation of the `imports` method, I already specified a `generate` that looks like this currently:
[code]
I added a `breakpoint()` statement to see at which time it is being called.
On Conan 1.46.0, the `generate` method only seems to be called during the build-phase of the application, but not during deployment (e.g. via `conan install package/1.0.0@ --build=package -if=install -of=

[2022-03-15 11:32] memsharded opened #10784 "[feature][develop2] Remove ``user_info``, superseded by ``conf``"
The ``conf`` is more structured and powerful, with appends, prepends, and operations on values

[2022-03-15 11:42] memsharded commented on #10453
- Lets try to add some info message regarding the override of the ``tool_requires``.
- Lets try to make sure that the right reference (with 0.1 version) is printed.

[2022-03-15 11:55] memsharded opened #10785 "[feature] [develop2] Revise the hooks API"
It is possible that some things, as ``conanfile`` is no longer available for some hooks extensions points.

To revise the API of all pre-post hooks

[2022-03-15 11:57] memsharded opened #10786 "[feature] [develop2] Order new hook_ hooks"
Alphabetically, so at least there is an order defined for all hooks found in the cache.

[2022-03-15 12:02] gpxricky commented on #9551
@memsharded

Just an additional note: the command may be useful in case template parameters are used - then it is not straight forward to just open the file and check the value.

Is there some plan to support `conan config set` for the `global.conf` file? We deploy the Conan configuration to our Docker images and just change the `default_profile` and `default_build_profile`? Or is the intention to

[2022-03-15 12:18] lasote opened #10787 "[feature] Create "new --template" for Autotools."
Like https://github.com/conan-io/conan/pull/10760/files  but for Autotools.
Tests using it, even with windows subsystems.
Better study if a predefined layout is convenient.

[2022-03-15 13:10] SimonHeybrock opened #10788 "[bug] Packages not compatible with cmake's `install(IMPORTED_RUNTIME_ARTIFACTS ...)`"
cmake-3.21 added [IMPORTED_RUNTIME_ARTIFACTS](https://cmake.org/cmake/help/latest/command/install.html#imported-runtime-artifacts). This can be used something like this (TBB is just an example here) to install:

[code]

This does not appear to work with targets from packages that are installed by conan.

As a concrete example: The above code snippet works fine with TBB installed via `conda`, but *

[2022-03-15 13:15] memsharded commented on #10788
I think this issue is duplicated with https://github.com/conan-io/conan/issues/10181, and there is an initial attempt to fix it in https://github.com/conan-io/conan/pull/10497, because it is related to the fact that Conan is using UNKNOWN targets.

So closing this, please track those tickets.

I would also recommend having a look to the ``imports()`` and ``deploy()`` Conan 1.X features, but more i

[2022-03-15 13:15] #10788 closed, assigned to nobody

[2022-03-15 13:20] memsharded commented on #9551
At the moment there is no plan to implement any command in 2.0 which purpose is to edit a text file. Same applies to ``conan profile update`` for example, it will be removed in 2.0.

Yes, ``global.conf`` got jinja support in latest release, that could be a possibility.

[2022-03-15 13:22] memsharded commented on #10782
You need to add the correct ``settings`` to your ``conanfile.py``, including the ``build_type``

[2022-03-15 13:45] kevinpoulet opened #10789 "[question] Define options in python_requires"
Hello,

I currently have a base recipe. I would like to add some options that are shared by all recipes that inherit it.

I have found #6612 and the last comment mentions the `init()` method. The `init()` code being shared, I defined it in the base recipe.

The base options, and the associated default values, are stored in prefixed class attributes to not be overwritten with consumer defined optio

[2022-03-15 14:49] kevinpoulet opened #10790 "[question] generating conaninfo.txt"
Hello,

I was looking into retrieving dependency tree information (names, versions, options, ...) and having those information exposed to the built project (currently applications, i.e. final consumer).

As far as I can tell, Conan doesn't currently have a Python API that could be used by a script to inspect a given recipe configuration from "outside".

Currently, I added a Python script in a base

[2022-03-15 15:19] memsharded commented on #10790
Hi @kevinpoulet

I am not sure what is exactly what you are trying to achieve, but it seems there could be much better ways to achieve it:

- The ``generate()`` method have access to ``self.dependencies`` information (https://docs.conan.io/en/latest/reference/conanfile/dependencies.html), you can navigate it and dump whatever information you want to any file you want. This method is generated at `

[2022-03-15 15:26] H-G-Hristov commented on #10509
Xcode 13.3 is released. We need support for compiler version `13.1`.

[2022-03-15 15:32] kevinpoulet commented on #10790
Hello,

I overlooked the `generate()` method. It indeed looks promising. I also missed the dependencies attribute (that being said, it was a while back, maybe dependencies wasn't out yet). I'll close the issue for now, I should be fine with those.

To clarify, the goal is to generate a file that would contain information relative to the dependency tree in a specific format. This is used by custom

[2022-03-15 15:32] #10790 closed, assigned to nobody

[2022-03-15 15:44] memsharded commented on #10790
Yes, seems totally the case. I would probably try to put the code in a ``python_requires``, then use it and call one function like ``create_file(self)`` passing the current conanfile in the consumer ``generate()`` method. In this way you can reuse it for all packages very easily. (this is the way custom generators are now recommended)

[2022-03-15 15:45] hwhsu1231 commented on #10769
@memsharded, I found that this bug is **specific to `CMakeDeps` generator**.

It looks like `qt-config.cmake` files generated locally by `CMakeDeps` generator didn't properly include the corresponding `xxxMacros.cmake` files. However, after I modified the generator to `cmake_find_package_multi` and reconfigured the project, the error disappeared. That is, it successfully include `xxxMacros.cmake`

[2022-03-15 16:06] kevinpoulet commented on #10790
As a side note, is there a documentation for the API itself?

For instance, I tried printing the dependency `options` and it returned `conans.model.options.Options`. I was able to find the class in the Conan source but I'm having trouble finding out how to retrieve information like the name and value and if there are other information that could prove useful.

Thanks in advance.

[2022-03-15 16:13] #10780 closed, assigned to czoido

[2022-03-15 17:26] avetiso opened #10791 "[question] tools.apple:sdk_path not a config option"
Conan 1.46
Meson 0.61.2

Here, the conan docs are saying that I can define `tools.apple:sdk_path` in my conan.conf file under the `[conf]` section.

https://docs.conan.io/en/latest/reference/conanfile/tools/apple.html#

However, `conan config list` lists no such option. I have attempted to define this sdk_path in conan.conf in ~/.conan under `[conf]`, as well as under the `[options]` section of my

[2022-03-15 17:30] horst98 opened #10792 "[bug] Qt 5.15.2 without OpenSSL is compiled nevertheless with OpenSSL"
Compiling Qt 5.15.2 without OpenSSL is compiled nevertheless with OpenSSL when using a conanfile.txt.  I tried various combinations of command line parameters and conanfile.txt settings. The last trial is shown below.

### Environment Details (include every applicable attribute)

  * Operating System+version: Ubuntu 21.04
  * Compiler+version: gcc 10.3
  * Conan version: 1.46
  * Python version: P

[2022-03-15 17:31] memsharded commented on #10791
Conf is declared:

- In global.conf file (https://docs.conan.io/en/latest/reference/config_files/global_conf.html)
- In profiles in section ``[conf]``  (https://docs.conan.io/en/latest/reference/profiles.html#tools-configurations)
- In command line in ``-c tools.apple:sdk_path=<path>`` (``conan install -h``)

So it seems you are incorrectly defining it in ``[options]``

[2022-03-15 17:35] memsharded commented on #10792
I have just checked the recipe:

[code]
It seems indeed weird that this is happening. Can you please post the full output, just in case?

[2022-03-15 17:55] avetiso commented on #10791
I've created a global.conf with exactly these contents:

[code]

`conan config list` now returns an error:  'Error in Conan initialization: Bad conf definition: [conf]'

If I add it to my already existing conan.conf, there is no error, but `conan config list` still doesn't report the option.

[code]

I have also tried adding it to the profile that is the cross build (from macos to ios, armv8). Her

[2022-03-15 18:02] avetiso commented on #10791
Found my issue. Swapped the build and host profiles inadvertently.

[2022-03-15 18:02] #10791 closed, assigned to memsharded

[2022-03-15 18:04] memsharded commented on #10791
Yes, ``global.conf`` does not contain the ``[conf]`` header, that is only for the profiles.

[2022-03-15 21:21] jwillikers commented on #10353
I agree completely with @SeanSnyders. Managing a large number of dependencies using the same testing frameworks is made more manageable by being able to override `test_requires` across projects. I'd rather just use `requires` with its downsides just to make the requirement easier to manage. And `gtest` doesn't actually adhere to semver but expects consumer's to live at head, i.e. a Git commit hash

[2022-03-15 22:12] SeanSnyders commented on #10562
We also get this error below in 1.46.0 which worked in <= 1.45.0:

![image](https://user-images.githubusercontent.com/1384135/158480973-1130ff78-0f30-43a2-a06e-1588b47d7932.png)

[2022-03-15 23:43] memsharded commented on #10562
This was working by accident, some legacy not removed in code while copy-pasting, but the ``output_on_failure`` was never part of the documented, public interface of ``CMake.test()``: https://docs.conan.io/en/1.45/reference/conanfile/tools/cmake/cmake.html#test

[2022-03-16 01:00] avetiso opened #10796 "[question] Set conan_meson_cross.ini [properties] field?"
There is a well known case in meson that it will fail to correctly auto detect if the build machine can execute host binaries if the build machine is Macos and the host is iOS because in my case the arch is arm64 in both. The result is that the build fails because Meson trys to execute the binary as part of of its 'compiler sanity check'. This fails of course, and stops the build, even though it w

[2022-03-16 01:16] eli-schwartz commented on #10796
Meson is principled here, and actually refuses to allow projects to encode information modifying the conan cross file properties. This does need to be solved as part of conan's build environment setup.

[2022-03-16 08:21] janosvitok commented on #10509
For workaround see [above](https://github.com/conan-io/conan/issues/10509#issuecomment-1054529284):

[2022-03-16 08:27] memsharded commented on #10796
I am not sure what that means, Meson is agnostic about Conan, it is not that it can refuse to encode information regarding Conan files, it is that it doesn't even know that such files exists.

If the thing is that adding to ``[properties]`` custom things is necessary, I think that is an easy feature. The ``MesonToolchain`` already has support for ``[project_options]``, it would be identical. Someo

[2022-03-16 09:20] memsharded commented on #10715
Closed by https://github.com/conan-io/conan/pull/10798

[2022-03-16 09:20] #10715 closed, assigned to memsharded

[2022-03-16 09:56] gpxricky commented on #8486
The `scm` attribute will be removed in Conan 2.0, so I'll close this issue.

[2022-03-16 09:56] #8486 closed, assigned to nobody

[2022-03-16 09:59] gpxricky commented on #9067
Thanks for your feedback. So the only chance is to run these two jobs in sequence. Conan 2.0 may improve that situation, but it's unclear. I'll close this issue.

[2022-03-16 09:59] #9067 closed, assigned to memsharded

[2022-03-16 10:15] SpaceIm opened #10801 "[feature] Add 13.1 support for apple-clang in settings.yml"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I've upgraded AppleClang on my mac, and I see these errors in CMake based recipes:

[code]

I'm also wondering if adding major only versions would make sense (as gcc or clang)?

For example:

[code]

I've also tried to set `CONAN_DISABLE_CHECK_COMPILER=ON` in profile, but it doesn't h

[2022-03-16 10:40] gpxricky commented on #9193
@memsharded

As the Conan package I want to deploy is already available in the Conan cache and a dependency of my recipe: is there any way to get rid of all the profile, settings and other stuff, just read out the full package reference (including package_id, revisions, etc.) for my dependency and then call the `deploy` generator on it?

[2022-03-16 10:42] memsharded commented on #10801
There is a PR for this in https://github.com/conan-io/conan/pull/10797

[2022-03-16 10:45] SpaceIm commented on #10801
Thanks.

And what about allowing major only version?

[2022-03-16 11:01] memsharded commented on #10801
Needs to be investigated about binary compatibility, if it is similar to gcc one or not

[2022-03-16 13:12] gpxricky commented on #10779
@memsharded

I wonder if there is a way to recreate the current behavior with the 2.x approach? I guess the deployer will just get a limited `conanfile` (e.g. no python_requires resolved), where I can't call methods like the `deploy` method?
What else can be the solution to recreate the current behavior?

[2022-03-16 13:52] memsharded commented on #10779
@dornbirndevelops

Yes, that is true, that will not execute the ``generate()`` method of ``package/1.0.0``, as that method is to generate the build environment for package/1.0.0, not for its consumers. To be more explicit about the behavior, the CLI in 2.0 is:

[code]
To make explicit it is the equivalent to having a local conanfile with a requires section (it was always this way, also in 1.X, but

[2022-03-16 14:01] derived-coder commented on #7431
What do you make you think that?

[2022-03-16 15:19] RobertBerger commented on #7431
Because of the way people seem to use Conan.

People typically build binaries with Conan using an SDK and upload the binaries to Artifactory.
This process does not produce binary reproducible binaries. [1]
Just try to build the same thing twice with Conan and compare the binaries.
Are they identical?

[1] https://reproducible-builds.org/

[2022-03-16 16:06] #10602 closed, assigned to nobody

[2022-03-16 16:13] memsharded commented on #10602
https://github.com/conan-io/conan/pull/10725 was merged, but it is displaying only a warning, not a hard error, because there are situations that could make sense (and it could be breaking), for example, installing some dependencies for a system to see if able to build locally, before removing the ``validate()`` exceptions.

[2022-03-16 16:24] memsharded commented on #10602
Merged to 2.0 raising exception.

[2022-03-16 16:42] smasihemami commented on #284
for others out there looking for a new link that works: https://docs.conan.io/en/latest/reference/conanfile/methods.html?highlight=copy

[2022-03-16 21:18] samuel-emrys commented on #10602
Hi @memsharded, are you able to elaborate on this use case? From what you've described, that's exactly the use case we would be trying to prevent - ability to say "No, this package can't be installed on this operating system" (or any other criteria) and a manual attempt to do so would fail. Why does this need to be a warning and not a hard error?

[2022-03-16 22:05] memsharded commented on #10602
Yes, lets say that you have a package ``validate()`` that is raising for ``cppstd<17`` configuration.
There might still be some users that are doing a ``conan install . -s compiler.cppstd=11``, because that might be still work, and succesfully download and install the **dependencies** in built with cppstd=11. Maybe it won't be able to build itself with cppstd 11, but it will manually inject or cha

[2022-03-16 22:05] avetiso commented on #10796
I can try to tackle this sometime this weekend, in the meantime simply layering an additional cross file with these properties works.

[2022-03-16 22:15] eli-schwartz commented on #10796
It means that conan provides a Meson cross file, and Meson doesn't permit *setting* values of Meson cross files from `meson.build` files because Meson strictly separates build recipes (`meson.build`) from environment setup (cross files).

That is indeed what is necessary, and hopefully should be quite easy.

The OP theorized that as a workaround for not being able to add custom things to `[propert

[2022-03-16 22:20] memsharded commented on #10796
Yes, now I see what you mean. Conan does exactly the same, recipe ``conanfile.py`` cannot define values of settings, it is decoupled and those values can only be defined in profiles files (or cli args). It is important to separate the definition from the configuration.

@avetiso might try it this weekend, if not possible, we will see if we can do it ourselves.

[2022-03-16 22:25] memsharded commented on #10754
Implemented in https://github.com/conan-io/conan/pull/10795

[2022-03-16 22:25] #10754 closed, assigned to memsharded

[2022-03-17 01:48] SeanSnyders commented on #10562
Ok Thanks @memsharded. Yes, that was a mistake on ours to not verify new `CMake` helper parameters.

[2022-03-17 06:00] SeanSnyders opened #10802 "[bug] tools.cmake.cmaketoolchain:user_toolchain feature in 1.46 breaks existing profile usage in 1.45.0"
### Environment Details (include every applicable attribute)
  * Operating System+version: any (tested on macOS and Ubuntu)
  * Compiler+version: n/a
  * Conan version: 1.45.0 and 1.46.0
  * Python version: 3.8

### Problem

We distribute centralised Conan profiles to teams and in these profiles we use the property ``tools.cmake.cmaketoolchain:user_toolchain`` and set it to a string value.
This wo

[2022-03-17 06:51] eirikb commented on #7431
@uilianries I managed to build `boost`. I moved the `PATH` variable from `hostpr` [to the docker image](https://gist.github.com/eirikb/5ef8fd76248a8729a4e8edbc5f64cbe0/revisions?diff=split).
I changed the order of the `PATH` as well, moving Yocto stuff to _after_ the original `PATH`.
Opposite of what Yocto SDK environment setup file does.
In hopes it won't affect non-toolchain builds too much.

I'

[2022-03-17 06:53] ma30002000 commented on #10782
Thanks, I think we can close this issue.

[2022-03-17 06:53] #10782 closed, assigned to nobody

[2022-03-17 06:57] SeanSnyders commented on #10802
And if I wrap the setting in `[]` like `tools.cmake.cmaketoolchain:user_toolchain=[$ENV{CONAN_CMAKE_TOOLCHAIN_FILE}]` then it does not work with Conan 1.45.0 giving error
![image](https://user-images.githubusercontent.com/1384135/158753734-ce71a4d4-6d86-4fd3-97c6-eb00e83ec691.png)

[2022-03-17 07:55] db4 opened #10803 "[question] Are empty string and False option values equal for Conan?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I have a recipe with an option specified as
[code]
It turned out that `False` and `''` values are equal for Conan: they generate the same package ID. Is it intentional behavior?

[2022-03-17 08:08] gpxricky commented on #10777
@memsharded

Do you mean something like this?

[code]

[2022-03-17 08:31] memsharded commented on #10803
Yes, options are evaluated as "falsey" with "off", "0", "false", "", "None" and they are excluded from package_id. It was a mechanism to allow introducing new options without breaking existing package_ids.

I think Conan 2.0 will make it more strict, and only exclude the ``None`` one.

[2022-03-17 08:32] memsharded commented on #10802
All the ``conf`` feature and ``CMakeToolchain`` feature are experimental and marked as such in the docs. They are allowed to break from release to release. We try hard not to do it, but the ``conf`` system had some serious limitations and this had to be changed.

@franramirez688 might help with the details.

[2022-03-17 08:33] franramirez688 commented on #10802
Hi @SeanSnyders

Yeah, sorry for the inconvenience. The `conf` section is continuously evolving and it's getting more and more stable but it's true that it's still a kind of experimental one so that's the reason why we put it as `feature`.

Now, you have to define the `user_toolchain` as a Python list format:

[code]

Here you were missing the quotes.

[2022-03-17 08:41] SeanSnyders commented on #10802
HI @memsharded .
Yes I do see the `experimental` notes. They are basically on all the main new parts of Conan which makes it practically very difficult to use. How should one interpret things when a large part of a practical use of a product is labeled `experimental`?

Thanks @franramirez688 But I think Conan 1.45.0 would still not be able to load that `[""]` version of the conf?

I can maybe solv

[2022-03-17 09:27] memsharded commented on #10777
@gpxricky Yes, I think we can make it built-in part of the ``Git`` helper, if we get enough understanding of the mechanism, and if it is low risk. So a couple of things:

- Is there some docs link? I cannot find docs for the ``!p() {}`` syntax.
- Some general assesment on security risks?

Some more feedback from other users regarding other potential features regarding credentials would help to imp

[2022-03-17 10:08] #10509 closed, assigned to nobody

[2022-03-17 10:09] kutschkem commented on #3630
I'll say I think we can close this issue. The assumption here is the original problem was, like for others, due to path length issues. Solutions have been mentioned in this thread and I don't see what else could be done from conan side.

[2022-03-17 10:09] #3630 closed

[2022-03-17 10:10] ruilvo opened #10805 "[feature] Handling fine control of builds: C[XX]FLAGS, etc."
Following a [discussion on the cpplang slack](https://cpplang.slack.com/archives/C41CWV9HA/p1646556536574179), I'm moving discussion here.

The discussion more or less goes like this:

I'm the author of library L1.
In my library L1, I want to use dependencies D1, D2, D3.
D1, D2, D3 consumed via Conan, of course using a `conanfile.[txt|py]`, whatever would be more convenient.
CMake for building L1.

[2022-03-17 11:05] ruilvo commented on #10805
An interesting discussion I had about this issue:

[code]

[2022-03-17 11:20] memsharded commented on #10610
Hi @tonka3000

Yes, there was some previous versions missing there, I have done https://github.com/conan-io/conan/pull/10808 to address this.
I added a unit test, but I didn't manage to get an older VS installed, so it would be great if you could run from my source branch there, to see if things are looking ok.

[2022-03-17 11:25] memsharded commented on #10805
We are investigating the possibility of a explicit management of compile flags, something that was not done before (it was kind of possible via environment, but not managed directly by Conan).

https://github.com/conan-io/conan/pull/10800 is adding:

- The possibility of defining ``[conf]`` values in your profile and command line for CFLAGS, CXXFLAGS
- The builtin toolchains (like ``CMakeToolchain

[2022-03-17 11:39] aurelienrb opened #10809 "[question] Impact of a remote with error "Trying to modify locked package""
Hello,

I just understood what causes my CI pipeline to fail from time to time with the error `ERROR: Trying to modify locked package xxx`

Here's what I do:

[code]

The first time it works fine and well: the package is exported on our internal Artifactory 👍

When I run again my CI to do test some changes on my recipe, `conan export-pkg` completes as usual... before failing with `ERROR: Trying to

[2022-03-17 11:53] SSE4 commented on #10805
one missing peace, which might be (extremely) hard to nail.
these flags do not participate in package ID.
it means, whenever you specify `tools.build:cxxflags=-fsanitize-address`, conan will not rebuild binaries by default, but will just download binaries from the remote, which more likely were not compiled with `-fsanitize-address`. not something one expect.
so, user will have to enfore `--build

[2022-03-17 12:01] memsharded commented on #10805
these flags do not participate in package ID.

There are plans to make ``conf`` optionally part of the package_id. There is already some undocumented infrastructure.
But lets go one step at a time. The first important thing is to validate that it is practical to define and pass the flags.

Regarding the other issues, it is impossible to have a generic, automatic model for package_id regarding flag

[2022-03-17 13:05] db4 commented on #10803
Yes, please do it!

[2022-03-17 13:41] ruilvo commented on #10805
I'm happy the team is thinking about these issues! And mostly reaching the same conclusions!

Thanks for everything!

[2022-03-17 14:03] SSE4 commented on #1839
related discussion: https://github.com/conan-io/conan-center-index/pull/9807

[2022-03-17 16:29] lasote opened #10813 "[feature] Settings available but not declared"
It is typical to read settings because you need to know the value (during build) but you don't want that setting to be declared in the recipe, because in case the consumer doesn't specify the setting you want to be able to locate a built binary.

[2022-03-17 17:48] MarcelRaad opened #10815 "[suggestion] toolset support for `msvc` compiler"
Continuing from https://github.com/conan-io/tribe/pull/32#issuecomment-1070639667:

I'm currently using the non-default `v141_xp` and `ClangCL` toolsets with the `Visual Studio` compiler and the `CMake` and `MSBuild` build helpers from `conans`. I've just started trying to switch to the `msvc` compiler and the new build helpers from `conan.tools`. Unfortunately, I haven't found a way to specify a

[2022-03-17 19:02] jsallay opened #10816 "[bug] CMake.patch_config_paths, CMakeDeps and build_id broken"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20 (Building in an Ubuntu docker image)
  * Compiler+version: gcc9
  * Conan version: 1.46.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I have a large package that I am building and would like to create two packages, one with everything and the other removing a few feat

[2022-03-17 19:24] memsharded commented on #10816
The ``CMake.patch_config_paths`` belongs to the legacy ``CMake`` generator, not to the ``from conan.tools.cmake import CMake`` modern one.

You cannot mix the legacy tools with the new ones, like ``CMakeDeps``. If you are going to use ``CMakeDeps``, please use the matching ``from conan.tools.cmake import CMake`` helper.

Also, the ``CMake.patch_config_paths`` is not intended to modify the files cr

[2022-03-17 20:05] #10752 closed, assigned to nobody

[2022-03-17 20:52] jsallay commented on #10816
Thanks.  It looks like I only partially upgraded to the new CMake stuff.  I'll try out the new CMake and toolchain parts and see how that goes.

[2022-03-17 20:52] #10816 closed, assigned to nobody

[2022-03-18 00:22] SeanSnyders opened #10818 "[feature] Support Conan version and semver handling in profile template render context"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

As reference, see https://github.com/conan-io/conan/issues/10802

It would be good to have the Conan version available in the profile jinja template render context to be able to do better logic in profiles, especially with breaking changes introduced via new versions of Conan.

Having

[2022-03-18 00:22] SeanSnyders commented on #10802
How about adding more to the profile jinja2 template render context such that we can get Conan version made available in profiles? Like the version of Conan, and maybe some other tidbits. Added a feature request: https://github.com/conan-io/conan/issues/10818.
This will save me doing workarounds via the available python `os` module.

As notes to others, to solve this issue, I implemented this work

[2022-03-18 03:37] hwhsu1231 commented on #10769
I don't know why, but it looks like this bug has been fixed after some modifications of [conan-center-index](https://github.com/conan-io/conan-center-index) from the issue: https://github.com/conan-io/conan-center-index/issues/9794. So I will close this issue.

**NOTE:** I notice that the filename of `*-config.cmake` files has been changed. (from `qt-config.cmake` to `Qt6Config.cmake`) So the only

[2022-03-18 03:38] #10769 closed, assigned to nobody

[2022-03-18 11:09] memsharded commented on #10815
Hi @MarcelRaad

I have added support for ``_xp`` toolsets in https://github.com/conan-io/conan/pull/10808 for the ``msvc`` compiler.
It would be great if you could have a look, ideally running Conan from my PR source branch, and report.

Regarding ClangCL, that would need some more thinking, but I believe adding xp toolsets as a start sounds good.

[2022-03-18 11:37] iaavo opened #10823 "[question] associating test results to an existing conan package"
Here is a draft of our use case:
[code]
The output of the `Build + Smoke Test` stage is a Conan package including test results (e.g. in xml format) uploaded to an artifactory repository.
During the night, the `Nightly Integration Test` is run which takes the existing Conan package from artifactory and runs the integration test. This stage also generates some test results.

Now the question is, how

[2022-03-18 11:48] gnzlbg opened #10824 "[bug] conan docker containers fail to install packages"
To reproduce:

[code]

errors with

[code]

I don't expect this to error.

Most applications have their own docker containers.
To use conan, one needs to install and setup conan within those containers.

It would be super helpful to document somewhere how to install conan into an already existing container and how to set it up for development.

[2022-03-18 11:48] gnzlbg commented on #10824
In our own containers, I'm seeing errors of the form:

[code]

[2022-03-18 11:56] SpaceIm commented on #10801
It's worth noting that even though 1.46.1 has added `13` in allowed apple-clang versions, coherency check fails in `cmake` generator if you set `compiler.version=13` in your profile.

[2022-03-18 12:06] MarcelRaad commented on #10815
Thanks, sounds good, I'll have a look! Might take me a while though as I'm not very familiar with Python development yet. (Edit: your README.rst is great though, so it will probably not take that long 👍 )

[2022-03-18 12:52] czoido commented on #10801
Yes, sorry for that, we are releasing 1.46.2 today fixing that

[2022-03-18 12:56] memsharded commented on #10815
Yes, the ``git clone`` + ``git checkout <branch>`` + ``pip install -e .`` works quite well. Looking forward your feedback!

[2022-03-18 12:57] memsharded commented on #10824
I think this is not a Conan issue per se, but some docker configuration. What do you think @uilianries?

Maybe move it to ``conan-docker-tools`` repo?

[2022-03-18 13:02] uilianries commented on #10824
@gnzlbg The image that you mentioned is deprecated and commented here: https://github.com/conan-io/conan-docker-tools#gcc

Please, consider using the images listed on modern directory, also documented here: https://github.com/conan-io/conan-docker-tools/tree/master/modern#gcc

Also, any topic related to Conan Docker images, can discussed on https://github.com/conan-io/conan-docker-tools/issues

[2022-03-18 13:06] memsharded commented on #10823
Hi @iaavo

One of the things is that you cannot have a dependency loop (at least in Conan 1.X), so you cannot have one package (lets call it ``pkg/1.0``) depend on itself. So it is not possible to "extend" one package with extra tests results in the first place, not only because of the immutability principle, but because you cannot depend on that package to use it, because that would introduce a l

[2022-03-18 13:09] lasote opened #10825 "[bug] Apple-clang 13.1 and Catalyst"
Conan is injecting the `--target=x86_64-apple-ios-macabi` to CXXFLAGS and it is not valid anymore.
The compiler 13.1 requires a version for ios specified in the tuple: `--target=x86_64-apple-ios13.1-macabi`.
Looks like the minimum version working is 13.1:
[code]
And it is very likely it is talking about the iOS version, but it might be convenient to model this with a subsetting of the "catalyst"
l

[2022-03-18 13:33] gpxricky opened #10826 "[bug] Wrong install_folder when using layout() method and package development flow"
Hi,

I think there is a bug that sets the `self.install_folder` attribute to the recipe folder when the `layout` method is defined and the package development flow is used.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: -
  * Conan version: 1.46.0
  * Python version: 3.8.9

### Steps to reproduce (Include if Applica

[2022-03-18 14:24] MarcelRaad commented on #10815
Tested with the new CMake build helper + Visual Studio 2022 (17.0) + v141_xp toolset and it works great. Thanks a lot! 👍

[2022-03-18 15:20] memsharded commented on #10815
Excellent, thanks for the feedback @MarcelRaad !

[2022-03-18 15:56] gpxricky opened #10827 "[bug] self.env_info not resolved in consumer"
Hi,

I'm not sure if it is a bug, but `self.env_info` seems to behave differently when comparing version 1.38.0 with 1.45.0 or 1.46.0. See below for an example. Is this a bug or is this desired?

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 20H2
  * Compiler+version: -
  * Conan version: 1.38.0, 1.45.0, 1.46.0
  * Python version: 3.8.9

###

[2022-03-18 16:28] memsharded commented on #10827
Quick question, are you using the ``--profile:build`` somehow, defined in the default config, or passed in command line in some ``-s:b ...`` or ``--profile:build`` argument that you are not showing? That would explain it.

[2022-03-18 16:33] gpxricky commented on #10827
@memsharded You are right, I've added a default build profile to `global.conf`. However, why does it affect the definition or usage of environment variables? And how to fix it if I need to have a build profile (which is recommended by the Conan 2.x migration guide)?

**Edit:** when removing the build profile from the `global.conf` it works fine in version 1.46.0. I just don't get the point why it

[2022-03-18 16:43] memsharded commented on #10827
The usage of the build profile opts-in into a new behavior, the resolution of the dependency graph in 2 contexts: the "build" context for tools and the "host" context for libraries. With this new mechanism:

- The ``cpp_info`` propagates in the host context: You can only link headers and libraries that are in the same host context you are compiling for, but not in the build context. Example: cross

[2022-03-18 16:59] gpxricky commented on #10827
@memsharded

Many thanks for clarification. I have had a quick look into the documentation, but haven't understood everything. Need to do some tests for my own to understand it, probably.

In short: to solve my issue, the only way to do this is to change dependencies that provide environment variables to be a `tool_requires`? In my real example, this dependency is a SDK like dependency and therefo

[2022-03-18 17:26] memsharded commented on #10827
The possibilities are:
- Not use the build and host profile, just the host one
- Using the build profile, and not using the new environment tools, yes, you would need to convert it to tool_requires
- Using the build profile, and using the new environment tools, you can define the ``buildenv_info`` and ``runenv_info`` in your host dependencies, and you will get them via the new generators

Using th

[2022-03-18 21:08] computerquip-work opened #10829 "[bug] OPENSSL_FOUND and similar variables aren't defined"
External code often relies on the variable OPENSSL_FOUND being defined. I see code in the OpenSSL package recipe to handle this but I'm a bit confused as to how this is supposed to work. Provided is a test case showing that `OPENSSL_FOUND` is *not* defined but `OpenSSL_FOUND` is defined by default.

### Environment Details (include every applicable attribute)
  * OS: Arch LInux
  * Compiler: GCC 1

[2022-03-18 21:28] jmpatri1 commented on #5661
I would sure love to search for all packages matching a specific topic.  Would allow me to set all my internal packages to use a common namespace theme, then find what's available on the servers via a conan search --topic topicA command

[2022-03-18 23:16] computerquip-work commented on #10829
I really don't understand this. If I minimize the example (note the use of OpenSSL 3.0):
[code]
I get the output:
[code]
Looking at that cmake module, it contains:
[code]
It seems like it should be set. I can modify that file to output markers. The file is definitely included but in that context `if (DEFINED OpenSSL_FOUND)` fails. So this seems to me that the *Config.cmake files don't implement <p

[2022-03-19 07:00] pananton opened #10830 "[question] cl.exe stucks when building libiconv/1.16 as CI job in gitlab (probably msys2 issue)"
Hello! I have a problem with building libiconv and some other libraries which use msys2 on windows as part of gitlab CI job (run in powershell). Probably the cause of error is specific to gitlab, but maybe you can give some advice where to look for solution. When my CI job executes `conan create libiconv/1.16@ .` on windows I see the following output:

[code]
After the last line the building stuck

[2022-03-19 07:06] pananton commented on #10830
Forgot to mention, that if I directly login to runner's machine with the same user ('gitlab' in my case) and execute `conan create` in a powershell then everything works just fine. The problem is only when recipe is built as part of CI, so I'm almost sure that the problem is in it's settings, but maybe someone had the same issue..

[2022-03-19 08:55] db4 opened #10831 "[question] Globally defining ABI compatibility between various compiler versions?"
I'm switching my development to VS2022. The Conan way to do that is rebuilding all binary packages for VS2022 (including CCI ones - note that CCI doesn't provide VS2022 binaries yet). But Microsoft guarantees binary compatibility of its newer compilers with older ones starting with VS2015: https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017

Can this compatibility be declared in C

[2022-03-19 15:59] pananton commented on #10830
I've changed libiconv recipe to use msys2/20210105 as dependency and everything works. Then I've tried to use msys2/20210105 recipe but make it download the same archive as current msys2/cci.latest (through conandata.yml) and received the same error. So I belive that the problem relates to msys2 itself. Any advices/opinions are appreciated)

[2022-03-20 05:59] hwhsu1231 opened #10832 "[feature] Provide `PackageName_PACKAGE_FOLDER` (Cache) variable when using `CMakeDeps`."
This issue is related to the following issues:

- https://github.com/tonka3000/vscode-qt-tools/issues/69
- https://github.com/conan-io/conan-center-index/issues/9829

### Problem Description

The mechanism of using `CMakeDeps` is to genereate some `*-config.cmake` files inside the build directory folder. Therefore, after calling `find_package(Qt6)` to load the configuration, the `Qt6_DIR` will be

[2022-03-20 12:31] memsharded commented on #10831
Not in 1.X, but we are proposing it for 2.0 https://github.com/conan-io/conan/pull/10241

[2022-03-20 12:46] memsharded commented on #10832
But what should you do when you have installed both the Debug and Release configurations? Why the variable should use the Debug one?
There is already some logic in ``CMakeToolchain`` to help locating things directly from consumer builds, (not necessarily using ``CMakeDeps``), it would make sense to try to address it there if any.

[2022-03-20 12:51] memsharded commented on #5661
Hi @jmpatri1

Being able to search by topics in servers too, would require to do server side changes (and all server implementers should do it, and that is complicated, we can only try to suggest it to Artifactory team and even that is complicated, which server are you using?)

How many packages are you using at your organization to require this?

I am afraid this will not be possible at the momen

[2022-03-20 16:37] steromano87 opened #10833 "[question] Declare system library dependency for a single component only"
I'm developing a library (let's call it `myLib`) that is split in multiple components (let's assume, for simplicity, `compA` and `compB`).
Component A needs a system library during compilation and runtime (`libssl`), while component B does not need it.

In the `package_info` and `system_requirements` sections of my Conanfile, now I write something like this:

[code]

However, when I consume my lib

[2022-03-20 18:31] memsharded commented on #10833
Hi @steromano87

This is not possible, because package installation is decoupled from package consumption. You install one package, with all its files, binaries and headers. All the components are always installed. The components declaration is used for consumption, to avoid linking with more libraries than needed. But once the package is installed, it can be used in different projects, with diffe

[2022-03-20 23:30] avetiso commented on #10796
@memsharded @eli-schwartz could use some input here.

Added some code to the meson toolchain to add [properties] to the generated conan_meson_cross.ini file. Works as expected.

First draft of the important part looks like this:

[code]

I know nobody compiles on iOS to run on iOS, but I'd imagine there are situations where this is done on Android? Idk, could use some input on what you guys want t

[2022-03-21 00:14] eli-schwartz commented on #10796
https://github.com/mesonbuild/meson/blob/adc509ed98694d3c7a7b0c578c94cb3a886c21eb/mesonbuild/compilers/mixins/clike.py#L285-L339

You're getting an error message from a code branch that explicitly runs only if the compiler is not a cross compiler, or an exe_wrapper is set.

The precise debug contents of `builddir/meson-logs/meson-log.txt` might prove instructive in deducing the cause.

[2022-03-21 00:17] avetiso commented on #10796
Hmm, in my conan profile I set the correct tools.apple:sdk_path for iOS depending on whether it's x86_64 (simulator) or armv8 (native for iOS). I was under the impression that simply doing that would handle the rest, but it sounds like I'll also need to set CC and CXX explicitly to the compilers in those SDKs. I'll try that later.

[2022-03-21 00:35] avetiso commented on #10796
Actually, here are the flags in the conan_meson_cross.ini:

[code]

AFAIK, the compiler used to cross compiler iOS is the same as the compiler used to compile natively on macOS. The flags that it's generating are correct, and even the comment in the code you linked me seems to agree. So I am using a cross compiler, and I didn't set an exe wrapper as far as I am aware.

We've been compiling it like

[2022-03-21 08:03] #10610 closed, assigned to nobody

[2022-03-21 08:03] #10815 closed, assigned to memsharded

[2022-03-21 08:23] memsharded commented on #10815
I am going to open a new issue for the clang toolsets.

[2022-03-21 08:25] memsharded opened #10835 "Integration for ``msvc`` compiler clang/llvm toolsets"
Recently added support for ``v14x_xp`` toolsets, but still missing the clang/llvm ones.
It seems the idea would be:
- The compiler is clang
- Add necessary information to settings or conf to define which VS version to be used.
- Define mapping between clang versions and vs toolsets
- Have toolchains to use that.

_Originally posted by @memsharded in https://github.com/conan-io/conan/issues/10815#i

[2022-03-21 08:35] martinrotter opened #10836 "[bug] SHORT DESCRIPTION"
### Environment Details (include every applicable attribute)
  * Operating System+version: win10
  * Compiler+version: msvc16
  * Conan version: 1.46
  * Python version: 3

### Steps to reproduce (Include if Applicable)

Download qt6.2.3 recipe to local folder and run "conan build .".

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-03-21 08:46] slietzau opened #10837 "[bug] 'cmake' generator does not set INTERFACE_LINK_DIRECTORIES"
### Environment Details (include every applicable attribute)
  * Conan version: 1.46.0

### Steps to reproduce (Include if Applicable)

The error surfaced when trying to consume  `boost` with option `magic_autolink=True`. This option causes the link library list to be empty. Instead the boost headers include `#pragma comment` statements to select the libraries to link against. For this approach to

[2022-03-21 08:54] memsharded commented on #10837
Hi @slietzau

The ``cmake`` and ``cmake_find_package`` generators are no longer being developed, and efforts have been shifted to the new ``CMakeDeps`` and ``CMakeToolchain`` integration. Please have a look at those and report if necessary.

[2022-03-21 08:57] memsharded commented on #10836
Hi @martinrotter

This is not a Conan issue, but mostly a recipe issue. So I am moving it to conan-center-index repo.

But it is likely that this will not be addressed quickly. Conan 2.0 will change how the ``conan build`` command is evaluated, doing a full graph computation, so most likely this will not fail in Conan 2.0 when the recipe is upgraded to support 2.0.

[2022-03-21 09:03] memsharded commented on #10796
I think it is safe to assume that building for iOS is always cross-building.

If you have already some conan changes, feel free to share a diff, or even better, a PR. You can put it in "draft" mode if it is not final. Our CI is doing some tests already that are cross-building to iOS, so not an issue to test that too.

[2022-03-21 09:12] memsharded commented on #10610
This was closed automatically when merging #10808, but please @tonka3000, if you could report (now that is merged, you can even test it from PyPI-test) if it is working for your use cases, it would be fantastic. The https://github.com/conan-io/tribe/pull/32 proposal is still open waiting for this, if this works, I guess you might change your downvote? (check the comments there too proposing change