[2021-06-24 15:22] playgithub commented on #9153
Alright

Thanks for you detailed answer, I've read the docs, but forget something, now I understand `conan` better.

[2021-06-24 15:22] #9153 closed, assigned to nobody

[2021-06-24 16:06] bldrvnlw commented on #9112
Hi @SeanSnyders

I also have a case where the conan package (hosted in a private artifactory) provides its own <package-name>config.cmake files. However in that case the package is not a build requirement but a regular requirement of the code being built. Are you saying that the only way to get this "included" is to declare it as a build requirement?

In my case conan usage is restricted to a cona

[2021-06-24 16:39] sjames1958gm opened #9154 "Xcode generator puts full hard coded path into xconfig files"
I am wanting to incorporate conan into our Xcode builds. When I use the xcode generator it puts the entire path (including the home folder) into the .xconfig file.

For example:

`HEADER_SEARCH_PATHS = $(inherited) "/Users/sjames/.conan/data/cppunit/1.15.1/_/_/package/6a83d7f783e7ee89a83cf2fe72b5f5f67538e2a6/include"`

This makes it difficult to include this file into our repository. On windows wh

[2021-06-24 16:50] memsharded commented on #9154
Hi @sjames1958gm

That is true. Many, if not all Conan generators put absolute paths in the generated files. Generated files are not intended to be committed to source control, but to be generated in the computer. The Visual Studio one (I think it was ``visual_studio`` one, actually the newer, recommeded ``MSBuildDeps`` do not implement this) that provides the USERPROFILE is the exception, and as

[2021-06-24 16:56] sjames1958gm commented on #9154
Interesting. Thanks for your quick response and describing the philosophy behind the implementation.
If all of the libraries are already installed on the machine the conan install process is relatively quick. Our concern was running the conan install process on every build adding to the build times.

[2021-06-24 16:56] #9154 closed, assigned to memsharded

[2021-06-24 17:20] memsharded commented on #9154
Yes, that is the intention, if the packages are already in the machine cache, installing even a large graph should only take a very few seconds, so nothing really important, the file generation is very fast.

Take into account for CI that the cache is not intended to be used concurrently, so it is typical that CI define a blank cache for every job. There are mechanisms like the download cache, par

[2021-06-25 04:25] playgithub opened #9159 "[question] How to install a lib with a remote recipe"
e.g. to install boost using a remote recipe, the command below doesn't work
[code]

[2021-06-25 05:21] Viatorus commented on #9036
We have the same issue. @Psy-Kai Did you contact arm already?

[2021-06-25 06:26] sduraisamy opened #9160 "[question] Accessing installed package and enviourment variables outside of conan"
We want to access the environment variables exported to consumer in conan and installed path outside of conan in some scripts.
Is there any way we can access the conan exported variables outside of conan?

[2021-06-25 08:05] memsharded commented on #9160
Hi @sduraisamy

Have you tried the ``virtualenv`` generators? Those generate files with information about the env-vars defined by packages. We are also modernizing it with a new ``VirtualEnv`` generator (note the casing), still experimental, but will be the future in 2.0.

[2021-06-25 08:25] memsharded commented on #9036
As a temporary workaround, besides the other URL that @Psy-Kai pointed, it is possible to pass custom headers to ``tools.get()``, so passing a custom ``User-Agent`` one there might solve the issue.

[2021-06-25 08:48] memsharded commented on #9159
Hi @playgithub

When you report an issue you need to specify:

- The OS you are running, the Conan version, your Python version etc.
- The expected outcome or behavior
- Copy and paste the errors, the output, the logs. It is impossible to know what could be failing if you don't provide this info.

It seems that you might be missing the @ ``conan install boost/1.76.0@``

In any case, this is NOT th

[2021-06-25 09:53] hbwang15 opened #9163 "[question] conan package library is hardcoded found"
hello, guys, i encounter an problem with conan， I create an conan package with an exist shared library in it. and then make another shared library which is link against conan package. but the shared library i created link to conan package with an absoulte path, how can i solve this problem?
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING

[2021-06-25 09:54] hbwang15 commented on #9163
The rpath of this library is remove when run make install .which it is reasonable, but the part in red rectangle is wierd.

[2021-06-25 09:55] czoido opened #9164 "[feature] Continue working in the implementation of the Conan Cache for 2.0: --update flows"
The first implementation of the multi-revision Conan Cache for 2.0 is already merged: https://github.com/conan-io/conan/pull/8796

Following: https://github.com/conan-io/conan/issues/9076

Next step is implementing --update flows with the new cache to answer some questions like:
- What does it mean to --update in a multi-revision cache
- To what date the revisions are set when taken from the serve

[2021-06-25 10:01] czoido commented on #9076
Closed by: https://github.com/conan-io/conan/pull/8796

[2021-06-25 10:01] #9076 closed, assigned to czoido

[2021-06-25 10:13] memsharded commented on #8703
We still don't know what can be done here (besides a new model for binary objects in cpp_info), nothing we can fix atm, so I am moving this to 1.39, lets see if we get feedback about this.

[2021-06-25 10:34] playgithub commented on #9159
Thanks

[2021-06-25 10:34] #9159 closed, assigned to nobody

[2021-06-25 11:03] dornbirndevelops opened #9165 "[bug] dependency package not rebuilt when transitive dependency overwritten"
I developed a small library (mylibrary 2.0) which is provided as a conan package.
This library has a requirement on boost (version 1.75.0).
I also have a small app (myapp 1.0) which is provided as a conan package.
The app has a requirement on mylibrary (version 2.0).

Now that boost version 1.76.0 has been released, I want to accomplish that all dependencies of myapp use boost version 1.76.0.
Ther

[2021-06-25 11:05] dornbirndevelops commented on #9165
If this is not an issue, what is the intended way to achieve something like this?

[2021-06-25 11:26] memsharded commented on #9165
Hi @dornbirndevelops

The default conan ABI model is ``semver_direct_mode``, which means new ``package_ids`` are generated when the dependencies changed the major version. It seemed a reasonable default many years ago, but then we realized it is not the best default, and it will be changed in Conan 2.0.

You have full control of this mode, you can change in your configuration to something like ``m

[2021-06-25 11:59] dornbirndevelops commented on #9165
Hi @memsharded

changing the global configs `general.default_package_id_mode` to `minor_mode` solved the issue for me.
thank you very much for your help 👍🏼

[2021-06-25 11:59] #9165 closed, assigned to memsharded

[2021-06-25 13:53] KerstinKeller opened #9166 "[feature] provides keyword (or alternative) to be considered in version resolving process"
Conan 1.28 has introduced the `provides` keyword, and the user gets an error if multiple recipes provide the same functionality.
I know it's still marked as experimental, but I would like to remark  that it would be very beneficial if the `provides` keyword (or a separate one) could suggest that conan uses that information in the version resolving process.

Lets take the `libjpeg` and `libjpeg-tur

[2021-06-25 15:15] KerstinKeller opened #9167 "[question] Time spend in `conan export`"
Hi,

in our CI job, we're exporting ~170 recipes to a clean cache.
On Linux machines, this exports takes  ~1 minute, however on Windows machines (with short paths enabled) the process can take up to 10 minutes (sometimes it's quicker though, but always way slower that the Linux machines).

Is that something to be expected? Why the huge discrepancy? Or do you expect some issues (maybe misconfigurat

[2021-06-25 15:59] robindegen commented on #8883
I appear to be also hit by this. I am unable to build autoconf, as the added /mnt/ fails the package test. I disabled the test, but then automake also fails because it sets the environment variable wrong. I'd be happy with any kind of workaround at this point

[2021-06-25 19:01] uilianries commented on #9167
Hello @KerstinKeller!

Excellent question, it's something excepted indeed, but not because of Conan, but because the filesystem and OS used. As export command demands copy operation, on Windows it takes much longer than on Linux, naturally. Also, maybe you are running anti-virus or another service which scan files/directories and increases even more your time. Comparing Linux vs Windows copying ti

[2021-06-25 21:44] wbehrens-on-gh commented on #9140
Then how do I changing settings for `conan build`?

[2021-06-25 21:58] memsharded commented on #9140
You do:
1. ``conan install . -s os=Windows ... `` or ``conan install . -pr=myprofile``
Then
2. ``conan build .``

In Conan 1.X ``conan build`` does not define configuration, it uses the configuration of the previous ``install`` command, stored in the ``conaninfo.txt`` and ``conanbuildinfo.txt`` that ``conan install`` generates. (Conan 2.0 will change this).

[2021-06-27 14:41] aleksa2808 commented on #9167
@KerstinKeller probably not relevant for the Win/Linux issue, but out of curiosity are you calling the export commands separately from the CLI? In our setup I was doing just that and was only recently dumbfounded by the fact that the `conan` no-op command takes ~0.5s because of the Python imports. Upon switching to the (unstable) Conan API the entire exporting+locking CI step was sped up tremendou

[2021-06-28 02:15] SeanSnyders commented on #9112
@bldrvnlw Things are a bit uncertain and confusing at the moment - mainly due to lack some concrete example documentation (with toy packages as dependencies, etc) and some possible bugs in default behaviour of the feature. Maybe @memsharded can shed some more light, but through my latest experimentation in this issue I do not think it is behaving correctly yet.

I believe that setting `self.cpp_in

[2021-06-28 05:31] Viatorus commented on #9036
I just raised a ticket on ARM.

I investigated further and they are okay with the semicolon but they don't like Python.

If I change the user-agent from:

to:

Everything works.

So my suggestion: Write conan in Brainfuck. ;)

[2021-06-28 07:31] KerstinKeller commented on #9167
@aleksa2808 yes we are invoking `conan export` from CLI. Way back we started with the API, but heard it is unsupported.
And yes, it seems to me that the overhead is huge. I will try invoking everything directly.
And how exactly are you using the api? `conans.client.cmd.export`, or even something higher level? (e.g. `conans.client.conan_api`)?

[2021-06-28 07:32] MelisWillem opened #9169 "[bug] NotSpecified: (installing conan release packages:String) []"
Since I updated conan to the most recent version, I get a weird error in my build:

CategoryInfo             : NotSpecified: (installing conan release packages:String) [], RemoteException
FullyQualifiedErrorId : NativeCommandError

I do not get this error when I do not use jenkins, this looks a lot like these two past bug:
#534
#583

So I am not sure if this might be Conan, or Jenkins.

I tigger c

[2021-06-28 07:42] aleksa2808 commented on #9167
[code]
\+ similar thing for locking and other operations

Last I heard, the API is officially unstable, but, given the speedup that it gives us, being careful when changing versions is very much worth it.

[2021-06-28 07:56] memsharded commented on #9036
That further proves it is something weird on their side.

Seconded!! 🤣

[2021-06-28 08:28] czoido opened #9170 "Remove PackageCacheLayout from Conan 2.0"
Now that first implementation of the multi-revision Conan Cache for 2.0 is already merged: #8796
We should remove all the code from the old Conan Cache for 1.X

- The class PackageCacheLayout is still used in through the Conan Test Suite calling underneath to the new 2.0 Cache. We should remove that.
- There are some recurrent structures through the test suite for Conan 2.0 to get latest revisions

[2021-06-28 08:29] memsharded commented on #9169
Hi @Zilleplus

Those past bugs are really old bugs, like 5 years old, even before Conan 1.0, I'd say it is unlikely that they are the reason.
Without having any further logs or something, it is really difficult to know what could happen. I would suggest:

- Logging into the CI server, and run there (without CI), just to know if there is some environment different
- Make sure to enable all logs in

[2021-06-28 09:05] KerstinKeller commented on #9167
Ok, wow. Conan export is now 5s on Linux, and 43s on Windows. Still a huge difference, which in my opinion can't entirely be explained by just the file copying. But these are times that I can easily live with. (Hehe at least for now, let's see how many recipes we might have to deal with in the future).

Are there any plans in making the Python API stable for Conan 2.0?

[2021-06-28 11:58] memsharded commented on #9167
Yes, the Python api will be released in Conan 2, if not directly in Conan 2.0, as soon as possible in Conan 2.X. Initially it will be experimental but documented, and then it will be stabilized as soon as usage and feedback allows it.

[2021-06-28 12:07] memsharded commented on #9110
Closed by #9152

[2021-06-28 12:07] #9110 closed, assigned to franramirez688

[2021-06-28 12:39] memsharded commented on #9112
Hi @bldrvnlw

Using the internal package xxxx-config.cmake is still possible, that is only restricted in ConanCenter, because you should be aware of 2 main CMake limitations regarding xxxx-config.cmake:

- Internal package xxx-config.cmake will not work in multi-config environments, because CMake cannot locate or cannot do generator expressions over ``find_package()``. So if you want to switch Deb

[2021-06-28 13:32] #9167 closed, assigned to nobody

[2021-06-28 16:59] memsharded commented on #9166
Hi @KerstinKeller

We have thought about using the provides as a "name", and use it in the dependency resolution, but we have realized that it makes the problem way more complex, as it introduces a new dimension in something that is very core, and is used in many places in the Conan. The package name is used in dictionaries keys as a unique, hashable thing. The "alternative" names that ``provides`

[2021-06-28 17:31] playgithub opened #9172 "conflicts of shared and static for the same lib"
conflicts of shared and static for the same lib

If the project depends on wxwidgets(shared) and zlib(shared), while wxwidgets(shared) depends on zlib(static),
how to write `conanfile.txt` for zlib?

[code]

[2021-06-28 18:15] cboos commented on #9112
My use case was very similar and actually used to work... in conan 1.36, but no longer afterward.

I built a "Qt5" binary package to put together our own special build of Qt. It's very simple and doesn't describe any components on its own, but rather aims at delegating all the details to the existing `lib/cmake/Qt5/Qt5Config.cmake` provided by Qt which is the entry point for hundreds of additional

[2021-06-28 19:01] memsharded commented on #9172
You define the option you want to use if it is shared=True, write ``zlib:shared=True`` have you tried that?

[2021-06-29 03:04] playgithub commented on #9172
The option `shared` is for the lib that is being built.
For example, to control wheather `wxwdigets` should be shared or static, but how to control the libs `wxwdigets` link to?
In `conanfile.py`, the requirements have no info about to link to static or shared libs
[code]

[2021-06-29 05:14] harsszegi opened #9173 "[question] Conan cache is walked while doing conandata.yml export?"
Hi,

I am doing a conan create in Docker for a png package and I found out that it "stops for a while" while doing
export of conandata.yml. I've done an strace on the python process and it turned out it walks through the Conan cache.

######## conan create 1.6.37-11-8c2e132-dirty@
Exporting package recipe
png/1.6.37-11-8c2e132-dirty@cognex/master exports: File 'conandata.yml' found. Exporting it..

[2021-06-29 05:59] memsharded commented on #9172
I don't understand what you mean. As long as you put ``zlib:shared=True`` in your conanfile.txt, it will get that value, no need to put it also in the other ``conanfile.py``. If you want, you can change ``conanfile.py`` to change the default, something like ``default_options = {"zlib:shared": True}``, but this is not necessary, as long as you put it in the ``conanfile.txt``.

[2021-06-29 06:25] memsharded commented on #9173
Hi @harsszegi

At ``conan export`` Conan might check existing packages in the cache to see if there is any name conflict (upper-lower case conflicts, but this will only check top-level folders to get matching names, not inside packages), and it will check things like binaries for the current package being exported. But shouldn't be doing anything in other packages not being the exported one, this

[2021-06-29 06:29] playgithub commented on #9172
Thanks

[2021-06-29 06:29] #9172 closed, assigned to nobody

[2021-06-29 06:44] memsharded commented on #9173
Is it possible that you are using ``scm`` too? Does this still happen if you don't use it?

[2021-06-29 06:46] harsszegi commented on #9173
Nope, it is only part of the log, I have 60ish recipes in the Conan cache already, some of them are small, some of them are huge. Currently the export takes ~10 minutes for me. This is mostly because I am bind mounting my Windows Conan cache into Docker and I am using Docker for Windows with Hyper-V, which is damn slow when accessing Windows shares in Linux guest.
What I don't fully understand is

[2021-06-29 06:58] memsharded commented on #9173
No, it shouldn't recurse into the build folders, this is why it is so surprising also for me. I am running some experiments, but I can't find this recursion. The ``--build=missing`` is not connected to this, this is not an argument to ``conan export`` at all, it should error if you pass it, isn't it erroring? Or you probably use it elsewhere in your code, but not the ``conan export`` command?

[2021-06-29 07:22] harsszegi commented on #9173
I have absolutely no idea what is going on. This is the output of conan create:

######## conan create 1.6.37-11-8c2e132-dirty@
Exporting package recipe
png/1.6.37-11-8c2e132-dirty@cognex/master exports: File 'conandata.yml' found. Exporting it...
[.... -> this is the place where the directory walk happens]
png/1.6.37-11-8c2e132-dirty@cognex/master exports: Copied 1 '.yml' file: conandata.yml

And

[2021-06-29 07:22] harsszegi commented on #9173
Couldn't it be the FileCopier doing something silly? (e.g. _filter_files within _copy maybe?)

[2021-06-29 08:14] memsharded commented on #9173
Well, the ``conan create`` really can check many things in the cache, because it expands the dependency graph, computing and checking binaries of dependencies, etc. What happens if you execute only ``conan export 1.6.37-11-8c2e132-dirty@``?

[2021-06-29 08:24] harsszegi commented on #9173
Same thing, "File 'conandata.yml' found. Exporting it..." shown, >4 minutes passes, then "Copied 1 '.yml' file: conandata.yml"

[2021-06-29 08:58] memsharded commented on #9173
Could you please try to reproduce it without the docker setup? Just in case docker could be related, I still cannot figure out what else to try or to check, I have now followed twice the source code while executing the export flow, without a clue of what could it be.

[2021-06-29 10:42] harsszegi commented on #9173
But I can't trace it on Windows outside of Docker :( and it executes (obviously as being on a local filesystem) blazingly fast - compared to the Docker environment. Anyhow will try to compile Conan from source (to add some print()s here and there)

[2021-06-29 11:10] harsszegi commented on #9173
Ok, here is the "log", obviously file_copier.py was decorated and export.py was changed like this:

    package_output.info("Pre unlink {}".format(origin_folder))
    try:
        os.unlink(os.path.join(origin_folder, CONANFILE + 'c'))
    except OSError:
        pass
    package_output.info("Post unlink {}".format(origin_folder))

    package_output.info("Pre FileCopier")
    copier = FileCopier(

[2021-06-29 11:12] harsszegi commented on #9173
Just a question. If the pattern is not a regexp (I mean exact filename), why filtering is needed?

[2021-06-29 11:12] lasote opened #9176 "[feature] New AutotoolsDeps customization"
The `AutotoolsDeps` generator should precalculate things in the constructor to allow the user to modify them before calling the `generate()` method.

[2021-06-29 11:52] ytimenkov opened #9177 "[feature] Environment variables for self-consumption"
Hi @memsharded, I'd like to follow up on #8534

I assumed that when installing package with `develop = True` (i.e. `conan install .` in a directory with the recipe) means that I want to run it as well.

In my case it would be a simplification if `<build_folder>/bin` was added to `PATH` so I can run tests with same command as if I installed my package by reference (or other variables I set in `pack

[2021-06-29 15:15] memsharded commented on #9173
Thanks for the debugging, I think this is good info.

It seems the reason that it is walking the cache, is because the cache is somehow located below the package that is being exported? What is your folder structure and layout? The current folder, the folder containing the conanfile.py, the folder containing the cache, etc.

Because matching is not regex based, it is fnmatch based, it is not possi

[2021-06-29 15:17] slietzau opened #9178 "[bug] compiler = 'msvc' does not work with Ninja generator"
It is currently not use Ninja as generator in combination with the new `msvc` compiler. This combination causes CMake to abort with an error (see below).

The error appears because the generated toolchain file sets `CMAKE_GENERATOR_TOOLSET` (see [cmake docs](https://cmake.org/cmake/help/latest/variable/CMAKE_GENERATOR_TOOLSET.html) which is only supported for `Visual Studio *` generators. Extendin

[2021-06-29 19:23] harsszegi commented on #9173
I am closing this. Our setup was “flawed” in terms that we were bind mounting the recipe repository as $HOME and surely we also bind mounted .conan into this as well, so no surprise Conan walked through the entire cache. We have changed our logic to map the recipe repo into a separate subdirectory inside $HOME, so .conan now lives outside of the mounted recipe repo.
Thanks @memsharded for the assi

[2021-06-29 19:23] #9173 closed, assigned to memsharded

[2021-06-29 20:27] JPGygax68 opened #9180 "[problem] cmake_multi INTERFACE_LINK_LIBRARIES uses generator expressions, does not support custom build configurations"
I hope I have understood this problem correctly, and that I'll be able to explain it properly.

The cmake_multi generator defines imported targets and sets properties on them that specify where the include and library files are located.

Here's an example for GLEW, formatted for a bit of clarity:

[code]

`cmake_multi` seems to forgo the use of per-configuration properties such as `INTERFACE_LINK_

[2021-06-29 20:28] memsharded commented on #9173
Great we finally got to the issue!

Happy to help! 😄 Thanks for the feedback too, let us know if you have any other issue!

[2021-06-29 20:36] memsharded commented on #9180
Hi @JPGygax68

Just a quick question: are you aware of the new ``CMakeDeps`` generator? It is a ``multi-config`` generator, and it already implements custom configurations.

[2021-06-29 20:44] JPGygax68 commented on #9180
Thank you James, no actually I wasn't. I'll try that asap.

[2021-06-29 20:46] memsharded commented on #9180
Cool. Just beware it is still experimental, but it is the one we are putting great efforts now to stabilize asap, as it is intended that this will be the generator that will remain in Conan 2.0, while the others will be deprecated.

[2021-06-29 20:59] JPGygax68 commented on #9180
@memsharded Hm, I don't think this will immediately solve my problem, because I'm using `PMM` (the Package Manager Manager), which apparently doesn't support CMakeDeps.

If I ditch PMM though, I'm still not sure how I would use CMakeDeps from within my CMake scripts. I'm not trying to generate a package right now, just to link in the dependencies that my software needs.

[2021-06-29 21:07] memsharded commented on #9180
Even if I don't like it very much, there is the relatively popular cmake-conan integration (https://github.com/conan-io/cmake-conan) that helps calling ``conan install`` directly from CMake, as a consumer. It supports the ``GENERATORS`` argument to specify which generator you want to use (even your own one, if you wanted), it is not restricted by the cmake-conan tool, it will just pass the value t

[2021-06-29 21:09] memsharded commented on #9180
Also, not directly related, but FYI: Conan 1.37 introduced the ``layout()`` method. It allows to define project layouts. If defined, this automates further the local flow, the packaging and even the ``editable`` experience when packaging. It is also possible to have a ``conanfile.py`` for consuming, not necessarily for creating a package. Then, more powerful capabilites can be used for consumption

[2021-06-29 21:28] memsharded opened #9181 "To discuss: What if we want to modify/add some variable in the environment before generate? what would be the best interface?""
It was related to my previous comment: `"To discuss: What if we want to modify/add some variable in the environment before generate? what would be the best interface?"`
Users might call first to `environment()` then modify something and finally generate, but I'm not convinced, that's why I was asking to discuss it.

_Originally posted by @lasote in https://github.com/conan-io/conan/pull/9131#discu

[2021-06-30 06:27] harsszegi opened #9182 "[question] conan install + "-if" disregarded?"
Hello,
I am playing with scm + conan install. As I understand if I use "conan install -if install_folder . package_revision --build=missing", SCM will not be triggered, and source is not downloaded from git/svn, but package is installed into "install_folder". However if I use "conan install -if install_folder package_name/package_revision --build=missing" the sources are downloaded from git/svn, p

[2021-06-30 07:52] klaussnd commented on #8464
Thanks a lot for clarifying that @solvingj

About which time frame are we talking here approximately? Conan 2.0 or earlier?

[2021-06-30 07:53] cassava opened #9183 "[bug] Disabling remote prevents build from proceeding"
Disabling a broken remote prevents me from building a Conan package, even though I have all packages I need in my local cache.

### Environment Details (include every applicable attribute)
  * Operating System: Ubuntu 18.04
  * Compiler: GCC=8
  * Conan version: 1.37.2
  * Python version: 3.6.9

### Steps to reproduce

1. `conan remote disable artifactory`
2. `conan install --build=missing --insta

[2021-06-30 07:59] KerstinKeller commented on #9167
After reading #9173, I wondered if this could be connected to this issue in general. And (after switching from `conan export` to using the python API) I added some timing calls, for each `conan_api.export` as we iterate through all our recipes, starting with a clean cache, Y-Axis takes the time spend in `conan_api.export` in seconds.

On Windows: (using short paths)
![image](https://user-images.gi

[2021-06-30 08:30] memsharded commented on #9183
Hi @cassava

Thanks for the detailed report, already reproduced, indeed seems a bug, and I am proposing some potential fix in #9184

[2021-06-30 08:33] memsharded opened #9185 "Filename ``PKG-NAME_COMP-NAME.pc`` for PkgConfigDeps?"
Isn't the name ``PKG-NAME_COMP-NAME.pc``? I think it could be better this way, to avoid potential conflicts with components of different packages. Or is not possible?

_Originally posted by @memsharded in https://github.com/conan-io/docs/pull/2133#discussion_r660957122_

[2021-06-30 08:50] memsharded commented on #9167
#9173 was because the user had the cache below the folder being exported. When they moved the cache to another location, the issue was solved.

It is true that at the moment, the export does internally a ``search_recipes`` to take into account possible casing conflicts. As this is no longer an issue in the 2.0 cache, it will be removed (it has already been done in develop2: https://github.com/cona

[2021-06-30 09:25] memsharded commented on #9178
Hi @slietzau

I am having a look at this, it is true, CMAKE_GENERATOR_TOOLSET shouldn't be generated. I am doing a PR to remove it for Ninja.

However this leaves some concerns: who would be defining the toolset to use in this case? If not specified in the toolchain, who is the responsible? You might specifying some toolset on settings, like ``compiler.version=19.0`` would imply using an older too

[2021-06-30 09:32] JPGygax68 commented on #9180
@memsharded I'm still trying to work my way through CMakeDeps - is it correct that CMakeDeps no longer uses the `CONAN_PKG::` namespace on dependency targets ?

[2021-06-30 09:34] memsharded commented on #9180
Yes, ``CMakeDeps`` use native ``find_package()``. No need to change CMakeLists.txt at all to account for Conan specific targets.

[2021-06-30 10:27] memsharded commented on #9178
Nevermind, I realized it needs to be passed instead to ``vcvars_ver`` I forgot about that arg. Doing a proposal for next 1.39 in https://github.com/conan-io/conan/pull/9187 (if there is a minor 1.38.1, this might be added to it, but don't know yet)

[2021-06-30 10:32] memsharded commented on #9182
Hi @harsszegi

No, I think you misunderstood. Packages are never installed into ``install_folder``, they are always installed in the cache. The ``install_folder`` is to locate generated installation files, like ``conaninfo.txt``, ``conanbuildinfo.txt`` and others. These files will be removed in Conan 2.0, so ``install_folder`` will no longer make sense and be removed.

[2021-06-30 10:34] harsszegi commented on #9182
Understood, thanks a lot for the clarification! (btw right now if we use (1.37) "-if" during install the package IS installed into the folder we provide after "if"

[2021-06-30 10:34] #9182 closed, assigned to memsharded

[2021-06-30 10:36] memsharded commented on #9182
Can you please check it twice? I don't think this happens. Could you please provide something to reproduce if that is the case? It would be a very surprising bug.

[2021-06-30 10:41] memsharded commented on #9183
#9184 has been last minuted merged into 1.38, so it will be released today

[2021-06-30 10:41] #9183 closed, assigned to memsharded

[2021-06-30 10:44] harsszegi commented on #9182
Oh god, I'm lame, sorry, completely mixed up the outputs for conan install and conan build :( Sorry :(

[2021-06-30 10:47] memsharded commented on #9182
No prob! :) :) :)

[2021-06-30 11:03] memsharded opened #9188 "[bug] Failures in Qbs"
The QbsProfile testing in https://github.com/conan-io/conan/blob/9ebc2e4282a35e4d29a7b697d71b85db45c31836/conans/test/unittests/tools/qbs/test_qbs_profile.py#L333 seems to have an incorrect indentation. So these tests are not running, when running, they throw:

[code]

Also please remove the print() in https://github.com/conan-io/conan/blob/9ebc2e4282a35e4d29a7b697d71b85db45c31836/conans/test/unit

[2021-06-30 14:48] tapia opened #9189 "[feature] Conan 2.0 CLI: List command"
Develop the new `list` command for the Conan 2.0 CLI

[2021-07-01 08:38] JPGygax68 commented on #9180
I've added the following to the conanfile.py:

[code]

and, in the CMake files, the mapping from DEBUGSPECIAL to DEBUG is still in place. But I'm getting the following error when trying to build the DEBUGSPECIAL configuration (DEBUG works):

[code]

[2021-07-01 11:31] gpxricky opened #9190 "[feature] Use of self.dependencies within build method"
Hi,

the documentation of the new `self.dependencies` feature asks to submit to a GitHub issue if the feature is used outside of the methods `generate()` and `validate()`.

I'm using this feature in the `build` method as it provides the package folder of a build requirement which is otherwise - as far as I know - not possible to get easily (`rootpath` is only available for normal requirements).

I

[2021-07-01 12:11] memsharded commented on #9190
Hi @gpxricky

Thanks for the feedback. My suggestion would be:

- Do that processing in the ``generate()`` method instead. Whatever you are going to use in the ``build()`` method, put it into a file.
- There is a ``conanbuild.json`` experimental file we are using, but that will be changed, so at the moment better serialize it to your own file
- Then ``build()`` read that information, and use it. `

[2021-07-01 15:00] memsharded commented on #9180
Hi @JPGygax68

I would need to see something a bit more complete. You might be missing the setting of the current configuration, a ``generate()`` method would look more like this:

[code]

You can see the full functional test, doing actual building of the special configuration in https://github.com/conan-io/conan/blob/f117378069b6fd11fcfec0573470ad3347c4cbb6/conans/test/functional/toolchains/cmake

[2021-07-01 15:29] JPGygax68 commented on #9180
Thank you @memsharded. The problem is here is that I'm working with Visual C++ and multiple configurations in the same solution (formerly using cmake_multi), so selecting the configuration in the conanfile is not possible.

[2021-07-01 15:59] memsharded commented on #9180
This should work in the same way, just calling ``conan install ....`` multiple times, with different settings and options, will install the different configurations of dependencies. The principle is the same as ``cmake_multi``, when you call ``conan install`` only 1 specific configuration is instantiated, and the dependency graph of that configuration is computed and stored in the respective _RELE

[2021-07-01 16:17] memsharded commented on #9188
Fixed by https://github.com/conan-io/conan/pull/9192

[2021-07-01 16:18] #9188 closed, assigned to nobody

[2021-07-01 16:23] JPGygax68 commented on #9180
@memsharded Hm. I just tried
[code]

and it says
[code]
even though I did add `DebugSpecial` to the list of configurations (as you can see in a previous comment).

I do not see how I should adapt your example
[code]

Since the `build_type` is specified as part of the `install` command, why would I still need to set `cmake.configuration` in the `generate()` method?

[2021-07-01 16:43] memsharded commented on #9180
It depends on the approach you are following:

- If the variant or custom configuration is driven by options, like packages being shared/static (``ReleaseShared``), then the special configuration doesn't need to be added to ``settings.yml``, but instead the logic defined in the recipe, conditioned to the combination of inputs that define such custom configuration.
- If the variant or custom config

[2021-07-01 17:03] JPGygax68 commented on #9180
@memsharded Do I need to add `DebugSpecial` to the global `settings.yml`? No way to do this per-project?

[2021-07-01 17:12] memsharded commented on #9180
It is not needed, only if it is something that is general, and would be kind of project-wise, something with the same entity as ``Release`` or ``Debug`` would make sense.

But if you don't add it, then, we are talking about the first approach. Your inputs will be the standard ones like ``-s build_type=Debug``, and then you need to pass to ``CMakeDeps`` both:
- The existence of such a custom config

[2021-07-01 18:48] JPGygax68 commented on #9180
I've been trying variations of your example, but I'm getting more and more error messages.

To sum up: I'd like to add a custom configuration (multi-config) called `DebugSpecial` to my project (not globally), and make it so that that custom configuration will link to debug versions of the dependencies. (This is usually only necessary for C++ dependencies, where Debug builds cannot link to Release

[2021-07-01 22:40] memsharded commented on #8274
Hi @DoDoENT

I am reviewing this issue, as we are preparing a package types proposal, and I am struggling to understand some of the use cases and put some reasonable scope to the above comments. It seems there are too many different features in the above, and many of them are a challenge on their own:

Something that can impose settings on a dependency graph is a profile, I am not fully sure what

[2021-07-02 07:40] gpxricky commented on #9190
Thanks for the hint and clarification. I will check that and come back later ;)

[2021-07-02 07:42] gpxricky opened #9193 "[question] How to read host and build profile in the Conan recipe"
Hi,

is there a way to read the configured profile (both host and build) in a Conan recipe? I didn't find a property or method to get that information.

Many thanks for your help.
gpxricky

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-02 08:09] memsharded commented on #9193
The profile host is:
- self.settings
- self.options
- self.buildenv
- self.runenv
- self.dependencies

The profile build is only available when you are in a build_require, in the build context. Besides the above, there is:
- self.settings_build
- self.dependencies (it gets requires with build=True, and dependencies with context="build")

[2021-07-02 08:17] gpxricky commented on #9193
Thank you, that's interesting.

What about if I want to call the `install_references` API method within my Conan recipe to explicitly deploy one of my requirements? How to hand over the identical profile parameters than "I" was called? Or is this the wrong way to do so and there is another mechanism available for that purpose?

Many thanks

[2021-07-02 08:19] DoDoENT commented on #8274
Hi @memsharded.

Let me try to explain further my idea:

This is exactly why I call this a "profile-package" - think of it as a configurable and executable profile. Just like what `conanfile.py` is to `conanfile.txt`, a profile-package would be to what currently a "profile" is.

For example, consider what currently needs to be done in order to introduce a new toolchain (i.e. a new version of Andro

[2021-07-02 08:48] memsharded commented on #9193
``install_references()`` doesn't install one of your requirement, it install the complete dependency graph of that reference that is provided.

I am not sure why you are calling it directly or what you are doing. If you are calling it iteratively for different references, that is dangerous, because it will install different dependency graphs, that could have conflicts if resolved together at once,

[2021-07-02 09:47] gpxricky commented on #9193
To be honest, I just want to call the `deploy` method in the recipe of the requirement. I thought I can easily realize that by using the `install_references` method, however I'm missing some information to call it properly or build the `profile_build` parameter (e.g. the profile names, etc.).
E.g. some of my requirements need to be copied to a predefined location instead of the Conan cache (I know

[2021-07-02 10:07] memsharded commented on #9193
That is the thing, the ``deploy()`` method deploys for the current package, as well as all its dependencies. So it needs to install the dependencies, and for that it needs to evaluate the graph, and provide the profiles.

Curious about why you are using the api for this, and not directly ``conan install <ref> -pr=myprofile`` command?
You might not need the ``-pr:build=myprofilebuild``, and likewis

[2021-07-02 10:28] memsharded commented on #8274
But this is a chicken and egg problem, this is why the configuration as profiles need to be separately from the actual package.
How would you be able to install the AndroidNDK that you want, if you don't specify the correct settings (that should already be in settings.yml and in your profile)?

Lets focus on the consumer user story: You want to build a Conan package for Android, lets call it ``myl

[2021-07-02 10:44] memsharded commented on #2140
Proposing https://github.com/conan-io/conan/pull/9195 draft, to start experimenting with this.

[2021-07-02 10:53] DoDoENT commented on #8274
The user story should stay the same, but my proposal advocates for a simpler "DevOps" story, as the DevOps team will not require creating two different things (`android_profile2` and `android_ndk/2.0`), distribute them via different mechanisms (Artifactory and zip) and manually make sure that settings within the profile match the actual compiler version in `android_ndk/2.0`. For example, how can D

[2021-07-02 11:48] memsharded commented on #9177
Hi @ytimenkov

Do you mean the current ``<build_folder>/bin`` of the current package, or the one of the dependencies? If it is from dependencies, this should already happen with the new auto VirtualEnv (needs to activate the ``tools.env.virtualenv:auto_use``).

Heads-up: It seems we are refactoring VirtualEnv -> VirtualBuildEnv and VirtualRunEnv. The logic is different, the use case is different,

[2021-07-02 12:22] ytimenkov commented on #9177
Yes, I mean `<build_folder>/bin` of current package. So when developing package I can activate the environment, run `make myprog` and then run `myprog` (or script does this, therefore I'd like `PATH` to be populated).

Being bit more on explicit end of spectrum in that case is fine. Repetition could be avoided by extracting into functions anyways.

Ah, I see now... I think I got the impression tha

[2021-07-02 12:38] ytimenkov commented on #9177
I've looked at the code. Now reimplementing `generate()` method is trickier because of `auto_activate` parameter which calls to non-public `save_script` or ` register_environment_script` (at least they are not re-exported from `__init__.py`).

I found that toolchains also register to auto-activate 👍. I just wonder how to make it easier for developer and avoid need to "activate" too many files. Gen

[2021-07-02 15:53] gpxricky commented on #9193
Just for clarification, here is the use case I would like to use:

- Top level Conan recipe for `MyPkg` references some requirements, e.g. `MyDep1` and `MyDep2`
- `MyDep1` needs to be deployed to a well-known path `/opt/mydep1` before running the `build` method, otherwise the build will not work
- No matter if I use `conan install` or the api (I just thought it is more powerful but I can also use

[2021-07-02 16:36] gpxricky commented on #9193
I'm a little bit closer to what I was searching for. However I'm not really convinced that I'm doing the right thing:

[code]

However, I guess that only works if `MyDep1` itself has no dependencies with options, doesn't it? Furthermore how to add the build profile? Something like this?

[code]

[2021-07-03 03:09] ericriff commented on #6315
Is the API still unstable?
We do a bunch of conan calls from python scripts, currently through `subprocess.popen()`. It would be nice to use this instead.
If it is still unstable, are there any plans to change this? Maybe Conan 2.0?

[2021-07-04 07:51] harsszegi opened #9200 "[question] Conan cache + alias package + remote"
Hi,
I am having issues with consistency between the Conan cache and the remote.
I am creating a package and I have an alias for it (practically something like "latest").
Whenever I export a new package, I am recreating the "latest" alias ("rolling release").
However it appears that in the clients - which already have an earlier version of "latest" - checking whether the alias package has changed i

[2021-07-04 10:00] redradist commented on #6835
@memsharded

Then Visual Studio will not be available through the conan

Not really true, for example you can provide to your `cmake` project external toolchain described in special file
There are examples:
https://github.com/ruslo/polly

It is because they do not have centralize management for toolchains like Rust projects have with `rustup`

Not really true, I worked on many projects and most of

[2021-07-04 13:18] r1d1shka opened #9201 "How to change include path for Visual Studio Conan?"
I am trying to create a cross platform application (Linux/Windows), which uses third party dependencies, like `jsoncpp`. On Linux I use `cmake`, on Windows I use `Visual Studio` + `Conan`. There is a problem that the paths to cpp headers differ on different operating systems. On Linux I include jsoncpp like this:

[code]
But on Windows I have to use other ways:

[code]
On Windows, Conan installs h

[2021-07-04 15:55] memsharded commented on #9201
Hi @r1d1shka

It seems that you are using a legacy package from ``jsoncpp\1.9.0\theirix\stable``. I'd strongly suggest if you are using packages from ConanCenter, to use the packages without user channel: ``jsoncpp/1.9.4`` from https://conan.io/center/jsoncpp

But in any case, it is not possible to change the folder, the package has been created that way, with those folders. The only way to achiev

[2021-07-04 16:11] memsharded commented on #6835
There are examples:
https://github.com/ruslo/polly

That is not distributing the Microsoft build toolchain, it is distributing a cmake toolchain file to use it, but that still needs the user to manually download and install the Microsoft build tools manually (and accept their license, etc). That is one of the main reasons, it is still not possible to package the Microsoft toolchain and automate it

[2021-07-04 16:17] memsharded commented on #6315
Yes, everything that is not documented in docs.conan.io, is not stable. Actually everything that is not documented shouldn't be used at all.

The python API is the exception, we know there are a bunch users using it so:
- We don't plan to break it in Conan 1.X, and we will try our best to not break it.
- It will change in Conan 2.0, the api change will be breaking. We will document the api soon in

[2021-07-04 16:19] memsharded commented on #9200
Hi @harsszegi

It is not very clear what is not updating. Are you using the ``--update`` flag and it will not check for new versions in the servers? For the actual ``alias`` package or for the pointed package?

[2021-07-04 20:07] SpaceIm opened #9202 "[bug] find_package can't find config files if cross compilation/2 profiles"
### Environment Details (include every applicable attribute)
  * Operating System+version: Macos Catalina
  * Compiler+version: AppleClang 12
  * Conan version: 1.38.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)

- clone conan-center-index
- in recipes/re2/all: `conan create . re2/20210601 -pr:b profile_build -pr:h profile_host` (profile_build and profile_host must be

[2021-07-04 22:27] memsharded commented on #9202
I have tried with Windows and Linux (I don't have a Mac), and even when the profile host and profile build are different (I tried compiling for 32 bits), it works.

Someone else that could try in OSX->iOS, please?

@SpaceIm it would be good to know if this is a 1.38 regression, and it used to work in 1.37 or also failing in previous Conan versions.

[2021-07-05 08:59] memsharded commented on #8274
I still not see it. The advantage that you are describing as user story is doable as today with:

[code]
You don't need to have a combinaric explosion of profiles. You can fine tune with added settings and options on the command line, you can ``include()`` them, you can compose them in command line as well:
[code]
From Conan 1.38, you can also define jinja templates for profiles, that could define

[2021-07-05 10:32] stefanbuettner commented on #7192
@rddesmond Nice examples and problem description. I have the same problem and can reproduce it with the example you provided with CMake 3.10.2, conan version 1.34.1, and gcc version 7.5.0. What's the state of this? Did you carry the issue to the CMake repo? Could not find it there.

[2021-07-05 12:55] mh-ka opened #9205 "[suggestion] Usage of custom jinja graph template file"
Hi there,

I wanted to create a graph with conan info which uses short labels for the nodes. I could achieve to create a custom dot file by checking out the repository and installing the conan dev version (used jinja graph template code is below).

I would like to suggest to make it possible for the user to provide a custom template for the dot file.
- Either by introducing a parameter for the 'co

[2021-07-05 14:16] DoDoENT commented on #8274
🤔, but this still requires having `android_ndk_r22b` profile to be in sync with `android_ndk/r22b@` package, i.e. it's easy to make an error to put, e.g. `compiler.version=12` in profile, while the actual version of the compiler in the `android_ndk/r22b@` package would be different. Also, every package should be aware of the `android_ndk:lto` option in its `package_id` function to ensure that the

[2021-07-05 14:16] #8274 closed, assigned to nobody

[2021-07-05 14:40] lasote commented on #9112
Hi @SeanSnyders,  I've been looking at this, the thing is, the new toolchain generators like `CMakeDeps` and `CMakeToolchain` or the ones for `msbuild`, `meson`, `bazel`, `autotools`... all the new generators that work with the `generate(self)` method, are programmed assuming that the build profile is always specified. That is because, in the Conan 2.0 model, the build profile will be always prese

[2021-07-05 14:45] memsharded commented on #9205
Hi @mh-ka

Both the html and the dot files are already templatized. Just change the template in your cache in ``output/info_graph.dot`` file.

Recall that you can install single files in the cache with ``conan config install``, or get it from a git repo, or http zip.

Have a look to https://docs.conan.io/en/latest/extending/template_system/info_graph.html, and let me know if this is what you are l

[2021-07-05 15:03] lasote commented on #9112
@cboos your issue is totally different. We are evaluating the best way to keep your use case working. I'll report back.

[2021-07-05 15:28] lasote commented on #9112
@cboos we are going to move the check later and also will check that the actual complete target exists, not based on the internal `XXX_COMPONENT_NAMES` variable so probably it will work smoothly for you, if the Qt build module declares the target, it would be fine. It will be released at 1.39

[2021-07-05 15:30] mh-ka commented on #9205
Thank you for the quick response! Shame on me, I did not read the documentation properly 🙈

[2021-07-05 15:30] #9205 closed, assigned to memsharded

[2021-07-05 15:31] memsharded commented on #9205
No prob, glad to help!

[2021-07-05 16:30] t7wakim opened #9208 "[question] Strange behavior of `self.copy` excludes patterns"
Hi,
I have a few questions/concerns about how the `copy` method excludes files.

1. If I want to exclude all hidden files (i.e., using the `.*` pattern) no files are packaged at all (i.e., all files are excluded). Is this a bug or by design?
2. If I want to exclude a particular file (e.g., `test.txt`) from the `src` copy directory and also from all subdirectories of `src`, it is required to set 2

[2021-07-05 17:12] KerstinKeller commented on #2140
Some additional side note:
The feature in the draft is now called `-requires-override`.
Maybe it makes sense to clarify this a bit more, and maybe to define what override means.

My understanding of `override` is to redefine. E.g. `libB` has a requirement of `libA/1.0.0`, and now I am forcing it to use a different version instead.

However, my usage (and from what I understand some of the other us

[2021-07-05 17:19] gmikhaile opened #9209 "[question] new layout() method does not work with `cmake` generator"
New `layout()` method does not work with `cmake` generator. When I specify `self.folders.generators` to my custom folder the generated files during `conan install .`  are installed to the root directory.

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-05 22:40] memsharded commented on #9209
Hi @gmikhaile

Sorry for the confusion, it is indeed not clear from the docs.

The ``layout()`` feature only works with the new generators in ``conan.tools`` https://docs.conan.io/en/latest/reference/conanfile/tools.html.

It is too risky to introduce this feature in the other generators, very challenging to do it without breaking, so we are going to support it only in such new generators and tool

[2021-07-06 03:05] SeanSnyders commented on #9112
Hi @lasote
Thanks for the explanation, this is now indeed making more sense into why it is failing for certain scenarios and not for others. I'll experiment with that.
That can explain point 1 in https://github.com/conan-io/conan/issues/9112#issuecomment-865511576, what of point 2?

[2021-07-06 08:13] DanielRibeiroMaciel-TomTom commented on #9116
Did you find any workarounds @MiSo1289

[2021-07-06 08:31] lasote commented on #9112
Sure. 1=> is a consequence of the missing build profile, the build modules are not assigned.
2=> Not sure about the mixed build type, probably you have installed both release and debug configurations. Take into account, as marks a comment in the generated config file, that the build_modules are taken from the first configuration installed, that's because there is no CMake multi config mechanism fo

[2021-07-06 09:04] lasote opened #9213 "[feature] Add a generator like class wrapping write_conanvcvars"
Create a public generator `VCVars()` class to wrap the `write_conanvcvars` command.
After https://github.com/conan-io/conan/pull/9194
Change the conans/test/functional/toolchains/gnu/autotools/test_win_bash.py test

[2021-07-06 09:08] MiSo1289 commented on #9116
At the moment, my workaround is reverting to 1.36.0

[2021-07-06 09:20] DanielRibeiroMaciel-TomTom commented on #9116
Yeah same for me. Ok thanks.

[2021-07-06 09:52] guiserle opened #9214 "[feature] conan editable could work without explicit package name and version on reference argument"
Currently, `conan editable add` command requires version and package name to be provided on reference argument. If it is not provided the following message is promted:

`ERROR: Name and version from reference (gsl/test) and target conanfile.py (pkg_name/1.0.2) must match`

My proposal is to modify this command to mimic `conan create` command, on which, if package name and version is not provided,

[2021-07-06 10:25] harsszegi commented on #9200
Ok, it appears I have misunderstood how "conan install" works, I didn't know that by default "--update" is NOT enforced.

[2021-07-06 10:25] #9200 closed, assigned to memsharded

[2021-07-06 10:29] #9178 closed, assigned to memsharded

[2021-07-06 10:43] memsharded commented on #9200
Yes, the default is to try to be as fast and as offline as possible. Checking servers is slow, so checking for updates is an opt-in.

[2021-07-06 10:59] #7764 closed, assigned to nobody

[2021-07-06 11:13] #8883 closed, assigned to lasote

[2021-07-06 11:13] #9068 closed, assigned to lasote

[2021-07-06 12:13] franramirez688 commented on #9130
@lasote @tapia
After trying several things, I think a good option could be to use `ConfigParser` (internally) and save a `*.conf` file. I've made some tests and it supports to save any kind of string keeping the original format, for instance:

[code]
Anyway, we can discuss the file name...

[2021-07-06 13:31] lasote commented on #9130
Yep. I cannot think in a better alternative. WDYT @memsharded ?

[2021-07-06 15:14] memsharded commented on #9130
yes, sounds good, I have had some bad experience in the past (conan.conf, etc), because ConfigParser kind of always want key=value, and that was not the best fit for some cases, so I ended manually parsing things. But yes, lets give it a try.

[2021-07-06 16:56] SpaceIm commented on #9202
I don't know for older versions of conan, I'll try.

[2021-07-06 17:07] SpaceIm commented on #9202
I've tried with conan 1.35.0, 1.36.0 and 1.37.0, it fails with the same error.

[2021-07-06 20:37] uilianries commented on #7150
Implemented by #9198

[2021-07-06 22:01] memsharded commented on #7150
Can we consider this closed then @uilianries ?

[2021-07-07 07:11] manape3 opened #9222 "[QUESTION]Problems creating a package with with .sa library extension"
I'm trying to build a package using a private library with .sa extension.

I add it like this:
`self.cpp_info.libs = ['asn-decoder-lib','libosstoed.sa']`

But when I run the conan test for the package it says
`/usr/bin/ld: cannot find -llibosstoed.sa
`
libosstoed.sa is a thirdparty library that is the same as the static one (libosstoed.a) but is built with object code suitable for use in a shared

[2021-07-07 09:10] baby4bamboo opened #9224 "Defile #RREV:PACKAGE_ID in conanfile.txt cause conan install failed"
### Environment Details (include every applicable attribute)
  * Operating System+version: Both Mac or Windows
  * Compiler+version:not need
  * Conan version:1.36.0
  * Python version:3.7

### Steps to reproduce (Include if Applicable)
in conanfile.txt we defile request with #RREV:PACKAGE_ID like this:
[requires]
jsoncpp/1.9.3@myuser/testing#fca0383e6a43348f7989f11ab8f0a92d:3fb49604f9c2f729b85ba3

[2021-07-07 09:13] memsharded commented on #9224
Hi @baby4bamboo

You cannot request specific package-id in ``conanfile``. You specify the recipe reference, down to the recipe revision, but not including the ``package_id`` part.

The binary that needs to be downloaded is computed as a function of the input settings, options (profile), and dependencies versions.

[2021-07-07 12:15] solosuper commented on #1330
Hi @clssn, what is your current approach for this? Your post describes my exact problem too, being forced to work on Ubuntu 18.04 and trying to mix ROS melodic and conan.

So far it has worked ok with `boost/1.65.1@conan/stable", override=True`, but with the sunset of bintray that package can no longer be built from source (thus I have a local patch of the conanfile.py that downloads the sources f

[2021-07-07 12:45] chery1392 opened #9226 "[question] use jfrog as conan server"
hello,
I used import and export feature of jfrog for move repo to another jfrog artifactory.  after import, conan search can not work on jfrog repo and show "There are no packages" but conan install work and install package.

[2021-07-07 13:07] lohitgujjar opened #9227 "ERROR: The revision field, must contain only letters and numbers with a length between 1 and 51"
Hello Everyone,
I am facing an issue when i try to use: lib/1.0@conan/stable#RREV:PACKAGE_ID (doc reference: [Versioning).](https://docs.conan.io/en/1.34/versioning/revisions.html)

**Error: : The revision field, must contain only letters and numbers with a length between 1 and 51**

i want to use a specific version of binary from the artifactory. hence i am providing the filter till package_id.
W

[2021-07-07 14:50] memsharded commented on #9227
Hi @lohitgujjar

This is the same error reported almost at the same time in: https://github.com/conan-io/conan/issues/9224, please check the response there, I am closing this issue as duplicate.

Just quick question: how are you learning Conan? It is curious these 2 same issues at the same time, is it that you are doing a course somewhere, or someone shared a blog post or something that indicates

[2021-07-07 14:50] #9227 closed, assigned to nobody

[2021-07-07 14:56] memsharded commented on #9226
Hi @chery1392

There is no information enough to know what could be happening. If you did an Artifactory ugprade from a quite old version, it is possible that you hit a random problem with a migration, we have had a couple of reports in the past.

If your Artifactory is a premium one, probably you can also contact JFrog support, and they could help there, whatever happens in an Artifactory migrati

[2021-07-07 14:59] lohitgujjar commented on #9227
Hello @memsharded ,
Thankyou for the reply. I am referring to the conan documentation in : [conan documantation](https://docs.conan.io/en/latest/versioning/revisions.html). If you check under Package Revisions section you will find the syntax i had mentioned in my question (lib/1.0@conan/stable#RREV:PACKAGE_ID)

[2021-07-07 14:59] bldrvnlw opened #9229 "Consuming an external package that contains an cmake config-file package"
Hi @bldrvnlw

Using the internal package xxxx-config.cmake is still possible, that is only restricted in ConanCenter, because you should be aware of 2 main CMake limitations regarding xxxx-config.cmake:

- Internal package xxx-config.cmake will not work in multi-config environments, because CMake cannot locate or cannot do generator expressions over ``find_package()``. So if you want to switch Deb

[2021-07-07 15:08] memsharded commented on #9227
Thanks for the clarification @lohitgujjar

Yes, that page is introducing and explaining the revisions format, but I agree maybe it is not fully clear from that page how to use them, and where can they be defined and where not. As for Conan 2.0 the revisions will be fully integrated and always in use, we will have to rewrite the docs, and this will be more clear.

[2021-07-07 15:10] memsharded commented on #9229
Hi @bldrvnlw

This is one of my comments in a previous issue, if you could please clarify what is the thing that needs to be checked, or what is the question or problem, that would help.

[2021-07-07 15:26] #9112 closed, assigned to lasote

[2021-07-07 15:30] bldrvnlw commented on #9229
Hi @memsharded I opened this as a separate question to go into more depth. The background here is a conan centric CI with well controlled versions and a more flexible desktop (research) developer environment that is conan free using multi-config IDEs i.e. Visual Studio (and some XCode)

You noted two problems using packages that contain their own cmake Config-file :

1. switching Debug/Release con

[2021-07-07 15:46] Adnn opened #9231 "[question (bug?)] How to control the build folder used by `cmake_paths` generator, with a layout file?"
We are trying to enhance our local development workflow, and we wanted to try the [packages in editable mode.](https://docs.conan.io/en/latest/developing_packages/editable_packages.html#editable-packages)

Let's say we have two CMake based repositories, `Up`, and `Down` (which depends upon `Up`), and we try to develop both in parallel. So we set `Up` in editable mode:

    conan editable add --lay

[2021-07-07 16:01] maddisoj opened #9232 "[bug] Libraries can contain characters that are not allowed in cmake target names"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux 5.12.11-arch1-1 x86_64
  * Conan version: 1.36.0
  * Python version: 3.9.5
  * CMake version: 3.20.4

### Steps to reproduce (Include if Applicable)
Install a conan package where one of its libraries has an `@` in the name with the `cmake_find_package` generator.
When calling `find_package()` for this

[2021-07-07 16:01] playgithub opened #9233 "[question] How to set conan cache path?"
By default the cache path is `/path/to/home/.conan`.
I want to make it somewhere else, anyway?

[2021-07-07 16:08] memsharded commented on #9233
Define CONAN_USER_HOME env-var to locate it in a different folder.

[2021-07-07 16:10] playgithub opened #9234 "[question] How to do case insensitive search on Windows?"
[code]
[code]

How to do case insensitive search on Windows?

[2021-07-07 16:10] Adnn commented on #9231
As a Hail Mary before trashing the test folder, we tried to replace the content of our `layout.ini` with:

    [builddirs]
    ../../manualbuild/build_up

(so, `builddirs` instead of `build_folder`)

And it worked!

As far as we can tell, this `[builddirs]` entry never appears in the documentation for layout files (such as [here ](https://docs.conan.io/en/latest/reference/config_files/editable_lay

[2021-07-07 16:11] playgithub commented on #9233
Thanks

[2021-07-07 16:11] #9233 closed, assigned to nobody

[2021-07-07 16:12] memsharded commented on #9231
Quick heads up: Conan 1.38 introduced a new, more powerful, built-in in recipes ``layout()`` method that can be more easily used to implement editables.

[2021-07-07 16:15] playgithub commented on #9233
It sets the parent folder path of local cache folder path.
e.g. When `ONAN_USER_HOME=D:\aaa`, the local cache folder path will be `D:\aaa\.conan` instead of `D:\aaa`

[2021-07-07 16:16] Adnn commented on #9231
@memsharded : Hi, and thank you for the heads up!

In our situation, we want to leave each developer free to build the _editable_ recipes wherever they want (on the local filesystem). So we need to allow each developer to control the build folder path, and it seems almost impossible to achieve if the folder were to be commited with the recipe.

[2021-07-07 16:16] memsharded commented on #9234
By default, it is case insensitive in Windows (in the local cache):

[code]

Remote search is case sensitive always.

In any case, it was already approved that packages should always be lowercase, this policy has been enforced in ConanCenter for more than 1 year, and Conan 2.0 will allow only lowercase package names, it has already been approved by the tribe.

[2021-07-07 16:19] memsharded commented on #9233
Yes, you are right, the .conan folder is always generated inside. Conan 2.0 will change that, it was not possible to change that behavior without breaking at this moment.

[2021-07-07 16:26] memsharded commented on #9229
The problem is locating and loading xxx-config.cmake files from different locations. The ``find_package()`` CMake model is limited to 1 location. Conan packages implement 1 package for every binary, in different locations, for many reasons:

- It doesn't scale to have just 1 location to store an increasingly number of binaries Release, Debug, RelWithDebInfo, etc
- It is not safe to include some De

[2021-07-07 16:37] playgithub commented on #9234
However the user have to remember the artificial rule (i.e. lowercase only).
If doing search in case sensitive way by default and doing fuzzy search with options,  no implicit rule is needed.

[2021-07-07 16:37] #9234 closed, assigned to nobody

[2021-07-07 18:23] #9201 closed, assigned to nobody

[2021-07-07 18:29] r1d1shka opened #9236 "conanmanifest.txt: [Errno 2] No such file or directory"
Hi!

I try to build project with next conanfile.txt (Windows server 2019 x64):
[code]

Haven't had any problems for a while, but today there was an error:

[code]
Can you please tell me how can I fix this? Thanks...

[2021-07-07 19:53] bldrvnlw commented on #9229
Actually the CMake generated xxxTargets-config.cmake at the top level is a bit more elegant than a single file. It GLOBs and includes all the configuration FooTargets-*.cmake files (where * is debug/release/relwithdebuginfo etc) thus:

[code]

Regarding the second point: indeed the binaries have a common include root in this case.

But I'm not trying to argue against the the Conan vision of having

[2021-07-07 20:38] SpaceIm commented on #8197
I guess that it will be fixed when "1 profile" will behave like 2 profiles with the same profiles.

[2021-07-07 20:43] SpaceIm commented on #9000
@lasote sorry for the late answer

An example is `mongo-c-driver`, it generates these 2 official config files:

- config file 1: `mongoc-1.0-config.cmake`
   target: `mongo::mongoc_shared` if shared else `mongo::mongoc_static`
- config file 2: `bson-1.0-config.cmake`
   target: `mongo::bson_shared` if shared else `mongo::bson_static`

Here is the best we have been able to do in CCI: https://github

[2021-07-07 21:03] memsharded commented on #9236
Hi @r1d1shka

First, one quick reminder: packages with @user/channel like ``eigen/3.3.7@conan/stable`` are legacy, they will not be in the new ``conancenter=https://center.conan.io`` remote, better start using as soon as possible the ``eigen/3.3.9`` from https://conan.io/center/eigen

Then it seems that something went really wrong in your cache. Someone removed some files, some download was killed

[2021-07-07 21:31] memsharded commented on #9229
Ok, I think I need to step back and understand the big picture. Lets see if I got it right so far:

- You have one "Foo" Conan package that contains, in 1 single package binary, different ``build_type`` configurations: Release, Debug, RelWithDebInfo.
- I understand that you when you build this package, you iterate those configurations in the ``build()`` method, building each one and packaging all

[2021-07-07 21:55] memsharded commented on #9222
Hi @manape3

Quick question: which generator are you using in the ``test_package``? Is this a Linux?

Still not sure where the failure is, it is possible that some code is handling only known library extensions, either Conan or CMake. Irrespective of a potential fix for this, have you tried to just rename the ``libosstoed.sa`` => ``libosstoead.a`` in the ``package()`` method of the recipe? That wo

[2021-07-07 22:19] memsharded commented on #9231
I understand that, but I would strongly suggest to reconsider this policy. Of course, developers can clone the source code of the repo containing the editable package code wherever they want, the layout only define where the build folder is located with respect to the conanfile. This has several advantages:
- The relative path in the user space and when the package is built in the cache remains th

[2021-07-08 01:43] tomager opened #9238 "[question] faster way to export lots of recipes?"
I have quite a lot of recipes defined in a private repository that I export and upload to local cache and a single conan-server running on localhost. A script does the export/upload by executing "conan export ..." and "conan upload ..." for each recipe.

That takes something like 1-2 seconds per recipe, which adds up to multiple minutes to export the whole set of recipes, which is pretty painful.

[2021-07-08 03:20] Lonenso commented on #8493
I also met this problem. I can set pdb.set_trace() in ```configure()``` to debug, but I can not pdb.set_trace in ```package()```

[2021-07-08 04:43] chery1392 commented on #9226
we used JFrog Artifactory Community Edition (jfrog-artifactory-cpp-ce-7.21.3-linux). we tested jfrog-artifactory-cpp-ce-7.19.10-windows also.
we import and export from same version JFrog Artifactory Community Edition(7.21.3).

[2021-07-08 06:46] Adnn commented on #9231
Thank you for your detailed response!

We agree that adhering to a predefined layout comes with different advantages as you pointed out.

At the same time, in our organization is that some people are feeling strongly against any change is "the[ir] old ways of building code", and are still complaining any chance they get about Conan (and CMake, and CI, and anything that introduces change really). A

[2021-07-08 07:15] czoido opened #9239 "options can't be accessed through ConanFileInterface in new conanfile.dependencies model"
Despite what the docs state: https://docs.conan.io/en/latest/reference/conanfile/dependencies.html options can't be accessed through the [ConanFileInterface](https://github.com/conan-io/conan/blob/develop/conans/model/conanfile_interface.py) returned by the new dependencies model.

[2021-07-08 08:53] Adnn opened #9241 "[question][workspaces] How to generate and provide CMake toolchain when developing within Conan workspaces?"
We are trying out Conan experimental features, in order to enhance the development experience.

[Workspaces](https://docs.conan.io/en/latest/developing_packages/workspaces.html) and [Toolchains](https://docs.conan.io/en/latest/creating_packages/toolchains.html) seem very promising.
Yet we cannot figure out how to use both in conjunction.
In particular, we do not know how to properly generate the C

[2021-07-08 09:35] spoofedex commented on #9116
A colleague of mine made a trivial workaround that seems to work for me. It may or may not work for all cases, so use at your own risk.

in conans/client/importer.py, in run_imports, change:
[code]

To:
[code]

[2021-07-08 10:37] bldrvnlw commented on #9229
Hi @memsharded - yes to all 4 four clarification points that's exactly the situation.

I'll answer the three questions in detail:

1. Yes developers install other packages. Most developers work own windows (VS) & a few on macos (XCode) so that actually means the "hard-core" C++ developers build everything themselves.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;However some developers are application focu

[2021-07-08 11:22] burgerkiller79 commented on #9116
We also encountered this issue in our workspace installs. Unfortunately, the change above prevents the import call, as it just returns.

We currently apply a workaround using the following code in conans/client/installer.py, in _handle_node_editable:

I changed lines 515-520 (1.38.0) from:

[code]
to:

[code]

To get around this issue, I've also tried to use the new layout() method in the conanfil

[2021-07-08 13:30] espositofulvio opened #9242 "[question] Multiple components, some have to be built as static libraries even if option.shared = True"
Hi,
I'm trying to package the latest glslang release for conan centre but hit a snag (https://github.com/conan-io/conan-center-index/pull/6180). When built as a shared library, there are still two cmake targets built as static libraries (they can't be built as shared libraries, I tried and other targets started to fail). Now, one of the conan center hooks is failing because I guess, it looks for t

[2021-07-08 15:45] memsharded commented on #9226
As Conan is not involved in this operation, this would be an Artifactory issue. I'd recommend to file an issue against their JIRA: https://www.jfrog.com/jira/projects/RTFACT/issues. Please:

- Provide detailed instructions, with something to reproduce, including the full import and export commands that you are running. Pay special attentions to the layouts.
- Make sure the ``conan install`` is wor

[2021-07-08 15:58] Belpaire opened #9243 "Make tools.collect_libs() case insensitive on windows"
Hi,

I've been using conan a bit now, and we're moving to hosting binaries on artifactory servers instead of checking in binaries in source control.

In order to do this (as there are a decent number of libraries we use), I scripted some of the upload process. I noticed a build problem with a certain library and didn't understand at first why I was receiving linker errors. Looking into it, it seem

[2021-07-08 16:00] memsharded commented on #9238
Hi @tomager

There are a couple of things that make this not very fast, but the application startup time is relevant here. We have some plans to try to reduce it in Conan 2.0, but probably cannot reduce very much.

What you might try is to use the internal Python ``conans.client.conan_api.py``. It is not documented, it is not stable (it can change in next releases, breaking), but we have been tryi

[2021-07-08 16:15] uilianries commented on #7150
@memsharded  YEs!

[2021-07-08 16:24] memsharded commented on #9232
Hi @maddisoj

I am trying to write a test for this, and funny thing, is I cannot create a library with that name, because CMake directly will not allow it. Is it that VNDK is not using CMake to build? I guess I will have to build and then force a rename of the library...

[2021-07-08 16:24] #7150 closed, assigned to nobody

[2021-07-08 16:37] grafikrobot opened #9244 "[bug] "conan inspect" fails for specific recipe revisions"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux Coqui 5.12.9-1-MANJARO  SMP PREEMPT Thu Jun 3 14:56:42 UTC 2021 x86_64 GNU/Linux
  * Compiler+version: N/A
  * Conan version: Conan version 1.38.0
  * Python version: Python 3.9.5

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applic

[2021-07-08 17:04] memsharded commented on #9232
Proposing this fix for Conan 1.39: https://github.com/conan-io/conan/pull/9245

Note that the ``cmake_find_package`` generator will soon be deprecated in favor of ``CMakeDeps`` (which will be the only one that will remain in Conan 2.0). I have added the fix in both generators, but if for some reason this has some risk of breaking the ``cmake_find_package`` one, the fix might land only in ``CMakeDe

[2021-07-08 17:08] tomager commented on #9238
Thanks-- I will check out the API.

I found ArtifactoryCE quite challenging to set up in a simple self-contained way and anyway much more than what we needed (was hoping for single-line docker set up, but it wanted to install postgres on host machine etc, or in any case wasn't obvious at the time). We are mostly just uploading recipes and not packages, and access is limited to at most a couple doz

[2021-07-08 17:16] tomager commented on #9238
Hmm, after install pypy3 and pip + conan within it, it's actually slower than standard python3:

[code]

[2021-07-08 17:25] playgithub commented on #9234
@memsharded

e.g. there is a lib called `CGridListCtrlEx`

@github
https://github.com/snakefoot/cgridlistctrlex

@codeproject
https://www.codeproject.com/Articles/29064/CGridListCtrlEx-Grid-Control-Based-on-CListCtrl

`cgridlistctrlex` is not as good as `CGridListCtrlEx`.

[2021-07-08 17:25] playgithub commented on #9234
e.g. there is a lib called `CGridListCtrlEx`
@github
https://github.com/playgithub/cgridlistctrlex
@codeproject
https://www.codeproject.com/Articles/29064/CGridListCtrlEx-Grid-Control-Based-on-CListCtrl

`cgridlistctrlex` is not as good as `CGridListCtrlEx`.

[2021-07-08 17:55] memsharded commented on #9238
This is weird, we use docker for running Artifactory for example for training courses (e.g https://github.com/conan-io/training/blob/master/docker_environment/artifactory-training/Dockerfile), and it was relatively straightforward. Feel free to report any installation issues if you give it another try if you start to need a bit more speed and power.

Isn't the loading/import time in the export the

[2021-07-08 17:57] tomager commented on #9238
Using the API directly as you suggested makes a huge difference. The time I'm seeing is mostly in the app startup. Here is the script I'm using to export multiple recipes [2]. The time is much improved for multiple exports in one run [1].

[1]
[code]

[2]
[code]

[2021-07-08 17:59] memsharded commented on #9238
Good, then I think it would be fair to use the api, beware at each Conan release upgrade, just in case it breaks (unlikely, but possible).

[2021-07-08 18:00] tomager commented on #9238
Thanks for your help!

[2021-07-08 18:52] wer14 opened #9246 "[bug] layout() method does not propagate includedirs to clients"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.38.0
  * Python version: 3.8.3

I'm trying to use the new [`layout` method](https://docs.conan.io/en/1.38/reference/conanfile/methods.html#layout) but it seems it's not working correctly. After my package is built with `conan create` te

[2021-07-08 19:01] rthomaskelly opened #9247 "[question] handling pre-compiled binaries in an export-pkg + download in build() method manner"
I read [the docpage about handling pre-compiled binaries](https://docs.conan.io/en/latest/creating_packages/existing_binaries.html) a couple times. The page seems to recommend two things:
0. Use export-pkg as opposed to any conan create/build/install/etc...
1. Download the binary from a static link in the build() method of your conanfile.py. If it is a tarball use tools.get() to unpack it.

I gave

[2021-07-08 19:35] obsgolem opened #9248 "[bug] find_transitive_dependencies doesn't respect CONAN_CMAKE_SILENT_OUTPUT"
### Environment Details (include every applicable attribute)
  * Operating System+version:
  * Compiler+version:
  * Conan version: 1.38
  * Python version: 3.8.5

### Steps to reproduce (Include if Applicable)
Run `conan install` with the following conanfile
[code]
Note that you get lines similar to `message(STATUS "Dependency SQLite3 already found")`. This appears to be due to https://github.com

[2021-07-08 20:29] rthomaskelly opened #9249 "[bug] tools.get() hangs after first download 2GB+ archive"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux, RHEL7
  * Compiler+version: Any/NA
  * Conan version: 1.34.0
  * Python version: python: 2.7.16, python3: 3.7.3

### Steps to reproduce (Include if Applicable)
0. Follow [the documentation for pre-compiled binaries](https://docs.conan.io/en/latest/creating_packages/existing_binaries.html) to download

[2021-07-08 22:24] maddisoj commented on #9232
Hi @memsharded

AOSP uses its own build system, [soong](https://source.android.com/setup/build). I don't know of anything else that uses this.

Sadly, I can't share my VNDK recipe as it's a work project. Either way it exports binaries from AOSP, which takes an hour to clone, let alone build ;)

I appreciate that this is a weird edge case so thanks for fixing it :)

[2021-07-08 22:41] memsharded commented on #9238
Ok, as there is nothing immediate that we need to fix here, lets close this issue, but don't hesitate to re-open of file a new one if you have any further question. Thanks!

[2021-07-08 22:41] #9238 closed, assigned to memsharded

[2021-07-08 22:44] memsharded commented on #9232
Thanks for the info! :)

Lets see if this moves forward without problems. If you can't wait until the release:

- You can run from sources cloning my fork and checking out my branch, it is not difficult.
- As another, unrelated workaround, what I would have tried is to do a ``rename`` of the libraries in the ``package()`` method. It is perfectly fine to rename libraries, as long as the name is the

[2021-07-08 22:47] memsharded commented on #9247
Hi @rthomaskelly

Let me clarify:

- There is one method, doing the download of the binaries in the ``build()`` method, and executing a regular ``conan create``, that will run all methods, including the ``build()``. Useful for binaries hosted in a server elsewhere
- The method that package existing binaries that are in the local filesystem, typically besides the ``conanfile.py``. This is done with

[2021-07-08 22:49] memsharded commented on #9249
Quick question: are you able to download with that tools.get() that file, just running on another platform? Same Python version, same Conan version, same tools.get()? Sometimes small differences in the network layers of some OS, or ssl support makes a difference and affect badly.

Also relevant to know, specially for corporate computers, if there is any AV, firewall or security program that could

[2021-07-09 05:51] czoido commented on #9202
Thanks for the detailed report, I could reproduce the error on Macos, I'll try to investigate further what could be the issue.

[2021-07-09 07:31] lasote commented on #8703
I was reading all this and I'm wondering if for Conan 2.0 (not now because I assume we cannot break again the users using a directory in `sharedlinkflags` or `exelinkflags`) we should disambiguate them by using a [PurePath("/foo/bar")](https://docs.python.org/3/library/pathlib.html) when declaring a path so we can have a bit more information and improve the dirty job of preparing the data for CMak

[2021-07-09 09:04] czoido commented on #9244
Hi @grafikrobot,

The correct syntax is not using the underscores (those are a substitute for empty user and channel in the server but the equivalent in a conan reference is not adding them), please try something like:

`
conan inspect -r conan-center "fmt/8.0.0@#40864c8a44f3cfe41fc7e222b52fe386"
`

Hope this helps

[2021-07-09 09:43] SSE4 opened #9252 "[bug] AutoToolsBuildEnvironment : -arch flag is needed in LDFLAGS as well"
`AutoToolsBuildEnvironment` helper currently adds `-arch` flag into CFLAGS:
https://github.com/conan-io/conan/pull/8118/files#diff-a40e1623c8585581fd34b34ce184bebb85122f57120535d8aee613cfe5a9e766R360

we're doing many M1 builds right now that require `-arch arm64` (at least during cross-compiling).
as result, we have errors for shared builds only:
[code]
because of missing `-arch` in `LDFLAGS`.
we

[2021-07-09 09:46] sduraisamy commented on #9160
@memsharded I get it from virtualenv generator. Thanks for the information.

[2021-07-09 09:46] #9160 closed, assigned to nobody

[2021-07-09 11:29] #8454 closed, assigned to nobody

[2021-07-09 11:29] memsharded commented on #8454
https://github.com/conan-io/conan/pull/9218 implemented this, will be released next 1.39

[2021-07-09 11:32] #9213 closed, assigned to lasote

[2021-07-09 12:04] sd185233 opened #9254 "[question] Override warning when using unrelated mode"
Background - We have a bunch of packages which are pulled into a root SDK package.  Some of these packages build shared objects exposing C interfaces and some are static libs.  Some of these packages rely on each other.

Our conan.conf contains -
default_package_id_mode = full_package_mode
default_python_requires_id_mode = full_version_mode

After updating a static lib package version and updating

[2021-07-09 12:35] #9244 closed, assigned to nobody

[2021-07-09 12:43] rthomaskelly commented on #9249
Yes good questions, thank you.

In terms of platforms I have seen this issue occur both on a RHEL7 Linux host and a Debian based Docker image.

Yes it is a corporate computer. I don't know about the security layers in place. But an important piece which I was not clear about: **tools.get() hangs _after_ the dialog shows that the download is complete**:

Again, this is only on the _second time_. My

[2021-07-09 12:46] rthomaskelly commented on #9247
Ok thank you. Yes I was certainly confused. To now clarify the second bullet: `conan export-pkg` won't actually upload the binaries, or will it? I'm surprised to hear that it does not require a conanfile. The help menu says "exports a recipe." It actually creates and exports some templated recipe then?

[2021-07-09 13:44] Adnn opened #9255 "[question] How to control which available compiler will be used when generating a profile by detection?"
We are using Conan to drive our CI processes.

The CI cloud provider offers different _runners_ (available worker machines). On one of them, both **gcc** and **clang** are available. The runners are ephemeral (virtual machines starting from a clean default state on each run).

We run the build process via:

    conan create conan-path/ ${package}/${version}@

This triggers the automatic detection

[2021-07-09 14:42] sd185233 commented on #9254
Adding private=True to the requires appears to resolve the warning...

[2021-07-09 14:49] #9185 closed, assigned to franramirez688

[2021-07-09 15:05] lasote commented on #9181
The PR https://github.com/conan-io/conan/pull/9256 implements a `remove` and `items` methods for the Environment objects. That might be enough. I removed the previous "public" methods that return an _EnvValue object because I think it they should be always private.

[2021-07-09 15:24] Adnn opened #9257 "[bug] Different behaviours depending how 'CMake' is imported in conanfile.py"
Using Conan 1.38 on Windows 10.

I just tracked down a _surprising_ problem.

When `CMake` build helper is imported as

    from conans import CMake

Then, the resulting CMake helper instances do not handle the toolchain file automatically when calling `CMake.build()`. (It also does not output the executed command to the console).

Whereas if it is included via

    from conan.tools.cmake import C

[2021-07-09 15:39] Adnn commented on #9257
Okay, I found the answer, this is exactly as intended:

https://docs.conan.io/en/1.36/reference/conanfile/tools/cmake.html#cmake

(The two classes have very similar roles, but have important behaviour differences. Maybe having them named exactly the same will catch other users by surprise ; )

[2021-07-09 15:41] #9257 closed, assigned to nobody

[2021-07-09 16:11] #9176 closed, assigned to lasote

[2021-07-09 16:11] #9181 closed, assigned to nobody

[2021-07-09 16:19] memsharded commented on #9257
Yes, we know, but also, as the ``CMake`` helper, even the new one will be the one that will continue to be used in Conan 2.0, we didn't want to name it something ugly like ``CMakeNew``, so we decided to do a replacemente based on import only, not the name. Not the most intuitive, but looking for a nice Conan 2.0 recipe syntax...

[2021-07-09 16:24] memsharded commented on #9247
Yes, it will not upload the binaries to anywhere, it will create a new package binary in the cache, but everything is local (unless the package has dependencies that were not fetch previously, they will need to be downloaded to compute the correct package_id for the current package).

Yes, yes, it does need a ``conanfile.py``. Specially, it typically requires a ``conanfile.py`` with a ``package()`

[2021-07-09 16:25] wer14 commented on #8940
Did you put the package to editable mod?

[2021-07-09 16:33] memsharded commented on #9255
Hi @Adnn

In short you don't. You want to use your own profiles files, pre-created, and not rely on whatever Conan would be detecting on the system. Conan 2.0 Tribe already approved that the creation of default profile will not be automatic when such default profile is missing. Furthermore, the output of the Conan auto-detection will not be guaranteed to be stable either.

Are you using a free clo

[2021-07-09 16:36] memsharded commented on #8940
Note for users: Please check the new recipe ``layout()`` method in https://docs.conan.io/en/latest/developing_packages/package_layout.html, introduced in Conan 1.37.

And https://docs.conan.io/en/latest/reference/conanfile/tools/layout.html

It is intended to supersede the layout files, like the one described above with the ``[includedirs]``

[2021-07-09 16:40] #9232 closed, assigned to memsharded

[2021-07-09 16:40] memsharded commented on #9232
https://github.com/conan-io/conan/pull/9245 merged, this will be released in Conan 1.39

[2021-07-09 16:55] memsharded commented on #9249
Oh, I think I missed something. You say the ``package_info()`` but no, the documentation says the download needs to happen in the ``build()`` method, not the ``package_info()`` one. Can you please verify you are downloading in the ``build()`` method?

Other tips that could explain some things:

This could be a typical effect of some AV taking ownership of a file that was just downloaded to the sys

[2021-07-09 16:59] memsharded commented on #9254
Better avoid ``private=True`` unless it is strictly necessary. It should be used for very extreme cases.

The warnings you are seeing are not related to the ``package_id()`` or the ``unrelated_mode()``. Those belong to the binary resolution, and computing what binary (``package_id()``) do you need, but the message you are seeing is about the version resolution, which happens much earlier, when the

[2021-07-09 18:19] daravi commented on #8542
@solvingj I use both gammaray and qt in my project. gammaray requires that qt be built with some options like optA and optB. My project requires that qt have optA, optB, optC, optD. When I build my project, conan complains that the options do not match. Is there a way for me to modify the gammaray recipe in such a way to not have to touch it every time I update qt options in my root package? (sinc

[2021-07-09 18:23] daravi commented on #8548
@czoido Thanks it would be great if this was considered for next design then. Feel free to close the ticket or change the tag to that future version if this is something that will be considered seriously for that version thanks.

[2021-07-09 18:27] daravi commented on #8659
@danimtb Final question on this. Would it not be possible to change the md5 logic for version 2.0 so that the sha is calculated from the package directory instead of from the archive?

[2021-07-09 18:46] xahon opened #9259 "[question] search query filter by option"
I want to find a qt package with these options:
shared = True
commercial = False
qtmultimedia = True

How can i tell it to the conan? I didn't find it in docs https://docs.conan.io/en/1.36/reference/commands/consumer/search.html

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-09 19:36] bldrvnlw opened #9260 "[bug] KeyError in VSRuntimeBlock caused by undefined compiler.runtime"
Using a conanfile on Windows with the following in generate

[code]
Fails with
[code]

### Environment Details (include every applicable attribute)
  * WIndows 10
  * Visual Studio 16
  * Conan version: 1.38.0
  * Python version: 3.7.6

### Steps to reproduce (Include if Applicable)

A conanfile with generate as described above and running install from the command line
`conan install . Foo/0.2.0@

[2021-07-09 22:07] #8870 closed, assigned to nobody

[2021-07-09 22:18] memsharded commented on #9260
Hi @bldrvnlw

Something is missing in your report. I have written the following test according to your description and it works without problem:

[code]

[2021-07-09 22:24] memsharded commented on #9259
With the ``-q`` query argument:

[code]

[2021-07-09 22:26] memsharded commented on #8659
Servers file de-duplication work on the uploaded files. Passing the sha of the package contents instead of the actual .tgz will not work.

In any case, Conan 2.0 will be "always revisions", so that will take into account the revisions to avoid transfers, and that does not require the compression step.

[2021-07-09 22:35] memsharded commented on #8548
It happens that recipe revision update checks cannot easily be done in batches, because recipes are evaluated one by one, in order to compute the graph. If a recipe is going to get an update, it can, and often will do, change its dependencies. So the transitive dependencies of every package in the graph need to wait until the update of the downstream one is done. And that for every package in the

[2021-07-09 22:35] #8548 closed, assigned to czoido

[2021-07-09 22:40] memsharded commented on #9234
It is so good, that they did the repo name in lowercase too :) https://github.com/snakefoot/cgridlistctrlex.

They even named the project in their readme as lowercase!

So not a big issue. Indeed a very minor issue compared with all the complexities, issues, and even security concerns that mixing casing brings (typo squatting attacks are easier, for example). This is decided and approved by the Tr

[2021-07-09 22:44] memsharded commented on #9242
Hi @espositofulvio

This is not a Conan issue. Conan client allows to create and mix different library types in the same package, that is not a problem for Conan.

You are being blocked by the ConanCenter hook that check the contents of packages, so lets transfer this issue to the hooks repo.

[2021-07-09 23:19] daravi commented on #8659
@memsharded sounds good thank you

[2021-07-09 23:23] playgithub commented on #9234
There are all kinds of lib names, when `conan` being lower case only, the original lib name can not be kept.
On the other side, as a pro tool, it's ok.
Thanks

[2021-07-10 04:19] xahon commented on #9259
Looks like it doesn't work

[2021-07-10 06:13] daravi commented on #8542
Sorry thinking about this more I now realize that my question does not make much sense. Sorry for the noise!

This was exactly the source of my issue. I removed all options from the packages and instead throw exception in the `validate` method if the option is missing. Would you say this is the right approach?

Thank you and cheers.

[2021-07-10 07:31] t6tb7n opened #9261 "[bug] Searching the reference of an editable package fails with a traceback"
### Environment Details
  * Operating System+version: Arch Linux
  * Compiler+version:
  * Conan version: 1.38.0
  * Python version: 3.9.5

### Steps to reproduce

1. Create a project with the following recipe and layout description file:

[code]
[code]

2. Put the package in editable mode: `conan editable add . pkga/0.1.0 -l layout`
3. Search for the package with the full reference: `conan search

[2021-07-10 08:54] memsharded commented on #9259
You have extra spaces:

[code]

[2021-07-10 11:53] r1d1shka commented on #9236
Thanks! Your advice helped to solve the problem

[2021-07-10 11:53] #9236 closed, assigned to memsharded

[2021-07-10 14:21] bldrvnlw commented on #9260
You are correct. I forgot that I was manipulating the package_id by removing the compiler.runtime Which was incorrect for two reasons

1. I should only do that when building the multi-config package
2. package_id() runs before the the rest so the `del self.settings.compiler.runtime` was having this side effect

[2021-07-10 14:21] #9260 closed, assigned to memsharded

[2021-07-11 22:04] memsharded commented on #9260
Also, please notice that to remove from the ``package_id`` you need to remove ``del self.info.settings.compiler.runtime``, not ``del self.settings.compiler.runtime``

[2021-07-11 22:25] memsharded commented on #9261
Proposing a fix in https://github.com/conan-io/conan/pull/9262

To clarify: the fix is improve the error message and avoid the traceback. It is not possible to list the binaries of a package in editable mode.

Thanks for reporting!

[2021-07-11 23:07] memsharded commented on #2140
Hi  @KerstinKeller

The proposal in https://github.com/conan-io/conan/pull/9195 only implements one of the existing ``overrides``, which does not do version range checking upstream. It doesn't do it, because for regular requirements, it also does an override. If one package upstream depends on a fixed version ``dep/1.0@user/channel``, it can be overriden from downstream to ``dep/2.0@user/channel``

[2021-07-12 00:46] solvingj commented on #8542
Yes, exactly.

[2021-07-12 05:13] #8542 closed, assigned to solvingj

[2021-07-12 07:11] gsemet commented on #2140
Hi. That would cover part of our needs (we also use this overrides for build_requirements). Hi does it behave for transitive dependencies or during export ?

For transitive dependencies, A depends on B and C and B depends on C, if C is overrrided, when B is rebuilt it needs to take the overridden C as well.

Also, the export triggers the “requirement” hook that I use to simulate this override, so

[2021-07-12 07:41] sd185233 commented on #9254
What are the extreme cases that private can be used and does that filter down any changes to cmake?

[2021-07-12 08:55] bldrvnlw commented on #9260
Yes that was the mistake I made.

Perhaps this is already on the planing for Conan 2 but it might be an idea to have a more OO style interface for manipulating package_id, or similar entities. i.e. first get the PackageID instance and then manipulate object properties. The current distinction `self.info.settings` versus `self.settings` is one that is easy to confuse or mistype.

[2021-07-12 09:02] memsharded commented on #9260
We will see, this is not a high priority, maybe we will at least rename info => package_id or something, and could try to freeze settings at that stage to avoid incorrect removal, but not fully clear.

[2021-07-12 09:12] memsharded commented on #9202
I think this issue was solved for OSX in the CMakeToolchain by @lasote, adding the XXX_DIR variable to packages for OSX exclusively.

[2021-07-12 09:14] #9239 closed, assigned to memsharded

[2021-07-12 09:22] #9261 closed, assigned to memsharded

[2021-07-12 09:49] #9130 closed, assigned to franramirez688

[2021-07-12 09:51] Minimonium commented on #2140
The current PR looks great for my use case. The by-passing behavior is what I need and it conforms to the current override behavior in other parts of Conan.

[2021-07-12 10:00] memsharded commented on #9254
``private`` should only be used if you have some extreme case like having to link 2 different versions of the same library in your final product, something like in most cases should be avoided, the risks of ABI incompatibilities and runtime errors is too high. There are still some teams that need to do that for some legacy reasons, ``private`` might help with that.

In theory, packages that are be

[2021-07-12 10:20] Adnn commented on #9255
Hi @memsharded, thank you for taking the time to answer this question.

Well, I agree with everything here. Sadly, our paid provider, Microsoft Azure Pipeline, did upgrade at least once the VS compiler version since we have been using them. Luckily nothing broke then, but we don't know if/when they'll do it again.

(As a side note, as soon as you rely on an external source, anything might break ou

[2021-07-12 10:48] memsharded commented on #9255
Yes, this is documented in https://docs.conan.io/en/latest/introduction.html#stable, ConanCenter follows the policy of using latest version, it is the only possible way of moving things forward in this open community environment. Many fixes that many ConanCenter users need, for example, for cross-compiling, can only be possible with newer Conan versions. And it is not possible to change the identi

[2021-07-12 14:05] lieser commented on #2140
I would say that overriding without validating fits our use case better.
We would e.g. like to overwrite a version of `dep/1.0.0@user/stable` or `dep/[^1.0.0]@user/stable` with `dep/1.1.0@user/stable` or `dep/master@user/testing`.

[2021-07-12 14:47] robindegen opened #9263 "[bug] Conan workspace install failing when using imports"
If one of my "editables" in a workspace has an imports method, the workspace install seems to fail.

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 21H1
  * Compiler+version: Visual Studio 2019 16.10.3
  * Conan version: 1.38.0
  * Python version: 3.9.6

### Steps to reproduce (Include if Applicable)
I followed the example of conan workspaces

[2021-07-12 14:50] petermbauer commented on #2140
Same here, one often does not know in advance what may be overridden in the future and with what version/user/channel.

[2021-07-12 14:59] DCNick3 commented on #4234
I've faced the same problem when trying to package gcc:
[code]

The failure happens somewhere deep in the gcc build system internals (https://gitlab.com/uwin-dev/conan-pkg/-/jobs/1413100728#L319). It's pretty hard to mitigate by not issuing long commands due to complexity of gcc's build system (and considering I use crosstool-NG - a wrapper around that complex build system).

I've managed to mitig

[2021-07-12 15:14] lasote commented on #9202
Hi, yes, the new `CMakeToolchain` already solves this issue. With the old cmake generators you will need a workaround.
You can add `set(re2_DIR ${CMAKE_BINARY_DIR})` in the `CMakeLists.txt` file after the `conan_basic_setup()` call.

Edit: The root cause is that CMake only search the Macos folders when crossbuilding. Another weird and unexpected behavior to be honest.

[2021-07-12 15:32] bkarpati commented on #9116
We also encountered this issue while trying to build packages via our conan workspace, getting the exact same error.

#### Environment Details

* Operating System+version: Windows 10
* Conan version: 1.37/1.38
* Python version: 3.7.5
* Default conan configuration and profile

As suggested, reverted back to v1.36 for now as it seems to be unaffected.

[2021-07-12 16:00] memsharded commented on #9202
I have closed without merging https://github.com/conan-io/conan/pull/9250, this is solved in the new CMakeToolchain, fixing it in the old ones is complicated and risky, it only applies to one very specific scenario (OSX and cross-build) and a workaround is relatively straightforward. Thanks all!

[2021-07-13 06:32] lasote commented on #5059
Yes, I will resume the conversations about a post-install package stage, it would be something great for Conan 2.0.

[2021-07-13 07:30] Adnn opened #9264 "[question] How to get recipe name? How to provide an option value only for created recipe?"
We have a CI process that validate all pushes via a command of the form

          conan create  \
          -o ${{ recipe_name }}:build_tests=True -s compiler.cppstd=${{ matrix.cppstd }}  \
          conan/

We have a problem making it generic though, because of the options that are present on the recipe, but not on the test packages.
In this case, this is the `build_tests` option.

If we do not

[2021-07-13 07:36] Adnn commented on #9255
Thank you for the detailed answer @memsharded

Just a precision:

In the context of this issue, we are using CI to produce all releases (there are indeed many potential risks if anything built directly on a developer machine can leave the "safe circles" of the organization ; ), so the specific remark regarding dev environments was about making developpers life one command shorter with automatic de

[2021-07-13 07:49] canatella commented on #6627
I have the exact same problem with `android-ndk/r22`, my build profile is arch `armv8`, my host profile is arch `x86_64`:
[code]

[2021-07-13 09:30] Adnn opened #9265 "[question]"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-13 10:08] SpaceIm commented on #9202
@memsharded When you say "new CMakeToolchain", you refer to CMakeDeps?

FYI, this issue breaks several build of CCI recipes, and many test_package, so it prevents CCI to add a configuration for iOS. CCI can't use CMakeDeps for the moment, and some recipes must model Find AND config files because they are different (like protobuf).

[2021-07-13 10:20] memsharded commented on #9202
No, it is included in the ``find_paths`` block of ``CMakeToolchain``. This is not about the deps itself, but where to locate the ``xxx-config.cmake`` files generated by Conan.

How can it break the build, if CCI is not cross-building and not using 2 profiles? It is not intended to add iOS as a configuration to ConanCenter.

It will also be possible to use CMakeDeps and CMakeToolchain in ConanCente

[2021-07-13 11:03] shavesha opened #9266 "trying to understand why conan source method returns error: 'NoneType' object is not subscriptable"
Disclaimer: am new to conan. Every time i run the conan command
``conan source .``
it returns the error message
``ERROR: conanfile.py (windmill/0.1.0): Error in source() method, line 58
        tools.get(**self.conan_data["sources"][self.version])
        TypeError: 'NoneType' object is not subscriptable``

I was initially calling ``conan create .`` and this is where the message came from. can any

[2021-07-13 11:25] memsharded commented on #9266
HI @shavesha

It is very likely that you have your ``conandata.yml`` file empty, or missing.
It seems that you are using some recipes from ConanCenter, but not copying the files, or something.

By the way, it is possible that some recipes from ConanCenter and conan-center-index are not well prepared for the "local flow", i.e. the ``conan source``, ``conan build``, commands, and they only work corr

[2021-07-13 12:36] robindegen commented on #9266
To me it looks like version 0.1.0 is not in the sources entry in the conandata yml, but only other versions. I made that mistake a lot when converting my packages

[2021-07-13 13:12] shavesha commented on #9266
Thanks for the quick response @memsharded. I it indeed an empty ``conandata.yml``.

[2021-07-13 13:51] chris-laplante commented on #5059
Sorry I haven't looked at this recently, no. I'm hoping to get back to it some day though :/

[2021-07-13 15:30] guiserle commented on #2406
I found the same problem myself today, when adding a test_package folder. I understand the reason but I kind of see it far from intuitive that you execute `conan create` on a `./conanfile.py`, but options are applied to `./test_package/conanfile.py`.

I would find easier to understand to have a separate argument for test options on conan create (for example `-to`), in a similar way to `-tbf` argum

[2021-07-13 17:23] memsharded commented on #2406
@guiserle yes this is going to be changed in Conan 2.0

This ongoing work for 1.39 is related: https://github.com/conan-io/conan/pull/9267

[2021-07-13 19:16] SpaceIm commented on #9202
@memsharded It's true that CCI doesn't build binaries for iOS currently, but @jgsogo may add this profile https://github.com/conan-io/conan-center-index/pull/6045#issuecomment-878944765. So yes it doesn't break CI of CCI, but it might break consumers using others profiles. It's not because CI of CCI doesn't test those profiles, that CCI recipes shouldn't support them.

Here is a simple fix in `cma

[2021-07-14 08:26] jgsogo commented on #9202
Hi! This kind of addition/fixes/enhancements would be very valuable from the point of view of conan-center-index. Right now we are building Macos/armv8 using two profiles (cross-building from regular Macos) and we have fixed many recipes, not because now it works for this new configuration, but because in the way we have removed legacy and improve their quality for other configurations.

Right now

[2021-07-14 08:32] memsharded commented on #9266
@shavesha good to know! I guess the issue is solved and can be closed, but please tell otherwise. Thanks!

[2021-07-14 08:32] #9266 closed, assigned to nobody

[2021-07-14 10:43] serghov opened #9269 "[bug] installing autoconf/2.71 fails when using -pr:b flag"
### Environment Details (include every applicable attribute)
  * Operating System+version: docker ubuntu:18.04
  * Compiler+version: gcc version 7.5.0
  * Conan version: version 1.38.0
  * Python version: Python 3.6.9

Building autoconf/2.71 with the following command fails;
```conan install autoconf/2.71@ --build  -pr default -pr:b default```

The default profile is generated by conan and is
[cod

[2021-07-14 16:28] lasote commented on #9269
Hi, I'm moving this issue to the conan-center-index repository where the community can help with packages.

[2021-07-14 23:27] PengolodhGoedath opened #9270 "[question] asymmetric behavior of conan upload and conan download"
Scenario: I have setup conan with two remote repositories `A` and `B`. I use `conan create` to build a package locally using dependencies from `A`, especially a `python_requires`. Then I upload the just built package to `B` using `conan upload --all --remote B name/version@user/channel:package-id`. When I then try to download the package (with a clean conan cache) using `conan download --remote B

[2021-07-15 07:17] Makogan opened #9271 "[question] Can you download a project as it appears on github?"
Is it possible for conan to download a directory as an identical mirror of the files in the original git repo?

For example take imgui, a very popular UI for c++. This is the result of doing `ls` inside a git cloned version of the project:

[code]

Notice the pressence of some .cpp files and the `backends` directory.

This is `ls` in the conan installed package under my user:

[code]

Which is a s

[2021-07-15 07:29] macdew commented on #1204
I appreciate that this item is marked as inactive/obsolete, but having a flag to control this file creation would help me as well. I use conan imports as part of a cmake / cpack sequence and as a result, the file conan_imports_manifest.txt always appears inside my installer/distribution.  I have to delete it manually every time, but now I'm trying to automate my release process further and I just

[2021-07-15 07:30] Makogan commented on #9271
Some further researching seems to suggest:

[code]

is the way to go.

[2021-07-15 07:30] #9271 closed, assigned to nobody

[2021-07-15 08:10] memsharded commented on #9271
Hi @Makogan

A couple of comments:

- You typically want to get an exact version of the sources, not the master branch, or any other branch, as that is a moving target, and for packaging, reproducibility and traceability is key
- You can get a lot of open source recipes in http://github.com/conan-io/conan-center-index, and the precompiled binaries in https://conan.io/center. The imgui library reci

[2021-07-15 14:31] harsszegi opened #9274 "[question] Unicode exception in SCM under Docker"
Hello,
we have a large repo which we are exporting via scm (auto URL and revision).
It works fine under Windows, but fails under Docker/Ubuntu 18.04

Do you have any suggestion how could I debug this easily? Or simply I have to compile Conan from source and put bunch of print()s here and there?
Thanks,
 
######## conan export feature_conan_transition+37-81cc044-dirty@
Exporting package recipe
Trac

[2021-07-15 17:16] Makogan commented on #9271
Hello @memsharded, I understand, thank you for the advice, and for most linked libraries, such as shaderc, freetype, harfbuz...

conan works just fine, it just happens that the low level integration between vulkan and imgui is quite tricky and some "hacks" such as including the orignal cpp file in a bridge file to expose many functions that are used to interoperate with vulkan make things easier.

[2021-07-15 17:35] ruzito commented on #2526
I think that it would be also apreciated if at least the default directory was `~/.config/conan` instead of `~/.conan` on linux.

And for backwards compatibility you just check if `~/.config/conan` exists if it does, use it, if not check if  `~/.conan` exists if it does, use it, if not create `~/.config/conan`

With this aproach it would be easy to just move the directory where one wants it. (Unle

[2021-07-15 17:39] memsharded commented on #9271
Ok, yes, I see. Then I guess the approach would be to package the sources, and then the consumer can access them directly via the dependency package folder, and integrate the sources directly into their builds. Understood, thanks for the feedback!

[2021-07-16 02:20] baby4bamboo commented on #9224
But in conan doc ,it says we can add package_id in conanfile :https://docs.conan.io/en/latest/versioning/revisions.html
You can specify the references in the following formats:
lib/1.0@conan/stable#RREV:PACKAGE_ID#PREV

[2021-07-16 04:44] stefaneicher opened #9275 "conan create: can I run all test if --build=missing"
We have multiple conan recipes/components and a big dependency tree between the recipes/components.

to avoid having to maintain the build order of the flattened dependency tree in the CI build script we run

conan export a
conan export b
conan export c
..
conan export main

and then

conan create main --build=missing

Thus we build all packages/components a,b,c,..main in the correct order.

But t

[2021-07-16 05:41] harsszegi commented on #9274
Ok, our issue is that we have a "strange" file in our repository for Unicode tests and this gives the creep to Conan/Python (after Docker converts a bad Unicode name for sure).

Is it possible to tune up files/to_file_bytes like this?:

def to_file_bytes(content, encoding="utf-8", error = "strict"):
and then in the function "content = bytes(content, encoding, error)"

and obviously in scm/excluded

[2021-07-16 05:49] harsszegi commented on #9274
On the other hand, you might close this, as obviously we can work this around with properly defining our Dockerfile via adding "ENV LANG C.UTF-8" to it

[2021-07-16 07:38] bldrvnlw commented on #9229
I've put together a test repo to run through the situations I want to support, conan and non-conan builds. I get very close but the skip_deps_file has one minor "issue"

Normally the **CMakeDeps** class (https://github.com/conan-io/conan/blob/develop/conan/tools/cmake/cmakedeps/cmakedeps.py) creates a number of files based on templates.

**CMakeDeps** (this just lists the features relevant to the

[2021-07-16 07:53] lasote commented on #9275
Hi, the problem is that the test_package folder/mechanism is no exported to the Conan cache so you cannot run it once it is there.

I recommend to take a look at the [lockfiles](https://docs.conan.io/en/latest/versioning/lockfiles.html) feature. You can generate a lockfile for your dependency tree and you can obtain also the order you have to follow to build the packages. So your process could be

[2021-07-16 07:57] lasote commented on #9252
@memsharded do you think it is ok to add it? I can think we could break if another flag was already specified somehow. But I think this is probay a bug not to add it.

[2021-07-16 08:01] memsharded commented on #9265
Seems an error creating the issue, closing it

[2021-07-16 08:01] #9265 closed, assigned to nobody

[2021-07-16 08:55] memsharded commented on #9224
Yes, this is not well explained in the docs, it doesn't mean that it can be used in the ``conanfile.txt`` or ``conanfile.py``, but it might be used in other contexts (maybe search, remove, etc).

This should be better explained in the docs, transferring this issue to the docs repo, to clarify it in the docs.

[2021-07-16 09:05] dragondive commented on #8667
@jgsogo Thanks for this explanation.

[Sorry for the delay in closing the issue. I had been away from this topic for a few months due to personal reasons.]

[2021-07-16 09:05] #8667 closed, assigned to nobody

[2021-07-16 10:45] memsharded commented on #9263
Seems it could be same issue https://github.com/conan-io/conan/issues/9116

[2021-07-16 11:24] robindegen commented on #9263
@memsharded Looks like it indeed.

[2021-07-16 13:44] sandeshhardikar opened #9277 "[question] conan info doesnt take into accountpython requires dependency"
I have a recipe which has build_requires , requires and python_requires .

conan info doesnt track "python_requires" neither in dependency graph or in the text output .

Is there any other way to get list of "python_requires" dependency ?

Thank in advance ,
Sandesh

[2021-07-16 14:21] Steback opened #9278 "[bug] unresolved external symbol in Windows build"
I normally work on Linux and Conan work fine, but I want my project run in Windows also. But I get "unresolved external symbol" error in almost all dependencies.

### Conan file and profile:
[code]
[code]

### CMake file:
[code]

### Output of the CONAN_LIBS:
[code]

### Error log:
[code]

Also I get this warning with all  dependencies, I don't know if it affect:

[code]

[2021-07-16 15:53] memsharded commented on #9278
Hi @Steback

Yes, it is possible that you are doing a 32 bits build? As you can see in the Conan profile output, the dependencies are installed for 64 bits: ``arch=x86_64``.

If you are using CMake, you might want to call it with ``cmake .. -G "Visual Studio 16 Win64"`` to indicate the 64 bits architecture? (depending on the cmake version, it might not be the default).

[2021-07-16 16:01] bldrvnlw commented on #9229
Leaving the skip_deps_file funcationality as is, the following is a first attempt at injecting the package root into the conan_toolchain.cmake file which permits the find_package to work on the package locale cmake file-config

[code]

[2021-07-16 16:13] bldrvnlw commented on #9229
My demo repo creating the Foo package is here https://github.com/bldrvnlw/Foo it contains one non-conan consumer (Bar) and a conan consumer (Car).

As well as the requirements free pure CMake package Foo, a conan compatible package Foo_deps is created at the same time for use in the conan based consumer. The conan based consumer used the `_inject_package_root` trick to locate and place the Foo pac

[2021-07-16 16:13] memsharded commented on #9229
Calling from a Conan recipe the python api is forbidden, it can easily lead to many undefined behavior, please don't do it: ``command.run(["info", f"{package_str}@", "--paths"])``

For a start, there is nothing that forces there that the same settings used for the current evaluation will be the same evaluated by the nested ``conan info``, so it could very easily give you the path of another (incom

[2021-07-16 16:14] memsharded commented on #9277
I think the lockfile contains the locked python_requires.

I guess it might be doable adding them to ``conan info`` command, but unless there is a very compelling and demanded use case, that would probably need to wait until Conan 2.0 new CLI.

[2021-07-16 17:31] Steback commented on #9278
I am using CLion with CMake version 3.19.2. But I add `-G "Visual Studio 16"` to CMake option as you says and it works perfectly. Thank you!

[2021-07-16 17:32] #9278 closed, assigned to nobody

[2021-07-16 18:21] rconde01 opened #9279 "[feature] Add ability to have multiple named configurations"
It's possible that you might work on multiple projects which have:
* Different settings
* Different configurations
* Different Remote list
* etc.

It would be cool if you could create isolated configurations with settings.yml, conan.conf, etc. Each config would have it's own cache as well. Then you would have an optional argument for commands such as:

[code]

- [X] I've read the [CONTRIBUTING gui

[2021-07-16 20:11] SpaceIm commented on #9202
Just to mention that the fact that `CONAN_CMAKE_FIND_ROOT_PATH` is not properly set in `conanbuildinfo.cmake` doesn't break only `find_package()` of config files, but things like `find_library()` or `find_path()`, or targets defined by `pkg_check_modules()`, making some libraries very hard to package for iOS.

`set(re2_DIR ${CMAKE_BINARY_DIR})` is a workaround to find config files only, but ti doe

[2021-07-16 23:03] SpaceIm commented on #9202
@memsharded Sorry to bother you, but I have a fix that I've tested locally with several recipes in native and cross-build scenario:

[code]

Would you consider a PR for this issue?

[2021-07-17 06:52] ssrobins commented on #9025
I still have to use `CMAKE_OSX_DEPLOYMENT_TARGET` to get `-version-min` set properly in macOS and iOS builds in Conan 1.38.

Here's my generate function:
[code]

macOS configuration:
[code]

iOS configuration:
[code]

Adding this to the generate function still fixes it:
[code]

So I'm not blocked, but it sounded like you were interested in implementing this capability. Let me know if I should log

[2021-07-17 07:54] Makogan opened #9280 "[question] How to make the vulkan validation layers package recipe export environment variable"
At least on Linux, the vulkan sdk requires to run a setup script to export an environment variable, the relevant lines are:

[code]
This exposes a group of json files inside the sdk that are necessary for the validation layers to work properly. It is possible to export the same json file and allow proper funcitoning of the validation layers with conan by manually exporting the res folder, for exam

[2021-07-17 20:02] memsharded commented on #9263
I managed to reproduce this and I have submitted a fix for this in https://github.com/conan-io/conan/pull/9281, in case you would like to try it running from my source branch, to make sure it works in your project.

Thanks for the detailed report!
This is targeted for 1.39, but could be considered a regression, please let us know if you can directly jump to 1.39 or need it in previous versions (it

[2021-07-17 20:03] memsharded commented on #9116
Hi all, thanks for reporting and following up.

I managed to reproduce this, thanks for the details to help reproducing, and I have submitted a fix for this in https://github.com/conan-io/conan/pull/9281, in case you would like to try it running from my source branch, to make sure it works in your project.

This is targeted for 1.39, but could be considered a regression, please let us know if you

[2021-07-17 20:12] robindegen commented on #9263
Thanks! For me updating to 1.39 when it comes out is fine. I'll see if i can try it out from your branch somewhere next week.

[2021-07-17 21:15] memsharded commented on #9280
Hi @Makogan

It is not possible to set it directly in your consumer, this is definitely not valid: ```self.deps_cpp_info["vulkan-validationlayers"].env_info.VK_LAYER_PATH``

I would need a bit more info about how you are consuming that package. Typically, a minimal reproducible case is very helpful (very simplified conanfile.py, one or several, in a folder, with the steps and exact commands to rep

[2021-07-17 21:20] memsharded commented on #9025
Hi @ssrobins

Yes, please, as the title of this issue is NDK for Android, I think it is better to file a new issue dedicated for it. From your code it seems that it would be:

[code]

Do you know if it also applies to watchOS or tvOS?

[2021-07-17 21:20] memsharded opened #9282 "Use `CMAKE_OSX_DEPLOYMENT_TARGET` to get `-version-min` set in CMakeToolchain"
I still have to use `CMAKE_OSX_DEPLOYMENT_TARGET` to get `-version-min` set properly in macOS and iOS builds in Conan 1.38.

Here's my generate function:
[code]

macOS configuration:
[code]

iOS configuration:
[code]

Adding this to the generate function still fixes it:
[code]

So I'm not blocked, but it sounded like you were interested in implementing this capability. Let me know if I should log

[2021-07-17 21:21] memsharded commented on #9025
Just created a new one from your comment in https://github.com/conan-io/conan/issues/9282, please track it and provide feedback there. Thanks!

[2021-07-17 21:30] memsharded commented on #9279
Adding an extra argument to absolutely every Conan command, like ``--config-name myProject1``, would be cluttering too much the CLI, which already has some commands with lots of options. Also, easy to forget in some command, and then the behavior would be very confusing. The experience in other languages with environments, tell us that it is necessary manage this with state, activate the environme

[2021-07-17 21:36] memsharded commented on #9278
Great, happy to hear that it is solved!

Please keep in mind, that there is no magic between the build system configuration and the Conan dependencies configuration. When Conan do a ``conan install`` it will get the settings, compiler, version, architecture from the ``profile`` file, which might not be the current configuration that the current build system is using. It is the responsibility of th

[2021-07-17 22:38] Makogan commented on #9280
This is my current conan.py:

[code]

[2021-07-17 23:25] burgerkiller79 commented on #9116
Thank you for investigating the issue. Your commit fixes the error, however, in our case we are facing a problem with the build and imports folders.

We are using the old mechanism with layout files specified in a workspace yml. The path for each editable points to the recipe directory and each editable has its layout file.

In the layout files, we specify source_folder as "." (being the same as t

[2021-07-18 01:03] ssrobins commented on #9282
Thanks for posting a new issue.

To answer your questions in the closed issue, yes the change would be:
[code]

I had them as separate `if` statements only because I was adding/removing lots of settings and hadn't cleaned anything up yet.

According to CMake, this setting is also used for tvOS and watchOS:
https://cmake.org/cmake/help/latest/variable/CMAKE_OSX_DEPLOYMENT_TARGET.html

[2021-07-18 05:26] benet96 opened #9283 "[question] Is there compiler.ld setting or WIP?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi, I am looking through Conan setting rules. There is compiler.libcxx to set standard C++ library to use, but I didn't find any setting item like compiler.ld to set what linker to use. (Though I know there are several methods to set it without Conan involved, such as -fuse-ld=lld for

[2021-07-18 12:22] burgerkiller79 commented on #9116
So after some more debugging, I think I've narrowed it down to the call to run_imports in installer.py:
[https://github.com/memsharded/conan/blob/ad4dc8610dd23818b10587dcf287d2a702ba79aa/conans/client/installer.py#L522](url)

In 1.35 for example, the call was: `copied_files = run_imports(conanfile, build_folder)`
which you've changed in a later version to `copied_files = run_imports(conanfile)`.
I

[2021-07-18 18:08] ssrobins opened #9284 "[feature] Allow overriding CMAKE_OSX_ARCHITECTURES for CMakeToolchain generator"
I'm building an iOS app that supports armv7 and arm64 architectures for maximum device compatibility. I currently accomplish that with the cmake generator by adding this to my conanfile.py:
`cmake.definitions["CMAKE_OSX_ARCHITECTURES"] = "armv7 arm64"`

The conan package setting is `arch=armv7`, which is the best I can do without [multiarch](https://github.com/conan-io/conan/issues/6384), but it g

[2021-07-18 20:05] ssrobins opened #9285 "[bug] CMake configuration repeatedly prints 'Using Conan toolchain through .' when using CMakeDeps"
I get `Using Conan toolchain through .` repeatedly printed to the terminal when I run CMake when they have checks such as `check_include_file()` that are independent of the build and presumably not subject to the `include_guard()` you have in place.

Given that Conan is already printing the full CMake command, which includes the path to the toolchain, maybe you could just delete the `message`? Or

[2021-07-18 20:55] memsharded commented on #9116
Hi @burgerkiller79

You are right, I have changed my PR with your suggestion, I hope it would be ok now, please check again. Thanks!

[2021-07-18 21:34] memsharded commented on #9283
Hi @benet96

The current ``settings.yml`` are  like a common denominator, a set of settings that work reasonable well for many cases without creating a big explosion of different binaries to create.

The ``libc`` is typically one of the things that has not been worth so far to define as built-in in Conan. The glibc version is also something that defining it for each version would create too many d

[2021-07-18 22:32] burgerkiller79 commented on #9116
Hi @memsharded, it works perfectly.
Thanks a lot :) !

[2021-07-19 06:42] SSE4 commented on #9282
@memsharded we have a comment there:
https://github.com/conan-io/conan/blob/b61f761e8d8cc092976a7c672037efefe1fa6549/conan/tools/cmake/toolchain.py#L361
[code]

[2021-07-19 07:54] #9105 closed, assigned to tapia

[2021-07-19 08:26] ibmboy19 opened #9287 "[bug] Makefile won't build successfully"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04
  * Compiler+version: g++ 9.3.0
  * Conan version: 1.38.0
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
Follow the official Doc to build with Makefile generator.
https://docs.conan.io/en/latest/integrations/build_system/make.html

**conanfile.txt**
[code]

**Makefile

[2021-07-19 08:44] memsharded commented on #9287
Hi @ibmboy19

We would need a bit more to reproduce that. As you can see in the docs, it is necessary to add

[code]

In the makefile.

If you could provide a minimal reproducible example, that would help, thanks!

[2021-07-19 08:47] ibmboy19 commented on #9287
Hi memsharded,

Thanks for reply, all the code and scripts are the same with official doc.

The Makefile info is added.

[2021-07-19 08:58] memsharded commented on #9287
Oh, I see, this is a bug indeed, something went clearly outdated in the docs.

In any case, I would recommend start trying the new ``Autotools`` integration, as this is going to be the maintained one in Conan 2.0, while the others will be removed: https://docs.conan.io/en/latest/reference/conanfile/tools/gnu.html

[2021-07-19 09:15] ibmboy19 commented on #9287
Thanks for the confirmation!

[2021-07-19 09:18] memsharded commented on #9287
I have been checking previous Conan versions down to Conan 1.20.

Apparently, the magic of ``$(call CONAN_BASIC_SETUP)`` was never implemented in this generator, only in the MakeToolchain in https://github.com/conan-io/conan/pull/7430, and then, the documentation was incorrectly changed.

So I'd suggest:
- Fixing the docs of the legacy Makefile generator to reflect this
- As the docs already have

[2021-07-19 09:20] #9116 closed, assigned to nobody

[2021-07-19 09:20] #9263 closed, assigned to memsharded

[2021-07-19 09:38] benet96 commented on #9283
Thank you, @memsharded, you did resolve my question. Since I used to working on user-mode Linux network stack, occasionally LD_PRELOAD make effects. Maybe it's true as what the designer of musl-libc recommends LLVM not to write llvm-libc, libc improves too few of performance to be rewritten or reinvented. Certainly, conan-io is also not supposed to specify libc for project.

[2021-07-19 09:45] memsharded commented on #9283
Ok, good, then I think this issue can be closed, thanks for the feedback!

[2021-07-19 09:45] #9283 closed, assigned to nobody

[2021-07-19 10:35] #9143 closed, assigned to lasote

[2021-07-19 10:38] sandeshhardikar commented on #9277
Thank you for your response
yes , the locked file contains python_requires .

But passing the lock file to `conan info` has no effect on the output . It still gives the same output and python_requires is missing in it .

[code]
My use Case :
We want to provide some system level packages to our customer , which in turn are dependent on lot of other packages . We want to determine programmatically w

[2021-07-19 10:43] memsharded commented on #2140
Yes, the override is hard, as long as the package name is the same, the rest of the reference will be overriden.

It also applies to transitive dependencies, yes, once a version is overriden it is overriden for the graph, not only for the declaring override consumer.

Not sure what is the ``requirement`` hook (https://docs.conan.io/en/latest/reference/hooks.html#hooks-reference), so can't say abou

[2021-07-19 11:05] bkarpati commented on #9116
Thanks for picking this up so quickly. I can also confirm that packages can be imported from the workspace once again with the fix.

And to answer your question, moving to `1.39` should be no problem for us.

[2021-07-19 11:10] bldrvnlw commented on #9229
@memsharded Hi James. Thanks for the warning, I was thinking in terms of the command line and had forgotten the availability of _self.dependencies_.

For a generic solution I've added an extra property _cmake_config_file_ to be set on a package that contains it's own cmake config-file. This should be set alongside the standard _skip_deps_file_ in the consumer package conanfile.py thus

[code]

The

[2021-07-19 11:31] ibmboy19 commented on #9287
Thanks @memsharded !
Have modified Makefile according to the old doc, and it works now!

https://raw.githubusercontent.com/conan-io/docs/release/1.19.0/integrations/build_system/make.rst

[2021-07-19 14:42] memsharded commented on #9277
Understood.

I have proposed a PR in https://github.com/conan-io/conan/pull/9290 to add this information to ``conan info`` output (both stdout and json, that I guess you are interested in if doing automatic processing).

[2021-07-19 15:46] KerstinKeller commented on #2140
The proposed implementation is a good way to quickly force overriding certain dependencies.

Maybe in the future we can have a separate discussion on how users can influence the graph calculation in general, and what are best practices for modeling requirements (version ranges vs fixed versions) and how teams can handle / update large dependency graphs.

[2021-07-19 16:23] Sil3ntStorm opened #9291 "[bug] no such file error when renaming files in import"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 x64
  * Compiler+version: N/A
  * Conan version: 1.38.0
  * Python version: 3.7.8

### Steps to reproduce (Include if Applicable)
in the import function do a self.copy and then rename the file to something else

### Logs (Executed commands with output) (Include/Attach if Applicable)
[code]
The fil

[2021-07-19 16:56] ericLemanissier commented on #7831
This bug has been solved for the variables set manually using `CMakeToolchain.variables` dict, but it persists for variables set by conan itself, for example BUILD_SHARED_LIBS: conan_toolchain.cmake contains `set(BUILD_SHARED_LIBS OFF)`. CMake erases this variable and indicates:
[code]

[2021-07-19 17:17] memsharded commented on #9291
Hi @Sil3ntStorm

This reads more like an unsupported feature rather than a bug:

- imports are intended and designed to import file, not to manipulate them after importing them
- The generated ``conan_imports_manifest.txt`` manifest is necessary to implement the ``conan imports --undo`` operation, something that was demanded by users long time ago.
- If the files are manipulated after being import

[2021-07-19 17:29] memsharded commented on #7831
Just to be clear, the intended support for the new build system integrations is 3.15, as approved by the Tribe 2.0.

Of course, if it is possible to fix things that will make it work in pre-3.15, without breaking things or adding too much complexity, it would be nice to do it.

So is the above saying that the ``CMakeToolchain`` ``conan_toolchain.cmake`` will not work if users are setting things li

[2021-07-19 17:31] ericLemanissier commented on #7831
I think so. My use case is https://github.com/FluidSynth/fluidsynth/blob/1511b5a575944a604873853366253ada60b2212a/CMakeLists.txt#L72
Adding `tc.variables["BUILD_SHARED_LIBS"] = self.options.shared` to the recipe works around the problem

[2021-07-19 22:03] Sil3ntStorm commented on #9291
The generator in question is a custom one. However the (meta) build system in question does not support specifying to link to 'foo.lib' in Release mode and 'food.lib' in Debug mode. It does allow to specify different library directories however. That works great and is all good as long as you don't have a dependency using an atrocious naming scheme with different library names for different config

[2021-07-20 05:08] #9277 closed, assigned to memsharded

[2021-07-20 06:40] stefan-floeren commented on #8313
This should be fixed with https://github.com/conan-io/conan-center-index/pull/6338.

@madebr, can you please verify?

[2021-07-20 06:48] ericLemanissier opened #9292 "[bug] PkgConfigDeps error"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows/Linux
  * Compiler+version:*
  * Conan version: 1.38.0
  * Python version: 3.8.0/3.8.5

### Steps to reproduce (Include if Applicable)
conanfiletxt:
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

When using conanfile.py, [the log is more detailed](https://git

[2021-07-20 06:54] markqian opened #9293 "[bug] conan not able to download package"
I am trying to install a webrtc gateway software called licode from https://github.com/lynckia/licode, but fail on the conan step. Their image on docker hub seems to download a different package revision using conan https://hub.docker.com/r/lynckia/licode/. Since this might be a trivial issue, could someone give me some hints on what might be causing it on dockers?

### Environment Details (includ

[2021-07-20 07:22] fschoenm opened #9294 "[feature] conanfile.txt includes"
We sometimes combine our projects by putting together source folders from different repositories like this:
* /
  * source
    * main-project
    * shared-lib-A
    * shared-lib-B

Each shared lib has its own dependencies and is used in multiple other projects. Now instead of listing the dependencies of the shared libs in a "master" conanfile.txt, I'd like to automatically generate a combined cona

[2021-07-20 08:07] madebr commented on #8313
Yes. Thanks for fixing the typo.

[2021-07-20 08:07] #8313 closed, assigned to nobody

[2021-07-20 08:22] AndreyMlashkin opened #9295 "[feature] add clang support on windows"
Relates to https://github.com/conan-io/conan-center-index/issues/6414#issuecomment-883193586

If I try to compile with clang, that is not coming from MSVC, conan still try to use it as a MSVC toolchain

MinGW also does not work for windows.

- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-20 08:29] memsharded commented on #9295
Hi @AndreyMlashkin

We would need a bit more details, please.

We have MinGW tests in our test suite that pass for every commit, on Windows.

Please extract from the conan-center thread the relevant details, and try to provide some minimum reproducible example (can we just try it with a ``conan new`` "hello world" recipe? and vision for the user interface of the feature.

Also, these might be 2 di

[2021-07-20 08:45] jlemein commented on #8940
@memsharded Thanks, the new recipe layout() more or less seems to work. It can now find my includes and libraries in build directory. I have some issues with an already reported bug, regarding the import-function but I see you already have a fix that is coming soon.

One thing that I still have issues with is that I run find_package(). For that my package generates a cmake config file "MyPackageCo

[2021-07-20 08:53] memsharded commented on #9277
Merged, this will be in next 1.39

[2021-07-20 09:11] AndreyMlashkin commented on #9295
Ok, totally make sense, I will change caption from 'add clang and mingw support on windows' to 'add clang support on windows'

A reproducible example you can find here:
https://github.com/AndreyMlashkin/windows-clang-conan/blob/main/Dockerfile

[2021-07-20 09:12] AndreyMlashkin commented on #9295
Maybe I have just filled a conan profile wrong?
https://github.com/AndreyMlashkin/windows-clang-conan/blob/main/profile

But I have tried different configurations...

[2021-07-20 09:21] memsharded commented on #9293
Hi @markqian

This is not a bug, as you can read in the https://docs.conan.io/en/latest/getting_started.html:

The error itself is also providing a link to more explanation: http://docs.conan.io/en/latest/faq/troubleshooting.html#error-missing-prebuilt-package

Also some other observation:

- ``boost/1.69.0@conan/stable``: This is the legacy package in ConanCenter. It has already been removed in t

[2021-07-20 09:29] memsharded commented on #8966
https://github.com/conan-io/conan/pull/9217 implemented new alias syntax that would resolve this issue, in 1.39.
Thanks for reporting this, let us know how it works!

[2021-07-20 09:29] #8966 closed, assigned to nobody

[2021-07-20 09:32] memsharded commented on #6393
This issue seems was fixed some time ago, so I am going to close it.

In any case https://github.com/conan-io/conan/pull/9217 introduced for 1.39 a new syntax for alias ``pkg/(alias)`` that would be more aggressive in alias resolution and could help with these alias related issues, if necessary please try it and report.

[2021-07-20 09:32] #6393 closed

[2021-07-20 09:39] memsharded commented on #3805
Hi all,

This issue has been stale for a couple of years now. Furthermore it contains some things that have already become obsolete:

- All packages should be lowercase. This has been mandated in ConanCenter for one year, and it will be mandatory in Conan 2.0.
- The alias of another package name would be too complex for the graph resolution and many of the logic inside recipes and generators, that

[2021-07-20 09:39] #3805 closed

[2021-07-20 09:45] memsharded commented on #4105
This issue has been stale for years, going to close it now.

The current behavior of being able to download the alias itself can be necessary too, it doesn't seem that we want to remove support for this. Keeping this is consistent with the current behavior of version ranges:

[code]

If ``download`` does not resolve a version range, it shouldn't resolve alias.

[2021-07-20 09:45] #4105 closed

[2021-07-20 10:13] memsharded commented on #4104
This PR https://github.com/conan-io/conan/pull/9296 contains a test that validates that the json contains the alias information for ``-a alias``.

I have checked, and with the current implementation it would be a bit risky to add the alias field always to the output, as it is empty, and there might be people already relying on this behavior for parsing the output or the json. I added a TODO to cha

[2021-07-20 10:27] memsharded commented on #3074
This issue has been stale for years.

It seems it will not be possible to evaluate alias on the servers, as it requires server side evaluation, which is a security risk, and de-referencing alias automatically would be inconsistent with the current behavior for version ranges: ``conan search zlib/[>1.2]@`` does not resolve the version range to list the binaries of zlib/1.2.11. So for consistency, i

[2021-07-20 10:27] #3074 closed

[2021-07-20 10:36] memsharded commented on #8940
Hi @jeffrey89

That depends a bit on the generators and other helpers (are you using CMakeToolchain then?) you are using.

The ``cpp_info.builddirs`` is partially intended for this purpose, without editables in the previous way, before ``layout()``, it probably was something like:

[code]

But in editables, it seems you want to map the same folder, but for the "build" layout, which when it is in e

[2021-07-20 10:46] memsharded commented on #9295
Well, this could also be that the ConanCenter ``zlib/1.2.11`` recipe could not be prepared to build for clang in Windows. There are many libraries in ConanCenter which build scripts are simply not prepared, or sometimes the recipe itself might hardcode some assumptions about the build systems. This is why I would suggest to use a hello world example, which can be easily generated with ``conan new

[2021-07-20 10:51] wer14 commented on #8940
Seems like this is not going to work. [Bug with layout method](https://github.com/conan-io/conan/issues/9246)

[2021-07-20 10:53] #4104 closed

[2021-07-20 10:56] memsharded commented on #8940
@gmikhaile Thanks for reporting, we are going to have a look at the other issue.

However, this might work, as it is using the ``self.cpp.build`` layout, and the issue you are reporting seems connected to ``self.cpp.package`` layout, I would still give it a try, might not be connected.

[2021-07-20 11:16] memsharded commented on #9246
Hi @gmikhaile

I have added a test in https://github.com/conan-io/conan/pull/9297, it seems that this works fine and the information is being propagated correctly to consumers.

Could you please have a look at the test there, it should be relatively easy to follow, and let me know? Any hint to reproduce the behavior you are reporting would help, thanks!

[2021-07-20 11:47] jlemein commented on #8940
@memsharded Thanks, it seems to do the trick. When I use `self.cpp.package.builddirs = [os.path.join("package/lib/cmake")` it managed to find my package config cmake script. For this to work I had to add a cmake_paths generator and call `include(${CMAKE_BINARY_DIR}/conan_paths.cmake)`.

What I don't understand is that when I am not using editable packages I didn't have to do this and the `conanbui

[2021-07-20 14:43] AndreyMlashkin commented on #9295
I have re-written test code to use a 'hello' test. It still demonstrate the problem. Please, investigate.

[2021-07-20 14:53] AndreyMlashkin commented on #9295
Here is the log output:

Step 9/10 : RUN conan new hello/0.1 -m v2_cmake
 ---> Running in a9d93ad8b885
File saved: conanfile.py
File saved: src/CMakeLists.txt
File saved: src/hello.cpp
File saved: src/hello.h
File saved: test_package/CMakeLists.txt
File saved: test_package/conanfile.py
File saved: test_package/example.cpp
Removing intermediate container a9d93ad8b885
 ---> 2673e2fdec81
Step 10/10 :

[2021-07-20 15:40] Adnn opened #9298 "[question] How to control the CMake generator with (newer) conan.tools.cmake.CMake build helper?"
We are trying to build with NMAKE makefiles on Windows.

We would like to set the generator used by `conan.tools.cmake.CMake` to `NMake Makefiles`, but it defaults to `Visual Studio xxx`. Can we change the CMake generator?

[2021-07-20 15:50] memsharded commented on #9298
Hi @Adnn

yes, this can be controlled by [conf]:

[code]

Since last release, also in cli arg.

Note that ``CMakeToolchain`` define the conanbuild file that the ``CMake`` helper is reading to execute with that generator.

[2021-07-20 16:30] memsharded commented on #9295
I have managed to get it working with LLVM-clang 12:

- conan new hello/0.1 -m v2_cmake
- Add ``generators = "VirtualBuildEnv"`` to the conanfile.py (this step can also be avoided with command line `` -c tools.env.virtualenv:auto_use=True`` option)
- Use profile "clang":

[code]
- conan create . -pr=clang

There are a couple of unknowns/unmodeled for this, for example which libstdc++ is using (the

[2021-07-20 17:41] memsharded commented on #8940
Not sure if I get your question, when not using editable packages, and using the package in the cache, the package information layout is captured in ``package_info()`` method (which defaults to ``self.cpp_info.includedirs = ["include"], self.cpp_info.libdirs = ["lib"]``, etc, and the generators know where they will find things. But when using editable packages the files, headers and libraries to b

[2021-07-20 17:45] skycaptain commented on #1330
Similar use-case here. We're using Yocto and the Yocto SDK to cross-compile for an embedded device but also Conan to build for Linux, Windows and MacOS. Furthermore, we're using CMake and `find_package`. Currently, we implemented this by using Conan only for Linux, Windows and MacOS; and CMake directly for the Yocto SDK, however with the latter we have to make sure every dependency is delivered al

[2021-07-20 17:52] memsharded commented on #9294
Hi @fschoenm

This is not possible as a built-in feature right now, and at the moment it seems it is a bit too specific use case to be implemented as built-in. Probably a good case for the modular custom user commands in Conan 2.0.

Probably if I had to implement this logic right now, I would go for this approach:
- Convert the projects ``conanfile.txt`` to simple ``conanfile.py``. As they are con

[2021-07-20 18:05] fschoenm commented on #9294
Hi @memsharded,

Thanks for the recommendations. I don't know if I agree that it's a very specific use case. I never quite understood why I cannot specify dependencies for each part/library of my project independently and instead have to specify them all in a kind of of "global" conanfile. But maybe I just have a different perspective onto that issue than you.

(One alternative that would make sen

[2021-07-20 19:24] obsgolem commented on #9294
Hey @fschoenm, my team is working on a project with very similar requirements. If you would be willing/able to share your implementation of that, that would be really cool.

+1 for this entire issue, we basically have a bunch of independent plugins which all need to be built as part of the larger project build for a variety of reasons.

[2021-07-20 20:34] AndreyMlashkin commented on #9295
It is still failing in docker. Could you please try to compile this docker on your side?
https://github.com/AndreyMlashkin/windows-clang-conan

Sending build context to Docker daemon  77.82kB
Step 1/13 : FROM mcr.microsoft.com/windows/servercore:1909
 ---> 14b4902a3f0f
Step 2/13 : SHELL ["powershell", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'Continue';"]
 ---> Using cac

[2021-07-20 20:55] AndreyMlashkin commented on #9295
@memsharded @jgsogo , I have already samples for MSVC, mingw and clang (the last one does not work yet). Should I commit them to docker tools?
You can use them to dockerize windows CI

[2021-07-20 21:30] markqian commented on #9293
@memsharded Thank you for reply, can you tell me what sort of changes I would need to make in order to make my built consistent with the existing docker image? So I need to make sure the compiler type and compiler version is the same? Is there some kind of configuration file I can edit to fix this?

[2021-07-21 00:39] #9293 closed, assigned to memsharded

[2021-07-21 05:13] #9274 closed, assigned to nobody

[2021-07-21 06:25] fschoenm commented on #9294
@obsgolem Sure, it's a super simple implementation (only covering requirements and options right now):

    import glob
    import os

    from conans import ConanFile
    from conans.client.loader import ConanFileTextLoader
    from conans.model.options import OptionsValues

    class Conan(ConanFile):

        @property
        def conanfiles(self):
            base_path = os.path.dirname(__file

[2021-07-21 07:29] jlemein commented on #8940
I do understand now. I will take a look into CMakeDeps and CMakeToolchain then.
Thanks for the support.

[2021-07-21 07:29] #8940 closed, assigned to nobody

[2021-07-21 08:22] Nekto89 commented on #4702
So what is the best approach for this problem currently? I thought that having sources in separate generic repository is a good idea but now I have problem with authentication on Artifactory.

[2021-07-21 09:10] marausch opened #9299 "[question] Flags in CMake command line invocation (-D)."
Hi,

I was wandering if there were some differences when configuring a CMake project using the 'definitions' attribute of the CMake helper class, or the 'defs' parameter of its 'configure' method.
In other words, I was expecting that the following two approaches would give the same result:
1)
   cmake.definitions["KEY"]  = "VALUE"
   cmake.configure()
   cmake.build()
   print(cmake.command_line)

[2021-07-21 10:20] memsharded opened #9300 "Support for VS 2022"
Start preparing settings and toolchains to use the new VS versions:

- Only new build system integrations in ``conan.tools``
- Maybe only the ``msvc`` compiler setting? We need to start pushing this soon if we want it for Conan 2.0

_Originally posted by @memsharded in https://github.com/conan-io/conan-vs-extension/issues/194#issuecomment-884073537_

[2021-07-21 10:24] franramirez688 commented on #9292
Hi @ericLemanissier
Thanks for reporting the issue. I'm performing another local test because it seemed a bug (sorry for being too much fast) but it could be a problem in the recipe. Let me be sure before tagging it again as a bug or whatever.

[2021-07-21 10:26] memsharded commented on #9246
We plan to branch 1.39 to be released next week, this Friday 23 if possible, it would be great to have feedback by then if there is a chance to be included in 1.39.

[2021-07-21 10:56] memsharded commented on #2140
I am going to merge https://github.com/conan-io/conan/pull/9195 for Conan 1.39.
Note that this include only regular requirements overrides, not ``build_requires`` overrides

The problem with ``build_requires`` is the resolution logic is very different. If we override the ``build_requires`` of the base recipe to which the command is referencing, that do not propagate upstream. If we override the ``

[2021-07-21 12:15] #2140 closed

[2021-07-21 12:40] gsemet opened #9302 "[feature] override build_requirements in conan install"
This is a follow up of https://github.com/conan-io/conan/issues/2140.

Conan 1.39 introduce this `--require-override` to force a specific version of a package during `conan install`. We might also need the "build_requirements" version of this. Our use case it that we maintain some tools (code generation,...) that have impact on the output files so we might want to test these tools before merging a

[2021-07-21 12:41] gsemet commented on #2140
Ok thanks. I have created https://github.com/conan-io/conan/issues/9302 for discussion about overriding "build_requires" dependencies.

[2021-07-21 13:36] boussaffawalid opened #9303 "[feature] exclude some deps from conan dependency graph"
Conan dependency graph is a very useful feature but it become very difficult to use when having too many dependencies.

This is how our current dependency graph looks like, it is almost unreadable and we are adding more dependencies.

<img width="721" alt="Screen Shot 2021-07-21 at 2 30 38 PM" src="https://user-images.githubusercontent.com/7117696/126497056-6a7695f8-c58b-44c7-b076-1e7ca5c58d59.png

[2021-07-21 13:55] jjaguilarf opened #9304 "[feature] Support for intel OneApi classic compilers"
Recently, intel has made their c/c++/Fortran compilers publicly available by means of their [OneApi toolkits](https://software.intel.com/content/www/us/en/develop/tools/oneapi/all-toolkits.html#gs.70oc5a) that include their _classic_ compilers (based on VS for windows and gcc for linux) as well as their new compilers based on LLVM technologies. However, this _classic_ compilers break the compatibi

[2021-07-21 14:04] #9298 closed, assigned to nobody

[2021-07-21 14:09] Adnn opened #9305 "[question] Is there a "wildcard any" syntax for versions in a Conan workspace definition file?"
We are trying out [Conan Workspaces](https://docs.conan.io/en/latest/developing_packages/workspaces.html).

We have a well established list of related repositories we want to be editable toghether in the workspace, so we list their recipe references in the `conanws.yml` file.

Is there a way to use a wildcard for the `version` component of the recipe reference?

I.e, having something like:

[code]

[2021-07-21 16:47] #9282 closed, assigned to SSE4

[2021-07-21 16:48] memsharded commented on #9282
@ssrobins https://github.com/conan-io/conan/pull/9301 added this, and has been merged for 1.39, in case you want to give it a try from develop branch. Thanks!

[2021-07-21 22:27] AndreyMlashkin opened #9306 "[feature] Bump MinGw"
Relates to https://github.com/conan-io/conan-center-index/issues/6432#issuecomment-883500615

Please, update the MinGw version in conan

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2021-07-22 07:48] harsszegi opened #9307 "[question] How can parent enforce children's option?"
Hi,
I have a dependency between two recipes "A" depends on "B". "B" is usable on its own, has a few build options.
However if "A" consumes it, it must enforce a specific option in "B". I thought that doing this in "A" would solve this, but apparently not:

  default_options = {
    "B:option_name": "option_value"
  }

"option_name" doesn't seem to be set when building A+B together.
What am I doing

[2021-07-22 08:35] lightater opened #9308 "[question] Search package on another remotes after fail on one of them"
Hello, we are hosting our version of boost on one of our remotes. This version works only on custom patching arm and when we searching for boost in remotes on another processor type, Conan look to first remote, find this Arm version and says `Missing prebuilt package for 'boost/1.76.0'`. How we can say to Conan to continue searching on another remotes, and fails only if on all of them no packages

[2021-07-22 09:23] wer14 commented on #9246
@memsharded We've found out that the `cmake` generator doesn't add directories specified in `self.cpp.package.includedirs` to the `CONAN_INCLUDE_DIRS_FOO` variable when these directories don't exist on the filesystem. The `CMakeDeps` generator populates the `foo_INCLUDE_DIRS_RELEASE` variable with both existent and non-existent directories. Is this behavior for the `cmake` generator intended or no

[2021-07-22 09:42] czoido commented on #9307
Hi @harsszegi,
If you want to force `option_name` from `B` in `A`, you can do that in the `configure` method of the conanfile of `A` like this:

[code]

Here there's more info from the documentation regarding this topic: https://docs.conan.io/en/latest/mastering/conditional.html#conditional-settings-options-and-requirements

Hope this helps.

[2021-07-22 09:52] memsharded commented on #9246
Yes, I think this is not properly explained in the docs, we need to fix the documentation. The "legacy" integrations, like ``cmake`` are not going to be upgraded to completely support the new layout feature, as the risk of breaking is high. Only the new integrations in https://docs.conan.io/en/latest/reference/conanfile/tools.html will fully support the ``layout()`` feature. Note that internally w

[2021-07-22 10:27] memsharded commented on #9294
I would like to highlight some potential problems and complexities that will appear down the rabbit hole with this approach, if this is built-in (not saying for you, but other users that start to use this potential feature):

- The priorities. If the different conanfile.txt in the different subfolders declare different dependencies, what would be the final used one. In an ``include()`` paradigm it

[2021-07-22 10:45] memsharded commented on #9246
Submitting https://github.com/conan-io/docs/pull/2163 to clarify this in the docs.

[2021-07-22 10:50] harsszegi commented on #9307
Awesome, thanks a lot!

[2021-07-22 10:57] harsszegi commented on #9307
Sorry, how can I achieve "*:fPIC", meaning, self.options['\*'].fPIC = True?, all transitive dependencies of the package should be forcefully compiled with fPIC?

[2021-07-22 11:20] czoido commented on #9170
Closed by: https://github.com/conan-io/conan/pull/9179

[2021-07-22 11:20] #9170 closed, assigned to franramirez688

[2021-07-22 11:21] robindegen commented on #9263
@memsharded I tested the fix by applying the 2 changed lines in installer.py manually on my installed 1.38.0, and I can confirm this has indeed fixed the issue. Thanks

[2021-07-22 11:35] memsharded commented on #9263
Many thanks @robindegen for trying it!
Perfect, this will be released next week in 1.39

[2021-07-22 11:42] czoido commented on #9307
Hi @harsszegi,
I think it's better not to hardcode options in recipes, I would rather pass it through the command line with `-o *: fPIC=True` or set the default value of the requirements to `True` for `fPIC`.

[2021-07-22 12:18] harsszegi commented on #9307
Understood, thanks

[2021-07-22 12:18] #9307 closed, assigned to nobody

[2021-07-22 12:31] jasal82 commented on #3113
This issue is still a problem in 1.38.0. Any chance that we can get a fix for it? Ping @memsharded

[2021-07-22 14:10] wer14 commented on #9246
Thank you for the clarification.

[2021-07-22 14:10] #9246 closed, assigned to nobody

[2021-07-22 15:00] rconde01 commented on #9279
makes sense....when i read "cache location" for CONAN_USER_HOME, I was thinking just the data directory - but if it's the whole .conan directory then that works. although it still seems a bit ripe for confusion...maybe commands should print out the the current user home if not the default. Not sure about the best solution.

[2021-07-22 16:34] nichmj01 opened #9311 "[question] cmake_paths generator doesn't contain paths to build_requires packages when using --profile:host and --profile:build?"
I'm using conan 1.38.0 and trying to cross-compile from Windows to Android. The android-ndk/r21e package on conan-center doesn't like the old style single profile using arch_build and os_build so I switched to using the newer separate host and build profiles.

I'm using cmake and have a set of cmake files that are shared among all my projects. I packaged these up into a conan package (my-cmake-too

[2021-07-22 16:53] memsharded commented on #9303
Hi @boussaffawalid

I think the best approach for this at the moment would be to customize the html/javascript template that is used to generate this graph, not to do it from the Conan client side: https://docs.conan.io/en/latest/extending/template_system/info_graph.html

I understand this would be a nice to have, but at the moment this wouldn't be a priority. If someone is willing to contribute a

[2021-07-22 17:33] memsharded commented on #9026
It seems that https://github.com/conan-io/conan/issues/9304 IntelOneApi will require some changes to the Intel compiler definition. Lets handle these 2 issues together.

[2021-07-22 17:36] memsharded commented on #9304
Connected to #9026, lets have a look together. A couple of guidelines:

- Support for new compilers settings like this one will probably only be provided by the new integrations in ``conan.tools``
- We might consider further decoupling the intel compiler from the "base" ones, and treat it as a separate compilers. It seems the ``compatible_packages`` fallback to the base one is not being used much

[2021-07-22 17:47] nichmj01 opened #9312 "[question] Get package version from a conanfile in Python?"
I have a python script that creates a zip file of source code for distribution and I want the version info to be in the zip file name. Currently, we read the version info from a separate file but with the transition to using conan for building internal binaries I would like to pull the version from the conanfile instead of from this separate file as I often forget to update the 2nd file.

I see th

[2021-07-22 17:59] memsharded commented on #9312
Hi @nichmj01

I am not fully sure what is your question, it seems there are different issues, maybe some of this hints could help:

- You can read metadata of the conanfile.py recipe with ``conan inspect``. This helps to avoid parsing the conanfile directly, does some kind of basic evaluation (but most of the evaluation of the recipe, that requires settings, options, etc, will not be done, only th

[2021-07-22 18:04] memsharded commented on #9311
This is expected behavior by default: "build_requires" in the build context are designed for build tools: cmake, meson, a compiler, etc. so by default they will not be available by some generators (the "legacy" generators, like ``cmake_paths``). We are working on providing these new functionalities in the new ``conan.tools`` one, and you can see features like this: https://docs.conan.io/en/latest/

[2021-07-22 18:05] memsharded commented on #9311
This feature is connected to this Tribe discussion about "package_types" for Conan 2.0. https://github.com/conan-io/tribe/pull/27. The "build_scripts" package type is a suggestion there, and it would make sense to automate things based on this package type if this is a common case.

[2021-07-22 18:14] memsharded commented on #4702
Hi @Nekto89

I think the above might still be the best:

[code]

Is the same approach as when credentials are for git repos, basically treat them as different credentials than the ones of the Conan repository. Reasons:
- Conan does not store user/pass to Artifactory, it uses it to obtain a token, but never stores the password. We won't store the password to Artifactory, and we don't have a protoco

[2021-07-22 18:16] memsharded commented on #9305
The truth is that Workspaces feature is not very matured, and it is a bit on hold, until we finalize improving the base building blocks: the editables. As you might know we are putting a lot of effort into the ``layout()`` feature, and when this is stabilized we will focus again on workspaces (that will probably be after Conan 2.0).

At the moment, it is not possible, the workspaces need the full,

[2021-07-22 18:18] memsharded commented on #9308
This will be possible but only with revisions enabled, did you enable them? Please try that, I am not fully sure it works right now, but that is the intention. In any case, this will be feasible in Conan 2.0 (revisions always enabled)

[2021-07-22 18:29] Nekto89 commented on #4702
Hi @memsharded,

I've noticed that it is possible to upload files to conan repository in the same way as to generic repository (completely custom folder structure). Is it possible to reuse token that is already stored by conan for downloading sources that are stored in such way?

I don't like an idea of injecting separate credentials every time - thirdparties from different channels/repositories m

[2021-07-22 18:49] nichmj01 commented on #9312
Sorry for the confusing question. I wasn't really sure how to express what I was looking for.

This was what I was looking for in my original approach idea! I tested it and with this command I can get the version info. I'm thinking to use the [conan python API ](https://github.com/conan-io/conan/blob/develop/conans/client/conan_api.py) to run the inspect command vs using subprocess. Any recommenda

[2021-07-22 19:36] memsharded commented on #9312
You can probably use the ``conan inspect --json`` json output to get something machine readable without needing to use the python API. The API is relatively stable, though no guarantees, as it is not documented yet. Unless you have a bigger problem, I would say using the cli with ``--json`` could be good enough.

Maybe you want to consider an alternative approach:

- Create a ``mypkg_src`` Conan p

[2021-07-22 19:41] memsharded commented on #4702
This might be dangerous, definitely not documented and not supported behavior. Conan repo might at some point become confused by files it is not expecting the its folders. Yes, Artifactory uses a folder-like storage approach and a generic api that can put files there, but not a supported thing and can break anytime, I wouldn't recommend it.

Maybe this needs to step back a little bit about the use

[2021-07-22 21:09] Nekto89 commented on #4702
Currently the idea is to have:
1) conan repo for open source libraries
2) generic repo for mirroring sources of open source libraries
3) conan repo for libraries that were bought and can be used only by specific team
4) generic repo for storing sources of non-open source libraries

1+2 will have anonymous access, but 3+4 won't. Also Artifactory doesn't allow setting different access to different f

[2021-07-23 00:59] nichmj01 commented on #9312
I'll need to think about it some... I'm not sure if I want to maintain 2 different Conan packages but ultimately it may be fine.

We release as software to customers as source code but don't provide access to our git repos as the code is not public and we only want users to get official snapshots. Customer accessible releases are also hosted outside of a code repository (like an ftp server, for ex

[2021-07-23 01:02] nichmj01 commented on #9311
My understanding of your answer is that `--profile` alone and combining `--profile:build` and `--profile:host` are not equivalent. In the latter case, the build_requires packages are not provided to the generators by default. CMakeDeps build_context_activated  let's me specify build_requires packages that should also be generated.

Something like that?

[2021-07-23 01:47] nichmj01 commented on #9311
I was able to to get `CMakeDeps` and `build_context_activated` to work with one hiccup.

I named the conan package a different name than the cmake package that I look for using find_package.

Example:
The conan package is called buildtools-cmake which has package layout of:
* package_root
  * cmake/
    * buildtools-config.cmake
    * my-cmake-files/
      * another-file.cmake
  * conaninfo.txt

[2021-07-23 06:27] FlCamB opened #9314 "[bug] --build=![pattern] not applicable (conan 1.38.0)"
Hello,

I tried to use the --build=![pattern] first named in https://docs.conan.io/en/1.36/reference/commands/consumer/install.html.

### Environment Details (include every applicable attribute)
  * Operating System+version: 20.04.1-Ubuntu
  * Compiler+version: -
  * Conan version: 1.38.0
  * Python version: 2.7.12, Phython3 version: 3.7.10

### Steps to reproduce (Include if Applicable)

1. Open

[2021-07-23 06:40] czoido commented on #9314
Hi @FlCamB,
I think that the problem could be that `!` is a special character to bash, did you try to escape the character with `\` like this:

`conan install whatever --build=\!package`

Hope this helps

[2021-07-23 06:40] FlCamB opened #9315 "[question] Excluding packages in build=missing"
Does conan support a combination of building missing packages and excluding packages? (conan version 1.38.0)

For instance, a parameter combination like
`--build=![pattern] --build=missing`

https://docs.conan.io/en/1.38/reference/commands/consumer/install.html does not provide information on this parameter combination.

[2021-07-23 06:48] FlCamB commented on #9314
Thanks a lot, this is the solving hint!

[2021-07-23 06:48] #9314 closed, assigned to nobody

[2021-07-23 06:56] FlCamB commented on #9315
Could now test it. --build=missing is prioritized so that the exclude pattern will not be applied.

[2021-07-23 06:56] #9315 closed, assigned to nobody

[2021-07-23 07:35] Adnn commented on #9305
Thank you for the insights!

If I am understanding correctly, even though workspace are a low priority at the moment, the feature will not be discarded (i.e. we are not wasting effort building workflows around them).

[2021-07-23 07:36] Adnn commented on #9305
Side question: should we close the issue in such situation?

[2021-07-23 12:00] boussaffawalid commented on #9303
@memsharded it seems that info_graph.html does the trick! Thanks!. I will try to contribute to the html/js template.

[2021-07-23 16:19] #9312 closed, assigned to memsharded

[2021-07-23 16:51] memsharded commented on #9312
Hi @nichmj01

Was the above idea useful finally? Let us know how it goes, and do not hesitate to open a new ticket if you want to keep talking about this. Cheers!

[2021-07-23 16:55] nichmj01 commented on #9312
@memsharded It was! Thanks for the help.

[2021-07-24 17:49] rconde01 opened #9317 "[question] Revision #0 ?"
I've noticed some of the recipes in my cache have revision zero. It may be when I originally created/exported the recipe, revisions were not enabled. But I expected they would be updated after enabling them. Is there a way to "normalize" this? Will revisions work correctly with these packages?

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBU

[2021-07-25 15:35] maichmueller opened #9318 "[bug] run conan from cmake lets pip packaging fail for pybind11 python extension"
Using conan in a cmake configuration lets the pip packaging process `pip install . -v` (from within the python project) fail.

More precisely:
I am including conan in my project via the following `Conan.cmake` file:
[code]

In the main CMakeLists.txt I then call the following lines:
[code]
This lets the pip install command fail (actually softly passes, but useless since the extension module is not

[2021-07-25 22:42] memsharded commented on #9317
Hi @rconde01

No, revisions are not updated, because in fact you could be enabling and disabling revisions, and it would be messy, probably very fragile to keep recomputing all the metadata of the revisions of the cache at each change.

Those packages with revision "0" are not a problem, because in fact you can obtain packages with revision 0 from a server, even if you have revisions enabled, if t

[2021-07-26 01:21] ssrobins commented on #9282
When I installed 1.39, and removed `tc.variables["CMAKE_OSX_DEPLOYMENT_TARGET"] = self.settings.os.version`, I see `-version-min` set properly on iOS, but not macOS.

[2021-07-26 07:08] memsharded commented on #9282
Can you please check if you have the ``os.version`` defined in your profile for Macos?

[2021-07-26 10:10] FnGyula commented on #7331
This issue is really devastating at times. It's always easy to publish immediately a revision of the same recipe, because then I also have to produce the binaries, which in some cases can take up to hours, keeping the builds, dependent on this package broken.

Lock-files would help on it, sure, but they aren't in use just yet. I would really appreciate a way to deal with this! At this point I'm co

[2021-07-26 12:19] gpxricky opened #9321 "[bug] Missing requirements when using package development flow"
Hi there,

I'm probably doing something wrong or missing a Conan concept, but I have the following problem and can't image why this should be a "feature":

1.) I have some advanced logic to load requirements from a YAML file, therefore I'm implementing the `requirements` method
2.) `conan install` works as expected when using the package development flow
3.) `conan build` does not work as expected

[2021-07-26 13:51] rconde01 opened #9322 "[feature] Add ability to get build requirements for a package + profile + options"
I want to upload all packages and requirements to a private server so that I don't rely on CCI. I can do this for regular requirements using lock files, but I don't see any way to get the build requirements. This will be a problem if I need to rebuild the packages sometime in the future (e.g. for a new compiler).

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/deve

[2021-07-26 15:36] memsharded commented on #9322
Hi @rconde01

You will also get the ``build_requires`` when you create a lockfile, if you pass the ``--build`` argument to it, like:

[code]

[2021-07-26 15:40] rconde01 commented on #9322
Hmm the documentation is:

[code]

Is that totally wrong? i'm not sure what that means in the context of a lock file.

[2021-07-26 16:02] memsharded commented on #9321
Hi @gpxricky

The rationale for this was that ``conan build`` had to be very fast, just calling the build command. As the ``conan install`` resolution might take some time, what we did in the past was to serialize some necessary information at ``conan install`` and ``conan build`` just reads it, instead of computing the whole graph. As a result, not all the information is available, just the bare

[2021-07-26 16:07] memsharded commented on #9322
No, I would say it is fine, the logic is exactly the same as a ``conan install --build=xxxx``:

- It will apply the build policy and decide which packages need to be built from source.
- Those packages that need to be built from source will expand their ``build_requires``. Those packages with an existing binary, do not require their ``build_requires`` at all, and they are not fetched at all, they

[2021-07-26 16:42] memsharded commented on #9318
Hi @maichmueller

This is not fully clear. The steps to reproduce and fail seems identical to me:

[code]

I am not fully sure where that error comes from. It seems that Conan is able to install the dependencies correctly, and after that it is a pure CMake thing. The one calling pip packaging is CMake, not Conan right? I cannot see anything in the ``pybind11`` recipe in https://github.com/conan-io

[2021-07-26 16:52] rconde01 commented on #9322
thanks that appears to work

[2021-07-26 17:13] memsharded commented on #9322
Good, then I will close this as a question, don't hesitate to re-open or create a new one if you have further questions.

[2021-07-26 17:13] #9322 closed, assigned to nobody

[2021-07-26 17:22] maichmueller commented on #9318
Hi @memsharded

apologies if my description was unclear. I tried providing two almost identical repositories:
1) the original (https://github.com/pybind/cmake_example.git) being a working pybind11 CMake example packagable with pip.
2) my fork ( https://github.com/maichmueller/cmake_example.git) in which I merely added the running of conan in CMake (the four lines in CMakeLists.txt using the run_co

[2021-07-27 06:50] lightater commented on #9308
Thanks!

[2021-07-27 06:50] #9308 closed, assigned to nobody

[2021-07-27 07:02] gpxricky commented on #9321
Thanks @memsharded for the explanation. That makes sense for (or at least explains my issue) and I'm looking forward to Conan 2.0 ;).

[2021-07-27 10:24] tapia opened #9327 "[tests] Add missing tests to the conan2 `list` subcommands"
We need to add some test for error cases like:

- Remote communication error / server down
- Permission errors
- The asked reference does not exist

[2021-07-27 10:29] memsharded commented on #9321
Good, thanks for telling :)

As #8589 has been merged into develop2, we can close this issue as fixed, and will be released in next Conan 2.0.

[2021-07-27 10:29] #9321 closed, assigned to memsharded

[2021-07-27 11:02] tapia opened #9328 "[tests] Add tests for the custom CLI commands"

[2021-07-27 11:51] alexisfrjp opened #9329 "[bug] Rocky linux 8.4 : pkg_resources.ContextualVersionConflict: (urllib3 1.25.11"
Similar: https://github.com/conan-io/conan/issues/8041

### Environment Details (include every applicable attribute)
  * Operating System+version: **Rocky Linux release 8.4 (Green Obsidian)**
  * Compiler+version: **gcc (GCC) 8.4.1 20200928 (Red Hat 8.4.1-1)**
  * Conan version:  **conan (1.39.0)**
  * Python version: **Python 3.6.8**

### Steps to reproduce (Include if Applicable)
1. Install cona

[2021-07-27 14:52] blackliner commented on #7506
I just had the same issue, missing `FindABC.cmake` files for a `private=True` requirement that was then taken as a build_requirement. BUT: I have another package that also has `private=True` AND is used as a python_requires, and this combination ends up in a generated `FindABC.cmake` module 🥳

[2021-07-27 17:49] anderson-dev opened #9330 "[question] How does a package indicate that a specific install-folder must be specified in order for a consumer to build the package?"
I can build my conan package locally without issue but it fails on linking in Windows Container using VSBuildTools 16. The same error occurs whether the container is run on Windows 10 or Windows Server 2019. I've used BeyondCompare to diff the error vs successful logs (attached) and determined only one difference during the msbuild processing (aside from root project folder locations). An addition

[2021-07-27 17:51] Hopobcn opened #9331 "[question] Is new cmake_layout compatible with cpp_info.components ?"
Hi, I've been using CMakeToolchain for a while with the CMake build helper that comes with it.
But after updating today I saw that `CMake` build helper does not accept a `build_folder` parameter anymore.

Looking at why it happened I arrived at https://github.com/conan-io/conan/pull/8554/files#diff-d72013a45b00a0adf06f4536d6a8c8844461e51b72911937d63e6dda9a3d440aR64 this means that the new way of p

[2021-07-27 19:30] memsharded commented on #9329
This seems more a bug in the python dependencies than in Conan itself, the above traceback doesn't touch Conan at all.
It is likely that modern Conan versions have upgraded some dependencies (typically due to vulnerabilities and similar things), and something in that Linux distro broke.

Could you please print your installed dependencies versions? The output of the ``pip install`` or a ``pip freez

[2021-07-27 19:35] memsharded commented on #9331
Hi @Hopobcn

I have managed to reproduce this, indeed seems a bug. Thanks for the complete ``conanfile.py`` to reproduce, we'll check it asap.

[2021-07-27 20:21] memsharded commented on #9331
Apparently doing:

[code]
Fixes the issue. However, I think we intended to keep supporting the other ``package_info()`` definition as well for ``self.cpp_info`` that would be equivalent to ``self.cpp.package``. Probably need the input of @lasote here.

[2021-07-27 20:25] memsharded commented on #7506
Hi all!

This has been a challenging feature for Conan 1.X, but we are designing Conan 2.0 to account for this. Regular library dependencies will not need to be ``build_requires``, and they will manage to propagate information correctly. These discussions in the Tribe 2.0 are relevant:
- https://github.com/conan-io/tribe/pull/26
- https://github.com/conan-io/tribe/pull/27

we have also already don

[2021-07-27 21:37] memsharded commented on #9331
BTW, the test to reproduce is:

[code]

It is fixed by adding ``self.cpp.package.components["say"].includedirs = ["include"]`` to ``layout()`` (then the ``package_info()`` can be removed too, or can stay, it pass either way.

[2021-07-28 07:19] ssrobins commented on #9282
I have `-s os.version=10.9` in my `conan create` command. I confirmed that everything worked fine when my conanfile.py had `tc.variables["CMAKE_OSX_DEPLOYMENT_TARGET"] = self.settings.os.version`, but when I removed that code, `-version-min` show in the build output. Just tried with the release of 1.39.0 to double check and it's still an issue.

[2021-07-28 07:25] tapia opened #9332 "Improve the error message when asking for an invalid reference"
When we ask for an invalid reference, the error message is a little confusing:

[code]

It would be more clear something like:

[code]

[2021-07-28 08:32] joeced opened #9333 "[question] What is the expected behavior of `conan install --remote REMOTE`"
I'm trying to understand the expected behavior of `conan install --remote REMOTE`. We have a local Artifactory server for our own packages, but still have `conan-center` as a remote, even though it is not really used.

Output of `conan remote list`:

[code]

Whether or not I call `conan install --remote virtual-remote` or  just `conan install`, I always get these "extra" calls in the trace log.

[

[2021-07-28 08:58] Hopobcn commented on #9331
Thanks for the fast reply!  Yep, can confirm that using the `self.cpp.package.components` notation works.
Also, note to other readers, `.names` property seems to not be accepted with `self.cpp.package.components`. Entries like `self.cpp_info.components["say"].names["cmake_find_package"] = "Say"`  must be translated to `self.cpp.package.components["say"].set_property("cmake_find_package", "Say")`.

[2021-07-28 09:20] ineb opened #9334 "[question] How to show dependency graph with full options?"
Is it possible to display the dependencies and options of a conanfile.py?

Something like:
``conan info . -o my_pkg:my_option=True -o a_dependency:another_option=True``

with output:
[code]

Maybe i missed a flag but i was not able to achieve this via `conan info`.

However, with ``conan build`` i was able to retrieve the desired informations.
The generated `conaninfo.txt` when `conan build` is fi

[2021-07-28 09:44] memsharded opened #9336 "[feature] Create new [conf] to activate using always the build profile (defaulting to "default" profile)"
It might be useful to switch to the new paradigm, without needing to modify every single CLI invocation.

[2021-07-28 11:36] jBernavaPrah opened #9337 "[question] Cross Building Mac (CLion) and Raspberry Pico"
Good morning,

What is the correct profile to use to compile from mac (CLion) to Raspberry PICO?

I have already read and reread the [examples from cross building](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html#cross-building-examples-profiles) but I'm not able to compile! :(

Thanks a lot!!,
JBP

PS:
This is my current profile:
[code]

And the error that I receive is:

[2021-07-28 11:37] Hopobcn commented on #9331
@memsharded I'm not sure that the generator (`cmake_find_package`) is able to generate code for `self.cpp.package.components`.

Using a test_package like this:

[code]

[code]

The resulting `Findsay.cmake` doesn't contain any reference to `components["say"]`.

[2021-07-28 11:57] memsharded commented on #9331
Hi @Hopobcn

yes, please check the warning notes in https://docs.conan.io/en/latest/reference/conanfile/methods.html#layout.

It is extremely risky to try to introduce the ``layout()`` functionality changes in the old generators. Only the new ones will fully support this functionality (Note that internally we are replacing all the logic of the generators to work, from the ``self.dependencies``, to

[2021-07-28 13:13] tomwatson1024 opened #9339 "urllib3 version restrictions force use of vulnerable version"
Conan 1.39.0 requires urllib3 `>=1.25.8,<1.26`. However versions of urllib3 before 1.26.5 are vulnerable to [CVE-2021-33503](https://nvd.nist.gov/vuln/detail/CVE-2021-33503).

Regardless of whether conan itself is affected by this issue the presence of urllib3 at this version is likely to cause problems in security scanning.

[2021-07-28 13:25] sschuberth commented on #9145
This is to chime in that we'd also need per-project configuration (of remotes), just like Maven, NPM and several other build systems / package managers do support. We have a hard requirement that projects need to build out-of-the-box on a "naked" machine after a plain `git clone`, *without* any user / global configuration to be applied first. All information to build the project should be self-con

[2021-07-28 14:02] memsharded commented on #9145
@sschuberth

You could do a ``conan config install`` of a folder inside the git repo:

[code]

[2021-07-28 14:05] sschuberth commented on #9145
Yes, thanks, that's the work-around we're [trying to implement](https://github.com/oss-review-toolkit/ort/issues/4312#issuecomment-888330638) now.

[2021-07-28 14:40] db4 opened #9340 "[question] Leakage of package name, versions and ids in a publicly open Artifactory virtual repository"
I have a JFrog Artifactory Community Edition for C/C++ instance inside my LAN. The server has no public IP and is used only internally. Now browsing https://bincrafters.jfrog.io/ui/repos/tree/General/public-conan I see a tree of my private recipes/packages. Why???

[2021-07-28 14:59] db4 commented on #9340
More info: the tree contains index.json files (fortunately only them) with `Source Path` attribute starting from `bintray-conan-cache...`. But I never uploaded those recipes/packages to bintray.

[2021-07-28 15:01] memsharded commented on #9340
No, Artifactory doesn't have any kind of backdor or anything like that.
This should have been a leak from repos, or someone you gave access to the recipes?

Another possibility is that you set up a virtual and remote repositories in Artifactory, and didn't filter (exclude) your package queries. In that case, the package names (and only the packages names) might be requested to Bintray via the virt

[2021-07-28 15:02] memsharded commented on #9340
Please @SSE4 @uilianries @solvingj, this is in the bincrafters repo, any suggestion?

[2021-07-28 15:17] solvingj commented on #9340
investigating, stand by.

[2021-07-28 15:25] db4 commented on #9340
Yes, I've set up a remote `bincrafters` repo on that server that I planned to use for faster downloads. But I actually do not use it. But I'm querying my internal packages from conancenter/bincrafters first during CI. Looks like these queries are not only cached but also made public? Maybe this leak is related to my conan client, not the server?

Not only names, but package ids as well.

[2021-07-28 15:36] db4 commented on #9340
@memsharded I was too emotional, sorry for that. Please change the issue title to something more appropriate  :)

[2021-07-28 15:40] memsharded commented on #9340
No prob @db4 I totally understand, I would also freak out! 😅

Lets summarize status:
- This is not a general Artifactory server issue
- This is not a client leakage issue
- Exclusively the package names (and package-ids) are being leaked, but not a single bit of code, recipe, source code or binaries.
- The origin is a virtual repo which is open to the public, because virtual repos can somehow cach

[2021-07-28 15:44] solvingj commented on #9340
We believe we understand the issue to be the default (perhaps un-changeable) behavior of artifactory virtual repositories.  When it receives requests for package names it has not received before, it seems to create these placeholders. This seems extremely unsafe and insecure for any repository technology.  Needless to say, we were unaware of this behavior, and we will escalate with jfrog.

[2021-07-28 20:37] JPGygax68 opened #9343 "[bug] glu/system broken when used with CMakeDeps/CMakeToolchain"
[Apologies if this is the wrong place to report Conan-Center recipe bugs; I couldn't find any links where to report such problems]

When consuming the `glu` package indirectly via GLEW (glew/2.2.0), after installing the packages with `conan install -s arch=x86_64 -s build_type=Release --build-missing` (for example), cmake generation via `cmake .. -DCMAKE_TOOLCHAIN_FILE=conan_toolchain.cmake` fails

[2021-07-28 23:27] memsharded commented on #9343
Hi @JPGygax68

Yes, it seems the ``glu/system`` recipe has a typo in its ``package_info()``:

[code]

Moving this to conan-center-index repo, so far it seems a recipe issue. Thanks for reporting it.

[2021-07-29 03:17] 88JC opened #9344 "[question] ERROR: Invalid setting 'aarch64' is not a valid 'settings.arch' value."
good day/night I want to ask if canon support aarch64? i want to install cpr in termux but got error ERROR: Invalid setting 'aarch64' is not a valid 'settings.arch' value.

[2021-07-29 05:48] dvirtz commented on #8316
same should be done for autotools:
https://github.com/conan-io/conan/blob/3f90d6e5e24b0bb244fde6edf03a09e7f6c63e32/conans/client/build/autotools_environment.py#L84

[2021-07-29 08:02] kpk-pl opened #9345 "[feature] Different settings for required packages in conanfile"
I recently started migrating my project to C++20 and while doing so found one dependency (namely 'icu', on conan-center-index) that does not compile with the new standard at all. I'm able to successfully compile my project by passing the command line option '-s icu:compiler.cppstd=17 -s compiler.cppstd=20' thus overriding the setting for the broken dependency. Link to https://github.com/conan-io/c

[2021-07-29 09:20] czoido commented on #9328
Closed by: https://github.com/conan-io/conan/pull/9338

[2021-07-29 09:20] #9328 closed, assigned to czoido

[2021-07-29 09:37] memsharded commented on #9345
Hi @kpk-pl

We have had a not great experience with conanfile being able to define upstream options values. It makes things very complicated, and it has a ton of edge cases, for example it requires a lot of code to check for configuration conflicts. If we allowed such feature, now we would need to do not only settings propagation upstream, but also conflict checking and resolution for settings too

[2021-07-29 09:39] memsharded commented on #9344
When you see this message, you should see also the list of allowed architectures. Something like:

[code]

You also need to report the Conan version you are using, etc.

The ``aarch64`` seems to be mapped to the ``armv8`` one in Conan.

[2021-07-29 09:59] kpk-pl commented on #9345
@memsharded Thanks for the suggestion to use profiles. TBH this solves my case very well and I will stick with that profile.
One more thing if I may. Do you think it makes sense to try to update the icu's recipe in CCI to set max value for the compiler.cppstd to 17 ? Just curious.

[2021-07-29 11:32] memsharded commented on #9345
Sure, do as many questions as you want 😄

I don't know the constraints of the ICU library right now, but if you mean like defining (hardcoding) compiler.cppstd=17 in the icu package recipe directly, this is not possible either, the settings are always an externally user defined input, cannot be defaulted in recipes. If the request is that ICU could allow a cppstd=20, but current recipe is not allo

[2021-07-29 11:35] #9292 closed, assigned to franramirez688

[2021-07-29 11:41] #9345 closed, assigned to memsharded

[2021-07-29 14:52] k0ekk0ek commented on #7565
In my case I'm trying to get a 32-bit Windows build going on CI and I'm also running into this issue (I think). The build environment is 64-bit Windows. I'm using MSYS2 by setting `CONAN_BASH_PATH` and then simply invoke `conan -b missing -s arch=x86 -s build_arch=x86_64 -s build_type=Debug cunit/2.1-3@`.

The build_requirements lists `libtool`. And so `libtool` > `automake` > `autoconf` > `m4` ar

[2021-07-29 15:00] madebr commented on #7565
`automake` and `autoconf` don't contain binaries. So there is no difference between a 32-bit and 64-bit package.
In these recipes, `settings.arch` and `settings.compiler` are not taken into account for the package id.
https://github.com/conan-io/conan-center-index/blob/2f4af72088cb85eeea87868c908791022eb4fe71/recipes/autoconf/all/conanfile.py#L27-L31
Using the same `autoconf` package for both inte

[2021-07-29 15:02] k0ekk0ek commented on #7565
Entirely correct. `autoconf` and `automake` are simply downloaded. `libtool` and `m4` are not. I'd expect these tools simply be download as I'm doing a cross build from x86_64 to x86.

[2021-07-29 15:08] madebr commented on #7565
`libtool` contains a library and `m4` contains an executable.

`libtool` has `os, arch, compiler, build_type` in its settings (https://github.com/conan-io/conan-center-index/blob/2f4af72088cb85eeea87868c908791022eb4fe71/recipes/libtool/all/conanfile.py#L20), `arch_build` is not in it.

Your `-s build_arch` (or if you meant `-s arch_build`) does not make it cross build.
You need to create a 32-bit

[2021-07-29 16:28] k0ekk0ek commented on #7565
That does the trick regarding the downloading of packages, thanks! However, that does lead to:

[code]

And that's caused by `self.deps_user_info` being empty (`automake` is the specific key it's looking for). Any idea what might be the issue there?

[2021-07-29 16:34] madebr commented on #7565
That's a bug in `cunit` not supporting cross building. Please open a ticket on the cci bug tracker.
When cross building, a recipe also has `self.user_info_build` which should have been used here.

We're currently in the process of reworking a lot of recipes.

[2021-07-29 16:55] playgithub opened #9346 "[question] .conan_link problem"
After install boost on Windows

.conan\data\boost\1.76.0\_\_\package\a60baac5107ef779a5865836fcb50c28ae423a0b\.conan_link
[code]

Why a new hard-coded path in C: root, it's ugly.
How to change the path in `.conan_link`?
How not to use `.conan_link`?

[2021-07-29 17:00] playgithub opened #9347 "[question] Will the lib hash change when only the the lib's depencies change?"
For example

* lib name: libabc
* lib dependencies: zlib

Same profiles for installing libabc, with only one exception, one link to zlib as a shared lib, one as a static lib.
Will the hashes in installation path be different?

[2021-07-29 17:31] memsharded commented on #9347
Not by default. You can define it with different approaches:

- Change the ``default_package_id_mode`` to be something that includes the ``package_id``, so the zlib options will be included in the hash
- Define your ``package_id()`` method to consider it:
[code]

This will become automatic in Conan 2.0 with the new package types and requirement traits approach.

[2021-07-29 22:32] memsharded commented on #9346
Because boost has long paths and Windows has a limit of 256 chars in path lengths, so boost needs to be put in a "short folder" like this: ``C:\.conan\77dcf7\1``. If you disable it (for example, removing the ``short_paths = True`` of the boost recipe, it will fail to build due to long paths. Better not change it. You could try to define the env-var ``CONAN_USER_HOME_SHORT=None``, but it is very li

[2021-07-29 23:12] memsharded commented on #9339
Hi @tomwatson1024

Thanks for reporting this. We have been trying to upgrade this dependency, but unfortunately the ecosystem of many of our users is a bit delayed (very old distros, etc), so it had been a challenge to do it without breaking. As the URLs is Conan are quite controlled (Artifactory servers, recipes defined urls), doesn't seem a very problematic vuln.

But certainly, we should probab

[2021-07-30 00:33] memsharded commented on #9333
Hi @joeced

Could you please try to provide more complete details how to reproduce? Does it happen when you try that from a clean cache?

For example, if I try, with 2 remotes:

[code]
then I see no trace at all from the bintray remote in my traces. One possibility is that you had something previously installed from the bintray remote. In some cases, Conan will be trying to use the remote it downl

[2021-07-30 00:37] memsharded commented on #9334
Hi @ineb

I am not sure what is your use case, but if from what I understand, it is not possible. When a package like ``poco`` declares a ``requires = "openssl/version...")``, it has that dependency. It cannot be removed without editing the recipe. Some recipes might implement options, like ``-o poco:with_ssl=True``, and then use it internally to do something like:

[code]

but that totally depend

[2021-07-30 00:42] memsharded opened #9349 "os.version still not defining CMAKE_OSX_DEPLOYMENT_TARGET in Macos in CMakeToolchain"
I have `-s os.version=10.9` in my `conan create` command. I confirmed that everything worked fine when my conanfile.py had `tc.variables["CMAKE_OSX_DEPLOYMENT_TARGET"] = self.settings.os.version`, but when I removed that code, `-version-min` show in the build output. Just tried with the release of 1.39.0 to double check and it's still an issue.

_Originally posted by @ssrobins in https://github.co

[2021-07-30 00:47] memsharded commented on #9337
Hi @jBernavaPrah

It would be great to do it with a known recipe, to be able to reproduce on our side.
This "hello world" example, can be easily created with ``conan new`` command.

A couple of notes. Depending on the stability constraints, it might be better to use modern Conan features:
- Using the 2 profiles: build profile and host profile.
- Using new build system integrations, CMakeDeps, CMak

[2021-07-30 00:51] memsharded commented on #5037
This has already been changed in "develop" branch, for Conan 2.0.

``conan build`` command will be a full installation, and as such will accept all settings, options, and profile arguments.

The local build, with the new toolchains like CMakeToolchain, etc (already available as experimental in 1.39), already achieves the exactly same build in the cache and in the user folder.

So I think this issu