[2022-08-31 21:30] memsharded commented on #11997
This is not a bug, this in on-purpose. MesonToolchain is only intended to support latest Meson versions.
Supporting/working with Meson 0.55 should be more than enough, that Meson version is 2 years old now, given it is still a 0.X (non stable release, it is more than enough)

[2022-08-31 21:51] memsharded opened #11998 "[develop2][bug] CMakeToolchain preprocessor_definitions type lost"
[code]
and
[code]
Will end in error, because PKG_VRRSION is not a float. If version is 1.0, it will be rounded to 1, and if 1.1 it will be rendered correctly (as float), in the toolchain is generated as:
[code]
I think the value should be quoted.

[2022-08-31 22:27] 2bndy5 opened #11999 "[suggestion] upload binary dist to pypi"
I noticed that pip has to build the Conan package from source distributions because that's the only distribution available on pypi.

Installing from a binary wheel is much faster. Since this pkg seems to be pure python, a single wheel will apply to all platforms - no need to build separate wheels for different architectures/platforms/py-ABI.
There may be other advantages to distributing wheels...

[2022-08-31 22:37] memsharded commented on #11999
I just tried this ``pip install -i https://www.piwheels.org/simple conan``, and it seems something is broken:
[code]

Apparently it tried to download all conan versions

Given that building locally the wheel in my laptop at install time takes only a couple of seconds, I am not sure this is worth the effort.

[2022-08-31 23:25] 2bndy5 commented on #11999
Strange. I can't reproduce that on windows, I was able to reproduce that on Linux. It might have something to do with only looking at the piwheels index - possibly a dependency conflict with what is available on piwheels.

If you build and install the wheel locally, then there shouldn't be a problem when using PyPI. You could test the wheel from test-PyPI... I'm not sure how much effort is actuall

[2022-09-01 02:40] zhoupeng6d opened #12000 "[bug] [1.52] conan error "ImportError: cannot import name '_get_component_name' from 'conan.tools.gnu.pkgconfigdeps'""
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04
  * Compiler+version: none
  * Conan version: 1.52
  * Python version: 3.8

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

[2022-09-01 03:09] Zvicii commented on #12000
encountered a similar problem.
[code]

[2022-09-01 07:55] memsharded commented on #11999
We are using our own https://ci.conan.io/blue/organizations/jenkins/ConanTestSuitev2

[2022-09-01 08:11] 2bndy5 commented on #11999
Ah ok. Then it looks like the only effort need be made is adding the `bdist_wheel` parameter to the `python setup.py sdist` command.

Well, I won't try to change what isn't broken (pip will attempt to build a sdist if the bdist wheel fails). But, if people are paying for CI minutes, then having the fastest possible installable distribution could possibly lighten that financial burden.

Feel free t

[2022-09-01 08:13] jcar87 commented on #12000
Hi @zhoupeng6d - I have try to reproduce this on Ubuntu 20.04 with Python 3.8 and I'm unable to. I can install `conan==1.52` with pip and `conan --version` reports the correct version without issues.

Could you try to isolate this to a new virtual environment to discard any issues with your python environment in `.local`? You may need to install the `python3-venv` Ubuntu package.

[code]

[2022-09-01 08:15] jcar87 commented on #12000
Hi @Zvicii - thank you for reporting this issue. There was an issue with the `wayland` recipe in `conan-center-index` where a _private_ Conan API was used, and it changed internally across Conan versions. We are tracking this here https://github.com/conan-io/conan-center-index/issues/12722 as an issue related to the recipe - which needs to be fixed.

[2022-09-01 08:25] memsharded commented on #11999
For me this is the critical thing, that it doesn't seem CI minutes. The time saving in a normal computer seems to be around 1-2 seconds, compared with around 15 seconds that installing the rest of Conan dependencies with ``pip install`` isn't that much. Not to say what other operations that will be executed by that Conan, that takes typically many minutes... So compared with the relative introduce

[2022-09-01 08:25] #11999 closed, assigned to nobody

[2022-09-01 09:09] kambala-decapitator commented on #11992
@franramirez688 changed SDL's test package to use CMakeDeps: yes, you're absolutely right, it works!

I guess the issue can be closed then?

[2022-09-01 09:23] harsszegi opened #12001 "[question] how to find out all aliases defined for a given package?"
Hi,
is there a way to figure out what aliases are defined for a given package?
E.g.
a.) if the given package is an alias itself, then what "real" package it points to, and to get all other aliases created on the "real" package
b.) if the given package is not an alias itself, then list of aliases created to point to this package

Is there any way to get that info?
Thanks,

[2022-09-01 09:26] franramirez688 commented on #11992
@kambala-decapitator

That's great news! So glad to hear it!

Yes, I think so.

[2022-09-01 09:26] #11992 closed, assigned to nobody

[2022-09-01 09:52] memsharded opened #12003 "copy() in generate() method to copy files to the current build ``bindir``"
[code]

This doesn't work, because ``self.cpp.build.bindirs[0]`` hasn't been converted to absolute yet (it seems this is done later), so it is only "Release", and not "build/Release".

I am trying to find a way that let me copy some resources (xml in this case, but could be dll) from a dependency and put them besides the .exe that is going to be built.

[2022-09-01 10:22] hofbi opened #12004 "[bug] pylint no-member warning for `tool_requires` and `test_requires`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: gcc-11.2
  * Conan version: 1.52.0
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)

Within the `conanfile.py` I use:

[code]

Running pylint with the conan plugin results in:

[code]

As quick fix, I suppress the warning using `# pylint: disable=n

[2022-09-01 11:07] uilianries opened #12005 "[question] tools.build.build_jobs can not parse conf.tools.build:jobs"
When using Conan conf to extract `build:jobs` based on `os.cpu_count()`, Conan fails due an unexpected type, it wanted int, but received string.

This feature it's documented on Docs:

https://docs.conan.io/en/latest/reference/config_files/global_conf.html#configuration-file-template

https://docs.conan.io/en/latest/reference/conanfile/tools/build.html#conan-tools-build-build-jobs

Related to http

[2022-09-01 11:20] memsharded commented on #12005
Doesn't seem a bug, but the replacement of the template is not being done, because the profile doesn't have the ``jinja`` extension. Please rename the profile file.

[2022-09-01 11:55] AlexanderRevo commented on #3000
Just wanna say that this is very nice to have for cross-compilation.

We're slowly transitioning to having tools like CMake in our `build_requires` because it simplifies the builder/CI runner setup. Especially on Windows runners, it's much easier to use the CMake conan package to make sure you get the required CMake version on whatever runs your pipelines, as opposed to manually updating it on a f

[2022-09-01 12:20] blockspacer commented on #12005
I do not understand how to enable jinja extension in profile.
Are there any examples in docs?

[2022-09-01 12:23] dubvulture opened #12006 "[bug] Wrong prefix for AutotoolsToolchain (or wrong docs)"
The [documentation](https://docs.conan.io/en/latest/reference/conanfile/tools/gnu/autotoolstoolchain.html) for AutotoolsToolchain states that:

- **configure_args: Additional arguments to be passed to the configure script.**
    - **By default the following arguments are passed:**
        - `--prefix`: With the self.package_folder value.

But the code seems to default to **/**, see [here](https://

[2022-09-01 12:58] memsharded commented on #12005
Hi @blockspacer

yes, sorry I failed to properly explain. I mean the file extension. You need to opt-in using something like ``myprofile.jinja`` (this will not be necessary in 2.0, but it was necessary in 1.X to avoid breaking).

The docs are in https://docs.conan.io/en/latest/reference/profiles.html#profile-templates

[2022-09-01 13:19] beenjohn commented on #11370
Hi @memsharded, is there any progress on this ticket, or is it still in the queue? It appears to affect conan download in 2.X as well.

[2022-09-01 13:22] SpaceIm commented on #11997
Ok, I've removed these old versions from meson recipe in CCI.

[2022-09-01 13:22] #11997 closed, assigned to nobody

[2022-09-01 13:29] SpaceIm commented on #11997
I believe it would be worth to document the minimum meson version for which `CMakeToolchain` can generate a compatible native or cross-build file (in https://docs.conan.io/en/latest/reference/conanfile/tools/meson/mesontoolchain.html)

[2022-09-01 14:16] jellespijker commented on #11986
@SpaceIm you're correct. Using your new msys2 conan recipe for msys2 fixed this issue. I will close this issue and the PR

[2022-09-01 14:16] #11986 closed, assigned to nobody

[2022-09-01 14:20] memsharded commented on #11370
Yes, still in the queue, sorry, not labeled as critical atm.
The current workaround would be to download all binaries to cache, then list them on the cache, or use Artifactory API to query folders matching package-ids.

[2022-09-01 14:22] dheater opened #12007 "[bug] Missing `pkgconfigdeps` in Conan 1.52.0"
Attempting to install `wayland/1.21.0` fails with conan version 1.52.0 (released yesterday).  It does work if I downgrade back to conan version 1.51.1.

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: gcc/11
  * Conan version: 1.52
  * Python version: 3.9.13

### Steps to reproduce (Include if Applicable)

Run `conan install wa

[2022-09-01 14:24] memsharded commented on #12007
Duplicated of https://github.com/conan-io/conan/issues/12000?

[2022-09-01 14:24] memsharded commented on #12007
(in short, a recipe bug for using private, not documented Conan imports)

[2022-09-01 14:26] uilianries commented on #12005
Now it makes sense. Also, the documentation only points `global.conf` not profile.

[2022-09-01 14:35] franramirez688 commented on #12007
Hi @dheater

You can check this issue https://github.com/conan-io/conan-center-index/issues/12722 where it's already opened the discussion. Hopefully, https://github.com/conan-io/conan-center-index/pull/12771 will fix the problem very soon.

[2022-09-01 14:43] dheater commented on #12007
Close as duplicate

[2022-09-01 14:43] #12007 closed, assigned to nobody

[2022-09-01 15:10] andoalon opened #12008 "[feature] Handle required_conan_version before importing the recipe"
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Could it be possible to handle `required_conan_version` before importing the recipe?

Currently if importing the recipe fails because it imports a helper/tool from conan present only in a newer version, the issue will be diagnosed as an `ImportError`, instead of conan letting you know

[2022-09-01 15:16] memsharded commented on #12008
But this was managed in Conan 1.52. Please upgrade and those imports now should process the ``required_conan_version`` (only on import error)

[2022-09-01 15:18] #12008 closed, assigned to memsharded

[2022-09-01 18:19] blockspacer commented on #12005
Thanks, ill try to use myprofile.jinja

BTW, it may be good idea to link https://docs.conan.io/en/latest/reference/profiles.html#profile-templates near info about global.conf in documentation.

[2022-09-01 18:56] planetmarshall opened #12009 "[bug] MesonToolchain does not respect libcxx setting"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04 LTS
  * Compiler+version: Clang 13
  * Conan version: 1.52.0
  * Python version: 3.10.3

### Steps to reproduce (Include if Applicable)

When running a verbose build, the `-stdlib=libc++` option does not appear to be passed to Clang, causing the test package to fail with linking errors. As there

[2022-09-02 06:48] b1ackviking opened #12010 "[bug] `package_folder` is `None` if conanfile defines `layout(self)`"
When I define the `layout(self)` in the conanfile.py like this:

https://github.com/b1ackviking/cpp-project-template/blob/2825b98da0d635142335b24beb4a89011d2d27a5/conanfile.py#L13-L14

And use `conan build` command to build the project, I get `TypeError` exception thrown from the `cmake.install()` calling `mkdir` with `package_folder` is `None` (see the stack trace in the attached logs).

https://

[2022-09-02 06:57] b1ackviking commented on #11842
There are also #9962 and #10877 discussion on this feature.

[2022-09-02 07:38] b1ackviking opened #12011 "[bug] CMakeToolchain overwrites CMake variables when used in multi-config setup"
When I run `conan install` multiple times to install Debug, Release, etc. configurations of dependencies for a multi-config CMake generator, conan overwrites the values of `CMAKE_MODULE_PATH`, `CMAKE_PREFIX_PATH`, `CMAKE_LIBRARY_PATH`, `CMAKE_INCLUDE_PATH` in the generated toolchain with the values from the last invocation of `conan install` command.

Note: I am not sure if the values of these var

[2022-09-02 08:17] nmgwddj commented on #11846
Thanks for your reply.

[2022-09-02 08:17] #11846 closed, assigned to czoido

[2022-09-02 08:29] mpusz commented on #10877
@memsharded, pretty please 😉
This would help a lot with the usage of CMake Presets within the IDE, which unfortunately are now useless and even make things worse as most IDEs switch to CMakePresets mode by default when the generated file is found.

[2022-09-02 09:04] memsharded commented on #12010
Hi @b1ackviking

It doesn't seem a bug, but intended behavior.

The reason is: https://github.com/b1ackviking/cpp-project-template/blob/8eccefa761d2336af88c03a16ecb6b13db725ce7/conanfile.py#L36

With the new ``layout()`` feature, there is no ``package_folder`` defined inside the ``build()`` method. You need to move the ``cmake.install()`` feature to the ``package()`` method.

[2022-09-02 09:07] memsharded commented on #12005
Good, let us know if you have any further issue when using the file extension.
We are already rewriting the docs from scratch in 2.0, it should be much clearer there (besides the extension no longer necessary)

[2022-09-02 09:07] #12005 closed, assigned to memsharded

[2022-09-02 09:13] memsharded commented on #12009
Yes, apparently MesonToolchain is not processing ``compiler.libcxx``, probably we expected Meson to use by default the right one for the current compiler, is this not the case.

It would be good to know a bit better from Meson about this, I have found https://github.com/mesonbuild/meson/issues/8592, which seems to indicate this, and also https://lore.kernel.org/all/20190619154056.32215-1-laurent.p

[2022-09-02 09:15] planetmarshall commented on #12009
Test package created using

`conan new <package> -t -m meson_lib`

With a few modifications to run the test package using the new CMake toolchain.

[conan-meson.zip](https://github.com/conan-io/conan/files/9476652/conan-meson.zip)

## Steps to reproduce

1. Unzip the test package
2. Run `conan create . -s compiler.libcxx=libc++` (with Clang)

## Expected results

The test package is built correctl

[2022-09-02 09:18] memsharded commented on #11842
Quick question, why the above Windows example doesn't define the env-vars too in the profile, as the Linux profile does?

Also a 2.0 tip: use ``[buildenv]`` instead of ``[env]`` together with ``VirtualBuildEnv`` generator in the consumer side to be 2.0 ready.

Maybe we want to consider a ``conf``, similar to the recent ``tools.build:cxxflags`` confs, that defines the compiler directly to the toolc

[2022-09-02 09:23] memsharded commented on #12011
The reason this feature exist is to allow users that don't use ``CMakeDeps``, but want to use their own ``pkg-config.cmake`` packaged inside the packages. As the ``find_package()`` mechanism in CMake doesn't allow multi-config, users doing that are restricted to use single-config. But as long as they are ok with that, it works. This needs those variables to be defined, and as they can only have on

[2022-09-02 09:39] b1ackviking commented on #12011
OK, I think I get it.
So, in my case with CMakeDeps, only the following part is relevant, which allows CMake to find the `pkg-config.cmake` files provided by CMakeDeps:

[code]

Thank you, @memsharded !

[2022-09-02 09:39] #12011 closed, assigned to memsharded

[2022-09-02 09:47] planetmarshall commented on #12009
## Workaround

(not comprehensive)

[code]

[2022-09-02 09:50] memsharded commented on #12011
Yes, exactly.
If for some reasons you'd like to clean what CMakeToolchain does, it is quite configurable, you can see the "blocks", and replace a block template (recommended to do it in a ``python_require`` if you are going to use it in all your recipes)

[2022-09-02 10:07] fdgStilla opened #12012 "[bug] check_c_source_compiles for openssl is not working with CMakeToolChain and Visual Studio generator"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 11
  * Compiler+version: Visual Studio 2019
  * Conan version: 1.51.3
  * Python version: 3.10.3

### Steps to reproduce (Include if Applicable)
- in the conanfile:
  - use CMakeToolChain to build the package
  - require openssl `self.requires("openssl/1.1.1q")`
- in the cmakefile of the project:
  -

[2022-09-02 10:36] b1ackviking commented on #12010
Hi @memsharded

Thanks for a quick reply!

I have just tried moving the `cmake.install()` call to the `package()` method. It works, but it does not solve my use-case anymore because I am not allowed to call `conan package` when `layout()` is present:

[code]

As you can see in the conanfile at the repository, I am not building a proper conan package (using `conan create` with name/version) to make

[2022-09-02 11:22] memsharded commented on #12010
Hi @b1ackviking

Yes, let me explain a little bit the rationale: the idea is that the developer flow uses the "native" tools more. That is, the devs should do ``conan install ....`` and then move directly to ``cmake ...``. With the new integrations, like the generation of CMakePresets, this should be way easier.

For the local install case, the challenge is that the package folder was really not d

[2022-09-02 11:31] memsharded commented on #12012
Quick question: if not using ``check_c_source_compiles()``, but just building a normal library or executable that ``target_link_libraries()`` the openssl targets, does it work?

[2022-09-02 11:41] blockspacer opened #12013 "[bug] ( clang-cl ) stop updating conan-center-index recipes to conan v2 before landing clang-cl support"
[code]

from https://github.com/conan-io/conan-center-index/issues/12760

[2022-09-02 11:48] memsharded commented on #12013
Hi @blockspacer

It would be great to formulate this in term of basic Conan integrations, not related to full blown recipes. If the integration that is failing is ``CMakeToolchain``, the best would be to start with a ``conan new hello/0.1 -m=cmake_lib`` project and take it from there.

As you can see this is ongoing effort:
- https://github.com/conan-io/conan/pull/11492

We would also need as much

[2022-09-02 11:48] blockspacer opened #12014 "[bug] clang-cl requires only_diff=False in vcvars"
I'm trying to build package that depends on hiredis/1.0.2 with clang-cl conan profile.
Build fails and only known to me way to fix it is to manyally modify all recipes from conan-center-index (that i use as dependencies) with `tools.vcvars(self.settings, only_diff=False):` . Bug related to https://github.com/conan-io/conan/issues/6577

My conan profile:

[code]

### Environment Details (include ev

[2022-09-02 12:13] memsharded commented on #11959
Related https://github.com/conan-io/conan/issues/12003

[2022-09-02 12:20] b1ackviking commented on #12010
Thank you for the answer @memsharded !

Knowing the reasoning behind these changes in 2.0 makes it clear to me why conan works this way. It is also a bit sad, because I almost got conan working as a build driver. But I surely understand that supporting every day changing CMake (and many other build tools) build process is a moving target. Distinguishing between the package manager responsibilities

[2022-09-02 12:20] #12010 closed, assigned to memsharded

[2022-09-02 12:22] jsallay opened #12015 "[bug] build_id broken in 2.0-beta"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04 (docker)
  * Compiler+version: gcc9
  * Conan version: 2.0-beta2
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I have a use case where I want to create multiple versions of a package that takes a while to build.  I use the build_id function so that I only have to bui

[2022-09-02 12:24] fdgStilla commented on #12012
Yes

[2022-09-02 20:23] memsharded commented on #12012
From what I see in https://cmake.org/cmake/help/latest/module/CheckCSourceCompiles.html, ``check_c_source_compiles()`` executes as ``try_compile()``, which is not the same context as the main project, and it requires to pass ``CMAKE_REQUIRED_INCLUDES, CMAKE_REQUIRED_LIBRARIES`` etc, but not the targets, so it could be related. No idea why it would work with some generators like Ninja and not the o

[2022-09-02 20:28] memsharded commented on #12015
Hi @jsallay

Just to make sure I understand: the build scripts of that package build both a variant with zmq and another one without zmq, in the same build pass? And then you create two different package binaries by selecting the right artifacts while packaging?

[2022-09-02 20:33] jsallay commented on #12015
Yes. That is correct.

On Fri, Sep 2, 2022, 4:28 PM James ***@***.***> wrote:

[2022-09-02 21:23] prince-chrismc opened #12018 "[question] How to view profiles in 2.0"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In 1.x I am very used to `conan profile show default` to view my profile

In 2.0, the show subcommand does not offer anything  which would be able to give me the whole contents.

[code]

[2022-09-03 09:37] memsharded commented on #12018
Hi @prince-chrismc

The idea is that Conan 2.0 has dropped what would be pure file handling functionality, like just listing a text file, or editing a text file.
The new command does show the resulting profile, as it would be composed and evaluated (including jinja syntax) by the command line. But it can be used to show the default profile with
[code]

[2022-09-03 09:52] memsharded commented on #12010
Thanks for the feedback!

Just to be clear, the ``conan build`` command hasn't been removed in 2.0 for this reason. Actually, it is a bit more powerful, because it does a ``conan install + build()`` in one step, very convenient for developers wanting to use this behavior. So this can be still be used as a build driver. The only missing piece would be the ``package`` step, it was too artificial, bu

[2022-09-03 11:27] memsharded commented on #12015
Trying a fix in https://github.com/conan-io/conan/pull/12019 for next beta.3

[2022-09-03 15:26] fanselm commented on #11607
I also hit this recently, and I guess a lot of people must have by now.

I also agree with @nolange that the Conan generated .cmake files (e.g. `<PKG>Config.cmake`) should be completely free of configuration specifications like $<CONFIG:Release> - it is not Conan's job to interfere with how the project is configured, it should just hand you the include directories and libraries no matter what. If

[2022-09-03 16:29] SpaceIm opened #12020 "[question] Is it intended to not set `libexecdir` in `AutotoolsToolchain`?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`libexecdir` is not automatically set by `AutotoolsToolchain`.

AutoToolsBuildEnvironment:
`bindir`, `sbindir`, `libexecdir`, `libdir`, `includedir`, `oldincludedir`, `datarootdir`

AutotoolsToolchain:
`bindir`, `sbindir`, `libdir`, `includedir`, `oldincludedir`, `datarootdir`

I had

[2022-09-03 17:36] SpaceIm opened #12021 "[bug] `libdirs` of components not added to `LD_LIBRARY_PATH` of `VirtualRunEnv`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Linux
  * Compiler+version: gcc 9
  * Conan version: 1.51.3
  * Python version: ? (the one of c3i)

### Steps to reproduce (Include if Applicable)

- checkout https://github.com/conan-io/conan-center-index/tree/1b98945bc9ba9a8b352850968abe63f6cc5ac2b4
- On Linux, in `recipes/pulseaudio/all`, run `conan creat

[2022-09-03 17:47] SpaceIm commented on #11042
It's also something I've suggested here: https://github.com/conan-io/conan/issues/10075#issuecomment-978064194

Until conan can provide some IDE integration, I use this `tasks.json`: https://github.com/SpaceIm/vscode-cpp-cmake-conan-template/blob/master/.vscode/tasks.json

Basically, I use this task to run conan install with many generators, parse the conanrun script file generated by conan, gener

[2022-09-03 18:07] p-groarke commented on #8144
Not my intention to revive an old thread, but we are currently bumping into this issue.

What we are seeing is, anything pulled from conancenter breaking on a weekly/bi-weekly basis due to the recipes updating to new conan features. We lock our conan version internally.

In particular, we'd like to create something equivalent to `--base` locks, but only for recipe revisions. As I understand it, cr

[2022-09-03 21:00] memsharded commented on #8144
Hi @p-groarke

I did like at least 2 attempts at this in 1.X. Unfortunately it doesn't seem possible, it is just too complex. One of the complications is the way the dependencies are resolved, which is not deterministic, and that is the reason the lockfiles in 1.X store the full graph.

This is also the reason we did a big effort in the new 2.0 lockfiles. If you haven't tried them yet it would be

[2022-09-03 21:41] prince-chrismc commented on #12018
How is this for a summary https://github.com/prince-chrismc/docs/commit/59442ab5558ebe7ca6d7d4013a6131e1e4c7ca23?

I'd love to open a PR (maybe move the issue) 😸 if I understand correctly!

[2022-09-03 21:48] p-groarke commented on #8144
Hey @memsharded, I'm just getting up to speed with lockfiles. Reading the proposal for 2.0, the new lockfiles seem much more aligned with what we want. A simple way to lock RREVs (and just RREVs). Well done!

[2022-09-03 22:37] SpaceIm commented on #12021
I've checked the build locally, and libdirs are properly injected in VirtualRunEnv, so there is something else wrong in this recipe.

[2022-09-03 22:37] #12021 closed, assigned to nobody

[2022-09-04 02:41] zhoupeng6d commented on #12000
Hi @jcar87  Using venv looks OK.

[code]

[2022-09-04 09:53] edwardvandevorst-philips commented on #10916
I have exactly the same problem. How to work around this?

[2022-09-04 18:28] memsharded commented on #12000
@zhoupeng6d then it could be that your Conan installation is corrupted. I would try to remove and re-install Conan, because a 1.52 clean installation seems to be ok.

[2022-09-05 06:47] PMExtra opened #12022 "[feature] Force check credentials before search"
#3906

I noticed that there are some conan package registry that return empty array with code 200 rather than return code 401 while searching packages without a valid credential. (at least including Artifactory and GitLab)

So I request to add an argument for `conan search` command to explicitly check credentials before search.

[2022-09-05 06:50] fdgStilla commented on #12012
The failure is only with the standard CMake "Visual Studio" generator, running manually the cmake project configured by conan with `-G "Ninja"` fix the issue.

[2022-09-05 07:53] blockspacer commented on #12013
@memsharded

hello/0.1project fails, full log:

[code]

[2022-09-05 09:10] SSE4 commented on #11370
@memsharded what's the replacement command, if `conan list packages` still broken?

[2022-09-05 09:18] memsharded commented on #11370
I think that downloading binaries will be too heavy, I would try the API

[2022-09-05 09:19] memsharded commented on #11370
Or, if you can clarify the full process, why do you need to query all existing ``package_ids``, then maybe we could try to figure out alternatives

[2022-09-05 09:27] SSE4 commented on #11370
to understand, which package_ids have to be built on CI, and which could be safely skipped, cause already built.

[2022-09-05 09:27] SSE4 commented on #11370
is there a (one-liner) curl command to obtain them or something? or to be investigated?

[2022-09-05 09:33] jellespijker opened #12023 "[bug] generator 'MSBuildDeps': 'settings.build_type' doesn't exist"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 2022 GitHub runner
  * Compiler+version: N/A
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

Performing a conan install with the msbuilddeps as generator on a Windows setup with conan 1.52.0

(Will update this ticket with more relevant information

[2022-09-05 09:45] mLisMarcin commented on #12022
I just had same issue on `conan install` with expired credentials. It reported that no such package exists. Version 1.50

[2022-09-05 09:49] franramirez688 commented on #11993
Hi @danimtb
I've checked it, and the problem which I've seen belongs to the recipe itself. `zlib` is using:

[code]
Instead of:

[code]
So, I believe that updating the recipe will be the solution.

UPDATE: Sorry, I was using a quite general pattern. Using your recipe revision, it works without any problem:
[code]

[2022-09-05 09:55] jellespijker opened #12024 "[feature] conditional config remote installation"
Our Artifactory server has basically two conan repo's, which are mirrored from each other. The only difference is that one repository contains pre-build binaries as well. This setup ensures that we can still service our community developers, with setting up a development environment while allowing our own in-house developers and CI/CT to utilize the power of pre-build binaries.

In order to not ho

[2022-09-05 10:33] memsharded commented on #11370
If you are doing some other ``conan graph info`` commands, for the active profiles (I recall that it was being used), that doesn't provide the information if needs to be built or not?

I don't know, to be investigated

[2022-09-05 10:37] SSE4 commented on #11370
if it doesn't communicate to the remotes, it has no idea if they are available in that remote.
(in generic case, there are two different remotes - one is to consume dependencies from the conan center index. another one is to upload build results. the latter is a temporary repository, which is used to promote binaries later. if you do N builds of the same commit, it might take several iteration unt

[2022-09-05 11:21] valeriomoroni95 opened #12025 "Checksum verification"
Hi everyone!

I'm working with Conan in my master dissertation in order to have an open source C++ package manager.
My use-case scenario is the following:

1:  I locally receive pre-existing binaries to package.
2: Once packaged, I locally run this command to capture the manifests of all recipes and package binaries for the dependencies of my project: `$ conan install . --manifests`
3: I inspect t

[2022-09-05 11:40] czoido commented on #12015
Closed by https://github.com/conan-io/conan/pull/12019 to be relased in beta3

[2022-09-05 11:40] #12015 closed, assigned to nobody

[2022-09-05 11:47] ddkurguzikova opened #12026 "[question] How to install dependency on build stage with QBS"
I have a solution with many projects, for one of them I need to install conan package, but only if this project will be chosen to build.
I build my projects with QBS.
I tried to use Probes.ConanfileProbe in qbs file, but it seems that conan installs the package while resolving the project.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING

[2022-09-05 12:07] danimtb commented on #11993
Thanks @franramirez688 for having a look at this. It seems I was a using a different conan 2 version

[2022-09-05 12:07] #11993 closed, assigned to franramirez688

[2022-09-05 12:14] memsharded commented on #11996
Rules (for maintainers team):
- If the command has any formatters, it cannot have ``cli_out_write`` or any printing to stdout from the command itself, everything has to happen via formatters.
- If commands has formatter like json, most likely it won't have a "text" formatter, because of stability of output

[2022-09-05 12:59] jsallay opened #12027 "[bug] CMakeDeps with mixed static and shared libraries."
### Environment Details (include every applicable attribute)
  * Operating System+version: ubuntu 20.04 (docker)
  * Compiler+version: gcc9
  * Conan version: 2.0-beta2
  * Python version: 3.8.10

### Steps to reproduce (Include if Applicable)
I am having an issue when a shared library has a static dependency.  The CMakeDeps generator fails.  I'll provide a minimal reproducer below.

[code]
[code]

[2022-09-05 13:48] memsharded commented on #11959
Closed by https://github.com/conan-io/conan/pull/12016, will be documented as package_folder=None in ``validate()``

[2022-09-05 13:48] #11959 closed, assigned to nobody

[2022-09-05 13:49] danimtb opened #12029 "[bug][conan v2] Command download with package query not working"
After trying several `conan download` commands, the package query flag does not work as expected:

[code]

Note `ccv2stg` remote is a repository in Artifactory with conan v2-beta2 generated packages uploaded.

Also, it will be very useful to have a way to download all pacakges, for example providing a query like `-p *`.

[2022-09-05 13:59] lasote commented on #11642
Just for reference, in `CMakeDeps` is implemented in target_data and looks like this:

[code]

We agreed on introducing the same for other generators, one by one. Only if a use case with tool-requires need that propagation we would study how to solve it.

[2022-09-05 14:08] memsharded commented on #11970
Closed by https://github.com/conan-io/conan/pull/11971, will be in 1.53. Thanks very much for the fix!

[2022-09-05 14:08] #11970 closed, assigned to memsharded

[2022-09-05 14:18] memsharded commented on #12025
Hi @valeriomoroni95

Are you talking about the ``conan_package.tgz`` checksum, for example? the uploaded artifacts are what the ``conanmanifests.txt`` says, but zipped, so it is a different thing, they will not match. You need to read the contents of the tgz files, not the file itself.

If validating the manifests again at install time, against the previous pre-upload phase, that is built-in, you

[2022-09-05 14:20] memsharded commented on #12023
Hi @jellespijker

This seems expected. The ``MSBuildDeps`` generator is multi-configuration, and it needs the ``build_type`` to be defined. It should be both defined as a ``settings = ...., "build_type"`` in the recipe, and to have a value provided by the profile or CLI.

[2022-09-05 14:29] memsharded commented on #11642
Just checked ``MSBuildDeps``, it needs some work:
[code]

[2022-09-05 14:37] valeriomoroni95 commented on #12025
Hi @memsharded and thank you for the answer.

I'm talking about, for example, the _conanfile.py_, as you can see in the screen.
<img width="983" alt="Schermata 2022-09-05 alle 16 24 49" src="https://user-images.githubusercontent.com/28839535/188471084-fd5c0a7c-5da0-43ff-ae28-b15c0390c903.png">

Talking about the `--verify` argument, I've used it after I've downloaded the package again from Artifac

[2022-09-05 14:54] memsharded commented on #12025
I have just checked, and that checksum matches in my case. Can you please check the ``conanmanifests.txt`` content as just downloaded from the Artifactory? Not against the file in the Conan cache.

Then, if it matches, maybe it is possible that you have already locally created a new revision or something like that? Just to make sure, try:

- Create a new ``conan new checksums/1.0 -m=cmake_lib``
-

[2022-09-05 14:54] memsharded commented on #11892
Closed by https://github.com/conan-io/conan/pull/12028, will be in beta.3

[2022-09-05 14:54] #11892 closed, assigned to lasote

[2022-09-05 14:57] memsharded commented on #12026
Hi @ddkurguzikova

Can you please elaborate more, it is not clear what you are asking.
It seems this is more related to qbs than to Conan, I have no idea what ``Probes.ConanfileProbe`` is, it seems something specific to your project.

[2022-09-05 15:01] memsharded commented on #11370
If the job is running in a clean cache, it is impossible that the binary exist if it is not in the remote. If it is not running in a clean cache, but the cache is reused for the same commit, then it is fine, the binary will be there anyway for later upload? You are trying to define if a package should be built or not. If the package exists, no matter where, then it doesn't need to be built?

[2022-09-05 15:18] memsharded commented on #12022
Quick question: how does that work with repositories that are read-only, and you don't have credentials to (like ConanCenter). If ``conan search`` or ``conan install`` do a check credentials, it will not be able to use packages from read-only anonymous repos (which are massively used by users, not only for ConanCenter).

[2022-09-05 15:27] SSE4 commented on #11370
I'll try to be more specific, maybe it will shed some light...
there are several remotes:
1. `conan-center` - it's the one where packages (dependencies) are downloaded from. read-only.
2. `PR-XXX` - a temporary repository to upload built artifacts. write-only. later, it will be promoted into `conan-center`, but it's only after PR is merged. once promoted, repository is deleted.

then, imagine we h

[2022-09-05 15:31] czoido commented on #12029
This is related to https://github.com/conan-io/conan/issues/11370
It's the same problem internally and will need to be addressed in the server, so it will take some time.
Maybe this can have a workaround using the Artifactory API for the moment...

[2022-09-05 15:39] valeriomoroni95 commented on #12025
Yes, you're right, it matches now.

I've followed your instructions and I share with you what I got (comparing the downloaded conanmanifest.txt against what I have in Artifactory:
- MD5 checksums for _conanfile.py_ match.
- MD5 checksums for _conaninfo.txt_ match.
- export_source/CMakeLists.txt: e3ac11dff9c116c75c1dbf4661545dd5
   export_source/include/checksums.h: 0736b93171891e4463d6e11d63905a2f

[2022-09-05 15:42] memsharded commented on #11370
I am not sure about this. ``conan graph info`` also resolves against remotes. If the right remote is defined, it will tell you that such binary, with such package_id exists or not. It will not say that 100 of them are missing, it will tell you that 60 are missing. You need to pass the ``--build=missing`` arg, but it should work.

Why not adding the ``PR-XXX`` remote? You are passing it to the ``co

[2022-09-05 15:47] SSE4 commented on #11370
it is possible, just may need some adjustments in code. e.g. remote might not always exist at that point. also, we have a code to cache package ID computation in .json file, so `conan graph info` doesn't run for second re-build (right now).

in other words, do I understand correctly that `conan list packages` replacement could be implemented on top of `conan graph info` (with some loop)? if so, wh

[2022-09-05 15:50] memsharded commented on #11370
It is impossible to loop over all possible infinite combinations of profiles that you need to feed to ``conan graph info`` to deduce the existing ``package_ids``.

This will be fixed in the server. Not every user use this feature. The best would be to provide them with an Artifactory query they could run.

[2022-09-05 15:52] memsharded commented on #12025
Yes, whatever checksums you want to validate inside the .tgz, you need to download and unzip the .tgz. And this is what the client already does with ``--verify`` argument.

[2022-09-05 15:56] SSE4 commented on #12029
@memsharded we also need a replacement for `conan download`

[2022-09-05 15:56] memsharded commented on #12027
Hi @jsallay

I think the issue is defining ``self.cpp_info.requires.append("t1::t1")`` in the first place. This feature is only intended and designed to work when ``t1`` package has components defined. Does this still happen if you define components in ``t1``?

The other constrainst, like using ``shared`` options, yes, that is not acceptable to change if you want that option. But you really don't

[2022-09-05 16:00] memsharded commented on #12029
``conan download`` works if not using the query. The replacement would be to use exact ``package_id`` downloads, and results in the same replacement as the other issue: a query to obtain all ``package_id`` for a given revision

[2022-09-05 16:00] valeriomoroni95 commented on #12025
Thank you so so much!
So, in order to validate those checksums, which command should I run from CLI, with `--verify` argument?

[2022-09-05 16:07] jsallay commented on #12027
@memsharded,
The same problem occurs with components.  I've updated t1 and t2 as follows.
[code]
[code]

I still get the same error in `conan create t3`.  I was unaware of the requires only being needed for components.  I based this issue off of the zeromq recipe which contains in the package_info:
[code]
(libsodium does not define any components).

Is this a change for v2 or is that how it is sup

[2022-09-05 16:07] jsallay commented on #12015
Thanks.  You guys are so responsive.

[2022-09-05 16:11] memsharded commented on #12024
Hi @jellespijker

I would like to suggest a third possibility: use virtual repos from Artifactory. Your developers can use a different remote than your users, you can define your own virtual repo for your developers that aggregate the external public repos and the internal development ones. That would mean to have 2 different ``conan config install`` origins, but quick question: don't you already

[2022-09-05 16:13] memsharded commented on #12025
``conan install ... --verify`` command.

[2022-09-05 16:22] valeriomoroni95 commented on #12025
Running that command I got this error: "ERROR: Manifest folder does not exist /Users/Valerio/Desktop/checksums/.conan_manifests".

I tried to run `$ conan install . --manifests`, it seems to work but the ".conan_manifests" folder still doesn't exist.

[2022-09-05 16:34] rainman110 commented on #11132
@memsharded Just a feedback to the functionality in Conan 2.0:

From the users point of view it practically does not work yet, as there seems to be always at least one (transitive) dependency, whose recipe is not yet ready for 2.0. This makes it almost impossible to have conan install successfully running through.

[2022-09-05 16:35] jellespijker commented on #12024
Hi @memsharded our user and in-house developers have indeed the same configuration atm. And we use two unique virtual repo's which are aggregates. Of our own local and the CCI. The only real difference is that one for our in-house devs, service accounts and admins stores binaries.

Our community repo has read access for everyone without an account and write access for our devs and admin groups; wh

[2022-09-05 16:42] jellespijker commented on #12023
Will take a look at this on a local computer, because I always found it puzzling that it uses msbuild in the first place, all our recipes are using either cmake (modern) generators or our own VirtualPythonEnv and PyCharmRunEnv generator.

That being said 1.50.2 and lower works for this config, while 1.51.x gave us trouble with the I'll formed xml for the msbuild generator.

I will give an update t

[2022-09-05 16:43] memsharded commented on #12027
Thanks for the help, I have managed to reproduce.

The issue comes from the definition of:
[code]
in ``t2``.

Note this is a definition for the consumers of ``t2``, letting them know: You also depend on ``t1::comp1``.
This is not the case for the default linkage requirements in 2.0. If t2 (shared) is linking t1 (static), it is assumed that t1 is embedded and hidden in t2 (unless some ``transitive_

[2022-09-05 17:07] memsharded commented on #12027
trying it in https://github.com/conan-io/conan/pull/12033, in case you want to test the source branch

[2022-09-05 17:12] memsharded commented on #11132
But those are different things. Yes, the recipes for dependencies need to be ready for 2.0. But they need to be ready anyway before getting to try to ``--deploy``, if you cannot build/install it, certainly you will not be able to collect the dependencies in a deployment, but that doesn't mean that the feature does not work. Maybe if you want to experiment the feature, you could try the ``--deploy`

[2022-09-05 17:13] jsallay commented on #12027
Great. Thank you for looking at it. I don't know if I will have time today,
but I will definitely try it out.

On Mon, Sep 5, 2022, 1:07 PM James ***@***.***> wrote:

[2022-09-05 17:15] memsharded commented on #12025
Please try:

[code]

[2022-09-05 17:18] ddkurguzikova commented on #12026
Hi @memsharded
Thank you for your answer!

[2022-09-05 17:18] #12026 closed, assigned to memsharded

[2022-09-05 18:14] rainman110 commented on #11132
You are right, these are different things. I simply wanted to play around with this feature and tried to install separately different libraries - not a whole project. The problem still was, that many recipes are either not yet ready ( as you already know), or they are ready but pull in some dependencies which are not ready yet.

This should be no criticism but I simply wanted to share my probably

[2022-09-05 18:42] memsharded commented on #11132
Thanks for the feedback.
If you want to try it, maybe the repo we are using in the 2.0 docs can be useful, please check https://docs.conan.io/en/2.0/tutorial/consuming_packages/build_simple_cmake_project.html, and trying some commands with those packages might be better than trying with ConanCenter at this moment, until everything gets to speed there.

[2022-09-05 18:54] rainman110 commented on #11132
Thanks for the tip with the v2-only package repo. I am gonna try this!

[2022-09-05 19:38] jsallay commented on #12027
That commit fixes the issue in the test case, but I am still seeing the same error with my actual recipe.  I did some digging and there is something odd going on with the validate function that appears to be independent of components.  Here is a reproducer.
[code]
[code]
[code]
In `t3`, It looks like any access of `self.dependencies` in `validate` triggers the same problem that I had before.  I ch

[2022-09-05 20:03] valeriomoroni95 commented on #12025
@memsharded Brilliant!

Now it works! Thank you so much for your help, it helped me a lot 💯

[2022-09-05 20:03] #12025 closed, assigned to memsharded

[2022-09-05 21:35] memsharded commented on #12027
Thanks for the feedback, this is exactly the kind of feedback we want for 2.0.

The issue happens because 2.0 is filtering out information from dependencies when they are not needed.
We need to think a bit more what interface we give for dependencies:
- It seems it makes sense that ``validate()`` can access information from dependencies, even if the binary is skipped (binary = SKIP). It will not h

[2022-09-05 21:36] memsharded commented on #12027
Good hint in existing code:
[code]

[2022-09-05 22:03] agagniere opened #12035 "[bug] Brew shouldn't be used with sudo"
While I seldom use brew it would seem that it refuses to install packages with super user privileges.
If that is indeed the case, then maybe the sudo setting of the package manager should be ignored when using brew.

Is there a known situation where the possibility to run brew with sudo is desired ?
What do you think about removing this ability ?

### Environment Details
  * __Operating System:__

[2022-09-05 23:13] memsharded commented on #12035
Thanks for the detailed feedback.

It would seem that it makes sense to have brew ignore ``conf.tools.system.package_manager:sudo``, if by default brew will error, and if for some exceptional case, it would be necessary, to re-enable it with ``conf.tools.system.package_manager:sudo_break`` or something the like.

Brew/OSX users, please feedback.

[2022-09-05 23:15] a-kryuk opened #12036 "[question] export-pkg fails with "TypeError: expected str, bytes or os.PathLike object, not NoneType" when calling CMake(self) in package()"
I am trying to figure out how to use `CMakeDeps` for a package that uses package config files created by CMake, and to update some recipes for Conan 2.0. I am able to run the `install`, `source`, `build`, `package` commands on a simple example project (attached) and they seem to produce a reasonable package.
But when I run `export-pkg` I get an error:

The  relevant pieces of code look like this:

[2022-09-05 23:27] memsharded commented on #12036
Some quick feedback:
- ``self.cpp_info.names["CMakeDeps"] = "CMKI"`` is deprecated. You should use ``.set_property("cmake_target_name")`` only for CMakeDeps

Regarding your question, I couldn't reproduce with your code (thanks very much for putting together a reproducible example!). Running ``conan install .`` + ``conan build .`` + ``conan package .`` + ``conan export-pkg .`` works fine here, not

[2022-09-05 23:40] a-kryuk commented on #12036
When I was running the development commands, I was using `-if tmp/intsall -sf tmp/source -bf tmp/build -pf tmp/package`. I thought `export-pkg` would do all the steps independently by itself in the cache folders, so I just ran `conan export-pkg -f .`. If I run the development commands without specifying the folders, followed by `export-pkg`, I don't get the error.

As far as specifying target name

[2022-09-05 23:51] memsharded commented on #12036
That seems to be the reason. Those arguments are deprecated in favor of the ``layout()`` method, which is self-contained to the recipe, and allows putting it in ``editable`` mode way more easily. Only the new ``--output-folder`` works with ``layout()``

Just in case you are not aware, please recall that CMake-created files have some limitations:
- Due to CMake limitations, they do not work for mul

[2022-09-06 00:03] a-kryuk commented on #12036
Thanks, I'll try the layout thing.
As far as possible drawbacks of  CMake-created config files, it might be a concern, but they already work in the existing builds and a considerable amount of effort has gone into crafting them. Repeating all this work for packages that are not in Conan Center is going to be quite time consuming/expensive, with a comparable probability of making mistakes. And , th

[2022-09-06 01:03] memsharded commented on #12036
Sure, I am not saying not to use them, and actually in ``CMakeToolchain`` we added some provision to help locating them inside the packages. If they are working for your use case, great, I just wanted to highlight potential issues just in case, and also for other readers.

[2022-09-06 01:14] PMExtra commented on #12022
@memsharded So I requested only add an argument to enforce that instead of making it default.
(eg. `conan search -r gitlab --ensure-credentials 'private-package'`)

[2022-09-06 01:29] memsharded commented on #12022
(eg. conan search -r gitlab --ensure-credentials 'private-package')

Yes, but Conan 2.0 has already changed the default behavior of ``conan search`` to be multi-remote. It will return results from multiple remotes defined (it can specify a subset of remotes, even one, but the default is multi-remote). And that doesn't remove the issue when doing a ``conan install`` that operates normally on multi-

[2022-09-06 01:38] PMExtra commented on #12022
I see. I've missed this case. So can we add a property for remote to indicate the remote needs credentials or not?
(eg. `conan remote add gitlab https://gitlab.example.tld --with-credentials`)

Or change it by call `conan user`:
(eg. `conan user -r gitlab --always-check-credentials username`)
and use `conan user -r gitlab --clean` to reset it.

[2022-09-06 05:50] jellespijker commented on #12023
@memsharded it seems that I can't reproduce the issue locally with conan 1.52.0. Installing pyarcus https://github.com/ultimaker/pyarcus  from our remote: `cura-ce: https://ultimaker.jfrog.io/artifactory/api/conan/cura-community [Verify SSL: True]` shows the following.

What I find most strange of all is the following lines:
[code]
Since that recipe doesn't even use the `MSBuildDeps`. See https://

[2022-09-06 06:02] jellespijker commented on #12023
A potential reason for the describedd behavior above might be:
https://github.com/Ultimaker/pyArcus/blob/2375e49f66cc44c5c7175cee87ea3a3cbfc2a786/conanfile.py#L88

[code]

Which I added around the Conan ~1.40 release because of a bug in Conan or my own ignorance (could also be a combination of both ;-) )

Removed it from the recipe and pushed it to the repo, to check if this is causing that weird

[2022-09-06 06:08] jellespijker commented on #12023
~~Removing the block above seems to have no effect~~

[2022-09-06 07:15] #12003 closed, assigned to nobody

[2022-09-06 07:40] maitrey opened #12038 "[question] conan_package.tgz and providing permissions inside it in Artifactory"
Dear Conan Folks,
I have a use-case that based on the user I need to provide access to headers or binaries.
When I create a package, contents of the package are:
- include/myheader.h
- bin/mybinary.exe
All of this is the content of conan_package.tgz uploaded into artifactory.
I understood that Permissions inside the artifactory repositories can be managed at file level.
In that case, what is the w

[2022-09-06 07:55] jgsogo commented on #11370
(conan-center-index context)

There are at least to places where we want the list of package-ids.
 * One of them is to know which packages to build. We have computed the pkg-ids (we compute them or retrieve from a cache), and we want to check which ones are already available in the remote. Here `conan graph info` could be a replacement, although iterating all the profiles will take longer than one

[2022-09-06 08:15] memsharded commented on #12038
Hi @maitrey

I don't think it is possible to define permissions at a file level as you are suggesting, and I also strongly think it is not possible inside a ``tgz`` file. The Conan client will always be able to download the ``conan_package.tgz``, with whatever permissions are granted (which are permissions at the repo level, up to my knowledge), so it is impossible to restrict access to some parti

[2022-09-06 08:23] maitrey commented on #12038
Hello @memsharded , Thanks for replying so fast.
I would not like to split the contents of the package for the obivious reason that packages are split based on platform/variant.
Also the number of packages getting unmanageable.
Is it possible to copy the contents of the conan_package.tar.gz (in a final step) by extracting it and then manage access rights via groups?

[2022-09-06 08:31] Tumb1eweed opened #12040 "[question] What's the difference between using generators cmake and CMakeDeps, CMakeToolchain?"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-09-06 08:37] maitrey commented on #12040
Purpose of CMake generator is to prepare the build, generating the necessary files.
CMake Toolchain is the toolchain generator for cmake. It translates the current package configuration, settings and options into CMaketoolchain syntax.
CMakeDeps generates XXX-config .cmake or FindXXX.cmake files per dependency, together with other necessary cmake files like version flags and directory data or conf

[2022-09-06 08:49] lasote commented on #12040
*Note: `cmake` (lowecase) is a deprecated generator that is removed in Conan 2.X.
`CMake` is the "build-helper" to call the `cmake` tool taking advantage of the information generated in the `CMakeToolchain`.
You can follow the 2.0 tutorial here, maybe it helps to understand: https://docs.conan.io/en/2.0/tutorial.html

[2022-09-06 09:01] memsharded commented on #12038
This is not possible, either in the server or in the client. Server side, servers don't have such power or capabilities to process files in that way based on some custom logic. Client side is useless, once the conan_package.tgz can be downloaded, any kind of division of files inside based on permissions is flawed.

I still think it is something that sounds that require a bit more model, not an inf

[2022-09-06 09:15] maitrey commented on #12038
I could do that but it will lead to the issue that : I have model, documentation , include headers, binaries and because of all this , at the moment we have 3 different flavors of paltforms. If I include all of the above combinations it will lead to 3 * 4 =12 different packages. Doing this for 180-200 components meaning 200 * 12=2400 different packages making the packages unmanageable. Also might

[2022-09-06 09:22] alex-700 opened #12041 "[bug] MAP_IMPORTED_CONFIG_* does not work in CMakeDeps"
Hello, sorry for unformatted issue!

In #11788 @lasote changed the way how dependencies handled by introducing new targets ([here](https://github.com/conan-io/conan/blame/develop/conan/tools/cmake/cmakedeps/templates/target_configuration.py#L70) and [here](https://github.com/conan-io/conan/blame/develop/conan/tools/cmake/cmakedeps/templates/target_configuration.py#L150)). It seems that these targe

[2022-09-06 09:41] memsharded commented on #12038
ConanCenter manages +130 different binaries for each one of the 1400 recipes x several versions. Package binaries (variants, flavors) in Conan scale without issues, not adding practically any extra burden. You don't manage 2400 packages, you manage 180 packages/components (and they will take care of the binaries inside them). This is one of the core value propositions of Conan, that it seems you a

[2022-09-06 09:45] maitrey commented on #12038
In principle , 180 packages/components , however if something is NOT working as expected, one needs to debug. In that case, wouldnot it get cubersome to investigate the source of the problem? And if all for these packages are consumed by another package, it might hit into the windows path limitation.

[2022-09-06 10:32] franramirez688 commented on #11641
As it does not have a high priority and does not look critical, let's close the issue for now.

[2022-09-06 10:32] #11641 closed, assigned to nobody

[2022-09-06 10:36] memsharded commented on #11730
Lets try a POC how a profile looks like with Jinja variable substitution

[2022-09-06 10:55] memsharded commented on #11731
Lets get some feedback from the Tribe, to see if we are missing some use cases.

[2022-09-06 11:18] memsharded commented on #11857
Lets add a warning at export time, that warns when ``.-+`` is used in other fields rather than version field.

[2022-09-06 11:31] memsharded commented on #12038
No, it will not be more cumbersome than with the way you are proposing. Installing dependencies built for debug mode is typically ``conan install . -s build_type=Debug``, and you can re-build locally from sources the package ``mypkg`` that you want to step into like ``conan install -s build_type=Debug --build=mypkg``, and you will typically be able to step into the source code of that binary.

Usi

[2022-09-06 12:07] agagniere commented on #12004
## TL;DR:

If you think about it, Pylint should not be able to know that `test_requires` is a member of your class, because this member should only exist is `build_requirements` and not other methods.

## Long answer :
Just some ideas about this:

Pylint is a static code analysis tool, it does not execute the code to validate it, only reads it.
So it only knows about the members of an object set d

[2022-09-06 12:12] fschoenm commented on #11842
No specific reason. We mainly develop on Linux and support Windows with less effort going into it.

[2022-09-06 12:56] czoido commented on #12035
Hi @agagniere ,
Thanks a lot for the detailed explanations. I guess that it would make sense to just not activate sudo for MacOS as the default `conf.tools.system.package_manager:sudo` mode is `False`. If this is not blocking for you I think it would be better to leave it as it is now to be coherent with the rest of package managers and just using a profile that does not enable the sudo conf. WDYT

[2022-09-06 13:02] lasote commented on #12041
Hi, can you please confirm the Conan version you are using? I made a test and it is apparently working ok.

[2022-09-06 13:20] luistorrescisneros opened #12042 "[bug] Conan reports "Error copying sources to build folder" even though all files were succesfully copied!"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 2022
  * Compiler+version: MSBuild for .NET 17.3.0.37102
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)
1. Create conan recipe with export_sources, build, and package methods
2. Run conan create . --profile conanprofile (see profile below)

[setti

[2022-09-06 13:26] alex-700 commented on #12041
Currently, I checked on the latest version (1.52.0).

I'm pretty sure, that this behavior was introduced in #11788. Some time ago I checked on other versions: on 1.51.x it is failed, on 1.50.x it is working as expected.

The test should be something like `A -> B -> C` (A is not depends on C directly), `B` and `C` compiled with build_type=Release, `A` is consumer (specify `CMAKE_MAP_IMPORTED_CONFIG

[2022-09-06 13:33] hofbi commented on #12004
Thank you for the detailed explanation. I also did not expect this a bug of conan itself but more on the conan pylint plugin. Looking at https://github.com/conan-io/conan/blob/develop/conans/pylint_plugin.py#L30, I could imagine that this could be solved by adding tool_requires and test_requires to that dict.

[2022-09-06 13:34] codetent opened #12043 "[feature] select latest recipe revision matching client version"
If currently a recipe is updated on the remote index, the new revision will be automatically selected independent of the conan client version.
This is especially a problem if the newer recipe is no longer compatible with an older conan client.
In this case, it is displayed that the recipe requires a newer client version or in the worst case that some imports cannot be found (because the min. conan

[2022-09-06 13:36] jwillikers opened #12044 "[feature] Provide conan.tools.microsoft.msvs_toolset equivalent of conans.tools.msvs_toolset"
Would it be possible to provide the [msvs_toolset](https://docs.conan.io/en/latest/reference/tools.html#tools-msvs-toolset) function in the `conan` namespace and add support for the `msvc` compiler in it?
I had to workaround the use of the original `msvs_toolset` function in my recent update to the Boost recipe in conan-io/conan-center-index#12819.

- [X] I've read the [CONTRIBUTING guide](https:/

[2022-09-06 13:42] memsharded commented on #12004
What is clear is that there is no perfect solution to that linter. Conan recipes are a DSL on top on Python, so it doesn't necessarily follow all Python, and it cannot be linted following the same logic, and linting tools are not prepared for this use.

[2022-09-06 13:43] czoido commented on #12042
Hi @luistorrescisneros,
Maybe this could be related to the path of the files exceeding the path size limitation in Windows? You can check the section in the Conan docs about this topic: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#short-paths maybe that gives you some hints.
Hope this helps.

[2022-09-06 13:46] memsharded commented on #12043
Hi @codetent

Sorry, but this is not possible. The complexity that something like this implies is just huge, it cannot be done.

There are other different ways to approach this (by the way, this is not a problem unique to Conan, but also happens to other package managers):
- Use your own server in production where you store a copy of the  packages you use. For Conan you can use the ArtifactoryCE f

[2022-09-06 13:54] luistorrescisneros commented on #12042
Hi @czoido ,

yup you are right. A couple of minutes ago I set

`
conan config set general.use_always_short_paths=1
`

and it worked.

Thanks for your input

Luis

[2022-09-06 14:00] czoido commented on #12042
I'm glad it helped @luistorrescisneros,
Besides setting the short_paths to 1 in Conan you could also try to enable the long paths at system level: https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=registry#enable-long-paths-in-windows-10-version-1607-and-later
I'm closing this as it seems solved but please feel free to reopen or open more issues if you have mo

[2022-09-06 14:00] #12042 closed, assigned to nobody

[2022-09-06 14:08] lasote commented on #12041
Thanks, I've been able to reproduce the issue. I will come back with a fix.

[2022-09-06 14:15] lasote commented on #12041
Have you tried to mark as `IMPORTED` the mentioned targets? Does it work for you? My test is still failing.

[2022-09-06 14:19] agagniere commented on #12035
Well technically that would work, which is why I listed it in the possible workarounds.

But that would essentially be putting the responsibility to know the package managers specifics on the end user, which defeats the purpose of Conan and its `tools.system.package_manager`, doen't it ?

Also do you want your tool to have an option, that, when turned on and used, guarantees a failure 100% of the

[2022-09-06 14:19] codetent commented on #12043
Hi @memsharded

Thanks for your fast answer! 😃

- Currently, I'm already having an artifactory instance from which the packages are pulled but it acts just as a mirror for the conan index. Never thought of that but it could work that you have an isolated registry where you pull in the changes manually from the conan index. Unfortunately this also requires some manual management and could be risky

[2022-09-06 14:26] agagniere commented on #12004
Good point, I didn't know about this, and indeed it would seem that this plugin allows one to expose run-time logic to Pylint.
Interesting.

[2022-09-06 14:27] luistorrescisneros commented on #12042
That sounds great! I will try it also. 👍

Thanks for your time

[2022-09-06 14:32] AshleighAdams opened #12045 "[bug] scm field replacement indentation mismatch"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: N/A
  * Conan version: 1.48.1
  * Python version: (inbuilt)

### Steps to reproduce (Include if Applicable)

Create a super conanfile froma python requires:

[code]

Use that python requires from a separate repo/conanfile:

[code]

Derive from that base conanfile, have the py

[2022-09-06 14:36] czoido commented on #12035
Hi @agagniere,
Thanks for your response.
The main motivation is that, if tomorrow, for whatever reason a new brew version accepts using sudo again (even if that's unlikely) then all the Conan versions that removed the sudo would not be able to use that argument. I'm not completely against ignoring sudo with brew but thats the point that makes me doubt a bit.

[2022-09-06 14:52] alex-700 commented on #12041
Yes, I patched conan==1.52.0 locally by adding `IMPORTED` in these two places. And it worked in my case.

[2022-09-06 15:42] memsharded commented on #12045
Hi @AshleighAdams

It seems you are using a deprecated legacy feature.
The first inmediate/easy workaround is to define: ``conan config set general.scm_to_conandata=1`` (better, put it into your conan.conf). That makes Conan to put the scm information in conandata.yml instead of modifying the source code of conanfile.py on the fly. This has been the recommended approach for a long time.

But if yo

[2022-09-06 15:44] memsharded commented on #12035
Hi @agagniere

I would like to highlight that the recommended way to use configuration in production is not using command line, or auto detected profile, but using actual profile files distributed with ``conan config install``.

A few notes:
- Conan 2.0 has dropped the auto-detection of profile. It will keep a ``conan profile detect`` explicit command to create a new one, but all commands will fai

[2022-09-06 15:49] memsharded commented on #12043
yes, there is always a tradeoff between effort, speed, and risk of breaking.
If this is to be done without risk of breaking it is done in 2 steps:
- First pull the latest packages to another, testing Artifactory repo.
- Test your code works against that repo. If something is broken, either reject the upgrade or work to update the code that uses the new updated dependencies, or just update the Cona

[2022-09-06 16:03] jellespijker commented on #12023
It looks like purging the above statements from all our recipes seemed to have the desired effect.  The final installer ran on Windows with 1.52.0 https://github.com/Ultimaker/Cura/runs/8210678641?check_suite_focus=true

Although that particular GH runner didn't build the pyarcus package it still means that it succeeded there as well: https://github.com/Ultimaker/pyArcus/runs/8206506587?check_suit

[2022-09-06 18:02] jellespijker commented on #11975
@memsharded how hard would it to fix or workaround this issue since this is currently blocking me for updating some conan recipes according to CCI standard. If you estimate that it isn't that difficult and relatively contained in the codebase, I might give a crack at this during my weekend.

Since I have reached a point in the current sprint in which I need to focus on fixing these recipes "good e

[2022-09-06 19:34] codetent commented on #12043
Ok thank you for your suggestions!
I guess for now I'm probably going with the second approach as it is for now the simplest approach
... and I'm looking forward to see the first stable release of conan 2.0 with all the changes :-)

[2022-09-06 21:01] agagniere commented on #12035
Hi @czoido,
I understand your point now, that despite the likelihood of Brew allowing and then enforcing sudo being infinitesimally low, it is still a possibility, and your top priority is retro-compatibility.

I'm guessing that for now I will put the logic of deleting the sudo setting if needed in the conanfile that calls brew.

Hi @memsharded,
Thank you for the heads up.
Indeed, I will have to r

[2022-09-06 21:01] #12035 closed, assigned to franramirez688, czoido

[2022-09-06 22:49] memsharded commented on #12044
Yes, I think it should be possible, should be relatively easy, want to contribute it?

[2022-09-06 23:08] AshleighAdams commented on #12045
@memsharded Ah I see, thanks for the heads up! Would you recommend we change that definition across our team? We have a large history of recipes, so if this will play nice with those we'll do that for a short term fix, and lookat modernizing further down the line.

[2022-09-06 23:24] memsharded commented on #12045
This should be contained in the recipes, so in theory it shouldn't break to enable that configuration and let future builds to take it into account. But it is also true if you can workaround the bug, by fixing the spaces/tabs thing, then maybe that would be even easier, and wait until the new ``tools.scm import Git`` solution

[2022-09-06 23:40] SpaceIm commented on #12040
1. **`cmake` vs `CMakeToolchain` generators**

   `CMakeToolchain` generator is the successor of the legacy `cmake` (or it's weak equivalent `cmake_paths`) generator.
   It's important to understand their goals:
   - being the glue between dependencies installed by conan and CMake, so that:
     - all `find_*` commands (`find_package()`, `find_program()` etc) in a CMakeLists related to dependencie

[2022-09-07 06:55] Tumb1eweed opened #12047 "[question] How can I activate PATH in CMakeToolchain and CMakeDeps"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

the situation like this:
I have a package(cuda), set compiler's path(nvcc) by self.env_info.PATH.append(os.path.join(self.package_folder, "bin"));
and the second package(libtorch), need this compiler, and I use conan-cmake (generators is cmake), it can perfectly detect this compiler's

[2022-09-07 07:03] lasote opened #12048 "[feature] self.cpp_info.exes"
If a package is packaging executables (a `tool_require`or even python entry points as proposed [here](https://github.com/conan-io/conan/pull/11601/files)) would be nice to model it in the `cpp_info` so the generators can use that information to do something, for example, `CMakeDeps` could create targets for calling the executables but there might be more use cases.

[2022-09-07 07:06] lasote commented on #12041
Still not able to make the test pass.
My test is [here](https://github.com/conan-io/conan/compare/develop...lasote:feature/test_cmakedeps_config_mapping?expand=1). It is testing: app -> talk -> hello
I'm creating hello and talk for Release and building the app for Debug.
Would you mind taking a look in case you see that I'm doing something wrong (for example in the cmake mapping).
Thanks.

[2022-09-07 07:42] lasote commented on #12041
Ok, I got something working doing `set(CMAKE_MAP_IMPORTED_CONFIG_DEBUG Release)` and adjusting the `IMPORTED_LOCATION` to `IMPORTED_LOCATION_XXX` (in the `macros.py` of the CMakeDeps). I'm seeing if I broke any other tests and will discuss this with the team.

[2022-09-07 08:14] memsharded commented on #12048
We had issue https://github.com/conan-io/conan/issues/7240, seems duplicated?

[2022-09-07 08:16] memsharded commented on #12047
The new integrations like CMakeToolchain and CMakeDeps are designed to work with the new environment:

- Define ``self.buildenv_info.append_path(...)`` to define it
- Use ``VirtualBuildEnv`` generator in your consumer recipe

Check: https://docs.conan.io/en/latest/reference/conanfile/tools/env.html

[2022-09-07 08:24] risa2000 commented on #12013
Just to chime in with a question: What is anyway the official "strategy" about supporting `clang-cl`. So far I have been simply using `Visual Studio` or `msvc` for `compiler` setting and then setting the `CC` and `CXX` environment variables to the proper path to `clang-cl.exe` since I am using `CMakeToolchain` generator with `Ninja` in `CMake`.

I would probably be also happy if the generated `con

[2022-09-07 08:51] AshleighAdams commented on #12045
@memsharded I think in that case we'd be happy to switch to using `scm_to_conandata`, I'll leave this bug open in case you wish to address/track the mismatch issue, otherwise feel free to close it!

[2022-09-07 09:09] memsharded commented on #12045
Yes, at this stage, with alternative better solutions, this will not be fixed, and fortunately and as recommended in the docs, it seems that most users have started to use the ``scm_to_conandata``. Closing it, thanks for the feedback!

[2022-09-07 09:09] #12045 closed, assigned to memsharded

[2022-09-07 09:09] maitrey commented on #12038
Thanks for the explanation. I will create the variants and also try the steps with build_type=Debug and check.

[2022-09-07 09:18] maitrey opened #12051 "[question] conan config install throws an error : ERROR: Failed conan config install: remotes.json install is not supported yet. Use 'remotes.txt'"
Dear Conan Folks,
I am using conan 1.51.1.
My use-case is:
- I am setting CONAN_USER_HOME in  pipeline.
- Using conan config install I am specifying a git repository which contains profiles and settings.yml
 Strangely it throws an error:
- ERROR: Failed conan config install: remotes.json install is not supported yet. Use 'remotes.txt'
I donot have remotes.json and remotes.txt. I have only remotes.

[2022-09-07 09:23] czoido commented on #12051
Hi @maitrey,

Thanks for your question. `remotes.json` should work [since Conan 1.52](https://docs.conan.io/en/latest/changelog.html#aug-2022).
Could you try to update and see if that works?

[2022-09-07 09:24] #12047 closed, assigned to memsharded

[2022-09-07 09:28] ineb opened #12052 "[question] Migrating msvc/ninja profile PATH environment configuration to CMakeToolchain"
Hello,
i am trying to compile ``zlib/1.2.12`` under Windows which is my first package that uses the new CMakeToolchain mechanism.
My current profile looks like
[code]
I use environment variables to configure the Generator via ``CONAN_CMAKE_GENERATOR`` and imbue PATH, INCLUDE and LIB so my compiler can be discovered. My profiles is a ``.jinja`` template, therefore ``{{ os.getenv("MSVC1416_CL_PATH")

[2022-09-07 09:30] maitrey commented on #12051
Hi @czoido ,
The remotes.json was always used atleast since June this year for me. What was changed in between I was wondering.
I read the changelog of 1.52 and it says to support remotes.json in 1.x:
https://github.com/conan-io/conan/pull/11936/files/77f4615c27ef872c6a9f2acba0db2ce500584ed9#diff-ec0b7bc999395ce1a47093a8f5f143e0e3dfe54fe984b9f49c2ead6dcceb3ebeL113
Could you please explain as I am

[2022-09-07 09:38] czoido commented on #12051
Hi @maitrey,
But did you always have just the `remotes.json` file in your git repository or you have recently added it there? The `remotes.json` was supported internally in Conan but the installation via `conan config install` was not supported until 1.52 and if should have failed. So you could manually copy it and use it but the `conan config install` failed with that file. Does it make sense?

[2022-09-07 09:53] maitrey commented on #12051
As far as I remember , I used conan config install for the initial set up in our CI test nodes. I hope I remember right. Anyhow, it works for me now.

[2022-09-07 09:54] czoido commented on #12051
Ok, I'm glad it works now.
I'll close this as it seems solved. Thanks a lot!

[2022-09-07 09:54] #12051 closed, assigned to nobody

[2022-09-07 10:26] #12048 closed, assigned to nobody

[2022-09-07 10:31] memsharded commented on #12027
Hi @jsallay

I am trying to reproduce this, but it seems that
[code]
is working. Are you sure you don't mean the ``generate()`` method instead?

[2022-09-07 12:09] rainman110 commented on #11540
@memsharded Is there any chance to get the `IMPORTED_LOCATION` property also from the conan 1.5 series by the CMakeDeps  generator?

I'd like to install some the the dependency dlls, but I cannot get the location of the library, since it is defined as an `INTERFACE` target.

[2022-09-07 12:21] codetent commented on #12043
Just a follow up question for specifying the recipe revision in the recipe: does this also work for build requirements (with `override`)?

[2022-09-07 12:33] hofbi commented on #12004
@agagniere There is a specific section about this in the docs: https://docs.conan.io/en/latest/integrations/linting/recipe.html

[2022-09-07 12:44] jsallay commented on #12027
I'm seeing it in the validate method.  I started up a fresh docker container and installed the develop2 branch to be safe and I'm still seeing it.  Here are the exact instructions I ran:
[code]
~/t1/conanfile.py
[code]
~/t2/conanfile.py
[code]
~/t3/conanfile.py
[code]

[code]

[2022-09-07 13:23] beenjohn opened #12056 "[bug] 2.X Dnf Package Manager Noarch"
The Dnf/Yum package manager fails to install .noarch packages due to forced insertion of the architecture. It's possible to work around this by providing an arch_types map of {"...": "noarch"}, but this is cumbersome when installing multiple packages of noarch/arch-specific.

It would be nice to have a noarch flag of some sort to override the default behavior.

[2022-09-07 13:25] cristyrye opened #12057 "[question] Is it possible to configure export-pkg command to do nothing if the package already exists in the conan cache?"
Is it possible to configure export-pkg command to do nothing if the package already exists in the conan cache?

I use conan as a package manager.
I encounter an issue when I run the following commands.
1. conan install comp_x/1.0.0@demo/testing (work fine, brings existing package from Artifactory)

2. conan export-pkg comp_x/1.0.0@demo/testing gives folloving message
Exporting package recipe
comp_

[2022-09-07 14:19] zlacelle opened #12058 "[Feature] Adding option for system_requirements to "conan info" graphs"
It would be very helpful to also be able to see the dependency tree for Conan project system-level dependencies, either through SystemPackageTool or the new Conan 2.0 package_manager package.

[2022-09-07 14:26] memsharded commented on #12057
Hi @cristyrye

Quick question: do you have revisions activated all the time, from the first command?

[2022-09-07 14:31] memsharded commented on #12056
You mean ``Yum(arch_names={your own dict})`` argument in the constructor, don't you?

Can you clarify, you want the ``noarch`` packages even if the ones for the current architecture exist? Also assuming the current architecture is defined.

Can you also elaborate a bit more about `` but this is cumbersome when installing multiple packages of noarch/arch-specific.``? Will be there a mix of packages

[2022-09-07 14:33] memsharded commented on #11996
Fixed by https://github.com/conan-io/conan/pull/12054, will be in beta.3

[2022-09-07 14:33] #11996 closed, assigned to memsharded

[2022-09-07 14:39] memsharded commented on #12058
Even if I understand this request, I think this is very complicated at the moment, for a reason: these dependencies are not modeled at all by Conan. Conan doesn't know, it only executes some ``system_requirements()`` method (which will not be executed at ``info`` time, because ``info`` doesn't install things), and inside there there could be conditionals and other stuff, including calling helpers

[2022-09-07 14:48] whitefluffypenguin opened #12059 "[question] Can conan package be used for deployment (time) of 'conaned' components?"
Hi there,
We have different runtime components (with version) packed in isolated conan packages. Is it possible to use conan of conans package to aggregate certain versions of these components together in conan of component conans (for example: stating in conan file runtime dependent conans, i.e. what version of component conan to package and where to take it from) to deploy it later in deployment

[2022-09-07 14:56] memsharded commented on #11857
Closed by https://github.com/conan-io/conan/pull/12053, will be in beta.3

[2022-09-07 14:56] #11857 closed, assigned to memsharded

[2022-09-07 15:27] memsharded commented on #12059
Hi @whitefluffypenguin

It seems you might be interested in ``imports`` and ``deploy`` feature in 1.X. With them you can:
- Write a recipe with ``imports()`` or ``deploy()`` methods, with ``requires`` to the deps you want
- Code the ``imports`` or ``deploy()`` method to ``copy()`` the files, e.g. *.dll that you want

Under Conan 2.0, this would be instead (both methods above removed):
- Use ``--de

[2022-09-07 15:45] whitefluffypenguin commented on #12059
Hi Memsharded,
Thanks for answering so promptly!
Small clarification - with both versions the recipe file of conan of conans is able to include the list of dependent packages, their versions and directives where to get them from?

[2022-09-07 16:17] beenjohn commented on #12056
Yes that's correct for the override. The issue I'm facing is with the help2man package that doesn't have an architecture specific version.

Cumbersome is an exaggeration on my part, but basically it requires:
`noarch_arches = {'arch1': 'noarch', 'arch2': 'noarch'}`
`Yum(self, arch_names=noarch_arches).install(noarch_package_list)`
`Yum(self).install(arch_package_list)`

vs something like:
`yum=Yum

[2022-09-07 16:31] beenjohn commented on #12056
Alternatively in the recipe:
`from collections import defaultdict`
`Yum(self, arch_names=defaultdict(lambda: "noarch", {})).install(...)`

I'm ok with whatever you all feel is the right path for conan. Feel free to close as desired.

[2022-09-07 18:04] memsharded commented on #12059
Yes, in both cases, one single ``conanfile.py`` with some declared ``requires`` will fetch, download and unzip them in the Conan cache for a ``conan install`` operation, including their transitive dependencies.

All the deployment operations in both versions start after that, once the full dependencies have been downloaded to the Conan cache. The deployment/import operations are copies from Conan

[2022-09-07 18:23] cristyrye commented on #12057
Hi @memsharded

I do not have revision activated. At least I do not think so.
I looked in the conan.conf file for revisions_enabled variable but I did not find it. Also I do not have CONAN_REVISIONS_ENABLED set as environment variable.
My current conan version is 1.52.0

[2022-09-07 18:25] whitefluffypenguin commented on #12059
Great answer. Thanks for supporting!

[2022-09-07 18:27] memsharded commented on #12057
I think it is important to enable them. Using revisions is core in Conan 2.0, and they have been around for a long time already in 1.X, it is recommended to use them.

With revisions, the behavior can be different. If the exported package has a different revision, then it will be a new thing, not the same being overwritten. Can you please try enabling them?

[2022-09-07 19:13] cristyrye commented on #12057
I just tried revisions and indeed the error that I get at step3 is no longer happening but...
Running step2 with revisions has overwritten in the conan cache the original package that was installed at step 1 and I do not want that to happen.
At the moment I would need to use the original package (installed at step 1) and to export a new package only if it does not already exist.

[2022-09-07 20:33] whitefluffypenguin commented on #12059
If someone has additional deployment properties to set (like various versions or strings) - is it possible to use recipe file syntax for setting and parser for reading them?

[2022-09-07 21:28] memsharded commented on #12059
I guess you can put them in ``conandata.yml``, and then deployers can access it via ``self.dependencies["mydep"].conan_data``

[2022-09-08 06:02] ilovelib commented on #12023
Have you resolved this problem? I ran into same issue when I ran [https://github.com/Ultimaker/Cura/wiki/Running-Cura-from-Source#3-initialize-the-virtual-python-development-environment](url) .

[2022-09-08 06:52] jellespijker commented on #12023
@ilovelib it seems to be resolved. I updated the recipes yesterday. Please try again. Make sure you add the `--update` flag with the install command.

If it still fails can you then open up an issue on the Cura repository and mention this issue. Copy the complete output from you bash then and post it in that issue in the Cura repo.  I can then investigate and if it is indeed an issue in Conan reop

[2022-09-08 06:52] #12023 closed, assigned to memsharded

[2022-09-08 06:54] maitrey opened #12061 "[question] Artifactory Plugin in jenkins doesnot validate the conan client automatically"
Dear Conan Folks,

I am using CONAN_USER_HOME to set the conan cache for each job.
Also using the jenkins artifactory plugin , however upload step seems to fail:
[code]

Only if i Manually login and validate the conan client it works.
Artifactory plugin used is : 3.16.3
Could someone please help?

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTR

[2022-09-08 07:53] risa2000 commented on #12040
@Tumb1eweed
There are like 5 CMake supporting generators documented here:
https://docs.conan.io/en/latest/integrations/build_system/cmake.html
which basically **you do not want to use** as they  are the "legacy" generators.

The generators you want to use are `CMakeToolchain` and `CMakeDeps`, which are documented here:
https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html

It is con

[2022-09-08 08:09] lasote commented on #11998
After fighting with CMake I think this is the expected behavior, I'll try to explain it.
C/C++ `#defines` are just literal "strings" for substitutions, if you try to print the `PKG_VERSION` that way, the preprocessor will replace it with just `1.1.2.3` and that is of course nothing valid in `C++` syntax.
So if you manage to quote the values when they are strings in python, the literal string will

[2022-09-08 08:45] lasote commented on #12061
Hi, check here the latest docs for the plugin [here](https://www.jfrog.com/confluence/display/JFROG/Scripted+Pipeline+Syntax), search for "Conan Builds with Artifactory".
I think I miss the `String remoteName = conanClient.remote.add server: server, repo: "conan-local"` part in your example, I would say that managed the credentials in the client.

[2022-09-08 08:50] maitrey commented on #12061
Hello @lasote ,
Thanks for replying.
 So I donot need this step as I put the:
- remote server details in the remotes.json
- Put the profiles and configuration in a git repository and usingit via:  conan config install
So the remote server already exists in remotes.json. I am able to run all of the above commands like conan inspect , only upload needs authentication of conan client.

[2022-09-08 08:54] lasote commented on #12061
Yes, the authentication is the missing part if you don't use that.
You can also set the user and password using these env vars: https://docs.conan.io/en/latest/reference/env_vars.html#conan-login-username-conan-login-username-remote-name and
https://docs.conan.io/en/latest/reference/env_vars.html#conan-password-conan-password-remote-name

[2022-09-08 09:19] risa2000 opened #12062 "[bug] conan install --update with range version dependency"
### Environment Details
  * Operating System: Windows 10 Professional
  * Compiler+version: MSVC (v192, Visual Studio 2019)
  * Conan version: 1.51.3
  * Python version:  3.10.5

According to the doc (https://docs.conan.io/en/latest/reference/commands/consumer/install.html) for `conan install --update` it should

                        and/or revision of the dependencies exists there, it

[2022-09-08 09:30] memsharded commented on #12062
Hi @risa2000

It seems that you are using a non semver compatible version with 4 digits. The library that we are using ``node-semver`` to resolve dependencies will not consider this, so please try it with 3 digits only.

Conan 2.0 has improved over this, and allows running with 4 and more digits version ranges.

[2022-09-08 09:59] janosvitok opened #12063 "[feature] Support for Xcode 14.0 (currently RC)"
It's that time of year again... Xcode 14 is approaching (currently RC)

Related PRs:
https://github.com/conan-io/conan/pull/10797
https://github.com/conan-io/conan/pull/9642

Related issues:
https://github.com/conan-io/conan/issues/10509
https://github.com/conan-io/conan/issues/9641

XCode 14.0 RC reports compiler version as "14.0".

I'll create a PR in a few minutes.

In conan 1.47 the condition

[2022-09-08 10:01] risa2000 commented on #12062
@memsharded
Alright, though this is a bit unfortunate as our versioning scheme uses 4 digit versions (major, minor, patch, build number). The idea was to be able to get the newest build by default.

[2022-09-08 10:28] memsharded commented on #12062
Yes, this is the reason we put some good effort in implementing ourselves for 2.0 versions and version range resolution to be able to extend to non-compatible semver versions with more than 3 digits, and drop the ``node-semver`` dependency. Unfortunately that couldn't be done for 1.X without a very high risk of breaking, and since the usage of node-semver has been documented in https://docs.conan.

[2022-09-08 11:38] maitrey commented on #12061
Hello @lasote ,

My issue was solved by adding:
String remoteName = conanClient.remote.add server: server, repo: "conan-local" **, force: true**.
I am closing the issue for now. Thanks!

[2022-09-08 13:15] zlacelle commented on #12058
Ah, OK, this makes sense. Basically, you pass the system_requirements() calls through SystemPackageTool directly to Python, so you're not actually aware of what these are. Ideally, I would love for them simply to live in the dependency tree by string; they do get resolved if you have multiple options listed, so I'd like to track these. But, understand that this is a hard feature how it's structure

[2022-09-08 13:15] #12058 closed, assigned to lasote, memsharded

[2022-09-08 13:24] zlacelle opened #12065 "[bug] Reported versioning docs don't match behavior"
Conan uses Python's node-semver to handle version ranges. In the [Conan docs for 1.52 (latest)](https://docs.conan.io/en/1.52/versioning/version_ranges.html#version-ranges), the following comment is made:
[code]
According to [SEMVER 2.0](https://semver.org/), Major version changes are breaking, but Minor changes are compatible.

So, `[~3.0]` should match everything in the 3.x.x range (and `[~3.1.0

[2022-09-08 13:34] lasote commented on #11730
Simple example doing a bit of inheriting and variables declaring (already working):

**profile_vars** at `~/.conan2/profiles/profile_vars`:
[code]

**foo** at `~/.conan2/profiles/foo`:
[code]

Running an install with the profile (conan-including the default profile):
[code]

So I would say, the current `include` mechanism by Conan is ok, but if you need to reuse variables from other profile (inclu

[2022-09-08 13:38] maitrey commented on #12061
I have one side effect though:
- 1st run on the feature branch works well , 2nd run notices that the packages are in the local cache but the metadata.json refers to a hash id from previous run. Only if I delete the data folder contents does it work. Otherwise it throws errors like:
- ERROR: No remote '67ba1e6a-7cc9-4ffe-8e6e-86255b50f3c2' defined in remotes
'67ba1e6a-7cc9-4ffe-8e6e-86255b50f3c2' c

[2022-09-08 13:51] whitefluffypenguin commented on #12059
Got it - thank you!

[2022-09-08 15:13] lasote commented on #11978
I see a challenge in both alternatives, we would need to implement it for each generator we need to support, it doesn't look like something that we can make work for all of them. Are you suggesting only for `CMakeDeps`?

Edit: I got a bit lost on the purpose of this issue. If this is about running post-deployers, that's simple and doable but the challenges would be moved to the custom implementati

[2022-09-08 15:36] lasote commented on #12061
Yes I think it is recommended to run always (if possible) in a clean environment so:

Should do the work

[2022-09-08 20:16] paulocoutinhox opened #12066 "[feature] Clang 16 has C++ std 17"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,

Clang 16 has C++ std 17:
https://www.phoronix.com/news/LLVM-Clang-16-Default-GNU17

Diff:
https://reviews.llvm.org/rGe321c8dd2cea8365045ed44ae1c3c00c6a977d2e

Im posting because someone ask sometime ago, so i don't know if need change something for conan. I can make a PR if need.

[2022-09-09 06:42] lasote commented on #11930
Some questions to discuss:
So if a package has a regular "require" (with build=False) to another with `i_am_build_context =True` Conan should fail? or this would affect only when the consumer is "virtual"? In this latest case, could be more like a `default_build_context=True`?

What about fixing these local commands (`conan install`..etc) to add the ``--build-require``? it makes indeed more verbos

[2022-09-09 06:51] czoido commented on #12066
Hi @paulocoutinhox,

Thank you so much for reporting. We'll change that in the default cppstd for Clang 16.

[2022-09-09 06:53] Tumb1eweed commented on #12040
thanks!

[2022-09-09 07:50] chulup commented on #11994
Thank you.
It seems I have to provide build_type in both profile:host and profile:build by your links.

[2022-09-09 07:50] #11994 closed, assigned to memsharded

[2022-09-09 10:05] memsharded commented on #11730
Yes, I think I would drop support for our own variable replacement and use jinja syntax only for this. Leave the ``include()``

[2022-09-09 10:30] czoido commented on #11998
Closing as this is solved and opening an issue in the docs in case we can clarify how the preprocessor_definitions in the recipes translate to the generators.

[2022-09-09 10:30] #11998 closed, assigned to lasote

[2022-09-09 10:32] nenomius commented on #12009
@memsharded, what do you mean use right one by default? How would it guess what i have in conan profile? Am I understanding conan profile purpose wrong?

[2022-09-09 10:51] memsharded opened #12068 "[develop2][feature] Do not allow component names with special characters"
Because they will be translated to file names, variable names, etc in build system scripts created by generators, and many of those will fail, or will need to do unexpected replacements to avoid failing.

[2022-09-09 10:56] memsharded commented on #12068
I am checking in conan-center there are tons of components with ``-``, ``+``, and a mixture of lowercase and uppercase. Probably too much to require at this stage, and we just need to make sure robust replacements in generators.

[2022-09-09 10:58] #12066 closed, assigned to nobody

[2022-09-09 11:10] SSE4 commented on #11730
can we consider keeping the old support? there are a lot of existing profiles that use it, it would be a significant effort to re-write them, plus all the tutorials, examples, etc.

[2022-09-09 11:13] lasote commented on #11730
We want only one way to do things and jinja does it perfectly. It doesn't make any sense to keep the support for a custom one. That is one big purpose of Conan 2, simplify and grow solid and better.

[2022-09-09 11:27] memsharded commented on #11930
I did a try in https://github.com/conan-io/conan/pull/12046/commits/baa6b8fd71bb429ca978dfb26a8aed12b705eb13, it seemed to work, but we decided to simplify first while rolling the changes in ``test_package``

[2022-09-09 11:38] czoido opened #12069 "Revisit behaviour of revision_mode=scm when export or exports_sources are modified"
Discuss what is the desired behaviour in the case of [this test](https://github.com/conan-io/conan/blob/527d2f4edf552b6ca0cc15661294da85a15e2443/conans/test/functional/revisions_test.py#L809-L818)  for Conan 2.0:
- Create a package with scm revision mode. The recipe revision is the hash of the last commit
- Modify the recipe
- Create again, the revision stays the same but the test checks that the

[2022-09-09 14:08] maitrey commented on #12061
Hi @Lasote, Still I have one more case where it fails:
When I run a job on the first commit in the branch from Jenkins:
**meas/5.0.0@adas/devel: Not found in local cache, looking in remotes...
meas/5.0.0@adas/devel: Trying with 'test-remote'...
DEBUG :rest_client_common.py[160]: REST: ping: https://artifactory.com/artifactory/api/conan/adas-poc/v1/ping
DEBUG :rest_client.py [58]: REST: Cached capa

[2022-09-09 14:48] paulocoutinhox opened #12071 "[question] Correct way to use XCrun in Conan v2"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,

What is the correct way to use XCRun in conan v1/v2 compatible?

I made this:
https://github.com/nativium/nativium/pull/21/files#diff-46d8e7b650df6bb59541dab2a0fc2c56436aeb97a5c4079e18a6831515164bddR3-R7

But it is ugly:
`from conan.tools.apple.apple import XCRun`

Thanks.

[2022-09-09 15:06] lasote opened #12072 "[feature] current "check_min_cppstd" is not enough"
When using the tool `check_min_cppstd` could have 3 different meanings and the current implementation is not enough.
These are the use cases, let`s use cppstd=17 for the examples and a proposal:

1. This package cannot be built with a cppstd < 17. Meaning the flags for the compiler (and the current user compiler) should support and set cppstd=17. This use case is very common.

 Proposal: In a `val

[2022-09-09 18:12] SpaceIm opened #12073 "[bug] Append `self.source_folder` into `Environment()`: TypeError: sequence item 0: expected str instance, NoneType found"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

run conan create on a recipe with this logic in `generate()`

[code]

Actually I've tested this block in a test_package (for conan v2 migration of `pkgconf`

[2022-09-09 19:19] SpaceIm opened #12074 "[bug] `conan config list` result is incomplete"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Montery
  * Compiler+version: AppleClang 13
  * Conan version: 1.52.0
  * Python version: 3.10.5

### Steps to reproduce (Include if Applicable)

run `conan config list`

Several configurations for which conan has a built-in logic are not listed:
`tools.apple:sdk_path`
`tools.build.cross_building:can_r

[2022-09-09 21:00] memsharded commented on #12074
This is fixed already in beta, we included a feature that validates that every built-in conf is listed there, and user input is validated against them, so any typo in user inputs will raise an error because of unknown conf. As this is a minor UX thing, I suggest considering this closed in beta

[2022-09-10 06:42] jellespijker commented on #12006
The `autotools.install()` method is also not aware of the subsystem. When using the `msys2` recipe as a `tool_requires` you need to add the following line to the recipe.

[code]
where `unix_path` is imported from `conan.tools.microsoft`

[2022-09-10 09:54] sabudilovskiy opened #12076 "[bug] Cannot install boost in Windows 10. ImportError: cannot import name 'is_apple_os' from 'conan.tools.apple'"
### Environment Details (include every applicable attribute)
  * Windows 10+21H2:
  * MSVC+16.0:
  * Conan: 1.51.3
  * Python version: 3.10.7

### Steps to reproduce (Include if Applicable)

Try to install boost

### Logs (Executed commands with output) (Include/Attach if Applicable)

ERROR: boost/1.71.0: Cannot load recipe.
Error loading conanfile at 'C:\Users\MRV\.conan\data\boost\1.71.0\_\_\exp

[2022-09-10 09:58] memsharded commented on #12076
Just tried here, in Windows:

[code]
Works fine.

Your conan installation might not have upgraded correctly or something like that, please try re-installing it, and make sure it is 1.52.

[2022-09-10 10:06] sabudilovskiy commented on #12076
Thank you for you answer. I met with a strange problem. I removed the conan package via pip and installed via pip install conan==1.52.0, after that I deduced the package version and I get 1.51.0 and the problem remained.

[2022-09-10 10:07] sabudilovskiy commented on #12076
@memsharded, Thank you for you answer. I met with a strange problem. I removed the conan package via pip and installed via pip install conan==1.52.0, after that I deduced the package version and I get 1.51.0 and the problem remained. Also python texted me " Successfully installed conan-1.52.0"

[2022-09-10 10:35] memsharded commented on #12076
It might be possible that you have another Conan installation elsewhere in the system? are you using virtualenvs? Maybe ``which/where conan`` can help?

[2022-09-11 11:48] hwhsu1231 opened #12077 "[feature] Add `IMPORTED_LOCATION_<CONFIG>` properties for Imported Targets created by `CMakeDeps`."
## Feature Requests

Recently, I found that it **FAILED** to use **Imported Target** `Qt6::windeployqt` to deploy Qt applications when using **Multi-Config generators** (ex: `Ninja Multi-Config`) with [cmake-conan](https://github.com/conan-io/cmake-conan). After some research, I think the reason is because it **ONLY** provides [`IMPORTED_LOCATION`](https://cmake.org/cmake/help/latest/prop_tgt/IMPO

[2022-09-11 11:52] hwhsu1231 commented on #12077
## Details of Research

### 0. Prepare the project

Steps:

- Download the following example code, and then unzip it.
- Open the folder in **VSCode**.
- Install **CMake-Tools** extension.

Example Project:

[test-multiconfig-windeployqt.zip](https://github.com/conan-io/conan/files/9542415/test-multiconfig-windeployqt.zip)

### 1. Configure the project

Steps:

- Type **"CMake: Select Configure Pre

[2022-09-11 12:49] liorko87 opened #12078 "[bug] Cannot upload package to local nexus server"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04.1
  * Compiler+version: gcc 11.2.0
  * Conan version: 1.52
  * Python version: 3.10.4

### Steps to reproduce (Include if Applicable)
I created a `conanfile.py` at my computer. I followed the tutorial https://docs.conan.io/en/1.52/index.html. When I'm trying to upload the package I'm receiving t

[2022-09-11 13:12] jellespijker commented on #11975
@memsharded and/or @lasote is it by design that the `test_package` doesn't have access to the `conf` from its requirements such as `msys2`? If so how should we treat the `test_packages` for recipes for tools such as:
- https://github.com/conan-io/conan-center-index/pull/12898
- https://github.com/conan-io/conan-center-index/pull/12896
- https://github.com/conan-io/conan-center-index/pull/12892
- h

[2022-09-11 17:29] betheev opened #12079 "Transitive dependencies for required system libraries"
Hi,

say I want to create a conan package for mylib and mylib depends on Poco which  is installed as a system library by the consumer of mylib. In mylib's conan recipe, I:

* define the `system_requirements()` method, where I call `SystemPackageTool(default_mode="verify").install("libpoco-dev")` to make sure that's the case.
* set the `self.cpp_info.components["myLibComponent"].system_libs` attrib

[2022-09-11 23:51] memsharded commented on #12078
Hi @liorko87

I am afraid that we cannot do much here, we do not maintain the nexus server. I would recommend to submit a report to their repository instead, thanks!

[2022-09-12 00:02] memsharded commented on #12079
Hi @betheev

I think the issue lies in here:

This is not possible, the ``system_libs`` is a raw "libraries" field, meaning it should be something like ``.system_libs = ["m", "pthread"]``. If you want to define some poco library, you need to specify its name, like ``poco_foundation`` or whatever actual library name. The ``xxx::yyyy`` syntax is only used for Conan package components.

Also, it shou

[2022-09-12 06:08] liorko87 commented on #12078
Hi @memsharded
AFAIU the error is at the Nexus server?

[2022-09-12 06:44] betheev commented on #12079
Hi @memsharded,

yes, by system libraries I meant libraries that are installed via the OS package manager, for example, `apt get libpoco-dev`. I had also tried using the `system_libs` attribute with the "raw library", but it didn't work because I had misspelled the name. I used `.system_libs[pocofoundation]` instead of `.system_libs[PocoFoundation]`. Now it works! Thanks for your response. It help

[2022-09-12 06:44] #12079 closed, assigned to memsharded

[2022-09-12 07:03] lasote commented on #12061
I would say I might be an error in the authentication again. But no idea why...

[2022-09-12 07:20] lasote commented on #11975
I'm taking a look.

[2022-09-12 07:41] klausholstjacobsen opened #12082 "Downloaded files corrupted when installing package"
conan 1.51.3
OS: Ubuntu 20.04 wsl

I am seeing strange behaviour which I cannot explain.
I have a packgae which essentially downloads a tar.gz file containing a toolchain from artifactory.
Installing the package is successful, and all file permissions in the unzipped toolchain folder looks good.

Then, if I force conan to install the package again suddenly file permissions have changed in the unzi

[2022-09-12 09:00] maikelvdh opened #12083 "[bug] XcodeDeps generated file for components contains invalid hyphen for requirements entries"
The following part https://github.com/conan-io/conan/blob/develop/conan/tools/apple/xcodedeps.py#L82 is not handling transformation of dashes to underscore so that it are valid files for Xcode.

### Environment Details (include every applicable attribute)
  * Operating System+version: n/a
  * Compiler+version: n/a
  * Conan version: 1.52
  * Python version: 3.9

### Steps to reproduce (Include if

[2022-09-12 09:04] uilianries opened #12085 "[feature] CMakeToolchain.cache_variables should parse boolean values"
It's related to #11848.

It would be great for users, if don't need to parse boolean values when using `cache_variables`. For instance:

[code]

You can see a mixed flow, where you need parse or not the option value, because `cache_variables` throws `Object of type PackageOption is not JSON serializable` when receiving a boolean. (It does not matter re-using the option, it's just an exemplificatio

[2022-09-12 09:12] lasote commented on #12077
I think this might be solved already by this PR: https://github.com/conan-io/conan/pull/12049/files
If you could confirm, it would be very nice.
Thanks

[2022-09-12 09:35] uilianries commented on #12085
It's a bug, OptionValue is not parsed as expected ... I going to open a PR asap.

[2022-09-12 10:41] maikelvdh opened #12089 "[bug] XcodeDeps using full package reference in case of package with components leads to invalid xcconfig setup"
XcodeDeps generated setup is incorrect in case you are referencing to a full package in the requires section of cpp_info object, whilst the referenced package might be sliced into further subcomponents.

Either the `conan_<dependency>_<dependency>.xcconfig` should be produced additionally, or it should be referenced in the `include` reference as `conan_<dependency>.xcconfig`.

Unless it might be e

[2022-09-12 10:42] saukijan commented on #10745
@memsharded, this is **STILL** a problem on conan v1.52.0 and conan.cmake v0.1.8.1

I updated the repository showcasing the issue with the latest conan.cmake module, as well as added a local_test which shows that GCC itself links the library modules correctly, but  conan integration test still fails

[2022-09-12 10:43] lasote commented on #11975
I detected why it happens, I think this is not on purpose but I need to discuss with the team the issue because it is not easy to fix.

[2022-09-12 10:44] czoido commented on #12071
Hi @paulocoutinhox,

We did not make the XCRun tool public yet on purpouse. You can check the comments [in the sources](https://github.com/conan-io/conan/blob/develop/conan/tools/apple/__init__.py).
In conan2 we tried to make everything more explicit, so the idea is that instead of using XCRun, you use the configuration `tools.apple:sdk_path`. This value is used inside the generators to set the pa

[2022-09-12 10:49] hwhsu1231 commented on #12077
@lasote How do I test the result of this PR?

[2022-09-12 10:50] lasote commented on #11975
Note for the team to discuss:

It looks like during the test_package process, first it is called `deps_install` and the conanfile is filled with the `conf` from the first level build requires.
But then, the `cmd_build` is called without passing the conanfile again, so the conf is lost:

[code]

[2022-09-12 10:52] jellespijker commented on #11975
I noticed the complexity of this while stepping through the code with the debugger. I think a fix for this will need to follow the regular workflow/planning in your sprints. So it is also save to assume a fix won't be in anytime soon.

But is there a policy to be applied for the open PR's in CCI which can't be tested on Windows if they use the bash from the `msys2`. I confirmed locally that they w

[2022-09-12 10:57] lasote commented on #11975
That is something I cannot answer. I would say skipping the test won't be accepted by the community.

[2022-09-12 11:01] lasote commented on #12077
You could add my remote, checkout the branch of the PR and install that conan version:

[code]

Then run conan normally and the sources from that branch will be used.

[2022-09-12 11:01] jellespijker commented on #11975
@nallath and @casperlamboo FYI, see the answer above. I think we need to host the Autotool based recipes, which we use in our dependency chain on our own Artifactory for a limited period.

[2022-09-12 11:10] hwhsu1231 commented on #12077
I met an error when executing the `git checkout` command:

[code]

<details><summary>Click to expand the full log</summary>

[code]

</details>

[2022-09-12 11:26] lasote commented on #12077
Oh, my mistake, my remote is `git remote add lasote https://github.com/lasote/conan.git`

[2022-09-12 11:28] hwhsu1231 commented on #12077
BTW, if I install your version of Conan, will it overwrite the original Conan installed on my computer? If so, what should I do to return back to the original?

[2022-09-12 11:31] lasote commented on #12077
yes. Ideally you use python virtual environments to do this things.
Otherwise do a `pip uninstall conan` and then `pip install conan`.

[2022-09-12 11:36] himansu2906 opened #12090 "Setting values in settings.yml and in default profile related to compiler version."
Hello Team,

I am using old version of compiler (gcc, ver: 3.4) for my project, so to use conan, we had to update default profile and settings.yaml file with version number of old compiler.

default profile:
[settings]
os=Windows
os_build=Windows
arch=x86
arch_build=x86
compiler=gcc
compiler.version=3.4
compiler.libcxx=libstdc++
build_type=Release
[options]
[build_requires]
[env]

settings.yaml va

[2022-09-12 11:46] jruehle commented on #10925
@gpxricky How did you end-up solving this? Meaning, how did you pass the profile from `conan create` to your test package's `conan install ` command? I am having the same trouble of creating a test_package integration to test the deploy step of my main package.

Thanks for your help.

[2022-09-12 12:20] Nekto89 opened #12091 "[question] Compatible packages for options of dependencies"
I'm currently trying to use full_package_mode. Is it possible to somehow state that I don't care about some options of consumed library?
For example, my library depends on Boost, but it doesn't use Boost::python at all. So values of "without_python", "python_executable", "python_version", "python_buildid" shouldn't affect binary compatibility.

I've tried using "del" in package_id but it doesn't w

[2022-09-12 12:26] memsharded commented on #12090
Hi @himansu2906

We have a command specifically for this: ``conan config install``.

You put the things you want in a github repo (including settings.yml, profiles, remotes, conf, etc), or in a zip file in a http server, and install it your developer machines and CI with one single command ``conan config install <url>``

[2022-09-12 12:32] PavaniSivangula opened #12092 "Failed requirement 'icu/65.1@qtproject/stable' from 'conanfile.py (qtwebkit/5.212.0-alpha4)'"
Issue :
1.We have tried to install the conan with the command "pip install conan".
2.Now we are blocked at issue
conanfile.py (qtwebkit/5.212.0-alpha4): WARN: Cannot use matching dependencies for 6.2.0. Runtime errors caused by libraries bundled with Qt may happen. Use Qt >= 5.12.6 to be on a safe side
icu/65.1@qtproject/stable: Not found in local cache, looking in remotes...
icu/65.1@qtproject/st

[2022-09-12 12:40] memsharded commented on #10925
Hi @jruehle. The ``test_package`` functionality don't fire the ``deploy()`` function. That is only fired for a ``conan install mypkg/version@`` direct installation, iirc.

[2022-09-12 12:44] memsharded commented on #10745
Hi @saukijan

This still seems more a conan.cmake issue than a Conan one.

Is still https://github.com/Hahn-Schickard/conan_gcc10_failure_showcase updated with the changes to reproduce? Maybe @czoido can help with this, I am transferring it to cmake-conan project

[2022-09-12 13:05] memsharded commented on #12092
But this seems more an issue of the https://github.com/qtwebkit/qtwebkit/wiki/Building-QtWebKit-on-Windows specific project than Conan itself.

We don't maintain the icu/65.1@qtproject/stable package, but Qt does. Have you reported in their repos? Do you have a link to share?

[2022-09-12 13:22] hwhsu1231 commented on #12077
Not working.

First, I install the modified version of Conan.

<details><summary>Click to expand the installation log</summary>

[code]

</details>

Before reconfiguring the project, I use `conan remove` command to uninstall the `qt/6.3.1` packages.

[code]

After completing the installation, `IMPORTED_LOCATION_<CONFIG>` is still `<NOTFOUND>`.

![image](https://user-images.githubusercontent.com/71

[2022-09-12 13:27] memsharded commented on #12078
yes, I think so. You can always try locally with an ArtifactoryCE (free, you can get it in our download page), just in case to rule out something weird in your Client setup.

[2022-09-12 13:37] memsharded commented on #12090
First, overriding ``default`` profile is not great, because it will change from machine to machine. You want to use your own named ``osx``, ``linux_xyz``, etc profiles in the general case.

The profiles should be in a "profiles" folder

[2022-09-12 13:50] himansu2906 commented on #12090
Hi,
even if I am renaming the file and putting in profile folder inside config folder, it is not copying files to profiles folder.
it is creating another folder config inside **.conan folder**  and putting all the profile files inside that.

[2022-09-12 14:11] czoido commented on #12089
Hi @maikelvdh,

Thanks a lot for reporting and the information to reproduce.
I'll add this as a look-into for 1.53 to discuss with the team what to do in these cases. I'm not sure wether we should error in the cpp_info itself or in the generator. Other generators like CMakeDeps would accept to declare that network::network as a dependency but would generate valid information anyway. Probably this

[2022-09-12 14:32] czoido commented on #12089
I was checking how CMakeDeps does this and looks like it explicitly allows doing something like `self.cpp_info.requires.append("network::network")` but errors for `network::nonexistent` so probably we want to make XcodeDeps work the same way. I'll check if I can add that feature in a PR for 1.53

[2022-09-12 14:57] #12074 closed, assigned to czoido

[2022-09-12 15:00] valeriomoroni95 opened #12093 "[question] Best way to validate checksums"
Hi everyone!
I'm opening a new issue about this argument because I need to understand which is the best way to validate checksums through Conan.
I have to follow this pipeline:
1. I receive pre built ".a" and ".h" files which I have to package in order to be uploaded, subsequently, on Artifactory.
2. I need to calculate checksums on each ".a" and ".h" file, in a pre-upload phase, and keep their va

[2022-09-12 15:41] PavaniSivangula commented on #12092
Hi dear Memsharded,
I have noticed few points in the link
https://blog.conan.io/2021/03/31/Bintray-sunset-timeline.html.
I have started believing that these are the files belonging to , or been part of the conan repositories.|
Correct me if I am wrong, also I have no links to share.
Thankyou for the quick response.

[2022-09-12 22:10] johan-boule commented on #12027
Note that duplicating static libraries into potentially several shared libraries is a recipe for disaster when they have global variables.

[2022-09-12 22:35] johan-boule commented on #11885
What I observe with repeated conan install invocations with the same install folder is that they all overwrite the conaninfo.txt, conanbuildinfo.txt and conan.lock file.
This makes the "installed folder" only usable for the last config with the conan imports command, even though with the CMakeDeps generator, we get *.cmake files that work fine in multiconfig mode (i.e. all flags are under generato

[2022-09-12 23:22] blackk-foxx opened #12096 "[question] Run only unit tests while developing"
My question is related to #11898, but mine focuses on developer usage rather than CI.  As a developer, I would like to run only the unit tests during my code/test/debug/refactor development cycle.  But when I'm ready to create a package for testing with other packages, I would like to run all of the tests.

One way to accomplish this would be to add a `develop` boolean option to my recipe that app

[2022-09-13 00:08] memsharded commented on #12096
Hi @blackk-foxx

A couple of quick hints:
- You don't want to use an option, if the final package binaries are not different (which typically shouldn't be for tests, unless for some unusual reason you are also packaging the tests themselves), because then you would need to remove the option in ``package_id``
- You can probably better use a ``conf``, that you can set both in your command line ``-c`

[2022-09-13 00:11] memsharded commented on #12092
Yes, bintray was closed more than 1 year ago, if the packages were back then in bintray, they won't be found anymore. You still have defined a ``qtproject`` remote (you can list it with ``conan remote list``), those are the owners of that recipe/package.

[2022-09-13 00:15] memsharded commented on #12093
Hi @valeriomoroni95

It is not clear why the checksums for the files stored in the ``conanmanifests.txt`` are not good enough, maybe you can use them?

If not, you probably need to create your own file with the checksums, there are a few ways to do this:

- In the ``package()`` method directly
- In a ``post-package`` hook

It also depends a bit on how you are packaging those artifacts if they are

[2022-09-13 04:12] memsharded commented on #12090
If you are putting things in a repo, then you don't name the root folder the "config" folder. The layout of the repo or zip to ``conan config install`` should be the same as the Conan cache, that means a ``profiles`` folder in the root.

[2022-09-13 04:21] memsharded commented on #12091
Hi @Nekto89

Have you tried operating directly on the ``options``, something like:
[code]
(not sure if del works on that, if not you can always force the definition to an empty string value or something like that.)

Note that you need to remove the option, and also do not depend on the ``package_id`` of the dependency.

In Conan 2.0 we have already changed that, by default a ``package_id`` doesn't

[2022-09-13 05:34] Nekto89 commented on #12091
Does it transform "full_package_mode" into "full_recipe_mode"? Or "None" causes recalculation without deleted options? I can fully ignore values of some options for calculating final package_id, but not all of them.

[2022-09-13 06:58] maikelvdh commented on #12089
Thanks a lot for the elaboration @czoido! After discussion with @memsharded last week I raised this ticket to spawn a further discussion about the expected behavior in such case. As you mentioned we can indeed switch on our side to make sure components are used throughout the graph consistently, but it would be really good for more complex graphs to identify as early as possible the desired usage.

[2022-09-13 07:39] czoido commented on #12083
Closed by: https://github.com/conan-io/conan/pull/12084 thanks for reporting and the contribution

[2022-09-13 07:39] #12083 closed, assigned to czoido

[2022-09-13 09:07] lasote commented on #7240
There is another use case that might be valid for this cpp_info new model, the COM objects from @thorntonryan

https://github.com/conan-io/conan/pull/11601#issuecomment-1243880002

[2022-09-13 10:01] stefansli opened #12098 "[bug] Filenames generated by MSBuildDeps changed in 1.52.0"
#11826 Causes a breaking change if the generated property files for dependencies are referenced directly instead of the general `conandeps.props`. We are doing this to link specific dependencies only into the projects that need the dependency.
This bug prevents us from updating to newer Conan versions because a "big bang" update for all developers and CI systems would be required.

Old file: `cona

[2022-09-13 10:02] lasote commented on #12077
Thank you for verifying it. I'll investigate.

[2022-09-13 10:19] lasote commented on #12077
By the way, the `cmake_conan` is not tested with the new tools (like CMakeDeps) and we won't maintain it anymore in Conan 2.X. I'll try to verify if the issue is still present without `cmake_conan` and using `conan install` manually.

[2022-09-13 10:37] lasote commented on #12077
Another thing I see is that the `conanfile.py` has to use the `CMakeToolchain` when use it `CMakeDeps`. The toolchain generated must be used, otherwise the result is unpredictable.
About the `CMakePresets.json`, after the `conan install` you should use the `CMakeUsersPresets.json` generated by the `CMakeToolchain`.
I would mark this as `not-valid` because the usage of the `cmake-conan` and `CMakeD

[2022-09-13 11:19] maitrey opened #12099 "[question] Setting CFLAGS RELEASE correctly in profiles"
Dear Conan Folks,

I have an issue that I use build_type Release in my profile, However it adds -O3 -DNDEBUG in CMakeCache.txt.
Is it possible to set it correctly in profiles so that  CMAKE_C_FLAGS_RELEASE doesnot use the default -O3 -DNDEBUG?
CMakeCache.txt:CMAKE_C_FLAGS_RELEASE:STRING=-O3 -DNDEBUG
Also this doesnot seem to work
 `def generate(self):
        tc = CMakeToolchain(self)
        if s

[2022-09-13 11:44] Nekto89 opened #12100 "[question] Overriding requirements for packaging pre-built binaries"
I want to package library that was built with specific set of options/requirements. I'm trying to use `conan export-pkg` for this. I can pass options easily through profile. But I don't see API for overriding requirements in export-pkg. So I'm getting error if I specify transitive dependencies in recipe: `ConanException: mylibrary/1.0.0.0@user/channel package_info(): Package require 'bzip2' not us

[2022-09-13 12:02] hwhsu1231 commented on #12077
I don't get it. Why does the `conanfile.py` need the `CMakeToolchain` when using `CMakeDeps`?

BTW, if `CMakeDeps` has to be used with `CMakeToolchain` every time, then why not just combine these two generators into one?

[2022-09-13 12:18] memsharded commented on #12027
Yes, we know. But there are users (more than we would expect) that for some reasons have this setup, and they need conan to support it, and Conan 2.0 traits better allow it than in 1.X. It is critical to ensure that no API or ABI things are leaked through the shared libraries, but it is definitely possible (risky but possible) to do with some care. In that sense we try not to be opinionated and pr

[2022-09-13 12:22] jellespijker commented on #11922
@hesham-essam if you use the following for the AutotoolsDeps you get a more robust fix
[code]

be sure to add `from conan.tools.microsoft import unix_path` at the top of the file

[2022-09-13 12:57] memsharded commented on #11885
Hi @johan-boule

Yes, those files have been already removed in 2.0, and the flow for ``conan build`` will be clean, working fine for multi-config too. This seems challenging to solve at this moment in 1.X, so I'd recommend giving a try to the beta and making sure things work fine correctly there (the new ``conan new cmake_lib -d name=hello -d version=1.0`` can help for quick testing)

[2022-09-13 12:59] memsharded commented on #12091
Yes, it would be equivalent, but if you don't want options to affect, you need to drop it, because otherwise it is going to affect your package_id, even if you remove the ``self.info.options`` from your consumer package_id, the package_id of boost will still change, and become part of yours. The only possibility would be to fork the boost recipe and drop those options.

[2022-09-13 13:03] valeriomoroni95 commented on #12093
Hi @memsharded and thank you again for the answer,

I'll try to explain it better now.
To package those artifacts I'm using the `conan export-pkg` command, creating a basic _conanfile.py_ in which I only use two methods, `package()` and `package_info()`. In the first one I specify that I need to copy ".a" and ".h" files.

Basically what I have to do consist in verifying that the checksums bounded

[2022-09-13 13:05] memsharded commented on #12100
It is not fully clear how you built this in the first place, and why a ``conan create`` flow doesn't fit your use case. Because ``export-pkg`` use case is to package pre-compiled binaries, (not from Conan), but in this case it seems that you are actually building with Conan, because you have requirements that you are trying to override. If you can elaborate a bit more, that would be useful to unde

[2022-09-13 13:11] memsharded commented on #12099
This doesn't seem a Conan issue, but a CMake issue, as ``-O3`` is the CMake default for ``Release``. Maybe this should be addressed directly in your ``CMakeLists.txt``, and not injected by Conan, as Conan is not the one defining this flag.

If you still want to try it, the ``preprocessor_definitions`` is not the way to go, as those are not CMake variables but directly preprocessor definitions. You

[2022-09-13 13:16] jsallay commented on #12027
@memsharded No worries.  I am very appreciative of the effort you guys are putting in.  Conan 2 is going to be a great product.

[2022-09-13 13:23] maitrey commented on #12099
For the proof of concept with conan , can i Build wih build_type=None , will that work ? As right now we are still in the proof of concept stage

[2022-09-13 13:24] memsharded commented on #12099
No, most build systems need the build_type defined, definitely the CMake integration needs it.

[2022-09-13 13:28] Nekto89 commented on #12100
I have complex CMake project with lots of components that can be enabled/disabled that I've transformed into using ["cmake](https://github.com/conan-io/cmake-conan) internally for getting dependencies. I'm mostly using recipes from CCI that are copied to Artifactory server with custom user/channel to have better control over changes and reproducible builds. All overrides are given to `conan instal

[2022-09-13 13:29] maitrey commented on #12099
Ah ok , then cmake is the only way . Thanks for helping me out.
Is it fine to use:
set(CMAKE_C_FLAGS_RELEASE          "${CMAKE_C_FLAGS}")
We still are not at the phase where we know if we could use conan for our use-cases. So for now, i do this in the CMakeLists.txt
The other option would be to use Debug build type for all the packages so then we donot have this -O3 coming in.

[2022-09-13 13:34] memsharded commented on #12093
This seems a bit weird use case tbh, the security of Conan comes mostly because users use they own private Artifactory instance to host their packages, with access control, security, etc. If that is compromised, no matter what is done in the recipes and packages, because the attackers could replace the packages completely, including the checksums, etc.

Because the file checksums are already there

[2022-09-13 14:01] valeriomoroni95 commented on #12093
Yes, you're definitely right. My use case is just a basic approach trying to integrate Security in a DevOps pipeline already in use, but it doesn't guarantee absolute protection.

In any case, I suppose using hooks is the best option for my needs. Are there any python function which is already defined to create checksums? And to validate them afterwards? I think I read something about this in the

[2022-09-13 14:15] Bearwolves opened #12101 "[question] Usage of VirtualBuildEnv and VirtualRunEnv for cross-compilation"
We try to move ahead in direction of Conan 2.0, for that we wanted to start using build/host profile with the generators VirtualBuildEnv and VirtualRunEnv as virtualenv will be removed as far as I understood.

We detected a different behavior in the generators (VirtualBuildEnv and VirtualRunEnv) when
* the Build and Host Profile are different (#)
* the Build and Host Profile are identical (=)

In

[2022-09-13 14:28] #12085 closed, assigned to nobody

[2022-09-13 15:04] hwhsu1231 commented on #12077
@lasote

Why not? For me, I can use `cmake-conan` with `CMakeDeps` generator successfully in **Conan 1.X**. As you can see in my `conanfile.py`, I only specify `CMakeDeps` and `VirtualRunEnv` these two generators, **NOT** including `CMakeToolchain`.

![image](https://user-images.githubusercontent.com/71438617/189936830-320d2f2d-6e51-4e23-a08c-a3c8c41b05d1.png)

[2022-09-13 15:54] stefansli commented on #12098
While experimenting with a fix locally I also found this bug:
https://github.com/conan-io/conan/blob/45d2f85c09d3ab91618787911b39965ee4e17db1/conan/tools/microsoft/msbuilddeps.py#L49

Here the unmodified component name is used with breaks when a dependency has a transitive dependency on a component that contains forbidden symbols.

[2022-09-13 16:05] hwhsu1231 commented on #12077
@lasote

Actually, this issue is related to: https://github.com/conan-io/conan/issues/11540

In that issue, I requested Conan to add `IMPORTED_LOCATION` property for Imported Targets generated by `CMakeDeps`. And @memsharded replied me that it's already provided in **Conan 2.X**. (https://github.com/conan-io/conan/issues/11540#issuecomment-1168786623)

After further research in CMake, I found that

[2022-09-13 16:09] lasote commented on #12077
That is implemented in the PR that I linked for you.
It is invalid because is a non tested behaviour to use cmake-conan that will be deprecated soon and omitting the Conan toolchain when using CMakedeps

[2022-09-13 16:28] hwhsu1231 commented on #12077
So what you said `invalid` is to say **the PR is invalid**, not this issue. Am I correct?

[2022-09-13 16:53] blackk-foxx commented on #12096
Thank you for the quick response, @memsharded!  I will try the `conf` approach you recommend.

Now for a follow-up question, please:  How do I get `conans.CMake.test` to run a subset of tests?  With CMake, I can assign one or more labels to tests, and when I run the `ctest` command I can choose which label(s) I want to include in the test run.  But `conans.CMake.test` doesn't run `ctest`; it runs

[2022-09-13 17:02] memsharded commented on #12096
Well, the ``cmake.test()`` wrapper is just a very thin layer, I think you can easily do something like ``self.run("ctest ...")`` to run the tests that you want, have you considered that?

[2022-09-13 17:11] luistorrescisneros opened #12102 "[bug] When using MSBuild the build-process outputs an error after starting the powershell!"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 2019 (Visula Studio 17 2022)
  * Compiler+version: MSBuild version 17.3.1+2badb37d1 for .NET Framework
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)
define a build() method as:

[code]

### Logs (Executed commands with output) (Include/Attach if

[2022-09-13 17:25] blackk-foxx commented on #12096
I have, but I wonder what might be missed by doing that.  In other words, why does `cmake.test()` not already run `ctest`?

[2022-09-13 18:46] SpaceIm opened #12103 "[feature] conan.tools.gnu.Autotools.autoreconf: add a `working_dir` argument"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

In `autoreconf()` method of `conan.tools.gnu.Autotools`, the working directory in which autoreconf is called is hardcoded to `conanfile.source_folder` (by the way it's not documented): https://github.com/conan-io/conan/blob/c5516cf408a69f55ea4c2d97d29ed82fbe728b30/conan/tools/gnu/auto

[2022-09-13 18:48] mnesarco opened #12104 "[question] Project manifest doesn't match installed one"
Hello Friends,
I am trying to build opencascade locally from the recipe. It looks like everything works, but at the end I get this error:

[code]

I tried to find information about this error but I have found nothing.

This is my command:
[code]

The recipe was downloaded from conan index, I added the sources url, sha256 for version 7.7.0. and commented out a line in conanfile.py just ignoring a r

[2022-09-13 19:00] dev-joss opened #12105 "[feature] fastbuild support"
Support fastbuild .bff generation for integration with fastbuild build system. https://www.fastbuild.org/docs/home.html

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-09-13 19:22] SpaceIm opened #12106 "[bug] conan.tools.AutotoolsDeps: linker error due to `-F -Wl,-rpath -Wl,<libdirs>` on macOS when there are dependencies"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey
  * Compiler+version: AppleClang 13.1.6
  * Conan version: 1.52.0
  * Python version: 3.10.6

### Steps to reproduce (Include if Applicable)

- create an autotools recipe with dependencies, relying on AutotoolsToolchain, AutotoolsDeps & Autotools
- run conan create

(I have a CCI branch for ca

[2022-09-13 20:05] SpaceIm opened #12107 "[feature] fix_apple_shared_install_name: also fix install_name in LC_LOAD_DYLIB of executables in cpp_info.bindirs"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

For all dylib located in cpp_info.libdirs, `conan.tools.apple.fix_apple_shared_install_name` changes `install_name` to `@rpath` in their `LC_ID_DYLIB` section and also `install_name` of their dependencies in `LC_LOAD_DYLIB`.

But executables located in cpp_info.bindirs are not fixed,

[2022-09-13 20:21] SpaceIm commented on #12106
Answering myself: indeed when I disable openssl in capnproto, no issue, so openssl recipe must be migrated to conan v2 (at least layout).

Anyway I'm surprised to see that linker fails with `-F` injection from `AutotoolsDeps`  even though libdir exists. `-F -Wl,-rpath -Wl,<libdir>` is odd, it should be `-F<libdir>`

[2022-09-13 20:42] JeffHough opened #12108 "[question] Very simple conan package for header-only library"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I have a very simple header-only library (only a single file) which has functional cmake, and I would like to package it with conan. Building it on my own computer with cmake, I am able to include this package in my other projects as:

[code]
I have tried to leverage this cmake, and c

[2022-09-13 21:29] SpaceIm commented on #10668
Answering myself:

- CMake & `add_custom_command()`:

  SIP issues in `add_custom_command()` of CMake builds don't come from conan, and I don't think conan can do anything against it.

  I've tested a manual export of `DYLD_LIBRARY_PATH` in terminal, then in the same terminal a manual CMake configuration & build (with a `add_custom_command()` calling an executable linked to a shared lib, this shar

[2022-09-13 23:40] jcar87 commented on #12106
This is similar to an issue we've seen in the past (although still under investigation).

I think this is caused by libtool: one of the packages probably has `.la` files next to the library files. If you have a library that uses Autotools to drive the build, and uses libtools, it will parse those .la files - which unfortunately have the "install prefix" that build was configured with. Which is lik

[2022-09-13 23:42] memsharded commented on #12108
Hi @JeffHough

Let me suggest a few fixes:

- Don't declare ``self.cpp_info.libs``, that is only for compiled libraries, header-only library doesn't need it
- You don't need ``CMakeDeps`` if you dont have dependencies
- Drop the ``options`` and ``default_options``
- Add a ``package_id()`` method, that does a ``self.info.clear()``
- Recommended to use tags or commits for the source ``git.clone("htt

[2022-09-13 23:50] mnesarco commented on #12104
This is my first usage of conan. It is hard. I can build opencascade from sources directly without problem but I expect that conan helps me doing this much more easy.

what I have learned:
- Conan is hard.
- The problem **"Project manifest doesn't match installed one"** is apparently related to `test_package` because if I set` --test-folder=None` there are no errors.

Now the package is generated

[2022-09-14 02:09] mnesarco commented on #12104
I managed to make it work changing the CMakeLists.txt of the test_package:
[code]

The change required is a bit weird because I expect that `conanbuildinfo.cmake` take care of everything. But no.

Required change:
`set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH};${CMAKE_BINARY_DIR})`

[2022-09-14 04:13] memsharded commented on #12102
Hi @luistorrescisneros

We would need some more detail, like a complete project that we could use to reproduce the issue.
We have the ``conan new hello/0.1 -m=msbuild_lib`` template that could be a good start, you can just call that command, ``conan create .`` and it should work (also ``msbuild_exe``)

[2022-09-14 04:19] memsharded commented on #12101
Hi @Bearwolves

This is not fully clear. It would be great to have the exact steps to reproduce, much better if we start with a simple pre-defined template, something like ``conan new hello/0.1 -m=cmake_lib`` + ``add the generators = "VirtualBuildEnv"`` and ``conan install -pr=default -pr:b=default`` should be good enough to reproduce, could you please try something in that line? Thanks!

[2022-09-14 04:22] memsharded commented on #12082
Hi @klausholstjacobsen

Could you please check if you have something like ``https://docs.conan.io/en/latest/reference/env_vars.html#conan-read-only-cache`` CONAN_READ_ONLY_CACHE defined?

Also, what command are your using to unzip? It would be great if there were something that we could reproduce. Thanks!

[2022-09-14 06:03] paulocoutinhox commented on #12071
Hi,

Ok, i see that you have a method that return it:

[code]

But how i can use it in practice?

Or i need use XcodeBuild, like this:

[code]

?

Thanks.

[2022-09-14 06:37] MTomBosch opened #12109 "[question] Conan download cache 0 revision packages does not work!"
We have set up a Conan download cache to reduce the created traffic from the Artifactory instance to our CI/CD build machines.
Recently we have switched from using local Conan repositories as dependency package repositories to using a single virtual repository that contains all the local repositories.
Now we are facing again very high traffic from the Artifactory instance to our CI/CD build machin

[2022-09-14 06:43] jellespijker commented on #12109
I have noticed the same behavior. With a fresh cache directory btw.

[2022-09-14 06:47] lasote commented on #12107
Thanks for reporting. Do you have a `capnproto` branch that we can use to reproduce this?

[2022-09-14 06:50] MTomBosch commented on #12109
Can someone from Conan dev confirm that?
If so that would be a huge problem for us since the only reason to move to a virtual repo was to workaround a bug in Conan 1.x where version ranges are not properly resolved if no virtual repo is used. And the bug is only fixed in Conan 2.0 that is not even released yet and even if so we cannot move to 2.0 so fast.

The issue is: https://github.com/conan-io

[2022-09-14 06:56] SpaceIm commented on #12107
Yes: https://github.com/conan-io/conan-center-index/tree/03077b819c744da195224c9e5e25783f19bceb9b/recipes/capnproto/all

- Remove this workaround: https://github.com/conan-io/conan-center-index/blob/03077b819c744da195224c9e5e25783f19bceb9b/recipes/capnproto/all/conanfile.py#L143-L144

- Add `fix_apple_shared_install_name(self)` in `package()` just before or after https://github.com/conan-io/conan-

[2022-09-14 07:12] lasote commented on #12109
It is probably that the data stored in the cache used when you had the local repository is not working if you change to a virtual, because the URL would change (Still I need to take a look at the cache key and the URLs that are used in a virtual repository).
But, are you saying that once you get the cache populated again with the "virtual repository" contents the cache is not working anymore? Coul

[2022-09-14 07:12] lasote commented on #12109
FYI, the cache in Conan 2.0 is removed, we are waiting for feedback here: https://github.com/conan-io/conan/issues/11658

[2022-09-14 07:15] MTomBosch commented on #11658
Hello,
for us the performance gain is not the only argument why it is required.
For us as important as the performance is the reduction of traffic from our JFrog SaaS instance towards the CI/CD build machines.
Without the downloac cache we will need to pay a 5 digit number $ per year more than right now with the download cache.
If there is no download cache or something similar to reduce the traff

[2022-09-14 07:17] MTomBosch commented on #12109
I would understand that the cache would need to be filled again because the URL changes (from local to virtual) but looking at our numbers of downloaded packages I have a little bit the feeling the cache is not working at all with virtual remotes.

[2022-09-14 07:19] jellespijker commented on #11658
We also rely heavily on caching downloads between pipeline runs on our GitHub Actions.
https://github.com/Ultimaker/Cura/blob/d69819a24e89af2b35266b25c5bc91561048bb78/.github/workflows/conan-package-create.yml#L80

Mind you I'm not sure if this is really needed in our case, but since I can't see the actual bandwidth usage in our Artifactory Enterprise Edition it seemed like the most logical thing

[2022-09-14 07:19] jellespijker commented on #12109
https://github.com/conan-io/conan/issues/11658#issuecomment-1246348893

https://github.com/Ultimaker/Cura/blob/d69819a24e89af2b35266b25c5bc91561048bb78/.github/workflows/conan-package-create.yml#L80

[2022-09-14 07:35] czoido commented on #12071
Hi @paulocoutinhox,

The `apple_sdk_path` tool is not meant to be used in recipes, only documented tools should be used. For the moment, the valid apple tools are `fix_apple_shared_install_name`, `is_apple_os`, `to_apple_arch`, `XcodeDeps`, `XcodeDeps` and `XcodeToolchain`.

The recommended use is that instead of doing something like:

[code]

or

[code]

you do:

[code]

To set that [configuratio

[2022-09-14 07:42] Nekto89 commented on #12100
For now I've decided to go with fake component for silencing errors.
`self.cpp_info.components["DummyComponent"].requires = ["bzip2::bzip2", "pcre::libpcre", "xz_utils::xz_utils", "zstd::zstdlib"]`

My current workflow looks like this:
- compile binaries
- convert conaninfo.txt that was generated by conan-cmake into profile by copying [full_settings] into [settings] and [full_options] into [option

[2022-09-14 08:15] lasote opened #12110 "[bug] self.win_bash and msys2, internal commands not found"
While testing this PR: https://github.com/conan-io/conan/pull/12095

I saw that I couldn't run any command belonging to msys2 (installed packages there) located in `/usr/bin`, but there were tests that work because they use the `@pytest.mark.tool_msys2` that is putting the `C:/msys64/usr/bin` in the path in the `conftest.py`.

I think that is very confusing because a recipe trying to run a command

[2022-09-14 08:27] Bearwolves commented on #12101
Hey @memsharded,

Thanks for your fast answer :)

I tried following command with the example you provided!

[code]

[code]

[code]

[code]

Why in the first case i.e. the cross-compilation case the `conanbuild.sh` and `conanrun.sh` are not present? I could understand the argumentation `cross-compiled output can not be run on the host system` but what about the build part?

[2022-09-14 09:01] AndreyMlashkin opened #12111 "[bug] upload to artifactory fails"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 22.04
  * Compiler+version: clang 14
  * Conan version: 1.52.0

### Steps to reproduce (Include if Applicable)
I have the following script to validate if build image for our CI is valid:
conan install zlib/1.2.12@ -r conancenter --build "zlib" --build missing -pr:h default -pr:b default --build missin

[2022-09-14 09:03] AndreyMlashkin commented on #12111
[full_log.txt](https://github.com/conan-io/conan/files/9564604/full_log.txt)

Here is the full log

[2022-09-14 09:20] hwhsu1231 commented on #12077
@lasote

I really think this issue is **NOT** related to `cmake-conan` because it just provides an alternative way to execute `conan install` command. That is, [`conan_cmake_install()`](https://github.com/conan-io/cmake-conan#conan_cmake_install).

The current problem is that those **Imported Targets** generated by `CMakeDeps` don't have `IMPORTED_LOCATION_<CONFIG>` property. What does it matter w

[2022-09-14 09:28] lasote commented on #12077
So I need a simple example of failing using `CMakeDeps` and `CMakeToolchain` and calling `CMake` using the toolchain.

The branch I provided you HAS the `IMPORTED_LOCATION_<CONFIG>`. I don't know if it is related to `CMakeToolchain` but as you can see we have many issues to attend to, I just cannot prioritize this using a not-supported (invalid) setup.

[2022-09-14 09:36] hwhsu1231 commented on #12077
So you mean you need an example project that:

- Use `find_package()` to find those `xxx-config.cmake` files generated by `CMakeDeps`.
- Include the `conan_toolchain.cmake` file generated by `CMakeToolchain`.

togehter to prove that this situation also fails. Right?

[2022-09-14 09:39] lasote commented on #12111
Do you have the remote `conancenter` set up? By the way I don't see the upload in the full log.

[2022-09-14 09:41] AndreyMlashkin commented on #12111
[full_log.txt](https://github.com/conan-io/conan/files/9565013/full_log.txt)
Oh, strange, it's a totally different log file. Here we go

[2022-09-14 09:42] AndreyMlashkin commented on #12111
Sure, I have it. It's enabled by default
[code]

[2022-09-14 09:58] luis-torrescisneros-tfs commented on #12102
Hi @memsharded ,

I executed the command `conan new hello/0.1 -m=msbuild_lib` and the package was created successfully.

Then, I compared one by one the generated conanfile.py, hello.sln and hello.vcxproj, and I realised that in my case I am using .sln file that consumes a .csproj file for setting up the proper configuration (this is what the .vcxproj file does in the hello example). That is, I am

[2022-09-14 10:00] luistorrescisneros commented on #12102
Hi @memsharded ,

I executed the command `conan new hello/0.1 -m=msbuild_lib` and the package was created successfully.

Then, I compared one by one the generated conanfile.py, hello.sln and hello.vcxproj, and I realised that in my case I am using .sln file that consumes a .csproj file for setting up the proper configuration (this is what the .vcxproj file does in the hello example). That is, I am

[2022-09-14 11:10] maksim-petukhou opened #12112 "[feature] Option description"
Are there any plans to add the ability to set a description for an option? Most of the time, options are self-explanatory, but when it's not the case and a library is a complex one you have to read recipe comments (or worse, the logic) to know exactly what an option does. [See](https://github.com/conan-io/conan-center-index/blob/9f24b5b7ead7db1f64329a7098bf6eeab63f9e99/recipes/boost/all/conanfile.

[2022-09-14 11:19] klausholstjacobsen commented on #12082
read-only cache not defined in environment or in conan.conf

The recipe looks looks like this:
[code]

[2022-09-14 11:38] hwhsu1231 opened #12113 "[question] How to change the generator in `CMakePresets.json` generated by `CMakeToolchain` generator?"
### Problem Description

If we execute `conan install` command with `CMakeToolchain` generator, there will be a `CMakePresets.json` file in the install folder. However, I noticed that the default generator in it is `Visual Studio 16 2019` when the environment is on **Windows** and the compiler is **MSVC**.

If I want to change it to for example `Ninja Multi-Config` generator, what should I do?

##

[2022-09-14 12:06] franramirez688 commented on #12113
Hi @hwhsu1231,

You can use this configuration `tools.cmake.cmaketoolchain:generator="Ninja Multi-Config"` in your `profile`, in your `global.conf` file, or even via CLI with the `-c ` option.

**profile**
[code]
Or:
**global.conf**
[code]

[2022-09-14 12:20] fg68 opened #12114 "[feature] Publish buildinfo in a project specific artifactory repo"
Provide an option to the conan_build_info --v2 publish subcommand to be able to specify an artifactory project with a dedicated buildinfo repository where the buildinfo should be stored.

Currently one can only perform this with the jfrog CLI build upload command (see https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-BuildUpload) but this requires an additional

[2022-09-14 12:52] czoido commented on #12112
Hi @maksim-petukhov,

Thanks a lot for the suggestion, in fact this is already a Conan 2.0 feature. See: https://github.com/conan-io/conan/pull/11295 and https://github.com/conan-io/conan/issues/11108

You can use it like:

[code]

I'm closing this as the feature is already implemented, but please feel free to reopen or open another issue if you have any questions.

Thanks!

[2022-09-14 12:52] #12112 closed, assigned to czoido

[2022-09-14 13:03] maksim-petukhou commented on #12112
@czoido That's great! Btw, I searched for `option description` beforehand but GitHub didn't show #11108 :)

[2022-09-14 13:28] jellespijker commented on #12110
@lasote I have a feeling it might be related to: https://github.com/conan-io/conan/issues/11980 (which has a proposed fix:  https://github.com/conan-io/conan/issues/11980) or more likely https://github.com/conan-io/conan/issues/11986

[2022-09-14 13:39] memsharded commented on #12082
It seems it is related to the specific contents of that .tgz, for some reason Conan tries to remove the folder, it fails, it tries to set the permissions to remove it, it still fails, and then it is left with the changed permissions.

Without fully knowing yet what is happening, I think I would try this:

- Add ``no_copy_source = True`` attribute to the recipe. That will save one huge copy from so

[2022-09-14 13:45] ilya-lavrenov commented on #11020
@memsharded looks like conan decided to build OpenVINO as a static library as far as I can see from:
[code]
Then it tried to wrap `libopenvino.a` to a cmake target `openvino::openvino`? Or it's an OpenVINO target?
In OpenVINO, in case of static build we had a great number of other static libs which are private dependencies for `libopenvino.a`, looks like they are missed here for some reason.

Any

[2022-09-14 13:45] memsharded commented on #11658
Thanks for the feedback, we will look into it before 2.X.

[2022-09-14 13:52] himansu2906 opened #12115 "Installed packages are not found in Cmake build process."
Hello team,

we are facing issue that conan is not able to find some of the packages, all the packages has been successfully installed locally and present in cache.

[2022-09-14 13:55] memsharded commented on #12111
I think the main issue could be enabling the revisions after downloading things. Please try:

- Clean the cache completely
- ``conan config set general.revisions_enabled=1``
- Download the packages
- Upload them

Revisions are not intended to be changed between operations, they should be enabled always for the same cache.

[2022-09-14 14:00] JeffHough commented on #12108
Hi @memsharded

Thank you for your quick response! I've implemented all of your suggestions (other than the name of a branch in the git.clone call - I know a commit hash would be better, but right now the library is always somewhat in flux and I want the most up-to-date version on that particular branch).

I am no longer getting the errors I was getting before. However, I am having a different iss

[2022-09-14 14:00] memsharded commented on #12115
Hi @himansu2906

Please try to format the above correctly.

A couple of quick hints:
- ``include(${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)`` and the ``cmake`` generators are legacy. You should be moving to ``CMakeDeps`` and ``CMakeToolchain``
- You need to provide smaller reproducible examples. Starting with the template ``conan new hello/0.1 -m=cmake_lib``, and doing minor modifications to prove

[2022-09-14 14:01] lasote commented on #12077
Yes. Doing first a `conan install` to install the dependencies.
We generate a `CMakeUserPresets.json` too, so you can try that. It will use the toolchain automatically.
If that fails I can debug until I find something.

[2022-09-14 14:03] memsharded commented on #12108
But package management doesn't work that way. Once the source is there and the package is there, it should be considered immutable. Otherwise you could be basically overwriting contents without changing the name of the package, and consumers of the package will no be aware of the changes and still use the previous versions. A few things can go wrong with this approach.

The other issue now not fin

[2022-09-14 14:05] lasote commented on #12110
Yes, thanks, https://github.com/conan-io/conan/issues/11986 is the one. I see that you closed the issue because of using of msys2 conan center package. But I still think there is a bug in Conan, working with a local msys2 installation should also work.

[2022-09-14 14:10] AndreyMlashkin commented on #12111
Yes, that helped, thank you!

[2022-09-14 14:10] #12111 closed, assigned to lasote

[2022-09-14 14:12] AndreyMlashkin commented on #12111
However, it would be cool to document somewhere, that it's not safe to chage general.revisions_enabled, when your cache is not empty,

[2022-09-14 14:24] JeffHough commented on #12108
Sure - I'll cut things down a little bit to the relavent portions, since I cannot share company code.

From the `conanfile.py` of the consumer:
[code]

And the relavent portions of CMakeLists.txt file:
[code]

Does anything about these files stick out to you?

[2022-09-14 14:24] frank-schmidtner opened #12116 "[bug] build order is redundant if build and host profile are identical"
I have the following issue: Assume the following dependency graph

A.requires(B)
A.requires(C)

C.build_requires(B)

that I want to build with dual profile (to prepare for conan 2,0) but with build and host profile being identical.

If I create a lockfile for that with the following command:
[code]

And afterwards create the build_order:
[code]
The build order will contain an entry for package ``B

[2022-09-14 14:39] memsharded commented on #12108
Yes, the requirement to stl_reader in the consumer is not ``INTERFACE``, but ``PUBLIC`` or ``PRIVATE``. Interface means you don't use it, just your users (the consumers of ``consumer``) use it.

A couple of other hints:
- Don't use an option like ``"enable_testing": [True, False], `` if the testing doesn't actually produce a final different package. ``conf``, like ``tools.build:skip_test`` are pre

[2022-09-14 14:45] JeffHough commented on #12108
Ah yes, that did it! Thanks for the additional tips too - I am still very new with conan, and somewhat new with cmake, so it is very much appreciated.

[2022-09-14 14:45] #12108 closed, assigned to nobody

[2022-09-14 14:58] jellespijker commented on #12110
Agreed. My proposed solution was making sure the parent directory of the `bash.exe` from the conf value was added to the msys2 generated file. But that caused some issue at the time: https://github.com/conan-io/conan/pull/11987

[2022-09-14 14:59] franramirez688 commented on #11961
Hi @hesham-essam

I recently opened a PR https://github.com/conan-io/conan/pull/12117 to let users define their own Meson files to be appended after the Conan ones. Those user files will override/complement the Conan ones. This feature is based on https://mesonbuild.com/Machine-files.html.
I think it's better than adding another dictionary to avoid having many attributes inside the MesonToolchain.

[2022-09-14 16:08] uilianries commented on #12072
This PR could be related: https://github.com/conan-io/conan-center-index/pull/12928/files#diff-a7c543f8c546c2ddde45684244bbbbecbc7bb8148a5a5fba2f9e8a500096bcbe

A header-only package needs c++17, but as we are using `self.info.clear()` we can't validate the cppstd, since it's removed. When testing it with `conan create`, the test package does not validate it too, so we only see the error when buil

[2022-09-14 17:38] ohunter opened #12118 "[question] Why isnt cross compiling easier with Conan."
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

From my understanding, Conan tries to simplify the mess that is C++ package management so that the developers of applications and libraries may focus on their own functionality and bugs instead of wrestling with their build system. That is great, but there are a few things that make m

[2022-09-14 23:58] memsharded commented on #12118
Hi @ohunter

Conan can make it trivial to cross-compile something, depending of course on the capabilities of the underlying build system, and also the quality of the build scripts of a given project. As Conan is not a build system, and it mostly wraps build systems, there is little it can do if the project does not provide for it.

But for example, lets take a simple CMake project, that we can cr

[2022-09-14 23:59] memsharded commented on #12108
Great! 👏 Happy that you manage to make it work. Sure, don't hesitate to ask here for questions and support, we love to help as much as we can.

[2022-09-15 02:00] melvin54241 opened #12119 "[feature] SHORT DESCRIPTION"
- [ ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2022-09-15 02:25] ohunter commented on #12118
Hi, thanks for the quick reply. Although it seems that I could have been clearer in the original post. As for my question being too broad, I can see how the title is quite broad but the content presented in the question is as specific as it can be given my current understanding of Conan.

Right. I am not saying it is a build system in any way, However; I would argue that Conan should do more than

[2022-09-15 02:29] radonish opened #12120 "[question] Jenkins replay of successful build - cannot be found in lockfile error"
I'm having an odd problem that I'm hoping can be chalked up to some silly user error.

At a high level, a parent job is:
1. Creating a lockfile
2. Uploading lockfile to Artifactory
3. Passing the path to the lockfile in Artifactory to the child job that will build the specific package

In a normal flow everything works. The child job uses the lockfile - it can both `conan install` and `conan creat

[2022-09-15 02:45] memsharded commented on #12118
Yes, it is true that not all build systems behave the same wrt different inputs, in this case as the environment variables ``CC`` and ``CXX``. The other ``settings`` should indeed be mapped from Conan to the different build systems if the packages are correct, but this env-var is something that Conan doesn't process, it goes to the environment. If some build system like Meson, or some project with

[2022-09-15 03:20] ohunter commented on #12118
It is not the compiler that needs to be influenced but rather the build systems. If a build system checks whether the compiler it has been configured to use can compile a program correctly similar to that of cmake and meson, the build system should be informed that the default way of doing so is not correct when cross compiling occurs. This behavior should not be up to the project maintainer to im

[2022-09-15 03:24] memsharded opened #12121 "[feature] Better management of fPIC"
Now things in our template works relatively well, because the default is ``fPIC=True``, for static and shared libraries.

If some users default it to False, then it will be a bit inconvenient, because it is necessary to:
- Put the ``fPIC=True`` for ``shared=True`` (besides setting the ``shared=True``, because otherwise for example https://cmake.org/cmake/help/latest/prop_tgt/POSITION_INDEPENDENT_C

[2022-09-15 03:27] memsharded commented on #12118
Yes, this is what I am saying, the user defines the compiler, and that definition of the compiler is "injected" (Conan integrations are the ones that should do it, not recipe authors) to influence the build systems.

[2022-09-15 03:45] memsharded commented on #12120
Hi @radonish

I suspect that the lockfile that is being downloaded from Artifactory is mutated by the process itself. When a lockfile is incomplete, for example, because it locks a version, but it doesn't lock the package binary (package revision), because the binary hasn't been built yet, using that lockfile as input and output of some install/create command will fill that information in the lock

[2022-09-15 05:38] ohunter commented on #12118
Yes, but this should require no additional abstractions over the compiler. That seems like the wrong way to solve this. If I want to compile my stuff with some obscure compiler that Conan has never encountered before that would mean that the abstractions wouldn't exist for that compiler.

[2022-09-15 06:38] lukokr-aarch64 opened #12123 "[bug] `conan create` fails to build the module for the first time"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 20.04.4 LTS
  * Compiler+version: gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
  * Conan version: 1.51.3
  * Python version: Python 3.8.10

### Steps to reproduce (Include if Applicable)
On a brand new recipie with a test package:
[code]

### Logs (Executed commands with output) (Include/Attach if Applic

[2022-09-15 06:56] MTomBosch commented on #12109
Ok. I have now found a reason for the huge number of downloaded package. The download cache was not enabled due to internal infrastructure issues. This might be the reason for the high number of downloaded packages.

Nevertheless it would be good if someone from the Conan dev team can either confirm or decline the above statement from @jellespijker .

[2022-09-15 06:58] lasote commented on #12121
I don't see it as a trait but maybe in a similar case, we talked about the `language` attribute that would remove `libcxx` and `cppstd` when `C`. Maybe the configure should have by default a "smart" adjustment based on the `shared` of transitive dependencies and reading the `shared` option of the recipe itself.

[2022-09-15 07:08] liorko87 commented on #12078
After a conversation with Nexus support, the issue was using conan proxy repository instead of conan hosted repository.

[2022-09-15 07:09] #12078 closed, assigned to memsharded

[2022-09-15 07:23] lukokr-aarch64 commented on #12123
I think you can close this, seems to be an error on my part. I was missing:
[code]
In my test package 👍

[2022-09-15 07:53] jellespijker commented on #12109
I will do a quick test myself as well, since my statement was based on observing some behavior while busy working on other tickets, and filing it in the back of my mind with the label :should_investigate:

[2022-09-15 08:11] jellespijker commented on #12109
I think this is a non-issue for Conan v1 and it works as expected. I got confused with the downloading of sources from secondary locations.

[2022-09-15 09:35] SpaceIm commented on #12107
I forgot to mention that you should set `-o capnproto:with_openssl=False` (because openssl recipe is not conan v2 ready, so it propagates frameworkdirs in AutotoolsDeps, leading to an error in this PR of capnproto).

[2022-09-15 10:18] Bearwolves opened #12125 "[question] How to use export-pkg with --ignore-dirty and the new scm mode in Conan v2.0"
With the new scm attribute (https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-scm-attribute), how do we export a package in our CONAN_USER_HOME which is created from a dirty git repository?
[code]

While looking about the conan 1.52.0 code especially following lines https://github.com/conan-io/conan/blob/1.52.0/conan/tools/scm/git.py#L49-L57 we didn't see any way to replicate the o

[2022-09-15 10:36] lasote opened #12126 "[feature] Remove `Capturing current environment in` traces"
I would say those prints don't give much help and in some recipes the prints are massive (recipes calling a lot the command line, for example to fix the rpaths in macos) I think we should lower the level of these messages.

[code]

[2022-09-15 12:36] crsib commented on #11658
Audacity uses `storage.download_cache` to make offline builds possible on Linux. Removing it will be definitely a  deal breaker for us.

[2022-09-15 13:01] memsharded commented on #11658
Thanks @crsib

This is exactly the feedback we wanted. We were concerned that the cache was not proving to be as performant as expected, which was the initial goal. It seems that the value provided was different from performance, but bandwidth, costs, network, etc.

I will give it a try later to re-enable it for the next beta.4

[2022-09-15 13:03] memsharded commented on #12126
Agree, we can lower or remove those (the problem is that such message is printed by the script file, not conan, so not easy to give it a log level). But yes, can be removed,

[2022-09-15 13:08] memsharded commented on #12125
Hi @Bearwolves

It seems in your case, if that package is designed to be ``export-pkg`` and not a regular ``create``, you don't want the "full reproducibility" guarantee that the ``get_url_and_commit()`` provides. That helper is designed to be able to build from sources later, making sure the same source is used, so avoiding dirty.

As this is not the case, and it seems you only want to capture an

[2022-09-15 13:17] memsharded commented on #12123
Thanks @lukokr-aarch64 for reporting and following up with the fix 👍

[2022-09-15 13:17] #12123 closed, assigned to nobody

[2022-09-15 13:22] memsharded commented on #12118
I honestly don't understand what you mean. Please lets get things down to code and real examples.

What I am suggesting is something like a profile like this:
[code]

This can be passed to build systems that will use that compiler that the user defined. That would solve the issue that some build systems are not listening to CC, CXX env-vars. (for some build systems, the env-vars approach works wel

[2022-09-15 13:41] Bearwolves commented on #12125
Hey @memsharded,

Our current workflow follows the legacy developer (install, build, package, export-pkg) flow.
We provide as interface to our developers two very small small script wrapper:
* `build.sh` => install, build, package
* `export.sh` => export-pkg

We get used to the `developer` over the `ci i.e. create` workflow to easily access the build artifacts during development. We are working in

[2022-09-15 13:48] memsharded commented on #12125
Thanks, I understand a bit better.

The ``get_url_and_commit()`` is actually designed to allow developer flows doing "local" commits, that can be squashed or removed later with git commands. In those cases, it will simulate how it will work in the server, by setting up the "url" origin to the local repo. So it is not necessary to actually push the commit to the server.

But yes, I understand that

[2022-09-15 14:59] derived-coder opened #12127 "[bug] fPIC is not forwarded anymore when using CMake tools"
The fPIC compiler switch seems to be not forwarded anymore to cmake when using the cmake tools.

[code]

I have following test case:
[conan-fpic-test-case.zip](https://github.com/conan-io/conan/files/9575984/conan-fpic-test-case.zip)

### Environment Details (include every applicable attribute)
  * Operating System+version: Linux ubuntu 18.04
  * Compiler+version: gcc7
  * Conan version: 1.52.0

[2022-09-15 15:00] fourbft opened #12128 "conan-server version 2.0.0b3 does not start"
This is a conan 2.0.0-beta issue. I hope, this issue tracker is for 2.0 development issues, too. (Haven't found any information about special report channels for 2.0)

### Environment Details (include every applicable attribute)
  * Ubuntu-22.04, but same behavior in a clean alpine-python docker image (with python 3.9)
  * Python 3.10.4
  * Conan version 2.0.0b3

### Steps to reproduce (Include if

[2022-09-15 15:30] MTomBosch opened #12129 "[question] How to see if package is taken from Conan download cache or downloaded from Artifactory?"
In order to better understand the download traffic from our Artifactory instance towards our CI/CD build machines that are supposed to use the Conan download cache I would need to know if there is a way to configure Conan to log to console (or log file) when a package is not downloaded from Artifactory but taken from the download cache.

I was going through the documentation and even playing aroun

[2022-09-15 16:31] ohunter commented on #12118
Ok, it seems like we want to address different issues here. The issue you are describing is that the build system doesn't listen to the conventional environment flags. I have not encountered that myself, but I can see how that is something that you would want to handle. The issue I would like to solve is that the build systems themselves need to be informed that testing the configured compiler has

[2022-09-15 16:47] blackk-foxx commented on #12096
@memsharded, I tried your recommended approach, and it worked very well -- thanks!  But I'm still curious as to why `cmake.test()` runs `cmake --build <builddir> --target test` instead of `ctest`.

[2022-09-15 18:14] dstfvrt opened #12130 "[feature] Expose `conans.ConanFile.run()` args to user"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

`ConanFile.run()` contains several arguments that alter behavior (most notably `ignore_errors` for my use case). All of these are detailed on [conan.io](https://docs.conan.io/en/1.6/reference/conanfile/other.html)

AFAIK there is no way to leverage these values with a `CMake.build()`

[2022-09-15 20:33] dstfvrt commented on #12130
A little bit more about my use case:

I want to propagate the exit code for a build up to the user definition that calls `CMake.build()`. There are two changes I had to make in order to get this working

1. set `ignore_errors=True`. The exception raised in the event of a build error in `ConanFile.run()` diverts execution to the except suite and my program never sees the return from the `CMake.buil

[2022-09-15 21:22] ohunter commented on #12118
I'm working on a minimum project to show what I mean more closely as I am generally terrible at explaining stuff.

[2022-09-16 01:18] eli-schwartz commented on #12118
Meson will, at configure time, log various stuff as it configures... one of those things is "Build type: XXX build", either "native" or "cross". During cross builds, unless an exe_wrapper (such as qemu-user) is also specified, Meson knows that it shouldn't try to sanity check the test program by running it.

It *will* still sanity test the native compiler if you have both native/cross targets in t

[2022-09-16 01:38] radonish commented on #12120
@memsharded, thanks for your response. In this case the lockfile generated by the parent job is fully specified; each package in the dependency graph has the package revision filled out (using package_revision_mode). The process on the parent job is currently:

1. Parent job does a `conan export` of each package contained in the repo
2. Parent job generates the lockfile with all package IDs and pa

[2022-09-16 01:49] stackfun opened #12132 "[bug] Conanfile.py generated in an alias is not compatible with conan 2.0"
When creating an alias, I noticed that the generated conanfile.py looks like this

[code]

However, according to the [conan 2.0 migration guide](https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html), it states that conanfiles should be using the new import `from conan import ConanFile` instead (conans => conan).  I believe this means that aliases generated in conan 1.x will not be compati

[2022-09-16 05:54] paulocoutinhox commented on #12071
Hi @czoido

The only necessary code is this?
[code]

Because inside conan it has a fallback:

[code]

It is here:
https://github.com/conan-io/conan/blob/9c4487efc26118dc5953720bddd3eb265c2f485e/conan/tools/apple/apple.py#L73-L77

I cant set on conf, i need set on my toolchain to make it work automatically.

I can't keep making my process worse because of Conan version 2. I need to keep getting the

[2022-09-16 06:03] czoido commented on #12128
Hi @fourbft,
Thanks a lot and sorry for the inconvenience, we will fix that as as soon as possible and make sure it does not happen again.
In the meantime, you can install the beta2 version (`pip3 install conan_server==2.0.0-beta2`)

[2022-09-16 06:50] czoido commented on #12071
Hi @paulocoutinhox,

Let me mark this issue as look-into and check with the team so we can discuss what how we should approach these cases.
Thanks a lot for the feedback.

[2022-09-16 07:32] lasote commented on #12107
Hi, I was trying a patch for this but:

That won't work either, because when running the executable, it is in `...efc02ebc0b/bin` but the libraries are in `...efc02ebc0b/lib` so, the following works but It doesn't look amazing either:

`@executable_path/../lib/libhello.0.dylib`

WDYT?

[2022-09-16 07:54] SpaceIm commented on #12107
There is this trick in capnproto recipe: https://github.com/conan-io/conan-center-index/blob/03077b819c744da195224c9e5e25783f19bceb9b/recipes/capnproto/all/conanfile.py#L121-L122

It allows to call capnproto executables linked to shared capnproto libs without `DYLD_LIBRARY_PATH` (useful in add_custom_command() of consumers, since it triggers SIP).

However, it's not a robust solution when external

[2022-09-16 08:02] stefansli commented on #12098
@memsharded Any word on this? If this is not considered a bug, please close.

[2022-09-16 08:23] memsharded commented on #12098
Hi @vectorsli

I am trying to understand why ``conan_dep-with-dash.props`` name worked for you. We changed this because the special chars were breaking the xml files, I am not sure why they were not breaking in your case, is it that only the ``+`` is breaking, but not the ``-``?

[2022-09-16 08:30] memsharded commented on #12132
Hi @stackfun

Thanks for reporting, the fix would be quite easy, do you want to give it a try?

Also a note, in 2.0 the ``conan alias`` disappear in favor of ``conan new alias`` + ``conan export`` general commands.

[2022-09-16 08:59] fourbft commented on #12128
Hi  @czoido,
thanks for looking into the issue! No big problem on my side, was just evaluating conan 2.0 and stumbled across this. Will try to use 2.0.0-beta2 for the time being.

[2022-09-16 10:10] stefansli commented on #12098
Thanks for the response.

This is the `conan_dep-with-dash.props` generated with Conan 1.51.3:

[code]

We have been using these generated property sheets since Conan 1.39.0 and never had a Problem. We are using Visual Studio 2019 if that makes a difference.

[2022-09-16 10:16] memsharded commented on #12098
Do you have other packages that depend on such ``conan_dep-with-dash.props`` file? Or is it just 1-level dependency? Can you share the files of the consumers of dep, that should use the ``conan_deb-with-dash_props_imported`` as a value?

[2022-09-16 10:23] stefansli commented on #12098
Let's use a real-world example: `xerces-c`

In one of the generated property sheets there is this line:
[code]
I guess that's what you wanted to know. I didn't look at the full dependency graph so I have no idea how deep `xerces-c` is involved. To answer your question, we have multiple dependencies with dashes in their name at different levels in the dependency graph.

[2022-09-16 11:01] SSE4 opened #12135 "[bug] some conan tools (e.g. conan.tools.apple.is_apple_os) don't work correctly from `validate`/`validate_build`"
### Environment Details (include every applicable attribute)
Operating System+version: macOS 12.3
Compiler+version: Apple clang version 13.1.6 (clang-1316.0.21.2.5)
Conan version: Conan version 1.51.3
Python version: Python 3.7.1

### Steps to reproduce (Include if Applicable)

run simple recipe doing:
[code]

as a result, sometimes it may raise `ConanException` instead of returning True/False as

[2022-09-16 11:32] czoido commented on #12127
Hi @derived-coder,

I would say your CMakeLists.txt is missing something like:

[code]

Hope this helps

[2022-09-16 12:07] magist3r commented on #11781
Hi @czoido,

I tried it on 1.51.0, it caused some issues with CMakeDeps generator. I'll try on the latest version.

[2022-09-16 13:03] stefansli commented on #12098
@memsharded According to the information I found, `[-._]` are allowed symbols for XML Tags. Only the first symbol of a tag may not be `[.-]`.

[2022-09-16 13:04] MTomBosch commented on #12109
Ok. Thanks for the info. I will still try it out on my machine too since our traffic was yesterday so huge again that the only explanation is that no cache is in place (which is). Will post an update once I have some news from my testing.

[2022-09-16 13:31] czoido commented on #12071
Hi @paulocoutinhox,

After having a look at this with the team and checking that some Conan Center recipes also use `XCRun` we will make it public, so I'm marking this issue with the label feature for the next release. We also talked about adding some internal code or arguments to [address this](https://github.com/nativium/nativium/blob/1b138e8b5098aae94009f59561926fc98f112716/conan/darwin-toolcha

[2022-09-16 13:54] hwhsu1231 commented on #12077
@lasote

As I imagined, this issue is **"NOT"** caused by `cmake-conan`.

I tried what you said, doing without `cmake-conan` and using the `CMakePresets.json` generated by `CMakeToolchain` generator. However, it shows the **"SAME"** result. That is, the `IMPORTED_LOCATION_<CONFIG>` is still **"EMPTY"**.

[code]

### Steps of configuring the project

-   Download and unzip the project:

    [test-m

[2022-09-16 13:58] lasote commented on #12135
I cannot reproduce, Would you mind sending me a recipe and the command you are running?

[2022-09-16 14:01] lasote commented on #12072
@uilianries In develop (Conan 1.X) we have a known different behavior with the `settings` and the `info`. We want, by looking into this issue, the different use cases, and possibly more, and introduce tests in develop2 modeling them. Once we get something that works, we will work in how to migrate the same behavior to Conan 1.X and help in the migration of the recipes.

[2022-09-16 14:09] lasote commented on #12129
You can use [CONAN_TRACE_FILE](https://docs.conan.io/en/latest/reference/env_vars.html#conan-trace-file) environment variable. Traces will be recorded to a file like: https://docs.conan.io/en/latest/mastering/logging.html#logging-and-debugging
This is only Conan 1.X. We don't have something similar in develop2 yet.

[2022-09-16 14:11] SSE4 commented on #12135
[code]

[code]

[2022-09-16 15:47] fourbft commented on #12128
2.0.0-beta2 works! Thanks!

[2022-09-16 16:13] paulocoutinhox opened #12136 "[question] Bitcode support is deprecated"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I don't know if is relevant, but i will post only to conan team know it.

Apple deprecated Bitcode support after Xcode 14.

Release notes of Xcode 14:
https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes

[code]

Some discuss:
https://stackoverflow.com/

[2022-09-16 16:58] paulocoutinhox commented on #12071
Thanks @czoido

Autotools use this part?
https://github.com/nativium/nativium/blob/main/conan/darwin-toolchain/conanfile.py#L105-L106

And CMake use this part?
https://github.com/nativium/nativium/blob/main/conan/darwin-toolchain/conanfile.py#L108-L115

[2022-09-16 20:27] stackfun commented on #12132
While working on a PR for this, I noticed that all conanfiles generated by `conan new` have imports that are not compatible with conan 2.x.

Would you recommend that I address all generated conanfiles in my PR? It may no longer be as simple as changing `from conans` to `from conan`. Or should I limit the scope to just fixing the alias since this is my first contribution to the project?

[2022-09-17 00:40] Goblin80 commented on #11782
For future reference:

after examining `journalctl`, it happens to be a problem with the locale

[code]
Make sure to `export LC_ALL=en_US.UTF-8;` in your .bashrc

[2022-09-17 02:11] mnesarco commented on #12104
Hello Friends,
As a new comer the experience was horrible at the beginning. But now that I  have managed to setup `conan`+`cmake`+`ninja`+`clang`+`vscode` I am converted.

I removed conanfile.py and I am using only conanfile.txt now:

[code]

And my default profile:

[code]

The most helpful resource was this video: https://youtu.be/X4bPsRAXHRs

Many thanks for all the developers and maintainers b

[2022-09-17 02:11] #12104 closed, assigned to nobody

[2022-09-17 07:16] ssrobins opened #12137 "[bug] Conan 2.0 beta 3 will not perform export_sources on uncommitted changes"
### Environment Details (include every applicable attribute)
  * Operating System+version: macOS Monterey 12.3
  * Compiler+version: apple-clang 13.1
  * Conan version: 2.0.0-beta3
  * Python version: Python 3.10.7

### Steps to reproduce (Include if Applicable)
1. `pip3 install conan==2.0.0b3`
1. `git clone https://github.com/ssrobins/conan-recipes.git`
1. `cd conan-recipes/recipes/box2d`
1. In t

[2022-09-17 13:30] hwhsu1231 commented on #12113
Got it. Thanks.

[2022-09-17 13:30] #12113 closed, assigned to nobody

[2022-09-17 17:35] dev-joss commented on #12105
Similar to visual studio .props files, I would expect conan to generate a .bff file with variables populated with the various dependency paths

[2022-09-18 09:54] ohunter commented on #12118
I do feel like this is somewhat besides the question, but that is a good point. Although I suspect that there would be more complications with this approach due to how these build systems configure their toolchains. CMake, Meson, and Bazel all do this when configuring the project. Yet all of them have different requirements in terms of the tooling they need to have set up. I've done a fair bit of

[2022-09-18 10:11] memsharded commented on #12105
As we are lacking FastBuild expertise, I'd recommend interested users on this build system to give it a try, and set up a repo that contains a package recipe intended to be ``python_require``d with:

- A ``FastBuildDeps`` generator
- A ``FastBuildToolchain`` generator
- A ``FastBuild`` command wrapper

We might be able to give feedback and guidance, but it is unlikely that we will be able to put t

[2022-09-18 10:26] memsharded commented on #12137
Hi @ssrobins

I am not sure what is failing, I am following the steps, except that I just call ``conan create .`` instead your script, and I get:
[code]

I am running the branch "main" of the repo.

[2022-09-18 10:35] memsharded commented on #12137
I have managed to reproduce.
The issue is that you are defining ``revision_mode = "scm"``. It seems then this behavior is expected.
As you are defining ``scm`` as the revision mode, and Conan 2.0 is working with the hypothesis of immutability (https://github.com/conan-io/tribe/pull/16), it is not updating the contents of the exported files, because same revision == same contents.

[2022-09-18 10:43] memsharded commented on #12104
Hi @mnesarco

Thanks for your feedback and following up. Happy to hear that you are converted now.
I am sorry that your onboarding experience was not as smooth as we intended, but let me clarify a few factors that could help explaining a bit:

- We are in the middle of the transition of 1.X->2.0, and this is a huge release, with many changes. The docs are a bit messy right now, we are re-writing t

[2022-09-18 10:45] memsharded commented on #12132
No, just change the ``conan alias`` command. Conan 2.0 has new templates, and also those templates in Conan 1.X have been already superseded by new ones with ``conan new hello/0.1 -m=cmake_lib``, which should already contain the new import. Thanks!

[2022-09-18 15:45] mnesarco commented on #12104
Thank you @memsharded ,
Yes I think the main problem was confusing/missing documentation.

My use case was:
1. Build a package locally using a custom recipe (copy of existing one with minor updates)
2. Use the local package.

There was obscure errors, hard to understand and hard to find info about them. I saw the light at the end of the tunnel by chance in a Youtube video.

In the end, everything

[2022-09-18 16:50] bkmgit opened #12139 "[feature] Update distro requirement to <=1.7.0"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).
Latest version of Distro is 1.7.0, it would be good to support this in requirements.txt as breaking changes seem to be few,
see https://github.com/python-distro/distro/blob/master/CHANGELOG.md

[2022-09-18 19:33] ssrobins commented on #12137
Given that https://docs.conan.io/en/latest/migrating_to_2.0/recipes.html#the-scm-attribute stated that the scm attribute won't exist in Conan 2.0, maybe it should have been a Conan error that I had it?

Anyway, thanks for the explanation. Since this isn't a bug, I'm closing this.

[2022-09-18 19:33] #12137 closed, assigned to nobody

[2022-09-18 21:25] memsharded commented on #12137
It is different. The ``scm`` attribute that is defining is the attribute (the ``scm = {"url": ..., "type": ...}``), not the value to ``revision_mode = "scm"``. The later is remaining in 2.0, but will be subject to the immutability principle, it is only valid for new commits, otherwise exported files will not be updated.

[2022-09-18 22:34] memsharded commented on #12098
Trying to avoid the filenames substitution in https://github.com/conan-io/conan/pull/12141.

Maybe just that the filenames changed is not enough reason, as it is experimental, but I think that if ``-`` doesn't break, better not replace it, as it will avoid other potential issues as collisions with ``+.`` substitutions.

[2022-09-19 01:14] HappySeaFox commented on #10602
Seems to be related to https://github.com/conan-io/conan-center-index/issues/13001

[2022-09-19 06:33] Bearwolves commented on #12101
Any update on that topic?

[2022-09-19 06:35] jellespijker opened #12142 "[question] How to set extra MSBuild properties in the MSBuildToolchain?"
I'm trying to modernize the cpython recipe in CCI that means porting to the MSbuild, MSBuildDeps and MSBuildToolchain generators. The current recipe passes an additional property `"IncludeExternals": "true"` https://github.com/conan-io/conan-center-index/blob/f85db3e60973cb076e694a1264946e29e82e66c5/recipes/cpython/all/conanfile.py#L395 to the build command; translating into an extra argument `/p:

[2022-09-19 07:58] czoido commented on #12136
Hi @paulocoutinhox,

Thanks a lot for the info. I think everything should be fine as enabling bitcode is an opt-in and by default it's not added. Anyway, it's nice to be aware, thanks!

[2022-09-19 08:06] czoido commented on #12139
Thanks a lot for the contribution. It will be available in Conan 1.53

[2022-09-19 08:06] #12139 closed, assigned to nobody

[2022-09-19 08:10] MTomBosch commented on #12129
OK. Thank you. Will try that out. Is there a special term that I can search for to know whether data was downloaded to the package cache or the download cache?

[2022-09-19 08:54] EstebanDugueperoux2 commented on #11344
Hi @memsharded,

I come back to this issue.
I can workaround the TSL checking issue by setting http scheme instead of https in all of my remotes.
But I'm interested if you have a ticket referencing the change in conan 2.0 about this custom command layer.

I reopen this issue about buildinfo.json. I can get a buildinfo.json with modules field non empty by calling "conan create ..." with correct par

[2022-09-19 09:14] a-zw commented on #10614
[Diego mentions that an error is raised in this 2022 ACCU talk (minute 24)](https://youtu.be/kKGglzm5ous?t=1448).

[2022-09-19 09:42] #12098 closed, assigned to memsharded

[2022-09-19 12:09] AndreyMlashkin opened #12143 "[feature] add function "getHostCmakeVersion""
In many conan-center recipes, there is such line;
[code]
The only reason for adding it is that CI has an older cmake version than a recipe requirement.
Many recipies consumers don't need this unnesessery dependency. It would be much better to have a conditional add here, i.e.:

[code]

Alternative solution:
we can add a new field 'min_cmake_requirement' to conandata.yml and add corresponding cmake

[2022-09-19 12:24] MTomBosch commented on #12109
@lasote I have figured out that there is a single tool (build require) that is creating 50 % of our download traffic. Now comes the fun fact. This tool was not uploaded with a revision but still has the default 0 revision since it was uploaded before we switched the conan configuration to use revisions. Could it be that in this constellation (usage of a virtual remote, enabled revisions but the bi

[2022-09-19 12:24] DoDoENT opened #12144 "[bug] ConanException: unsupported architecture armv8 on Windows on ARM"
Attempting to use `conans.CMake.configure` on WIndows on ARM, fails with the error:

[code]

I tracked the error to be [here](https://github.com/conan-io/conan/blob/a620e5b7ba6b0d2128edd2056b7391b5fabcd77d/conans/client/tools/win.py#L447).

Apparently, Conan still isn't aware of the native ARM support that came with Visual Studio 2022 17.3 (there is now `vcvarsarm64.bat` which configures for nativ

[2022-09-19 13:17] czoido commented on #12142
Hi @jellespijker,

The current implementation of the MSBuildToolchain does not allow adding custom properties that can later be passed to the build system like other integrations do. I think we can mark this for the 1.53 to be added as a feature or at least to consider it. Thanks a lot for the reporting.

[2022-09-19 13:45] AndreyMlashkin opened #12146 "[question] are circle dependencies really so bad?"
During implementation of a mold recipe, I have realized, that I am not able to build anything with a profile:

[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.version=11.2
compiler.cppstd=17
compiler.libcxx=libstdc++11
os=Linux
os_build=Linux
[options]
[build_requires]
**mold/1.3.1**
[env]

It's confusing, how can I use mold as a build tool?
More than that, it's a

[2022-09-19 13:59] jellespijker commented on #12142
Great thx.

In the meantime I will just patch the `Directory.Build.props`
[code]

[2022-09-19 14:49] MTomBosch commented on #12109
I just tested and I can say that this is definitely (one or the) reason for the high traffic. The tool is always downloaded even if it is in the package cache. Question is now only if the revision is the root cause or something else.

[2022-09-19 15:38] MTomBosch commented on #12109
All packages that are downloaded over and over again are once with revision 0 whereas the others are nicely cached by the download cache. Can we change this ticket into a bug since this is not what was documented nor what can be expected (acc. to the documentation)?

[2022-09-19 17:57] derived-coder commented on #12127
But CMake should be conan agnostic. The "way" I was told there should be no `if (conan)` or something like that in consumer build scripts.

[2022-09-19 20:58] CypherpunkSamurai commented on #7369
Hello Everyone, Is this issue still active?

This issue looks beginner friendly, I'd like to contribute to this issue :)

[2022-09-19 21:48] memsharded commented on #12109
I think this is by design: When you enable the revisions, the protocol starts to use revisions, and drop file checksums. But as the old package with revision 0 is not being revisioned, it can be re-uploaded by another client with disabled revisions, changing its content and overwriting the file. So the client with revisions enabled can only be safe assuming that revisions=0 cannot be cached.

[2022-09-19 21:49] memsharded commented on #7369
I think this is no longer active. It seems that we might considering using black after the migration to 2.0 ends, and we are no longer merging 1.X branches into 2.0.

[2022-09-19 22:16] memsharded commented on #12146
The thing is that such definition can easily go into infinite recursion. You cannot build mold, because you need mold, but you need to first build mold, etc.

The only possible way is to break the cycle, which can be done with some kind of conditional, as ``icu`` or other packages do:

[code]
That allows to do first a native build of mold/1.3.1 (assuming it doesn't need itself), and then it can be

[2022-09-20 01:30] dheater opened #12148 "[feature] Replace deprecated imp module with importlib"
The `imp` module was deprecated with Python 3.4 and is scheduled for removal with Python 3.12.

The minimum Python version supported by Conan is now 3.6, so we can now replace the last remaining instance of `imp` without needed any conditional statements.

Suggested replacement: https://csatlas.com/python-import-file-module/

- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/con

[2022-09-20 04:46] ytimenkov opened #12150 "[bug] Conan incorrectly assumes os_name in runenv_from_cpp_info for transitive dependencies"
### Environment Details (include every applicable attribute)
  * Conan version: 1.52.0
  * Python version: 3.8 / 3.10

### Steps to reproduce (Include if Applicable)
The problem is that `LD_LIBRARY_PATH` is not populated for transitive dependencies if recipe doesn't have `os` setting when using *single profile*.

1. Tool recipe (NOTE: declares settings):
[code]

2. Consumer recipe (NOTE: does not

[2022-09-20 05:58] MTomBosch commented on #12109
It was not clear to me that the "checksum" for the file is the package/recipe revision itself and not some additional checksum that Artifactory is computing on its own for every uploaded file.

[2022-09-20 06:11] czoido commented on #12143
Hi @AndreyMlashkin,
Thanks for the suggestion but I think, in this case most of the recipes that include that tool_requires are test_package's, so is not that if you install a Conan package you are getting an extra tool_requires. May it's a bit too much adding a built-in tool in Conan to cover that specific case and probably in the future those tool_requires will disappear from recipes.
Thanks for

[2022-09-20 06:15] czoido commented on #12127
That's the idea with the [new tools](https://docs.conan.io/en/latest/reference/conanfile/tools/cmake.html)  that you integrate seamlessly with CMake, but your example is using the [cmake generator](https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_generator.html) (that's why you need to include those lines) that we are recommending not to use any more and will dissapear in 2.0.

[2022-09-20 07:37] memsharded commented on #12109
Artifactory is not involved here, the cache also works for ``files.download()`` downloading from the internet. For Conan-server protocol, the revisions are checksums, and they are directly in the url, so Conan v2 protocol was directly leveraging that.

[2022-09-20 08:20] MTomBosch commented on #12109
Ok. Understood. Thanks for the clarification. If the doc related to the download cache would clearly mention that this would be a big help for other people that are interested in the download cache mechanisms.

[2022-09-20 08:20] #12109 closed, assigned to lasote

[2022-09-20 09:49] AndreyMlashkin commented on #12143
@czoido, I can't agree: in conan-center-index there are 34 recipes that are not test_packages are requiring cmake directly:

[code]

[2022-09-20 09:54] memsharded commented on #12143
This is related to this: https://github.com/conan-io/conan/pull/10166

I don't like the idiom of checking the local version in the recipes to pull or not a Conan ``tool_requires``, this is why I proposed that PR, but it is too experimental, we will probably re-consider again in the future 2.X

[2022-09-20 10:19] AndreyMlashkin commented on #12143
The cleanest way would be to update cmake on all CI runners :D
But as I understand, there is some blocker, right?
@jgsogo

[2022-09-20 10:56] jgsogo commented on #12143
@AndreyMlashkin  In CCI we are driven by tribe minimum requirements (https://github.com/conan-io/tribe/blob/main/design/004-tools-cmake.md) unless a specific version is required for _all_ the recipes (this is why windows and macOS servers use other CMake versions). I think it is a good policy to keep the CI as stable as possible and, also, it should be good for broader compatibility.

I would supp