[2020-04-04 10:16] memsharded commented on #6793
This might be an easy to fix UX improvement, that outputs a more clear message clarifying about the input syntax.

[2020-04-04 11:10] patlecat commented on #6793
Ah yes you're right the syntax was wrong. But now I got these errors below and I do not understand why canon wants to do the downloading and building in it's own folder instead of the one I started it from and contains the conanfile.txt?

--------

[code]

[2020-04-04 11:19] memsharded commented on #6793
Hi @patlecat

Please read carefully the https://docs.conan.io/en/latest/getting_started.html and the Conan docs in general. Conan uses a local cache for installing (and building from sources if necessary) the dependencies. Boost will not be installed or built in your user folder. Conan will only put there the necessary files for your build system, (that are also temporary, shouldn't be commited to

[2020-04-04 11:26] patlecat commented on #6793
@memsharded Hi James
Thanks for the help so far. I read the getting started with the oversimplified and outdated MD5 example but it doesn't cover the most popular lib for C++ unfortunately. That would be a great addition though.
I generally found the docs not that easy to get into and there are no good beginner vids with hands-on tutorials, only very lengthy talks about the high level concepts of

[2020-04-04 12:07] garethsb commented on #5090
@memsharded and all, apologies for posting on a closed issue. I'm quite new to Conan and making good progress with adopting it in our CMake meta-builds. One thing that I'm missing is the ability to use `COMPONENTS` with `find_package`, for example to limit the number of Boost libraries pulled into the link libraries when using Conan. We want this to work with both single config `CMAKE_BUILD_TYPE`

[2020-04-04 12:23] memsharded commented on #5090
Hi @garethsb-sony

Yes, that is the final goal. We have started this feature by first implementing the model (just released in Conan 1.24) for conanfile.py recipes. Then next steps are to automatically build the in-package order based on the local dependencies between components, then propagate downstream to the consumer (at the model level first, that is, to ``deps_cpp_info``). And yes, the final

[2020-04-04 13:10] fulara commented on #6474
this would solve my problem described here:  https://github.com/conan-io/conan/issues/6356
I could export files based on the version - as that  would be probably available then.

[2020-04-04 15:02] garethsb commented on #5090
Thanks, @memsharded, that makes perfect sense. Yes, the linker's doing the work fine now, just felt a little inelegant 🙂 I'll try to dig into the filtering idea, and certainly track and feedback on developments from now.

[2020-04-04 16:09] wpalfi opened #6795 "[bug] Layout files: Unable to use absolute path on Windows"
### Environment Details (include every applicable attribute)
  * Operating System Windows:
  * Compiler Visual Studio 2019:
  * Conan version 1.24
  * Python version: 3.7.3

### Steps to reproduce (Include if Applicable)

- `git clone https://github.com/conan-io/examples.git`
- run `features/editable/cmake/build.bat` => works as expected
- in features\editable\cmake\layout_vs replace `src` by `C:/

[2020-04-04 17:04] EugenMayer opened #6796 "[question/bug?] Problems building anything on arch=x86 under windows"
Hello,

i have proper builds of qt and qca using arch=x86_64 under windows, but when using arch=x86 both build fail with the same reason.

Both are build under windows10, visual-studio 2019 - you see the flags below.

Scanning bincrafters i hardly find anything build for arch x86 (as QT/QCA are not either - so my question, is that broken entirely under windows / discourage / impossible what so eve

[2020-04-04 19:51] memsharded commented on #6796
Hi @EugenMayer

From what I see, this might be mostly an issue of the Qt recipe you are using, isn't it?
It seems you are having a loop in your requirements, which might come from a conditional requirement that depends on the architecture only. We would need to have a look to those recipes in order to help. Of course a simplified case, with very simple "hello world" recipes would be very helpful t

[2020-04-04 21:12] Ignition commented on #5276
Thanks @jgsogo, I'll give a try and report back if I have any issues.

[2020-04-04 21:19] Ignition commented on #5604
@jgsogo thanks, I'll see how the new approach alleviates certain work arounds I currently have in place and report what still the new solution looks like.

[2020-04-05 16:00] StefanUlbrich opened #6797 "[bug] Conan does not install correct dependencies on OSX when using poetry"
### Environment Details (include every applicable attribute)
  * Operating System+version: OSX Catalina
  * Compiler+version:
  * Conan version: 1.24.0
  * Python version: 3.7

### Steps to reproduce (Include if Applicable)
[code]

Related to   [Poetry issue 2269](https://github.com/python-poetry/poetry/issues/2269).
The [tar ball on pypa](https://pypi.org/project/conan/#files) does not contain th

[2020-04-05 16:22] memsharded commented on #6785
I have started having a look at this by building a unit test: https://github.com/memsharded/conan/pull/new/test/find_package_header

This is passing, so it doesn't seem that header only libraries is a big problem for the cmake_find_package generator.

I have started to have a look to your recipes, and it seems that you are using your own cmake scripts, not the automatically generated ones, but I n

[2020-04-05 16:52] memsharded commented on #6785
Make sure to read the output, and specially warnings.

You are missing:
[code]
In your StdoutLogger recipe. The settings are necessary if you are building a binary, and to get the right inputs for the CMake() build helper.

[2020-04-05 22:10] memsharded commented on #6785
I have made your example code work with the following changes:

IGenericLogger: Remove the line that packages the .cmake file. To make sure Conan is using the autogenerated one.

[code]

In StdoutLogger:

[code]

It works both with the ``cmake_find_package`` and ``cmake_find_package_multi`` generators.

[code]

[2020-04-06 07:07] manojkdi commented on #6756
I am running the following conan command inside  docker
powershell 'docker-compose run --rm topograndebootrom conan install . -g virtualenv'

and the conan install fails with error message as stated.

[2020-04-06 07:08] manojkdi commented on #6756
This is becoming a very critical issue for me. This issue is intermittent, some times the Conan install proceeds smoothly without any issue.

[2020-04-06 07:51] SSE4 commented on #6534
adding some recipe authors (sorry for the noise)
/cc @solvingj @madebr @Croydon @theirix @uilianries @SpaceIm @ericLemanissier @Minimonium
if you have some opinion on this, pls feel free to share :)

[2020-04-06 07:53] SSE4 commented on #6534
my personal opinion:
declarative is much better: shorter, cleaner, easier to read.
e.g. the following code:
[code]
will be very long after the conversion...
I personally used the former syntax in few recipes (e.g. [Android NDK](https://github.com/bincrafters/conan-android_ndk_installer/blob/testing/r20b/conanfile.py#L19))
so far it was reliable, didn't introduce any problems, was easy to maintain.

[2020-04-06 08:21] jgsogo commented on #6790
I think I need more information here about the pain/proposal/alternatives... if not me, our future "we" will need more text to understand this issue.

[2020-04-06 09:01] tfar commented on #6209
This sounds particularly important for automated systems like CI infrastructure. Without some form of automatic cleanup they will accumulate a lot versions for all the dependencies and eventually the system will run out of disk space.

So yeah, storing the last recently used date like @memsharded suggested along with a configurable storage quota for conan would be a nice solution. That way it can

[2020-04-06 09:21] memsharded commented on #6209
Hi @tfar

At the moment the best policy is to periodically remove the Conan cache. Specially in CI systems, the Conan cache should be one Conan cache per job, because the cache is NOT concurrent. Having multiple jobs accessing at the same time the Conan cache might produce race conditions. Then probably you want to remove the cache together with other data of the CI build job, when the CI job is o

[2020-04-06 09:25] jgsogo commented on #6534
@memsharded , any concerns regarding the graph, config, settings propagation,... that we should take into account here?

[2020-04-06 09:28] memsharded commented on #6790
Done

[2020-04-06 09:31] memsharded commented on #6534
This has implications related to the non-existence of binaries, and how this might be managed in the future, if we decide to expand always the build-requires (the complete graph). So in any case, this might be moved all together to its own validation method, not in the declaration of settings. It is feasible to implement helpers in that method to have declarative powerful syntax.

This can wait fo

[2020-04-06 09:59] #6797 closed, assigned to nobody

[2020-04-06 11:05] danimtb commented on #6756
Sorry, I don't have enough information to help you. I will need some reproducible way to test this and see where it fails. I can recommend you enabling some debug variables like https://docs.conan.io/en/latest/reference/env_vars.html#conan-trace-file, increase the debug level and so to see if we can figure out what is happening

[2020-04-06 12:04] Knitschi opened #6801 "[bug] Conan fails to download pcre package sources because of "sslv3 alert handshake failure""
I want to install/build the `pcre/8.41` package on a Debian system and conan seems to fail when it tries to download the source package.

`
pcre/8.41: Configuring sources in /home/knitschi/.conan/data/pcre/8.41/_/_/source
ERROR: Error downloading file https://ftp.pcre.org/pub/pcre/pcre-8.41.tar.gz: 'HTTPSConnectionPool(host='ftp.pcre.org', port=443): Max retries exceeded with url: /pub/pcre/pcre-8

[2020-04-06 12:38] jgsogo opened #6802 "[feature] Raise ConanInvalidConfiguration from recipes constraining settings"
From here: https://github.com/conan-io/conan/issues/6534

When a recipe is constraining the settings, it should raise a `ConanInvalidConfiguration` if the value provided doesn't satisfy the values allowed by the recipe:

[code]

Right now the output is a regular error that is pointing to a misleading Q&A

[code]

[2020-04-06 14:00] uilianries commented on #6795
It seems be a bug indeed.

The [documentation says](https://docs.conan.io/en/latest/developing_packages/editable_packages.html#layout-files):

What we have:

[code]

**Output:**
[code]

The `conanbuildinfo.cmake` contains:

`set(CONAN_INCLUDE_DIRS_SAY "C:/Users/uilia/Development/conan/examples/features/editable/cmake/say/C")`

That `C` seems be replicated from the prefix (drive letter).

[2020-04-06 16:39] czoido opened #6805 "[bug] [lockfiles] Using --profile with lockfiles does not fail if configurations do not match"
If you generate a lockfile and then create the package for that lockfile and provide a `--profile` for the create command that does not match with the one in the lockfiles there are no errors thrown like saying that the profile is incompatible for that lockfile.
Shouldn't Conan raise an error?

### Environment Details (include every applicable attribute)
  * Conan version:1.24

### Steps to reprod

[2020-04-06 16:58] NukeBird opened #6806 "[bug] Problems with sfml/2.5.1@bincrafters/stable on armv8 and armv7 (android)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: clang 8.0.7 (provided by android_ndk_installer/r20@bincrafters/stable)
  * Conan version: 1.22.3
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)
I used this profile:
[code]
and this conanfile.py:
[code]
I'm doing this:
[code]
### Logs (Executed comma

[2020-04-06 16:59] NukeBird commented on #6806
(by logs you can see I'm also installing "enet/1.3.14", "spdlog/1.5.0", "CLI11/1.9.0@cliutils/stable", "nlohmann_json/3.7.3", but everything OK with them)

[2020-04-06 17:05] bugproof commented on #6796
conan is acting crazy... I was building my project fine and suddenly it stopped working and it's trying to build libiconv even despite I don't use it and it fails building it.

[code]

[2020-04-06 17:06] NukeBird opened #6807 "[bug] Problems with opencv/4.1.1 on armv8 and armv7 (android)"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: clang 8.0.7 (provided by android_ndk_installer/r20@bincrafters/stable)
  * Conan version: 1.22.3
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)
I used this profile:
[code]
and this conanfile.py:
[code]
I'm doing this:
[code]
### Logs (Executed comma

[2020-04-06 17:15] memsharded commented on #6796
Hi @bugproof

Sorry, I don't see how your comment is related to this issue. It doesn't seem related at all, or I am missing a lot of information. I would suggest to submit a new Github issue with details instructions how to reproduce the problem you are reporting.

[2020-04-06 17:24] EugenMayer commented on #6796
@memsharded well i mean this is the official QT recipe of https://github.com/bincrafters/conan-qt - i would not really consider them to be new to conan, nor to QT or the build process. What do you think?

[2020-04-06 17:29] uilianries commented on #6806
Hi @NukeBird ! It's seems be related to Bincrafters' package, not a Conan client bug. You need to move your issue to https://github.com/bincrafters/community/issues/

Regards!

[2020-04-06 17:31] bugproof commented on #6796
@memsharded I realized it's fault of SDL2 recipe, libiconv fails to build on windows.

[2020-04-06 17:31] GRASBOCK opened #6808 "[bug] example poco/md5 fails with "undefined reference""
The example won't link.

### Environment Details
GCC Compiler (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Conan 1.24.0
Python 3.8

### Steps to reproduce
git clone https://github.com/conan-io/examples.git && cd examples/libraries/poco/md5
./build.sh

### Logs
[code]

[2020-04-06 17:33] uilianries commented on #6807
Hi @NukeBird ! It's seems be related to Conan Community's package, not a Conan client bug. You need to move your issue to https://github.com/conan-community/community/issues

Regards!

[2020-04-06 18:04] uilianries commented on #6808
Hi @GRASBOCK ! Which profile did you use? Could you please share your entire log?

I though you need to configure the settings.compiler.libcxx to libstdc++11.

On the Getting started section, step 7, there is an explanation:
https://docs.conan.io/en/latest/getting_started.htm

Plus:
https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html

[2020-04-06 18:45] NukeBird commented on #6807
@uilianries my big apologies! I moved it: https://github.com/conan-community/community/issues/323

[2020-04-06 18:45] #6807 closed, assigned to nobody

[2020-04-06 18:48] NukeBird commented on #6806
https://github.com/bincrafters/community/issues/1166

[2020-04-06 18:48] #6806 closed, assigned to nobody

[2020-04-06 19:27] uilianries commented on #6807
@NukeBird np! Thanks a lot!

[2020-04-06 19:44] marsmike opened #6810 "[bug] hard links are not preserved during creation of conan_package.tgz"
Dear Conan Community, thank you all for your valuable time and great work: **We simply love Conan!**

There is an issue when using Conan to package tools and compilers from tar balls (i.e. cross compilation toolchains) which are containing many hard links. To reduce the size on the hard disk, many existing toolchains are packaged as *.tar.bz2 file and in there are a lot of the same files which are

[2020-04-06 20:15] GRASBOCK commented on #6808
These are the contents of the default profile
[code]

Changing compiler.libcxx=libstdc++ to compiler.libcxx=libstdc++11 in the configuration did the job. Thank you very much!

[2020-04-06 20:15] #6808 closed, assigned to nobody

[2020-04-06 20:52] memsharded commented on #6808
Yes, please carefully read the docs, it is an "Important" green notice in https://docs.conan.io/en/latest/getting_started.html, saying:

[code]

[2020-04-06 20:57] memsharded commented on #6796
Regarding the recipes in https://conan.io/center/, please let me clarify one thing:

The packages automatically created from the conan-center-index repo: https://github.com/conan-io/conan-center-index/ are the ones without the ``@user/channel`` part. The current efforts by the community are largely focused on these new packages, and the old ones (including user/channel), will hopefully be migrated

[2020-04-06 20:58] memsharded commented on #6796
@bugproof Please report in https://github.com/conan-io/conan-center-index/ if libiconv doesn't build on Windows, so it can be fixed.

[2020-04-06 21:02] GRASBOCK commented on #6808
I didn't know what it meant. Guess I should have researched first.

[2020-04-06 21:09] memsharded commented on #6808
Oh, that is an inconvenient thing, we wrote a bit about it a long time ago if you want to have a look: https://blog.conan.io/2016/03/22/From-CMake-syntax-to-libstdc++-ABI-incompatibiliy-migrations-are-always-hard.html

The problem is that there are 2 builds of the standard C++ library, the "classic" one ``libstdc++`` and the one with C++11, ``libstdc++11``. You need to use one or the other, and th

[2020-04-06 21:22] memsharded commented on #6810
Hi @MarsMike

Thanks very much for your kind words! We are always happy to learn from users that Conan is being useful there!

Regarding your issue, it is possible. There is some provision in Conan to package symlinks, but the truth is that we haven't been reported or considered hard links in the past. We need to check this. It might be difficult to fix, but it would be great to identify the issue

[2020-04-06 21:32] memsharded opened #6811 "[feature] Built-in automatic "conan config install""
The most common request for a "global init hook", as proposed in:

https://github.com/conan-io/conan/pull/6434
https://github.com/conan-io/conan/issues/6423

Is to achieve the automatic call to ``conan config install`` periodically by developers when they use Conan.
Implementing it in hooks has several challenges, so we want to implement this as a built-in feature:

- It uses conan.conf to define

[2020-04-06 23:58] GRASBOCK commented on #6808
thanks. I hope that conan will not get cluttered with such things in the future.

[2020-04-07 01:44] solvingj commented on #6534
This is a very interesting issue. I will add the following points:

If they're not functionally equivalent (i.e. if `Constrained Settings` has different behavior when computing graph), then i think it's a strong argument to deprecate it.  But... in the case they are equivalent but it's just about UX, then I have the following points.

**Regarding `Constrained Settings` strategy...**
1. shorter
2.

[2020-04-07 07:16] seanmlyons22 commented on #6155
@Morwenn I completely agree. @memsharded any thoughts?

[2020-04-07 08:04] jgsogo commented on #6802
Conan is capturing and raising again the exception as `ConanInvalidConfiguration` 🎉

https://github.com/conan-io/conan/blob/cf4cab6f9fc95ada3b69796f6de615b4d79ed1ff/conans/model/conan_file.py#L71

Here only the message with the link is misleading.

[2020-04-07 08:38] memsharded commented on #6802
I think the problem is that this message is common also for the case when settings are initialized with wrong values from dowsntream (profiles), so might not be straightforward to change that message, but the exception to be captured in Settings class.

[2020-04-07 08:41] memsharded commented on #6534
Regarding the shorter/cleaner, that is not always true. For example try to remove just the compiler.runtime subsetting from accepted settings, while leaving the rest untouched. Current syntax not very pretty or straightforward.

[2020-04-07 08:45] jgsogo commented on #6802
It should be easy to update the message in the linked line just to say that the recipe is constraining the settings, it is not something in the `settings.yml` file. Or maybe it is enough to update the docs Q&A section to tell about this situation causing this error. Anyway, if we add this issue to a release, it should be quite straightforward to improve the message and/or docs.

[2020-04-07 09:02] sinall opened #6812 "[bug] zlib override doesn't work"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows10
  * Compiler+version: MSVC-2019
  * Conan version: 1.24.0
  * Python version: 3.7.0

### Steps to reproduce (Include if Applicable)
profile:
[code]

conanfile.py
[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[2020-04-07 10:44] vhuber opened #6813 "[feature] Alert final user if include_path (and other cpp_info directories) are not directories"
I wrote a recipe using a requires.
The required dependancy was misconfigured and the ` self.deps_cpp_info['required'].include_paths` was set to `[]`.

An alert indicating that the dependancy was misconfigured and its `include_path` was incorrect would be time saving.

More precisely, in `build_info.py` , in `_filter_path` we call `os.isdir.path(p)` and a warning here could be more than appreciated

[2020-04-07 12:42] radonish commented on #6510
@jgsogo - the behavior difference between using a reference and a path is very interesting. Thank you for pointing that out. I am now thinking that when I saw the different behavior I may have been using the full reference as opposed to a relative path.

For now I have changed our Jenkins/CI code to use the full reference but longer-term it would **really benefit us** to have the same behavior (ha

[2020-04-07 12:58] uilianries commented on #6812
@sinall Please, use the packages from [Conan Center Index](https://github.com/conan-io/conan-center-index). Some packages listed in your recipe are totally deprecated. Use the follow packages instead:

- [zlib/1.2.11](https://conan.io/center/zlib/1.2.11)
- [boost/1.71.0](https://conan.io/center/boost/1.71.0)
- [libzip/1.5.2](https://conan.io/center/libzip/1.5.2)
- [bzip2/1.0.8](https://conan.io/ce

[2020-04-07 13:10] sinall commented on #6812
@uilianries Conan center index doesn't provide x86 binaries. My application still depends on those x86 binaries.

[2020-04-07 13:53] uilianries commented on #6812
You could build those packages and run a local Artifactory to keep them. Users which requires ARM, for instance, they need to build all packages, as there aren't pre-built packages for ARM.

[2020-04-07 13:59] sinall commented on #6812
I know, but those existing packages conbination is well tested. For instance tesseract/4.0.0 has some bugs so we can not use it. I failed to build boost last time, and it took a huge time. Do you have plan to migrated those legacy packages into conan-center-index?

[2020-04-07 14:20] uilianries commented on #6812
If you need the early version, you could open an issue request such version, or just a PR updating the conandata.yml and config.yml with the new version.

If the package is broken, you can open an issue reporting about.

Besides that, only CPP Rest SDK is pending, but we have a WIP: https://github.com/conan-io/conan-center-index/pull/1191

[2020-04-07 14:25] Minimonium commented on #6157
I've made a tool solution to the `compatible_packages` problem:
https://github.com/conan-io/conan/blob/e642aef902b649b6e757b44c99bf7ba934032d01/conans/client/tools/settings.py#L271

[2020-04-07 14:30] sinall commented on #6812
I forgot to mention: the error happens after I added "sqlcipher/4.3.0".

[2020-04-07 15:00] sinall commented on #6812
Just let you know, after I change `zlib/1.2.11@conan/stable` to `zlib/1.2.11`, It works now.
Don't know if `override` is only applicatable for center. Here's the working config:
[code]

[2020-04-07 15:18] alacasta opened #6814 "[feature] Make the Dot Graph more readeable"
_**As a** user, **i want to** have a clear and simple manner for reading the dependencies of a given project **to** detect misalignments in the architecture faster._

## Baground
`Conan` has two different formats for generating the output of the dependencies graph
- `html`: providing an interactive HTML graph
- `dot`: provinging a `Graphviz-DOT` file describing the dependencies. This file is, at t

[2020-04-07 15:24] memsharded commented on #6812
Hi @sinall

Yes, the explanation of the error message:
[code]

Is that there are different packages using different "zlib" packages. On one branch of the dependency graph, someone is still using the old ``zlib/1.2.11@conan/stable``, while some other more modern dependency is using the newer ``zlib/1.2.11``, and that is a conflict. Specifying which of the two ones you want, the conflict is resolved

[2020-04-07 15:24] #6812 closed, assigned to nobody

[2020-04-07 16:03] solvingj commented on #6534
Right, shorter/cleaner only "mostly" true (simple cases).

[2020-04-07 16:12] sinall commented on #6812
@memsharded Please consider the original configuration. Should it be supported?

[2020-04-07 16:17] alacasta commented on #6814
A proposal of changes to cover this feature is addressed at #6815

[2020-04-07 16:22] KerstinKeller commented on #5067
Is there any news on this feature? I'd really appreciate it. Often packages can work with `[>=]` references, but then the CI will prebuild the package for a given set of supported dependency versions.

[2020-04-07 16:24] memsharded commented on #6812
Hi @sinall

Actually the ``arch_build=x86`` was dropped. Initially was there, but it was taking too many resources of our CI (doubling the number of binaries we build on Windows, which is the slowest one in our CI), and in practice, the usage (number of downloads) of those packages was absolutely negligible, just a very very tiny fraction compared with the ``x86_64`` ones.

If you are using Conan

[2020-04-07 16:29] sinall commented on #6812
@memsharded I mean the conflict in my original post. Do you still consider it is a valid configuration and the conflict is a bug?

[2020-04-07 16:33] memsharded commented on #6812
Ah, no, not a bug. It is a "defect" in the dependency graph, not in the Conan tool, or in the dependency graph algorithm. The dependencies you are using are somehow incompatible between each other, because you are mixing "old" and "new" packages from ConanCenter. If you use all dependencies without the ``@user/channel`` part, then that will not happen, because all packages will depend on ``zlib/1.

[2020-04-07 16:38] tonka3000 opened #6816 "[question/feature request] support for default component"
Hey,

First of all, I'm really happy to see the progress of components in conan, which is my most wished feature in conan.

I've read through #5090 , #6653 and most of the other issues and PR's to get a better picture about the vision behind components. I've maintain a big code base where we heavily using conan and have the usecase which you described in #5090 , #6653 , multiple exe, shared libs a

[2020-04-07 16:42] sinall commented on #6812
@memsharded I'm confused by the `override` feature. I thought `override` is designed for such case, isn't it? So it only works when I use all packages from ConanCenter?

[2020-04-07 17:40] memsharded commented on #6812
The ``override`` is designed to not alter the topology of the dependency graph. In practice, it typically doesn't affect, but sure, you can specify the ``"override"`` qualifier to the ``zlib/1.2.11`` requirement declaration, the result is the same. It is not strictly for ConanCenter, but for any case when there is a conflict of dependencies, irrespective of the conflict. You can also generate a co

[2020-04-07 18:20] #6755 closed

[2020-04-07 21:44] ghost opened #6817 "can you please help me to install cmake in windows for opencv module."
python setup.py bdist_wheel
Version:  4.2.0+d608d69
setup.py:85: DeprecationWarning: SO is deprecated, use EXT_SUFFIX
  ['python/cv2[^/]*%(ext)s' % {'ext': re.escape(sysconfig.get_config_var('SO'))}],

.........................

scikit-build could not get a working generator for your system. Aborting build.

Building windows wheels for Python 3.8 requires Microsoft Visual Studio 2017.
Get it with

[2020-04-07 22:04] memsharded commented on #6817
Hi sorry, this issue report doesn't make sense at all. Please specify the Conan version you are using and the Conan commands to reproduce. I don't know how scikit-build is related to Conan at all. Closing this at the moment, can be reopened later if it is necessary.

[2020-04-07 22:04] #6817 closed, assigned to nobody

[2020-04-08 02:31] AbhilashSunkad commented on #2635
I am getting the same above error. I am building libcurl for android. I have linked the crypto,openssl and curl library. Below are the libraries linking.
libssl.a libcrypto.a libcurl.a
I am compiling on Mac OS.
Not getting what to do next.

[2020-04-08 02:38] AbhilashSunkad opened #6818 "Linker errors when linking against libcurl"
Trying to build  libcurl for my android environment

Compiling and linking on MAC OS
I have properly linked the following libraries.
/platform/android/openssl/libssl-android-x86_64/lib/libssl.a
/platform/android/openssl/libssl-android-x86_64/lib/libcrypto.a
/platform/android/curl/libcurl-android-x86_64/lib/libcurl.a

Below are the logs .

/Users/Desktop/Projects/Android_Metrics//platform/android/c

[2020-04-08 02:54] sinall commented on #6812
@memsharded So "zlib/1.2.11@conan/stable" and "zlib/1.2.11" are different packages in Conan concept. I thought they are the same package. Maybe the document about `override` could clarify this in case people get confused.

[2020-04-08 07:54] jgsogo commented on #6818
Hi, @AbhilashSunkad

If you are using `libcurl` from Conan Center (https://conan.io/center/libcurl/7.69.1/), it is better to open this issue in the `conan-center-index` repository (https://github.com/conan-io/conan-center-index). It is the place where these recipes are being maintained. I'm sure there someone will help you to improve the existing recipe.

Thanks!

[2020-04-08 08:49] memsharded commented on #6812
Yes, exactly, they are completely different packages, in the same way ``zlib/1.2.8``is a different package too. They can contain different files. The idea is that you can use user/channel to create your own package, lets say for ``boost/1.72.0@mycompany/stable``, and it can contain different files, built differently, to suit your specific needs. And that package is a different one, that do not col

[2020-04-08 10:06] sinall commented on #6812
@memsharded Thanks for your explanation, it is much clear now. Cheers.

[2020-04-08 12:51] uilianries commented on #2635
@AbhilashSunkad please, open an issue to https://github.com/conan-io/conan-center-index/issues if you are using libcurl from Conan Center Index.

[2020-04-08 13:23] #6776 closed, assigned to jgsogo

[2020-04-08 14:03] punkcito1 opened #6820 "Sub-package not found during build"
I'm attempting to create a conan package for a Visual Studio project that has a dependency.  This project is using the source and recipe in the same git repository scheme with the SCM attribute.  The source is retrieved separately after which conan install is called to install the dependency.  When calling conan create the source is copied to the cache and the build is started, however, the depend

[2020-04-08 15:16] jonathangoorin commented on #6452
@czoido Hi I'm new to conan - and I can't quite figure how to use your solution.
I Also have private repository that I need to clone in source method and for that I have to pass the github credentials from jenkins

If you can point me up to location for the RTFM, that'd be also great :)

[2020-04-08 15:21] jgsogo commented on #6820
Hi, @punkcito1

The command `conan create` should do all the job: retrieve the source, copy them to a build folder, install the dependencies (using the declared generators), build the library and gather the binaries to create the Conan package.

From what you say, I think that your build is failing in the cache because the `conanbuildinfo.props` file is not there. This file shouldn't be copied to

[2020-04-08 15:22] czoido commented on #6452
Hi @jonathangoorin,
This is the section in the documentation: https://docs.conan.io/en/latest/creating_packages/package_repo.html#capturing-the-remote-and-commit-scm
We also have an example in the release post: https://blog.conan.io/2020/02/11/New-conan-release-1-22.html
Hope this helps, feel free to ask if you have any doubts on how to use it.

[2020-04-08 15:36] jgsogo commented on #6813
Yes, we can check that all the paths are not files, and, as the data is cached it shouldn't be a performance issue. This error will raise for the consumer, but also for the recipe creator if there is a `test_package` (highly recommended).

Thanks for the suggestion!

btw, it is also an easy pull-request if you feel like to ;D

[2020-04-08 16:59] jeremy-coulon opened #6822 "[feature] Specific return code for missing credentials"
I am integrating conan into another build system (gradle).
I would like conan to return a specific error code in the case of a missing authentication.
ie. a return code distinguishable from other existing return codes:
https://docs.conan.io/en/latest/reference/commands/return_codes.html

Currently our build fails when a user forgot to give his credentials with:
[code]

As all of our team is new to

[2020-04-08 17:06] DukeOfKirkcaldy opened #6823 "[feature] access `deps_cpp_info.src_paths` in package() method"
Until something like #4289 is implemented, I want to be able to repackage the sources of my dependencies so that I can view them while debugging the binaries of the application package.  However, it seems that the `src_paths` attribute of `self.deps_cpp_info["dep"]` is empty when called from the package method.

Can this be made available?

(I know that I can workaround this by first using the imp

[2020-04-08 22:05] memsharded commented on #6777
Had a look, it seems it is not a matter of calling another function there, but the workaround in https://bugs.python.org/issue38633 is about monkey patching the python stdlib. Was applying that patch enough to make it work, or something else?

[2020-04-08 22:11] memsharded commented on #6801
Hi @Knitschi

A couple of questions:
- Does it happen with other packages too? Or it is just this one package, downloading from this specific server?
- Could you try a "pure python" download of that file? Something like:
[code]

[2020-04-09 09:38] jonathangoorin commented on #6452
@czoido Thanks for the answer.
As I understand it is good when building in source
I'm personally using conan cache to build the package in out of source build
and i'm trying to propagate Github credentials to the recipe through environment variables
And I keep seeing them in conaninfo.txt.

Is there any mechanism to handle credentials in conan recepies?

[2020-04-09 11:12] Nekto89 commented on #6777
I've just copy-pasted workaround to beginning of ~/.local/bin/conan to make it work but it doesn't look like a good idea for production.

[2020-04-09 11:23] memsharded commented on #6777
Yeah, I wouldn't be very excited about this. But I don't see any other way, it is kind of core Python bug, and needs to be patched. To my understanding that is the best Conan can do, I don't see any other way. So we might declare this as "not-a-bug" in Conan or "non-fix", if the monkey-patch is too much to be included in our production code, and delegate to users to patch their pythons... not sure

[2020-04-09 12:18] pepsiman commented on #5372
[code]

[2020-04-09 14:11] clayhill commented on #5738
Quick question: are the reasons given above for not fetching a newer version from the remote with `conan info --update` the same for `conan graph --update`? We're running into identical problems and are looking for a solution that hopefully does not require `conan install`.

[2020-04-09 14:17] jaques-sam commented on #5738
And furthermore, from the documentation it looks like `conan graph` works like a dry-run `conan install` ([as explained below for the `build` parameter](https://docs.conan.io/en/latest/reference/commands/misc/graph.html)). So for consistency, the `update` parameter should also work the same way, as one would expect.

[2020-04-09 14:43] jaques-sam commented on #3494
Same issue for `conan graph lock --update`

[2020-04-09 17:28] punkcito1 commented on #6820
I found the problem.  Conan correctly obeys the gitignore list when copying files from the users local repository directory.  I had configured my setup to put the install files under an x64\Debug directory which would be ignored.

[2020-04-09 17:28] #6820 closed, assigned to jgsogo

[2020-04-09 18:48] himikof opened #6826 "[bug] New init() recipe method runs before name/version attributes are assigned"
### Environment Details
  * Operating System + version: Linux, Fedora 30
  * Conan version: 1.24.0
  * Python version: 3.7.6

When the new `init()` method runs, the recipe object is currently in a partially initialized state. I was very surprised to find that the name/version attributes from the command line are assigned only after the `init()` is executed. I did not find any documentation on what

[2020-04-09 19:22] memsharded commented on #6826
Hi @himikof

As the documentation states, the init() function is intended for processing python_requires. It is the very first thing that is called when loading, if the ``name`` and ``version`` are not defined as class attributes, they will not be defined yet. If they are defined in ``set_version()`` for example, that runs after the ``init()`` indeed. It is very much like the ``__init__()`` python

[2020-04-09 20:17] uilianries commented on #6810
@memsharded The PR https://github.com/conan-io/conan/pull/6827 contains a very similar scenario where I can reproduce such behavior.

[2020-04-09 21:57] himikof commented on #6826
I'm not exactly using `python_requires`, but I tried to append to some attributes using declarative data in `conandata.yml`, instead of a python base. I wanted the data in YAML be keyed by the name of the recipe passed from command line.

Is the `init()` method not the right method to use to set arbitrary attributes during initialization? It seems very much fitting for this purpose.

[2020-04-09 23:11] memsharded commented on #6826
Yes, as explained in the docs, https://docs.conan.io/en/latest/reference/conanfile/methods.html#init, this method is designed for filling a void at class initialization from inherited ``python_requires``, and that is the documented use case.

If you could explained a bit more your use case, then maybe we could take it into account and provide and document other usages of the method, but we need to

[2020-04-10 00:09] fulara opened #6828 "[question] short references are not recognized as references but patterns"
I  stumbled on this by mistake.. not really an issue for me.

It seems that short references not recognized as references even with the `@` sign example:

[code]

[code]

is this intentional?

[2020-04-10 07:00] kenavolic commented on #6570
Hi,

I agree with  @KerstinKeller on the way cmake_paths generator can be very useful, especially for projects with complicated cmake configuration file like [ITK](https://github.com/InsightSoftwareConsortium/ITK) or for conan agnostic projects.

Correct me if I am wrong (conan newbie) but with cmake_paths path generator, the path to package roots are added to cmake paths. But, the relevant XXXCon

[2020-04-10 12:16] memsharded commented on #6828
Yes, it is an annoying issue of the current command line, if it is not a reference (and 1 char versions or names are not accepted as references), it is a pattern, and it searches for recipes, not for binaries.

The new command line we are already designing will completely disambiguate this. It is already in the design for Conan 2.0.

[2020-04-10 16:30] sinall opened #6829 "[question] How to prevent conan-imports from copying cygwin dlls"
profile:
[code]

conanfile.py
[code]

`conan imports`

It copys about 70 cygwin dlls, is there a way to prevent this?

[2020-04-10 22:19] NukeBird opened #6830 "[question] combine libraries into one"
Let's say I'm developing library A with dependencies B, C, D which were provided by conan (cmake approach)

And I have android project on Visual Studio which will use my library A

But I can't just link against A since it is highly tied with B, C, D. What can I do with it?

[2020-04-11 01:17] fulara opened #6831 "[feature] provide environmental variable for storage.path"
There seem to be a env variable for most of the things in conan.conf - why not for storage.data ?
I am forced to use sth like:
[code]
In one of my flows.
Env variable would be slightly more elegant from my perspective.

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-04-11 17:34] memsharded commented on #6830
Hi @NukeBird

I think your question is related to https://docs.conan.io/en/latest/devtools/running_packages.html, you could use the ``imports`` or ``deploy`` functionality, to get artifacts from the Conan cache and put them where you want other tools to find them. Please tell if this helps, thanks!

[2020-04-11 22:00] NukeBird commented on #6830
yes, I managed to get all the libs via

[code]
as well as with
[code]

but... how to combine them into one lib?

[2020-04-12 00:10] log4b0at opened #6834 "[bug probably] MD5 tutorial with cygwin"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 (cygwin)
  * Compiler+version: GCC 9.3
  * Conan version: 1.24.0
  * Python version: 2.7

### Steps to reproduce (Include if Applicable)
Do https://docs.conan.io/en/latest/getting_started.html in the cygwin terminal.

Im an absolute newbie to conan and i dont know if this error is due to CMake but

[2020-04-12 09:39] redradist opened #6835 "[feature] Conan simplify build procedure"
**C and C++** known to be hard to work with, because of lots of reasons ...
One of the reason that user should know how to install particular toolchain and configure it

Such languages as **Rust** has **RustUp**, but we do not (:

What if Conan will add downloading, configuring and caching of toolchain ?!

Consider use-case:

[code]

It will simplify working with C and C++ ;)

- [x] I've read the

[2020-04-12 10:16] kdsx opened #6836 "[question] Why multiple revisions can't be installed simultaneously to local cache"
I wonder what is the reason for the following restriction from the conan docs:

I'm thinking about how to organize reproducible builds. In general this could be achieved by requiring certain package revisions for certain commits. But here we come to issues with build time optimization. In our project we have multiple long-living branches for multiple simultaneously supported product versions. Thes

[2020-04-12 12:08] memsharded commented on #6835
Conan can install tools and compilers wrapped in conan packages

The following works in Windows:
[code]

There are several reasons why Conan does not provide built-in toolchains:
- There are license issues, Conan cannot wrap and redistribute certain toolchains, especially popular ones like Visual Studio, without licensing issues
- Many toolchains cannot easily be packaged and installed side by sid

[2020-04-12 12:08] #6835 closed, assigned to nobody

[2020-04-12 12:16] memsharded commented on #6836
Hi @kdsx

This is just an implementation limitation. Introducing revisions without breaking was really challenging feature, and this limited implementation allowed to simplify a lot of things and roll-out the revisions.

Yes, this is planned. Still not in the short term roadmap, because there are other higher priorities, but most likely for Conan 2.0 this will be considered.

[2020-04-12 12:23] kdsx commented on #6836
OK. Thanks.

[2020-04-12 14:16] fulara opened #6837 "[feature] conan to understand PUBLIC things exposed by underlying generators e.g cmake."
I am sure this probably has been raised in the past and discussed about - however I couldnt find any such thread.

Usually there is a lot of logic inside the original cmakes that we are aligning to conan usage.

One has to spend literally hours sometimes analyzing what these cmakes export and in what configuration.
Which makes migrating to new versions very risky - will someone check the cmake whe

[2020-04-12 14:58] DmitrySokolov opened #6839 "[question] Tons of "WARN: A: requirement Z overridden by B to Z"."
In the log I've got 1.5k+ warnings like:
[code]
Such amount of warnings is almost useless, I need a script to analyze them.
There is no sense in these warnings due to the version of `package_Z` was not changed.

Questions:
1. Is it a bug? (Z was overridden by Z)
2. If not, is there a way to suppress these warnings.

Besides, there is a list
[code]
3. Is there a way to suppress it also?

[2020-04-12 15:18] awgil opened #6840 "[question] Influence of options of dependencies on consumer's package ID."
As far as I understand, package_id() builds hash of a package based on settings, its own options and identifiers of dependencies (depending on package id mode, it could include name/version/user/channel/package-id/revisions).

Consider app -> lib -> sublib dependency graph. Let 'lib' be a compiled library (static or shared, doesn't matter), and 'sublib' be header-only library.

Assume sublib can w

[2020-04-12 15:25] DmitrySokolov opened #6841 "[bug] version ranges are broken."
The latest version of https://pypi.org/project/node-semver/ is broken a couple of months already. Pre-release versions are not working. See https://github.com/podhmo/python-semver/issues.
Would you consider to switch to a more mature library?

[2020-04-12 15:37] memsharded commented on #6841
Yes, we would consider it, in fact we have already tried, but so far we haven't found any solid alternative that provides the same functionality and would be very low risk to switch. Most likely need to be addressed in the Conan 2.0, as now would be too risky.

This is the reason the dependency is clamped in ``requirements.txt`` to ``node-semver==0.6.1``. Please use that version as defined by Cona

[2020-04-12 15:42] DmitrySokolov commented on #6841
Unfortunately, pre-release versions are not working in 0.6.1 also.

[2020-04-12 15:55] memsharded commented on #6841
Are you including the prereleases as specified in https://docs.conan.io/en/latest/versioning/version_ranges.html? If there is a specific bug you want to report, please specify how to reproduce it.

[2020-04-12 18:53] a4z opened #6842 "enable query for a package / profile combination, local and/or remote"
I would like to be able to query if a package for a given profile (and option set) exists in the local cache, or remote, or if it would be needed to be built.

Currently I can do this for the local cache via some complex workarounds,  but it should be simple doable via `conan search -pr profilename package/name@`  + remote option if remote search is wanted.
optimally, this should return something

[2020-04-12 19:23] memsharded commented on #6842
Hi @a4z

The problem is that there is no 1:1 match between profiles and package-ids. There are many things that affect the computation of a package-id, from the recipe ``package_id()`` method (with settings and options erasure, or the ``compatible_packages`` mechanism), to options definitions from overrides downstream, from versions of the dependencies (that are not defined in a profile, and can a

[2020-04-12 20:34] a4z commented on #6842
this is not the same
a profile contains build requirements, like cmake, and options.
as it seems, there is no other way to find out which of my packages have already been rebuilt with a new build requirement  in a profile, like cmake 3.17.0, and which not
without using a package with a profile and wait for an error message if it does not exist, or something like that.

[2020-04-12 20:44] memsharded commented on #6842
Build-requirements do NOT affect at all to the package-id. You can add them, remove them, change the version, and still the final package ID is the same, so it will not tell you if you need to build that package or not.

There are plans to change this, but at the moment, it behaves this way.

[2020-04-12 21:18] a4z commented on #6842
ok, then something different
[code]
but the profile has more, especially the c++ standard

[code]
any chance this will be added in the output?
still need to check if this can be queried .... but the query language seems somehow difficult, compared with just passing a profile

[2020-04-12 21:48] memsharded commented on #6842
The above packages do not show ``compiler.cppstd`` in the search, because they were created without it (or with ``compiler.cppstd=None``).
If you inject the above profile into that search, it will return no binary packages, and this is expected, because there are no zlib packages built with ``compiler.cppstd=17`` (in ConanCenter)

This is a search that you can do today with the ``--query`` argumen

[2020-04-13 07:37] danimtb commented on #6816
Hi @tonka3000 and thanks a lot for the question.

As you have seen, we are introducing the feature in small iterations and the last part regarding the CMake implementation, it is still some releases away. However, we are thinking about it while we develop the general model in the cpp_info structure.

Currently (Conan 1.24), you are only able to define components at cpp_info level assuming declarat

[2020-04-13 09:14] jgsogo commented on #6837
Hi, @fulura. This is something @SSE4 suggested time ago for pkg-config, I'm sure he remembers the issue and there we can find more meaningful comments.

This has some drawbacks: this would be at runtime, we'd need to build the libraries or to retrieve the sources, or even run `cmake.install` to get the actual files generated by the CMake process so we can read/parse/api-access them. There is no lo

[2020-04-13 09:17] jgsogo commented on #6834
Hi, @log4b0at

One question about your environment: are you using Conan installed inside Cygwin (you need to install the python package in Cygwin and the to install Conan using that python) or are you using inside Cygwin the Conan that you have installed in Windows?

Using native-windows Conan inside Cygwin can lead to problems (https://github.com/conan-io/conan/issues/6751).

[2020-04-13 09:31] jgsogo commented on #6829
HI, @sinall

The method `imports` in a conanfile traverse all the dependencies copying those files, but there are two scenarios with different behaviors:
 * If  your use just one profile in the `conan install` command (no profile at all, argument `--profile` or `--profile:host`) which is the _default_ way to use Conan, then all the `requires` and `build_requires` are in the same context and Conan

[2020-04-13 09:32] boussaffawalid opened #6843 "[feature] Add SCM info to conanbuildinfo.cmake"
It would be very awesome if conanbuildinfo.cmake can include scm info as well:

[code]

[2020-04-13 09:33] boussaffawalid commented on #6843
https://github.com/conan-io/conan/issues/5234

[2020-04-13 09:34] boussaffawalid commented on #6843
similar to #5234

[2020-04-13 10:00] fulara commented on #6837
Hello, @jgsogo - not sure what exactly you mean by conanfile::package_info.. but I've always missed actually this sort of data to be exposed in the conaninfo.txt ( or conanmanifest  i always get confused between these two. ).

For me its never clear what particular package exposes as:
* libraries
* include paths
* variables

Whenever we have an issue, linking error etc - its always a guessing game

[2020-04-13 11:36] memsharded commented on #6837
There are different things discussed here:

- Getting information from cmake (cache, parsing CMakeLists, etc) to "populate" the ``package_info()`` automatically seems a bit too complicated and fragile to me. From my experience is a big investment that brings a ton of new issues and corner cases that deserves further maintenance and features. something as simple as the ``tools.collect_libs()`` had

[2020-04-13 11:45] wpalfi opened #6844 "[workspaces] Decoupled Workspaces"
We started using conan for our own libraries more than two years ago. From the very beginning, we have often been working on multiple libraries (packages) in one visual studio solution, long before conan editables and workspaces were introduced, just using cmake's add_subdirectory and find_package. Now I tested conan workspaces for the first time. They are promising and similar to our solution, bu

[2020-04-13 13:39] czoido opened #6845 "[bug] Conan install --lockfile=lockfile.lock does not update the input file"
### Environment Details (include every applicable attribute)
  * Conan version: 1.24

When using a lockfile with the install command as input, for example:

`conan install libA/1.0@ --lockfile=mylockfile.lock --build=libA`

The install command will not update `mylockfile.lock` with `libA` node marked as `built`, but create a `conan.lock` file with that information.

[2020-04-13 14:42] a4z commented on #6842
so the best I can do is take a profile, translate it to a query string , and use this for conan serach.
But I need to know internals of that package, if its C , cppstd doe not matter and will give me no result, like for zlib , while if its a CPP project, I need to pass in this option....

this does not seem to help me for e.g. automation of some things
say I have a list of packages, and I want to

[2020-04-13 14:48] DmitrySokolov commented on #6841
test_a
[code]
test_b
[code]
commands
[code]

[2020-04-13 15:35] Minimonium commented on #6842
In my opinion, the table solution is a bad UX. It's multistep and pain with cli.
The `conan search reference -pr=profile` should look up the recipe, perform `package_id` with a given profile and print all found hashes (including compatible). In case there are no hashes found - the command should return an error, it would make it more useful for automation cases.

[2020-04-13 16:01] log4b0at commented on #6834
Hi @jgsogo
Yes i use a native-windows Conan that I installed using the windows installer.
I did not find a package "Conan" on Cygwin installer, is there a tutorial or something to know how to install Conan with this python script?

[2020-04-13 17:23] tylerholzer opened #6846 "Missing Build Info for Transitive dependencies when building missing"
We've recently encountered what we believe is a bug where the conan build info for transitive dependencies is missing from dependencies that are being built as part of a missing packages build.

Simple Example:
A depends on B depends on C depends on D.

In the simple example above, we run `conan install` to install the dependencies of A. During `conan install`, B needs to be rebuilt from source be

[2020-04-13 17:27] DmitrySokolov commented on #5866
There is the warning specially for this case:
https://docs.microsoft.com/en-us/cpp/error-messages/tool-errors/linker-tools-warning-lnk4098?view=vs-2019

Besides:
https://docs.microsoft.com/en-us/cpp/c-runtime-library/crt-library-features?view=vs-2019

Also:
https://docs.microsoft.com/en-us/visualstudio/debugger/debug-versions-of-heap-allocation-functions?view=vs-2019

Debug libraries use special v

[2020-04-13 17:31] DmitrySokolov commented on #1881
This issue is not actual anymore, I believe.

[2020-04-13 17:31] #1881 closed

[2020-04-13 17:46] LeeRuns commented on #3504
What if i want to pull down an external library that from a remote, and the remote "requires gcc" but I want to compile my library with clang.  Can i use gcc to compile the external library into shared objects then use clang for everything else (ie compile the shared objects into my library)

[2020-04-13 18:47] memsharded commented on #1881
Yes, the short paths were made deterministic in Conan 1.12

[2020-04-13 19:01] memsharded commented on #6842
This is a small UX improvement, and most likely not enough. Finding this is as "easy" as doing the above query, converting the profile to a ``-query="compiler=gcc and compiler.version=...``, etc. As explained above, in many cases it will show no binaries. You start this search because you are missing a binary. If you provide the profile as the input, the logical result is that there are no binarie

[2020-04-13 19:13] memsharded commented on #6842
Hi @a4z

say I have a list of packages, and I want to rebuild everything, just to be sure they all exist for a given profile on the remote all our users should use, but if a package exists in the local cache with this profle, just skip the build and do not call conan create .
How could I do that without saying:
hey conan, do you have a package foo that was build with profile bar?
if it exists, fin

[2020-04-13 19:19] memsharded commented on #6841
Hi @DmitrySokolov

As documented in https://docs.conan.io/en/latest/versioning/version_ranges.html, pre-releases are not automatically included (that is the main purpose of a pre-release, that it is not automatically used by consumers by default, consumers need to opt-in to consume pre-releases), try using ``['>=1.2.0-0 <1.3.0-0', include_prerelease=True]`` instead.

[2020-04-13 19:25] DmitrySokolov commented on #6841
`, include_prerelease=True` is working.

Thanks!

[2020-04-13 19:25] #6841 closed, assigned to nobody

[2020-04-13 19:53] Austin299792 opened #6847 "Two `_compress_recipe_files` functions in uploader.py?"
Hello,

I'm testing Conan repository support for our Sonatype Nexus repository manager (like a self-hosted Artifactory server, I think), but having some issues with the `conan upload --all <package> -r=<remote>`, even when following the simple hello program in Creating Packages > [Getting Started](https://docs.conan.io/en/latest/creating_packages/getting_started.html). I get the following errors:

[2020-04-13 22:23] a4z commented on #6842
you are talking about CI, parallel build and upload, but not about the developer who creates such things and who might have restricted resources.
If I spare 22 builds for each of zlib, openssl and libcurl, and 2 or 3 others, because they do not need to be rebuild when something changes in the profile, than this would help me.

I have a list of 15 packages,
I change something different in a profile

[2020-04-13 22:40] fulara opened #6848 "[bug] conan search behaves oddly with empty storage.path"
After breaking storage.path due to scripting mistake on my side, I stumbled across this.

So.. usually `conan search` without any arguments returns either:
* list of packages in your storage
* `There are no packages` output.

However when one breaks the storage.path and sets it to.. an empty string :) example:
[code]
Few interesting things happen  when one sets it to a '/' by mistake see this:
[co

[2020-04-14 08:50] Adnn commented on #3519
@memsharded conditional default values for options are also a feature we are looking for.

[2020-04-14 08:54] parrothouse opened #6849 "[question] What to do when a package isn't found"
Hi conan community,

I'm a new user of conan and it has been great so far. I would like to use a library I found on github, [cxxopts](https://github.com/jarro2783/cxxopts.git). I tried searching for this by:
`conan search cxxopts --remote=conan-center`
(along with bincrafters) but the search returns no packages.

What are my options when something like this happens? I'm trying to make a simple gam

[2020-04-14 08:57] memsharded commented on #6842
Yes, that is partially true. I definitely know how to add the above ``conan search -pr=profile`` command, but I am completely sure that this will be just digging deeper and causing technical debt, without really solving the issue. This will not help to solve your problem. When something is not feasible, or we don't have the resources, or it is computationally too expensive, I say so. In this case,

[2020-04-14 09:02] memsharded commented on #6849
Hi @fletcher-blight

For searching the ConanCenter, is way better to do in the web UI: https://conan.io/center/
If the dependencies you need are Open Source, and still not in ConanCenter (the new process of adding libs there is quite new), you can request them or even better try to contribute them in: https://github.com/conan-io/conan-center-index/wiki

[2020-04-14 09:09] jgsogo commented on #6834
Hi, @log4b0at . The recommended way to install Conan is using `pip` in a virtualenvironment, but I understand that if you are not used to Python it is easier to use the installer and this is why we are providing it.

To install it in Cygwin, two steps are needed:
1. Install the python package, you need to run the Cygwin installer again and choose a **Python package** from one of the mirrors (Pytho

[2020-04-14 10:19] memsharded commented on #6847
Hi @Austin299792

That is not an issue, one ``_compress_recipe_files()`` is a class method, and the other is a module function. They do not overload. Yep, the naming is unfortunate, and should be fixed, but this is not likely to cause your issue.

Of course a relatively easy quick check is to launch a local ``conan_server`` (included already with Conan), and upload there the package, just to check

[2020-04-14 10:24] #6075 closed

[2020-04-14 10:28] jgsogo commented on #6586
This's been merged in Conan recipe (https://github.com/conan-io/conan-center-index/pull/1244). A little bit better, but not the perfect solution.

[2020-04-14 10:28] #6586 closed

[2020-04-14 10:41] a4z commented on #6842
this means,  I would need to add a temp/fake consumer project, consuming the packages I build
~install them for this project~, and use the graph file and work with this?

I can have a look at that, this basically falls under the work around way, but if it is not too complex and allows me to extract the info I need more easy than currently, I can give it a trial
will have to test/check that approac

[2020-04-14 11:04] strentler opened #6850 "[feature] Lumin OS support"
I miss support for Lumin OS in Conan.

1) Any plans to support this?
2) What is a good workaround?

See:
https://www.magicleap.com/en-us/news/product-updates/lumin-os-0-98-10

[2020-04-14 11:12] memsharded commented on #6850
Hi @strentler

Adding new OS, compilers, etc. to the model is pretty straightforward: https://docs.conan.io/en/latest/extending/custom_settings.html. That is enough to model different binaries for a different OS. If the toolchains in that os behave very differently to others, they might need their own build helpers and generators (https://blog.conan.io/2019/07/24/C++-build-systems-new-integrations

[2020-04-14 11:18] Austin299792 commented on #6847
Thanks for your quick response. The conan_server does work as expected (upload to, including compressing and uploading the tgz, and downloading from).

Would you be able to provide any hints for me to track down why the binaries, etc. are not being compressed before uploading to the Nexus server. I will definitely get with them about this issue, but want to help them troubleshoot. Conan is a new r

[2020-04-14 11:28] memsharded commented on #6847
I have had a quick look to the code, trying to look for any reason that would inhibit that creation. So far I can't see anything. It would be useful to activate the ``CONAN_TRACE_FILE`` and capture and post here the traces, both when using the ``conan_server`` and the Nexus one. Maybe it makes sense to open the issue there, and link from here, because these traces might already be useful for them

[2020-04-14 11:57] strentler commented on #6850
Thx for the feedback @memsharded.
They have their own build system based on .mabu files:
https://developer.magicleap.com/en-us/learn/guides/magic-leap-builder-overview

They also have some way of building the libs through CMake:
(Search for CMake) https://developer.magicleap.com/en-us/learn/guides/sdk-mabu-ref-build-and-link-libraries

I managed also to compile some third party libs through 'make'

[2020-04-14 12:09] Austin299792 commented on #6847
Following your suggestion, I looked through their GitHub issues and [found](https://github.com/sonatype-nexus-community/nexus-repository-conan/issues/113) someone else with the same issue. There's an old branch that looks like it may have [fixed](https://github.com/sonatype-nexus-community/nexus-repository-conan/commit/204789dd0045a6cac242894f0b9152298790d7c3) the issue. I've asked them about test

[2020-04-14 12:19] DukeOfKirkcaldy opened #6851 "[question] are there any plans for standard lockfile storage through conan?"
For packages which have version ranges in the recipe, to be able to reproduce or patch historic builds , the lockfile must be available from somewhere.

Are there any plans from conan's side for having built in support for this?  If so, how might this look...?

For example,
- would conan commands to rebuild a specific version use an existing lockfile by default?
- would lockfiles sit alongside the

[2020-04-14 12:20] memsharded commented on #6850
Thanks for the pointers @strentler

Having a look at this, it doesn't seem that we might provide built-in support for Lumin, at least in the short term. It is a proprietary thing and a bit closed, not very mainstream yet, and we have zero experience with it. So it seems integrations should probably be in their end and they should maintain them (or a community of Lumin users wanting to use Conan to

[2020-04-14 12:34] memsharded commented on #6847
The second succesful trace with conan_server seems a bit confusing, maybe you already had uploaded the package to the server? It seems that it is skipping the upload because the packages were already there. Make sure (``conan search "*" -r=conan_server``) the server is empty (you can also check the storage in the "<userhome>/.conan_server" folder.

[2020-04-14 12:50] memsharded commented on #6851
Hi @GordonJess

Yes, there has been discussions around this. The summary is:

- Yes, the lockfiles might eventually be stored in the package binaries.
- They are not stored now, because the feature is still experimental, lockfiles are versioned (we are already in the 0.3 version) because they evolve (breaking). Putting them into packages can be very problematic and make impossible to keep developi

[2020-04-14 12:55] jheaff1 opened #6852 "[bug] conandata.yml does not support HTTP authentication"
### Environment Details (include every applicable attribute)
  * Operating System+version: CentOS 7.7.1908 x86_64
  * Compiler+version: gcc 4.8
  * Conan version: 1.24.0
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)
In a Conan package recipe's conandata.yml file, attempt to add HTTP authentication. (username and password tuple).

ie:
[code]

### Logs (Executed commands

[2020-04-14 13:17] jheaff1 commented on #6852
I just realised that it's not a good idea to include passwords within conandata.yml as the file is included in the Conan package uploaded to the remote, visible for all to see.

I shall rephrase my issue:
Is there a way of providing HTTP authentication when running "conan create" or "conan install"?

[2020-04-14 13:19] DoDoENT opened #6853 "[bug] `conan frogarian` does not work in VSCode terminal"
Expected (as in MacOS terminal):
![image](https://user-images.githubusercontent.com/158844/79229395-4011ec80-7e63-11ea-92c8-497b50e5856c.png)

Actual:

![image](https://user-images.githubusercontent.com/158844/79229334-1fe22d80-7e63-11ea-9cd4-4545800feef8.png)

[2020-04-14 13:29] awgil opened #6854 "[bug] Private dependencies and disabled/inaccessible remotes."
Consider app -> lib -> sublib dependency graph, where lib -> sublib is a private dependency. Both lib and sublib packages are created and uploaded to some (private) remote artifactory instance.

On a fresh PC, when you install dependencies of app (conan install path-to-app-recipe), conan will download recipe and package for lib and recipe only for sublib. At this point, imagine remote becomes inac

[2020-04-14 13:49] uilianries commented on #6853
It depends the size of the window. that command is not dynamic, you need to shrink your window.

[2020-04-14 13:56] danimtb commented on #6853
It works fine on VSCode terminal using PowerShell in my case

[2020-04-14 14:00] DoDoENT commented on #6853
For MacOS terminal I didn't need to shrink window. It works correctly even with full-width window.

[2020-04-14 14:06] Austin299792 commented on #6847
Sorry! You're right. I forgot to clean things up.

I started over. Deleted everything related to the hello program in `.conan` and `.conan_server` and in the `mypkg` directory. `conan search` of the local cache and remote show no results for `hello`. I started the tutorial over and uploaded the package to the local conan_server. The stdout is here:

[code]

and the clean trace is here (including t

[2020-04-14 14:11] uilianries commented on #6852
@jheaff1 You set them by env vars:

    AUTH_USERNAME=foo AUTH_PASSWORD=bar conan install package/0.1.0@user/channel --build

[code]

https://docs.conan.io/en/latest/reference/tools.html#tools-get
https://docs.conan.io/en/latest/reference/tools.html#tools-get-env

[2020-04-14 14:38] memsharded commented on #6847
I would say it might be a bug in the Nexus protocol:

- When the client calls ``https://<URL>:8443/repository/conan-dev-hosted/v1/conans/hello/0.1/demo/testing/digest`` to ask for the package manifest, the server should check authorization and ask for credentials. It seems that Nexus implementation is delaying this.
- It could also be a bug in the https://<URL>:8443/repository/conan-dev-hosted/v1/

[2020-04-14 14:39] boussaffawalid opened #6855 "[question] CONAN_DEFAULT_PACKAGE_ID_MODE=full_version_mode changes deps hash"
Hello,

I have a **package A** that depends on  a **package B** that depends on **KWidgetsAddons**
[code]

When I build my **package A** using:
[code]
KWidgetsAddons package is being found in my local cache, and I get this in my build log

[code]
So far everything works as expected :)
----

Now, when I change:
[code]

KWidgetsAddons cannot be found anymore!

I got this is my log:
[code]

I have th

[2020-04-14 14:43] memsharded commented on #6854
Hi @awgil

Some quick feedback:

If you are talking about ``self.requires(.., private=True)`` dependency, please take into account that this type of dependency is not recommended for most cases. It should be used only in extreme circumstances, and only if there is no other way.

Regarding the issue, it doesn't seem it is a bug, it is by design. ``private`` dependencies do not mean the recipe is no

[2020-04-14 14:45] Austin299792 commented on #6847
It definitely asks for credentials. With correct credentials, the recipe and manifest files do get posted in the Nexus repository, but the tgz files are not created or uploaded.

Would you be able to describe the steps that lead up to the creation of the tgz files?

Thanks for your help with this! I appreciate you helping me trying to track it down, even though it looks like the issue can be resol

[2020-04-14 14:46] tonka3000 commented on #6816
Thanks @danimtb for your answer.

I will close the issue to free up your open issues 😉

[2020-04-14 14:46] #6816 closed, assigned to nobody

[2020-04-14 14:47] aleksa2808 commented on #3906
Observing the same issue as @fulara on a local artifactory with a conan-center remote cache. Doing a pattern search times out for conan-center after the default 15s and, even if I have matching packages in my local repository, I get a "no matching packages" message.

[2020-04-14 14:47] memsharded commented on #6855
I think this is totally expected. That is how the ``default_package_id_mode``. If you change the ``default_package_id_mode``, it will change all the package ids, because they are computed differently. The mode applies to all nodes in the graph, all the nodes will get a new package ID. Maybe only the header-only libraries that do not depend on others, and doesn't have settings/options, will keep th

[2020-04-14 14:51] memsharded commented on #6846
Hi @tylerholzer

Do you mean the ``build-info`` as built by the ``conan_build_info`` command? Are you aware about the ``--v2`` argument to it? That argument will implement some improvements and fixes. It builds completely differerently, from lockfiles instead of on the fly. And it can aggregate information from different configurations (different lockfiles) in a single build-info.

If you mean tha

[2020-04-14 15:19] boussaffawalid commented on #6855
KWidgetsAddons have one dependency (qt) which is also a dependency for Package A and B.

I don't really get this! as the issue appears for some dependencies but **NOT all of them**

My understanding:
- if I `set  default_package_id_mode= semver_direct_mode` any package that matches `KWidgetsAddons/5.54.*` will be used.

- if I `set  default_package_id_mode= full_version_mode` any package that matc

[2020-04-14 15:27] memsharded commented on #6855
I think there is some misunderstanding of the ``package_id`` modes. They define how every package computes its ``package_id``, not how packages are consumed. It is not related to version-ranges matchings, but to the different binaries that are built.

Then, that is the reason. The KWidgetsAddons ``package_id`` computed with different modes is different, because in one case, it will hash ``qt/1.2.3

[2020-04-14 15:46] boussaffawalid commented on #6855
now it make sense, thanks.

I have two questions here:

If I built my deps with `default_package_id_mode=full_version_mode`, will I be able to use them upstream with both `full_version_mode` and `semver_direct_mode` ?

Second question: I want to build everything with `semver_direct_mode` and only enforce full version match in one package (Package A), is there an easy way todo that ?

[2020-04-14 15:46] memsharded commented on #6847
To be honest, I am quite baffled that something that changes in the protocol is causing that Conan is not creating the tgz files to upload. Maybe the ``conan upload --skip-upload`` could help debugging this, it performs similar steps, but skipping the final real upload. It should create the tgz files.

[2020-04-14 15:49] memsharded commented on #6855
No. the package_id_mode is something that should be defined and stick with it forever, and keep it consistent in all servers and clients wanting to use those packages.

Yes, this is definitely possible. Go to the package ``package_id()`` method:

[code]
Have a look to:
- https://docs.conan.io/en/latest/reference/conanfile/methods.html#package-id
- https://docs.conan.io/en/latest/creating_packages/

[2020-04-14 16:01] boussaffawalid commented on #6855
Thanks for the clarification, I was using two different default_package_id_mode and that was the root of all troubles.

[2020-04-14 16:06] jheaff1 commented on #6852
@uilianries Makes sense, thank you! This ticket can be considered closed

[2020-04-14 16:06] #6852 closed, assigned to nobody

[2020-04-14 16:07] memsharded commented on #6842
install them for this project, and use the graph file and work with this?

The ``graph lock`` command can work without actually installing the heavy binaries, only the recipes. Typically, it can be good enough to have a plain ``conanfile.txt`` with the bottom consumer packages, and run the ``conan graph lock`` over that conanfile.txt, and the dependencies will be automatically managed.

Otherwise

[2020-04-14 16:08] memsharded commented on #6855
Lets add a clarification in the docs then, thanks :)

[2020-04-14 16:19] tylerholzer commented on #6846
The build info I'm referring to is the build info object available to generators. Our conanfiles use both the  default txt generator and a custom generator. The output file from the txt generator, conanbuildinfo.txt, and our custom generator don't include the transitive dependencies.

The generators are being run as part of a `conan install` command, where a dependency needs to be rebuilt due to a

[2020-04-14 16:20] memsharded commented on #6840
Maybe this is related https://github.com/conan-io/conan/issues/6855?

[2020-04-14 16:24] memsharded commented on #6846
Ok got it.

Then, at first sight, I cannot think of something that would be causing this. Maybe you are using ``build_requires`` instead somewhere? Or ``private`` requires? (btw ``private`` requirements are discourage for most cases, just in case).

Looking forward to hearing from you, thanks!

[2020-04-14 16:26] SSE4 opened #6856 "[bug] impossible to enable C++20"
I was trying to enable C++20 in Conan, however, I am getting an error:
[code]

I have `20` in my **settings.yml**:
[code]

this is incorrect, as the compiler has support for C++20.

/cc @jgsogo

### Environment Details (include every applicable attribute)
  * Operating System+version: macOS 10.15.4
  * Compiler+version: Apple clang version 11.0.3 (clang-1103.0.32.29)
  * Conan version: Conan 1.24.

[2020-04-14 16:40] memsharded commented on #6856
The ``_cppstd_apple_clang`` is incomplete.

Which is the first apple-clang version to support c++20? Should it be ``-std=c++2a`` I guess, because support is not complete yet.

[2020-04-14 16:41] aleksa2808 opened #6857 "[bug] Searching Artifactory remote by user/channel pattern not working"
Hi!

I'm noticing a strange behavior when trying to search an Artifactory remote by user/channel, e.g. `conan search "*@user/stable" -r artifactory`. This works as expected when searching the local cache so it may be an Artifactory bug.

/cc @Minimonium (#conan slack)

### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 18.04
  * Conan version: 1.24.0

[2020-04-14 16:47] SSE4 commented on #6856
Clang and Apple Clang don't have **full** support of C++20 (yet).
the error message is weird, why does it list just:
[code]
while my settings.yml definetely has **20**?

[2020-04-14 16:49] memsharded commented on #6856
Because is the ``settings_preprocessor`` the one that is pre-validating the ``cppstd`` based on compiler versions, relying on the ``_cppstd_apple_clang`` function.

[2020-04-14 16:54] memsharded commented on #6856
Something like this might fix it:

[code]

But need to confirm the exact versions. Please @SSE4 send a PR with a fix and tests when possible (for 1.25)

[2020-04-14 16:57] Austin299792 commented on #6847
I'm confused too. I did the test you suggest (had to include `-r=<remote>` even though I was skipping). The command was successful and created the `conan_package.tgz` file in the `~/.conan/data/hello/0.1/demo/testing/package` directory. To verify I wasn't losing it, I deleted the hello directory, ran `conan create` again, and then tried uploading it to my Nexus remote repository. Same results as a

[2020-04-14 17:02] memsharded commented on #6847
Yep, really surprising. Thanks for reporting, lets see if in sonatype-nexus-community/nexus-repository-conan#113 they can help a bit more.

[2020-04-14 17:02] tylerholzer commented on #6846
the only build_requires should be the generators and build tools. There are no private requirements.

[2020-04-14 17:04] Austin299792 commented on #6847
Sounds good. Thanks again for your help!

Here's the trace for the failed upload. This one is slightly different than the one above because I deleted the hello package from the Nexus repository before trying to upload.

[code]

[2020-04-14 19:16] boussaffawalid commented on #6855
that would very helpful, thanks

[2020-04-14 19:20] jgsogo opened #6859 "[bug] Handle 'requires' returned by 'conan search' from remotes"
If we run a search against conan-center it will return a JSON with the list of packages, for example: https://conan.bintray.com/v1/conans/jinja2cpp/1.1.0/_/_/search

![image](https://user-images.githubusercontent.com/1406456/79264897-926c0100-7e95-11ea-94eb-df912f32761e.png)

---

Same query against `conan_server` returns a different JSON with `full_requires` key instead of `requires`.

[2020-04-14 19:36] log4b0at commented on #6834
Ok so point on the situtation:
I installed python 3.8 and pip 19.2 from cygwin installer in the packages `python38` and `python38-pip`
The step `Building CXX object CMakeFiles/md5.dir/md5.cpp.o` pass well now but i have a **link error**
No symbol of the Poco library are present at link time
I had modified my conaninfo.txt manually to use GCC 9.3 instead of Visual Studio compiler, because im on win

[2020-04-14 22:10] aleksa2808 commented on #6857
As noted in slack by Diego (can't find github nick!), a workaround until further CLI client changes to `conan search` is to do `conan search "*/*@user/stable" -r artifactory`.

[2020-04-15 01:54] treaves opened #6860 "[bug] apt package not installed on cached ~/.conan usage"
### Environment Details (include every applicable attribute)
  * Operating System+version:
Ubuntu latet docker image with conan installed
  * Compiler+version:
clang 6.0
  * Conan version:
conan-ubuntu-64_1_24_0.deb

### Steps to reproduce (Include if Applicable)
I have a Bitbucket pipeline setup to build a simple C++ app that uses libusb.  This works fine, until I enable the ~/.conan directory to

[2020-04-15 07:31] nickaleks commented on #3721
Any update on this? I've been running into the same issue for a while.

[2020-04-15 08:11] KerstinKeller commented on #5067
So I tried to add just an option to my package for the requirement version, and that seems to work well:

[code]

I guess you can still add manual range checking, and throw some kind of exception (InvalidConfiguration?).

While it works (though it is quite verbose, especially when adding version range checks etc), it would be great if Conan provided something for it out of the box.

[2020-04-15 08:24] resqsx commented on #3721
I have the same issue and opened a test project for this.
See also
https://stackoverflow.com/questions/61210938/conan-boost-shared-library-not-found
and
https://github.com/resqsx/conan-boost.

It would be nice to get a solution for this.

[2020-04-15 08:48] Sebiee commented on #5743
I'm very interested in such a feature.

My use-case is that I would like to upload only the packages that were built during the install phase (used `-b missing`). I managed to obtain a list of those packages using `conan info -b missing` but it seems there's no way to do `conan upload 'boost/*,zlib/*,libressl/*` for example.

I could of course do a separate `conan upload` instruction for each refe

[2020-04-15 08:48] memsharded commented on #6860
Hi @treaves

Yes, the libusb likely has ``system_requirements()`` method. As the cache stores when this system requirements have been installed, if you attempt to reuse the cache between builds, it will think that the system requirements (apt) are already installed.

There are a few options:
- Do not reuse the cache, but try to configure a new "download cache" for download speed only
- You can exp

[2020-04-15 08:54] awgil commented on #6854
I understand that _recipe_ has to be fetched - no problem with that. Problem is with that while _binary package_ is skipped, conan still asks remote for "package info" of the binary: in GraphBinariesAnalyzer::_process_node() it checks whether binary package exists in cache, if not - it calls _evaluate_remote_pkg, which fails if remote is inaccessible. If I remove remote completely, it will succeed

[2020-04-15 09:10] memsharded commented on #6854
Ok, we need to have a look at this then. Thanks for the detailed explanation!

Yes, this is something that is planned, a better graph model to model those things. But in the meantime, I would recommend to use normal requires, and manage things in the build scripts. In most cases, the linker is smart enough to optimize out the not used libraries. If not, the information from generated cmake files c

[2020-04-15 09:16] awgil commented on #6840
It seems to be a different situation. The problem here is essentially following. Suppose we have a header-only library (with no dependencies) that supports different configurations, selected by preprocessor definition. The package supports selecting one or the other configuration by defining an option, and using value of that option in package_info() method to set appropriate cpp_info.defines. Sho

[2020-04-15 09:17] #6859 closed, assigned to jgsogo

[2020-04-15 10:09] awgil commented on #6854
Yes, I understand that, what i meant is that myapp depends on tool publicly, and tool depends on large-ui-framework privately, so that this dependency is not propagated to myapp (in fact, if myapp ever uses large-ui-framework, it can use different version, which is great!).

By the way, what is the difference between requires(private=True) and build_requires? I assume "static library linked into s

[2020-04-15 10:50] jgsogo commented on #6834
Hi!

First of all, don't modify `conaninfo.txt`, it is supposed to be a read-only file. As you have guessed, Conan autodetects a profile (this is not an easy task and it is always a good practice to have a look at it) and store it into your local folder `/home/<user>/.conan/profiles/default`, then Conan will use it if you don't specify anything different. You can modify the settings in different w

[2020-04-15 12:51] KerstinKeller commented on #5067
Obviously, the real problem with the approach mentioned above is that when version resolving is actually taking place (e.g. `MyTests` is again consumed by someone else), then it's not part of the rest of the version resolving process by Conan.

And maybe to elaborate why I want this feature:
E.g. when I specify a requirement range (`self.requires.add("somelib/[>=x.y.z]@user/stable"`), maybe I'd li

[2020-04-15 13:08] blejdfist commented on #5664
I need something similar when packaging a cross compilation SDK (built with buildroot).

The resulting files has references to the original build directory and has to be relocated after being moved. Buildroot even supplies a script that does this, so all I would have to do is run it after the package is installed.

Being able to execute a script inside the package install folder to fixup the paths

[2020-04-15 16:23] michaelmaguire opened #6862 "[bug] conan create --json content references are not suitable for upload in user _ channel _ case"
### Environment Details (include every applicable attribute)
  * Operating System+version Windows Server 2012 R2
  * Compiler+version: vs2015
  * Conan version: Conan version 1.19.2
  * Python version: N/A

### Steps to reproduce (Include if Applicable)

At my org, we can't use pre-built binaries from outside, but we can use  conan-center-index recipes.  I'm trying to build https://github.com/cona

[2020-04-15 16:30] emmenlau commented on #5664
I think this is really a blocker for a number of scenarios. Therefore it should be addressed in a clean and stable way. Running a post-install-script will go quite some way, but it will not be long before you also need to know the build path or the build-time temporary install path (pre-packaging).

For what its worth, conda has invested quite a lot to make this possible, they support full relocat

[2020-04-15 18:12] michaelmaguire commented on #6862
I note that if I perform a slight hack in my Jenkinsfile in order to follow Hipony's advice :

[code]

then it works:

[code]

[2020-04-15 19:36] kittipatv opened #6863 "[bug] find_package alias"
### Environment Details (include every applicable attribute)
  * Operating System+version: macosx 10.14.6
  * Compiler+version: Apple LLVM version 10.0.1 (clang-1001.0.46.4)
  * Conan version: Conan version 1.24.0
  * Python version: Python 3.7.7

### Steps to reproduce (Include if Applicable)

I'm trying to get dependency for an existing CMakeLists.txt with conan. So, I followed https://docs.cona

[2020-04-15 19:37] Austin299792 commented on #6847
Hello @memsharded, I figured out the problem. It's taken me all day... I can't get the VS Code debugger to work, so I've been printing to the terminal all over the place.

Anyways, this is the URL for the Nexus server:
[code]

While this is the URL for the conan_server:
[code]

The issues comes from this for statement in `rest_client_v1._upload_files`:
[code]

~What's happening is that `conan_expo

[2020-04-15 20:22] DmitrySokolov opened #6864 "[bug] 'PermissionError: [WinError 32]' during parallel execution of 'conan export-pkg'"
Conanfiles:
[code]

create.cmd
[code]

Output of testA
[code]

Output of testB:
[code]

Why the folder from the package `testA` is removing during exporting the package `testB`?
[code]

How to completely turn off manipulations with other (required) packages during the command `export-pkg`?

[2020-04-15 20:36] saterj opened #6865 "[bug] graph generation fails when manipulating `cpp_info` from both `build_requirements` and `--profile:build`"
### Environment Details (include every applicable attribute)
  * Operating System+version: Ubuntu 14.04 x86
  * Compiler+version: gcc4.9
  * Conan version: 1.24
  * Python version: 3.5

### Steps to reproduce (Include if Applicable)
1. Have a conan profile that manipulates a recipe's `cpp_info`
2. Have a recipe that has another project as it's `build_requirement` as it is [for this dependency on ]

[2020-04-15 21:17] michaelmaguire opened #6866 "[bug] tools.which() finds tool 7zr.exe on Windows Server 2012 R2, but can't invoke it"
### Environment Details (include every applicable attribute)
  * Operating System+version Windows Server 2012 R2
  * Compiler+version: vs2015 v140
  * Conan version: Conan version 1.20.4
  * Python version: N/A

### Steps to reproduce (Include if Applicable)

At my org, we can't use pre-built binaries from outside, but we can use conan-center-index recipes.  I'm trying to build https://github.com/

[2020-04-15 22:01] uilianries commented on #6866
Hi @michaelmaguire !

It's working for me, but I'm running Windows 10:

[code]

I think it can be related to Windows Server 2012 R2. Are you able to download that recipe and check the `which`?

[code]

BTW, `which` returns the 7zr path, or False. I can't return True due its implementation.

[2020-04-15 22:10] michaelmaguire commented on #6866
@uilianries which recipe do you mean?  You mean just modify the recipe to add the self.output?

[2020-04-15 22:19] michaelmaguire commented on #6866
Tried your suggestion.  Looks like `7zr` is somehow how present enough on my system that tools.which() can find it, but not present enough that I can actually invoke it:

[code]

[2020-04-15 23:01] fulara commented on #5067
Hello @KerstinKeller  you can read here more about the solution that I've taken:
https://github.com/conan-io/conan/issues/6707#issuecomment-601443704
in short - we use semver heavily in our environment - and I feel that Lockfiles which is probably conan choice forward will never give us such freedom, and I am getting a total freedom thanks to that solution
Option may not be desired in your case -

[2020-04-16 09:42] KunalSharmaa opened #6867 "No connectivity between CONAN_SETTINGS_COMPILER_RUNTIME and CONAN_LINK_RUNTIME."
OS and VERSION: Windows 10
Python Version: 3.8
Conan Version: 1.23
Compiler and Version: MSVC 19

I believe there should be some relationship between CONAN_SETTINGS_COMPILER_RUNTIME and CONAN_LINK_RUNTIME. Everytime I specify `-s compiler.runtime=MDd` it gets set but doesn't really do its job since VS shows MD as runtime library. The CONAN_LINK_RUNTIME can be seen set as MDd in the CMakeCache.txt

[2020-04-16 10:03] joeysmart opened #6868 "[question] how to get the oringinal conan project path in the source() method?"
os.path.dirname(__file__) delivers the export path

[2020-04-16 10:14] joeysmart opened #6869 "[question] source() method not called in test_package conanfile.py"
it seems the source() method of test_package conanfile.py is not called

[2020-04-16 10:36] KunalSharmaa commented on #5271
@DavidZemon Hey, Can you help me with how did you mirror the conan-center artifactory?
Thanks.

[2020-04-16 11:23] a4z commented on #6842
finally had time to explore the graph command. This is for sure some help, even if I do not understand why it is so hard to get a package id for a profile + package combination.

so what about adding a command

`conan id -pr profilename -n name/1.2.3@`
or
`conan id -pr profilename -n name/1.2.3@ /path/to/folder `
 if the recipe is just local in my dev folder

the id is used to identify packages an

[2020-04-16 12:20] KunalSharmaa commented on #6867
OS and VERSION: Windows 10
Python Version: 3.8
Conan Version: 1.23
Compiler and Version: MSVC 19

I believe there should be some relationship between CONAN_SETTINGS_COMPILER_RUNTIME and CONAN_LINK_RUNTIME. Everytime I specify `-s compiler.runtime=MDd ` it gets set but doesn't really do its job. The CONAN_LINK_RUNTIME can be seen as set as MDd in the CMake cache but it doesn't set the CMAKE_MSVC_RU

[2020-04-16 12:27] uilianries commented on #6866
@michaelmaguire This is no a Conan bug, but a recipe problem. The PR https://github.com/conan-io/conan-center-index/pull/1373 should fix this situation.

[2020-04-16 12:31] michaelmaguire commented on #6866
Thanks for that.  I had a question about that PR which I raised in that PR: https://github.com/conan-io/conan-center-index/pull/1373#issuecomment-614622592

[2020-04-16 12:31] #6866 closed, assigned to nobody

[2020-04-16 13:37] Austin299792 commented on #6847
Further investigation reveals that I was too eager and incorrect about the problem above. There's a difference in the files that are sent to `rest_client_v1._upload_files` the first time in the execution chain. Only `conanfile.py` and `conanmanifest.txt` are sent when uploading to conan_server, but in addition to those, `conan_export.tgz` and `conan_sources.tgz` are also sent to `_upload_files`, i

[2020-04-16 13:50] uilianries commented on #6868
Hi @joeysmart ! Could detail why do you need it?

If you are looking for the source folder, because it's part of the project, you can use [self.source_folder](https://docs.conan.io/en/latest/reference/conanfile/attributes.html#source-folder)

But if really want to find the Conan project path, because you want to execute some extra steps, you should try [hooks](https://docs.conan.io/en/latest/refer

[2020-04-16 14:00] memsharded commented on #6868
You can't. When the source() method executes in the Conan cache, it cannot depend on anything external. Whatever is in the cache should have been exported via ``exports`` or ``exports_sources``, or the ``source()`` method should get it from somewhere that is reproducible, like an URL (git clone, tools.download(), etc). You might be interested in the SCM functionality, but that will still copy auto

[2020-04-16 14:04] DavidZemon commented on #5271
Sorry, I can not help anymore as I no longer work at the same company, and therefore no longer use Conan or Artifactory.

[2020-04-16 14:10] uilianries commented on #6869
Hi @joeysmart Why do you need it?

Test package is used for verifying the created package.

Please, take a look on docs:

https://docs.conan.io/en/latest/creating_packages/getting_started.html#the-test-package-folder

[2020-04-16 14:24] memsharded commented on #6867
Hi @KunalSharmaa

I am sorry, I don't fully understand the issue. Could you please clarify what generator are you using? Could you please specify the steps/commands you are using? A example package we could try? Are you using the ``conan_basic_setup()``?

[2020-04-16 14:33] resqsx commented on #3721
It looks like the transitive dependencies of the boost libraries can not be found by the loader.
This is because since Ubuntu 18.04. cmake will install the libraries with **RUNPATH**.
But the application loader doesn't use **RUNPATH** to resolve transitive dependencies.
But **RPATH** does the job.
One way would be to build the boost libs to find there dependencies with RUNPATH.
Which I would recom

[2020-04-16 14:37] memsharded commented on #6864
As a general principle, the Conan cache is not concurrent. It is not designed for running parallel processes against it at the same time. It has some provisioning for some operations, but something partial, not a general things.

In your case, if the ``package()`` method of ``TestA`` hasnt finished yet, you cannot export ``TestB`` yet. It requires to resolve the full dependency graph, including ``

[2020-04-16 14:52] Paultergeist opened #6870 "[bug] conan upload should be a transaction"
### Environment Details (include every applicable attribute)
  * Conan version: 1.24.0
  * Python version: 3.7

### Steps to reproduce
Have project `bar` that depends on `foo`.
Have `self.requries("foo/[~=42]@user/channel")` in `bar/conanfile.py`.

`foo` has finished building on CI and CI is running `conan upload foo/42.9000@user/channel`. It has already uploaded the recipe itself, but not the pac

[2020-04-16 15:15] Austin299792 commented on #6847
Digging deeper, that `requester.post` above is in `conan_requester.post` which calls `conan_requester._call_method`. This contains the following statement:

[code]

with the following inputs and outputs:
[code]

[code]

So right now I don't know why the tgz files are added to the list after that `getattr` statement for Nexus and not conan_server. Still digging...

[2020-04-16 15:31] jgsogo commented on #6870
Hi, @Paultergeist

Indeed, this can be a problem in a CI environment, different jobs are building the same package for different configurations, each job uploads its package as soon as it finishes, so the recipe is in the server before all the binaries are available.

A different Conan client is running on each of those jobs, so it is not possible for the client to know that there are other binari

[2020-04-16 15:34] jgsogo commented on #6869
Please, @joeysmart, let us know what is your use case. The `test_package` should be as simple as possible, just to check that the package has been built and can be consumed (headers are available and can be linked).

[2020-04-16 15:56] jgsogo commented on #6865
Hi, @saterj

Thanks for trying the new feature with the build/host contexts and for reporting back, we are still working on it, there are pending things and probably we will need to iterate it to fix issues from the user feedback.

First of all, this new feature is intended to supersede the old approach with the `os_build`, `arch_build`, `os_target` and `arch_target` settings. For Conan 2.0 if eve

[2020-04-16 16:07] Austin299792 commented on #6847
I'm going to submit this to the Nexus issue https://github.com/sonatype-nexus-community/nexus-repository-conan/issues/113. The PUT request is taking in the two recipe files and returning a dictionary that includes the two tgz filenames in addition to the two recipe files.

[2020-04-16 16:10] saterj commented on #6865
The conanfile for the `conan_codependent_lib` is [here](https://github.com/saterj/conan_codependent_lib/blob/master/conanfile.py).

I think I'll try to build that project with the `--profile:host` set to the `ECU400` instead of `--profile:build`. It seems a little strange that the `cpp_info` only propogates for host profiles, but maybe I just got them mixed up. I would assume that build would desc

[2020-04-16 16:15] DmitrySokolov commented on #6864
I wonder why the package `testB` tries to delete folders of the package `testA`?

[2020-04-16 16:22] DmitrySokolov commented on #6864
Why the following sequence is working OK?
1) `conan export testA`
2) N.B. there are still no packaged files of `testA` here
3) `conan export-pkg testB`

[2020-04-16 17:08] jgsogo commented on #6863
Hi, @kittipatv

Right now the `cmake_find_package` has only one target documented, with all the libraries in the package. We are working on a new feature, _components_ (hopefully ready for the next release), to be able to provide more flexibility, and let the consumer use just one library from a multi-component library (like Boost). Right now it is not possible using this generator.

For example,

[2020-04-16 17:09] memsharded commented on #6847
Great job @Austin299792 identifying the issue. Now it seems more clear it is in the Nexus side, so I think we could close this one here. Thanks for reporting!

[2020-04-16 17:09] #6847 closed, assigned to nobody

[2020-04-16 17:36] Paultergeist commented on #6870
I think this may be implemented on the server (and client). Client may start upload transaction with the server and until the transaction is completed the server will not tell other clients about the new package existence.

[2020-04-16 18:11] jgsogo commented on #6870
I'm going to label this as something to look into related to Artifactory. If this server implements these features, others will follow, are other server implementing this behavior for other clients? We will try to push it.

Thanks for the suggestion

[2020-04-16 18:26] jgsogo commented on #6862
Time ago we implemented a feature to allow packages without user/channel, their main intention is to use it for packages in ConanCenter.... but there is a problem in the command line we cannot resolve before breaking in Conan 2.0. There are a lot of commands that accept a reference or a path, and the `@` at the end is the only way to know the user refers to a reference (without it, Conan will keep

[2020-04-16 18:56] KunalSharmaa commented on #6867
Hi @memsharded

Yes, I am using the `conan_basic_setup()` inside my CMake wrapper. I am trying to build a debug version of my library 'trial' but it doesn't really get the runtime library set as `MDd` inside visual studio as specified by Conan with compiler.runtime. Instead it shows the usual `MD` option. Could you please help me here as to why the CONAN_LINK_RUNTIME is not able to set the CMAKE_M

[2020-04-16 19:13] tylerholzer commented on #6846
actually looking deeper in the dependency tree I see to have missed a few build_requires that seem to be causing the issue. I'm going to close this. thanks for looking into it

[2020-04-16 19:13] #6846 closed, assigned to memsharded

[2020-04-16 20:01] kdsx commented on #4148
I'd like to note that while this feature may be useful in certain scenarios, my original issue was resolved in 1.24 which introduced different profiles for host and build contexts (#5594). Thanks!

[2020-04-16 20:16] memsharded commented on #4148
Cool! The new model still lacks a couple of things, like making the build-helpers using them properly, and later migrating the ConanCenter packages to use it too. Please stay tuned for new releases and report possible issues. Thanks!

[2020-04-17 06:38] nickaleks commented on #3721
@resqsx The solution you provided seems to be working. I am wondering how building with RUNPATH should be achieved - should all the deps just be rebuilt using --enable-new-dtags, such as on Ubuntu 18.04?

Also should Conan do anything about it? Maybe emit a warning if the package has been built without RUNPATH on a system where it is expected?

[2020-04-17 07:32] jgsogo commented on #6865
We use the terminology from GNU triplet convention:
 * build: the machine where the compilation is taking place
 * host: the machine where the generated binaries will run
 * target (only make sense from the POV of a compiler): the machine where files compiled with a compiler will run

In your graph, if `ECU400` is a compiler it has to be a `build_requires` in the `host` context (written as `self.b

[2020-04-17 07:57] refactorTractor opened #6872 "[bug] adding to settings had no effect"
### Environment Details (include every applicable attribute)
  * Operating System+version: Win10 x64
  * Compiler+version: Visual Studio 16
  * Conan version: 1.23.0
  * Python version: only bundled in Winx64 installer

### Steps to reproduce (Include if Applicable)
Modify settings.yml by appending value "11" for compiler -> Visual Studio -> cppstd
[code]
Use this setting in profile
[code]
try usi

[2020-04-17 12:03] memsharded commented on #6872
But the problem is that that standard does not exist in Visual Studio 16, according to. https://docs.microsoft.com/en-us/cpp/build/reference/std-specify-language-standard-version?view=vs-2019

[2020-04-17 14:02] joelpurra opened #6873 "[bug] conan search output is not stable"
When executing `conan search --remote conan-center 'zlib/1.2.11@'` twice (in parallel or maximum minutes apart) the output seems to differ between runs. In particular, a diff between two "identical" searches shows that the same packages are returned, but `outdated` flips boolean value for the same `id`.

- Is there any chance there's a search cache inconsistency? Locally or remotely?
- Which of th

[2020-04-17 14:25] czoido commented on #6873
Hi @joelpurra,
Thanks a lot for reporting, this is in fact a bug reported here: https://www.jfrog.com/jira/browse/RTFACT-20919
You can read more about this here too: https://github.com/conan-io/conan-center-index/issues/200
After uploading different revisions of a Conan package to Artifactory and the searching that package through Conan with revisions disabled in the client, Artifactory is returni

[2020-04-17 14:34] joelpurra commented on #6873
@czoido: thanks for checking!

Ran some quick tests. Repeated searches have no differences after `conan config set general.revisions_enabled=1`.

- https://docs.conan.io/en/latest/versioning/revisions.html

[2020-04-17 16:57] Paultergeist commented on #6870
Thanks. Should probably add `component: server` label also.

[2020-04-17 18:16] ofiriluz opened #6874 "[feature] Silent conan install"
Hi,

As part of our CI/CD, we are trying to use parallel download feature (also using parallel upload), however this is causing a mess log-wise
Is there any plans to add a toggling to disable the progress bars? or any other prints which are not part of the actual conan logs i.e summary of what will be downloaded and so on

Thanks <3

[2020-04-17 20:18] carobins opened #6875 "Can't have spaces in VENV path on Linux"
Conan VERSION **1.22.2**

I've discovered an issue in which some users have spaces in their venv path. When this happens you can activate the venv, but you can't issue any conan commands:
![image](https://user-images.githubusercontent.com/60359120/79610687-04775c80-80c7-11ea-8d18-2b8c49e84a27.png)
Furthermore, I also cannot directly call the conan executable (without using venv). I get the same er

[2020-04-17 22:05] prince-chrismc opened #6876 "[question] Backing up an offline Build/Sources of a recipe/package"
<h3>How could I go about creating an entire backup of the `conan install .. --build` process?</h3>
To be more precise, The entirety of the conan cache, including the short_paths location, and the build dependencies.

**My requirement**: In 8 years, be able to bug fix the _source code_ an open-source project we are leveraging, re-compile for a short list of platforms, then use the result of what wa

[2020-04-18 01:25] ghost commented on #6405
I agree that Conan should provide enough common build system commands that it is possible to abstract most build system tasks.

I have complained about this 2 years ago in #2470 and #2499.

[2020-04-18 06:34] DukeOfKirkcaldy commented on #6405
I am also missing this feature, but also for `conan create` since our CI system is using the creator commands.

[2020-04-18 07:22] kittipatv commented on #6863
Thank you for the response. How about the link issue with poco? Did I make something wrong in the setup?

[2020-04-18 10:39] petermbauer commented on #6405
If you are really creating binary packages then these have to contain the produced files and should be distinguishable via options anyway. Please describe your use-case in more detail.

[2020-04-18 11:34] memsharded commented on #6876
This is a use case that has been going around, and we have been implementing different strategies according to what the users were requesting.

- First, the sources were embedded in the recipes. You put the conanfile.py in the repo you want to package, do ``exports`` or ``exports_sources``, and that "snapshot" the sources inside the recipe. Problem solved, that recipe and package in the server is

[2020-04-18 11:36] memsharded commented on #6875
Hi @carobins

There have been a few fixes in the virtualenv generators in the last releases. Could you please do a quick check with latest Conan 1.24? Thanks!

[2020-04-18 11:42] jgsogo commented on #6863
The lines you are using to link:

[code]

If you want to use targets coming from the `find_package(XXXX)` that uses files generated by Conan those aren't the proper targets. `glog` target is `GLOG::GLOG`, `poco` target is `Poco::Poco` and `boost` one is `Boost::Boost`, Conan follows the casing convention from CMake for the targets, but we are not offering yet access to components (PRs are on its w

[2020-04-18 14:42] prince-chrismc commented on #6876
I greatly appreciate you taking the time to answer. Conan has become a corner stone for us to start questioning the way we are working, and over coming issues like "we are 100% covered in all scenarios" no matter how (un)reasonable the ask are crucial for us to more forward.

I could not agree more, perhaps a commercial JFrog product could fill this gap? An Artifactory extension to backup sources

[2020-04-18 15:25] ofiriluz opened #6877 "[feature] conan install - mark packages to be skipped explicitly"
Hi,

So im not sure if theres such a feature besides marking a package private, but we have a pretty comprehensive dependency tree, along with many platforms to support, and for some cases, given package A that consumes another package B which consumes other packages C,D,E,..., we would like to not download some of the packages C,D,E, since we do not need them in package A, but C,D,E shouldnt be p

[2020-04-18 15:47] fulara opened #6878 "[feature] new setting on compiler: arbitrary setting forcing additional compiler flags."
Sometimes there is a need to propagate a flags throughout the build tree and force rebuilding of the whole dependency tree.
These flags are usually very specific - and compiler dependent.
For example: march on gcc:
https://gcc.gnu.org/onlinedocs/gcc-9.1.0/gcc/x86-Options.html
We want to build a build that targets a sets of CPUs and using march would allow gcc to build the code with the extensions,

[2020-04-18 22:40] boussaffawalid opened #6879 "[probably bug] requirement list missing when running conan search on remote"
When I run `conan search my_package` and my_package is installed in the local cache I get

[code]

However, if I delete my_package from my local cache and I run `conan search my_package -r=all` I get:
[code]

the `[requires]` are missing! is this an expected behavior ?

[2020-04-19 07:59] fulara opened #6881 "[feature] conan should be able to allow circular dependencies if they are build_requires."
Sometimes they are packages that depend on themselves in order to be build.
For example some compilers out there require themselves to be build but in older version ( for example gcc. )

It seems reasonable that conan should allow circular dependency like:
when building `cmake` you may depend on `cmake` but in the `build` phase only.

- [x] I've read the [CONTRIBUTING guide](https://github.com/con

[2020-04-19 10:13] DukeOfKirkcaldy commented on #6405
I thought my use case was the same as yours - to be able to build optional build targets without having to call the underlying build system itself.  For example, generating documentation for release builds.

But nevermind, I read more clearly and now I see your point.  I can do this through the recipe.

Thanks

[2020-04-19 12:32] ghost commented on #6405
After thinking about it for longer I'm not so sure anymore.

One of my use cases was that I've had a utility that used my library in the same repo. But upon further thinking, I think declaring several targets inside the build system and having dependencies between there is a bad idea and duplication of effort.

Each library should at least be in a separate directory with separate `conanfile.py` an

[2020-04-19 15:31] petermbauer commented on #6589
We are using the channel here for such "release candidate" packages, e.g. `mylib/1.2.3@ci/rc<build number>`. Then the final release package can be created as a copy with `conan copy`.

[2020-04-19 15:44] petermbauer commented on #6405
As stated above my use-case would be generated documentation and static code analysis which i think are still valid.

[2020-04-20 09:31] igor-sadchenko commented on #6554
@memsharded
Conan version **1.24.0**
This warning
`WARN: Remotes registry file missing, creating default one in /root/.conan/remotes.json`
also appears when use command:
`conan remote add Conan-index https://artifactory.net/artifactory/api/conan/conan --force --insert 0` for the first time.
When I use `--force` I do not expect any useless warnings.

[2020-04-20 10:46] bugproof opened #6882 "[question] Creating recipe for library that doesn't use build system"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

What should I do if the library doesn't use any build system? Should I add cmake/premake configuration to it along with the recipe? What is the preferred way? Is there any example I could learn from? How can I make the recipe work with all generators?

[2020-04-20 10:56] #6793 closed, assigned to memsharded

[2020-04-20 11:25] MRocholl opened #6883 "[question] Requirements of non-conan packaged 3rd party libraries."
- [X] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

Hi,
I've been wondering if there is a recommended way on how to handle dependencies of 3rd party libraries. I.e. say I want to package 3rd party library "libA" with a dependency to "libB".
Both `libA` and `libB` do not have conan packages until now.
libB would, as far as I have unders

[2020-04-20 11:35] memsharded commented on #6793
merged, will be released in Conan 1.25

[2020-04-20 11:38] memsharded commented on #6882
Hi @bugproof

I am not sure what you mean. Probably use the ``conan export-pkg`` command to package binaries?

Check https://docs.conan.io/en/latest/creating_packages/existing_binaries.html#packaging-pre-built-binaries

Is this what you are looking for?

Generators work independently of the build system used to build the package. As long as you fill the recipe ``package_info()`` method correctly,

[2020-04-20 11:45] memsharded commented on #6883
Hi @MRocholl

There is a mechanism in Conan that can help somehow to install system requirements (like form apt, chocolatey, etc) from recipes: https://docs.conan.io/en/latest/reference/conanfile/methods.html#system-requirements

But if you want to model them as Conan packages, then the approach is to start with the "leaf" packages, those that do not have other transitive dependencies. In your cas

[2020-04-20 12:04] MRocholl commented on #6883
Thank you for the quick reply.
I had not seen the systems-requirements section. It will probably solve most of my problems.

Regarding the changes required to Cmake. I guess that the `cmake_find_generator` would be the way to go for 3rd party packages that require other packages via `find_package`.  Or am I missing something here?

[2020-04-20 12:46] memsharded commented on #6872
Hi @AGreat1

Have you had the chance to see the above comment and link? Any feedback here?

[2020-04-20 12:50] memsharded commented on #6879
Fixed in https://github.com/conan-io/conan/issues/6879, will be released in next Conan 1.25.

Thanks for reporting!

[2020-04-20 12:50] #6879 closed, assigned to memsharded

[2020-04-20 12:52] memsharded commented on #6877
Hi @ofiriluz

At the moment, it is not possible to skip the download of transitive packages. We will be working in the dependency graph model for Conan 2.0, trying to improve the capabilities.

In the meantime, have you tried the file download cache? That might help avoiding a lot of downloads, specially designed for CI: https://docs.conan.io/en/latest/configuration/download_cache.html

[2020-04-20 13:00] ofiriluz commented on #6877
Hey!

yes i have tried it along with the download threads
The parallelism helped increasing build time of one component from about 24 minutes to 21, which is awesome

And as for the download cache, we have a set of components (somewhat of a complex graph of components that needs to be built in some fashion), and we use the download cache there along with a shared conan folder between all of those

[2020-04-20 14:12] #6099 closed

[2020-04-20 14:22] memsharded commented on #6883
Yes, the ``cmake_find_package`` (probably the ``cmake_find_package_multi`` better) generators will probably become the defaults and recommended in future versions of Conan. However, they lack one important thing, the configuration of toolchain things. The ``cmake`` generator, via ``conan_basic_setup()`` is able to set correctly things like the runtime (MD, MT), the standard library, etc., to match

[2020-04-20 14:26] memsharded commented on #6877
I guess you wanted to say ``decreasing``?

Are you sharing the file download cache between different machines? It is intended to provide multi-process and multi-thread locking, but haven't think about shared network folder between different machines, probably different OSs. Keep an eye on it, in case there is some concurrency issues.

Again ``decrease``? Did you mean from 3hrs => 10-15 mins? 😅

[2020-04-20 14:35] ofiriluz commented on #6877
Hah,

Was abit busy while writing it, ofc i meant decreasing <3
And right now we are sharing cache on a single machine, between different jenkins jobs, however we do want in the future to share it between different machines

Thanks <3

[2020-04-20 14:38] memsharded commented on #6877
Ok, so please take the above feedback into consideration, it might fail to correctly lock files, and race conditions might happen for network access from different OSs. You might need to provide some kind of locking yourself.

[2020-04-20 14:38] bugproof commented on #6882
e.g. library has `#ifdef STATIC` but doesn't use cmake nor anything. Can I define it with conan so it will be included in generated cmake? or do I need to write my own cmake for it first and somehow put it alongside recipe?

[2020-04-20 14:43] boussaffawalid opened #6885 "[Question] conan info for a specific package id"
Hello,

I have two packages with the same version, same options, same settings but different requirements.

output of conan search command
[code]

How can I inspect the package `2d49981400eb318185d516f42e43c993c066a3ed` using `conan info` ?

[2020-04-20 15:49] memsharded commented on #6882
yes, you want to do something like (in your package, that needs to be consumed with it:

[code]

Then you will see this definition in your generated files, adapted for every different generator syntax. Please try this and let me know if it works.

[2020-04-20 15:51] memsharded commented on #6885
Not sure what you mean. You want to go to the cache and inspect the files of this particular package?

I can deduce that you are using some ``default_package_id_mode`` or some ``package_id()`` that makes the user/channel included in the package_id hash, right?

[2020-04-20 16:19] boussaffawalid commented on #6885
The confusion I have, when I run `conan info my_package/1.0.0@walid/testing`, which package info  I will get `2d49981400eb318185d516f42e43c993c066a3ed` or `c627d26513e4a9db441b6cffe3ecd67ac8401c01` ?

in my case, user/channel are included in the package_id hash.

[2020-04-20 17:11] czoido commented on #6773
closed by #6788

[2020-04-20 17:11] #6773 closed, assigned to aleksa2808

[2020-04-20 17:50] memsharded commented on #6885
It depends on your transitive dependencies.

- If ``my_package/1.0.0@walid/testing`` has a ``requires = "zlib/1.2.11@walid/stable``, you will get the package_id: ``2d49981400eb318185d516f42e43c993c066a3ed``
- if it ``requires = "zlib/1.2.11@walid/testing``, then the package_id will be ``c627d26513e4a9db441b6cffe3ecd67ac8401c01``

[2020-04-20 18:14] DoDoENT opened #6886 "[bug] json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
What could cause this? It started happening on my CI build, but only on one server (it always works on all other servers, even though all server run conan operations using exactly same docker image).

Stack trace:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: 4.15.0-76-generic #86-Ubuntu SMP Fri Jan 17 17:24:28 UTC 2020 x86_64 x86_64 x86_64 GNU/

[2020-04-20 18:43] jgsogo commented on #6881
Hi! This is something allowed by the new xbuild feature (need [this PR](https://github.com/conan-io/conan/pull/6769) because of the _ancestors_ related stuff). I've tested it with GCC using GCC as build_requires declared in the profile_host 🎉

[2020-04-20 19:10] fulara commented on #6881
Nice, awaiting docs PR so I can fully comprehend how to use this.

[2020-04-20 20:41] memsharded commented on #6876
I am thinking that the ``exports()`` method or ``exports_sources()`` method that have been requested as a more powerful syntax for the ``exports`` and ``exports_sources()`` attribute would probably be useful for that. If in those methods we put a ``tools.download()`` or ``git clone`` that will certainly capture the sources in the recipe in Artifactory. That might be an idea worth exploring, labeli

[2020-04-20 20:52] memsharded commented on #6886
I have been having a look, and honestly no idea how this can fail at that point.
The only possible thing I can think of would be user/permissions. Is it possible that the user or the permissions used while running that docker are slightly different to the one in different machines? Sharing any folder to the docker with other configuration? I would try to explore that line of investigation.

[2020-04-20 21:22] fulara opened #6887 "[feature] allow editing build_requires by conan profile update"
invoking:
`conan profile update build_requires.autoconf=x.y.z default`
results in:
`ERROR: Edit  the profile manually to change the build_requires`

Why I need this?
I just wanted to quickly change this from console because I know this particular project wont build on machine I am on, and to follow-in with your iwki guidance i dont want to put it into the conanfile.py.

I was forced to sed the pro

[2020-04-20 21:55] prince-chrismc commented on #6876
Thank you very much for taking this onto your plate. Being stuck at home, I have some extra cycles to spare, more then willing to help :smile:

[2020-04-20 21:59] memsharded commented on #6876
Nice to know. This wouldn't be a very straightforward issue, but if you are willing to give it a try, that would be very welcome!

The heavy part should probably be in conans/client/cmd/export.py, but feel free to ask for guidance any time if you finally try 😄

[2020-04-20 23:42] WPMGPRoSToTeMa opened #6888 "[bug] `conan remove` does not delete packages with broken build"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 / WSL1 Ubuntu 18.04.2
  * Compiler+version:
  * Conan version: 1.24.0
  * Python version: 3.7.5 (Windows 10) / 3.6.9 (WSL1 Ubuntu 18.04.2)

### Steps to reproduce (Include if Applicable)
1. Generate package with a broken build (e.g. specify boost/1.72.0 with C++20 and VS2019).
2. Execute `conan re

[2020-04-21 05:25] #6882 closed, assigned to nobody

[2020-04-21 08:27] MRocholl commented on #6883
Awesome. Thanks for the explanation. That solves my issue.

[2020-04-21 08:27] #6883 closed, assigned to nobody

[2020-04-21 09:10] DoDoENT commented on #6886
Thank you for your insight.

I think it's possible - probably some stray job used the same conan cache from different docker container or even natively.

We will clean the conan home completely and let it download the entire cache anew. If the issue appears again, I'll let you know.

[2020-04-21 11:53] JD31 opened #6889 "[bug] CONAN_LIBS_xxx is reset in editable mode"
When setting a package as editable (call it say) then the consumers reset the associated CONAN_LIBS_SAY in conanbuildinfo.cmake.

Example of file **conanbuildinfo.cmake** on consumer side :

No editable mode for OsgEarth:
[code]
If editable mode for OsgEarth:
[code]

### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 201

[2020-04-21 13:11] KerstinKeller opened #6890 "[question] A different toolchain approach"
Hi Conan team,

as you may know, we're primarily using `cmake_paths` generator and using it (for package development, not package creation) via `cmake .. -DCMAKE_TOOLCHAIN_FILE=conan_paths.cmake`.

However, passing a toolchain file does have some disadvantages, mainly a toolchain file is only processes during the first CMake invokation.
This means, if you run again `conan install` (because you mig

[2020-04-21 13:17] uilianries commented on #6888
Hi @WPMGPRoSToTeMa !

Conan did exactly what you asked. Let's analyze your command:

    conan remove "boost/*" -s -b -f

**-s** tells to remove the source folder, in this case, `%CONAN_USER_HOME%/.conan/data/boost/<any>/_/_/source`

**-b** is for removing the build folder. As you didn't set any specific ID, it will remove all build folder.  `%CONAN_USER_HOME%/.conan/data/boost/<any>/_/_/build`

*

[2020-04-21 13:25] boussaffawalid commented on #6885
my idea was to provide the package id as argument to `conan info`, something like
`conan info my_package/1.0.0@walid/testing --id 2d49981400eb318185d516f42e43c993c066a3ed `

[2020-04-21 19:02] dforsten commented on #2071
Running `conan remove --locks` did not remove the lock for me. I had to manually delete the package from the cache as well.

[2020-04-21 20:25] matz1 opened #6891 "Path to current conanfile in custom generator"
Hello,

I have a question regarding custom conan generators. I wrote a generator like described here:
- https://docs.conan.io/en/latest/howtos/custom_generators.html

The generator creates a build file for an code analysis tool. In the build file I have to provide the path to the .git directory of the package. My question is:
- Is there a way to get the path of the currently executed conanfile
- I

[2020-04-21 21:08] WPMGPRoSToTeMa commented on #6888
@uilianries thank you! This helped to clean them. Now I want to delete only broken packages, leaving successful package untouched. I'm not sure I'm using the correct terminology, basically I want to clean all the garbage produced by the broken builds of boost package (that were produced by the incorrect boost options in `conanfile.txt`). Or maybe there is a way to just find IDs of broken packages

[2020-04-22 07:25] strentler commented on #6850
Hi @memsharded,

what do I need to do to make Lumin OS included by default in Conan?
Which criteria does such a PR need to fulfil? I mean having Lumin OS in settings.yml by default after installing conan from conan.io.

[2020-04-22 08:17] memsharded commented on #6850
Hi @strentler

For including these things as built-in in Conan, they need to have a compelling evidence of community request.

Please take into account that having your own custom settings.yml and maintaining them for your company and developers is very easy with ``conan config install`` command. So the main point to include them in the default ``settings.yml`` is either because it is needed to ge

[2020-04-22 08:30] memsharded commented on #6888
Hi @WPMGPRoSToTeMa

Just to make sure, "broken" packages are those that the build has failed for some reason, right? We use "broken" or "dirty" for things that were left in a dirty state after some failure: network connection while downloading, or an Exception in the build. If the ``build()`` method launched an exception, the package folder is marked as dirty, and that is automatically used for la

[2020-04-22 10:20] WPMGPRoSToTeMa commented on #6888
@memsharded thank you for clarification.

[2020-04-22 10:20] #6888 closed, assigned to nobody

[2020-04-22 12:01] bylee20 opened #6892 "[bug] conan does not work with Visual Studio 2017 Desktop Express"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 64bit
  * Compiler+version: Visual Studio 2017 Desktop Express
  * Conan version: 1.24.0
  * Python version: none(executable from official website)

### Steps to reproduce (Include if Applicable)

First of all, With Visual Studio 2017 Desktop Express, tools.vcvars family does not work.

https://gi

[2020-04-22 12:45] TheQwertiest opened #6893 "[question] profile compatibility: same settings, different compiler/flags"
I'm a bit confused about cross-building with `conan`.
Let's say we have two profiles:

Profile_1
[code]

Profile_2
[code]

According to [docs](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html) only `[settings]`, `[options]` and `[build_requires]` are used in package id calculation.
Thus a package will have the same id for Profile_1 and Profile_2. And it will also be

[2020-04-22 13:36] refactorTractor commented on #6872
This does indeed seem to be a misunderstanding from my part. The error message isn't actually coming from the settings validation then, but from deeper within conan, when it tries to assign an invalid value to this option.

[2020-04-22 13:36] #6872 closed, assigned to memsharded

[2020-04-22 15:11] memsharded commented on #6872
Yes, it actually has 2 levels, in this case, if you avoid the first one, and add it to the settings.yml, then the internal check of known compilers will be fired and tell you.

Thanks for following up and closing!

[2020-04-22 15:41] memsharded commented on #6890
Hi @KerstinKeller

Our current effort regarding toolchains, is to actually create toolchains: https://github.com/conan-io/conan/pull/5919

All the toolchain information/configuration that is done right now in the ``cmake_basic_setup()`` of the ``cmake`` generator will go there. Certainly, this could have the same issue, if done a ``conan install`` that changes the toolchain, an incremental build w

[2020-04-22 15:58] danimtb commented on #6887
I don't know why this was not allowed. Maybe it has some historic reasons but it sounds quite reasonable for me

[2020-04-22 16:10] danimtb commented on #6893
Hi @TheQwertiest,

Yes, this is something you will have to take into account if you are using the same settings in both profiles. I'd say one way to differentiate packages would be to introduce the toolchain as a subsetting of the compiler so that information is taken into account for the package ID.

I know there are other people using this approach so maybe they can help you: @theodelrieu @sztom

[2020-04-22 16:20] danimtb commented on #6892
Hi @xylosper and thanks a lot for the information! I didn't know about this version of visual studio.

I see we could add that to the preference list.

Regarding the vcvars_arch, I see it will be difficult to differentiate that. Have you tried setting ``arch_build=x86`` and ``arch=x86_64`` in your profile? I am not sure if that would work regarding this https://github.com/conan-io/conan/blob/b8b30

[2020-04-22 16:29] danimtb commented on #6891
Hi @matz1,

I think I don't fully understand what is the exact conanfile you would like to get the path to.
- The Conanfile from a reference you are installing? ``conan install mypkg/1.0@user/channel`` (the recipe of that reference)
- The conanfile of the consumer? ``conan install conanfile.py``

In the first case, maybe you can use https://docs.conan.io/en/latest/reference/generators/custom.html#

[2020-04-22 16:29] Belpaire opened #6894 "MsBuild .props file property expansion"
On conan version 1.24.1:
When I generate an msbuild file the generated file for includes (and linking dependencies suffers the same thing, but I will keep it for includedirectories only now). The generated file contains something like
<ConanIncludeDirectories>$(USERPROFILE)\.conan\data\path\to\package\include;</ConanIncludeDirectories>
and sometime later the line:
<AdditionalIncludeDirectories>$(C

[2020-04-22 16:49] boussaffawalid commented on #6891
im facing the same issue.
In my custom generator, I want to write scm info to a file and for that I'm trying to use `tools.Git(folder=<source folder>)`.

I need to know the path of my conanfile.py (path of my source directory) so that I can pass it the tools.Git

I tried to use `git = tools.Git(folder=conanfile.source_folder)` but this only works when creating conan package but not when running `c

[2020-04-23 06:49] matz1 commented on #6891
Hi,

thanks for the help so far.

I first want to describe my problem more precise:
I am writing an generator which creates a configuration file for a
code analysis tool. In the configuration file I have to provide
the path to the .git directory of my conan package which uses the generator.
Since I always put my conanfile.py in the root directory I asked for the
path to the conanfile.

@danimtb
I

[2020-04-23 08:34] d135-1r43 commented on #4382
This feature is very interesting. Would the Conan team consider a pull request for this feature if I would work on it?

[2020-04-23 09:34] jgsogo commented on #6894
Hi!

I see the issue, but I wonder why are you using several `.props` files generated by Conan. This is a new scenario for us and we would like to understand why and what are the advantages or what are we missing so you need to use several `conanbuildinfo.props` files.

Thanks for the feedback.

[2020-04-23 09:37] jgsogo commented on #6889
Hi, @JD31, can you share the recipe file for `OsgEarth`? At least, we need to know what the `package_info` method looks like.

Thanks!

[2020-04-23 09:50] jgsogo commented on #6878
Hi!

Here I see you need a couple of things:
 * First you need all your packages get a new packageID, so the build is triggered again (and those binaries are identified). Using a custom setting in the profile (adding it to `settings.yml`) seem the way to go.
 * Then you need to pass the proper flags to the compiler and here it is the tricky part. Our helpers cannot know about your custom setting s

[2020-04-23 11:18] Belpaire commented on #6894
Hi,

To me it has multiple benefits.

1. The project is large enough, that I would not be able to maintain it if I had a conanfile in every subproject, meaning I would have to generate all of them (not that that would be very hard, but I feel that you would lose maintainability by generating them instead of declaring them by hand).

2.I do not want every subproject to link to all the libraries we

[2020-04-23 14:32] cguldner opened #6896 "[feature] [editables] Layout files need and additional path as input (recipes out-of-sources)"
Hello.

I am hoping to use Conan's editable package mechanism to enable building multiple repositories simultaneously . In the environment I'm in, we pull down several repositories to build the code, so they are all very interdependent. Thus, the editable package scheme (and workspaces) is an attractive option for me.

I am exploring using Conan to reduce build times and make things easier to mana

[2020-04-23 15:52] memsharded commented on #4382
Hi @DavidZemon @d135-1r43

Sorry this issue fell off the cracks long time ago. I would like to understand better the feature, from the description it is still not fully clear to me.
What is possible is to have pure src packages, lets say "mypkg-src/version@user/channel", that can be required by other packages, and it can be required by "mypkg/version@user/channel" as an origin of the sources. Woul

[2020-04-23 15:54] danimtb commented on #6874
Hi @ofiriluz,

This is something that has been discussed for the future redesign of the command line in Conan 2.0 to have common output format flags. Currently, I don't know y any of the environment variables will reduce the output in the downloads. Maybe @czoido can help you with this

[2020-04-23 16:05] fulara commented on #6878
Hello @jgsogo
Yes, I am very well aware of that.
I think your 1st point corresponds ot mine:

I should have worded this differently (used setting word instead of option ) apologies.
But this is very brittle dont you think? And there is no contract at all between user setting setting and exporting variable.
I am using this for sanitizers build - but there are multiple cases and I think this is a co

[2020-04-23 16:10] memsharded commented on #6874
Yeah, sorry, the output of the parallel download has not been addressed yet.
We wanted to prioritize releasing the feature soon so users could try it and report on the performance improvements. Could you please provide some data about the gains in your use case?

We will try to improve this when possible, maybe disabling the progress bars is an easier first step, and the concurrent progress bars c

[2020-04-23 16:15] jgsogo commented on #6896
Hi @cguldner!

## **Short answer:**

Yes, that's a limitation, headers and built artifacts are expected to be _close_ to the conanfile.py. While reproducing this issue I found a couple of things that are worth commenting here

## **Long answer:**

I think this is a scenario it is worth to reproduce so we can test on our own. There can be many details here. I've prepared several repos trying to rep

[2020-04-23 17:01] DavidZemon commented on #4382
Let's use a simple example... a basic library called `string-utils/1.0.0@foo/bar`. It's a C++ library that adds high-level string functionality like you might see in Python `str` class to C++ `std::string`. This code is applicable to a wide array of platforms, from Linux and Windows to small 8-bit microcontrollers. For x86 Windows and Linux, it makes sense that binaries are stored on a server for

[2020-04-23 17:35] himikof commented on #3318
I think that the Boost libraries are a great example of the limitations of the current (semver-mode by default, overridable only per-consumer or globally) model.

The situation with ABI stability in the modern C++ world is very complicated, and there are many misconceptions and misunderstandings out there. For example, the following is, unfortunately, wrong in some (most?) common cases:

The most

[2020-04-23 18:09] gprosch opened #6897 "conan.exe does not observe non_interactive configuration for lock issues"
If I run the conan executable with an install command I still get a prompt when there is a lock issue.

I shouldn't because I have set the CONAN_NON_INTERACTIVE environment variable to 1 and added non_interactive = True to the conan.conf file under the [general] section.

This is a major issue on our build server because the prompt causes the job to hang and jam up the build queue until the timeou

[2020-04-23 18:18] gprosch opened #6898 "conan.exe should have an argument to suppress prompts"
The current implementation requires that I set an environment variable (CONAN_NON_INTERACTIVE = 1) or add a setting to conan.conf (non_interactive = True) to suppress interactive prompts.

This is a less than ideal implementation because it assumes that I will always want to run conan one way or the other.  I may actually want to run it interactive sometimes and non-interactive at other times.

No

[2020-04-23 18:36] jgsogo commented on #4382
This is how I see this feature... don't take it as an upvote or downvote.

We need to think about **this example in the context of a graph**. Nothing can be added/required in the recipe, neither in the consumers (there could be transitive dependencies we want to consume as sources and we don't want to modify recipes in the middle). So the only way to implement this is by using an opt-in, a flag in

[2020-04-23 19:23] shelper opened #6899 "[bug] Cannot install from conan-center on windows"
### Environment Details (include every applicable attribute)
os=Windows
os_build=Windows
arch=x86_64
arch_build=x86_64
compiler=Visual Studio
compiler.version=16
build_type=Release
python=3.7.7

Unable to connect to conan-center=https://conan.bintray.com
1. Make sure the remote is reachable or,
2. Disable it by using conan remote disable,
Then try again.

### Steps to reproduce (Include if Applica

[2020-04-23 20:43] DavidZemon commented on #4382
@jgsogo, I think that would _work_, but wouldn't it also build each of the dependencies unnecessarily when I go to run `conan build ...`?

[2020-04-23 21:03] memsharded commented on #6899
Hi @shelper

It seems there might be something wrong with your system ssl (or the python ssl) in Windows. Which Conan installation did you use? The python-pip one? In a virtualenv?

Is it possible that you have some VPN or proxy configuration in your Windows machine?

[2020-04-23 21:04] memsharded commented on #6855
Closed by conan-io/docs#1666, thanks!

[2020-04-23 21:04] #6855 closed, assigned to nobody

[2020-04-23 21:44] fulara opened #6900 "[bug] unix_path forces always lowercase - even on Linux where casing matters."
conan version: 1.23.0
conan build with pyinstaller, windows was nowhere near the build process.
OS: Redhat 6/7.

code:
`raise Exception(tools.unix_path("HAI"))`
results in:
`Exception: hai`

On Linux.
isnt that undesired?
See problem I've encountered here:
https://github.com/conan-io/conan-center-index/issues/1435#issuecomment-618686445

[2020-04-24 01:34] shelper commented on #6899
i installed anaconda 3 2020.2(Latest) from the anaconda website.
i dont have VPN, the linux in the WSL in the same windows environment works
i used `conda install -c conda-forge conan`

[2020-04-24 01:37] shelper commented on #6899
after installed conan by pip, same error happens

[2020-04-24 06:28] JanGerber opened #6901 "[question] Build info in Artifactory doesn't link to the conan packages in Artifactory"
For our builds we used the Artifactory plugin for Jenkins in combination with Conan. Additionally we push the build information to artifactory after uploading the Conan package to artifactory. The problem is that there are no artifacts in the build information.This makes it especially difficult for developers. You cannot jump directly from the build info in artifactory to the respective artifact i

[2020-04-24 07:36] czoido commented on #6897
Hi @gprosch,
Thanks a lot for reporting. I think that this issue is not related to the `CONAN_NON_INTERACTIVE` mode but to another possible bug. When the lock appears is not a prompt but a warning message but I have been able to reproduce that Conan gets stuck at that point under certain conditions so we will investigate this further.
So Conan is still honoring `CONAN_NON_INTERACTIVE` there but th

[2020-04-24 07:42] czoido commented on #6898
Hi @gprosch,
We don't have in mind adding another argument to all the commands for this but could you please detail more your use case so we can understand it better?

[2020-04-24 08:25] RReymann opened #6902 "Symantec Malware WS.Reputation.1 detection in release 1.24.0"
Hi guys,

While trying to install the latest release of conan for Windows, Symantec has detected the following malware ; WS.Reputation.1

Are you already aware about that ?

Cheers
Renaud R,

[2020-04-24 10:05] czoido commented on #6897
This is related to: https://github.com/conan-io/conan/issues/5500

[2020-04-24 11:07] matz1 commented on #6891
@danimtb
In https://github.com/conan-io/conan/blob/develop/conans/client/file_copier.py on line 133 the copying of the .git directory is prevented. Is there any possibility to access the .git directory of the package when building the package inside the conan cache.

[2020-04-24 11:30] uilianries commented on #6899
@shelper Take a look on this: https://github.com/conda/conda/issues/4930

You can disable ssl verification for Conda, as workaround, it should be enough:

    conda config --set ssl_verify False

As full solution, you need to check your certificate files, probably you need to set a correct one or update them (described on that same issue).

[2020-04-24 11:52] uilianries commented on #6902
Hi @RReymann thanks for reporting us.

Could you please share more details? Do you have a log containing such message?

It's possible solving it by sending a false-positive report to https://symsubmit.symantec.com/

[2020-04-24 12:09] matz1 commented on #6868
Hi @memsharded,
I have a similar problem, see: https://github.com/conan-io/conan/issues/6891
I wrote a generator which creates a configuration file for an code analyzer. In the configuration file I have to provide the path to the .git direcotry of the original conan project. The exports_sources attribute filters out the .git directory. Now I am searching for a good way to resolve this problem.

[2020-04-24 12:36] jgsogo commented on #4382
Mine was just a conceptualization. If Conan is responsible to build only the root of the graph, something else is needed. Not sure if that could be achieved without a more powerful graph model.

[2020-04-24 13:10] fulara opened #6903 "[bug] conan upload should also check stat of the files (file mods, like whether files are executable or not )"
Conan upload does not check for stat of the apps, it probably just calculated checksum of the files to calculate whether local package is different than remote one.

How to reproduce:
Have a package  - upload it to artifactory.
do a chmod +x on one of the files,
`conan create` and `conan upload `
Upload will be skipped and recipe wont be uploaded.

This causes problem in both upload and install -u

[2020-04-24 13:14] RReymann commented on #6902
Hi,

Please find  the corresponding log msgs::

`"conan-1.24.1-x64.exe","WS.Reputation.1","Log only","Insight Network Threat","Auto-Protect scan","c:\Users\garcial\downloads\","DEVPC028310","GarciaL","Log only","c:\Users\garcial\downloads\","Leave alone (log only)","Leave alone (log only)","The file was left unchanged.","4/23/2020 4:25:55 PM"`

If you confirm that release 1.24.1 doesn t contain an

[2020-04-24 13:21] cguldner commented on #6896
@jgsogo Thanks for the detailed response, and for creating a test case!

I'm wondering why you can't just specify the location of the source files relatively, so in this case, why couldn't I do

[code]

You could even possibly point the layout file to where the conanfile is, so then it would be the one source for all of the information about editable packages, though I'd think this functionality s

[2020-04-24 13:33] uilianries commented on #6902
~~Which installer did you use?~~

It's described in your log ..

[2020-04-24 13:39] uilianries commented on #6902
I can't identify any malware: https://www.virustotal.com/gui/file/f5e96db4c9631ae480b814a4d84e039842f97bed2c21790d472b0f385e80f691/detection

I think is because it's an installer from an unknown provider.

Anyway, the recommended installation form is using pip, even on Windows. Please, consider pip as you default conan installer form.

[2020-04-24 13:39] czoido commented on #6902
Hi @RReymann,
Could you please check if other versions of the installer give the same problem?
Like:
https://dl.bintray.com/conan/installers/conan-win-64_1_23_0.exe
https://dl.bintray.com/conan/installers/conan-win-64_1_22_0.exe
https://dl.bintray.com/conan/installers/conan-win-64_1_21_0.exe
Thanks a lot!

[2020-04-24 13:42] jgsogo commented on #6896
On our first approach to this feature, we expected the layout files to be stored in the cache or being created by the user for a very specific package. With issues like this one probably that assumption was no longer valid for all scenarios.

We also thought that the best way to go was to compute the paths relative to the conanfile, not to the place where the layout file was (it didn't make sense

[2020-04-24 14:00] RReymann commented on #6902
Hi

I used this one:
https://dl.bintray.com/conan/installers/conan-win-64_1_24_1.exe

I did not notice any Symantec Alert with
https://dl.bintray.com/conan/installers/conan-win-64_1_23_0.exe

Cheers
Renaud

[2020-04-24 14:36] dribeas commented on #6057
Are there plans to support overriding the versioning scheme?  For example, `openssl` does not use *semver* at all, which forces us to pick an specific version of the library where in most cases we don't particularly care (and would not want to have to edit all our recipes whenever we change `openssl`.

[2020-04-24 14:41] shelper commented on #6899
Tried to set ssl off but still fails.
also tried updating the ca, etc. pretty much everything i can find online...
anyway, i will try more and will update here. not sure if others have met the same issue though...

[2020-04-24 15:09] czoido commented on #6901
Hi @JanGerber,
There are some issues (that we hope are fixed soon) when using BuildInfo with Conan packages like if you re-upload files that are shared between different builds (like `conanfile.py` for example) the path to the artifact may be lost.
Regarding your case, could you give me more details of the complete process that makes you get to that? Is it always happening for all builds? Maybe I

[2020-04-24 15:19] memsharded commented on #6899
We have found some issues with SSL in Mac but not many in Windows. Have you tried the Windows installer instead? That bundles a python interpreter, might be useful to try to isolate the issue.

[2020-04-24 15:26] memsharded commented on #4382
Please @solvingj feedback here

[2020-04-24 15:37] shelper opened #6904 "[question] How to add includepath for c++ intellisense in vscode"
For `vcpkg`, you can add the following include path to the `c_cpp_properties.json` file so that the intellisense in vscode will work

[code]
For `conan`, is there a similar approach? I couldn't find it in the documentation..

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-04-24 15:39] czoido commented on #6903
Hi @fulara,
Could you please give me more details about the use case?
Right now as you say conan is not going to take into account those changes, I think that the only case in which permissions are going to have influence over the created package reference is if you are using conan SCM mode for the recipe with `revision=auto` and git with `core.filemode true`. In that case if you have revisions en

[2020-04-24 15:54] fulara commented on #6903
Hm, the usecase. Slightly confused how the 'SCM' fits in the picture here.
Minimalistic use case:
you have some kind of scripts on repositories, and these needs to be 'executable' but you have forgot to mark them as executable.

Full process to reproduce:
[code]

[2020-04-24 15:58] cguldner commented on #6896
@jgsogo It sounds like the only problem is that there isn't a way for Conan to know that my recipe is not stored with my source as "conanfile". If that problem could get resolved, then I think I could just give a relative path to my source files, right

[2020-04-24 16:02] czoido commented on #6903
Yes, sorry if I introduced noise in the conversation, I said it in case you were using SCM mode, in that case, as git can be configured to detect changes in the file permissions, as a side effect conan would be too, because the commit affects the conan revision when exporting.

I don't know if this a thing to address right now but we will have a review at it for a possible feature like a mode that

[2020-04-24 16:05] fulara commented on #6903
SCM is something I have not explored yet.
I think SCM is very limiting because its an attribute, so its hard to use with dynamic versions etc :).
But one day I will try to use it.

[2020-04-24 16:22] solvingj commented on #4382
We have several historical tickets relating to the propagation of sources and source-related information from producer to consumer packages.  Many of these are not completely covered by `imports()` and also include the specific desire for support in generators.  I have implemented source-packages myself in conan and written custom generators to make use of them, so I have some real experience with

[2020-04-24 16:25] gprosch commented on #6898
I certainly understand the reluctance of adding additional arguments.  Could I politely suggest that many of the options in the conan.conf file would be useful to have as options available via the command line interface.  Adding them all explicitly would certainly be ill advised.  However, you could provide a means by which I could reference an alternate conan.conf file or you could have an argume

[2020-04-24 16:41] czoido commented on #6898
Thank you so much for your kind words! :)
As you know we are designing Conan v2 right now, so this kind of feedback is very valuable for taking into consideration features that are helpful for users in the future.
Anyway, I don't know if this helps but maybe using `conan config install` to install the configuration from a file or repository that won't change and `conan config set` to modify the se

[2020-04-24 16:56] jgsogo opened #6905 "[bug] Store full path to the conanfile for editable packages"
From https://github.com/conan-io/conan/issues/6896

The information stored in the `editable_packages.json` in the Conan cache contains only the path to the folder where the recipe is. As a consequence, if the file is not called `conanfile.py`, Conan will fail to locate the recipe.

[2020-04-24 17:20] gprosch commented on #6898
That's a good idea.  I will try that.  Thank you!

[2020-04-24 17:46] shelper commented on #6899
Tried reinstall python, and install conan by pip,  also tried install the conan binary standalone, still the same error
[code]

[2020-04-24 20:43] cguldner commented on #6896
@jgsogo Is it true that I should be able to specify where the library/build/include files are from my layout file as relative paths?

If so, then I believe this issue should close because you created the bug issue, correct?

[2020-04-24 22:12] akalali opened #6906 "[question] Using Artifactory Azure DevOps Extension with self-hosted VM"
I'm currently setting up Artifactory CE locally to test my Conan project to work with pre-built packages.
Until now, everything works fine, I created conanfiles for my libraries, created packages and uploaded them to my _local_ Artifactory instance, which I installed inside a Ubuntu VM (guest) running in Win10 (host).
The _local_ Artifactory instance is running on `localhost:8082` or more specific

[2020-04-24 22:32] ryan-WORK opened #6907 "[question] Conan cross compilation MacOS to RaspberryPi"
Hello,

I have 2 questions for you.

Does Conan support cross compilation from MacOS to Raspberry Pi?

Is there example code for the talk **Continuous Integration of C/C++ Apps for IoT Devices** by Diego Rodriguez-Losada & Daniel Manzaneque in 2018?

I have read through the examples that are listed on the cross compile portion of the website and I do not see anything about MacOS targeting Raspberr

[2020-04-25 00:08] shelper commented on #6904
Well, i am just trying to answer my own question
a solution is to use cmake-tools plugin for vscode and change the c++ configuration provide to cmake. This will let the intellisense find the includes based on cmake,

I am gonna close this one

[2020-04-25 00:08] #6904 closed, assigned to nobody

[2020-04-25 03:21] solvingj commented on #6876
Hi @prince-chrismc , I would like to work with you on this feature. Please let me know if you've started anything already.

[2020-04-25 03:23] prince-chrismc commented on #6876
Alright, so Ive been playing with this a bit and I've come up with [this](https://github.com/conan-io/conan/compare/develop...prince-chrismc:develop) so far. I start with a simple recipe package to do my testing against.

I added an option to `conan export` which will trigger the "offline-ing process"
1. modify the recipe ( converts to an local source variant )
    - adds version
    - adds export

[2020-04-25 10:25] Siron777 opened #6908 "[bug] cmake_find_package_multi set the PACKAGE_VERSION to None for a package created with None built_type"
Hi,

I am building a package with a recipe containing
`settings = "os", "compiler", "build_type", "arch"`

but the build type is set to None (-s built_type None) in the create command. This is because the recipe behaves like that:

- A multi config -> one package if the build_type is None

- A one config -> one package if the build_type is not None.

So far, so good, it works quite well if i use t

[2020-04-25 14:17] wpalfi commented on #5762
Very interesting. There seem to be many quite different ideas and use cases for workspaces. E.g.

 - use conan as much as possible, if your architecture is already based on conan (as proposed here)
 - avoid using conan as much as possible (as I proposed in #6844)
 - lightweight workspaces, proposed in #5566
 - ...

The conan team should aim for a generic solution that enables all these use cases b

[2020-04-25 14:23] synacker opened #6909 "[question] Is there ways for building C++ python extensions using conan?"
I have Qt based project - [Daggy - Data Aggregation Utility](https://github.com/synacker/daggy) - and [devel classes](https://github.com/synacker/daggy/tree/master/src/DaggyCore).
I want to port these classes into python as pip package.
Project dependencies are building using conan.

Is there ways to create python C++ extension using conan?
Is there any examples?

- [x] I've read the [CONTRIBUTING

[2020-04-25 14:33] wpalfi commented on #6086
Dont know if that helps: Workspaces are experimental and very limited. In our company, instead of using workspaces, we manually remove the concerned requirements from the conanfile and use cmake to create and link the libraries. I explained that in #6844.

[2020-04-26 13:45] johnmcfarlane opened #6910 "[bug] Missing support for newer compilers"
Here's an example of [Conan from pip as of yesterday](https://github.com/johnmcfarlane/cnl_ci_images/blob/master/dockerfiles/1/base-20.04#L20) which only, apparently, added GCC 9.3 less than a month ago to [here](https://github.com/conan-io/conan/blob/725bd0cee4e53f35521aef7eeb61d4772c460d5e/conans/client/conf/__init__.py#L67) failing to recognize GCC 10 in a [CI job](https://app.circleci.com/pipe

[2020-04-26 15:23] dFohlen opened #6912 "[question] How to define OpenSSL in AutoTools?"
Hi guy's,

I got into a problem writing a Conan recipe for a library created with AutoTools
The library requires OpenSSL, which was normally specified via a fixed relative path in the Makefile.
Like this:
[code]

But now the OpenSSL is also built with Conan and is therefore no longer in the specified directory. So I have to tell the library where the OpenSSL is located without changing the officia

[2020-04-26 18:06] memsharded commented on #6909
Hi @synacker

You might be interested in this read: https://docs.conan.io/en/latest/howtos/other_languages_package_manager/python.html
It might be a bit outdated, we haven't revisited it in a while. But you will be able to see there that it is possible. Creating a pip package might require a bit of work in the pip/setuptools side, but it seems possible (at least I recall some other users doing som

[2020-04-26 22:55] DavidZemon commented on #5968
@solvingj, I'm still happy to answer any questions you may have. I just noticed a few typos in the README (including the fact that the image links were broken) and fixed all of that. That's not to say I'm about to pick up the code and start enhancing it again, but do please feel free to reach out if you need anything.

[2020-04-27 01:31] KunalSharmaa opened #6913 "Is there a way to fetch only CMake compatible packages from the conan-center?"
I am trying to have a strong CMake + Conan integration and would only like the CMake compatible packages. I tried to look at the `conan search` command for some help but it doesn't really have any CMake specific commands. So can you help me here?

[2020-04-27 02:41] shelper commented on #217
i agree that this should be able to be set in `conanfile`. users dont want to see this exception and install packages with new `libstdc++11` again...
if possible, maybe enable local profile file within the project folder, if exists, always overrides the global default profile.

[2020-04-27 08:45] memsharded commented on #6913
Hi @KunalSharmaa

There is not such a thing in Conan. If package recipes are written correctly, they should be able to be consumed from other build systems and not only cmake.

If you want to know what packages are build with cmake, you can clone https://github.com/conan-io/conan-center-index and grep for ``CMake``

[2020-04-27 08:52] memsharded commented on #217
A single package cannot change the whole dependency graph value for ``settings.compiler.libcxx``, that would be a chaos, and source of continuous conflict, with different packages setting different conflicting values (and packages with different values cannot be linked together, that produces link errors). This is the reason this is a global setting and as setting, cannot be defined or defaulted i

[2020-04-27 08:59] RReymann commented on #6902
Hi,

Please find below Symantec actions ;

    File name: conan_win_64_1_24_1.exe
    MD5: 8095FAF3409517308E4DACA857863692
    SHA256: F5E96DB4C9631AE480B814A4D84E039842F97BED2C21790D472B0F385E80F691
    Note: Whitelisting may take up to 24 hours to take effect via Live Update

If detection persists, please contact support:
* Norton: https://support.norton.com/sp/en/us/home/current/info
* SEP: ht

[2020-04-27 09:04] memsharded commented on #6912
Hi @FohlenAFK

You might get access to the Openssl package folders via the ``self.deps_cpp_info`` interface: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#deps-cpp-info

So something like this:

[code]

[2020-04-27 09:08] czoido commented on #6902
Hi @RReymann,
Thanks a lot! I'll close the issue then.

[2020-04-27 09:08] #6902 closed, assigned to nobody

[2020-04-27 09:36] dFohlen commented on #6912
Hi @memsharded

Thanks a lot. That worked fine, easier than I thought!

[2020-04-27 10:11] #6912 closed, assigned to memsharded

[2020-04-27 12:01] memsharded commented on #6908
Hi @Siron777

You are right, this seems a small bug. Just submitted a fix, lets see if it can be released in next 1.25

[2020-04-27 12:07] memsharded commented on #6904
Hi @shelper

Yes, that should work. As a reference, for other build systems, it might be possible to extract the information about headers from several Conan generators, as the ``txt`` one, or the ``json`` one, that would be relatively easy to parse. It is also possible to write a custom generator that will output information directly for VScode format (this is already what the ``ycm`` generator i

[2020-04-27 12:17] NokiDev opened #6915 "[bug] package_folder shown in conan info don't change if options changes when using build_id."
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows
  * Compiler+version: Visual Studio
  * Conan version: 1.24
  * Python version: 3.6

### Steps to reproduce (Include if Applicable)

Create a package recipe, with a boolean option and with override build_id method to set
self.info_build.options.myOption to 'Any'.
Create two packages, one with and the

[2020-04-27 12:26] memsharded commented on #6910
Hi @johnmcfarlane

Yes, there were some historical reasons for this, including support for binaries in ConanCenter based on it.

From now on, we will try to add new compiler versions as soon as possible. There will be NO binaries for them in ConanCenter, binaries in ConanCenter will only be provided when they become official releases. But at least it will not be necessary to add them to the settin

[2020-04-27 12:40] johnmcfarlane commented on #6910
Great to hear. Thanks!

[2020-04-27 12:42] johnmcfarlane commented on #6910
And just to be clear, the Ubuntu package is still marked 'experimental' as GCC 10.1 is not out yet. I think they just want to set things up so that it's easy for users to adopt 10 as this is an LTS which will be around for a long time. I've no doubt the package's status will change in line with the stable release.

[2020-04-27 13:57] #6908 closed, assigned to memsharded

[2020-04-27 14:14] synacker commented on #6909
@memsharded Thank you for attention!
Looks, like an unexplored way )
Let us know about examples please, if you will meet them )
Thank you!

[2020-04-27 14:39] memsharded commented on #6915
You are right. Submitted a PR https://github.com/conan-io/conan/pull/6917 to fix it, for next Conan 1.25

[2020-04-27 14:47] memsharded commented on #6909
I think the original question about creating python extensions is addressed by those examples in the documentation. In this case, we could close this issue as resolved.

A different issue is how to create pip (or other) python packages that uses Conan under the hood to build extensions that resolve dependencies internally with Conan. This case is not documented in our docs, and if we got more info

[2020-04-27 14:47] #6909 closed

[2020-04-27 18:16] cguldner opened #6918 "[bug] When using a base Conanfile, settings and generators get duplicated"
When using a base conanfile, settings and generators values are getting duplicated. I have this base conanfile:

[code]

When I go to use it in another conanfile.py, upload it, and run `conan inspect` on it, I get the following partial output
[code]

The conanfile.py that I'm using it in doesn't declare the `generators` or `settings` variables, it just has the following `init` method:
[code]
Based

[2020-04-27 21:13] floriansimon1 commented on #499
Maybe this is what causes: https://github.com/conan-io/conan-center-index/issues/1476?

Note that the workaround exposed here cannot be used anymore, becuase the `DepsCppInfo` class no longer has that `loads` method.

[2020-04-27 21:38] memsharded commented on #6918
Hi @cguldner

I have had a look at this and I would say this is not a bug, but expected behavior. According to inheritance in python the following line:

[code]
Is computing the settings as the result of the base settings plus the current settings. As the current class do not define any settings, it is inheriting the settings from the base class.

Adding:
[code]
Is probably the most correct approa

[2020-04-27 21:42] memsharded commented on #499
Hi @floriansimon1

I don't think so. This was related to ``conan build`` only and this works now, this was a really old issue. The ``conanbuildinfo.txt`` is now automatically loaded before ``conan build``.

[2020-04-28 06:23] seanmlyons22 opened #6919 "[question] Access build_requirements of dependencies via conanfile.py"
Hello Conan Devs,

**Background**

We're currently using conan to package an SDK inside our company.
This SDK includes source code, libraries, and documentation for the "core" parts of our platform including drivers, kernel, etc.

We have a waterfall approach where this core SDK is consumed by higher level developers (e.g. RF stacks) who consume the core sdk and build their products on top of it.

[2020-04-28 07:39] AlexandrePTJ commented on #5933
Hi, I do have the same problem, did you find a solution ?

[2020-04-28 08:02] memsharded commented on #6919
Hi @seanmlyons22

No, ``build_requires`` are private to each package, and they are not visible from downstream consumers. Furthermore, it is important to know that currently build_requires are only in the graph when that package that uses them needs to be built from sources. If you are using the CoreSDK and there is already a pre-compiled binary for it, the build_requires do not exist anywhere, th

[2020-04-28 11:20] rea-yseop opened #6920 "[feature] support gcc 10"
Hello,

since gcc10 is out, would it be possible to add it to the list ?

For now i am manually modifying `~/.conan/settings.yml` as suggested here https://github.com/conan-io/conan/issues/6538

- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-04-28 11:25] memsharded commented on #6920
Yes, adding it in next release to the default settings.

[2020-04-28 11:41] bog-dan-ro opened #6921 "[feature] Merge multiple packages contents into a single folder"
I faced problems when I worked with projects which had lots of dependencies, this way the include & libs paths gets very big.

Such a feature it's needed for at least the following reasons:
 -  to workaround window max path limitation.
 -  to speedup the build, for the compiler it's faster to search one folder than multiple.
 - package & test big projects like KDE frameworks. Here the biggest prob

[2020-04-28 11:55] seanmlyons22 commented on #6919
@memsharded,

Thanks for suggestions and the quick response!

I read up on profiles and they could work. Applying that to our example:

1. `CoreSDK` creates a build_profile file as part of its packaging process. Let's say one of the profiles defined is `arm_gcc_win`.
2. Downstream package `RFStack` consumes it. Developers can do
`conan install .. -pr=arm_gcc_win` and they will get the tools define

[2020-04-28 11:56] memsharded commented on #6921
Hi @bog-dan-ro

I am not sure what you mean. You have the ``imports`` functionality that can get everything you want, with the layout you want in your folder. Have you had a look at it?

[2020-04-28 12:03] memsharded commented on #6919
Hi @seanmlyons22

That seems an interesting approach, not what I had in mind, but I guess it might be possible to make it work (you might also implement a ``deploy()`` method to easily copy the profile to local folder? How do you plan to make ``arm_gcc_win`` available from the CoreSDK package?)

What I had in mind is defining the tools to build ``CoreSDK`` directly in the profile that you are usin

[2020-04-28 12:16] #6910 closed, assigned to nobody

[2020-04-28 12:16] #6920 closed, assigned to nobody

[2020-04-28 12:19] memsharded commented on #5918
This was closed by #5936

[2020-04-28 12:19] #5918 closed

[2020-04-28 12:20] derived-coder commented on #6453
especially for testing, this feature is really appreciated. So I don't need to download a big source file from some server.

[2020-04-28 12:41] seanmlyons22 commented on #6919
@memshared,

The motivation behind having the `CoreSDK` define the build profile `arm_gcc_win` is so that downstream consumers are using the right tools and compilers. Not so much the case with compilers, but usually there is a requirement that developers are using the right version of tools that match the `CoreSDK`. Put another way, the `CoreSDK` defines the tools for downstream packages.

Perhap

[2020-04-28 13:08] cguldner commented on #6918
This would make sense from an inheritance standpoint, but I would say this isn't really documented. And I see that as an important thing to document, since Conan inheritance isn't like regular python inheritance.

This still raises the question as to why I am able to have cmake as a generator twice, or duplicate settings. I think the underlying data type should be a `set`

[2020-04-28 13:21] memsharded commented on #6918
The problem is that these are the non-processed types, they are the data exactly as declared in the class, with the python syntax and semantics. Later on, we convert them to other types internally (so you can do things like ``self.settings.os == "Windows"``. But at the ``init()`` time, they are exactly as you defined them as class attributes, we cannot force users to define them as ``settings = se

[2020-04-28 13:38] a4z commented on #6842
I am not sure why this is now closed, can I get now the package id, or cache location, via some command ?
this does not feel at all like the feature I requested or would need

and if it exists local

is this now all the sudden possible? through an improved HTML output ?
without workaround by generating a graph ....  ?

[2020-04-28 14:22] bog-dan-ro commented on #6921
I mean that if my package depends on libA, libB, libC, etc. I wan't to merge libA, libB, libC, etc. package folders into a single folder with a single `include`, `lib`, etc folder for all packages.

[2020-04-28 14:31] memsharded commented on #6919
If the CoreSDK is a library that is being linked into your other products, then it is good to keep it as a regular ``requires = "core_sdk/version@user/channel"`` (btw, we recommend always lowercase for package names, that is the convention we use in ConanCenter), and then manage the tools as ``build_requires``. That approach is good that way.

What I am probably not understanding is because of mis

[2020-04-28 14:32] memsharded commented on #6921
Yes, you can do with the ``imports`` feature. You are responsible that some headers or other files will not collide by name, but otherwise it does exactly what you want.

[2020-04-28 14:35] bog-dan-ro commented on #6921
@memsharded Thanks a lot, I was looking to   https://docs.conan.io/en/latest/reference/commands/misc/imports.html not to
 https://docs.conan.io/en/latest/reference/conanfile/methods.html#imports :).

Sorry for the noise.

[2020-04-28 14:35] #6921 closed, assigned to memsharded

[2020-04-28 14:40] memsharded commented on #6921
No problem, glad to help!

You have ``imports`` both at the recipe level (as method, as you pointed), and also at the ``conanfile.txt`` simple text consumer, as ``[imports]`` section too, in case you need it.

[2020-04-28 14:44] memsharded commented on #6628
Yeah,  lets keep it simple, lets fix the bug for Python 3 only

[2020-04-28 14:57] fulara commented on #6810
when building git - I think it relies on hardlinks being present. and conan simplifies them to simple copies.
this causes blowout of 10x the taken space.
As a workaround i will try to detect hardlinks and change them to a soft links here. should work possibly.

[2020-04-28 16:09] #3610 closed

[2020-04-28 16:09] #5708 closed

[2020-04-28 16:10] memsharded commented on #5708
https://github.com/conan-io/conan/pull/6791 has implemented resumable downloads, so this should fix this issue. It will be released next 1.25.

[2020-04-28 16:11] memsharded commented on #3610
https://github.com/conan-io/conan/pull/6791 has implemented resumable downloads, so this should fix this issue. It will be released next 1.25.

[2020-04-28 16:43] #6915 closed, assigned to memsharded

[2020-04-28 16:59] #6856 closed, assigned to SSE4

[2020-04-29 07:26] gpioloco opened #6923 "[bug] conan create fails to check on remote (.conan.db)"
### My Problem
To explain my issue i have to tell you what my setup looks like:
My problem involves 2 computers my _workstation_ and a _buildmachine_. And additionally i got two packages _A_ and _B_. Note that package _B_ is being required by package _A_. Package _B_ is located on a remote  _MyRemote_ and the _buildmachine_ tries to build package _A_ using _conan create_ like this
`conan create co

[2020-04-29 08:19] memsharded commented on #6923
It contains the cached user and token (not passwords) to connect to that remote, to avoid having to enter the user/password for every remote api call

Yes, the token contains authorization to the server. In general it should be temporary and expire, so way more secure than a password, but still you shouldn't be reusing or sharing this conan.db file

You should be interactively authenticating in ev

[2020-04-29 08:26] gpioloco commented on #6923
So the influence of this .conan.db file on the behaviour related to remotes is that i use a different user. So maybe i got different permissions on my buildmachine and my workstation. I will try to check the users and permission and experiment a little i will write back if i know something new. Thanks for the fast response

[2020-04-29 09:44] Mirko-von-Leipzig opened #6924 "[question] Why are private requires not recommended?"
Title. Sorry if this question has been asked before; I did try a few searches

We use CMake with static libs and sometimes we have libraries which have a completely hidden/private dependency. In cmake we usually achieve this using `target_link_libraries(target_lib PRIVATE private_dep)`. This does not get translated back out to other conan packages relying on `target_lib`. Using conan requires with

[2020-04-29 10:00] #6811 closed, assigned to uilianries

[2020-04-29 10:04] #6628 closed

[2020-04-29 10:17] SSE4 commented on #6924
private requirements may lead to ODR violations, for instance:
**A** (private)-> **libjpeg/9c**
**B** (private) -> **libjpeg/9d**
**C** -> **A**, **B**
in this case you have both **libjpeg/9c** and **libjpeg/9d** within a dependency graph simultaneously. this might work in some cases (if you're careful and understand what are you doing), but on other hand, it may lead to runtime errors hard to deb

[2020-04-29 10:32] #6716 closed

[2020-04-29 10:44] eyalbe4 commented on #6906
@akalali,
Are you able to save the Artifactory details when defining the Artifactory service endpoint on Azure DevOps? I think that Azure DevOps triggers a connection test before allowing to save the details. Please confirm that this is what you see.
If this is the case, we can try to make this test optional in the Artifactory Azure DevOps Extension code (hopefully this is allowed in Azure DevOps)

[2020-04-29 10:50] eyalbe4 commented on #6906
@akalali,
Following my previous message, you can open a feature request on https://github.com/jfrog/artifactory-azure-devops-extension/issues for allowing to disable this validation.

[2020-04-29 10:58] Sebiee opened #6925 "[feature] Option for uploading multiple specific references"
- [x] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

I understand there is some work in progress (https://github.com/conan-io/conan/issues/5743) that might fulfill this use-case I'm gonna explain, but I just want to be sure it will really be possible when that issue is implemented, or maybe I can go other way to achieve what I want. Any

[2020-04-29 11:00] #6881 closed, assigned to jgsogo

[2020-04-29 11:38] Mirko-von-Leipzig commented on #6924
Could you elaborate on '(if you're careful and understand what are you doing)'?

Is ensuring that no private headers get exposed enough? Or is far more complicated?

[2020-04-29 12:07] memsharded commented on #6924
Yes, I would say it is more complicated, it is possible to have duplicated symbols while linking A, B, for example. And that would be the good case. easy to detect, and possible to workaround (I have seen solutions based on adding an extra namespace to differentiate both, but that requires patching and hacking). But it is possible to get very weird ODR violations resulting in internal binary incom

[2020-04-29 12:11] Mirko-von-Leipzig commented on #6924
Okay thank you :)

[2020-04-29 12:11] #6924 closed, assigned to nobody

[2020-04-29 13:42] d135-1r43 commented on #4382
The comparison to SVN externals or GIT submodules is very good. The use case:

There is some C code in repository R1 that is dependent on code in R2. Instead of building a library from the code in R2 and using that binary in R1, R2 is added to R1 as a git submodule. So the code in R1 is available at compile time. We want to get rid of the submodules and want to use Conan for dependency management.

[2020-04-29 13:47] kobalicek opened #6926 "[bug] compiler version mismatch when X.Y.Z version is in profile"
### Environment Details (include every applicable attribute)
  * Centos linux 8:
  * Compiler+version: clang 8.0.1
  * Conan version: 1.24.1
  * Python version: 3.6.8

### Steps to reproduce (Include if Applicable)
  * Use major.minor.patch compiler version in the profile
  * Try to compile a package with cmake

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

I hav

[2020-04-29 14:47] memsharded commented on #6926
Hi @kobalicek

Yes, the ``cmake`` generator is not prepared for this compiler version check including down to the minor. Lets try to fix it.

In the meantime, you can avoid the checks (they are just there to ensure that your current env and cmake is matching your defined Conan settings for the dependencies), by defining the CMake variable: ``CONAN_DISABLE_CHECK_COMPILER``

[2020-04-29 14:54] memsharded commented on #6926
Quick question, just to be sure: Besides having

You also had to define a custom ``settings.yml`` that define such version including the patch, right?

[2020-04-29 14:57] cqjjjzr opened #6927 "[bug] vcvars not called when using clang-cl"
### Environment Details (include every applicable attribute)
  * Operating System+version: Windows 10 Build 2004
  * Compiler+version: clang 10.0.0 + MSVC Compiler 19.25.28612
  * Conan version: 1.24.1
  * Python version: 3.8.1

### Steps to reproduce (Include if Applicable)

Build boost from conan-io/conan-center-index#1453 with line 12 in `test_package/conanfile.py` changed to:
[code]

#### Used

[2020-04-29 15:02] kobalicek commented on #6926
Yeah, I inherited some projects and they use custom settings. At the moment we have clang 8.0.0 and 8.0.1 profiles for both debug and release, so they really differ in patch version.

I would be actually fine with major.minor to be honest and `CONAN_DISABLE_CHECK_COMPILER` is sufficient in my case, would be nice that variable appeared in the error message :)

[2020-04-29 15:10] memsharded commented on #6926
Yes, lets add this variable in the error message too, good idea

[2020-04-29 15:57] ericriff opened #6929 "[question] Managing package revisions on Artifactory"
Hello,
I have a question regarding the management of package revisions on my Artifactory server. The way we're using conan consists on a Jenkins pipeline that builds a bunch of recipes and uploads them to artifactory. We have revisions activated because we're using the recipe revisions as locks for the dependencies, which works great for us.
The issue that I'm facing is that my Artifactory server

[2020-04-29 16:01] michaelmaguire opened #6930 "[question] enforcing a pre-promotion buildall concept for new version of package"
This is a request for a clarification of a question made some time back via email.  Previously I asked:

In our toolchain at work we call that kind of pre-promotion validation a `buildall` step.

The answer Diego helpfully provided was:

[code]

I'm finally getting around to trying to incorporate this built promotion "gating" validation in our system, and ran into an issue:

If I run this on the c

[2020-04-29 16:49] datalogics-kam commented on #6929
I was about to open an issue as well; I just had to go save our Artifactory server from running out its datastore (some of our packages are big). We also run nightlies and the RREV/PREV combo gives us an explosion of old packages.

What I'd like to have is a `conan purge` command, which would have the ability to:

- Purge old RREVs (keeping the latest)
- Purge old PREVs of the latest recipes.
- Be

[2020-04-29 16:50] KerstinKeller opened #6931 "[feature] Confusing error message when typo in profile"
I had a typo in my profile file:

[code]

Where it should have been `include` instead of `includes`.
When running Conan, I got the following error message:

[code]

At least I knew that something is wrong with the profile, but the error message was a bit misleading
A more helpful message could have been:

[code]
or something similar.

### Environment Details (include every applicable attribute)

[2020-04-29 16:53] ericriff commented on #6929
That's exactly what I'm looking for.

[2020-04-29 17:12] memsharded commented on #6929
This might take a while to consider, as we will probably be discussing to incorporate this into the command line for Conan 2.0. In the meantime, you can get the revisions information with:

[code]

And for packages:
[code]

The ``--json=file.json`` might also help to automate this together with ``conan remove`` calls. So it seems that a couple of python scripts for the admins of the Artifactory re

[2020-04-29 17:21] memsharded commented on #6929
Just in case, possibly a good practice is to use more than one Artifactory repository. We are recommending it for CI, for example, where most of the builds are uploaded to a temporary "tmp" Artifactory repo. The purge policy there could be automated for example with an Artifactory plugin that removes artifacts older than a given time, automatically.

Also some notes for ideas for implementations a

[2020-04-29 18:05] datalogics-kam commented on #6929
ETA: Thanks for taking this under consideration.

That sounds great, but actually wouldn't work for us. If the nightlies are failing for a few days, we need to be able to have our devs get packages (we have things that are way too big to build in the cache). If we set the timeout to a week or two, we run out of space. Also, I've been getting the strong vibe that Conan package management should be

[2020-04-29 18:18] madebr commented on #6069
@jgsogo
I think this feature still makes a lot of sense for protobuf. (https://github.com/conan-io/conan-center-index/pull/1179)

Plus adding a variable that contains the run command would also be nice.
e.g. the following generated code in `conanbuildinfo.cmake`
[code]
for macos and something similar for the cmake_find_package(_multi) generator (and other os'es).

Ideally, the interface for `cmake

[2020-04-29 22:09] daravi commented on #1346
@lasote Reading [the documentation](https://docs.conan.io/en/latest/howtos/sanitizers.html), it sounds like there is no need to specify path to instrumented `libc++`. Is this the case or is it implied that the `libc++` must be instrumented? (for memory sanitizer specifically to work, [apparently](https://github.com/google/sanitizers/wiki/MemorySanitizerLibcxxHowTo#introduction) libc++ itself needs

[2020-04-30 07:45] memsharded commented on #6891
I am reopening this, I think this is still valid, and an interesting feature request.

Most likely this shouldn't be in the generators side, but on the toolchain one. Conan recipes are soon learning a new ``toolchain()`` method, that will take the functionality from the generators regarding the build configuration. Will probably not be enough for the fact that the .git folder is not copied to the

[2020-04-30 07:51] jgsogo commented on #6889
For example, if you are using `tools.collecct_libs()` you need the libraries to be in the paths Conan is using to look for them, otherwise the list will be empty. The path if different when the package is in editable mode.

[2020-04-30 08:17] jgsogo commented on #6900
Hi!

This tool is intended for Linux subsystems in Windows, not for native Unix. The implementation depends on the subsystem flavor and it has been working for a while (we use it inside other tools using windows subsystems). As you can see in the source code, it is taking into account different casing scenarios depending on the subsystem: https://github.com/conan-io/conan/blob/e17f052820b9d6e2fe60

[2020-04-30 08:23] jgsogo commented on #6907
Hi, @ryan-WORK .

Let's ping @danimtb , he will know for sure where the sources of that example can be found.

About cross-compiling: Following the examples in the documentation you can see that most of them are populating the environment with the variables needed to cross-build: the path to the compiler, path to other tools, sysroot,... and Conan will run using those tools and associate the binar

[2020-04-30 08:32] #6779 closed, assigned to nobody

[2020-04-30 08:42] jgsogo commented on #6925
Hi, @Sebiee

We are already redesigning the Conan CLI for the next major version and this is something to consider for the new set of commands and arguments (@czoido is leading that effort, he will consider this suggestion). For the current CLI I'm afraid that the best I can suggest you is to parse the JSON and run several `conan upload` commands 😞

---

**Another approach (workaround) would be to

[2020-04-30 08:53] danimtb commented on #6907
Hi @ryan-WORK,

The repository we used for that talk can be found here: https://github.com/danimtb/ci_iot

There you can check the cross-building profile called ``win_to_rpi``. For that example we used windows, but you can customize the profile for your own cross-building toolchain.

[2020-04-30 09:21] akalali commented on #6906
I just realized that it is possible to _save_ [the service definition] _without verification_.
I also just realized that the given address
`The URL resolves to address "http://192.168.0.171:8082/artifactory/api/plugins"`
leads to the following error 400 message:
`This REST API is available only in Artifactory Pro (see: jfrog.com/artifactory/features). If you are already running Artifactory Pro ple

[2020-04-30 09:25] jgsogo commented on #6927
Given the inputs, if the `vcvars` is not called it is because of the last `and` condition in:

[code]

Reading through the `CMake`-build helper sources and the `cmake_flags` I think Conan is detecting the generator as `"MinGW Makefiles"`. https://github.com/conan-io/conan/blob/63b6a28ab36706144dbdc0ddf40ead09522fecc1/conans/client/build/cmake_flags.py#L29

I'm not an expert in the Windows architec

[2020-04-30 09:50] cqjjjzr commented on #6927
### Answ

- To build the boost itself, the "b2" build tool is used. I'm unfamiliar with this tool, but with some minor changes, the boost itself can be built successfully without vcvars enabled. It's the test_package that is failing.
- Clang on Windows requires a proper Windows SDK pre-installed (MSVC or MinGW). My clang is using my Visual Studio 2019 toolchain to build. Though I'm not familiar of

[2020-04-30 10:00] SSE4 commented on #6927
as `clang-cl` mimics `cl.exe` (Microsoft C++ compiler), I believe `NMake` should be the best match generator. MinGW Makefiles isn't the best, as it requires GNU make, and Ninja requires ninja.exe (obviously).

[2020-04-30 10:03] jgsogo commented on #6930
Hi, @michaelmaguire

First of all, we are encouraging people to use `lockfiles` and the `conan graph` command to get a snapshot of a dependency graph and then `conan graph build-order` to compute the packages that are missing. The output is the same as the one from your command: a list of lists with the packages to build.

The inputs needed to run generate a lockfiles are:
 * the root of the graph

[2020-04-30 10:04] memsharded commented on #6810
@uilianries did reproduce in #6827 , indeed an issue.
Not easy to fix, we need to check what to do in different places that might be breaking: the manifests, the creation of .tgz from them, and how to handle failed uncompressions (for example hardlinks in tgz files will crash if tried to untar in Windows). Seems complex, sorry cannot make it for 1.25, lets see if we can for 1.26.

[2020-04-30 10:05] jgsogo commented on #6931
Thanks for reporting it. I think it should be easy to identify this error and provide a better message. Thanks!

[2020-04-30 10:18] Sebiee commented on #6925
Thank you @jgsogo!

The `conan graph` approach indeed seems helpful, but a little more complex. We're currently opened to small changes in our approach, so I don't think it will be implemented. Anyway it's good to know about this. Parallel build of missing dependencies sounds good.

For the moment, we're ok to wait and look forward for the next major version. Keep up the great work! 😊

[2020-04-30 10:32] fulara commented on #6900
@jgsogo
Is it possible to expand the implementation so that it has a check for whether are are on native linux?

It seems that if anyone wants to use this tool, that person will have to wrap it with an if statement:
Like madebr has done there:
https://github.com/conan-io/conan-center-index/pull/807/files

I think the problem here is with the implementation - it should be noop in linux, i can see a

[2020-04-30 10:34] fulara commented on #6900
@jgsogo  I have done search:
https://github.com/conan-io/conan-center-index/search?q=unix_path&unscoped_q=unix_path
All recipes that use unix_path without if statement checking for windows are *broken*!
and its just that in most cases you wouldnt have capital letters in their names.. so its not that common.

[2020-04-30 10:52] jgsogo commented on #6900
Yes, probably it is worth to follow your suggestion and make this tool a noop for `not OSInfo.is_windows`, wdyt @memsharded  @SSE4 ?

Can you think about any breaking scenario (given current documented behavior)?

[2020-04-30 11:05] fulara commented on #6900
@jgsogo  not enough knowledge of how it happens. but what I am thinking of is cross compiling.
if someone compiles from windows to linux -> would this work as expected:
[code]
(Expectation here is that target os matters not source os. )

[2020-04-30 11:10] jgsogo commented on #6900
But this tool should be used mostly in the `build()` step (configuring the build system and so on), at that moment Conan is running in the `build` machine (Windows) and not in the `host`. So, if we are cross-compiling we are running in "Windows"

[2020-04-30 11:11] fulara commented on #6900
Okay. its too hard to asses then whether the scenario will be correct or not :)

[2020-04-30 11:21] SSE4 commented on #6900
actually, this is more like a file-system requirement, not an OS requirement. so the proper fix maybe not that simple... e.g. on OSX, you may now format case-sensitive or case-insensitive OS, as well as on Windows there are ways to make the system case-sensitive.
in general, there might be more places which suffer from similar issue(s).

[2020-04-30 11:30] jgsogo commented on #6900
But regarding this tool, as it is intended for "Windows paths --> subsystem ones" it should do nothing for Unix and it will help to simplify some of the recipes that appear in the query search provided by fulara.

Maybe we should think about a better name for this tool, or maybe Conan should provide the paths (cpp_info.rootpath, libdirs, includirs,....) already converted to the OS system/subsystem

[2020-04-30 11:32] #6746 closed

[2020-04-30 11:40] fulara opened #6936 "[feature] Lockfiles - ability to 'specify' requirements version to be generated on command line."
This is a follow to my story described here: https://github.com/conan-io/conan/issues/6707#issuecomment-601443704

What I would like to request, is that you consider an ability to build `lockfile` with a specific requirements from user, based on existing lockfile.

Whats the use case:
We want freedom and full control of the depencies.
We achieve this right now by loading a version file dynamically

[2020-04-30 12:33] SSE4 commented on #6900
I agree, `unix_path` should be no-op on Unix-like systems
for Windows, however, there probably should be more logic around the `lower()` call, but that's another story

[2020-04-30 13:23] 0x8000-0000 opened #6938 "[bug] GCC9.3 not supported"
### Environment Details (include every applicable attribute)
  * Operating System+version:
Ubuntu 18.04
  * Compiler+version:
GCC9.3 (and GCC10 pre-release)
  * Conan version:
1.24.1
  * Python version:
Python 3.6.9

### Steps to reproduce (Include if Applicable)

[code]

### Logs (Executed commands with output) (Include/Attach if Applicable)

[code]

I presume I will have the same problem with GC

[2020-04-30 13:36] 0x8000-0000 commented on #6938
NVM, now I have read the last line of the error message.

[2020-04-30 13:36] #6938 closed, assigned to nobody

[2020-04-30 13:36] maddanio commented on #1233
+1
these files are just about never needed, so they should only be kept explicitly
what is the rationale for keeping them around?

[2020-04-30 14:27] #6900 closed, assigned to jgsogo

[2020-04-30 14:31] memsharded commented on #6938
Hi @0x8000-0000

Also, gcc 9.3 is already in the default settings. You should be getting it in a clean installation of Conan, or if you are upgrading Conan and didn't modify the settings yourself. Note the warning messages when you upgrade the Conan version about possible migrations/upgrade issues.

[2020-04-30 14:34] memsharded commented on #1233
The sources are needed if you are building any other variant/configuration of the package, and some sources take some time to download. Users requested to keep the source folder by default

The build folder can also be reused, for example if a ``build_id()`` is defined, because you can create different package binary configurations from the same build (e.g. a multi-build that creates debug and rel

[2020-04-30 14:35] djeverett opened #6939 "[feature] Access to command-line version in set_version()"
In `set_version()` we wish to only set `self.version` if it has not been explicitly set on the command-line.  However, there seems to get no way of accessing the value supplied on the command-line using Conan.  This would be useful to have.

- [x ] I've read the [CONTRIBUTING guide](https://github.com/conan-io/conan/blob/develop/.github/CONTRIBUTING.md).

[2020-04-30 14:52] djeverett commented on #6057
Any action on this?  It would be really useful to have this, and it is just a one line change to requirements.txt.

[2020-04-30 14:56] memsharded commented on #6939
Submitted a quick https://github.com/conan-io/conan/pull/6940 PR to check if everything else break if we change the order of evaluation of set_name() and set_version() to allow this.

[2020-04-30 15:01] memsharded commented on #6057
That is a different story, probably deserves another issue to suggest. Do you mean, you want to provide your own python logic to define what falls in a version range? This is basically what node-semver lib does, and it is not a straightforward thing, so this might be even a bigger pain to maintain for the users?

[2020-04-30 15:02] memsharded commented on #6057
Assigned to next 1.26. But we can't promise, this being pinned to a specific versions is a very bad sign, most likely upgrading will break things.

[2020-04-30 15:09] memsharded commented on #6057
Can you please try to force upgrade the ``pip install node-semver==0.8.0`` on your side, and check if everything works on your side, and you can use 4 digit versions with it?

[2020-04-30 15:19] peterwaller-arm commented on #6057
We're using node-semver==0.8.0 in prod, haven't encountered an issue with it. Upgrade appreciated!

[2020-04-30 15:49] maddanio commented on #1233
but wont these multi builds happen at the same time? afterwards it can go, no? I guess debugging can be useful, but should it be default? it very very quickly fills up space...
also I dont hink i will ever remember conan remove * -b -s -f, but conan cleanup, yes :)

[2020-04-30 17:10] memsharded commented on #1233
No, you don't know in advance. Multiple ``conan create`` can create different packages, without building them again because both the ``source`` and the ``build`` folders haven't been removed. Conan cannot know it, it depends on the internals of the build. So this needs to be an explicit user action.

[2020-04-30 17:33] fulara opened #6942 "[bug] unable to build packages with package_revision_mode enabled."
Conan crashing after enabled package_revision_mode and tried to rebuild all of our projects.
stacktrace attached.

### Environment Details (include every applicable attribute)
  * Operating System+version: rh7
  * Compiler+version: gcc8
  * Conan version: 1.24.0
  * Python version: 3.6.10

### Steps to reproduce (Include if Applicable)
Have a complex graph tree.
I dont have mve at the moment, but

[2020-04-30 17:47] memsharded commented on #6942
Checking the trace, I cannot see how a None gets there. Please keep us tuned if you can reproduce, and if not, I will try to provide a branch with some traces so you can run in your environment.

[2020-04-30 18:22] fulara commented on #6942
@memsharded its 100% reproducible for me, i just have to wait for full build ( we only upload at the end of the build ) so it takes ~25 imnutes to build.

Just checkd - same stacktrace, if you want me to drop somethig - np.
Actually I was thinking that I will have to postpone this migration.

[2020-04-30 18:37] prince-chrismc commented on #6876
@memsharded , It would be nice if you could take a few minutes when you have the time and share your thoughts on "editing recipes" with the Conan's API.

Thanks in advance.

[2020-04-30 22:38] solvingj commented on #5968
Thanks @DavidZemon , sorry for the delay. I hope to put my thoughts together about this tonight or tomorrow and get back to you.

[2020-05-01 00:46] shelper commented on #6899
I tried again using windows sandbox, basically a VM in windows, everything is the same, and in the sandbox Conan install works.....
I dont know what is missing in my host window :(